{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic1?api-version=2025-07-15-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "location": "westus2",
        "properties": {
          "inputSchema": "CloudEventSchemaV1_0"
        },
        "kind": "AzureArc",
        "extendedLocation": {
          "name": "/subscriptions/8f6b6269-84f2-4d09-9e31-1127efcd1e40/resourcegroups/examplerg/providers/Microsoft.ExtendedLocation/CustomLocations/exampleCustomLocation",
          "type": "CustomLocation"
        }
      },
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "LinkedAuthorizationFailed",
          "message": "The client has permission to perform action 'Microsoft.ExtendedLocation/customLocations/deploy/action' on scope '/subscriptions/azure_subscription_id/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic1', however the linked subscription '8f6b6269-84f2-4d09-9e31-1127efcd1e40' was not found. "
        }
      }
    }
  ],
  "Variables": {}
}
