{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Thu, 22 Jan 2026 02:08:57 GMT"
      },
      "RequestBody": {
        "id": "JobWithAutoComplete",
        "usesTaskDependencies": true,
        "poolInfo": {
          "poolId": "dummypool"
        },
        "onAllTasksComplete": "noaction",
        "onTaskFailure": "performexitoptionsjobaction"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/jobs/job-1",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE595B33CE9304",
        "Last-Modified": "Thu, 22 Jan 2026 02:08:57 GMT",
        "Location": "https://dummyaccount.eastus.batch.azure.com/jobs/job-1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/JobWithAutoComplete/tasks?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Thu, 22 Jan 2026 02:08:58 GMT"
      },
      "RequestBody": {
        "id": "TaskWithAutoComplete",
        "exitConditions": {
          "exitCodes": [
            {
              "code": 1,
              "exitOptions": {
                "jobAction": "none",
                "dependencyAction": "block"
              }
            }
          ],
          "default": {
            "jobAction": "terminate",
            "dependencyAction": "satisfy"
          }
        },
        "commandLine": "echo Hello World"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/jobs/JobWithAutoComplete/tasks/TaskWithAutoComplete",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE595B33E870D9",
        "Last-Modified": "Thu, 22 Jan 2026 02:08:58 GMT",
        "Location": "https://dummyaccount.eastus.batch.azure.com/jobs/JobWithAutoComplete/tasks/TaskWithAutoComplete"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/JobWithAutoComplete/tasks/TaskWithAutoComplete?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Thu, 22 Jan 2026 02:08:58 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE595B33E870D9",
        "Last-Modified": "Thu, 22 Jan 2026 02:08:58 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#tasks/@Element",
        "id": "TaskWithAutoComplete",
        "url": "https://dummyaccount.eastus.batch.azure.com/jobs/JobWithAutoComplete/tasks/TaskWithAutoComplete",
        "eTag": "0x8DE595B33E870D9",
        "creationTime": "2026-01-22T02:08:58.0956377Z",
        "lastModified": "2026-01-22T02:08:58.0956377Z",
        "state": "active",
        "stateTransitionTime": "2026-01-22T02:08:58.0956377Z",
        "commandLine": "echo Hello World",
        "userIdentity": {
          "autoUser": {
            "scope": "pool",
            "elevationLevel": "nonadmin"
          }
        },
        "exitConditions": {
          "exitCodes": [
            {
              "code": 1,
              "exitOptions": {
                "jobAction": "none",
                "dependencyAction": "block"
              }
            }
          ],
          "default": {
            "jobAction": "terminate",
            "dependencyAction": "satisfy"
          }
        },
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "retentionTime": "P7D",
          "maxTaskRetryCount": 0
        },
        "requiredSlots": 1,
        "executionInfo": {
          "retryCount": 0,
          "requeueCount": 0
        }
      }
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/JobWithAutoComplete?api-version=2025-06-01&force=true",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Thu, 22 Jan 2026 02:08:58 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/JobWithAutoComplete?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Thu, 22 Jan 2026 02:08:58 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element",
        "code": "JobNotFound",
        "message": {
          "lang": "en-US",
          "value": "The specified job does not exist.\nRequestId:a905d48c-d45b-4f23-a54b-966e340aef10\nTime:2026-01-22T02:08:58.6473331Z"
        }
      }
    }
  ],
  "Variables": {}
}
