{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basicfb54/tasks?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Wed, 04 Feb 2026 23:32:00 GMT"
      },
      "RequestBody": {
        "id": "jssdkJob-Basicfb54-task1",
        "commandLine": "cmd /c echo hello > taskHello.txt"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basicfb54/tasks/jssdkJob-Basicfb54-task1",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE6445985FF766",
        "Last-Modified": "Wed, 04 Feb 2026 23:32:00 GMT",
        "Location": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basicfb54/tasks/jssdkJob-Basicfb54-task1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basicfb54/tasks/jssdkJob-Basicfb54-task1?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Wed, 04 Feb 2026 23:32:00 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE6445985FF766",
        "Last-Modified": "Wed, 04 Feb 2026 23:32:00 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#tasks/@Element",
        "id": "jssdkJob-Basicfb54-task1",
        "url": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basicfb54/tasks/jssdkJob-Basicfb54-task1",
        "eTag": "0x8DE6445985FF766",
        "creationTime": "2026-02-04T23:32:00.513623Z",
        "lastModified": "2026-02-04T23:32:00.513623Z",
        "state": "active",
        "stateTransitionTime": "2026-02-04T23:32:00.513623Z",
        "commandLine": "cmd /c echo hello > taskHello.txt",
        "userIdentity": {
          "autoUser": {
            "scope": "pool",
            "elevationLevel": "nonadmin"
          }
        },
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "retentionTime": "P7D",
          "maxTaskRetryCount": 0
        },
        "requiredSlots": 1,
        "executionInfo": {
          "retryCount": 0,
          "requeueCount": 0
        }
      }
    }
  ],
  "Variables": {
    "JOB_NAME": "jssdkJob-Basicfb54",
    "TASK_NAME": "jssdkJob-Basicfb54-task1"
  }
}
