{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basic6b03/tasks/jssdkJob-Basic6b03-task2?api-version=2025-06-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Wed, 21 Jan 2026 20:18:49 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basic6b03/tasks/jssdkJob-Basic6b03-task2?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Wed, 21 Jan 2026 20:18:49 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element",
        "code": "TaskNotFound",
        "message": {
          "lang": "en-US",
          "value": "The specified task does not exist.\nRequestId:b50f88fb-a59a-4a2a-b4ec-1e597ef78281\nTime:2026-01-21T20:18:49.6400001Z"
        }
      }
    }
  ],
  "Variables": {
    "JOB_NAME": "jssdkJob-Basic6b03",
    "TASK2_NAME": "jssdkJob-Basic6b03-task2"
  }
}
