{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basicf5b2/tasks?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Wed, 21 Jan 2026 19:35:10 GMT"
      },
      "RequestBody": {
        "id": "TaskWithUserIdentity",
        "commandLine": "cmd /c net session >nul 2>&1",
        "userIdentity": {
          "username": "nonAdminUser"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basicf5b2/tasks/TaskWithUserIdentity",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE592430A31172",
        "Last-Modified": "Wed, 21 Jan 2026 19:35:10 GMT",
        "Location": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basicf5b2/tasks/TaskWithUserIdentity"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basicf5b2/tasks/TaskWithUserIdentity?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Wed, 21 Jan 2026 19:35:10 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE592430A31172",
        "Last-Modified": "Wed, 21 Jan 2026 19:35:10 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#tasks/@Element",
        "id": "TaskWithUserIdentity",
        "url": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basicf5b2/tasks/TaskWithUserIdentity",
        "eTag": "0x8DE592430A31172",
        "creationTime": "2026-01-21T19:35:10.2877042Z",
        "lastModified": "2026-01-21T19:35:10.2877042Z",
        "state": "active",
        "stateTransitionTime": "2026-01-21T19:35:10.2877042Z",
        "commandLine": "cmd /c net session >nul 2>&1",
        "userIdentity": {
          "username": "nonAdminUser"
        },
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "retentionTime": "P7D",
          "maxTaskRetryCount": 0
        },
        "requiredSlots": 1,
        "executionInfo": {
          "retryCount": 0,
          "requeueCount": 0
        }
      }
    },
[...]
