{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/backupRestoreKeyName-canrecoveradeletedkey-/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/backupRestoreKeyName-canrecoveradeletedkey-/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/backupRestoreKeyName-canrecoveradeletedkey-/859fc6eefe7e435a8d4af7329f132fba",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tSQmVOMphVIQH9l4SLlLRJBogqW0nd3uYRvMLBxJ-4s34MJBh8szBeJnRUpvxvEMm6eKk1kHg1p7oCcC9yg-F4WlNkz1z3QcqWFpMgSpLcPYr8CeH_fHbs_y3qrJm5U_xJG0UBnr3V78hymhQhQq6JMy2kqRxpGqFjE4hRhqsV0Zkna2QFUHZcrZ9y6Vl0uZtQlR49WnDAAAYrQOWrtLJs3IqvJbVxNzrVNHD1Yud52fFeU5FNA7erH8LKGpoxzdGtBAU9jigYkvu2y4ACAReuf3we1dGXAHb5xdxFB2hSEg6AyLCXTdjaVWRFFqUw0Ox89aoF9lEwHVQLDEnpoSOQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1782132203,
          "updated": 1782132203,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/backupRestoreKeyName-canrecoveradeletedkey-?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/backupRestoreKeyName-canrecoveradeletedkey-",
        "deletedDate": 1782132203,
        "scheduledPurgeDate": 1782737003,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/backupRestoreKeyName-canrecoveradeletedkey-/859fc6eefe7e435a8d4af7329f132fba",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tSQmVOMphVIQH9l4SLlLRJBogqW0nd3uYRvMLBxJ-4s34MJBh8szBeJnRUpvxvEMm6eKk1kHg1p7oCcC9yg-F4WlNkz1z3QcqWFpMgSpLcPYr8CeH_fHbs_y3qrJm5U_xJG0UBnr3V78hymhQhQq6JMy2kqRxpGqFjE4hRhqsV0Zkna2QFUHZcrZ9y6Vl0uZtQlR49WnDAAAYrQOWrtLJs3IqvJbVxNzrVNHD1Yud52fFeU5FNA7erH8LKGpoxzdGtBAU9jigYkvu2y4ACAReuf3we1dGXAHb5xdxFB2hSEg6AyLCXTdjaVWRFFqUw0Ox89aoF9lEwHVQLDEnpoSOQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1782132203,
          "updated": 1782132203,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/backupRestoreKeyName-canrecoveradeletedkey-?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: backupRestoreKeyName-canrecoveradeletedkey-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/backupRestoreKeyName-canrecoveradeletedkey-/?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) backupRestoreKeyName-canrecoveradeletedkey- was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/backupRestoreKeyName-canrecoveradeletedkey-/recover?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.[...]
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/backupRestoreKeyName-canrecoveradeletedkey-?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
