{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/backupRestoreKeyName-canrecoveradeletedkey-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/backupRestoreKeyName-canrecoveradeletedkey-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/backupRestoreKeyName-canrecoveradeletedkey-/655f40dc85674a18b725bd0111846491",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "p43UdkUKtiGvjMRet4zY5itM4gGQduHHpUeovzjL0PdhRzE5QLlSJYh4EqYKqHslGc8rNcSmSuWovFYRRWhJKh4_07NBuApDwjPVnF5iCvM65_tZP2dYMA8R-1Z-YgRGop2YLpy3lg4_oPHg-Z1_5EBXGTDrQwhyRaSez9s5hoTjbsbkIAaynJ6QuGOeGDj_8-aBHqOaK3JVzETldtfMikLXI40bh10kH_-4WYHbAzOzk-FFVcrEs2uIGhk0mq3gfCMjWYjvQBw71qnycJJh06sf9Pce4pjRZSX19nsYi3MJ2MoH6yQaklA_76VlNZSZYOjXO4wfq0nbHBhrn9zfbQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777051135,
          "updated": 1777051135,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/backupRestoreKeyName-canrecoveradeletedkey-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/backupRestoreKeyName-canrecoveradeletedkey-",
        "deletedDate": 1777051135,
        "scheduledPurgeDate": 1777655935,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/backupRestoreKeyName-canrecoveradeletedkey-/655f40dc85674a18b725bd0111846491",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "p43UdkUKtiGvjMRet4zY5itM4gGQduHHpUeovzjL0PdhRzE5QLlSJYh4EqYKqHslGc8rNcSmSuWovFYRRWhJKh4_07NBuApDwjPVnF5iCvM65_tZP2dYMA8R-1Z-YgRGop2YLpy3lg4_oPHg-Z1_5EBXGTDrQwhyRaSez9s5hoTjbsbkIAaynJ6QuGOeGDj_8-aBHqOaK3JVzETldtfMikLXI40bh10kH_-4WYHbAzOzk-FFVcrEs2uIGhk0mq3gfCMjWYjvQBw71qnycJJh06sf9Pce4pjRZSX19nsYi3MJ2MoH6yQaklA_76VlNZSZYOjXO4wfq0nbHBhrn9zfbQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777051135,
          "updated": 1777051135,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/backupRestoreKeyName-canrecoveradeletedkey-?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: backupRestoreKeyName-canrecoveradeletedkey-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/backupRestoreKeyName-canrecoveradeletedkey-/?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) backupRestoreKeyName-canrecoveradeletedkey- was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/backupRestoreKeyName-canrecoveradeletedkey-/recover?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/backupRestoreKeyName-canrecoveradeletedkey-/655f40dc85674a18b725bd0111846491",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "p43UdkUKtiGvjMRet4zY5itM4gGQduHHpUeovzjL0PdhRzE5QLlSJYh4EqYKqHslGc8rNcSmSuWovFYRRWhJKh4_07NBuApDwjPVnF5iCvM65_tZP2dYMA8R-1Z-YgRGop2YLpy3lg4_oPHg-Z1_5EBXGTDrQwhyRaSez9s5hoTjbsbkIAaynJ6QuGOeGDj_8-aBHqOaK3JVzETldtfMikLXI40bh10kH_-4WYHbAzOzk-FFVcrEs2uIGhk0mq3gfCMjWYjvQBw71qnycJJh06sf9Pce4pjRZSX19nsYi3MJ2MoH6yQaklA_76VlNZSZYOjXO4wfq0nbHBhrn9zfbQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777051135,
          "updated": 1777051135,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/backupRestoreKeyName-canrecoveradeletedkey-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
