{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/backupRestoreKeyName-canrecoveradeletedkey-/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/backupRestoreKeyName-canrecoveradeletedkey-/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/backupRestoreKeyName-canrecoveradeletedkey-/770e97d25e61466097df0c86b2a490e9",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "lqoiRN1w3FK3QGeXzamPnEjqAwI2PL3hw0LK820aj2zjZh2uI6osJ_kkiv-gvtq1D_WXZ6T5Iri39j7BOnama1qTzzPpDAvhHSZg1uZeMt7EDLderJBgot6n-5YzEFdqa33Y1dnv8-aCpZ4zvO3vVT37gsZXGQ3iCijH8PB1f88n1cl1B_0jexC6oaRfDoP5fbxqyHVS0O1Bz0gJXxk82cYCXKSAdWbZPMcjy0vC0SFO7a3YYj0fLDYp9XlDuPqiG76JIb2Wo6j_GvHxT1nYzuR828T8K9ay6IT7wkYzepB_7mOCRPTEKL98bzhiRNh6VRqKre96J1CkuVucCPEYvQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1732063033,
          "updated": 1732063033,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/backupRestoreKeyName-canrecoveradeletedkey-?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/backupRestoreKeyName-canrecoveradeletedkey-",
        "deletedDate": 1732063033,
        "scheduledPurgeDate": 1732667833,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/backupRestoreKeyName-canrecoveradeletedkey-/770e97d25e61466097df0c86b2a490e9",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "lqoiRN1w3FK3QGeXzamPnEjqAwI2PL3hw0LK820aj2zjZh2uI6osJ_kkiv-gvtq1D_WXZ6T5Iri39j7BOnama1qTzzPpDAvhHSZg1uZeMt7EDLderJBgot6n-5YzEFdqa33Y1dnv8-aCpZ4zvO3vVT37gsZXGQ3iCijH8PB1f88n1cl1B_0jexC6oaRfDoP5fbxqyHVS0O1Bz0gJXxk82cYCXKSAdWbZPMcjy0vC0SFO7a3YYj0fLDYp9XlDuPqiG76JIb2Wo6j_GvHxT1nYzuR828T8K9ay6IT7wkYzepB_7mOCRPTEKL98bzhiRNh6VRqKre96J1CkuVucCPEYvQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1732063033,
          "updated": 1732063033,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/backupRestoreKeyName-canrecoveradeletedkey-?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: backupRestoreKeyName-canrecoveradeletedkey-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/backupRestoreKeyName-canrecoveradeletedkey-/?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) backupRestoreKeyName-canrecoveradeletedkey- was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/backupRestoreKeyName-canrecoveradeletedkey-/recover?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/backupRestoreKeyName-canrecoveradeletedkey-/770e97d25e61466097df0c86b2a490e9",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "lqoiRN1w3FK3QGeXzamPnEjqAwI2PL3hw0LK820aj2zjZh2uI6osJ_kkiv-gvtq1D_WXZ6T5Iri39j7BOnama1qTzzPpDAvhHSZg1uZeMt7EDLderJBgot6n-5YzEFdqa33Y1dnv8-aCpZ4zvO3vVT37gsZXGQ3iCijH8PB1f88n1cl1B_0jexC6oaRfDoP5fbxqyHVS0O1Bz0gJXxk82cYCXKSAdWbZPMcjy0vC0SFO7a3YYj0fLDYp9XlDuPqiG76JIb2Wo6j_GvHxT1nYzuR828T8K9ay6IT7wkYzepB_7mOCRPTEKL98bzhiRNh6VRqKre96J1CkuVucCPEYvQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1732063033,
          "updated": 1732063033,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/backupRestoreKeyName-canrecoveradeletedkey-?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
