{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Rg_Lwm/providers/Microsoft.Web/sites/sitelwm01/slots/slotsitelwm01/hybridConnectionRelays?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Rg_Lwm/providers/Microsoft.Web/sites/sitelwm01/slots/slotsitelwm01/hybridConnectionNamespaces/testbusnamespace02/relays/testhybridconnection01",
            "name": "testhybridconnection01",
            "type": "Microsoft.Web/sites/hybridConnectionNamespaces/relays",
            "location": "East US",
            "properties": {
              "serviceBusNamespace": "testbusnamespace02",
              "relayName": "testhybridconnection01",
              "relayArmUri": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Rg_Lwm/providers/Microsoft.Relay/namespaces/testbusnamespace02/HybridConnections/testhybridconnection01",
              "hostname": "testserver415",
              "port": 3222,
              "sendKeyName": "defaultSender",
              "sendKeyValue": "",
              "serviceBusSuffix": ".servicebus.windows.net"
            }
          },
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Rg_Lwm/providers/Microsoft.Web/sites/sitelwm01/slots/slotsitelwm01/hybridConnectionNamespaces/testbusnamespace04/relays/testhybridconnection02",
            "name": "testhybridconnection02",
            "type": "Microsoft.Web/sites/hybridConnectionNamespaces/relays",
            "location": "East US",
            "properties": {
              "serviceBusNamespace": "testbusnamespace04",
              "relayName": "testhybridconnection02",
              "relayArmUri": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Rg_Lwm/providers/Microsoft.Relay/namespaces/testbusnamespace04/HybridConnections/testhybridconnection02",
              "hostname": "testserver416",
              "port": 3223,
              "sendKeyName": "defaultSender",
              "sendKeyValue": "",
              "serviceBusSuffix": ".servicebus.windows.net"
            }
          }
        ],
        "nextLink": null,
        "id": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "CLIENT_ID": "a0124637-d34e-4d32-a623-9f47f054f162",
    "RandomSeed": "1460419458",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}
