{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/Rg_Lwm?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Rg_Lwm",
        "name": "Rg_Lwm",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Rg_Lwm/providers/Microsoft.Web/sites/sitelwm01?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\"1DAA4FD092023B5\"",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Rg_Lwm/providers/Microsoft.Web/sites/sitelwm01",
        "name": "sitelwm01",
        "type": "Microsoft.Web/sites",
        "kind": "app",
        "location": "East US",
        "properties": {
          "name": "sitelwm01",
          "state": "Running",
          "hostNames": [
            "sitelwm01.azurewebsites.net"
          ],
          "webSpace": "Rg_Lwm-EastUSwebspace",
          "selfLink": "https://waws-prod-blu-319.api.azurewebsites.windows.net:454/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/webspaces/Rg_Lwm-EastUSwebspace/sites/sitelwm01",
          "repositorySiteName": "sitelwm01",
          "owner": null,
          "usageState": "Normal",
          "enabled": true,
          "adminEnabled": true,
          "afdEnabled": false,
          "enabledHostNames": [
            "sitelwm01.azurewebsites.net",
            "sitelwm01.scm.azurewebsites.net"
          ],
          "siteProperties": {
            "metadata": null,
            "properties": [
              {
                "name": "LinuxFxVersion",
                "value": ""
              },
              {
                "name": "WindowsFxVersion",
                "value": null
              }
            ],
            "appSettings": null
          },
          "availabilityState": "Normal",
          "sslCertificates": null,
          "csrs": [],
          "cers": null,
          "siteMode": null,
          "hostNameSslStates": [
            {
              "name": "sitelwm01.azurewebsites.net",
              "sslState": "Disabled",
              "ipBasedSslResult": null,
              "virtualIP": null,
              "virtualIPv6": null,
              "thumbprint": null,
              "certificateResourceId": null,
              "toUpdate": null,
              "toUpdateIpBasedSsl": null,
              "ipBasedSslState": "NotConfigured",
              "hostType": "Standard"
            },
            {
              "name": "sitelwm01.scm.azurewebsites.net",
              "sslState": "Disabled",
              "ipBasedSslResult": null,
              "virtualIP": null,
              "virtualIPv6": null,
              "thumbprint": null,
              "certificateResourceId": null,
              "toUpdate": null,
              "toUpdateIpBasedSsl": null,
              "ipBasedSslState": "NotConfigured",
              "hostType": "Repository"
            }
          ],
          "computeMode": null,
          "serverFarm": null,
          "serverFarmId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Rg_Lwm/providers/Microsoft.Web/serverfarms/ASP-RgLwm-8ac6",
          "reserved": false,
          "isXenon": false,
          "hyperV": false,
          "lastModifiedTimeUtc": "2024-05-13T06:16:04.7633333",
          "storageRecoveryDefaultState": "Running",
          "contentAvailabilityState": "Normal",
          "runtimeAvailabilityState": "Normal",
          "dnsConfiguration": {},
          "vnetRouteAllEnabled": false,
          "containerAllocationSubnet": null,
          "useContainerLocalhostBindings": null,
          "vnetImagePullEnabled": false,
          "vnetContentShareEnabled": false,
          "siteConfig": {
            "numberOfWorkers": 1,
            "defaultDocuments": null,
            "netFrameworkVersion": null,
            "phpVersion": null,
            "pythonVersion": null,
            "nodeVersion": null,
            "powerShellVersion": null,
            "linuxFxVersion": "",
            "windowsFxVersion": null,
            "windowsConfiguredStacks": null,
            "requestTracingEnabled": null,
            "remoteDebuggingEnabled": null,
            "remoteDebuggingVersion": null,
            "httpLoggingEnabled": null,
            "azureMonitorLogCategories": null,
            "acrUseManagedIdentityCreds": false,
            "acrUserManagedIdentityID": null,
            "logsDirectorySizeLimit": null,
            "detailedErrorLoggingEnabled": null,
            "publishingUsername": null,
            "publishingPassword": null,
            "appSettings": null,
            "metadata": null,
            "connectionStrings": null,
            "machineKey": null,
            "handlerMappings": null,
            "documentRoot": null,
            "scmType": null,
            "use32BitWorkerProcess": null,
            "webSocketsEnabled": null,
            "alwaysOn": true,
            "javaVersion": null,
            "javaContainer": null,
            "javaContainerVersion": null,
            "appCommandLine": null,
            "managedPipelineMode": null,
            "virtualApplications": null,
            "winAuthAdminState": null,
            "winAuthTenantState": null,
            "customAppPoolIdentityAdminState": null,
            "customAppPoolIdentityTenantState": null,
            "runtimeADUser": null,
            "runtimeADUserPassword": null,
            "loadBalancing": null,
            "routingRules": null,
            "experiments": null,
            "limits": null,
            "autoHealEnabled": null,
            "autoHealRules": null,
            "tracingOptions": null,
            "vnetName": null,
            "vnetRouteAllEnabled": null,
            "vnetPrivatePortsCount": null,
            "publicNetworkAccess": null,
            "cors": null,
            "push": null,
            "apiDefinition": null,
            "apiManagementConfig": null,
            "autoSwapSlotName": null,
            "localMySqlEnabled": null,
            "managedServiceIdentityId": null,
            "xManagedServiceIdentityId": null,
            "keyVaultReferenceIdentity": null,
            "ipSecurityRestrictions": null,
            "ipSecurityRestrictionsDefaultAction": null,
            "scmIpSecurityRestrictions": null,
            "scmIpSecurityRestrictionsDefaultAction": null,
            "scmIpSecurityRestrictionsUseMain": null,
            "http20Enabled": false,
            "minTlsVersion": null,
            "minTlsCipherSuite": null,
            "supportedTlsCipherSuites": null,
            "scmMinTlsVersion": null,
            "ftpsState": null,
            "preWarmedInstanceCount": null,
            "functionAppScaleLimit": 0,
            "elasticWebAppScaleLimit": null,
            "healthCheckPath": null,
            "fileChangeAuditEnabled": null,
            "functionsRuntimeScaleMonitoringEnabled": null,
            "websiteTimeZone": null,
            "minimumElasticInstanceCount": 0,
            "azureStorageAccounts": null,
            "http20ProxyFlag": null,
            "sitePort": null,
            "antivirusScanEnabled": null,
            "storageType": null,
            "sitePrivateLinkHostEnabled": null,
            "clusteringEnabled": false
          },
          "functionAppConfig": null,
          "daprConfig": null,
          "deploymentId": "sitelwm01",
          "slotName": null,
          "trafficManagerHostNames": null,
          "sku": "Standard",
          "scmSiteAlsoStopped": false,
          "targetSwapSlot": null,
          "hostingEnvironment": null,
          "hostingEnvironmentProfile": null,
          "clientAffinityEnabled": true,
          "clientCertEnabled": false,
          "clientCertMode": "Required",
          "clientCertExclusionPaths": null,
          "hostNamesDisabled": false,
          "ipMode": "IPv4",
          "vnetBackupRestoreEnabled": false,
          "domainVerificationIdentifiers": null,
          "customDomainVerificationId": "B2B26A95110144FA7D61C7F11182785CA097CEE09243353FC8B6B68E6270D88A",
          "kind": "app",
          "managedEnvironmentId": null,
          "workloadProfileName": null,
          "resourceConfig": null,
          "inboundIpAddress": "20.119.0.3",
          "possibleInboundIpAddresses": "20.119.0.3",
          "ftpUsername": "sitelwm01\\$sitelwm01",
          "ftpsHostName": "ftps://waws-prod-blu-319.ftp.azurewebsites.windows.net/site/wwwroot",
          "outboundIpAddresses": "20.85.152.98,20.85.158.54,20.85.153.79,20.85.159.184,20.85.159.191,20.85.159.195,20.119.0.3",
          "possibleOutboundIpAddresses": "20.85.152.98,20.85.158.54,20.85.153.79,20.85.159.184,20.85.159.191,20.85.159.195,20.85.156.78,20.85.159.203,20.85.159.251,20.121.168.18,20.121.168.37,20.85.156.8,20.121.168.46,20.121.168.65,20.121.168.83,20.121.168.92,20.121.168.113,20.121.168.255,20.121.169.13,20.121.169.38,20.121.169.55,20.121.169.65,20.121.169.66,20.121.169.71,20.85.158.91,20.121.169.84,20.85.159.237,20.85.158.95,20.121.168.29,20.121.168.55,20.119.0.3",
          "containerSize": 0,
          "dailyMemoryTimeQuota": 0,
          "suspendedTill": null,
          "siteDisabledReason": 0,
          "functionExecutionUnitsCache": null,
          "maxNumberOfWorkers": null,
          "homeStamp": "waws-prod-blu-319",
          "cloningInfo": null,
          "hostingEnvironmentId": null,
          "tags": null,
          "resourceGroup": "Sanitized",
          "defaultHostName": "sitelwm01.azurewebsites.net",
          "slotSwapStatus": null,
          "httpsOnly": true,
          "endToEndEncryptionEnabled": false,
          "functionsRuntimeAdminIsolationEnabled": false,
          "redundancyMode": "None",
          "inProgressOperationId": null,
          "geoDistributions": null,
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled",
          "buildVersion": null,
          "targetBuildVersion": null,
          "migrationState": null,
          "eligibleLogCategories": "AppServiceAppLogs,AppServiceAuditLogs,AppServiceConsoleLogs,AppServiceHTTPLogs,AppServiceIPSecAuditLogs,AppServicePlatformLogs,ScanLogs,AppServiceAuthenticationLogs",
          "inFlightFeatures": [
            "SiteContainers"
          ],
          "storageAccountRequired": false,
          "virtualNetworkSubnetId": null,
          "keyVaultReferenceIdentity": "SystemAssigned",
          "autoGeneratedDomainNameLabelScope": null,
          "defaultHostNameScope": "Global",
          "privateLinkIdentifiers": null,
          "sshEnabled": null
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Rg_Lwm/providers/Microsoft.Web/sites/sitelwm01/hybridConnectionRelays?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Rg_Lwm/providers/Microsoft.Web/sites/sitelwm01/hybridConnectionNamespaces/testbusnamespace04/relays/aaabbb",
            "name": "aaabbb",
            "type": "Microsoft.Web/sites/hybridConnectionNamespaces/relays",
            "location": "East US",
            "properties": {
              "serviceBusNamespace": "testbusnamespace04",
              "relayName": "aaabbb",
              "relayArmUri": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/rg_lwm/providers/Microsoft.Relay/namespaces/testbusnamespace04/HybridConnections/aaabbb",
              "hostname": "bbb",
              "port": 3223,
              "sendKeyName": "defaultSender",
              "sendKeyValue": "",
              "serviceBusSuffix": ".servicebus.windows.net"
            }
          },
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Rg_Lwm/providers/Microsoft.Web/sites/sitelwm01/hybridConnectionNamespaces/sitelwm01/relays/aaabbb2",
            "name": "aaabbb2",
            "type": "Microsoft.Web/sites/hybridConnectionNamespaces/relays",
            "location": "East US",
            "properties": {
              "serviceBusNamespace": "sitelwm01",
              "relayName": "aaabbb2",
              "relayArmUri": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/rg_lwm/providers/Microsoft.Relay/namespaces/sitelwm01/HybridConnections/aaabbb2",
              "hostname": "bbb",
              "port": 3224,
              "sendKeyName": "defaultSender",
              "sendKeyValue": "",
              "serviceBusSuffix": ".servicebus.windows.net"
            }
          }
        ],
        "nextLink": null,
        "id": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "CLIENT_ID": "a0124637-d34e-4d32-a623-9f47f054f162",
    "RandomSeed": "2105903814",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}