{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/cryptography-client-test/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/cryptography-client-test/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "AES",
        "key_size": 256,
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "58"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1732063042,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1732063042
        },
        "key": {
          "key_ops": [
            "deriveKey",
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://azure_managedhsm.managedhsm.azure.net/keys/cryptography-client-test/0e2597e6bff9065e23df0e0070742dfe",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/cryptography-client-test/0e2597e6bff9065e23df0e0070742dfe?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-build-version": "1.0.20240916-1-fbc2019b-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": "OK"
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/cryptography-client-test/0e2597e6bff9065e23df0e0070742dfe/encrypt?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A256CBCPAD",
        "value": "ZW5jcnlwdHMgYW5kIGRlY3J5cHRzIHVzaW5nIEFFUy1DQkM",
        "iv": "eHh4eHh4eHh4eHh4eHh4eA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "A256CBCPAD",
        "iv": "eHh4eHh4eHh4eHh4eHh4eA",
        "kid": "https://azure_managedhsm.managedhsm.azure.net/keys/cryptography-client-test/0e2597e6bff9065e23df0e0070742dfe",
        "value": "H-01TqpSK6SVZLrAUpvzCc4pZv1rCcdiSB_YJmyMm6t8PKCBCAIVge4jOmy4e9jZ"
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/cryptography-client-test/0e2597e6bff9065e23df0e0070742dfe/decrypt?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A256CBCPAD",
        "value": "H-01TqpSK6SVZLrAUpvzCc4pZv1rCcdiSB_YJmyMm6t8PKCBCAIVge4jOmy4e9jZ",
        "iv": "eHh4eHh4eHh4eHh4eHh4eA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "A256CBCPAD",
        "kid": "https://azure_managedhsm.managedhsm.azure.net/keys/cryptography-client-test/0e2597e6bff9065e23df0e0070742dfe",
        "value": "ZW5jcnlwdHMgYW5kIGRlY3J5cHRzIHVzaW5nIEFFUy1DQkM"
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/cryptography-client-test?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "24"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1732063042,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1732063042
        },
        "deletedDate": 1732063045,
        "key": {
          "key_ops": [
            "deriveKey",
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "verify",
            "sign"
          ],
          "kid": "https://azure_managedhsm.managedhsm.azure.net/keys/cryptography-client-test/0e2597e6bff9065e23df0e0070742dfe",
          "kty": "oct-HSM"
        },
        "recoveryId": "https://azure_managedhsm.managedhsm.azure.net/deletedkeys/cryptography-client-test",
        "scheduledPurgeDate": 1732667845
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys/cryptography-client-test?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240916-1-fbc2019b-develop",
        "x-ms-server-latency": "5"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1732063042,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1732063042
        },
        "deletedDate": 1732063045,
        "key": {
          "key_ops": [
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify",
            "wrapKey",
            "deriveKey"
          ],
          "kid": "https://azure_managedhsm.managedhsm.azure.net/keys/cryptography-client-test/0e2597e6bff9065e23df0e0070742dfe",
          "kty": "oct-HSM"
        },
        "recoveryId": "https://azure_managedhsm.managedhsm.azure.net/deletedkeys/cryptography-client-test",
        "scheduledPurgeDate": 1732667845
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys/cryptography-client-test?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "31"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
