{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/cryptography-client-test/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/cryptography-client-test/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "AES",
        "key_size": 256,
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "55"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1732063033,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1732063033
        },
        "key": {
          "key_ops": [
            "deriveKey",
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://azure_managedhsm.managedhsm.azure.net/keys/cryptography-client-test/e521378ae61349e7b7dcf8e1f65a1200",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/cryptography-client-test/e521378ae61349e7b7dcf8e1f65a1200?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-build-version": "1.0.20240916-1-fbc2019b-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": "OK"
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/cryptography-client-test/e521378ae61349e7b7dcf8e1f65a1200/encrypt?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A256GCM",
        "value": "ZW5jcnlwdHMgYW5kIGRlY3J5cHRzIHVzaW5nIEFFUy1HQ00"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "A256GCM",
        "iv": "Sz6S4LO3ZDQxAqYB",
        "kid": "https://azure_managedhsm.managedhsm.azure.net/keys/cryptography-client-test/e521378ae61349e7b7dcf8e1f65a1200",
        "tag": "vk4lSDjlS1fdwxKAeytY7Q",
        "value": "XZl1PfeTKHFh1H5kLhD0drHfQTTLsBBp4gWID6DS7U3Gywo"
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/cryptography-client-test/e521378ae61349e7b7dcf8e1f65a1200/decrypt?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A256GCM",
        "value": "XZl1PfeTKHFh1H5kLhD0drHfQTTLsBBp4gWID6DS7U3Gywo",
        "iv": "Sz6S4LO3ZDQxAqYB",
        "tag": "vk4lSDjlS1fdwxKAeytY7Q"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "A256GCM",
        "kid": "https://azure_managedhsm.managedhsm.azure.net/keys/cryptography-client-test/e521378ae61349e7b7dcf8e1f65a1200",
        "value": "ZW5jcnlwdHMgYW5kIGRlY3J5cHRzIHVzaW5nIEFFUy1HQ00"
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/cryptography-client-test?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "23"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1732063033,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1732063033
        },
        "deletedDate": 1732063037,
        "key": {
          "key_ops": [
            "deriveKey",
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "verify",
            "sign"
          ],
          "kid": "https://azure_managedhsm.managedhsm.azure.net/keys/cryptography-client-test/e521378ae61349e7b7dcf8e1f65a1200",
          "kty": "oct-HSM"
        },
        "recoveryId": "https://azure_managedhsm.managedhsm.azure.net/deletedkeys/cryptography-client-test",
        "scheduledPurgeDate": 1732667837
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys/cryptography-client-test?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240916-1-fbc2019b-develop",
        "x-ms-server-latency": "4"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1732063033,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1732063033
        },
        "deletedDate": 1732063037,
        "key": {
          "key_ops": [
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify",
            "wrapKey",
            "deriveKey"
          ],
          "kid": "https://azure_managedhsm.managedhsm.azure.net/keys/cryptography-client-test/e521378ae61349e7b7dcf8e1f65a1200",
          "kty": "oct-HSM"
        },
        "recoveryId": "https://azure_managedhsm.managedhsm.azure.net/deletedkeys/cryptography-client-test",
        "scheduledPurgeDate": 1732667837
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys/cryptography-client-test?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "26"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
