{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/cryptography-client-test/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/cryptography-client-test/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "AES",
        "key_size": 256,
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "50"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1782207646,
          "enabled": true,
          "exportable": false,
          "key_size": 256,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1782207646
        },
        "key": {
          "key_ops": [
            "deriveKey",
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://azure_managedhsm.managedhsm.azure.net/keys/cryptography-client-test/5f51a44ed5a646d084f18b3894de9005",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/cryptography-client-test/5f51a44ed5a646d084f18b3894de9005?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-build-version": "1.0.20260505-1-b95d5630-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": "OK"
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/cryptography-client-test/5f51a44ed5a646d084f18b3894de9005/encrypt?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A256CBCPAD",
        "value": "ZW5jcnlwdHMgYW5kIGRlY3J5cHRzIHVzaW5nIEFFUy1DQkM",
        "iv": "eHh4eHh4eHh4eHh4eHh4eA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "alg": "A256CBCPAD",
        "iv": "eHh4eHh4eHh4eHh4eHh4eA",
        "kid": "https://azure_managedhsm.managedhsm.azure.net/keys/cryptography-client-test/5f51a44ed5a646d084f18b3894de9005",
        "value": "Innsm9F8A7FmMIB7oEQHRJxjXSDtQwsjVb3p-AW-iwhkCyCSeoc6tN37wr44miBz"
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/cryptography-client-test/5f51a44ed5a646d084f18b3894de9005/decrypt?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A256CBCPAD",
        "value": "Innsm9F8A7FmMIB7oEQHRJxjXSDtQwsjVb3p-AW-iwhkCyCSeoc6tN37wr44miBz",
        "iv": "eHh4eHh4eHh4eHh4eHh4eA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "A256CBCPAD",
        "kid": "https://azure_managedhsm.managedhsm.azure.net/keys/cryptography-client-test/5f51a44ed5a646d084f18b3894de9005",
        "value": "ZW5jcnlwdHMgYW5kIGRlY3J5cHRzIHVzaW5nIEFFUy1DQkM"
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/cryptography-client-test?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "23"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1782207646,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1782207646
        },
        "deletedDate": 1782207651,
        "key": {
          "key_ops": [
            "deriveKey",
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "verify",
            "sign"
          ],
          "kid": "https://azure_managedhsm.managedhsm.azure.net/keys/cryptography-client-test/5f51a44ed5a646d084f18b3894de9005",
          "kty": "oct-HSM"
        },
        "recoveryId": "https://azure_managedhsm.managedhsm.azure.net/deletedkeys/cryptography-client-test",
        "scheduledPurgeDate": 1782812451
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys/cryptography-client-test?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260505-1-b95d5630-develop",
        "x-ms-server-latency": "530"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1782207646,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1782207646
        },
        "deletedDate": 1782207651,
        "key": {
          "key_ops": [
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify",
            "wrapKey",
            "deriveKey"
          ],
          "kid": "https://azure_managedhsm.managedhsm.azure.net/keys/cryptography-client-test/5f51a44ed5a646d084f18b3894de9005",
          "kty": "oct-HSM"
        },
        "recoveryId": "https://azure_managedhsm.managedhsm.azure.net/deletedkeys/cryptography-client-test",
        "scheduledPurgeDate": 1782812451
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys/cryptography-client-test?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "26"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
