{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS256-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS256-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-RS256-/1462f26196904cbabbb03aa62adbe709",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "6UpbPhUh4F6kyMHeaUCfiPGWuasAR3K1-RUiYR0knfMhkMTPet25W-_46WyYB79W5TwYy6HA0ymCXp1GQHHu7sf_emwhOyzeVfjOPovKp-q2cYbbUB-OUB1FKpOL6q0hE0QTgSYjldW-NuIZyMLgjTmkOukG07x4x05CxLfM91hlmQi7HnkJ_GPodx9I2a-WSUhaDVvI6riuYC19kkyQlyrZTkAJ8mO_r1Ju6aSQvCKz5DDXBsgVREZmtWHgjCDtqMeLmTS7LTYQ5TasOgB9eYABrOGKCLkCl3I18Ep9xIUTBoh0oOpcaB-283Ijwkzw4kiOCfX4YG6VIP13bNIGrQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778515997,
          "updated": 1778515997,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS256-/1462f26196904cbabbb03aa62adbe709?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS256-/1462f26196904cbabbb03aa62adbe709/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "criF2FM29rTvc7HfcSXvj0FuY6ANYWeustyqw-LOFEY"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-RS256-/1462f26196904cbabbb03aa62adbe709",
        "value": "jJbWBjMPNS0sbgaob6vrES2slkIxghhG6kj5aBr_8G6eIBFjCpCXw8hX4DebuPNlA5mY1-Ej-ghVVBbCerEBNvzMmNleG1JSHIoi2reRjG9AxMJ2-p2Ypvq6nHY5Ct_SgC4kOiZH7kwAJzWhzhDWbon4kTq8uXvnZXIZ63TdXBsRpSlLiLzsRUUeZ7XI0LRYsiKmqAxo_kB44Qt3jbcjY24I15Bd-esUixK3cNDmW1x2Nk68K13t_pSPi_bDcVNwuei73-iodSLIH_2aO2EPtVNr3JMLgMiHvqVyPWRdduSgE21idUfpelYyJMwY0-tUnUaGLL0wYTkFrXIFUwapzw"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS256-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/localCryptoKeyName-RS256-",
        "deletedDate": 1778516001,
        "scheduledPurgeDate": 1779120801,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-RS256-/1462f26196904cbabbb03aa62adbe709",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "6UpbPhUh4F6kyMHeaUCfiPGWuasAR3K1-RUiYR0knfMhkMTPet25W-_46WyYB79W5TwYy6HA0ymCXp1GQHHu7sf_emwhOyzeVfjOPovKp-q2cYbbUB-OUB1FKpOL6q0hE0QTgSYjldW-NuIZyMLgjTmkOukG07x4x05CxLfM91hlmQi7HnkJ_GPodx9I2a-WSUhaDVvI6riuYC19kkyQlyrZTkAJ8mO_r1Ju6aSQvCKz5DDXBsgVREZmtWHgjCDtqMeLmTS7LTYQ5TasOgB9eYABrOGKCLkCl3I18Ep9xIUTBoh0oOpcaB-283Ijwkzw4kiOCfX4YG6VIP13bNIGrQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778515997,
          "updated": 1778515997,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/localCryptoKeyName-RS256-?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: localCryptoKeyName-RS256-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/localCryptoKeyName-RS256-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
