{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-PS384-/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-PS384-/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-PS384-/bdfb102e7691433a85e89007335cf05e",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rTYlIAo4AkzpdYNS3OdaQj4giZlSpDtXq3fENHHuTEeEajrysFi6HaelNhY9eCR7tKxHYfGNgyh1q80scCl21Dn5ymMVTsM6m4LxzkyLWLkKRh--2icsn_SlZ-d2jAOZ9-6Gf0mlWgsPrhVJRC0yHpBLoVFqRmSov5GA1uW6CSL1cahyHEET8Uej6wmShpn23Io1KPVcE5FNyK7VogfBtll2sWUSKE71Lu4uQ_CY-IuUId4pSb-5Umd0lX3pXpiJEb-wPmE8fjzH-65Ltqr4xgsfnaSe9A_VN-gL1o10N78rAu2PGCXNURXkADLY_5_zXHqfG1iBI5tJjVmVdDjgSQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1782207697,
          "updated": 1782207697,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-PS384-/bdfb102e7691433a85e89007335cf05e?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-PS384-/bdfb102e7691433a85e89007335cf05e/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "0l4LGQIGx3h4tKvtYkm0UpyuXVNh_uavUS2WlYfyU1tD4dronxAsDyxnAN80h55g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-PS384-/bdfb102e7691433a85e89007335cf05e",
        "value": "Fe0zy59Zb9jVs_iBElz71LvsH5jcrhjKlZouBIgvMlejLXxDxapubIVcEei7xHO8UduX0OZqicDL5xPyCLt-1dop7XTPguuiKEyheiO0IrA4-OSX9GLG93RxyCJwsTmtgRrtHfU2OI6JqGBxwZWJINxwvkttNWkrfRvYk01z2U4maQRQE5gIXW51WJ2cASXVygVBcV1PpH1QymQ6nUHFF6a2BLNUbCFXPVwBeYHkmB_PM0ZzFIZRth-cqYgZUgwjUmPLWM0rTgdIW1nbwMowZ6iH097m-TW-kTgfnm5iuuOHc1aIq2ZpHcPsX7FRZm1SAoa5HsL2QCwACSp3diaCaA"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-PS384-?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/localCryptoKeyName-PS384-",
        "deletedDate": 1782207701,
        "scheduledPurgeDate": 1782812501,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-PS384-/bdfb102e7691433a85e89007335cf05e",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rTYlIAo4AkzpdYNS3OdaQj4giZlSpDtXq3fENHHuTEeEajrysFi6HaelNhY9eCR7tKxHYfGNgyh1q80scCl21Dn5ymMVTsM6m4LxzkyLWLkKRh--2icsn_SlZ-d2jAOZ9-6Gf0mlWgsPrhVJRC0yHpBLoVFqRmSov5GA1uW6CSL1cahyHEET8Uej6wmShpn23Io1KPVcE5FNyK7VogfBtll2sWUSKE71Lu4uQ_CY-IuUId4pSb-5Umd0lX3pXpiJEb-wPmE8fjzH-65Ltqr4xgsfnaSe9A_VN-gL1o10N78rAu2PGCXNURXkADLY_5_zXHqfG1iBI5tJjVmVdDjgSQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1782207697,
          "updated": 1782207697,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/localCryptoKeyName-PS384-?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: localCryptoKeyName-PS384-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/localCryptoKeyName-PS384-?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
