{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-PS256-/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-PS256-/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-PS256-/83d6cd50a0d945de92ab7f46af959971",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wy_NacIw9g5UbYxFULmcDfAxwd4r-QxC7fR1wW6g6jipjGCxJxfg4CKGtBUG4w1sA2gUNlLYo09jpEJU7_wwWvOawVKxvCmG8y0EogHbNRNrGHE7vpZq3vVGNrUgGKtBY_FYpfmgX3MeIuExSUKpY9ALJjLKPQ9HR0uQuNcyUoj8lPzjXTYOMn2-Uq2BwoOo0mEW2qHCgBcIo8rO7GqChVxqc1KgI5Nk-MhW-b6Z2DcX9rQIKvL-7NIuGqCnuHlbH_mH2Eus7_Trdgaa0Lz0TbunTxpEScbVblwl1sBYhr0v_tiKsJOLyLIZeo-v1A1vkeMLeJ_ZLPxnSGO6nxxljQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1732063063,
          "updated": 1732063063,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-PS256-/83d6cd50a0d945de92ab7f46af959971?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-PS256-/83d6cd50a0d945de92ab7f46af959971/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "Ddu8v3v5O1eeK7tVDrtEQAeJxk287_ILYDv98miPFSo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-PS256-/83d6cd50a0d945de92ab7f46af959971",
        "value": "RdUDyTNUI9S5Lk1mKYoQzaTDo_s6AW8YOnG7db7fXzJ4YTmpNAk5FfdMVR2IbsuB9ZlFpB_CPUPCP0pkptTHJrLtCB9pj1tPNGiCfECfAlSkragAxznHYwtjEEpC9aSrYjzHqzNGbjJaa48I05cMtQaPIngy_gkn0Cd9h19gtPfmyQ1e0Q8Em1ynA2L02LLX8LLpGwUNTIXasabhVaiVPR4FYFT3aPbKeYjo1_wFRGAN12ay6oyhPVJKjmLFEFGYu8uT4qVwF_kv6ZbRWEXS7G8IR36LR2U9nIwD8RzbeNO7fkNHqtynmeDkmab2fmiRrcdtrk45JSRuQ1MZsKmzHA"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-PS256-?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/localCryptoKeyName-PS256-",
        "deletedDate": 1732063066,
        "scheduledPurgeDate": 1732667866,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-PS256-/83d6cd50a0d945de92ab7f46af959971",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wy_NacIw9g5UbYxFULmcDfAxwd4r-QxC7fR1wW6g6jipjGCxJxfg4CKGtBUG4w1sA2gUNlLYo09jpEJU7_wwWvOawVKxvCmG8y0EogHbNRNrGHE7vpZq3vVGNrUgGKtBY_FYpfmgX3MeIuExSUKpY9ALJjLKPQ9HR0uQuNcyUoj8lPzjXTYOMn2-Uq2BwoOo0mEW2qHCgBcIo8rO7GqChVxqc1KgI5Nk-MhW-b6Z2DcX9rQIKvL-7NIuGqCnuHlbH_mH2Eus7_Trdgaa0Lz0TbunTxpEScbVblwl1sBYhr0v_tiKsJOLyLIZeo-v1A1vkeMLeJ_ZLPxnSGO6nxxljQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1732063063,
          "updated": 1732063063,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/localCryptoKeyName-PS256-?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: localCryptoKeyName-PS256-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/localCryptoKeyName-PS256-?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
