{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-PS256-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-PS256-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-PS256-/59926bb67a814d78b3d6ae5b5fa99eb4",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "so9DxfMuwwyx6InSjGTUdbyKt5P0QaH1ejQz5tnB6YjWPf7e_IQMegoDmCIKnf3nhgmPdDs6ecrSJ1-tOLDAJu9XvxfAJLAolfbpL2tdsoV4VAPbUDGRze4oEiiHlQh9XM-9i6x87qOaG_Eor5_Gw3-QvUv3m5CABAI135omkDODXAU7gu5eBM9puCagO9UAuXa8VclcjznIuVS2lo31jxi---j7UN9q_ZRaxJZ_UYd952HBIggnqtz6KeIrlHZq2R0rSfHm-jWmzYDHY-SVSMzTdP3etaIyK8pPQicIKztyh9r0aJdBQkM1dO9ICQTQkCwD0yZ9bBc2GIjQhAmS7Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778587653,
          "updated": 1778587653,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-PS256-/59926bb67a814d78b3d6ae5b5fa99eb4?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-PS256-/59926bb67a814d78b3d6ae5b5fa99eb4/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "Ddu8v3v5O1eeK7tVDrtEQAeJxk287_ILYDv98miPFSo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-PS256-/59926bb67a814d78b3d6ae5b5fa99eb4",
        "value": "ZhzJb9ag67tomOewyR1MRZH4rq3m7ewo-5-77Fqb_u6_UfR4e3nNSQj9gN7Ke9jYjI-HX42PbWZRE087XLNB0MgQbklu2ycBQaCA36pl-V2xCHWV7LLl0T1Ch2QycV3fUZ-bjBnpH2MTXPfrM9lYz6pqeEm_h4epbbM0DtcGfhdTy5lW0wd5OTotCaLzXs8lmE1QLcw90ONlvLoeyoplB6oWnYaOc2B_GUPPPNk4FS5hd0ifTorhpivvJgG3D3qxy1BB3wv1WSbvDs9E_Ilfg24x0AsRrdSO_cEWDpUxW2c4qgy142OlHecnkS1sLBYvSsG9MeuK6OZbxc50bmOP0Q"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-PS256-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/localCryptoKeyName-PS256-",
        "deletedDate": 1778587656,
        "scheduledPurgeDate": 1779192456,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-PS256-/59926bb67a814d78b3d6ae5b5fa99eb4",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "so9DxfMuwwyx6InSjGTUdbyKt5P0QaH1ejQz5tnB6YjWPf7e_IQMegoDmCIKnf3nhgmPdDs6ecrSJ1-tOLDAJu9XvxfAJLAolfbpL2tdsoV4VAPbUDGRze4oEiiHlQh9XM-9i6x87qOaG_Eor5_Gw3-QvUv3m5CABAI135omkDODXAU7gu5eBM9puCagO9UAuXa8VclcjznIuVS2lo31jxi---j7UN9q_ZRaxJZ_UYd952HBIggnqtz6KeIrlHZq2R0rSfHm-jWmzYDHY-SVSMzTdP3etaIyK8pPQicIKztyh9r0aJdBQkM1dO9ICQTQkCwD0yZ9bBc2GIjQhAmS7Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778587653,
          "updated": 1778587653,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/localCryptoKeyName-PS256-?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: localCryptoKeyName-PS256-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/localCryptoKeyName-PS256-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
