{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS384-/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS384-/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-RS384-/e8b60d143bb54f8e8825b2620a97d822",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "q9LjmSdZ5hLhYfBEgtgfsuUHddnnfvbY-lSt64-jmMKGUCKPrFHh7ibfQ1nc2gAL6jHZJsigvRGiyuCicc4C5SfiR6Nifg0eocjM4BKWut-5Z5GbJBzChQLScx1FR5-D-gUF6Oob_gTHBXKi4rCjQ00bAh5esLJbDz4xpESKus4cOBcL2fX001UcxMeMZItIoyV8vvowbzazuZcAXDaSRXXxqzmljk6TWcx5574BX1__U5TJ1RK25F7pIB0qMUT-0s2Fysg1x3BHHp7Ow70Q-R8YfJKgWO4krhYZOgsbcTTAr8tZa1ulwrWSEQF3Af3BAFtfqJdGVfNvva3no-9L8Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778604660,
          "updated": 1778604660,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS384-/e8b60d143bb54f8e8825b2620a97d822?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS384-/e8b60d143bb54f8e8825b2620a97d822/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "TIhkXuj1N6MQEvoRynn6PS-r6457Euk0K7ijtEDHgJoifny15et3CoFPYdEWQLXb"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-RS384-/e8b60d143bb54f8e8825b2620a97d822",
        "value": "pXlr-IQe2srSJkQhWHd3ujYavg8wWXbP_lcK9GuZ_86ww05dXFCuNgRctqMe6PsTwmvgJcsQcG5B1-Ugv46iF9RMn__vKtMR-9KhJcohquNFCot3j9DeDDrzC68QBZOj_3tvmK0wfo2LPZIsdyR16DHqWZ_v561VGRCBZ6LpSJkg3NyGzsdziVGnHuI1aKVyumU_nuaalbURYZp7phu92CnGtMrT17QUG7WpfUvXKYKIMueYoaWjAIeA-htIqq4mpUOmQuzRdJU7Edk8n3Oo4dUY9pUqm32kF5IATkIzrtgA7Z_gQpzVjiFX2gWRRvOxH6mwggReaaL7v5hvkq82eQ"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS384-?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/localCryptoKeyName-RS384-",
        "deletedDate": 1778604664,
        "scheduledPurgeDate": 1779209464,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-RS384-/e8b60d143bb54f8e8825b2620a97d822",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "q9LjmSdZ5hLhYfBEgtgfsuUHddnnfvbY-lSt64-jmMKGUCKPrFHh7ibfQ1nc2gAL6jHZJsigvRGiyuCicc4C5SfiR6Nifg0eocjM4BKWut-5Z5GbJBzChQLScx1FR5-D-gUF6Oob_gTHBXKi4rCjQ00bAh5esLJbDz4xpESKus4cOBcL2fX001UcxMeMZItIoyV8vvowbzazuZcAXDaSRXXxqzmljk6TWcx5574BX1__U5TJ1RK25F7pIB0qMUT-0s2Fysg1x3BHHp7Ow70Q-R8YfJKgWO4krhYZOgsbcTTAr8tZa1ulwrWSEQF3Af3BAFtfqJdGVfNvva3no-9L8Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778604660,
          "updated": 1778604660,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/localCryptoKeyName-RS384-?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: localCryptoKeyName-RS384-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/localCryptoKeyName-RS384-?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
