{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS512-/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS512-/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-RS512-/3356f27d34854a6792f21fdb4f7cfd1e",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "qDUFYLutglqf_GVxxfJXKfUsBjhi2F6-JRkjDDRxWMr2DqryRiCCtJcSaVTIpcZ6RPD8TlWFKuhStnMdL_XUyodZOrs-WRbgGnOcf4yi21ijCqB-owYxzmwZsQEFo6chWbD4mXqScsjtGUTkU_vefQoX0d9LqSZUjc6UOk5KgcCmrCLWY75AzQCur9XkNpc5oqzSDlZVv1L_wG9xpIEi7YRvds9aCdv0MjqYetwcVJam1w7eLaX-Ol0ElK40cFICVtyak2cehZRju2gQ8O6JsYqc0ANkEAb9-rTHM5j81W_4r_rHEVCEIkQ58YCX-9cr6yuHTW3erIXEhoy2xjywWQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1782207733,
          "updated": 1782207733,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS512-/3356f27d34854a6792f21fdb4f7cfd1e?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS512-/3356f27d34854a6792f21fdb4f7cfd1e/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "QaLHow25_feqs3pxKJmCGrAMc8htSHcJZviGWeoVGheXIeIBgTa7IeQF-Ti_oEfg5Uo3phll52kljUTpML3v1g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-RS512-/3356f27d34854a6792f21fdb4f7cfd1e",
        "value": "krQ_9Pwt4ovJx6UOW2h2q8wldqkcNKEMWvKDgpAOkOtbZ4s_n0jFLJombbgZX38QEEKvRuYxEfQn3CMbQg7L1O-BkIfYFN9Whhg2pSRSNSXt2yjSAlwtZhKfcsyKodEW4lnFrpv8z5aray3s5G84Jwh885TQ4DY0DSNIhMH8JkpF6AExrdAL3VZ0BJnX12IRZSABX6M2P-bfI107CRLDGW83Ru7UnTTIz_h1N6VC5yDQgGGm7mK28OtxCpYNh9gxphOGrOHacNvC31aajkgmt8S5lGR46RadKonHVh6ufypRA6JY8bX5Y2XWBEl66YRdfb1crVP0NCS0HogpDaaQhw"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS512-?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/localCryptoKeyName-RS512-",
        "deletedDate": 1782207737,
        "scheduledPurgeDate": 1782812537,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-RS512-/3356f27d34854a6792f21fdb4f7cfd1e",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "qDUFYLutglqf_GVxxfJXKfUsBjhi2F6-JRkjDDRxWMr2DqryRiCCtJcSaVTIpcZ6RPD8TlWFKuhStnMdL_XUyodZOrs-WRbgGnOcf4yi21ijCqB-owYxzmwZsQEFo6chWbD4mXqScsjtGUTkU_vefQoX0d9LqSZUjc6UOk5KgcCmrCLWY75AzQCur9XkNpc5oqzSDlZVv1L_wG9xpIEi7YRvds9aCdv0MjqYetwcVJam1w7eLaX-Ol0ElK40cFICVtyak2cehZRju2gQ8O6JsYqc0ANkEAb9-rTHM5j81W_4r_rHEVCEIkQ58YCX-9cr6yuHTW3erIXEhoy2xjywWQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1782207733,
          "updated": 1782207733,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/localCryptoKeyName-RS512-?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: localCryptoKeyName-RS512-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/localCryptoKeyName-RS512-?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
