{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS512-/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS512-/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-RS512-/8646a7defc3745ca8bfae00941dfb209",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wnZ1mVVggRbquP9PWOpYKU2qSMS_TeYAjDueChn_YKpwty5Y3j_Emi_jVQQVi07XgbyGL6XmzSxD1rk-KVBCE3u8i_HYi22BQ2x5QpydqeWqaGCbgCTpkft7K8MLkPQDxSjwjmNsbBZINeYQwzlVAtc7V76v42DfGaRr0j5ahR3iRfiTZjYGD2x0Y_LheptCejjWV3_0-TDwKZUR2Ls2pFR5zNl7G5fWMh-DO92kBMDXaIe_cN20hDkX67s6AVfZ2wgRLfQOc_lLDkdLg_GK5BB5Gs_0neSn8Qj6INISPmVglAaAN5vrqXmYIjkxVI28VCAQ57U30pkL87rIQ0FxPQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778687856,
          "updated": 1778687856,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS512-/8646a7defc3745ca8bfae00941dfb209?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS512-/8646a7defc3745ca8bfae00941dfb209/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "QaLHow25_feqs3pxKJmCGrAMc8htSHcJZviGWeoVGheXIeIBgTa7IeQF-Ti_oEfg5Uo3phll52kljUTpML3v1g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-RS512-/8646a7defc3745ca8bfae00941dfb209",
        "value": "iEIFAZXV_5GxehAP0XIyzfhvfGqt4Trh0Af9yJcO9K1urUuJSVQeTs2r99J3GCv2QdrRE4bcHUHNqn39HQNk-rFUs6xCq8rzn1OSYAuaa9_dHn2imRDNM2X6GPZx62kC6ayV2Q691-M2z51UnnecBFIvg1hNFlSHXcRI9S11tvFxpMWdNKBvPOCcuztNAlrWMRrNhvc196Jwxw0y_sNNFO2CP19fX6py4gszz6VNUUhbs3253pFJfKgZhfHEx7V8RrktK9Kk1u0UUxCNdK-S2IFkFzDmlNecr54L5A_uRW2wdPBFqoJ7Wk1eUG2uXNN_H2B31OioS3VVxSFpN2EbKA"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS512-?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/localCryptoKeyName-RS512-",
        "deletedDate": 1778687861,
        "scheduledPurgeDate": 1779292661,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-RS512-/8646a7defc3745ca8bfae00941dfb209",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wnZ1mVVggRbquP9PWOpYKU2qSMS_TeYAjDueChn_YKpwty5Y3j_Emi_jVQQVi07XgbyGL6XmzSxD1rk-KVBCE3u8i_HYi22BQ2x5QpydqeWqaGCbgCTpkft7K8MLkPQDxSjwjmNsbBZINeYQwzlVAtc7V76v42DfGaRr0j5ahR3iRfiTZjYGD2x0Y_LheptCejjWV3_0-TDwKZUR2Ls2pFR5zNl7G5fWMh-DO92kBMDXaIe_cN20hDkX67s6AVfZ2wgRLfQOc_lLDkdLg_GK5BB5Gs_0neSn8Qj6INISPmVglAaAN5vrqXmYIjkxVI28VCAQ57U30pkL87rIQ0FxPQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778687856,
          "updated": 1778687856,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/localCryptoKeyName-RS512-?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: localCryptoKeyName-RS512-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/localCryptoKeyName-RS512-?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
