{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-PS512-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-PS512-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-PS512-/ed5516e938ba4bf0bcd8e7fe040ffb97",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "mtO7mW3Cc4dOMEZ5PRXqYrN10gUwfdIp-rUWDaYR0-PX1bODrqkmTY_A70X2SFPxfPFL1H3RRnaDbQZbO1muLfH8WmE4vX7hQ4QY3qtUK-z9jQvcLutSD5Z-x3i-TQuqstnTMhqmtTepCylWSagwmzZ_mm9vC5vIv79Lp6uFddF3VisjlyChtwWX6QGkGEaAwzwo3HWxgowYo_l_1VhVgGZzyj2C3nODHy9dW7shyQJA4Q5aeWMQYxWRLKp5sY8Bj9w7Nfy7mRZb2KZKuoo_OCsuHHdnn01GpxlCFx7PtcC7gl1pr7Tg9ZuD2EWekMgP7r42vYXENEusXV0HWSjnlQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778516036,
          "updated": 1778516036,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-PS512-/ed5516e938ba4bf0bcd8e7fe040ffb97?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-PS512-/ed5516e938ba4bf0bcd8e7fe040ffb97/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "value": "N-pezlZMah39l8dyRzaKq0HwVUk7PQGpMkG1N-ogZB33pcAt09-5bL3a_NzW7QKNqZzNikQfEVgclTpgJafSAw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-PS512-/ed5516e938ba4bf0bcd8e7fe040ffb97",
        "value": "HVLqRfhv6bEmOn-xvyqovM7Tsfa5jJ47KZlZygJDjj1pDSVeVU7cIBf036_kkA2kNbDPwb_p5jXSPs_uWuhcPKzQzTt7Zb8PYfm2VXcoUxAfVhADUuWmX9ZzD1QQPk0yUe8DPH5_aPz_GVzaO3CwLY1MkT3pz_fPCvsrM11mQZI416FNOE0jvQHSnjmXDdaghN6mR5hIvnNCzDUK3JMVTwbrNnWd5VCEcgnhpCpM4Z7-VUjG_uoycLU7jIpVc64inUshAOHIVMeDG5KuoZdzf6MXFmLD8L_f4laGypNCfFFFaWoi0R1aB8k9l9MNTnKRtSLWEW-xpEfoJSzago_Jvg"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-PS512-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/localCryptoKeyName-PS512-",
        "deletedDate": 1778516040,
        "scheduledPurgeDate": 1779120840,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-PS512-/ed5516e938ba4bf0bcd8e7fe040ffb97",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "mtO7mW3Cc4dOMEZ5PRXqYrN10gUwfdIp-rUWDaYR0-PX1bODrqkmTY_A70X2SFPxfPFL1H3RRnaDbQZbO1muLfH8WmE4vX7hQ4QY3qtUK-z9jQvcLutSD5Z-x3i-TQuqstnTMhqmtTepCylWSagwmzZ_mm9vC5vIv79Lp6uFddF3VisjlyChtwWX6QGkGEaAwzwo3HWxgowYo_l_1VhVgGZzyj2C3nODHy9dW7shyQJA4Q5aeWMQYxWRLKp5sY8Bj9w7Nfy7mRZb2KZKuoo_OCsuHHdnn01GpxlCFx7PtcC7gl1pr7Tg9ZuD2EWekMgP7r42vYXENEusXV0HWSjnlQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778516036,
          "updated": 1778516036,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/localCryptoKeyName-PS512-?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: localCryptoKeyName-PS512-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/localCryptoKeyName-PS512-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
