{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS384-/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS384-/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-RS384-/2fba31f764134a4aa7864b1a4856bdfd",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yhgsAb3W7gShwSWdXpkq48yKxocItzvJ2oDOaYhFHi21BeVdihOVhNFIhLePNWMvWAsQcmZIFnQbwThPRJAYOuN7SnvNSRqLoIUqQpfznazvdClv_B1jcfM_e4m4Y5ylsPT-7LBb8x-ijiL08Z4wrtTawaZoG4XjDGwqOV0zKLtXO3Bq2W2kvv0-Nw_xli9f3kJmAAi5sqMNzLZA9QTNRWsaV8-A0GaYkF3ple7Q8jQhDoDw-q7tLwKaYVUYQrDk0VRRiyiokY07o6XbLVHE1gz2DP6oBorE8ww-wqEaq8UqYf4f_LiK8zj41NDvx4lx3uysVfbokR-JlRavoHUlfQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778687828,
          "updated": 1778687828,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS384-/2fba31f764134a4aa7864b1a4856bdfd?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS384-/2fba31f764134a4aa7864b1a4856bdfd/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "TIhkXuj1N6MQEvoRynn6PS-r6457Euk0K7ijtEDHgJoifny15et3CoFPYdEWQLXb"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-RS384-/2fba31f764134a4aa7864b1a4856bdfd",
        "value": "SFoU6w5N3aEEqDw10zCB6Xv2xVl5xrE_D5ohA9EI4H4jmEJqVHX0Gq5YLt8Pu-xC-RygvkOk4OREexQS6FMnciiJuEmULvN4UsT12uv0m6CkjqqrDxzcUxtiCFzkQYwhRC6bNfF-kk99pA-Y28GTj-pwjNFCTg4zfsywXtcqBxpk2eskxzPeUG0Tgp8yTCB5njCoVau7VNkdAXQNemjhoIF6xClJtQAc_PNf-nO2lFd0mMBoh0YXu2x2AOQCErDXVrSETKVvVtF7bwuyK9_5fBlDEMyoH3ef47GgfcEV1DvA-6QpL0D5fYXAtPommA1M1Qrs6TZln8GWEVRVTSjBFw"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS384-?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/localCryptoKeyName-RS384-",
        "deletedDate": 1778687832,
        "scheduledPurgeDate": 1779292632,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-RS384-/2fba31f764134a4aa7864b1a4856bdfd",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yhgsAb3W7gShwSWdXpkq48yKxocItzvJ2oDOaYhFHi21BeVdihOVhNFIhLePNWMvWAsQcmZIFnQbwThPRJAYOuN7SnvNSRqLoIUqQpfznazvdClv_B1jcfM_e4m4Y5ylsPT-7LBb8x-ijiL08Z4wrtTawaZoG4XjDGwqOV0zKLtXO3Bq2W2kvv0-Nw_xli9f3kJmAAi5sqMNzLZA9QTNRWsaV8-A0GaYkF3ple7Q8jQhDoDw-q7tLwKaYVUYQrDk0VRRiyiokY07o6XbLVHE1gz2DP6oBorE8ww-wqEaq8UqYf4f_LiK8zj41NDvx4lx3uysVfbokR-JlRavoHUlfQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778687828,
          "updated": 1778687828,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/localCryptoKeyName-RS384-?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: localCryptoKeyName-RS384-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/localCryptoKeyName-RS384-?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
