{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-PS384-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-PS384-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-PS384-/0c4edbf62eb24fb6b89c28903689f7fb",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "sWr327wx_-d8_s_0jx8rffs_cMSpbO2VdEuPdH8CMLHegQcvbtIIK_b2dEAowdqVqwvjMqGVTGfUdsm_EmdAEdPgtQHMXdOV9h86zjgbrsVSbPM_XuG9dOzBGDbvg0THxEZv73mnbZzcugGOqDROEasVYJGlEGzRPXg2o3gjKTil6Ex9qixkuVcvgdKYaEqBpuea9WWBykwb-6TISl7XA2rmUtVZehydEUvHJ5M9cdkODMV5nYqESBEe-rgoTp9zFDEfgxasTikwHF__BGH9ytDJU_s04ICgtx4WJJQ_2245OJSEXJTU9wBFdgIXpNQFK-2fZP21EEiOizBHoA7DeQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778516010,
          "updated": 1778516010,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-PS384-/0c4edbf62eb24fb6b89c28903689f7fb?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-PS384-/0c4edbf62eb24fb6b89c28903689f7fb/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "0l4LGQIGx3h4tKvtYkm0UpyuXVNh_uavUS2WlYfyU1tD4dronxAsDyxnAN80h55g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-PS384-/0c4edbf62eb24fb6b89c28903689f7fb",
        "value": "DrwREgD0ywqoLoVAtiKocz-ObHEerCx6fMVd6zotgHwrkgYIIhZ-PSswkRF6yIhNhHiAHU4Jl2UVkM3lhAJALDs33JX4Qn5V4Prc1za1BMhjbdboTvdKVjFFySM6PM9_aWgMWdpU8QwpRAh0dsVyAF9HuNUqwTzXVbsE7IiI5ReA_lXHmVcMDhpk7qg6SDpdDcGeutu5BDsFagFO0L5eDDvzFRZNXUoNu2zIGWKOMcEF7asIzP77GJgT-b2til23-lTFEDk6aONvIPq30LAX5STZpa7vkjXEmN-fCR8ympw1RcMlkylDuFNwJCt4W__Sgthc5pDgyZPhP9fmiTtlbA"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-PS384-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/localCryptoKeyName-PS384-",
        "deletedDate": 1778516014,
        "scheduledPurgeDate": 1779120814,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-PS384-/0c4edbf62eb24fb6b89c28903689f7fb",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "sWr327wx_-d8_s_0jx8rffs_cMSpbO2VdEuPdH8CMLHegQcvbtIIK_b2dEAowdqVqwvjMqGVTGfUdsm_EmdAEdPgtQHMXdOV9h86zjgbrsVSbPM_XuG9dOzBGDbvg0THxEZv73mnbZzcugGOqDROEasVYJGlEGzRPXg2o3gjKTil6Ex9qixkuVcvgdKYaEqBpuea9WWBykwb-6TISl7XA2rmUtVZehydEUvHJ5M9cdkODMV5nYqESBEe-rgoTp9zFDEfgxasTikwHF__BGH9ytDJU_s04ICgtx4WJJQ_2245OJSEXJTU9wBFdgIXpNQFK-2fZP21EEiOizBHoA7DeQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778516010,
          "updated": 1778516010,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/localCryptoKeyName-PS384-?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: localCryptoKeyName-PS384-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/localCryptoKeyName-PS384-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
