{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS384-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS384-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-RS384-/8c324d3b880845109913c6071d32c2b7",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wtYDPMTDs5GfYbrqFws-ehoGcO1Vcxd6yGCEj9iqEAJTgYjAUEPiIdG9ajLyZubETLqBIO4B3DG4A5CzYsOtIe84t_gKwvUB5F51xTFG7xX85Y3XSi2v5EsSmSDiBEnkOSxV63raf-r7wttFOMw0PhUTD6bycSOA97g_BT3WeRxBN8vgznoz8mChttrrxajRq3UMkqsUcTRHBSH25lKNV5EkfUYnxfI2zuM6cl1TMx0juTonpaMu8J9Iv-TIUeWRU2dOPfCHGBfxlPZPITPweqoW97I9I-s8HX8UGs3PGIu2fqpr8YpyZjo02zdGPJYv7-n6UYbFLFl-R5y4uyuonQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778587679,
          "updated": 1778587679,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS384-/8c324d3b880845109913c6071d32c2b7?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS384-/8c324d3b880845109913c6071d32c2b7/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "TIhkXuj1N6MQEvoRynn6PS-r6457Euk0K7ijtEDHgJoifny15et3CoFPYdEWQLXb"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-RS384-/8c324d3b880845109913c6071d32c2b7",
        "value": "f2KmibhaKVyYmBp19Pbz7klRc6fg3pAg1EgnZM8gfHInEnREhgMezEiV1t4YlTa70LC9JK0lFNbgLiKZwLitrKGusDvg6sW4sYJef9T9R-9oWRpnig58ycjZaeZZLU_NUCc7Tyn2-QyTuMUs4HlFpiqzjs3z804Zek7ME0FBFXCzrOT6YFh7OPt0lsXmhhYenFg3OWRALgr0ChBc_EysGavvW9kgdvNPR9Oq8G0ALKnd-LxwwMdkYMLE46t6dku1LuizfnCccs14QACnZefvoqdx7AZZkLMhXJpLBIkEKsTrE6OOqQ4gML12uLujCTagLuzHyJ2axBv2M8xWa7dS8A"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS384-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/localCryptoKeyName-RS384-",
        "deletedDate": 1778587684,
        "scheduledPurgeDate": 1779192484,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-RS384-/8c324d3b880845109913c6071d32c2b7",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wtYDPMTDs5GfYbrqFws-ehoGcO1Vcxd6yGCEj9iqEAJTgYjAUEPiIdG9ajLyZubETLqBIO4B3DG4A5CzYsOtIe84t_gKwvUB5F51xTFG7xX85Y3XSi2v5EsSmSDiBEnkOSxV63raf-r7wttFOMw0PhUTD6bycSOA97g_BT3WeRxBN8vgznoz8mChttrrxajRq3UMkqsUcTRHBSH25lKNV5EkfUYnxfI2zuM6cl1TMx0juTonpaMu8J9Iv-TIUeWRU2dOPfCHGBfxlPZPITPweqoW97I9I-s8HX8UGs3PGIu2fqpr8YpyZjo02zdGPJYv7-n6UYbFLFl-R5y4uyuonQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778587679,
          "updated": 1778587679,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/localCryptoKeyName-RS384-?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/localCryptoKeyName-RS384-",
        "d[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/localCryptoKeyName-RS384-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
