{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-PS256-/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-PS256-/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-PS256-/f1c50f8250d44d09b0405850f23d1ebc",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4dvrMduRXUJDIF08qwflaQuVLY0Uyi6XUFtRt4wdIM27rojC9PF5jSR1n0tffFciBuOaJNfQI8Lpnh0WdyQxpcwa1YcwMJL9i-kMz7Wpl10z5TESXng1c771z0uxL6Dv2GOyM7_7gieddXCqsIy3itko5xuYdWaEQHAm7dBC2nJGxoapQI0A3FxqyB9y6Q8w7yljV8-CYankhPOmYSbUwmr7qkMXEb2yCtfPZPw1mr5cT9lhzCOD_VIk6BIvJEiIzlrypscViijrNY53TorK4M5ItzGUafR09r0SPbhYB9jttHubmqkTAm03aEyjgAaFnX04Bp8ySb8gNAxNS1m9eQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778604627,
          "updated": 1778604627,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-PS256-/f1c50f8250d44d09b0405850f23d1ebc?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-PS256-/f1c50f8250d44d09b0405850f23d1ebc/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "Ddu8v3v5O1eeK7tVDrtEQAeJxk287_ILYDv98miPFSo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-PS256-/f1c50f8250d44d09b0405850f23d1ebc",
        "value": "cXrFf6Tpkh18YPRyZJwe6DDOIzd05D9fC0SfbY8bUJQi9b1xBKxw9EHslqoKw75gKoWPa4Am4lnBclyILdY941PC1xS4u-8Fy9e-U6Ik0ou6K-UUUFZlX_K4CUF1jbHAIU7OWfLT7kOPbEoNdRayYwWMnBldf2if_Tn2ASqSG_r0qjF8EyS4-DC0qr-7ddk7Vff4DArFvUlaMJOFROeB26bJORnX_tU1yvsx7a40utdoSODIL6Sd8_GDTv6mfuJ3VnDeh79kM8fLAB9jC1MUWAV7BYV7aV4c_BFGt6_1yi9tkTn0PjhFuhW7Vki0ZbeUUMJzKwTe_YY3wwki8yUHxw"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-PS256-?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/localCryptoKeyName-PS256-",
        "deletedDate": 1778604631,
        "scheduledPurgeDate": 1779209431,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-PS256-/f1c50f8250d44d09b0405850f23d1ebc",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4dvrMduRXUJDIF08qwflaQuVLY0Uyi6XUFtRt4wdIM27rojC9PF5jSR1n0tffFciBuOaJNfQI8Lpnh0WdyQxpcwa1YcwMJL9i-kMz7Wpl10z5TESXng1c771z0uxL6Dv2GOyM7_7gieddXCqsIy3itko5xuYdWaEQHAm7dBC2nJGxoapQI0A3FxqyB9y6Q8w7yljV8-CYankhPOmYSbUwmr7qkMXEb2yCtfPZPw1mr5cT9lhzCOD_VIk6BIvJEiIzlrypscViijrNY53TorK4M5ItzGUafR09r0SPbhYB9jttHubmqkTAm03aEyjgAaFnX04Bp8ySb8gNAxNS1m9eQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778604627,
          "updated": 1778604627,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/localCryptoKeyName-PS256-?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: localCryptoKeyName-PS256-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/localCryptoKeyName-PS256-?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
