{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS512-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS512-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-RS512-/869eb5289aa94ec8a73f946f22fde9bd",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "zdc2hfjdxMltHSndsC9McyNLNxWv1yuhCK9ORscdu5uHI-fyYmOH5egC-8mkkzzd1J2Pej8D5LFAJJSt8LbqWRXj0px5g2Iro7EufMfojK9m8iGX9QBl96yn2RJrCD4IeABw-RjHXC1dc3cQJqtZ3j75c1ytrx8Uc0XnEgK-3nTkRtXKbj3LsH41A10SkRPvWLZQnJ6dz3t4ODFxRZXXoHT4fiagnTjTz5uE7dtyU4O2Su9eCX2YyHKlNhI5iFqUohBJoZ1LRpsQZL-ZDyG-pBXZCyRpR2GW1cJVgvk8GfE2vpkq23JVzeAYy3gWgZO3tmwIFIf1sr5sz75JtEO6SQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1739478304,
          "updated": 1739478304,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS512-/869eb5289aa94ec8a73f946f22fde9bd?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS512-/869eb5289aa94ec8a73f946f22fde9bd/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "QaLHow25_feqs3pxKJmCGrAMc8htSHcJZviGWeoVGheXIeIBgTa7IeQF-Ti_oEfg5Uo3phll52kljUTpML3v1g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-RS512-/869eb5289aa94ec8a73f946f22fde9bd",
        "value": "cJ6O_z9GxIpiLD1K9DlVBUZRcosg3NkOS3weF42XcwQ_Cx7U2esRAyqvUJVgnmMrdwxiMqb1qyKZfTIc4EhxOH2k-3zoxq76LntiNdj5B6Thr7WsV1EaHaARoeatAV0iZUXeEUeseuEMzznLbE3Ni-KcVBYSaz-3cTr5cKfaKT-vaAYXcq_-JnjWZwrxSh4BI2ObDUQ3ib1w2TAIg1g8ZpCDuvNKsWi82ko9Su19_0WGskAyYVdry8BXD6k-MciGlzv8L_b4amLEoleBARQUs-t_rmxklYerZ81wpa3NVyyTYpn0VyktMqFeaAs-YixtoZ51rqq47UlhV2ouwFfLYQ"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS512-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/localCryptoKeyName-RS512-",
        "deletedDate": 1739478307,
        "scheduledPurgeDate": 1740083107,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-RS512-/869eb5289aa94ec8a73f946f22fde9bd",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "zdc2hfjdxMltHSndsC9McyNLNxWv1yuhCK9ORscdu5uHI-fyYmOH5egC-8mkkzzd1J2Pej8D5LFAJJSt8LbqWRXj0px5g2Iro7EufMfojK9m8iGX9QBl96yn2RJrCD4IeABw-RjHXC1dc3cQJqtZ3j75c1ytrx8Uc0XnEgK-3nTkRtXKbj3LsH41A10SkRPvWLZQnJ6dz3t4ODFxRZXXoHT4fiagnTjTz5uE7dtyU4O2Su9eCX2YyHKlNhI5iFqUohBJoZ1LRpsQZL-ZDyG-pBXZCyRpR2GW1cJVgvk8GfE2vpkq23JVzeAYy3gWgZO3tmwIFIf1sr5sz75JtEO6SQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1739478304,
          "updated": 1739478304,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/localCryptoKeyName-RS512-?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: localCryptoKeyName-RS512-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/localCryptoKeyName-RS512-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
