{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS512-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS512-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-RS512-/f08f9de82011494dbb7dd3443781e93f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vjDyGu0ggyW-nDNisBO7Q6rwHeWpRqRIlze_FsOWDaOqjDUPzbdR9JrZfY3d3ZR45tNQmgBZGSF2VmMXYDb4f_cIFeoTRWe_aaZ8ktQ5la43npHHpUOFFDFakpYNAVtmN1DNGiWGnQXL9zAOf_EfJQJUYluYpUwRtzzsjK3bglmeX-GWeRZyHNE7cpGA-lMS-T2oHYytm97DT3Ywb4hzM54cFVJNuN0wSmd2LAlxYpZFH-lO1Yn2XQ2Eidd4D4g-37TQiDh4LSMCRaOIPGudGzICnxM8V9nO2dW-OTNWjqVVqkV0PfgOPZeExaOWJFhiLrngKtqsrDokIDiQAdbnkQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778587701,
          "updated": 1778587701,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS512-/f08f9de82011494dbb7dd3443781e93f?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS512-/f08f9de82011494dbb7dd3443781e93f/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "QaLHow25_feqs3pxKJmCGrAMc8htSHcJZviGWeoVGheXIeIBgTa7IeQF-Ti_oEfg5Uo3phll52kljUTpML3v1g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-RS512-/f08f9de82011494dbb7dd3443781e93f",
        "value": "aAxDi8S3UHnekLEtaZCRnZvy-ua82VLeaE-csRABMNXCo81Bg1ageYb9aGQjH6TyRjFfgYZN19gbE6mB_yegFEoPMRE2R_01jHGWpM81Wo2CuSVE3Zv9A3BEWElI1H1UxNLPbOo67Vbkj3kuFld-E2_8NrdInOerwEbRPT2IGdljdode9n1gd4awkM5qCnR3gmmo4jdDNwlnc-UjQoqg-nd-46sKQgeWQdtl1DWbbNm-qARXpy7tw0lRmr7FTPNN54NLUHqPSpPR6FaBBAOggzoMArG7EMZr4swI7O7P9yeN7Lt_hCuIbPZeRpyZ82A7VZ0EfE2YHbObUoSLuxAQbQ"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS512-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/localCryptoKeyName-RS512-",
        "deletedDate": 1778587705,
        "scheduledPurgeDate": 1779192505,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-RS512-/f08f9de82011494dbb7dd3443781e93f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vjDyGu0ggyW-nDNisBO7Q6rwHeWpRqRIlze_FsOWDaOqjDUPzbdR9JrZfY3d3ZR45tNQmgBZGSF2VmMXYDb4f_cIFeoTRWe_aaZ8ktQ5la43npHHpUOFFDFakpYNAVtmN1DNGiWGnQXL9zAOf_EfJQJUYluYpUwRtzzsjK3bglmeX-GWeRZyHNE7cpGA-lMS-T2oHYytm97DT3Ywb4hzM54cFVJNuN0wSmd2LAlxYpZFH-lO1Yn2XQ2Eidd4D4g-37TQiDh4LSMCRaOIPGudGzICnxM8V9nO2dW-OTNWjqVVqkV0PfgOPZeExaOWJFhiLrngKtqsrDokIDiQAdbnkQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778587701,
          "updated": 1778587701,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/localCryptoKeyName-RS512-?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: localCryptoKeyName-RS512-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/localCryptoKeyName-RS512-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
