{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS384-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS384-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-RS384-/18f36da1a21445a99372b03ce06eb21c",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "sCwVJZYFmAFU6PYwyxjnU1cl6sPoYMeCfg2esonIv8rZVmBZv_JV9iI_oC4wXWGbKZ-YgmzPc_FVzA89jtNMKBLByjWlJj_gzrakOdMyPEWAL9EZwSwQEhAWGq_bcRdLwsRtB3e5RrX4ovh6iEMCN0CIE09ZcOOwO3nXn7cCw2hjsFFBpnq0bF-7zmv-9QGl1qRwqKZf7zpgqrKO3bqu8HXDiKCN8s1WJb1j9O6YKIUvc_qnMPcldrrJRqeTgD29KcvTVZTqCIQ57E6RSM0v_wZpDRcq-yknCJcMwrmu7u__TQStQpMkjxumB4A9JxopvXS7XnCab35K34aKjepRJQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777051213,
          "updated": 1777051213,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS384-/18f36da1a21445a99372b03ce06eb21c?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS384-/18f36da1a21445a99372b03ce06eb21c/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "TIhkXuj1N6MQEvoRynn6PS-r6457Euk0K7ijtEDHgJoifny15et3CoFPYdEWQLXb"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-RS384-/18f36da1a21445a99372b03ce06eb21c",
        "value": "IQ2jw6IrOrS4gh88D4nbBB7nSpcGsN3YR2bD5CLmv3U9m_PYpaI5FScy5e4Psq8uvVa_pPCWVj2I6KciZkmhzvk6Ll9R4n9XiVcpMtNuv9MiCE9GjP2mXNPrMNUH_WIa6OzUSf85055y3bFIBnYEYhubtf91lL0Kf2oVIjo1FtfSQb7bi0JtDQO9S07rLyuXRGMS7aNFLGNKhuvoy00AS0DR9dJ_z8Wv27Htog4eNccgkGBPz4qZ1QLnwa9-IjCKnFVHtDhonBwnhqc2cWNCWFf_LIbCwUQZU7JjXsxKJHEHdCeTui-jEQH7Cc6oiEHrx4Ld07nvmGclZnTKKLOBZQ"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS384-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/localCryptoKeyName-RS384-",
        "deletedDate": 1777051217,
        "scheduledPurgeDate": 1777656017,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-RS384-/18f36da1a21445a99372b03ce06eb21c",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "sCwVJZYFmAFU6PYwyxjnU1cl6sPoYMeCfg2esonIv8rZVmBZv_JV9iI_oC4wXWGbKZ-YgmzPc_FVzA89jtNMKBLByjWlJj_gzrakOdMyPEWAL9EZwSwQEhAWGq_bcRdLwsRtB3e5RrX4ovh6iEMCN0CIE09ZcOOwO3nXn7cCw2hjsFFBpnq0bF-7zmv-9QGl1qRwqKZf7zpgqrKO3bqu8HXDiKCN8s1WJb1j9O6YKIUvc_qnMPcldrrJRqeTgD29KcvTVZTqCIQ57E6RSM0v_wZpDRcq-yknCJcMwrmu7u__TQStQpMkjxumB4A9JxopvXS7XnCab35K34aKjepRJQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777051213,
          "updated": 1777051213,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/localCryptoKeyName-RS384-?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: localCryptoKeyName-RS384-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/localCryptoKeyName-RS384-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
