{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-PS384-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-PS384-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-PS384-/dfe0b4ed90e9435e81da30fde35e3066",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wceYh91aUkau65oemgFZun8bD6nQD1cY4CTfm9UslwqznMKpXF2zVD58ZYCa2E4--tIQ_tpewLENnuk5lE5azue0TVCOf_3ifXYsVcEFKOYeDsGYENI8FIsHK46GQz9bfr1mTOYiakfRpQXQ9E3P3CD9G8I9kt22WzNFzcHjRFnnFstvyoPHqJlDU2hnVK_hQ6CIgfJPa1zhj8bB0bdRMTMUQo4O6-yKtTvxg7Jq7JF6KuHJIHlZGPqBoWGlXNKdxoLLHQybDsNpEGfYEZ4rHClP3-lqWHVn2IrFz0plWOhLiZXHPMIO4-VY1Z6fUOPrFL4iiQXiRt5Bv_7g8CvrkQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778587670,
          "updated": 1778587670,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-PS384-/dfe0b4ed90e9435e81da30fde35e3066?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-PS384-/dfe0b4ed90e9435e81da30fde35e3066/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "0l4LGQIGx3h4tKvtYkm0UpyuXVNh_uavUS2WlYfyU1tD4dronxAsDyxnAN80h55g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-PS384-/dfe0b4ed90e9435e81da30fde35e3066",
        "value": "vbXN4QjgdeRUqRZIVRczx3_PG0lsBOmqX3dKYtiz4FRXoNnvLeoOfPS9zyvhD44sGkOlVLR1uJvTDbRZJFcu7XOkrdIBZnsOebYQAagblox2RGbe5Vh0Gwf1CFqVkJ2T0O9F1d3AYA_v6zEqqrEMQSE33bKjY-KdNRBX9_Mi7zBAB975euzn0PkXTf8p5E6UJYdE8LYiTwophQxuOsFecrrwOUIJ-QfTII7LuUJDYNJYgs9FsdCjP408pE_wBgcYSW7Bx5ZsQHyTB6Wda1t1NW0idtRZoJ-EaIzLf6KDhMf3zsSusePWcYmftoDh69O6NkBPp0XP1pr4avbT3vQqxg"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-PS384-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/localCryptoKeyName-PS384-",
        "deletedDate": 1778587675,
        "scheduledPurgeDate": 1779192475,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-PS384-/dfe0b4ed90e9435e81da30fde35e3066",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wceYh91aUkau65oemgFZun8bD6nQD1cY4CTfm9UslwqznMKpXF2zVD58ZYCa2E4--tIQ_tpewLENnuk5lE5azue0TVCOf_3ifXYsVcEFKOYeDsGYENI8FIsHK46GQz9bfr1mTOYiakfRpQXQ9E3P3CD9G8I9kt22WzNFzcHjRFnnFstvyoPHqJlDU2hnVK_hQ6CIgfJPa1zhj8bB0bdRMTMUQo4O6-yKtTvxg7Jq7JF6KuHJIHlZGPqBoWGlXNKdxoLLHQybDsNpEGfYEZ4rHClP3-lqWHVn2IrFz0plWOhLiZXHPMIO4-VY1Z6fUOPrFL4iiQXiRt5Bv_7g8CvrkQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778587670,
          "updated": 1778587670,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/localCryptoKeyName-PS384-?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: localCryptoKeyName-PS384-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/localCryptoKeyName-PS384-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
