{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS384-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS384-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-RS384-/11a7ffde1c624d78af7de4b268226acb",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "6l3TP8DAIHY5CAW7LBH5grU1wnuVvLVFgVmzdEzSTYezgTz5e7BTOO9ujOx4X2Uy577tuzupd4hxWrpSJrM-hR_NHIvqSHqQAisLWeHCo3m_Yf5zgmElvGjyAlHlQTqW_m_031q9Auq1i-W4Yj9yD_6DWu7zosXhxyizxv7vf6NixAtU_66Jzj22WUV-EIO31h7-9n1J-b0rgFQzgOZY7EKh4B4ddFwElyzej-g7Y4AcQOg7K_3E31PNEWOk03AuZGrw_byyqPnnYS9R_PFDfFlwMgCeYR7jOH29wRjjqpVwHDba5EvJs0nU5EC3kl9LT3mDoROJGBfMUb7inETurQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778516023,
          "updated": 1778516023,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS384-/11a7ffde1c624d78af7de4b268226acb?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS384-/11a7ffde1c624d78af7de4b268226acb/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "TIhkXuj1N6MQEvoRynn6PS-r6457Euk0K7ijtEDHgJoifny15et3CoFPYdEWQLXb"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-RS384-/11a7ffde1c624d78af7de4b268226acb",
        "value": "aahmpfh3sBkNOGB4JbmDno1cogQYGdM94Z-56yB0h2GG8Mlc9_L-3u-5HDkqbIPwxPPWFncGyViD3M6c7WgpvwtBKEr4rZuZSaR2rPl2gnwwtdxQEf5c7JkWyxsHrRvtsd45PipLstWLaWrQ6EMOLXYetqUuWDjU1OrDac6MqZvebpV16qqWBDXyNr1d5mdXM1mQpEmGPA8CadmL3ZJk0yYNNhLek76-sxY9zX1LrjzACo5UJWWfJRAvFfRRNMEE02Yp-rlOxhP-kHbtWQHu1FPH6LuiTD1gtfwUOt0RkEPEbSiHzKu7-R8rPVjk-nqfAfgh-SOkZ-fQm8ABiUC-UQ"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-RS384-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/localCryptoKeyName-RS384-",
        "deletedDate": 1778516027,
        "scheduledPurgeDate": 1779120827,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-RS384-/11a7ffde1c624d78af7de4b268226acb",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "6l3TP8DAIHY5CAW7LBH5grU1wnuVvLVFgVmzdEzSTYezgTz5e7BTOO9ujOx4X2Uy577tuzupd4hxWrpSJrM-hR_NHIvqSHqQAisLWeHCo3m_Yf5zgmElvGjyAlHlQTqW_m_031q9Auq1i-W4Yj9yD_6DWu7zosXhxyizxv7vf6NixAtU_66Jzj22WUV-EIO31h7-9n1J-b0rgFQzgOZY7EKh4B4ddFwElyzej-g7Y4AcQOg7K_3E31PNEWOk03AuZGrw_byyqPnnYS9R_PFDfFlwMgCeYR7jOH29wRjjqpVwHDba5EvJs0nU5EC3kl9LT3mDoROJGBfMUb7inETurQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778516023,
          "updated": 1778516023,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/localCryptoKeyName-RS384-?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: localCryptoKeyName-RS384-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/localCryptoKeyName-RS384-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
