{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-PS384-/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-PS384-/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-PS384-/28fd069ed5994bf0b66717badd20a229",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vQe1PDcxl9CV_O7ElTmOMnD3D_dlZJmfrLwyqmVJUevl2gcKtoJ024eBa55LdKFInTQzY_T3PT6nPQCs0XRWgXN_62rBSzyzAyaaBtx8TZ5vBveDrApq-FdKVoTNGZwzmnzSyi1hZt8TwC8LJ9LHdummasLJV5qZdv_iVDRscMtNesR0lsM_w2DZ5N0hiP_n2laorLY3dz-3o1ac-GWf31wIYhskQX8-2mKC8CR385_lImD9yyhWkdlRJJ64vqh98wo1c-f4jKaxuB0hHz0NO39QqfQhl3rEpwHw2Y4d0OZOvUGyTzbYGjEM2JC8JZzmKOr8ByaNDMwaIIwfKCFFmQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1782132251,
          "updated": 1782132251,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-PS384-/28fd069ed5994bf0b66717badd20a229?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-PS384-/28fd069ed5994bf0b66717badd20a229/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "0l4LGQIGx3h4tKvtYkm0UpyuXVNh_uavUS2WlYfyU1tD4dronxAsDyxnAN80h55g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-PS384-/28fd069ed5994bf0b66717badd20a229",
        "value": "eJ_wN2L4uC1ob2BOI-FKD1WD2jhoXc18Mx2aDGhfdkHctO9oVjJJdXw7kVruiOAyn1xjjb9pG-hXRCo72vOOTRbDk7Krs5HMubUSOXkswWioQhKsNXgPVuw2SaWj9mq-Ow-zjh8MBp9Uw4M9mubiJLWMw6YOjGJmrElCASybV_bnGJ4B-1CwaFoQ8INb5SS1yV7v-KEufweq6G_MWzsqztVUFvqgJqqUUjW3rA4l4n6GjpYO5F5KfpBr74lWE3qaZ5l1Y9xO8cmyFHascKH8vq6xlWWwJZNC2uzwEMDRnmBp1G1D3Tu8Ykx8nH1kVGAi9KD_b6oBgjYb93p4hmktYg"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-PS384-?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/localCryptoKeyName-PS384-",
        "deletedDate": 1782132256,
        "scheduledPurgeDate": 1782737056,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-PS384-/28fd069ed5994bf0b66717badd20a229",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vQe1PDcxl9CV_O7ElTmOMnD3D_dlZJmfrLwyqmVJUevl2gcKtoJ024eBa55LdKFInTQzY_T3PT6nPQCs0XRWgXN_62rBSzyzAyaaBtx8TZ5vBveDrApq-FdKVoTNGZwzmnzSyi1hZt8TwC8LJ9LHdummasLJV5qZdv_iVDRscMtNesR0lsM_w2DZ5N0hiP_n2laorLY3dz-3o1ac-GWf31wIYhskQX8-2mKC8CR385_lImD9yyhWkdlRJJ64vqh98wo1c-f4jKaxuB0hHz0NO39QqfQhl3rEpwHw2Y4d0OZOvUGyTzbYGjEM2JC8JZzmKOr8ByaNDMwaIIwfKCFFmQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1782132251,
          "updated": 1782132251,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/localCryptoKeyName-PS384-?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: localCryptoKeyName-PS384-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/localCryptoKeyName-PS384-?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
