{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.EventGrid/systemTopics?api-version=2025-07-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "400212d2-000c-bb00-b63f-84710c7967bb",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "provisioningState": "Succeeded",
              "source": "Sanitized",
              "topicType": "Microsoft.Storage.StorageAccounts",
              "metricResourceId": "c0f74e54-1dde-4c11-b326-be7a3a9becb1"
            },
            "systemData": null,
            "location": "westus",
            "tags": null,
            "id": "/subscriptions/azure_subscription_id/resourceGroups/anna-rg/providers/Microsoft.EventGrid/systemTopics/sys-topic-anna",
            "name": "sys-topic-anna",
            "type": "Microsoft.EventGrid/systemTopics"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
