{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/assistants?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "gpt-4o",
        "name": "my-agent",
        "instructions": "You are a helpful agent"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "16",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "3568bb7e-d5c4-458f-b269-ef8ee65002fe",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.409"
      },
      "ResponseBody": {
        "id": "asst_tCS9rLfYjaPDGdSQV6aIovt1",
        "object": "assistant",
        "created_at": 1747768496,
        "name": "my-agent",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are a helpful agent",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/assistants/asst_tCS9rLfYjaPDGdSQV6aIovt1?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "578",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "4d0317ab-8b2a-41c7-82a6-dd7c549e85db",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.852"
      },
      "ResponseBody": {
        "id": "asst_tCS9rLfYjaPDGdSQV6aIovt1",
        "object": "assistant.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
