{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/assistants?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "gpt-4o",
        "name": "my-agent",
        "instructions": "You are a helpful agent"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "17",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "9d9546b6-935a-459e-bc25-a73d648e2254",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.221"
      },
      "ResponseBody": {
        "id": "asst_jqOK9EPy5TEeHWD0AgUeH4M2",
        "object": "assistant",
        "created_at": 1747727706,
        "name": "my-agent",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are a helpful agent",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/assistants/asst_jqOK9EPy5TEeHWD0AgUeH4M2?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "87",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "ba94b2ff-5824-41d8-8b0c-1e6dfbcbefff",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.330"
      },
      "ResponseBody": {
        "id": "asst_jqOK9EPy5TEeHWD0AgUeH4M2",
        "object": "assistant.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
