{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/assistants?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "gpt-4o",
        "name": "my-agent",
        "instructions": "You are a helpful agent"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "87",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "5c945bf9-d5b7-444e-a821-91330e04415d",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.415"
      },
      "ResponseBody": {
        "id": "asst_AgtAwxpQgEjVD3WsWRs4rNhb",
        "object": "assistant",
        "created_at": 1747727692,
        "name": "my-agent",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are a helpful agent",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/assistants?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "1347",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "81d6b788-bca1-4f9f-84ea-76705fb9cc3e",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.550"
      },
      "ResponseBody": {
        "object": "list",
        "data": [
          {
            "id": "asst_AgtAwxpQgEjVD3WsWRs4rNhb",
            "object": "assistant",
            "created_at": 1747727692,
            "name": "my-agent",
            "description": null,
            "model": "gpt-4o",
            "instructions": "You are a helpful agent",
            "tools": [],
            "top_p": 1.0,
            "temperature": 1.0,
            "tool_resources": {},
            "metadata": {},
            "response_format": "auto"
          },
          {
            "id": "asst_RHztwzcKV9Y4XUw5DTbzvQC0",
            "object": "assistant",
            "created_at": 1747727692,
            "name": "my-agent",
            "description": null,
            "model": "gpt-4o",
            "instructions": "You are a helpful agent",
            "tools": [
              {
                "type": "function",
                "function": {
                  "name": "getCurrentDateTime",
                  "description": "Get current date time",
                  "parameters": {
                    "type": "object",
                    "properties": {}
                  },
                  "strict": false
                }
              }
            ],
            "top_p": 1.0,
            "temperature": 1.0,
            "tool_resources": {},
            "metadata": {},
            "response_format": "auto"
          },
          {
            "id": "asst_hq6350wXfrKQsCcnvHaREB9H",
            "object": "assistant",
            "created_at": 1747727686,
            "name": "my-agent",
            "description": null,
            "model": "gpt-4o",
            "instructions": "You are help[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/assistants/asst_AgtAwxpQgEjVD3WsWRs4rNhb?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "176",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "78f4d761-b455-4288-84cd-3067e6e5a655",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.386"
      },
      "ResponseBody": {
        "id": "asst_AgtAwxpQgEjVD3WsWRs4rNhb",
        "object": "assistant.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
