{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTRelationshipsTestsBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c9c99341-ff8f-4524-9f79-a2183a42f332",
        "traceresponse": "00-ca8ecaeef71e8a0dcc77c0ae32e4bf53-73d5ad53e26cde26-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTRelationshipsTestsBuilding;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTRelationshipsTestsFloor%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "86c67d38-649b-4c39-8c80-c526a5223756",
        "traceresponse": "00-69100fa9995fb90e987824d9470cb433-79dd37bc8045584d-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTRelationshipsTestsFloor;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTRelationshipsTestsRoom%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "932b60cd-acc6-4d31-9082-e323be19e6a1",
        "traceresponse": "00-8a9d68924ed66ed6268fa343727d70a1-7f3d03d806320bc0-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTRelationshipsTestsRoom;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\":\"dtmi:samples:DTRelationshipsTestsBuilding;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"Building\",\"contents\":[{\"@type\":\"Relationship\",\"name\":\"Sanitized\",\"target\":\"dtmi:samples:DTRelationshipsTestsFloor;1\",\"properties\":[{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"boolean\"}]},{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"double\"}]},{\"@id\":\"dtmi:samples:DTRelationshipsTestsFloor;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"Floor\",\"contents\":[{\"@type\":\"Relationship\",\"name\":\"Sanitized\",\"target\":\"dtmi:samples:DTRelationshipsTestsRoom;1\"},{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"double\"}]},{\"@id\":\"dtmi:samples:DTRelationshipsTestsRoom;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"Room\",\"contents\":[{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"double\"},{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"boolean\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "dda1f63a-f497-4b86-8bb0-28102dc93f36",
        "traceresponse": "00-1a846d591498c246ebf9f7183a62f62a-97fd063b14218777-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:samples:DTRelationshipsTestsBuilding;1\",\"description\":{},\"displayName\":{\"en\":\"Building\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-07T06:37:07.5638662+00:00\"},{\"id\":\"dtmi:samples:DTRelationshipsTestsFloor;1\",\"description\":{},\"displayName\":{\"en\":\"Floor\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-07T06:37:07.5638879+00:00\"},{\"id\":\"dtmi:samples:DTRelationshipsTestsRoom;1\",\"description\":{},\"displayName\":{\"en\":\"Room\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-07T06:37:07.5638982+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/DTRelationshipsTestsBuildingTwin?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "9791b7f7-bc1c-479e-8bbc-191bbd6a17be",
        "traceresponse": "00-a6d8d451c9409c5dda607b1b909b04ba-7b225122664eb10d-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID DTRelationshipsTestsBuildingTwin. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/DTRelationshipsTestsFloorTwin?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a9f93905-c710-4d0a-877b-0baf0ae50c9a",
        "traceresponse": "00-05ff136e13f28266f8a864940222a0ad-e9c1dc9973ad627e-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID DTRelationshipsTestsFloorTwin. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/DTRelationshipsTestsRoomTwin?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b34e1138-6db2-4a54-893e-d5491fd40c40",
        "traceresponse": "00-53844f8a712c0cb7ddf1eae95a7352e6-83f38c446fd97164-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID DTRelationshipsTestsRoomTwin. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/DTRelationshipsTestsBuildingTwin?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTRelationshipsTestsBuilding;1"
        },
        "AverageTemperature": 68
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"e7535001-f6ae-4ffe-b359-20b381a4eb4a\"",
        "mise-correlation-id": "6d4a1971-8450-4a3f-8f0f-dd369ce42c86",
        "traceresponse": "00-a3d868ee3e9671bfae26d1f5b95ebc98-9385a6841b722369-01"
      },
      "ResponseBody": {
        "$dtId": "DTRelationshipsTestsBuildingTwin",
        "$etag": "W/\"e7535001-f6ae-4ffe-b359-20b381a4eb4a\"",
        "AverageTemperature": 68,
        "$metadata": {
          "$model": "dtmi:samples:DTRelationshipsTestsBuilding;1",
          "$lastUpdateTime": "2025-05-07T06:37:08.2937526Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-05-07T06:37:08.2937526Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/DTRelationshipsTestsRoomTwin?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTRelationshipsTestsRoom;1"
        },
        "Temperature": 80,
        "IsOccupied": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"ada18751-3aec-4176-927d-815edd93b47d\"",
        "mise-correlation-id": "dd4be330-5cf3-48de-ac14-d049462b1fee",
        "traceresponse": "00-5f6d99f91e87a3fc564a5ac0683093c5-cb0018467204cbe1-01"
      },
      "ResponseBody": {
        "$dtId": "DTRelationshipsTestsRoomTwin",
        "$etag": "W/\"ada18751-3aec-4176-927d-815edd93b47d\"",
        "Temperature": 80,
        "IsOccupied": true,
        "$metadata": {
          "$model": "dtmi:samples:DTRelationshipsTestsRoom;1",
          "$lastUpdateTime": "2025-05-07T06:37:08.5655405Z",
          "Temperature": {
            "lastUpdateTime": "2025-05-07T06:37:08.5655405Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2025-05-07T06:37:08.5655405Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/DTRelationshipsTestsFloorTwin/relationships/FloorContainsRoom?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": "FloorContainsRoom",
        "$sourceId": "DTRelationshipsTestsFloorTwin",
        "$relationshipName": "contains",
        "$targetId": "DTRelationshipsTestsRoomTwin"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"89f357d9-5cb0-4b9a-9301-0957d2d45146\"",
        "mise-correlation-id": "6b29ac48-832c-4a6f-be00-6a79ca670e8b",
        "traceresponse": "00-64371935f53aeb0975072f2003031ba8-c7e451c64b18d739-01"
      },
      "ResponseBody": {
        "$relationshipId": "FloorContainsRoom",
        "$etag": "W/\"89f357d9-5cb0-4b9a-9301-0957d2d45146\"",
        "$sourceId": "DTRelationshipsTestsFloorTwin",
        "$relationshipName": "contains",
        "$targetId": "DTRelationshipsTestsRoomTwin"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTRelationshipsTestsRoom%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "e2b3eb0f-b3f3-4403-9e1e-8b8e5a4a95c4",
        "traceresponse": "00-1b99cfdc682ea2b84e22d201d5da1054-b7fb548c0870104c-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
