{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTRelationshipsTestsBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "4f494cbc-ab48-4908-838e-a7774bff5394",
        "traceresponse": "00-c6af982012933981910e976ba0b5f7e2-265f256bc6d35bf3-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTRelationshipsTestsBuilding;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTRelationshipsTestsFloor%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "2fcbb612-618c-40c4-a87d-743e62671191",
        "traceresponse": "00-dea051fe5c97f6f6aa329f87e316e57d-29631c7dc5ab90d7-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTRelationshipsTestsFloor;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTRelationshipsTestsRoom%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "357ac1fc-2e70-4f24-812f-00e6828bfbcc",
        "traceresponse": "00-deec7e9f70315533675afc83146d78a2-7369b6ead4a331df-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTRelationshipsTestsRoom;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\":\"dtmi:samples:DTRelationshipsTestsBuilding;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"Building\",\"contents\":[{\"@type\":\"Relationship\",\"name\":\"Sanitized\",\"target\":\"dtmi:samples:DTRelationshipsTestsFloor;1\",\"properties\":[{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"boolean\"}]},{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"double\"}]},{\"@id\":\"dtmi:samples:DTRelationshipsTestsFloor;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"Floor\",\"contents\":[{\"@type\":\"Relationship\",\"name\":\"Sanitized\",\"target\":\"dtmi:samples:DTRelationshipsTestsRoom;1\"},{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"double\"}]},{\"@id\":\"dtmi:samples:DTRelationshipsTestsRoom;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"Room\",\"contents\":[{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"double\"},{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"boolean\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "4fb3f73d-7813-47d9-9d74-d8c43669fd22",
        "traceresponse": "00-cb9fb92a8a328cb3949351fdbfa73fed-712138fa4cce8076-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:samples:DTRelationshipsTestsBuilding;1\",\"description\":{},\"displayName\":{\"en\":\"Building\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-07T05:55:24.4037578+00:00\"},{\"id\":\"dtmi:samples:DTRelationshipsTestsFloor;1\",\"description\":{},\"displayName\":{\"en\":\"Floor\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-07T05:55:24.4037803+00:00\"},{\"id\":\"dtmi:samples:DTRelationshipsTestsRoom;1\",\"description\":{},\"displayName\":{\"en\":\"Room\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-07T05:55:24.4037905+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/DTRelationshipsTestsBuildingTwin?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "215fe0cd-e200-4ace-aee0-b42e3e47c81f",
        "traceresponse": "00-1b7cbfcbb32d06055286ef0bdf1c287b-df0e8f3f3b493026-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID DTRelationshipsTestsBuildingTwin. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/DTRelationshipsTestsFloorTwin?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "25f4d662-37b4-4a70-89a0-6b39d3c0115a",
        "traceresponse": "00-758da52afc9f879deba9ac59e206b60e-078c8b989bef94e5-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID DTRelationshipsTestsFloorTwin. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/DTRelationshipsTestsRoomTwin?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b20c2eb0-6e04-40ce-81a5-38981403013d",
        "traceresponse": "00-a413f270230c082168316fbab4480a5e-2e500cbac7734bce-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID DTRelationshipsTestsRoomTwin. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/DTRelationshipsTestsBuildingTwin?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTRelationshipsTestsBuilding;1"
        },
        "AverageTemperature": 68
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"c2d50a49-2e47-43e4-8675-f0a6a246fbb7\"",
        "mise-correlation-id": "aacc7962-9f39-4846-8317-804739758b99",
        "traceresponse": "00-9aaf46921394fe08215356320a853654-91a94026baf3315e-01"
      },
      "ResponseBody": {
        "$dtId": "DTRelationshipsTestsBuildingTwin",
        "$etag": "W/\"c2d50a49-2e47-43e4-8675-f0a6a246fbb7\"",
        "AverageTemperature": 68,
        "$metadata": {
          "$model": "dtmi:samples:DTRelationshipsTestsBuilding;1",
          "$lastUpdateTime": "2025-05-07T05:55:24.9228930Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-05-07T05:55:24.9228930Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/DTRelationshipsTestsRoomTwin?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTRelationshipsTestsRoom;1"
        },
        "Temperature": 80,
        "IsOccupied": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"3f71f169-d6cb-4b76-a301-bcb016dd07d4\"",
        "mise-correlation-id": "6b9be898-44a3-4a85-b88b-d5528dbdf9b9",
        "traceresponse": "00-ef7ff417531c98119b2aa97387a9d194-324ec79b08c8c75a-01"
      },
      "ResponseBody": {
        "$dtId": "DTRelationshipsTestsRoomTwin",
        "$etag": "W/\"3f71f169-d6cb-4b76-a301-bcb016dd07d4\"",
        "Temperature": 80,
        "IsOccupied": true,
        "$metadata": {
          "$model": "dtmi:samples:DTRelationshipsTestsRoom;1",
          "$lastUpdateTime": "2025-05-07T05:55:25.2287104Z",
          "Temperature": {
            "lastUpdateTime": "2025-05-07T05:55:25.2287104Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2025-05-07T05:55:25.2287104Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/DTRelationshipsTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": "BuildingHasFloor",
        "$sourceId": "DTRelationshipsTestsBuildingTwin",
        "$relationshipName": "has",
        "$targetId": "DTRelationshipsTestsFloorTwin",
        "isAccessRestricted": false
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"55581241-9460-4c58-81b3-67983961aa41\"",
        "mise-correlation-id": "d97f70d1-7a38-4cd5-a221-ac62bf9d410f",
        "traceresponse": "00-bbdd98da6adc5465dfa023a379c286e5-19aefd3a170f06e4-01"
      },
      "ResponseBody": {
        "$relationshipId": "BuildingHasFloor",
        "$etag": "W/\"55581241-9460-4c58-81b3-67983961aa41\"",
        "$sourceId": "DTRelationshipsTestsBuildingTwin",
        "$relationshipName": "has",
        "$targetId": "DTRelationshipsTestsFloorTwin",
        "isAccessRestricted": false
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/DTRelationshipsTestsBuildingTwin/incomingrelationships?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "901514f6-ec6a-41b9-b120-ec63a6e43b81",
        "traceresponse": "00-eaaea8622c7002b74a220753688747d8-da630d5656e834bd-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": []
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTRelationshipsTestsRoom%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "1583878e-cea2-451a-b81a-7a6a2298e7c3",
        "traceresponse": "00-66a3fb83a700549ab22b9699d5a7fd00-e34e5c8ba7d3c498-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
