{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTRelationshipsTestsBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "4af9a639-e2a5-4292-bd98-c3ac957cfa07",
        "traceresponse": "00-cd0861fe6ec7633d32afa235426980f4-5352847f7ebd4d58-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTRelationshipsTestsBuilding;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTRelationshipsTestsFloor%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "01b1cdcd-56ab-4468-b425-a4f08d59bc7d",
        "traceresponse": "00-cde0809934e8aae19f257af66b3e4d50-0a179cc8afba8761-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTRelationshipsTestsFloor;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTRelationshipsTestsRoom%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7ae49433-7cda-44c6-977b-deaca185283f",
        "traceresponse": "00-654f47acbf38ce97a684008230f268ab-91af14ca4ebad8db-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTRelationshipsTestsRoom;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\":\"dtmi:samples:DTRelationshipsTestsBuilding;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"Building\",\"contents\":[{\"@type\":\"Relationship\",\"name\":\"Sanitized\",\"target\":\"dtmi:samples:DTRelationshipsTestsFloor;1\",\"properties\":[{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"boolean\"}]},{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"double\"}]},{\"@id\":\"dtmi:samples:DTRelationshipsTestsFloor;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"Floor\",\"contents\":[{\"@type\":\"Relationship\",\"name\":\"Sanitized\",\"target\":\"dtmi:samples:DTRelationshipsTestsRoom;1\"},{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"double\"}]},{\"@id\":\"dtmi:samples:DTRelationshipsTestsRoom;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"Room\",\"contents\":[{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"double\"},{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"boolean\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "47bd8c6d-dccd-4135-9748-4642fe26f838",
        "traceresponse": "00-4a2834e70379239ecf01a6371d7a1039-f30f6a063cd8ae63-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:samples:DTRelationshipsTestsBuilding;1\",\"description\":{},\"displayName\":{\"en\":\"Building\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-08T22:42:19.1312743+00:00\"},{\"id\":\"dtmi:samples:DTRelationshipsTestsFloor;1\",\"description\":{},\"displayName\":{\"en\":\"Floor\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-08T22:42:19.1313099+00:00\"},{\"id\":\"dtmi:samples:DTRelationshipsTestsRoom;1\",\"description\":{},\"displayName\":{\"en\":\"Room\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-08T22:42:19.131329+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/DTRelationshipsTestsBuildingTwin?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "8a00ee25-37fa-40a9-b07d-9bb39d0973e4",
        "traceresponse": "00-ade33d724411a7e36f75639bd8c8b34a-657a00e995d59739-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID DTRelationshipsTestsBuildingTwin. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/DTRelationshipsTestsFloorTwin?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "3021cdd1-d93f-44f1-a097-8c5fa871864c",
        "traceresponse": "00-d3634385c3af95867619f89000572515-386141edb42d17ae-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID DTRelationshipsTestsFloorTwin. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/DTRelationshipsTestsRoomTwin?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "981d2062-7870-49ba-be58-765adff24284",
        "traceresponse": "00-c193d6246e8df3ec97d3893665f6d279-3c6bb51fd5727091-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID DTRelationshipsTestsRoomTwin. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/DTRelationshipsTestsBuildingTwin?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTRelationshipsTestsBuilding;1"
        },
        "AverageTemperature": 68
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"73ff0efb-efe3-4a7c-a168-9491b139ace0\"",
        "mise-correlation-id": "47d16d66-b9fb-4b76-b1d0-51d2f6512a2a",
        "traceresponse": "00-b3653f5f7c7fdb87c2c8f66d27b8e3f7-a36b9a536f9c2e25-01"
      },
      "ResponseBody": {
        "$dtId": "DTRelationshipsTestsBuildingTwin",
        "$etag": "W/\"73ff0efb-efe3-4a7c-a168-9491b139ace0\"",
        "AverageTemperature": 68,
        "$metadata": {
          "$model": "dtmi:samples:DTRelationshipsTestsBuilding;1",
          "$lastUpdateTime": "2025-05-08T22:42:19.5328064Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-05-08T22:42:19.5328064Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/DTRelationshipsTestsRoomTwin?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTRelationshipsTestsRoom;1"
        },
        "Temperature": 80,
        "IsOccupied": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"0bf40147-349f-4fe2-9a44-9df28040cc4c\"",
        "mise-correlation-id": "2ea21a0f-93b9-41c1-b23e-9d2db4ae7200",
        "traceresponse": "00-5402fb7ddace2c91f298c3fd06b53a17-12a89ead44edf9cf-01"
      },
      "ResponseBody": {
        "$dtId": "DTRelationshipsTestsRoomTwin",
        "$etag": "W/\"0bf40147-349f-4fe2-9a44-9df28040cc4c\"",
        "Temperature": 80,
        "IsOccupied": true,
        "$metadata": {
          "$model": "dtmi:samples:DTRelationshipsTestsRoom;1",
          "$lastUpdateTime": "2025-05-08T22:42:19.7430989Z",
          "Temperature": {
            "lastUpdateTime": "2025-05-08T22:42:19.7430989Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2025-05-08T22:42:19.7430989Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/DTRelationshipsTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": "BuildingHasFloor",
        "$sourceId": "DTRelationshipsTestsBuildingTwin",
        "$relationshipName": "has",
        "$targetId": "DTRelationshipsTestsFloorTwin",
        "isAccessRestricted": false
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"bb976008-7ea8-421b-97a7-1b913da90123\"",
        "mise-correlation-id": "a2dbed2d-66b0-4c70-9ece-93c68ab4c974",
        "traceresponse": "00-5ee9ae70f1e2e3d0475050beccd6501b-edf69222b94b2a08-01"
      },
      "ResponseBody": {
        "$relationshipId": "BuildingHasFloor",
        "$etag": "W/\"bb976008-7ea8-421b-97a7-1b913da90123\"",
        "$sourceId": "DTRelationshipsTestsBuildingTwin",
        "$relationshipName": "has",
        "$targetId": "DTRelationshipsTestsFloorTwin",
        "isAccessRestricted": false
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/DTRelationshipsTestsBuildingTwin/relationships?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c0ed97cf-2e22-44be-8a86-e9f6adc1435d",
        "traceresponse": "00-3259fa912c2745f9bafd7eda9252a82f-2e0a556330e268ce-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": [
          {
            "$relationshipId": "BuildingHasFloor",
            "$etag": "W/\"bb976008-7ea8-421b-97a7-1b913da90123\"",
            "$sourceId": "DTRelationshipsTestsBuildingTwin",
            "$relationshipName": "has",
            "$targetId": "DTRelationshipsTestsFloorTwin",
            "isAccessRestricted": false
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTRelationshipsTestsRoom%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "262da299-fb90-440f-ab28-4a1df3a10715",
        "traceresponse": "00-7fef3126efd72a555f3715a013fe7563-7d9d5ac6a7914beb-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
