{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTRelationshipsTestsBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c1d478f6-40aa-449a-8545-d97eda25296c",
        "traceresponse": "00-ab406db60864438744296ddc03099726-67f4418b8272c453-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTRelationshipsTestsBuilding;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTRelationshipsTestsFloor%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "1d423fc3-6925-4c09-982c-eb6d851e010a",
        "traceresponse": "00-4b58c71a2998a57b380f46872a7d37cd-9ef07d13826fd0dc-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTRelationshipsTestsFloor;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTRelationshipsTestsRoom%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "72011a0a-47ae-474a-b9be-aece6289ee4c",
        "traceresponse": "00-784ac40e3a73b93b0ff7b7b3cd11708e-a40ff95696baf87f-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTRelationshipsTestsRoom;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\":\"dtmi:samples:DTRelationshipsTestsBuilding;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"Building\",\"contents\":[{\"@type\":\"Relationship\",\"name\":\"Sanitized\",\"target\":\"dtmi:samples:DTRelationshipsTestsFloor;1\",\"properties\":[{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"boolean\"}]},{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"double\"}]},{\"@id\":\"dtmi:samples:DTRelationshipsTestsFloor;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"Floor\",\"contents\":[{\"@type\":\"Relationship\",\"name\":\"Sanitized\",\"target\":\"dtmi:samples:DTRelationshipsTestsRoom;1\"},{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"double\"}]},{\"@id\":\"dtmi:samples:DTRelationshipsTestsRoom;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"Room\",\"contents\":[{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"double\"},{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"boolean\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "12d78864-a3e6-4c7a-a003-cff49593882c",
        "traceresponse": "00-4df7aec89975f32f3e4451341116112a-fe63ef6d29f63bf1-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:samples:DTRelationshipsTestsBuilding;1\",\"description\":{},\"displayName\":{\"en\":\"Building\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-09T04:33:09.6868194+00:00\"},{\"id\":\"dtmi:samples:DTRelationshipsTestsFloor;1\",\"description\":{},\"displayName\":{\"en\":\"Floor\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-09T04:33:09.6868387+00:00\"},{\"id\":\"dtmi:samples:DTRelationshipsTestsRoom;1\",\"description\":{},\"displayName\":{\"en\":\"Room\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-09T04:33:09.686848+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipsTestsBuildingTwin?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "83055f12-57f9-4a04-b793-7582e1d49dbe",
        "traceresponse": "00-e592236942d24381c4dde56e1b7e5c30-66e3cf71f51f96fe-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID DTRelationshipsTestsBuildingTwin. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipsTestsFloorTwin?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "79fc300a-45f6-4d6c-81bc-21d68a35c920",
        "traceresponse": "00-ca21c6be10eeda30a2f679a1c97f4dca-d4d2401bc27df4a4-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID DTRelationshipsTestsFloorTwin. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipsTestsRoomTwin?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "304c5489-9245-4636-8310-8a7cbf0afe17",
        "traceresponse": "00-9e362dd0c6d5a0254fbb8e1302406050-48481ee11e827644-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID DTRelationshipsTestsRoomTwin. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipsTestsBuildingTwin?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTRelationshipsTestsBuilding;1"
        },
        "AverageTemperature": 68
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"6d601e7f-a56f-457e-befc-ec50c5186cc6\"",
        "mise-correlation-id": "f5c164e5-1c63-4569-b5ea-0af164041616",
        "traceresponse": "00-8870efdfa91f008b2c0e0a3000bc3899-efd4994e1de0b079-01"
      },
      "ResponseBody": {
        "$dtId": "DTRelationshipsTestsBuildingTwin",
        "$etag": "W/\"6d601e7f-a56f-457e-befc-ec50c5186cc6\"",
        "AverageTemperature": 68,
        "$metadata": {
          "$model": "dtmi:samples:DTRelationshipsTestsBuilding;1",
          "$lastUpdateTime": "2025-05-09T04:33:09.9372611Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-05-09T04:33:09.9372611Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipsTestsRoomTwin?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTRelationshipsTestsRoom;1"
        },
        "Temperature": 80,
        "IsOccupied": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"6b89a79a-ae9d-44e2-8075-16fb543b7bb4\"",
        "mise-correlation-id": "b45aa0d1-2308-40f3-9ad3-7d23f9ca2a72",
        "traceresponse": "00-eea0f8a2feccd541b554ddeb9760bf5a-3cc7ed9406c9a14a-01"
      },
      "ResponseBody": {
        "$dtId": "DTRelationshipsTestsRoomTwin",
        "$etag": "W/\"6b89a79a-ae9d-44e2-8075-16fb543b7bb4\"",
        "Temperature": 80,
        "IsOccupied": true,
        "$metadata": {
          "$model": "dtmi:samples:DTRelationshipsTestsRoom;1",
          "$lastUpdateTime": "2025-05-09T04:33:10.1049577Z",
          "Temperature": {
            "lastUpdateTime": "2025-05-09T04:33:10.1049577Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2025-05-09T04:33:10.1049577Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipsTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": "BuildingHasFloor",
        "$sourceId": "DTRelationshipsTestsBuildingTwin",
        "$relationshipName": "has",
        "$targetId": "DTRelationshipsTestsFloorTwin",
        "isAccessRestricted": false
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"df4df790-d8e5-4dd9-b2b3-2f7d957fa7ed\"",
        "mise-correlation-id": "1b4f349e-4537-465b-9a33-7072e7561343",
        "traceresponse": "00-7ecbc2ea3659af189674b3eaa9af0807-49ddc01d90d0239c-01"
      },
      "ResponseBody": {
        "$relationshipId": "BuildingHasFloor",
        "$etag": "W/\"df4df790-d8e5-4dd9-b2b3-2f7d957fa7ed\"",
        "$sourceId": "DTRelationshipsTestsBuildingTwin",
        "$relationshipName": "has",
        "$targetId": "DTRelationshipsTestsFloorTwin",
        "isAccessRestricted": false
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipsTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json-patch+json"
      },
      "RequestBody": "[{\"op\":\"remove\",\"path\":\"/isAccessRestricted\"}]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\"0079525d-b827-49fd-9f61-0448a33dfa7e\"",
        "mise-correlation-id": "cf45e981-e582-4a77-826a-a44c063c40fd",
        "traceresponse": "00-88dd81022d1355b5841bef2682f44619-c72e7286f484c3e6-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTRelationshipsTestsRoom%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "694b4b7b-7a8e-46e4-b40f-d7e6f43c7fd7",
        "traceresponse": "00-4afa360a59b26c16e64b6b987336f4cc-499dd091648850df-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
