{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333942398400617?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE806390BCABB4\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:17:05 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333942398400617/dir177333942520402100?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE806390CB1939\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:17:05 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-03-12T18:17:05.2536121Z",
        "x-ms-file-creation-time": "2026-03-12T18:17:05.2536121Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-03-12T18:17:05.2536121Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8206390892103284347*1817716036125499890",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333942398400617?restype=share&comp=filepermission",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-permission-key": "8206390892103284347*1817716036125499890",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": {
        "permission": "O:SYG:SYD:(A;OICI;FA;;;BA)(A;OICI;FA;;;SY)(A;;0x1200a9;;;BU)(A;OICIIO;GXGR;;;BU)(A;OICI;0x1301bf;;;AU)(A;;FA;;;SY)(A;OICIIO;GA;;;CO)",
        "format": "sddl"
      }
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333942398400617?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir177333942520402100",
    "share": "share177333942398400617"
  }
}
