{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basicf4f5/jobpreparationandreleasetaskstatus?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Wed, 21 Jan 2026 20:16:46 GMT"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element",
        "code": "JobPreparationTaskOrReleaseTaskNotSpecified",
        "message": {
          "lang": "en-US",
          "value": "The specified job does not have either job preparation task or job release task.\nRequestId:ad1e232f-64ad-48d2-9b4d-b78c3a89d56c\nTime:2026-01-21T20:16:46.3421435Z"
        }
      }
    }
  ],
  "Variables": {
    "JOB_NAME": "jssdkJob-Basicf4f5"
  }
}
