{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basic6839/terminate?api-version=2025-06-01&force=true",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Thu, 22 Jan 2026 02:09:01 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basic6839/terminate",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE595B3606D942",
        "Last-Modified": "Thu, 22 Jan 2026 02:09:01 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basic6839?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Thu, 22 Jan 2026 02:09:01 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE595B3606D942",
        "Last-Modified": "Thu, 22 Jan 2026 02:09:01 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#jobs/@Element",
        "id": "jssdkJob-Basic6839",
        "url": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basic6839",
        "eTag": "0x8DE595B3606D942",
        "lastModified": "2026-01-22T02:09:01.6503618Z",
        "creationTime": "2026-01-22T02:08:58.7025551Z",
        "state": "completed",
        "stateTransitionTime": "2026-01-22T02:09:01.693213Z",
        "previousState": "active",
        "previousStateTransitionTime": "2026-01-22T02:09:01.0930775Z",
        "priority": 600,
        "maxParallelTasks": -1,
        "usesTaskDependencies": false,
        "allowTaskPreemption": false,
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "maxTaskRetryCount": 3
        },
        "poolInfo": {
          "poolId": "jssdkPool-Basic15fa"
        },
        "executionInfo": {
          "startTime": "2026-01-22T02:08:58.7335539Z",
          "endTime": "2026-01-22T02:09:01.693213Z",
          "poolId": "jssdkPool-Basic15fa",
          "terminateReason": "UserTerminate"
        },
        "onAllTasksComplete": "noaction",
        "onTaskFailure": "noaction"
      }
    },
[...]
