{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basice605/terminate?api-version=2025-06-01&force=true",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Wed, 21 Jan 2026 19:34:57 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basice605/terminate",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE5924292B219C",
        "Last-Modified": "Wed, 21 Jan 2026 19:34:57 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basice605?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Wed, 21 Jan 2026 19:34:57 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE5924292B219C",
        "Last-Modified": "Wed, 21 Jan 2026 19:34:57 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#jobs/@Element",
        "id": "jssdkJob-Basice605",
        "url": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basice605",
        "eTag": "0x8DE5924292B219C",
        "lastModified": "2026-01-21T19:34:57.7576348Z",
        "creationTime": "2026-01-21T19:34:54.7723897Z",
        "state": "completed",
        "stateTransitionTime": "2026-01-21T19:34:57.8826356Z",
        "previousState": "active",
        "previousStateTransitionTime": "2026-01-21T19:34:57.2325555Z",
        "priority": 600,
        "maxParallelTasks": -1,
        "usesTaskDependencies": false,
        "allowTaskPreemption": false,
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "maxTaskRetryCount": 3
        },
        "poolInfo": {
          "poolId": "jssdkPool-Basicb59d"
        },
        "executionInfo": {
          "startTime": "2026-01-21T19:34:54.794389Z",
          "endTime": "2026-01-21T19:34:57.8826356Z",
          "poolId": "jssdkPool-Basicb59d",
          "terminateReason": "UserTerminate"
        },
        "onAllTasksComplete": "noaction",
        "onTaskFailure": "noaction"
      }
    },
[...]
