{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basic48da/terminate?api-version=2025-06-01&force=true",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Wed, 04 Feb 2026 23:32:01 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basic48da/terminate",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE64459907962D",
        "Last-Modified": "Wed, 04 Feb 2026 23:32:01 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basic48da?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Wed, 04 Feb 2026 23:32:01 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE64459907962D",
        "Last-Modified": "Wed, 04 Feb 2026 23:32:01 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#jobs/@Element",
        "id": "jssdkJob-Basic48da",
        "url": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basic48da",
        "eTag": "0x8DE64459907962D",
        "lastModified": "2026-02-04T23:32:01.6121389Z",
        "creationTime": "2026-02-04T23:31:58.4956079Z",
        "state": "completed",
        "stateTransitionTime": "2026-02-04T23:32:01.6571392Z",
        "previousState": "active",
        "previousStateTransitionTime": "2026-02-04T23:32:01.0572771Z",
        "priority": 600,
        "maxParallelTasks": -1,
        "usesTaskDependencies": false,
        "allowTaskPreemption": false,
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "maxTaskRetryCount": 3
        },
        "poolInfo": {
          "poolId": "jssdkPool-Basic429d"
        },
        "executionInfo": {
          "startTime": "2026-02-04T23:31:58.5166079Z",
          "endTime": "2026-02-04T23:32:01.6571392Z",
          "poolId": "jssdkPool-Basic429d",
          "terminateReason": "UserTerminate"
        },
        "onAllTasksComplete": "noaction",
        "onTaskFailure": "noaction"
      }
    },
[...]
