{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Wed, 21 Jan 2026 19:34:54 GMT"
      },
      "RequestBody": {
        "id": "jssdkJob-Basice605",
        "poolInfo": {
          "poolId": "jssdkPool-Basicb59d"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/jobs/job-1",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE59242766F9D2",
        "Last-Modified": "Wed, 21 Jan 2026 19:34:54 GMT",
        "Location": "https://dummyaccount.eastus.batch.azure.com/jobs/job-1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basice605?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Wed, 21 Jan 2026 19:34:55 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE59242766F9D2",
        "Last-Modified": "Wed, 21 Jan 2026 19:34:54 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#jobs/@Element",
        "id": "jssdkJob-Basice605",
        "url": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basice605",
        "eTag": "0x8DE59242766F9D2",
        "lastModified": "2026-01-21T19:34:54.794389Z",
        "creationTime": "2026-01-21T19:34:54.7723897Z",
        "state": "active",
        "stateTransitionTime": "2026-01-21T19:34:54.794389Z",
        "priority": 0,
        "maxParallelTasks": -1,
        "usesTaskDependencies": false,
        "allowTaskPreemption": false,
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "maxTaskRetryCount": 0
        },
        "poolInfo": {
          "poolId": "jssdkPool-Basicb59d"
        },
        "executionInfo": {
          "startTime": "2026-01-21T19:34:54.794389Z",
          "poolId": "jssdkPool-Basicb59d"
        },
        "onAllTasksComplete": "noaction",
        "onTaskFailure": "noaction"
      }
    }
  ],
  "Variables": {
    "BASIC_POOL": "jssdkPool-Basicb59d",
    "JOB_NAME": "jssdkJob-Basice605"
  }
}
