{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basic48da?api-version=2025-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Wed, 04 Feb 2026 23:31:59 GMT"
      },
      "RequestBody": {
        "priority": 500,
        "constraints": {
          "maxTaskRetryCount": 3
        },
        "poolInfo": {
          "poolId": "jssdkPool-Basic429d"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basic48da",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE6445977D4C10",
        "Last-Modified": "Wed, 04 Feb 2026 23:31:59 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basic48da?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Wed, 04 Feb 2026 23:31:59 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE6445977D4C10",
        "Last-Modified": "Wed, 04 Feb 2026 23:31:59 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#jobs/@Element",
        "id": "jssdkJob-Basic48da",
        "url": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basic48da",
        "eTag": "0x8DE6445977D4C10",
        "lastModified": "2026-02-04T23:31:59.0281232Z",
        "creationTime": "2026-02-04T23:31:58.4956079Z",
        "state": "active",
        "stateTransitionTime": "2026-02-04T23:31:58.5166079Z",
        "priority": 500,
        "maxParallelTasks": -1,
        "usesTaskDependencies": false,
        "allowTaskPreemption": false,
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "maxTaskRetryCount": 3
        },
        "poolInfo": {
          "poolId": "jssdkPool-Basic429d"
        },
        "executionInfo": {
          "startTime": "2026-02-04T23:31:58.5166079Z",
          "poolId": "jssdkPool-Basic429d"
        },
        "onAllTasksComplete": "noaction",
        "onTaskFailure": "noaction"
      }
    }
  ],
  "Variables": {
    "BASIC_POOL": "jssdkPool-Basic429d",
    "JOB_NAME": "jssdkJob-Basic48da"
  }
}
