{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname-secondary.table.core.windows.net/?st=2021-08-03T08:52:15Z&spr=https&sig=fakesigval&restype=service&comp=stats",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceStats><GeoReplication><Status>live</Status><LastSyncTime>Thu, 03 Apr 2025 17:04:49 GMT</LastSyncTime></GeoReplication></StorageServiceStats>"
    }
  ],
  "Variables": {}
}
