{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "982",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "c2719526-2f6a-4534-82e9-76fea7f11553",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.570"
      },
      "ResponseBody": {
        "id": "thread_b1EXm3VE00uOIqXsgR1LZDaj",
        "object": "thread",
        "created_at": 1747977511,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_b1EXm3VE00uOIqXsgR1LZDaj/messages?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "role": "user",
        "content": "hello, world!"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "96",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "523409d5-1ced-4cd9-b0e1-9d630b935394",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.440"
      },
      "ResponseBody": {
        "id": "msg_hL9lJrpiAyzt7ARcqEkuiEAL",
        "object": "thread.message",
        "created_at": 1747977513,
        "assistant_id": null,
        "thread_id": "thread_b1EXm3VE00uOIqXsgR1LZDaj",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "hello, world!",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_b1EXm3VE00uOIqXsgR1LZDaj/messages/msg_hL9lJrpiAyzt7ARcqEkuiEAL?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key": "value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "540",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "3a410e14-5cad-4037-aad0-2d3aa9a1d7de",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.987"
      },
      "ResponseBody": {
        "id": "msg_hL9lJrpiAyzt7ARcqEkuiEAL",
        "object": "thread.message",
        "created_at": 1747977513,
        "assistant_id": null,
        "thread_id": "thread_b1EXm3VE00uOIqXsgR1LZDaj",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "hello, world!",
              "annotations": []
            }
          }
        ],
        "file_ids": [],
        "metadata": {
          "key": "value"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_b1EXm3VE00uOIqXsgR1LZDaj?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "126",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "2bc86923-6b88-4581-8ceb-997c4963a672",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.465"
      },
      "ResponseBody": {
        "id": "thread_b1EXm3VE00uOIqXsgR1LZDaj",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
