{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "141",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "c5f97b99-1526-4cbd-8aee-82bc9344a656",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.246"
      },
      "ResponseBody": {
        "id": "thread_dsZ4Yytr3zWbTtL6mwXzaVb6",
        "object": "thread",
        "created_at": 1746595887,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/threads/thread_dsZ4Yytr3zWbTtL6mwXzaVb6/messages?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "role": "user",
        "content": "hello, world!"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "135",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "923c4760-94c4-416c-bc53-05444571105a",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.256"
      },
      "ResponseBody": {
        "id": "msg_kJPTsYTXB68zgatqSjK7GYv1",
        "object": "thread.message",
        "created_at": 1746595887,
        "assistant_id": null,
        "thread_id": "thread_dsZ4Yytr3zWbTtL6mwXzaVb6",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "hello, world!",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/threads/thread_dsZ4Yytr3zWbTtL6mwXzaVb6/messages/msg_kJPTsYTXB68zgatqSjK7GYv1?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key": "value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "96",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "1c118be2-02ed-483f-bb62-86728418afec",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.246"
      },
      "ResponseBody": {
        "id": "msg_kJPTsYTXB68zgatqSjK7GYv1",
        "object": "thread.message",
        "created_at": 1746595887,
        "assistant_id": null,
        "thread_id": "thread_dsZ4Yytr3zWbTtL6mwXzaVb6",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "hello, world!",
              "annotations": []
            }
          }
        ],
        "file_ids": [],
        "metadata": {
          "key": "value"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/threads/thread_dsZ4Yytr3zWbTtL6mwXzaVb6?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "83",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "bc1d6841-a99c-4e15-b553-76326e2f4dc1",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.187"
      },
      "ResponseBody": {
        "id": "thread_dsZ4Yytr3zWbTtL6mwXzaVb6",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
