{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "73",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "284d2b0f-16ca-4822-876a-70bf0bbe6ab4",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.185"
      },
      "ResponseBody": {
        "id": "thread_PkTF802UOGUwPd4qT0jfFHd5",
        "object": "thread",
        "created_at": 1746661308,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/threads/thread_PkTF802UOGUwPd4qT0jfFHd5/messages?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "role": "user",
        "content": "hello, world!"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "97",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "b19aa98a-13db-4699-a7bc-02349ed52c7e",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.215"
      },
      "ResponseBody": {
        "id": "msg_kNqKZtidA4bad129NnX9udBz",
        "object": "thread.message",
        "created_at": 1746661308,
        "assistant_id": null,
        "thread_id": "thread_PkTF802UOGUwPd4qT0jfFHd5",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "hello, world!",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/threads/thread_PkTF802UOGUwPd4qT0jfFHd5/messages/msg_kNqKZtidA4bad129NnX9udBz?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key": "value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "90",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "b2a9a8b2-48ee-40a4-b3b3-608501f3ad0c",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.228"
      },
      "ResponseBody": {
        "id": "msg_kNqKZtidA4bad129NnX9udBz",
        "object": "thread.message",
        "created_at": 1746661308,
        "assistant_id": null,
        "thread_id": "thread_PkTF802UOGUwPd4qT0jfFHd5",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "hello, world!",
              "annotations": []
            }
          }
        ],
        "file_ids": [],
        "metadata": {
          "key": "value"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/threads/thread_PkTF802UOGUwPd4qT0jfFHd5?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "95",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "12eb9fcc-5581-43cf-9336-0db594dd6c1f",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.237"
      },
      "ResponseBody": {
        "id": "thread_PkTF802UOGUwPd4qT0jfFHd5",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
