{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "77",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "d8cab2ef-d2cd-471a-9925-bb8bb232622e",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.389"
      },
      "ResponseBody": {
        "id": "thread_EuqQgVyKxZ5qOiPBQIFBhIyr",
        "object": "thread",
        "created_at": 1747768368,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_EuqQgVyKxZ5qOiPBQIFBhIyr/messages?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "role": "user",
        "content": "hello, world!"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "224",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "653978f5-799f-4d52-b25a-0d76875a0ed2",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.576"
      },
      "ResponseBody": {
        "id": "msg_1qWDkbOES3uKLO1pbZ3scjgG",
        "object": "thread.message",
        "created_at": 1747768368,
        "assistant_id": null,
        "thread_id": "thread_EuqQgVyKxZ5qOiPBQIFBhIyr",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "hello, world!",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_EuqQgVyKxZ5qOiPBQIFBhIyr?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "198",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "26c87e86-8840-40a5-b878-2b835cc8e71c",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.531"
      },
      "ResponseBody": {
        "id": "thread_EuqQgVyKxZ5qOiPBQIFBhIyr",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
