{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "75",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "70b56c0f-f162-4573-bc4a-34faa5e7da33",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.519"
      },
      "ResponseBody": {
        "id": "thread_DKMejtpE2LcDxj3uZ2BeQBDf",
        "object": "thread",
        "created_at": 1747677553,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_DKMejtpE2LcDxj3uZ2BeQBDf/messages?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "role": "user",
        "content": "hello, world!"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "269",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "39cbedb4-5758-40fb-b5de-06b37e852f73",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.487"
      },
      "ResponseBody": {
        "id": "msg_T1W4EqAVhs0nyg3kbpqWl4gC",
        "object": "thread.message",
        "created_at": 1747677553,
        "assistant_id": null,
        "thread_id": "thread_DKMejtpE2LcDxj3uZ2BeQBDf",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "hello, world!",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_DKMejtpE2LcDxj3uZ2BeQBDf?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "102",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "34eeaefb-b5b8-4ee4-9efd-4e11938bcd0e",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.312"
      },
      "ResponseBody": {
        "id": "thread_DKMejtpE2LcDxj3uZ2BeQBDf",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
