{
  "Entries": [
    {
      "RequestUri": "https://fakepremiumfileaccountname.file.core.windows.net/newshare177333959219608603?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Premium",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE8063F5299107\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:19:53 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakepremiumfileaccountname.file.core.windows.net/?comp=list&prefix=newshare177333959219608603&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://pffakeaccountname.file.core.windows.net/\"><Prefix>newshare177333959219608603</Prefix><Shares><Share><Name>newshare177333959219608603</Name><Properties><Last-Modified>Thu, 12 Mar 2026 18:19:53 GMT</Last-Modified><Etag>\"0x8DE8063F5299107\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>100</Quota><EnabledProtocols>SMB</EnabledProtocols><AccessTier>Premium</AccessTier><EnableSmbDirectoryLease>true</EnableSmbDirectoryLease><ProvisionedIops>3100</ProvisionedIops><ProvisionedBandwidthMiBps>110</ProvisionedBandwidthMiBps><ProvisionedIngressMBps>110</ProvisionedIngressMBps><ProvisionedEgressMBps>110</ProvisionedEgressMBps><NextAllowedQuotaDowngradeTime>Thu, 12 Mar 2026 18:19:53 GMT</NextAllowedQuotaDowngradeTime><PaidBurstingEnabled>false</PaidBurstingEnabled><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share></Shares><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://fakepremiumfileaccountname.file.core.windows.net/newshare177333959219608603?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "newshare": "newshare177333959219608603"
  }
}
