{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e",
        "authorizationSource": "Legacy",
        "managedByTenants": [],
        "subscriptionId": "45b60d85-fd72-427a-a708-f994d26e593e",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "AzureStorage_DMStaging_10041369",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourcegroups/teststorageRG-6714?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-6714",
        "name": "teststorageRG-6714",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.StorageActions?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.StorageActions",
        "namespace": "Microsoft.StorageActions",
        "authorizations": [
          {
            "applicationId": "00000000-0000-0000-0000-000000000000"
          }
        ],
        "resourceTypes": [
          {
            "resourceType": "storageTasks",
            "locations": [
              "Canada Central",
              "France Central",
              "West Europe",
              "West US 2",
              "Australia East",
              "North Central US",
              "Brazil South",
              "North Europe",
              "Central US",
              "Central India",
              "Southeast Asia",
              "West US",
              "Germany West Central",
              "Switzerland North",
              "South Central US",
              "Australia Southeast",
              "East US 2 EUAP",
              "Central US EUAP",
              "East US STG"
            ],
            "apiVersions": [
              "2023-01-01"
            ],
            "defaultApiVersion": "2023-01-01",
            "capabilities": "SystemAssignedResourceIdentity, SupportsTags, SupportsLocation"
          },
          {
            "resourceType": "operations",
            "locations": [
              "Canada Central",
              "France Central",
              "Brazil South",
              "East US 2 EUAP",
              "Central US EUAP",
              "West Europe",
              "West US 2",
              "Australia East",
              "North Central US",
              "North Europe",
              "Central US",
 [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-6714/providers/Microsoft.StorageActions/storageTasks/testtask4779?api-version=2023-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "action": {
            "if": {
              "condition": "[[equals(AccessTier, 'Cool')]]",
              "operations": [
                {
                  "name": "DeleteBlob",
                  "onSuccess": "continue",
                  "onFailure": "break"
                }
              ]
            }
          },
          "enabled": true,
          "description": "test description"
        },
        "identity": {
          "type": "None"
        },
        "location": "eastus2euap"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.StorageActions/locations/eastus2euap/asyncoperations/0865bf11-625a-4483-a526-a6f162eedaf7?monitor=true&api-version=2023-01-01&asynclink=true",
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.StorageActions/locations/eastus2euap/asyncoperations/0865bf11-625a-4483-a526-a6f162eedaf7?monitor=true&api-version=2023-01-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.StorageActions/locations/eastus2euap/asyncoperations/0865bf11-625a-4483-a526-a6f162eedaf7?monitor=true&api-version=2023-01-01&asynclink=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "status": "Succeeded",
        "startTime": "2024-06-14T08:55:09.2646263Z",
        "endTime": "2024-06-14T08:55:09.3740041Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-6714/providers/Microsoft.StorageActions/storageTasks/testtask4779?api-version=2023-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-6714/providers/Microsoft.StorageActions/storageTasks/testtask4779",
        "name": "testtask4779",
        "type": "Microsoft.StorageActions/storageTasks",
        "location": "eastus2euap",
        "identity": {
          "type": "None"
        },
        "properties": {
          "enabled": true,
          "description": "test description",
          "action": {
            "if": {
              "condition": "[[equals(AccessTier, 'Cool')]]",
              "operations": [
                {
                  "name": "DeleteBlob",
                  "onSuccess": "continue",
                  "onFailure": "break"
                }
              ]
            }
          },
          "taskVersion": 1,
          "provisioningState": "Succeeded",
          "creationTimeInUtc": "2024-06-14T08:55:09.2646263Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.Storage/checkNameAvailability?api-version=2023-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "teststoragemgmt6444",
        "type": "Microsoft.Storage/storageAccounts"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "nameAvailable": true
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-6714/providers/Microsoft.Storage/storageAccounts/teststoragemgmt6444?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_LRS"
        },
        "kind": "StorageV2",
        "location": "eastus2euap",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.Storage/locations/eastus2euap/asyncoperations/57d36d58-b572-49f0-a823-a651e4325aba?monitor=true&api-version=2023-05-01&t=638539521184057867&c=MIIIFjCCBv6gAwIBAgITfATTHy5IGyiL_HqW-wAABNMfLjANBgkqhkiG9w0BAQsFADBEMRMwEQYKC[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.Storage/locations/eastus2euap/asyncoperations/57d36d58-b572-49f0-a823-a651e4325aba?monitor=true&api-version=2023-05-01&t=638539521184057867&c=MIIIFjCCBv6gAwIBAgITfATTHy5IGyiL_HqW-wAABNMfLjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwNTA5MDEwODU1WhcNMjUwNTA0MDEwODU1WjCBjDELMAkGA1UEBhMCVVMxCzAJBgN[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.Storage/locations/eastus2euap/asyncoperations/57d36d58-b572-49f0-a823-a651e4325aba?monitor=true&api-version=2023-05-01&t=638539521193474430&c=MIIHpTCCBo2gAwIBAgITOgMPIyvO-SSNo3JCxQAEAw8jKzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNTE3MDc0MzI1WhcNMjUwNTEyMDc0MzI1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJ[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-6714/providers/Microsoft.Storage/storageAccounts/teststoragemgmt6444/storageTaskAssignments/taskAssignement805?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "taskId": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-6714/providers/Microsoft.StorageActions/storageTasks/testtask4779",
          "enabled": false,
          "description": "test storage task assignment 1",
          "executionContext": {
            "target": {
              "prefix": [
                "prefix1",
                "prefix2"
              ],
              "excludePrefix": []
            },
            "trigger": {
              "type": "RunOnce",
              "parameters": {}
            }
          },
          "report": {
            "prefix": "container1"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.Storage/locations/eastus2euap/asyncoperations/6bf35b69-906e-455a-b943-04d95ceb41b5?monitor=true&api-version=2023-05-01&asynclink=true&t=638539521392419428&c=MIIHpTCCBo2gAwIBAgITOgMPIyvO-SSNo3JCxQAEAw8jKzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBG[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.Storage/locations/eastus2euap/asyncoperations/6bf35b69-906e-455a-b943-04d95ceb41b5?monitor=true&api-version=2023-05-01&asynclink=true&t=638539521392419428&c=MIIHpTCCBo2gAwIBAgITOgMPIyvO-SSNo3JCxQAEAw8jKzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNTE3MDc0MzI1WhcNMjUwNTEyMDc0MzI1WjBAMT4wPAYDVQQD[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-6714/providers/Microsoft.Storage/storageAccounts/teststoragemgmt6444/storageTaskAssignments/taskAssignement805/reports?$maxpagesize=3&$filter=startswith%28name%2C%20report%29&api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-6714/providers/Microsoft.Storage/storageAccounts?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "Standard_LRS",
              "tier": "Standard"
            },
            "kind": "StorageV2",
            "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-6714/providers/Microsoft.Storage/storageAccounts/teststoragemgmt6444",
            "name": "teststoragemgmt6444",
            "type": "Microsoft.Storage/storageAccounts",
            "location": "eastus2euap",
            "tags": {
              "key1": "value1",
              "key2": "value2"
            },
            "properties": {
              "keyCreationTime": {
                "key1": "2024-06-14T08:55:16.4523566Z",
                "key2": "2024-06-14T08:55:16.4523566Z"
              },
              "privateEndpointConnections": [],
              "minimumTlsVersion": "TLS1_0",
              "allowBlobPublicAccess": false,
              "networkAcls": {
                "ipv6Rules": [],
                "bypass": "AzureServices",
                "virtualNetworkRules": [],
                "ipRules": [],
                "defaultAction": "Allow"
              },
              "supportsHttpsTrafficOnly": true,
              "encryption": {
                "services": {
                  "file": {
                    "keyType": "Account",
                    "enabled": true,
                    "lastEnabledTime": "2024-06-14T08:55:16.6398460Z"
                  },
                  "blob": {
                    "keyType": "Account",
                    "enabled": true,
                    "lastEnabledTime": "2024-06-14T08:55:16.6398460Z"
                  }
                },
                "keySource": "Microsoft.Storage"
              },
              "accessTier": "Hot",
              "provisioningState": "Succeeded",
              "creationTime": "2024-06-14T08:55:16.2960903Z",
              "primaryEndpoints": {
                "dfs": "https://teststoragemgmt6444.dfs.core.windows.net/",
                "web": "https://teststoragemgmt6444.z3.web.core.windows.net/",
                "blob": "https://teststoragemgmt6444.blob.core.windows.net/",
                "queue": "https://teststoragemgmt6444.queue.core.windows.net/",
                "table": "https://teststoragemgmt6444.table.core.windows.net/",
                "file": "https://teststoragemgmt6444.file.core.windows.net/"
              },
              "primaryLocation": "eastus2euap",
              "statusOfPrimary": "available"
            }
          }
        ]
      }
    },
[...]
