{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Az.Sec.DisableLocalAuth.SqlManagedInstance::OptIn": "all_regions",
          "Az.Sec.DisableLocalAuth.SqlServer.V2::OptIn": "all_regions",
          "ExemptSubFromDeletionProtectionPolicy": "true",
          "ExemptSubFromPublicNetworkAccessPolicy": "true",
          "ExemptSubFromRBACPermissionPolicy": "true",
          "Az.Sec.AnonymousBlobEnforcement::Skip": "true",
          "Az.Sec.DisableLocalAuth.EventHub::OptIn": "all_regions"
        },
        "subscriptionId": "68e5d74d-cc6b-4be6-9606-cd1c77fa55f0",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure Blob Performance",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourcegroups/teststorageRG-5968?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-5968",
        "name": "teststorageRG-5968",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/providers/Microsoft.StorageActions?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/providers/Microsoft.StorageActions",
        "namespace": "Microsoft.StorageActions",
        "authorizations": [
          {
            "applicationId": "00000000-0000-0000-0000-000000000000"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "0881fac0-bc7c-4e67-b578-fea85a50ef97"
          }
        ],
        "resourceTypes": [
          {
            "resourceType": "operations",
            "locations": [],
            "apiVersions": [
              "2023-01-01"
            ],
            "defaultApiVersion": "2023-01-01",
            "capabilities": "None"
          },
          {
            "resourceType": "locations",
            "locations": [],
            "apiVersions": [
              "2023-01-01"
            ],
            "defaultApiVersion": "2023-01-01",
            "capabilities": "None"
          },
          {
            "resourceType": "locations/asyncoperations",
            "locations": [
              "West US",
              "West Europe",
              "North Central US",
              "South Central US",
             [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-5968/providers/Microsoft.StorageActions/storageTasks/testtask9472?api-version=2023-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "properties": {
          "action": {
            "if": {
              "condition": "[[equals(AccessTier, 'Cool')]]",
              "operations": [
                {
                  "name": "DeleteBlob",
                  "onSuccess": "continue",
                  "onFailure": "break"
                }
              ]
            }
          },
          "enabled": true,
          "description": "test description"
        },
        "identity": {
          "type": "None"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/providers/Microsoft.StorageActions/locations/EASTUS2/operationStatuses/8a2d901f-594f-4225-8a6e-c29abce5b20a*BE5DDF45FDB08C070D9AEA89F1085AD87620AD1E85E61261B0FD16C5097330BA?api-version=2023-01-01&t=639143489532950869&c=MIIHxDCCBqygAwIBAgIRAJbrgketDbWHLEx1EpPCeH4wDQYJKoZIhvcNAQELBQAwNTEzMDEGA1UEAxMqQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgQ1VTIENBIDAxMB4XDTI2MDQwODAwMDQ1MloXDTI2MTAwMzA2MDQ1MlowQDE-MDwGA1UEAxM1YXN[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/providers/Microsoft.StorageActions/locations/EASTUS2/operationStatuses/8a2d901f-594f-4225-8a6e-c29abce5b20a*BE5DDF45FDB08C070D9AEA89F1085AD87620AD1E85E61261B0FD16C5097330BA?api-version=2023-01-01&t=639143489532950869&c=MIIHxDCCBqygAwIBAgIRAJbrgketDbWHLEx1EpPCeH4wDQYJKoZIhvcNAQELBQAwNTEzMDEGA1UEAxMqQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgQ1VTIENBIDAxMB4XDTI2MDQwODAwMDQ1MloXDTI2MTAwMzA2MD[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-5968/providers/Microsoft.StorageActions/storageTasks/testtask9472?api-version=2023-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"01004b11-0000-0600-0000-6a059a9e0000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-5968/providers/Microsoft.StorageActions/storageTasks/testtask9472",
        "name": "testtask9472",
        "type": "microsoft.storageactions/storagetasks",
        "location": "eastus2",
        "tags": {},
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2026-05-14T09:49:12.2482112Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2026-05-14T09:49:12.2482112Z"
        },
        "identity": {
          "type": "None"
        },
        "properties": {
          "taskVersion": 1,
          "enabled": true,
          "description": "test description",
          "action": {
            "if": {
              "condition": "[[equals(AccessTier, 'Cool')]]",
              "operations": [
                {
                  "name": "DeleteBlob",
                  "onSuccess": "continue",
                  "onFailure": "break"
                }
              ]
            }
          },
          "provisioningState": "Succeeded",
          "creationTimeInUtc": "2026-05-14T09:49:18.3631655Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/providers/Microsoft.Storage/checkNameAvailability?api-version=2025-08-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "teststoragemgmt597",
        "type": "Microsoft.Storage/storageAccounts"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "nameAvailable": true
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-5968/providers/Microsoft.Storage/storageAccounts/teststoragemgmt597?api-version=2025-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_LRS"
        },
        "kind": "StorageV2",
        "location": "eastus2",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/providers/Microsoft.Storage/locations/eastus2/asyncoperations/475698ad-94f0-4258-a8f3-2e525ef70c49?monitor=true&api-version=2025-08-01&t=639143489637161256&c=MIIHxDCCBqygAwIBAgIRAJbrgketDbWHLEx1EpPCeH4wDQYJKoZIhvcNAQELBQAwNTEzMDEGA1UEAxMqQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgQ1VTIENBIDAxMB4XDTI2MDQwODAwMDQ1MloXDTI2MTAwMzA2MDQ1MlowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlbWVudC5henVy[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/providers/Microsoft.Storage/locations/eastus2/asyncoperations/475698ad-94f0-4258-a8f3-2e525ef70c49?monitor=true&api-version=2025-08-01&t=639143489637161256&c=MIIHxDCCBqygAwIBAgIRAJbrgketDbWHLEx1EpPCeH4wDQYJKoZIhvcNAQELBQAwNTEzMDEGA1UEAxMqQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgQ1VTIENBIDAxMB4XDTI2MDQwODAwMDQ1MloXDTI2MTAwMzA2MDQ1MlowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWN[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/providers/Microsoft.Storage/locations/eastus2/asyncoperations/475698ad-94f0-4258-a8f3-2e525ef70c49?monitor=true&api-version=2025-08-01&t=639143489639457322&c=MIIHlDCCBnygAwIBAgIQAcfN_Jd6ViGd1-EkFH97aDANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDQwOTA0MzUxMFoXDTI2MTAwNDEwMzUxMFowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWN[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-5968/providers/Microsoft.Storage/storageAccounts/teststoragemgmt597/reports?api-version=2025-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "8eeac82a-2f51-42cf-8d65-d2c9a21f33c9",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-5968/providers/Microsoft.Storage/storageAccounts?api-version=2025-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "7b670a54-cab9-4da0-8a3b-c7152efe6dd8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "Standard_LRS",
              "tier": "Standard"
            },
            "kind": "StorageV2",
            "id": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-5968/providers/Microsoft.Storage/storageAccounts/teststoragemgmt597",
            "name": "teststoragemgmt597",
            "type": "Microsoft.Storage/storageAccounts",
            "location": "eastus2",
            "tags": {
              "key1": "value1",
              "key2": "value2"
            },
            "properties": {
              "allowCrossTenantDelegationSas": false,
              "keyCreationTime": {
                "key1": "2026-05-14T09:49:20.5945541Z",
                "key2": "2026-05-14T09:49:20.5945541Z"
              },
              "allowCrossTenantReplication": false,
              "privateEndpointConnections": [],
              "isAttributeBasedAccessControlEnabled": false,
              "minimumTlsVersion": "TLS1_2",
              "allowBlobPublicAccess": true,
              "networkAcls": {
                "ipv6Rules": [],
                "bypass": "AzureServices",
                "virtualNetworkRules": [],
                "ipRules": [],
                "defaultAction": "Allow"
              },
              "supportsHttpsTrafficOnly": true,
              "encryption": {
                "services": {
                  "file": {
                    "keyType": "Account",
                    "enabled": true,
                    "lastEnabledTime": "2026-05-14T09:49:20.6047758Z"
                  },
                  "blob": {
                    "keyType": "Account",
                    "enabled": true,
                    "lastEnabledTime": "2026-05-14T09:49:20.6047758Z"
                  }
                },
                "keySource": "Microsoft.Storage"
              },
              "accessTier": "Hot",
              "provisioningState": "Succeeded",
              "creationTime": "2026-05-14T09:49:20.2016833Z",
              "primaryEndpoints": {
                "dfs": "https://teststoragemgmt597.dfs.core.windows.net/",
                "web": "https://teststoragemgmt597.z20.web.core.windows.net/",
                "blob": "https://teststoragemgmt597.blob.core.windows.net/",
                "queue": "https://teststoragemgmt597.queue.core.windows.net/",
                "table": "https://teststoragemgmt597.table.core.windows.net/",
                "file": "https://teststoragemgmt597.file.core.windows.net/"
              },
              "primaryLocation": "eastus2",
              "statusOfPrimary": "available"
            }
          }
        ]
      }
    },
[...]
