{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8888/providers/Microsoft.DataFactory/factories/datafactory-2578?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11989"
      },
      "ResponseBody": {
        "name": "DataFactory-2578",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8888/providers/Microsoft.DataFactory/factories/datafactory-2578",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-02T18:52:41.0838097Z",
          "version": "2018-06-01",
          "factoryStatistics": {
            "totalResourceCount": 0,
            "maxAllowedResourceCount": 0,
            "factorySizeInGbUnits": 0,
            "maxAllowedFactorySizeInGbUnits": 0
          }
        },
        "eTag": "\u00225601a3f1-0000-0800-0000-6543eff90000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8888/providers/Microsoft.DataFactory/factories/datafactory-2578/managedVirtualNetworks/managedVirtualNetwork-9455?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1190"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8888/providers/Microsoft.DataFactory/factories/datafactory-2578/managedvirtualnetworks/managedVirtualNetwork-9455",
        "name": "managedVirtualNetwork-9455",
        "type": "Microsoft.DataFactory/factories/managedvirtualnetworks",
        "properties": {
          "vNetId": "eaadb5bc-3603-4591-8160-9ee8308dc23d",
          "preventDataExfiltration": false,
          "alias": "datafactory-2578"
        },
        "etag": "00002b19-0000-0800-0000-6543effc0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8888/providers/Microsoft.DataFactory/factories/datafactory-2578/managedVirtualNetworks/managedVirtualNetwork-9455?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8888/providers/Microsoft.DataFactory/factories/datafactory-2578/managedvirtualnetworks/managedVirtualNetwork-9455",
        "name": "managedVirtualNetwork-9455",
        "type": "Microsoft.DataFactory/factories/managedvirtualnetworks",
        "properties": {
          "vNetId": "eaadb5bc-3603-4591-8160-9ee8308dc23d",
          "preventDataExfiltration": false,
          "alias": "datafactory-2578"
        },
        "etag": "00002b19-0000-0800-0000-6543effc0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "949643716",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
