{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169744648828709688?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 08:54:48 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCE258DB6729C\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 08:54:48 GMT",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169744648828709688/blob169744648843103680",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 16 Oct 2023 08:54:48 GMT",
        "x-ms-tags": "tag1=val1\u0026tag2=val2",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCE258DC9343D\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 08:54:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-08-03",
        "x-ms-version-id": "2023-10-16T08:54:49.0942525Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169744648828709688/blob169744648843103680?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 08:54:48 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCE258DC9343D\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 08:54:49 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2023-10-16T08:54:49.2401697Z",
        "x-ms-version": "2023-08-03",
        "x-ms-version-id": "2023-10-16T08:54:49.2411697Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169744648828709688?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 16 Oct 2023 08:54:48 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": "\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\u003CSignedIdentifiers/\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCE258DF48EC3\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 08:54:49 GMT",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169744648828709688/destPageBlob169744651887100518?comp=incrementalcopy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 08:55:18 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCE259FF42894\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 08:55:19 GMT",
        "x-ms-copy-id": "fb58d2c9-92bb-4301-a2b8-46094f5b7410",
        "x-ms-copy-status": "pending",
        "x-ms-version": "2023-08-03",
        "x-ms-version-id": "2023-10-16T08:55:19.5747476Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169744648828709688/destPageBlob169744651887100518?comp=copy\u0026copyid=fb58d2c9-92bb-4301-a2b8-46094f5b7410",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-action": "abort",
        "x-ms-date": "Mon, 16 Oct 2023 08:55:19 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "NoPendingCopyOperation",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ENoPendingCopyOperation\u003C/Code\u003E\u003CMessage\u003EThere is currently no pending copy operation.\n",
        "RequestId:a35b63b8-401e-006e-1e0e-00c60e000000\n",
        "Time:2023-10-16T08:55:19.7886708Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169744648828709688/destPageBlob169744651887100518?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Mon, 16 Oct 2023 08:55:19 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": "\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003Etag1\u003C/Key\u003E\u003CValue\u003Eval1\u003C/Value\u003E\u003C/Tag\u003E\u003CTag\u003E\u003CKey\u003Etag2\u003C/Key\u003E\u003CValue\u003Eval2\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169744648828709688/destPageBlob169744651887100518?comp=incrementalcopy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 08:55:19 GMT",
        "x-ms-if-tags": "tag1 = \u0027val2\u0027",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:a35b64e9-401e-006e-360e-00c60e000000\n",
        "Time:2023-10-16T08:55:20.2373714Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169744648828709688?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 08:55:19 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob169744648843103680",
    "container": "container169744648828709688",
    "destPageBlob": "destPageBlob169744651887100518"
  }
}
