{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 21 Nov 2023 09:25:12 GMT"
      },
      "RequestBody": {
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "outbound",
          "sms": "none"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview",
        "Location": "Sanitized",
        "MS-CV": "RTWV8NUOcEeil2jqtgxgTQ.0",
        "operation-id": "search_3ab856a0-42e3-4795-8a6e-59e205982730",
        "Operation-Location": "/phoneNumbers/operations/search_3ab856a0-42e3-4795-8a6e-59e205982730?api-version=2022-12-01",
        "search-id": "3ab856a0-42e3-4795-8a6e-59e205982730",
        "X-Processing-Time": "2740ms"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/search_3ab856a0-42e3-4795-8a6e-59e205982730?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 21 Nov 2023 09:25:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "Sanitized",
        "MS-CV": "4f9NEoDdw064fBl91tfu7g.0",
        "X-Processing-Time": "467ms"
      },
      "ResponseBody": {
        "operationType": "search",
        "status": "succeeded",
        "resourceLocation": "/availablePhoneNumbers/searchResults/3ab856a0-42e3-4795-8a6e-59e205982730?api-version=2022-12-01",
        "createdDateTime": "2023-11-21T09:25:13.924691\u002B00:00",
        "id": "search_3ab856a0-42e3-4795-8a6e-59e205982730",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/3ab856a0-42e3-4795-8a6e-59e205982730?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 21 Nov 2023 09:25:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "czoESGLldUebCC/doOPKaA.0",
        "X-Processing-Time": "1623ms"
      },
      "ResponseBody": {
        "searchId": "3ab856a0-42e3-4795-8a6e-59e205982730",
        "phoneNumbers": [
          "Sanitized"
        ],
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "outbound",
          "sms": "none"
        },
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        },
        "searchExpiresBy": "2023-11-21T09:41:15.3310999\u002B00:00",
        "error": "NoError"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/3ab856a0-42e3-4795-8a6e-59e205982730?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 21 Nov 2023 09:25:20 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "C\u002BEw583WnUy1i0zXMrFwAA.0",
        "X-Processing-Time": "773ms"
      },
      "ResponseBody": {
        "searchId": "3ab856a0-42e3-4795-8a6e-59e205982730",
        "phoneNumbers": [
          "Sanitized"
        ],
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "outbound",
          "sms": "none"
        },
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        },
        "searchExpiresBy": "2023-11-21T09:41:15.3310999\u002B00:00",
        "error": "NoError"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1869333282"
  }
}
