{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries?api-version=2024-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 05 Apr 2024 12:59:43 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-08-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "oRgCgGSq50qIpzonvEIFdQ.0",
        "X-Processing-Time": "2830ms"
      },
      "ResponseBody": {
        "countries": [
          {
            "localizedName": "Argentina",
            "countryCode": "AR"
          },
          {
            "localizedName": "Austria",
            "countryCode": "AT"
          },
          {
            "localizedName": "Belgium",
            "countryCode": "BE"
          },
          {
            "localizedName": "Brazil",
            "countryCode": "BR"
          },
          {
            "localizedName": "Canada",
            "countryCode": "CA"
          },
          {
            "localizedName": "Chile",
            "countryCode": "CL"
          },
[...]
