{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries?api-version=2024-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 05 Apr 2024 12:59:46 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-08-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "GxU71i4ockafTDJwHb/5Yw.0",
        "X-Processing-Time": "2289ms"
      },
      "ResponseBody": {
        "countries": [
          {
            "localizedName": "Argentina",
            "countryCode": "AR"
          },
          {
            "localizedName": "Austria",
            "countryCode": "AT"
          },
          {
            "localizedName": "Belgium",
            "countryCode": "BE"
          },
          {
            "localizedName": "Brazil",
            "countryCode": "BR"
          },
          {
            "localizedName": "Canada",
            "countryCode": "CA"
          },
          {
            "localizedName": "Chile",
            "countryCode": "CL"
          },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries?maxPageSize=20\u0026api-version=2024-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 05 Apr 2024 12:59:49 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-12-01, 2022-12-02-preview2,[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries?maxPageSize=20\u0026api-version=2024-05-01-preview\u0026skip=20",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 05 Apr 2024 12:59:51 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-12-01, 2022-12[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries?maxPageSize=20\u0026api-version=2024-05-01-preview\u0026skip=40",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 05 Apr 2024 12:59:53 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-08-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "eJAx66IAsk21l3AIiwPSAg.0",
        "X-Processing-Time": "2126ms"
      },
      "ResponseBody": {
        "countries": [],
        "nextLink": null
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "428576659"
  }
}
