{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 16 Jan 2024 21:35:38 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "lv6llULbJUaobs88rD7QJQ.0",
        "X-Processing-Time": "1783ms"
      },
      "ResponseBody": {
        "countries": [
          {
            "localizedName": "Argentina",
            "countryCode": "AR"
          },
          {
            "localizedName": "Austria",
            "countryCode": "AT"
          },
          {
            "localizedName": "Belgium",
            "countryCode": "BE"
          },
          {
            "localizedName": "Brazil",
            "countryCode": "BR"
          },
          {
            "localizedName": "Canada",
            "countryCode": "CA"
          },
          {
            "localizedName": "Chile",
            "countryCode": "CL"
          },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries?maxPageSize=20\u0026api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 16 Jan 2024 21:35:40 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-12-01, 2022-12-02-preview2,[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries?maxPageSize=20\u0026api-version=2023-10-01-preview\u0026skip=20",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 16 Jan 2024 21:35:42 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-12-01, 2022-12[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries?maxPageSize=20\u0026api-version=2023-10-01-preview\u0026skip=40",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 16 Jan 2024 21:35:44 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "nVBIOA97/0KdDBnB\u002BAVDIg.0",
        "X-Processing-Time": "1946ms"
      },
      "ResponseBody": {
        "countries": [],
        "nextLink": null
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "171327838"
  }
}
