{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/localities?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 16 Jan 2024 21:34:17 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "VrlcVLzC90i5/oLT8DtFFg.0",
        "X-Processing-Time": "303ms"
      },
      "ResponseBody": {
        "phoneNumberLocalities": [
          {
            "localizedName": "Birmingham",
            "administrativeDivision": {
              "localizedName": "AL",
              "abbreviatedName": "AL"
            }
          },
          {
            "localizedName": "Huntsville",
            "administrativeDivision": {
              "localizedName": "AL",
              "abbreviatedName": "AL"
            }
          },
          {
            "localizedName": "Phoenix",
            "administrativeDivision": {
              "localizedName": "AZ",
              "abbreviatedName": "AZ"
            }
          },
          {
            "localizedName": "Los Angeles",
            "administrativeDivision": {
              "localizedName": "CA",
              "abbreviatedName": "CA"
            }
          },
          {
            "localizedName": "New York City",
            "administrativeDivision": {
              "localizedName": "NY",
              "abbreviatedName": "NY"
            }
          },
          {
            "localizedName": "Dallas",
            "administrativeDivision": {
              "localizedName": "TX",
              "abbreviatedName": "TX"
            }
          },
          {
            "localizedName": "Seattle",
            "administrativeDivision": {
              "localizedName": "WA",
              "abbreviatedName": "WA"
            }
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/areaCodes?phoneNumberType=geographic\u0026assignmentType=person\u0026locality=Birmingham\u0026administrativeDivision=AL\u0026api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 16 Jan 2024 21:34:17 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "6iyryqu\u002Bx0CU5NXlbcA4hQ.0",
        "X-Processing-Time": "1029ms"
      },
      "ResponseBody": {
        "areaCodes": [
          {
            "areaCode": "205"
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1815247503"
  }
}
