{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/localities?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 10 Nov 2023 10:47:41 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "zvyA38pQlEKghQk\u002BgCFqgw.0",
        "X-Processing-Time": "779ms"
      },
      "ResponseBody": {
        "phoneNumberLocalities": [
          {
            "localizedName": "Anchorage",
            "administrativeDivision": {
              "localizedName": "AK",
              "abbreviatedName": "AK"
            }
          },
          {
            "localizedName": "Birmingham",
            "administrativeDivision": {
              "localizedName": "AL",
              "abbreviatedName": "AL"
            }
          },
          {
            "localizedName": "Huntsville",
            "administrativeDivision": {
              "localizedName": "AL",
              "abbreviatedName": "AL"
            }
          },
          {
            "localizedName": "Mobile",
            "administr[...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/areaCodes?phoneNumberType=geographic\u0026assignmentType=person\u0026locality=Anchorage\u0026administrativeDivision=AK\u0026api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 10 Nov 2023 10:47:42 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "/C2UP6NZ/EG1fZpcQssMVQ.0",
        "X-Processing-Time": "3062ms"
      },
      "ResponseBody": {
        "areaCodes": [
          {
            "areaCode": "907"
          }
        ],
        "nextLink": null
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/areaCodes?phoneNumberType=geographic\u0026maxPageSize=1\u0026assignmentType=person\u0026locality=Anchorage\u0026administrativeDivision=AK\u0026api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 10 Nov 2023 10:47:47 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "\u002B1WtVMJq\u002BEuIc8xfbXM31g.0",
        "X-Processing-Time": "2986ms"
      },
      "ResponseBody": {
        "areaCodes": [
          {
            "areaCode": "907"
          }
        ],
        "nextLink": "/availablePhoneNumbers/countries/US/areaCodes?phoneNumberType=geographic\u0026maxPageSize=1\u0026assignmentType=person\u0026locality=Anchorage\u0026administrativeDivision=AK\u0026api-version=2022-12-01\u0026skip=1"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/areaCodes?phoneNumberType=geographic\u0026maxPageSize=1\u0026assignmentType=person\u0026locality=Anchorage\u0026administrativeDivision=AK\u0026api-version=2022-12-01\u0026skip=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 10 Nov 2023 10:47:50 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "zqfCPZEuU02L\u002BskZ71MBvQ.0",
        "X-Processing-Time": "2988ms"
      },
      "ResponseBody": {
        "areaCodes": [],
        "nextLink": "/availablePhoneNumbers/countries/US/areaCodes?phoneNumberType=geographic\u0026maxPageSize=1\u0026assignmentType=person\u0026locality=Anchorage\u0026administrativeDivision=AK\u0026api-version=2022-12-01\u0026skip=2"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "222050158"
  }
}
