{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/localities?api-version=2024-01-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 16 Jan 2024 21:34:23 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "6RxX5hEjK0O2CFKEyvhKXw.0",
        "X-Processing-Time": "286ms"
      },
      "ResponseBody": {
        "phoneNumberLocalities": [
          {
            "localizedName": "Birmingham",
            "administrativeDivision": {
              "localizedName": "AL",
              "abbreviatedName": "AL"
            }
          },
          {
            "localizedName": "Huntsville",
            "administrativeDivision": {
              "localizedName": "AL",
              "abbreviatedName": "AL"
            }
          },
          {
            "localizedName": "Phoenix",
            "administrativeDivision": {
              "localizedName": "AZ",
              "abbreviatedName": "AZ"
            }
          },
          {
            "localizedName": "Los Angeles",
            "administrativeDivision": {
              "localizedName": "CA",
              "abbreviatedName": "CA"
            }
          },
          {
            "localizedName": "New York City",
            "administrativeDivision": {
              "localizedName": "NY",
              "abbreviatedName": "NY"
            }
          },
          {
            "localizedName": "Dallas",
            "administrativeDivision": {
              "localizedName": "TX",
              "abbreviatedName": "TX"
            }
          },
          {
            "localizedName": "Seattle",
            "administrativeDivision": {
              "localizedName": "WA",
              "abbreviatedName": "WA"
            }
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/localities?maxPageSize=3\u0026api-version=2024-01-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 16 Jan 2024 21:34:24 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-12-01, 2022-12[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/localities?maxPageSize=3\u0026api-version=2024-01-31-preview\u0026skip=3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 16 Jan 2024 21:34:24 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-12[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/localities?maxPageSize=3\u0026api-version=2024-01-31-preview\u0026skip=6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 16 Jan 2024 21:34:24 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "PeiQ/wzCZUG66GugFIHzrg.0",
        "X-Processing-Time": "287ms"
      },
      "ResponseBody": {
        "phoneNumberLocalities": [
          {
            "localizedName": "Seattle",
            "administrativeDivision": {
              "localizedName": "WA",
              "abbreviatedName": "WA"
            }
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1197209116"
  }
}
