{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/offerings?phoneNumberType=tollFree\u0026assignmentType=application\u0026api-version=2024-01-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 21 Nov 2023 09:26:14 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "2oLQUyupJ0ybLheovI0r6g.0",
        "X-Processing-Time": "1076ms"
      },
      "ResponseBody": {
        "phoneNumberOfferings": [
          {
            "phoneNumberType": "tollFree",
            "assignmentType": "application",
            "availableCapabilities": {
              "calling": "inbound\u002Boutbound",
              "sms": "inbound\u002Boutbound"
            },
            "cost": {
              "amount": 2.0,
              "currencyCode": "USD",
              "billingFrequency": "monthly"
            }
          },
          {
            "phoneNumberType": "tollFree",
            "assignmentType": "application",
            "availableCapabilities": {
              "calling": "inbound\u002Boutbound",
              "sms": "none"
            },
            "cost": {
              "amount": 2.0,
              "currencyCode": "USD",
              "billingFrequency": "monthly"
            }
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1592588595"
  }
}
