{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 10 Nov 2023 10:48:10 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sc\u002BAu28RDUWtR7q0EVdoTA.0",
        "X-Processing-Time": "1606ms"
      },
      "ResponseBody": {
        "phoneNumbers": [
          {
            "id": "Sanitized",
            "phoneNumber": "Sanitized",
            "countryCode": "US",
            "phoneNumberType": "geographic",
            "capabilities": {
              "calling": "inbound\u002Boutbound",
              "sms": "none"
            },
            "assignmentType": "person",
            "purchaseDate": "2023-11-10T08:58:56.2621568\u002B00:00",
            "cost": {
              "amount": 1.0,
              "currencyCode": "USD",
              "billingFrequency": "monthly"
            }
          },
          {
            "id": "Sanitized",
            "phoneNumber": "Sanitized",
            "countryCode": "US",
            "phoneNumberType": "tollFree",
            "capabilities": {
              "calling": "outbound",
              "sms": "inbound\u002Boutbound"
            },
            "assignmentType": "application",
            "purchaseDate": "2023-11-10T09:57:45.4485137\u002B00:00",
            "cost": {
              "amount": 2.0,
              "currencyCode": "USD",
              "billingFrequency": "monthly"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers?top=1\u0026api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 10 Nov 2023 10:48:12 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "YM\u002B\u002BJAaTaUacYArRbNgDMA.0",
        "X-Processing-Time": "1625ms"
      },
      "ResponseBody": {
        "phoneNumbers": [
          {
            "id": "Sanitized",
            "phoneNumber": "Sanitized",
            "countryCode": "US",
            "phoneNumberType": "geographic",
            "capabilities": {
              "calling": "inbound\u002Boutbound",
              "sms": "none"
            },
            "assignmentType": "person",
            "purchaseDate": "2023-11-10T08:58:56.2621568\u002B00:00",
            "cost": {
              "amount": 1.0,
              "currencyCode": "USD",
              "billingFrequency": "monthly"
            }
          }
        ],
        "nextLink": "/phoneNumbers?top=1\u0026api-version=2022-12-01\u0026skip=1"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers?top=1\u0026api-version=2022-12-01\u0026skip=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 10 Nov 2023 10:48:14 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "0\u002Bqxjd92U0aeQHb26IvKCw.0",
        "X-Processing-Time": "1628ms"
      },
      "ResponseBody": {
        "phoneNumbers": [
          {
            "id": "Sanitized",
            "phoneNumber": "Sanitized",
            "countryCode": "US",
            "phoneNumberType": "tollFree",
            "capabilities": {
              "calling": "outbound",
              "sms": "inbound\u002Boutbound"
            },
            "assignmentType": "application",
            "purchaseDate": "2023-11-10T09:57:45.4485137\u002B00:00",
            "cost": {
              "amount": 2.0,
              "currencyCode": "USD",
              "billingFrequency": "monthly"
            }
          }
        ],
        "nextLink": "/phoneNumbers?top=1\u0026api-version=2022-12-01\u0026skip=2"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers?top=1\u0026api-version=2022-12-01\u0026skip=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 10 Nov 2023 10:48:15 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "0MmK/zLDwUiBhiphz2wLOA.0",
        "X-Processing-Time": "478ms"
      },
      "ResponseBody": {
        "phoneNumbers": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "2047267061"
  }
}
