{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/01234567-0123-0123-0123-0123456789AB?api-version=package-preview-2024-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 16 Jan 2024 23:07:39 GMT"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "AgcgcH5PPEOVF79O\u002BK0E0A.0",
        "X-Processing-Time": "0ms"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidApiVersion",
          "message": "The HTTP resource that matches the request URI \u0027https://smstestapp.unitedstates.communication.azure.com/availablePhoneNumbers/searchResults/01234567-0123-0123-0123-0123456789AB\u0027 does not support the API version \u0027package-preview-2024-01\u0027.",
          "innerError": null
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1922690100"
  }
}
