{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/Sanitized?api-version=package-preview-2024-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 16 Jan 2024 20:24:12 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "tZSrtzBjSkS9TgUCYMH1tQ.0",
        "X-Processing-Time": "1018ms"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "phoneNumber": "Sanitized",
        "countryCode": "US",
        "phoneNumberType": "tollFree",
        "capabilities": {
          "calling": "inbound\u002Boutbound",
          "sms": "none"
        },
        "assignmentType": "application",
        "purchaseDate": "2021-06-23T23:38:41.0997634\u002B00:00",
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_PHONE_NUMBER": "\u002B14255550123",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1711116870"
  }
}
