{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/01234567-0123-0123-0123-0123456789AB?api-version=2024-01-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 16 Jan 2024 21:34:30 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01",
        "Content-Type": "application/json",
        "MS-CV": "28oLyyA2QUCifzlZV24\u002BKw.0",
        "X-Processing-Time": "217ms"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "Input searchId 01234567-0123-0123-0123-0123456789AB cannot be found.",
          "target": "searchid"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "609601392"
  }
}
