{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers?api-version=2024-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 16 Jan 2024 21:36:01 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "UmZxdB9yX06uWQEdaC3qiw.0",
        "X-Processing-Time": "960ms"
      },
      "ResponseBody": {
        "phoneNumbers": [
          {
            "id": "Sanitized",
            "phoneNumber": "Sanitized",
            "countryCode": "US",
            "phoneNumberType": "geographic",
            "capabilities": {
              "calling": "inbound\u002Boutbound",
              "sms": "none"
            },
            "assignmentType": "application",
            "purchaseDate": "2022-07-05T14:51:10.7867686\u002B00:00",
            "cost": {
              "amount": 1.0,
              "currencyCode": "USD",
              "billingFrequency": "monthly"
            },
            "operatorId": "00000000-0000-0000-0000-Sanitized",
            "operatorName": "Microsoft PPE (Dogfood)",
            "phoneNumberSource": "cloud"
          },
          {
            "id": "Sanitized",
            "phoneNumber": "Sanitized",
            "countryCode": "CA",
            "phoneNumberType": "tollFree",
            "capabilities": {
              "calling": "outbound",
              "sms": "none"
            },
            "assignmentType": "application",
            "purchaseDate": "2024-01-05T21:44:43.1550227\u002B00:00",
            "cost": {
              "amount": 2.0,
              "currencyCode": "USD",
      [...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers?top=3\u0026api-version=2024-01-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 16 Jan 2024 21:36:02 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers?top=3\u0026api-version=2024-01-31-preview\u0026skip=3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 16 Jan 2024 21:36:04 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-prev[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers?top=3\u0026api-version=2024-01-31-preview\u0026skip=6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 16 Jan 2024 21:36:05 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "5WkUJ4n3\u002BEKr/t4nLReS2g.0",
        "X-Processing-Time": "269ms"
      },
      "ResponseBody": {
        "phoneNumbers": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1005743126"
  }
}
