{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/areaCodes?phoneNumberType=tollFree\u0026assignmentType=application\u0026api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 21 Nov 2023 09:26:29 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ajj/Eezl2k\u002BV7EVcWpu7CQ.0",
        "X-Processing-Time": "3838ms"
      },
      "ResponseBody": {
        "areaCodes": [
          {
            "areaCode": "866"
          },
          {
            "areaCode": "855"
          },
          {
            "areaCode": "844"
          },
          {
            "areaCode": "833"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/areaCodes?phoneNumberType=tollFree\u0026maxPageSize=2\u0026assignmentType=application\u0026api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 21 Nov 2023 09:26:33 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Zw37wK/KCkG7lh2D367IBQ.0",
        "X-Processing-Time": "3878ms"
      },
      "ResponseBody": {
        "areaCodes": [
          {
            "areaCode": "866"
          },
          {
            "areaCode": "855"
          }
        ],
        "nextLink": "/availablePhoneNumbers/countries/US/areaCodes?phoneNumberType=tollFree\u0026maxPageSize=2\u0026assignmentType=application\u0026api-version=2022-12-01\u0026skip=2"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/areaCodes?phoneNumberType=tollFree\u0026maxPageSize=2\u0026assignmentType=application\u0026api-version=2022-12-01\u0026skip=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 21 Nov 2023 09:26:37 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "A4gzUm2gfEeV8EIdNeuRuQ.0",
        "X-Processing-Time": "3904ms"
      },
      "ResponseBody": {
        "areaCodes": [
          {
            "areaCode": "844"
          },
          {
            "areaCode": "833"
          }
        ],
        "nextLink": "/availablePhoneNumbers/countries/US/areaCodes?phoneNumberType=tollFree\u0026maxPageSize=2\u0026assignmentType=application\u0026api-version=2022-12-01\u0026skip=4"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1293206817"
  }
}
