{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/areaCodes?phoneNumberType=tollFree\u0026assignmentType=application\u0026api-version=2024-01-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 16 Jan 2024 21:34:40 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "2Ul7aP7vukK4PJmkkErfFw.0",
        "X-Processing-Time": "1509ms"
      },
      "ResponseBody": {
        "areaCodes": [],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/areaCodes?phoneNumberType=tollFree\u0026maxPageSize=0\u0026assignmentType=application\u0026api-version=2024-01-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 16 Jan 2024 21:34:42 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "OUcvJVVsaUWOb0gOerrRHA.0",
        "X-Processing-Time": "1399ms"
      },
      "ResponseBody": {
        "areaCodes": [],
        "nextLink": "/availablePhoneNumbers/countries/US/areaCodes?phoneNumberType=tollFree\u0026maxPageSize=0\u0026assignmentType=application\u0026api-version=2024-01-31-preview\u0026skip=0"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "150807253"
  }
}
