{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/Sanitized?api-version=2024-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 16 Jan 2024 21:34:43 GMT"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01",
        "Content-Type": "application/json",
        "MS-CV": "JU25x8tKH0aA5VHtxc19GA.0",
        "X-Processing-Time": "964ms"
      },
      "ResponseBody": {
        "error": {
          "code": "InternalError",
          "message": "The server encountered an internal error.",
          "innererror": {
            "code": "BadRequest",
            "message": "Numbers: [Sanitized] do not belong to the Tenant: 14b79f13-3e46-4183-a0bd-c95de219e8d1."
          }
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "743389404"
  }
}
