{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/Sanitized?api-version=2023-10-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 09 Apr 2024 16:45:53 GMT"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-08-31-preview",
        "Content-Type": "application/json",
        "MS-CV": "oAqjni77VkKoWCToSC7BBw.0",
        "X-Processing-Time": "731ms"
      },
      "ResponseBody": {
        "error": {
          "code": "InternalError",
          "message": "The server encountered an internal error.",
          "innererror": {
            "code": "BadRequest",
            "message": "Numbers: [Sanitized] do not belong to the Tenant: 5862fd15-f8ad-478e-b108-d211094ed9cd."
          }
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "424350139"
  }
}
