{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/Sanitized?api-version=2025-06-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 11 Jun 2025 22:41:11 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview, 2025-06-01",
        "MS-CV": "Sanitized",
        "operation-id": "release_ed5eba5c-59b5-4889-bf91-a63921c70179",
        "Operation-Location": "/phoneNumbers/operations/release_ed5eba5c-59b5-4889-bf91-a63921c70179?api-version=2025-06-01",
        "release-id": "ed5eba5c-59b5-4889-bf91-a63921c70179",
        "X-Processing-Time": "2153ms"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1708066447"
  }
}
