{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/operatorInformation/:search?api-version=2024-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 22:23:58 GMT"
      },
      "RequestBody": {
        "phoneNumbers": [
          "Sanitized",
          "Sanitized"
        ],
        "options": {
          "includeAdditionalOperatorDetails": false
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01-preview, 2024-08-31-preview",
        "Content-Type": "application/json",
        "MS-CV": "utZCqM8y9E\u002BlS8LEiq3xiQ.0",
        "X-Processing-Time": "9ms"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "Can only accept one phoneNumber"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_PHONE_NUMBER_WINDOWS_2019_NETCORE31": "\u002B14255550123",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1568478672"
  }
}
