{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/operatorInformation/:search?api-version=2023-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 09 Apr 2024 16:45:55 GMT"
      },
      "RequestBody": {
        "phoneNumbers": [
          "Sanitized"
        ],
        "options": {
          "includeAdditionalOperatorDetails": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-08-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "uA3b6FiBY0SgdUCdPVs8AA.0",
        "X-Processing-Time": "875ms"
      },
      "ResponseBody": {
        "values": [
          {
            "phoneNumber": "Sanitized",
            "nationalFormat": "(844) 602-6973",
            "internationalFormat": "\u002B1 844-602-6973",
            "numberType": "other",
            "operatorDetails": {
              "name": "Multiple OCN Listing",
              "mobileNetworkCode": null,
              "mobileCountryCode": null
            },
            "isoCountryCode": "US"
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_PHONE_NUMBER_1": "\u002B14255550123",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "615232152"
  }
}
