{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/operatorInformation/:search?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 11 Jun 2025 22:41:14 GMT"
      },
      "RequestBody": {
        "phoneNumbers": [
          "Sanitized",
          "Sanitized"
        ],
        "options": {
          "includeAdditionalOperatorDetails": false
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview, 2025-06-01",
        "Content-Type": "application/json",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "64ms"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "Can only accept one phoneNumber"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_PHONE_NUMBER_test-agent": "+14255550123",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "345233637"
  }
}
