{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2024-01-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 16 Jan 2024 21:36:12 GMT"
      },
      "RequestBody": {
        "searchId": "some-invalid-id",
        "consentToNotResellNumbers": true
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01",
        "Content-Type": "application/json",
        "MS-CV": "74VgFI\u002Bds0iOz7zMMLi2UQ.0",
        "X-Processing-Time": "261ms"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "Input searchId some-invalid-id cannot be found.",
          "target": "searchid"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "621992179"
  }
}
