{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2024-01-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 16 Jan 2024 23:07:40 GMT"
      },
      "RequestBody": {
        "searchId": "some-invalid-id"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "oELD1IpHiUSsm5uN26HJSQ.0",
        "X-Processing-Time": "0ms"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidApiVersion",
          "message": "The HTTP resource that matches the request URI \u0027https://smstestapp.unitedstates.communication.azure.com/availablePhoneNumbers/:purchase\u0027 does not support the API version \u0027package-preview-2024-01\u0027.",
          "innerError": null
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "136451261"
  }
}
