{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/Sanitized?api-version=2024-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 16 Jan 2024 21:36:12 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "0CImkKn6iEy9HLJkhNmgIw.0",
        "X-Processing-Time": "958ms"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "phoneNumber": "Sanitized",
        "countryCode": "US",
        "phoneNumberType": "tollFree",
        "capabilities": {
          "calling": "outbound",
          "sms": "none"
        },
        "assignmentType": "application",
        "purchaseDate": "2023-12-15T21:59:39.7206619\u002B00:00",
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        },
        "operatorId": "00000000-0000-0000-0000-Sanitized",
        "operatorName": "Microsoft PPE (Dogfood)",
        "phoneNumberSource": "cloud"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/Sanitized/capabilities?api-version=2024-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 16 Jan 2024 21:36:13 GMT"
      },
      "RequestBody": {
        "calling": "inbound",
        "sms": "none"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01",
        "capabilities-id": "728aa19c-8978-461f-a0e2-c0b729cceb0e",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "Sanitized",
        "MS-CV": "nIH3W6Vo7EmfM83wr/D6vg.0",
        "operation-id": "capabilities_728aa19c-8978-461f-a0e2-c0b729cceb0e",
        "Operation-Location": "/phoneNumbers/operations/capabilities_728aa19c-8978-461f-a0e2-c0b729cceb0e?api-version=2024-05-01-preview",
        "X-Processing-Time": "1739ms"
      },
      "ResponseBody": {
        "capabilitiesUpdateId": "728aa19c-8978-461f-a0e2-c0b729cceb0e"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/capabilities_728aa19c-8978-461f-a0e2-c0b729cceb0e?api-version=2024-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 16 Jan 2024 21:36:15 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "Sanitized",
        "MS-CV": "4RcGR1rj80uaxPPXc70Lbg.0",
        "X-Processing-Time": "250ms"
      },
      "ResponseBody": {
        "operationType": "updatePhoneNumberCapabilities",
        "status": "notStarted",
        "resourceLocation": "/phoneNumbers/Sanitized?api-version=2024-05-01-preview",
        "createdDateTime": "2024-01-16T21:36:15.1852781\u002B00:00",
        "id": "capabilities_728aa19c-8978-461f-a0e2-c0b729cceb0e",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/Sanitized/Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 16 Jan 2024 21:36:19 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "fGTVagLN70K3v4WsHWBXdw.0",
        "X-Processing-Time": "951ms"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "phoneNumber": "Sanitized",
        "countryCode": "US",
        "phoneNumberType": "tollFree",
        "capabilities": {
          "calling": "inbound",
          "sms": "none"
        },
        "assignmentType": "application",
        "purchaseDate": "2023-12-15T21:59:39.7206619\u002B00:00",
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        },
        "operatorId": "00000000-0000-0000-0000-Sanitized",
        "operatorName": "Microsoft PPE (Dogfood)",
        "phoneNumberSource": "cloud"
      }
    }
  ],
  "Variables": {
    "AZURE_PHONE_NUMBER_DEFAULT": "\u002B14255550123",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1736801065"
  }
}
