{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.microsoft.com/geocode?query=Starbucks&api-version=2023-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-client-id": "azure_maps_client_id"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "type": "FeatureCollection",
        "features": [
          {
            "type": "Feature",
            "geometry": {
              "type": "Point",
              "coordinates": [
                -2.2502965927124023,
                52.386775970458984
              ]
            },
            "properties": {
              "type": "PointOfInterest",
              "confidence": "Low",
              "geocodePoints": [
                {
                  "calculationMethod": "",
                  "usageTypes": [
                    "Display"
                  ],
                  "geometry": {
                    "type": "Point",
                    "coordinates": [
                      -2.2502965927124023,
                      52.386775970458984
                    ]
                  }
                }
              ],
              "address": {
                "locality": "Kidderminster",
                "countryRegion": {
                  "name": "Sanitized",
                  "ISO": "GB"
                },
                "adminDistricts": [
                  {
                    "shortName": "England"
                  },
                  {
                    "shortName": "Worcs"
                  }
                ],
                "formattedAddress": "Starbucks"
              }
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
