{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.ProgrammableConnectivity/operations?api-version=2024-01-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "24999"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Sanitized",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.ProgrammableConnectivity",
              "resource": "operations",
              "operation": "read_operations",
              "description": "read operations"
            }
          },
          {
            "name": "Sanitized",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.ProgrammableConnectivity",
              "resource": "locations/operationStatuses",
              "operation": "read_operationStatuses",
              "description": "read operationStatuses"
            }
          },
          {
            "name": "Sanitized",
            "isDataAction": false,
            "d[...]
