{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourcegroups/Communication-RG-6513?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11970"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6513",
        "name": "Communication-RG-6513",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6513/providers/Microsoft.Communication/emailServices/email-service-7631?api-version=2023-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "global",
        "properties": {
          "dataLocation": "UnitedStates"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/dc909600-df7d-4dbf-a0ba-998bbe0e0d35*A5B8535D5B75909D963819D0A176E3C8DC9D9B319A0073F1D9F8D8C7EB583534?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00228000d9ba-0000-0700-0000-64dfacb70000\u0022",
        "mise-correlation-id": "dc908b32-d12d-46b8-a683-702148eeaeb7",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6513/providers/Microsoft.Communication/emailServices/email-service-7631",
        "name": "email-service-7631",
        "type": "microsoft.communication/emailservices",
        "location": "global",
        "tags": {},
        "systemData": {
          "createdBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "createdByType": "Application",
          "createdAt": "2023-08-18T17:39:02.8859575Z",
          "lastModifiedBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-18T17:39:02.8859575Z"
        },
        "properties": {
          "dataLocation": "UnitedStates",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/dc909600-df7d-4dbf-a0ba-998bbe0e0d35*A5B8535D5B75909D963819D0A176E3C8DC9D9B319A0073F1D9F8D8C7EB583534?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002209003cd5-0000-0800-0000-64dfacb70000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11969"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/dc909600-df7d-4dbf-a0ba-998bbe0e0d35*A5B8535D5B75909D963819D0A176E3C8DC9D9B319A0073F1D9F8D8C7EB583534",
        "name": "dc909600-df7d-4dbf-a0ba-998bbe0e0d35*A5B8535D5B75909D963819D0A176E3C8DC9D9B319A0073F1D9F8D8C7EB583534",
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6513/providers/Microsoft.Communication/emailServices/email-service-7631",
        "status": "Accepted",
        "startTime": "2023-08-18T17:39:03.2975476Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6513/providers/Microsoft.Communication/emailServices/email-service-7631/providers/Microsoft.Resources/tags/default?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11958"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6513/providers/Microsoft.Communication/EmailServices/email-service-7631/providers/Microsoft.Resources/tags/default",
        "name": "default",
        "type": "Microsoft.Resources/tags",
        "properties": {
          "tags": {}
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6513/providers/Microsoft.Communication/emailServices/email-service-7631/providers/Microsoft.Resources/tags/default?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "tags": {
            "testkey": "testvalue"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6513/providers/Microsoft.Communication/EmailServices/email-service-7631/providers/Microsoft.Resources/tags/default",
        "name": "default",
        "type": "Microsoft.Resources/tags",
        "properties": {
          "tags": {
            "testkey": "testvalue"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6513/providers/Microsoft.Communication/emailServices?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11955"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6513/providers/Microsoft.Communication/emailServices/email-service-7631",
            "name": "email-service-7631",
            "type": "microsoft.communication/emailservices",
            "location": "global",
            "tags": {
              "testkey": "testvalue"
            },
            "systemData": {
              "createdBy": "00226471-3a95-403e-98c0-dca45fecd307",
              "createdByType": "Application",
              "createdAt": "2023-08-18T17:39:02.8859575Z",
              "lastModifiedBy": "00226471-3a95-403e-98c0-dca45fecd307",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-08-18T17:40:41.2927672Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "dataLocation": "UnitedStates"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6513/providers/Microsoft.Communication/emailServices/email-service-7631?api-version=2023-04-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/fabdbd88-483f-4b39-ae28-59c6b6259e78*A5B8535D5B75909D963819D0A176E3C8DC9D9B319A0073F1D9F8D8C7EB583534?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022800022c9-0000-0700-0000-64dfad1a0000\u0022",
        "Location": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/fabdbd88-483f-4b39-ae28-59c6b6259e78*A5B8535D5B75909D963819D0A176E3C8DC9D9B319A0073F1D9F8D8C7EB583534?api-version=2023-04-01-preview",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14998"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/fabdbd88-483f-4b39-ae28-59c6b6259e78*A5B8535D5B75909D963819D0A176E3C8DC9D9B319A0073F1D9F8D8C7EB583534?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
       [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/fabdbd88-483f-4b39-ae28-59c6b6259e78*A5B8535D5B75909D963819D0A176E3C8DC9D9B319A0073F1D9F8D8C7EB583534?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002209008ed6-0000-0800-0000-64dfad980000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/fabdbd88-483f-4b39-ae28-59c6b6259e78*A5B8535D5B75909D963819D0A176E3C8DC9D9B319A0073F1D9F8D8C7EB583534",
        "name": "fabdbd88-483f-4b39-ae28-59c6b6259e78*A5B8535D5B75909D963819D0A176E3C8DC9D9B319A0073F1D9F8D8C7EB583534",
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6513/providers/Microsoft.Communication/emailServices/email-service-7631",
        "status": "Succeeded",
        "startTime": "2023-08-18T17:40:42.0168655Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1340542260",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "8443df5e-8e12-4cd9-810e-c525196fecae"
  }
}
