{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourcegroups/Communication-RG-1542?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1542",
        "name": "Communication-RG-1542",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1542/providers/Microsoft.Communication/emailServices/email-service-5097?api-version=2023-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "global",
        "properties": {
          "dataLocation": "UnitedStates"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/80c19524-5dbc-41e0-8b01-bed4a695c368*6FABAA3B96EF238417259C6BF7B6CCF5E0AA24CE1CAC9CF2AE88E8A5AAC8AF12?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c400728b-0000-0100-0000-64f572b00000\u0022",
        "mise-correlation-id": "28cb868e-3176-4e94-b1f0-dbd0b2762495",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1542/providers/Microsoft.Communication/emailServices/email-service-5097",
        "name": "email-service-5097",
        "type": "microsoft.communication/emailservices",
        "location": "global",
        "tags": {},
        "systemData": {
          "createdBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "createdByType": "Application",
          "createdAt": "2023-09-04T06:01:19.4139783Z",
          "lastModifiedBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-09-04T06:01:19.4139783Z"
        },
        "properties": {
          "dataLocation": "UnitedStates",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/80c19524-5dbc-41e0-8b01-bed4a695c368*6FABAA3B96EF238417259C6BF7B6CCF5E0AA24CE1CAC9CF2AE88E8A5AAC8AF12?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c0011a63-0000-0100-0000-64f572af0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11987"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/80c19524-5dbc-41e0-8b01-bed4a695c368*6FABAA3B96EF238417259C6BF7B6CCF5E0AA24CE1CAC9CF2AE88E8A5AAC8AF12",
        "name": "80c19524-5dbc-41e0-8b01-bed4a695c368*6FABAA3B96EF238417259C6BF7B6CCF5E0AA24CE1CAC9CF2AE88E8A5AAC8AF12",
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1542/providers/Microsoft.Communication/emailServices/email-service-5097",
        "status": "Accepted",
        "startTime": "2023-09-04T06:01:19.7297439Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "8443df5e-8e12-4cd9-810e-c525196fecae",
        "tenantId": "9fd9531e-984c-4649-b30e-ca03c39a0b32",
        "displayName": "Visual Studio Enterprise Subscription",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "MSDN_2014-09-01",
          "spendingLimit": "On"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Resources?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11982"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Resources",
        "namespace": "Microsoft.Resources",
        "authorizations": [
          {
            "applicationId": "94946920-7f9c-4956-93c0-2fcf94608102"
          },
          {
            "applicationId": "3b990c8b-9607-4c2a-8b04-1d41985facca"
          }
        ],
        "resourceTypes": [
          {
            "resourceType": "tagnamespaces",
            "locations": [
              "Central US EUAP",
              "East US 2 EUAP",
              "Canada Central",
              "Canada East",
              "Central US",
              "East US",
              "East US 2",
              "North Central US",
              "South Central US",
              "West Central US",
              "West US",
              "West US 2",
              "West US 3"
            ],
            "apiVersions": [
              "2023-03-01-preview"
            ],
            "capabilities": "SupportsExtension"
          },
          {
            "resourceType": "tagNamespaceOperationResults",
            "locations": [],
            "apiVersions": [
              "2023-03-01-preview"
            ],
            "capabilities": "None"
          },
          {
            "resourceType": "deploymentScripts",
            "locations": [
              "East Asia",
              "Southeast Asia",
              "Australia East",
              "Australia Southeast",
              "Brazil [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1542/providers/Microsoft.Communication/emailServices/email-service-5097/providers/Microsoft.Resources/tags/default?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11979"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1542/providers/Microsoft.Communication/EmailServices/email-service-5097/providers/Microsoft.Resources/tags/default",
        "name": "default",
        "type": "Microsoft.Resources/tags",
        "properties": {
          "tags": {}
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1542/providers/Microsoft.Communication/emailServices/email-service-5097/providers/Microsoft.Resources/tags/default?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "tags": {
            "testkey": "testvalue"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1542/providers/Microsoft.Communication/EmailServices/email-service-5097/providers/Microsoft.Resources/tags/default",
        "name": "default",
        "type": "Microsoft.Resources/tags",
        "properties": {
          "tags": {
            "testkey": "testvalue"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1542/providers/Microsoft.Communication/emailServices?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1542/providers/Microsoft.Communication/emailServices/email-service-5097",
            "name": "email-service-5097",
            "type": "microsoft.communication/emailservices",
            "location": "global",
            "tags": {
              "testkey": "testvalue"
            },
            "systemData": {
              "createdBy": "00226471-3a95-403e-98c0-dca45fecd307",
              "createdByType": "Application",
              "createdAt": "2023-09-04T06:01:19.4139783Z",
              "lastModifiedBy": "00226471-3a95-403e-98c0-dca45fecd307",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-09-04T06:02:28.8965741Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "dataLocation": "UnitedStates"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1542/providers/Microsoft.Communication/emailServices/email-service-5097?api-version=2023-04-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/9dc017f0-c272-4997-afcf-363777a938df*6FABAA3B96EF238417259C6BF7B6CCF5E0AA24CE1CAC9CF2AE88E8A5AAC8AF12?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c4009a8b-0000-0100-0000-64f572f70000\u0022",
        "Location": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/9dc017f0-c272-4997-afcf-363777a938df*6FABAA3B96EF238417259C6BF7B6CCF5E0AA24CE1CAC9CF2AE88E8A5AAC8AF12?api-version=2023-04-01-preview",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14998"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/9dc017f0-c272-4997-afcf-363777a938df*6FABAA3B96EF238417259C6BF7B6CCF5E0AA24CE1CAC9CF2AE88E8A5AAC8AF12?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
       [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/9dc017f0-c272-4997-afcf-363777a938df*6FABAA3B96EF238417259C6BF7B6CCF5E0AA24CE1CAC9CF2AE88E8A5AAC8AF12?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222500ac65-0000-0800-0000-64f573740000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11989"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/9dc017f0-c272-4997-afcf-363777a938df*6FABAA3B96EF238417259C6BF7B6CCF5E0AA24CE1CAC9CF2AE88E8A5AAC8AF12",
        "name": "9dc017f0-c272-4997-afcf-363777a938df*6FABAA3B96EF238417259C6BF7B6CCF5E0AA24CE1CAC9CF2AE88E8A5AAC8AF12",
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1542/providers/Microsoft.Communication/emailServices/email-service-5097",
        "status": "Succeeded",
        "startTime": "2023-09-04T06:02:30.8564439Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1339763656",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "8443df5e-8e12-4cd9-810e-c525196fecae"
  }
}
