{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourcegroups/Communication-RG-1855?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11526"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1855",
        "name": "Communication-RG-1855",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1855/providers/Microsoft.Communication/emailServices/email-service-3072?api-version=2023-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "global",
        "properties": {
          "dataLocation": "UnitedStates"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/2ea01e44-02a3-4504-9db3-ea7a15258134*CC607907E70F2927FDBDFA06B81EF00AB1ABBCBE54CE59D00B17A5E24ECA395A?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002260009f79-0000-0700-0000-64def8c50000\u0022",
        "mise-correlation-id": "24bb5dfa-4992-4c45-ba2d-8db373f86a2a",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1165"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1855/providers/Microsoft.Communication/emailServices/email-service-3072",
        "name": "email-service-3072",
        "type": "microsoft.communication/emailservices",
        "location": "global",
        "tags": {},
        "systemData": {
          "createdBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "createdByType": "Application",
          "createdAt": "2023-08-18T04:51:17.4386148Z",
          "lastModifiedBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-18T04:51:17.4386148Z"
        },
        "properties": {
          "dataLocation": "UnitedStates",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/2ea01e44-02a3-4504-9db3-ea7a15258134*CC607907E70F2927FDBDFA06B81EF00AB1ABBCBE54CE59D00B17A5E24ECA395A?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002208002209-0000-0800-0000-64def8c50000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11525"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/2ea01e44-02a3-4504-9db3-ea7a15258134*CC607907E70F2927FDBDFA06B81EF00AB1ABBCBE54CE59D00B17A5E24ECA395A",
        "name": "2ea01e44-02a3-4504-9db3-ea7a15258134*CC607907E70F2927FDBDFA06B81EF00AB1ABBCBE54CE59D00B17A5E24ECA395A",
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1855/providers/Microsoft.Communication/emailServices/email-service-3072",
        "status": "Accepted",
        "startTime": "2023-08-18T04:51:17.9090518Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1855/providers/Microsoft.Communication/emailServices?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11514"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1855/providers/Microsoft.Communication/emailServices/email-service-3072",
            "name": "email-service-3072",
            "type": "microsoft.communication/emailservices",
            "location": "global",
            "tags": {},
            "systemData": {
              "createdBy": "00226471-3a95-403e-98c0-dca45fecd307",
              "createdByType": "Application",
              "createdAt": "2023-08-18T04:51:17.4386148Z",
              "lastModifiedBy": "00226471-3a95-403e-98c0-dca45fecd307",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-08-18T04:51:17.4386148Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "dataLocation": "UnitedStates"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1855/providers/Microsoft.Communication/emailServices/email-service-3072?api-version=2023-04-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/b3f2fae7-2b5c-4c1e-b23e-66a7f1c01e51*CC607907E70F2927FDBDFA06B81EF00AB1ABBCBE54CE59D00B17A5E24ECA395A?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00226000f081-0000-0700-0000-64def9070000\u0022",
        "Location": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/b3f2fae7-2b5c-4c1e-b23e-66a7f1c01e51*CC607907E70F2927FDBDFA06B81EF00AB1ABBCBE54CE59D00B17A5E24ECA395A?api-version=2023-04-01-preview",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14979"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/b3f2fae7-2b5c-4c1e-b23e-66a7f1c01e51*CC607907E70F2927FDBDFA06B81EF00AB1ABBCBE54CE59D00B17A5E24ECA395A?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
       [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/b3f2fae7-2b5c-4c1e-b23e-66a7f1c01e51*CC607907E70F2927FDBDFA06B81EF00AB1ABBCBE54CE59D00B17A5E24ECA395A?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220800710a-0000-0800-0000-64def9850000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11503"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/b3f2fae7-2b5c-4c1e-b23e-66a7f1c01e51*CC607907E70F2927FDBDFA06B81EF00AB1ABBCBE54CE59D00B17A5E24ECA395A",
        "name": "b3f2fae7-2b5c-4c1e-b23e-66a7f1c01e51*CC607907E70F2927FDBDFA06B81EF00AB1ABBCBE54CE59D00B17A5E24ECA395A",
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1855/providers/Microsoft.Communication/emailServices/email-service-3072",
        "status": "Succeeded",
        "startTime": "2023-08-18T04:52:23.857463Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1488128143",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "8443df5e-8e12-4cd9-810e-c525196fecae"
  }
}
