{
  "Entries": [
    {
      "RequestUri": "https://seancanaryfilepremium.file.core.windows.net/test-share-825139de-6277-0f49-459d-6ebff65c7199?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 05 Jun 2024 01:16:03 GMT",
        "x-ms-enable-snapshot-virtual-directory-access": "true",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC84FD11BC1D85\"",
        "Last-Modified": "Wed, 05 Jun 2024 01:16:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium.file.core.windows.net/?comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 05 Jun 2024 01:16:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seancanaryfilepremium.file.core.windows.net/\"><Shares><Share><Name>test-share-825139de-6277-0f49-459d-6ebff65c7199</Name><Properties><Last-Modified>Wed, 05 Jun 2024 01:16:03 GMT</Last-Modified><Etag>\"0x8DC84FD11BC1D85\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>100</Quota><EnabledProtocols>NFS</EnabledProtocols><RootSquash>NoRootSquash</RootSquash><EnableSnapshotVirtualDirectoryAccess>true</EnableSnapshotVirtualDirectoryAccess><AccessTier>Premium</AccessTier><ProvisionedIops>3100</ProvisionedIops><ProvisionedBandwidthMiBps>110</ProvisionedBandwidthMiBps><ProvisionedIngressMBps>110</ProvisionedIngressMBps><ProvisionedEgressMBps>110</ProvisionedEgressMBps><NextAllowedQuotaDowngradeTime>Wed, 05 Jun 2024 01:16:03 GMT</NextAllowedQuotaDowngradeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share></Shares><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seancanaryfilepremium.file.core.windows.net/test-share-825139de-6277-0f49-459d-6ebff65c7199?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 05 Jun 2024 01:16:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "14370686",
    "Storage_TestConfigPremiumFile": "PremiumFileTenant\nseancanaryfilepremium\nU2FuaXRpemVk\nhttps://seancanaryfilepremium.blob.core.windows.net\nhttps://seancanaryfilepremium.file.core.windows.net\nhttps://seancanaryfilepremium.queue.core.windows.net\nhttps://seancanaryfilepremium.table.core.windows.net\n\n\n\n\nhttps://seancanaryfilepremium-secondary.blob.core.windows.net\nhttps://seancanaryfilepremium-secondary.file.core.windows.net\nhttps://seancanaryfilepremium-secondary.queue.core.windows.net\nhttps://seancanaryfilepremium-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seancanaryfilepremium.blob.core.windows.net/;QueueEndpoint=https://seancanaryfilepremium.queue.core.windows.net/;FileEndpoint=https://seancanaryfilepremium.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanaryfilepremium-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanaryfilepremium-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanaryfilepremium-secondary.file.core.windows.net/;AccountName=seancanaryfilepremium;AccountKey=Sanitized\n\n\n"
  }
}
