{
  "Entries": [
    {
      "RequestUri": "https://seansoftdelete.file.core.windows.net/test-share-fc6f1f0d-7633-bfdf-2c59-a6572c71f007?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 04:06:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86A728235311\"",
        "Last-Modified": "Fri, 07 Jun 2024 04:06:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seansoftdelete.file.core.windows.net/test-share-fc6f1f0d-7633-bfdf-2c59-a6572c71f007?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 04:06:05 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seansoftdelete.file.core.windows.net/?comp=list&include=Deleted",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 04:06:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seansoftdelete.file.core.windows.net/\"><Shares><Share><Name>test-share-fc6f1f0d-7633-bfdf-2c59-a6572c71f007</Name><Deleted>true</Deleted><Version>01DAB89005ACDA63</Version><Properties><Last-Modified>Fri, 07 Jun 2024 04:06:07 GMT</Last-Modified><Etag>\"0x8DC86A728235311\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>broken</LeaseState><Quota>102400</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Fri, 07 Jun 2024 04:06:07 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><DeletedTime>Fri, 07 Jun 2024 04:06:07 GMT</DeletedTime><RemainingRetentionDays>1</RemainingRetentionDays></Properties></Share></Shares><NextMarker /></EnumerationResults>"
    }
  ],
  "Variables": {
    "RandomSeed": "1921716699",
    "Storage_TestConfigSoftDelete": "SoftDeleteTenant\nseansoftdelete\nU2FuaXRpemVk\nhttps://seansoftdelete.blob.core.windows.net\nhttps://seansoftdelete.file.core.windows.net\nhttps://seansoftdelete.queue.core.windows.net\nhttps://seansoftdelete.table.core.windows.net\n\n\n\n\nhttps://seansoftdelete-secondary.blob.core.windows.net\nhttps://seansoftdelete-secondary.file.core.windows.net\nhttps://seansoftdelete-secondary.queue.core.windows.net\nhttps://seansoftdelete-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seansoftdelete.blob.core.windows.net/;QueueEndpoint=https://seansoftdelete.queue.core.windows.net/;FileEndpoint=https://seansoftdelete.file.core.windows.net/;BlobSecondaryEndpoint=https://seansoftdelete-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seansoftdelete-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seansoftdelete-secondary.file.core.windows.net/;AccountName=seansoftdelete;AccountKey=Sanitized\n\n\n"
  }
}
