{
  "Entries": [
    {
      "RequestUri": "https://seansoftdelete.file.core.windows.net/test-share-67782e9a-5777-972f-2f4c-fcc3b8524606?restype=share&comp=undelete",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 04:06:36 GMT",
        "x-ms-deleted-share-name": "test-share-67782e9a-5777-972f-2f4c-fcc3b8524606",
        "x-ms-deleted-share-version": "01D60F8BB59A4652",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ShareNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareNotFound</Code><Message>The specified share does not exist.\n",
        "RequestId:8cf94583-a01a-009e-1390-b8825c000000\n",
        "Time:2024-06-07T04:06:37.8553741Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "RandomSeed": "1926377835",
    "Storage_TestConfigSoftDelete": "SoftDeleteTenant\nseansoftdelete\nU2FuaXRpemVk\nhttps://seansoftdelete.blob.core.windows.net\nhttps://seansoftdelete.file.core.windows.net\nhttps://seansoftdelete.queue.core.windows.net\nhttps://seansoftdelete.table.core.windows.net\n\n\n\n\nhttps://seansoftdelete-secondary.blob.core.windows.net\nhttps://seansoftdelete-secondary.file.core.windows.net\nhttps://seansoftdelete-secondary.queue.core.windows.net\nhttps://seansoftdelete-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seansoftdelete.blob.core.windows.net/;QueueEndpoint=https://seansoftdelete.queue.core.windows.net/;FileEndpoint=https://seansoftdelete.file.core.windows.net/;BlobSecondaryEndpoint=https://seansoftdelete-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seansoftdelete-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seansoftdelete-secondary.file.core.windows.net/;AccountName=seansoftdelete;AccountKey=Sanitized\n\n\n"
  }
}
