{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "client_id=Sanitized&client_secret=Sanitized&grant_type=client_credentials&scope=https%3A%2F%2Fapi.loganalytics.io%2F.default",
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-srs": "1.P"
      },
      "ResponseBody": {
        "error": "unauthorized_client",
        "error_description": "AADSTS700038: 00000000-0000-0000-0000-000000000000 is not a valid application identifier. Trace ID: 174f0e44-871c-4e20-a02c-56d584de1500 Correlation ID: d485bb73-a917-432b-859c-46ef4f8added Timestamp: 2025-07-08 18:34:58Z",
        "error_codes": [
          700038
        ],
        "timestamp": "2025-07-08 18:34:58Z",
        "trace_id": "174f0e44-871c-4e20-a02c-56d584de1500",
        "correlation_id": "d485bb73-a917-432b-859c-46ef4f8added"
      }
    }
  ],
  "Variables": {}
}
