{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.loganalytics.io/v1/workspaces/00000000-0000-0000-0000-000000000000/query?api-version=2022-10-27",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Prefer": ""
      },
      "RequestBody": {
        "query": "AppRequests |\n        where TimeGenerated > ago(12h) |\n        summarize avgRequestDuration=avg(DurationMs) by bin(TimeGenerated, 10m), _ResourceId",
        "timespan": null,
        "workspaces": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "Sanitized",
            "columns": [
              {
                "name": "Sanitized",
                "type": "datetime"
              },
              {
                "name": "Sanitized",
                "type": "string"
              },
              {
                "name": "Sanitized",
                "type": "real"
              }
            ],
            "rows": []
          }
        ]
      }
    }
  ],
  "Variables": {}
}
