{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-2b687bb6-9a48-c8dc-c5ad-611fc134ce90?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:49:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867AF41493FF\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:49:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-2b687bb6-9a48-c8dc-c5ad-611fc134ce90/test-directory-52e09844-64cc-a380-9ce1-09e9fc1c869b?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:49:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867AF4218980\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:49:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-2b687bb6-9a48-c8dc-c5ad-611fc134ce90/test-directory-52e09844-64cc-a380-9ce1-09e9fc1c869b?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:49:40 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "e891ab22-03c3-31b8-480a-9e3036c0d65a",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867AF4218980\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:49:41 GMT",
        "x-ms-lease-id": "e891ab22-03c3-31b8-480a-9e3036c0d65a",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-6f4fee43-5334-5102-6c4b-12e4e375bd2e/test-directory-6c40a5ce-cdb3-6458-3856-be81361491fe?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 05 Jun 2024 22:49:40 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 22:49:41 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "39a9eda0-b82d-9e4e-0b11-fc0acfe57148",
        "x-ms-proposed-lease-id": "4418825c-77f5-5bd0-2977-96a5db5a92e0",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867AF4556C6C\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:49:42 GMT",
        "x-ms-lease-id": "4418825c-77f5-5bd0-2977-96a5db5a92e0",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-0bb6a7d9-ee15-e4a5-7e88-c732d0582589/test-directory-057e28fc-afcb-ed02-75ea-e57ff9d204e4?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 07 Jun 2024 22:49:40 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 22:49:41 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "5f8c3e56-f02d-8238-1a4a-da5245432483",
        "x-ms-proposed-lease-id": "5f1fc448-4cfc-e4ca-992c-bed9427c6556",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867AF49D5EE0\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:49:42 GMT",
        "x-ms-lease-id": "5f1fc448-4cfc-e4ca-992c-bed9427c6556",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-af95fb72-7e0d-3b84-1229-faf21f9fca0f/test-directory-e47b61a4-1d5c-ec27-a233-19aceebe2128",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:49:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867AF4D29E08\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:49:43 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rwx,group::r-x,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:49:43 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-resource-type": "directory",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-af95fb72-7e0d-3b84-1229-faf21f9fca0f/test-directory-e47b61a4-1d5c-ec27-a233-19aceebe2128?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DC867AF4D29E08",
        "x-ms-date": "Thu, 06 Jun 2024 22:49:41 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "f0617cde-a73b-4e33-1526-b39136700ac9",
        "x-ms-proposed-lease-id": "a1b7fa88-689b-f8b9-eea4-906984bac271",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867AF4D29E08\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:49:43 GMT",
        "x-ms-lease-id": "a1b7fa88-689b-f8b9-eea4-906984bac271",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-e967b427-32a9-8cc4-e45b-aa228633900c/test-directory-806d4a1a-4574-7258-e01c-04aa52e18d67?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"garbage\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:49:42 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "3e181311-06f3-7e87-a1ac-c07023df38a8",
        "x-ms-proposed-lease-id": "dde15211-d91a-2a56-cca0-32068761fb8a",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867AF50E9CF8\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:49:43 GMT",
        "x-ms-lease-id": "dde15211-d91a-2a56-cca0-32068761fb8a",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-e967b427-32a9-8cc4-e45b-aa228633900c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:49:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T17:49:40.3505650-05:00",
    "RandomSeed": "2117478958",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
