{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanary2.blob.core.windows.net/test-filesystem-4c114581-6fcf-3e29-281d-27dc18a48bbd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Aug 2025 13:53:46 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDDFF0FC282401\"",
        "Last-Modified": "Wed, 20 Aug 2025 13:53:47 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "\uFEFF<KeyInfo><Expiry>2025-08-20T14:53:47Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>e610410d-4aa1-4e96-8f70-bc1850bff049</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2025-08-20T13:53:57Z</SignedStart><SignedExpiry>2025-08-20T14:53:47Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2026-02-06</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-4c114581-6fcf-3e29-281d-27dc18a48bbd/test-directory-370904f0-3f57-2aa4-4353-1aa4394bb8de?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2025-08-20T13%3A53%3A57Z&ske=2025-08-20T14%3A53%3A47Z&sks=b&skv=2026-02-06&sv=Sanitized&se=2025-08-21T13%3A53%3A47Z&sr=b&sp=racwdltmeop&ses=seanscope1&sig=Sanitized&resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDDFF102839788\"",
        "Last-Modified": "Wed, 20 Aug 2025 13:53:57 GMT",
        "x-ms-encryption-scope": "seanscope1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.blob.core.windows.net/test-filesystem-4c114581-6fcf-3e29-281d-27dc18a48bbd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Aug 2025 13:53:57 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-08-20T08:53:47.2946971-05:00",
    "RandomSeed": "829849750",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanary2\nU2FuaXRpemVk\nhttps://seanhnscanary2.blob.core.windows.net\nhttps://seanhnscanary2.file.core.windows.net\nhttps://seanhnscanary2.queue.core.windows.net\nhttps://seanhnscanary2.table.core.windows.net\n\n\n\n\nhttps://seanhnscanary2-secondary.blob.core.windows.net\nhttps://seanhnscanary2-secondary.file.core.windows.net\nhttps://seanhnscanary2-secondary.queue.core.windows.net\nhttps://seanhnscanary2-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanary2.blob.core.windows.net/;QueueEndpoint=https://seanhnscanary2.queue.core.windows.net/;FileEndpoint=https://seanhnscanary2.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanary2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanary2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanary2-secondary.file.core.windows.net/;AccountName=seanhnscanary2;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
