{
  "Entries": [
    {
      "RequestUri": "https://amandadevnamespace.blob.core.windows.net/test-filesystem-24bd70ce-8476-cef0-313b-eadedf3fd39a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 11 Jul 2024 22:53:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCA1FC3B3F03BE\"",
        "Last-Modified": "Thu, 11 Jul 2024 22:53:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadevnamespace.dfs.core.windows.net/test-filesystem-24bd70ce-8476-cef0-313b-eadedf3fd39a/%21%2A%27%28%29%3B%5B%5D%3A%40%26%25%3D%2B%24%2C%23%C3%A4%C3%84%C3%B6%C3%96%C3%BC%C3%9C%C3%9F?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 11 Jul 2024 22:53:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCA1FC3B978613\"",
        "Last-Modified": "Thu, 11 Jul 2024 22:53:08 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadevnamespace.blob.core.windows.net/test-filesystem-24bd70ce-8476-cef0-313b-eadedf3fd39a/%21%2A%27%28%29%3B%5B%5D%3A%40%26%25%3D%2B%24%2C%23%C3%A4%C3%84%C3%B6%C3%96%C3%BC%C3%9C%C3%9F",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCA1FC3B978613\"",
        "Last-Modified": "Thu, 11 Jul 2024 22:53:08 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rwx,group::r-x,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 11 Jul 2024 22:53:08 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-resource-type": "directory",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadevnamespace.blob.core.windows.net/test-filesystem-24bd70ce-8476-cef0-313b-eadedf3fd39a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 11 Jul 2024 22:53:08 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "290020724",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandadevnamespace\nU2FuaXRpemVk\nhttps://amandadevnamespace.blob.core.windows.net\nhttps://amandadevnamespace.file.core.windows.net\nhttps://amandadevnamespace.queue.core.windows.net\nhttps://amandadevnamespace.table.core.windows.net\n\n\n\n\nhttps://amandadevnamespace-secondary.blob.core.windows.net\nhttps://amandadevnamespace-secondary.file.core.windows.net\nhttps://amandadevnamespace-secondary.queue.core.windows.net\nhttps://amandadevnamespace-secondary.table.core.windows.net\n8f7f73b5-e0e4-40f6-a7e3-b6fdea0f8dd2\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://amandadevnamespace.blob.core.windows.net/;QueueEndpoint=https://amandadevnamespace.queue.core.windows.net/;FileEndpoint=https://amandadevnamespace.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadevnamespace-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadevnamespace-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadevnamespace-secondary.file.core.windows.net/;AccountName=amandadevnamespace;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
