{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-1a729a60-d54e-5fdc-dfd3-393eedd94bc1/test-directory-9f8b7d25-a53d-2dbb-79dc-ee22c9edc68e/test-file-6dfbec48-a365-57d9-5872-3e7ba3100097",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:50:13 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "FilesystemNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": {
        "error": {
          "code": "FilesystemNotFound",
          "message": "The specified filesystem does not exist.\nRequestId:1581240a-101f-004d-0363-b8b05e000000\nTime:2024-06-06T22:50:14.6265717Z"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1196088551",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
