{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-d4f94f0c-224f-ab4c-8c02-ce82393d969e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD46F19523\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:39:13 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-d4f94f0c-224f-ab4c-8c02-ce82393d969e/test-directory-5bbb782f-b08b-35de-3376-3c9414ae842e?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD46FCF0DC\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:39:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "\uFEFF<KeyInfo><Expiry>2026-01-28T00:39:10Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>e06172a7-9585-422f-acbd-7693c11dd186</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2026-01-27T23:39:13Z</SignedStart><SignedExpiry>2026-01-28T00:39:10Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2026-04-06</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-d4f94f0c-224f-ab4c-8c02-ce82393d969e/test-directory-5bbb782f-b08b-35de-3376-3c9414ae842e?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2026-01-27T23%3A39%3A13Z&ske=2026-01-28T00%3A39%3A10Z&sks=b&skv=2026-04-06&sv=Sanitized&st=2026-01-27T22%3A39%3A10Z&se=2026-01-28T00%3A39%3A10Z&sr=c&sp=racwdltmeop&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE5DFD46FCF0DC\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:39:13 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rwx,group::r-x,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 27 Jan 2026 23:39:13 GMT",
        "x-ms-group": "e06172a7-9585-422f-acbd-7693c11dd186",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "e06172a7-9585-422f-acbd-7693c11dd186",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-resource-type": "directory",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-d4f94f0c-224f-ab4c-8c02-ce82393d969e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-01-27T18:39:10.1110313-05:00",
    "RandomSeed": "1091869410",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanary\nU2FuaXRpemVk\nhttps://seanhnscanary.blob.core.windows.net\nhttps://seanhnscanary.file.core.windows.net\nhttps://seanhnscanary.queue.core.windows.net\nhttps://seanhnscanary.table.core.windows.net\n\n\n\n\nhttps://seanhnscanary-secondary.blob.core.windows.net\nhttps://seanhnscanary-secondary.file.core.windows.net\nhttps://seanhnscanary-secondary.queue.core.windows.net\nhttps://seanhnscanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanary.blob.core.windows.net/;QueueEndpoint=https://seanhnscanary.queue.core.windows.net/;FileEndpoint=https://seanhnscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanary-secondary.file.core.windows.net/;AccountName=seanhnscanary;AccountKey=U2FuaXRpemVk\nencryption scope\n\n"
  }
}
