{
  "Entries": [
    {
      "RequestUri": "https://vanishatesttagshns.blob.core.windows.net/test-filesystem-eda485e0-8fee-2537-730f-e5b821ce275c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB40AFE747A3D\"",
        "Last-Modified": "Wed, 25 Jun 2025 17:09:06 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://vanishatesttagshns.dfs.core.windows.net/test-filesystem-eda485e0-8fee-2537-730f-e5b821ce275c/test-directory-5e8328a4-5fbc-e841-5196-b81cdb212f2d?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB40AFE8010EC\"",
        "Last-Modified": "Wed, 25 Jun 2025 17:09:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://vanishatesttagshns.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "\uFEFF<KeyInfo><Expiry>2025-06-25T18:09:06Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>e610410d-4aa1-4e96-8f70-bc1850bff049</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2025-06-25T17:09:06Z</SignedStart><SignedExpiry>2025-06-25T18:09:06Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2026-02-06</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://vanishatesttagshns.blob.core.windows.net/test-filesystem-eda485e0-8fee-2537-730f-e5b821ce275c/test-directory-5e8328a4-5fbc-e841-5196-b81cdb212f2d?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2025-06-25T17%3A09%3A06Z&ske=2025-06-25T18%3A09%3A06Z&sks=b&skv=2026-02-06&sv=Sanitized&se=2025-06-25T18%3A09%3A06Z&sr=d&sp=racwdltmeop&sdd=1&sig=Sanitized&comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "\uFEFF<Tags><TagSet><Tag><Key>tagKey0</Key><Value>tagValue0</Value></Tag><Tag><Key>tagKey1</Key><Value>tagValue1</Value></Tag></TagSet></Tags>",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://vanishatesttagshns.blob.core.windows.net/test-filesystem-eda485e0-8fee-2537-730f-e5b821ce275c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-06-25T12:09:06.9138898-05:00",
    "RandomSeed": "569076273",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nvanishatesttagshns\nU2FuaXRpemVk\nhttps://vanishatesttagshns.blob.core.windows.net\nhttps://vanishatesttagshns.file.core.windows.net\nhttps://vanishatesttagshns.queue.core.windows.net\nhttps://vanishatesttagshns.table.core.windows.net\n\n\n\n\nhttps://vanishatesttagshns-secondary.blob.core.windows.net\nhttps://vanishatesttagshns-secondary.file.core.windows.net\nhttps://vanishatesttagshns-secondary.queue.core.windows.net\nhttps://vanishatesttagshns-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://vanishatesttagshns.blob.core.windows.net/;QueueEndpoint=https://vanishatesttagshns.queue.core.windows.net/;FileEndpoint=https://vanishatesttagshns.file.core.windows.net/;BlobSecondaryEndpoint=https://vanishatesttagshns-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://vanishatesttagshns-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://vanishatesttagshns-secondary.file.core.windows.net/;AccountName=vanishatesttagshns;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
