{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanary2.blob.core.windows.net/test-filesystem-e2f01051-d54d-105f-b07b-3ab367d5092c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Aug 2025 16:17:56 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CE4A334B7C\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:17:56 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-e2f01051-d54d-105f-b07b-3ab367d5092c/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Thu, 21 Aug 2025 16:17:56 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CE4A35AFFC\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:17:56 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-e2f01051-d54d-105f-b07b-3ab367d5092c/test-directory-efdfcfb6-885b-c360-3260-e2ee6f917019?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Aug 2025 16:17:56 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CE4A434620\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:17:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-e2f01051-d54d-105f-b07b-3ab367d5092c/test-directory-efdfcfb6-885b-c360-3260-e2ee6f917019/test-directory-9de4fe63-6488-9997-4a4c-7dd91405c592?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Aug 2025 16:17:57 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CE4A4E8AA0\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:17:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-e2f01051-d54d-105f-b07b-3ab367d5092c/test-directory-efdfcfb6-885b-c360-3260-e2ee6f917019/test-directory-9de4fe63-6488-9997-4a4c-7dd91405c592/test-file-c47867ea-1fdb-fbc8-8311-182877953b98?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Aug 2025 16:17:57 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CE4A55D678\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:17:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-e2f01051-d54d-105f-b07b-3ab367d5092c/test-directory-efdfcfb6-885b-c360-3260-e2ee6f917019?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Aug 2025 16:17:57 GMT",
        "x-ms-owner": "2e37da29-ddd2-fe23-0632-c8e4e133ed2a",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CE4A48B160\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:17:57 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-e2f01051-d54d-105f-b07b-3ab367d5092c/test-directory-efdfcfb6-885b-c360-3260-e2ee6f917019/test-directory-9de4fe63-6488-9997-4a4c-7dd91405c592?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Aug 2025 16:17:57 GMT",
        "x-ms-owner": "2e37da29-ddd2-fe23-0632-c8e4e133ed2a",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CE4A4E8AA0\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:17:57 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-e2f01051-d54d-105f-b07b-3ab367d5092c/test-directory-efdfcfb6-885b-c360-3260-e2ee6f917019/test-directory-9de4fe63-6488-9997-4a4c-7dd91405c592/test-file-c47867ea-1fdb-fbc8-8311-182877953b98?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Aug 2025 16:17:57 GMT",
        "x-ms-owner": "2e37da29-ddd2-fe23-0632-c8e4e133ed2a",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CE4A55D678\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:17:57 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-e2f01051-d54d-105f-b07b-3ab367d5092c/test-directory-efdfcfb6-885b-c360-3260-e2ee6f917019/test-directory-9709d4d4-c047-e3ed-c659-fd8ea3d616a2/test-directory-bce321e6-7a05-1dc4-26b9-18a36243e7b4?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Aug 2025 16:17:57 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CE4AB5E824\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:17:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "\uFEFF<KeyInfo><Expiry>2025-08-21T17:17:57Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>e610410d-4aa1-4e96-8f70-bc1850bff049</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2025-08-21T16:18:01Z</SignedStart><SignedExpiry>2025-08-21T17:17:57Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2026-02-06</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-e2f01051-d54d-105f-b07b-3ab367d5092c/test-directory-efdfcfb6-885b-c360-3260-e2ee6f917019?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2025-08-21T16%3A18%3A01Z&ske=2025-08-21T17%3A17%3A57Z&sks=b&skv=2026-02-06&sv=Sanitized&st=2025-08-21T15%3A17%3A57Z&se=2025-08-21T17%3A17%3A57Z&sr=c&sp=racwdlmeop&suoid=2e37da29-ddd2-fe23-0632-c8e4e133ed2a&sig=Sanitized&action=setAccessControlRecursive&mode=remove&forceFlag=true&maxRecords=2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "x-ms-acl": "mask,default:user,default:group,user:ec3595d6-2c17-4696-8caa-7e139758d24a,group:ec3595d6-2c17-4696-8caa-7e139758d24a,default:user:ec3595d6-2c17-4696-8caa-7e139758d24a,default:group:ec3595d6-2c17-4696-8caa-7e139758d24a",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-continuation": "VBbCydDn+YGhkVQYiAIYggIvc2Vhbmhuc2NhbmFyeTIBMDFEQkY1QjlBRDkwOTI5QS90ZXN0LWZpbGVzeXN0ZW0tZTJmMDEwNTEtZDU0ZC0xMDVmLWIwN2ItM2FiMzY3ZDUwOTJjATAxREMxMkI3MjdCRDE5NUMvdGVzdC1kaXJlY3RvcnktZWZkZmNmYjYtODg1Yi1jMzYwLTMyNjAtZTJlZTZmOTE3MDE5L3Rlc3QtZGlyZWN0b3J5LTk3MDlkNGQ0LWMwNDctZTNlZC1jNjU5LWZkOGVhM2Q2MTZhMi90ZXN0LWRpcmVjdG9yeS1iY2UzMjFlNi03YTA1LTFkYzQtMjZiOS0xOGEzNjI0M2U3YjQWAAAA",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "eyJkaXJlY3Rvcmllc1N1Y2Nlc3NmdWwiOjIsImZhaWxlZEVudHJpZXMiOltdLCJmYWlsdXJlQ291bnQiOjAsImZpbGVzU3VjY2Vzc2Z1bCI6MH0K"
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-e2f01051-d54d-105f-b07b-3ab367d5092c/test-directory-efdfcfb6-885b-c360-3260-e2ee6f917019?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2025-08-21T16%3A18%3A01Z&ske=2025-08-21T17%3A17%3A57Z&sks=b&skv=2026-02-06&sv=Sanitized&st=2025-08-21T15%3A17%3A57Z&se=2025-08-21T17%3A17%3A57Z&sr=c&sp=racwdlmeop&suoid=2e37da29-ddd2-fe23-0632-c8e4e133ed2a&sig=Sanitized&action=setAcce[...]
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-e2f01051-d54d-105f-b07b-3ab367d5092c/test-directory-efdfcfb6-885b-c360-3260-e2ee6f917019?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2025-08-21T16%3A18%3A01Z&ske=2025-08-21T17%3A17%3A57Z&sks=b&skv=2026-02-06&sv=Sanitized&st=2025-08-21T15%3A17%3A57Z&se=2025-08-21T17%3A17%3A57Z&sr=c&sp=racwdlmeop&suoid=2e37da29-ddd2-fe23-0632-c8e4e133ed2a&sig=Sanitized&action=setAcce[...]
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-e2f01051-d54d-105f-b07b-3ab367d5092c/test-directory-efdfcfb6-885b-c360-3260-e2ee6f917019?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2025-08-21T16%3A18%3A01Z&ske=2025-08-21T17%3A17%3A57Z&sks=b&skv=2026-02-06&sv=Sanitized&st=2025-08-21T15%3A17%3A57Z&se=2025-08-21T17%3A17%3A57Z&sr=c&sp=racwdlmeop&suoid=2e37da29-ddd2-fe23-0632-c8e4e133ed2a&sig=Sanitized&action=setAcce[...]
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-e2f01051-d54d-105f-b07b-3ab367d5092c/test-directory-efdfcfb6-885b-c360-3260-e2ee6f917019?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2025-08-21T16%3A18%3A01Z&ske=2025-08-21T17%3A17%3A57Z&sks=b&skv=2026-02-06&sv=Sanitized&st=2025-08-21T15%3A17%3A57Z&se=2025-08-21T17%3A17%3A57Z&sr=c&sp=racwdlmeop&suoid=2e37da29-ddd2-fe23-0632-c8e4e133ed2a&sig=Sanitized&action=setAcce[...]
    {
      "RequestUri": "https://seanhnscanary2.blob.core.windows.net/test-filesystem-e2f01051-d54d-105f-b07b-3ab367d5092c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Aug 2025 16:18:01 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-08-21T11:17:57.7436092-05:00",
    "RandomSeed": "187824287",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanary2\nU2FuaXRpemVk\nhttps://seanhnscanary2.blob.core.windows.net\nhttps://seanhnscanary2.file.core.windows.net\nhttps://seanhnscanary2.queue.core.windows.net\nhttps://seanhnscanary2.table.core.windows.net\n\n\n\n\nhttps://seanhnscanary2-secondary.blob.core.windows.net\nhttps://seanhnscanary2-secondary.file.core.windows.net\nhttps://seanhnscanary2-secondary.queue.core.windows.net\nhttps://seanhnscanary2-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanary2.blob.core.windows.net/;QueueEndpoint=https://seanhnscanary2.queue.core.windows.net/;FileEndpoint=https://seanhnscanary2.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanary2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanary2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanary2-secondary.file.core.windows.net/;AccountName=seanhnscanary2;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
