{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-3e5bf620-f663-263f-eaf7-0d16efbd8746?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:26 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD7446A8F2\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:40:29 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-3e5bf620-f663-263f-eaf7-0d16efbd8746/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:26 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD744AA3E4\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:40:29 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-3e5bf620-f663-263f-eaf7-0d16efbd8746/test-directory-556747c3-763a-5caa-9ab2-6a0000888810?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:26 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD745AB878\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:40:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-3e5bf620-f663-263f-eaf7-0d16efbd8746/test-directory-556747c3-763a-5caa-9ab2-6a0000888810/test-directory-cdcbed63-7bee-48be-f1d8-8ef9bcd98fd3?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:26 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD7462371C\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:40:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-3e5bf620-f663-263f-eaf7-0d16efbd8746/test-directory-556747c3-763a-5caa-9ab2-6a0000888810/test-directory-cdcbed63-7bee-48be-f1d8-8ef9bcd98fd3/test-file-953ec813-1e0f-1f22-221a-ae1ba64c68ca?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:26 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD746B5938\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:40:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-3e5bf620-f663-263f-eaf7-0d16efbd8746/test-directory-556747c3-763a-5caa-9ab2-6a0000888810?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:26 GMT",
        "x-ms-owner": "f85e5145-8ca2-1528-8212-b66170355132",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD745AB878\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:40:29 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-3e5bf620-f663-263f-eaf7-0d16efbd8746/test-directory-556747c3-763a-5caa-9ab2-6a0000888810/test-directory-cdcbed63-7bee-48be-f1d8-8ef9bcd98fd3?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:26 GMT",
        "x-ms-owner": "f85e5145-8ca2-1528-8212-b66170355132",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD7462371C\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:40:29 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-3e5bf620-f663-263f-eaf7-0d16efbd8746/test-directory-556747c3-763a-5caa-9ab2-6a0000888810/test-directory-cdcbed63-7bee-48be-f1d8-8ef9bcd98fd3/test-file-953ec813-1e0f-1f22-221a-ae1ba64c68ca?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:26 GMT",
        "x-ms-owner": "f85e5145-8ca2-1528-8212-b66170355132",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD746B5938\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:40:29 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "\uFEFF<KeyInfo><Expiry>2026-01-28T00:40:26Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>e06172a7-9585-422f-acbd-7693c11dd186</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2026-01-27T23:40:32Z</SignedStart><SignedExpiry>2026-01-28T00:40:26Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2026-04-06</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-3e5bf620-f663-263f-eaf7-0d16efbd8746/test-directory-556747c3-763a-5caa-9ab2-6a0000888810?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2026-01-27T23%3A40%3A32Z&ske=2026-01-28T00%3A40%3A26Z&sks=b&skv=2026-04-06&sv=Sanitized&st=2026-01-27T22%3A40%3A26Z&se=2026-01-28T00%3A40%3A26Z&sr=c&sp=racwdltmeop&suoid=f85e5145-8ca2-1528-8212-b66170355132&sig=Sanitized&action=setAcce[...]
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-3e5bf620-f663-263f-eaf7-0d16efbd8746?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:29 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-01-27T18:40:26.8738509-05:00",
    "RandomSeed": "2065502657",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanary\nU2FuaXRpemVk\nhttps://seanhnscanary.blob.core.windows.net\nhttps://seanhnscanary.file.core.windows.net\nhttps://seanhnscanary.queue.core.windows.net\nhttps://seanhnscanary.table.core.windows.net\n\n\n\n\nhttps://seanhnscanary-secondary.blob.core.windows.net\nhttps://seanhnscanary-secondary.file.core.windows.net\nhttps://seanhnscanary-secondary.queue.core.windows.net\nhttps://seanhnscanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanary.blob.core.windows.net/;QueueEndpoint=https://seanhnscanary.queue.core.windows.net/;FileEndpoint=https://seanhnscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanary-secondary.file.core.windows.net/;AccountName=seanhnscanary;AccountKey=U2FuaXRpemVk\nencryption scope\n\n"
  }
}
