{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-166e50c4-2eb2-5841-8cf9-9f30d1de4e9f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:47:19 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867AA03DAF9D\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:47:21 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-166e50c4-2eb2-5841-8cf9-9f30d1de4e9f/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Thu, 06 Jun 2024 22:47:19 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867AA0400564\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:47:21 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-166e50c4-2eb2-5841-8cf9-9f30d1de4e9f/test-directory-b47229bc-b717-3243-68ab-c38b9ffce322?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:47:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867AA08BB508\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:47:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-166e50c4-2eb2-5841-8cf9-9f30d1de4e9f/test-directory-b47229bc-b717-3243-68ab-c38b9ffce322/test-directory-e5196abd-1b2c-f9ef-8c93-f0b3ef1500bf?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:47:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867AA095C434\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:47:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-166e50c4-2eb2-5841-8cf9-9f30d1de4e9f/test-directory-b47229bc-b717-3243-68ab-c38b9ffce322/test-directory-e5196abd-1b2c-f9ef-8c93-f0b3ef1500bf/test-file-ccaabade-2947-3adc-b496-c2b99ca2af49?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:47:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867AA0A2C4F8\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:47:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-166e50c4-2eb2-5841-8cf9-9f30d1de4e9f/test-directory-b47229bc-b717-3243-68ab-c38b9ffce322?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:47:20 GMT",
        "x-ms-owner": "0d10948a-e095-b894-daf7-e49aa3bb1a56",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867AA08BB508\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:47:21 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-166e50c4-2eb2-5841-8cf9-9f30d1de4e9f/test-directory-b47229bc-b717-3243-68ab-c38b9ffce322/test-directory-e5196abd-1b2c-f9ef-8c93-f0b3ef1500bf?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:47:20 GMT",
        "x-ms-owner": "0d10948a-e095-b894-daf7-e49aa3bb1a56",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867AA095C434\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:47:21 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-166e50c4-2eb2-5841-8cf9-9f30d1de4e9f/test-directory-b47229bc-b717-3243-68ab-c38b9ffce322/test-directory-e5196abd-1b2c-f9ef-8c93-f0b3ef1500bf/test-file-ccaabade-2947-3adc-b496-c2b99ca2af49?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:47:21 GMT",
        "x-ms-owner": "0d10948a-e095-b894-daf7-e49aa3bb1a56",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867AA0A2C4F8\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:47:21 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "\uFEFF<KeyInfo><Expiry>2024-06-06T23:47:22Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>e610410d-4aa1-4e96-8f70-bc1850bff049</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2024-06-06T22:47:24Z</SignedStart><SignedExpiry>2024-06-06T23:47:22Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2024-08-04</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-166e50c4-2eb2-5841-8cf9-9f30d1de4e9f/test-directory-b47229bc-b717-3243-68ab-c38b9ffce322?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2024-06-06T22%3A47%3A24Z&ske=2024-06-06T23%3A47%3A22Z&sks=b&skv=2024-08-04&sv=Sanitized&st=2024-06-06T21%3A47%3A22Z&se=2024-06-06T23%3A47%3A22Z&sr=c&sp=racwdlmeop&suoid=0d10948a-e095-b894-daf7-e49aa3bb1a56&sig=Sanitized&action=setAcces[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-166e50c4-2eb2-5841-8cf9-9f30d1de4e9f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:47:23 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T17:47:22.2564688-05:00",
    "RandomSeed": "456995642",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
