{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-380c5e96-014f-3040-9611-eeab24948254?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:39:19 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD4C8CF347\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:39:22 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-380c5e96-014f-3040-9611-eeab24948254/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Tue, 27 Jan 2026 23:39:19 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD4C921704\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:39:22 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-380c5e96-014f-3040-9611-eeab24948254/test-directory-c885893e-ad05-241d-a7e9-9108a4264e6f?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:39:19 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD4CA16494\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:39:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-380c5e96-014f-3040-9611-eeab24948254/test-directory-c885893e-ad05-241d-a7e9-9108a4264e6f/test-directory-621a2fd0-6af2-bb88-f868-ad42936453b0?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:39:19 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD4CB19430\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:39:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-380c5e96-014f-3040-9611-eeab24948254/test-directory-c885893e-ad05-241d-a7e9-9108a4264e6f/test-directory-621a2fd0-6af2-bb88-f868-ad42936453b0/test-file-c48abf69-85ba-4c3f-91f6-d78c0734e471?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:39:19 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD4CB83DD8\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:39:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-380c5e96-014f-3040-9611-eeab24948254/test-directory-c885893e-ad05-241d-a7e9-9108a4264e6f?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:39:19 GMT",
        "x-ms-owner": "de337edb-7f8d-7eb0-e049-e491dfbed09a",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD4CA9125C\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:39:22 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-380c5e96-014f-3040-9611-eeab24948254/test-directory-c885893e-ad05-241d-a7e9-9108a4264e6f/test-directory-621a2fd0-6af2-bb88-f868-ad42936453b0?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:39:19 GMT",
        "x-ms-owner": "de337edb-7f8d-7eb0-e049-e491dfbed09a",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD4CB19430\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:39:22 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-380c5e96-014f-3040-9611-eeab24948254/test-directory-c885893e-ad05-241d-a7e9-9108a4264e6f/test-directory-621a2fd0-6af2-bb88-f868-ad42936453b0/test-file-c48abf69-85ba-4c3f-91f6-d78c0734e471?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:39:20 GMT",
        "x-ms-owner": "de337edb-7f8d-7eb0-e049-e491dfbed09a",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD4CB83DD8\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:39:22 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-380c5e96-014f-3040-9611-eeab24948254/test-directory-c885893e-ad05-241d-a7e9-9108a4264e6f/test-directory-b360503d-0cf7-98f1-63de-d5b0da0e5e47/test-directory-d3ad2f03-3f20-67a0-6a5a-60e16d9d71fd?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:39:20 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD4D221020\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:39:23 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "\uFEFF<KeyInfo><Expiry>2026-01-28T00:39:20Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>e06172a7-9585-422f-acbd-7693c11dd186</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2026-01-27T23:39:26Z</SignedStart><SignedExpiry>2026-01-28T00:39:20Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2026-04-06</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-380c5e96-014f-3040-9611-eeab24948254/test-directory-c885893e-ad05-241d-a7e9-9108a4264e6f?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2026-01-27T23%3A39%3A26Z&ske=2026-01-28T00%3A39%3A20Z&sks=b&skv=2026-04-06&sv=Sanitized&st=2026-01-27T22%3A39%3A20Z&se=2026-01-28T00%3A39%3A20Z&sr=c&sp=racwdltmeop&suoid=de337edb-7f8d-7eb0-e049-e491dfbed09a&sig=Sanitized&action=setAccessControlRecursive&mode=remove&forceFlag=true&maxRecords=2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "x-ms-acl": "mask,default:user,default:group,user:ec3595d6-2c17-4696-8caa-7e139758d24a,group:ec3595d6-2c17-4696-8caa-7e139758d24a,default:user:ec3595d6-2c17-4696-8caa-7e139758d24a,default:group:ec3595d6-2c17-4696-8caa-7e139758d24a",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-continuation": "VBbA9NKE14afqCkYggIY/AEvc2Vhbmhuc2NhbmFyeQEwMUQ3QzUxRTk5RkU5QjQxL3Rlc3QtZmlsZXN5c3RlbS0zODBjNWU5Ni0wMTRmLTMwNDAtOTYxMS1lZWFiMjQ5NDgyNTQBMDFEQzhGRTYyQTE4OTg0QS90ZXN0LWRpcmVjdG9yeS1jODg1ODkzZS1hZDA1LTI0MWQtYTdlOS05MTA4YTQyNjRlNmYvdGVzdC1kaXJlY3RvcnktNjIxYTJmZDAtNmFmMi1iYjg4LWY4NjgtYWQ0MjkzNjQ1M2IwL3Rlc3QtZmlsZS05YThlZDk2Ni0zN2U0LTI1ODMtYWY2Yi02NWM5YjgzMjEzMmMWAAAA",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "eyJkaXJlY3Rvcmllc1N1Y2Nlc3NmdWwiOjIsImZhaWxlZEVudHJpZXMiOltdLCJmYWlsdXJlQ291bnQiOjAsImZpbGVzU3VjY2Vzc2Z1bCI6MH0K"
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-380c5e96-014f-3040-9611-eeab24948254/test-directory-c885893e-ad05-241d-a7e9-9108a4264e6f?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2026-01-27T23%3A39%3A26Z&ske=2026-01-28T00%3A39%3A20Z&sks=b&skv=2026-04-06&sv=Sanitized&st=2026-01-27T22%3A39%3A20Z&se=2026-01-28T00%3A39%3A20Z&sr=c&sp=racwdltmeop&suoid=de337edb-7f8d-7eb0-e049-e491dfbed09a&sig=Sanitized&action=setAcce[...]
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-380c5e96-014f-3040-9611-eeab24948254/test-directory-c885893e-ad05-241d-a7e9-9108a4264e6f?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2026-01-27T23%3A39%3A26Z&ske=2026-01-28T00%3A39%3A20Z&sks=b&skv=2026-04-06&sv=Sanitized&st=2026-01-27T22%3A39%3A20Z&se=2026-01-28T00%3A39%3A20Z&sr=c&sp=racwdltmeop&suoid=de337edb-7f8d-7eb0-e049-e491dfbed09a&sig=Sanitized&action=setAcce[...]
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-380c5e96-014f-3040-9611-eeab24948254/test-directory-c885893e-ad05-241d-a7e9-9108a4264e6f?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2026-01-27T23%3A39%3A26Z&ske=2026-01-28T00%3A39%3A20Z&sks=b&skv=2026-04-06&sv=Sanitized&st=2026-01-27T22%3A39%3A20Z&se=2026-01-28T00%3A39%3A20Z&sr=c&sp=racwdltmeop&suoid=de337edb-7f8d-7eb0-e049-e491dfbed09a&sig=Sanitized&action=setAcce[...]
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-380c5e96-014f-3040-9611-eeab24948254/test-directory-c885893e-ad05-241d-a7e9-9108a4264e6f?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2026-01-27T23%3A39%3A26Z&ske=2026-01-28T00%3A39%3A20Z&sks=b&skv=2026-04-06&sv=Sanitized&st=2026-01-27T22%3A39%3A20Z&se=2026-01-28T00%3A39%3A20Z&sr=c&sp=racwdltmeop&suoid=de337edb-7f8d-7eb0-e049-e491dfbed09a&sig=Sanitized&action=setAcce[...]
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-380c5e96-014f-3040-9611-eeab24948254?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:39:23 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-01-27T18:39:20.4298115-05:00",
    "RandomSeed": "1183596419",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanary\nU2FuaXRpemVk\nhttps://seanhnscanary.blob.core.windows.net\nhttps://seanhnscanary.file.core.windows.net\nhttps://seanhnscanary.queue.core.windows.net\nhttps://seanhnscanary.table.core.windows.net\n\n\n\n\nhttps://seanhnscanary-secondary.blob.core.windows.net\nhttps://seanhnscanary-secondary.file.core.windows.net\nhttps://seanhnscanary-secondary.queue.core.windows.net\nhttps://seanhnscanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanary.blob.core.windows.net/;QueueEndpoint=https://seanhnscanary.queue.core.windows.net/;FileEndpoint=https://seanhnscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanary-secondary.file.core.windows.net/;AccountName=seanhnscanary;AccountKey=U2FuaXRpemVk\nencryption scope\n\n"
  }
}
