{
  "Entries": [
    {
      "RequestUri": "https://vanishatesttagshns.blob.core.windows.net/test-filesystem-62cca81b-eb04-ac1f-56b3-c0175305ef49?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 25 Jun 2025 17:10:46 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB40B39F5A6BF\"",
        "Last-Modified": "Wed, 25 Jun 2025 17:10:46 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://vanishatesttagshns.dfs.core.windows.net/test-filesystem-62cca81b-eb04-ac1f-56b3-c0175305ef49/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Wed, 25 Jun 2025 17:10:46 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB40B39F9D0D4\"",
        "Last-Modified": "Wed, 25 Jun 2025 17:10:46 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://vanishatesttagshns.dfs.core.windows.net/test-filesystem-62cca81b-eb04-ac1f-56b3-c0175305ef49/test-directory-3185f37e-b629-993c-badc-caeca67d50f4?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 25 Jun 2025 17:10:46 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB40B3A080448\"",
        "Last-Modified": "Wed, 25 Jun 2025 17:10:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://vanishatesttagshns.dfs.core.windows.net/test-filesystem-62cca81b-eb04-ac1f-56b3-c0175305ef49/test-directory-3185f37e-b629-993c-badc-caeca67d50f4/test-directory-c61fd1d0-8f33-2d0c-ffb9-cbec647cdc76?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 25 Jun 2025 17:10:46 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB40B3A0DFB64\"",
        "Last-Modified": "Wed, 25 Jun 2025 17:10:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://vanishatesttagshns.dfs.core.windows.net/test-filesystem-62cca81b-eb04-ac1f-56b3-c0175305ef49/test-directory-3185f37e-b629-993c-badc-caeca67d50f4/test-directory-c61fd1d0-8f33-2d0c-ffb9-cbec647cdc76/test-file-36e8235b-ebf9-40ec-0761-5dc3fde476a7?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 25 Jun 2025 17:10:46 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB40B3A142098\"",
        "Last-Modified": "Wed, 25 Jun 2025 17:10:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://vanishatesttagshns.dfs.core.windows.net/test-filesystem-62cca81b-eb04-ac1f-56b3-c0175305ef49/test-directory-3185f37e-b629-993c-badc-caeca67d50f4?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 25 Jun 2025 17:10:46 GMT",
        "x-ms-owner": "8e184c82-2f9e-77cc-b8e3-728a30b8915c",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB40B3A080448\"",
        "Last-Modified": "Wed, 25 Jun 2025 17:10:46 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://vanishatesttagshns.dfs.core.windows.net/test-filesystem-62cca81b-eb04-ac1f-56b3-c0175305ef49/test-directory-3185f37e-b629-993c-badc-caeca67d50f4/test-directory-c61fd1d0-8f33-2d0c-ffb9-cbec647cdc76?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 25 Jun 2025 17:10:47 GMT",
        "x-ms-owner": "8e184c82-2f9e-77cc-b8e3-728a30b8915c",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB40B3A0DFB64\"",
        "Last-Modified": "Wed, 25 Jun 2025 17:10:46 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://vanishatesttagshns.dfs.core.windows.net/test-filesystem-62cca81b-eb04-ac1f-56b3-c0175305ef49/test-directory-3185f37e-b629-993c-badc-caeca67d50f4/test-directory-c61fd1d0-8f33-2d0c-ffb9-cbec647cdc76/test-file-36e8235b-ebf9-40ec-0761-5dc3fde476a7?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 25 Jun 2025 17:10:47 GMT",
        "x-ms-owner": "8e184c82-2f9e-77cc-b8e3-728a30b8915c",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB40B3A142098\"",
        "Last-Modified": "Wed, 25 Jun 2025 17:10:46 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://vanishatesttagshns.dfs.core.windows.net/test-filesystem-62cca81b-eb04-ac1f-56b3-c0175305ef49/test-directory-3185f37e-b629-993c-badc-caeca67d50f4/test-directory-bf13343d-dc3a-459f-e28f-ca89ae086042/test-directory-4f22f8ab-2a5e-620d-1eb8-39e4e8945429?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 25 Jun 2025 17:10:47 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB40B3A687DFC\"",
        "Last-Modified": "Wed, 25 Jun 2025 17:10:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://vanishatesttagshns.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "\uFEFF<KeyInfo><Expiry>2025-06-25T18:10:47Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>e610410d-4aa1-4e96-8f70-bc1850bff049</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2025-06-25T17:10:50Z</SignedStart><SignedExpiry>2025-06-25T18:10:47Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2026-02-06</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://vanishatesttagshns.dfs.core.windows.net/test-filesystem-62cca81b-eb04-ac1f-56b3-c0175305ef49/test-directory-3185f37e-b629-993c-badc-caeca67d50f4?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2025-06-25T17%3A10%3A50Z&ske=2025-06-25T18%3A10%3A47Z&sks=b&skv=2026-02-06&sv=Sanitized&st=2025-06-25T16%3A10%3A47Z&se=2025-06-25T18%3A10%3A47Z&sr=c&sp=racwdltmeop&suoid=8e184c82-2f9e-77cc-b8e3-728a30b8915c&sig=Sanitized&action=se[...]
    {
      "RequestUri": "https://vanishatesttagshns.blob.core.windows.net/test-filesystem-62cca81b-eb04-ac1f-56b3-c0175305ef49?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 25 Jun 2025 17:10:50 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-06-25T12:10:47.4204785-05:00",
    "RandomSeed": "684548351",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nvanishatesttagshns\nU2FuaXRpemVk\nhttps://vanishatesttagshns.blob.core.windows.net\nhttps://vanishatesttagshns.file.core.windows.net\nhttps://vanishatesttagshns.queue.core.windows.net\nhttps://vanishatesttagshns.table.core.windows.net\n\n\n\n\nhttps://vanishatesttagshns-secondary.blob.core.windows.net\nhttps://vanishatesttagshns-secondary.file.core.windows.net\nhttps://vanishatesttagshns-secondary.queue.core.windows.net\nhttps://vanishatesttagshns-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://vanishatesttagshns.blob.core.windows.net/;QueueEndpoint=https://vanishatesttagshns.queue.core.windows.net/;FileEndpoint=https://vanishatesttagshns.file.core.windows.net/;BlobSecondaryEndpoint=https://vanishatesttagshns-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://vanishatesttagshns-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://vanishatesttagshns-secondary.file.core.windows.net/;AccountName=vanishatesttagshns;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
