{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanary2.blob.core.windows.net/test-filesystem-86ee2787-d21a-e5c2-15dc-abddb28f02d3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Aug 2025 16:16:52 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CE23C019D0\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:16:52 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-86ee2787-d21a-e5c2-15dc-abddb28f02d3/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Thu, 21 Aug 2025 16:16:52 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CE23D5B9D0\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:16:52 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-86ee2787-d21a-e5c2-15dc-abddb28f02d3/test-directory-372ad0fb-9676-b844-99cd-6139ea4ecd6a?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Aug 2025 16:16:52 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CE23E344AC\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:16:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-86ee2787-d21a-e5c2-15dc-abddb28f02d3/test-directory-372ad0fb-9676-b844-99cd-6139ea4ecd6a/test-directory-a9cc5d49-ecee-75de-fcdb-7581f6d732c1?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Aug 2025 16:16:52 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CE23E91CB4\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:16:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-86ee2787-d21a-e5c2-15dc-abddb28f02d3/test-directory-372ad0fb-9676-b844-99cd-6139ea4ecd6a/test-directory-a9cc5d49-ecee-75de-fcdb-7581f6d732c1/test-file-1f3945ba-9f7f-d36d-4b7e-da423f59f520?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Aug 2025 16:16:52 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CE23EF5CC4\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:16:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-86ee2787-d21a-e5c2-15dc-abddb28f02d3/test-directory-372ad0fb-9676-b844-99cd-6139ea4ecd6a?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Aug 2025 16:16:52 GMT",
        "x-ms-owner": "3958210d-94b8-1b53-b8e4-5fa5bbaa0a38",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CE23E344AC\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:16:52 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-86ee2787-d21a-e5c2-15dc-abddb28f02d3/test-directory-372ad0fb-9676-b844-99cd-6139ea4ecd6a/test-directory-a9cc5d49-ecee-75de-fcdb-7581f6d732c1?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Aug 2025 16:16:52 GMT",
        "x-ms-owner": "3958210d-94b8-1b53-b8e4-5fa5bbaa0a38",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CE23E91CB4\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:16:52 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-86ee2787-d21a-e5c2-15dc-abddb28f02d3/test-directory-372ad0fb-9676-b844-99cd-6139ea4ecd6a/test-directory-a9cc5d49-ecee-75de-fcdb-7581f6d732c1/test-file-1f3945ba-9f7f-d36d-4b7e-da423f59f520?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Aug 2025 16:16:52 GMT",
        "x-ms-owner": "3958210d-94b8-1b53-b8e4-5fa5bbaa0a38",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CE23EF5CC4\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:16:52 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanary2.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "\uFEFF<KeyInfo><Expiry>2025-08-21T17:16:53Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>e610410d-4aa1-4e96-8f70-bc1850bff049</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2025-08-21T16:16:56Z</SignedStart><SignedExpiry>2025-08-21T17:16:53Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2026-02-06</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-86ee2787-d21a-e5c2-15dc-abddb28f02d3/test-directory-372ad0fb-9676-b844-99cd-6139ea4ecd6a?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2025-08-21T16%3A16%3A56Z&ske=2025-08-21T17%3A16%3A53Z&sks=b&skv=2026-02-06&sv=Sanitized&st=2025-08-21T15%3A16%3A53Z&se=2025-08-21T17%3A16%3A53Z&sr=c&sp=racwdlmeop&suoid=3958210d-94b8-1b53-b8e4-5fa5bbaa0a38&sig=Sanitized&action=setAcce[...]
    {
      "RequestUri": "https://seanhnscanary2.blob.core.windows.net/test-filesystem-86ee2787-d21a-e5c2-15dc-abddb28f02d3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Aug 2025 16:16:56 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-08-21T11:16:53.1448779-05:00",
    "RandomSeed": "750118617",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanary2\nU2FuaXRpemVk\nhttps://seanhnscanary2.blob.core.windows.net\nhttps://seanhnscanary2.file.core.windows.net\nhttps://seanhnscanary2.queue.core.windows.net\nhttps://seanhnscanary2.table.core.windows.net\n\n\n\n\nhttps://seanhnscanary2-secondary.blob.core.windows.net\nhttps://seanhnscanary2-secondary.file.core.windows.net\nhttps://seanhnscanary2-secondary.queue.core.windows.net\nhttps://seanhnscanary2-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanary2.blob.core.windows.net/;QueueEndpoint=https://seanhnscanary2.queue.core.windows.net/;FileEndpoint=https://seanhnscanary2.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanary2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanary2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanary2-secondary.file.core.windows.net/;AccountName=seanhnscanary2;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
