{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-4b78f92c-c11d-2e73-d7ce-4d49f5f0afc5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:51:23 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867B317930B4\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:51:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-4b78f92c-c11d-2e73-d7ce-4d49f5f0afc5/test-directory-c11579ee-a1d4-df19-9d37-e8032832e5ea?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:51:23 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867B31881B70\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:51:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-4b78f92c-c11d-2e73-d7ce-4d49f5f0afc5/test-directory-b12daffc-884f-92ea-1676-8e46ee1d2bf4?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:51:23 GMT",
        "x-ms-rename-source": "/test-filesystem-4b78f92c-c11d-2e73-d7ce-4d49f5f0afc5/test-directory-c11579ee-a1d4-df19-9d37-e8032832e5ea",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867B31881B70\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:51:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-4b78f92c-c11d-2e73-d7ce-4d49f5f0afc5/test-directory-b12daffc-884f-92ea-1676-8e46ee1d2bf4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:51:23 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867B31881B70\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:51:24 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rwx,group::r-x,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:51:24 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-resource-type": "directory",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-4a227f90-e13b-cbfd-3e1d-3334afe7a119/test-directory-6bab5e1f-66cd-b83c-74f3-5d3154f4ceed?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 05 Jun 2024 22:51:23 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 22:51:24 GMT",
        "x-ms-rename-source": "/test-filesystem-4a227f90-e13b-cbfd-3e1d-3334afe7a119/test-directory-19eb8319-d44e-8c81-b57a-cb86fe9260e7",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867B31D2815C\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:51:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-df699b22-b5f2-0d05-96bd-4737c55fb414/test-directory-b83e6f13-2ea3-b806-92e5-cf8a6ca3d969?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 07 Jun 2024 22:51:23 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 22:51:24 GMT",
        "x-ms-rename-source": "/test-filesystem-df699b22-b5f2-0d05-96bd-4737c55fb414/test-directory-aa625712-533b-069f-d4b5-42aeb08ad080",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867B321ADA10\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:51:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-07fe722c-b22a-a3e4-c617-59547ecaa0b4/test-directory-26957fac-9a0f-15da-9d92-db94103641d5?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DC867B32769710",
        "x-ms-date": "Thu, 06 Jun 2024 22:51:25 GMT",
        "x-ms-rename-source": "/test-filesystem-07fe722c-b22a-a3e4-c617-59547ecaa0b4/test-directory-fc362725-b3f8-44f0-0d0d-6f536d355765",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867B326D83F0\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:51:26 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-d7cd8a1a-d509-d770-4b03-f59fbdc3cc09/test-directory-ef9b1df1-c2ad-a40b-69a3-96810e5e5d86?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"garbage\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:51:25 GMT",
        "x-ms-rename-source": "/test-filesystem-d7cd8a1a-d509-d770-4b03-f59fbdc3cc09/test-directory-3a036380-731d-b494-3e7e-5aeb171260f1",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867B32C886B0\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:51:27 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-2220189c-5746-4266-3284-3316ebcb54fd/test-directory-3aa18bf6-2e7f-8452-e51d-a998efdf5051?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:51:26 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "3dce37f9-9053-ef93-3377-f30607ae107b",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867B33507C98\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:51:27 GMT",
        "x-ms-lease-id": "3dce37f9-9053-ef93-3377-f30607ae107b",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-2220189c-5746-4266-3284-3316ebcb54fd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:51:26 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T17:51:23.3451224-05:00",
    "RandomSeed": "31135254",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
