{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-a5d5e94b-f95f-d55f-81ea-30c9156054d0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:30 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD76BA9D06\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:40:33 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-a5d5e94b-f95f-d55f-81ea-30c9156054d0/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:30 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD76BEB29C\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:40:33 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-a5d5e94b-f95f-d55f-81ea-30c9156054d0/test-directory-cea93330-a29f-4e29-b99a-dcbe9acca250?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:30 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD76CDFC40\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:40:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-a5d5e94b-f95f-d55f-81ea-30c9156054d0/test-directory-cea93330-a29f-4e29-b99a-dcbe9acca250/test-directory-0f186a3e-c1db-6cdb-d1a1-10dd584ccd66?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:30 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD76DE2D70\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:40:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-a5d5e94b-f95f-d55f-81ea-30c9156054d0/test-directory-cea93330-a29f-4e29-b99a-dcbe9acca250/test-directory-0f186a3e-c1db-6cdb-d1a1-10dd584ccd66/test-file-019ac607-9981-b303-6e33-b2f940829310?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:30 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD76E6D390\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:40:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-a5d5e94b-f95f-d55f-81ea-30c9156054d0/test-directory-cea93330-a29f-4e29-b99a-dcbe9acca250?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:30 GMT",
        "x-ms-owner": "32cfff63-88a8-b8f6-a0d7-8f3bfc10778f",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD76D63CA8\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:40:33 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-a5d5e94b-f95f-d55f-81ea-30c9156054d0/test-directory-cea93330-a29f-4e29-b99a-dcbe9acca250/test-directory-0f186a3e-c1db-6cdb-d1a1-10dd584ccd66?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:30 GMT",
        "x-ms-owner": "32cfff63-88a8-b8f6-a0d7-8f3bfc10778f",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD76DE2D70\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:40:33 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-a5d5e94b-f95f-d55f-81ea-30c9156054d0/test-directory-cea93330-a29f-4e29-b99a-dcbe9acca250/test-directory-0f186a3e-c1db-6cdb-d1a1-10dd584ccd66/test-file-019ac607-9981-b303-6e33-b2f940829310?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:30 GMT",
        "x-ms-owner": "32cfff63-88a8-b8f6-a0d7-8f3bfc10778f",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD76E6D390\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:40:33 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-a5d5e94b-f95f-d55f-81ea-30c9156054d0/test-directory-cea93330-a29f-4e29-b99a-dcbe9acca250/test-directory-66c93d8f-052e-ca44-328e-f5f5cb9d7438/test-directory-608315d3-84e5-bc55-2474-09721ed51e49?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:31 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD774AFADC\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:40:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "\uFEFF<KeyInfo><Expiry>2026-01-28T00:40:31Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>e06172a7-9585-422f-acbd-7693c11dd186</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2026-01-27T23:40:37Z</SignedStart><SignedExpiry>2026-01-28T00:40:31Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2026-04-06</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-a5d5e94b-f95f-d55f-81ea-30c9156054d0/test-directory-cea93330-a29f-4e29-b99a-dcbe9acca250?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2026-01-27T23%3A40%3A37Z&ske=2026-01-28T00%3A40%3A31Z&sks=b&skv=2026-04-06&sv=Sanitized&st=2026-01-27T22%3A40%3A31Z&se=2026-01-28T00%3A40%3A31Z&sr=c&sp=racwdltmeop&suoid=32cfff63-88a8-b8f6-a0d7-8f3bfc10778f&sig=Sanitized&action=setAccessControlRecursive&mode=set&forceFlag=true&maxRecords=2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "x-ms-acl": "user::rwx,group::r--,other::---,mask::rwx",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-continuation": "VBaWnduujejXhiQYggIY/AEvc2Vhbmhuc2NhbmFyeQEwMUQ3QzUxRTk5RkU5QjQxL3Rlc3QtZmlsZXN5c3RlbS1hNWQ1ZTk0Yi1mOTVmLWQ1NWYtODFlYS0zMGM5MTU2MDU0ZDABMDFEQzhGRTY1NDQ2MDc0My90ZXN0LWRpcmVjdG9yeS1jZWE5MzMzMC1hMjlmLTRlMjktYjk5YS1kY2JlOWFjY2EyNTAvdGVzdC1kaXJlY3RvcnktMGYxODZhM2UtYzFkYi02Y2RiLWQxYTEtMTBkZDU4NGNjZDY2L3Rlc3QtZmlsZS0wMTlhYzYwNy05OTgxLWIzMDMtNmUzMy1iMmY5NDA4MjkzMTAWAAAA",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "eyJkaXJlY3Rvcmllc1N1Y2Nlc3NmdWwiOjIsImZhaWxlZEVudHJpZXMiOltdLCJmYWlsdXJlQ291bnQiOjAsImZpbGVzU3VjY2Vzc2Z1bCI6MH0K"
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-a5d5e94b-f95f-d55f-81ea-30c9156054d0/test-directory-cea93330-a29f-4e29-b99a-dcbe9acca250?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2026-01-27T23%3A40%3A37Z&ske=2026-01-28T00%3A40%3A31Z&sks=b&skv=2026-04-06&sv=Sanitized&st=2026-01-27T22%3A40%3A31Z&se=2026-01-28T00%3A40%3A31Z&sr=c&sp=racwdltmeop&suoid=32cfff63-88a8-b8f6-a0d7-8f3bfc10778f&sig=Sanitized&action=setAcce[...]
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-a5d5e94b-f95f-d55f-81ea-30c9156054d0/test-directory-cea93330-a29f-4e29-b99a-dcbe9acca250?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2026-01-27T23%3A40%3A37Z&ske=2026-01-28T00%3A40%3A31Z&sks=b&skv=2026-04-06&sv=Sanitized&st=2026-01-27T22%3A40%3A31Z&se=2026-01-28T00%3A40%3A31Z&sr=c&sp=racwdltmeop&suoid=32cfff63-88a8-b8f6-a0d7-8f3bfc10778f&sig=Sanitized&action=setAcce[...]
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-a5d5e94b-f95f-d55f-81ea-30c9156054d0/test-directory-cea93330-a29f-4e29-b99a-dcbe9acca250?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2026-01-27T23%3A40%3A37Z&ske=2026-01-28T00%3A40%3A31Z&sks=b&skv=2026-04-06&sv=Sanitized&st=2026-01-27T22%3A40%3A31Z&se=2026-01-28T00%3A40%3A31Z&sr=c&sp=racwdltmeop&suoid=32cfff63-88a8-b8f6-a0d7-8f3bfc10778f&sig=Sanitized&action=setAcce[...]
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-a5d5e94b-f95f-d55f-81ea-30c9156054d0/test-directory-cea93330-a29f-4e29-b99a-dcbe9acca250?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2026-01-27T23%3A40%3A37Z&ske=2026-01-28T00%3A40%3A31Z&sks=b&skv=2026-04-06&sv=Sanitized&st=2026-01-27T22%3A40%3A31Z&se=2026-01-28T00%3A40%3A31Z&sr=c&sp=racwdltmeop&suoid=32cfff63-88a8-b8f6-a0d7-8f3bfc10778f&sig=Sanitized&action=setAcce[...]
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-a5d5e94b-f95f-d55f-81ea-30c9156054d0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:34 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-01-27T18:40:31.1521508-05:00",
    "RandomSeed": "13946718",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanary\nU2FuaXRpemVk\nhttps://seanhnscanary.blob.core.windows.net\nhttps://seanhnscanary.file.core.windows.net\nhttps://seanhnscanary.queue.core.windows.net\nhttps://seanhnscanary.table.core.windows.net\n\n\n\n\nhttps://seanhnscanary-secondary.blob.core.windows.net\nhttps://seanhnscanary-secondary.file.core.windows.net\nhttps://seanhnscanary-secondary.queue.core.windows.net\nhttps://seanhnscanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanary.blob.core.windows.net/;QueueEndpoint=https://seanhnscanary.queue.core.windows.net/;FileEndpoint=https://seanhnscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanary-secondary.file.core.windows.net/;AccountName=seanhnscanary;AccountKey=U2FuaXRpemVk\nencryption scope\n\n"
  }
}
