{
  "Entries": [
    {
      "RequestUri": "https://vanishatesttagshns.blob.core.windows.net/test-filesystem-4b3bbbfd-58e8-c0fe-7ec6-e46f329b7e69?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 25 Jun 2025 17:11:09 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB40B47C621C7\"",
        "Last-Modified": "Wed, 25 Jun 2025 17:11:09 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://vanishatesttagshns.dfs.core.windows.net/test-filesystem-4b3bbbfd-58e8-c0fe-7ec6-e46f329b7e69/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Wed, 25 Jun 2025 17:11:09 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB40B47C860A0\"",
        "Last-Modified": "Wed, 25 Jun 2025 17:11:09 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://vanishatesttagshns.dfs.core.windows.net/test-filesystem-4b3bbbfd-58e8-c0fe-7ec6-e46f329b7e69/test-directory-5ac1ad69-c940-6388-1e98-0f7aa5106d91?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 25 Jun 2025 17:11:09 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB40B47D608A4\"",
        "Last-Modified": "Wed, 25 Jun 2025 17:11:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://vanishatesttagshns.dfs.core.windows.net/test-filesystem-4b3bbbfd-58e8-c0fe-7ec6-e46f329b7e69/test-directory-5ac1ad69-c940-6388-1e98-0f7aa5106d91/test-directory-b7b7ece0-02aa-84df-bb9a-2937746f4b55?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 25 Jun 2025 17:11:09 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB40B47E1C3F0\"",
        "Last-Modified": "Wed, 25 Jun 2025 17:11:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://vanishatesttagshns.dfs.core.windows.net/test-filesystem-4b3bbbfd-58e8-c0fe-7ec6-e46f329b7e69/test-directory-5ac1ad69-c940-6388-1e98-0f7aa5106d91/test-directory-b7b7ece0-02aa-84df-bb9a-2937746f4b55/test-file-919cf4c9-36d4-1e65-517a-0e5eba08859b?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 25 Jun 2025 17:11:10 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB40B47E87740\"",
        "Last-Modified": "Wed, 25 Jun 2025 17:11:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://vanishatesttagshns.dfs.core.windows.net/test-filesystem-4b3bbbfd-58e8-c0fe-7ec6-e46f329b7e69/test-directory-5ac1ad69-c940-6388-1e98-0f7aa5106d91?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 25 Jun 2025 17:11:10 GMT",
        "x-ms-owner": "de452fdb-b04d-bf29-6405-dfda2b0e3b41",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB40B47DC09F4\"",
        "Last-Modified": "Wed, 25 Jun 2025 17:11:09 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://vanishatesttagshns.dfs.core.windows.net/test-filesystem-4b3bbbfd-58e8-c0fe-7ec6-e46f329b7e69/test-directory-5ac1ad69-c940-6388-1e98-0f7aa5106d91/test-directory-b7b7ece0-02aa-84df-bb9a-2937746f4b55?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 25 Jun 2025 17:11:10 GMT",
        "x-ms-owner": "de452fdb-b04d-bf29-6405-dfda2b0e3b41",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB40B47E1C3F0\"",
        "Last-Modified": "Wed, 25 Jun 2025 17:11:10 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://vanishatesttagshns.dfs.core.windows.net/test-filesystem-4b3bbbfd-58e8-c0fe-7ec6-e46f329b7e69/test-directory-5ac1ad69-c940-6388-1e98-0f7aa5106d91/test-directory-b7b7ece0-02aa-84df-bb9a-2937746f4b55/test-file-919cf4c9-36d4-1e65-517a-0e5eba08859b?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 25 Jun 2025 17:11:10 GMT",
        "x-ms-owner": "de452fdb-b04d-bf29-6405-dfda2b0e3b41",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB40B47E87740\"",
        "Last-Modified": "Wed, 25 Jun 2025 17:11:10 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://vanishatesttagshns.dfs.core.windows.net/test-filesystem-4b3bbbfd-58e8-c0fe-7ec6-e46f329b7e69/test-directory-5ac1ad69-c940-6388-1e98-0f7aa5106d91/test-directory-4b84215f-428d-265f-e165-77142882b9b5/test-directory-ea407ad1-f163-2b10-32b0-315b14ae68d7?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 25 Jun 2025 17:11:10 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB40B4845D340\"",
        "Last-Modified": "Wed, 25 Jun 2025 17:11:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://vanishatesttagshns.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "\uFEFF<KeyInfo><Expiry>2025-06-25T18:11:10Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>e610410d-4aa1-4e96-8f70-bc1850bff049</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2025-06-25T17:11:13Z</SignedStart><SignedExpiry>2025-06-25T18:11:10Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2026-02-06</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://vanishatesttagshns.dfs.core.windows.net/test-filesystem-4b3bbbfd-58e8-c0fe-7ec6-e46f329b7e69/test-directory-5ac1ad69-c940-6388-1e98-0f7aa5106d91?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2025-06-25T17%3A11%3A13Z&ske=2025-06-25T18%3A11%3A10Z&sks=b&skv=2026-02-06&sv=Sanitized&st=2025-06-25T16%3A11%3A10Z&se=2025-06-25T18%3A11%3A10Z&sr=c&sp=racwdltmeop&suoid=de452fdb-b04d-bf29-6405-dfda2b0e3b41&sig=Sanitized&action=setAccessControlRecursive&mode=set&forceFlag=true&maxRecords=2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "x-ms-acl": "user::rwx,group::r--,other::---,mask::rwx",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-continuation": "VBallfWpz6jKgEYYjAIYhgIvdmFuaXNoYXRlc3R0YWdzaG5zATAxREJCRjJFQzg5MzREOEMvdGVzdC1maWxlc3lzdGVtLTRiM2JiYmZkLTU4ZTgtYzBmZS03ZWM2LWU0NmYzMjliN2U2OQEwMURCRTVGNDI1NEZDN0E4L3Rlc3QtZGlyZWN0b3J5LTVhYzFhZDY5LWM5NDAtNjM4OC0xZTk4LTBmN2FhNTEwNmQ5MS90ZXN0LWRpcmVjdG9yeS00Yjg0MjE1Zi00MjhkLTI2NWYtZTE2NS03NzE0Mjg4MmI5YjUvdGVzdC1kaXJlY3RvcnktZWE0MDdhZDEtZjE2My0yYjEwLTMyYjAtMzE1YjE0YWU2OGQ3FgAAAA==",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "eyJkaXJlY3Rvcmllc1N1Y2Nlc3NmdWwiOjIsImZhaWxlZEVudHJpZXMiOltdLCJmYWlsdXJlQ291bnQiOjAsImZpbGVzU3VjY2Vzc2Z1bCI6MH0K"
    },
    {
      "RequestUri": "https://vanishatesttagshns.dfs.core.windows.net/test-filesystem-4b3bbbfd-58e8-c0fe-7ec6-e46f329b7e69/test-directory-5ac1ad69-c940-6388-1e98-0f7aa5106d91?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2025-06-25T17%3A11%3A13Z&ske=2025-06-25T18%3A11%3A10Z&sks=b&skv=2026-02-06&sv=Sanitized&st=2025-06-25T16%3A11%3A10Z&se=2025-06-25T18%3A11%3A10Z&sr=c&sp=racwdltmeop&suoid=de452fdb-b04d-bf29-6405-dfda2b0e3b41&sig=Sanitized&action=se[...]
    {
      "RequestUri": "https://vanishatesttagshns.dfs.core.windows.net/test-filesystem-4b3bbbfd-58e8-c0fe-7ec6-e46f329b7e69/test-directory-5ac1ad69-c940-6388-1e98-0f7aa5106d91?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2025-06-25T17%3A11%3A13Z&ske=2025-06-25T18%3A11%3A10Z&sks=b&skv=2026-02-06&sv=Sanitized&st=2025-06-25T16%3A11%3A10Z&se=2025-06-25T18%3A11%3A10Z&sr=c&sp=racwdltmeop&suoid=de452fdb-b04d-bf29-6405-dfda2b0e3b41&sig=Sanitized&action=se[...]
    {
      "RequestUri": "https://vanishatesttagshns.dfs.core.windows.net/test-filesystem-4b3bbbfd-58e8-c0fe-7ec6-e46f329b7e69/test-directory-5ac1ad69-c940-6388-1e98-0f7aa5106d91?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2025-06-25T17%3A11%3A13Z&ske=2025-06-25T18%3A11%3A10Z&sks=b&skv=2026-02-06&sv=Sanitized&st=2025-06-25T16%3A11%3A10Z&se=2025-06-25T18%3A11%3A10Z&sr=c&sp=racwdltmeop&suoid=de452fdb-b04d-bf29-6405-dfda2b0e3b41&sig=Sanitized&action=se[...]
    {
      "RequestUri": "https://vanishatesttagshns.dfs.core.windows.net/test-filesystem-4b3bbbfd-58e8-c0fe-7ec6-e46f329b7e69/test-directory-5ac1ad69-c940-6388-1e98-0f7aa5106d91?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2025-06-25T17%3A11%3A13Z&ske=2025-06-25T18%3A11%3A10Z&sks=b&skv=2026-02-06&sv=Sanitized&st=2025-06-25T16%3A11%3A10Z&se=2025-06-25T18%3A11%3A10Z&sr=c&sp=racwdltmeop&suoid=de452fdb-b04d-bf29-6405-dfda2b0e3b41&sig=Sanitized&action=setAccessControlRecursive&continuation=VBbFgIq1nMHa4QYYhwIYgQIvdmFuaXNoYXRlc3R0YWdzaG5zATAxREJCRjJFQzg5MzREOEMvdGVzdC1maWxlc3lzdGVtLTRiM2JiYmZkLTU4ZTgtYzBmZS03ZWM2LWU0NmYzMjliN2U2OQEwMURCRTVGNDI1NEZDN0E4L3Rlc3QtZGlyZWN0b3J5LTVhYzFhZDY5LWM5NDAtNjM4OC0xZTk4LTBmN2FhNTEwNmQ5MS90ZXN0LWRpcmVjdG9yeS1iN2I3ZWNlMC0wMmFhLTg0ZGYtYmI5YS0yOTM3NzQ2ZjRiNTUvdGVzdC1maWxlLTMzYTVmOGExLWI3Y2QtNzEzNC05NjI4LTg5OTFiMWEzZjA3ZhYAAAA%3D&mode=set&forceFlag=true&maxRecords=2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "x-ms-acl": "user::rwx,group::r--,other::---,mask::rwx",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "eyJkaXJlY3Rvcmllc1N1Y2Nlc3NmdWwiOjAsImZhaWxlZEVudHJpZXMiOltdLCJmYWlsdXJlQ291bnQiOjAsImZpbGVzU3VjY2Vzc2Z1bCI6Mn0K"
    },
    {
      "RequestUri": "https://vanishatesttagshns.blob.core.windows.net/test-filesystem-4b3bbbfd-58e8-c0fe-7ec6-e46f329b7e69?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 25 Jun 2025 17:11:14 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-06-25T12:11:10.6878403-05:00",
    "RandomSeed": "1812585898",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nvanishatesttagshns\nU2FuaXRpemVk\nhttps://vanishatesttagshns.blob.core.windows.net\nhttps://vanishatesttagshns.file.core.windows.net\nhttps://vanishatesttagshns.queue.core.windows.net\nhttps://vanishatesttagshns.table.core.windows.net\n\n\n\n\nhttps://vanishatesttagshns-secondary.blob.core.windows.net\nhttps://vanishatesttagshns-secondary.file.core.windows.net\nhttps://vanishatesttagshns-secondary.queue.core.windows.net\nhttps://vanishatesttagshns-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://vanishatesttagshns.blob.core.windows.net/;QueueEndpoint=https://vanishatesttagshns.queue.core.windows.net/;FileEndpoint=https://vanishatesttagshns.file.core.windows.net/;BlobSecondaryEndpoint=https://vanishatesttagshns-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://vanishatesttagshns-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://vanishatesttagshns-secondary.file.core.windows.net/;AccountName=vanishatesttagshns;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
