{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanary2.blob.core.windows.net/test-filesystem-558a6732-9732-2f6d-7cce-d7fe6cdc9132?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Aug 2025 16:18:06 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CE4FACEC47\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:18:06 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-558a6732-9732-2f6d-7cce-d7fe6cdc9132/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Thu, 21 Aug 2025 16:18:06 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CE4FAF3540\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:18:06 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-558a6732-9732-2f6d-7cce-d7fe6cdc9132/test-directory-1b1e7770-a7d4-611c-d253-52f0bf859df6?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Aug 2025 16:18:06 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CE4FBC0E60\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:18:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-558a6732-9732-2f6d-7cce-d7fe6cdc9132/test-directory-1b1e7770-a7d4-611c-d253-52f0bf859df6/test-directory-e1fb14c5-fc09-c6b4-434c-3c716aa55897?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Aug 2025 16:18:06 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CE4FC693E8\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:18:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-558a6732-9732-2f6d-7cce-d7fe6cdc9132/test-directory-1b1e7770-a7d4-611c-d253-52f0bf859df6/test-directory-e1fb14c5-fc09-c6b4-434c-3c716aa55897/test-file-63e56369-dbe3-f1c1-0d05-531b791ec9d6?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Aug 2025 16:18:06 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CE4FCD676C\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:18:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-558a6732-9732-2f6d-7cce-d7fe6cdc9132/test-directory-1b1e7770-a7d4-611c-d253-52f0bf859df6?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Aug 2025 16:18:06 GMT",
        "x-ms-owner": "684bec08-83cf-c879-e451-e707ea5cc23e",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CE4FC1B16C\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:18:06 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-558a6732-9732-2f6d-7cce-d7fe6cdc9132/test-directory-1b1e7770-a7d4-611c-d253-52f0bf859df6/test-directory-e1fb14c5-fc09-c6b4-434c-3c716aa55897?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Aug 2025 16:18:06 GMT",
        "x-ms-owner": "684bec08-83cf-c879-e451-e707ea5cc23e",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CE4FC693E8\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:18:06 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-558a6732-9732-2f6d-7cce-d7fe6cdc9132/test-directory-1b1e7770-a7d4-611c-d253-52f0bf859df6/test-directory-e1fb14c5-fc09-c6b4-434c-3c716aa55897/test-file-63e56369-dbe3-f1c1-0d05-531b791ec9d6?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Aug 2025 16:18:06 GMT",
        "x-ms-owner": "684bec08-83cf-c879-e451-e707ea5cc23e",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CE4FCD676C\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:18:06 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-558a6732-9732-2f6d-7cce-d7fe6cdc9132/test-directory-1b1e7770-a7d4-611c-d253-52f0bf859df6/test-directory-5b48f5e7-3773-7281-f8d8-d644fec97924/test-directory-764b0296-fd5b-e8e9-9cd6-5f043f2d69c7?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Aug 2025 16:18:06 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CE502045D4\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:18:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "\uFEFF<KeyInfo><Expiry>2025-08-21T17:18:06Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>e610410d-4aa1-4e96-8f70-bc1850bff049</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2025-08-21T16:18:10Z</SignedStart><SignedExpiry>2025-08-21T17:18:06Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2026-02-06</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-558a6732-9732-2f6d-7cce-d7fe6cdc9132/test-directory-1b1e7770-a7d4-611c-d253-52f0bf859df6?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2025-08-21T16%3A18%3A10Z&ske=2025-08-21T17%3A18%3A06Z&sks=b&skv=2026-02-06&sv=Sanitized&st=2025-08-21T15%3A18%3A06Z&se=2025-08-21T17%3A18%3A06Z&sr=c&sp=racwdlmeop&suoid=684bec08-83cf-c879-e451-e707ea5cc23e&sig=Sanitized&action=setAccessControlRecursive&mode=set&forceFlag=true&maxRecords=2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "x-ms-acl": "user::rwx,group::r--,other::---,mask::rwx",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-continuation": "VBaP9+C8l4TxqjsYiAIYggIvc2Vhbmhuc2NhbmFyeTIBMDFEQkY1QjlBRDkwOTI5QS90ZXN0LWZpbGVzeXN0ZW0tNTU4YTY3MzItOTczMi0yZjZkLTdjY2UtZDdmZTZjZGM5MTMyATAxREMxMkI3MkQzNjk0OTkvdGVzdC1kaXJlY3RvcnktMWIxZTc3NzAtYTdkNC02MTFjLWQyNTMtNTJmMGJmODU5ZGY2L3Rlc3QtZGlyZWN0b3J5LTViNDhmNWU3LTM3NzMtNzI4MS1mOGQ4LWQ2NDRmZWM5NzkyNC90ZXN0LWRpcmVjdG9yeS03NjRiMDI5Ni1mZDViLWU4ZTktOWNkNi01ZjA0M2YyZDY5YzcWAAAA",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "eyJkaXJlY3Rvcmllc1N1Y2Nlc3NmdWwiOjIsImZhaWxlZEVudHJpZXMiOltdLCJmYWlsdXJlQ291bnQiOjAsImZpbGVzU3VjY2Vzc2Z1bCI6MH0K"
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-558a6732-9732-2f6d-7cce-d7fe6cdc9132/test-directory-1b1e7770-a7d4-611c-d253-52f0bf859df6?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2025-08-21T16%3A18%3A10Z&ske=2025-08-21T17%3A18%3A06Z&sks=b&skv=2026-02-06&sv=Sanitized&st=2025-08-21T15%3A18%3A06Z&se=2025-08-21T17%3A18%3A06Z&sr=c&sp=racwdlmeop&suoid=684bec08-83cf-c879-e451-e707ea5cc23e&sig=Sanitized&action=setAcce[...]
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-558a6732-9732-2f6d-7cce-d7fe6cdc9132/test-directory-1b1e7770-a7d4-611c-d253-52f0bf859df6?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2025-08-21T16%3A18%3A10Z&ske=2025-08-21T17%3A18%3A06Z&sks=b&skv=2026-02-06&sv=Sanitized&st=2025-08-21T15%3A18%3A06Z&se=2025-08-21T17%3A18%3A06Z&sr=c&sp=racwdlmeop&suoid=684bec08-83cf-c879-e451-e707ea5cc23e&sig=Sanitized&action=setAcce[...]
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-558a6732-9732-2f6d-7cce-d7fe6cdc9132/test-directory-1b1e7770-a7d4-611c-d253-52f0bf859df6?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2025-08-21T16%3A18%3A10Z&ske=2025-08-21T17%3A18%3A06Z&sks=b&skv=2026-02-06&sv=Sanitized&st=2025-08-21T15%3A18%3A06Z&se=2025-08-21T17%3A18%3A06Z&sr=c&sp=racwdlmeop&suoid=684bec08-83cf-c879-e451-e707ea5cc23e&sig=Sanitized&action=setAcce[...]
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-558a6732-9732-2f6d-7cce-d7fe6cdc9132/test-directory-1b1e7770-a7d4-611c-d253-52f0bf859df6?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2025-08-21T16%3A18%3A10Z&ske=2025-08-21T17%3A18%3A06Z&sks=b&skv=2026-02-06&sv=Sanitized&st=2025-08-21T15%3A18%3A06Z&se=2025-08-21T17%3A18%3A06Z&sr=c&sp=racwdlmeop&suoid=684bec08-83cf-c879-e451-e707ea5cc23e&sig=Sanitized&action=setAccessControlRecursive&continuation=VBbyqaOzpangujEYgwIY%2FQEvc2Vhbmhuc2NhbmFyeTIBMDFEQkY1QjlBRDkwOTI5QS90ZXN0LWZpbGVzeXN0ZW0tNTU4YTY3MzItOTczMi0yZjZkLTdjY2UtZDdmZTZjZGM5MTMyATAxREMxMkI3MkQzNjk0OTkvdGVzdC1kaXJlY3RvcnktMWIxZTc3NzAtYTdkNC02MTFjLWQyNTMtNTJmMGJmODU5ZGY2L3Rlc3QtZGlyZWN0b3J5LWUxZmIxNGM1LWZjMDktYzZiNC00MzRjLTNjNzE2YWE1NTg5Ny90ZXN0LWZpbGUtNWJiMDQ3YTEtMDA0OC1hYjM1LTcyYTctNjlhOWVlM2IzYjk3FgAAAA%3D%3D&mode=set&forceFlag=true&maxRecords=2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "x-ms-acl": "user::rwx,group::r--,other::---,mask::rwx",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "eyJkaXJlY3Rvcmllc1N1Y2Nlc3NmdWwiOjAsImZhaWxlZEVudHJpZXMiOltdLCJmYWlsdXJlQ291bnQiOjAsImZpbGVzU3VjY2Vzc2Z1bCI6Mn0K"
    },
    {
      "RequestUri": "https://seanhnscanary2.blob.core.windows.net/test-filesystem-558a6732-9732-2f6d-7cce-d7fe6cdc9132?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Aug 2025 16:18:10 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-08-21T11:18:06.8267944-05:00",
    "RandomSeed": "558829093",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanary2\nU2FuaXRpemVk\nhttps://seanhnscanary2.blob.core.windows.net\nhttps://seanhnscanary2.file.core.windows.net\nhttps://seanhnscanary2.queue.core.windows.net\nhttps://seanhnscanary2.table.core.windows.net\n\n\n\n\nhttps://seanhnscanary2-secondary.blob.core.windows.net\nhttps://seanhnscanary2-secondary.file.core.windows.net\nhttps://seanhnscanary2-secondary.queue.core.windows.net\nhttps://seanhnscanary2-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanary2.blob.core.windows.net/;QueueEndpoint=https://seanhnscanary2.queue.core.windows.net/;FileEndpoint=https://seanhnscanary2.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanary2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanary2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanary2-secondary.file.core.windows.net/;AccountName=seanhnscanary2;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
