{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-145fd8c0-9293-f3a8-1028-eae18d8d362e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Mar 2026 22:10:33 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7971B162433F\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:10:34 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-145fd8c0-9293-f3a8-1028-eae18d8d362e/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Tue, 03 Mar 2026 22:10:33 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7971B16432B0\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:10:34 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-145fd8c0-9293-f3a8-1028-eae18d8d362e/test-directory-ee7cc36f-309c-2239-a287-dab438d946cb?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Mar 2026 22:10:33 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7971B179CC9C\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:10:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-145fd8c0-9293-f3a8-1028-eae18d8d362e/test-directory-ee7cc36f-309c-2239-a287-dab438d946cb/test-directory-7ab340b7-3d6e-2322-3785-93ca0b76500b?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Mar 2026 22:10:33 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7971B1827C4C\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:10:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-145fd8c0-9293-f3a8-1028-eae18d8d362e/test-directory-ee7cc36f-309c-2239-a287-dab438d946cb/test-directory-7ab340b7-3d6e-2322-3785-93ca0b76500b/test-file-75226dc0-a3a4-3453-79ea-3516dbf25044?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Mar 2026 22:10:33 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7971B18CDB74\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:10:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-145fd8c0-9293-f3a8-1028-eae18d8d362e/test-directory-ee7cc36f-309c-2239-a287-dab438d946cb?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Mar 2026 22:10:34 GMT",
        "x-ms-owner": "77bbf260-2212-7cf2-6928-646ec3876200",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7971B179CC9C\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:10:34 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-145fd8c0-9293-f3a8-1028-eae18d8d362e/test-directory-ee7cc36f-309c-2239-a287-dab438d946cb/test-directory-7ab340b7-3d6e-2322-3785-93ca0b76500b?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Mar 2026 22:10:34 GMT",
        "x-ms-owner": "77bbf260-2212-7cf2-6928-646ec3876200",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7971B1827C4C\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:10:34 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-145fd8c0-9293-f3a8-1028-eae18d8d362e/test-directory-ee7cc36f-309c-2239-a287-dab438d946cb/test-directory-7ab340b7-3d6e-2322-3785-93ca0b76500b/test-file-75226dc0-a3a4-3453-79ea-3516dbf25044?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Mar 2026 22:10:34 GMT",
        "x-ms-owner": "77bbf260-2212-7cf2-6928-646ec3876200",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7971B18CDB74\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:10:35 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-145fd8c0-9293-f3a8-1028-eae18d8d362e/test-directory-ee7cc36f-309c-2239-a287-dab438d946cb/test-directory-4eb2e69a-c68e-8c1e-d2b3-c4e905755918/test-directory-385a8dd0-182c-b091-370d-8581439d80ac?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Mar 2026 22:10:34 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7971B206B280\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:10:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "\uFEFF<KeyInfo><Expiry>2026-03-03T23:10:34Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>e06172a7-9585-422f-acbd-7693c11dd186</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2026-03-03T22:10:38Z</SignedStart><SignedExpiry>2026-03-03T23:10:34Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2026-06-06</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-145fd8c0-9293-f3a8-1028-eae18d8d362e/test-directory-ee7cc36f-309c-2239-a287-dab438d946cb?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2026-03-03T22%3A10%3A38Z&ske=2026-03-03T23%3A10%3A34Z&sks=b&skv=2026-06-06&sv=Sanitized&st=2026-03-03T21%3A10%3A34Z&se=2026-03-03T23%3A10%3A34Z&sr=c&sp=racwdltmeop&suoid=77bbf260-2212-7cf2-6928-646ec3876200&sig=Sanitized&action=setAcce[...]
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-145fd8c0-9293-f3a8-1028-eae18d8d362e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Mar 2026 22:10:37 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-03-03T17:10:34.7557029-05:00",
    "RandomSeed": "657425084",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanary\nU2FuaXRpemVk\nhttps://seanhnscanary.blob.core.windows.net\nhttps://seanhnscanary.file.core.windows.net\nhttps://seanhnscanary.queue.core.windows.net\nhttps://seanhnscanary.table.core.windows.net\n\n\n\n\nhttps://seanhnscanary-secondary.blob.core.windows.net\nhttps://seanhnscanary-secondary.file.core.windows.net\nhttps://seanhnscanary-secondary.queue.core.windows.net\nhttps://seanhnscanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanary.blob.core.windows.net/;QueueEndpoint=https://seanhnscanary.queue.core.windows.net/;FileEndpoint=https://seanhnscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanary-secondary.file.core.windows.net/;AccountName=seanhnscanary;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
