{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-7edbcca1-6af4-fd35-96ff-2b7fe2e799c9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:34 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD7952D2C4\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:40:37 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-7edbcca1-6af4-fd35-96ff-2b7fe2e799c9/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:34 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD7956C128\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:40:37 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-7edbcca1-6af4-fd35-96ff-2b7fe2e799c9/test-directory-54e60f3b-ea88-0824-3864-fd9099a7f52f?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:34 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD7966DDB0\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:40:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-7edbcca1-6af4-fd35-96ff-2b7fe2e799c9/test-directory-54e60f3b-ea88-0824-3864-fd9099a7f52f/test-directory-e4c25956-4135-1a9c-ed81-442e8f5b88ef?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:34 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD796EC4B0\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:40:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-7edbcca1-6af4-fd35-96ff-2b7fe2e799c9/test-directory-54e60f3b-ea88-0824-3864-fd9099a7f52f/test-directory-e4c25956-4135-1a9c-ed81-442e8f5b88ef/test-file-ec6b6555-9818-e11d-1a7e-55b9f8224ec2?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:34 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD79755C34\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:40:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-7edbcca1-6af4-fd35-96ff-2b7fe2e799c9/test-directory-54e60f3b-ea88-0824-3864-fd9099a7f52f?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:34 GMT",
        "x-ms-owner": "28f3863b-ce55-8e67-bb22-a7250c07e9c9",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD7966DDB0\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:40:37 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-7edbcca1-6af4-fd35-96ff-2b7fe2e799c9/test-directory-54e60f3b-ea88-0824-3864-fd9099a7f52f/test-directory-e4c25956-4135-1a9c-ed81-442e8f5b88ef?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:35 GMT",
        "x-ms-owner": "28f3863b-ce55-8e67-bb22-a7250c07e9c9",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD796EC4B0\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:40:37 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-7edbcca1-6af4-fd35-96ff-2b7fe2e799c9/test-directory-54e60f3b-ea88-0824-3864-fd9099a7f52f/test-directory-e4c25956-4135-1a9c-ed81-442e8f5b88ef/test-file-ec6b6555-9818-e11d-1a7e-55b9f8224ec2?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:35 GMT",
        "x-ms-owner": "28f3863b-ce55-8e67-bb22-a7250c07e9c9",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD79755C34\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:40:37 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-7edbcca1-6af4-fd35-96ff-2b7fe2e799c9/test-directory-54e60f3b-ea88-0824-3864-fd9099a7f52f/test-directory-f6d9c18f-e646-e541-d0c4-7c63fc449c9a/test-directory-d4681341-e853-e45b-ad0d-250802695d0d?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:35 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD79ED571C\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:40:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "\uFEFF<KeyInfo><Expiry>2026-01-28T00:40:35Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>e06172a7-9585-422f-acbd-7693c11dd186</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2026-01-27T23:40:41Z</SignedStart><SignedExpiry>2026-01-28T00:40:35Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2026-04-06</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-7edbcca1-6af4-fd35-96ff-2b7fe2e799c9/test-directory-54e60f3b-ea88-0824-3864-fd9099a7f52f?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2026-01-27T23%3A40%3A41Z&ske=2026-01-28T00%3A40%3A35Z&sks=b&skv=2026-04-06&sv=Sanitized&st=2026-01-27T22%3A40%3A35Z&se=2026-01-28T00%3A40%3A35Z&sr=c&sp=racwdltmeop&suoid=28f3863b-ce55-8e67-bb22-a7250c07e9c9&sig=Sanitized&action=setAcce[...]
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-7edbcca1-6af4-fd35-96ff-2b7fe2e799c9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:38 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-01-27T18:40:35.5727189-05:00",
    "RandomSeed": "1258027736",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanary\nU2FuaXRpemVk\nhttps://seanhnscanary.blob.core.windows.net\nhttps://seanhnscanary.file.core.windows.net\nhttps://seanhnscanary.queue.core.windows.net\nhttps://seanhnscanary.table.core.windows.net\n\n\n\n\nhttps://seanhnscanary-secondary.blob.core.windows.net\nhttps://seanhnscanary-secondary.file.core.windows.net\nhttps://seanhnscanary-secondary.queue.core.windows.net\nhttps://seanhnscanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanary.blob.core.windows.net/;QueueEndpoint=https://seanhnscanary.queue.core.windows.net/;FileEndpoint=https://seanhnscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanary-secondary.file.core.windows.net/;AccountName=seanhnscanary;AccountKey=U2FuaXRpemVk\nencryption scope\n\n"
  }
}
