{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-113eb39d-7b57-883d-6f49-c5f4a1ce3b53?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:42 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD7E6062AF\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:40:46 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-113eb39d-7b57-883d-6f49-c5f4a1ce3b53/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:43 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD7E645658\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:40:46 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-113eb39d-7b57-883d-6f49-c5f4a1ce3b53/test-directory-d070725a-f876-c2c5-6acb-c87a115de79a?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:43 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD7E72B044\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:40:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-113eb39d-7b57-883d-6f49-c5f4a1ce3b53/test-directory-d070725a-f876-c2c5-6acb-c87a115de79a/test-directory-246d8952-3c3e-957a-27bd-919b8a6994b3?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:43 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD7E7C6378\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:40:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-113eb39d-7b57-883d-6f49-c5f4a1ce3b53/test-directory-d070725a-f876-c2c5-6acb-c87a115de79a/test-directory-246d8952-3c3e-957a-27bd-919b8a6994b3/test-file-0a851d90-0805-11dd-a96b-15cf5341a1da?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:43 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD7E83DD34\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:40:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-113eb39d-7b57-883d-6f49-c5f4a1ce3b53/test-directory-d070725a-f876-c2c5-6acb-c87a115de79a?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:43 GMT",
        "x-ms-owner": "b6e48448-fa13-7200-0b44-06693e70dcf0",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD7E72B044\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:40:46 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-113eb39d-7b57-883d-6f49-c5f4a1ce3b53/test-directory-d070725a-f876-c2c5-6acb-c87a115de79a/test-directory-246d8952-3c3e-957a-27bd-919b8a6994b3?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:43 GMT",
        "x-ms-owner": "b6e48448-fa13-7200-0b44-06693e70dcf0",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD7E7C6378\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:40:46 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-113eb39d-7b57-883d-6f49-c5f4a1ce3b53/test-directory-d070725a-f876-c2c5-6acb-c87a115de79a/test-directory-246d8952-3c3e-957a-27bd-919b8a6994b3/test-file-0a851d90-0805-11dd-a96b-15cf5341a1da?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:43 GMT",
        "x-ms-owner": "b6e48448-fa13-7200-0b44-06693e70dcf0",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD7E83DD34\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:40:46 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "\uFEFF<KeyInfo><Expiry>2026-01-28T00:40:43Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>e06172a7-9585-422f-acbd-7693c11dd186</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2026-01-27T23:40:49Z</SignedStart><SignedExpiry>2026-01-28T00:40:43Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2026-04-06</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-113eb39d-7b57-883d-6f49-c5f4a1ce3b53/test-directory-d070725a-f876-c2c5-6acb-c87a115de79a?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2026-01-27T23%3A40%3A49Z&ske=2026-01-28T00%3A40%3A43Z&sks=b&skv=2026-04-06&sv=Sanitized&st=2026-01-27T22%3A40%3A43Z&se=2026-01-28T00%3A40%3A43Z&sr=c&sp=racwdltmeop&suoid=b6e48448-fa13-7200-0b44-06693e70dcf0&sig=Sanitized&action=setAccessControlRecursive&mode=set",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "x-ms-acl": "user::rwx,group::r--,other::---,mask::rwx",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "eyJkaXJlY3Rvcmllc1N1Y2Nlc3NmdWwiOjMsImZhaWxlZEVudHJpZXMiOlt7ImVycm9yTWVzc2FnZSI6IlRoaXMgcmVxdWVzdCBpcyBub3QgYXV0aG9yaXplZCB0byBwZXJmb3JtIHRoaXMgb3BlcmF0aW9uIHVzaW5nIHRoaXMgcGVybWlzc2lvbi4iLCJuYW1lIjoidGVzdC1kaXJlY3RvcnktZDA3MDcyNWEtZjg3Ni1jMmM1LTZhY2ItYzg3YTExNWRlNzlhL3Rlc3QtZGlyZWN0b3J5LTZjNGIzNGFhLTdmMzQtYjRjZi05MDBkLTFjMTUyMTVkYWEyYS90ZXN0LWZpbGUtYWQ2MjJiYzUtZDBkNi04NjM1LWNiNDYtMTk5ZmY4NGNhMGMwIiwidHlwZSI6IkZJTEUifV0sImZhaWx1cmVDb3VudCI6MSwiZmlsZXNTdWNjZXNzZnVsIjozfQo="
    },
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-113eb39d-7b57-883d-6f49-c5f4a1ce3b53?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:46 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-01-27T18:40:43.7986852-05:00",
    "RandomSeed": "626559268",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanary\nU2FuaXRpemVk\nhttps://seanhnscanary.blob.core.windows.net\nhttps://seanhnscanary.file.core.windows.net\nhttps://seanhnscanary.queue.core.windows.net\nhttps://seanhnscanary.table.core.windows.net\n\n\n\n\nhttps://seanhnscanary-secondary.blob.core.windows.net\nhttps://seanhnscanary-secondary.file.core.windows.net\nhttps://seanhnscanary-secondary.queue.core.windows.net\nhttps://seanhnscanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanary.blob.core.windows.net/;QueueEndpoint=https://seanhnscanary.queue.core.windows.net/;FileEndpoint=https://seanhnscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanary-secondary.file.core.windows.net/;AccountName=seanhnscanary;AccountKey=U2FuaXRpemVk\nencryption scope\n\n"
  }
}
