{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-79dcff51-840b-00c8-a80a-03861174b9e1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Mar 2026 22:11:01 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7971C1CB5D50\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:11:02 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-79dcff51-840b-00c8-a80a-03861174b9e1/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Tue, 03 Mar 2026 22:11:01 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7971C1CD50B8\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:11:02 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-79dcff51-840b-00c8-a80a-03861174b9e1/test-directory-3b8dcbc1-258f-c14d-63ff-1d8579bf28a4?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7971C37EF044\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:11:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-79dcff51-840b-00c8-a80a-03861174b9e1/test-directory-3b8dcbc1-258f-c14d-63ff-1d8579bf28a4/test-directory-0c773932-876d-af47-44c6-213b051c4d6a?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7971C3895D98\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:11:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-79dcff51-840b-00c8-a80a-03861174b9e1/test-directory-3b8dcbc1-258f-c14d-63ff-1d8579bf28a4/test-directory-0c773932-876d-af47-44c6-213b051c4d6a/test-file-14dc7e64-430e-1518-3026-b28db0dbdd4e?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7971C3930FA8\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:11:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-79dcff51-840b-00c8-a80a-03861174b9e1/test-directory-3b8dcbc1-258f-c14d-63ff-1d8579bf28a4?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-owner": "28b116bc-bcc5-a4b5-0892-bcc201aa57c6",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7971C37EF044\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:11:05 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-79dcff51-840b-00c8-a80a-03861174b9e1/test-directory-3b8dcbc1-258f-c14d-63ff-1d8579bf28a4/test-directory-0c773932-876d-af47-44c6-213b051c4d6a?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-owner": "28b116bc-bcc5-a4b5-0892-bcc201aa57c6",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7971C3895D98\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:11:05 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-79dcff51-840b-00c8-a80a-03861174b9e1/test-directory-3b8dcbc1-258f-c14d-63ff-1d8579bf28a4/test-directory-0c773932-876d-af47-44c6-213b051c4d6a/test-file-14dc7e64-430e-1518-3026-b28db0dbdd4e?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-owner": "28b116bc-bcc5-a4b5-0892-bcc201aa57c6",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7971C3930FA8\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:11:05 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "\uFEFF<KeyInfo><Expiry>2026-03-03T23:11:04Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>e06172a7-9585-422f-acbd-7693c11dd186</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2026-03-03T22:11:07Z</SignedStart><SignedExpiry>2026-03-03T23:11:04Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2026-06-06</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-79dcff51-840b-00c8-a80a-03861174b9e1/test-directory-3b8dcbc1-258f-c14d-63ff-1d8579bf28a4?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2026-03-03T22%3A11%3A07Z&ske=2026-03-03T23%3A11%3A04Z&sks=b&skv=2026-06-06&sv=Sanitized&st=2026-03-03T21%3A11%3A04Z&se=2026-03-03T23%3A11%3A04Z&sr=c&sp=racwdltmeop&suoid=28b116bc-bcc5-a4b5-0892-bcc201aa57c6&sig=Sanitized&action=setAccessControlRecursive&mode=modify",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "x-ms-acl": "user::rwx,group::r--,other::---,mask::rwx",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "eyJkaXJlY3Rvcmllc1N1Y2Nlc3NmdWwiOjMsImZhaWxlZEVudHJpZXMiOlt7ImVycm9yTWVzc2FnZSI6IlRoaXMgcmVxdWVzdCBpcyBub3QgYXV0aG9yaXplZCB0byBwZXJmb3JtIHRoaXMgb3BlcmF0aW9uIHVzaW5nIHRoaXMgcGVybWlzc2lvbi4iLCJuYW1lIjoidGVzdC1kaXJlY3RvcnktM2I4ZGNiYzEtMjU4Zi1jMTRkLTYzZmYtMWQ4NTc5YmYyOGE0L3Rlc3QtZGlyZWN0b3J5LTZlM2NiZGQ2LTljODQtODhiYS0xM2JkLTM5Yzc4MjliOGNhZi90ZXN0LWZpbGUtMzkyN2IwMzEtOTJmMS1hZDVjLWMzOTEtNzk0YzM2MmU5YzU3IiwidHlwZSI6IkZJTEUifV0sImZhaWx1cmVDb3VudCI6MSwiZmlsZXNTdWNjZXNzZnVsIjozfQo="
    },
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-79dcff51-840b-00c8-a80a-03861174b9e1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Mar 2026 22:11:06 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-03-03T17:11:04.8403690-05:00",
    "RandomSeed": "1966084428",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanary\nU2FuaXRpemVk\nhttps://seanhnscanary.blob.core.windows.net\nhttps://seanhnscanary.file.core.windows.net\nhttps://seanhnscanary.queue.core.windows.net\nhttps://seanhnscanary.table.core.windows.net\n\n\n\n\nhttps://seanhnscanary-secondary.blob.core.windows.net\nhttps://seanhnscanary-secondary.file.core.windows.net\nhttps://seanhnscanary-secondary.queue.core.windows.net\nhttps://seanhnscanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanary.blob.core.windows.net/;QueueEndpoint=https://seanhnscanary.queue.core.windows.net/;FileEndpoint=https://seanhnscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanary-secondary.file.core.windows.net/;AccountName=seanhnscanary;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
