{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-2aad10f9-e926-8f39-9803-5adc79379840?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:48:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867AD46D5174\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:48:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-2aad10f9-e926-8f39-9803-5adc79379840/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Thu, 06 Jun 2024 22:48:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867AD46FBA2C\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:48:48 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-2aad10f9-e926-8f39-9803-5adc79379840/test-directory-b4ea93a8-2d22-6af4-1371-fd1326478b1f?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:48:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867AD4BB1FF8\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:48:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-2aad10f9-e926-8f39-9803-5adc79379840/test-directory-b4ea93a8-2d22-6af4-1371-fd1326478b1f/test-directory-c1b4f89a-58ea-3ca7-9112-50a88f2c388e?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:48:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867AD4C53880\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:48:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-2aad10f9-e926-8f39-9803-5adc79379840/test-directory-b4ea93a8-2d22-6af4-1371-fd1326478b1f/test-directory-c1b4f89a-58ea-3ca7-9112-50a88f2c388e/test-file-f6f561aa-013c-14dd-0511-602a2ea1c0c5?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:48:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867AD4D178B8\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:48:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-2aad10f9-e926-8f39-9803-5adc79379840/test-directory-b4ea93a8-2d22-6af4-1371-fd1326478b1f?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:48:48 GMT",
        "x-ms-owner": "f0492469-cf6c-b57f-b684-ecd28a077bf6",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867AD4BB1FF8\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:48:49 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-2aad10f9-e926-8f39-9803-5adc79379840/test-directory-b4ea93a8-2d22-6af4-1371-fd1326478b1f/test-directory-c1b4f89a-58ea-3ca7-9112-50a88f2c388e?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:48:48 GMT",
        "x-ms-owner": "f0492469-cf6c-b57f-b684-ecd28a077bf6",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867AD4C53880\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:48:49 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-2aad10f9-e926-8f39-9803-5adc79379840/test-directory-b4ea93a8-2d22-6af4-1371-fd1326478b1f/test-directory-c1b4f89a-58ea-3ca7-9112-50a88f2c388e/test-file-f6f561aa-013c-14dd-0511-602a2ea1c0c5?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:48:48 GMT",
        "x-ms-owner": "f0492469-cf6c-b57f-b684-ecd28a077bf6",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867AD4D178B8\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:48:49 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-2aad10f9-e926-8f39-9803-5adc79379840/test-directory-b4ea93a8-2d22-6af4-1371-fd1326478b1f/test-directory-33730416-066f-455e-be8b-654e30ece0a5/test-directory-8d3ced19-ee41-23b5-a725-da13def6dfaa?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:48:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867AD6079364\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:48:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "\uFEFF<KeyInfo><Expiry>2024-06-06T23:48:49Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>e610410d-4aa1-4e96-8f70-bc1850bff049</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2024-06-06T22:48:52Z</SignedStart><SignedExpiry>2024-06-06T23:48:49Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2024-08-04</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-2aad10f9-e926-8f39-9803-5adc79379840/test-directory-b4ea93a8-2d22-6af4-1371-fd1326478b1f?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2024-06-06T22%3A48%3A52Z&ske=2024-06-06T23%3A48%3A49Z&sks=b&skv=2024-08-04&sv=Sanitized&st=2024-06-06T21%3A48%3A49Z&se=2024-06-06T23%3A48%3A49Z&sr=c&sp=racwdlmeop&suoid=f0492469-cf6c-b57f-b684-ecd28a077bf6&sig=Sanitized&action=setAcces[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-2aad10f9-e926-8f39-9803-5adc79379840?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:48:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T17:48:49.9992130-05:00",
    "RandomSeed": "241808800",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
