{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-92e9d942-316b-cddb-fd39-d9edf8b4f746?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:52:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867B6298F2D9\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:52:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-92e9d942-316b-cddb-fd39-d9edf8b4f746/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Thu, 06 Jun 2024 22:52:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867B629B2FBC\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:52:47 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-92e9d942-316b-cddb-fd39-d9edf8b4f746/test-directory-eba0bb05-eabc-68b8-45d8-71234a2846ab?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:52:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867B6384F8D4\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:52:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-92e9d942-316b-cddb-fd39-d9edf8b4f746/test-directory-eba0bb05-eabc-68b8-45d8-71234a2846ab/test-directory-36cc8df9-8c97-cdad-0409-fb940c55dcbc?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:52:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867B638F92C8\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:52:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-92e9d942-316b-cddb-fd39-d9edf8b4f746/test-directory-eba0bb05-eabc-68b8-45d8-71234a2846ab/test-directory-36cc8df9-8c97-cdad-0409-fb940c55dcbc/test-file-e07649cd-b2bc-8319-9074-e48080ce9de4?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:52:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867B639B12E8\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:52:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-92e9d942-316b-cddb-fd39-d9edf8b4f746/test-directory-eba0bb05-eabc-68b8-45d8-71234a2846ab?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:52:47 GMT",
        "x-ms-owner": "05e7d82f-1e69-5a58-1ecf-cca381b6f31a",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867B6384F8D4\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:52:48 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-92e9d942-316b-cddb-fd39-d9edf8b4f746/test-directory-eba0bb05-eabc-68b8-45d8-71234a2846ab/test-directory-36cc8df9-8c97-cdad-0409-fb940c55dcbc?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:52:47 GMT",
        "x-ms-owner": "05e7d82f-1e69-5a58-1ecf-cca381b6f31a",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867B638F92C8\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:52:48 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-92e9d942-316b-cddb-fd39-d9edf8b4f746/test-directory-eba0bb05-eabc-68b8-45d8-71234a2846ab/test-directory-36cc8df9-8c97-cdad-0409-fb940c55dcbc/test-file-e07649cd-b2bc-8319-9074-e48080ce9de4?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:52:48 GMT",
        "x-ms-owner": "05e7d82f-1e69-5a58-1ecf-cca381b6f31a",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867B639B12E8\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:52:48 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-92e9d942-316b-cddb-fd39-d9edf8b4f746/test-directory-eba0bb05-eabc-68b8-45d8-71234a2846ab/test-directory-5318340b-ab8f-c712-aac4-6c3eb72d808f/test-directory-03ce3fb2-9d62-577b-9004-39c737b1afb1?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:52:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867B64CD8230\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:52:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "\uFEFF<KeyInfo><Expiry>2024-06-06T23:52:49Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>e610410d-4aa1-4e96-8f70-bc1850bff049</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2024-06-06T22:52:52Z</SignedStart><SignedExpiry>2024-06-06T23:52:49Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2024-08-04</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-92e9d942-316b-cddb-fd39-d9edf8b4f746/test-directory-eba0bb05-eabc-68b8-45d8-71234a2846ab?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2024-06-06T22%3A52%3A52Z&ske=2024-06-06T23%3A52%3A49Z&sks=b&skv=2024-08-04&sv=Sanitized&st=2024-06-06T21%3A52%3A49Z&se=2024-06-06T23%3A52%3A49Z&sr=c&sp=racwdlmeop&suoid=05e7d82f-1e69-5a58-1ecf-cca381b6f31a&sig=Sanitized&action=setAcces[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-92e9d942-316b-cddb-fd39-d9edf8b4f746?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:52:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T17:52:49.5328009-05:00",
    "RandomSeed": "459498576",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
