{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-5ba5a557-69d8-f94c-1a7b-ba32d2cbe61d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Mar 2026 22:11:59 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7971E46327F0\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:12:00 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-5ba5a557-69d8-f94c-1a7b-ba32d2cbe61d/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Tue, 03 Mar 2026 22:11:59 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7971E4652174\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:12:00 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-5ba5a557-69d8-f94c-1a7b-ba32d2cbe61d/test-directory-5980e447-bc38-fb07-3bd1-b9516429861c?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Mar 2026 22:11:59 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7971E47B9608\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:12:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-5ba5a557-69d8-f94c-1a7b-ba32d2cbe61d/test-directory-5980e447-bc38-fb07-3bd1-b9516429861c/test-directory-d55aea2c-af4e-7c61-d6e9-e56d09cb8d9c?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Mar 2026 22:11:59 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7971E48E73CC\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:12:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-5ba5a557-69d8-f94c-1a7b-ba32d2cbe61d/test-directory-5980e447-bc38-fb07-3bd1-b9516429861c/test-directory-d55aea2c-af4e-7c61-d6e9-e56d09cb8d9c/test-file-0817c52b-f63c-93f4-8985-c06bebdd4fa6?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Mar 2026 22:11:59 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7971E4984064\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:12:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-5ba5a557-69d8-f94c-1a7b-ba32d2cbe61d/test-directory-5980e447-bc38-fb07-3bd1-b9516429861c?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Mar 2026 22:11:59 GMT",
        "x-ms-owner": "42a28ded-26a1-57e3-7b16-36f320190f3f",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7971E483FA68\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:12:00 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-5ba5a557-69d8-f94c-1a7b-ba32d2cbe61d/test-directory-5980e447-bc38-fb07-3bd1-b9516429861c/test-directory-d55aea2c-af4e-7c61-d6e9-e56d09cb8d9c?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Mar 2026 22:11:59 GMT",
        "x-ms-owner": "42a28ded-26a1-57e3-7b16-36f320190f3f",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7971E48E73CC\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:12:00 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-5ba5a557-69d8-f94c-1a7b-ba32d2cbe61d/test-directory-5980e447-bc38-fb07-3bd1-b9516429861c/test-directory-d55aea2c-af4e-7c61-d6e9-e56d09cb8d9c/test-file-0817c52b-f63c-93f4-8985-c06bebdd4fa6?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Mar 2026 22:11:59 GMT",
        "x-ms-owner": "42a28ded-26a1-57e3-7b16-36f320190f3f",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7971E4984064\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:12:00 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-5ba5a557-69d8-f94c-1a7b-ba32d2cbe61d/test-directory-5980e447-bc38-fb07-3bd1-b9516429861c/test-directory-5e37ea2f-a266-9055-222d-4845f3b35c91/test-directory-44253de4-9af7-cf9a-b60b-5a95bac4e374?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Mar 2026 22:12:00 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7971E50C10E8\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:12:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "\uFEFF<KeyInfo><Expiry>2026-03-03T23:12:00Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>e06172a7-9585-422f-acbd-7693c11dd186</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2026-03-03T22:12:04Z</SignedStart><SignedExpiry>2026-03-03T23:12:00Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2026-06-06</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-5ba5a557-69d8-f94c-1a7b-ba32d2cbe61d/test-directory-5980e447-bc38-fb07-3bd1-b9516429861c?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2026-03-03T22%3A12%3A04Z&ske=2026-03-03T23%3A12%3A00Z&sks=b&skv=2026-06-06&sv=Sanitized&st=2026-03-03T21%3A12%3A00Z&se=2026-03-03T23%3A12%3A00Z&sr=c&sp=racwdltmeop&suoid=42a28ded-26a1-57e3-7b16-36f320190f3f&sig=Sanitized&action=setAccessControlRecursive&mode=modify&forceFlag=true&maxRecords=2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "x-ms-acl": "user::rwx,group::r--,other::---,mask::rwx",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-continuation": "VBbU9dLZx92U7f8BGIcCGIECL3NlYW5obnNjYW5hcnkBMDFEN0M1MUU5OUZFOUI0MS90ZXN0LWZpbGVzeXN0ZW0tNWJhNWE1NTctNjlkOC1mOTRjLTFhN2ItYmEzMmQyY2JlNjFkATAxRENBQjVBQzFFQjM5OEEvdGVzdC1kaXJlY3RvcnktNTk4MGU0NDctYmMzOC1mYjA3LTNiZDEtYjk1MTY0Mjk4NjFjL3Rlc3QtZGlyZWN0b3J5LTVlMzdlYTJmLWEyNjYtOTA1NS0yMjJkLTQ4NDVmM2IzNWM5MS90ZXN0LWRpcmVjdG9yeS00NDI1M2RlNC05YWY3LWNmOWEtYjYwYi01YTk1YmFjNGUzNzQWAAAA",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "eyJkaXJlY3Rvcmllc1N1Y2Nlc3NmdWwiOjIsImZhaWxlZEVudHJpZXMiOltdLCJmYWlsdXJlQ291bnQiOjAsImZpbGVzU3VjY2Vzc2Z1bCI6MH0K"
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-5ba5a557-69d8-f94c-1a7b-ba32d2cbe61d/test-directory-5980e447-bc38-fb07-3bd1-b9516429861c?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2026-03-03T22%3A12%3A04Z&ske=2026-03-03T23%3A12%3A00Z&sks=b&skv=2026-06-06&sv=Sanitized&st=2026-03-03T21%3A12%3A00Z&se=2026-03-03T23%3A12%3A00Z&sr=c&sp=racwdltmeop&suoid=42a28ded-26a1-57e3-7b16-36f320190f3f&sig=Sanitized&action=setAcce[...]
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-5ba5a557-69d8-f94c-1a7b-ba32d2cbe61d/test-directory-5980e447-bc38-fb07-3bd1-b9516429861c?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2026-03-03T22%3A12%3A04Z&ske=2026-03-03T23%3A12%3A00Z&sks=b&skv=2026-06-06&sv=Sanitized&st=2026-03-03T21%3A12%3A00Z&se=2026-03-03T23%3A12%3A00Z&sr=c&sp=racwdltmeop&suoid=42a28ded-26a1-57e3-7b16-36f320190f3f&sig=Sanitized&action=setAcce[...]
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-5ba5a557-69d8-f94c-1a7b-ba32d2cbe61d/test-directory-5980e447-bc38-fb07-3bd1-b9516429861c?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2026-03-03T22%3A12%3A04Z&ske=2026-03-03T23%3A12%3A00Z&sks=b&skv=2026-06-06&sv=Sanitized&st=2026-03-03T21%3A12%3A00Z&se=2026-03-03T23%3A12%3A00Z&sr=c&sp=racwdltmeop&suoid=42a28ded-26a1-57e3-7b16-36f320190f3f&sig=Sanitized&action=setAcce[...]
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-5ba5a557-69d8-f94c-1a7b-ba32d2cbe61d/test-directory-5980e447-bc38-fb07-3bd1-b9516429861c?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2026-03-03T22%3A12%3A04Z&ske=2026-03-03T23%3A12%3A00Z&sks=b&skv=2026-06-06&sv=Sanitized&st=2026-03-03T21%3A12%3A00Z&se=2026-03-03T23%3A12%3A00Z&sr=c&sp=racwdltmeop&suoid=42a28ded-26a1-57e3-7b16-36f320190f3f&sig=Sanitized&action=setAccessControlRecursive&continuation=VBabyd%2FxnKWysmAYggIY%2FAEvc2Vhbmhuc2NhbmFyeQEwMUQ3QzUxRTk5RkU5QjQxL3Rlc3QtZmlsZXN5c3RlbS01YmE1YTU1Ny02OWQ4LWY5NGMtMWE3Yi1iYTMyZDJjYmU2MWQBMDFEQ0FCNUFDMUVCMzk4QS90ZXN0LWRpcmVjdG9yeS01OTgwZTQ0Ny1iYzM4LWZiMDctM2JkMS1iOTUxNjQyOTg2MWMvdGVzdC1kaXJlY3RvcnktZDU1YWVhMmMtYWY0ZS03YzYxLWQ2ZTktZTU2ZDA5Y2I4ZDljL3Rlc3QtZmlsZS0wODE3YzUyYi1mNjNjLTkzZjQtODk4NS1jMDZiZWJkZDRmYTYWAAAA&mode=modify&forceFlag=true&maxRecords=2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "x-ms-acl": "user::rwx,group::r--,other::---,mask::rwx",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "eyJkaXJlY3Rvcmllc1N1Y2Nlc3NmdWwiOjAsImZhaWxlZEVudHJpZXMiOltdLCJmYWlsdXJlQ291bnQiOjAsImZpbGVzU3VjY2Vzc2Z1bCI6Mn0K"
    },
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-5ba5a557-69d8-f94c-1a7b-ba32d2cbe61d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Mar 2026 22:12:04 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-03-03T17:12:00.3535842-05:00",
    "RandomSeed": "782565990",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanary\nU2FuaXRpemVk\nhttps://seanhnscanary.blob.core.windows.net\nhttps://seanhnscanary.file.core.windows.net\nhttps://seanhnscanary.queue.core.windows.net\nhttps://seanhnscanary.table.core.windows.net\n\n\n\n\nhttps://seanhnscanary-secondary.blob.core.windows.net\nhttps://seanhnscanary-secondary.file.core.windows.net\nhttps://seanhnscanary-secondary.queue.core.windows.net\nhttps://seanhnscanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanary.blob.core.windows.net/;QueueEndpoint=https://seanhnscanary.queue.core.windows.net/;FileEndpoint=https://seanhnscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanary-secondary.file.core.windows.net/;AccountName=seanhnscanary;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
