{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-479f6aea-adb9-afc8-d371-5c4123279235?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:46 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD80BF3BB2\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:40:50 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-479f6aea-adb9-afc8-d371-5c4123279235/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::--x,group::--x,other::--x",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:47 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD80C34900\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:40:50 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-479f6aea-adb9-afc8-d371-5c4123279235/test-directory-6eb2d28d-453c-eb89-ad56-cf4945a6476e?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:47 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD80D1B638\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:40:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-479f6aea-adb9-afc8-d371-5c4123279235/test-directory-6eb2d28d-453c-eb89-ad56-cf4945a6476e/test-directory-6fddd570-b454-0154-dca8-ff8df6fc30b6?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:47 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD80E1F85C\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:40:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-479f6aea-adb9-afc8-d371-5c4123279235/test-directory-6eb2d28d-453c-eb89-ad56-cf4945a6476e/test-directory-6fddd570-b454-0154-dca8-ff8df6fc30b6/test-file-81769dfb-7af9-8e04-efa2-705eb85da43c?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:47 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD80EC8F70\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:40:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-479f6aea-adb9-afc8-d371-5c4123279235/test-directory-6eb2d28d-453c-eb89-ad56-cf4945a6476e?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:47 GMT",
        "x-ms-owner": "1bcb483d-7696-3cda-f51c-da48f0feb3be",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD80D9A040\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:40:50 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-479f6aea-adb9-afc8-d371-5c4123279235/test-directory-6eb2d28d-453c-eb89-ad56-cf4945a6476e/test-directory-6fddd570-b454-0154-dca8-ff8df6fc30b6?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:47 GMT",
        "x-ms-owner": "1bcb483d-7696-3cda-f51c-da48f0feb3be",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD80E1F85C\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:40:50 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-479f6aea-adb9-afc8-d371-5c4123279235/test-directory-6eb2d28d-453c-eb89-ad56-cf4945a6476e/test-directory-6fddd570-b454-0154-dca8-ff8df6fc30b6/test-file-81769dfb-7af9-8e04-efa2-705eb85da43c?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:47 GMT",
        "x-ms-owner": "1bcb483d-7696-3cda-f51c-da48f0feb3be",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD80EC8F70\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:40:50 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-479f6aea-adb9-afc8-d371-5c4123279235/test-directory-6eb2d28d-453c-eb89-ad56-cf4945a6476e/test-directory-fcdfef06-9afb-0a44-dfbc-c183be389a4e/test-directory-f2e465e2-81ef-f986-e61d-8cabae2882f0?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:47 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD8152C438\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:40:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "\uFEFF<KeyInfo><Expiry>2026-01-28T00:40:47Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>e06172a7-9585-422f-acbd-7693c11dd186</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2026-01-27T23:40:53Z</SignedStart><SignedExpiry>2026-01-28T00:40:47Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2026-04-06</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-479f6aea-adb9-afc8-d371-5c4123279235/test-directory-6eb2d28d-453c-eb89-ad56-cf4945a6476e?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2026-01-27T23%3A40%3A53Z&ske=2026-01-28T00%3A40%3A47Z&sks=b&skv=2026-04-06&sv=Sanitized&st=2026-01-27T22%3A40%3A47Z&se=2026-01-28T00%3A40%3A47Z&sr=c&sp=racwdltmeop&suoid=1bcb483d-7696-3cda-f51c-da48f0feb3be&sig=Sanitized&action=setAccessControlRecursive&mode=modify&forceFlag=true&maxRecords=2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "x-ms-acl": "user::rwx,group::r--,other::---,mask::rwx",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-continuation": "VBbXyf/aqYC8lDsYggIY/AEvc2Vhbmhuc2NhbmFyeQEwMUQ3QzUxRTk5RkU5QjQxL3Rlc3QtZmlsZXN5c3RlbS00NzlmNmFlYS1hZGI5LWFmYzgtZDM3MS01YzQxMjMyNzkyMzUBMDFEQzhGRTY1RTRBOEUzRS90ZXN0LWRpcmVjdG9yeS02ZWIyZDI4ZC00NTNjLWViODktYWQ1Ni1jZjQ5NDVhNjQ3NmUvdGVzdC1kaXJlY3RvcnktNmZkZGQ1NzAtYjQ1NC0wMTU0LWRjYTgtZmY4ZGY2ZmMzMGI2L3Rlc3QtZmlsZS03N2U4ZjJmMC02MTVhLWM1ZTQtMjc1ZS0yYWEzOTAwZmRhMWIWAAAA",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "eyJkaXJlY3Rvcmllc1N1Y2Nlc3NmdWwiOjIsImZhaWxlZEVudHJpZXMiOltdLCJmYWlsdXJlQ291bnQiOjAsImZpbGVzU3VjY2Vzc2Z1bCI6MH0K"
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-479f6aea-adb9-afc8-d371-5c4123279235/test-directory-6eb2d28d-453c-eb89-ad56-cf4945a6476e?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2026-01-27T23%3A40%3A53Z&ske=2026-01-28T00%3A40%3A47Z&sks=b&skv=2026-04-06&sv=Sanitized&st=2026-01-27T22%3A40%3A47Z&se=2026-01-28T00%3A40%3A47Z&sr=c&sp=racwdltmeop&suoid=1bcb483d-7696-3cda-f51c-da48f0feb3be&sig=Sanitized&action=setAcce[...]
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-479f6aea-adb9-afc8-d371-5c4123279235/test-directory-6eb2d28d-453c-eb89-ad56-cf4945a6476e?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2026-01-27T23%3A40%3A53Z&ske=2026-01-28T00%3A40%3A47Z&sks=b&skv=2026-04-06&sv=Sanitized&st=2026-01-27T22%3A40%3A47Z&se=2026-01-28T00%3A40%3A47Z&sr=c&sp=racwdltmeop&suoid=1bcb483d-7696-3cda-f51c-da48f0feb3be&sig=Sanitized&action=setAcce[...]
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-479f6aea-adb9-afc8-d371-5c4123279235/test-directory-6eb2d28d-453c-eb89-ad56-cf4945a6476e?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2026-01-27T23%3A40%3A53Z&ske=2026-01-28T00%3A40%3A47Z&sks=b&skv=2026-04-06&sv=Sanitized&st=2026-01-27T22%3A40%3A47Z&se=2026-01-28T00%3A40%3A47Z&sr=c&sp=racwdltmeop&suoid=1bcb483d-7696-3cda-f51c-da48f0feb3be&sig=Sanitized&action=setAcce[...]
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-479f6aea-adb9-afc8-d371-5c4123279235/test-directory-6eb2d28d-453c-eb89-ad56-cf4945a6476e?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2026-01-27T23%3A40%3A53Z&ske=2026-01-28T00%3A40%3A47Z&sks=b&skv=2026-04-06&sv=Sanitized&st=2026-01-27T22%3A40%3A47Z&se=2026-01-28T00%3A40%3A47Z&sr=c&sp=racwdltmeop&suoid=1bcb483d-7696-3cda-f51c-da48f0feb3be&sig=Sanitized&action=setAcce[...]
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-479f6aea-adb9-afc8-d371-5c4123279235?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:40:51 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-01-27T18:40:47.9808567-05:00",
    "RandomSeed": "1432885546",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanary\nU2FuaXRpemVk\nhttps://seanhnscanary.blob.core.windows.net\nhttps://seanhnscanary.file.core.windows.net\nhttps://seanhnscanary.queue.core.windows.net\nhttps://seanhnscanary.table.core.windows.net\n\n\n\n\nhttps://seanhnscanary-secondary.blob.core.windows.net\nhttps://seanhnscanary-secondary.file.core.windows.net\nhttps://seanhnscanary-secondary.queue.core.windows.net\nhttps://seanhnscanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanary.blob.core.windows.net/;QueueEndpoint=https://seanhnscanary.queue.core.windows.net/;FileEndpoint=https://seanhnscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanary-secondary.file.core.windows.net/;AccountName=seanhnscanary;AccountKey=U2FuaXRpemVk\nencryption scope\n\n"
  }
}
