{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-75910598-dab5-ee54-2373-7aabf18d47a7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:33:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868120F3F652\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:33:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-75910598-dab5-ee54-2373-7aabf18d47a7/test-blob-3d200f98-4bad-7ab3-49fb-e5f0b955899d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:33:52 GMT",
        "x-ms-tags": "myTagKey=myTagValue",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8681210112E8\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:33:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/?sv=Sanitized&ss=b&srt=sco&st=2024-06-06T22%3A33%3A54Z&se=2024-06-07T00%3A33%3A54Z&sp=f&sig=Sanitized&comp=blobs&where=%22myTagKey%22%3D%27myTagValue%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<EnumerationResults ServiceEndpoint=\"https://seancanary.blob.core.windows.net/\"><Where>&quot;myTagKey&quot;=&apos;myTagValue&apos;</Where><Blobs><Blob><Name>test-blob-df3cacf6-c45d-8be3-5f56-74cc325c4772</Name><ContainerName>test-container-2cffd369-7486-9699-a8ea-7feef0d0ddbf</ContainerName><Tags><TagSet><Tag><Key>myTagKey</Key><Value>myTagValue</Value></Tag></TagSet></Tags></Blob><Blob><Name>test-blob-944316da-d377-ab41-61e7-81d723c2a63e</Name><ContainerName>test-container-37b024bd-2d9c-debc-b5a6-753802921b38</ContainerName><Tags><TagSet><Tag><Key>myTagKey</Key><Value>myTagValue</Value></Tag></TagSet></Tags></Blob><Blob><Name>test-blob-df814c01-7c02-4d2c-3569-737dfc9df836</Name><ContainerName>test-container-56b68cf4-bf03-881d-3a0a-1ab285cd7fe1</ContainerName><Tags><TagSet><Tag><Key>myTagKey</Key><Value>myTagValue</Value></Ta[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-75910598-dab5-ee54-2373-7aabf18d47a7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:33:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:33:54.7695451-05:00",
    "RandomSeed": "1366003989",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
