{
  "Entries": [
    {
      "RequestUri": "https://seanuswest2.blob.core.windows.net/?restype=account&comp=properties",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "WWW-Authenticate": "Bearer authorization_uri=https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/authorize resource_id=https://storage.azure.com",
        "x-ms-error-code": "NoAuthenticationInformation",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>NoAuthenticationInformation</Code><Message>Server failed to authenticate the request. Please refer to the information in the www-authenticate header.\n",
        "RequestId:d9060d2c-901e-0063-3179-4668cf000000\n",
        "Time:2024-12-04T18:26:06.4362879Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "RandomSeed": "1360055336",
    "Storage_TestConfigDefault": "ProductionTenant\nseanuswest2\nU2FuaXRpemVk\nhttps://seanuswest2.blob.core.windows.net\nhttps://seanuswest2.file.core.windows.net\nhttps://seanuswest2.queue.core.windows.net\nhttps://seanuswest2.table.core.windows.net\n\n\n\n\nhttps://seanuswest2-secondary.blob.core.windows.net\nhttps://seanuswest2-secondary.file.core.windows.net\nhttps://seanuswest2-secondary.queue.core.windows.net\nhttps://seanuswest2-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanuswest2.blob.core.windows.net/;QueueEndpoint=https://seanuswest2.queue.core.windows.net/;FileEndpoint=https://seanuswest2.file.core.windows.net/;BlobSecondaryEndpoint=https://seanuswest2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanuswest2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanuswest2-secondary.file.core.windows.net/;AccountName=seanuswest2;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
