{
  "Entries": [
    {
      "RequestUri": "https://seansoftdelete.blob.core.windows.net/test-blob-4fc7a036-ad69-daee-7250-9cb9e847e641?restype=container&comp=undelete",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:12:12 GMT",
        "x-ms-deleted-container-name": "test-blob-4fc7a036-ad69-daee-7250-9cb9e847e641",
        "x-ms-deleted-container-version": "01D60F8BB59A4652",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\n",
        "RequestId:cd72511d-f01e-0048-35ed-b88cb5000000\n",
        "Time:2024-06-07T15:12:13.1178287Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "RandomSeed": "1824006141",
    "Storage_TestConfigSoftDelete": "SoftDeleteTenant\nseansoftdelete\nU2FuaXRpemVk\nhttps://seansoftdelete.blob.core.windows.net\nhttps://seansoftdelete.file.core.windows.net\nhttps://seansoftdelete.queue.core.windows.net\nhttps://seansoftdelete.table.core.windows.net\n\n\n\n\nhttps://seansoftdelete-secondary.blob.core.windows.net\nhttps://seansoftdelete-secondary.file.core.windows.net\nhttps://seansoftdelete-secondary.queue.core.windows.net\nhttps://seansoftdelete-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seansoftdelete.blob.core.windows.net/;QueueEndpoint=https://seansoftdelete.queue.core.windows.net/;FileEndpoint=https://seansoftdelete.file.core.windows.net/;BlobSecondaryEndpoint=https://seansoftdelete-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seansoftdelete-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seansoftdelete-secondary.file.core.windows.net/;AccountName=seansoftdelete;AccountKey=Sanitized\n\n\n"
  }
}
