{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/indexes/index-test/versions/1.0?api-version=v1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "connectionName": "balapvseacrch",
        "indexName": "sanitized-index-name",
        "type": "AzureSearch"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0f91bcc2-1465-419b-a5ed-22cebcce1616",
        "x-http2-stream-id": "129",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.973"
      },
      "ResponseBody": {
        "type": "AzureSearch",
        "connectionName": "balapvseacrch",
        "indexName": "sanitized-index-name",
        "name": "index-test",
        "version": "1.0"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/indexes?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7e11ac87-f92c-4dd9-8c1a-d707249dbe71",
        "x-http2-stream-id": "131",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "1.338"
      },
      "ResponseBody": "\"Response status code does not indicate success: 400 (Bad Request).\""
    }
  ],
  "Variables": {}
}
