{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/F29CBC22A2E56DD132BF5CCEA9A782943658F11FE1265DB433?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:23:36 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyF29CBC22A2E56DD132BF5CCEA9A782943658F11FE1265DB433",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224200d242-0000-0700-0000-653ff4a80000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:23:36 GMT",
        "trace-id": "56bf3f72-c566-4f80-0975-d44cc08f4347"
      },
      "ResponseBody": {
        "id": "F29CBC22A2E56DD132BF5CCEA9A782943658F11FE1265DB433",
        "name": "LongestIdleDistributionPolicyF29CBC22A2E56DD132BF5CCEA9A782943658F11FE1265DB433",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00224200d242-0000-0700-0000-653ff4a80000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/D37FB89BD933388BD1AFDECB2D4472576ECD5856CE2122BC2B?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:23:37 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-TestD37FB89BD933388BD1AFDECB2D4472576ECD5856CE2122BC2B",
        "distributionPolicyId": "F29CBC22A2E56DD132BF5CCEA9A782943658F11FE1265DB433",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022f0007c8d-0000-0700-0000-653ff4a80000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:23:36 GMT",
        "trace-id": "76f27165-824b-303a-0fd6-8aab9b910823"
      },
      "ResponseBody": {
        "id": "D37FB89BD933388BD1AFDECB2D4472576ECD5856CE2122BC2B",
        "name": "DefaultQueue-Sdk-TestD37FB89BD933388BD1AFDECB2D4472576ECD5856CE2122BC2B",
        "distributionPolicyId": "F29CBC22A2E56DD132BF5CCEA9A782943658F11FE1265DB433",
        "labels": {
          "Label_1": "Value_1",
          "Id": "D37FB89BD933388BD1AFDECB2D4472576ECD5856CE2122BC2B"
        },
        "etag": "\u0022f0007c8d-0000-0700-0000-653ff4a80000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/0BE3185A4B7C731B1404932101EB92703440E21AEE78CD3F71?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:23:37 GMT"
      },
      "RequestBody": {
        "name": "FallbackQueue-ClassificationPolicy",
        "fallbackQueueId": "D37FB89BD933388BD1AFDECB2D4472576ECD5856CE2122BC2B"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220600c206-0000-0700-0000-653ff4a80000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:23:36 GMT",
        "trace-id": "6e832dce-c9af-a538-9ae9-4bba14556e5e"
      },
      "ResponseBody": {
        "id": "0BE3185A4B7C731B1404932101EB92703440E21AEE78CD3F71",
        "name": "FallbackQueue-ClassificationPolicy",
        "fallbackQueueId": "D37FB89BD933388BD1AFDECB2D4472576ECD5856CE2122BC2B",
        "queueSelectorAttachments": [],
        "workerSelectorAttachments": [],
        "etag": "\u00220600c206-0000-0700-0000-653ff4a80000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/DF4EDFB0AFA67A3DBCC4D4BDC3C63D30B4331FD85181A73991?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:23:37 GMT"
      },
      "RequestBody": {
        "channelReference": "123",
        "channelId": "CP_FallbackQueue",
        "classificationPolicyId": "0BE3185A4B7C731B1404932101EB92703440E21AEE78CD3F71"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-2f91-315575d9db08\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:23:36 GMT",
        "trace-id": "cad64c59-218c-48db-f03f-7ee5e155a6ca"
      },
      "ResponseBody": {
        "id": "DF4EDFB0AFA67A3DBCC4D4BDC3C63D30B4331FD85181A73991",
        "channelReference": "123",
        "status": "pendingClassification",
        "channelId": "CP_FallbackQueue",
        "classificationPolicyId": "0BE3185A4B7C731B1404932101EB92703440E21AEE78CD3F71",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000000-0000-0000-2f91-315575d9db08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/DF4EDFB0AFA67A3DBCC4D4BDC3C63D30B4331FD85181A73991?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:23:39 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-a1fa-565575d9db08\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:23:36 GMT",
        "trace-id": "07ce262f-2a31-ac0d-e428-c362b484a9e0"
      },
      "ResponseBody": {
        "id": "DF4EDFB0AFA67A3DBCC4D4BDC3C63D30B4331FD85181A73991",
        "channelReference": "123",
        "status": "queued",
        "enqueuedAt": "2023-10-30T18:23:36.9221793\u002B00:00",
        "channelId": "CP_FallbackQueue",
        "classificationPolicyId": "0BE3185A4B7C731B1404932101EB92703440E21AEE78CD3F71",
        "queueId": "D37FB89BD933388BD1AFDECB2D4472576ECD5856CE2122BC2B",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000002-0000-0000-a1fa-565575d9db08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/DF4EDFB0AFA67A3DBCC4D4BDC3C63D30B4331FD85181A73991:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:23:39 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "95afb4a5-ead8-4a50-2f87-17c15ba9ed3f"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://williamzhao-test.unitedstates.ppe.communication.azure.net/routing/classificationPolicies/0BE3185A4B7C731B1404932101EB92703440E21AEE78CD3F71?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "HMAC-SHA256 SignedHeaders=x-ms-date;host;x-ms-content-sha256\u0026Signature=jqd26OHxRe9RTv2Nf0OUNjPMazC59\u002BmINR\u002BpiFZLV2M=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Mon, 30 Oct 2023 18:23:42 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "ef6b1aa0-8b1d-bdef-ffc7-daf41c40caa3"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-RJa0EkiEiEWFfDIS20L-iA-",
    "RandomSeed": "243038060"
  }
}
