{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/4E0F54413E608DC72759F10AFC69BEAF5660C939AD0ADB8B86?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 23 Sep 2025 23:51:33 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy4E0F54413E608DC72759F10AFC69BEAF5660C939AD0ADB8B86",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "longestIdle"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"1300b302-0000-0700-0000-68d332870000\"",
        "JobRouter-Request-Handling-Region": "b-west us",
        "Last-Modified": "Tue, 23 Sep 2025 23:51:35 GMT",
        "MS-CV": "Sanitized",
        "trace-id": "6c462ffa-188c-85ff-2ad1-a32f20c3cb87"
      },
      "ResponseBody": {
        "id": "4E0F54413E608DC72759F10AFC69BEAF5660C939AD0ADB8B86",
        "name": "LongestIdleDistributionPolicy4E0F54413E608DC72759F10AFC69BEAF5660C939AD0ADB8B86",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\"1300b302-0000-0700-0000-68d332870000\""
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/804A4C463A5E8AD90C936CAEFF00396ADE84BA3C0966FB191B?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 23 Sep 2025 23:51:33 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test804A4C463A5E8AD90C936CAEFF00396ADE84BA3C0966FB191B",
        "distributionPolicyId": "4E0F54413E608DC72759F10AFC69BEAF5660C939AD0ADB8B86",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"4e064ecf-0000-0700-0000-68d332870000\"",
        "JobRouter-Request-Handling-Region": "b-west us",
        "Last-Modified": "Tue, 23 Sep 2025 23:51:35 GMT",
        "MS-CV": "Sanitized",
        "trace-id": "3f79c26a-2113-71de-796e-a084447a93b8"
      },
      "ResponseBody": {
        "id": "804A4C463A5E8AD90C936CAEFF00396ADE84BA3C0966FB191B",
        "name": "DefaultQueue-Sdk-Test804A4C463A5E8AD90C936CAEFF00396ADE84BA3C0966FB191B",
        "distributionPolicyId": "4E0F54413E608DC72759F10AFC69BEAF5660C939AD0ADB8B86",
        "labels": {
          "Label_1": "Value_1",
          "Id": "804A4C463A5E8AD90C936CAEFF00396ADE84BA3C0966FB191B"
        },
        "etag": "\"4e064ecf-0000-0700-0000-68d332870000\""
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/D92BD2CF170B4D625B0ACAD27BE281C3B9382B89D747E2A93E?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-co[...]
