{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/0FC487BE9A4EA9BFCD87BFA99F6B23556F42A5BFFC21411E32?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:11:09 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy0FC487BE9A4EA9BFCD87BFA99F6B23556F42A5BFFC21411E32",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002242003e33-0000-0700-0000-653ff1bc0000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:11:08 GMT",
        "trace-id": "c12b9bcc-3aca-b97a-b194-12d5bb513873"
      },
      "ResponseBody": {
        "id": "0FC487BE9A4EA9BFCD87BFA99F6B23556F42A5BFFC21411E32",
        "name": "LongestIdleDistributionPolicy0FC487BE9A4EA9BFCD87BFA99F6B23556F42A5BFFC21411E32",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u002242003e33-0000-0700-0000-653ff1bc0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/291C037D71A0CCE74787B6179A02655447CFB9409375787E80?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:11:10 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test291C037D71A0CCE74787B6179A02655447CFB9409375787E80",
        "distributionPolicyId": "0FC487BE9A4EA9BFCD87BFA99F6B23556F42A5BFFC21411E32",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022f000cb54-0000-0700-0000-653ff1bc0000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:11:08 GMT",
        "trace-id": "48e5a40e-b0c7-8ffe-c6aa-0eba84b19535"
      },
      "ResponseBody": {
        "id": "291C037D71A0CCE74787B6179A02655447CFB9409375787E80",
        "name": "DefaultQueue-Sdk-Test291C037D71A0CCE74787B6179A02655447CFB9409375787E80",
        "distributionPolicyId": "0FC487BE9A4EA9BFCD87BFA99F6B23556F42A5BFFC21411E32",
        "labels": {
          "Label_1": "Value_1",
          "Id": "291C037D71A0CCE74787B6179A02655447CFB9409375787E80"
        },
        "etag": "\u0022f000cb54-0000-0700-0000-653ff1bc0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/B4DB0057CD8ECCB32FD7B33773C0D8A6D995AC191C8C29C18E?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:11:10 GMT"
      },
      "RequestBody": {
        "name": "FallbackQueue-ClassificationPolicy",
        "fallbackQueueId": "291C037D71A0CCE74787B6179A02655447CFB9409375787E80"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002206008204-0000-0700-0000-653ff1bd0000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:11:09 GMT",
        "trace-id": "97a9c713-dab1-a568-9e34-432877d9258e"
      },
      "ResponseBody": {
        "id": "B4DB0057CD8ECCB32FD7B33773C0D8A6D995AC191C8C29C18E",
        "name": "FallbackQueue-ClassificationPolicy",
        "fallbackQueueId": "291C037D71A0CCE74787B6179A02655447CFB9409375787E80",
        "queueSelectorAttachments": [],
        "workerSelectorAttachments": [],
        "etag": "\u002206008204-0000-0700-0000-653ff1bd0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/A7D9122A5027BA56D5CF622E31003F14689E85C252D0963FEF?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:11:10 GMT"
      },
      "RequestBody": {
        "channelReference": "123",
        "channelId": "CP_FallbackQueue",
        "classificationPolicyId": "B4DB0057CD8ECCB32FD7B33773C0D8A6D995AC191C8C29C18E"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-28c3-a59773d9db08\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:11:09 GMT",
        "trace-id": "6bd35df0-69ad-edfc-bc49-f9d4337067f6"
      },
      "ResponseBody": {
        "id": "A7D9122A5027BA56D5CF622E31003F14689E85C252D0963FEF",
        "channelReference": "123",
        "status": "pendingClassification",
        "channelId": "CP_FallbackQueue",
        "classificationPolicyId": "B4DB0057CD8ECCB32FD7B33773C0D8A6D995AC191C8C29C18E",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000000-0000-0000-28c3-a59773d9db08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/A7D9122A5027BA56D5CF622E31003F14689E85C252D0963FEF?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:11:11 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-faf1-ce9773d9db08\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:11:09 GMT",
        "trace-id": "3c43a024-fdc7-7ed7-a3c9-fda82e6a96e3"
      },
      "ResponseBody": {
        "id": "A7D9122A5027BA56D5CF622E31003F14689E85C252D0963FEF",
        "channelReference": "123",
        "status": "queued",
        "enqueuedAt": "2023-10-30T18:11:09.4445562\u002B00:00",
        "channelId": "CP_FallbackQueue",
        "classificationPolicyId": "B4DB0057CD8ECCB32FD7B33773C0D8A6D995AC191C8C29C18E",
        "queueId": "291C037D71A0CCE74787B6179A02655447CFB9409375787E80",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000002-0000-0000-faf1-ce9773d9db08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/A7D9122A5027BA56D5CF622E31003F14689E85C252D0963FEF:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:11:11 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "6fd33c2f-5d2a-1d3e-7c11-40f31df4c228"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://williamzhao-test.unitedstates.ppe.communication.azure.net/routing/classificationPolicies/B4DB0057CD8ECCB32FD7B33773C0D8A6D995AC191C8C29C18E?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "HMAC-SHA256 SignedHeaders=x-ms-date;host;x-ms-content-sha256\u0026Signature=JIbadUXKoXcvpp8ll5pPSUrmmB9OSzt8QMIYEp8KJLk=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Mon, 30 Oct 2023 18:11:15 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "690d9867-7e29-de1a-4ee5-09288a446275"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-J5B6b-aK2U24UR_BhkHSzw-",
    "RandomSeed": "1750918599"
  }
}
