{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/677251AD1EA97F617C8170D16A26DECF25AE1A5ECE3826C18F?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 18:58:36 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy677251AD1EA97F617C8170D16A26DECF25AE1A5ECE3826C18F",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "longestIdle"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220200f980-0000-0700-0000-65c5245d0000\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 18:58:37 GMT",
        "trace-id": "0c723ccf-806e-5c1d-1e61-dc2f2d63bc01"
      },
      "ResponseBody": {
        "id": "677251AD1EA97F617C8170D16A26DECF25AE1A5ECE3826C18F",
        "name": "LongestIdleDistributionPolicy677251AD1EA97F617C8170D16A26DECF25AE1A5ECE3826C18F",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00220200f980-0000-0700-0000-65c5245d0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/8909DAABD2788DF475D78DB13E8EB1A6BE75B7A1DFF71E7BA5?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 18:58:38 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test8909DAABD2788DF475D78DB13E8EB1A6BE75B7A1DFF71E7BA5",
        "distributionPolicyId": "677251AD1EA97F617C8170D16A26DECF25AE1A5ECE3826C18F",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ae007287-0000-0700-0000-65c5245d0000\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 18:58:37 GMT",
        "trace-id": "1fbc66e2-a997-f2de-b137-ec47531c19ab"
      },
      "ResponseBody": {
        "id": "8909DAABD2788DF475D78DB13E8EB1A6BE75B7A1DFF71E7BA5",
        "name": "DefaultQueue-Sdk-Test8909DAABD2788DF475D78DB13E8EB1A6BE75B7A1DFF71E7BA5",
        "distributionPolicyId": "677251AD1EA97F617C8170D16A26DECF25AE1A5ECE3826C18F",
        "labels": {
          "Label_1": "Value_1",
          "Id": "8909DAABD2788DF475D78DB13E8EB1A6BE75B7A1DFF71E7BA5"
        },
        "etag": "\u0022ae007287-0000-0700-0000-65c5245d0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/70F3591DE9A0B74EC888B0C43A21660171824FD96FEE3D92D6?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 18:58:38 GMT"
      },
      "RequestBody": {
        "channelReference": "IncorrectValue",
        "channelId": "60EC89B7474A94AF0BDB2377B37DF4A147FF2AE1D0D5EE90CB",
        "queueId": "8909DAABD2788DF475D78DB13E8EB1A6BE75B7A1DFF71E7BA5",
        "priority": 1,
        "matchingMode": {
          "kind": "suspend"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-3b6b-13f5d728dc08\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 18:58:37 GMT",
        "trace-id": "62e8d64e-4830-6f34-4ec7-eb2b11c28d81"
      },
      "ResponseBody": {
        "id": "70F3591DE9A0B74EC888B0C43A21660171824FD96FEE3D92D6",
        "channelReference": "IncorrectValue",
        "status": "waitingForActivation",
        "channelId": "60EC89B7474A94AF0BDB2377B37DF4A147FF2AE1D0D5EE90CB",
        "queueId": "8909DAABD2788DF475D78DB13E8EB1A6BE75B7A1DFF71E7BA5",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "suspend"
        },
        "etag": "\u002200000000-0000-0000-3b6b-13f5d728dc08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/70F3591DE9A0B74EC888B0C43A21660171824FD96FEE3D92D6:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 18:58:41 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "87de57f5-e768-d459-7b3e-d7df7f87662d"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/8909DAABD2788DF475D78DB13E8EB1A6BE75B7A1DFF71E7BA5?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 18:58:46 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "677a23f4-9662-3b3e-b627-bb1c954bea89"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-4d9Iyce5okKVt7M3hoqoVA-",
    "RandomSeed": "1028157955"
  }
}
