{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/E7AA154C54460C3E628069FEDA22B3F2632A3E6D628B55C526?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 23 Sep 2025 23:49:05 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyE7AA154C54460C3E628069FEDA22B3F2632A3E6D628B55C526",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "longestIdle"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"13007601-0000-0700-0000-68d331f30000\"",
        "JobRouter-Request-Handling-Region": "b-west us",
        "Last-Modified": "Tue, 23 Sep 2025 23:49:07 GMT",
        "MS-CV": "Sanitized",
        "trace-id": "260af1ac-f4c6-1296-1a44-eb5629be4bbb"
      },
      "ResponseBody": {
        "id": "E7AA154C54460C3E628069FEDA22B3F2632A3E6D628B55C526",
        "name": "LongestIdleDistributionPolicyE7AA154C54460C3E628069FEDA22B3F2632A3E6D628B55C526",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\"13007601-0000-0700-0000-68d331f30000\""
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/457FD11DA478F17C21AEF61FAA9B1198936C2C6A98628C794F?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 23 Sep 2025 23:49:06 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test457FD11DA478F17C21AEF61FAA9B1198936C2C6A98628C794F",
        "distributionPolicyId": "E7AA154C54460C3E628069FEDA22B3F2632A3E6D628B55C526",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"4e064c0e-0000-0700-0000-68d331f40000\"",
        "JobRouter-Request-Handling-Region": "b-west us",
        "Last-Modified": "Tue, 23 Sep 2025 23:49:08 GMT",
        "MS-CV": "Sanitized",
        "trace-id": "c51baf87-6610-9e65-8e30-522147ef8ddf"
      },
      "ResponseBody": {
        "id": "457FD11DA478F17C21AEF61FAA9B1198936C2C6A98628C794F",
        "name": "DefaultQueue-Sdk-Test457FD11DA478F17C21AEF61FAA9B1198936C2C6A98628C794F",
        "distributionPolicyId": "E7AA154C54460C3E628069FEDA22B3F2632A3E6D628B55C526",
        "labels": {
          "Label_1": "Value_1",
          "Id": "457FD11DA478F17C21AEF61FAA9B1198936C2C6A98628C794F"
        },
        "etag": "\"4e064c0e-0000-0700-0000-68d331f40000\""
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/A3489AB6FA389127BAC8C8470B50F3E52D3599E8AC71F05438?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 23 Sep 2025 23:49:06 GMT"
      },
      "RequestBody": {
        "name": "FallbackQueue-ClassificationPolicy",
        "fallbackQueueId": "457FD11DA478F17C21AEF61FAA9B1198936C2C6A98628C794F"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"07000774-0000-0700-0000-68d331f40000\"",
        "JobRouter-Request-Handling-Region": "b-west us",
        "Last-Modified": "Tue, 23 Sep 2025 23:49:08 GMT",
        "MS-CV": "Sanitized",
        "trace-id": "940349b8-7152-4141-1ae2-cbf59eaec9ac"
      },
      "ResponseBody": {
        "id": "A3489AB6FA389127BAC8C8470B50F3E52D3599E8AC71F05438",
        "name": "FallbackQueue-ClassificationPolicy",
        "fallbackQueueId": "457FD11DA478F17C21AEF61FAA9B1198936C2C6A98628C794F",
        "queueSelectorAttachments": [],
        "workerSelectorAttachments": [],
        "etag": "\"07000774-0000-0700-0000-68d331f40000\""
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/7C03703674E4951D32E7147E41079975C518721028A3690D74?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 23 Sep 2025 23:49:06 GMT"
      },
      "RequestBody": {
        "channelReference": "123",
        "channelId": "CP_FallbackQueue",
        "classificationPolicyId": "A3489AB6FA389127BAC8C8470B50F3E52D3599E8AC71F05438"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"00000000-0000-0000-047c-a6c9fbfadd08\"",
        "JobRouter-Request-Handling-Region": "b-west us",
        "Last-Modified": "Tue, 23 Sep 2025 23:49:08 GMT",
        "MS-CV": "Sanitized",
        "trace-id": "b77c561a-070f-5091-9902-b6827c1f3d0b"
      },
      "ResponseBody": {
        "id": "7C03703674E4951D32E7147E41079975C518721028A3690D74",
        "channelReference": "123",
        "status": "pendingClassification",
        "channelId": "CP_FallbackQueue",
        "classificationPolicyId": "A3489AB6FA389127BAC8C8470B50F3E52D3599E8AC71F05438",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "\"00000000-0000-0000-047c-a6c9fbfadd08\""
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/7C03703674E4951D32E7147E41079975C518721028A3690D74?api-version=2024-01-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 23 Sep 2025 23:49:06 GMT"
      },[...]
