{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/D672EC85EF148CAEF71725B8AE302DB0683DEE2ACCAA05AF4A?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:36:24 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyD672EC85EF148CAEF71725B8AE302DB0683DEE2ACCAA05AF4A",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022a4001891-0000-0700-0000-65525e970000\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:36:23 GMT",
        "trace-id": "56b1e128-665e-3acc-7c83-1ce221f1d4a8"
      },
      "ResponseBody": {
        "id": "D672EC85EF148CAEF71725B8AE302DB0683DEE2ACCAA05AF4A",
        "name": "LongestIdleDistributionPolicyD672EC85EF148CAEF71725B8AE302DB0683DEE2ACCAA05AF4A",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u0022a4001891-0000-0700-0000-65525e970000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/FBC0EFF6A392DE9EDAAFC8BBA6A02A2DBAAB7A3AFDA87C1ED9?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:36:25 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-TestFBC0EFF6A392DE9EDAAFC8BBA6A02A2DBAAB7A3AFDA87C1ED9",
        "distributionPolicyId": "D672EC85EF148CAEF71725B8AE302DB0683DEE2ACCAA05AF4A",
        "labels": {
          "Label_1": "Value_1"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225902ef45-0000-0700-0000-65525e980000\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:36:24 GMT",
        "trace-id": "09683ce2-10ef-18ad-a115-a6a4c53bebeb"
      },
      "ResponseBody": {
        "id": "FBC0EFF6A392DE9EDAAFC8BBA6A02A2DBAAB7A3AFDA87C1ED9",
        "name": "DefaultQueue-Sdk-TestFBC0EFF6A392DE9EDAAFC8BBA6A02A2DBAAB7A3AFDA87C1ED9",
        "distributionPolicyId": "D672EC85EF148CAEF71725B8AE302DB0683DEE2ACCAA05AF4A",
        "labels": {
          "Label_1": "Value_1",
          "Id": "FBC0EFF6A392DE9EDAAFC8BBA6A02A2DBAAB7A3AFDA87C1ED9"
        },
        "etag": "\u00225902ef45-0000-0700-0000-65525e980000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/992D22E161506F5246139DF41DFAE7686C9528FA6DF69FCAE0?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:36:25 GMT"
      },
      "RequestBody": {
        "channelReference": "IncorrectValue",
        "channelId": "60EC89B7474A94AF0BDB2377B37DF4A147FF2AE1D0D5EE90CB",
        "queueId": "FBC0EFF6A392DE9EDAAFC8BBA6A02A2DBAAB7A3AFDA87C1ED9",
        "priority": 1,
        "matchingMode": {
          "kind": "suspend"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-3490-d30e6fe4db08\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:36:24 GMT",
        "trace-id": "af57b204-4754-3504-c048-5b5357b3c9fd"
      },
      "ResponseBody": {
        "id": "992D22E161506F5246139DF41DFAE7686C9528FA6DF69FCAE0",
        "channelReference": "IncorrectValue",
        "status": "waitingForActivation",
        "channelId": "60EC89B7474A94AF0BDB2377B37DF4A147FF2AE1D0D5EE90CB",
        "queueId": "FBC0EFF6A392DE9EDAAFC8BBA6A02A2DBAAB7A3AFDA87C1ED9",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "suspend"
        },
        "etag": "\u002200000000-0000-0000-3490-d30e6fe4db08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/992D22E161506F5246139DF41DFAE7686C9528FA6DF69FCAE0:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:36:28 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "0cae028c-f5b4-740c-ee7d-d2228a347fce"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/FBC0EFF6A392DE9EDAAFC8BBA6A02A2DBAAB7A3AFDA87C1ED9?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:36:34 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "83b7bb92-44dc-c822-04d1-0630e7a96653"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-hL9I1z1c-ECUIPCNAa3XTg-",
    "RandomSeed": "1874197569"
  }
}
