{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/083B561DF0C0337601E0098EA38B25D1BCC058625631E6143F?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:11:34 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy083B561DF0C0337601E0098EA38B25D1BCC058625631E6143F",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224200ae33-0000-0700-0000-653ff1d50000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:11:33 GMT",
        "trace-id": "8e37b46e-3d21-399c-0521-0c2ac1588ac1"
      },
      "ResponseBody": {
        "id": "083B561DF0C0337601E0098EA38B25D1BCC058625631E6143F",
        "name": "LongestIdleDistributionPolicy083B561DF0C0337601E0098EA38B25D1BCC058625631E6143F",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00224200ae33-0000-0700-0000-653ff1d50000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/C386DC1BAA7B9DDA7BFFEE2565A70FEDA29CBB86810AFAA4E6?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:11:34 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-TestC386DC1BAA7B9DDA7BFFEE2565A70FEDA29CBB86810AFAA4E6",
        "distributionPolicyId": "083B561DF0C0337601E0098EA38B25D1BCC058625631E6143F",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022f0008d56-0000-0700-0000-653ff1d50000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:11:33 GMT",
        "trace-id": "747970c8-e957-6bbd-5444-2b19f4ccf236"
      },
      "ResponseBody": {
        "id": "C386DC1BAA7B9DDA7BFFEE2565A70FEDA29CBB86810AFAA4E6",
        "name": "DefaultQueue-Sdk-TestC386DC1BAA7B9DDA7BFFEE2565A70FEDA29CBB86810AFAA4E6",
        "distributionPolicyId": "083B561DF0C0337601E0098EA38B25D1BCC058625631E6143F",
        "labels": {
          "Label_1": "Value_1",
          "Id": "C386DC1BAA7B9DDA7BFFEE2565A70FEDA29CBB86810AFAA4E6"
        },
        "etag": "\u0022f0008d56-0000-0700-0000-653ff1d50000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/86767368AD5A60DEF6C8E348DD8130111F343DCC00B7E9946D?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:11:35 GMT"
      },
      "RequestBody": {
        "name": "StaticPriority-ClassificationPolicy",
        "prioritizationRule": {
          "value": 10,
          "kind": "static-rule"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002206009104-0000-0700-0000-653ff1d50000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:11:33 GMT",
        "trace-id": "ec93881a-a7a8-5b47-63a3-d50df8d37d06"
      },
      "ResponseBody": {
        "id": "86767368AD5A60DEF6C8E348DD8130111F343DCC00B7E9946D",
        "name": "StaticPriority-ClassificationPolicy",
        "queueSelectorAttachments": [],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 10
        },
        "workerSelectorAttachments": [],
        "etag": "\u002206009104-0000-0700-0000-653ff1d50000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/B4CF63FA6960541A4B58642986AC326DAEE1E479A631A71987?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:11:35 GMT"
      },
      "RequestBody": {
        "channelReference": "123",
        "channelId": "EA009BDED2E0DD772BA7DDB18A7F7EF8A50B773A674DDD9136",
        "classificationPolicyId": "86767368AD5A60DEF6C8E348DD8130111F343DCC00B7E9946D",
        "queueId": "C386DC1BAA7B9DDA7BFFEE2565A70FEDA29CBB86810AFAA4E6"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-a0e1-67a673d9db08\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:11:33 GMT",
        "trace-id": "72b8dac0-1c87-b977-5880-ee69929bf806"
      },
      "ResponseBody": {
        "id": "B4CF63FA6960541A4B58642986AC326DAEE1E479A631A71987",
        "channelReference": "123",
        "status": "pendingClassification",
        "channelId": "EA009BDED2E0DD772BA7DDB18A7F7EF8A50B773A674DDD9136",
        "classificationPolicyId": "86767368AD5A60DEF6C8E348DD8130111F343DCC00B7E9946D",
        "queueId": "C386DC1BAA7B9DDA7BFFEE2565A70FEDA29CBB86810AFAA4E6",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000000-0000-0000-a0e1-67a673d9db08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/B4CF63FA6960541A4B58642986AC326DAEE1E479A631A71987?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:11:36 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-8feb-93a673d9db08\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:11:34 GMT",
        "trace-id": "3636c0b5-6573-76a1-1065-7c41574efec1"
      },
      "ResponseBody": {
        "id": "B4CF63FA6960541A4B58642986AC326DAEE1E479A631A71987",
        "channelReference": "123",
        "status": "queued",
        "enqueuedAt": "2023-10-30T18:11:34.2235535\u002B00:00",
        "channelId": "EA009BDED2E0DD772BA7DDB18A7F7EF8A50B773A674DDD9136",
        "classificationPolicyId": "86767368AD5A60DEF6C8E348DD8130111F343DCC00B7E9946D",
        "queueId": "C386DC1BAA7B9DDA7BFFEE2565A70FEDA29CBB86810AFAA4E6",
        "priority": 10,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000002-0000-0000-8feb-93a673d9db08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/B4CF63FA6960541A4B58642986AC326DAEE1E479A631A71987:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:11:41 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "aab181c0-3115-edfd-e3e0-7573dc18b0dd"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/86767368AD5A60DEF6C8E348DD8130111F343DCC00B7E9946D?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:11:44 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "0b300a82-f19a-9a9c-badb-bf2f29c5fec8"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-8GXKAqO21UCaBhNl6XD_Gg-",
    "RandomSeed": "1058222836"
  }
}
