{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/E711F44E04D32CD9E836E2B3925A20B1430EB1EF4DE65A5956?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 18:57:45 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyE711F44E04D32CD9E836E2B3925A20B1430EB1EF4DE65A5956",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "longestIdle"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220200eb80-0000-0700-0000-65c524290000\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 18:57:45 GMT",
        "trace-id": "174f1bf0-639b-1121-7ecd-86200ad52e20"
      },
      "ResponseBody": {
        "id": "E711F44E04D32CD9E836E2B3925A20B1430EB1EF4DE65A5956",
        "name": "LongestIdleDistributionPolicyE711F44E04D32CD9E836E2B3925A20B1430EB1EF4DE65A5956",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00220200eb80-0000-0700-0000-65c524290000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/6C57E100541C4303429DB05B33ABECF3DEF31AD0A915FDCE7B?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 18:57:46 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test6C57E100541C4303429DB05B33ABECF3DEF31AD0A915FDCE7B",
        "distributionPolicyId": "E711F44E04D32CD9E836E2B3925A20B1430EB1EF4DE65A5956",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ae00c382-0000-0700-0000-65c524290000\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 18:57:45 GMT",
        "trace-id": "6c39516c-77a2-fb16-8c7c-2d45efba5408"
      },
      "ResponseBody": {
        "id": "6C57E100541C4303429DB05B33ABECF3DEF31AD0A915FDCE7B",
        "name": "DefaultQueue-Sdk-Test6C57E100541C4303429DB05B33ABECF3DEF31AD0A915FDCE7B",
        "distributionPolicyId": "E711F44E04D32CD9E836E2B3925A20B1430EB1EF4DE65A5956",
        "labels": {
          "Label_1": "Value_1",
          "Id": "6C57E100541C4303429DB05B33ABECF3DEF31AD0A915FDCE7B"
        },
        "etag": "\u0022ae00c382-0000-0700-0000-65c524290000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/79CC12D8490B24CA82804B3D163A93341C7C73D4967CE50FC9?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 18:57:46 GMT"
      },
      "RequestBody": {
        "channelReference": "IncorrectValue",
        "channelId": "0F23F2372AB0266E27E561B4CDD724324E1E529C287B4EC25E",
        "queueId": "6C57E100541C4303429DB05B33ABECF3DEF31AD0A915FDCE7B",
        "priority": 1,
        "matchingMode": {
          "scheduleAt": "2100-01-01T01:01:01.0000000Z",
          "kind": "scheduleAndSuspend"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-03d3-20d6d728dc08\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 18:57:45 GMT",
        "trace-id": "ac13182e-c699-ef78-33f9-9ff6c663ec4f"
      },
      "ResponseBody": {
        "id": "79CC12D8490B24CA82804B3D163A93341C7C73D4967CE50FC9",
        "channelReference": "IncorrectValue",
        "status": "pendingSchedule",
        "channelId": "0F23F2372AB0266E27E561B4CDD724324E1E529C287B4EC25E",
        "queueId": "6C57E100541C4303429DB05B33ABECF3DEF31AD0A915FDCE7B",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "scheduleAndSuspend",
          "scheduleAt": "2100-01-01T01:01:01\u002B00:00"
        },
        "etag": "\u002200000000-0000-0000-03d3-20d6d728dc08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/79CC12D8490B24CA82804B3D163A93341C7C73D4967CE50FC9:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 18:57:47 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "c8f3373d-743e-0e96-44f0-ec1efa216ff2"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/6C57E100541C4303429DB05B33ABECF3DEF31AD0A915FDCE7B?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 18:57:52 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "f4c4e390-61e9-dd36-53a2-cadf290e7fba"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-03JAEPss8EON66uLcC4sPA-",
    "RandomSeed": "595484078",
    "scheduled-time-utc": "2100-01-01T01:01:01.0000000\u002B00:00"
  }
}
