{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/AA73D6F0E3B24B8F04D87BD98287345CC9738AACD4C4F72C89?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:14:31 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyAA73D6F0E3B24B8F04D87BD98287345CC9738AACD4C4F72C89",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227b0011b6-0000-0700-0000-654ac4d70000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:14:31 GMT",
        "trace-id": "708c195b-bde7-7837-f16b-6321b6889da1"
      },
      "ResponseBody": {
        "id": "AA73D6F0E3B24B8F04D87BD98287345CC9738AACD4C4F72C89",
        "name": "LongestIdleDistributionPolicyAA73D6F0E3B24B8F04D87BD98287345CC9738AACD4C4F72C89",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00227b0011b6-0000-0700-0000-654ac4d70000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/F59A4D6DD22776EC5F1CB0066C01B99799027D00E2ADFF4C4E?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:14:32 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-TestF59A4D6DD22776EC5F1CB0066C01B99799027D00E2ADFF4C4E",
        "distributionPolicyId": "AA73D6F0E3B24B8F04D87BD98287345CC9738AACD4C4F72C89",
        "labels": {
          "Label_1": "Value_1"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c30133a2-0000-0700-0000-654ac4d70000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:14:31 GMT",
        "trace-id": "c13d4e48-ca35-4cf5-613f-ba122f9e4aec"
      },
      "ResponseBody": {
        "id": "F59A4D6DD22776EC5F1CB0066C01B99799027D00E2ADFF4C4E",
        "name": "DefaultQueue-Sdk-TestF59A4D6DD22776EC5F1CB0066C01B99799027D00E2ADFF4C4E",
        "distributionPolicyId": "AA73D6F0E3B24B8F04D87BD98287345CC9738AACD4C4F72C89",
        "labels": {
          "Label_1": "Value_1",
          "Id": "F59A4D6DD22776EC5F1CB0066C01B99799027D00E2ADFF4C4E"
        },
        "etag": "\u0022c30133a2-0000-0700-0000-654ac4d70000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/2FF516D36FF9146CCB5AF53586ABC692FEC8954D064D3150E9?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:14:32 GMT"
      },
      "RequestBody": {
        "name": "StaticQueueSelector-ClassificationPolicy",
        "queueSelectorAttachments": [
          {
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "F59A4D6DD22776EC5F1CB0066C01B99799027D00E2ADFF4C4E"
            },
            "kind": "static"
          }
        ],
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220c00bf6b-0000-0700-0000-654ac4d70000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:14:31 GMT",
        "trace-id": "ed11b422-6c7e-1dbe-a6bf-544f137e6ca1"
      },
      "ResponseBody": {
        "id": "2FF516D36FF9146CCB5AF53586ABC692FEC8954D064D3150E9",
        "name": "StaticQueueSelector-ClassificationPolicy",
        "queueSelectorAttachments": [
          {
            "kind": "static",
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "F59A4D6DD22776EC5F1CB0066C01B99799027D00E2ADFF4C4E"
            }
          }
        ],
        "workerSelectorAttachments": [],
        "etag": "\u00220c00bf6b-0000-0700-0000-654ac4d70000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/1378969DCCFB63E3ECD4EF1A29468B8D76621B3FD5A35513AB?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:14:32 GMT"
      },
      "RequestBody": {
        "channelReference": "123",
        "channelId": "11EA677C2C9C730ED9E5AECBF84DB01B65EFFB853F258495A8",
        "classificationPolicyId": "2FF516D36FF9146CCB5AF53586ABC692FEC8954D064D3150E9",
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-551e-bd4ce7dfdb08\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:14:32 GMT",
        "trace-id": "7ff6ff09-3849-cc41-87d6-30b9f0ec0b5f"
      },
      "ResponseBody": {
        "id": "1378969DCCFB63E3ECD4EF1A29468B8D76621B3FD5A35513AB",
        "channelReference": "123",
        "status": "pendingClassification",
        "channelId": "11EA677C2C9C730ED9E5AECBF84DB01B65EFFB853F258495A8",
        "classificationPolicyId": "2FF516D36FF9146CCB5AF53586ABC692FEC8954D064D3150E9",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000000-0000-0000-551e-bd4ce7dfdb08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/1378969DCCFB63E3ECD4EF1A29468B8D76621B3FD5A35513AB?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:14:33 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-35f0-e44ce7dfdb08\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:14:32 GMT",
        "trace-id": "af5f9d88-a036-8bc4-9ec8-6806797da230"
      },
      "ResponseBody": {
        "id": "1378969DCCFB63E3ECD4EF1A29468B8D76621B3FD5A35513AB",
        "channelReference": "123",
        "status": "queued",
        "enqueuedAt": "2023-11-07T23:14:32.3568693\u002B00:00",
        "channelId": "11EA677C2C9C730ED9E5AECBF84DB01B65EFFB853F258495A8",
        "classificationPolicyId": "2FF516D36FF9146CCB5AF53586ABC692FEC8954D064D3150E9",
        "queueId": "F59A4D6DD22776EC5F1CB0066C01B99799027D00E2ADFF4C4E",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000002-0000-0000-35f0-e44ce7dfdb08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/1378969DCCFB63E3ECD4EF1A29468B8D76621B3FD5A35513AB:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:14:38 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "8a4d5c8d-5831-84cb-2e01-a3b654906573"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/F59A4D6DD22776EC5F1CB0066C01B99799027D00E2ADFF4C4E?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:14:44 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "8f4f6703-d2dc-f2e0-63f3-5b4e216db7c5"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-qKRKFpuUtUWfffLff_p8yw-",
    "RandomSeed": "1635325949"
  }
}
