{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/F80807DFD3065E7D162499AF390693F9CF18D4C59B97D54C4B?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 23:18:30 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyF80807DFD3065E7D162499AF390693F9CF18D4C59B97D54C4B",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220a006353-0000-0700-0000-65272d470000\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 23:18:31 GMT",
        "trace-id": "9bfce5c1-6bc8-9a5f-7e54-18be2288b04b"
      },
      "ResponseBody": {
        "id": "F80807DFD3065E7D162499AF390693F9CF18D4C59B97D54C4B",
        "name": "LongestIdleDistributionPolicyF80807DFD3065E7D162499AF390693F9CF18D4C59B97D54C4B",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/162A7EDFFDB3DB9373C348C9716D9A534460890262814E31DF?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 23:18:30 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test162A7EDFFDB3DB9373C348C9716D9A534460890262814E31DF",
        "distributionPolicyId": "F80807DFD3065E7D162499AF390693F9CF18D4C59B97D54C4B",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022220190fb-0000-0700-0000-65272d470000\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 23:18:31 GMT",
        "trace-id": "d066b56c-701c-851d-2d58-883aaf26ca89"
      },
      "ResponseBody": {
        "id": "162A7EDFFDB3DB9373C348C9716D9A534460890262814E31DF",
        "name": "DefaultQueue-Sdk-Test162A7EDFFDB3DB9373C348C9716D9A534460890262814E31DF",
        "distributionPolicyId": "F80807DFD3065E7D162499AF390693F9CF18D4C59B97D54C4B",
        "labels": {
          "Label_1": "Value_1",
          "Id": "162A7EDFFDB3DB9373C348C9716D9A534460890262814E31DF"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/C604C3BE68A4632DBC18CCA17C89E6405EF75D09454B1511D8?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 23:18:31 GMT"
      },
      "RequestBody": {
        "name": "JobQVsFallbackQ-ClassificationPolicy",
        "fallbackQueueId": "4BEF8C56EB21F222602753CE6AB67786FBC422887348C70DE0"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002267004d54-0000-0700-0000-65272d470000\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 23:18:31 GMT",
        "trace-id": "6779b9ec-efc2-bb4b-26de-9d7d855b7562"
      },
      "ResponseBody": {
        "id": "C604C3BE68A4632DBC18CCA17C89E6405EF75D09454B1511D8",
        "name": "JobQVsFallbackQ-ClassificationPolicy",
        "fallbackQueueId": "4BEF8C56EB21F222602753CE6AB67786FBC422887348C70DE0",
        "queueSelectors": [],
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/JobWCpAndQ?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 23:18:31 GMT"
      },
      "RequestBody": {
        "channelReference": "123",
        "channelId": "ChatChannel",
        "classificationPolicyId": "C604C3BE68A4632DBC18CCA17C89E6405EF75D09454B1511D8",
        "queueId": "162A7EDFFDB3DB9373C348C9716D9A534460890262814E31DF"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-19e0-7962b0cadb08\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 23:18:31 GMT",
        "trace-id": "0acdcafd-428a-3e34-411f-62d647370810"
      },
      "ResponseBody": {
        "id": "JobWCpAndQ",
        "channelReference": "123",
        "status": "pendingClassification",
        "channelId": "ChatChannel",
        "classificationPolicyId": "C604C3BE68A4632DBC18CCA17C89E6405EF75D09454B1511D8",
        "queueId": "162A7EDFFDB3DB9373C348C9716D9A534460890262814E31DF",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {},
        "matchingMode": {
          "kind": "queue-and-match"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/JobWCpAndQ?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 23:18:32 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-5b95-b662b0cadb08\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 23:18:32 GMT",
        "trace-id": "99b3d58b-7a40-26f7-0b8f-d22ff8143fe3"
      },
      "ResponseBody": {
        "id": "JobWCpAndQ",
        "channelReference": "123",
        "status": "queued",
        "enqueuedAt": "2023-10-11T23:18:32.2244955\u002B00:00",
        "channelId": "ChatChannel",
        "classificationPolicyId": "C604C3BE68A4632DBC18CCA17C89E6405EF75D09454B1511D8",
        "queueId": "162A7EDFFDB3DB9373C348C9716D9A534460890262814E31DF",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {},
        "matchingMode": {
          "kind": "queue-and-match"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-fBXKytzMbEWX8M94WXqzOg-",
    "RandomSeed": "593798830"
  }
}
