{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/F7B4502789EBC4D505E0F1AA11D23D9AE9D4598E36549AB925?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:15:22 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyF7B4502789EBC4D505E0F1AA11D23D9AE9D4598E36549AB925",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227b00f4b6-0000-0700-0000-654ac50a0000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:15:22 GMT",
        "trace-id": "4d750a01-b37d-7f72-cb5a-00e9bd5989e8"
      },
      "ResponseBody": {
        "id": "F7B4502789EBC4D505E0F1AA11D23D9AE9D4598E36549AB925",
        "name": "LongestIdleDistributionPolicyF7B4502789EBC4D505E0F1AA11D23D9AE9D4598E36549AB925",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00227b00f4b6-0000-0700-0000-654ac50a0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/F69DF4174B5FD28D2BEB831389F687B4E14828E20580CDA528?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:15:22 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-TestF69DF4174B5FD28D2BEB831389F687B4E14828E20580CDA528",
        "distributionPolicyId": "F7B4502789EBC4D505E0F1AA11D23D9AE9D4598E36549AB925",
        "labels": {
          "Label_1": "Value_1"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c301fda5-0000-0700-0000-654ac50a0000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:15:22 GMT",
        "trace-id": "4eeabf3c-bda4-a8f7-c491-9d604d28202d"
      },
      "ResponseBody": {
        "id": "F69DF4174B5FD28D2BEB831389F687B4E14828E20580CDA528",
        "name": "DefaultQueue-Sdk-TestF69DF4174B5FD28D2BEB831389F687B4E14828E20580CDA528",
        "distributionPolicyId": "F7B4502789EBC4D505E0F1AA11D23D9AE9D4598E36549AB925",
        "labels": {
          "Label_1": "Value_1",
          "Id": "F69DF4174B5FD28D2BEB831389F687B4E14828E20580CDA528"
        },
        "etag": "\u0022c301fda5-0000-0700-0000-654ac50a0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/2CCA939632BBC96808AC12AA8D38F855C92426C9E1844B11F3?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:15:22 GMT"
      },
      "RequestBody": {
        "channelReference": "IncorrectValue",
        "channelId": "0F23F2372AB0266E27E561B4CDD724324E1E529C287B4EC25E",
        "queueId": "F69DF4174B5FD28D2BEB831389F687B4E14828E20580CDA528",
        "priority": 1,
        "matchingMode": {
          "scheduleAt": "2100-01-01T01:01:01.0000000Z",
          "kind": "schedule-and-suspend"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-c9b5-e06ae7dfdb08\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:15:22 GMT",
        "trace-id": "4d9ea156-77d6-b552-ded9-872d685170ad"
      },
      "ResponseBody": {
        "id": "2CCA939632BBC96808AC12AA8D38F855C92426C9E1844B11F3",
        "channelReference": "IncorrectValue",
        "status": "pendingSchedule",
        "channelId": "0F23F2372AB0266E27E561B4CDD724324E1E529C287B4EC25E",
        "queueId": "F69DF4174B5FD28D2BEB831389F687B4E14828E20580CDA528",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "schedule-and-suspend",
          "scheduleAt": "2100-01-01T01:01:01\u002B00:00"
        },
        "etag": "\u002200000000-0000-0000-c9b5-e06ae7dfdb08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/2CCA939632BBC96808AC12AA8D38F855C92426C9E1844B11F3:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:15:24 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "9a59106e-15da-da3e-b9d2-08f2bcbb1320"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/F69DF4174B5FD28D2BEB831389F687B4E14828E20580CDA528?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:15:29 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "96873ee3-3e50-fc66-17cd-08627ac03561"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-ZpUXjPbjAE6hT2gxAlQa-g-",
    "RandomSeed": "1323012320",
    "scheduled-time-utc": "2100-01-01T01:01:01.0000000\u002B00:00"
  }
}
