{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/F6A5722EF984BEF07E505139C9359D805D7864E59195A5A168?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:01:30 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyF6A5722EF984BEF07E505139C9359D805D7864E59195A5A168",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "longestIdle"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002202003581-0000-0700-0000-65c525090000\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 19:01:29 GMT",
        "trace-id": "ee09827e-d9ab-6786-b803-0ec60fce0fa3"
      },
      "ResponseBody": {
        "id": "F6A5722EF984BEF07E505139C9359D805D7864E59195A5A168",
        "name": "LongestIdleDistributionPolicyF6A5722EF984BEF07E505139C9359D805D7864E59195A5A168",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u002202003581-0000-0700-0000-65c525090000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/49286F32CA3C65B7BFC3FD76D4971570F9E510D7F91184D43E?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:01:30 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test49286F32CA3C65B7BFC3FD76D4971570F9E510D7F91184D43E",
        "distributionPolicyId": "F6A5722EF984BEF07E505139C9359D805D7864E59195A5A168",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ae006397-0000-0700-0000-65c525090000\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 19:01:29 GMT",
        "trace-id": "0b8eac97-ec63-52d7-5cf7-f00973e2ab85"
      },
      "ResponseBody": {
        "id": "49286F32CA3C65B7BFC3FD76D4971570F9E510D7F91184D43E",
        "name": "DefaultQueue-Sdk-Test49286F32CA3C65B7BFC3FD76D4971570F9E510D7F91184D43E",
        "distributionPolicyId": "F6A5722EF984BEF07E505139C9359D805D7864E59195A5A168",
        "labels": {
          "Label_1": "Value_1",
          "Id": "49286F32CA3C65B7BFC3FD76D4971570F9E510D7F91184D43E"
        },
        "etag": "\u0022ae006397-0000-0700-0000-65c525090000\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/FAC0AF3D398E43B4F98686B85414B439F22A5FDE40A467C25F?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:01:31 GMT"
      },
      "RequestBody": {
        "name": "JobQVsFallbackQ-ClassificationPolicy",
        "fallbackQueueId": "7CB2D165CBEC1D8F5EB63F97701403762A93A3487430C917E2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00226a0069d7-0000-0700-0000-65c5250a0000\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 19:01:30 GMT",
        "trace-id": "3b8afea2-084a-cba4-d761-49b58d070ce2"
      },
      "ResponseBody": {
        "id": "FAC0AF3D398E43B4F98686B85414B439F22A5FDE40A467C25F",
        "name": "JobQVsFallbackQ-ClassificationPolicy",
        "fallbackQueueId": "7CB2D165CBEC1D8F5EB63F97701403762A93A3487430C917E2",
        "queueSelectorAttachments": [],
        "workerSelectorAttachments": [],
        "etag": "\u00226a0069d7-0000-0700-0000-65c5250a0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/JobWCpAndQ?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:01:31 GMT"
      },
      "RequestBody": {
        "channelReference": "123",
        "channelId": "ChatChannel",
        "classificationPolicyId": "FAC0AF3D398E43B4F98686B85414B439F22A5FDE40A467C25F",
        "queueId": "49286F32CA3C65B7BFC3FD76D4971570F9E510D7F91184D43E"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-2a0f-235cd828dc08\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 19:01:30 GMT",
        "trace-id": "26fc241b-4f69-c2ec-2854-42ddc33ceaef"
      },
      "ResponseBody": {
        "id": "JobWCpAndQ",
        "channelReference": "123",
        "status": "pendingClassification",
        "channelId": "ChatChannel",
        "classificationPolicyId": "FAC0AF3D398E43B4F98686B85414B439F22A5FDE40A467C25F",
        "queueId": "49286F32CA3C65B7BFC3FD76D4971570F9E510D7F91184D43E",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "\u002200000000-0000-0000-2a0f-235cd828dc08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/JobWCpAndQ?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:01:32 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-f267-425cd828dc08\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 19:01:30 GMT",
        "trace-id": "091c00f2-4005-a8ff-34ac-a004515dbb13"
      },
      "ResponseBody": {
        "id": "JobWCpAndQ",
        "channelReference": "123",
        "status": "queued",
        "enqueuedAt": "2024-02-08T19:01:30.5670642\u002B00:00",
        "channelId": "ChatChannel",
        "classificationPolicyId": "FAC0AF3D398E43B4F98686B85414B439F22A5FDE40A467C25F",
        "queueId": "49286F32CA3C65B7BFC3FD76D4971570F9E510D7F91184D43E",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "\u002200000002-0000-0000-f267-425cd828dc08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/JobWCpAndQ:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:01:32 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "6ddfdfb9-99d3-e1ff-049b-b07971090cd5"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/49286F32CA3C65B7BFC3FD76D4971570F9E510D7F91184D43E?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:01:40 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "733488ff-a16d-f91d-b1db-b8a15a12e2c5"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-Gjt0a7cGtkyoRM6hL_rwdQ-",
    "RandomSeed": "512547897"
  }
}
