{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/2CB4832D9607EAFC63576053173751BDEE312DC12F0506035C?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:11:07 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy2CB4832D9607EAFC63576053173751BDEE312DC12F0506035C",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227b0083b1-0000-0700-0000-654ac40b0000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:11:07 GMT",
        "trace-id": "d759f4d4-e1dc-8a33-4506-1d72929746f8"
      },
      "ResponseBody": {
        "id": "2CB4832D9607EAFC63576053173751BDEE312DC12F0506035C",
        "name": "LongestIdleDistributionPolicy2CB4832D9607EAFC63576053173751BDEE312DC12F0506035C",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00227b0083b1-0000-0700-0000-654ac40b0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/184BE467870300509BA6C19A0169F4CCFBBF2278D7B63A8769?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:11:07 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test184BE467870300509BA6C19A0169F4CCFBBF2278D7B63A8769",
        "distributionPolicyId": "2CB4832D9607EAFC63576053173751BDEE312DC12F0506035C",
        "labels": {
          "Label_1": "Value_1"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c3011d92-0000-0700-0000-654ac40b0000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:11:07 GMT",
        "trace-id": "ae0bfb73-31fa-44b0-9331-909fcbe2ca46"
      },
      "ResponseBody": {
        "id": "184BE467870300509BA6C19A0169F4CCFBBF2278D7B63A8769",
        "name": "DefaultQueue-Sdk-Test184BE467870300509BA6C19A0169F4CCFBBF2278D7B63A8769",
        "distributionPolicyId": "2CB4832D9607EAFC63576053173751BDEE312DC12F0506035C",
        "labels": {
          "Label_1": "Value_1",
          "Id": "184BE467870300509BA6C19A0169F4CCFBBF2278D7B63A8769"
        },
        "etag": "\u0022c3011d92-0000-0700-0000-654ac40b0000\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/7D12900B4A9D6BD3EF41BBA0EAE8C4C0EEB58F3E05A53FB6D0?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:11:08 GMT"
      },
      "RequestBody": {
        "name": "JobQVsFallbackQ-ClassificationPolicy",
        "fallbackQueueId": "C18BE2B8F8325E7C07A0F55C8CCDD2DE942AD77D8FC54BF23B",
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220c00416b-0000-0700-0000-654ac40c0000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:11:08 GMT",
        "trace-id": "60d7948a-a91c-6f34-92bb-007e4d76bb78"
      },
      "ResponseBody": {
        "id": "7D12900B4A9D6BD3EF41BBA0EAE8C4C0EEB58F3E05A53FB6D0",
        "name": "JobQVsFallbackQ-ClassificationPolicy",
        "fallbackQueueId": "C18BE2B8F8325E7C07A0F55C8CCDD2DE942AD77D8FC54BF23B",
        "queueSelectorAttachments": [],
        "workerSelectorAttachments": [],
        "etag": "\u00220c00416b-0000-0700-0000-654ac40c0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/JobWCpAndQ?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:11:08 GMT"
      },
      "RequestBody": {
        "channelReference": "123",
        "channelId": "ChatChannel",
        "classificationPolicyId": "7D12900B4A9D6BD3EF41BBA0EAE8C4C0EEB58F3E05A53FB6D0",
        "queueId": "184BE467870300509BA6C19A0169F4CCFBBF2278D7B63A8769",
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-687b-30d3e6dfdb08\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:11:08 GMT",
        "trace-id": "c4f7635f-d4d2-94a1-6423-e742b5e32ce8"
      },
      "ResponseBody": {
        "id": "JobWCpAndQ",
        "channelReference": "123",
        "status": "pendingClassification",
        "channelId": "ChatChannel",
        "classificationPolicyId": "7D12900B4A9D6BD3EF41BBA0EAE8C4C0EEB58F3E05A53FB6D0",
        "queueId": "184BE467870300509BA6C19A0169F4CCFBBF2278D7B63A8769",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000000-0000-0000-687b-30d3e6dfdb08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/JobWCpAndQ?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:11:09 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-ce7b-53d3e6dfdb08\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:11:08 GMT",
        "trace-id": "c24585a3-7b14-0b6f-476c-93bd6e922e4d"
      },
      "ResponseBody": {
        "id": "JobWCpAndQ",
        "channelReference": "123",
        "status": "queued",
        "enqueuedAt": "2023-11-07T23:11:08.3993038\u002B00:00",
        "channelId": "ChatChannel",
        "classificationPolicyId": "7D12900B4A9D6BD3EF41BBA0EAE8C4C0EEB58F3E05A53FB6D0",
        "queueId": "184BE467870300509BA6C19A0169F4CCFBBF2278D7B63A8769",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000002-0000-0000-ce7b-53d3e6dfdb08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/JobWCpAndQ:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:11:09 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "860af1d7-6018-ed0b-b620-2f498a1ca3fc"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://rsarkar-ppe-test.ppe.communication.azure.net/routing/distributionPolicies/2CB4832D9607EAFC63576053173751BDEE312DC12F0506035C?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "HMAC-SHA256 SignedHeaders=x-ms-date;host;x-ms-content-sha256\u0026Signature=GJOyvG8/Am1VDVsodWE9YPtgz0Y4h28oShOm99Qwv1Q=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Tue, 07 Nov 2023 23:11:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "88aa6836-1e2b-c96f-226e-3abe1d09ce9e"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-yKDGPTFBqkeByl45NOGehg-",
    "RandomSeed": "1798974569"
  }
}
