{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/2831B7525447672F5E9A0CD8C39D4A8A6D60935911CF85E7E1?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:08:35 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy2831B7525447672F5E9A0CD8C39D4A8A6D60935911CF85E7E1",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "longestIdle"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220900cbd7-0000-0700-0000-65de79840000\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:08:36 GMT",
        "trace-id": "69825a36-1a0c-ab75-93b4-26e9933afd49"
      },
      "ResponseBody": {
        "id": "2831B7525447672F5E9A0CD8C39D4A8A6D60935911CF85E7E1",
        "name": "LongestIdleDistributionPolicy2831B7525447672F5E9A0CD8C39D4A8A6D60935911CF85E7E1",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00220900cbd7-0000-0700-0000-65de79840000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/C59D54145D0A3CA5D19466CF4ADA1C25A48B59FF21B3DE1AF2?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:08:35 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-TestC59D54145D0A3CA5D19466CF4ADA1C25A48B59FF21B3DE1AF2",
        "distributionPolicyId": "2831B7525447672F5E9A0CD8C39D4A8A6D60935911CF85E7E1",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022e5021df1-0000-0700-0000-65de79840000\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:08:36 GMT",
        "trace-id": "02b394bd-a416-75ad-5d39-3a849cd5ff11"
      },
      "ResponseBody": {
        "id": "C59D54145D0A3CA5D19466CF4ADA1C25A48B59FF21B3DE1AF2",
        "name": "DefaultQueue-Sdk-TestC59D54145D0A3CA5D19466CF4ADA1C25A48B59FF21B3DE1AF2",
        "distributionPolicyId": "2831B7525447672F5E9A0CD8C39D4A8A6D60935911CF85E7E1",
        "labels": {
          "Label_1": "Value_1",
          "Id": "C59D54145D0A3CA5D19466CF4ADA1C25A48B59FF21B3DE1AF2"
        },
        "etag": "\u0022e5021df1-0000-0700-0000-65de79840000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/82730672E9251A57EB0D4267A7DEF5535B6F9850EC81ADA7F5?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:08:35 GMT"
      },
      "RequestBody": {
        "channelReference": "IncorrectValue",
        "channelId": "0F23F2372AB0266E27E561B4CDD724324E1E529C287B4EC25E",
        "queueId": "C59D54145D0A3CA5D19466CF4ADA1C25A48B59FF21B3DE1AF2",
        "priority": 1,
        "matchingMode": {
          "scheduleAt": "2100-01-01T01:01:01.0000000Z",
          "kind": "scheduleAndSuspend"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-ad06-a768f137dc08\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:08:36 GMT",
        "trace-id": "04e89df3-ca37-fc15-a3b0-52ad85ffb0d3"
      },
      "ResponseBody": {
        "id": "82730672E9251A57EB0D4267A7DEF5535B6F9850EC81ADA7F5",
        "channelReference": "IncorrectValue",
        "status": "pendingSchedule",
        "channelId": "0F23F2372AB0266E27E561B4CDD724324E1E529C287B4EC25E",
        "queueId": "C59D54145D0A3CA5D19466CF4ADA1C25A48B59FF21B3DE1AF2",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "scheduleAndSuspend",
          "scheduleAt": "2100-01-01T01:01:01\u002B00:00"
        },
        "etag": "\u002200000000-0000-0000-ad06-a768f137dc08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/82730672E9251A57EB0D4267A7DEF5535B6F9850EC81ADA7F5:cancel?api-version=2024-01-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:08:37 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "cb91a07d-3c56-7426-7c40-993c45737b60"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/C59D54145D0A3CA5D19466CF4ADA1C25A48B59FF21B3DE1AF2?api-version=2024-01-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:08:42 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "trace-id": "4a82a74c-da42-df7e-6edb-2b92117d1ce0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-U1cNmclurUyOw-DPZ6GihQ-",
    "RandomSeed": "1678506372",
    "scheduled-time-utc": "2100-01-01T01:01:01.0000000\u002B00:00"
  }
}
