{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/0F92F240103A90669E72F68373077067D12FFB1BCEFC215C52?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 21:54:53 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy0F92F240103A90669E72F68373077067D12FFB1BCEFC215C52",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224a009f5d-0000-0700-0000-654177b10000\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 21:54:57 GMT",
        "trace-id": "569110dc-888c-5f36-4359-355f4c51477a"
      },
      "ResponseBody": {
        "id": "0F92F240103A90669E72F68373077067D12FFB1BCEFC215C52",
        "name": "LongestIdleDistributionPolicy0F92F240103A90669E72F68373077067D12FFB1BCEFC215C52",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00224a009f5d-0000-0700-0000-654177b10000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/CAAE59E53F3EA2C186105DFFB5320259CB04CAFF351B4060EF?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 21:54:54 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-TestCAAE59E53F3EA2C186105DFFB5320259CB04CAFF351B4060EF",
        "distributionPolicyId": "0F92F240103A90669E72F68373077067D12FFB1BCEFC215C52",
        "labels": {
          "Label_1": "Value_1"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220e01af3d-0000-0700-0000-654177b20000\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 21:54:58 GMT",
        "trace-id": "c1ee560a-a080-049c-2eac-ab4799fbe67a"
      },
      "ResponseBody": {
        "id": "CAAE59E53F3EA2C186105DFFB5320259CB04CAFF351B4060EF",
        "name": "DefaultQueue-Sdk-TestCAAE59E53F3EA2C186105DFFB5320259CB04CAFF351B4060EF",
        "distributionPolicyId": "0F92F240103A90669E72F68373077067D12FFB1BCEFC215C52",
        "labels": {
          "Label_1": "Value_1",
          "Id": "CAAE59E53F3EA2C186105DFFB5320259CB04CAFF351B4060EF"
        },
        "etag": "\u00220e01af3d-0000-0700-0000-654177b20000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/E7959EF13B9374E64B6B8D6DC0A172C9AF16CF0E12BF8F9BFB?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 21:54:54 GMT"
      },
      "RequestBody": {
        "name": "FallbackQueue-ClassificationPolicy",
        "fallbackQueueId": "CAAE59E53F3EA2C186105DFFB5320259CB04CAFF351B4060EF",
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022060039d8-0000-0700-0000-654177b20000\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 21:54:58 GMT",
        "trace-id": "5dd8447f-aefd-3696-ca55-f7606950c863"
      },
      "ResponseBody": {
        "id": "E7959EF13B9374E64B6B8D6DC0A172C9AF16CF0E12BF8F9BFB",
        "name": "FallbackQueue-ClassificationPolicy",
        "fallbackQueueId": "CAAE59E53F3EA2C186105DFFB5320259CB04CAFF351B4060EF",
        "queueSelectorAttachments": [],
        "workerSelectorAttachments": [],
        "etag": "\u0022060039d8-0000-0700-0000-654177b20000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/541E233A3763DBB9429CE960E377B37EBA49E73C9DD7F3CBB3?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 21:54:54 GMT"
      },
      "RequestBody": {
        "channelReference": "123",
        "channelId": "CP_FallbackQueue",
        "classificationPolicyId": "E7959EF13B9374E64B6B8D6DC0A172C9AF16CF0E12BF8F9BFB",
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-9cdb-9d065cdadb08\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 21:54:58 GMT",
        "trace-id": "55346609-ec83-50da-af21-449ee6cf2310"
      },
      "ResponseBody": {
        "id": "541E233A3763DBB9429CE960E377B37EBA49E73C9DD7F3CBB3",
        "channelReference": "123",
        "status": "pendingClassification",
        "channelId": "CP_FallbackQueue",
        "classificationPolicyId": "E7959EF13B9374E64B6B8D6DC0A172C9AF16CF0E12BF8F9BFB",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000000-0000-0000-9cdb-9d065cdadb08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/541E233A3763DBB9429CE960E377B37EBA49E73C9DD7F3CBB3?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 21:54:55 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-9920-c5065cdadb08\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 21:54:58 GMT",
        "trace-id": "390f3f7b-ae0f-38d3-23ed-0831faf47280"
      },
      "ResponseBody": {
        "id": "541E233A3763DBB9429CE960E377B37EBA49E73C9DD7F3CBB3",
        "channelReference": "123",
        "status": "queued",
        "enqueuedAt": "2023-10-31T21:54:58.8485785\u002B00:00",
        "channelId": "CP_FallbackQueue",
        "classificationPolicyId": "E7959EF13B9374E64B6B8D6DC0A172C9AF16CF0E12BF8F9BFB",
        "queueId": "CAAE59E53F3EA2C186105DFFB5320259CB04CAFF351B4060EF",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000002-0000-0000-9920-c5065cdadb08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/541E233A3763DBB9429CE960E377B37EBA49E73C9DD7F3CBB3:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 21:54:55 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "383b8513-bd9a-0a96-3be9-eccb7c4ad46e"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/CAAE59E53F3EA2C186105DFFB5320259CB04CAFF351B4060EF?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 21:55:02 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "d64443e9-241e-d0c8-b5d1-e3a35f9f8e63"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-XSZebh9ZwUGq-Xp7QrhRiA-",
    "RandomSeed": "787989506"
  }
}
