{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/89DBF97C943F0B6EB4A0171A6A497FA7B1E812D776BEEF3779?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 17:03:28 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy89DBF97C943F0B6EB4A0171A6A497FA7B1E812D776BEEF3779",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227900e8e8-0000-0700-0000-654a6ddf0000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 17:03:27 GMT",
        "trace-id": "8b3fac1a-6ffa-3e0b-dfb6-8fb4d491baba"
      },
      "ResponseBody": {
        "id": "89DBF97C943F0B6EB4A0171A6A497FA7B1E812D776BEEF3779",
        "name": "LongestIdleDistributionPolicy89DBF97C943F0B6EB4A0171A6A497FA7B1E812D776BEEF3779",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00227900e8e8-0000-0700-0000-654a6ddf0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/200532DC087B004E59E4F9037E0038AD27137E3010665E9888?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 17:03:28 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test200532DC087B004E59E4F9037E0038AD27137E3010665E9888",
        "distributionPolicyId": "89DBF97C943F0B6EB4A0171A6A497FA7B1E812D776BEEF3779",
        "labels": {
          "Label_1": "Value_1"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022bd01340a-0000-0700-0000-654a6ddf0000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 17:03:27 GMT",
        "trace-id": "39b23204-dbb6-c7d3-324b-764cdc5a9279"
      },
      "ResponseBody": {
        "id": "200532DC087B004E59E4F9037E0038AD27137E3010665E9888",
        "name": "DefaultQueue-Sdk-Test200532DC087B004E59E4F9037E0038AD27137E3010665E9888",
        "distributionPolicyId": "89DBF97C943F0B6EB4A0171A6A497FA7B1E812D776BEEF3779",
        "labels": {
          "Label_1": "Value_1",
          "Id": "200532DC087B004E59E4F9037E0038AD27137E3010665E9888"
        },
        "etag": "\u0022bd01340a-0000-0700-0000-654a6ddf0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/F4DCAA8C01C8D07A468CA8F0C87B948619DACB6510F89B67A3?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 17:03:28 GMT"
      },
      "RequestBody": {
        "name": "StaticQueueSelector-ClassificationPolicy",
        "queueSelectorAttachments": [
          {
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "200532DC087B004E59E4F9037E0038AD27137E3010665E9888"
            },
            "kind": "static"
          }
        ],
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220c00a531-0000-0700-0000-654a6de00000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 17:03:28 GMT",
        "trace-id": "39624e26-c99c-5bb9-013f-a9dc4fdeb7dd"
      },
      "ResponseBody": {
        "id": "F4DCAA8C01C8D07A468CA8F0C87B948619DACB6510F89B67A3",
        "name": "StaticQueueSelector-ClassificationPolicy",
        "queueSelectorAttachments": [
          {
            "kind": "static",
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "200532DC087B004E59E4F9037E0038AD27137E3010665E9888"
            }
          }
        ],
        "workerSelectorAttachments": [],
        "etag": "\u00220c00a531-0000-0700-0000-654a6de00000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/07CA4CC93B0968A900D603B3EC7B797598ADDCD5567D878937?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 17:03:29 GMT"
      },
      "RequestBody": {
        "channelReference": "123",
        "channelId": "11EA677C2C9C730ED9E5AECBF84DB01B65EFFB853F258495A8",
        "classificationPolicyId": "F4DCAA8C01C8D07A468CA8F0C87B948619DACB6510F89B67A3",
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-c6c0-7576b3dfdb08\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 17:03:28 GMT",
        "trace-id": "ea0a72f5-c504-9465-65a1-4925594405ba"
      },
      "ResponseBody": {
        "id": "07CA4CC93B0968A900D603B3EC7B797598ADDCD5567D878937",
        "channelReference": "123",
        "status": "pendingClassification",
        "channelId": "11EA677C2C9C730ED9E5AECBF84DB01B65EFFB853F258495A8",
        "classificationPolicyId": "F4DCAA8C01C8D07A468CA8F0C87B948619DACB6510F89B67A3",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000000-0000-0000-c6c0-7576b3dfdb08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/07CA4CC93B0968A900D603B3EC7B797598ADDCD5567D878937?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 17:03:30 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-9338-1977b3dfdb08\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 17:03:29 GMT",
        "trace-id": "9cec84bd-ac0b-7f8c-db58-2cc376ecba29"
      },
      "ResponseBody": {
        "id": "07CA4CC93B0968A900D603B3EC7B797598ADDCD5567D878937",
        "channelReference": "123",
        "status": "queued",
        "enqueuedAt": "2023-11-07T17:03:29.3338771\u002B00:00",
        "channelId": "11EA677C2C9C730ED9E5AECBF84DB01B65EFFB853F258495A8",
        "classificationPolicyId": "F4DCAA8C01C8D07A468CA8F0C87B948619DACB6510F89B67A3",
        "queueId": "200532DC087B004E59E4F9037E0038AD27137E3010665E9888",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000002-0000-0000-9338-1977b3dfdb08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/07CA4CC93B0968A900D603B3EC7B797598ADDCD5567D878937:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 17:03:35 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "393c5abf-c089-f022-cf6a-2447f1fa7adf"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/200532DC087B004E59E4F9037E0038AD27137E3010665E9888?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 17:03:42 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "50f32168-46b7-2739-00f9-5c877d812be9"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-Tn_9y3G7Y0qX3-EowfdH2A-",
    "RandomSeed": "1363921677"
  }
}
