{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/FE75A15ABDA1DAB3C1F36E6F6FA370317EACE826509EDF7DC3?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:12:51 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyFE75A15ABDA1DAB3C1F36E6F6FA370317EACE826509EDF7DC3",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002242006535-0000-0700-0000-653ff2220000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:12:50 GMT",
        "trace-id": "e4583429-32bd-9e4e-7bff-8933955c53c0"
      },
      "ResponseBody": {
        "id": "FE75A15ABDA1DAB3C1F36E6F6FA370317EACE826509EDF7DC3",
        "name": "LongestIdleDistributionPolicyFE75A15ABDA1DAB3C1F36E6F6FA370317EACE826509EDF7DC3",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u002242006535-0000-0700-0000-653ff2220000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/FA145A738B735C9252A3DF3B093F0615AE51121CDC151CCCF3?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:12:51 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-TestFA145A738B735C9252A3DF3B093F0615AE51121CDC151CCCF3",
        "distributionPolicyId": "FE75A15ABDA1DAB3C1F36E6F6FA370317EACE826509EDF7DC3",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022f000875c-0000-0700-0000-653ff2220000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:12:50 GMT",
        "trace-id": "c8f1b2a1-27af-2732-81fe-ab5eb91e7d0e"
      },
      "ResponseBody": {
        "id": "FA145A738B735C9252A3DF3B093F0615AE51121CDC151CCCF3",
        "name": "DefaultQueue-Sdk-TestFA145A738B735C9252A3DF3B093F0615AE51121CDC151CCCF3",
        "distributionPolicyId": "FE75A15ABDA1DAB3C1F36E6F6FA370317EACE826509EDF7DC3",
        "labels": {
          "Label_1": "Value_1",
          "Id": "FA145A738B735C9252A3DF3B093F0615AE51121CDC151CCCF3"
        },
        "etag": "\u0022f000875c-0000-0700-0000-653ff2220000\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/B40D77DFB95C1500630B812F70849B77D09C4CE2B975648A26?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:12:52 GMT"
      },
      "RequestBody": {
        "name": "JobQVsFallbackQ-ClassificationPolicy",
        "fallbackQueueId": "3AEE47B0132206AE4527BE53E688FCD1766AEBFCDA43675C7E"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002206007605-0000-0700-0000-653ff2230000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:12:51 GMT",
        "trace-id": "b67df1a0-573e-d4d5-e9ed-e530dbf52531"
      },
      "ResponseBody": {
        "id": "B40D77DFB95C1500630B812F70849B77D09C4CE2B975648A26",
        "name": "JobQVsFallbackQ-ClassificationPolicy",
        "fallbackQueueId": "3AEE47B0132206AE4527BE53E688FCD1766AEBFCDA43675C7E",
        "queueSelectorAttachments": [],
        "workerSelectorAttachments": [],
        "etag": "\u002206007605-0000-0700-0000-653ff2230000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/JobWCpAndQ?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:12:53 GMT"
      },
      "RequestBody": {
        "channelReference": "123",
        "channelId": "ChatChannel",
        "classificationPolicyId": "B40D77DFB95C1500630B812F70849B77D09C4CE2B975648A26",
        "queueId": "FA145A738B735C9252A3DF3B093F0615AE51121CDC151CCCF3"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-e15a-e6d473d9db08\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:12:51 GMT",
        "trace-id": "fde41908-8b2b-f8bf-de3c-2c87b7e55977"
      },
      "ResponseBody": {
        "id": "JobWCpAndQ",
        "channelReference": "123",
        "status": "pendingClassification",
        "channelId": "ChatChannel",
        "classificationPolicyId": "B40D77DFB95C1500630B812F70849B77D09C4CE2B975648A26",
        "queueId": "FA145A738B735C9252A3DF3B093F0615AE51121CDC151CCCF3",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000000-0000-0000-e15a-e6d473d9db08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/JobWCpAndQ?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:12:54 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-1fa9-0ad573d9db08\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:12:52 GMT",
        "trace-id": "3e2869f6-58f2-9c03-27cb-609f1ba91a2e"
      },
      "ResponseBody": {
        "id": "JobWCpAndQ",
        "channelReference": "123",
        "status": "queued",
        "enqueuedAt": "2023-10-30T18:12:52.1769247\u002B00:00",
        "channelId": "ChatChannel",
        "classificationPolicyId": "B40D77DFB95C1500630B812F70849B77D09C4CE2B975648A26",
        "queueId": "FA145A738B735C9252A3DF3B093F0615AE51121CDC151CCCF3",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000002-0000-0000-1fa9-0ad573d9db08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/JobWCpAndQ:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:12:54 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "c9823599-c6c3-fc46-90d1-9c59a1b4cc01"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://williamzhao-test.unitedstates.ppe.communication.azure.net/routing/classificationPolicies/B40D77DFB95C1500630B812F70849B77D09C4CE2B975648A26?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "HMAC-SHA256 SignedHeaders=x-ms-date;host;x-ms-content-sha256\u0026Signature=h4K2YbBCVGMf\u002BkilGEWhBCZE10enSV67j5MGW2BpZvQ=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Mon, 30 Oct 2023 18:12:57 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "7c8f7c57-9e79-30dd-7a5f-0977a19f51a3"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-mZ4aOCbGqUCciwxEuYV3sw-",
    "RandomSeed": "36725194"
  }
}
