{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/9EF987FA6DA93C948427B0CA03C0AD427C5403EDEC02C6D937?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:14:17 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy9EF987FA6DA93C948427B0CA03C0AD427C5403EDEC02C6D937",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227b00b6b5-0000-0700-0000-654ac4c90000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:14:17 GMT",
        "trace-id": "12b231c5-aa84-86ac-893c-7d5601460a1c"
      },
      "ResponseBody": {
        "id": "9EF987FA6DA93C948427B0CA03C0AD427C5403EDEC02C6D937",
        "name": "LongestIdleDistributionPolicy9EF987FA6DA93C948427B0CA03C0AD427C5403EDEC02C6D937",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00227b00b6b5-0000-0700-0000-654ac4c90000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/069259BEBBDDAC3DB261F4EC104C931144EA57A4B604E17331?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:14:17 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test069259BEBBDDAC3DB261F4EC104C931144EA57A4B604E17331",
        "distributionPolicyId": "9EF987FA6DA93C948427B0CA03C0AD427C5403EDEC02C6D937",
        "labels": {
          "Label_1": "Value_1"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c3012aa1-0000-0700-0000-654ac4c90000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:14:17 GMT",
        "trace-id": "f137b76f-be6f-705e-027d-05c547b4a7ae"
      },
      "ResponseBody": {
        "id": "069259BEBBDDAC3DB261F4EC104C931144EA57A4B604E17331",
        "name": "DefaultQueue-Sdk-Test069259BEBBDDAC3DB261F4EC104C931144EA57A4B604E17331",
        "distributionPolicyId": "9EF987FA6DA93C948427B0CA03C0AD427C5403EDEC02C6D937",
        "labels": {
          "Label_1": "Value_1",
          "Id": "069259BEBBDDAC3DB261F4EC104C931144EA57A4B604E17331"
        },
        "etag": "\u0022c3012aa1-0000-0700-0000-654ac4c90000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/11E83AE63D81A0937CEEA7B89D80875EFBA20470A11938BB5F?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:14:18 GMT"
      },
      "RequestBody": {
        "name": "StaticPriority-ClassificationPolicy",
        "prioritizationRule": {
          "value": 10,
          "kind": "static-rule"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220c00be6b-0000-0700-0000-654ac4c90000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:14:17 GMT",
        "trace-id": "fce9b0d9-3fa5-cfa9-4c7a-1b8bd2a02bb1"
      },
      "ResponseBody": {
        "id": "11E83AE63D81A0937CEEA7B89D80875EFBA20470A11938BB5F",
        "name": "StaticPriority-ClassificationPolicy",
        "queueSelectorAttachments": [],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 10
        },
        "workerSelectorAttachments": [],
        "etag": "\u00220c00be6b-0000-0700-0000-654ac4c90000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/CBA66770224A3E8CCE3B8F8D5A3D03870D3300A41FD6FC7B2F?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:14:18 GMT"
      },
      "RequestBody": {
        "channelReference": "123",
        "channelId": "EA009BDED2E0DD772BA7DDB18A7F7EF8A50B773A674DDD9136",
        "classificationPolicyId": "11E83AE63D81A0937CEEA7B89D80875EFBA20470A11938BB5F",
        "queueId": "069259BEBBDDAC3DB261F4EC104C931144EA57A4B604E17331",
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-62ce-5e44e7dfdb08\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:14:18 GMT",
        "trace-id": "db978c3c-bfa6-d3a0-419b-4f89e459387d"
      },
      "ResponseBody": {
        "id": "CBA66770224A3E8CCE3B8F8D5A3D03870D3300A41FD6FC7B2F",
        "channelReference": "123",
        "status": "pendingClassification",
        "channelId": "EA009BDED2E0DD772BA7DDB18A7F7EF8A50B773A674DDD9136",
        "classificationPolicyId": "11E83AE63D81A0937CEEA7B89D80875EFBA20470A11938BB5F",
        "queueId": "069259BEBBDDAC3DB261F4EC104C931144EA57A4B604E17331",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000000-0000-0000-62ce-5e44e7dfdb08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/CBA66770224A3E8CCE3B8F8D5A3D03870D3300A41FD6FC7B2F?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:14:19 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-10d0-8144e7dfdb08\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:14:18 GMT",
        "trace-id": "bdcb669e-0a75-1739-66ea-d81c63b7d95a"
      },
      "ResponseBody": {
        "id": "CBA66770224A3E8CCE3B8F8D5A3D03870D3300A41FD6FC7B2F",
        "channelReference": "123",
        "status": "queued",
        "enqueuedAt": "2023-11-07T23:14:18.2854672\u002B00:00",
        "channelId": "EA009BDED2E0DD772BA7DDB18A7F7EF8A50B773A674DDD9136",
        "classificationPolicyId": "11E83AE63D81A0937CEEA7B89D80875EFBA20470A11938BB5F",
        "queueId": "069259BEBBDDAC3DB261F4EC104C931144EA57A4B604E17331",
        "priority": 10,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000002-0000-0000-10d0-8144e7dfdb08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/CBA66770224A3E8CCE3B8F8D5A3D03870D3300A41FD6FC7B2F:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:14:24 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "0a701817-a162-b761-57e8-caac16c11664"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/069259BEBBDDAC3DB261F4EC104C931144EA57A4B604E17331?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:14:30 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "a5a20ecc-c8ec-3561-3462-20b7420635b9"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-_T98TxmObUO3jSTve0BqUg-",
    "RandomSeed": "1178871097"
  }
}
