{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/B23FE3D7CFBB8E2D8B091F77310289DC55E62F75078BFE68FC?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 22:00:56 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyB23FE3D7CFBB8E2D8B091F77310289DC55E62F75078BFE68FC",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224a00fd64-0000-0700-0000-6541791c0000\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 22:01:00 GMT",
        "trace-id": "037f6722-b44a-7690-8cdd-897e6d5ed84d"
      },
      "ResponseBody": {
        "id": "B23FE3D7CFBB8E2D8B091F77310289DC55E62F75078BFE68FC",
        "name": "LongestIdleDistributionPolicyB23FE3D7CFBB8E2D8B091F77310289DC55E62F75078BFE68FC",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00224a00fd64-0000-0700-0000-6541791c0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/027D42B00FEDF4F195E543513282E1B7CCAFD5A411BC895B6A?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 22:00:56 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test027D42B00FEDF4F195E543513282E1B7CCAFD5A411BC895B6A",
        "distributionPolicyId": "B23FE3D7CFBB8E2D8B091F77310289DC55E62F75078BFE68FC",
        "labels": {
          "Label_1": "Value_1"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220e01325a-0000-0700-0000-6541791c0000\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 22:01:00 GMT",
        "trace-id": "5cb397da-2e8e-52e9-4610-f6e2a9aabb8d"
      },
      "ResponseBody": {
        "id": "027D42B00FEDF4F195E543513282E1B7CCAFD5A411BC895B6A",
        "name": "DefaultQueue-Sdk-Test027D42B00FEDF4F195E543513282E1B7CCAFD5A411BC895B6A",
        "distributionPolicyId": "B23FE3D7CFBB8E2D8B091F77310289DC55E62F75078BFE68FC",
        "labels": {
          "Label_1": "Value_1",
          "Id": "027D42B00FEDF4F195E543513282E1B7CCAFD5A411BC895B6A"
        },
        "etag": "\u00220e01325a-0000-0700-0000-6541791c0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/BE49D8666932B9EA073A0218D1BCEAAA3A5BAAED232EF10E29?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 22:00:56 GMT"
      },
      "RequestBody": {
        "channelReference": "IncorrectValue",
        "channelId": "60EC89B7474A94AF0BDB2377B37DF4A147FF2AE1D0D5EE90CB",
        "queueId": "027D42B00FEDF4F195E543513282E1B7CCAFD5A411BC895B6A",
        "priority": 1,
        "matchingMode": {
          "kind": "suspend"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-9762-6fde5cdadb08\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 22:01:00 GMT",
        "trace-id": "e379717c-404e-0ca0-9a97-62b460cefa40"
      },
      "ResponseBody": {
        "id": "BE49D8666932B9EA073A0218D1BCEAAA3A5BAAED232EF10E29",
        "channelReference": "IncorrectValue",
        "status": "waitingForActivation",
        "channelId": "60EC89B7474A94AF0BDB2377B37DF4A147FF2AE1D0D5EE90CB",
        "queueId": "027D42B00FEDF4F195E543513282E1B7CCAFD5A411BC895B6A",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "suspend"
        },
        "etag": "\u002200000000-0000-0000-9762-6fde5cdadb08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/BE49D8666932B9EA073A0218D1BCEAAA3A5BAAED232EF10E29:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 22:00:59 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "be4aaa53-573b-46e8-3ed8-93f5de59e913"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/027D42B00FEDF4F195E543513282E1B7CCAFD5A411BC895B6A?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 22:01:04 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "b104d6db-76b0-db53-41b7-16b996e1230a"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-HqRFuprsGE-tp3iXwqQJPg-",
    "RandomSeed": "313658946"
  }
}
