{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/7C18E8C349080D370604E1DB69BF6ED97BC8111A26B72DC80B?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:00:16 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy7C18E8C349080D370604E1DB69BF6ED97BC8111A26B72DC80B",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002242006525-0000-0700-0000-653fef300000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:00:16 GMT",
        "trace-id": "aa71fa64-2fec-4849-8ce6-27e960acead7"
      },
      "ResponseBody": {
        "id": "7C18E8C349080D370604E1DB69BF6ED97BC8111A26B72DC80B",
        "name": "LongestIdleDistributionPolicy7C18E8C349080D370604E1DB69BF6ED97BC8111A26B72DC80B",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u002242006525-0000-0700-0000-653fef300000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/BD35979315374EE0F4CA86F99E3C69A60A411F93A067CA1915?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:00:17 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-TestBD35979315374EE0F4CA86F99E3C69A60A411F93A067CA1915",
        "distributionPolicyId": "7C18E8C349080D370604E1DB69BF6ED97BC8111A26B72DC80B",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022f0004422-0000-0700-0000-653fef300000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:00:16 GMT",
        "trace-id": "a62b9d1b-fd84-b5d7-94a0-c48cea1cc723"
      },
      "ResponseBody": {
        "id": "BD35979315374EE0F4CA86F99E3C69A60A411F93A067CA1915",
        "name": "DefaultQueue-Sdk-TestBD35979315374EE0F4CA86F99E3C69A60A411F93A067CA1915",
        "distributionPolicyId": "7C18E8C349080D370604E1DB69BF6ED97BC8111A26B72DC80B",
        "labels": {
          "Label_1": "Value_1",
          "Id": "BD35979315374EE0F4CA86F99E3C69A60A411F93A067CA1915"
        },
        "etag": "\u0022f0004422-0000-0700-0000-653fef300000\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/663BF633F467133E26EC09F3FA0F2D0BED9BCFE3BAE88639FB?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:00:18 GMT"
      },
      "RequestBody": {
        "name": "JobQVsFallbackQ-ClassificationPolicy",
        "fallbackQueueId": "03E05C451C5729BB50FA544A2531CD621BE5248AF635E10694"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002206008802-0000-0700-0000-653fef300000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:00:16 GMT",
        "trace-id": "239d73be-1402-c9b1-2491-06888de8f34f"
      },
      "ResponseBody": {
        "id": "663BF633F467133E26EC09F3FA0F2D0BED9BCFE3BAE88639FB",
        "name": "JobQVsFallbackQ-ClassificationPolicy",
        "fallbackQueueId": "03E05C451C5729BB50FA544A2531CD621BE5248AF635E10694",
        "queueSelectorAttachments": [],
        "workerSelectorAttachments": [],
        "etag": "\u002206008802-0000-0700-0000-653fef300000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/JobWCpAndQ?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:00:18 GMT"
      },
      "RequestBody": {
        "channelReference": "123",
        "channelId": "ChatChannel",
        "classificationPolicyId": "663BF633F467133E26EC09F3FA0F2D0BED9BCFE3BAE88639FB",
        "queueId": "BD35979315374EE0F4CA86F99E3C69A60A411F93A067CA1915"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000005-0000-0000-fffb-081372d9db08\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:00:17 GMT",
        "trace-id": "cfabe234-9b77-b9d6-2ae5-3cd9ce4ad114"
      },
      "ResponseBody": {
        "id": "JobWCpAndQ",
        "channelReference": "123",
        "status": "pendingClassification",
        "enqueuedAt": "2023-10-30T17:58:28.6975021\u002B00:00",
        "channelId": "ChatChannel",
        "classificationPolicyId": "663BF633F467133E26EC09F3FA0F2D0BED9BCFE3BAE88639FB",
        "queueId": "BD35979315374EE0F4CA86F99E3C69A60A411F93A067CA1915",
        "priority": 1,
        "dispositionCode": "Cancelled",
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000005-0000-0000-fffb-081372d9db08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/JobWCpAndQ:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:00:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "7cefa0e3-4841-6f7d-25b9-aaf4c5d70798"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/663BF633F467133E26EC09F3FA0F2D0BED9BCFE3BAE88639FB?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:00:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "d2bce6d4-b62a-d7b5-7046-fbee34ce16de"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-2tfHnjj9IEqXcqa0-Z1VLA-",
    "RandomSeed": "1902377982"
  }
}
