{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/CB87FE92A8C31B8CACFF48A2CA7A230406F5FF8177AE161FBC?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:35:55 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyCB87FE92A8C31B8CACFF48A2CA7A230406F5FF8177AE161FBC",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022a4007690-0000-0700-0000-65525e7a0000\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:35:54 GMT",
        "trace-id": "6f11f3b2-655c-3bcc-33fe-cc70f076bb3c"
      },
      "ResponseBody": {
        "id": "CB87FE92A8C31B8CACFF48A2CA7A230406F5FF8177AE161FBC",
        "name": "LongestIdleDistributionPolicyCB87FE92A8C31B8CACFF48A2CA7A230406F5FF8177AE161FBC",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u0022a4007690-0000-0700-0000-65525e7a0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/8EB3A2663A4C8F925075DF398FBDCFCEB0BCB69905239843EF?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:35:55 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test8EB3A2663A4C8F925075DF398FBDCFCEB0BCB69905239843EF",
        "distributionPolicyId": "CB87FE92A8C31B8CACFF48A2CA7A230406F5FF8177AE161FBC",
        "labels": {
          "Label_1": "Value_1"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225902f443-0000-0700-0000-65525e7a0000\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:35:54 GMT",
        "trace-id": "aac10318-8a23-ca00-9f64-6e70587e4880"
      },
      "ResponseBody": {
        "id": "8EB3A2663A4C8F925075DF398FBDCFCEB0BCB69905239843EF",
        "name": "DefaultQueue-Sdk-Test8EB3A2663A4C8F925075DF398FBDCFCEB0BCB69905239843EF",
        "distributionPolicyId": "CB87FE92A8C31B8CACFF48A2CA7A230406F5FF8177AE161FBC",
        "labels": {
          "Label_1": "Value_1",
          "Id": "8EB3A2663A4C8F925075DF398FBDCFCEB0BCB69905239843EF"
        },
        "etag": "\u00225902f443-0000-0700-0000-65525e7a0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/0FF723A724597D28210E55D30BE18D0EF907C1544873949CF6?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:35:55 GMT"
      },
      "RequestBody": {
        "channelReference": "IncorrectValue",
        "channelId": "0F23F2372AB0266E27E561B4CDD724324E1E529C287B4EC25E",
        "queueId": "8EB3A2663A4C8F925075DF398FBDCFCEB0BCB69905239843EF",
        "priority": 1,
        "matchingMode": {
          "scheduleAt": "2100-01-01T01:01:01.0000000Z",
          "kind": "scheduleAndSuspend"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-b5e6-04fd6ee4db08\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:35:54 GMT",
        "trace-id": "c4e02c5f-fd74-6cfc-084a-d02fc5d265b5"
      },
      "ResponseBody": {
        "id": "0FF723A724597D28210E55D30BE18D0EF907C1544873949CF6",
        "channelReference": "IncorrectValue",
        "status": "pendingSchedule",
        "channelId": "0F23F2372AB0266E27E561B4CDD724324E1E529C287B4EC25E",
        "queueId": "8EB3A2663A4C8F925075DF398FBDCFCEB0BCB69905239843EF",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "scheduleAndSuspend",
          "scheduleAt": "2100-01-01T01:01:01\u002B00:00"
        },
        "etag": "\u002200000000-0000-0000-b5e6-04fd6ee4db08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/0FF723A724597D28210E55D30BE18D0EF907C1544873949CF6:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:35:57 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "68b63311-b98f-6f7b-d6e8-292246299e8b"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/8EB3A2663A4C8F925075DF398FBDCFCEB0BCB69905239843EF?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:36:02 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "3df5a42f-862c-8e79-f745-deea65059ccd"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-ngiuFAkHJECFoFI3pk2KlA-",
    "RandomSeed": "1971750356",
    "scheduled-time-utc": "2100-01-01T01:01:01.0000000\u002B00:00"
  }
}
