{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/290BE7B30BCEF59461267910AAA1ED894F84E2C5631AC3D493?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 19:06:05 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy290BE7B30BCEF59461267910AAA1ED894F84E2C5631AC3D493",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224200cd77-0000-0700-0000-653ffe9c0000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 19:06:04 GMT",
        "trace-id": "61282221-802e-a5e3-8234-27056ecc80be"
      },
      "ResponseBody": {
        "id": "290BE7B30BCEF59461267910AAA1ED894F84E2C5631AC3D493",
        "name": "LongestIdleDistributionPolicy290BE7B30BCEF59461267910AAA1ED894F84E2C5631AC3D493",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00224200cd77-0000-0700-0000-653ffe9c0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/397103E18E7B6CB62A30DED79C612850351D5C2ED65252F99E?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 19:06:06 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test397103E18E7B6CB62A30DED79C612850351D5C2ED65252F99E",
        "distributionPolicyId": "290BE7B30BCEF59461267910AAA1ED894F84E2C5631AC3D493",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022f100b44f-0000-0700-0000-653ffe9c0000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 19:06:04 GMT",
        "trace-id": "214b92c5-5b9d-47c1-ea80-c04c51e407a1"
      },
      "ResponseBody": {
        "id": "397103E18E7B6CB62A30DED79C612850351D5C2ED65252F99E",
        "name": "DefaultQueue-Sdk-Test397103E18E7B6CB62A30DED79C612850351D5C2ED65252F99E",
        "distributionPolicyId": "290BE7B30BCEF59461267910AAA1ED894F84E2C5631AC3D493",
        "labels": {
          "Label_1": "Value_1",
          "Id": "397103E18E7B6CB62A30DED79C612850351D5C2ED65252F99E"
        },
        "etag": "\u0022f100b44f-0000-0700-0000-653ffe9c0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/13AE47ABCD59BFDD7B6848D1E4B193100E1294527FF9951EBE?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 19:06:06 GMT"
      },
      "RequestBody": {
        "channelReference": "IncorrectValue",
        "channelId": "96C233E8A0A70FD8D49CDE691A3D85FD6302A2F705F67CFBC9",
        "queueId": "397103E18E7B6CB62A30DED79C612850351D5C2ED65252F99E",
        "priority": 1,
        "matchingMode": {
          "kind": "queue-and-match"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-785a-e0437bd9db08\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 19:06:04 GMT",
        "trace-id": "ca40c818-bcda-e216-d9dc-9d2fd10e8876"
      },
      "ResponseBody": {
        "id": "13AE47ABCD59BFDD7B6848D1E4B193100E1294527FF9951EBE",
        "channelReference": "IncorrectValue",
        "status": "created",
        "channelId": "96C233E8A0A70FD8D49CDE691A3D85FD6302A2F705F67CFBC9",
        "queueId": "397103E18E7B6CB62A30DED79C612850351D5C2ED65252F99E",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000000-0000-0000-785a-e0437bd9db08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/13AE47ABCD59BFDD7B6848D1E4B193100E1294527FF9951EBE?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 19:06:06 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-7c91-f1437bd9db08\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 19:06:04 GMT",
        "trace-id": "8e529b55-1477-384e-08af-ffc0ada6b7d7"
      },
      "ResponseBody": {
        "id": "13AE47ABCD59BFDD7B6848D1E4B193100E1294527FF9951EBE",
        "channelReference": "IncorrectValue",
        "status": "queued",
        "enqueuedAt": "2023-10-30T19:06:04.7166844\u002B00:00",
        "channelId": "96C233E8A0A70FD8D49CDE691A3D85FD6302A2F705F67CFBC9",
        "queueId": "397103E18E7B6CB62A30DED79C612850351D5C2ED65252F99E",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000001-0000-0000-7c91-f1437bd9db08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/13AE47ABCD59BFDD7B6848D1E4B193100E1294527FF9951EBE:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 19:06:09 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "b511ae25-49e1-e178-0e20-2870d9042f4f"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/397103E18E7B6CB62A30DED79C612850351D5C2ED65252F99E?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 19:06:14 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "c9a74c2e-2bb1-662c-cffa-d8a8f6d6bed8"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-atBmLXk6pk-x91uFLyIAfQ-",
    "RandomSeed": "1246125155"
  }
}
