{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/DDE19B2C1954811FBA59E43E6B8777F9CCFA0956F39D5E03F7?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 17:03:03 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyDDE19B2C1954811FBA59E43E6B8777F9CCFA0956F39D5E03F7",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022790072e8-0000-0700-0000-654a6dc70000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 17:03:03 GMT",
        "trace-id": "c311ae29-44b8-ff49-2c7b-df8d6a615eb4"
      },
      "ResponseBody": {
        "id": "DDE19B2C1954811FBA59E43E6B8777F9CCFA0956F39D5E03F7",
        "name": "LongestIdleDistributionPolicyDDE19B2C1954811FBA59E43E6B8777F9CCFA0956F39D5E03F7",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u0022790072e8-0000-0700-0000-654a6dc70000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/2033289048EB6DC0B1459474DF33568890427DCD5FC49D94E9?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 17:03:04 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test2033289048EB6DC0B1459474DF33568890427DCD5FC49D94E9",
        "distributionPolicyId": "DDE19B2C1954811FBA59E43E6B8777F9CCFA0956F39D5E03F7",
        "labels": {
          "Label_1": "Value_1"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022bd016208-0000-0700-0000-654a6dc70000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 17:03:03 GMT",
        "trace-id": "73c45cbc-cfb1-dd64-6c67-99bafb40d792"
      },
      "ResponseBody": {
        "id": "2033289048EB6DC0B1459474DF33568890427DCD5FC49D94E9",
        "name": "DefaultQueue-Sdk-Test2033289048EB6DC0B1459474DF33568890427DCD5FC49D94E9",
        "distributionPolicyId": "DDE19B2C1954811FBA59E43E6B8777F9CCFA0956F39D5E03F7",
        "labels": {
          "Label_1": "Value_1",
          "Id": "2033289048EB6DC0B1459474DF33568890427DCD5FC49D94E9"
        },
        "etag": "\u0022bd016208-0000-0700-0000-654a6dc70000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/CD3E8E72AFEAB5EEBC28711F9460939F790A17DBD59DA56233?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 17:03:04 GMT"
      },
      "RequestBody": {
        "name": "FallbackQueue-ClassificationPolicy",
        "fallbackQueueId": "2033289048EB6DC0B1459474DF33568890427DCD5FC49D94E9",
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220c009e31-0000-0700-0000-654a6dc70000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 17:03:03 GMT",
        "trace-id": "5536f220-8e0b-b24f-1762-651d22f02af2"
      },
      "ResponseBody": {
        "id": "CD3E8E72AFEAB5EEBC28711F9460939F790A17DBD59DA56233",
        "name": "FallbackQueue-ClassificationPolicy",
        "fallbackQueueId": "2033289048EB6DC0B1459474DF33568890427DCD5FC49D94E9",
        "queueSelectorAttachments": [],
        "workerSelectorAttachments": [],
        "etag": "\u00220c009e31-0000-0700-0000-654a6dc70000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/E4B3210676471D28CC0339A0351F738DB09AB17D4EAAC9E66F?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 17:03:04 GMT"
      },
      "RequestBody": {
        "channelReference": "123",
        "channelId": "CP_FallbackQueue",
        "classificationPolicyId": "CD3E8E72AFEAB5EEBC28711F9460939F790A17DBD59DA56233",
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-34e6-fe67b3dfdb08\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 17:03:03 GMT",
        "trace-id": "139eb35c-d87e-51e7-0a4c-8efa0f99499f"
      },
      "ResponseBody": {
        "id": "E4B3210676471D28CC0339A0351F738DB09AB17D4EAAC9E66F",
        "channelReference": "123",
        "status": "pendingClassification",
        "channelId": "CP_FallbackQueue",
        "classificationPolicyId": "CD3E8E72AFEAB5EEBC28711F9460939F790A17DBD59DA56233",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000000-0000-0000-34e6-fe67b3dfdb08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/E4B3210676471D28CC0339A0351F738DB09AB17D4EAAC9E66F?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 17:03:06 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-9bf0-2668b3dfdb08\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 17:03:04 GMT",
        "trace-id": "c5cfb0dc-eb1f-cd5e-507e-19dd5dc0414b"
      },
      "ResponseBody": {
        "id": "E4B3210676471D28CC0339A0351F738DB09AB17D4EAAC9E66F",
        "channelReference": "123",
        "status": "queued",
        "enqueuedAt": "2023-11-07T17:03:04.2579611\u002B00:00",
        "channelId": "CP_FallbackQueue",
        "classificationPolicyId": "CD3E8E72AFEAB5EEBC28711F9460939F790A17DBD59DA56233",
        "queueId": "2033289048EB6DC0B1459474DF33568890427DCD5FC49D94E9",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000002-0000-0000-9bf0-2668b3dfdb08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/E4B3210676471D28CC0339A0351F738DB09AB17D4EAAC9E66F:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 17:03:06 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "4b485de1-150a-688b-b090-1781a8fed825"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/DDE19B2C1954811FBA59E43E6B8777F9CCFA0956F39D5E03F7?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 17:03:13 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "aa35d7aa-9cf1-930f-ab1d-5813571882cd"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-7a7pc51d1k23bisNwFJ6MQ-",
    "RandomSeed": "1310185746"
  }
}
