{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/2E6356B4649910F51DB549C225DA8BDF3CD5B2E49D810F549D?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:15:30 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy2E6356B4649910F51DB549C225DA8BDF3CD5B2E49D810F549D",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227b0017b7-0000-0700-0000-654ac5120000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:15:30 GMT",
        "trace-id": "2881ea3e-bb9d-7603-2a0e-32008b2b716f"
      },
      "ResponseBody": {
        "id": "2E6356B4649910F51DB549C225DA8BDF3CD5B2E49D810F549D",
        "name": "LongestIdleDistributionPolicy2E6356B4649910F51DB549C225DA8BDF3CD5B2E49D810F549D",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00227b0017b7-0000-0700-0000-654ac5120000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/B839676E5D4522E00B7F7AC577486722594BB142762AE6FEC4?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:15:30 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-TestB839676E5D4522E00B7F7AC577486722594BB142762AE6FEC4",
        "distributionPolicyId": "2E6356B4649910F51DB549C225DA8BDF3CD5B2E49D810F549D",
        "labels": {
          "Label_1": "Value_1"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c3017ca6-0000-0700-0000-654ac5120000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:15:30 GMT",
        "trace-id": "6a12338a-e5c4-fdf2-adb9-7f448316af3a"
      },
      "ResponseBody": {
        "id": "B839676E5D4522E00B7F7AC577486722594BB142762AE6FEC4",
        "name": "DefaultQueue-Sdk-TestB839676E5D4522E00B7F7AC577486722594BB142762AE6FEC4",
        "distributionPolicyId": "2E6356B4649910F51DB549C225DA8BDF3CD5B2E49D810F549D",
        "labels": {
          "Label_1": "Value_1",
          "Id": "B839676E5D4522E00B7F7AC577486722594BB142762AE6FEC4"
        },
        "etag": "\u0022c3017ca6-0000-0700-0000-654ac5120000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/932620379F26B3576F13AC6CC7376558D111E2FFBFAD32B408?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:15:30 GMT"
      },
      "RequestBody": {
        "channelReference": "IncorrectValue",
        "channelId": "60EC89B7474A94AF0BDB2377B37DF4A147FF2AE1D0D5EE90CB",
        "queueId": "B839676E5D4522E00B7F7AC577486722594BB142762AE6FEC4",
        "priority": 1,
        "matchingMode": {
          "kind": "suspend"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-4e6c-736fe7dfdb08\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:15:30 GMT",
        "trace-id": "3e69eeaf-bfc6-1033-2215-681bf101f633"
      },
      "ResponseBody": {
        "id": "932620379F26B3576F13AC6CC7376558D111E2FFBFAD32B408",
        "channelReference": "IncorrectValue",
        "status": "waitingForActivation",
        "channelId": "60EC89B7474A94AF0BDB2377B37DF4A147FF2AE1D0D5EE90CB",
        "queueId": "B839676E5D4522E00B7F7AC577486722594BB142762AE6FEC4",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "suspend"
        },
        "etag": "\u002200000000-0000-0000-4e6c-736fe7dfdb08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/932620379F26B3576F13AC6CC7376558D111E2FFBFAD32B408:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:15:33 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "daf78d3d-4d48-c32f-c68a-9f0b24bd5237"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/B839676E5D4522E00B7F7AC577486722594BB142762AE6FEC4?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:15:38 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "47981f82-b38e-e31b-ff9a-2c15d8b5b1c2"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-xjiikBCXgEa87_2xMaSfbg-",
    "RandomSeed": "640678237"
  }
}
