{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/07CE3369E1CF1F5C8AD0B40A73305865A9150F793284927A77?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:54:04 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy07CE3369E1CF1F5C8AD0B40A73305865A9150F793284927A77",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224200fd68-0000-0700-0000-653ffbcb0000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:54:03 GMT",
        "trace-id": "359485aa-4824-4860-af62-7bd913dd0fb0"
      },
      "ResponseBody": {
        "id": "07CE3369E1CF1F5C8AD0B40A73305865A9150F793284927A77",
        "name": "LongestIdleDistributionPolicy07CE3369E1CF1F5C8AD0B40A73305865A9150F793284927A77",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00224200fd68-0000-0700-0000-653ffbcb0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/8F5C8537D71F81FB346C507B1641DB7380A09BE18F25238687?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:54:05 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test8F5C8537D71F81FB346C507B1641DB7380A09BE18F25238687",
        "distributionPolicyId": "07CE3369E1CF1F5C8AD0B40A73305865A9150F793284927A77",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022f1004118-0000-0700-0000-653ffbcb0000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:54:03 GMT",
        "trace-id": "f8e38cf0-7892-0eef-c368-714237bf6890"
      },
      "ResponseBody": {
        "id": "8F5C8537D71F81FB346C507B1641DB7380A09BE18F25238687",
        "name": "DefaultQueue-Sdk-Test8F5C8537D71F81FB346C507B1641DB7380A09BE18F25238687",
        "distributionPolicyId": "07CE3369E1CF1F5C8AD0B40A73305865A9150F793284927A77",
        "labels": {
          "Label_1": "Value_1",
          "Id": "8F5C8537D71F81FB346C507B1641DB7380A09BE18F25238687"
        },
        "etag": "\u0022f1004118-0000-0700-0000-653ffbcb0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/0F7D17B47F8A9DE681CF8EB24BC7DC443ED2FA2E4D43C8E60E?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:54:05 GMT"
      },
      "RequestBody": {
        "name": "FallbackQueue-ClassificationPolicy",
        "fallbackQueueId": "8F5C8537D71F81FB346C507B1641DB7380A09BE18F25238687"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002206006c0a-0000-0700-0000-653ffbcb0000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:54:03 GMT",
        "trace-id": "01373836-3593-9b6a-93f1-f206f844407b"
      },
      "ResponseBody": {
        "id": "0F7D17B47F8A9DE681CF8EB24BC7DC443ED2FA2E4D43C8E60E",
        "name": "FallbackQueue-ClassificationPolicy",
        "fallbackQueueId": "8F5C8537D71F81FB346C507B1641DB7380A09BE18F25238687",
        "queueSelectorAttachments": [],
        "workerSelectorAttachments": [],
        "etag": "\u002206006c0a-0000-0700-0000-653ffbcb0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/EC8E671A21B19CC479AC1F281C6F22C48A3DACABAA55677AA5?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:54:05 GMT"
      },
      "RequestBody": {
        "channelReference": "123",
        "channelId": "CP_FallbackQueue",
        "classificationPolicyId": "0F7D17B47F8A9DE681CF8EB24BC7DC443ED2FA2E4D43C8E60E"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-e194-6d9679d9db08\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:54:04 GMT",
        "trace-id": "55e751ff-5d64-2e03-b0e0-972cf9bfef26"
      },
      "ResponseBody": {
        "id": "EC8E671A21B19CC479AC1F281C6F22C48A3DACABAA55677AA5",
        "channelReference": "123",
        "status": "pendingClassification",
        "channelId": "CP_FallbackQueue",
        "classificationPolicyId": "0F7D17B47F8A9DE681CF8EB24BC7DC443ED2FA2E4D43C8E60E",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000000-0000-0000-e194-6d9679d9db08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/EC8E671A21B19CC479AC1F281C6F22C48A3DACABAA55677AA5?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:54:06 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-e278-939679d9db08\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:54:04 GMT",
        "trace-id": "5624cffb-ad33-47b2-44ff-7829f99089d7"
      },
      "ResponseBody": {
        "id": "EC8E671A21B19CC479AC1F281C6F22C48A3DACABAA55677AA5",
        "channelReference": "123",
        "status": "queued",
        "enqueuedAt": "2023-10-30T18:54:04.3574498\u002B00:00",
        "channelId": "CP_FallbackQueue",
        "classificationPolicyId": "0F7D17B47F8A9DE681CF8EB24BC7DC443ED2FA2E4D43C8E60E",
        "queueId": "8F5C8537D71F81FB346C507B1641DB7380A09BE18F25238687",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000002-0000-0000-e278-939679d9db08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/EC8E671A21B19CC479AC1F281C6F22C48A3DACABAA55677AA5:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:54:07 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "6a230c82-e2cb-8e74-25a4-7c44538a7ef3"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/0F7D17B47F8A9DE681CF8EB24BC7DC443ED2FA2E4D43C8E60E?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:54:10 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "52b35745-1171-adbf-4330-589412e1bd97"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-beUJVyHJjE-TSLWWmfu8mw-",
    "RandomSeed": "284750394"
  }
}
