{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/FBC106C8D15E0BA45A0961C4BDDE88EB12F324190F8F58CF4E?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 21:55:38 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyFBC106C8D15E0BA45A0961C4BDDE88EB12F324190F8F58CF4E",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224a007a5e-0000-0700-0000-654177de0000\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 21:55:42 GMT",
        "trace-id": "fa4acdc6-23f8-7a88-6e7f-05a777c7a61a"
      },
      "ResponseBody": {
        "id": "FBC106C8D15E0BA45A0961C4BDDE88EB12F324190F8F58CF4E",
        "name": "LongestIdleDistributionPolicyFBC106C8D15E0BA45A0961C4BDDE88EB12F324190F8F58CF4E",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00224a007a5e-0000-0700-0000-654177de0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/916C7D604A56786577150638448CCCA776FC50555516550E41?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 21:55:38 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test916C7D604A56786577150638448CCCA776FC50555516550E41",
        "distributionPolicyId": "FBC106C8D15E0BA45A0961C4BDDE88EB12F324190F8F58CF4E",
        "labels": {
          "Label_1": "Value_1"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220e010841-0000-0700-0000-654177de0000\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 21:55:42 GMT",
        "trace-id": "7c5664e2-d5d8-d2c4-cd4d-49e8e9ae085f"
      },
      "ResponseBody": {
        "id": "916C7D604A56786577150638448CCCA776FC50555516550E41",
        "name": "DefaultQueue-Sdk-Test916C7D604A56786577150638448CCCA776FC50555516550E41",
        "distributionPolicyId": "FBC106C8D15E0BA45A0961C4BDDE88EB12F324190F8F58CF4E",
        "labels": {
          "Label_1": "Value_1",
          "Id": "916C7D604A56786577150638448CCCA776FC50555516550E41"
        },
        "etag": "\u00220e010841-0000-0700-0000-654177de0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/F6FAC7F9B1E67084B5232B3A4955319E509EB8D420C67E5E81?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 21:55:38 GMT"
      },
      "RequestBody": {
        "name": "StaticQueueSelector-ClassificationPolicy",
        "queueSelectorAttachments": [
          {
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "916C7D604A56786577150638448CCCA776FC50555516550E41"
            },
            "kind": "static"
          }
        ],
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002206003fd8-0000-0700-0000-654177de0000\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 21:55:42 GMT",
        "trace-id": "133e3bc4-af8d-42ee-e1e2-de1ea390d3c9"
      },
      "ResponseBody": {
        "id": "F6FAC7F9B1E67084B5232B3A4955319E509EB8D420C67E5E81",
        "name": "StaticQueueSelector-ClassificationPolicy",
        "queueSelectorAttachments": [
          {
            "kind": "static",
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "916C7D604A56786577150638448CCCA776FC50555516550E41"
            }
          }
        ],
        "workerSelectorAttachments": [],
        "etag": "\u002206003fd8-0000-0700-0000-654177de0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/D3D91C1F22687471195713C44DEDE6CEC021389EDE6E718180?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 21:55:38 GMT"
      },
      "RequestBody": {
        "channelReference": "123",
        "channelId": "11EA677C2C9C730ED9E5AECBF84DB01B65EFFB853F258495A8",
        "classificationPolicyId": "F6FAC7F9B1E67084B5232B3A4955319E509EB8D420C67E5E81",
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-530b-f4205cdadb08\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 21:55:42 GMT",
        "trace-id": "9824a560-486b-5252-9bd0-d13918b20f8f"
      },
      "ResponseBody": {
        "id": "D3D91C1F22687471195713C44DEDE6CEC021389EDE6E718180",
        "channelReference": "123",
        "status": "pendingClassification",
        "channelId": "11EA677C2C9C730ED9E5AECBF84DB01B65EFFB853F258495A8",
        "classificationPolicyId": "F6FAC7F9B1E67084B5232B3A4955319E509EB8D420C67E5E81",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000000-0000-0000-530b-f4205cdadb08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/D3D91C1F22687471195713C44DEDE6CEC021389EDE6E718180?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 21:55:39 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-1c03-49215cdadb08\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 21:55:43 GMT",
        "trace-id": "d4f2fec9-ca33-79bf-a63a-c4fd36c3a707"
      },
      "ResponseBody": {
        "id": "D3D91C1F22687471195713C44DEDE6CEC021389EDE6E718180",
        "channelReference": "123",
        "status": "queued",
        "enqueuedAt": "2023-10-31T21:55:43.3336604\u002B00:00",
        "channelId": "11EA677C2C9C730ED9E5AECBF84DB01B65EFFB853F258495A8",
        "classificationPolicyId": "F6FAC7F9B1E67084B5232B3A4955319E509EB8D420C67E5E81",
        "queueId": "916C7D604A56786577150638448CCCA776FC50555516550E41",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000002-0000-0000-1c03-49215cdadb08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/D3D91C1F22687471195713C44DEDE6CEC021389EDE6E718180:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 21:55:45 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "ee98b912-4586-6355-0984-3e2e1da25154"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/916C7D604A56786577150638448CCCA776FC50555516550E41?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 21:55:51 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "5a7d7fb6-47ce-1003-e3ae-2adf94e72e68"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-4mrVaTgUmUiwfJLDP9W7Sw-",
    "RandomSeed": "2139716992"
  }
}
