{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/09F1FA509409D2236CA7B2470C891FCE01F5694604AE1FB481?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:10:16 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy09F1FA509409D2236CA7B2470C891FCE01F5694604AE1FB481",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227b0080b0-0000-0700-0000-654ac3d80000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:10:16 GMT",
        "trace-id": "dd612906-73b1-5f95-2bfd-9ed75a9bd0fe"
      },
      "ResponseBody": {
        "id": "09F1FA509409D2236CA7B2470C891FCE01F5694604AE1FB481",
        "name": "LongestIdleDistributionPolicy09F1FA509409D2236CA7B2470C891FCE01F5694604AE1FB481",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00227b0080b0-0000-0700-0000-654ac3d80000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/46711EC34E73F9D50ADAA1391A44A7A085A90A93C94379ED07?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:10:16 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test46711EC34E73F9D50ADAA1391A44A7A085A90A93C94379ED07",
        "distributionPolicyId": "09F1FA509409D2236CA7B2470C891FCE01F5694604AE1FB481",
        "labels": {
          "Label_1": "Value_1"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c3014a8e-0000-0700-0000-654ac3d80000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:10:16 GMT",
        "trace-id": "8779de92-d377-451c-027e-7cb59cb7434c"
      },
      "ResponseBody": {
        "id": "46711EC34E73F9D50ADAA1391A44A7A085A90A93C94379ED07",
        "name": "DefaultQueue-Sdk-Test46711EC34E73F9D50ADAA1391A44A7A085A90A93C94379ED07",
        "distributionPolicyId": "09F1FA509409D2236CA7B2470C891FCE01F5694604AE1FB481",
        "labels": {
          "Label_1": "Value_1",
          "Id": "46711EC34E73F9D50ADAA1391A44A7A085A90A93C94379ED07"
        },
        "etag": "\u0022c3014a8e-0000-0700-0000-654ac3d80000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/F5A94B8A933F2E9C5597CE7C46B6214692578550741969249A?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:10:16 GMT"
      },
      "RequestBody": {
        "name": "FallbackQueue-ClassificationPolicy",
        "fallbackQueueId": "46711EC34E73F9D50ADAA1391A44A7A085A90A93C94379ED07",
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220c00356b-0000-0700-0000-654ac3d80000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:10:16 GMT",
        "trace-id": "11a8ad7d-61d8-e333-029e-0d63cd372002"
      },
      "ResponseBody": {
        "id": "F5A94B8A933F2E9C5597CE7C46B6214692578550741969249A",
        "name": "FallbackQueue-ClassificationPolicy",
        "fallbackQueueId": "46711EC34E73F9D50ADAA1391A44A7A085A90A93C94379ED07",
        "queueSelectorAttachments": [],
        "workerSelectorAttachments": [],
        "etag": "\u00220c00356b-0000-0700-0000-654ac3d80000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/36A6FAD9CCAF103697AAA2E45A896D2B03243F8E6FE156A961?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:10:17 GMT"
      },
      "RequestBody": {
        "channelReference": "123",
        "channelId": "CP_FallbackQueue",
        "classificationPolicyId": "F5A94B8A933F2E9C5597CE7C46B6214692578550741969249A",
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-5d59-96b4e6dfdb08\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:10:16 GMT",
        "trace-id": "ec50efe9-8e26-98cc-679d-ae25156ba233"
      },
      "ResponseBody": {
        "id": "36A6FAD9CCAF103697AAA2E45A896D2B03243F8E6FE156A961",
        "channelReference": "123",
        "status": "pendingClassification",
        "channelId": "CP_FallbackQueue",
        "classificationPolicyId": "F5A94B8A933F2E9C5597CE7C46B6214692578550741969249A",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000000-0000-0000-5d59-96b4e6dfdb08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/36A6FAD9CCAF103697AAA2E45A896D2B03243F8E6FE156A961?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:10:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-04e9-b6b4e6dfdb08\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:10:17 GMT",
        "trace-id": "142bfe36-62cb-ee0d-d587-1bac40912ba3"
      },
      "ResponseBody": {
        "id": "36A6FAD9CCAF103697AAA2E45A896D2B03243F8E6FE156A961",
        "channelReference": "123",
        "status": "queued",
        "enqueuedAt": "2023-11-07T23:10:17.0415364\u002B00:00",
        "channelId": "CP_FallbackQueue",
        "classificationPolicyId": "F5A94B8A933F2E9C5597CE7C46B6214692578550741969249A",
        "queueId": "46711EC34E73F9D50ADAA1391A44A7A085A90A93C94379ED07",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000002-0000-0000-04e9-b6b4e6dfdb08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/36A6FAD9CCAF103697AAA2E45A896D2B03243F8E6FE156A961:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:10:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "9e504344-f988-607b-2ad9-e99d589424e3"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://rsarkar-ppe-test.ppe.communication.azure.net/routing/distributionPolicies/09F1FA509409D2236CA7B2470C891FCE01F5694604AE1FB481?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "HMAC-SHA256 SignedHeaders=x-ms-date;host;x-ms-content-sha256\u0026Signature=Gs0eqjSYPSZZv9EvuIUef196xHSjZnB67vLgj2AOYCE=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Tue, 07 Nov 2023 23:10:25 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "fecad12c-c620-1a10-a5bb-41d00c5dcf3f"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-YCca-q5ZUk-c9QBiCDM9zA-",
    "RandomSeed": "1352369421"
  }
}
