{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/2A275FD81698453A720149F43856189BE979181FF47D5FBF3A?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Nov 2023 00:19:12 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy2A275FD81698453A720149F43856189BE979181FF47D5FBF3A",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227c00e205-0000-0700-0000-654ad3fc0000\u0022",
        "Last-Modified": "Wed, 08 Nov 2023 00:19:08 GMT",
        "trace-id": "b1ec8d34-b033-b0b4-e921-d555f78a4f53"
      },
      "ResponseBody": {
        "id": "2A275FD81698453A720149F43856189BE979181FF47D5FBF3A",
        "name": "LongestIdleDistributionPolicy2A275FD81698453A720149F43856189BE979181FF47D5FBF3A",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00227c00e205-0000-0700-0000-654ad3fc0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/24AB83BA42D7D18F3659EAC28C084E3AD2468FF7EA612CF82C?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Nov 2023 00:19:12 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test24AB83BA42D7D18F3659EAC28C084E3AD2468FF7EA612CF82C",
        "distributionPolicyId": "2A275FD81698453A720149F43856189BE979181FF47D5FBF3A",
        "labels": {
          "Label_1": "Value_1"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c4013cca-0000-0700-0000-654ad3fc0000\u0022",
        "Last-Modified": "Wed, 08 Nov 2023 00:19:08 GMT",
        "trace-id": "7f27df6c-0b27-77ae-edda-69027312bb48"
      },
      "ResponseBody": {
        "id": "24AB83BA42D7D18F3659EAC28C084E3AD2468FF7EA612CF82C",
        "name": "DefaultQueue-Sdk-Test24AB83BA42D7D18F3659EAC28C084E3AD2468FF7EA612CF82C",
        "distributionPolicyId": "2A275FD81698453A720149F43856189BE979181FF47D5FBF3A",
        "labels": {
          "Label_1": "Value_1",
          "Id": "24AB83BA42D7D18F3659EAC28C084E3AD2468FF7EA612CF82C"
        },
        "etag": "\u0022c4013cca-0000-0700-0000-654ad3fc0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/B403DFA5DCA4B3474F6F4B2817C706E89B5F5EE867B5CB73BC?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Nov 2023 00:19:12 GMT"
      },
      "RequestBody": {
        "channelReference": "IncorrectValue",
        "channelId": "0F23F2372AB0266E27E561B4CDD724324E1E529C287B4EC25E",
        "queueId": "24AB83BA42D7D18F3659EAC28C084E3AD2468FF7EA612CF82C",
        "priority": 1,
        "matchingMode": {
          "scheduleAt": "2100-01-01T01:01:01.0000000Z",
          "kind": "schedule-and-suspend"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-d989-8853f0dfdb08\u0022",
        "Last-Modified": "Wed, 08 Nov 2023 00:19:08 GMT",
        "trace-id": "84f5d1d5-c0d8-2520-d135-e2195ba6823b"
      },
      "ResponseBody": {
        "id": "B403DFA5DCA4B3474F6F4B2817C706E89B5F5EE867B5CB73BC",
        "channelReference": "IncorrectValue",
        "status": "pendingSchedule",
        "channelId": "0F23F2372AB0266E27E561B4CDD724324E1E529C287B4EC25E",
        "queueId": "24AB83BA42D7D18F3659EAC28C084E3AD2468FF7EA612CF82C",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "schedule-and-suspend",
          "scheduleAt": "2100-01-01T01:01:01\u002B00:00"
        },
        "etag": "\u002200000000-0000-0000-d989-8853f0dfdb08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/B403DFA5DCA4B3474F6F4B2817C706E89B5F5EE867B5CB73BC:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Nov 2023 00:19:14 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "52c83cee-602a-5e96-3220-04cb7bb5e941"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/24AB83BA42D7D18F3659EAC28C084E3AD2468FF7EA612CF82C?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Nov 2023 00:19:19 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "542b4351-d45e-ef0a-6af6-5f35c15b29d0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-AI_ynrVkGUaDP5hHX0bEew-",
    "RandomSeed": "64860444",
    "scheduled-time-utc": "2100-01-01T01:01:01.0000000\u002B00:00"
  }
}
