{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/86FA775F5A7D6E11F703810C90BBCFEC15DE8A0944DE0AFD47?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 21:51:32 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy86FA775F5A7D6E11F703810C90BBCFEC15DE8A0944DE0AFD47",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224a007159-0000-0700-0000-654176e80000\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 21:51:36 GMT",
        "trace-id": "62649ecd-4835-ebcf-a1e5-7267385259a2"
      },
      "ResponseBody": {
        "id": "86FA775F5A7D6E11F703810C90BBCFEC15DE8A0944DE0AFD47",
        "name": "LongestIdleDistributionPolicy86FA775F5A7D6E11F703810C90BBCFEC15DE8A0944DE0AFD47",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00224a007159-0000-0700-0000-654176e80000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/4ED90B1AF9DC1D4F74907068678DE38AD5BEF72A83C9C81313?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 21:51:32 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test4ED90B1AF9DC1D4F74907068678DE38AD5BEF72A83C9C81313",
        "distributionPolicyId": "86FA775F5A7D6E11F703810C90BBCFEC15DE8A0944DE0AFD47",
        "labels": {
          "Label_1": "Value_1"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220e01f02c-0000-0700-0000-654176e80000\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 21:51:36 GMT",
        "trace-id": "9ba07e70-d392-d643-bca0-99f52698d932"
      },
      "ResponseBody": {
        "id": "4ED90B1AF9DC1D4F74907068678DE38AD5BEF72A83C9C81313",
        "name": "DefaultQueue-Sdk-Test4ED90B1AF9DC1D4F74907068678DE38AD5BEF72A83C9C81313",
        "distributionPolicyId": "86FA775F5A7D6E11F703810C90BBCFEC15DE8A0944DE0AFD47",
        "labels": {
          "Label_1": "Value_1",
          "Id": "4ED90B1AF9DC1D4F74907068678DE38AD5BEF72A83C9C81313"
        },
        "etag": "\u00220e01f02c-0000-0700-0000-654176e80000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/FF8E53EEA4ED8A5A9E103245404A95E0404F4788E376BABCE9?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 21:51:32 GMT"
      },
      "RequestBody": {
        "channelReference": "IncorrectValue",
        "channelId": "96C233E8A0A70FD8D49CDE691A3D85FD6302A2F705F67CFBC9",
        "queueId": "4ED90B1AF9DC1D4F74907068678DE38AD5BEF72A83C9C81313",
        "priority": 1,
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-e6cd-1c8e5bdadb08\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 21:51:36 GMT",
        "trace-id": "f22d3614-d467-d8d9-cde8-803debe13d52"
      },
      "ResponseBody": {
        "id": "FF8E53EEA4ED8A5A9E103245404A95E0404F4788E376BABCE9",
        "channelReference": "IncorrectValue",
        "status": "created",
        "channelId": "96C233E8A0A70FD8D49CDE691A3D85FD6302A2F705F67CFBC9",
        "queueId": "4ED90B1AF9DC1D4F74907068678DE38AD5BEF72A83C9C81313",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000000-0000-0000-e6cd-1c8e5bdadb08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/FF8E53EEA4ED8A5A9E103245404A95E0404F4788E376BABCE9?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 21:51:33 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-81e6-2e8e5bdadb08\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 21:51:36 GMT",
        "trace-id": "54810197-9d00-0095-74ac-951825a9f525"
      },
      "ResponseBody": {
        "id": "FF8E53EEA4ED8A5A9E103245404A95E0404F4788E376BABCE9",
        "channelReference": "IncorrectValue",
        "status": "queued",
        "enqueuedAt": "2023-10-31T21:51:36.5374593\u002B00:00",
        "channelId": "96C233E8A0A70FD8D49CDE691A3D85FD6302A2F705F67CFBC9",
        "queueId": "4ED90B1AF9DC1D4F74907068678DE38AD5BEF72A83C9C81313",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000001-0000-0000-81e6-2e8e5bdadb08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/FF8E53EEA4ED8A5A9E103245404A95E0404F4788E376BABCE9:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 21:51:36 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "ef8fd5a4-13f4-6259-1b0b-9c4d80a92120"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/4ED90B1AF9DC1D4F74907068678DE38AD5BEF72A83C9C81313?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 21:51:41 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "a358695d-d009-4dca-333f-75b825e604b8"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-Q8h3Lj3zPUacyMoWpIniFA-",
    "RandomSeed": "1023575002"
  }
}
