{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/7CDAAD392F20F110B8C0E0027A5BA8728CBB5AD45937AE1D3A?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:07:59 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy7CDAAD392F20F110B8C0E0027A5BA8728CBB5AD45937AE1D3A",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "longestIdle"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220900bdd7-0000-0700-0000-65de79600000\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:08:00 GMT",
        "trace-id": "007498b6-d9db-f899-8f75-5fc6ff96a898"
      },
      "ResponseBody": {
        "id": "7CDAAD392F20F110B8C0E0027A5BA8728CBB5AD45937AE1D3A",
        "name": "LongestIdleDistributionPolicy7CDAAD392F20F110B8C0E0027A5BA8728CBB5AD45937AE1D3A",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00220900bdd7-0000-0700-0000-65de79600000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/3C1D03A5772EC514CAC2CC8E4A99780C8B41D95FC2500DB686?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:07:59 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test3C1D03A5772EC514CAC2CC8E4A99780C8B41D95FC2500DB686",
        "distributionPolicyId": "7CDAAD392F20F110B8C0E0027A5BA8728CBB5AD45937AE1D3A",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022e50233ee-0000-0700-0000-65de79600000\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:08:00 GMT",
        "trace-id": "552278fa-588d-1785-bfbb-5aa1ab3548d8"
      },
      "ResponseBody": {
        "id": "3C1D03A5772EC514CAC2CC8E4A99780C8B41D95FC2500DB686",
        "name": "DefaultQueue-Sdk-Test3C1D03A5772EC514CAC2CC8E4A99780C8B41D95FC2500DB686",
        "distributionPolicyId": "7CDAAD392F20F110B8C0E0027A5BA8728CBB5AD45937AE1D3A",
        "labels": {
          "Label_1": "Value_1",
          "Id": "3C1D03A5772EC514CAC2CC8E4A99780C8B41D95FC2500DB686"
        },
        "etag": "\u0022e50233ee-0000-0700-0000-65de79600000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/3B9164DC0A830DE22A7BF210BBDFEBA9D9D1FDB5FAACBB5921?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:07:59 GMT"
      },
      "RequestBody": {
        "name": "StaticQueueSelector-ClassificationPolicy",
        "queueSelectorAttachments": [
          {
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "3C1D03A5772EC514CAC2CC8E4A99780C8B41D95FC2500DB686"
            },
            "kind": "static"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00229a01cb6a-0000-0700-0000-65de79600000\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:08:00 GMT",
        "trace-id": "9d8b383c-a578-0d46-29eb-3d3a6395987b"
      },
      "ResponseBody": {
        "id": "3B9164DC0A830DE22A7BF210BBDFEBA9D9D1FDB5FAACBB5921",
        "name": "StaticQueueSelector-ClassificationPolicy",
        "queueSelectorAttachments": [
          {
            "kind": "static",
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "3C1D03A5772EC514CAC2CC8E4A99780C8B41D95FC2500DB686"
            }
          }
        ],
        "workerSelectorAttachments": [],
        "etag": "\u00229a01cb6a-0000-0700-0000-65de79600000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/8032B77BC8BFD3E61362C365E337C0FD3A7876217A93034EB5?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:07:59 GMT"
      },
      "RequestBody": {
        "channelReference": "123",
        "channelId": "11EA677C2C9C730ED9E5AECBF84DB01B65EFFB853F258495A8",
        "classificationPolicyId": "3B9164DC0A830DE22A7BF210BBDFEBA9D9D1FDB5FAACBB5921"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-1ce2-4653f137dc08\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:08:00 GMT",
        "trace-id": "ffeb9024-4125-87ee-a458-9bc94a6a83ba"
      },
      "ResponseBody": {
        "id": "8032B77BC8BFD3E61362C365E337C0FD3A7876217A93034EB5",
        "channelReference": "123",
        "status": "pendingClassification",
        "channelId": "11EA677C2C9C730ED9E5AECBF84DB01B65EFFB853F258495A8",
        "classificationPolicyId": "3B9164DC0A830DE22A7BF210BBDFEBA9D9D1FDB5FAACBB5921",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "\u002200000000-0000-0000-1ce2-4653f137dc08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/8032B77BC8BFD3E61362C365E337C0FD3A7876217A93034EB5?api-version=2024-01-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:08:01 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-8201-6f53f137dc08\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:08:00 GMT",
        "trace-id": "7a6e0e7e-57f7-dce0-9475-3b48d4fd5448"
      },
      "ResponseBody": {
        "id": "8032B77BC8BFD3E61362C365E337C0FD3A7876217A93034EB5",
        "channelReference": "123",
        "status": "queued",
        "enqueuedAt": "2024-02-28T00:08:00.6197634\u002B00:00",
        "channelId": "11EA677C2C9C730ED9E5AECBF84DB01B65EFFB853F258495A8",
        "classificationPolicyId": "3B9164DC0A830DE22A7BF210BBDFEBA9D9D1FDB5FAACBB5921",
        "queueId": "3C1D03A5772EC514CAC2CC8E4A99780C8B41D95FC2500DB686",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "\u002200000002-0000-0000-8201-6f53f137dc08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/8032B77BC8BFD3E61362C365E337C0FD3A7876217A93034EB5:cancel?api-version=2024-01-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:08:06 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "85bec6d8-ca82-329a-6a01-47dd8f7fd299"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/3C1D03A5772EC514CAC2CC8E4A99780C8B41D95FC2500DB686?api-version=2024-01-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:08:12 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "trace-id": "7762a800-2107-d7ef-ac54-6dca7591bd43"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-qS7zudC-3EWAHffxcxGaZg-",
    "RandomSeed": "126009730"
  }
}
