{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/155D6BA43333B2759E8756F2DA1A0978F4496C2CEF70088856?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 17:59:02 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy155D6BA43333B2759E8756F2DA1A0978F4496C2CEF70088856",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224200f423-0000-0700-0000-653feee50000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 17:59:01 GMT",
        "trace-id": "26dd7a71-f0d1-2919-7676-617677ea09cd"
      },
      "ResponseBody": {
        "id": "155D6BA43333B2759E8756F2DA1A0978F4496C2CEF70088856",
        "name": "LongestIdleDistributionPolicy155D6BA43333B2759E8756F2DA1A0978F4496C2CEF70088856",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00224200f423-0000-0700-0000-653feee50000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/5B9D39D4E7759E1C1EC2B1FCF5DE502D89C33B5BF3A45AAD16?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 17:59:02 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test5B9D39D4E7759E1C1EC2B1FCF5DE502D89C33B5BF3A45AAD16",
        "distributionPolicyId": "155D6BA43333B2759E8756F2DA1A0978F4496C2CEF70088856",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022f000c41c-0000-0700-0000-653feee50000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 17:59:01 GMT",
        "trace-id": "d9c4a347-224a-887b-9fb5-d6da63616223"
      },
      "ResponseBody": {
        "id": "5B9D39D4E7759E1C1EC2B1FCF5DE502D89C33B5BF3A45AAD16",
        "name": "DefaultQueue-Sdk-Test5B9D39D4E7759E1C1EC2B1FCF5DE502D89C33B5BF3A45AAD16",
        "distributionPolicyId": "155D6BA43333B2759E8756F2DA1A0978F4496C2CEF70088856",
        "labels": {
          "Label_1": "Value_1",
          "Id": "5B9D39D4E7759E1C1EC2B1FCF5DE502D89C33B5BF3A45AAD16"
        },
        "etag": "\u0022f000c41c-0000-0700-0000-653feee50000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/67BFF18691CAA9BEBA14C7EAC1F4837E211500F4B8855E39DC?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 17:59:02 GMT"
      },
      "RequestBody": {
        "channelReference": "IncorrectValue",
        "channelId": "60EC89B7474A94AF0BDB2377B37DF4A147FF2AE1D0D5EE90CB",
        "queueId": "5B9D39D4E7759E1C1EC2B1FCF5DE502D89C33B5BF3A45AAD16",
        "priority": 1,
        "matchingMode": {
          "kind": "suspend"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-8aa8-14e671d9db08\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 17:59:01 GMT",
        "trace-id": "ba2ea585-129e-bcc4-8ae3-2233630de67f"
      },
      "ResponseBody": {
        "id": "67BFF18691CAA9BEBA14C7EAC1F4837E211500F4B8855E39DC",
        "channelReference": "IncorrectValue",
        "status": "waitingForActivation",
        "channelId": "60EC89B7474A94AF0BDB2377B37DF4A147FF2AE1D0D5EE90CB",
        "queueId": "5B9D39D4E7759E1C1EC2B1FCF5DE502D89C33B5BF3A45AAD16",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "suspend"
        },
        "etag": "\u002200000000-0000-0000-8aa8-14e671d9db08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/67BFF18691CAA9BEBA14C7EAC1F4837E211500F4B8855E39DC:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 17:59:06 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "7cfb50f7-717e-2db5-8d25-b42d96e7bc73"
      },
      "ResponseBody": {}
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-DUpKjz6LNUWduycU_Daupw-",
    "RandomSeed": "1499600079"
  }
}
