{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/E8D385FF40B0C02999609BFEFBD3F4B51CB574FD7D02F179E1?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:08:13 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyE8D385FF40B0C02999609BFEFBD3F4B51CB574FD7D02F179E1",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "longestIdle"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220900c1d7-0000-0700-0000-65de796e0000\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:08:14 GMT",
        "trace-id": "3a0d0e3c-c433-671b-7e6d-6d7c42545834"
      },
      "ResponseBody": {
        "id": "E8D385FF40B0C02999609BFEFBD3F4B51CB574FD7D02F179E1",
        "name": "LongestIdleDistributionPolicyE8D385FF40B0C02999609BFEFBD3F4B51CB574FD7D02F179E1",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00220900c1d7-0000-0700-0000-65de796e0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/77C58DDEB3E93174EC2E7D1B9021CAAA35F76F279722E6A67D?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:08:13 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test77C58DDEB3E93174EC2E7D1B9021CAAA35F76F279722E6A67D",
        "distributionPolicyId": "E8D385FF40B0C02999609BFEFBD3F4B51CB574FD7D02F179E1",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022e5024def-0000-0700-0000-65de796e0000\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:08:14 GMT",
        "trace-id": "9ec3fa64-fadb-d937-e13b-2c3c3826e397"
      },
      "ResponseBody": {
        "id": "77C58DDEB3E93174EC2E7D1B9021CAAA35F76F279722E6A67D",
        "name": "DefaultQueue-Sdk-Test77C58DDEB3E93174EC2E7D1B9021CAAA35F76F279722E6A67D",
        "distributionPolicyId": "E8D385FF40B0C02999609BFEFBD3F4B51CB574FD7D02F179E1",
        "labels": {
          "Label_1": "Value_1",
          "Id": "77C58DDEB3E93174EC2E7D1B9021CAAA35F76F279722E6A67D"
        },
        "etag": "\u0022e5024def-0000-0700-0000-65de796e0000\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/30CADF9E6F439371C643A103F5165D6C1F7DC469F838EEC6C3?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:08:14 GMT"
      },
      "RequestBody": {
        "name": "JobQVsFallbackQ-ClassificationPolicy",
        "fallbackQueueId": "6D04F9D73EED8C797F0D7644585D141C7BCB4036BC6C54D9F6"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00229a01356b-0000-0700-0000-65de796e0000\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:08:14 GMT",
        "trace-id": "7c6be7ca-7699-b359-5949-b1c1edb2df06"
      },
      "ResponseBody": {
        "id": "30CADF9E6F439371C643A103F5165D6C1F7DC469F838EEC6C3",
        "name": "JobQVsFallbackQ-ClassificationPolicy",
        "fallbackQueueId": "6D04F9D73EED8C797F0D7644585D141C7BCB4036BC6C54D9F6",
        "queueSelectorAttachments": [],
        "workerSelectorAttachments": [],
        "etag": "\u00229a01356b-0000-0700-0000-65de796e0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/JobWCpAndQ?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:08:14 GMT"
      },
      "RequestBody": {
        "channelReference": "123",
        "channelId": "ChatChannel",
        "classificationPolicyId": "30CADF9E6F439371C643A103F5165D6C1F7DC469F838EEC6C3",
        "queueId": "77C58DDEB3E93174EC2E7D1B9021CAAA35F76F279722E6A67D"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-e339-d05bf137dc08\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:08:14 GMT",
        "trace-id": "75ab131e-57bf-f2f7-cb25-f028418bb599"
      },
      "ResponseBody": {
        "id": "JobWCpAndQ",
        "channelReference": "123",
        "status": "pendingClassification",
        "channelId": "ChatChannel",
        "classificationPolicyId": "30CADF9E6F439371C643A103F5165D6C1F7DC469F838EEC6C3",
        "queueId": "77C58DDEB3E93174EC2E7D1B9021CAAA35F76F279722E6A67D",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "\u002200000000-0000-0000-e339-d05bf137dc08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/JobWCpAndQ?api-version=2024-01-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:08:15 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-515f-f05bf137dc08\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:08:14 GMT",
        "trace-id": "b2cec8e5-5d11-b708-cd4d-d044163631ce"
      },
      "ResponseBody": {
        "id": "JobWCpAndQ",
        "channelReference": "123",
        "status": "queued",
        "enqueuedAt": "2024-02-28T00:08:14.8893521\u002B00:00",
        "channelId": "ChatChannel",
        "classificationPolicyId": "30CADF9E6F439371C643A103F5165D6C1F7DC469F838EEC6C3",
        "queueId": "77C58DDEB3E93174EC2E7D1B9021CAAA35F76F279722E6A67D",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "\u002200000002-0000-0000-515f-f05bf137dc08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/JobWCpAndQ:cancel?api-version=2024-01-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:08:15 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "9610cb8e-1171-7e40-06b2-e425c7a3f536"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/77C58DDEB3E93174EC2E7D1B9021CAAA35F76F279722E6A67D?api-version=2024-01-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:08:23 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "trace-id": "32ab0771-ae2e-daa4-8ab9-9ce933248900"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk--7ui2JDT6ECERSX6TimQLw-",
    "RandomSeed": "1573376481"
  }
}
