{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/FF20699C69E6B564D69053FDF9A24AE3FE5A9716FCF2F7665D?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:11:19 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyFF20699C69E6B564D69053FDF9A24AE3FE5A9716FCF2F7665D",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227b00b0b1-0000-0700-0000-654ac4170000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:11:19 GMT",
        "trace-id": "306d9ea4-9117-4444-2736-2d03558f1a91"
      },
      "ResponseBody": {
        "id": "FF20699C69E6B564D69053FDF9A24AE3FE5A9716FCF2F7665D",
        "name": "LongestIdleDistributionPolicyFF20699C69E6B564D69053FDF9A24AE3FE5A9716FCF2F7665D",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00227b00b0b1-0000-0700-0000-654ac4170000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/BCB546CCE59ACCB20FC27E3671EC49012D63059DDDF9E94118?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:11:19 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-TestBCB546CCE59ACCB20FC27E3671EC49012D63059DDDF9E94118",
        "distributionPolicyId": "FF20699C69E6B564D69053FDF9A24AE3FE5A9716FCF2F7665D",
        "labels": {
          "Label_1": "Value_1"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c301fb92-0000-0700-0000-654ac4170000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:11:19 GMT",
        "trace-id": "4fa3cf57-502a-5033-505b-e16aa25f310d"
      },
      "ResponseBody": {
        "id": "BCB546CCE59ACCB20FC27E3671EC49012D63059DDDF9E94118",
        "name": "DefaultQueue-Sdk-TestBCB546CCE59ACCB20FC27E3671EC49012D63059DDDF9E94118",
        "distributionPolicyId": "FF20699C69E6B564D69053FDF9A24AE3FE5A9716FCF2F7665D",
        "labels": {
          "Label_1": "Value_1",
          "Id": "BCB546CCE59ACCB20FC27E3671EC49012D63059DDDF9E94118"
        },
        "etag": "\u0022c301fb92-0000-0700-0000-654ac4170000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/7C49F7C372020CF40A991782A75855874A6064051B82397886?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:11:19 GMT"
      },
      "RequestBody": {
        "channelReference": "IncorrectValue",
        "channelId": "96C233E8A0A70FD8D49CDE691A3D85FD6302A2F705F67CFBC9",
        "queueId": "BCB546CCE59ACCB20FC27E3671EC49012D63059DDDF9E94118",
        "priority": 1,
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-d2f0-d4d9e6dfdb08\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:11:19 GMT",
        "trace-id": "335a68c3-fc1b-d07d-d71c-df05bd204f3e"
      },
      "ResponseBody": {
        "id": "7C49F7C372020CF40A991782A75855874A6064051B82397886",
        "channelReference": "IncorrectValue",
        "status": "created",
        "channelId": "96C233E8A0A70FD8D49CDE691A3D85FD6302A2F705F67CFBC9",
        "queueId": "BCB546CCE59ACCB20FC27E3671EC49012D63059DDDF9E94118",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000000-0000-0000-d2f0-d4d9e6dfdb08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/7C49F7C372020CF40A991782A75855874A6064051B82397886?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:11:20 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-0faa-e5d9e6dfdb08\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:11:19 GMT",
        "trace-id": "1b47cf79-81f2-684c-8909-2b64bf765a4c"
      },
      "ResponseBody": {
        "id": "7C49F7C372020CF40A991782A75855874A6064051B82397886",
        "channelReference": "IncorrectValue",
        "status": "queued",
        "enqueuedAt": "2023-11-07T23:11:19.4236431\u002B00:00",
        "channelId": "96C233E8A0A70FD8D49CDE691A3D85FD6302A2F705F67CFBC9",
        "queueId": "BCB546CCE59ACCB20FC27E3671EC49012D63059DDDF9E94118",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000001-0000-0000-0faa-e5d9e6dfdb08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/7C49F7C372020CF40A991782A75855874A6064051B82397886:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:11:23 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "8807eed6-5741-a44b-1b53-dd9fa8f20d07"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/BCB546CCE59ACCB20FC27E3671EC49012D63059DDDF9E94118?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:11:29 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "63e6117d-b1dc-eb9a-1626-e48199a49b98"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-8bTzRdnorESpGqcju4lPZA-",
    "RandomSeed": "609888009"
  }
}
