{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/875E38F4C747C998713EFDEE3191242573AD09C3E5EAA08E5B?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 23 Sep 2025 23:49:44 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy875E38F4C747C998713EFDEE3191242573AD09C3E5EAA08E5B",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "longestIdle"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"1300c301-0000-0700-0000-68d3321a0000\"",
        "JobRouter-Request-Handling-Region": "b-west us",
        "Last-Modified": "Tue, 23 Sep 2025 23:49:46 GMT",
        "MS-CV": "Sanitized",
        "trace-id": "6313bc88-a795-8143-b1ee-921a5f055447"
      },
      "ResponseBody": {
        "id": "875E38F4C747C998713EFDEE3191242573AD09C3E5EAA08E5B",
        "name": "LongestIdleDistributionPolicy875E38F4C747C998713EFDEE3191242573AD09C3E5EAA08E5B",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\"1300c301-0000-0700-0000-68d3321a0000\""
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/9A8C4CFA1F510AB41115B2C6BAA3F5FBEF4E696D76EA2A8A65?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 23 Sep 2025 23:49:44 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test9A8C4CFA1F510AB41115B2C6BAA3F5FBEF4E696D76EA2A8A65",
        "distributionPolicyId": "875E38F4C747C998713EFDEE3191242573AD09C3E5EAA08E5B",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"4e067543-0000-0700-0000-68d3321a0000\"",
        "JobRouter-Request-Handling-Region": "b-west us",
        "Last-Modified": "Tue, 23 Sep 2025 23:49:46 GMT",
        "MS-CV": "Sanitized",
        "trace-id": "d0db4feb-9245-c24f-2f5a-23569e770d69"
      },
      "ResponseBody": {
        "id": "9A8C4CFA1F510AB41115B2C6BAA3F5FBEF4E696D76EA2A8A65",
        "name": "DefaultQueue-Sdk-Test9A8C4CFA1F510AB41115B2C6BAA3F5FBEF4E696D76EA2A8A65",
        "distributionPolicyId": "875E38F4C747C998713EFDEE3191242573AD09C3E5EAA08E5B",
        "labels": {
          "Label_1": "Value_1",
          "Id": "9A8C4CFA1F510AB41115B2C6BAA3F5FBEF4E696D76EA2A8A65"
        },
        "etag": "\"4e067543-0000-0700-0000-68d3321a0000\""
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/6FC25EC81F5BAA9244DDEBAD1E6F63701AEF7353E6D3CBC164?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 23 Sep 2025 23:49:44 GMT"
      },
      "RequestBody": {
        "name": "StaticPriority-ClassificationPolicy",
        "prioritizationRule": {
          "kind": "static",
          "value": 10
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"07002374-0000-0700-0000-68d3321a0000\"",
        "JobRouter-Request-Handling-Region": "b-west us",
        "Last-Modified": "Tue, 23 Sep 2025 23:49:46 GMT",
        "MS-CV": "Sanitized",
        "trace-id": "917372ea-27b9-6614-9230-8873e6fc30a0"
      },
      "ResponseBody": {
        "id": "6FC25EC81F5BAA9244DDEBAD1E6F63701AEF7353E6D3CBC164",
        "name": "StaticPriority-ClassificationPolicy",
        "queueSelectorAttachments": [],
        "prioritizationRule": {
          "kind": "static",
          "value": 10
        },
        "workerSelectorAttachments": [],
        "etag": "\"07002374-0000-0700-0000-68d3321a0000\""
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/DDD8D3A8D47C5CC54B2973168F802AA4FEA9699F1BFE2F08AC?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 23 Sep 2025 23:49:44 GMT"
      },
      "RequestBody": {
        "channelReference": "123",
        "channelId": "EA009BDED2E0DD772BA7DDB18A7F7EF8A50B773A674DDD9136",
        "classificationPolicyId": "6FC25EC81F5BAA9244DDEBAD1E6F63701AEF7353E6D3CBC164",
        "queueId": "9A8C4CFA1F510AB41115B2C6BAA3F5FBEF4E696D76EA2A8A65"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"00000000-0000-0000-8b34-8de0fbfadd08\"",
        "JobRouter-Request-Handling-Region": "b-west us",
        "Last-Modified": "Tue, 23 Sep 2025 23:49:46 GMT",
        "MS-CV": "Sanitized",
        "trace-id": "40d1e058-8c07-b188-f51b-1d5d261026a7"
      },
      "ResponseBody": {
        "id": "DDD8D3A8D47C5CC54B2973168F802AA4FEA9699F1BFE2F08AC",
        "channelReference": "123",
        "status": "pendingClassification",
        "channelId": "EA009BDED2E0DD772BA7DDB18A7F7EF8A50B773A674DDD9136",
        "classificationPolicyId": "6FC25EC81F5BAA9244DDEBAD1E6F63701AEF7353E6D3CBC164",
        "queueId": "9A8C4CFA1F510AB41115B2C6BAA3F5FBEF4E696D76EA2A8A65",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "\"00000000-0000-0000-8b34-8de0fbfadd08\""
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/DDD8D3A8D47C5CC54B2973168F802AA4FEA9699F1BFE2F08AC?api-version=2024-01-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 23 Sep 2025 23:49:45 GMT"
      },[...]
