{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/B104B9EA987796336E7E4EE555E892FAD78C7B1420A0C6DAEE?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:11:30 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyB104B9EA987796336E7E4EE555E892FAD78C7B1420A0C6DAEE",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227b00e2b1-0000-0700-0000-654ac4220000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:11:30 GMT",
        "trace-id": "9bec12dc-1865-790c-9b7e-4053446ec3e4"
      },
      "ResponseBody": {
        "id": "B104B9EA987796336E7E4EE555E892FAD78C7B1420A0C6DAEE",
        "name": "LongestIdleDistributionPolicyB104B9EA987796336E7E4EE555E892FAD78C7B1420A0C6DAEE",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00227b00e2b1-0000-0700-0000-654ac4220000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/37C307076176890508171F4C922E84ADE74C29240ACC854872?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:11:30 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test37C307076176890508171F4C922E84ADE74C29240ACC854872",
        "distributionPolicyId": "B104B9EA987796336E7E4EE555E892FAD78C7B1420A0C6DAEE",
        "labels": {
          "Label_1": "Value_1"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c301af93-0000-0700-0000-654ac4220000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:11:30 GMT",
        "trace-id": "aab29a92-5f9f-8a4b-6e74-793bbc28e029"
      },
      "ResponseBody": {
        "id": "37C307076176890508171F4C922E84ADE74C29240ACC854872",
        "name": "DefaultQueue-Sdk-Test37C307076176890508171F4C922E84ADE74C29240ACC854872",
        "distributionPolicyId": "B104B9EA987796336E7E4EE555E892FAD78C7B1420A0C6DAEE",
        "labels": {
          "Label_1": "Value_1",
          "Id": "37C307076176890508171F4C922E84ADE74C29240ACC854872"
        },
        "etag": "\u0022c301af93-0000-0700-0000-654ac4220000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/DEDC55FC5FDAAA6E445D582CAEFCBACF150C4945E7BCA76BDC?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:11:30 GMT"
      },
      "RequestBody": {
        "channelReference": "IncorrectValue",
        "channelId": "0F23F2372AB0266E27E561B4CDD724324E1E529C287B4EC25E",
        "queueId": "37C307076176890508171F4C922E84ADE74C29240ACC854872",
        "priority": 1,
        "matchingMode": {
          "scheduleAt": "2100-01-01T01:01:01.0000000Z",
          "kind": "schedule-and-suspend"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-57d2-68e0e6dfdb08\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:11:30 GMT",
        "trace-id": "9a36c26f-9f87-0075-0022-c53173d269c5"
      },
      "ResponseBody": {
        "id": "DEDC55FC5FDAAA6E445D582CAEFCBACF150C4945E7BCA76BDC",
        "channelReference": "IncorrectValue",
        "status": "pendingSchedule",
        "channelId": "0F23F2372AB0266E27E561B4CDD724324E1E529C287B4EC25E",
        "queueId": "37C307076176890508171F4C922E84ADE74C29240ACC854872",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "schedule-and-suspend",
          "scheduleAt": "2100-01-01T01:01:01\u002B00:00"
        },
        "etag": "\u002200000000-0000-0000-57d2-68e0e6dfdb08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/DEDC55FC5FDAAA6E445D582CAEFCBACF150C4945E7BCA76BDC:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:11:31 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "682d98f4-421c-cbc9-50dd-d3fc7214a0d9"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/37C307076176890508171F4C922E84ADE74C29240ACC854872?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:11:36 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "c83f5a40-8da3-b3c2-34ea-e8b53fdc7882"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-VTILs9fmO0CcmnAHtrAfdA-",
    "RandomSeed": "592538290",
    "scheduled-time-utc": "2100-01-01T01:01:01.0000000\u002B00:00"
  }
}
