{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/FE6FD99D95710CDF61D21454069B25F824CC55699CAC8493D2?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 23:19:04 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyFE6FD99D95710CDF61D21454069B25F824CC55699CAC8493D2",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220a00a153-0000-0700-0000-65272d680000\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 23:19:04 GMT",
        "trace-id": "c5aecd73-cdd3-6877-14cd-1916b323c3e5"
      },
      "ResponseBody": {
        "id": "FE6FD99D95710CDF61D21454069B25F824CC55699CAC8493D2",
        "name": "LongestIdleDistributionPolicyFE6FD99D95710CDF61D21454069B25F824CC55699CAC8493D2",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/D2E922AF560B4EC9E96519FA4B8EFF309C7BF9C1A6D646C503?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 23:19:04 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-TestD2E922AF560B4EC9E96519FA4B8EFF309C7BF9C1A6D646C503",
        "distributionPolicyId": "FE6FD99D95710CDF61D21454069B25F824CC55699CAC8493D2",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222201b2fd-0000-0700-0000-65272d680000\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 23:19:04 GMT",
        "trace-id": "1d37249a-4b7a-771a-05fb-3c9af394405d"
      },
      "ResponseBody": {
        "id": "D2E922AF560B4EC9E96519FA4B8EFF309C7BF9C1A6D646C503",
        "name": "DefaultQueue-Sdk-TestD2E922AF560B4EC9E96519FA4B8EFF309C7BF9C1A6D646C503",
        "distributionPolicyId": "FE6FD99D95710CDF61D21454069B25F824CC55699CAC8493D2",
        "labels": {
          "Label_1": "Value_1",
          "Id": "D2E922AF560B4EC9E96519FA4B8EFF309C7BF9C1A6D646C503"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/D79780285A120A17270981E601C6A4F509B4D4109C0796C254?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 23:19:04 GMT"
      },
      "RequestBody": {
        "channelReference": "IncorrectValue",
        "channelId": "0F23F2372AB0266E27E561B4CDD724324E1E529C287B4EC25E",
        "queueId": "D2E922AF560B4EC9E96519FA4B8EFF309C7BF9C1A6D646C503",
        "priority": 1,
        "matchingMode": {
          "scheduleAt": "2023-10-11T23:19:11.4844214Z",
          "kind": "schedule-and-suspend"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-6dac-0e76b0cadb08\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 23:19:04 GMT",
        "trace-id": "704b223f-1a4e-5c9d-08e0-a003e68c28f8"
      },
      "ResponseBody": {
        "id": "D79780285A120A17270981E601C6A4F509B4D4109C0796C254",
        "channelReference": "IncorrectValue",
        "status": "pendingSchedule",
        "channelId": "0F23F2372AB0266E27E561B4CDD724324E1E529C287B4EC25E",
        "queueId": "D2E922AF560B4EC9E96519FA4B8EFF309C7BF9C1A6D646C503",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {},
        "matchingMode": {
          "kind": "schedule-and-suspend",
          "scheduleAt": "2023-10-11T23:19:11.4844214\u002B00:00"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-8LZQXZhk40S9Sviy6Ul5-Q-",
    "RandomSeed": "1665072828",
    "scheduled-time-utc": "2023-10-11T23:19:11.4844214\u002B00:00"
  }
}
