{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/0C6D26125144FBEC79BDCE32B10725BCDF3A36D737B64E7973?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:02:06 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy0C6D26125144FBEC79BDCE32B10725BCDF3A36D737B64E7973",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "longestIdle"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002202004481-0000-0700-0000-65c5252e0000\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 19:02:06 GMT",
        "trace-id": "6c29b9cf-1532-7ce4-8a19-1910f4485954"
      },
      "ResponseBody": {
        "id": "0C6D26125144FBEC79BDCE32B10725BCDF3A36D737B64E7973",
        "name": "LongestIdleDistributionPolicy0C6D26125144FBEC79BDCE32B10725BCDF3A36D737B64E7973",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u002202004481-0000-0700-0000-65c5252e0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/56166509A5DBC2C12C1EB3396AF02DD0516C5D70C6A3874E0F?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:02:07 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test56166509A5DBC2C12C1EB3396AF02DD0516C5D70C6A3874E0F",
        "distributionPolicyId": "0C6D26125144FBEC79BDCE32B10725BCDF3A36D737B64E7973",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ae00729a-0000-0700-0000-65c5252e0000\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 19:02:06 GMT",
        "trace-id": "1d81c0ac-d34b-ae24-cf14-a623ed70287a"
      },
      "ResponseBody": {
        "id": "56166509A5DBC2C12C1EB3396AF02DD0516C5D70C6A3874E0F",
        "name": "DefaultQueue-Sdk-Test56166509A5DBC2C12C1EB3396AF02DD0516C5D70C6A3874E0F",
        "distributionPolicyId": "0C6D26125144FBEC79BDCE32B10725BCDF3A36D737B64E7973",
        "labels": {
          "Label_1": "Value_1",
          "Id": "56166509A5DBC2C12C1EB3396AF02DD0516C5D70C6A3874E0F"
        },
        "etag": "\u0022ae00729a-0000-0700-0000-65c5252e0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/237597B307879B7D4DB746AA6CA06AED7891AF9CE20DD26948?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:02:07 GMT"
      },
      "RequestBody": {
        "channelReference": "IncorrectValue",
        "channelId": "0F23F2372AB0266E27E561B4CDD724324E1E529C287B4EC25E",
        "queueId": "56166509A5DBC2C12C1EB3396AF02DD0516C5D70C6A3874E0F",
        "priority": 1,
        "matchingMode": {
          "scheduleAt": "2100-01-01T01:01:01.0000000Z",
          "kind": "scheduleAndSuspend"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-baf2-a671d828dc08\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 19:02:06 GMT",
        "trace-id": "1a1f7365-27d9-1837-c538-4aba4c0ea823"
      },
      "ResponseBody": {
        "id": "237597B307879B7D4DB746AA6CA06AED7891AF9CE20DD26948",
        "channelReference": "IncorrectValue",
        "status": "pendingSchedule",
        "channelId": "0F23F2372AB0266E27E561B4CDD724324E1E529C287B4EC25E",
        "queueId": "56166509A5DBC2C12C1EB3396AF02DD0516C5D70C6A3874E0F",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "scheduleAndSuspend",
          "scheduleAt": "2100-01-01T01:01:01\u002B00:00"
        },
        "etag": "\u002200000000-0000-0000-baf2-a671d828dc08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/237597B307879B7D4DB746AA6CA06AED7891AF9CE20DD26948:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:02:08 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "c6147266-8ea9-dd92-a2e0-7679f72caebe"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/56166509A5DBC2C12C1EB3396AF02DD0516C5D70C6A3874E0F?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:02:13 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "eadbc074-fe9c-86b2-7a9c-f83b2df11f1a"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-Zpci20NgMUC9GNyeMzy1MA-",
    "RandomSeed": "516224250",
    "scheduled-time-utc": "2100-01-01T01:01:01.0000000\u002B00:00"
  }
}
