{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/6D038875810767DC1352A1FCFC0AE5E1FC07CB87E532EF88EF?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 22:00:37 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy6D038875810767DC1352A1FCFC0AE5E1FC07CB87E532EF88EF",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224a00a464-0000-0700-0000-654179090000\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 22:00:41 GMT",
        "trace-id": "a2e4fdde-cccc-2a2a-ab13-80d66d8071ff"
      },
      "ResponseBody": {
        "id": "6D038875810767DC1352A1FCFC0AE5E1FC07CB87E532EF88EF",
        "name": "LongestIdleDistributionPolicy6D038875810767DC1352A1FCFC0AE5E1FC07CB87E532EF88EF",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00224a00a464-0000-0700-0000-654179090000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/A18573EC35D090874F780C5475F9775B174803CA43D42DC046?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 22:00:37 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-TestA18573EC35D090874F780C5475F9775B174803CA43D42DC046",
        "distributionPolicyId": "6D038875810767DC1352A1FCFC0AE5E1FC07CB87E532EF88EF",
        "labels": {
          "Label_1": "Value_1"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220e01d458-0000-0700-0000-654179090000\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 22:00:41 GMT",
        "trace-id": "91e90bf7-1817-3cdd-ffb4-85f13cf80e5f"
      },
      "ResponseBody": {
        "id": "A18573EC35D090874F780C5475F9775B174803CA43D42DC046",
        "name": "DefaultQueue-Sdk-TestA18573EC35D090874F780C5475F9775B174803CA43D42DC046",
        "distributionPolicyId": "6D038875810767DC1352A1FCFC0AE5E1FC07CB87E532EF88EF",
        "labels": {
          "Label_1": "Value_1",
          "Id": "A18573EC35D090874F780C5475F9775B174803CA43D42DC046"
        },
        "etag": "\u00220e01d458-0000-0700-0000-654179090000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/8D1E30894BA8ABF968ECC20242AA338871E86A585CD5C36D97?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 22:00:37 GMT"
      },
      "RequestBody": {
        "channelReference": "IncorrectValue",
        "channelId": "96C233E8A0A70FD8D49CDE691A3D85FD6302A2F705F67CFBC9",
        "queueId": "A18573EC35D090874F780C5475F9775B174803CA43D42DC046",
        "priority": 1,
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-adbf-19d35cdadb08\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 22:00:41 GMT",
        "trace-id": "d519bbb1-5d44-fca7-74b8-84521eff90dc"
      },
      "ResponseBody": {
        "id": "8D1E30894BA8ABF968ECC20242AA338871E86A585CD5C36D97",
        "channelReference": "IncorrectValue",
        "status": "created",
        "channelId": "96C233E8A0A70FD8D49CDE691A3D85FD6302A2F705F67CFBC9",
        "queueId": "A18573EC35D090874F780C5475F9775B174803CA43D42DC046",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000000-0000-0000-adbf-19d35cdadb08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/8D1E30894BA8ABF968ECC20242AA338871E86A585CD5C36D97?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 22:00:38 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-edb7-2cd35cdadb08\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 22:00:41 GMT",
        "trace-id": "2ee09155-4aae-af2c-28ba-33d8d8fb3215"
      },
      "ResponseBody": {
        "id": "8D1E30894BA8ABF968ECC20242AA338871E86A585CD5C36D97",
        "channelReference": "IncorrectValue",
        "status": "queued",
        "enqueuedAt": "2023-10-31T22:00:41.7826797\u002B00:00",
        "channelId": "96C233E8A0A70FD8D49CDE691A3D85FD6302A2F705F67CFBC9",
        "queueId": "A18573EC35D090874F780C5475F9775B174803CA43D42DC046",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000001-0000-0000-edb7-2cd35cdadb08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/8D1E30894BA8ABF968ECC20242AA338871E86A585CD5C36D97:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 22:00:41 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "637041a3-1b48-a248-eeb8-45e4c97044f8"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/A18573EC35D090874F780C5475F9775B174803CA43D42DC046?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 22:00:47 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "bc3ec65e-8446-7482-e8a7-7671ebf00d4a"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-1111_7x99kux3Jg2p8Ezig-",
    "RandomSeed": "291962324"
  }
}
