{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/BA5C2DA14353B1CA28BBC90A05EDB041FFFBCA08FCAF8EFD6A?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:05:59 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyBA5C2DA14353B1CA28BBC90A05EDB041FFFBCA08FCAF8EFD6A",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "longestIdle"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022090092d7-0000-0700-0000-65de78e70000\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:05:59 GMT",
        "trace-id": "eab63177-9e4b-6cfa-6399-17839d4f5eb4"
      },
      "ResponseBody": {
        "id": "BA5C2DA14353B1CA28BBC90A05EDB041FFFBCA08FCAF8EFD6A",
        "name": "LongestIdleDistributionPolicyBA5C2DA14353B1CA28BBC90A05EDB041FFFBCA08FCAF8EFD6A",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u0022090092d7-0000-0700-0000-65de78e70000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/B22E0CDA2E0D52B1B06F8D622EA5F1BD403F30155C5E9B9D44?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:05:59 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-TestB22E0CDA2E0D52B1B06F8D622EA5F1BD403F30155C5E9B9D44",
        "distributionPolicyId": "BA5C2DA14353B1CA28BBC90A05EDB041FFFBCA08FCAF8EFD6A",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022e5020be2-0000-0700-0000-65de78e80000\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:06:00 GMT",
        "trace-id": "3b3ed371-4506-6a3c-a100-48d914690c14"
      },
      "ResponseBody": {
        "id": "B22E0CDA2E0D52B1B06F8D622EA5F1BD403F30155C5E9B9D44",
        "name": "DefaultQueue-Sdk-TestB22E0CDA2E0D52B1B06F8D622EA5F1BD403F30155C5E9B9D44",
        "distributionPolicyId": "BA5C2DA14353B1CA28BBC90A05EDB041FFFBCA08FCAF8EFD6A",
        "labels": {
          "Label_1": "Value_1",
          "Id": "B22E0CDA2E0D52B1B06F8D622EA5F1BD403F30155C5E9B9D44"
        },
        "etag": "\u0022e5020be2-0000-0700-0000-65de78e80000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/491DFC8372B3AF7B5D37D18FC0487E7AA22CE2BDB54B16DF43?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:05:59 GMT"
      },
      "RequestBody": {
        "channelReference": "IncorrectValue",
        "channelId": "60EC89B7474A94AF0BDB2377B37DF4A147FF2AE1D0D5EE90CB",
        "queueId": "B22E0CDA2E0D52B1B06F8D622EA5F1BD403F30155C5E9B9D44",
        "priority": 1,
        "matchingMode": {
          "kind": "suspend"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-a5f9-a20bf137dc08\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:06:00 GMT",
        "trace-id": "4e3e27a6-0c13-dca2-19bb-98bedaacf07a"
      },
      "ResponseBody": {
        "id": "491DFC8372B3AF7B5D37D18FC0487E7AA22CE2BDB54B16DF43",
        "channelReference": "IncorrectValue",
        "status": "waitingForActivation",
        "channelId": "60EC89B7474A94AF0BDB2377B37DF4A147FF2AE1D0D5EE90CB",
        "queueId": "B22E0CDA2E0D52B1B06F8D622EA5F1BD403F30155C5E9B9D44",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "suspend"
        },
        "etag": "\u002200000000-0000-0000-a5f9-a20bf137dc08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/491DFC8372B3AF7B5D37D18FC0487E7AA22CE2BDB54B16DF43:cancel?api-version=2024-01-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:06:02 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "79c01d04-a7c4-2a4c-3754-7155d7c6671b"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/B22E0CDA2E0D52B1B06F8D622EA5F1BD403F30155C5E9B9D44?api-version=2024-01-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:06:08 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "trace-id": "12bb8b22-240c-7e30-ea6c-bf6361efee60"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-PUp8mSbxkkGRSORnNE9Tng-",
    "RandomSeed": "1011469746"
  }
}
