{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/155A2062C6CBAD62B675FC3B6C5E54FF4214B803ECB99489C2?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 19:04:53 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy155A2062C6CBAD62B675FC3B6C5E54FF4214B803ECB99489C2",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002242007276-0000-0700-0000-653ffe540000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 19:04:52 GMT",
        "trace-id": "91dd04fe-19bc-5d13-4280-4a07bc37320f"
      },
      "ResponseBody": {
        "id": "155A2062C6CBAD62B675FC3B6C5E54FF4214B803ECB99489C2",
        "name": "LongestIdleDistributionPolicy155A2062C6CBAD62B675FC3B6C5E54FF4214B803ECB99489C2",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u002242007276-0000-0700-0000-653ffe540000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/685E83FE73EF1F4E95D4CAB47CB407A580590C443B355DA904?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 19:04:54 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test685E83FE73EF1F4E95D4CAB47CB407A580590C443B355DA904",
        "distributionPolicyId": "155A2062C6CBAD62B675FC3B6C5E54FF4214B803ECB99489C2",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022f100424a-0000-0700-0000-653ffe540000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 19:04:52 GMT",
        "trace-id": "51c9bd0c-a0fe-82a2-7798-a468dfc5d187"
      },
      "ResponseBody": {
        "id": "685E83FE73EF1F4E95D4CAB47CB407A580590C443B355DA904",
        "name": "DefaultQueue-Sdk-Test685E83FE73EF1F4E95D4CAB47CB407A580590C443B355DA904",
        "distributionPolicyId": "155A2062C6CBAD62B675FC3B6C5E54FF4214B803ECB99489C2",
        "labels": {
          "Label_1": "Value_1",
          "Id": "685E83FE73EF1F4E95D4CAB47CB407A580590C443B355DA904"
        },
        "etag": "\u0022f100424a-0000-0700-0000-653ffe540000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/D42E47C86EEE4AEAC678532DC1B3E0DF10B46456F3FEB52EA9?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 19:04:54 GMT"
      },
      "RequestBody": {
        "channelId": "DF0949209271FC38E89CAC9F56F525CEBEA23300BD181BF963",
        "queueId": "685E83FE73EF1F4E95D4CAB47CB407A580590C443B355DA904",
        "priority": 1,
        "matchingMode": {
          "scheduleAt": "2023-10-30T19:05:54.5121223Z",
          "kind": "schedule-and-suspend"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-cea1-25197bd9db08\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 19:04:52 GMT",
        "trace-id": "857c85c8-2920-e5ee-6e24-750f7b444128"
      },
      "ResponseBody": {
        "id": "D42E47C86EEE4AEAC678532DC1B3E0DF10B46456F3FEB52EA9",
        "status": "pendingSchedule",
        "channelId": "DF0949209271FC38E89CAC9F56F525CEBEA23300BD181BF963",
        "queueId": "685E83FE73EF1F4E95D4CAB47CB407A580590C443B355DA904",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "schedule-and-suspend",
          "scheduleAt": "2023-10-30T19:05:54.5121223\u002B00:00"
        },
        "etag": "\u002200000000-0000-0000-cea1-25197bd9db08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs?api-version=2023-11-01\u0026queueId=685E83FE73EF1F4E95D4CAB47CB407A580590C443B355DA904\u0026channelId=DF0949209271FC38E89CAC9F56F525CEBEA23300BD181BF963\u0026scheduledAfter=2023-10-30T19%3A05%3A54.5121223Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 19:04:54 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "43b33b30-2703-4d75-7609-1f272abab6ce"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "D42E47C86EEE4AEAC678532DC1B3E0DF10B46456F3FEB52EA9",
            "status": "pendingSchedule",
            "channelId": "DF0949209271FC38E89CAC9F56F525CEBEA23300BD181BF963",
            "queueId": "685E83FE73EF1F4E95D4CAB47CB407A580590C443B355DA904",
            "priority": 1,
            "requestedWorkerSelectors": [],
            "attachedWorkerSelectors": [],
            "labels": {},
            "assignments": {},
            "tags": {},
            "notes": [],
            "matchingMode": {
              "kind": "schedule-and-suspend",
              "scheduleAt": "2023-10-30T19:05:54.5121223\u002B00:00"
            },
            "etag": "\u002200000000-0000-0000-cea1-25197bd9db08\u0022"
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/D42E47C86EEE4AEAC678532DC1B3E0DF10B46456F3FEB52EA9:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 19:04:57 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "ec4c02fd-2e26-c51d-dce1-ce7b17e3e6f7"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/685E83FE73EF1F4E95D4CAB47CB407A580590C443B355DA904?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 19:05:03 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "0b4f274e-9048-0a03-821c-45a50c5e8b5e"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-qohXT4TbNEadGlhDA8TzPA-",
    "RandomSeed": "2049448127",
    "scheduled-time-utc": "2023-10-30T19:05:54.5121223\u002B00:00"
  }
}
