{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/FFC858E7A75F575BFDFABFFA3978BF97AEB479659FBBC95149?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:36:46 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyFFC858E7A75F575BFDFABFFA3978BF97AEB479659FBBC95149",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022a4007291-0000-0700-0000-65525ead0000\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:36:45 GMT",
        "trace-id": "a7ce09de-effc-c80e-1314-a13ec1c14e5b"
      },
      "ResponseBody": {
        "id": "FFC858E7A75F575BFDFABFFA3978BF97AEB479659FBBC95149",
        "name": "LongestIdleDistributionPolicyFFC858E7A75F575BFDFABFFA3978BF97AEB479659FBBC95149",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u0022a4007291-0000-0700-0000-65525ead0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/C1BC7561FAAD031ACA290D99C8767648A375D757AE6AE0ACCE?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:36:47 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-TestC1BC7561FAAD031ACA290D99C8767648A375D757AE6AE0ACCE",
        "distributionPolicyId": "FFC858E7A75F575BFDFABFFA3978BF97AEB479659FBBC95149",
        "labels": {
          "Label_1": "Value_1"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002259026b47-0000-0700-0000-65525eae0000\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:36:46 GMT",
        "trace-id": "0d48a136-c7f8-3b56-f371-d489526f8de2"
      },
      "ResponseBody": {
        "id": "C1BC7561FAAD031ACA290D99C8767648A375D757AE6AE0ACCE",
        "name": "DefaultQueue-Sdk-TestC1BC7561FAAD031ACA290D99C8767648A375D757AE6AE0ACCE",
        "distributionPolicyId": "FFC858E7A75F575BFDFABFFA3978BF97AEB479659FBBC95149",
        "labels": {
          "Label_1": "Value_1",
          "Id": "C1BC7561FAAD031ACA290D99C8767648A375D757AE6AE0ACCE"
        },
        "etag": "\u002259026b47-0000-0700-0000-65525eae0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/E76AF62E6BDB87F85DDEAF90C2A3CEFF19F05D2996D3C3C025?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:36:47 GMT"
      },
      "RequestBody": {
        "channelId": "DF0949209271FC38E89CAC9F56F525CEBEA23300BD181BF963",
        "queueId": "C1BC7561FAAD031ACA290D99C8767648A375D757AE6AE0ACCE",
        "priority": 1,
        "matchingMode": {
          "scheduleAt": "2023-11-13T17:37:47.7853552Z",
          "kind": "scheduleAndSuspend"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-155d-111c6fe4db08\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:36:46 GMT",
        "trace-id": "3d58f6f4-4217-a490-bfd5-43b0396e4620"
      },
      "ResponseBody": {
        "id": "E76AF62E6BDB87F85DDEAF90C2A3CEFF19F05D2996D3C3C025",
        "status": "pendingSchedule",
        "channelId": "DF0949209271FC38E89CAC9F56F525CEBEA23300BD181BF963",
        "queueId": "C1BC7561FAAD031ACA290D99C8767648A375D757AE6AE0ACCE",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "scheduleAndSuspend",
          "scheduleAt": "2023-11-13T17:37:47.7853552\u002B00:00"
        },
        "etag": "\u002200000000-0000-0000-155d-111c6fe4db08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs?api-version=2023-11-01\u0026queueId=C1BC7561FAAD031ACA290D99C8767648A375D757AE6AE0ACCE\u0026channelId=DF0949209271FC38E89CAC9F56F525CEBEA23300BD181BF963\u0026scheduledAfter=2023-11-13T17%3A37%3A47.7853552Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:36:48 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "8ae1dbab-3452-e3ac-03c0-259269214dbd"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "E76AF62E6BDB87F85DDEAF90C2A3CEFF19F05D2996D3C3C025",
            "status": "pendingSchedule",
            "channelId": "DF0949209271FC38E89CAC9F56F525CEBEA23300BD181BF963",
            "queueId": "C1BC7561FAAD031ACA290D99C8767648A375D757AE6AE0ACCE",
            "priority": 1,
            "requestedWorkerSelectors": [],
            "attachedWorkerSelectors": [],
            "labels": {},
            "assignments": {},
            "tags": {},
            "notes": [],
            "matchingMode": {
              "kind": "scheduleAndSuspend",
              "scheduleAt": "2023-11-13T17:37:47.7853552\u002B00:00"
            },
            "etag": "\u002200000000-0000-0000-155d-111c6fe4db08\u0022"
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/E76AF62E6BDB87F85DDEAF90C2A3CEFF19F05D2996D3C3C025:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:36:51 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "facc6d7c-ee5a-55f6-4b66-bc96d90e499b"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/C1BC7561FAAD031ACA290D99C8767648A375D757AE6AE0ACCE?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:36:56 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "f48fe532-6f45-7ba8-1827-28a506d87cea"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-Rr5qJx1ja0Ke8yFD84FX9w-",
    "RandomSeed": "1506488011",
    "scheduled-time-utc": "2023-11-13T17:37:47.7853552\u002B00:00"
  }
}
