{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/0D01666830163623DDE60DF8118B7E12419FB41C7CC1099719?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 22:01:05 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy0D01666830163623DDE60DF8118B7E12419FB41C7CC1099719",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224a002465-0000-0700-0000-654179260000\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 22:01:10 GMT",
        "trace-id": "e5ecd7b8-4626-c395-1e17-83c8ea948587"
      },
      "ResponseBody": {
        "id": "0D01666830163623DDE60DF8118B7E12419FB41C7CC1099719",
        "name": "LongestIdleDistributionPolicy0D01666830163623DDE60DF8118B7E12419FB41C7CC1099719",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00224a002465-0000-0700-0000-654179260000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/186CF84D43194794A9D126945F5E0D361426511D8779E78A18?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 22:01:06 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test186CF84D43194794A9D126945F5E0D361426511D8779E78A18",
        "distributionPolicyId": "0D01666830163623DDE60DF8118B7E12419FB41C7CC1099719",
        "labels": {
          "Label_1": "Value_1"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220e01cc5a-0000-0700-0000-654179260000\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 22:01:10 GMT",
        "trace-id": "006ab108-9c89-80ab-331b-07369d53c1dd"
      },
      "ResponseBody": {
        "id": "186CF84D43194794A9D126945F5E0D361426511D8779E78A18",
        "name": "DefaultQueue-Sdk-Test186CF84D43194794A9D126945F5E0D361426511D8779E78A18",
        "distributionPolicyId": "0D01666830163623DDE60DF8118B7E12419FB41C7CC1099719",
        "labels": {
          "Label_1": "Value_1",
          "Id": "186CF84D43194794A9D126945F5E0D361426511D8779E78A18"
        },
        "etag": "\u00220e01cc5a-0000-0700-0000-654179260000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/3181586D3EE8BD92BD4A8459F3E4FA796B502693F032F67980?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 22:01:06 GMT"
      },
      "RequestBody": {
        "channelId": "D61D8F8C09CF206ED74F7974C8A92CCB1B381490C0ACE4505C",
        "queueId": "186CF84D43194794A9D126945F5E0D361426511D8779E78A18",
        "priority": 1,
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-40e2-45e45cdadb08\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 22:01:10 GMT",
        "trace-id": "035804ff-2d50-7cbf-e243-78ae521910e2"
      },
      "ResponseBody": {
        "id": "3181586D3EE8BD92BD4A8459F3E4FA796B502693F032F67980",
        "status": "created",
        "channelId": "D61D8F8C09CF206ED74F7974C8A92CCB1B381490C0ACE4505C",
        "queueId": "186CF84D43194794A9D126945F5E0D361426511D8779E78A18",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000000-0000-0000-40e2-45e45cdadb08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/3181586D3EE8BD92BD4A8459F3E4FA796B502693F032F67980?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 22:01:07 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-72d4-57e45cdadb08\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 22:01:10 GMT",
        "trace-id": "b6f50c94-9050-d49e-fedf-171f9185020a"
      },
      "ResponseBody": {
        "id": "3181586D3EE8BD92BD4A8459F3E4FA796B502693F032F67980",
        "status": "queued",
        "enqueuedAt": "2023-10-31T22:01:10.5864818\u002B00:00",
        "channelId": "D61D8F8C09CF206ED74F7974C8A92CCB1B381490C0ACE4505C",
        "queueId": "186CF84D43194794A9D126945F5E0D361426511D8779E78A18",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000001-0000-0000-72d4-57e45cdadb08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/3181586D3EE8BD92BD4A8459F3E4FA796B502693F032F67980:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 22:01:07 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "c73a7fb2-d848-fa35-41d8-b79c29c2d404"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs?api-version=2023-11-01\u0026queueId=186CF84D43194794A9D126945F5E0D361426511D8779E78A18\u0026channelId=D61D8F8C09CF206ED74F7974C8A92CCB1B381490C0ACE4505C",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 22:01:08 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "da9b2df8-7788-8f14-d6e2-b4140c2677a8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "4DFCCC9DB492AC7B8269C9451A55348DA7114E147797602984",
            "status": "queued",
            "enqueuedAt": "2023-10-31T22:01:12.0464399\u002B00:00",
            "channelId": "D61D8F8C09CF206ED74F7974C8A92CCB1B381490C0ACE4505C",
            "queueId": "186CF84D43194794A9D126945F5E0D361426511D8779E78A18",
            "priority": 1,
            "requestedWorkerSelectors": [],
            "attachedWorkerSelectors": [],
            "labels": {},
            "assignments": {},
            "tags": {},
            "notes": [],
            "matchingMode": {
              "kind": "queue-and-match"
            },
            "etag": "\u002200000001-0000-0000-0f9a-36e55cdadb08\u0022"
          },
          {
            "id": "3181586D3EE8BD92BD4A8459F3E4FA796B502693F032F67980",
            "status": "cancelled",
            "enqueuedAt": "2023-10-31T22:01:10.5864818\u002B00:00",
            "channelId": "D61D8F8C09CF206ED74F7974C8A92CCB1B381490C0ACE4505C",
            "queueId": "186CF84D43194794A9D126945F5E0D361426511D8779E78A18",
            "priority": 1,
            "dispositionCode": "Cancelled",
            "requestedWorkerSelectors": [],
            "attachedWorkerSelectors": [],
            "labels": {},
            "assignments": {},
            "tags": {},
            "notes": [],
            "matchingMode": {
              "kind": "queue-and-match"
            },
            "etag": "\u002200000002-0000-0000-2095-0ee55cdadb08\u0022"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/186CF84D43194794A9D126945F5E0D361426511D8779E78A18?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 22:01:15 GMT"
      },
      "RequestBody": null,
      "StatusCode": 500,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-J1ESzg-XQ0CFrL85_4erJw-",
    "RandomSeed": "1650747005"
  }
}
