{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/D402F03D713AE6ECF7B3FBE30A0FC22844396064898D545D68?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:06:40 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyD402F03D713AE6ECF7B3FBE30A0FC22844396064898D545D68",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "longestIdle"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220900a0d7-0000-0700-0000-65de79110000\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:06:41 GMT",
        "trace-id": "4a13ea22-555b-3407-f3e7-26b71978fb83"
      },
      "ResponseBody": {
        "id": "D402F03D713AE6ECF7B3FBE30A0FC22844396064898D545D68",
        "name": "LongestIdleDistributionPolicyD402F03D713AE6ECF7B3FBE30A0FC22844396064898D545D68",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00220900a0d7-0000-0700-0000-65de79110000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/C33BE10E52BC6627D286F08C73DFEAB2E3059BF551C3A08019?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:06:41 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-TestC33BE10E52BC6627D286F08C73DFEAB2E3059BF551C3A08019",
        "distributionPolicyId": "D402F03D713AE6ECF7B3FBE30A0FC22844396064898D545D68",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022e50229e6-0000-0700-0000-65de79110000\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:06:41 GMT",
        "trace-id": "04bda2f2-7f97-e8b3-0081-1ddcd1b46eed"
      },
      "ResponseBody": {
        "id": "C33BE10E52BC6627D286F08C73DFEAB2E3059BF551C3A08019",
        "name": "DefaultQueue-Sdk-TestC33BE10E52BC6627D286F08C73DFEAB2E3059BF551C3A08019",
        "distributionPolicyId": "D402F03D713AE6ECF7B3FBE30A0FC22844396064898D545D68",
        "labels": {
          "Label_1": "Value_1",
          "Id": "C33BE10E52BC6627D286F08C73DFEAB2E3059BF551C3A08019"
        },
        "etag": "\u0022e50229e6-0000-0700-0000-65de79110000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/DCED2AE279E198B8519832183C9DCB940D9286530B08B23B99?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:06:41 GMT"
      },
      "RequestBody": {
        "channelId": "DF0949209271FC38E89CAC9F56F525CEBEA23300BD181BF963",
        "queueId": "C33BE10E52BC6627D286F08C73DFEAB2E3059BF551C3A08019",
        "priority": 1,
        "matchingMode": {
          "scheduleAt": "2024-02-28T00:07:41.4161490Z",
          "kind": "scheduleAndSuspend"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-8a6e-8024f137dc08\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:06:41 GMT",
        "trace-id": "5574b26b-6c4e-943b-51ca-07a2a815cfd2"
      },
      "ResponseBody": {
        "id": "DCED2AE279E198B8519832183C9DCB940D9286530B08B23B99",
        "status": "pendingSchedule",
        "channelId": "DF0949209271FC38E89CAC9F56F525CEBEA23300BD181BF963",
        "queueId": "C33BE10E52BC6627D286F08C73DFEAB2E3059BF551C3A08019",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "scheduleAndSuspend",
          "scheduleAt": "2024-02-28T00:07:41.416149\u002B00:00"
        },
        "etag": "\u002200000000-0000-0000-8a6e-8024f137dc08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs?api-version=2024-01-18-preview\u0026maxpagesize=1\u0026queueId=C33BE10E52BC6627D286F08C73DFEAB2E3059BF551C3A08019\u0026channelId=DF0949209271FC38E89CAC9F56F525CEBEA23300BD181BF963\u0026scheduledAfter=2024-02-28T00%3A07%3A41.4161490Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:06:41 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "d5cf1b9b-2f26-8831-ed30-420ff74fff52"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "DCED2AE279E198B8519832183C9DCB940D9286530B08B23B99",
            "status": "pendingSchedule",
            "channelId": "DF0949209271FC38E89CAC9F56F525CEBEA23300BD181BF963",
            "queueId": "C33BE10E52BC6627D286F08C73DFEAB2E3059BF551C3A08019",
            "priority": 1,
            "requestedWorkerSelectors": [],
            "attachedWorkerSelectors": [],
            "labels": {},
            "assignments": {},
            "tags": {},
            "notes": [],
            "matchingMode": {
              "kind": "scheduleAndSuspend",
              "scheduleAt": "2024-02-28T00:07:41.416149\u002B00:00"
            },
            "etag": "\u002200000000-0000-0000-8a6e-8024f137dc08\u0022"
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/DCED2AE279E198B8519832183C9DCB940D9286530B08B23B99:cancel?api-version=2024-01-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:06:44 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "0b6c69e2-3868-03cf-00e7-9eb1d4de91dc"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://rsarkar-ppe-test.ppe.communication.azure.net/routing/distributionPolicies/D402F03D713AE6ECF7B3FBE30A0FC22844396064898D545D68?api-version=2024-01-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "HMAC-SHA256 SignedHeaders=x-ms-date;host;x-ms-content-sha256\u0026Signature=LtxLDjTHDacvtQJuiUk8Qb665ScllLW7/zH2CNzJQKs=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Wed, 28 Feb 2024 00:06:50 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "trace-id": "59a059df-e73e-5c84-b8af-df327cbe7dab"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-yRFhUx8UZEq7J8gC9IfHTw-",
    "RandomSeed": "1646661944",
    "scheduled-time-utc": "2024-02-28T00:07:41.4161490\u002B00:00"
  }
}
