{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/12142837482D17AAAE7889DDCCDE63AE6EBD40FF64BE2DCAC4?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 17:20:24 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy12142837482D17AAAE7889DDCCDE63AE6EBD40FF64BE2DCAC4",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002279007afd-0000-0700-0000-654a71d80000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 17:20:24 GMT",
        "trace-id": "d8fccde4-796c-0157-1bbe-195b5fc06e95"
      },
      "ResponseBody": {
        "id": "12142837482D17AAAE7889DDCCDE63AE6EBD40FF64BE2DCAC4",
        "name": "LongestIdleDistributionPolicy12142837482D17AAAE7889DDCCDE63AE6EBD40FF64BE2DCAC4",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u002279007afd-0000-0700-0000-654a71d80000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/6AE95D44223C7AABEAB9689F9B128259946C0014156EA8A1D6?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 17:20:25 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test6AE95D44223C7AABEAB9689F9B128259946C0014156EA8A1D6",
        "distributionPolicyId": "12142837482D17AAAE7889DDCCDE63AE6EBD40FF64BE2DCAC4",
        "labels": {
          "Label_1": "Value_1"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022bd01a056-0000-0700-0000-654a71d80000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 17:20:24 GMT",
        "trace-id": "ce8653a5-aee2-fff3-5aff-74c3791a3c4c"
      },
      "ResponseBody": {
        "id": "6AE95D44223C7AABEAB9689F9B128259946C0014156EA8A1D6",
        "name": "DefaultQueue-Sdk-Test6AE95D44223C7AABEAB9689F9B128259946C0014156EA8A1D6",
        "distributionPolicyId": "12142837482D17AAAE7889DDCCDE63AE6EBD40FF64BE2DCAC4",
        "labels": {
          "Label_1": "Value_1",
          "Id": "6AE95D44223C7AABEAB9689F9B128259946C0014156EA8A1D6"
        },
        "etag": "\u0022bd01a056-0000-0700-0000-654a71d80000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/37ADF694A3A99C59F0DFE61AB143585C503B17C163BCF89349?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 17:20:25 GMT"
      },
      "RequestBody": {
        "channelId": "D61D8F8C09CF206ED74F7974C8A92CCB1B381490C0ACE4505C",
        "queueId": "6AE95D44223C7AABEAB9689F9B128259946C0014156EA8A1D6",
        "priority": 1,
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-ee15-63d4b5dfdb08\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 17:20:24 GMT",
        "trace-id": "442326fc-bbdb-99a4-dfb3-3c1ed4e5b073"
      },
      "ResponseBody": {
        "id": "37ADF694A3A99C59F0DFE61AB143585C503B17C163BCF89349",
        "status": "created",
        "channelId": "D61D8F8C09CF206ED74F7974C8A92CCB1B381490C0ACE4505C",
        "queueId": "6AE95D44223C7AABEAB9689F9B128259946C0014156EA8A1D6",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000000-0000-0000-ee15-63d4b5dfdb08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/37ADF694A3A99C59F0DFE61AB143585C503B17C163BCF89349?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 17:20:27 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-98ea-8ed4b5dfdb08\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 17:20:25 GMT",
        "trace-id": "6d2b7e23-2c82-64d2-e9e6-1370a48c874d"
      },
      "ResponseBody": {
        "id": "37ADF694A3A99C59F0DFE61AB143585C503B17C163BCF89349",
        "status": "queued",
        "enqueuedAt": "2023-11-07T17:20:25.1267736\u002B00:00",
        "channelId": "D61D8F8C09CF206ED74F7974C8A92CCB1B381490C0ACE4505C",
        "queueId": "6AE95D44223C7AABEAB9689F9B128259946C0014156EA8A1D6",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000001-0000-0000-98ea-8ed4b5dfdb08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/37ADF694A3A99C59F0DFE61AB143585C503B17C163BCF89349:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 17:20:27 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "f977c6c7-72c6-ae7f-bbe9-95e5103dae5e"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs?api-version=2023-11-01\u0026queueId=6AE95D44223C7AABEAB9689F9B128259946C0014156EA8A1D6\u0026channelId=D61D8F8C09CF206ED74F7974C8A92CCB1B381490C0ACE4505C",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 17:20:29 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "254b1e32-13f6-ec3d-1cc5-2fed2af53ea5"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "F585C98954539944C0DEDCC2EF17021F5E9CB9E7145DEC5DA2",
            "status": "queued",
            "enqueuedAt": "2023-11-07T17:20:27.0330362\u002B00:00",
            "channelId": "D61D8F8C09CF206ED74F7974C8A92CCB1B381490C0ACE4505C",
            "queueId": "6AE95D44223C7AABEAB9689F9B128259946C0014156EA8A1D6",
            "priority": 1,
            "requestedWorkerSelectors": [],
            "attachedWorkerSelectors": [],
            "labels": {},
            "assignments": {},
            "tags": {},
            "notes": [],
            "matchingMode": {
              "kind": "queue-and-match"
            },
            "etag": "\u002200000001-0000-0000-fac9-b1d5b5dfdb08\u0022"
          },
          {
            "id": "37ADF694A3A99C59F0DFE61AB143585C503B17C163BCF89349",
            "status": "cancelled",
            "enqueuedAt": "2023-11-07T17:20:25.1267736\u002B00:00",
            "channelId": "D61D8F8C09CF206ED74F7974C8A92CCB1B381490C0ACE4505C",
            "queueId": "6AE95D44223C7AABEAB9689F9B128259946C0014156EA8A1D6",
            "priority": 1,
            "dispositionCode": "Cancelled",
            "requestedWorkerSelectors": [],
            "attachedWorkerSelectors": [],
            "labels": {},
            "assignments": {},
            "tags": {},
            "notes": [],
            "matchingMode": {
              "kind": "queue-and-match"
            },
            "etag": "\u002200000002-0000-0000-8ddf-43d5b5dfdb08\u0022"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/6AE95D44223C7AABEAB9689F9B128259946C0014156EA8A1D6?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 17:20:35 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "be9525ea-18a3-1657-66f7-c27081edf712"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-LhO6SBLd2U2QaZP2HDWy9A-",
    "RandomSeed": "1867527374"
  }
}
