{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/5CCDFB8301DC74CB58A64EC9AA807958C9F2C912BAAECF1A33?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 14 Nov 2023 23:38:08 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy5CCDFB8301DC74CB58A64EC9AA807958C9F2C912BAAECF1A33",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ad003e51-0000-0700-0000-655404e00000\u0022",
        "Last-Modified": "Tue, 14 Nov 2023 23:38:08 GMT",
        "trace-id": "76448b94-163f-44b0-f69f-49338f4fb7e5"
      },
      "ResponseBody": {
        "id": "5CCDFB8301DC74CB58A64EC9AA807958C9F2C912BAAECF1A33",
        "name": "LongestIdleDistributionPolicy5CCDFB8301DC74CB58A64EC9AA807958C9F2C912BAAECF1A33",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u0022ad003e51-0000-0700-0000-655404e00000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/6BCAC2FA1637F9C971A57B3520033FF06471B94752C1FF9945?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 14 Nov 2023 23:38:08 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test6BCAC2FA1637F9C971A57B3520033FF06471B94752C1FF9945",
        "distributionPolicyId": "5CCDFB8301DC74CB58A64EC9AA807958C9F2C912BAAECF1A33",
        "labels": {
          "Label_1": "Value_1"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022790260ee-0000-0700-0000-655404e00000\u0022",
        "Last-Modified": "Tue, 14 Nov 2023 23:38:08 GMT",
        "trace-id": "bdf20606-0705-55b3-d499-722d70b81a62"
      },
      "ResponseBody": {
        "id": "6BCAC2FA1637F9C971A57B3520033FF06471B94752C1FF9945",
        "name": "DefaultQueue-Sdk-Test6BCAC2FA1637F9C971A57B3520033FF06471B94752C1FF9945",
        "distributionPolicyId": "5CCDFB8301DC74CB58A64EC9AA807958C9F2C912BAAECF1A33",
        "labels": {
          "Label_1": "Value_1",
          "Id": "6BCAC2FA1637F9C971A57B3520033FF06471B94752C1FF9945"
        },
        "etag": "\u0022790260ee-0000-0700-0000-655404e00000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/2F46780D329D67D2DFF77ADC33852EFBA300E0197F32039924?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 14 Nov 2023 23:38:08 GMT"
      },
      "RequestBody": {
        "channelId": "DF0949209271FC38E89CAC9F56F525CEBEA23300BD181BF963",
        "queueId": "6BCAC2FA1637F9C971A57B3520033FF06471B94752C1FF9945",
        "priority": 1,
        "matchingMode": {
          "scheduleAt": "2023-11-14T23:39:08.4372860Z",
          "kind": "scheduleAndSuspend"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-1559-d5c16ae5db08\u0022",
        "Last-Modified": "Tue, 14 Nov 2023 23:38:08 GMT",
        "trace-id": "6fe5947b-6d91-8127-fa2b-7ccbc1a4e0e3"
      },
      "ResponseBody": {
        "id": "2F46780D329D67D2DFF77ADC33852EFBA300E0197F32039924",
        "status": "pendingSchedule",
        "channelId": "DF0949209271FC38E89CAC9F56F525CEBEA23300BD181BF963",
        "queueId": "6BCAC2FA1637F9C971A57B3520033FF06471B94752C1FF9945",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "scheduleAndSuspend",
          "scheduleAt": "2023-11-14T23:39:08.437286\u002B00:00"
        },
        "etag": "\u002200000000-0000-0000-1559-d5c16ae5db08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs?api-version=2023-11-01\u0026maxpagesize=1\u0026queueId=6BCAC2FA1637F9C971A57B3520033FF06471B94752C1FF9945\u0026channelId=DF0949209271FC38E89CAC9F56F525CEBEA23300BD181BF963\u0026scheduledAfter=2023-11-14T23%3A39%3A08.4372860Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 14 Nov 2023 23:38:08 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "16323aa6-a082-c604-7cc3-f0cc8f30e7fc"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "2F46780D329D67D2DFF77ADC33852EFBA300E0197F32039924",
            "status": "pendingSchedule",
            "channelId": "DF0949209271FC38E89CAC9F56F525CEBEA23300BD181BF963",
            "queueId": "6BCAC2FA1637F9C971A57B3520033FF06471B94752C1FF9945",
            "priority": 1,
            "requestedWorkerSelectors": [],
            "attachedWorkerSelectors": [],
            "labels": {},
            "assignments": {},
            "tags": {},
            "notes": [],
            "matchingMode": {
              "kind": "scheduleAndSuspend",
              "scheduleAt": "2023-11-14T23:39:08.437286\u002B00:00"
            },
            "etag": "\u002200000000-0000-0000-1559-d5c16ae5db08\u0022"
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/2F46780D329D67D2DFF77ADC33852EFBA300E0197F32039924:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 14 Nov 2023 23:38:11 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "8b20bf53-85ab-f632-aea8-418f659782cb"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/6BCAC2FA1637F9C971A57B3520033FF06471B94752C1FF9945?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 14 Nov 2023 23:38:16 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "8719c84c-58d8-34d6-d552-5c8a149dc168"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-POHcQKy7VEyqSbdCm4uMBg-",
    "RandomSeed": "1924851621",
    "scheduled-time-utc": "2023-11-14T23:39:08.4372860\u002B00:00"
  }
}
