{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/2A90510DEBFC7278336AABCDF5507476A3C49B3C9F72549B52?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Nov 2023 00:19:30 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy2A90510DEBFC7278336AABCDF5507476A3C49B3C9F72549B52",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227c003306-0000-0700-0000-654ad40f0000\u0022",
        "Last-Modified": "Wed, 08 Nov 2023 00:19:27 GMT",
        "trace-id": "e73e1d3f-f6f7-283f-dcb5-a96d6e82c55b"
      },
      "ResponseBody": {
        "id": "2A90510DEBFC7278336AABCDF5507476A3C49B3C9F72549B52",
        "name": "LongestIdleDistributionPolicy2A90510DEBFC7278336AABCDF5507476A3C49B3C9F72549B52",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00227c003306-0000-0700-0000-654ad40f0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/177ACC9407747D7FD9CC1FA7D753A692FFF47B8312A5DAA9A0?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Nov 2023 00:19:30 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test177ACC9407747D7FD9CC1FA7D753A692FFF47B8312A5DAA9A0",
        "distributionPolicyId": "2A90510DEBFC7278336AABCDF5507476A3C49B3C9F72549B52",
        "labels": {
          "Label_1": "Value_1"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c401a1cb-0000-0700-0000-654ad40f0000\u0022",
        "Last-Modified": "Wed, 08 Nov 2023 00:19:27 GMT",
        "trace-id": "d777e9e0-e0b8-ef9c-4ebc-73ef608c0283"
      },
      "ResponseBody": {
        "id": "177ACC9407747D7FD9CC1FA7D753A692FFF47B8312A5DAA9A0",
        "name": "DefaultQueue-Sdk-Test177ACC9407747D7FD9CC1FA7D753A692FFF47B8312A5DAA9A0",
        "distributionPolicyId": "2A90510DEBFC7278336AABCDF5507476A3C49B3C9F72549B52",
        "labels": {
          "Label_1": "Value_1",
          "Id": "177ACC9407747D7FD9CC1FA7D753A692FFF47B8312A5DAA9A0"
        },
        "etag": "\u0022c401a1cb-0000-0700-0000-654ad40f0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/5C9F7163C74FF2600D36A2B334BC1CCB32CECC953A1ABE0EA9?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Nov 2023 00:19:31 GMT"
      },
      "RequestBody": {
        "channelId": "D61D8F8C09CF206ED74F7974C8A92CCB1B381490C0ACE4505C",
        "queueId": "177ACC9407747D7FD9CC1FA7D753A692FFF47B8312A5DAA9A0",
        "priority": 1,
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-ab87-795ef0dfdb08\u0022",
        "Last-Modified": "Wed, 08 Nov 2023 00:19:27 GMT",
        "trace-id": "c518d2ac-a0cd-1323-8d80-bb375a54e755"
      },
      "ResponseBody": {
        "id": "5C9F7163C74FF2600D36A2B334BC1CCB32CECC953A1ABE0EA9",
        "status": "created",
        "channelId": "D61D8F8C09CF206ED74F7974C8A92CCB1B381490C0ACE4505C",
        "queueId": "177ACC9407747D7FD9CC1FA7D753A692FFF47B8312A5DAA9A0",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000000-0000-0000-ab87-795ef0dfdb08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/5C9F7163C74FF2600D36A2B334BC1CCB32CECC953A1ABE0EA9?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Nov 2023 00:19:31 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-e597-8a5ef0dfdb08\u0022",
        "Last-Modified": "Wed, 08 Nov 2023 00:19:27 GMT",
        "trace-id": "1b0d6665-d784-22b5-1224-6652ae90c5c8"
      },
      "ResponseBody": {
        "id": "5C9F7163C74FF2600D36A2B334BC1CCB32CECC953A1ABE0EA9",
        "status": "queued",
        "enqueuedAt": "2023-11-08T00:19:27.4343397\u002B00:00",
        "channelId": "D61D8F8C09CF206ED74F7974C8A92CCB1B381490C0ACE4505C",
        "queueId": "177ACC9407747D7FD9CC1FA7D753A692FFF47B8312A5DAA9A0",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000001-0000-0000-e597-8a5ef0dfdb08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/5C9F7163C74FF2600D36A2B334BC1CCB32CECC953A1ABE0EA9:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Nov 2023 00:19:31 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "041eee96-ab0c-6e4f-28e3-08e2a5b77f08"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs?api-version=2023-11-01\u0026queueId=177ACC9407747D7FD9CC1FA7D753A692FFF47B8312A5DAA9A0\u0026channelId=D61D8F8C09CF206ED74F7974C8A92CCB1B381490C0ACE4505C",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Nov 2023 00:19:32 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "6f9e8499-2ef4-c56d-ca63-31d09c5b7a8a"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "8EFE9503619167DB79444C7FEC8AFBAFCF29F5415E515FAFF5",
            "status": "queued",
            "enqueuedAt": "2023-11-08T00:19:27.8501508\u002B00:00",
            "channelId": "D61D8F8C09CF206ED74F7974C8A92CCB1B381490C0ACE4505C",
            "queueId": "177ACC9407747D7FD9CC1FA7D753A692FFF47B8312A5DAA9A0",
            "priority": 1,
            "requestedWorkerSelectors": [],
            "attachedWorkerSelectors": [],
            "labels": {},
            "assignments": {},
            "tags": {},
            "notes": [],
            "matchingMode": {
              "kind": "queue-and-match"
            },
            "etag": "\u002200000001-0000-0000-840a-ca5ef0dfdb08\u0022"
          },
          {
            "id": "5C9F7163C74FF2600D36A2B334BC1CCB32CECC953A1ABE0EA9",
            "status": "cancelled",
            "enqueuedAt": "2023-11-08T00:19:27.4343397\u002B00:00",
            "channelId": "D61D8F8C09CF206ED74F7974C8A92CCB1B381490C0ACE4505C",
            "queueId": "177ACC9407747D7FD9CC1FA7D753A692FFF47B8312A5DAA9A0",
            "priority": 1,
            "dispositionCode": "Cancelled",
            "requestedWorkerSelectors": [],
            "attachedWorkerSelectors": [],
            "labels": {},
            "assignments": {},
            "tags": {},
            "notes": [],
            "matchingMode": {
              "kind": "queue-and-match"
            },
            "etag": "\u002200000002-0000-0000-aecc-a05ef0dfdb08\u0022"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/177ACC9407747D7FD9CC1FA7D753A692FFF47B8312A5DAA9A0?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Nov 2023 00:19:39 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "5db31e8e-1edc-fc88-1b42-c75423b0e84e"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-hzj2dZdm5EOVgt07Qov0pw-",
    "RandomSeed": "1027078074"
  }
}
