{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/EE1246A6EE4731669D7995198A69FC659B90B32A5457AA5FC6?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:57:48 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyEE1246A6EE4731669D7995198A69FC659B90B32A5457AA5FC6",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002242008a6d-0000-0700-0000-653ffcab0000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:57:47 GMT",
        "trace-id": "93d184e8-71d1-0a7f-3533-ff7de277695d"
      },
      "ResponseBody": {
        "id": "EE1246A6EE4731669D7995198A69FC659B90B32A5457AA5FC6",
        "name": "LongestIdleDistributionPolicyEE1246A6EE4731669D7995198A69FC659B90B32A5457AA5FC6",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u002242008a6d-0000-0700-0000-653ffcab0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/620B57A66260F1F254DF6876E367F58E28211717ABC7F1CA9F?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:57:49 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test620B57A66260F1F254DF6876E367F58E28211717ABC7F1CA9F",
        "distributionPolicyId": "EE1246A6EE4731669D7995198A69FC659B90B32A5457AA5FC6",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022f1000529-0000-0700-0000-653ffcac0000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:57:48 GMT",
        "trace-id": "7c4f1ecf-0b66-dc94-382f-42b02b7f311c"
      },
      "ResponseBody": {
        "id": "620B57A66260F1F254DF6876E367F58E28211717ABC7F1CA9F",
        "name": "DefaultQueue-Sdk-Test620B57A66260F1F254DF6876E367F58E28211717ABC7F1CA9F",
        "distributionPolicyId": "EE1246A6EE4731669D7995198A69FC659B90B32A5457AA5FC6",
        "labels": {
          "Label_1": "Value_1",
          "Id": "620B57A66260F1F254DF6876E367F58E28211717ABC7F1CA9F"
        },
        "etag": "\u0022f1000529-0000-0700-0000-653ffcac0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/43B974F8FAB254490E2BC0D91A9F27E75FF0233F1979BC0003?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:57:49 GMT"
      },
      "RequestBody": {
        "prioritizationRule": {
          "value": 1,
          "kind": "static-rule"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220600160b-0000-0700-0000-653ffcac0000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:57:48 GMT",
        "trace-id": "2030c103-dede-0ba2-add3-db4c5d825b7c"
      },
      "ResponseBody": {
        "id": "43B974F8FAB254490E2BC0D91A9F27E75FF0233F1979BC0003",
        "queueSelectorAttachments": [],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 1
        },
        "workerSelectorAttachments": [],
        "etag": "\u00220600160b-0000-0700-0000-653ffcac0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/E34E730EF71103AEF240933D8825A10D954248E650CD924CF3?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:57:50 GMT"
      },
      "RequestBody": {
        "channelId": "935BD60A1C3AD0EFB521651F0F4989657ACD7238ED8A1E5997",
        "classificationPolicyId": "43B974F8FAB254490E2BC0D91A9F27E75FF0233F1979BC0003",
        "queueId": "620B57A66260F1F254DF6876E367F58E28211717ABC7F1CA9F"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-745e-411c7ad9db08\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:57:48 GMT",
        "trace-id": "28532939-3785-1141-fb73-3ca78e57d330"
      },
      "ResponseBody": {
        "id": "E34E730EF71103AEF240933D8825A10D954248E650CD924CF3",
        "status": "pendingClassification",
        "channelId": "935BD60A1C3AD0EFB521651F0F4989657ACD7238ED8A1E5997",
        "classificationPolicyId": "43B974F8FAB254490E2BC0D91A9F27E75FF0233F1979BC0003",
        "queueId": "620B57A66260F1F254DF6876E367F58E28211717ABC7F1CA9F",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000000-0000-0000-745e-411c7ad9db08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/E34E730EF71103AEF240933D8825A10D954248E650CD924CF3:reclassify?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:57:55 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "b29fe184-f37c-45eb-54ed-953c0c66b4db"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/E34E730EF71103AEF240933D8825A10D954248E650CD924CF3:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:57:58 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "f7f35800-45b8-5b34-dec7-fc1e3b225533"
      },
      "ResponseBody": {}
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-SqrUQ0--gUeAiTQ2AkiNWw-",
    "RandomSeed": "896435222"
  }
}
