{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/EB5CC90B82EEA1ED42FD91E3DFDFDE8629F782BCAF314CCFF5?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 23 Sep 2025 23:51:12 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyEB5CC90B82EEA1ED42FD91E3DFDFDE8629F782BCAF314CCFF5",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "longestIdle"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"1300a202-0000-0700-0000-68d332720000\"",
        "JobRouter-Request-Handling-Region": "b-west us",
        "Last-Modified": "Tue, 23 Sep 2025 23:51:14 GMT",
        "MS-CV": "Sanitized",
        "trace-id": "d3d2166e-dcc1-5921-d2dd-12e16e58ed4c"
      },
      "ResponseBody": {
        "id": "EB5CC90B82EEA1ED42FD91E3DFDFDE8629F782BCAF314CCFF5",
        "name": "LongestIdleDistributionPolicyEB5CC90B82EEA1ED42FD91E3DFDFDE8629F782BCAF314CCFF5",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\"1300a202-0000-0700-0000-68d332720000\""
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/7A9158DEDEF247E11C5058A694324D2BB7B6AFC97EDAE8E21C?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 23 Sep 2025 23:51:12 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test7A9158DEDEF247E11C5058A694324D2BB7B6AFC97EDAE8E21C",
        "distributionPolicyId": "EB5CC90B82EEA1ED42FD91E3DFDFDE8629F782BCAF314CCFF5",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"4e06c1b4-0000-0700-0000-68d332720000\"",
        "JobRouter-Request-Handling-Region": "b-west us",
        "Last-Modified": "Tue, 23 Sep 2025 23:51:14 GMT",
        "MS-CV": "Sanitized",
        "trace-id": "2150cbb5-1e37-2631-eee0-168433d406cf"
      },
      "ResponseBody": {
        "id": "7A9158DEDEF247E11C5058A694324D2BB7B6AFC97EDAE8E21C",
        "name": "DefaultQueue-Sdk-Test7A9158DEDEF247E11C5058A694324D2BB7B6AFC97EDAE8E21C",
        "distributionPolicyId": "EB5CC90B82EEA1ED42FD91E3DFDFDE8629F782BCAF314CCFF5",
        "labels": {
          "Label_1": "Value_1",
          "Id": "7A9158DEDEF247E11C5058A694324D2BB7B6AFC97EDAE8E21C"
        },
        "etag": "\"4e06c1b4-0000-0700-0000-68d332720000\""
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/5FD753ECF021D4C3B63E04E369DF4908246F81A732F19389DF?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 23 Sep 2025 23:51:13 GMT"
      },
      "RequestBody": {
        "channelId": "330F1904A1E1071777D5787008E835EF10E67F97AAEE1FD1B8",
        "queueId": "7A9158DEDEF247E11C5058A694324D2BB7B6AFC97EDAE8E21C",
        "labels": {
          "Label_1": "Value_1",
          "Label_2": 2,
          "Label_3": true
        },
        "tags": {
          "Tag_1": "Value_1",
          "Tag_2": 2,
          "Tag_3": true
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"00000000-0000-0000-fa95-1915fcfadd08\"",
        "JobRouter-Request-Handling-Region": "b-west us",
        "Last-Modified": "Tue, 23 Sep 2025 23:51:14 GMT",
        "MS-CV": "Sanitized",
        "trace-id": "c66be945-9503-1288-2785-ee36b98c6c7b"
      },
      "ResponseBody": {
        "id": "5FD753ECF021D4C3B63E04E369DF4908246F81A732F19389DF",
        "status": "created",
        "channelId": "330F1904A1E1071777D5787008E835EF10E67F97AAEE1FD1B8",
        "queueId": "7A9158DEDEF247E11C5058A694324D2BB7B6AFC97EDAE8E21C",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Label_1": "Value_1",
          "Label_2": 2,
          "Label_3": true
        },
        "assignments": {},
        "tags": {
          "Tag_1": "Value_1",
          "Tag_2": 2,
          "Tag_3": true
        },
        "notes": [],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "\"00000000-0000-0000-fa95-1915fcfadd08\""
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/5FD753ECF021D4C3B63E04E369DF4908246F81A732F19389DF?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 23 Sep 2025 23:51:13 GMT"
      },
      "RequestBody": {
        "requestedWorkerSelectors": [],
        "labels": {
          "Label_1": null,
          "Label_2": null,
          "Label_3": "Value_Updated_3",
          "Label_4": "Value_4"
        },
        "tags": {
          "Tag_1": null,
          "Tag_2": null,
          "Tag_3": "Value_Updated_3",
          "Tag_4": "Value_4"
        },
        "notes": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"00000003-0000-0000-8a69-2f15fcfadd08\"",
        "JobRouter-Request-Handling-Region": "b-west us",
        "Last-Modified": "Tue, 23 Sep 2025 23:51:15 GMT",
        "MS-CV": "Sanitized",
        "trace-id": "5600f86e-149f-b42b-7c7f-3a313440aed5"
      },
      "ResponseBody": {
        "id": "5FD753ECF021D4C3B63E04E369DF4908246F81A732F19389DF",
        "status": "queued",
        "enqueuedAt": "2025-09-23T23:51:14.9904726+00:00",
        "channelId": "330F1904A1E1071777D5787008E835EF10E67F97AAEE1FD1B8",
        "queueId": "7A9158DEDEF247E11C5058A694324D2BB7B6AFC97EDAE8E21C",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Label_3": "Value_Updated_3",
          "Label_4": "Value_4"
        },
        "assignments": {},
        "tags": {
          "Tag_3": "Value_Updated_3",
          "Tag[...]
