{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/E32E5510CB0631D5F0496DD4CEEF5FA0AF2DADFB41210FCE2A?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:07:07 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyE32E5510CB0631D5F0496DD4CEEF5FA0AF2DADFB41210FCE2A",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "longestIdle"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220900a9d7-0000-0700-0000-65de792b0000\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:07:07 GMT",
        "trace-id": "3d713be5-e307-75a1-0535-747f2f285f88"
      },
      "ResponseBody": {
        "id": "E32E5510CB0631D5F0496DD4CEEF5FA0AF2DADFB41210FCE2A",
        "name": "LongestIdleDistributionPolicyE32E5510CB0631D5F0496DD4CEEF5FA0AF2DADFB41210FCE2A",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00220900a9d7-0000-0700-0000-65de792b0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/D69B1071890398E8E9E16A2A0FF86CEB64F5A5A277477EA0BF?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:07:07 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-TestD69B1071890398E8E9E16A2A0FF86CEB64F5A5A277477EA0BF",
        "distributionPolicyId": "E32E5510CB0631D5F0496DD4CEEF5FA0AF2DADFB41210FCE2A",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022e502f7e8-0000-0700-0000-65de792b0000\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:07:07 GMT",
        "trace-id": "696a043a-7f01-3d2b-2e31-8ad7851420ee"
      },
      "ResponseBody": {
        "id": "D69B1071890398E8E9E16A2A0FF86CEB64F5A5A277477EA0BF",
        "name": "DefaultQueue-Sdk-TestD69B1071890398E8E9E16A2A0FF86CEB64F5A5A277477EA0BF",
        "distributionPolicyId": "E32E5510CB0631D5F0496DD4CEEF5FA0AF2DADFB41210FCE2A",
        "labels": {
          "Label_1": "Value_1",
          "Id": "D69B1071890398E8E9E16A2A0FF86CEB64F5A5A277477EA0BF"
        },
        "etag": "\u0022e502f7e8-0000-0700-0000-65de792b0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/99E5639CEC733474C13631F7E114B4EBFC7600DC6F7FAA2402?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:07:07 GMT"
      },
      "RequestBody": {
        "channelId": "330F1904A1E1071777D5787008E835EF10E67F97AAEE1FD1B8",
        "queueId": "D69B1071890398E8E9E16A2A0FF86CEB64F5A5A277477EA0BF",
        "labels": {
          "Label_1": "Value_1",
          "Label_2": 2,
          "Label_3": true
        },
        "tags": {
          "Tag_1": "Value_1",
          "Tag_2": 2,
          "Tag_3": true
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-ff24-1a34f137dc08\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:07:08 GMT",
        "trace-id": "1520c315-eafd-0da0-570c-a24f8585d068"
      },
      "ResponseBody": {
        "id": "99E5639CEC733474C13631F7E114B4EBFC7600DC6F7FAA2402",
        "status": "created",
        "channelId": "330F1904A1E1071777D5787008E835EF10E67F97AAEE1FD1B8",
        "queueId": "D69B1071890398E8E9E16A2A0FF86CEB64F5A5A277477EA0BF",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Label_1": "Value_1",
          "Label_2": 2,
          "Label_3": true
        },
        "assignments": {},
        "tags": {
          "Tag_1": "Value_1",
          "Tag_2": 2,
          "Tag_3": true
        },
        "notes": [],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "\u002200000000-0000-0000-ff24-1a34f137dc08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/99E5639CEC733474C13631F7E114B4EBFC7600DC6F7FAA2402?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:07:07 GMT"
      },
      "RequestBody": {
        "requestedWorkerSelectors": [],
        "labels": {
          "Label_1": null,
          "Label_2": null,
          "Label_3": "Value_Updated_3",
          "Label_4": "Value_4"
        },
        "tags": {
          "Tag_1": null,
          "Tag_2": null,
          "Tag_3": "Value_Updated_3",
          "Tag_4": "Value_4"
        },
        "notes": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000003-0000-0000-b8d4-4234f137dc08\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:07:08 GMT",
        "trace-id": "96ca4375-4ba7-612e-f637-6ede5bfeaf25"
      },
      "ResponseBody": {
        "id": "99E5639CEC733474C13631F7E114B4EBFC7600DC6F7FAA2402",
        "status": "queued",
        "enqueuedAt": "2024-02-28T00:07:08.1572007\u002B00:00",
        "channelId": "330F1904A1E1071777D5787008E835EF10E67F97AAEE1FD1B8",
        "queueId": "D69B1071890398E8E9E16A2A0FF86CEB64F5A5A277477EA0BF",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Label_3": "Value_Updated_3",
          "Label_4": "Value_4"
        },
        "assignments": {},
        "tags": {
          "Tag_3": "Value_Updated_3",
          "Tag_4": "Value_4"
        },
        "notes": [],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "\u002200000003-0000-0000-b8d4-4234f137dc08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/99E5639CEC733474C13631F7E114B4EBFC7600DC6F7FAA2402:cancel?api-version=2024-01-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:07:13 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "88c2aadd-d01a-5008-5326-4cbea026b4af"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/D69B1071890398E8E9E16A2A0FF86CEB64F5A5A277477EA0BF?api-version=2024-01-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:07:17 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "trace-id": "cba5a7e1-e88a-d841-8327-df26e3b904d4"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-14e0AMji6kSci6VwcPq9Tg-",
    "RandomSeed": "1362418198"
  }
}
