{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/1D95EA10F928792CCC208A231ADA71EF77F916A1D192305081?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 23:51:15 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy1D95EA10F928792CCC208A231ADA71EF77F916A1D192305081",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220a00205f-0000-0700-0000-652734f30000\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 23:51:15 GMT",
        "trace-id": "ff5b737c-998e-da29-d66a-8ee8d3e61741"
      },
      "ResponseBody": {
        "id": "1D95EA10F928792CCC208A231ADA71EF77F916A1D192305081",
        "name": "LongestIdleDistributionPolicy1D95EA10F928792CCC208A231ADA71EF77F916A1D192305081",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/938021F29F7EE8710AAFD3FFE6BE04EBA15236D65DE8D0E45A?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 23:51:15 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test938021F29F7EE8710AAFD3FFE6BE04EBA15236D65DE8D0E45A",
        "distributionPolicyId": "1D95EA10F928792CCC208A231ADA71EF77F916A1D192305081",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002223015172-0000-0700-0000-652734f40000\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 23:51:16 GMT",
        "trace-id": "31e814c0-0a03-430c-2ccd-3107adb3d500"
      },
      "ResponseBody": {
        "id": "938021F29F7EE8710AAFD3FFE6BE04EBA15236D65DE8D0E45A",
        "name": "DefaultQueue-Sdk-Test938021F29F7EE8710AAFD3FFE6BE04EBA15236D65DE8D0E45A",
        "distributionPolicyId": "1D95EA10F928792CCC208A231ADA71EF77F916A1D192305081",
        "labels": {
          "Label_1": "Value_1",
          "Id": "938021F29F7EE8710AAFD3FFE6BE04EBA15236D65DE8D0E45A"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/8CE095B6E7593F81E1AB232E0B144E1C9780D2D2459A64EE02?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 23:51:16 GMT"
      },
      "RequestBody": {
        "channelId": "330F1904A1E1071777D5787008E835EF10E67F97AAEE1FD1B8",
        "queueId": "938021F29F7EE8710AAFD3FFE6BE04EBA15236D65DE8D0E45A",
        "labels": {
          "Label_1": "Value_1",
          "Label_2": 2,
          "Label_3": true
        },
        "tags": {
          "Tag_1": "Value_1",
          "Tag_2": 2,
          "Tag_3": true
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-b49c-58f5b4cadb08\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 23:51:16 GMT",
        "trace-id": "aad97845-27c2-42ca-5dd5-2bf291e40bb0"
      },
      "ResponseBody": {
        "id": "8CE095B6E7593F81E1AB232E0B144E1C9780D2D2459A64EE02",
        "status": "created",
        "channelId": "330F1904A1E1071777D5787008E835EF10E67F97AAEE1FD1B8",
        "queueId": "938021F29F7EE8710AAFD3FFE6BE04EBA15236D65DE8D0E45A",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Label_1": "Value_1",
          "Label_2": 2,
          "Label_3": true
        },
        "assignments": {},
        "tags": {
          "Tag_1": "Value_1",
          "Tag_2": 2,
          "Tag_3": true
        },
        "notes": {},
        "matchingMode": {
          "kind": "queue-and-match"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/8CE095B6E7593F81E1AB232E0B144E1C9780D2D2459A64EE02?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 23:51:16 GMT"
      },
      "RequestBody": {
        "labels": {
          "Label_1": null,
          "Label_2": null,
          "Label_3": "Value_Updated_3",
          "Label_4": "Value_4"
        },
        "tags": {
          "Tag_1": null,
          "Tag_2": null,
          "Tag_3": "Value_Updated_3",
          "Tag_4": "Value_4"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000003-0000-0000-d636-c7f5b4cadb08\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 23:51:16 GMT",
        "trace-id": "6410ced0-0b7d-3c35-d2d9-b08a74b85611"
      },
      "ResponseBody": {
        "id": "8CE095B6E7593F81E1AB232E0B144E1C9780D2D2459A64EE02",
        "status": "queued",
        "enqueuedAt": "2023-10-11T23:51:16.4176266\u002B00:00",
        "channelId": "330F1904A1E1071777D5787008E835EF10E67F97AAEE1FD1B8",
        "queueId": "938021F29F7EE8710AAFD3FFE6BE04EBA15236D65DE8D0E45A",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Label_3": "Value_Updated_3",
          "Label_4": "Value_4"
        },
        "assignments": {},
        "tags": {
          "Tag_3": "Value_Updated_3",
          "Tag_4": "Value_4"
        },
        "notes": {},
        "matchingMode": {
          "kind": "queue-and-match"
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/8CE095B6E7593F81E1AB232E0B144E1C9780D2D2459A64EE02?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "HMAC-SHA256 SignedHeaders=x-ms-date;host;x-ms-content-sha256\u0026Signature=7DWNpq\u002BbgjAhq1hfBkSeR8HFne27qNVU7oA7x3y2Wss=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Wed, 11 Oct 2023 23:51:16 GMT"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "5d686d07-7720-e0b9-fba8-ba289e61293e"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "Conflict",
          "message": "Validation failed: \r\n -- JobStatus: The job is neither closed nor cancelled",
          "target": "/routing/jobs/8CE095B6E7593F81E1AB232E0B144E1C9780D2D2459A64EE02"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-Pjghcw2DE027vGIqA4wYuw-",
    "RandomSeed": "10136965"
  }
}
