{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/194DDB598C9FACE94AAB3BD3A90F2E65CC14A2102B745F2972?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:00:10 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy194DDB598C9FACE94AAB3BD3A90F2E65CC14A2102B745F2972",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "longestIdle"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002202001481-0000-0700-0000-65c524ba0000\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 19:00:10 GMT",
        "trace-id": "0b78c903-0cc1-e8b7-8b50-92d609b93ab5"
      },
      "ResponseBody": {
        "id": "194DDB598C9FACE94AAB3BD3A90F2E65CC14A2102B745F2972",
        "name": "LongestIdleDistributionPolicy194DDB598C9FACE94AAB3BD3A90F2E65CC14A2102B745F2972",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u002202001481-0000-0700-0000-65c524ba0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/CD30EDBE3D0BD8F4FB81872B561EAEE66EE89A67974C6627A8?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:00:11 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-TestCD30EDBE3D0BD8F4FB81872B561EAEE66EE89A67974C6627A8",
        "distributionPolicyId": "194DDB598C9FACE94AAB3BD3A90F2E65CC14A2102B745F2972",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ae00218f-0000-0700-0000-65c524ba0000\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 19:00:10 GMT",
        "trace-id": "02843228-8ec8-92b2-8799-89548df91d71"
      },
      "ResponseBody": {
        "id": "CD30EDBE3D0BD8F4FB81872B561EAEE66EE89A67974C6627A8",
        "name": "DefaultQueue-Sdk-TestCD30EDBE3D0BD8F4FB81872B561EAEE66EE89A67974C6627A8",
        "distributionPolicyId": "194DDB598C9FACE94AAB3BD3A90F2E65CC14A2102B745F2972",
        "labels": {
          "Label_1": "Value_1",
          "Id": "CD30EDBE3D0BD8F4FB81872B561EAEE66EE89A67974C6627A8"
        },
        "etag": "\u0022ae00218f-0000-0700-0000-65c524ba0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/05E6438DED4320229BA3B13BC5CC4DB6B0C989F50271535AA1?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:00:11 GMT"
      },
      "RequestBody": {
        "channelId": "C219BD3B3969A6D653CADADD72B85997F5F8C56A8053682253",
        "queueId": "CD30EDBE3D0BD8F4FB81872B561EAEE66EE89A67974C6627A8",
        "priority": 1
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-8dd3-ad2cd828dc08\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 19:00:10 GMT",
        "trace-id": "c309cb17-75ae-b38e-f30a-c63411fd996c"
      },
      "ResponseBody": {
        "id": "05E6438DED4320229BA3B13BC5CC4DB6B0C989F50271535AA1",
        "status": "created",
        "channelId": "C219BD3B3969A6D653CADADD72B85997F5F8C56A8053682253",
        "queueId": "CD30EDBE3D0BD8F4FB81872B561EAEE66EE89A67974C6627A8",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "\u002200000000-0000-0000-8dd3-ad2cd828dc08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/05E6438DED4320229BA3B13BC5CC4DB6B0C989F50271535AA1?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:00:11 GMT"
      },
      "RequestBody": {
        "requestedWorkerSelectors": [],
        "notes": [
          {
            "message": "Fake notes attached to job with update",
            "addedAt": "2022-09-01T03:00:00.0000000Z"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-46ec-d92cd828dc08\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 19:00:11 GMT",
        "trace-id": "c14ecf90-5d47-6cc0-ad8b-0ad53ef35393"
      },
      "ResponseBody": {
        "id": "05E6438DED4320229BA3B13BC5CC4DB6B0C989F50271535AA1",
        "status": "created",
        "channelId": "C219BD3B3969A6D653CADADD72B85997F5F8C56A8053682253",
        "queueId": "CD30EDBE3D0BD8F4FB81872B561EAEE66EE89A67974C6627A8",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [
          {
            "message": "Fake notes attached to job with update",
            "addedAt": "2022-09-01T03:00:00\u002B00:00"
          }
        ],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "\u002200000001-0000-0000-46ec-d92cd828dc08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/05E6438DED4320229BA3B13BC5CC4DB6B0C989F50271535AA1:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:00:15 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "ab17f1b3-4e16-cb08-140e-33b732942e31"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://williamzhao-test.unitedstates.ppe.communication.azure.net/routing/distributionPolicies/194DDB598C9FACE94AAB3BD3A90F2E65CC14A2102B745F2972?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "HMAC-SHA256 SignedHeaders=x-ms-date;host;x-ms-content-sha256\u0026Signature=Xa6VE/tyV8bcvEWTcO0sXr7o/h\u002Bkjof11dKxYrmU4lM=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Thu, 08 Feb 2024 19:00:21 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "b1f09a0c-6a80-0a8c-4e98-4c635c718ec4"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-D9qvRBKrQEa2PXesc-eRHw-",
    "RandomSeed": "82872674"
  }
}
