{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/4ADC1EC4EFE2756D292734152674FAA9781CA0FCA122E81C7D?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 23:19:10 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy4ADC1EC4EFE2756D292734152674FAA9781CA0FCA122E81C7D",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220a00ad53-0000-0700-0000-65272d6e0000\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 23:19:10 GMT",
        "trace-id": "04cd0870-7fea-fa20-1b76-d910512062a3"
      },
      "ResponseBody": {
        "id": "4ADC1EC4EFE2756D292734152674FAA9781CA0FCA122E81C7D",
        "name": "LongestIdleDistributionPolicy4ADC1EC4EFE2756D292734152674FAA9781CA0FCA122E81C7D",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/32518D9C614619BE8D3CA7A54281A03A6C35DE4DA054FCF480?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 23:19:10 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test32518D9C614619BE8D3CA7A54281A03A6C35DE4DA054FCF480",
        "distributionPolicyId": "4ADC1EC4EFE2756D292734152674FAA9781CA0FCA122E81C7D",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022220111fe-0000-0700-0000-65272d6e0000\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 23:19:10 GMT",
        "trace-id": "731019b7-d0a8-8447-47cc-604be32ee0c4"
      },
      "ResponseBody": {
        "id": "32518D9C614619BE8D3CA7A54281A03A6C35DE4DA054FCF480",
        "name": "DefaultQueue-Sdk-Test32518D9C614619BE8D3CA7A54281A03A6C35DE4DA054FCF480",
        "distributionPolicyId": "4ADC1EC4EFE2756D292734152674FAA9781CA0FCA122E81C7D",
        "labels": {
          "Label_1": "Value_1",
          "Id": "32518D9C614619BE8D3CA7A54281A03A6C35DE4DA054FCF480"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/25AAAB9D444EE2EC0B82651A259F7C69AB81A97E48E3F89939?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 23:19:10 GMT"
      },
      "RequestBody": {
        "channelId": "C219BD3B3969A6D653CADADD72B85997F5F8C56A8053682253",
        "queueId": "32518D9C614619BE8D3CA7A54281A03A6C35DE4DA054FCF480",
        "priority": 1
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-c424-ce79b0cadb08\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 23:19:10 GMT",
        "trace-id": "723b4e95-6870-92c8-7328-59757805091f"
      },
      "ResponseBody": {
        "id": "25AAAB9D444EE2EC0B82651A259F7C69AB81A97E48E3F89939",
        "status": "created",
        "channelId": "C219BD3B3969A6D653CADADD72B85997F5F8C56A8053682253",
        "queueId": "32518D9C614619BE8D3CA7A54281A03A6C35DE4DA054FCF480",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {},
        "matchingMode": {
          "kind": "queue-and-match"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/25AAAB9D444EE2EC0B82651A259F7C69AB81A97E48E3F89939?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 23:19:10 GMT"
      },
      "RequestBody": {
        "notes": {
          "2022-09-01T03:00:00.0000000\u002B00:00": "Fake notes attached to job with update"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-0603-357ab0cadb08\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 23:19:11 GMT",
        "trace-id": "bfa52bc7-db88-ccea-1444-c76b16902e29"
      },
      "ResponseBody": {
        "id": "25AAAB9D444EE2EC0B82651A259F7C69AB81A97E48E3F89939",
        "status": "queued",
        "enqueuedAt": "2023-10-11T23:19:11.1190102\u002B00:00",
        "channelId": "C219BD3B3969A6D653CADADD72B85997F5F8C56A8053682253",
        "queueId": "32518D9C614619BE8D3CA7A54281A03A6C35DE4DA054FCF480",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {
          "2022-09-01T03:00:00\u002B00:00": "Fake notes attached to job with update"
        },
        "matchingMode": {
          "kind": "queue-and-match"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-U9sGbH-A4UieiwkJOQrnQw-",
    "RandomSeed": "276506513"
  }
}
