{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/05DA186AAB4D300B13CEA688E6E0E56D15C0A4A3A72B14FB7E?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 21:52:56 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy05DA186AAB4D300B13CEA688E6E0E56D15C0A4A3A72B14FB7E",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224a00645b-0000-0700-0000-6541773d0000\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 21:53:01 GMT",
        "trace-id": "3f5eff75-4a39-0f57-2a17-9f950e247938"
      },
      "ResponseBody": {
        "id": "05DA186AAB4D300B13CEA688E6E0E56D15C0A4A3A72B14FB7E",
        "name": "LongestIdleDistributionPolicy05DA186AAB4D300B13CEA688E6E0E56D15C0A4A3A72B14FB7E",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00224a00645b-0000-0700-0000-6541773d0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/3C9B97883E3515201204C8F8AFC0A4EAE0483D46E576F22CB4?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 21:52:57 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test3C9B97883E3515201204C8F8AFC0A4EAE0483D46E576F22CB4",
        "distributionPolicyId": "05DA186AAB4D300B13CEA688E6E0E56D15C0A4A3A72B14FB7E",
        "labels": {
          "Label_1": "Value_1"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220e018633-0000-0700-0000-6541773d0000\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 21:53:01 GMT",
        "trace-id": "4debd816-10be-10ee-5619-2417da901a62"
      },
      "ResponseBody": {
        "id": "3C9B97883E3515201204C8F8AFC0A4EAE0483D46E576F22CB4",
        "name": "DefaultQueue-Sdk-Test3C9B97883E3515201204C8F8AFC0A4EAE0483D46E576F22CB4",
        "distributionPolicyId": "05DA186AAB4D300B13CEA688E6E0E56D15C0A4A3A72B14FB7E",
        "labels": {
          "Label_1": "Value_1",
          "Id": "3C9B97883E3515201204C8F8AFC0A4EAE0483D46E576F22CB4"
        },
        "etag": "\u00220e018633-0000-0700-0000-6541773d0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/CFE3C8CCC41664B737DE050657D317988E993562BDA0E891C1?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 21:52:57 GMT"
      },
      "RequestBody": {
        "channelId": "330F1904A1E1071777D5787008E835EF10E67F97AAEE1FD1B8",
        "queueId": "3C9B97883E3515201204C8F8AFC0A4EAE0483D46E576F22CB4",
        "labels": {
          "Label_1": "Value_1",
          "Label_2": 2,
          "Label_3": true
        },
        "tags": {
          "Tag_1": "Value_1",
          "Tag_2": 2,
          "Tag_3": true
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-4219-cac05bdadb08\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 21:53:01 GMT",
        "trace-id": "a1af183f-5b4f-a297-2e53-22ff5795c1f4"
      },
      "ResponseBody": {
        "id": "CFE3C8CCC41664B737DE050657D317988E993562BDA0E891C1",
        "status": "created",
        "channelId": "330F1904A1E1071777D5787008E835EF10E67F97AAEE1FD1B8",
        "queueId": "3C9B97883E3515201204C8F8AFC0A4EAE0483D46E576F22CB4",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Label_1": "Value_1",
          "Label_2": 2,
          "Label_3": true
        },
        "assignments": {},
        "tags": {
          "Tag_1": "Value_1",
          "Tag_2": 2,
          "Tag_3": true
        },
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000000-0000-0000-4219-cac05bdadb08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/CFE3C8CCC41664B737DE050657D317988E993562BDA0E891C1?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 21:52:57 GMT"
      },
      "RequestBody": {
        "requestedWorkerSelectors": [],
        "labels": {
          "Label_1": null,
          "Label_2": null,
          "Label_3": "Value_Updated_3",
          "Label_4": "Value_4"
        },
        "tags": {
          "Tag_1": null,
          "Tag_2": null,
          "Tag_3": "Value_Updated_3",
          "Tag_4": "Value_4"
        },
        "notes": [],
        "etag": ""
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000003-0000-0000-257e-ebc05bdadb08\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 21:53:01 GMT",
        "trace-id": "2364ecdd-d95a-b096-1add-bba6b24fcb22"
      },
      "ResponseBody": {
        "id": "CFE3C8CCC41664B737DE050657D317988E993562BDA0E891C1",
        "status": "queued",
        "enqueuedAt": "2023-10-31T21:53:01.5477407\u002B00:00",
        "channelId": "330F1904A1E1071777D5787008E835EF10E67F97AAEE1FD1B8",
        "queueId": "3C9B97883E3515201204C8F8AFC0A4EAE0483D46E576F22CB4",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Label_3": "Value_Updated_3",
          "Label_4": "Value_4"
        },
        "assignments": {},
        "tags": {
          "Tag_3": "Value_Updated_3",
          "Tag_4": "Value_4"
        },
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000003-0000-0000-257e-ebc05bdadb08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/CFE3C8CCC41664B737DE050657D317988E993562BDA0E891C1:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 21:53:02 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "b6ac5b8c-8a64-58d2-f510-82f995c6b4a2"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/3C9B97883E3515201204C8F8AFC0A4EAE0483D46E576F22CB4?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 21:53:07 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "ff0a03ef-f978-f11a-2140-e973740a1fc2"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-eb-tDd07a0y5L_PiafMH6w-",
    "RandomSeed": "278623572"
  }
}
