{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/F97E089D252CA8BA1B49B247564C589694D40591363454B0C1?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:12:36 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyF97E089D252CA8BA1B49B247564C589694D40591363454B0C1",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227b00b5b3-0000-0700-0000-654ac4640000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:12:36 GMT",
        "trace-id": "2cfa721d-fac1-371f-b1b1-44b475eeca30"
      },
      "ResponseBody": {
        "id": "F97E089D252CA8BA1B49B247564C589694D40591363454B0C1",
        "name": "LongestIdleDistributionPolicyF97E089D252CA8BA1B49B247564C589694D40591363454B0C1",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00227b00b5b3-0000-0700-0000-654ac4640000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/EA13055F675E8206DD32B9F36D031BC37B55685B2B9B727F56?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:12:37 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-TestEA13055F675E8206DD32B9F36D031BC37B55685B2B9B727F56",
        "distributionPolicyId": "F97E089D252CA8BA1B49B247564C589694D40591363454B0C1",
        "labels": {
          "Label_1": "Value_1"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c301c099-0000-0700-0000-654ac4640000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:12:36 GMT",
        "trace-id": "c8c6cf2c-c586-3ba7-d2b5-150fa99f760d"
      },
      "ResponseBody": {
        "id": "EA13055F675E8206DD32B9F36D031BC37B55685B2B9B727F56",
        "name": "DefaultQueue-Sdk-TestEA13055F675E8206DD32B9F36D031BC37B55685B2B9B727F56",
        "distributionPolicyId": "F97E089D252CA8BA1B49B247564C589694D40591363454B0C1",
        "labels": {
          "Label_1": "Value_1",
          "Id": "EA13055F675E8206DD32B9F36D031BC37B55685B2B9B727F56"
        },
        "etag": "\u0022c301c099-0000-0700-0000-654ac4640000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/D397F2F4FD8E699E4EF63A0AC3AEDEBFA3EF8E4D937D819038?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:12:37 GMT"
      },
      "RequestBody": {
        "channelId": "330F1904A1E1071777D5787008E835EF10E67F97AAEE1FD1B8",
        "queueId": "EA13055F675E8206DD32B9F36D031BC37B55685B2B9B727F56",
        "labels": {
          "Label_1": "Value_1",
          "Label_2": 2,
          "Label_3": true
        },
        "tags": {
          "Tag_1": "Value_1",
          "Tag_2": 2,
          "Tag_3": true
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-a54a-2308e7dfdb08\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:12:37 GMT",
        "trace-id": "43dfeb30-540b-9cd7-789b-5e5829920d26"
      },
      "ResponseBody": {
        "id": "D397F2F4FD8E699E4EF63A0AC3AEDEBFA3EF8E4D937D819038",
        "status": "created",
        "channelId": "330F1904A1E1071777D5787008E835EF10E67F97AAEE1FD1B8",
        "queueId": "EA13055F675E8206DD32B9F36D031BC37B55685B2B9B727F56",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Label_1": "Value_1",
          "Label_2": 2,
          "Label_3": true
        },
        "assignments": {},
        "tags": {
          "Tag_1": "Value_1",
          "Tag_2": 2,
          "Tag_3": true
        },
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000000-0000-0000-a54a-2308e7dfdb08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/D397F2F4FD8E699E4EF63A0AC3AEDEBFA3EF8E4D937D819038?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:12:37 GMT"
      },
      "RequestBody": {
        "requestedWorkerSelectors": [],
        "labels": {
          "Label_1": null,
          "Label_2": null,
          "Label_3": "Value_Updated_3",
          "Label_4": "Value_4"
        },
        "tags": {
          "Tag_1": null,
          "Tag_2": null,
          "Tag_3": "Value_Updated_3",
          "Tag_4": "Value_4"
        },
        "notes": [],
        "etag": ""
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000003-0000-0000-b0b5-5008e7dfdb08\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:12:37 GMT",
        "trace-id": "422cc1a4-1fe1-9042-3ac4-4ff63ed39b67"
      },
      "ResponseBody": {
        "id": "D397F2F4FD8E699E4EF63A0AC3AEDEBFA3EF8E4D937D819038",
        "status": "queued",
        "enqueuedAt": "2023-11-07T23:12:37.1426209\u002B00:00",
        "channelId": "330F1904A1E1071777D5787008E835EF10E67F97AAEE1FD1B8",
        "queueId": "EA13055F675E8206DD32B9F36D031BC37B55685B2B9B727F56",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Label_3": "Value_Updated_3",
          "Label_4": "Value_4"
        },
        "assignments": {},
        "tags": {
          "Tag_3": "Value_Updated_3",
          "Tag_4": "Value_4"
        },
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000003-0000-0000-b0b5-5008e7dfdb08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/D397F2F4FD8E699E4EF63A0AC3AEDEBFA3EF8E4D937D819038:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:12:42 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "a25e3f51-3ddd-c0b5-b522-9fef215f22e2"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/F97E089D252CA8BA1B49B247564C589694D40591363454B0C1?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:12:47 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "d71ca421-b593-1ce1-d99c-a0a62ac90f60"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-ccCGnaPqREiNh6Gt4Tb28g-",
    "RandomSeed": "1863807743"
  }
}
