{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/EA776B6BDEB546D452BDB4AEC49090492701309292C382E2F0?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Nov 2023 00:21:33 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyEA776B6BDEB546D452BDB4AEC49090492701309292C382E2F0",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227c000009-0000-0700-0000-654ad48a0000\u0022",
        "Last-Modified": "Wed, 08 Nov 2023 00:21:30 GMT",
        "trace-id": "ca7e49da-6c65-2aa5-e173-b4069d1b6710"
      },
      "ResponseBody": {
        "id": "EA776B6BDEB546D452BDB4AEC49090492701309292C382E2F0",
        "name": "LongestIdleDistributionPolicyEA776B6BDEB546D452BDB4AEC49090492701309292C382E2F0",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00227c000009-0000-0700-0000-654ad48a0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/608FBCE597D5DC3D3076FC389F683F31321ED16367666659C2?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Nov 2023 00:21:34 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test608FBCE597D5DC3D3076FC389F683F31321ED16367666659C2",
        "distributionPolicyId": "EA776B6BDEB546D452BDB4AEC49090492701309292C382E2F0",
        "labels": {
          "Label_1": "Value_1"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c4017bd6-0000-0700-0000-654ad48a0000\u0022",
        "Last-Modified": "Wed, 08 Nov 2023 00:21:30 GMT",
        "trace-id": "e5a90f44-eb0b-9ee2-64c4-824076644b53"
      },
      "ResponseBody": {
        "id": "608FBCE597D5DC3D3076FC389F683F31321ED16367666659C2",
        "name": "DefaultQueue-Sdk-Test608FBCE597D5DC3D3076FC389F683F31321ED16367666659C2",
        "distributionPolicyId": "EA776B6BDEB546D452BDB4AEC49090492701309292C382E2F0",
        "labels": {
          "Label_1": "Value_1",
          "Id": "608FBCE597D5DC3D3076FC389F683F31321ED16367666659C2"
        },
        "etag": "\u0022c4017bd6-0000-0700-0000-654ad48a0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/D05238FE4D84782D5341DBC4683D31722B9AA4F6032260E316?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Nov 2023 00:21:34 GMT"
      },
      "RequestBody": {
        "channelId": "330F1904A1E1071777D5787008E835EF10E67F97AAEE1FD1B8",
        "queueId": "608FBCE597D5DC3D3076FC389F683F31321ED16367666659C2",
        "labels": {
          "Label_1": "Value_1",
          "Label_2": 2,
          "Label_3": true
        },
        "tags": {
          "Tag_1": "Value_1",
          "Tag_2": 2,
          "Tag_3": true
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-cc5b-cfa7f0dfdb08\u0022",
        "Last-Modified": "Wed, 08 Nov 2023 00:21:30 GMT",
        "trace-id": "f72eb6e0-2985-6f80-c4a1-aded01474a61"
      },
      "ResponseBody": {
        "id": "D05238FE4D84782D5341DBC4683D31722B9AA4F6032260E316",
        "status": "created",
        "channelId": "330F1904A1E1071777D5787008E835EF10E67F97AAEE1FD1B8",
        "queueId": "608FBCE597D5DC3D3076FC389F683F31321ED16367666659C2",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Label_1": "Value_1",
          "Label_2": 2,
          "Label_3": true
        },
        "assignments": {},
        "tags": {
          "Tag_1": "Value_1",
          "Tag_2": 2,
          "Tag_3": true
        },
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000000-0000-0000-cc5b-cfa7f0dfdb08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/D05238FE4D84782D5341DBC4683D31722B9AA4F6032260E316?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Nov 2023 00:21:34 GMT"
      },
      "RequestBody": {
        "requestedWorkerSelectors": [],
        "labels": {
          "Label_1": null,
          "Label_2": null,
          "Label_3": "Value_Updated_3",
          "Label_4": "Value_4"
        },
        "tags": {
          "Tag_1": null,
          "Tag_2": null,
          "Tag_3": "Value_Updated_3",
          "Tag_4": "Value_4"
        },
        "notes": [],
        "etag": ""
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000003-0000-0000-37ab-e8a7f0dfdb08\u0022",
        "Last-Modified": "Wed, 08 Nov 2023 00:21:30 GMT",
        "trace-id": "255d4d3c-68ea-ac5f-86b1-84ff83d3c6b1"
      },
      "ResponseBody": {
        "id": "D05238FE4D84782D5341DBC4683D31722B9AA4F6032260E316",
        "status": "queued",
        "enqueuedAt": "2023-11-08T00:21:30.4811644\u002B00:00",
        "channelId": "330F1904A1E1071777D5787008E835EF10E67F97AAEE1FD1B8",
        "queueId": "608FBCE597D5DC3D3076FC389F683F31321ED16367666659C2",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Label_3": "Value_Updated_3",
          "Label_4": "Value_4"
        },
        "assignments": {},
        "tags": {
          "Tag_3": "Value_Updated_3",
          "Tag_4": "Value_4"
        },
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000003-0000-0000-37ab-e8a7f0dfdb08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/D05238FE4D84782D5341DBC4683D31722B9AA4F6032260E316:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Nov 2023 00:21:39 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "d6a55ee0-d1da-ffa0-c7db-245ef2ce61f1"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/608FBCE597D5DC3D3076FC389F683F31321ED16367666659C2?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Nov 2023 00:21:43 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "a41df4c3-4e46-a394-2342-8875779f3c60"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-ltDY3-FKA0KAdIVJnDKxUA-",
    "RandomSeed": "463451745"
  }
}
