{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/CCFAA6E4F9A91093FC10B4C36A1168E81CD2D813F1B3AE8085?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:16:39 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyCCFAA6E4F9A91093FC10B4C36A1168E81CD2D813F1B3AE8085",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227b0089b8-0000-0700-0000-654ac5570000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:16:39 GMT",
        "trace-id": "06e1cc1d-fbd2-0b76-f128-33a01ab7b84d"
      },
      "ResponseBody": {
        "id": "CCFAA6E4F9A91093FC10B4C36A1168E81CD2D813F1B3AE8085",
        "name": "LongestIdleDistributionPolicyCCFAA6E4F9A91093FC10B4C36A1168E81CD2D813F1B3AE8085",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00227b0089b8-0000-0700-0000-654ac5570000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/9BDFE42DD1B2080007A8327384F78F645CA64662A7515FF361?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:16:39 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test9BDFE42DD1B2080007A8327384F78F645CA64662A7515FF361",
        "distributionPolicyId": "CCFAA6E4F9A91093FC10B4C36A1168E81CD2D813F1B3AE8085",
        "labels": {
          "Label_1": "Value_1"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c301baab-0000-0700-0000-654ac5570000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:16:39 GMT",
        "trace-id": "a7664632-9024-a436-d806-646e00cfbcb9"
      },
      "ResponseBody": {
        "id": "9BDFE42DD1B2080007A8327384F78F645CA64662A7515FF361",
        "name": "DefaultQueue-Sdk-Test9BDFE42DD1B2080007A8327384F78F645CA64662A7515FF361",
        "distributionPolicyId": "CCFAA6E4F9A91093FC10B4C36A1168E81CD2D813F1B3AE8085",
        "labels": {
          "Label_1": "Value_1",
          "Id": "9BDFE42DD1B2080007A8327384F78F645CA64662A7515FF361"
        },
        "etag": "\u0022c301baab-0000-0700-0000-654ac5570000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/61F92D9812BC9BD731F188BA9A6CF8E0BC3A98B4B5A5AFDC05?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:16:39 GMT"
      },
      "RequestBody": {
        "channelId": "C219BD3B3969A6D653CADADD72B85997F5F8C56A8053682253",
        "queueId": "9BDFE42DD1B2080007A8327384F78F645CA64662A7515FF361",
        "priority": 1,
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-16f6-b998e7dfdb08\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:16:39 GMT",
        "trace-id": "0f30641d-c09e-7385-c7de-12e975b21d8e"
      },
      "ResponseBody": {
        "id": "61F92D9812BC9BD731F188BA9A6CF8E0BC3A98B4B5A5AFDC05",
        "status": "created",
        "channelId": "C219BD3B3969A6D653CADADD72B85997F5F8C56A8053682253",
        "queueId": "9BDFE42DD1B2080007A8327384F78F645CA64662A7515FF361",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000000-0000-0000-16f6-b998e7dfdb08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/61F92D9812BC9BD731F188BA9A6CF8E0BC3A98B4B5A5AFDC05?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:16:39 GMT"
      },
      "RequestBody": {
        "requestedWorkerSelectors": [],
        "notes": [
          {
            "message": "Fake notes attached to job with update",
            "addedAt": "2022-09-01T03:00:00.0000000Z"
          }
        ],
        "etag": ""
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "5db8f0cf-4568-ce8b-d1ed-d72228b4708d"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "Conflict",
          "message": "Duplicate sequence number",
          "target": "/routing/jobs/61F92D9812BC9BD731F188BA9A6CF8E0BC3A98B4B5A5AFDC05"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/61F92D9812BC9BD731F188BA9A6CF8E0BC3A98B4B5A5AFDC05?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:16:40 GMT"
      },
      "RequestBody": {
        "requestedWorkerSelectors": [],
        "notes": [
          {
            "message": "Fake notes attached to job with update",
            "addedAt": "2022-09-01T03:00:00.0000000Z"
          }
        ],
        "etag": ""
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-5b10-f098e7dfdb08\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:16:39 GMT",
        "trace-id": "8bb3706f-51c6-aea8-abbd-b0ffb0c06ef0"
      },
      "ResponseBody": {
        "id": "61F92D9812BC9BD731F188BA9A6CF8E0BC3A98B4B5A5AFDC05",
        "status": "queued",
        "enqueuedAt": "2023-11-07T23:16:39.7202955\u002B00:00",
        "channelId": "C219BD3B3969A6D653CADADD72B85997F5F8C56A8053682253",
        "queueId": "9BDFE42DD1B2080007A8327384F78F645CA64662A7515FF361",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [
          {
            "message": "Fake notes attached to job with update",
            "addedAt": "2022-09-01T03:00:00\u002B00:00"
          }
        ],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000002-0000-0000-5b10-f098e7dfdb08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/61F92D9812BC9BD731F188BA9A6CF8E0BC3A98B4B5A5AFDC05:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:16:43 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "06552ede-1063-b702-de92-efe7df083879"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/9BDFE42DD1B2080007A8327384F78F645CA64662A7515FF361?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:16:48 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "0f28ff84-87b4-2ea1-8cb6-ca29964d6f69"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-JTqr2KHKyESN9MSz1bMJYQ-",
    "RandomSeed": "1354278238"
  }
}
