{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/92FE863EB5BE304A54274E04365A84B28642A44E3D4A80E0A0?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:37:32 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy92FE863EB5BE304A54274E04365A84B28642A44E3D4A80E0A0",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022a4000393-0000-0700-0000-65525eda0000\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:37:30 GMT",
        "trace-id": "677c04d2-9eda-aea4-8b21-21903746def0"
      },
      "ResponseBody": {
        "id": "92FE863EB5BE304A54274E04365A84B28642A44E3D4A80E0A0",
        "name": "LongestIdleDistributionPolicy92FE863EB5BE304A54274E04365A84B28642A44E3D4A80E0A0",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u0022a4000393-0000-0700-0000-65525eda0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/A2457D55667570DEAF5B4C0F72FF2CAA285C99C8E50529DDB1?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:37:32 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-TestA2457D55667570DEAF5B4C0F72FF2CAA285C99C8E50529DDB1",
        "distributionPolicyId": "92FE863EB5BE304A54274E04365A84B28642A44E3D4A80E0A0",
        "labels": {
          "Label_1": "Value_1"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225902314b-0000-0700-0000-65525edb0000\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:37:31 GMT",
        "trace-id": "779dd09f-f5cc-02c9-74bd-f2d8ff2739d1"
      },
      "ResponseBody": {
        "id": "A2457D55667570DEAF5B4C0F72FF2CAA285C99C8E50529DDB1",
        "name": "DefaultQueue-Sdk-TestA2457D55667570DEAF5B4C0F72FF2CAA285C99C8E50529DDB1",
        "distributionPolicyId": "92FE863EB5BE304A54274E04365A84B28642A44E3D4A80E0A0",
        "labels": {
          "Label_1": "Value_1",
          "Id": "A2457D55667570DEAF5B4C0F72FF2CAA285C99C8E50529DDB1"
        },
        "etag": "\u00225902314b-0000-0700-0000-65525edb0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/7DB5C873A6F5CB5BA86E8AFA8B553055BE34BD4392D90D11CB?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:37:32 GMT"
      },
      "RequestBody": {
        "channelId": "330F1904A1E1071777D5787008E835EF10E67F97AAEE1FD1B8",
        "queueId": "A2457D55667570DEAF5B4C0F72FF2CAA285C99C8E50529DDB1",
        "labels": {
          "Label_1": "Value_1",
          "Label_2": 2,
          "Label_3": true
        },
        "tags": {
          "Tag_1": "Value_1",
          "Tag_2": 2,
          "Tag_3": true
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-c2ac-b6366fe4db08\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:37:31 GMT",
        "trace-id": "2e61edcf-aac6-70c9-8cb8-76a6168d44d3"
      },
      "ResponseBody": {
        "id": "7DB5C873A6F5CB5BA86E8AFA8B553055BE34BD4392D90D11CB",
        "status": "created",
        "channelId": "330F1904A1E1071777D5787008E835EF10E67F97AAEE1FD1B8",
        "queueId": "A2457D55667570DEAF5B4C0F72FF2CAA285C99C8E50529DDB1",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Label_1": "Value_1",
          "Label_2": 2,
          "Label_3": true
        },
        "assignments": {},
        "tags": {
          "Tag_1": "Value_1",
          "Tag_2": 2,
          "Tag_3": true
        },
        "notes": [],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "\u002200000000-0000-0000-c2ac-b6366fe4db08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/7DB5C873A6F5CB5BA86E8AFA8B553055BE34BD4392D90D11CB?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:37:32 GMT"
      },
      "RequestBody": {
        "requestedWorkerSelectors": [],
        "labels": {
          "Label_1": null,
          "Label_2": null,
          "Label_3": "Value_Updated_3",
          "Label_4": "Value_4"
        },
        "tags": {
          "Tag_1": null,
          "Tag_2": null,
          "Tag_3": "Value_Updated_3",
          "Tag_4": "Value_4"
        },
        "notes": [],
        "etag": ""
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-8e91-ef366fe4db08\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:37:31 GMT",
        "trace-id": "71350bbf-4a0d-aa7f-8696-f47d039b95d3"
      },
      "ResponseBody": {
        "id": "7DB5C873A6F5CB5BA86E8AFA8B553055BE34BD4392D90D11CB",
        "status": "queued",
        "enqueuedAt": "2023-11-13T17:37:31.7229966\u002B00:00",
        "channelId": "330F1904A1E1071777D5787008E835EF10E67F97AAEE1FD1B8",
        "queueId": "A2457D55667570DEAF5B4C0F72FF2CAA285C99C8E50529DDB1",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Label_3": "Value_Updated_3",
          "Label_4": "Value_4"
        },
        "assignments": {},
        "tags": {
          "Tag_3": "Value_Updated_3",
          "Tag_4": "Value_4"
        },
        "notes": [],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "\u002200000002-0000-0000-8e91-ef366fe4db08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/7DB5C873A6F5CB5BA86E8AFA8B553055BE34BD4392D90D11CB:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:37:38 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "2f5577fb-7c25-9ed1-1103-ef1ba15bc948"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/A2457D55667570DEAF5B4C0F72FF2CAA285C99C8E50529DDB1?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:37:42 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "faac359e-3eca-fcd7-7680-ddaa672b5520"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-2j6-wb-vu0-yOVfrBk1o6A-",
    "RandomSeed": "1950572079"
  }
}
