{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Relay/namespaces/mynamespacexxx/wcfRelays/myrelayxxx?api-version=2024-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "relayType": "NetTcp",
          "requiresClientAuthorization": true,
          "requiresTransportSecurity": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-messaging-activity-id": "c8da6e20-6666-463f-accc-4f1ec4e4843e",
        "x-ms-messaging-routing-id": "PROD|EASTUS|EASTUS|G5|2026-06-22T03:36:53",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Relay/namespaces/mynamespacexxx/wcfrelays/myrelayxxx",
        "name": "myrelayxxx",
        "type": "Microsoft.Relay/namespaces/wcfrelays",
        "location": "eastus",
        "properties": {
          "createdAt": "2026-06-22T03:36:53.1570208Z",
          "updatedAt": "2026-06-22T03:36:53.1570208Z",
          "listenerCount": 0,
          "requiresClientAuthorization": true,
          "relayType": "NetTcp",
          "requiresTransportSecurity": true,
          "isDynamic": false
        }
      }
    }
  ],
  "Variables": {}
}
