{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Relay/namespaces/mynamespacexxx?api-version=2024-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-messaging-activity-id": "e98741df-dc3f-44bd-9d07-312ea27c871d",
        "x-ms-messaging-routing-id": "PROD|EASTUS|EASTUS|G13|2026-06-22T03:36:26",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Relay/namespaces/mynamespacexxx",
        "name": "mynamespacexxx",
        "type": "Microsoft.Relay/Namespaces",
        "location": "eastus",
        "tags": {
          "tag1": "value1"
        },
        "properties": {
          "errors": [],
          "publicNetworkAccess": "Enabled",
          "provisioningState": "Succeeded",
          "status": "Active",
          "createdAt": "2026-06-22T03:32:04.2165287Z",
          "updatedAt": "2026-06-22T03:36:16Z",
          "metricId": "azure_subscription_id:mynamespacexxx",
          "serviceBusEndpoint": "https://mynamespacexxx.servicebus.windows.net:443/"
        },
        "sku": {
          "name": "Standard",
          "tier": "Standard"
        }
      }
    }
  ],
  "Variables": {}
}
