{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listkeyversions137292667/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listkeyversions137292667/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://Sanitized.vault.azure.net/keys/listkeyversions137292667/f63a5941a0be4d6ea0cfc7be40147045",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "17ZXyjZq787GXgw0Vl4GxUlXUi3KoXZ5inSNnRw9Z6onV-psJQAlxc91AqSkHI6lxLhd8eyOOhXFydXgIazNM1ftkwfitAcoD4vgvyfJXjvp_WQLRDcfdSeaWpIMx9EIjksB2ewf6DSn3VRZHg7GUV0RuC2M-Ddu0Lyt-O5SkG-5g7N0jAUnLw1c2x6otCbutTXlwvIlvylyxU73y9rRSZwjNyq3wH76BsFD0FEDxjahqJBfBwM4y3VRL-YZ_gsIqXb1fA28f1zc50ykvhcW9dOl_s19cX7fVu37EWoHlyDGPfgHCLLZuBtiXaGkSbC1xf1q867mXGFHcm0fOlKGlQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1741640274,
          "updated": 1741640274,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listkeyversions137292667/versions?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://gracewilcox60.vault.azure.net/keys/listkeyversions137292667/426cdb1396144dd8990300bc2b209967",
            "attributes": {
              "enabled": true,
              "created": 1741640275,
              "updated": 1741640275,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
          },
          {
            "kid": "[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listkeyversions137292667?api-version=7.6-preview.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://Sanitized.vault.azure.net/deletedkeys/listkeyversions137292667",
        "deletedDate": 1741640276,
        "scheduledPurgeDate": 1742245076,
        "key": {
          "kid": "https://Sanitized.vault.azure.net/keys/listkeyversions137292667/426cdb1396144dd8990300bc2b209967",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vdvdpzVpYQRkiP0qB-AiYalLqLd9Eptv4smwOmatmrbCtIfV5fZceDNkovVSPHRe9uJwUDZzE-3mEbH23zwDgITshQNjzdGusDnNJIfho1zIEBrXwv7BDaQxy5iIbijEobDBgyQE8A5Ssw8bjC_kl4CeytsnnJoNVX8EdoBJ-gb6yE5_lP8Yzw9eVKf-_gdLhH2obSqg7HUdLh1lYineL9OPEZHvIfqdzZGi3jhxL8kThh4658CPGTvPMNdvdf4WFOEyVrDZX-WQYkpdCnekk9AsYe3z5PMyNs7E21mNUwK7kvGni4DaQVDOfb3MhC44Tukda28-s1fP6OCyMqBXWQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1741640275,
          "updated": 1741640275,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
