{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listkeyversions137292667/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listkeyversions137292667/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://Sanitized.vault.azure.net/keys/listkeyversions137292667/695343c9adf14641935176c6dff167cb",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vwO1uIyAIn29NUZbuVZq0ZaT_EwDTvx0p6b5HXW_8UXUM1wiaepn2qScfWIpbCq7WRR_tMrAawbng8sP3AapxicRUqcKH1lB-v8OZPIuOwLc70UIzgGRHD6hqrc294xI7_2iwZd9B7ciut10ecWN6TV0_MHkLpE9Hgco1qr1DrxapcSuf-Q3KxK5JWnmBHEFART08FFY10Sp2rwA9fhloJ-3q9wMmXOUFln3PZ-Qjv6z3OPBaDAhOiufZbbss2VI1hyrU2emMIOQylIalhmXGo5dr34fpWsrmjfIAQR3EwoS1oJrvcobKsJrbhc8G-cGFAKHigjf8gQTIvZG3LCUoQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780675447,
          "updated": 1780675447,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listkeyversions137292667/versions?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://t4320ce7a30021c90.vault.azure.net/keys/listkeyversions137292667/695343c9adf14641935176c6dff167cb",
            "attributes": {
              "enabled": true,
              "key_size": 2048,
              "created": 1780675447,
              "updated": 1780675447,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
         [...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listkeyversions137292667?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://Sanitized.vault.azure.net/deletedkeys/listkeyversions137292667",
        "deletedDate": 1780675448,
        "scheduledPurgeDate": 1781280248,
        "key": {
          "kid": "https://Sanitized.vault.azure.net/keys/listkeyversions137292667/c11d85b7733e41388b3aec4629c28f9e",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "qUHzKZ2_5dIWQmWJpJVk3fZpcrxMaMZQK2X6tHtikWAde84yMFwSObjL0QrA7I9WyodtStg4F0qnGW_tgoI3LmLGXN8iP3cLBZpVPsFM7iM9SSTIzcKUky3Tp3G4qzdP56AAGs69bW27BBBDWB2xXaQc0UhWZ-r_sSIuEkvaY9Xk8rjWn04lqKp1mfupl7ynstuBUpZQ7XaIoUTM1M6vfU6IC9T7ddvaSMJZ5mZ2rikY-Xg4e9aTZ7HB6dReVFo6oU9I2E91N23NszM0aUik003SZptiVd6ul6p1XqEdHOgJh9EM0AWkpKI11rq2tHUlFfPQ-MOORCrv-iYDZnHasQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780675448,
          "updated": 1780675448,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
