{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listkeyversions137292667/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listkeyversions137292667/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://Sanitized.vault.azure.net/keys/listkeyversions137292667/311669d024f94e3480033d25ba28b46e",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "reg2dgLnmTq3e-RGMAX_Kr-Wr-enL99W37KHVI74tyXLuj-2Uqoz2owcQolEulRzoZlPvB6nVUio34lKT-oTedtBedYDxztbAqYgkXPyUfswTG2bFN6ZhkjtDrf4ORpK7J7NVvWppZheO9Zs16OyI0WA7c68jJBrBMdeMiMBuRwAPV5IFyeOfVL8WZBJPuetD8oaR_iqisBydwaqHfgPt4gBqKy16eSRSqDpjY2JXOKDUUUdpVXKO-melLUKjW_yPkLw6C78WIEoLL7WyML7zrYNjAFh0EHROQUKMuxWp5h2Ske1OWagulXNgKKhEsspLzNOIOCQXfDWoXZ_m6DIhQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1781021456,
          "updated": 1781021456,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listkeyversions137292667/versions?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://t4320ce7a30021c90.vault.azure.net/keys/listkeyversions137292667/311669d024f94e3480033d25ba28b46e",
            "attributes": {
              "enabled": true,
              "key_size": 2048,
              "created": 1781021456,
              "updated": 1781021456,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
         [...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listkeyversions137292667?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://Sanitized.vault.azure.net/deletedkeys/listkeyversions137292667",
        "deletedDate": 1781021457,
        "scheduledPurgeDate": 1781626257,
        "key": {
          "kid": "https://Sanitized.vault.azure.net/keys/listkeyversions137292667/8d192b9e28124028b190ccf4b9575361",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "6XPocg9Pp0H_uO_fO_tr_sZw_gFxm95wghbziZvx2Zs65_yq_oesntGzkGo9lW5f8Xdc28ouoGCBpaucO_6In8zaDf951ZlFjzow1YRlCE5QqNSQpBbpy3M7zpmCJPIZujkUAG_JV7BCMcW6j0dD78q_DqvV3-y2AzM0FN_Dndqv16tPNYImAV65XV08bhvJ53GxLSJRqYx2JySbIvLh5hGE6MK-mWFWenDeJkv8MCqk1ek5ZOHeSZAs4CpEig5_aBuTorZ2TxKtcyl5oC9ZiGAqmINQf53EhtDn7qycjD1t7PIwpuNWkx6Xh_Vw9eLFgO-L4pkm9M4DlTu5xsWRVQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1781021457,
          "updated": 1781021457,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
