{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listkeyversions137292667/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listkeyversions137292667/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://Sanitized.vault.azure.net/keys/listkeyversions137292667/114cd66aede84bd0b3bce622c2af07fc",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "2OpmM-2fokx8SO4iYuE_bP4rqIBOOXzqT6xVPRMdd5iTbpjAh7MdMwW9he400Vyj2ufBo-faJva2_hlrytH2wMCdHJJo2W5tZbYl3nQ9UnVU0WULZrkh2EZ2XCbqI4FHwaSuMvKvBWFlWf0GmqZoOmZRtImBj1R_FYBz6FeDB_45n9FWLeZs52ga37cToRxCFQ9gZpu_g1s0rA3vcJcmD9_noFkARxm-_fv6kDyQ5rI9478Jv5RrlcnlERIs7u3yoWoFuXphi4tK1zB-jkfkOvHvRDAw98V0fIKU44zPBoLn9NtBGGwNpluUDfI6dA4wNOn1enfK0o3QPTSLEHofpQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780553275,
          "updated": 1780553275,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listkeyversions137292667/versions?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://taca1f881381e79ad.vault.azure.net/keys/listkeyversions137292667/114cd66aede84bd0b3bce622c2af07fc",
            "attributes": {
              "enabled": true,
              "key_size": 2048,
              "created": 1780553275,
              "updated": 1780553275,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
         [...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listkeyversions137292667?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://Sanitized.vault.azure.net/deletedkeys/listkeyversions137292667",
        "deletedDate": 1780553276,
        "scheduledPurgeDate": 1781158076,
        "key": {
          "kid": "https://Sanitized.vault.azure.net/keys/listkeyversions137292667/d1772fb8a6db4a1993046285e5d8d206",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "x0RV4QVlvPvTY5KrLSNYdvLhtioCx7162vQKrvgKClP8MVDowkik1v66oeElaqKL_UarhLVywkCHAy81wsB3yvm-aM3aRmDcxkgwBHq3_vd71jPlOtw-_x-WSxkvHosg-UdyXEKTtmOfvxMGSuUdKlQyX05Fv1Q_9pATvviOzH7xbGfzA-xfXJApX2iFAj_fIRjCamS0WP-5FroOpFA-1ULxAsMoG5WN3abee0j8Q535g5gkKjns37TYLeI6srYeYfkub3dseDy8nTY5lopYW16I1udEcacE9bYvD6MXcsCtgu601k6NUIBiyJJVBGEMRx0cdOXE1suVE9MLT9l0AQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780553276,
          "updated": 1780553276,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
