{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listkeyversions137292667/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listkeyversions137292667/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://Sanitized.vault.azure.net/keys/listkeyversions137292667/7fa9b2052cb54b4fb293c83d9b658d68",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "1tboC69rWKVUJRV1gD3IuTZ-guMH55AX_Q4AGwEBdXvoYKGaA_MpMH3CKy3WumFZI55V6HCe51QSgMyPEpkjYExW3T7Omi5OCSUPaOxEC4Yq3DOI_KvstOWacQ2C3iiwLaaBTyaMKv-sieOCSenNE-TV1qADBOxoYGcI5lcNp7gXKOv8fzcxnP69C6r_FFFtsgDwoiv7CBY0VRiAyS2qHnqgjP3PG4X9CgcPs10CNm78l5rs-3BCCgjw3XjEO1mNlyGM5VCwe8JFaiocUtSWXym6vZwKYsk7h9CeC2djusvaJxVl1fhdTfh8vlizHQb3m5SFWU7XWgIUJuTSX3cBTQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780935556,
          "updated": 1780935556,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listkeyversions137292667/versions?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://t4320ce7a30021c90.vault.azure.net/keys/listkeyversions137292667/23ecce5ad93f446697fbe09f0abea22b",
            "attributes": {
              "enabled": true,
              "key_size": 2048,
              "created": 1780935556,
              "updated": 1780935556,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
         [...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listkeyversions137292667?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://Sanitized.vault.azure.net/deletedkeys/listkeyversions137292667",
        "deletedDate": 1780935557,
        "scheduledPurgeDate": 1781540357,
        "key": {
          "kid": "https://Sanitized.vault.azure.net/keys/listkeyversions137292667/23ecce5ad93f446697fbe09f0abea22b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "xVQ01MQvE612VK2OuZFCQxUSoSfpAJqpoymYZ8WBF-aqRcy6K3LSzFWVe0TJO_pZLrY0H_g0XtkNx5SX-xMf_REvONMFWxgR-MVyM_mN2Op6TDkjoLIZ6nAYsn_JgzP3GiKi47m9dk8V4swsNg044ucK0P_2eEF3pbyLmx3hsexP6BQvZ0aoqnZfpgJv4gnS8M5WqUnuVNBDC6lMp9PkU0lY690M91tcoZudZ4HRiSuRerxb-qD7dqzs-mbw4bLfySgDO0_obfkj5YheIF9Zxr6O8e3T7yXjq5CYX3YB6Ezr_J9E6ihM4liWS0hI2HTvbEmWY4REsaXTHyOGNQw26Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780935556,
          "updated": 1780935556,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
