{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listkeyversions137292667/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listkeyversions137292667/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://Sanitized.vault.azure.net/keys/listkeyversions137292667/9848968d774a41e09ee48000d00ab0d0",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "3deknVVuQs8Auln5tq9SdRnZ5JiZIzSxVKm96Ei8J6GSuYIH1jWAj_SAso7-fhpSN8qzUsHBp8ddJik3KmRz9bQ-d1gVZnlcxtdEJmmCZmRQnte4G0aCk29YkAePihVPOALz_HXm2FHYaAmUpLEba6QpcehiBu1hwkZYdvNKm9HxEP6Om1R4-JE7cZn2yflNozPau5SYyQuTwna0BF_2wD7NPb5wth50tMoB5RtmeU37c8KKsbaJE7Quus0KfW5z51hym-D-tMGI_tllm2dG4kkkq64iPaGpK2wzqwBQ4lI9nvU1frmD376oO8epjxSrdLy629WVr6Q4K4uLJqlX7Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1748987414,
          "updated": 1748987414,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listkeyversions137292667/versions?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://gracewilcox30.vault.azure.net/keys/listkeyversions137292667/17387fe105864c308593a00583cfa6d9",
            "attributes": {
              "enabled": true,
              "created": 1748987415,
              "updated": 1748987415,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
          },
          {
            "kid": "[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listkeyversions137292667?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://Sanitized.vault.azure.net/deletedkeys/listkeyversions137292667",
        "deletedDate": 1748987416,
        "scheduledPurgeDate": 1749592216,
        "key": {
          "kid": "https://Sanitized.vault.azure.net/keys/listkeyversions137292667/e02ab5ba9bac45f09d64ffd09c577711",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "smrsnXtabzof5jSfmdgxAC2LKLm41bHk_gXXVEkEtYEO2X6FwQleGVqsK8U42jjx-t8BsZeZdZPJHd5enmuLSOuypzg6i0sI-RjctWgo6rpE4IUIj6VQ9ss_c5vBWBndEUGvjpEeRiacO95H3RsrM7aZp_zdMHiR6CaJYAm00Ew3ec3E2jYrM_2Hpuht06Eupib8t_qSNh6s9X5MMzQ2TtgfFjAubBrhpzFYiVgPIKUH4yFz-atpL5RJxQxCu9Yr6OSfSWDKIaV1PPNgW4rGeh-0qNvDzULO8vRmm1LqBtrtMVr1i5c4TXwakNd50lr1GUP8IYX6kaQCWN2By1ASsQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1748987415,
          "updated": 1748987415,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
