{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/listkeyversions3188646711/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/listkeyversions3188646711/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "87"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1717541606,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1717541606
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://test.managedhsm.azure.net/keys/listkeyversions3188646711/54edf99ca1dc0b330c790d7cb1893c64",
          "kty": "RSA-HSM",
          "n": "injS3s8R4cS_wOheZGAB5AZAv7rQ25Q9cS9n5dnUzUpo1llau1eQEqyzWU49uttbtThMFsrQzz1P9An4KC1_tGYEqRuT-XO-LO9X7VwGYVVIFGR_knFUXWeAYJMxHIMy-oE6PYkM4DP6AnmWWp9xBBGVP_zOCa4PXRpNd2xgFQalrgz32hU5kMoz7ufw2g3wWEIpWFt4Kj-YaqYkU6IJTIXQGS3_z2VnmqvtuXiZU5Zhh6j_oOaOpG5UJ83pevkPeZZTYyRMotPqGH1YRkReRWl5fLaWAA5KTmV2RdqrQEgROZwtZhSR1HQRH1R8FZGptrzGspKgg0STW1yziPDWKw"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/listkeyversions3188646711/versions?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240429-1-3c19b27c-develop",
        "x-ms-server-latency": "10"
      },
      "ResponseBody": {
        "value": [
          {
            "attributes": {
              "created": 1717541606,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1717541606
            },
            "kid": "https://test.managedhsm.azure.net/keys/listkeyversions3188646711/54edf99ca1dc0b330c790d7cb1893c64"
          },
          {
            "attributes": {
              "created": 1717[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/listkeyversions3188646711?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "31"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1717541606,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1717541606
        },
        "deletedDate": 1717541607,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "sign",
            "verify",
            "encrypt",
            "decrypt",
            "unwrapKey"
          ],
          "kid": "https://test.managedhsm.azure.net/keys/listkeyversions3188646711/a5779d88be8641c6874e4e5b40b88f1f",
          "kty": "RSA-HSM",
          "n": "lQziugImkgfHdos7W5pHT25ByCyikhTrhTSWU6NWGrpBjZMqtgrdSc9yyFogRWeRSuCrWBknKNtm9aWL8-5Jv4o7-D2BnBUR1_tR4SrdWkFyp5mUIEhp02WbD-vAM3ih3kK0BVQ28S8xE7g9peLiVVGKotdgR4-S0_hd2PTPYasatlRrEJSAbkgpg9_1_QkjTmfXIfW5Kh_0eamMWfb0Pc7fvbYu6XWQHUx5MFP95RtqDPkH6BHPz5-lDbfMdZpPW5GI9oYbxYyOht6llQZZ83Rk0zkEczhZ1976MiycaspJgkG7rXbS2bgADjEWkv__AWQ6A-WY3bLBuc7Hr4kIUw"
        },
        "recoveryId": "https://test.managedhsm.azure.net/deletedkeys/listkeyversions3188646711",
        "scheduledPurgeDate": 1718146407
      }
    }
  ],
  "Variables": {}
}
