{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/listkeyversions3188646711/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/listkeyversions3188646711/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "84"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1718140243,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1718140243
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://Sanitized.managedhsm.azure.net/keys/listkeyversions3188646711/be95d443364a0cd489e4b014f502a1d5",
          "kty": "RSA-HSM",
          "n": "iTYIZNZn_qbwy6xSGylgHs5LQjDUiYg92inFDxvv5dxFyruv_Z7npOTscGWrKaGj-dMbnUTXIc0rtTPmoUEQg09OcVKQhLX97BT_89I2cbQX3ogc3--0NeWhIxYbCSpWFQYdlT3DCxG_dhhA54A5pKplgcKbhjb5W3v7X15fw5AkpOk0aJ5nQFycQ_dmW5NAhi-QZB_7EkC7kW6NUXGuZhXWXHQi4J5nFZuWXMRdT1nUV6tfl7Etjdw2mnjCIh_j5OSySrPhSNKWfoqVQg8EoI_RUqBKd8pSX6ELqCbgxtIdBaIncMdIOEPI4gBm8pU__aNvXeVUfAYHIhQnztnpEw"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/listkeyversions3188646711/versions?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240429-1-3c19b27c-develop",
        "x-ms-server-latency": "11"
      },
      "ResponseBody": {
        "value": [
          {
            "attributes": {
              "created": 1718140243,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1718140243
            },
            "kid": "https://gracewilcox1hsm.managedhsm.azure.net/keys/listkeyversions3188646711/be95d443364a0cd489e4b014f502a1d5"
          },
          {
            "attributes": {
              "cre[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/listkeyversions3188646711?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "28"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1718140244,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1718140244
        },
        "deletedDate": 1718140245,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "sign",
            "verify",
            "encrypt",
            "decrypt",
            "unwrapKey"
          ],
          "kid": "https://Sanitized.managedhsm.azure.net/keys/listkeyversions3188646711/4a616698202a08bc3fa26194d0367e4d",
          "kty": "RSA-HSM",
          "n": "jc8F5xsnYA59bmfAmHSTtQ__m961NxxAI3qs0vtnQ_yO63FBINYXmXrtxwezhuaeqG1B9PIZPm8fLOeM8N9LzFEZX6aPfGxiP_8TT_RHkGWDkdZJdObP8JsOYud1rqrcOBjQDXna8OEK9zzwcrTPocS8Zn5LLbGcq9FkG3WxGqP0fFlWW99ZWTbiaabo_8egbSXrD0NdovZDOYjWhwM4QUNP0yHKWeVZ-wCgTAeJgBVngz8mMReImI9aEMVdHq5LmzOW1iu6PKclV8CgR6mG0voQTzwS01rj8VD0G9WvAgcKUFCKtiYpbqU1Ta7Ot8Z9NURtZLDVb9qh6Pb816JISQ"
        },
        "recoveryId": "https://Sanitized.managedhsm.azure.net/deletedkeys/listkeyversions3188646711",
        "scheduledPurgeDate": 1718745045
      }
    }
  ],
  "Variables": {}
}
