{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/listkeyversions3188646711/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/listkeyversions3188646711/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "74"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1758150229,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1758150229
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://Sanitized.managedhsm.azure.net/keys/listkeyversions3188646711/71fdd38d566f4a75accd0384a6a35f2e",
          "kty": "RSA-HSM",
          "n": "qrZffx8LfMiT6vBmpxpZ8dKC-et00ci94Cb9LXFnmbKMREn009sa_OjfO7sQtIOs_WY5j8bqsKjmdvuXdTmH1pjvTCyt_ktF43ArCpD4hgN3-tRRpdwVYGtta9zbdjd_7-5W0jtpH6uQmPpZXVen_MBIA73Zd3sNOtcP4M_GuNn2_ZrLeSJtiphxGeF6x5kHRjYYENIVHj34HPemrNbgRsQyEGCwmj7ia5l0fxkTYM6Td3H4lX-FPKM6tR6m8eptxuGkPfSIrT_yMjhS4F_jJFMJKmmnoFE-QhMXEN_8YomFTk_zv8WH17HS0siFMUKo1R7VymeJRV7o2Nn6Sghdaw"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/listkeyversions3188646711/versions?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250826-1-e0164bc3-develop",
        "x-ms-server-latency": "10"
      },
      "ResponseBody": {
        "value": [
          {
            "attributes": {
              "created": 1758150229,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1758150229
            },
            "kid": "https://gracewilcox8hsm.managedhsm.azure.net/keys/listkeyversions3188646711/71fdd38d566f4a75accd0384a6a35f2e"
          },
          {
            "attributes": {
              "cre[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/listkeyversions3188646711?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "32"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1758150230,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1758150230
        },
        "deletedDate": 1758150231,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "sign",
            "verify",
            "encrypt",
            "decrypt",
            "unwrapKey"
          ],
          "kid": "https://Sanitized.managedhsm.azure.net/keys/listkeyversions3188646711/faf8d61dfdc60ebab1721f182670ae46",
          "kty": "RSA-HSM",
          "n": "jtbm-XnZeWGjQpD7_BiqAO66JSXsJ6Wj4UkeLkxVPkwFVUANWchiM-NuLt-fHklKGCai5_hxdqKWTEf8uvKyjyxewesKTwKXIsVqAIJkF95YI4_I6cvgvrB_zzTJER36UA2XI8s0M5rRkQ4C7TwF42yoTJ8Li9bQYdzXx9-eIR-9fN6mEuxPtWNc64-Va61fr3kFQIcG8iQRVIcfmAJqg1YPV2cKxT0EAioqGCcowUEXtHi9y9j0LCUxiTGCHjwobyIV3G5J8V-aPL4w573Z1Ncm3hlE8IXIUnFZ4QXKifbDyPU9rEn0WRoSezY9Zaa9cakeHWepkCv0JOvOdj_7HQ"
        },
        "recoveryId": "https://Sanitized.managedhsm.azure.net/deletedkeys/listkeyversions3188646711",
        "scheduledPurgeDate": 1758755031
      }
    }
  ],
  "Variables": {}
}
