{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_971526638165?api-version=2023-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/testCompute",
          "displayName": "test_971526638165",
          "experimentName": "mfe-test1",
          "isArchived": false,
          "jobType": "Command",
          "command": "echo \u0022inputs dont need to be used in command\u0022",
          "environmentId": "azureml:AzureML-sklearn-1.0-ubuntu20.04-py38-cpu:33",
          "environmentVariables": {},
          "inputs": {},
          "outputs": {
            "test1": {
              "jobOutputType": "uri_folder"
            },
            "test2": {
              "assetName": "test2_output",
              "assetVersion": "2",
              "mode": "Upload",
              "jobOutputType": "uri_folder"
            },
            "test3": {
              "assetName": "test3_output",
              "assetVersion": "3",
              "mode": "ReadWriteMount",
              "jobOutputType": "uri_folder"
            }
          }
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-response-type": "error",
        "x-request-time": "0.250"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "message": "Unknown compute target \u0027testCompute\u0027.",
          "details": [],
          "additionalInfo": [
            {
              "type": "ComponentName",
              "info": {
                "value": "managementfrontend"
              }
            },
            {
              "type": "Correlation",
              "info": {
                "value": {
                  "operation": "6fa114fd9463093b550b9230d75a2554",
                  "request": "32bd3d2ecd373b98"
                }
              }
            },
            {
              "type": "Environment",
              "info": {
                "value": "eastus2"
              }
            },
            {
              "type": "Location",
              "info": {
                "value": "eastus2"
              }
            },
            {
              "type": "Time",
              "info": {
                "value": "2023-11-04T09:44:10.7165798\u002B00:00"
              }
            },
            {
              "type": "InnerError",
              "info": {
                "value": {
                  "code": "BadArgument",
                  "innerError": {
                    "code": "UnknownTargetType",
                    "innerError": null
                  }
                }
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "job_name": "test_971526638165"
  }
}
