{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_398294053077?api-version=2023-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "computeId": "/subscriptions/79a1ba0c-35bb-436b-bff2-3074d5ff1f89/resourceGroups/Runtime/providers/Microsoft.MachineLearningServices/virtualclusters/centeuapvc",
          "displayName": "test_398294053077",
          "experimentName": "azure-ai-ml",
          "isArchived": false,
          "jobType": "Command",
          "command": "echo \u0022test\u0022",
          "distribution": {
            "distributionType": "PyTorch",
            "processCountPerInstance": 1
          },
          "environmentId": "azureml:AzureML-sklearn-1.0-ubuntu20.04-py38-cpu:33",
          "environmentVariables": {
            "JOB_EXECUTION_MODE": "Basic",
            "AZUREML_COMPUTE_USE_COMMON_RUNTIME": "true"
          },
          "inputs": {},
          "outputs": {},
          "queueSettings": {
            "jobTier": "Premium",
            "priority": 2
          },
          "resources": {
            "instanceCount": 2,
            "instanceType": "Singularity.NC6_v3",
            "locations": [
              "westus",
              "eastus"
            ],
            "properties": {
              "AISuperComputer": {
                "interactive": false,
                "imageVersion": "",
                "tensorboardLogDirectory": "/scratch/tensorboard_logs",
                "scalePolicy": {
                  "autoScaleIntervalInSec": 120,
                  "maxInstanceTypeCount": 1,
                  "minInstanceTypeCount": 1
                }
              }
            }
          }
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1196",
        "x-ms-response-type": "error",
        "x-request-time": "0.568"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "message": "The virtual cluster does not exist. Please ensure that you submitted a job to a virtual cluster which exists in the same cloud. A virtualcluster created in one Cloud cannot be used to submit jobs to another cloud.",
          "details": [],
          "additionalInfo": [
            {
              "type": "ComponentName",
              "info": {
                "value": "managementfrontend"
              }
            },
            {
              "type": "Correlation",
              "info": {
                "value": {
                  "operation": "371209b6a2151d6bd64a9fd5b85191b0",
                  "request": "b4fdd8cab9e50ced"
                }
              }
            },
            {
              "type": "Environment",
              "info": {
                "value": "eastus2"
              }
            },
            {
              "type": "Location",
              "info": {
                "value": "eastus2"
              }
            },
            {
              "type": "Time",
              "info": {
                "value": "2023-10-31T03:56:05.9089439\u002B00:00"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "job_name": "test_398294053077"
  }
}
