{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_973930568955?api-version=2023-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {
            "test_property": "test_value"
          },
          "tags": {},
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/testCompute",
          "displayName": "test_973930568955",
          "experimentName": "mfe-test1",
          "isArchived": false,
          "jobType": "Command",
          "command": "echo ${{inputs.test1}}",
          "environmentId": "azureml:AzureML-sklearn-1.0-ubuntu20.04-py38-cpu:33",
          "environmentVariables": {},
          "inputs": {
            "test1": {
              "mode": "ReadOnlyMount",
              "uri": "https://test.blob.core.windows.net/non-existent-ds/testdata/data.csv",
              "jobInputType": "uri_file"
            }
          },
          "outputs": {}
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-response-type": "error",
        "x-request-time": "0.592"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "message": "Unknown compute target \u0027testCompute\u0027.",
          "details": [],
          "additionalInfo": [
            {
              "type": "ComponentName",
              "info": {
                "value": "managementfrontend"
              }
            },
            {
              "type": "Correlation",
              "info": {
                "value": {
                  "operation": "72838219519fab5cf7c38100a82134a2",
                  "request": "df1eb3ec98a430e8"
                }
              }
            },
            {
              "type": "Environment",
              "info": {
                "value": "eastus2"
              }
            },
            {
              "type": "Location",
              "info": {
                "value": "eastus2"
              }
            },
            {
              "type": "Time",
              "info": {
                "value": "2023-10-31T04:17:37.8227801\u002B00:00"
              }
            },
            {
              "type": "InnerError",
              "info": {
                "value": {
                  "code": "BadArgument",
                  "innerError": {
                    "code": "UnknownTargetType",
                    "innerError": null
                  }
                }
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "job_name": "test_973930568955"
  }
}
