{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.EdgeZones/extendedZones/losangeles/register?api-version=2024-04-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "78368568-0816-431b-8235-00becbc12b02",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "registrationState": "PendingRegister",
          "displayName": "Los Angeles",
          "regionalDisplayName": "(US) Los Angeles",
          "regionType": "Physical",
          "regionCategory": "Other",
          "geography": "usa",
          "geographyGroup": "US",
          "longitude": "-118.23537",
          "latitude": "34.058414",
          "homeLocation": "westus"
        },
        "id": "/subscriptions/azure_subscription_id/providers/Microsoft.EdgeZones/extendedZones/losangeles",
        "name": "losangeles",
        "type": "Microsoft.EdgeZones/extendedZones"
      }
    }
  ],
  "Variables": {}
}
