{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.EdgeZones/extendedZones?api-version=2024-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "350d5309-24a8-4334-b54d-49471e172787",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/providers/Microsoft.EdgeZones/extendedZones/losangeles",
            "name": "losangeles",
            "type": "Microsoft.EdgeZones/extendedZones",
            "properties": {
              "provisioningState": "Succeeded",
              "registrationState": "PendingRegister",
              "displayName": "Los Angeles",
              "regionalDisplayName": "(US) Los Angeles",
              "regionType": "Physical",
              "regionCategory": "Other",
              "geography": "usa",
              "geographyGroup": "US",
              "longitude": "-118.23537",
              "latitude": "34.058414",
              "homeLocation": "westus"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
