{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/97db216c-169d-4ea9-9d98-114adba0aa20?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/97db216c-169d-4ea9-9d98-114adba0aa20",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "97db216c-169d-4ea9-9d98-114adba0aa20",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure DNS Managed Resolver (Validation) (Corp)",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/97db216c-169d-4ea9-9d98-114adba0aa20/resourcegroups/testRG-5534?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "australiaeast"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/97db216c-169d-4ea9-9d98-114adba0aa20/resourceGroups/testRG-5534",
        "name": "testRG-5534",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "australiaeast",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/97db216c-169d-4ea9-9d98-114adba0aa20/resourceGroups/testRG-5534/providers/Microsoft.Network/dnsResolverDomainLists/dnsResolverDomainList-9669?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "australiaeast",
        "properties": {
          "domains": [
            "example.com.",
            "contoso.com."
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/97db216c-169d-4ea9-9d98-114adba0aa20/resourceGroups/testRG-5534/providers/Microsoft.Network/locations/australiaeast/dnsResolverPolicyOperationStatuses/eyJPcGVyYXRpb25UeXBlIjoiQ29udmVyZ2VEbnNSZXNvbHZlckRvbWFpbkxpc3QiLCJPcGVyYXRpb25JZCI6ImRkNjc0Y2JiLTAxNjMtNDJkYi04NWZkLTQ3NDEzNmExY2VkZCJ9?api-version=2023-07-01-preview&t=638639238608761651&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyL[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/97db216c-169d-4ea9-9d98-114adba0aa20/resourceGroups/testRG-5534/providers/Microsoft.Network/locations/australiaeast/dnsResolverPolicyOperationStatuses/eyJPcGVyYXRpb25UeXBlIjoiQ29udmVyZ2VEbnNSZXNvbHZlckRvbWFpbkxpc3QiLCJPcGVyYXRpb25JZCI6ImRkNjc0Y2JiLTAxNjMtNDJkYi04NWZkLTQ3NDEzNmExY2VkZCJ9?api-version=**&t=638639238608761651&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYK[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/97db216c-169d-4ea9-9d98-114adba0aa20/resourceGroups/testRG-5534/providers/Microsoft.Network/dnsResolverDomainLists/dnsResolverDomainList-9669?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "499"
      },
      "ResponseBody": {
        "properties": {
          "domains": [
            "example.com.",
            "contoso.com."
          ],
          "provisioningState": "Succeeded",
          "resourceGuid": "79b02704-09f8-49fa-9197-4465ccb96d51"
        },
        "etag": "\"2b01330c-0000-1b00-0000-67042d980000\"",
        "location": "australiaeast",
        "id": "/subscriptions/97db216c-169d-4ea9-9d98-114adba0aa20/resourceGroups/testRG-5534/providers/Microsoft.Network/dnsResolverDomainLists/dnsResolverDomainList-9669",
        "name": "dnsResolverDomainList-9669",
        "type": "Microsoft.Network/dnsResolverDomainLists",
        "systemData": {
          "createdAt": "2024-10-07T18:51:00.048085Z",
          "createdByType": "User",
          "lastModifiedAt": "2024-10-07T18:51:00.048085Z",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/97db216c-169d-4ea9-9d98-114adba0aa20/providers/Microsoft.Resources?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/97db216c-169d-4ea9-9d98-114adba0aa20/providers/Microsoft.Resources",
        "namespace": "Microsoft.Resources",
        "authorizations": [
          {
            "applicationId": "00000000-0000-0000-0000-000000000000"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000"
          }
        ],
        "resourceTypes": [
          {
            "resourceType": "changes",
            "locations": [],
            "apiVersions": [
              "2024-06-01-preview",
              "2023-07-01-preview",
              "2023-03-01-preview",
              "2022-05-01",
              "2022-03-01-preview"
            ],
            "capabilities": "SupportsExtension"
          },
          {
            "resourceType": "snapshots",
            "locations": [],
            "apiVersions": [
              "2022-11-01-preview"
            ],
            "capabilities": "SupportsExtension"
          },
          {
            "resourceType": "deploymentScripts",
            "locations": [
              "East Asia",
              "Southeast Asia",
              "Australia East",
              "Australia Southeast",
              "Brazil South"[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/97db216c-169d-4ea9-9d98-114adba0aa20/resourceGroups/testRG-5534/providers/Microsoft.Network/dnsResolverDomainLists/dnsResolverDomainList-9669/providers/Microsoft.Resources/tags/default?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/97db216c-169d-4ea9-9d98-114adba0aa20/resourceGroups/testRG-5534/providers/Microsoft.Network/dnsResolverDomainLists/dnsResolverDomainList-9669/providers/Microsoft.Resources/tags/default",
        "name": "default",
        "type": "Microsoft.Resources/tags",
        "properties": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/97db216c-169d-4ea9-9d98-114adba0aa20/resourceGroups/testRG-5534/providers/Microsoft.Network/dnsResolverDomainLists/dnsResolverDomainList-9669/providers/Microsoft.Resources/tags/default?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "tags": {
            "tagKeyyqlUdIkc": "tagValueejjEuyI0"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/97db216c-169d-4ea9-9d98-114adba0aa20/resourceGroups/testRG-5534/providers/Microsoft.Network/locations/australiaeast/dnsResolverPolicyOperationStatuses/eyJPcGVyYXRpb25UeXBlIjoiVXBzZXJ0RG5zUmVzb2x2ZXJEb21haW5MaXN0IiwiT3BlcmF0aW9uSWQiOiIxMGI1YmM4NS01NGY3LTQ0OGQtODk2Yi1iMDIyYTVlNzk2OGUifQ==?api-version=2023-07-01-preview&t=[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/97db216c-169d-4ea9-9d98-114adba0aa20/resourceGroups/testRG-5534/providers/Microsoft.Network/locations/australiaeast/dnsResolverPolicyOperationStatuses/eyJPcGVyYXRpb25UeXBlIjoiVXBzZXJ0RG5zUmVzb2x2ZXJEb21haW5MaXN0IiwiT3BlcmF0aW9uSWQiOiIxMGI1YmM4NS01NGY3LTQ0OGQtODk2Yi1iMDIyYTVlNzk2OGUifQ==?api-version=**&t=638639238732294103&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYK[...]
[...]
