{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/assistants?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "instructions": "You are helpful agent",
        "model": "gpt-4o",
        "name": "agent-for-python-projects-sdk-testing"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "70518679dd1e46ed9a5578d62d7c196e",
        "openai-processing-ms": "90",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "6c9a572a-2946-4237-b35a-8ea3b998a84d",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.588"
      },
      "ResponseBody": {
        "id": "asst_bYmnzw7SFa47DnbYsQb26BQj",
        "object": "assistant",
        "created_at": 1749255007,
        "name": "agent-for-python-projects-sdk-testing",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are helpful agent",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/assistants/asst_bYmnzw7SFa47DnbYsQb26BQj?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "70518679dd1e46ed9a5578d62d7c196e",
        "openai-processing-ms": "129",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "a0d02fa5-740e-4121-8293-46a5be9e913c",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.354"
      },
      "ResponseBody": {
        "id": "asst_bYmnzw7SFa47DnbYsQb26BQj",
        "object": "assistant.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
