{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/indexes/test-index-name/versions/1?api-version=2025-05-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "type": "AzureSearch",
        "connectionName": "my-ai-search-connection",
        "indexName": "my-ai-search-index"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "825d6c43-1b77-4508-9b65-cc15d25edea5",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.888"
      },
      "ResponseBody": {
        "type": "AzureSearch",
        "connectionName": "my-ai-search-connection",
        "indexName": "my-ai-search-index",
        "name": "test-index-name",
        "version": "1"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/indexes?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "cc34f04d-419a-48a7-9a40-1e8f428e077a",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.076"
      },
      "ResponseBody": {
        "value": [
          {
            "type": "AzureSearch",
            "connectionName": "my-ai-search-connection-name",
            "indexName": "my-ai-search-index-name",
            "name": "index-test-7-25-2025",
            "version": "1.0"
          },
          {
            "type": "AzureSearch",
            "connectionName": "my-ai-search-connection-name",
            "indexName": "my-ai-search-index-name",
            "name": "my-index",
            "version": "1.0"
          },
          {
   [...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/indexes/test-index-name/versions?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "222f437e-b409-4cee-b46a-e413b1e7219d",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.257"
      },
      "ResponseBody": {
        "value": [
          {
            "type": "AzureSearch",
            "connectionName": "my-ai-search-connection",
            "indexName": "my-ai-search-index",
            "name": "test-index-name",
            "version": "1"
          },
          {
            "type": "AzureSearch",
            "connectionName": "my-ai-search-connection",
            "indexName": "my-ai-search-index",
            "name": "test-index-name",
            "version": "11"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/indexes/test-index-name/versions/1?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "mise-correlation-id": "8184215c-ad9c-49b2-af55-3c0a0217bbe1",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.121"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
