{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/assistants?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "instructions": "You are helpful agent",
        "model": "gpt-4o",
        "name": "agent-for-python-projects-sdk-testing"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "70518679dd1e46ed9a5578d62d7c196e",
        "openai-processing-ms": "66",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "4f8aeab7-0746-4854-a530-db45cfd4ade1",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.260"
      },
      "ResponseBody": {
        "id": "asst_NGgr5ql0doNq0sggPLEjCGSi",
        "object": "assistant",
        "created_at": 1749247525,
        "name": "agent-for-python-projects-sdk-testing",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are helpful agent",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/assistants/asst_NGgr5ql0doNq0sggPLEjCGSi?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "70518679dd1e46ed9a5578d62d7c196e",
        "openai-processing-ms": "87",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "dc3dee50-9681-48b1-9ef5-afb68a13505d",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.281"
      },
      "ResponseBody": {
        "id": "asst_NGgr5ql0doNq0sggPLEjCGSi",
        "object": "assistant.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
