{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/a5629b55-9ee1-4447-aba1-6cdbf44c8846?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/a5629b55-9ee1-4447-aba1-6cdbf44c8846?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "roleName": "a5629b55-9ee1-4447-aba1-6cdbf44c8846",
          "type": "CustomRole",
          "assignableScopes": [
            "/"
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "14"
      },
      "ResponseBody": {
        "id": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/a5629b55-9ee1-4447-aba1-6cdbf44c8846",
        "name": "a5629b55-9ee1-4447-aba1-6cdbf44c8846",
        "properties": {
          "assignableScopes": [
            "/"
          ],
          "description": "",
          "permissions": [],
          "roleName": "a5629b55-9ee1-4447-aba1-6cdbf44c8846",
          "type": "CustomRole"
        },
        "type": "Microsoft.Authorization/roleDefinitions"
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/a5629b55-9ee1-4447-aba1-6cdbf44c8846?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260125-1-d9e41bf5-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "id": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/a5629b55-9ee1-4447-aba1-6cdbf44c8846",
        "name": "a5629b55-9ee1-4447-aba1-6cdbf44c8846",
        "properties": {
          "assignableScopes": [
            "/"
          ],
          "description": "",
          "permissions": [],
          "roleName": "a5629b55-9ee1-4447-aba1-6cdbf44c8846",
          "type": "CustomRole"
        },
        "type": "Microsoft.Authorization/roleDefinitions"
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/providers/Microsoft.Authorization/roleAssignments/2318315f-4eca-46bb-8d18-13c90b216224?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "roleDefinitionId": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/a5629b55-9ee1-4447-aba1-6cdbf44c8846",
          "principalId": "azure_client_id"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "15"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Authorization/roleAssignments/2318315f-4eca-46bb-8d18-13c90b216224",
        "name": "2318315f-4eca-46bb-8d18-13c90b216224",
        "properties": {
          "principalId": "azure_client_id",
          "roleDefinitionId": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/a5629b55-9ee1-4447-aba1-6cdbf44c8846",
          "scope": "/"
        },
        "type": "Microsoft.Authorization/roleAssignments"
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/providers/Microsoft.Authorization/roleAssignments/2318315f-4eca-46bb-8d18-13c90b216224?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "error": {
          "code": "RoleAssignmentNotFound",
          "message": "Requested role assignment not found (Activity ID: 10c449ce-40d0-11f1-a254-6045bdc24371)"
        }
      }
    }
  ],
  "Variables": {
    "suffix": "suffix-555877",
    "uuid-1": "a5629b55-9ee1-4447-aba1-6cdbf44c8846",
    "uuid-2": "2318315f-4eca-46bb-8d18-13c90b216224"
  }
}
