{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/10b68180-fa85-45bb-a5b4-90c75a313dd0?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/10b68180-fa85-45bb-a5b4-90c75a313dd0?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "roleName": "10b68180-fa85-45bb-a5b4-90c75a313dd0",
          "type": "CustomRole",
          "assignableScopes": [
            "/"
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "18"
      },
      "ResponseBody": {
        "id": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/10b68180-fa85-45bb-a5b4-90c75a313dd0",
        "name": "10b68180-fa85-45bb-a5b4-90c75a313dd0",
        "properties": {
          "assignableScopes": [
            "/"
          ],
          "description": "",
          "permissions": [],
          "roleName": "10b68180-fa85-45bb-a5b4-90c75a313dd0",
          "type": "CustomRole"
        },
        "type": "Microsoft.Authorization/roleDefinitions"
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/10b68180-fa85-45bb-a5b4-90c75a313dd0?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20241130-1-aecac196-develop",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "id": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/10b68180-fa85-45bb-a5b4-90c75a313dd0",
        "name": "10b68180-fa85-45bb-a5b4-90c75a313dd0",
        "properties": {
          "assignableScopes": [
            "/"
          ],
          "description": "",
          "permissions": [],
          "roleName": "10b68180-fa85-45bb-a5b4-90c75a313dd0",
          "type": "CustomRole"
        },
        "type": "Microsoft.Authorization/roleDefinitions"
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/providers/Microsoft.Authorization/roleAssignments/7bb0a84e-4be8-474c-8b0a-73b75fd99459?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "roleDefinitionId": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/10b68180-fa85-45bb-a5b4-90c75a313dd0",
          "principalId": "01ea9a65-813e-4238-8204-bf7328d63fc6"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "18"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Authorization/roleAssignments/7bb0a84e-4be8-474c-8b0a-73b75fd99459",
        "name": "7bb0a84e-4be8-474c-8b0a-73b75fd99459",
        "properties": {
          "principalId": "01ea9a65-813e-4238-8204-bf7328d63fc6",
          "roleDefinitionId": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/10b68180-fa85-45bb-a5b4-90c75a313dd0",
          "scope": "/"
        },
        "type": "Microsoft.Authorization/roleAssignments"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/providers/Microsoft.Authorization/roleAssignments/10b68180-fa85-45bb-a5b4-90c75a313dd0?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "error": {
          "code": "RoleAssignmentNotFound",
          "message": "Requested role assignment not found (Activity ID: 216ac80c-e7df-11ef-844f-0022489665d7)"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/10b68180-fa85-45bb-a5b4-90c75a313dd0?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "16"
      },
      "ResponseBody": {
        "id": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/10b68180-fa85-45bb-a5b4-90c75a313dd0",
        "name": "10b68180-fa85-45bb-a5b4-90c75a313dd0",
        "properties": {
          "assignableScopes": [
            "/"
          ],
          "description": "",
          "permissions": [],
          "roleName": "10b68180-fa85-45bb-a5b4-90c75a313dd0",
          "type": "CustomRole"
        },
        "type": "Microsoft.Authorization/roleDefinitions"
      }
    }
  ],
  "Variables": {
    "suffix": "suffix-394088",
    "uuid-1": "10b68180-fa85-45bb-a5b4-90c75a313dd0",
    "uuid-2": "7bb0a84e-4be8-474c-8b0a-73b75fd99459"
  }
}
