{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.SignalRService/webPubSub?api-version=2025-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "9e8a07ce-44b4-4136-8215-b5cedaf040ef",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-rp-server-mvid": "57ce0947-e218-417e-a4d7-785d5b88496c"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "Free_F1",
              "tier": "Free",
              "size": "F1",
              "capacity": 1
            },
            "properties": {
              "provisioningState": "Succeeded",
              "externalIP": "20.62.134.177",
              "hostName": "mywebpubsubservice1.webpubsub.azure.com",
              "publicPort": 443,
              "serverPort": 443,
              "version": "1.0",
              "privateEndpointConnections": [],
              "sharedPrivateLinkResources": [],
              "tls": {
                "clientCertEnabled": false
              },
              "hostNamePrefix": "mywebpubsubservice1",
              "liveTraceConfiguration": {
                "enabled": "false",
                "categories": [
                  {
                    "name": "ConnectivityLogs",
                    "enabled": "true"
                  }
                ]
              },
              "resourceLogConfiguration": null,
              "networkACLs": {
                "defaultAction": "Deny",
                "publicNetwork": {
                  "allow": [
                    "ServerConnection",
                    "ClientConnection",
                    "RESTAPI",
                    "Trace"
                  ],
                  "deny": null
                },
                "privateEndpoints": [],
                "ipRules": [
                  {
                    "value": "0.0.0.0/0",
                    "action": "Allow"
                  },
                  {
                    "value": "::/0",
                    "action": "Allow"
                  }
                ]
              },
              "applicationFirewall": {
                "clientConnectionCountRules": [],
                "clientTrafficControlRules": [],
                "maxClientConnectionLifetimeInSeconds": null
              },
              "publicNetworkAccess": "Enabled",
              "disableLocalAuth": false,
              "disableAadAuth": false,
              "regionEndpointEnabled": "Enabled",
              "resourceStopped": "false",
              "socketIO": null
            },
            "kind": "WebPubSub",
            "identity": {
              "type": "SystemAssigned",
              "principalId": "00000000-0000-0000-0000-000000000000",
              "tenantId": "00000000-0000-0000-0000-000000000000"
            },
            "location": "eastus",
            "tags": {
              "key1": "value1"
            },
            "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.SignalRService/WebPubSub/myWebPubSubService1",
            "name": "myWebPubSubService1",
            "type": "Microsoft.SignalRService/WebPubSub",
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2026-06-03T09:41:02.2655773Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2026-06-03T09:41:02.2655773Z"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
