{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2024-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Aug 2025 00:35:21 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "9943746868463116",
        "X-Microsoft-Skype-Chain-ID": "3fa22e02-b5d3-4347-b197-19390d15d85f",
        "X-Microsoft-Skype-Message-ID": "a3ab5f04-6ad2-4c6b-afd2-f9e09217497a",
        "X-MS-Skype-MLC-Telemetry-Id": "3fa22e02-b5d3-4347-b197-19390d15d85f"
      },
      "ResponseBody": {
        "id": "9943746868463116",
        "createdAt": "2025-08-29T00:35:21.8406045+00:00",
        "validFrom": "2025-08-29T00:35:21.7627622+00:00",
        "validUntil": "2025-08-30T00:35:21.7627622+00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2024-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Aug 2025 00:35:21 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders"[...]
