{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 22 Sep 2023 16:55:07 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01, 2023-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "908AUu8NyEWJSJL0NNa\u002BLQ.0",
        "X-Processing-Time": "12ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_0000001b-5db2-aceb-b688-094822005d8e"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-06-14",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Fri, 22 Sep 2023 16:55:07 GMT",
        "Repeatability-Request-ID": "62ceacd7-4c71-404d-8d76-dd2a61b94fa2",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 22 Sep 2023 16:55:07 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized",
        "participants": {
          "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_0000001b-5db2-aceb-b688-094822005d8e": {
            "role": "Presenter"
          },
          "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_0000001b-5db2-ad14-b688-094822005d8f": {
            "role": "Attendee"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99453060282652764",
        "MS-CV": "EbEEZf7ZTE61W6R88LHc7w.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99453060282652764",
        "createdAt": "2023-09-22T16:55:07.9977688\u002B00:00",
        "validFrom": "2023-09-22T16:55:07.4221483\u002B00:00",
        "validUntil": "2023-09-23T16:55:07.4221483\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-06-14",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 22 Sep 2023 16:55:07 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "AOXdpnPzkk\u002Bsof6Mbw\u002BjKw.0"
      },
      "ResponseBody": {
        "id": "99453060282652764",
        "createdAt": "2023-09-22T16:55:07.9977688\u002B00:00",
        "validFrom": "2023-09-22T16:55:07.4221483\u002B00:00",
        "validUntil": "2023-09-23T16:55:07.4221483\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-06-14",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 22 Sep 2023 16:55:08 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "KL87Vgra0ki3E30cM2w3tA.0",
        "x-ms-error-code": "NotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "The server cannot find the requested resource."
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "2012449788"
  }
}
