{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-06-14",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Fri, 22 Sep 2023 16:55:10 GMT",
        "Repeatability-Request-ID": "fa4e2c50-ec36-4505-a606-04c257e1c5e3",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 22 Sep 2023 16:55:10 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "SIBSuWy3wUCii\u002Bk/mC\u002BplQ.0",
        "x-ms-error-code": "BadRequest"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "The request could not be understood by the server due to malformed syntax.",
          "details": [
            {
              "code": "BadArgument",
              "message": "The time range end is in the past.",
              "target": "ValidUntil"
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "936058375"
  }
}
