{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2025-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Aug 2025 00:35:11 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99443677054034847",
        "X-Microsoft-Skype-Chain-ID": "2f5c784a-7fce-43a6-8402-7cef1f1f2ed0",
        "X-Microsoft-Skype-Message-ID": "515eb83b-aa9c-4dd3-9388-3ba8db038aca",
        "X-MS-Skype-MLC-Telemetry-Id": "2f5c784a-7fce-43a6-8402-7cef1f1f2ed0"
      },
      "ResponseBody": {
        "id": "99443677054034847",
        "createdAt": "2025-08-29T00:35:11.6837193+00:00",
        "validFrom": "2025-08-29T00:35:11.6150562+00:00",
        "validUntil": "2026-02-25T00:35:11.6150562+00:00",
        "pstnDialOutEnabled": false
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://acsrooms-mhang-test-prod.canada.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "938612693"
  }
}
