{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-06-14",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Thu, 21 Sep 2023 21:08:02 GMT",
        "Repeatability-Request-ID": "29a88f9f-7ee1-49e4-8497-9a04194da4ce",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 21 Sep 2023 21:08:02 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99470281786170924",
        "MS-CV": "z8I3WBNvRU6FhAgl6xSqNA.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99470281786170924",
        "createdAt": "2023-09-21T21:08:03.2873196\u002B00:00",
        "validFrom": "2023-09-21T21:08:03.215901\u002B00:00",
        "validUntil": "2024-03-19T21:08:03.215901\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "293513988"
  }
}
