{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2025-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Aug 2025 00:34:54 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99441738889238203",
        "X-Microsoft-Skype-Chain-ID": "104b32da-5df7-47a7-afb2-b6b66ba2dfd7",
        "X-Microsoft-Skype-Message-ID": "554a3cc0-ee31-410e-ba3a-c664416530ac",
        "X-MS-Skype-MLC-Telemetry-Id": "104b32da-5df7-47a7-afb2-b6b66ba2dfd7"
      },
      "ResponseBody": {
        "id": "99441738889238203",
        "createdAt": "2025-08-29T00:34:54.2576914+00:00",
        "validFrom": "2025-08-29T00:34:54.1819736+00:00",
        "validUntil": "2026-02-25T00:34:54.1819736+00:00",
        "pstnDialOutEnabled": false
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://acsrooms-mhang-test-prod.canada.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1039156892"
  }
}
