{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-06-14",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Tue, 02 Jan 2024 09:41:59 GMT",
        "Repeatability-Request-ID": "2adb050b-5ec5-4c96-ac31-b0253e41eeea",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 02 Jan 2024 09:41:59 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99492565665601540",
        "MS-CV": "APYyTQ/zTUy\u002Bi6/PKzAf5A.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99492565665601540",
        "createdAt": "2024-01-02T09:42:00.1761624\u002B00:00",
        "validFrom": "2024-01-02T09:42:00.0325864\u002B00:00",
        "validUntil": "2024-06-30T09:42:00.0325864\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.unitedstates.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "303442618"
  }
}
