{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-06-14",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Tue, 02 Jan 2024 09:41:34 GMT",
        "Repeatability-Request-ID": "2d55dea7-2975-40de-9d84-e060c6209d11",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 02 Jan 2024 09:41:34 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "9949138588143577",
        "MS-CV": "dq/BiNbeyEu9hiH1u3xuhw.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "9949138588143577",
        "createdAt": "2024-01-02T09:41:34.6241563\u002B00:00",
        "validFrom": "2024-01-02T09:41:34.468311\u002B00:00",
        "validUntil": "2024-06-30T09:41:34.468311\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.unitedstates.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1066128231"
  }
}
