{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-06-14",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Tue, 19 Sep 2023 23:01:19 GMT",
        "Repeatability-Request-ID": "0506e2ef-0185-4f36-b83a-d905c8e7b4fd",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 19 Sep 2023 23:01:19 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99429435571218106",
        "MS-CV": "85R2fcA0m0KrdBl2WL1LBQ.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99429435571218106",
        "createdAt": "2023-09-19T23:01:20.372949\u002B00:00",
        "validFrom": "2023-09-19T23:01:20.2950699\u002B00:00",
        "validUntil": "2024-03-17T23:01:20.2950699\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1384714428"
  }
}
