{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Mon, 18 Sep 2023 23:23:04 GMT",
        "Repeatability-Request-ID": "e3c32487-fece-4899-b1de-0a0a7d399270",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 18 Sep 2023 23:23:04 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99466543350682368",
        "MS-CV": "BkaNIC6RWUuq0k06wOn99w.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99466543350682368",
        "createdAt": "2023-09-18T23:23:04.6557885\u002B00:00",
        "validFrom": "2023-09-18T23:23:04.5762785\u002B00:00",
        "validUntil": "2024-03-16T23:23:04.5762785\u002B00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Mon, 18 Sep 2023 23:23:04 GMT",
        "Repeatability-Request-ID": "820a0495-fbf0-43c1-a82c-affebdb6518a",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 18 Sep 2023 23:23:04 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99450673406286005",
        "MS-CV": "omil3BGiEkm\u002BLT4ocTz62g.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99450673406286005",
        "createdAt": "2023-09-18T23:23:04.9665498\u002B00:00",
        "validFrom": "2023-09-18T23:23:04.8826738\u002B00:00",
        "validUntil": "2024-03-16T23:23:04.8826738\u002B00:00",
        "pstnDialOutEnabled": false
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "106109868"
  }
}
