{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-06-14",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Fri, 22 Sep 2023 16:54:52 GMT",
        "Repeatability-Request-ID": "807f1c69-8420-4151-aafd-5c577922e947",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 22 Sep 2023 16:54:52 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99469563165998808",
        "MS-CV": "olVcyXOk50CZgdby2HjFww.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99469563165998808",
        "createdAt": "2023-09-22T16:54:52.932832\u002B00:00",
        "validFrom": "2023-09-22T16:54:52.8476315\u002B00:00",
        "validUntil": "2024-03-20T16:54:52.8476315\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-06-14",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 22 Sep 2023 16:54:52 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "MS-CV": "WArvag/Nl0iMujMEWTHeUA.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-06-14",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 22 Sep 2023 16:54:53 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "UXfpp1002EeUUjjMRndZRA.0",
        "x-ms-error-code": "NotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "The server cannot find the requested resource."
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1463089570"
  }
}
