{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-06-14",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 21:21:34 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99441742025084200",
        "MS-CV": "Sanitized",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99441742025084200",
        "createdAt": "2025-08-28T21:21:35.1806893+00:00",
        "validFrom": "2025-08-28T21:21:35.1112764+00:00",
        "validUntil": "2026-02-24T21:21:35.1112764+00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-06-14",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 21:21:35 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "99441742025084200",
            "createdAt": "2025-08-28T21:21:35.1806893+00:00",
            "validFrom": "2025-08-28T21:21:35.1112764+00:00",
            "validUntil": "2026-02-24T21:21:35.1112764+00:00"
          },
          {
            "id": "99450606550512181",
            "createdAt": "2025-08-28T21:21:33.2735335+00:00",
            "validFrom": "2025-08-28T21:21:33.2065709+00:00",
            "validUntil": "2026-02-24T21:21:33.2065709+00:00"[...]
