{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-06-14",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 18:02:46 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99412172933497545",
        "MS-CV": "Sanitized",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99412172933497545",
        "createdAt": "2025-08-28T18:02:46.7949663+00:00",
        "validFrom": "2025-08-28T18:02:46.6601165+00:00",
        "validUntil": "2026-02-24T18:02:46.6601165+00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-06-14",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 18:02:47 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "99412172933497545",
            "createdAt": "2025-08-28T18:02:46.7949663+00:00",
            "validFrom": "2025-08-28T18:02:46.6601165+00:00",
            "validUntil": "2026-02-24T18:02:46.6601165+00:00"
          },
          {
            "id": "9947451515489938",
            "createdAt": "2025-08-28T18:02:45.3540096+00:00",
            "validFrom": "2025-08-28T18:02:45.2187007+00:00",
            "validUntil": "2026-02-24T18:02:45.2187007+00:00"[...]
