{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-06-14",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Aug 2025 00:35:15 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99485045731809002",
        "MS-CV": "Sanitized",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99485045731809002",
        "createdAt": "2025-08-29T00:35:15.4234008+00:00",
        "validFrom": "2025-08-29T00:35:15.116542+00:00",
        "validUntil": "2026-02-25T00:35:15.116542+00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized/participants?api-version=2023-06-14",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Aug 2025 00:35:15 GMT"
      },
      "RequestBody": {
        "participants": {
          "invalid_mri": null
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "x-ms-error-code": "BadRequest"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "Communication identifier invalid_mri is not supported."
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://acsrooms-mhang-test-prod.canada.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "253886716"
  }
}
