{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-06-14",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Thu, 21 Sep 2023 00:43:07 GMT",
        "Repeatability-Request-ID": "d5738f02-0bdc-4e5b-a034-1bdf27453fe1",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 21 Sep 2023 00:43:07 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99425050277343047",
        "MS-CV": "Vs5tIr6tU0CbFheXnuNJIA.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99425050277343047",
        "createdAt": "2023-09-21T00:43:07.9676985\u002B00:00",
        "validFrom": "2023-09-21T00:43:07.6446393\u002B00:00",
        "validUntil": "2024-03-19T00:43:07.6446393\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized/participants?api-version=2023-06-14",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 21 Sep 2023 00:43:07 GMT"
      },
      "RequestBody": {
        "participants": {
          "invalid_mri": null
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-deprecated-versions": "2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "QKTAiaUoM0yr0tKzmqIk6A.0",
        "x-ms-error-code": "BadRequest"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "Invalid value for the Participants."
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "751315862"
  }
}
