{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 20 Mar 2024 04:57:59 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "6Z34EQFbr0C2AHWfGmV9Jg.0",
        "X-Processing-Time": "16ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_0000001e-fa1a-d070-1985-09482200c53b"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-06-14",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Wed, 20 Mar 2024 04:57:59 GMT",
        "Repeatability-Request-ID": "33fa797c-d46c-4659-b940-5f18cd3e22f4",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 20 Mar 2024 04:57:59 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized",
        "participants": {
          "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_0000001e-fa1a-d070-1985-09482200c53b": {
            "role": "Presenter"
          },
          "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_0000001e-fa1a-d0a2-1985-09482200c53c": {
            "role": "Presenter"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99437787232864087",
        "MS-CV": "1qMa9tz4sEiYTkNcL9NJSQ.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99437787232864087",
        "createdAt": "2024-03-20T04:58:00.4677719\u002B00:00",
        "validFrom": "2024-03-20T04:57:59.4696234\u002B00:00",
        "validUntil": "2024-03-21T04:57:59.4696234\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized/participants?api-version=2023-06-14",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 20 Mar 2024 04:57:59 GMT"
      },
      "RequestBody": {
        "participants": {
          "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_0000001e-fa1a-d0a2-1985-09482200c53c": {
            "role": "Consumer"
          },
          "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_0000001e-fa1a-d0d5-1985-09482200c53d": {
            "role": "Attendee"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "3BlagbuaGE6QoUrS2fkRFg.0"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized/participants?api-version=2023-06-14",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 20 Mar 2024 04:58:00 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "g6gmSVSMHky9szqAkhRFcA.0"
      },
      "ResponseBody": {
        "value": [
          {
            "rawId": "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_0000001e-fa1a-d070-1985-09482200c53b",
            "role": "Presenter"
          },
          {
            "rawId": "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_0000001e-fa1a-d0a2-1985-09482200c53c",
            "role": "Consumer"
          },
          {
            "rawId": "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_0000001e-fa1a-d0d5-1985-09482200c53d",
            "role": "Attendee"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-06-14",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 20 Mar 2024 04:58:01 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15",
        "MS-CV": "gisjYpUfL0CPjkd7RSsy/w.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1578042915"
  }
}
