{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Mar 2025 11:28:12 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01, 2025-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "14ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_00000026-05f1-d6a2-b688-0948220058a2"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-06-14",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Mar 2025 11:28:13 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized",
        "participants": {
          "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_00000026-05f1-d6a2-b688-0948220058a2": {
            "role": "Presenter"
          },
          "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_00000026-05f1-d6f0-b688-0948220058a3": {
            "role": "Presenter"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99471997587713882",
        "MS-CV": "Sanitized",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99471997587713882",
        "createdAt": "2025-03-05T11:28:12.8681834+00:00",
        "validFrom": "2025-03-05T11:28:13.1620981+00:00",
        "validUntil": "2025-03-06T11:28:13.1620981+00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized/participants?api-version=2023-06-14",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Mar 2025 11:28:13 GMT"
      },
      "RequestBody": {
        "participants": {
          "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_00000026-05f1-d6f0-b688-0948220058a3": {
            "role": "Consumer"
          },
          "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_00000026-05f1-d745-b688-0948220058a4": {
            "role": "Attendee"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized/participants?api-version=2023-06-14",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Mar 2025 11:28:13 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized"
      },
      "ResponseBody": {
        "value": [
          {
            "rawId": "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_00000026-05f1-d6a2-b688-0948220058a2",
            "role": "Presenter"
          },
          {
            "rawId": "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_00000026-05f1-d6f0-b688-0948220058a3",
            "role": "Consumer"
          },
          {
            "rawId": "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_00000026-05f1-d745-b688-0948220058a4",
            "role": "Attendee"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-06-14",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Mar 2025 11:28:14 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "MS-CV": "Sanitized"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.unitedstates.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1513767500"
  }
}
