{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-06-14",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Wed, 20 Mar 2024 04:58:06 GMT",
        "Repeatability-Request-ID": "1cf96ca5-e460-4852-b9a5-61d0bc0c61ab",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 20 Mar 2024 04:58:06 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99443191143490442",
        "MS-CV": "VzuMQJIxtEKAzIQFvGtC4g.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99443191143490442",
        "createdAt": "2024-03-20T04:58:07.7453526\u002B00:00",
        "validFrom": "2024-03-20T04:58:06.7522528\u002B00:00",
        "validUntil": "2024-03-30T04:58:06.7522528\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-06-14",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 20 Mar 2024 04:58:07 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "U0wHKR6\u002BOESmmxQ8uYYNxA.0",
        "x-ms-error-code": "BadRequest"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "The request could not be understood by the server due to malformed syntax.",
          "details": [
            {
              "code": "BadArgument",
              "message": "The time range end is in the past.",
              "target": "ValidUntil"
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "761445046"
  }
}
