{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/DnsRG2879?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DnsRG2879",
        "name": "DnsRG2879",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DnsRG2879/providers/Microsoft.Network/dnsZones/2022dnszone2833.com?api-version=2023-07-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "Global",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "4a5d1e7b-5043-4191-9809-876ab513d9e9",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dnsrg2879/providers/Microsoft.Network/dnszones/2022dnszone2833.com",
        "name": "2022dnszone2833.com",
        "type": "Microsoft.Network/dnszones",
        "etag": "4a5d1e7b-5043-4191-9809-876ab513d9e9",
        "location": "global",
        "tags": {},
        "properties": {
          "maxNumberOfRecordSets": 10000,
          "maxNumberOfRecordsPerRecordSet": null,
          "nameServers": [
            "ns1-03.azure-dns.com.",
            "ns2-03.azure-dns.net.",
            "ns3-03.azure-dns.org.",
            "ns4-03.azure-dns.info."
          ],
          "numberOfRecordSets": 2,
          "zoneType": "Public"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dnsrg2879/providers/Microsoft.Network/dnsZones/2022dnszone2833.com/A/a91?api-version=2023-07-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "TTL": 3600,
          "ARecords": [
            {
              "ipv4Address": "10.10.0.1"
            },
            {
              "ipv4Address": "10.10.0.2"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "ff57e188-cec7-4fa0-bba5-56e9f4ca9adb",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dnsrg2879/providers/Microsoft.Network/dnszones/2022dnszone2833.com/A/a91",
        "name": "a91",
        "type": "Microsoft.Network/dnszones/A",
        "etag": "ff57e188-cec7-4fa0-bba5-56e9f4ca9adb",
        "properties": {
          "fqdn": "a91.2022dnszone2833.com.",
          "TTL": 3600,
          "ARecords": [
            {
              "ipv4Address": "10.10.0.1"
            },
            {
              "ipv4Address": "10.10.0.2"
            }
          ],
          "targetResource": {},
          "trafficManagementProfile": {},
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dnsrg2879/providers/Microsoft.Network/dnsZones/2022dnszone2833.com/AAAA/aaaa4870?api-version=2023-07-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "TTL": 3600,
          "AAAARecords": [
            {
              "ipv6Address": "3f0d:8079:32a1:9c1d:dd7c:afc6:fc15:d55"
            },
            {
              "ipv6Address": "3f0d:8079:32a1:9c1d:dd7c:afc6:fc15:d66"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "80bc1a1f-6909-4152-b5e0-4a0ac60d6389",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dnsrg2879/providers/Microsoft.Network/dnszones/2022dnszone2833.com/AAAA/aaaa4870",
        "name": "aaaa4870",
        "type": "Microsoft.Network/dnszones/AAAA",
        "etag": "80bc1a1f-6909-4152-b5e0-4a0ac60d6389",
        "properties": {
          "fqdn": "aaaa4870.2022dnszone2833.com.",
          "TTL": 3600,
          "AAAARecords": [
            {
              "ipv6Address": "3f0d:8079:32a1:9c1d:dd7c:afc6:fc15:d55"
            },
            {
              "ipv6Address": "3f0d:8079:32a1:9c1d:dd7c:afc6:fc15:d66"
            }
          ],
          "targetResource": {},
          "trafficManagementProfile": {},
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dnsrg2879/providers/Microsoft.Network/dnsZones/2022dnszone2833.com/CAA/caa?api-version=2023-07-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "TTL": 3600,
          "caaRecords": [
            {
              "flags": 1,
              "tag": "test1",
              "value": "caa1.contoso.com"
            },
            {
              "flags": 2,
              "tag": "test2",
              "value": "caa2.contoso.com"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "6d75f152-4819-42fa-afb5-b41ba472f518",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dnsrg2879/providers/Microsoft.Network/dnszones/2022dnszone2833.com/CAA/caa",
        "name": "caa",
        "type": "Microsoft.Network/dnszones/CAA",
        "etag": "6d75f152-4819-42fa-afb5-b41ba472f518",
        "properties": {
          "fqdn": "caa.2022dnszone2833.com.",
          "TTL": 3600,
          "caaRecords": [
            {
              "flags": 1,
              "tag": "test1",
              "value": "caa1.contoso.com"
            },
            {
              "flags": 2,
              "tag": "test2",
              "value": "caa2.contoso.com"
            }
          ],
          "targetResource": {},
          "trafficManagementProfile": {},
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dnsrg2879/providers/Microsoft.Network/dnsZones/2022dnszone2833.com/CNAME/cname7997?api-version=2023-07-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "TTL": 3600,
          "CNAMERecord": {
            "cname": "mycontoso.com"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "98ec9325-b9b0-4261-84f3-3dd4011a814c",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dnsrg2879/providers/Microsoft.Network/dnszones/2022dnszone2833.com/CNAME/cname7997",
        "name": "cname7997",
        "type": "Microsoft.Network/dnszones/CNAME",
        "etag": "98ec9325-b9b0-4261-84f3-3dd4011a814c",
        "properties": {
          "fqdn": "cname7997.2022dnszone2833.com.",
          "TTL": 3600,
          "CNAMERecord": {
            "cname": "mycontoso.com"
          },
          "targetResource": {},
          "trafficManagementProfile": {},
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dnsrg2879/providers/Microsoft.Network/dnsZones/2022dnszone2833.com/MX/mx1339?api-version=2023-07-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "TTL": 3600,
          "MXRecords": [
            {
              "preference": 10,
              "exchange": "mymail1.contoso.com"
            },
            {
              "preference": 11,
              "exchange": "mymail2.contoso.com"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "66c0616f-198c-4be1-8e42-94afcd8ae71b",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dnsrg2879/providers/Microsoft.Network/dnszones/2022dnszone2833.com/MX/mx1339",
        "name": "mx1339",
        "type": "Microsoft.Network/dnszones/MX",
        "etag": "66c0616f-198c-4be1-8e42-94afcd8ae71b",
        "properties": {
          "fqdn": "mx1339.2022dnszone2833.com.",
          "TTL": 3600,
          "MXRecords": [
            {
              "exchange": "mymail1.contoso.com",
              "preference": 10
            },
            {
              "exchange": "mymail2.contoso.com",
              "preference": 11
            }
          ],
          "targetResource": {},
          "trafficManagementProfile": {},
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dnsrg2879/providers/Microsoft.Network/dnsZones/2022dnszone2833.com/SRV/srv7274?api-version=2023-07-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "TTL": 3600,
          "SRVRecords": [
            {
              "priority": 1,
              "weight": 1,
              "port": 1,
              "target": "target1.contoso.com"
            },
            {
              "priority": 1,
              "weight": 1,
              "port": 1,
              "target": "target2.contoso.com"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "ed8b32d7-050a-4d7d-b85d-d83e15e2cefb",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dnsrg2879/providers/Microsoft.Network/dnszones/2022dnszone2833.com/SRV/srv7274",
        "name": "srv7274",
        "type": "Microsoft.Network/dnszones/SRV",
        "etag": "ed8b32d7-050a-4d7d-b85d-d83e15e2cefb",
        "properties": {
          "fqdn": "srv7274.2022dnszone2833.com.",
          "TTL": 3600,
          "SRVRecords": [
            {
              "port": 1,
              "priority": 1,
              "target": "target1.contoso.com",
              "weight": 1
            },
            {
              "port": 1,
              "priority": 1,
              "target": "target2.contoso.com",
              "weight": 1
            }
          ],
          "targetResource": {},
          "trafficManagementProfile": {},
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dnsrg2879/providers/Microsoft.Network/dnsZones/2022dnszone2833.com/TXT/txt6397?api-version=2023-07-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "TTL": 3600,
          "TXTRecords": [
            {
              "value": [
                "value1",
                "value2"
              ]
            },
            {
              "value": [
                "value3",
                "value4",
                "value5"
              ]
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "99d9869a-03f5-4a16-9e9f-4d07ab4ba68b",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dnsrg2879/providers/Microsoft.Network/dnszones/2022dnszone2833.com/TXT/txt6397",
        "name": "txt6397",
        "type": "Microsoft.Network/dnszones/TXT",
        "etag": "99d9869a-03f5-4a16-9e9f-4d07ab4ba68b",
        "properties": {
          "fqdn": "txt6397.2022dnszone2833.com.",
          "TTL": 3600,
          "TXTRecords": [
            {
              "value": [
                "value1",
                "value2"
              ]
            },
            {
              "value": [
                "value3",
                "value4",
                "value5"
              ]
            }
          ],
          "targetResource": {},
          "trafficManagementProfile": {},
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dnsrg2879/providers/Microsoft.Network/dnsZones/2022dnszone2833.com/PTR/ptr7413?api-version=2023-07-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "TTL": 3600,
          "PTRRecords": [
            {
              "ptrdname": "contoso1.com"
            },
            {
              "ptrdname": "contoso2.com"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "5622ddc4-19b8-4888-889f-a138c6389f96",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dnsrg2879/providers/Microsoft.Network/dnszones/2022dnszone2833.com/PTR/ptr7413",
        "name": "ptr7413",
        "type": "Microsoft.Network/dnszones/PTR",
        "etag": "5622ddc4-19b8-4888-889f-a138c6389f96",
        "properties": {
          "fqdn": "ptr7413.2022dnszone2833.com.",
          "TTL": 3600,
          "PTRRecords": [
            {
              "ptrdname": "contoso1.com"
            },
            {
              "ptrdname": "contoso2.com"
            }
          ],
          "targetResource": {},
          "trafficManagementProfile": {},
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dnsrg2879/providers/Microsoft.Network/dnsZones/2022dnszone2833.com/recordsets?api-version=2023-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-entities-read": "59990",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "499"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dnsrg2879/providers/Microsoft.Network/dnszones/2022dnszone2833.com/NS/@",
            "name": "@",
            "type": "Microsoft.Network/dnszones/NS",
            "etag": "5baa1835-fb77-4a30-8dc0-51115ad3ba0f",
            "properties": {
              "fqdn": "2022dnszone2833.com.",
              "TTL": 172800,
              "NSRecords": [
                {
                  "nsdname": "ns1-03.azure-dns.com."
                },
                {
                  "nsdname": "ns2-03.azure-dns.net."
                },
                {
                  "nsdname": "ns3-03.azure-dns.org."
                },
                {
                  "nsdname": "ns4-03.azure-dns.info."
                }
              ],
              "targetResource": {},
              "trafficManagementProfile": {},
              "provisioningState": "Succeeded"
            }
          },
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dnsrg2879/providers/Microsoft.Network/dnszones/2022dnszone2833.com/SOA/@",
            "name": "@",
            "type": "Microsoft.Network/dnszones/SOA",
            "etag": "2242476b-daa2-4ca2-9d6d-e184df8513d4",
            "properties": {
              "fqdn": "2022dnszone2833.com.",
              "TTL": 3600,
              "SOARecord": {
                "email": "azuredns-hostmaster.microsoft.com",
                "expireTime": 2419200,
                "host": "ns1-03.azure-dns.com.",
                "minimumTTL": 300,
                "refreshTime": 3600,
                "retryTime": 300,
                "serialNumber": 1
              },
              "targetResource": {},
              "trafficManagementProfile": {},
              "provisioningState": "Succeeded"
            }
          },
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dnsrg2879/providers/Microsoft.Network/dnszones/2022dnszone2833.com/A/a91",
            "name": "a91",
            "type": "Microsoft.Network/dnszones/A",
            "etag": "ff57e188-cec7-4fa0-bba5-56e9f4ca9adb",
            [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dnsrg2879/providers/Microsoft.Network/dnsZones/2022dnszone2833.com?api-version=2023-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dnsrg2879/providers/Microsoft.Network/dnsOperationStatuses/00000000-0000-0000-0000-000000000003;805580;2022dnszone2833.com;Regular?api-version=2023-07-01-preview&t=638590455930779849&c=MIIHhzCCBm-gAwIBAgITHgTLf2Bo2ctQx42TXQAABMt_YDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI0MTExMDUyWhcNMjUwNjE5MTExMDUyWjBAMT4wPAYDVQQDEz[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dnsrg2879/providers/Microsoft.Network/dnsOperationStatuses/00000000-0000-0000-0000-000000000003;805580;2022dnszone2833.com;Regular?api-version=2023-07-01-preview&t=638590455930779849&c=MIIHhzCCBm-gAwIBAgITHgTLf2Bo2ctQx42TXQAABMt_YDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI0MTExMDUyWhcNMjUwNjE5M[...]
