{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-westus2.cognitiveservices.azure.com/documentintelligence/documentModels:build?api-version=2024-02-29-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "modelId": "287893713",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "https://sanitized.blob.core.windows.net"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://camaiaor-westus2.cognitiveservices.azure.com/documentintelligence/operations/31457066808_b68abf5c-d218-4278-b2b8-6bb113136a99?api-version=2024-02-29-preview",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-westus2.cognitiveservices.azure.com/documentintelligence/operations/31457066808_b68abf5c-d218-4278-b2b8-6bb113136a99?api-version=2024-02-29-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "operationId": "31457066808_b68abf5c-d218-4278-b2b8-6bb113136a99",
        "kind": "documentModelBuild",
        "status": "notStarted",
        "createdDateTime": "2024-03-01T13:53:11Z",
        "lastUpdatedDateTime": "2024-03-01T13:53:11Z",
        "resourceLocation": "https://camaiaor-westus2.cognitiveservices.azure.com/documentintelligence/documentModels/287893713?api-version=2024-02-29-preview",
        "apiVersion": "2024-02-29-preview"
      }
    },
    {
      "RequestUri": "https://camaiaor-westus2.cognitiveservices.azure.com/documentintelligence/operations/31457066808_b68abf5c-d218-4278-b2b8-6bb113136a99?api-version=2024-02-29-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "operationId": "31457066808_b68abf5c-d218-4278-b2b8-6bb113136a99",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2024-03-01T13:53:11Z",
        "lastUpdatedDateTime": "2024-03-01T13:53:14Z",
        "resourceLocation": "https://camaiaor-westus2.cognitiveservices.azure.com/documentintelligence/documentModels/287893713?api-version=2024-02-29-preview",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "287893713": {
              "fieldSchema": {
                "Merchant": {
                  "type": "string"
                },
                "PhoneNumber": {
                  "type": "string"
                },
                "Website": {
                  "type": "string"
                },
                "Email": {
                  "type": "string"
                },
                "PurchaseOrderNumber": {
                  "type": "string"
                },
                "DatedAs": {
                  "type": "string"
                },
                "VendorName": {
                  "type": "string"
                },
                "CompanyName": {
                  "type": "string"
                },
                "CompanyAddress": {
                  "type": "string"
                },
                "CompanyPhoneNumber": {
                  "type": "string"
                },
                "Subtotal": {
                  "type": "string"
                },
                "Tax": {
                  "type": "string"
                },
                "Total": {
                  "type": "string"
                },
                "Signature": {
                  "type": "string"
                },
                "Quantity": {
                  "type": "number"
                },
                "FullSignature": {
                  "type": "signature"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "CompanyAddress": 0.8,
                "CompanyName": 0.995,
                "CompanyPhoneNumber": 0.995,
                "DatedAs": 0.995,
                "Email": 0.8,
                "FullSignature": 0.6,
                "Merchant": 0.995,
                "PhoneNumber": 0.995,
                "PurchaseOrderNumber": 0.995,
                "Quantity": 0.995,
                "Signature": 0.995,
                "Subtotal": 0.995,
                "Tax": 0.995,
                "Total": 0.995,
                "VendorName": 0.995,
                "Website": 0.995
              }
            }
          },
          "modelId": "287893713",
          "createdDateTime": "2024-03-01T13:53:14Z",
          "expirationDateTime": "2026-03-01T13:53:14Z",
          "apiVersion": "2024-02-29-preview"
        },
        "apiVersion": "2024-02-29-preview"
      }
    },
    {
      "RequestUri": "https://camaiaor-westus2.cognitiveservices.azure.com/documentintelligence/documentModels/287893713?api-version=2024-02-29-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "West US 2"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "API_KEY": "Sanitized",
    "ENDPOINT": "https://camaiaor-westus2.cognitiveservices.azure.com/",
    "RandomSeed": "1283868697",
    "SINGLEPAGE_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net"
  }
}
