{
  "Entries": [
    {
      "RequestUri": "https://vdi-fr-test-eastus.ppe.cognitiveservices.azure.com/documentintelligence/documentModels:build?api-version=2023-10-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "modelId": "70732668",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "https://sanitized.blob.core.windows.net"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://vdi-fr-test-eastus.ppe.cognitiveservices.azure.com/documentintelligence/operations/31466447350_5cd296df-8f9c-444d-89c3-b34f3f1c7041?api-version=2023-10-31-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://vdi-fr-test-eastus.ppe.cognitiveservices.azure.com/documentintelligence/operations/31466447350_5cd296df-8f9c-444d-89c3-b34f3f1c7041?api-version=2023-10-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31466447350_5cd296df-8f9c-444d-89c3-b34f3f1c7041",
        "kind": "documentModelBuild",
        "status": "notStarted",
        "createdDateTime": "2023-11-14T00:10:49Z",
        "lastUpdatedDateTime": "2023-11-14T00:10:49Z",
        "resourceLocation": "https://vdi-fr-test-eastus.ppe.cognitiveservices.azure.com/documentintelligence/documentModels/70732668?api-version=2023-10-31-preview",
        "apiVersion": "2023-10-31-preview"
      }
    },
    {
      "RequestUri": "https://vdi-fr-test-eastus.ppe.cognitiveservices.azure.com/documentintelligence/operations/31466447350_5cd296df-8f9c-444d-89c3-b34f3f1c7041?api-version=2023-10-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31466447350_5cd296df-8f9c-444d-89c3-b34f3f1c7041",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2023-11-14T00:10:49Z",
        "lastUpdatedDateTime": "2023-11-14T00:10:52Z",
        "resourceLocation": "https://vdi-fr-test-eastus.ppe.cognitiveservices.azure.com/documentintelligence/documentModels/70732668?api-version=2023-10-31-preview",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "70732668": {
              "fieldSchema": {
                "Merchant": {
                  "type": "string"
                },
                "PhoneNumber": {
                  "type": "string"
                },
                "Website": {
                  "type": "string"
                },
                "Email": {
                  "type": "string"
                },
                "PurchaseOrderNumber": {
                  "type": "string"
                },
                "DatedAs": {
                  "type": "string"
                },
                "VendorName": {
                  "type": "string"
                },
                "CompanyName": {
                  "type": "string"
                },
                "CompanyAddress": {
                  "type": "string"
                },
                "CompanyPhoneNumber": {
                  "type": "string"
                },
                "Subtotal": {
                  "type": "string"
                },
                "Tax": {
                  "type": "string"
                },
                "Total": {
                  "type": "string"
                },
                "Signature": {
                  "type": "string"
                },
                "Quantity": {
                  "type": "number"
                },
                "FullSignature": {
                  "type": "signature"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "CompanyAddress": 0.8,
                "CompanyName": 0.995,
                "CompanyPhoneNumber": 0.995,
                "DatedAs": 0.995,
                "Email": 0.8,
                "FullSignature": 0.6,
                "Merchant": 0.995,
                "PhoneNumber": 0.995,
                "PurchaseOrderNumber": 0.995,
                "Quantity": 0.995,
                "Signature": 0.995,
                "Subtotal": 0.995,
                "Tax": 0.995,
                "Total": 0.995,
                "VendorName": 0.995,
                "Website": 0.995
              }
            }
          },
          "modelId": "70732668",
          "createdDateTime": "2023-11-14T00:10:52Z",
          "expirationDateTime": "2025-11-13T00:10:52Z",
          "apiVersion": "2023-10-31-preview"
        },
        "apiVersion": "2023-10-31-preview"
      }
    },
    {
      "RequestUri": "https://vdi-fr-test-eastus.ppe.cognitiveservices.azure.com/documentintelligence/documentModels/70732668?api-version=2023-10-31-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "API_KEY": "Sanitized",
    "ENDPOINT": "https://vdi-fr-test-eastus.ppe.cognitiveservices.azure.com/",
    "RandomSeed": "674856311",
    "SINGLEPAGE_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net"
  }
}
