{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/documentModels:build?api-version=2024-07-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "modelId": "1737450688",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "https://sanitized.blob.core.windows.net"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/operations/31443308781_7e4e9339-62a4-4140-8af5-64859236b63a?api-version=2024-07-31-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/operations/31443308781_7e4e9339-62a4-4140-8af5-64859236b63a?api-version=2024-07-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31443308781_7e4e9339-62a4-4140-8af5-64859236b63a",
        "kind": "documentModelBuild",
        "status": "running",
        "createdDateTime": "2024-08-07T19:33:39Z",
        "lastUpdatedDateTime": "2024-08-07T19:33:42Z",
        "resourceLocation": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/documentModels/1737450688?api-version=2024-07-31-preview",
        "apiVersion": "2024-07-31-preview"
      }
    },
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/operations/31443308781_7e4e9339-62a4-4140-8af5-64859236b63a?api-version=2024-07-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31443308781_7e4e9339-62a4-4140-8af5-64859236b63a",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2024-08-07T19:33:39Z",
        "lastUpdatedDateTime": "2024-08-07T19:33:42Z",
        "resourceLocation": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/documentModels/1737450688?api-version=2024-07-31-preview",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "1737450688": {
              "fieldSchema": {
                "Merchant": {
                  "type": "string"
                },
                "PhoneNumber": {
                  "type": "string"
                },
                "Website": {
                  "type": "string"
                },
                "Email": {
                  "type": "string"
                },
                "PurchaseOrderNumber": {
                  "type": "string"
                },
                "DatedAs": {
                  "type": "string"
                },
                "VendorName": {
                  "type": "string"
                },
                "CompanyName": {
                  "type": "string"
                },
                "CompanyAddress": {
                  "type": "string"
                },
                "CompanyPhoneNumber": {
                  "type": "string"
                },
                "Subtotal": {
                  "type": "string"
                },
                "Tax": {
                  "type": "string"
                },
                "Total": {
                  "type": "string"
                },
                "Signature": {
                  "type": "string"
                },
                "Quantity": {
                  "type": "number"
                },
                "FullSignature": {
                  "type": "signature"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "CompanyAddress": 0.8,
                "CompanyName": 0.995,
                "CompanyPhoneNumber": 0.995,
                "DatedAs": 0.995,
                "Email": 0.8,
                "FullSignature": 0.6,
                "Merchant": 0.995,
                "PhoneNumber": 0.995,
                "PurchaseOrderNumber": 0.995,
                "Quantity": 0.995,
                "Signature": 0.995,
                "Subtotal": 0.995,
                "Tax": 0.995,
                "Total": 0.995,
                "VendorName": 0.995,
                "Website": 0.995
              }
            }
          },
          "modelId": "1737450688",
          "createdDateTime": "2024-08-07T19:33:42Z",
          "expirationDateTime": "2026-08-07T19:33:42Z",
          "apiVersion": "2024-07-31-preview"
        },
        "apiVersion": "2024-07-31-preview"
      }
    },
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/documentModels/1737450688?api-version=2024-07-31-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "API_KEY": "Sanitized",
    "ENDPOINT": "https://camaiaor-localtests.cognitiveservices.azure.com/",
    "RandomSeed": "188669066",
    "SINGLEPAGE_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net"
  }
}
