{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-di.cognitiveservices.azure.com/documentintelligence/documentClassifiers:build?api-version=2024-07-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "classifierId": "979255914",
        "docTypes": {
          "IRS-1040-A": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-A/train"
            }
          },
          "IRS-1040-B": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-B/train"
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://camaiaor-di.cognitiveservices.azure.com/documentintelligence/operations/31439165057_f16f8a41-008f-4a6b-af4e-d6230c585485?api-version=2024-07-31-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-di.cognitiveservices.azure.com/documentintelligence/operations/31439165057_f16f8a41-008f-4a6b-af4e-d6230c585485?api-version=2024-07-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31439165057_f16f8a41-008f-4a6b-af4e-d6230c585485",
        "kind": "documentClassifierBuild",
        "status": "running",
        "createdDateTime": "2024-09-24T18:35:42Z",
        "lastUpdatedDateTime": "2024-09-24T18:35:42Z",
        "resourceLocation": "https://camaiaor-di.cognitiveservices.azure.com/documentintelligence/documentClassifiers/979255914?api-version=2024-07-31-preview",
        "percentCompleted": 0,
        "apiVersion": "2024-07-31-preview"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-di.cognitiveservices.azure.com/documentintelligence/operations/31439165057_f16f8a41-008f-4a6b-af4e-d6230c585485?api-version=2024-07-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31439165057_f16f8a41-008f-4a6b-af4e-d6230c585485",
        "kind": "documentClassifierBuild",
        "status": "succeeded",
        "createdDateTime": "2024-09-24T18:35:42Z",
        "lastUpdatedDateTime": "2024-09-24T18:36:13Z",
        "resourceLocation": "https://camaiaor-di.cognitiveservices.azure.com/documentintelligence/documentClassifiers/979255914?api-version=2024-07-31-preview",
        "percentCompleted": 100,
        "result": {
          "classifierId": "979255914",
          "createdDateTime": "2024-09-24T18:35:48Z",
          "expirationDateTime": "2026-09-24T18:35:48Z",
          "apiVersion": "2024-07-31-preview",
          "docTypes": {
            "IRS-1040-A": {
              "kind": "azureBlob",
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-A/train"
              }
            },
            "IRS-1040-B": {
              "kind": "azureBlob",
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-B/train"
              }
            }
          }
        },
        "apiVersion": "2024-07-31-preview"
      }
    },
    {
      "RequestUri": "https://camaiaor-di.cognitiveservices.azure.com/documentintelligence/documentClassifiers/979255914?api-version=2024-07-31-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "API_KEY": "Sanitized",
    "CLASSIFIER_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "ENDPOINT": "https://camaiaor-di.cognitiveservices.azure.com/",
    "RandomSeed": "751224290"
  }
}
