{
  "Entries": [
    {
      "RequestUri": "https://vdi-fr-test-eastus.ppe.cognitiveservices.azure.com/documentintelligence/documentClassifiers:build?api-version=2023-10-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "classifierId": "826536982",
        "docTypes": {
          "IRS-1040-A": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-A/train"
            }
          },
          "IRS-1040-B": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-B/train"
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://vdi-fr-test-eastus.ppe.cognitiveservices.azure.com/documentintelligence/operations/31466446647_caa42bde-48f4-4013-8611-695aad4c975c?api-version=2023-10-31-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://vdi-fr-test-eastus.ppe.cognitiveservices.azure.com/documentintelligence/operations/31466446647_caa42bde-48f4-4013-8611-695aad4c975c?api-version=2023-10-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31466446647_caa42bde-48f4-4013-8611-695aad4c975c",
        "kind": "documentClassifierBuild",
        "status": "notStarted",
        "createdDateTime": "2023-11-14T00:22:32Z",
        "lastUpdatedDateTime": "2023-11-14T00:22:32Z",
        "resourceLocation": "https://vdi-fr-test-eastus.ppe.cognitiveservices.azure.com/documentintelligence/documentClassifiers/826536982?api-version=2023-10-31-preview",
        "apiVersion": "2023-10-31-preview"
      }
    },
[...]
    {
      "RequestUri": "https://vdi-fr-test-eastus.ppe.cognitiveservices.azure.com/documentintelligence/operations/31466446647_caa42bde-48f4-4013-8611-695aad4c975c?api-version=2023-10-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31466446647_caa42bde-48f4-4013-8611-695aad4c975c",
        "kind": "documentClassifierBuild",
        "status": "succeeded",
        "createdDateTime": "2023-11-14T00:22:32Z",
        "lastUpdatedDateTime": "2023-11-14T00:22:50Z",
        "resourceLocation": "https://vdi-fr-test-eastus.ppe.cognitiveservices.azure.com/documentintelligence/documentClassifiers/826536982?api-version=2023-10-31-preview",
        "percentCompleted": 100,
        "result": {
          "classifierId": "826536982",
          "createdDateTime": "2023-11-14T00:22:49Z",
          "expirationDateTime": "2025-11-13T00:22:49Z",
          "apiVersion": "2023-10-31-preview",
          "docTypes": {
            "IRS-1040-A": {
              "kind": "azureBlob",
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-A/train"
              }
            },
            "IRS-1040-B": {
              "kind": "azureBlob",
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-B/train"
              }
            }
          }
        },
        "apiVersion": "2023-10-31-preview"
      }
    },
    {
      "RequestUri": "https://vdi-fr-test-eastus.ppe.cognitiveservices.azure.com/documentintelligence/documentClassifiers/826536982?api-version=2023-10-31-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "API_KEY": "Sanitized",
    "CLASSIFIER_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "ENDPOINT": "https://vdi-fr-test-eastus.ppe.cognitiveservices.azure.com/",
    "RandomSeed": "36227281"
  }
}
