{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-westus2.cognitiveservices.azure.com/documentintelligence/documentClassifiers:build?api-version=2024-02-29-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "classifierId": "1315728156",
        "docTypes": {
          "IRS-1040-A": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-A/train"
            }
          },
          "IRS-1040-B": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-B/train"
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://camaiaor-westus2.cognitiveservices.azure.com/documentintelligence/operations/31457066697_5b55469e-24fd-4058-ac40-e04a71d3b406?api-version=2024-02-29-preview",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-westus2.cognitiveservices.azure.com/documentintelligence/operations/31457066697_5b55469e-24fd-4058-ac40-e04a71d3b406?api-version=2024-02-29-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "operationId": "31457066697_5b55469e-24fd-4058-ac40-e04a71d3b406",
        "kind": "documentClassifierBuild",
        "status": "notStarted",
        "createdDateTime": "2024-03-01T13:55:03Z",
        "lastUpdatedDateTime": "2024-03-01T13:55:03Z",
        "resourceLocation": "https://camaiaor-westus2.cognitiveservices.azure.com/documentintelligence/documentClassifiers/1315728156?api-version=2024-02-29-preview",
        "apiVersion": "2024-02-29-preview"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-westus2.cognitiveservices.azure.com/documentintelligence/operations/31457066697_5b55469e-24fd-4058-ac40-e04a71d3b406?api-version=2024-02-29-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "operationId": "31457066697_5b55469e-24fd-4058-ac40-e04a71d3b406",
        "kind": "documentClassifierBuild",
        "status": "succeeded",
        "createdDateTime": "2024-03-01T13:55:03Z",
        "lastUpdatedDateTime": "2024-03-01T13:55:56Z",
        "resourceLocation": "https://camaiaor-westus2.cognitiveservices.azure.com/documentintelligence/documentClassifiers/1315728156?api-version=2024-02-29-preview",
        "percentCompleted": 100,
        "result": {
          "classifierId": "1315728156",
          "createdDateTime": "2024-03-01T13:55:56Z",
          "expirationDateTime": "2026-03-01T13:55:56Z",
          "apiVersion": "2024-02-29-preview",
          "docTypes": {
            "IRS-1040-A": {
              "kind": "azureBlob",
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-A/train"
              }
            },
            "IRS-1040-B": {
              "kind": "azureBlob",
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-B/train"
              }
            }
          }
        },
        "apiVersion": "2024-02-29-preview"
      }
    },
    {
      "RequestUri": "https://camaiaor-westus2.cognitiveservices.azure.com/documentintelligence/documentClassifiers/1315728156?api-version=2024-02-29-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "West US 2"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "API_KEY": "Sanitized",
    "CLASSIFIER_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "ENDPOINT": "https://camaiaor-westus2.cognitiveservices.azure.com/",
    "RandomSeed": "212487029"
  }
}
