{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-westus2.cognitiveservices.azure.com/documentintelligence/documentModels:build?api-version=2024-02-29-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "modelId": "1133149558",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "https://sanitized.blob.core.windows.net"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://camaiaor-westus2.cognitiveservices.azure.com/documentintelligence/operations/31457066788_4604d66d-bfa8-4deb-8f11-6cc4aa405a66?api-version=2024-02-29-preview",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-westus2.cognitiveservices.azure.com/documentintelligence/operations/31457066788_4604d66d-bfa8-4deb-8f11-6cc4aa405a66?api-version=2024-02-29-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "operationId": "31457066788_4604d66d-bfa8-4deb-8f11-6cc4aa405a66",
        "kind": "documentModelBuild",
        "status": "notStarted",
        "createdDateTime": "2024-03-01T13:53:32Z",
        "lastUpdatedDateTime": "2024-03-01T13:53:32Z",
        "resourceLocation": "https://camaiaor-westus2.cognitiveservices.azure.com/documentintelligence/documentModels/1133149558?api-version=2024-02-29-preview",
        "apiVersion": "2024-02-29-preview"
      }
    },
    {
      "RequestUri": "https://camaiaor-westus2.cognitiveservices.azure.com/documentintelligence/operations/31457066788_4604d66d-bfa8-4deb-8f11-6cc4aa405a66?api-version=2024-02-29-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "operationId": "31457066788_4604d66d-bfa8-4deb-8f11-6cc4aa405a66",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2024-03-01T13:53:32Z",
        "lastUpdatedDateTime": "2024-03-01T13:53:34Z",
        "resourceLocation": "https://camaiaor-westus2.cognitiveservices.azure.com/documentintelligence/documentModels/1133149558?api-version=2024-02-29-preview",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "1133149558": {
              "fieldSchema": {
                "Merchant": {
                  "type": "string"
                },
                "PhoneNumber": {
                  "type": "string"
                },
                "Website": {
                  "type": "string"
                },
                "Email": {
                  "type": "string"
                },
                "PurchaseOrderNumber": {
                  "type": "string"
                },
                "DatedAs": {
                  "type": "string"
                },
                "VendorName": {
                  "type": "string"
                },
                "CompanyName": {
                  "type": "string"
                },
                "CompanyAddress": {
                  "type": "string"
                },
                "CompanyPhoneNumber": {
                  "type": "string"
                },
                "Subtotal": {
                  "type": "string"
                },
                "Tax": {
                  "type": "string"
                },
                "Total": {
                  "type": "string"
                },
                "Signature": {
                  "type": "string"
                },
                "Quantity": {
                  "type": "number"
                },
                "FullSignature": {
                  "type": "signature"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "CompanyAddress": 0.8,
                "CompanyName": 0.995,
                "CompanyPhoneNumber": 0.995,
                "DatedAs": 0.995,
                "Email": 0.8,
                "FullSignature": 0.6,
                "Merchant": 0.995,
                "PhoneNumber": 0.995,
                "PurchaseOrderNumber": 0.995,
                "Quantity": 0.995,
                "Signature": 0.995,
                "Subtotal": 0.995,
                "Tax": 0.995,
                "Total": 0.995,
                "VendorName": 0.995,
                "Website": 0.995
              }
            }
          },
          "modelId": "1133149558",
          "createdDateTime": "2024-03-01T13:53:34Z",
          "expirationDateTime": "2026-03-01T13:53:34Z",
          "apiVersion": "2024-02-29-preview"
        },
        "apiVersion": "2024-02-29-preview"
      }
    },
    {
      "RequestUri": "https://camaiaor-westus2.cognitiveservices.azure.com/documentintelligence/documentModels:authorizeCopy?api-version=2024-02-29-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "modelId": "282503478"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "targetResourceId": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/camaiaor/providers/Microsoft.CognitiveServices/accounts/camaiaor-westus2",
        "targetResourceRegion": "westus2",
        "targetModelId": "282503478",
        "targetModelLocation": "https://camaiaor-westus2.cognitiveservices.azure.com/documentintelligence/documentModels/282503478?api-version=2024-02-29-preview",
        "accessToken": "Sanitized",
        "expirationDateTime": "2024-03-01T14:53:34Z"
      }
    },
    {
      "RequestUri": "https://camaiaor-westus2.cognitiveservices.azure.com/documentintelligence/documentModels/1133149558:copyTo?api-version=2024-02-29-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "targetResourceId": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/camaiaor/providers/Microsoft.CognitiveServices/accounts/camaiaor-westus2",
        "targetResourceRegion": "westus2",
        "targetModelId": "282503478",
        "targetModelLocation": "https://camaiaor-westus2.cognitiveservices.azure.com/documentintelligence/documentModels/282503478?api-version=2024-02-29-preview",
        "accessToken": "Sanitized",
        "expirationDateTime": "2024-03-01T14:53:34.0000000Z"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-westus2.cognitiveservices.azure.com/documentintelligence/operations/31457066786_0606096f-4207-4ed3-9678-72f18a1cc422?api-version=2024-02-29-preview",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://camaiaor-westus2.cognitiveservices.azure.com/documentintelligence/documentModels/282503478?api-version=2024-02-29-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "West US 2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-westus2.cognitiveservices.azure.com/documentintelligence/documentModels/1133149558?api-version=2024-02-29-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "West US 2"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "API_KEY": "Sanitized",
    "ENDPOINT": "https://camaiaor-westus2.cognitiveservices.azure.com/",
    "RandomSeed": "419078093",
    "SINGLEPAGE_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net"
  }
}
