{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv1058.vault.azure.net/secrets/611472356?api-version=7.6-preview.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv1058.vault.azure.net/secrets/611472356?api-version=7.6-preview.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://rgjoncardekv1058.vault.azure.net/secrets/611472356/7cdbdc2ec20e49ffb829b7d74e917eff",
        "value": "value",
        "attributes": {
          "enabled": true,
          "created": 1741897028,
          "updated": 1741897028,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv1058.vault.azure.net/secrets/611472356?api-version=7.6-preview.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://rgjoncardekv1058.vault.azure.net/deletedsecrets/611472356",
        "deletedDate": 1741897029,
        "scheduledPurgeDate": 1742501829,
        "id": "https://rgjoncardekv1058.vault.azure.net/secrets/611472356/7cdbdc2ec20e49ffb829b7d74e917eff",
        "attributes": {
          "enabled": true,
          "created": 1741897028,
          "updated": 1741897028,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv1058.vault.azure.net/deletedsecrets/611472356?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://rgjoncardekv1058.vault.azure.net/deletedsecrets/611472356",
        "deletedDate": 1741897029,
        "scheduledPurgeDate": 1742501829,
        "id": "https://rgjoncardekv1058.vault.azure.net/secrets/611472356/7cdbdc2ec20e49ffb829b7d74e917eff",
        "attributes": {
          "enabled": true,
          "created": 1741897028,
          "updated": 1741897028,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekv1058.vault.azure.net/",
    "RandomSeed": "1962431482"
  }
}
