{
  "Entries": [
    {
      "RequestUri": "https://kv-agt-260615134651.vault.azure.net/secrets/1217460088?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://kv-agt-260615134651.vault.azure.net/secrets/1217460088?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "value",
        "id": "https://kv-agt-260615134651.vault.azure.net/secrets/1217460088/5af7d6eb93e943cfb89ca11277b467bd",
        "attributes": {
          "enabled": true,
          "created": 1781719509,
          "updated": 1781719509,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://kv-agt-260615134651.vault.azure.net/secrets/1217460088?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://kv-agt-260615134651.vault.azure.net/deletedsecrets/1217460088",
        "deletedDate": 1781719510,
        "scheduledPurgeDate": 1789495510,
        "id": "https://kv-agt-260615134651.vault.azure.net/secrets/1217460088/5af7d6eb93e943cfb89ca11277b467bd",
        "attributes": {
          "enabled": true,
          "created": 1781719509,
          "updated": 1781719509,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://kv-agt-260615134651.vault.azure.net/deletedsecrets/1217460088?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://kv-agt-260615134651.vault.azure.net/deletedsecrets/1217460088",
        "deletedDate": 1781719510,
        "scheduledPurgeDate": 1789495510,
        "id": "https://kv-agt-260615134651.vault.azure.net/secrets/1217460088/5af7d6eb93e943cfb89ca11277b467bd",
        "attributes": {
          "enabled": true,
          "created": 1781719509,
          "updated": 1781719509,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://kv-agt-260615134651.vault.azure.net/",
    "RandomSeed": "1878375058"
  }
}
