{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv1058.vault.azure.net/secrets/15391007120?api-version=7.6-preview.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv1058.vault.azure.net/secrets/15391007120?api-version=7.6-preview.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://rgjoncardekv1058.vault.azure.net/secrets/15391007120/bf13d11552b64c89b6e2f54a7e805d87",
        "value": "0",
        "attributes": {
          "enabled": true,
          "created": 1741896809,
          "updated": 1741896809,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv1058.vault.azure.net/secrets/15391007120?api-version=7.6-preview.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://rgjoncardekv1058.vault.azure.net/deletedsecrets/15391007120",
        "deletedDate": 1741896809,
        "scheduledPurgeDate": 1742501609,
        "id": "https://rgjoncardekv1058.vault.azure.net/secrets/15391007120/bf13d11552b64c89b6e2f54a7e805d87",
        "attributes": {
          "enabled": true,
          "created": 1741896809,
          "updated": 1741896809,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekv1058.vault.azure.net/deletedsecrets/?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "recoveryId": "https://rgjoncardekv1058.vault.azure.net/deletedsecrets/13[...]
    {
      "RequestUri": "https://rgjoncardekv1058.vault.azure.net/deletedsecrets?api-version=7.6-preview.2&$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "recoveryId": "https://rgjoncardekv1058.vault.azure.n[...]
[...]
