{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/secrets/14164279110?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/secrets/14164279110?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "value": "0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "0",
        "id": "https://joncarde-kv.vault.azure.net/secrets/14164279110/5069395f0f894c1c9a8a3bc14f8dcf5d",
        "attributes": {
          "enabled": true,
          "created": 1781304517,
          "updated": 1781304517,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/secrets/14164279110?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://joncarde-kv.vault.azure.net/deletedsecrets/14164279110",
        "deletedDate": 1781304517,
        "scheduledPurgeDate": 1789080517,
        "id": "https://joncarde-kv.vault.azure.net/secrets/14164279110/5069395f0f894c1c9a8a3bc14f8dcf5d",
        "attributes": {
          "enabled": true,
          "created": 1781304517,
          "updated": 1781304517,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/secrets/14164279111?api-version=2025-07-01",
      "RequestMethod": "PUT",
   [...]
