{
  "Entries": [
    {
      "RequestUri": "https://kv-agt-260615134651.vault.azure.net/secrets/17372902800?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://kv-agt-260615134651.vault.azure.net/secrets/17372902800?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "0",
        "id": "https://kv-agt-260615134651.vault.azure.net/secrets/17372902800/629385c78f61435490fc96df5da0d1e9",
        "attributes": {
          "enabled": true,
          "created": 1781719525,
          "updated": 1781719525,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://kv-agt-260615134651.vault.azure.net/secrets/17372902800?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://kv-agt-260615134651.vault.azure.net/deletedsecrets/17372902800",
        "deletedDate": 1781719525,
        "scheduledPurgeDate": 1789495525,
        "id": "https://kv-agt-260615134651.vault.azure.net/secrets/17372902800/629385c78f61435490fc96df5da0d1e9",
        "attributes": {
          "enabled": true,
          "created": 1781719525,
          "updated": 1781719525,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://kv-agt-260615134651.vault.azure.net/secrets/17372902801?api-version=2025-07-01",
      "RequestMeth[...]
