{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/secrets/519121386?api-version=2025-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/secrets/519121386?api-version=2025-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "value1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "value1",
        "id": "https://tc01f7546f76b53e9.vault.azure.net/secrets/519121386/6f903e7a8c9b4998b10b82dac6de1b79",
        "attributes": {
          "enabled": true,
          "created": 1756858286,
          "updated": 1756858286,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/secrets/519121386?api-version=2025-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "value2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "Respon[...]
