{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv76.vault.azure.net/secrets/1503796842?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv76.vault.azure.net/secrets/1503796842?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "CrudWithExtendedPropsValue1",
        "contentType": "password",
        "attributes": {
          "nbf": 1564536012,
          "exp": 1567128012
        },
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "CrudWithExtendedPropsValue1",
        "contentType": "password",
        "id": "https://rgjoncardekv76.vault.azure.net/secrets/1503796842/296ce2e9d8a647c3890418e2ec5224a7",
        "attributes": {
          "enabled": true,
          "nbf": 1564536012,
          "exp": 1567128012,
          "created": 1749807911,
          "updated": 1749807911,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        },
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv76.vault.azure.net/secrets/1503796842/?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "CrudWithExtendedPropsValue1",
        "contentType": "password",
        "id": "https://rgjoncardekv76.vault.azure.net/secrets/1503796842/296ce2e9d8a647c3890418e2ec5224a7",
        "attributes": {
          "enabled": true,
          "nbf": 1564536012,
          "exp": 1567128012,
          "created": 1749807911,
          "updated": 1749807911,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        },
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv76.vault.azure.net/secrets/1503796842?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://rgjoncardekv76.vault.azure.net/deletedsecrets/1503796842",
        "deletedDate": 1749807912,
        "scheduledPurgeDate": 1750412712,
        "contentType": "password",
        "id": "https://rgjoncardekv76.vault.azure.net/secrets/1503796842/296ce2e9d8a647c3890418e2ec5224a7",
        "attributes": {
          "enabled": true,
          "nbf": 1564536012,
          "exp": 1567128012,
          "created": 1749807911,
          "updated": 1749807911,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        },
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekv76.vault.azure.net/",
    "RandomSeed": "1035933400"
  }
}
