{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv76.vault.azure.net/secrets/1562328177?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv76.vault.azure.net/secrets/1562328177?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "value1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "value1",
        "id": "https://rgjoncardekv76.vault.azure.net/secrets/1562328177/36974fdbcbf44d75a3e409e9ab84df70",
        "attributes": {
          "enabled": true,
          "created": 1749808298,
          "updated": 1749808298,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekv76.vault.azure.net/secrets/1562328177/1c152db9093f4918a632bbd696d7c5fc?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "value2",
        "id": "https://rgjoncardekv76.vault.azure.net/secrets/1562328177/1c152db9093f4918a632bbd696d7c5fc",
        "attributes": {
          "enabled": true,
          "created": 1749808298,
          "updated": 1749808298,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekv76.vault.azure.net/",
    "RandomSeed": "1994623403"
  }
}
