{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/secrets/1931415385?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/secrets/1931415385?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "value": "value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "value",
        "id": "https://joncarde-kv.vault.azure.net/secrets/1931415385/bed54607383f41569e71d5bd857284e6",
        "attributes": {
          "enabled": true,
          "created": 1781138454,
          "updated": 1781138454,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 10
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/secrets/1931415385?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://joncarde-kv.vault.azure.net/deletedsecrets/1931415385",
        "deletedDate": 1781138455,
        "scheduledPurgeDate": 1782002455,
        "id": "https://joncarde-kv.vault.azure.net/secrets/1931415385/bed54607383f41569e71d5bd857284e6",
        "attributes": {
          "enabled": true,
          "created": 1781138454,
          "updated": 1781138454,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 10
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/secrets/1931415385/?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "SecretNotFound",
          "message": "A secret with (name/id) 1931415385 was not found in this key vault. If you recently deleted this secret you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://joncarde-kv.vault.azure.net/",
    "RandomSeed": "305510064"
  }
}
