{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv76.vault.azure.net/secrets/2040659514?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv76.vault.azure.net/secrets/2040659514?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "value",
        "id": "https://rgjoncardekv76.vault.azure.net/secrets/2040659514/db7566355536466a81c125c00bc2697c",
        "attributes": {
          "enabled": true,
          "created": 1749808350,
          "updated": 1749808350,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv76.vault.azure.net/secrets/2040659514?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://rgjoncardekv76.vault.azure.net/deletedsecrets/2040659514",
        "deletedDate": 1749808351,
        "scheduledPurgeDate": 1750413151,
        "id": "https://rgjoncardekv76.vault.azure.net/secrets/2040659514/db7566355536466a81c125c00bc2697c",
        "attributes": {
          "enabled": true,
          "created": 1749808350,
          "updated": 1749808350,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv76.vault.azure.net/deletedsecrets/2040659514/recover?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://rgjoncardekv76.vault.azure.net/secrets/2040659514/db7566355536466a81c125c00bc2697c",
        "attributes": {
          "enabled": true,
          "created": 1749808350,
          "updated": 1749808350,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekv76.vault.azure.net/secrets/2040659514/?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "value",
        "id": "https://rgjoncardekv76.vault.azure.net/secrets/2040659514/db7566355536466a81c125c00bc2697c",
        "attributes": {
          "enabled": true,
          "created": 1749808350,
          "updated": 1749808350,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekv76.vault.azure.net/",
    "RandomSeed": "1466482652"
  }
}
