{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/secrets/1723625545?api-version=2025-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/secrets/1723625545?api-version=2025-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "CrudBasicValue1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "CrudBasicValue1",
        "id": "https://tc01f7546f76b53e9.vault.azure.net/secrets/1723625545/ea80be4a1c3c4317a403bb85062e476d",
        "attributes": {
          "enabled": true,
          "created": 1756857913,
          "updated": 1756857913,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/secrets/1723625545/ea80be4a1c3c4317a403bb85062e476d?api-version=2025-06-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1756857913
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://tc01f7546f76b53e9.vault.azure.net/secrets/1723625545/ea80be4a1c3c4317a403bb85062e476d",
        "attributes": {
          "enabled": true,
          "exp": 1756857913,
          "created": 1756857913,
          "updated": 1756857913,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tc01f7546f76b53e9.vault.azure.net/",
    "RandomSeed": "2006674854"
  }
}
