{
  "Entries": [
    {
      "RequestUri": "https://kv-agt-260615134651.vault.azure.net/secrets/549081473?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://kv-agt-260615134651.vault.azure.net/secrets/549081473?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "CrudBasicValue1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "CrudBasicValue1",
        "id": "https://kv-agt-260615134651.vault.azure.net/secrets/549081473/0d531b905d2c4723a699e7bac37598ff",
        "attributes": {
          "enabled": true,
          "created": 1781739028,
          "updated": 1781739028,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://kv-agt-260615134651.vault.azure.net/secrets/549081473/0d531b905d2c4723a699e7bac37598ff?api-version=2025-07-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://kv-agt-260615134651.vault.azure.net/secrets/549081473/0d531b905d2c4723a699e7bac37598ff",
        "attributes": {
          "enabled": false,
          "created": 1781739028,
          "updated": 1781739028,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://kv-agt-260615134651.vault.azure.net/secrets/549081473/?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation get is not allowed on a disabled secret.",
          "innererror": {
            "code": "SecretDisabled"
          }
        }
      }
    },
    {
      "RequestUri": "https://kv-agt-260615134651.vault.azure.net/secrets/549081473/0d531b905d2c4723a699e7bac37598ff?api-version=2025-07-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://kv-agt-260615134651.vault.azure.net/secrets/549081473/0d531b905d2c4723a699e7bac37598ff",
        "attributes": {
          "enabled": true,
          "created": 1781739028,
          "updated": 1781739028,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://kv-agt-260615134651.vault.azure.net/",
    "RandomSeed": "1497622430"
  }
}
