{
  "Entries": [
    {
      "RequestUri": "https://jolov2-2.westus2-1.eventgrid.azure.net/topics/testtopic1:publish?api-version=2024-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/cloudevents+json; charset=utf-8"
      },
      "RequestBody": {
        "id": "fca5968d-563c-892f-3568-43a9644c4018",
        "source": "employee_source",
        "type": "type",
        "data": {
          "Name": "Bob",
          "Age": 18
        },
        "time": "2024-06-10T11:56:34.9120276-07:00",
        "specversion": "1.0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://jolov2-2.westus2-1.eventgrid.azure.net/topics/testtopic1/eventsubscriptions/testsubscription1:receive?api-version=2024-06-01&maxEvents=1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "brokerProperties": {
              "lockToken": "CiYKJEFGQTcxOTA4LTQxOTQtNDlEMy1BNzI2LTU1QUZBQjlDREM5RBISChBhGyuR4lNHiIJLyJzk8JgP",
              "deliveryCount": 1
            },
            "event": {
              "specversion": "1.0",
              "source": "employee_source",
              "time": "2024-06-10T18:56:34.9120276Z",
              "id": "fca5968d-563c-892f-3568-43a9644c4018",
              "type": "type",
              "data": {
                "Age": 18,
                "Name": "Bob"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://jolov2-2.westus2-1.eventgrid.azure.net/topics/testtopic1/eventsubscriptions/testsubscription1:acknowledge?api-version=2024-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lockTokens": [
          "CiYKJEFGQTcxOTA4LTQxOTQtNDlEMy1BNzI2LTU1QUZBQjlDREM5RBISChBhGyuR4lNHiIJLyJzk8JgP"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "succeededLockTokens": [
          "CiYKJEFGQTcxOTA4LTQxOTQtNDlEMy1BNzI2LTU1QUZBQjlDREM5RBISChBhGyuR4lNHiIJLyJzk8JgP"
        ],
        "failedLockTokens": []
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-10T11:56:34.9120276-07:00",
    "EVENTGRID_ENDPOINT": "https://jolov2-2.westus2-1.eventgrid.azure.net",
    "EVENTGRID_EVENT_SUBSCRIPTION_NAME": "testsubscription1",
    "EVENTGRID_KEY": "Kg==",
    "EVENTGRID_TOPIC_NAME": "testtopic1",
    "RandomSeed": "1690527127"
  }
}
