{
  "Entries": [
    {
      "RequestUri": "https://jolov2-2.westus2-1.eventgrid.azure.net/topics/testtopic1:publish?api-version=2024-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/cloudevents+json; charset=utf-8"
      },
      "RequestBody": {
        "id": "76a9d774-6f3d-e6c0-8c1d-5a72c119fe26",
        "source": "employee_source",
        "type": "type",
        "data": {
          "Name": "Bob",
          "Age": 18
        },
        "time": "2024-06-10T11:41:29.961865-07:00",
        "specversion": "1.0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://jolov2-2.westus2-1.eventgrid.azure.net/topics/testtopic1/eventsubscriptions/testsubscription1:receive?api-version=2024-06-01&maxEvents=3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "brokerProperties": {
              "lockToken": "CiYKJEFGQTcxOTA4LTQxOTQtNDlEMy1BNzI2LTU1QUZBQjlDREM5RBISChAqdHfuWAFJxJ8D53CXbNpJ",
              "deliveryCount": 1
            },
            "event": {
              "specversion": "1.0",
              "source": "employee_source",
              "time": "2024-06-10T18:41:29.961865Z",
              "id": "76a9d774-6f3d-e6c0-8c1d-5a72c119fe26",
              "type": "type",
              "data": {
                "Age": 18,
                "Name": "Bob"
              }
            }
          },
          {
            "brokerProperties": {
              "lockToken": "CiYKJEFGQTcxOTA4LTQxOTQtNDlEMy1BNzI2LTU1QUZBQjlDREM5RBISChA0ndIGXpNMmY50SDWS/[...]
    {
      "RequestUri": "https://jolov2-2.westus2-1.eventgrid.azure.net/topics/testtopic1/eventsubscriptions/testsubscription1:release?api-version=2024-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lockTokens": [
          "CiYKJEFGQTcxOTA4LTQxOTQtNDlEMy1BNzI2LTU1QUZBQjlDREM5RBISChAqdHfuWAFJxJ8D53CXbNpJ"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "succeededLockTokens": [
          "CiYKJEFGQTcxOTA4LTQxOTQtNDlEMy1BNzI2LTU1QUZBQjlDREM5RBISChAqdHfuWAFJxJ8D53CXbNpJ"
        ],
        "failedLockTokens": []
      }
    },
    {
      "RequestUri": "https://jolov2-2.westus2-1.eventgrid.azure.net/topics/testtopic1/eventsubscriptions/testsubscription1:acknowledge?api-version=2024-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lockTokens": [
          "CiYKJEFGQTcxOTA4LTQxOTQtNDlEMy1BNzI2LTU1QUZBQjlDREM5RBISChA0ndIGXpNMmY50SDWS/5kx"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "succeededLockTokens": [
          "CiYKJEFGQTcxOTA4LTQxOTQtNDlEMy1BNzI2LTU1QUZBQjlDREM5RBISChA0ndIGXpNMmY50SDWS/5kx"
        ],
        "failedLockTokens": []
      }
    },
    {
      "RequestUri": "https://jolov2-2.westus2-1.eventgrid.azure.net/topics/testtopic1/eventsubscriptions/testsubscription1:reject?api-version=2024-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lockTokens": [
          "CiYKJEFGQTcxOTA4LTQxOTQtNDlEMy1BNzI2LTU1QUZBQjlDREM5RBISChCrLzBoAMJF1oxTvzduxvdp"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "succeededLockTokens": [
          "CiYKJEFGQTcxOTA4LTQxOTQtNDlEMy1BNzI2LTU1QUZBQjlDREM5RBISChCrLzBoAMJF1oxTvzduxvdp"
        ],
        "failedLockTokens": []
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-10T11:41:29.9618650-07:00",
    "EVENTGRID_ENDPOINT": "https://jolov2-2.westus2-1.eventgrid.azure.net",
    "EVENTGRID_EVENT_SUBSCRIPTION_NAME": "testsubscription1",
    "EVENTGRID_KEY": "Kg==",
    "EVENTGRID_TOPIC_NAME": "testtopic1",
    "RandomSeed": "1064376521"
  }
}
