{
  "Entries": [
    {
      "RequestUri": "https://jolov22-2.eastus2-1.eventgrid.azure.net/topics/testtopic1:publish?api-version=2023-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/cloudevents\u002Bjson; charset=utf-8"
      },
      "RequestBody": {
        "id": "7cb168bb-9750-9dde-76f6-c718a7411f38",
        "source": "employee_source",
        "type": "type",
        "data": {
          "Name": "Bob",
          "Age": 18
        },
        "time": "2024-04-10T10:13:18.827344-07:00",
        "specversion": "1.0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://jolov22-2.eastus2-1.eventgrid.azure.net/topics/testtopic1/eventsubscriptions/testsubscription1:receive?api-version=2023-10-01-preview\u0026maxEvents=1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "brokerProperties": {
              "lockToken": "CiYKJEQ1ODg4MDQ2LTQ3NkYtNDgwMS05NDJDLUE2NTUyNTE2Mjg3RRISChDD6sjyRj1Pk5Tj1g7YVLEW",
              "deliveryCount": 1
            },
            "event": {
              "specversion": "1.0",
              "source": "employee_source",
              "time": "2024-04-10T17:13:18.827344Z",
              "id": "7cb168bb-9750-9dde-76f6-c718a7411f38",
              "type": "type",
              "data": {
                "Age": 18,
                "Name": "Bob"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://jolov22-2.eastus2-1.eventgrid.azure.net/topics/testtopic1/eventsubscriptions/testsubscription1:renewLock?api-version=2023-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lockTokens": [
          "CiYKJEQ1ODg4MDQ2LTQ3NkYtNDgwMS05NDJDLUE2NTUyNTE2Mjg3RRISChDD6sjyRj1Pk5Tj1g7YVLEW"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "succeededLockTokens": [
          "CiYKJEQ1ODg4MDQ2LTQ3NkYtNDgwMS05NDJDLUE2NTUyNTE2Mjg3RRISChDD6sjyRj1Pk5Tj1g7YVLEW"
        ],
        "failedLockTokens": []
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-10T10:13:18.8273440-07:00",
    "EVENTGRID_ENDPOINT": "https://jolov22-2.eastus2-1.eventgrid.azure.net",
    "EVENTGRID_EVENT_SUBSCRIPTION_NAME": "testsubscription1",
    "EVENTGRID_KEY": "Kg==",
    "EVENTGRID_TOPIC_NAME": "testtopic1",
    "RandomSeed": "1071860135"
  }
}
