{
  "Entries": [
    {
      "RequestUri": "https://jolov2-2.westus3-1.eventgrid.azure.net/topics/testtopic1:publish?api-version=2024-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/cloudevents+json; charset=utf-8"
      },
      "RequestBody": {
        "specversion": "1.0",
        "source": "http://localHost",
        "type": "type",
        "id": "2a7b3c1d-e132-8357-3100-e82223f695a2",
        "data": {
          "Name": "Bob",
          "Age": 18
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://jolov2-2.westus3-1.eventgrid.azure.net/topics/testtopic1/eventsubscriptions/testsubscription1:receive?api-version=2024-06-01&maxEvents=1&maxWaitTime=10",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "brokerProperties": {
              "lockToken": "CiYKJEUwQTFDMkNCLUEyQUMtNEMzNy04NDU0LTI3OEM1Q0QyNDBGQhISChCYS7HOjs5OB7etBlfa0/fx",
              "deliveryCount": 1
            },
            "event": {
              "specversion": "1.0",
              "source": "http://localHost",
              "id": "2a7b3c1d-e132-8357-3100-e82223f695a2",
              "type": "type",
              "data": {
                "Age": 18,
                "Name": "Bob"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://jolov2-2.westus3-1.eventgrid.azure.net/topics/testtopic1/eventsubscriptions/testsubscription1:acknowledge?api-version=2024-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lockTokens": [
          "CiYKJEUwQTFDMkNCLUEyQUMtNEMzNy04NDU0LTI3OEM1Q0QyNDBGQhISChCYS7HOjs5OB7etBlfa0/fx"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "succeededLockTokens": [
          "CiYKJEUwQTFDMkNCLUEyQUMtNEMzNy04NDU0LTI3OEM1Q0QyNDBGQhISChCYS7HOjs5OB7etBlfa0/fx"
        ],
        "failedLockTokens": []
      }
    }
  ],
  "Variables": {
    "EVENTGRID_ENDPOINT": "https://jolov2-2.westus3-1.eventgrid.azure.net",
    "EVENTGRID_EVENT_SUBSCRIPTION_NAME": "testsubscription1",
    "EVENTGRID_KEY": "Kg==",
    "EVENTGRID_TOPIC_NAME": "testtopic1",
    "RandomSeed": "538527918"
  }
}
