{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/assistants?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "gpt-4-1106-preview",
        "name": "My Friendly Test Assistant",
        "instructions": "You are helpful agent"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-01",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "239",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "2c53c904-7cbe-471f-a16e-af0e9d276a0b",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.847"
      },
      "ResponseBody": {
        "id": "asst_CXTgiph2eKhoK9CQjVgPFHAK",
        "object": "assistant",
        "created_at": 1745972516,
        "name": "My Friendly Test Assistant",
        "description": null,
        "model": "gpt-4-1106-preview",
        "instructions": "You are helpful agent",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-01",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "77",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "98986b08-939b-487d-8e1d-2440939ca050",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.266"
      },
      "ResponseBody": {
        "id": "thread_l4DyO8kbNPOpZ2LbdPYGFDnR",
        "object": "thread",
        "created_at": 1745972517,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_l4DyO8kbNPOpZ2LbdPYGFDnR/messages?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "role": "user",
        "content": "Hello, tell me a joke"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-01",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "113",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "ef7eaa3a-ca56-451a-8117-7a13d973cacf",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.235"
      },
      "ResponseBody": {
        "id": "msg_J9IKwH58BqWKp32sCIuTzndj",
        "object": "thread.message",
        "created_at": 1745972517,
        "assistant_id": null,
        "thread_id": "thread_l4DyO8kbNPOpZ2LbdPYGFDnR",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    }
  ],
  "Variables": {}
}
