{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11839"
      },
      "ResponseBody": {
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "45b60d85-fd72-427a-a708-f994d26e593e",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "AzureStorage_DMStaging_10041369",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourcegroups/testelasticsanRG-4260?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1155"
      },
      "ResponseBody": {
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/testelasticsanRG-4260",
        "name": "testelasticsanRG-4260",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/testelasticsanRG-4260/providers/Microsoft.ElasticSan/elasticSans/testsan-7695?api-version=2022-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "tag1": "value1"
        },
        "location": "eastus2euap",
        "properties": {
          "sku": {
            "name": "Premium_LRS"
          },
          "baseSizeTiB": 6,
          "extendedCapacitySizeTiB": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Location": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.ElasticSan/locations/eastus2euap/asyncoperations/c19a1308-d05b-40ce-abb4-abf65d0096e5?monitor=true\u0026api-version=2022-12-01-preview",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1154"
      },
      "ResponseBody": {
        "location": "eastus2euap",
        "properties": {
          "sku": {
            "name": "Premium_LRS"
          },
          "provisioningState": "Creating",
          "baseSizeTiB": 6,
          "extendedCapacitySizeTiB": 1,
          "totalIops": 30000,
          "totalMBps": 480,
          "totalSizeTiB": 7,
          "volumeGroupCount": 0,
          "totalVolumeSizeGiB": 0
        },
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/testelasticsanRG-4260/providers/Microsoft.ElasticSan/elasticSans/testsan-7695",
        "name": "testsan-7695",
        "type": "Microsoft.ElasticSan/ElasticSans",
        "tags": {
          "tag1": "value1"
        },
        "systemData": {
          "createdAt": "2023-07-18T09:04:16.4580551Z",
          "createdBy": "a000255f-5f09-45e0-a970-9d9ed9cc6453",
          "createdByType": "Application",
          "lastModifiedAt": "2023-07-18T09:04:16.4580551Z",
          "lastModifiedBy": "a000255f-5f09-45e0-a970-9d9ed9cc6453",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.ElasticSan/locations/eastus2euap/asyncoperations/c19a1308-d05b-40ce-abb4-abf65d0096e5?monitor=true\u0026api-version=2022-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.ElasticSan/locations/eastus2euap/asyncoperations/c19a1308-d05b-40ce-abb4-abf65d0096e5?monitor=true\u0026api-version=2022-12-01-preview",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-reads": "11838"
      },
      "ResponseBody": null
    },
[...]
