{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177355549198806989?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE825AA61A932C\"",
        "Last-Modified": "Sun, 15 Mar 2026 06:18:17 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177355549198806989/blob177355549789702986",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "SGVsbG8gV29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "ETag": "\"0x8DE825AA6262C94\"",
        "Last-Modified": "Sun, 15 Mar 2026 06:18:17 GMT",
        "x-ms-content-crc64": "YeJLfssylmU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-15T06:18:17.9376276Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177355549198806989/blob177355549789702986?versionid=2026-03-15T06%3A18%3A17.9376276Z",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE825AA6262C94\"",
        "Last-Modified": "Sun, 15 Mar 2026 06:18:17 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sun, 15 Mar 2026 06:18:17 GMT",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-15T06:18:17.9376276Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177355549198806989/blob177355549789702986",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://fakeaccountname.blob.core.windows.net/container177355549198806989/blob177355549789702986?versionid=2026-03-15T06%3A18%3A17.9376276Z",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DE825AA64FE8BA\"",
        "Last-Modified": "Sun, 15 Mar 2026 06:18:18 GMT",
        "x-ms-copy-id": "c3abb5c6-03fc-48c5-8461-e9090ce0c156",
        "x-ms-copy-status": "success",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-15T06:18:18.2124220Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177355549198806989?comp=list&restype=container&include=versions",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakeaccountname.blob.core.windows.net/\" ContainerName=\"container177355549198806989\"><Blobs><Blob><Name>blob177355549789702986</Name><VersionId>2026-03-15T06:18:17.9376276Z</VersionId><Properties><Creation-Time>Sun, 15 Mar 2026 06:18:17 GMT</Creation-Time><Last-Modified>Sun, 15 Mar 2026 06:18:17 GMT</Last-Modified><Etag>0x8DE825AA6262C94</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>sQqNsWTgdUEFt6mb5y4/5Q==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>blob177355549789702986</Name><VersionId>2026-03-15T06:18:18.0172803Z</VersionId><Properties><Creation-Time>Sun, 15 Mar 2026 06:18:18 GMT</Creation-Time><Last-Modified>Sun, 15 Mar 2026 06:18:18 GMT</Last-Modified><Etag>0x8DE825AA632060F</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>1B2M2Y8AsgTpgAmY7PhCfg==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>blob177355549789702986</Name><VersionId>2026-03-15T06:18:18.2124220Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Sun, 15 Mar 2026 06:18:18 GMT</Creation-Time><Last-Modified>Sun, 15 Mar 2026 06:18:18 GMT</Last-Modified><Etag>0x8DE825AA64FE8BA</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>sQqNsWTgdUEFt6mb5y4/5Q==</Content-MD5><Cache-Control /><Content-Disposition /><LastAccessTime>Sun, 15 Mar 2026 06:18:18 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177355549198806989/blob177355549789702986",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE825AA64FE8BA\"",
        "Last-Modified": "Sun, 15 Mar 2026 06:18:18 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Sun, 15 Mar 2026 06:18:18 GMT",
        "x-ms-copy-id": "c3abb5c6-03fc-48c5-8461-e9090ce0c156",
        "x-ms-copy-progress": "11/11",
        "x-ms-copy-source": "https://fakeaccountname.blob.core.windows.net/container177355549198806989/blob177355549789702986?versionid=2026-03-15T06%3A18%3A17.9376276Z",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Sun, 15 Mar 2026 06:18:18 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Sun, 15 Mar 2026 06:18:18 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-15T06:18:18.2124220Z"
      },
      "ResponseBody": "SGVsbG8gV29ybGQ="
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177355549198806989?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob177355549789702986",
    "container": "container177355549198806989"
  }
}
