{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169744614022104086?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 08:49:00 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCE24BE3E57EF\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 08:49:00 GMT",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169744614022104086/blob169744614037006690",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 16 Oct 2023 08:49:00 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": "SGVsbG8gV29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "ETag": "\u00220x8DBCE24BE52CB6F\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 08:49:01 GMT",
        "x-ms-content-crc64": "YeJLfssylmU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-08-03",
        "x-ms-version-id": "2023-10-16T08:49:01.0298735Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169744614022104086/blob169744614037006690?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 08:49:00 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCE24BE690F42\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 08:49:01 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2023-10-16T08:49:01.3247034Z",
        "x-ms-version": "2023-08-03",
        "x-ms-version-id": "2023-10-16T08:49:01.3257034Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169744614022104086/blob169744614037006690?versionid=2023-10-16T08%3A49%3A01.0298735Z",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 08:49:00 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidQueryParameterValue",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EInvalidQueryParameterValue\u003C/Code\u003E\u003CMessage\u003EValue for one of the query parameters specified in the request URI is invalid.\n",
        "RequestId:a3584e2c-401e-006e-660d-00c60e000000\n",
        "Time:2023-10-16T08:49:01.4834993Z\u003C/Message\u003E\u003CQueryParameterName\u003Eversionid\u003C/QueryParameterName\u003E\u003CQueryParameterValue\u003E2023-10-16T08:49:01.0298735Z\u003C/QueryParameterValue\u003E\u003CReason\u003EThis operation is only allowed on the root blob. Version id should not be provided.\u003C/Reason\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169744614022104086?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 08:49:01 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob169744614037006690",
    "container": "container169744614022104086"
  }
}
