{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177355539496305691?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE825A6D2D25DA\"",
        "Last-Modified": "Sun, 15 Mar 2026 06:16:42 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177355539496305691/blob177355540239409107",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "SGVsbG8gV29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "ETag": "\"0x8DE825A6D39E180\"",
        "Last-Modified": "Sun, 15 Mar 2026 06:16:42 GMT",
        "x-ms-content-crc64": "YeJLfssylmU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-15T06:16:42.4366464Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177355539496305691/blob177355540239409107?versionid=2026-03-15T06%3A16%3A42.4366464Z",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177355539496305691/blob177355540239409107?versionid=2026-03-15T06%3A16%3A42.4366464Z",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-is-soft-deleted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177355539496305691/blob177355540239409107?versionid=2026-03-15T06%3A16%3A42.5143090Z",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "OperationNotAllowedOnRootBlob",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>OperationNotAllowedOnRootBlob</Code><Message>The specified operation is not allowed on root blob.\n",
        "RequestId:d9ecbeef-901e-005f-4f43-b44cdc000000\n",
        "Time:2026-03-15T06:16:42.7632103Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177355539496305691?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob177355540239409107",
    "container": "container177355539496305691"
  }
}
