{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/20010222-2b48-4245-a95c-090db6312d5f?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/20010222-2b48-4245-a95c-090db6312d5f",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "NRMSBreakGlass": "276877527"
        },
        "subscriptionId": "20010222-2b48-4245-a95c-090db6312d5f",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "api_BVT_Local_1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourcegroups/testRG-1049?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/testRG-1049",
        "name": "testRG-1049",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/testRG-1049/providers/Microsoft.ApiManagement/service/sdktestapimv2-7906?api-version=2024-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "sku": {
          "name": "StandardV2",
          "capacity": 1
        },
        "properties": {
          "publisherEmail": "Sample@Sample.com",
          "publisherName": "sample"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/providers/Microsoft.ApiManagement/locations/westus2/operationsStatuses/d2VzdHVzMjpzZGt0ZXN0YXBpbXYyLTc5MDZfQWN0X2NiN2U3N2Fh?api-version=2024-05-01&t=638656563639734007&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdj[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/providers/Microsoft.ApiManagement/locations/westus2/operationsStatuses/d2VzdHVzMjpzZGt0ZXN0YXBpbXYyLTc5MDZfQWN0X2NiN2U3N2Fh?api-version=2024-05-01&t=638656563639734007&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxWjBAMT4wPAYDVQQDEzVhc3l[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/providers/Microsoft.ApiManagement/locations/westus2/operationsStatuses/d2VzdHVzMjpzZGt0ZXN0YXBpbXYyLTc5MDZfQWN0X2NiN2U3N2Fh?api-version=2024-05-01&t=638656563641792519&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxWjBAMT4wPAYDVQQDEzVhc3l[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/providers/Microsoft.ApiManagement/locations/westus2/operationsStatuses/d2VzdHVzMjpzZGt0ZXN0YXBpbXYyLTc5MDZfQWN0X2NiN2U3N2Fh?api-version=2024-05-01&t=638656563843002465&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxWjBAMT4wPAYDVQQDEzVhc3l[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/testRG-1049/providers/Microsoft.ApiManagement/service/sdktestapimv2-7906?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"AAAAAABV5Ak=\"",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "23998"
      },
      "ResponseBody": {
        "etag": "AAAAAABV5Ak=",
        "properties": {
          "publisherEmail": "Sample@Sample.com",
          "publisherName": "sample",
          "notificationSenderEmail": "apimgmt-noreply@mail.windowsazure.com",
          "provisioningState": "Succeeded",
          "targetProvisioningState": "",
          "createdAtUtc": "2024-10-27T18:55:11.5161018Z",
          "gatewayUrl": "https://sdktestapimv2-7906.current.int-azure-api.net",
          "gatewayRegionalUrl": null,
          "portalUrl": null,
          "developerPortalUrl": null,
          "dataApiUrl": null,
          "managementApiUrl": "https://smapi.api-mwh-current-scaleunit-007.p.azurewebsites.net/",
          "scmUrl": null,
          "hostnameConfigurations": [
            {
              "type": "Proxy",
              "hostName": "sdktestapimv2-7906.current.int-azure-api.net",
              "encodedCertificate": null,
              "keyVaultId": null,
              "certificatePassword": null,
              "negotiateClientCertificate": false,
              "certificate": null,
              "defaultSslBinding": true,
              "identityClientId": null,
              "certificateSource": "BuiltIn",
              "certificateStatus": null
            }
          ],
          "publicIPAddresses": null,
          "privateIPAddresses": null,
          "additionalLocations": null,
          "virtualNetworkConfiguration": null,
          "customProperties": {
            "Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10": "False",
            "Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls11": "False",
            "Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls10": "False",
            "Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls11": "False",
            "Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Ssl30": "False",
            "Microsoft.WindowsAzure.ApiManagement.Gateway.Protocols.Server.Http2": "False"
          },
          "virtualNetworkType": "None",
          "certificates": null,
          "natGatewayState": "Enabled",
          "outboundPublicIPAddresses": null,
          "apiVersionConstraint": {
            "minApiVersion": null
          },
          "publicIpAddressId": null,
          "publicNetworkAccess": "Enabled",
          "privateEndpointConnections": null,
          "platformVersion": "undetermined",
          "configurationApi": null,
          "legacyPortalStatus": "Disabled",
          "developerPortalStatus": "Disabled"
        },
        "sku": {
          "name": "StandardV2",
          "capacity": 1
        },
        "identity": null,
        "zones": null,
        "systemData": null,
        "location": "West US 2",
        "tags": {},
        "id": "/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/testRG-1049/providers/Microsoft.ApiManagement/service/sdktestapimv2-7906",
        "name": "sdktestapimv2-7906",
        "type": "Microsoft.ApiManagement/service"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/testRG-1049/providers/Microsoft.ApiManagement/service/sdktestapimv2-7906/openidConnectProviders/openId1996?api-version=2024-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "displayName": "openIdName846",
          "metadataEndpoint": "https://provider7673.endpoint5690",
          "clientId": "00000000-0000-0000-0000-000000000000"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"AAAAAHrToec=\"",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/testRG-1049/providers/Microsoft.ApiManagement/service/sdktestapimv2-7906/openidConnectProviders/openId1996",
        "type": "Microsoft.ApiManagement/service/openidConnectProviders",
        "name": "openId1996",
        "properties": {
          "displayName": "openIdName846",
          "description": null,
          "metadataEndpoint": "https://provider7673.endpoint5690",
          "clientId": "00000000-0000-0000-0000-000000000000"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/testRG-1049/providers/Microsoft.ApiManagement/service/sdktestapimv2-7906/openidConnectProviders/openId1996?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"AAAAAHrToec=\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/testRG-1049/providers/Microsoft.ApiManagement/service/sdktestapimv2-7906/openidConnectProviders/openId1996",
        "type": "Microsoft.ApiManagement/service/openidConnectProviders",
        "name": "openId1996",
        "properties": {
          "displayName": "openIdName846",
          "description": null,
          "metadataEndpoint": "https://provider7673.endpoint5690",
          "useInTestConsole": true,
          "useInApiDocumentation": false,
          "clientId": "00000000-0000-0000-0000-000000000000"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/testRG-1049/providers/Microsoft.ApiManagement/service/sdktestapimv2-7906/openidConnectProviders/openId4572?api-version=2024-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "displayName": "openIdName5759",
          "description": "description5535",
          "metadataEndpoint": "https://provider5900.endpoint3173",
          "clientId": "00000000-0000-0000-0000-000000000000",
          "clientSecret": "Sanitized"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"AAAAAHrToeg=\"",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/testRG-1049/providers/Microsoft.ApiManagement/service/sdktestapimv2-7906/openidConnectProviders/openId4572",
        "type": "Microsoft.ApiManagement/service/openidConnectProviders",
        "name": "openId4572",
        "properties": {
          "displayName": "openIdName5759",
          "description": "description5535",
          "metadataEndpoint": "https://provider5900.endpoint3173",
          "clientId": "00000000-0000-0000-0000-000000000000",
          "clientSecret": "Sanitized"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/testRG-1049/providers/Microsoft.ApiManagement/service/sdktestapimv2-7906/openidConnectProviders/openId4572/listSecrets?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"AAAAAHrToeg=\"",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "clientSecret": "Sanitized"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/testRG-1049/providers/Microsoft.ApiManagement/service/sdktestapimv2-7906/openidConnectProviders?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/testRG-1049/providers/Microsoft.ApiManagement/service/sdktestapimv2-7906/openidConnectProviders/openId4572",
            "type": "Microsoft.ApiManagement/service/openidConnectProviders",
            "name": "openId4572",
            "properties": {
              "displayName": "openIdName5759",
              "description": "description5535",
              "metadataEndpoint": "https://provider5900.endpoint3173",
              "useInTestConsole": true,
              "useInApiDocumentation": false,
              "clientId": "00000000-0000-0000-0000-000000000000"
            }
          },
          {
            "id": "/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/testRG-1049/providers/Microsoft.ApiManagement/service/sdktestapimv2-7906/openidConnectProviders/openId1996",
            "type": "Microsoft.ApiManagement/service/openidConnectProviders",
            "name": "openId1996",
            "properties": {
              "displayName": "openIdName846",
              "description": null,
              "metadataEndpoint": "https://provider7673.endpoint5690",
              "useInTestConsole": true,
              "useInApiDocumentation": false,
              "clientId": "00000000-0000-0000-0000-000000000000"
            }
          }
        ],
        "count": 2
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/testRG-1049/providers/Microsoft.ApiManagement/service/sdktestapimv2-7906/openidConnectProviders/openId1996?api-version=2024-05-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "*"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": "799",
        "x-ms-ratelimit-remaining-subscription-global-deletes": "11999"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/testRG-1049/providers/Microsoft.ApiManagement/service/sdktestapimv2-7906/openidConnectProviders/openId1996?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "OpenidConnectProvider not found.",
          "details": null
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/testRG-1049/providers/Microsoft.ApiManagement/service/sdktestapimv2-7906/openidConnectProviders/openId4572?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "OpenidConnectProvider not found.",
          "details": null
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1170484962",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "20010222-2b48-4245-a95c-090db6312d5f"
  }
}
