{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_60061706480?api-version=2025-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "test_description",
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/DataFactory",
          "displayName": "test_display_name",
          "experimentName": "azure-ai-ml",
          "isArchived": false,
          "jobType": "Command",
          "command": "import",
          "environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/environments/AzureML-sklearn-0.24-ubuntu18.04-py37-cpu",
          "inputs": {
            "type": {
              "jobInputType": "literal",
              "value": "azuresqldb"
            },
            "connection": {
              "jobInputType": "literal",
              "value": "azureml:my_username_password"
            },
            "query": {
              "jobInputType": "literal",
              "value": "select * from REGION"
            }
          },
          "outputs": {
            "output": {
              "uri": "azureml://datastores/workspaceblobstore/paths/output_dir/",
              "jobOutputType": "mltable"
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_60061706480?api-version=2025-01-01-preview",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-response-type": "standard",
        "x-request-time": "0.454"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_60061706480",
        "name": "test_60061706480",
        "type": "Microsoft.MachineLearningServices/workspaces/jobs",
        "properties": {
          "description": "test_description",
          "tags": {},
          "properties": {
            "_azureml.ComputeTargetType": "adf",
            "_azureml.ClusterName": "DataFactory"
          },
          "parentJobName": null,
          "displayName": "test_display_name",
          "status": "Starting",
          "experimentName": "azure-ai-ml",
          "services": {
            "Tracking": {
              "jobServiceType": "Tracking",
              "port": null,
              "endpoint": "azureml://westus.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            },
            "Studio": {
              "jobServiceType": "Studio",
              "port": null,
              "endpoint": "https://ml.azure.com/runs/test_60061706480?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/workspaces/00000",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            }
          },
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/DataFactory",
          "isArchived": false,
          "identity": null,
          "componentId": null,
          "notificationSetting": null,
          "jobType": "Command",
          "resources": {
            "instanceCount": 1,
            "instanceType": null,
            "properties": null,
            "shmSize": "2g",
            "dockerArgs": null,
            "dockerArgsList": null
          },
          "codeId": null,
          "command": "import",
          "environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/environments/AzureML-sklearn-0.24-ubuntu18.04-py37-cpu",
          "inputs": {
            "type": {
              "description": null,
              "jobInputType": "literal",
              "value": "azuresqldb"
            },
            "connection": {
              "description": null,
              "jobInputType": "literal",
              "value": "azureml:my_username_password"
            },
            "query": {
              "description": null,
              "jobInputType": "literal",
              "value": "select * from REGION"
            }
          },
          "outputs": {
            "output": {
              "description": null,
              "uri": "azureml://datastores/workspaceblobstore/paths/output_dir/",
              "assetName": null,
              "mode": "ReadWriteMount",
              "jobOutputType": "mltable"
            },
            "default": {
              "description": null,
              "uri": "azureml://datastores/workspaceartifactstore/ExperimentRun/dcid.test_60061706480",
              "assetName": null,
              "mode": "ReadWriteMount",
              "jobOutputType": "uri_folder"
            }
          },
          "distribution": null,
          "limits": null,
          "environmentVariables": null,
          "parameters": {},
          "queueSettings": {
            "jobTier": "Null"
          }
        },
        "systemData": {
          "createdAt": "2026-02-27T17:03:52.7338328+00:00",
          "createdBy": "Sanitized",
          "createdByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_60061706480?api-version=2024-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.059"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_60061706480",
        "name": "test_60061706480",
        "type": "Microsoft.MachineLearningServices/workspaces/jobs",
        "properties": {
          "description": "test_description",
          "tags": {},
          "properties": {
            "_azureml.ComputeTargetType": "adf",
            "_azureml.ClusterName": "DataFactory",
            "StartTimeUtc": "2026-02-27 17:03:55",
            "EndTimeUtc": "2026-02-27 17:03:55"
          },
          "displayName": "test_display_name",
          "status": "Failed",
          "experimentName": "azure-ai-ml",
          "services": {
            "Tracking": {
              "jobServiceType": "Tracking",
              "port": null,
              "endpoint": "azureml://westus.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            },
            "Studio": {
              "jobServiceType": "Studio",
              "port": null,
              "endpoint": "https://ml.azure.com/runs/test_60061706480?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/workspaces/00000",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            }
          },
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/DataFactory",
          "isArchived": false,
          "identity": null,
          "componentId": null,
          "notificationSetting": null,
          "secretsConfiguration": null,
          "jobType": "Command",
          "resources": {
            "instanceCount": 1,
            "maxInstanceCount": null,
            "instanceType": null,
            "locations": null,
            "properties": null,
            "shmSize": "2g",
            "dockerArgs": null
          },
          "codeId": null,
          "command": "import",
          "environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/environments/AzureML-sklearn-0.24-ubuntu18.04-py37-cpu",
          "inputs": {
            "type": {
              "description": null,
              "jobInputType": "literal",
              "value": "azuresqldb"
            },
            "connection": {
              "description": null,
              "jobInputType": "literal",
              "value": "azureml:my_username_password"
            },
            "query": {
              "description": null,
              "jobInputType": "literal",
              "value": "select * from REGION"
            }
          },
          "outputs": {
            "output": {
              "description": null,
              "uri": "azureml://datastores/workspaceblobstore/paths/output_dir/",
              "assetName": null,
              "assetVersion": null,
              "mode": "ReadWriteMount",
              "pathOnCompute": null,
              "autoDeleteSetting": null,
              "jobOutputType": "mltable"
            },
            "default": {
              "description": null,
              "uri": "azureml://datastores/workspaceartifactstore/ExperimentRun/dcid.test_60061706480",
              "assetName": null,
              "assetVersion": null,
              "mode": "ReadWriteMount",
              "pathOnCompute": null,
              "autoDeleteSetting": null,
              "jobOutputType": "uri_folder"
            }
          },
          "distribution": null,
          "autologgerSettings": null,
          "limits": null,
          "environmentVariables": null,
          "parameters": {},
          "queueSettings": {
            "jobTier": "Null",
            "priority": null
          }
        },
        "systemData": {
          "createdAt": "2026-02-27T17:03:52.7338328+00:00",
          "createdBy": "Sanitized",
          "createdByType": "User"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2024-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16498",
        "x-ms-ratelimit-remaining-subscription-reads": "1098",
        "x-ms-response-type": "standard",
        "x-request-time": "0.025"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "westus",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "Sanitized",
          "description": "",
          "storageAccount": "Sanitized",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.Keyvault/vaults/kvtestxj2nmna6k5cze",
          "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.insights/components/aiep2ojtu6hiywu",
          "hbiWorkspace": false,
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "managedNetwork": {
            "changeableIsolationModes": [
              "AllowInternetOutbound",
              "AllowOnlyApprovedOutbound"
            ],
            "isolationMode": "Disabled",
            "enableNetworkMonitor": false,
            "enableFirewallLog": false
          },
          "allowRoleAssignmentOnRG": true,
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "containerRegistry": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.ContainerRegistry/registries/crep2ojtu6hiywu",
          "creationTime": "2026-02-25T23:13:13.3878914Z",
          "notebookInfo": {
            "resourceId": "8b068416c20e42baa378e44e9bcaecfa",
            "fqdn": "ml-sdkvnextcli-westus-b0f1ba9e-8ee1-4137-b14e-89f18df895c7.westus.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "b0f1ba9e-8ee1-4137-b14e-89f18df895c7",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "ipAllowlist": [],
          "networkAcls": {
            "defaultAction": "Allow",
            "bypass": "",
            "ipRules": [],
            "resourceAccessRules": []
          },
          "discoveryUrl": "https://westus.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://westus.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "serverlessComputeSettings": null,
          "EnableSoftwareBillOfMaterials": false,
          "sdkTelemetryAppInsightsKey": "23040a33-1c3e-4782-a462-da85bf9238bb",
          "sasGetterUri": "",
          "enableDataIsolation": false,
          "systemDatastoresAuthMode": "accesskey",
          "enableServiceSideCMKEncryption": false
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "kind": "Default",
        "sku": {
          "name": "Basic",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2026-02-25T23:13:13.3878914Z",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2026-02-25T23:13:13.3878914Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/discovery",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-response-type": "standard",
        "x-request-time": "0.015"
      },
      "ResponseBody": {
        "api": "https://westus.api.azureml.ms",
        "catalog": "Sanitized",
        "experimentation": "https://westus.experiments.azureml.net",
        "history": "https://westus.experiments.azureml.net",
        "hyperdrive": "https://westus.experiments.azureml.net",
        "labeling": "https://westus.experiments.azureml.net",
        "modelmanagement": "https://westus.modelmanagement.azureml.net",
        "pipelines": "https://westus.aether.ms",
        "studio": "https://ml.azure.com"
      }
    }
  ],
  "Variables": {
    "name": "test_60061706480"
  }
}
