{
  "Entries": [
    {
      "RequestUri": "https://t1e4564477a3bf4db-avro.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/test-12033:get-id?api-version=2023-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; serialization=UnknownType"
      },
      "RequestBody": "Hello",
      "StatusCode": 415,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "InvalidSchemaType"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidSchemaType",
          "message": "Invalid schema type for POST request. 'unknowntype' is not supported. TrackingId:ee5e3012-d831-4918-846a-8a21abdd753a_G10, SystemTracker:t1e4564477a3bf4db-avro.servicebus.windows.net:$schemaGroups/azsdk_net_test_group/schemas/test-12033:get-id, Timestamp:2024-09-17T00:36:06"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1394456821",
    "SCHEMAREGISTRY_ENDPOINT_AVRO": "t1e4564477a3bf4db-avro.servicebus.windows.net",
    "SCHEMAREGISTRY_GROUP": "azsdk_net_test_group"
  }
}
