{
  "Entries": [
    {
      "RequestUri": "https://t1e4564477a3bf4db-avro.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/test-16517:get-id?api-version=2023-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "text/plain; charset=utf-8"
      },
      "RequestBody": "Hello",
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "ItemNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ItemNotFound",
          "message": "Schema azsdk_net_test_group/test-16517 does not exist. TrackingId:c2d3467a-2833-453e-8de2-9759e6f8931e_G16, SystemTracker:t1e4564477a3bf4db-avro.servicebus.windows.net:$schemaGroups/azsdk_net_test_group/schemas/test-16517:get-id, Timestamp:2023-11-10T16:31:19"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "831279548",
    "SCHEMAREGISTRY_ENDPOINT_AVRO": "t1e4564477a3bf4db-avro.servicebus.windows.net",
    "SCHEMAREGISTRY_GROUP": "azsdk_net_test_group"
  }
}
