{
  "Entries": [
    {
      "RequestUri": "https://t1e4564477a3bf4db-avro.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/test-20577?api-version=2023-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; serialization=Avro"
      },
      "RequestBody": {
        "type": "record",
        "namespace": "TestSchema",
        "name": "Employee",
        "fields": [
          {
            "name": "Name",
            "type": "string"
          },
          {
            "name": "Age",
            "type": "int"
          }
        ]
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://t1e4564477a3bf4db-avro.servicebus.windows.net/$schemagroups/azsdk_net_test_group/schemas/test-20577/versions/1?api-version=2023-07-01",
        "Schema-Group-Name": "azsdk_net_test_group",
        "Schema-Id": "ae7ec565aae84947977e1916c5202ef3",
        "Schema-Id-Location": "https://t1e4564477a3bf4db-avro.servicebus.windows.net:443/$schemagroups/$schemas/ae7ec565aae84947977e1916c5202ef3?api-version=2023-07-01",
        "Schema-Name": "test-20577",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://t1e4564477a3bf4db-avro.servicebus.windows.net:443/$schemagroups/azsdk_net_test_group/schemas/test-20577/versions?api-version=2023-07-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t1e4564477a3bf4db-avro.servicebus.windows.net/$schemaGroups/$schemas/ae7ec565aae84947977e1916c5202ef3?api-version=2023-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; serialization=Avro",
        "Location": "https://t1e4564477a3bf4db-avro.servicebus.windows.net/$schemagroups/azsdk_net_test_group/schemas/test-20577/versions/1?api-version=2023-07-01",
        "Schema-Group-Name": "azsdk_net_test_group",
        "Schema-Id": "ae7ec565aae84947977e1916c5202ef3",
        "Schema-Id-Location": "https://t1e4564477a3bf4db-avro.servicebus.windows.net:443/$schemagroups/$schemas/ae7ec565aae84947977e1916c5202ef3?api-version=2023-07-01",
        "Schema-Name": "test-20577",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://t1e4564477a3bf4db-avro.servicebus.windows.net:443/$schemagroups/azsdk_net_test_group/schemas/test-20577/versions?api-version=2023-07-01"
      },
      "ResponseBody": {
        "type": "record",
        "namespace": "TestSchema",
        "name": "Employee",
        "fields": [
          {
            "name": "Name",
            "type": "string"
          },
          {
            "name": "Age",
            "type": "int"
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "CLIENT_ID": "1e9f5aed-6cbe-40ad-8060-ec4851580111",
    "RandomSeed": "2013934893",
    "SCHEMAREGISTRY_ENDPOINT_AVRO": "t1e4564477a3bf4db-avro.servicebus.windows.net",
    "SCHEMAREGISTRY_GROUP": "azsdk_net_test_group",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}
