{
  "Entries": [
    {
      "RequestUri": "https://t1e4564477a3bf4db-avro.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/test-11766?api-version=2023-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; serialization=Avro"
      },
      "RequestBody": {
        "type": "record",
        "namespace": "TestSchema",
        "name": "Employee",
        "fields": [
          {
            "name": "Name",
            "type": "string"
          },
          {
            "name": "Age",
            "type": "int"
          }
        ]
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://t1e4564477a3bf4db-avro.servicebus.windows.net/$schemagroups/azsdk_net_test_group/schemas/test-11766/versions/1?api-version=2023-07-01",
        "Schema-Group-Name": "azsdk_net_test_group",
        "Schema-Id": "aa92fc0f91c3451ba75d2cfcbb2aba68",
        "Schema-Id-Location": "https://t1e4564477a3bf4db-avro.servicebus.windows.net:443/$schemagroups/$schemas/aa92fc0f91c3451ba75d2cfcbb2aba68?api-version=2023-07-01",
        "Schema-Name": "test-11766",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://t1e4564477a3bf4db-avro.servicebus.windows.net:443/$schemagroups/azsdk_net_test_group/schemas/test-11766/versions?api-version=2023-07-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://t1e4564477a3bf4db-avro.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/test-11766/versions/1?api-version=2023-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; serialization=Avro",
        "Location": "https://t1e4564477a3bf4db-avro.servicebus.windows.net/$schemagroups/azsdk_net_test_group/schemas/test-11766/versions/1?api-version=2023-07-01",
        "Schema-Group-Name": "azsdk_net_test_group",
        "Schema-Id": "aa92fc0f91c3451ba75d2cfcbb2aba68",
        "Schema-Id-Location": "https://t1e4564477a3bf4db-avro.servicebus.windows.net:443/$schemagroups/$schemas/aa92fc0f91c3451ba75d2cfcbb2aba68?api-version=2023-07-01",
        "Schema-Name": "test-11766",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://t1e4564477a3bf4db-avro.servicebus.windows.net:443/$schemagroups/azsdk_net_test_group/schemas/test-11766/versions?api-version=2023-07-01"
      },
      "ResponseBody": {
        "type": "record",
        "namespace": "TestSchema",
        "name": "Employee",
        "fields": [
          {
            "name": "Name",
            "type": "string"
          },
          {
            "name": "Age",
            "type": "int"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t1e4564477a3bf4db-avro.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/test-11766/versions/2?api-version=2023-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; serialization=Avro",
        "Location": "https://t1e4564477a3bf4db-avro.servicebus.windows.net/$schemagroups/azsdk_net_test_group/schemas/test-11766/versions/2?api-version=2023-07-01",
        "Schema-Group-Name": "azsdk_net_test_group",
        "Schema-Id": "c171aaee1dba46ada982d594e8ceb275",
        "Schema-Id-Location": "https://t1e4564477a3bf4db-avro.servicebus.windows.net:443/$schemagroups/$schemas/c171aaee1dba46ada982d594e8ceb275?api-version=2023-07-01",
        "Schema-Name": "test-11766",
        "Schema-Version": "2",
        "Schema-Versions-Location": "https://t1e4564477a3bf4db-avro.servicebus.windows.net:443/$schemagroups/azsdk_net_test_group/schemas/test-11766/versions?api-version=2023-07-01"
      },
      "ResponseBody": {
        "type": "record",
        "namespace": "TestSchema",
        "name": "Employee_V2",
        "fields": [
          {
            "name": "Name",
            "type": "string"
          },
          {
            "name": "Age",
            "type": "int"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "727345030",
    "SCHEMAREGISTRY_ENDPOINT_AVRO": "t1e4564477a3bf4db-avro.servicebus.windows.net",
    "SCHEMAREGISTRY_GROUP": "azsdk_net_test_group"
  }
}
