{
  "Entries": [
    {
      "RequestUri": "https://t1e4564477a3bf4db-custom.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/test-17481?api-version=2023-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "text/plain; charset=utf-8"
      },
      "RequestBody": "Hello",
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://t1e4564477a3bf4db-custom.servicebus.windows.net/$schemagroups/azsdk_net_test_group/schemas/test-17481/versions/1?api-version=2023-07-01",
        "Schema-Group-Name": "azsdk_net_test_group",
        "Schema-Id": "e4cb5300c5b8430dae5f5bf5403e4e29",
        "Schema-Id-Location": "https://t1e4564477a3bf4db-custom.servicebus.windows.net:443/$schemagroups/$schemas/e4cb5300c5b8430dae5f5bf5403e4e29?api-version=2023-07-01",
        "Schema-Name": "test-17481",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://t1e4564477a3bf4db-custom.servicebus.windows.net:443/$schemagroups/azsdk_net_test_group/schemas/test-17481/versions?api-version=2023-07-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t1e4564477a3bf4db-custom.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/test-17481:get-id?api-version=2023-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "text/plain; charset=utf-8"
      },
      "RequestBody": "Hello",
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://t1e4564477a3bf4db-custom.servicebus.windows.net/$schemagroups/azsdk_net_test_group/schemas/test-17481/versions/1?api-version=2023-07-01",
        "Schema-Group-Name": "azsdk_net_test_group",
        "Schema-Id": "e4cb5300c5b8430dae5f5bf5403e4e29",
        "Schema-Id-Location": "https://t1e4564477a3bf4db-custom.servicebus.windows.net:443/$schemagroups/$schemas/e4cb5300c5b8430dae5f5bf5403e4e29?api-version=2023-07-01",
        "Schema-Name": "test-17481",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://t1e4564477a3bf4db-custom.servicebus.windows.net:443/$schemagroups/azsdk_net_test_group/schemas/test-17481/versions?api-version=2023-07-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "505325031",
    "SCHEMAREGISTRY_ENDPOINT_CUSTOM": "t1e4564477a3bf4db-custom.servicebus.windows.net",
    "SCHEMAREGISTRY_GROUP": "azsdk_net_test_group"
  }
}
