{
  "Entries": [
    {
      "RequestUri": "https://t1e4564477a3bf4db-custom.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/test-15724?api-version=2023-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "text/plain; charset=utf-8"
      },
      "RequestBody": "Hello",
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://t1e4564477a3bf4db-custom.servicebus.windows.net/$schemagroups/azsdk_net_test_group/schemas/test-15724/versions/1?api-version=2023-07-01",
        "Schema-Group-Name": "azsdk_net_test_group",
        "Schema-Id": "539f732d77484320aa8c75f31988e3fa",
        "Schema-Id-Location": "https://t1e4564477a3bf4db-custom.servicebus.windows.net:443/$schemagroups/$schemas/539f732d77484320aa8c75f31988e3fa?api-version=2023-07-01",
        "Schema-Name": "test-15724",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://t1e4564477a3bf4db-custom.servicebus.windows.net:443/$schemagroups/azsdk_net_test_group/schemas/test-15724/versions?api-version=2023-07-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t1e4564477a3bf4db-custom.servicebus.windows.net/$schemaGroups/$schemas/539f732d77484320aa8c75f31988e3fa?api-version=2023-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://t1e4564477a3bf4db-custom.servicebus.windows.net/$schemagroups/azsdk_net_test_group/schemas/test-15724/versions/1?api-version=2023-07-01",
        "Schema-Group-Name": "azsdk_net_test_group",
        "Schema-Id": "539f732d77484320aa8c75f31988e3fa",
        "Schema-Id-Location": "https://t1e4564477a3bf4db-custom.servicebus.windows.net:443/$schemagroups/$schemas/539f732d77484320aa8c75f31988e3fa?api-version=2023-07-01",
        "Schema-Name": "test-15724",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://t1e4564477a3bf4db-custom.servicebus.windows.net:443/$schemagroups/azsdk_net_test_group/schemas/test-15724/versions?api-version=2023-07-01"
      },
      "ResponseBody": "Hello"
    }
  ],
  "Variables": {
    "RandomSeed": "1427668292",
    "SCHEMAREGISTRY_ENDPOINT_CUSTOM": "t1e4564477a3bf4db-custom.servicebus.windows.net",
    "SCHEMAREGISTRY_GROUP": "azsdk_net_test_group"
  }
}
