{
  "Entries": [
    {
      "RequestUri": "https://t1e4564477a3bf4db-custom.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/test-17014?api-version=2023-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "text/plain; charset=utf-8"
      },
      "RequestBody": "Hello",
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://t1e4564477a3bf4db-custom.servicebus.windows.net/$schemagroups/azsdk_net_test_group/schemas/test-17014/versions/1?api-version=2023-07-01",
        "Schema-Group-Name": "azsdk_net_test_group",
        "Schema-Id": "f9d87a5a17cc4b238cc0d1d288087c85",
        "Schema-Id-Location": "https://t1e4564477a3bf4db-custom.servicebus.windows.net:443/$schemagroups/$schemas/f9d87a5a17cc4b238cc0d1d288087c85?api-version=2023-07-01",
        "Schema-Name": "test-17014",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://t1e4564477a3bf4db-custom.servicebus.windows.net:443/$schemagroups/azsdk_net_test_group/schemas/test-17014/versions?api-version=2023-07-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t1e4564477a3bf4db-custom.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/test-17014:get-id?api-version=2023-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "text/plain; charset=utf-8"
      },
      "RequestBody": "Hello",
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://t1e4564477a3bf4db-custom.servicebus.windows.net/$schemagroups/azsdk_net_test_group/schemas/test-17014/versions/1?api-version=2023-07-01",
        "Schema-Group-Name": "azsdk_net_test_group",
        "Schema-Id": "f9d87a5a17cc4b238cc0d1d288087c85",
        "Schema-Id-Location": "https://t1e4564477a3bf4db-custom.servicebus.windows.net:443/$schemagroups/$schemas/f9d87a5a17cc4b238cc0d1d288087c85?api-version=2023-07-01",
        "Schema-Name": "test-17014",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://t1e4564477a3bf4db-custom.servicebus.windows.net:443/$schemagroups/azsdk_net_test_group/schemas/test-17014/versions?api-version=2023-07-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "1493722429",
    "SCHEMAREGISTRY_ENDPOINT_CUSTOM": "t1e4564477a3bf4db-custom.servicebus.windows.net",
    "SCHEMAREGISTRY_GROUP": "azsdk_net_test_group"
  }
}
