{
  "Entries": [
    {
      "RequestUri": "https://t1e4564477a3bf4db-custom.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/test-15490?api-version=2023-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "text/plain; charset=utf-8"
      },
      "RequestBody": "Hello",
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://t1e4564477a3bf4db-custom.servicebus.windows.net/$schemagroups/azsdk_net_test_group/schemas/test-15490/versions/1?api-version=2023-07-01",
        "Schema-Group-Name": "azsdk_net_test_group",
        "Schema-Id": "1a09b7e94b0147cb80a6bed7ff2f8c68",
        "Schema-Id-Location": "https://t1e4564477a3bf4db-custom.servicebus.windows.net:443/$schemagroups/$schemas/1a09b7e94b0147cb80a6bed7ff2f8c68?api-version=2023-07-01",
        "Schema-Name": "test-15490",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://t1e4564477a3bf4db-custom.servicebus.windows.net:443/$schemagroups/azsdk_net_test_group/schemas/test-15490/versions?api-version=2023-07-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t1e4564477a3bf4db-custom.servicebus.windows.net/$schemaGroups/$schemas/1a09b7e94b0147cb80a6bed7ff2f8c68?api-version=2023-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://t1e4564477a3bf4db-custom.servicebus.windows.net/$schemagroups/azsdk_net_test_group/schemas/test-15490/versions/1?api-version=2023-07-01",
        "Schema-Group-Name": "azsdk_net_test_group",
        "Schema-Id": "1a09b7e94b0147cb80a6bed7ff2f8c68",
        "Schema-Id-Location": "https://t1e4564477a3bf4db-custom.servicebus.windows.net:443/$schemagroups/$schemas/1a09b7e94b0147cb80a6bed7ff2f8c68?api-version=2023-07-01",
        "Schema-Name": "test-15490",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://t1e4564477a3bf4db-custom.servicebus.windows.net:443/$schemagroups/azsdk_net_test_group/schemas/test-15490/versions?api-version=2023-07-01"
      },
      "ResponseBody": "Hello"
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "709152539",
    "SCHEMAREGISTRY_ENDPOINT_CUSTOM": "t1e4564477a3bf4db-custom.servicebus.windows.net",
    "SCHEMAREGISTRY_GROUP": "azsdk_net_test_group"
  }
}
