{
  "Entries": [
    {
      "RequestUri": "https://t1e4564477a3bf4db-json.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/test-35969?api-version=2023-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; serialization=json"
      },
      "RequestBody": {
        "$id": "1",
        "$schema": "Json",
        "title": "Person",
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "description": "The person's first name."
          },
          "lastName": {
            "type": "string",
            "description": "The person's last name."
          },
          "age": {
            "description": "Age in years which must be equal to or greater than zero.",
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://t1e4564477a3bf4db-json.servicebus.windows.net/$schemagroups/azsdk_net_test_group/schemas/test-35969/versions/1?api-version=2023-07-01",
        "Schema-Group-Name": "azsdk_net_test_group",
        "Schema-Id": "1b16119285644ea09b23e003227298c5",
        "Schema-Id-Location": "https://t1e4564477a3bf4db-json.servicebus.windows.net:443/$schemagroups/$schemas/1b16119285644ea09b23e003227298c5?api-version=2023-07-01",
        "Schema-Name": "test-35969",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://t1e4564477a3bf4db-json.servicebus.windows.net:443/$schemagroups/azsdk_net_test_group/schemas/test-35969/versions?api-version=2023-07-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://t1e4564477a3bf4db-json.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/test-35969/versions/1?api-version=2023-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; serialization=Json",
        "Location": "https://t1e4564477a3bf4db-json.servicebus.windows.net/$schemagr[...]
[...]
