{
  "Entries": [
    {
      "RequestUri": "https://t1e4564477a3bf4db-avro.servicebus.windows.net/$schemaGroups/$schemas/5419c2f1-1f97-a7b8-da7b-323b667713c0?api-version=2023-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "ItemNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ItemNotFound",
          "message": "Schema id 5419c2f1-1f97-a7b8-da7b-323b667713c0 does not exist. TrackingId:34c2b416-b6c9-4da8-94b0-29fa94309f27_G19, SystemTracker:t1e4564477a3bf4db-avro.servicebus.windows.net:$schemaGroups/$schemas/5419c2f1-1f97-a7b8-da7b-323b667713c0, Timestamp:2024-07-02T19:49:31"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1602994178",
    "SCHEMAREGISTRY_ENDPOINT_AVRO": "t1e4564477a3bf4db-avro.servicebus.windows.net"
  }
}
