{
  "Entries": [
    {
      "RequestUri": "https://t1e4564477a3bf4db-avro.servicebus.windows.net/$schemaGroups/test-12921/schemas/azsdk_net_test_group:get-id?api-version=2023-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; serialization=Avro"
      },
      "RequestBody": "Hello",
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "ItemNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ItemNotFound",
          "message": "Schema test-12921/azsdk_net_test_group does not exist. TrackingId:224b6b70-3925-4eeb-ab7a-3ef626f62530_G13, SystemTracker:t1e4564477a3bf4db-avro.servicebus.windows.net:$schemaGroups/test-12921/schemas/azsdk_net_test_group:get-id, Timestamp:2024-02-20T19:28:02"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "CLIENT_ID": "1e9f5aed-6cbe-40ad-8060-ec4851580111",
    "RandomSeed": "1478558387",
    "SCHEMAREGISTRY_ENDPOINT_AVRO": "t1e4564477a3bf4db-avro.servicebus.windows.net",
    "SCHEMAREGISTRY_GROUP": "azsdk_net_test_group",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}
