{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176764676662102074?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-default-encryption-scope": "encryptionScope1",
        "x-ms-deny-encryption-scope-override": "true",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE4C9D68054E44\"",
        "Last-Modified": "Mon, 05 Jan 2026 21:00:07 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/?comp=list&include=metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakeaccountname.blob.core.windows.net/\"><Containers><Container><Name>$web</Name><Properties><Last-Modified>Mon, 05 Jan 2026 20:44:31 GMT</Last-Modified><Etag>\"0x8DE4C9B3A82902D\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold><ImmutableStorageWithVersioningEnabled>false</ImmutableStorageWithVersioningEnabled></Properties><Metadata /></Container><Container><Name>container176764546666105343</Name><Properties><Last-Modified>Mon, 05 Jan 2026 20:37:46 GMT</Last-Modified><Etag>\"0x8DE4C9A490BA7E3\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold><ImmutableStorageWithVersioningEnabled[...]
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176764676662102074/blob176764676662204071",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-encryption-scope": "encryptionScope1",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "SGVsbG8gV29ybGQ=",
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "RequestForbiddenByContainerEncryptionPolicy",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>RequestForbiddenByContainerEncryptionPolicy</Code><Message>The request is forbidden by the container encryption policy.\n",
        "RequestId:83d9757e-801e-000e-4086-7ea86d000000\n",
        "Time:2026-01-05T21:00:07.5751145Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176764676662102074?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob176764676662204071",
    "container": "container176764676662102074"
  }
}
