{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4ccd08b-0809-446d-a8b7-7af8a90109cd?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/d4ccd08b-0809-446d-a8b7-7af8a90109cd",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "C-AI-MG-Placement-Subscription-Level": "2023-08-31"
        },
        "subscriptionId": "d4ccd08b-0809-446d-a8b7-7af8a90109cd",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "CommonInfra-AIO-OnDemandClusters",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4ccd08b-0809-446d-a8b7-7af8a90109cd/resourcegroups/aio-validation-113034243?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16498",
        "x-ms-ratelimit-remaining-subscription-reads": "1098"
      },
      "ResponseBody": {
        "id": "/subscriptions/d4ccd08b-0809-446d-a8b7-7af8a90109cd/resourceGroups/aio-validation-113034243",
        "name": "aio-validation-113034243",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "x-iot-environment": "atlas-on-demand",
          "x-iot-owner": "henrymorales@microsoft.com",
          "x-iot-do-not-delete": "false",
          "x-iot-create-time": "1737483173",
          "PREDEPLOYED": "true"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4ccd08b-0809-446d-a8b7-7af8a90109cd/resourceGroups/aio-validation-113034243/providers/Microsoft.IoTOperations/instances/aio-113034243?api-version=2024-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"0b02d023-0000-0200-0000-678ff6b20000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/d4ccd08b-0809-446d-a8b7-7af8a90109cd/resourceGroups/aio-validation-113034243/providers/Microsoft.IoTOperations/instances/aio-113034243",
        "name": "aio-113034243",
        "type": "microsoft.iotoperations/instances",
        "location": "eastus2",
        "extendedLocation": {
          "name": "/subscriptions/d4ccd08b-0809-446d-a8b7-7af8a90109cd/resourceGroups/aio-validation-113034243/providers/Microsoft.ExtendedLocation/customLocations/location-113034243",
          "type": "CustomLocation"
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "Application",
          "createdAt": "2025-01-21T18:43:20.1269572Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2025-01-21T19:34:10.5427159Z"
        },
        "identity": {
          "type": "None"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "version": "1.0.9",
          "description": "Updated Description: 20250121T193333",
          "schemaRegistryRef": {
            "resourceId": "/subscriptions/d4ccd08b-0809-446d-a8b7-7af8a90109cd/resourceGroups/aio-validation-113034243/providers/Microsoft.DeviceRegistry/schemaRegistries/aio-sr-cad312df47"
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4ccd08b-0809-446d-a8b7-7af8a90109cd/resourceGroups/aio-validation-113034243/providers/Microsoft.IoTOperations/instances/aio-113034243/brokers/default?api-version=2024-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag"[...]
