{
  "Entries": [
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1956696126/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1956696126/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1956696126/3f3031e095d646299c5b354aa9b2011c",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "w11LOjjP4VbbNKQMphnShXst4xwhGzt3VrlWcDzUZA-DaQefW1dlZgAYwG1DSPeg6fzO7dt7pYQgz2oDPvIDQbrNCmGuz3mDRuz5WVEvz1t3bfwV7h7rIg3tG0QolR-iXtWJ3EpIK591htIfM8LkTAgP2zAFGQ3p3VFnNvogAKyFHGKf0QajJSdnFAtw19kpLhu0DVFPQCVNXveuDccnVhLnRuDetuhgflVJ1T5Pn7eCBRq0sj4SsxijOLrMUxM3OLt_zIlTcRGoufowpCCCkHzIwUEDeK86TkN4UjeGFggwbpuP-S8N683oV86iXGtQPgE_I7ycWrGflXOIp-NpzQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1722561441,
          "updated": 1722561441,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1956696126/?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1956696126/3f3031e095d646299c5b354aa9b2011c",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "w11LOjjP4VbbNKQMphnShXst4xwhGzt3VrlWcDzUZA-DaQefW1dlZgAYwG1DSPeg6fzO7dt7pYQgz2oDPvIDQbrNCmGuz3mDRuz5WVEvz1t3bfwV7h7rIg3tG0QolR-iXtWJ3EpIK591htIfM8LkTAgP2zAFGQ3p3VFnNvogAKyFHGKf0QajJSdnFAtw19kpLhu0DVFPQCVNXveuDccnVhLnRuDetuhgflVJ1T5Pn7eCBRq0sj4SsxijOLrMUxM3OLt_zIlTcRGoufowpCCCkHzIwUEDeK86TkN4UjeGFggwbpuP-S8N683oV86iXGtQPgE_I7ycWrGflXOIp-NpzQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1722561441,
          "updated": 1722561441,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tb0f745ebb7bfae58.vault.azure.net/",
    "RandomSeed": "2105835610"
  }
}
