{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/304242985/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/304242985/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://externalkeysdk.vault.azure.net/keys/304242985/42c60690a9da460599943539d3661115",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "MXqD2Fu3pRyfubcXhPr61NPh0pxPpWsUJf7fjMlfuJNoj5010gATYiadBGpEaXIq",
          "y": "VXbkmC-iYFLjNEEhStLcuXT1yOtcPn2L76YyuehMTV9D5CaN95LvHZqFyk_eMWmo"
        },
        "attributes": {
          "enabled": true,
          "created": 1780403998,
          "updated": 1780403998,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/304242985/?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://externalkeysdk.vault.azure.net/keys/304242985/42c60690a9da460599943539d3661115",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "MXqD2Fu3pRyfubcXhPr61NPh0pxPpWsUJf7fjMlfuJNoj5010gATYiadBGpEaXIq",
          "y": "VXbkmC-iYFLjNEEhStLcuXT1yOtcPn2L76YyuehMTV9D5CaN95LvHZqFyk_eMWmo"
        },
        "attributes": {
          "enabled": true,
          "created": 1780403998,
          "updated": 1780403998,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://externalkeysdk.vault.azure.net/",
    "RandomSeed": "346012941"
  }
}
