{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/76045373/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/76045373/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekvv76.vault.azure.net/keys/76045373/4c8fae575c124130a234675f82511816",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rA0iP1e_bTl08k2w7VWDtFrOHIPZwHXSNOXsniNu1pnaHgDZEYQYwbGtIeehFgS5JwfYhiyPyBkP9-qNzcLiZHq6C3nIvRGBd26p9D-halhHywI8ZTVVC2gWN1rfkX2_RmvnVcZ4uC2p4FpldMDmfvmX8g9lGjB7clKhafIWQszOkgVF4Img-icpQ1HvvV81XtWy5RD8TjHpYsipiZ9c5io-XOwBqJeTfcSSLYntLtKOxKHvsjOyww-Jzgq06FCnPSpwZs5KOa3xcgaer_F09Q91xQmg35YV2k0AgIepAUYIiZFD_Py7JYto8qWPYvsclaZ9qsSfpw54wQvMZFqusw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1750761728,
          "updated": 1750761728,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/76045373/?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekvv76.vault.azure.net/keys/76045373/4c8fae575c124130a234675f82511816",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rA0iP1e_bTl08k2w7VWDtFrOHIPZwHXSNOXsniNu1pnaHgDZEYQYwbGtIeehFgS5JwfYhiyPyBkP9-qNzcLiZHq6C3nIvRGBd26p9D-halhHywI8ZTVVC2gWN1rfkX2_RmvnVcZ4uC2p4FpldMDmfvmX8g9lGjB7clKhafIWQszOkgVF4Img-icpQ1HvvV81XtWy5RD8TjHpYsipiZ9c5io-XOwBqJeTfcSSLYntLtKOxKHvsjOyww-Jzgq06FCnPSpwZs5KOa3xcgaer_F09Q91xQmg35YV2k0AgIepAUYIiZFD_Py7JYto8qWPYvsclaZ9qsSfpw54wQvMZFqusw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1750761728,
          "updated": 1750761728,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekvv76.vault.azure.net/",
    "RandomSeed": "264604690"
  }
}
