{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/1560783402/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/1560783402/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t282557e4338dc910.vault.azure.net/keys/1560783402/6046aa9523014b2a8f7362d722a35890",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "5jQdXZjCpII_Vwed3jxOFNfXV7LTGEFZCdfidsPD_w8",
          "y": "PPlleuciEqlaLKiRAjZm-sxA1EjckomIlpsukcZ34QE"
        },
        "attributes": {
          "enabled": true,
          "created": 1759313484,
          "updated": 1759313484,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/1560783402/?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t282557e4338dc910.vault.azure.net/keys/1560783402/6046aa9523014b2a8f7362d722a35890",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "5jQdXZjCpII_Vwed3jxOFNfXV7LTGEFZCdfidsPD_w8",
          "y": "PPlleuciEqlaLKiRAjZm-sxA1EjckomIlpsukcZ34QE"
        },
        "attributes": {
          "enabled": true,
          "created": 1759313484,
          "updated": 1759313484,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://t282557e4338dc910.vault.azure.net/",
    "RandomSeed": "1179551389"
  }
}
