{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/753773667/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/753773667/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://joncarde-kv.vault.azure.net/keys/753773667/2fb4fd458a194e74ac5d7c9eb9a6d6c7",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "utN7axBmtfbW4obftcoQRqG5Rk2gpMB-vu0c05CN1pOSgpYhvPI-AWKBc9kzsPgOtmtCMo0TxnM9Kks7YMtkkEjwsY42R-QtFtYdGvBLHGf_afoQ9O9rhewaHtJ2o9obOzhGparFtEx6T5ozjjncuYgZO8KATsYv-ouM4MzNCih09NKS15NRuym4d40z_kPUwtmkjU7KY95kGjSsNzrWT3vWSJMHNWzq_aOA-JS7owpRn7iqIofVniLtT_JpHTnoN-nmCh0kERD2Giy3aIWi0UH_Qpwmz-6mbzU56-AaV58UMhoIckuzp3GAdkpTlkzJ9gNbIJRkAwynitsogb-JOQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1781239507,
          "updated": 1781239507,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/753773667/?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "ki[...]
