{
  "Entries": [
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1125305210/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1125305210/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1125305210/f5bce56473a04e84a22dde6e0c284de2",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "7m1kEBlyPH4gOGVvfErkJODFqABtfSw32Q05Sw0-bmi_EZ5Ev3GJrs4N9GYPTIwVtkw6UCwgM-fH0Iav897fzXEOlYV1EXdDAr3DX6spOzFUb39yJ6b6udmiLXLkqW-8sR0dfVo8egL0AhonI8E6IpC2DCKZY3CCyLdeTZzFhvrdisF4QVj_Y0CY6qPaiU3sG9uv91jucOsSojuA8oJGBFL2Y9E1r5ccNn_1w_HH-zCM-Nk_EfmfmALrJ4HhjtBeRrwq9Z01ocvWZzUVfgI9hvWHyZhe757O9zbqDAAdEzWeAFie3IBTbXMt9ZY0qF5piNIaxIJocG39KZ4Q9jNDcQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1722561438,
          "updated": 1722561438,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1125305210/?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1125305210/f5bce56473a04e84a22dde6e0c284de2",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "7m1kEBlyPH4gOGVvfErkJODFqABtfSw32Q05Sw0-bmi_EZ5Ev3GJrs4N9GYPTIwVtkw6UCwgM-fH0Iav897fzXEOlYV1EXdDAr3DX6spOzFUb39yJ6b6udmiLXLkqW-8sR0dfVo8egL0AhonI8E6IpC2DCKZY3CCyLdeTZzFhvrdisF4QVj_Y0CY6qPaiU3sG9uv91jucOsSojuA8oJGBFL2Y9E1r5ccNn_1w_HH-zCM-Nk_EfmfmALrJ4HhjtBeRrwq9Z01ocvWZzUVfgI9hvWHyZhe757O9zbqDAAdEzWeAFie3IBTbXMt9ZY0qF5piNIaxIJocG39KZ4Q9jNDcQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1722561438,
          "updated": 1722561438,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tb0f745ebb7bfae58.vault.azure.net/",
    "RandomSeed": "1000189010"
  }
}
