{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1711832448/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1711832448/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1711832448/9095d80ca3cb4be581a6ae1aa6ae2cae",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0_bw7pCZk7r1uwQrkQWoz77YHpoQIwEd4831tWuk8SEV9Nl4buFekWiRqjoY1Aq7XleXre8EQb3_OeLG7gVkUZvWUzOVa8GPLuWuHEyw9x7Y_TxEsnfAViI-PoPMfZjhvarzjR84UJKKKgUvnQ-ALCqHzsibGQHvEeFhPozbkV_kbszpFL1GBNsjmE9_g4zew9_3wnYKjHTXUvosM5mOHdte1uw6NvEXyiXq6h0oPRluYwHzCXZ4GvtG3DMuTHM0qWML2zctgA7bFMZ5aDCAt7U9JpwtvMzlkQkyHTGYZjxo8t9OOdNGx9ibrYMk4n5h9-L0JN_LhTR4ThByRVi3sQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1692998253,
          "updated": 1692998253,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "1"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1711832448/?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1711832448/9095d80ca3cb4be581a6ae1aa6ae2cae",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0_bw7pCZk7r1uwQrkQWoz77YHpoQIwEd4831tWuk8SEV9Nl4buFekWiRqjoY1Aq7XleXre8EQb3_OeLG7gVkUZvWUzOVa8GPLuWuHEyw9x7Y_TxEsnfAViI-PoPMfZjhvarzjR84UJKKKgUvnQ-ALCqHzsibGQHvEeFhPozbkV_kbszpFL1GBNsjmE9_g4zew9_3wnYKjHTXUvosM5mOHdte1uw6NvEXyiXq6h0oPRluYwHzCXZ4GvtG3DMuTHM0qWML2zctgA7bFMZ5aDCAt7U9JpwtvMzlkQkyHTGYZjxo8t9OOdNGx9ibrYMk4n5h9-L0JN_LhTR4ThByRVi3sQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1692998253,
          "updated": 1692998253,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "1"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "412542406"
  }
}
