{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1338014550/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1338014550/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1338014550/d0516546621e42bb8b6cc7cbda7bf8e6",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "AfmXhLU3ryMK478DMe-s5ApdguyGdpvTpCXlyNiBrVcJDLC_pu81DEHOYjoAYVGh5R0Qf0kT5qI7hlPLQvlnfTV_",
          "y": "ABkkOSmUpT4G5RlwVMkfkWtDM17fxHSxDpTse3t2vecj79medzZjtkhEK2yDFa86utOHffxRAsNdwxmCBJi6hZGM"
        },
        "attributes": {
          "enabled": true,
          "created": 1707530115,
          "updated": 1707530115,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1338014550/?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1338014550/d0516546621e42bb8b6cc7cbda7bf8e6",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "AfmXhLU3ryMK478DMe-s5ApdguyGdpvTpCXlyNiBrVcJDLC_pu81DEHOYjoAYVGh5R0Qf0kT5qI7hlPLQvlnfTV_",
          "y": "ABkkOSmUpT4G5RlwVMkfkWtDM17fxHSxDpTse3t2vecj79medzZjtkhEK2yDFa86utOHffxRAsNdwxmCBJi6hZGM"
        },
        "attributes": {
          "enabled": true,
          "created": 1707530115,
          "updated": 1707530115,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "1964007038"
  }
}
