{
  "Entries": [
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/833377773/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/833377773/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/833377773/6a242db60a5c4cb5b000b0727a1264eb",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "AQH_wI1lSBTPcJAmqydaE-H_2RAK-e2yMX3mwhBgNbO03DWjlAYP-HBK36binbPOklRcFOzvNLLhPQRkkgOkl17n",
          "y": "AITQORmmoi84K2WZk1Pd9uf_ebj5J1GEfxlR69Jes1fJkq3hGf57XlByC-FuxrbK41wFXohCKDWm0GFSHmvPcp7L"
        },
        "attributes": {
          "enabled": true,
          "created": 1724202282,
          "updated": 1724202282,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/833377773/?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/833377773/6a242db60a5c4cb5b000b0727a1264eb",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "AQH_wI1lSBTPcJAmqydaE-H_2RAK-e2yMX3mwhBgNbO03DWjlAYP-HBK36binbPOklRcFOzvNLLhPQRkkgOkl17n",
          "y": "AITQORmmoi84K2WZk1Pd9uf_ebj5J1GEfxlR69Jes1fJkq3hGf57XlByC-FuxrbK41wFXohCKDWm0GFSHmvPcp7L"
        },
        "attributes": {
          "enabled": true,
          "created": 1724202282,
          "updated": 1724202282,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tb0f745ebb7bfae58.vault.azure.net/",
    "RandomSeed": "704077991"
  }
}
