{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1766807823/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1766807823/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekvv76.vault.azure.net/keys/1766807823/20443eafddeb4d108a6d4443f1a927a4",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "ZyEPoCWG1P18kampRPlzTPVht5fTAvHr61JX5RSpIGE",
          "y": "oxRaaLF3p0BgxmofzqKBxpAGnyS2JWRLefzlcn6UiMA"
        },
        "attributes": {
          "enabled": true,
          "created": 1750761133,
          "updated": 1750761133,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1766807823/?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekvv76.vault.azure.net/keys/1766807823/20443eafddeb4d108a6d4443f1a927a4",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "ZyEPoCWG1P18kampRPlzTPVht5fTAvHr61JX5RSpIGE",
          "y": "oxRaaLF3p0BgxmofzqKBxpAGnyS2JWRLefzlcn6UiMA"
        },
        "attributes": {
          "enabled": true,
          "created": 1750761133,
          "updated": 1750761133,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekvv76.vault.azure.net/",
    "RandomSeed": "505982302"
  }
}
