{
  "Entries": [
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/790797304/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/790797304/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/790797304/e18292274f17413d88991bee2e3a930d",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "zGzx3M0Ab7uCDOCum_JakSUTWvupBw1hfaH27YJshRkDqmRedkiOAGd4anR6tUmX5ZDRGTM5eF4jSyqIMvHIbneEfs2ZJwmkIkE5MSPWMdlub1kzYFYet-Fqn6OtsFF_blIUgwQpK3sI6z3jOityckjAg9YK6Sa7TFWNyO3wiF5Toj2Hh_K-fXGAqoOQTPOroc6YG0luZ03QT_D1JVMik8_T29Kn6DmzSbdJOQaI8TGhvVf-qgIa7lSqu5h2L2dDC4_HCWtXhZ3qCZ13__d1R9jm9CYu0vsVOkQaOh4ZW42RGXGI3PJDxp9-ktwzlhJKpjWb7bFU3yKmiconcvKluQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1758945977,
          "updated": 1758945977,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/790797304/?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/790797304/e18292274f17413d88991bee2e3a930d",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "zGzx3M0Ab7uCDOCum_JakSUTWvupBw1hfaH27YJshRkDqmRedkiOAGd4anR6tUmX5ZDRGTM5eF4jSyqIMvHIbneEfs2ZJwmkIkE5MSPWMdlub1kzYFYet-Fqn6OtsFF_blIUgwQpK3sI6z3jOityckjAg9YK6Sa7TFWNyO3wiF5Toj2Hh_K-fXGAqoOQTPOroc6YG0luZ03QT_D1JVMik8_T29Kn6DmzSbdJOQaI8TGhvVf-qgIa7lSqu5h2L2dDC4_HCWtXhZ3qCZ13__d1R9jm9CYu0vsVOkQaOh4ZW42RGXGI3PJDxp9-ktwzlhJKpjWb7bFU3yKmiconcvKluQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1758945977,
          "updated": 1758945977,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://t8c2fe6801937008f.vault.azure.net/",
    "RandomSeed": "970840072"
  }
}
