{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/805148826/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/805148826/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/805148826/2755a09e97174506bf7fd98952801650",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "27C937A5Zm0bUT93S0VJ8zTc23Rael2rL3hlBPEZ_KVohXHk_V4AYS2E5tg-DQSyro_NE72qQkt_NKRZHOAmaooCkaFPzhQ9Z45Uh_ZtfhgHf4P3H0ShstvIY6mlHvSTRBahTL-gIXCTRKyDWYGTQS3YGDJKzqu-z7Uz4fwmSvuCoIhcJP586qpylrM_meMzeL7XwxTMNp93jn_XfSieLkN1VWA1eg1SogyzlpcZz9RP7WCC29pUUsqDLenPv011WbKbKk_60CAxwwZVfyLkithbxdcqBA18bSyHnY3vkFTx8PZYZGz5xTStT15HcsldSGDnUhQLRoaja5tOTGLMnQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1742930256,
          "updated": 1742930256,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "1"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/805148826/?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/805148826/2755a09e97174506bf7fd98952801650",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "27C937A5Zm0bUT93S0VJ8zTc23Rael2rL3hlBPEZ_KVohXHk_V4AYS2E5tg-DQSyro_NE72qQkt_NKRZHOAmaooCkaFPzhQ9Z45Uh_ZtfhgHf4P3H0ShstvIY6mlHvSTRBahTL-gIXCTRKyDWYGTQS3YGDJKzqu-z7Uz4fwmSvuCoIhcJP586qpylrM_meMzeL7XwxTMNp93jn_XfSieLkN1VWA1eg1SogyzlpcZz9RP7WCC29pUUsqDLenPv011WbKbKk_60CAxwwZVfyLkithbxdcqBA18bSyHnY3vkFTx8PZYZGz5xTStT15HcsldSGDnUhQLRoaja5tOTGLMnQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1742930256,
          "updated": 1742930256,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "1"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekv318.vault.azure.net/",
    "RandomSeed": "870602703"
  }
}
