{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1126406161/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1126406161/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1126406161/faed8bd044b8488fabca608b4c44d0d0",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "jPXBBgOZvceHhZWx_b26kXa3k51nHSUkFMeSaDvTVrponE4ewqWFWGTIvtQmGkVdAq1fxVXj65-3RUa64EWreUA8B2x4K32hMrC3HkkwOIjV2SaYIHlYyt0-3U0a4MpbN9bbftX-XaKrO9Tu3GxFmx_5SYyiAGbkqm97k-nF5WqRAJB7BzRrumwSH6EwNXh-VYIUosD0mwCxaZ7WxDvEeRaf8I1t-Sudu_FeUhGB5LB_77XSZ7iSbGno_-LhtLALOQEjbq9O3izrvBJjH7g3CdLVlWmXu-j5B_tQjwxj2Rews--BFAQdYp81WoqSOcCaYQgEOrLLJlrNaThMAqOxZQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1707530125,
          "updated": 1707530125,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1126406161/?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1126406161/faed8bd044b8488fabca608b4c44d0d0",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "jPXBBgOZvceHhZWx_b26kXa3k51nHSUkFMeSaDvTVrponE4ewqWFWGTIvtQmGkVdAq1fxVXj65-3RUa64EWreUA8B2x4K32hMrC3HkkwOIjV2SaYIHlYyt0-3U0a4MpbN9bbftX-XaKrO9Tu3GxFmx_5SYyiAGbkqm97k-nF5WqRAJB7BzRrumwSH6EwNXh-VYIUosD0mwCxaZ7WxDvEeRaf8I1t-Sudu_FeUhGB5LB_77XSZ7iSbGno_-LhtLALOQEjbq9O3izrvBJjH7g3CdLVlWmXu-j5B_tQjwxj2Rews--BFAQdYp81WoqSOcCaYQgEOrLLJlrNaThMAqOxZQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1707530125,
          "updated": 1707530125,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "1746150242"
  }
}
