{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/889006761/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/889006761/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t282557e4338dc910.vault.azure.net/keys/889006761/8faf9f598eba40828db52cda45fab9c6",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "qZO0Ef8lnrmyyirmdNGrU5FSsIC2pz22yF7yr5f27glYDnb2NQe_DTRz1LlHBkYRDY2xwPnZ-rUZdF39G-POe53W4HJpntOVKTBQeP51rERcVSBv0ICyyMh22Ee9cCPluOT0pl7KE8lTxng2GKa6J3SkSoY4O4TkZhDiDDAomUp-t5UF8n77VrWPIIQLwSyEud6uDyghcOB13eKgNl48OBcSxJtEJgrQhU4AAait-8VH_iaAtn19b5o_Ua7brFv2Rv5CvoVxhfXUEELVRw8IKoFkQZGA89nluTaoY-D6rmo3YhShNQczAEJg6TZ0ETsbQSKLgwewWeKcqS17egkSRQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1759314296,
          "updated": 1759314296,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/889006761/?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t282557e4338dc910.vault.azure.net/keys/889006761/8faf9f598eba40828db52cda45fab9c6",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "qZO0Ef8lnrmyyirmdNGrU5FSsIC2pz22yF7yr5f27glYDnb2NQe_DTRz1LlHBkYRDY2xwPnZ-rUZdF39G-POe53W4HJpntOVKTBQeP51rERcVSBv0ICyyMh22Ee9cCPluOT0pl7KE8lTxng2GKa6J3SkSoY4O4TkZhDiDDAomUp-t5UF8n77VrWPIIQLwSyEud6uDyghcOB13eKgNl48OBcSxJtEJgrQhU4AAait-8VH_iaAtn19b5o_Ua7brFv2Rv5CvoVxhfXUEELVRw8IKoFkQZGA89nluTaoY-D6rmo3YhShNQczAEJg6TZ0ETsbQSKLgwewWeKcqS17egkSRQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1759314296,
          "updated": 1759314296,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://t282557e4338dc910.vault.azure.net/",
    "RandomSeed": "1488317573"
  }
}
