{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/246103828/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/246103828/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://externalkeysdk.vault.azure.net/keys/246103828/118c85812e1a414e9b8d5ed314c64cbd",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "jkbaUAlrH76_qm4KQltOwMDAxkHgqMGHVY7iuZEztRgz5AG331_UZeE57F6Z6-OuMa-qYg4UvHyavE3hPNilItD6WxZ4zRXN2uvGPZthACEgrkxqcg1-zUngMWGhfNuGKzCMoz8P026Ggaq88RNQGfVV8EV9LbbYBIcWA6P3fyMHqH5IUaYvUnqN3YELtZ6KDXUMw80feHnpmwrK_aP9WXkLL-YJKkEtnacL6qMoKJB0-yKd4NTdp5iZYX93PoJQgEOMSAaSHW2WU0JZcAt8oOHoecbInveoSRHPl7ASH7KV_zE0PQZd5_npG19LljoL1TEa7fqb2leUrmtNDXkXPQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780403656,
          "updated": 1780403656,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/246103828/?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://externalkeysdk.vault.azur[...]
