{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1407170636/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1407170636/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1407170636/b11b246b8a0d4774bec329209ce730be",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yfzCrdgv8iauDMHeFwdDHC9Wy0aXX-uTZNsN2FdBqTAgjTtHacZftGoc7g3HWVDRM6UHPqMK1wPt5VLBug7fHkrezVIO2fdPCMcNzJZyteOnaRo5NRAgZyxmJr7QQbXln0yBl8B_kFGWiHdQ0xfzgJ-O8sxnnkyBCjNka9GayCddQcOZS64CE1ZwwpbOr_zDG0Kjeii_WFpsPKoUw0brt1Ncf-42AZN_gtn0uAH8qZeHs5cp6a6exiuvUcr1REsZJc_JmJIs9llH494CrU-PyIGJasddw2LOy1qad9xUoEnnXH9APfAFnjFyJN0HDR1a1cOE8pmmNtb9SMhrjgMABQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1692998391,
          "updated": 1692998391,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1407170636/?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1407170636/b11b246b8a0d4774bec329209ce730be",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yfzCrdgv8iauDMHeFwdDHC9Wy0aXX-uTZNsN2FdBqTAgjTtHacZftGoc7g3HWVDRM6UHPqMK1wPt5VLBug7fHkrezVIO2fdPCMcNzJZyteOnaRo5NRAgZyxmJr7QQbXln0yBl8B_kFGWiHdQ0xfzgJ-O8sxnnkyBCjNka9GayCddQcOZS64CE1ZwwpbOr_zDG0Kjeii_WFpsPKoUw0brt1Ncf-42AZN_gtn0uAH8qZeHs5cp6a6exiuvUcr1REsZJc_JmJIs9llH494CrU-PyIGJasddw2LOy1qad9xUoEnnXH9APfAFnjFyJN0HDR1a1cOE8pmmNtb9SMhrjgMABQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1692998391,
          "updated": 1692998391,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "1343351432"
  }
}
