{
  "Entries": [
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/922491498/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/922491498/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/922491498/4a656ec90a094053a85d80c225d41501",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "nuPJ1quU1uAdon1YcjXv_ROaRoWXypTHGse5OzjohqR_uafkBV8SAC75TjX8fff3xviDfvnkG2gOPx76rwLaR_IvsSYedHh1b5TUTf_TilpdsmtHwwOAdoanoXQQ_hT8YqlkEc3fZC9HTuxfaFS6XfugFram5b7QVzBie3F6STxLxCLDScxBvFqhV67IjxhO5yeWuqUkdBE0B4HHV1GBbbeWzTVwyZsG65k9A8QGNfng0MDMo8-vbnp_HwGV5B67xLexlpUGJLt2Csa1k11A2zg3CJN-yIwPvQwg5BLwrxxZRe-xFWIh2YveJV_vOpDhypO3ZsVx4ph8MqbAi72VLQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1724202350,
          "updated": 1724202350,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/922491498/?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/922491498/4a656ec90a094053a85d80c225d41501",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "nuPJ1quU1uAdon1YcjXv_ROaRoWXypTHGse5OzjohqR_uafkBV8SAC75TjX8fff3xviDfvnkG2gOPx76rwLaR_IvsSYedHh1b5TUTf_TilpdsmtHwwOAdoanoXQQ_hT8YqlkEc3fZC9HTuxfaFS6XfugFram5b7QVzBie3F6STxLxCLDScxBvFqhV67IjxhO5yeWuqUkdBE0B4HHV1GBbbeWzTVwyZsG65k9A8QGNfng0MDMo8-vbnp_HwGV5B67xLexlpUGJLt2Csa1k11A2zg3CJN-yIwPvQwg5BLwrxxZRe-xFWIh2YveJV_vOpDhypO3ZsVx4ph8MqbAi72VLQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1724202350,
          "updated": 1724202350,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tb0f745ebb7bfae58.vault.azure.net/",
    "RandomSeed": "863689246"
  }
}
