{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/363886027/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/363886027/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t282557e4338dc910.vault.azure.net/keys/363886027/081b0cce1e984a79807dafd5932ae1af",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "9AuAfHiLbNYHgdCtL0AjP-iDQYKA5_z1G88enAcB7GKkZ-eSzeH4vNPoUs4tUvJIcUcar2ajAgpP286FWdyZP7moTevN1sRD4gNjul1WQ-kPqg_JloHGX3yfdOEM-fsdKFA0VE2R2plbn36XtHmHJVulsfXiH07R5xxAAwvCLSqh961-ryHEx7CF-6ylKcPLrBDvFM8lO0NIyr8C-lh_jE4PDCWeIlcwk7D66w8E90CWJQ8_f5ALoTJuOLug5zbCtzkCnewuOxBy7eYyv4aARfBFAdrdmF_IkkkbgNygewlhlP0WLHwJr7EvdzbtHOTzYzYJ-M-jV5BVYlq7kCFfdQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1759314307,
          "updated": 1759314307,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/363886027/?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t282557e4338dc910.vault.azure.net/keys/363886027/081b0cce1e984a79807dafd5932ae1af",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "9AuAfHiLbNYHgdCtL0AjP-iDQYKA5_z1G88enAcB7GKkZ-eSzeH4vNPoUs4tUvJIcUcar2ajAgpP286FWdyZP7moTevN1sRD4gNjul1WQ-kPqg_JloHGX3yfdOEM-fsdKFA0VE2R2plbn36XtHmHJVulsfXiH07R5xxAAwvCLSqh961-ryHEx7CF-6ylKcPLrBDvFM8lO0NIyr8C-lh_jE4PDCWeIlcwk7D66w8E90CWJQ8_f5ALoTJuOLug5zbCtzkCnewuOxBy7eYyv4aARfBFAdrdmF_IkkkbgNygewlhlP0WLHwJr7EvdzbtHOTzYzYJ-M-jV5BVYlq7kCFfdQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1759314307,
          "updated": 1759314307,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://t282557e4338dc910.vault.azure.net/",
    "RandomSeed": "2102079799"
  }
}
