{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1713125483/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1713125483/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekvv76.vault.azure.net/keys/1713125483/1f4012e94e5a4ca0b8e6ee29737b8ba3",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rDlw9Yf8quDms4gkUpJpMqq-rEV50b1ge7rrv9Cp5hV1n7ACV2RsmSrpskNEfNbT3Zw_ChedWWTLlTiwuIJp-39lLSZrKF-59u4qhCn1DE5m_F7vANBIixE8mYkDvresq5kZgYVhpiRK73z9B9t5_tAHNp5XXq2iMgKS7gyKc4rvXSu9Vh9RDFNBcVyLsG_9yQmXoZyFruA6tuDOYDaK_RwLib4cRYbwsuzLJVWsH7kk1kYGPNbDMNPm0b_MG8nTPWuXIzbWl9-YJjyQsHfdEX6IPlsal3wgTUFsSLTl50aImXoM7GdbHg6NewBFpsFi2XNsTk4FjYsp7niyl4P4jQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1750761170,
          "updated": 1750761170,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1713125483/?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekvv76.vault.azure.net/keys/1713125483/1f4012e94e5a4ca0b8e6ee29737b8ba3",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rDlw9Yf8quDms4gkUpJpMqq-rEV50b1ge7rrv9Cp5hV1n7ACV2RsmSrpskNEfNbT3Zw_ChedWWTLlTiwuIJp-39lLSZrKF-59u4qhCn1DE5m_F7vANBIixE8mYkDvresq5kZgYVhpiRK73z9B9t5_tAHNp5XXq2iMgKS7gyKc4rvXSu9Vh9RDFNBcVyLsG_9yQmXoZyFruA6tuDOYDaK_RwLib4cRYbwsuzLJVWsH7kk1kYGPNbDMNPm0b_MG8nTPWuXIzbWl9-YJjyQsHfdEX6IPlsal3wgTUFsSLTl50aImXoM7GdbHg6NewBFpsFi2XNsTk4FjYsp7niyl4P4jQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1750761170,
          "updated": 1750761170,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekvv76.vault.azure.net/",
    "RandomSeed": "1961698873"
  }
}
