{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1175630348/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1175630348/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1175630348/1552e77b46bb46e1989304ea793f9ea1",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "2zgItq79dQgsFt556V_QxLLfwnb6XGm2CEznTFJH6x22fgZdJzGIUB9uC96AL8ruer9kI9KxV4Iu-wZsCBL7G_9Gvyun908iL3mReXH6E6YQYRH8tHT85O1aDkS1Ri4aCNgG-RICSv1X7s2IbzHyn5YeelBsHptjFdlaDANXfHi1TdsKCnPQ3mgh_1Lt-0bCf_0zAM9Oob3sSu3H-kH_UA1nkRUUJs6E3oiLQTW0y5BKvNEpMjrMI5-8bQCRNwYnpDObym2q5QDdGlQuFpFDp_wlbCQ6iwrD_c_rZi3wgXHjsx5sM4_G2dDMG7Ne9uFE6pw-NfG1Lv1W41TtVprbBQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1707530126,
          "updated": 1707530126,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1175630348/?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1175630348/1552e77b46bb46e1989304ea793f9ea1",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "2zgItq79dQgsFt556V_QxLLfwnb6XGm2CEznTFJH6x22fgZdJzGIUB9uC96AL8ruer9kI9KxV4Iu-wZsCBL7G_9Gvyun908iL3mReXH6E6YQYRH8tHT85O1aDkS1Ri4aCNgG-RICSv1X7s2IbzHyn5YeelBsHptjFdlaDANXfHi1TdsKCnPQ3mgh_1Lt-0bCf_0zAM9Oob3sSu3H-kH_UA1nkRUUJs6E3oiLQTW0y5BKvNEpMjrMI5-8bQCRNwYnpDObym2q5QDdGlQuFpFDp_wlbCQ6iwrD_c_rZi3wgXHjsx5sM4_G2dDMG7Ne9uFE6pw-NfG1Lv1W41TtVprbBQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1707530126,
          "updated": 1707530126,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "1226956670"
  }
}
