{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/64356947/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/64356947/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekvv76.vault.azure.net/keys/64356947/85be53b4e37d4279a755863da0367264",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "AeCJ9S64ja917SHLCVptLMOuXBb-K2WWb8NzL4wZMquIxP4q4nsaPSRf-VqfNGH-5MGo4XIH3c-2MBL_I3QcOhIA",
          "y": "ARAlDVd177hZjGFXG5xrFlMpPR70F_YDS74rQHFSCS2R1ANiF1EdYQUQaPWe-cen5H_gigeqTqjQU78tupmQ0M7E"
        },
        "attributes": {
          "enabled": true,
          "created": 1750761088,
          "updated": 1750761088,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/64356947/?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekvv76.vault.azure.net/keys/64356947/85be53b4e37d4279a755863da0367264",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "AeCJ9S64ja917SHLCVptLMOuXBb-K2WWb8NzL4wZMquIxP4q4nsaPSRf-VqfNGH-5MGo4XIH3c-2MBL_I3QcOhIA",
          "y": "ARAlDVd177hZjGFXG5xrFlMpPR70F_YDS74rQHFSCS2R1ANiF1EdYQUQaPWe-cen5H_gigeqTqjQU78tupmQ0M7E"
        },
        "attributes": {
          "enabled": true,
          "created": 1750761088,
          "updated": 1750761088,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekvv76.vault.azure.net/",
    "RandomSeed": "1146798974"
  }
}
