{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/762279626/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/762279626/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/762279626/72b0c9bbe5f54ebcb43557b00b1c9de2",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "T7N9AFER8ygQ8DILYo9PlDDxGnawD1xzS1faL0ggdEGJOrwmsNqHCWqVJt3BqEz4",
          "y": "qlnK8oC7yuCbdFdWFrPhEsT4CvFAgtrg10UoQ64P-b0HYmpzYXye_1NS2BqBfZnX"
        },
        "attributes": {
          "enabled": true,
          "created": 1707530114,
          "updated": 1707530114,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/762279626/?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/762279626/72b0c9bbe5f54ebcb43557b00b1c9de2",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "T7N9AFER8ygQ8DILYo9PlDDxGnawD1xzS1faL0ggdEGJOrwmsNqHCWqVJt3BqEz4",
          "y": "qlnK8oC7yuCbdFdWFrPhEsT4CvFAgtrg10UoQ64P-b0HYmpzYXye_1NS2BqBfZnX"
        },
        "attributes": {
          "enabled": true,
          "created": 1707530114,
          "updated": 1707530114,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "632264057"
  }
}
