{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1049567372/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1049567372/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1049567372/cb1c07f1851f4c728550ba451a8cce40",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "ylKs6kipairBiP-MufJ1OarEs5ZrHAsAJ6XkOm9vUDG3pnvn7IyLAr0q-7lvyLs_rPjwwlB1pCI1JreVgtlGpkuePrKZDtJmWkIrCylqxC4jndKRGkLa_J57lPeSayoXU9aNK0dZK7wFKdLSy4V6bK4zzIrCKLeQE4_R4V6s---HaJhMGYzllx7HjI4w9eDVA5deVlTJlee8WxICk3nxjSzcsNC_t2zCghoEneID3F4Zj_gqavKMqBuBPwqWd4Rora19f_R4JHzAB5dmkwH6wbyxYErjWc3q19rAPNTtp31CIlffTsd5O1Phf7IBoUGMDE3W2lSv66koDx49qAo0QQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1692998257,
          "updated": 1692998257,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1049567372/?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1049567372/cb1c07f1851f4c728550ba451a8cce40",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "ylKs6kipairBiP-MufJ1OarEs5ZrHAsAJ6XkOm9vUDG3pnvn7IyLAr0q-7lvyLs_rPjwwlB1pCI1JreVgtlGpkuePrKZDtJmWkIrCylqxC4jndKRGkLa_J57lPeSayoXU9aNK0dZK7wFKdLSy4V6bK4zzIrCKLeQE4_R4V6s---HaJhMGYzllx7HjI4w9eDVA5deVlTJlee8WxICk3nxjSzcsNC_t2zCghoEneID3F4Zj_gqavKMqBuBPwqWd4Rora19f_R4JHzAB5dmkwH6wbyxYErjWc3q19rAPNTtp31CIlffTsd5O1Phf7IBoUGMDE3W2lSv66koDx49qAo0QQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1692998257,
          "updated": 1692998257,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "1764186175"
  }
}
