{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/579876024/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/579876024/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekvv76.vault.azure.net/keys/579876024/0a831a0a27474f3e8ab40119c855af6a",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "ACDHolpLvZnMtTK7-voZ263R8zNACzL3KIGP8Yd42FGNYK-lvbSw72ZhfL8_CjMMvGmBuaXz3t6fCSZs0nNdwhmf",
          "y": "AdAhXlTZqhVXWbo7qHV1DyQrPv7WYEmln9nUuhrxLwlJFPhI64x4qAvetPR7aqHaMrveZyL1rVuRALn5KzfTOqAR"
        },
        "attributes": {
          "enabled": true,
          "created": 1750761647,
          "updated": 1750761647,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/579876024/?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekvv76.vault.azure.net/keys/579876024/0a831a0a27474f3e8ab40119c855af6a",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "ACDHolpLvZnMtTK7-voZ263R8zNACzL3KIGP8Yd42FGNYK-lvbSw72ZhfL8_CjMMvGmBuaXz3t6fCSZs0nNdwhmf",
          "y": "AdAhXlTZqhVXWbo7qHV1DyQrPv7WYEmln9nUuhrxLwlJFPhI64x4qAvetPR7aqHaMrveZyL1rVuRALn5KzfTOqAR"
        },
        "attributes": {
          "enabled": true,
          "created": 1750761647,
          "updated": 1750761647,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekvv76.vault.azure.net/",
    "RandomSeed": "326909803"
  }
}
