{
  "Entries": [
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/1430979542/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/1430979542/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/1430979542/44f2c37a649c406fbc840a302c10c00f",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "jt4OkQFMM3inQY_P1wBE-hj_zACwMTBOQO2GCeBP0f57pRkt1W6J_MndNGerp5XinDRuIEN8GZkFDbhDofPwOQVjvxQ83G7RmyHX1HPQCK7p5jlFA3QCs7DmyP56IwB9ak5_-Q3PpdKPsFi3l4xgndp51U_GGnwX_67OlnBV40MHrYz8GR0RdhkytmBRpxfB33epJbi0uReb6lDmi8XwzdBYZyJLbtzST9Pc303dGipv23mXhHeoCvtxkRNmjXhrpgBDu6Jd5-MNDm46PnsbSYDf7WIz58_ZkVKX6b6AvQTYTgreow4CzikOZ8aOJmYuLV9UdQ8A5Vl3D6fzEulzQQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1758945958,
          "updated": 1758945958,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/1430979542/?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/1430979542/44f2c37a649c406fbc840a302c10c00f",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "jt4OkQFMM3inQY_P1wBE-hj_zACwMTBOQO2GCeBP0f57pRkt1W6J_MndNGerp5XinDRuIEN8GZkFDbhDofPwOQVjvxQ83G7RmyHX1HPQCK7p5jlFA3QCs7DmyP56IwB9ak5_-Q3PpdKPsFi3l4xgndp51U_GGnwX_67OlnBV40MHrYz8GR0RdhkytmBRpxfB33epJbi0uReb6lDmi8XwzdBYZyJLbtzST9Pc303dGipv23mXhHeoCvtxkRNmjXhrpgBDu6Jd5-MNDm46PnsbSYDf7WIz58_ZkVKX6b6AvQTYTgreow4CzikOZ8aOJmYuLV9UdQ8A5Vl3D6fzEulzQQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1758945958,
          "updated": 1758945958,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://t8c2fe6801937008f.vault.azure.net/",
    "RandomSeed": "961041382"
  }
}
