{
  "Entries": [
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/50344861/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/50344861/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/50344861/131db362164347d7b72ca812222935b1",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "fK1D6zAdyQJfvx_i6mUG8nzMAZVQOB7zqjdBIFoMOKE",
          "y": "bKAWBEtEnDMU_bgqK4rkzJw1pp-xpyhz-hKgVUpCCQY"
        },
        "attributes": {
          "enabled": true,
          "created": 1758945921,
          "updated": 1758945921,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/50344861/?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/50344861/131db362164347d7b72ca812222935b1",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "fK1D6zAdyQJfvx_i6mUG8nzMAZVQOB7zqjdBIFoMOKE",
          "y": "bKAWBEtEnDMU_bgqK4rkzJw1pp-xpyhz-hKgVUpCCQY"
        },
        "attributes": {
          "enabled": true,
          "created": 1758945921,
          "updated": 1758945921,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://t8c2fe6801937008f.vault.azure.net/",
    "RandomSeed": "498505069"
  }
}
