{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/1072460332/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/1072460332/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://externalkeysdk.vault.azure.net/keys/1072460332/4764f14b67eb472ea3b1a682f1c44c62",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "h11mMGbHNLlZegAkKDoxGmCf5h61H6mb_huaA71k032BIG7o30beEs0AaY6qrzpSeiZZqbgxJCxk1bIP7sW916nFm10p1cfvvh4hkaLNkomsRp_2KwB2EztxgmYtqEi3bYHQNrfvyG7HeE_C9jbdMUWkIg4mfk_bBlCKfyX7k1yGnCqbikwlPM177csM_zYDDHmszS3YHjZIbKk2A7JeFRMnU6wmegNGszjaGheHOW9vvaOJ1y8HK049FuAWoFr9_fIegS6Q1GyranRzolVWzwOiMzS4YctFVaKIYNwAC6ecoOMjKwT_jUsZj95l0yyBS9_AGryV4_6t9abStZYzKQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780403680,
          "updated": 1780403680,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/1072460332?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://externalkeysdk.vault.azure.net/deletedkeys/1072460332",
        "deletedDate": 1780403681,
        "scheduledPurgeDate": 1781008481,
        "key": {
          "kid": "https://externalkeysdk.vault.azure.net/keys/1072460332/4764f14b67eb472ea3b1a682f1c44c62",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "h11mMGbHNLlZegAkKDoxGmCf5h61H6mb_huaA71k032BIG7o30beEs0AaY6qrzpSeiZZqbgxJCxk1bIP7sW916nFm10p1cfvvh4hkaLNkomsRp_2KwB2EztxgmYtqEi3bYHQNrf[...]
