{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/567157257/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/567157257/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t282557e4338dc910.vault.azure.net/keys/567157257/04b88f3e541342dfaaec1b0602518464",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "jpn-Ocx10bf9Eq73850MjwiitA87xGudrP81eGnjZe35S5Svhp3Ht8bComxNqAw5-7BpBrEZ35F-nS9PL0_gOj9aH2LElbqIE9o6q8w8_qZN133fjtosLmf_LDlaIF7Kz1JF8s70DxsBGIuGhR4YRTvLb_gvJBP7ymde7nVPkV3V4mRY3yF3gk39J234IKhUGfLdEF6QYdUl7W-5nYs-NK6Zbp0Czkyzrh2LFfIeKrkKMsA9dB_Z992U3Bpzm9kDVGF1UzGz0EASrdsIMmr8isQozNkCs-YZtvaXpXXEBkiBnZIjbX1QvxBQatvNQUUAGf8540d_04_K6P1ggJZwrw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1759314355,
          "updated": 1759314355,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/567157257?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://t282557e4338dc910.vault.azure.net/deletedkeys/567157257",
        "deletedDate": 1759314355,
        "scheduledPurgeDate": 1759919155,
        "key": {
          "kid": "https://t282557e4338dc910.vault.azure.net/keys/567157257/04b88f3e541342dfaaec1b0602518464",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "jpn-Ocx10bf9Eq73850MjwiitA87xGudrP81eGnjZe35S5Svhp3Ht8bComxNqAw5-7BpBrEZ35F-nS9PL0_gOj9aH2LElbqIE9o6q8w8_qZN133fjtosLmf_LDlaIF7Kz1JF8[...]
