{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1997751675/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1997751675/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/1997751675/70cad0992dcf494da4e95bb631ee07a8",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "JyL8OVihleY0rFID4zMy5usR0i_uh-swSeCpV742dQQ",
          "y": "9iQ6TrToKCFni0wgRy1FjY9LIMxQ4WMC1DkNmFH9whw"
        },
        "attributes": {
          "enabled": true,
          "created": 1756401266,
          "updated": 1756401266,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1997751675?api-version=2025-06-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://tc01f7546f76b53e9.vault.azure.net/deletedkeys/1997751675",
        "deletedDate": 1756401267,
        "scheduledPurgeDate": 1757006067,
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/1997751675/70cad0992dcf494da4e95bb631ee07a8",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "JyL8OVihleY0rFID4zMy5usR0i_uh-swSeCpV742dQQ",
          "y": "9iQ6TrToKCFni0wgRy1FjY9LIMxQ4WMC1DkNmFH9whw"
        },
        "attributes": {
          "enabled": true,
          "created": 175640126[...]
