{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/588153772/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/588153772/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekvv76.vault.azure.net/keys/588153772/b4aa301721c34431a1939c6dd6ac52e2",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "isABAcW-jKnIE19kQLReAUVsf8kRc0NsllCDTGpqrTPUYTcW1ecE0DuLzm17_ks5il_N9oxZn2lOisW7u8bjasgyOFom0jDzywJaMpV5ZuHw7fH3bpA8bZ4mORkFbazaAIYXm63EcrNGUG2UeOqB0lcaQISC177UgYxYYL66oHvbRD_M39jcBsi0Tv2sC_N3Z-YT9KXL3G6UWkn2bzsP2LIAJ9bnkWlV10wBG7L3hsP6xiaV42zT3JKyyBfer1ngxjuiHVadWYvbACMpuWl4DdKCpiQncDedtvpVk7f19XqZoO3VzIVKV_HktwDWLU2-Gh0ww05TlGYXS963uVtBmw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1750761784,
          "updated": 1750761784,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/588153772?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://rgjoncardekvv76.vault.azure.net/deletedkeys/588153772",
        "deletedDate": 1750761785,
        "scheduledPurgeDate": 1751366585,
        "key": {
          "kid": "https://rgjoncardekvv76.vault.azure.net/keys/588153772/b4aa301721c34431a1939c6dd6ac52e2",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "isABAcW-jKnIE19kQLReAUVsf8kRc0NsllCDTGpqrTPUYTcW1ecE0DuLzm17_ks5il_N9oxZn2lOisW7u8bjasgyOFom0jDzywJaMpV5ZuHw7fH3bpA8bZ4mORkFbazaAIYXm63EcrNGUG2UeOqB0lcaQISC177UgYxYYL66oHvbRD_M39jcBsi0Tv2sC_N3Z-YT9KXL3G6UWkn2bzsP2LIAJ9bnkWlV10wBG7L3hsP6xiaV42zT3JKyyBfer1ngxjuiHVadWYvbACMpuWl4DdKCpiQncDedtvpVk7f19XqZoO3VzIVKV_HktwDWLU2-Gh0ww05TlGYXS963uVtBmw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1750761784,
          "updated": 1750761784,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/deletedkeys/588153772?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: 588153772"
        }
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/588153772/?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) 588153772 was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekvv76.vault.azure.net/",
    "RandomSeed": "1604706081"
  }
}
