{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1232726927/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1232726927/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1232726927/5c9f71d3e58846abb35c7247533f2803",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uPSAxLJkG4OZnRl3Ph1NcCIgp3-EXvMz4z1ZXkWcT9cRy0pVfPseoiOQDoS3ASZ1CkC_GlsAu-A1mNRYMwU2O_H2IfWlHdE1P9bcX4kfcYfEX-jtrl6ciWGrlOfUZf4fQwZT2a6So_IajW4WNlOEP8ZNM-cDBp9pFovgjv1nf3SRuBoM0XjkzVzDz-y3nogoXkQ2oKfZPhbCuf1cucMIcEalseFyim0Ypp8gM1ebPT2GtRMHlUlIzsai9mJSLzDmDcIxYjov6QJjm3F9rjkA5Cdn78IUzO690ktIxxqG44b2NwfiGNAgP0Et19Thd40JDNt5_UcZsH-MSWSPMRTvVw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1692998266,
          "updated": 1692998266,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "1"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1232726927?api-version=7.5-preview.1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://tcac7e9c41ef52cec.vault.azure.net/deletedkeys/1232726927",
        "deletedDate": 1692998266,
        "scheduledPurgeDate": 1693603066,
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1232726927/5c9f71d3e58846abb35c7247533f2803",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uPSAxLJkG4OZnRl3Ph1NcCIgp3-EXvMz4z1ZXkWcT9cRy0pVfPseoiOQDoS3ASZ1CkC_GlsAu-A1mNRYMwU2O_H2IfWlHdE1P9bcX4kfcYfEX-jtrl6ciWGrlOfUZf4fQwZT2a6So_IajW4WNlOEP8ZNM-cDBp9pFovgjv1nf3SRuBoM0XjkzVzDz-y3nogoXkQ2oKfZPhbCuf1cucMIcEalseFyim0Ypp8gM1ebPT2GtRMHlUlIzsai9mJSLzDmDcIxYjov6QJjm3F9rjkA5Cdn78IUzO690ktIxxqG44b2NwfiGNAgP0Et19Thd40JDNt5_UcZsH-MSWSPMRTvVw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1692998266,
          "updated": 1692998266,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "1"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/deletedkeys/1232726927?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: 1232726927"
        }
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1232726927/?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) 1232726927 was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "437610027"
  }
}
