{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/426445212/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/426445212/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/426445212/dac9de7758664fd7b2c3f2b6842924e7",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "kwoOziQIwYc3EtzcogLJB43Q7VDnvwSBvl9DaPb81yjlFzKJxEzKC3I9Ps2gkkBGKtY0_r054cjPkPuRERf5mu53IH3qrAkYyFCqu1QPWqYwIbsGBHHbwAZalC8qlqwJFWr58u0iypSRCppScOBuEOZUCoc0OH0fnWn705LJC1iFMhhAvsPN3nm2aVLaiSvgVEs2FSwtA-cXghpfl0m_evLCLIGQPLd-NxneX7jLimcaS7b0sZ9rM0dibsekwyGOYT9KhYKqEw72LMvEaizA1V9xXtYd5kG5cjIwa_hlz8VHjTKwV6u5Y_3DvhHvLmE0M2OrzbqJHkNHosSc1YoXMQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1692998400,
          "updated": 1692998400,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "1"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/426445212?api-version=7.5-preview.1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://tcac7e9c41ef52cec.vault.azure.net/deletedkeys/426445212",
        "deletedDate": 1692998401,
        "scheduledPurgeDate": 1693603201,
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/426445212/dac9de7758664fd7b2c3f2b6842924e7",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "kwoOziQIwYc3EtzcogLJB43Q7VDnvwSBvl9DaPb81yjlFzKJxEzKC3I9Ps2gkkBGKtY0_r054cjPkPuRERf5mu53IH3qrAkYyFCqu1QPWqYwIbsGBHHbwAZalC8qlqwJFWr58u0iypSRCppScOBuEOZUCoc0OH0fnWn705LJC1iFMhhAvsPN3nm2aVLaiSvgVEs2FSwtA-cXghpfl0m_evLCLIGQPLd-NxneX7jLimcaS7b0sZ9rM0dibsekwyGOYT9KhYKqEw72LMvEaizA1V9xXtYd5kG5cjIwa_hlz8VHjTKwV6u5Y_3DvhHvLmE0M2OrzbqJHkNHosSc1YoXMQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1692998400,
          "updated": 1692998400,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "1"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/deletedkeys/426445212?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: 426445212"
        }
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/426445212/?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) 426445212 was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "692438926"
  }
}
