{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/830267991/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/830267991/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://joncarde-kv.vault.azure.net/keys/830267991/8a1761ceb9c44d92a9062be2ff0f5a52",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "5be9K9OEmpkM7Z4ISIs4dd_-YCtowxfGpRkNl6T5nWk",
          "y": "G4aZrg7HWRteXQogEXSmlBvY4lKPIISdhj0CtDvz-NM"
        },
        "attributes": {
          "enabled": true,
          "created": 1781140158,
          "updated": 1781140158,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 10,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/830267991?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://joncarde-kv.vault.azure.net/deletedkeys/830267991",
        "deletedDate": 1781140158,
        "scheduledPurgeDate": 1782004158,
        "key": {
          "kid": "https://joncarde-kv.vault.azure.net/keys/830267991/8a1761ceb9c44d92a9062be2ff0f5a52",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "5be9K9OEmpkM7Z4ISIs4dd_-YCtowxfGpRkNl6T5nWk",
          "y": "G4aZrg7HWRteXQogEXSmlBvY4lKPIISdhj0CtDvz-NM"
        },
        "attributes": {
          "enabled": true,
          "created": 1781140158,
       [...]
