{
  "Entries": [
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/1303703842/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/1303703842/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/1303703842/f31dee256b1447a9a3acb79537a24505",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "En9sMalZ_Yta4psO05FfMOHRMOCI8cXQQS0MW0ZqC5E",
          "y": "bhoaY4oz0Lb4PSbmL9c0NlKYWSMzGOREFpLlnzIDRd0"
        },
        "attributes": {
          "enabled": true,
          "created": 1758946757,
          "updated": 1758946757,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/1303703842?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://t8c2fe6801937008f.vault.azure.net/deletedkeys/1303703842",
        "deletedDate": 1758946757,
        "scheduledPurgeDate": 1759551557,
        "key": {
          "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/1303703842/f31dee256b1447a9a3acb79537a24505",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "En9sMalZ_Yta4psO05FfMOHRMOCI8cXQQS0MW0ZqC5E",
          "y": "bhoaY4oz0Lb4PSbmL9c0NlKYWSMzGOREFpLlnzIDRd0"
        },
        "attributes": {
          "enabled": true,
          "created": 175894675[...]
