{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1154498619/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1154498619/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1154498619/859d5b0bae3c41929400f5dec4137a96",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "oWzJNvHcOHaQ1BFIWDN9kCK8b3DrO9V2hyPbfSWTrv5YXcqD3tCwXWHUBIKTNwak42ELH3-w8smOfu76uPPDPMK0ApMc2HnqUtgEBSFbkDX0KrKLSYg8WjyCqDqv89vyDzrJnK4CLMS1Ji8DLltE0lDCrxOk79Ns2_8QOkB8t4lTnrpvuPUEYivJltaejDx54mJRP2EsWJE0mdfi-RVFidvyH7a2tQ6-szTvGsJd1ZM1LWtB35h2GlxImMR1N_0cL19-iy7bl1rlWEitLPN-oP4WQOfK20-WG6YO0dsT0YqSXjOzwcIPI7D1QuZP3memAPOQZL54HGTXkjRuSu-NCQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1707530135,
          "updated": 1707530135,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1154498619?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://tcac7e9c41ef52cec.vault.azure.net/deletedkeys/1154498619",
        "deletedDate": 1707530135,
        "scheduledPurgeDate": 1708134935,
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1154498619/859d5b0bae3c41929400f5dec4137a96",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "oWzJNvHcOHaQ1BFIWDN9kCK8b3DrO9V2hyPbfSWTrv5YXcqD3tCwXWHUBIKTNwak42ELH3-w8smOfu76uPPDPMK0ApMc2HnqUtgEBSFbkDX0KrKLSYg8WjyCqDqv89vyDzrJnK4CLMS1Ji8DLltE0lDCrxOk79Ns2_8QOkB8t4lTnrpvuPUEYivJltaejDx54mJRP2EsWJE0mdfi-RVFidvyH7a2tQ6-szTvGsJd1ZM1LWtB35h2GlxImMR1N_0cL19-iy7bl1rlWEitLPN-oP4WQOfK20-WG6YO0dsT0YqSXjOzwcIPI7D1QuZP3memAPOQZL54HGTXkjRuSu-NCQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1707530135,
          "updated": 1707530135,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/deletedkeys/1154498619?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: 1154498619"
        }
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1154498619/?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) 1154498619 was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "8173857"
  }
}
