{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/8180698990/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/8180698990/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t282557e4338dc910.vault.azure.net/keys/8180698990/4b540ab04cf844abb5a197c2ff85b811",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "DLqgVyb4sjPYRklSi8N3XWt3BV49PVAGtsjVjYlL5Ew",
          "y": "wYYC3bi_dMXwYaVg40VFQnDkQkxHgioj0TTpcL7xqr0"
        },
        "attributes": {
          "enabled": true,
          "created": 1759313710,
          "updated": 1759313710,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/8180698990?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://t282557e4338dc910.vault.azure.net/deletedkeys/8180698990",
        "deletedDate": 1759313710,
        "scheduledPurgeDate": 1759918510,
        "key": {
          "kid": "https://t282557e4338dc910.vault.azure.net/keys/8180698990/4b540ab04cf844abb5a197c2ff85b811",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "DLqgVyb4sjPYRklSi8N3XWt3BV49PVAGtsjVjYlL5Ew",
          "y": "wYYC3bi_dMXwYaVg40VFQnDkQkxHgioj0TTpcL7xqr0"
        },
        "attributes": {
          "enabled": true,
          "created": 1759313710,
[...]
