{
  "Entries": [
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/2034018719/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/2034018719/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/2034018719/f981607d902c44f0ac33aa47a09c4bf1",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "hybKs8FPIqVM6ZvqwgC_BaSEKaK9WtB6g5e39tfOVy8",
          "y": "TXDXNYcHLTtgigKX6E0V-49T7exF4i2TJ0muH4P63M0"
        },
        "attributes": {
          "enabled": true,
          "created": 1758946798,
          "updated": 1758946798,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/2034018719?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://t8c2fe6801937008f.vault.azure.net/deletedkeys/2034018719",
        "deletedDate": 1758946798,
        "scheduledPurgeDate": 1759551598,
        "key": {
          "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/2034018719/f981607d902c44f0ac33aa47a09c4bf1",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "hybKs8FPIqVM6ZvqwgC_BaSEKaK9WtB6g5e39tfOVy8",
          "y": "TXDXNYcHLTtgigKX6E0V-49T7exF4i2TJ0muH4P63M0"
        },
        "attributes": {
          "enabled": true,
          "created": 175894679[...]
