{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/353873938/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/353873938/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "EC-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://joncarde-kv.vault.azure.net/keys/353873938/217ba3b9ff8e490fbe931fab4a48b4ca",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "-IX33cYQyvL2LJ7qCjZwTRvh1xfgdIm3CKj-_m2CTD0",
          "y": "M59xl2HlWb3B3OE1FfvyIli7ruzhXf3yNhEkxG5Hjyo"
        },
        "attributes": {
          "enabled": true,
          "created": 1781239521,
          "updated": 1781239521,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/353873938?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://joncarde-kv.vault.azure.net/deletedkeys/353873938",
        "deletedDate": 1781239522,
        "scheduledPurgeDate": 1789015522,
        "key": {
          "kid": "https://joncarde-kv.vault.azure.net/keys/353873938/217ba3b9ff8e490fbe931fab4a48b4ca",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "-IX33cYQyvL2LJ7qCjZwTRvh1xfgdIm3CKj-_m2CTD0",
          "y": "M59xl2HlWb3B3OE1FfvyIli7ruzhXf3yNhEkxG5Hjyo"
        },
        "attributes": {
          "enabled": true,
          "created": 1781239521,
   [...]
