{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/885886348/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/885886348/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://externalkeysdk.vault.azure.net/keys/885886348/cc5a2a4b654048149dee85e572299d8c",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "RTa4MhKzCSQTGfixae4gkxvRYKMcJAYaH60qqbbGoKE",
          "y": "GFKHzfjWCShqXNgl6dK-rOHM8R06yyyWXDw94ikLlTo"
        },
        "attributes": {
          "enabled": true,
          "created": 1780403687,
          "updated": 1780403687,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/885886348?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://externalkeysdk.vault.azure.net/deletedkeys/885886348",
        "deletedDate": 1780403688,
        "scheduledPurgeDate": 1781008488,
        "key": {
          "kid": "https://externalkeysdk.vault.azure.net/keys/885886348/cc5a2a4b654048149dee85e572299d8c",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "RTa4MhKzCSQTGfixae4gkxvRYKMcJAYaH60qqbbGoKE",
          "y": "GFKHzfjWCShqXNgl6dK-rOHM8R06yyyWXDw94ikLlTo"
        },
        "attributes": {
          "enabled": true,
          "created": 1780403687,
[...]
