{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/149243183/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/149243183/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/149243183/9d89a528ec3046e89328a05d692c2bd1",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "6bhS3qyyLfUBboKQFGxhjaFM-3bfpTCpGNWbIp39mCw",
          "y": "3W2z2tKx-xP0Kp2vtjLJqrpf0XRFqc5OUiPNVvLlMm4"
        },
        "attributes": {
          "enabled": true,
          "created": 1742930861,
          "updated": 1742930861,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/149243183?api-version=7.6-preview.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://rgjoncardekv318.vault.azure.net/deletedkeys/149243183",
        "deletedDate": 1742930861,
        "scheduledPurgeDate": 1743535661,
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/149243183/9d89a528ec3046e89328a05d692c2bd1",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "6bhS3qyyLfUBboKQFGxhjaFM-3bfpTCpGNWbIp39mCw",
          "y": "3W2z2tKx-xP0Kp2vtjLJqrpf0XRFqc5OUiPNVvLlMm4"
        },
        "attributes": {
          "enabled": true,
          "created": 1742930861,
          "updated": 1742930861,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/deletedkeys/149243183?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://rgjoncardekv318.vault.azure.net/deletedkeys/149243183",
        "deletedDate": 1742930861,
        "scheduledPurgeDate": 1743535661,
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/149243183/9d89a528ec3046e89328a05d692c2bd1",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "6bhS3qyyLfUBboKQFGxhjaFM-3bfpTCpGNWbIp39mCw",
          "y": "3W2z2tKx-xP0Kp2vtjLJqrpf0XRFqc5OUiPNVvLlMm4"
        },
        "attributes": {
          "enabled": true,
          "created": 1742930861,
          "updated": 1742930861,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekv318.vault.azure.net/",
    "RandomSeed": "933722630"
  }
}
