{
  "Entries": [
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/185026765/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/185026765/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/185026765/e461ed3a476c422f83833ef7e4ac3c95",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "ycE30KegwwLaq4m5IDWTSx2hQe6c_Rrk1CruuDmBqBg",
          "y": "6NWqOvwODNT4ttdrdnrcooDm59E2SpYbywZm_tdc_C4"
        },
        "attributes": {
          "enabled": true,
          "created": 1722561106,
          "updated": 1722561106,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/185026765?api-version=7.6-preview.1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://tb0f745ebb7bfae58.vault.azure.net/deletedkeys/185026765",
        "deletedDate": 1722561106,
        "scheduledPurgeDate": 1723165906,
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/185026765/e461ed3a476c422f83833ef7e4ac3c95",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "ycE30KegwwLaq4m5IDWTSx2hQe6c_Rrk1CruuDmBqBg",
          "y": "6NWqOvwODNT4ttdrdnrcooDm59E2SpYbywZm_tdc_C4"
        },
        "attributes": {
          "enabled": true,
          "created": 1722561106,
          "updated": 1722561106,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/deletedkeys/185026765?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: 185026765"
        }
      }
    },
[...]
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/deletedkeys/185026765?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://tb0f745ebb7bfae58.vault.azure.net/deletedkeys/185026765",
        "deletedDate": 1722561106,
        "scheduledPurgeDate": 1723165906,
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/185026765/e461ed3a476c422f83833ef7e4ac3c95",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "ycE30KegwwLaq4m5IDWTSx2hQe6c_Rrk1CruuDmBqBg",
          "y": "6NWqOvwODNT4ttdrdnrcooDm59E2SpYbywZm_tdc_C4"
        },
        "attributes": {
          "enabled": true,
          "created": 1722561106,
          "updated": 1722561106,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tb0f745ebb7bfae58.vault.azure.net/",
    "RandomSeed": "748844619"
  }
}
