{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/19448761230/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/19448761230/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://externalkeysdk.vault.azure.net/keys/19448761230/5eff2ed195734cdc9f0bf33bc72f9472",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "T-zw71ddcFqovl8_p13zdw6uZZmfvEDk8d9AE71K90I",
          "y": "dLmWAOguUAeKqIX4DXLyHlzJN_fCraYMYYmoZyYucF8"
        },
        "attributes": {
          "enabled": true,
          "created": 1780404090,
          "updated": 1780404090,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/19448761230?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://externalkeysdk.vault.azure.net/deletedkeys/19448761230",
        "deletedDate": 1780404090,
        "scheduledPurgeDate": 1781008890,
        "key": {
          "kid": "https://externalkeysdk.vault.azure.net/keys/19448761230/5eff2ed195734cdc9f0bf33bc72f9472",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "T-zw71ddcFqovl8_p13zdw6uZZmfvEDk8d9AE71K90I",
          "y": "dLmWAOguUAeKqIX4DXLyHlzJN_fCraYMYYmoZyYucF8"
        },
        "attributes": {
          "enabled": true,
          "created": 1780404090,
  [...]
