{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/663733592/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/663733592/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/663733592/f319c072f3fb4f25a0f31aa029300d94",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "pr36lMY4ROkC403oe_fv_tk_1e2SEQZy2_Ze-FGeOCI",
          "y": "gkr9o7pRHdKIkguU03tzmvNabreNaBMNJhfr1CcFHGM"
        },
        "attributes": {
          "enabled": true,
          "created": 1692998408,
          "updated": 1692998408,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/663733592?api-version=7.5-preview.1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://tcac7e9c41ef52cec.vault.azure.net/deletedkeys/663733592",
        "deletedDate": 1692998408,
        "scheduledPurgeDate": 1693603208,
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/663733592/f319c072f3fb4f25a0f31aa029300d94",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "pr36lMY4ROkC403oe_fv_tk_1e2SEQZy2_Ze-FGeOCI",
          "y": "gkr9o7pRHdKIkguU03tzmvNabreNaBMNJhfr1CcFHGM"
        },
        "attributes": {
          "enabled": true,
          "created": 1692998408,
          "updated": 1692998408,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/deletedkeys/663733592?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://tcac7e9c41ef52cec.vault.azure.net/deletedkeys/663733592",
        "deletedDate": 1692998408,
        "scheduledPurgeDate": 1693603208,
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/663733592/f319c072f3fb4f25a0f31aa029300d94",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "pr36lMY4ROkC403oe_fv_tk_1e2SEQZy2_Ze-FGeOCI",
          "y": "gkr9o7pRHdKIkguU03tzmvNabreNaBMNJhfr1CcFHGM"
        },
        "attributes": {
          "enabled": true,
          "created": 1692998408,
          "updated": 1692998408,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "834857270"
  }
}
