{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1094598993/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1094598993/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/1094598993/86287d7a49574ca69b390852b5bcda56",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "H0JF4tng7sronGdGf5etEIWPP_lnrM6AoJHhLqBhQIU",
          "y": "f9LTWpaXtvxxeTN20d4zYLM3tbFsJBgVNVZBs78RBEc"
        },
        "attributes": {
          "enabled": true,
          "created": 1742930313,
          "updated": 1742930313,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "1"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1094598993?api-version=7.6-preview.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://rgjoncardekv318.vault.azure.net/deletedkeys/1094598993",
        "deletedDate": 1742930314,
        "scheduledPurgeDate": 1743535114,
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/1094598993/86287d7a49574ca69b390852b5bcda56",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "H0JF4tng7sronGdGf5etEIWPP_lnrM6AoJHhLqBhQIU",
          "y": "f9LTWpaXtvxxeTN20d4zYLM3tbFsJBgVNVZBs78RBEc"
        },
        "attributes": {
          "enabled": true,
          "created": 1742930313,
          "updated": 1742930313,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "1"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/deletedkeys/1094598993?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: 1094598993"
        }
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/deletedkeys/1094598993?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://rgjoncardekv318.vault.azure.net/deletedkeys/1094598993",
        "deletedDate": 1742930314,
        "scheduledPurgeDate": 1743535114,
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/1094598993/86287d7a49574ca69b390852b5bcda56",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "H0JF4tng7sronGdGf5etEIWPP_lnrM6AoJHhLqBhQIU",
          "y": "f9LTWpaXtvxxeTN20d4zYLM3tbFsJBgVNVZBs78RBEc"
        },
        "attributes": {
          "enabled": true,
          "created": 1742930313,
          "updated": 1742930313,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekv318.vault.azure.net/",
    "RandomSeed": "1691913766"
  }
}
