{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1596907752/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1596907752/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/1596907752/62a8aaffbb6a4c6b87b472226668e144",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "jFsLIk8u5aUhvTisUTladgM0pSzWCsXA087JGerUFvLVDBHxSTEtWkZFFAzLSgkWg0iz92EqJJt1qtCmosSY8jNxMmYM38h5cLkvLuqdsdlY-O2pHgvnmE5qdHwpCn2HfsBsan-KxV2zzocR205IUD-y_SBznto5AZZwWSYt5V2ab5nFNmDp7MjDAkuWuRySVmkhC5qrAM72at28VglRwxU5murIAgOHDfLGgmhjDdCHmwzyvHndQdBggez1e9H_HgVM5KP9j7cugFON3yOpWfwkItklgmi-OxqegpJ8MCf4s9GgZoLnRAwLrAlyf4_tsfrMeDgoIOeadRnzVDQ9qw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1756403858,
          "updated": 1756403858,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1596907752?api-version=2025-06-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://tc01f7546f76b53e9.vault.azure.net/deletedkeys/1596907752",
        "deletedDate": 1756403859,
        "scheduledPurgeDate": 1757008659,
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/1596907752/62a8aaffbb6a4c6b87b472226668e144",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "jFsLIk8u5aUhvTisUTladgM0pSzWCsXA087JGerUFvLVDBHxSTEtWkZFFAzLSgkWg0iz92EqJJt1qtCmosSY8jNxMmYM38h5cLkvLuqdsdlY-O2pHgvnmE5qdHwpCn2HfsBs[...]
