{
  "Entries": [
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/878741385/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/878741385/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/878741385/2a5e1800024a4bb9b0d2b12a76aa5579",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "SEQPyoN6jpD1ZbgmS3ONCQHZLZ4BYc6F45qoDAO351E",
          "y": "GPb5g9-Dp6fhDooQKhJDvWPgpFhkcNCaNvJwbE0pSIc"
        },
        "attributes": {
          "enabled": true,
          "created": 1758946809,
          "updated": 1758946809,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/878741385?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://t8c2fe6801937008f.vault.azure.net/deletedkeys/878741385",
        "deletedDate": 1758946809,
        "scheduledPurgeDate": 1759551609,
        "key": {
          "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/878741385/2a5e1800024a4bb9b0d2b12a76aa5579",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "SEQPyoN6jpD1ZbgmS3ONCQHZLZ4BYc6F45qoDAO351E",
          "y": "GPb5g9-Dp6fhDooQKhJDvWPgpFhkcNCaNvJwbE0pSIc"
        },
        "attributes": {
          "enabled": true,
          "created": 1758946809,
 [...]
