{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/54964509/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/54964509/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/54964509/5f5bd286a00741dfa384417bde9c3027",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tLMyGd0RFCVkzbzQ0OSJ69duA8lGG_8R2m46xVuVJJB5dd-4MOqCDubzYM9Zwh9wsQqkOV82BGnAWgiJciluJnWm_uV_ouC8YWgt5tLgXDYKXsZamyqgdJxCAL4CcVipzsPWQNEARzzjrpj8UgyYsNR9jXd92mJLHrt8SgV5x13i9GLiBVnbNUeHvyVmiLo-fFXppu_DjhtuFr1cvXNehGO4DCG29PO_VEZfLzG8SfnlqgN1j1D475F6cOHnrQlaMFlC-6ozziK01uP__Fb_xdFmWm9UdzblVHfj3Ox-PXFrH0jya_nK5chh0tWjmBo1unZrpR5aA8gyVLoIEIV4MQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1707530049,
          "updated": 1707530049,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/54964509/rotationpolicy?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "lifetimeActions": [
          {
            "trigger": {
              "timeBeforeExpiry": "P30D"
            },
            "action": {
              "type": "Notify"
            }
          }
        ],
        "attributes": null
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "1795627832"
  }
}
