{
  "Entries": [
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/9141964300/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/9141964300/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/9141964300/4db2534696f34446980e74abc7fdccb0",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "YlqY5-cbtDtfkhRahIti9foIGyL8gfdJ_z96FtNAn6U",
          "y": "_R4YB5bU72Wi3iigojKikaTGQtAsajwevqerHJBz0SQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1724202493,
          "updated": 1724202493,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1085277952",
            "attributes": {
              "enabled": true,
              "nbf": 1723249496,
              "exp": 1754786096,
              "created": 1723250097,
              "updated": 1723250097,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "hsmPlatform": "0"
            },
            "managed": true
          }
        ],
        "nextLink": "https://tb0f745ebb7bfae58.vault.azure.net:443/keys?api-version=7.6-preview.1&$skiptoken=Sanitized"
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys?api-version=7.6-preview.1&$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": "https://tb0f745ebb7bfae58.vault.azure.net:443/keys?api-version=7.6-preview.1&$skiptoken=Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys?api-version=7.6-preview.1&$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": null
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tb0f745ebb7bfae58.vault.azure.net/",
    "RandomSeed": "5430925"
  }
}
