{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/127235652/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/127235652/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://externalkeysdk.vault.azure.net/keys/127235652/fe9ae1f66fea47f59c847fcbd6a91eb1",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "pxr0M0XcHlGNIVSLrfHmyvcxoz4-lOwRzplMw_Z8v2b2NhoWSr8C9nMbOSYyl5NnXB1sfbZokaokPWU0r6GOYKU5UW1_vVzMpXEb2upXn71kF-YufNi-JE3hIYztBs92k817ERum2wIVoSOrLZ9Qce0IDXbPC1_rtNj_lFTH8IFuaGQAafuFjoJmGVmxX6h-gV3MoclCJH-ldX8BOjZ3vWfgB_o5btlBXU51stExLqQedLUoWDgPDh-H51PjRcyP7K7sWiuz-aanJ0bTYaCN0Ad_SPJ67EkqFSuMvVLoXpLXma9PoyxxT3J0P0g74rRqOvyKegmgKPl-YRGUSNFixQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780403761,
          "updated": 1780403761,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/127235652/?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://externalkeysdk.vault.azur[...]
