{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/794770279/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/794770279/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t282557e4338dc910.vault.azure.net/keys/794770279/a90f896975344438a13052feb275c991",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "hyCgI45OxGSqkTdms5KIhiZtzPixtZ6vyTBwhV6toW0SOa2i2628XkfMaicTuRC8o817xQZ0MBf4rxeQnE9hOrM-aD2C26NpgxWiQTjLBLRUyYG0AQedhRtGaooE9fl5AEr-0Kw85i5tKHavNCbdWEyGQxncWXmRG9jUUupDLD45JSzEnJwFm2UlhjjsReaAhCrmSMD3IlghKiIO9lP67WW_EuW0q7a1d9hP-1nUva7i6ygtKpDuCbJ99t-vxvLA9G1kAqdl8yj79XESFu_ES9vO5yTkn7SPuq7h5RKe5q9xX2jrb93AdMiOfkDpEOj5U-Acj61477de7fHZ3ndnrw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1759314535,
          "updated": 1759314535,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/794770279/?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t282557e4338dc910.vault.azure.net/keys/794770279/a90f896975344438a13052feb275c991",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "hyCgI45OxGSqkTdms5KIhiZtzPixtZ6vyTBwhV6toW0SOa2i2628XkfMaicTuRC8o817xQZ0MBf4rxeQnE9hOrM-aD2C26NpgxWiQTjLBLRUyYG0AQedhRtGaooE9fl5AEr-0Kw85i5tKHavNCbdWEyGQxncWXmRG9jUUupDLD45JSzEnJwFm2UlhjjsReaAhCrmSMD3IlghKiIO9lP67WW_EuW0q7a1d9hP-1nUva7i6ygtKpDuCbJ99t-vxvLA9G1kAqdl8yj79XESFu_ES9vO5yTkn7SPuq7h5RKe5q9xX2jrb93AdMiOfkDpEOj5U-Acj61477de7fHZ3ndnrw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1759314535,
          "updated": 1759314535,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://t282557e4338dc910.vault.azure.net/",
    "RandomSeed": "206367260"
  }
}
