{
  "Entries": [
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/216693450/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/216693450/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/216693450/c5fa79dfe8e34acb81f1b06023c38ac5",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tSnIDXiAU6R1MemQnyh2epoF3EcPYi63yqHljm42aiEoFZJ1FmhxJao9uGDlA92LBYRpKJL_0GfZUmttlg_OdcsdngWCruI6uG_cmpPs4utqxmCXejAAgPOGwOlATCbsk4WAIRVJ6ydZKCR3BHZpEwO4KsmmT2yUQ5vwgx-4L6VuBEJ0_cJDxesmgHMTeoB4DrcrHMUZdSpFbGfDmvaV698g79KGqmgdR3R-Qp5w1Vfdpe8cTASepAfnBz-hxahecJTLpCbPmZr6bUbzUnl9JIk_OLpmqdocsFjJxtKqpzalrDBEV-YwXePgTFauIDl1nmTA5NZz8Ylh8mOwK2cFXw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1724202046,
          "updated": 1724202046,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/216693450/?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/216693450/c5fa79dfe8e34acb81f1b06023c38ac5",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tSnIDXiAU6R1MemQnyh2epoF3EcPYi63yqHljm42aiEoFZJ1FmhxJao9uGDlA92LBYRpKJL_0GfZUmttlg_OdcsdngWCruI6uG_cmpPs4utqxmCXejAAgPOGwOlATCbsk4WAIRVJ6ydZKCR3BHZpEwO4KsmmT2yUQ5vwgx-4L6VuBEJ0_cJDxesmgHMTeoB4DrcrHMUZdSpFbGfDmvaV698g79KGqmgdR3R-Qp5w1Vfdpe8cTASepAfnBz-hxahecJTLpCbPmZr6bUbzUnl9JIk_OLpmqdocsFjJxtKqpzalrDBEV-YwXePgTFauIDl1nmTA5NZz8Ylh8mOwK2cFXw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1724202046,
          "updated": 1724202046,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tb0f745ebb7bfae58.vault.azure.net/",
    "RandomSeed": "120166672"
  }
}
