{
  "Entries": [
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1646287942/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1646287942/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1646287942/663afa1a135a45f3943a74aceb36452e",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "hpv6qttBhWEw3ujpKIASnRX6jWdkk1g1cpk-5t3rb2K9u7gHcXAstubQINyQ85eg0MSd68paY1RUouFnBYdM6Vh20aAsfaM6YUxf87xOlxo_hpXNHwvEAEPLaNAZFTrRE19c_Bq0EiF03lV0rrUh2L_1Td8ahS3RQ7aZTomR6CF8Nzq8w2pbMcrbX7Vc_8JoMn0BRDo_5B43Vxt7u6FK7XMkkStdxZUMWThg50k3eJTbKAunRLaJzRvgfzF69_w4St__nNd6nE4WkCmOkntrB_kzLTV-JuawjicedACvau03ywlMmPXptSzi52fHNgGlkctVXjz_TkNgCi-feMLuaw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1724202096,
          "updated": 1724202096,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1646287942?api-version=7.6-preview.1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://tb0f745ebb7bfae58.vault.azure.net/deletedkeys/1646287942",
        "deletedDate": 1724202096,
        "scheduledPurgeDate": 1724806896,
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1646287942/663afa1a135a45f3943a74aceb36452e",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "hpv6qttBhWEw3ujpKIASnRX6jWdkk1g1cpk-5t3rb2K9u7gHcXAstubQINyQ85eg0MSd68paY1RUouFnBYdM6Vh20aAsfaM6YUxf87xOlxo_hpXNHwvEAEPLaNAZFTrRE19c_Bq0EiF03lV0rrUh2L_1Td8ahS3RQ7aZTomR6CF8Nzq8w2pbMcrbX7Vc_8JoMn0BRDo_5B43Vxt7u6FK7XMkkStdxZUMWThg50k3eJTbKAunRLaJzRvgfzF69_w4St__nNd6nE4WkCmOkntrB_kzLTV-JuawjicedACvau03ywlMmPXptSzi52fHNgGlkctVXjz_TkNgCi-feMLuaw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1724202096,
          "updated": 1724202096,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/deletedkeys/1646287942?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: 1646287942"
        }
      }
    },
[...]
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1646287942/?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) 1646287942 was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/deletedkeys/1646287942/recover?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1646287942/663afa1a135a45f3943a74aceb36452e",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "hpv6qttBhWEw3ujpKIASnRX6jWdkk1g1cpk-5t3rb2K9u7gHcXAstubQINyQ85eg0MSd68paY1RUouFnBYdM6Vh20aAsfaM6YUxf87xOlxo_hpXNHwvEAEPLaNAZFTrRE19c_Bq0EiF03lV0rrUh2L_1Td8ahS3RQ7aZTomR6CF8Nzq8w2pbMcrbX7Vc_8JoMn0BRDo_5B43Vxt7u6FK7XMkkStdxZUMWThg50k3eJTbKAunRLaJzRvgfzF69_w4St__nNd6nE4WkCmOkntrB_kzLTV-JuawjicedACvau03ywlMmPXptSzi52fHNgGlkctVXjz_TkNgCi-feMLuaw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1724202096,
          "updated": 1724202096,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
[...]
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1646287942/?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1646287942/663afa1a135a45f3943a74aceb36452e",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "hpv6qttBhWEw3ujpKIASnRX6jWdkk1g1cpk-5t3rb2K9u7gHcXAstubQINyQ85eg0MSd68paY1RUouFnBYdM6Vh20aAsfaM6YUxf87xOlxo_hpXNHwvEAEPLaNAZFTrRE19c_Bq0EiF03lV0rrUh2L_1Td8ahS3RQ7aZTomR6CF8Nzq8w2pbMcrbX7Vc_8JoMn0BRDo_5B43Vxt7u6FK7XMkkStdxZUMWThg50k3eJTbKAunRLaJzRvgfzF69_w4St__nNd6nE4WkCmOkntrB_kzLTV-JuawjicedACvau03ywlMmPXptSzi52fHNgGlkctVXjz_TkNgCi-feMLuaw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1724202096,
          "updated": 1724202096,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tb0f745ebb7bfae58.vault.azure.net/",
    "RandomSeed": "950422494"
  }
}
