{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/689564252/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/689564252/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t282557e4338dc910.vault.azure.net/keys/689564252/669820e4c9a744269b006a46f608b393",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "PUPIlxMO4demex9_yCc5yGMhk8J_0wDNKb_dv4H2_Oc",
          "y": "xDHAnOe3nOfD_qj8QGBTnJlSJWkoNef8Vyo_6PU6SFw"
        },
        "attributes": {
          "enabled": true,
          "created": 1759313869,
          "updated": 1759313869,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/689564252?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://t282557e4338dc910.vault.azure.net/deletedkeys/689564252",
        "deletedDate": 1759313869,
        "scheduledPurgeDate": 1759918669,
        "key": {
          "kid": "https://t282557e4338dc910.vault.azure.net/keys/689564252/669820e4c9a744269b006a46f608b393",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "PUPIlxMO4demex9_yCc5yGMhk8J_0wDNKb_dv4H2_Oc",
          "y": "xDHAnOe3nOfD_qj8QGBTnJlSJWkoNef8Vyo_6PU6SFw"
        },
        "attributes": {
          "enabled": true,
          "created": 1759313869,
 [...]
