{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/1066562786/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/1066562786/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t282557e4338dc910.vault.azure.net/keys/1066562786/69420245c6614affaf1a5e942643b3f9",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "pjq3uF7QCbh_57ecRRc_piPUS5ny69Znim4joF4hRvlRgJ8UJyqO4qG642jmmIGWbrgcIYXjuEebS3K5r_2PcUdLMfvHAYvyd66G-611hxQ5wG4cQppMuebDK6p09EsahS3Zl9XLuPhTv5FeSjhHVWrVbt-kaM6-yoUbsjxiYfH_qYZBkONhH_626QBd3cPaJKzTumUyyCG5P2sMUCCWytBeNWFE2bFKTGvbpkT2p8KilhGlx5ATLgFE7LRIAfyMmeaq9bd6XA6n7wayxaIY2OZ8qFSSo9XNqrObSsFnTLs75u5D0MveI8oQCJ2TPXmx_FYd9Sagq1TneW6fSkOs2Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1759344729,
          "updated": 1759344729,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/1066562786?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://t282557e4338dc910.vault.azure.net/deletedkeys/1066562786",
        "deletedDate": 1759344729,
        "scheduledPurgeDate": 1759949529,
        "key": {
          "kid": "https://t282557e4338dc910.vault.azure.net/keys/1066562786/69420245c6614affaf1a5e942643b3f9",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "pjq3uF7QCbh_57ecRRc_piPUS5ny69Znim4joF4hRvlRgJ8UJyqO4qG642jmmIGWbrgcIYXjuEebS3K5r_2PcUdLMfvHAYvyd66G-611hxQ5wG4cQppMuebDK6p09EsahS3Z[...]
