{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/333871847/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/333871847/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/333871847/9515126471c7417caa58c0a4d41aaaa6",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "t_ABtm3axOmYb6CFf5mBzYi_KeC5a__DqhnRSHbsmMztYilkwbG_mTr1IUa8UWhXRtwHaXhzzqnu7dvSkFVfkiNn8wIf0ZGV5sgL0feeyyyh932tuvY2HbrO5f5c-gY3NecFzTO26v-coZkXAZDmDzgG7f78g_M1SlCz_-i6nGTPSjWcH6wfgNheAiivqIij5yIxPFqno037i_Btz2DP5SnEQEP_j_DV_wWWQ5UNYcPlUa94jagP0b17cc4h21FxmtICRmUAV6BD7PBgfRIXy6aSuORfhb8QiHYWBdZQD90NA0-6uIJJoC2MnTtakmSeO0Ae5Ow1cEOk0YppFVSa4w",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1692998467,
          "updated": 1692998467,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "1"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/333871847?api-version=7.5-preview.1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://tcac7e9c41ef52cec.vault.azure.net/deletedkeys/333871847",
        "deletedDate": 1692998467,
        "scheduledPurgeDate": 1693603267,
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/333871847/9515126471c7417caa58c0a4d41aaaa6",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "t_ABtm3axOmYb6CFf5mBzYi_KeC5a__DqhnRSHbsmMztYilkwbG_mTr1IUa8UWhXRtwHaXhzzqnu7dvSkFVfkiNn8wIf0ZGV5sgL0feeyyyh932tuvY2HbrO5f5c-gY3NecFzTO26v-coZkXAZDmDzgG7f78g_M1SlCz_-i6nGTPSjWcH6wfgNheAiivqIij5yIxPFqno037i_Btz2DP5SnEQEP_j_DV_wWWQ5UNYcPlUa94jagP0b17cc4h21FxmtICRmUAV6BD7PBgfRIXy6aSuORfhb8QiHYWBdZQD90NA0-6uIJJoC2MnTtakmSeO0Ae5Ow1cEOk0YppFVSa4w",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1692998467,
          "updated": 1692998467,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "1"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/deletedkeys/333871847?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: 333871847"
        }
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/333871847/?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) 333871847 was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/deletedkeys/333871847/recover?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/333871847/9515126471c7417caa58c0a4d41aaaa6",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "t_ABtm3axOmYb6CFf5mBzYi_KeC5a__DqhnRSHbsmMztYilkwbG_mTr1IUa8UWhXRtwHaXhzzqnu7dvSkFVfkiNn8wIf0ZGV5sgL0feeyyyh932tuvY2HbrO5f5c-gY3NecFzTO26v-coZkXAZDmDzgG7f78g_M1SlCz_-i6nGTPSjWcH6wfgNheAiivqIij5yIxPFqno037i_Btz2DP5SnEQEP_j_DV_wWWQ5UNYcPlUa94jagP0b17cc4h21FxmtICRmUAV6BD7PBgfRIXy6aSuORfhb8QiHYWBdZQD90NA0-6uIJJoC2MnTtakmSeO0Ae5Ow1cEOk0YppFVSa4w",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1692998467,
          "updated": 1692998467,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "1"
        }
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/333871847/?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/333871847/9515126471c7417caa58c0a4d41aaaa6",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "t_ABtm3axOmYb6CFf5mBzYi_KeC5a__DqhnRSHbsmMztYilkwbG_mTr1IUa8UWhXRtwHaXhzzqnu7dvSkFVfkiNn8wIf0ZGV5sgL0feeyyyh932tuvY2HbrO5f5c-gY3NecFzTO26v-coZkXAZDmDzgG7f78g_M1SlCz_-i6nGTPSjWcH6wfgNheAiivqIij5yIxPFqno037i_Btz2DP5SnEQEP_j_DV_wWWQ5UNYcPlUa94jagP0b17cc4h21FxmtICRmUAV6BD7PBgfRIXy6aSuORfhb8QiHYWBdZQD90NA0-6uIJJoC2MnTtakmSeO0Ae5Ow1cEOk0YppFVSa4w",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1692998467,
          "updated": 1692998467,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "1"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "260575142"
  }
}
