{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/1313709129/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/1313709129/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t282557e4338dc910.vault.azure.net/keys/1313709129/b18a3ac1834a4144b3d0b5180b4fbcb1",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "ZftVJ1fGx55v5IEwQ1TUI6X4akssY190Y2WWuZS-COs",
          "y": "eAQDA9ZAVpcqbLHVby3enOI6jUeL0Pp99CAna8QmGMI"
        },
        "attributes": {
          "enabled": true,
          "created": 1759313854,
          "updated": 1759313854,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/1313709129?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://t282557e4338dc910.vault.azure.net/deletedkeys/1313709129",
        "deletedDate": 1759313854,
        "scheduledPurgeDate": 1759918654,
        "key": {
          "kid": "https://t282557e4338dc910.vault.azure.net/keys/1313709129/b18a3ac1834a4144b3d0b5180b4fbcb1",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "ZftVJ1fGx55v5IEwQ1TUI6X4akssY190Y2WWuZS-COs",
          "y": "eAQDA9ZAVpcqbLHVby3enOI6jUeL0Pp99CAna8QmGMI"
        },
        "attributes": {
          "enabled": true,
          "created": 175931385[...]
