{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/891418746/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/891418746/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://externalkeysdk.vault.azure.net/keys/891418746/f098ac2eb5b34c7fbb0821ec2f2f2667",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "UT9lPJOt-6-m4Kgfg6Z7-VdzPTV78V_WB0iKQ8erGOA",
          "y": "-ZIp1593uijyowlTg-eIFm-r1XVPP8Cwwfa9L2oCk88"
        },
        "attributes": {
          "enabled": true,
          "created": 1780403783,
          "updated": 1780403783,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/891418746?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://externalkeysdk.vault.azure.net/deletedkeys/891418746",
        "deletedDate": 1780403783,
        "scheduledPurgeDate": 1781008583,
        "key": {
          "kid": "https://externalkeysdk.vault.azure.net/keys/891418746/f098ac2eb5b34c7fbb0821ec2f2f2667",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "UT9lPJOt-6-m4Kgfg6Z7-VdzPTV78V_WB0iKQ8erGOA",
          "y": "-ZIp1593uijyowlTg-eIFm-r1XVPP8Cwwfa9L2oCk88"
        },
        "attributes": {
          "enabled": true,
          "created": 1780403783,
    [...]
