{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/628873551/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/628873551/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "EC-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://joncarde-kv.vault.azure.net/keys/628873551/35fc220068914080bdec200e7a5144f5",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "2HlOzGr2jJp47GkPXQCClSKxE0PmKZvEKVLoSoUh-tE",
          "y": "BW-kCLIT8PLyLHGZ0ClWmFyYjUyjvAcaKKQCbGAymdM"
        },
        "attributes": {
          "enabled": true,
          "created": 1781239616,
          "updated": 1781239616,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/628873551?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://joncarde-kv.vault.azure.net/deletedkeys/628873551",
        "deletedDate": 1781239616,
        "scheduledPurgeDate": 1789015616,
        "key": {
          "kid": "https://joncarde-kv.vault.azure.net/keys/628873551/35fc220068914080bdec200e7a5144f5",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "2HlOzGr2jJp47GkPXQCClSKxE0PmKZvEKVLoSoUh-tE",
          "y": "BW-kCLIT8PLyLHGZ0ClWmFyYjUyjvAcaKKQCbGAymdM"
        },
        "attributes": {
          "enabled": true,
          "created": 1781239616,
   [...]
