{
  "Entries": [
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/202531115/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/202531115/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/202531115/f0ec494705b04181bfe6156f487e9c7e",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "p6C3wzPIazHfV4G9jccEfTu9EmejVveQOuAMKOanZrI",
          "y": "Fcnj0dhBElRAljeL-Fsg57yODsjswz1DTP7hoQNi2kw"
        },
        "attributes": {
          "enabled": true,
          "created": 1758953148,
          "updated": 1758953148,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/202531115?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://t8c2fe6801937008f.vault.azure.net/deletedkeys/202531115",
        "deletedDate": 1758953148,
        "scheduledPurgeDate": 1759557948,
        "key": {
          "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/202531115/f0ec494705b04181bfe6156f487e9c7e",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "p6C3wzPIazHfV4G9jccEfTu9EmejVveQOuAMKOanZrI",
          "y": "Fcnj0dhBElRAljeL-Fsg57yODsjswz1DTP7hoQNi2kw"
        },
        "attributes": {
          "enabled": true,
          "created": 1758953148,
 [...]
