{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/1317427070/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/1317427070/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://externalkeysdk.vault.azure.net/keys/1317427070/5102461d69ae49469d6536d63441ea3f",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "pmkGF1h--7Z37biOecWDDR7NXV2FOqiKtrNuwMBjuYr-XeOpNew4eNLrJpyQWMqfXpUDYczFgnkGcKsaTsCR2aE59H8BLu76DFTGT4I1flCYkNVQB8pFJX1mRxNdBuCnTZzJQJb0uSuzcqJCxCr1b2QhmGVW24Fe6HiTORlpl407ocA-nxUElq40XfkWNkG_c4ADzLtIqYsLx9PFBnNLYPyU34iqjffqJwpUKz7GIn3TPtFVgDNvWGohV9I865xL2knDoJXPvm8TO0QhgAqg6ft7WJvCPCNmm4ljumVT_1CZMcDzhRprX46TJRNcr31ta6JRNRwAEu_TvaxVqvA_7w",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780404180,
          "updated": 1780404180,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/1317427070?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://externalkeysdk.vault.azure.net/deletedkeys/1317427070",
        "deletedDate": 1780404181,
        "scheduledPurgeDate": 1781008981,
        "key": {
          "kid": "https://externalkeysdk.vault.azure.net/keys/1317427070/5102461d69ae49469d6536d63441ea3f",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "pmkGF1h--7Z37biOecWDDR7NXV2FOqiKtrNuwMBjuYr-XeOpNew4eNLrJpyQWMqfXpUDYczFgnkGcKsaTsCR2aE59H8BLu76DFTGT4I1flCYkNVQB8pFJX1mRxNdBuCnTZzJQJb[...]
