{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/65779423/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/65779423/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://joncarde-kv.vault.azure.net/keys/65779423/1a0858e431d04ed3bf5ad8a80f5e02e7",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "Y8yj1en42fC1QfmaoDI2OGg_1hKunjFB-uzuYU9D58U",
          "y": "-wUfo-ofZXwcw8HxH6CaBJu_0VT5LRosoAhwG1T_NgQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1781140063,
          "updated": 1781140063,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 10,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/65779423?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://joncarde-kv.vault.azure.net/deletedkeys/65779423",
        "deletedDate": 1781140063,
        "scheduledPurgeDate": 1782004063,
        "key": {
          "kid": "https://joncarde-kv.vault.azure.net/keys/65779423/1a0858e431d04ed3bf5ad8a80f5e02e7",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "Y8yj1en42fC1QfmaoDI2OGg_1hKunjFB-uzuYU9D58U",
          "y": "-wUfo-ofZXwcw8HxH6CaBJu_0VT5LRosoAhwG1T_NgQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1781140063,
        [...]
