{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/2145076101/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/2145076101/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/2145076101/535bff8b47964bf3ba9ac78f9339f4f0",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uOpxIy53ZXKBXjnw_DK7NuSmAyS0e2rNXmCt1jGy7fUFWPMkl3sIoc3tUjO6PRXSLEdmKaByal8TZoT7k0awcJMlw0BEfk-NORDSzeEeDP0YZlyi3HTklRZ41w01pHmmQSQ1qxp8SQz6Ga8A2Z0HoRPMz-tDuP6b68Ns_tucUObI-m2Emry7oaApVumu-EKyFSaWLDoKu5TpIHqUgm0YV1OFg75rBZY9jfZp3IpfYKHVnQ92VqxCV3cBp32my2fiPK3S2vKVYcKvnY_vO5mseorTx4HMb2U7-uSK2sLrrwGt_Lse6oo4j4mnqwu0VVEM-z05HnavVK8WkX0bh7vtEw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1707530199,
          "updated": 1707530199,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/2145076101?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://tcac7e9c41ef52cec.vault.azure.net/deletedkeys/2145076101",
        "deletedDate": 1707530200,
        "scheduledPurgeDate": 1708135000,
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/2145076101/535bff8b47964bf3ba9ac78f9339f4f0",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uOpxIy53ZXKBXjnw_DK7NuSmAyS0e2rNXmCt1jGy7fUFWPMkl3sIoc3tUjO6PRXSLEdmKaByal8TZoT7k0awcJMlw0BEfk-NORDSzeEeDP0YZlyi3HTklRZ41w01pHmmQSQ1qxp8SQz6Ga8A2Z0HoRPMz-tDuP6b68Ns_tucUObI-m2Emry7oaApVumu-EKyFSaWLDoKu5TpIHqUgm0YV1OFg75rBZY9jfZp3IpfYKHVnQ92VqxCV3cBp32my2fiPK3S2vKVYcKvnY_vO5mseorTx4HMb2U7-uSK2sLrrwGt_Lse6oo4j4mnqwu0VVEM-z05HnavVK8WkX0bh7vtEw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1707530199,
          "updated": 1707530199,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/deletedkeys/2145076101?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: 2145076101"
        }
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/2145076101/?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) 2145076101 was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/deletedkeys/2145076101/recover?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/2145076101/535bff8b47964bf3ba9ac78f9339f4f0",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uOpxIy53ZXKBXjnw_DK7NuSmAyS0e2rNXmCt1jGy7fUFWPMkl3sIoc3tUjO6PRXSLEdmKaByal8TZoT7k0awcJMlw0BEfk-NORDSzeEeDP0YZlyi3HTklRZ41w01pHmmQSQ1qxp8SQz6Ga8A2Z0HoRPMz-tDuP6b68Ns_tucUObI-m2Emry7oaApVumu-EKyFSaWLDoKu5TpIHqUgm0YV1OFg75rBZY9jfZp3IpfYKHVnQ92VqxCV3cBp32my2fiPK3S2vKVYcKvnY_vO5mseorTx4HMb2U7-uSK2sLrrwGt_Lse6oo4j4mnqwu0VVEM-z05HnavVK8WkX0bh7vtEw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1707530199,
          "updated": 1707530199,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/2145076101/?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/2145076101/535bff8b47964bf3ba9ac78f9339f4f0",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uOpxIy53ZXKBXjnw_DK7NuSmAyS0e2rNXmCt1jGy7fUFWPMkl3sIoc3tUjO6PRXSLEdmKaByal8TZoT7k0awcJMlw0BEfk-NORDSzeEeDP0YZlyi3HTklRZ41w01pHmmQSQ1qxp8SQz6Ga8A2Z0HoRPMz-tDuP6b68Ns_tucUObI-m2Emry7oaApVumu-EKyFSaWLDoKu5TpIHqUgm0YV1OFg75rBZY9jfZp3IpfYKHVnQ92VqxCV3cBp32my2fiPK3S2vKVYcKvnY_vO5mseorTx4HMb2U7-uSK2sLrrwGt_Lse6oo4j4mnqwu0VVEM-z05HnavVK8WkX0bh7vtEw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1707530199,
          "updated": 1707530199,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "1685027998"
  }
}
