{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/542604697/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/542604697/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/542604697/b7b634e14a8147429c2d8e3635c6aa56",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "matBDRdyeiFlqVEVPYJHbvTUz0iXemG8j9WjcS0OO9dhgUCa54VJswptc5TH2XDcmBL0H2D3wQJGfNzeYavbvmlxG3_S9kpOUHBuOLHrHUPsStgGjdoROWbLM3meTZ1wLzRzu3B-go4V6CBCSkdWa1u8LRDfmyMWHWR2sxuCgIL-l7CUvGGvKWdLYLHgB70JrH-rixb3lb10-BM-Y4XyVDLKZw-PrRkM_UWgWRVRbDyUE-ilpbvdlgoRYD-NxZmH7GgcqYJV0GeEejLcDvEBje0STefE8jFOjRHfG1GmPkRl2w_egsLXZjjLV5qmnGbJxHQjQB8JbIA9hB4K_A2Dnw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1742930505,
          "updated": 1742930505,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "1"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/542604697?api-version=7.6-preview.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://rgjoncardekv318.vault.azure.net/deletedkeys/542604697",
        "deletedDate": 1742930505,
        "scheduledPurgeDate": 1743535305,
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/542604697/b7b634e14a8147429c2d8e3635c6aa56",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "matBDRdyeiFlqVEVPYJHbvTUz0iXemG8j9WjcS0OO9dhgUCa54VJswptc5TH2XDcmBL0H2D3wQJGfNzeYavbvmlxG3_S9kpOUHBuOLHrHUPsStgGjdoROWbLM3meTZ1wLzRzu3B-go4V6CBCSkdWa1u8LRDfmyMWHWR2sxuCgIL-l7CUvGGvKWdLYLHgB70JrH-rixb3lb10-BM-Y4XyVDLKZw-PrRkM_UWgWRVRbDyUE-ilpbvdlgoRYD-NxZmH7GgcqYJV0GeEejLcDvEBje0STefE8jFOjRHfG1GmPkRl2w_egsLXZjjLV5qmnGbJxHQjQB8JbIA9hB4K_A2Dnw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1742930505,
          "updated": 1742930505,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "1"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/deletedkeys/542604697?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: 542604697"
        }
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/542604697/?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) 542604697 was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/deletedkeys/542604697/recover?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/542604697/b7b634e14a8147429c2d8e3635c6aa56",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "matBDRdyeiFlqVEVPYJHbvTUz0iXemG8j9WjcS0OO9dhgUCa54VJswptc5TH2XDcmBL0H2D3wQJGfNzeYavbvmlxG3_S9kpOUHBuOLHrHUPsStgGjdoROWbLM3meTZ1wLzRzu3B-go4V6CBCSkdWa1u8LRDfmyMWHWR2sxuCgIL-l7CUvGGvKWdLYLHgB70JrH-rixb3lb10-BM-Y4XyVDLKZw-PrRkM_UWgWRVRbDyUE-ilpbvdlgoRYD-NxZmH7GgcqYJV0GeEejLcDvEBje0STefE8jFOjRHfG1GmPkRl2w_egsLXZjjLV5qmnGbJxHQjQB8JbIA9hB4K_A2Dnw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1742930505,
          "updated": 1742930505,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/542604697/?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/542604697/b7b634e14a8147429c2d8e3635c6aa56",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "matBDRdyeiFlqVEVPYJHbvTUz0iXemG8j9WjcS0OO9dhgUCa54VJswptc5TH2XDcmBL0H2D3wQJGfNzeYavbvmlxG3_S9kpOUHBuOLHrHUPsStgGjdoROWbLM3meTZ1wLzRzu3B-go4V6CBCSkdWa1u8LRDfmyMWHWR2sxuCgIL-l7CUvGGvKWdLYLHgB70JrH-rixb3lb10-BM-Y4XyVDLKZw-PrRkM_UWgWRVRbDyUE-ilpbvdlgoRYD-NxZmH7GgcqYJV0GeEejLcDvEBje0STefE8jFOjRHfG1GmPkRl2w_egsLXZjjLV5qmnGbJxHQjQB8JbIA9hB4K_A2Dnw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1742930505,
          "updated": 1742930505,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "1"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekv318.vault.azure.net/",
    "RandomSeed": "206119722"
  }
}
