{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/692272101/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/692272101/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t282557e4338dc910.vault.azure.net/keys/692272101/56a2dc80e6bb41a08ee9adc175e47005",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "iBBF9ed-Sxfe64L9RnUBVQuk-YjaAvk2NJuK2l3mSavHSbQjVXtyhsQi68YEw7Z_Mbqf8xBzIK_cWLBTTz96AbijNtjaLZm2EFo6BAk9mf9Lqqgi2wWvjy_G8XQmEOq-IHAdmHA3Zyk_78SIjhZgUTjHnj8bub9OOyR8u6vuizKDcF7f-PGrnLvzcw7FZWdh8rfCrE8MhM6OPvPHHpmVIjz8pjRMmCSgeR-nux9i-QDmledSkTqKBH681_FWDvR_XTofpfeGymqmNXrpAUYBRilTvt1GbuBm-Z2Wb0VnTZIBHQzWx2NwJMeqB_n0mKglKKG7aYQ4fVEiLLTPQcgg2w",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1759344757,
          "updated": 1759344757,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/692272101/56a2dc80e6bb41a08ee9adc175e47005?api-version=2025-07-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "exportable": true
        },
        "release_policy": {
          "data": "ew0KICAgICJhbnlPZiI6IFsNCiAgICAgICAgew0KICAgICAgICAgICAgImFueU9mIjogWw0KICAgICAgICAgICAgICAgIHsNCiAgICAgICAgICAgICAgICAgICAgImNsYWltIjogInNkay10ZXN0IiwNCiAgICAgICAgICAgICAgICAgICAgImVxdWFscyI6ICJ0cnVlIg0KICAgICAgICAgICAgICAgIH0NCiAgICAgICAgICAgIF0sDQogICAgICAgICAgICAiYXV0aG9yaXR5IjogImh0dHBzOi8vdDI4MjU1N2U0MzM4ZGM5MTBzaXRlLmF6dXJld2Vic2l0ZXMubmV0LyINCiAgICAgICAgfQ0KICAgIF0sDQogICAgInZlcnNpb24iOiAiMS4wLjAiDQp9"
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "BadParameter",
          "message": "AKV.SKR.1014: Cannot modify the exportable state of a key."
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_ATTESTATION_URL": "https://t282557e4338dc910site.azurewebsites.net/",
    "AZURE_KEYVAULT_URL": "https://t282557e4338dc910.vault.azure.net/",
    "RandomSeed": "1792310545"
  }
}
