{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/1585576410/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/1585576410/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://externalkeysdk.vault.azure.net/keys/1585576410/4889edf71c6145c38a59dba2c48874a0",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "qOTCYObVaamAei55ORzGVvK-9aut71C4nNibuDjSPTxghQWsQm1YzRGkxN3I_QzHAqXXLVEc31mpTP6ZHxrhquHjzkSuxoFB0vAwV5RUnSAtNyYa5q7LykOaj27nw4TxMunhHtP0iR9wf29OjOJvJhFQ30acFLtu45CkKg6ljWh30n28UYxXd9llSBxAUD7DDhy_vSLOBhMBmZzlG_eh-pfcYxbQ7V-YmA55TWQCJTvXbgtI5UQS2X6dQtqHw_gUTMDjTDdXCWYUE4d-wtTjlDKoUeVVk6DNZ0rE3kFHyiOYBP1n_4gA1PnhWJIk9Cnr7AJUEi6_Nw3G0GkGCcAsnQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780404195,
          "updated": 1780404195,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/1585576410/4889edf71c6145c38a59dba2c48874a0?api-version=2026-01-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "exportable": true
        },
        "release_policy": {
          "data": "ewogICAgImFueU9mIjogWwogICAgICAgIHsKICAgICAgICAgICAgImFueU9mIjogWwogICAgICAgICAgICAgICAgewogICAgICAgICAgICAgICAgICAgICJjbGFpbSI6ICJzZGstdGVzdCIsCiAgICAgICAgICAgICAgICAgICAgImVxdWFscyI6ICJ0cnVlIgogICAgICAgICAgICAgICAgfQogICAgICAgICAgICBdLAogICAgICAgICAgICAiYXV0aG9yaXR5IjogImh0dHBzOi8vZXh0ZXJuYWxrZXlzZGtzaXRlLmF6dXJld2Vic2l0ZXMubmV0LyIKICAgICAgICB9CiAgICBdLAogICAgInZlcnNpb24iOiAiMS4wLjAiCn0"
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "BadParameter",
          "message": "AKV.SKR.1014: Cannot modify the exportable state of a key."
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_ATTESTATION_URL": "https://externalkeysdksite.azurewebsites.net/",
    "AZURE_KEYVAULT_URL": "https://externalkeysdk.vault.azure.net/",
    "RandomSeed": "1767488481"
  }
}
