{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/318363489/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/318363489/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://joncarde-kv.vault.azure.net/keys/318363489/0a25dbfe2d94476aa53e627c630f5eb4",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "opKyBJhfzx_iIEDm_c7uwBetSOI677yoyuFRLr4E2uGD9R88rNbH0Lrz_1vm3_I-BZ4JgNV7juaWVBHR2sOGFfrLXIHv8s8YmrtNvQ791FXE2LStC977oWAnwuZBdV6lAFZdzFV9pVYOvA7kA_177t-dP6PCTlBxsvzkQmjNNNZQETTCSNceSqsYe988qinLy4GhV9b86m_Fai3pDkWOlEEyCGxDyD3v1VRM0zDgZs0Mc2onDECEQoy4miNU_1VO1-XDVKBLyIjaBKdBbvxZMIbzLaqmONLHlIAAkEJWvsA5TBuT30fTHb1UhCxqYZ6oYJIKh8T0HITkHRFCSo2VNQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1781140084,
          "updated": 1781140084,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 10,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/318363489/rotate?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
      [...]
