{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/837064303/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/837064303/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://joncarde-kv.vault.azure.net/keys/837064303/1ac68d826f3a4fdfbd43633f6684a24c",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yJwn23jcVfA1qipLokDlz3WWazSeYYbw984rMSWkwIEv2rJciDegS_swX10L6neHr951UaBGFFIvIFf4pHklFN6Be-tjQQlWVw14tXPO_srit5E_z1dc-PZP9HatEJqx_zgLUC7pINRb3aahvN3XMSVme7H_aVosbDlItcSbyfPGTkWjDK3rgK9H5YPMUESrdKDf2PMZKHgtkQmzX8bnqxm7_uQmvBoBPLVaNsUkeIIcsHFeKy_Eckv5dF5I-iTHkgxWoO-JfYmEs2AEz-4jKWN4F5Wh8H2VhF3IILgz17oc_dqwF0rExU-APN-f-yTleToy4BjN884F32jacpfZfQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1781140239,
          "updated": 1781140239,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 10,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/837064303/rotate?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
      [...]
