{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/679486668/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/679486668/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_ops": [
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/679486668/54e583e771744d1b953ad1761d3f4801",
          "kty": "RSA-HSM",
          "key_ops": [
            "verify"
          ],
          "n": "nKRQ5Y1ippx37dReaDitKZ4oq3dqczrm8XYOSs0Dq_Q1ttnonipjKypqO_F2U7JU0qaEqAMa55Y2kLII4WaaebG7dTurpFUWzADRMCUoVImGcxXHMuS-9EAIMkEIodcNDtul_k_ZAwyY7XhttwpdBJH63PvsT6UaFcxB7pgGKSSmHlitYXBaXWY0tdR1GrQjVv51B3LlbaltYMTex4d7SUULw4t1I7SSo07UnFJmaOED0nPTjIRSdjofBxFXWHZcylETyhLLwC0Stz9sE5sbr6QukoIxaljOdG7i1ejJODC2K2MJ2j95RsDmI250qBbhnzoXHCszFHK8qr9Xru7zrQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1756401690,
          "updated": 1756401690,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/679486668/54e583e771744d1b953ad1761d3f4801?api-version=2025-06-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1756488090,
          "exportable": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/679486668/54e583e771744d1b953ad1761d3f4801",
          "kty": "RSA-HSM",
          "key_ops": [
            "verify"
          ],
          "n": "nKRQ5Y1ippx37dReaDitKZ4oq3dqczrm8XYOSs0Dq_Q1ttnonipjK[...]
