{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1878546206/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1878546206/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_ops": [
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/1878546206/81db131381be4c2aa04507a24dbcaf47",
          "kty": "RSA-HSM",
          "key_ops": [
            "verify"
          ],
          "n": "rY-NY9_9DEo3ncU-J9kseEMbwPOTHQY4pmgbn5_u9Q0WBK104XZqze9bYsPaDF_M6OjYtZ63Q5IfUvpdCFmyCdmmjYcWhKvY1DS9tY4Q967WuK_5MNHziYVn-xSmuymI55lhoHTBfzv2_NZbNNLg0lEVfjn5H3g_evRhX_UwwoJe03zY6jzBOr7oL4oFKum-ylup_0fZHgwGEnUWxSThW4NkPnpoZuzN0ptrq_aaNszPiuTXyfIrg6w_QcP3MSWjGwXDKWrM_3KOZvm-GmRZIPwumtClVWpMqepFuFBmYzxV_vbh5UQEFFEwRa8Z7B8aLV1mhGw_EatP7-BQXd86Fw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1742930659,
          "updated": 1742930659,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "1"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1878546206/81db131381be4c2aa04507a24dbcaf47?api-version=7.6-preview.2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1743017059,
          "exportable": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/1878546206/81db131381be4c2aa04507a24dbcaf47",
          "kty": "RSA-HSM",
          "key_ops": [
            "verify"
          ],
          "n": "rY-NY9_9DEo3ncU-J9kseEMbwPOTHQY4pmgbn5_u9Q0WBK104XZqze9bYsPaDF_M6OjYtZ63Q5IfUvpdCFmyCdmmjYcWhKvY1DS9tY4Q967WuK_5MNHziYVn-xSmuymI55lhoHTBfzv2_NZbNNLg0lEVfjn5H3g_evRhX_UwwoJe03zY6jzBOr7oL4oFKum-ylup_0fZHgwGEnUWxSThW4NkPnpoZuzN0ptrq_aaNszPiuTXyfIrg6w_QcP3MSWjGwXDKWrM_3KOZvm-GmRZIPwumtClVWpMqepFuFBmYzxV_vbh5UQEFFEwRa8Z7B8aLV1mhGw_EatP7-BQXd86Fw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "exp": 1743017059,
          "created": 1742930659,
          "updated": 1742930660,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "1"
        }
      }
    },
[...]
