{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/396191857/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/396191857/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekvv76.vault.azure.net/keys/396191857/1ed52f65b64648a18f41eb0347907ad2",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "iz3VbIftxoeL5JTRfEBXHsAcZFOxrikbkk3Eq_8ZSPnWoFH_9n9EWVGxV-5w0LfMPHf91zUjn8U1wBeCVH3_zOxu9_WTnNbtgwAgrWLnpeT8oEakiaOxlDKZjlF4HIhG7QEnKvVD1tr35Qv-fkOjeY8viD2t16XPuPonCSbHCgMt1Xg-SNsVKnBINQkqHJIWCSOu7P-Y15yCoTXo02R-I-EOd9rDLNXZdRDg9HD7soPnQD7hqftybZlTmbkvF-oyMpW-nQrbpR0quNx-WUobu4UrmbcQhqeQGnBMtpsK-FQilBku1d0x0JzXbJG_u5CMJP3j-13qj6HaCg3PRRxaGQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1750762132,
          "updated": 1750762132,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/396191857/1ed52f65b64648a18f41eb0347907ad2?api-version=7.6",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1750762132,
          "exportable": false
        },
        "key_ops": [
          "encrypt",
          "decrypt",
          "sign",
          "verify",
          "wrapKey",
          "unwrapKey"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekvv76.vault.azure.net/keys/396191857/1ed52f65b64648a18f41eb0347907ad2",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "iz3VbIftxoeL5JTRfEBXHsAcZFOxrikbkk3Eq_8ZSPnWoFH_9n9EWVGxV-5w0LfMPHf91zUjn8U1wBeCVH3_zOxu9_WTnNbtgwAgrWLnpeT8oEakiaOxlDKZjlF4HIhG7QEnKvVD1tr35Qv-fkOjeY8viD2t16XPuPonCSbHCgMt1Xg-SNsVKnBINQkqHJIWCSOu7P-Y15yCoTXo02R-I-EOd9rDLNXZdRDg9HD7soPnQD7hqftybZlTmbkvF-oyMpW-nQrbpR0quNx-WUobu4UrmbcQhqeQGnBMtpsK-FQilBku1d0x0JzXbJG_u5CMJP3j-13qj6HaCg3PRRxaGQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "exp": 1750762132,
          "created": 1750762132,
          "updated": 1750762132,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekvv76.vault.azure.net/",
    "RandomSeed": "715828698"
  }
}
