{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/128681533/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/128681533/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "tags": {
          "A": "1",
          "B": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://joncarde-kv.vault.azure.net/keys/128681533/c284df79c0b54e41b8f3dff3043b7ebc",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "ruGGzSCWrTN7EuHnNZgcb0s1XyNNpIEKta85kZbaERnisIzEnvvIneGv2eXJBja3mBKOGHe0ziTOIBaTfr1YkN1pyFwrj29suDN_ptSmua2CoiLsVrJ7QFsT-MWojEO6TjN4sC5Tnb6deRR7-7O2pZuGwDBnkFR44yQaRNoo4-hWM-4vLxUgopdqlq7M9CZzrBcPytVBoUuYN-XQTJS3rN7lDUfY2a6w2ajgDiKQ3N6Kw-L9JkLEu1-o0OEiRwPnXWssyK_FtRkK2WhBlx3Bi8AhMS-Gc3vXgYdMp0G9-UwdriUdCBr0Df6LdxMC4N7iZilwRCv2gETcREQNmTfnkw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1781239658,
          "updated": 1781239658,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "2"
        },
        "tags": {
          "A": "1",
          "B": "2"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/128681533/c284df79c0b54e41b8f3dff3043b7ebc?api-version=2026-01-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "attributes": {
      [...]
