{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/2141709456/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/2141709456/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_ops": [
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/2141709456/7811c3709625474c90b391545b48d8be",
          "kty": "RSA-HSM",
          "key_ops": [
            "verify"
          ],
          "n": "lTZxkUJcxzMJNbjG1mp4kSejTdILrpKQppb6P2AvULxwobBWUThgZZP7795jvAB0UTE0nSTj5ERyWBNJUJx_ZnP87FofVqL6f8dYJJ3WiWhY5pDmge5y6-slgyPryDYqgROpO7DS6NlHrgu6XeuVaE1CL8iuoZG-i135O5s-G2zzidxGBcwXEU05i0r7-52MNJc7qsgt3DomFIrBd85pavwTAh1WqeWqvSD56xSsffqW_AIcm2MKWzvv3A8ktnNkXTjK6GEIicYYBGkJcbZijiQVt7nCZZlYlmIeknx0j-XWnsAdNcK1iWpU1_iTZw4IjIrTY2wQSx9kqRH0a5rRYQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1742931193,
          "updated": 1742931193,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "1"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/2141709456/7811c3709625474c90b391545b48d8be?api-version=7.6-preview.2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1743017593,
          "exportable": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/2141709456/7811c3709625474c90b391545b48d8be",
          "kty": "RSA-HSM",
          "key_ops": [
            "verify"
          ],
          "n": "lTZxkUJcxzMJNbjG1mp4kSejTdILrpKQppb6P2AvULxwobBWUThgZZP7795jvAB0UTE0nSTj5ERyWBNJUJx_ZnP87FofVqL6f8dYJJ3WiWhY5pDmge5y6-slgyPryDYqgROpO7DS6NlHrgu6XeuVaE1CL8iuoZG-i135O5s-G2zzidxGBcwXEU05i0r7-52MNJc7qsgt3DomFIrBd85pavwTAh1WqeWqvSD56xSsffqW_AIcm2MKWzvv3A8ktnNkXTjK6GEIicYYBGkJcbZijiQVt7nCZZlYlmIeknx0j-XWnsAdNcK1iWpU1_iTZw4IjIrTY2wQSx9kqRH0a5rRYQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "exp": 1743017593,
          "created": 1742931193,
          "updated": 1742931193,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "1"
        }
      }
    },
[...]
