{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/1885953120/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/1885953120/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://externalkeysdk.vault.azure.net/keys/1885953120/e39926136d1e4ead87f70be938bd6ce8",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "gyCpSJOCay5rL-NvOn9tVC0AbRi0CXjPgm8zV6589fI",
          "y": "0lA1ZaA9IEiLAU93OhniWBfjevIauvL5JY_aNut29xs"
        },
        "attributes": {
          "enabled": true,
          "created": 1780404206,
          "updated": 1780404206,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/1885953120/e39926136d1e4ead87f70be938bd6ce8?api-version=2026-01-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1780404206,
          "exportable": false
        },
        "key_ops": [
          "sign",
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://externalkeysdk.vault.azure.net/keys/1885953120/e39926136d1e4ead87f70be938bd6ce8",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "gyCpSJOCay5rL-NvOn9tVC0AbRi0CXjPgm8zV6589fI",
          "y": "0lA1ZaA9IEiLAU93OhniWBfjevIauvL5JY_aNut29xs"
        },
        "attributes": {
          "enabled": true,
          "exp": 1780404206,
          "created": 1780404206,
          "updated": 1780404206,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://externalkeysdk.vault.azure.net/",
    "RandomSeed": "453133502"
  }
}
