{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1803685433/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1803685433/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1803685433/f1a320ddc86b4b918f46a0ad2f264640",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "hY4EaDIwx2oIJc_cY1lTeaGXmLva75YHxNJwgwXQrDKFcl82AgBpN50e2iD-TbkLd8oWLlIVYv6EZwqO-30t2nldAxTj4uXyMJrGn04PKPkGqj3nhmHFNjby3AoBc0igY4V1tt0mQw6yM1fdPoI50mEX2OEsn_n84L6LqXowokBBnce1CtaxoHmE3FO29O0vIRVO_xRHXVtA_pNcnjPCG94Lb-D9AwX33NsuWSl-3wHkVX3DYLuxDnd89TSdyYLSgZjwZHp-YQcToGYGuR4eL4NcNUHAOueEjaHxFNanpt7rjO14vLoy4dK1Ndp8mViKBpxon4Q2apYh0VJfNVtkuw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1707530226,
          "updated": 1707530226,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1803685433/f1a320ddc86b4b918f46a0ad2f264640?api-version=7.5",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": false,
          "exportable": false
        },
        "key_ops": [
          "encrypt",
          "decrypt",
          "sign",
          "verify",[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1803685433/?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1803685433/f1a320ddc86b4b918f46a0ad2f264640",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "hY4EaDIwx2oIJc_cY1lTeaGXmLva75YHxNJwgwXQrDKFcl82AgBpN50e2iD-TbkLd8oWLlIVYv6EZwqO-30t2nldAxTj4uXyMJrGn04PKPkGqj3nhmHFNjby3AoBc0igY4V1tt0mQw6yM1fdPoI50mEX2OEsn_n84L6LqXowokBBnce1CtaxoHmE3FO29O0vIRVO_xRHXVtA_pNcnjPCG94Lb-D9AwX33NsuWSl-3wHkVX3DYLuxDnd89TSdyYLSgZjwZHp-YQcToGYGuR4eL4NcNUHAOueEjaHxFNanpt7rjO14vLoy4dK1Ndp8mViKBpxon4Q2apYh0VJfNVtkuw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": false,
          "created": 1707530226,
          "updated": 1707530226,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "769430139"
  }
}
