{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/230261231/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/230261231/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://externalkeysdk.vault.azure.net/keys/230261231/91e7f54544cd44d2b5b397efdeda351a",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "qljeUTLoPN26tVn4RAIcNzORKbFUiVv0rJbVvsnmrQARQpnxiCXBT5TEneggiW8TZes8Ngetq6Xy09zyGfKdRjYrr_DFbsmoTjFaT2MuxmHbye7Yp3_VaMi1lgFOWIdi4OIU1SmxjaCSRrnhmNd2QxFtlQgMyVRlAPHQ-CfPk3HqHNFA76rc9icQ6BNWGcuKZ-KE8LGztqQE03YuwWO46k7WBMyLahY5OiAOt4Nq9Ee-nDitOSNYBafZBqrvOWEt_2eMGZhWE2UwPdQ8wy1PONkqzgedMRjSPCKZ5hQh4Fiis5P9VkOpRxzzRsOabbfdFMq6JPPMawGjejfEMjHEHQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780403872,
          "updated": 1780403872,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/230261231/91e7f54544cd44d2b5b397efdeda351a?api-version=2026-01-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": false,
          "exportable": false
        },
        "key_ops": [
          "encrypt",
[...]
