{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1219414615/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1219414615/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/1219414615/a8d892a7b7994833b99550f1573b2578",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "iIjobWpjymNHHXCNgAjoI-YMa31b0vX28TjN9VOBzfUaAkKmoTsRYudXY7xl0lv96s_bN9HSM8dZMdeSttiNCvhjxMyHgZbmc8OoIsB3yGfCxlt35Dddm9f7v7QJ0j3CNqPgryG2h1zWbP3lzgLHDomBq3JJX0AZK-cKAoEkZwSj0OyJloN_rKbbfqIElYbfFhm3Tn6KPdi6cZtnSSdTN3b3BWIDvEp_D2J0iw32KHqlgZZ2g_1aAHdrPUa_bspBkHFiMgHDWOA27_ur6lWNTf2h1Oawo-CsOPZai9WfMLNFG26Xl8_xkUyUAnmqcZucbjgUNmgcPTlP5uRKJpyvrw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1742930649,
          "updated": 1742930649,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "1"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1219414615/a8d892a7b7994833b99550f1573b2578?api-version=7.6-preview.2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": false,
          "exportable": false
        },
        "key_ops": [
          "encrypt",
          "decrypt",
          "sign",
          "[...]
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1219414615/?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/1219414615/a8d892a7b7994833b99550f1573b2578",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "iIjobWpjymNHHXCNgAjoI-YMa31b0vX28TjN9VOBzfUaAkKmoTsRYudXY7xl0lv96s_bN9HSM8dZMdeSttiNCvhjxMyHgZbmc8OoIsB3yGfCxlt35Dddm9f7v7QJ0j3CNqPgryG2h1zWbP3lzgLHDomBq3JJX0AZK-cKAoEkZwSj0OyJloN_rKbbfqIElYbfFhm3Tn6KPdi6cZtnSSdTN3b3BWIDvEp_D2J0iw32KHqlgZZ2g_1aAHdrPUa_bspBkHFiMgHDWOA27_ur6lWNTf2h1Oawo-CsOPZai9WfMLNFG26Xl8_xkUyUAnmqcZucbjgUNmgcPTlP5uRKJpyvrw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": false,
          "created": 1742930649,
          "updated": 1742930650,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "1"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekv318.vault.azure.net/",
    "RandomSeed": "1922459524"
  }
}
