{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1038483231/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1038483231/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/1038483231/a9efc70e884c44239ccf8f8e2449213d",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "iQ21NsV36bEV84nrGIxoghx-Xje0DqkRIUTVj-MwIUItsAo0Licg9zKyR1F9T6aJWQKkB5Kl6KSwP5w1oM1Mtf3mckVwVEVo5QSoap75TCmiv0aRU9eWWJtvHZolaNL9H5SWT806uoLxVdSqN9hysp0qMkVdubvSGGtAFsLQX4uPSdJW9DfnZl69pI1VXWzAaVjri78qZsi86ApfeyYKWazO0L9PXi1DLsnbq_8EoEsuFlqsI2t7Mgs413BEke6qT8-DIJ68JXaDlJZdp-Qr5x2waT9iyRXYZgijbDC37aaTpTZPRJOY8dgQNG0mf7pKP4vqN3zItLLzYWQS8L6vKw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1742930640,
          "updated": 1742930640,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "1"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1038483231/a9efc70e884c44239ccf8f8e2449213d?api-version=7.6-preview.2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1742930640,
          "exportable": false
        },
        "key_ops": [
          "encrypt",
          "decrypt",
          "sign",
          "verify",
          "wrapKey",
          "unwrapKey"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/1038483231/a9efc70e884c44239ccf8f8e2449213d",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "iQ21NsV36bEV84nrGIxoghx-Xje0DqkRIUTVj-MwIUItsAo0Licg9zKyR1F9T6aJWQKkB5Kl6KSwP5w1oM1Mtf3mckVwVEVo5QSoap75TCmiv0aRU9eWWJtvHZolaNL9H5SWT806uoLxVdSqN9hysp0qMkVdubvSGGtAFsLQX4uPSdJW9DfnZl69pI1VXWzAaVjri78qZsi86ApfeyYKWazO0L9PXi1DLsnbq_8EoEsuFlqsI2t7Mgs413BEke6qT8-DIJ68JXaDlJZdp-Qr5x2waT9iyRXYZgijbDC37aaTpTZPRJOY8dgQNG0mf7pKP4vqN3zItLLzYWQS8L6vKw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "exp": 1742930640,
          "created": 1742930640,
          "updated": 1742930641,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "1"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekv318.vault.azure.net/",
    "RandomSeed": "444381500"
  }
}
