{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/384815602/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/384815602/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/384815602/afd3d339f3384c6d814694aa82be37f0",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tqZS5zW4a9mkyGxuMIzvweZe56zl3OFpiuDoBHikzt8THTR3IjsxVLOhgyueSwRttP4YrJ2VcmYeg08XMUSgR8h4omFwP2tkSGhJvjOHryx30am5J80DwLO8Py_FOKIUiH0AslpBGzlTyWRwK3iA9QcymjjAX2t0YaHLQ6ITEkIbO3PH6LkR9WH8OqlX4Fv6UHLCuCoF2_n78ft5Wex-KlNzmSjF4dSJSxJhzD0F2415hmeg4mB55BTHJVunxJBa6CImUrmBKnA7OVtiT1zUOklm2ToJdcadmOP36LQ4BFOG7T1hGBTJ0NniA3fKoozxG-KZycK8UOJgzacETPP9yQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1692998359,
          "updated": 1692998359,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "1"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/384815602/afd3d339f3384c6d814694aa82be37f0?api-version=7.5-preview.1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1692998359,
          "exportable": false
        },
        "key_ops": [
          "encrypt",
          "decrypt",
          "sign",
          "verify",
          "wrapKey",
          "unwrapKey"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/384815602/afd3d339f3384c6d814694aa82be37f0",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tqZS5zW4a9mkyGxuMIzvweZe56zl3OFpiuDoBHikzt8THTR3IjsxVLOhgyueSwRttP4YrJ2VcmYeg08XMUSgR8h4omFwP2tkSGhJvjOHryx30am5J80DwLO8Py_FOKIUiH0AslpBGzlTyWRwK3iA9QcymjjAX2t0YaHLQ6ITEkIbO3PH6LkR9WH8OqlX4Fv6UHLCuCoF2_n78ft5Wex-KlNzmSjF4dSJSxJhzD0F2415hmeg4mB55BTHJVunxJBa6CImUrmBKnA7OVtiT1zUOklm2ToJdcadmOP36LQ4BFOG7T1hGBTJ0NniA3fKoozxG-KZycK8UOJgzacETPP9yQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "exp": 1692998359,
          "created": 1692998359,
          "updated": 1692998360,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "1"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "196264985"
  }
}
