{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1605747364/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1605747364/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "tags": {
          "A": "1",
          "B": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekvv76.vault.azure.net/keys/1605747364/ffd8bfda40a943a5abb8a290a88dafaf",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tQinzNfclEWJXMXLAWv-jImzIHu_1px77RhtPh25ceIjkC8FCLRqAQ9kFneqB5otDN2v0jx6FV4se8UEV4a3csY4yhorCny_L2di7RCR_7U1g4FyoC1KJ3lO7dBFaDI2N9pXQZRvgstujyajEviXd17ohJTrITJpGk5AV3ZYVlRQLrbqWo2ezo-DhOmdVCPdp_GjaTBQCy3FvbJuaXaMnioLN9x9i_A7wE0oqoRV_ZMhk256usLC1Hx78S_DBAackuStukAG5HV7BTozTKHAO2ULwVb2CLdgw5EdZbhVC_NNTluhbcSZlR0NnoB8s7YtZXiJtHOxWA18bRBT1Zm3EQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1750762160,
          "updated": 1750762160,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        },
        "tags": {
          "A": "1",
          "B": "2"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1605747364/ffd8bfda40a943a5abb8a290a88dafaf?api-version=7.6",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exportable": false
        },
        "tags": {
          "A": "1",
          "B": "3",
          "C": "4"
        }
      },
      "[...]
[...]
