{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1179158462/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1179158462/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/1179158462/88c7396787b44b1eb3314cd8b723af6d",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "ww3xvgUkQSaXE_gdKD0X8QYFJGUXMitWu3fmIO1_bbThaZWAKEQ7At1fBZmzWk0rBHhG0n4rineX4sXr5kJONEHxwJbKMKJue6SyqwC60Hc9oUbRfj3f5MHXoRNCMEwIaV5Xn3fJdw431R8N7YCL5i-wH7vZqGs7KE5-CP79aIPlWKih2JR1ue3N1iSOotEIwb_FlD2Q8EhnAitlP85i_htx7lJ0J5VECoIFZVRwXMaXy4Y5eiX1F_RNzPn3irwgobBraCdNVFO764lCbc9r00VcdrfpmkpvO--eMnY51jmaBT9xQdhOk1ZLht3TzCy1iu3hLyj8P8FTNpgl2db-VQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1742931174,
          "updated": 1742931174,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "1"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1179158462/88c7396787b44b1eb3314cd8b723af6d?api-version=7.6-preview.2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1742931174,
          "exportable": false
        },
        "key_ops": [
          "encrypt",
          "decrypt",
          "sign",
          "verify",
          "wrapKey",
          "unwrapKey"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/1179158462/88c7396787b44b1eb3314cd8b723af6d",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "ww3xvgUkQSaXE_gdKD0X8QYFJGUXMitWu3fmIO1_bbThaZWAKEQ7At1fBZmzWk0rBHhG0n4rineX4sXr5kJONEHxwJbKMKJue6SyqwC60Hc9oUbRfj3f5MHXoRNCMEwIaV5Xn3fJdw431R8N7YCL5i-wH7vZqGs7KE5-CP79aIPlWKih2JR1ue3N1iSOotEIwb_FlD2Q8EhnAitlP85i_htx7lJ0J5VECoIFZVRwXMaXy4Y5eiX1F_RNzPn3irwgobBraCdNVFO764lCbc9r00VcdrfpmkpvO--eMnY51jmaBT9xQdhOk1ZLht3TzCy1iu3hLyj8P8FTNpgl2db-VQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "exp": 1742931174,
          "created": 1742931174,
          "updated": 1742931175,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "1"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekv318.vault.azure.net/",
    "RandomSeed": "1235949320"
  }
}
