{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1074442371/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1074442371/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1074442371/59ac1c4db84f4eceaa83ef7cf02e3c2f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "1-vSQjLmxryk9CLTC7yTJzoWkeJHx-d_xAeLrvdXbLE2SW5JMRl52vWTxLGvjVz02b2DHVTzdPi78vdq-P3L5y3Fa1dtDcbxg2lCnOWJFxYftOBQnAf-J4o08fiCzwwvAhq5wammoMnJlqTjuG9vcUFum81I3BiggMpGOpZp65B08Bf5BwKJLBf7lU9AiVAq1u2OGIOeY9INq1h4MqXyc5DoJ-LM27ymCLWvhSARAWBk7l1D_016OymQkHALetE8xjR8KXottpSEBaTs68_a-U8gpDwfezn0E80A-TMkXlqb5T9gOltLfbi_7BAFCsm15DkMhcDA_LUSggsxF2XpSQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1692998355,
          "updated": 1692998355,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1074442371/rotationpolicy?api-version=7.5-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lifetimeActions": [
          {
            "trigger": {
              "timeBeforeExpiry": "P10D"
            },
            "action": {
              "type": "Rotate"
            }
          }
        ],
        "attributes": {
          "expiryTime": "P90D"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1074442371/rotationpolicy",
        "lifetimeActions": [
          {
            "trigger": {
              "timeBeforeExpiry": "P10D"
            },
            "action": {
              "type": "Rotate"
            }
          },
          {
            "trigger": {
              "timeBeforeExpiry": "P30D"
            },
            "action": {
              "type": "Notify"
            }
          }
        ],
        "attributes": {
          "expiryTime": "P90D",
          "created": 1692998355,
          "updated": 1692998355
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "2129318897"
  }
}
