{
  "Entries": [
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/553355880/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/553355880/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "tags": {
          "A": "1",
          "B": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/553355880/fb68bb3cec6444f1920ef8e574b54af7",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "huicsimOYh2v6G6uruwtC8bPZICcCFvQzXseMdv9ocoo5V2mMVfmS6_RS3TQm3Gw9y4dT53_7wglPb3qwlxSK4ktjp0guM9CgRCgl80zzampwYmw8HFnFUjVlmDYhoIf1VmRbSdq3r4A-rSiTOlxmuUW37Lby6ZDo2cF_QswawGxrA2P0-sohOpq5L6oODH8J3rmKmIup16iAmuQTX_Klfcr9MpVwnRdMoNEAoH4caZThuVZZA1yoi0ffyXS6-y_eZqE0dpZzZpufP9x1DfUSMhHvSPt_LooFqMcK3FDwF34THg6o0PXu8hanhu4jWVvB6fcqJFMdc3njotWkSSzQQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1722561630,
          "updated": 1722561630,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        },
        "tags": {
          "A": "1",
          "B": "2"
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/553355880/fb68bb3cec6444f1920ef8e574b54af7?api-version=7.6-preview.1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exportable": false
        },
        "tags": {
          "A": "1",
          "B": "3",
          "C": "4"
        }
     [...]
[...]
