{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/635775002/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/635775002/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "tags": {
          "A": "1",
          "B": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/635775002/c6b0d215d1ac4d199e76e2cf3b41c20f",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "3txAKIEn1jPK3z5bmq9NiucqNf9zhEiH54OEvdPnZQoFd3eishhjlkzDMc7IpOo9Yp0WQFCIYJiipUnw2AVfrc17AU4Q4f29LkXHMnzFu4pvPPbhpQFeQVbmnKO4pSw9VVT3TsSAmbLbtPFJ7cxP0CeqidgjBowUgEx0BHZ6NWP81LQHstD3OaBIfAIdfzdCQYmWl_t8wI0oOldXUmwkAXSlALPsAwB0BkMiCwiyujJObdd45Uiw-MSPE1SY3J4nMJxsydr7NLHxhk76yFwSMnYFiaLPMINSm4z2qXmZtTbBSttHEn0XVtxuHVayYAJobfcMWkJRwmBZIs6n0fbiSQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1756404205,
          "updated": 1756404205,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        },
        "tags": {
          "A": "1",
          "B": "2"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/635775002/c6b0d215d1ac4d199e76e2cf3b41c20f?api-version=2025-06-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "ex[...]
