{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/435994074/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/435994074/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM",
        "key_ops": [
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekvv76.vault.azure.net/keys/435994074/05503cd7ff5b45faa05b99278300de68",
          "kty": "EC-HSM",
          "key_ops": [
            "verify"
          ],
          "crv": "P-256",
          "x": "HcUFnHIo65r6itV5Cpow6wcjG8wjdr9Y-EBYjfdgFzM",
          "y": "rmva5fQesvtE7Be5fs0X4QQNau2G6fg9th6bOGaWpSo"
        },
        "attributes": {
          "enabled": true,
          "created": 1750761507,
          "updated": 1750761507,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/435994074/05503cd7ff5b45faa05b99278300de68?api-version=7.6",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1750847907,
          "exportable": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekvv76.vault.azure.net/keys/435994074/05503cd7ff5b45faa05b99278300de68",
          "kty": "EC-HSM",
          "key_ops": [
            "verify"
          ],
          "crv": "P-256",
          "x": "HcUFnHIo65r6itV5Cpow6wcjG8wjdr9Y-EBYjfdgFzM",
          "y": "rmva5fQesvtE7Be5fs0X4QQNau2G6fg9th6bOGaWpSo"
        },
        "attributes": {
          "enabled": true,
          "exp": 1750847907,
          "created": 1750761507,
          "updated": 1750761507,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/435994074/05503cd7ff5b45faa05b99278300de68?api-version=7.6",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1750847907,
          "exportable": false
        },
        "key_ops": [
          "sign",
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekvv76.vault.azure.net/keys/435994074/05503cd7ff5b45faa05b99278300de68",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "HcUFnHIo65r6itV5Cpow6wcjG8wjdr9Y-EBYjfdgFzM",
          "y": "rmva5fQesvtE7Be5fs0X4QQNau2G6fg9th6bOGaWpSo"
        },
        "attributes": {
          "enabled": true,
          "exp": 1750847907,
          "created": 1750761507,
          "updated": 1750761508,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekvv76.vault.azure.net/",
    "RandomSeed": "860026188"
  }
}
