{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1927100244/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1927100244/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekvv76.vault.azure.net/keys/1927100244/1a7ff000e8c34e08a11af11d3a795f9a",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "kwSsCqBs5_axpVN2eQm59ZMRsKNg353pJv3h9uLd9j9Hs4fvG4VawgaFZwn7LEr4oEiSVfrZ6ew4CpYNfkzXYRWXFUu92drNCVy-7sc8XBKGwelgjfFVwwrj429r-ZW9l3Urd-mYD0xsNDs0K__AU0--RDwH2E_Qu5Jz4GrqJuCpV8StErNTRg7udKCPH7fIrZKQ_06fR6We7D2j0snX0Ns9adqPe7DGbt-0B1FH0aVAQszrJlBPwWNMttMLmHUZvckRDCzLxWuNJImMpXQNpEJv6x0GMml10Bm6I2M-vKeqm0TDZxT8LoOh-0QWQQN52NeCjhFDFbLahkuNRcGL2w",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1750761572,
          "updated": 1750761572,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1927100244/1a7ff000e8c34e08a11af11d3a795f9a?api-version=7.6",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1750761572,
          "exportable": false
        },
        "key_ops": [
          "encrypt",
          "decrypt",
          "sign",
          "verify",
          "wrapKey",
          "unwrapKey"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekvv76.vault.azure.net/keys/1927100244/1a7ff000e8c34e08a11af11d3a795f9a",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "kwSsCqBs5_axpVN2eQm59ZMRsKNg353pJv3h9uLd9j9Hs4fvG4VawgaFZwn7LEr4oEiSVfrZ6ew4CpYNfkzXYRWXFUu92drNCVy-7sc8XBKGwelgjfFVwwrj429r-ZW9l3Urd-mYD0xsNDs0K__AU0--RDwH2E_Qu5Jz4GrqJuCpV8StErNTRg7udKCPH7fIrZKQ_06fR6We7D2j0snX0Ns9adqPe7DGbt-0B1FH0aVAQszrJlBPwWNMttMLmHUZvckRDCzLxWuNJImMpXQNpEJv6x0GMml10Bm6I2M-vKeqm0TDZxT8LoOh-0QWQQN52NeCjhFDFbLahkuNRcGL2w",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "exp": 1750761572,
          "created": 1750761572,
          "updated": 1750761572,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekvv76.vault.azure.net/",
    "RandomSeed": "1692459818"
  }
}
