{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/47538251/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/47538251/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_ops": [
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://externalkeysdk.vault.azure.net/keys/47538251/7805ff4be3ab48f09bf9a6fcfeecdec6",
          "kty": "RSA-HSM",
          "key_ops": [
            "verify"
          ],
          "n": "vMWemykq8frsyI92wtT23YsPhnPJD3zTIHKJ4hBNZlNQHJEFBjlXyR8bQnCaxVKazr9kAPbbheVitc7mtssuZhw4I6WSES5xeXCRTY9jxAqUThcxokVxicZ4LxRvNIpO7nyxyFnTzbFlUbUOafStOpxOpeA1P7AbhE3fq_C_T_jhJKO9It9wDp8Lpr9-lvu14HPftuCLVR10CcMnaP6r6A7o0Z7dxuUEa-Xal4SIrknZm6-JOu-p6AFO5dME5cXnEcnV4N4E-rQsZKbsOh77YJtqQ6RlEyVl2glGb_satx3W0HepHZuPlSyAvgeSNZcyG9Tf8A8TtANuYHXyfriDjQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780403876,
          "updated": 1780403876,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/47538251/7805ff4be3ab48f09bf9a6fcfeecdec6?api-version=2026-01-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1780490277,
          "exportable": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://externalkeysdk.vault.azure.net/keys/47538251/7805ff4be3ab48f09bf9a6fcfeecdec6",
          "kty": "RSA-HSM",
          "key_ops": [
            "verify"
          ],
          "n": "vMWemykq8frsyI92wtT23YsPhnPJD3zTIHKJ4hBNZlNQHJEFBjlXyR8bQ[...]
