{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/779616170/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/779616170/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/779616170/377e8f983e7c4ab18d77d3c0f1af3caf",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "oAuLP9m5tjXxB_KFsBwHY2OYeSDvrgYrMoEJkv3vD_-eHsApunA3DacqPRVrHrg9rgMms3_scKAVZqPPHiJIWSSmO1rwX4vIjycx7GTPB9cjuhyfeo3ce4SRrN30O6Z4LwN4X-LUqx0JmuXFG3lb1Cu-P5QpvJTN1kMEU6PsurJ1t0yVlInq0L-J95XzMA0a7EbwVvDniF8I52roabcAs9Qg65rEs9_lDKcsYMqWgZqk7yYFi9wuDQ2E9894qQJzvXQm1g-599Q-EseCQnsxUoQ124-omfAcAqSXDTt1l3qcRnQch6lE7r8YsnPtC6F4jz06mpttKE87veGoCnyWfw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1707530103,
          "updated": 1707530103,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/779616170/377e8f983e7c4ab18d77d3c0f1af3caf?api-version=7.5",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": false,
          "exportable": false
        },
        "key_ops": [
          "encrypt",
          "decrypt",
          "sign",
          "verify",
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/779616170/?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/779616170/377e8f983e7c4ab18d77d3c0f1af3caf",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "oAuLP9m5tjXxB_KFsBwHY2OYeSDvrgYrMoEJkv3vD_-eHsApunA3DacqPRVrHrg9rgMms3_scKAVZqPPHiJIWSSmO1rwX4vIjycx7GTPB9cjuhyfeo3ce4SRrN30O6Z4LwN4X-LUqx0JmuXFG3lb1Cu-P5QpvJTN1kMEU6PsurJ1t0yVlInq0L-J95XzMA0a7EbwVvDniF8I52roabcAs9Qg65rEs9_lDKcsYMqWgZqk7yYFi9wuDQ2E9894qQJzvXQm1g-599Q-EseCQnsxUoQ124-omfAcAqSXDTt1l3qcRnQch6lE7r8YsnPtC6F4jz06mpttKE87veGoCnyWfw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": false,
          "created": 1707530103,
          "updated": 1707530103,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "1062745919"
  }
}
