{
  "Entries": [
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1204758607/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1204758607/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1204758607/0398e2f7fc2b42f2be4a8bf218b0a783",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "6U3uRGZOog1nk9bidz5761JR-g83P-T5r3pJAi3COK_KDy4Xf-2Ewo6_-lwps2MybOFhSnfKGf9tMBGuBDtHUl6rwMZy-mqF-cNH6bHI7hRM_vUCYONEseQbNxdFY5BFPAgMy58qqgPm5vdK5-G_evZQkKSiYbKabZiARMvi_OCRJGqFucDPz1QVsWK30nEeb9FhUHLfLaJbaYQPavAoc-1uS3gAsnt6ek5ojTD4yOPHHLXTyenPrfaF87N3_d7YrJCqvvgeilptkIjWOxVlzB1aRjsLq4IOphtYxccnnCllJb0b3geuwGoxgyEa07yADxw2Dd6aZl4-ldGgLrm1QQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1724202680,
          "updated": 1724202680,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1204758607/0398e2f7fc2b42f2be4a8bf218b0a783?api-version=7.6-preview.1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": false,
          "exportable": false
        },
        "key_ops": [
          "encrypt",
          "decrypt",
          "sign",
         [...]
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1204758607/?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1204758607/0398e2f7fc2b42f2be4a8bf218b0a783",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "6U3uRGZOog1nk9bidz5761JR-g83P-T5r3pJAi3COK_KDy4Xf-2Ewo6_-lwps2MybOFhSnfKGf9tMBGuBDtHUl6rwMZy-mqF-cNH6bHI7hRM_vUCYONEseQbNxdFY5BFPAgMy58qqgPm5vdK5-G_evZQkKSiYbKabZiARMvi_OCRJGqFucDPz1QVsWK30nEeb9FhUHLfLaJbaYQPavAoc-1uS3gAsnt6ek5ojTD4yOPHHLXTyenPrfaF87N3_d7YrJCqvvgeilptkIjWOxVlzB1aRjsLq4IOphtYxccnnCllJb0b3geuwGoxgyEa07yADxw2Dd6aZl4-ldGgLrm1QQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": false,
          "created": 1724202680,
          "updated": 1724202680,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tb0f745ebb7bfae58.vault.azure.net/",
    "RandomSeed": "562007793"
  }
}
