{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/2131462150/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/2131462150/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "tags": {
          "A": "1",
          "B": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/2131462150/9cf30bfab7af47098dd7e10ac8e267ad",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vVsaoH-Sx4ohJfLoLd7U6Z1ixBRxAhsmGXEHhx5_6Y5pKeqlOFYtakQSunGHC1sVEzLLCcnSbEB_JE8nEakQEfcOjWXfiSXvGOlWzIZRteh-gqt9TzIVlVTix4RoEB5npnlk601V89puttjsuC8ghNCeaG5Pf4hsEKDk_2JEuTrIOMLT69gaN_gP9cg3rp0ZikL4UIc-oxPLgXv0fVafUD_72NLeoXdk4_MQF2KYHe_wFc04zDMI66QMHrx4qzPASbAcoc6nHQkTLikshkX_yVPPmiRyt9jM1YrfTUYQOQrCV_kv4jCiQ7nVJ9aYvGVML2mqDsiTtIHCmsDhzBOIFw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1742930669,
          "updated": 1742930669,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "1"
        },
        "tags": {
          "A": "1",
          "B": "2"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/2131462150/9cf30bfab7af47098dd7e10ac8e267ad?api-version=7.6-preview.2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exportable": false
        },
        "tags": {
          "A": "1",
          "B": "3",
          "C": "4"
        }
      [...]
[...]
