{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177355533176406245?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE825A48482F7E\"",
        "Last-Modified": "Sun, 15 Mar 2026 06:15:40 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177355533176406245?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob177355534050008035",
    "container": "container177355533176406245"
  }
}
