{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "owners": "bebroder,wesh",
          "DoNotDelete": ""
        },
        "subscriptionId": "00000000-0000-0000-0000-000000000000",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure SDK Test Resources - TME",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/SSS3PT_rg-alzimmer?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-alzimmer",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "Owners": "alzimmer",
          "DeleteAfter": "2026-04-13T19:58:52.1460418Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-alzimmer/providers/Microsoft.Web/sites/Sanitized-webapp?api-version=2024-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "1DCC79357C7BCE0",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-alzimmer/providers/Microsoft.Web/sites/Sanitized-webapp",
        "name": "Sanitized",
        "type": "Microsoft.Web/sites",
        "kind": "app",
        "location": "West US 2",
        "properties": {
          "name": "Sanitized",
          "state": "Running",
          "hostNames": [
            "Sanitized-webapp.azurewebsites.net"
          ],
          "webSpace": "SSS3PT_rg-alzimmer-WestUS2webspace",
          "selfLink": "Sanitized",
          "repositorySiteName": "Sanitized-webapp",
          "owner": null,
          "usageState": "Normal",
          "enabled": true,
          "adminEnabled": true,
          "siteScopedCertificatesEnabled": false,
          "afdEnabled": false,
          "enabledHostNames": [
            "Sanitized-webapp.azurewebsites.net",
            "Sanitized-webapp.scm.azurewebsites.net"
          ],
          "siteProperties": {
            "metadata": null,
            "properties": [
              {
                "name": "Sanitized",
                "value": ""
              },
              {
                "name": "Sanitized",
                "value": null
              }
            ],
            "appSettings": null
          },
          "availabilityState": "Normal",
          "sslCertificates": null,
          "csrs": [],
          "cers": null,
          "siteMode": null,
          "hostNameSslStates": [
            {
              "name": "Sanitized",
              "sslState": "Disabled",
              "ipBasedSslResult": null,
              "virtualIP": null,
              "virtualIPv6": null,
              "thumbprint": null,
              "certificateResourceId": null,
              "toUpdate": null,
              "toUpdateIpBasedSsl": null,
              "ipBasedSslState": "NotConfigured",
              "hostType": "Standard"
            },
            {
              "name": "Sanitized",
              "sslState": "Disabled",
              "ipBasedSslResult": null,
              "virtualIP": null,
              "virtualIPv6": null,
              "thumbprint": null,
              "certificateResourceId": null,
              "toUpdate": null,
              "toUpdateIpBasedSsl": null,
              "ipBasedSslState": "NotConfigured",
              "hostType": "Repository"
            }
          ],
          "hostNamePrivateStates": [],
          "computeMode": null,
          "serverFarm": null,
          "serverFarmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-alzimmer/providers/Microsoft.Web/serverfarms/Sanitized-plan",
          "reserved": false,
          "isXenon": false,
          "hyperV": false,
          "sandboxType": null,
          "lastModifiedTimeUtc": "2026-04-08T20:07:36.11",
          "storageRecoveryDefaultState": "Running",
          "contentAvailabilityState": "Normal",
          "runtimeAvailabilityState": "Normal",
          "dnsConfiguration": {},
          "containerAllocationSubnet": null,
          "useContainerLocalhostBindings": null,
          "outboundVnetRouting": {
            "allTraffic": false,
            "applicationTraffic": false,
            "contentShareTraffic": false,
            "imagePullTraffic": false,
            "backupRestoreTraffic": false,
            "managedIdentityTraffic": false
          },
          "legacyServiceEndpointTrafficEvaluation": null,
          "siteConfig": {
            "numberOfWorkers": 1,
            "defaultDocuments": null,
            "netFrameworkVersion": null,
            "phpVersion": null,
            "pythonVersion": null,
            "nodeVersion": null,
            "powerShellVersion": null,
            "linuxFxVersion": "",
            "windowsFxVersion": null,
            "sandboxType": null,
            "windowsConfiguredStacks": null,
            "requestTracingEnabled": null,
            "remoteDebuggingEnabled": null,
            "remoteDebuggingVersion": null,
            "httpLoggingEnabled": null,
            "azureMonitorLogCategories": null,
            "acrUseManagedIdentityCreds": false,
            "acrUserManagedIdentityID": null,
            "logsDirectorySizeLimit": null,
            "detailedErrorLoggingEnabled": null,
            "publishingUsername": null,
            "publishingPassword": null,
            "appSettings": null,
            "metadata": null,
            "connectionStrings": null,
            "machineKey": null,
            "handlerMappings": null,
            "documentRoot": null,
            "scmType": null,
            "use32BitWorkerProcess": null,
            "webSocketsEnabled": null,
            "alwaysOn": false,
            "javaVersion": null,
            "javaContainer": null,
            "javaContainerVersion": null,
            "appCommandLine": null,
            "managedPipelineMode": null,
            "virtualApplications": null,
            "winAuthAdminState": null,
            "winAuthTenantState": null,
            "customAppPoolIdentityAdminState": null,
            "customAppPoolIdentityTenantState": null,
            "runtimeADUser": null,
            "runtimeADUserPassword": null,
            "loadBalancing": null,
            "routingRules": null,
            "experiments": null,
            "limits": null,
            "autoHealEnabled": null,
            "autoHealRules": null,
            "tracingOptions": null,
            "vnetName": null,
            "vnetRouteAllEnabled": null,
            "vnetPrivatePortsCount": null,
            "publicNetworkAccess": null,
            "cors": null,
            "push": null,
            "apiDefinition": null,
            "apiManagementConfig": null,
            "autoSwapSlotName": null,
            "localMySqlEnabled": null,
            "managedServiceIdentityId": null,
            "xManagedServiceIdentityId": null,
            "keyVaultReferenceIdentity": null,
            "ipSecurityRestrictions": null,
            "ipSecurityRestrictionsDefaultAction": null,
            "scmIpSecurityRestrictions": null,
            "scmIpSecurityRestrictionsDefaultAction": null,
            "scmIpSecurityRestrictionsUseMain": null,
            "http20Enabled": false,
            "minTlsVersion": null,
            "minTlsCipherSuite": null,
            "scmMinTlsCipherSuite": null,
            "supportedTlsCipherSuites": null,
            "scmSupportedTlsCipherSuites": null,
            "scmMinTlsVersion": null,
            "ftpsState": null,
            "preWarmedInstanceCount": null,
            "functionAppScaleLimit": 0,
            "elasticWebAppScaleLimit": null,
            "healthCheckPath": null,
            "fileChangeAuditEnabled": null,
            "functionsRuntimeScaleMonitoringEnabled": null,
            "websiteTimeZone": null,
            "minimumElasticInstanceCount": 1,
            "azureStorageAccounts": null,
            "http20ProxyFlag": null,
            "sitePort": null,
            "antivirusScanEnabled": null,
            "storageType": null,
            "sitePrivateLinkHostEnabled": null,
            "clusteringEnabled": false,
            "webJobsEnabled": false
          },
          "functionAppConfig": null,
          "daprConfig": null,
          "aiIntegration": null,
          "deploymentId": "Sanitized-webapp",
          "slotName": null,
          "trafficManagerHostNames": null,
          "sku": "Standard",
          "scmSiteAlsoStopped": false,
          "targetSwapSlot": null,
          "hostingEnvironment": null,
          "hostingEnvironmentProfile": null,
          "clientAffinityEnabled": true,
          "clientAffinityProxyEnabled": false,
          "useQueryStringAffinity": false,
          "blockPathTraversal": false,
          "clientCertEnabled": false,
          "clientCertMode": "Required",
          "clientCertExclusionPaths": null,
          "clientCertExclusionEndPoints": null,
          "hostNamesDisabled": false,
          "ipMode": "IPv4",
          "domainVerificationIdentifiers": null,
          "customDomainVerificationId": "Sanitized",
          "kind": "app",
          "managedEnvironmentId": null,
          "workloadProfileName": null,
          "resourceConfig": null,
          "inboundIpAddress": "Sanitized",
          "possibleInboundIpAddresses": "Sanitized",
          "inboundIpv6Address": "Sanitized",
          "possibleInboundIpv6Addresses": "Sanitized",
          "ftpUsername": "Sanitized-webapp\\$Sanitized-webapp",
          "ftpsHostName": "Sanitized",
          "outboundIpAddresses": "Sanitized",
          "possibleOutboundIpAddresses": "Sanitized",
          "outboundIpv6Addresses": "Sanitized",
          "possibleOutboundIpv6Addresses": "Sanitized",
          "containerSize": 0,
          "dailyMemoryTimeQuota": 0,
          "suspendedTill": null,
          "siteDisabledReason": 0,
          "functionExecutionUnitsCache": null,
          "maxNumberOfWorkers": null,
          "homeStamp": "Sanitized",
          "cloningInfo": null,
          "hostingEnvironmentId": null,
          "tags": null,
          "resourceGroup": "Sanitized",
          "defaultHostName": "Sanitized-webapp.azurewebsites.net",
          "slotSwapStatus": null,
          "httpsOnly": false,
          "endToEndEncryptionEnabled": false,
          "functionsRuntimeAdminIsolationEnabled": false,
          "redundancyMode": "None",
          "inProgressOperationId": null,
          "geoDistributions": null,
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled",
          "buildVersion": null,
          "targetBuildVersion": null,
          "migrationState": null,
          "eligibleLogCategories": "AppServiceAppLogs,AppServiceConsoleLogs,AppServiceHTTPLogs,AppServicePlatformLogs,ScanLogs,AppServiceAuthenticationLogs,AppServiceAuditLogs,AppServiceIPSecAuditLogs",
          "inFlightFeatures": [
            "SiteContainers"
          ],
          "storageAccountRequired": false,
          "virtualNetworkSubnetId": null,
          "keyVaultReferenceIdentity": "SystemAssigned",
          "autoGeneratedDomainNameLabelScope": null,
          "privateLinkIdentifiers": null,
          "sshEnabled": null,
          "maintenanceEnabled": false
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-alzimmer/providers/Microsoft.Web/sites/Sanitized-webapp/config/appsettings/list?api-version=2024-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "199"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-alzimmer/providers/Microsoft.Web/sites/Sanitized-webapp/config/appsettings",
        "name": "Sanitized",
        "type": "Microsoft.Web/sites/config",
        "location": "West US 2",
        "properties": {
          "foo": "bar",
          "fizz": "buzz",
          "stfdagyeaizhicxajwzxupoi": "SomeValue",
          "fiydtuvlzbbhutgxzzqwttwh": "SomeValue"
        }
      }
    }
  ],
  "Variables": {
    "resourceGroupName": "SSS3PT_rg-alzimmer",
    "settingName": "mdrfrpijqsdcvhkxrdhjmxrm",
    "webappName": "te0575e1f35e9796f-webapp"
  }
}
