{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "\uFEFF<KeyInfo><Start>2024-06-06T01:53:52Z</Start><Expiry>2024-06-06T03:53:52Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>1860430b-86fd-414a-8379-0ffff7834c55</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2024-06-06T01:53:52Z</SignedStart><SignedExpiry>2024-06-06T03:53:52Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2024-08-04</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-05T21:53:52.9513718-05:00",
    "RandomSeed": "1212826473",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\n8f7f73b5-e0e4-40f6-a7e3-b6fdea0f8dd2\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
