{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem171619221706600417?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 May 2024 08:03:37 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC78A35978FF8F\"",
        "Last-Modified": "Mon, 20 May 2024 08:03:35 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171619221706600417/file171619221719103502?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 May 2024 08:03:37 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC78A3598D0248\"",
        "Last-Modified": "Mon, 20 May 2024 08:03:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171619221706600417/file171619221719103502?position=0&action=append",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Mon, 20 May 2024 08:03:37 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "Hello World",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171619221706600417/file171619221719103502?position=11&action=flush",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 May 2024 08:03:37 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC78A359B07534\"",
        "Last-Modified": "Mon, 20 May 2024 08:03:35 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171619221706600417/tempfile2171619221753702064?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 May 2024 08:03:37 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC78A359C152FA\"",
        "Last-Modified": "Mon, 20 May 2024 08:03:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171619221706600417/tempfile2171619221753702064?position=0&action=append",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Mon, 20 May 2024 08:03:37 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "ca761232ed4211cebacd00aa0057b223",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "HelloWorld",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171619221706600417/tempfile2171619221753702064?position=10&action=append&flush=true",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Mon, 20 May 2024 08:03:37 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "HelloWorld",
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "LeaseIdMissing",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": {
        "error": {
          "code": "LeaseIdMissing",
          "message": "There is currently a lease on the resource and no lease ID was specified in the request.\nRequestId:bdc0c6dd-201f-0035-778c-aa9515000000\nTime:2024-05-20T08:03:36.2784514Z"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171619221706600417/tempfile2171619221753702064?position=10&action=append&flush=true",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Mon, 20 May 2024 08:03:37 GMT",
        "x-ms-lease-id": "ca761232ed4211cebacd00aa0057b223",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "HelloWorld",
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC78A359F63E42\"",
        "Last-Modified": "Mon, 20 May 2024 08:03:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem171619221706600417/tempfile2171619221753702064",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 May 2024 08:03:37 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\"0x8DC78A359F63E42\"",
        "Last-Modified": "Mon, 20 May 2024 08:03:36 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 20 May 2024 08:03:36 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-duration": "fixed",
        "x-ms-lease-state": "leased",
        "x-ms-lease-status": "locked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171619221706600417/tempfile2171619221753702064?recursive=false&paginated=false",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 May 2024 08:03:38 GMT",
        "x-ms-lease-id": "ca761232ed4211cebacd00aa0057b223",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-deletion-id": "133606658166319283",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem171619221706600417?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 May 2024 08:03:38 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "file": "file171619221719103502",
    "filesystem": "filesystem171619221706600417",
    "tempfile2": "tempfile2171619221753702064"
  }
}
