{
  "Entries": [
    {
      "RequestUri": "https://fakedefsaccountname.blob.core.windows.net/filesystem177334541539500990?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE8071838D325B\"",
        "Last-Modified": "Thu, 12 Mar 2026 19:56:55 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem177334541539500990/file177334541604608697?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE8071839D27D8\"",
        "Last-Modified": "Thu, 12 Mar 2026 19:56:56 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem177334541539500990/file177334541604608697?position=0&action=append",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "Hello World",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem177334541539500990/file177334541604608697?position=11&action=flush",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE807183B76780\"",
        "Last-Modified": "Thu, 12 Mar 2026 19:56:56 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefsaccountname.blob.core.windows.net/filesystem177334541539500990/file177334541604608697",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE807183B76780\"",
        "Last-Modified": "Thu, 12 Mar 2026 19:56:56 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 12 Mar 2026 19:56:56 GMT",
        "x-ms-group": "51291b7b-d07c-424e-b934-042c148c6a56",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "51291b7b-d07c-424e-b934-042c148c6a56",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefsaccountname.blob.core.windows.net/filesystem177334541539500990?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "file": "file177334541604608697",
    "filesystem": "filesystem177334541539500990"
  }
}
