{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basic690a/tasks/jssdkJob-Basic690a-task1?api-version=2025-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "constraints": {
          "maxTaskRetryCount": 3
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basic690a/tasks/jssdkJob-Basic690a-task1",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE5930DB4A7969",
        "Last-Modified": "Wed, 21 Jan 2026 21:05:50 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basic690a/tasks/jssdkJob-Basic690a-task1?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE5930DB4A7969",
        "Last-Modified": "Wed, 21 Jan 2026 21:05:50 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#tasks/@Element",
        "id": "jssdkJob-Basic690a-task1",
        "url": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basic690a/tasks/jssdkJob-Basic690a-task1",
        "eTag": "0x8DE5930DB4A7969",
        "creationTime": "2026-01-21T21:05:34.9890336Z",
        "lastModified": "2026-01-21T21:05:50.5582441Z",
        "state": "active",
        "stateTransitionTime": "2026-01-21T21:05:47.9205271Z",
        "previousState": "completed",
        "previousStateTransitionTime": "2026-01-21T21:05:38.4596357Z",
        "commandLine": "cmd /c echo hello > taskHello.txt",
        "userIdentity": {
          "autoUser": {
            "scope": "pool",
            "elevationLevel": "nonadmin"
          }
        },
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "retentionTime": "P7D",
          "maxTaskRetryCount": 3
        },
        "requiredSlots": 1,
        "executionInfo": {
          "retryCount": 0,
          "requeueCount": 0
        }
      }
    }
  ],
  "Variables": {
    "JOB_NAME": "jssdkJob-Basic690a",
    "TASK_NAME": "jssdkJob-Basic690a-task1"
  }
}
