{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/redTeams/runs:run?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "foundry-features": "RedTeams=V1Preview",
        "model-api-key": "00000000000000000000000000000000000000000000000000000000000000000000",
        "model-endpoint": "https://Sanitized.azure.com"
      },
      "RequestBody": {
        "displayName": "redteamtest1",
        "attackStrategies": [
          "base64"
        ],
        "riskCategories": [
          "Violence"
        ],
        "target": {
          "type": "AzureOpenAIModel",
          "modelDeploymentName": "gpt-5.2"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "22e23bc2-2d26-48ef-a0c6-f391a4b3dffb",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard",
        "x-request-time": "2.275"
      },
      "ResponseBody": {
        "target": {
          "type": "AzureOpenAIModel",
          "modelDeploymentName": "gpt-5.2"
        },
        "numTurns": 1,
        "attackStrategies": [
          "Base64"
        ],
        "simulationOnly": false,
        "riskCategories": [
          "Violence"
        ],
        "applicationScenario": "",
        "id": "28493c08-8ac2-4024-976c-eeabb650bf13",
        "displayName": "redteamtest1",
        "data": null,
        "tags": {},
        "properties": {
          "NetworkType": "Public",
          "RunSessionIdentifier": "28493c08-8ac2-4024-976c-eeabb650bf13-1",
          "AcaSessionPoolEndpoint": "https://raisvc-redteam-0.bluegrass-f2676084.westus2.azurecontainerapps.io",
          "runType": "eval_run",
          "_azureml.evaluation_run": "evaluation.service",
          "_azureml.evaluate_artifacts": "[{\"path\": \"instance_results.json\", \"type\": \"table\"}]",
          "redteaming": "asr"
        },
        "status": "NotStarted",
        "outputs": {},
        "systemData": {
          "createdAt": "03/17/2026 23:01:17 +00:00",
          "createdBy": "Sanitized",
          "modifiedAt": "",
          "modifiedBy": "Bo Gou"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/redTeams/runs/28493c08-8ac2-4024-976c-eeabb650bf13?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "foundry-features": "RedTeams=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "735adbc7-89c7-48ce-b793-fb79b41bfe51",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.432"
      },
      "ResponseBody": {
        "target": null,
        "numTurns": 1,
        "attackStrategies": [
          "Base64"
        ],
        "simulationOnly": false,
        "riskCategories": [
          "Violence"
        ],
        "applicationScenario": "",
        "id": "28493c08-8ac2-4024-976c-eeabb650bf13",
        "displayName": "redteamtest1",
        "data": null,
        "tags": {},
        "properties": {
          "NetworkType": "Public",
          "AiStudioEvaluationUri": "https://ai.azure.com/resource/build/redteaming/28493c08-8ac2-4024-976c-eeabb650bf13?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/aoai-jep6bl5hlacma/projects/proj-jep6bl5hlacma&tid=72f988bf-86f1-41af-91ab-2d7cd011db47",
          "runType": "eval_run",
          "_azureml.evaluation_run": "evaluation.service",
          "_azureml.evaluate_artifacts": "[{\"path\": \"instance_results.json\", \"type\": \"table\"}]",
          "redteaming": "asr"
        },
        "status": "Starting",
        "outputs": {
          "evaluationResultId": ""
        },
        "systemData": {
          "createdAt": "03/17/2026 23:01:17 +00:00",
          "createdBy": "Sanitized",
          "modifiedAt": "",
          "modifiedBy": "Bo Gou"
        }
      }
    }
  ],
  "Variables": {}
}
