{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/SSS3PT_myjstest/providers/Microsoft.DataProtection/backupVaults/swaggerExample?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "1099"
      },
      "ResponseBody": {
        "location": "eastus",
        "tags": {
          "key1": "val1"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "storageSettings": [
            {
              "datastoreType": "VaultStore",
              "type": "LocallyRedundant"
            }
          ],
          "isVaultProtectedByResourceGuard": false,
          "monitoringSettings": {
            "azureMonitorAlertSettings": {
              "alertsForAllJobFailures": "Enabled"
            }
          },
          "securitySettings": {
            "softDeleteSettings": {
              "state": "On",
              "retentionDurationInDays": 14.0
            }
          },
          "secureScore": "None",
          "bcdrSecurityLevel": "Poor",
          "replicatedRegions": []
        },
        "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/SSS3PT_myjstest/providers/Microsoft.DataProtection/backupVaults/swaggerExample",
        "name": "swaggerExample",
        "type": "Microsoft.DataProtection/backupVaults"
      }
    }
  ],
  "Variables": {}
}
