{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.DataProtection/backupVaults/swaggerExample?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "tags": {
          "key1": "val1"
        },
        "properties": {
          "monitoringSettings": {
            "azureMonitorAlertSettings": {
              "alertsForAllJobFailures": "Enabled"
            }
          },
          "storageSettings": [
            {
              "datastoreType": "VaultStore",
              "type": "LocallyRedundant"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.DataProtection/backupVaults/swaggerExample/operationStatus/NGU4NTc2NjItMzgwZi00MGQ2LWE2OTItYzFlMDk0ZGUyMmY3OzcyZDk2MmJjLWNlYTItNDBkMi05MGVlLTZlOGZjNjQwMDVlZg==?api-version=2023-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-arm-resource-system-data": "{\u0022createdBy\u0022:\u0022azure_client_id\u0022,\u0022createdByType\u0022:\u0022Application\u0022,\u0022createdAt\u0022:\u00222023-07-10T07:05:47.1047345Z\u0022,\u0022lastModifiedBy\u0022:\u0022azure_client_id\u0022,\u0022lastModifiedByType\u0022:\u0022Application\u0022,\u0022lastModifiedAt\u0022:\u00222023-07-10T07:05:47.1047345Z\u0022}",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "99"
      },
      "ResponseBody": {
        "location": "eastus",
        "tags": {
          "key1": "val1"
        },
        "properties": {
          "provisioningState": "Provisioning",
          "storageSettings": [
            {
              "datastoreType": "VaultStore",
              "type": "LocallyRedundant"
            }
          ],
          "isVaultProtectedByResourceGuard": false,
          "monitoringSettings": {
            "azureMonitorAlertSettings": {
              "alertsForAllJobFailures": "Enabled"
            }
          },
          "securitySettings": {
            "softDeleteSettings": {
              "state": "On",
              "retentionDurationInDays": 14.0
            }
          },
          "secureScore": "None"
        },
        "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.DataProtection/backupVaults/swaggerExample",
        "name": "swaggerExample",
        "type": "Microsoft.DataProtection/backupVaults"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.DataProtection/backupVaults/swaggerExample/operationStatus/NGU4NTc2NjItMzgwZi00MGQ2LWE2OTItYzFlMDk0ZGUyMmY3OzcyZDk2MmJjLWNlYTItNDBkMi05MGVlLTZlOGZjNjQwMDVlZg==?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "999"
      },
      "ResponseBody": {
        "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.DataProtection/backupVaults/swaggerExample/operationStatus/NGU4NTc2NjItMzgwZi00MGQ2LWE2OTItYzFlMDk0ZGUyMmY3OzcyZDk2MmJjLWNlYTItNDBkMi05MGVlLTZlOGZjNjQwMDVlZg==",
        "name": "NGU4NTc2NjItMzgwZi00MGQ2LWE2OTItYzFlMDk0ZGUyMmY3OzcyZDk2MmJjLWNlYTItNDBkMi05MGVlLTZlOGZjNjQwMDVlZg==",
        "status": "Succeeded",
        "startTime": "2023-07-10T07:05:48.204932Z",
        "endTime": "2023-07-10T07:05:48Z"
      }
    },
[...]
