{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/eventroutes/eventRoute232?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "endpointName": "endpoint801",
        "filter": "$eventType = 'DigitalTwinTelemetryMessages' or $eventType = 'DigitalTwinLifecycleNotification'"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "835faee7-c00a-44d0-a00c-584002003c04",
        "traceresponse": "00-6a21fb1522ea67538e29480654bf8168-cf3aff053c974acd-01",
        "x-ms-error-code": "EventRouteEndpointInvalid"
      },
      "ResponseBody": {
        "error": {
          "code": "EventRouteEndpointInvalid",
          "message": "The endpoint provided does not exist or is not active. Check that your endpoint is provisioned correctly. See event route documentation (https://aka.ms/ADTv2Routes)."
        }
      }
    }
  ],
  "Variables": {
    "endpoint": "endpoint801",
    "eventRoute": "eventRoute232"
  }
}
