{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/eventroutes/eventRoute714?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "endpointName": "endpoint167",
        "filter": "$eventType = 'DigitalTwinTelemetryMessages' or $eventType = 'DigitalTwinLifecycleNotification'"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "01f328f2-db3c-485f-90f9-4263b195e41c",
        "traceresponse": "00-55fbcd30d28c893c30d5937ee5f19442-ec38c9113b191f22-01",
        "x-ms-error-code": "EventRouteEndpointInvalid"
      },
      "ResponseBody": {
        "error": {
          "code": "EventRouteEndpointInvalid",
          "message": "The endpoint provided does not exist or is not active. Check that your endpoint is provisioned correctly. See event route documentation (https://aka.ms/ADTv2Routes)."
        }
      }
    }
  ],
  "Variables": {
    "endpoint": "endpoint167",
    "eventRoute": "eventRoute714"
  }
}
