{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/eventroutes/eventRoute161?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "da5d008a-163d-4ae2-a37c-cb8adb6e0b58",
        "traceresponse": "00-b407bddb31ea0c6ff3307919a952ec34-e72f5efa8e251258-01",
        "x-ms-error-code": "EventRouteNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "EventRouteNotFound",
          "message": "There is no route available that matches the provided input. Check for all valid event routes by calling EventRoute_List. See Swagger example (https://aka.ms/RouteSwSmpl)."
        }
      }
    }
  ],
  "Variables": {
    "eventRoute": "eventRoute161"
  }
}
