{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/eventroutes/eventRoute356?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "066c35c0-ccd1-4406-8a01-4b9553891582",
        "traceresponse": "00-cf58b9c01c74b43171c5d942ea50d2a9-85493b3b7c7f58bb-01",
        "x-ms-error-code": "EventRouteNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "EventRouteNotFound",
          "message": "There is no route available that matches the provided input. Check for all valid event routes by calling EventRoute_List. See Swagger example (https://aka.ms/RouteSwSmpl)."
        }
      }
    }
  ],
  "Variables": {
    "eventRoute": "eventRoute356"
  }
}
