{
  "Entries": [
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-b217ddde-5600-e132-2f8a-0f7809471b97?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A24Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6493E1B042B\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:44:23 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-7388b39c-da63-4277-0d20-412c43d87072?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A24Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6493E279A18\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:44:23 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-b217ddde-5600-e132-2f8a-0f7809471b97/test-file-22de32f4-94a4-4bd9-baa1-17224c7e4b10?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A24Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-group": "123",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6493E2EFE10\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:44:23 GMT",
        "x-ms-file-change-time": "2026-04-29T23:44:23.9279632Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-b217ddde-5600-e132-2f8a-0f7809471b97?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A24Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6493E1B042B\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:44:23 GMT",
        "x-ms-access-tier": "Premium",
        "x-ms-enable-snapshot-virtual-directory-access": "true",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-root-squash": "NoRootSquash",
        "x-ms-share-next-allowed-quota-downgrade-time": "Wed, 29 Apr 2026 23:44:23 GMT",
        "x-ms-share-paid-bursting-enabled": "false",
        "x-ms-share-provisioned-bandwidth-mibps": "110",
        "x-ms-share-provisioned-egress-mbps": "110",
        "x-ms-share-provisioned-ingress-mbps": "110",
        "x-ms-share-provisioned-iops": "3100",
        "x-ms-share-quota": "100",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-7388b39c-da63-4277-0d20-412c43d87072?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A24Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6493E279A18\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:44:23 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Wed, 29 Apr 2026 23:44:23 GMT",
        "x-ms-enable-smb-directory-lease": "true",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-quota": "102400",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-b217ddde-5600-e132-2f8a-0f7809471b97/test-file-22de32f4-94a4-4bd9-baa1-17224c7e4b10?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A24Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEA6493E2EFE10\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:44:23 GMT",
        "x-ms-file-change-time": "2026-04-29T23:44:23.9279632Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-link-count": "1",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-7388b39c-da63-4277-0d20-412c43d87072/test-file-c6afac7c-130e-406f-f50b-cbf42463b73f?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A24Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-7388b39c-da63-4277-0d20-412c43d87072/test-file-c6afac7c-130e-406f-f50b-cbf42463b73f?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A24Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6493E51A783\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:44:24 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:44:24.1551235Z",
        "x-ms-file-creation-time": "2026-04-29T23:44:24.1551235Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-29T23:44:24.1551235Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-7388b39c-da63-4277-0d20-412c43d87072/test-file-c6afac7c-130e-406f-f50b-cbf42463b73f?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A24Z&sp=rwdxylacuptfi&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandafilepremscale.file.core.windows.net/test-share-b217ddde-5600-e132-2f8a-0f7809471b97/test-file-22de32f4-94a4-4bd9-baa1-17224c7e4b10?sv=sanitized-value&ss=f&srt=sco&se=2026-04-30T23%3A44%3A24Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6493E5DFE86\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:44:24 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2026-04-29T23:44:24.1551235Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-7388b39c-da63-4277-0d20-412c43d87072/test-file-c6afac7c-130e-406f-f50b-cbf42463b73f?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A24Z&sp=rwdxylacuptfi&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6493E646484\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:44:24 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:44:24.2779268Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-b217ddde-5600-e132-2f8a-0f7809471b97/test-file-22de32f4-94a4-4bd9-baa1-17224c7e4b10?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A24Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEA6493E2EFE10\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:44:23 GMT",
        "x-ms-file-change-time": "2026-04-29T23:44:23.9279632Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms[...]
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-7388b39c-da63-4277-0d20-412c43d87072?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A24Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-b217ddde-5600-e132-2f8a-0f7809471b97?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A24Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-04-29T16:44:24.1527332-07:00",
    "RandomSeed": "1179871540",
    "Storage_TestConfigDefault": "ProductionTenant\namnguyesa\nU2FuaXRpemVk\nhttps://amnguyesa.blob.core.windows.net\nhttps://amnguyesa.file.core.windows.net\nhttps://amnguyesa.queue.core.windows.net\nhttps://amnguyesa.table.core.windows.net\n\n\n\n\nhttps://amnguyesa-secondary.blob.core.windows.net\nhttps://amnguyesa-secondary.file.core.windows.net\nhttps://amnguyesa-secondary.queue.core.windows.net\nhttps://amnguyesa-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amnguyesa.blob.core.windows.net/;QueueEndpoint=https://amnguyesa.queue.core.windows.net/;FileEndpoint=https://amnguyesa.file.core.windows.net/;BlobSecondaryEndpoint=https://amnguyesa-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amnguyesa-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amnguyesa-secondary.file.core.windows.net/;AccountName=amnguyesa;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n",
    "Storage_TestConfigPremiumFile": "PremiumFileTenant\namandafilepremscale\nU2FuaXRpemVk\n\nhttps://amandafilepremscale.file.core.windows.net\n\n\n\n\n\n\n\nhttps://amandafilepremscale-secondary.file.core.windows.net\n\n\nCloud\nFileEndpoint=https://amandafilepremscale.file.core.windows.net/;FileSecondaryEndpoint=https://amandafilepremscale-secondary.file.core.windows.net/;AccountName=amandafilepremscale;AccountKey=U2FuaXRpemVk\n\n\n"
  }
}
