{
  "Entries": [
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-f7341127-7f1a-3c6e-b41a-dfbb44fbdd32?sv=Sanitized&ss=f&srt=sco&se=2025-05-16T00%3A23%3A45Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9346C1094E7B\"",
        "Last-Modified": "Thu, 15 May 2025 00:23:45 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-f7341127-7f1a-3c6e-b41a-dfbb44fbdd32/test-file-1bd03bc6-459f-710c-2688-5e59052d0a44?sv=Sanitized&ss=f&srt=sco&se=2025-05-16T00%3A23%3A45Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9346C115CA66\"",
        "Last-Modified": "Thu, 15 May 2025 00:23:45 GMT",
        "x-ms-file-change-time": "2025-05-15T00:23:45.2903014Z",
        "x-ms-file-creation-time": "2025-05-15T00:23:45.2903014Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-15T00:23:45.2903014Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-f7341127-7f1a-3c6e-b41a-dfbb44fbdd32/original-symlink?sv=Sanitized&ss=f&srt=sco&se=2025-05-16T00%3A23%3A45Z&sp=rwdxylacuptfi&sig=Sanitized&restype=symboliclink",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-link-text": "https://nickliupremiumfileacc.file.core.windows.net/test-share-f7341127-7f1a-3c6e-b41a-dfbb44fbdd32/test-file-1bd03bc6-459f-710c-2688-5e59052d0a44?sv=Sanitized&ss=f&srt=sco&se=2025-05-16T00%3A23%3A45Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9346C11AD2B8\"",
        "Last-Modified": "Thu, 15 May 2025 00:23:45 GMT",
        "x-ms-file-change-time": "2025-05-15T00:23:45.3232824Z",
        "x-ms-file-creation-time": "2025-05-15T00:23:45.3232824Z",
        "x-ms-file-file-type": "SymLink",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-15T00:23:45.3232824Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0777",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-f7341127-7f1a-3c6e-b41a-dfbb44fbdd32/original-symlink?sv=Sanitized&ss=f&srt=sco&se=2025-05-16T00%3A23%3A45Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD9346C11AD2B8\"",
        "Last-Modified": "Thu, 15 May 2025 00:23:45 GMT",
        "x-ms-file-change-time": "2025-05-15T00:23:45.3232824Z",
        "x-ms-file-creation-time": "2025-05-15T00:23:45.3232824Z",
        "x-ms-file-file-type": "SymLink",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-15T00:23:45.3232824Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-link-count": "1",
        "x-ms-mode": "0777",
        "x-ms-owner": "0",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-f7341127-7f1a-3c6e-b41a-dfbb44fbdd32?sv=Sanitized&ss=f&srt=sco&se=2025-05-16T00%3A23%3A45Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9346C1094E7B\"",
        "Last-Modified": "Thu, 15 May 2025 00:23:45 GMT",
        "x-ms-access-tier": "Premium",
        "x-ms-enable-snapshot-virtual-directory-access": "true",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-root-squash": "NoRootSquash",
        "x-ms-share-next-allowed-quota-downgrade-time": "Thu, 15 May 2025 00:23:45 GMT",
        "x-ms-share-paid-bursting-enabled": "false",
        "x-ms-share-provisioned-bandwidth-mibps": "110",
        "x-ms-share-provisioned-egress-mbps": "110",
        "x-ms-share-provisioned-ingress-mbps": "110",
        "x-ms-share-provisioned-iops": "3100",
        "x-ms-share-quota": "100",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-f0331083-80ed-06d7-16ba-fe79ccb3a7ea/test-file-31724f35-2a1d-21fb-2f0d-200a748a8935?sv=Sanitized&ss=f&srt=sco&se=2025-05-16T00%3A23%3A45Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-f0331083-80ed-06d7-16ba-fe79ccb3a7ea?sv=Sanitized&ss=f&srt=sco&se=2025-05-16T00%3A23%3A45Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-f7341127-7f1a-3c6e-b41a-dfbb44fbdd32?sv=Sanitized&ss=f&srt=sco&se=2025-05-16T00%3A23%3A45Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-05-14T20:23:45.2039807-04:00",
    "RandomSeed": "4483921",
    "Storage_TestConfigPremiumFile": "PremiumFileTenant\nnickliupremiumfileacc\nU2FuaXRpemVk\nhttps://nickliupremiumfileacc.blob.core.windows.net\nhttps://nickliupremiumfileacc.file.core.windows.net\nhttps://nickliupremiumfileacc.queue.core.windows.net\nhttps://nickliupremiumfileacc.table.core.windows.net\n\n\n\n\nhttps://nickliupremiumfileacc-secondary.blob.core.windows.net\nhttps://nickliupremiumfileacc-secondary.file.core.windows.net\nhttps://nickliupremiumfileacc-secondary.queue.core.windows.net\nhttps://nickliupremiumfileacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliupremiumfileacc.blob.core.windows.net/;QueueEndpoint=https://nickliupremiumfileacc.queue.core.windows.net/;FileEndpoint=https://nickliupremiumfileacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliupremiumfileacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliupremiumfileacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliupremiumfileacc-secondary.file.core.windows.net/;AccountName=nickliupremiumfileacc;AccountKey=U2FuaXRpemVk\n\n\n"
  }
}
