{
  "Entries": [
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-41143a31-948a-040a-b14e-7f52c5695ef7?sv=Sanitized&ss=f&srt=sco&se=2025-05-01T15%3A13%3A25Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87F98CAD22BE\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:13:23 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-41143a31-948a-040a-b14e-7f52c5695ef7/test-file-96274fff-32d9-828c-bfb3-76c658033f80?sv=Sanitized&ss=f&srt=sco&se=2025-05-01T15%3A13%3A25Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87F98CCEAB05\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:13:23 GMT",
        "x-ms-file-change-time": "2025-04-30T15:13:23.5439365Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-41143a31-948a-040a-b14e-7f52c5695ef7?sv=Sanitized&ss=f&srt=sco&se=2025-05-01T15%3A13%3A25Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87F98CAD22BE\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:13:23 GMT",
        "x-ms-access-tier": "Premium",
        "x-ms-enable-snapshot-virtual-directory-access": "true",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-root-squash": "NoRootSquash",
        "x-ms-share-next-allowed-quota-downgrade-time": "Wed, 30 Apr 2025 15:13:23 GMT",
        "x-ms-share-paid-bursting-enabled": "false",
        "x-ms-share-provisioned-bandwidth-mibps": "110",
        "x-ms-share-provisioned-egress-mbps": "110",
        "x-ms-share-provisioned-ingress-mbps": "110",
        "x-ms-share-provisioned-iops": "3100",
        "x-ms-share-quota": "100",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-41143a31-948a-040a-b14e-7f52c5695ef7/test-file-96274fff-32d9-828c-bfb3-76c658033f80?sv=Sanitized&ss=f&srt=sco&se=2025-05-01T15%3A13%3A25Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD87F98CCEAB05\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:13:23 GMT",
        "x-ms-file-change-time": "2025-04-30T15:13:23.5439365Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-link-count": "1",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-af84d75d-287a-f2de-bfcd-207fe987bb3c/test-file-529643b9-1a56-b3b9-039a-e2bd7e086cb7?sv=Sanitized&ss=f&srt=sco&se=2025-05-01T15%3A13%3A25Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-af84d75d-287a-f2de-bfcd-207fe987bb3c/test-file-529643b9-1a56-b3b9-039a-e2bd7e086cb7?sv=Sanitized&ss=f&srt=sco&se=2025-05-01T15%3A13%3A25Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87F98D0B21F0\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:13:23 GMT",
        "x-ms-file-change-time": "2025-04-30T15:13:23.9401968Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-af84d75d-287a-f2de-bfcd-207fe987bb3c/test-file-529643b9-1a56-b3b9-039a-e2bd7e086cb7?sv=Sanitized&ss=f&srt=sco&se=2025-05-01T15%3A13%3A25Z&sp=rwdxylacuptfi&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seancanaryfilepremium2.file.core.windows.net/test-share-41143a31-948a-040a-b14e-7f52c5695ef7/test-file-96274fff-32d9-828c-bfb3-76c658033f80?sv=sanitized-value&ss=f&srt=sco&se=2025-05-01T15%3A13%3A25Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87F98D17BDF4\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:13:24 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-af84d75d-287a-f2de-bfcd-207fe987bb3c/test-file-529643b9-1a56-b3b9-039a-e2bd7e086cb7?sv=Sanitized&ss=f&srt=sco&se=2025-05-01T15%3A13%3A25Z&sp=rwdxylacuptfi&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87F98D2066CA\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:13:24 GMT",
        "x-ms-file-change-time": "2025-04-30T15:13:24.0795850Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-link-count": "1",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-41143a31-948a-040a-b14e-7f52c5695ef7/test-file-96274fff-32d9-828c-bfb3-76c658033f80?sv=Sanitized&ss=f&srt=sco&se=2025-05-01T15%3A13%3A25Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD87F98CCEAB05\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:13:23 GMT",
        "x-ms-file-change-time": "2025-04-30T15:13:23.5439365Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms[...]
[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-af84d75d-287a-f2de-bfcd-207fe987bb3c?sv=Sanitized&ss=f&srt=sco&se=2025-05-01T15%3A13%3A25Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-41143a31-948a-040a-b14e-7f52c5695ef7?sv=Sanitized&ss=f&srt=sco&se=2025-05-01T15%3A13%3A25Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-04-30T11:13:25.2316342-04:00",
    "RandomSeed": "668951656",
    "Storage_TestConfigPremiumFile": "PremiumFileTenant\nseancanaryfilepremium2\nU2FuaXRpemVk\nhttps://seancanaryfilepremium2.blob.core.windows.net\nhttps://seancanaryfilepremium2.file.core.windows.net\nhttps://seancanaryfilepremium2.queue.core.windows.net\nhttps://seancanaryfilepremium2.table.core.windows.net\n\n\n\n\nhttps://seancanaryfilepremium2-secondary.blob.core.windows.net\nhttps://seancanaryfilepremium2-secondary.file.core.windows.net\nhttps://seancanaryfilepremium2-secondary.queue.core.windows.net\nhttps://seancanaryfilepremium2-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanaryfilepremium2.blob.core.windows.net/;QueueEndpoint=https://seancanaryfilepremium2.queue.core.windows.net/;FileEndpoint=https://seancanaryfilepremium2.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanaryfilepremium2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanaryfilepremium2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanaryfilepremium2-secondary.file.core.windows.net/;AccountName=seancanaryfilepremium2;AccountKey=U2FuaXRpemVk\n\n\n"
  }
}
