{
  "Entries": [
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-8810c78a-83a6-af03-fdaa-933da891d1d2?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A07%3A38Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE526B2417\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:07:38 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-8810c78a-83a6-af03-fdaa-933da891d1d2/test-file-a16f8b33-e96c-c56c-affb-33fae03c228f?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A07%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "private",
        "x-ms-content-disposition": "attachment",
        "x-ms-content-language": "fr-FR",
        "x-ms-content-length": "1024",
        "x-ms-file-creation-time": "2024-05-01T10:00:00.0000000Z",
        "x-ms-file-last-write-time": "2024-05-01T11:00:00.0000000Z",
        "x-ms-group": "123",
        "x-ms-meta-src": "nfs",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE52759138\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:07:38 GMT",
        "x-ms-file-change-time": "2025-07-17T01:07:38.2222136Z",
        "x-ms-file-creation-time": "2024-05-01T10:00:00.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-01T11:00:00.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-8810c78a-83a6-af03-fdaa-933da891d1d2?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A07%3A38Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE526B2417\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:07:38 GMT",
        "x-ms-access-tier": "Premium",
        "x-ms-enable-snapshot-virtual-directory-access": "true",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-root-squash": "NoRootSquash",
        "x-ms-share-next-allowed-quota-downgrade-time": "Thu, 17 Jul 2025 01:07:38 GMT",
        "x-ms-share-paid-bursting-enabled": "false",
        "x-ms-share-provisioned-bandwidth-mibps": "110",
        "x-ms-share-provisioned-egress-mbps": "110",
        "x-ms-share-provisioned-ingress-mbps": "110",
        "x-ms-share-provisioned-iops": "3100",
        "x-ms-share-quota": "100",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-8810c78a-83a6-af03-fdaa-933da891d1d2/test-file-a16f8b33-e96c-c56c-affb-33fae03c228f?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A07%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "attachment",
        "Content-Language": "fr-FR",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDC4CE52759138\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:07:38 GMT",
        "x-ms-file-change-time": "2025-07-17T01:07:38.2222136Z",
        "x-ms-file-creation-time": "2024-05-01T10:00:00.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-01T11:00:00.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-link-count": "1",
        "x-ms-meta-src": "nfs",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-04b3163d-5e1e-29b3-95d6-3e0eda4e7dce/test-file-e3b3338c-4a58-d180-379b-d07cb0610fdd?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A07%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-04b3163d-5e1e-29b3-95d6-3e0eda4e7dce/test-file-e3b3338c-4a58-d180-379b-d07cb0610fdd?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A07%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-store",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "es-ES",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-creation-time": "2025-01-01T01:01:01.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-last-write-time": "2025-01-02T02:02:02.0000000Z",
        "x-ms-group": "123",
        "x-ms-meta-dest": "override",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE528BFC22\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:07:38 GMT",
        "x-ms-file-change-time": "2025-07-17T01:07:38.3691298Z",
        "x-ms-file-creation-time": "2025-01-01T01:01:01.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-01-02T02:02:02.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-04b3163d-5e1e-29b3-95d6-3e0eda4e7dce/test-file-e3b3338c-4a58-d180-379b-d07cb0610fdd?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A07%3A38Z&sp=rwdxylacuptfi&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://nickliupremiumfileacc.file.core.windows.net/test-share-8810c78a-83a6-af03-fdaa-933da891d1d2/test-file-a16f8b33-e96c-c56c-affb-33fae03c228f?sv=sanitized-value&ss=f&srt=sco&se=2025-07-18T01%3A07%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE529263D3\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:07:38 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2025-01-02T02:02:02.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-04b3163d-5e1e-29b3-95d6-3e0eda4e7dce/test-file-e3b3338c-4a58-d180-379b-d07cb0610fdd?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A07%3A38Z&sp=rwdxylacuptfi&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-store",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "es-ES",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-creation-time": "2025-01-01T01:01:01.0000000Z",
        "x-ms-file-last-write-time": "2025-01-02T02:02:02.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE52965ADE\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:07:38 GMT",
        "x-ms-file-change-time": "2025-07-17T01:07:38.4370910Z",
        "x-ms-file-creation-time": "2025-01-01T01:01:01.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-01-02T02:02:02.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-link-count": "1",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-8810c78a-83a6-af03-fdaa-933da891d1d2/test-file-a16f8b33-e96c-c56c-affb-33fae03c228f?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A07%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "attachment",
        "Content-Language": "fr-FR",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDC4CE52759138\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:07:38 GMT",
        "x-ms-file-change-time": "2025-07-17T01:07:38.2222136Z",
        "x-ms-file-creation-time": "2024-05-01T10:00:00.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-01T11:00:00.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms[...]
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-04b3163d-5e1e-29b3-95d6-3e0eda4e7dce?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A07%3A38Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-8810c78a-83a6-af03-fdaa-933da891d1d2?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A07%3A38Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-07-16T21:07:38.3113999-04:00",
    "RandomSeed": "1036052100",
    "Storage_TestConfigPremiumFile": "PremiumFileTenant\nnickliupremiumfileacc\nU2FuaXRpemVk\nhttps://nickliupremiumfileacc.blob.core.windows.net\nhttps://nickliupremiumfileacc.file.core.windows.net\nhttps://nickliupremiumfileacc.queue.core.windows.net\nhttps://nickliupremiumfileacc.table.core.windows.net\n\n\n\n\nhttps://nickliupremiumfileacc-secondary.blob.core.windows.net\nhttps://nickliupremiumfileacc-secondary.file.core.windows.net\nhttps://nickliupremiumfileacc-secondary.queue.core.windows.net\nhttps://nickliupremiumfileacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliupremiumfileacc.blob.core.windows.net/;QueueEndpoint=https://nickliupremiumfileacc.queue.core.windows.net/;FileEndpoint=https://nickliupremiumfileacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliupremiumfileacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliupremiumfileacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliupremiumfileacc-secondary.file.core.windows.net/;AccountName=nickliupremiumfileacc;AccountKey=U2FuaXRpemVk\n\n\n"
  }
}
