{
  "Entries": [
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-87940606-33bb-3a16-2457-4f6889072389?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A48Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6494C630808\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:44:47 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-87940606-33bb-3a16-2457-4f6889072389/test-file-911d8076-9653-a644-ba8a-348d603bb6c5?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A48Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-group": "123",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6494C7775E8\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:44:47 GMT",
        "x-ms-file-change-time": "2026-04-29T23:44:47.8909928Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-87940606-33bb-3a16-2457-4f6889072389?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A48Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6494C630808\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:44:47 GMT",
        "x-ms-access-tier": "Premium",
        "x-ms-enable-snapshot-virtual-directory-access": "true",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-root-squash": "NoRootSquash",
        "x-ms-share-next-allowed-quota-downgrade-time": "Wed, 29 Apr 2026 23:44:47 GMT",
        "x-ms-share-paid-bursting-enabled": "false",
        "x-ms-share-provisioned-bandwidth-mibps": "110",
        "x-ms-share-provisioned-egress-mbps": "110",
        "x-ms-share-provisioned-ingress-mbps": "110",
        "x-ms-share-provisioned-iops": "3100",
        "x-ms-share-quota": "100",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-87940606-33bb-3a16-2457-4f6889072389/test-file-911d8076-9653-a644-ba8a-348d603bb6c5?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A48Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEA6494C7775E8\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:44:47 GMT",
        "x-ms-file-change-time": "2026-04-29T23:44:47.8909928Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-link-count": "1",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-a301b31a-bbb0-e7c6-8a47-8fad5cff296c/test-file-a0095e86-e994-a9ef-ca9d-ce95f99e5607?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A48Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-a301b31a-bbb0-e7c6-8a47-8fad5cff296c/test-file-a0095e86-e994-a9ef-ca9d-ce95f99e5607?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A48Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-file-type": "Regular",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6494C990903\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:44:48 GMT",
        "x-ms-file-change-time": "2026-04-29T23:44:48.1110275Z",
        "x-ms-file-creation-time": "2026-04-29T23:44:48.1110275Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-29T23:44:48.1110275Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-a301b31a-bbb0-e7c6-8a47-8fad5cff296c/test-file-a0095e86-e994-a9ef-ca9d-ce95f99e5607?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A48Z&sp=rwdxylacuptfi&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandafilepremscale.file.core.windows.net/test-share-87940606-33bb-3a16-2457-4f6889072389/test-file-911d8076-9653-a644-ba8a-348d603bb6c5?sv=sanitized-value&ss=f&srt=sco&se=2026-04-30T23%3A44%3A48Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6494CA15137\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:44:48 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2026-04-29T23:44:48.1110275Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-a301b31a-bbb0-e7c6-8a47-8fad5cff296c/test-file-a0095e86-e994-a9ef-ca9d-ce95f99e5607?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A48Z&sp=rwdxylacuptfi&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6494CA7A0C0\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:44:48 GMT",
        "x-ms-file-change-time": "2026-04-29T23:44:48.2066624Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-link-count": "1",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-87940606-33bb-3a16-2457-4f6889072389/test-file-911d8076-9653-a644-ba8a-348d603bb6c5?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A48Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEA6494C7775E8\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:44:47 GMT",
        "x-ms-file-change-time": "2026-04-29T23:44:47.8909928Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms[...]
[...]
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-a301b31a-bbb0-e7c6-8a47-8fad5cff296c?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A48Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-87940606-33bb-3a16-2457-4f6889072389?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A48Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-04-29T16:44:48.1088000-07:00",
    "RandomSeed": "85711670",
    "Storage_TestConfigPremiumFile": "PremiumFileTenant\namandafilepremscale\nU2FuaXRpemVk\n\nhttps://amandafilepremscale.file.core.windows.net\n\n\n\n\n\n\n\nhttps://amandafilepremscale-secondary.file.core.windows.net\n\n\nCloud\nFileEndpoint=https://amandafilepremscale.file.core.windows.net/;FileSecondaryEndpoint=https://amandafilepremscale-secondary.file.core.windows.net/;AccountName=amandafilepremscale;AccountKey=U2FuaXRpemVk\n\n\n"
  }
}
