{
  "Entries": [
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-0713bc12-2abf-9633-1096-6c572e170008?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A43Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA64949DB1E6D\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:44:43 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-0713bc12-2abf-9633-1096-6c572e170008/test-file-c362c4da-d9f0-cc5b-51bc-6b99cad1986e?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A43Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "private",
        "x-ms-content-disposition": "attachment",
        "x-ms-content-language": "fr-FR",
        "x-ms-content-length": "1024",
        "x-ms-file-creation-time": "2024-05-01T10:00:00.0000000Z",
        "x-ms-file-last-write-time": "2024-05-01T11:00:00.0000000Z",
        "x-ms-group": "123",
        "x-ms-meta-src": "nfs",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA64949EE9953\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:44:43 GMT",
        "x-ms-file-change-time": "2026-04-29T23:44:43.6386131Z",
        "x-ms-file-creation-time": "2024-05-01T10:00:00.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-01T11:00:00.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-0713bc12-2abf-9633-1096-6c572e170008?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A43Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA64949DB1E6D\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:44:43 GMT",
        "x-ms-access-tier": "Premium",
        "x-ms-enable-snapshot-virtual-directory-access": "true",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-root-squash": "NoRootSquash",
        "x-ms-share-next-allowed-quota-downgrade-time": "Wed, 29 Apr 2026 23:44:43 GMT",
        "x-ms-share-paid-bursting-enabled": "false",
        "x-ms-share-provisioned-bandwidth-mibps": "110",
        "x-ms-share-provisioned-egress-mbps": "110",
        "x-ms-share-provisioned-ingress-mbps": "110",
        "x-ms-share-provisioned-iops": "3100",
        "x-ms-share-quota": "100",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-0713bc12-2abf-9633-1096-6c572e170008/test-file-c362c4da-d9f0-cc5b-51bc-6b99cad1986e?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A43Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "attachment",
        "Content-Language": "fr-FR",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEA64949EE9953\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:44:43 GMT",
        "x-ms-file-change-time": "2026-04-29T23:44:43.6386131Z",
        "x-ms-file-creation-time": "2024-05-01T10:00:00.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-01T11:00:00.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-link-count": "1",
        "x-ms-meta-src": "nfs",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-5aa1c9ac-6724-fdf9-af71-ee9f984d5fea/test-file-485802e9-dc77-e726-5dc9-a4916e475df8?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A43Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-5aa1c9ac-6724-fdf9-af71-ee9f984d5fea/test-file-485802e9-dc77-e726-5dc9-a4916e475df8?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A43Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-store",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "es-ES",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-file-type": "Regular",
        "x-ms-group": "123",
        "x-ms-meta-dest": "override",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6494A113CA9\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:44:43 GMT",
        "x-ms-file-change-time": "2026-04-29T23:44:43.8656169Z",
        "x-ms-file-creation-time": "2026-04-29T23:44:43.8656169Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-29T23:44:43.8656169Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-5aa1c9ac-6724-fdf9-af71-ee9f984d5fea/test-file-485802e9-dc77-e726-5dc9-a4916e475df8?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A43Z&sp=rwdxylacuptfi&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandafilepremscale.file.core.windows.net/test-share-0713bc12-2abf-9633-1096-6c572e170008/test-file-c362c4da-d9f0-cc5b-51bc-6b99cad1986e?sv=sanitized-value&ss=f&srt=sco&se=2026-04-30T23%3A44%3A43Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6494A1970D2\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:44:43 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2026-04-29T23:44:43.8656169Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-5aa1c9ac-6724-fdf9-af71-ee9f984d5fea/test-file-485802e9-dc77-e726-5dc9-a4916e475df8?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A43Z&sp=rwdxylacuptfi&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-store",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "es-ES",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-creation-time": "2025-01-01T01:01:01.0000000Z",
        "x-ms-file-last-write-time": "2025-01-02T02:02:02.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6494A239E8F\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:44:43 GMT",
        "x-ms-file-change-time": "2026-04-29T23:44:43.9860879Z",
        "x-ms-file-creation-time": "2025-01-01T01:01:01.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-01-02T02:02:02.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-link-count": "1",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-0713bc12-2abf-9633-1096-6c572e170008/test-file-c362c4da-d9f0-cc5b-51bc-6b99cad1986e?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A43Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "attachment",
        "Content-Language": "fr-FR",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEA64949EE9953\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:44:43 GMT",
        "x-ms-file-change-time": "2026-04-29T23:44:43.6386131Z",
        "x-ms-file-creation-time": "2024-05-01T10:00:00.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-01T11:00:00.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms[...]
[...]
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-5aa1c9ac-6724-fdf9-af71-ee9f984d5fea?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A43Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-0713bc12-2abf-9633-1096-6c572e170008?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A43Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-04-29T16:44:43.8644886-07:00",
    "RandomSeed": "1779735588",
    "Storage_TestConfigPremiumFile": "PremiumFileTenant\namandafilepremscale\nU2FuaXRpemVk\n\nhttps://amandafilepremscale.file.core.windows.net\n\n\n\n\n\n\n\nhttps://amandafilepremscale-secondary.file.core.windows.net\n\n\nCloud\nFileEndpoint=https://amandafilepremscale.file.core.windows.net/;FileSecondaryEndpoint=https://amandafilepremscale-secondary.file.core.windows.net/;AccountName=amandafilepremscale;AccountKey=U2FuaXRpemVk\n\n\n"
  }
}
