{
  "Entries": [
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-b0b1d4b0-a9d0-6f31-8c43-4ec76bccf1cc?sv=Sanitized&ss=f&srt=sco&se=2025-05-30T00%3A52%3A20Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9E4B110EC43D\"",
        "Last-Modified": "Thu, 29 May 2025 00:52:20 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-b0b1d4b0-a9d0-6f31-8c43-4ec76bccf1cc/test-file-5899ac79-3be2-6491-ad63-02c4d74fb04e?sv=Sanitized&ss=f&srt=sco&se=2025-05-30T00%3A52%3A20Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "private",
        "x-ms-content-disposition": "attachment",
        "x-ms-content-language": "fr-FR",
        "x-ms-content-length": "1024",
        "x-ms-file-creation-time": "2024-05-01T10:00:00.0000000Z",
        "x-ms-file-last-write-time": "2024-05-01T11:00:00.0000000Z",
        "x-ms-group": "123",
        "x-ms-meta-src": "nfs",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9E4B111D4B76\"",
        "Last-Modified": "Thu, 29 May 2025 00:52:20 GMT",
        "x-ms-file-change-time": "2025-05-29T00:52:20.3346806Z",
        "x-ms-file-creation-time": "2024-05-01T10:00:00.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-01T11:00:00.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-b0b1d4b0-a9d0-6f31-8c43-4ec76bccf1cc?sv=Sanitized&ss=f&srt=sco&se=2025-05-30T00%3A52%3A20Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9E4B110EC43D\"",
        "Last-Modified": "Thu, 29 May 2025 00:52:20 GMT",
        "x-ms-access-tier": "Premium",
        "x-ms-enable-snapshot-virtual-directory-access": "true",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-root-squash": "NoRootSquash",
        "x-ms-share-next-allowed-quota-downgrade-time": "Thu, 29 May 2025 00:52:20 GMT",
        "x-ms-share-paid-bursting-enabled": "false",
        "x-ms-share-provisioned-bandwidth-mibps": "110",
        "x-ms-share-provisioned-egress-mbps": "110",
        "x-ms-share-provisioned-ingress-mbps": "110",
        "x-ms-share-provisioned-iops": "3100",
        "x-ms-share-quota": "100",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-b0b1d4b0-a9d0-6f31-8c43-4ec76bccf1cc/test-file-5899ac79-3be2-6491-ad63-02c4d74fb04e?sv=Sanitized&ss=f&srt=sco&se=2025-05-30T00%3A52%3A20Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "attachment",
        "Content-Language": "fr-FR",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD9E4B111D4B76\"",
        "Last-Modified": "Thu, 29 May 2025 00:52:20 GMT",
        "x-ms-file-change-time": "2025-05-29T00:52:20.3346806Z",
        "x-ms-file-creation-time": "2024-05-01T10:00:00.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-01T11:00:00.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-link-count": "1",
        "x-ms-meta-src": "nfs",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-eab81da0-ad1b-cd20-e6b4-728e51e88d18/test-file-205180af-1927-b2d4-4d77-01ee0a54f7e4?sv=Sanitized&ss=f&srt=sco&se=2025-05-30T00%3A52%3A20Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-eab81da0-ad1b-cd20-e6b4-728e51e88d18/test-file-205180af-1927-b2d4-4d77-01ee0a54f7e4?sv=Sanitized&ss=f&srt=sco&se=2025-05-30T00%3A52%3A20Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-store",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "es-ES",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-creation-time": "2025-01-01T01:01:01.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-last-write-time": "2025-01-02T02:02:02.0000000Z",
        "x-ms-meta-dest": "override",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9E4B113C199B\"",
        "Last-Modified": "Thu, 29 May 2025 00:52:20 GMT",
        "x-ms-file-change-time": "2025-05-29T00:52:20.5365659Z",
        "x-ms-file-creation-time": "2025-01-01T01:01:01.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-01-02T02:02:02.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-eab81da0-ad1b-cd20-e6b4-728e51e88d18/test-file-205180af-1927-b2d4-4d77-01ee0a54f7e4?sv=Sanitized&ss=f&srt=sco&se=2025-05-30T00%3A52%3A20Z&sp=rwdxylacuptfi&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://nickliupremiumfileacc.file.core.windows.net/test-share-b0b1d4b0-a9d0-6f31-8c43-4ec76bccf1cc/test-file-5899ac79-3be2-6491-ad63-02c4d74fb04e?sv=sanitized-value&ss=f&srt=sco&se=2025-05-30T00%3A52%3A20Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9E4B1141BE1B\"",
        "Last-Modified": "Thu, 29 May 2025 00:52:20 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2025-01-02T02:02:02.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-eab81da0-ad1b-cd20-e6b4-728e51e88d18/test-file-205180af-1927-b2d4-4d77-01ee0a54f7e4?sv=Sanitized&ss=f&srt=sco&se=2025-05-30T00%3A52%3A20Z&sp=rwdxylacuptfi&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-store",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "es-ES",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-creation-time": "2025-01-01T01:01:01.0000000Z",
        "x-ms-file-last-write-time": "2025-01-02T02:02:02.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9E4B1146514B\"",
        "Last-Modified": "Thu, 29 May 2025 00:52:20 GMT",
        "x-ms-file-change-time": "2025-05-29T00:52:20.6035275Z",
        "x-ms-file-creation-time": "2025-01-01T01:01:01.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-01-02T02:02:02.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-link-count": "1",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-b0b1d4b0-a9d0-6f31-8c43-4ec76bccf1cc/test-file-5899ac79-3be2-6491-ad63-02c4d74fb04e?sv=Sanitized&ss=f&srt=sco&se=2025-05-30T00%3A52%3A20Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "attachment",
        "Content-Language": "fr-FR",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD9E4B111D4B76\"",
        "Last-Modified": "Thu, 29 May 2025 00:52:20 GMT",
        "x-ms-file-change-time": "2025-05-29T00:52:20.3346806Z",
        "x-ms-file-creation-time": "2024-05-01T10:00:00.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-01T11:00:00.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms[...]
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-eab81da0-ad1b-cd20-e6b4-728e51e88d18?sv=Sanitized&ss=f&srt=sco&se=2025-05-30T00%3A52%3A20Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-b0b1d4b0-a9d0-6f31-8c43-4ec76bccf1cc?sv=Sanitized&ss=f&srt=sco&se=2025-05-30T00%3A52%3A20Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-05-28T20:52:20.2661877-04:00",
    "RandomSeed": "130888668",
    "Storage_TestConfigPremiumFile": "PremiumFileTenant\nnickliupremiumfileacc\nU2FuaXRpemVk\nhttps://nickliupremiumfileacc.blob.core.windows.net\nhttps://nickliupremiumfileacc.file.core.windows.net\nhttps://nickliupremiumfileacc.queue.core.windows.net\nhttps://nickliupremiumfileacc.table.core.windows.net\n\n\n\n\nhttps://nickliupremiumfileacc-secondary.blob.core.windows.net\nhttps://nickliupremiumfileacc-secondary.file.core.windows.net\nhttps://nickliupremiumfileacc-secondary.queue.core.windows.net\nhttps://nickliupremiumfileacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliupremiumfileacc.blob.core.windows.net/;QueueEndpoint=https://nickliupremiumfileacc.queue.core.windows.net/;FileEndpoint=https://nickliupremiumfileacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliupremiumfileacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliupremiumfileacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliupremiumfileacc-secondary.file.core.windows.net/;AccountName=nickliupremiumfileacc;AccountKey=U2FuaXRpemVk\n\n\n"
  }
}
