{
  "Entries": [
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-208f642e-2077-9e38-6000-4ddf59a3a45a?sv=Sanitized&ss=f&srt=sco&se=2025-04-15T16%3A30%3A26Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B71A51159A2\"",
        "Last-Modified": "Mon, 14 Apr 2025 16:30:18 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-208f642e-2077-9e38-6000-4ddf59a3a45a/test-file-ba184d1e-a2d5-bc43-1b1c-ce76c3c3dcf6?sv=Sanitized&ss=f&srt=sco&se=2025-04-15T16%3A30%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B71A5351646\"",
        "Last-Modified": "Mon, 14 Apr 2025 16:30:18 GMT",
        "x-ms-file-change-time": "2025-04-14T16:30:18.9719110Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-208f642e-2077-9e38-6000-4ddf59a3a45a/test-file-ba184d1e-a2d5-bc43-1b1c-ce76c3c3dcf6?sv=Sanitized&ss=f&srt=sco&se=2025-04-15T16%3A30%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD7B71A5351646\"",
        "Last-Modified": "Mon, 14 Apr 2025 16:30:18 GMT",
        "x-ms-file-change-time": "2025-04-14T16:30:18.9719110Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-link-count": "1",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-fa60b40b-18c1-dccc-f624-3cd20d25dc04/test-file-9d446894-84b3-4fb8-4473-7b50115dcc1f?sv=Sanitized&ss=f&srt=sco&se=2025-04-15T16%3A30%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-fa60b40b-18c1-dccc-f624-3cd20d25dc04/test-file-9d446894-84b3-4fb8-4473-7b50115dcc1f?sv=Sanitized&ss=f&srt=sco&se=2025-04-15T16%3A30%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B71A563E0EC\"",
        "Last-Modified": "Mon, 14 Apr 2025 16:30:19 GMT",
        "x-ms-file-change-time": "2025-04-14T16:30:19.2785644Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-fa60b40b-18c1-dccc-f624-3cd20d25dc04/test-file-9d446894-84b3-4fb8-4473-7b50115dcc1f?sv=Sanitized&ss=f&srt=sco&se=2025-04-15T16%3A30%3A26Z&sp=rwdxylacuptfi&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seancanaryfilepremium2.file.core.windows.net/test-share-208f642e-2077-9e38-6000-4ddf59a3a45a/test-file-ba184d1e-a2d5-bc43-1b1c-ce76c3c3dcf6?sv=sanitized-value&ss=f&srt=sco&se=2025-04-15T16%3A30%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B71A570560C\"",
        "Last-Modified": "Mon, 14 Apr 2025 16:30:19 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-fa60b40b-18c1-dccc-f624-3cd20d25dc04/test-file-9d446894-84b3-4fb8-4473-7b50115dcc1f?sv=Sanitized&ss=f&srt=sco&se=2025-04-15T16%3A30%3A26Z&sp=rwdxylacuptfi&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B71A578B118\"",
        "Last-Modified": "Mon, 14 Apr 2025 16:30:19 GMT",
        "x-ms-file-change-time": "2025-04-14T16:30:19.4149656Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-link-count": "1",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-208f642e-2077-9e38-6000-4ddf59a3a45a/test-file-ba184d1e-a2d5-bc43-1b1c-ce76c3c3dcf6?sv=Sanitized&ss=f&srt=sco&se=2025-04-15T16%3A30%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD7B71A5351646\"",
        "Last-Modified": "Mon, 14 Apr 2025 16:30:18 GMT",
        "x-ms-file-change-time": "2025-04-14T16:30:18.9719110Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms[...]
[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-fa60b40b-18c1-dccc-f624-3cd20d25dc04?sv=Sanitized&ss=f&srt=sco&se=2025-04-15T16%3A30%3A26Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-208f642e-2077-9e38-6000-4ddf59a3a45a?sv=Sanitized&ss=f&srt=sco&se=2025-04-15T16%3A30%3A26Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-04-14T12:30:26.1898957-04:00",
    "RandomSeed": "1284420239",
    "Storage_TestConfigPremiumFile": "PremiumFileTenant\nseancanaryfilepremium2\nU2FuaXRpemVk\nhttps://seancanaryfilepremium2.blob.core.windows.net\nhttps://seancanaryfilepremium2.file.core.windows.net\nhttps://seancanaryfilepremium2.queue.core.windows.net\nhttps://seancanaryfilepremium2.table.core.windows.net\n\n\n\n\nhttps://seancanaryfilepremium2-secondary.blob.core.windows.net\nhttps://seancanaryfilepremium2-secondary.file.core.windows.net\nhttps://seancanaryfilepremium2-secondary.queue.core.windows.net\nhttps://seancanaryfilepremium2-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanaryfilepremium2.blob.core.windows.net/;QueueEndpoint=https://seancanaryfilepremium2.queue.core.windows.net/;FileEndpoint=https://seancanaryfilepremium2.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanaryfilepremium2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanaryfilepremium2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanaryfilepremium2-secondary.file.core.windows.net/;AccountName=seancanaryfilepremium2;AccountKey=U2FuaXRpemVk\n\n\n"
  }
}
