{
  "Entries": [
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-9e8fa2f3-658a-c784-ad72-a6608ce2794c?sv=Sanitized&ss=f&srt=sco&se=2025-04-16T19%3A05%3A58Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C508C0B3BD6\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:05:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-9e8fa2f3-658a-c784-ad72-a6608ce2794c/test-file-f0d0fac6-8bc3-b8d6-8d6a-0fc39c9b8464?sv=Sanitized&ss=f&srt=sco&se=2025-04-16T19%3A05%3A58Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C508C1C1FC5\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:05:54 GMT",
        "x-ms-file-change-time": "2025-04-15T19:05:54.6359749Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-9e8fa2f3-658a-c784-ad72-a6608ce2794c/test-file-f0d0fac6-8bc3-b8d6-8d6a-0fc39c9b8464?sv=Sanitized&ss=f&srt=sco&se=2025-04-16T19%3A05%3A58Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD7C508C1C1FC5\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:05:54 GMT",
        "x-ms-file-change-time": "2025-04-15T19:05:54.6359749Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-link-count": "1",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-da6052f9-1fb0-626d-d64e-dd0eeb722fba/test-file-fd41fd0a-6990-db1d-d355-f3ba9b73d902?sv=Sanitized&ss=f&srt=sco&se=2025-04-16T19%3A05%3A58Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-da6052f9-1fb0-626d-d64e-dd0eeb722fba/test-file-fd41fd0a-6990-db1d-d355-f3ba9b73d902?sv=Sanitized&ss=f&srt=sco&se=2025-04-16T19%3A05%3A58Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C508C3FAC9C\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:05:54 GMT",
        "x-ms-file-change-time": "2025-04-15T19:05:54.8689564Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-da6052f9-1fb0-626d-d64e-dd0eeb722fba/test-file-fd41fd0a-6990-db1d-d355-f3ba9b73d902?sv=Sanitized&ss=f&srt=sco&se=2025-04-16T19%3A05%3A58Z&sp=rwdxylacuptfi&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seancanaryfilepremium2.file.core.windows.net/test-share-9e8fa2f3-658a-c784-ad72-a6608ce2794c/test-file-f0d0fac6-8bc3-b8d6-8d6a-0fc39c9b8464?sv=sanitized-value&ss=f&srt=sco&se=2025-04-16T19%3A05%3A58Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C508C487C60\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:05:54 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-da6052f9-1fb0-626d-d64e-dd0eeb722fba/test-file-fd41fd0a-6990-db1d-d355-f3ba9b73d902?sv=Sanitized&ss=f&srt=sco&se=2025-04-16T19%3A05%3A58Z&sp=rwdxylacuptfi&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C508C4F2BA3\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:05:54 GMT",
        "x-ms-file-change-time": "2025-04-15T19:05:54.9705123Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-link-count": "1",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-9e8fa2f3-658a-c784-ad72-a6608ce2794c/test-file-f0d0fac6-8bc3-b8d6-8d6a-0fc39c9b8464?sv=Sanitized&ss=f&srt=sco&se=2025-04-16T19%3A05%3A58Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD7C508C1C1FC5\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:05:54 GMT",
        "x-ms-file-change-time": "2025-04-15T19:05:54.6359749Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms[...]
[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-da6052f9-1fb0-626d-d64e-dd0eeb722fba?sv=Sanitized&ss=f&srt=sco&se=2025-04-16T19%3A05%3A58Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-9e8fa2f3-658a-c784-ad72-a6608ce2794c?sv=Sanitized&ss=f&srt=sco&se=2025-04-16T19%3A05%3A58Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-04-15T15:05:58.5663061-04:00",
    "RandomSeed": "113100255",
    "Storage_TestConfigPremiumFile": "PremiumFileTenant\nseancanaryfilepremium2\nU2FuaXRpemVk\nhttps://seancanaryfilepremium2.blob.core.windows.net\nhttps://seancanaryfilepremium2.file.core.windows.net\nhttps://seancanaryfilepremium2.queue.core.windows.net\nhttps://seancanaryfilepremium2.table.core.windows.net\n\n\n\n\nhttps://seancanaryfilepremium2-secondary.blob.core.windows.net\nhttps://seancanaryfilepremium2-secondary.file.core.windows.net\nhttps://seancanaryfilepremium2-secondary.queue.core.windows.net\nhttps://seancanaryfilepremium2-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanaryfilepremium2.blob.core.windows.net/;QueueEndpoint=https://seancanaryfilepremium2.queue.core.windows.net/;FileEndpoint=https://seancanaryfilepremium2.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanaryfilepremium2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanaryfilepremium2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanaryfilepremium2-secondary.file.core.windows.net/;AccountName=seancanaryfilepremium2;AccountKey=U2FuaXRpemVk\n\n\n"
  }
}
