{
  "Entries": [
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-06685b4e-786f-8925-efac-0977f5ca7f0a?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A30Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6494228AE72\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:44:30 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-06685b4e-786f-8925-efac-0977f5ca7f0a/test-file-c345dae6-980f-c825-63a8-12d9029f575d?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A30Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-group": "123",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA649423CC000\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:44:30 GMT",
        "x-ms-file-change-time": "2026-04-29T23:44:30.7290112Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-06685b4e-786f-8925-efac-0977f5ca7f0a?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A30Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6494228AE72\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:44:30 GMT",
        "x-ms-access-tier": "Premium",
        "x-ms-enable-snapshot-virtual-directory-access": "true",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-root-squash": "NoRootSquash",
        "x-ms-share-next-allowed-quota-downgrade-time": "Wed, 29 Apr 2026 23:44:30 GMT",
        "x-ms-share-paid-bursting-enabled": "false",
        "x-ms-share-provisioned-bandwidth-mibps": "110",
        "x-ms-share-provisioned-egress-mbps": "110",
        "x-ms-share-provisioned-ingress-mbps": "110",
        "x-ms-share-provisioned-iops": "3100",
        "x-ms-share-quota": "100",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-06685b4e-786f-8925-efac-0977f5ca7f0a/test-file-c345dae6-980f-c825-63a8-12d9029f575d?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A30Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEA649423CC000\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:44:30 GMT",
        "x-ms-file-change-time": "2026-04-29T23:44:30.7290112Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-link-count": "1",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-88192b2e-0d62-9457-38b9-a23f85a324a2/test-file-886a842d-3755-fa8b-6c68-cb756df94425?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A30Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-88192b2e-0d62-9457-38b9-a23f85a324a2/test-file-886a842d-3755-fa8b-6c68-cb756df94425?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A30Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-file-type": "Regular",
        "x-ms-group": "123",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6494268A7DE\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:44:31 GMT",
        "x-ms-file-change-time": "2026-04-29T23:44:31.0167518Z",
        "x-ms-file-creation-time": "2026-04-29T23:44:31.0167518Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-29T23:44:31.0167518Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-88192b2e-0d62-9457-38b9-a23f85a324a2/test-file-886a842d-3755-fa8b-6c68-cb756df94425?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A30Z&sp=rwdxylacuptfi&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandafilepremscale.file.core.windows.net/test-share-06685b4e-786f-8925-efac-0977f5ca7f0a/test-file-c345dae6-980f-c825-63a8-12d9029f575d?sv=sanitized-value&ss=f&srt=sco&se=2026-04-30T23%3A44%3A30Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA64942719E66\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:44:31 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2026-04-29T23:44:31.0167518Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-88192b2e-0d62-9457-38b9-a23f85a324a2/test-file-886a842d-3755-fa8b-6c68-cb756df94425?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A30Z&sp=rwdxylacuptfi&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6494277FFCF\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:44:31 GMT",
        "x-ms-file-change-time": "2026-04-29T23:44:31.1173071Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-link-count": "1",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-06685b4e-786f-8925-efac-0977f5ca7f0a/test-file-c345dae6-980f-c825-63a8-12d9029f575d?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A30Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEA649423CC000\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:44:30 GMT",
        "x-ms-file-change-time": "2026-04-29T23:44:30.7290112Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms[...]
[...]
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-88192b2e-0d62-9457-38b9-a23f85a324a2?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A30Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-06685b4e-786f-8925-efac-0977f5ca7f0a?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A30Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-04-29T16:44:30.9501664-07:00",
    "RandomSeed": "1235798467",
    "Storage_TestConfigPremiumFile": "PremiumFileTenant\namandafilepremscale\nU2FuaXRpemVk\n\nhttps://amandafilepremscale.file.core.windows.net\n\n\n\n\n\n\n\nhttps://amandafilepremscale-secondary.file.core.windows.net\n\n\nCloud\nFileEndpoint=https://amandafilepremscale.file.core.windows.net/;FileSecondaryEndpoint=https://amandafilepremscale-secondary.file.core.windows.net/;AccountName=amandafilepremscale;AccountKey=U2FuaXRpemVk\n\n\n"
  }
}
