{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6c433eee-e32e-8d5f-4ef8-e6b983da17df?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:23:40 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D16B1385870\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:23:40 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6c433eee-e32e-8d5f-4ef8-e6b983da17df/test-file-d17644c6-feac-e9bc-199a-f895358cf07b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 07 Mar 2025 01:23:40 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D16B14CDA5D\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:23:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6c433eee-e32e-8d5f-4ef8-e6b983da17df/test-file-d17644c6-feac-e9bc-199a-f895358cf07b?sv=Sanitized&se=2025-03-08T01%3A23%3A40Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D16B14CDA5D\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:23:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-ac768dd3-111a-6ee3-38a8-0ec51a9ee8bd/test-file-30fc782d-81b9-f5af-a21c-d040678cf268?sv=Sanitized&se=2025-03-08T01%3A23%3A40Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-ac768dd3-111a-6ee3-38a8-0ec51a9ee8bd/test-file-30fc782d-81b9-f5af-a21c-d040678cf268?sv=Sanitized&se=2025-03-08T01%3A23%3A40Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D16B177FF81\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:23:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-ac768dd3-111a-6ee3-38a8-0ec51a9ee8bd/test-file-30fc782d-81b9-f5af-a21c-d040678cf268?sv=Sanitized&se=2025-03-08T01%3A23%3A40Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-6c433eee-e32e-8d5f-4ef8-e6b983da17df/test-file-d17644c6-feac-e9bc-199a-f895358cf07b?sv=sanitized-value&se=2025-03-08T01%3A23%3A40Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D16B183169B\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:23:40 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-ac768dd3-111a-6ee3-38a8-0ec51a9ee8bd/test-file-30fc782d-81b9-f5af-a21c-d040678cf268?sv=Sanitized&se=2025-03-08T01%3A23%3A40Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream"[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6c433eee-e32e-8d5f-4ef8-e6b983da17df/test-file-d17644c6-feac-e9bc-199a-f895358cf07b?sv=Sanitized&se=2025-03-08T01%3A23%3A40Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D16B14CDA5D\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:23:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-ac768dd3-111a-6ee3-38a8-0ec51a9ee8bd?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:23:41 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6c433eee-e32e-8d5f-4ef8-e6b983da17df?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:23:41 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T17:23:40.2245077-08:00",
    "RandomSeed": "1868290458",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
