{
  "Entries": [
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-8e6e6435-c85a-7b90-f9c2-285d52fa8d6f?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A07%3A58Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE5E4002EC\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:07:58 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-8e6e6435-c85a-7b90-f9c2-285d52fa8d6f/original?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A07%3A58Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE5E4ADB15\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:07:58 GMT",
        "x-ms-file-change-time": "2025-07-17T01:07:58.0749589Z",
        "x-ms-file-creation-time": "2025-07-17T01:07:58.0749589Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-07-17T01:07:58.0749589Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-8e6e6435-c85a-7b90-f9c2-285d52fa8d6f/original-symlink?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A07%3A58Z&sp=rwdxylacuptfi&sig=Sanitized&restype=symboliclink",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-link-text": "/test-share-8e6e6435-c85a-7b90-f9c2-285d52fa8d6f/original",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE5E4EF92B\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:07:58 GMT",
        "x-ms-file-change-time": "2025-07-17T01:07:58.1019435Z",
        "x-ms-file-creation-time": "2025-07-17T01:07:58.1019435Z",
        "x-ms-file-file-type": "SymLink",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-07-17T01:07:58.1019435Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0777",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-8e6e6435-c85a-7b90-f9c2-285d52fa8d6f/original-symlink?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A07%3A58Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDC4CE5E4EF92B\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:07:58 GMT",
        "x-ms-file-change-time": "2025-07-17T01:07:58.1019435Z",
        "x-ms-file-creation-time": "2025-07-17T01:07:58.1019435Z",
        "x-ms-file-file-type": "SymLink",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-07-17T01:07:58.1019435Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-link-count": "1",
        "x-ms-mode": "0777",
        "x-ms-owner": "0",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-8e6e6435-c85a-7b90-f9c2-285d52fa8d6f?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A07%3A58Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE5E4002EC\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:07:58 GMT",
        "x-ms-access-tier": "Premium",
        "x-ms-enable-snapshot-virtual-directory-access": "true",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-root-squash": "NoRootSquash",
        "x-ms-share-next-allowed-quota-downgrade-time": "Thu, 17 Jul 2025 01:07:58 GMT",
        "x-ms-share-paid-bursting-enabled": "false",
        "x-ms-share-provisioned-bandwidth-mibps": "110",
        "x-ms-share-provisioned-egress-mbps": "110",
        "x-ms-share-provisioned-ingress-mbps": "110",
        "x-ms-share-provisioned-iops": "3100",
        "x-ms-share-quota": "100",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-9318be80-13b9-d372-9a39-e22b0a0f91ab/test-file-8dba8f84-678e-6ad0-be92-152a3cf49952?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A07%3A58Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-9318be80-13b9-d372-9a39-e22b0a0f91ab?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A07%3A58Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-8e6e6435-c85a-7b90-f9c2-285d52fa8d6f?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A07%3A58Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-07-16T21:07:58.1684152-04:00",
    "RandomSeed": "1003795778",
    "Storage_TestConfigPremiumFile": "PremiumFileTenant\nnickliupremiumfileacc\nU2FuaXRpemVk\nhttps://nickliupremiumfileacc.blob.core.windows.net\nhttps://nickliupremiumfileacc.file.core.windows.net\nhttps://nickliupremiumfileacc.queue.core.windows.net\nhttps://nickliupremiumfileacc.table.core.windows.net\n\n\n\n\nhttps://nickliupremiumfileacc-secondary.blob.core.windows.net\nhttps://nickliupremiumfileacc-secondary.file.core.windows.net\nhttps://nickliupremiumfileacc-secondary.queue.core.windows.net\nhttps://nickliupremiumfileacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliupremiumfileacc.blob.core.windows.net/;QueueEndpoint=https://nickliupremiumfileacc.queue.core.windows.net/;FileEndpoint=https://nickliupremiumfileacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliupremiumfileacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliupremiumfileacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliupremiumfileacc-secondary.file.core.windows.net/;AccountName=nickliupremiumfileacc;AccountKey=U2FuaXRpemVk\n\n\n"
  }
}
