{
  "Entries": [
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-3f28d9c6-0084-64b1-2fc0-042156a40b7e?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A09%3A49Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD932346217422\"",
        "Last-Modified": "Wed, 14 May 2025 20:09:46 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-3f28d9c6-0084-64b1-2fc0-042156a40b7e/test-file-1d132d01-cfdc-2b5f-7ae4-16a25af97253?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A09%3A49Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "0",
        "x-ms-file-attributes": "ReadOnly",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9323462AE014\"",
        "Last-Modified": "Wed, 14 May 2025 20:09:46 GMT",
        "x-ms-file-attributes": "ReadOnly | Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15762868840871496755*8241620249767961789",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-3f28d9c6-0084-64b1-2fc0-042156a40b7e?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A09%3A49Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD932346217422\"",
        "Last-Modified": "Wed, 14 May 2025 20:09:46 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Wed, 14 May 2025 20:09:46 GMT",
        "x-ms-enabled-protocols": "SMB",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-quota": "102400",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-3f28d9c6-0084-64b1-2fc0-042156a40b7e/test-file-1d132d01-cfdc-2b5f-7ae4-16a25af97253?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A09%3A49Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD9323462AE014\"",
        "Last-Modified": "Wed, 14 May 2025 20:09:46 GMT",
        "x-ms-file-attributes": "ReadOnly | Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15762868840871496755*8241620249767961789",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-40937cc3-588d-a488-6cb6-51bc7917cec2/test-file-c296b202-97ea-4dd0-4414-f86bd64a993e?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A09%3A49Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-40937cc3-588d-a488-6cb6-51bc7917cec2/test-file-c296b202-97ea-4dd0-4414-f86bd64a993e?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A09%3A49Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "0",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "ReadOnly|Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9323464D35AB\"",
        "Last-Modified": "Wed, 14 May 2025 20:09:46 GMT",
        "x-ms-file-attributes": "ReadOnly | Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15762868840871496755*8241620249767961789",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-40937cc3-588d-a488-6cb6-51bc7917cec2/test-file-c296b202-97ea-4dd0-4414-f86bd64a993e?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A09%3A49Z&sp=rwdxylacuptfi&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type":[...]
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-40937cc3-588d-a488-6cb6-51bc7917cec2?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A09%3A49Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-3f28d9c6-0084-64b1-2fc0-042156a40b7e?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A09%3A49Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-05-14T16:09:49.3250019-04:00",
    "RandomSeed": "810099764",
    "Storage_TestConfigDefault": "ProductionTenant\nxmfxscnbn9pe18ex\nU2FuaXRpemVk\nhttps://xmfxscnbn9pe18ex.blob.preprod.core.windows.net\nhttps://xmfxscnbn9pe18ex.file.preprod.core.windows.net\nhttps://xmfxscnbn9pe18ex.queue.core.windows.net\nhttps://xmfxscnbn9pe18ex.table.core.windows.net\n\n\n\n\nhttps://xmfxscnbn9pe18ex-secondary.blob.core.windows.net\nhttps://xmfxscnbn9pe18ex-secondary.file.core.windows.net\nhttps://xmfxscnbn9pe18ex-secondary.queue.core.windows.net\nhttps://xmfxscnbn9pe18ex-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xmfxscnbn9pe18ex.blob.preprod.core.windows.net/;QueueEndpoint=https://xmfxscnbn9pe18ex.queue.core.windows.net/;FileEndpoint=https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://xmfxscnbn9pe18ex-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xmfxscnbn9pe18ex-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xmfxscnbn9pe18ex-secondary.file.core.windows.net/;AccountName=xmfxscnbn9pe18ex;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
