{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a9abfe4d-e071-2004-317a-4072b90741af?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Oct 2023 19:31:09 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD3FE9CCF6D5C\u0022",
        "Last-Modified": "Mon, 23 Oct 2023 19:31:10 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a9abfe4d-e071-2004-317a-4072b90741af/test-file-8c13e596-5a80-fd06-74da-59d5ab785ca0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "0",
        "x-ms-date": "Mon, 23 Oct 2023 19:31:09 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD3FE9CECE15B\u0022",
        "Last-Modified": "Mon, 23 Oct 2023 19:31:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-23T19:31:11.0980955Z",
        "x-ms-file-creation-time": "2023-10-23T19:31:11.0980955Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-23T19:31:11.0980955Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a9abfe4d-e071-2004-317a-4072b90741af/test-file-8c13e596-5a80-fd06-74da-59d5ab785ca0?sv=2024-02-04\u0026se=2023-10-24T19%3A31%3A09Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBD3FE9CECE15B\u0022",
        "Last-Modified": "Mon, 23 Oct 2023 19:31:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-23T19:31:11.0980955Z",
        "x-ms-file-creation-time": "2023-10-23T19:31:11.0980955Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-23T19:31:11.0980955Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-7954d822-cad5-64bd-2bfe-30c1d256fafa/test-file-a38af9a6-adca-6617-24da-410f34174299?sv=2024-02-04\u0026se=2023-10-24T19%3A31%3A09Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-7954d822-cad5-64bd-2bfe-30c1d256fafa?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Oct 2023 19:31:10 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a9abfe4d-e071-2004-317a-4072b90741af?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Oct 2023 19:31:10 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-10-23T12:31:09.7780837-07:00",
    "RandomSeed": "471450569",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
