{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-797b9e85-45f5-2376-aafa-170bf290084d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 21:28:35 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6EAFD811853\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 21:28:35 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-53d394c4-573a-61c4-1e46-ce0408ce9037/test-file-55186b6e-a5bb-e548-79f6-1253731fe183",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 16 Nov 2023 21:28:35 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6EAFD9F8CD6\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 21:28:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-16T21:28:35.4884822Z",
        "x-ms-file-creation-time": "2023-11-16T21:28:35.4884822Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-16T21:28:35.4884822Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-53d394c4-573a-61c4-1e46-ce0408ce9037/test-file-55186b6e-a5bb-e548-79f6-1253731fe183?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 16 Nov 2023 21:28:35 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-02-04",
        "x-ms-write": "update"
      },
      "RequestBody": "d/flzsdZRmBNI7xD3iM8PwO9v6NZac6qaBou0jppE7bPa6kkHaa7Q5gdA5jZi7Rea6MooWgxFw0pOmWsKnMl5A8GdHJ6GCFcAXwKO2Y10d1l0GeWQHJNnVSb\u002BuJADxgl9x6J0xZC41KCy6DsJ9um9GmIR1kMjqOduNce3x0\u002BHPFj5UNHq/3GI\u002B0UFHXRYXZ59AZ5uMe\u002BGGl77Bo/JAQ1Q66uiUGXXkhrwSRs\u002BHoty1ZhpOoXxWMqpM3azL/ih//p39DHI9g04ZW9DfajUiDuTiHE3X8ZHX5KhOR0vJKJiDklghipZqh\u002BLMJUWrhthlGs7H2eHql/z8FSfJ7zwCQDM4S9ftAHROh4RbG8xcPF3f2Sx9AU62qPpbJWV\u002BoJimyeUSY0rweBpaeVJdn4wwr\u002BjZ6gYfhU7kgZLdk[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-797b9e85-45f5-2376-aafa-170bf290084d/test-file-87580d81-723d-d5e2-0be4-76ffcbe2ad8d?sv=2024-05-04\u0026se=2023-11-17T21%3A28%3A35Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE6EAFDDD771A\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 21:28:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-16T21:28:35.8942490Z",
        "x-ms-file-creation-time": "2023-11-16T21:28:35.8942490Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-16T21:28:35.8942490Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-53d394c4-573a-61c4-1e46-ce0408ce9037/test-file-55186b6e-a5bb-e548-79f6-1253731fe183?sv=2024-05-04\u0026se=2023-11-17T21%3A28%3A35Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE6EAFDC3B15B\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 21:28:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-16T21:28:35.7253467Z",
        "x-ms-file-creation-time": "2023-11-16T21:28:35.4884822Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-16T21:28:35.7253467Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-53d394c4-573a-61c4-1e46-ce0408ce9037?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 21:28:36 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-797b9e85-45f5-2376-aafa-170bf290084d?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 21:28:36 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-16T13:28:35.5416047-08:00",
    "RandomSeed": "1478566445",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
