{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-62ed1a42-bec0-2f83-d093-07f47c692e67?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 23:29:46 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC486C77787FD8\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 23:29:47 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-62ed1a42-bec0-2f83-d093-07f47c692e67/test-file-6f0eb858-9b60-fa18-ce43-eac80c23a2a2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "x-ms-date": "Tue, 19 Mar 2024 23:29:47 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC486C778DD02C\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 23:29:47 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-03-19T23:29:47.9218220Z",
        "x-ms-file-creation-time": "2024-03-19T23:29:47.9218220Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-03-19T23:29:47.9218220Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-62ed1a42-bec0-2f83-d093-07f47c692e67/test-file-6f0eb858-9b60-fa18-ce43-eac80c23a2a2?sv=2024-02-04\u0026se=2024-03-20T23%3A29%3A47Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC486C778DD02C\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 23:29:47 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-03-19T23:29:47.9218220Z",
        "x-ms-file-creation-time": "2024-03-19T23:29:47.9218220Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-03-19T23:29:47.9218220Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-96f6dc7f-956a-e622-fce8-89514d13ae60/test-file-e946940a-0821-6ce7-d2a8-3762d79ca725?sv=2024-02-04\u0026se=2024-03-20T23%3A29%3A47Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-96f6dc7f-956a-e622-fce8-89514d13ae60/test-file-e946940a-0821-6ce7-d2a8-3762d79ca725?sv=2024-02-04\u0026se=2024-03-20T23%3A29%3A47Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized\u0026comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.file.core.windows.net/test-share-62ed1a42-bec0-2f83-d093-07f47c692e67/test-file-6f0eb858-9b60-fa18-ce43-eac80c23a2a2?sv=2024-02-04\u0026se=2024-03-20T23%3A29%3A47Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
        "x-ms-range": "bytes=0-2047",
        "x-ms-source-range": "bytes=0-2047",
        "x-ms-version": "2024-02-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC486C77C66430\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 23:29:48 GMT",
        "x-ms-content-crc64": "E1xsWVuyFpc=",
        "x-ms-file-last-write-time": "2024-03-19T23:29:48.2926128Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-62ed1a42-bec0-2f83-d093-07f47c692e67/test-file-6f0eb858-9b60-fa18-ce43-eac80c23a2a2?sv=2024-02-04\u0026se=2024-03-20T23%3A29%3A47Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC486C778DD02C\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 23:29:47 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-03-19T23:29:47.9218220Z",
        "x-ms-file-creation-time": "2024-03-19T23:29:47.9218220Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-03-19T23:29:47.9218220Z",
        "x-ms-file-parent-i[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-96f6dc7f-956a-e622-fce8-89514d13ae60?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 23:29:47 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-62ed1a42-bec0-2f83-d093-07f47c692e67?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 23:29:48 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-19T16:29:47.2095558-07:00",
    "RandomSeed": "1461731764",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
