{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-72bf2165-9a5c-e955-93d9-d86501281bc8?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 21:28:32 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6EAFBE22401\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 21:28:32 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e0b36276-0ba0-e57e-d1bc-60e7af11a046/test-file-901af26e-c4e7-18dc-1747-e54ac5a89fa8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 16 Nov 2023 21:28:32 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6EAFBFE4F21\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 21:28:32 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-16T21:28:32.7540513Z",
        "x-ms-file-creation-time": "2023-11-16T21:28:32.7540513Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-16T21:28:32.7540513Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e0b36276-0ba0-e57e-d1bc-60e7af11a046/test-file-901af26e-c4e7-18dc-1747-e54ac5a89fa8?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 16 Nov 2023 21:28:32 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-02-04",
        "x-ms-write": "update"
      },
      "RequestBody": "KrQs17e/\u002BezIPO8CjhPELpg1NUPQuOUczjavhvyYDSk\u002Brwa5T3MNKfZvxmAiZ0pgD6Ugv/7O4nLOEAiAD3PvMC7GxN8NCt4lJwxMYfKF\u002BmfsT3dXd04qb82U6z9qjRqDf5UyW6JrUgTG\u002B5fygYCASRWhk7/8mLjfm1UReR6euprxyeJcU57EgfxykHy3N\u002B5ME6IpyPlbhubcUsBNWdnlKED8AbeeI/V23RLCigg8KGNnxGV8dPGhlkL7fwHedycjjGg7ujY2rvCss\u002BvmmPzeoClc5pR0abNOW2p1o6T0mGbqn/2gAG4tMBZ1z8EGuv5GHN/XgZCTriK17F/MwQpMuBqF\u002B/n\u002BPqC7L7V9/pnxSKBsLobEHBbVV/Db6hMOYW8MKRengb8FR94/HFLbFa\u002BJxKS\u002BX[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-72bf2165-9a5c-e955-93d9-d86501281bc8/test-file-a2a32385-f4b0-3bcb-2c63-eb635eee7d83?sv=2025-04-05\u0026se=2023-11-17T21%3A28%3A32Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE6EAFC286634\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 21:28:33 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-16T21:28:33.0298932Z",
        "x-ms-file-creation-time": "2023-11-16T21:28:33.0298932Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-16T21:28:33.0298932Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e0b36276-0ba0-e57e-d1bc-60e7af11a046/test-file-901af26e-c4e7-18dc-1747-e54ac5a89fa8?sv=2025-04-05\u0026se=2023-11-17T21%3A28%3A32Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE6EAFC17EDE3\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 21:28:32 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-16T21:28:32.9219555Z",
        "x-ms-file-creation-time": "2023-11-16T21:28:32.7540513Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-16T21:28:32.9219555Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e0b36276-0ba0-e57e-d1bc-60e7af11a046?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 21:28:33 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-72bf2165-9a5c-e955-93d9-d86501281bc8?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 21:28:33 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-16T13:28:32.7374533-08:00",
    "RandomSeed": "597080486",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
