{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-298a6e7e-7dc9-df98-dab1-0e8359a1516f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 19:58:14 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AD14E3D1872\"",
        "Last-Modified": "Tue, 02 Jul 2024 19:58:13 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-1e9cdf54-fcf4-7c3b-7bc6-1ddb914b6319/test-file-c668013b-fced-6e54-b51d-3077b72596b5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 02 Jul 2024 19:58:14 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AD14E4E6A17\"",
        "Last-Modified": "Tue, 02 Jul 2024 19:58:13 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-1e9cdf54-fcf4-7c3b-7bc6-1ddb914b6319/test-file-c668013b-fced-6e54-b51d-3077b72596b5?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 02 Jul 2024 19:58:14 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "R+WAX0qf7eZEhjhELRAGZeTxFNE20qnjOZyAS2zgFmK3HEqkf6kRnadUJ0xgcMKA910BeRMcN3U7nCauH6F6Y2/VjBHGYeY74Hcp4qpcgsjaAFQO351Pm+TUaOKDY30G2sPdiuOxuZV3xpmc8lXK3xld0x9Ma4TShvEs8fgDt3z5Iwjnf/jkKEa/lxgDs6iPConIJY9euW4/CgTyhMiccw4dos9N42AhearYjdRrz9NInOdvO5LsmmqZqHTz8aR+IiMJ5hDZQiYopqzkhiua0zswqufgLDh8MAdltDvrLYcGWmqwYujCb1rBRpTmCBQ+/tU5wke8nvbqjbYJc43rPXgk3SvA6XFSbjuNHuWklifyJrVmsms/Srx0xtQyufvM1QkbwSrpfhRj5lQML38QRfaOFkzYhYsN5JNuSyOcILQ/wEncidX9CaigAssWMxs9ZIDeo6Ou9FB9DdyXejLxx8WfzG81M7whkQyjN4K/97F4MeaivX0Rkcv4Xnz4Zo52rjoFdmarBzHEvBKWCrzOvhUqHklLTwpIjjujPdQ/KCp+LYhIuYFKzCm13gBqe4cOKqBmzkdFK18wvegrCMlchJTnGN0zhQSU31IglXEJ3RK0lBMz2VrjOAIpF/yZH8RfWFlsg2Op2qSc0u70JJXuJ9/Vd3O2KKs5A9/aCm0I+sCOwDwXnFquCrpvlwZs7hRsO/Acw6dQqTCuMn+Ez9A2k9ctZmNY1oqEJm25RpClzRXLbs986zcYPRcMaGnbKjrpOQMuPoiwE2RmmJw6l2KfCWVquWABuaigFChMTG4gqfwyzw2Ndo6MGlprFlKb3qa1bV8EcXHa6H9bjilfY8f2Re6gB8hUEpLX3Z4GlaJVBDaCl94OHDiLWOaNMehkLbaSdNBk+tfdYFvMLZPS01LcBYnz3czp5ym2Fa/hx+CqcrDncyHS8QpepDaDQu+kuIWTsSxecFDpqY2nreUo+5l6Ibrj618xChN/lDiWZaU6ElwqThWzTAFf/cqTK0QkNqidCCA0wM0lYaYY39wXU0PobZqJ/a2Dx9W5g+2Vnt/PW12P+F2EBVKPBO1vmmwlSKqGq72qmzj7GkFKezzgkMPHSYR+h1vmY2dH+fnAEyxokztDDvMhJMAklN4cOYkWr3QqqFHop8BOoEdWYqE/OwYU4ucAnIHPpSTEWfN9yindMUqFlmvbgOx79G6ry8Ie5VnXB1eiFRLyWgIsJE3M0dUeeDBXuqWaOWH6hagTJNpipXOapcPSOxw3kjxprlufriKYjVOSxyqzPM31qI9p3zUnyn/ZMiwSSzwTHyhpMYsGW9aFepeHz91I5mj13JOMzrIGQeTcxXz2hkEWfqgCSgtB7w==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "+r2Yp7FJ2zewYoaPjHi9YA==",
        "ETag": "\"0x8DC9AD14E587ACA\"",
        "Last-Modified": "Tue, 02 Jul 2024 19:58:13 GMT",
        "x-ms-file-last-write-time": "2024-07-02T19:58:13.3031626Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-298a6e7e-7dc9-df98-dab1-0e8359a1516f/test-file-de5a0483-b3b8-1942-278f-7495dc1f7140?sv=Sanitized&se=2024-07-03T19%3A58%3A14Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AD14E61532E\"",
        "Last-Modified": "Tue, 02 Jul 2024 19:58:13 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-1e9cdf54-fcf4-7c3b-7bc6-1ddb914b6319/test-file-c668013b-fced-6e54-b51d-3077b72596b5?sv=Sanitized&se=2024-07-03T19%3A58%3A14Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AD14E587ACA\"",
        "Last-Modified": "Tue, 02 Jul 2024 19:58:13 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T19:58:13.3031626Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T19:58:13.3031626Z",
        "x-ms-file-parent-id": "0",[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-1e9cdf54-fcf4-7c3b-7bc6-1ddb914b6319?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 19:58:15 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-298a6e7e-7dc9-df98-dab1-0e8359a1516f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 19:58:15 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-07-02T12:58:14.5391680-07:00",
    "RandomSeed": "386124437",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
