{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-c1e36004-3a80-d323-b7c9-9510dd6d4c7c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Oct 2023 05:04:56 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD3859A46B404\u0022",
        "Last-Modified": "Mon, 23 Oct 2023 05:04:57 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-c1e36004-3a80-d323-b7c9-9510dd6d4c7c/test-file-ab6f3f95-4171-ffa0-6d65-27c453699654",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 23 Oct 2023 05:04:57 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD3859A635F6F\u0022",
        "Last-Modified": "Mon, 23 Oct 2023 05:04:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-23T05:04:57.7372015Z",
        "x-ms-file-creation-time": "2023-10-23T05:04:57.7372015Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-23T05:04:57.7372015Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-c1e36004-3a80-d323-b7c9-9510dd6d4c7c/test-file-ab6f3f95-4171-ffa0-6d65-27c453699654?sv=2023-11-03\u0026se=2023-10-25T05%3A04%3A57Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBD3859A635F6F\u0022",
        "Last-Modified": "Mon, 23 Oct 2023 05:04:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-23T05:04:57.7372015Z",
        "x-ms-file-creation-time": "2023-10-23T05:04:57.7372015Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-23T05:04:57.7372015Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-6db51d50-24e1-d489-7709-00b6312b0bb3/test-file-9f4ce79e-6084-5063-d580-e812ceedd7e5?sv=2023-11-03\u0026se=2023-10-25T05%3A04%3A57Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized\u0026comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.file.core.windows.net/test-share-c1e36004-3a80-d323-b7c9-9510dd6d4c7c/test-file-ab6f3f95-4171-ffa0-6d65-27c453699654?sv=2023-11-03\u0026se=2023-10-25T05%3A04%3A57Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD3859A8E60B0\u0022",
        "Last-Modified": "Mon, 23 Oct 2023 05:04:58 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2023-10-23T05:04:58.0190384Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-c1e36004-3a80-d323-b7c9-9510dd6d4c7c/test-file-ab6f3f95-4171-ffa0-6d65-27c453699654?sv=2023-11-03\u0026se=2023-10-25T05%3A04%3A57Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBD3859A635F6F\u0022",
        "Last-Modified": "Mon, 23 Oct 2023 05:04:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-23T05:04:57.7372015Z",
        "x-ms-file-creation-time": "2023-10-23T05:04:57.7372015Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-23T05:04:57.7372015Z",
        "x-ms-file-parent-i[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-6db51d50-24e1-d489-7709-00b6312b0bb3?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Oct 2023 05:04:57 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-c1e36004-3a80-d323-b7c9-9510dd6d4c7c?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Oct 2023 05:04:57 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1725928351",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
