{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6763153b-6a00-09c1-6c54-bc09c20880a1?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:30:03 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B9E662A30\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:30:03 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-b112cf52-857d-d8df-4eb3-ebe23e9183af/test-file-3276b1e2-e043-caab-69ff-75871e63d668",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 06 Dec 2024 17:30:03 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B9E7BBF7D\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:30:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-b112cf52-857d-d8df-4eb3-ebe23e9183af/test-file-3276b1e2-e043-caab-69ff-75871e63d668?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 06 Dec 2024 17:30:03 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "6qWlNnP7svKwG12tbVlt734gZ7oIVMT2oDekZXQJ3yM/FlNcEnVNMWJQ72nZrL6MLJcfjQBefpXhrpY7Vk1+pjw6blcGEN0J0jVXt2VaHfN5GDjc6VEj4Je9e2TeEtsV0kgsnj5mhhy5FbrKBscvhpCiwT0UobzqF43ASJR5K8BaQuQdLn61EpIbItSWWNnPjfXTPFCdADGLQYawpj2IQOr6cMTjElgR7a+r+H7oU7+08Lufpe5wvEKykuz3BWtVk+LpnOgV7HucwU+g8Qezou3H+7aB6Jv8irOCMIBsGuhDVmWc/7fWngRAAuOfz8o6/+/+MAm106tG7RI1krz7MKdmXZuiFqM28F2yQeW3XLroRzCQbenejoK5VRGkoQxHRNI8OHIvl+hLxz+sA5HFj5FXTUqLasK+iM4Z6MGRkU9QavwTeyNIuLBHRKapMorw9MaATVPBvNoPfrCjFq8nuTXvW5mVsRNtDpSaQyUcFFVEKPT6EUT7j60iBP1zpaIBH4pwutfxW0KyEz6/Jni08mlaX+26Lajw88vrcq0W+mnxmSOarFp+UsyyR/4GPGk1bRGTGEa1RvLif8YLBeiUnBjVzYxUGkYP3AwhB+Wq6rditgWbguEiPFMwuCyUck3jHavlMW7c4FPLgzw6kz4NN5UOqU/j+Rk3spE5I2EZe2m+Pek5xbhIhdayz/6l6KgUI4CXhcn9ACSRrn7do7zxsgfSe1VU1HLcxiR5MCkakcroJQDhgvagwD3FqBc5a+IZwR330mxSv08Our+khM/7dhy09H27EDARMroYjytbolpBX28MI75dlWax0sc3+zxuyTH6hXZkXbDs5aCxOi8jshdkYyRf71JdVl8XCj1p2Td+qsb6YB3k3QK+Hz4eq1s2jh+v05gXDtrfnC4WTFNzgwtoM5BpKVL6f4UioM8UP6oE4XsduQafZ5vrG8PuzZGvS5sytXjLzWXNtFMS9G4Kyl2DEmvXVskEycz0fQ6OC7H0clU04okyORMWTwSzjHIt4VBmarsl2PXRLeys1lBXP6iiHoIZ1ujUUdlXwAbFUT1axpu9KKH2zppfYrSdhWLDvxBcEW3wFAtokRjhzRjuDNuuUhC0mRYHq0/nuXQzN8t3lAD2aUDPabKQVZaIFACCcVXZ7jNRDib5VGUdCFuXNFpMaTkX+KOa3uheJESAf5ZOZUceWkiYJYXa/BTbsWFW+SA8O6rHanixPg9L8+riedXOzqMTeNoRtESzPfuPvy2HBysjQ0Prh/rPbBs5TTKb+IM+DOO9Q4BGKodmFC19In/ixOu/vjWS4kepRAy/2GcRF0V4ULJJycSr3Rm8hXLMUUmcVolG3DlNrCmbFP9zhw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "WyY5ni5/2qRNxajIM1cYYQ==",
        "ETag": "\"0x8DD161B9E85519F\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:30:03 GMT",
        "x-ms-file-last-write-time": "2024-12-06T17:30:03.5943839Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6763153b-6a00-09c1-6c54-bc09c20880a1/test-file-bdccf9b3-7de7-86b8-f2f6-5aa6b4087247?sv=Sanitized&se=2024-12-07T17%3A30%3A03Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD161B9E8EE3D2\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:30:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-b112cf52-857d-d8df-4eb3-ebe23e9183af/test-file-3276b1e2-e043-caab-69ff-75871e63d668?sv=Sanitized&se=2024-12-07T17%3A30%3A03Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD161B9E85519F\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:30:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T17:30:03.5943839Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-06T17:30:03.5943839Z",
        "x-ms-file-parent-id": "0",[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-b112cf52-857d-d8df-4eb3-ebe23e9183af?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:30:04 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6763153b-6a00-09c1-6c54-bc09c20880a1?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:30:04 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-12-06T09:30:03.6290777-08:00",
    "RandomSeed": "1030659434",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
