{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-d2b5248b-63d8-9681-d6d0-2b9f0c646eff?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Mar 2024 16:48:56 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC48FDA2DA9527\u0022",
        "Last-Modified": "Wed, 20 Mar 2024 16:48:57 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-d2b5248b-63d8-9681-d6d0-2b9f0c646eff/test-file-ad3d9e86-21b7-66e5-561f-55b0066cb14b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 20 Mar 2024 16:48:56 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC48FDA2F24C8E\u0022",
        "Last-Modified": "Wed, 20 Mar 2024 16:48:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-03-20T16:48:57.7481870Z",
        "x-ms-file-creation-time": "2024-03-20T16:48:57.7481870Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-03-20T16:48:57.7481870Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-d2b5248b-63d8-9681-d6d0-2b9f0c646eff/test-file-ad3d9e86-21b7-66e5-561f-55b0066cb14b?sv=2024-08-04\u0026se=2024-03-21T16%3A48%3A56Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC48FDA2F24C8E\u0022",
        "Last-Modified": "Wed, 20 Mar 2024 16:48:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-03-20T16:48:57.7481870Z",
        "x-ms-file-creation-time": "2024-03-20T16:48:57.7481870Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-03-20T16:48:57.7481870Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-f5735c77-4818-d92f-ed4c-b695649bbdea/test-file-7e8833c0-402c-d372-4d6c-4ddb9f57366c?sv=2024-08-04\u0026se=2024-03-21T16%3A48%3A56Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized\u0026comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.file.core.windows.net/test-share-d2b5248b-63d8-9681-d6d0-2b9f0c646eff/test-file-ad3d9e86-21b7-66e5-561f-55b0066cb14b?sv=2024-08-04\u0026se=2024-03-21T16%3A48%3A56Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC48FDA3251519\u0022",
        "Last-Modified": "Wed, 20 Mar 2024 16:48:58 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-03-20T16:48:58.0810009Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-d2b5248b-63d8-9681-d6d0-2b9f0c646eff/test-file-ad3d9e86-21b7-66e5-561f-55b0066cb14b?sv=2024-08-04\u0026se=2024-03-21T16%3A48%3A56Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC48FDA2F24C8E\u0022",
        "Last-Modified": "Wed, 20 Mar 2024 16:48:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-03-20T16:48:57.7481870Z",
        "x-ms-file-creation-time": "2024-03-20T16:48:57.7481870Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-03-20T16:48:57.7481870Z",
        "x-ms-file-parent-i[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-f5735c77-4818-d92f-ed4c-b695649bbdea?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Mar 2024 16:48:57 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-d2b5248b-63d8-9681-d6d0-2b9f0c646eff?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Mar 2024 16:48:57 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-20T09:48:56.7345639-07:00",
    "RandomSeed": "855056122",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
