{
  "Entries": [
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-4cfa982f-22e7-26d5-8d55-8b5304e3a2f2?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A09%3A32Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93233BE9BF20\"",
        "Last-Modified": "Wed, 14 May 2025 20:09:29 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-2b9e1620-5962-6018-559b-dfdcf156d287/test-file-16738aa1-a336-6d27-e67e-48c16936a432?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A09%3A32Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93233BF38C13\"",
        "Last-Modified": "Wed, 14 May 2025 20:09:29 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15762868840871496755*8241620249767961789",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-2b9e1620-5962-6018-559b-dfdcf156d287/test-file-16738aa1-a336-6d27-e67e-48c16936a432?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A09%3A32Z&sp=rwdxylacuptfi&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "cq57bSK0aWloIwkKY4arN4kAmfU7ka6umUND7zC+q0UqO9NbTcmQ5cmSXENmi8Eqv2LgriVgn+D/zNPfcHo4qnjD4CizUOm/cLMsqTVrRw6CGS/N3f0gyZzyW4H2sHVOWbHLo6uYd295IT1yM/WrlITFXFdKasx7oxaLwPRoyb893U+Dn6Ri6aG/VLy/rZWmRsb8MVQeA+/kT/+UDbZ7EFh+NFamJ/TfYnO1ixYQu/WB5Hkua5drH9lgn1CkztzqRENjQXk//x/RHM7haHjY05MKEyg8TaXAEhV8RoikOpSWy0bSrXp7QeVaXE/JirZhh8u8mru0rveeoy5kw7mWLeE6Sp0xBiYZjtFD4fBW9oheG7+96KDY4hxPMwlMF34rwy5tjz8ZL4CkowvpccwGSKymBqj52UVBYWiA4tIczHdSFx7B6WdIROs+GESU73FQSOtdphHWMurpKy3XmEytiNaUllquRF9EXcG8usEArXL3L5nnvyZmfOQz2L06cKyfkY9uAFgXogSLGUhPGXco6X674GmzxsmwLhp1emyhCuwVHSkxkq0a4IyVW6bdFmJtCu4/fpBC68rGvdE9oSiY6Q5bOvxN91fRoQDcHWoj0xe3B29+Yotc0jFeatTb3D5k/XKXgdxmHxOWbd2QZs1go+q6hpq5GoeC/2fL7oyC9sTBeCD3i1E6UOdb5/SuzGxj/sfqIFWkquPrFIJ1mzGHE3cYzu2taBeYfzWyXTKS1DL7Z/DEl9VvHc09DHbPxbW21NN8lf1+tpWwUqEf8U2wWEBPeTNAwnuiqbAfb1ugybmA/IlfFT40fLFaFEUzTyyAjbM2f0yBdRFX2uxNXkc5D4nonvXDUUMCGv2C5a42b1mEn+Goaklt/4Z4BztR5x5qIQW8S7A3vTxwNGRO/o9iIWqTyL9lkaU/ep9uS0kIsDLfGMSpeiOoTeGlNzbkHgD3FebQvh9eBJBgfNARyHLyZ4Myb+bLuaZG6nrdwFluW1yedzViOPITgBM0SP1Tl4Rvss+ysq4aK1s/idOkgEQ28SF0clE8jy+QHu/SlnGo81L2bg2JvKithEvaI64ebv/P/Vfc3iUzMyKgIZO/SJTqlpWBrhI2rDV4x+4FYmyBcq/vA5kZzBUtwjrr6ZoU7Ty274wZncDsmFAiYxc3LdC1Hq/kz0T70cqAU+vYS8OaZNmxT3LfZ9TvA2pI9mj+9pRpNcrqMB73ux7CmUrUFEyNh/49hd5e1rfb9MzZstphgV1Xbhb4sDS7upRTHc6KG+4eu29pwHC2C18TDztSHQhEYRfsfaY2lNbKgspKC7joUNndu/dq98DsoWK35aH4aZ2LDry2np5I6CaYnz6lawCmKg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "/IvwTXWCafJds2uNtViW2A==",
        "ETag": "\"0x8DD93233BF8B664\"",
        "Last-Modified": "Wed, 14 May 2025 20:09:29 GMT",
        "x-ms-file-last-write-time": "2025-05-14T20:09:29.5772260Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-4cfa982f-22e7-26d5-8d55-8b5304e3a2f2?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A09%3A32Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93233BE9BF20\"",
        "Last-Modified": "Wed, 14 May 2025 20:09:29 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Wed, 14 May 2025 20:09:29 GMT",
        "x-ms-enabled-protocols": "SMB",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-quota": "102400",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-4cfa982f-22e7-26d5-8d55-8b5304e3a2f2/test-file-5d8a6f59-88cf-665e-c1d7-6f16ac3b2d40?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A09%3A32Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD93233BFD452B\"",
        "Last-Modified": "Wed, 14 May 2025 20:09:29 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15762868840871496755*8241620249767961789",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-2b9e1620-5962-6018-559b-dfdcf156d287/test-file-16738aa1-a336-6d27-e67e-48c16936a432?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A09%3A32Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD93233BF8B664\"",
        "Last-Modified": "Wed, 14 May 2025 20:09:29 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-14T20:09:29.5772260Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-14T20:09:29.5772260Z",
        "x-ms-file-parent-id": "0",[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-2b9e1620-5962-6018-559b-dfdcf156d287?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A09%3A32Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-4cfa982f-22e7-26d5-8d55-8b5304e3a2f2?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A09%3A32Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-05-14T16:09:32.1849469-04:00",
    "RandomSeed": "646214576",
    "Storage_TestConfigDefault": "ProductionTenant\nxmfxscnbn9pe18ex\nU2FuaXRpemVk\nhttps://xmfxscnbn9pe18ex.blob.preprod.core.windows.net\nhttps://xmfxscnbn9pe18ex.file.preprod.core.windows.net\nhttps://xmfxscnbn9pe18ex.queue.core.windows.net\nhttps://xmfxscnbn9pe18ex.table.core.windows.net\n\n\n\n\nhttps://xmfxscnbn9pe18ex-secondary.blob.core.windows.net\nhttps://xmfxscnbn9pe18ex-secondary.file.core.windows.net\nhttps://xmfxscnbn9pe18ex-secondary.queue.core.windows.net\nhttps://xmfxscnbn9pe18ex-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xmfxscnbn9pe18ex.blob.preprod.core.windows.net/;QueueEndpoint=https://xmfxscnbn9pe18ex.queue.core.windows.net/;FileEndpoint=https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://xmfxscnbn9pe18ex-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xmfxscnbn9pe18ex-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xmfxscnbn9pe18ex-secondary.file.core.windows.net/;AccountName=xmfxscnbn9pe18ex;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
