{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-033d712e-433e-59e5-b7ae-abebfa7b4f8e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:23:28 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D16AA254292\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:23:28 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c6b322ed-feb4-619c-c05b-89c267cb454c/test-file-ecc64f41-848e-7378-0913-b79bc86631a1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 07 Mar 2025 01:23:28 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D16AA3A2061\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:23:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c6b322ed-feb4-619c-c05b-89c267cb454c/test-file-ecc64f41-848e-7378-0913-b79bc86631a1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Mar 2025 01:23:28 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "50pmd6Se0w5xGFs0YErBbdfYJhAh71ZP9tdKPYiCllwRTw9UA0+TefZd23yc61IwkRozWWZc7vjzF4HMU5WG7oL/IhE7bGmIRKwZwxTasgqEGaxtTzz1tGAWYOzOxyZg1+z5nclB9SSxqhW5QyvkGWR2RznpGZ5FCW2wJAt9un2GuOwn4BVBQySHvKQnO3E1MkaHWH/sd71NtJNckNAYNPCXM4o/vDlPNQQVYV36Hc77e/LF9WL9mkEu2SuC5LJTboi0kAjm9nUNOCJ71hVgU5bEYBXdUz6OmZhJEeMNzVBRwfLVRY3GFIV9t7w/gcMrzYaVvYOcdRtJJfZvneWR/2vRKRQiiw0I/kyQYJuBTxfUHUNdeA/NtUzXjB+XVnef67hRbVivCUJ4jL83CxV/x9bemoChNIdbBHTIS//ucafU8HTjMOG/JRQA5OtQlak2WMRIubv3/rcw9mjj5r5DihsXYhqhm5f1HnVroU+cC2/KkvI6pbfr3fK9sjp43D5VvFrPODKOlLwtU5pGi1xnlOr5GFTLCeVjLIUo5OhdfEI2FuT1zdI8PP02DVEdpVKVVh5Pf8PqirN1awytZrDTz9dXD3V3cccYvdxWlfuTRoczko7KDvx/TIsxf2HGj9VNYj15xZXcHuRXNsLmlPW34SWEedQiCMHa2MPpRvFlUS0HCTK+GYDyVnSpc9c6mbiWeZ08QRUBK1l7n+3R89fy8eWU3orC+cikkiNgeJXqoD8LUs1UKRAYBt3YQnqTIGOdt4Lypbot1H/Vl67xoLLEkP6uxqAJnsfUe9is6rZNEXK/w8AT+PuE3n5NfpFhJmUqFLF85FrDkxm6HSnhgOnIiIY8Mt3ysZgDKechux81c1VygtUF0SwY/C+nWNvRo16UhPYLJfSIOGMZeLtyotf5hKnUbv4Uw7ZZIzWtSli8MoaJjDcpKU5g6kly61hxplpYrtMx/DRggME/sgG+2u4KXEY06BWgz1pbc4O0odhd6H3bVZyEizVSKQt26ndNohBaaI8SPL1EuN551oiwq9/o4cmD4oVShtEQ4r4KKuXjDtFzWjlJS6vAl529C7SsoX4rjQmtyb+KCOG9AVn+OY35lci3PFCmn5Ydw0volXscY0FA3p3cNUQS6FFXi0lSwV0Pw3Xs9WQthe1zjwZ0onNmoZ4YvlrwHWCDpFT/TxRMywHt2NEFL27cElmvaKU+nUbe8OqrOQMCHqUUaVEQLjbZJsQEhsmhYXEvPKsBQbS7RQYOIV4qoZL+6ror8cYdy+Qj1kLhORZ8PI94e/1XAd3xWSRKAg3Xr4UyBpwPdm+rEnDG3Wpy2gvvkeTPsSaVpujcOpih0sjXTCe9rjN6bcYfzA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "jh0D3p8RR1TGhVVU/G+78w==",
        "ETag": "\"0x8DD5D16AA4364B7\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:23:28 GMT",
        "x-ms-file-last-write-time": "2025-03-07T01:23:28.3685559Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-033d712e-433e-59e5-b7ae-abebfa7b4f8e/test-file-05195519-eaae-6792-2195-2474333af0c6?sv=Sanitized&se=2025-03-08T01%3A23%3A28Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D16AA4CA920\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:23:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c6b322ed-feb4-619c-c05b-89c267cb454c/test-file-ecc64f41-848e-7378-0913-b79bc86631a1?sv=Sanitized&se=2025-03-08T01%3A23%3A28Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D16AA4364B7\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:23:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:23:28.3685559Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-03-07T01:23:28.3685559Z",
        "x-ms-file-parent-id": "0",[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c6b322ed-feb4-619c-c05b-89c267cb454c?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:23:29 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-033d712e-433e-59e5-b7ae-abebfa7b4f8e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:23:29 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T17:23:28.4133157-08:00",
    "RandomSeed": "1561867089",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
