{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7809de82-bb14-d7b8-471d-2d497c99636c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 23:29:36 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC486C710A3F92\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 23:29:36 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-670669fd-5422-bc1a-bd29-dc6e2dea1aec/test-file-2ef713d4-21de-c67a-3c94-5c462b04f6af",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 19 Mar 2024 23:29:36 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC486C711EF1B0\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 23:29:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-03-19T23:29:37.1289008Z",
        "x-ms-file-creation-time": "2024-03-19T23:29:37.1289008Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-03-19T23:29:37.1289008Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-670669fd-5422-bc1a-bd29-dc6e2dea1aec/test-file-2ef713d4-21de-c67a-3c94-5c462b04f6af?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 Mar 2024 23:29:36 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-02-04",
        "x-ms-write": "update"
      },
      "RequestBody": "CPrS2ch8FyDuCQSVLjfOpde8rSSupkyYqHx\u002B\u002BLG9IuUpJpPn0Xu0dlxkS/N1AeKMgEnMKMBCaGKtOjBL/R5uMeYfawik59RcCDbHSVpZIqaa8ndn8fkk5r0xOZZKaXk\u002B9RoMVpXZ6Jl1cCCJex8HVBeJsQumBz/s\u002BoVKcq09EZ69iVNATcwQwAre8oDZmmqeKeV\u002BwLdul\u002B7aH1sQj3XsN16BzPLLxgdLePAAyBS/E18aq0jHvlHmT/JlZi1wADGU8roiV85402PeM0fHbc7ZGwz89eMsJHgNmnwAZmDZ2ni/bNZanbuRodjl6YsJH\u002BIji0sgdApNaM1BFL1ReGwCBFnPBwH4f31Qa1MLRjvtBHua3NoVuWVtcgMIGIj\u002BPylr4uQyORfgKwzNzwm3QiGSUxBBtpuS7UvzYpX[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7809de82-bb14-d7b8-471d-2d497c99636c/test-file-8b04e8a9-7b49-8b54-5eb6-0b367d2bc419?sv=2024-02-04\u0026se=2024-03-20T23%3A29%3A36Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC486C7133D63A\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 23:29:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-03-19T23:29:37.2658234Z",
        "x-ms-file-creation-time": "2024-03-19T23:29:37.2658234Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-03-19T23:29:37.2658234Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-670669fd-5422-bc1a-bd29-dc6e2dea1aec/test-file-2ef713d4-21de-c67a-3c94-5c462b04f6af?sv=2024-02-04\u0026se=2024-03-20T23%3A29%3A36Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC486C7129777E\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 23:29:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-03-19T23:29:37.1978622Z",
        "x-ms-file-creation-time": "2024-03-19T23:29:37.1289008Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-03-19T23:29:37.1978622Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-670669fd-5422-bc1a-bd29-dc6e2dea1aec?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 23:29:37 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7809de82-bb14-d7b8-471d-2d497c99636c?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 23:29:37 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-19T16:29:36.4837691-07:00",
    "RandomSeed": "422863225",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
