{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-2be4748f-c5dc-bbc3-37d8-bfe559ad25a2?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Oct 2023 04:12:03 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD37E3702E2E8\u0022",
        "Last-Modified": "Mon, 23 Oct 2023 04:12:04 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-2be4748f-c5dc-bbc3-37d8-bfe559ad25a2/test-file-e2d9f0b5-8e59-e24c-71e8-0691ac7debda",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "100",
        "x-ms-date": "Mon, 23 Oct 2023 04:12:03 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD37E371EF734\u0022",
        "Last-Modified": "Mon, 23 Oct 2023 04:12:04 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-23T04:12:04.7173428Z",
        "x-ms-file-creation-time": "2023-10-23T04:12:04.7173428Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-23T04:12:04.7173428Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-2be4748f-c5dc-bbc3-37d8-bfe559ad25a2/test-file-e2d9f0b5-8e59-e24c-71e8-0691ac7debda?sv=2023-11-03\u0026se=2023-10-25T04%3A12%3A04Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBD37E371EF734\u0022",
        "Last-Modified": "Mon, 23 Oct 2023 04:12:04 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-23T04:12:04.7173428Z",
        "x-ms-file-creation-time": "2023-10-23T04:12:04.7173428Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-23T04:12:04.7173428Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-dfe55fca-ae8e-2444-f7ab-62fed054f641/test-file-83e4bdba-91b1-1530-9d5d-562ca1e5b230?sv=2023-11-03\u0026se=2023-10-25T04%3A12%3A04Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-dfe55fca-ae8e-2444-f7ab-62fed054f641/test-file-83e4bdba-91b1-1530-9d5d-562ca1e5b230?sv=2023-11-03\u0026se=2023-10-25T04%3A12%3A04Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized\u0026comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.file.core.windows.net/test-share-2be4748f-c5dc-bbc3-37d8-bfe559ad25a2/test-file-e2d9f0b5-8e59-e24c-71e8-0691ac7debda?sv=2023-11-03\u0026se=2023-10-25T04%3A12%3A04Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
        "x-ms-range": "bytes=0-99",
        "x-ms-source-range": "bytes=0-99",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD37E3759386C\u0022",
        "Last-Modified": "Mon, 23 Oct 2023 04:12:05 GMT",
        "x-ms-content-crc64": "dA8entnj04c=",
        "x-ms-file-last-write-time": "2023-10-23T04:12:05.0991212Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-2be4748f-c5dc-bbc3-37d8-bfe559ad25a2/test-file-e2d9f0b5-8e59-e24c-71e8-0691ac7debda?sv=2023-11-03\u0026se=2023-10-25T04%3A12%3A04Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-99/100",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBD37E371EF734\u0022",
        "Last-Modified": "Mon, 23 Oct 2023 04:12:04 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-23T04:12:04.7173428Z",
        "x-ms-file-creation-time": "2023-10-23T04:12:04.7173428Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-23T04:12:04.7173428Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=="
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-dfe55fca-ae8e-2444-f7ab-62fed054f641?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Oct 2023 04:12:04 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-2be4748f-c5dc-bbc3-37d8-bfe559ad25a2?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Oct 2023 04:12:04 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "320093229",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
