{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-413bbb4d-2edf-319f-b07f-0b03931bea05?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 21 Jun 2024 20:58:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9234EB986D82\"",
        "Last-Modified": "Fri, 21 Jun 2024 20:58:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-587162d3-52e4-ae9a-1800-ab084096482a/test-file-c41ffba4-a13f-03b1-aabc-37db936435b7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 21 Jun 2024 20:58:36 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9234EBB24BDD\"",
        "Last-Modified": "Fri, 21 Jun 2024 20:58:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-587162d3-52e4-ae9a-1800-ab084096482a/test-file-c41ffba4-a13f-03b1-aabc-37db936435b7?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 21 Jun 2024 20:58:36 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "QUYJVbJ9WlD89Nug2Qd3/1cUNQauCAx66mrlr/VBoMmAdcax+6L6z5kpFNN6fwIYPITehjfjhzk5j2tIl6pbu1MRH2RAxQO1GWVshfM5AGtozHNxYhmSnO6Nd2w3sTfuzll/aF+d13aAKWzRdwFFAI4A4Mo36Vg6foJ2sk6WfWgtfbeauZcLyvX88DmtwSXsR3bdN9Fst+QARercJyUn6asEo/lKq0b39BbVOvgfjbxdiWrXuUaXwMbSmnStL6LP1QeNqB0roZww5kK6l3zr4Lgtfp26TzBkbeIzdxHRSsR0BmXxkeSfMejOp9MD3ClJ57m8f7AEFIXXKTs7+CqKXpx+RpAX+k/Tjk217KhdYJC46pBYFcoTb/HgGmipZDm9Q0k3hZaZMe1q6PFjTyjcesiqgg2aMkjRatafN+DmKioT96heJdv6H7ij7izYsCDIA5+f/uEsIxAAZRrA+foMg77HUFd/flTtsGJU9kQc+bq21jRARytI59OXXcDAOSa+lmptEF/JSYRLsk5+1yzM5GxgCSLFzDyTf2iD5yCTLHY8lWDZruha7Y2v9JTcyQ+ny3lUYC8D+cku2pH3RWFkt4bXQkHM8jWDBRyVFtentrVY3BymP8xGOZyXq9RXY6crSjwOBYfO29hD0FoSbuLxhiPbnmlFvXi6kQmkNEdhLKJ1acubmbEuigFDY25xM8q5pSSwe8U+5o3DU3N+KaaR4aS4nQUXVu1yrBNnAloKSF0+6o8jsbDdN4I+10U9sGFbsoHKuZbFok83Ps6x1uMyuQsWPz4XbTDz2maC2X+nNPyyDFDZQI/HeUg/7HLhK2CeCx06J3AiRERQ1t4vQsnQjwnS/8qTWHl8T8b114G+Ea4G481hbA2Lj8gLiWmwlzZ/b1xpDyyVC7KkvtiqLGzDksUvKV77byP7R28BiM8Qy7ePdmgkVQGCcNgavK014WNbSPejgG7XgwA4bci9k4PjlPIgGrYEnjzDrbmG4bJ1xmULpkDYbEtJuPJn6+c5xNxVNyi7FcetV6m639O1UaJNw6Zisu1DCien12LDnLNViencMKqJurGeXk+WHox3k2ZQGShA1xLuEiwBEz1l6br1ZFXq2CD4xAj1xFOerOuaL0P7c4KKFLLW7R59iKdzOXSUobk2jbtGV1UgSxK+UGZBZuP5aXY3a1CjE+sBezthgYreCgsyY6KItRstasmfF524PCHEec/+XDVpk3rPRNwZvsmI30ZbDwJAcbRaCgCHA/tNST8anAi64K3VyNAouHE+E6v/FzhXXSwfgwgbo1E04ZB+gvqd/yLBzf+YhUYyGLhCG/dVh+vD9usS+hn/njxboOc/qTZ2oROJPko5vtfm7Q==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Sv4REo3p3U1bf4lz+WOPhA==",
        "ETag": "\"0x8DC9234EBBEF437\"",
        "Last-Modified": "Fri, 21 Jun 2024 20:58:37 GMT",
        "x-ms-file-last-write-time": "2024-06-21T20:58:37.0882615Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-413bbb4d-2edf-319f-b07f-0b03931bea05/test-file-86cb4ad4-b613-a421-12b3-e2b9a78aac7a?sv=2024-08-04&se=2024-06-22T20%3A58%3A36Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9234EBCAD962\"",
        "Last-Modified": "Fri, 21 Jun 2024 20:58:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-587162d3-52e4-ae9a-1800-ab084096482a/test-file-c41ffba4-a13f-03b1-aabc-37db936435b7?sv=2024-08-04&se=2024-06-22T20%3A58%3A36Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9234EBBEF437\"",
        "Last-Modified": "Fri, 21 Jun 2024 20:58:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-21T20:58:37.0882615Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-21T20:58:37.0882615Z",
        "x-ms-file-parent-id": "0",[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-587162d3-52e4-ae9a-1800-ab084096482a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 21 Jun 2024 20:58:37 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-413bbb4d-2edf-319f-b07f-0b03931bea05?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 21 Jun 2024 20:58:37 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-21T13:58:36.4201914-07:00",
    "RandomSeed": "689796195",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
