{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-ebbc311e-4000-cb67-3402-52f8cd7c9130?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:55:06 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC01B6577A7\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:55:06 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-8e2c2953-e96a-435e-51a2-ee3e17ad3186/test-file-83b7f170-4bea-5f84-c338-7a02c240e0ba",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 02 Jul 2024 17:55:07 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC01B786BDD\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:55:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-8e2c2953-e96a-435e-51a2-ee3e17ad3186/test-file-83b7f170-4bea-5f84-c338-7a02c240e0ba?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 02 Jul 2024 17:55:07 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "0ZZeA5JlhUJzBD4QA6LUgaDDL98K+dIsmFi/S8jYRMGxJcj/i7EEJD9KmgEIJ9lVLZHOWmVX99fEMWs6pTp6m8B9X97a1fbvvwqfv1/QJHF/ah02CelbWS3wO1lFyn4E0P9Bi8f7elib35pbtzd49A36uzsdQ5HWIQaw6ZmcqfWLm+9fjpmpg/DEmypOAKH2eEdMSw9D541tamnBSpC+/zWlzxxIGGVzUDdKWKdniCFkuXFST17lSLNi8iMv6DhfBZz1qDCFrl/h2PvY+I/lBuJIXZAebK/Wv4dp5SZBRGf+6lILcd/w3gsScXZiDU8jfOtA54uoQZnsHuipHMg4n5ST2Q482pQDWH6FDPs4c7I4RWg7AV3cVqm5HlP2RsJC2dHizzNB56JWPY4MIjSes6o2cddf/Z43toNkg7tBDRG7QjIpVqR+9l7G5MPOzzN1Gmupv9Tr49wzqxiw3WPnFS98UOACdF0FuHp5mRjaaOZQ72hQmE490F9V9quLzRn63s6UUn5ScqUNowZacknDWEMyX+36l33hP4CBrH6yeupgfrtJRhZn/XzCQvVH4l4Vkp1oWW4s/0dRshL+0cUnWygb+fOOeRIsymJxN1WImVwiaxrgSiB8NH50+JMDaSu2m+bMK+lqhxiLO48MusjyyRi13GarRxEIn8R1GYF/KGE2upxuvG1zt+MBVQ6RcHm2gi96TozEClTUxIwk9W6XDBIu1gArgw2qQiWDqvEDdi9KvpdSBNrUca9ImvfhTsF1aUn8Y5p5iv4hzwtnQWBi0U1d2jbWRQc3WWRQ4+kVyfRjDkCoBhKV0DSZMDTObTBP5cmqg3OLniRBxQo1KaYVDAYXBDIfuco6yAkCPBXSaOw0Af0ga0aA2G8cZ0EIX6eNgyMut2j9Lyz+b7pqiGIPblwdASep9aHAlyzCAlKJMmlhdbnxpLGDNtHRIfuLFU8NDfjk616A5I6Bbh88OizZdD1RCBKpHcqrmspV19OmNYLctfVapEYK4ZEqbzaRR/yk962+OQw8ZO8uOVCUKgy62zmdX4U3f9D2RyeBfq6TGVPOsOAm5/x1n1AGLGv2draFb5P99Od2bXjdx/Hlu+ZAmh/9xnkslPQ8J8A0MFNkANFw/A4aliVrV0JnSR8KkONqxZJL+K89WNufwMwmQj0leMcgdL/XJgP6kW42xEvUMpfcyWrBGAchM6Mye9ZYRRUFQtBX6hskkp+OUWZBBpSQyo00SnjSZF/A/kEcpKosoUxZMYJ6fEd8tzbLMseg4CwOorBII/qcMt5wl+vaCO71Yq8a59USFk1FuJJBBzGYHx4UDQL5431SvP6jCeVcoa9I1tAXhvhX/IxiAmpnWyus2A==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "4ZyJ1KnimhTX3XZcwlpL3w==",
        "ETag": "\"0x8DC9AC01B81924E\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:55:06 GMT",
        "x-ms-file-last-write-time": "2024-07-02T17:55:06.5642574Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-ebbc311e-4000-cb67-3402-52f8cd7c9130/test-file-bec79cf7-fe65-abd8-da8e-e8d3c9e676b4?sv=Sanitized&se=2024-07-03T17%3A55%3A07Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC01B8A43A1\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:55:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-8e2c2953-e96a-435e-51a2-ee3e17ad3186/test-file-83b7f170-4bea-5f84-c338-7a02c240e0ba?sv=Sanitized&se=2024-07-03T17%3A55%3A07Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC01B81924E\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:55:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T17:55:06.5642574Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T17:55:06.5642574Z",
        "x-ms-file-parent-id": "0",[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-8e2c2953-e96a-435e-51a2-ee3e17ad3186?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:55:07 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-ebbc311e-4000-cb67-3402-52f8cd7c9130?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:55:07 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-07-02T10:55:07.1622292-07:00",
    "RandomSeed": "2056160407",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
