{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-6d251365-5f78-8924-140e-3f39af1ab693?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 21:00:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A21C73FCE81\"",
        "Last-Modified": "Wed, 01 May 2024 21:00:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-6d251365-5f78-8924-140e-3f39af1ab693/test-file-4e600f57-3823-def0-6a77-2006ba738006",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "x-ms-date": "Wed, 01 May 2024 21:00:48 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A21C7679ABE\"",
        "Last-Modified": "Wed, 01 May 2024 21:00:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-01T21:00:49.1688638Z",
        "x-ms-file-creation-time": "2024-05-01T21:00:49.1688638Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-01T21:00:49.1688638Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-6d251365-5f78-8924-140e-3f39af1ab693/test-file-4e600f57-3823-def0-6a77-2006ba738006?sv=2024-08-04&se=2024-05-02T21%3A00%3A48Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A21C7679ABE\"",
        "Last-Modified": "Wed, 01 May 2024 21:00:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-01T21:00:49.1688638Z",
        "x-ms-file-creation-time": "2024-05-01T21:00:49.1688638Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-01T21:00:49.1688638Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a75aa623-6a95-0280-7898-725f940896d1/test-file-9a1ea077-480f-2be9-8e3e-11a84c7ea1e0?sv=2024-08-04&se=2024-05-02T21%3A00%3A48Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a75aa623-6a95-0280-7898-725f940896d1/test-file-9a1ea077-480f-2be9-8e3e-11a84c7ea1e0?sv=2024-08-04&se=2024-05-02T21%3A00%3A48Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.file.core.windows.net/test-share-6d251365-5f78-8924-140e-3f39af1ab693/test-file-4e600f57-3823-def0-6a77-2006ba738006?sv=2024-08-04&se=2024-05-02T21%3A00%3A48Z&sr=f&sp=rcwd&sig=Sanitized",
        "x-ms-range": "bytes=0-2047",
        "x-ms-source-range": "bytes=0-2047",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A21C7B1697E\"",
        "Last-Modified": "Wed, 01 May 2024 21:00:49 GMT",
        "x-ms-content-crc64": "E1xsWVuyFpc=",
        "x-ms-file-last-write-time": "2024-05-01T21:00:49.6525694Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-6d251365-5f78-8924-140e-3f39af1ab693/test-file-4e600f57-3823-def0-6a77-2006ba738006?sv=2024-08-04&se=2024-05-02T21%3A00%3A48Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A21C7679ABE\"",
        "Last-Modified": "Wed, 01 May 2024 21:00:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-01T21:00:49.1688638Z",
        "x-ms-file-creation-time": "2024-05-01T21:00:49.1688638Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-01T21:00:49.1688638Z",
        "x-ms-file-parent-id": "0",[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a75aa623-6a95-0280-7898-725f940896d1?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 21:00:49 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-6d251365-5f78-8924-140e-3f39af1ab693?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 21:00:49 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T14:00:48.9638743-07:00",
    "RandomSeed": "1434031932",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
