{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-fddb2b9e-9228-dfa6-9255-8e92f30494d0?sv=Sanitized&ss=f&srt=sco&se=2025-05-01T15%3A56%3A33Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FF92F1750A\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:56:30 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d6b7ce6c-d317-293c-1197-e135eaa0d67c/test-file-f3f00a65-190d-41a2-d5f9-b528d24e3a87?sv=Sanitized&ss=f&srt=sco&se=2025-05-01T15%3A56%3A33Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FF92FCFB20\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:56:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d6b7ce6c-d317-293c-1197-e135eaa0d67c/test-file-f3f00a65-190d-41a2-d5f9-b528d24e3a87?sv=Sanitized&ss=f&srt=sco&se=2025-05-01T15%3A56%3A33Z&sp=rwdxylacuptfi&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "GM+3MvCPEGg09KtyjtP6WenMd78fHG4WPV4hXBAPg6YQ2zBXfgUJ+A7WvjKPG1XOtrrphGAT1/xhoPWRbbNYJXAEYbOjotvjw36xSV07hiEJU6ZWJf9G/QQz9d0Qd4pafZnCi7miKhPeBsDhYo2eJRrTiBoNAf9wvmSub6z90kvzVsvEeftnZiiTdx8+ZJp2lNDDPO5wTXuZUsxV87pm4TN17QvC2qwfbCLxeorfMVnJONrcOpVcgwlPKicuEnNtLJbryXaPtLoko9DMf9LxuiByjLvgiaadGGoBcrCE8Vmvg0309GfjOoQguJbFkAQ3XnAGu4W3jaLvTbAMjUEJn7J2HfuF/ca5j1I2v9EP2IhmyhNAfjXT9/WrBKa316xCFxnkTnIIsmGpTSszgc7R4HUnpcMuyCB9oiYG2fggAbil9Ki4K4oWXhiyljEJoHYn2SMwjzHoFE74Z6tMAdhoiUtzjYwmGLXqEUerezLvcwKw3//V73KGveBZv8Tfylw/SgzmlhLpAMFuRn3pPZgcCfOonCLYk5rY7dCszFjxC0frazElCN3wxt4+Zqj1nIBHPbbQNi45Z7dyDahBPTRofTo2/tFm9gAWuNVEmSzx41BQZI6iINUZsgN6s/s0romp1eluv56u4Ea1uX5Y9M6KgCpY8dilxlxlHEvN7EMF4glLmsNCgySxoYNI7GdXwL017zPQ27ywBA+MCaJS4fQCsNd0DFoKR/wFp1BVXNr0DluOl/0QNAZNm5a0tXqCXr+PRTuQ4rNjK6c2yzRrWqc1mPtGxEn28nzQJnHDVZKCg0iQxheeZCunK2xW2mnS4UDufx1/O5p2mFO/wLxCn9UVs0fr2pSQlzPPnpncoBcS/UQx1NZ0A0iuGi7D3qNvZYuWQCYh5wesXujqr5wAmfc8rcN3Ecr/oa//PMBmzLiPYDgNRl/w8BU9hXbuiVSrrYA2hzHg+FTBl592IqpGRZEvWk9j8lOXS7ytOYtUEBdbU48/L0WHrmjkTK7Aec5r9j/kvi8ER7stnjt1M77IbIaIG88bBxZMqKvnf6Wk19HtQUJMcFHoVgvTEpAJEnupG+AnN17/UO8olxaDHcgViMdqh/F7fPw1oMTDR/SFQ5UwPWTFfZ9z7vFTI9g6ZDlDvorJn4uKLZ7j8peaOwj6o1SBU+BjTwsn9pj/KFgk+juLf4lqu6MKphDF4ooI2LLpWICEuRFZ325+oqjyigVGv/hbD7x/kOewdq3Pnm2AHh3lFs/YoEAqMp8a6xn7GBsKfiKSrMn2aciY00NjiUEB/YOKDHM2bR+3MdwcZaTOtV6RxR9K7nJT7q0GP8z9xqleGO6VcAuo0xED2nvt2gQkyh7k0g==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Bo2/GijDC6Fd5J7HDwJwQA==",
        "ETag": "\"0x8DD87FF9303F82A\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:56:30 GMT",
        "x-ms-file-last-write-time": "2025-04-30T15:56:30.9399594Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-fddb2b9e-9228-dfa6-9255-8e92f30494d0?sv=Sanitized&ss=f&srt=sco&se=2025-05-01T15%3A56%3A33Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FF92F1750A\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:56:30 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Wed, 30 Apr 2025 15:56:30 GMT",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-quota": "102400",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-fddb2b9e-9228-dfa6-9255-8e92f30494d0/test-file-f1f7ade6-e372-86d3-0914-2af3e56a6ae3?sv=Sanitized&ss=f&srt=sco&se=2025-05-01T15%3A56%3A33Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD87FF9308FB99\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:56:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d6b7ce6c-d317-293c-1197-e135eaa0d67c/test-file-f3f00a65-190d-41a2-d5f9-b528d24e3a87?sv=Sanitized&ss=f&srt=sco&se=2025-05-01T15%3A56%3A33Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD87FF9303F82A\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:56:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T15:56:30.9399594Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-04-30T15:56:30.9399594Z",
        "x-ms-file-parent-id": "0",[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d6b7ce6c-d317-293c-1197-e135eaa0d67c?sv=Sanitized&ss=f&srt=sco&se=2025-05-01T15%3A56%3A33Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-fddb2b9e-9228-dfa6-9255-8e92f30494d0?sv=Sanitized&ss=f&srt=sco&se=2025-05-01T15%3A56%3A33Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-04-30T11:56:33.1489505-04:00",
    "RandomSeed": "1089751002",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
