{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-963b72ce-4365-8c50-9560-55b19cc0d8f0?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 21:28:33 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6EAFCB13C8C\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 21:28:33 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-963b72ce-4365-8c50-9560-55b19cc0d8f0/test-file-18832c23-e63a-dd3c-ea1d-6f552b9919f0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "512",
        "x-ms-date": "Thu, 16 Nov 2023 21:28:33 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6EAFCCE78DD\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 21:28:34 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-16T21:28:34.1182685Z",
        "x-ms-file-creation-time": "2023-11-16T21:28:34.1182685Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-16T21:28:34.1182685Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-963b72ce-4365-8c50-9560-55b19cc0d8f0/test-file-18832c23-e63a-dd3c-ea1d-6f552b9919f0?sv=2024-02-04\u0026se=2023-11-17T21%3A28%3A33Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE6EAFCCE78DD\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 21:28:34 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-16T21:28:34.1182685Z",
        "x-ms-file-creation-time": "2023-11-16T21:28:34.1182685Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-16T21:28:34.1182685Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-909d51ac-44c9-09a4-68cf-8ecbda7918a8/test-file-fb698a6b-f750-4b59-5525-abe72fad4770?sv=2024-02-04\u0026se=2023-11-17T21%3A28%3A33Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-909d51ac-44c9-09a4-68cf-8ecbda7918a8/test-file-fb698a6b-f750-4b59-5525-abe72fad4770?sv=2024-02-04\u0026se=2023-11-17T21%3A28%3A33Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized\u0026comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.file.core.windows.net/test-share-963b72ce-4365-8c50-9560-55b19cc0d8f0/test-file-18832c23-e63a-dd3c-ea1d-6f552b9919f0?sv=2024-02-04\u0026se=2023-11-17T21%3A28%3A33Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-02-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6EAFD0CB137\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 21:28:34 GMT",
        "x-ms-content-crc64": "6YKnaCgO5h0=",
        "x-ms-file-last-write-time": "2023-11-16T21:28:34.5260343Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-963b72ce-4365-8c50-9560-55b19cc0d8f0/test-file-18832c23-e63a-dd3c-ea1d-6f552b9919f0?sv=2024-02-04\u0026se=2023-11-17T21%3A28%3A33Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE6EAFCCE78DD\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 21:28:34 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-16T21:28:34.1182685Z",
        "x-ms-file-creation-time": "2023-11-16T21:28:34.1182685Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-16T21:28:34.1182685Z",
        "x-ms-file-parent-id"[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-909d51ac-44c9-09a4-68cf-8ecbda7918a8?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 21:28:34 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-963b72ce-4365-8c50-9560-55b19cc0d8f0?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 21:28:34 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-16T13:28:33.9404513-08:00",
    "RandomSeed": "1262995619",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
