{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-20abfbf9-600e-c0eb-1373-cd27991eb17e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:55:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC017D3FD9F\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:55:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-f502cc82-612c-3dce-4378-a22863d40064/test-file-b378ff65-6120-b50b-5ee4-d4cdd5afe638",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 02 Jul 2024 17:55:01 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC017E7134E\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:55:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-f502cc82-612c-3dce-4378-a22863d40064/test-file-b378ff65-6120-b50b-5ee4-d4cdd5afe638?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 02 Jul 2024 17:55:01 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "G2Av4IgEzaH4cymcjxfafhE3h8N/y6hwJwz+LiZXANgF+UQNjziJpXhRhKImmIY9oYqHGZ4BBlC3v7l7BZ56oHJRlpXSze7ZruJLLkcGSo+GwI2bz+c5BPL0VdB+DZ/Z1uMv1AHwatScrmu7tdgJsXQq9UUR3tCLF5Ki3ncdWqBDcldj1nWOlVa5/yF8fk4a66NcVBhax/cTpL1uTYxcflTLeEKApdr+m1/vV9+uDplDiPPUwQWH6KpgTzK4H0jJXYDNsAUMmkXIXbi5a3AYZJUjKsWYiL1OQ4+YH1WoRXwWJfle4V2TN+2tC2NNzX06SOuclPWDMdXDfm12c3rvIBc8okZ2uYM3kPLX63xaAXYSXtdqC7GGk/Qkm2LwHcRyvepLECs3w45nZQQDq0VYaX32ZBWihRVmtg5SUR4gRnIuZS2SDvBK2ppJAqasguiuzDLl+rmuzzjV5Foc5XFwRx6S1UUYxlqMq4l7WYJuujMlo4XsOky5gJX0vCmWLvUo2buHGq2jlQbXWE4wMna2Zion9kHsgw3R2VSwIwkx9n2UUn/H5qCFgg1+FOL+iE0ePlX/bzezPFWutkFZ8nL9pmHQm9/373+KoXMzbW8q01AHkeWzMYdF4BYqGTBfLJCbgW6ALe1tJ0/VdM3Df87mg+PwUWCMSXTairvJzdZPK3XjmOsBqqVjmWqW3b26gWBHQ5VNbtovDjj5pqIxpFp5hklX4Ofi5dk+jbf19mu3HwlagYlAAbybs4mzBwMCMfUQHVZzYqF5ZF68D+AiORfMQoaZ1yLQOIWMvCxdL93VO1zB5dkUQ7xn4Rwrg/LceHpy5sV8aFrTP+TR56Z1HDWA5tOEYFQ+uP7JMvUFpbWTsESy60gYWdMC7qX1QlwW8sXnqp0eWBclMy7GsjVkzpovPjZhwjDsZ40AgXKuSXWhs0AwHvoXdFctjLcZUqadnSALxQQltS+U+kMPHtakd+q5JP/1M7CfF8rfNDV50hXmYuNSo4NwfP0QnCO3CFaBiBXMYC2np2pva646RoH5GictKLvyUdRmSKgB5ZeM6A9zXasgrHLoP7t54jfVNjV8FoH7id+ajzdBZReEpcHT44KfxunV2W61RekAeG6ckRFzhc4VkF8v2c5030ZaZJr5pv+1NnBMpz0TRkT2mRbIpdQGECDzvVIjb+wbYfonWuFOB9Jv51uhJ92RAkkaOT+3rDlyVFN5BuitkceDMEVD7Otjp5JEWL55ZOlCYbsICDWtY7XAtAaN1AHpwVWUHfaYThZdt5Ktc1N7+e9pN6QtpIiR1s2Qgjfl1dKQWpdo5UbyqhOkqlGj/+9hRLoWJJ1cvB3MAkcpB8veeOG/HBm8EhSpdg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "muig0lgsqslZcdmDURsiAg==",
        "ETag": "\"0x8DC9AC017F7169E\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:55:00 GMT",
        "x-ms-file-last-write-time": "2024-07-02T17:55:00.6235294Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-20abfbf9-600e-c0eb-1373-cd27991eb17e/test-file-5bfa5a3f-bb63-c373-0025-80705bcf0b7c?sv=Sanitized&se=2024-07-03T17%3A55%3A01Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC018001606\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:55:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-f502cc82-612c-3dce-4378-a22863d40064/test-file-b378ff65-6120-b50b-5ee4-d4cdd5afe638?sv=Sanitized&se=2024-07-03T17%3A55%3A01Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC017F7169E\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:55:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T17:55:00.6235294Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T17:55:00.6235294Z",
        "x-ms-file-parent-id": "0",[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-f502cc82-612c-3dce-4378-a22863d40064?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:55:01 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-20abfbf9-600e-c0eb-1373-cd27991eb17e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:55:01 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-07-02T10:55:01.2202716-07:00",
    "RandomSeed": "666744413",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
