{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-765ea74c-9c5b-f801-edc8-72a9140b7858?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:24:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D16BDAF6897\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:24:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-0b5b042e-e514-92de-8795-2aa2a373428a/test-file-c531b334-909b-7658-c214-85f857b815de",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 07 Mar 2025 01:24:01 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D16BDC63280\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:24:01 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-0b5b042e-e514-92de-8795-2aa2a373428a/test-file-c531b334-909b-7658-c214-85f857b815de?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Mar 2025 01:24:01 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "dutXfNbycOvpbHhdkHWSzzknQ5/VM/93T90voqun+gTUk9q5U91LwvImKf4Jp1vl/tf3l7WqsEPs3yz5ws1AQnFziPyb2Xtb24CsrwkAbqiCSqTUr2NPKeOWzXOwUQAl5ueMlR5eSiRbnLs0/gA563GEd3cpa5IOJF8ZBAsIqoqAh8gic9mJIwB/eBKnGiviXeICLNqI+3pUfnC/RUYZU/ExtHY4F3iY+lN3qvN/ZwkzNqcpBX6w94tOzvVoyt65ZSQgdma0qkVqajGGEVGG1Bdniw+f701zgL3r6UmCMDB1vUTPX/Cjf4thv5tNKeY6x/neAD7PGnXWrfWpycD85zoAEVMMt3UmxAyDPjCyJVfWsCJPpC/xpaPO+LH7+rbLZNhhTBiTLRCDtzwyTNxFJIed0hierUMKD2uvPr7EK8lVt9pYUNg/Q4IRy+zyvlnHidMpXSedLbeVVj2s4+9Rv4xy3JQC7NOvXo6VjOFWF1AS6LTqms2iuIojw/mbk2CTwAxfgOHExJz/ev6YB6DVPj/smvo6ZiS+0CQK3ynaE8suAszU95dvTSMY6iDPCbDpTYW6rvllWFnnoLC8uuVzJWYzagXUAUenfUzXInsE78d0IJGkH2XSyapy7VbnspI9pMW5m5+rFEw9EjCsjjXd4rDoSJlTzwYBYaBaYhPwwMu5mX22S1QoyAxFZgw0JTt0lAql/mn46tW/tzr+UbE4TVJl8vW3J5ZcwICNDmn5zDtk5c4JSsJhwK+o95MZKXdaDRm6zzNGvW1zST3pa9tsxev/mWvjLwKQAzFGDy8DQpcIMwBQPv0IHihglQGEeFXTOzGoGo8Mdt0WKssBAK09cAam4DjaHIbu93tDg5oBC4rcctP9WygH/LwjORQxBh56IiT63Zgd+B+quSMUyPNDFR5BJY3aPxXenuN7t+JyvfBcyGB1Bi7xvnq0UqEF8zTJ3yT27+CRn+IPHD61oUA8OPwyuP+Tzg7wT2YSJux02Kuvsti+fM0Qyil9ZunvPB05dxqk0jo0NREVBqB5fnn2mkOTBu5ofbwvIe3WFWgkABJJ2a7S0AZwe33GqXYtlkyvh8umXDYv0PledLBNXSCp8AWNMKXKI8o9IotxodRGAouhJo6dfqTcGQi0dFtVIx1cHbhwn2am5WMAaDmrvi8lGHIlrDaRDHFgsRadFa9v6P9tFIQb1WIk+kEqnBZqMFvYj1zoL3bmyxFHEO5PCM+0kIA6PamqCUIPAbH1Z29b9YC7xIZThriIh0ly1MVz1fJxdgyVMPOxLoUZ2S7F8GSi6xpulERJYAnHsrZgODV9myy/g/BjxcWNCpYAOa2Kwpbl0OirBUCtKBUCzn08UPVQnA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "99JwyI8MZlJ/PQfvFvbIfw==",
        "ETag": "\"0x8DD5D16BDCF291B\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:24:01 GMT",
        "x-ms-file-last-write-time": "2025-03-07T01:24:01.1612443Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-765ea74c-9c5b-f801-edc8-72a9140b7858/test-file-ba66baeb-e334-ad12-d3c9-70c717d8b293?sv=Sanitized&se=2025-03-08T01%3A24%3A01Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D16BDD84690\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:24:01 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-0b5b042e-e514-92de-8795-2aa2a373428a/test-file-c531b334-909b-7658-c214-85f857b815de?sv=Sanitized&se=2025-03-08T01%3A24%3A01Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D16BDCF291B\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:24:01 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:24:01.1612443Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-03-07T01:24:01.1612443Z",
        "x-ms-file-parent-id": "0",[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-0b5b042e-e514-92de-8795-2aa2a373428a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:24:01 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-765ea74c-9c5b-f801-edc8-72a9140b7858?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:24:01 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T17:24:01.2062627-08:00",
    "RandomSeed": "673032788",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
