{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-8854ee14-dac5-3e49-dc2c-8a8e49c5acb2?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T23%3A26%3A33Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD933EC190C637\"",
        "Last-Modified": "Wed, 14 May 2025 23:26:30 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5c1729c3-be6b-b062-3a56-07587c540d2f/test-file-d30563eb-df1b-a3b2-9a19-2576e277e18d?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T23%3A26%3A33Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD933EC19CBE80\"",
        "Last-Modified": "Wed, 14 May 2025 23:26:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5c1729c3-be6b-b062-3a56-07587c540d2f/test-file-d30563eb-df1b-a3b2-9a19-2576e277e18d?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T23%3A26%3A33Z&sp=rwdxylacuptfi&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "QUeJpe3uf8efTXf2UXUbeLVXQcOofZfJzfYgWNcvOZPFhNa9lezucT4yy5RVbjr2mlNaCvM8n8Svv9f3zSfwcBPkMM2fXeLIadCFdbIDdF+7Kr2D1S6fieQRDdYU9qQWQlqAcD1sVz1xkaEjtykRrEt4PKNqbJvkRKfpjU8Ms3MrbjNXgwMiTtJ/EkONfNG6AGGKnLoArNa/nCyVg8rtZN0u90j2uilHVu3R6lpXVsfVLo3tgRe4K8Jdl+bXjMsHkq1mX4WIw0U4QkbML8F7aEVkwFU9/+PGdcuGmSJCcMkhyVis8fdCTGpHtT7R6/sA4S+hc8t2ypLJoOq5Aioi9tJ8qmZpz3dOIXPq9kqk9InQhbjzofz+q/7G4lANiEpAJL5rVECVlxG3UlFXi9RHJatg6XxxL1XVfv9nouwmQZgpqtGLOKBIOu6mO06rpiAqfr2lrJ/NzvVpltZBLvQlkRG5LuACvOwLF66OyvMGKtfePCQugZT4W9vcIaLJBwz5gao98Xc/KMLRmpXxPwMBY2v+YvHQ9g98wNIEJZpJQRChlElIyThgnxRhXeb/BxzX2r43y6QbKYqawDGlOgIoiFiEUKu6uJoynsPcbpkpfbi2LEvcEXZshWq+rggHumQSOdSNerdwHSIjBCzgPrvxcUN57w23THbiGMpB/AqRK+RfyjTEmwIBRQ8ouA1Ji0auzDzFjcpWW+1eq2HsLyAXkthIgHSHLNZAd6r+jpRomYyDky/NzJ0ZCW9HZvCgFBbvESU0AQvSJ59mhRYgV81Z9RLVaZzwSsY7L3YFP8bmn2KTD31uNJeBsWuQZ0aH+LGi7XHdy6t6/sdf+dKUzefZgOazjEhP6sB6VLgwYOJ/szbFYlJUCNO3GRC1DzrF7OOEtuZg02toUgOwY3fzSp3k30abz2qVhHcS/HM4mtuGtGfUq6r7H9/KXBBOpKRcw89y0S/0KR147zFvTtf4MLgnKq8PH57z6MBm0HJZRuDTtTikxcirkYpKW7x4jNEI0itYJ3r1TaQxfulvjlmqH6hRm5ifU2rve5gkxMPhelvuXv5GAR9l3WiUc0bfPAMxoDwTJ/E4aH7BaKvi0IjgTwSNgDBbYx2J670wC+AkED+U8ySHzVJqtvV/hZhzgwzfsyNCUbvT1jweijwzCF2dnFhrTd1kWYKxIso6292FFWewUFe94b+EwRznaEMWN66X4elACDYve1mgkS7wmPpemXTVgrcF4LqY5ovBfPA/m+sco/r0RA0wgdX9HFCQkykiic/OQLX2kQAupyKrbf9pYfVC1PX/alRnpADhB8NqCFJinvMhcFo2JRH5xp3rhRTWlLpaTb4zIh56Z5u1FYo9w5/PSA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "pY1xrGzZvixWciIpdQTn2w==",
        "ETag": "\"0x8DD933EC1A28463\"",
        "Last-Modified": "Wed, 14 May 2025 23:26:30 GMT",
        "x-ms-file-last-write-time": "2025-05-14T23:26:30.2387299Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-8854ee14-dac5-3e49-dc2c-8a8e49c5acb2?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T23%3A26%3A33Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD933EC190C637\"",
        "Last-Modified": "Wed, 14 May 2025 23:26:30 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Wed, 14 May 2025 23:26:30 GMT",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-quota": "102400",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-8854ee14-dac5-3e49-dc2c-8a8e49c5acb2/test-file-7006b742-4e87-e118-23f2-93aae1e2b570?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T23%3A26%3A33Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD933EC1A73A0F\"",
        "Last-Modified": "Wed, 14 May 2025 23:26:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5c1729c3-be6b-b062-3a56-07587c540d2f/test-file-d30563eb-df1b-a3b2-9a19-2576e277e18d?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T23%3A26%3A33Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD933EC1A28463\"",
        "Last-Modified": "Wed, 14 May 2025 23:26:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-14T23:26:30.2387299Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-14T23:26:30.2387299Z",
        "x-ms-file-parent-id": "0",[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5c1729c3-be6b-b062-3a56-07587c540d2f?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T23%3A26%3A33Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-8854ee14-dac5-3e49-dc2c-8a8e49c5acb2?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T23%3A26%3A33Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-05-14T19:26:33.4314423-04:00",
    "RandomSeed": "1086774400",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
