{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-cb671108-0d00-24ec-eac0-b4a85d0eb522?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 19:15:28 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60F3B671A6C\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:15:29 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-f6dd6022-af1a-577f-cb2e-a1fe6bbae42e/test-file-efc92f47-e72a-a22c-e796-1673f1570593",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 15 Nov 2023 19:15:29 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE60F3BAEC821\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:15:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-15T19:15:30.3265313Z",
        "x-ms-file-creation-time": "2023-11-15T19:15:30.3265313Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-15T19:15:30.3265313Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-f6dd6022-af1a-577f-cb2e-a1fe6bbae42e/test-file-efc92f47-e72a-a22c-e796-1673f1570593?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 15 Nov 2023 19:15:29 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "gWXykCfaDGY6UwgBNqGEQOXWB375FoOjVmxa\u002B0aLajgagIzk02OxzvXJr\u002BJugdEZaxftgnNLimviTjq7fxEgr\u002BjP5rUVn2yCJTmIMGagNdSaQZAvnujFz/YhAoQo9k7kqAD5npocBMuqal06wlkEQRllID6B8BEAChe/9J3oWS7qpIdmppY5fj3EhDOKigycHMBrwtUPY7fu\u002BJSDXA8twhEuTx7SnZqDLKIBvGzedn8KItfdfZZZ20HPd60CtiEtlsIhWzvuyn4l6JYzDqZLEIIUeDo4UEV61XTdAiXsgHaA1CWpvBpEHFhZuJQAJcyahGcr7T3n9EZ9p4XGEcdYOGcfszqBoVNn0Fzh35iwerCnQn2\u002BwZM5md/eLBWUfguRAH8t4HKSGOITwxzhBhWuzSzVHs5JmnbT5hpaonU\u002B0lJRU[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-cb671108-0d00-24ec-eac0-b4a85d0eb522/test-file-006cd0da-847b-4ac7-ded3-e791253307e9?sv=2023-11-03\u0026se=2023-11-16T19%3A15%3A30Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE60F3BDED1BD\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:15:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-15T19:15:30.6413501Z",
        "x-ms-file-creation-time": "2023-11-15T19:15:30.6413501Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-15T19:15:30.6413501Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-f6dd6022-af1a-577f-cb2e-a1fe6bbae42e/test-file-efc92f47-e72a-a22c-e796-1673f1570593?sv=2023-11-03\u0026se=2023-11-16T19%3A15%3A30Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE60F3BC83FD4\u0022",
        "Last-Modified": "Wed, 15 Nov 2023 19:15:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-15T19:15:30.4934356Z",
        "x-ms-file-creation-time": "2023-11-15T19:15:30.3265313Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-15T19:15:30.4934356Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-f6dd6022-af1a-577f-cb2e-a1fe6bbae42e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 19:15:31 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-cb671108-0d00-24ec-eac0-b4a85d0eb522?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Nov 2023 19:15:31 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-15T11:15:30.0154049-08:00",
    "RandomSeed": "1082038546",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
