{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-142474a5-cf8f-e453-4d3d-2d8f654c1aaf?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 27 Apr 2024 04:22:31 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6671A80B01C7\"",
        "Last-Modified": "Sat, 27 Apr 2024 04:22:31 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-142474a5-cf8f-e453-4d3d-2d8f654c1aaf/test-file-e8d484cc-8925-841a-1fb4-2a3267a3b5d8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "512",
        "x-ms-date": "Sat, 27 Apr 2024 04:22:31 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6671A8207F5B\"",
        "Last-Modified": "Sat, 27 Apr 2024 04:22:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-27T04:22:31.7807451Z",
        "x-ms-file-creation-time": "2024-04-27T04:22:31.7807451Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-27T04:22:31.7807451Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-142474a5-cf8f-e453-4d3d-2d8f654c1aaf/test-file-e8d484cc-8925-841a-1fb4-2a3267a3b5d8?sv=2024-05-04&se=2024-04-28T04%3A22%3A31Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6671A8207F5B\"",
        "Last-Modified": "Sat, 27 Apr 2024 04:22:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-27T04:22:31.7807451Z",
        "x-ms-file-creation-time": "2024-04-27T04:22:31.7807451Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-27T04:22:31.7807451Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-4343cea3-8e2f-9037-62bc-e60b2b0280b5/test-file-cc028101-ea54-6c60-8c44-b499866b4bab?sv=2024-05-04&se=2024-04-28T04%3A22%3A31Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-4343cea3-8e2f-9037-62bc-e60b2b0280b5/test-file-cc028101-ea54-6c60-8c44-b499866b4bab?sv=2024-05-04&se=2024-04-28T04%3A22%3A31Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "512",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-27T04:22:31.7807451Z",
        "x-ms-file-creation-time": "2024-04-27T04:22:31.7807451Z",
        "x-ms-file-last-write-time": "2024-04-27T04:22:31.7807451Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6671A84F9EDD\"",
        "Last-Modified": "Sat, 27 Apr 2024 04:22:32 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-27T04:22:31.7807451Z",
        "x-ms-file-creation-time": "2024-04-27T04:22:31.7807451Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-27T04:22:31.7807451Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-4343cea3-8e2f-9037-62bc-e60b2b0280b5/test-file-cc028101-ea54-6c60-8c44-b499866b4bab?sv=2024-05-04&se=2024-04-28T04%3A22%3A31Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.file.core.windows.net/test-share-142474a5-cf8f-e453-4d3d-2d8f654c1aaf/test-file-e8d484cc-8925-841a-1fb4-2a3267a3b5d8?sv=2024-05-04&se=2024-04-28T04%3A22%3A31Z&sr=f&sp=rcwd&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-05-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6671A85D0A6E\"",
        "Last-Modified": "Sat, 27 Apr 2024 04:22:32 GMT",
        "x-ms-content-crc64": "6YKnaCgO5h0=",
        "x-ms-file-last-write-time": "2024-04-27T04:22:31.7807451Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-142474a5-cf8f-e453-4d3d-2d8f654c1aaf/test-file-e8d484cc-8925-841a-1fb4-2a3267a3b5d8?sv=2024-05-04&se=2024-04-28T04%3A22%3A31Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6671A8207F5B\"",
        "Last-Modified": "Sat, 27 Apr 2024 04:22:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-27T04:22:31.7807451Z",
        "x-ms-file-creation-time": "2024-04-27T04:22:31.7807451Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-27T04:22:31.7807451Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA="
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-4343cea3-8e2f-9037-62bc-e60b2b0280b5?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 27 Apr 2024 04:22:32 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-142474a5-cf8f-e453-4d3d-2d8f654c1aaf?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 27 Apr 2024 04:22:32 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-26T21:22:31.5742921-07:00",
    "RandomSeed": "1542754898",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
