{
  "Entries": [
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-ae82aeb8-621c-a3fc-1121-58a09087c97f?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A09%3A36Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93233EB59A3B\"",
        "Last-Modified": "Wed, 14 May 2025 20:09:34 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-b69b539f-b49c-4c5c-923a-3e439e24bdc6/test-file-15432966-57a2-0d6b-5021-1ba691f5d00d?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A09%3A36Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93233EBF3FC9\"",
        "Last-Modified": "Wed, 14 May 2025 20:09:34 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15762868840871496755*8241620249767961789",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-b69b539f-b49c-4c5c-923a-3e439e24bdc6/test-file-15432966-57a2-0d6b-5021-1ba691f5d00d?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A09%3A36Z&sp=rwdxylacuptfi&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "X8C/9xwAdyuF0bUjULmwvEemaAS2I/eJ18zPY/SeGyAIkbVBTT8BCnOx+j/WJ5it3biEg/wbqDvINSBPMBM25rWVGr4Db24IpV2RBSm4s680IoU8GZgj7el5eBcesdpfehOJQA3ZqW5Je96eiqISEIFxGw2O+s0dci3VivZW6vSDMYsWLnOiWnkX8p26hGNGZmeVrZbM0X9GbM3gAx5385HqG1gX++IOz8CUdggvY+3JjySOwD1et2AL0MGlwVdbn/8M0GkKL2qFh97VN1p3FgjfFnT66TJUi2P3DCsgaA1pOdcJIpOEv1+5CTlfiH8Fk7m4xaviYLbMuEQFEiI/ZB/QbP6DbvR1W1cUQd/49QPk8XhxaKJhhtghPGpPf6w9eaUZjhuAgiXFQ2pUzh/W1MJAISGqzfx8b+YmYjGJJdyr18c632fnY29TrCQ3Dbi4SminD16Kk6uonB81WiDzOx2OqfZYm/RbWL2xViHXRWIubRfJ4RZ+IEQbkUJIsQlOX3AHqWPBYK9zTLag2TyK0Ve9B+0IKloGEImyPAmyE6a0Y/ewz5v+bAxoVpVg3UYHkcDqi6ocRTUVAJnaDiSlwDgP7HZE2QG7vprgoNTFpjJCq6tJyIj8mB3Cms8CJF7ow5VcUPHQw7e+LswPO6VgUFpml2N5W/iwE1RZgj4yuJo8990+aVVBcefzi5m87Vx3YUp0nIz7b2edqz2cd0F4i3Yy0kPHIucEJSZ7hdBe9CX34SD0vRwOQYh2ob0XpPmme/8jiRoYrz9jb3dlgOmWPrcXpZYghM5ZJJG7UYEp7YAs1ArRO2oL3zHhkU6lqMGe32IGAP9jhvcxyWWIXV2+OYL2OavfxQJNDMZkP/KAs3vQHHIeI+yByU4Sn3IEgoHTIlfLr24VvhlguPM5/kYEsRXpuEHrnxaVdHBdzCaQSIlEkBybtAQNu11Zvmr4R8oHDu5cGspA6INBNTr+uPHzz29q9G0paPwR3PzjkuGrnC2lVb43NC6/BKiZWn/KDgJrZe76jlNc3qXySj3NXFahlZgNWWIzvJtBq/DFjw59R876eCzzsA7ZSHYZROnw8ahR+MTmvLWfOKlSueNilk6WdQNv0+MqreSKMxDsGnexULlIdJdJlooZWkCCoPcqd7Eogs/mgR3EJ0rgW4mksx0yoWgpGiK3Td55VnmjqAzsX7xew5iny8+bg0xMaTsAdKYiT/+OAFyPcTTxbCukIH8+8/zNRfCFi9WZjZbWauSjeOHTgVgMXV5gz1JjtV6k92PNDnU+My62nMQq9XPFuQZQTvRJ0Z8mMZWdbHaeItV29ZYzCFxuZESyHeST4mjrmhZLE2dqWibEpt3goca4F3rvsw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "7OfxpljqdQdJvfbp7HVaSw==",
        "ETag": "\"0x8DD93233EC4433F\"",
        "Last-Modified": "Wed, 14 May 2025 20:09:34 GMT",
        "x-ms-file-last-write-time": "2025-05-14T20:09:34.2666559Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-ae82aeb8-621c-a3fc-1121-58a09087c97f?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A09%3A36Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93233EB59A3B\"",
        "Last-Modified": "Wed, 14 May 2025 20:09:34 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Wed, 14 May 2025 20:09:34 GMT",
        "x-ms-enabled-protocols": "SMB",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-quota": "102400",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-ae82aeb8-621c-a3fc-1121-58a09087c97f/test-file-89d2dbf0-40a2-22fe-8702-a1e61774df55?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A09%3A36Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD93233EC88435\"",
        "Last-Modified": "Wed, 14 May 2025 20:09:34 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15762868840871496755*8241620249767961789",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-b69b539f-b49c-4c5c-923a-3e439e24bdc6/test-file-15432966-57a2-0d6b-5021-1ba691f5d00d?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A09%3A36Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD93233EC4433F\"",
        "Last-Modified": "Wed, 14 May 2025 20:09:34 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-14T20:09:34.2666559Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-14T20:09:34.2666559Z",
        "x-ms-file-parent-id": "0",[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-b69b539f-b49c-4c5c-923a-3e439e24bdc6?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A09%3A36Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-ae82aeb8-621c-a3fc-1121-58a09087c97f?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A09%3A36Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-05-14T16:09:36.8753862-04:00",
    "RandomSeed": "895527997",
    "Storage_TestConfigDefault": "ProductionTenant\nxmfxscnbn9pe18ex\nU2FuaXRpemVk\nhttps://xmfxscnbn9pe18ex.blob.preprod.core.windows.net\nhttps://xmfxscnbn9pe18ex.file.preprod.core.windows.net\nhttps://xmfxscnbn9pe18ex.queue.core.windows.net\nhttps://xmfxscnbn9pe18ex.table.core.windows.net\n\n\n\n\nhttps://xmfxscnbn9pe18ex-secondary.blob.core.windows.net\nhttps://xmfxscnbn9pe18ex-secondary.file.core.windows.net\nhttps://xmfxscnbn9pe18ex-secondary.queue.core.windows.net\nhttps://xmfxscnbn9pe18ex-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xmfxscnbn9pe18ex.blob.preprod.core.windows.net/;QueueEndpoint=https://xmfxscnbn9pe18ex.queue.core.windows.net/;FileEndpoint=https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://xmfxscnbn9pe18ex-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xmfxscnbn9pe18ex-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xmfxscnbn9pe18ex-secondary.file.core.windows.net/;AccountName=xmfxscnbn9pe18ex;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
