{
  "Entries": [
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-bdc04336-25d8-bb56-d364-d13581608b32?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A04%3A25Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA643A8166691\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:04:24 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-bdc04336-25d8-bb56-d364-d13581608b32/test-file-b234975f-8866-d0ce-cb20-a033f86e1ed1?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A04%3A25Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA643A825C4A8\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:04:24 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-bdc04336-25d8-bb56-d364-d13581608b32?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A04%3A25Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA643A8166691\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:04:24 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Wed, 29 Apr 2026 23:04:24 GMT",
        "x-ms-enable-smb-directory-lease": "true",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-quota": "102400",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-bdc04336-25d8-bb56-d364-d13581608b32/test-file-b234975f-8866-d0ce-cb20-a033f86e1ed1?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A04%3A25Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEA643A825C4A8\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:04:24 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-2c0d49bf-7a16-d630-e8ac-84e89914a10f/test-file-5c93e3f0-fc1b-8ee5-3d4d-199646629555?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A04%3A25Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-2c0d49bf-7a16-d630-e8ac-84e89914a10f/test-file-5c93e3f0-fc1b-8ee5-3d4d-199646629555?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A04%3A25Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA643A8494FBC\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:04:24 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:04:24.9585596Z",
        "x-ms-file-creation-time": "2026-04-29T23:04:24.9585596Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-29T23:04:24.9585596Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-2c0d49bf-7a16-d630-e8ac-84e89914a10f/test-file-5c93e3f0-fc1b-8ee5-3d4d-199646629555?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A04%3A25Z&sp=rwdxylacuptfi&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amnguyesa.file.core.windows.net/test-share-bdc04336-25d8-bb56-d364-d13581608b32/test-file-b234975f-8866-d0ce-cb20-a033f86e1ed1?sv=sanitized-value&ss=f&srt=sco&se=2026-04-30T23%3A04%3A25Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA643A851D7BB\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:04:25 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2026-04-29T23:04:24.9585596Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-2c0d49bf-7a16-d630-e8ac-84e89914a10f/test-file-5c93e3f0-fc1b-8ee5-3d4d-199646629555?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A04%3A25Z&sp=rwdxylacuptfi&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/o[...]
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-bdc04336-25d8-bb56-d364-d13581608b32/test-file-b234975f-8866-d0ce-cb20-a033f86e1ed1?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A04%3A25Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEA643A825C4A8\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:04:24 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",[...]
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-2c0d49bf-7a16-d630-e8ac-84e89914a10f?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A04%3A25Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-bdc04336-25d8-bb56-d364-d13581608b32?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A04%3A25Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-04-29T16:04:25.0051700-07:00",
    "RandomSeed": "828736975",
    "Storage_TestConfigDefault": "ProductionTenant\namnguyesa\nU2FuaXRpemVk\nhttps://amnguyesa.blob.core.windows.net\nhttps://amnguyesa.file.core.windows.net\nhttps://amnguyesa.queue.core.windows.net\nhttps://amnguyesa.table.core.windows.net\n\n\n\n\nhttps://amnguyesa-secondary.blob.core.windows.net\nhttps://amnguyesa-secondary.file.core.windows.net\nhttps://amnguyesa-secondary.queue.core.windows.net\nhttps://amnguyesa-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amnguyesa.blob.core.windows.net/;QueueEndpoint=https://amnguyesa.queue.core.windows.net/;FileEndpoint=https://amnguyesa.file.core.windows.net/;BlobSecondaryEndpoint=https://amnguyesa-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amnguyesa-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amnguyesa-secondary.file.core.windows.net/;AccountName=amnguyesa;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
