{
  "Entries": [
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-1fdf1c56-70b8-f055-70bd-fdb2670bdf0c?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T19%3A46%3A58Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD932014FA1BDE\"",
        "Last-Modified": "Wed, 14 May 2025 19:46:55 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-1fdf1c56-70b8-f055-70bd-fdb2670bdf0c/test-file-30f2397c-621a-065e-af70-edf1e12091e6?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T19%3A46%3A58Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9320150FF984\"",
        "Last-Modified": "Wed, 14 May 2025 19:46:55 GMT",
        "x-ms-file-change-time": "2025-05-14T19:46:55.8083460Z",
        "x-ms-file-creation-time": "2025-05-14T19:46:55.8083460Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-14T19:46:55.8083460Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-1fdf1c56-70b8-f055-70bd-fdb2670bdf0c?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T19%3A46%3A58Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD932014FA1BDE\"",
        "Last-Modified": "Wed, 14 May 2025 19:46:55 GMT",
        "x-ms-access-tier": "Premium",
        "x-ms-enable-snapshot-virtual-directory-access": "true",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-root-squash": "NoRootSquash",
        "x-ms-share-next-allowed-quota-downgrade-time": "Wed, 14 May 2025 19:46:55 GMT",
        "x-ms-share-paid-bursting-enabled": "false",
        "x-ms-share-provisioned-bandwidth-mibps": "110",
        "x-ms-share-provisioned-egress-mbps": "110",
        "x-ms-share-provisioned-ingress-mbps": "110",
        "x-ms-share-provisioned-iops": "3100",
        "x-ms-share-quota": "100",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-1fdf1c56-70b8-f055-70bd-fdb2670bdf0c/test-file-30f2397c-621a-065e-af70-edf1e12091e6?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T19%3A46%3A58Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD9320150FF984\"",
        "Last-Modified": "Wed, 14 May 2025 19:46:55 GMT",
        "x-ms-file-change-time": "2025-05-14T19:46:55.8083460Z",
        "x-ms-file-creation-time": "2025-05-14T19:46:55.8083460Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-14T19:46:55.8083460Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-link-count": "1",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-76fd74f0-8660-5435-2c4e-58bd6e572406/test-file-63efe318-390a-b05a-9fcb-97e6acfbe7e2?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T19%3A46%3A58Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-76fd74f0-8660-5435-2c4e-58bd6e572406/test-file-63efe318-390a-b05a-9fcb-97e6acfbe7e2?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T19%3A46%3A58Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-creation-time": "2025-05-14T19:46:55.8083460Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-last-write-time": "2025-05-14T19:46:55.8083460Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93201552AB0C\"",
        "Last-Modified": "Wed, 14 May 2025 19:46:56 GMT",
        "x-ms-file-change-time": "2025-05-14T19:46:56.2454284Z",
        "x-ms-file-creation-time": "2025-05-14T19:46:55.8083460Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-14T19:46:55.8083460Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-76fd74f0-8660-5435-2c4e-58bd6e572406/test-file-63efe318-390a-b05a-9fcb-97e6acfbe7e2?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T19%3A46%3A58Z&sp=rwdxylacuptfi&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seancanaryfilepremium2.file.core.windows.net/test-share-1fdf1c56-70b8-f055-70bd-fdb2670bdf0c/test-file-30f2397c-621a-065e-af70-edf1e12091e6?sv=sanitized-value&ss=f&srt=sco&se=2025-05-15T19%3A46%3A58Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9320155D2694\"",
        "Last-Modified": "Wed, 14 May 2025 19:46:56 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2025-05-14T19:46:55.8083460Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-76fd74f0-8660-5435-2c4e-58bd6e572406/test-file-63efe318-390a-b05a-9fcb-97e6acfbe7e2?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T19%3A46%3A58Z&sp=rwdxylacuptfi&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-creation-time": "2025-05-14T19:46:55.8083460Z",
        "x-ms-file-last-write-time": "2025-05-14T19:46:55.8083460Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93201565F64F\"",
        "Last-Modified": "Wed, 14 May 2025 19:46:56 GMT",
        "x-ms-file-change-time": "2025-05-14T19:46:56.3718735Z",
        "x-ms-file-creation-time": "2025-05-14T19:46:55.8083460Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-14T19:46:55.8083460Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-link-count": "1",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-1fdf1c56-70b8-f055-70bd-fdb2670bdf0c/test-file-30f2397c-621a-065e-af70-edf1e12091e6?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T19%3A46%3A58Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD9320150FF984\"",
        "Last-Modified": "Wed, 14 May 2025 19:46:55 GMT",
        "x-ms-file-change-time": "2025-05-14T19:46:55.8083460Z",
        "x-ms-file-creation-time": "2025-05-14T19:46:55.8083460Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-14T19:46:55.8083460Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-l[...]
[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-76fd74f0-8660-5435-2c4e-58bd6e572406?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T19%3A46%3A58Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-1fdf1c56-70b8-f055-70bd-fdb2670bdf0c?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T19%3A46%3A58Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-05-14T15:46:58.2881783-04:00",
    "RandomSeed": "703628242",
    "Storage_TestConfigPremiumFile": "PremiumFileTenant\nseancanaryfilepremium2\nU2FuaXRpemVk\nhttps://seancanaryfilepremium2.blob.core.windows.net\nhttps://seancanaryfilepremium2.file.core.windows.net\nhttps://seancanaryfilepremium2.queue.core.windows.net\nhttps://seancanaryfilepremium2.table.core.windows.net\n\n\n\n\nhttps://seancanaryfilepremium2-secondary.blob.core.windows.net\nhttps://seancanaryfilepremium2-secondary.file.core.windows.net\nhttps://seancanaryfilepremium2-secondary.queue.core.windows.net\nhttps://seancanaryfilepremium2-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanaryfilepremium2.blob.core.windows.net/;QueueEndpoint=https://seancanaryfilepremium2.queue.core.windows.net/;FileEndpoint=https://seancanaryfilepremium2.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanaryfilepremium2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanaryfilepremium2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanaryfilepremium2-secondary.file.core.windows.net/;AccountName=seancanaryfilepremium2;AccountKey=U2FuaXRpemVk\n\n\n"
  }
}
