{
  "Entries": [
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-86e037bf-3562-1247-f26a-33f36707fdb5?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A53%3A27Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D9E50E3733\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:53:23 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-86e037bf-3562-1247-f26a-33f36707fdb5/test-file-7f9b7d18-e998-24af-4c33-0b524ab4a6f3?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A53%3A27Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D9E51918EF\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:53:23 GMT",
        "x-ms-file-change-time": "2025-08-12T19:53:23.1236335Z",
        "x-ms-file-creation-time": "2025-08-12T19:53:23.1236335Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-12T19:53:23.1236335Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-86e037bf-3562-1247-f26a-33f36707fdb5?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A53%3A27Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D9E50E3733\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:53:23 GMT",
        "x-ms-access-tier": "Premium",
        "x-ms-enable-snapshot-virtual-directory-access": "true",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-root-squash": "NoRootSquash",
        "x-ms-share-next-allowed-quota-downgrade-time": "Tue, 12 Aug 2025 19:53:23 GMT",
        "x-ms-share-paid-bursting-enabled": "false",
        "x-ms-share-provisioned-bandwidth-mibps": "110",
        "x-ms-share-provisioned-egress-mbps": "110",
        "x-ms-share-provisioned-ingress-mbps": "110",
        "x-ms-share-provisioned-iops": "3100",
        "x-ms-share-quota": "100",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-86e037bf-3562-1247-f26a-33f36707fdb5/test-file-7f9b7d18-e998-24af-4c33-0b524ab4a6f3?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A53%3A27Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDD9D9E51918EF\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:53:23 GMT",
        "x-ms-file-change-time": "2025-08-12T19:53:23.1236335Z",
        "x-ms-file-creation-time": "2025-08-12T19:53:23.1236335Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-12T19:53:23.1236335Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-link-count": "1",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-3d0973bc-8efe-8bc0-f1b3-fdc71230e8d1/test-file-356580af-b23d-e58b-c36d-d81f2cdeffff?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A53%3A27Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-3d0973bc-8efe-8bc0-f1b3-fdc71230e8d1/test-file-356580af-b23d-e58b-c36d-d81f2cdeffff?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A53%3A27Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-creation-time": "2025-08-12T19:53:23.1236335Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-last-write-time": "2025-08-12T19:53:23.1236335Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D9E52E100A\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:53:23 GMT",
        "x-ms-file-change-time": "2025-08-12T19:53:23.2610314Z",
        "x-ms-file-creation-time": "2025-08-12T19:53:23.1236335Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-12T19:53:23.1236335Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-3d0973bc-8efe-8bc0-f1b3-fdc71230e8d1/test-file-356580af-b23d-e58b-c36d-d81f2cdeffff?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A53%3A27Z&sp=rwdxylacuptfi&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://nickliupremiumfileacc.file.core.windows.net/test-share-86e037bf-3562-1247-f26a-33f36707fdb5/test-file-7f9b7d18-e998-24af-4c33-0b524ab4a6f3?sv=sanitized-value&ss=f&srt=sco&se=2025-08-13T19%3A53%3A27Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D9E5338826\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:53:23 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2025-08-12T19:53:23.1236335Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-3d0973bc-8efe-8bc0-f1b3-fdc71230e8d1/test-file-356580af-b23d-e58b-c36d-d81f2cdeffff?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A53%3A27Z&sp=rwdxylacuptfi&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-creation-time": "2025-08-12T19:53:23.1236335Z",
        "x-ms-file-last-write-time": "2025-08-12T19:53:23.1236335Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D9E536DFBB\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:53:23 GMT",
        "x-ms-file-change-time": "2025-08-12T19:53:23.3187771Z",
        "x-ms-file-creation-time": "2025-08-12T19:53:23.1236335Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-12T19:53:23.1236335Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-link-count": "1",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-86e037bf-3562-1247-f26a-33f36707fdb5/test-file-7f9b7d18-e998-24af-4c33-0b524ab4a6f3?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A53%3A27Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDD9D9E51918EF\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:53:23 GMT",
        "x-ms-file-change-time": "2025-08-12T19:53:23.1236335Z",
        "x-ms-file-creation-time": "2025-08-12T19:53:23.1236335Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-12T19:53:23.1236335Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-l[...]
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-3d0973bc-8efe-8bc0-f1b3-fdc71230e8d1?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A53%3A27Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-86e037bf-3562-1247-f26a-33f36707fdb5?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A53%3A27Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-08-12T15:53:27.4971607-04:00",
    "RandomSeed": "1419096537",
    "Storage_TestConfigPremiumFile": "PremiumFileTenant\nnickliupremiumfileacc\nU2FuaXRpemVk\nhttps://nickliupremiumfileacc.blob.core.windows.net\nhttps://nickliupremiumfileacc.file.core.windows.net\nhttps://nickliupremiumfileacc.queue.core.windows.net\nhttps://nickliupremiumfileacc.table.core.windows.net\n\n\n\n\nhttps://nickliupremiumfileacc-secondary.blob.core.windows.net\nhttps://nickliupremiumfileacc-secondary.file.core.windows.net\nhttps://nickliupremiumfileacc-secondary.queue.core.windows.net\nhttps://nickliupremiumfileacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliupremiumfileacc.blob.core.windows.net/;QueueEndpoint=https://nickliupremiumfileacc.queue.core.windows.net/;FileEndpoint=https://nickliupremiumfileacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliupremiumfileacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliupremiumfileacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliupremiumfileacc-secondary.file.core.windows.net/;AccountName=nickliupremiumfileacc;AccountKey=U2FuaXRpemVk\n\n\n"
  }
}
