{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a55386da-4183-b006-93ee-384426bbae6b?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 May 2025 19:19:09 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD88E50AC66968\"",
        "Last-Modified": "Thu, 01 May 2025 19:19:06 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a55386da-4183-b006-93ee-384426bbae6b/test-file-f4d8bb70-5a2f-1d09-ada0-63106c8f3089",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 01 May 2025 19:19:09 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD88E50AD392CC\"",
        "Last-Modified": "Thu, 01 May 2025 19:19:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-01T19:19:06.7004620Z",
        "x-ms-file-creation-time": "2025-05-01T19:19:06.7004620Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-01T19:19:06.7004620Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a55386da-4183-b006-93ee-384426bbae6b/test-file-f4d8bb70-5a2f-1d09-ada0-63106c8f3089?sv=Sanitized&se=2025-05-01T20%3A19%3A09Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD88E50AD392CC\"",
        "Last-Modified": "Thu, 01 May 2025 19:19:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-01T19:19:06.7004620Z",
        "x-ms-file-creation-time": "2025-05-01T19:19:06.7004620Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-01T19:19:06.7004620Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2a67141e-39c3-9f04-100e-b11d2719e110/test-file-2504146d-ae95-48fe-c772-009f472ab93c?sv=Sanitized&se=2025-05-01T20%3A19%3A09Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2a67141e-39c3-9f04-100e-b11d2719e110/test-file-2504146d-ae95-48fe-c772-009f472ab93c?sv=Sanitized&se=2025-05-01T20%3A19%3A09Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-01T19:19:06.7004620Z",
        "x-ms-file-creation-time": "2025-05-01T19:19:06.7004620Z",
        "x-ms-file-last-write-time": "2025-05-01T19:19:06.7004620Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD88E50AEEEB66\"",
        "Last-Modified": "Thu, 01 May 2025 19:19:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-01T19:19:06.7004620Z",
        "x-ms-file-creation-time": "2025-05-01T19:19:06.7004620Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-01T19:19:06.7004620Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2a67141e-39c3-9f04-100e-b11d2719e110/test-file-2504146d-ae95-48fe-c772-009f472ab93c?sv=Sanitized&se=2025-05-01T20%3A19%3A09Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-a55386da-4183-b006-93ee-384426bbae6b/test-file-f4d8bb70-5a2f-1d09-ada0-63106c8f3089?sv=sanitized-value&se=2025-05-01T20%3A19%3A09Z&sr=f&sp=rcwd&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD88E50AF54CD7\"",
        "Last-Modified": "Thu, 01 May 2025 19:19:06 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2025-05-01T19:19:06.7004620Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2a67141e-39c3-9f04-100e-b11d2719e110/test-file-2504146d-ae95-48fe-c772-009f472ab93c?sv=Sanitized&se=2025-05-01T20%3A19%3A09Z&sr=f&sp=rcwd&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-01T19:19:06.7004620Z",
        "x-ms-file-creation-time": "2025-05-01T19:19:06.7004620Z",
        "x-ms-file-last-write-time": "2025-05-01T19:19:06.7004620Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD88E50AF9DB9B\"",
        "Last-Modified": "Thu, 01 May 2025 19:19:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-01T19:19:06.7004620Z",
        "x-ms-file-creation-time": "2025-05-01T19:19:06.7004620Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-01T19:19:06.7004620Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a55386da-4183-b006-93ee-384426bbae6b/test-file-f4d8bb70-5a2f-1d09-ada0-63106c8f3089?sv=Sanitized&se=2025-05-01T20%3A19%3A09Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD88E50AD392CC\"",
        "Last-Modified": "Thu, 01 May 2025 19:19:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-01T19:19:06.7004620Z",
        "x-ms-file-creation-time": "2025-05-01T19:19:06.7004620Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-01T19:19:06.7004620Z",
        "x-ms-file-parent-id": "0",[...]
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2a67141e-39c3-9f04-100e-b11d2719e110?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 May 2025 19:19:09 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a55386da-4183-b006-93ee-384426bbae6b?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 May 2025 19:19:10 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-05-01T15:19:09.4338631-04:00",
    "RandomSeed": "478319213",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
