{
  "Entries": [
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-30138ac1-5cfb-be60-98f8-290e320d59a5?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A53Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6494F92428C\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:44:53 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-30138ac1-5cfb-be60-98f8-290e320d59a5/test-file-38ae0ac9-d7a1-1fb1-0e20-536584a06799?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A53Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6494FA60736\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:44:53 GMT",
        "x-ms-file-change-time": "2026-04-29T23:44:53.2293430Z",
        "x-ms-file-creation-time": "2026-04-29T23:44:53.2293430Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-29T23:44:53.2293430Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-30138ac1-5cfb-be60-98f8-290e320d59a5?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A53Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6494F92428C\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:44:53 GMT",
        "x-ms-access-tier": "Premium",
        "x-ms-enable-snapshot-virtual-directory-access": "true",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-root-squash": "NoRootSquash",
        "x-ms-share-next-allowed-quota-downgrade-time": "Wed, 29 Apr 2026 23:44:53 GMT",
        "x-ms-share-paid-bursting-enabled": "false",
        "x-ms-share-provisioned-bandwidth-mibps": "110",
        "x-ms-share-provisioned-egress-mbps": "110",
        "x-ms-share-provisioned-ingress-mbps": "110",
        "x-ms-share-provisioned-iops": "3100",
        "x-ms-share-quota": "100",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-30138ac1-5cfb-be60-98f8-290e320d59a5/test-file-38ae0ac9-d7a1-1fb1-0e20-536584a06799?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A53Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEA6494FA60736\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:44:53 GMT",
        "x-ms-file-change-time": "2026-04-29T23:44:53.2293430Z",
        "x-ms-file-creation-time": "2026-04-29T23:44:53.2293430Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-29T23:44:53.2293430Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-link-count": "1",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-35323fbe-0eba-2411-591d-e94ecff124d4/test-file-fae8c8f8-e04b-ff32-c5ed-8c5c4e89e234?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A53Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-35323fbe-0eba-2411-591d-e94ecff124d4/test-file-fae8c8f8-e04b-ff32-c5ed-8c5c4e89e234?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A53Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-file-type": "Regular",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6494FC79A54\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:44:53 GMT",
        "x-ms-file-change-time": "2026-04-29T23:44:53.4493780Z",
        "x-ms-file-creation-time": "2026-04-29T23:44:53.4493780Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-29T23:44:53.4493780Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-35323fbe-0eba-2411-591d-e94ecff124d4/test-file-fae8c8f8-e04b-ff32-c5ed-8c5c4e89e234?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A53Z&sp=rwdxylacuptfi&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandafilepremscale.file.core.windows.net/test-share-30138ac1-5cfb-be60-98f8-290e320d59a5/test-file-38ae0ac9-d7a1-1fb1-0e20-536584a06799?sv=sanitized-value&ss=f&srt=sco&se=2026-04-30T23%3A44%3A53Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6494FCFCE7D\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:44:53 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2026-04-29T23:44:53.4493780Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-35323fbe-0eba-2411-591d-e94ecff124d4/test-file-fae8c8f8-e04b-ff32-c5ed-8c5c4e89e234?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A53Z&sp=rwdxylacuptfi&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-creation-time": "2026-04-29T23:44:53.2293430Z",
        "x-ms-file-last-write-time": "2026-04-29T23:44:53.2293430Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6494FD64402\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:44:53 GMT",
        "x-ms-file-change-time": "2026-04-29T23:44:53.5454722Z",
        "x-ms-file-creation-time": "2026-04-29T23:44:53.2293430Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-29T23:44:53.2293430Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-link-count": "1",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-30138ac1-5cfb-be60-98f8-290e320d59a5/test-file-38ae0ac9-d7a1-1fb1-0e20-536584a06799?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A53Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEA6494FA60736\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:44:53 GMT",
        "x-ms-file-change-time": "2026-04-29T23:44:53.2293430Z",
        "x-ms-file-creation-time": "2026-04-29T23:44:53.2293430Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-29T23:44:53.2293430Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-l[...]
[...]
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-35323fbe-0eba-2411-591d-e94ecff124d4?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A53Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-30138ac1-5cfb-be60-98f8-290e320d59a5?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A44%3A53Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-04-29T16:44:53.4559445-07:00",
    "RandomSeed": "1833312718",
    "Storage_TestConfigPremiumFile": "PremiumFileTenant\namandafilepremscale\nU2FuaXRpemVk\n\nhttps://amandafilepremscale.file.core.windows.net\n\n\n\n\n\n\n\nhttps://amandafilepremscale-secondary.file.core.windows.net\n\n\nCloud\nFileEndpoint=https://amandafilepremscale.file.core.windows.net/;FileSecondaryEndpoint=https://amandafilepremscale-secondary.file.core.windows.net/;AccountName=amandafilepremscale;AccountKey=U2FuaXRpemVk\n\n\n"
  }
}
