{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c3f9c24f-c162-1078-f209-25a7b8700bac?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD51405EFD11A2\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:51:46 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-92c81e36-708f-9fe7-86da-830c1020e258?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:51:47 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD51405F058826\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:51:47 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c3f9c24f-c162-1078-f209-25a7b8700bac/sourceFolder/test-file-c03b436f-9a50-f7dd-3f68-ab27e9df8bdf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD51405F0CD869\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:51:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-19T23:51:47.0912617Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c3f9c24f-c162-1078-f209-25a7b8700bac/sourceFolder/test-file-c03b436f-9a50-f7dd-3f68-ab27e9df8bdf?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "atWYz2u+nD7FKdBocY9LEBNlmFzLj7GbvP+YgalK/FT7w70TRrx0nfnzqNUCHsqYguF+lFIQHdoj/BNsJRqVei17bK7SN8pX8fti1+fbmZ40AP/HzGcB6qXi8EmoB3feXS6oh7EcxkoXJ6NXrUbzR2N1OCQbza7FeoII70eArumDhHm4MxHsFzq0sKTEqTxf76nmM89Sw5CA4wwvFNYDl3i61CnMOhRRiCDqZh0JAdBFqf+dmnsaMMDpOE8FvANjsBksCdUTkrWVlKquaFxyduI76mrXZfz8n6No4wHETMwdh7YD3ff7MRdKCAXQa8hkdsJtydKYi0ocL2oxqq6z0EfekeCmbpnrP7hTjV33KzTbA2w/V4L5hPtr562Nyodolji98trnvggpgokZRf7tJQM2VaZBdHj[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c3f9c24f-c162-1078-f209-25a7b8700bac/sourceFolder/bar/test-file-692bf34b-d5e2-9b82-d947-c95fd8605d52",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD51405F2872B1\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:51:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-19T23:51:47.2721585Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c3f9c24f-c162-1078-f209-25a7b8700bac/sourceFolder/bar/test-file-692bf34b-d5e2-9b82-d947-c95fd8605d52?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "EFvsLAp+qZ[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c3f9c24f-c162-1078-f209-25a7b8700bac/sourceFolder/pik/test-file-fd8bafb3-8412-b0ce-96dd-04f5a0795d38",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD51405F35902A\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:51:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-19T23:51:47.3581098Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c3f9c24f-c162-1078-f209-25a7b8700bac/sourceFolder/pik/test-file-fd8bafb3-8412-b0ce-96dd-04f5a0795d38?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "K2HrZaeC1a[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-92c81e36-708f-9fe7-86da-830c1020e258/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:51:47 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD51405F4650E5\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:51:47 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-19T23:51:47.4679013Z",
        "x-ms-file-creation-time": "2025-02-19T23:51:47.4679013Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-19T23:51:47.4679013Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c3f9c24f-c162-1078-f209-25a7b8700bac?restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-c3f9c24f-c162-1078-f209-25a7b8700bac\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-692bf34b-d5e2-9b82-d947-c95fd8605d52</Name><VersionId>2025-02-19T23:51:47.2721585Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 19 Feb 2025 23:51:47 GMT</Creation-Time><Last-Modified>Wed, 19 Feb 2025 23:51:47 GMT</Last-Modified><Etag>0x8DD51405F2F0171</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-fd8bafb3-8412-b0ce-96dd-04f5a0795d38</Name><VersionId>2025-02-19T23:51:47.3581098Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 19 Feb 2025 23:51:47 GMT</Creation-Time><Last-Modified>Wed, 19 Feb 2025 23:51:47 GMT</Last-Modified><Etag>0x8DD51405F3C6CF2</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 />[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-92c81e36-708f-9fe7-86da-830c1020e258/destFolder/bar?sv=Sanitized&se=2025-02-20T23%3A51%3A47Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD51405F5A2420\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:51:47 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-19T23:51:47.5978272Z",
        "x-ms-file-creation-time": "2025-02-19T23:51:47.5978272Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-02-19T23:51:47.5978272Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-92c81e36-708f-9fe7-86da-830c1020e258/destFolder/pik?sv=Sanitized&se=2025-02-20T23%3A51%3A47Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD51405F614F04\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:51:47 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-19T23:51:47.6448004Z",
        "x-ms-file-creation-time": "2025-02-19T23:51:47.6448004Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-02-19T23:51:47.6448004Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-92c81e36-708f-9fe7-86da-830c1020e258/destFolder/bar/test-file-692bf34b-d5e2-9b82-d947-c95fd8605d52?sv=Sanitized&se=2025-02-20T23%3A51%3A47Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-92c81e36-708f-9fe7-86da-830c1020e258/destFolder/bar/test-file-692bf34b-d5e2-9b82-d947-c95fd8605d52?sv=Sanitized&se=2025-02-20T23%3A51%3A47Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-encoding": "",
        "x-ms-content-length": "1024",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD514060557659\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:51:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:51:49.2448857Z",
        "x-ms-file-creation-time": "2025-02-19T23:51:49.2448857Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-02-19T23:51:49.2448857Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-92c81e36-708f-9fe7-86da-830c1020e258/destFolder/pik/test-file-fd8bafb3-8412-b0ce-96dd-04f5a0795d38?sv=Sanitized&se=2025-02-20T23%3A51%3A47Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-92c81e36-708f-9fe7-86da-830c1020e258/destFolder/bar/test-file-692bf34b-d5e2-9b82-d947-c95fd8605d52?sv=Sanitized&se=2025-02-20T23%3A51%3A47Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-c3f9c24f-c162-1078-f209-25a7b8700bac/sourceFolder/bar/test-file-692bf34b-d5e2-9b82-d947-c95fd8605d52",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Now",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD51406062E1E1\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:51:49 GMT",
        "x-ms-content-crc64": "GI8/a3i0veg=",
        "x-ms-file-last-write-time": "2025-02-19T23:51:49.3328353Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-92c81e36-708f-9fe7-86da-830c1020e258/destFolder/test-file-6e32965b-d3ff-3c87-27ce-f192faeb6de8?sv=Sanitized&se=2025-02-20T23%3A51%3A47Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-92c81e36-708f-9fe7-86da-830c1020e258/destFolder/bar/test-file-692bf34b-d5e2-9b82-d947-c95fd8605d52?sv=Sanitized&se=2025-02-20T23%3A51%3A47Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-encoding": "",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5140606997A6\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:51:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:51:49.3768102Z",
        "x-ms-file-creation-time": "2025-02-19T23:51:49.2448857Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-02-19T23:51:49.3328353Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-92c81e36-708f-9fe7-86da-830c1020e258/destFolder/pik/test-file-fd8bafb3-8412-b0ce-96dd-04f5a0795d38?sv=Sanitized&se=2025-02-20T23%3A51%3A47Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-c3f9c24f-c162-1078-f209-25a7b8700bac/sourceFolder/pik/test-file-fd8bafb3-8412-b0ce-96dd-04f5a0795d38",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Now",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5140606BE140\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:51:49 GMT",
        "x-ms-content-crc64": "cszZ24ceTdY=",
        "x-ms-file-last-write-time": "2025-02-19T23:51:49.3918016Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-92c81e36-708f-9fe7-86da-830c1020e258/destFolder/pik/test-file-fd8bafb3-8412-b0ce-96dd-04f5a0795d38?sv=Sanitized&se=2025-02-20T23%3A51%3A47Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-encoding": "",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5140607248F1\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:51:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:51:49.4337777Z",
        "x-ms-file-creation-time": "2025-02-19T23:51:49.3098490Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-02-19T23:51:49.3918016Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-92c81e36-708f-9fe7-86da-830c1020e258/destFolder/test-file-6e32965b-d3ff-3c87-27ce-f192faeb6de8?sv=Sanitized&se=2025-02-20T23%3A51%3A47Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-c3f9c24f-c162-1078-f209-25a7b8700bac/sourceFolder/test-file-6e32965b-d3ff-3c87-27ce-f192faeb6de8",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Now",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD51406074B995\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:51:49 GMT",
        "x-ms-content-crc64": "vTejXaAxOGo=",
        "x-ms-file-last-write-time": "2025-02-19T23:51:49.4497685Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-92c81e36-708f-9fe7-86da-830c1020e258/destFolder/test-file-6e32965b-d3ff-3c87-27ce-f192faeb6de8?sv=Sanitized&se=2025-02-20T23%3A51%3A47Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-encoding": "",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5140607B2145\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:51:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:51:49.4917445Z",
        "x-ms-file-creation-time": "2025-02-19T23:51:49.3938006Z",
        "x-ms-file-id": "11529250230440558592",
        "x-ms-file-last-write-time": "2025-02-19T23:51:49.4497685Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c3f9c24f-c162-1078-f209-25a7b8700bac?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBo[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-92c81e36-708f-9fe7-86da-830c1020e258/destFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:51:49 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-92c81e36-708f-9fe7-86da-830c1020e258\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-6e32965b-d3ff-3c87-27ce-f192faeb6de8</Name><FileId>11529250230440558592</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-c03b436f-9a50-f7dd-3f68-ab27e9df8bdf</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-92c81e36-708f-9fe7-86da-830c1020e258/destFolder/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:51:49 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-92c81e36-708f-9fe7-86da-830c1020e258\" DirectoryPath=\"destFolder/bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-692bf34b-d5e2-9b82-d947-c95fd8605d52</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-92c81e36-708f-9fe7-86da-830c1020e258/destFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:51:49 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-92c81e36-708f-9fe7-86da-830c1020e258\" DirectoryPath=\"destFolder/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-fd8bafb3-8412-b0ce-96dd-04f5a0795d38</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c3f9c24f-c162-1078-f209-25a7b8700bac/sourceFolder/bar/test-file-692bf34b-d5e2-9b82-d947-c95fd8605d52",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD51405F2F0171\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:51:47 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 19 Feb 2025 23:51:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-19T23:51:47.2721585Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-92c81e36-708f-9fe7-86da-830c1020e258/destFolder/bar/test-file-692bf34b-d5e2-9b82-d947-c95fd8605d52",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:51:50 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5140606997A6\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:51:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:51:49.3768102Z",
        "x-ms-file-creation-time": "2025-02-19T23:51:49.2448857Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-02-19T23:51:49.3328353Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c3f9c24f-c162-1078-f209-25a7b8700bac/sourceFolder/bar/test-file-692bf34b-d5e2-9b82-d947-c95fd8605d52",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD51405F2F0171\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD51405F2F0171\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:51:47 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 19 Feb 2025 23:51:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
  [...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-92c81e36-708f-9fe7-86da-830c1020e258/destFolder/pik/test-file-fd8bafb3-8412-b0ce-96dd-04f5a0795d38",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:51:50 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5140607248F1\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:51:49 GMT",
        "x-ms-file-attributes": "Archive",
[...]
