{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fa504211-18c2-5313-798a-f1fa95ace7a8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD56939519ED46\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:30:01 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-b0e5ec52-af19-0d8b-eeab-abe19c2aa033?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 Feb 2025 18:30:01 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5693952617EA\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:30:01 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fa504211-18c2-5313-798a-f1fa95ace7a8/sourceFolder/test-file-e47843c8-ee99-b1a5-86b9-98378493827b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5693952F11C9\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:30:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fa504211-18c2-5313-798a-f1fa95ace7a8/sourceFolder/test-file-e47843c8-ee99-b1a5-86b9-98378493827b?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "CjUvSPp43OHe5ECl2DyHVMjdR4e2vmHvb4L1Z7ScardJSSxPYzqA11kwO6+YLh2yq+U/aYbomEzTQNh4gnUtQXqJW48PN/GOXHAuhoOxVkBkQrvPXQAwYbDgeyNhCFTjA/o1D9KNo3TzsA0WuhLIIumYE0C5XeN5WPreLrvNLVQcSoOJe0Zu1p9H26zzGqeeGFk5yfQTKqUWu7fYr3S4JYO4+W+PP6ejKjyhcoI2hj5SQBZilGRfCR/dcr+PlScqjrUpOiA3D9iylp+4crcj3zV4hW5dVpEfWPBPsc3nE5QUduTMDUsdGjE9sP7Fp5dnupKJFhC5zTckCuIw6F0LyoIKo/vTVtLqW2o9H6aTWbFY5/c6XfyDW6msqAJp7DLTMuV7ugOblGPAn7ule62QkLAw1wBm0G2[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fa504211-18c2-5313-798a-f1fa95ace7a8/sourceFolder/bar/test-file-c079dae6-6a95-376e-f956-681c316f4421",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD56939555337C\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:30:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fa504211-18c2-5313-798a-f1fa95ace7a8/sourceFolder/bar/test-file-c079dae6-6a95-376e-f956-681c316f4421?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "SkQO5PFIZsBq[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fa504211-18c2-5313-798a-f1fa95ace7a8/sourceFolder/pik/test-file-c09b29ea-c7f3-d269-0e3c-4c31260e4271",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD56939568F35A\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:30:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fa504211-18c2-5313-798a-f1fa95ace7a8/sourceFolder/pik/test-file-c09b29ea-c7f3-d269-0e3c-4c31260e4271?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "hBVEYzm2f0Pm[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-b0e5ec52-af19-0d8b-eeab-abe19c2aa033/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 Feb 2025 18:30:02 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5693957D682F\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:30:02 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-26T18:30:02.4683567Z",
        "x-ms-file-creation-time": "2025-02-26T18:30:02.4683567Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-26T18:30:02.4683567Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fa504211-18c2-5313-798a-f1fa95ace7a8?restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-fa504211-18c2-5313-798a-f1fa95ace7a8\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-c079dae6-6a95-376e-f956-681c316f4421</Name><Properties><Creation-Time>Wed, 26 Feb 2025 18:30:02 GMT</Creation-Time><Last-Modified>Wed, 26 Feb 2025 18:30:02 GMT</Last-Modified><Etag>0x8DD5693955E77DD</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-c09b29ea-c7f3-d269-0e3c-4c31260e4271</Name><Properties><Creation-Time>Wed, 26 Feb 2025 18:30:02 GMT</Creation-Time><Last-Modified>Wed, 26 Feb 2025 18:30:02 GMT</Last-Modified><Etag>0x8DD56939571E9F4</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-D[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-b0e5ec52-af19-0d8b-eeab-abe19c2aa033/destFolder/bar?sv=Sanitized&se=2025-02-27T18%3A30%3A02Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5693959C661A\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:30:02 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-26T18:30:02.6714650Z",
        "x-ms-file-creation-time": "2025-02-26T18:30:02.6714650Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-02-26T18:30:02.6714650Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-b0e5ec52-af19-0d8b-eeab-abe19c2aa033/destFolder/pik?sv=Sanitized&se=2025-02-27T18%3A30%3A02Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD569395A50EED\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:30:02 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-26T18:30:02.7282157Z",
        "x-ms-file-creation-time": "2025-02-26T18:30:02.7282157Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-02-26T18:30:02.7282157Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-b0e5ec52-af19-0d8b-eeab-abe19c2aa033/destFolder/test-file-e47843c8-ee99-b1a5-86b9-98378493827b?sv=Sanitized&se=2025-02-27T18%3A30%3A02Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-b0e5ec52-af19-0d8b-eeab-abe19c2aa033/destFolder/pik/test-file-c09b29ea-c7f3-d269-0e3c-4c31260e4271?sv=Sanitized&se=2025-02-27T18%3A30%3A02Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-b0e5ec52-af19-0d8b-eeab-abe19c2aa033/destFolder/test-file-e47843c8-ee99-b1a5-86b9-98378493827b?sv=Sanitized&se=2025-02-27T18%3A30%3A02Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-26T18:30:01.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5693987F09B3\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:30:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-26T18:30:07.5122099Z",
        "x-ms-file-creation-time": "2025-02-26T18:30:01.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-02-26T18:30:07.5122099Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-b0e5ec52-af19-0d8b-eeab-abe19c2aa033/destFolder/test-file-e47843c8-ee99-b1a5-86b9-98378493827b?sv=Sanitized&se=2025-02-27T18%3A30%3A02Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-fa504211-18c2-5313-798a-f1fa95ace7a8/sourceFolder/test-file-e47843c8-ee99-b1a5-86b9-98378493827b",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5693988A6E8B\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:30:07 GMT",
        "x-ms-content-crc64": "1vZCCqLbrGM=",
        "x-ms-file-last-write-time": "2025-02-26T18:30:07.5122099Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-b0e5ec52-af19-0d8b-eeab-abe19c2aa033/destFolder/bar/test-file-c079dae6-6a95-376e-f956-681c316f4421?sv=Sanitized&se=2025-02-27T18%3A30%3A02Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-b0e5ec52-af19-0d8b-eeab-abe19c2aa033/destFolder/pik/test-file-c09b29ea-c7f3-d269-0e3c-4c31260e4271?sv=Sanitized&se=2025-02-27T18%3A30%3A02Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-fa504211-18c2-5313-798a-f1fa95ace7a8/sourceFolder/pik/test-file-c09b29ea-c7f3-d269-0e3c-4c31260e4271",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5693988FBFC3\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:30:07 GMT",
        "x-ms-content-crc64": "aD1qbmg8fXI=",
        "x-ms-file-last-write-time": "2025-02-26T18:30:07.5460605Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-b0e5ec52-af19-0d8b-eeab-abe19c2aa033/destFolder/test-file-e47843c8-ee99-b1a5-86b9-98378493827b?sv=Sanitized&se=2025-02-27T18%3A30%3A02Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-26T18:30:01.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD569398933E4C\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:30:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-26T18:30:07.6446284Z",
        "x-ms-file-creation-time": "2025-02-26T18:30:01.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-02-26T18:30:07.5122099Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-b0e5ec52-af19-0d8b-eeab-abe19c2aa033/destFolder/pik/test-file-c09b29ea-c7f3-d269-0e3c-4c31260e4271?sv=Sanitized&se=2025-02-27T18%3A30%3A02Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-26T18:30:02.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD56939898689F\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:30:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-26T18:30:07.6784799Z",
        "x-ms-file-creation-time": "2025-02-26T18:30:02.0000000Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2025-02-26T18:30:07.5460605Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-b0e5ec52-af19-0d8b-eeab-abe19c2aa033/destFolder/bar/test-file-c079dae6-6a95-376e-f956-681c316f4421?sv=Sanitized&se=2025-02-27T18%3A30%3A02Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-fa504211-18c2-5313-798a-f1fa95ace7a8/sourceFolder/bar/test-file-c079dae6-6a95-376e-f956-681c316f4421",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD569398A5526D\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:30:07 GMT",
        "x-ms-content-crc64": "1WOVvjPlP7s=",
        "x-ms-file-last-write-time": "2025-02-26T18:30:07.6774846Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-b0e5ec52-af19-0d8b-eeab-abe19c2aa033/destFolder/bar/test-file-c079dae6-6a95-376e-f956-681c316f4421?sv=Sanitized&se=2025-02-27T18%3A30%3A02Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-26T18:30:02.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD569398ADFB40\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:30:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-26T18:30:07.8198592Z",
        "x-ms-file-creation-time": "2025-02-26T18:30:02.0000000Z",
        "x-ms-file-id": "11529320599184736256",
        "x-ms-file-last-write-time": "2025-02-26T18:30:07.6774846Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fa504211-18c2-5313-798a-f1fa95ace7a8?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-b0e5ec52-af19-0d8b-eeab-abe19c2aa033/destFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 Feb 2025 18:30:08 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-b0e5ec52-af19-0d8b-eeab-abe19c2aa033\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-1911354f-d994-f6d4-ef32-390847ce6f4f</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-e47843c8-ee99-b1a5-86b9-98378493827b</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-b0e5ec52-af19-0d8b-eeab-abe19c2aa033/destFolder/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 Feb 2025 18:30:08 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-b0e5ec52-af19-0d8b-eeab-abe19c2aa033\" DirectoryPath=\"destFolder/bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-c079dae6-6a95-376e-f956-681c316f4421</Name><FileId>11529320599184736256</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-b0e5ec52-af19-0d8b-eeab-abe19c2aa033/destFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 Feb 2025 18:30:08 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-b0e5ec52-af19-0d8b-eeab-abe19c2aa033\" DirectoryPath=\"destFolder/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-c09b29ea-c7f3-d269-0e3c-4c31260e4271</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fa504211-18c2-5313-798a-f1fa95ace7a8/sourceFolder/bar/test-file-c079dae6-6a95-376e-f956-681c316f4421",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5693955E77DD\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:30:02 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 26 Feb 2025 18:30:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-b0e5ec52-af19-0d8b-eeab-abe19c2aa033/destFolder/bar/test-file-c079dae6-6a95-376e-f956-681c316f4421",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 Feb 2025 18:30:08 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD569398ADFB40\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:30:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-26T18:30:07.8198592Z",
        "x-ms-file-creation-time": "2025-02-26T18:30:02.0000000Z",
        "x-ms-file-id": "11529320599184736256",
        "x-ms-file-last-write-time": "2025-02-26T18:30:07.6774846Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fa504211-18c2-5313-798a-f1fa95ace7a8/sourceFolder/bar/test-file-c079dae6-6a95-376e-f956-681c316f4421",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5693955E77DD\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5693955E77DD\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:30:02 GMT",
        "x-ms-blob-sequence-number": "0",
[...]
