{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8e8f13a2-7bb1-57b2-f5c0-078f5bc30dfd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB11BF2358272\"",
        "Last-Modified": "Wed, 13 May 2026 18:17:51 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d0ce326e-429b-bd02-b721-02b81d9fb9a5?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 13 May 2026 18:17:51 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB11BF23F8F93\"",
        "Last-Modified": "Wed, 13 May 2026 18:17:51 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8e8f13a2-7bb1-57b2-f5c0-078f5bc30dfd/sourceFolder/test-file-a3e45391-2ebb-949f-baea-55f8ea34cf6b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB11BF265FAB2\"",
        "Last-Modified": "Wed, 13 May 2026 18:17:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8e8f13a2-7bb1-57b2-f5c0-078f5bc30dfd/sourceFolder/test-file-a3e45391-2ebb-949f-baea-55f8ea34cf6b?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "UPE8mWdqh7zOEbGXbrbVR+cPUL7GomxDMHuY780HNaeFbaj4+DYEqTcQ4Oici/pU9hmwTsKmIK6F+Gnr0pjvxtsKEgAO3U+xCqaGtsKEp6WBQ/mzVufk3036c//MGdefIBkMkXj5RhnK/0McH2rsAFHEao6fO2/0JjOzFGlP5PHP55WoeBUsh/3g6FejyL/iDXOuCK9IAOSpGGtFRjGvextRTTfUQ4c7mOKRvlMYUF5z0Ab1odxChuaw/mCp5kHLMG07UXqHDcrrcnDMtkGRkccN0nUqudo/D8ZRJEUnkrGhxo7m3f7j68I8Ci5rdc+lH22YmxTLoXaS/EK0NumEw+C+K/Czq7PIKuay7a+r05n3rAXYj/ad1SQXU+G8L7XZuEZOrUre8XO5z3EuGLPH5yiovIrkrDT[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8e8f13a2-7bb1-57b2-f5c0-078f5bc30dfd/sourceFolder/bar/test-file-a2cc7f00-f650-b7a2-ec8a-d2122272cb08",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB11BF28BF5DE\"",
        "Last-Modified": "Wed, 13 May 2026 18:17:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8e8f13a2-7bb1-57b2-f5c0-078f5bc30dfd/sourceFolder/bar/test-file-a2cc7f00-f650-b7a2-ec8a-d2122272cb08?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "tgJkVuMydL2J[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8e8f13a2-7bb1-57b2-f5c0-078f5bc30dfd/sourceFolder/pik/test-file-fb502c09-5429-e573-f230-6b29092dcc80",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB11BF29D9547\"",
        "Last-Modified": "Wed, 13 May 2026 18:17:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8e8f13a2-7bb1-57b2-f5c0-078f5bc30dfd/sourceFolder/pik/test-file-fb502c09-5429-e573-f230-6b29092dcc80?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "2Dx+1/HtiOTP[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d0ce326e-429b-bd02-b721-02b81d9fb9a5/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 13 May 2026 18:17:52 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB11BF2AF060C\"",
        "Last-Modified": "Wed, 13 May 2026 18:17:52 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-05-13T18:17:52.6979084Z",
        "x-ms-file-creation-time": "2026-05-13T18:17:52.6979084Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-05-13T18:17:52.6979084Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11213973173494923372*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8e8f13a2-7bb1-57b2-f5c0-078f5bc30dfd?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-8e8f13a2-7bb1-57b2-f5c0-078f5bc30dfd\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-a3e45391-2ebb-949f-baea-55f8ea34cf6b</Name><Properties><Creation-Time>Wed, 13 May 2026 18:17:52 GMT</Creation-Time><Last-Modified>Wed, 13 May 2026 18:17:52 GMT</Last-Modified><Etag>0x8DEB11BF27138EE</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-afcdbf13-4df9-6823-0bcc-61985e1365e7</Name><Properties><Creation-Time>Wed, 13 May 2026 18:17:52 GMT</Creation-Time><Last-Modified>Wed, 13 May 2026 18:17:52 GMT</Last-Modified><Etag>0x8DEB11BF28373F4</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d0ce326e-429b-bd02-b721-02b81d9fb9a5/destFolder/bar?sv=Sanitized&se=2026-05-14T18%3A17%3A52Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:4af472d0-d01a-0013-1e04-e34bae000000\n",
        "Time:2026-05-13T18:17:52.8619303Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d0ce326e-429b-bd02-b721-02b81d9fb9a5/destFolder/pik?sv=Sanitized&se=2026-05-14T18%3A17%3A52Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:4af472d2-d01a-0013-2004-e34bae000000\n",
        "Time:2026-05-13T18:17:52.9490970Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8e8f13a2-7bb1-57b2-f5c0-078f5bc30dfd?restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8e8f13a2-7bb1-57b2-f5c0-078f5bc30dfd?restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d0ce326e-429b-bd02-b721-02b81d9fb9a5/destFolder/test-file-afcdbf13-4df9-6823-0bcc-61985e1365e7?sv=Sanitized&se=2026-05-14T18%3A17%3A52Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d0ce326e-429b-bd02-b721-02b81d9fb9a5/destFolder/test-file-afcdbf13-4df9-6823-0bcc-61985e1365e7?sv=Sanitized&se=2026-05-14T18%3A17%3A52Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-encoding": "",
        "x-ms-content-length": "1024",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB11BF46AC973\"",
        "Last-Modified": "Wed, 13 May 2026 18:17:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-05-13T18:17:55.6061555Z",
        "x-ms-file-creation-time": "2026-05-13T18:17:55.6061555Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-05-13T18:17:55.6061555Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d0ce326e-429b-bd02-b721-02b81d9fb9a5/destFolder/test-file-afcdbf13-4df9-6823-0bcc-61985e1365e7?sv=Sanitized&se=2026-05-14T18%3A17%3A52Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-8e8f13a2-7bb1-57b2-f5c0-078f5bc30dfd/sourceFolder/test-file-afcdbf13-4df9-6823-0bcc-61985e1365e7",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Now",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB11BF47B6475\"",
        "Last-Modified": "Wed, 13 May 2026 18:17:55 GMT",
        "x-ms-content-crc64": "Y8y27sd5+ic=",
        "x-ms-file-last-write-time": "2026-05-13T18:17:55.7149813Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d0ce326e-429b-bd02-b721-02b81d9fb9a5/destFolder/pik/test-file-fb502c09-5429-e573-f230-6b29092dcc80?sv=Sanitized&se=2026-05-14T18%3A17%3A52Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d0ce326e-429b-bd02-b721-02b81d9fb9a5/destFolder/test-file-afcdbf13-4df9-6823-0bcc-61985e1365e7?sv=Sanitized&se=2026-05-14T18%3A17%3A52Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-encoding": "",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB11BF4826675\"",
        "Last-Modified": "Wed, 13 May 2026 18:17:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-05-13T18:17:55.7609077Z",
        "x-ms-file-creation-time": "2026-05-13T18:17:55.6061555Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-05-13T18:17:55.7149813Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d0ce326e-429b-bd02-b721-02b81d9fb9a5/destFolder/pik/test-file-fb502c09-5429-e573-f230-6b29092dcc80?sv=Sanitized&se=2026-05-14T18%3A17%3A52Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-8e8f13a2-7bb1-57b2-f5c0-078f5bc30dfd/sourceFolder/pik/test-file-fb502c09-5429-e573-f230-6b29092dcc80",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Now",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB11BF492B379\"",
        "Last-Modified": "Wed, 13 May 2026 18:17:55 GMT",
        "x-ms-content-crc64": "Zc/zY415lfU=",
        "x-ms-file-last-write-time": "2026-05-13T18:17:55.8677369Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d0ce326e-429b-bd02-b721-02b81d9fb9a5/destFolder/pik/test-file-fb502c09-5429-e573-f230-6b29092dcc80?sv=Sanitized&se=2026-05-14T18%3A17%3A52Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-encoding": "",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB11BF4996777\"",
        "Last-Modified": "Wed, 13 May 2026 18:17:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-05-13T18:17:55.9116663Z",
        "x-ms-file-creation-time": "2026-05-13T18:17:55.7678963Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2026-05-13T18:17:55.8677369Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d0ce326e-429b-bd02-b721-02b81d9fb9a5/destFolder/bar/test-file-a2cc7f00-f650-b7a2-ec8a-d2122272cb08?sv=Sanitized&se=2026-05-14T18%3A17%3A52Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d0ce326e-429b-bd02-b721-02b81d9fb9a5/destFolder/bar/test-file-a2cc7f00-f650-b7a2-ec8a-d2122272cb08?sv=Sanitized&se=2026-05-14T18%3A17%3A52Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-8e8f13a2-7bb1-57b2-f5c0-078f5bc30dfd/sourceFolder/bar/test-file-a2cc7f00-f650-b7a2-ec8a-d2122272cb08",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Now",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB11BF4DE30DC\"",
        "Last-Modified": "Wed, 13 May 2026 18:17:56 GMT",
        "x-ms-content-crc64": "JBoOqWOJgNs=",
        "x-ms-file-last-write-time": "2026-05-13T18:17:56.3624668Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d0ce326e-429b-bd02-b721-02b81d9fb9a5/destFolder/bar/test-file-a2cc7f00-f650-b7a2-ec8a-d2122272cb08?sv=Sanitized&se=2026-05-14T18%3A17%3A52Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-encoding": "",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB11BF4E532D6\"",
        "Last-Modified": "Wed, 13 May 2026 18:17:56 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-05-13T18:17:56.4083926Z",
        "x-ms-file-creation-time": "2026-05-13T18:17:56.2616273Z",
        "x-ms-file-id": "11529250230440558592",
        "x-ms-file-last-write-time": "2026-05-13T18:17:56.3624668Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8e8f13a2-7bb1-57b2-f5c0-078f5bc30dfd?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d0ce326e-429b-bd02-b721-02b81d9fb9a5/destFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 13 May 2026 18:17:56 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandasa3.file.core.windows.net/\" ShareName=\"test-share-d0ce326e-429b-bd02-b721-02b81d9fb9a5\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-a3e45391-2ebb-949f-baea-55f8ea34cf6b</Name><FileId>16140936248867946496</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-afcdbf13-4df9-6823-0bcc-61985e1365e7</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d0ce326e-429b-bd02-b721-02b81d9fb9a5/destFolder/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 13 May 2026 18:17:56 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandasa3.file.core.windows.net/\" ShareName=\"test-share-d0ce326e-429b-bd02-b721-02b81d9fb9a5\" DirectoryPath=\"destFolder/bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-a2cc7f00-f650-b7a2-ec8a-d2122272cb08</Name><FileId>11529250230440558592</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d0ce326e-429b-bd02-b721-02b81d9fb9a5/destFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 13 May 2026 18:17:56 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandasa3.file.core.windows.net/\" ShareName=\"test-share-d0ce326e-429b-bd02-b721-02b81d9fb9a5\" DirectoryPath=\"destFolder/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-fb502c09-5429-e573-f230-6b29092dcc80</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8e8f13a2-7bb1-57b2-f5c0-078f5bc30dfd/sourceFolder/bar/test-file-a2cc7f00-f650-b7a2-ec8a-d2122272cb08",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEB11BF29477CE\"",
        "Last-Modified": "Wed, 13 May 2026 18:17:52 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 13 May 2026 18:17:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d0ce326e-429b-bd02-b721-02b81d9fb9a5/destFolder/bar/test-file-a2cc7f00-f650-b7a2-ec8a-d2122272cb08",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 13 May 2026 18:17:56 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB11BF4E532D6\"",
        "Last-Modified": "Wed, 13 May 2026 18:17:56 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-05-13T18:17:56.4083926Z",
        "x-ms-file-creation-time": "2026-05-13T18:17:56.2616273Z",
        "x-ms-file-id": "11529250230440558592",
        "x-ms-file-last-write-time": "2026-05-13T18:17:56.3624668Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8e8f13a2-7bb1-57b2-f5c0-078f5bc30dfd/sourceFolder/bar/test-file-a2cc7f00-f650-b7a2-ec8a-d2122272cb08",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DEB11BF29477CE\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEB11BF29477CE\"",
        "Last-Modified": "Wed, 13 May 2026 18:17:52 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 13 May 2026 18:17:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-[...]
[...]
    {
[...]
