{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8a7e9d7e-7ad2-55c0-9449-49386fd10720?restype=container&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A52Z&se=2026-02-18T07%3A38%3A52Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB8616834CE\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:52 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-30260070-ae64-bb93-1340-bad70c9284c9?restype=share&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A52Z&se=2026-02-18T07%3A38%3A52Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB861755E52\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:52 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8a7e9d7e-7ad2-55c0-9449-49386fd10720/sourceFolder/test-file-6ad92e5c-ebee-77e6-ca35-dac3a5b0efd4?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A52Z&se=2026-02-18T07%3A38%3A52Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB86191A6C5\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8a7e9d7e-7ad2-55c0-9449-49386fd10720/sourceFolder/test-file-6ad92e5c-ebee-77e6-ca35-dac3a5b0efd4?comp=page&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A52Z&se=2026-02-18T07%3A38%3A52Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "wXiGnWWawbeFRQZuzVOyvgsmbsg8PrqoCA+yFO3GeD0W9QEtKlJvoEh9GpCtt/xkJz4U2B5WqIO93pVW56zJvszIV9hRhZS5t81/viMq+1ATTu2vsqAewEx+cEu9GbictFzD5F8jE6KqWiFR1upfkuNEQpm/GgwsqpeM0hVI+54U4wnHZhbx7ztKBFh+zephH91oedYf3ZlPlzrIl0CNYV6DPPLglyvMUlNedBW0rdysKrM334LI9QVwd8/cKFf6vaP5+5D3gIexnCaCwGmDm+ldG22MVYHbu0fscB9c8Cr8Y7ZyurFMtKkrhkNcRTSc7NvlfgzqbmchHUBJCg9nVaz7hl2yEeE3EWfDYM8+f3USUIRDdnEdEfVPUJ1xA6maxDCXYL/X6tr6rm2lJw2X457LNrqLI98[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8a7e9d7e-7ad2-55c0-9449-49386fd10720/sourceFolder/bar/test-file-6576d425-6e89-137c-a942-7f6c1a3adc77?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A52Z&se=2026-02-18T07%3A38%3A52Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB861B55A52\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8a7e9d7e-7ad2-55c0-9449-49386fd10720/sourceFolder/bar/test-file-6576d425-6e89-137c-a942-7f6c1a3adc77?comp=page&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A52Z&se=2026-02-18T07%3A38%3A52Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
     [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8a7e9d7e-7ad2-55c0-9449-49386fd10720/sourceFolder/pik/test-file-ef3c4eca-a23b-f07b-76e2-6a620113ee33?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A52Z&se=2026-02-18T07%3A38%3A52Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB861C6F015\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8a7e9d7e-7ad2-55c0-9449-49386fd10720/sourceFolder/pik/test-file-ef3c4eca-a23b-f07b-76e2-6a620113ee33?comp=page&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A52Z&se=2026-02-18T07%3A38%3A52Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
     [...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-30260070-ae64-bb93-1340-bad70c9284c9/destFolder?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A52Z&se=2026-02-18T07%3A38%3A52Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB861DA3FF4\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:52 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-02-18T06:38:52.7920116Z",
        "x-ms-file-creation-time": "2026-02-18T06:38:52.7920116Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-02-18T06:38:52.7920116Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8a7e9d7e-7ad2-55c0-9449-49386fd10720?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A52Z&se=2026-02-18T07%3A38%3A52Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-8a7e9d7e-7ad2-55c0-9449-49386fd10720\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-6ad92e5c-ebee-77e6-ca35-dac3a5b0efd4</Name><Properties><Creation-Time>Wed, 18 Feb 2026 06:38:52 GMT</Creation-Time><Last-Modified>Wed, 18 Feb 2026 06:38:52 GMT</Last-Modified><Etag>0x8DE6EB8619A9D57</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-a0350a3b-b3d5-ca25-b7d9-fd1ffe8c1ee4</Name><Properties><Creation-Time>Wed, 18 Feb 2026 06:38:52 GMT</Creation-Time><Last-Modified>Wed, 18 Feb 2026 06:38:52 GMT</Last-Modified><Etag>0x8DE6EB861AC63B8</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-30260070-ae64-bb93-1340-bad70c9284c9/destFolder/bar?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A52Z&se=2026-02-18T07%3A38%3A52Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:8ee0601f-d01a-0059-24a1-a02737000000\n",
        "Time:2026-02-18T06:38:52.9791523Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-30260070-ae64-bb93-1340-bad70c9284c9/destFolder/pik?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A52Z&se=2026-02-18T07%3A38%3A52Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:8ee06022-d01a-0059-26a1-a02737000000\n",
        "Time:2026-02-18T06:38:53.0972629Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8a7e9d7e-7ad2-55c0-9449-49386fd10720?restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A52Z&se=2026-02-18T07%3A38%3A52Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeade[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-30260070-ae64-bb93-1340-bad70c9284c9/destFolder/test-file-6ad92e5c-ebee-77e6-ca35-dac3a5b0efd4?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A52Z&se=2026-02-18T07%3A38%3A52Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8a7e9d7e-7ad2-55c0-9449-49386fd10720?restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A52Z&se=2026-02-18T07%3A38%3A52Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeade[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-30260070-ae64-bb93-1340-bad70c9284c9/destFolder/bar/test-file-6576d425-6e89-137c-a942-7f6c1a3adc77?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A52Z&se=2026-02-18T07%3A38%3A52Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-30260070-ae64-bb93-1340-bad70c9284c9/destFolder/test-file-6ad92e5c-ebee-77e6-ca35-dac3a5b0efd4?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A52Z&se=2026-02-18T07%3A38%3A52Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-02-18T06:38:52.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB8622C7076\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:38:53.3306486Z",
        "x-ms-file-creation-time": "2026-02-18T06:38:52.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2026-02-18T06:38:53.3306486Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-30260070-ae64-bb93-1340-bad70c9284c9/destFolder/pik/test-file-ef3c4eca-a23b-f07b-76e2-6a620113ee33?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A52Z&se=2026-02-18T07%3A38%3A52Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-30260070-ae64-bb93-1340-bad70c9284c9/destFolder/test-file-6ad92e5c-ebee-77e6-ca35-dac3a5b0efd4?comp=range&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A52Z&se=2026-02-18T07%3A38%3A52Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-8a7e9d7e-7ad2-55c0-9449-49386fd10720/sourceFolder/test-file-6ad92e5c-ebee-77e6-ca35-dac3a5b0efd4?sv=sanitized-value&ss=b&srt=sco&st=2026-02-18T05%3A38%3A52Z&se=2026-02-18T07%3A38%3A52Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB862378794\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:53 GMT",
        "x-ms-content-crc64": "vHWwxSe7F6c=",
        "x-ms-file-last-write-time": "2026-02-18T06:38:53.3306486Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-30260070-ae64-bb93-1340-bad70c9284c9/destFolder/test-file-6ad92e5c-ebee-77e6-ca35-dac3a5b0efd4?comp=properties&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A52Z&se=2026-02-18T07%3A38%3A52Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-02-18T06:38:52.0000000Z",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB86240A518\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:38:53.4630680Z",
        "x-ms-file-creation-time": "2026-02-18T06:38:52.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2026-02-18T06:38:53.3306486Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-30260070-ae64-bb93-1340-bad70c9284c9/destFolder/bar/test-file-6576d425-6e89-137c-a942-7f6c1a3adc77?comp=range&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A52Z&se=2026-02-18T07%3A38%3A52Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-8a7e9d7e-7ad2-55c0-9449-49386fd10720/sourceFolder/bar/test-file-6576d425-6e89-137c-a942-7f6c1a3adc77?sv=sanitized-value&ss=b&srt=sco&st=2026-02-18T05%3A38%3A52Z&se=2026-02-18T07%3A38%3A52Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB862444A76\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:53 GMT",
        "x-ms-content-crc64": "D+R+hwoc57w=",
        "x-ms-file-last-write-time": "2026-02-18T06:38:53.3804307Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-30260070-ae64-bb93-1340-bad70c9284c9/destFolder/pik/test-file-ef3c4eca-a23b-f07b-76e2-6a620113ee33?comp=range&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A52Z&se=2026-02-18T07%3A38%3A52Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-8a7e9d7e-7ad2-55c0-9449-49386fd10720/sourceFolder/pik/test-file-ef3c4eca-a23b-f07b-76e2-6a620113ee33?sv=sanitized-value&ss=b&srt=sco&st=2026-02-18T05%3A38%3A52Z&se=2026-02-18T07%3A38%3A52Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB8624C30DC\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:53 GMT",
        "x-ms-content-crc64": "y0smnZbApfI=",
        "x-ms-file-last-write-time": "2026-02-18T06:38:53.4620723Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-30260070-ae64-bb93-1340-bad70c9284c9/destFolder/bar/test-file-6576d425-6e89-137c-a942-7f6c1a3adc77?comp=properties&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A52Z&se=2026-02-18T07%3A38%3A52Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-02-18T06:38:52.0000000Z",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB8624CF352\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:38:53.5437138Z",
        "x-ms-file-creation-time": "2026-02-18T06:38:52.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-02-18T06:38:53.3804307Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-30260070-ae64-bb93-1340-bad70c9284c9/destFolder/pik/test-file-ef3c4eca-a23b-f07b-76e2-6a620113ee33?comp=properties&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A52Z&se=2026-02-18T07%3A38%3A52Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-02-18T06:38:52.0000000Z",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB862552777\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:38:53.5974775Z",
        "x-ms-file-creation-time": "2026-02-18T06:38:52.0000000Z",
        "x-ms-file-id": "13835075647468208128",
        "x-ms-file-last-write-time": "2026-02-18T06:38:53.4620723Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8a7e9d7e-7ad2-55c0-9449-49386fd10720?restype=container&comp=list&prefix=sourceFolder&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A52Z&se=2026-02-18T07%3A38%3A52Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applicat[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-30260070-ae64-bb93-1340-bad70c9284c9/destFolder?restype=directory&comp=list&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A52Z&se=2026-02-18T07%3A38%3A52Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-30260070-ae64-bb93-1340-bad70c9284c9\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-6ad92e5c-ebee-77e6-ca35-dac3a5b0efd4</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-a0350a3b-b3d5-ca25-b7d9-fd1ffe8c1ee4</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-30260070-ae64-bb93-1340-bad70c9284c9/destFolder/bar?restype=directory&comp=list&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A52Z&se=2026-02-18T07%3A38%3A52Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-30260070-ae64-bb93-1340-bad70c9284c9\" DirectoryPath=\"destFolder/bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-6576d425-6e89-137c-a942-7f6c1a3adc77</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-30260070-ae64-bb93-1340-bad70c9284c9/destFolder/pik?restype=directory&comp=list&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A52Z&se=2026-02-18T07%3A38%3A52Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-30260070-ae64-bb93-1340-bad70c9284c9\" DirectoryPath=\"destFolder/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-ef3c4eca-a23b-f07b-76e2-6a620113ee33</Name><FileId>13835075647468208128</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8a7e9d7e-7ad2-55c0-9449-49386fd10720/sourceFolder/bar/test-file-6576d425-6e89-137c-a942-7f6c1a3adc77?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A52Z&se=2026-02-18T07%3A38%3A52Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE6EB861BE2A15\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:52 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 18 Feb 2026 06:38:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
[...]
