{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-838993fa-25ae-1a9f-9413-7e59bee64755?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F98DA8B9F7\"",
        "Last-Modified": "Thu, 15 May 2025 21:43:38 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-85177c05-9baf-6555-d851-bc0fd07f3d06?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:43:39 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F98DB1E600\"",
        "Last-Modified": "Thu, 15 May 2025 21:43:38 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-838993fa-25ae-1a9f-9413-7e59bee64755/sourceFolder/test-file-e03213cd-67ed-2ea9-88c7-5c4f43edeaa1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F98DBF307D\"",
        "Last-Modified": "Thu, 15 May 2025 21:43:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-838993fa-25ae-1a9f-9413-7e59bee64755/sourceFolder/test-file-e03213cd-67ed-2ea9-88c7-5c4f43edeaa1?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "iuibZwTWFvx869ew4N6kphD2dVfNKgrvhR9v/ycg76OGrcVbUoKdw6KvLngF3TKSSpl4SG/p4l/dq+LkZxfUXPwzKTMYSFSOWLG0HfyS6aft3LSOp6Y0ncpmfaafuFyL2tJ80rT/egFE6u++NMViS8E794tiRrRV/4tpscqt7qBVKUMqFRfy7mGySb23dmkFBDLlZMDQKJMdJ9Iolcg2lvxPaQqCODapSQkpr/33nogiY62YyInfhACvDO5EyViYe7LBZw1egsz8Oxu3pnmWJolJBTEbns5yb+QK0itHZX+xkDNKNTZ7xOHhnI1uJ92HGeZl+sQmfd3kT/coU7CgtNacBhVFS/BSzkBQOgFAA0cHgrlF4mq6ihNVZeY+U3EwQOi30iHHQc31EiyD1ULcpEuvIdD2W9Js4XsC7+UJFHrPH/kZiTAmP0DrT889N7XQecGbjjKgOuQVSvGmxVLo7P6ys7VIwxoaieGPCwwCLqnFMXYjboZIL+UVAz4/f3ruA2PRi4MAiLangARREC/YExtH4JPbxH13aYPPM7/b2glmoQepMaMlxanAfO2B9x+2PPAi95/mEz/lWSEAMFT2y6X66m4nL+F4IRrqG0eQ9nJkGfbPuONqf47Iw9eBJZVUybBHhgywjw0OqtaE/Pf3VWOvmxddJxPCkGvgX2sK9vw=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F98DD3B2E2\"",
        "Last-Modified": "Thu, 15 May 2025 21:43:39 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "uJMS8I+zxfs=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-838993fa-25ae-1a9f-9413-7e59bee64755/sourceFolder/bar/test-file-49e62d4d-6029-2871-160a-f4f9feb20607",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F98DF3E807\"",
        "Last-Modified": "Thu, 15 May 2025 21:43:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-838993fa-25ae-1a9f-9413-7e59bee64755/sourceFolder/bar/test-file-49e62d4d-6029-2871-160a-f4f9feb20607?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "m8zj9DEG1GF2Q[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-838993fa-25ae-1a9f-9413-7e59bee64755/sourceFolder/pik/test-file-205130fa-e210-ce99-e702-35b93108e4e4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F98E081CA4\"",
        "Last-Modified": "Thu, 15 May 2025 21:43:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-838993fa-25ae-1a9f-9413-7e59bee64755/sourceFolder/pik/test-file-205130fa-e210-ce99-e702-35b93108e4e4?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "Nx2lj7+FmAHbI[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-85177c05-9baf-6555-d851-bc0fd07f3d06/destinationFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:43:40 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F98E20822C\"",
        "Last-Modified": "Thu, 15 May 2025 21:43:39 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-15T21:43:39.7113388Z",
        "x-ms-file-creation-time": "2025-05-15T21:43:39.7113388Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-15T21:43:39.7113388Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-838993fa-25ae-1a9f-9413-7e59bee64755?restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-838993fa-25ae-1a9f-9413-7e59bee64755\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-49e62d4d-6029-2871-160a-f4f9feb20607</Name><Properties><Creation-Time>Thu, 15 May 2025 21:43:39 GMT</Creation-Time><Last-Modified>Thu, 15 May 2025 21:43:39 GMT</Last-Modified><Etag>0x8DD93F98DFDA10F</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-205130fa-e210-ce99-e702-35b93108e4e4</Name><Properties><Creation-Time>Thu, 15 May 2025 21:43:39 GMT</Creation-Time><Last-Modified>Thu, 15 May 2025 21:43:39 GMT</Last-Modified><Etag>0x8DD93F98E12714D</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Di[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-85177c05-9baf-6555-d851-bc0fd07f3d06/destinationFolder/bar?sv=Sanitized&se=2025-05-16T21%3A43%3A40Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F98E412BEB\"",
        "Last-Modified": "Thu, 15 May 2025 21:43:39 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-15T21:43:39.9253995Z",
        "x-ms-file-creation-time": "2025-05-15T21:43:39.9253995Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-15T21:43:39.9253995Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-85177c05-9baf-6555-d851-bc0fd07f3d06/destinationFolder/pik?sv=Sanitized&se=2025-05-16T21%3A43%3A40Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F98E51BB1D\"",
        "Last-Modified": "Thu, 15 May 2025 21:43:40 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-15T21:43:40.0339229Z",
        "x-ms-file-creation-time": "2025-05-15T21:43:40.0339229Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-05-15T21:43:40.0339229Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-85177c05-9baf-6555-d851-bc0fd07f3d06/destinationFolder/bar/test-file-49e62d4d-6029-2871-160a-f4f9feb20607?sv=Sanitized&se=2025-05-16T21%3A43%3A40Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-85177c05-9baf-6555-d851-bc0fd07f3d06/destinationFolder/bar/test-file-49e62d4d-6029-2871-160a-f4f9feb20607?sv=Sanitized&se=2025-05-16T21%3A43%3A40Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "512",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-15T21:43:39.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F990C80D96\"",
        "Last-Modified": "Thu, 15 May 2025 21:43:44 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:43:44.1648022Z",
        "x-ms-file-creation-time": "2025-05-15T21:43:39.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-05-15T21:43:44.1648022Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-85177c05-9baf-6555-d851-bc0fd07f3d06/destinationFolder/bar/test-file-49e62d4d-6029-2871-160a-f4f9feb20607?sv=Sanitized&se=2025-05-16T21%3A43%3A40Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-838993fa-25ae-1a9f-9413-7e59bee64755/sourceFolder/bar/test-file-49e62d4d-6029-2871-160a-f4f9feb20607",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F990D5B9DB\"",
        "Last-Modified": "Thu, 15 May 2025 21:43:44 GMT",
        "x-ms-content-crc64": "jDqVITbo0NI=",
        "x-ms-file-last-write-time": "2025-05-15T21:43:44.1648022Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-85177c05-9baf-6555-d851-bc0fd07f3d06/destinationFolder/bar/test-file-49e62d4d-6029-2871-160a-f4f9feb20607?sv=Sanitized&se=2025-05-16T21%3A43%3A40Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-15T21:43:39.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F990E36617\"",
        "Last-Modified": "Thu, 15 May 2025 21:43:44 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:43:44.3440151Z",
        "x-ms-file-creation-time": "2025-05-15T21:43:39.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-05-15T21:43:44.1648022Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-85177c05-9baf-6555-d851-bc0fd07f3d06/destinationFolder/test-file-aaabb89a-dd64-138e-71ee-40893ee440af?sv=Sanitized&se=2025-05-16T21%3A43%3A40Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-85177c05-9baf-6555-d851-bc0fd07f3d06/destinationFolder/pik/test-file-205130fa-e210-ce99-e702-35b93108e4e4?sv=Sanitized&se=2025-05-16T21%3A43%3A40Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-85177c05-9baf-6555-d851-bc0fd07f3d06/destinationFolder/test-file-aaabb89a-dd64-138e-71ee-40893ee440af?sv=Sanitized&se=2025-05-16T21%3A43%3A40Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-838993fa-25ae-1a9f-9413-7e59bee64755/sourceFolder/test-file-aaabb89a-dd64-138e-71ee-40893ee440af",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F99117820C\"",
        "Last-Modified": "Thu, 15 May 2025 21:43:44 GMT",
        "x-ms-content-crc64": "0NDDCLvWfDc=",
        "x-ms-file-last-write-time": "2025-05-15T21:43:44.6128369Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-85177c05-9baf-6555-d851-bc0fd07f3d06/destinationFolder/pik/test-file-205130fa-e210-ce99-e702-35b93108e4e4?sv=Sanitized&se=2025-05-16T21%3A43%3A40Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-838993fa-25ae-1a9f-9413-7e59bee64755/sourceFolder/pik/test-file-205130fa-e210-ce99-e702-35b93108e4e4",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F9911FDD1D\"",
        "Last-Modified": "Thu, 15 May 2025 21:43:44 GMT",
        "x-ms-content-crc64": "wneNSo/Qslg=",
        "x-ms-file-last-write-time": "2025-05-15T21:43:44.6596315Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-85177c05-9baf-6555-d851-bc0fd07f3d06/destinationFolder/test-file-aaabb89a-dd64-138e-71ee-40893ee440af?sv=Sanitized&se=2025-05-16T21%3A43%3A40Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-15T21:43:39.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F991227243\"",
        "Last-Modified": "Thu, 15 May 2025 21:43:44 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:43:44.7572035Z",
        "x-ms-file-creation-time": "2025-05-15T21:43:39.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-05-15T21:43:44.6128369Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-85177c05-9baf-6555-d851-bc0fd07f3d06/destinationFolder/pik/test-file-205130fa-e210-ce99-e702-35b93108e4e4?sv=Sanitized&se=2025-05-16T21%3A43%3A40Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-15T21:43:39.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F99129BD12\"",
        "Last-Modified": "Thu, 15 May 2025 21:43:44 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:43:44.8049938Z",
        "x-ms-file-creation-time": "2025-05-15T21:43:39.0000000Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2025-05-15T21:43:44.6596315Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-838993fa-25ae-1a9f-9413-7e59bee64755?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-85177c05-9baf-6555-d851-bc0fd07f3d06/destinationFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:43:46 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-85177c05-9baf-6555-d851-bc0fd07f3d06\" DirectoryPath=\"destinationFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-aaabb89a-dd64-138e-71ee-40893ee440af</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>512</Content-Length></Properties></File><File><Name>test-file-e03213cd-67ed-2ea9-88c7-5c4f43edeaa1</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>512</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-85177c05-9baf-6555-d851-bc0fd07f3d06/destinationFolder/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:43:46 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-85177c05-9baf-6555-d851-bc0fd07f3d06\" DirectoryPath=\"destinationFolder/bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-49e62d4d-6029-2871-160a-f4f9feb20607</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>512</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-85177c05-9baf-6555-d851-bc0fd07f3d06/destinationFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:43:46 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-85177c05-9baf-6555-d851-bc0fd07f3d06\" DirectoryPath=\"destinationFolder/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-205130fa-e210-ce99-e702-35b93108e4e4</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>512</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-838993fa-25ae-1a9f-9413-7e59bee64755/sourceFolder/bar/test-file-49e62d4d-6029-2871-160a-f4f9feb20607",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD93F98DFDA10F\"",
        "Last-Modified": "Thu, 15 May 2025 21:43:39 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 15 May 2025 21:43:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-85177c05-9baf-6555-d851-bc0fd07f3d06/destinationFolder/bar/test-file-49e62d4d-6029-2871-160a-f4f9feb20607",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:43:46 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD93F990E36617\"",
        "Last-Modified": "Thu, 15 May 2025 21:43:44 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:43:44.3440151Z",
        "x-ms-file-creation-time": "2025-05-15T21:43:39.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-05-15T21:43:44.1648022Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
[...]
