{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-779acb5d-6a44-72ef-1494-94bbc2e973b3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1517C80131\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:12:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-44931a2f-4053-f619-79d5-eb01436105b6?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:12:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1517D13377\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:12:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-44931a2f-4053-f619-79d5-eb01436105b6/destPrefix?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:12:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1517E07119\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:12:13 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-03-07T01:12:13.2759833Z",
        "x-ms-file-creation-time": "2025-03-07T01:12:13.2759833Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-03-07T01:12:13.2759833Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-779acb5d-6a44-72ef-1494-94bbc2e973b3/sourceFolder/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1517E8F86C\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:12:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-779acb5d-6a44-72ef-1494-94bbc2e973b3/sourceFolder/item1?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "SMtxwaTNzK4fOoBeWE2pFJXJRsMgrhLJjW3rP+vmBR2DcyOUuvt/gayP0MgyjOt/vhW3VG0lGZm4pzQ34YzCOTRj2uQpFFqaSsQXkN1JlwGBbIHVL7CvXVqJ3BLHSKAfzZeTz7EHVam7HAqpDYi7bg8ztXQL7AmDs32KnzhH0gIk+MNGtshPehfXGhKmBk/RzW0DlJIrFOCNDxwzfLVxdEoIhRXFdbhH4ztdM9L33awtuNHKQz5v+eTiuKarHP1hZqbInoE6DFi1u7FWzeAOljJvBsTjpjALmIsw4r0Sm8c++8wsLz4r8qx5FYiNGSsD1CFzPBU5fsB1vAb1CSmaoiDqF9EU4WfzRBQXaZCofn9gLQ6bnl+xBX0MtnI4NeiD3nJnowFZ7/K6gPgBIRQwzT6HlNwb/wT[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-44931a2f-4053-f619-79d5-eb01436105b6/destPrefix/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 07 Mar 2025 01:12:13 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1517FB7BBD\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:12:13 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:12:13.4532029Z",
        "x-ms-file-creation-time": "2025-03-07T01:12:13.4532029Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-03-07T01:12:13.4532029Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-779acb5d-6a44-72ef-1494-94bbc2e973b3/sourceFolder/test-file-c4987b63-a7cb-0090-2a01-cdc7e36341d6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1518049EBE\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:12:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-779acb5d-6a44-72ef-1494-94bbc2e973b3/sourceFolder/test-file-c4987b63-a7cb-0090-2a01-cdc7e36341d6?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "BUGubkh5qxtph7eP[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-779acb5d-6a44-72ef-1494-94bbc2e973b3/sourceFolder/bar/test-file-b76d201b-b166-4038-a9ca-b4defcc40659",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D151816650C\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:12:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-779acb5d-6a44-72ef-1494-94bbc2e973b3/sourceFolder/bar/test-file-b76d201b-b166-4038-a9ca-b4defcc40659?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "O1UgIYPK2TrM[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-779acb5d-6a44-72ef-1494-94bbc2e973b3/sourceFolder/pik/test-file-794b529a-c434-b6e6-b75c-7bbddf97f524",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D151828047D\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:12:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-779acb5d-6a44-72ef-1494-94bbc2e973b3/sourceFolder/pik/test-file-794b529a-c434-b6e6-b75c-7bbddf97f524?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "NLsXYlkKhzsj[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-779acb5d-6a44-72ef-1494-94bbc2e973b3?restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-779acb5d-6a44-72ef-1494-94bbc2e973b3\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-b76d201b-b166-4038-a9ca-b4defcc40659</Name><Properties><Creation-Time>Fri, 07 Mar 2025 01:12:13 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 01:12:13 GMT</Last-Modified><Etag>0x8DD5D15181EC019</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/item1</Name><Properties><Creation-Time>Fri, 07 Mar 2025 01:12:13 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 01:12:13 GMT</Last-Modified><Etag>0x8DD5D1517F1C826</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-44931a2f-4053-f619-79d5-eb01436105b6/destPrefix/bar?sv=Sanitized&se=2025-03-08T01%3A12%3A13Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1518508EEC\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:12:14 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-03-07T01:12:14.0107500Z",
        "x-ms-file-creation-time": "2025-03-07T01:12:14.0107500Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-03-07T01:12:14.0107500Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-44931a2f-4053-f619-79d5-eb01436105b6/destPrefix/pik?sv=Sanitized&se=2025-03-08T01%3A12%3A13Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1518598572\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:12:14 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-03-07T01:12:14.0694898Z",
        "x-ms-file-creation-time": "2025-03-07T01:12:14.0694898Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-03-07T01:12:14.0694898Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-44931a2f-4053-f619-79d5-eb01436105b6/destPrefix/item1?sv=Sanitized&se=2025-03-08T01%3A12%3A13Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-03-07T01:12:13.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1519F78061\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:12:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:12:16.7825505Z",
        "x-ms-file-creation-time": "2025-03-07T01:12:13.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-03-07T01:12:16.7825505Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-44931a2f-4053-f619-79d5-eb01436105b6/destPrefix/test-file-c4987b63-a7cb-0090-2a01-cdc7e36341d6?sv=Sanitized&se=2025-03-08T01%3A12%3A13Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length"[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-44931a2f-4053-f619-79d5-eb01436105b6/destPrefix/bar/test-file-b76d201b-b166-4038-a9ca-b4defcc40659?sv=Sanitized&se=2025-03-08T01%3A12%3A13Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-len[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-44931a2f-4053-f619-79d5-eb01436105b6/destPrefix/item1?sv=Sanitized&se=2025-03-08T01%3A12%3A13Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-779acb5d-6a44-72ef-1494-94bbc2e973b3/sourceFolder/item1",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D151A0380CF\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:12:16 GMT",
        "x-ms-content-crc64": "d9KE23+fV0I=",
        "x-ms-file-last-write-time": "2025-03-07T01:12:16.7825505Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-44931a2f-4053-f619-79d5-eb01436105b6/destPrefix/pik/test-file-794b529a-c434-b6e6-b75c-7bbddf97f524?sv=Sanitized&se=2025-03-08T01%3A12%3A13Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-len[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-44931a2f-4053-f619-79d5-eb01436105b6/destPrefix/test-file-c4987b63-a7cb-0090-2a01-cdc7e36341d6?sv=Sanitized&se=2025-03-08T01%3A12%3A13Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-779acb5d-6a44-72ef-1494-94bbc2e973b3/sourceFolder/test-file-c4987b63-a7cb-0090-2a01-cdc7e36341d6",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D151A079ADF\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:12:16 GMT",
        "x-ms-content-crc64": "Sw0BGXtAHpQ=",
        "x-ms-file-last-write-time": "2025-03-07T01:12:16.8183931Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-44931a2f-4053-f619-79d5-eb01436105b6/destPrefix/bar/test-file-b76d201b-b166-4038-a9ca-b4defcc40659?sv=Sanitized&se=2025-03-08T01%3A12%3A13Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-779acb5d-6a44-72ef-1494-94bbc2e973b3/sourceFolder/bar/test-file-b76d201b-b166-4038-a9ca-b4defcc40659",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D151A0B195F\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:12:16 GMT",
        "x-ms-content-crc64": "Y0OTqQNCg0k=",
        "x-ms-file-last-write-time": "2025-03-07T01:12:16.8432832Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-44931a2f-4053-f619-79d5-eb01436105b6/destPrefix/item1?sv=Sanitized&se=2025-03-08T01%3A12%3A13Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-03-07T01:12:13.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D151A0BDBD4\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:12:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:12:16.9159636Z",
        "x-ms-file-creation-time": "2025-03-07T01:12:13.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-03-07T01:12:16.7825505Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-44931a2f-4053-f619-79d5-eb01436105b6/destPrefix/test-file-c4987b63-a7cb-0090-2a01-cdc7e36341d6?sv=Sanitized&se=2025-03-08T01%3A12%3A13Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-03-07T01:12:13.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D151A101CCB\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:12:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:12:16.9438411Z",
        "x-ms-file-creation-time": "2025-03-07T01:12:13.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-03-07T01:12:16.8183931Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-44931a2f-4053-f619-79d5-eb01436105b6/destPrefix/pik/test-file-794b529a-c434-b6e6-b75c-7bbddf97f524?sv=Sanitized&se=2025-03-08T01%3A12%3A13Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-779acb5d-6a44-72ef-1494-94bbc2e973b3/sourceFolder/pik/test-file-794b529a-c434-b6e6-b75c-7bbddf97f524",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D151A0FCEFF\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:12:16 GMT",
        "x-ms-content-crc64": "tr/6ozsYyiQ=",
        "x-ms-file-last-write-time": "2025-03-07T01:12:16.8641913Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-44931a2f-4053-f619-79d5-eb01436105b6/destPrefix/bar/test-file-b76d201b-b166-4038-a9ca-b4defcc40659?sv=Sanitized&se=2025-03-08T01%3A12%3A13Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-03-07T01:12:13.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D151A139B48\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:12:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:12:16.9667400Z",
        "x-ms-file-creation-time": "2025-03-07T01:12:13.0000000Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-03-07T01:12:16.8432832Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-44931a2f-4053-f619-79d5-eb01436105b6/destPrefix/pik/test-file-794b529a-c434-b6e6-b75c-7bbddf97f524?sv=Sanitized&se=2025-03-08T01%3A12%3A13Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-03-07T01:12:13.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D151A193A42\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:12:17 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:12:17.0035778Z",
        "x-ms-file-creation-time": "2025-03-07T01:12:13.0000000Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2025-03-07T01:12:16.8641913Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-779acb5d-6a44-72ef-1494-94bbc2e973b3?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-44931a2f-4053-f619-79d5-eb01436105b6/destPrefix?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:12:17 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-44931a2f-4053-f619-79d5-eb01436105b6\" DirectoryPath=\"destPrefix\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>item1</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><Directory><Name>pik</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>test-file-c4987b63-a7cb-0090-2a01-cdc7e36341d6</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-44931a2f-4053-f619-79d5-eb01436105b6/destPrefix/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:12:17 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
[...]
