{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1741603c-417d-f488-6add-053ccfdb0c9d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8E14E8C85\"",
        "Last-Modified": "Thu, 15 May 2025 21:38:49 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-902e91ac-90e2-8a76-8c09-7d117bbdbe59?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:38:50 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8E157A8DF\"",
        "Last-Modified": "Thu, 15 May 2025 21:38:49 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-902e91ac-90e2-8a76-8c09-7d117bbdbe59/destPrefix?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:38:50 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8E16299DF\"",
        "Last-Modified": "Thu, 15 May 2025 21:38:49 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-15T21:38:49.8986463Z",
        "x-ms-file-creation-time": "2025-05-15T21:38:49.8986463Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-15T21:38:49.8986463Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1741603c-417d-f488-6add-053ccfdb0c9d/sourceFolder/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8E18F895E\"",
        "Last-Modified": "Thu, 15 May 2025 21:38:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1741603c-417d-f488-6add-053ccfdb0c9d/sourceFolder/item1?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "xe4ZrWVZxO6LwH4jtZ4YG+o3HNvrK01EXV2dZXiCPN9p8CnE5FqRsXmWdeCcVBxo/AqA6Ch5q5qg1E8IvF92CYSeucR1UzaQpmtiVbVtqAlANWhtAVO370SPIw8KiPQaH2xc/ZpY8qnT8EK8F1XkMyxGyIf2CAcx58p/5S8nhh13RzVJEKpu6EK/mREQ+tfvq/Djw8BtIxdkKxbQ2A15rGklRc8fmyKC199FN272IOzykDo/Q8JcCSMe5OWUng80Ru2n67QHzxDNYevgKOyobQop3UjSOWimyDysAbY97jnQEPGBTjQ46sEqcuLXe+E3dXbaasDHYgyEACN4W81Zj3KyEBj7Jx/W8fOHp8aFz0xadIs/YoN4CK3k/E4Rv47z0ONvJGvJO01XBHjNQLpG/zDWHedCGiz[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-902e91ac-90e2-8a76-8c09-7d117bbdbe59/destPrefix/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 15 May 2025 21:38:51 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8E1A378BD\"",
        "Last-Modified": "Thu, 15 May 2025 21:38:50 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:38:50.3237821Z",
        "x-ms-file-creation-time": "2025-05-15T21:38:50.3237821Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-15T21:38:50.3237821Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1741603c-417d-f488-6add-053ccfdb0c9d/sourceFolder/test-file-60a8b742-59ec-3594-938b-fe8c7317aae4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8E1AC3FE8\"",
        "Last-Modified": "Thu, 15 May 2025 21:38:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1741603c-417d-f488-6add-053ccfdb0c9d/sourceFolder/test-file-60a8b742-59ec-3594-938b-fe8c7317aae4?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "o6d0v/v27NOds02h[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1741603c-417d-f488-6add-053ccfdb0c9d/sourceFolder/bar/test-file-64eb964e-b621-682d-63e0-b94876918b32",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8E1BE7AEF\"",
        "Last-Modified": "Thu, 15 May 2025 21:38:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1741603c-417d-f488-6add-053ccfdb0c9d/sourceFolder/bar/test-file-64eb964e-b621-682d-63e0-b94876918b32?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "LK0rpAKR6FpF[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1741603c-417d-f488-6add-053ccfdb0c9d/sourceFolder/pik/test-file-ac51203e-2da5-ddad-8c84-5f50da952ba2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8E1D06834\"",
        "Last-Modified": "Thu, 15 May 2025 21:38:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1741603c-417d-f488-6add-053ccfdb0c9d/sourceFolder/pik/test-file-ac51203e-2da5-ddad-8c84-5f50da952ba2?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "irURxH40bfTv[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1741603c-417d-f488-6add-053ccfdb0c9d?restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-1741603c-417d-f488-6add-053ccfdb0c9d\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-64eb964e-b621-682d-63e0-b94876918b32</Name><Properties><Creation-Time>Thu, 15 May 2025 21:38:50 GMT</Creation-Time><Last-Modified>Thu, 15 May 2025 21:38:50 GMT</Last-Modified><Etag>0x8DD93F8E1C79873</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/item1</Name><Properties><Creation-Time>Thu, 15 May 2025 21:38:50 GMT</Creation-Time><Last-Modified>Thu, 15 May 2025 21:38:50 GMT</Last-Modified><Etag>0x8DD93F8E199DE01</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-902e91ac-90e2-8a76-8c09-7d117bbdbe59/destPrefix/bar?sv=Sanitized&se=2025-05-16T21%3A38%3A51Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8E1F6E068\"",
        "Last-Modified": "Thu, 15 May 2025 21:38:50 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-15T21:38:50.8703848Z",
        "x-ms-file-creation-time": "2025-05-15T21:38:50.8703848Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-05-15T21:38:50.8703848Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-902e91ac-90e2-8a76-8c09-7d117bbdbe59/destPrefix/pik?sv=Sanitized&se=2025-05-16T21%3A38%3A51Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8E2004BB6\"",
        "Last-Modified": "Thu, 15 May 2025 21:38:50 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-15T21:38:50.9321142Z",
        "x-ms-file-creation-time": "2025-05-15T21:38:50.9321142Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-05-15T21:38:50.9321142Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-902e91ac-90e2-8a76-8c09-7d117bbdbe59/destPrefix/bar/test-file-64eb964e-b621-682d-63e0-b94876918b32?sv=Sanitized&se=2025-05-16T21%3A38%3A51Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-15T21:38:50.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8E33F54B3\"",
        "Last-Modified": "Thu, 15 May 2025 21:38:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:38:53.0229427Z",
        "x-ms-file-creation-time": "2025-05-15T21:38:50.0000000Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-05-15T21:38:53.0229427Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-902e91ac-90e2-8a76-8c09-7d117bbdbe59/destPrefix/item1?sv=Sanitized&se=2025-05-16T21%3A38%3A51Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "i[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-902e91ac-90e2-8a76-8c09-7d117bbdbe59/destPrefix/bar/test-file-64eb964e-b621-682d-63e0-b94876918b32?sv=Sanitized&se=2025-05-16T21%3A38%3A51Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-1741603c-417d-f488-6add-053ccfdb0c9d/sourceFolder/bar/test-file-64eb964e-b621-682d-63e0-b94876918b32",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8E34AB996\"",
        "Last-Modified": "Thu, 15 May 2025 21:38:53 GMT",
        "x-ms-content-crc64": "9cKS0WtyeXY=",
        "x-ms-file-last-write-time": "2025-05-15T21:38:53.0229427Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-902e91ac-90e2-8a76-8c09-7d117bbdbe59/destPrefix/item1?sv=Sanitized&se=2025-05-16T21%3A38%3A51Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-1741603c-417d-f488-6add-053ccfdb0c9d/sourceFolder/item1",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8E352EDBE\"",
        "Last-Modified": "Thu, 15 May 2025 21:38:53 GMT",
        "x-ms-content-crc64": "B3jVRAuT1lA=",
        "x-ms-file-last-write-time": "2025-05-15T21:38:53.0816840Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-902e91ac-90e2-8a76-8c09-7d117bbdbe59/destPrefix/bar/test-file-64eb964e-b621-682d-63e0-b94876918b32?sv=Sanitized&se=2025-05-16T21%3A38%3A51Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-15T21:38:50.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8E35314A4\"",
        "Last-Modified": "Thu, 15 May 2025 21:38:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:38:53.1523748Z",
        "x-ms-file-creation-time": "2025-05-15T21:38:50.0000000Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-05-15T21:38:53.0229427Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-902e91ac-90e2-8a76-8c09-7d117bbdbe59/destPrefix/item1?sv=Sanitized&se=2025-05-16T21%3A38%3A51Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-15T21:38:50.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8E35B6FB1\"",
        "Last-Modified": "Thu, 15 May 2025 21:38:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:38:53.2071345Z",
        "x-ms-file-creation-time": "2025-05-15T21:38:50.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-15T21:38:53.0816840Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-902e91ac-90e2-8a76-8c09-7d117bbdbe59/destPrefix/test-file-60a8b742-59ec-3594-938b-fe8c7317aae4?sv=Sanitized&se=2025-05-16T21%3A38%3A51Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length"[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-902e91ac-90e2-8a76-8c09-7d117bbdbe59/destPrefix/test-file-60a8b742-59ec-3594-938b-fe8c7317aae4?sv=Sanitized&se=2025-05-16T21%3A38%3A51Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-1741603c-417d-f488-6add-053ccfdb0c9d/sourceFolder/test-file-60a8b742-59ec-3594-938b-fe8c7317aae4",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8E3657690\"",
        "Last-Modified": "Thu, 15 May 2025 21:38:53 GMT",
        "x-ms-content-crc64": "UYN6/ubt2Nc=",
        "x-ms-file-last-write-time": "2025-05-15T21:38:53.2091260Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-902e91ac-90e2-8a76-8c09-7d117bbdbe59/destPrefix/pik/test-file-ac51203e-2da5-ddad-8c84-5f50da952ba2?sv=Sanitized&se=2025-05-16T21%3A38%3A51Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-len[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-902e91ac-90e2-8a76-8c09-7d117bbdbe59/destPrefix/test-file-60a8b742-59ec-3594-938b-fe8c7317aae4?sv=Sanitized&se=2025-05-16T21%3A38%3A51Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-15T21:38:50.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8E36DAAB8\"",
        "Last-Modified": "Thu, 15 May 2025 21:38:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:38:53.3266104Z",
        "x-ms-file-creation-time": "2025-05-15T21:38:50.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-05-15T21:38:53.2091260Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-902e91ac-90e2-8a76-8c09-7d117bbdbe59/destPrefix/pik/test-file-ac51203e-2da5-ddad-8c84-5f50da952ba2?sv=Sanitized&se=2025-05-16T21%3A38%3A51Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-1741603c-417d-f488-6add-053ccfdb0c9d/sourceFolder/pik/test-file-ac51203e-2da5-ddad-8c84-5f50da952ba2",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8E374A7C0\"",
        "Last-Modified": "Thu, 15 May 2025 21:38:53 GMT",
        "x-ms-content-crc64": "A/aud4ONTzY=",
        "x-ms-file-last-write-time": "2025-05-15T21:38:53.3047058Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-902e91ac-90e2-8a76-8c09-7d117bbdbe59/destPrefix/pik/test-file-ac51203e-2da5-ddad-8c84-5f50da952ba2?sv=Sanitized&se=2025-05-16T21%3A38%3A51Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-15T21:38:50.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8E37D29B3\"",
        "Last-Modified": "Thu, 15 May 2025 21:38:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:38:53.4281651Z",
        "x-ms-file-creation-time": "2025-05-15T21:38:50.0000000Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-05-15T21:38:53.3047058Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1741603c-417d-f488-6add-053ccfdb0c9d?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-902e91ac-90e2-8a76-8c09-7d117bbdbe59/destPrefix?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:38:54 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-902e91ac-90e2-8a76-8c09-7d117bbdbe59\" DirectoryPath=\"destPrefix\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>item1</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><Directory><Name>pik</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>test-file-60a8b742-59ec-3594-938b-fe8c7317aae4</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-902e91ac-90e2-8a76-8c09-7d117bbdbe59/destPrefix/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:38:54 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
[...]
