{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-526f2d44-2f8f-6241-704a-a61736942b08?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F45B4B85C\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:21:56 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-3ae100fe-2293-44b6-3235-19c86edc61c8?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:21:56 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F45C126E6\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:21:56 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-3ae100fe-2293-44b6-3235-19c86edc61c8/source%2521path%2540%2523%2525?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:21:56 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F45C839E0\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:21:57 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-04-30T23:21:57.0287072Z",
        "x-ms-file-creation-time": "2026-04-30T23:21:57.0287072Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-30T23:21:57.0287072Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11213973173494923372*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-526f2d44-2f8f-6241-704a-a61736942b08/source%2521path%2540%2523%2525/file%3Dtest%21%40%23%24%25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F45CFDB13\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:21:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-526f2d44-2f8f-6241-704a-a61736942b08/source%2521path%2540%2523%2525/file%3Dtest%21%40%23%24%25?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "jv5/CEXD27JQTx/SITbLFJWP0t9ZS+XaFbb/sXQSQ3SoevvKfRw9HeWR3yZBL5FbAUpFRJlsOEMZpPKPwyk9PgurKac7AZZ5UbX6yGu/mOYkpLAqzP7aO0K3sdgprVm7U6AalQXqH/+zzPLjcm/XWQwMax55E3EN0e1kg1C+UKRcPnTLpQLgOYWwdgAL9snS4FfMHEI7QUAuDMQXhpuv9HtOhzP7DLQJKzKZyJxxAdokkqP48jNhIP0znJg+ybPpAYGEvG+V19OjwvEQoXmkvQrq8vP4tgJI7WY2x3AbymJ+sMca7UVrj7vPVS9BUH+Dj96NVNa/8Up/O88IXw9jh/ePkfGxis/FfmM4KGHSB5znsjeRjXaLv799m7F1YjCrbM03sr+N0gUPyNVyhsnprDQyIKzY0fm[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-526f2d44-2f8f-6241-704a-a61736942b08/source%2521path%2540%2523%2525/file%253Dtest%2526",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F45E01C85\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:21:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-526f2d44-2f8f-6241-704a-a61736942b08/source%2521path%2540%2523%2525/file%253Dtest%2526?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "ieVp4CVSyFpscc26hC+dNudD3C[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-526f2d44-2f8f-6241-704a-a61736942b08/source%2521path%2540%2523%2525/folder%3Dbar/subfile%3Dtest%21%40%23%24%25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F45EF9B7E\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:21:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-526f2d44-2f8f-6241-704a-a61736942b08/source%2521path%2540%2523%2525/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "7I[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-526f2d44-2f8f-6241-704a-a61736942b08/source%2521path%2540%2523%2525/folder%3Dbar/subfile%253Dtest%2526",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F45FEF39B\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:21:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-526f2d44-2f8f-6241-704a-a61736942b08/source%2521path%2540%2523%2525/folder%3Dbar/subfile%253Dtest%2526?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "CIeivC5uAd[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-526f2d44-2f8f-6241-704a-a61736942b08?restype=container&comp=list&prefix=source%2521path%2540%2523%2525%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-526f2d44-2f8f-6241-704a-a61736942b08\"><Prefix>source%21path%40%23%25/</Prefix><Delimiter>/</Delimiter><Blobs><Blob><Name>source%21path%40%23%25/file%3Dtest%26</Name><Properties><Creation-Time>Thu, 30 Apr 2026 23:21:57 GMT</Creation-Time><Last-Modified>Thu, 30 Apr 2026 23:21:57 GMT</Last-Modified><Etag>0x8DEA70F45E7DC02</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>source%21path%40%23%25/file=test!@#$%</Name><Properties><Creation-Time>Thu, 30 Apr 2026 23:21:57 GMT</Creation-Time><Last-Modified>Thu, 30 Apr 2026 23:21:57 GMT</Last-Modified><Etag>0x8DEA70F45D7E85F</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><BlobPrefix><Name>source%21path%40%23%25/folder=bar/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-3ae100fe-2293-44b6-3235-19c86edc61c8/source%2521path%2540%2523%2525/folder%3Dbar?sv=Sanitized&se=2026-05-01T23%3A21%3A56Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:c9994ecc-401a-0011-39f8-d8f516000000\n",
        "Time:2026-04-30T23:21:57.5455146Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-526f2d44-2f8f-6241-704a-a61736942b08?restype=container&comp=list&prefix=source%2521path%2540%2523%2525%2Ffolder%3Dbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml"[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-3ae100fe-2293-44b6-3235-19c86edc61c8/source%2521path%2540%2523%2525/file%3Dtest%21%40%23%24%25?sv=Sanitized&se=2026-05-01T23%3A21%3A56Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-3ae100fe-2293-44b6-3235-19c86edc61c8/source%2521path%2540%2523%2525/file%3Dtest%21%40%23%24%25?sv=Sanitized&se=2026-05-01T23%3A21%3A56Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F47B3C139\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:22:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:22:00.2499897Z",
        "x-ms-file-creation-time": "2026-04-30T23:22:00.2499897Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2026-04-30T23:22:00.2499897Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-3ae100fe-2293-44b6-3235-19c86edc61c8/source%2521path%2540%2523%2525/file%253Dtest%2526?sv=Sanitized&se=2026-05-01T23%3A21%3A56Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-3ae100fe-2293-44b6-3235-19c86edc61c8/source%2521path%2540%2523%2525/file%3Dtest%21%40%23%24%25?sv=Sanitized&se=2026-05-01T23%3A21%3A56Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-526f2d44-2f8f-6241-704a-a61736942b08/source%2521path%2540%2523%2525/file%3Dtest%21%40%23%24%25",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F47C63039\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:22:00 GMT",
        "x-ms-content-crc64": "hyszeGdTKio=",
        "x-ms-file-last-write-time": "2026-04-30T23:22:00.2499897Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-3ae100fe-2293-44b6-3235-19c86edc61c8/source%2521path%2540%2523%2525/file%3Dtest%21%40%23%24%25?sv=Sanitized&se=2026-05-01T23%3A21%3A56Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T23:21:57.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F47CC6F42\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:22:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:22:00.4117314Z",
        "x-ms-file-creation-time": "2026-04-30T23:21:57.0000000Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2026-04-30T23:22:00.2499897Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-3ae100fe-2293-44b6-3235-19c86edc61c8/source%2521path%2540%2523%2525/file%253Dtest%2526?sv=Sanitized&se=2026-05-01T23%3A21%3A56Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-526f2d44-2f8f-6241-704a-a61736942b08/source%2521path%2540%2523%2525/file%253Dtest%2526",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F47D82A3C\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:22:00 GMT",
        "x-ms-content-crc64": "dlbbXxH8PVI=",
        "x-ms-file-last-write-time": "2026-04-30T23:22:00.3877693Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-3ae100fe-2293-44b6-3235-19c86edc61c8/source%2521path%2540%2523%2525/folder%3Dbar/subfile%253Dtest%2526?sv=Sanitized&se=2026-05-01T23%3A21%3A56Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-3ae100fe-2293-44b6-3235-19c86edc61c8/source%2521path%2540%2523%2525/file%253Dtest%2526?sv=Sanitized&se=2026-05-01T23%3A21%3A56Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T23:21:57.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F47DF7A3D\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:22:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:22:00.5365309Z",
        "x-ms-file-creation-time": "2026-04-30T23:21:57.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2026-04-30T23:22:00.3877693Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-3ae100fe-2293-44b6-3235-19c86edc61c8/source%2521path%2540%2523%2525/folder%3Dbar/subfile%253Dtest%2526?sv=Sanitized&se=2026-05-01T23%3A21%3A56Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-526f2d44-2f8f-6241-704a-a61736942b08/source%2521path%2540%2523%2525/folder%3Dbar/subfile%253Dtest%2526",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F47F3963D\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:22:00 GMT",
        "x-ms-content-crc64": "b/+Jwg9imHw=",
        "x-ms-file-last-write-time": "2026-04-30T23:22:00.5774656Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-3ae100fe-2293-44b6-3235-19c86edc61c8/source%2521path%2540%2523%2525/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?sv=Sanitized&se=2026-05-01T23%3A21%3A56Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-3ae100fe-2293-44b6-3235-19c86edc61c8/source%2521path%2540%2523%2525/folder%3Dbar/subfile%253Dtest%2526?sv=Sanitized&se=2026-05-01T23%3A21%3A56Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T23:21:57.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F47FA2339\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:22:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:22:00.7112505Z",
        "x-ms-file-creation-time": "2026-04-30T23:21:57.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-04-30T23:22:00.5774656Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-3ae100fe-2293-44b6-3235-19c86edc61c8/source%2521path%2540%2523%2525/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?sv=Sanitized&se=2026-05-01T23%3A21%3A56Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-526f2d44-2f8f-6241-704a-a61736942b08/source%2521path%2540%2523%2525/folder%3Dbar/subfile%3Dtest%21%40%23%24%25",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F480A8426\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:22:00 GMT",
        "x-ms-content-crc64": "LvoapPqwIyw=",
        "x-ms-file-last-write-time": "2026-04-30T23:22:00.7192380Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-3ae100fe-2293-44b6-3235-19c86edc61c8/source%2521path%2540%2523%2525/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?sv=Sanitized&se=2026-05-01T23%3A21%3A56Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T23:21:57.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F48118625\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:22:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:22:00.8645157Z",
        "x-ms-file-creation-time": "2026-04-30T23:21:57.0000000Z",
        "x-ms-file-id": "11529250230440558592",
        "x-ms-file-last-write-time": "2026-04-30T23:22:00.7192380Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-526f2d44-2f8f-6241-704a-a61736942b08?restype=container&comp=list&prefix=source%2521path%2540%2523%2525",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
 [...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-3ae100fe-2293-44b6-3235-19c86edc61c8/source%2521path%2540%2523%2525?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:22:00 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandasa3.file.core.windows.net/\" ShareName=\"test-share-3ae100fe-2293-44b6-3235-19c86edc61c8\" DirectoryPath=\"source%21path%40%23%25\"><DirectoryId>13835128424026341376</DirectoryId><Entries><File><Name>file%3Dtest%26</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>file=test!@#$%</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><Directory><Name>folder=bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-3ae100fe-2293-44b6-3235-19c86edc61c8/source%2521path%2540%2523%2525/folder%3Dbar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:22:00 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandasa3.file.core.windows.net/\" ShareName=\"test-share-3ae100fe-2293-44b6-3235-19c86edc61c8\" DirectoryPath=\"source%21path%40%23%25/folder=bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>subfile%3Dtest%26</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>subfile=test!@#$%</Name><FileId>11529250230440558592</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
[...]
