{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-74bda992-14ce-b19b-340e-f87c614873f9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F5D1BC0E1\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:22:36 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-2e4dc61a-0ae3-046a-89f3-7d3a51911a63?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:22:35 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F5D23A166\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:22:36 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-2e4dc61a-0ae3-046a-89f3-7d3a51911a63/destPrefix?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:22:35 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F5D2B2FF5\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:22:36 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-04-30T23:22:36.2648565Z",
        "x-ms-file-creation-time": "2026-04-30T23:22:36.2648565Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-30T23:22:36.2648565Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11213973173494923372*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-74bda992-14ce-b19b-340e-f87c614873f9/sourceFolder/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F5D32EA19\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:22:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-74bda992-14ce-b19b-340e-f87c614873f9/sourceFolder/item1?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "GRGFGIyGlKsJ0BEMI/E/Ka6YWp9klzn6KvJxbvpkFbgETlUMGsrKHi2EudA40Y9jeDlwcavTwIHYi+6aFCWxpbpYCNWcMw/kzjty395owlhjDvXA86MMMI3TM47bMAoI0xQV38m6xkUpi6NwYeGjb8mWNgYv8LEXS9hHyP+BCZ0xaQvJU+KPqEewl2cAnM+rMMPFRPkD2ONi/pPxcv5GqIIFPvfV2RzmB46/f1lJF68Im5g7u8SkLZEoZ1ROnjZJae7l+l7X1len3j1rRFiJGOfk6NZlCuy+YBBmrHHHl2lYdhVrZBxRMcVAlN2HOek4nk5tarVf414BJplNcSnl30bUE85CHrTKk7YRJXYPNycnLQ0jWi2z+JK3aT2DA7+bWrSWsyYa9YCao9b/Tr3n8e9yJUQcwoU[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-2e4dc61a-0ae3-046a-89f3-7d3a51911a63/destPrefix/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 30 Apr 2026 23:22:35 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F5D4209F6\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:22:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:22:36.4146166Z",
        "x-ms-file-creation-time": "2026-04-30T23:22:36.4146166Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-04-30T23:22:36.4146166Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-74bda992-14ce-b19b-340e-f87c614873f9/sourceFolder/test-file-da4d0660-2f8f-7bd1-0d70-d5f10f3eff5e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F5D4A4F7D\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:22:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-74bda992-14ce-b19b-340e-f87c614873f9/sourceFolder/test-file-da4d0660-2f8f-7bd1-0d70-d5f10f3eff5e?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "iqSoVTZOgW1/+c/i[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-74bda992-14ce-b19b-340e-f87c614873f9/sourceFolder/bar/test-file-6ac038bd-8a9a-6134-fbb5-02ce8c1c5864",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F5D5A1C3D\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:22:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-74bda992-14ce-b19b-340e-f87c614873f9/sourceFolder/bar/test-file-6ac038bd-8a9a-6134-fbb5-02ce8c1c5864?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "cx27ik2Qhx5k[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-74bda992-14ce-b19b-340e-f87c614873f9/sourceFolder/pik/test-file-d28bc3ab-3ae6-1154-811a-daf4f35248d1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F5D69E8FB\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:22:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-74bda992-14ce-b19b-340e-f87c614873f9/sourceFolder/pik/test-file-d28bc3ab-3ae6-1154-811a-daf4f35248d1?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "lvhy3+CCGyI5[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-74bda992-14ce-b19b-340e-f87c614873f9?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-74bda992-14ce-b19b-340e-f87c614873f9\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><Blob><Name>sourceFolder/item1</Name><Properties><Creation-Time>Thu, 30 Apr 2026 23:22:36 GMT</Creation-Time><Last-Modified>Thu, 30 Apr 2026 23:22:36 GMT</Last-Modified><Etag>0x8DEA70F5D3AF761</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-da4d0660-2f8f-7bd1-0d70-d5f10f3eff5e</Name><Properties><Creation-Time>Thu, 30 Apr 2026 23:22:36 GMT</Creation-Time><Last-Modified>Thu, 30 Apr 2026 23:22:36 GMT</Last-Modified><Etag>0x8DEA70F5D525CB6</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-2e4dc61a-0ae3-046a-89f3-7d3a51911a63/destPrefix/bar?sv=Sanitized&se=2026-05-01T23%3A22%3A35Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:7f827dfe-501a-001d-62f8-d8621e000000\n",
        "Time:2026-04-30T23:22:36.8422629Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-2e4dc61a-0ae3-046a-89f3-7d3a51911a63/destPrefix/pik?sv=Sanitized&se=2026-05-01T23%3A22%3A35Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:7f827e00-501a-001d-64f8-d8621e000000\n",
        "Time:2026-04-30T23:22:36.9294947Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-74bda992-14ce-b19b-340e-f87c614873f9?restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-74bda992-14ce-b19b-340e-f87c614873f9?restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-2e4dc61a-0ae3-046a-89f3-7d3a51911a63/destPrefix/item1?sv=Sanitized&se=2026-05-01T23%3A22%3A35Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F5EC5E78C\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:22:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:22:38.9565324Z",
        "x-ms-file-creation-time": "2026-04-30T23:22:38.9565324Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-04-30T23:22:38.9565324Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-2e4dc61a-0ae3-046a-89f3-7d3a51911a63/destPrefix/item1?sv=Sanitized&se=2026-05-01T23%3A22%3A35Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-74bda992-14ce-b19b-340e-f87c614873f9/sourceFolder/item1",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F5ED54A91\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:22:39 GMT",
        "x-ms-content-crc64": "4ePyer6KQmY=",
        "x-ms-file-last-write-time": "2026-04-30T23:22:38.9565324Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-2e4dc61a-0ae3-046a-89f3-7d3a51911a63/destPrefix/item1?sv=Sanitized&se=2026-05-01T23%3A22%3A35Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T23:22:36.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F5EDBFE8C\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:22:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:22:39.1013004Z",
        "x-ms-file-creation-time": "2026-04-30T23:22:36.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-04-30T23:22:38.9565324Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-2e4dc61a-0ae3-046a-89f3-7d3a51911a63/destPrefix/pik/test-file-d28bc3ab-3ae6-1154-811a-daf4f35248d1?sv=Sanitized&se=2026-05-01T23%3A22%3A35Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length"[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-2e4dc61a-0ae3-046a-89f3-7d3a51911a63/destPrefix/pik/test-file-d28bc3ab-3ae6-1154-811a-daf4f35248d1?sv=Sanitized&se=2026-05-01T23%3A22%3A35Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-74bda992-14ce-b19b-340e-f87c614873f9/sourceFolder/pik/test-file-d28bc3ab-3ae6-1154-811a-daf4f35248d1",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F5F23E694\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:22:39 GMT",
        "x-ms-content-crc64": "6lvf8zpAlMQ=",
        "x-ms-file-last-write-time": "2026-04-30T23:22:39.4687113Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-2e4dc61a-0ae3-046a-89f3-7d3a51911a63/destPrefix/bar/test-file-6ac038bd-8a9a-6134-fbb5-02ce8c1c5864?sv=Sanitized&se=2026-05-01T23%3A22%3A35Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length"[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-2e4dc61a-0ae3-046a-89f3-7d3a51911a63/destPrefix/pik/test-file-d28bc3ab-3ae6-1154-811a-daf4f35248d1?sv=Sanitized&se=2026-05-01T23%3A22%3A35Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T23:22:36.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F5F2AB325\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:22:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:22:39.6171045Z",
        "x-ms-file-creation-time": "2026-04-30T23:22:36.0000000Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2026-04-30T23:22:39.4687113Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-2e4dc61a-0ae3-046a-89f3-7d3a51911a63/destPrefix/bar/test-file-6ac038bd-8a9a-6134-fbb5-02ce8c1c5864?sv=Sanitized&se=2026-05-01T23%3A22%3A35Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-74bda992-14ce-b19b-340e-f87c614873f9/sourceFolder/bar/test-file-6ac038bd-8a9a-6134-fbb5-02ce8c1c5864",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F5F35F91B\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:22:39 GMT",
        "x-ms-content-crc64": "ME7zuOujvWw=",
        "x-ms-file-last-write-time": "2026-04-30T23:22:39.5925129Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-2e4dc61a-0ae3-046a-89f3-7d3a51911a63/destPrefix/bar/test-file-6ac038bd-8a9a-6134-fbb5-02ce8c1c5864?sv=Sanitized&se=2026-05-01T23%3A22%3A35Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T23:22:36.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F5F3C4F94\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:22:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:22:39.7325204Z",
        "x-ms-file-creation-time": "2026-04-30T23:22:36.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2026-04-30T23:22:39.5925129Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-2e4dc61a-0ae3-046a-89f3-7d3a51911a63/destPrefix/test-file-da4d0660-2f8f-7bd1-0d70-d5f10f3eff5e?sv=Sanitized&se=2026-05-01T23%3A22%3A35Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F5F3C9D96\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:22:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:22:39.7345174Z",
        "x-ms-file-creation-time": "2026-04-30T23:22:39.7345174Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2026-04-30T23:22:39.7345174Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-2e4dc61a-0ae3-046a-89f3-7d3a51911a63/destPrefix/test-file-da4d0660-2f8f-7bd1-0d70-d5f10f3eff5e?sv=Sanitized&se=2026-05-01T23%3A22%3A35Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-74bda992-14ce-b19b-340e-f87c614873f9/sourceFolder/test-file-da4d0660-2f8f-7bd1-0d70-d5f10f3eff5e",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F5F4B0387\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:22:39 GMT",
        "x-ms-content-crc64": "x6b47GzUaY8=",
        "x-ms-file-last-write-time": "2026-04-30T23:22:39.7345174Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-2e4dc61a-0ae3-046a-89f3-7d3a51911a63/destPrefix/test-file-da4d0660-2f8f-7bd1-0d70-d5f10f3eff5e?sv=Sanitized&se=2026-05-01T23%3A22%3A35Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T23:22:36.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F5F52538A\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:22:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:22:39.8768010Z",
        "x-ms-file-creation-time": "2026-04-30T23:22:36.0000000Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2026-04-30T23:22:39.7345174Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-74bda992-14ce-b19b-340e-f87c614873f9?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody[...]
    {
[...]
