{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-103c0a36-c3cc-1195-b38c-25ece533f0b2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B9117E90E15\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:15:25 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ea4fda7a-ccb6-beca-338c-38fb8797a308?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:15:34 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B9117EF7064\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:15:25 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-103c0a36-c3cc-1195-b38c-25ece533f0b2/sourceFolder/test-file-1f13d2ed-c66f-6d75-4241-f9df06732191",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B9117F55F5C\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:15:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-04-14T20:15:25.8909532Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-103c0a36-c3cc-1195-b38c-25ece533f0b2/sourceFolder/test-file-1f13d2ed-c66f-6d75-4241-f9df06732191?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "is5qyY4ghIeFFVEZhj6k6oceQlgwwOHdJXHspWhRDznR5lU4CFcDK8AnBwC+kxv0JXOcP8YX4sntjKQdNN4eMwYXSKDpbOIvGxaXCbnhH5FV+ID1tc9yuQOLS3uz5fbiCNP6pkt6CriQbCOvgNkQC20SxzxeKH42pY6cXiFmfDUftQDl53lG2u3HZEiswjkqej8OoB66g99VwwG83qyXKu/ukMrYKyT0y+xOlsQ1iuJVcuPiWNwXZTEgjyN3ivxBMDpZvTJuUU4aGtUxbO0bIDkfZmvItdET1yqZuJsAfEHvDWWJ3Myv5yGUxz0G5flDBW/pWCOReHtoReYH1JmzGp6TQl6IkUNtb35KM+2TDPExVbIrFyMdXpTqIJblpxOH4a2fcqOau3MrfOmlRkSN1Tn01X7mhwJ6duPJnnGth8hrwlJA9JlOl5o//5o6eBdQXEtd8NGUoVqqJPy/0B0CfvQgOYTyTeGfpj7kp4doQP7LeUElUJb21yH4ls+dj8d8PYGmGT6TXQ9qvUqTr/rSQuT+81bb3C5dKmJi+bYRAhZ3Z2oFwSe/OBsyupJMYycnJVPrn5twoGBTSO/cMWRYWLs0HEiPzIC8Prs6qSGbEcY6O9RiJmJ7BsYJsng34ge32mLWGEffl1nTLmDgNvc+tzcoovWQ9TFYuBWBhhkIhFs=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B9117FB253E\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:15:25 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "+FeFAba2T9A=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-103c0a36-c3cc-1195-b38c-25ece533f0b2/sourceFolder/bar/test-file-b989b1d6-aad4-aed3-c374-1e56d2c33d2e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B91180B66A3\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:15:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-04-14T20:15:26.0353187Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-103c0a36-c3cc-1195-b38c-25ece533f0b2/sourceFolder/bar/test-file-b989b1d6-aad4-aed3-c374-1e56d2c33d2e?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "8DTvJr[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-103c0a36-c3cc-1195-b38c-25ece533f0b2/sourceFolder/pik/test-file-59f5eb55-ae4a-8ef8-87b6-e294cbc69981",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B9118156D82\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:15:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-04-14T20:15:26.1010306Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-103c0a36-c3cc-1195-b38c-25ece533f0b2/sourceFolder/pik/test-file-59f5eb55-ae4a-8ef8-87b6-e294cbc69981?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "ZRaNL/[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ea4fda7a-ccb6-beca-338c-38fb8797a308/destinationFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:15:34 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B9118214E4E\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:15:26 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T20:15:26.1788750Z",
        "x-ms-file-creation-time": "2025-04-14T20:15:26.1788750Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-04-14T20:15:26.1788750Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-103c0a36-c3cc-1195-b38c-25ece533f0b2?restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.blob.core.windows.net/\" ContainerName=\"test-container-103c0a36-c3cc-1195-b38c-25ece533f0b2\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-b989b1d6-aad4-aed3-c374-1e56d2c33d2e</Name><VersionId>2025-04-14T20:15:26.0353187Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Mon, 14 Apr 2025 20:15:26 GMT</Creation-Time><Last-Modified>Mon, 14 Apr 2025 20:15:26 GMT</Last-Modified><Etag>0x8DD7B91180FF56E</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-59f5eb55-ae4a-8ef8-87b6-e294cbc69981</Name><VersionId>2025-04-14T20:15:26.1010306Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Mon, 14 Apr 2025 20:15:26 GMT</Creation-Time><Last-Modified>Mon, 14 Apr 2025 20:15:26 GMT</Last-Modified><Etag>0x8DD7B911819AE78</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ea4fda7a-ccb6-beca-338c-38fb8797a308/destinationFolder/bar?sv=Sanitized&se=2025-04-15T20%3A15%3A34Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B911832EDC0\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:15:26 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T20:15:26.2943680Z",
        "x-ms-file-creation-time": "2025-04-14T20:15:26.2943680Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-04-14T20:15:26.2943680Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ea4fda7a-ccb6-beca-338c-38fb8797a308/destinationFolder/pik?sv=Sanitized&se=2025-04-15T20%3A15%3A34Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B9118377C85\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:15:26 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T20:15:26.3242373Z",
        "x-ms-file-creation-time": "2025-04-14T20:15:26.3242373Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-04-14T20:15:26.3242373Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ea4fda7a-ccb6-beca-338c-38fb8797a308/destinationFolder/pik/test-file-59f5eb55-ae4a-8ef8-87b6-e294cbc69981?sv=Sanitized&se=2025-04-15T20%3A15%3A34Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ea4fda7a-ccb6-beca-338c-38fb8797a308/destinationFolder/bar/test-file-b989b1d6-aad4-aed3-c374-1e56d2c33d2e?sv=Sanitized&se=2025-04-15T20%3A15%3A34Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ea4fda7a-ccb6-beca-338c-38fb8797a308/destinationFolder/test-file-1f13d2ed-c66f-6d75-4241-f9df06732191?sv=Sanitized&se=2025-04-15T20%3A15%3A34Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ea4fda7a-ccb6-beca-338c-38fb8797a308/destinationFolder/pik/test-file-59f5eb55-ae4a-8ef8-87b6-e294cbc69981?sv=Sanitized&se=2025-04-15T20%3A15%3A34Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "512",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-04-14T20:15:26.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B91190EE937\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:15:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:15:27.7360439Z",
        "x-ms-file-creation-time": "2025-04-14T20:15:26.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-04-14T20:15:27.7360439Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ea4fda7a-ccb6-beca-338c-38fb8797a308/destinationFolder/bar/test-file-b989b1d6-aad4-aed3-c374-1e56d2c33d2e?sv=Sanitized&se=2025-04-15T20%3A15%3A34Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://nickliuproductionacc.blob.core.windows.net/test-container-103c0a36-c3cc-1195-b38c-25ece533f0b2/sourceFolder/bar/test-file-b989b1d6-aad4-aed3-c374-1e56d2c33d2e",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B911917DFD9\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:15:27 GMT",
        "x-ms-content-crc64": "xiRNbN9VrpQ=",
        "x-ms-file-last-write-time": "2025-04-14T20:15:27.7440086Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ea4fda7a-ccb6-beca-338c-38fb8797a308/destinationFolder/test-file-1f13d2ed-c66f-6d75-4241-f9df06732191?sv=Sanitized&se=2025-04-15T20%3A15%3A34Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://nickliuproductionacc.blob.core.windows.net/test-container-103c0a36-c3cc-1195-b38c-25ece533f0b2/sourceFolder/test-file-1f13d2ed-c66f-6d75-4241-f9df06732191",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B9119198BA8\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:15:27 GMT",
        "x-ms-content-crc64": "+FeFAba2T9A=",
        "x-ms-file-last-write-time": "2025-04-14T20:15:27.7509782Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ea4fda7a-ccb6-beca-338c-38fb8797a308/destinationFolder/pik/test-file-59f5eb55-ae4a-8ef8-87b6-e294cbc69981?sv=Sanitized&se=2025-04-15T20%3A15%3A34Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://nickliuproductionacc.blob.core.windows.net/test-container-103c0a36-c3cc-1195-b38c-25ece533f0b2/sourceFolder/pik/test-file-59f5eb55-ae4a-8ef8-87b6-e294cbc69981",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B91191B8536\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:15:27 GMT",
        "x-ms-content-crc64": "VUbgOeGYVpk=",
        "x-ms-file-last-write-time": "2025-04-14T20:15:27.7360439Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ea4fda7a-ccb6-beca-338c-38fb8797a308/destinationFolder/bar/test-file-b989b1d6-aad4-aed3-c374-1e56d2c33d2e?sv=Sanitized&se=2025-04-15T20%3A15%3A34Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-04-14T20:15:26.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B91191CBC5D\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:15:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:15:27.8266461Z",
        "x-ms-file-creation-time": "2025-04-14T20:15:26.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-04-14T20:15:27.7440086Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ea4fda7a-ccb6-beca-338c-38fb8797a308/destinationFolder/test-file-1f13d2ed-c66f-6d75-4241-f9df06732191?sv=Sanitized&se=2025-04-15T20%3A15%3A34Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-04-14T20:15:25.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B91191D7ED4\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:15:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:15:27.8316244Z",
        "x-ms-file-creation-time": "2025-04-14T20:15:25.0000000Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2025-04-14T20:15:27.7509782Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ea4fda7a-ccb6-beca-338c-38fb8797a308/destinationFolder/pik/test-file-59f5eb55-ae4a-8ef8-87b6-e294cbc69981?sv=Sanitized&se=2025-04-15T20%3A15%3A34Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-04-14T20:15:26.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B91191F9F50\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:15:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:15:27.8455632Z",
        "x-ms-file-creation-time": "2025-04-14T20:15:26.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-04-14T20:15:27.7360439Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-103c0a36-c3cc-1195-b38c-25ece533f0b2?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "Respo[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ea4fda7a-ccb6-beca-338c-38fb8797a308/destinationFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:15:36 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-ea4fda7a-ccb6-beca-338c-38fb8797a308\" DirectoryPath=\"destinationFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-1f13d2ed-c66f-6d75-4241-f9df06732191</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>512</Content-Length></Properties></File><File><Name>test-file-8cae454c-0f15-a2ad-32c9-5e235d097012</Name><FileId>13835075647468208128</FileId><Properties><Content-Length>512</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ea4fda7a-ccb6-beca-338c-38fb8797a308/destinationFolder/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:15:36 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-ea4fda7a-ccb6-beca-338c-38fb8797a308\" DirectoryPath=\"destinationFolder/bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-b989b1d6-aad4-aed3-c374-1e56d2c33d2e</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>512</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ea4fda7a-ccb6-beca-338c-38fb8797a308/destinationFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:15:36 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-ea4fda7a-ccb6-beca-338c-38fb8797a308\" DirectoryPath=\"destinationFolder/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-59f5eb55-ae4a-8ef8-87b6-e294cbc69981</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>512</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-103c0a36-c3cc-1195-b38c-25ece533f0b2/sourceFolder/bar/test-file-b989b1d6-aad4-aed3-c374-1e56d2c33d2e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD7B91180FF56E\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:15:26 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 14 Apr 2025 20:15:26 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-04-14T20:15:26.0353187Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ea4fda7a-ccb6-beca-338c-38fb8797a308/destinationFolder/bar/test-file-b989b1d6-aad4-aed3-c374-1e56d2c33d2e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:15:36 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD7B91191CBC5D\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:15:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:15:27.8266461Z",
        "x-ms-file-creation-time": "2025-04-14T20:15:26.0000000Z",
        "x-ms-file-id": "13835093239654252544",
[...]
