{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3a1de896-8c29-60bd-712b-47ff383e6f47?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F618A4201\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:22:43 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-14618c33-7b75-0bec-53cc-79f12f3f91ec?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:22:42 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F6192A028\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:22:43 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-14618c33-7b75-0bec-53cc-79f12f3f91ec/destPrefix?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:22:42 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F619A3F5B\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:22:43 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-04-30T23:22:43.7035867Z",
        "x-ms-file-creation-time": "2026-04-30T23:22:43.7035867Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-30T23:22:43.7035867Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11213973173494923372*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3a1de896-8c29-60bd-712b-47ff383e6f47/sourceFolder/test-file-29e76a22-8a53-421b-472b-3164089baafb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F61A26284\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:22:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3a1de896-8c29-60bd-712b-47ff383e6f47/sourceFolder/test-file-29e76a22-8a53-421b-472b-3164089baafb?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "LKewTjVuXnBytAYRKc4TlQX1NFJcfQzDfXhFyB1j4lAIz19kymrhswx2tp+EChh5GJteEmdYnq6b7dG8KZVTD9G1CVlursqbFIFG5sdsP3NgzLCCBM/psDGwyd2ZJIp2I6bNzwC+CmnRw/7mEbjnLq5dXFzl0QsBzFgoveXtAe/2z8Ignm9yocFGsUHRAp54yZsvPMctkVKbzAOolkyE48EO70H2xo8+6ruanh/JMMm5sPRKvcUoyT5vhdJsygp1wc1/wxNdgQIL8VIMkvIy0Zs57uZYOib85iYDhkG80R+wJdxSSm22XC7yPsxzGzdMPbM3M9skHYemg9ztWvvATh8yW2wV34cug5G3ZvxaiMrut0mOhZ5DiwhVrMaQyQIyMe+sQb/KNl0sCK9JbbaKTPoS/qKyMsm[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3a1de896-8c29-60bd-712b-47ff383e6f47/sourceFolder/bar/test-file-90d5ded3-1a68-fa1b-5715-8a302dc90876",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F61C7FED9\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:22:44 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3a1de896-8c29-60bd-712b-47ff383e6f47/sourceFolder/bar/test-file-90d5ded3-1a68-fa1b-5715-8a302dc90876?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "Hs1PeTntJ+dR[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3a1de896-8c29-60bd-712b-47ff383e6f47/sourceFolder/pik/test-file-aa4b610f-8aa5-004c-568f-11822caf7346",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F61D7574A\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:22:44 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3a1de896-8c29-60bd-712b-47ff383e6f47/sourceFolder/pik/test-file-aa4b610f-8aa5-004c-568f-11822caf7346?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "fuJUhUF4TC6Q[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3a1de896-8c29-60bd-712b-47ff383e6f47?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-3a1de896-8c29-60bd-712b-47ff383e6f47\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-29e76a22-8a53-421b-472b-3164089baafb</Name><Properties><Creation-Time>Thu, 30 Apr 2026 23:22:43 GMT</Creation-Time><Last-Modified>Thu, 30 Apr 2026 23:22:43 GMT</Last-Modified><Etag>0x8DEA70F61AA96B2</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-aeabf137-e1b2-1375-4a9e-898b62f5c16c</Name><Properties><Creation-Time>Thu, 30 Apr 2026 23:22:43 GMT</Creation-Time><Last-Modified>Thu, 30 Apr 2026 23:22:43 GMT</Last-Modified><Etag>0x8DEA70F61BA8A51</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-14618c33-7b75-0bec-53cc-79f12f3f91ec/destPrefix/bar?sv=Sanitized&se=2026-05-01T23%3A22%3A43Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:7f827e29-501a-001d-04f8-d8621e000000\n",
        "Time:2026-04-30T23:22:44.3058616Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-14618c33-7b75-0bec-53cc-79f12f3f91ec/destPrefix/pik?sv=Sanitized&se=2026-05-01T23%3A22%3A43Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:7f827e2b-501a-001d-06f8-d8621e000000\n",
        "Time:2026-04-30T23:22:44.3977565Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3a1de896-8c29-60bd-712b-47ff383e6f47?restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3a1de896-8c29-60bd-712b-47ff383e6f47?restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-14618c33-7b75-0bec-53cc-79f12f3f91ec/destPrefix/bar/test-file-90d5ded3-1a68-fa1b-5715-8a302dc90876?sv=Sanitized&se=2026-05-01T23%3A22%3A43Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F636B4BE9\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:22:46 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:22:46.7513321Z",
        "x-ms-file-creation-time": "2026-04-30T23:22:46.7513321Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-04-30T23:22:46.7513321Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-14618c33-7b75-0bec-53cc-79f12f3f91ec/destPrefix/bar/test-file-90d5ded3-1a68-fa1b-5715-8a302dc90876?sv=Sanitized&se=2026-05-01T23%3A22%3A43Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-3a1de896-8c29-60bd-712b-47ff383e6f47/sourceFolder/bar/test-file-90d5ded3-1a68-fa1b-5715-8a302dc90876",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F637DBAE8\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:22:46 GMT",
        "x-ms-content-crc64": "wXtFsy9bMk0=",
        "x-ms-file-last-write-time": "2026-04-30T23:22:46.7513321Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-14618c33-7b75-0bec-53cc-79f12f3f91ec/destPrefix/bar/test-file-90d5ded3-1a68-fa1b-5715-8a302dc90876?sv=Sanitized&se=2026-05-01T23%3A22%3A43Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T23:22:44.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F638447F0\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:22:46 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:22:46.9150704Z",
        "x-ms-file-creation-time": "2026-04-30T23:22:44.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-04-30T23:22:46.7513321Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-14618c33-7b75-0bec-53cc-79f12f3f91ec/destPrefix/test-file-aeabf137-e1b2-1375-4a9e-898b62f5c16c?sv=Sanitized&se=2026-05-01T23%3A22%3A43Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F639C32E6\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:22:47 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:22:47.0718182Z",
        "x-ms-file-creation-time": "2026-04-30T23:22:47.0718182Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2026-04-30T23:22:47.0718182Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-14618c33-7b75-0bec-53cc-79f12f3f91ec/destPrefix/test-file-aeabf137-e1b2-1375-4a9e-898b62f5c16c?sv=Sanitized&se=2026-05-01T23%3A22%3A43Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-3a1de896-8c29-60bd-712b-47ff383e6f47/sourceFolder/test-file-aeabf137-e1b2-1375-4a9e-898b62f5c16c",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F63AB95E5\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:22:47 GMT",
        "x-ms-content-crc64": "1ZOvce/lSPw=",
        "x-ms-file-last-write-time": "2026-04-30T23:22:47.0718182Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-14618c33-7b75-0bec-53cc-79f12f3f91ec/destPrefix/test-file-aeabf137-e1b2-1375-4a9e-898b62f5c16c?sv=Sanitized&se=2026-05-01T23%3A22%3A43Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T23:22:43.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F63B222E7\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:22:47 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:22:47.2155879Z",
        "x-ms-file-creation-time": "2026-04-30T23:22:43.0000000Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2026-04-30T23:22:47.0718182Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-14618c33-7b75-0bec-53cc-79f12f3f91ec/destPrefix/pik/test-file-aa4b610f-8aa5-004c-568f-11822caf7346?sv=Sanitized&se=2026-05-01T23%3A22%3A43Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length"[...]
[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-14618c33-7b75-0bec-53cc-79f12f3f91ec/destPrefix/pik/test-file-aa4b610f-8aa5-004c-568f-11822caf7346?sv=Sanitized&se=2026-05-01T23%3A22%3A43Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-3a1de896-8c29-60bd-712b-47ff383e6f47/sourceFolder/pik/test-file-aa4b610f-8aa5-004c-568f-11822caf7346",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F63FA873C\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:22:47 GMT",
        "x-ms-content-crc64": "moQVndNyyUE=",
        "x-ms-file-last-write-time": "2026-04-30T23:22:47.5931704Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-14618c33-7b75-0bec-53cc-79f12f3f91ec/destPrefix/pik/test-file-aa4b610f-8aa5-004c-568f-11822caf7346?sv=Sanitized&se=2026-05-01T23%3A22%3A43Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T23:22:44.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F6400ED40\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:22:47 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:22:47.7319488Z",
        "x-ms-file-creation-time": "2026-04-30T23:22:44.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2026-04-30T23:22:47.5931704Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3a1de896-8c29-60bd-712b-47ff383e6f47?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-14618c33-7b75-0bec-53cc-79f12f3f91ec/destPrefix?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:22:47 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandasa3.file.core.windows.net/\" ShareName=\"test-share-14618c33-7b75-0bec-53cc-79f12f3f91ec\" DirectoryPath=\"destPrefix\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-29e76a22-8a53-421b-472b-3164089baafb</Name><FileId>12682206919419494400</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-aeabf137-e1b2-1375-4a9e-898b62f5c16c</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-14618c33-7b75-0bec-53cc-79f12f3f91ec/destPrefix/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:22:47 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandasa3.file.core.windows.net/\" ShareName=\"test-share-14618c33-7b75-0bec-53cc-79f12f3f91ec\" DirectoryPath=\"destPrefix/bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-90d5ded3-1a68-fa1b-5715-8a302dc90876</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-14618c33-7b75-0bec-53cc-79f12f3f91ec/destPrefix/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:22:47 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandasa3.file.core.windows.net/\" ShareName=\"test-share-14618c33-7b75-0bec-53cc-79f12f3f91ec\" DirectoryPath=\"destPrefix/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-aa4b610f-8aa5-004c-568f-11822caf7346</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3a1de896-8c29-60bd-712b-47ff383e6f47/sourceFolder/bar/test-file-90d5ded3-1a68-fa1b-5715-8a302dc90876",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA70F61CFE53D\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:22:44 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 30 Apr 2026 23:22:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-14618c33-7b75-0bec-53cc-79f12f3f91ec/destPrefix/bar/test-file-90d5ded3-1a68-fa1b-5715-8a302dc90876",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:22:47 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA70F638447F0\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:22:46 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:22:46.9150704Z",
        "x-ms-file-creation-time": "2026-04-30T23:22:44.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-04-30T23:22:46.7513321Z",
[...]
