{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5c6f97e5-984f-57d2-eff2-6b214c5eb24b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5140B863D3EE\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:54:16 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e4a4000f-978a-3fa5-d433-09dc72a6bac2?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:54:17 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5140B86D9B8D\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:54:17 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e4a4000f-978a-3fa5-d433-09dc72a6bac2/destPrefix?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:54:17 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5140B87509B0\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:54:17 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-19T23:54:17.0913200Z",
        "x-ms-file-creation-time": "2025-02-19T23:54:17.0913200Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-19T23:54:17.0913200Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5c6f97e5-984f-57d2-eff2-6b214c5eb24b/sourceFolder/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5140B87D742F\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:54:17 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-19T23:54:17.1474744Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5c6f97e5-984f-57d2-eff2-6b214c5eb24b/sourceFolder/item1?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "LvVsSeKC3eAPjLcusITb6t00+l+P8645kznfGkzsbsKBatR0dN9HfjbAVPxnC99LIiQ07Sd4FDtHMraposOTIx31rEWwZnb+7Hsozp6x0odZlPcnt4GaCVaZLUIpntxzLTHecV6am7yuNgCrUEWclV8uTw7LbGucWqPvFjkz1E6etKFt02Aov/g7eYGB7rgQ/Zfi+07Op8DGQha7qoWDemKxDJujL8L/BZAVkPLqGmvq3hihUdn/0AzgppBKbRRzt/4fz+EdbM7V4/W+uBfN3Ceq0Mxs4SmIsjyOwogxtJd7otj0y0uJzXFKzG7jQBj1Esppn51IB9bVlh2ljqlFoy5eQxY+2RHcIAJaIRW6pXEjma+9yBX6M5oCHzQt5D7IBChAhf0Btjm5jX6a7uXBGvCsgfX6iNs[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e4a4000f-978a-3fa5-d433-09dc72a6bac2/destPrefix/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 19 Feb 2025 23:54:17 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5140B88DBE31\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:54:17 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:54:17.2532273Z",
        "x-ms-file-creation-time": "2025-02-19T23:54:17.2532273Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-02-19T23:54:17.2532273Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5c6f97e5-984f-57d2-eff2-6b214c5eb24b/sourceFolder/test-file-9663f9f9-96b3-71c2-785d-31ed1b816dea",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5140B899D1A6\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:54:17 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-19T23:54:17.3323686Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5c6f97e5-984f-57d2-eff2-6b214c5eb24b/sourceFolder/test-file-9663f9f9-96b3-71c2-785d-31ed1b816dea?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "vg9tDKTXlSe5F1[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5c6f97e5-984f-57d2-eff2-6b214c5eb24b/sourceFolder/bar/test-file-b88cce4e-9915-317c-fb75-768f4a2287c4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5140B8A7643D\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:54:17 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-19T23:54:17.4213181Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5c6f97e5-984f-57d2-eff2-6b214c5eb24b/sourceFolder/bar/test-file-b88cce4e-9915-317c-fb75-768f4a2287c4?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "QSwWJ/etvl[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5c6f97e5-984f-57d2-eff2-6b214c5eb24b/sourceFolder/pik/test-file-b327d6b9-0201-57ba-3af8-0655f5964a46",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5140B8B51DD9\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:54:17 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-19T23:54:17.5112665Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5c6f97e5-984f-57d2-eff2-6b214c5eb24b/sourceFolder/pik/test-file-b327d6b9-0201-57ba-3af8-0655f5964a46?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "cfd91MZO3J[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5c6f97e5-984f-57d2-eff2-6b214c5eb24b?restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-5c6f97e5-984f-57d2-eff2-6b214c5eb24b\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-b88cce4e-9915-317c-fb75-768f4a2287c4</Name><VersionId>2025-02-19T23:54:17.4213181Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 19 Feb 2025 23:54:17 GMT</Creation-Time><Last-Modified>Wed, 19 Feb 2025 23:54:17 GMT</Last-Modified><Etag>0x8DD5140B8AE1A00</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/item1</Name><VersionId>2025-02-19T23:54:17.1474744Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 19 Feb 2025 23:54:17 GMT</Creation-Time><Last-Modified>Wed, 19 Feb 2025 23:54:17 GMT</Last-Modified><Etag>0x8DD5140B885FE6C</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e4a4000f-978a-3fa5-d433-09dc72a6bac2/destPrefix/bar?sv=Sanitized&se=2025-02-20T23%3A54%3A17Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5140B8CEDC55\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:54:17 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-19T23:54:17.6799829Z",
        "x-ms-file-creation-time": "2025-02-19T23:54:17.6799829Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-02-19T23:54:17.6799829Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e4a4000f-978a-3fa5-d433-09dc72a6bac2/destPrefix/pik?sv=Sanitized&se=2025-02-20T23%3A54%3A17Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5140B8D73F90\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:54:17 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-19T23:54:17.7349520Z",
        "x-ms-file-creation-time": "2025-02-19T23:54:17.7349520Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-02-19T23:54:17.7349520Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e4a4000f-978a-3fa5-d433-09dc72a6bac2/destPrefix/bar/test-file-b88cce4e-9915-317c-fb75-768f4a2287c4?sv=Sanitized&se=2025-02-20T23%3A54%3A17Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-19T23:54:17.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5140B9C8F636\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:54:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:54:19.3190454Z",
        "x-ms-file-creation-time": "2025-02-19T23:54:17.0000000Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-02-19T23:54:19.3190454Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e4a4000f-978a-3fa5-d433-09dc72a6bac2/destPrefix/item1?sv=Sanitized&se=2025-02-20T23%3A54%3A17Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": [...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e4a4000f-978a-3fa5-d433-09dc72a6bac2/destPrefix/bar/test-file-b88cce4e-9915-317c-fb75-768f4a2287c4?sv=Sanitized&se=2025-02-20T23%3A54%3A17Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-5c6f97e5-984f-57d2-eff2-6b214c5eb24b/sourceFolder/bar/test-file-b88cce4e-9915-317c-fb75-768f4a2287c4",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5140B9D77306\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:54:19 GMT",
        "x-ms-content-crc64": "Lmks/PBFFeQ=",
        "x-ms-file-last-write-time": "2025-02-19T23:54:19.3190454Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e4a4000f-978a-3fa5-d433-09dc72a6bac2/destPrefix/test-file-9663f9f9-96b3-71c2-785d-31ed1b816dea?sv=Sanitized&se=2025-02-20T23%3A54%3A17Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-lengt[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e4a4000f-978a-3fa5-d433-09dc72a6bac2/destPrefix/item1?sv=Sanitized&se=2025-02-20T23%3A54%3A17Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-5c6f97e5-984f-57d2-eff2-6b214c5eb24b/sourceFolder/item1",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5140B9DD6593\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:54:19 GMT",
        "x-ms-content-crc64": "bHWKklBb6rA=",
        "x-ms-file-last-write-time": "2025-02-19T23:54:19.3660180Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e4a4000f-978a-3fa5-d433-09dc72a6bac2/destPrefix/bar/test-file-b88cce4e-9915-317c-fb75-768f4a2287c4?sv=Sanitized&se=2025-02-20T23%3A54%3A17Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-19T23:54:17.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5140B9DDDAB6\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:54:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:54:19.4559670Z",
        "x-ms-file-creation-time": "2025-02-19T23:54:17.0000000Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-02-19T23:54:19.3190454Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e4a4000f-978a-3fa5-d433-09dc72a6bac2/destPrefix/pik/test-file-b327d6b9-0201-57ba-3af8-0655f5964a46?sv=Sanitized&se=2025-02-20T23%3A54%3A17Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-l[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e4a4000f-978a-3fa5-d433-09dc72a6bac2/destPrefix/test-file-9663f9f9-96b3-71c2-785d-31ed1b816dea?sv=Sanitized&se=2025-02-20T23%3A54%3A17Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-5c6f97e5-984f-57d2-eff2-6b214c5eb24b/sourceFolder/test-file-9663f9f9-96b3-71c2-785d-31ed1b816dea",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5140B9E35824\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:54:19 GMT",
        "x-ms-content-crc64": "t41T3IBrNrw=",
        "x-ms-file-last-write-time": "2025-02-19T23:54:19.4129915Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e4a4000f-978a-3fa5-d433-09dc72a6bac2/destPrefix/item1?sv=Sanitized&se=2025-02-20T23%3A54%3A17Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-19T23:54:17.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5140B9E3CD46\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:54:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:54:19.4949446Z",
        "x-ms-file-creation-time": "2025-02-19T23:54:17.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-02-19T23:54:19.3660180Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e4a4000f-978a-3fa5-d433-09dc72a6bac2/destPrefix/test-file-9663f9f9-96b3-71c2-785d-31ed1b816dea?sv=Sanitized&se=2025-02-20T23%3A54%3A17Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-19T23:54:17.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5140B9E9BFD2\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:54:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:54:19.5339218Z",
        "x-ms-file-creation-time": "2025-02-19T23:54:17.0000000Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2025-02-19T23:54:19.4129915Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e4a4000f-978a-3fa5-d433-09dc72a6bac2/destPrefix/pik/test-file-b327d6b9-0201-57ba-3af8-0655f5964a46?sv=Sanitized&se=2025-02-20T23%3A54%3A17Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-5c6f97e5-984f-57d2-eff2-6b214c5eb24b/sourceFolder/pik/test-file-b327d6b9-0201-57ba-3af8-0655f5964a46",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5140B9EC3079\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:54:19 GMT",
        "x-ms-content-crc64": "2Hi4AM8zlWY=",
        "x-ms-file-last-write-time": "2025-02-19T23:54:19.4849503Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e4a4000f-978a-3fa5-d433-09dc72a6bac2/destPrefix/pik/test-file-b327d6b9-0201-57ba-3af8-0655f5964a46?sv=Sanitized&se=2025-02-20T23%3A54%3A17Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-19T23:54:17.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5140B9F2982D\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:54:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:54:19.5918893Z",
        "x-ms-file-creation-time": "2025-02-19T23:54:17.0000000Z",
        "x-ms-file-id": "13835075647468208128",
        "x-ms-file-last-write-time": "2025-02-19T23:54:19.4849503Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5c6f97e5-984f-57d2-eff2-6b214c5eb24b?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBo[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e4a4000f-978a-3fa5-d433-09dc72a6bac2/destPrefix?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:54:19 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-e4a4000f-978a-3fa5-d433-09dc72a6bac2\" DirectoryPath=\"destPrefix\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>item1</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><Directory><Name>pik</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>test-file-9663f9f9-96b3-71c2-785d-31ed1b816dea</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e4a4000f-978a-3fa5-d433-09dc72a6bac2/destPrefix/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
[...]
