{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-50698512-9195-5a23-f93c-33bab17322b1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B547752911\"",
        "Last-Modified": "Fri, 16 May 2025 20:07:26 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bef66c18-c746-f0de-3498-05b54922284e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 20:07:26 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B5477DE111\"",
        "Last-Modified": "Fri, 16 May 2025 20:07:26 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-50698512-9195-5a23-f93c-33bab17322b1/sourceFolder/test-file-28e1e8a4-f9f9-5c0a-66f2-aba6bdc405ed",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "0",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B54786957F\"",
        "Last-Modified": "Fri, 16 May 2025 20:07:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-50698512-9195-5a23-f93c-33bab17322b1/sourceFolder/bar/test-file-f7f6ecb9-cf2e-1acc-bd87-de87a9263f75",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "0",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B547994540\"",
        "Last-Modified": "Fri, 16 May 2025 20:07:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-50698512-9195-5a23-f93c-33bab17322b1/sourceFolder/pik/test-file-6b7c3df4-283a-2c5a-aecc-f02338b1ca90",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "0",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B547A289AB\"",
        "Last-Modified": "Fri, 16 May 2025 20:07:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bef66c18-c746-f0de-3498-05b54922284e/destinationFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 20:07:26 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B547ABDF1D\"",
        "Last-Modified": "Fri, 16 May 2025 20:07:26 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-16T20:07:26.8915997Z",
        "x-ms-file-creation-time": "2025-05-16T20:07:26.8915997Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-16T20:07:26.8915997Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-50698512-9195-5a23-f93c-33bab17322b1?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-50698512-9195-5a23-f93c-33bab17322b1\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-28e1e8a4-f9f9-5c0a-66f2-aba6bdc405ed</Name><Properties><Creation-Time>Fri, 16 May 2025 20:07:26 GMT</Creation-Time><Last-Modified>Fri, 16 May 2025 20:07:26 GMT</Last-Modified><Etag>0x8DD94B54786957F</Etag><Content-Length>0</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-6cc35853-6239-d59a-d758-143d89f326fb</Name><Properties><Creation-Time>Fri, 16 May 2025 20:07:26 GMT</Creation-Time><Last-Modified>Fri, 16 May 2025 20:07:26 GMT</Last-Modified><Etag>0x8DD94B5478FD9E6</Etag><Content-Length>0</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bef66c18-c746-f0de-3498-05b54922284e/destinationFolder/bar?sv=Sanitized&se=2025-05-17T20%3A07%3A26Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B547C9580D\"",
        "Last-Modified": "Fri, 16 May 2025 20:07:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-16T20:07:27.0847501Z",
        "x-ms-file-creation-time": "2025-05-16T20:07:27.0847501Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-16T20:07:27.0847501Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bef66c18-c746-f0de-3498-05b54922284e/destinationFolder/pik?sv=Sanitized&se=2025-05-17T20%3A07%3A26Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B547D200DE\"",
        "Last-Modified": "Fri, 16 May 2025 20:07:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-16T20:07:27.1415006Z",
        "x-ms-file-creation-time": "2025-05-16T20:07:27.1415006Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-05-16T20:07:27.1415006Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-50698512-9195-5a23-f93c-33bab17322b1?restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-50698512-9195-5a23-f93c-33bab17322b1?restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bef66c18-c746-f0de-3498-05b54922284e/destinationFolder/test-file-28e1e8a4-f9f9-5c0a-66f2-aba6bdc405ed?sv=Sanitized&se=2025-05-17T20%3A07%3A26Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bef66c18-c746-f0de-3498-05b54922284e/destinationFolder/test-file-28e1e8a4-f9f9-5c0a-66f2-aba6bdc405ed?sv=Sanitized&se=2025-05-17T20%3A07%3A26Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "0",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-16T20:07:26.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B5495B79CA\"",
        "Last-Modified": "Fri, 16 May 2025 20:07:29 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-16T20:07:29.7201610Z",
        "x-ms-file-creation-time": "2025-05-16T20:07:26.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-05-16T20:07:29.7201610Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bef66c18-c746-f0de-3498-05b54922284e/destinationFolder/test-file-28e1e8a4-f9f9-5c0a-66f2-aba6bdc405ed?sv=Sanitized&se=2025-05-17T20%3A07%3A26Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-16T20:07:26.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B54964706B\"",
        "Last-Modified": "Fri, 16 May 2025 20:07:29 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-16T20:07:29.7789035Z",
        "x-ms-file-creation-time": "2025-05-16T20:07:26.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-05-16T20:07:29.7201610Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bef66c18-c746-f0de-3498-05b54922284e/destinationFolder/pik/test-file-6b7c3df4-283a-2c5a-aecc-f02338b1ca90?sv=Sanitized&se=2025-05-17T20%3A07%3A26Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bef66c18-c746-f0de-3498-05b54922284e/destinationFolder/bar/test-file-f7f6ecb9-cf2e-1acc-bd87-de87a9263f75?sv=Sanitized&se=2025-05-17T20%3A07%3A26Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bef66c18-c746-f0de-3498-05b54922284e/destinationFolder/pik/test-file-6b7c3df4-283a-2c5a-aecc-f02338b1ca90?sv=Sanitized&se=2025-05-17T20%3A07%3A26Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-16T20:07:26.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B549851A1A\"",
        "Last-Modified": "Fri, 16 May 2025 20:07:29 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-16T20:07:29.9929626Z",
        "x-ms-file-creation-time": "2025-05-16T20:07:26.0000000Z",
        "x-ms-file-id": "11529250230440558592",
        "x-ms-file-last-write-time": "2025-05-16T20:07:29.9362119Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bef66c18-c746-f0de-3498-05b54922284e/destinationFolder/bar/test-file-f7f6ecb9-cf2e-1acc-bd87-de87a9263f75?sv=Sanitized&se=2025-05-17T20%3A07%3A26Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-16T20:07:26.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B5498A1D83\"",
        "Last-Modified": "Fri, 16 May 2025 20:07:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-16T20:07:30.0258179Z",
        "x-ms-file-creation-time": "2025-05-16T20:07:26.0000000Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-05-16T20:07:29.9680716Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-50698512-9195-5a23-f93c-33bab17322b1?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bef66c18-c746-f0de-3498-05b54922284e/destinationFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 20:07:30 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-bef66c18-c746-f0de-3498-05b54922284e\" DirectoryPath=\"destinationFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-28e1e8a4-f9f9-5c0a-66f2-aba6bdc405ed</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>0</Content-Length></Properties></File><File><Name>test-file-6cc35853-6239-d59a-d758-143d89f326fb</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>0</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bef66c18-c746-f0de-3498-05b54922284e/destinationFolder/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 20:07:30 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-bef66c18-c746-f0de-3498-05b54922284e\" DirectoryPath=\"destinationFolder/bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-f7f6ecb9-cf2e-1acc-bd87-de87a9263f75</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>0</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bef66c18-c746-f0de-3498-05b54922284e/destinationFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 20:07:30 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-bef66c18-c746-f0de-3498-05b54922284e\" DirectoryPath=\"destinationFolder/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-6b7c3df4-283a-2c5a-aecc-f02338b1ca90</Name><FileId>11529250230440558592</FileId><Properties><Content-Length>0</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-50698512-9195-5a23-f93c-33bab17322b1/sourceFolder/bar/test-file-f7f6ecb9-cf2e-1acc-bd87-de87a9263f75",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD94B547994540\"",
        "Last-Modified": "Fri, 16 May 2025 20:07:26 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 16 May 2025 20:07:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bef66c18-c746-f0de-3498-05b54922284e/destinationFolder/bar/test-file-f7f6ecb9-cf2e-1acc-bd87-de87a9263f75",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 20:07:30 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD94B5498A1D83\"",
        "Last-Modified": "Fri, 16 May 2025 20:07:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-16T20:07:30.0258179Z",
        "x-ms-file-creation-time": "2025-05-16T20:07:26.0000000Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-05-16T20:07:29.9680716Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bef66c18-c746-f0de-3498-05b54922284e/destinationFolder/pik/test-file-6b7c3df4-283a-2c5a-aecc-f02338b1ca90",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 20:07:30 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD94B549851A1A\"",
        "Last-Modified": "Fri, 16 May 2025 20:07:29 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-16T20:07:29.9929626Z",
        "x-ms-file-creation-time": "2025-05-16T20:07:26.0000000Z",
        "x-ms-file-id": "11529250230440558592",
        "x-ms-file-last-write-time": "2025-05-16T20:07:29.9362119Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bef66c18-c746-f0de-3498-05b54922284e/destinationFolder/test-file-28e1e8a4-f9f9-5c0a-66f2-aba6bdc405ed",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 20:07:30 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD94B54964706B\"",
        "Last-Modified": "Fri, 16 May 2025 20:07:29 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-16T20:07:29.7789035Z",
        "x-ms-file-creation-time": "2025-05-16T20:07:26.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-05-16T20:07:29.7201610Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bef66c18-c746-f0de-3498-05b54922284e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 20:07:31 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-50698512-9195-5a23-f93c-33bab17322b1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-05-16T13:07:26.8389184-07:00",
    "RandomSeed": "2071086122",
[...]
