{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f41b2562-e7a8-0c85-dac8-2f5a21651bb8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFCF979E704\"",
        "Last-Modified": "Wed, 07 May 2025 00:20:30 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-d7a8443e-35e5-9ad2-4c33-a6ce91114e15?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 00:20:30 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFCF982A8FD\"",
        "Last-Modified": "Wed, 07 May 2025 00:20:30 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f41b2562-e7a8-0c85-dac8-2f5a21651bb8/sourceFolder/folder0/test-file-1ede4a59-aae4-ac02-0485-63f21e243108",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFCF98B0C0E\"",
        "Last-Modified": "Wed, 07 May 2025 00:20:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T00:20:30.2765070Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f41b2562-e7a8-0c85-dac8-2f5a21651bb8/sourceFolder/folder0/test-file-1ede4a59-aae4-ac02-0485-63f21e243108?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "3pE3tNvU+HyeheAhVvpeTz3kVB5lNjDt2ol1l9bjsZIkM2Yz7QBWhFJhf17J4FUJJxO0Os8So6hgStpSX2Clu9NO/SOUKmI9jdDMA7bRI/kzbG/DLnfCEY++0qIlBCXxvMSLe+Mydfyxd6z/RZ/xjyfgHvPw4oxci+uT1Vi/F4mq20fyRqgWAfZzEbfKw8vvzEN7ROUyANk4Lu/3np+k8mAiVWpY/0h+yh38fdHUkcgfowkUQ9KjeNtuuRi4H2JXzh5Xp21hl836/XrINoIIY50n1/qWj6+Nf92O6UUwxqu6pK6yfelavgs7GkZX20FYZVZ6kEdnwT9vySiQ0q6HyjbPDZHTVuWzzRnvWnVpNqObNoTvtTVjUuNvQrTAyutdtE8PiM6whA9wx8MueGbKBpOF9ZwpmBU[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f41b2562-e7a8-0c85-dac8-2f5a21651bb8/sourceFolder/folder0/folder1/test-file-26ade1c7-da12-a0be-d1f0-3f356d1a1584",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFCF9993ACF\"",
        "Last-Modified": "Wed, 07 May 2025 00:20:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T00:20:30.3694543Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f41b2562-e7a8-0c85-dac8-2f5a21651bb8/sourceFolder/folder0/folder1/test-file-26ade1c7-da12-a0be-d1f0-3f356d1a1584?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody":[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f41b2562-e7a8-0c85-dac8-2f5a21651bb8/sourceFolder/folder0/folder1/folder2/test-file-6474e156-c764-c48c-f436-c4d597bb45b9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFCF9A76992\"",
        "Last-Modified": "Wed, 07 May 2025 00:20:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T00:20:30.4624018Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f41b2562-e7a8-0c85-dac8-2f5a21651bb8/sourceFolder/folder0/folder1/folder2/test-file-6474e156-c764-c48c-f436-c4d597bb45b9?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "Reque[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-d7a8443e-35e5-9ad2-4c33-a6ce91114e15/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 00:20:30 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFCF9B540FE\"",
        "Last-Modified": "Wed, 07 May 2025 00:20:30 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-07T00:20:30.5531134Z",
        "x-ms-file-creation-time": "2025-05-07T00:20:30.5531134Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-07T00:20:30.5531134Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f41b2562-e7a8-0c85-dac8-2f5a21651bb8?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-f41b2562-e7a8-0c85-dac8-2f5a21651bb8\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/folder0/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-d7a8443e-35e5-9ad2-4c33-a6ce91114e15/destFolder/folder0?sv=Sanitized&se=2025-05-08T00%3A20%3A30Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFCF9C459FD\"",
        "Last-Modified": "Wed, 07 May 2025 00:20:30 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-07T00:20:30.6520573Z",
        "x-ms-file-creation-time": "2025-05-07T00:20:30.6520573Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-07T00:20:30.6520573Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f41b2562-e7a8-0c85-dac8-2f5a21651bb8?restype=container&comp=list&prefix=sourceFolder%2Ffolder0%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-f41b2562-e7a8-0c85-dac8-2f5a21651bb8\"><Prefix>sourceFolder/folder0/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/folder0/folder1/</Name></BlobPrefix><Blob><Name>sourceFolder/folder0/test-file-1ede4a59-aae4-ac02-0485-63f21e243108</Name><VersionId>2025-05-07T00:20:30.2765070Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 00:20:30 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 00:20:30 GMT</Last-Modified><Etag>0x8DD8CFCF99236F4</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-d7a8443e-35e5-9ad2-4c33-a6ce91114e15/destFolder/folder0/folder1?sv=Sanitized&se=2025-05-08T00%3A20%3A30Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFCF9D2139F\"",
        "Last-Modified": "Wed, 07 May 2025 00:20:30 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-07T00:20:30.7420063Z",
        "x-ms-file-creation-time": "2025-05-07T00:20:30.7420063Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-05-07T00:20:30.7420063Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f41b2562-e7a8-0c85-dac8-2f5a21651bb8?restype=container&comp=list&prefix=sourceFolder%2Ffolder0%2Ffolder1%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-d7a8443e-35e5-9ad2-4c33-a6ce91114e15/destFolder/folder0/folder1/folder2?sv=Sanitized&se=2025-05-08T00%3A20%3A30Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFCF9DFCD40\"",
        "Last-Modified": "Wed, 07 May 2025 00:20:30 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-07T00:20:30.8319552Z",
        "x-ms-file-creation-time": "2025-05-07T00:20:30.8319552Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-05-07T00:20:30.8319552Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f41b2562-e7a8-0c85-dac8-2f5a21651bb8?restype=container&comp=list&prefix=sourceFolder%2Ffolder0%2Ffolder1%2Ffolder2%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-d7a8443e-35e5-9ad2-4c33-a6ce91114e15/destFolder/folder0/test-file-1ede4a59-aae4-ac02-0485-63f21e243108?sv=Sanitized&se=2025-05-08T00%3A20%3A30Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-d7a8443e-35e5-9ad2-4c33-a6ce91114e15/destFolder/folder0/test-file-1ede4a59-aae4-ac02-0485-63f21e243108?sv=Sanitized&se=2025-05-08T00%3A20%3A30Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-07T00:20:30.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFCFACCA2F2\"",
        "Last-Modified": "Wed, 07 May 2025 00:20:32 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-07T00:20:32.3840754Z",
        "x-ms-file-creation-time": "2025-05-07T00:20:30.0000000Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-05-07T00:20:32.3840754Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-d7a8443e-35e5-9ad2-4c33-a6ce91114e15/destFolder/folder0/folder1/test-file-26ade1c7-da12-a0be-d1f0-3f356d1a1584?sv=Sanitized&se=2025-05-08T00%3A20%3A30Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-d7a8443e-35e5-9ad2-4c33-a6ce91114e15/destFolder/folder0/test-file-1ede4a59-aae4-ac02-0485-63f21e243108?sv=Sanitized&se=2025-05-08T00%3A20%3A30Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-f41b2562-e7a8-0c85-dac8-2f5a21651bb8/sourceFolder/folder0/test-file-1ede4a59-aae4-ac02-0485-63f21e243108",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFCFAD8610C\"",
        "Last-Modified": "Wed, 07 May 2025 00:20:32 GMT",
        "x-ms-content-crc64": "n92jsfGAueU=",
        "x-ms-file-last-write-time": "2025-05-07T00:20:32.3840754Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-d7a8443e-35e5-9ad2-4c33-a6ce91114e15/destFolder/folder0/folder1/folder2/test-file-6474e156-c764-c48c-f436-c4d597bb45b9?sv=Sanitized&se=2025-05-08T00%3A20%3A30Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-d7a8443e-35e5-9ad2-4c33-a6ce91114e15/destFolder/folder0/test-file-1ede4a59-aae4-ac02-0485-63f21e243108?sv=Sanitized&se=2025-05-08T00%3A20%3A30Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-07T00:20:30.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFCFAE04F23\"",
        "Last-Modified": "Wed, 07 May 2025 00:20:32 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-07T00:20:32.5130019Z",
        "x-ms-file-creation-time": "2025-05-07T00:20:30.0000000Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-05-07T00:20:32.3840754Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-d7a8443e-35e5-9ad2-4c33-a6ce91114e15/destFolder/folder0/folder1/test-file-26ade1c7-da12-a0be-d1f0-3f356d1a1584?sv=Sanitized&se=2025-05-08T00%3A20%3A30Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-f41b2562-e7a8-0c85-dac8-2f5a21651bb8/sourceFolder/folder0/folder1/test-file-26ade1c7-da12-a0be-d1f0-3f356d1a1584",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFCFAE752FF\"",
        "Last-Modified": "Wed, 07 May 2025 00:20:32 GMT",
        "x-ms-content-crc64": "/ED6kpHKvu4=",
        "x-ms-file-last-write-time": "2025-05-07T00:20:32.4970111Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-d7a8443e-35e5-9ad2-4c33-a6ce91114e15/destFolder/folder0/folder1/folder2/test-file-6474e156-c764-c48c-f436-c4d597bb45b9?sv=Sanitized&se=2025-05-08T00%3A20%3A30Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-f41b2562-e7a8-0c85-dac8-2f5a21651bb8/sourceFolder/folder0/folder1/folder2/test-file-6474e156-c764-c48c-f436-c4d597bb45b9",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFCFAEBBF2A\"",
        "Last-Modified": "Wed, 07 May 2025 00:20:32 GMT",
        "x-ms-content-crc64": "C5Aqwi3Mehg=",
        "x-ms-file-last-write-time": "2025-05-07T00:20:32.5239958Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-d7a8443e-35e5-9ad2-4c33-a6ce91114e15/destFolder/folder0/folder1/test-file-26ade1c7-da12-a0be-d1f0-3f356d1a1584?sv=Sanitized&se=2025-05-08T00%3A20%3A30Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-07T00:20:30.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFCFAEE2FCF\"",
        "Last-Modified": "Wed, 07 May 2025 00:20:32 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-07T00:20:32.6039503Z",
        "x-ms-file-creation-time": "2025-05-07T00:20:30.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-05-07T00:20:32.4970111Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-d7a8443e-35e5-9ad2-4c33-a6ce91114e15/destFolder/folder0/folder1/folder2/test-file-6474e156-c764-c48c-f436-c4d597bb45b9?sv=Sanitized&se=2025-05-08T00%3A20%3A30Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-07T00:20:30.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFCFAF274F2\"",
        "Last-Modified": "Wed, 07 May 2025 00:20:32 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-07T00:20:32.6319346Z",
        "x-ms-file-creation-time": "2025-05-07T00:20:30.0000000Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2025-05-07T00:20:32.5239958Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f41b2562-e7a8-0c85-dac8-2f5a21651bb8?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBo[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-d7a8443e-35e5-9ad2-4c33-a6ce91114e15/destFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 00:20:32 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-d7a8443e-35e5-9ad2-4c33-a6ce91114e15\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>folder0</Name><FileId>11529285414812647424</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-d7a8443e-35e5-9ad2-4c33-a6ce91114e15/destFolder/folder0?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 00:20:32 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-d7a8443e-35e5-9ad2-4c33-a6ce91114e15\" DirectoryPath=\"destFolder/folder0\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>folder1</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-1ede4a59-aae4-ac02-0485-63f21e243108</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-d7a8443e-35e5-9ad2-4c33-a6ce91114e15/destFolder/folder0/folder1?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 00:20:32 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-d7a8443e-35e5-9ad2-4c33-a6ce91114e15\" DirectoryPath=\"destFolder/folder0/folder1\"><DirectoryId>16140971433240035328</DirectoryId><Entries><Directory><Name>folder2</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>test-file-26ade1c7-da12-a0be-d1f0-3f356d1a1584</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-d7a8443e-35e5-9ad2-4c33-a6ce91114e15/destFolder/folder0/folder1/folder2?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 00:20:33 GMT",
        "x-ms-version": "2025-07-05"
      },
[...]
