{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4f8d661c-57ca-309b-b22f-08b2f7ffbc89?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1506A77676\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:11:44 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-65257e21-9d28-d583-35d0-0e0f25d20cd2?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:11:44 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1506B0FF56\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:11:44 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4f8d661c-57ca-309b-b22f-08b2f7ffbc89/sourceFolder/folder0/test-file-467aa85e-3692-a8e2-06eb-cbe84f5f0857",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1506BA4121\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:11:44 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4f8d661c-57ca-309b-b22f-08b2f7ffbc89/sourceFolder/folder0/test-file-467aa85e-3692-a8e2-06eb-cbe84f5f0857?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "vfQgNCpmF+jlE7eTazZgQE8RxSRjzIe4Df+fzyWUMH7DtoTlOLsR+JCRYX5+TjzQioqZPprj8/BsaCcqxkjCUOM50LWyewiUAM2T0moJOb7Dz0Sb+/Lk38KTeM+T5zFHzxGbRX6HHg6BBT3MTyGFYy5oZ/cDJlTwVfDyHgM4ABmbTAJZbfRAO7E1Gva0F4+gDhSgK386Q6i8qvCNlf8LSAQkMAMfLPY6JytFzQxdOz1hUQ/umNSZYQhZnMIEs6axKtHxkOaMgeIdZgNU9HWcXm+yLEPwHLAwis/7xY8zNnSFlKM7bKpX1M8t0THQRWySvT1TUYdiwQ0gwQUWkLxS6i+PzmDSYfLEW1dzwkt+X0ViaQdR4OXtItOVGqqlQEMT2ucCQXYMv1xLjvUv7v7ComG/tCe0AAl[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-65257e21-9d28-d583-35d0-0e0f25d20cd2/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:11:44 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1506CCA8F8\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:11:44 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-03-07T01:11:44.6250744Z",
        "x-ms-file-creation-time": "2025-03-07T01:11:44.6250744Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-03-07T01:11:44.6250744Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4f8d661c-57ca-309b-b22f-08b2f7ffbc89?restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-4f8d661c-57ca-309b-b22f-08b2f7ffbc89\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/folder0/test-file-467aa85e-3692-a8e2-06eb-cbe84f5f0857</Name><Properties><Creation-Time>Fri, 07 Mar 2025 01:11:44 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 01:11:44 GMT</Last-Modified><Etag>0x8DD5D1506C337BC</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-65257e21-9d28-d583-35d0-0e0f25d20cd2/destFolder/folder0?sv=Sanitized&se=2025-03-08T01%3A11%3A44Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1506E1EDC0\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:11:44 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-03-07T01:11:44.7644608Z",
        "x-ms-file-creation-time": "2025-03-07T01:11:44.7644608Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-03-07T01:11:44.7644608Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-65257e21-9d28-d583-35d0-0e0f25d20cd2/destFolder/folder0/test-file-467aa85e-3692-a8e2-06eb-cbe84f5f0857?sv=Sanitized&se=2025-03-08T01%3A11%3A44Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-65257e21-9d28-d583-35d0-0e0f25d20cd2/destFolder/folder0/test-file-467aa85e-3692-a8e2-06eb-cbe84f5f0857?sv=Sanitized&se=2025-03-08T01%3A11%3A44Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-03-07T01:11:44.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1507F0A621\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:11:46 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:11:46.5386529Z",
        "x-ms-file-creation-time": "2025-03-07T01:11:44.0000000Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-03-07T01:11:46.5386529Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-65257e21-9d28-d583-35d0-0e0f25d20cd2/destFolder/folder0/test-file-467aa85e-3692-a8e2-06eb-cbe84f5f0857?sv=Sanitized&se=2025-03-08T01%3A11%3A44Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-4f8d661c-57ca-309b-b22f-08b2f7ffbc89/sourceFolder/folder0/test-file-467aa85e-3692-a8e2-06eb-cbe84f5f0857",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1507FB487D\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:11:46 GMT",
        "x-ms-content-crc64": "iTyk826AKWs=",
        "x-ms-file-last-write-time": "2025-03-07T01:11:46.5386529Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-65257e21-9d28-d583-35d0-0e0f25d20cd2/destFolder/folder0/test-file-467aa85e-3692-a8e2-06eb-cbe84f5f0857?sv=Sanitized&se=2025-03-08T01%3A11%3A44Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-03-07T01:11:44.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D150803A389\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:11:46 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:11:46.6631049Z",
        "x-ms-file-creation-time": "2025-03-07T01:11:44.0000000Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-03-07T01:11:46.5386529Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4f8d661c-57ca-309b-b22f-08b2f7ffbc89?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-65257e21-9d28-d583-35d0-0e0f25d20cd2/destFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:11:46 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-65257e21-9d28-d583-35d0-0e0f25d20cd2\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>folder0</Name><FileId>11529285414812647424</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-65257e21-9d28-d583-35d0-0e0f25d20cd2/destFolder/folder0?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:11:46 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-65257e21-9d28-d583-35d0-0e0f25d20cd2\" DirectoryPath=\"destFolder/folder0\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-467aa85e-3692-a8e2-06eb-cbe84f5f0857</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4f8d661c-57ca-309b-b22f-08b2f7ffbc89/sourceFolder/folder0/test-file-467aa85e-3692-a8e2-06eb-cbe84f5f0857",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D1506C337BC\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:11:44 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 01:11:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-65257e21-9d28-d583-35d0-0e0f25d20cd2/destFolder/folder0/test-file-467aa85e-3692-a8e2-06eb-cbe84f5f0857",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:11:47 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D150803A389\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:11:46 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:11:46.6631049Z",
        "x-ms-file-creation-time": "2025-03-07T01:11:44.0000000Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-03-07T01:11:46.5386529Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4f8d661c-57ca-309b-b22f-08b2f7ffbc89/sourceFolder/folder0/test-file-467aa85e-3692-a8e2-06eb-cbe84f5f0857",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5D1506C337BC\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D1506C337BC\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:11:44 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 01:11:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-65257e21-9d28-d583-35d0-0e0f25d20cd2?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:11:47 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4f8d661c-57ca-309b-b22f-08b2f7ffbc89?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T17:11:44.6729370-08:00",
    "RandomSeed": "1063858042",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
