{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com//language/analyze-conversations/jobs?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "conversations": [
            {
              "modality": "text",
              "id": "Sanitized",
              "language": "en",
              "conversationItems": [
                {
                  "id": "Sanitized",
                  "participantId": "Agent_1",
                  "text": "Can you provide your name?"
                },
                {
                  "id": "Sanitized",
                  "participantId": "Customer_1",
                  "text": "Hi, my name is John Doe."
                },
                {
                  "id": "Sanitized",
                  "participantId": "Agent_1",
                  "text": "Thank you John, that has been updated in our system."
                }
              ]
            }
          ]
        },
        "tasks": [
          {
            "kind": "ConversationalPIITask",
            "parameters": {
              "redactionPolicy": {
                "policyKind": "noMask"
              }
            },
            "taskName": "Conversation PII with No Mask Policy"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "fake_resource.servicebus.windows.net/language/analyze-conversations/jobs/48663620-0a13-4f65-94e9-3b4234d3f727?api-version=2025-05-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/analyze-conversations/jobs/48663620-0a13-4f65-94e9-3b4234d3f727?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "48663620-0a13-4f65-94e9-3b4234d3f727",
        "lastUpdatedDateTime": "2025-08-18T06:38:18Z",
        "createdDateTime": "2025-08-18T06:38:18Z",
        "expirationDateTime": "2025-08-19T06:38:18Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/analyze-conversations/jobs/48663620-0a13-4f65-94e9-3b4234d3f727?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "48663620-0a13-4f65-94e9-3b4234d3f727",
        "lastUpdatedDateTime": "2025-08-18T06:38:19Z",
        "createdDateTime": "2025-08-18T06:38:18Z",
        "expirationDateTime": "2025-08-19T06:38:18Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "conversationalPIIResults",
              "taskName": "Conversation PII with No Mask Policy",
              "lastUpdateDateTime": "2025-08-18T06:38:19.5756503Z",
              "status": "succeeded",
              "results": {
                "conversations": [
                  {
                    "id": "Sanitized",
                    "conversationItems": [
                      {
                        "id": "Sanitized",
                        "redactedContent": {
                          "text": "Can you provide your name?"
                        },
                        "entities": []
                      },
                      {
                        "id": "Sanitized",
                        "redactedContent": {
                          "text": "Hi, my name is John Doe."
                        },
                        "entities": [
                          {
                            "text": "John Doe",
                            "category": "Person",
                            "offset": 15,
                            "length": 8,
                            "confidenceScore": 0.89
                          }
                        ]
                      },
                      {
                        "id": "Sanitized",
                        "redactedContent": {
                          "text": "Thank you John, that has been updated in our system."
                        },
                        "entities": [
                          {
                            "text": "John",
                            "category": "Person",
                            "offset": 10,
                            "length": 4,
                            "confidenceScore": 0.95
                          }
                        ]
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2025-02-01"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
