{
  "Entries": [
    {
      "RequestUri": "https://test-resource.api.cognitive.microsoft.com/language/analyze-conversations/jobs?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "0000000000000000"
      },
      "RequestBody": {
        "displayName": "Analyze PII in conversation",
        "analysisInput": {
          "conversations": [
            {
              "conversationItems": [
                {
                  "id": "1",
                  "participantId": "0",
                  "modality": "transcript",
                  "text": "It is john doe.",
                  "lexical": "It is john doe",
                  "itn": "It is john doe",
                  "maskedItn": "It is john doe"
                },
                {
                  "id": "2",
                  "participantId": "1",
                  "modality": "transcript",
                  "text": "Yes, 633-27-8199 is my phone",
                  "lexical": "yes six three three two seven eight one nine nine is my phone",
                  "itn": "yes 633278199 is my phone",
                  "maskedItn": "yes 633278199 is my phone"
                },
                {
                  "id": "3",
                  "participantId": "1",
                  "modality": "transcript",
                  "text": "j.doe@yahoo.com is my email",
                  "lexical": "j dot doe at yahoo dot com is my email",
                  "maskedItn": "j.doe@yahoo.com is my email",
                  "itn": "j.doe@yahoo.com is my email"
                }
              ],
              "modality": "transcript",
              "id": "1",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "kind": "ConversationalPIITask",
            "parameters": {
              "redactionSource": "lexical",
              "piiCategories": [
                "all"
              ]
            }
          }
        ]
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequest",
          "message": "Invalid task in analysisInput",
          "innererror": {
            "code": "InvalidRequestBodyFormat",
            "message": "The given value of \u0027kind\u0027 is not supported for API version 2023-04-01.  Possible values include: ConversationalSummarizationTask"
          }
        }
      }
    }
  ],
  "Variables": {}
}
