{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics/test_metric_fixed_id?api-version=2025-05-31-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "lifecycle": "Active",
        "displayName": "Test Metric test_metric_fixed_id",
        "description": "A metric created for testing purposes (test_metric_fixed_id)",
        "categories": [
          "Test"
        ],
        "desiredDirection": "Increase",
        "definition": {
          "type": "EventCount",
          "event": {
            "eventName": "TestEvent"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"UeSbbGIPX0g=\"",
        "Last-Modified": "Thu, 08 May 2025 00:48:53 GMT",
        "mise-correlation-id": "988919ec-e9bb-4b2b-b1e8-9c360bf9a4ca"
      },
      "ResponseBody": {
        "lifecycle": "Active",
        "desiredDirection": "Increase",
        "id": "Sanitized",
        "displayName": "Test Metric test_metric_fixed_id",
        "description": "A metric created for testing purposes (test_metric_fixed_id)",
        "categories": [
          "Test"
        ],
        "definition": {
          "event": {
            "eventName": "TestEvent"
          },
          "type": "EventCount"
        },
        "eTag": "\"UeSbbGIPX0g=\"",
        "lastModifiedAt": "2025-05-08T00:48:53.5845198+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics?api-version=2025-05-31-preview&top=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "9ce1d0be-d939-4adf-b990-0129641a613b"
      },
      "ResponseBody": {
        "value": [
          {
            "lifecycle": "Active",
            "desiredDirection": "Neutral",
            "id": "Sanitized",
            "displayName": "Number of GenAI spans",
            "description": "The number of GenAI spans. This is an approximation of the number of total GenAI requests made.",
            "categories": [
              "GenAI",
              "Usage",
              "Standard: genai operational"
            ],
            "definition": {
              "event": {
                "eventName": "gen_ai.otel.span"
              },
              "type": "EventCount"
            },
            "eTag": "\"0bnlMxxIu9M=\"",
            "lastModifiedAt": "2025-05-07T05:25:03.6931742+00:00"
          },
          {
            "lifecycle": "Active",
            "desiredDirection": "Increase",
            "id": "Sanitized",
            "displayName": "New Test Metric",
            "description": "A metric created for testing purposes",
            "categories": [
              "Test"
            ],
            "definition": {
              "event": {
                "eventName": "TestEvent"
              },
              "type": "EventCount"
            },
            "eTag": "\"5JFo/zmDvSA=\"",
            "lastModifiedAt": "2025-05-07T15:54:55.1356203+00:00"
          }
        ],
        "nextLink": "https://fake_workspaceId.eastus2.exp.azure.net/experiment-metrics?api-version=2025-05-31-preview&top=2&skip=2"
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics?api-version=2025-05-31-preview&top=2&skip=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d79f4a66-85b5-40c5-8809-ca89aca398ba"
      },
      "ResponseBody": {
      [...]
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics?api-version=2025-05-31-preview&top=2&skip=22",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "cd175aef-0feb-4647-a1ab-13282dabe80e"
      },
      "ResponseBody": {
        "value": [
          {
            "lifecycle": "Active",
            "desiredDirection": "Increase",
            "id": "Sanitized",
            "displayName": "If-None-Match Test Metric",
            "description": "A metric created with If-None-Match header",
            "categories": [
              "Test",
              "Conditional"
            ],
            "definition": {
              "event": {
                "eventName": "ConditionalCreateEvent"
              },
              "type": "EventCount"
            },
            "eTag": "\"Z7GgLmCOJuk=\"",
            "lastModifiedAt": "2025-05-08T00:48:37.3838144+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
