{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics/test_create_if_not_exists?api-version=2025-05-31-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "mise-correlation-id": "8db1b581-ac71-4b48-84ca-4d1656322017"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics/test_create_if_not_exists?api-version=2025-05-31-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "lifecycle": "Active",
        "displayName": "If-None-Match Test Metric",
        "description": "A metric created with If-None-Match header",
        "categories": [
          "Test",
          "Conditional"
        ],
        "desiredDirection": "Increase",
        "definition": {
          "type": "EventCount",
          "event": {
            "eventName": "ConditionalCreateEvent"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"Z7GgLmCOJuk=\"",
        "Last-Modified": "Thu, 08 May 2025 00:08:54 GMT",
        "Location": "https://example.com",
        "mise-correlation-id": "54aff018-699c-4abd-9ff9-ec9b51f34940"
      },
      "ResponseBody": {
        "lifecycle": "Active",
        "desiredDirection": "Increase",
        "id": "Sanitized",
        "displayName": "If-None-Match Test Metric",
        "description": "A metric created with If-None-Match header",
        "categories": [
          "Test",
          "Conditional"
        ],
        "definition": {
          "event": {
            "eventName": "ConditionalCreateEvent"
          },
          "type": "EventCount"
        },
        "eTag": "\"Z7GgLmCOJuk=\"",
        "lastModifiedAt": "2025-05-08T00:08:54.4930185+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics/test_create_if_not_exists?api-version=2025-05-31-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "lifecycle": "Active",
        "displayName": "This should not be updated",
        "description": "This update should fail",
        "categories": [
          "Test"
        ],
        "desiredDirection": "Increase",
        "definition": {
          "type": "EventCount",
          "event": {
            "eventName": "TestEvent"
          }
        }
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "6b1172e3-7d8d-47da-9a95-055f4efcb8d0",
        "x-ms-error-code": "ConditionNotMet"
      },
      "ResponseBody": {
        "error": {
          "code": "ConditionNotMet",
          "message": "The condition specified in the If-None-Match request header was not met.",
          "target": null,
          "details": [],
          "innerError": null
        }
      }
    }
  ],
  "Variables": {}
}
