{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics/test_metric_fixed_id?api-version=2025-05-31-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "lifecycle": "Active",
        "displayName": "Test Metric test_metric_fixed_id",
        "description": "A metric created for testing purposes (test_metric_fixed_id)",
        "categories": [
          "Test"
        ],
        "desiredDirection": "Increase",
        "definition": {
          "type": "EventCount",
          "event": {
            "eventName": "TestEvent"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"UeSbbGIPX0g=\"",
        "Last-Modified": "Thu, 08 May 2025 04:22:47 GMT",
        "Location": "https://example.com",
        "mise-correlation-id": "d3a2e92e-5418-4268-b61e-d67cb2778dd9"
      },
      "ResponseBody": {
        "lifecycle": "Active",
        "desiredDirection": "Increase",
        "id": "test_metric_fixed_id",
        "displayName": "Test Metric test_metric_fixed_id",
        "description": "A metric created for testing purposes (test_metric_fixed_id)",
        "categories": [
          "Test"
        ],
        "definition": {
          "event": {
            "eventName": "TestEvent"
          },
          "type": "EventCount"
        },
        "eTag": "\"UeSbbGIPX0g=\"",
        "lastModifiedAt": "2025-05-08T04:22:47.2974058+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics/test_metric_fixed_id?api-version=2025-05-31-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "If-Match": "\"UeSbbGIPX0g=\""
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "mise-correlation-id": "8b210c30-8463-4fd1-a685-b6aafe6f1832"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics/test_metric_fixed_id?api-version=2025-05-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d572ba39-d85d-4610-8ac2-25e1b5128333",
        "x-ms-error-code": "NotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "Metric not found",
          "target": "test_metric_fixed_id",
          "details": [],
          "innerError": null
        }
      }
    }
  ],
  "Variables": {}
}
