{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics:validate?api-version=2025-05-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lifecycle": "Active",
        "displayName": "Valid Test Metric",
        "description": "A valid metric for validation testing",
        "categories": [
          "Test",
          "Validation"
        ],
        "desiredDirection": "Increase",
        "definition": {
          "type": "EventCount",
          "event": {
            "eventName": "TestValidationEvent"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "8ad44381-8320-48b6-a139-6cccda7685b4"
      },
      "ResponseBody": {
        "diagnostics": [],
        "isValid": true
      }
    }
  ],
  "Variables": {}
}
