{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics/test_metric_fixed_id?api-version=2025-05-31-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "lifecycle": "Active",
        "displayName": "Test Metric test_metric_fixed_id",
        "description": "A metric created for testing purposes (test_metric_fixed_id)",
        "categories": [
          "Test"
        ],
        "desiredDirection": "Increase",
        "definition": {
          "type": "EventCount",
          "event": {
            "eventName": "TestEvent"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"UeSbbGIPX0g=\"",
        "Last-Modified": "Thu, 08 May 2025 00:09:12 GMT",
        "mise-correlation-id": "6f642ca2-027a-48be-9c9d-b1d66718f901"
      },
      "ResponseBody": {
        "lifecycle": "Active",
        "desiredDirection": "Increase",
        "id": "Sanitized",
        "displayName": "Test Metric test_metric_fixed_id",
        "description": "A metric created for testing purposes (test_metric_fixed_id)",
        "categories": [
          "Test"
        ],
        "definition": {
          "event": {
            "eventName": "TestEvent"
          },
          "type": "EventCount"
        },
        "eTag": "\"UeSbbGIPX0g=\"",
        "lastModifiedAt": "2025-05-08T00:09:12.0152252+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics?api-version=2025-05-31-preview&top=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "46603553-d7ae-4604-8bc7-067161e42e02"
      },
      "ResponseBody": {
        "value": [
          {
            "lifecycle": "Active",
            "desiredDirection": "Neutral",
            "id": "Sanitized",
            "displayName": "Number of GenAI spans",
            "description": "The number of GenAI spans. This is an approximation of the number of total GenAI requests made.",
            "categories": [
              "GenAI",
              "Usage",
              "Standard: genai operational"
            ],
            "definition": {
              "event": {
                "eventName": "gen_ai.otel.span"
              },
              "type": "EventCount"
            },
            "eTag": "\"0bnlMxxIu9M=\"",
            "lastModifiedAt": "2025-05-07T05:25:03.6931742+00:00"
          },
          {
            "lifecycle": "Active",
            "desiredDirection": "Increase",
            "id": "Sanitized",
            "displayName": "New Test Metric",
            "description": "A metric created for testing purposes",
            "categories": [
              "Test"
            ],
            "definition": {
              "event": {
                "eventName": "TestEvent"
              },
              "type": "EventCount"
            },
            "eTag": "\"5JFo/zmDvSA=\"",
            "lastModifiedAt": "2025-05-07T15:54:55.1356203+00:00"
          }
        ],
        "nextLink": "https://fake_workspaceId.fake_region.exp.azure.net/experiment-metrics?api-version=2025-05-31-preview&top=2&skip=2"
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics?api-version=2025-05-31-preview&top=2&skip=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "452176f6-11f2-4a70-aedc-169686ae95ce"
      },
      "ResponseBody": {
      [...]
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics?api-version=2025-05-31-preview&top=2&skip=22",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "bd187df3-3727-4a6f-96ad-c72318905f46"
      },
      "ResponseBody": {
        "value": [
          {
            "lifecycle": "Active",
            "desiredDirection": "Increase",
            "id": "Sanitized",
            "displayName": "Test Metric test_metric_fixed_id",
            "description": "A metric created for testing purposes (test_metric_fixed_id)",
            "categories": [
              "Test"
            ],
            "definition": {
              "event": {
                "eventName": "TestEvent"
              },
              "type": "EventCount"
            },
            "eTag": "\"UeSbbGIPX0g=\"",
            "lastModifiedAt": "2025-05-08T00:09:12.0152252+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
