{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/sms/optouts:remove?api-version=2024-12-10-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 18 Dec 2024 08:56:38 GMT"
      },
      "RequestBody": {
        "from": "Sanitized",
        "recipients": [
          {
            "to": "Sanitized"
          }
        ]
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-10-preview",
        "Content-Type": "application/json",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "6ms"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidInput",
          "message": "Request parameter   is invalid.",
          "target": ""
        }
      }
    }
  ],
  "Variables": {
    "AZURE_PHONE_NUMBER": "+18772125291",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "363610376"
  }
}
