{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/sms/optouts:add?api-version=2024-12-10-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 18 Dec 2024 08:56:50 GMT"
      },
      "RequestBody": {
        "from": "Sanitized",
        "recipients": [
          {
            "to": "Sanitized"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-10-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "197ms"
      },
      "ResponseBody": {
        "value": [
          {
            "to": "Sanitized",
            "httpStatusCode": 200
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/sms/optouts:remove?api-version=2024-12-10-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 18 Dec 2024 08:56:50 GMT"
      },
      "RequestBody": {
        "from": "Sanitized",
        "recipients": [
          {
            "to": "Sanitized"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-10-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "194ms"
      },
      "ResponseBody": {
        "value": [
          {
            "to": "Sanitized",
            "httpStatusCode": 200
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/sms/optouts:check?api-version=2024-12-10-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 18 Dec 2024 08:56:50 GMT"
      },
      "RequestBody": {
        "from": "Sanitized",
        "recipients": [
          {
            "to": "Sanitized"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-10-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "193ms"
      },
      "ResponseBody": {
        "value": [
          {
            "to": "Sanitized",
            "httpStatusCode": 200,
            "isOptedOut": false
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_PHONE_NUMBER": "+18772125291",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "249265308"
  }
}
