{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/sms/optouts:add?api-version=2025-05-29-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 30 May 2025 08:08:55 GMT"
      },
      "RequestBody": {
        "from": "Sanitized",
        "recipients": [
          {
            "to": "Sanitized"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-10-preview, 2025-05-29-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "42ms"
      },
      "ResponseBody": {
        "value": [
          {
            "to": "Sanitized",
            "httpStatusCode": 200
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/sms/optouts:remove?api-version=2025-05-29-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 30 May 2025 08:08:56 GMT"
      },
      "RequestBody": {
        "from": "Sanitized",
        "recipients": [
          {
            "to": "Sanitized"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-10-preview, 2025-05-29-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "82ms"
      },
      "ResponseBody": {
        "value": [
          {
            "to": "Sanitized",
            "httpStatusCode": 200
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/sms/optouts:check?api-version=2025-05-29-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 30 May 2025 08:08:56 GMT"
      },
      "RequestBody": {
        "from": "Sanitized",
        "recipients": [
          {
            "to": "Sanitized"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-10-preview, 2025-05-29-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "43ms"
      },
      "ResponseBody": {
        "value": [
          {
            "to": "Sanitized",
            "httpStatusCode": 200,
            "isOptedOut": false
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_PHONE_NUMBER": "+18335472834",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "2101841149"
  }
}
