{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.unitedstates.communication.azure.com/sms?api-version=2024-02-05-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 21 Mar 2024 10:55:15 GMT"
      },
      "RequestBody": {
        "from": "Sanitized",
        "smsRecipients": [
          {
            "to": "Sanitized",
            "repeatabilityRequestId": "Sanitized",
            "repeatabilityFirstSent": "Sanitized"
          },
          {
            "to": "Sanitized",
            "repeatabilityRequestId": "Sanitized",
            "repeatabilityFirstSent": "Sanitized"
          }
        ],
        "message": "Hi",
        "smsSendOptions": {
          "enableDeliveryReport": true,
          "tag": "marketing",
          "deliveryReportTimeoutInSeconds": 90
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview, 2024-02-05-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "u9q7gxHEtkCq7Y59Nsf3aA.0",
        "X-Processing-Time": "192ms"
      },
      "ResponseBody": {
        "value": [
          {
            "to": "Sanitized",
            "messageId": "Outgoing_202403211055153ad01d1c-d11b-459e-82c6-a2145deb6c52_noam",
            "httpStatusCode": 202,
            "repeatabilityResult": "accepted",
            "successful": true
          },
          {
            "to": "Sanitized",
            "messageId": "Outgoing_20240321105515cc4ba4ce-cd8b-471d-ad10-c36ebdb5289d_noam",
            "httpStatusCode": 202,
            "repeatabilityResult": "accepted",
            "successful": true
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_PHONE_NUMBER": "\u002B18335521761",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "317481773"
  }
}
