{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/sms?api-version=2024-12-10-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 27 Nov 2024 14:30:45 GMT"
      },
      "RequestBody": {
        "from": "Sanitized",
        "smsRecipients": [
          {
            "to": "Sanitized",
            "repeatabilityRequestId": "Sanitized",
            "repeatabilityFirstSent": "Sanitized"
          },
          {
            "to": "Sanitized",
            "repeatabilityRequestId": "Sanitized",
            "repeatabilityFirstSent": "Sanitized"
          }
        ],
        "message": "Hi",
        "smsSendOptions": {
          "enableDeliveryReport": true,
          "tag": "marketing",
          "deliveryReportTimeoutInSeconds": 90
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview, 2024-02-05-preview, 2024-12-10-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "269ms"
      },
      "ResponseBody": {
        "value": [
          {
            "to": "Sanitized",
            "messageId": "2024-11-27T14:30:45_87e6a9f3-c24c-4759-9133-b167efedf6e4_prod_eur_westeurope_outgoing-mms",
            "httpStatusCode": 202,
            "repeatabilityResult": "accepted",
            "successful": true
          },
          {
            "to": "Sanitized",
            "messageId": "2024-11-27T14:30:45_564faede-752f-4d1a-9a89-6c12f9f11df7_prod_eur_switzerlandnorth_outgoing-mms",
            "httpStatusCode": 202,
            "repeatabilityResult": "accepted",
            "successful": true
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_PHONE_NUMBER": "+18335472834",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1362738038"
  }
}
