{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.unitedstates.communication.azure.com/sms?api-version=2024-02-05-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "from": "Sanitized",
        "smsRecipients": [
          {
            "to": "Sanitized",
            "repeatabilityRequestId": "Sanitized",
            "repeatabilityFirstSent": "Sanitized"
          }
        ],
        "message": "Hi"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview, 2024-02-05-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "r3T\u002BlxxgvU\u002BWUhZPd3sZFQ.0",
        "X-Processing-Time": "133ms"
      },
      "ResponseBody": {
        "value": [
          {
            "to": "Sanitized",
            "messageId": "Outgoing_2024032111025753e45f71-3cfc-49e9-acfe-070c144d702a_noam",
            "httpStatusCode": 202,
            "repeatabilityResult": "accepted",
            "successful": true
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_PHONE_NUMBER": "\u002B18335521761",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://smstestapp.unitedstates.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "723138457"
  }
}
