{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/sms?api-version=2025-05-29-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 30 May 2025 07:15:56 GMT"
      },
      "RequestBody": {
        "from": "Sanitized",
        "smsRecipients": [
          {
            "to": "Sanitized",
            "repeatabilityRequestId": "Sanitized",
            "repeatabilityFirstSent": "Sanitized"
          },
          {
            "to": "Sanitized",
            "repeatabilityRequestId": "Sanitized",
            "repeatabilityFirstSent": "Sanitized"
          }
        ],
        "message": "Hi",
        "smsSendOptions": {
          "enableDeliveryReport": true,
          "tag": "marketing",
          "deliveryReportTimeoutInSeconds": 90
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview, 2024-02-05-preview, 2024-12-10-preview, 2024-12-19-privatepreview, 2025-05-29-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "59ms"
      },
      "ResponseBody": {
        "value": [
          {
            "to": "Sanitized",
            "messageId": "312f9c22-28d7-42ab-a29c-2f31d728ab72",
            "httpStatusCode": 202,
            "repeatabilityResult": "accepted",
            "successful": true
          },
          {
            "to": "Sanitized",
            "messageId": "cca2c38d-d51e-41d6-8dc3-a2cc1ed5d6e1",
            "httpStatusCode": 202,
            "repeatabilityResult": "accepted",
            "successful": true
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_PHONE_NUMBER": "+18335472834",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "310968167"
  }
}
