{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/face/v1.2-preview.1/detectLivenessWithVerify/singleModal/sessions/4f418924-6092-4332-a24a-30790092b0e6/audit",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": "[{\"id\":2,\"sessionId\":\"4f418924-6092-4332-a24a-30790092b0e6\",\"requestId\":\"46d94c1d-f519-4702-a416-0bc0a04c5218\",\"receivedDateTime\":\"2024-04-18T08:48:53.6193575+00:00\",\"request\":{\"url\":\"/face/v1.2-preview.1/detectLivenessWithVerify/singleModal\",\"method\":\"POST\",\"contentLength\":1358601,\"contentType\":\"multipart/form-data; boundary=--------------------------154024349300168487268618\",\"userAgent\":\"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36 Edg/124.0.0.0\"},\"response\":{\"body\":{\"livenessDecision\":\"spoofface\",\"target\":{\"faceRectangle\":{\"top\":782,\"left\":260,\"width\":858,\"height\":984},\"fileName\":\"video.webp\",\"timeOffsetWithinFile\":0,\"imageType\":\"Color\"},\"modelVersionUsed\":\"2022-10-15-preview.04\",\"verifyResult\":{\"verifyImage\":{\"faceRectangle\":{\"top\":302,\"left\":93,\"width\":601,\"height\":681},\"qualityForRecognition\":\"high\"},\"matchConfidence\":0.99736166,\"isIdentical\":true}},\"statusCode\":200,\"latencyInMilliseconds\":1425},\"digest\":\"AF7AF4C6B49861F330104A87EAC1D7EADA5AA2143435E80AEA1F93E58B07CF7A\"},{\"id\":1,\"sessionId\":\"4f418924-6092-4332-a24a-30790092b0e6\",\"requestId\":\"291147d4-ad7d-45ea-ba67-a22d959f528a\",\"receivedDateTime\":\"2024-04-18T08:48:38.4940472+00:00\",\"request\":{\"url\":\"/face/v1.2-preview.1/detectLivenessWithVerify/singleModal\",\"method\":\"POST\",\"contentLength\":1358601,\"contentType\":\"multipart/form-data; boundary=--------------------------154024349300168487268618\",\"userAgent\":\"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36 Edg/124.0.0.0\"},\"response\":{\"body\":{\"livenessDecision\":\"spoofface\",\"target\":{\"faceRectangle\":{\"top\":782,\"left\":260,\"width\":858,\"height\":984},\"fileName\":\"video.webp\",\"timeOffsetWithinFile\":0,\"imageType\":\"Color\"},\"modelVersionUsed\":\"2022-10-15-preview.04\",\"verifyResult\":{\"verifyImage\":{\"faceRectangle\":{\"top\":302,\"left\":93,\"width\":601,\"height\":681},\"qualityForRecognition\":\"high\"},\"matchConfidence\":0.99736166,\"isIdentical\":true}},\"statusCode\":200,\"latencyInMilliseconds\":889},\"digest\":\"AE222AEDB3453E14F1EB746CC0EAFF2DA0D31444771B50C5EF3BD138903BE1A7\"}]"
    }
  ],
  "Variables": {
    "sessionId": "4f418924-6092-4332-a24a-30790092b0e6"
  }
}
