{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.queue.core.windows.net/goqservicelistqueuespagination1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 27 Jan 2023 23:27:02 GMT",
        "x-ms-version": "2018-03-28"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2018-03-28"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.queue.core.windows.net/?comp=list\u0026maxresults=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 27 Jan 2023 23:27:02 GMT",
        "x-ms-version": "2018-03-28"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2018-03-28"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://tamerdevtest.queue.core.windows.net/\u0022\u003E\u003CMaxResults\u003E1\u003C/MaxResults\u003E\u003CQueues\u003E\u003CQueue\u003E\u003CName\u003Edwffdwvfe7c4709d4\u003C/Name\u003E\u003C/Queue\u003E\u003C/Queues\u003E\u003CNextMarker\u003E/tamerdevtest/dwfwvdvfe7c4709d4\u003C/NextMarker\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://fakestorage.queue.core.windows.net/?comp=list\u0026marker=%2Ftamerdevtest%2Fdwfwvdvfe7c4709d4\u0026maxresults=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 27 Jan 2023 23:27:02 GMT",
        "x-ms-version": "2018-03-28"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2018-03-28"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://tamerdevtest.queue.core.windows.net/\u0022\u003E\u003CMarker\u003E/tamerdevtest/dwfwvdvfe7c4709d4\u003C/Marker\u003E\u003CMaxResults\u003E1\u003C/MaxResults\u003E\u003CQueues\u003E\u003CQueue\u003E\u003CName\u003Edwfwvdvfe7c4709d4\u003C/Name\u003E\u003C/Queue\u003E\u003C/Queues\u003E\u003CNextMarker\u003E/tamerdevtest/dwfwvfddvhgdsdsfe7c4709d4\u003C/NextMarker\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://fakestorage.queue.core.windows.net/?comp=list\u0026marker=%2Ftamerdevtest%2Fdwfwvfddvhgdsdsfe7c4709d4\u0026maxresults=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 27 Jan 2023 23:27:03 GMT",
        "x-ms-version": "2018-03-28"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2018-03-28"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://tamerdevtest.queue.core.windows.net/\u0022\u003E\u003CMarker\u003E/tamerdevtest/dwfwvfddvhgdsdsfe7c4709d4\u003C/Marker\u003E\u003CMaxResults\u003E1\u003C/MaxResults\u003E\u003CQueues\u003E\u003CQueue\u003E\u003CName\u003Edwfwvfddvhgdsdsfe7c4709d4\u003C/Name\u003E\u003C/Queue\u003E\u003C/Queues\u003E\u003CNextMarker\u003E/tamerdevtest/fwve7c4709d4\u003C/NextMarker\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://fakestorage.queue.core.windows.net/?comp=list\u0026marker=%2Ftamerdevtest%2Ffwve7c4709d4\u0026maxresults=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 27 Jan 2023 23:27:03 GMT",
        "x-ms-version": "2018-03-28"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2018-03-28"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://tamerdevtest.queue.core.windows.net/\u0022\u003E\u003CMarker\u003E/tamerdevtest/fwve7c4709d4\u003C/Marker\u003E\u003CMaxResults\u003E1\u003C/MaxResults\u003E\u003CQueues\u003E\u003CQueue\u003E\u003CName\u003Efwve7c4709d4\u003C/Name\u003E\u003C/Queue\u003E\u003C/Queues\u003E\u003CNextMarker\u003E/tamerdevtest/goqservicecreatequeue\u003C/NextMarker\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://fakestorage.queue.core.windows.net/?comp=list\u0026marker=%2Ftamerdevtest%2Fgoqservicecreatequeue\u0026maxresults=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 27 Jan 2023 23:27:03 GMT",
        "x-ms-version": "2018-03-28"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2018-03-28"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://tamerdevtest.queue.core.windows.net/\u0022\u003E\u003CMarker\u003E/tamerdevtest/goqservicecreatequeue\u003C/Marker\u003E\u003CMaxResults\u003E1\u003C/MaxResults\u003E\u003CQueues\u003E\u003CQueue\u003E\u003CName\u003Egoqservicelistqueuespagination1\u003C/Name\u003E\u003C/Queue\u003E\u003C/Queues\u003E\u003CNextMarker\u003E/tamerdevtest/goqservicelistqueuespagination2\u003C/NextMarker\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://fakestorage.queue.core.windows.net/?comp=list\u0026marker=%2Ftamerdevtest%2Fgoqservicelistqueuespagination2\u0026maxresults=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 27 Jan 2023 23:27:03 GMT",
        "x-ms-version": "2018-03-28"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2018-03-28"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://tamerdevtest.queue.core.windows.net/\u0022\u003E\u003CMarker\u003E/tamerdevtest/goqservicelistqueuespagination2\u003C/Marker\u003E\u003CMaxResults\u003E1\u003C/MaxResults\u003E\u003CQueues\u003E\u003CQueue\u003E\u003CName\u003Egoqservicelistqueuespagination2\u003C/Name\u003E\u003C/Queue\u003E\u003C/Queues\u003E\u003CNextMarker\u003E/tamerdevtest/goqservicelistqueuespagination3\u003C/NextMarker\u003E\u003C/EnumerationResults\u003E"
    },
[...]
    {
      "RequestUri": "https://fakestorage.queue.core.windows.net/?comp=list\u0026marker=%2Ftamerdevtest%2Fgoqservicelistqueueswithmetadata\u0026maxresults=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 27 Jan 2023 23:27:03 GMT",
        "x-ms-version": "2018-03-28"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2018-03-28"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://tamerdevtest.queue.core.windows.net/\u0022\u003E\u003CMarker\u003E/tamerdevtest/goqservicelistqueueswithmetadata\u003C/Marker\u003E\u003CMaxResults\u003E1\u003C/MaxResults\u003E\u003CQueues\u003E\u003CQueue\u003E\u003CName\u003Emynvcbfdfdquefdvfdhffue\u003C/Name\u003E\u003C/Queue\u003E\u003C/Queues\u003E\u003CNextMarker\u003E/tamerdevtest/mynvcbfdquefdvfdhffue\u003C/NextMarker\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://fakestorage.queue.core.windows.net/?comp=list\u0026marker=%2Ftamerdevtest%2Fmynvcbfdquefdvfdhffue\u0026maxresults=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 27 Jan 2023 23:27:03 GMT",
        "x-ms-version": "2018-03-28"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2018-03-28"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://tamerdevtest.queue.core.windows.net/\u0022\u003E\u003CMarker\u003E/tamerdevtest/mynvcbfdquefdvfdhffue\u003C/Marker\u003E\u003CMaxResults\u003E1\u003C/MaxResults\u003E\u003CQueues\u003E\u003CQueue\u003E\u003CName\u003Emynvcbfdquefdvfdhffue\u003C/Name\u003E\u003C/Queue\u003E\u003C/Queues\u003E\u003CNextMarker\u003E/tamerdevtest/mynvcbquefdvfdhffue\u003C/NextMarker\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://fakestorage.queue.core.windows.net/?comp=list\u0026marker=%2Ftamerdevtest%2Fmynvcbquefdvfdhffue\u0026maxresults=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 27 Jan 2023 23:27:03 GMT",
        "x-ms-version": "2018-03-28"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2018-03-28"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://tamerdevtest.queue.core.windows.net/\u0022\u003E\u003CMarker\u003E/tamerdevtest/mynvcbquefdvfdhffue\u003C/Marker\u003E\u003CMaxResults\u003E1\u003C/MaxResults\u003E\u003CQueues\u003E\u003CQueue\u003E\u003CName\u003Emynvcbquefdvfdhffue\u003C/Name\u003E\u003C/Queue\u003E\u003C/Queues\u003E\u003CNextMarker\u003E/tamerdevtest/mynvcbquevfdhffue\u003C/NextMarker\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://fakestorage.queue.core.windows.net/?comp=list\u0026marker=%2Ftamerdevtest%2Fmynvcbquevfdhffue\u0026maxresults=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 27 Jan 2023 23:27:03 GMT",
        "x-ms-version": "2018-03-28"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2018-03-28"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://tamerdevtest.queue.core.windows.net/\u0022\u003E\u003CMarker\u003E/tamerdevtest/mynvcbquevfdhffue\u003C/Marker\u003E\u003CMaxResults\u003E1\u003C/MaxResults\u003E\u003CQueues\u003E\u003CQueue\u003E\u003CName\u003Emynvcbquevfdhffue\u003C/Name\u003E\u003C/Queue\u003E\u003C/Queues\u003E\u003CNextMarker\u003E/tamerdevtest/myquevhffue\u003C/NextMarker\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://fakestorage.queue.core.windows.net/?comp=list\u0026marker=%2Ftamerdevtest%2Fmyquevhffue\u0026maxresults=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 27 Jan 2023 23:27:03 GMT",
        "x-ms-version": "2018-03-28"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2018-03-28"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://tamerdevtest.queue.core.windows.net/\u0022\u003E\u003CMarker\u003E/tamerdevtest/myquevhffue\u003C/Marker\u003E\u003CMaxResults\u003E1\u003C/MaxResults\u003E\u003CQueues\u003E\u003CQueue\u003E\u003CName\u003Emyquevhffue\u003C/Name\u003E\u003C/Queue\u003E\u003C/Queues\u003E\u003CNextMarker\u003E/tamerdevtest/pyqueuesync665a1100\u003C/NextMarker\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://fakestorage.queue.core.windows.net/?comp=list\u0026marker=%2Ftamerdevtest%2Fpyqueuesync665a1100\u0026maxresults=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 27 Jan 2023 23:27:03 GMT",
        "x-ms-version": "2018-03-28"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2018-03-28"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://tamerdevtest.queue.core.windows.net/\u0022\u003E\u003CMarker\u003E/tamerdevtest/pyqueuesync665a1100\u003C/Marker\u003E\u003CMaxResults\u003E1\u003C/MaxResults\u003E\u003CQueues\u003E\u003CQueue\u003E\u003CName\u003Epyqueuesync665a1100\u003C/Name\u003E\u003C/Queue\u003E\u003C/Queues\u003E\u003CNextMarker\u003E/tamerdevtest/pyqueuesync736a114d\u003C/NextMarker\u003E\u003C/EnumerationResults\u003E"
    },
[...]
    {
      "RequestUri": "https://fakestorage.queue.core.windows.net/?comp=list\u0026marker=%2Ftamerdevtest%2Fqueue-01d031fa-f35c-4cea-b44b-b647d8d48853\u0026maxresults=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 27 Jan 2023 23:27:03 GMT",
        "x-ms-version": "2018-03-28"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2018-03-28"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://tamerdevtest.queue.core.windows.net/\u0022\u003E\u003CMarker\u003E/tamerdevtest/queue-01d031fa-f35c-4cea-b44b-b647d8d48853\u003C/Marker\u003E\u003CMaxResults\u003E1\u003C/MaxResults\u003E\u003CQueues\u003E\u003CQueue\u003E\u003CName\u003Equeue-01d031fa-f35c-4cea-b44b-b647d8d48853\u003C/Name\u003E\u003C/Queue\u003E\u003C/Queues\u003E\u003CNextMarker\u003E/tamerdevtest/test-q\u003C/NextMarker\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://fakestorage.queue.core.windows.net/?comp=list\u0026marker=%2Ftamerdevtest%2Ftest-q\u0026maxresults=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 27 Jan 2023 23:27:04 GMT",
        "x-ms-version": "2018-03-28"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2018-03-28"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://tamerdevtest.queue.core.windows.net/\u0022\u003E\u003CMarker\u003E/tamerdevtest/test-q\u003C/Marker\u003E\u003CMaxResults\u003E1\u003C/MaxResults\u003E\u003CQueues\u003E\u003CQueue\u003E\u003CName\u003Etest-q\u003C/Name\u003E\u003C/Queue\u003E\u003C/Queues\u003E\u003CNextMarker\u003E/tamerdevtest/test1123\u003C/NextMarker\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://fakestorage.queue.core.windows.net/?comp=list\u0026marker=%2Ftamerdevtest%2Ftest1123\u0026maxresults=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 27 Jan 2023 23:27:04 GMT",
        "x-ms-version": "2018-03-28"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2018-03-28"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://tamerdevtest.queue.core.windows.net/\u0022\u003E\u003CMarker\u003E/tamerdevtest/test1123\u003C/Marker\u003E\u003CMaxResults\u003E1\u003C/MaxResults\u003E\u003CQueues\u003E\u003CQueue\u003E\u003CName\u003Etest1123\u003C/Name\u003E\u003C/Queue\u003E\u003C/Queues\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
[...]
    {
      "RequestUri": "https://fakestorage.queue.core.windows.net/goqservicelistqueuespagination3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 27 Jan 2023 23:27:04 GMT",
        "x-ms-version": "2018-03-28"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2018-03-28"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
