{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.queue.core.windows.net/goqpeekmessageswithnummessageslargerthan32",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 09 Feb 2023 05:19:10 GMT",
        "x-ms-version": "2018-03-28"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2018-03-28"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.queue.core.windows.net/goqpeekmessageswithnummessageslargerthan32/messages",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "X-Ms-Date": "Thu, 09 Feb 2023 05:19:10 GMT",
        "x-ms-version": "2018-03-28"
      },
      "RequestBody": [
        "\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022?\u003E\n",
        "\u003CQueueMessage\u003E\u003CMessageText\u003Ethis is some default data\u003C/MessageText\u003E\u003C/QueueMessage\u003E"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2018-03-28"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CQueueMessagesList\u003E\u003CQueueMessage\u003E\u003CMessageId\u003Eeee2568b-4d62-4e47-9176-1b7a4ebb3feb\u003C/MessageId\u003E\u003CInsertionTime\u003EThu, 09 Feb 2023 05:19:10 GMT\u003C/InsertionTime\u003E\u003CExpirationTime\u003EThu, 16 Feb 2023 05:19:10 GMT\u003C/ExpirationTime\u003E\u003CPopReceipt\u003EAgAAAAMAAAAAAAAAHBlzCkY82QE=\u003C/PopReceipt\u003E\u003CTimeNextVisible\u003EThu, 09 Feb 2023 05:19:10 GMT\u003C/TimeNextVisible\u003E\u003C/QueueMessage\u003E\u003C/QueueMessagesList\u003E"
    },
[...]
    {
      "RequestUri": "https://fakestorage.queue.core.windows.net/goqpeekmessageswithnummessageslargerthan32/messages?numofmessages=33\u0026peekonly=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 09 Feb 2023 05:19:13 GMT",
        "x-ms-version": "2018-03-28"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "OutOfRangeQueryParameterValue",
        "x-ms-version": "2018-03-28"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EOutOfRangeQueryParameterValue\u003C/Code\u003E\u003CMessage\u003EOne of the query parameters specified in the request URI is outside the permissible range.\n",
        "RequestId:43f0de65-4003-0081-4646-3ced7a000000\n",
        "Time:2023-02-09T05:19:13.1880862Z\u003C/Message\u003E\u003CQueryParameterName\u003Enumofmessages\u003C/QueryParameterName\u003E\u003CQueryParameterValue\u003E33\u003C/QueryParameterValue\u003E\u003CMinimumAllowed\u003E1\u003C/MinimumAllowed\u003E\u003CMaximumAllowed\u003E32\u003C/MaximumAllowed\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://fakestorage.queue.core.windows.net/goqpeekmessageswithnummessageslargerthan32",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 09 Feb 2023 05:19:13 GMT",
        "x-ms-version": "2018-03-28"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2018-03-28"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
