{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-cangettheversionsofakey-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-cangettheversionsofakey-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/listKeyName-cangettheversionsofakey-/1976a61836734430acff8a0a4ebb1a4d",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "xojRruf9lXVaK9rqIWFrgqByAubpzhXcgv27LT8ad16GyQwCTWjvZu2WDwg3nV-FXBIUS4TqkSESghmA3-VPp7uJAB67K6fdTvbC9dKmQ064VAAeEoOr69hsS0Zuuf2Fn8ageYrV6kPXCYEn1Wej9YSPNTGjkRVa2sCntpCIIuvCoGRApMrJ9_20ZytM4HfhdemuoOacr37L2OpLZTIN7p7fq69oM1kht_qcPsK97NmPOrB1ulbVp2543zgmFY9mUeHcTQRDHQBUIo5WqPjDysE7cuxhvfXhbvO40_ro6Hrl5JwOMRV_pH5G3De5WS8nkLOBRvXzm_KWVCc4Tt8LLQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777635769,
          "updated": 1777635769,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-cangettheversionsofakey-/versions?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://keyvault_name.vault.azure.net/keys/listKeyName-cangettheversionsofakey-/1976a61836734430acff8a0a4ebb1a4d",
            "attributes": {
              "enabled": true,
              "key_size": 2048,
              "created": 1777635769,
              "updated": 1777635769,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
          },
          {
            "kid": "https://keyvault_name.vault.azure.net/keys/listKeyName-cangettheversionsofakey-/3c8866e3f2dc4daaa998378511fa5394",
            "attributes": {
              "enabled": true,
              "key_size": 2048,
              "created": 1777635770,
              "updated": 1777635770,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-cangettheversionsofakey-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/listKeyName-cangettheversionsofakey-",
        "deletedDate": 1777635770,
        "scheduledPurgeDate": 1778240570,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/listKeyName-cangettheversionsofakey-/3c8866e3f2dc4daaa998378511fa5394",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "xb06EKacmgQgSmC9uAcTKDW6s7gz0D8GYTZ_3NWrgkrYonr00XnHSkCLKqHmUB0JYm-z7VNE7EextUkugbFFGfjXKag5YuGZbohOtXQvsfX25v2mTd_PCp99cDAI8O7V49Q6YkAc6SeiKN6k0ykuKIkD9GH6pXoqU61y-SYzH6-ecn--Z8-K1TXw4svtp1oj0tol9FEgko9tYld-hvuqTa_hBEOXg8n7yX49FgaOQzAi1EGBmJ2Bz5IRiYQA6Y6zRknveUFB7nwHqQPa6HkM_SYJxz2v4cNGCTuxKZqXGvLWUmwt7u9KX0XGtCgCzslZ3o-DBpDo-GDoUvGd5aXNCQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777635770,
          "updated": 1777635770,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/listKeyName-cangettheversionsofakey-?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: listKeyName-cangettheversionsofakey-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/listKeyName-cangettheversionsofakey-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
