{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-cangetseveralinsertedkeys--0/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-cangetseveralinsertedkeys--0/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/listKeyName-cangetseveralinsertedkeys--0/398de60b9e2144f8beb0519f67ba994e",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tpauhT98F7-wGWy9OStrknaLDNG9Jm74Dm0ug0yjQtMM7-DuwqaF-5C_dwfr0ZjY6VpZxU7kDa7bfxWUYDdMaqierq1l1SSsJ3fQLYczKesQRpf20SB5v5fSqSFuyUIwkDjvhYqROBvpws6OnDVy2Jhv4CRDX3jhR4lf2FAcmMPSbY-x4T2chCYxJIot-08HUroysMna9E4k0BkCMCAVg6ibD8B8KbVQGCB_vCeGlCwtAdAqHUiLI8ivAzyx02NC_NLwOk0LkflFhrfgPghsCBINnGKEYh2U-WX9mfDkgvdGeJZ8iQDFMMCHcmXk_5zxFJOl1-cdvFy5bovkIoKTsQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777635796,
          "updated": 1777635796,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://keyvault_name.vault.azure.net/keys/backupRestoreKeyName-cangenerateabackupofakey-11479797390144764",
            "attributes": {
              "enabled": true,
              "key_size": 2048,
              "created": 1777635699,
              "updated": 1777635699,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
       [...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-cangetseveralinsertedkeys--0?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/listKeyName-cangetseveralinsertedkeys--0",
        "deletedDate": 1777635797,
        "scheduledPurgeDate": 1778240597,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/listKeyName-cangetseveralinsertedkeys--0/398de60b9e2144f8beb0519f67ba994e",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tpauhT98F7-wGWy9OStrknaLDNG9Jm74Dm0ug0yjQtMM7-DuwqaF-5C_dwfr0ZjY6VpZxU7kDa7bfxWUYDdMaqierq1l1SSsJ3fQLYczKesQRpf20SB5v5fSqSFuyUIwkDjvhYqROBvpws6OnDVy2Jhv4CRDX3jhR4lf2FAcmMPSbY-x4T2chCYxJIot-08HUroysMna9E4k0BkCMCAVg6ibD8B8KbVQGCB_vCeGlCwtAdAqHUiLI8ivAzyx02NC_NLwOk0LkflFhrfgPghsCBINnGKEYh2U-WX9mfDkgvdGeJZ8iQDFMMCHcmXk_5zxFJOl1-cdvFy5bovkIoKTsQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777635796,
          "updated": 1777635796,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/listKeyName-cangetseveralinsertedkeys--0?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: listKeyName-cangetseveralinsertedkeys--0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/listKeyName-cangetseveralinsertedkeys--1?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
