{
  "Entries": [
    {
      "RequestUri": "https://facet65e247239802ab57.cognitiveservices.azure.com/face/v1.1-preview.1/detectLivenessWithVerify/singleModal/sessions",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "West US"
      },
      "ResponseBody": "[{\"id\":\"47ace307-e9b0-48f9-b85b-650e022f6bda\",\"createdDateTime\":\"2024-05-19T16:17:10.1620449+00:00\",\"authTokenTimeToLiveInSeconds\":600,\"deviceCorrelationId\":\"11902120-3636-1876-4916-073bdc0f9b12\",\"sessionExpired\":false},{\"id\":\"4d55d649-eb81-4653-84f7-ab3b23e7ac44\",\"createdDateTime\":\"2024-05-19T14:23:31.0334184+00:00\",\"authTokenTimeToLiveInSeconds\":600,\"deviceCorrelationId\":\"11902120-3636-1876-4916-073bdc0f9b12\",\"sessionExpired\":true},{\"id\":\"56d976a9-130a-44e2-bb25-e84410f05b05\",\"createdDateTime\":\"2024-05-19T16:12:22.8727697+00:00\",\"authTokenTimeToLiveInSeconds\":600,\"sessionStartDateTime\":\"2024-05-19T16:13:20.8697226+00:00\",\"deviceCorrelationId\":\"5b75a4f8-082b-40b6-a5bc-a77dc99696ac\",\"sessionExpired\":false},{\"id\":\"7f0f86c2-e98f-4df4-942d-b46755c3e512\",\"createdDateTime\":\"2024-05-19T16:17:00.6841213+00:00\",\"authTokenTimeToLiveInSeconds\":600,\"deviceCorrelationId\":\"11902120-3636-1876-4916-073bdc0f9b12\",\"sessionExpired\":false},{\"id\":\"e7c30eb4-bfce-4da4-b9e4-6a4e0bb3c9eb\",\"createdDateTime\":\"2024-05-19T16:09:22.9935017+00:00\",\"authTokenTimeToLiveInSeconds\":600,\"sessionStartDateTime\":\"2024-05-19T16:10:21.8194419+00:00\",\"deviceCorrelationId\":\"1df9163a-084e-4860-b110-cb6ef4c8f0e4\",\"sessionExpired\":false}]"
    }
  ],
  "Variables": {
    "FACE_ENDPOINT": "https://facet65e247239802ab57.cognitiveservices.azure.com",
    "RandomSeed": "1221159918"
  }
}
