{
  "Entries": [
    {
      "RequestUri": "https://facet65e247239802ab57.cognitiveservices.azure.com/face/v1.2-preview.1/detectLiveness/singleModal/sessions/4aeb437b-d9a1-4408-9731-15f79c2e4862/audit",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "West US"
      },
      "ResponseBody": "[{\"id\":2,\"sessionId\":\"4aeb437b-d9a1-4408-9731-15f79c2e4862\",\"requestId\":\"9d7a5580-7dbc-4f98-9fec-bcf39c273dce\",\"receivedDateTime\":\"2024-05-19T15:59:38.6105097+00:00\",\"request\":{\"url\":\"/face/v1.2-preview.1/detectLiveness/singleModal\",\"method\":\"POST\",\"contentLength\":360044,\"contentType\":\"multipart/form-data; boundary=--------------------------582969306951955997192689\"},\"response\":{\"body\":{\"livenessDecision\":\"spoofface\",\"target\":{\"faceRectangle\":{\"top\":782,\"left\":260,\"width\":858,\"height\":984},\"fileName\":\"video.webp\",\"timeOffsetWithinFile\":0,\"imageType\":\"Color\"},\"modelVersionUsed\":\"2022-10-15-preview.04\"},\"statusCode\":200,\"latencyInMilliseconds\":716},\"digest\":\"BF04CEBB54740C23678785A5ACADF82B7F82FF3FF2DCFD9E1474B9B81F4ECD2F\"},{\"id\":1,\"sessionId\":\"4aeb437b-d9a1-4408-9731-15f79c2e4862\",\"requestId\":\"19d79d46-470b-49b6-8743-438b03dda264\",\"receivedDateTime\":\"2024-05-19T15:59:32.2722608+00:00\",\"request\":{\"url\":\"/face/v1.2-preview.1/detectLiveness/singleModal\",\"method\":\"POST\",\"contentLength\":360044,\"contentType\":\"multipart/form-data; boundary=--------------------------582969306951955997192689\"},\"response\":{\"body\":{\"livenessDecision\":\"spoofface\",\"target\":{\"faceRectangle\":{\"top\":782,\"left\":260,\"width\":858,\"height\":984},\"fileName\":\"video.webp\",\"timeOffsetWithinFile\":0,\"imageType\":\"Color\"},\"modelVersionUsed\":\"2022-10-15-preview.04\"},\"statusCode\":200,\"latencyInMilliseconds\":736},\"digest\":\"277999EB1BD0D605B1AF20E40B4E014A4493932DF7E1B5A1308C645B55E0F920\"}]"
    }
  ],
  "Variables": {
    "FACE_ENDPOINT": "https://facet65e247239802ab57.cognitiveservices.azure.com",
    "RandomSeed": "1608189417"
  }
}
