{
  "Entries": [
    {
      "RequestUri": "https://facet65e247239802ab57.cognitiveservices.azure.com/face/v1.1-preview.1/detectLiveness/singleModal/sessions",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "West US"
      },
      "ResponseBody": "[{\"id\":\"12d391fb-a488-4699-aae9-20a785d36a5f\",\"createdDateTime\":\"2024-05-19T16:16:31.2576555+00:00\",\"authTokenTimeToLiveInSeconds\":600,\"deviceCorrelationId\":\"11902120-3636-1876-4916-073bdc0f9b12\",\"sessionExpired\":false},{\"id\":\"4aeb437b-d9a1-4408-9731-15f79c2e4862\",\"createdDateTime\":\"2024-05-19T15:58:15.1424465+00:00\",\"authTokenTimeToLiveInSeconds\":600,\"sessionStartDateTime\":\"2024-05-19T15:59:31.1264936+00:00\",\"deviceCorrelationId\":\"cea332b5-89fb-49ac-a243-2317ce9d4abe\",\"sessionExpired\":true},{\"id\":\"d3485cb6-375c-49d2-ad39-5358fdb4788f\",\"createdDateTime\":\"2024-05-19T16:16:22.0670142+00:00\",\"authTokenTimeToLiveInSeconds\":600,\"deviceCorrelationId\":\"11902120-3636-1876-4916-073bdc0f9b12\",\"sessionExpired\":false}]"
    }
  ],
  "Variables": {
    "FACE_ENDPOINT": "https://facet65e247239802ab57.cognitiveservices.azure.com",
    "RandomSeed": "351726753"
  }
}
