{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/20010222-2b48-4245-a95c-090db6312d5f?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/20010222-2b48-4245-a95c-090db6312d5f",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "NRMSBreakGlass": "276877527"
        },
        "subscriptionId": "20010222-2b48-4245-a95c-090db6312d5f",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "api_BVT_Local_1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourcegroups/testRG-845?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/testRG-845",
        "name": "testRG-845",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/testRG-845/providers/Microsoft.EventHub/namespaces/eventHubNamespace7289?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-messaging-activity-id": "5892fe4b-d633-40cd-a655-e21cebba2509",
        "x-ms-messaging-routing-id": "WESTUS2|WESTUS2|G14|2024-10-27T20:01:11",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "49"
      },
      "ResponseBody": {
        "id": "/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/testRG-845/providers/Microsoft.EventHub/namespaces/eventHubNamespace7289",
        "name": "eventHubNamespace7289",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "westus2",
        "tags": {},
        "properties": {
          "geoDataReplication": {
            "maxReplicationLagDurationInSeconds": 0,
            "locations": [
              {
                "locationName": "westus2",
                "roleType": "Primary",
                "replicaState": "InBuild"
              }
            ]
          },
          "minimumTlsVersion": "1.2",
          "publicNetworkAccess": "Enabled",
          "disableLocalAuth": false,
          "zoneRedundant": false,
          "metricId": "20010222-2b48-4245-a95c-090db6312d5f:eventhubnamespace7289",
          "serviceBusEndpoint": "https://eventHubNamespace7289.servicebus.windows.net:443/",
          "isAutoInflateEnabled": false,
          "maximumThroughputUnits": 0,
          "kafkaEnabled": true,
          "provisioningState": "Creating",
          "status": "Creating",
          "createdAt": "2024-10-27T20:01:11.299885Z",
          "updatedAt": "2024-10-27T20:01:11.299885Z"
        },
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/testRG-845/providers/Microsoft.EventHub/namespaces/eventHubNamespace7289/eventhubs/eventhubname7673?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-messaging-activity-id": "be26f4fd-5676-46bd-95cf-824e15fb4554",
        "x-ms-messaging-routing-id": "WESTUS2|WESTUS2|G0|2024-10-27T20:01:47",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/testRG-845/providers/Microsoft.EventHub/namespaces/eventHubNamespace7289/eventhubs/eventhubname7673",
        "name": "eventhubname7673",
        "type": "Microsoft.EventHub/namespaces/eventhubs",
        "location": "westus2",
        "properties": {
          "retentionDescription": {
            "cleanupPolicy": "Delete",
            "retentionTimeInHours": 168
          },
          "messageRetentionInDays": 7,
          "partitionCount": 4,
          "status": "Active",
          "createdAt": "2024-10-27T20:01:47.097Z",
          "updatedAt": "2024-10-27T20:01:47.35Z",
          "partitionIds": [
            "0",
            "1",
            "2",
            "3"
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/testRG-845/providers/Microsoft.EventHub/namespaces/eventHubNamespace7289/eventhubs/eventhubname7673/authorizationRules/sendPolicy9998?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "rights": [
            "Send"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-messaging-activity-id": "9ad2bd1f-74bd-47ef-a9da-c3463bd3fe35",
        "x-ms-messaging-routing-id": "WESTUS2|WESTUS2|G13|2024-10-27T20:01:48",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/testRG-845/providers/Microsoft.EventHub/namespaces/eventHubNamespace7289/eventhubs/eventhubname7673/authorizationRules/sendPolicy9998",
        "name": "sendPolicy9998",
        "type": "Microsoft.EventHub/namespaces/eventhubs/authorizationrules",
        "properties": {
          "rights": [
            "Send"
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/testRG-845/providers/Microsoft.EventHub/namespaces/eventHubNamespace7289/eventhubs/eventhubname7673/authorizationRules/sendPolicy9998/listKeys?api-version=**",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-messaging-activity-id": "8228a832-b8a5-469f-8e6b-3cffe5e43e63",
        "x-ms-messaging-routing-id": "WESTUS2|WESTUS2|G12|2024-10-27T20:01:49",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "primaryConnectionString": "Endpoint=sb://eventhubnamespace7289.servicebus.windows.net/;SharedAccessKeyName=sendPolicy9998;SharedAccessKey=Sanitized;EntityPath=eventhubname7673",
        "secondaryConnectionString": "Sanitized",
        "primaryKey": "Sanitized",
        "secondaryKey": "Sanitized",
        "keyName": "sendPolicy9998"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/testRG-845/providers/Microsoft.ApiManagement/service/sdktestapimv2-9215?api-version=2024-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "sku": {
          "name": "StandardV2",
          "capacity": 1
        },
        "identity": {
          "type": "SystemAssigned"
        },
        "properties": {
          "publisherEmail": "Sample@Sample.com",
          "publisherName": "sample"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/providers/Microsoft.ApiManagement/locations/westus2/operationsStatuses/d2VzdHVzMjpzZGt0ZXN0YXBpbXYyLTkyMTVfQWN0XzljYmNhY2Mw?api-version=2024-05-01&t=638656561126632447&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdj[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/providers/Microsoft.ApiManagement/locations/westus2/operationsStatuses/d2VzdHVzMjpzZGt0ZXN0YXBpbXYyLTkyMTVfQWN0XzljYmNhY2Mw?api-version=2024-05-01&t=638656561126632447&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxWjBAMT4wPAYDVQQDEzVhc3l[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/providers/Microsoft.ApiManagement/locations/westus2/operationsStatuses/d2VzdHVzMjpzZGt0ZXN0YXBpbXYyLTkyMTVfQWN0XzljYmNhY2Mw?api-version=2024-05-01&t=638656561128083997&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxWjBAMT4wPAYDVQQDEzVhc3l[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/providers/Microsoft.ApiManagement/locations/westus2/operationsStatuses/d2VzdHVzMjpzZGt0ZXN0YXBpbXYyLTkyMTVfQWN0XzljYmNhY2Mw?api-version=2024-05-01&t=638656561330093880&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxWjBAMT4wPAYDVQQDEzVhc3l[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/testRG-845/providers/Microsoft.ApiManagement/service/sdktestapimv2-9215?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"AAAAAABV4v8=\"",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "23999"
      },
      "ResponseBody": {
        "etag": "AAAAAABV4v8=",
        "properties": {
          "publisherEmail": "Sample@Sample.com",
          "publisherName": "sample",
          "notificationSenderEmail": "apimgmt-noreply@mail.windowsazure.com",
          "provisioningState": "Succeeded",
          "targetProvisioningState": "",
          "createdAtUtc": "2024-10-27T18:55:13.2462569Z",
          "gatewayUrl": "https://sdktestapimv2-9215.current.int-azure-api.net",
          "gatewayRegionalUrl": null,
          "portalUrl": null,
          "developerPortalUrl": null,
          "dataApiUrl": null,
          "managementApiUrl": "https://smapi.api-mwh-current-scaleunit-003.p.azurewebsites.net/",
          "scmUrl": null,
          "hostnameConfigurations": [
            {
              "type": "Proxy",
              "hostName": "sdktestapimv2-9215.current.int-azure-api.net",
              "encodedCertificate": null,
              "keyVaultId": null,
              "certificatePassword": null,
              "negotiateClientCertificate": false,
              "certificate": null,
              "defaultSslBinding": true,
              "identityClientId": null,
              "certificateSource": "BuiltIn",
              "certificateStatus": null
            }
          ],
          "publicIPAddresses": null,
          "privateIPAddresses": null,
          "additionalLocations": null,
          "virtualNetworkConfiguration": null,
          "customProperties": {
            "Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10": "False",
            "Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls11": "False",
            "Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls10": "False",
            "Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls11": "False",
            "Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Ssl30": "False",
            "Microsoft.WindowsAzure.ApiManagement.Gateway.Protocols.Server.Http2": "False"
          },
          "virtualNetworkType": "None",
          "certificates": null,
          "natGatewayState": "Enabled",
          "outboundPublicIPAddresses": null,
          "apiVersionConstraint": {
            "minApiVersion": null
          },
          "publicIpAddressId": null,
          "publicNetworkAccess": "Enabled",
          "privateEndpointConnections": null,
          "platformVersion": "undetermined",
          "configurationApi": null,
          "legacyPortalStatus": "Disabled",
          "developerPortalStatus": "Disabled"
        },
        "sku": {
          "name": "StandardV2",
          "capacity": 1
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "zones": null,
        "systemData": null,
        "location": "West US 2",
        "tags": {},
        "id": "/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/testRG-845/providers/Microsoft.ApiManagement/service/sdktestapimv2-9215",
        "name": "sdktestapimv2-9215",
        "type": "Microsoft.ApiManagement/service"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/testRG-845/providers/Microsoft.ApiManagement/service/sdktestapimv2-9215/loggers/newlogger3410?api-version=2024-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "loggerType": "azureEventHub",
          "description": "newloggerDescription8090",
          "credentials": {
            "name": "eventhubname7673",
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"AAAAAOJRBRE=\"",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/testRG-845/providers/Microsoft.ApiManagement/service/sdktestapimv2-9215/loggers/newlogger3410",
        "type": "Microsoft.ApiManagement/service/loggers",
        "name": "newlogger3410",
        "properties": {
          "loggerType": "azureEventHub",
          "description": "newloggerDescription8090",
          "credentials": {
            "name": "eventhubname7673",
            "connectionString": "Sanitized"
          },
          "isBuffered": true,
          "resourceId": null
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/testRG-845/providers/Microsoft.ApiManagement/service/sdktestapimv2-9215/loggers?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/testRG-845/providers/Microsoft.ApiManagement/service/sdktestapimv2-9215/loggers/azuremonitor",
            "type": "Microsoft.ApiManagement/service/loggers",
            "name": "azuremonitor",
            "properties": {
              "loggerType": "azureMonitor",
              "description": null,
              "isBuffered": true,
              "resourceId": null
            }
          },
          {
            "id": "/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/testRG-845/providers/Microsoft.ApiManagement/service/sdktestapimv2-9215/loggers/newlogger3410",
            "type": "Microsoft.ApiManagement/service/loggers",
            "name": "newlogger3410",
            "properties": {
              "loggerType": "azureEventHub",
              "description": "newloggerDescription8090",
              "credentials": {
                "name": "eventhubname7673",
                "connectionString": "Sanitized"
              },
              "isBuffered": true,
              "resourceId": null
            }
          }
        ],
        "count": 2
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/testRG-845/providers/Microsoft.ApiManagement/service/sdktestapimv2-9215/loggers/newlogger3410?api-version=2024-05-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "*"
      },
      "RequestBody": {
        "properties": {
          "description": "patchedDescription9717"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"AAAAAOJRBRM=\"",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/testRG-845/providers/Microsoft.ApiManagement/service/sdktestapimv2-9215/loggers/newlogger3410",
        "type": "Microsoft.ApiManagement/service/loggers",
        "name": "newlogger3410",
        "properties": {
          "loggerType": "azureEventHub",
          "description": "patchedDescription9717",
          "credentials": {
            "name": "eventhubname7673",
            "connectionString": "Sanitized"
          },
          "isBuffered": true,
          "resourceId": null
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/testRG-845/providers/Microsoft.ApiManagement/service/sdktestapimv2-9215/loggers/newlogger3410?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "Logger not found.",
          "details": null
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1693823823",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "20010222-2b48-4245-a95c-090db6312d5f"
  }
}
