{
  "Entries": [
    {
      "RequestUri": "https://t1e4564477a3bf4db-json.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/Employee?api-version=2022-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; serialization=json"
      },
      "RequestBody": {
        "$schema": "http://json-schema.org/draft-04/schema#",
        "title": "Employee",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "Age": {
            "type": "integer",
            "format": "int32"
          },
          "Name": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://t1e4564477a3bf4db-json.servicebus.windows.net/$schemagroups/azsdk_net_test_group/schemas/Employee/versions/1?api-version=2022-10",
        "Schema-Group-Name": "azsdk_net_test_group",
        "Schema-Id": "5d7b9407f4034a7d895b61d12260062f",
        "Schema-Id-Location": "https://t1e4564477a3bf4db-json.servicebus.windows.net:443/$schemagroups/$schemas/5d7b9407f4034a7d895b61d12260062f?api-version=2022-10",
        "Schema-Name": "Employee",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://t1e4564477a3bf4db-json.servicebus.windows.net:443/$schemagroups/azsdk_net_test_group/schemas/Employee/versions?api-version=2022-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t1e4564477a3bf4db-json.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/EmployeeV2?api-version=2022-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; serialization=json"
      },
      "RequestBody": {
        "$schema": "http://json-schema.org/draft-04/schema#",
        "title": "Employee",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "Age": {
            "type": "integer",
            "format": "int32"
          },
          "City": {
            "type": [
              "null",
              "string"
            ]
          },
          "Name": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://t1e4564477a3bf4db-json.servicebus.windows.net/$schemagroups/azsdk_net_test_group/schemas/EmployeeV2/versions/4?api-version=2022-10",
        "Schema-Group-Name": "azsdk_net_test_group",
        "Schema-Id": "890eb872f1cb45b8a35682a7e4bd8f72",
        "Schema-Id-Location": "https://t1e4564477a3bf4db-json.servicebus.windows.net:443/$schemagroups/$schemas/890eb872f1cb45b8a35682a7e4bd8f72?api-version=2022-10",
        "Schema-Name": "EmployeeV2",
        "Schema-Version": "4",
        "Schema-Versions-Location": "https://t1e4564477a3bf4db-json.servicebus.windows.net:443/$schemagroups/azsdk_net_test_group/schemas/EmployeeV2/versions?api-version=2022-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t1e4564477a3bf4db-json.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/Employee:get-id?api-version=2022-10",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; serialization=json"
      },
      "RequestBody": {
        "$schema": "http://json-schema.org/draft-04/schema#",
        "title": "Employee",
        "type": "object",
        "additionalProperties":[...]
    {
      "RequestUri": "https://t1e4564477a3bf4db-json.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/EmployeeV2:get-id?api-version=2022-10",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; serialization=json"
      },
      "RequestBody": {
        "$schema": "http://json-schema.org/draft-04/schema#",
        "title": "Employee",
        "type": "object",
        "additionalProperties[...]
