{
  "Entries": [
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-9a336e90-c22a-188a-b899-36e06baec93f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:03:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868DB2EECEFA\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:03:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-90ce1f3c-a2a8-5381-31b4-a3d9e674d05c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:03:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868DB2FBAD39\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:03:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-9a336e90-c22a-188a-b899-36e06baec93f/test-blob-b76c5272-12de-426a-e36c-6fc2ab2ac559",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "x-ms-date": "Fri, 07 Jun 2024 01:03:51 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868DB30D36CD\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:03:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T01:03:53.2266189Z",
        "x-ms-file-creation-time": "2024-06-07T01:03:53.2266189Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-07T01:03:53.2266189Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-9a336e90-c22a-188a-b899-36e06baec93f/test-blob-b76c5272-12de-426a-e36c-6fc2ab2ac559?sv=Sanitized&se=2024-06-08T01%3A03%3A51Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868DB30D36CD\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:03:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T01:03:53.2266189Z",
        "x-ms-file-creation-time": "2024-06-07T01:03:53.2266189Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-07T01:03:53.2266189Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-90ce1f3c-a2a8-5381-31b4-a3d9e674d05c/test-blob-17a8df99-a69b-e7cf-c769-31e95ceeb593?sv=Sanitized&se=2024-06-08T01%3A03%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868DB33177A5\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:03:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:03:53.4652084Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-90ce1f3c-a2a8-5381-31b4-a3d9e674d05c/test-blob-17a8df99-a69b-e7cf-c769-31e95ceeb593?sv=Sanitized&se=2024-06-08T01%3A03%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://seancanary.file.core.windows.net/test-share-9a336e90-c22a-188a-b899-36e06baec93f/test-blob-b76c5272-12de-426a-e36c-6fc2ab2ac559?sv=Sanitized&se=2024-06-08T01%3A03%3A51Z&sr=f&sp=rcwd&sig=Sanitized",
        "x-ms-source-range": "bytes=0-2047",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868DB3417BD8\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:03:53 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "E1xsWVuyFpc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-90ce1f3c-a2a8-5381-31b4-a3d9e674d05c/test-blob-17a8df99-a69b-e7cf-c769-31e95ceeb593?sv=Sanitized&se=2024-06-08T01%3A03%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868DB3417BD8\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:03:53 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:03:53 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:03:53.4652084Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-9a336e90-c22a-188a-b899-36e06baec93f/test-blob-b76c5272-12de-426a-e36c-6fc2ab2ac559?sv=Sanitized&se=2024-06-08T01%3A03%3A51Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868DB30D36CD\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:03:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T01:03:53.2266189Z",
        "x-ms-file-creation-time": "2024-06-07T01:03:53.2266189Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-07T01:03:53.2266189Z",
        "x-ms-file-parent-id": "0",[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-90ce1f3c-a2a8-5381-31b4-a3d9e674d05c/test-blob-17a8df99-a69b-e7cf-c769-31e95ceeb593?sv=Sanitized&se=2024-06-08T01%3A03%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC868DB3417BD8\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868DB3417BD8\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:03:53 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-[...]
[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-9a336e90-c22a-188a-b899-36e06baec93f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:03:52 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:03:51.7331026-05:00",
    "RandomSeed": "1559164136",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
