{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e8965a73-3511-919f-346a-fa994f2acedb?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Feb 2025 03:00:28 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD515ABAED0884\"",
        "Last-Modified": "Thu, 20 Feb 2025 03:00:28 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e722c0e7-16b8-0e1b-1a87-d67d2f20fc2e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Feb 2025 03:00:28 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD515ABAF52D1A\"",
        "Last-Modified": "Thu, 20 Feb 2025 03:00:28 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e8965a73-3511-919f-346a-fa994f2acedb/test-blob-cd844326-ecb0-e94e-297c-a99f6ece1ce7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 20 Feb 2025 03:00:28 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD515ABAFF8B7B\"",
        "Last-Modified": "Thu, 20 Feb 2025 03:00:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e8965a73-3511-919f-346a-fa994f2acedb/test-blob-cd844326-ecb0-e94e-297c-a99f6ece1ce7?sv=Sanitized&se=2025-02-21T03%3A00%3A28Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD515ABAFF8B7B\"",
        "Last-Modified": "Thu, 20 Feb 2025 03:00:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e722c0e7-16b8-0e1b-1a87-d67d2f20fc2e/test-blob-3143cfac-dc30-fe76-f8f6-a7438cc3a24f?sv=Sanitized&se=2025-02-21T03%3A00%3A28Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD515ABB16F05F\"",
        "Last-Modified": "Thu, 20 Feb 2025 03:00:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-20T03:00:28.4227679Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e722c0e7-16b8-0e1b-1a87-d67d2f20fc2e/test-blob-3143cfac-dc30-fe76-f8f6-a7438cc3a24f?sv=Sanitized&se=2025-02-21T03%3A00%3A28Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.file.core.windows.net/test-share-e8965a73-3511-919f-346a-fa994f2acedb/test-blob-cd844326-ecb0-e94e-297c-a99f6ece1ce7?sv=sanitized-value&se=2025-02-21T03%3A00%3A28Z&sr=f&sp=rcwd&sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD515ABB1FEFB4\"",
        "Last-Modified": "Thu, 20 Feb 2025 03:00:28 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e722c0e7-16b8-0e1b-1a87-d67d2f20fc2e/test-blob-3143cfac-dc30-fe76-f8f6-a7438cc3a24f?sv=Sanitized&se=2025-02-21T03%3A00%3A28Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD515ABB1FEFB4\"",
        "Last-Modified": "Thu, 20 Feb 2025 03:00:28 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 20 Feb 2025 03:00:28 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-20T03:00:28.4227679Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e8965a73-3511-919f-346a-fa994f2acedb/test-blob-cd844326-ecb0-e94e-297c-a99f6ece1ce7?sv=Sanitized&se=2025-02-21T03%3A00%3A28Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD515ABAFF8B7B\"",
        "Last-Modified": "Thu, 20 Feb 2025 03:00:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e722c0e7-16b8-0e1b-1a87-d67d2f20fc2e/test-blob-3143cfac-dc30-fe76-f8f6-a7438cc3a24f?sv=Sanitized&se=2025-02-21T03%3A00%3A28Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD515ABB1FEFB4\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD515ABB1FEFB4\"",
        "Last-Modified": "Thu, 20 Feb 2025 03:00:28 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e722c0e7-16b8-0e1b-1a87-d67d2f20fc2e/test-blob-3143cfac-dc30-fe76-f8f6-a7438cc3a24f?sv=Sanitized&se=2025-02-21T03%3A00%3A28Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Tags><TagSet/></Tags>"
      ]
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e8965a73-3511-919f-346a-fa994f2acedb?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Feb 2025 03:00:28 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-19T19:00:28.3082698-08:00",
    "RandomSeed": "889360345",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
