{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-6c0c68c2-d5bb-bf26-94c4-b6b3221c18b7?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:25:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC44CD1EE9B\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:25:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-57e12b19-339c-ae71-42ae-d6eb1a7411b1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Jul 2024 18:25:08 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC44CDD1134\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:25:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-57e12b19-339c-ae71-42ae-d6eb1a7411b1/test-blob-88162e5d-543e-7433-6a35-70fa95ae7974",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 02 Jul 2024 18:25:08 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC44CE83EC5\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:25:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:25:07.4334160Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-57e12b19-339c-ae71-42ae-d6eb1a7411b1/test-blob-88162e5d-543e-7433-6a35-70fa95ae7974?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 02 Jul 2024 18:25:08 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "KQtBRB7izMc1bCJ46KRfsWbRtAKA0cNm3/pbzp1jUcg821/gPo4GZqqbNLAyjsFJ6gqTY0AoNFhI2mUkh/4p0htZPAxFf3PYyk5X5J0SM1E4EeOTz+6IE6YGl2Mp4t6rcWGV2FK0BGuWupjx0VC7NaYT63YblgIt0ShlPucQruhvq3I7fVv/gw13/BRVlkFWS2K8FfdokNteaAYpTsWDhgywgSXdf7hLFGdopJnu1zvmD/KFU5nwBxuX3BRU1TRH9HYIpBQcecyqcQGP/+xCcJDLQj/S/TNzwHoKRqKj9z4yIK8i5TMmypUm2+KYYAcvVGyEiJP1dfZDleSaETMpB3rCXd88H[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-6c0c68c2-d5bb-bf26-94c4-b6b3221c18b7/test-blob-98038dd8-7ab4-9fdb-1fcc-ea755564f091",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 02 Jul 2024 18:25:08 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC44CFC9EDB\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:25:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:25:07.5659483Z",
        "x-ms-file-creation-time": "2024-07-02T18:25:07.5659483Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:25:07.5659483Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-6c0c68c2-d5bb-bf26-94c4-b6b3221c18b7/test-blob-98038dd8-7ab4-9fdb-1fcc-ea755564f091?sv=Sanitized&se=2024-07-03T18%3A25%3A08Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC44CFC9EDB\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:25:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:25:07.5659483Z",
        "x-ms-file-creation-time": "2024-07-02T18:25:07.5659483Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:25:07.5659483Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-57e12b19-339c-ae71-42ae-d6eb1a7411b1/test-blob-88162e5d-543e-7433-6a35-70fa95ae7974?sv=Sanitized&se=2024-07-03T18%3A25%3A08Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC44D20368B\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:25:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:25:07.8012073Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-57e12b19-339c-ae71-42ae-d6eb1a7411b1/test-blob-88162e5d-543e-7433-6a35-70fa95ae7974?sv=Sanitized&se=2024-07-03T18%3A25%3A08Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.file.core.windows.net/test-share-6c0c68c2-d5bb-bf26-94c4-b6b3221c18b7/test-blob-98038dd8-7ab4-9fdb-1fcc-ea755564f091?sv=Sanitized&se=2024-07-03T18%3A25%3A08Z&sr=f&sp=rcwd&sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC44D2B5882\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:25:07 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-57e12b19-339c-ae71-42ae-d6eb1a7411b1/test-blob-88162e5d-543e-7433-6a35-70fa95ae7974?sv=Sanitized&se=2024-07-03T18%3A25%3A08Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC44D2B5882\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:25:07 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 18:25:07 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:25:07.8012073Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-6c0c68c2-d5bb-bf26-94c4-b6b3221c18b7/test-blob-98038dd8-7ab4-9fdb-1fcc-ea755564f091?sv=Sanitized&se=2024-07-03T18%3A25%3A08Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC44CFC9EDB\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:25:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:25:07.5659483Z",
        "x-ms-file-creation-time": "2024-07-02T18:25:07.5659483Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:25:07.5659483Z",
        "x-ms-file-parent-id": "0",[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-57e12b19-339c-ae71-42ae-d6eb1a7411b1/test-blob-88162e5d-543e-7433-6a35-70fa95ae7974?sv=Sanitized&se=2024-07-03T18%3A25%3A08Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC9AC44D2B5882\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC44D2B5882\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:25:07 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-6c0c68c2-d5bb-bf26-94c4-b6b3221c18b7?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:25:09 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-07-02T11:25:08.2589822-07:00",
    "RandomSeed": "1589458443",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
