{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e20fc408-2769-5d33-3275-dc7819b08795?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:30:35 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE792E94CD66D\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:30:36 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-bd57aec5-cd93-ce64-39b0-eb0707490590?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 17 Nov 2023 17:30:35 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE792E974E524\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:30:37 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e20fc408-2769-5d33-3275-dc7819b08795/test-blob-21f682d7-89cf-dd7d-7946-f6371b7fa782",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 17 Nov 2023 17:30:35 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE792E9A1E979\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:30:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-17T17:30:37.4001017Z",
        "x-ms-file-creation-time": "2023-11-17T17:30:37.4001017Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-17T17:30:37.4001017Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e20fc408-2769-5d33-3275-dc7819b08795/test-blob-21f682d7-89cf-dd7d-7946-f6371b7fa782?sv=2025-01-05\u0026se=2023-11-18T17%3A30%3A35Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE792E9A1E979\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:30:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-17T17:30:37.4001017Z",
        "x-ms-file-creation-time": "2023-11-17T17:30:37.4001017Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-17T17:30:37.4001017Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-bd57aec5-cd93-ce64-39b0-eb0707490590/test-blob-33fd7511-5b24-0246-f6b5-e6b9808432ca?sv=2025-01-05\u0026se=2023-11-18T17%3A30%3A35Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE792E9EFBBC3\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:30:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2023-11-17T17:30:37.9101123Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-bd57aec5-cd93-ce64-39b0-eb0707490590/test-blob-33fd7511-5b24-0246-f6b5-e6b9808432ca?sv=2025-01-05\u0026se=2023-11-18T17%3A30%3A35Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.file.core.windows.net/test-share-e20fc408-2769-5d33-3275-dc7819b08795/test-blob-21f682d7-89cf-dd7d-7946-f6371b7fa782?sv=2025-01-05\u0026se=2023-11-18T17%3A30%3A35Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE792EA1A20ED\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:30:38 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-bd57aec5-cd93-ce64-39b0-eb0707490590/test-blob-33fd7511-5b24-0246-f6b5-e6b9808432ca?sv=2025-01-05\u0026se=2023-11-18T17%3A30%3A35Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE792EA1A20ED\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:30:38 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 17 Nov 2023 17:30:37 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2023-11-17T17:30:37.9101123Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e20fc408-2769-5d33-3275-dc7819b08795/test-blob-21f682d7-89cf-dd7d-7946-f6371b7fa782?sv=2025-01-05\u0026se=2023-11-18T17%3A30%3A35Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE792E9A1E979\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:30:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-17T17:30:37.4001017Z",
        "x-ms-file-creation-time": "2023-11-17T17:30:37.4001017Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-17T17:30:37.4001017Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-bd57aec5-cd93-ce64-39b0-eb0707490590/test-blob-33fd7511-5b24-0246-f6b5-e6b9808432ca?sv=2025-01-05\u0026se=2023-11-18T17%3A30%3A35Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DBE792EA1A20ED\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE792EA1A20ED\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:30:38 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
       [...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e20fc408-2769-5d33-3275-dc7819b08795?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:30:38 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-17T09:30:35.9524843-08:00",
    "RandomSeed": "644255249",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
