{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-445002c8-5fa0-d40d-c1c3-9986cc4abff3?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:12:37 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6BCC8EB782\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:12:39 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-da767279-291a-7916-94bd-4ce04db2cb96?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Mar 2024 21:12:37 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6BCC98ACE0\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:12:39 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-445002c8-5fa0-d40d-c1c3-9986cc4abff3/test-blob-8f6d3521-e057-59b4-b4f3-f3fec0a4f776",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 28 Mar 2024 21:12:37 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6BCCA7CF57\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:12:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-03-28T21:12:39.3412439Z",
        "x-ms-file-creation-time": "2024-03-28T21:12:39.3412439Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-03-28T21:12:39.3412439Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-445002c8-5fa0-d40d-c1c3-9986cc4abff3/test-blob-8f6d3521-e057-59b4-b4f3-f3fec0a4f776?sv=2024-05-04\u0026se=2024-03-29T21%3A12%3A37Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6BCCA7CF57\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:12:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-03-28T21:12:39.3412439Z",
        "x-ms-file-creation-time": "2024-03-28T21:12:39.3412439Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-03-28T21:12:39.3412439Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-da767279-291a-7916-94bd-4ce04db2cb96/test-blob-55660aed-34d1-dae2-e85d-13fc1647c96d?sv=2024-05-04\u0026se=2024-03-29T21%3A12%3A37Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6BCCC9F5C3\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:12:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:12:39.5650499Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-da767279-291a-7916-94bd-4ce04db2cb96/test-blob-55660aed-34d1-dae2-e85d-13fc1647c96d?sv=2024-05-04\u0026se=2024-03-29T21%3A12%3A37Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.file.core.windows.net/test-share-445002c8-5fa0-d40d-c1c3-9986cc4abff3/test-blob-8f6d3521-e057-59b4-b4f3-f3fec0a4f776?sv=2024-05-04\u0026se=2024-03-29T21%3A12%3A37Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6BCCD73A4B\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:12:39 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-da767279-291a-7916-94bd-4ce04db2cb96/test-blob-55660aed-34d1-dae2-e85d-13fc1647c96d?sv=2024-05-04\u0026se=2024-03-29T21%3A12%3A37Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6BCCD73A4B\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:12:39 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:12:39 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:12:39.5650499Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-445002c8-5fa0-d40d-c1c3-9986cc4abff3/test-blob-8f6d3521-e057-59b4-b4f3-f3fec0a4f776?sv=2024-05-04\u0026se=2024-03-29T21%3A12%3A37Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6BCCA7CF57\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:12:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-03-28T21:12:39.3412439Z",
        "x-ms-file-creation-time": "2024-03-28T21:12:39.3412439Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-03-28T21:12:39.3412439Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-da767279-291a-7916-94bd-4ce04db2cb96/test-blob-55660aed-34d1-dae2-e85d-13fc1647c96d?sv=2024-05-04\u0026se=2024-03-29T21%3A12%3A37Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4F6BCCD73A4B\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6BCCD73A4B\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:12:39 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
       [...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-445002c8-5fa0-d40d-c1c3-9986cc4abff3?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:12:38 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-28T14:12:37.5822551-07:00",
    "RandomSeed": "1401488342",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
