{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-03bc1003-3019-8b10-703c-1bd48dd44554?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:12:29 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6BC7AB744A\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:12:30 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fb6c9868-3dd6-4cc1-3237-d5b7eea2b82f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Mar 2024 21:12:29 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6BC7B586D8\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:12:31 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fb6c9868-3dd6-4cc1-3237-d5b7eea2b82f/test-blob-af81e60e-7d9d-455a-a04f-e125c33cbbd6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 28 Mar 2024 21:12:29 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6BC7BFA2D7\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:12:31 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:12:31.1087831Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fb6c9868-3dd6-4cc1-3237-d5b7eea2b82f/test-blob-af81e60e-7d9d-455a-a04f-e125c33cbbd6?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Mar 2024 21:12:29 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "EeyIcui9zbn1J3gbQhE5G4VIhb8pf1Dxguc9wPpFcPM8yGFeZIaJKzDtWShnKVQfs1Bi6bxP6JKbl\u002B8Bfw2/r7eE33mw2rf\u002Bv1mPOyUoiliSHQ2p44Y37ODPws2Xh6wiLqpw4krab9iZZCljwKxscwyXbmIAFcwwTfOZ4RjpZzitbA17uKcOuK01D35c0ywzYk/A/xlJIhjeP5VWQY6/r/zxtlOe8btliba0ygVN1HnGZX7IKWceY0r1nXgRt3YfdWCCah3ZlXGUW3ZjlVcSkWsckNwQ94aV01IJqVNCU9E/lFWlymlb7dAMNM7wu83y4gwM9SeaD37Z7JfL0Os[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-03bc1003-3019-8b10-703c-1bd48dd44554/test-blob-68bee858-d4cb-7d2b-6bb1-fe589fa6acd6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 28 Mar 2024 21:12:29 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6BC7D6AE98\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:12:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-03-28T21:12:31.2598168Z",
        "x-ms-file-creation-time": "2024-03-28T21:12:31.2598168Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-03-28T21:12:31.2598168Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-03bc1003-3019-8b10-703c-1bd48dd44554/test-blob-68bee858-d4cb-7d2b-6bb1-fe589fa6acd6?sv=2024-05-04\u0026se=2024-03-29T21%3A12%3A29Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6BC7D6AE98\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:12:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-03-28T21:12:31.2598168Z",
        "x-ms-file-creation-time": "2024-03-28T21:12:31.2598168Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-03-28T21:12:31.2598168Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fb6c9868-3dd6-4cc1-3237-d5b7eea2b82f/test-blob-af81e60e-7d9d-455a-a04f-e125c33cbbd6?sv=2024-05-04\u0026se=2024-03-29T21%3A12%3A29Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:0e561dc3-e01e-0037-6254-81a74d000000\n",
        "Time:2024-03-28T21:12:31.4905992Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-03bc1003-3019-8b10-703c-1bd48dd44554?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:12:29 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-28T14:12:29.4268804-07:00",
    "RandomSeed": "996439428",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
