{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-cb59e5d0-cbd1-c48d-9cd6-1429b469e19e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:25:15 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC45178F968\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:25:15 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3b5ef146-e748-9613-c923-a84e15215d10?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Jul 2024 18:25:15 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC451843207\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:25:15 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3b5ef146-e748-9613-c923-a84e15215d10/test-blob-7fd7ffcb-e8fc-43e3-cbdd-680bfe73f40b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 02 Jul 2024 18:25:15 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC4518F200A\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:25:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:25:15.2369674Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3b5ef146-e748-9613-c923-a84e15215d10/test-blob-7fd7ffcb-e8fc-43e3-cbdd-680bfe73f40b?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 02 Jul 2024 18:25:16 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "8OX+NWfJtYW1VwSee2SEiYMiyzAXQ9mB54jPnVGLULav8i4sG4lU6Jys7zN+JaNB7wz9u2uw9a0MfU3f+Rg0KQZN74g1V275zeOUa1SmAsLljq1EjpVK/v2BIJ07dO6DeMUsMTYbC5ieA+6IHIpYZXuL+mtr75txAvCKtDfQvlj0EPKPedGMyoMVpYqmwuJzKboisHqDGIgpui5FkFdgzkWVlAyXyeyp/y/oVUkRykAOF4p9rQ7dcfdqZb6iRjkrtNdEES7V3GDOeLBKm8I+GO/uN3jM4yA3tyIULGQtB7j2vKFyzbkRODsqrjRdk9U0K03Osw7BX9G2DFkLwa/7oHH3VN8hz[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-cb59e5d0-cbd1-c48d-9cd6-1429b469e19e/test-blob-92ba3ce1-86eb-3b30-fa2a-ed36715ea9d5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 02 Jul 2024 18:25:16 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC451A5A8F5\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:25:15 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:25:15.3846517Z",
        "x-ms-file-creation-time": "2024-07-02T18:25:15.3846517Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:25:15.3846517Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-cb59e5d0-cbd1-c48d-9cd6-1429b469e19e/test-blob-92ba3ce1-86eb-3b30-fa2a-ed36715ea9d5?sv=Sanitized&se=2024-07-03T18%3A25%3A16Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC451A5A8F5\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:25:15 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:25:15.3846517Z",
        "x-ms-file-creation-time": "2024-07-02T18:25:15.3846517Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:25:15.3846517Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3b5ef146-e748-9613-c923-a84e15215d10/test-blob-7fd7ffcb-e8fc-43e3-cbdd-680bfe73f40b?sv=Sanitized&se=2024-07-03T18%3A25%3A16Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:8e2bca56-301e-0056-7dad-cc840e000000\n",
        "Time:2024-07-02T18:25:15.6075738Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-cb59e5d0-cbd1-c48d-9cd6-1429b469e19e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:25:16 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-07-02T11:25:16.0781832-07:00",
    "RandomSeed": "195319931",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
