{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a4465650-46c3-c387-b29e-1999443013c8?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 21:05:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A227F4268D7\"",
        "Last-Modified": "Wed, 01 May 2024 21:05:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-f9be9585-c065-6932-446f-a5aa17e3035a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 21:05:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A227F526F5F\"",
        "Last-Modified": "Wed, 01 May 2024 21:05:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-f9be9585-c065-6932-446f-a5aa17e3035a/test-blob-8262cfd5-d8c5-7ec1-1271-7b83f08cca7a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 01 May 2024 21:05:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A227F6071AB\"",
        "Last-Modified": "Wed, 01 May 2024 21:05:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T21:05:57.8237116Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-f9be9585-c065-6932-446f-a5aa17e3035a/test-blob-8262cfd5-d8c5-7ec1-1271-7b83f08cca7a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 21:05:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "SnvmFyAQjLwuhsU2N/8rOmBO9LPXMJtrEgeOpNyigmX45xPs17UTWDPUWqIHO1eYM+HIbcgzgxrgewQZgejgiwNgPVDsP2OqOpuAA9X5Y9ev9nD72hWcxGP4DFux+tdL9M6epv0GrPR9HjIts4BE5hcsaYt35LHuw3nt8zIH+UDENA4HWr3aqUl8fbvibxDitCVDhJBL1A8csOKEGbjBdSXyaH9xPIxaUsBC+2f2C1RoCj4NxHSveWD/6qraVo+QugeW7waRcXeZ6DLPCNmnJqSOHA56tLGwQu8fclHhgPwwsUBgXxtN1pnGc9tC4HCHV8QFSzqBFgZV5qwXcv8mt2g2nleYR[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a4465650-46c3-c387-b29e-1999443013c8/test-blob-5999f5a9-8903-a5f5-22e2-c6fec4edd15c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 01 May 2024 21:05:57 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A227F7F7391\"",
        "Last-Modified": "Wed, 01 May 2024 21:05:58 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-01T21:05:58.0259217Z",
        "x-ms-file-creation-time": "2024-05-01T21:05:58.0259217Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-01T21:05:58.0259217Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a4465650-46c3-c387-b29e-1999443013c8/test-blob-5999f5a9-8903-a5f5-22e2-c6fec4edd15c?sv=2024-08-04&se=2024-05-02T21%3A05%3A57Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A227F7F7391\"",
        "Last-Modified": "Wed, 01 May 2024 21:05:58 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-01T21:05:58.0259217Z",
        "x-ms-file-creation-time": "2024-05-01T21:05:58.0259217Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-01T21:05:58.0259217Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-f9be9585-c065-6932-446f-a5aa17e3035a/test-blob-8262cfd5-d8c5-7ec1-1271-7b83f08cca7a?sv=2024-08-04&se=2024-05-02T21%3A05%3A57Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:4084e8a0-201e-0080-330b-9c6e84000000\n",
        "Time:2024-05-01T21:05:58.3539513Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a4465650-46c3-c387-b29e-1999443013c8?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 21:05:58 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T14:05:57.7191358-07:00",
    "RandomSeed": "1623162368",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
