{
  "Entries": [
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-88e1a126-49ab-b5af-e075-833df15c8661?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:04:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868DB9D77A24\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:04:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-989055d4-ebd5-312e-8e12-3b0653dd4b4b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:04:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868DB9E4D297\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:04:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-989055d4-ebd5-312e-8e12-3b0653dd4b4b/test-blob-3a5011b3-37df-f646-0bcb-1229a84885ce",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:04:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868DB9F38B3E\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:04:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:04:04.8034380Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-989055d4-ebd5-312e-8e12-3b0653dd4b4b/test-blob-3a5011b3-37df-f646-0bcb-1229a84885ce?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:04:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "kLVL7gNXwoeCj7FnD0eeLIizXOCUEM9dTIvGFaFZ8rdomEep+YUb3UVZz4znYWBUxln4emUkYIDm7aF3kazmKJ36/3f/9DMDl3+bOkFCdusrcU9HYXhRRDjHwwvjpEuYc6bu7WLpVNEm9eLmiCU/pHe2TB9dnsclqLo/ODEnH/IzA8eaU4iJQRx9IWyVa7sSiB+TLVgsOtXeyUSnqhyg/tXvs4VepFDvLAoD4HxbkDz+LLARlPGaB8jxvIpD4Zb/3SKWpbg2tOPOpABNKFpYgzgIqX5sjmrkVay9bOjGq0tzAwNaxeuEyHfMQu/wTd5umTlROzcYk064sk8LeEj7CPi12SVW/[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-88e1a126-49ab-b5af-e075-833df15c8661/test-blob-14482382-8313-85b2-093f-fb4a1598acae",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 07 Jun 2024 01:04:03 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868DBA11811A\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:04:04 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T01:04:04.9987866Z",
        "x-ms-file-creation-time": "2024-06-07T01:04:04.9987866Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-07T01:04:04.9987866Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-88e1a126-49ab-b5af-e075-833df15c8661/test-blob-14482382-8313-85b2-093f-fb4a1598acae?sv=Sanitized&se=2024-06-08T01%3A04%3A03Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868DBA11811A\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:04:04 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T01:04:04.9987866Z",
        "x-ms-file-creation-time": "2024-06-07T01:04:04.9987866Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-07T01:04:04.9987866Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-989055d4-ebd5-312e-8e12-3b0653dd4b4b/test-blob-3a5011b3-37df-f646-0bcb-1229a84885ce?sv=Sanitized&se=2024-06-08T01%3A04%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:38184383-101e-0035-6c76-b89a35000000\n",
        "Time:2024-06-07T01:04:05.2607832Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-88e1a126-49ab-b5af-e075-833df15c8661?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:04:03 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:04:03.4082507-05:00",
    "RandomSeed": "581967815",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
