{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "source": "Sanitized",
        "useLabelFile": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/56d90b7f-67fe-408f-b214-b714b583396d",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/56d90b7f-67fe-408f-b214-b714b583396d?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "56d90b7f-67fe-408f-b214-b714b583396d",
          "status": "creating",
          "createdDateTime": "2023-04-28T19:47:30Z",
          "lastUpdatedDateTime": "2023-04-28T19:47:30Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/56d90b7f-67fe-408f-b214-b714b583396d?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "56d90b7f-67fe-408f-b214-b714b583396d",
          "status": "ready",
          "createdDateTime": "2023-04-28T19:47:30Z",
          "lastUpdatedDateTime": "2023-04-28T19:47:51Z"
        },
        "keys": {
          "clusters": {
            "0": [
              "Contoso Ltd. Conference will be held on May 28-29, 2020 at the Elm Conference Center in",
              "Included",
              "Maple City, Massachusetts. The conference has sold out of its 1,500 tickets, with a 400 person",
              "Package",
              "Price",
              "Rates:",
              "Vendor #:",
              "Vendor Registration",
              "below, and attach a check made out to:",
              "waitlist. Vendor applications are being accepted through Feb 28, 2020. Please fill in the form"
            ],
            "1": [
              "Company Name:",
              "Contact:",
              "Preferred Package:",
              "Special Requests:",
              "Vendor #:",
              "Vendor Details:"
            ]
          }
        },
        "trainResult": {
          "trainingDocuments": [
            {
              "documentName": "multi1.pdf",
              "pages": 2,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "multi2.pdf",
              "pages": 2,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "multi3.pdf",
              "pages": 2,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "multi4.pdf",
              "pages": 2,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "multi5.pdf",
              "pages": 2,
              "errors": [],
              "status": "succeeded"
            }
          ],
          "errors": []
        }
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/56d90b7f-67fe-408f-b214-b714b583396d/analyze?includeTextDetails=false\u0026pages=1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/pdf",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/56d90b7f-67fe-408f-b214-b714b583396d/analyzeresults/a13a1c39-4df7-40e7-b3d1-90c826f2a2a9",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/56d90b7f-67fe-408f-b214-b714b583396d/analyzeResults/a13a1c39-4df7-40e7-b3d1-90c826f2a2a9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "notStarted",
        "createdDateTime": "2023-04-28T19:47:52Z",
        "lastUpdatedDateTime": "2023-04-28T19:47:52Z"
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/56d90b7f-67fe-408f-b214-b714b583396d/analyzeResults/a13a1c39-4df7-40e7-b3d1-90c826f2a2a9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2023-04-28T19:47:52Z",
        "lastUpdatedDateTime": "2023-04-28T19:47:53Z",
        "analyzeResult": null
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/56d90b7f-67fe-408f-b214-b714b583396d/analyzeResults/a13a1c39-4df7-40e7-b3d1-90c826f2a2a9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2023-04-28T19:47:52Z",
        "lastUpdatedDateTime": "2023-04-28T19:47:59Z",
        "analyzeResult": {
          "version": "2.1.0",
          "readResults": [
            {
              "page": 1,
              "angle": 0,
              "width": 8.5,
              "height": 11.0,
              "unit": "inch",
              "lines": [],
              "selectionMarks": null
            }
          ],
          "pageResults": [
            {
              "page": 1,
              "keyValuePairs": [
                {
                  "key": {
                    "text": "Subtotal:",
                    "boundingBox": [
                      5.5083,
                      4.8983,
                      6.125,
                      4.8983,
                      6.125,
                      5.0132,
                      5.5083,
                      5.0132
                    ],
                    "elements": null
                  },
                  "value": {
                    "text": "300.00",
                    "boundingBox": [
                      6.1792,
                      4.9042,
                      6.6319,
                      4.9042,
                      6.6319,
                      5.0132,
                      6.1792,
                      5.0132
                    ],
                    "elements": null
                  },
                  "confidence": 1.0
                },
                {
                  "key": {
                    "text": "Tax:",
                    "boundingBox": [
                      5.5028,
                      5.1264,
                      5.7806,
                      5.1264,
                      5.7806,
                      5.2333,
                      5.5028,
                      5.2333
                    ],
                    "elements": null
                  },
                  "value": {
         [...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/56d90b7f-67fe-408f-b214-b714b583396d",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "API_KEY": "Sanitized",
    "ENDPOINT": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/",
    "MULTIPAGE_BLOB_CONTAINER_SAS_URL_V2": "https://sanitized.blob.core.windows.net",
    "RandomSeed": "871424792"
  }
}
