{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "source": "Sanitized",
        "useLabelFile": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/ec24eb12-6f0d-47b4-9bf7-8b210432779e",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/ec24eb12-6f0d-47b4-9bf7-8b210432779e?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "ec24eb12-6f0d-47b4-9bf7-8b210432779e",
          "status": "creating",
          "createdDateTime": "2023-04-28T20:32:09Z",
          "lastUpdatedDateTime": "2023-04-28T20:32:09Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/ec24eb12-6f0d-47b4-9bf7-8b210432779e?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "ec24eb12-6f0d-47b4-9bf7-8b210432779e",
          "attributes": {
            "isComposed": false
          },
          "status": "ready",
          "createdDateTime": "2023-04-28T20:32:09Z",
          "lastUpdatedDateTime": "2023-04-28T20:32:12Z"
        },
        "trainResult": {
          "averageModelAccuracy": 0.995,
          "trainingDocuments": [
            {
              "documentName": "label_table_fixed_rows1.pdf",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "label_table_fixed_rows2.pdf",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "label_table_fixed_rows3.pdf",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "label_table_fixed_rows4.pdf",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "label_table_fixed_rows5.pdf",
              "pages": 1,
              "status": "succeeded"
            }
          ],
          "fields": [
            {
              "fieldName": "table",
              "accuracy": 0.995
            }
          ],
          "errors": []
        }
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/ec24eb12-6f0d-47b4-9bf7-8b210432779e/analyze?includeTextDetails=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/pdf",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/ec24eb12-6f0d-47b4-9bf7-8b210432779e/analyzeresults/cf37862e-53c8-4286-b5e8-b1555ee5f29e",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/ec24eb12-6f0d-47b4-9bf7-8b210432779e/analyzeResults/cf37862e-53c8-4286-b5e8-b1555ee5f29e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "notStarted",
        "createdDateTime": "2023-04-28T20:32:13Z",
        "lastUpdatedDateTime": "2023-04-28T20:32:13Z"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/ec24eb12-6f0d-47b4-9bf7-8b210432779e/analyzeResults/cf37862e-53c8-4286-b5e8-b1555ee5f29e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2023-04-28T20:32:13Z",
        "lastUpdatedDateTime": "2023-04-28T20:32:17Z",
        "analyzeResult": {
          "version": "2.1.0",
          "readResults": [
            {
              "page": 1,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch"
            }
          ],
          "pageResults": [
            {
              "page": 1,
              "tables": [
                {
                  "rows": 5,
                  "columns": 4,
                  "cells": [
                    {
                      "rowIndex": 0,
                      "columnIndex": 0,
                      "text": "",
                      "boundingBox": [
                        0.9958,
                        1.6215,
                        2.297,
                        1.6215,
                        2.297,
                        1.8221,
                        0.9958,
                        1.8221
                      ],
                      "isHeader": true
                    },
                    {
                      "rowIndex": 0,
                      "columnIndex": 1,
                      "text": "Price",
                      "boundingBox": [
                        2.297,
                        1.6215,
                        3.5982,
                        1.6215,
                        3.5982,
                        1.8272,
                        2.297,
                        1.8221
                      ],
                [...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/ec24eb12-6f0d-47b4-9bf7-8b210432779e",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "API_KEY": "Sanitized",
    "ENDPOINT": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/",
    "RandomSeed": "1285326553",
    "TABLE_FIXED_ROWS_BLOB_CONTAINER_SAS_URL_V2": "https://sanitized.blob.core.windows.net"
  }
}
