{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "source": "Sanitized",
        "useLabelFile": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/31b355b8-1df1-4b83-a045-7704fa49178e",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/31b355b8-1df1-4b83-a045-7704fa49178e?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "31b355b8-1df1-4b83-a045-7704fa49178e",
          "status": "creating",
          "createdDateTime": "2023-04-28T20:31:59Z",
          "lastUpdatedDateTime": "2023-04-28T20:31:59Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/31b355b8-1df1-4b83-a045-7704fa49178e?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "31b355b8-1df1-4b83-a045-7704fa49178e",
          "attributes": {
            "isComposed": false
          },
          "status": "ready",
          "createdDateTime": "2023-04-28T20:31:59Z",
          "lastUpdatedDateTime": "2023-04-28T20:32:02Z"
        },
        "trainResult": {
          "averageModelAccuracy": 0.995,
          "trainingDocuments": [
            {
              "documentName": "label_table_variable_rows1.pdf",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "label_table_variable_rows2.pdf",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "label_table_variable_rows3.pdf",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "label_table_variable_rows4.pdf",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "label_table_variable_rows5.pdf",
              "pages": 1,
              "status": "succeeded"
            }
          ],
          "fields": [
            {
              "fieldName": "table",
              "accuracy": 0.995
            },
            {
              "fieldName": "table: Item",
              "accuracy": 0.995
            },
            {
              "fieldName": "table: Price",
              "accuracy": 0.995
            },
            {
              "fieldName": "table: Tax",
              "accuracy": 0.995
            },
            {
              "fieldName": "table: Total",
              "accuracy": 0.995
            }
          ],
          "errors": []
        }
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/31b355b8-1df1-4b83-a045-7704fa49178e/analyze?includeTextDetails=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/pdf",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/31b355b8-1df1-4b83-a045-7704fa49178e/analyzeresults/0ad0e9ac-d815-4785-8f29-dfe53aa8dfa5",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/31b355b8-1df1-4b83-a045-7704fa49178e/analyzeResults/0ad0e9ac-d815-4785-8f29-dfe53aa8dfa5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "notStarted",
        "createdDateTime": "2023-04-28T20:32:03Z",
        "lastUpdatedDateTime": "2023-04-28T20:32:03Z"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/31b355b8-1df1-4b83-a045-7704fa49178e/analyzeResults/0ad0e9ac-d815-4785-8f29-dfe53aa8dfa5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2023-04-28T20:32:03Z",
        "lastUpdatedDateTime": "2023-04-28T20:32:07Z",
        "analyzeResult": {
          "version": "2.1.0",
          "readResults": [
            {
              "page": 1,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch"
            }
          ],
          "pageResults": [
            {
              "page": 1,
              "tables": [
                {
                  "rows": 5,
                  "columns": 4,
                  "cells": [
                    {
                      "rowIndex": 0,
                      "columnIndex": 0,
                      "text": "Item",
                      "boundingBox": [
                        0.9911,
                        1.6215,
                        2.2988,
                        1.6215,
                        2.2988,
                        1.8221,
                        0.9965,
                        1.8272
                      ],
                      "isHeader": true
                    },
                    {
                      "rowIndex": 0,
                      "columnIndex": 1,
                      "text": "Price",
                      "boundingBox": [
                        2.2988,
                        1.6215,
                        3.585,
                        1.6215,
                        3.5904,
                        1.8221,
                        2.2988,
                        1.8221
                      ],
               [...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/31b355b8-1df1-4b83-a045-7704fa49178e",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "API_KEY": "Sanitized",
    "ENDPOINT": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/",
    "RandomSeed": "633633760",
    "TABLE_DYNAMIC_ROWS_BLOB_CONTAINER_SAS_URL_V2": "https://sanitized.blob.core.windows.net"
  }
}
