{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "source": "Sanitized",
        "useLabelFile": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/0d04ec92-5944-4ce8-84c7-7a51842f85c3",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/0d04ec92-5944-4ce8-84c7-7a51842f85c3?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "0d04ec92-5944-4ce8-84c7-7a51842f85c3",
          "status": "creating",
          "createdDateTime": "2023-04-28T19:45:04Z",
          "lastUpdatedDateTime": "2023-04-28T19:45:04Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/0d04ec92-5944-4ce8-84c7-7a51842f85c3?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "0d04ec92-5944-4ce8-84c7-7a51842f85c3",
          "attributes": {
            "isComposed": false
          },
          "status": "ready",
          "createdDateTime": "2023-04-28T19:45:04Z",
          "lastUpdatedDateTime": "2023-04-28T19:45:07Z"
        },
        "trainResult": {
          "averageModelAccuracy": 0.96,
          "trainingDocuments": [
            {
              "documentName": "Form_1.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_2.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_3.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_4.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_5.jpg",
              "pages": 1,
              "status": "succeeded"
            }
          ],
          "fields": [
            {
              "fieldName": "CompanyAddress",
              "accuracy": 0.8
            },
            {
              "fieldName": "CompanyName",
              "accuracy": 0.995
            },
            {
              "fieldName": "CompanyPhoneNumber",
              "accuracy": 0.995
            },
            {
              "fieldName": "DatedAs",
              "accuracy": 0.995
            },
            {
              "fieldName": "Email",
              "accuracy": 0.8
            },
            {
              "fieldName": "Merchant",
              "accuracy": 0.995
            },
            {
              "fieldName": "PhoneNumber",
              "accuracy": 0.995
            },
            {
              "fieldName": "PurchaseOrderNumber",
              "accuracy": 0.995
            },
            {
              "fieldName": "Quantity",
              "accuracy": 0.995
            },
            {
              "fieldName": "Signature",
              "accuracy": 0.8
            },
            {
              "fieldName": "Subtotal",
              "accuracy": 0.995
            },
            {
              "fieldName": "Tax",
              "accuracy": 0.995
            },
            {
              "fieldName": "Total",
              "accuracy": 0.995
            },
            {
              "fieldName": "VendorName",
              "accuracy": 0.995
            },
            {
              "fieldName": "Website",
              "accuracy": 0.995
            }
          ],
          "errors": []
        }
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/0d04ec92-5944-4ce8-84c7-7a51842f85c3/analyze?includeTextDetails=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "image/jpeg",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/0d04ec92-5944-4ce8-84c7-7a51842f85c3/analyzeresults/6612eb28-e530-42dc-9e2c-97151f3c5548",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/0d04ec92-5944-4ce8-84c7-7a51842f85c3/analyzeResults/6612eb28-e530-42dc-9e2c-97151f3c5548",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "notStarted",
        "createdDateTime": "2023-04-28T19:45:08Z",
        "lastUpdatedDateTime": "2023-04-28T19:45:08Z"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/0d04ec92-5944-4ce8-84c7-7a51842f85c3/analyzeResults/6612eb28-e530-42dc-9e2c-97151f3c5548",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2023-04-28T19:45:08Z",
        "lastUpdatedDateTime": "2023-04-28T19:45:12Z",
        "analyzeResult": {
          "version": "2.1.0",
          "readResults": [
            {
              "page": 1,
              "angle": 0,
              "width": 1700,
              "height": 2200,
              "unit": "pixel"
            }
          ],
          "pageResults": [
            {
              "page": 1,
              "tables": [
                {
                  "rows": 5,
                  "columns": 4,
                  "cells": [
                    {
                      "rowIndex": 0,
                      "columnIndex": 0,
                      "text": "Details",
                      "boundingBox": [
                        156,
                        1037,
                        847,
                        1037,
                        847,
                        1086,
                        156,
                        1086
                      ],
                      "isHeader": true
                    },
                    {
                      "rowIndex": 0,
                      "columnIndex": 1,
                      "text": "Quantity",
                      "boundingBox": [
                        847,
                        1037,
                        1071,
                        1038,
                        1071,
                        1086,
                        847,
                        1086
                      ],
                      "isHead[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/0d04ec92-5944-4ce8-84c7-7a51842f85c3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "API_KEY": "Sanitized",
    "ENDPOINT": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/",
    "RandomSeed": "46224408",
    "SINGLEPAGE_BLOB_CONTAINER_SAS_URL_V2": "https://sanitized.blob.core.windows.net"
  }
}
