{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e11a50cb-4df6-79a4-1f54-045512c534ca?restype=container&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A00Z&se=2026-02-18T07%3A38%3A00Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB8429A4F59\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6d3292fe-3d71-6838-c31c-6c66a7d8af82?restype=share&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A00Z&se=2026-02-18T07%3A38%3A00Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB842A50C1D\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e11a50cb-4df6-79a4-1f54-045512c534ca/test-file-a4331ae7-90e2-50f9-71b2-bf149357a27e?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A00Z&se=2026-02-18T07%3A38%3A00Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB842AE94FD\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e11a50cb-4df6-79a4-1f54-045512c534ca/test-file-a4331ae7-90e2-50f9-71b2-bf149357a27e?comp=page&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A00Z&se=2026-02-18T07%3A38%3A00Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "ko/MKgt4FkUNU/IA6ZOXaRZD+awR5foJhHzFuRGuzxyLRPpZeBxbbwPul46d+GbeG1X+UF32bayUw6aPsl0zXoTWdaWYPvD554qoIk5sbIsV5568r36/lNZNxLV2zLyluzgKx4PBRdxlBWjSTUpeKFYaecu/d64FF+DOS3k7ghvOA2cVYqQHVKHBV6oW7EaL75xeXFLx5USJBLCj8/pjKYJNBErjScaxEiUp/iAE7yqZQlzd3SbI3B0jjF30ZGGnXS0oyej8qKXWrEktx+YkhRWFCbCehkxbhCcswL1ova7EgqHy2yZCnZq2BjDdmhQ3/wZIblqwCNfhzUTAz+jobe+baUVFManuQ2wW6H8bfukT9cG2IE5TE3nKEA7hgc2xzZlBQTHP8c1dWSrtmSBXxk5ardonMk2[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e11a50cb-4df6-79a4-1f54-045512c534ca/test-file-a4331ae7-90e2-50f9-71b2-bf149357a27e?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A00Z&se=2026-02-18T07%3A38%3A00Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE6EB842B8003B\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:00 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 18 Feb 2026 06:38:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6d3292fe-3d71-6838-c31c-6c66a7d8af82/test-file-b670997c-2ed2-bd37-0eda-88cec87cec50?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A00Z&se=2026-02-18T07%3A38%3A00Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6d3292fe-3d71-6838-c31c-6c66a7d8af82/test-file-b670997c-2ed2-bd37-0eda-88cec87cec50?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A00Z&se=2026-02-18T07%3A38%3A00Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-02-18T06:38:00.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB842DAD763\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:38:00.7865187Z",
        "x-ms-file-creation-time": "2026-02-18T06:38:00.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-02-18T06:38:00.7865187Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6d3292fe-3d71-6838-c31c-6c66a7d8af82/test-file-b670997c-2ed2-bd37-0eda-88cec87cec50?comp=range&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A00Z&se=2026-02-18T07%3A38%3A00Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-e11a50cb-4df6-79a4-1f54-045512c534ca/test-file-a4331ae7-90e2-50f9-71b2-bf149357a27e?sv=sanitized-value&ss=b&srt=sco&st=2026-02-18T05%3A38%3A00Z&se=2026-02-18T07%3A38%3A00Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB842E61566\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:00 GMT",
        "x-ms-content-crc64": "A/GDUCtrTFw=",
        "x-ms-file-last-write-time": "2026-02-18T06:38:00.7865187Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6d3292fe-3d71-6838-c31c-6c66a7d8af82/test-file-b670997c-2ed2-bd37-0eda-88cec87cec50?comp=properties&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A00Z&se=2026-02-18T07%3A38%3A00Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-02-18T06:38:00.0000000Z",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB842EEFAA3\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:38:00.9184931Z",
        "x-ms-file-creation-time": "2026-02-18T06:38:00.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-02-18T06:38:00.7865187Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e11a50cb-4df6-79a4-1f54-045512c534ca/test-file-a4331ae7-90e2-50f9-71b2-bf149357a27e?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A00Z&se=2026-02-18T07%3A38%3A00Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE6EB842B8003B\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE6EB842B8003B\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:00 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 18 Feb 2026 06:38:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6d3292fe-3d71-6838-c31c-6c66a7d8af82?restype=share&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A00Z&se=2026-02-18T07%3A38%3A00Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e11a50cb-4df6-79a4-1f54-045512c534ca?restype=container&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A00Z&se=2026-02-18T07%3A38%3A00Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-02-17T22:38:00.3386472-08:00",
    "RandomSeed": "1587464272",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
