{
  "Entries": [
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-1727b137-a0bd-b3f8-8340-68533324d319?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 21:34:20 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA7003E3AC102\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:34:21 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-7aeb9fbe-6017-8447-270a-997a7914a720?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 21:34:21 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA7003E41BBC1\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:34:21 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-1727b137-a0bd-b3f8-8340-68533324d319/test-file-8eb8a73f-c3ad-7ffe-ea3a-9e81b21a9994",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 30 Apr 2026 21:34:21 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA7003E48B48C\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:34:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-1727b137-a0bd-b3f8-8340-68533324d319/test-file-8eb8a73f-c3ad-7ffe-ea3a-9e81b21a9994?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 30 Apr 2026 21:34:21 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "ydReau87qLZMI9qV0lyPrFFC7UPashhZEKWCPOmANG7s2JBM0Np7BP4CQYnpaK2Nq/IwcC1WuRa8BVpJuWvMzO5sqfrLQtt3xulE2HGOcKf39JD3UMRAlR56kMuAMkuSNXWafL+zwmkWuKpDEuGlLZWyUcTb1XsqKxPbUbEP9pOesaL79PPoRDIn4JcZ/YM81GM2zeCGt2D5b1Gr13C4B8EWpWA+qTiiyg2Ss/XkEC6QnnxN2SmzF/lCAoShPGzBbtnVA1ci/isqkwPT8wNqFF8jGzjzay2YY45n+6e0AI2g0EUcDg3WbaBRIkYl3yP12O0lfiEzzgOrPJ/JuwKDdpN1MiO+TgZRTK6YokjncoRqcSO6joJsbQJBcNFtDbGezayysKwANorn0zFymyu7xMobXkreyec[...]
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-1727b137-a0bd-b3f8-8340-68533324d319/test-file-8eb8a73f-c3ad-7ffe-ea3a-9e81b21a9994?sv=Sanitized&se=2026-05-01T21%3A34%3A21Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA7003E4F4188\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:34:22 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 30 Apr 2026 21:34:21 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-7aeb9fbe-6017-8447-270a-997a7914a720/test-file-5deed274-5921-9cb3-3e77-a37cf8a0c8c1?sv=Sanitized&se=2026-05-01T21%3A34%3A21Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-7aeb9fbe-6017-8447-270a-997a7914a720/test-file-5deed274-5921-9cb3-3e77-a37cf8a0c8c1?sv=Sanitized&se=2026-05-01T21%3A34%3A21Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA7003E64462A\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:34:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T21:34:22.1786666Z",
        "x-ms-file-creation-time": "2026-04-30T21:34:22.1786666Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-30T21:34:22.1786666Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-7aeb9fbe-6017-8447-270a-997a7914a720/test-file-5deed274-5921-9cb3-3e77-a37cf8a0c8c1?sv=Sanitized&se=2026-05-01T21%3A34%3A21Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amnguyesa.blob.core.windows.net/test-container-1727b137-a0bd-b3f8-8340-68533324d319/test-file-8eb8a73f-c3ad-7ffe-ea3a-9e81b21a9994?sv=sanitized-value&se=2026-05-01T21%3A34%3A21Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA7003E6CF528\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:34:22 GMT",
        "x-ms-content-crc64": "LJSRqCB64QY=",
        "x-ms-file-last-write-time": "2026-04-30T21:34:22.1786666Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-7aeb9fbe-6017-8447-270a-997a7914a720/test-file-5deed274-5921-9cb3-3e77-a37cf8a0c8c1?sv=Sanitized&se=2026-05-01T21%3A34%3A21Z&sr=f&sp=rcwd&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA7003E738226\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:34:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-1727b137-a0bd-b3f8-8340-68533324d319/test-file-8eb8a73f-c3ad-7ffe-ea3a-9e81b21a9994?sv=Sanitized&se=2026-05-01T21%3A34%3A21Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DEA7003E4F4188\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA7003E4F4188\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:34:22 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 30 Apr 2026 21:34:21 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-[...]
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-7aeb9fbe-6017-8447-270a-997a7914a720?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 21:34:21 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-1727b137-a0bd-b3f8-8340-68533324d319?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 21:34:21 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-04-30T14:34:21.1602655-07:00",
    "RandomSeed": "2085970511",
    "Storage_TestConfigDefault": "ProductionTenant\namnguyesa\nU2FuaXRpemVk\nhttps://amnguyesa.blob.core.windows.net\nhttps://amnguyesa.file.core.windows.net\nhttps://amnguyesa.queue.core.windows.net\nhttps://amnguyesa.table.core.windows.net\n\n\n\n\nhttps://amnguyesa-secondary.blob.core.windows.net\nhttps://amnguyesa-secondary.file.core.windows.net\nhttps://amnguyesa-secondary.queue.core.windows.net\nhttps://amnguyesa-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amnguyesa.blob.core.windows.net/;QueueEndpoint=https://amnguyesa.queue.core.windows.net/;FileEndpoint=https://amnguyesa.file.core.windows.net/;BlobSecondaryEndpoint=https://amnguyesa-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amnguyesa-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amnguyesa-secondary.file.core.windows.net/;AccountName=amnguyesa;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
