{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-dacecb8e-fd1f-164d-a5b2-f0296c9f90ba?restype=container&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A25%3A18Z&se=2026-02-18T07%3A25%3A18Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB67CC118A8\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:25:18 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-e471831a-c0fd-7e97-c39c-8c843bda8253?restype=share&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A25%3A18Z&se=2026-02-18T07%3A25%3A18Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB67CCDD9AE\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:25:19 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-dacecb8e-fd1f-164d-a5b2-f0296c9f90ba/test-file-cbd0d8ce-5a90-dd3f-aacf-c7ee5d389a28?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A25%3A18Z&se=2026-02-18T07%3A25%3A18Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB67CE6B0FD\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:25:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-dacecb8e-fd1f-164d-a5b2-f0296c9f90ba/test-file-cbd0d8ce-5a90-dd3f-aacf-c7ee5d389a28?comp=page&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A25%3A18Z&se=2026-02-18T07%3A25%3A18Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "FAQVd4Bxc2jNAM1crJNWhpsykQvKu/cUg3tnEGwj1svHaDBHgPuvXGVo/Y+N4zEXeUBTKqePXVkMAPMECmL8qSoClERiDwaggzSmYr1oh6BJT5cr0KskNwvXOoAHqlICbFRki07ttWo6sqdy6fqbpHhTurrL0Nl+3V05itSFmdnho/VpA/xRXJot8R4EsU4QPJUIs++YN5x75q3xtCqVtBnNkUUEMaB8Al4fnd67eiwOKE0+feXpSWxZ7h1PX6dwmD0ENh8JCwv1i7CQeJm9wGuA4ovdVjYz5EfZq0KDLKO2rwWgtkMNBR1CSfE0WNDSmy6xznwbk0IG0VLXL1/IcV8N2smUHQkoc91umgxF/ot2Bg8T0V4mmhzDmuXxNdW9ediSJ34HPn4liVufrfg1wdLHYSlQtJ8[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-dacecb8e-fd1f-164d-a5b2-f0296c9f90ba/test-file-cbd0d8ce-5a90-dd3f-aacf-c7ee5d389a28?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A25%3A18Z&se=2026-02-18T07%3A25%3A18Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE6EB67CF04331\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:25:19 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 18 Feb 2026 06:25:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-e471831a-c0fd-7e97-c39c-8c843bda8253/test-file-3c73bde8-8750-1e85-3a9e-25e46c43ef77?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A25%3A18Z&se=2026-02-18T07%3A25%3A18Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-e471831a-c0fd-7e97-c39c-8c843bda8253/test-file-3c73bde8-8750-1e85-3a9e-25e46c43ef77?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A25%3A18Z&se=2026-02-18T07%3A25%3A18Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-02-18T06:25:19.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB67D15B459\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:25:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:25:19.4866777Z",
        "x-ms-file-creation-time": "2026-02-18T06:25:19.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-02-18T06:25:19.4866777Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-e471831a-c0fd-7e97-c39c-8c843bda8253/test-file-3c73bde8-8750-1e85-3a9e-25e46c43ef77?comp=range&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A25%3A18Z&se=2026-02-18T07%3A25%3A18Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-dacecb8e-fd1f-164d-a5b2-f0296c9f90ba/test-file-cbd0d8ce-5a90-dd3f-aacf-c7ee5d389a28?sv=sanitized-value&ss=b&srt=sco&st=2026-02-18T05%3A25%3A18Z&se=2026-02-18T07%3A25%3A18Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB67D200905\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:25:19 GMT",
        "x-ms-content-crc64": "G9LwNLE3Nfw=",
        "x-ms-file-last-write-time": "2026-02-18T06:25:19.4866777Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-e471831a-c0fd-7e97-c39c-8c843bda8253/test-file-3c73bde8-8750-1e85-3a9e-25e46c43ef77?comp=properties&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A25%3A18Z&se=2026-02-18T07%3A25%3A18Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-02-18T06:25:19.0000000Z",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB67D292681\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:25:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:25:19.6141185Z",
        "x-ms-file-creation-time": "2026-02-18T06:25:19.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-02-18T06:25:19.4866777Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-dacecb8e-fd1f-164d-a5b2-f0296c9f90ba/test-file-cbd0d8ce-5a90-dd3f-aacf-c7ee5d389a28?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A25%3A18Z&se=2026-02-18T07%3A25%3A18Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE6EB67CF04331\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE6EB67CF04331\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:25:19 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 18 Feb 2026 06:25:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-e471831a-c0fd-7e97-c39c-8c843bda8253?restype=share&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A25%3A18Z&se=2026-02-18T07%3A25%3A18Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-dacecb8e-fd1f-164d-a5b2-f0296c9f90ba?restype=container&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A25%3A18Z&se=2026-02-18T07%3A25%3A18Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-02-17T22:25:18.9191988-08:00",
    "RandomSeed": "865024543",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
