{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2bf300af-bf81-40f7-9d9a-0940055ed4b8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Feb 2025 02:16:33 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD515498BD8538\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:16:33 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1dc1bd18-3f9c-92a5-46e9-e6378e90392d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Feb 2025 02:16:33 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD515498C6D755\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:16:33 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1dc1bd18-3f9c-92a5-46e9-e6378e90392d/test-file-a1b29bfe-b936-cf9f-1562-276a229f3ef3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 20 Feb 2025 02:16:33 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD515498CFF296\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:16:33 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-20T02:16:33.9346070Z",
        "x-ms-file-creation-time": "2025-02-20T02:16:33.9346070Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-20T02:16:33.9346070Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1dc1bd18-3f9c-92a5-46e9-e6378e90392d/test-file-a1b29bfe-b936-cf9f-1562-276a229f3ef3?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 20 Feb 2025 02:16:33 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "4vam+nbtdcUQG+n03q8gO1R3YnjiMP+32gYv8cC/6EhRjyEWMxEvpNQMXs+XswQI+AgqNs4o37H27h9vvYMEUTOgo0+NCQhDSL2j1dIwICcCJ/m4lLJ6KK9wH0Txv+ZRCAyc9g+0eu8A5+4QhQrexs74bZaJTLyBJnqfHenDUYnXUs3FlCkXTawKt63DaqOlkVl2+VFQx7tQG9CVFFwFPZZkODI8GDKl4B/pf5QPvbzX+oyPTFc3h4sRdXlYgjlQBHoWXzFxaHgn0RkxZkgmQV0UvRrQdfA+LLGnK6O5TF7mmXoa+F2KZZETaHs+BiBD6jMbQ8Qef46J2DJ/yj3UboS7SszNDEn/iVeIvA10ACaQZEBvnQmZyBnskSArC5tUPvn3g7tUdd7qG7pslsOAFNcL7mX8ZdB7IYKy4Xoo1H68M30TfX1rPO5ihIJOLTFWa3xIHxw1WNkpfGE4oZRjwUc7sGNFbZdaoLJ3muBOLPRRXHX+4LRhhtuk6gEbMptZ/sM7E3zOEf7l7n9qvr352lBt50UeZeGS2iqHoYKVP20XHZwdExl3g0p3GPI198cdqg+xrUtWO5jhqDlSRm97T64RU6Ah3Mc29mT6pkzuXeJiavZy5JEiwOIDO2rgJDzb/MlDJKQn+81IerfnXJRL8ktW8Nx4CGod7pK9HqFcVtInHqqDqzg+Om4pKmraO2ROt0gfiTNfYvNeJjURat0s7CPkvz3qyEcSF7VuT94AQrMtbmdZPMyeyLy2JIQDLNCQ/D5G9XsnZO4ADXF98RIVXuOC4/t2069WRveAM6PDD+rl3VOguUw3Bgp4WC9aINeqocaggEnUGimP766EpzBLPf2GmBO+dKWWSt3x/Xp//CYf1ZLdIo6hEMIqEcmesl/ZLRsy04fD7CwgCjVr4x2uD/OHZNGebRtv5YdQk2Pb+Jd+F9BfTSifW+llvBhYNi2lfAHVFk2NOr8Aw+4Ac1jJRBGd7ctMT8LL6AnoOLADFq5aqxdhBuJJ8NwQX4o5nuiQnHcGu0hhWSw+CS1EpAIP/KxApshAZz4vU/zuO+84kkogWJw4/Ftl+FLqIvy0BEzaAWLd+fggUDQ512dMcx08BnfjJExl1gBR2q51VUVCek6wEzqNW5lR/whn/yXzGYU0rRyE0eD/dSpiix5Kqvrv9l0Ym1/ir6vekSVE/dfbXcEoQacovahusZ4PK896B1QNeAjH230lUf5wpkC7undShy1dIWlSxjm0qerA04TbY4nQN4XPE4JDAu+puBZos/YmvaShHebrurHPEzGSZX56lUO264Pyg3OrGR56qQ4iS/b0mhXfOUWj5HzT/wBQsJ1wLiPTsshyNDkw9gTHcBGirQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "17vLExZDGUj3wbfI7JV7Zg==",
        "ETag": "\"0x8DD515498DCE8FF\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:16:34 GMT",
        "x-ms-file-last-write-time": "2025-02-20T02:16:34.0195583Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2bf300af-bf81-40f7-9d9a-0940055ed4b8/test-file-a6a8f226-0c94-79d4-f30a-08f66d7ba8b0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 20 Feb 2025 02:16:34 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD515498E3B2FA\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:16:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-20T02:16:34.0640506Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2bf300af-bf81-40f7-9d9a-0940055ed4b8/test-file-a6a8f226-0c94-79d4-f30a-08f66d7ba8b0?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 20 Feb 2025 02:16:34 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "GWcvzSiEgVRFmWWvk+U0oAQVZfhuFqOFyHM9MD1fP4Y9c2CSPUononBUYPunJOYO1mjyWBWwQgPEqQW1RlAW5VneciCEoWK57sOHGrWn3qSML1rVbedxjTBdzpNFclwfPXuiyLLGiTQFOGpSKChNHMtgKBf1QHdybeTvJ9LOdHtmaNw5BRXxxqUm0DV8HmUID7HI5EpFKfwDL1vN1mFhNsPu68BLFBe1b2Fxz3BC9U5/5hghBZAxIT7gNdW5JPBDxJlyjTOkvfuaE3Xo01qLwToNTe9JQDEyvcmBat5B+0pxLgvX0Gca2ykdhvIbSE7kVHSbrNcA+YNoP9BpIlIdWRcqd6VOtPHS8nLGLLk+F3R7nRZppk9zcTSHbpGWsbj[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2bf300af-bf81-40f7-9d9a-0940055ed4b8/test-file-a6a8f226-0c94-79d4-f30a-08f66d7ba8b0?sv=Sanitized&se=2025-02-21T02%3A16%3A34Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD515498EA1AB4\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:16:34 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 20 Feb 2025 02:16:34 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-20T02:16:34.0640506Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1dc1bd18-3f9c-92a5-46e9-e6378e90392d/test-file-a1b29bfe-b936-cf9f-1562-276a229f3ef3?sv=Sanitized&se=2025-02-21T02%3A16%3A34Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD515498DCE8FF\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:16:34 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-20T02:16:34.0195583Z",
        "x-ms-file-creation-time": "2025-02-20T02:16:33.9346070Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-20T02:16:34.0195583Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1dc1bd18-3f9c-92a5-46e9-e6378e90392d/test-file-a1b29bfe-b936-cf9f-1562-276a229f3ef3?sv=Sanitized&se=2025-02-21T02%3A16%3A34Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD515498DCE8FF\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:16:34 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-20T02:16:34.0195583Z",
        "x-ms-file-creation-time": "2025-02-20T02:16:33.9346070Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-20T02:16:34.0195583Z",
        "x-ms-file-parent-id": "0",[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1dc1bd18-3f9c-92a5-46e9-e6378e90392d?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Feb 2025 02:16:34 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2bf300af-bf81-40f7-9d9a-0940055ed4b8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Feb 2025 02:16:34 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-19T18:16:34.0446967-08:00",
    "RandomSeed": "1227078814",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
