{
  "Entries": [
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-39639cee-86e7-e423-6616-996009ec54e9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 21:34:15 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA7003AE438BA\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:34:16 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-3aa09fee-9524-69b1-01a4-4315d53531b2?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 21:34:15 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA7003AEB38DA\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:34:16 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-39639cee-86e7-e423-6616-996009ec54e9/test-file-1a04f09d-5df9-c175-f7a7-dfb9ff5a86d1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 30 Apr 2026 21:34:15 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA7003AF24A48\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:34:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-39639cee-86e7-e423-6616-996009ec54e9/test-file-1a04f09d-5df9-c175-f7a7-dfb9ff5a86d1?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 30 Apr 2026 21:34:15 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "tKOeoe5EQrU0vpUB/G5uf9X6QdiNCEp3HfK5vXRzwyl+9KIWKtbf9tBGA4ij8vTG8RzkL/2Lp6xZJ4T8ioRAwfpsgwfLWFX/GkoIRgTB0yr988xYjpQs8k32vAJR42xMBkKNN2/s+pjG5RSzg2GnmFRZ/pe35zJlP5C61ZtSrTfdvEDBM5y7Efgzkal/eG/sTiSu+OXVlB4QJ/feMSX9dDfd1cYg5WS4nuyfg1WJ5schzod3pLVRCCchsQuk3d/TNh1xoqOoy2i/9lr4NhHJhkEwvWOdhc+Ci8yf/jRYE8ANy003GEMjeAIft65bWdIWWCvJcyB8NbFO7xbXCcw0Z+KZ6mrDkW7+DERgfs0hJjL5iaYIjp+gkZac6SgtTG426lDMwm5oUse8y2bbG7bjLMjj3X8mK9hC+FnTJ6dF0MDWKpN9VWTEkDbfTMM4xXXfubxgSW7vEL94ickVlSofd/umBfEiZddjH0xIR98UCTPj827q5YZR5xnUBcubrvsMv9TIksCEvFPl/CoipsjgY4CWMqG8NZJ0VB7XTmAMyHBRPIcKTHZyXjcbBehcL0BR9KFKBHxaT4pCUz2irG7y2DS50WlA1RYJI9NqoS+pFyXdhlq+wcP09uz9x/g40LLIKCy0o17XEB6LQeGp765amDwYxSYUNBdwxdp8Qw4d0FM=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA7003AF8FE49\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:34:16 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "Gefec7Wbwro=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-39639cee-86e7-e423-6616-996009ec54e9/test-file-1a04f09d-5df9-c175-f7a7-dfb9ff5a86d1?sv=Sanitized&se=2026-05-01T21%3A34%3A15Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA7003AF8FE49\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:34:16 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 30 Apr 2026 21:34:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-3aa09fee-9524-69b1-01a4-4315d53531b2/test-file-0b20805c-1e35-f19e-43a7-a760050a0da4?sv=Sanitized&se=2026-05-01T21%3A34%3A15Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-3aa09fee-9524-69b1-01a4-4315d53531b2/test-file-0b20805c-1e35-f19e-43a7-a760050a0da4?sv=Sanitized&se=2026-05-01T21%3A34%3A15Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "512",
        "x-ms-content-type": "image/jpeg",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA7003B0E2B06\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:34:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T21:34:16.5811974Z",
        "x-ms-file-creation-time": "2026-04-30T21:34:16.5811974Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-30T21:34:16.5811974Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-3aa09fee-9524-69b1-01a4-4315d53531b2/test-file-0b20805c-1e35-f19e-43a7-a760050a0da4?sv=Sanitized&se=2026-05-01T21%3A34%3A15Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amnguyesa.blob.core.windows.net/test-container-39639cee-86e7-e423-6616-996009ec54e9/test-file-1a04f09d-5df9-c175-f7a7-dfb9ff5a86d1?sv=sanitized-value&se=2026-05-01T21%3A34%3A15Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA7003B16B306\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:34:16 GMT",
        "x-ms-content-crc64": "Gefec7Wbwro=",
        "x-ms-file-last-write-time": "2026-04-30T21:34:16.5811974Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-3aa09fee-9524-69b1-01a4-4315d53531b2/test-file-0b20805c-1e35-f19e-43a7-a760050a0da4?sv=Sanitized&se=2026-05-01T21%3A34%3A15Z&sr=f&sp=rcwd&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T21:34:16.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA7003B1D400A\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:34:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T21:34:16.6800394Z",
        "x-ms-file-creation-time": "2026-04-30T21:34:16.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-30T21:34:16.5811974Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-39639cee-86e7-e423-6616-996009ec54e9/test-file-1a04f09d-5df9-c175-f7a7-dfb9ff5a86d1?sv=Sanitized&se=2026-05-01T21%3A34%3A15Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DEA7003AF8FE49\"",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA7003AF8FE49\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:34:16 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 30 Apr 2026 21:34:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "tKOeoe5EQrU0vpUB/G5uf9X6QdiNCEp3HfK5vXRzwyl+9KIWKtbf9tBGA4ij8vTG8RzkL/2Lp6xZJ4T8ioRAwfpsgwfLWFX/GkoIRgTB0yr988xYjpQs8k32vAJR42xMBkKNN2/s+pjG5RSzg2GnmFRZ/pe35zJlP5C61ZtSrTfdvEDBM5y7Efgzkal/eG/sTiSu+OXVlB4QJ/feMSX9dDfd1cYg5WS4nuyfg1WJ5schzod3pLVRCCchsQuk3d/TNh1xoqOoy2i/9lr4NhHJhkEwvWOdhc+Ci8yf/jRYE8ANy003GEMjeAIft65bWdIWWCvJcyB8NbFO7xbXCcw0Z+KZ6mrDkW7+DERgfs0hJjL5iaYIjp+gkZac6SgtTG426lDMwm5oUse8y2bbG7bjLMjj3X8mK9hC+FnTJ6dF0MDWKpN9VWTEkDbfTMM4xXXfubxgSW7vEL94ickVlSofd/umBfEiZddjH0xIR98UCTPj827q5YZR5xnUBcubrvsMv9TIksCEvFPl/CoipsjgY4CWMqG8NZJ0VB7XTmAMyHBRPIcKTHZyXjcbBehcL0BR9KFKBHxaT4pCUz2irG7y2DS50WlA1RYJI9NqoS+pFyXdhlq+wcP09uz9x/g40LLIKCy0o17XEB6LQeGp765amDwYxSYUNBdwxdp8Qw4d0FM="
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-3aa09fee-9524-69b1-01a4-4315d53531b2?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 21:34:16 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-39639cee-86e7-e423-6616-996009ec54e9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 21:34:16 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-04-30T14:34:15.5605752-07:00",
    "RandomSeed": "1125599559",
    "Storage_TestConfigDefault": "ProductionTenant\namnguyesa\nU2FuaXRpemVk\nhttps://amnguyesa.blob.core.windows.net\nhttps://amnguyesa.file.core.windows.net\nhttps://amnguyesa.queue.core.windows.net\nhttps://amnguyesa.table.core.windows.net\n\n\n\n\nhttps://amnguyesa-secondary.blob.core.windows.net\nhttps://amnguyesa-secondary.file.core.windows.net\nhttps://amnguyesa-secondary.queue.core.windows.net\nhttps://amnguyesa-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amnguyesa.blob.core.windows.net/;QueueEndpoint=https://amnguyesa.queue.core.windows.net/;FileEndpoint=https://amnguyesa.file.core.windows.net/;BlobSecondaryEndpoint=https://amnguyesa-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amnguyesa-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amnguyesa-secondary.file.core.windows.net/;AccountName=amnguyesa;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
