{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-939edb9b-cb91-25cd-96f5-7350c1f4a3df?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:14:40 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D156FEC7809\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:14:40 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-82c146e7-6e02-c809-c5ce-d7d4ab600e57?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:14:41 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D156FF66400\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:14:41 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-939edb9b-cb91-25cd-96f5-7350c1f4a3df/test-file-594aa220-c4da-63dd-f983-cea3472cefe5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Mar 2025 01:14:41 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D157000004F\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:14:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-939edb9b-cb91-25cd-96f5-7350c1f4a3df/test-file-594aa220-c4da-63dd-f983-cea3472cefe5?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Mar 2025 01:14:41 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "hT99H9H3WwPhCO+9cWSnPQ989x1SBpaO2hmJ8lwismwUCW4gNyKF1bMDP2WWBWUl6z2+plersn6o7kW4bminvlaDqGf1hgbt9iFpTscx99SzYwYfZAwUaFbvd0ndzGZKXIAPE1z9L2Q30a82QWS3d/ZwBApiiFpJbj8RBg68Dym6H/JGIuN3tTOh6JNc3ifyNwBSbMdc6NMlxaUc7ClVesGFeyJxcVUS+E/XwKDH7ZAYH88OaaNhXjYeIFw+WsgKS23R12IEgMWrP3N4hCgzXtgVBM1ZRxAdIxzsU1H41J2GzHQy9RUtE54JYykv6dkO6sKEKVb7sQRcs7NGGC10smvW8be0AGjC6PAvT+Pm7jpC3miPdKpHixtv1UFi5vtxlbG9WfghWelZwUFmy2EgdcV4AzrE5T3AjmWcRCsmXwH0vboyKJVCIIR+NbJp4b+6Tl986ePBra9z/cqShRW+MmE/cQ6m7U0wNuK2Ra+LV62l4fXLqnYdMxAKvyvKr5tuwANQKW+xE2ESTLMAC2cA56Uc7KQg84jrIj79nC0hZYZHR4WsOi0+9M6UuF7DHCepCtiGrsP2Tsx7ZQcxs3cz8eYsucThU6143vjVizspKAUWVJJVmrfDUPi4MdQlDEBXYcZ3l2Njx7YqDc/KIMKRUT0CG17k3VYuaGjLKCLYUtE=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1570088238\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:14:41 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "LpL7O68Uqsc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-939edb9b-cb91-25cd-96f5-7350c1f4a3df/test-file-594aa220-c4da-63dd-f983-cea3472cefe5?sv=Sanitized&se=2025-03-08T01%3A14%3A41Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D1570088238\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:14:41 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 01:14:41 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-82c146e7-6e02-c809-c5ce-d7d4ab600e57/test-file-c67a05ca-3cdb-63db-733e-858e298714fe?sv=Sanitized&se=2025-03-08T01%3A14%3A41Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-82c146e7-6e02-c809-c5ce-d7d4ab600e57/test-file-c67a05ca-3cdb-63db-733e-858e298714fe?sv=Sanitized&se=2025-03-08T01%3A14%3A41Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "512",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-03-07T01:14:41.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D15702A198C\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:14:41 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:14:41.3982092Z",
        "x-ms-file-creation-time": "2025-03-07T01:14:41.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-03-07T01:14:41.3982092Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-82c146e7-6e02-c809-c5ce-d7d4ab600e57/test-file-c67a05ca-3cdb-63db-733e-858e298714fe?sv=Sanitized&se=2025-03-08T01%3A14%3A41Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-939edb9b-cb91-25cd-96f5-7350c1f4a3df/test-file-594aa220-c4da-63dd-f983-cea3472cefe5?sv=sanitized-value&se=2025-03-08T01%3A14%3A41Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1570346E2C\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:14:41 GMT",
        "x-ms-content-crc64": "LpL7O68Uqsc=",
        "x-ms-file-last-write-time": "2025-03-07T01:14:41.3982092Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-82c146e7-6e02-c809-c5ce-d7d4ab600e57/test-file-c67a05ca-3cdb-63db-733e-858e298714fe?sv=Sanitized&se=2025-03-08T01%3A14%3A41Z&sr=f&sp=rcwd&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-03-07T01:14:41.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D15703CC929\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:14:41 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:14:41.5206697Z",
        "x-ms-file-creation-time": "2025-03-07T01:14:41.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-03-07T01:14:41.3982092Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-939edb9b-cb91-25cd-96f5-7350c1f4a3df/test-file-594aa220-c4da-63dd-f983-cea3472cefe5?sv=Sanitized&se=2025-03-08T01%3A14%3A41Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D1570088238\"",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D1570088238\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:14:41 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 01:14:41 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "hT99H9H3WwPhCO+9cWSnPQ989x1SBpaO2hmJ8lwismwUCW4gNyKF1bMDP2WWBWUl6z2+plersn6o7kW4bminvlaDqGf1hgbt9iFpTscx99SzYwYfZAwUaFbvd0ndzGZKXIAPE1z9L2Q30a82QWS3d/ZwBApiiFpJbj8RBg68Dym6H/JGIuN3tTOh6JNc3ifyNwBSbMdc6NMlxaUc7ClVesGFeyJxcVUS+E/XwKDH7ZAYH88OaaNhXjYeIFw+WsgKS23R12IEgMWrP3N4hCgzXtgVBM1ZRxAdIxzsU1H41J2GzHQy9RUtE54JYykv6dkO6sKEKVb7sQRcs7NGGC10smvW8be0AGjC6PAvT+Pm7jpC3miPdKpHixtv1UFi5vtxlbG9WfghWelZwUFmy2EgdcV4AzrE5T3AjmWcRCsmXwH0vboyKJVCIIR+NbJp4b+6Tl986ePBra9z/cqShRW+MmE/cQ6m7U0wNuK2Ra+LV62l4fXLqnYdMxAKvyvKr5tuwANQKW+xE2ESTLMAC2cA56Uc7KQg84jrIj79nC0hZYZHR4WsOi0+9M6UuF7DHCepCtiGrsP2Tsx7ZQcxs3cz8eYsucThU6143vjVizspKAUWVJJVmrfDUPi4MdQlDEBXYcZ3l2Njx7YqDc/KIMKRUT0CG17k3VYuaGjLKCLYUtE="
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-82c146e7-6e02-c809-c5ce-d7d4ab600e57?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:14:41 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-939edb9b-cb91-25cd-96f5-7350c1f4a3df?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:14:42 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T17:14:41.2279016-08:00",
    "RandomSeed": "27198199",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
