{
  "Entries": [
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-2cf8fb99-5842-d2f2-8e9c-dde01691ebc4?restype=container&sv=Sanitized&ss=b&srt=sco&st=2026-04-30T20%3A33%3A47Z&se=2026-04-30T22%3A33%3A47Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA7002A85C5C1\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:33:48 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-4e5e9661-aa79-cb80-44fd-a220a2276851?restype=share&sv=Sanitized&ss=f&srt=sco&st=2026-04-30T20%3A33%3A47Z&se=2026-04-30T22%3A33%3A47Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA7002A8D3537\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:33:48 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-2cf8fb99-5842-d2f2-8e9c-dde01691ebc4/test-file-defd414d-157d-ffc8-ce34-4c27c2409066?sv=Sanitized&ss=b&srt=sco&st=2026-04-30T20%3A33%3A47Z&se=2026-04-30T22%3A33%3A47Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA7002A944AA0\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:33:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-2cf8fb99-5842-d2f2-8e9c-dde01691ebc4/test-file-defd414d-157d-ffc8-ce34-4c27c2409066?comp=page&sv=Sanitized&ss=b&srt=sco&st=2026-04-30T20%3A33%3A47Z&se=2026-04-30T22%3A33%3A47Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "8ioyp7+Vc2m/9aYeHco/YwfQ8vngLPrYMmgFqSUq3TdE3gzAa6NZuM6THoduqeID9Okg8U6WhcUvWXRWkMlElRhv2j++f/djdzorTQ5zaomGAbQ8CevorVhGkBEvAygET4hv/8+jRXXxvXoUazi2vO/rz44UB4wshi3md+/lM3QRJv6GA2u547w/S0tx1EIgj9MiRDOZ8Ef8QniivM2FC4kFAkQ5MLiEMevS1LxAurHqxucbw+9AeDW3isHyFyfuuT/CbNL95l8anRJHxxuKu4jGt/XmakiZxYkPgqb3kRnE5Bt9fk7f7OCIACXc+LEaLM44LGAxB0/3KKdI7mS4Iwv5guIADTw658oVXmkivMzY9VXYv2W5k9zLhlanlv57z90a43bOGR+R/kWVG6nm1Gvab/kO4GS[...]
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-2cf8fb99-5842-d2f2-8e9c-dde01691ebc4/test-file-defd414d-157d-ffc8-ce34-4c27c2409066?sv=Sanitized&ss=b&srt=sco&st=2026-04-30T20%3A33%3A47Z&se=2026-04-30T22%3A33%3A47Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA7002A9AA1A3\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:33:48 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 30 Apr 2026 21:33:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-4e5e9661-aa79-cb80-44fd-a220a2276851/test-file-4dc1233e-9661-01ad-7b78-6710c9f8ba1e?sv=Sanitized&ss=f&srt=sco&st=2026-04-30T20%3A33%3A47Z&se=2026-04-30T22%3A33%3A47Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-4e5e9661-aa79-cb80-44fd-a220a2276851/test-file-4dc1233e-9661-01ad-7b78-6710c9f8ba1e?sv=Sanitized&ss=f&srt=sco&st=2026-04-30T20%3A33%3A47Z&se=2026-04-30T22%3A33%3A47Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA7002AB04137\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:33:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T21:33:49.1221815Z",
        "x-ms-file-creation-time": "2026-04-30T21:33:49.1221815Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-30T21:33:49.1221815Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-4e5e9661-aa79-cb80-44fd-a220a2276851/test-file-4dc1233e-9661-01ad-7b78-6710c9f8ba1e?comp=range&sv=Sanitized&ss=f&srt=sco&st=2026-04-30T20%3A33%3A47Z&se=2026-04-30T22%3A33%3A47Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amnguyesa.blob.core.windows.net/test-container-2cf8fb99-5842-d2f2-8e9c-dde01691ebc4/test-file-defd414d-157d-ffc8-ce34-4c27c2409066?sv=sanitized-value&ss=b&srt=sco&st=2026-04-30T20%3A33%3A47Z&se=2026-04-30T22%3A33%3A47Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA7002AB8A237\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:33:49 GMT",
        "x-ms-content-crc64": "JGdx8ykpErE=",
        "x-ms-file-last-write-time": "2026-04-30T21:33:49.1221815Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-4e5e9661-aa79-cb80-44fd-a220a2276851/test-file-4dc1233e-9661-01ad-7b78-6710c9f8ba1e?comp=properties&sv=Sanitized&ss=f&srt=sco&st=2026-04-30T20%3A33%3A47Z&se=2026-04-30T22%3A33%3A47Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T21:33:48.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA7002ABF2F37\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:33:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T21:33:49.2200247Z",
        "x-ms-file-creation-time": "2026-04-30T21:33:48.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-30T21:33:49.1221815Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-2cf8fb99-5842-d2f2-8e9c-dde01691ebc4/test-file-defd414d-157d-ffc8-ce34-4c27c2409066?sv=Sanitized&ss=b&srt=sco&st=2026-04-30T20%3A33%3A47Z&se=2026-04-30T22%3A33%3A47Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DEA7002A9AA1A3\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA7002A9AA1A3\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:33:48 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 30 Apr 2026 21:33:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-[...]
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-4e5e9661-aa79-cb80-44fd-a220a2276851?restype=share&sv=Sanitized&ss=f&srt=sco&st=2026-04-30T20%3A33%3A47Z&se=2026-04-30T22%3A33%3A47Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-2cf8fb99-5842-d2f2-8e9c-dde01691ebc4?restype=container&sv=Sanitized&ss=b&srt=sco&st=2026-04-30T20%3A33%3A47Z&se=2026-04-30T22%3A33%3A47Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-04-30T14:33:47.9205171-07:00",
    "RandomSeed": "1171705717",
    "Storage_TestConfigDefault": "ProductionTenant\namnguyesa\nU2FuaXRpemVk\nhttps://amnguyesa.blob.core.windows.net\nhttps://amnguyesa.file.core.windows.net\nhttps://amnguyesa.queue.core.windows.net\nhttps://amnguyesa.table.core.windows.net\n\n\n\n\nhttps://amnguyesa-secondary.blob.core.windows.net\nhttps://amnguyesa-secondary.file.core.windows.net\nhttps://amnguyesa-secondary.queue.core.windows.net\nhttps://amnguyesa-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amnguyesa.blob.core.windows.net/;QueueEndpoint=https://amnguyesa.queue.core.windows.net/;FileEndpoint=https://amnguyesa.file.core.windows.net/;BlobSecondaryEndpoint=https://amnguyesa-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amnguyesa-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amnguyesa-secondary.file.core.windows.net/;AccountName=amnguyesa;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
