{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-78bcda46-a38a-6cca-7a02-68a58ed922bc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Feb 2025 02:16:58 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5154A787BCBB\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:16:58 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-008dae26-d6dd-e2f9-b0df-0dafe4f41d08?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Feb 2025 02:16:58 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5154A7917D32\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:16:58 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-008dae26-d6dd-e2f9-b0df-0dafe4f41d08/test-file-1b034d34-d457-79c1-933d-7943a457d552",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 20 Feb 2025 02:16:58 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5154A79AB023\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:16:58 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-20T02:16:58.7513891Z",
        "x-ms-file-creation-time": "2025-02-20T02:16:58.7513891Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-20T02:16:58.7513891Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-008dae26-d6dd-e2f9-b0df-0dafe4f41d08/test-file-1b034d34-d457-79c1-933d-7943a457d552?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 20 Feb 2025 02:16:58 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "zujSmPWJmAbgMCd7SSEUar+SL9IbNmlEz8vz883BzzUKHp2vItKUZhkKLWQPNl+lp5jxS+ssX5h/jckplaU4H2DycSqDZEft/cm4EQgENZlsTUw10IRJ3b8FL5UJatB00Q4EHMU1IUJQBE0ic02Pe1cvvUhZAk/bqZNqfjWy45P5RD/6/xnTNisK5Ms3JmpxdbQ92ayIG86/KHIxyqMNnSC5KS8OlHs9W4ccTx6DpIIp+AmAdArncClwO9amoWyI/Earff06Y+A4AH0lbMuwPITwCNGZjCkV0rgFnVmll7oak1LX1yeF7pQoR3SMwgRdwP9Stpma7nAdlatFNcaHk2jDCth52GRcaxo8cUW0iBCzp91aUuEggKThukF8P7jOobMLybcr4+ea9Ut/XX0raA2akY3pLEGHooo0lx4j4CthbtCRqL9Yh8P2v1yWoSIntlE04a4r5XRyhCYt90zIdxUfHu+smcBNQgnJ82zk8QFoDODN7v98NYlcHiSYKo93LUhHdoMyeh2R5p6kYfIHjpIkxetr+4gVouhmUHqbtBd5UsUknHt+NZHDPAhg2NSWVJCRdGWkCzK/MdOazCqi9TGGKg8s4vEXppBZqL6AtcoTz/vpCUCy1EaTZWqo42lnIEbW2a7EanGfes7VS2NzPnwIhvwuuezx1FXJmX2Gb8In8od4qtscT2WJSo5y3YniHybun11sOGda5QVY+9D0GAsLrlnc+pSh7DeXpG5dfvbM5npXmNBlurkgHsTWw1OUlTGDZi8vBiSRTbIl1JP4/GcOjBVWnIA7pvOfvNzQyynkAw892hfHnOBVxUsdP+YlJyFdxzc+PfmwR8A8j0pHwYKJQNGEuyJPR+80AdY1HWcNepW6cgPxpsUWjJJXiwyWDQTJlP4UoWv/DYBHCTwieylZLhW0jU5+l5oLbi6P+LvjnvPSbIlo+Ngpu2WDqpyJ8xFp/lz34YC2SvxkCTI9cBXEZGtJTw6g8DY9i9Lp++39gXodJfpf67xyHCKMA+6m7EpPvkUxQKMDyQ0luVWuzE8PZoe3IEoaZHiu1jPsE+1Ilp+HmTyoy0HWGlztOTFmxE/SfZxm7sz/NFrMgmlvFrUg3SO2JzMTZ5tG4AbuLSpGRxLkGZZQ4ajTh2Ti20jYZgOmzFwOsJ0cvxUBIA3GEQcvhjtWi/wfz/t64p/OMItSbXoCR2DON5Z1yFqATsGbDXZds1UNgdsGh/xglM79TY6Kr7KTw8qmYE6k4cKinoE63tQpcH02ROye+79jbqPId3rL9p8OCEqrt1IHaaAYZOl7JbX51N0RU2rG9McKQvKr22lI16fiLNaKfbgrL9tLhZfW6Ejtz6OduqM0RxOCoQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ZJEQzq8yHDokHtOyAo03WA==",
        "ETag": "\"0x8DD5154A7A38873\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:16:58 GMT",
        "x-ms-file-last-write-time": "2025-02-20T02:16:58.8093555Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-78bcda46-a38a-6cca-7a02-68a58ed922bc/test-file-85483178-1807-b71e-6f27-1335cca48f9a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 20 Feb 2025 02:16:58 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5154A7ABDD8D\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:16:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-20T02:16:58.8639629Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-78bcda46-a38a-6cca-7a02-68a58ed922bc/test-file-85483178-1807-b71e-6f27-1335cca48f9a?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 20 Feb 2025 02:16:58 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "VmI88vrSl7kuZGfrK8wQXe7V+PMnuOT7/q4LuQcbdMEpjEmnHL2xppqOV6OxMouiF7VG96ubcp5+QfNMx96yEu+lwZ+CaEExI1FZmWBBSssiaKJR1X0VjhmrKdvJZN+720WzC3HsIK50FNNaQtk9PfcoKV88YTxyjzOF1z9maL9ynb0bjT5ZNkj03MCpu0tAbevjoDuAf3oIQXs+ZkhuDawU56QcIq+4zvMWR4R8yNTnRWpTgseE8h5CE0zCG8//hc4UldOmI0o7K9FHaTf1jHinViDdGovkkPWG2Q9j9bIjF8K1ZzMAQCIfF1f1PIjmTYfUG8WuIWpDLwXdIEk72DUfI1J1PyREphX+vgI07lNtoIyIj9rtdfVXcjguIyD[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-78bcda46-a38a-6cca-7a02-68a58ed922bc/test-file-85483178-1807-b71e-6f27-1335cca48f9a?sv=Sanitized&se=2025-02-21T02%3A16%3A58Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5154A7B3CBA5\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:16:58 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 20 Feb 2025 02:16:58 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-20T02:16:58.8639629Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-008dae26-d6dd-e2f9-b0df-0dafe4f41d08/test-file-1b034d34-d457-79c1-933d-7943a457d552?sv=Sanitized&se=2025-02-21T02%3A16%3A58Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5154A7A38873\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:16:58 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-20T02:16:58.8093555Z",
        "x-ms-file-creation-time": "2025-02-20T02:16:58.7513891Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-20T02:16:58.8093555Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-008dae26-d6dd-e2f9-b0df-0dafe4f41d08/test-file-1b034d34-d457-79c1-933d-7943a457d552?sv=Sanitized&se=2025-02-21T02%3A16%3A58Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5154A7A38873\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:16:58 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-20T02:16:58.8093555Z",
        "x-ms-file-creation-time": "2025-02-20T02:16:58.7513891Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-20T02:16:58.8093555Z",
        "x-ms-file-parent-id": "0",[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-008dae26-d6dd-e2f9-b0df-0dafe4f41d08?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Feb 2025 02:16:59 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-78bcda46-a38a-6cca-7a02-68a58ed922bc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Feb 2025 02:16:59 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-19T18:16:58.8443125-08:00",
    "RandomSeed": "1538738502",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
