{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c0562065-8c77-bb5c-60f9-8e84bc0b39b4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:14:58 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D157A268336\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:14:58 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-06ef14ea-a7ab-06a2-ad19-dd139f3dcebd?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:14:58 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D157A2FB66C\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:14:58 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-06ef14ea-a7ab-06a2-ad19-dd139f3dcebd/test-file-9923212f-bdd0-8098-7078-7fd814fd8789",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 07 Mar 2025 01:14:58 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D157A38FC6C\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:14:58 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:14:58.2729836Z",
        "x-ms-file-creation-time": "2025-03-07T01:14:58.2729836Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-03-07T01:14:58.2729836Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-06ef14ea-a7ab-06a2-ad19-dd139f3dcebd/test-file-9923212f-bdd0-8098-7078-7fd814fd8789?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Mar 2025 01:14:58 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "4ig0QfWh63t4RgIY5PpK74UGMlwAs4NyzBjljnX/vK26LlxjZuI5G6ZJVqQOWGQsljTyv5tMkS+kwnTcu1wFeYpUXbWe54iizBa1t1zeY3O0ufhADfwSbp0tvqRuXF9JQ90auvqujq+rT/KFltnTxl4BKAJkxGyNQu8YcCjkNG+2a3N+w6l4BitIlL0JjNfDWfhGbDRd5X5xjHcLlh2GxxuCziplVAK0iCLWGy+ug7UXVBcwncc7WYb1DDYxbW8Ows2hhr6tXgT1keQSh8lOwgnC9EEFVSlUR3WjcEjLgxuyyFliDf32afYSOgziKNK8pkktb3guCGyjTD5JCe28Kg7JYL5w7LQMy4pL8xodch+j58r+nROihL/sv8G+rWAIVRD+GMgTTLmVIaTt4hRRhtofpiIjvoz6J9z+hC3zTR0qQp0KH1lWj5oQaXtvtKGrmjnnngc95ZeDA/HsFMiModOGw592R2aAyBaHElQQi3I6U+n0C68W7F0GhhtnanvSg8eo6fEBNFLSZtXwttJDcnh/scDemJUkb9ZCcMBLGV6btY6MaKKAOR+WIaXZJjaKwxSj57i68+syhHkbvsOSh013VQBDtgnW/3igR3bwSkmguK2spzGl4MGjWuQoZHpbBJpXYtE1RgwKzeg/Gqx0QTkvewYW5d8b0XQ/oFslrZr+RUPbmOh4anGgotpJZcYVLxmr+OlzRR+7PJBc9aax5B9NQdRpmKlRtxCUdUIF0myuKnBCerSxi/8jIFxXHHTL7726+yTxrJdwWUHY3s/ctmkkrcs1bmprm7bURXdM+ZqbyYaEStZHvX7Z0iBy2awwRmrzM2+plYBTT19uHGYfI1+mPBVJWGuS3O9NXJxK+MIKpP4MWcYr8jMFMft32aEXuq7AzJyW5u7/YFZ/XDnkCFedZHdoEsqZe0riQyZwGwNONaHtiSslc70PDfhwrJX5ISij2XUprqfkJ1FSs6PHjkVTMCaX9n8rd/C5WATRKM606SL+zEGNJYb6CWLa08AaSH6zHHtuYSqpeGKFb1ajE/6CnsqAycIDxQugne0dUKMvnxCFHQxTRYf3VFPfCLUwV/VjWDX2mn68sFdvzsQ9jCi+VdBFHfXyLlhCiHRuJL1Wb0b3ufduOQWRyW215HfCusgrILLl6jr/cSrcsxEKTYuZGF5+RdIwTxzLtFOIPUrhgM6rQwMKcYUM90jNkobzh3vhG8sYRHT1+tGWGjbmdzPf+zNDXgqIjqfZcU2KYr2V1yzXpiF+yTtZtUgydFdPJYAU7ZdTsChxWYwkP9Mna5gTAEMJDtARYTH36ajBVhpQikzNdXQmQiYDZU2VWoloMUqwHnMURRavAoxlW8aArw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Hz3SO/69LJGypV/mz01UdQ==",
        "ETag": "\"0x8DD5D157A432A23\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:14:58 GMT",
        "x-ms-file-last-write-time": "2025-03-07T01:14:58.3396899Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c0562065-8c77-bb5c-60f9-8e84bc0b39b4/test-file-62ecf1c7-1b04-6150-177f-57ee648f9cd1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Mar 2025 01:14:58 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D157A4AF026\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:14:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c0562065-8c77-bb5c-60f9-8e84bc0b39b4/test-file-62ecf1c7-1b04-6150-177f-57ee648f9cd1?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Mar 2025 01:14:58 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "UQbdOb168ysF6h0vGBrF2VJsikqW2Ce8bSHbuQORbh5DODL/FQtGTP7AXBn9IUj8uX6c+AVSOnneIMycnzoodHv/6+DoxcRHJT1M1nsNv0zZ3v+E9XYZ8f24IPQ+qq3Dl+ie/jVnFPO6VNPIBmT90WF/w8A6pH8E5frjL6TPCHqPiD6Tb8AXcckLyqCjUOuZu0+SvuftiPNomRg7hOVO6ktYOH0lamKgaFH2L9neYZUOSXNVPUqTov9LKtWo2+3kvOBVSxhtdFHt8VaV9lkaijiDLDpx+a0BxZZ+2T+M+I1kEnL4iRZ8odUiZ0vz/aulMKCcJK+yc8IzVIWB7poRYfnIMeTmIQEiBotkTpJiDcfr2aif8NPdsZ+wxTSQ+7I[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c0562065-8c77-bb5c-60f9-8e84bc0b39b4/test-file-62ecf1c7-1b04-6150-177f-57ee648f9cd1?sv=Sanitized&se=2025-03-08T01%3A14%3A58Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D157A532458\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:14:58 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 01:14:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-06ef14ea-a7ab-06a2-ad19-dd139f3dcebd/test-file-9923212f-bdd0-8098-7078-7fd814fd8789?sv=Sanitized&se=2025-03-08T01%3A14%3A58Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D157A432A23\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:14:58 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:14:58.3396899Z",
        "x-ms-file-creation-time": "2025-03-07T01:14:58.2729836Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-03-07T01:14:58.3396899Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-06ef14ea-a7ab-06a2-ad19-dd139f3dcebd/test-file-9923212f-bdd0-8098-7078-7fd814fd8789?sv=Sanitized&se=2025-03-08T01%3A14%3A58Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D157A432A23\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:14:58 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:14:58.3396899Z",
        "x-ms-file-creation-time": "2025-03-07T01:14:58.2729836Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-03-07T01:14:58.3396899Z",
        "x-ms-file-parent-id": "0",[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-06ef14ea-a7ab-06a2-ad19-dd139f3dcebd?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:14:58 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c0562065-8c77-bb5c-60f9-8e84bc0b39b4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:14:59 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T17:14:58.3854140-08:00",
    "RandomSeed": "757197557",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
