{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7125eb67-8c89-92db-8f74-40cc4d14cff5?restype=container&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A37%3A58Z&se=2026-02-18T07%3A37%3A58Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB841C0AF03\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:37:58 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-5ac87c91-17ca-fec3-45c8-ee8cf0a50434?restype=share&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A37%3A58Z&se=2026-02-18T07%3A37%3A58Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB841CB6CB4\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:37:59 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7125eb67-8c89-92db-8f74-40cc4d14cff5/test-file-c0e48bb0-aa10-caa8-09ac-205a19ec5535?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A37%3A58Z&se=2026-02-18T07%3A37%3A58Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB841E4A8ED\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:37:59 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7125eb67-8c89-92db-8f74-40cc4d14cff5/test-file-c0e48bb0-aa10-caa8-09ac-205a19ec5535?comp=page&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A37%3A58Z&se=2026-02-18T07%3A37%3A58Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "kYg+tgDyoUhVY4BfA7qhO4GEJx0sdVWikdoI50i2jpgGjifyvzh4veqba60qSMdOCuXYlcU3CBwynCQm6roAn9ToWXWSrntIDGkykAqneEkTudxi3fnSzoULvyMTUtMwmsvYQu9RvFtpj4lbBXcSiyTbEzDdncHaFYrwh+9YNbmVAvU+zjVZwf2A+E1wdskN+DT+OD+iUv0K/i1kYTRsEVrPxgKC1LzugVIzXaV0ap7B4o66Wfx68q/4NNAI9V/IFOfzoLDGiyR3ELftb/VYlpOOon+msbheVdNSiaDr5Yzya0m9gcnt+1dqQkhFjIO6oJ49eVLgImIvlEvdcwGEjCor+gOsmhTKoacnO25vGMhPmOgCrms5Ekjmjux9D4dV5rYdGpJ/DgaJctiruOb0v3uCjtsYgd2[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7125eb67-8c89-92db-8f74-40cc4d14cff5/test-file-c0e48bb0-aa10-caa8-09ac-205a19ec5535?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A37%3A58Z&se=2026-02-18T07%3A37%3A58Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE6EB841EF247B\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:37:59 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 18 Feb 2026 06:37:59 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-5ac87c91-17ca-fec3-45c8-ee8cf0a50434/test-file-2abfabf9-6f97-abe1-50d5-1ff4b4d84bdb?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A37%3A58Z&se=2026-02-18T07%3A37%3A58Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-5ac87c91-17ca-fec3-45c8-ee8cf0a50434/test-file-2abfabf9-6f97-abe1-50d5-1ff4b4d84bdb?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A37%3A58Z&se=2026-02-18T07%3A37%3A58Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-02-18T06:37:59.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB842133367\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:37:59 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:37:59.4781543Z",
        "x-ms-file-creation-time": "2026-02-18T06:37:59.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-02-18T06:37:59.4781543Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-5ac87c91-17ca-fec3-45c8-ee8cf0a50434/test-file-2abfabf9-6f97-abe1-50d5-1ff4b4d84bdb?comp=range&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A37%3A58Z&se=2026-02-18T07%3A37%3A58Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-7125eb67-8c89-92db-8f74-40cc4d14cff5/test-file-c0e48bb0-aa10-caa8-09ac-205a19ec5535?sv=sanitized-value&ss=b&srt=sco&st=2026-02-18T05%3A37%3A58Z&se=2026-02-18T07%3A37%3A58Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB8421D9C1F\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:37:59 GMT",
        "x-ms-content-crc64": "fKZIUonUVkY=",
        "x-ms-file-last-write-time": "2026-02-18T06:37:59.4781543Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-5ac87c91-17ca-fec3-45c8-ee8cf0a50434/test-file-2abfabf9-6f97-abe1-50d5-1ff4b4d84bdb?comp=properties&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A37%3A58Z&se=2026-02-18T07%3A37%3A58Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-02-18T06:37:59.0000000Z",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB84226B9DB\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:37:59 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:37:59.6061147Z",
        "x-ms-file-creation-time": "2026-02-18T06:37:59.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-02-18T06:37:59.4781543Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7125eb67-8c89-92db-8f74-40cc4d14cff5/test-file-c0e48bb0-aa10-caa8-09ac-205a19ec5535?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A37%3A58Z&se=2026-02-18T07%3A37%3A58Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE6EB841EF247B\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE6EB841EF247B\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:37:59 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 18 Feb 2026 06:37:59 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-5ac87c91-17ca-fec3-45c8-ee8cf0a50434?restype=share&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A37%3A58Z&se=2026-02-18T07%3A37%3A58Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7125eb67-8c89-92db-8f74-40cc4d14cff5?restype=container&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A37%3A58Z&se=2026-02-18T07%3A37%3A58Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-02-17T22:37:58.9109678-08:00",
    "RandomSeed": "141185069",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
