{
  "Entries": [
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-45e2c355-710e-6906-4710-89db448b0515?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 21:33:54 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA7002EA3D45E\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:33:55 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-a4bf4935-9d5c-241d-28a5-009d527e4624?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 21:33:54 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA7002EAACE58\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:33:55 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-45e2c355-710e-6906-4710-89db448b0515/test-file-c44e19c4-0b35-1233-8b07-4799c8c432ef",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 30 Apr 2026 21:33:54 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA7002EB2023A\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:33:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-45e2c355-710e-6906-4710-89db448b0515/test-file-c44e19c4-0b35-1233-8b07-4799c8c432ef?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 30 Apr 2026 21:33:54 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "ZapQy1u9QKbSJy2oWTS0mGhG0YXfEkttBCO4ErcnF2Ob2cvpqAWUvLhn9rWxUx1BTPf+E9jQvVJe4sY3BS3uqhDKDX9py/BishXNeByWvLEGd8W/KQOKyxx4isU+XLaKeEyk50ae14AHm2HCAkQ2xyYVMY5oL4ENP0Fi8EAqJFZfQv/Q8dRraJ9EuI2iyMjXQcKfKCooIknKl6gEO+ZA3HcLY8BEZtZRqsnuI3bzanZ4iq99i/srNh+2BVksZiy4BNwWlmQIk9vsTX5hOf/S1ywxi7A3wlB84CygjWB8JEOcNR6a3NQScPfTkT18yvwg5C0s+9p8gUKLmrY3aAV6byg6xAPhN/pYHxu4ZDAS/xUvgKkyTylpILTbD0Id2gfyWCEUQgb5Pqwy1Nu+wx0SeJuhB+dbRx/[...]
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-45e2c355-710e-6906-4710-89db448b0515/test-file-c44e19c4-0b35-1233-8b07-4799c8c432ef?sv=Sanitized&se=2026-05-01T21%3A33%3A55Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA7002EB8413C\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:33:55 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 30 Apr 2026 21:33:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-a4bf4935-9d5c-241d-28a5-009d527e4624/test-file-88b72767-6d2c-b7c1-472d-d9db690b6598?sv=Sanitized&se=2026-05-01T21%3A33%3A55Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-a4bf4935-9d5c-241d-28a5-009d527e4624/test-file-88b72767-6d2c-b7c1-472d-d9db690b6598?sv=Sanitized&se=2026-05-01T21%3A33%3A55Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA7002ECF5626\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:33:56 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T21:33:56.0367654Z",
        "x-ms-file-creation-time": "2026-04-30T21:33:56.0367654Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-30T21:33:56.0367654Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-a4bf4935-9d5c-241d-28a5-009d527e4624/test-file-88b72767-6d2c-b7c1-472d-d9db690b6598?sv=Sanitized&se=2026-05-01T21%3A33%3A55Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amnguyesa.blob.core.windows.net/test-container-45e2c355-710e-6906-4710-89db448b0515/test-file-c44e19c4-0b35-1233-8b07-4799c8c432ef?sv=sanitized-value&se=2026-05-01T21%3A33%3A55Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA7002ED7B72A\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:33:56 GMT",
        "x-ms-content-crc64": "MrtQtBUiwSg=",
        "x-ms-file-last-write-time": "2026-04-30T21:33:56.0367654Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-a4bf4935-9d5c-241d-28a5-009d527e4624/test-file-88b72767-6d2c-b7c1-472d-d9db690b6598?sv=Sanitized&se=2026-05-01T21%3A33%3A55Z&sr=f&sp=rcwd&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T21:33:55.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA7002EE60926\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:33:56 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T21:33:56.1855270Z",
        "x-ms-file-creation-time": "2026-04-30T21:33:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-30T21:33:56.0367654Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-45e2c355-710e-6906-4710-89db448b0515/test-file-c44e19c4-0b35-1233-8b07-4799c8c432ef?sv=Sanitized&se=2026-05-01T21%3A33%3A55Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DEA7002EB8413C\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA7002EB8413C\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:33:55 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 30 Apr 2026 21:33:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-[...]
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-a4bf4935-9d5c-241d-28a5-009d527e4624?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 21:33:55 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-45e2c355-710e-6906-4710-89db448b0515?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 21:33:55 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-04-30T14:33:55.0139131-07:00",
    "RandomSeed": "890857355",
    "Storage_TestConfigDefault": "ProductionTenant\namnguyesa\nU2FuaXRpemVk\nhttps://amnguyesa.blob.core.windows.net\nhttps://amnguyesa.file.core.windows.net\nhttps://amnguyesa.queue.core.windows.net\nhttps://amnguyesa.table.core.windows.net\n\n\n\n\nhttps://amnguyesa-secondary.blob.core.windows.net\nhttps://amnguyesa-secondary.file.core.windows.net\nhttps://amnguyesa-secondary.queue.core.windows.net\nhttps://amnguyesa-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amnguyesa.blob.core.windows.net/;QueueEndpoint=https://amnguyesa.queue.core.windows.net/;FileEndpoint=https://amnguyesa.file.core.windows.net/;BlobSecondaryEndpoint=https://amnguyesa-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amnguyesa-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amnguyesa-secondary.file.core.windows.net/;AccountName=amnguyesa;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
