{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-94ce8317-6d84-527e-0555-d1f0b93c8d28?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 20:09:38 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B5964F6106\"",
        "Last-Modified": "Fri, 16 May 2025 20:09:38 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-41598f77-b42f-492f-bb8e-df28bbdddfef?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 20:09:38 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B59658DD59\"",
        "Last-Modified": "Fri, 16 May 2025 20:09:38 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-41598f77-b42f-492f-bb8e-df28bbdddfef/test-file-a220b2c8-fab4-ad32-e799-453f9fab154a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 16 May 2025 20:09:38 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B596606174\"",
        "Last-Modified": "Fri, 16 May 2025 20:09:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-16T20:09:38.9368692Z",
        "x-ms-file-creation-time": "2025-05-16T20:09:38.9368692Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-16T20:09:38.9368692Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-94ce8317-6d84-527e-0555-d1f0b93c8d28/test-file-35ab61a0-6d1c-bf80-6c8e-397ba851cbff",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 16 May 2025 20:09:38 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B59669743D\"",
        "Last-Modified": "Fri, 16 May 2025 20:09:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-94ce8317-6d84-527e-0555-d1f0b93c8d28/test-file-35ab61a0-6d1c-bf80-6c8e-397ba851cbff?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 16 May 2025 20:09:38 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "eO8/ZhSw7zeghglKgwQ0BHH0MYX8Eq1lK5jtEkKPclhJtrWJo8I8Xip3YhXNyyEpyUkRMw6axGZB2Tt7wtz0ERSxAMxPqmGuuNNbhK+YmF92w0j4fT5Jr/JPR8mGwJtNglEBG8tU2h/nYns7Pj+2qUHcBP+U/JPWZ1HaAGOYKPc4DgJelnyUIekpEBvDDXCymZ2IqrucuIa9K7N5edq8TzmDAzA9VxPER+MWa+t4ElrgKGbFD348nFV7oWvIGqgObMHhPwo/dEGKw2LYhk2bRRhZmFFz9j+7R2fbwran+y07B/4pltNPobMlOkwcYxYI4FtTb4FWm3aBJvijY7KL48c1nX5Oca5ECvedTrzzn+NR0+FaU4yr5GyIqHDbrD0AmVeE5saXuW+tDmSKuEy5jocUUpDQMY8[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-94ce8317-6d84-527e-0555-d1f0b93c8d28/test-file-35ab61a0-6d1c-bf80-6c8e-397ba851cbff?sv=Sanitized&se=2025-05-17T20%3A09%3A38Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD94B596721D15\"",
        "Last-Modified": "Fri, 16 May 2025 20:09:39 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 16 May 2025 20:09:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-41598f77-b42f-492f-bb8e-df28bbdddfef/test-file-a220b2c8-fab4-ad32-e799-453f9fab154a?sv=Sanitized&se=2025-05-17T20%3A09%3A38Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD94B596606174\"",
        "Last-Modified": "Fri, 16 May 2025 20:09:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-16T20:09:38.9368692Z",
        "x-ms-file-creation-time": "2025-05-16T20:09:38.9368692Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-16T20:09:38.9368692Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-41598f77-b42f-492f-bb8e-df28bbdddfef?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 20:09:39 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-94ce8317-6d84-527e-0555-d1f0b93c8d28?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 20:09:39 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-05-16T13:09:38.8861242-07:00",
    "RandomSeed": "1565100073",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
