{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://uri.blob.core.windows.net/uri",
        "useManagedIdentity": true
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://azure_managedhsm.managedhsm.azure.net/backup/9f99565a881b49d0b44508686ef118a7/pending",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "49baa82e-8afc-440d-a89b-32348055d970",
        "Retry-After": "10",
        "x-ms-server-latency": "544"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": null,
        "startTime": 1779956859,
        "endTime": null,
        "jobId": "9f99565a881b49d0b44508686ef118a7",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup/9f99565a881b49d0b44508686ef118a7/pending?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "51e64791-ff2f-4409-a60c-fab68a21a2b0",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "123"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": null,
        "error": null,
        "jobId": "9f99565a881b49d0b44508686ef118a7",
        "startTime": 1779956859,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/prerestore?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sasTokenParameters": {
          "storageResourceUri": "https://uri.blob.core.windows.net/uri",
          "useManagedIdentity": true
        },
        "folderToRestore": "mhsm-acavalari-sdkhsm-2026052808273967"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://azure_managedhsm.managedhsm.azure.net/restore/8a3c63709db54e9cbd512fe8feaa2980/pending",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "788673e3-f79e-4618-892f-5ec9b46bb881",
        "Retry-After": "10",
        "x-ms-server-latency": "131"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "8a3c63709db54e9cbd512fe8feaa2980",
        "startTime": 1779956871,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/restore/8a3c63709db54e9cbd512fe8feaa2980/pending?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "3addf781-6ecd-4a20-b092-e3976ce36c9b",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "119"
      },
      "ResponseBody": {
        "endTime": 1779956871,
        "error": null,
        "jobId": "8a3c63709db54e9cbd512fe8feaa2980",
        "startTime": 1779956871,
        "status": "Succeeded",
        "statusDetails": null
      }
    }
  ],
  "Variables": {
    "suffix": "suffix-354693"
  }
}
