{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/prerestore?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/prerestore?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sasTokenParameters": {
          "storageResourceUri": "https://uri.blob.core.windows.net",
          "token": "Sanitized",
          "useManagedIdentity": false
        },
        "folderToRestore": "uri"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://azure_managedhsm.managedhsm.azure.net/restore/30839f065fc843f981bdbecff5384d83/pending",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c082d66b-e244-4925-8557-f941261fa5cb",
        "Retry-After": "10",
        "x-ms-server-latency": "133"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "30839f065fc843f981bdbecff5384d83",
        "startTime": 1778675974,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/restore/30839f065fc843f981bdbecff5384d83/pending?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7fe37f9f-d778-472a-be28-80734891165b",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "70"
      },
      "ResponseBody": {
        "endTime": 1778675974,
        "error": {
          "code": "BadRequest",
          "innererror": null,
          "message": "The customer provided SAS token is malformed. The SAS token does not contain the expiry field"
        },
        "jobId": "30839f065fc843f981bdbecff5384d83",
        "startTime": 1778675974,
        "status": "Failed",
        "statusDetails": "Invalid Request"
      }
    }
  ],
  "Variables": {
    "suffix": "suffix-705702"
  }
}
