{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://uri.blob.core.windows.net/uri",
        "useManagedIdentity": true
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://azure_managedhsm.managedhsm.azure.net/backup/c8f67653a6c14b68a2fdb772c92749ba/pending",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "fd986403-2bb5-4fb2-90c5-46568a5d9ab8",
        "Retry-After": "10",
        "x-ms-server-latency": "757"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": null,
        "startTime": 1782221556,
        "endTime": null,
        "jobId": "c8f67653a6c14b68a2fdb772c92749ba",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup/c8f67653a6c14b68a2fdb772c92749ba/pending?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "575113dd-fa12-4670-ab2e-1d08ee7ce859",
        "x-ms-build-version": "1.0.20260505-1-b95d5630-develop",
        "x-ms-server-latency": "112"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": null,
        "error": null,
        "jobId": "c8f67653a6c14b68a2fdb772c92749ba",
        "startTime": 1782221556,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/prerestore?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sasTokenParameters": {
          "storageResourceUri": "https://uri.blob.core.windows.net/uri",
          "useManagedIdentity": true
        },
        "folderToRestore": "mhsm-acavalari-sdkhsm-2026062313323646"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://azure_managedhsm.managedhsm.azure.net/restore/d67796c4c01c49f193ea8ec395a577b8/pending",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "14262ebe-f23b-44bc-85de-fcf9ac37503a",
        "Retry-After": "10",
        "x-ms-server-latency": "159"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "d67796c4c01c49f193ea8ec395a577b8",
        "startTime": 1782221567,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/restore/d67796c4c01c49f193ea8ec395a577b8/pending?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a01c0db3-91a5-43b6-9066-29fa6a58632e",
        "x-ms-build-version": "1.0.20260505-1-b95d5630-develop",
        "x-ms-server-latency": "91"
      },
      "ResponseBody": {
        "endTime": 1782221568,
        "error": null,
        "jobId": "d67796c4c01c49f193ea8ec395a577b8",
        "startTime": 1782221567,
        "status": "Succeeded",
        "statusDetails": null
      }
    }
  ],
  "Variables": {
    "suffix": "suffix-213917"
  }
}
