{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1732248767?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1732248767?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "oct",
          "key_ops": [
            "encrypt",
            "decrypt",
            "wrapKey",
            "unwrapKey"
          ],
          "k": "pBZVALPctDgu2eVdVrBgNQ"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "48"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759316901,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759316901
        },
        "key": {
          "key_ops": [
            "encrypt",
            "decrypt",
            "unwrapKey",
            "wrapKey"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1732248767/25dd00140c894e69844e4f652b28ec2d",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1732248767/25dd00140c894e69844e4f652b28ec2d/encrypt?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A128GCM",
        "value": "J1D2MdnzI23oADikmguWim2unmbj5Carqz6vc7xVUAo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "6"
      },
      "ResponseBody": {
        "alg": "A128GCM",
        "iv": "86RvWUyfRpo3ql2H",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1732248767/25dd00140c894e69844e4f652b28ec2d",
        "tag": "JkW7nTY_CWeypoMVyMRcXg",
        "value": "kIOo9hYuKwogyaAJmvjlwyCjFnhngjQxEB3COEijOWM"
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1732248767/25dd00140c894e69844e4f652b28ec2d/decrypt?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A128GCM",
        "value": "kIOo9hYuKwogyaAJmvjlwyCjFnhngjQxEB3COEijOWM",
        "iv": "86RvWUyfRpo3ql2H",
        "tag": "JkW7nTY_CWeypoMVyMRcXg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "A128GCM",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1732248767/25dd00140c894e69844e4f652b28ec2d",
        "value": "J1D2MdnzI23oADikmguWim2unmbj5Carqz6vc7xVUAo"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t282557e4338dc910hsm.managedhsm.azure.net/",
    "RandomSeed": "1895960062"
  }
}
