{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1191259685?api-version=7.6-preview.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1191259685?api-version=7.6-preview.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "oct",
          "key_ops": [
            "encrypt",
            "decrypt",
            "wrapKey",
            "unwrapKey"
          ],
          "k": "pBZVALPctDgu2eVdVrBgNQ"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "53"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743496029,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743496029
        },
        "key": {
          "key_ops": [
            "encrypt",
            "decrypt",
            "unwrapKey",
            "wrapKey"
          ],
          "kid": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1191259685/e9447afa24104aff0cd428c85d6f6942",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1191259685/e9447afa24104aff0cd428c85d6f6942/encrypt?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A128GCM",
        "value": "fo2hNvDcT8Uvt6XJxIaWdRzWWTrY3ux-AwjWSGg3W88"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "6"
      },
      "ResponseBody": {
        "alg": "A128GCM",
        "iv": "K4_6TgoULKekZhl5",
        "kid": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1191259685/e9447afa24104aff0cd428c85d6f6942",
        "tag": "b3l9sXyV78C3zLESPE8ixg",
        "value": "UHM0hjMMq-_nFPO-145VMTFZC8DnM2pRiPsT8Gku0HA"
      }
    },
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1191259685/e9447afa24104aff0cd428c85d6f6942/decrypt?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A128GCM",
        "value": "UHM0hjMMq-_nFPO-145VMTFZC8DnM2pRiPsT8Gku0HA",
        "iv": "K4_6TgoULKekZhl5",
        "tag": "b3l9sXyV78C3zLESPE8ixg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "A128GCM",
        "kid": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1191259685/e9447afa24104aff0cd428c85d6f6942",
        "value": "fo2hNvDcT8Uvt6XJxIaWdRzWWTrY3ux-AwjWSGg3W88"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv041hsm.managedhsm.azure.net/",
    "RandomSeed": "879703899"
  }
}
