{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1440872119?api-version=2026-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1440872119?api-version=2026-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "oct",
          "key_ops": [
            "encrypt",
            "decrypt",
            "wrapKey",
            "unwrapKey"
          ],
          "k": "pBZVALPctDgu2eVdVrBgNQlZ2-cIIN8mT0JDMENMD28"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "45"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780405564,
          "enabled": true,
          "exportable": false,
          "key_size": 256,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780405564
        },
        "key": {
          "key_ops": [
            "encrypt",
            "decrypt",
            "unwrapKey",
            "wrapKey"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1440872119/5110613e1f1248a521065cca1f7ba835",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1440872119/5110613e1f1248a521065cca1f7ba835/encrypt?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A256GCM",
        "value": "sRrAqLONM8J1sCgAR4KdSKvghADO0OSqqXk9-vpdesg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "alg": "A256GCM",
        "iv": "LxT_PiRJchLpEjDj",
        "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1440872119/5110613e1f1248a521065cca1f7ba835",
        "tag": "ldyiOcL9pawpR1UPiAcsiw",
        "value": "DP42BubVX0TtjJ3GTK_B3zOizpeZlwYmIM4QCBB0U-M"
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1440872119/5110613e1f1248a521065cca1f7ba835/decrypt?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A256GCM",
        "value": "DP42BubVX0TtjJ3GTK_B3zOizpeZlwYmIM4QCBB0U-M",
        "iv": "LxT_PiRJchLpEjDj",
        "tag": "ldyiOcL9pawpR1UPiAcsiw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "A256GCM",
        "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1440872119/5110613e1f1248a521065cca1f7ba835",
        "value": "sRrAqLONM8J1sCgAR4KdSKvghADO0OSqqXk9-vpdesg"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://externalkeysdkhsm.managedhsm.azure.net/",
    "RandomSeed": "448668494"
  }
}
