{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1819940615?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1819940615?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "oct",
          "key_ops": [
            "encrypt",
            "decrypt",
            "wrapKey",
            "unwrapKey"
          ],
          "k": "pBZVALPctDgu2eVdVrBgNQ"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "45"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759314891,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759314891
        },
        "key": {
          "key_ops": [
            "encrypt",
            "decrypt",
            "unwrapKey",
            "wrapKey"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1819940615/9d0310a4d39b0a3bacc8a024acaceb90",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1819940615/9d0310a4d39b0a3bacc8a024acaceb90/encrypt?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A128GCM",
        "value": "zApkdeVuf4V_AFAAzxlkTyWCJZW3bBEFt_hv8JOmlpQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "6"
      },
      "ResponseBody": {
        "alg": "A128GCM",
        "iv": "bZXy2Qj9UernEfLS",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1819940615/9d0310a4d39b0a3bacc8a024acaceb90",
        "tag": "6Ckmh138x3DPi4DmwsPTzQ",
        "value": "Pw1jOPfzPoWCnNxMvC0DvNwUj-ZwJeiL_axVWVovKEo"
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1819940615/9d0310a4d39b0a3bacc8a024acaceb90/decrypt?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A128GCM",
        "value": "Pw1jOPfzPoWCnNxMvC0DvNwUj-ZwJeiL_axVWVovKEo",
        "iv": "bZXy2Qj9UernEfLS",
        "tag": "6Ckmh138x3DPi4DmwsPTzQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "A128GCM",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1819940615/9d0310a4d39b0a3bacc8a024acaceb90",
        "value": "zApkdeVuf4V_AFAAzxlkTyWCJZW3bBEFt_hv8JOmlpQ"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t282557e4338dc910hsm.managedhsm.azure.net/",
    "RandomSeed": "812531230"
  }
}
