{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/55833980?api-version=7.5-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/55833980?api-version=7.5-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "oct",
          "key_ops": [
            "encrypt",
            "decrypt",
            "wrapKey",
            "unwrapKey"
          ],
          "k": "pBZVALPctDgu2eVdVrBgNQlZ2-cIIN8m"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "87"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1693004315,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1693004315
        },
        "key": {
          "key_ops": [
            "encrypt",
            "decrypt",
            "unwrapKey",
            "wrapKey"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/55833980/cc04c85df35e0cc22ede7cf3ac5fa467",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/55833980/cc04c85df35e0cc22ede7cf3ac5fa467/encrypt?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A192GCM",
        "value": "Ix7gmjomQ7W4vcYkI7Wms4c7oVOilwYurDFZOJSmSkU"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "16"
      },
      "ResponseBody": {
        "alg": "A192GCM",
        "iv": "8EYePaj0bJeGDTOv",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/55833980/cc04c85df35e0cc22ede7cf3ac5fa467",
        "tag": "Z1Vt2TcpTeryjDBATZ_kaA",
        "value": "KAQaPL5jjbJLV0OTv3zT7yns8WRrzaedeYu7hRm9QrI"
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/55833980/cc04c85df35e0cc22ede7cf3ac5fa467/decrypt?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A192GCM",
        "value": "KAQaPL5jjbJLV0OTv3zT7yns8WRrzaedeYu7hRm9QrI",
        "iv": "8EYePaj0bJeGDTOv",
        "tag": "Z1Vt2TcpTeryjDBATZ_kaA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "A192GCM",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/55833980/cc04c85df35e0cc22ede7cf3ac5fa467",
        "value": "Ix7gmjomQ7W4vcYkI7Wms4c7oVOilwYurDFZOJSmSkU"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "183638533"
  }
}
