{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/287745353?api-version=7.5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/287745353?api-version=7.5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "oct",
          "key_ops": [
            "encrypt",
            "decrypt",
            "wrapKey",
            "unwrapKey"
          ],
          "k": "pBZVALPctDgu2eVdVrBgNQlZ2-cIIN8m"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "82"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1707539507,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1707539507
        },
        "key": {
          "key_ops": [
            "encrypt",
            "decrypt",
            "unwrapKey",
            "wrapKey"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/287745353/a5444a8d262d05e43771158ef787599c",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/287745353/a5444a8d262d05e43771158ef787599c/encrypt?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A192GCM",
        "value": "L1pSAS7IO-NcuqnpMZ18B2K5SMFf0k7Bxwa2qUTst3U"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "alg": "A192GCM",
        "iv": "PVEVMCYRMEEAMlQN",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/287745353/a5444a8d262d05e43771158ef787599c",
        "tag": "GZx5xetb9Lq1_Tif2mUxBA",
        "value": "elqGeBK_NPqVTyRLFcUQ4w4KjitX3qAGAtWYgXw6z5A"
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/287745353/a5444a8d262d05e43771158ef787599c/decrypt?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A192GCM",
        "value": "elqGeBK_NPqVTyRLFcUQ4w4KjitX3qAGAtWYgXw6z5A",
        "iv": "PVEVMCYRMEEAMlQN",
        "tag": "GZx5xetb9Lq1_Tif2mUxBA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "A192GCM",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/287745353/a5444a8d262d05e43771158ef787599c",
        "value": "L1pSAS7IO-NcuqnpMZ18B2K5SMFf0k7Bxwa2qUTst3U"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "2095249659"
  }
}
