{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/862622076?api-version=2026-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/862622076?api-version=2026-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "oct",
          "key_ops": [
            "encrypt",
            "decrypt",
            "wrapKey",
            "unwrapKey"
          ],
          "k": "pBZVALPctDgu2eVdVrBgNQ"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "155"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780405554,
          "enabled": true,
          "exportable": false,
          "key_size": 128,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780405554
        },
        "key": {
          "key_ops": [
            "encrypt",
            "decrypt",
            "unwrapKey",
            "wrapKey"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/862622076/5bb73224f3a20c1a1a5dbe51d917d80a",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/862622076/5bb73224f3a20c1a1a5dbe51d917d80a/encrypt?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A128GCM",
        "value": "Eic1Ae9l6Z5DdskUVsZY9RrZVV4ZKHG606kwgLjn3Ns"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "alg": "A128GCM",
        "iv": "p9D_9Bxedr_Gyl8u",
        "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/862622076/5bb73224f3a20c1a1a5dbe51d917d80a",
        "tag": "n1B2h04uuawQzqdW-ruvXw",
        "value": "ZTk5Ih7FuMLEfB7gMvRnJq1IQ_UrfMvQ-QT_4iN4GNI"
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/862622076/5bb73224f3a20c1a1a5dbe51d917d80a/decrypt?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A128GCM",
        "value": "ZTk5Ih7FuMLEfB7gMvRnJq1IQ_UrfMvQ-QT_4iN4GNI",
        "iv": "p9D_9Bxedr_Gyl8u",
        "tag": "n1B2h04uuawQzqdW-ruvXw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "A128GCM",
        "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/862622076/5bb73224f3a20c1a1a5dbe51d917d80a",
        "value": "Eic1Ae9l6Z5DdskUVsZY9RrZVV4ZKHG606kwgLjn3Ns"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://externalkeysdkhsm.managedhsm.azure.net/",
    "RandomSeed": "878947002"
  }
}
