{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1794255377?api-version=7.6-preview.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1794255377?api-version=7.6-preview.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "oct",
          "key_ops": [
            "encrypt",
            "decrypt",
            "wrapKey",
            "unwrapKey"
          ],
          "k": "YM-qranbQJpRf_99PGM3tw"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "62"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743438027,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743438027
        },
        "key": {
          "key_ops": [
            "encrypt",
            "decrypt",
            "unwrapKey",
            "wrapKey"
          ],
          "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1794255377/5b1b7435775000b6230df155a31c1c3d",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1794255377/5b1b7435775000b6230df155a31c1c3d/encrypt?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A128GCM",
        "value": "_NX7EjdFn6Nf8iHuAplp_FQBzzU0yWT86WE-cbePG6I"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "alg": "A128GCM",
        "iv": "M-dLSWlM9YCugVUj",
        "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1794255377/5b1b7435775000b6230df155a31c1c3d",
        "tag": "-W9PcIpxh_hfLabymIcEiw",
        "value": "m6dE1zKf_8gS7Jk5KLn4iSUofWYzn0Mu9sjr0Ljk5og"
      }
    },
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1794255377/5b1b7435775000b6230df155a31c1c3d/decrypt?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A128GCM",
        "value": "m6dE1zKf_8gS7Jk5KLn4iSUofWYzn0Mu9sjr0Ljk5og",
        "iv": "M-dLSWlM9YCugVUj",
        "tag": "-W9PcIpxh_hfLabymIcEiw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "A128GCM",
        "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1794255377/5b1b7435775000b6230df155a31c1c3d",
        "value": "_NX7EjdFn6Nf8iHuAplp_FQBzzU0yWT86WE-cbePG6I"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv331hsm.managedhsm.azure.net/",
    "RandomSeed": "1079912500"
  }
}
