{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1568444041?api-version=2026-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1568444041?api-version=2026-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "oct",
          "key_ops": [
            "encrypt",
            "decrypt",
            "wrapKey",
            "unwrapKey"
          ],
          "k": "pBZVALPctDgu2eVdVrBgNQlZ2-cIIN8m"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "46"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780404627,
          "enabled": true,
          "exportable": false,
          "key_size": 192,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780404627
        },
        "key": {
          "key_ops": [
            "encrypt",
            "decrypt",
            "unwrapKey",
            "wrapKey"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1568444041/d1ccfeb0968a08c50175918f91e972a6",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1568444041/d1ccfeb0968a08c50175918f91e972a6/encrypt?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A192GCM",
        "value": "jcmes2R8Aq_q41CPMg07CpOyLGT2JCf1iulz5wXDls8"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "alg": "A192GCM",
        "iv": "r7wYfZ9shsin7DKG",
        "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1568444041/d1ccfeb0968a08c50175918f91e972a6",
        "tag": "Zo6d_QOtm023PpIAExPscg",
        "value": "KtardGWLA0KZK2Vo128eZ7sIb_leIV3yFmP2XcOzOvk"
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1568444041/d1ccfeb0968a08c50175918f91e972a6/decrypt?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A192GCM",
        "value": "KtardGWLA0KZK2Vo128eZ7sIb_leIV3yFmP2XcOzOvk",
        "iv": "r7wYfZ9shsin7DKG",
        "tag": "Zo6d_QOtm023PpIAExPscg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "A192GCM",
        "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1568444041/d1ccfeb0968a08c50175918f91e972a6",
        "value": "jcmes2R8Aq_q41CPMg07CpOyLGT2JCf1iulz5wXDls8"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://externalkeysdkhsm.managedhsm.azure.net/",
    "RandomSeed": "2040870938"
  }
}
