{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/383334345?api-version=2026-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/383334345?api-version=2026-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "key": {
          "kty": "oct",
          "key_ops": [
            "encrypt",
            "decrypt",
            "wrapKey",
            "unwrapKey"
          ],
          "k": "pBZVALPctDgu2eVdVrBgNQ"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "47"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781250113,
          "enabled": true,
          "exportable": false,
          "key_size": 128,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781250113
        },
        "key": {
          "key_ops": [
            "encrypt",
            "decrypt",
            "unwrapKey",
            "wrapKey"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/383334345/9e5fd67690434276207b437f0fa27ad0",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/383334345/9e5fd67690434276207b437f0fa27ad0/encrypt?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "A128GCM",
        "value": "MMPzSsgFt4GSzre3CI98yWnIqgaOddUPV7H5ZMbDmwI"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "6"
      },
      "ResponseBody": {
        "alg": "A128GCM",
        "iv": "gCD4LLs9TliwT4ev",
        "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/383334345/9e5fd67690434276207b437f0fa27ad0",
        "tag": "WVMDvsYEo4J0Bypyuv06ww",
        "value": "AB0X2wE3rJXR6AAsVpbk35IZ9Dbho23OaNfuwpe7w6E"
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/383334345/9e5fd67690434276207b437f0fa27ad0/decrypt?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "A128GCM",
        "value": "AB0X2wE3rJXR6AAsVpbk35IZ9Dbho23OaNfuwpe7w6E",
        "iv": "gCD4LLs9TliwT4ev",
        "tag": "WVMDvsYEo4J0Bypyuv06ww"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "A128GCM",
        "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/383334345/9e5fd67690434276207b437f0fa27ad0",
        "value": "MMPzSsgFt4GSzre3CI98yWnIqgaOddUPV7H5ZMbDmwI"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://joncarde-kv-tests.managedhsm.azure.net/",
    "RandomSeed": "309739025"
  }
}
