{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/331349288?api-version=7.5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/331349288?api-version=7.5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "oct",
          "key_ops": [
            "encrypt",
            "decrypt",
            "wrapKey",
            "unwrapKey"
          ],
          "k": "pBZVALPctDgu2eVdVrBgNQ"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "85"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1707539506,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1707539506
        },
        "key": {
          "key_ops": [
            "encrypt",
            "decrypt",
            "unwrapKey",
            "wrapKey"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/331349288/0e9f11a4639848c92ff52b593ddac210",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/331349288/0e9f11a4639848c92ff52b593ddac210/encrypt?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A128GCM",
        "value": "367BBhjCZ5y8LTuwE_vqEPuUU8B4sLy3z84LKvRsOZU"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "alg": "A128GCM",
        "iv": "PwOpPETMWQYH6aCN",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/331349288/0e9f11a4639848c92ff52b593ddac210",
        "tag": "V6A52QxBlLi4hFiAFAfP9Q",
        "value": "z1vQDRSCxisk9jg0GbT33Aox2tXxOqLzsrQNn0oEzj0"
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/331349288/0e9f11a4639848c92ff52b593ddac210/decrypt?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A128GCM",
        "value": "z1vQDRSCxisk9jg0GbT33Aox2tXxOqLzsrQNn0oEzj0",
        "iv": "PwOpPETMWQYH6aCN",
        "tag": "V6A52QxBlLi4hFiAFAfP9Q"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "A128GCM",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/331349288/0e9f11a4639848c92ff52b593ddac210",
        "value": "367BBhjCZ5y8LTuwE_vqEPuUU8B4sLy3z84LKvRsOZU"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "546325319"
  }
}
