{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1755819179/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1755819179/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "oct",
        "key_size": 128
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "66"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750790552,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750790552
        },
        "key": {
          "key_ops": [
            "deriveKey",
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1755819179/23cd1a3f4417421387231089ef42c925",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1755819179/23cd1a3f4417421387231089ef42c925/wrapKey?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "CKM_AES_KEY_WRAP_PAD",
        "value": "xxNVtlXeP-55tc1aIfx85aPuKGd3AlEsBKcWa9d92Wc"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "alg": "CKM_AES_KEY_WRAP_PAD",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1755819179/23cd1a3f4417421387231089ef42c925",
        "value": "7ek42HVe9BRkQy13z22xuXQAFIoS6Utkw-KoIyztYufT0jz6TZdlLw"
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1755819179/23cd1a3f4417421387231089ef42c925/unwrapKey?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "CKM_AES_KEY_WRAP_PAD",
        "value": "7ek42HVe9BRkQy13z22xuXQAFIoS6Utkw-KoIyztYufT0jz6TZdlLw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "CKM_AES_KEY_WRAP_PAD",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1755819179/23cd1a3f4417421387231089ef42c925",
        "value": "xxNVtlXeP-55tc1aIfx85aPuKGd3AlEsBKcWa9d92Wc"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekvv76hsm.managedhsm.azure.net/",
    "RandomSeed": "715014780"
  }
}
