{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1157204441/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1157204441/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "oct",
        "key_size": 256
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "43"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759316979,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759316979
        },
        "key": {
          "key_ops": [
            "deriveKey",
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1157204441/46f4a680e6774bcca14898f3a942ccc1",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1157204441/46f4a680e6774bcca14898f3a942ccc1/wrapKey?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A256KW",
        "value": "n_NYlU5i1TfGp-BEIxQNwLo63R2z3sKrXX0oW9Aqy5E"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "10"
      },
      "ResponseBody": {
        "alg": "A256KW",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1157204441/46f4a680e6774bcca14898f3a942ccc1",
        "value": "e6JSdfO_u3BtMEBnW9zb87zXDN5JL2fclTlVQswUfrLX3DdXUswvGw"
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1157204441/46f4a680e6774bcca14898f3a942ccc1/unwrapKey?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A256KW",
        "value": "e6JSdfO_u3BtMEBnW9zb87zXDN5JL2fclTlVQswUfrLX3DdXUswvGw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "A256KW",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1157204441/46f4a680e6774bcca14898f3a942ccc1",
        "value": "n_NYlU5i1TfGp-BEIxQNwLo63R2z3sKrXX0oW9Aqy5E"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t282557e4338dc910hsm.managedhsm.azure.net/",
    "RandomSeed": "303963559"
  }
}
