{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1395243660/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1395243660/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "127"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1693004441,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1693004441
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1395243660/e58d4bdccc570db13d418da144a676e0",
          "kty": "RSA-HSM",
          "n": "hZa3KuH9jUpesIwhhjQ82y3YXT2Skq5XnjYNN28fbFwVnZTHYV_qe8ITa76bI0HAkEZiBCMvvrjCkfCk9bPJ0yquOOf5DECntu5t6h-WkaVYJtxtw5MXu_xBODARk8_Wf9Kbr6k7ROl5d9oEX9rzrs0aVQGheiOgT76j3SGSQrX_nTIjy61bKYZmTHcOWSNkRIY3zvEY_4yniqJtDkHW2sbc2qXb1iad33kk7KkC_WACBKiG9lM4YjmBVIwwZ3fGbTm02SDswR4VcVjAn8tR8vFeTaM6wqT4UIrkReQ7YbQqyLZSYgtkqoxRSqNQHZJB0aQ-4tjkZqV0Fc0gFm-uoQ"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1395243660/e58d4bdccc570db13d418da144a676e0/sign?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "YPMYCWi4F5iB0VeftRDvoh3NWmgJncjBwLa45jptbxA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "19"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1395243660/e58d4bdccc570db13d418da144a676e0",
        "value": "gBCVIZfz6pdWXsFa7H-6sEmswA4mVBiWCT1Bw2rcRMCK1eia4S8i94yoFJoZvaSv78v_QsJFldlQUFGbgMB52EyFFekygurSvFR1Gv3-oEdClcCfekzlYqxLhr3i18CaZdFnRpj1AwGcNwUBgIIDaZJQoHiCY3LjF-97AqMYD1-SGmTtyZHsVF7iqoFPFBi0SVpKbXHshVKHXCEMxRpVgaMzebAx0VZ34RkzpP37E-MrlwcbWjieXkvnypgwccUSMRQK0bmDleEqYqi80ahAeWJ0KwT3f1GjLNztwM9fbJl2Xr3uL9n5hCS964NM8-GBceriLtnxB21Am_FhuADYHA"
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1395243660/e58d4bdccc570db13d418da144a676e0/verify?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "YPMYCWi4F5iB0VeftRDvoh3NWmgJncjBwLa45jptbxA",
        "value": "gBCVIZfz6pdWXsFa7H-6sEmswA4mVBiWCT1Bw2rcRMCK1eia4S8i94yoFJoZvaSv78v_QsJFldlQUFGbgMB52EyFFekygurSvFR1Gv3-oEdClcCfekzlYqxLhr3i18CaZdFnRpj1AwGcNwUBgIIDaZJQoHiCY3LjF-97AqMYD1-SGmTtyZHsVF7iqoFPFBi0SVpKbXHshVKHXCEMxRpVgaMzebAx0VZ34RkzpP37E-MrlwcbWjieXkvnypgwccUSMRQK0bmDleEqYqi80ahAeWJ0KwT3f1GjLNztwM9fbJl2Xr3uL9n5hCS964NM8-GBceriLtnxB21Am_FhuADYHA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1395243660/e58d4bdccc570db13d418da144a676e0",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "1743694117"
  }
}
