{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1265475190/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1265475190/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "146"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1707539625,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1707539625
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1265475190/d9911ced41df48d5b3a6edd806cf6ab5",
          "kty": "RSA-HSM",
          "n": "nJ06vnMXKpUqMrmMGL1Yl_a0rLR8TOokB_y1ICSY9RJ3S4CamhYmkmP01X_AgMHGJqJ6l8HVwIdqgZlE5I5_BpvGQm0kqxjTNFZUBuv8bGj56XGtd6yDL8PLhzeUApu92MhZ2MDYtI-Ha3cg33vqk4D3lqSdEwrm5_gj4jBKMmT6Ct6cM9GKVVJVajy1M4L9uhWJXepo1d-4mjJokvMiYZpgN8r4pDl6OX08QQbDH3mFeRTEES06G9XoGgFksPE4TXz54BzaxXGj7a0GKRJVLwKD6oUeIsLg8tnajZFGJFM2EUruJvFruoSGx7dyyO-S6tfem23sG3rt2KWn54-WYw"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1265475190/d9911ced41df48d5b3a6edd806cf6ab5?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240118-4-86344c01-develop",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1707539625,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1707539625
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1265475190/d9911ced41df48d5b3a6edd806cf6ab5",
          "kty": "RSA-HSM",
          "n": "nJ06vnMXKpUqMrmMGL1Yl_a0rLR8TOokB_y1ICSY9RJ3S4CamhYmkmP01X_AgMHGJqJ6l8HVwIdqgZlE5I5_BpvGQm0kqxjTNFZUBuv8bGj56XGtd6yDL8PLhzeUApu92MhZ2MDYtI-Ha3cg33vqk4D3lqSdEwrm5_gj4jBKMmT6Ct6cM9GKVVJVajy1M4L9uhWJXepo1d-4mjJokvMiYZpgN8r4pDl6OX08QQbDH3mFeRTEES06G9XoGgFksPE4TXz54BzaxXGj7a0GKRJVLwKD6oUeIsLg8tnajZFGJFM2EUruJvFruoSGx7dyyO-S6tfem23sG3rt2KWn54-WYw"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1265475190/d9911ced41df48d5b3a6edd806cf6ab5/decrypt?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "apYBylj-Bye1Htcf2i9mwXVvRBrTC3jPM-Eui2eTgwwLBwMqkFvs5Ogsb0NSAggy30hjggVRbAXOe9WnPmR6atVtdl6vIYOU8r2u5KjcOxsPFtHlv5Bnmp6VDgPLBg_eeetJRZqB8N3EHwqir6GfWiDRsQczrEZk-QU79iL61tWGlL3kZ8TrGhEcS96Jzm4pOQ8glceGiFJCtVhcf_CZh-tWTlTQTMRHbyNw5wnqy2f12XF9AkfL5BgVx_Rq5pOpiNXOqr-4ROKsHZZaN30KNzm0J-GsVojsklM7cOr1aYJ73K76Bc1C1F3LEK_C5IM1ScKFhnu_BiInyDyqC6rfag"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP-256",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1265475190/d9911ced41df48d5b3a6edd806cf6ab5",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "1735483527"
  }
}
