{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1290740266/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1290740266/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "70"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781250100,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781250100
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1290740266/c337854820a60941ab98fc240fe39283",
          "kty": "RSA-HSM",
          "n": "uHFSqlwPO_WNwTxFmtN-3y5114R4W9bfV814KLQW8k6Inh4xG5gNTLQ8vPs0r2ri-6oM9icU2aPKS-sWpia9w2BKxlxVRR2ht1hesgnXGQXEJYH1In0iJoB4GyKqzzm5pKBMVbvHv6s-Eeg7NTQD7cZP3oxkq2opTHzhc4WoVjTheOQcKOclD74C06OEU9cKdUmot61OSqLb5peYHuMs6PHSgfnAgCkBDlhAFahWDGz9ZKWquYhAICNBfK4Txo6ISfF_vSSHYgABMWlY2dkgAU3FSnTm7V9cFVuu-bnbI_tFepzPwv8B25dbrnxYMVpVTEApJaJoDxEFmlnXzpsRwQ"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1290740266/c337854820a60941ab98fc240fe39283/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "YPMYCWi4F5iB0VeftRDvoh3NWmgJncjBwLa45jptbxA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1290740266/c337854820a60941ab98fc240fe39283",
        "value": "BLGu8g6UNp5qTkMUOdwdFTm-V6CyQHGBw7LK1ZTJaOMbN1YDIzxUgw28qwtC7wfiB1_8SB6rbZM-MUa1ABKQbbHp3LCJQnQwCRZp-j4nLziWYPj-giCFOa1mZWmgFDAVaSA7TnEgbxOLgpauRL4NzdEcXnqsDSd7K4gNJ0RmipZhljQdECILrlGPN9U9NYBNHbNW-O_l-px9FxMi1DcF-wlcxpKywKSj4gQCPxLnq10I0-kaaJqDCqvBbsDZrDKnaajriAikQ-DshCGSHWfwSbU_L1_0TegOwu4uHINybJbge-nz1P7VEzKdluOcV0GMDGTFRVnCPNwwU2cg9sASXg"
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1290740266/c337854820a60941ab98fc240fe39283/verify?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "YPMYCWi4F5iB0VeftRDvoh3NWmgJncjBwLa45jptbxA",
        "value": "BLGu8g6UNp5qTkMUOdwdFTm-V6CyQHGBw7LK1ZTJaOMbN1YDIzxUgw28qwtC7wfiB1_8SB6rbZM-MUa1ABKQbbHp3LCJQnQwCRZp-j4nLziWYPj-giCFOa1mZWmgFDAVaSA7TnEgbxOLgpauRL4NzdEcXnqsDSd7K4gNJ0RmipZhljQdECILrlGPN9U9NYBNHbNW-O_l-px9FxMi1DcF-wlcxpKywKSj4gQCPxLnq10I0-kaaJqDCqvBbsDZrDKnaajriAikQ-DshCGSHWfwSbU_L1_0TegOwu4uHINybJbge-nz1P7VEzKdluOcV0GMDGTFRVnCPNwwU2cg9sASXg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1290740266/c337854820a60941ab98fc240fe39283",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://joncarde-kv-tests.managedhsm.azure.net/",
    "RandomSeed": "1074058168"
  }
}
