{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/263689066/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/263689066/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "72"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743438828,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743438828
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/263689066/3b5dcf5df1754c6db2e04dc5f36fb781",
          "kty": "RSA-HSM",
          "n": "iIe90BetfAuuFwJ0_yVd0WkPfNNq6_B0NpYrdGTBMKuKAeMDhj2ncgEZzo6T6Pa2NXJL6aLemRnqJWIE3RN_V5kYy-rg5HlanwMmoBEu0LwHhPNBKc_2HWzqFHKHr5KeWVo2mGpKNasMyt6qeLYyFUWJpyNqZdAx3EkTNaMd-ffvS-EAbBd6B38lVMeG4coRMa2Niu8c5Pbaua6nbevGxMpjrFHTMDRC3234hbFp-JcYg--599fxdTTjr1mkZpdr80w0P7dxIucGg6BGZ3Qz-c1ZDFm2Fi1pqnrg7ud_WmO6IFyldepjuWJ2kP0AKOYEh_FCUU4cOkOWt5PGGULteQ"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/263689066/3b5dcf5df1754c6db2e04dc5f36fb781/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "YPMYCWi4F5iB0VeftRDvoh3NWmgJncjBwLa45jptbxA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "10"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/263689066/3b5dcf5df1754c6db2e04dc5f36fb781",
        "value": "JeV40E20vwqp3Q7flpUHdJ1KO2CM4toKW_FGAwcZzP8ix_bmTNi_G_FoFvjLzNyyZ4fODJwZEkL2kmEwBPOpUWoPjxolnzzwAy9IZZpuuSBt9Ku2NdyIxApfUJLAEEzSiv3TclS6-KIR0ZOQbMOrTgT4cj0gMVm7uDvB0FatONfQ6PXZ-4sHTmF9P19jB1lCDyB-1vUGwOHGkeHG7yAMn8p4BFIL5X1_PH5h8cL4hHSWMfUQy1-u3oKk3hAv5-POmu05ByJTly0rdwpjUoA7ikZG1LsLZjXGRou5u4ES5vchY0tn_uxkasHw060yC7x6sDtS8emXpZHZsvyUoWBbew"
      }
    },
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/263689066/3b5dcf5df1754c6db2e04dc5f36fb781/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "YPMYCWi4F5iB0VeftRDvoh3NWmgJncjBwLa45jptbxA",
        "value": "JeV40E20vwqp3Q7flpUHdJ1KO2CM4toKW_FGAwcZzP8ix_bmTNi_G_FoFvjLzNyyZ4fODJwZEkL2kmEwBPOpUWoPjxolnzzwAy9IZZpuuSBt9Ku2NdyIxApfUJLAEEzSiv3TclS6-KIR0ZOQbMOrTgT4cj0gMVm7uDvB0FatONfQ6PXZ-4sHTmF9P19jB1lCDyB-1vUGwOHGkeHG7yAMn8p4BFIL5X1_PH5h8cL4hHSWMfUQy1-u3oKk3hAv5-POmu05ByJTly0rdwpjUoA7ikZG1LsLZjXGRou5u4ES5vchY0tn_uxkasHw060yC7x6sDtS8emXpZHZsvyUoWBbew"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/263689066/3b5dcf5df1754c6db2e04dc5f36fb781",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv331hsm.managedhsm.azure.net/",
    "RandomSeed": "986966970"
  }
}
