{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1312630042/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1312630042/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "69"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781250091,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781250091
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1312630042/7b8a9f1332f5097b8c35fd9078289844",
          "kty": "RSA-HSM",
          "n": "9MZ1Ph2a8vOlSDiTV0l4dF7O_hzSXP1Caz22eC_2muGqke13I0mHtzo8UlpCCeJMzSmCSy7o1Si693j4qJpldwXSC8r1S8jRrDjVkinGjd-Vf4rlW2D2L6Z8IYJ0fEYzWWo3glAl8tZHJ3Uwt3SOc6rpRM3SpFYmN8Gs99i7LE9zs1_cKg-ioUG63WoDRdgDmDCeleWuVTetP0lnGZsXIKzgcv-fvCj_RdJKOCOWXic6jGYTRhhQSK7j9lv946FZ7QMbDmeapQ4kQ18S3ym3v7o7M9oWC0KP7Z_9uenb-DISL-O2yRgHX0V48D9_oUXHMqGmJaapq-rfkNeRrCLC2Q"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1312630042/7b8a9f1332f5097b8c35fd9078289844/encrypt?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP-256",
        "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1312630042/7b8a9f1332f5097b8c35fd9078289844",
        "value": "g8Vs52WQRxBtaCz7l_GUSbW9nggslJpwEAsYhmNDKwInafUswNchOjbLZIIb4q0rPY7NThhwoBqDAdEBrJR07TCNFFLIiho5Bvw[...]
