{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1521780552/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1521780552/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "71"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780405432,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780405432
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1521780552/95fd13df60150d9d99e8ac84fe84954b",
          "kty": "RSA-HSM",
          "n": "r7sqKBitgSZCpdySc3xBXJiwdmR4UmGmn2WlUuY3fqG9HbTnhbh-HArYEnq2hWcKvLcMpBKTbkZu_4Hlmov8ZYotUNPOtl_kQeI1ddqhEiC7qLac4ov9gIa9LFbCUqv7gIvTFiB0fVaQpD3jUnLlD1e1VX9vITHOVNRL-BUlnGW9OQKYj59o6atj-f5sM50Z3UOnSiWAQgnTT5fCVyBkUBx6kmdiChplEab06GwLVrbj0nG4atISoTKLQs37fb5fRC4u0MuGnaYBgl4ySwT80hOWFkWEsEg8CVUqifNDrHhblrZkei0yUs-Jk3KItBEcDR7XV7i7sjRaZGMC5y6HzQ"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1521780552/95fd13df60150d9d99e8ac84fe84954b?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260505-1-b95d5630-develop",
        "x-ms-server-latency": "8"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780405432,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780405432
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1521780552/95fd13df60150d9d99e8ac84fe84954b",
          "kty": "RSA-HSM",
          "n": "r7sqKBitgSZCpdySc3xBXJiwdmR4UmGmn2WlUuY3fqG9HbTnhbh-HArYEnq2hWcKvLcMpBKTbkZu_4Hlmov8ZYotUNPOtl_kQeI1ddqhEiC7qLac4ov9gIa9LFbCUqv7gIvTFiB0fVaQpD3jUnLlD1e1VX9vITHOVNRL-BUlnGW9OQKYj59o6atj-f5sM50Z3UOnSiWAQgnTT5fCVyBkUBx6kmdiChplEab06GwLVrbj0nG4atISoTKLQs37fb5fRC4u0MuGnaYBgl4ySwT80hOWFkWEsEg8CVUqifNDrHhblrZkei0yUs-Jk3KItBEcDR7XV7i7sjRaZGMC5y6HzQ"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1521780552/95fd13df60150d9d99e8ac84fe84954b/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "YPMYCWi4F5iB0VeftRDvoh3NWmgJncjBwLa45jptbxA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1521780552/95fd13df60150d9d99e8ac84fe84954b",
        "value": "KcAwVsM3-eaJeiPJa_EhHWkd7h1N5xkpuZmRyyPftsXmVssz4AwucFJpKtJps_5-fcQScLfLWfbfsjcBHuKzwBE-_cHkczzLZWxISTe20N3AhzRdTtuTOe7qkq3MmBUpP8FP8yU1C4-2zkegSA5nY0VwfmfCwg_JO59Yp-8pZQNPaYOXNlt-yCE_IFJfQFmJnUaUH_A5zkS-JJ-DcdNsi1IXXYAFLzgp33UFuy5cGRCevsbUs3cJEkZVeRztP2KOOd088Zixq0dtPiVE9kdbgpxdevN9p0OpYmm3xMy5Ufjqstd9-SbAfs53c5qGqaxOYhzfFkwpUNKVOk6RG_l_OQ"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://externalkeysdkhsm.managedhsm.azure.net/",
    "RandomSeed": "240660507"
  }
}
