{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1775534628/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1775534628/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "68"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780405426,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780405426
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1775534628/6c79f837bc2c018a0534034250219972",
          "kty": "RSA-HSM",
          "n": "kHYPo7RD_naxCgF5pf7muCMyvvWe181z3FrI-XSBHzKSAuAtkmsyUyIG5Z6fDv3ut6TcgYa6GpaPO59zgbHOarlEPdixJoTAE0McHSyOWmiNJ27CK0KZjNNRm_to-UqcHLHZfDOB1RbiFtm-c_YKhKBpj75Abars6hjXj6al4_8sBRr5WdPQMQ2cGwFC0qceKj0bBv0jwIj4gHhHGLXL8NXUOvtHlHuEn59bmEkojko2EHucomOm95jTKZYVj6VALMaziBTAHRXcG6uMyGaGRHq_s-7YPcTF-JLTWbOUHB_r5Kqfr37Cwmff-eQ1udzq7b7Nm3A-K8_E1ZYR7N0iPw"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1775534628/6c79f837bc2c018a0534034250219972/encrypt?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP-256",
        "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1775534628/6c79f837bc2c018a0534034250219972",
        "value": "NOaUfn6VsGUO2_0KF0h4iTaP6s2yXizwCE3sFfid8F_jJ-6rWb9vV8xb4McF6vXxz2FcMpydh7wu7aEjgsWO-SbLWhjfRQMGzwH[...]
