{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1824844814/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1824844814/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "71"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759316749,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759316749
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1824844814/176c51b60f7d0318a11db3d73a0ad827",
          "kty": "RSA-HSM",
          "n": "twdAVksrLc26XjDzelxiC5Q7WMP54uDFSOf04LLKxCpb22Otrj1cV4Fp38NryWZUhlpnA0BZPhx9dNWWoEebWhltmDK4gpHz1xnBSlpc-38a-1_FYu0WkHecBz6bBYn9C62-2Nnnv_31-a-T3pYf1ECp_edWx_7d773S0feniOFEmjLzCf8D_9TjBUBHIXzfzZZQPkKrcXQHFA2vPiz57TvJmsghYEGvvPpEcMHQH8j2McWNTaurrwHjxXnVv9K4ZA9GtZxxLaS60jFT0dinKVQshDBLNDIcNPQDFYL7GLDmiSGCSRUZVyHTHnyDwCaE5EpYf9F_uxnww_1iGGvZKQ"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1824844814/176c51b60f7d0318a11db3d73a0ad827/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "YPMYCWi4F5iB0VeftRDvoh3NWmgJncjBwLa45jptbxA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "8"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1824844814/176c51b60f7d0318a11db3d73a0ad827",
        "value": "A-g-GGP6ds16sajHCmyNH143PPBPKuJxW7b-B8ZyyVn9UBHdmbJgJ0vXZKJvi_-OAXNuSkWHIyqm04dkyj3pUY_XIxqiAyox-TROgAkUWqjMYZdm4fWbMl8tbltXkOyo378HHwfgkZzuVQst7K8v5G8rqW0v18QyZuiT8rxfUapc3cU-UPyqDdsPhgqE2qvQ5oAHekvbk_kgsGoBeZDzTxVl0uWi0ubX7AkGsqnumDX-CmZsrM_KZVRdBs5TUKDo8CaS4kRFf9DZSgb6_vQF3x1xRUsbCk7Ead_dVCEiGu4hveSjy582ilWE9v7f7uPJKyX_MIjfZXm8e4Nbps294g"
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1824844814/176c51b60f7d0318a11db3d73a0ad827/verify?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "YPMYCWi4F5iB0VeftRDvoh3NWmgJncjBwLa45jptbxA",
        "value": "A-g-GGP6ds16sajHCmyNH143PPBPKuJxW7b-B8ZyyVn9UBHdmbJgJ0vXZKJvi_-OAXNuSkWHIyqm04dkyj3pUY_XIxqiAyox-TROgAkUWqjMYZdm4fWbMl8tbltXkOyo378HHwfgkZzuVQst7K8v5G8rqW0v18QyZuiT8rxfUapc3cU-UPyqDdsPhgqE2qvQ5oAHekvbk_kgsGoBeZDzTxVl0uWi0ubX7AkGsqnumDX-CmZsrM_KZVRdBs5TUKDo8CaS4kRFf9DZSgb6_vQF3x1xRUsbCk7Ead_dVCEiGu4hveSjy582ilWE9v7f7uPJKyX_MIjfZXm8e4Nbps294g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1824844814/176c51b60f7d0318a11db3d73a0ad827",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t282557e4338dc910hsm.managedhsm.azure.net/",
    "RandomSeed": "30411352"
  }
}
