{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1434360241/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1434360241/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "69"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750762374,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750762374
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1434360241/0ef8ee1a116448d891a9368569bc1173",
          "kty": "RSA-HSM",
          "n": "i_IPM85grpgXsbdrGrs8EoJBoE1usxQV1mHdCO9lGEHVGpxvn2jUeeyG7j875A54wPFPeSP2C3UXzcFB_kpW4ZNmyoW9E62aCuXlS4Oqj68Ko1iRKN7wfuK1LjSo8Xgr4qWIi6dO7KqJD6DQVIrVwC2G5u3v9BS3PFuNEVzb4wSF08Xu9_FumZfHZYj4HCIew5sJr5FtnLgvjQkpfqkK4pcchTWa_iLYI5-ISodd4nouDEDLCOyyOsMHVKCyrGWUr3VIxciwlk8WKU_1sy64KNqibetkkZ7TVUxcUobHLAy0SidqGmETGjGPhYTCMjC8ZbF3v4MhnhTMz-WQsSyxhQ"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1434360241/0ef8ee1a116448d891a9368569bc1173/decrypt?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "TQltOoK6leeVoVc_ef6eub_B_cOM1CLGlRDdnxcCTSudIanD6DG6lsu03yK1wjO43KmxN5sy6Z5UKbcjRpnsSesUusgxSRO1R4G5giB-6cV_hazBBTv_urMRQztK6c2yj7dKEvQSqlnma_WJR2aWTEfbv0xsNXBwyTvldELYG5YrRdzWywfEzlFz-9AintcmscVqpX2W86al9X9rPy__8a5coOPCMtAjzCo1NTxqJJcn1v5u0Wb7-LPohpgPhBW_Pv4daleAPlbcQEVx50FIDMrMSOH0yC1r_lBOpVeKRxdP7GAhhSHnLwICRwNXyDA322D8-k9YeY_E2eqcjsaayA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "alg": "RSA1_5",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1434360241/0ef8ee1a116448d891a9368569bc1173",
        "value": "zTP8mOF3knEpgxWJxolPfaZnNQfslge00nrLiz9Fycg"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekvv76hsm.managedhsm.azure.net/",
    "RandomSeed": "999093937"
  }
}
