{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/232560936?api-version=2026-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/232560936?api-version=2026-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "oct",
          "key_ops": [
            "encrypt",
            "decrypt",
            "wrapKey",
            "unwrapKey"
          ],
          "k": "pBZVALPctDgu2eVdVrBgNQlZ2-cIIN8mT0JDMENMD28"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "44"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780405651,
          "enabled": true,
          "exportable": false,
          "key_size": 256,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780405651
        },
        "key": {
          "key_ops": [
            "encrypt",
            "decrypt",
            "unwrapKey",
            "wrapKey"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/232560936/ba967028e3c64d9e818c6409038d2450",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/232560936/ba967028e3c64d9e818c6409038d2450/decrypt?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A256CBC",
        "value": "3MOYFJ8vI5mWd31XHLtF7LekWnHOCEYuG4zeSyersMI",
        "iv": "HHLiJlIG6ZJO4erl8tPIpg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "5"
      },
      "ResponseBody": {
        "alg": "A256CBC",
        "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/232560936/ba967028e3c64d9e818c6409038d2450",
        "value": "hBnT5T4U61I3_BRvkE0d3HS8wjVpZKCuGF9qBiW5Oa8"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://externalkeysdkhsm.managedhsm.azure.net/",
    "RandomSeed": "1334376996"
  }
}
