{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/769034073/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/769034073/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "69"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781250146,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781250146
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/769034073/d8c41c617ccb07363dda5e660f47d522",
          "kty": "RSA-HSM",
          "n": "n_LThh6jMrcObLfP1-iA61zXQ_Cb7PFg5CkzwEUbqoYHMymryozQPu9IuEiUiIvXZyNRcJhYN19cCwu4c7xW7CtTM5CaGvNizei0yj22D6yssyCIy3tJtPJZD7reWiiDwb25UuEXweVcpLBV5UtB5XsZcsmw0qdDuex5NfJGmOlgUp2cfFPoScoE52CSfVgSX_G-DCJXLU4qDe2_YjzMKEeUWnhEktC0ip9U-5tIshiFUqW4s3ugIHf_cRzEpMM8p6J170raJHzIxhxpMMgcUmo-rJP83ox6ueSmsWMdzCulVsDE3ZCVIxno2i8kzGcV7i8xvGqQ8YRXFMSTJVTcLQ"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/769034073/d8c41c617ccb07363dda5e660f47d522/encrypt?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "ZbhTAooX-eP4fTucaf1xhOk7K4VUwLydztcyKpVEzq4"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "alg": "RSA1_5",
        "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/769034073/d8c41c617ccb07363dda5e660f47d522",
        "value": "GM-Fb_m6CH3s0II2Z8hSvg4PPIoyCpoeoiZC-dpw2gtztBpJGKI_vLMPuQ1dQcOHPnrdBXZENoz4RfCVTdHWRI6eIIDrnBmbkux[...]
