{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1007058963?api-version=7.5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1007058963?api-version=7.5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "oct",
          "key_ops": [
            "encrypt",
            "decrypt",
            "wrapKey",
            "unwrapKey"
          ],
          "k": "pBZVALPctDgu2eVdVrBgNQ"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "74"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1707539398,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1707539398
        },
        "key": {
          "key_ops": [
            "encrypt",
            "decrypt",
            "unwrapKey",
            "wrapKey"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1007058963/5a4ac92a2b970db40e7a1a868286e90b",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1007058963/5a4ac92a2b970db40e7a1a868286e90b/decrypt?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A128CBCPAD",
        "value": "8raMnI0a4cVSmSWBSqOuVk0p4iKbxtIowMgkFHT3L39uWPMLyIez1fih_giGqo7F",
        "iv": "EVfJ1eWPuzEZxEehcR7j9g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "8"
      },
      "ResponseBody": {
        "alg": "A128CBCPAD",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1007058963/5a4ac92a2b970db40e7a1a868286e90b",
        "value": "fHVvHFc90OIcZopbf96jcAjwA9VkCogZ93vatQSmtLA"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "119312386"
  }
}
