{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1536761202/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1536761202/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "125"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1693004313,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1693004313
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1536761202/0c1f683cbbec0ef2194d2dea7ddaa65a",
          "kty": "RSA-HSM",
          "n": "i_vFu2Tryc6P5MG9N7YVWZrUNWenwoR9n-KFPmQE2mKEAGvf3HSAv1XFrs1yS6D-eA4KSd58RtA1JhzFCgkvOrBkIvEkTOKUUJhlqZ3-MvVyI3GdHu-ildZkSEUxw-99PWurG8ac_v1BIWf163IhpD7FBBIz14r3Nf-_5a4cDVEPJPchx9PBRJ1gNPprfnf-eD36UKMQ1jB8ekxF_32C8zOni0t3w5365hji9SFV4xp0QE765XGIf_xSpsnuj9b3DeqMWnCIKr1-9lQAcjwL3X9o1_Bs_2Hh6FCWSnUUd80SRID9RX4HoWtB3zhBTMiLq3p1qkEPIa2VmJPA02Uh2w"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1536761202/encrypt?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "8"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1536761202/0c1f683cbbec0ef2194d2dea7ddaa65a",
        "value": "N9IXb6-ZRqpuEepgM6jDPbF89ugouAUHhHLV5mcldS_rO50caAdmHsXG7yw8YcRU08XTisuW1SFI4NnYzaOaQ8HG0bxRpBwHHu05XXi0LksxlwH9IRDaTeVaiD9TWB6nPTjwKtM1RA80jn3BUv8NBw5f6MFQY3xlePdPfMicbddYBQ62xqSuEaqFc4nuLz6nUAvVudiUnbRnWHzPtac-mCHijTxlnKod5EIbF2eV1D-B8jGQpG8AjWRnGoysOAZOBO0VaS-k_Q_BwkT4i14pki1W2rYKmQGSKLvETSydKL_iUAZhXeYcb0i4cLcsqGkhY69eaVrH_oafCCzG6p0zSQ"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "2091995706"
  }
}
