{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/984914030/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/984914030/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "66"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759315064,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759315064
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/984914030/5eceefe615b945be2ff728deffd56230",
          "kty": "RSA-HSM",
          "n": "m1vSJNpRL5BpEeZShzBt4-jqgT-QFfdqe85Fgrl5j_hzIo0Z4DuD-vENKj1sO1_k7dJgyDvwhp8bdN49Zs9J7D1MRkKIddWRxvUFvsj-FjWC6_WIvCZtqL_74XzNLsBw5OxtLcsPZkN4P90WbwCcBta7qUgXVIpFXiVAQUYHnJiaJT9UhbInFDwfv12udpRzEZ1gKfjr5-xckdsEXzim9yyEYCVP2CDAX7aVsnHVkWtbHfQ_2qK5yEpkoAb6s6cHONSa6GNAUaDQ9lPLyoYi5zzgFumT7o5Iat3RSu1HKBatU0Ya-ziCr5eA0Wm2TW4MVOUxUx20-ThCjEb-awk2sQ"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/984914030/5eceefe615b945be2ff728deffd56230/decrypt?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "heVG7A-t3Rl0Lvg6rqPn5FtgMzvyenp-nClJGH0HDOGUwYMX8GXX3ffKOkGmXOO7I3U6xtf0BWE61H6rxUzLtMxP1KlnHom-RZZNL37a-gLbiujJE6MWpNY6fv8J5afOR3bWpA-4cuudlNX7Ng-FXxBwuiGFURyLeWP9mKn-N5Q32btXEoHdPDz8YjysxL1tau-WkJR43-p38xzst4h9Sdko8kqcnu-orWn_i7Oo6O46sLoVlG57c1qOEcIVDjslybYrMSYvcx1-DrTidW4MaMSJS2amM_RtfU13mvsoRHrNuMx1kG6PQtHuSGgiobRoVI4fu8lE4lX3nAqRGOkf6g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "alg": "RSA1_5",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/984914030/5eceefe615b945be2ff728deffd56230",
        "value": "7w4hAZYqEY68XdR-50RZ-fDL-MMYcH3z8IpDyjMABXk"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t282557e4338dc910hsm.managedhsm.azure.net/",
    "RandomSeed": "1724762289"
  }
}
