{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/896403183/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/896403183/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "72"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743438841,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743438841
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/896403183/81314c25722546bf1f0e27d05c866051",
          "kty": "RSA-HSM",
          "n": "t6ySP6ZcxbSYoBtfHS2oDqO0UKpnWeF3gsnVGMeMkx5IBQSsdkfmXmtMiJR0M2yBYRlh70T8grADQ0Q7A_tONyvMfpc82yhwZLr68qOL-8VamEdyqvEekhW5OrEnVHsnmhEYtNpAKI6U_RNf1dIQWV_fpkW2S66D5WoGBfAb_hMbGFEm9QaKA4kcl5i58DEhtoEfRyb37rlg4s6LS7uqm6cYGQNx11pXFR8UjdVkWwFAq2kwGZrH9mhxKLPTbTVgI1_bSk3zpH5CpI331vg7BUx-vVslMj28pqk1ut7o7W0ds0LEX-G6sEbcrbLReYP0MqCaGb1bf98mp4xtApLmkQ"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/896403183/81314c25722546bf1f0e27d05c866051?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250221-1-e4accbbe-develop",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743438841,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743438841
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/896403183/81314c25722546bf1f0e27d05c866051",
          "kty": "RSA-HSM",
          "n": "t6ySP6ZcxbSYoBtfHS2oDqO0UKpnWeF3gsnVGMeMkx5IBQSsdkfmXmtMiJR0M2yBYRlh70T8grADQ0Q7A_tONyvMfpc82yhwZLr68qOL-8VamEdyqvEekhW5OrEnVHsnmhEYtNpAKI6U_RNf1dIQWV_fpkW2S66D5WoGBfAb_hMbGFEm9QaKA4kcl5i58DEhtoEfRyb37rlg4s6LS7uqm6cYGQNx11pXFR8UjdVkWwFAq2kwGZrH9mhxKLPTbTVgI1_bSk3zpH5CpI331vg7BUx-vVslMj28pqk1ut7o7W0ds0LEX-G6sEbcrbLReYP0MqCaGb1bf98mp4xtApLmkQ"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/896403183/81314c25722546bf1f0e27d05c866051/decrypt?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "fnMy7ydk5NouuQsMNsGheNdxyF6-VM6ywIa_7MdwErEc7N4WwwwsC_kYPmWyXRfV-Z-OnVpMEAiZDQenafZHLwqNY3zOwKOdCl8btucEGhjBE4yLE88IgeHnkED87QyCk0QK0WrFLZYAUZ7fmxQq5D5YSEmsiZ6o3ZzOdEq4ScbTzV0gBWURZQxsHJz5pPR93YTwGL0q36ZHhAau6nmiVLPOR-Cg0waDsOduZDMkN8nPZom-qS11ZQwExXVOBe0-Fm2XTBQmmAEZDmhBofXxGmk3uIysYZjjnVOSEsObz_IsLjwECOIOtqRkozvjuD5AHZpshl-BQ5ufj7nPlladKg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP",
        "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/896403183/81314c25722546bf1f0e27d05c866051",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv331hsm.managedhsm.azure.net/",
    "RandomSeed": "1148325369"
  }
}
