{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1149862986/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1149862986/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "71"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759317082,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759317082
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1149862986/e5ab167c2a614ed8aa7dae96dd9b8c3a",
          "kty": "RSA-HSM",
          "n": "iwzGb9XbM8FYWTQoim3QbZfH-fH3z7TMolECzdOfqiiz1uxSA3hBWMc95xAFGu51WZ1BpFrhGqKp1WffArgvP8g9fGA7imQdZcq9OfUQBUUOAqFyOY3lfdtEPE4dp3sghJ3VyXJDxRvXInppCE7kplQWKqfRD9rejz88rhoXvwaE2SIqBm1dXB878hFnD2S6Ze4KbQqwzotU7Se9UtuhSClMaaT5H5XpgRCMEG8-81VBHduSZ9Q8PIohNdEZae2wQiLbJnAdLQs5BjSq_8UTyOW0WIudC6eBwjvHc4u2ETo_gTSVPd4RREAi7oP_QPrXfyw32mDdJqLyPC9DpKws8w"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1149862986/e5ab167c2a614ed8aa7dae96dd9b8c3a/decrypt?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "NCU0rzJsc4Z5t2nBUTw4pj46eG-qLnbl3WOhO-DMUq5GzR1mkPZZPVWu_D50YIgg-iUGFLN70DBGcanrFxQJO8aKJ-rGO-S8zwy-UEmYXmYrV1--8X8M__Pm274Wbpno4f_Rky2zVqaHITiQBFTqjNp_iEH8KTmDruJkd8PVRI0IOqVHhVEG_DwgrGVsveXPxaQIYy9DcInFBb0XglIkpndVFb7Dr5LqSns8Sr_7jZ8ag-PXwy_Iy4PNGpzISh8DViYNxYXFNgOiuisPOqXXY-JFt5cJKrsua6oFzM-8paudmz2b4Su_ZXoiTZa5__B0cUeTXcykxLkseF36MIAdhg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "alg": "RSA1_5",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1149862986/e5ab167c2a614ed8aa7dae96dd9b8c3a",
        "value": "QLvjLUO3iY5yc6z_MvXj2rBGg4OK3_11uveu7GO9ayw"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t282557e4338dc910hsm.managedhsm.azure.net/",
    "RandomSeed": "1127326159"
  }
}
