{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/75199721/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/75199721/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "108"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1693004201,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1693004201
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/75199721/c4a6b28de32b08850d2022999f76a4dc",
          "kty": "RSA-HSM",
          "n": "qdOUsvL_uWkMwol1p_xb5T8U78yiUhyF-BUi9KamoashQtI_zhxfJlUmGndeS-J_DJ26h_HHcVQ48Q042NXy18da8cBO1aoVGUbMU9qmlnwNYVdNIfwlxZK6kOBoMlRHIf7-i-ls58urSS1j-4GzCaPpZfL0uC7SmuXhLDtzzhMj5k5JjQL1CNjlvSFgMiIzblL_RjihQs5ZcTs4hHpwM-Uk_OuXLHDRLuyR2qjD4dL3xcqQPFtEEJZfklTodIo-XYMs1_XtxbNb2jweIGrJqq0tYF15LStg3Jtlk7INJS6DNhmf8k9KIcr1r7omvaps24hQcbuqBJg8EQg23T3AHQ"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/75199721/c4a6b28de32b08850d2022999f76a4dc/decrypt?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "eMrAG3t_C05a3eo0so2BcLcQfu_psDfl4iBryb79pw3rRnDILIj2D6gNVJImNMZDEQI2hhdJmTg3ILrbJeN8yM2hlBtJTS9a1UMLVj9rf6_8O2-rFUVy9fkKXfOmF27GWFAOS03siaGRAkiRCOgW8wZyv4ugmpBR8V3b7pwa-aNnw93NFGQMVgvA-sUr8XGyXhRy42yXiKZZjiUMMkQKK0x3ckAdW5G9HSgkXEK6a5TWQPpFJhz_6ThJvSYvW30e-bjeKteyWeaDF06RgLqNbIVdQyDWsm4AIhcurMxEc9Ppz84YQxSrRdXK---83NB69STHJEzCzBNdQpNNltPusQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "20"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/75199721/c4a6b28de32b08850d2022999f76a4dc",
        "value": "uptHJXS-zHS_FgDfcoL9ImpVZcD_7uKxa-C-1SpJcPA"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "165012150"
  }
}
