{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/848354087/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/848354087/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "110"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1693004192,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1693004192
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/848354087/72b174541e454db2b11cf40ae97534cf",
          "kty": "RSA-HSM",
          "n": "i-BjTyCiB83QOxQZeW7CLsOdmsa6p0qXrlAHlaNe8Yg1jGtaR3_TFx3Nu_9EQsCWmkLBVGo7hu4mO6zS5jASuUcKjcDQb7aY0leUwaBIL8LQqCD6KA54BUAaoPabA0Nk-rgF2P1pU5Dawl5qpD2TG7GzuEyVD8MKy0SXHJOM0JIbHsASXnz8tIUmfV-F8WQM14P3sf1bK5iTgmTjSCkqezspM1-W0jq_xN5P4OpQFeRezmzjr8IAtFkOMgvILbiUHQYMoIJFFaxmNXvMORhUOwakc9T1jwfWZuYJV3mRlxHuw1qi_LNYX5NxcHH2JwgCHI6mnWHoTcJb_t37fNN3FQ"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/848354087/72b174541e454db2b11cf40ae97534cf/encrypt?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "Xe6X6VGXsK6UxsR_0OYrnyfX4SfYwesLR3aU1Fymtag"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "16"
      },
      "ResponseBody": {
        "alg": "RSA1_5",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/848354087/72b174541e454db2b11cf40ae97534cf",
        "value": "IVwFrncFlhQ2MRo5n4XVifVWLSZqYang2Vj_LbamHtwDzG0SChWm4QUHDgR6faaPAyQpYESd3HYWV1vx1PaV4XIG_xmba1vlJkkgB5PrpTK2M3VPw2Au9H_8ygzqTHoaK8IX9pmpzX6WqamutqH0oJ5FrIRAI22Ai4HLc2f0Rzxsc_1G-0qN91nc7IGF4u7a7rJdT6hVBzhEqRhxByQO1-aUH9S3oPJh9Tt-DpXKEls_FSBvLzTheVKNdQuYXlGdqRDvYAQ71Tpoj2ye5xpuDIIKTmYOL9CDYIxW9EEBffES2tOphNFtk2LwdDP1uUEztq-Ghvyi9syHbplWDPmm6g"
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/848354087/72b174541e454db2b11cf40ae97534cf/decrypt?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "IVwFrncFlhQ2MRo5n4XVifVWLSZqYang2Vj_LbamHtwDzG0SChWm4QUHDgR6faaPAyQpYESd3HYWV1vx1PaV4XIG_xmba1vlJkkgB5PrpTK2M3VPw2Au9H_8ygzqTHoaK8IX9pmpzX6WqamutqH0oJ5FrIRAI22Ai4HLc2f0Rzxsc_1G-0qN91nc7IGF4u7a7rJdT6hVBzhEqRhxByQO1-aUH9S3oPJh9Tt-DpXKEls_FSBvLzTheVKNdQuYXlGdqRDvYAQ71Tpoj2ye5xpuDIIKTmYOL9CDYIxW9EEBffES2tOphNFtk2LwdDP1uUEztq-Ghvyi9syHbplWDPmm6g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "RSA1_5",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/848354087/72b174541e454db2b11cf40ae97534cf",
        "value": "Xe6X6VGXsK6UxsR_0OYrnyfX4SfYwesLR3aU1Fymtag"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "1006930203"
  }
}
