{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1440224041/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1440224041/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "100"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750764626,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750764626
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1440224041/f9b32cc862aa403782589a7e14b7341e",
          "kty": "RSA-HSM",
          "n": "1iNrzkLL7f0nWBqRkh_kx13OQstj9KDLAuCa4v120SiDrQQec8S_M_2EYwN55bxhfSLrx7OmfzbfMsZhE-5tZQtRjodPLVg43cE3oPb6fkRBxFPXMVU4yrWR80eFw-l0f3J3Y5uHsdREyY7z5xPhRJIxCYuS1ah0sNMiGPGyGPw34e5vbvlgN-V6LMar7nMGkq0KZmfKluYZnI92BS11QzUpxsicNCjcBQ7vR5uxZRB1RRGuwF5TSH1VnCQbu88a06ywpU3jUJoJAi1py79TpEoWX6Xt5oso7yj2uE_jegGZmvozm8LlTcMxiT97TnZN5NNnkBLuOP5NlLmu9qTtVw"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1440224041/f9b32cc862aa403782589a7e14b7341e?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250601-1-938c6570-develop",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750764626,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750764626
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1440224041/f9b32cc862aa403782589a7e14b7341e",
          "kty": "RSA-HSM",
          "n": "1iNrzkLL7f0nWBqRkh_kx13OQstj9KDLAuCa4v120SiDrQQec8S_M_2EYwN55bxhfSLrx7OmfzbfMsZhE-5tZQtRjodPLVg43cE3oPb6fkRBxFPXMVU4yrWR80eFw-l0f3J3Y5uHsdREyY7z5xPhRJIxCYuS1ah0sNMiGPGyGPw34e5vbvlgN-V6LMar7nMGkq0KZmfKluYZnI92BS11QzUpxsicNCjcBQ7vR5uxZRB1RRGuwF5TSH1VnCQbu88a06ywpU3jUJoJAi1py79TpEoWX6Xt5oso7yj2uE_jegGZmvozm8LlTcMxiT97TnZN5NNnkBLuOP5NlLmu9qTtVw"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1440224041/f9b32cc862aa403782589a7e14b7341e/decrypt?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "ppmW76SQftIOqIfJjbCd2wzFaOG9DEuv5Ft2rqMfVCoaliWZhJAOcMFCklHwRRc9MyRNJ2aiuCmHVlkktji_QsmK2Mhx36W4zAFAKp6WFIbToYepMlBBM-tv6AxgMjzGoe9Wl7hxQaW5ooGJnS1wJoG7Lu_W9dgU4cDR4OzgNHFgtGz-G6XQFKyZKO2UIZHq6oWR9bEVAm7yg9NAUlryMzaIFxaDHupkQ6OOItcsAP20_SWlhYj5NWlyWMeXLLVnUwV6BQ_vOTccCfo-y_oLYqzS8MBYTVAYaicPn3d6xCTP1pSPJ0pIxifPxYQEN9iL-NUJAJAaQsD6JhNIhDDU9w"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1440224041/f9b32cc862aa403782589a7e14b7341e",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekvv76hsm.managedhsm.azure.net/",
    "RandomSeed": "1618153558"
  }
}
