{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/312139067/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/312139067/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "66"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759316785,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759316785
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/312139067/726bdab6f58b0c1f86a0a3a4605385a7",
          "kty": "RSA-HSM",
          "n": "wY9sFkFfEyWVeRMfrgd4LEJHaS3E44NNf5czMLvyvIznxkipAKoE3r6qGSp6QnahKft-4ku3Y4zAskIiXOC19HaQbYwCyoTbtpJvzLo9-CS44IYAdKb6QC_x_-doiD2gss84gjZoJhYjlp6ZXMbs2pp01eySRjefODF1ygknIGiOlttu0Lbp-MRyJdTNhQsc03t-6Apkf3bPHkC2K0MNXI_l-mtpiw1DV1NB8sIGFOtubHgaxa8c9GeUlU1GgZ9zQctip2H6qUJ27KkvdyQXg9UXTA-4cPJ1YgfvrrV5MvmuPtIYDI11wV0mO5jQnFgqTwn3mISApi8zclZvpktNaw"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/312139067/encrypt?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "4"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/312139067/726bdab6f58b0c1f86a0a3a4605385a7",
        "value": "SZ4i_2c5D9LNa2tv8WLbWQOrDzFAmhZbtMo_22hpBRij0UcveEZPZnKyKS5tUdSEFt0P_mAHrP90IaPefj401yXoYNX1H2INgv3Mg6_-xNxJ4XqeN6KQF2yTUnjjD-AnuIJQV592At_yxGMB6rvhK5SUC-MZCmMkSfrbvr_6tsAWW9Rx8rCG4ZR_27tGYKcaj3X1egixR_24JJu6IKWLSpd0ekm1Rv5ydNV3b55rsOIz5UEylpBKD68wyzSgRa6TQz8aQ3jaqpWihmEOu_k-u_jPneTzJs1YBab5qHQjAYH-kBAFk1D3M6hta3NDJP9qNlBfz0vKx7lGU2CN9RXQow"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t282557e4338dc910hsm.managedhsm.azure.net/",
    "RandomSeed": "666276570"
  }
}
