{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/715015650/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/715015650/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "78"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743438165,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743438165
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/715015650/ad4bfb2dee9546de3df6fad18c0a9cf9",
          "kty": "RSA-HSM",
          "n": "i1aALoabiTuxPV7lkaETdf4K7GNocIpaQXbjkkWXh5bYNVOARpN9r70WDs0Kv8aJ69rAPoEj_ehI-9kvkkYVoq_3AEcO9YFzo0lFS2vHAoKDC8AktS1iaFCat0ldEEzVX6IkzR9IT8jIQf1YtO0WhvzXbKCQb_mlWglyhPSKkar90b6uQLhc6JguFUTG3bMpYTQEWt3rAhc-Y-6hjamupsNYZExKYVxKTdeAN0ZFsbBKoYeIk3Spmj-GHg2KhBJBCealbCLi0bibOaZCSncJ-0Pv2HMuaQUGq-FJ3EKWVeJAZ-PFgE6Qqpc0slgrhhJg9JipmH9kX3dYkM1VIEYHnw"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/715015650/ad4bfb2dee9546de3df6fad18c0a9cf9/decrypt?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "YIUz2z2lk20DvuVuz8dHgj9p2OsLNMWv7bXF-n5mnz2y_oIJXynKp3C_4LsyEpO5ZNFd83pLUvmmyAKJMtHYgECydx0-Y4vwl5Sc15w8s0d-Dcohbp_j1PLgR6BNnoXKICi9ilCjkA6enRJTO74ZxLST-T9fGtvurQ-VN_Z6WJWIzo-kqA5mY8tYauqaqbumla6QxY9Ednutp1tA9WFmJvqoTpnsEc4yQVtyxGgQi4N8voNVwSpJ8oP9dyz1Yyt7CUV2Qz4ylvZzjV4Gya9DSCrPPGpCkTE3vCZNmCiTKRnQfjYVtSrPlcBf5gD_lkzcGQTin4ZclsM4mUVhbuWmVQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP",
        "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/715015650/ad4bfb2dee9546de3df6fad18c0a9cf9",
        "value": "sDziVDVQsdtXHKY3QtFcjX1Jy6FcpuvHqcLC6G1Snsk"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv331hsm.managedhsm.azure.net/",
    "RandomSeed": "180516227"
  }
}
