{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/168661728/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/168661728/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "90"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743497547,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743497547
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/168661728/b2acc1eace174d3015062f624b766ac3",
          "kty": "RSA-HSM",
          "n": "zEBmnPnP4BuHx_cBWTcLIR-QzEB2D8wOc8-85gZ2XgYDZQslb3dNh24DVBK_Bsupya2IKnt61MpBADbxvPNxJ4mdwsGloERWnoV0wwWj5RJeRdU-Lu5EclruKSpg5MV5Q1sfOi8HakXdhVAtvkAuDZP04ol8Cqefobz8DiVTOwGvamY0yLSP2iCG2whSIAKS_zhMHWqc05u7PYrC2a-5yLAT3hnzCCYUKl9HMl7Qn4pGvh3A8DbpKP6KGVN01OwVYpM6NjMeNOAhFLdRMX8EdIjsB8CDz9Oyf3t5JtF9d0FDVFKtAJE2jbE-xShSFEsen5cxBrYCzirNvgmCW6Bjtw"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/168661728/b2acc1eace174d3015062f624b766ac3?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250221-1-e4accbbe-develop",
        "x-ms-server-latency": "8"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743497547,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743497547
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/168661728/b2acc1eace174d3015062f624b766ac3",
          "kty": "RSA-HSM",
          "n": "zEBmnPnP4BuHx_cBWTcLIR-QzEB2D8wOc8-85gZ2XgYDZQslb3dNh24DVBK_Bsupya2IKnt61MpBADbxvPNxJ4mdwsGloERWnoV0wwWj5RJeRdU-Lu5EclruKSpg5MV5Q1sfOi8HakXdhVAtvkAuDZP04ol8Cqefobz8DiVTOwGvamY0yLSP2iCG2whSIAKS_zhMHWqc05u7PYrC2a-5yLAT3hnzCCYUKl9HMl7Qn4pGvh3A8DbpKP6KGVN01OwVYpM6NjMeNOAhFLdRMX8EdIjsB8CDz9Oyf3t5JtF9d0FDVFKtAJE2jbE-xShSFEsen5cxBrYCzirNvgmCW6Bjtw"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/168661728/b2acc1eace174d3015062f624b766ac3/decrypt?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "hrWAqfJU2PnRFs1gfdnzoKC3WrOK6rk1dG1PzO0WpyHj2oFMO_pEp-seFp29LNq9sp5AsFMJTVoeF0dJnFoAahRTb3Zmz8BGzgTBFvIWXTT5TlMGGJtNrIHPbl64eknxskFPazNAnHNbOLEu2WnzXkHp6WlnZQnwCQiLt_3J-35sxwTaBdhRj6Qp7cxaiSeEGcRqIRg0DJn-Q6nHbd8W4BE-_oEnt2J0Z17qpal-4ZEgZ0_1jWZbr2jw9NzOqv617ofq1pYiwj38TRZ2UZ8rQ_2kU4RgsedPFGIdenTYvG2NzdZT0Joi5eOK1ibWIsjSrzYbygE-Uq6ZOVvaKjcn8A"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP",
        "kid": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/168661728/b2acc1eace174d3015062f624b766ac3",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv041hsm.managedhsm.azure.net/",
    "RandomSeed": "2091509865"
  }
}
