{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/698362152/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/698362152/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "99"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750763551,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750763551
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/698362152/6ceacc04f87045072c58db19954e0d02",
          "kty": "RSA-HSM",
          "n": "iryfO7h-rD4uztU8BCgxD4a9VQkj6hM2nqra-J6pAKqcuZ2Bdi0OYRcMRcBElMbUwNpFNXPW_lqNcQ-yAhx_j7BJtuzTNj0HizGwEXPMrV_6hsbcg505pMti_-xPxVpYEn3cg2wZVW98ypYZ6nWsjR1fMP47VCLyQ9YQy_tI-r5sAd1aFWIgiqdVd8QVBKcA4NUYfgCgSznRsRQJ6AG3JDyqdrZ0VRlemWA69AIw-6ROwvJIo-x6WfKmLX--7nk4TJ8LL-_n1ZLsejs41flnymboCnHQWTV4qWyohyfzHRzTDjo08L6fiZOWEC5eaMdmH3_cb-j2ArQCexiLq6lmVw"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/698362152/6ceacc04f87045072c58db19954e0d02/encrypt?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "OYbq8ST-lYfsZOS0cZVidzaL37MbzZLv5tU_82fZ4w4"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "6"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/698362152/6ceacc04f87045072c58db19954e0d02",
        "value": "BQauHTZGXvwEmiWEC62_U8gAWIh9umYUbXN8yik2nEWHpNzWjerlkWo0vxgS3JrBmJX1dukEHTQ4aifBeoSlvtofWhAZcUCnCpr1iKVcvwoXL_0ITRCsxOH74yMQPaV5nRcUcKJIDpvibBxkvkKUoVQkAuhTCpjfSMV-M6sH66m7_vzns7_P7Jk1CqCAIluAmc-XQLhu67HHT1VHKgsyIxiI7FBzqlswu_DJe2N36GZojh3WODgYvbDv-QtPjl3Umnz0ytOcRy2-w2nnJ0o6bEShJfVmmIXI1YjN4E7SGOa5tAoqPZcsRUXdIMD1NdPQd7axbxk2zNwAyT1jtIDwbg"
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/698362152/6ceacc04f87045072c58db19954e0d02/decrypt?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "BQauHTZGXvwEmiWEC62_U8gAWIh9umYUbXN8yik2nEWHpNzWjerlkWo0vxgS3JrBmJX1dukEHTQ4aifBeoSlvtofWhAZcUCnCpr1iKVcvwoXL_0ITRCsxOH74yMQPaV5nRcUcKJIDpvibBxkvkKUoVQkAuhTCpjfSMV-M6sH66m7_vzns7_P7Jk1CqCAIluAmc-XQLhu67HHT1VHKgsyIxiI7FBzqlswu_DJe2N36GZojh3WODgYvbDv-QtPjl3Umnz0ytOcRy2-w2nnJ0o6bEShJfVmmIXI1YjN4E7SGOa5tAoqPZcsRUXdIMD1NdPQd7axbxk2zNwAyT1jtIDwbg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/698362152/6ceacc04f87045072c58db19954e0d02",
        "value": "OYbq8ST-lYfsZOS0cZVidzaL37MbzZLv5tU_82fZ4w4"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekvv76hsm.managedhsm.azure.net/",
    "RandomSeed": "794560444"
  }
}
