{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1184088839/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1184088839/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "68"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781250167,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781250167
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1184088839/763b8f4c3f5448f928ee2e1a981c76b0",
          "kty": "RSA-HSM",
          "n": "h_GEURMpkEjrGG139sPQJF5NYRnkFZBJj44UNAjtoOYnyjTfhH_2a7okaJJzQyFSHuuiHEVkN4NKifoj4qg-nbi_zUMhoDmKxRZlXfOn722iRKtDj49rzqRMcTRwd04JA7BJzpJU7kRvS6IRuCa49pE5kiW88M6IUm9RnkoSztA3OSZWm8xFYnbmh1p48jl0KUI-h23_mQ7cm7AyUozuIEuIqseY4TBnAHp5Fr1eD-tTB5vD2upA6RHzhoqCEHO6yQ6OTCPl4NFkhvtCPDv-TPj_D-sk4j2JSDS9_7pj3t14zCifWJm6MtRsABl3oyZKwgf0l9TCdhHUB9JpwLjUaQ"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1184088839/763b8f4c3f5448f928ee2e1a981c76b0/decrypt?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "E-un2rWwXtBs1uWb_w7mSCaTB4MRN9mkFnCUOo4x3COTmE0BoR2xQPteWE27KYpcBd2tVd7nl59bN93i3ognbfPf4T3C7GdmeTr-1bSVpHxOsKNdYCsqMoYdHfdjUiiy6KTODcGDmkiPA-Y2g6_gumLgWIMYDlBJGMCacatyXDDP3ktZ3k_9oNHUU8DKQ5DybccwCv97u9BjTUtxy_PynvTJmFWW7j7nnoGjrdugdk0LijEto7r8Kh800Dny9W7ZAKrq1rLZ7lNnxixRtWlTx6jmPoWW-uCQezQCgSxIgDlD0Dbx6guNjmO8t8dW5XNJXzeB1ZxqJW_eYebVeeUq-g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "10"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP",
        "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1184088839/763b8f4c3f5448f928ee2e1a981c76b0",
        "value": "GBl7eAR2noNxq81LkO5kql4FFSEsO8WzG7v4SvlwmT0"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://joncarde-kv-tests.managedhsm.azure.net/",
    "RandomSeed": "161687136"
  }
}
