{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/362135127/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/362135127/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "98"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759317098,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759317098
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/362135127/dc79c99376e746d20ca258502eb48a76",
          "kty": "RSA-HSM",
          "n": "iWlkZLcALjTqTKtUEkpkocdSBn910zttgi-K56I3YmNLrIVgk8Awxgy12qwcWjGXULO0INeotp13nqGwZWXufFRzYH2llQ-N0f8r-WUkPiTq8KnwjmQy9A2br9oVsAb2O9hYzDVbHepKif8zn8beN42PsfNHUJ49-l-OT8f_jCLTCq_dwxuBBY-xKZFODCmhvTLr0Cc06zwrbpUvd9YMseeqNZ5fb8-tX8SduOdNDB2zUHOgVuvqstsmuGBgQcaahZqD4ADRJW03UnI4KfRsf4K3Dvd15RAe9urWr3OUYUdWvbZBYM90GvucyoaACNbc_kzsWvVTMRvzAoYqgbGjLQ"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/362135127/dc79c99376e746d20ca258502eb48a76/decrypt?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "WNt-AHzMDi6n1yD84nJeM824Xj9SWolNisd2Mobux_YUC-xRsVkS3gklofeA8UHa5DKysMv2Uk9RcN3eRFAOvbFmeemXuD4eT7jsJL9ktWEMQUJ-sBHuubrqyHKIkjUkfBR4vLg8fBLD4mWjm4jHFrs2z0TNYgucDHmgdnAzVKsG9S2I0zDHkJXD49puwZA39cNNt1_0w9Wq-xqtsoDiAgl9t4UA_bttVzg-GhLtE-YA0LnOFqqeKEm-R8DxX-HDJzRs-7V_gojISX9M6lS3Yxtqk0M_YGe2zQYaUTntdg1DCFRBnoAAjApUJaqbeGYZBd6iFY24Rdop5GOOD5BL0g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/362135127/dc79c99376e746d20ca258502eb48a76",
        "value": "6OTFG5x77AudlBmWzRthoshWCImxdlSlCBXyvOEbt_I"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t282557e4338dc910hsm.managedhsm.azure.net/",
    "RandomSeed": "1720238170"
  }
}
