{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1446959857?api-version=7.6-preview.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1446959857?api-version=7.6-preview.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "oct",
          "key_ops": [
            "encrypt",
            "decrypt",
            "wrapKey",
            "unwrapKey"
          ],
          "k": "pBZVALPctDgu2eVdVrBgNQ"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "49"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743496336,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743496336
        },
        "key": {
          "key_ops": [
            "encrypt",
            "decrypt",
            "unwrapKey",
            "wrapKey"
          ],
          "kid": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1446959857/90b8d88ad59e41068dfddeab7564ba18",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1446959857/90b8d88ad59e41068dfddeab7564ba18/decrypt?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A128CBCPAD",
        "value": "AykiAND2aclfvDQN404b7ylNXvfLbhG6cXtd90mrzHCICbJvmFb0cnJf2Jyt_XSY",
        "iv": "wZeKuhARu3_aeyxmIwS2HA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "alg": "A128CBCPAD",
        "kid": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1446959857/90b8d88ad59e41068dfddeab7564ba18",
        "value": "n1k1IDbohIFN6G8eJsQt6yy_yhvcZvXRIz1Z2CYUr_g"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv041hsm.managedhsm.azure.net/",
    "RandomSeed": "1222576737"
  }
}
