{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/773774171?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/773774171?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "xf5b4Qhgr8YBeDnQrA5bpXA7j_5cpU00Q9U5v1mhoQl0OJSWxnjSAuTInW7jK6yz",
          "y": "IKi3vNTtGVLKaiajwuGYza01aTEr7Aregf9rpgbkkhKtG3NluvXt3j7hCSzUTacb",
          "d": "8df7bLikcNUFBewqdodKc3aKxCQytBcQ0GeJL1uQgzY7iDivcQuSwR7NTGWDOwWD"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "149"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750763730,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750763730
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/773774171/e49751feb341437c996e178e0faa2697",
          "kty": "EC-HSM",
          "x": "xf5b4Qhgr8YBeDnQrA5bpXA7j_5cpU00Q9U5v1mhoQl0OJSWxnjSAuTInW7jK6yz",
          "y": "IKi3vNTtGVLKaiajwuGYza01aTEr7Aregf9rpgbkkhKtG3NluvXt3j7hCSzUTacb"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/773774171/e49751feb341437c996e178e0faa2697/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "rXJlxZ4mDx-prmUkxFfg-NBrV6eJfURITHTwuKy03WOpJLqwpl6FzmiM5NxWoHae",
        "value": "FHmWMmNTzfXJp_iYcr51FpKvdt_MDoC32eNZwgsOIHaAaYosO4A8Gnk1C8__rp0TVz-FC0_2Lh11v0fzur_aoVawb9MO99iLIJ0HjPoNTrv0a_-YYUhnNQumPQpwEbEA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "26"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/773774171/e49751feb341437c996e178e0faa2697",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekvv76hsm.managedhsm.azure.net/",
    "RandomSeed": "100473314"
  }
}
