{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1287052372?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1287052372?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "AORuYEjDjbO8qGBduX9f9GheIl_vl5QDLUb3MHT5UqnMRdJV8Spt_CcIIrjNgSuzyaHWZk4bYaSH9x9rBqANUvYB",
          "y": "ACuUfg3c7nDgccmUT_66ZVi-dNX0aJfdMefyA92rE7eglO8kglM2V9bEf8eYn1vDAGHJpTratdmIIreq-SboPMEf",
          "d": "AdEa7ITBrU2ndwG7SdBdoauPQ2rmECWX305BHIgLzcpZCnup0whpmJRvqzf60wLEPx9UjPNfnkPRmQ96HiM6d-7S"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "184"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750762536,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750762536
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1287052372/13af0ba12a914ead26c021846ddd737a",
          "kty": "EC-HSM",
          "x": "AORuYEjDjbO8qGBduX9f9GheIl_vl5QDLUb3MHT5UqnMRdJV8Spt_CcIIrjNgSuzyaHWZk4bYaSH9x9rBqANUvYB",
          "y": "ACuUfg3c7nDgccmUT_66ZVi-dNX0aJfdMefyA92rE7eglO8kglM2V9bEf8eYn1vDAGHJpTratdmIIreq-SboPMEf"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1287052372/13af0ba12a914ead26c021846ddd737a/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "CKmtcCDa4IVJfh48OEcLxGpqqX6LdokkOW73pRkK16ivFhCAv2_s-a63ABXy6De4WPHFsWexQrFhtLloJ_jsuQ",
        "value": "AVibNmjCR0OpgYNV6CrNDbOry5YXw8OSNmhVEp9n0E25XGJ4TaTF699jlvRcB02iOpV7hr5WdtKPWPLnbMhS4XLcAQ9FGApuEM6H0wpFSQXRK2SKOCYV7s4nllTtpz0ononl0dO8cCXYLUIsBrXhGBa6pdI-OhW-_PkfjdK4ynjDr9ha"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "59"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1287052372/13af0ba12a914ead26c021846ddd737a",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekvv76hsm.managedhsm.azure.net/",
    "RandomSeed": "672645598"
  }
}
