{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1845104599?api-version=7.6-preview.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1845104599?api-version=7.6-preview.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "p8Ap5kgTowzzke0pgEfrDpQ5Xxz7BQFw_Bc_Ymftz1TAEkNPZRElstbPwZ-OwcVr",
          "y": "NeXr8R1MinUHLgLFLd07QDnri2WNKLKAiwJUDOZ4yPuZ2FB4BKjyoF022JWSmGQj",
          "d": "9hhEJeBVskDFFZ-zgcRM8gGInigigyupOJ59jNB-YP9F7bAOrtrY2Uxp2su5J00o"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "132"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743496535,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743496535
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1845104599/7629bb12b30f00c6022239a5a2f3882f",
          "kty": "EC-HSM",
          "x": "p8Ap5kgTowzzke0pgEfrDpQ5Xxz7BQFw_Bc_Ymftz1TAEkNPZRElstbPwZ-OwcVr",
          "y": "NeXr8R1MinUHLgLFLd07QDnri2WNKLKAiwJUDOZ4yPuZ2FB4BKjyoF022JWSmGQj"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1845104599/7629bb12b30f00c6022239a5a2f3882f/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "AyVtXaWFk-raN4dH5ZJbykf1BGk8nL7gsufF09LT7YEHWZNpPdWE5DV702vQsGWd",
        "value": "r91e1U0qkGytJk7ZJa6bKnVr46heBfSGBbZM3yPShcJRCIRJCSKnackxcRMz2dgheWc_P91Q2B_wLd6_6CTvp-5812H8Jj0bzvZ3-8Q69IbMRwWwSvEXvAaChYlnDUME"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "27"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1845104599/7629bb12b30f00c6022239a5a2f3882f",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv041hsm.managedhsm.azure.net/",
    "RandomSeed": "629403852"
  }
}
