{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/247870046?api-version=2026-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/247870046?api-version=2026-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "key": {
          "kty": "oct",
          "key_ops": [
            "sign",
            "verify"
          ],
          "k": "pBZVALPctDgu2eVdVrBgNQlZ2-cIIN8mT0JDMENMD29PQkMwQ0wPbwlZ2-cIIN8mLtnlXVawYDWkFlUAs9y0OA"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "51"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781249135,
          "enabled": true,
          "exportable": false,
          "key_size": 512,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781249135
        },
        "key": {
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/247870046/0ba423bdb54501f424522134aafebc21",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/247870046/0ba423bdb54501f424522134aafebc21/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "HS384",
        "value": "daTgxJMF6mkHcCbdpEzkWhQc5ZUqvQLy9o9ut3Eim6kTv2LBFLQ2iwg-ZoK3lUPK"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "8"
      },
      "ResponseBody": {
        "alg": "HS384",
        "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/247870046/0ba423bdb54501f424522134aafebc21",
        "value": "IdU6ewBQevh-H0VqCQkgd4M8xN1wM0FAai1-oH-IEEHjG1-1YIenOfD6zqUV2IZu"
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/247870046/0ba423bdb54501f424522134aafebc21/verify?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "HS384",
        "digest": "daTgxJMF6mkHcCbdpEzkWhQc5ZUqvQLy9o9ut3Eim6kTv2LBFLQ2iwg-ZoK3lUPK",
        "value": "IdU6ewBQevh-H0VqCQkgd4M8xN1wM0FAai1-oH-IEEHjG1-1YIenOfD6zqUV2IZu"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "HS384",
        "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/247870046/0ba423bdb54501f424522134aafebc21",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://joncarde-kv-tests.managedhsm.azure.net/",
    "RandomSeed": "102263579"
  }
}
