{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1797483780?api-version=2026-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1797483780?api-version=2026-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "key": {
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "ifzI1wlrACDsi-ZReTfZYefaoYTrZ3pShJ9Y3xzpgBdmXUad9-U-y1Dz9HPgW4dM",
          "y": "8chc77RXEu7-d8c2UUxFgRBZ4gqnedH9grvGmsi8AfdZ8cBKeVP4kFoixvlxZtf5",
          "d": "6A1Xm5g-hAgAiEpfR8OI2ivhUU0OJICJlFp3IOauoSKziKjRKgOWAIQh6xIMOyWR"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "127"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781250225,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781250225
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1797483780/199a2e5ddfcb057d1b17f4f194eec8be",
          "kty": "EC-HSM",
          "x": "ifzI1wlrACDsi-ZReTfZYefaoYTrZ3pShJ9Y3xzpgBdmXUad9-U-y1Dz9HPgW4dM",
          "y": "8chc77RXEu7-d8c2UUxFgRBZ4gqnedH9grvGmsi8AfdZ8cBKeVP4kFoixvlxZtf5"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1797483780/199a2e5ddfcb057d1b17f4f194eec8be/verify?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "ow1k8zEN-hGS7Kh3GLcPSnV-bOH33qcegUffNapA0YLHTvXXRA1F95Wzbfnn-iZ5",
        "value": "XpTggyMMQaX6pDW97-fOatbAVFLVZrmrHKasYzXVfTM2oo-JYtbUQ5e1WVMsdH5DSd2dSR94hLTePLg7eSwVNRseShj-2aKlBSYoCwpKaMbIJO6qx872pMBas8CHUlII"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "27"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1797483780/199a2e5ddfcb057d1b17f4f194eec8be",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://joncarde-kv-tests.managedhsm.azure.net/",
    "RandomSeed": "1799523332"
  }
}
