{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/183267737?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/183267737?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "AIwG6j4z_zUteURob_bZwC5ayNjLqRaE6pGyemoNFRbeYoJEImvN38daN-ZN1yh5FBqQpBpcHpIPRpOgkZ7vGaUQ",
          "y": "AetTNpUX8w02ghprZ47ikdEMkwO5MB1f-wpFssUljIfQoJwFw93DgjuzFCw9dVbNwGmbcgDtV575H0hd7h-5eOnw",
          "d": "AcfGZ7EFEuozEDxknUgvBgAizQS7mtDhzsk7devzsQ4h0hi02A3352R8WLDwp3eqf6SW9MWgXbnafmM5r7wGXcZA"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "212"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759317485,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759317485
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/183267737/b28b24e914e644e71390bf0ba860096d",
          "kty": "EC-HSM",
          "x": "AIwG6j4z_zUteURob_bZwC5ayNjLqRaE6pGyemoNFRbeYoJEImvN38daN-ZN1yh5FBqQpBpcHpIPRpOgkZ7vGaUQ",
          "y": "AetTNpUX8w02ghprZ47ikdEMkwO5MB1f-wpFssUljIfQoJwFw93DgjuzFCw9dVbNwGmbcgDtV575H0hd7h-5eOnw"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/183267737/b28b24e914e644e71390bf0ba860096d/verify?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "6sT1HWgN5JJ1j86wlQ-sAMwA4t7Tq9VVKXyb6JgKudybk5yaC0sJea7vUW6Xmzrl1kyWiULFoyMChRnoFFIt3g",
        "value": "AJq-wFfATIk_jfcCN_IwHhttEshvI6yVs0z1gkaMMZhSVkFx-RGymqs7EV7BXQSSHtiQt2tFkz9UMty0mwugJyLWAIVYJgD9q1pT5ZASoj94OJXAe3a9zC2kIszBXFtZgi-Eb1gBmYJyxAz6fTxf4K7G0Y5vQMAPDebwHu1TDvVKUYhO"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "61"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/183267737/b28b24e914e644e71390bf0ba860096d",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t282557e4338dc910hsm.managedhsm.azure.net/",
    "RandomSeed": "1862294749"
  }
}
