{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/419199332?api-version=2026-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/419199332?api-version=2026-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "iSXlgEnEa5ML4_3HDKRitJvmB5VClOIT3zLRdSAsN4t8OB4EMuo3MTYLPUUdslbv",
          "y": "bw5FK7prOZtP9gBfCEnxv7peo3ajuqxlvxIE3EEjxigWYkfeFSfCrSolbpyKXb7z",
          "d": "UDFDUK6aXfCjkWTGasci4CAb1G9oHKWC1BLxGkv3rAwYdpwuwTaKArsTV6IxjNun"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "127"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780405709,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780405709
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/419199332/cf4bed5cd97306f38a9174552e2cf711",
          "kty": "EC-HSM",
          "x": "iSXlgEnEa5ML4_3HDKRitJvmB5VClOIT3zLRdSAsN4t8OB4EMuo3MTYLPUUdslbv",
          "y": "bw5FK7prOZtP9gBfCEnxv7peo3ajuqxlvxIE3EEjxigWYkfeFSfCrSolbpyKXb7z"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/419199332/cf4bed5cd97306f38a9174552e2cf711/verify?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "6_2Wkul2wrCNLt94nwOgRGN6Vd2oiJK8c7Xym7uTk4hI8Dd70VRBe6QU7slj_ZYu",
        "value": "VJ7m8d1MDV0ruhTFm7ExHdY_nOYRawmadh-L83upXB9MRKOMYCoMgcja-gorePrXk-t99rYT1-AhuXVhhz4FBmGhirW8VJ8ltsAFlg0-bad8-8sFYKGCaF5Ohx0BTR_y"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "25"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/419199332/cf4bed5cd97306f38a9174552e2cf711",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://externalkeysdkhsm.managedhsm.azure.net/",
    "RandomSeed": "1452966665"
  }
}
