{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/975811278?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/975811278?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "oct",
          "key_ops": [
            "sign",
            "verify"
          ],
          "k": "pBZVALPctDgu2eVdVrBgNQlZ2-cIIN8mT0JDMENMD29PQkMwQ0wPbwlZ2-cIIN8mLtnlXVawYDWkFlUAs9y0OA"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "58"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750763852,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750763852
        },
        "key": {
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/975811278/3291141be4644dc9082554dd36f81928",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/975811278/3291141be4644dc9082554dd36f81928/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "HS512",
        "value": "wpLHxRmMT6LsByBqMywjxamN8x-5h3stnxNMCBmLfXUw2Rp7_NFVWVvo6h7WhgsZjXsjXY57AnIoFGwKLjZmRg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "6"
      },
      "ResponseBody": {
        "alg": "HS512",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/975811278/3291141be4644dc9082554dd36f81928",
        "value": "QBL7yFQGkLzuRzqgTVdxZ-wlkv2nxkQdEjd93M1koiXafStqn-hOLII08SEeKiYJKlDpRp_N-ndWDpvk85qRhA"
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/975811278/3291141be4644dc9082554dd36f81928/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "HS512",
        "digest": "wpLHxRmMT6LsByBqMywjxamN8x-5h3stnxNMCBmLfXUw2Rp7_NFVWVvo6h7WhgsZjXsjXY57AnIoFGwKLjZmRg",
        "value": "QBL7yFQGkLzuRzqgTVdxZ-wlkv2nxkQdEjd93M1koiXafStqn-hOLII08SEeKiYJKlDpRp_N-ndWDpvk85qRhA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "HS512",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/975811278/3291141be4644dc9082554dd36f81928",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekvv76hsm.managedhsm.azure.net/",
    "RandomSeed": "735972954"
  }
}
