{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1592761930?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1592761930?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "oct",
          "key_ops": [
            "sign",
            "verify"
          ],
          "k": "pBZVALPctDgu2eVdVrBgNQlZ2-cIIN8mT0JDMENMD29PQkMwQ0wPbwlZ2-cIIN8mLtnlXVawYDWkFlUAs9y0OA"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "45"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759317534,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759317534
        },
        "key": {
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1592761930/9c30a0ad031146c1063e994f7ea0dbc1",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1592761930/9c30a0ad031146c1063e994f7ea0dbc1/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "HS512",
        "value": "po-rgoOoGAa1W1yPkDL-0gjJDB15pyOwe8_qlfM8mHmz1RE0WlgDhDF3dFk2C0QHNQTGi0zyGUDOvy6ZIh09QQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "6"
      },
      "ResponseBody": {
        "alg": "HS512",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1592761930/9c30a0ad031146c1063e994f7ea0dbc1",
        "value": "9GhGLBxuwQ0JGkpcyYFbkCrc0Viu7R_a0C8nVGakPKJ9wpGpTdH5cAtZpeAjAGmCAERtfHSlioeBR6GeGzQEhg"
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1592761930/9c30a0ad031146c1063e994f7ea0dbc1/verify?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "HS512",
        "digest": "po-rgoOoGAa1W1yPkDL-0gjJDB15pyOwe8_qlfM8mHmz1RE0WlgDhDF3dFk2C0QHNQTGi0zyGUDOvy6ZIh09QQ",
        "value": "9GhGLBxuwQ0JGkpcyYFbkCrc0Viu7R_a0C8nVGakPKJ9wpGpTdH5cAtZpeAjAGmCAERtfHSlioeBR6GeGzQEhg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "HS512",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1592761930/9c30a0ad031146c1063e994f7ea0dbc1",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t282557e4338dc910hsm.managedhsm.azure.net/",
    "RandomSeed": "390995682"
  }
}
