{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/216697791?api-version=2026-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/216697791?api-version=2026-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "key": {
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "7sSoyHisIqlDCnFPW0Z2IZH-yI1sLiDzjxVm1ZoDZq0",
          "y": "T_Aw5vi1aczkaFa5kuaNh-U_nckQ1zyCc1wWOd4Zp7I",
          "d": "bTQG4OkjiPK-6pLNbSTT6XYcKocwQnS2iekZ_8GlTyY"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "100"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781249086,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781249086
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/216697791/3eb24195f93d0505bbacbfa9ca8eb1a6",
          "kty": "EC-HSM",
          "x": "7sSoyHisIqlDCnFPW0Z2IZH-yI1sLiDzjxVm1ZoDZq0",
          "y": "T_Aw5vi1aczkaFa5kuaNh-U_nckQ1zyCc1wWOd4Zp7I"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/216697791/3eb24195f93d0505bbacbfa9ca8eb1a6/verify?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "ES256",
        "digest": "cBWzvYD5pmO25fGwbdkRQW2_lWNWxvxSM0a_1JInnG4",
        "value": "D864k1Z2IWl1-kDmQbgbTHWWVCtD67W3Sk1-mz2Q-uFjhlardkJ3Cfn8KTYDYRXXr0taee2IGko3A8oW4UaIyQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "20"
      },
      "ResponseBody": {
        "alg": "ES256",
        "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/216697791/3eb24195f93d0505bbacbfa9ca8eb1a6",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://joncarde-kv-tests.managedhsm.azure.net/",
    "RandomSeed": "2062192551"
  }
}
