{
  "Entries": [
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/46143421?api-version=7.6-preview.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/46143421?api-version=7.6-preview.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "ABpuaDp9vxJ2g9BGWOIalofdAvS1jtO137EA7sJUJwZ9kdIf4PdHMU1s-n7o0Uke3uc0iYmPAdvI7w-BkENa6DTs",
          "y": "AZQQVVocdk1qTVYy5b1lhSRnFXocsO2UohlLC5O3VdLH59QOJMLP-LFaH0KvC00LMQdjTl15bz70i-QsaLnTgwMr",
          "d": "AdnOCF2Q0xrMZRoLjtirulRXe497ltVqwMkcqiF7rLIL77L77QfXW73-SBG2YpVwMonupatfES8i760_GeRH5FCs"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "192"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743714988,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743714988
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/46143421/e840ae91f2fd48ea25c841d16fa2e7c2",
          "kty": "EC-HSM",
          "x": "ABpuaDp9vxJ2g9BGWOIalofdAvS1jtO137EA7sJUJwZ9kdIf4PdHMU1s-n7o0Uke3uc0iYmPAdvI7w-BkENa6DTs",
          "y": "AZQQVVocdk1qTVYy5b1lhSRnFXocsO2UohlLC5O3VdLH59QOJMLP-LFaH0KvC00LMQdjTl15bz70i-QsaLnTgwMr"
        }
      }
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/46143421/e840ae91f2fd48ea25c841d16fa2e7c2/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "TEq73K6bS0enOQRjwbEHOzOjv_0Vy6ENaQoYf5A0TugREHDHJ7nNtCXywoPEH7fKPauJenuxTNXassBS3-bqBg",
        "value": "AM4QvzqeA3EU-17OB22iBwOCf0Bs5iBgYO0xSspGl7DK7TuRXG7PwKdnFdI5pO-l9W2qbrb9D74V5-xgbV36GewSAVUwSDxTeqHvIL2XBMgXIFBBU32Wy-X7xm8Aqg2OQn6gLIyXHyH34bcjIaCnAo8br2M8iIaNCl0j8uD3MlCjF3_w"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "62"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/46143421/e840ae91f2fd48ea25c841d16fa2e7c2",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/",
    "RandomSeed": "2135673703"
  }
}
