{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1783461664?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1783461664?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "_uloBuNnCpu7LtWIOZT2BUIHIEDGxhSwJixoki0e3JM",
          "y": "i5Dl1FNT-M-vEZ3hgREXymFhhaVlNKFr89hDGlfOXoM",
          "d": "LXCpnJGeBipNDUKW-HakA2TBXJpfxhobwIicNcXhqbU"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "95"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759315440,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759315440
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1783461664/75ca5ed5404e032f249a1273ac73c254",
          "kty": "EC-HSM",
          "x": "_uloBuNnCpu7LtWIOZT2BUIHIEDGxhSwJixoki0e3JM",
          "y": "i5Dl1FNT-M-vEZ3hgREXymFhhaVlNKFr89hDGlfOXoM"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1783461664/75ca5ed5404e032f249a1273ac73c254/verify?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "digest": "fdi6rqedqJkLwEp1dHgP1JcNvK2X-9OU2GN99t88T2o",
        "value": "OjO54E2iZn4m9yLPbCuFUZRrkgtcBch2V3JMz-ARyWHGJ81rbAhNy1mmQvoQEZgjBUqcCV4MJKUU3aoVXzS91Q"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "18"
      },
      "ResponseBody": {
        "alg": "ES256",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1783461664/75ca5ed5404e032f249a1273ac73c254",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t282557e4338dc910hsm.managedhsm.azure.net/",
    "RandomSeed": "1978170171"
  }
}
