{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/945402565?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/945402565?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "90VdPfQqAbBUE96jJx29yx_9qD7n-cmNsXj6mPwfvgs",
          "y": "ZUpobwf_0g_8rp5W-Jkw8k2vsWw4ntzm3OrXr2ISfn8",
          "d": "f-VkOOytgB5gDQbHMX9DXiJU9C6gexGhnqX_iFWXhv8"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "128"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759315306,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759315306
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/945402565/0ec2fb906d794c30a9cd4e80644a8362",
          "kty": "EC-HSM",
          "x": "90VdPfQqAbBUE96jJx29yx_9qD7n-cmNsXj6mPwfvgs",
          "y": "ZUpobwf_0g_8rp5W-Jkw8k2vsWw4ntzm3OrXr2ISfn8"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/945402565/0ec2fb906d794c30a9cd4e80644a8362/verify?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "digest": "IXkJDY1LgufeA3OGuxtAhb6WWQPHVxzVQjvf5jACC24",
        "value": "Hp18WO5_9oKYbWLm1Ou_2egjrj6yuQ-_b6t_yDqMYRlgCnuUrKRJT0-H_FvF5x2y_ipIlpkwfaqJxYIZrmpk_g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "19"
      },
      "ResponseBody": {
        "alg": "ES256",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/945402565/0ec2fb906d794c30a9cd4e80644a8362",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t282557e4338dc910hsm.managedhsm.azure.net/",
    "RandomSeed": "1812415865"
  }
}
