{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/65045653?api-version=2026-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/65045653?api-version=2026-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "oct",
          "key_ops": [
            "sign",
            "verify"
          ],
          "k": "pBZVALPctDgu2eVdVrBgNQlZ2-cIIN8mT0JDMENMD29PQkMwQ0wPbwlZ2-cIIN8mLtnlXVawYDWkFlUAs9y0OA"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "47"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780404873,
          "enabled": true,
          "exportable": false,
          "key_size": 512,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780404873
        },
        "key": {
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/65045653/772e320945e24b12be660594cbbc80a6",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/65045653/772e320945e24b12be660594cbbc80a6/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "HS512",
        "value": "KhjECYOfpcTSDbglOfyt3Yjv7l4K35SzDbXgCYEPM7G9ewX913RJ19Er0394LJwughJccHCJQoE1A5Tbkb5JWQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "6"
      },
      "ResponseBody": {
        "alg": "HS512",
        "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/65045653/772e320945e24b12be660594cbbc80a6",
        "value": "VnlDrZ6I5K4k3czRQ37IjQC_NUK8JGEIsnRntnjcUFrLSMhGF3gnA7f9SggmKgrHA-e4-HaC0COCS7iJ9p28IQ"
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/65045653/772e320945e24b12be660594cbbc80a6/verify?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "HS512",
        "digest": "KhjECYOfpcTSDbglOfyt3Yjv7l4K35SzDbXgCYEPM7G9ewX913RJ19Er0394LJwughJccHCJQoE1A5Tbkb5JWQ",
        "value": "VnlDrZ6I5K4k3czRQ37IjQC_NUK8JGEIsnRntnjcUFrLSMhGF3gnA7f9SggmKgrHA-e4-HaC0COCS7iJ9p28IQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "HS512",
        "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/65045653/772e320945e24b12be660594cbbc80a6",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://externalkeysdkhsm.managedhsm.azure.net/",
    "RandomSeed": "1005280221"
  }
}
