{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1050331601?api-version=7.5-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1050331601?api-version=7.5-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "twL7a6vp58hCAEk077eWmOcuKczW9v5pOjtkkU3vBNs",
          "y": "gueK2WUJrnzI0lIQg8PXwEwlFL0BPm7Me4KNVTgAxSM",
          "d": "m1sTYJYNNqn8ATBNSR5oihEVj4DofLA8lV7ca95UT7k"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "181"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1693004216,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1693004216
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1050331601/4a3a09ef92b144678b44be5acfb19791",
          "kty": "EC-HSM",
          "x": "twL7a6vp58hCAEk077eWmOcuKczW9v5pOjtkkU3vBNs",
          "y": "gueK2WUJrnzI0lIQg8PXwEwlFL0BPm7Me4KNVTgAxSM"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1050331601/4a3a09ef92b144678b44be5acfb19791/verify?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "digest": "9ZC63hX9E_OjiQc7JiiyIeWbnPri2vil6taGWxzQAUU",
        "value": "UCgNh3QVwv26CmE1LuT39uIikZZWS4Gh-F7KCUK4JLPwhGYSiS6kQV_rGEAlaKex0QSFvjQXlSLsY9kqmw6f9w"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "30"
      },
      "ResponseBody": {
        "alg": "ES256",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1050331601/4a3a09ef92b144678b44be5acfb19791",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "407408841"
  }
}
