{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/46678157?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/46678157?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "oct",
          "key_ops": [
            "sign",
            "verify"
          ],
          "k": "pBZVALPctDgu2eVdVrBgNQlZ2-cIIN8mT0JDMENMD29PQkMwQ0wPbwlZ2-cIIN8mLtnlXVawYDWkFlUAs9y0OA"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "42"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759315498,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759315498
        },
        "key": {
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/46678157/ba495cae594e49cfa446096ece9b741e",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/46678157/ba495cae594e49cfa446096ece9b741e/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "HS384",
        "value": "aF5BZmtUfC42_iYPqDyDdsQzvS7rblSlzV7v--fuBncPTTc4PhPnfeMTmtlRen92"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "5"
      },
      "ResponseBody": {
        "alg": "HS384",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/46678157/ba495cae594e49cfa446096ece9b741e",
        "value": "3iwMLa3v8JggvVcU-qrzqQeAAbNwGkNBaTO3SdGPn9ao29d0iQJvNDtRkSBfi40v"
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/46678157/ba495cae594e49cfa446096ece9b741e/verify?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "HS384",
        "digest": "aF5BZmtUfC42_iYPqDyDdsQzvS7rblSlzV7v--fuBncPTTc4PhPnfeMTmtlRen92",
        "value": "3iwMLa3v8JggvVcU-qrzqQeAAbNwGkNBaTO3SdGPn9ao29d0iQJvNDtRkSBfi40v"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "HS384",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/46678157/ba495cae594e49cfa446096ece9b741e",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t282557e4338dc910hsm.managedhsm.azure.net/",
    "RandomSeed": "1484558723"
  }
}
