{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/569235598?api-version=7.6-preview.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/569235598?api-version=7.6-preview.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "ATz-ijGjTtifIp93lrGsI5YyXJ30-qau7-rQJyItlxKrho0LpbzTTz933zU92D8Zdl_3vSNvXXOOebCUR_nnkVV8",
          "y": "ASzYAvpHUmdv67uQRpGw0Ota1jR5P8VlkzjRv-VrKLpjMCXhHwFBq8kWEGrd6hcEsiAWzrEr9R8ex8R84j4THBrf",
          "d": "ACGqh2bCCF7y7SJPS90evbn-szWj9XvcXnWQ6QJhr3S19a5NS-O97kiXK881D6z2cXDUUzySetOkwZt2xlP5MsHY"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "191"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743438414,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743438414
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/569235598/4cfe4baeff1449cd8c304a3c09913682",
          "kty": "EC-HSM",
          "x": "ATz-ijGjTtifIp93lrGsI5YyXJ30-qau7-rQJyItlxKrho0LpbzTTz933zU92D8Zdl_3vSNvXXOOebCUR_nnkVV8",
          "y": "ASzYAvpHUmdv67uQRpGw0Ota1jR5P8VlkzjRv-VrKLpjMCXhHwFBq8kWEGrd6hcEsiAWzrEr9R8ex8R84j4THBrf"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/569235598/4cfe4baeff1449cd8c304a3c09913682/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "MYUOhdOp0CysaT7t4iD2GSBxg2f3_LbPX2cxxcWnKZvQ6bRfH8rL9CX8LIme1OJBpx5996DTtm88dLbvwVKjcA",
        "value": "ACQdiwek5LK7uT84h7tVKIaCC0_rNYLuEtOW7KXWrvTd0nwdPij0OfepUCq0kkP8kbpaXyVZ-V_KjMTlGoZsIyIlAZpxqq2Exo6Jsspo96AwaNrBhLkMGQkW7-CnZraRNnwIUplxX6tTCZc0xuiceZUP2jqEyiz0Xe79iGOaQUcwrP2X"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "62"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/569235598/4cfe4baeff1449cd8c304a3c09913682",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv331hsm.managedhsm.azure.net/",
    "RandomSeed": "804902370"
  }
}
