{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/994303214?api-version=2026-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/994303214?api-version=2026-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "oct",
          "key_ops": [
            "sign",
            "verify"
          ],
          "k": "pBZVALPctDgu2eVdVrBgNQlZ2-cIIN8mT0JDMENMD28"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "45"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780405773,
          "enabled": true,
          "exportable": false,
          "key_size": 256,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780405773
        },
        "key": {
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/994303214/260f162952d44a22318f50e60b7e90f9",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/994303214/260f162952d44a22318f50e60b7e90f9/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "HS256",
        "value": "4_E-KVFMg5KS8Zoj9u-APeGuBUaeUPOMAj7cTwfX1Yg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "6"
      },
      "ResponseBody": {
        "alg": "HS256",
        "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/994303214/260f162952d44a22318f50e60b7e90f9",
        "value": "IFBQXJMawdJhA8XdqcyY_GFSlvoH3ynNvUZuArqQwQ4"
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/994303214/260f162952d44a22318f50e60b7e90f9/verify?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "HS256",
        "digest": "4_E-KVFMg5KS8Zoj9u-APeGuBUaeUPOMAj7cTwfX1Yg",
        "value": "IFBQXJMawdJhA8XdqcyY_GFSlvoH3ynNvUZuArqQwQ4"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "HS256",
        "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/994303214/260f162952d44a22318f50e60b7e90f9",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://externalkeysdkhsm.managedhsm.azure.net/",
    "RandomSeed": "79276581"
  }
}
