{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1704105408?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1704105408?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "ANm1xWAJrXF6Qs_VjRvq9IJvRjsSYY1GZPyn_7Wld9_Ysu6b-FRZtCMLG23iAlSq8VAfNQAlraMfTEW0qSnFsCf2",
          "y": "AOjeokVY2kRyYrMdRSu8Kk6_c640xMRQjjv8lym6DDGUN0blAJUw0-YSrLY4xRGrvtzx2JXfaswbUD46yJ-SQ2o1",
          "d": "ACQ0efSCZlniuCmzLv7ECtaeFINE_mWLnb-6rQ-Yu8ry-ydaLXXe2AlFGfKGOWKF6GvNtey1ngVv-tliAbrfSYz0"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "207"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750763826,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750763826
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1704105408/dde2ad73077e0d673af48b3261f155f7",
          "kty": "EC-HSM",
          "x": "ANm1xWAJrXF6Qs_VjRvq9IJvRjsSYY1GZPyn_7Wld9_Ysu6b-FRZtCMLG23iAlSq8VAfNQAlraMfTEW0qSnFsCf2",
          "y": "AOjeokVY2kRyYrMdRSu8Kk6_c640xMRQjjv8lym6DDGUN0blAJUw0-YSrLY4xRGrvtzx2JXfaswbUD46yJ-SQ2o1"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1704105408/dde2ad73077e0d673af48b3261f155f7/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "c2tpWiH68yjYL77tgcLrYOAMNMyobW0j-N0Y2cC_YnkvZUnbb7IOWfHuAfR0umxKED-fEMLMZqfChPpVqsRfJw",
        "value": "AKfMtLVsZM1zk4yyU7ty0s6Ob__wHhUu-8Rj6B2ukfZKCd1fIlagacLHEK7LgwBhZEekG_HaKoccfgDrbWcF7_TyAPyz2ThA1apwsp0Yrtugzd3oADeI7iLc9RomSE8pJG8BD124savr06mEchJAcFODVZIiiORi3s-qi45vmbEY15O0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "59"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1704105408/dde2ad73077e0d673af48b3261f155f7",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekvv76hsm.managedhsm.azure.net/",
    "RandomSeed": "627602046"
  }
}
