{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/572370400/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/572370400/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "153"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759316142,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759316142
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/572370400/6dd3d9cc83e84943a93acdada140b13f",
          "kty": "EC-HSM",
          "x": "sEN-IReb6crBsrjeI3RuLleZaCHcoERA3AL_TyJRmriuRT5gpdGYPVXF_qGNYy5b",
          "y": "JzWHj2O4asvpOxdJlX5YIEejwkzjJoLaXazISxMv1vS28wIVNH1PAkWy2VMYkQoa"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/572370400/6dd3d9cc83e84943a93acdada140b13f/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "7YRJqXGjiFuRJMO0GpQlhBlwVyvdvb-yPwFTJAkOcaRh7cDL5FeU_8jrwf2TYtfq"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "16"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/572370400/6dd3d9cc83e84943a93acdada140b13f",
        "value": "B0wr6pcXoXGKJfO3wNR4QAhUGHkjJJx6jmJooDlJPuRsVKtpmJu5K6bdPAhTqI-G8dfpOCt0hk7[...]
