{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1568001642/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1568001642/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "165"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750764255,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750764255
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1568001642/de882d2dca7e0f53bf5f539c65e05a7b",
          "kty": "EC-HSM",
          "x": "BnNFsB3ZAya4kvITPWoJPExDRQSgpZtLeFOocZHcUajCeBEJLikp08S2hRdQGbc2",
          "y": "OwdjwZvQnxZZSiLp2w-bZR8UelLJRo3DHRTJYhlqWVaZ6O3H-XkDmr8Z9A5Kk5c3"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1568001642/de882d2dca7e0f53bf5f539c65e05a7b/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "YWSBSOc5yncgJyNK4aBsN-y_L7CUPpt-Y2suzcon9Sf24qF9MbN19rcURPrBdZ1E"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "17"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1568001642/de882d2dca7e0f53bf5f539c65e05a7b",
        "value": "qRi9rBcCr-354uDbeJUDKmYsXIixgQ_phj7fl5UWzmKGsQBgCQeEfcfpK2USIEAEiTyO6NpQTeadB2l0QEJi-JfTsAZYw__PxExfLvicsW5MtlJX4ydWXktN3zxQ0SCV"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1568001642/de882d2dca7e0f53bf5f539c65e05a7b/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "YWSBSOc5yncgJyNK4aBsN-y_L7CUPpt-Y2suzcon9Sf24qF9MbN19rcURPrBdZ1E",
        "value": "VA1teiiD2Gx-lO6vLOYDCOxfIlY_9v5WLaiDjIGEYXtbR4_tLEvopA0H77gQFeQtQ0J6a0_XA_CFThJaFlOj4t08PbxvANNQo3ceg2oBcdCym0HFqOCDcuAu5QMMEUQ0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "20"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1568001642/de882d2dca7e0f53bf5f539c65e05a7b",
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1568001642/de882d2dca7e0f53bf5f539c65e05a7b/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "YWSBSOc5yncgJyNK4aBsN-y_L7CUPpt-Y2suzcon9Sf24qF9MbN19rcURPrBdZ1E",
        "value": "qRi9rBcCr-354uDbeJUDKmYsXIixgQ_phj7fl5UWzmKGsQBgCQeEfcfpK2USIEAEiTyO6NpQTeadB2l0QEJi-JfTsAZYw__PxExfLvicsW5MtlJX4ydWXktN3zxQ0SCV"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "19"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1568001642/de882d2dca7e0f53bf5f539c65e05a7b",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekvv76hsm.managedhsm.azure.net/",
    "RandomSeed": "314851085"
  }
}
