{
  "Entries": [
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1554703286/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1554703286/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "74"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743710547,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743710547
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1554703286/6e396122c14402de00c27ae6a71fa627",
          "kty": "RSA-HSM",
          "n": "q7ANMUU57LqjEb_DyYmKoMERtXXXbV29I2ALMTtWg_pqRAYPNmaCr4SFbAEM1WnqarXiPDCx62PrbLRZFNmWpTqQbXe9mishi21CdjN9OSMqg-ECeuiMOL4Kt6lYhFAk0MQbrbafjl--2OpCDIQv2geDGEafRMA_dL-F83mHDax5vYCXwZWIm1OuhhKGLUPMJFUa78tR5eoCvi6ziXIL_aYsO1fQOqB_LeJ3zTV5_GsvfUlz-7G19tcRouq3z6-BWPkf0i6SO876Yh3pZ7HoovG0itNt_DHaPAeZuN9yYzbP_RImuCJRAc7mRWSgq6DfrYhrWi319OXRBK__OYdLHQ"
        }
      }
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1554703286/6e396122c14402de00c27ae6a71fa627?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250221-1-e4accbbe-develop",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743710547,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743710547
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1554703286/6e396122c14402de00c27ae6a71fa627",
          "kty": "RSA-HSM",
          "n": "q7ANMUU57LqjEb_DyYmKoMERtXXXbV29I2ALMTtWg_pqRAYPNmaCr4SFbAEM1WnqarXiPDCx62PrbLRZFNmWpTqQbXe9mishi21CdjN9OSMqg-ECeuiMOL4Kt6lYhFAk0MQbrbafjl--2OpCDIQv2geDGEafRMA_dL-F83mHDax5vYCXwZWIm1OuhhKGLUPMJFUa78tR5eoCvi6ziXIL_aYsO1fQOqB_LeJ3zTV5_GsvfUlz-7G19tcRouq3z6-BWPkf0i6SO876Yh3pZ7HoovG0itNt_DHaPAeZuN9yYzbP_RImuCJRAc7mRWSgq6DfrYhrWi319OXRBK__OYdLHQ"
        }
      }
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1554703286/6e396122c14402de00c27ae6a71fa627/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "value": "BI4Fgj42goo9MblD8jeyZhBZNGwFnAnOOzGGkYbyHcux8nALcNH3Jf5lSAbXaUYDf2dfq6X-07Gk0WLf3SYtzQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": {
        "alg": "PS512",
        "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1554703286/6e396122c14402de00c27ae6a71fa627",
        "value": "TYnvdJhbEIUOASU-C8iGOdjsBwEFrMgBrUU7pSDjnJ5KE-hqmmN3PQlG97zqX73H18yDvGjpfPK5B7xzAwaBQn1SUOaXqj9n_GQAWXS00rkSprbDCathGMvCY6stG0mS-314Nbs_FJF0tD_NO8Ysy3KCHAUc8zvIj3w03p6pJGa2H5QKX3DCLUqXCE5oPdnAHHTCIxIw42OyEbQvLQcwS1XZ91Gi_8UbrdAnsoOV3AarI9-UgMgFjiENaAqmuUzknulOgZBenRhbKPqljSfCazQAYF2lLW_2xV9yjOwSCsw6NDg28q_J8D40HqRs3AwO2Oa2v6Woye-bnwsle7k86Q"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/",
    "RandomSeed": "315496739"
  }
}
