{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1736590120/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1736590120/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "142"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781250467,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781250467
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1736590120/136617fb344b4ca6198b2558fe29ed7b",
          "kty": "EC-HSM",
          "x": "iwsIotj_aWKptYWS7zw9ipX136ndIhJ3q4D2UoPKepnm_G_6j2B4OxD0T5Mq6pZT",
          "y": "lONXKXklpYHYLi4zB8ug3Keg6XICHSFR8XcrYnb3eo4scYc8oyN97lMvOnjL86Z_"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1736590120/136617fb344b4ca6198b2558fe29ed7b/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "J8J5GY3VBK44L1n82eEvuBQFhlOWbgsqfE2ENZ9FsKKHSVFw6OATqYEdOm_wPI7_"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "17"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1736590120/136617fb344b4ca6198b2558fe29ed7b",
        "value": "OIP-2Yb02hT8BXe35Lz7ejOpWGKV2g-35S8PBeLSiGBthjNcALIRcCZXn1s92C0j4NKPSuy_Xchf2[...]
