{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1172398380/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1172398380/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "88"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750764202,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750764202
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1172398380/9d34142a99b64f5e86f26166aff7424e",
          "kty": "RSA-HSM",
          "n": "ieWtYGTOqP7pYjxTCMMzcfUz02tf5nXuLJnBkYSmKEPeOLvS_ti0e2lNtMu7Z46JP9tYyJFzjPcl3DQ_N04n_oCXQkfR2xcHY_ULUc367hgvqbnJHnFzLdpH2Hd9Zd1apAGjSaADvwhFGV0d191-oOjqZMGuvlgGfOSCHAgEtBTUry0mT8O3JBUBc1fjqO_dXd8wcJFv3d0jsQqZOwJrZLFfwqMhvSt1-N_PqC857onBxvIcG8p1aQOc5zlDxM4QAXuw6_UhgQ5sBA78FMIHZXxVDOk3oUy1vjDjq84PShzJvzvYq2ZdmU5b-R_1vfquJMflkSDYcQn6niGCb4bqpQ"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1172398380/9d34142a99b64f5e86f26166aff7424e/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "5u4d5sx64yUgnpFsAXkXxM9C8cXnI_G4_FIPDPv06ma2xDoJc7foLcckd3wWffhWOd0uV7FzaPc3kwsQDvr05A"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "alg": "RS512",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1172398380/9d34142a99b64f5e86f26166aff7424e",
        "value": "WOiiP1NZdH-5HNgv3jDDWaTkObb9qxQ6CBEnskIaA_xKqxp-_i1SaQemWrtZYV7hmJWYyajw1CF8J1FlHFa3Y7oJeNiS1ceVrs-lxy913msXoklEaq2BUNRCxkNsZzFv1xIfNg2-TmYAj03eygCcsy1qjiOGfRNnUWIkyU2-brN-hUEEQt31_dRgX0JZNhqn6LvSnKQHQnGTlM4CET1Zd_OeFnJya9b3l2Nsh4J9JUlMHXMOgJtm9gcwALGTeGSsTs8IuREwg8Ri81rftGdXLa9cS-0B1sRCEmRVRuQqZMAq5En3ZKVgBsCo7_3YouqL1o2abaiWw_Aw-FPqq0xtfw"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1172398380/9d34142a99b64f5e86f26166aff7424e/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "digest": "5u4d5sx64yUgnpFsAXkXxM9C8cXnI_G4_FIPDPv06ma2xDoJc7foLcckd3wWffhWOd0uV7FzaPc3kwsQDvr05A",
        "value": "WOiiP1NZdH-5HNgv3jDDWaTkObb9qxQ6CBEnskIaA_xKqxp-_i1SaQemWrtZYV7hmJWYyajw1CF8J1FlHFa3Y7oJeNiS1ceVrs-lxy913msXoklEaq2BUNRCxkNsZzFv1xIfNg2-TmYAj03eygCcsy1qjiOGfRNnUWIkyU2-brN-hUEEQt31_dRgX0JZNhqn6LvSnKQHQnGTlM4CET1Zd_OeFnJya9b3l2Nsh4J9JUlMHXMOgJtm9gcwALGTeGSsTs8IuREwg8Ri81rftGdXLa9cS-0B1sRCEmRVRuQqZMAq5En3ZKVgBsCo7_3YouqL1o2abaiWw_Aw-FPqq0xtfw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "RS512",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1172398380/9d34142a99b64f5e86f26166aff7424e",
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1172398380/9d34142a99b64f5e86f26166aff7424e/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "digest": "5u4d5sx64yUgnpFsAXkXxM9C8cXnI_G4_FIPDPv06ma2xDoJc7foLcckd3wWffhWOd0uV7FzaPc3kwsQDvr05A",
        "value": "WOiiP1NZdH-5HNgv3jDDWaTkObb9qxQ6CBEnskIaA_xKqxp-_i1SaQemWrtZYV7hmJWYyajw1CF8J1FlHFa3Y7oJeNiS1ceVrs-lxy913msXoklEaq2BUNRCxkNsZzFv1xIfNg2-TmYAj03eygCcsy1qjiOGfRNnUWIkyU2-brN-hUEEQt31_dRgX0JZNhqn6LvSnKQHQnGTlM4CET1Zd_OeFnJya9b3l2Nsh4J9JUlMHXMOgJtm9gcwALGTeGSsTs8IuREwg8Ri81rftGdXLa9cS-0B1sRCEmRVRuQqZMAq5En3ZKVgBsCo7_3YouqL1o2abaiWw_Aw-FPqq0xtfw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "RS512",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1172398380/9d34142a99b64f5e86f26166aff7424e",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekvv76hsm.managedhsm.azure.net/",
    "RandomSeed": "1231621599"
  }
}
