{
  "Entries": [
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/386293602/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/386293602/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "105"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743714554,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743714554
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/386293602/35f24c57669a0d4bb13e77bf55158c35",
          "kty": "RSA-HSM",
          "n": "h0pN6jyLiLzF3lEoujKVEFIVdyGmchtbjMbjyxzVDBu9Dg9QC-sZMVhgJEWGvAZTycaR1i91eCsqBTo2vqTimUoXW6T5PLmDLik5LksBm2VxHE1i2No2YxgDHEMsn8jjK14YVtrC18ImrOZLYTZaXbt5afuW6SqoSJ1KMDnukr1G2qly8Cdf4HisxohXkGfiond2XmBI6ipRZ1zUBLYAW7dSKd6j-1WL29gGj-iQm7JUK5kFAZeiftd9c48_IZpPxdkh9XssBRtYz3OufojuAPNDhSwGUK2UemiFyMgXnZy6ix-hF5nYvCujCpzvzGj95peKuwF6dm9exF2pQ8lJ4w"
        }
      }
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/386293602/35f24c57669a0d4bb13e77bf55158c35/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "-_OTqdDjQ_EZN7Kp0r4AGCMPBRAKWkuCqrnSBSkZsLbzq-4PjUVNZf20IYYLCJhx"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "24"
      },
      "ResponseBody": {
        "alg": "RS384",
        "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/386293602/35f24c57669a0d4bb13e77bf55158c35",
        "value": "hqwWRaWXP1tk2eijir-ErvAA-jWiy7hPxyEguVrp0ZyA1_jzErXdSoPe9mngWltDM0UQWBzKSco1DHaB9JiY0N2lr63Oq_gjfoYqzx5THEPvxjF4vNCVzNTW6uucqK88iwVKNlBH6M0YyYiG5AWp35wOf98LwZgoaqESgxJG4Nra5JemgraGpxSXJCK08E3dlRzg8ETkaxELr5qtllHVSUqUmA3s_qE14eO8J8H7XL_i-ppjtdDxfuXme9De8ONVAFxa3IhmLPyqzE93whGneS4eMe5olmZmX8pZTNSskIO5fgDplIfFsbsjqOKLaygOTt1p450I-JagBlyyQFEHBg"
      }
    },
[...]
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/386293602/35f24c57669a0d4bb13e77bf55158c35/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "-_OTqdDjQ_EZN7Kp0r4AGCMPBRAKWkuCqrnSBSkZsLbzq-4PjUVNZf20IYYLCJhx",
        "value": "hqwWRaWXP1tk2eijir-ErvAA-jWiy7hPxyEguVrp0ZyA1_jzErXdSoPe9mngWltDM0UQWBzKSco1DHaB9JiY0N2lr63Oq_gjfoYqzx5THEPvxjF4vNCVzNTW6uucqK88iwVKNlBH6M0YyYiG5AWp35wOf98LwZgoaqESgxJG4Nra5JemgraGpxSXJCK08E3dlRzg8ETkaxELr5qtllHVSUqUmA3s_qE14eO8J8H7XL_i-ppjtdDxfuXme9De8ONVAFxa3IhmLPyqzE93whGneS4eMe5olmZmX8pZTNSskIO5fgDplIfFsbsjqOKLaygOTt1p450I-JagBlyyQFEHBg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "RS384",
        "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/386293602/35f24c57669a0d4bb13e77bf55158c35",
        "value": true
      }
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/386293602/35f24c57669a0d4bb13e77bf55158c35/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "-_OTqdDjQ_EZN7Kp0r4AGCMPBRAKWkuCqrnSBSkZsLbzq-4PjUVNZf20IYYLCJhx",
        "value": "hqwWRaWXP1tk2eijir-ErvAA-jWiy7hPxyEguVrp0ZyA1_jzErXdSoPe9mngWltDM0UQWBzKSco1DHaB9JiY0N2lr63Oq_gjfoYqzx5THEPvxjF4vNCVzNTW6uucqK88iwVKNlBH6M0YyYiG5AWp35wOf98LwZgoaqESgxJG4Nra5JemgraGpxSXJCK08E3dlRzg8ETkaxELr5qtllHVSUqUmA3s_qE14eO8J8H7XL_i-ppjtdDxfuXme9De8ONVAFxa3IhmLPyqzE93whGneS4eMe5olmZmX8pZTNSskIO5fgDplIfFsbsjqOKLaygOTt1p450I-JagBlyyQFEHBg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "RS384",
        "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/386293602/35f24c57669a0d4bb13e77bf55158c35",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/",
    "RandomSeed": "138498548"
  }
}
