{
  "Entries": [
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/672795316/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/672795316/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "70"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743717432,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743717432
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/672795316/84acddf75be501debafcdff2d938a623",
          "kty": "RSA-HSM",
          "n": "nCHuahatZJwtBxcdx8m1Rj3TIoEoFe9aStFqdfNW52Yra5fL-UGvtZpGylHN4nIVi5wllX0SBOBSWCWageCVHxkx9zrV13selQcyT4vUQXa6h3h-vbh4ftkpfgRYRU2TZrxYsgsV9UWFyyiwwIyN7a25f_KNVEKIHpIpLQ8HDx40BJQ7-RMIHAj_Tpjvu9LU9iir1Dsllg1DSmxKXazMB25mVQkbT8pLIz_m8SRYot7hkA5kARnZ3uO7FLei1B8YnO_CC00UdZ4LGfwqGFpm7YT8E6yB0QcDVpQ2n1SsM0KfmEpuVw8Zb3w30ZxFetYScj-MRBhTZos23S5Bo-QAiw"
        }
      }
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/672795316/84acddf75be501debafcdff2d938a623/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "value": "A8ppZrm-b85fBSFmc7Kun3yO3ONUae25kbXnxwuiMBR80r1eTk5pW3P8bGTEouJFL20-3pln8za-5b8cQu1DDw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "alg": "PS512",
        "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/672795316/84acddf75be501debafcdff2d938a623",
        "value": "W7taCQEyhLTickBWdYYxkOxOpy-RmqKMNBNIjI6JhJBen1P25-gkDOxalMnGlhEiiMlzVmF5BOkyDwWn75T6xeEKABhZgGe_4uSNsXw9kwPuxNF5wmxauwF8HY0cU6HgLVRQUzBh7BTDlJEW9JpSKMZh54QuWymM7Se1KbxMgmhG5mue6nnd3UJfOUxR8n8kbSYnYranFQfszikn1I_C3UUT4g4jNxFNcYd68hUUVXujEwks6ZaEeLEmGb3VK6qTGAuuTwucjeEgfEif8f75rJQb9TtjzDdC3RJ1a_JHzKvzCOm4E1q4Q3FPkfIGC2GFPRZzHSIJ1fRd9z0JKK-09Q"
      }
    },
[...]
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/672795316/84acddf75be501debafcdff2d938a623/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "digest": "A8ppZrm-b85fBSFmc7Kun3yO3ONUae25kbXnxwuiMBR80r1eTk5pW3P8bGTEouJFL20-3pln8za-5b8cQu1DDw",
        "value": "ApZHCDR63QfIjPjmFnvtl5ZLCtH3_7E7bmGjMIKxhs9SJZV7WHPAHAPS_KOYW1411CveYa2TH81zk_44K6IaKwIn3PVl-5ctIbP1A_UMWptyW4Z46olSoTFUa1DK9zUHoCBjVKHFjqEEFFfG_PgsU0yLwXmwGtOzcNmmQu4i0H7mHcdJ2GLb0lh8Kge_J8l4JMXC0M0RtY5hbHwtarKb1EcvXuCzMtdO8MqhMjsLefWxk9uXgNFhnQgSt9jMeV-0yR8wOnpLLqbtjH2d_x-gAEtwzkd5JUTDE2dOWuyuj_QIO6PcbpTyirbhDrvpHgPll-xFF-emQc6Iwge4boC3Cg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "PS512",
        "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/672795316/84acddf75be501debafcdff2d938a623",
        "value": true
      }
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/672795316/84acddf75be501debafcdff2d938a623/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "digest": "A8ppZrm-b85fBSFmc7Kun3yO3ONUae25kbXnxwuiMBR80r1eTk5pW3P8bGTEouJFL20-3pln8za-5b8cQu1DDw",
        "value": "W7taCQEyhLTickBWdYYxkOxOpy-RmqKMNBNIjI6JhJBen1P25-gkDOxalMnGlhEiiMlzVmF5BOkyDwWn75T6xeEKABhZgGe_4uSNsXw9kwPuxNF5wmxauwF8HY0cU6HgLVRQUzBh7BTDlJEW9JpSKMZh54QuWymM7Se1KbxMgmhG5mue6nnd3UJfOUxR8n8kbSYnYranFQfszikn1I_C3UUT4g4jNxFNcYd68hUUVXujEwks6ZaEeLEmGb3VK6qTGAuuTwucjeEgfEif8f75rJQb9TtjzDdC3RJ1a_JHzKvzCOm4E1q4Q3FPkfIGC2GFPRZzHSIJ1fRd9z0JKK-09Q"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "PS512",
        "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/672795316/84acddf75be501debafcdff2d938a623",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/",
    "RandomSeed": "1524503639"
  }
}
