{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/691295156/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/691295156/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "137"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780406184,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780406184
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/691295156/c9af93c8432140cf104f7f076ce48d2d",
          "kty": "EC-HSM",
          "x": "vtk3rNq-xGLfix4jRXA0_X7q5RevyfMLhYbZUHW2u-NI4AGWpY8NYzJm1PsR6b3l",
          "y": "nTa-Sm1PrjnBk7prWSyaEpCZ9P16CyYMOVx6EiZFs3AYz4b2bgGmw_dcGF-KUavl"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/691295156/c9af93c8432140cf104f7f076ce48d2d/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "ERaFZEV2dlWE1xBAcGmGSuxW16fLQhXjJPNbsa1vpIPq6oAbztzlvgKsIBvSvp8G"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "16"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/691295156/c9af93c8432140cf104f7f076ce48d2d",
        "value": "jpAvi-PqqnZYsGHUDlFkoEwZ8CR00zf3oEiAXS1VcmJRxq5Bb9tNgXaBh5wnLXzpWiIZs2k4pSx3t1[...]
