{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1599770166/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1599770166/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "77"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781250018,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781250018
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1599770166/b54ef5336f8e02b72cb22194deb61d85",
          "kty": "RSA-HSM",
          "n": "j0a2agGkk5U6M4_hkuCxkgcl72zAW1XGfSrSwexUBvuZXcdvIrtXEspnPf4IzVPW16exjWaaCQte-qiGerTr0bkbOv-R7QLOzlbRfr08nkn8V69qAEHIz2IJS03t8FZhswkcue9gaLTyHQlvKmcI-8jBKo6bD7nSwxAU0WVAHz6y5Mtfmem90OGJlvWILLUxdDN3uU3gJkfQUlC_NCEDWZfDAdXYSDcPaRDkBrjqK3rgwrS1ujip4fC2oAw50FsDhYcFmXW8_X8vmUx3DqO7jH_ZA1gZpXblgDFXLJUQysHJT9EUhsT7G5lvC9k7ISiiNBjZLhFHe1vVaSelNvwYkQ"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1599770166/b54ef5336f8e02b72cb22194deb61d85/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "KBoxWPXf2yH0jLahlZQAT9rw3xJf4X5lTubbtAYMGkdRm6f9gg_TntbK5ne91wAa9USfCzNJo4jY8Ny1kfm_AA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "alg": "RS512",
        "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1599770166/b54ef5336f8e02b72cb22194deb61d85",
        "value": "FpZA6C1tAQkrvbZmpUaWWgobwOM-y-kd_oGcYnVSwUAlMNaOlEVDwJWX[...]
