{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1800752788/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1800752788/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "oct",
        "key_size": 512
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "74"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1742931482,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1742931482
        },
        "key": {
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1800752788/4fe5b0886ef2081d0507ed0ae51224a5",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1800752788/4fe5b0886ef2081d0507ed0ae51224a5/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "HS512",
        "value": "P52djjE96-l1IaWmg9zix1GHwNVVHXuoW7jgF50glKFS98CPXKfrn7KWcYkGo-KpSsEB_N-jj4cwP0amd4u48Q"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "18"
      },
      "ResponseBody": {
        "alg": "HS512",
        "kid": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1800752788/4fe5b0886ef2081d0507ed0ae51224a5",
        "value": "UnBW7uy0FvLcdDV1XQDszNdQcUapPzUAwls5MzG3SnDa7X1JaR2u54hOybdGvcWxg-x24ypGrJXpNbls-hhhfQ"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1800752788/4fe5b0886ef2081d0507ed0ae51224a5/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "HS512",
        "digest": "P52djjE96-l1IaWmg9zix1GHwNVVHXuoW7jgF50glKFS98CPXKfrn7KWcYkGo-KpSsEB_N-jj4cwP0amd4u48Q",
        "value": "UnBW7uy0FvLcdDV1XQDszNdQcUapPzUAwls5MzG3SnDa7X1JaR2u54hOybdGvcWxg-x24ypGrJXpNbls-hhhfQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "HS512",
        "kid": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1800752788/4fe5b0886ef2081d0507ed0ae51224a5",
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1800752788/4fe5b0886ef2081d0507ed0ae51224a5/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "HS512",
        "digest": "P52djjE96-l1IaWmg9zix1GHwNVVHXuoW7jgF50glKFS98CPXKfrn7KWcYkGo-KpSsEB_N-jj4cwP0amd4u48Q",
        "value": "UnBW7uy0FvLcdDV1XQDszNdQcUapPzUAwls5MzG3SnDa7X1JaR2u54hOybdGvcWxg-x24ypGrJXpNbls-hhhfQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "HS512",
        "kid": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1800752788/4fe5b0886ef2081d0507ed0ae51224a5",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv318hsm.managedhsm.azure.net/",
    "RandomSeed": "877809713"
  }
}
