{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1855460863/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1855460863/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "71"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780405141,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780405141
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1855460863/3fa83977ff3606b01b16e1ab0c1c6a4c",
          "kty": "RSA-HSM",
          "n": "qUl3boURUJOv9AjvH3wpSsNLFiSyxcdrhN1w9MqJUxnQxQ6S58z1iiPbNnGLg54299ziPkYIF_vYtVVFc-zw1Rw7y_NvKqDP5VABWgr2L2d0oEjgxfOop-c906IVhwSJeJ-P-MxO0gt-nQ_0Pj8Bco3X5reGBn7XgarJXMKFdke2pXCrEb7qPNeFm2mfEeW3K_Mm3PPHd1G6CKKCryXV502WoJcYCkGw3ztIMxWgvJw955TOyXz60HmLwMhylESdbD6FHlIyDWxP-8nj5mdeD111PENce9rs2gaSgqi-POMhet8LRjHn_K9bffhfgaZ9xPRT41YmzwCcNirFhGe5Fw"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1855460863/3fa83977ff3606b01b16e1ab0c1c6a4c/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "7iU4nyLtZXHIjmJQrgDFoRgPiioAusGPggDQnCoXpi0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "11"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1855460863/3fa83977ff3606b01b16e1ab0c1c6a4c",
        "value": "bhImJnsEqMvKpjqXn2vQHymuZEO9fxDe7O2ndYQD2VmdZKrEWPbPb50xVWz9nVT69-_QBYc42T0A-VpRPwxmKdGBIk8aLYfWJj[...]
