{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/37797868/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/37797868/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "201"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780406038,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780406038
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/37797868/c75a6c0ba713463c9270fd184d4eb574",
          "kty": "EC-HSM",
          "x": "AMTD-JOz_hjnsCEW4S9EDnV4XYDmvRYUGzRHHNiU2jFKn3nYJi9mfHn3b-rWneHUw9ayaEWTIAl68_O1Pyul2FoZ",
          "y": "AEvtQBXpZ2SUOiV3NxCWmNsopXkvpmRTF3lSE1Nptd53HXCoIBZMf1bGjM-nIe3auSj82dt2dhoMzIHLXvzCFYPw"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/37797868/c75a6c0ba713463c9270fd184d4eb574/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "R1-HMqIkcZXB78GpP0dsL4A-BgJW3qF0cSmX-RdETIfdCA-0Hg-2Y0IhoIdDa9jtmsetbzCAczx5AGPptXTPSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "32"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/37797868/c75a6c0ba713463c9270fd184d4eb574",
        "value": "AZNIBMQVWo9vovKpZ7SYKZvt_LLdLPmVt4FYMQgwgKHS4lecz4dwKtlSt[...]
