{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1080162907/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1080162907/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "131"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1707539568,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1707539568
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1080162907/81f3c64ddb4a08d41bffd9069a591578",
          "kty": "RSA-HSM",
          "n": "iQnU7n6F9XFqN0177-20DuznixcLIigfyS0kaCBA19niUNJm1GM75hGnCXGOWixlVTJ8AIUtaFjq41WLJ07MvVHk0nYdmzo_I0XjHjwh0cxP8zPDXds2_3skDVnRuLr3KokInqVN_zfFat4wApS8BkWwSOMs8i9Zw6PJ0FRUA0PQQYCbX0Y3ExO_1zoq0W5HuwTBeCV85AamsiMrA8IhjgsTpLJsnMpvu8-imt_7A5czkLY-tL6RI5KT-KNWybpFx9w7CTEawPXe__w0NQWScZLZJnAvKyPP-cMmy-CQXrq7jo5lT5YmymnjPihr7QqxEEn1vscR69zXIt6DYtWfgw"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1080162907/81f3c64ddb4a08d41bffd9069a591578/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "b0Sychw7Unn4kiBtQwPqiR_nm6iXCnFjUv0aLsAZ0pcPki-0x5i1C5bup1VxSFiI"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "11"
      },
      "ResponseBody": {
        "alg": "RS384",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1080162907/81f3c64ddb4a08d41bffd9069a591578",
        "value": "OaSLibAJvdVPCq14zfhkJTeFsQFfAOuIOpRxElg76xEz3CMPEc0-MDSbVrfviS1suolw6DgM4cU7VE5PYzrOpZ-_u49zkqdFHpHVF8mqrJAoHDHpQSo1bLt_rShmLJZC0EuFL9jRUl10zEjR-sDfKaIcpEaisJPtyZml6WJNCrowmQD75V9MDKlEffGfsqh909FL8ikd_Kz7OSzYaEBthUp1c5twhYkuSUvu4-67eu5dXATwTEiH2HnVTDEJTxhDpbzfYyvN501A5pNMABpfhIdYQbE1fx-0Y9JEFp9rqEVepDvKXkaFVIgE_ucGmruNo50oL1Hv93PPTd1RvMZFcQ"
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1080162907/81f3c64ddb4a08d41bffd9069a591578/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "b0Sychw7Unn4kiBtQwPqiR_nm6iXCnFjUv0aLsAZ0pcPki-0x5i1C5bup1VxSFiI",
        "value": "OaSLibAJvdVPCq14zfhkJTeFsQFfAOuIOpRxElg76xEz3CMPEc0-MDSbVrfviS1suolw6DgM4cU7VE5PYzrOpZ-_u49zkqdFHpHVF8mqrJAoHDHpQSo1bLt_rShmLJZC0EuFL9jRUl10zEjR-sDfKaIcpEaisJPtyZml6WJNCrowmQD75V9MDKlEffGfsqh909FL8ikd_Kz7OSzYaEBthUp1c5twhYkuSUvu4-67eu5dXATwTEiH2HnVTDEJTxhDpbzfYyvN501A5pNMABpfhIdYQbE1fx-0Y9JEFp9rqEVepDvKXkaFVIgE_ucGmruNo50oL1Hv93PPTd1RvMZFcQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "RS384",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1080162907/81f3c64ddb4a08d41bffd9069a591578",
        "value": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1080162907/81f3c64ddb4a08d41bffd9069a591578/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "b0Sychw7Unn4kiBtQwPqiR_nm6iXCnFjUv0aLsAZ0pcPki-0x5i1C5bup1VxSFiI",
        "value": "OaSLibAJvdVPCq14zfhkJTeFsQFfAOuIOpRxElg76xEz3CMPEc0-MDSbVrfviS1suolw6DgM4cU7VE5PYzrOpZ-_u49zkqdFHpHVF8mqrJAoHDHpQSo1bLt_rShmLJZC0EuFL9jRUl10zEjR-sDfKaIcpEaisJPtyZml6WJNCrowmQD75V9MDKlEffGfsqh909FL8ikd_Kz7OSzYaEBthUp1c5twhYkuSUvu4-67eu5dXATwTEiH2HnVTDEJTxhDpbzfYyvN501A5pNMABpfhIdYQbE1fx-0Y9JEFp9rqEVepDvKXkaFVIgE_ucGmruNo50oL1Hv93PPTd1RvMZFcQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "RS384",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1080162907/81f3c64ddb4a08d41bffd9069a591578",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "502252641"
  }
}
