{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1579109428/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1579109428/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "147"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1707539547,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1707539547
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1579109428/6f7d004c12b7402c92dfc136e4991eec",
          "kty": "RSA-HSM",
          "n": "iGy4ZhCmOPx7_E2AiB28sNRkna_sumptGhXMiqm4df_t2TWfbbQmfb_bwKpaUj6-HZndjymmSshwfF7wH4kuQZJL0z6kBBkwiNx8i8oOJCw_evhJpOYOvBsLn_VEuyDrRAaJpzAjPGBqtVJHKq9mXe7x2Sn3s37coX1OIHru0RXws3WE9FMJdVVeF_zL3rVf3Bj4PHEigVVw2gDFAasDAqaiOiYJ9ejSUe7qGKKNEhcJr-WKKV-zy-39q6rgnBy3SKJeSZd_Ark-XHPo0bvFY46I7RAitdJUWhVeMfxbvovfh09AfFwi88p_L8vliF5vnoLmAkA8JtidJmTqsxn2Jw"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1579109428/6f7d004c12b7402c92dfc136e4991eec?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240118-4-86344c01-develop",
        "x-ms-server-latency": "8"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1707539547,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1707539547
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1579109428/6f7d004c12b7402c92dfc136e4991eec",
          "kty": "RSA-HSM",
          "n": "iGy4ZhCmOPx7_E2AiB28sNRkna_sumptGhXMiqm4df_t2TWfbbQmfb_bwKpaUj6-HZndjymmSshwfF7wH4kuQZJL0z6kBBkwiNx8i8oOJCw_evhJpOYOvBsLn_VEuyDrRAaJpzAjPGBqtVJHKq9mXe7x2Sn3s37coX1OIHru0RXws3WE9FMJdVVeF_zL3rVf3Bj4PHEigVVw2gDFAasDAqaiOiYJ9ejSUe7qGKKNEhcJr-WKKV-zy-39q6rgnBy3SKJeSZd_Ark-XHPo0bvFY46I7RAitdJUWhVeMfxbvovfh09AfFwi88p_L8vliF5vnoLmAkA8JtidJmTqsxn2Jw"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1579109428/6f7d004c12b7402c92dfc136e4991eec/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "-VEUlbHD8j1t51Ntq7gnZFIYu70wI_8xpTFSToK19oDjZr2HcL9xxkl5UoRI7jgV"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "RS384",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1579109428/6f7d004c12b7402c92dfc136e4991eec",
        "value": "KCW1KPncDAfOpFEsPqnSY4fn4Bov8teN7k5fWzzNFUeUwOLpYaTcN5WCajnK9N8SFToKCvkYYchFoOjVPbQwRgegAT977kF66NuJiiTSPeZBfmOabPrtAKfzCieE5e6jPFZNUlVwXaeEr4ymDCPRAbP6PNaz9nLYnMIZdoCm5XkuuYAPbcFMfkRbr8wZ4GaUXYFv1SQDUVL9df_B_aueRBpVEE4RVQWMBXGzPxjEQ8iEzvayttcqueaHeHI6SQzxQga4MqZtjJEPPD9nbJhn3klOkUNByjloQhxR7ngZBsnog48qUKzcX4LhqAg8D7uXgu5hgbP_YosmB7fmalk6Vg"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "830670079"
  }
}
