{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/486219159/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/486219159/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "107"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743437510,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743437510
        },
        "key": {
          "crv": "P-256K",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/486219159/faf68749dcfd08f4b5329c2175b67806",
          "kty": "EC-HSM",
          "x": "OpJeI0H-Qoi2jBXarnOFQ6eoJ2ngbF90_Npp6_UxSSI",
          "y": "PDYUqMd5oNqWFKEmyMEevKlB5bnAo24f0XNKLq3L0zM"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/486219159/faf68749dcfd08f4b5329c2175b67806/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "fMTgPSd7_SER3nW3foDKh6VBw1bk9E9FjVLVrbeKf3w"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "13"
      },
      "ResponseBody": {
        "alg": "ES256K",
        "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/486219159/faf68749dcfd08f4b5329c2175b67806",
        "value": "6JzYasSSsiWZyqXDNaiF15x0bSw-ay89j0dd47-o0UZi1bP5pyh_Sl5qSSOczF8ay7gSLzCRLLM8MtVhiiuqrw"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/486219159/faf68749dcfd08f4b5329c2175b67806/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "digest": "fMTgPSd7_SER3nW3foDKh6VBw1bk9E9FjVLVrbeKf3w",
        "value": "CGSucqp1qtfqO07v9ykwse_wD54lCD332rLxuk3F7Me46IIM8eNl0pjffOcyeC-6bndR-FRA-AsmMmGWhjemTQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "12"
      },
      "ResponseBody": {
        "alg": "ES256K",
        "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/486219159/faf68749dcfd08f4b5329c2175b67806",
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/486219159/faf68749dcfd08f4b5329c2175b67806/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "digest": "fMTgPSd7_SER3nW3foDKh6VBw1bk9E9FjVLVrbeKf3w",
        "value": "6JzYasSSsiWZyqXDNaiF15x0bSw-ay89j0dd47-o0UZi1bP5pyh_Sl5qSSOczF8ay7gSLzCRLLM8MtVhiiuqrw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "12"
      },
      "ResponseBody": {
        "alg": "ES256K",
        "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/486219159/faf68749dcfd08f4b5329c2175b67806",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv331hsm.managedhsm.azure.net/",
    "RandomSeed": "20939283"
  }
}
