{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1838032923/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1838032923/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "80"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750764358,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750764358
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1838032923/4ac55523767900e0bba15cacf2efca05",
          "kty": "RSA-HSM",
          "n": "mOXR1wbjxskDq-gQ5NuCcpYdDn2NbcoSHVJG0uYcE75hNu5fGSfsFIlchpFzawUE_qsEfPhWqD9AabCB6mDs19P879cNHGOWiMfGQ6-49a7lcmpNg2uZl5QpEw5tf0IphaVK69guGbsSGd0jeAeWTICteTQkiu7LdiFRgL8pbObHsfM6PMXBTAPjZgFs1UJh4VSCL80rqVPTi84NZCLZVZE-Wjiqlka1VO7SnSgX_60BamGbKgzkpcljQ7bIMzL20IDAPc-Sa_1R-8Ibel0wiZAqr8EzQzJiumQf0KnWiGzZNAs5Wdo3KrmWnZ8fqFljBfqdgZ0BXVJrKFcn3yAOLw"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1838032923/4ac55523767900e0bba15cacf2efca05/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "g8O-2fvc9etQ4dRCQd-xno7ojLB4IfVBtqAL6RTccsnPDEWkgE0X6TXVOOFTgEiU"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "10"
      },
      "ResponseBody": {
        "alg": "PS384",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1838032923/4ac55523767900e0bba15cacf2efca05",
        "value": "ZY40QTw-nPJIgZTPpisz4arTSy8AYFIMN4nVRculB_ZAYq2l7OJ_JKmuaCjNT16OXdWoj794xw2l5nFKUdgUXxHhv1fy86OqVrWuPAwWTeGxfhO3EXi9oOjBTZ9nglyQII2flsW3rxpkdYE8T7gEcq0WKOYOKG2ovf7Q6vvJ5p0ceGgijNxPJ3bH9Cyeh-eylyABMRPmudQVzM8hRFjfKi60rG6otHCfo8qWx6M8n6YuuaCxbwHiANTHiU1_X5PMxbpgVd1AJ11FeVmnKvteKGTcAKAFGI4xQRdDLuqnmuGi5VZJ30EL3vE8-fliP-EXFbvzAQ2Z7tImFkuSu1Kn8w"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1838032923/4ac55523767900e0bba15cacf2efca05/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "digest": "g8O-2fvc9etQ4dRCQd-xno7ojLB4IfVBtqAL6RTccsnPDEWkgE0X6TXVOOFTgEiU",
        "value": "TdLDkxsftG-E542AfLj_yQKAu1CHlZUUxS0wcJc_YoxbDG0KVhYDlFiyT0Sqp7-8j58edv6jj9vjbop_aDeCG-1tdsEqTO6-mt5GetgusePQ7eElcSbKRvNCtU9Uyfb3HXbLGwaRCc-sy5D3sZvZEk0sz6-IZp-i_HZ2TID72iBi30RRkMt3mVqk298yJZLM_YM_T3V_NQ3eImsYpUtQbw0lTls8aBPTrx496aNnsRzc3GOODOse5qJt3P369gDKMXqmfOggLwxr1T4WrO3aoCaJqbYZqilaq-CcI5FaLPs_B4FgEMfhHOabm-uABzI9oItD0RVmqJxOMdIi3QwVCg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "PS384",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1838032923/4ac55523767900e0bba15cacf2efca05",
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1838032923/4ac55523767900e0bba15cacf2efca05/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "digest": "g8O-2fvc9etQ4dRCQd-xno7ojLB4IfVBtqAL6RTccsnPDEWkgE0X6TXVOOFTgEiU",
        "value": "ZY40QTw-nPJIgZTPpisz4arTSy8AYFIMN4nVRculB_ZAYq2l7OJ_JKmuaCjNT16OXdWoj794xw2l5nFKUdgUXxHhv1fy86OqVrWuPAwWTeGxfhO3EXi9oOjBTZ9nglyQII2flsW3rxpkdYE8T7gEcq0WKOYOKG2ovf7Q6vvJ5p0ceGgijNxPJ3bH9Cyeh-eylyABMRPmudQVzM8hRFjfKi60rG6otHCfo8qWx6M8n6YuuaCxbwHiANTHiU1_X5PMxbpgVd1AJ11FeVmnKvteKGTcAKAFGI4xQRdDLuqnmuGi5VZJ30EL3vE8-fliP-EXFbvzAQ2Z7tImFkuSu1Kn8w"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "PS384",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1838032923/4ac55523767900e0bba15cacf2efca05",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekvv76hsm.managedhsm.azure.net/",
    "RandomSeed": "1485533819"
  }
}
