{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1024448094/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1024448094/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "99"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743543218,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743543218
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1024448094/715da89d557d493b38fb3501c28bdd2c",
          "kty": "RSA-HSM",
          "n": "vab8m8c2oLXFFtkA-WzMa_Oneeq7QggjN_KbZGV9cXuNULVlbTgvqoLrvLGKwjRcaaTsNYg1T6-yP29cs4JEtQbirY87e1olawH-tcZrGlcI16X1A3PKzKWPpW8-Dq2-oBAMlzlLjdz5q709ziiL16hb2PBc0Vm2CouxEa_odkwcKKSRIFZAPxcrPR0bwiOITE-H_fKS00B9zeEGisU6qEz0qr35Mgp9OJMmbqeleLqfCOgb6wgvG6Cn_vYPlwx5beFrkLqUjTCLiObVwcuFuOlC-Q5VtveVMKOmqY72feIYvgvGIi1QDIxrlLe9CtTItGyLMEY5uvsEv-Mprj0Xgw"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1024448094/715da89d557d493b38fb3501c28bdd2c?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250221-1-e4accbbe-develop",
        "x-ms-server-latency": "24"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743543218,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743543218
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1024448094/715da89d557d493b38fb3501c28bdd2c",
          "kty": "RSA-HSM",
          "n": "vab8m8c2oLXFFtkA-WzMa_Oneeq7QggjN_KbZGV9cXuNULVlbTgvqoLrvLGKwjRcaaTsNYg1T6-yP29cs4JEtQbirY87e1olawH-tcZrGlcI16X1A3PKzKWPpW8-Dq2-oBAMlzlLjdz5q709ziiL16hb2PBc0Vm2CouxEa_odkwcKKSRIFZAPxcrPR0bwiOITE-H_fKS00B9zeEGisU6qEz0qr35Mgp9OJMmbqeleLqfCOgb6wgvG6Cn_vYPlwx5beFrkLqUjTCLiObVwcuFuOlC-Q5VtveVMKOmqY72feIYvgvGIi1QDIxrlLe9CtTItGyLMEY5uvsEv-Mprj0Xgw"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1024448094/715da89d557d493b38fb3501c28bdd2c/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "UI06cgxSd1liIY0Zgj3A15H2KYkDsKsSVpqc-tyfG5G_eQUQHW2TKGNpQW5Amh3Q"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "PS384",
        "kid": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1024448094/715da89d557d493b38fb3501c28bdd2c",
        "value": "vF1rGTHq15mOUJau91lfl58qOPOSJAqbyRJZjfSJ5FaVyj_pED7X8WyUsPGPUrL4FiTQm48H9H5gTyDxkfDmZjh9KZ7a-kKEXLauBnzOhG8Hf2zbJBI-cAhSxiRvpIE9lgXDxGpSxuSRisGTjRBX7Mwor99g_KJ5q0-PrOll-ITkJ21v6dubmf25KwtzAgQYbWcObNZMlu24mD6JK7C5qTGrorc_KpSMWcH1gh4Dz0s-0-r3zGxPVy5inXq0dCCDctDxk_pbmOUu506W-4m39P0Z9Ji0C43SB-HOrU0RQonHwhC1J5PQqgSJMY0X3ihKj97KmByKcD8HsQcM0TEF8A"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv041hsm.managedhsm.azure.net/",
    "RandomSeed": "537825341"
  }
}
