{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1117001154/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1117001154/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "206"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781249998,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781249998
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1117001154/23f321164f024644be4be6ac4ed45c2b",
          "kty": "EC-HSM",
          "x": "AAkX-xp_4e-3biUXZ62dIUneYrS47Pr7Ak9k1VT3mgcS9GoiZLW7n9x34F9HIcDdYC2Ik33hfr4qWFzBoWLTEiSN",
          "y": "ABtkABZ1XwDjQbZ5nBdEYsLu6DvtUoMwkTeGqAWk2-6M3Th-v5iKw9jr6Sy7HnhVkWLJpTjo9-oBuUELyVNJDHCP"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1117001154/23f321164f024644be4be6ac4ed45c2b/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "xMarPZ8k4uwS__5lDWWegfGtWOODSqIKhd2L0FwriqyXuuUdyiNPDU01FBeEi_3lAvy-RcwqZq1W2SgLlXP87w"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "34"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1117001154/23f321164f024644be4be6ac4ed45c2b",
        "value": "AD-8jofUNmnw5GjN6DKSLfFTAP6XWMXVw_CO3j0E_9EPA3uQl1XAZ6w[...]
