{
  "Entries": [
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1962968075/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1962968075/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "72"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743710634,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743710634
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1962968075/8ac3a8576afe4953ad34008e3bcee39e",
          "kty": "RSA-HSM",
          "n": "3EfIKV5-Tvf6VSizQPKY1Qy9kdX1iExAFq0cD6uYLp3EL9gdhPkHaBa1GM-JBG9Hf5e8qgpxHPUB-N_h17okGIYjghvT38Wy9r3nZDJAejyHaFz4CbOiI5sH-Feq-Rl_s7eU0LFYqOHhQ3StauZ-D27VOWZxBUSO9z0mp6yC7JB533d3CwOxwgi4M0rx1Ggp_HjWxTcOiqkIvVIstUzX50toz7JnBAHZDXjpza9974Ns6cVYvW0HlbvLdA2-22SnRmlbbzt6q_8mCd11wjPN_zk0wRhcpxOse88O0v2Msb-_xjTFC4ygaX-Hakk1AsTjz4Clcb5hC4WLqsRD6nEgdQ"
        }
      }
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1962968075/8ac3a8576afe4953ad34008e3bcee39e?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250221-1-e4accbbe-develop",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743710634,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743710634
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1962968075/8ac3a8576afe4953ad34008e3bcee39e",
          "kty": "RSA-HSM",
          "n": "3EfIKV5-Tvf6VSizQPKY1Qy9kdX1iExAFq0cD6uYLp3EL9gdhPkHaBa1GM-JBG9Hf5e8qgpxHPUB-N_h17okGIYjghvT38Wy9r3nZDJAejyHaFz4CbOiI5sH-Feq-Rl_s7eU0LFYqOHhQ3StauZ-D27VOWZxBUSO9z0mp6yC7JB533d3CwOxwgi4M0rx1Ggp_HjWxTcOiqkIvVIstUzX50toz7JnBAHZDXjpza9974Ns6cVYvW0HlbvLdA2-22SnRmlbbzt6q_8mCd11wjPN_zk0wRhcpxOse88O0v2Msb-_xjTFC4ygaX-Hakk1AsTjz4Clcb5hC4WLqsRD6nEgdQ"
        }
      }
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1962968075/8ac3a8576afe4953ad34008e3bcee39e/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "0lE67WqgEnV2yX5itRo6G6z0bIfjveX432QziGnTFKP9eNouU_QknzsUzPUXvDEd"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "RS384",
        "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1962968075/8ac3a8576afe4953ad34008e3bcee39e",
        "value": "Enbckp0VYpX7nzUFizxgPkzMNtV9JlNMrf4nl2ze286hjfgpikQHkK4AV9HWXFtzn9mMh8X_ydKOes-8A5vgWtpySqtPmGnHMc-G-2aYTFU7GdcvmYb5IsTYkluCq0d6v1mKN9RGifeJUP4Aya1a3OXki4J0FV0iBwlfu2xt4koFViTzCsZEgjEsKi5ggiNwKbXZLXVrH58sBbo7FH4qAzToWrOSGlPAlF_fF0dSg80zohAmaIyOcsvFUQnlublTDqt92RWOxMEfA0QdSHFfvfoMzMOx33M1IXMQw1tFy2MJPyIUvOU7n_sS3m0AtcGuEWsBwdYXVCmSmjxYBVqV3g"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/",
    "RandomSeed": "1626598222"
  }
}
