{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1973278642/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1973278642/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "68"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780406019,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780406019
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1973278642/020d895b248907ce2bacba89f663240c",
          "kty": "RSA-HSM",
          "n": "nMd4t-07da2jitizp5lUXervmRye2IYcjQ_VzCaAfRHNsgKhs6epP8E7IhuEy0l-n9nddtkiY5hxz3YgGrO7Rq2iCojC8P9YxFx3iXZFEtkigoXl_lwbGehPiZai2_Gy-yM7WCLVwkdgDtIijtZ_SdCWhk05SSM2xPVloKlQCPVGlqXf4OULZNiIlF9wYeieCGvddiZWMDbOqxh_CYCvFTHFu375mQbsK3irkyxteYXXLZtJsqCDxfVsiUQ7_clr24hdZvV35NCBqRYmQN49aVMb8RpzVHU3C3QwYk9595g11es6LeRNsOnOj-IwaDZF_d9vwoCRxtPQXHgRTyTpuw"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1973278642/020d895b248907ce2bacba89f663240c/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "value": "eN3W9-GARtSBmW5POMHASf49Qo_oioWIw96ejI7A8dnYVxxxHkKEfdHDUEg8iEXAI3cakUgPe9tyPAT4MLNQZQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "8"
      },
      "ResponseBody": {
        "alg": "PS512",
        "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1973278642/020d895b248907ce2bacba89f663240c",
        "value": "f_87rFSy96P0fg7VrmHYP7d9A9OcGRzvSJHzH1C2DEnVK-sMzFCTE6yn[...]
