{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/320693645/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/320693645/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "123"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743497330,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743497330
        },
        "key": {
          "crv": "P-256K",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/320693645/1f09812bcf270d7da5458f9c36672ad7",
          "kty": "EC-HSM",
          "x": "CulVDHiqWDjisyrrcO0Z3Y6YOdRTEVCOS7IAEgFvNAE",
          "y": "culfkZt_ob3cSHGhEtMvofc2r00GIRAmdBGWO8Yu4aI"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/320693645/1f09812bcf270d7da5458f9c36672ad7/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "iHeQetGbSOp35Vcq39afHaMe1sFl2AI8pVKVnP2Vceo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "12"
      },
      "ResponseBody": {
        "alg": "ES256K",
        "kid": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/320693645/1f09812bcf270d7da5458f9c36672ad7",
        "value": "ADglwON7ntQGJveF9FwlKk8sXWZ_-Nvbs3zHL-yOS0PBnRK6bKnxVlYQSDHIqwu8J96ucPceAiJ--VFfXYH2ZA"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/320693645/1f09812bcf270d7da5458f9c36672ad7/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "digest": "iHeQetGbSOp35Vcq39afHaMe1sFl2AI8pVKVnP2Vceo",
        "value": "VhB6o8-tv7JbV2joTHwFNNOjdRuZ_rOXnFZDcbxiNTxJrCTrPWBNEohRapnmY3JRQOurp58MQkCqFNXGYNP7tg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "13"
      },
      "ResponseBody": {
        "alg": "ES256K",
        "kid": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/320693645/1f09812bcf270d7da5458f9c36672ad7",
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/320693645/1f09812bcf270d7da5458f9c36672ad7/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "digest": "iHeQetGbSOp35Vcq39afHaMe1sFl2AI8pVKVnP2Vceo",
        "value": "ADglwON7ntQGJveF9FwlKk8sXWZ_-Nvbs3zHL-yOS0PBnRK6bKnxVlYQSDHIqwu8J96ucPceAiJ--VFfXYH2ZA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "13"
      },
      "ResponseBody": {
        "alg": "ES256K",
        "kid": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/320693645/1f09812bcf270d7da5458f9c36672ad7",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv041hsm.managedhsm.azure.net/",
    "RandomSeed": "323265211"
  }
}
