{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1145135247/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1145135247/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "70"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750762705,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750762705
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1145135247/480a76b6917a09bbb797e742a34c0fef",
          "kty": "RSA-HSM",
          "n": "q676HFyYPagnNgcZRpz1yvEntvOLJuQoosEVlKEBTeji3IiNytl2DX-dKcmDLELEqZvXJgZQ5U592xvPaLkqR1Z20YQRXf6Kr38Qsa8WVyhc3DdGEzdv3u6kD0l4-VQSRLa6afKvCd_-LEQQgpaSMcHiS6L2ejUG9183AEJI3IfHiZUQA5In4RHAjQXhs3TlsblRwZt6mFSnmclS4uB3f07Iny6ENCMBkkKvBHDt84aBYNfDENqW76NRxxQ7R6YlZn9XyZhHI9LRl8ggG6C1wqA05zvQWEvooUKZjoZszTN47sXT8oEO07FCu-YkuKl6I8hnkGjMYcvVxaWKVIAqiQ"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1145135247/480a76b6917a09bbb797e742a34c0fef?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250601-1-938c6570-develop",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750762705,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750762705
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1145135247/480a76b6917a09bbb797e742a34c0fef",
          "kty": "RSA-HSM",
          "n": "q676HFyYPagnNgcZRpz1yvEntvOLJuQoosEVlKEBTeji3IiNytl2DX-dKcmDLELEqZvXJgZQ5U592xvPaLkqR1Z20YQRXf6Kr38Qsa8WVyhc3DdGEzdv3u6kD0l4-VQSRLa6afKvCd_-LEQQgpaSMcHiS6L2ejUG9183AEJI3IfHiZUQA5In4RHAjQXhs3TlsblRwZt6mFSnmclS4uB3f07Iny6ENCMBkkKvBHDt84aBYNfDENqW76NRxxQ7R6YlZn9XyZhHI9LRl8ggG6C1wqA05zvQWEvooUKZjoZszTN47sXT8oEO07FCu-YkuKl6I8hnkGjMYcvVxaWKVIAqiQ"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1145135247/480a76b6917a09bbb797e742a34c0fef/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "j6aE8kvRO7mfj5OW6iW1Ne5w-WfDOh1l3Xtmjcm0fASkOhF2CrfcvyDW_UP9U7W6"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": {
        "alg": "PS384",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1145135247/480a76b6917a09bbb797e742a34c0fef",
        "value": "OfknGWyMZKQOgECrJ8xIWVx5UVWZ7YHfeDojjAJhsonpl1Uy2Vou1i1-PA9JDECOZiUPF50uub_KAtyuggomd4ui7HpckeTMBQWfzDfjYVhni3uEsSFunQiGKO4WuTiS_i43H0w8q9EmGozYwgw5gsJVWbjcEyDGI7a8GykSZoeFHi29jKJI1WJuDR7gevl6IJGIeRNsniQ-mKMbAqYBeLw2O4Z5IOug8LpGxdY4Np7c7S54ly4DCKMaCEfzapP7OrzOLXdE1EaofAWIcTGcHB8QJeYuRVfLgjyNfdy_0en5VgCdNFUGmIF1HPuCeR_bI8Td_KHBLwmt4SrXv8dA5w"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekvv76hsm.managedhsm.azure.net/",
    "RandomSeed": "900961705"
  }
}
