{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1972021882/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1972021882/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "68"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780408741,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780408741
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1972021882/fca3456f086f0c1e831c1d8403783f9a",
          "kty": "RSA-HSM",
          "n": "v76W3PRPhzu73olPdpWan2oDnWZCsQyYBnh0hPkz8Cq15SOWndLMrm8t_Qyo1wO-yvHJiBnDhKViAxCiBxWcMkyuykAwft1pWemVxbXH1AyXfpwgZJ57utl4X_bLXQnOW1VNZSfX8edzFZ6WvQHgAAXYJl6SBN8XwqgWx_DxiM1_cithksWILN425pGV2LrUYLmbVmu5PLkAGTssfyUQYfwdai5A0kIc3SRW_z5vzKb_fw6Z_dsyxowVkpgJG0pKOME6epMETCWEb7T0TygE2zhjwI3j7xtApQASdqyRH8dKJbPW_CP9fQ3d9rGybk5_izR9YFggoMphbsf0V0B-nw"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1972021882/fca3456f086f0c1e831c1d8403783f9a?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260505-1-b95d5630-develop",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780408741,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780408741
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1972021882/fca3456f086f0c1e831c1d8403783f9a",
          "kty": "RSA-HSM",
          "n": "v76W3PRPhzu73olPdpWan2oDnWZCsQyYBnh0hPkz8Cq15SOWndLMrm8t_Qyo1wO-yvHJiBnDhKViAxCiBxWcMkyuykAwft1pWemVxbXH1AyXfpwgZJ57utl4X_bLXQnOW1VNZSfX8edzFZ6WvQHgAAXYJl6SBN8XwqgWx_DxiM1_cithksWILN425pGV2LrUYLmbVmu5PLkAGTssfyUQYfwdai5A0kIc3SRW_z5vzKb_fw6Z_dsyxowVkpgJG0pKOME6epMETCWEb7T0TygE2zhjwI3j7xtApQASdqyRH8dKJbPW_CP9fQ3d9rGybk5_izR9YFggoMphbsf0V0B-nw"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1972021882/fca3456f086f0c1e831c1d8403783f9a/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "g25Juqr1RmLr1LYx2SV7GQl_mkAEkwsSyYZopyAUW9i4LI09yM0mohqGz9Ara6G9"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": {
        "alg": "PS384",
        "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1972021882/fca3456f086f0c1e831c1d8403783f9a",
        "value": "vEzB6PUwZ0b0eIKybpFK-k0MXZV4xd9APDcrAHVQP3wXX_EnoKRsQGw5GeI7v9Ja-MjErH07pO2lK5C2MCqpf7r_IokFRlwyUGkah-8yDSiMlbRYzBHKQ2oMkv-CmDlCGMOfJBspzEoLdfTkSXLbPNlOZLlifwaCQThTvlpvm9T31k82mMHyGcbQpzt6DFiDBj-XGDxicL8IpBziFbrV5goUo6dXG-9Ma_wSf5UhTeTqUAy4teTurjM9FgFlu89OlvfqrN6aQlkQqEB1RZZVGjw3N06HleMtvkuROIeoISq_4jWS84tFIUK8Ing-7ql82EDDzqhONQwJlVwjcvNGIw"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://externalkeysdkhsm.managedhsm.azure.net/",
    "RandomSeed": "662196840"
  }
}
