{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/977288073/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/977288073/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "217"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759318061,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759318061
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/977288073/517afc19810b4c621e82e007266d64da",
          "kty": "EC-HSM",
          "x": "AD6mIUlL5I4e9dcgK_4bcammuMwR8E-Ujo884UCLQoXyrKctdUPqDP7n-XOSLvs5NP2S_cX-GK3xNYQejigRmPf3",
          "y": "AbxcnJbRS9XNxJPjTF5lN_1knH-zzCZj88waOIquA2DBHkzV4aWWPt1LZgqJgEPo-w-y3fW4vhrKK8MZELYiPS04"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/977288073/517afc19810b4c621e82e007266d64da/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "H1F8ytnI3uRH2RpiWYLhOEtc68MHhspHNkZ7oWNJAr_7iTbtcc4ZP2s4uxvM4Y1FHkDn7fq9Tay-AcK_koUUzg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "34"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/977288073/517afc19810b4c621e82e007266d64da",
        "value": "ATTpDaG5draJ6J6hzmZ9vt1T0o2j8P5J_-tLUN-jGg5aDYiWa8iBN[...]
