{
  "Entries": [
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/597388253/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/597388253/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "208"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743717319,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743717319
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/597388253/90f2a92c55bc4671b1107384f69a09b4",
          "kty": "EC-HSM",
          "x": "AS33Kl0VhwhTqOMY_teJOTVJ0sVB5QgIB4ytwMXhaIR9Dud2lilBagdUHevs69G8dXQ-LLwTuBlR4ChXll_fAXNd",
          "y": "AWvUiUFpIVrWm-eJSzM8MeFnUpXtfO5wkBJkOvB35xjkQhKHc7Amn6B0MTJBNFey8HwBMtHERwWwcIm4PJaPcb1d"
        }
      }
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/597388253/90f2a92c55bc4671b1107384f69a09b4/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "_PQPHWel-bSKP8AHQ3xhT5AIAzLkqKsw8u9imdsfod5rhIV11yXthJDUKnnhbYtYByL6jCN1PH0illBYAgrw5Q"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "34"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/597388253/90f2a92c55bc4671b1107384f69a09b4",
        "value": "AWCPuBE-sLyH18cyV0RdaLSQ3L2pXdZbM2i2ZLNCGyKwygRnMA0DvXr5aEI97il3H9W4Ak_ko0bosjZtN6MyCnfgAB779vv21fp6_g8d0aggR_T_jMOWW0Wt0CUKyeQylCqYQRQHVMrzwBvMXOzqSijMdVH6j-XryF5KHIBMjzY-ZBar"
      }
    },
[...]
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/597388253/90f2a92c55bc4671b1107384f69a09b4/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "_PQPHWel-bSKP8AHQ3xhT5AIAzLkqKsw8u9imdsfod5rhIV11yXthJDUKnnhbYtYByL6jCN1PH0illBYAgrw5Q",
        "value": "AYAaKpJbjpYb6mCJ-BvxpWrmQ1_cb_pz84mJ_D0YhX-9PpQ6rlgZ6HRxyFgzB8cLfcvcXHQK2AOtjiT_vCUux_F1AGRTiPumQyqKKD7S0IzpgY7MZqoHDuxVcxdbKU53-MosrCS3f_nmoWUWfjgnUQ6vGYl3qS-mrCEuZStLJoI0U1pU"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "54"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/597388253/90f2a92c55bc4671b1107384f69a09b4",
        "value": true
      }
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/597388253/90f2a92c55bc4671b1107384f69a09b4/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "_PQPHWel-bSKP8AHQ3xhT5AIAzLkqKsw8u9imdsfod5rhIV11yXthJDUKnnhbYtYByL6jCN1PH0illBYAgrw5Q",
        "value": "AWCPuBE-sLyH18cyV0RdaLSQ3L2pXdZbM2i2ZLNCGyKwygRnMA0DvXr5aEI97il3H9W4Ak_ko0bosjZtN6MyCnfgAB779vv21fp6_g8d0aggR_T_jMOWW0Wt0CUKyeQylCqYQRQHVMrzwBvMXOzqSijMdVH6j-XryF5KHIBMjzY-ZBar"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "54"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/597388253/90f2a92c55bc4671b1107384f69a09b4",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/",
    "RandomSeed": "1026784836"
  }
}
