{
  "Entries": [
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1528209015/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1528209015/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "99"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743717253,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743717253
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1528209015/a9c764544b2c0eae38a3a7423af27839",
          "kty": "RSA-HSM",
          "n": "iSssESs2lN4me-WwMz616VCTE_k55RgWZRAzOQYoIyNdRdXedFR9THtDd8Mj8BtrNeczv6G0QsupB0K1zWtlFpcDgwXHUK12LJQMULRl3P-Ki79stF4gnEMMimx3S-AOQtmQh94GH3l-j0xSILE56jcBnlmbqQ_bbGZJb8qUYX0FIcH6Ml4PSMU2onfrHeHSS2eQrvckR_BT9HwzrxN-h-CkNOQDwlgez5S5PFYtX05X1dInUbq9AeU36PkmNB120WwLsPgZaBEwjuI63DerNbWuTC1iXylAj_z1ZQ4qTuy9amLxhfS49yihe3z8RHD2V7fywyIzDZ6V7T1HDKWywQ"
        }
      }
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1528209015/a9c764544b2c0eae38a3a7423af27839/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "ljuMf88Wi39M9Bli6-8ZEW4iAHxRCZaywGB5at6UikA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "10"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1528209015/a9c764544b2c0eae38a3a7423af27839",
        "value": "NtIQ_mNDpqJaNXfL3mTn41YtBK_cH7MLriK_SQwtJbDGEh2jPcoQc347goDdafgHiHyhiqNCtsBRWMNqybzb6cKY05UtNa9SSmcQ-30CZGNN8TpSOuU1syhOgCkiVxIar_mjoJEtscI0plvFEyYn-8d4pnGabHCYhYSyO3qzXmOLQKmnzxX9ODnpEJbdw6Xa8Vpz_5d4ntZ2eMVkaTCvqFs33gAUwwkQnlZZc_dlEsXhVdccq8ZY_K-WY7lUh7INkTDgw6UQw7724QXn73MIQmM5-AUDdhHmFMtHBrKeX3hNSqbnMEdplU0U0xof_ZD3AOKt971c58eH9v07ZEvwqQ"
      }
    },
[...]
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1528209015/a9c764544b2c0eae38a3a7423af27839/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "ljuMf88Wi39M9Bli6-8ZEW4iAHxRCZaywGB5at6UikA",
        "value": "S1pyLSJ6GBr0jPhe9BTNqlTQSGeQxne8BI5b3r3eQvZeKNIf365doxz10u39gOOd-Ye4YnaHdEX8qMu8DkZzb38TGLEhQB_a0iQBFf8stYxCszk0Sho2vOtAiMKH2Eurb58fjUwL9ptE1IrnPWwD8oessCxYF_FswBWDvQeIRh5zV4UB5jRN1PJjiV466QidSu3Si17DXCZ81nSbupknanGd-u6JiA3vBtLad-MKcy2J_jpFNKjODr2Sjpsx4E4tu5XMkrVYAWajQVKjSQq4VlxFzEys8lZ49H6XDtAwthCKX7dFaZ7sXE7cchE3ehQFzdjC91k5bEkfMkAOx4ox8A"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1528209015/a9c764544b2c0eae38a3a7423af27839",
        "value": true
      }
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1528209015/a9c764544b2c0eae38a3a7423af27839/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "ljuMf88Wi39M9Bli6-8ZEW4iAHxRCZaywGB5at6UikA",
        "value": "NtIQ_mNDpqJaNXfL3mTn41YtBK_cH7MLriK_SQwtJbDGEh2jPcoQc347goDdafgHiHyhiqNCtsBRWMNqybzb6cKY05UtNa9SSmcQ-30CZGNN8TpSOuU1syhOgCkiVxIar_mjoJEtscI0plvFEyYn-8d4pnGabHCYhYSyO3qzXmOLQKmnzxX9ODnpEJbdw6Xa8Vpz_5d4ntZ2eMVkaTCvqFs33gAUwwkQnlZZc_dlEsXhVdccq8ZY_K-WY7lUh7INkTDgw6UQw7724QXn73MIQmM5-AUDdhHmFMtHBrKeX3hNSqbnMEdplU0U0xof_ZD3AOKt971c58eH9v07ZEvwqQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1528209015/a9c764544b2c0eae38a3a7423af27839",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/",
    "RandomSeed": "1219160354"
  }
}
