{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/599872106/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/599872106/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "67"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759318094,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759318094
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/599872106/30d1becc11700bd724272a7ee20f891f",
          "kty": "RSA-HSM",
          "n": "pW4KwgQkz-jYMR6z9Pl4KoPIYWDgoc8Lc_tH2N9Fx8pJVnu5YcCBDuYzovIgejzdE7Kbw0NoE9Pg5RYdKmobgLVSQHVnKqsLyFbnqOyyrCAR5fD_Lvfg-EQXvZt0zUfCq7RNr3Iu2GBvUMAU8lRDrAy4k1OQqdo603rfvuqGJ1Hu88pkDbxq5-Kr9Ue-ut0N9vCJL15V-9vFT5G95Jj4GsE8Xaq75PgfFFcZcY5jNGEU9UZPJ2MIa9PgG5I6IiLZivoYE0m8zRJAhKK-26AXudBF_XAn9ZMEHYvYStu-fhDEINdzOxE2EE_5y-Z9bBWM-nJ3IM9zQO7x6nlmniAXRw"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/599872106/30d1becc11700bd724272a7ee20f891f/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "4taTCqYLuGfcgEPbvld4cMpJyyqPTmAw15rDtnIDghY"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "8"
      },
      "ResponseBody": {
        "alg": "RS256",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/599872106/30d1becc11700bd724272a7ee20f891f",
        "value": "Nq_oAsNse0FXXTfBdYg8ul02N7Xfkh8ItYDPJOLaWOm1A6qJ3nqMYdNqem2tjx0m3b-PLqfkazMJKm5KiAeV4ZhoQ1z0AyaHK[...]
