{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/911040267/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/911040267/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "70"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780406073,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780406073
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/911040267/96ae3d1cbb804eff3518789c6aea2cef",
          "kty": "RSA-HSM",
          "n": "i0ov59msz63NFMGv_jwdfhQHdVCCH_VVg0o7116ZVCI8zQqXH7e5GOrJQKFCuEakpohSWVF3qUvV9bFpNYVGuWL5-lojTH7mMFDj_UdJDdmJfL9_NUd4sxYbUp9dUzJRt-3FYFwqvChnA3Tu58Gv4ThTPfy0zzXLUyPAUibNNB2LQYDJPkI9arSklDSM9HBiTSbAUvL_scoAVsjFoA3WUnVsYR4kiZnsyd5ot6CY7EBHIEXxX_tyclILxANEhsh-FjfPf6FF1kwnDIOkFtNMwvNOVKa2yreSlChq7M1qit_0BcBeNJvcB6ORV_o0MW3LG0WVrMgvp3WwWX5tNGESaQ"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/911040267/96ae3d1cbb804eff3518789c6aea2cef/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "jHWuDHHUlIW0WAu3Qv-R61R3DK1tUsK2Gbb0QvSNrvF-346P1erWCCbAyV9TC2uG"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "8"
      },
      "ResponseBody": {
        "alg": "RS384",
        "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/911040267/96ae3d1cbb804eff3518789c6aea2cef",
        "value": "AlvnKIWDOt6JwoaqasroKPmTvKlkU6lebVanEc1NKpqE__Z7H3mHRHG9M9v-FcJFM6jEim3izco8cgN[...]
