{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/87830289/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/87830289/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "118"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1693004414,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1693004414
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/87830289/1f647be53f52498f2d19984d6e0c8698",
          "kty": "RSA-HSM",
          "n": "pQGPD1uS1amp1KNmhTP3lxWQapmbKM2ctn7q_Oo-Zsu_A8VC2IzMKeX6S1obVSjIYvxIJ1PiLavW1UNvitZswYrudAfzX3dd8osaCzdhCZZEHtl5XH6kedh89sT20GIKNUWo2_drLKKMq8QDt-fc0VeCOjPeQITqXJ91EGuiNW_KuB3xCHj_Cv1t2a4F9_AGRwHyeQgu54SLZ5zJ_geGh1HUCMQJ3t0iXKmHUJaKrrRQNMp2awizMIaQd046bo4DFPfwQzmzZQbMCX1TBwZD2h9Cl_03XvbMtRBQqBOO_9DhvbsLbWwPvq2chIBlKRAB2HoyRXE82jZvqs0RB0HBhQ"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/87830289/1f647be53f52498f2d19984d6e0c8698/sign?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "value": "sjsDCTGXX5T13d0PoDMa7mwKF05OAu-lzl6pqsXJJGXFQQdTpGvnWLjl0hJnocwtRiEbJez5eDXStRKi9EXA2Q"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "21"
      },
      "ResponseBody": {
        "alg": "PS512",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/87830289/1f647be53f52498f2d19984d6e0c8698",
        "value": "m0Vx36F6OOYjZAg6Icu7SO0af-p4qDfXVFww3OGCgUXoMY1yNKaff3TmVdCrS8lYOlT5TyBGYYQT4Ljt7t8tG-IOTxFSb5lF1zaVFuMG_TXxwm6uhgzWtQ8SrDuACiIhj04NZVuN7uz4D7k95qZ-VHdSGXWhye-UD_PWKIy9QmpaEalAmoWvYZPlFvMZlbfviYuJQeTJqhkRkb_rS_ddbrE3mPaADi1wrF_mjwUSkema20eO3Y-XGMCzBWUUFJKuPt8YwXWShLmntV7GJkj4opD5qti3mjHlFK9gojc6_K1UGJ7rCK33y43KgvCL2RNob7j29KADaFL_vgZd6Ce-2A"
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/87830289/1f647be53f52498f2d19984d6e0c8698/verify?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "digest": "sjsDCTGXX5T13d0PoDMa7mwKF05OAu-lzl6pqsXJJGXFQQdTpGvnWLjl0hJnocwtRiEbJez5eDXStRKi9EXA2Q",
        "value": "TDjzGSO_7Dxkpj9ykPaU-yQBCVutnxA1y7tubeOP2z0XdyRueWpu6bEQOEdWUxiK6BESi-sbiGQpggPZ1yqcTJvSDrEPnOKmSg96sy89YhuF2j0iPNIinnvoXVeLnLcbnkD8KA2zZrkTJ7YfsGOC9YeQQxVzzsTcavZptPINwxI_99Y3vELQ5aeLsFDLqBQjyyeWjBT_UHZZRbfn4R3XXKfsmdUfScbV1_Z-yUNvS1XPUx-fxrAf4882oUccCm__ZmX9Z0ddBQKFQoPPrJKthF7ZqbwVkukpeMEIf22X7VM0h9JDogw2hbE6nOEDqf89wedS6seHLBOPvuQzGLvuOg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "PS512",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/87830289/1f647be53f52498f2d19984d6e0c8698",
        "value": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/87830289/1f647be53f52498f2d19984d6e0c8698/verify?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "digest": "sjsDCTGXX5T13d0PoDMa7mwKF05OAu-lzl6pqsXJJGXFQQdTpGvnWLjl0hJnocwtRiEbJez5eDXStRKi9EXA2Q",
        "value": "m0Vx36F6OOYjZAg6Icu7SO0af-p4qDfXVFww3OGCgUXoMY1yNKaff3TmVdCrS8lYOlT5TyBGYYQT4Ljt7t8tG-IOTxFSb5lF1zaVFuMG_TXxwm6uhgzWtQ8SrDuACiIhj04NZVuN7uz4D7k95qZ-VHdSGXWhye-UD_PWKIy9QmpaEalAmoWvYZPlFvMZlbfviYuJQeTJqhkRkb_rS_ddbrE3mPaADi1wrF_mjwUSkema20eO3Y-XGMCzBWUUFJKuPt8YwXWShLmntV7GJkj4opD5qti3mjHlFK9gojc6_K1UGJ7rCK33y43KgvCL2RNob7j29KADaFL_vgZd6Ce-2A"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "PS512",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/87830289/1f647be53f52498f2d19984d6e0c8698",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "470964430"
  }
}
