{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1373243283/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1373243283/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "76"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759318141,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759318141
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1373243283/1c50fdb9e38e097993a1028aa2ce7222",
          "kty": "RSA-HSM",
          "n": "lpFJh_HKBFsxSDCd4VXeNFKYthfCMB9wIwaFOXybhuf47-btd7ts4dLctD-k41QMyx7ITR6p9MflMQ9IplDyLEzbIHAu5iKz9FxuuJWdO-zEgkihVEknVz02BCH5Oirh4FBM0PMv1ea4hkthfewAVFTy_HkSlwHrElj5j8OerO2gCaLdJXNUrS3_oAB4INCAE8jakQdWmxHA-QMWu30We_SigXmL85wl7B57cdnva6wbmmPFE0qHuRvWufFaV6Bbb1wpOrlRup4nRUClU7HFhSKmN4RUIeUY2BlPtOI0Jf4XUSCN6VmzkVJn1-dGr_TLX9BF7AW4_OiD-aqK-B8HaQ"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1373243283/1c50fdb9e38e097993a1028aa2ce7222/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "OyRmtRs3dXlpP6tb51z23msPzyYToNX5GNu5dDMcDpU"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "8"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1373243283/1c50fdb9e38e097993a1028aa2ce7222",
        "value": "cxlA77-E0MiBXhuQwe7ssC00NX2n2SCKEzb2oHNXoSKrbXDnrpO2vmn1SxFKzNoTmrRkViOFSrF7ur7990BrDvesu1jUXGz5[...]
