{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1778987701/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1778987701/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "85"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750764180,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750764180
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1778987701/5dca1fc66d1240c6bc2cea82e2bd5a09",
          "kty": "RSA-HSM",
          "n": "slIF0UhcVTFFntbaoYjFM5c0EO7YqQwCL_Nnz55WsaY2Rj38zgaLUKPTLEE_yBewDxJ3Ludkc9zyIzEk09jzGaqBSMVob24ZowmrIo0N8_v46I9eLmyYStnWMWtpSK8oosac_zLnajhtc3xJTe0lE0jAo4sgqT26eU3X1WeH_qvOhlJqMtieKpL5xKr1K7Jq07E40aSz_GB7fLHbDH-w0BAOX-hHadTCcPkUyS0JIOlrCvyHqJtoDHBibSUPIOlXEV4Ce0Ydz1v2os7qq5mDU9xtLQUwKLbz7Scvot0FYVP5FyGnFhzsne5c2TQ-V0tKNPs2WrtiMz2PRygAEFZz-Q"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1778987701/5dca1fc66d1240c6bc2cea82e2bd5a09/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "6qZGFINLI7Fad6H0zIwwvIcBJRyL9mg0VcUtYeEWZDA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "alg": "RS256",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1778987701/5dca1fc66d1240c6bc2cea82e2bd5a09",
        "value": "TjC1DuXLdtjFW5c7PDZ73EdqIfaYWE2i24W-p8GOcjKYc2m5dGDbK1ptYhuzvqLScgruR0stQye8Eyp3tDtl6fs3Xkl5Sr0gYvM3x63jAwiAK_CYTX_6ffFZmIHSxutZNBtCjkoTsSNsFOvn6nVejFFBteKYRXyvI4q4fEAtjOvuabOxga8E5G5itETDgI6lkl9aQ1FSd5gZd_zFs7-el9V5Z9jnlIkavpWVhJAL-0deO6SpfrcPipRRryEdR7OSAZad7-fdd-IjDHiqRpIgDgyXTq4QC3wNgUKn1XwsMA6en-qXcOZivPeAxwSh6BnvxiEcam_Tu9O5_NAnPG7pig"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1778987701/5dca1fc66d1240c6bc2cea82e2bd5a09/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "6qZGFINLI7Fad6H0zIwwvIcBJRyL9mg0VcUtYeEWZDA",
        "value": "TjC1DuXLdtjFW5c7PDZ73EdqIfaYWE2i24W-p8GOcjKYc2m5dGDbK1ptYhuzvqLScgruR0stQye8Eyp3tDtl6fs3Xkl5Sr0gYvM3x63jAwiAK_CYTX_6ffFZmIHSxutZNBtCjkoTsSNsFOvn6nVejFFBteKYRXyvI4q4fEAtjOvuabOxga8E5G5itETDgI6lkl9aQ1FSd5gZd_zFs7-el9V5Z9jnlIkavpWVhJAL-0deO6SpfrcPipRRryEdR7OSAZad7-fdd-IjDHiqRpIgDgyXTq4QC3wNgUKn1XwsMA6en-qXcOZivPeAxwSh6BnvxiEcam_Tu9O5_NAnPG7pig"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "RS256",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1778987701/5dca1fc66d1240c6bc2cea82e2bd5a09",
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1778987701/5dca1fc66d1240c6bc2cea82e2bd5a09/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "6qZGFINLI7Fad6H0zIwwvIcBJRyL9mg0VcUtYeEWZDA",
        "value": "TjC1DuXLdtjFW5c7PDZ73EdqIfaYWE2i24W-p8GOcjKYc2m5dGDbK1ptYhuzvqLScgruR0stQye8Eyp3tDtl6fs3Xkl5Sr0gYvM3x63jAwiAK_CYTX_6ffFZmIHSxutZNBtCjkoTsSNsFOvn6nVejFFBteKYRXyvI4q4fEAtjOvuabOxga8E5G5itETDgI6lkl9aQ1FSd5gZd_zFs7-el9V5Z9jnlIkavpWVhJAL-0deO6SpfrcPipRRryEdR7OSAZad7-fdd-IjDHiqRpIgDgyXTq4QC3wNgUKn1XwsMA6en-qXcOZivPeAxwSh6BnvxiEcam_Tu9O5_NAnPG7pig"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "RS256",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1778987701/5dca1fc66d1240c6bc2cea82e2bd5a09",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekvv76hsm.managedhsm.azure.net/",
    "RandomSeed": "1925100279"
  }
}
