{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1016226540/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1016226540/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "142"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781250529,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781250529
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1016226540/1faf0191e6c4077e34c5051b8820a0eb",
          "kty": "EC-HSM",
          "x": "njC706ifQkC7sZKZC2g_lW2mFK7WPPSIy1e5sT3S6uquWy1IoGipk7ZK9fFI2Ex5",
          "y": "2am9rurFB-UWVB8u8vrNky-SgoAuzNn509FFdKfvN9EoepoWGJmOU2YWfFj3UFpR"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1016226540/1faf0191e6c4077e34c5051b8820a0eb/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "yGU8im4xTm8UpDfkig-SU8_bFoLUBXhZhxVHHLb7yRgiWb1BoQJ8yTL-gpiBFsBn"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "17"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1016226540/1faf0191e6c4077e34c5051b8820a0eb",
        "value": "XpWVCT8sI_lLE0g2UhfVuj9cY6W-GgvONtHSa5gCYLT5_5QLc2BhRAP-xhckUqN2-9LD37GQbnCKP[...]
