{
  "Entries": [
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1301872329/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1301872329/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "oct",
        "key_size": 512
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "68"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743721560,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743721560
        },
        "key": {
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1301872329/3669fff2d2aa021202d16eb8ff4fe49a",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1301872329/3669fff2d2aa021202d16eb8ff4fe49a/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "HS384",
        "value": "amz6ExSQUtxuGQMoenh54XhPzHtSNWYFubz14oIdUWmqYycBlqpdr7yDBUKiWlUo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "alg": "HS384",
        "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1301872329/3669fff2d2aa021202d16eb8ff4fe49a",
        "value": "PCn3TxaTphDFtQJK4EnZ6fH3mGm8cNB8ZRQlInepFCwALif7NoLf1clVn9vmxaYH"
      }
    },
[...]
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1301872329/3669fff2d2aa021202d16eb8ff4fe49a/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "HS384",
        "digest": "amz6ExSQUtxuGQMoenh54XhPzHtSNWYFubz14oIdUWmqYycBlqpdr7yDBUKiWlUo",
        "value": "PCn3TxaTphDFtQJK4EnZ6fH3mGm8cNB8ZRQlInepFCwALif7NoLf1clVn9vmxaYH"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "HS384",
        "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1301872329/3669fff2d2aa021202d16eb8ff4fe49a",
        "value": true
      }
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1301872329/3669fff2d2aa021202d16eb8ff4fe49a/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "HS384",
        "digest": "amz6ExSQUtxuGQMoenh54XhPzHtSNWYFubz14oIdUWmqYycBlqpdr7yDBUKiWlUo",
        "value": "PCn3TxaTphDFtQJK4EnZ6fH3mGm8cNB8ZRQlInepFCwALif7NoLf1clVn9vmxaYH"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "HS384",
        "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1301872329/3669fff2d2aa021202d16eb8ff4fe49a",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/",
    "RandomSeed": "278595690"
  }
}
