{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1993188421/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1993188421/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "104"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781250525,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781250525
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1993188421/0b000e39139a4634bebd2f29605d22b5",
          "kty": "EC-HSM",
          "x": "nHQzP1FVa5OCqvrr_Wnp7IEERBaMwnmWzx8-XOcBA-E",
          "y": "axsNpkEjGG8tRR4vri9-u53z0P8r1ci7bvat1YYswno"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1993188421/0b000e39139a4634bebd2f29605d22b5/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "0Wvii3bvnsBA6xygaVHZiY9hAHD81LIx3PBOZwnFhbc"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "13"
      },
      "ResponseBody": {
        "alg": "ES256",
        "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1993188421/0b000e39139a4634bebd2f29605d22b5",
        "value": "iBc3ntxwpvUwMCyXPHfoAk7PkY6ZwKZLzvxC5Py8g8O-NHcmjt8te_e-MYt-B8dfq7g2X7YWxL3VfnD7aDW3gg"
      }
[...]
