{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1631308950/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1631308950/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "352"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1693004395,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1693004395
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1631308950/46f4c78734720364a86ddb17498f1d0c",
          "kty": "EC-HSM",
          "x": "AbdmSfGH1p1FCW8getHZQB4ttIGE9oI04u6XtE_k-_lUxdDFvkADzX0Fdwk7dEnGXYkJJDCMNMBG_9bofPmVDNXs",
          "y": "AC3IGYtToQUO9O4MaGlUdNdlgPnJ8XrlPivUdoeioxnmJiKzOOWow1msaf6adIXuC-ska22ZQdELAZF7U9f8q0B5"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1631308950/46f4c78734720364a86ddb17498f1d0c/sign?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "GGqyLS7VceMblObj2NFSTcCq_M0AadwAP3ExDgyPJwHC_mqiv5CSJFOHOJtabp_sUv6PkXK26UuOYQEntOIk7A"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "46"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1631308950/46f4c78734720364a86ddb17498f1d0c",
        "value": "AQHg0dTR-5q4wWDjECXVox-ts5oMIYOl3jC9qv06-P_JtQH0mfrwJ_MZxr7Z024s_YWnskv4GHOHbaJnX9yUq8-7ARpEezDV2Kj9p-UwnA9LQWxpO_L3jrgSH7BI6O4ViV3-C_CFeeyr4JVAUGATB0n00_TTQLJT38uUNJopIz8HVm5h"
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1631308950/46f4c78734720364a86ddb17498f1d0c/verify?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "GGqyLS7VceMblObj2NFSTcCq_M0AadwAP3ExDgyPJwHC_mqiv5CSJFOHOJtabp_sUv6PkXK26UuOYQEntOIk7A",
        "value": "Aaqilu_MaMOxjYkwx58dhnZHxi1Fsc9gSAAdYqDhB29qO1sH09EoZfzGK04LtjbrsqwCbHV2FegZkimNsf3RtujoAdA81Jzk3YpVbj2f1upxEc08c0DLYb0pY97rL_WKY-VpncFylEcMI986u60wvdV5xSqLW5kf8zMlufD89qSvbxCJ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "70"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1631308950/46f4c78734720364a86ddb17498f1d0c",
        "value": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1631308950/46f4c78734720364a86ddb17498f1d0c/verify?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "GGqyLS7VceMblObj2NFSTcCq_M0AadwAP3ExDgyPJwHC_mqiv5CSJFOHOJtabp_sUv6PkXK26UuOYQEntOIk7A",
        "value": "AQHg0dTR-5q4wWDjECXVox-ts5oMIYOl3jC9qv06-P_JtQH0mfrwJ_MZxr7Z024s_YWnskv4GHOHbaJnX9yUq8-7ARpEezDV2Kj9p-UwnA9LQWxpO_L3jrgSH7BI6O4ViV3-C_CFeeyr4JVAUGATB0n00_TTQLJT38uUNJopIz8HVm5h"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "70"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1631308950/46f4c78734720364a86ddb17498f1d0c",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "1607884921"
  }
}
