{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/260423242/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/260423242/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "104"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1707539468,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1707539468
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/260423242/4f7e63a4df8c48dc3daa20fd3c2671c8",
          "kty": "RSA-HSM",
          "n": "jFvWiUeC583b9lNnAg4Kgf13R07TeXcpLMDpqWZPHAdQ728mQQ1uUJGmrhq-rmNeRrtVoFE5IiQryd6Wab9lo8Ed65Gu81NgJ8NMCpmpi9-Gq-1SRrO8UE9r2em_qP1R6kbyBhklBh19y_bJRQa9jHcXqJMjiVj6CTDL0_iIlA9U-lYloAjnhX0n-ZrFy8JOuiw1k_kZo4wg2zMiOG4irXwN0E71zezVbI3Gp7e51x0-13aQE0W4eDE9jgYHyZ-QY00naASANm-Nthc8DtWZfs4rjzRv1fuVOyr8bzVUPl2PETJwQpWv7tMrTKPC5qRo452aAJmcv99bdKA3jR0X1w"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/260423242/4f7e63a4df8c48dc3daa20fd3c2671c8/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "PAv6prg3PsKcEJ-3-xBfQlASyTKIjpn1iFTp1SB7S-U"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "11"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/260423242/4f7e63a4df8c48dc3daa20fd3c2671c8",
        "value": "byXGns-wpeYkeRtfIs1KUFnXaNePG40iwqFkbC25ubV2zUEm6ew-aja-f64eFDsL3UlsGy93rHRnegZwmpuTBepQHHNq8W5TFjrxEcOCtV6BzdIn7DWTe3y_4ogL5HWVzofzlkFiTYBi8oyjPXBWIsh_C0jkumMV9egscoxFfZsDhAJi9ebTSclJLXRcpMHF6FxzHCcZvszT9-2GCy10kIXGVRJBKkCmbORuOR9az_sswylwP8xXRO2Jw_VYUDstAUOA_N3cSxEFnaBSyRkyZMdE8nGB0V0KdeJuIK1WOperSKpL-HKtdkEwr0dtnAqMM5B5Jljks4ccePjOMx7o0Q"
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/260423242/4f7e63a4df8c48dc3daa20fd3c2671c8/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "PAv6prg3PsKcEJ-3-xBfQlASyTKIjpn1iFTp1SB7S-U",
        "value": "ftL-LF5wEPpdCI8_VPDRimXgBZk1yW6wjssgAg-OHBEULa_msUnibdyZ-Rn-xQyp4drLws-yKtJ9qq0BaXa9Ws8P9FhrDbefaH9eoPDNV2neQlKIk84IUfKyeFBqaYb8gIZmH5rMx0diFvGu2QEFowe4UIaWNHPap3pUCIMMlkXq7rkRoEYBZ7apw-uFGxWtKZEuHEYFKxey30kH-8eLwkD_j9hmMdvU52SZqJR_FhGedpsX5dz2MLMfWEJutCwm7hEAPJMOOPN5ue61VJT5VTHINOBo6uVCf5Lk-fJ07udGWG3pRoJk0AVaSpnvnChNlNyAiJPlLq1EaZdXZApMFA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/260423242/4f7e63a4df8c48dc3daa20fd3c2671c8",
        "value": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/260423242/4f7e63a4df8c48dc3daa20fd3c2671c8/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "PAv6prg3PsKcEJ-3-xBfQlASyTKIjpn1iFTp1SB7S-U",
        "value": "byXGns-wpeYkeRtfIs1KUFnXaNePG40iwqFkbC25ubV2zUEm6ew-aja-f64eFDsL3UlsGy93rHRnegZwmpuTBepQHHNq8W5TFjrxEcOCtV6BzdIn7DWTe3y_4ogL5HWVzofzlkFiTYBi8oyjPXBWIsh_C0jkumMV9egscoxFfZsDhAJi9ebTSclJLXRcpMHF6FxzHCcZvszT9-2GCy10kIXGVRJBKkCmbORuOR9az_sswylwP8xXRO2Jw_VYUDstAUOA_N3cSxEFnaBSyRkyZMdE8nGB0V0KdeJuIK1WOperSKpL-HKtdkEwr0dtnAqMM5B5Jljks4ccePjOMx7o0Q"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/260423242/4f7e63a4df8c48dc3daa20fd3c2671c8",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "1690704245"
  }
}
