{
  "Entries": [
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/2074088582/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/2074088582/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "oct",
        "key_size": 512
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "49"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743721536,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743721536
        },
        "key": {
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/2074088582/599b23c347a042d9076f6a769b0835a6",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/2074088582/599b23c347a042d9076f6a769b0835a6/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "HS512",
        "value": "UrB5_GMFo1u261fMA6DAQMtvKSRTLmO8f-Lg1FKHTyOQPjxIkbCuGiOJdpPn_lUSBd4CT2BXAkNiKDwgjaWTYg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "10"
      },
      "ResponseBody": {
        "alg": "HS512",
        "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/2074088582/599b23c347a042d9076f6a769b0835a6",
        "value": "nwQKgCTQUwVhX5sMCx7BmvWfV4UqKJlycs37ybxRmstBQ2aV56TSpc3beu4hNILWWplFcpfSn7gyvxSkuTI9VQ"
      }
    },
[...]
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/2074088582/599b23c347a042d9076f6a769b0835a6/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "HS512",
        "digest": "UrB5_GMFo1u261fMA6DAQMtvKSRTLmO8f-Lg1FKHTyOQPjxIkbCuGiOJdpPn_lUSBd4CT2BXAkNiKDwgjaWTYg",
        "value": "nwQKgCTQUwVhX5sMCx7BmvWfV4UqKJlycs37ybxRmstBQ2aV56TSpc3beu4hNILWWplFcpfSn7gyvxSkuTI9VQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "HS512",
        "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/2074088582/599b23c347a042d9076f6a769b0835a6",
        "value": true
      }
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/2074088582/599b23c347a042d9076f6a769b0835a6/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "HS512",
        "digest": "UrB5_GMFo1u261fMA6DAQMtvKSRTLmO8f-Lg1FKHTyOQPjxIkbCuGiOJdpPn_lUSBd4CT2BXAkNiKDwgjaWTYg",
        "value": "nwQKgCTQUwVhX5sMCx7BmvWfV4UqKJlycs37ybxRmstBQ2aV56TSpc3beu4hNILWWplFcpfSn7gyvxSkuTI9VQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "HS512",
        "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/2074088582/599b23c347a042d9076f6a769b0835a6",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/",
    "RandomSeed": "1798630173"
  }
}
