{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/152545809/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/152545809/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "88"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750763912,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750763912
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/152545809/32f9d0692d6644119d2812af8fc4e415",
          "kty": "RSA-HSM",
          "n": "inzCweTGhMbMCsAqMm3V1Bps6WbvpvNRzbw0Iv6mFXW6rVaPagQG1_irJz3vCLOjaLzy3ZmgrTP-o09liRZrGdHof4p0HehJbdUV2NKXRsI9v_kCouHLAOYLKnbtvk5lHJy_2j2IYvrMdwxvCPRBh0msdOprbipBmCGlCJ7BJrH-a7mCSobqi1N5WQXZ7rjRoT21bZlGagqtvg8_a0NZ63vZWbQA3XH7F4948FW5EWlysik9RG7SW3L-qwvQY6xDPe-kXxbJjos1YZzVmn10vCnSbujifOMTqXjVLV2ojDK2rSrczZZ5x0XwO_-oxgcHucZ3js-ymzs9IRiPxjeB8Q"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/152545809/32f9d0692d6644119d2812af8fc4e415?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250601-1-938c6570-develop",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750763912,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750763912
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/152545809/32f9d0692d6644119d2812af8fc4e415",
          "kty": "RSA-HSM",
          "n": "inzCweTGhMbMCsAqMm3V1Bps6WbvpvNRzbw0Iv6mFXW6rVaPagQG1_irJz3vCLOjaLzy3ZmgrTP-o09liRZrGdHof4p0HehJbdUV2NKXRsI9v_kCouHLAOYLKnbtvk5lHJy_2j2IYvrMdwxvCPRBh0msdOprbipBmCGlCJ7BJrH-a7mCSobqi1N5WQXZ7rjRoT21bZlGagqtvg8_a0NZ63vZWbQA3XH7F4948FW5EWlysik9RG7SW3L-qwvQY6xDPe-kXxbJjos1YZzVmn10vCnSbujifOMTqXjVLV2ojDK2rSrczZZ5x0XwO_-oxgcHucZ3js-ymzs9IRiPxjeB8Q"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/152545809/32f9d0692d6644119d2812af8fc4e415/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "value": "4NZdp8qIAdlzpacfyRuhClf21oL9pgL3NqUezXm3v7Anp4GVBMcNWpMsgwWAF9gmoOVdiSfRaTRhPGvbzcZp7g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "PS512",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/152545809/32f9d0692d6644119d2812af8fc4e415",
        "value": "GlwpcSNS_kvUoungl6OBxLJxHtUgD4rD0kHjvbxwuaZiW5uz-7uqVRX5Od_PB6AnVOdT976sNhbBcoGC9Cs5gG_0eyH8dHdA-YW9P56t5gJkBXd8o-n0GPyJ5g9c8xP_AEDDR-YEB1lokw2SJSdZh5cg8vQ64IAsyjU-78LBRrsMC1O37J78mlpG_0vPh9JnUUurm-5OllVFu4YVFG7kOvOEn7FwdjzrsgQIq7ptMfIXxmAolmBHdTcImDXCQYkZIoJZOO_MwFW5uCUyfbJOg1tFF6D5AxLW_vKg-RzAtjAbK_Ofv-CVteL_t_hjajHGJ4G6MzTVOLXmYpaR9N26Cg"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekvv76hsm.managedhsm.azure.net/",
    "RandomSeed": "1196138017"
  }
}
