{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1533715204/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1533715204/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "oct",
        "key_size": 512
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "48"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759316222,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759316222
        },
        "key": {
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1533715204/326c17afa6b4096c0cca225caa47f000",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1533715204/326c17afa6b4096c0cca225caa47f000/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "HS512",
        "value": "P0YzBfl59LQyE15R4OKlrSmXA6v35eAe4SojgD2Macv4D6w9J_Bf7nUqT41hpXjzOEC61s2E-auerKDeQC5Wvw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "6"
      },
      "ResponseBody": {
        "alg": "HS512",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1533715204/326c17afa6b4096c0cca225caa47f000",
        "value": "-9rdeVv3cEutCLoAcT4mB5GgMniLz_KE7XoVWlFnrSenbv1DhlWIB[...]
