{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1307784963/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1307784963/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "103"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780406209,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780406209
        },
        "key": {
          "crv": "P-256K",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1307784963/750893760e81443832b9f41ffff0082f",
          "kty": "EC-HSM",
          "x": "EsxbgFJC4LuYUQHFl6Sq8tkg-NH8kK3COGnpH-07Ccw",
          "y": "_LeuvjMBKTt-QllpNH6e1Rj5bFaNLm8pp3QKuI0aEo8"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1307784963/750893760e81443832b9f41ffff0082f/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "4XAvIE-eEabxBLnNtSSPI-YG88FJqiZiuACbzKr6EX0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "11"
      },
      "ResponseBody": {
        "alg": "ES256K",
        "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1307784963/750893760e81443832b9f41ffff0082f",
        "value": "8OLNgeRY_J3VZE5rv0hCzzgLWzOFMaZIaJVEkv25QaZr-5pKp4jq8Wj-lTALh6YQw36iWgdhM17ra0M3hGtE2Q"
      }[...]
