{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1932896078/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1932896078/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "96"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1693004249,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1693004249
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1932896078/9446ca8293380f60207e0344e32964ff",
          "kty": "RSA-HSM",
          "n": "l_uPcBGyHlIPlVXlVRhEqzdA-xnFWdZJhLZg4Tuz8cqcaiBmWPaCIlsAdU4X_vZTOtmJb3C504LsuBJF_E3jIPALVgxm7QXQOl7hsmVIdimSS1VYtqUJdtQrHn3sFNkjW_8R5VjjhmGLAOafMVK4XuwPBioHOc1cT7xofWyZpD6UiI-6pusVtb869BFdNRiu9b8sRAv-NKUO6BZY06X7gguEPx355EJ9qHLnu0U4ZCW0WI4srUjpNYyniaxsZIrxlQ9pKY44H1ovWKMn1NiHfyoLU7pepwDkPtdekx7Qyqtcfq0miDOVeMpHQifI5fFedWJ9q8XkJkUQYe2_33Lt_Q"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1932896078/9446ca8293380f60207e0344e32964ff/sign?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "xAIZjIruh1SMKlGIjbHz08jNNHxb-fMsjZmOXchuK5A"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "19"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1932896078/9446ca8293380f60207e0344e32964ff",
        "value": "ldiv1MjNizcIK6bWRPO8KF1IzQd7s9oz5p0JAeLlhMnz7UeRk1m1E7oKRmB9GGLIDDW3e5QjQafjdiCyzITP7nU_jzzqI1cFilJh9oDxM1TWyCet-PZe-WYEP0p3ltLoOyyl3DrFkq8NhajuKcsQSohKRtHrXw7MOVTMlEjQvM8-7FJJjSwnd1VcmQGEt9RHCdEZYckM6DloINRPd88Sik9ytjZqA-lfZDajFdREWYcbsuBL1MXZoaeEKeYs10UqfVUnh_JSefqWbQMlhTNVQDQkozxTw4JBjYTc0wLg8eRVi3xe7wtQj1ZLavSdC2Vui5MWcJuXTOMAuqQLZNhmFg"
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1932896078/9446ca8293380f60207e0344e32964ff/verify?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "xAIZjIruh1SMKlGIjbHz08jNNHxb-fMsjZmOXchuK5A",
        "value": "gDIQZ4RvRr5XHTRgoC3SKjPxneuv3O7br1AO5_F8nzihbvVlCLbfYhiI0_SWqWBcr8BL6paWrXb751Hg5TUVOtiXfx1lgC4p8HKQ9t0V6zGmiwVbnd1SUkefX7IBIp15DMCjhgduRo24WCYOfZ3xOl3acyp_VCk6Mdh_W-uBffq38PKei1E5yQ-v0WY5IWnWpEZVqUEwmPM3a65ED08RJfEDXY2S-UMNqlGlNPUc-OUcK0USPnrfwuWzcvjF5FNIZIydmKYQbeO2Li02i9qy-2QQLjzxc18ZRM5hzCSxQxN5KkT-hoj271-IEfH0k2GAUdNk7IvLcY9JNPz0lPRdkw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1932896078/9446ca8293380f60207e0344e32964ff",
        "value": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1932896078/9446ca8293380f60207e0344e32964ff/verify?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "xAIZjIruh1SMKlGIjbHz08jNNHxb-fMsjZmOXchuK5A",
        "value": "ldiv1MjNizcIK6bWRPO8KF1IzQd7s9oz5p0JAeLlhMnz7UeRk1m1E7oKRmB9GGLIDDW3e5QjQafjdiCyzITP7nU_jzzqI1cFilJh9oDxM1TWyCet-PZe-WYEP0p3ltLoOyyl3DrFkq8NhajuKcsQSohKRtHrXw7MOVTMlEjQvM8-7FJJjSwnd1VcmQGEt9RHCdEZYckM6DloINRPd88Sik9ytjZqA-lfZDajFdREWYcbsuBL1MXZoaeEKeYs10UqfVUnh_JSefqWbQMlhTNVQDQkozxTw4JBjYTc0wLg8eRVi3xe7wtQj1ZLavSdC2Vui5MWcJuXTOMAuqQLZNhmFg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1932896078/9446ca8293380f60207e0344e32964ff",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "468057664"
  }
}
