{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1302326344/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1302326344/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "71"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780405293,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780405293
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1302326344/dd24a8e2d263069111611b42710a9165",
          "kty": "RSA-HSM",
          "n": "uL6CBOfVg_gO_1IHy3m-GLNMvpU_s_-aHYjgEbLhNviLUbn5Faw67sLJZ6eWuju2VvIpAzu5IcqaKU5rYWNq0Bsw4hKgipCOMN0WZzomNF_ftPQoSlor1wjeqvkaEpGeN-Z1CCt0Bd0QISXZ467pNSPW0ERvlYfP3i5j9h1dDJ5g1uhDLgAAOVN3hLQs5ox2ROizoKNp78b7eSCZSvA02teOoiqpXEoXELTAHpLKAYp_Ewk4hmCBxnD4uLR7oy9p-fT27PIiQl2H9wAQmbcQ0tfQuzHAFEGFEM8WrtusWPqxUYBCHRFhTi9SgSfrOaMKB_FV4w49DqcXOT0Uvie_lw"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1302326344/dd24a8e2d263069111611b42710a9165/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "uDJBkeQCehqB1H_CnLCr2lNR1_bA2pPxxi2sNs0_t9Y"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "alg": "RS256",
        "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1302326344/dd24a8e2d263069111611b42710a9165",
        "value": "ByikQxyuXWACSDjoew2YCZ6-WZe6jx3yilpYcc0QJuGZh5p0w4My4GxGazw5L-ooxk9CWsJo0r-UHybGa8elhzM0wQa0aaBW86l[...]
