{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1225666621/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1225666621/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "109"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743438649,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743438649
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1225666621/c8009a41783d06d503420737a744550a",
          "kty": "EC-HSM",
          "x": "q5jmBZG7sJ1Fe4KTuud2MW1RSzg4Yhb2jwydw6bB63A",
          "y": "lVYBAH0Y133iyD-QlZL_ZTXEXQeZvBTSbMgtGiSW7Zs"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1225666621/c8009a41783d06d503420737a744550a/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "w63Q4DR4AqJoqSiVUxQ-tt7BZ5bRJG3_YvSyeBbtI2Y"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "14"
      },
      "ResponseBody": {
        "alg": "ES256",
        "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1225666621/c8009a41783d06d503420737a744550a",
        "value": "vxmepulW2xz9kFjEosrdcixuM2CQVmgm7Yroo9oujNL3Nb3PQnLI_NJDSGFLsYIjRxPcTbqZ0w_VEnZlPjKnPw"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1225666621/c8009a41783d06d503420737a744550a/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "digest": "w63Q4DR4AqJoqSiVUxQ-tt7BZ5bRJG3_YvSyeBbtI2Y",
        "value": "8UH5wLI0nrX1lYHa5Vctm0PaZAM3pj_PwxQUMeU7kEUP4jqSMQWm2cn3-7eR522vMe3KvryvlpL1HrVJQfPAgw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "13"
      },
      "ResponseBody": {
        "alg": "ES256",
        "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1225666621/c8009a41783d06d503420737a744550a",
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1225666621/c8009a41783d06d503420737a744550a/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "digest": "w63Q4DR4AqJoqSiVUxQ-tt7BZ5bRJG3_YvSyeBbtI2Y",
        "value": "vxmepulW2xz9kFjEosrdcixuM2CQVmgm7Yroo9oujNL3Nb3PQnLI_NJDSGFLsYIjRxPcTbqZ0w_VEnZlPjKnPw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "12"
      },
      "ResponseBody": {
        "alg": "ES256",
        "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1225666621/c8009a41783d06d503420737a744550a",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv331hsm.managedhsm.azure.net/",
    "RandomSeed": "709595603"
  }
}
