{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/455368850/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/455368850/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "110"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743543227,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743543227
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/455368850/743168e2c9d6026fb6d64b169c93e306",
          "kty": "RSA-HSM",
          "n": "joYE3ri3MYZt-QIPA9HZtlx5uS_1ZtweUD84WRVZE5kY0XYFA02Io9AlNB5ZjCMSMRqvyDBg8RUt8dzfNVi4qX967uduXzEZcy5xl7fYTm0DulOiDdQY0ObyRG2ER2WxWJ_wCxrkucMTwRtg_Xs5lBgi0CeErk5DYW-7G1vfV_s-B-9rz8WMfik70C2tydcZHqlJ2qLG3JFatOZwDS5QjM8DGUJvHXZk3IvJdirGDwqLS5_RjJGYHp1R5RDRlFcAdrH0eW7Yshn8MOpMaAwUhMv_1VPIMDAQC4CWAAr043a3TSg5dODYDXzUqjt-N3pgI_CrXenQZigTJtNBsPjvYQ"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/455368850/743168e2c9d6026fb6d64b169c93e306?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250221-1-e4accbbe-develop",
        "x-ms-server-latency": "23"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743543227,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743543227
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/455368850/743168e2c9d6026fb6d64b169c93e306",
          "kty": "RSA-HSM",
          "n": "joYE3ri3MYZt-QIPA9HZtlx5uS_1ZtweUD84WRVZE5kY0XYFA02Io9AlNB5ZjCMSMRqvyDBg8RUt8dzfNVi4qX967uduXzEZcy5xl7fYTm0DulOiDdQY0ObyRG2ER2WxWJ_wCxrkucMTwRtg_Xs5lBgi0CeErk5DYW-7G1vfV_s-B-9rz8WMfik70C2tydcZHqlJ2qLG3JFatOZwDS5QjM8DGUJvHXZk3IvJdirGDwqLS5_RjJGYHp1R5RDRlFcAdrH0eW7Yshn8MOpMaAwUhMv_1VPIMDAQC4CWAAr043a3TSg5dODYDXzUqjt-N3pgI_CrXenQZigTJtNBsPjvYQ"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/455368850/743168e2c9d6026fb6d64b169c93e306/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "value": "jGlXItfmXojRkJh9G2N7GpDKnRcZjw-5v7fXutiSxnjvflVSpE_9PfT-0FHuYjeFKQP0RLOrZ_EDG_9I5myONg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "PS512",
        "kid": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/455368850/743168e2c9d6026fb6d64b169c93e306",
        "value": "Kt3ivY5okHoU5QegyfNQ2K_ULFTpCNdP9RWUaOW9bcKtQJc_0un-DrjmRgWObdefYo2spMhV-pxzf25RuIUrTxvfAC506MF_sWE2xWak0SYk-KCcU4UHo1UjyxYeMDVG6DvpFlKCwwFOGXwCRNRPjuQtHYt_BjLnBaluVSSNusVeQC4rnhYX7aYVkCptnU4xqtM38BFR0gDd34Bs9NjVjXbuhZ7nV87vJhomrWdL9nb6OPNVdQvZi8gIKnyUJpKQVmhX-jSwTEALBvEDMsIOLYKkpqp3Me_0_0yNVpQFEyfPC1BJem8cQ6KpbfXBPtCSNll5FNJREZeaCOo62bdlUA"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv041hsm.managedhsm.azure.net/",
    "RandomSeed": "1156318492"
  }
}
