{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/428742990/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/428742990/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "77"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781249261,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781249261
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/428742990/303afac965a446b710f3e98bd77ab9bb",
          "kty": "RSA-HSM",
          "n": "jV8E5iPxaGrFjDV_j-keStGvD05329r98IyS8lsNGV-PVF9tEytU7u1gPTTwm9Ectq7MYnplT-VJDylWaCM2JnzypbiMVMfbJ1pJ9lNYxIQMgVFJCHK2szj13kS1ao_6kyIcr0XydhxvGXJc_fk-GlNUhm2GvS73aq2tQhhRU4y63TcHu_6gwgEMtVzc1Dt5zOFDab538PD4l8KwvrDXcMLwDO24TO1GaFx-OHs34yabFaurLRl0eaC3kT8qNmvlI3DnYU_cxv_QVZizvWKnejzAj9tNWPEtl9PeZ5rrlP2MrLvTX_WMqVlhXoQ0fsxrGcXi4ciD-EEFzjwAzGCy7w"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/428742990/303afac965a446b710f3e98bd77ab9bb/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "hTW6chFCS7ng3AWzA5jIOiVSOGTF4Pjgfj0awAjCuL8"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "10"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/428742990/303afac965a446b710f3e98bd77ab9bb",
        "value": "ZaSJ5K-SxNiPz0NVim7CBCfWvBY-7LR7C_mrnCyntONICCl1385SnYUK59aqtUtyasuSRInw1CbjSskFBZTO1ie8fjRrZLN5RCd[...]
