{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1667851872/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1667851872/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "199"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781250581,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781250581
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1667851872/533348515f1405ce16ce870a83bf76e4",
          "kty": "EC-HSM",
          "x": "yBtZw1QI-jCDRIvEnHAMmsDqar3vEtmRzteQzIHWUsJRIQkkeaVMEWi2Zo-_3wqu",
          "y": "85TtPXlodajpuFckFOkJGeU4oi93-8yoWcpZ1p9S4gtrEkpU0uGJ-y0KlIjZ7Ibk"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1667851872/533348515f1405ce16ce870a83bf76e4/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "kVFthfkGhWhfSJsj7e35Dca2zolrpYnokMrRSIcz-IU1Qwi9ALX0bxx8NBLWxcwb"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "17"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1667851872/533348515f1405ce16ce870a83bf76e4",
        "value": "f_oWNWN_q9MtiSUB9CzgIvee3aUaNyZi0bvz46Mn5Z8awdnVDJ0n1kAdsPBR4lYUVXxRUgE-yj0Zm[...]
