{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1691829514/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1691829514/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "219"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743497046,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743497046
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1691829514/ffcc7723c50a43508fc2586518b5ba6b",
          "kty": "EC-HSM",
          "x": "ADNPQE4SEjnoxS6fJbynbpVtZCRoLHHSoDWvTZg-6h3NJJ9RRK1dxFVhK-VW8HSJAlNPnS73fGXf8eMDhIL4mEzJ",
          "y": "AJHS4eNpcpr4At1f-nPqTjZjDwvKiLGLyte3P05JVFGhKXW3ZCybjx3ut1ux4lK3pd19_iJZ635CZzTRhYM-OKly"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1691829514/ffcc7723c50a43508fc2586518b5ba6b/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "L_ZPurkdDV0i2F1x-vtuLmMoyXxGKkEZF0bttqrwxXMaEmG_l551s1uqX1Dv_NZ9II-qh69aXxIKwwrFI9wYLw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "35"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1691829514/ffcc7723c50a43508fc2586518b5ba6b",
        "value": "AMceHkIX3z6RNpjpYuncZNK41hpNdSozTGgsadicMq3lFFEW9BXNvLlzxuMRwy9dDNN_tnHwytvFazW4Zks81wOlARYjN3Lyg2pOOdhvYKQzuzO8eLUz28wO0Cmg_hRWzbui_acP-ai_sNTfuSQ3RIH0T-OwKsjTM8nIudIvjTCEdOlB"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1691829514/ffcc7723c50a43508fc2586518b5ba6b/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "L_ZPurkdDV0i2F1x-vtuLmMoyXxGKkEZF0bttqrwxXMaEmG_l551s1uqX1Dv_NZ9II-qh69aXxIKwwrFI9wYLw",
        "value": "AWoMAcfD9c4TCf3gXQUk9Z_v5WAeBAnTa0sjxunQ3Ci_LypollS0Y2KS2Rs77Zy2gRfqVy-sAXhoCtSk2tM9WPdVAWP1pVaekw-hgHPvrOqhy5R91QyWuRHp62f8FoGUffQ5lr7iWHN-UhpMaKPTeZjMEjWhqMuwt0cZIEKzAVbAhoBF"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "54"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1691829514/ffcc7723c50a43508fc2586518b5ba6b",
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1691829514/ffcc7723c50a43508fc2586518b5ba6b/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "L_ZPurkdDV0i2F1x-vtuLmMoyXxGKkEZF0bttqrwxXMaEmG_l551s1uqX1Dv_NZ9II-qh69aXxIKwwrFI9wYLw",
        "value": "AMceHkIX3z6RNpjpYuncZNK41hpNdSozTGgsadicMq3lFFEW9BXNvLlzxuMRwy9dDNN_tnHwytvFazW4Zks81wOlARYjN3Lyg2pOOdhvYKQzuzO8eLUz28wO0Cmg_hRWzbui_acP-ai_sNTfuSQ3RIH0T-OwKsjTM8nIudIvjTCEdOlB"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "54"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1691829514/ffcc7723c50a43508fc2586518b5ba6b",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv041hsm.managedhsm.azure.net/",
    "RandomSeed": "1497554584"
  }
}
