{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/844631544/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/844631544/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "240"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750764266,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750764266
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/844631544/b476db2f3f660823b882e4a0fe98479b",
          "kty": "EC-HSM",
          "x": "ANor8VjFyLVZx_4g_zHMl7X4QIUF-mKxFTtEjYz7JmuA2fytz6LDJf0wpoE8OO-heWZJPTXIJtTVwTDLLOKjAmPT",
          "y": "AEehwzYimzvIIbG1N8jouh9l3YWklNrn3CvErCsDUS2bkUtQ1qouNwpwNBLJ06xGviySDmwb6yqthQQPs4n5EcfR"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/844631544/b476db2f3f660823b882e4a0fe98479b/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "tC6Dg8dj7HQJzVvcoxLB6Cahx8BNY4s8pijADAOz5GmwIWJnvwD-ShplETCMd4jXPgTPzhpLjgtL4G8EUcgGNA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "34"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/844631544/b476db2f3f660823b882e4a0fe98479b",
        "value": "ATSSmncDk0nE41IxMyDmrtpuFm_SH9nIQbq4mzpBkekLrcI-oBnzD01VDOMFqFKPXqYAVloraHq6HZqcAaBw5MhkAQp-zJhwWFYfGyT0HB-ZwjcOnC6Eobz-bUsUH0Lk57yoKAL3N-byQNA5sWSYnzGXRR7hoEUG9VhahCAE2v0EXbzc"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/844631544/b476db2f3f660823b882e4a0fe98479b/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "tC6Dg8dj7HQJzVvcoxLB6Cahx8BNY4s8pijADAOz5GmwIWJnvwD-ShplETCMd4jXPgTPzhpLjgtL4G8EUcgGNA",
        "value": "ADxQY-im6fkGHmnrpITCak9z-bV-tnynttcO6cGUMkcBzkLZ2TJH2T3rIvEUhCT9FoDoojUby7Jud_d6tgNTUXt0AdsxQQComtSY3p5EXNKDrlke9aegEjVT3kgCxk9xJ9Ac6rCgMg79lWKaULYK6j1A4XN5dhYojTA0Xf72LTMmFBRh"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "54"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/844631544/b476db2f3f660823b882e4a0fe98479b",
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/844631544/b476db2f3f660823b882e4a0fe98479b/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "tC6Dg8dj7HQJzVvcoxLB6Cahx8BNY4s8pijADAOz5GmwIWJnvwD-ShplETCMd4jXPgTPzhpLjgtL4G8EUcgGNA",
        "value": "ATSSmncDk0nE41IxMyDmrtpuFm_SH9nIQbq4mzpBkekLrcI-oBnzD01VDOMFqFKPXqYAVloraHq6HZqcAaBw5MhkAQp-zJhwWFYfGyT0HB-ZwjcOnC6Eobz-bUsUH0Lk57yoKAL3N-byQNA5sWSYnzGXRR7hoEUG9VhahCAE2v0EXbzc"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "53"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/844631544/b476db2f3f660823b882e4a0fe98479b",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekvv76hsm.managedhsm.azure.net/",
    "RandomSeed": "306719612"
  }
}
