{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/128897215/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/128897215/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "99"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1707539444,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1707539444
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/128897215/eee62fbe58d209c3bbedc3f895483aad",
          "kty": "RSA-HSM",
          "n": "nqLeO0QHMIPBgmplamgO09KHmW9h2nmFjV4M_P7l4MMp28hsb1I8jk6WAeEqUmZO-ysXhRq1mwoyPOD8FRq3jOOGeRfJV6yAOQlzLMnwGhc2rh8r4qqMcTLlL1CH7OSbO4WC24WPUxLzuPkbI_1Y6JI749_JeVP9gbi-dMguPAHZxbEA058dGFB7m4EgB7_LXuBNHp8mqT-b0fLUFZCgmoghKOCj29Dkv26ZswLvKKK2pzpc6poNc18-Ar9BsotRvwPlWbm1lKFgwOfQKMVVJOormhB4-Wd2xBnw0ngsnBzrWmzsfdeZG9Y2P7ZT-Aw3WPFou9Xfa1XakIY2hpFN2w"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/128897215/eee62fbe58d209c3bbedc3f895483aad/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "7-9FzXB0aB4_8WyPXYl6PEVh8rtoFJt26mIkOI-60ZrM08ijCEzbo5r7HlubSphM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "11"
      },
      "ResponseBody": {
        "alg": "PS384",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/128897215/eee62fbe58d209c3bbedc3f895483aad",
        "value": "MCIuLyKEPo5HFj8eQ0fRABdzpY-UhlS3FuyjjJjGTNzooGh-4ww7Z9R7k07J5p4XZU0ULAEiCtWaR0uSfq0wjnB2uDXb6Os_nV_xIsjBhyhqyQbGHSHOuUNMGzBb3EXlOZN-JOg9mezcgrjrWkvZfJ0GFmsTPux7h3HfEGbuEzqjRftRs-04PMJDLTfF7Xjbg-05apniZhdInsZEzAbieUzpvIGn-3ldoBAD5gKJw0ni7c293bmt3ohTFKJMh0U3V0KcFbJv9mK3KeRBsWgYktVEMkcyCP4XhoVbiAVVPk45p_0VLVmIBKKCMFWBE1kPxZzW6AitA8E9wqm5nWjdaA"
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/128897215/eee62fbe58d209c3bbedc3f895483aad/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "digest": "7-9FzXB0aB4_8WyPXYl6PEVh8rtoFJt26mIkOI-60ZrM08ijCEzbo5r7HlubSphM",
        "value": "Yr5VfiYYk4tA0unpATYvPL3s8e_xXoUFI7o9h0ScDbBSYSkRbES5Bt11D9jSUV93YRieP4wl1VTdv2YBKQ6y6Hdud8EX6MWjXdFhIl4fxCUJ8pSjv_x-8Yyn_sjSge-7bcM-eeF5ADDddJK7Q3pPjcN6jjh5kesLIY6-jqPCGIfNGE3ttO9xv65tnEizV3iea0ulD6qJkWAigb5gifJt8fRnaw-Wr-7zdaLirQIHlNe158ExvYz31TF55I6GWbCDGuxFb0qCa17E16t8DFqxZzZye99swfOsexzsMwI30ojmRClqkcc2bJcQIuDY4pw5NKkpx1I4cXx_k1vO3Am3AQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "PS384",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/128897215/eee62fbe58d209c3bbedc3f895483aad",
        "value": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/128897215/eee62fbe58d209c3bbedc3f895483aad/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "digest": "7-9FzXB0aB4_8WyPXYl6PEVh8rtoFJt26mIkOI-60ZrM08ijCEzbo5r7HlubSphM",
        "value": "MCIuLyKEPo5HFj8eQ0fRABdzpY-UhlS3FuyjjJjGTNzooGh-4ww7Z9R7k07J5p4XZU0ULAEiCtWaR0uSfq0wjnB2uDXb6Os_nV_xIsjBhyhqyQbGHSHOuUNMGzBb3EXlOZN-JOg9mezcgrjrWkvZfJ0GFmsTPux7h3HfEGbuEzqjRftRs-04PMJDLTfF7Xjbg-05apniZhdInsZEzAbieUzpvIGn-3ldoBAD5gKJw0ni7c293bmt3ohTFKJMh0U3V0KcFbJv9mK3KeRBsWgYktVEMkcyCP4XhoVbiAVVPk45p_0VLVmIBKKCMFWBE1kPxZzW6AitA8E9wqm5nWjdaA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "PS384",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/128897215/eee62fbe58d209c3bbedc3f895483aad",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "35165297"
  }
}
