{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/2071467486/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/2071467486/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "65"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759316495,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759316495
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/2071467486/e6c5c941b14600e513d9cb2a659f5e62",
          "kty": "RSA-HSM",
          "n": "sUTgoJj5kCKQOoMy89IQ9k0CYj6uE7cgQysqAeVyMQz8XOJhybn6WEtoH5p9lKSVdd7C80-DFY75zFkHO_fTa6ZIQUBrsQWhzDQZ25YlOY_yoM_cIh5u1cNEb4LSUWexkCyz_2Z9GrZvglXCv3zfnXe16Qq0e2uAA4TmsTTxVZH3Hw1jF5hubYVzEEEFkcZCIdrFHMUD8r3Me-Hv7OrPYaOOIy-jbCRYAcbMpFa-lTsUUkggXuNrULbm0GoudgVKivB_n1EbugKsUkGlU8_UIjE1imFRCGuX0nMfp3ci9dSYxW8COBayZG8SJpTrpnVj4W_7Fy_ZcilWkQbe_UvW7w"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/2071467486/e6c5c941b14600e513d9cb2a659f5e62/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "value": "YNHyUJ3yaf-sPr05qAVonjrcgtxE1iIyYzQy6GZcwuxm8FPJohstimjPlPwhNuHxRTfXPiVFONNGzPlZ_-7W7g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "8"
      },
      "ResponseBody": {
        "alg": "PS512",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/2071467486/e6c5c941b14600e513d9cb2a659f5e62",
        "value": "jVUbI-2trz-X4GJRpJBuZRZRqGZkfdMzhcwkhdJneZKBbJXN0a5rQ[...]
