{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1053371805/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1053371805/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "oct",
        "key_size": 256
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "45"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743437522,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743437522
        },
        "key": {
          "key_ops": [
            "deriveKey",
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1053371805/b460d48ff69e42ba9342e2c62378d6b9",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1053371805/b460d48ff69e42ba9342e2c62378d6b9/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "HS256",
        "value": "DAvMpiYNYRiLQplsTlLVpc8y6D2_oS1h0DHEOLdtm2Y"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "alg": "HS256",
        "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1053371805/b460d48ff69e42ba9342e2c62378d6b9",
        "value": "C9gTnudNknX_w3JKFvbgn8C7rt-FQuSRfJYIYmGF5G4"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1053371805/b460d48ff69e42ba9342e2c62378d6b9/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "HS256",
        "digest": "DAvMpiYNYRiLQplsTlLVpc8y6D2_oS1h0DHEOLdtm2Y",
        "value": "C9gTnudNknX_w3JKFvbgn8C7rt-FQuSRfJYIYmGF5G4"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "HS256",
        "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1053371805/b460d48ff69e42ba9342e2c62378d6b9",
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1053371805/b460d48ff69e42ba9342e2c62378d6b9/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "HS256",
        "digest": "DAvMpiYNYRiLQplsTlLVpc8y6D2_oS1h0DHEOLdtm2Y",
        "value": "C9gTnudNknX_w3JKFvbgn8C7rt-FQuSRfJYIYmGF5G4"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "HS256",
        "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1053371805/b460d48ff69e42ba9342e2c62378d6b9",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv331hsm.managedhsm.azure.net/",
    "RandomSeed": "1163973648"
  }
}
