{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1897905737/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1897905737/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "69"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780405230,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780405230
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1897905737/78ea1a0940530627ae82a1e2846cafb4",
          "kty": "RSA-HSM",
          "n": "in2hamjeizCX1Ytyk12y84Jxdwg6BitLuX30PPDI_N_UgverZ06t0_jFWyQD1a_rxjEJGlx3qdNbqWI50LTdeoeqWgQgycazdL0wZ-74z7LxOXGgQHBcAQJuByoRPjCgzYY4iWfKa0nAfzYJwl41z5Tnr9b7tZJxatk711Rrt57zXjR3cOs1kP679kgKYo_FDOhQepIlOw_q-Iypa_wv45t5bPMyVMwY-_ZcPLj3og60DVM0S0vLr-Reev7IbOKZbliy-BR-96EkVRQIWU8DjTfZRIO1y95_kvqMGw9e5fbDvJgXoNd-_7zsVDUEVvv9Ok6dShyDVXslIwHTysgunQ"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1897905737/78ea1a0940530627ae82a1e2846cafb4/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "2tazKxF4f-ndpYQam4ik4uRD3eY3K4dylSvcOJ-TS5g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1897905737/78ea1a0940530627ae82a1e2846cafb4",
        "value": "GGg3V6bOHxiAlsQvGfbG8ACNhlJY0G9_NOGx0qZTtevLeoN2umksLXBNZ8iyKyNvp1uQSyC8eA7KCyBp3MqX5xNlcTZ1rB_i5k5[...]
