{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1560639884/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1560639884/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "206"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781250535,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781250535
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1560639884/f9fd025df345037411c0d8caebcaeb7d",
          "kty": "EC-HSM",
          "x": "ALqWg-TqMBOPTKQKscN04ELMKN5NKOZl0JdfWiHPYn1TuvLZsrL2QxTUdIL1QRixDBadkAUxP09TGd6zLIcGoZwH",
          "y": "AIN_ujZR6z6cfFKnCUYRRIICcsWiH6PbGP3V5qkfnrpUeGL1kHICsDNEAVb-pd6hk_3qAdiPut8rYvch3knGK6NL"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1560639884/f9fd025df345037411c0d8caebcaeb7d/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "TlD5Fc1aHYG1TX6CfLenC75r-kxz3y1Nntvhx5vNpkqX5WHdhr-X4AbCKmBUxqy5GqfFDeaKPpy67oOS4kkCDA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "35"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1560639884/f9fd025df345037411c0d8caebcaeb7d",
        "value": "ASxGbxb9StPdQpbs8fq2kjsUqYJEl1TKs_etZWDktcH16uxSaJspYeh[...]
