{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/324857470/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/324857470/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "124"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750764245,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750764245
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/324857470/35ad649a19cf09b5a080ebee86cfb7de",
          "kty": "EC-HSM",
          "x": "BC81pgSDaR_TYruaz5uWeOsDJ5jGKPBvTeKQT3_jSgA",
          "y": "47xpGstTFP-UdsQs9r4OpTXnHITfXUzrIxFn11ElGvU"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/324857470/35ad649a19cf09b5a080ebee86cfb7de/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "f4U7DtbaPXWDWR0OG2x4SKRyT_TVdnb9SwT-jcj3ViA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "14"
      },
      "ResponseBody": {
        "alg": "ES256",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/324857470/35ad649a19cf09b5a080ebee86cfb7de",
        "value": "F-De7zKGKsm0_LH9-jVgYQG2uG3vxb3BTNDPnL4prIlqmafZULkmx7WNsopxeHy0Y-RXiAU47aasaUNlbzB_-w"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/324857470/35ad649a19cf09b5a080ebee86cfb7de/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "digest": "f4U7DtbaPXWDWR0OG2x4SKRyT_TVdnb9SwT-jcj3ViA",
        "value": "Kh4iX1MJIqWOMhGwpk0LDNv_AH-O-SN8sxCJ115IZh1qUMfqptSHJ2S6NbVsXJDCT3lCzi6KrlIDBsrjt3Kl5Q"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "12"
      },
      "ResponseBody": {
        "alg": "ES256",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/324857470/35ad649a19cf09b5a080ebee86cfb7de",
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/324857470/35ad649a19cf09b5a080ebee86cfb7de/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "digest": "f4U7DtbaPXWDWR0OG2x4SKRyT_TVdnb9SwT-jcj3ViA",
        "value": "F-De7zKGKsm0_LH9-jVgYQG2uG3vxb3BTNDPnL4prIlqmafZULkmx7WNsopxeHy0Y-RXiAU47aasaUNlbzB_-w"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "13"
      },
      "ResponseBody": {
        "alg": "ES256",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/324857470/35ad649a19cf09b5a080ebee86cfb7de",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekvv76hsm.managedhsm.azure.net/",
    "RandomSeed": "1590352921"
  }
}
