{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1891813807/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1891813807/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "72"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781250566,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781250566
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1891813807/0e314f1246c74bde95a0734f3744a2f9",
          "kty": "RSA-HSM",
          "n": "tgpOsSSxRRo0OtRjqZ0II95IZ3TIutax2XxLxVYnwA6pZAQV6CBdHBCTOkTYszAg0g_R2Z7-xUpU-0NIDxB9NovLstl2jQ6k2R64D_tHZnasKXYXgsNMB0lhohbRO03H17hWeJHmfmb4e427bKi2nHmZ3MpocCKEkmX8gNGl0bBdYROMEcTVtDTE4AVISQmt0w03yB7Vm41-kjDNJeF4S-0-ub5VxPvZUcm_3CQZDNiW3d4Vng-phVaOBIRPqCWsPQXzGEc04DO_x-lAXafn6nfBA2RR4yzT2BrOQxAE-mLzbkQKlMKwE7OgPMzVAVxPyzpqT6J_5AdsArSVUCN_wQ"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1891813807/0e314f1246c74bde95a0734f3744a2f9/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "efe19AqCTA7FRSrwGRRB55XDgh7sdwf2DwnUZYBdPoIQTqVE6ZBmh0gQYEAKsXr4"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "alg": "PS384",
        "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1891813807/0e314f1246c74bde95a0734f3744a2f9",
        "value": "rdhOQVZaY9XbE8PwT1NFkEOc-Uu5UDLVJO_eRgneWnmZAksq_Iz5pd6TgrwwCEriCNLfeDE7Ijk5QQ[...]
