{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1416101838/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1416101838/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "74"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743438621,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743438621
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1416101838/a132ac713aa600183a63c13e9a652bf8",
          "kty": "RSA-HSM",
          "n": "8pPp2pzLltD6Z31rOJyv9u5pv4SZlCP76JGkZTY11SpIQAjISgdSTnWVKUzvJr4aa1wDrrOLojlRJt2E88lTP6fi6RVcfDv1lPi4FHNDJKLeODaFmSj_irTTQqhJ1bUuMsrMR9DIJ0sDc6onzK3M4QRRKpTTYRaWIKaK008E6CxR05cmzoOe0CpvFAM00dHwMKuzd9c7pH7ZpOLAuGFKsKbUQy9MMzojbRYmDHyb9SMY1Lk2kEaeNYipzs7ZBKT3AyHyRuhpQ3DJ2IXBdhh_8Y-mHjUPxjigKhGPncXTnpxfgqzI3m3_21IoMLRVN0FNa2eQ3j33vk_6huKJOnrwJw"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1416101838/a132ac713aa600183a63c13e9a652bf8/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "3Ftm_e9WZDqnW1_Dbure7sOx5OWSu23PbzvciZE_B0hxgCNfR_yzgRBLpJ_NT5mf"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "10"
      },
      "ResponseBody": {
        "alg": "PS384",
        "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1416101838/a132ac713aa600183a63c13e9a652bf8",
        "value": "YXVO2COL9zC5XruuXcEMM_cVfCc7k-XLY0rG-cHkVSenHWd8Qvo5lQt_dJIXV2UKouYQZCF6UD-CAEifKAVjTZhQQcyoZA0YTi887ys0FFe1kS_FYVlGp_xeeBCKyQHWHpXdkbq9IXJnvW6smOV80AJsESZq2Rj7SiON58US8KKqCmLpv0bV50ir4U7nT3-Fwl9x68JCX2gpHOMTlsdU-LBw_nsjN2scB-abh2_JbuAblvf35uDMMHLMZMCVwH143BIjLTY6ynBMTy9J_sdWczl2CBsNQtpURVaOxqB9fSEN984Q1gVuvSKN9ZpCtUSvdNNtDuLAJroFOHxCxMrQiQ"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1416101838/a132ac713aa600183a63c13e9a652bf8/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "digest": "3Ftm_e9WZDqnW1_Dbure7sOx5OWSu23PbzvciZE_B0hxgCNfR_yzgRBLpJ_NT5mf",
        "value": "tXvhjluaLuGwj_D_i8PtWVnABQKiKQ_ujeDLTRdO9SzC6waGkktiRgOKkMyNgKyjEdGaxZFc5ifAzMnKLWjOaAPQSy-1N1Y42SYKT2lG1CDgVhkbWsIdmwtqJC4y0FXsgTPifmf_zjMq-DxHdHdV7F8C31VLuUEWAwHShdIgjWryweq0vjd5yAhwVcHVWRufvl_pty7qFK37iYiJcWlZtKVRZt0I6BqvYUyu036ZvKQF8WPd3KEBmRaO7vWrX4UmEk7UPpZhf9MZDQ06M5ZMSyRhCf9wim8CYHCYH8TGzl2HEmmukQFvNEebfcoiGg0ivD4CiO9EnjyFBHIPLYqrGg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "PS384",
        "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1416101838/a132ac713aa600183a63c13e9a652bf8",
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1416101838/a132ac713aa600183a63c13e9a652bf8/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "digest": "3Ftm_e9WZDqnW1_Dbure7sOx5OWSu23PbzvciZE_B0hxgCNfR_yzgRBLpJ_NT5mf",
        "value": "YXVO2COL9zC5XruuXcEMM_cVfCc7k-XLY0rG-cHkVSenHWd8Qvo5lQt_dJIXV2UKouYQZCF6UD-CAEifKAVjTZhQQcyoZA0YTi887ys0FFe1kS_FYVlGp_xeeBCKyQHWHpXdkbq9IXJnvW6smOV80AJsESZq2Rj7SiON58US8KKqCmLpv0bV50ir4U7nT3-Fwl9x68JCX2gpHOMTlsdU-LBw_nsjN2scB-abh2_JbuAblvf35uDMMHLMZMCVwH143BIjLTY6ynBMTy9J_sdWczl2CBsNQtpURVaOxqB9fSEN984Q1gVuvSKN9ZpCtUSvdNNtDuLAJroFOHxCxMrQiQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "PS384",
        "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1416101838/a132ac713aa600183a63c13e9a652bf8",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv331hsm.managedhsm.azure.net/",
    "RandomSeed": "1105204936"
  }
}
