{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/2038728331/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/2038728331/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "oct",
        "key_size": 512
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "46"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780405193,
          "enabled": true,
          "exportable": false,
          "key_size": 512,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780405193
        },
        "key": {
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/2038728331/40f696b9d30249d403e9d3915d85b083",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/2038728331/40f696b9d30249d403e9d3915d85b083/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "HS384",
        "value": "8e_jtV3iKEziO6U6JJSgex8SciUu6Z2_OO7-xJ8FCwGmX3R6lT2QRA-R9sAle9VB"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "alg": "HS384",
        "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/2038728331/40f696b9d30249d403e9d3915d85b083",
        "value": "GMt6k3KWFjKQ1e4lxXQpume7rPhsWpI_-aIfFys1gZfMwNFL0y3gAYNYn-3Y-HJ8"
      }
  [...]
