{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/513802175/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/513802175/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "134"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1693007518,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1693007518
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/513802175/642a38ca46df4e03b336a26b72291603",
          "kty": "RSA-HSM",
          "n": "iVtZQBn6tVU_z5fJ-2Py3Ui-Qpa7Fyyfyk4251IpYIYyvEayD2jskl8CqlWVrx8m3DWnQKoRJ8_grCN5SjNckHI3DbOHG0a_qC46oA-y90GSbSteb7fxrt4GSgNpbaKxawFvmswKg_4DDEIuhsh3yf6AtBYyBalHVKlsijRlmJk7nsfvtqnj00sfrcAL40byVjjEb5G1PYaX5XXlAU5Q7PkTsZRiepAwOXG8BqhmfknQkGmhKgH-xB0RLWMJ3iuY2JqZAtPzaprkvdldyIVWxrvHozK4_N-cPbORTwHWujuI3Hh-7B6x9xkG-oVo4jTCtQkPfYybM-E8tomsRx95Zw"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/513802175/642a38ca46df4e03b336a26b72291603?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230713-3-40221b92-1.0.20230706-3-4bcefe4d-develop",
        "x-ms-server-latency": "17"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1693007518,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1693007518
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/513802175/642a38ca46df4e03b336a26b72291603",
          "kty": "RSA-HSM",
          "n": "iVtZQBn6tVU_z5fJ-2Py3Ui-Qpa7Fyyfyk4251IpYIYyvEayD2jskl8CqlWVrx8m3DWnQKoRJ8_grCN5SjNckHI3DbOHG0a_qC46oA-y90GSbSteb7fxrt4GSgNpbaKxawFvmswKg_4DDEIuhsh3yf6AtBYyBalHVKlsijRlmJk7nsfvtqnj00sfrcAL40byVjjEb5G1PYaX5XXlAU5Q7PkTsZRiepAwOXG8BqhmfknQkGmhKgH-xB0RLWMJ3iuY2JqZAtPzaprkvdldyIVWxrvHozK4_N-cPbORTwHWujuI3Hh-7B6x9xkG-oVo4jTCtQkPfYybM-E8tomsRx95Zw"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/513802175/642a38ca46df4e03b336a26b72291603/sign?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "value": "yMulwUquzSBytlFfEs2QAhAKJxhop0rZhlpNhhKo1FCMQA4v9ohQhS9wvvszxl10olKMHv5n1wMF05RH0r2sLA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "PS512",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/513802175/642a38ca46df4e03b336a26b72291603",
        "value": "CdNlW3mgt2jCTIR87mXwQV6e69Rg40_JtNzyT1ZJrpMwfqDAxXIqd_VYfDvyb9OVvpb0SPqN7rh4Ll5-NNHKUs8K0N_LNQc8vhl1CNfKeOouoISoDLwweKCNmiNd6EIMwLfi9A_nRXCpcEaFhyY8juCGgSAgCGi-rlQjxaNFNgU_YvqmqugAyAXTWbApfrg4tFzfaj54H0tAOEDgLJYsuxUneXSCZnVuDaaeji5Q05xzI4aTyaJQv-65oPrBLUV0l0XfvLNFb1eO2z0sUTTtTulPgtRpYsq47LReXRhuzn4aqR-VEdWEGN-4iROTqBOAVO7v6B9AODpt1gRn10DQfQ"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "1648499535"
  }
}
