{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2086463727/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2086463727/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "106"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1693004246,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1693004246
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2086463727/87a42a53f4df0acd292dbc2d731bcafa",
          "kty": "RSA-HSM",
          "n": "uWKERqDAUoJdac73dx-nBzKPHKCC-WXOeNJ66-FAWVBMcvOgMnQ9_z4MVFgkOwc6ftt0EdSk5MmL3qP8kfcUTqGcWbJL0ke0JZahSEhyp17qBF7rzBwvJTcGrWn92ZD84TJSUN5ft0rlAHTgdwmGmWvImIq_WuWcbB2SX7LovW7WQ9DnSN4CLoIgXuvydmluCJuEF4LruIAhUg5-1D7zmXpm0TUk2XrUmr-1fspQZiOJloELgx8M_4dNT2kw5xj08Vlq9nnEdlgDI5WXaSgWIMPvWqagpCdyXAg1yD8XIMNy8mr_S3-ZnX9WveOjknFGjDmeqqVWe_n72n0yB9Ia4w"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2086463727/87a42a53f4df0acd292dbc2d731bcafa/sign?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "ppOGTKU_e57C1u0WlipWJr1iKDZVhbSV0YaHeNpCzXncIXLXXON0fUtlSktulwJTRGTosdkvmJjDfxc7esEaYw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "22"
      },
      "ResponseBody": {
        "alg": "RS512",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2086463727/87a42a53f4df0acd292dbc2d731bcafa",
        "value": "PFG2ts_ADjuAD_E4sLciKJ2HY_QxmtU12pgvDIccGWNq1LC_5Ds6fzM_aQAGHn02fCeHrgMdU_1liuwnabPEiaLaUcHqvSnohbnuNFapuNZVBzRxGQmA-cwE33aU9B84j8BVjIA7xkb1Sc9mhXnd8jjkwX-orhTHFAlcdxJZUhGM2MY1tg8iEwbtGAgab6cMfwf8A7MKKWwZ5yrhPO4gWRSJbyveyPmkiWKzfa-QlRyu_X9gi9b2RGyWVAY1FEQnxdjF0M929U7HIttzGxoi46VZRhkrVkJvRQs5CzrigDdDQpDPqAbmA2FdG98CM0Rp0b8boc5J91H10OblsOjPpw"
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2086463727/87a42a53f4df0acd292dbc2d731bcafa/verify?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "digest": "ppOGTKU_e57C1u0WlipWJr1iKDZVhbSV0YaHeNpCzXncIXLXXON0fUtlSktulwJTRGTosdkvmJjDfxc7esEaYw",
        "value": "PFG2ts_ADjuAD_E4sLciKJ2HY_QxmtU12pgvDIccGWNq1LC_5Ds6fzM_aQAGHn02fCeHrgMdU_1liuwnabPEiaLaUcHqvSnohbnuNFapuNZVBzRxGQmA-cwE33aU9B84j8BVjIA7xkb1Sc9mhXnd8jjkwX-orhTHFAlcdxJZUhGM2MY1tg8iEwbtGAgab6cMfwf8A7MKKWwZ5yrhPO4gWRSJbyveyPmkiWKzfa-QlRyu_X9gi9b2RGyWVAY1FEQnxdjF0M929U7HIttzGxoi46VZRhkrVkJvRQs5CzrigDdDQpDPqAbmA2FdG98CM0Rp0b8boc5J91H10OblsOjPpw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "RS512",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2086463727/87a42a53f4df0acd292dbc2d731bcafa",
        "value": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2086463727/87a42a53f4df0acd292dbc2d731bcafa/verify?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "digest": "ppOGTKU_e57C1u0WlipWJr1iKDZVhbSV0YaHeNpCzXncIXLXXON0fUtlSktulwJTRGTosdkvmJjDfxc7esEaYw",
        "value": "PFG2ts_ADjuAD_E4sLciKJ2HY_QxmtU12pgvDIccGWNq1LC_5Ds6fzM_aQAGHn02fCeHrgMdU_1liuwnabPEiaLaUcHqvSnohbnuNFapuNZVBzRxGQmA-cwE33aU9B84j8BVjIA7xkb1Sc9mhXnd8jjkwX-orhTHFAlcdxJZUhGM2MY1tg8iEwbtGAgab6cMfwf8A7MKKWwZ5yrhPO4gWRSJbyveyPmkiWKzfa-QlRyu_X9gi9b2RGyWVAY1FEQnxdjF0M929U7HIttzGxoi46VZRhkrVkJvRQs5CzrigDdDQpDPqAbmA2FdG98CM0Rp0b8boc5J91H10OblsOjPpw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "RS512",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2086463727/87a42a53f4df0acd292dbc2d731bcafa",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "2006271545"
  }
}
