{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/2140103846/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/2140103846/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "oct",
        "key_size": 512
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "78"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1742931456,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1742931456
        },
        "key": {
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/2140103846/814dc4328d65023d10b2062f5744242d",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/2140103846/814dc4328d65023d10b2062f5744242d/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "HS512",
        "value": "1Y3R16P7M6L6JSc8gTqfkms0-cZDvOE9Jq_nxxUwPEpvxI8ONl6PA7zI48XEI1rWxzn6vnE-VMq_ZAfjpNSMeQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "20"
      },
      "ResponseBody": {
        "alg": "HS512",
        "kid": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/2140103846/814dc4328d65023d10b2062f5744242d",
        "value": "Doy-wpvYKJR0LWs5Ql479xTsje1alH9-E608NCE6ZrjDi5XqHvL4LxyELf4-mx-Fnq0oVoad5BH8ZdcC2oz5-A"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/2140103846/814dc4328d65023d10b2062f5744242d/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "HS512",
        "digest": "1Y3R16P7M6L6JSc8gTqfkms0-cZDvOE9Jq_nxxUwPEpvxI8ONl6PA7zI48XEI1rWxzn6vnE-VMq_ZAfjpNSMeQ",
        "value": "Doy-wpvYKJR0LWs5Ql479xTsje1alH9-E608NCE6ZrjDi5XqHvL4LxyELf4-mx-Fnq0oVoad5BH8ZdcC2oz5-A"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "HS512",
        "kid": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/2140103846/814dc4328d65023d10b2062f5744242d",
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/2140103846/814dc4328d65023d10b2062f5744242d/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "HS512",
        "digest": "1Y3R16P7M6L6JSc8gTqfkms0-cZDvOE9Jq_nxxUwPEpvxI8ONl6PA7zI48XEI1rWxzn6vnE-VMq_ZAfjpNSMeQ",
        "value": "Doy-wpvYKJR0LWs5Ql479xTsje1alH9-E608NCE6ZrjDi5XqHvL4LxyELf4-mx-Fnq0oVoad5BH8ZdcC2oz5-A"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "HS512",
        "kid": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/2140103846/814dc4328d65023d10b2062f5744242d",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv318hsm.managedhsm.azure.net/",
    "RandomSeed": "2129848633"
  }
}
