{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/186852158/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/186852158/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "139"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780405014,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780405014
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/186852158/24513b4effca042e854d4ff4bf7cbe51",
          "kty": "EC-HSM",
          "x": "0sd4lxdda9Zs7qO_a4EWPo1BWpUnsVI1qeyYgw0QEvDIEq4Flp_fIb_WQU4A20EL",
          "y": "NqKql1cnzKegJP7kJUQ_G-IxbvsfM9mOsYHjn8Rzk9WLPbpTP4NFMXXebVKB8Bkz"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/186852158/24513b4effca042e854d4ff4bf7cbe51?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260505-1-b95d5630-develop",
        "x-ms-server-latency": "6"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780405014,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780405014
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/186852158/24513b4effca042e854d4ff4bf7cbe51",
          "kty": "EC-HSM",
          "x": "0sd4lxdda9Zs7qO_a4EWPo1BWpUnsVI1qeyYgw0QEvDIEq4Flp_fIb_WQU4A20EL",
          "y": "NqKql1cnzKegJP7kJUQ_G-IxbvsfM9mOsYHjn8Rzk9WLPbpTP4NFMXXebVKB8Bkz"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/186852158/24513b4effca042e854d4ff4bf7cbe51/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "KHUhwewjQNwHzpc3n_SuAq87g98TbcswICN4fEKXW6VRT4KFXKOMw9K3_eOGdHvk"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "10"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/186852158/24513b4effca042e854d4ff4bf7cbe51",
        "value": "5nnz34PjuHo4ri1T4QSWLcTxIU61OlWI7nxBY9ixpCrTIji9c4yLCjpS61rT8B2ah9O_FVBEgi38Bo3Mr7o1p00Ss2R3fl0qo5Nghvp1yyB1ZCyV8Fu27FQXvDJaw8tc"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://externalkeysdkhsm.managedhsm.azure.net/",
    "RandomSeed": "449970501"
  }
}
