{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/75406441/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/75406441/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "174"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750764146,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750764146
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/75406441/b0f52819480807ec0b080ad5f2d62037",
          "kty": "EC-HSM",
          "x": "NRxoGO-Zp9mKFJCNDxUr1pdkkUjFGsFVlgQErdNqS8NqKo_aT7rc_jW4JAKa85VX",
          "y": "hTvCRLyiD2D3DinOKQ3K7QB6LcEi8JAYyA_zwJgJVJ-ryccZzyTJ0UjncQ4FchUU"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/75406441/b0f52819480807ec0b080ad5f2d62037/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "OVfSKT7lGptVDXCPnhcNxmtexM2p7ka9qgagsPCk54UUwp0QYfbAGggCyDNTYDT1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "20"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/75406441/b0f52819480807ec0b080ad5f2d62037",
        "value": "W-owHVHkxuoZxNiJ7ZNKaUZD0LhvUaX4Ln8K4eOeJyVeHtsMN2mhM6kVCwEA5YrzFzcpdqZgk7pSR9bH3YHMtGV-066ieJ7nQhkw-Q7AJ5tvX9ba5uWG6bsx-LVXxSxd"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/75406441/b0f52819480807ec0b080ad5f2d62037/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "OVfSKT7lGptVDXCPnhcNxmtexM2p7ka9qgagsPCk54UUwp0QYfbAGggCyDNTYDT1",
        "value": "D2L_oDaq-M-DZSJcgBKVHZKTHiEGzQwrdiL-J_8DE-Ay2pPRPqXN9Ywc7hdkJx-baZK8QaGvUveMGNahTXLF1Yo-QjQbIftuiVX3iTjufSiRlYApoVI8tj5iijW1UK2U"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "19"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/75406441/b0f52819480807ec0b080ad5f2d62037",
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/75406441/b0f52819480807ec0b080ad5f2d62037/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "OVfSKT7lGptVDXCPnhcNxmtexM2p7ka9qgagsPCk54UUwp0QYfbAGggCyDNTYDT1",
        "value": "W-owHVHkxuoZxNiJ7ZNKaUZD0LhvUaX4Ln8K4eOeJyVeHtsMN2mhM6kVCwEA5YrzFzcpdqZgk7pSR9bH3YHMtGV-066ieJ7nQhkw-Q7AJ5tvX9ba5uWG6bsx-LVXxSxd"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "20"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/75406441/b0f52819480807ec0b080ad5f2d62037",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekvv76hsm.managedhsm.azure.net/",
    "RandomSeed": "1466229326"
  }
}
