{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1148853096/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1148853096/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "66"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759315592,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759315592
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1148853096/bc897ae23bd7060a2605d6b41388734b",
          "kty": "RSA-HSM",
          "n": "2cqxKLuFsdSo8x-Utw_zWwpiNM6FgsX6b8DXA0FbM4wYdWT0Ph3PHyXEbclWTwxR0XzrflhoNZ0fsh_ndT5cYfXjNoMbgk7wVVlBD4YNdXRFYrJANdZW8_TZeLLvHQL3G3BYQnajDC4_PTxdDJ5clJThp6b142_owH4Ow9Ao5ZNW1lK_OpONcg6oTpR4Xb1y7zBnra-hx5iuZnUY-Tkr9r0SDTfY00g29xvt6Ce-Gsh_EoiJX-J-k1Tgfbr0fEXqH23Nc_Knjis7G3ijXlY_373O1HYc68dqqCPoMCfqjAE0gPz1WO97E_ZZHSalotEXxj-f7ldk54Hi_iGmAgDRGQ"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1148853096/bc897ae23bd7060a2605d6b41388734b?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250826-1-e0164bc3-develop",
        "x-ms-server-latency": "5"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759315592,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759315592
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1148853096/bc897ae23bd7060a2605d6b41388734b",
          "kty": "RSA-HSM",
          "n": "2cqxKLuFsdSo8x-Utw_zWwpiNM6FgsX6b8DXA0FbM4wYdWT0Ph3PHyXEbclWTwxR0XzrflhoNZ0fsh_ndT5cYfXjNoMbgk7wVVlBD4YNdXRFYrJANdZW8_TZeLLvHQL3G3BYQnajDC4_PTxdDJ5clJThp6b142_owH4Ow9Ao5ZNW1lK_OpONcg6oTpR4Xb1y7zBnra-hx5iuZnUY-Tkr9r0SDTfY00g29xvt6Ce-Gsh_EoiJX-J-k1Tgfbr0fEXqH23Nc_Knjis7G3ijXlY_373O1HYc68dqqCPoMCfqjAE0gPz1WO97E_ZZHSalotEXxj-f7ldk54Hi_iGmAgDRGQ"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1148853096/bc897ae23bd7060a2605d6b41388734b/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "SynHw2gHSx01_gCEEPfgi_yQXCa3ZEobaiQFwMqsuvpPW-pv6pkAzd4LbMYuNXfd"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "PS384",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1148853096/bc897ae23bd7060a2605d6b41388734b",
        "value": "fEjUsiDujM13QQZ7b_xwtMGRds5n0Xngd-Y-YWgmKTc_twvq2Tr5gPdxitMaxNLSGw5Td4Y1TEnzI2yTh2AH9d5a_9aprjVJT5lWs-3CAuFJqqTCNP-QCh9o5CQgosxgQFeHj16AjqyXFsP0Jl1lFe99EcLMsHd6ekYOiDuNgPPgH5sQDv0TTxHausd2QadGnWuQ7vC3kR1MiWE373rOC8tArmVF91bqO2FwMSL-qkVtb_zZ5NQX4OzKCaYjPqRvbC-BNm5xfr_XkbYJ192TpAy6geX-r1qdk6vk_jkKrv44ld6OZliraMaSsMhn9ST36sGu_-xNrcrgZNOy6SmcjQ"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t282557e4338dc910hsm.managedhsm.azure.net/",
    "RandomSeed": "1080795841"
  }
}
