{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/2016707796/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/2016707796/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "67"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759316443,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759316443
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/2016707796/f5b7749ed97f40be30e25dd15ad6518e",
          "kty": "RSA-HSM",
          "n": "iVgquuO0RNtaZ3pmxUD3JkR5rRz2Y5jwN84n9FLI7RCB9z_30omHxRzmA2kYr0-hxwn03KRJAuWatJ4e8ITsZLCDsyNe8-UMW0JIKx5vL6tl5kiAysCP8QdBGQaOFartPlu854G2rq3p5g5M8ZOgxfyOPRg7rAtJF_4NzBHf_2vfSYt-ugoBtZZYbROHBAevzNU_RiZPOTQUkjHyNSkgYM0e5vfUw68GZc28N6sOF2LWzaCU3d6MQlUBDXR6PAKiD1WxpARsyuQiTpEBppUkxvqu_mw6GyEKBOBSbWSdWd0K1urih9BQzbk1JWJ201BRiqXsNIahAZ3OuZbU_40sIw"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/2016707796/f5b7749ed97f40be30e25dd15ad6518e/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "g9o9ZyXfRIY-3t9s6x55l0P3G4P9eSD20Is3Ceb2dNRbGEo44JbhfwpCAOnDRs2OL2T0DMcqCbph0iXu4W0l9A"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "alg": "RS512",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/2016707796/f5b7749ed97f40be30e25dd15ad6518e",
        "value": "QR8eF6ICc0684e3HWermh6ZVWfdS43nN_0w4QyjOwed7k7YeMdQJg[...]
