{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/350117745/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/350117745/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "202"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759315798,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759315798
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/350117745/2a6242242c2d074c0c1e31bf66da3dda",
          "kty": "EC-HSM",
          "x": "AHXP-iI5BFqjoiyX8e8Bwwsvflfaf8_h9lkvZITf1H89ZzcceC1lRLvXhkDi6E75yM0DRXl6IgLs9H5Gs0K9u6mM",
          "y": "AAXtLu5geXjr8jeXoWByJyfkylTB_gfyij2aZeIROafTXEz88IqWeJmxUg4iDu5k-OeTmcGMNMLM2OlILt-rOr6k"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/350117745/2a6242242c2d074c0c1e31bf66da3dda?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250826-1-e0164bc3-develop",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759315798,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759315798
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/350117745/2a6242242c2d074c0c1e31bf66da3dda",
          "kty": "EC-HSM",
          "x": "AHXP-iI5BFqjoiyX8e8Bwwsvflfaf8_h9lkvZITf1H89ZzcceC1lRLvXhkDi6E75yM0DRXl6IgLs9H5Gs0K9u6mM",
          "y": "AAXtLu5geXjr8jeXoWByJyfkylTB_gfyij2aZeIROafTXEz88IqWeJmxUg4iDu5k-OeTmcGMNMLM2OlILt-rOr6k"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/350117745/2a6242242c2d074c0c1e31bf66da3dda/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "xPs8N8lMUUQFhiovnT3srLf62iYWp4KGGaUV0VUmMWqiWQf48nL7EDTpVXN2Pd-RbB3ziiUuEJdz_l8Y589XQA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "28"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/350117745/2a6242242c2d074c0c1e31bf66da3dda",
        "value": "AeoalwnCTWmnCDRPmwCyQ4Xk_M1CZqPulBxTpFjosXXlU5y3i8Nnld1-p_PHmQp2EaOPFrz6FAIo5-CAr9MkF7JXAKG5x4dGYqTBu8DZMecuI3oQ6HiwCvPVGwRsjgb7F7t4uQ6ZdxC8Q6fcPWxsrrJv1EwQUxboMgS_n4VpdBtxA8TY"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t282557e4338dc910hsm.managedhsm.azure.net/",
    "RandomSeed": "1435661265"
  }
}
