{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/820647616/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/820647616/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "115"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781249340,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781249340
        },
        "key": {
          "crv": "P-256K",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/820647616/fc559064686348c2a90deac49ff34e1c",
          "kty": "EC-HSM",
          "x": "gvqLKnjJdErZuASLg3BjT2RTISZW3b8-Ry9FSFhUd9M",
          "y": "E9r3JMMMYNtjoN2tnTIjC-YB-MpmBJj0HbJkMw99BBI"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/820647616/fc559064686348c2a90deac49ff34e1c/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "AfK95VhaPeUuJKo_uN_KJvHdJhSjXC7DoS4RycymwKk"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "13"
      },
      "ResponseBody": {
        "alg": "ES256K",
        "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/820647616/fc559064686348c2a90deac49ff34e1c",
        "value": "V2uaQuYbMJ787tSQ7hE7ewGGkDxG5BUjjyR91KDhK9AneyKd9PU_74sU5B5Mx8JLy3KrfQzlPFMM_rFVy2Wcpg"
      }
[...]
