{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1184635395/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1184635395/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "69"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759315716,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759315716
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1184635395/0c5889765c23093f9e976d04146401c5",
          "kty": "RSA-HSM",
          "n": "rjcTB8aBMqobgImvKKWDRGmmwkbpoVA5LsFpwa5gMPQtFS81t3idbSXtDxs4L-Fsgjd1l2TBA9CIlGY5XhvNW5E6z_GA3MkVmpUC59R-rATj03ghJ34c24bd97oEATjebBFGOgvxwfzMMLEJLxvhe5_vAkTWI_uuSwYgIFXvhpzzNm80uLLBr6y_aDgAxIornYXbySbVs5uVf4lBBfwyHTuLuNMAyJ_fAQoKnG0h_z55Od9kHTWbgOF_5W04hhfogwAK7D9RbRwgRgbxtID7RqzfD_WSP2ZvLuyIlvY0uHsRhiIWfcu20OU0MzqjpRTA6QaD7f-dmfSOGKfyADswqw"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1184635395/0c5889765c23093f9e976d04146401c5?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250826-1-e0164bc3-develop",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759315716,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759315716
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1184635395/0c5889765c23093f9e976d04146401c5",
          "kty": "RSA-HSM",
          "n": "rjcTB8aBMqobgImvKKWDRGmmwkbpoVA5LsFpwa5gMPQtFS81t3idbSXtDxs4L-Fsgjd1l2TBA9CIlGY5XhvNW5E6z_GA3MkVmpUC59R-rATj03ghJ34c24bd97oEATjebBFGOgvxwfzMMLEJLxvhe5_vAkTWI_uuSwYgIFXvhpzzNm80uLLBr6y_aDgAxIornYXbySbVs5uVf4lBBfwyHTuLuNMAyJ_fAQoKnG0h_z55Od9kHTWbgOF_5W04hhfogwAK7D9RbRwgRgbxtID7RqzfD_WSP2ZvLuyIlvY0uHsRhiIWfcu20OU0MzqjpRTA6QaD7f-dmfSOGKfyADswqw"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1184635395/0c5889765c23093f9e976d04146401c5/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "_2xL95K2e-ENT6gUvsoqYjK5t0zX32bViJTWqxc-ngQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1184635395/0c5889765c23093f9e976d04146401c5",
        "value": "ful102CzFEYBI7FVe6_EAEGOx8TZxtIxm0PSFcGbNI1n3EJq2G8EkVG0rCjvLmWhTvTfS1FVgGmq3FFyd0bDynXeqSa3e0cGcIyEXINEaRctIL_NHNyNjEaQlubcOjA4n6U-nWLKUowP5RgaR7nj8z9JQJGWECYNsD2kHpnodk-1m3Lbyagvb8BFJq3TdZdpfP5nP8OoBRxRxWKIvAt42HfXl4qk5ROf_VT06qzjUX7tzUTSVabMhu9mfMapntcW7vB5uyhacOXSCCLOPCsXAQwCQjV37mC8SCjVSOyxqBrvIPyL8qcbJU2Q--0FdFf0BjXWwHGDVeMD3lG89GXfPQ"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t282557e4338dc910hsm.managedhsm.azure.net/",
    "RandomSeed": "2133033340"
  }
}
