{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/167042446/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/167042446/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "147"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759317682,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759317682
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/167042446/02cd92634fdd00fa3c595a29d66a8ebc",
          "kty": "EC-HSM",
          "x": "pu6U17vHbyp-0XpFOnEGxi2wF0KrbKZ7ZxaskNkKnOSGwTGSIeF7YOLSSH9DnizO",
          "y": "QiF-24pPjfbzTnmsTV__DZqf77QfAMJEzxdJDtr_lqKFv9lZ6tJO8MSyzNI1q4__"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/167042446/02cd92634fdd00fa3c595a29d66a8ebc?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250826-1-e0164bc3-develop",
        "x-ms-server-latency": "6"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759317682,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759317682
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/167042446/02cd92634fdd00fa3c595a29d66a8ebc",
          "kty": "EC-HSM",
          "x": "pu6U17vHbyp-0XpFOnEGxi2wF0KrbKZ7ZxaskNkKnOSGwTGSIeF7YOLSSH9DnizO",
          "y": "QiF-24pPjfbzTnmsTV__DZqf77QfAMJEzxdJDtr_lqKFv9lZ6tJO8MSyzNI1q4__"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/167042446/02cd92634fdd00fa3c595a29d66a8ebc/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "vlbbmhTIkAL6YyxekEnK8HSc-1VfiOPdu5kaUHiXDI85hmFXzntTEqUFW7IW6s_1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "10"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/167042446/02cd92634fdd00fa3c595a29d66a8ebc",
        "value": "oeDyplXsx3Ix_N0t9AGgZhx_vfHQYAVDrFjkJFaqgBvQIUZ4Na_egFY9uiAg2HanKO6IPViG_pN6c5jCR7FEVtAlWe-vqr6XrEeydzbsWJNRtvA47UJ6whJJsGLgsAz0"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t282557e4338dc910hsm.managedhsm.azure.net/",
    "RandomSeed": "425736771"
  }
}
