{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/158860403/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/158860403/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "67"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781250396,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781250396
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/158860403/77fa6ac9833241f79768815dd257335f",
          "kty": "RSA-HSM",
          "n": "kYcb4f7pIxDP0YcbYCsduC5WMxFW48KcXdo45Beh4QIRU0HFMv1Y-URlO2hlRoL-QNrm1PDgoqJpLAKKbIQogUdyTdjuuhLAG6KOmRwQZaemwG-trhHMCwcUBUTHu-VyEea0QahU9-N3pi4qOQnLLO-CdpL3n6J6GNOXOcdKsKh4qaF-ev1Wl5DhVQe0AticMsJb-UVqGOI9xpVEcV7xz-i_nAzHaB5se6jQXKXFD8kjVhuz7DZ2YVVHsFekcrSNJU3htH7O0aRNAPzS8TGHbz5M6AqOdKjb_nM6exazx708qIEko-gqxasIVC0jZI2JUtCq3TrlhBZW8yf_sVhwyQ"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/158860403/77fa6ac9833241f79768815dd257335f/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "gQysK8wBmmcQQ1bd-2w73hih-e5flNL276FevsnFxP0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/158860403/77fa6ac9833241f79768815dd257335f",
        "value": "Nr4vOmlBZ3RpZw7ZsPb5_LSZ1zw2W1LH1TKLN5bCmsrzeVPpMu464VPEoqKcPtJTSFOpnvuguKBf28iOAYDit8kAR78UMJgDElKV[...]
