{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1509074469/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1509074469/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "87"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743497247,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743497247
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1509074469/a696d135faa604eb206c0eee775064a0",
          "kty": "RSA-HSM",
          "n": "iB6VYgj8V2d7aVS_lyRvDsxm5Wdko4LXEds7nNiMOMJfVXDOOffZ44_-anscnBjeBwHY9K1kvCBGf9lyDZf9dzXw9WdpEuLiD4goykp42axYyj4O-K0_plQjo1ZC1wE3PB0JhbrrPXZZP1Q4o_NMm5Y9Tos_VJSuXnyETML5-fZWYeSO2qP6Y8Pv-iQwbkdWed9BvBl6__ipNv1zoxQgd-oXRal6q1BMHAq8lcl3zRpQ6MSwAvROYH-f-ugAlwTC0-BNKbJYALmOQBXWRuh5yf_mTMFP_rqtynmzoxvx7X8yVKX6QdTKD3tMNPELHwFFflCMfOv-vwsUkVA4jBC3aQ"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1509074469/a696d135faa604eb206c0eee775064a0/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "value": "AiHIafHJ9yPy8K4oJGLDAi6jOKmAGcUgHAXurRuHBXinUq3q41hRuLvkvD4mhkaJcKvjYtItQEdZQUYOeObjnw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "10"
      },
      "ResponseBody": {
        "alg": "PS512",
        "kid": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1509074469/a696d135faa604eb206c0eee775064a0",
        "value": "e_hRbzpz0P2ajW3rOhet5jkqY0xJjw-Xm78vIFixCVC7kCKfwRpWjf0YuS4z0XS1ZFPkWJ2p5fdpFsdBRUHvyCkVfMRdTwxitLE0O3ZNaa8rbsFOn1xc0aGVWIbLOj_OEroun157uma9WCfg-6c93mSLliXyVoO-gHs5AlaUhx-ixJxDAVc-Jcy_ZgO5bkHpMBL2BVg67Ds6WGSruk15HZtj5UfeTr5SsRZYlREXaUNYerjFyysMvUEonoVzgVxpex8r2iHkucyj6_wm_erayJmlAbX2nABz1z2n4u5cy8eOsbh0jLxWN0tVaL4AiAbBa6xdPxyNQZC24lVWA8CpaA"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1509074469/a696d135faa604eb206c0eee775064a0/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "digest": "AiHIafHJ9yPy8K4oJGLDAi6jOKmAGcUgHAXurRuHBXinUq3q41hRuLvkvD4mhkaJcKvjYtItQEdZQUYOeObjnw",
        "value": "WDrGMNanav8O_Sj5pyqJ8DsWjNgg5FN78utPGosKAvFSyKi4MBnEpOEp6p1GT6EBrZerQyQcvvjMyRT_8kQabUHZVoWi-zZKjigtAVbIOu6dHPeS5Qclcxfygu1jsDYHG-1Un5gWcCV9x_bkB_P0FqEZVrg09mnHMSgGX-6iddJEycZ6AnQG0CqMb6DdJNtiwr6PcRlq8g_Cq0hmH7-qJMAwD2yOkJASLLc5StzPf2fYwrX53cyR_tVWuMPGUqSlfMHmAKy3Wy6XjuM4slFKtG83nGtacfmwEc4_hybyJhqpuIt0lEURQXTY082VlQ5yGhUvdh585m0C0-5lKA0x7g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "PS512",
        "kid": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1509074469/a696d135faa604eb206c0eee775064a0",
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1509074469/a696d135faa604eb206c0eee775064a0/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "digest": "AiHIafHJ9yPy8K4oJGLDAi6jOKmAGcUgHAXurRuHBXinUq3q41hRuLvkvD4mhkaJcKvjYtItQEdZQUYOeObjnw",
        "value": "e_hRbzpz0P2ajW3rOhet5jkqY0xJjw-Xm78vIFixCVC7kCKfwRpWjf0YuS4z0XS1ZFPkWJ2p5fdpFsdBRUHvyCkVfMRdTwxitLE0O3ZNaa8rbsFOn1xc0aGVWIbLOj_OEroun157uma9WCfg-6c93mSLliXyVoO-gHs5AlaUhx-ixJxDAVc-Jcy_ZgO5bkHpMBL2BVg67Ds6WGSruk15HZtj5UfeTr5SsRZYlREXaUNYerjFyysMvUEonoVzgVxpex8r2iHkucyj6_wm_erayJmlAbX2nABz1z2n4u5cy8eOsbh0jLxWN0tVaL4AiAbBa6xdPxyNQZC24lVWA8CpaA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "5"
      },
      "ResponseBody": {
        "alg": "PS512",
        "kid": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1509074469/a696d135faa604eb206c0eee775064a0",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv041hsm.managedhsm.azure.net/",
    "RandomSeed": "491145247"
  }
}
