{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/371597061/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/371597061/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "211"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781249334,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781249334
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/371597061/a957aea30d9c496685fe22ccd7ad83f5",
          "kty": "EC-HSM",
          "x": "ASMXHFncxE-uUqXKrtOCAsMs4dLATuU1ftp9dsFKlmW5fUhsSXoii5BOkNlsr9ouR-uLQBKAzF5iLgVw_9fScqaG",
          "y": "AEPqAa-KjMkjab5hg16NXIbQckFWGzCxQwdR26mkGguaNTujg7ljgtlgj3GiX2Zb5PJ76i59VDByR03qAfUA_uKD"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/371597061/a957aea30d9c496685fe22ccd7ad83f5/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "7g_w3yBJBwD2bPA71uXAY_Shfoa0BofsPT06Y7P4sraEKdO6hMx-ExmRTVE6DSOo8p_WU0lxeBsTaj_VoTkDLQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "34"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/371597061/a957aea30d9c496685fe22ccd7ad83f5",
        "value": "AdZ0RBWZGPs2o9TtOCvIy85ATl2rmMnUhpvXIMvdUSW4oPfdIajwfjGo[...]
