{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/706244174/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/706244174/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "76"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781249271,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781249271
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/706244174/d11727e78b600db024dec595beb2a386",
          "kty": "RSA-HSM",
          "n": "lLRIsPRv0ZlN8_FbiAGjrDf0uR3SLjwJvWemziTAH9NT5fq2lvMI6vxnXn4fZGe8R3P8PUx4ufTJi6JevOb8q-Z2jgMgKXdZPFtNElZ7KtrJ84VBoFeM46HxV3i69snLgZpUXkTmcECPuqyAaJJR1urvl540u4o_yIJh5MV7KGrnc-Sf2MYItCqzBv5tk3j71XdbcDqNUPrrSMZtTs3TpeQp-SoOka1eJ1gIzje6hVyMAN1bfB2s3Kjepo5vVIkrtp-wJH-5K3zilXAuVg0LmWwMiUf2YoZjkotPH_4NNDnfRaHNl6JmAyc_kIo-o4gYhjOenRX4MwGN5dbakD8gTQ"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/706244174/d11727e78b600db024dec595beb2a386/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "PS512",
        "value": "JVvjqiDNHyObCQU2fBUe38-Uniigo7iQnpvqdx0iBrxBMdxuLATvoq5iVEEbumBYtZEK__r4bTCMsRxJUcHGVw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "10"
      },
      "ResponseBody": {
        "alg": "PS512",
        "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/706244174/d11727e78b600db024dec595beb2a386",
        "value": "Y4v60t5sTd_-BaRsVby0o6B4Z0e_3k1rAIycJBBgrlpEbF-8gGu8Ntd1[...]
