{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/418426918/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/418426918/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "73"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743438594,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743438594
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/418426918/d7f2bb66dee24bd19eb8f64c9583eaba",
          "kty": "RSA-HSM",
          "n": "qrAPuuvMzXb-wiXGO2XYVJ2OmTL33pF33S50CtQ7DtlAJplOdLANCjw2qgD369KT9XsjfvnZHKF45fuhauBtfvOZJZR40zV453a7hxjy8LOMUvkP03pU5nHPyYUKbECQQ_Jw5tbPcQ4EMn_55Q-Gbr4fjgmcV1FzCFPOSHQ4uZElLAH1CUbCNEim0VAHMSHFPW_0Zuu55i3t625tt5Q48FNBPuJd265dc7LDJ1-3Ep1pOqL-gOvg-FSH4NBlYnwDnNiaeZOHbDXxFWQn4TeDqlhrbdKLFH4T_buUCQdRB7riK4jkv036qUuAG9dejcM3dRvplwyytBBZfeLZGjnhow"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/418426918/d7f2bb66dee24bd19eb8f64c9583eaba/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "bHkL0rRgQvPh5rH6Vkixq_CRf0dhWUX6KyL8xCOG7E3zdf3VNrSlkNokzv0JyxMOhrXrEYMSnYsWIX-DZnFZWw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "alg": "RS512",
        "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/418426918/d7f2bb66dee24bd19eb8f64c9583eaba",
        "value": "HEEq4HWOuCJSmwxmiLHQDLTW2KmasEPDMx1NdNCxADGEmyNxpBjbC-It57Va0P2hK3QxIoEkXedAHtAZo9CQ_2Zc7_S41dTJWpWrUkydA_KVGC4rF42piU0ceJpkTeMVCX3vdVxK2UXdcWd3YHeMnEussjfGW9Jv_Rkf-o8FxPlNXu1iyqhNzhwoDNSGacdKxyil7nHaNKlmMKCr72vsjpjBZpL_uGVPwH0PsawIWi_7I60K_dyicY3atECiEL3Sucx5QDoCbbsaYldT3T-Hr6Mh54tlySYxVV8Y9Av73RdxxbmBU7CiIY2szqNj8CltFnCJnAE7GVJ52UareTzMjw"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/418426918/d7f2bb66dee24bd19eb8f64c9583eaba/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "digest": "bHkL0rRgQvPh5rH6Vkixq_CRf0dhWUX6KyL8xCOG7E3zdf3VNrSlkNokzv0JyxMOhrXrEYMSnYsWIX-DZnFZWw",
        "value": "HEEq4HWOuCJSmwxmiLHQDLTW2KmasEPDMx1NdNCxADGEmyNxpBjbC-It57Va0P2hK3QxIoEkXedAHtAZo9CQ_2Zc7_S41dTJWpWrUkydA_KVGC4rF42piU0ceJpkTeMVCX3vdVxK2UXdcWd3YHeMnEussjfGW9Jv_Rkf-o8FxPlNXu1iyqhNzhwoDNSGacdKxyil7nHaNKlmMKCr72vsjpjBZpL_uGVPwH0PsawIWi_7I60K_dyicY3atECiEL3Sucx5QDoCbbsaYldT3T-Hr6Mh54tlySYxVV8Y9Av73RdxxbmBU7CiIY2szqNj8CltFnCJnAE7GVJ52UareTzMjw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "RS512",
        "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/418426918/d7f2bb66dee24bd19eb8f64c9583eaba",
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/418426918/d7f2bb66dee24bd19eb8f64c9583eaba/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "digest": "bHkL0rRgQvPh5rH6Vkixq_CRf0dhWUX6KyL8xCOG7E3zdf3VNrSlkNokzv0JyxMOhrXrEYMSnYsWIX-DZnFZWw",
        "value": "HEEq4HWOuCJSmwxmiLHQDLTW2KmasEPDMx1NdNCxADGEmyNxpBjbC-It57Va0P2hK3QxIoEkXedAHtAZo9CQ_2Zc7_S41dTJWpWrUkydA_KVGC4rF42piU0ceJpkTeMVCX3vdVxK2UXdcWd3YHeMnEussjfGW9Jv_Rkf-o8FxPlNXu1iyqhNzhwoDNSGacdKxyil7nHaNKlmMKCr72vsjpjBZpL_uGVPwH0PsawIWi_7I60K_dyicY3atECiEL3Sucx5QDoCbbsaYldT3T-Hr6Mh54tlySYxVV8Y9Av73RdxxbmBU7CiIY2szqNj8CltFnCJnAE7GVJ52UareTzMjw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "RS512",
        "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/418426918/d7f2bb66dee24bd19eb8f64c9583eaba",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv331hsm.managedhsm.azure.net/",
    "RandomSeed": "677640248"
  }
}
