{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/982207215/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/982207215/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "oct",
        "key_size": 256
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "52"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780405187,
          "enabled": true,
          "exportable": false,
          "key_size": 256,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780405187
        },
        "key": {
          "key_ops": [
            "deriveKey",
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/982207215/2bac66069136453b2d3a60bd823e508c",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/982207215/2bac66069136453b2d3a60bd823e508c/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "HS256",
        "value": "Dfv-srt3EL_Q-NwkMROEZd0Ld2amFH4EqE3tWkqxAt8"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "8"
      },
      "ResponseBody": {
        "alg": "HS256",
        "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/982207215/2bac66069136453b2d3a60bd823e508c",
        "value": "2hes_who6_nu3uml5WzCyw3ofUZvTLB0ryszugF_w1o"
      }
    },
    {
      "RequestUri": "https://e[...]
