{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2058739224/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2058739224/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "123"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1707539413,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1707539413
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2058739224/98bf299febf64ad32007b1bca6de73bf",
          "kty": "RSA-HSM",
          "n": "raClGPqhUEuNXX1dVorHLlcPjpiWr-yt9vCpYRn2gIezoG204HxUAPPGd-I9qx0YMrSf-YH5EgQTsFJ-gIXTtoFhs0m6Q5l05SNTA0KTHImNFc50_-yiOIPhjb9sFi-WCa0oXOkUXsnzlrrxZXFwdEiWbQeirDEu-cZ7L9MwjT1U_GLZfLOoXctGpki3sJvzj2-aMlv0jsqRfKgPFKAsAjjdd1OTfhyobZmBc7s8TuEBITNmtA-qJWDs4WzL5Q6ZK8OC7FQZavZ_A1_SBzxYbJ499jTgFnHyIyFISG8bQp86sqUA9Nz6M62eaMAnUnhQXePAhizSqz8NU6lmA715Mw"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2058739224/98bf299febf64ad32007b1bca6de73bf?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240118-4-86344c01-develop",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1707539413,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1707539413
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2058739224/98bf299febf64ad32007b1bca6de73bf",
          "kty": "RSA-HSM",
          "n": "raClGPqhUEuNXX1dVorHLlcPjpiWr-yt9vCpYRn2gIezoG204HxUAPPGd-I9qx0YMrSf-YH5EgQTsFJ-gIXTtoFhs0m6Q5l05SNTA0KTHImNFc50_-yiOIPhjb9sFi-WCa0oXOkUXsnzlrrxZXFwdEiWbQeirDEu-cZ7L9MwjT1U_GLZfLOoXctGpki3sJvzj2-aMlv0jsqRfKgPFKAsAjjdd1OTfhyobZmBc7s8TuEBITNmtA-qJWDs4WzL5Q6ZK8OC7FQZavZ_A1_SBzxYbJ499jTgFnHyIyFISG8bQp86sqUA9Nz6M62eaMAnUnhQXePAhizSqz8NU6lmA715Mw"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2058739224/98bf299febf64ad32007b1bca6de73bf/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "v0Yo_eDmY_8gE8YyAa803qQEFkanDvK52RIOi46oMg0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "RS256",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2058739224/98bf299febf64ad32007b1bca6de73bf",
        "value": "WizEojMT_qb08IvZ546sNbTGv866StSMfqj1asOCl_Pvdwmnae9WNHEskf3TlLDo-EkjkcfEZr4tHc670fAJ9avsSnigpSKVyfr6J_1Nu185I62Z7dbp9jYobRYZ7CIxuil-3JzcsJgy_5v7nU63jur-FUKyxWWSsI1g-AcJiz1CroLgC-Xm1vcbKFYs6ZFxaeCwTi-cBn8kXu_5QPCcI8UD79kM-r00SxNxy4FeZOVGhjGGc9FFEj4AXFD-tKiw_bce38ztcSWOsz6GR6oDcxB3VKlYyyJx_0a5RcGp9XrRbRaDuJPvhwyyK0GpGA2OmM92soA4osTmU4B57Ltrsg"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "1847266013"
  }
}
