{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/652401155/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/652401155/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "238"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750764505,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750764505
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/652401155/71637fb9ceaa0d4eb3ced34cd9730d8d",
          "kty": "EC-HSM",
          "x": "AINhC9wlANl4rIcnc0qp9yBCAxzKGB6sl6znKRP-3Gtva5DrxrzHq_JnWSXDjRNNf0f0msFi30VpRJElA7KjFM2w",
          "y": "AJCzcoSLt3RvnSVvw7wXqdreg8A6yNIb9nwpOrcDu7Q-XQnNu7Lo6LhSaK_gHjteiAznozkpoYkispvQ9MmGnHmU"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/652401155/71637fb9ceaa0d4eb3ced34cd9730d8d/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "2-ZxKwAVDMHjrhx_Ie4LqTWkF0DD-PuNcsigu1rtPNgsjmXgxGWgugCmsCNLwYFfpla228g660TOLDNAscBLDg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "33"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/652401155/71637fb9ceaa0d4eb3ced34cd9730d8d",
        "value": "AEhjywSb0xv-xAoJYXVvEbx9_z_OAbW0wQ_38Lkd1mFkpmsWpM1AHNMeW1W3HMEt34paCAQT9IzvpFHHwE_AwMvqAHQUTUckAmnqCx4qsnE8SJaidU0ThdfDZ959Q4u1ttQ476InTDhso_QreSHQ159BGcEcBhJXuHMRLRDDnLp77GtB"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/652401155/71637fb9ceaa0d4eb3ced34cd9730d8d/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "2-ZxKwAVDMHjrhx_Ie4LqTWkF0DD-PuNcsigu1rtPNgsjmXgxGWgugCmsCNLwYFfpla228g660TOLDNAscBLDg",
        "value": "AVGJ6JyzI1gbSSCw0jHlywVR3U9DbNdu1yW_fA55mUwpGWkDM-ZQ4N4FviqtvPSrii5M80kVCN18uDHJgTrkGsbtAHzvIdQkew4dbEXtQbnUWhZ8AcZ2jNsdl0w7m4i3BcqQzzxORTmXxcciOkLreY2ERIz4EWfeFGiEckUAlYOHpDZO"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "55"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/652401155/71637fb9ceaa0d4eb3ced34cd9730d8d",
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/652401155/71637fb9ceaa0d4eb3ced34cd9730d8d/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "2-ZxKwAVDMHjrhx_Ie4LqTWkF0DD-PuNcsigu1rtPNgsjmXgxGWgugCmsCNLwYFfpla228g660TOLDNAscBLDg",
        "value": "AEhjywSb0xv-xAoJYXVvEbx9_z_OAbW0wQ_38Lkd1mFkpmsWpM1AHNMeW1W3HMEt34paCAQT9IzvpFHHwE_AwMvqAHQUTUckAmnqCx4qsnE8SJaidU0ThdfDZ959Q4u1ttQ476InTDhso_QreSHQ159BGcEcBhJXuHMRLRDDnLp77GtB"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "54"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/652401155/71637fb9ceaa0d4eb3ced34cd9730d8d",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekvv76hsm.managedhsm.azure.net/",
    "RandomSeed": "1168038265"
  }
}
