{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/645143263/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/645143263/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "67"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780404956,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780404956
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/645143263/a168a75d5c0042178095082c5abb94e1",
          "kty": "RSA-HSM",
          "n": "mBC1gMvGK0dGClYrSbHz_CyT4SdOQh9oB62PwtRVO7hVSboqLMwUcj489YDyMWnLijWobThFFjlmeCgJrZ-f44rG-nprwv3S3MuBsnyLxZwlAlFlW6C898Gn4Iw2dkMoWIk0iwBDvjHbp6pkSt8nCshrE-Zc2H_O5e2nuthoTCjYHL1HZZYLwRkSDpy2E73vxmOu3DHkFLkmCGC0ms9W-OLZPuuRECJLYVEIBb9qo-06kP4zHVkfuELXL1Y1CC_qALQPN01qCqzbRNvefPQn-2W7FiLb7gZWhLmq3s3sx7eLW1Egyn4ZxkBuXxbzVdKfDV5x2Lfs_1FEWgyRaZAU_w"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/645143263/a168a75d5c0042178095082c5abb94e1?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260505-1-b95d5630-develop",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780404956,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780404956
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/645143263/a168a75d5c0042178095082c5abb94e1",
          "kty": "RSA-HSM",
          "n": "mBC1gMvGK0dGClYrSbHz_CyT4SdOQh9oB62PwtRVO7hVSboqLMwUcj489YDyMWnLijWobThFFjlmeCgJrZ-f44rG-nprwv3S3MuBsnyLxZwlAlFlW6C898Gn4Iw2dkMoWIk0iwBDvjHbp6pkSt8nCshrE-Zc2H_O5e2nuthoTCjYHL1HZZYLwRkSDpy2E73vxmOu3DHkFLkmCGC0ms9W-OLZPuuRECJLYVEIBb9qo-06kP4zHVkfuELXL1Y1CC_qALQPN01qCqzbRNvefPQn-2W7FiLb7gZWhLmq3s3sx7eLW1Egyn4ZxkBuXxbzVdKfDV5x2Lfs_1FEWgyRaZAU_w"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/645143263/a168a75d5c0042178095082c5abb94e1/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "XhBKIWq8XhljRJNwZfzxBxRcNOuNx-Ew1YTpI88D2Ko"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": {
        "alg": "RS256",
        "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/645143263/a168a75d5c0042178095082c5abb94e1",
        "value": "LMNlSys1DwF4V0t4UWA4gLQYxz9fHZttoVnktHx6fAm7Sm-tI85cX8w7kcWZ87pxC1subUq2srJbHY1w3vs_nECRDmmidna0uJOwwoRgpuxcpukQ-QONZGsVRLkkHfKZhor0hyKZwu_N2bepmPxLVvVv-F3c7d9wxv7wtoC73MXOOpBdYjFZzsrW_GAveA05U-zOWI2_S3_eM35pQ8_Q-QlifRuelMojr_5hvf3MtpbBFZzeshy48hIUn9HsxCer9rHKGNWzEuPdEzMYB9WPvxM47VvQ8AKQOx74Zd86HKuBRHvrUshRvE2K3AQc0WTJoo55u1n5pkyjDXqgDkbmAQ"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://externalkeysdkhsm.managedhsm.azure.net/",
    "RandomSeed": "85436755"
  }
}
