{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/2019806915/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/2019806915/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "68"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750789049,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750789049
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/2019806915/8c684d786da50927b1669e1bd512be93",
          "kty": "RSA-HSM",
          "n": "ldtXpnX9v-ENN7mRyqBRdGlMzLkvyWZlhEDwV3LkKmjcoaNVfsCy3NzzGS9d6qoHOutzO8rWO1qJD1xOZpaMh4-V7vzrDYImYwTcLdebrXOh2rLcAIf1JcJOir-lJ9LVROHg3ddcmgBy4Oflb52aZa7hK3CiYwHF-79qH4pxefSkDwpXLpr_l5H46ClZVlMOV1jyHBYaD-gUDGJytkElG10cESnNY6Gugmd6QHXK8z3nt1KyzoNqCvsY3Uk1DN1AtK2Fl0FV6DOGKkfsUaDHw3Q-AGB4WesGQby3LVC6htITnhNJe3VH6n3tSd8w813GBg-5qGljEJuxaFZnIZyA6w"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/2019806915/8c684d786da50927b1669e1bd512be93?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250601-1-938c6570-develop",
        "x-ms-server-latency": "21"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750789049,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750789049
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/2019806915/8c684d786da50927b1669e1bd512be93",
          "kty": "RSA-HSM",
          "n": "ldtXpnX9v-ENN7mRyqBRdGlMzLkvyWZlhEDwV3LkKmjcoaNVfsCy3NzzGS9d6qoHOutzO8rWO1qJD1xOZpaMh4-V7vzrDYImYwTcLdebrXOh2rLcAIf1JcJOir-lJ9LVROHg3ddcmgBy4Oflb52aZa7hK3CiYwHF-79qH4pxefSkDwpXLpr_l5H46ClZVlMOV1jyHBYaD-gUDGJytkElG10cESnNY6Gugmd6QHXK8z3nt1KyzoNqCvsY3Uk1DN1AtK2Fl0FV6DOGKkfsUaDHw3Q-AGB4WesGQby3LVC6htITnhNJe3VH6n3tSd8w813GBg-5qGljEJuxaFZnIZyA6w"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/2019806915/8c684d786da50927b1669e1bd512be93/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "value": "Ng8k_p-TwzAsIUpeD1wiY3Ba5fps6bWft8j2Unwg7LFPowSbNq-ESQvEgYLvI_H_kSrL7SX79LyQQVprawig0w"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "PS512",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/2019806915/8c684d786da50927b1669e1bd512be93",
        "value": "RaIdbabJ9YwSWPUAwjqkvFwFpC7W3uu71qfGc2Lg0Sax6g8Hz_SkglRmXiQcRJv7mIyPxghWF2JvBfi-Ilra-8jIymIWl4EYpLFUyvpCpb3_esThNKrRC09lse_A1ZuScCf7HfSWhrLxKFp3dQhRTOVUkPn1JdJd4LemsIqnbBk2lBkfCQ0c9yu1Caz0_JOfuAl9--C13xOt0KqdOJ6iE5ziRU809VwOkf6jYgrTKUWbJzbNMp0w8HwUqRhm4bNgy6vcnv4zBUeoCtoy5ZGS9Zm3UBEgmowxgHSEIxKq5aXiiyw5K0Fwti-km58g2nH6hkfabG_m4hIZEKu8D3GkTg"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekvv76hsm.managedhsm.azure.net/",
    "RandomSeed": "1415479821"
  }
}
