{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/2049047472/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/2049047472/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "71"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759316089,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759316089
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/2049047472/143e9614608646dd89b16d9f1a6b636e",
          "kty": "RSA-HSM",
          "n": "q3fxx1HnHDpPgRh9rF-NnrBw0eHQ_NjRqa41GORZNwMqs6aObKQO1YsaPXslCBxwdOfFZY2HGCbAtyXlQ5KhHaQhraQyQ9UpSLknVAOBKCXWe2kQgOEJEHX_Ci7_osysj43pLFAA42u81IO-kX2G_w-irLdBYF1zDx4FE2SoDJlIIwM3FH3rsefmRa7ZNmKLeqi0EzgsUgIMK7K3SY7527Wf2pQNBkfdtlAB6SthENZr-epOnvsOkcx5Z6n_VwSl5Z3Q40jjl42KNgXEdNTx_TkSiBEFnn1RdNgUWNuXv8UvDH0xM0LAiz-1eYwevcIcm8hmMVuEuRVkFD_y4LaPzQ"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/2049047472/143e9614608646dd89b16d9f1a6b636e/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "bbfGFrlACF6XglAAfVcXQvgpQ3Szab3y5aUCtNLcDHrfTYAdc00t8FcOp10OKofv"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "alg": "PS384",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/2049047472/143e9614608646dd89b16d9f1a6b636e",
        "value": "Zvjbi7ovr4M07luSA2lrg2UjXNEp9BY2odx8uztj1PIbhTEhh61HxSK-U1uzfWVc2C1b4kQQVIT[...]
