{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1581813011/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1581813011/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "227"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1707539583,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1707539583
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1581813011/05c74624bb4040ef1a80174d67ff931d",
          "kty": "EC-HSM",
          "x": "RUyug0o0gi1LGz0GaxlDOtCcs0b1pZu5FryctJEQM_FjMzE6TD6SnEkvWUcN9Jy_",
          "y": "CtxGQn8ibjv0jvKv0dNpNrXLFRFO9bB4oDcGcLnsAwdx5_TcjC8KJ-skZHBw-NQC"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1581813011/05c74624bb4040ef1a80174d67ff931d/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "qzrV4PKb7k7E4HXY3R4NNAKGuIGrVYDYzYrd6i0VVOzxxksIIsaNXeZa93LHWegp"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "21"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1581813011/05c74624bb4040ef1a80174d67ff931d",
        "value": "WJlN8RTD08SUw1CnjfkJSYPUyJy5aJqz5cnkdb3ZxojHVAB6DlXx5thhagjP6BYAxQySTB6P891EGC7TR0fPvHFXbbUN5WktvfUasjGQ7timNNn2DLyJ7gCL0C1xwvtk"
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1581813011/05c74624bb4040ef1a80174d67ff931d/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "qzrV4PKb7k7E4HXY3R4NNAKGuIGrVYDYzYrd6i0VVOzxxksIIsaNXeZa93LHWegp",
        "value": "ZWpolHwa-8iwsXhex9xRs1A7Wp_QHBsxzTlpaw62D1gEiTmH-ApiIwDlXw7gv6BCGi-ZPWXkgh-rAsU-24JPAeKNW7CLZ8sX0EWnArC50EbtM81-tZGKdI528xwVdlZ5"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "24"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1581813011/05c74624bb4040ef1a80174d67ff931d",
        "value": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1581813011/05c74624bb4040ef1a80174d67ff931d/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "qzrV4PKb7k7E4HXY3R4NNAKGuIGrVYDYzYrd6i0VVOzxxksIIsaNXeZa93LHWegp",
        "value": "WJlN8RTD08SUw1CnjfkJSYPUyJy5aJqz5cnkdb3ZxojHVAB6DlXx5thhagjP6BYAxQySTB6P891EGC7TR0fPvHFXbbUN5WktvfUasjGQ7timNNn2DLyJ7gCL0C1xwvtk"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "26"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1581813011/05c74624bb4040ef1a80174d67ff931d",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "562115068"
  }
}
