{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1377917936/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1377917936/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "77"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781249160,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781249160
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1377917936/45bce06b4ff845da9815180d311bd8b2",
          "kty": "RSA-HSM",
          "n": "idUW4ILWDxP2HYkd5omZ8uhWTZzP4yS1HRA3lCzVfDveiAgetOxuiMaLIZkL4IazCPZGo6Ym0znDUpStS_vj8RC8kf7Kv0-iD5PMD1uvwJkp3tPjE7BlbDbseRIhVRYIElnzJZcRKGYO5kzJ9NISPYbKpUUaWCM9IppY0xIHjjOvR-YSMz-dqBQA1y2zFoSYdgHKS7DViA2l5jVizxH5QKd8_wY5uEtnOI63eGq_Phk7IEYJtgHMMrxuhph_fG4YQErobf6lIg30iobcuXqIJVeMDoNonTX67preqjzyI-IyfSlwuYOvkmAvOusKFbR3l44ZlyfrU-U27roUewpzhw"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1377917936/45bce06b4ff845da9815180d311bd8b2?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260505-1-b95d5630-develop",
        "x-ms-server-latency": "8"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781249160,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781249160
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",[...]
