{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/218471247/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/218471247/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "291"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1693004262,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1693004262
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/218471247/db88d15829e40de3975254e0b78db091",
          "kty": "EC-HSM",
          "x": "AEY3qq-iT6XEHxjf-xEmgLZaBcN3Itd3SRvK9_fI99hy5BqK_na4XGX3M2QhQGYjhxZTeiODHrQjEJtesf94VmkE",
          "y": "APlsfQFiEDjBTF7YjmrWhqbiIcZ6D_7iVCX4Y961DLtsLsJIDXesTcBhTRlznn17tAXY2hOr6gdMzkcsDKC1_rLG"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/218471247/db88d15829e40de3975254e0b78db091/sign?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "KuwsRxuPuZ4-ThXR_Lp1y-k9XRIuGI_Qfr-qi8CD6L-Z1swbXms_HdGVb6XPAgV-YmViC8Di1HWC2UMt2nkCuA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "50"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/218471247/db88d15829e40de3975254e0b78db091",
        "value": "AL3uxbNNBQ66Dv9HI0zTLL89NRwRUQOZ0O1gqvN08O36Rwf6wdxMBey10OK6BUkHT6HUqbALaY-2VQUoWNRl0MfoAY5L_I2LhVqXNX2qGKSl6BFBfjIGyGd1P5UpVDGDwxN2EjZ72xjl-J6a8HZXwBZ65J5qnMh4ZQgtq84HgjbsuZaf"
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/218471247/db88d15829e40de3975254e0b78db091/verify?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "KuwsRxuPuZ4-ThXR_Lp1y-k9XRIuGI_Qfr-qi8CD6L-Z1swbXms_HdGVb6XPAgV-YmViC8Di1HWC2UMt2nkCuA",
        "value": "AFcKpSJ941su-MHW9VZvuZxqC9D4swhvRZ6j_OnMjnlEHMujRfzBtp2efTCnmt-lLmkFXP0vkOPBAg2-kKfR8WqBAJhDYoIK3nDt0g1tx_9qBfE5gtOO3sD65O7BR-jWAKbeJbY06SkhkfuOnP1ynuLpXG3VRZivWDmZjIH_MIoADT_3"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "69"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/218471247/db88d15829e40de3975254e0b78db091",
        "value": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/218471247/db88d15829e40de3975254e0b78db091/verify?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "KuwsRxuPuZ4-ThXR_Lp1y-k9XRIuGI_Qfr-qi8CD6L-Z1swbXms_HdGVb6XPAgV-YmViC8Di1HWC2UMt2nkCuA",
        "value": "AL3uxbNNBQ66Dv9HI0zTLL89NRwRUQOZ0O1gqvN08O36Rwf6wdxMBey10OK6BUkHT6HUqbALaY-2VQUoWNRl0MfoAY5L_I2LhVqXNX2qGKSl6BFBfjIGyGd1P5UpVDGDwxN2EjZ72xjl-J6a8HZXwBZ65J5qnMh4ZQgtq84HgjbsuZaf"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "71"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/218471247/db88d15829e40de3975254e0b78db091",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "1396255772"
  }
}
