{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1409672333/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1409672333/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "72"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781249296,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781249296
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1409672333/30d97458d4800dfa1ec85eacf5642466",
          "kty": "RSA-HSM",
          "n": "uotQ34htRXsmklSxvL-_y6yDvk6spmgyyXXIko5ZzdlcULGT-KSn6lhMrVNAIQHeTZl1Zfn-1qbn4Akih8nhAIbH76ScIFD8UPVCBuV-31QPO9KdAnod9G7LodIIovakpAcyscib4L3EAVzO7Yc1yRgi_dLT6RxbzY4Zop3kVs9_awU0X3nTG_aPaDsUa9yC_jWMmzyoi5IdmpVnSSy3J014RiH3xXaejyn1idjeL7jtUYiEJu74AUkePVUYj4u_IT6iTJX88e5wSzuCM5mMAUyikbjohhECNjUo3XlUIFJBd8Q0O6VmZBoJqxFIMKIyUzSqLJnEsxn1CltIe_3T5Q"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1409672333/30d97458d4800dfa1ec85eacf5642466/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "7oeMI2b0hP8Q51fb0AtlWfUx_NsH0CRE-hs_p2CMyng"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "10"
      },
      "ResponseBody": {
        "alg": "RS256",
        "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1409672333/30d97458d4800dfa1ec85eacf5642466",
        "value": "BFQ1GpfUK0IF8GJE99nPsZUplzlP1tXo0m1X0Hs7F-2dPkTBb3d1UxFVqgBvW-h_F6hJZ2REv7hQn5cw-XUReZBbE8ZuxAtuRb[...]
