{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/2022555755/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/2022555755/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "89"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750762883,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750762883
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/2022555755/667aa7d9c54f0ef0b429dab23300b26e",
          "kty": "RSA-HSM",
          "n": "ibgnGwL78tQ5wmiV6Fpq7YccpDZdbHgS_lV-VuFp6WdBZUwNbyY5U-GaEXmbxTIhmh-6c0VDz-7KMgP97KQkEA2DcwF_wH1mANqsZyVH0rUYEv6GWZ4TMxIJ2a_oAxEErTFN1zIsDjl7PbJv7H3asxKAUKZHRdq2j8G8dtv52ZKjbiMkgNfCb-Dy7ninkVzDiFKtcjAv6FH_yAiCQ3EnIKTqm5G_HR67Uqa4skTolqHkyreVYED7yEIlTj5bWzrluJlIt4bI79U78Negx11cG3lDvy24CFmz2TjbGVm8N2S05KECEawQ03L6ZoVIQGJ-dnCWUMjvLWdXZewyuZTdJw"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/2022555755/667aa7d9c54f0ef0b429dab23300b26e/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "hRRRKIL8BDGoLxdwANgPZJK0fSv6hvskNzr1WOq0Yx4"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "alg": "RS256",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/2022555755/667aa7d9c54f0ef0b429dab23300b26e",
        "value": "Zbr3aBP_URbnwcHsLb7wa-UuG2Q6moGxO-MOPXa7puqDd0UFYdXJ8Jtm6l5gLv1R9fo-_62TKjSkfLCkVY5RtJIYfFuQzYhIstdAcEDuBqnGOSkpiU3WG6FITd0XwNUKTK9jHQODCBtmiKlt8J73dFixFC3I4c_vJT9RdG4OjM4UDq4_1G1d0Yh3MrW91IiJRSQDYMWHglUBuSeXZjPjtZ_aVLecpDJQrsDYISTp0_kDouZZVf4RKt_KA09HENwDgpIchdFIhL0kB6P5uxtGwOO3KzbdBZdubx2iATYH-43k806ZZwY-SpoLiuqbW0KkGLL6vwfq_Pr7Yhw2TsykLQ"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/2022555755/667aa7d9c54f0ef0b429dab23300b26e/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "hRRRKIL8BDGoLxdwANgPZJK0fSv6hvskNzr1WOq0Yx4",
        "value": "Zbr3aBP_URbnwcHsLb7wa-UuG2Q6moGxO-MOPXa7puqDd0UFYdXJ8Jtm6l5gLv1R9fo-_62TKjSkfLCkVY5RtJIYfFuQzYhIstdAcEDuBqnGOSkpiU3WG6FITd0XwNUKTK9jHQODCBtmiKlt8J73dFixFC3I4c_vJT9RdG4OjM4UDq4_1G1d0Yh3MrW91IiJRSQDYMWHglUBuSeXZjPjtZ_aVLecpDJQrsDYISTp0_kDouZZVf4RKt_KA09HENwDgpIchdFIhL0kB6P5uxtGwOO3KzbdBZdubx2iATYH-43k806ZZwY-SpoLiuqbW0KkGLL6vwfq_Pr7Yhw2TsykLQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "RS256",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/2022555755/667aa7d9c54f0ef0b429dab23300b26e",
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/2022555755/667aa7d9c54f0ef0b429dab23300b26e/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "hRRRKIL8BDGoLxdwANgPZJK0fSv6hvskNzr1WOq0Yx4",
        "value": "Zbr3aBP_URbnwcHsLb7wa-UuG2Q6moGxO-MOPXa7puqDd0UFYdXJ8Jtm6l5gLv1R9fo-_62TKjSkfLCkVY5RtJIYfFuQzYhIstdAcEDuBqnGOSkpiU3WG6FITd0XwNUKTK9jHQODCBtmiKlt8J73dFixFC3I4c_vJT9RdG4OjM4UDq4_1G1d0Yh3MrW91IiJRSQDYMWHglUBuSeXZjPjtZ_aVLecpDJQrsDYISTp0_kDouZZVf4RKt_KA09HENwDgpIchdFIhL0kB6P5uxtGwOO3KzbdBZdubx2iATYH-43k806ZZwY-SpoLiuqbW0KkGLL6vwfq_Pr7Yhw2TsykLQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "RS256",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/2022555755/667aa7d9c54f0ef0b429dab23300b26e",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekvv76hsm.managedhsm.azure.net/",
    "RandomSeed": "1874177274"
  }
}
