{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1739438587/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1739438587/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "149"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1707551664,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1707551664
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1739438587/bcf8e21cccb8451928c090491bd38336",
          "kty": "RSA-HSM",
          "n": "h71w3gLiALit6cR3BxfeQmqfppHhQKjL3zsXDuqxvFjyjFdYSYpd-0KiufbhUNqrBzdjzxMep5Mv-oSahjGHA2EIr0SffBum8f2CSFnzkviMEOQo-eK_7JDxGZXzMN71VoXUSShygGBovqawkBIXMSIMCGiDL72Heg4fgqlql9mwQxqaKcRyuHz4LvGMAC0o7MZ_26L84HR1c6cm-CMCaIYcn82hvlxSbU8zvjioFKwq8JW_A7GjRiEEYwcXp_Ab3qhLC5QSxdzUYrf9v67TtTHIvu7e-MYlRIxnjRszCyLiH4HNOnVdGTmH4drnrhxpRomSnisiLi4Kmm1Y0zAXAw"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1739438587/bcf8e21cccb8451928c090491bd38336?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240118-4-86344c01-develop",
        "x-ms-server-latency": "10"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1707551664,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1707551664
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1739438587/bcf8e21cccb8451928c090491bd38336",
          "kty": "RSA-HSM",
          "n": "h71w3gLiALit6cR3BxfeQmqfppHhQKjL3zsXDuqxvFjyjFdYSYpd-0KiufbhUNqrBzdjzxMep5Mv-oSahjGHA2EIr0SffBum8f2CSFnzkviMEOQo-eK_7JDxGZXzMN71VoXUSShygGBovqawkBIXMSIMCGiDL72Heg4fgqlql9mwQxqaKcRyuHz4LvGMAC0o7MZ_26L84HR1c6cm-CMCaIYcn82hvlxSbU8zvjioFKwq8JW_A7GjRiEEYwcXp_Ab3qhLC5QSxdzUYrf9v67TtTHIvu7e-MYlRIxnjRszCyLiH4HNOnVdGTmH4drnrhxpRomSnisiLi4Kmm1Y0zAXAw"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1739438587/bcf8e21cccb8451928c090491bd38336/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "value": "FRS0JY1cvkJlGZNSI9dFfFZCgtdbWnzm60CxRP-veyy9XbBl-mCVYXEhNHOfyaxzsV1JLGvDg3N34AdzmtOwSQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "PS512",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1739438587/bcf8e21cccb8451928c090491bd38336",
        "value": "RauQgvLgTLrkXoC2Hr11bbNpKEXMAgTUxzryzEsf_zpiDhx_VdVp9mv0ijNTHVRufnJg6A46QeQuc6_DiNf97B2yBV45sfED9ioNcio6swRux2taDMGiA_rkgRWs_aEU1cYAt5HjTUAO1l7rHQNS8NBkruxmAYoc0Pdx9Bj_2mJaUi_slOesfibmkui6X2QeMZzoLVMiDFtgA38yUWpF_AIdpOcTq1MEeFdg474mvBGepsprgmtvubEILwqPcXJ65rtWzM7ZOprKggRjEeotjO0VZ43jXoqMgbqnL2xDJtm1g5U98YX-7UgMINeiuDAez4ig4pPCVccAfovhr9btLg"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "1811421804"
  }
}
