{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/413037285/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/413037285/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "130"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780405370,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780405370
        },
        "key": {
          "crv": "P-256K",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/413037285/665a2427eb2140c604f2c6d04eeb2ca8",
          "kty": "EC-HSM",
          "x": "caS7uIT8l664uBOYrBGxlu4aafOPFwaIaOKUOt1bCpc",
          "y": "oLOKZzJZbaJYrLnaVuQ2ZvgcjZYmfi4LSG8Q-TjgI_s"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/413037285/665a2427eb2140c604f2c6d04eeb2ca8/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "hHdAMbA9PWstz1GpldLk3dmt8q4Db0Z2dSXRdLArlhA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "12"
      },
      "ResponseBody": {
        "alg": "ES256K",
        "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/413037285/665a2427eb2140c604f2c6d04eeb2ca8",
        "value": "FWC1uo17PBLi1EqRDT-Re_e5NwyY_cH_3RbftNJpCp3qVCE2VdjTIJXnJBXkExL2oivADA1CHaI6e76UNInf6g"
      }
[...]
