{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1732647565/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1732647565/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "141"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1707539600,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1707539600
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1732647565/b18504828b2e081b89a02061dd4077a9",
          "kty": "RSA-HSM",
          "n": "h4Q2UXVEm7hMJ0_9maCdkL17vco1goOJXZ3smpHMv7oc2mn800YMIsSzLSciJ_jFHiGC2ZPOQLNjhmIuvxWf_ALXGnipReIBac1fEjcx80gnCovpBfg4CS1A9qR4rp7oOGHYPOyjlfkhv1iEu7FWt98vD-_3RH3Cj4M2HAgXRhCvkA8la09gdVlxwjpUEvffL_NuI1VXtNzXyIvRm0ZYHjAgRzQL43ZC8tCPbtk6EmwcphAwuN3hDSCQ85S7VzRJLtEKKjXKY-GKMxViApNs84m_ihJlRRtBLGj9NlRDXCzcxcUzOrlx0lEgdoscOUvPmUsjxYutANNGiHwqAKdWgQ"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1732647565/b18504828b2e081b89a02061dd4077a9/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "iysgRx7lJTqajZXZy3SB2CBG1ZnRII5Ta-tCDdJqotc"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "11"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1732647565/b18504828b2e081b89a02061dd4077a9",
        "value": "CPmCRK6viKi7-H9uX1t_TxmkGfvlYeUJYwJs4R16wK2Nc9KBnG96Bq5i-od9b45zZFLpD9mqJZvPuIhXGfLgpKt2mwLhJeC0Y2EWoZ48-j7nGf1GF7EiiDXGg_y_D-TeHohOizeKBUuI3b7Raw6ufCwXI5zBsRkyNA_HRLoshiVkrb6YVgTJ7SXdb_HO050f_6wwS1iMifOHsRFFmMHuCdfkyV49qTe2Is-Oh7mdp4KSyugBFNd6F0xZpzQJTQvditAQfRnWv_yiHPhc0IqyzHUMmrfHeSx1gJJ_LnDQYz3yL8YXWrj9kb6kMaJl4cIkCmtxMX5sYI-D4-YTH_8FTg"
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1732647565/b18504828b2e081b89a02061dd4077a9/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "iysgRx7lJTqajZXZy3SB2CBG1ZnRII5Ta-tCDdJqotc",
        "value": "Yw89Bn_90fUW9Yvl5HJWsYnBxWTE4sY6_NMKkyDMRRn-B_jVRZdt22ocsZcQXhB2QUzDEYw8Xdiv5wjV6-8OmrOEPEDHH_oh6AVqtKvDfqWhttS5uNsvfB4nrMjUEpJ8FOS1SlOgu-0Sw6QicqpmU-BegDQ_SZxRUhuXn-aKJckJ4--1ok-MZ8aB-MTuomL74FUtqZ2pGyLmsFQYwJvOowDpIvJOYm_WWuUHmvC4XWtJ6IIWv0fQa0mYI1-P6DAdq-40_E_rzRoaet2OIh37VfC2T5yg3toCFtXGWHGwAE-dt3JNOHe3aDLmCHvHO3pRjG1GWxL2ZrXpCX-ex0Tpwg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1732647565/b18504828b2e081b89a02061dd4077a9",
        "value": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1732647565/b18504828b2e081b89a02061dd4077a9/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "iysgRx7lJTqajZXZy3SB2CBG1ZnRII5Ta-tCDdJqotc",
        "value": "CPmCRK6viKi7-H9uX1t_TxmkGfvlYeUJYwJs4R16wK2Nc9KBnG96Bq5i-od9b45zZFLpD9mqJZvPuIhXGfLgpKt2mwLhJeC0Y2EWoZ48-j7nGf1GF7EiiDXGg_y_D-TeHohOizeKBUuI3b7Raw6ufCwXI5zBsRkyNA_HRLoshiVkrb6YVgTJ7SXdb_HO050f_6wwS1iMifOHsRFFmMHuCdfkyV49qTe2Is-Oh7mdp4KSyugBFNd6F0xZpzQJTQvditAQfRnWv_yiHPhc0IqyzHUMmrfHeSx1gJJ_LnDQYz3yL8YXWrj9kb6kMaJl4cIkCmtxMX5sYI-D4-YTH_8FTg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1732647565/b18504828b2e081b89a02061dd4077a9",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "1810134085"
  }
}
