{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2095349673/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2095349673/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "246"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1693004239,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1693004239
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2095349673/124f81c2c9f04de23a0c96457ef66321",
          "kty": "EC-HSM",
          "x": "APxg4nJYyk4UTmnn9Gqhp6E3tMQHV0NU3gxZ30yOKB9K-fwuB-zgX4rs_mQ-n21kvg6qehtkq6OriD0hPgKFPgJ3",
          "y": "ASLC9FCMSf02u-616LMFi2FVpd_Dd2stkq7hTew_bT4hC_G8-WxehBDONZPJ5OfscaYdRXv9wbr1_rCWHIMEml2H"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2095349673/124f81c2c9f04de23a0c96457ef66321?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230713-3-40221b92-1.0.20230706-3-4bcefe4d-develop",
        "x-ms-server-latency": "16"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1693004239,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1693004239
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2095349673/124f81c2c9f04de23a0c96457ef66321",
          "kty": "EC-HSM",
          "x": "APxg4nJYyk4UTmnn9Gqhp6E3tMQHV0NU3gxZ30yOKB9K-fwuB-zgX4rs_mQ-n21kvg6qehtkq6OriD0hPgKFPgJ3",
          "y": "ASLC9FCMSf02u-616LMFi2FVpd_Dd2stkq7hTew_bT4hC_G8-WxehBDONZPJ5OfscaYdRXv9wbr1_rCWHIMEml2H"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2095349673/124f81c2c9f04de23a0c96457ef66321/sign?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "CdHPKA4MrOLzj-9dZVOcsaCEu5KtJKQKHxJ1ycAaPrQBM4eUqyW8pV6V-tTUPBLMXr-_JmaC29lbusst-oTw6A"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "37"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2095349673/124f81c2c9f04de23a0c96457ef66321",
        "value": "AE_FV8yXIMvgCpBkcjru8lkmtFVXQlxaxbbsGqeeDCkAVb7an78YXv85lqTGG99OkbkiEoAbvRixi-BjRzpYiFPrAGMPutre4j7_Z_WimbNJvwNb9zRHSOSAA07UopsfxA3ay8guvd38zxvvAwV339zYflKuwTY_4GARwu8TY9lR3Sl_"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "690084434"
  }
}
