{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/2112389711/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/2112389711/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "99"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743543267,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743543267
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/2112389711/9a3b068ca873050c10dec3a877663409",
          "kty": "RSA-HSM",
          "n": "rBez38p4ITG-rYA0f7Lagut7FhliFFlKwKHLivUA01u6qSv9c110Mghzm01_uYS-AJgkIOFQXk5NB5rOYpH6Le0uDqr3aEPPhU6evzzihocYlRALhP08Xf_eYr0R2cM48B_JhpiibF8hLOjNTQUDr_mD2P6JSjL4w3876_-SuaH60-tffO5T6dZ5mS2mK9cTUiGUdMsJwAFbfIpdho2oJ-YnVoXYxV2Ivb3jcY7-J0wixZZiYuCQs3AGTeIE3jswaAhFet62bh1dHg6bf14e-ShT--xp0AKOQPiRNmYcIsuTvRsfQ8W18lj8enccjlhTuRe33pYjcqZGmrtj8_Arrw"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/2112389711/9a3b068ca873050c10dec3a877663409?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250221-1-e4accbbe-develop",
        "x-ms-server-latency": "22"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743543267,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743543267
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/2112389711/9a3b068ca873050c10dec3a877663409",
          "kty": "RSA-HSM",
          "n": "rBez38p4ITG-rYA0f7Lagut7FhliFFlKwKHLivUA01u6qSv9c110Mghzm01_uYS-AJgkIOFQXk5NB5rOYpH6Le0uDqr3aEPPhU6evzzihocYlRALhP08Xf_eYr0R2cM48B_JhpiibF8hLOjNTQUDr_mD2P6JSjL4w3876_-SuaH60-tffO5T6dZ5mS2mK9cTUiGUdMsJwAFbfIpdho2oJ-YnVoXYxV2Ivb3jcY7-J0wixZZiYuCQs3AGTeIE3jswaAhFet62bh1dHg6bf14e-ShT--xp0AKOQPiRNmYcIsuTvRsfQ8W18lj8enccjlhTuRe33pYjcqZGmrtj8_Arrw"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/2112389711/9a3b068ca873050c10dec3a877663409/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "Fic4urJUqbaGlC_jhbXAfY6lG7f5DHCkXi4glncLLEA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/2112389711/9a3b068ca873050c10dec3a877663409",
        "value": "CVrdsv-UohMoto1GGI7Oktm5EwzeCl7TDdwq8duz3nDYmLg6M9NneW2BiIXWnE7Xw1PzQwuPAVFveC_m38HgYE3ysZWmOaY5nA_2yUD78WG5jmHNputlCRnlHD3Lm_tWOO8v0-8OhDqxNluZxvAR42zWTIyhAogSoaHwTiSHYGBB9e55M-LsZhPoI-ZWPbVOgD8U3FOdMAsnphz4Skjsvc_vRk1eErGPCLMtOhKlEBTn5_8cl-W2VUp8frJr5fqRN9LfpSeftICKv2Tc2WL6pDBGYq6MLcNPeQ1hF7P50r5XrjHEqX7mgOfOUx0fYSp9YsN2zp4hpckeiQV4iDpBUw"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv041hsm.managedhsm.azure.net/",
    "RandomSeed": "689107904"
  }
}
