{
  "Entries": [
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1652550587/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1652550587/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "139"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743714646,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743714646
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1652550587/b04571fda1f14fb11a234f8829e2dcb4",
          "kty": "EC-HSM",
          "x": "sTPEZXtND8_BdOl54vDJUj7zdzyBV3PiJ6n7vAcME74",
          "y": "0R1eQmntEFqoOZ38gw0hOLOktx5hqW8kxOQroSUQEWA"
        }
      }
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1652550587/b04571fda1f14fb11a234f8829e2dcb4/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "tsVgjBSG3EvRjLnXHte68KWtXsz-z0ElWAptdMWNx6g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "26"
      },
      "ResponseBody": {
        "alg": "ES256",
        "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1652550587/b04571fda1f14fb11a234f8829e2dcb4",
        "value": "fW1tOgkdLkAZcyP9S2SwEFUDxpyhZ4U_d4DoOh1KoN6FnmlIoFYtJzBzmoFcy47ZyhOu-uUW1X-5BgnMGDE8EQ"
      }
    },
[...]
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1652550587/b04571fda1f14fb11a234f8829e2dcb4/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "digest": "tsVgjBSG3EvRjLnXHte68KWtXsz-z0ElWAptdMWNx6g",
        "value": "0FJV5C_j5Opvri_2gJv-bcLUnUThgxLmkrOOoZ9sIlyYBLkOKvUhtCfwtAQAy8dVqx1AjtDR05nXqV6l1nQQKw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "13"
      },
      "ResponseBody": {
        "alg": "ES256",
        "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1652550587/b04571fda1f14fb11a234f8829e2dcb4",
        "value": true
      }
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1652550587/b04571fda1f14fb11a234f8829e2dcb4/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "digest": "tsVgjBSG3EvRjLnXHte68KWtXsz-z0ElWAptdMWNx6g",
        "value": "fW1tOgkdLkAZcyP9S2SwEFUDxpyhZ4U_d4DoOh1KoN6FnmlIoFYtJzBzmoFcy47ZyhOu-uUW1X-5BgnMGDE8EQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "13"
      },
      "ResponseBody": {
        "alg": "ES256",
        "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1652550587/b04571fda1f14fb11a234f8829e2dcb4",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/",
    "RandomSeed": "28998570"
  }
}
