{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1950510711/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1950510711/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "146"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743437481,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743437481
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1950510711/08b48c64f5e70e7186bbe58f3b47c38c",
          "kty": "EC-HSM",
          "x": "Bef0SAsqmn_HtKPhN1zwPMbUshY2K5GfHoL2mhKig3vXJiBVGPxJKRzRbLWmagck",
          "y": "CcSNi1lJk_jPnif6kL_CA1o-nchOMzjgio5pjIX5aO_PnEYU2prg0CyijjvHyd2y"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1950510711/08b48c64f5e70e7186bbe58f3b47c38c/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "FIGXjIHAARqFLOEgvoWCYxr8PA9CZOSVZFFTIyoQ7CaXZoHmPfcWQjxrUBLXQ7l4"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "16"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1950510711/08b48c64f5e70e7186bbe58f3b47c38c",
        "value": "PXz-nRjB8Po7yZYupWGKTijRWrU4Pd7hUZ-McGk1r-YXumR5dGP4Dj7aLdUF9blfxAm_lSMoUSGOUYU2VlJwFtVuuVpLI5_GbvRC7rzccKg-xQufRWRP4t3rqkD32aTB"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1950510711/08b48c64f5e70e7186bbe58f3b47c38c/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "FIGXjIHAARqFLOEgvoWCYxr8PA9CZOSVZFFTIyoQ7CaXZoHmPfcWQjxrUBLXQ7l4",
        "value": "tQPI9njWtWeWG8SAUfdNC5eUONW1dtTyPh2gdIeyzuSfvhNJlYC0CGBMm2FThVa_JWkqe5c-S1evmp3p8gSYtjsCrMmiK28pHnw5VTPHwnUcF-CBO87YTBliylcqlGV3"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "20"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1950510711/08b48c64f5e70e7186bbe58f3b47c38c",
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1950510711/08b48c64f5e70e7186bbe58f3b47c38c/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "FIGXjIHAARqFLOEgvoWCYxr8PA9CZOSVZFFTIyoQ7CaXZoHmPfcWQjxrUBLXQ7l4",
        "value": "PXz-nRjB8Po7yZYupWGKTijRWrU4Pd7hUZ-McGk1r-YXumR5dGP4Dj7aLdUF9blfxAm_lSMoUSGOUYU2VlJwFtVuuVpLI5_GbvRC7rzccKg-xQufRWRP4t3rqkD32aTB"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "20"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1950510711/08b48c64f5e70e7186bbe58f3b47c38c",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv331hsm.managedhsm.azure.net/",
    "RandomSeed": "17081062"
  }
}
