{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/472279428/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/472279428/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "145"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759318045,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759318045
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/472279428/d7550ff3fce04bb4394ad4a783a8d908",
          "kty": "EC-HSM",
          "x": "EDGP9fFN3rlNhA8APZ8AYPgl7Umtp5Rxq87V-QHFNtP4RG1IsJ1rJzeug0ggjI2Z",
          "y": "affmid4V_cRr4_UekzSkqYyoFpY-U75enwC0eroVvZSOgr_ELDKXisNIrxZHVvrV"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/472279428/d7550ff3fce04bb4394ad4a783a8d908/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "mS-G_-gROSn2Fa5lsTAJSiir-vxWn0w3lrRYY4oB9lcuVhuA5DbHu5JUqVHtTq6p"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "15"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/472279428/d7550ff3fce04bb4394ad4a783a8d908",
        "value": "ugYyALgbCqT6hyf6AiYtNHq-e6MLwqboq-HEXM8lILAlheSSZlgzbCUrUCLMThawZCXkecHvfUY[...]
