{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1356920119/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1356920119/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "152"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743497287,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743497287
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1356920119/647170cb48ba41cc94e664e9a6c08874",
          "kty": "EC-HSM",
          "x": "iyliU_HV9Ue_L6IR5iq7bNvZT7PRHAzRpxq0EHX-NynhF9iz4tSSmngE7q0GKJZS",
          "y": "cK3R2xHCFuC8k5Iw8-Wla6FgNu0TkGWOXnafKJDHbLsV4Jyp_5vO-_zi2jnasXw1"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1356920119/647170cb48ba41cc94e664e9a6c08874/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "WjnF-8MqWo3-oY4v_940VCpQRTiA0fLEoJAZhMSRKKA8m5X-gN1gnvcjYVq4DoL9"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "19"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1356920119/647170cb48ba41cc94e664e9a6c08874",
        "value": "KRuZ9C_pJrQhRNT8G_5KcIrCIRBymVjqNRXJa88Ks2FNG0viZ5STqEtyjRjJEbA3llV-CROAcZzylVHudKzlNVNfzAIT04sMJ8gXGRcCPNDTKsI_RCSIaHY32Mc9ftjK"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1356920119/647170cb48ba41cc94e664e9a6c08874/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "WjnF-8MqWo3-oY4v_940VCpQRTiA0fLEoJAZhMSRKKA8m5X-gN1gnvcjYVq4DoL9",
        "value": "IXh_-Ve-DQuGiOhzSgOUV8WKw2-xXAaQyxvMxOnCv7Ti-Vw0-mSo7kjWJu0JypOBS2B-J5xfazqSIkZvxseFrqKPqHo-OT3DNiDAVBm8RkV5WksKf9LdgPVtU11z4pvm"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "20"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1356920119/647170cb48ba41cc94e664e9a6c08874",
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1356920119/647170cb48ba41cc94e664e9a6c08874/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "WjnF-8MqWo3-oY4v_940VCpQRTiA0fLEoJAZhMSRKKA8m5X-gN1gnvcjYVq4DoL9",
        "value": "KRuZ9C_pJrQhRNT8G_5KcIrCIRBymVjqNRXJa88Ks2FNG0viZ5STqEtyjRjJEbA3llV-CROAcZzylVHudKzlNVNfzAIT04sMJ8gXGRcCPNDTKsI_RCSIaHY32Mc9ftjK"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "20"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1356920119/647170cb48ba41cc94e664e9a6c08874",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv041hsm.managedhsm.azure.net/",
    "RandomSeed": "632141284"
  }
}
