{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/733789766/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/733789766/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "74"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759317617,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759317617
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/733789766/61dbc475f81e01ff0287ad35bab5ff28",
          "kty": "RSA-HSM",
          "n": "s6xYU-PUjxPf200RjZ85UY-65Bu1YIoqDt-PuDCcSfMCpv8fXr1nuLis9MN_MgKW_aAt-zJA7ESo4oaJrSH-dj0Mb-VBTx1D1IS72bhr_E7v8uOFs_Uf5Y8OONwWsH7ZY8t6aTcNWvaHTr8m5eKYkAcO4zDws5ymnwc_-1E0-gEyTMz2XzgW0wSS5ImTBuNNC4Y80r56PBMIxeSS81J1doIY881sQhly0SOooPF0h1JnNJkIGjUhrGGtjqVeGdudObj8TNriM2OILRP_lW_y2eduO9582pzse1t8Th6CVY4pfWLPwqRBWZ4fEmg40lETxYPa0j86Dbhwm1GzUDlniQ"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/733789766/61dbc475f81e01ff0287ad35bab5ff28?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250826-1-e0164bc3-develop",
        "x-ms-server-latency": "8"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759317617,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759317617
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/733789766/61dbc475f81e01ff0287ad35bab5ff28",
          "kty": "RSA-HSM",
          "n": "s6xYU-PUjxPf200RjZ85UY-65Bu1YIoqDt-PuDCcSfMCpv8fXr1nuLis9MN_MgKW_aAt-zJA7ESo4oaJrSH-dj0Mb-VBTx1D1IS72bhr_E7v8uOFs_Uf5Y8OONwWsH7ZY8t6aTcNWvaHTr8m5eKYkAcO4zDws5ymnwc_-1E0-gEyTMz2XzgW0wSS5ImTBuNNC4Y80r56PBMIxeSS81J1doIY881sQhly0SOooPF0h1JnNJkIGjUhrGGtjqVeGdudObj8TNriM2OILRP_lW_y2eduO9582pzse1t8Th6CVY4pfWLPwqRBWZ4fEmg40lETxYPa0j86Dbhwm1GzUDlniQ"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/733789766/61dbc475f81e01ff0287ad35bab5ff28/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "M05rGmCKrw88dHPYZ3BdXjdzMehgOsnCVUXZ7Q5g9-M"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/733789766/61dbc475f81e01ff0287ad35bab5ff28",
        "value": "LkSc-3OObPFW8Ny_-u__fkSehcrnAvX_5OX7KtxND8OTG5fWYZ95-Y9BwC7N-D2V5raeD_QE5_FOFLOVe5OOvmzi0jR7GhlY2rEdHAsnmZWUq705SPFdYGrolQaI1ipFqBrYSHFNz5Sn_Mm7_edhtfp9AP6VdbqEk6jR6Lxr0b151S7WSehy841mwOi9FmzOen-z4FyIzNRfWlFaK-ZAVSqQh2ox0NS_tHM7EfomL71_u3HRg-jIh7BdnczXmDIjJdI036dTSIZ9DbVBSsLcRqEnuOZwGogxwDQv_sZxdlQdrBRZsxsQ_rGv_q7VVmUfW3ZHOfMqREVkzE-4cVmZJw"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t282557e4338dc910hsm.managedhsm.azure.net/",
    "RandomSeed": "234595492"
  }
}
