{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1444317055/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1444317055/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "149"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1693004354,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1693004354
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1444317055/427536b605c70575148cbe3a86d6519a",
          "kty": "RSA-HSM",
          "n": "v37-2dodVPLXP6MUgY8KCBrOKpQqboaIEUZ6xwmX0028oAVc0qXvYo-T7dTJNNGLYANfn_PdqKNNlFnQmCWfZeCzKGe0x3-CxFM6XUJxcBkTQFNgvYFEHQzIS_5NUu9OVo2sa6xhIgBBAKE-glzDO9AXfN09G1bhmu_9jWh2cLSeRtybsd9vuYVDWXJYnH-S1BQlyPxry9iN1r-OHSaDFyLInAGZtJ-IrX3vf2gv2eLtkViWvWimnOvf5JORf3lltH8ReVzqjVFB55rDnN3puRbuxOpIzLfR8eIKD5Fn5FHwgtxD_kigjdknUPE2D8QPuxkCbbH10P28zJzmlqDPxQ"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1444317055/427536b605c70575148cbe3a86d6519a?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230713-3-40221b92-1.0.20230706-3-4bcefe4d-develop",
        "x-ms-server-latency": "18"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1693004354,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1693004354
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1444317055/427536b605c70575148cbe3a86d6519a",
          "kty": "RSA-HSM",
          "n": "v37-2dodVPLXP6MUgY8KCBrOKpQqboaIEUZ6xwmX0028oAVc0qXvYo-T7dTJNNGLYANfn_PdqKNNlFnQmCWfZeCzKGe0x3-CxFM6XUJxcBkTQFNgvYFEHQzIS_5NUu9OVo2sa6xhIgBBAKE-glzDO9AXfN09G1bhmu_9jWh2cLSeRtybsd9vuYVDWXJYnH-S1BQlyPxry9iN1r-OHSaDFyLInAGZtJ-IrX3vf2gv2eLtkViWvWimnOvf5JORf3lltH8ReVzqjVFB55rDnN3puRbuxOpIzLfR8eIKD5Fn5FHwgtxD_kigjdknUPE2D8QPuxkCbbH10P28zJzmlqDPxQ"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1444317055/427536b605c70575148cbe3a86d6519a/sign?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "pZ9_QvwlzBuYtQOFK3SpXL38OZSt105Wwk3pZUii-NZJUbaDTWTY8eo211K6SiDz"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "RS384",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1444317055/427536b605c70575148cbe3a86d6519a",
        "value": "VGnsxAuIQQDF3jgWUlItkX4DE668saWPgRQi9E9jVxL_45kKU4fW56jgn-u10pzsIDWtr99L-JJnJfJzTHYpjq0W_IMYSL97l3sA0dUcvgp6gMZFgqxR4eoRZSCMOx-VsS12aNxaOf-8gq6E7n77eA49mGxxkyIBs1vcdO-2m13BvC5hJvsv-fk4cT8ZL6LRuYMv1ijJ4jeW7ZD3nQ3Kwa7QfpyTmi-FpooqdJGPpI7Um-DznEFFbwNlOSBfFSRGodO80i0PEQy9gZxEMnoinWswX6G1FxLO5e3nFX8ZKzvwN7B1MeDcqpD6PmolpiAtOkIjlpxchAjnSXgxl0Iucw"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "454173233"
  }
}
