{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1874438239/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1874438239/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "67"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781250028,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781250028
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1874438239/d7dab7373dd945ed94de8daff0047fc5",
          "kty": "RSA-HSM",
          "n": "t_FHy1ZrkNfPKC5kL81vo4lIW6-BOZYwDGMbcqPuPlTGUn5VIwr-AYYCevL1AFel266ybhVdNVh2ritfnyyh_OO66mAdgqm-7xiWdSL_f8Ulfaj8c71wGLL25y9SZW6MuFtkJ-DxS4VnNz472cSmDkcoua_t9j0HzbWicJ9gVZK1bPiIuA6BemQPzI4PVRPiL-dJ9wuFtMDX0CGP8DJBj0x4PQw7P5TPXWDP8WNqh4aMT2jWYWB2fOVTeKn3jLWsMuXzy7m4pKSPyvR4U3FG56fJLrUZ7LSrCiRh1Tocb3ic9e1RdnsDHh3w2vYkLckMB7S8ifX9GxFhKmw4pGAn7w"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1874438239/d7dab7373dd945ed94de8daff0047fc5/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "Y2jsd5nxf5uANgsnjsZXaW5_e0c81zOyrFt09fWwWLzYKBs1Q8pBmtYYhDtFoxbG"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "10"
      },
      "ResponseBody": {
        "alg": "PS384",
        "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1874438239/d7dab7373dd945ed94de8daff0047fc5",
        "value": "VuqfRd4gYMiPsI0zdbfhboccAxwHC-F8D6CNJZLlslv1fQ-HG2o0dIo-4dzyJUs3PFNHDLxbwt0qM[...]
