{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/262153448/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/262153448/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "oct",
        "key_size": 512
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "44"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781250485,
          "enabled": true,
          "exportable": false,
          "key_size": 512,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781250485
        },
        "key": {
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/262153448/8275b1829e550de53e4d2e8448ec37e3",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/262153448/8275b1829e550de53e4d2e8448ec37e3/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "HS384",
        "value": "_59zj8rkoLHb9sNYm0ipjQ59wPcdiQDAvadZ-b2jOhPwovQrsmzzBwzMGVxW-Cji"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "alg": "HS384",
        "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/262153448/8275b1829e550de53e4d2e8448ec37e3",
        "value": "Khxz13I6CrxqEfzJ0eVu96OyR8r13tsVgBTgQd5m6sJcdG9rOaYUiSMpHb7GIF9h"
      }
   [...]
