{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1087820534/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1087820534/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "74"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743438608,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743438608
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1087820534/66d5696c97d24a7d30cc71abcf62b715",
          "kty": "RSA-HSM",
          "n": "xTIAhJfvAMp26kkPZwSSl5rnfdzcmOkDDUyvCBKZknKggoph8uOqd2NZeAhGEBQnW_kQU0OHU2xrGGOZEC5ddz9TeOSSbRi7SoLuB6UWHSuzJ7f0CJEnizl_H7jdDdTXEDl7WJfTTGFO5-Aw23Z8tr1ejDDKEnT0injwnXLpgpGXMIBdW9KQRchh0RvnJjU8B51ZNNRzPDdxSKofZXqjFwEgIkEd3kZAn-uPCWBcrw-x2r5W2cNcNczIO6UU7ddjZkLTZHBoxt9nnfL-ybMrYyKHznQC5D9eHCiRzE0oc-Gt8NMWKNBsG7okuiQUEw7lIYxOq6UzybVedqiab9UBmQ"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1087820534/66d5696c97d24a7d30cc71abcf62b715/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "B_bHk8FQ2zokcbbwIKqfhL_lWQEPGE7fcNZG2KhlBN8"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1087820534/66d5696c97d24a7d30cc71abcf62b715",
        "value": "afyzJZp71L4NWUND3efuKbykwVDQlR6bfqOyuYfcWPqfQgYVmoVIGkmACVNcx-Oz-5xLy81mEGoKXBzljim0lS87OsdP_2KC934tYvZrqZrQbY8PWOkvZALGiPt74sFc_aPLqJs_Gm2oPBCBq95cgqXjzpc6LAxHtuGV_vfIyqs3E_NO3lhiLJlS6qdTKoplgOZk6eCgHmv8suXyDLzwkb7qf29ZlsE15TykETaIbwHzRI3EAQ3_7KltG7Lah4e8vmzUULRlbnySsYYmiNlFCVbHj5HCg6qgPoX0MN0rtsWvv8w_YJeUbbrX6LgJsJ0wZwP5ENsnoHY0QO7E7OGpRA"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1087820534/66d5696c97d24a7d30cc71abcf62b715/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "B_bHk8FQ2zokcbbwIKqfhL_lWQEPGE7fcNZG2KhlBN8",
        "value": "KzPpWTKCrLxNGr9AlMOxOYgaRjTHwu4BbozI7gtJnY1NPmXcNRELPCuQgsA_hxrrwpikpeb_yTaReTpC0Ng78o6D3VUPOX24whcI91XIlVTgVzr84IhEhPamVGyOkB_rHfzB-IWMFwaC1NX0oN_M2oWmPW3OCVSM_iNztyk3Bng5y1xqx-VHqazZamHfATuK8DWZoDzU0cJ-w75-odALtR1d1yn-CBeVqrObow1IP6xXMTYZRSI5KN2-_QKtAA0XOyIVwn_s7sbNfbwGVfmKl47kXuHl4RwO4wNKxxoDOEH477zqP5cV-gnFu6mzjl4wg4DWauhzKurtTeib9Js3Xw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1087820534/66d5696c97d24a7d30cc71abcf62b715",
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1087820534/66d5696c97d24a7d30cc71abcf62b715/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "B_bHk8FQ2zokcbbwIKqfhL_lWQEPGE7fcNZG2KhlBN8",
        "value": "afyzJZp71L4NWUND3efuKbykwVDQlR6bfqOyuYfcWPqfQgYVmoVIGkmACVNcx-Oz-5xLy81mEGoKXBzljim0lS87OsdP_2KC934tYvZrqZrQbY8PWOkvZALGiPt74sFc_aPLqJs_Gm2oPBCBq95cgqXjzpc6LAxHtuGV_vfIyqs3E_NO3lhiLJlS6qdTKoplgOZk6eCgHmv8suXyDLzwkb7qf29ZlsE15TykETaIbwHzRI3EAQ3_7KltG7Lah4e8vmzUULRlbnySsYYmiNlFCVbHj5HCg6qgPoX0MN0rtsWvv8w_YJeUbbrX6LgJsJ0wZwP5ENsnoHY0QO7E7OGpRA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/1087820534/66d5696c97d24a7d30cc71abcf62b715",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv331hsm.managedhsm.azure.net/",
    "RandomSeed": "1375528678"
  }
}
