{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/697581840/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/697581840/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "oct",
        "key_size": 256
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "43"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781250481,
          "enabled": true,
          "exportable": false,
          "key_size": 256,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781250481
        },
        "key": {
          "key_ops": [
            "deriveKey",
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/697581840/98fc4dac15f30350a00130597cc989de",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/697581840/98fc4dac15f30350a00130597cc989de/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "HS256",
        "value": "PRkgJz2SQ9G_JNodcsk-gOAhg6t-Kcg8LdESlnrVAqs"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "alg": "HS256",
        "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/697581840/98fc4dac15f30350a00130597cc989de",
        "value": "Fok0F2hepPIO0rSjkzAcKL77dC9ZUzNcIA-2gmtpR0Y"
      }
    },
    {
      "RequestUri": "https://j[...]
