{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1911874069/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1911874069/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "205"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781250365,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781250365
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1911874069/f692b6139cf30c8130e74f4a9ce35e2b",
          "kty": "EC-HSM",
          "x": "AEoymUKjdMdwDnVWL1ZbUkJcWRbDDzAvvZLlc47HaKttJWNTd_9AIbS46qhJXSFZ1jrnM3Th-kFbaMO_hj43qecP",
          "y": "Ab6yGqndz__ihPyo-V4lCSxAG8RXncSPgPh0p6U2YjBTCvJqYqrlvDGVticKHaw3yTTLqH2SH3klGdxIhtXyOJFL"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1911874069/f692b6139cf30c8130e74f4a9ce35e2b?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260505-1-b95d5630-develop",
        "x-ms-server-latency": "8"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781250365,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781250365
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1911874069/f692b6139cf30c8130e74f4a9ce35e2b",
          "kty": "EC-HSM",
          "x": "AEoymUKjdMdwDnVWL1ZbUkJcWRbDDzAvvZLlc47HaKttJWNTd_9AIbS46qhJXSFZ1jrnM3Th-kFbaMO_hj43qecP",
          "y": "Ab6yGqndz__ihPyo-V4lCSxAG8RXncSPgPh0p6U2YjBTCvJqYqrlvDGVticKHaw3yTTLqH2SH3klGdxIhtXyOJFL"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1911874069/f692b6139cf30c8130e74f4a9ce35e2b/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "d0xjlV7mKkVa1Vz0aZwcAUSHeaJvD7ADzBvgMb9PixNYs1kzOsD38ORe5_c5plYrZu9xs_oK3xNNWXVbWv_UQA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "26"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1911874069/f692b6139cf30c8130e74f4a9ce35e2b",
        "value": "ALxFkzwSZA8BjOxMHEbkPf16uhC_1uGf7LkWDk4BqPrv8eKb4qNyVScC0cPpAzhi_o_x9wrxYlXVK7_brn6LDDb8AJ2Fap4L2owcFtXIO_IEMLV1tBw1AzPaNUqZTKaymAP9g4GAhIAeVkGpDRvHOZqd0S4inB_ploh1fpv88DHqTb2B"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://joncarde-kv-tests.managedhsm.azure.net/",
    "RandomSeed": "122752312"
  }
}
