{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1100763413/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1100763413/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "73"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759317927,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759317927
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1100763413/7a1c0f16f5f24475af3dc59bc4c10913",
          "kty": "RSA-HSM",
          "n": "4GuD5DuioPOro6SxPLo4hXt35089nRpkEkJWJP-1s5ajIWYvDAapemxNU_sAeWSCPuv33XLz8onlQT5sfMObP4qsbSa2QfduRK4fShlrWFTyU-VngtE1Sv_ZC_eQYjzJKH0UGutTMq4aw9LrAchoZxaPazhH1gM6VjsWTCVJQU7_sZR7-kuA1DfuF82nST4B_EOGPbp-OBiz3SUYkOP6-Tq0WNuVd2BLpdJEOqSASbsHpWmty6NYhCsRJmQNS6-pbq5x-UM8d2zftfreCiXhs_WAlvoLsLqQ6QiQmqtf-W8su3wNi5wc2CEJJw28qrjgqOYY816A2JOXfHZuobJJuQ"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1100763413/7a1c0f16f5f24475af3dc59bc4c10913/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "DD876q2yis6f-5ieiL0V0L9dkAk5xl9Vj_R6pk6Nz2Y"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "alg": "RS256",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1100763413/7a1c0f16f5f24475af3dc59bc4c10913",
        "value": "0B1j81cNRTh5dVfammK14LTaGQM3OZuFSz3FS99IQrOXcWlZgXfKQOhXYr_LDhOn7MqYZG4c2j9IJDPGITsIEzMkMD8dUOMm[...]
