{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1245091003/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1245091003/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "68"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781250494,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781250494
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1245091003/585c92edc88448b290330541d1dbe62d",
          "kty": "RSA-HSM",
          "n": "jdRwRYHsJf1JdMiExh64l7cmN2QdxLexwd9ozVbDZ9FFtQtfbDIJa2H7QWplP9L1X2d9e7y2mqPYZWDqYYOdDUoxD2xAcCquq6rRCHxFJJS_-jgdprqo_ld3l1s_viXZJaxYpj10ymuTy-P_8DtZYzkmec2ExNMF5IJJS3Unt_ACx1xnMlu8r4qLlSC50VwZdL2MixBgBp1Y-rblaS1d6fnhxVeHKmehp6Vgz4cdc1ZqTLxWTWZF9O8moiXnWkLDQasvvJ_Fk4_x7GQ3pX1YuII65IXCflSnC7Wp7Ytioxvw2lRjqdap_AbXKzDuoSW2A4mF0JpPHTH7mdbfv8v1Aw"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1245091003/585c92edc88448b290330541d1dbe62d/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "Q_9W6QvgLs4fDWyoiB8foibZI7qsSHQR-irb3bMmLdE"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "alg": "RS256",
        "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1245091003/585c92edc88448b290330541d1dbe62d",
        "value": "CbgeiMupkIQQwnJY3lUrbubR4sIr0VTS2QlS1etHaWJ-CMKCLnHJTNOHuG1g1fnXeYRdldsu-mzL_UP81EG-k5leweEnZ0v59ss[...]
