{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/959046218/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/959046218/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "71"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743496653,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743496653
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/959046218/7d9eb3ff66ea0438b8bd4e5d167dcc71",
          "kty": "RSA-HSM",
          "n": "hq-c-F5oTEzVIRBPYcHwzJjsQLvHf9kb0zLrUVuWUBYS56eHpeDEZltDSlhtTVl-ApfElkZLKN0VJO4MPMbFtZEOj390SHGcglVKL11lq9NhnulVxUllZpiLxxlpt-BUho7HdWc-IsThVoYofWQjB2-q6xUFJgGEfqdJ8dqAN5YqZfk5SUqU7b6ZaulvpI2BTOptOZKjL08swiSLXFxs2GyU-I4Vop0LNzctJdd_R7PT0GucqO7erGRr1hQHxv-uqg7B6BPIjSvjLswliQX9-uc1_8dLOnlFmmoCNE2-RrW4pzvUdf6bdgay6oyhr7DVuwjp6YtZ4yrLDR3xaDCiUQ"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/959046218/7d9eb3ff66ea0438b8bd4e5d167dcc71?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250221-1-e4accbbe-develop",
        "x-ms-server-latency": "8"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743496653,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743496653
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/959046218/7d9eb3ff66ea0438b8bd4e5d167dcc71",
          "kty": "RSA-HSM",
          "n": "hq-c-F5oTEzVIRBPYcHwzJjsQLvHf9kb0zLrUVuWUBYS56eHpeDEZltDSlhtTVl-ApfElkZLKN0VJO4MPMbFtZEOj390SHGcglVKL11lq9NhnulVxUllZpiLxxlpt-BUho7HdWc-IsThVoYofWQjB2-q6xUFJgGEfqdJ8dqAN5YqZfk5SUqU7b6ZaulvpI2BTOptOZKjL08swiSLXFxs2GyU-I4Vop0LNzctJdd_R7PT0GucqO7erGRr1hQHxv-uqg7B6BPIjSvjLswliQX9-uc1_8dLOnlFmmoCNE2-RrW4pzvUdf6bdgay6oyhr7DVuwjp6YtZ4yrLDR3xaDCiUQ"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/959046218/7d9eb3ff66ea0438b8bd4e5d167dcc71/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "nUQOQbJPBc2Pw6F3_7vsJ0qkXPXOheULlz3XEPA_iuZ9uFDixrkWX95SThl0HyuE"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "RS384",
        "kid": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/959046218/7d9eb3ff66ea0438b8bd4e5d167dcc71",
        "value": "drRw-pO9khbmE4Z06is7oCO1Jj7bqay6O89Rmxgnu5hutpGdNtleMH25104ISdj_GrHe_RroAVLyo3Zhf4hHEwAMO_8DqqCmzqGL-lJ_0p3WUIf4n91DMbTuyJ90k4Lg7s7oK8RpYTZQxdmIL19ki_sLLJK7y2qPFKZy1bYIvnFvdhguXAfA7PdBZOMuD257Mn2bKjwzp8802k9xX6iCALFNNNUAYm15NHiFd-uarBdjC8Y9RQvqXv7lJa-1MCLEc_SUCZmSqUmWM048XOc-Xz8WYY9YhKHV9_8f3V1QnZ35K-_ml4fsT5OPhHfKelpoz7un-MawqUVNjZedUsSqSQ"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv041hsm.managedhsm.azure.net/",
    "RandomSeed": "235736105"
  }
}
