{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/2092840293/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/2092840293/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "206"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781250472,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781250472
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/2092840293/19637a6190b5058ab9950030d1f1e2ea",
          "kty": "EC-HSM",
          "x": "AEhOCueC-W2BZlRkwyzyaRGd09m225k9mKjZN_v3G_u2s11--F2LK49-JLTYLaGhiVFLkU33Nc_rivcfzyVMc7qJ",
          "y": "AQGxFKzdms7THm0ojiade9GRVKjSL3qqjBN3AD4aP8OLR1OJUWVBDS2KzTcesX2Il9Y2l7KW7xx5L5nRngeBucWc"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/2092840293/19637a6190b5058ab9950030d1f1e2ea/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "VVxlRdatOoJVLMUnUzmDkAkTbQM0cQxlTUcqARVYAiPrbQ0zmUPmA2d-ksJVRmFTXurEY66Sh9QXp-mkpvcOXg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "34"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/2092840293/19637a6190b5058ab9950030d1f1e2ea",
        "value": "ACnTy0TDUMzPToqAcXj2w93G4vkQg8x5gn7TQknBpj27eQhVmKVivlE[...]
