{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/119802496/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/119802496/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "200"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780405974,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780405974
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/119802496/18cf78a9f8330be9071e1fb5b6462724",
          "kty": "EC-HSM",
          "x": "AYemBRPUgq_lrtlOMmUcWv18lPvch3DeBY8TAE3l5lKQRlJ6qDKNzBW7dmacGfrZL7AFMSp-kISy7_vBehq2L4Mp",
          "y": "ABd-qu8t_6JCPdE7F3fQ4lfrs9W0Unf1AeerL02sS4zLHnOjr29TSSwsWtoF9HNggiIkyWD1p32PYuoZ0u-P0Mon"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/119802496/18cf78a9f8330be9071e1fb5b6462724/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "dGn2cRVB0-6CtmU0RK3KqNlPNGe7tk1WLUETDnlDYBAV0W58mcs9Ln8dHKRynEq2F5M5kLHhJ_qEyPY-WcjLRw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "32"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/119802496/18cf78a9f8330be9071e1fb5b6462724",
        "value": "AfErZ1c6pLf5mUqZ4QpJlmRDhynZSg9MnKsD6Hg1uGqUn2KMKTW5CWMj[...]
