{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/65911095/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/65911095/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "86"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750764068,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750764068
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/65911095/18735b1c409e09ee99c084213d47fc7b",
          "kty": "RSA-HSM",
          "n": "sJ9bME-6lwOLe8Xr6hDI8R2yWXfheshH1oyO_vvBgDyB_w9pYcg1vcABvhPEkgKrUOC1We2UfReQnfF1nh72Dvn9wYOWWXzZ15ckTMGkxnkOvBeseKpbrp-jxvR9cJ9lngM3duhpBii-Ec2f48E_HH4lH5VtkXZnO2KnusTCEXueCztwJa4gVlwrba6MojbeMLX1DIVGN-Xykd-lhdlPyWIU4oXkwXpRJeNCOI8Ed_nHR-Nl6m7DKvzbEZ0CxHb6lu94AmzBMV9mlrCGAEGgBc3Lss_Q-5FqUpaFG75wmQXNaJE3Mjm7Aw3q4IgdkB4k7JtIdDChCoejVXmHVRaGaw"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/65911095/18735b1c409e09ee99c084213d47fc7b/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "zlWbL7AL8Ki4dZsomAsRF_0H7NWuB_wos3xaaH-4a3A"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "11"
      },
      "ResponseBody": {
        "alg": "RS256",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/65911095/18735b1c409e09ee99c084213d47fc7b",
        "value": "aIRWEh0WoPjo4Dfzym7Y4wS7Yg26fmsRkkLHeKMRUuO7LoTy12R-f2rOdhlRHRSvcjPfgTb5NafsralfRWWq7z8nzkEJ6sWCCfHiEPr1XPPU6FhgcTS_0baVeglkRpsj3l1LygB5dGT0bsSPujJsjDVZm5vAyXyWzE3_QiK5nhy0RfwkEhKk4Nz4pQSoiCa57WSnrmbUfcA2beUD1qBe92AguJFweS5sQgRfn-KeLYj8-usactlHS0hDM1-QAJfCrBWshbLRVSf7RWwiyzWMmNakKpc1xnx3WmRPUsGKeSYzWD5pDeSu82SgIyEZ7DcD8XloIHKfwC7Y72Azizb0Wg"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/65911095/18735b1c409e09ee99c084213d47fc7b/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "zlWbL7AL8Ki4dZsomAsRF_0H7NWuB_wos3xaaH-4a3A",
        "value": "aIRWEh0WoPjo4Dfzym7Y4wS7Yg26fmsRkkLHeKMRUuO7LoTy12R-f2rOdhlRHRSvcjPfgTb5NafsralfRWWq7z8nzkEJ6sWCCfHiEPr1XPPU6FhgcTS_0baVeglkRpsj3l1LygB5dGT0bsSPujJsjDVZm5vAyXyWzE3_QiK5nhy0RfwkEhKk4Nz4pQSoiCa57WSnrmbUfcA2beUD1qBe92AguJFweS5sQgRfn-KeLYj8-usactlHS0hDM1-QAJfCrBWshbLRVSf7RWwiyzWMmNakKpc1xnx3WmRPUsGKeSYzWD5pDeSu82SgIyEZ7DcD8XloIHKfwC7Y72Azizb0Wg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "RS256",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/65911095/18735b1c409e09ee99c084213d47fc7b",
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/65911095/18735b1c409e09ee99c084213d47fc7b/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "zlWbL7AL8Ki4dZsomAsRF_0H7NWuB_wos3xaaH-4a3A",
        "value": "aIRWEh0WoPjo4Dfzym7Y4wS7Yg26fmsRkkLHeKMRUuO7LoTy12R-f2rOdhlRHRSvcjPfgTb5NafsralfRWWq7z8nzkEJ6sWCCfHiEPr1XPPU6FhgcTS_0baVeglkRpsj3l1LygB5dGT0bsSPujJsjDVZm5vAyXyWzE3_QiK5nhy0RfwkEhKk4Nz4pQSoiCa57WSnrmbUfcA2beUD1qBe92AguJFweS5sQgRfn-KeLYj8-usactlHS0hDM1-QAJfCrBWshbLRVSf7RWwiyzWMmNakKpc1xnx3WmRPUsGKeSYzWD5pDeSu82SgIyEZ7DcD8XloIHKfwC7Y72Azizb0Wg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "RS256",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/65911095/18735b1c409e09ee99c084213d47fc7b",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekvv76hsm.managedhsm.azure.net/",
    "RandomSeed": "1821995222"
  }
}
