{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/2114153090/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/2114153090/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "97"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759317732,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759317732
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/2114153090/1d7f56172894061d27af479e4bdc8578",
          "kty": "RSA-HSM",
          "n": "wGTXVgLE9s5w-zsFDHQHnADZ9AUVwVqTRgbDa9b6bBqi2vnYBmM5OjT-PhnIGIq_vE3nJbRExUS342L5Zmo2TJULUCyvMCBoxdm2Z_F1SCzOzJx9amjQ9nLbYROnz0u6kswtZVL5pSr79U8eMFz-cJWLhleFR-joCH1XZrntOWnT5QbZcAblNP37QpRmQAHEz8CWX6hRCy4NK7h6PLiJEHIwhz28mQGpOgQcx1U0AZJ5yHXA00eDdtKEYlzPbEVT5aFHKON61oZVhjFAX_QltrJxQ2zyMWPcgJR6PkmJ5fZCwaIZc7y9f4bEmUAVwWH1eLXo9b5cO-ppEXl_vx16mQ"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/2114153090/1d7f56172894061d27af479e4bdc8578?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250826-1-e0164bc3-develop",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759317732,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759317732
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/2114153090/1d7f56172894061d27af479e4bdc8578",
          "kty": "RSA-HSM",
          "n": "wGTXVgLE9s5w-zsFDHQHnADZ9AUVwVqTRgbDa9b6bBqi2vnYBmM5OjT-PhnIGIq_vE3nJbRExUS342L5Zmo2TJULUCyvMCBoxdm2Z_F1SCzOzJx9amjQ9nLbYROnz0u6kswtZVL5pSr79U8eMFz-cJWLhleFR-joCH1XZrntOWnT5QbZcAblNP37QpRmQAHEz8CWX6hRCy4NK7h6PLiJEHIwhz28mQGpOgQcx1U0AZJ5yHXA00eDdtKEYlzPbEVT5aFHKON61oZVhjFAX_QltrJxQ2zyMWPcgJR6PkmJ5fZCwaIZc7y9f4bEmUAVwWH1eLXo9b5cO-ppEXl_vx16mQ"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/2114153090/1d7f56172894061d27af479e4bdc8578/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "8QZVIfQ6Nz-NumuHFUcbn9tfcxcTsGO3uKQ5_Y3yOOLysskDC8jYkieDAdNWEXLX"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": {
        "alg": "RS384",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/2114153090/1d7f56172894061d27af479e4bdc8578",
        "value": "WbP7eSVMel1cv0oJKm9yj3qMS1nK6TgHq4Y1sT0HV5ZsQWGXphPf1z4ZpSpx7DMCXLP7EG7CteVSe70L1jQLvNWHrm32avfmUV7JxdJm6x_gI3ZpydwZHWB0Og7mHU6SIuTPX3W8PKrWax2L2RVswNA9uMfLr-dxDpdlqGlJh93T55ycjPlPH7bcPa1CzUl5ktzEt5Alhk8qC1EvkoQHcYQ6fhQUUWCulUPsDs9ndEzumTzxssQPmU0Qrv-UMeL9qz4z2m5UxsONHFEBKwLNnXtsbw3_ybPIionSVVExIUNeBAEfKP7aSbqHSWfKjQChqM-LMATuGC2MoiT9p_FqAg"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t282557e4338dc910hsm.managedhsm.azure.net/",
    "RandomSeed": "157285790"
  }
}
