{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/833279312/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/833279312/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "90"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750764453,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750764453
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/833279312/c2b77942806302248123bbbe0bbdce2b",
          "kty": "RSA-HSM",
          "n": "iTmrYzfymfAJG-4OcsA9s8cOeiYExDGGC7xoYsLvr2_eflV8hcR1ZkHId_BqgNtXkkkoxZ_cLRphUb86r6RqALCoG7teseCjQxJGffTY7Y196oIJMk1ZafbbJMyltTedRhhRXhs5knee39qTGIN54CyyAY2GdFwVCIBp-EliK3pBuyWAhEwi2TDlnPQ0-ig53GxvozVjZh-KitpYhyAEzJGRUcNsOPklLJUSJK17qaZcQ8pNQr6fL_cjhJbGOXcihIUobsy_Dc_GZiKXj7gZrV_PXere8Q8WC00XgE4aIkcTaVtDEBs_ERyh2vP9WQKivToE-Q65dpzBKE4JmvMolw"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/833279312/c2b77942806302248123bbbe0bbdce2b/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "X9eyTROFFF_df6zHCyqc4HViahhGYLFqrgcMBcnd4fU"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "8"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/833279312/c2b77942806302248123bbbe0bbdce2b",
        "value": "Q6Q0c0m18NCqPFE0BrK3XafQ9KwnH7nD5J0Rpzz7sSN-DqlOeL47NRSAtBDO41BTSPtKAotkf36_MAcD3-FKvfRCi4hF0X0RXEXdBCbAAiCBzCNmEVgVnDQZ4FvvF3SqKxq8MQYgIRmpGW5xuKKUoOxzfA6t0uGJHHZmESOloXGPkNLpZ91Mvotf-6MJy50kBw_piijaJ2NOxBOmDNUEXZXuAonjJeSAoydcX2u4dfbL-fDfsnyVUj97cpdKtZUC7GGQMhgzCMi9Sn1-uFyaFx0aC6fOvu5G25lL1VpuezVEax-fQLfpNndZC6io8n5Dd-dzhMaKhXpZxfQktMVkIQ"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/833279312/c2b77942806302248123bbbe0bbdce2b/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "X9eyTROFFF_df6zHCyqc4HViahhGYLFqrgcMBcnd4fU",
        "value": "YcXrAghGZ6l4oniIYGoEZSxrmy4XLQebQumIDBRJ5MsicEYssZsI7Ts6UAO1YbGmqUW8ROawygfbCDJQ1nlpv4EIvfMe_ALaphxRYoVgPNtkoamit_WHaknQX4SRZKLexsMnN0k-s9NMuvpfCyh4VexxhfHHdlm1poGKPfzLAHQD8FFsiazYlFzD7bhuvzVxus-gaYWVOSCvQKLMDkyxn_9nYQnVR2sBSGMr5_i9wt8tH-y2TxhyUWaEw8Mv-SLk1y4KOXpWH9Ujg1B4r03Fz8RqWVkqDkp38toj1HvUXqJ3hWJiiVOwrDcswdmU5bEQrsJay3tw5KSQDeABIQGUjg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/833279312/c2b77942806302248123bbbe0bbdce2b",
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/833279312/c2b77942806302248123bbbe0bbdce2b/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "X9eyTROFFF_df6zHCyqc4HViahhGYLFqrgcMBcnd4fU",
        "value": "Q6Q0c0m18NCqPFE0BrK3XafQ9KwnH7nD5J0Rpzz7sSN-DqlOeL47NRSAtBDO41BTSPtKAotkf36_MAcD3-FKvfRCi4hF0X0RXEXdBCbAAiCBzCNmEVgVnDQZ4FvvF3SqKxq8MQYgIRmpGW5xuKKUoOxzfA6t0uGJHHZmESOloXGPkNLpZ91Mvotf-6MJy50kBw_piijaJ2NOxBOmDNUEXZXuAonjJeSAoydcX2u4dfbL-fDfsnyVUj97cpdKtZUC7GGQMhgzCMi9Sn1-uFyaFx0aC6fOvu5G25lL1VpuezVEax-fQLfpNndZC6io8n5Dd-dzhMaKhXpZxfQktMVkIQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/833279312/c2b77942806302248123bbbe0bbdce2b",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekvv76hsm.managedhsm.azure.net/",
    "RandomSeed": "1676718901"
  }
}
