{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/644351055/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/644351055/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "70"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759317783,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759317783
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/644351055/234e6b856d1307a337c2023554c5da5b",
          "kty": "RSA-HSM",
          "n": "iSvQnwrTV4FUtr3umRfdVQG0_AlwE3jBHfq3S41_X60jGej2ZQnnz_DOUn2Bo6eQQqScCa4cQEYmlFY43l8SCq4WF3fzyJ1C2uc2y8koPpBhmdZ-Vi_fPQ3Yof22o8xRYT8gn9a6dS_drWg3VQtEQMoYyGgyHfdDT7Q6BU-WAmqcgmE5DbUNmygo9XOdAVP38LbrBYvRZpKtugp0rpGg5sy_lpVi8o_bUphPbrI2IHezpoPTZjtusrWHToyUBKWh8ByGB0shWAZ2UwB7UZhlOHTSo_APosIDKVs5qqA5evE7Ga3shlTxOHhh_RZXXJBsPNBTO-dAsuZgtDetbX05-w"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/644351055/234e6b856d1307a337c2023554c5da5b?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250826-1-e0164bc3-develop",
        "x-ms-server-latency": "5"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759317783,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759317783
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/644351055/234e6b856d1307a337c2023554c5da5b",
          "kty": "RSA-HSM",
          "n": "iSvQnwrTV4FUtr3umRfdVQG0_AlwE3jBHfq3S41_X60jGej2ZQnnz_DOUn2Bo6eQQqScCa4cQEYmlFY43l8SCq4WF3fzyJ1C2uc2y8koPpBhmdZ-Vi_fPQ3Yof22o8xRYT8gn9a6dS_drWg3VQtEQMoYyGgyHfdDT7Q6BU-WAmqcgmE5DbUNmygo9XOdAVP38LbrBYvRZpKtugp0rpGg5sy_lpVi8o_bUphPbrI2IHezpoPTZjtusrWHToyUBKWh8ByGB0shWAZ2UwB7UZhlOHTSo_APosIDKVs5qqA5evE7Ga3shlTxOHhh_RZXXJBsPNBTO-dAsuZgtDetbX05-w"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/644351055/234e6b856d1307a337c2023554c5da5b/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "E2qrpxFK-YjxC5VWsrQSFrs8ZnkqVMVRVec6h0LCYeFHNNaRMgONQ-En3NC_NPiB"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": {
        "alg": "PS384",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/644351055/234e6b856d1307a337c2023554c5da5b",
        "value": "eWzRL0NMTD82hJtA_5ER_T1drSv0uG1qIo3av8oSzEqJ_dVE7mKSCpllhknNlQ6k0TUvyovYgEYad-Y45m40rJDt3K0EJuoZCuvEjsAMGNafTahR8PMMHTPUPiY6m6l3t7pYEyL1cxIlLq5vi1Je2a43YIDOChAcT-odyLzlR0W-VIO7LYmLisTvW_Y_DHvXMgnVwUcO89QG47gIRhUJNJbPgiWE-sgY-qZnSVHmOTZxZMrjv46gCVGJqMrNs3rwXuPjko3XFvzgvuDRYEeRJb-97RPe1Klse1Zj3x8zIQO1OmPqIctTnZLvkGnu1sPwZ-fLWRmLvxrUmOQF2kgcKg"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t282557e4338dc910hsm.managedhsm.azure.net/",
    "RandomSeed": "2143624128"
  }
}
