{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/466483997/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/466483997/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "91"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750764079,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750764079
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/466483997/8e5185210df902d9a7e3b2886ad8c0f2",
          "kty": "RSA-HSM",
          "n": "iW96mtDzRcdLcwtHlV3BRMCdfq5i7IXsO6xa7BkFcwqhvWndT6Actb-OOHFHK49ihaykPVuRrMFs0P0nA1nEQJZRWLIaBw4KfODwdPeNzW-CU6cLUzdJVNZKGdz4ExbOfzoQhjK9OOSNB6ffEpFvfZM4f4NX0EFP9DH7v_mRQhzEAzfxbAmf2Dqbgv0FJ495UUBugoOzobv-084RwW2u-nPAYDrlFpw7eIqgTb1gFc1QRqN0tQLDumc4aKa2zfoxDDZ6R6cEOldQis_vlhWGCrLjIiYczh3Y9Hkgl7CfRJlYgFa6NxpZZ6iXcTU5O4NEuUGEYJUv0l-gBeQK-aj5DQ"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/466483997/8e5185210df902d9a7e3b2886ad8c0f2/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "lrd8gzuPFe3AT3QaDFwZ11S60VyBp7a15IQcGQRPo-GN96POvDinzuCsPw_yrhKR"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "alg": "RS384",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/466483997/8e5185210df902d9a7e3b2886ad8c0f2",
        "value": "YAXMZ_Jqn_s3ZiTP4J7YtaxtmOYPpRvpdpUkjqT2VpTeF4GHBZcl-xO9da-SESukCWC0wB74DTnTZpDNFlWEuZlqs6ipQzmLVmD860zkky3FFPKBi5SI5JOnb68GXfiZzJFJR8od300CChkZr39kyYoqiVm9nOYYRhNvD3j3gfrMSsi-KwFWarBosHZn-QHFa6z5g2dZSAgYPeWKeKiD9S_m-0rA5KB0hTKRPeLKXjg-CYgjET3_ERjZikFQ2RoDV5MG54gUfRmRHXAfs5WOm9KKj79n9ePGZF5FenknmHX8WBkEpBLoWxOs_HSMAtDnA__3FBSzeb2eIX6dcV05Cw"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/466483997/8e5185210df902d9a7e3b2886ad8c0f2/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "lrd8gzuPFe3AT3QaDFwZ11S60VyBp7a15IQcGQRPo-GN96POvDinzuCsPw_yrhKR",
        "value": "YAXMZ_Jqn_s3ZiTP4J7YtaxtmOYPpRvpdpUkjqT2VpTeF4GHBZcl-xO9da-SESukCWC0wB74DTnTZpDNFlWEuZlqs6ipQzmLVmD860zkky3FFPKBi5SI5JOnb68GXfiZzJFJR8od300CChkZr39kyYoqiVm9nOYYRhNvD3j3gfrMSsi-KwFWarBosHZn-QHFa6z5g2dZSAgYPeWKeKiD9S_m-0rA5KB0hTKRPeLKXjg-CYgjET3_ERjZikFQ2RoDV5MG54gUfRmRHXAfs5WOm9KKj79n9ePGZF5FenknmHX8WBkEpBLoWxOs_HSMAtDnA__3FBSzeb2eIX6dcV05Cw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "RS384",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/466483997/8e5185210df902d9a7e3b2886ad8c0f2",
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/466483997/8e5185210df902d9a7e3b2886ad8c0f2/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "lrd8gzuPFe3AT3QaDFwZ11S60VyBp7a15IQcGQRPo-GN96POvDinzuCsPw_yrhKR",
        "value": "YAXMZ_Jqn_s3ZiTP4J7YtaxtmOYPpRvpdpUkjqT2VpTeF4GHBZcl-xO9da-SESukCWC0wB74DTnTZpDNFlWEuZlqs6ipQzmLVmD860zkky3FFPKBi5SI5JOnb68GXfiZzJFJR8od300CChkZr39kyYoqiVm9nOYYRhNvD3j3gfrMSsi-KwFWarBosHZn-QHFa6z5g2dZSAgYPeWKeKiD9S_m-0rA5KB0hTKRPeLKXjg-CYgjET3_ERjZikFQ2RoDV5MG54gUfRmRHXAfs5WOm9KKj79n9ePGZF5FenknmHX8WBkEpBLoWxOs_HSMAtDnA__3FBSzeb2eIX6dcV05Cw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "RS384",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/466483997/8e5185210df902d9a7e3b2886ad8c0f2",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekvv76hsm.managedhsm.azure.net/",
    "RandomSeed": "795901669"
  }
}
