{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1021694559/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1021694559/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "207"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780405174,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780405174
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1021694559/c7ebecf30d68008a08b17b49a6464f1a",
          "kty": "EC-HSM",
          "x": "AWVgiwhPrpaz5Bc-yZvKqPe6NOa1qRJtPcb3NNv6gl3HtDLk0LwhiZowk6v2smBrzUbNDpt9oMJNBbqNQ8f1m4sy",
          "y": "ANW2pIX4Akx_Pqv2LVbkd86JbaUgERltUzB59_jhSJ17XEOOEOhIdcnEeJk186aQs8NtmlmLBNyQ2uAPU6eUwk_0"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1021694559/c7ebecf30d68008a08b17b49a6464f1a/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "AB1-fKGRTvdsNptQB3o033soliLOV4MW86nS5tXKXuLJU6IPwWaMsJvxrYCvQhJx8ixrBb-B1OT4CTqYBb70vA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "35"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1021694559/c7ebecf30d68008a08b17b49a6464f1a",
        "value": "AKnS7FxVZy8Bdn0vluRWqzkp2F8XAtOK4MitX5yZwtkBpujNwqETYfS[...]
