{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1307713473/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1307713473/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "63"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759315687,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759315687
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1307713473/62debccf27bc024b3a0fb5c19d24df4f",
          "kty": "RSA-HSM",
          "n": "m66xT7kQyWAvdrnzafKKXCEfdU_D62GrPISkicpzbCimW-dybzIFOtr_v8xSzDf0IaCq8ms2KqKrRWiMeW-95NB2b7cd5O96fss8LUTVeh-roiAr7bTWYINo4qVPZ4K7ChMUfcmaZBicGH_5fYBu1_yxflckgyH2scO8Vxqo0veJE-fERq_fXihVHvKl3BEt37_xiXLRIwQj8sy-dFhTpXe8QtcwQ3K4SyetmgjzpEqn4q5aPNNY16gskPnIWGWl6zlWJaPmT5uxgO4pCVybkrvLpkk0-ncUBqsTiTQcRKI55GzlCQyZU1t0wobtsEMJ-SjfRNVWk31OS7EWq53i6Q"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1307713473/62debccf27bc024b3a0fb5c19d24df4f?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250826-1-e0164bc3-develop",
        "x-ms-server-latency": "5"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759315687,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759315687
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1307713473/62debccf27bc024b3a0fb5c19d24df4f",
          "kty": "RSA-HSM",
          "n": "m66xT7kQyWAvdrnzafKKXCEfdU_D62GrPISkicpzbCimW-dybzIFOtr_v8xSzDf0IaCq8ms2KqKrRWiMeW-95NB2b7cd5O96fss8LUTVeh-roiAr7bTWYINo4qVPZ4K7ChMUfcmaZBicGH_5fYBu1_yxflckgyH2scO8Vxqo0veJE-fERq_fXihVHvKl3BEt37_xiXLRIwQj8sy-dFhTpXe8QtcwQ3K4SyetmgjzpEqn4q5aPNNY16gskPnIWGWl6zlWJaPmT5uxgO4pCVybkrvLpkk0-ncUBqsTiTQcRKI55GzlCQyZU1t0wobtsEMJ-SjfRNVWk31OS7EWq53i6Q"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1307713473/62debccf27bc024b3a0fb5c19d24df4f/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "5JM3epG2jXOhSrOWz6IjLyJCWsJ9CTou7l70o6yROsxyI3jPYv9a7n2zsRIYW__4"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": {
        "alg": "RS384",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1307713473/62debccf27bc024b3a0fb5c19d24df4f",
        "value": "JcFeZlZqWD_tdaKioToTWY27UCJJY1gczP1gXL4e1xTLSr1vDFKWE6dVHrDEpx0_swe0fQwx2P3EIMxdHbyjDRkdP9buPSf1JCnuEltiozeU6ozeoTodo4seqZxe58evn8yWJOF86_TuZ9mastgZI51jL4ZCkAlLoaHiTkim65EWUciSArCMphOtmtEBha6SJVCXXdynt6s5dERD_zaTlb3lLpAZFPXNfn_WJdVgzkH4Iu5QEgoWHtmsn65pcXufIfdrP_HSu_Idc50btpknCmlCvrqjtUZJs4NGB3jdu1cielnl5bJ9LY5dYHVdtRlviBs4Tx1SABx2SORZ7qzFEw"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t282557e4338dc910hsm.managedhsm.azure.net/",
    "RandomSeed": "517026820"
  }
}
