{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1480894367/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1480894367/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "90"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750763962,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750763962
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1480894367/aba29c92355d401725c9845cab9298e4",
          "kty": "RSA-HSM",
          "n": "mMuLwDA3dfE4IToy0S-vUhgN0woOPQRHAfW_YMpMTmNsC302X8xnaHEMQhReXji_sLci3uXXqRPxWgAqJdV0c_YsujB9al0WHiTpY0tPh2BPQg-DT3lY7So0z0DmSa3pLVrBWyR98vh2Hj9Pwz55swhrRCt9zTOUWGjhAE9pZMlZYtJEHEl7eS2a7oQQoiRtNFLFMjj1tiJtvp7STCdKbpewZtq4Lbya4fQWnpYES97Tpq80FwbdKlrHQIoGOSbZompkI7PKxY49nXY7W_wqFM4qtV77Pcb_y0Ph3eMA1vo_QgboXLbrb1OK65U6oOJfkBw0T-rs3tsc3zD0Opy8Mw"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1480894367/aba29c92355d401725c9845cab9298e4?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250601-1-938c6570-develop",
        "x-ms-server-latency": "6"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750763962,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750763962
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1480894367/aba29c92355d401725c9845cab9298e4",
          "kty": "RSA-HSM",
          "n": "mMuLwDA3dfE4IToy0S-vUhgN0woOPQRHAfW_YMpMTmNsC302X8xnaHEMQhReXji_sLci3uXXqRPxWgAqJdV0c_YsujB9al0WHiTpY0tPh2BPQg-DT3lY7So0z0DmSa3pLVrBWyR98vh2Hj9Pwz55swhrRCt9zTOUWGjhAE9pZMlZYtJEHEl7eS2a7oQQoiRtNFLFMjj1tiJtvp7STCdKbpewZtq4Lbya4fQWnpYES97Tpq80FwbdKlrHQIoGOSbZompkI7PKxY49nXY7W_wqFM4qtV77Pcb_y0Ph3eMA1vo_QgboXLbrb1OK65U6oOJfkBw0T-rs3tsc3zD0Opy8Mw"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1480894367/aba29c92355d401725c9845cab9298e4/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "djYB0qMUlv8HVx4lEajV-5HoG8dup3SReZAmZqycahxRvHga1iFXkpvE8Q1waDgX"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "RS384",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1480894367/aba29c92355d401725c9845cab9298e4",
        "value": "mEArBP1rppS76gkYwy5eZjGwDoMeU_iq2X0muEEL1eMHsaK3CTVGsQZMrCh4rszOb-neg6kBjVaMwi4y0ZoZexoh3ti29_pYd61_eKtLPhrCBmrKw5Ftm-SvLgRXvC8U6FBbuTCer7O4AvjWrzaA9_b4I-WZE1JSMfuSRwQKIcn8GRc38enJPvthGKK1-pU9_SRJJxyfXGrw8tfX4Qhp1hcWYeM8VtH_oBcESgUqV3liCql6z3JSeQTdrZLmhQrsnV4AUpQWVjyMnDLvLo0-OYLwYJKXb8uNB9I0FlVk5lT2a9MvQXiN_mfUDPQGkY056_jSxW3yIDa8cP_o3vJHTQ"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekvv76hsm.managedhsm.azure.net/",
    "RandomSeed": "1182453777"
  }
}
