{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1077513440/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1077513440/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "148"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1693004406,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1693004406
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1077513440/f7c6e2643d7c0cbf1aa0594e062f5127",
          "kty": "RSA-HSM",
          "n": "nRegY66YUXlfYKszLPzs2Yq6SoUiJ5KziexX4JCp6jojuzn2YI330rCUPd0aSnq8AkjM9zw3mgmNNdLG7CpvdZ1HbCvSIDrnpAlERnNAPRFjZ4XrFmiLkOGRQwXX2zzmrg4b_b90RdclxT7wY5v2dM6laDwXK4_lkv3ie4WSAEkCkplh5rOXkGjeEHdzAuQdctdoL3znQ5NsqqEFfJHzGE61F-VwoDbe9LPyxjmtgaPfdYw81pIKu1FDlk3u6rIB7l3KzQbSusu1KW0Ek3I8NDCVsdXVMd8PzUAO5lYcn7ZS8-47fjkWhB-BJgunQ_dJESA4ds9miWD5MKjSOQVrbQ"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1077513440/f7c6e2643d7c0cbf1aa0594e062f5127/sign?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "al5Tnt-PTWqDFMf4KHdRdxtaV4T9SoeB6dUo_pvaJKtooOZDKL-2OojUUl-cb8O8GZVieo564fedVuFTT5PrJw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "24"
      },
      "ResponseBody": {
        "alg": "RS512",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1077513440/f7c6e2643d7c0cbf1aa0594e062f5127",
        "value": "iLfCLC64TCyKHYKYKivqL_4HhGdz-w2J3QxeDdpGP7B22AeWOB5nmyRj1p7h0g3C2g2SiLbxjEkyT_nwdwXzf7aJ7BvBSC1Zgu7r0T_oRLtRi-Zr3DQHNxDPxKthVNbrEakAId-5JP0lsn5-hriT6zhVX303CYlKbAIDxrOVkUIZVQDvffT5UsY_dmGNeuSHuIh-NVQuqvQUewkf49IfhwkgTijXqzEZphg57dxAJlx53Q6Lvqf6AlDF8nLRonCEPbksKR1rAb06cAoIprW6RXsrAAoWKdLO_DiaUVgd23hi6D2FhWNvn_B55K3-h1MHAW1LLgov2AVyX-hIngVHUg"
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1077513440/f7c6e2643d7c0cbf1aa0594e062f5127/verify?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "digest": "al5Tnt-PTWqDFMf4KHdRdxtaV4T9SoeB6dUo_pvaJKtooOZDKL-2OojUUl-cb8O8GZVieo564fedVuFTT5PrJw",
        "value": "iLfCLC64TCyKHYKYKivqL_4HhGdz-w2J3QxeDdpGP7B22AeWOB5nmyRj1p7h0g3C2g2SiLbxjEkyT_nwdwXzf7aJ7BvBSC1Zgu7r0T_oRLtRi-Zr3DQHNxDPxKthVNbrEakAId-5JP0lsn5-hriT6zhVX303CYlKbAIDxrOVkUIZVQDvffT5UsY_dmGNeuSHuIh-NVQuqvQUewkf49IfhwkgTijXqzEZphg57dxAJlx53Q6Lvqf6AlDF8nLRonCEPbksKR1rAb06cAoIprW6RXsrAAoWKdLO_DiaUVgd23hi6D2FhWNvn_B55K3-h1MHAW1LLgov2AVyX-hIngVHUg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "RS512",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1077513440/f7c6e2643d7c0cbf1aa0594e062f5127",
        "value": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1077513440/f7c6e2643d7c0cbf1aa0594e062f5127/verify?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "digest": "al5Tnt-PTWqDFMf4KHdRdxtaV4T9SoeB6dUo_pvaJKtooOZDKL-2OojUUl-cb8O8GZVieo564fedVuFTT5PrJw",
        "value": "iLfCLC64TCyKHYKYKivqL_4HhGdz-w2J3QxeDdpGP7B22AeWOB5nmyRj1p7h0g3C2g2SiLbxjEkyT_nwdwXzf7aJ7BvBSC1Zgu7r0T_oRLtRi-Zr3DQHNxDPxKthVNbrEakAId-5JP0lsn5-hriT6zhVX303CYlKbAIDxrOVkUIZVQDvffT5UsY_dmGNeuSHuIh-NVQuqvQUewkf49IfhwkgTijXqzEZphg57dxAJlx53Q6Lvqf6AlDF8nLRonCEPbksKR1rAb06cAoIprW6RXsrAAoWKdLO_DiaUVgd23hi6D2FhWNvn_B55K3-h1MHAW1LLgov2AVyX-hIngVHUg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "RS512",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1077513440/f7c6e2643d7c0cbf1aa0594e062f5127",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "1274667616"
  }
}
