{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1188479545/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1188479545/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "90"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750763153,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750763153
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1188479545/6cad045c9a0e06c83c5a93587c5ddda7",
          "kty": "RSA-HSM",
          "n": "7kg2U9BZJF7Lv9HVTyeCCD5G8lJsK4bsUEf3eHb4eFZmRzt_K_OBJ93Aq35neqsRRz7ziuO9HxBVGtoXZFAD6V4QTXvaU-ei893L8-R8JnsRdYXJldf3xqVVg_7xWa4pzB9iDYYPR2FTp18jzhn4VUOOec1UcJMzGf2QBt3jjdKkSsPLyYQh1IWR2SQgtx_MwlCVLUSxKmS7UzR_irAiMywjzplSv6P-2_jp6HlpvJMQMMWftLpC0fxykyOBCKmh6YYHOySRZC3qQGGlDPvKE-i_RQDYDk5wxGGaySqYLwWq8E2fWUBv4RZjJ6oaiZ7qxtfhJw2lsLeCUPI4UYEU7w"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1188479545/6cad045c9a0e06c83c5a93587c5ddda7/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "pz3G638F875mV_TKGQTYix0GjvKAjlB-o_4FtMchFNziiwKU8knw2cgyz3ZpZMe-Qp37iFxjjiVk5Th2lgTtFg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "8"
      },
      "ResponseBody": {
        "alg": "RS512",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1188479545/6cad045c9a0e06c83c5a93587c5ddda7",
        "value": "Bx4bYy1NlDAo-kQWzsLnPmvu678Jj0qD_hDa1658GpIDxfxJGCIsZP_-0Dl6Rqb9yiZGq6vU1Fcrh6GQUCMpz8epCcLuIn9fBJWWPlzCwbH_Oajk54g13HJLz16lilrjO8ddHXSszDv2wlaJ1LnOtn8Gov2oq0-zwFtLr2ELKEID-f0aysi3TZeWOw9qO4BbN_QW5zgGTkVvwp4eWDvuGI9tS_Yuk1Loer6ogbmooxT72geAwh3KsKMhKAJfvvkuTg-LKSsKVFqDJSmn-E9BJUdzzWLnDnwa4ELewnozDXvpERNMh46YZbVl-NXiySNwUrSkGArjYYzbA_QV07gw1A"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1188479545/6cad045c9a0e06c83c5a93587c5ddda7/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "digest": "pz3G638F875mV_TKGQTYix0GjvKAjlB-o_4FtMchFNziiwKU8knw2cgyz3ZpZMe-Qp37iFxjjiVk5Th2lgTtFg",
        "value": "Bx4bYy1NlDAo-kQWzsLnPmvu678Jj0qD_hDa1658GpIDxfxJGCIsZP_-0Dl6Rqb9yiZGq6vU1Fcrh6GQUCMpz8epCcLuIn9fBJWWPlzCwbH_Oajk54g13HJLz16lilrjO8ddHXSszDv2wlaJ1LnOtn8Gov2oq0-zwFtLr2ELKEID-f0aysi3TZeWOw9qO4BbN_QW5zgGTkVvwp4eWDvuGI9tS_Yuk1Loer6ogbmooxT72geAwh3KsKMhKAJfvvkuTg-LKSsKVFqDJSmn-E9BJUdzzWLnDnwa4ELewnozDXvpERNMh46YZbVl-NXiySNwUrSkGArjYYzbA_QV07gw1A"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "RS512",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1188479545/6cad045c9a0e06c83c5a93587c5ddda7",
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1188479545/6cad045c9a0e06c83c5a93587c5ddda7/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "digest": "pz3G638F875mV_TKGQTYix0GjvKAjlB-o_4FtMchFNziiwKU8knw2cgyz3ZpZMe-Qp37iFxjjiVk5Th2lgTtFg",
        "value": "Bx4bYy1NlDAo-kQWzsLnPmvu678Jj0qD_hDa1658GpIDxfxJGCIsZP_-0Dl6Rqb9yiZGq6vU1Fcrh6GQUCMpz8epCcLuIn9fBJWWPlzCwbH_Oajk54g13HJLz16lilrjO8ddHXSszDv2wlaJ1LnOtn8Gov2oq0-zwFtLr2ELKEID-f0aysi3TZeWOw9qO4BbN_QW5zgGTkVvwp4eWDvuGI9tS_Yuk1Loer6ogbmooxT72geAwh3KsKMhKAJfvvkuTg-LKSsKVFqDJSmn-E9BJUdzzWLnDnwa4ELewnozDXvpERNMh46YZbVl-NXiySNwUrSkGArjYYzbA_QV07gw1A"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "RS512",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1188479545/6cad045c9a0e06c83c5a93587c5ddda7",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekvv76hsm.managedhsm.azure.net/",
    "RandomSeed": "6245635"
  }
}
