{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1336442311/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1336442311/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "206"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780404948,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780404948
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1336442311/5efff9248fa14bc7939ac8edbee2da80",
          "kty": "EC-HSM",
          "x": "AKZeyb-bsLWEsmLTxV9lXJD79O1_muVgeqbUCHYfkmH8Z1xs1ZLIvkcSFwPoB-lwvQ702yq4ihUq481kB58JsuFI",
          "y": "AVvvagftdy5ZeZeTTNGnuHSm2Oz10i7nL69eJ5MJ24x-qGifhAgsgYFXMJN0YBiJMWtbjk4hiAEIlrBwC--BrhNi"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1336442311/5efff9248fa14bc7939ac8edbee2da80?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260505-1-b95d5630-develop",
        "x-ms-server-latency": "8"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780404948,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780404948
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1336442311/5efff9248fa14bc7939ac8edbee2da80",
          "kty": "EC-HSM",
          "x": "AKZeyb-bsLWEsmLTxV9lXJD79O1_muVgeqbUCHYfkmH8Z1xs1ZLIvkcSFwPoB-lwvQ702yq4ihUq481kB58JsuFI",
          "y": "AVvvagftdy5ZeZeTTNGnuHSm2Oz10i7nL69eJ5MJ24x-qGifhAgsgYFXMJN0YBiJMWtbjk4hiAEIlrBwC--BrhNi"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1336442311/5efff9248fa14bc7939ac8edbee2da80/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "kbX9uYIRM6eiHKmNFkph1SFJjy6HwaUPfkcUivSS-fevZRxv_BCMktTs_kLALJRr9FNfyAkx0D_l6SDJHMcK4Q"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "27"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1336442311/5efff9248fa14bc7939ac8edbee2da80",
        "value": "AUWb4Bmouk9PQxBGtFcXlmYkhnb92xVeBxBnqIbm79s_Q26b58qhARuNJohjIxx4atNx27stPAKXL5TknLlbHBf7AQ4uEyckbyVk4fV26bKRU5iKcfHf5Wj2FT7DzIjI9s521iXfKFecgyG2eeWT_H7MVAe7Plh9f13H5m2tINSMtc0W"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://externalkeysdkhsm.managedhsm.azure.net/",
    "RandomSeed": "1583073646"
  }
}
