{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1973507780/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1973507780/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "82"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750762915,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750762915
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1973507780/386b0ef96de108e42d46d1e70cd3a4e0",
          "kty": "RSA-HSM",
          "n": "ph7Fvab44Ia61WPX5xuCYSaZx0WGdssPxg1g3yOFcRydsrO_qVqUZ8QHQWVCOU7uF62MTGj790kkh9wh5qJquSnmN1Ht38r2_vk10Tnc_PmhvUlnEsPwd8a1_GvcJnNP6I_VG6v7NyxVbkVxNq6ofGziz6YZVjhOzvO6tPmEDmldm6h4qwWlpfW3G6B3bd9WeNv9lCKEDrz2l0j-WClvj_Od5cuyiyk2glMAscH88o5vG7XIPeafYI8LaDFw9ib2VlvVUR6E5HcMe546CRsTLKihN7XkWutbje9qUPRQ0r4qS4mO6yOHHjDvK-nUOcJz8TnqWHGvHuL_IUFSuiMygQ"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1973507780/386b0ef96de108e42d46d1e70cd3a4e0/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "jeEJaJjimAkKpaE-WeFlo_DLvAalWfGoEGIJ-pmYslI"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1973507780/386b0ef96de108e42d46d1e70cd3a4e0",
        "value": "IKGvTypButHkL4Fp_muLaNDycqCFxgFkb9DumNXwsQtc4-Z_RN5d0VPxcilcBOE5ur-MhgF0Ndu68-Nbnt9tVfaiA2oQslUzu9S2SDWnhwnQva03g1zK5TD3dXJsDIiF9MRHbt3pkxz0jfENZuNZkHzWNA_3EGSMxDTrUqfIXTrQ3ArjGIhQKR2VCtYPA_MyMwYjYz7ktpZTW60n9Idt9mmrRRzDcxOLHQyfU5usR86kXtX59Xuxi8PFi7c2LmWZg110NsaZUttD4OwYT3C0WRovxfQn5ULYYQ8vqtSUFQOeDRT3zhVQ1qAG0vQLavtBBH1C2GOcGhxbTSDMPx1SPQ"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1973507780/386b0ef96de108e42d46d1e70cd3a4e0/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "jeEJaJjimAkKpaE-WeFlo_DLvAalWfGoEGIJ-pmYslI",
        "value": "HlXN5PNcoBwOgpAdd4LEPh_cyp37OVMhcp7ogTkoHj3QzMo_VU18Y_7o0Bh2cDvf72c_QF1zTsf0t55B8BmvmQFakEKTdiKj1JS_5bnyStvNnavh-0Wz5_9ENRsSJu5f_8C8-XJn0mVBMhyBZZQzdKTffsDFPoKF8g5Np7fQNN_ZZmoZBPY8a7frFyPP8XgaSNeUx9TDZ07nIKXpGDrOzZFRG4eFzXLOe_YjwpG_Cp08IDQ6mfpcczcogP9vJQpAehf1U6Y6dC3Rux-4b0lUkWL_I4ZSfLIen03ma1zHlr9NjBAGNTgNqnPWMAPNVLA5_ADFW6bQS-VBno_PxaoUxg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1973507780/386b0ef96de108e42d46d1e70cd3a4e0",
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1973507780/386b0ef96de108e42d46d1e70cd3a4e0/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "jeEJaJjimAkKpaE-WeFlo_DLvAalWfGoEGIJ-pmYslI",
        "value": "IKGvTypButHkL4Fp_muLaNDycqCFxgFkb9DumNXwsQtc4-Z_RN5d0VPxcilcBOE5ur-MhgF0Ndu68-Nbnt9tVfaiA2oQslUzu9S2SDWnhwnQva03g1zK5TD3dXJsDIiF9MRHbt3pkxz0jfENZuNZkHzWNA_3EGSMxDTrUqfIXTrQ3ArjGIhQKR2VCtYPA_MyMwYjYz7ktpZTW60n9Idt9mmrRRzDcxOLHQyfU5usR86kXtX59Xuxi8PFi7c2LmWZg110NsaZUttD4OwYT3C0WRovxfQn5ULYYQ8vqtSUFQOeDRT3zhVQ1qAG0vQLavtBBH1C2GOcGhxbTSDMPx1SPQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1973507780/386b0ef96de108e42d46d1e70cd3a4e0",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekvv76hsm.managedhsm.azure.net/",
    "RandomSeed": "333518435"
  }
}
