{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2033281895/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2033281895/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "138"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1693007511,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1693007511
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2033281895/922b29feb2e0422c15030cf10e1b12ec",
          "kty": "RSA-HSM",
          "n": "ietnKXLJVnGfDjyyeOd0c-WRtft9cqEIGARBdLu_zhF_z2YWWiN11OhY6FBmgjQeohDfTXC4ofd7zMi5qkDzAq-IpD5-LySn0aymSlUD24DwoEy8-1sw1yXE-CLeAbIXkYxJEeGjUDviLXjbY5GX7nftDU-hyUfG3HzTvKpFHaJUEWSIQGqExBsv1X0v1MbCicHu7x6x-o6TogT2ajEjX-03oeXXuaOL5p0BaCDj47tmkxJT51g5DJG7tb9Zl5pl0o1o4ygRHpjb-tXT9zeGHdlAMsZZaoAJ-uXhlW3FxE24cXGcsp9iV4aAEiSkjzIMo_uVeuEQIjJVIc6qby_J-Q"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2033281895/922b29feb2e0422c15030cf10e1b12ec?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230713-3-40221b92-1.0.20230706-3-4bcefe4d-develop",
        "x-ms-server-latency": "16"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1693007511,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1693007511
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2033281895/922b29feb2e0422c15030cf10e1b12ec",
          "kty": "RSA-HSM",
          "n": "ietnKXLJVnGfDjyyeOd0c-WRtft9cqEIGARBdLu_zhF_z2YWWiN11OhY6FBmgjQeohDfTXC4ofd7zMi5qkDzAq-IpD5-LySn0aymSlUD24DwoEy8-1sw1yXE-CLeAbIXkYxJEeGjUDviLXjbY5GX7nftDU-hyUfG3HzTvKpFHaJUEWSIQGqExBsv1X0v1MbCicHu7x6x-o6TogT2ajEjX-03oeXXuaOL5p0BaCDj47tmkxJT51g5DJG7tb9Zl5pl0o1o4ygRHpjb-tXT9zeGHdlAMsZZaoAJ-uXhlW3FxE24cXGcsp9iV4aAEiSkjzIMo_uVeuEQIjJVIc6qby_J-Q"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2033281895/922b29feb2e0422c15030cf10e1b12ec/sign?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "value": "5thnCcxS12kk9n7mkTkHorldDMAavuong7rdM3DSyTdg8ldENp7GLZ7eeTMP8gPsxWCfI1h3_Uojf7s--9mGYQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": {
        "alg": "PS512",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2033281895/922b29feb2e0422c15030cf10e1b12ec",
        "value": "aNCERVlcJQ5thyWt1OYnIkJ1B_xKrHa_WfjxU-jg3rLuFd6o724j-9Xkd3rl_Rm0EeRqjLNfTZlrJunQB8tI25SMbn1jPPHTcPdxYhUORCgf62Aw5-nf2bid1dRofjiE_24SN9Doq5QGKuDS83vkY-XNfHmxysjUFewOJX8nz52e7D_5zLFHPi0YG8rrTjwnlV7whFooCCqFGmNqhRDk0sZBt2aJ-Ua1N-nuP1xxy6_LX6Zd6GSxtswAP6duZz4VuMIF-028vCQ674ra3iSqbs0DjRJHZrZakuHyoouKHJNuzcK8pIi-S2kFV88MpeNS4740KocsXPOBQ8dhUjZaLQ"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "859151540"
  }
}
