{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1958980227/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1958980227/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "67"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759316426,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759316426
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1958980227/bbc6f3b271a54cae295940dd647fe8ba",
          "kty": "RSA-HSM",
          "n": "jDIbkqV0W4O0K0mjCzuXhEG15GkHQb4u93TBMGcXwu-Ok4cw75bc2-YZvbCoxFRjHEStW7oHrioSOV4xObjGnUIrArtySrbcsguck9wR960-m_xdPozLsC9RihQ5EUvyrMdUY7A9GCHl3yVvfP-1j7R4uAyc6WZ7auSHSl_SfHKnRAIAGzvmzs-RB1TBxp7iIBaBXqixfGufPvmHd2poAyMBnCiEXEL16wTlH8LRwlX8p5jRCpHq_fn_ySc2bDQVt6hISeun74Sr3KARnvJRKfVRDx1e5Ojw7YHz8MAK7KGNZT88g82AHMNHWZ_tFUajUAOkKiJsWoLJzZJpJBGzmw"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1958980227/bbc6f3b271a54cae295940dd647fe8ba/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "9CCqwSwpr4DOpG7ibOi-G78vEhD3kQu9kAgZUa9ea8OfKcBUXsEoSb5GeR4TlD-Y"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "alg": "RS384",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1958980227/bbc6f3b271a54cae295940dd647fe8ba",
        "value": "Wqxsm-wjmdUjyKxSyobPRyLKeNogVDbXgqVDXwQ1zFBcj4b6lS0_-36vosy5FKpaW3eyEFDMXve[...]
