{
  "Entries": [
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/180932664/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/180932664/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "oct",
        "key_size": 512
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "46"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743717364,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743717364
        },
        "key": {
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/180932664/1efb7464aba74f3b1f333222fdc9509e",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/180932664/1efb7464aba74f3b1f333222fdc9509e/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "HS512",
        "value": "hkrlMBwHJmE4iod4liIJoG7R_HqHdPIARRNbZV0TbLgB3AY2XvPafSo_hK5pwEeL2xI8iPpt9iF43AayODlymA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "8"
      },
      "ResponseBody": {
        "alg": "HS512",
        "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/180932664/1efb7464aba74f3b1f333222fdc9509e",
        "value": "04H7EsXMwVFPgcsB08tOXh_ar9AGBHYY0bxc-6Rhx4E3Hpvspo09lWerfwqAt1_AfqOpmdvbXnQbJrDbFAwjeg"
      }
    },
[...]
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/180932664/1efb7464aba74f3b1f333222fdc9509e/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "HS512",
        "digest": "hkrlMBwHJmE4iod4liIJoG7R_HqHdPIARRNbZV0TbLgB3AY2XvPafSo_hK5pwEeL2xI8iPpt9iF43AayODlymA",
        "value": "04H7EsXMwVFPgcsB08tOXh_ar9AGBHYY0bxc-6Rhx4E3Hpvspo09lWerfwqAt1_AfqOpmdvbXnQbJrDbFAwjeg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "HS512",
        "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/180932664/1efb7464aba74f3b1f333222fdc9509e",
        "value": true
      }
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/180932664/1efb7464aba74f3b1f333222fdc9509e/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "HS512",
        "digest": "hkrlMBwHJmE4iod4liIJoG7R_HqHdPIARRNbZV0TbLgB3AY2XvPafSo_hK5pwEeL2xI8iPpt9iF43AayODlymA",
        "value": "04H7EsXMwVFPgcsB08tOXh_ar9AGBHYY0bxc-6Rhx4E3Hpvspo09lWerfwqAt1_AfqOpmdvbXnQbJrDbFAwjeg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "HS512",
        "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/180932664/1efb7464aba74f3b1f333222fdc9509e",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/",
    "RandomSeed": "967455915"
  }
}
