{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/128456808/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/128456808/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "69"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759317749,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759317749
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/128456808/a34cbc2384ba4f4b1b5661f0bdbd1499",
          "kty": "RSA-HSM",
          "n": "3wPpAvQtj8pvtMvcQNBkwkC9uNueM2wF-kD02R2LMM-634KJjAievw_qEIMJjjSh6Bq7oYJTbsPw4sqL-J_8u99cPPo9dkOyES3-0S5LGbOPKYOHQFgztt1h3ZCJUMllQI56EjJIWkBlZumvffgea06KOPg2WF8w2XuMjlHtxDgDETgF-O7JNfl6PGjmH-Gyu1Ben992f1dgdTa9qyWWVDRhkPJ57biXtgUbpFvizg4_yybaOSGRnfcYOCieWhiEPSrruuUnVnTzmKCpNvv8I5VRzIqII58nb8uhB84H84T1Fi7OUyLpyHSaPvXvkuN9bTqEauxINGI9A-rbR7CmBw"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/128456808/a34cbc2384ba4f4b1b5661f0bdbd1499?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250826-1-e0164bc3-develop",
        "x-ms-server-latency": "6"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759317749,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759317749
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/128456808/a34cbc2384ba4f4b1b5661f0bdbd1499",
          "kty": "RSA-HSM",
          "n": "3wPpAvQtj8pvtMvcQNBkwkC9uNueM2wF-kD02R2LMM-634KJjAievw_qEIMJjjSh6Bq7oYJTbsPw4sqL-J_8u99cPPo9dkOyES3-0S5LGbOPKYOHQFgztt1h3ZCJUMllQI56EjJIWkBlZumvffgea06KOPg2WF8w2XuMjlHtxDgDETgF-O7JNfl6PGjmH-Gyu1Ben992f1dgdTa9qyWWVDRhkPJ57biXtgUbpFvizg4_yybaOSGRnfcYOCieWhiEPSrruuUnVnTzmKCpNvv8I5VRzIqII58nb8uhB84H84T1Fi7OUyLpyHSaPvXvkuN9bTqEauxINGI9A-rbR7CmBw"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/128456808/a34cbc2384ba4f4b1b5661f0bdbd1499/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "s71EYBMaQMKHmfpSgIMh3SNNYyhn7OtED3ATsRJ085zJOm6uNHPOH6Wd-Le6tZQ6YQBm0VfLTPZBfrq6cyaZRQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "RS512",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/128456808/a34cbc2384ba4f4b1b5661f0bdbd1499",
        "value": "JCbyg51JPLKlHdlqDEjdOytUn5vOzB09u7yYq5p5JC1oE1dQjxhTJrBJ7AuRP7oooLxqDCxenHKhI0dGQiPNzHY831QowXDdqUNouF7vs_OUJ4ZaLI1msCSZBnG6iZ4aLTXMmIG-oF9fJ2CwcYCro59NDYVpz_-xp4lpXI0Wz9diTlq1TlfTKA_mnol-E1OSEFw9TZ3EIG8BcXCcxgP4SOUwnuf4C9rS8UlzMfZS2725ilQIHFRw6NjsjrbQhvg_WcobcjiOirakTbVkJaF5V0SUtx4P8Upg-4vlXq9NV537EWSQpZMvxNBsJ11OJ2CpfRKyfs05MHy7mbBWQ4kgUg"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t282557e4338dc910hsm.managedhsm.azure.net/",
    "RandomSeed": "1766301221"
  }
}
