{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/715272583/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/715272583/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "68"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759316406,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759316406
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/715272583/403972b0e021499625337c4ebac4daaa",
          "kty": "RSA-HSM",
          "n": "mwyM4u64m_CRMC3XpL424PYMqKPpIVclmbEEZZGIyhcDGagKVXa3sXQ8OgdVm4gdWfMbA0Ap5WctG6wJfTOPb0O6BubtjLuF-tz6kpeylRAmDATv4UrwejsQByiwIS1wBUQxF95HeKAaJhJa4Z6WFutTCUx3GHNDvWwArOJua9NSaO2Gt_yiliUm_ab3hMfkRug9WPCC9_yHtKGRq4Ce_TmzqEA8n_2DN1zdarZxZiJx5-RClQFSvSa7F6BukC1a3OVoCGhcJKgyhZ3-IbdNqFsfUSJE4ZdnVwoMXGQOVfyp_P_ezNggDmYZUjvCDrGmmRed8uNrMD0JfFGf5gECmw"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/715272583/403972b0e021499625337c4ebac4daaa/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "g0l8kF_tl-q8lSLKVIol7CelO6ei36XvQ5mhwhhz_b4"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "alg": "RS256",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/715272583/403972b0e021499625337c4ebac4daaa",
        "value": "WuMI0on7AgNmT4YKEAdLw4DmSL_KqsHY9lki1sDigZFBzmMmqVGoJuNKaeIVlDbhLVm876seX2dJTkGEzA9K_2sa8MwSde3kb[...]
