{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/782317373/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/782317373/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "100"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759287654,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759287654
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/782317373/efca0a566be84702b08473faaa48450e",
          "kty": "RSA-HSM",
          "n": "lmCyrDjnYC7jYPgDTwjOfKImwaWo4VFjM3NqiT4g0_yR--LpEQKnfvna2dco1xXNzpW53TW-Wth6BEnVfNwhH9d_dn48Y3At6_jETepZLVh2i8TDGIqqk_F9fa3z7tCwdqvCBGBvM-QOKPZaAjVfN-hyUHwfydtdddxyxBeOI0wNxAce5pZ8JUwGtVGd0gucSLgnk6Zn2YsBD0SqcyX21LqK6QgUH3BfEbkzyv4fok50TUTZPTsecbXNowMwwtB9Q5bmz1DT5MdVcTazMCDUdPEDLFOjnpZnJLEyuf_Yu9w_rRkAYW2DeQnENMTcBpJyVcN_v_i1WI05FZ5aA1zhcQ"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/782317373/efca0a566be84702b08473faaa48450e?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250826-1-e0164bc3-develop",
        "x-ms-server-latency": "35"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759287654,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759287654
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/782317373/efca0a566be84702b08473faaa48450e",
          "kty": "RSA-HSM",
          "n": "lmCyrDjnYC7jYPgDTwjOfKImwaWo4VFjM3NqiT4g0_yR--LpEQKnfvna2dco1xXNzpW53TW-Wth6BEnVfNwhH9d_dn48Y3At6_jETepZLVh2i8TDGIqqk_F9fa3z7tCwdqvCBGBvM-QOKPZaAjVfN-hyUHwfydtdddxyxBeOI0wNxAce5pZ8JUwGtVGd0gucSLgnk6Zn2YsBD0SqcyX21LqK6QgUH3BfEbkzyv4fok50TUTZPTsecbXNowMwwtB9Q5bmz1DT5MdVcTazMCDUdPEDLFOjnpZnJLEyuf_Yu9w_rRkAYW2DeQnENMTcBpJyVcN_v_i1WI05FZ5aA1zhcQ"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/782317373/efca0a566be84702b08473faaa48450e/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "KTNgjRiwj-E_Un4IB5ianVnOm_GigYNQTXqy_BTsRk8"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/782317373/efca0a566be84702b08473faaa48450e",
        "value": "bNk9GUDCdQIHemeEAAR11-23buM2kKbZdEJhAryuGwCNgaY8C2vyR3nN5sdFMdUXRRWZeuO_-JhmBgTPF58v2APB4rcNM9nXVK6Y31AT-zSN-sE8J3jLsaQwcDQ7fM-jzk8ierGlI4yQDPeXu1iwvF7G236PynKUiHYZdhDX_v3Lh-ea6p_usvTSLjc87LNHXfn3e1HdDBv529PA_NbZhsQW6TnZkgVdKtbP1gFKcyLHlSFAZo9K_CR4sxVVzqAijQ2Zz11vx-k31KwUg2M-MDOg2JKIoi_vrAUjsrSeyttKIL2BDlQl4ROzExgfKNSoWvsS2sX4tkbGOVknvEMlgA"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t282557e4338dc910hsm.managedhsm.azure.net/",
    "RandomSeed": "298851605"
  }
}
