{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1522295216/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1522295216/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "90"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750764326,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750764326
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1522295216/d8408191458b40610156b72442d040d5",
          "kty": "RSA-HSM",
          "n": "zig0xFSkpxOct0LNvVDg-2ghhi2UtqCh34b46sv_2FfoY26bKq27Qo-CngQlyVe-Otb4s5NUhhlH-2u6NnhPYfa5GW7DRB7tJ3laWo3IektW7l_KiuNs_YJTDIJOwqUXgXgEVrD9OaHgu6r7jSfTwkUKH5-1PN9VaEqyoRmiYRTtqX_mVf80a76mUGWkJByJM0djwd9p7F_UhbWbpqLr9Y9rL3vjJ21xKfsBrO73ohkJ95t6UbWdZDbiB19q_wUj5U_1iZ5IsZJE_m-nrlpsP4-9INgChFLw1sPVrOpXqHhTcEfqe1S9lJ1HAgfHOxbeT3H4-qU5I_p4jsrf0Ns8mw"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1522295216/d8408191458b40610156b72442d040d5/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "AnT0jMGFh8gCBoIzktmnBNzW8CMS8hFtru76g5wH-_s1XgCuTReTtFU-5H3FqSwF"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "alg": "RS384",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1522295216/d8408191458b40610156b72442d040d5",
        "value": "b8AGOnruX2aml1uZ26RXZ1D_Sre3ElJUJxuys_xxdDuMuuQl7Au1bFuORBwNjjgAar4e7593H9AWhZdNnqdZzDv_nJ1lJOuhiMiE1hLJ9_JVDmXbAFdYErXBzj4PFgm6s2bu2MHOe_gSqCeD-SBTuPMPh7cReF_OMmvn28WDpEOr5cHagdh7q2IREFcxYNES4EY0Lphl9VEDo7_fS_JU5bRpnhjTKUI6fUj7dCFTeC7axPuILNUnzClxLa95jzyhu6GhFu2gORJ8NKuHQ4WHg2ImYZg2o66hcsJrGwsi09nvHZ-QoohanBWGCDuloMTAzUU2Mq_Z6ZzXbR9GtDqdyg"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1522295216/d8408191458b40610156b72442d040d5/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "AnT0jMGFh8gCBoIzktmnBNzW8CMS8hFtru76g5wH-_s1XgCuTReTtFU-5H3FqSwF",
        "value": "b8AGOnruX2aml1uZ26RXZ1D_Sre3ElJUJxuys_xxdDuMuuQl7Au1bFuORBwNjjgAar4e7593H9AWhZdNnqdZzDv_nJ1lJOuhiMiE1hLJ9_JVDmXbAFdYErXBzj4PFgm6s2bu2MHOe_gSqCeD-SBTuPMPh7cReF_OMmvn28WDpEOr5cHagdh7q2IREFcxYNES4EY0Lphl9VEDo7_fS_JU5bRpnhjTKUI6fUj7dCFTeC7axPuILNUnzClxLa95jzyhu6GhFu2gORJ8NKuHQ4WHg2ImYZg2o66hcsJrGwsi09nvHZ-QoohanBWGCDuloMTAzUU2Mq_Z6ZzXbR9GtDqdyg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "RS384",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1522295216/d8408191458b40610156b72442d040d5",
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1522295216/d8408191458b40610156b72442d040d5/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "AnT0jMGFh8gCBoIzktmnBNzW8CMS8hFtru76g5wH-_s1XgCuTReTtFU-5H3FqSwF",
        "value": "b8AGOnruX2aml1uZ26RXZ1D_Sre3ElJUJxuys_xxdDuMuuQl7Au1bFuORBwNjjgAar4e7593H9AWhZdNnqdZzDv_nJ1lJOuhiMiE1hLJ9_JVDmXbAFdYErXBzj4PFgm6s2bu2MHOe_gSqCeD-SBTuPMPh7cReF_OMmvn28WDpEOr5cHagdh7q2IREFcxYNES4EY0Lphl9VEDo7_fS_JU5bRpnhjTKUI6fUj7dCFTeC7axPuILNUnzClxLa95jzyhu6GhFu2gORJ8NKuHQ4WHg2ImYZg2o66hcsJrGwsi09nvHZ-QoohanBWGCDuloMTAzUU2Mq_Z6ZzXbR9GtDqdyg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "RS384",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1522295216/d8408191458b40610156b72442d040d5",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekvv76hsm.managedhsm.azure.net/",
    "RandomSeed": "1157917533"
  }
}
