{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/2068313277/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/2068313277/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "75"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781249305,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781249305
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/2068313277/dba0d960a70b4429bcd0e006d4e40030",
          "kty": "RSA-HSM",
          "n": "k-F-qCSE2q7odCX29uHXKiyzKqEBLcgg9Tu4K9QCfjirbP8JL3Pr8fQCDtBup7qcsDYIaZ2pNtJA_gUnYrDXWlf2Rj7SRik9RQfHQtB4FM0W80BYZyEoiw-WUnpzKc7M3TGLOQnHVO_wXocvS5VuWW-00s7oTyhvrZXDBVFcof18g8EmJZkWFdbjEef_PfX8W2Qr4O4WEOkJ1u1NAweHBDsYOZEw4UYWaVp11U08jbqNP_wDvB-3LiroUQox22SaZ53vu2zJAcJB6UNIyAp1jPhELd4G7dGTvwgmLXEwyGlWxfrir9JfjtA_aoG5IZpKDmLKY9_bq7N_dBWD6ZFhNQ"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/2068313277/dba0d960a70b4429bcd0e006d4e40030/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "bxPGyM6mSVtBeEphJ6_SXGCNgMxdh1OIy56nPg5wOrHv_jUsG73nXWSMxCFvPrNMFaLDCsjipd2ajIlygCP-eg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "11"
      },
      "ResponseBody": {
        "alg": "RS512",
        "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/2068313277/dba0d960a70b4429bcd0e006d4e40030",
        "value": "fvkVAcH1eJFTr0TxEFa16lBAwOFkvk9PayMrQ1svYUXKi_b3SxYvSE8[...]
