{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1195212994/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1195212994/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "65"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780406085,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780406085
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1195212994/b8ac12be0445076b3adc262b8df24235",
          "kty": "RSA-HSM",
          "n": "jrQJCUqIPWYHDZ_RliU9bDrHJBYn_0ceP6HkA-g8Vm-jgWvCf1BdA0zzZysCfR1pypiz6g9nm6bLy03Lhfn8l15KwekGKDVsA6Fi1js85woas_lkb-G1ciYW9a8jco1AVrDZdeFw8Yw9lH4DW7N43xbj_NfMnB0biIY3wKugT5lw6yUzeHC6FMk9bs6YSUhfEVAwbsqxgb4FBscRBNYAebjtGkPcVYhjtdiTqHdn-J3XfDBNMm7AGR0utfzYlMHm08-wttX18EVaN4Qa9nqD3ZN4jnUUIpSQ4BQHMzD55SpX9Nbm3Hn790SRe8a5Dorx0e52DvL_GwaXvukJXMzaLQ"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1195212994/b8ac12be0445076b3adc262b8df24235/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "keT9pFR5oj7-4ER_wUVPZ3vXfW-SP6JJq8ixwosJxes"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "8"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1195212994/b8ac12be0445076b3adc262b8df24235",
        "value": "fWx5iDfrwUv-i0WSaJIoyMi6bpPqBzj7t4DXnxCp2PdM3JC0uMVTKbbuM8auMBA4fIFKdrRVva_Nwcchca23AXwnr8sQ352PZXd[...]
