{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/157342320/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/157342320/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "94"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759318528,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759318528
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/157342320/c15136153a194d3c999922d51fb360db",
          "kty": "RSA-HSM",
          "n": "uAvoCRcw6lHyeBT7be6AJxRTyLmFn_VFxhAt_aedbRudc0-fGyb-YYPFT3SUHSnDQyQCImtqopEQY6aP1tJo9o6pZvpz84vWIXrtXOe7jw_zP0fJnNW9KxlIag9VdkjP5OroYoYynsSjgS-afpekz0sszkKvsTe4nrxGbbZXUkiZ4no4T9CUDrJnH4iZkQdoI4kOjRYBE8Ue9lpwmRSEGInF3UngFXQCiYPRd0njpm5Gt6FVQGz60O0IOsg4bClgoNKejRO-DnUoi_vWFSE0mQPCXjyd-Qk6AaSg0HhtkP7eYF6GNGCaCV0joljw_vuiiPtgZrjoNyuob5PfidNy0Q"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/157342320/c15136153a194d3c999922d51fb360db/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "sbD1DUNKVeX_Lvo6TYZrL7-PHpp2M5mM_XvMOa20HL4"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/157342320/c15136153a194d3c999922d51fb360db",
        "value": "QY9zPtQ7pSokpfCyOQ_J6XxGgmEezvGG22BT33ixnk-ER1xzc2FhrvgihBDzkvRSFR2A1xOQDtkwCwET-lpQ-mbLyeBjZq1FE[...]
