{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/2032922889/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/2032922889/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "67"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781249977,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781249977
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/2032922889/ce70dc65292600b1ab0115e570621ce6",
          "kty": "RSA-HSM",
          "n": "ixDmsIOIoXnfNL8c2kxplglNpncU7kWozZDMnZENuhFTvo4_9Ej_Tsf5yAgtAhomqJghwAkmpsa_qTZ3Uy0XxsJfUEDlWNei-_H4AvVG95UclUh3xHCHSx9_j3JbBYKqpoCtY51ivMjhbG1jI-uVQmE36U8EkDDitoILLDI4dL7S_TXsaZ0x12VuMZ7Ys9xBhv61dpvv7xu0dO2UzNe9Wa8knQIZ6_Df5uvQV_aJRoBjg8HA8JJJ-HoUcK_WmT6LvR6el0EIuYLosYS8igILAmBzNl7ITm7E5Ff4F7w_MqkGKXQa4RQ6b96yTn7z05JmRewORtXb85OTFTlmH16VDw"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/2032922889/ce70dc65292600b1ab0115e570621ce6/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "HJiAE5ziXUfajJC3RDJiCijKykAKuF-dJj8xLjugfxsrtZLlHuvQgxL8UmhR_zqg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "10"
      },
      "ResponseBody": {
        "alg": "PS384",
        "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/2032922889/ce70dc65292600b1ab0115e570621ce6",
        "value": "O7gpGXYnOEwE1tmoKRu10xg0jCmRGQdEgXNCf5TSuFJiX0bLF0CQIQZaJvW3e8wgRPf6xsStXqO8j[...]
