{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/425049492/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/425049492/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "158"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1693004403,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1693004403
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/425049492/c7ce855e246a0e6baacc425e650040e3",
          "kty": "RSA-HSM",
          "n": "7Gw4OZXKZGC8vA4O6lrIcHGQkMOTj7CQP0xWBInAJkRR74WiJHH7QFh57I4sXH3y17_K6LxFdEk6VjyRnPHi0ARcNiQyauhbF2ZSnenyus8nRWT0Ap3UJEyRw4xvuhqj3i4t6Z2-QrYxJ6i8o_-bpcpmYHi6G3bj-mk_oF9KkDckaOrUqRsQhi4mH3I_XGpzoXpIXxUJ94L64S5yjJth0_wWQTrXKslH-lnHETsVV3bc4H390Zy4TTwUfd3u-fVa6C0xFRFKMBGAqA9VV8HoIn9byD0_2Zp_ytF8ctwbN7aVsPGiZWnSiMApYdzQPAkYmqhQcBEwA9mzTfLeGKgLnQ"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/425049492/c7ce855e246a0e6baacc425e650040e3/sign?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "0ynUPJNpY6QUG4IM6o-9Ab2qTI3Ty7Mm_dQ5adugR6U2AbanC0F8kjSWbFVqeIXy"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "21"
      },
      "ResponseBody": {
        "alg": "RS384",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/425049492/c7ce855e246a0e6baacc425e650040e3",
        "value": "eKMQsmssF9MCx-N7KprUSs95vN0zVYSupHw6-gPaAaDx96jlh0GIUgl9YSSub-lEdVBy_9SFdIhnC21Anayytg81DyQ-XdlsfSdtXk5WgdB91-v-6ZKPwoXA3cS43CApfYxLXjzlnRq7vT_fwIebA0kP4oThNP6RgezO4nvYfrVQpHMqLlqtoj11JLSVH15ikQ0-mFoT8JI4o2RlGDuY-WDo4ca7F4VF7h2NNIJe0ukWzaSJIkmEhXXkJC6MTgPmF2nuaUqn-ySyMiUEoAnTJInb25esTHPTTXirdY-h1tz5Rar1JXAdw7gz6ar3ejfKnq5ccXYaQBodBuw5zRZg_A"
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/425049492/c7ce855e246a0e6baacc425e650040e3/verify?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "0ynUPJNpY6QUG4IM6o-9Ab2qTI3Ty7Mm_dQ5adugR6U2AbanC0F8kjSWbFVqeIXy",
        "value": "eKMQsmssF9MCx-N7KprUSs95vN0zVYSupHw6-gPaAaDx96jlh0GIUgl9YSSub-lEdVBy_9SFdIhnC21Anayytg81DyQ-XdlsfSdtXk5WgdB91-v-6ZKPwoXA3cS43CApfYxLXjzlnRq7vT_fwIebA0kP4oThNP6RgezO4nvYfrVQpHMqLlqtoj11JLSVH15ikQ0-mFoT8JI4o2RlGDuY-WDo4ca7F4VF7h2NNIJe0ukWzaSJIkmEhXXkJC6MTgPmF2nuaUqn-ySyMiUEoAnTJInb25esTHPTTXirdY-h1tz5Rar1JXAdw7gz6ar3ejfKnq5ccXYaQBodBuw5zRZg_A"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": {
        "alg": "RS384",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/425049492/c7ce855e246a0e6baacc425e650040e3",
        "value": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/425049492/c7ce855e246a0e6baacc425e650040e3/verify?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "0ynUPJNpY6QUG4IM6o-9Ab2qTI3Ty7Mm_dQ5adugR6U2AbanC0F8kjSWbFVqeIXy",
        "value": "eKMQsmssF9MCx-N7KprUSs95vN0zVYSupHw6-gPaAaDx96jlh0GIUgl9YSSub-lEdVBy_9SFdIhnC21Anayytg81DyQ-XdlsfSdtXk5WgdB91-v-6ZKPwoXA3cS43CApfYxLXjzlnRq7vT_fwIebA0kP4oThNP6RgezO4nvYfrVQpHMqLlqtoj11JLSVH15ikQ0-mFoT8JI4o2RlGDuY-WDo4ca7F4VF7h2NNIJe0ukWzaSJIkmEhXXkJC6MTgPmF2nuaUqn-ySyMiUEoAnTJInb25esTHPTTXirdY-h1tz5Rar1JXAdw7gz6ar3ejfKnq5ccXYaQBodBuw5zRZg_A"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "RS384",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/425049492/c7ce855e246a0e6baacc425e650040e3",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "81356763"
  }
}
