{
  "Entries": [
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1705420294/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1705420294/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "72"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743717390,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743717390
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1705420294/2845f08e07cb4e77aec7e8401e60c40a",
          "kty": "RSA-HSM",
          "n": "vNZz8b1dSzgbfVhFzUv6NHEwcy2TcGiwazkVz19YuZn7_495s57jVwnWlW8Ti2EN-K5dDmBINhssu2E18PtZwo0Ir5vj14xxuUBus9ngGSW5869e1krlNhXAARSZbsJyeLHt9m-tUEEOBbJ9XrJ4smyu91PQXeCnfL8Y1n-BoZo-BTq9_JtPbfpCW0m5h5dX1PYlq7oXCyH4FTVRReVxhHuzKr2_krpWrbEAghZToVzWUPEIIFFl70FGldpz97WlTt4AOb9bmKvIpn2_iPGUBOtkOJS61SySFKiUGu7JMU632nlGJKTdUeZ64RPCamXKPt1rl9RcxtOi273RV77KYQ"
        }
      }
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1705420294/2845f08e07cb4e77aec7e8401e60c40a/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "42BI0xcZpho56K98hhBjawOqmSc7QJ3bG4kkWvha-mFyk_zAza5hsuTzuJtbWYCe"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "alg": "RS384",
        "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1705420294/2845f08e07cb4e77aec7e8401e60c40a",
        "value": "BPSkjWGJ3tGHxGnCJlrOtLgzMQqCYxlMcTJvhIZQrYVhEd7sUYLoxIClLUuT4DBCxynVIt3tN7jaNslomcD3WccuoWRpv7DZ4CAXT6yQAGT08AeodCahnQoPwJFXtSE4jmzZJkc_vw7aU8h9LMlTe_uFJe_qUCPKMdAEipWsXivc8_qjWmJCp4RP6cCGB4F5Ws1DV-ag9wIwcmHRk5dJJQ_GTeKgfBRaECaQ7Lba3CkvoVP5bVnB9ApEWdYSe2rzPgScPthuvA1LYssY-P-AZ7OXdrj8Z7I-4_aN0sbUKjfFwUkhRhA4szEFiP-UrlG4Y5ypUp6_ZO2842wYui-T1A"
      }
    },
[...]
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1705420294/2845f08e07cb4e77aec7e8401e60c40a/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "42BI0xcZpho56K98hhBjawOqmSc7QJ3bG4kkWvha-mFyk_zAza5hsuTzuJtbWYCe",
        "value": "BPSkjWGJ3tGHxGnCJlrOtLgzMQqCYxlMcTJvhIZQrYVhEd7sUYLoxIClLUuT4DBCxynVIt3tN7jaNslomcD3WccuoWRpv7DZ4CAXT6yQAGT08AeodCahnQoPwJFXtSE4jmzZJkc_vw7aU8h9LMlTe_uFJe_qUCPKMdAEipWsXivc8_qjWmJCp4RP6cCGB4F5Ws1DV-ag9wIwcmHRk5dJJQ_GTeKgfBRaECaQ7Lba3CkvoVP5bVnB9ApEWdYSe2rzPgScPthuvA1LYssY-P-AZ7OXdrj8Z7I-4_aN0sbUKjfFwUkhRhA4szEFiP-UrlG4Y5ypUp6_ZO2842wYui-T1A"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "RS384",
        "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1705420294/2845f08e07cb4e77aec7e8401e60c40a",
        "value": true
      }
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1705420294/2845f08e07cb4e77aec7e8401e60c40a/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "42BI0xcZpho56K98hhBjawOqmSc7QJ3bG4kkWvha-mFyk_zAza5hsuTzuJtbWYCe",
        "value": "BPSkjWGJ3tGHxGnCJlrOtLgzMQqCYxlMcTJvhIZQrYVhEd7sUYLoxIClLUuT4DBCxynVIt3tN7jaNslomcD3WccuoWRpv7DZ4CAXT6yQAGT08AeodCahnQoPwJFXtSE4jmzZJkc_vw7aU8h9LMlTe_uFJe_qUCPKMdAEipWsXivc8_qjWmJCp4RP6cCGB4F5Ws1DV-ag9wIwcmHRk5dJJQ_GTeKgfBRaECaQ7Lba3CkvoVP5bVnB9ApEWdYSe2rzPgScPthuvA1LYssY-P-AZ7OXdrj8Z7I-4_aN0sbUKjfFwUkhRhA4szEFiP-UrlG4Y5ypUp6_ZO2842wYui-T1A"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": {
        "alg": "RS384",
        "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1705420294/2845f08e07cb4e77aec7e8401e60c40a",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/",
    "RandomSeed": "1474007155"
  }
}
