{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/2125015914/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/2125015914/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "121"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780406174,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780406174
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/2125015914/945ad2a5242841b715bcdab7f40c74e6",
          "kty": "EC-HSM",
          "x": "NKU1hHFeUZdrWxF2g3oUxyvktjBILM8x8I52svdrM5o",
          "y": "sTfXUJxi_KSZPVipi_DeWl81Q0arLwGDu-59z4lLF-8"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/2125015914/945ad2a5242841b715bcdab7f40c74e6/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "pdv3-P63o3C-CujlwZh_XknXNvp-TK6baWUJyKdtzMs"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "11"
      },
      "ResponseBody": {
        "alg": "ES256",
        "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/2125015914/945ad2a5242841b715bcdab7f40c74e6",
        "value": "jAWOAMsVKiOhSxALDrqxahCnBAP1ZYGQIeRBsVBQ7cLF12UKS1ai3Mw31OWySt0WNJoXUhthwl5nwJO9zZizTg"
      }
[...]
