{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1452641627/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1452641627/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "80"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750764112,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750764112
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1452641627/ee699b4d19ce0d071d69b7385abecb8a",
          "kty": "RSA-HSM",
          "n": "hiEcY1x7lcrjwMvZYFbUFa7IVOge7m_vvL46YFmLER5oy8UoD8QFni5oIkm5gjWwCmWkBV6ZsfGUidMGv7yrnE_9eRQJW4r80eDhcgncmg_H9cxwG9HKoqqa05ltPM3WALXvyvhdjoQR-MSo9uRInpBBbGK2HJePxXpltG1NmQPS772qecug_0geanI-Q1wO8nwoiK-JCdTim4w8kkFETg5aOCfWt3ZPr2N18ZPAaNdercaslB2qKQnu_1ZrxYVmqKvIpE8rsDrokbGUGjchufk-YYWKxZu9Q6K31OoH00snbJzZm-WTjlv7PS3dsgfeqzXwRhWNSIxDtLIeSnH0JQ"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1452641627/ee699b4d19ce0d071d69b7385abecb8a/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "PXMAcGHwFf0e87LPj9tKWsvIrkVW5_ydooKafFESqVfOh6QijRmHBSth1ucLHJ_F"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "alg": "PS384",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1452641627/ee699b4d19ce0d071d69b7385abecb8a",
        "value": "JTdThhnrmwzgZJkcLsHUBk_3WbtZLjnkNMVdIk00o48KTe-7PDBsdkk_PSnCgNhFS8XQQvtdRDKkqZzp053MEcySlp47as-HgAcuFAF6blraAhmndGHtZ7dy2cETpu1_12Tw88NAf_llh5nv2wBwLP2fM6BxgbJpSprzYFUVKP5I8Cfe0px4bSdklhsw38f1yjayufJtUVF68oMkcv3xtzraa-m__q3OrP5tOSDH9vKisr4wzcZlyH62RgYsSD956lngqaR2mode814CVU8uP8HqBvpTyHMmHGiTlB-3YHVXVxMM_aNHv3w7_MEVCkMeatkg7EzA5DGJO49rrLYhww"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1452641627/ee699b4d19ce0d071d69b7385abecb8a/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "digest": "PXMAcGHwFf0e87LPj9tKWsvIrkVW5_ydooKafFESqVfOh6QijRmHBSth1ucLHJ_F",
        "value": "VZ3jETkMOs3LwxPeTUpnepIfqBvxcL1CtlG6efz9aEHmX9S_f0AXQIJ3ZMyhQbNl-EO3sXhEsOPnC1LbCP9pBOwd_nydWR1luUtg1WbP9JS5SHW47mkZNVvwp2GdjpGTlGdp_cVoKcJrDqXW6gk2aVH7xk3TQmP6XnTjoOpL2SEMQOpp88pNyP8-TX_cCzqOXdpSUdEBVHsP0Aoid0c2bc6APoAIBfuriOa3dAT97POMMNruMv6yoIzk5zDCahpONBPUGGRVWtLsqe8zqC445deZTsXbom3NTtlRg_xNKyrnSqLOHPH93mJC7mub2IdmWts-xiubScrQUa96jCMuNA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "PS384",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1452641627/ee699b4d19ce0d071d69b7385abecb8a",
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1452641627/ee699b4d19ce0d071d69b7385abecb8a/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "digest": "PXMAcGHwFf0e87LPj9tKWsvIrkVW5_ydooKafFESqVfOh6QijRmHBSth1ucLHJ_F",
        "value": "JTdThhnrmwzgZJkcLsHUBk_3WbtZLjnkNMVdIk00o48KTe-7PDBsdkk_PSnCgNhFS8XQQvtdRDKkqZzp053MEcySlp47as-HgAcuFAF6blraAhmndGHtZ7dy2cETpu1_12Tw88NAf_llh5nv2wBwLP2fM6BxgbJpSprzYFUVKP5I8Cfe0px4bSdklhsw38f1yjayufJtUVF68oMkcv3xtzraa-m__q3OrP5tOSDH9vKisr4wzcZlyH62RgYsSD956lngqaR2mode814CVU8uP8HqBvpTyHMmHGiTlB-3YHVXVxMM_aNHv3w7_MEVCkMeatkg7EzA5DGJO49rrLYhww"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "PS384",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1452641627/ee699b4d19ce0d071d69b7385abecb8a",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekvv76hsm.managedhsm.azure.net/",
    "RandomSeed": "382519343"
  }
}
