{
  "Entries": [
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/251960031/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/251960031/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "71"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743714856,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743714856
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/251960031/eb59080b887649212674bfcc23072799",
          "kty": "RSA-HSM",
          "n": "pm9b9ca-1lJiWuqCzx4PUs00gGUDO4ySjhNGidDbt36vBJ4dvO4eQhywh4EjPbvxtWHkg8GjNAuOGZSX9l6Z0vEzNnanHMveWNwvm9mf4ThGFCwOTMGQB9MwjD7CdY6SnhtWK4AMOW7GblVRhmu7u0LX4gj23C9T_nxAGTJgC_voJ8h6B33NIzFWHt_-fXPqgRimvfifkFKHR7HzqWsePLaVGeSdj4FQXF51N73atpn5WaXk98_3TbPNp76_MHkoNVK5DRPEfIOpVJI71qBlM-MwpX01sR46OIGjfya6ApUvouft1eFhsGBMTv0hYTjrFZ0quz0vc0lSvMKvJG7fAw"
        }
      }
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/251960031/eb59080b887649212674bfcc23072799/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "GbOYM46VRyvbR2rA3ZiLLr0asUqTQG57NNT8XeARdDg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/251960031/eb59080b887649212674bfcc23072799",
        "value": "nrw41GV95Tn3SROsO1GuUdwmBcrX41pfx1bvadcfJ3b5QZSW_yDdiNqZegwO_WnyczDchaMOw8kBW1bqVMs_VP5exgnKHOiNeqa_zJycYJ2NKV4cPPVSiNUNPxaHcGIDMlaDvYRQ55Z4gWBKV_IzQJeMWxTjqhW_lHH9LqFN6bEa6qgDtlyGHjpT8x6dMQcyhlBHRFtL1TfS0TBUOOrZfbZvoKFkfd7036NjmHXb3ZzRXKaUXkKjMYsDdG2YbLMZ0b1LGeoyEQ4vEt_NehDugpmgUv1o0NfMeb62Qc6bqTX7denP_R-RRGx-kpnRjSl_XIXdKIGOCsJ110zZf_5QAQ"
      }
    },
[...]
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/251960031/eb59080b887649212674bfcc23072799/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "GbOYM46VRyvbR2rA3ZiLLr0asUqTQG57NNT8XeARdDg",
        "value": "mC6kuTO5mvgGz5qbXIp3Rk1aQsrOXl7HnotAaYMfuVLNkMclOIV--WEjAtMr-0CLbLAsLrSIDrN8Sp_XIbmhXdlh2pEGAJ_uRuau9cU1r87P8eECh9MXkaRRMVN8BFub6kYEHTQ9oYOk9gXR-XAU-eppbpVgBldR9sK-1yW1uE2rUiIl1EGvtrllT04MyFQz7cjd3_PfZ6JNtjVfAYgE6J_SoyhL8YWtNIfDC5p2y11iFVECevBJyq171Wu8FpAFrJ8vqaSgemxJyiZsa7ZN0j3otFG6gtydHCQWGQj9GHDGXcD2PdeB59nFgA3zL02DvrEoyoXKtF54OFlLVB3WvQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/251960031/eb59080b887649212674bfcc23072799",
        "value": true
      }
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/251960031/eb59080b887649212674bfcc23072799/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "GbOYM46VRyvbR2rA3ZiLLr0asUqTQG57NNT8XeARdDg",
        "value": "nrw41GV95Tn3SROsO1GuUdwmBcrX41pfx1bvadcfJ3b5QZSW_yDdiNqZegwO_WnyczDchaMOw8kBW1bqVMs_VP5exgnKHOiNeqa_zJycYJ2NKV4cPPVSiNUNPxaHcGIDMlaDvYRQ55Z4gWBKV_IzQJeMWxTjqhW_lHH9LqFN6bEa6qgDtlyGHjpT8x6dMQcyhlBHRFtL1TfS0TBUOOrZfbZvoKFkfd7036NjmHXb3ZzRXKaUXkKjMYsDdG2YbLMZ0b1LGeoyEQ4vEt_NehDugpmgUv1o0NfMeb62Qc6bqTX7denP_R-RRGx-kpnRjSl_XIXdKIGOCsJ110zZf_5QAQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/251960031/eb59080b887649212674bfcc23072799",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/",
    "RandomSeed": "618671015"
  }
}
