{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1745650042/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1745650042/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "70"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780405318,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780405318
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1745650042/873b08603c5b0f300ce8ec55fd764872",
          "kty": "RSA-HSM",
          "n": "qbw8J2-TwrXycU8jryiwtKPY3CZ11oaSVsrEOLEZdWiRCxN1Jyx0O3mnnieRpBl1Iv6MvlevPQdjf9EpVvTs_Qg1yp6Kcadkq_YIBTQa3CsCDRgAX4sDEpys1rwwk9IpuFgUb_r4KDOEaFaoTR9ghAEmLpojB5MAcRD6S2i_DCAZ4RtCAlhw2QAInSnBxuKD0ovhii0GIbyJKlyVReNQwO_mtL3A0j-_hbATxfeQ2YGgc5dXxLqAAnmKYzg3VQjKzt9w5wJMxaEo9OU4kCeRyikwRGQ_wSztiE2Y3--hAQB1LyG2CydYPdAvHyeX_6B2hTLEaSxM6fuh_DEKcTSkpw"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1745650042/873b08603c5b0f300ce8ec55fd764872/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "3D7bYDWy0PjlpNQB0o4cinr99x11PWPCBVJcoDjd4pM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1745650042/873b08603c5b0f300ce8ec55fd764872",
        "value": "LDWheCnM1afV31WfEYCH2b2tjxp3inAlcqHAHD5mfFld0QJSLqqi0odwoFgYqn9IslgSz5ChLpg5JmLASB1Nl1iUe923yX4foae[...]
