{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1627254171/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1627254171/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "oct",
        "key_size": 512
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "50"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743496857,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743496857
        },
        "key": {
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1627254171/f23e24623b734975bcc44b947d26e157",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1627254171/f23e24623b734975bcc44b947d26e157?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250221-1-e4accbbe-develop",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743496857,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743496857
        },
        "key": {
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1627254171/f23e24623b734975bcc44b947d26e157",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1627254171/f23e24623b734975bcc44b947d26e157/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "HS512",
        "value": "XaGexHAqNjprGTZPX_nvRg_1aDxXQPKZGgQjdw4PsddYcVoDTALithgBE4q_txN4lGO2Cp25IalRGsncFsPWmg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "HS512",
        "kid": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1627254171/f23e24623b734975bcc44b947d26e157",
        "value": "YZcL-2rWRDivCqVeV_qN_RHEQ4NOvS0XyfnaE_CNzy3wHDlPJj-Ca0yxfR7GtkF5YWg1qDXz-sHaX0sDNzTiSw"
      }
    },
    {
      "RequestUri": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1627254171/f23e24623b734975bcc44b947d26e157/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "HS512",
        "digest": "XaGexHAqNjprGTZPX_nvRg_1aDxXQPKZGgQjdw4PsddYcVoDTALithgBE4q_txN4lGO2Cp25IalRGsncFsPWmg",
        "value": "YZcL-2rWRDivCqVeV_qN_RHEQ4NOvS0XyfnaE_CNzy3wHDlPJj-Ca0yxfR7GtkF5YWg1qDXz-sHaX0sDNzTiSw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "HS512",
        "kid": "https://rgjoncardekv041hsm.managedhsm.azure.net/keys/1627254171/f23e24623b734975bcc44b947d26e157",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv041hsm.managedhsm.azure.net/",
    "RandomSeed": "1422287276"
  }
}
