{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/2057001521/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/2057001521/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "62"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780406067,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780406067
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/2057001521/d92106ced5b8400a2cf0be46ddbeae4f",
          "kty": "RSA-HSM",
          "n": "o6wjQJ0DdL0XA2gdzZwvj3Sknm304C3IaKjgWJZMAp3IFgby8D2bIExsvq9mAxsZGicZb_SUqOhdUkXHdNxRDGXZRwMrI7Kp2WTJSO7i8Du6gwkaFjlMdEsUlgpEa8V-8ldavc74zDOQUmmiM6j7-o3PZ8ms6wwN9jLBxs5VxIQgoNDCx1Gg0a3kjGIuL3tWXM5n2gM_NQLtCsgsLgsnnqZMF8f5hhYVYeuc1nfFXCXYvAWu1pDI5Ttf-gzy5htnVwvwkXLNO6JfnXYwfTIBSK8_rjxS_yvl6Ykh4QtHAyegRw2h-MxVS7uy_rDjAiaxZWeV93epgqMQuQvSFam39w"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/2057001521/d92106ced5b8400a2cf0be46ddbeae4f/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "MHmlohOIDnpF-ScqPATZexgcr5hT1UXw6m77LwgmLJw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "8"
      },
      "ResponseBody": {
        "alg": "RS256",
        "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/2057001521/d92106ced5b8400a2cf0be46ddbeae4f",
        "value": "GZp19iIVUWP5ZklkjdaiAFenla5qAmvCdTqBca-Ozv25C2zsIH9jMNZUdTCRVNKpqXNufrmPtBp52Ib3qIABWBXOYWrLmRkg73m[...]
