{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1134666440/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1134666440/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "101"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750763902,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750763902
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1134666440/069451f4b7f0428100081567f039c076",
          "kty": "RSA-HSM",
          "n": "hP5jCnG5R82Ror1c3Uw3hYVehxMXKzrk2XmtLFHyvziw-1yZNml9u4kndK3QS5tvtxeInl8mapkMaTJyBZcL9ENpfuZ16ci162MINIGzxHW4yN6Vec3JZjEo2k5GE_r2p3swCTe-1-8ifg27HaUXWxaGxaiXa8QIDouVj1Ur4ITGkE3GLKL5_mY3m6GA4T1DZ_0BimbrbgKbZizc5YO8S9rN6XcDSWu4u_vTICRMzcZ1l2R9MvECHH6l6K5UqL-doxPxd3QiXcKDpItZG_2VglsuYKtldODF_rje0wtiEnurOOUsf6-9HbYiopQooDMhiSuiqyabkCHxJB-XDxxlbQ"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1134666440/069451f4b7f0428100081567f039c076?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250601-1-938c6570-develop",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750763902,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750763902
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1134666440/069451f4b7f0428100081567f039c076",
          "kty": "RSA-HSM",
          "n": "hP5jCnG5R82Ror1c3Uw3hYVehxMXKzrk2XmtLFHyvziw-1yZNml9u4kndK3QS5tvtxeInl8mapkMaTJyBZcL9ENpfuZ16ci162MINIGzxHW4yN6Vec3JZjEo2k5GE_r2p3swCTe-1-8ifg27HaUXWxaGxaiXa8QIDouVj1Ur4ITGkE3GLKL5_mY3m6GA4T1DZ_0BimbrbgKbZizc5YO8S9rN6XcDSWu4u_vTICRMzcZ1l2R9MvECHH6l6K5UqL-doxPxd3QiXcKDpItZG_2VglsuYKtldODF_rje0wtiEnurOOUsf6-9HbYiopQooDMhiSuiqyabkCHxJB-XDxxlbQ"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1134666440/069451f4b7f0428100081567f039c076/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "dTaAIMNg2yebaDK0rnoV5QaB2yzO2LUqylxnfCt3HitjqUlACJRM-VtholjwZ_eT"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "PS384",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1134666440/069451f4b7f0428100081567f039c076",
        "value": "L-kMnU1KP9T920sT9IwFDyHw_0EDqrGiEhb9FC4dN-1JAHVCrtAnAtKU72tQrJsaIeYWFLSAdiHBB9PFaonGKj4_HtMXIOx9GmST0TaXzMXmpfgKRTuaaKz5o7zp-XTq30_YKvLmnpziIjPFXpXBA3Ln40lrkKqy1lTB1Hl4wKGsZ9SFzT10P9P7KsuedOuNiV-erjJZZhEeDW6w6C_1T8VPuI_C6DR5EVgafnrhmA1nAN3EzV-vIUpAF734LSjxDCya4cg2dF54s2zYS6mgskoO-P3k63vVd_6czKICc8_X_wM0GZfHbvUHQX6kKAQzV_gvd0pxEA6UO4eYFomugA"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekvv76hsm.managedhsm.azure.net/",
    "RandomSeed": "2023827801"
  }
}
