{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1615523344/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1615523344/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "166"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750764495,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750764495
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1615523344/7ef2a537d3a80c0ca32e23dfc6a256ea",
          "kty": "EC-HSM",
          "x": "RzHKAY9R4zQrDobsmhjUTozwJ93DyjdCRQetIh1sI6cowco4azhktg9Y-2aEvRoQ",
          "y": "4K_tRkO-IyF0KtFL84_qwWBOncd8RFTCd1nX77MUAD9_1HQ-p5xyOF0EIjyzzgJn"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1615523344/7ef2a537d3a80c0ca32e23dfc6a256ea/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "pifJ0Hfr_lGHwZNmFcdYiZb9rmHvtA-pRFtri14rHJ88fOL_6N_a8UUNr5dlNcPO"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "17"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1615523344/7ef2a537d3a80c0ca32e23dfc6a256ea",
        "value": "MSaS04yKLFLaWL2aFkPIWUXcc9yuifQQDCGcbF_JivSwLD519FsR4M1PQTr_7218t1X2Tpy5g-9gc39kXdBFqLSrRypOM_2cDjDY1t9cIi3s4oAo5nUZHV-llnsIoTbY"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1615523344/7ef2a537d3a80c0ca32e23dfc6a256ea/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "pifJ0Hfr_lGHwZNmFcdYiZb9rmHvtA-pRFtri14rHJ88fOL_6N_a8UUNr5dlNcPO",
        "value": "ORjTVOpy5JqP5fpbVHw-YCxJyrgnRw8ihh8gyISRr6cZf7_5Tbq4uBa1XjY0QKhhySdVuoOuGeFcuoANfHzgO1uriG6s34u4Tl33EKD9ZqYTWF8LxVGkmFYZOTvEslbJ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "20"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1615523344/7ef2a537d3a80c0ca32e23dfc6a256ea",
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1615523344/7ef2a537d3a80c0ca32e23dfc6a256ea/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "pifJ0Hfr_lGHwZNmFcdYiZb9rmHvtA-pRFtri14rHJ88fOL_6N_a8UUNr5dlNcPO",
        "value": "MSaS04yKLFLaWL2aFkPIWUXcc9yuifQQDCGcbF_JivSwLD519FsR4M1PQTr_7218t1X2Tpy5g-9gc39kXdBFqLSrRypOM_2cDjDY1t9cIi3s4oAo5nUZHV-llnsIoTbY"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "20"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1615523344/7ef2a537d3a80c0ca32e23dfc6a256ea",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekvv76hsm.managedhsm.azure.net/",
    "RandomSeed": "453649342"
  }
}
