{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1812676565/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1812676565/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "206"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1693004398,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1693004398
        },
        "key": {
          "crv": "P-256K",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1812676565/083ed6be276a4f4c2f92725dfe1df2b7",
          "kty": "EC-HSM",
          "x": "5jlh-khTZj5Ue1tEj9nSGcPWS1LrIbEmpIo37vJnjCA",
          "y": "DmJ5Z_iNbBpKropLXmGGu4Li1zJQ-ElZBx96NRX4qV4"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1812676565/083ed6be276a4f4c2f92725dfe1df2b7/sign?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "et1fY5BFfTm0TZeIYobPWOxzGwnzALjzNk8F9UT7NrE"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "26"
      },
      "ResponseBody": {
        "alg": "ES256K",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1812676565/083ed6be276a4f4c2f92725dfe1df2b7",
        "value": "PuNtPkH8SwxFjoVJZj0uzWt14XRI6ZCXstqhDX6E3V0J3hzKUN8Ls7ngB3obqQ0L2g0G0nI4c9nZytlbwiQ4Ag"
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1812676565/083ed6be276a4f4c2f92725dfe1df2b7/verify?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "digest": "et1fY5BFfTm0TZeIYobPWOxzGwnzALjzNk8F9UT7NrE",
        "value": "w6_L3H2YRyNlbuUq3ieguS9BcgtVAk5vJgfPTC2X_DvMlwj8UE_Bwzw4yRHReS-cIwim0wR-xBf_2X0bLew9GA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "16"
      },
      "ResponseBody": {
        "alg": "ES256K",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1812676565/083ed6be276a4f4c2f92725dfe1df2b7",
        "value": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1812676565/083ed6be276a4f4c2f92725dfe1df2b7/verify?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "digest": "et1fY5BFfTm0TZeIYobPWOxzGwnzALjzNk8F9UT7NrE",
        "value": "PuNtPkH8SwxFjoVJZj0uzWt14XRI6ZCXstqhDX6E3V0J3hzKUN8Ls7ngB3obqQ0L2g0G0nI4c9nZytlbwiQ4Ag"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "16"
      },
      "ResponseBody": {
        "alg": "ES256K",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1812676565/083ed6be276a4f4c2f92725dfe1df2b7",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "1662298343"
  }
}
