{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/459706508/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/459706508/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "304"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1707539481,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1707539481
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/459706508/f3583a04726a0b7d96421d55e0650a7b",
          "kty": "EC-HSM",
          "x": "AJEOgIYIj7L_l6jmaEYTwbnR2eM6MRu70dXxPIdX0djPt3jUIIc4T7Z42fxl5eC4s2C8lTSb-yCjRaz0KHAZq-mA",
          "y": "AS1lUZtRw6EYNb-5AqK1FNpdRmTUENFikeDMv_ay_yrMq_5ZXBvh64KF8JHcRGatW2mkW3kcJ-4_dCqYch7zAxaN"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/459706508/f3583a04726a0b7d96421d55e0650a7b/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "QlFM8_yx6SwD75XooprInGnqFYa1MpHe7i5JVqywIfa9PKO59dG8oEOxDTkSmOf4_GcB4xMEyXd8mzKeq2UBlg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "44"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/459706508/f3583a04726a0b7d96421d55e0650a7b",
        "value": "AcnWKe31HCtpdJ9Lhbywf5p5Uj7cAPWRMRIzCUh-64SVq-1djm2p2jOKFcy5mxD7sEk_0Za0EX3HeuanCRltaBy8AO9ekqqZi6z7TT_DaGPt_1KL8WfBT3Q7DRtPpIuLw2m6rMqWJj9jtWOyvCLREEdKM9gfyUyxQXepv1NUENRdLxZG"
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/459706508/f3583a04726a0b7d96421d55e0650a7b/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "QlFM8_yx6SwD75XooprInGnqFYa1MpHe7i5JVqywIfa9PKO59dG8oEOxDTkSmOf4_GcB4xMEyXd8mzKeq2UBlg",
        "value": "AQOkFpEl1bpuTRWyhSr1eyFKrmdb5LLtoVy2EW5IWMzZ0EzmvPfsVd6ooFjJCmwTUnYce38bg-KgyxiQIRutsjNGAHOVPpJMbn3jSRLAj6ecFA9MVmUeRjTSEpYsbDbZjjAjvM7AVKGRBv8w6UIqa6NfyTZikmtTT4gFQFhq47GwVLk_"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "68"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/459706508/f3583a04726a0b7d96421d55e0650a7b",
        "value": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/459706508/f3583a04726a0b7d96421d55e0650a7b/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "QlFM8_yx6SwD75XooprInGnqFYa1MpHe7i5JVqywIfa9PKO59dG8oEOxDTkSmOf4_GcB4xMEyXd8mzKeq2UBlg",
        "value": "AcnWKe31HCtpdJ9Lhbywf5p5Uj7cAPWRMRIzCUh-64SVq-1djm2p2jOKFcy5mxD7sEk_0Za0EX3HeuanCRltaBy8AO9ekqqZi6z7TT_DaGPt_1KL8WfBT3Q7DRtPpIuLw2m6rMqWJj9jtWOyvCLREEdKM9gfyUyxQXepv1NUENRdLxZG"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "70"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/459706508/f3583a04726a0b7d96421d55e0650a7b",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "1664909984"
  }
}
