{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/970089481/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/970089481/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "68"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781249962,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781249962
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/970089481/66145371f492087129c64458b0bb3aa3",
          "kty": "RSA-HSM",
          "n": "qz2kVrvPqF8SGmdNU5FNApYFgdtLvbpxKsV0RT28naT9fyWy3EpTEzuqLXAb-qwJlHrq6JlU4UsNERi7-Hrcfl-BmKGiV_0Ox3pHcPB4B15SOMtPgMrFCFazb5VUg6cqpAgN4hDb-szi6TYNP7Zb3BNEQf-Xx5GIyWh7aNJ4tKFQxLSycoqylbYx6MuKsLO-iBO7I6E90-hhDTj1MvKX3DOG4fniN7fPMLXWP8Pv4Xedh1NhHH_UPATAQOEgN4VUOZVJZodr5sp-jKu8OcSr8ECx-txecX5oNMr7nh-AdFfZsDf5WNh2z-ON92d2SmlV3LHurJsXq_yK9l7r8SECMw"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/970089481/66145371f492087129c64458b0bb3aa3/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "KVi8peArAtMu4CS1TCkIbK-bN7JNs04B7qzXgfrY76ocVKa5VMqyVjvrNmjvP5fh"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "alg": "RS384",
        "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/970089481/66145371f492087129c64458b0bb3aa3",
        "value": "C9mBiRv7jXiXa91K8ZpPybqU3zBRVltq1xNE5PDsWJk09wgyMD7r1htKqbOUG6QmKrqb9bQrYx8Gjxw[...]
