{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/776709798/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/776709798/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "oct",
        "key_size": 512
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "67"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750764305,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750764305
        },
        "key": {
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/776709798/be960d8c7d6c49893ea7a86ab7cfc9c3",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/776709798/be960d8c7d6c49893ea7a86ab7cfc9c3/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "HS512",
        "value": "NtgdaYnosBLE_gKBSfI8vGKBXMV7krc8xR7uiwclV2YDDbVti3HD64Gg80TRwnwSjQMDEd-b18z-UkafL4yL4g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "6"
      },
      "ResponseBody": {
        "alg": "HS512",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/776709798/be960d8c7d6c49893ea7a86ab7cfc9c3",
        "value": "iuOEbbvv7K6svtSBV4HX0w8svEkg5tXUtWg2f-pOlFkUqO1quArN77NYGbF5x92MwnPhBs1dVYtsl3qHPaUNtA"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/776709798/be960d8c7d6c49893ea7a86ab7cfc9c3/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "HS512",
        "digest": "NtgdaYnosBLE_gKBSfI8vGKBXMV7krc8xR7uiwclV2YDDbVti3HD64Gg80TRwnwSjQMDEd-b18z-UkafL4yL4g",
        "value": "iuOEbbvv7K6svtSBV4HX0w8svEkg5tXUtWg2f-pOlFkUqO1quArN77NYGbF5x92MwnPhBs1dVYtsl3qHPaUNtA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "HS512",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/776709798/be960d8c7d6c49893ea7a86ab7cfc9c3",
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/776709798/be960d8c7d6c49893ea7a86ab7cfc9c3/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "HS512",
        "digest": "NtgdaYnosBLE_gKBSfI8vGKBXMV7krc8xR7uiwclV2YDDbVti3HD64Gg80TRwnwSjQMDEd-b18z-UkafL4yL4g",
        "value": "iuOEbbvv7K6svtSBV4HX0w8svEkg5tXUtWg2f-pOlFkUqO1quArN77NYGbF5x92MwnPhBs1dVYtsl3qHPaUNtA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": {
        "alg": "HS512",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/776709798/be960d8c7d6c49893ea7a86ab7cfc9c3",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekvv76hsm.managedhsm.azure.net/",
    "RandomSeed": "1913847194"
  }
}
