{
  "Entries": [
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/144082461/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/144082461/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "147"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743717306,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743717306
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/144082461/0c3413ad61d008728065721248be91c3",
          "kty": "EC-HSM",
          "x": "0FMrkFDRazYW-s1nP8fqaMn5FMQ8nrPaO4OYGsLHwmHV5Ry2KB9V0tGYnA09MWSm",
          "y": "Qgrdwu28rcft2k1G8Kivf3CXFIgc_IZ5p8LkApHtVzO-4rPm34ZK9PSmdOIlTgdB"
        }
      }
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/144082461/0c3413ad61d008728065721248be91c3/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "V2q5zobazg4f5ntwVX1miC7JDm8GcqZXnpyynlcznrGz2pu_enNZhL4ABJxuzNCF"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "18"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/144082461/0c3413ad61d008728065721248be91c3",
        "value": "LwNFIMJglfAkqhYum-Tg0lJSPYi4Jb4ZmBzrc77hDFnI99QzW9PZM899MBuuvunnZ2Sm47rv2j20WnaG8PIO4m7l8TlsFRR-OmzhrL_3yGoiCTZXqjOPEzfEMZ_INcpF"
      }
    },
[...]
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/144082461/0c3413ad61d008728065721248be91c3/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "V2q5zobazg4f5ntwVX1miC7JDm8GcqZXnpyynlcznrGz2pu_enNZhL4ABJxuzNCF",
        "value": "EWO_b7Hy38u_ZACLqACVMuHaxmce722o6hEqWSI_-kK2N3eMI14uIg_mdvv3woSdcAXftRcsJZHkwptp2X8qWAHRxfrB225i7uNd8nQgK5UWc-Q9dJMsyy2p-g5l2AR_"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "20"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/144082461/0c3413ad61d008728065721248be91c3",
        "value": true
      }
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/144082461/0c3413ad61d008728065721248be91c3/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "V2q5zobazg4f5ntwVX1miC7JDm8GcqZXnpyynlcznrGz2pu_enNZhL4ABJxuzNCF",
        "value": "LwNFIMJglfAkqhYum-Tg0lJSPYi4Jb4ZmBzrc77hDFnI99QzW9PZM899MBuuvunnZ2Sm47rv2j20WnaG8PIO4m7l8TlsFRR-OmzhrL_3yGoiCTZXqjOPEzfEMZ_INcpF"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "20"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/144082461/0c3413ad61d008728065721248be91c3",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/",
    "RandomSeed": "937441240"
  }
}
