{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1354987277/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1354987277/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "126"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750763341,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750763341
        },
        "key": {
          "crv": "P-256K",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1354987277/26fe0d8e09020a7d9ccc582e4329f720",
          "kty": "EC-HSM",
          "x": "IIoSzCEsOiOiZnlPe9CaKOg3j2hVuohJ-UzovcopUMg",
          "y": "_p2YXjUN3ZpydiyYSFbzADh8UziRexG1h0xoLgb7CK4"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1354987277/26fe0d8e09020a7d9ccc582e4329f720/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "UwuGEHww9W7-ArFsnqC42524jlk0rkYNGB8hBnLla2k"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "13"
      },
      "ResponseBody": {
        "alg": "ES256K",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1354987277/26fe0d8e09020a7d9ccc582e4329f720",
        "value": "IXxtxQFH_ffJu41VZ87ZAXZByKUQar1rsyhBCeKO8X-pr-r6mNatHFyvlBeYo2lqIv9X2DjRhXFZYHq_QuUDJg"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1354987277/26fe0d8e09020a7d9ccc582e4329f720/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "digest": "UwuGEHww9W7-ArFsnqC42524jlk0rkYNGB8hBnLla2k",
        "value": "yNl7VGOuHJBwk-_3F4wZ9tA9yHUuepq9p1HN84qezOn3MAhKfOXvrrz6hDrQGPzFUjB4NUL7jg9diUkwlMm6_Q"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "12"
      },
      "ResponseBody": {
        "alg": "ES256K",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1354987277/26fe0d8e09020a7d9ccc582e4329f720",
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1354987277/26fe0d8e09020a7d9ccc582e4329f720/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "digest": "UwuGEHww9W7-ArFsnqC42524jlk0rkYNGB8hBnLla2k",
        "value": "IXxtxQFH_ffJu41VZ87ZAXZByKUQar1rsyhBCeKO8X-pr-r6mNatHFyvlBeYo2lqIv9X2DjRhXFZYHq_QuUDJg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "12"
      },
      "ResponseBody": {
        "alg": "ES256K",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1354987277/26fe0d8e09020a7d9ccc582e4329f720",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekvv76hsm.managedhsm.azure.net/",
    "RandomSeed": "134080057"
  }
}
