{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/2077220329/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/2077220329/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "98"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780406025,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780406025
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/2077220329/07a665b0b46e40f3bffd07864b06e8d0",
          "kty": "EC-HSM",
          "x": "UYQArEbr7W47iv7PE6cPUF6uW8vlhihLlKGu3O9Al1w",
          "y": "Ak3JZwugzK_Uh2KDs9kaAo6b1jCYD9UgS-u5ECs8Xg0"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/2077220329/07a665b0b46e40f3bffd07864b06e8d0/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "LauC2UOUEHNCOnaXxz_z5PjI3CZ_bCPOz3wRfqh8Xvc"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "12"
      },
      "ResponseBody": {
        "alg": "ES256",
        "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/2077220329/07a665b0b46e40f3bffd07864b06e8d0",
        "value": "TrqOgMN2aw408kdmqR1Q6XgKnuutOzA546NqFJAC4eHKLEdcf6YhiZicEdyfdXQ6hPA-wQmH2xxDyzzDpvpnPw"
      }
[...]
