{
  "Entries": [
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/250846753/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/250846753/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "70"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743714817,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743714817
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/250846753/901a4898a367028f81f12a11777cdc02",
          "kty": "RSA-HSM",
          "n": "iygpw3SfDC0GhXTVyT4D4txa-aaTqWMFoC0TmXKcjWxONM9-r2LPGe0dps-kxolTbCEzZkm7Ikcb69PdEyJLj7rDpE9iaisfbVavP8yjbMQIYnDPD3jE0KMYdzgc1_AR6N6DLaccrZBt5e58CGyDw0UnnBhnLD_SrqOQp1btT-kMpQcjovWuE1EKIiPDrQY8z7CKT5IYH7_498mVWIqqQysTJ8u9MGCYqT4oTTIvkxhNu1S-JVwyvZhB8JStn1Yx5j8IKhBGzAvgTd8gE0sk67GYFdiAMxr-vB-GhHUNr_JCkr_ntScL8b_N8qXYCUXGqL4GywYFYQds0Q81F7UOsw"
        }
      }
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/250846753/901a4898a367028f81f12a11777cdc02/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "rNLVZ_C0uPzcqLl5IMJ_yoPiDemkD5O48qqGPjs9RH8"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "10"
      },
      "ResponseBody": {
        "alg": "RS256",
        "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/250846753/901a4898a367028f81f12a11777cdc02",
        "value": "QgEs17ba85mqTxuDc9HJyF3eoNfgXtUSb2jVccYWxgWGow0Rz8zqC7yoa4pin9e2kPucXmj-epJoupqfZtIuR7ORqJtpjBMStw13Vi0KN3SvsW_WbbpUXiFiP_oQ87isrgWAbtJHtGWIjsnWC21Z6S8p6w_pyIUfOKMxho-Y871K6tjjcHcUxAB2l7Xafp3AbZpCqnuGsgyw2TqOHoSHTF-W8IDaDHQJVzWujfyFbeSZOE6lpJmiai0Mn01l2E-2FzyVg6M8asbycGyQ7YJ1UPmyG8SDFIBSOwcMHTHZeTkX8Al7mT9sBpEqLhSQHgjbTm0ksVPCy9uMQ9sV6OgaMw"
      }
    },
[...]
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/250846753/901a4898a367028f81f12a11777cdc02/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "rNLVZ_C0uPzcqLl5IMJ_yoPiDemkD5O48qqGPjs9RH8",
        "value": "QgEs17ba85mqTxuDc9HJyF3eoNfgXtUSb2jVccYWxgWGow0Rz8zqC7yoa4pin9e2kPucXmj-epJoupqfZtIuR7ORqJtpjBMStw13Vi0KN3SvsW_WbbpUXiFiP_oQ87isrgWAbtJHtGWIjsnWC21Z6S8p6w_pyIUfOKMxho-Y871K6tjjcHcUxAB2l7Xafp3AbZpCqnuGsgyw2TqOHoSHTF-W8IDaDHQJVzWujfyFbeSZOE6lpJmiai0Mn01l2E-2FzyVg6M8asbycGyQ7YJ1UPmyG8SDFIBSOwcMHTHZeTkX8Al7mT9sBpEqLhSQHgjbTm0ksVPCy9uMQ9sV6OgaMw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "RS256",
        "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/250846753/901a4898a367028f81f12a11777cdc02",
        "value": true
      }
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/250846753/901a4898a367028f81f12a11777cdc02/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "rNLVZ_C0uPzcqLl5IMJ_yoPiDemkD5O48qqGPjs9RH8",
        "value": "QgEs17ba85mqTxuDc9HJyF3eoNfgXtUSb2jVccYWxgWGow0Rz8zqC7yoa4pin9e2kPucXmj-epJoupqfZtIuR7ORqJtpjBMStw13Vi0KN3SvsW_WbbpUXiFiP_oQ87isrgWAbtJHtGWIjsnWC21Z6S8p6w_pyIUfOKMxho-Y871K6tjjcHcUxAB2l7Xafp3AbZpCqnuGsgyw2TqOHoSHTF-W8IDaDHQJVzWujfyFbeSZOE6lpJmiai0Mn01l2E-2FzyVg6M8asbycGyQ7YJ1UPmyG8SDFIBSOwcMHTHZeTkX8Al7mT9sBpEqLhSQHgjbTm0ksVPCy9uMQ9sV6OgaMw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "RS256",
        "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/250846753/901a4898a367028f81f12a11777cdc02",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/",
    "RandomSeed": "1153665749"
  }
}
