{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1391620837/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1391620837/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "99"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759315963,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759315963
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1391620837/f295fe2b52bf076584f1ecaf6e8c123d",
          "kty": "EC-HSM",
          "x": "mhPKmmV4l3QjkAuoxYs5yYbDqEMdux9BoujpgSmxkyo",
          "y": "fCT2U8vlX7PmBkzVYKNtWXHkOpwupZ8Ripbe-nRkUUI"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1391620837/f295fe2b52bf076584f1ecaf6e8c123d/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "ZxHeACk_Ra-3Tk-FVC2VGisQhl49QuX7DvVsvT29Zdc"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "12"
      },
      "ResponseBody": {
        "alg": "ES256",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1391620837/f295fe2b52bf076584f1ecaf6e8c123d",
        "value": "BCJuElPGonwJYRjoRaDxilq5SKSq6AdUG0cSYuBmz2aBWOoVDLf0brsq-PFGnuZk7Jiv2Vl98a7T6z9rQK6Fug"
      [...]
