{
  "Entries": [
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1585244212/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1585244212/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "oct",
        "key_size": 512
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "47"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743710728,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743710728
        },
        "key": {
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1585244212/86fc9940b9410e2827d673ee192d84a9",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1585244212/86fc9940b9410e2827d673ee192d84a9?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250221-1-e4accbbe-develop",
        "x-ms-server-latency": "8"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743710728,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743710728
        },
        "key": {
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1585244212/86fc9940b9410e2827d673ee192d84a9",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1585244212/86fc9940b9410e2827d673ee192d84a9/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "HS384",
        "value": "BD9e59bnJg3f4TzQnDyuINmp_6w0AZd_OeGNF-eOZaFG7XdPmCUeop17vEMEomxb"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "HS384",
        "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1585244212/86fc9940b9410e2827d673ee192d84a9",
        "value": "FMh1a2lMmQl-su8VwColcgJkIiF_ao-tHvu1ry6E-Tjj5cYX1ZPTzyBG-0ZLkELZ"
      }
    },
    {
      "RequestUri": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1585244212/86fc9940b9410e2827d673ee192d84a9/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "HS384",
        "digest": "BD9e59bnJg3f4TzQnDyuINmp_6w0AZd_OeGNF-eOZaFG7XdPmCUeop17vEMEomxb",
        "value": "FMh1a2lMmQl-su8VwColcgJkIiF_ao-tHvu1ry6E-Tjj5cYX1ZPTzyBG-0ZLkELZ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "HS384",
        "kid": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/keys/1585244212/86fc9940b9410e2827d673ee192d84a9",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t88ec35de3c1b15c8hsm.managedhsm.azure.net/",
    "RandomSeed": "1837053571"
  }
}
