{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1694456965/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1694456965/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "67"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781250075,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781250075
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1694456965/fbfba4a71ed84d168b7a48d295bb3abe",
          "kty": "RSA-HSM",
          "n": "pIevLA9GI3VN8xKhoRyhCJDXgUnQqAmms7wZObCUMGdolKpKM3ILU3Z74TX70HPK8ffMOKMim8y4lf0SxoY08nSxkS1628OBorklrKWXL8eMw7ZA1W1MeRxbjRO14-F75PVrEGUVDXsyxrDU8JywUFos9SQ5IKldSsbVaWc6bvhRixtBi0XzzZ1IWBICCzQ3A1MG9tVq-Z6BODo-n-jpZOmQDq-oMQ-R0oQje-7jIez4v4JFfsCWr-baAiFqSDcPEDF0wwV4yUaBTEQNoKiD-PJv19B79yYb9T8v8pjAKBMaSqfU2vjcFWTtyQFMVL3iUyEGrwWCBziDUxG7csMXVQ"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1694456965/fbfba4a71ed84d168b7a48d295bb3abe/wrapKey?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "7C6YQRSjQWU5xvRM0OewEKgTgeORtCbLMR0a8Ms6nNY"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "alg": "RSA1_5",
        "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1694456965/fbfba4a71ed84d168b7a48d295bb3abe",
        "value": "JPVpuq1hcQM0v8ThaFmlrIRJ70V_6Q6r18M7bPtlasnTyx-DXf0sQ6J3jIfuYnNoLr9A1G_CY8VoQCUXxr_ViHMutuXUJiMom2[...]
