{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/962501631/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/962501631/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "66"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780406241,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780406241
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/962501631/15c9fbe562790958165e13fd1f5428be",
          "kty": "RSA-HSM",
          "n": "z2wakPtTqRCfAuwjlH_Ysi5VYJrRqm-G23QNDShDrtixnIRdLvaSDHTo13AfcuTD24X5Q6p8rhvgn-1QcI07xCjs7146l5Xl8TnW1bUxh38PpEG3144nAQLcnPW7eM3QX_uD0LY8leN7t7XOYJBOFwVUCmUYKT_4WkAgzC6Stps9WFbw7esDCMLE1Wvm_ZHgfRFoGcIAfMTZwMcmZwvbpSXCkBsyR8ZkaVZHnYRkrzHzWNtnRZRt0XRiGI_ebL0cE92H5VaMR6WHl0SFURQy_60fsY2yV9ijPHDcYhA193NAF1z79WSLrmeJDlgY5Ij9ErgLfsrajBbHg8sv_KqFwQ"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/962501631/15c9fbe562790958165e13fd1f5428be/wrapKey?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "7J5LelMmhvD5w8ImAWXY60X4B6jmhXd8kjNUBfgrY1w"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP",
        "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/962501631/15c9fbe562790958165e13fd1f5428be",
        "value": "cJiJH8LDeHjcOL_JcLpF87o7GEmrJ6q39mKY7yDUFEP2IhLEwLW4h0r948h6e3jowuS_i3yIMC61wO1zKIWc2Etm-hWxP4Aq4[...]
