{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1769894318/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1769894318/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "oct",
        "key_size": 128
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "68"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750791080,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750791080
        },
        "key": {
          "key_ops": [
            "deriveKey",
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1769894318/6efa1c902f95483987874ada35b3f30e",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1769894318/6efa1c902f95483987874ada35b3f30e/wrapKey?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "CKM_AES_KEY_WRAP_PAD",
        "value": "PedJnPfhsQhPoqhGaNf7CdpDDUJnDqaolaOc9TSd6Fg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "alg": "CKM_AES_KEY_WRAP_PAD",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1769894318/6efa1c902f95483987874ada35b3f30e",
        "value": "3ae_-X0uj3HaafZxfUo7BOS50gNCsT284ZLGHEJ8m-H3_Fyv29fljQ"
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1769894318/6efa1c902f95483987874ada35b3f30e/unwrapKey?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "CKM_AES_KEY_WRAP_PAD",
        "value": "3ae_-X0uj3HaafZxfUo7BOS50gNCsT284ZLGHEJ8m-H3_Fyv29fljQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "CKM_AES_KEY_WRAP_PAD",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1769894318/6efa1c902f95483987874ada35b3f30e",
        "value": "PedJnPfhsQhPoqhGaNf7CdpDDUJnDqaolaOc9TSd6Fg"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekvv76hsm.managedhsm.azure.net/",
    "RandomSeed": "52104135"
  }
}
