{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1329565304/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1329565304/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "87"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759318730,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759318730
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1329565304/d69e1a5100f0495529d8d72c0b35a511",
          "kty": "RSA-HSM",
          "n": "unyLfv6IUDn7FhmGmKTAIj5zIp9OFifHU8-5Bq3lcvb_L7PHWte2yfU93-UnhQlFIfScd0UA6-8qJa_mI5SY7wLcNrXv3gEnh_ng2pHT40Y7i-IGuuwpYvn1fP7X5caUFpCER4gZ5LNwpBMpAhB0bsYOgoFvoiGjubaxZwfncjX2Zhhc4yqfw9iE8mo7cwHFV3mA7M2f-mBfNbKW9mqfkInbtftaAud2Wa_GsYEBW5Jl-piH8OBMBXl6vgNCrkw2ot1vX9qRLk5bSD2VxSWbq_t12VgkRdnQL6FZFz1QCkqfX-GT8XKxkK-G-zPdWo--tAYXe4ahoI7GbkyK3p7suQ"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1329565304/d69e1a5100f0495529d8d72c0b35a511/wrapKey?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "Hyub5llOPtxg3BRzMyU3q8mbgldx4_a8YIo5dQ5dQ8E"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP-256",
        "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1329565304/d69e1a5100f0495529d8d72c0b35a511",
        "value": "R7wJPyXIc2ZFNmRUaq1c8tSlIegddbMD0k9XhtLdRTwe9GQF5KuRWyRHeNT83x67DSCM_qEicWNNaXGtQHg2RFnTW[...]
