{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/583192751/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/583192751/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "72"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1743438761,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1743438761
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/583192751/0ed2f7aa36ef0ba58966e58c50928836",
          "kty": "RSA-HSM",
          "n": "vqTmVBw_O9zSaWOPmTxdtt8btBHRE72bN72f5uNo3ZTKa8DHs4zYkR5XJXm4iU2iRhmzx8bu8qbHiQ9Qj7cVDh2OcAOgTsBI8kBLpAWbMQivW54tGTeHkWGWpHJ7c7BDiwj8DZZbeuFXixZhdjy3DUIpb-TIOtKQnrtKgol1GL1j5iUWpc04FgjL0lYYedo3aMp0znUj8O_kmobq9c7oo3EUj4DErvqYNHOOZJf40FRnuM9n8NlMU6QfWlWGbaqW7DJibazFo4KR2LgSUPPPyOxq_SFoK1ZY1NiSAeyuwT4oZwxZl73ivSoJ8KNaVHhNWPsb_ADqfkTBYGQYHzGaXw"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/583192751/0ed2f7aa36ef0ba58966e58c50928836/wrapKey?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "WEvgB6MNXW6O-GU-dpcGZ4nUDd0MWnkrCKZjA4frDKw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "8"
      },
      "ResponseBody": {
        "alg": "RSA1_5",
        "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/583192751/0ed2f7aa36ef0ba58966e58c50928836",
        "value": "SEOm9yesMW0ic08d4SJEWhERc-Yzs9kfpiYR3HxiVFBvh_QdXPi31EC1sGmaFCjOUbgcjfXwhkpiJJSwDDj58oBfOsjwxpuMTTTkzr7SNVbZA7QX-2vwrIdv2XGj2Rc-TuWA0KorrkHvCIBPBmiAtCpQJwU0A8WiSCGx3HeVuDxZFfJ3sWzV2lFrPvpeGp1VMmhFOrCUOfDaDyJsh2dbfKjMPKT37_lTXYqvJ5PF3ExSk_kboTfJhqKfCGm-EHpZ942dX0YJxgAk7G82FvKVeNgV0ZgUSe6XM_5r67DRiwG80WmcKcoya4dHNuqfmUTHxft2WLbgDSLgn5zwq8zqTw"
      }
    },
    {
      "RequestUri": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/583192751/0ed2f7aa36ef0ba58966e58c50928836/unwrapKey?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "SEOm9yesMW0ic08d4SJEWhERc-Yzs9kfpiYR3HxiVFBvh_QdXPi31EC1sGmaFCjOUbgcjfXwhkpiJJSwDDj58oBfOsjwxpuMTTTkzr7SNVbZA7QX-2vwrIdv2XGj2Rc-TuWA0KorrkHvCIBPBmiAtCpQJwU0A8WiSCGx3HeVuDxZFfJ3sWzV2lFrPvpeGp1VMmhFOrCUOfDaDyJsh2dbfKjMPKT37_lTXYqvJ5PF3ExSk_kboTfJhqKfCGm-EHpZ942dX0YJxgAk7G82FvKVeNgV0ZgUSe6XM_5r67DRiwG80WmcKcoya4dHNuqfmUTHxft2WLbgDSLgn5zwq8zqTw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": {
        "alg": "RSA1_5",
        "kid": "https://rgjoncardekv331hsm.managedhsm.azure.net/keys/583192751/0ed2f7aa36ef0ba58966e58c50928836",
        "value": "WEvgB6MNXW6O-GU-dpcGZ4nUDd0MWnkrCKZjA4frDKw"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv331hsm.managedhsm.azure.net/",
    "RandomSeed": "1927930627"
  }
}
