{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/2001603760/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/2001603760/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "82"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750764575,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750764575
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/2001603760/3514139f77e841ad82200dc51055db54",
          "kty": "RSA-HSM",
          "n": "ris4-N2QkB0CM_kUTOpG1gprVI8TaXJUym1P8Pai6vcbI_qAqCYww_TyzFE2P2kghtHTit2IX928hJTrAbq-ocihb7sLgFeCuF34CKJHudz4-vZ2U3pdcXRLFzkpCbOemfO33KArQZsPahjn7nAd0VtkUhT8pe_L4Eyt-5-gDO76O_QfkwLE1ODFsduEcl1i4T7GPN8a75U1aOQQhhvBGnsvoyBEc-az0HL_VJUeE7-CjOadDl1sf7yt-H0fG0KBOhfWwuVOwFnBWi6H9n8Z6K6up3qnPvpwPiDedfEZej-Bg4chFwFc_1h2FDf5fzRo4ND5ZiME8HNLVgQiqo_VLw"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/2001603760/3514139f77e841ad82200dc51055db54/wrapKey?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "I-ev_mq8N46octPH6NB9HV8-wUDnijxKpBs27dMTLRY"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "6"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP-256",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/2001603760/3514139f77e841ad82200dc51055db54",
        "value": "mfdqINFf1cbPjatmOKK7jfDwI2EH8VuNZ9ZbzBt_DAPR2wBEhGPq3G4dgG7qtI3JEkTb8dSpc4Wa5kx4lDKUHPq0WIN2MIMA3Orde29PKrEKn66lEqjxE8jpVqKx7igGLuj4p-TPOhWcKhX-BoCryJBht6DG8rMkttLxibuwSxKOgG0T_KUUxgs8pvQFPZUXmnjH01bBQ6t-wnTs6HftJqMMv5girYl8poPXtpSNz620_UGUffZw39qQ76gRyAyHu36kuT_kHwntxnEJ-qjiugk2WD_uTPb5zzPGWCpKVmWbRRVScxzJ_vl3MWKGoXxt8fB7iONW5Rup1lhfUavFGg"
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/2001603760/3514139f77e841ad82200dc51055db54/unwrapKey?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "mfdqINFf1cbPjatmOKK7jfDwI2EH8VuNZ9ZbzBt_DAPR2wBEhGPq3G4dgG7qtI3JEkTb8dSpc4Wa5kx4lDKUHPq0WIN2MIMA3Orde29PKrEKn66lEqjxE8jpVqKx7igGLuj4p-TPOhWcKhX-BoCryJBht6DG8rMkttLxibuwSxKOgG0T_KUUxgs8pvQFPZUXmnjH01bBQ6t-wnTs6HftJqMMv5girYl8poPXtpSNz620_UGUffZw39qQ76gRyAyHu36kuT_kHwntxnEJ-qjiugk2WD_uTPb5zzPGWCpKVmWbRRVScxzJ_vl3MWKGoXxt8fB7iONW5Rup1lhfUavFGg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP-256",
        "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/2001603760/3514139f77e841ad82200dc51055db54",
        "value": "I-ev_mq8N46octPH6NB9HV8-wUDnijxKpBs27dMTLRY"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekvv76hsm.managedhsm.azure.net/",
    "RandomSeed": "70254900"
  }
}
