{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/329706347/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/329706347/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "67"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781250608,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781250608
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/329706347/e42b9fbd46e940588df910974766bfdf",
          "kty": "RSA-HSM",
          "n": "naALD3KUnFLCJgRkuxeyBvID1sXHGuFBwSTj1RdrKcMcUpEL5RJviyzZuvTX0a7W5F5kmgZezMoaKDQWTb00MJDyAXR2Z5Z5fin4KdBL0gnE6ZkqHNbr0ubSAe0s-FCI5cthaIrRpHvfJppKqkwNx9y7MR_p0a5Y7lwVlyHLaMwwmNmOlcTSQZW8Pgd85mFhztYsbmxJlXYaUDdPRUyN33lVC955Hv3JxHqi8BnLOS17oSSXQLI0dxRIzwfid4Ib9PTmhltg4V5JoRynUo2C-Ne1ro5ehdc-sSRqRvViZU1YosCbnutEQ45ZQfShv4N1c--TwHgP2kbo5LPhP_G1yw"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/329706347/e42b9fbd46e940588df910974766bfdf/wrapKey?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "pKoiJx-uUIOZ6B9vgCMng0jCvoEj9ZzfLb2E2Zdog70"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP",
        "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/329706347/e42b9fbd46e940588df910974766bfdf",
        "value": "Eo5enX52ncOYUP5bKcK5hldzVCF2OPqaqHuwG_FfQf105a-nbKQPyBIoAHbt5ZhBmvZFaoO6aDjyuawiwpgjUjzzjUeg3MFbh[...]
