{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.queue.core.windows.net/queue171445971214400616x1?timeout=30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-meta-key": "val",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.queue.core.windows.net/?comp=list&prefix=queue171445971214400616&include=metadata&timeout=30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakestorageaccount.queue.core.windows.net/\"><Prefix>queue171445971214400616</Prefix><Queues><Queue><Name>queue171445971214400616x1</Name><Metadata><key>val</key></Metadata></Queue><Queue><Name>queue171445971214400616x2</Name><Metadata><key>val</key></Metadata></Queue></Queues><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.queue.core.windows.net/queue171445971214400616x2?timeout=30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "queue": "queue171445971214400616"
  }
}
