{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Attestation/attestationProviders?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-maa-service-version": "1.11.03403.5858",
        "x-ms-original-request-ids": "00-7faa9f83fd175cbc35d9c44a7596e3f1-90549ef2b9fa42ba-00",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Attestation/attestationProviders/myservicexxx",
            "name": "myservicexxx",
            "type": "Microsoft.Attestation/attestationProviders",
            "location": "eastus",
            "properties": {
              "trustModel": "AAD",
              "status": "Ready",
              "attestUri": "https://myservicexxx.eus.attest.azure.net",
              "publicNetworkAccess": null,
              "tpmAttestationAuthentication": null
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
