{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/SSS3PT_myjstest/providers/Microsoft.Attestation/attestationProviders/myservicexxx?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-maa-service-version": "1.11.03403.5858",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/SSS3PT_myjstest/providers/Microsoft.Attestation/attestationProviders/myservicexxx",
        "name": "myservicexxx",
        "type": "Microsoft.Attestation/attestationProviders",
        "location": "eastus",
        "properties": {
          "trustModel": "AAD",
          "status": "Ready",
          "attestUri": "https://myservicexxx.eus.attest.azure.net",
          "publicNetworkAccess": null,
          "tpmAttestationAuthentication": null
        }
      }
    }
  ],
  "Variables": {}
}
