{
  "Entries": [
    {
      "RequestUri": "https://t31d95575b31b9d96prim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 12 May 2025 15:34:45 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": {
        "TableName": "testtablepan1tdxd"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://t31d95575b31b9d96prim.table.core.windows.net/Tables('testtablepan1tdxd')",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": {
        "odata.metadata": "https://t31d95575b31b9d96prim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "testtablepan1tdxd"
      }
    },
    {
      "RequestUri": "https://t31d95575b31b9d96prim.table.core.windows.net/testtablepan1tdxd(PartitionKey='somPartition',RowKey='1')?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 12 May 2025 15:34:45 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": {
        "PartitionKey": "somPartition",
        "RowKey": "1",
        "TimespanProperty": "P229DT5H30M15S"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\"datetime'2025-05-12T15%3A34%3A51.069037Z'\"",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t31d95575b31b9d96prim.table.core.windows.net/testtablepan1tdxd()?$format=application%2Fjson%3Bodata%3Dminimalmetadata&$filter=PartitionKey%20eq%20%27somPartition%27%20and%20RowKey%20eq%20%271%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 12 May 2025 15:34:46 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": {
        "odata.metadata": "https://t31d95575b31b9d96prim.table.core.windows.net/$metadata#testtablepan1tdxd",
        "value": [
          {
            "odata.etag": "W/\"datetime'2025-05-12T15%3A34%3A51.069037Z'\"",
            "PartitionKey": "somPartition",
            "RowKey": "1",
            "Timestamp": "2025-05-12T15:34:51.069037Z",
            "TimespanProperty": "P229DT5H30M15S"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t31d95575b31b9d96prim.table.core.windows.net/Tables('testtablepan1tdxd')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 May 2025 15:34:46 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "140799553",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "Kg==",
    "TABLES_STORAGE_ACCOUNT_NAME": "t31d95575b31b9d96prim"
  }
}
