{
  "Entries": [
    {
      "RequestUri": "https://t71f792aaca8f076dprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Sat, 13 Apr 2024 20:26:10 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": {
        "TableName": "testtableasa6dgkl"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://t71f792aaca8f076dprim.table.core.windows.net/Tables('testtableasa6dgkl')",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": {
        "odata.metadata": "https://t71f792aaca8f076dprim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "testtableasa6dgkl"
      }
    },
[...]
    {
      "RequestUri": "https://t71f792aaca8f076dprim.table.core.windows.net/testtableasa6dgklA()?tn=testtableasa6dgklA&sv=2019-07-07&se=2040-01-01T01%3A01%3A00Z&sp=Sanitized&sig=Sanitized&$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": {
        "odata.metadata": "https://t71f792aaca8f076dprim.table.core.windows.net/$metadata#testtableasa6dgklA",
        "value": []
      }
    },
    {
      "RequestUri": "https://t71f792aaca8f076dprim.table.core.windows.net/Tables('testtableasa6dgklA')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 13 Apr 2024 20:26:10 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t71f792aaca8f076dprim.table.core.windows.net/Tables('testtableasa6dgkl')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 13 Apr 2024 20:26:10 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "575245041",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "Kg==",
    "TABLES_STORAGE_ACCOUNT_NAME": "t71f792aaca8f076dprim"
  }
}
