{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173762261013803465?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthenticationFailed"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.\n",
        "RequestId:a3ef0b09-101a-003e-4674-6d045e000000\n",
        "Time:2025-01-23T08:56:50.3247045Z</Message><AuthenticationErrorDetail>Signed expiry time [Wed, 22 Jan 2025 08:56:50 GMT] has to be after signed start time [Thu, 23 Jan 2025 08:56:50 GMT]</AuthenticationErrorDetail></Error>"
      ]
    }
  ],
  "Variables": {
    "share": "share173762261013803465",
    "tmr": "2025-01-23T08:56:50.137Z"
  }
}
