{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/?sv=Sanitized&ss=btqf&srt=sco&se=sanitizedexpiry&sp=wdlcup&sig=sanitizedsig&restype=service&comp=properties",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationPermissionMismatch",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationPermissionMismatch</Code><Message>This request is not authorized to perform this operation using this permission.\n",
        "RequestId:432d2d3d-f01a-0066-7bbf-84b7c0000000\n",
        "Time:2026-01-13T19:07:12.3706282Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "tmr": "2026-01-13T19:07:11.757Z"
  }
}
