{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/?comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakestorageaccount.file.core.windows.net/\"><Shares><Share><Name>share170191601681507390</Name><Properties><Last-Modified>Thu, 07 Dec 2023 02:26:56 GMT</Last-Modified><Etag>\"0x8DBF6CBFBFA3FB6\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>102400</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Thu, 07 Dec 2023 02:26:56 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share><Share><Name>share170192115844009046170192115924506598</Name><Properties><Last-Modified>Thu, 07 Dec 2023 03:52:40 GMT</Last-Modified><Etag>\"0x8DBF6D7F5E5DF53\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>102400</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Thu, 07 Dec 2023 03:52:40 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionSc[...]
