{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share176833123294403774?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE52D6F5EEB13E\"",
        "Last-Modified": "Tue, 13 Jan 2026 19:07:13 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share176833123294403774/dir176833123303905767?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE52D6F5FD35E4\"",
        "Last-Modified": "Tue, 13 Jan 2026 19:07:13 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-01-13T19:07:13.6680420Z",
        "x-ms-file-creation-time": "2026-01-13T19:07:13.6680420Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-01-13T19:07:13.6680420Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4470876496940820823*6255667487792660190",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share176833123294403774/dir176833123303905767/file176833123312808625",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "content-type-original",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE52D6F60B08FF\"",
        "Last-Modified": "Tue, 13 Jan 2026 19:07:13 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-01-13T19:07:13.7586431Z",
        "x-ms-file-creation-time": "2026-01-13T19:07:13.7586431Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-01-13T19:07:13.7586431Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "18334277426550052432*6255667487792660190",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share176833123294403774?restype=share&comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><SignedIdentifiers><SignedIdentifier><Id>unique-id</Id><AccessPolicy><Start>2026-01-13T19:02:12.9440000Z</Start><Expiry>2026-01-14T19:07:12.9440000Z</Expiry><Permission>rcwdl</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE52D6F61A1736\"",
        "Last-Modified": "Tue, 13 Jan 2026 19:07:13 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share176833123294403774/?sv=Sanitized&si=unique-id&sr=s&sig=sanitizedsig&comp=list&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakeaccountname.file.core.windows.net/\" ShareName=\"share176833123294403774\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><Directory><Name>dir176833123303905767</Name><FileId>13835128424026341376</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share176833123294403774?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir176833123303905767",
    "file": "file176833123312808625",
    "now": "2026-01-13T19:07:12.944Z",
    "share": "share176833123294403774",
    "tmr": "2026-01-13T19:07:12.944Z"
  }
}
