{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173762254586703454?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 23 Jan 2025 08:55:45 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3B8BB9D2FC74\"",
        "Last-Modified": "Thu, 23 Jan 2025 08:55:46 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173762254586703454/dir173762254597802978?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 23 Jan 2025 08:55:45 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3B8BB9E44881\"",
        "Last-Modified": "Thu, 23 Jan 2025 08:55:46 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-01-23T08:55:46.1717121Z",
        "x-ms-file-creation-time": "2025-01-23T08:55:46.1717121Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-01-23T08:55:46.1717121Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173762254586703454/dir173762254597802978/file173762254609004776",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "content-type-original",
        "x-ms-date": "Thu, 23 Jan 2025 08:55:46 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3B8BB9F4E7F2\"",
        "Last-Modified": "Thu, 23 Jan 2025 08:55:46 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-23T08:55:46.2806514Z",
        "x-ms-file-creation-time": "2025-01-23T08:55:46.2806514Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-01-23T08:55:46.2806514Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4614121289425226539*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173762254586703454?restype=share&comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Thu, 23 Jan 2025 08:55:46 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><SignedIdentifiers><SignedIdentifier><Id>unique-id</Id><AccessPolicy><Start>2025-01-23T08:50:45.8670000Z</Start><Expiry>2025-01-24T08:55:45.8670000Z</Expiry><Permission>rcwdl</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3B8BBA06D1EB\"",
        "Last-Modified": "Thu, 23 Jan 2025 08:55:46 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173762254586703454/?si=unique-id&comp=list&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakestorageaccount.file.core.windows.net/\" ShareName=\"share173762254586703454\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><Directory><Name>dir173762254597802978</Name><FileId>13835128424026341376</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173762254586703454?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 23 Jan 2025 08:56:16 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir173762254597802978",
    "file": "file173762254609004776",
    "now": "2025-01-23T08:55:45.867Z",
    "share": "share173762254586703454",
    "tmr": "2025-01-23T08:55:45.867Z"
  }
}
