{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/sortQueryParamsMultiplePages355?api-version=2023-11-01&label=0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "sortQueryParamsMultiplePages355",
        "label": "0",
        "value": "the value for 0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"BH3_ew6ZAzlXSXHbPdJRH2zzhzbgjCDf-prjkoVEAII\"",
        "Last-Modified": "Sun, 26 Oct 2025 08:07:53 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTc3NTA=;sn=74857750",
        "x-ms-date": "Sun, 26 Oct 2025 08:07:53 GMT"
      },
      "ResponseBody": {
        "etag": "BH3_ew6ZAzlXSXHbPdJRH2zzhzbgjCDf-prjkoVEAII",
        "key": "sortQueryParamsMultiplePages355",
        "label": "0",
        "content_type": null,
        "value": "the value for 0",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T08:07:53+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/sortQueryParamsMultiplePages355?api-version=2023-11-01&label=3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTc3NTI="
      },
      "RequestBody": {
        "key": "sortQueryParamsMultiplePages355",
        "label": "3",
        "value": "the value for 3"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"LsPMkESwztI8GtaR-u_x9eM0bsX99NXocbMJ8FLd-Bw\"",
        "Last-Modified": "Sun, 26 Oct 2025 08:07:54 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTc3NTM=;sn=74857753",
        "x-ms-date": "Sun, 26 Oct 2025 08:07:54 GMT"
      },
      "ResponseBody": {
        "etag": "LsPMkESwztI8GtaR-u_x9eM0bsX99NXocbMJ8FLd-Bw",
        "key": "sortQueryParamsMultiplePages355",
        "label": "3",
        "content_type": null,
        "value": "the value for 3",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T08:07:54+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=sortQueryParamsMultiplePages355",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTc4NTA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"TYIQpvbqEhPauvpMDUKNSbLYY0dO5h9J_UDTiq0Ug1Q\"",
        "Link": "</kv?api-version=2023-11-01&key=sortQueryParamsMultiplePages355&after=c29ydFF1ZXJ5UGFyYW1zTXVsdGlwbGVQYWdlczM1NQo5OA%3D%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTc4NTA=;sn=74857850",
        "x-ms-date": "Sun, 26 Oct 2025 08:08:02 GMT"
      },
      "ResponseBody": {
        "etag": "TYIQpvbqEhPauvpMDUKNSbLYY0dO5h9J_UDTiq0Ug1Q",
        "items": [
          {
            "etag": "BH3_ew6ZAzlXSXHbPdJRH2zzhzbgjCDf-prjkoVEAII",
            "key": "sortQueryParamsMultiplePages355",
            "label": "0",
            "content_type": null,
            "value": "the value for 0",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-26T08:07:53+00:00"
          },
          {
            "etag": "3pZIHTr7SLi8vMBlFKBgpB30XwHrdx18K9TOksFp-S4",
            "key": "sortQueryParamsMultiplePages355",
        [...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?after=c29ydFF1ZXJ5UGFyYW1zTXVsdGlwbGVQYWdlczM1NQo5OA%3D%3D&api-version=2023-11-01&key=sortQueryParamsMultiplePages355",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTc4NTA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"zFYo00m-22TqAosg6Y_NsnBcNFUaUXo0limW654mJaU\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTc4NTA=;sn=74857850",
        "x-ms-date": "Sun, 26 Oct 2025 08:08:03 GMT"
      },
      "ResponseBody": {
        "etag": "zFYo00m-22TqAosg6Y_NsnBcNFUaUXo0limW654mJaU",
        "items": [
          {
            "etag": "WcrcfG7P19umCGu1cHP80gLSi9Oei1LxGd8GZB_49_E",
            "key": "sortQueryParamsMultiplePages355",
            "label": "99",
            "content_type": null,
            "value": "the value for 99",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-26T08:08:02+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/sortQueryParamsMultiplePages355?api-version=2023-11-01&label=100",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTc5NTA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"noAlc-6g8sXJnNJrRq-SRNx-HLQM-4IclPGOCeUu_KM\"",
        "Last-Modified": "Sun, 26 Oct 2025 08:08:02 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTc5NTE=;sn=74857951",
        "x-ms-date": "Sun, 26 Oct 2025 08:08:20 GMT"
      },
      "ResponseBody": {
        "etag": "noAlc-6g8sXJnNJrRq-SRNx-HLQM-4IclPGOCeUu_KM",
        "key": "sortQueryParamsMultiplePages355",
        "label": "100",
        "content_type": null,
        "value": "the value for 100",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T08:08:02+00:00"
      }
    }
  ],
  "Variables": {
    "sortQueryParamsMultiplePages": "sortQueryParamsMultiplePages355"
  }
}
