{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/sortQueryParams72?api-version=2023-11-01&label=dev",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "dev",
        "value": "some value",
        "tags": {
          "tag1": "value1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6aDbyV404fnxMAfzA8ucyru2jandH3ASZWJ9H88T9Ew\"",
        "Last-Modified": "Thu, 28 May 2026 21:54:12 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MjE1NA==;sn=115292154",
        "x-ms-date": "Thu, 28 May 2026 21:54:12 GMT"
      },
      "ResponseBody": {
        "etag": "6aDbyV404fnxMAfzA8ucyru2jandH3ASZWJ9H88T9Ew",
        "key": "sortQueryParams72",
        "label": "dev",
        "content_type": null,
        "value": "some value",
        "tags": {
          "tag1": "value1"
        },
        "locked": false,
        "last_modified": "2026-05-28T21:54:12+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/sortQueryParams72?%24select=key&api-version=2023-11-01&label=dev",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MjE1NA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6aDbyV404fnxMAfzA8ucyru2jandH3ASZWJ9H88T9Ew\"",
        "Last-Modified": "Thu, 28 May 2026 21:54:12 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MjE1NA==;sn=115292154",
        "x-ms-date": "Thu, 28 May 2026 21:54:12 GMT"
      },
      "ResponseBody": {
        "key": "sortQueryParams72"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=*&label=dev",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MjE1NA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"E6D5M5fb8-juZT8pBtrPTchqOySg97WsyseDAWJ7LVw\"",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MjE1NA==;sn=115292154",
        "x-ms-date": "Thu, 28 May 2026 21:54:12 GMT"
      },
      "ResponseBody": {
        "etag": "E6D5M5fb8-juZT8pBtrPTchqOySg97WsyseDAWJ7LVw",
        "items": [
          {
            "etag": "6aDbyV404fnxMAfzA8ucyru2jandH3ASZWJ9H88T9Ew",
            "key": "sortQueryParams72",
            "label": "dev",
            "content_type": null,
            "value": "some value",
            "tags": {
              "tag1": "value1"
            },
            "locked": false,
            "last_modified": "2026-05-28T21:54:12+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=*&label=dev&tags=tag2%3Dvalue2&tags=tag1%3Dvalue1&tags=tag3%3Dvalue3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MjE1NA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MjE1NA==;sn=115292154",
        "x-ms-date": "Thu, 28 May 2026 21:54:12 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/sortQueryParams72?api-version=2023-11-01&label=dev",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MjE1NA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6aDbyV404fnxMAfzA8ucyru2jandH3ASZWJ9H88T9Ew\"",
        "Last-Modified": "Thu, 28 May 2026 21:54:12 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MjE1NQ==;sn=115292155",
        "x-ms-date": "Thu, 28 May 2026 21:54:12 GMT"
      },
      "ResponseBody": {
        "etag": "6aDbyV404fnxMAfzA8ucyru2jandH3ASZWJ9H88T9Ew",
        "key": "sortQueryParams72",
        "label": "dev",
        "content_type": null,
        "value": "some value",
        "tags": {
          "tag1": "value1"
        },
        "locked": false,
        "last_modified": "2026-05-28T21:54:12+00:00"
      }
    }
  ],
  "Variables": {
    "sortQueryParams": "sortQueryParams72"
  }
}
