{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/sortQueryParams850?api-version=2023-11-01&label=dev",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "sortQueryParams850",
        "label": "dev",
        "value": "some value",
        "tags": {
          "tag1": "value1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"WC2iswmWiF7fjy1l5gTBeYmULIW7-a9ZaW_h8lKu44U\"",
        "Last-Modified": "Mon, 26 Jan 2026 03:12:44 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0OTE0OQ==;sn=103849149",
        "x-ms-date": "Mon, 26 Jan 2026 03:12:44 GMT"
      },
      "ResponseBody": {
        "etag": "WC2iswmWiF7fjy1l5gTBeYmULIW7-a9ZaW_h8lKu44U",
        "key": "sortQueryParams850",
        "label": "dev",
        "content_type": null,
        "value": "some value",
        "tags": {
          "tag1": "value1"
        },
        "locked": false,
        "last_modified": "2026-01-26T03:12:44+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/sortQueryParams850?$select=key&api-version=2023-11-01&label=dev",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0OTE0OQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"WC2iswmWiF7fjy1l5gTBeYmULIW7-a9ZaW_h8lKu44U\"",
        "Last-Modified": "Mon, 26 Jan 2026 03:12:44 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0OTE0OQ==;sn=103849149",
        "x-ms-date": "Mon, 26 Jan 2026 03:12:44 GMT"
      },
      "ResponseBody": {
        "key": "sortQueryParams850"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=*&label=dev",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0OTE0OQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"M5y3D5ahKaoVdM79Rt4pqZyOzy8CbOpCooYTtBEmC0c\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0OTE0OQ==;sn=103849149",
        "x-ms-date": "Mon, 26 Jan 2026 03:12:44 GMT"
      },
      "ResponseBody": {
        "etag": "M5y3D5ahKaoVdM79Rt4pqZyOzy8CbOpCooYTtBEmC0c",
        "items": [
          {
            "etag": "WC2iswmWiF7fjy1l5gTBeYmULIW7-a9ZaW_h8lKu44U",
            "key": "sortQueryParams850",
            "label": "dev",
            "content_type": null,
            "value": "some value",
            "tags": {
              "tag1": "value1"
            },
            "locked": false,
            "last_modified": "2026-01-26T03:12:44+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=*&label=dev&tags=tag2%3Dvalue2&tags=tag1%3Dvalue1&tags=tag3%3Dvalue3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0OTE0OQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0OTE0OQ==;sn=103849149",
        "x-ms-date": "Mon, 26 Jan 2026 03:12:45 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/sortQueryParams850?api-version=2023-11-01&label=dev",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0OTE0OQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"WC2iswmWiF7fjy1l5gTBeYmULIW7-a9ZaW_h8lKu44U\"",
        "Last-Modified": "Mon, 26 Jan 2026 03:12:44 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0OTE1MA==;sn=103849150",
        "x-ms-date": "Mon, 26 Jan 2026 03:12:45 GMT"
      },
      "ResponseBody": {
        "etag": "WC2iswmWiF7fjy1l5gTBeYmULIW7-a9ZaW_h8lKu44U",
        "key": "sortQueryParams850",
        "label": "dev",
        "content_type": null,
        "value": "some value",
        "tags": {
          "tag1": "value1"
        },
        "locked": false,
        "last_modified": "2026-01-26T03:12:44+00:00"
      }
    }
  ],
  "Variables": {
    "sortQueryParams": "sortQueryParams850"
  }
}
