{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/sortQueryParams236?api-version=2023-11-01&label=dev",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "sortQueryParams236",
        "label": "dev",
        "value": "some value",
        "tags": {
          "tag1": "value1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"cN7LrtFH1A1qc_dMOj_4LMq90Yexj186lgjV42PnphM\"",
        "Last-Modified": "Fri, 23 Jan 2026 09:00:50 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDYwNw==;sn=103584607",
        "x-ms-date": "Fri, 23 Jan 2026 09:00:50 GMT"
      },
      "ResponseBody": {
        "etag": "cN7LrtFH1A1qc_dMOj_4LMq90Yexj186lgjV42PnphM",
        "key": "sortQueryParams236",
        "label": "dev",
        "content_type": null,
        "value": "some value",
        "tags": {
          "tag1": "value1"
        },
        "locked": false,
        "last_modified": "2026-01-23T09:00:50+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/sortQueryParams236?$select=key&api-version=2023-11-01&label=dev",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4NDYwNw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"cN7LrtFH1A1qc_dMOj_4LMq90Yexj186lgjV42PnphM\"",
        "Last-Modified": "Fri, 23 Jan 2026 09:00:50 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDYwNw==;sn=103584607",
        "x-ms-date": "Fri, 23 Jan 2026 09:00:50 GMT"
      },
      "ResponseBody": {
        "key": "sortQueryParams236"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=*&label=dev",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4NDYwNw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"Xl2ZF2DiZi9qIQ-DjyUEPc9gjczgvcttBjZjyT1uVJY\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDYwNw==;sn=103584607",
        "x-ms-date": "Fri, 23 Jan 2026 09:00:51 GMT"
      },
      "ResponseBody": {
        "etag": "Xl2ZF2DiZi9qIQ-DjyUEPc9gjczgvcttBjZjyT1uVJY",
        "items": [
          {
            "etag": "cN7LrtFH1A1qc_dMOj_4LMq90Yexj186lgjV42PnphM",
            "key": "sortQueryParams236",
            "label": "dev",
            "content_type": null,
            "value": "some value",
            "tags": {
              "tag1": "value1"
            },
            "locked": false,
            "last_modified": "2026-01-23T09:00:50+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=*&label=dev&tags=tag2%3Dvalue2&tags=tag1%3Dvalue1&tags=tag3%3Dvalue3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4NDYwNw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDYwNw==;sn=103584607",
        "x-ms-date": "Fri, 23 Jan 2026 09:00:51 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/sortQueryParams236?api-version=2023-11-01&label=dev",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4NDYwNw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"cN7LrtFH1A1qc_dMOj_4LMq90Yexj186lgjV42PnphM\"",
        "Last-Modified": "Fri, 23 Jan 2026 09:00:50 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDYwOA==;sn=103584608",
        "x-ms-date": "Fri, 23 Jan 2026 09:00:51 GMT"
      },
      "ResponseBody": {
        "etag": "cN7LrtFH1A1qc_dMOj_4LMq90Yexj186lgjV42PnphM",
        "key": "sortQueryParams236",
        "label": "dev",
        "content_type": null,
        "value": "some value",
        "tags": {
          "tag1": "value1"
        },
        "locked": false,
        "last_modified": "2026-01-23T09:00:50+00:00"
      }
    }
  ],
  "Variables": {
    "sortQueryParams": "sortQueryParams236"
  }
}
