{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/sortQueryParamsMultiplePages394?api-version=2026-04-01&label=0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "0",
        "value": "the value for 0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"hmEUl7OYJCimfzrurRvuqgDct3NEvzDHuvgBXvOeWIw\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:41:01 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MjUxMg==;sn=53372512",
        "x-ms-date": "Mon, 15 Jun 2026 18:41:01 GMT"
      },
      "ResponseBody": {
        "etag": "hmEUl7OYJCimfzrurRvuqgDct3NEvzDHuvgBXvOeWIw",
        "key": "sortQueryParamsMultiplePages394",
        "label": "0",
        "content_type": null,
        "value": "the value for 0",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:41:01+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/sortQueryParamsMultiplePages394?api-version=2026-04-01&label=3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MjUxNA=="
      },
      "RequestBody": {
        "label": "3",
        "value": "the value for 3"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"K9yrz0FODlCBt8qKN4ovQdNb3Tcc9sXKl6cAaJYKXNg\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:41:01 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MjUxNQ==;sn=53372515",
        "x-ms-date": "Mon, 15 Jun 2026 18:41:01 GMT"
      },
      "ResponseBody": {
        "etag": "K9yrz0FODlCBt8qKN4ovQdNb3Tcc9sXKl6cAaJYKXNg",
        "key": "sortQueryParamsMultiplePages394",
        "label": "3",
        "content_type": null,
        "value": "the value for 3",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:41:01+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2026-04-01&key=sortQueryParamsMultiplePages394",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MjYxMg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"jhUrexGMg4C9GjUEZwr5D-gq0XQC7OmdPncKBkqORS8\"",
        "Link": "</kv?api-version=2026-04-01&key=sortQueryParamsMultiplePages394&after=c29ydFF1ZXJ5UGFyYW1zTXVsdGlwbGVQYWdlczM5NAo5OA%3D%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MjYxMg==;sn=53372612",
        "x-ms-date": "Mon, 15 Jun 2026 18:41:03 GMT"
      },
      "ResponseBody": {
        "etag": "jhUrexGMg4C9GjUEZwr5D-gq0XQC7OmdPncKBkqORS8",
        "items": [
          {
            "etag": "hmEUl7OYJCimfzrurRvuqgDct3NEvzDHuvgBXvOeWIw",
            "key": "sortQueryParamsMultiplePages394",
            "label": "0",
            "content_type": null,
            "value": "the value for 0",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-15T18:41:01+00:00"
          },
          {
            "etag": "HvElJE9wMutFMPzD0VN8Syt9dYwNJ8RQzVx9hXtzvnU",
            "key": "sortQuery[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?after=c29ydFF1ZXJ5UGFyYW1zTXVsdGlwbGVQYWdlczM5NAo5OA==&api-version=2026-04-01&key=sortQueryParamsMultiplePages394",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MjYxMg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"DGhs_GuRVVhAQ6ZgYXc1hMjxbSi6yi7_OHcQtG-X_To\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MjYxMg==;sn=53372612",
        "x-ms-date": "Mon, 15 Jun 2026 18:41:03 GMT"
      },
      "ResponseBody": {
        "etag": "DGhs_GuRVVhAQ6ZgYXc1hMjxbSi6yi7_OHcQtG-X_To",
        "items": [
          {
            "etag": "j1iBrzD46BXBEhG-CIE8R3dhwhmLCHh0N74vdNMcNmM",
            "key": "sortQueryParamsMultiplePages394",
            "label": "99",
            "content_type": null,
            "value": "the value for 99",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-15T18:41:03+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/sortQueryParamsMultiplePages394?api-version=2026-04-01&label=100",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MjcxNw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"jjlYsmepx1OyobT_gfLrlRexdBrWfG8_N0loBoazOtI\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:41:03 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MjcxOA==;sn=53372718",
        "x-ms-date": "Mon, 15 Jun 2026 18:41:05 GMT"
      },
      "ResponseBody": {
        "etag": "jjlYsmepx1OyobT_gfLrlRexdBrWfG8_N0loBoazOtI",
        "key": "sortQueryParamsMultiplePages394",
        "label": "100",
        "content_type": null,
        "value": "the value for 100",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:41:03+00:00"
      }
    }
  ],
  "Variables": {
    "sortQueryParamsMultiplePages": "sortQueryParamsMultiplePages394"
  }
}
