{
  "Entries": [
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/knowledgesources?api-version=2026-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "hdwtvpiy",
        "description": "Hotels search index knowledge source",
        "kind": "searchIndex",
        "searchIndexParameters": {
          "searchIndexName": "yxhnqroh",
          "sourceDataFields": [
            {
              "name": "hotelId"
            },
            {
              "name": "hotelName"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "64",
        "ETag": "\"0x8DE8B6C81BC1136\"",
        "Location": "https://azs-net-azssdktest.search.windows.net/knowledgesources('hdwtvpiy')?api-version=2026-04-01",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-azssdktest.search.windows.net/$metadata#knowledgesources/$entity",
        "@odata.etag": "\"0x8DE8B6C81BC1136\"",
        "name": "hdwtvpiy",
        "kind": "searchIndex",
        "description": "Hotels search index knowledge source",
        "encryptionKey": null,
        "searchIndexParameters": {
          "searchIndexName": "yxhnqroh",
          "semanticConfigurationName": null,
          "sourceDataFields": [
            {
              "name": "hotelId"
            },
            {
              "name": "hotelName"
            }
          ],
          "searchFields": []
        },
        "azureBlobParameters": null,
        "webParameters": null,
        "indexedOneLakeParameters": null
      }
    },
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/knowledgesources('hdwtvpiy')?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "52",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexes('yxhnqroh')?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "192",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1611415643",
    "SearchIndexName": "yxhnqroh",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-azssdktest"
  }
}
