{
  "Entries": [
    {
      "RequestUri": "https://azs-net-azsearchsdktest.search.windows.net/knowledgesources?api-version=2026-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "fdaqwjkn",
        "description": "Web knowledge source for documentation",
        "kind": "web",
        "webParameters": {
          "domains": {
            "allowedDomains": [
              {
                "address": "learn.microsoft.com",
                "includeSubpages": true
              }
            ],
            "blockedDomains": [
              {
                "address": "internal.example.com"
              }
            ]
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "642",
        "ETag": "\"0x8DEABF4C235F58C\"",
        "Location": "https://azs-net-azsearchsdktest.search.windows.net/knowledgesources('fdaqwjkn')?api-version=2026-04-01",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-azsearchsdktest.search.windows.net/$metadata#knowledgesources/$entity",
        "@odata.etag": "\"0x8DEABF4C235F58C\"",
        "name": "fdaqwjkn",
        "kind": "web",
        "description": "Web knowledge source for documentation",
        "encryptionKey": null,
        "searchIndexParameters": null,
        "azureBlobParameters": null,
        "webParameters": {
          "domains": {
            "allowedDomains": [
              {
                "address": "learn.microsoft.com",
                "includeSubpages": true
              }
            ],
            "blockedDomains": [
              {
                "address": "internal.example.com",
                "includeSubpages": null
              }
            ]
          }
        },
        "indexedOneLakeParameters": null
      }
    },
    {
      "RequestUri": "https://azs-net-azsearchsdktest.search.windows.net/knowledgesources('fdaqwjkn')?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "240",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1214113737",
    "SearchIndexName": "abhglqwr",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-azsearchsdktest"
  }
}
