{
  "Entries": [
    {
      "RequestUri": "https://azs-net-azsearchsdktest.search.windows.net/knowledgesources?api-version=2026-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "trylmqdq",
        "kind": "searchIndex",
        "searchIndexParameters": {
          "searchIndexName": "kllnwcgy"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "64",
        "ETag": "\"0x8DEB1371A1DFBF9\"",
        "Location": "https://azs-net-azsearchsdktest.search.windows.net/knowledgesources('trylmqdq')?api-version=2026-05-01-preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-azsearchsdktest.search.windows.net/$metadata#knowledgesources/$entity",
        "@odata.etag": "\"0x8DEB1371A1DFBF9\"",
        "name": "trylmqdq",
        "kind": "searchIndex",
        "description": null,
        "encryptionKey": null,
        "searchIndexParameters": {
          "searchIndexName": "kllnwcgy",
          "semanticConfigurationName": null,
          "baseFilter": null,
          "sourceDataFields": [],
          "searchFields": []
        },
        "azureBlobParameters": null,
        "mcpToolParameters": null,
        "mcpServerParameters": null,
        "fabricOntologyParameters": null,
        "fabricDataAgentParameters": null,
        "webParameters": null,
        "remoteSharePointParameters": null,
        "indexedSharePointParameters": null,
        "indexedOneLakeParameters": null,
        "fileParameters": null,
        "indexedSqlParameters": null
      }
    },
    {
      "RequestUri": "https://azs-net-azsearchsdktest.search.windows.net/knowledgesources('trylmqdq')?api-version=2026-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "9",
        "ETag": "\"0x8DEB1371A1DFBF9\"",
        "O[...]
    {
      "RequestUri": "https://azs-net-azsearchsdktest.search.windows.net/knowledgesources('trylmqdq')?api-version=2026-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "trylmqdq",
        "description": "Updated description for the knowledge source",
        "kind": "searchIndex",
        "@odata.etag": "\"0x8DEB1371A1DFBF9\"",
        "searchIndexParameters": {
          "searchIndexName": "kllnwcgy",
          "sourceDataFields": [],
          "searchFields": []
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metada[...]
[...]
    {
      "RequestUri": "https://azs-net-azsearchsdktest.search.windows.net/indexes('kllnwcgy')?api-version=2026-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "201",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "418793064",
    "SearchIndexName": "kllnwcgy",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-azsearchsdktest"
  }
}
