{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics/test_conditional_delete_with_etag?api-version=2025-05-31-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "lifecycle": "Active",
        "displayName": "Test Metric test_conditional_delete_with_etag",
        "description": "A metric created for testing purposes (test_conditional_delete_with_etag)",
        "categories": [
          "Test"
        ],
        "desiredDirection": "Increase",
        "definition": {
          "type": "EventCount",
          "event": {
            "eventName": "TestEvent"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"rpGmerCzl/g=\"",
        "Last-Modified": "Fri, 09 May 2025 00:03:41 GMT",
        "Location": "/workspaces/fd03a0aa-5843-4c83-8b89-0ddc18abf2df/experiment-metrics/test_conditional_delete_with_etag",
        "mise-correlation-id": "d276fd23-896b-4173-88a5-1553c00c56af"
      },
      "ResponseBody": {
        "lifecycle": "Active",
        "desiredDirection": "Increase",
        "id": "Sanitized",
        "displayName": "Test Metric test_conditional_delete_with_etag",
        "description": "A metric created for testing purposes (test_conditional_delete_with_etag)",
        "categories": [
          "Test"
        ],
        "definition": {
          "event": {
            "eventName": "TestEvent"
          },
          "type": "EventCount"
        },
        "eTag": "\"rpGmerCzl/g=\"",
        "lastModifiedAt": "2025-05-09T00:03:41.7725655+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics/test_conditional_delete_with_etag?api-version=2025-05-31-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"rpGmerCzl/g=\""
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "mise-correlation-id": "05f19d95-e0d5-4683-91e6-d4e953ac3498"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
