{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics/test_delete_metric?api-version=2025-05-31-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "lifecycle": "Active",
        "displayName": "Test Metric test_delete_metric",
        "description": "A metric created for testing purposes (test_delete_metric)",
        "categories": [
          "Test"
        ],
        "desiredDirection": "Increase",
        "definition": {
          "type": "EventCount",
          "event": {
            "eventName": "TestEvent"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"D0qNMcfMmTM=\"",
        "Last-Modified": "Fri, 09 May 2025 16:11:45 GMT",
        "Location": "/workspaces/a436c1d9-a21b-46b1-8ed5-483c07d02836/experiment-metrics/test_delete_metric",
        "mise-correlation-id": "a1d1576d-64e8-42e5-88e3-1a17d4eadee0"
      },
      "ResponseBody": {
        "lifecycle": "Active",
        "desiredDirection": "Increase",
        "id": "test_delete_metric",
        "displayName": "Test Metric test_delete_metric",
        "description": "A metric created for testing purposes (test_delete_metric)",
        "categories": [
          "Test"
        ],
        "definition": {
          "event": {
            "eventName": "TestEvent"
          },
          "type": "EventCount"
        },
        "eTag": "\"D0qNMcfMmTM=\"",
        "lastModifiedAt": "2025-05-09T16:11:45.4703992+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics/test_delete_metric?api-version=2025-05-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "814b32b6-60e7-49a5-8b01-ecaee6c683f0",
        "x-ms-error-code": "NotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "Metric not found",
          "target": "test_delete_metric",
          "details": [],
          "innerError": null
        }
      }
    }
  ],
  "Variables": {}
}
