{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.000000000-0000-0000-0000-00000000000000000/providers/Microsoft.MachineLearningServices00000/threads?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "15157317-f9dc-4c9a-ab5a-daf3de1463e0",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.209"
      },
      "ResponseBody": {
        "id": "thread_t3hzVWS48XL3Vg9nmZuLdjpz",
        "object": "thread",
        "created_at": 1732228478,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.000000000-0000-0000-0000-00000000000000000/providers/Microsoft.MachineLearningServices00000/threads/thread_t3hzVWS48XL3Vg9nmZuLdjpz?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "299e9bc0-0e8d-42ea-9f32-f2df0b07997a",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.202"
      },
      "ResponseBody": {
        "id": "thread_t3hzVWS48XL3Vg9nmZuLdjpz",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
