{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.000000000-0000-0000-0000-00000000000000000/providers/Microsoft.MachineLearningServices00000/threads?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "195be751-4904-40ac-91fa-88e095d65a4c",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.171"
      },
      "ResponseBody": {
        "id": "thread_kDhriLSUI0iDO24BLTVZLwZ4",
        "object": "thread",
        "created_at": 1732228474,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.000000000-0000-0000-0000-00000000000000000/providers/Microsoft.MachineLearningServices00000/threads/thread_kDhriLSUI0iDO24BLTVZLwZ4?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "metadata": {
          "key": "value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "3dcc4e56-33c0-4f65-a857-18ecd955d375",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.236"
      },
      "ResponseBody": {
        "id": "thread_kDhriLSUI0iDO24BLTVZLwZ4",
        "object": "thread",
        "created_at": 1732228474,
        "metadata": {
          "key": "value"
        },
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.000000000-0000-0000-0000-00000000000000000/providers/Microsoft.MachineLearningServices00000/threads/thread_kDhriLSUI0iDO24BLTVZLwZ4?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "9d86c43a-6d86-4eff-886b-3768ac3d1fb7",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.216"
      },
      "ResponseBody": {
        "id": "thread_kDhriLSUI0iDO24BLTVZLwZ4",
        "object": "thread",
        "created_at": 1732228474,
        "metadata": {
          "key": "value"
        },
        "tool_resources": {
          "code_interpreter": {
            "file_ids": []
          },
          "azure_ai_search": {
            "indexes": []
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.000000000-0000-0000-0000-00000000000000000/providers/Microsoft.MachineLearningServices00000/threads/thread_kDhriLSUI0iDO24BLTVZLwZ4?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "be6b99af-cd10-4f28-82cc-81dcbd715acf",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.185"
      },
      "ResponseBody": {
        "id": "thread_kDhriLSUI0iDO24BLTVZLwZ4",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
