{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "4c8fe1dc-65b4-42c4-8867-a93bb3d162ff",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.213"
      },
      "ResponseBody": {
        "id": "thread_tfskne44oqsrvPdWJciM2Woe",
        "object": "thread",
        "created_at": 1732670619,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_tfskne44oqsrvPdWJciM2Woe?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "metadata": {
          "key": "value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "4397c375-ca9a-4846-8c8b-9696e69b07c8",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.279"
      },
      "ResponseBody": {
        "id": "thread_tfskne44oqsrvPdWJciM2Woe",
        "object": "thread",
        "created_at": 1732670619,
        "metadata": {
          "key": "value"
        },
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_tfskne44oqsrvPdWJciM2Woe?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "6559cc46-1265-40ea-b954-f081e97d1bb9",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.181"
      },
      "ResponseBody": {
        "id": "thread_tfskne44oqsrvPdWJciM2Woe",
        "object": "thread",
        "created_at": 1732670619,
        "metadata": {
          "key": "value"
        },
        "tool_resources": {
          "code_interpreter": {
            "file_ids": []
          },
          "azure_ai_search": {
            "indexes": []
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_tfskne44oqsrvPdWJciM2Woe?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "bb78915e-85bd-4132-9a96-af61deb6597a",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.238"
      },
      "ResponseBody": {
        "id": "thread_tfskne44oqsrvPdWJciM2Woe",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
