{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.BotService/botServices/mybotxxx/channels/MsTeamsChannel?api-version=2022-09-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "global",
        "properties": {
          "channelName": "MsTeamsChannel",
          "properties": {
            "isEnabled": true
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"c91fac118760c3e92ac037f8db84074b7/24/2024 5:45:48 AM\"",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.BotService/botServices/mybotxxx/channels/MsTeamsChannel",
        "name": "mybotxxx/MsTeamsChannel",
        "type": "Microsoft.BotService/botServices/channels",
        "etag": "Sanitized",
        "location": "global",
        "properties": {
          "properties": {
            "enableCalling": false,
            "incomingCallRoute": null,
            "callingWebhook": null,
            "isEnabled": true,
            "deploymentEnvironment": "CommercialDeployment",
            "acceptedTerms": null
          },
          "etag": "Sanitized",
          "channelName": "MsTeamsChannel",
          "location": "global",
          "provisioningState": "Succeeded"
        },
        "zones": []
      }
    }
  ],
  "Variables": {}
}
