{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.BotService/botServices/mybotxxx/channels/MsTeamsChannel?api-version=2022-09-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"7bdfb872f95de0268023338b25a9a1617/24/2024 5:45:51 AM\"",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.BotService/botServices/mybotxxx/channels/MsTeamsChannel",
        "name": "mybotxxx/MsTeamsChannel",
        "type": "Microsoft.BotService/botServices/channels",
        "etag": "Sanitized",
        "location": "global",
        "properties": {
          "properties": {
            "enableCalling": false,
            "incomingCallRoute": null,
            "callingWebhook": null,
            "isEnabled": true,
            "deploymentEnvironment": "CommercialDeployment",
            "acceptedTerms": false
          },
          "etag": "Sanitized",
          "channelName": "MsTeamsChannel",
          "location": "global",
          "provisioningState": "Succeeded"
        },
        "zones": []
      }
    }
  ],
  "Variables": {}
}
