{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.BotService/botServices/mybotxxx?api-version=2022-09-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "global",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "sku": {
          "name": "Sanitized"
        },
        "kind": "sdk",
        "etag": "Sanitized",
        "properties": {
          "displayName": "this is a test bot",
          "description": "The description of the bot",
          "endpoint": "https://bing.com/messages/",
          "msaAppId": "fakeKey",
          "developerAppInsightKey": "fakeKey",
          "developerAppInsightsApiKey": "fakeKey",
          "developerAppInsightsApplicationId": "fakeKey"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"0000ff9f-0000-1800-0000-66a092b20000\"",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.BotService/botServices",
        "etag": "Sanitized",
        "location": "global",
        "sku": {
          "name": "Sanitized"
        },
        "kind": "sdk",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {
          "displayName": "this is a test bot",
          "description": "The description of the bot",
          "iconUrl": "https://docs.botframework.com/static/devportal/client/images/bot-framework-default.png",
          "endpoint": "https://bing.com/messages/",
          "msaAppId": "fakeKey",
          "msaAppTenantId": null,
          "msaAppType": null,
          "msaAppMSIResourceId": null,
          "developerAppInsightKey": "fakeKey",
          "developerAppInsightsApplicationId": "fakeKey",
          "luisAppIds": [],
          "endpointVersion": "3.0",
          "configuredChannels": [
            "webchat",
            "directline"
          ],
          "enabledChannels": [
            "webchat",
            "directline"
          ],
          "isDeveloperAppInsightsApiKeySet": true,
          "isStreamingSupported": false,
          "schemaTransformationVersion": "1.3",
          "publishingCredentials": null,
          "parameters": null,
          "allSettings": null,
          "manifestUrl": null,
          "storageResourceId": null,
          "tenantId": "fakeKey",
          "migrationToken": null,
          "isCmekEnabled": false,
          "cmekKeyVaultUrl": null,
          "openWithHint": null,
          "appPasswordHint": null,
          "publicNetworkAccess": null,
          "disableLocalAuth": false,
          "cmekEncryptionStatus": "Off",
          "provisioningState": "Succeeded"
        },
        "zones": []
      }
    }
  ],
  "Variables": {}
}
