{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2b508793-29b8-01e3-2fd6-305fed0d9137?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE604E7CD2197E\"",
        "Last-Modified": "Fri, 30 Jan 2026 22:25:35 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3d3ae7a2-21c5-4c84-6734-fc9706b4aba1?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 30 Jan 2026 22:25:35 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE604E7CDEB56A\"",
        "Last-Modified": "Fri, 30 Jan 2026 22:25:35 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2b508793-29b8-01e3-2fd6-305fed0d9137/sourceFolder/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE604E7CE97118\"",
        "Last-Modified": "Fri, 30 Jan 2026 22:25:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2b508793-29b8-01e3-2fd6-305fed0d9137/sourceFolder/item1?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "IuxHb0reP4zj0JLD9i+S7i4zuhwpPE0l4PhgMQIEww7uszLNMpd+/qr/i4KnASvUNiXQcuL2TeaeIY9Rfg6J3w2D1EL9xLuWtLtyKbDKft7Ni/rdNFEs92ZLLxAILH+bdqx1Iyzo1nJpOb0mgyQ21KKwhPITrKu7V9zcspSrjog717MEVFux5LWIc/qUBXNBFVptV6iNh8kBustPDCTdvqo166xwMX9H/6A9iziwJ1Fomp06PTffrk/pA5mPYdeRq7VPXxrH0ePaJlcHT/yRUJN653GGooFzVTxchi7lt53IrN+DYcc2ocm5Xxbf2F5TWLIGFXpmCggz3Andaku19G66P6MdDe/LQ0WozUNqk33eCS5736IjYaHXT4W+WDZ+BGqoJZm6NUrDOtE1vj3[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2b508793-29b8-01e3-2fd6-305fed0d9137/sourceFolder/bar/item3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE604E7D0DE5D3\"",
        "Last-Modified": "Fri, 30 Jan 2026 22:25:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2b508793-29b8-01e3-2fd6-305fed0d9137/sourceFolder/bar/item3?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "++5B3eA1+BNONODuSMArHNNYj8vP4TgN8EnZDg5P4T7aPqb2etI73XgwKYmYuL22IB0tMeByMRq1M+2WXOoE/1KiFAkaNKIBHLJSnrevdDeMI+7xIa9dZwyLQ[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2b508793-29b8-01e3-2fd6-305fed0d9137/sourceFolder/pik/item4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE604E7D1FF9F7\"",
        "Last-Modified": "Fri, 30 Jan 2026 22:25:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2b508793-29b8-01e3-2fd6-305fed0d9137/sourceFolder/pik/item4?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "sNexPegUfaC96WFKMiz6gzqI8MrV/64/gegLCcLK6A5g+gneXytcnF772L/nIVy7os6/yWtk6LEocrwACXTd8wFS6jcjHCQOK1Rs2SfvV2CLUGfzCh6i+xFYt[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3d3ae7a2-21c5-4c84-6734-fc9706b4aba1/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 30 Jan 2026 22:25:35 GMT",
        "x-ms-file-attributes": "System|Directory",
        "x-ms-file-change-time": "2021-09-01T09:05:55.0000000Z",
        "x-ms-file-creation-time": "2021-08-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2021-10-01T09:05:55.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE604E7D32BEFB\"",
        "Last-Modified": "Fri, 30 Jan 2026 22:25:35 GMT",
        "x-ms-file-attributes": "System | Directory",
        "x-ms-file-change-time": "2021-09-01T09:05:55.0000000Z",
        "x-ms-file-creation-time": "2021-08-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-10-01T09:05:55.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3d3ae7a2-21c5-4c84-6734-fc9706b4aba1/destFolder/bar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 30 Jan 2026 22:25:35 GMT",
        "x-ms-file-attributes": "System|Directory",
        "x-ms-file-change-time": "2021-09-01T09:05:55.0000000Z",
        "x-ms-file-creation-time": "2021-08-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2021-10-01T09:05:55.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE604E7D3B8EAC\"",
        "Last-Modified": "Fri, 30 Jan 2026 22:25:35 GMT",
        "x-ms-file-attributes": "System | Directory",
        "x-ms-file-change-time": "2021-09-01T09:05:55.0000000Z",
        "x-ms-file-creation-time": "2021-08-01T09:05:55.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-10-01T09:05:55.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3d3ae7a2-21c5-4c84-6734-fc9706b4aba1/destFolder/pik?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 30 Jan 2026 22:25:35 GMT",
        "x-ms-file-attributes": "System|Directory",
        "x-ms-file-change-time": "2021-09-01T09:05:55.0000000Z",
        "x-ms-file-creation-time": "2021-08-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2021-10-01T09:05:55.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE604E7D445E68\"",
        "Last-Modified": "Fri, 30 Jan 2026 22:25:35 GMT",
        "x-ms-file-attributes": "System | Directory",
        "x-ms-file-change-time": "2021-09-01T09:05:55.0000000Z",
        "x-ms-file-creation-time": "2021-08-01T09:05:55.0000000Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2021-10-01T09:05:55.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3d3ae7a2-21c5-4c84-6734-fc9706b4aba1/destFolder/bar?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 30 Jan 2026 22:25:35 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE604E7D3B8EAC\"",
        "Last-Modified": "Fri, 30 Jan 2026 22:25:35 GMT",
        "x-ms-file-attributes": "System | Directory",
        "x-ms-file-change-time": "2021-09-01T09:05:55.0000000Z",
        "x-ms-file-creation-time": "2021-08-01T09:05:55.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-10-01T09:05:55.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2b508793-29b8-01e3-2fd6-305fed0d9137?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-2b508793-29b8-01e3-2fd6-305fed0d9137\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><Blob><Name>sourceFolder/item1</Name><Properties><Creation-Time>Fri, 30 Jan 2026 22:25:35 GMT</Creation-Time><Last-Modified>Fri, 30 Jan 2026 22:25:35 GMT</Last-Modified><Etag>0x8DE604E7CF2DCAC</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/item2</Name><Properties><Creation-Time>Fri, 30 Jan 2026 22:25:35 GMT</Creation-Time><Last-Modified>Fri, 30 Jan 2026 22:25:35 GMT</Last-Modified><Etag>0x8DE604E7D053D09</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2b508793-29b8-01e3-2fd6-305fed0d9137?restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2b508793-29b8-01e3-2fd6-305fed0d9137?restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3d3ae7a2-21c5-4c84-6734-fc9706b4aba1/destFolder/item1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 30 Jan 2026 22:25:38 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3d3ae7a2-21c5-4c84-6734-fc9706b4aba1/destFolder/bar/item3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 30 Jan 2026 22:25:38 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3d3ae7a2-21c5-4c84-6734-fc9706b4aba1/destFolder/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-date": "Fri, 30 Jan 2026 22:25:38 GMT",
        "x-ms-file-creation-time": "2026-01-30T22:25:35.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE604E7EE85DBC\"",
        "Last-Modified": "Fri, 30 Jan 2026 22:25:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-01-30T22:25:38.6062268Z",
        "x-ms-file-creation-time": "2026-01-30T22:25:35.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-01-30T22:25:38.6062268Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3d3ae7a2-21c5-4c84-6734-fc9706b4aba1/destFolder/item1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-2b508793-29b8-01e3-2fd6-305fed0d9137/sourceFolder/item1",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-date": "Fri, 30 Jan 2026 22:25:38 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE604E7EF3E991\"",
        "Last-Modified": "Fri, 30 Jan 2026 22:25:38 GMT",
        "x-ms-content-crc64": "zKfR5aohEbc=",
        "x-ms-file-last-write-time": "2026-01-30T22:25:38.6062268Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3d3ae7a2-21c5-4c84-6734-fc9706b4aba1/destFolder/bar/item3?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-2b508793-29b8-01e3-2fd6-305fed0d9137/sourceFolder/bar/item3",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-date": "Fri, 30 Jan 2026 22:25:38 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE604E7EFB822B\"",
        "Last-Modified": "Fri, 30 Jan 2026 22:25:38 GMT",
        "x-ms-content-crc64": "3ravKeyVuuk=",
        "x-ms-file-last-write-time": "2026-01-30T22:25:38.6589959Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3d3ae7a2-21c5-4c84-6734-fc9706b4aba1/destFolder/item1?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-date": "Fri, 30 Jan 2026 22:25:38 GMT",
        "x-ms-file-creation-time": "2026-01-30T22:25:35.0000000Z",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE604E7EFCE02A\"",
        "Last-Modified": "Fri, 30 Jan 2026 22:25:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-01-30T22:25:38.7406378Z",
        "x-ms-file-creation-time": "2026-01-30T22:25:35.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-01-30T22:25:38.6062268Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3d3ae7a2-21c5-4c84-6734-fc9706b4aba1/destFolder/pik/item4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 30 Jan 2026 22:25:38 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3d3ae7a2-21c5-4c84-6734-fc9706b4aba1/destFolder/bar/item3?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-date": "Fri, 30 Jan 2026 22:25:38 GMT",
        "x-ms-file-creation-time": "2026-01-30T22:25:35.0000000Z",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE604E7F0478CA\"",
        "Last-Modified": "Fri, 30 Jan 2026 22:25:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-01-30T22:25:38.7904202Z",
        "x-ms-file-creation-time": "2026-01-30T22:25:35.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2026-01-30T22:25:38.6589959Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3d3ae7a2-21c5-4c84-6734-fc9706b4aba1/destFolder/pik/item4?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-2b508793-29b8-01e3-2fd6-305fed0d9137/sourceFolder/pik/item4",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-date": "Fri, 30 Jan 2026 22:25:38 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE604E7F17C414\"",
        "Last-Modified": "Fri, 30 Jan 2026 22:25:38 GMT",
        "x-ms-content-crc64": "YU6Mog213K8=",
        "x-ms-file-last-write-time": "2026-01-30T22:25:38.8441850Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3d3ae7a2-21c5-4c84-6734-fc9706b4aba1/destFolder/pik/item4?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-date": "Fri, 30 Jan 2026 22:25:38 GMT",
        "x-ms-file-creation-time": "2026-01-30T22:25:35.0000000Z",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE604E7F204603\"",
        "Last-Modified": "Fri, 30 Jan 2026 22:25:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-01-30T22:25:38.9726211Z",
        "x-ms-file-creation-time": "2026-01-30T22:25:35.0000000Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2026-01-30T22:25:38.8441850Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3d3ae7a2-21c5-4c84-6734-fc9706b4aba1/destFolder/item1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 30 Jan 2026 22:25:39 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE604E7EFCE02A\"",
        "Last-Modified": "Fri, 30 Jan 2026 22:25:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-01-30T22:25:38.7406378Z",
        "x-ms-file-creation-time": "2026-01-30T22:25:35.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-01-30T22:25:38.6062268Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2b508793-29b8-01e3-2fd6-305fed0d9137/sourceFolder/item1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE604E7CF2DCAC\"",
        "Last-Modified": "Fri, 30 Jan 2026 22:25:35 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 30 Jan 2026 22:25:35 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3d3ae7a2-21c5-4c84-6734-fc9706b4aba1/destFolder/item1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 30 Jan 2026 22:25:39 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE604E7EFCE02A\"",
        "Last-Modified": "Fri, 30 Jan 2026 22:25:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-01-30T22:25:38.7406378Z",
        "x-ms-file-creation-time": "2026-01-30T22:25:35.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-01-30T22:25:38.6062268Z",
        "x-ms-file-parent-id": "13835128424026341[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2b508793-29b8-01e3-2fd6-305fed0d9137/sourceFolder/item1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DE604E7CF2DCAC\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE604E7CF2DCAC\"",
        "Last-Modified": "Fri, 30 Jan 2026 22:25:35 GMT",
[...]
