{
  "Entries": [
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-00ee4ee6-c1e6-2526-a598-90d022945ac7?restype=container&sv=Sanitized&ss=b&srt=sco&st=2026-04-30T20%3A20%3A04Z&se=2026-04-30T22%3A20%3A04Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FE4002438F\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:20:05 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-7d49c6ea-4f1a-09ee-0ed9-81f52f9220e3?restype=share&sv=Sanitized&ss=f&srt=sco&st=2026-04-30T20%3A20%3A04Z&se=2026-04-30T22%3A20%3A04Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FE400AAF5F\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:20:05 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-00ee4ee6-c1e6-2526-a598-90d022945ac7/sourceFolder/test-file-e200834a-3873-011b-89d4-d66bd927932f?sv=Sanitized&ss=b&srt=sco&st=2026-04-30T20%3A20%3A04Z&se=2026-04-30T22%3A20%3A04Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FE4012BE64\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:20:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-00ee4ee6-c1e6-2526-a598-90d022945ac7/sourceFolder/test-file-e200834a-3873-011b-89d4-d66bd927932f?comp=appendblock&sv=Sanitized&ss=b&srt=sco&st=2026-04-30T20%3A20%3A04Z&se=2026-04-30T22%3A20%3A04Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "UZJ88t+V7bwKp7Sj5E79SaUzTmF7U/poGFrhouYDe/3hrBpHq6FQzTJEAEItx8Gx0whxUj2Rrv2XFNqEs0vVBiu2wjc0tZ4E44AuN1O3OlGZL87ekinAT/4cr5bHyxnmbvkWdgSKfR5qbG+8Y3aq39mI6oR993QB9nM4FwYHPRdnR8hZocNND7GwcyW6BOyHctC9PuCUaXeFFYCQUWUXYy9XVBuuUD4WO9vSzYNPR/GHsKU2Sv420t5Q1IxCvL5MmBD1Y6/R2SGRpgIFwpz0Nc2PCaDA4RgwIII8XXyy038dhjVyWeRCtteDpKP8MRBCXJ6+s7Mdi7b4xEIslHyl3tKD6DtngtvpTFLJPT10NO9y+gDe9CDL//p+epWhFSJa3cXQeEnU2trC1GZgU05[...]
[...]
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-00ee4ee6-c1e6-2526-a598-90d022945ac7/sourceFolder/bar/test-file-441f18eb-0710-51ab-1617-b3f83e0d20d6?sv=Sanitized&ss=b&srt=sco&st=2026-04-30T20%3A20%3A04Z&se=2026-04-30T22%3A20%3A04Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FE402BBA64\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:20:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-00ee4ee6-c1e6-2526-a598-90d022945ac7/sourceFolder/bar/test-file-441f18eb-0710-51ab-1617-b3f83e0d20d6?comp=appendblock&sv=Sanitized&ss=b&srt=sco&st=2026-04-30T20%3A20%3A04Z&se=2026-04-30T22%3A20%3A04Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "/6ddMP3eO[...]
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-00ee4ee6-c1e6-2526-a598-90d022945ac7/sourceFolder/pik/test-file-ffa91a73-be2e-809c-d55b-5376f338a0cb?sv=Sanitized&ss=b&srt=sco&st=2026-04-30T20%3A20%3A04Z&se=2026-04-30T22%3A20%3A04Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FE40383869\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:20:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-00ee4ee6-c1e6-2526-a598-90d022945ac7/sourceFolder/pik/test-file-ffa91a73-be2e-809c-d55b-5376f338a0cb?comp=appendblock&sv=Sanitized&ss=b&srt=sco&st=2026-04-30T20%3A20%3A04Z&se=2026-04-30T22%3A20%3A04Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "x96oCJQ2K[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-7d49c6ea-4f1a-09ee-0ed9-81f52f9220e3/destFolder?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-04-30T20%3A20%3A04Z&se=2026-04-30T22%3A20%3A04Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FE4048A5B8\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:20:06 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-04-30T21:20:06.3595960Z",
        "x-ms-file-creation-time": "2026-04-30T21:20:06.3595960Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-30T21:20:06.3595960Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11118135984870558254*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-00ee4ee6-c1e6-2526-a598-90d022945ac7?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata&sv=Sanitized&ss=b&srt=sco&st=2026-04-30T20%3A20%3A04Z&se=2026-04-30T22%3A20%3A04Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.blob.core.windows.net/\" ContainerName=\"test-container-00ee4ee6-c1e6-2526-a598-90d022945ac7\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-0a002062-e2e9-a56a-00d1-5117858bf32a</Name><Properties><Creation-Time>Thu, 30 Apr 2026 21:20:06 GMT</Creation-Time><Last-Modified>Thu, 30 Apr 2026 21:20:06 GMT</Last-Modified><Etag>0x8DEA6FE40257B63</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-e200834a-3873-011b-89d4-d66bd927932f</Name><Properties><Creation-Time>Thu, 30 Apr 2026 21:20:06 GMT</Creation-Time><Last-Modified>Thu, 30 Apr 2026 21:20:06 GMT</Last-Modified><Etag>0x8DEA6FE4018FD5F</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-7d49c6ea-4f1a-09ee-0ed9-81f52f9220e3/destFolder/bar?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-04-30T20%3A20%3A04Z&se=2026-04-30T22%3A20%3A04Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:bc4682e8-001a-00cb-76e7-d86cf7000000\n",
        "Time:2026-04-30T21:20:06.4542811Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-7d49c6ea-4f1a-09ee-0ed9-81f52f9220e3/destFolder/pik?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-04-30T20%3A20%3A04Z&se=2026-04-30T22%3A20%3A04Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:bc4682ea-001a-00cb-78e7-d86cf7000000\n",
        "Time:2026-04-30T21:20:06.5389773Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-7d49c6ea-4f1a-09ee-0ed9-81f52f9220e3/destFolder/test-file-0a002062-e2e9-a56a-00d1-5117858bf32a?sv=Sanitized&ss=f&srt=sco&st=2026-04-30T20%3A20%3A04Z&se=2026-04-30T22%3A20%3A04Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-00ee4ee6-c1e6-2526-a598-90d022945ac7?restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata&sv=Sanitized&ss=b&srt=sco&st=2026-04-30T20%3A20%3A04Z&se=2026-04-30T22%3A20%3A04Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders":[...]
[...]
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-00ee4ee6-c1e6-2526-a598-90d022945ac7?restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata&sv=Sanitized&ss=b&srt=sco&st=2026-04-30T20%3A20%3A04Z&se=2026-04-30T22%3A20%3A04Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders":[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-7d49c6ea-4f1a-09ee-0ed9-81f52f9220e3/destFolder/test-file-0a002062-e2e9-a56a-00d1-5117858bf32a?sv=Sanitized&ss=f&srt=sco&st=2026-04-30T20%3A20%3A04Z&se=2026-04-30T22%3A20%3A04Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FE407806BC\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:20:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T21:20:06.6700988Z",
        "x-ms-file-creation-time": "2026-04-30T21:20:06.6700988Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-04-30T21:20:06.6700988Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-7d49c6ea-4f1a-09ee-0ed9-81f52f9220e3/destFolder/bar/test-file-441f18eb-0710-51ab-1617-b3f83e0d20d6?sv=Sanitized&ss=f&srt=sco&st=2026-04-30T20%3A20%3A04Z&se=2026-04-30T22%3A20%3A04Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-7d49c6ea-4f1a-09ee-0ed9-81f52f9220e3/destFolder/pik/test-file-ffa91a73-be2e-809c-d55b-5376f338a0cb?sv=Sanitized&ss=f&srt=sco&st=2026-04-30T20%3A20%3A04Z&se=2026-04-30T22%3A20%3A04Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-7d49c6ea-4f1a-09ee-0ed9-81f52f9220e3/destFolder/test-file-0a002062-e2e9-a56a-00d1-5117858bf32a?comp=range&sv=Sanitized&ss=f&srt=sco&st=2026-04-30T20%3A20%3A04Z&se=2026-04-30T22%3A20%3A04Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amnguyesa.blob.core.windows.net/test-container-00ee4ee6-c1e6-2526-a598-90d022945ac7/sourceFolder/test-file-0a002062-e2e9-a56a-00d1-5117858bf32a?sv=sanitized-value&ss=b&srt=sco&st=2026-04-30T20%3A20%3A04Z&se=2026-04-30T22%3A20%3A04Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FE40808EBF\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:20:06 GMT",
        "x-ms-content-crc64": "ZrqqV3l1pR0=",
        "x-ms-file-last-write-time": "2026-04-30T21:20:06.6700988Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-7d49c6ea-4f1a-09ee-0ed9-81f52f9220e3/destFolder/test-file-0a002062-e2e9-a56a-00d1-5117858bf32a?comp=properties&sv=Sanitized&ss=f&srt=sco&st=2026-04-30T20%3A20%3A04Z&se=2026-04-30T22%3A20%3A04Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T21:20:06.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FE408C49B9\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:20:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T21:20:06.8028857Z",
        "x-ms-file-creation-time": "2026-04-30T21:20:06.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-04-30T21:20:06.6700988Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-7d49c6ea-4f1a-09ee-0ed9-81f52f9220e3/destFolder/bar/test-file-441f18eb-0710-51ab-1617-b3f83e0d20d6?comp=range&sv=Sanitized&ss=f&srt=sco&st=2026-04-30T20%3A20%3A04Z&se=2026-04-30T22%3A20%3A04Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amnguyesa.blob.core.windows.net/test-container-00ee4ee6-c1e6-2526-a598-90d022945ac7/sourceFolder/bar/test-file-441f18eb-0710-51ab-1617-b3f83e0d20d6?sv=sanitized-value&ss=b&srt=sco&st=2026-04-30T20%3A20%3A04Z&se=2026-04-30T22%3A20%3A04Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FE408E92BA\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:20:06 GMT",
        "x-ms-content-crc64": "/06BgbAJn1k=",
        "x-ms-file-last-write-time": "2026-04-30T21:20:06.7469749Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-7d49c6ea-4f1a-09ee-0ed9-81f52f9220e3/destFolder/bar/test-file-441f18eb-0710-51ab-1617-b3f83e0d20d6?comp=properties&sv=Sanitized&ss=f&srt=sco&st=2026-04-30T20%3A20%3A04Z&se=2026-04-30T22%3A20%3A04Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T21:20:06.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FE4094D1BC\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:20:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T21:20:06.8587964Z",
        "x-ms-file-creation-time": "2026-04-30T21:20:06.0000000Z",
        "x-ms-file-id": "11529250230440558592",
        "x-ms-file-last-write-time": "2026-04-30T21:20:06.7469749Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-7d49c6ea-4f1a-09ee-0ed9-81f52f9220e3/destFolder/pik/test-file-ffa91a73-be2e-809c-d55b-5376f338a0cb?comp=range&sv=Sanitized&ss=f&srt=sco&st=2026-04-30T20%3A20%3A04Z&se=2026-04-30T22%3A20%3A04Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amnguyesa.blob.core.windows.net/test-container-00ee4ee6-c1e6-2526-a598-90d022945ac7/sourceFolder/pik/test-file-ffa91a73-be2e-809c-d55b-5376f338a0cb?sv=sanitized-value&ss=b&srt=sco&st=2026-04-30T20%3A20%3A04Z&se=2026-04-30T22%3A20%3A04Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FE4099D8B5\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:20:06 GMT",
        "x-ms-content-crc64": "kcot1FmhX38=",
        "x-ms-file-last-write-time": "2026-04-30T21:20:06.7699384Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-7d49c6ea-4f1a-09ee-0ed9-81f52f9220e3/destFolder/pik/test-file-ffa91a73-be2e-809c-d55b-5376f338a0cb?comp=properties&sv=Sanitized&ss=f&srt=sco&st=2026-04-30T20%3A20%3A04Z&se=2026-04-30T22%3A20%3A04Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T21:20:06.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FE40A08CC6\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:20:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T21:20:06.9356742Z",
        "x-ms-file-creation-time": "2026-04-30T21:20:06.0000000Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2026-04-30T21:20:06.7699384Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-00ee4ee6-c1e6-2526-a598-90d022945ac7?restype=container&comp=list&prefix=sourceFolder&sv=Sanitized&ss=b&srt=sco&st=2026-04-30T20%3A20%3A04Z&se=2026-04-30T22%3A20%3A04Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-7d49c6ea-4f1a-09ee-0ed9-81f52f9220e3/destFolder?restype=directory&comp=list&sv=Sanitized&ss=f&srt=sco&st=2026-04-30T20%3A20%3A04Z&se=2026-04-30T22%3A20%3A04Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.file.core.windows.net/\" ShareName=\"test-share-7d49c6ea-4f1a-09ee-0ed9-81f52f9220e3\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-0a002062-e2e9-a56a-00d1-5117858bf32a</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-e200834a-3873-011b-89d4-d66bd927932f</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-7d49c6ea-4f1a-09ee-0ed9-81f52f9220e3/destFolder/bar?restype=directory&comp=list&sv=Sanitized&ss=f&srt=sco&st=2026-04-30T20%3A20%3A04Z&se=2026-04-30T22%3A20%3A04Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.file.core.windows.net/\" ShareName=\"test-share-7d49c6ea-4f1a-09ee-0ed9-81f52f9220e3\" DirectoryPath=\"destFolder/bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-441f18eb-0710-51ab-1617-b3f83e0d20d6</Name><FileId>11529250230440558592</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-7d49c6ea-4f1a-09ee-0ed9-81f52f9220e3/destFolder/pik?restype=directory&comp=list&sv=Sanitized&ss=f&srt=sco&st=2026-04-30T20%3A20%3A04Z&se=2026-04-30T22%3A20%3A04Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.file.core.windows.net/\" ShareName=\"test-share-7d49c6ea-4f1a-09ee-0ed9-81f52f9220e3\" DirectoryPath=\"destFolder/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-ffa91a73-be2e-809c-d55b-5376f338a0cb</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-00ee4ee6-c1e6-2526-a598-90d022945ac7/sourceFolder/bar/test-file-441f18eb-0710-51ab-1617-b3f83e0d20d6?sv=Sanitized&ss=b&srt=sco&st=2026-04-30T20%3A20%3A04Z&se=2026-04-30T22%3A20%3A04Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA6FE4031F966\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:20:06 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 30 Apr 2026 21:20:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-00ee4ee6-c1e6-2526-a598-90d022945ac7/sourceFolder/bar/test-file-441f18eb-0710-51ab-1617-b3f83e0d20d6?sv=Sanitized&ss=b&srt=sco&st=2026-04-30T20%3A20%3A04Z&se=2026-04-30T22%3A20%3A04Z&sp=rwdxylacuptfi&sig=Sanitized",
[...]
