{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-aeecb75a-9835-a6c3-5778-a3a5d54c72fc?restype=container&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A40Z&se=2026-02-18T07%3A38%3A40Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB85AB421FE\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:40 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c4bf8151-9fc4-bcec-43c7-0ade9bfbe6f7?restype=share&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A40Z&se=2026-02-18T07%3A38%3A40Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB85AC10860\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:40 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-aeecb75a-9835-a6c3-5778-a3a5d54c72fc/sourceFolder/test-file-8355170a-117d-f3ff-c86f-98a8037c2d4f?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A40Z&se=2026-02-18T07%3A38%3A40Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB85ACD6ECF\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:40 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-aeecb75a-9835-a6c3-5778-a3a5d54c72fc/sourceFolder/test-file-8355170a-117d-f3ff-c86f-98a8037c2d4f?comp=appendblock&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A40Z&se=2026-02-18T07%3A38%3A40Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "FpVld540nsk4gnUx8E34/5yBbJinoYBhwbKObiIDZYqlGZJtF7Ww2lA7LAMzJLKmFu9fDNEw13QVA7brpi+nNB3ri9a7iujm0JJHbHV9LZwA6Fcyo1i4dUEdWBP/xDQglPflSJjc64wGeTw/6Gv/l9YZ673YdJDEMhaUnjLU5gxdJ9d9l+UEJPzLKyoceYzVHcA95th2SCBnIBaBR01ZMpIw4cGTgf/wFcfBDEhmqLmKvoBxlgAz59+3FnbPgtyvcfmX7JfKQpzATNARtTvXAXhc94jN55yS/fnh3GqJIZPqEZtOzrwhwHzjsEkvITKk3xX+cotT4oldBe6d6GUxNys9JqOfiDK7OzcM6TdSYtvHPfxViq8Ily8R8cnNg9cWsnke8vuPBFbiQzZTR/h[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-aeecb75a-9835-a6c3-5778-a3a5d54c72fc/sourceFolder/bar/test-file-7be3ba4c-2632-6c51-ae12-d885e3c9fe0c?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A40Z&se=2026-02-18T07%3A38%3A40Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB85AF1BDED\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-aeecb75a-9835-a6c3-5778-a3a5d54c72fc/sourceFolder/bar/test-file-7be3ba4c-2632-6c51-ae12-d885e3c9fe0c?comp=appendblock&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A40Z&se=2026-02-18T07%3A38%3A40Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "Popju[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-aeecb75a-9835-a6c3-5778-a3a5d54c72fc/sourceFolder/pik/test-file-80567a47-d740-96d8-0b72-9d9ee43870ee?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A40Z&se=2026-02-18T07%3A38%3A40Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB85B041FD4\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-aeecb75a-9835-a6c3-5778-a3a5d54c72fc/sourceFolder/pik/test-file-80567a47-d740-96d8-0b72-9d9ee43870ee?comp=appendblock&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A40Z&se=2026-02-18T07%3A38%3A40Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "wMcwa[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c4bf8151-9fc4-bcec-43c7-0ade9bfbe6f7/destFolder?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A40Z&se=2026-02-18T07%3A38%3A40Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB85B170416\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:41 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-02-18T06:38:41.4461974Z",
        "x-ms-file-creation-time": "2026-02-18T06:38:41.4461974Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-02-18T06:38:41.4461974Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-aeecb75a-9835-a6c3-5778-a3a5d54c72fc?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A40Z&se=2026-02-18T07%3A38%3A40Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-aeecb75a-9835-a6c3-5778-a3a5d54c72fc\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-6404ee0f-a985-a256-f40f-effb8e3dc97f</Name><Properties><Creation-Time>Wed, 18 Feb 2026 06:38:41 GMT</Creation-Time><Last-Modified>Wed, 18 Feb 2026 06:38:41 GMT</Last-Modified><Etag>0x8DE6EB85AE8C74E</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-8355170a-117d-f3ff-c86f-98a8037c2d4f</Name><Properties><Creation-Time>Wed, 18 Feb 2026 06:38:40 GMT</Creation-Time><Last-Modified>Wed, 18 Feb 2026 06:38:41 GMT</Last-Modified><Etag>0x8DE6EB85AD6DA05</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c4bf8151-9fc4-bcec-43c7-0ade9bfbe6f7/destFolder/bar?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A40Z&se=2026-02-18T07%3A38%3A40Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:6ec831a0-001a-0028-7aa1-a0c11c000000\n",
        "Time:2026-02-18T06:38:41.6040068Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c4bf8151-9fc4-bcec-43c7-0ade9bfbe6f7/destFolder/pik?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A40Z&se=2026-02-18T07%3A38%3A40Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:6ec831a5-001a-0028-7ea1-a0c11c000000\n",
        "Time:2026-02-18T06:38:41.7579152Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-aeecb75a-9835-a6c3-5778-a3a5d54c72fc?restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A40Z&se=2026-02-18T07%3A38%3A40Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeade[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c4bf8151-9fc4-bcec-43c7-0ade9bfbe6f7/destFolder/test-file-6404ee0f-a985-a256-f40f-effb8e3dc97f?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A40Z&se=2026-02-18T07%3A38%3A40Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-aeecb75a-9835-a6c3-5778-a3a5d54c72fc?restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A40Z&se=2026-02-18T07%3A38%3A40Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeade[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c4bf8151-9fc4-bcec-43c7-0ade9bfbe6f7/destFolder/test-file-6404ee0f-a985-a256-f40f-effb8e3dc97f?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A40Z&se=2026-02-18T07%3A38%3A40Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-02-18T06:38:41.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB85B67CE18\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:41 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:38:41.9756568Z",
        "x-ms-file-creation-time": "2026-02-18T06:38:41.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-02-18T06:38:41.9756568Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c4bf8151-9fc4-bcec-43c7-0ade9bfbe6f7/destFolder/bar/test-file-7be3ba4c-2632-6c51-ae12-d885e3c9fe0c?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A40Z&se=2026-02-18T07%3A38%3A40Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c4bf8151-9fc4-bcec-43c7-0ade9bfbe6f7/destFolder/test-file-8355170a-117d-f3ff-c86f-98a8037c2d4f?comp=range&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A40Z&se=2026-02-18T07%3A38%3A40Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-aeecb75a-9835-a6c3-5778-a3a5d54c72fc/sourceFolder/test-file-8355170a-117d-f3ff-c86f-98a8037c2d4f?sv=sanitized-value&ss=b&srt=sco&st=2026-02-18T05%3A38%3A40Z&se=2026-02-18T07%3A38%3A40Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB85B9EC046\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:42 GMT",
        "x-ms-content-crc64": "LW79PEQgSWo=",
        "x-ms-file-last-write-time": "2026-02-18T06:38:41.9932534Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c4bf8151-9fc4-bcec-43c7-0ade9bfbe6f7/destFolder/pik/test-file-80567a47-d740-96d8-0b72-9d9ee43870ee?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A40Z&se=2026-02-18T07%3A38%3A40Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c4bf8151-9fc4-bcec-43c7-0ade9bfbe6f7/destFolder/test-file-6404ee0f-a985-a256-f40f-effb8e3dc97f?comp=properties&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A40Z&se=2026-02-18T07%3A38%3A40Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-02-18T06:38:41.0000000Z",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB85BA7691E\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:42 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:38:42.3925022Z",
        "x-ms-file-creation-time": "2026-02-18T06:38:41.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-02-18T06:38:41.9756568Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c4bf8151-9fc4-bcec-43c7-0ade9bfbe6f7/destFolder/bar/test-file-7be3ba4c-2632-6c51-ae12-d885e3c9fe0c?comp=range&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A40Z&se=2026-02-18T07%3A38%3A40Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-aeecb75a-9835-a6c3-5778-a3a5d54c72fc/sourceFolder/bar/test-file-7be3ba4c-2632-6c51-ae12-d885e3c9fe0c?sv=sanitized-value&ss=b&srt=sco&st=2026-02-18T05%3A38%3A40Z&se=2026-02-18T07%3A38%3A40Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB85BA914EE\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:42 GMT",
        "x-ms-content-crc64": "sKdpv3B/o14=",
        "x-ms-file-last-write-time": "2026-02-18T06:38:42.3297771Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c4bf8151-9fc4-bcec-43c7-0ade9bfbe6f7/destFolder/bar/test-file-7be3ba4c-2632-6c51-ae12-d885e3c9fe0c?comp=properties&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A40Z&se=2026-02-18T07%3A38%3A40Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-02-18T06:38:41.0000000Z",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB85BC273E1\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:42 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:38:42.5697249Z",
        "x-ms-file-creation-time": "2026-02-18T06:38:41.0000000Z",
        "x-ms-file-id": "11529250230440558592",
        "x-ms-file-last-write-time": "2026-02-18T06:38:42.3297771Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c4bf8151-9fc4-bcec-43c7-0ade9bfbe6f7/destFolder/pik/test-file-80567a47-d740-96d8-0b72-9d9ee43870ee?comp=range&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A40Z&se=2026-02-18T07%3A38%3A40Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-aeecb75a-9835-a6c3-5778-a3a5d54c72fc/sourceFolder/pik/test-file-80567a47-d740-96d8-0b72-9d9ee43870ee?sv=sanitized-value&ss=b&srt=sco&st=2026-02-18T05%3A38%3A40Z&se=2026-02-18T07%3A38%3A40Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB85BC3AB02\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:42 GMT",
        "x-ms-content-crc64": "qn0bc9LFz+Y=",
        "x-ms-file-last-write-time": "2026-02-18T06:38:42.3954891Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c4bf8151-9fc4-bcec-43c7-0ade9bfbe6f7/destFolder/pik/test-file-80567a47-d740-96d8-0b72-9d9ee43870ee?comp=properties&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A40Z&se=2026-02-18T07%3A38%3A40Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-02-18T06:38:41.0000000Z",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB85BD39EA6\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:42 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:38:42.6822310Z",
        "x-ms-file-creation-time": "2026-02-18T06:38:41.0000000Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2026-02-18T06:38:42.3954891Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-aeecb75a-9835-a6c3-5778-a3a5d54c72fc?restype=container&comp=list&prefix=sourceFolder&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A40Z&se=2026-02-18T07%3A38%3A40Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applicat[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c4bf8151-9fc4-bcec-43c7-0ade9bfbe6f7/destFolder?restype=directory&comp=list&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A40Z&se=2026-02-18T07%3A38%3A40Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-c4bf8151-9fc4-bcec-43c7-0ade9bfbe6f7\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-6404ee0f-a985-a256-f40f-effb8e3dc97f</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-8355170a-117d-f3ff-c86f-98a8037c2d4f</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c4bf8151-9fc4-bcec-43c7-0ade9bfbe6f7/destFolder/bar?restype=directory&comp=list&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A40Z&se=2026-02-18T07%3A38%3A40Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-c4bf8151-9fc4-bcec-43c7-0ade9bfbe6f7\" DirectoryPath=\"destFolder/bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-7be3ba4c-2632-6c51-ae12-d885e3c9fe0c</Name><FileId>11529250230440558592</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c4bf8151-9fc4-bcec-43c7-0ade9bfbe6f7/destFolder/pik?restype=directory&comp=list&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A40Z&se=2026-02-18T07%3A38%3A40Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-c4bf8151-9fc4-bcec-43c7-0ade9bfbe6f7\" DirectoryPath=\"destFolder/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-80567a47-d740-96d8-0b72-9d9ee43870ee</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-aeecb75a-9835-a6c3-5778-a3a5d54c72fc/sourceFolder/bar/test-file-7be3ba4c-2632-6c51-ae12-d885e3c9fe0c?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A40Z&se=2026-02-18T07%3A38%3A40Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE6EB85AFB2932\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:41 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 18 Feb 2026 06:38:41 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
[...]
