{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-12bd4548-602e-7c7a-3645-27faadf02068?restype=container&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A35Z&se=2026-02-18T07%3A38%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB857B4372D\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:35 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-068a89a4-414b-d079-c509-1c670142b2e2?restype=share&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A35Z&se=2026-02-18T07%3A38%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB857E9E832\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:36 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-12bd4548-602e-7c7a-3645-27faadf02068/sourceFolder/test-file-5a897525-0e9e-fb04-79a9-16423cf9b007?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A35Z&se=2026-02-18T07%3A38%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB85805DA99\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-12bd4548-602e-7c7a-3645-27faadf02068/sourceFolder/test-file-5a897525-0e9e-fb04-79a9-16423cf9b007?comp=appendblock&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A35Z&se=2026-02-18T07%3A38%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "4TFZqjRkdz1cl8Yg8v07zHWqBPEnhyOyXFz/1WYxA7i/aWEKnwbS5Y7eQxer+DtdjtpcTbv3hFkNpk7YZaLWK5QNYIibMCxv2B9iSUQLB2MgoUaM1bX8x+UH/Pi4+X/sBxeDnpezwV2t7XWclTsVAp/quMNbSlbeEJmikzM0t96fdUEsiGjMbODp3+c/YDKq8vpYzUC8kb3BpI3+EC0qeTaX/B/56Hk3Hkzjcmtun7Bm+KE42+me4+SEauTbzVuzvmWxqGMTsAmBIa702B9SUwXclxeM8Z5M+Rk6dX6VW1DwMLMFvfZNU0iXt7k6qQrFMRbf/jZDJszHZK9K2DuL7MVeBKhrTZYOj0TP9DrkEU8OdUNntV0arAnnPVhGA3sMDMvz3KViWuSA0G/xczK[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-12bd4548-602e-7c7a-3645-27faadf02068/sourceFolder/bar/test-file-74b3b8e3-f345-e95a-b6ac-2f362bdf2a84?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A35Z&se=2026-02-18T07%3A38%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB858325DE1\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-12bd4548-602e-7c7a-3645-27faadf02068/sourceFolder/bar/test-file-74b3b8e3-f345-e95a-b6ac-2f362bdf2a84?comp=appendblock&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A35Z&se=2026-02-18T07%3A38%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "HUcH2[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-12bd4548-602e-7c7a-3645-27faadf02068/sourceFolder/pik/test-file-d0ce0a08-ef24-5148-aaf1-c0926de2f244?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A35Z&se=2026-02-18T07%3A38%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB8584644B8\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-12bd4548-602e-7c7a-3645-27faadf02068/sourceFolder/pik/test-file-d0ce0a08-ef24-5148-aaf1-c0926de2f244?comp=appendblock&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A35Z&se=2026-02-18T07%3A38%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "ls7+s[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-068a89a4-414b-d079-c509-1c670142b2e2/destFolder?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A35Z&se=2026-02-18T07%3A38%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB8585E4F1A\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:36 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-02-18T06:38:36.8802586Z",
        "x-ms-file-creation-time": "2026-02-18T06:38:36.8802586Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-02-18T06:38:36.8802586Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-12bd4548-602e-7c7a-3645-27faadf02068?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A35Z&se=2026-02-18T07%3A38%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-12bd4548-602e-7c7a-3645-27faadf02068\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-5a897525-0e9e-fb04-79a9-16423cf9b007</Name><Properties><Creation-Time>Wed, 18 Feb 2026 06:38:36 GMT</Creation-Time><Last-Modified>Wed, 18 Feb 2026 06:38:36 GMT</Last-Modified><Etag>0x8DE6EB858158063</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-9f1b064a-72af-2d19-5ac9-a7d2f7c0e9ac</Name><Properties><Creation-Time>Wed, 18 Feb 2026 06:38:36 GMT</Creation-Time><Last-Modified>Wed, 18 Feb 2026 06:38:36 GMT</Last-Modified><Etag>0x8DE6EB858296737</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-068a89a4-414b-d079-c509-1c670142b2e2/destFolder/bar?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A35Z&se=2026-02-18T07%3A38%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:615c205d-901a-002a-02a1-a07fa4000000\n",
        "Time:2026-02-18T06:38:37.2483277Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-068a89a4-414b-d079-c509-1c670142b2e2/destFolder/pik?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A35Z&se=2026-02-18T07%3A38%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:615c2060-901a-002a-05a1-a07fa4000000\n",
        "Time:2026-02-18T06:38:37.3833281Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-12bd4548-602e-7c7a-3645-27faadf02068?restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A35Z&se=2026-02-18T07%3A38%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeade[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-068a89a4-414b-d079-c509-1c670142b2e2/destFolder/test-file-9f1b064a-72af-2d19-5ac9-a7d2f7c0e9ac?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A35Z&se=2026-02-18T07%3A38%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-12bd4548-602e-7c7a-3645-27faadf02068?restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A35Z&se=2026-02-18T07%3A38%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeade[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-068a89a4-414b-d079-c509-1c670142b2e2/destFolder/bar/test-file-74b3b8e3-f345-e95a-b6ac-2f362bdf2a84?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A35Z&se=2026-02-18T07%3A38%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-068a89a4-414b-d079-c509-1c670142b2e2/destFolder/test-file-9f1b064a-72af-2d19-5ac9-a7d2f7c0e9ac?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A35Z&se=2026-02-18T07%3A38%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-02-18T06:38:36.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB858E9ECC5\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:38:37.7952453Z",
        "x-ms-file-creation-time": "2026-02-18T06:38:36.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2026-02-18T06:38:37.7952453Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-068a89a4-414b-d079-c509-1c670142b2e2/destFolder/pik/test-file-d0ce0a08-ef24-5148-aaf1-c0926de2f244?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A35Z&se=2026-02-18T07%3A38%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-068a89a4-414b-d079-c509-1c670142b2e2/destFolder/test-file-9f1b064a-72af-2d19-5ac9-a7d2f7c0e9ac?comp=range&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A35Z&se=2026-02-18T07%3A38%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-12bd4548-602e-7c7a-3645-27faadf02068/sourceFolder/test-file-9f1b064a-72af-2d19-5ac9-a7d2f7c0e9ac?sv=sanitized-value&ss=b&srt=sco&st=2026-02-18T05%3A38%3A35Z&se=2026-02-18T07%3A38%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB858FEACC4\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:37 GMT",
        "x-ms-content-crc64": "aFFfHs5uvwc=",
        "x-ms-file-last-write-time": "2026-02-18T06:38:37.7952453Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-068a89a4-414b-d079-c509-1c670142b2e2/destFolder/bar/test-file-74b3b8e3-f345-e95a-b6ac-2f362bdf2a84?comp=range&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A35Z&se=2026-02-18T07%3A38%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-12bd4548-602e-7c7a-3645-27faadf02068/sourceFolder/bar/test-file-74b3b8e3-f345-e95a-b6ac-2f362bdf2a84?sv=sanitized-value&ss=b&srt=sco&st=2026-02-18T05%3A38%3A35Z&se=2026-02-18T07%3A38%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB859043D6E\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:37 GMT",
        "x-ms-content-crc64": "yStsQ7N2Bnk=",
        "x-ms-file-last-write-time": "2026-02-18T06:38:37.8814500Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-068a89a4-414b-d079-c509-1c670142b2e2/destFolder/test-file-9f1b064a-72af-2d19-5ac9-a7d2f7c0e9ac?comp=properties&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A35Z&se=2026-02-18T07%3A38%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-02-18T06:38:36.0000000Z",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB859083096\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:38:37.9935894Z",
        "x-ms-file-creation-time": "2026-02-18T06:38:36.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2026-02-18T06:38:37.7952453Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-068a89a4-414b-d079-c509-1c670142b2e2/destFolder/bar/test-file-74b3b8e3-f345-e95a-b6ac-2f362bdf2a84?comp=properties&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A35Z&se=2026-02-18T07%3A38%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-02-18T06:38:36.0000000Z",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB8590DD942\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:38:38.0306754Z",
        "x-ms-file-creation-time": "2026-02-18T06:38:36.0000000Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2026-02-18T06:38:37.8814500Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-068a89a4-414b-d079-c509-1c670142b2e2/destFolder/pik/test-file-d0ce0a08-ef24-5148-aaf1-c0926de2f244?comp=range&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A35Z&se=2026-02-18T07%3A38%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-12bd4548-602e-7c7a-3645-27faadf02068/sourceFolder/pik/test-file-d0ce0a08-ef24-5148-aaf1-c0926de2f244?sv=sanitized-value&ss=b&srt=sco&st=2026-02-18T05%3A38%3A35Z&se=2026-02-18T07%3A38%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB8591157CE\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:38 GMT",
        "x-ms-content-crc64": "juLmNus1IhU=",
        "x-ms-file-last-write-time": "2026-02-18T06:38:37.9262536Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-068a89a4-414b-d079-c509-1c670142b2e2/destFolder/pik/test-file-d0ce0a08-ef24-5148-aaf1-c0926de2f244?comp=properties&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A35Z&se=2026-02-18T07%3A38%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-02-18T06:38:36.0000000Z",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB8591AEA01\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:38:38.1163009Z",
        "x-ms-file-creation-time": "2026-02-18T06:38:36.0000000Z",
        "x-ms-file-id": "11529250230440558592",
        "x-ms-file-last-write-time": "2026-02-18T06:38:37.9262536Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-12bd4548-602e-7c7a-3645-27faadf02068?restype=container&comp=list&prefix=sourceFolder&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A35Z&se=2026-02-18T07%3A38%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applicat[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-068a89a4-414b-d079-c509-1c670142b2e2/destFolder?restype=directory&comp=list&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A35Z&se=2026-02-18T07%3A38%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-068a89a4-414b-d079-c509-1c670142b2e2\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-5a897525-0e9e-fb04-79a9-16423cf9b007</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-9f1b064a-72af-2d19-5ac9-a7d2f7c0e9ac</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-068a89a4-414b-d079-c509-1c670142b2e2/destFolder/bar?restype=directory&comp=list&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A35Z&se=2026-02-18T07%3A38%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-068a89a4-414b-d079-c509-1c670142b2e2\" DirectoryPath=\"destFolder/bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-74b3b8e3-f345-e95a-b6ac-2f362bdf2a84</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-068a89a4-414b-d079-c509-1c670142b2e2/destFolder/pik?restype=directory&comp=list&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A35Z&se=2026-02-18T07%3A38%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-068a89a4-414b-d079-c509-1c670142b2e2\" DirectoryPath=\"destFolder/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-d0ce0a08-ef24-5148-aaf1-c0926de2f244</Name><FileId>11529250230440558592</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-12bd4548-602e-7c7a-3645-27faadf02068/sourceFolder/bar/test-file-74b3b8e3-f345-e95a-b6ac-2f362bdf2a84?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A35Z&se=2026-02-18T07%3A38%3A35Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE6EB8583D4E25\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:36 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 18 Feb 2026 06:38:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
[...]
