{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-04124d84-4ede-d4d3-e435-393af4650552?restype=container&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A07Z&se=2026-02-18T07%3A23%3A07Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB62EF78B85\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:08 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9808ff15-708a-f0a5-75a7-b2c3f6d95820?restype=share&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A07Z&se=2026-02-18T07%3A23%3A07Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB62F833024\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:09 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-04124d84-4ede-d4d3-e435-393af4650552/sourceFolder/test-file-ab2dad03-b604-45e4-09b7-52fb13ba296f?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A07Z&se=2026-02-18T07%3A23%3A07Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB62FBB6953\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-04124d84-4ede-d4d3-e435-393af4650552/sourceFolder/test-file-ab2dad03-b604-45e4-09b7-52fb13ba296f?comp=appendblock&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A07Z&se=2026-02-18T07%3A23%3A07Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "vZDmGdgaqhm8nnIEpboY/3lR1EKCfNcoSH9ok9u2NsqsgT2D1BCWxlnamFZoYAmIWNq0vWvITkG4vdBZshc9BmeoVyN9lStpug7pp+SAwOh24DoBAnhe5DP7yhY/PRNCnZHuvwjlC8KuSgNc3qZdN/3o49LcPATvSXLwgcsVKX36pwpSkgDfkNR4Urd1AgaMnpMYV1pBZmGN/3WW9Yn3mSGFYTecCqX9CFL9Y+lNeUdsZOI3/NIjuUCpxZKKSZtLgLmW76HO75TtG04HRAJ3QIYuKZGnv5xOYqj280UTcr+3seMvt4mmnXROSuGDG3Q+MYULXB8Ko8AdR4z52PxO2qmPUJIfSIj8iIwcWHW7y0czuMHABxWgrA4iEm/8rMV3AG8488riH+n8D9ST7Ut[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-04124d84-4ede-d4d3-e435-393af4650552/sourceFolder/bar/test-file-03a13735-08f7-9e88-0656-dc705d613d0b?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A07Z&se=2026-02-18T07%3A23%3A07Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB6303767A9\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-04124d84-4ede-d4d3-e435-393af4650552/sourceFolder/bar/test-file-03a13735-08f7-9e88-0656-dc705d613d0b?comp=appendblock&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A07Z&se=2026-02-18T07%3A23%3A07Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "2NAIl[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-04124d84-4ede-d4d3-e435-393af4650552/sourceFolder/pik/test-file-a25bec70-ff97-c324-c556-cd17665d6523?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A07Z&se=2026-02-18T07%3A23%3A07Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB63048E040\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-04124d84-4ede-d4d3-e435-393af4650552/sourceFolder/pik/test-file-a25bec70-ff97-c324-c556-cd17665d6523?comp=appendblock&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A07Z&se=2026-02-18T07%3A23%3A07Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "T1VXf[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9808ff15-708a-f0a5-75a7-b2c3f6d95820/destFolder?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A07Z&se=2026-02-18T07%3A23%3A07Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB63069DA40\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:10 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-02-18T06:23:10.8535872Z",
        "x-ms-file-creation-time": "2026-02-18T06:23:10.8535872Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-02-18T06:23:10.8535872Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-04124d84-4ede-d4d3-e435-393af4650552?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A07Z&se=2026-02-18T07%3A23%3A07Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-04124d84-4ede-d4d3-e435-393af4650552\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-55f303e0-dbf5-ae64-4371-da2e0f3f0ad0</Name><Properties><Creation-Time>Wed, 18 Feb 2026 06:23:10 GMT</Creation-Time><Last-Modified>Wed, 18 Feb 2026 06:23:10 GMT</Last-Modified><Etag>0x8DE6EB6302BD091</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-ab2dad03-b604-45e4-09b7-52fb13ba296f</Name><Properties><Creation-Time>Wed, 18 Feb 2026 06:23:09 GMT</Creation-Time><Last-Modified>Wed, 18 Feb 2026 06:23:09 GMT</Last-Modified><Etag>0x8DE6EB62FC632AD</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9808ff15-708a-f0a5-75a7-b2c3f6d95820/destFolder/bar?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A07Z&se=2026-02-18T07%3A23%3A07Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:afaaf36d-a01a-001e-439f-a04c6c000000\n",
        "Time:2026-02-18T06:23:11.5676602Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9808ff15-708a-f0a5-75a7-b2c3f6d95820/destFolder/pik?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A07Z&se=2026-02-18T07%3A23%3A07Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:afaaf36f-a01a-001e-459f-a04c6c000000\n",
        "Time:2026-02-18T06:23:11.7768931Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-04124d84-4ede-d4d3-e435-393af4650552?restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A07Z&se=2026-02-18T07%3A23%3A07Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeade[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9808ff15-708a-f0a5-75a7-b2c3f6d95820/destFolder/test-file-ab2dad03-b604-45e4-09b7-52fb13ba296f?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A07Z&se=2026-02-18T07%3A23%3A07Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-04124d84-4ede-d4d3-e435-393af4650552?restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A07Z&se=2026-02-18T07%3A23%3A07Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeade[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9808ff15-708a-f0a5-75a7-b2c3f6d95820/destFolder/bar/test-file-03a13735-08f7-9e88-0656-dc705d613d0b?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A07Z&se=2026-02-18T07%3A23%3A07Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9808ff15-708a-f0a5-75a7-b2c3f6d95820/destFolder/test-file-ab2dad03-b604-45e4-09b7-52fb13ba296f?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A07Z&se=2026-02-18T07%3A23%3A07Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-02-18T06:23:09.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB63134886F\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:23:12.1818735Z",
        "x-ms-file-creation-time": "2026-02-18T06:23:09.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2026-02-18T06:23:12.1818735Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9808ff15-708a-f0a5-75a7-b2c3f6d95820/destFolder/pik/test-file-a25bec70-ff97-c324-c556-cd17665d6523?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A07Z&se=2026-02-18T07%3A23%3A07Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9808ff15-708a-f0a5-75a7-b2c3f6d95820/destFolder/test-file-ab2dad03-b604-45e4-09b7-52fb13ba296f?comp=range&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A07Z&se=2026-02-18T07%3A23%3A07Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-04124d84-4ede-d4d3-e435-393af4650552/sourceFolder/test-file-ab2dad03-b604-45e4-09b7-52fb13ba296f?sv=sanitized-value&ss=b&srt=sco&st=2026-02-18T05%3A23%3A07Z&se=2026-02-18T07%3A23%3A07Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB6314D4BD6\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:12 GMT",
        "x-ms-content-crc64": "a7C1wpAzdzQ=",
        "x-ms-file-last-write-time": "2026-02-18T06:23:12.1818735Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9808ff15-708a-f0a5-75a7-b2c3f6d95820/destFolder/bar/test-file-03a13735-08f7-9e88-0656-dc705d613d0b?comp=range&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A07Z&se=2026-02-18T07%3A23%3A07Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-04124d84-4ede-d4d3-e435-393af4650552/sourceFolder/bar/test-file-03a13735-08f7-9e88-0656-dc705d613d0b?sv=sanitized-value&ss=b&srt=sco&st=2026-02-18T05%3A23%3A07Z&se=2026-02-18T07%3A23%3A07Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB6314FBA0E\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:12 GMT",
        "x-ms-content-crc64": "TsRTyGW4ncI=",
        "x-ms-file-last-write-time": "2026-02-18T06:23:12.2565458Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9808ff15-708a-f0a5-75a7-b2c3f6d95820/destFolder/pik/test-file-a25bec70-ff97-c324-c556-cd17665d6523?comp=range&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A07Z&se=2026-02-18T07%3A23%3A07Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-04124d84-4ede-d4d3-e435-393af4650552/sourceFolder/pik/test-file-a25bec70-ff97-c324-c556-cd17665d6523?sv=sanitized-value&ss=b&srt=sco&st=2026-02-18T05%3A23%3A07Z&se=2026-02-18T07%3A23%3A07Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB6315A835E\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:12 GMT",
        "x-ms-content-crc64": "rqM9CftFCXI=",
        "x-ms-file-last-write-time": "2026-02-18T06:23:12.3332099Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9808ff15-708a-f0a5-75a7-b2c3f6d95820/destFolder/test-file-55f303e0-dbf5-ae64-4371-da2e0f3f0ad0?comp=properties&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A07Z&se=2026-02-18T07%3A23%3A07Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-02-18T06:23:10.0000000Z",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB6315B6CBA\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:23:12.4367546Z",
        "x-ms-file-creation-time": "2026-02-18T06:23:10.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-02-18T06:23:12.1858555Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9808ff15-708a-f0a5-75a7-b2c3f6d95820/destFolder/bar/test-file-03a13735-08f7-9e88-0656-dc705d613d0b?comp=properties&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A07Z&se=2026-02-18T07%3A23%3A07Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-02-18T06:23:10.0000000Z",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB6315CCAC3\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:23:12.4457155Z",
        "x-ms-file-creation-time": "2026-02-18T06:23:10.0000000Z",
        "x-ms-file-id": "11529250230440558592",
        "x-ms-file-last-write-time": "2026-02-18T06:23:12.2565458Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9808ff15-708a-f0a5-75a7-b2c3f6d95820/destFolder/pik/test-file-a25bec70-ff97-c324-c556-cd17665d6523?comp=properties&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A07Z&se=2026-02-18T07%3A23%3A07Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-02-18T06:23:10.0000000Z",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB631646359\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:23:12.4954969Z",
        "x-ms-file-creation-time": "2026-02-18T06:23:10.0000000Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2026-02-18T06:23:12.3332099Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-04124d84-4ede-d4d3-e435-393af4650552?restype=container&comp=list&prefix=sourceFolder&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A07Z&se=2026-02-18T07%3A23%3A07Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applicat[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9808ff15-708a-f0a5-75a7-b2c3f6d95820/destFolder?restype=directory&comp=list&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A07Z&se=2026-02-18T07%3A23%3A07Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-9808ff15-708a-f0a5-75a7-b2c3f6d95820\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-55f303e0-dbf5-ae64-4371-da2e0f3f0ad0</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-ab2dad03-b604-45e4-09b7-52fb13ba296f</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9808ff15-708a-f0a5-75a7-b2c3f6d95820/destFolder/bar?restype=directory&comp=list&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A07Z&se=2026-02-18T07%3A23%3A07Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-9808ff15-708a-f0a5-75a7-b2c3f6d95820\" DirectoryPath=\"destFolder/bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-03a13735-08f7-9e88-0656-dc705d613d0b</Name><FileId>11529250230440558592</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9808ff15-708a-f0a5-75a7-b2c3f6d95820/destFolder/pik?restype=directory&comp=list&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A07Z&se=2026-02-18T07%3A23%3A07Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-9808ff15-708a-f0a5-75a7-b2c3f6d95820\" DirectoryPath=\"destFolder/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-a25bec70-ff97-c324-c556-cd17665d6523</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-04124d84-4ede-d4d3-e435-393af4650552/sourceFolder/bar/test-file-03a13735-08f7-9e88-0656-dc705d613d0b?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A07Z&se=2026-02-18T07%3A23%3A07Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE6EB63040376C\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:10 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 18 Feb 2026 06:23:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
[...]
