{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9a69a7b3-7a8e-719b-2755-576c5275ba88?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5693739E7FF2\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:29:05 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-8e46efc3-7110-daa3-1619-e496aaff5d0c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 Feb 2025 18:29:05 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD569373E76987\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:29:06 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9a69a7b3-7a8e-719b-2755-576c5275ba88/sourceFolder/test-file-46f72a51-0d38-e7bd-e3a5-0d44086637cd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD569374044CFF\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:29:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9a69a7b3-7a8e-719b-2755-576c5275ba88/sourceFolder/test-file-46f72a51-0d38-e7bd-e3a5-0d44086637cd?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "kBTqeFEji4nD8UEuaGM59dD6tM40EiwY8RtPwRcz0znzwbPze798ipV2ZTX4CXOTPQC5GPXkF33n0oY11MlxkB0HO6awRXkRfik5vq33IOiovIQXerpEDqo1C6k4R7bLBNQX8M7N4/eGp5rLq1jQ8LKejBdFWhZjwyz8ejnQ2DZzbbrY4C8Z29mMkNIfeGNRZRv2mrqehqq+tC2i0Gi+tc9kWD2e+A+ChLE+uMlEQ0rJqhUd2T571OcPGSwCdwpwztoDuyAlsm0MdBUIYM3genDi2CZToNyQ6INWjt7jgA2nzervQYcpo/enEWUpc3QaL5+7H57jHS3+ctOdziOPKPMIYZLi8TnpuTUuq452Z3UPPF8+KGFuw7C98M60jNTTGOlyIBHhNz5m0WZptXG[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9a69a7b3-7a8e-719b-2755-576c5275ba88/sourceFolder/bar/test-file-878bf202-37f2-efb4-e617-dc79abba01cf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5693744358E5\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:29:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9a69a7b3-7a8e-719b-2755-576c5275ba88/sourceFolder/bar/test-file-878bf202-37f2-efb4-e617-dc79abba01cf?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "FvwmDmciNLz/Rq1BqaV+dU/d17+MgF4MEhdXWAmYqpdEE3enSkTn373OiKuJc0VAmWYqzuJBQ5WdGvxP[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9a69a7b3-7a8e-719b-2755-576c5275ba88/sourceFolder/pik/test-file-7e99eb6f-af8d-5623-8e7c-928ea8aa8b34",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5693746256B8\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:29:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9a69a7b3-7a8e-719b-2755-576c5275ba88/sourceFolder/pik/test-file-7e99eb6f-af8d-5623-8e7c-928ea8aa8b34?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "M5k2J9JtZ0mEL/UZJ3cWvhBq1o0VKedcMveoOBy1Wi77v8wdA5IIAoRP+l66Ci4WZtN9PdT+Hgqx2vTa[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-8e46efc3-7110-daa3-1619-e496aaff5d0c/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 Feb 2025 18:29:07 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5693747CA254\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:29:07 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-26T18:29:07.0984788Z",
        "x-ms-file-creation-time": "2025-02-26T18:29:07.0984788Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-26T18:29:07.0984788Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9a69a7b3-7a8e-719b-2755-576c5275ba88?restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-9a69a7b3-7a8e-719b-2755-576c5275ba88\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-878bf202-37f2-efb4-e617-dc79abba01cf</Name><Properties><Creation-Time>Wed, 26 Feb 2025 18:29:06 GMT</Creation-Time><Last-Modified>Wed, 26 Feb 2025 18:29:06 GMT</Last-Modified><Etag>0x8DD56937452B0E6</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-7e99eb6f-af8d-5623-8e7c-928ea8aa8b34</Name><Properties><Creation-Time>Wed, 26 Feb 2025 18:29:06 GMT</Creation-Time><Last-Modified>Wed, 26 Feb 2025 18:29:06 GMT</Last-Modified><Etag>0x8DD5693746B7434</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-D[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-8e46efc3-7110-daa3-1619-e496aaff5d0c/destFolder/bar?sv=Sanitized&se=2025-02-27T18%3A29%3A07Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD569374A311EC\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:29:07 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-26T18:29:07.3503724Z",
        "x-ms-file-creation-time": "2025-02-26T18:29:07.3503724Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-02-26T18:29:07.3503724Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-8e46efc3-7110-daa3-1619-e496aaff5d0c/destFolder/pik?sv=Sanitized&se=2025-02-27T18%3A29%3A07Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD569374E76F3B\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:29:07 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-26T18:29:07.7984059Z",
        "x-ms-file-creation-time": "2025-02-26T18:29:07.7984059Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-02-26T18:29:07.7984059Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-8e46efc3-7110-daa3-1619-e496aaff5d0c/destFolder/bar/test-file-878bf202-37f2-efb4-e617-dc79abba01cf?sv=Sanitized&se=2025-02-27T18%3A29%3A07Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-8e46efc3-7110-daa3-1619-e496aaff5d0c/destFolder/test-file-29ff20ae-3926-db38-f777-f68913a9b24c?sv=Sanitized&se=2025-02-27T18%3A29%3A07Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-8e46efc3-7110-daa3-1619-e496aaff5d0c/destFolder/bar/test-file-878bf202-37f2-efb4-e617-dc79abba01cf?sv=Sanitized&se=2025-02-27T18%3A29%3A07Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-26T18:29:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5693778F6E9E\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:29:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-26T18:29:12.2548382Z",
        "x-ms-file-creation-time": "2025-02-26T18:29:06.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-02-26T18:29:12.2548382Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-8e46efc3-7110-daa3-1619-e496aaff5d0c/destFolder/pik/test-file-7e99eb6f-af8d-5623-8e7c-928ea8aa8b34?sv=Sanitized&se=2025-02-27T18%3A29%3A07Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-8e46efc3-7110-daa3-1619-e496aaff5d0c/destFolder/test-file-29ff20ae-3926-db38-f777-f68913a9b24c?sv=Sanitized&se=2025-02-27T18%3A29%3A07Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-9a69a7b3-7a8e-719b-2755-576c5275ba88/sourceFolder/test-file-29ff20ae-3926-db38-f777-f68913a9b24c",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD569377D07446\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:29:12 GMT",
        "x-ms-content-crc64": "mJWt2jY9XAY=",
        "x-ms-file-last-write-time": "2025-02-26T18:29:12.3623660Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-8e46efc3-7110-daa3-1619-e496aaff5d0c/destFolder/bar/test-file-878bf202-37f2-efb4-e617-dc79abba01cf?sv=Sanitized&se=2025-02-27T18%3A29%3A07Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-9a69a7b3-7a8e-719b-2755-576c5275ba88/sourceFolder/bar/test-file-878bf202-37f2-efb4-e617-dc79abba01cf",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD569377D37E1B\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:29:12 GMT",
        "x-ms-content-crc64": "Nq/XFpyvU4w=",
        "x-ms-file-last-write-time": "2025-02-26T18:29:12.2548382Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-8e46efc3-7110-daa3-1619-e496aaff5d0c/destFolder/test-file-29ff20ae-3926-db38-f777-f68913a9b24c?sv=Sanitized&se=2025-02-27T18%3A29%3A07Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-26T18:29:06.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD569377EE61F4\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:29:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-26T18:29:12.8771060Z",
        "x-ms-file-creation-time": "2025-02-26T18:29:06.0000000Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-02-26T18:29:12.3623660Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-8e46efc3-7110-daa3-1619-e496aaff5d0c/destFolder/bar/test-file-878bf202-37f2-efb4-e617-dc79abba01cf?sv=Sanitized&se=2025-02-27T18%3A29%3A07Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-26T18:29:06.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD569377F11E03\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:29:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-26T18:29:12.8950275Z",
        "x-ms-file-creation-time": "2025-02-26T18:29:06.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-02-26T18:29:12.2548382Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-8e46efc3-7110-daa3-1619-e496aaff5d0c/destFolder/pik/test-file-7e99eb6f-af8d-5623-8e7c-928ea8aa8b34?sv=Sanitized&se=2025-02-27T18%3A29%3A07Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-9a69a7b3-7a8e-719b-2755-576c5275ba88/sourceFolder/pik/test-file-7e99eb6f-af8d-5623-8e7c-928ea8aa8b34",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD569377F00DC4\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:29:12 GMT",
        "x-ms-content-crc64": "rNJ6XzgvQUo=",
        "x-ms-file-last-write-time": "2025-02-26T18:29:12.6730022Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-8e46efc3-7110-daa3-1619-e496aaff5d0c/destFolder/pik/test-file-7e99eb6f-af8d-5623-8e7c-928ea8aa8b34?sv=Sanitized&se=2025-02-27T18%3A29%3A07Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-26T18:29:06.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD569377FEF123\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:29:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-26T18:29:12.9856291Z",
        "x-ms-file-creation-time": "2025-02-26T18:29:06.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-02-26T18:29:12.6730022Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9a69a7b3-7a8e-719b-2755-576c5275ba88?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-8e46efc3-7110-daa3-1619-e496aaff5d0c/destFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 Feb 2025 18:29:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-8e46efc3-7110-daa3-1619-e496aaff5d0c\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-29ff20ae-3926-db38-f777-f68913a9b24c</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-46f72a51-0d38-e7bd-e3a5-0d44086637cd</Name><FileId>12682206919419494400</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-8e46efc3-7110-daa3-1619-e496aaff5d0c/destFolder/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 Feb 2025 18:29:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-8e46efc3-7110-daa3-1619-e496aaff5d0c\" DirectoryPath=\"destFolder/bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-878bf202-37f2-efb4-e617-dc79abba01cf</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-8e46efc3-7110-daa3-1619-e496aaff5d0c/destFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 Feb 2025 18:29:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-8e46efc3-7110-daa3-1619-e496aaff5d0c\" DirectoryPath=\"destFolder/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-7e99eb6f-af8d-5623-8e7c-928ea8aa8b34</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9a69a7b3-7a8e-719b-2755-576c5275ba88/sourceFolder/bar/test-file-878bf202-37f2-efb4-e617-dc79abba01cf",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD56937452B0E6\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:29:06 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 26 Feb 2025 18:29:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-8e46efc3-7110-daa3-1619-e496aaff5d0c/destFolder/bar/test-file-878bf202-37f2-efb4-e617-dc79abba01cf",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 Feb 2025 18:29:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD569377F11E03\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:29:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-26T18:29:12.8950275Z",
        "x-ms-file-creation-time": "2025-02-26T18:29:06.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-02-26T18:29:12.2548382Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9a69a7b3-7a8e-719b-2755-576c5275ba88/sourceFolder/bar/test-file-878bf202-37f2-efb4-e617-dc79abba01cf",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD56937452B0E6\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD56937452B0E6\"",
        "Last-Modified": "Wed, 26 Feb 2025 18:29:06 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 26 Feb 2025 18:29:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
[...]
