{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6e166029-c8cf-8a4b-a07b-b1636aa6f88a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFACC533FAB\"",
        "Last-Modified": "Wed, 07 May 2025 00:04:55 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c56c6c5d-92cb-f4b3-c391-2f3d0876d98f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 00:04:55 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFACC5D5C3F\"",
        "Last-Modified": "Wed, 07 May 2025 00:04:55 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6e166029-c8cf-8a4b-a07b-b1636aa6f88a/sourceFolder/test-file-de34689e-c74c-5927-1373-30af7a23b77a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFACC66E5BC\"",
        "Last-Modified": "Wed, 07 May 2025 00:04:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T00:04:55.5486652Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6e166029-c8cf-8a4b-a07b-b1636aa6f88a/sourceFolder/test-file-de34689e-c74c-5927-1373-30af7a23b77a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "/gbw1BWVD2OaHTEwZgO+9CS2gsUe1xIKfate7UEshFoSzLBzM+Nkh8Ouq+FjuyN8oJHWHjabRCf05ldqNyIibZnWHZlTSsFBUfsBcCswpsGI4U2vVmYkd4eJf0yL+k+hjD5IjJ2JKVXQlMw6mtT7w0CV4lXUchYysqYRyct1tVarX+Tt6Bkk/rj438KZ6d2zjbsM9hj5zRooFdr2eF+JW952jzrvDtomcOOd3JJTmMjJXTsQab8+sZLKxNM+LoZYboTkI1qixH/h5YY0XPCH1HwSLRokefIfON2oJUkH50JdRG0Ob3VuJ5m8L4M5CVWhQvBWLABsNPWSxOp8+Z412f5D1xeDeWQHpAaAaEpu5S+HB+JZsbpB8RB4e6qK8S36hlWF9TE+HsiLT4j668y[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6e166029-c8cf-8a4b-a07b-b1636aa6f88a/sourceFolder/bar/test-file-3198250b-aa5d-861e-f5a7-78bf54a9afc1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFACC8517BD\"",
        "Last-Modified": "Wed, 07 May 2025 00:04:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T00:04:55.7465533Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6e166029-c8cf-8a4b-a07b-b1636aa6f88a/sourceFolder/bar/test-file-3198250b-aa5d-861e-f5a7-78bf54a9afc1?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "Q7fnzgBZkEiouSs5qs1XNiyO7X9HuB04i8BjiCI13X1Xnre3KA0xsZRQiKR/5dsoT0KSxbsweYqar0[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6e166029-c8cf-8a4b-a07b-b1636aa6f88a/sourceFolder/pik/test-file-dc721454-3d6c-7a3c-51bc-2c2b2173e3ec",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFACC9430BE\"",
        "Last-Modified": "Wed, 07 May 2025 00:04:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T00:04:55.8454974Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6e166029-c8cf-8a4b-a07b-b1636aa6f88a/sourceFolder/pik/test-file-dc721454-3d6c-7a3c-51bc-2c2b2173e3ec?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "P4TEMn/RgsXingLPDr/iqVgbJV+CSJsxFkSwGtyRqS790CTl9y/xg5Ks+c07bWuS2oPSBU6Daffpkh[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c56c6c5d-92cb-f4b3-c391-2f3d0876d98f/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 00:04:55 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFACCA3A4EA\"",
        "Last-Modified": "Wed, 07 May 2025 00:04:55 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-07T00:04:55.9467754Z",
        "x-ms-file-creation-time": "2025-05-07T00:04:55.9467754Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-07T00:04:55.9467754Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6e166029-c8cf-8a4b-a07b-b1636aa6f88a?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-6e166029-c8cf-8a4b-a07b-b1636aa6f88a\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-4611d31d-94ff-89eb-805e-86fad4b86063</Name><VersionId>2025-05-07T00:04:55.6536063Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 00:04:55 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 00:04:55 GMT</Last-Modified><Etag>0x8DD8CFACC7DECD7</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-de34689e-c74c-5927-1373-30af7a23b77a</Name><VersionId>2025-05-07T00:04:55.5486652Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 00:04:55 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 00:04:55 GMT</Last-Modified><Etag>0x8DD8CFACC6E10A3</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c56c6c5d-92cb-f4b3-c391-2f3d0876d98f/destFolder/bar?sv=Sanitized&se=2025-05-08T00%3A04%3A55Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFACCB99AB2\"",
        "Last-Modified": "Wed, 07 May 2025 00:04:56 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c56c6c5d-92cb-f4b3-c391-2f3d0876d98f/destFolder/pik?sv=Sanitized&se=2025-05-08T00%3A04%3A55Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFACCC161BF\"",
        "Last-Modified": "Wed, 07 May 2025 00:04:56 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6e166029-c8cf-8a4b-a07b-b1636aa6f88a?restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version":[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6e166029-c8cf-8a4b-a07b-b1636aa6f88a?restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version":[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c56c6c5d-92cb-f4b3-c391-2f3d0876d98f/destFolder/test-file-de34689e-c74c-5927-1373-30af7a23b77a?sv=Sanitized&se=2025-05-08T00%3A04%3A55Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c56c6c5d-92cb-f4b3-c391-2f3d0876d98f/destFolder/test-file-de34689e-c74c-5927-1373-30af7a23b77a?sv=Sanitized&se=2025-05-08T00%3A04%3A55Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFACDC369DE\"",
        "Last-Modified": "Wed, 07 May 2025 00:04:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c56c6c5d-92cb-f4b3-c391-2f3d0876d98f/destFolder/bar/test-file-3198250b-aa5d-861e-f5a7-78bf54a9afc1?sv=Sanitized&se=2025-05-08T00%3A04%3A55Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c56c6c5d-92cb-f4b3-c391-2f3d0876d98f/destFolder/pik/test-file-dc721454-3d6c-7a3c-51bc-2c2b2173e3ec?sv=Sanitized&se=2025-05-08T00%3A04%3A55Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c56c6c5d-92cb-f4b3-c391-2f3d0876d98f/destFolder/test-file-de34689e-c74c-5927-1373-30af7a23b77a?sv=Sanitized&se=2025-05-08T00%3A04%3A55Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-6e166029-c8cf-8a4b-a07b-b1636aa6f88a/sourceFolder/test-file-de34689e-c74c-5927-1373-30af7a23b77a",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFACDD01236\"",
        "Last-Modified": "Wed, 07 May 2025 00:04:57 GMT",
        "x-ms-content-crc64": "EUUX9aaHP78=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c56c6c5d-92cb-f4b3-c391-2f3d0876d98f/destFolder/test-file-de34689e-c74c-5927-1373-30af7a23b77a?sv=Sanitized&se=2025-05-08T00%3A04%3A55Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US,en-CA",
     [...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c56c6c5d-92cb-f4b3-c391-2f3d0876d98f/destFolder/bar/test-file-3198250b-aa5d-861e-f5a7-78bf54a9afc1?sv=Sanitized&se=2025-05-08T00%3A04%3A55Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-6e166029-c8cf-8a4b-a07b-b1636aa6f88a/sourceFolder/bar/test-file-3198250b-aa5d-861e-f5a7-78bf54a9afc1",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFACDDB3424\"",
        "Last-Modified": "Wed, 07 May 2025 00:04:57 GMT",
        "x-ms-content-crc64": "8Jnag2Rr/lI=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c56c6c5d-92cb-f4b3-c391-2f3d0876d98f/destFolder/pik/test-file-dc721454-3d6c-7a3c-51bc-2c2b2173e3ec?sv=Sanitized&se=2025-05-08T00%3A04%3A55Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-6e166029-c8cf-8a4b-a07b-b1636aa6f88a/sourceFolder/pik/test-file-dc721454-3d6c-7a3c-51bc-2c2b2173e3ec",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFACDE3E570\"",
        "Last-Modified": "Wed, 07 May 2025 00:04:58 GMT",
        "x-ms-content-crc64": "g4RaZU4sMP0=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c56c6c5d-92cb-f4b3-c391-2f3d0876d98f/destFolder/bar/test-file-3198250b-aa5d-861e-f5a7-78bf54a9afc1?sv=Sanitized&se=2025-05-08T00%3A04%3A55Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US,en-CA",
 [...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c56c6c5d-92cb-f4b3-c391-2f3d0876d98f/destFolder/pik/test-file-dc721454-3d6c-7a3c-51bc-2c2b2173e3ec?sv=Sanitized&se=2025-05-08T00%3A04%3A55Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US,en-CA",
 [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6e166029-c8cf-8a4b-a07b-b1636aa6f88a?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBo[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c56c6c5d-92cb-f4b3-c391-2f3d0876d98f/destFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 00:04:58 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-c56c6c5d-92cb-f4b3-c391-2f3d0876d98f\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-4611d31d-94ff-89eb-805e-86fad4b86063</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-de34689e-c74c-5927-1373-30af7a23b77a</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c56c6c5d-92cb-f4b3-c391-2f3d0876d98f/destFolder/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 00:04:58 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-c56c6c5d-92cb-f4b3-c391-2f3d0876d98f\" DirectoryPath=\"destFolder/bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-3198250b-aa5d-861e-f5a7-78bf54a9afc1</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c56c6c5d-92cb-f4b3-c391-2f3d0876d98f/destFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 00:04:58 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-c56c6c5d-92cb-f4b3-c391-2f3d0876d98f\" DirectoryPath=\"destFolder/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-dc721454-3d6c-7a3c-51bc-2c2b2173e3ec</Name><FileId>13835075647468208128</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6e166029-c8cf-8a4b-a07b-b1636aa6f88a/sourceFolder/bar/test-file-3198250b-aa5d-861e-f5a7-78bf54a9afc1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8CFACC8D05D9\"",
        "Last-Modified": "Wed, 07 May 2025 00:04:55 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 00:04:55 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T00:04:55.7465533Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c56c6c5d-92cb-f4b3-c391-2f3d0876d98f/destFolder/bar/test-file-3198250b-aa5d-861e-f5a7-78bf54a9afc1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 00:04:58 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6e166029-c8cf-8a4b-a07b-b1636aa6f88a/sourceFolder/bar/test-file-3198250b-aa5d-861e-f5a7-78bf54a9afc1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD8CFACC8D05D9\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8CFACC8D05D9\"",
        "Last-Modified": "Wed, 07 May 2025 00:04:55 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 00:04:55 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c56c6c5d-92cb-f4b3-c391-2f3d0876d98f/destFolder/pik/test-file-dc721454-3d6c-7a3c-51bc-2c2b2173e3ec",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 00:04:58 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
[...]
[...]
    {
[...]
