{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ae47dc23-50ca-6fc5-0858-5ac3fcadf1e7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B405F2669D\"",
        "Last-Modified": "Fri, 16 May 2025 19:58:27 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-47e97900-ff25-1c6d-9e06-ec19a7fea10e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 19:58:27 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B405FB576E\"",
        "Last-Modified": "Fri, 16 May 2025 19:58:27 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ae47dc23-50ca-6fc5-0858-5ac3fcadf1e7/sourceFolder/test-file-44f797ee-1c72-a74d-1098-012421e0ba20",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B406062155\"",
        "Last-Modified": "Fri, 16 May 2025 19:58:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ae47dc23-50ca-6fc5-0858-5ac3fcadf1e7/sourceFolder/test-file-44f797ee-1c72-a74d-1098-012421e0ba20?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "E5yeyoa3g/ThH0R3Rg9JKqvZbd+idQqhmXZ2g6OIRx8eZhCFQu+ZU3MTlhgJhTq9pU0ahoOb+J2R/DEPQABRWdckWd//xOi8Pxprjt/ymBM8uN5VbcGcg25y80W+iRJzwjxA5CxavuFkXUZpL2m9nmQd04gh++sWh9ZwjNCi/bUH+MyjsrPn4fr98A96M1MEtFThobaKUcZQKlxW6jIQwmCRYTadGuywNfKNJArbm1SCbNd7wFz/facFUodWkPfI7C6v6dEcZplnMWvD/Cy8dY8I031alQEDkuSPmMhlWaX7xTjcK7KCZgU9FI/xO4B6SN34Trx5blctrFftjM3RAtfFyDf04EnchW14HIBxEVZkFE/rbQvogVfhrn9bldk3bBG3K3JJhmiTG8hPAVH[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ae47dc23-50ca-6fc5-0858-5ac3fcadf1e7/sourceFolder/bar/test-file-e561333b-5dfa-6769-b64a-d5d462659088",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B406574243\"",
        "Last-Modified": "Fri, 16 May 2025 19:58:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ae47dc23-50ca-6fc5-0858-5ac3fcadf1e7/sourceFolder/bar/test-file-e561333b-5dfa-6769-b64a-d5d462659088?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "tpT8VEw77n5TFNxNnD6rYAFe2QTkzpwS1Rul7XHpU6qLN3FIUjDpAETikuWAHMt3nnTTBIuLpOf36X4w[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ae47dc23-50ca-6fc5-0858-5ac3fcadf1e7/sourceFolder/pik/test-file-8647c451-ad52-0ea8-8d4d-c62d5b3542b9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B406681F74\"",
        "Last-Modified": "Fri, 16 May 2025 19:58:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ae47dc23-50ca-6fc5-0858-5ac3fcadf1e7/sourceFolder/pik/test-file-8647c451-ad52-0ea8-8d4d-c62d5b3542b9?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "Iy5Huq+p9RjrSFXoYxefUDMwkDtmfjKMVvUEQbuH49UkHbNwMmlaqM4umglYv6t2rXb5KqUHUqT8u2O6[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-47e97900-ff25-1c6d-9e06-ec19a7fea10e/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 19:58:27 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B40679BD7E\"",
        "Last-Modified": "Fri, 16 May 2025 19:58:28 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-16T19:58:28.0144254Z",
        "x-ms-file-creation-time": "2025-05-16T19:58:28.0144254Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-16T19:58:28.0144254Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ae47dc23-50ca-6fc5-0858-5ac3fcadf1e7?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-ae47dc23-50ca-6fc5-0858-5ac3fcadf1e7\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-44f797ee-1c72-a74d-1098-012421e0ba20</Name><Properties><Creation-Time>Fri, 16 May 2025 19:58:27 GMT</Creation-Time><Last-Modified>Fri, 16 May 2025 19:58:27 GMT</Last-Modified><Etag>0x8DD94B4060EA35C</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-7708f70a-4d37-80fd-cdee-78c55ff07a9a</Name><Properties><Creation-Time>Fri, 16 May 2025 19:58:27 GMT</Creation-Time><Last-Modified>Fri, 16 May 2025 19:58:27 GMT</Last-Modified><Etag>0x8DD94B4064EC03F</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-47e97900-ff25-1c6d-9e06-ec19a7fea10e/destFolder/bar?sv=Sanitized&se=2025-05-17T19%3A58%3A27Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B4068FC4E5\"",
        "Last-Modified": "Fri, 16 May 2025 19:58:28 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-47e97900-ff25-1c6d-9e06-ec19a7fea10e/destFolder/pik?sv=Sanitized&se=2025-05-17T19%3A58%3A27Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B40698BB8E\"",
        "Last-Modified": "Fri, 16 May 2025 19:58:28 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ae47dc23-50ca-6fc5-0858-5ac3fcadf1e7?restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ae47dc23-50ca-6fc5-0858-5ac3fcadf1e7?restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-47e97900-ff25-1c6d-9e06-ec19a7fea10e/destFolder/test-file-44f797ee-1c72-a74d-1098-012421e0ba20?sv=Sanitized&se=2025-05-17T19%3A58%3A27Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-47e97900-ff25-1c6d-9e06-ec19a7fea10e/destFolder/test-file-44f797ee-1c72-a74d-1098-012421e0ba20?sv=Sanitized&se=2025-05-17T19%3A58%3A27Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B408F01263\"",
        "Last-Modified": "Fri, 16 May 2025 19:58:32 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-47e97900-ff25-1c6d-9e06-ec19a7fea10e/destFolder/pik/test-file-8647c451-ad52-0ea8-8d4d-c62d5b3542b9?sv=Sanitized&se=2025-05-17T19%3A58%3A27Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-47e97900-ff25-1c6d-9e06-ec19a7fea10e/destFolder/test-file-44f797ee-1c72-a74d-1098-012421e0ba20?sv=Sanitized&se=2025-05-17T19%3A58%3A27Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-ae47dc23-50ca-6fc5-0858-5ac3fcadf1e7/sourceFolder/test-file-44f797ee-1c72-a74d-1098-012421e0ba20",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B408FB9E3B\"",
        "Last-Modified": "Fri, 16 May 2025 19:58:32 GMT",
        "x-ms-content-crc64": "8sRPWQ8xsU8=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-47e97900-ff25-1c6d-9e06-ec19a7fea10e/destFolder/test-file-44f797ee-1c72-a74d-1098-012421e0ba20?sv=Sanitized&se=2025-05-17T19%3A58%3A27Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US,en-CA",
       [...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-47e97900-ff25-1c6d-9e06-ec19a7fea10e/destFolder/pik/test-file-8647c451-ad52-0ea8-8d4d-c62d5b3542b9?sv=Sanitized&se=2025-05-17T19%3A58%3A27Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-ae47dc23-50ca-6fc5-0858-5ac3fcadf1e7/sourceFolder/pik/test-file-8647c451-ad52-0ea8-8d4d-c62d5b3542b9",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B4090B1D49\"",
        "Last-Modified": "Fri, 16 May 2025 19:58:32 GMT",
        "x-ms-content-crc64": "7XljBOTdS4M=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-47e97900-ff25-1c6d-9e06-ec19a7fea10e/destFolder/pik/test-file-8647c451-ad52-0ea8-8d4d-c62d5b3542b9?sv=Sanitized&se=2025-05-17T19%3A58%3A27Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US,en-CA",
   [...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-47e97900-ff25-1c6d-9e06-ec19a7fea10e/destFolder/bar/test-file-e561333b-5dfa-6769-b64a-d5d462659088?sv=Sanitized&se=2025-05-17T19%3A58%3A27Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-47e97900-ff25-1c6d-9e06-ec19a7fea10e/destFolder/bar/test-file-e561333b-5dfa-6769-b64a-d5d462659088?sv=Sanitized&se=2025-05-17T19%3A58%3A27Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-ae47dc23-50ca-6fc5-0858-5ac3fcadf1e7/sourceFolder/bar/test-file-e561333b-5dfa-6769-b64a-d5d462659088",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B409821212\"",
        "Last-Modified": "Fri, 16 May 2025 19:58:33 GMT",
        "x-ms-content-crc64": "HsiQSqd3sN4=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-47e97900-ff25-1c6d-9e06-ec19a7fea10e/destFolder/bar/test-file-e561333b-5dfa-6769-b64a-d5d462659088?sv=Sanitized&se=2025-05-17T19%3A58%3A27Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US,en-CA",
   [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ae47dc23-50ca-6fc5-0858-5ac3fcadf1e7?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-47e97900-ff25-1c6d-9e06-ec19a7fea10e/destFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 19:58:33 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-47e97900-ff25-1c6d-9e06-ec19a7fea10e\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-44f797ee-1c72-a74d-1098-012421e0ba20</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-7708f70a-4d37-80fd-cdee-78c55ff07a9a</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-47e97900-ff25-1c6d-9e06-ec19a7fea10e/destFolder/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 19:58:33 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-47e97900-ff25-1c6d-9e06-ec19a7fea10e\" DirectoryPath=\"destFolder/bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-e561333b-5dfa-6769-b64a-d5d462659088</Name><FileId>11529320599184736256</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-47e97900-ff25-1c6d-9e06-ec19a7fea10e/destFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 19:58:33 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-47e97900-ff25-1c6d-9e06-ec19a7fea10e\" DirectoryPath=\"destFolder/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-8647c451-ad52-0ea8-8d4d-c62d5b3542b9</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ae47dc23-50ca-6fc5-0858-5ac3fcadf1e7/sourceFolder/bar/test-file-e561333b-5dfa-6769-b64a-d5d462659088",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD94B4065F9D6E\"",
        "Last-Modified": "Fri, 16 May 2025 19:58:27 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 16 May 2025 19:58:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-47e97900-ff25-1c6d-9e06-ec19a7fea10e/destFolder/bar/test-file-e561333b-5dfa-6769-b64a-d5d462659088",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 19:58:33 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
  [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ae47dc23-50ca-6fc5-0858-5ac3fcadf1e7/sourceFolder/bar/test-file-e561333b-5dfa-6769-b64a-d5d462659088",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD94B4065F9D6E\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD94B4065F9D6E\"",
        "Last-Modified": "Fri, 16 May 2025 19:58:27 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 16 May 2025 19:58:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
   [...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-47e97900-ff25-1c6d-9e06-ec19a7fea10e/destFolder/pik/test-file-8647c451-ad52-0ea8-8d4d-c62d5b3542b9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 19:58:34 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
  [...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-47e97900-ff25-1c6d-9e06-ec19a7fea10e/destFolder/test-file-44f797ee-1c72-a74d-1098-012421e0ba20",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 19:58:34 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
      [...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-47e97900-ff25-1c6d-9e06-ec19a7fea10e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
[...]
