{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0177b102-7282-50da-dc7d-9baec3bab6cb?restype=container&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A56Z&se=2026-02-18T07%3A23%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB64BE18168\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:56 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-38dca87a-bb71-659e-72e1-1b85072fc741?restype=share&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A56Z&se=2026-02-18T07%3A23%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB64C54FA89\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:57 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0177b102-7282-50da-dc7d-9baec3bab6cb/sourceFolder/test-file-80f0d5de-0727-6c2e-145f-96b28970df06?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A56Z&se=2026-02-18T07%3A23%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB64C9A89F4\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0177b102-7282-50da-dc7d-9baec3bab6cb/sourceFolder/test-file-80f0d5de-0727-6c2e-145f-96b28970df06?comp=appendblock&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A56Z&se=2026-02-18T07%3A23%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "kTJPsHu7dpsnw8xezZ1KZI4vsJ82fP/3UXP13Yu1lNb/DSBXIC6K6gZGiTwZJK/s/xfqqI3AUhQyV14HxZkPcS/2X8B880RfpMaZ7/PD3i3ECd10y+tIProMJMjPgiRtNhcMIsTvbwzTigTHJ2Mhb3kxQ7y7m6ZErSEFcM97jyGiLLjbtrto1ZrRoUDmgRdX6rVPnj9nsZtxyHWj6f49V/vjJfuqRri9yW4h6vplXSwKroYZK/HiOnodau5GxOublElFA1wcraT9kdTRRsehC2tJmTt4IysJAOqAjdvKdwSChlWwH1nP7QHhHJkcEPSze16D/SuwI3EdPAJxmx/IMhrQTr9x8OsReas5lgaS7fD2zRF8RnnZ0WLkk+NXXVHhGel/TMI0QYpzcoN/d4x[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0177b102-7282-50da-dc7d-9baec3bab6cb/sourceFolder/bar/test-file-1a8d3119-bc2d-dc11-7a6f-5cfedc878c8a?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A56Z&se=2026-02-18T07%3A23%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB64CF99CF4\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0177b102-7282-50da-dc7d-9baec3bab6cb/sourceFolder/bar/test-file-1a8d3119-bc2d-dc11-7a6f-5cfedc878c8a?comp=appendblock&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A56Z&se=2026-02-18T07%3A23%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "ul8Xm[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0177b102-7282-50da-dc7d-9baec3bab6cb/sourceFolder/pik/test-file-39ddcf87-98a6-120b-e5cd-bc00099197e4?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A56Z&se=2026-02-18T07%3A23%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB64D0CE843\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0177b102-7282-50da-dc7d-9baec3bab6cb/sourceFolder/pik/test-file-39ddcf87-98a6-120b-e5cd-bc00099197e4?comp=appendblock&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A56Z&se=2026-02-18T07%3A23%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "v2+rY[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-38dca87a-bb71-659e-72e1-1b85072fc741/destFolder?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A56Z&se=2026-02-18T07%3A23%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB64D284DD1\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:59 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-02-18T06:23:59.0779345Z",
        "x-ms-file-creation-time": "2026-02-18T06:23:59.0779345Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-02-18T06:23:59.0779345Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0177b102-7282-50da-dc7d-9baec3bab6cb?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A56Z&se=2026-02-18T07%3A23%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-0177b102-7282-50da-dc7d-9baec3bab6cb\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-80f0d5de-0727-6c2e-145f-96b28970df06</Name><Properties><Creation-Time>Wed, 18 Feb 2026 06:23:58 GMT</Creation-Time><Last-Modified>Wed, 18 Feb 2026 06:23:58 GMT</Last-Modified><Etag>0x8DE6EB64CD0BF14</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-b1e27da5-e6ff-7d83-8a4a-7c78d83d6089</Name><Properties><Creation-Time>Wed, 18 Feb 2026 06:23:58 GMT</Creation-Time><Last-Modified>Wed, 18 Feb 2026 06:23:58 GMT</Last-Modified><Etag>0x8DE6EB64CE87239</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-38dca87a-bb71-659e-72e1-1b85072fc741/destFolder/bar?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A56Z&se=2026-02-18T07%3A23%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:1b8a96fa-101a-0024-079f-a05614000000\n",
        "Time:2026-02-18T06:23:59.2843877Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-38dca87a-bb71-659e-72e1-1b85072fc741/destFolder/pik?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A56Z&se=2026-02-18T07%3A23%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:1b8a96fc-101a-0024-099f-a05614000000\n",
        "Time:2026-02-18T06:23:59.4416424Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0177b102-7282-50da-dc7d-9baec3bab6cb?restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A56Z&se=2026-02-18T07%3A23%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeade[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-38dca87a-bb71-659e-72e1-1b85072fc741/destFolder/test-file-80f0d5de-0727-6c2e-145f-96b28970df06?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A56Z&se=2026-02-18T07%3A23%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0177b102-7282-50da-dc7d-9baec3bab6cb?restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A56Z&se=2026-02-18T07%3A23%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeade[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-38dca87a-bb71-659e-72e1-1b85072fc741/destFolder/bar/test-file-1a8d3119-bc2d-dc11-7a6f-5cfedc878c8a?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A56Z&se=2026-02-18T07%3A23%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-38dca87a-bb71-659e-72e1-1b85072fc741/destFolder/test-file-80f0d5de-0727-6c2e-145f-96b28970df06?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A56Z&se=2026-02-18T07%3A23%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-02-18T06:23:58.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB64DA15489\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:59 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:23:59.8710921Z",
        "x-ms-file-creation-time": "2026-02-18T06:23:58.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2026-02-18T06:23:59.8710921Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-38dca87a-bb71-659e-72e1-1b85072fc741/destFolder/pik/test-file-39ddcf87-98a6-120b-e5cd-bc00099197e4?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A56Z&se=2026-02-18T07%3A23%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-38dca87a-bb71-659e-72e1-1b85072fc741/destFolder/bar/test-file-1a8d3119-bc2d-dc11-7a6f-5cfedc878c8a?comp=range&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A56Z&se=2026-02-18T07%3A23%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-0177b102-7282-50da-dc7d-9baec3bab6cb/sourceFolder/bar/test-file-1a8d3119-bc2d-dc11-7a6f-5cfedc878c8a?sv=sanitized-value&ss=b&srt=sco&st=2026-02-18T05%3A23%3A56Z&se=2026-02-18T07%3A23%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB64EFCF0C9\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:02 GMT",
        "x-ms-content-crc64": "qQceou7VGKo=",
        "x-ms-file-last-write-time": "2026-02-18T06:24:00.1488735Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-38dca87a-bb71-659e-72e1-1b85072fc741/destFolder/test-file-80f0d5de-0727-6c2e-145f-96b28970df06?comp=range&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A56Z&se=2026-02-18T07%3A23%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-0177b102-7282-50da-dc7d-9baec3bab6cb/sourceFolder/test-file-80f0d5de-0727-6c2e-145f-96b28970df06?sv=sanitized-value&ss=b&srt=sco&st=2026-02-18T05%3A23%3A56Z&se=2026-02-18T07%3A23%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB64EFE4ED2\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:02 GMT",
        "x-ms-content-crc64": "JWQm+TBMD68=",
        "x-ms-file-last-write-time": "2026-02-18T06:23:59.8710921Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-38dca87a-bb71-659e-72e1-1b85072fc741/destFolder/test-file-80f0d5de-0727-6c2e-145f-96b28970df06?comp=properties&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A56Z&se=2026-02-18T07%3A23%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-02-18T06:23:58.0000000Z",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB64F074573\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:02 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:24:02.2168947Z",
        "x-ms-file-creation-time": "2026-02-18T06:23:58.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2026-02-18T06:23:59.8710921Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-38dca87a-bb71-659e-72e1-1b85072fc741/destFolder/pik/test-file-39ddcf87-98a6-120b-e5cd-bc00099197e4?comp=range&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A56Z&se=2026-02-18T07%3A23%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-0177b102-7282-50da-dc7d-9baec3bab6cb/sourceFolder/pik/test-file-39ddcf87-98a6-120b-e5cd-bc00099197e4?sv=sanitized-value&ss=b&srt=sco&st=2026-02-18T05%3A23%3A56Z&se=2026-02-18T07%3A23%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB64F087C8D\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:02 GMT",
        "x-ms-content-crc64": "2l1/V7buPw8=",
        "x-ms-file-last-write-time": "2026-02-18T06:24:02.1302748Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-38dca87a-bb71-659e-72e1-1b85072fc741/destFolder/bar/test-file-1a8d3119-bc2d-dc11-7a6f-5cfedc878c8a?comp=properties&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A56Z&se=2026-02-18T07%3A23%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-02-18T06:23:58.0000000Z",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB64F076C57\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:02 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:24:02.2178903Z",
        "x-ms-file-creation-time": "2026-02-18T06:23:58.0000000Z",
        "x-ms-file-id": "11529250230440558592",
        "x-ms-file-last-write-time": "2026-02-18T06:24:00.1488735Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-38dca87a-bb71-659e-72e1-1b85072fc741/destFolder/pik/test-file-39ddcf87-98a6-120b-e5cd-bc00099197e4?comp=properties&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A56Z&se=2026-02-18T07%3A23%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-02-18T06:23:58.0000000Z",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB64F11C101\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:02 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:24:02.2855937Z",
        "x-ms-file-creation-time": "2026-02-18T06:23:58.0000000Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2026-02-18T06:24:02.1302748Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0177b102-7282-50da-dc7d-9baec3bab6cb?restype=container&comp=list&prefix=sourceFolder&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A56Z&se=2026-02-18T07%3A23%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applicat[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-38dca87a-bb71-659e-72e1-1b85072fc741/destFolder?restype=directory&comp=list&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A56Z&se=2026-02-18T07%3A23%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-38dca87a-bb71-659e-72e1-1b85072fc741\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-80f0d5de-0727-6c2e-145f-96b28970df06</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-b1e27da5-e6ff-7d83-8a4a-7c78d83d6089</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-38dca87a-bb71-659e-72e1-1b85072fc741/destFolder/bar?restype=directory&comp=list&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A56Z&se=2026-02-18T07%3A23%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-38dca87a-bb71-659e-72e1-1b85072fc741\" DirectoryPath=\"destFolder/bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-1a8d3119-bc2d-dc11-7a6f-5cfedc878c8a</Name><FileId>11529250230440558592</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-38dca87a-bb71-659e-72e1-1b85072fc741/destFolder/pik?restype=directory&comp=list&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A56Z&se=2026-02-18T07%3A23%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-38dca87a-bb71-659e-72e1-1b85072fc741\" DirectoryPath=\"destFolder/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-39ddcf87-98a6-120b-e5cd-bc00099197e4</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0177b102-7282-50da-dc7d-9baec3bab6cb/sourceFolder/bar/test-file-1a8d3119-bc2d-dc11-7a6f-5cfedc878c8a?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A56Z&se=2026-02-18T07%3A23%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE6EB64D026CB2\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:58 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 18 Feb 2026 06:23:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
[...]
