{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a5d8ccce-fdbe-6b4e-4413-e143297dddae?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFABE8AE00C\"",
        "Last-Modified": "Wed, 07 May 2025 00:04:32 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-56512c12-7a1b-ea43-faf9-556cf0ffe441?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 00:04:32 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFABEC07320\"",
        "Last-Modified": "Wed, 07 May 2025 00:04:32 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a5d8ccce-fdbe-6b4e-4413-e143297dddae/sourceFolder/test-file-fd22f851-832b-27af-8d1d-6ed206d34169",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFABEDA8DC6\"",
        "Last-Modified": "Wed, 07 May 2025 00:04:32 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T00:04:32.8185286Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a5d8ccce-fdbe-6b4e-4413-e143297dddae/sourceFolder/test-file-fd22f851-832b-27af-8d1d-6ed206d34169?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "NN4esG48elifFMyUMEtEH0OOVsGictLGaaJy9oIlMwNauJ0ntZD7gzU3Aq69+k8/8eFGZTMBE8ILV0bLyYPVeeHJOXetHGmyk9KLam8kCW5TMgWh3s3QWaXbHF5JL7mxYYjM9MHYkdV3lNJgdahS507YeJZ+NJsT+ODS0v8LaGMZ2gnmVxWteqEwKUn6b+P8iDUQcbciMiztufvgBr7VbCxvR5ufa484Kv31TgtRGIn81UrK+/as96fc+Z4ZzXTiWr0diyhIXB2l10e5LOQhnKBy4zB0C3A2wlDzw3LxH12IE/NNM4xhtHksJCSv8srCulz+p+lEbU9M58nXVJmqtLfpMBnx1GgTES+2R+ZMhs+FMAgV83h0RKWjAUzDiV/fgnBsxcKw0eb06pW5jSZ[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a5d8ccce-fdbe-6b4e-4413-e143297dddae/sourceFolder/bar/test-file-17d74a7c-9e37-4043-e9a7-2c18e89b4ea7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFABEFF4E88\"",
        "Last-Modified": "Wed, 07 May 2025 00:04:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T00:04:33.0603921Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a5d8ccce-fdbe-6b4e-4413-e143297dddae/sourceFolder/bar/test-file-17d74a7c-9e37-4043-e9a7-2c18e89b4ea7?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "9Y2U+S+epv/BpYb0gu6Pdq0vnlV8q0rgLTqJTFzgzwKnK9lKJCF43aPXVpEXT737F7ZquPz5K0pCtM[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a5d8ccce-fdbe-6b4e-4413-e143297dddae/sourceFolder/pik/test-file-7bcf9f52-62f9-8722-c80a-db7144713ab5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFABF1014F4\"",
        "Last-Modified": "Wed, 07 May 2025 00:04:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T00:04:33.1693300Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a5d8ccce-fdbe-6b4e-4413-e143297dddae/sourceFolder/pik/test-file-7bcf9f52-62f9-8722-c80a-db7144713ab5?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "RixJzTNlLtCCUJjf3SjyflxIJDznVNcs9hglsx4Jd8rYokeG3tFQ7HH/+KnKQqqfGFwV+0z+zvJUHd[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-56512c12-7a1b-ea43-faf9-556cf0ffe441/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 00:04:33 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFABF2AAE61\"",
        "Last-Modified": "Wed, 07 May 2025 00:04:33 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-07T00:04:33.3436513Z",
        "x-ms-file-creation-time": "2025-05-07T00:04:33.3436513Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-07T00:04:33.3436513Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a5d8ccce-fdbe-6b4e-4413-e143297dddae?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-a5d8ccce-fdbe-6b4e-4413-e143297dddae\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-a290afbf-8ac3-7f8f-8a35-0089f389c2b5</Name><VersionId>2025-05-07T00:04:32.9414591Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 00:04:32 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 00:04:32 GMT</Last-Modified><Etag>0x8DD8CFABEF4EFC7</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-fd22f851-832b-27af-8d1d-6ed206d34169</Name><VersionId>2025-05-07T00:04:32.8185286Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 00:04:32 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 00:04:32 GMT</Last-Modified><Etag>0x8DD8CFABEE51391</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-56512c12-7a1b-ea43-faf9-556cf0ffe441/destFolder/bar?sv=Sanitized&se=2025-05-08T00%3A04%3A33Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFABF75DD42\"",
        "Last-Modified": "Wed, 07 May 2025 00:04:33 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-07T00:04:33.8363714Z",
        "x-ms-file-creation-time": "2025-05-07T00:04:33.8363714Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-07T00:04:33.8363714Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-56512c12-7a1b-ea43-faf9-556cf0ffe441/destFolder/pik?sv=Sanitized&se=2025-05-08T00%3A04%3A33Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFABF7DCB55\"",
        "Last-Modified": "Wed, 07 May 2025 00:04:33 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-07T00:04:33.8883413Z",
        "x-ms-file-creation-time": "2025-05-07T00:04:33.8883413Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-05-07T00:04:33.8883413Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a5d8ccce-fdbe-6b4e-4413-e143297dddae?restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version":[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a5d8ccce-fdbe-6b4e-4413-e143297dddae?restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version":[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-56512c12-7a1b-ea43-faf9-556cf0ffe441/destFolder/test-file-a290afbf-8ac3-7f8f-8a35-0089f389c2b5?sv=Sanitized&se=2025-05-08T00%3A04%3A33Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-56512c12-7a1b-ea43-faf9-556cf0ffe441/destFolder/bar/test-file-17d74a7c-9e37-4043-e9a7-2c18e89b4ea7?sv=Sanitized&se=2025-05-08T00%3A04%3A33Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-56512c12-7a1b-ea43-faf9-556cf0ffe441/destFolder/pik/test-file-7bcf9f52-62f9-8722-c80a-db7144713ab5?sv=Sanitized&se=2025-05-08T00%3A04%3A33Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-56512c12-7a1b-ea43-faf9-556cf0ffe441/destFolder/pik/test-file-7bcf9f52-62f9-8722-c80a-db7144713ab5?sv=Sanitized&se=2025-05-08T00%3A04%3A33Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-07T00:04:33.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFAC18AB3E8\"",
        "Last-Modified": "Wed, 07 May 2025 00:04:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-07T00:04:37.3283816Z",
        "x-ms-file-creation-time": "2025-05-07T00:04:33.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-05-07T00:04:37.3283816Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-56512c12-7a1b-ea43-faf9-556cf0ffe441/destFolder/bar/test-file-17d74a7c-9e37-4043-e9a7-2c18e89b4ea7?sv=Sanitized&se=2025-05-08T00%3A04%3A33Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-a5d8ccce-fdbe-6b4e-4413-e143297dddae/sourceFolder/bar/test-file-17d74a7c-9e37-4043-e9a7-2c18e89b4ea7",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFAC1C73EE1\"",
        "Last-Modified": "Wed, 07 May 2025 00:04:37 GMT",
        "x-ms-content-crc64": "QIxB8dMLXhw=",
        "x-ms-file-last-write-time": "2025-05-07T00:04:37.3413740Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-56512c12-7a1b-ea43-faf9-556cf0ffe441/destFolder/bar/test-file-17d74a7c-9e37-4043-e9a7-2c18e89b4ea7?sv=Sanitized&se=2025-05-08T00%3A04%3A33Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-07T00:04:33.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFAC1CF7B0F\"",
        "Last-Modified": "Wed, 07 May 2025 00:04:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-07T00:04:37.7791247Z",
        "x-ms-file-creation-time": "2025-05-07T00:04:33.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-05-07T00:04:37.3413740Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-56512c12-7a1b-ea43-faf9-556cf0ffe441/destFolder/pik/test-file-7bcf9f52-62f9-8722-c80a-db7144713ab5?sv=Sanitized&se=2025-05-08T00%3A04%3A33Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-a5d8ccce-fdbe-6b4e-4413-e143297dddae/sourceFolder/pik/test-file-7bcf9f52-62f9-8722-c80a-db7144713ab5",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFAC1E570D8\"",
        "Last-Modified": "Wed, 07 May 2025 00:04:37 GMT",
        "x-ms-content-crc64": "9iljHVkJXuI=",
        "x-ms-file-last-write-time": "2025-05-07T00:04:37.3283816Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-56512c12-7a1b-ea43-faf9-556cf0ffe441/destFolder/pik/test-file-7bcf9f52-62f9-8722-c80a-db7144713ab5?sv=Sanitized&se=2025-05-08T00%3A04%3A33Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-07T00:04:33.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFAC1ECE9D4\"",
        "Last-Modified": "Wed, 07 May 2025 00:04:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-07T00:04:37.9720148Z",
        "x-ms-file-creation-time": "2025-05-07T00:04:33.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-05-07T00:04:37.3283816Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-56512c12-7a1b-ea43-faf9-556cf0ffe441/destFolder/test-file-a290afbf-8ac3-7f8f-8a35-0089f389c2b5?sv=Sanitized&se=2025-05-08T00%3A04%3A33Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-a5d8ccce-fdbe-6b4e-4413-e143297dddae/sourceFolder/test-file-a290afbf-8ac3-7f8f-8a35-0089f389c2b5",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFAC22508A5\"",
        "Last-Modified": "Wed, 07 May 2025 00:04:38 GMT",
        "x-ms-content-crc64": "bnjBoeDtAkY=",
        "x-ms-file-last-write-time": "2025-05-07T00:04:37.3473705Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-56512c12-7a1b-ea43-faf9-556cf0ffe441/destFolder/test-file-a290afbf-8ac3-7f8f-8a35-0089f389c2b5?sv=Sanitized&se=2025-05-08T00%3A04%3A33Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-07T00:04:32.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFAC22E561D\"",
        "Last-Modified": "Wed, 07 May 2025 00:04:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-07T00:04:38.4007709Z",
        "x-ms-file-creation-time": "2025-05-07T00:04:32.0000000Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2025-05-07T00:04:37.3473705Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a5d8ccce-fdbe-6b4e-4413-e143297dddae?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBo[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-56512c12-7a1b-ea43-faf9-556cf0ffe441/destFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 00:04:39 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-56512c12-7a1b-ea43-faf9-556cf0ffe441\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-a290afbf-8ac3-7f8f-8a35-0089f389c2b5</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-fd22f851-832b-27af-8d1d-6ed206d34169</Name><FileId>13835075647468208128</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-56512c12-7a1b-ea43-faf9-556cf0ffe441/destFolder/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 00:04:39 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-56512c12-7a1b-ea43-faf9-556cf0ffe441\" DirectoryPath=\"destFolder/bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-17d74a7c-9e37-4043-e9a7-2c18e89b4ea7</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-56512c12-7a1b-ea43-faf9-556cf0ffe441/destFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 00:04:39 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-56512c12-7a1b-ea43-faf9-556cf0ffe441\" DirectoryPath=\"destFolder/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-7bcf9f52-62f9-8722-c80a-db7144713ab5</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a5d8ccce-fdbe-6b4e-4413-e143297dddae/sourceFolder/bar/test-file-17d74a7c-9e37-4043-e9a7-2c18e89b4ea7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8CFABF071597\"",
        "Last-Modified": "Wed, 07 May 2025 00:04:33 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 00:04:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T00:04:33.0603921Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-56512c12-7a1b-ea43-faf9-556cf0ffe441/destFolder/bar/test-file-17d74a7c-9e37-4043-e9a7-2c18e89b4ea7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 00:04:39 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
[...]
