{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-dc348982-bd4b-3604-526e-ffe4b9d0514d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F77F4859F0\"",
        "Last-Modified": "Thu, 15 May 2025 21:28:55 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bf06ded6-9a9a-573e-1d0d-f0cced05ca55?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:28:56 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F77F528502\"",
        "Last-Modified": "Thu, 15 May 2025 21:28:55 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-dc348982-bd4b-3604-526e-ffe4b9d0514d/sourceFolder/test-file-db4d6363-4430-acf9-1c7b-1776aa1ce5aa",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F77F5E3C06\"",
        "Last-Modified": "Thu, 15 May 2025 21:28:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-dc348982-bd4b-3604-526e-ffe4b9d0514d/sourceFolder/test-file-db4d6363-4430-acf9-1c7b-1776aa1ce5aa?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "tUu+DiWaejyTe3B67RmOpEpf5opaDsclA6aVV0vgi9i/FcBeXtaE/coPzWHO5rksSVXOwV0xqKaEmQp+BCLwsvCXuthYL0Vz2+jASkFmVx3taA72Esp6jmwa2sXMBfinHxpwNivh1BkPWuV1cV1lHkHskZwU+qAmHStrPlWAp9XvGCsm9SDxC5P05rjkBB0PtLyD33NckyR6ShkAdpbEjrIQhVgyPigg+4YIIBPnQRgNW4mZ/Mhik4UGrKoH8ZT9L1cF1H/F3HaTYuTtU3IRkggA8hoMK5LqrvHTK5J+GQnyC/C74m2YSH4TBprjdEAS9RmiB/958ATFGiWN8bHjFUnb+0iCVbCaZ6mc+SX3BzmxwDZ42xIKeBrr9cdHC1bNL/BRCHn3j59pB59V3ff[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-dc348982-bd4b-3604-526e-ffe4b9d0514d/sourceFolder/bar/test-file-cd473e32-4397-546f-635c-675d473fb77c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F77F809196\"",
        "Last-Modified": "Thu, 15 May 2025 21:28:56 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-dc348982-bd4b-3604-526e-ffe4b9d0514d/sourceFolder/bar/test-file-cd473e32-4397-546f-635c-675d473fb77c?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "aWaXSsuXKWrNa6VlnuW67+qumEXgUtzl9pAt2TXB9GMJI9gQLLm/mhXc/yueCrZ9onhymadynBaJsVM7[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-dc348982-bd4b-3604-526e-ffe4b9d0514d/sourceFolder/pik/test-file-cbba078b-36b9-a2ee-0dff-27d57e34f4a7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F77F919574\"",
        "Last-Modified": "Thu, 15 May 2025 21:28:56 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-dc348982-bd4b-3604-526e-ffe4b9d0514d/sourceFolder/pik/test-file-cbba078b-36b9-a2ee-0dff-27d57e34f4a7?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "2eJjYneIO1xVDNTl68k+sN4OtOdFFr6Hkctvq4f3J2ZqIE9t9xt1Asxddq1iCbZEwHf2cIAMYsMk29Gr[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bf06ded6-9a9a-573e-1d0d-f0cced05ca55/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:28:57 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F77FA785ED\"",
        "Last-Modified": "Thu, 15 May 2025 21:28:56 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-15T21:28:56.4368877Z",
        "x-ms-file-creation-time": "2025-05-15T21:28:56.4368877Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-15T21:28:56.4368877Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-dc348982-bd4b-3604-526e-ffe4b9d0514d?restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-dc348982-bd4b-3604-526e-ffe4b9d0514d\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-cd473e32-4397-546f-635c-675d473fb77c</Name><Properties><Creation-Time>Thu, 15 May 2025 21:28:56 GMT</Creation-Time><Last-Modified>Thu, 15 May 2025 21:28:56 GMT</Last-Modified><Etag>0x8DD93F77F891383</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-cbba078b-36b9-a2ee-0dff-27d57e34f4a7</Name><Properties><Creation-Time>Thu, 15 May 2025 21:28:56 GMT</Creation-Time><Last-Modified>Thu, 15 May 2025 21:28:56 GMT</Last-Modified><Etag>0x8DD93F77F99F085</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-D[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bf06ded6-9a9a-573e-1d0d-f0cced05ca55/destFolder/bar?sv=Sanitized&se=2025-05-16T21%3A28%3A57Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F77FC3C7D0\"",
        "Last-Modified": "Thu, 15 May 2025 21:28:56 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-15T21:28:56.6220752Z",
        "x-ms-file-creation-time": "2025-05-15T21:28:56.6220752Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-15T21:28:56.6220752Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bf06ded6-9a9a-573e-1d0d-f0cced05ca55/destFolder/pik?sv=Sanitized&se=2025-05-16T21%3A28%3A57Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F77FCCE561\"",
        "Last-Modified": "Thu, 15 May 2025 21:28:56 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-15T21:28:56.6818145Z",
        "x-ms-file-creation-time": "2025-05-15T21:28:56.6818145Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-05-15T21:28:56.6818145Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bf06ded6-9a9a-573e-1d0d-f0cced05ca55/destFolder/bar/test-file-cd473e32-4397-546f-635c-675d473fb77c?sv=Sanitized&se=2025-05-16T21%3A28%3A57Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bf06ded6-9a9a-573e-1d0d-f0cced05ca55/destFolder/bar/test-file-cd473e32-4397-546f-635c-675d473fb77c?sv=Sanitized&se=2025-05-16T21%3A28%3A57Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-encoding": "",
        "x-ms-content-length": "1024",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F78169F869\"",
        "Last-Modified": "Thu, 15 May 2025 21:28:59 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:28:59.3889385Z",
        "x-ms-file-creation-time": "2025-05-15T21:28:59.3889385Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-05-15T21:28:59.3889385Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bf06ded6-9a9a-573e-1d0d-f0cced05ca55/destFolder/bar/test-file-cd473e32-4397-546f-635c-675d473fb77c?sv=Sanitized&se=2025-05-16T21%3A28%3A57Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-dc348982-bd4b-3604-526e-ffe4b9d0514d/sourceFolder/bar/test-file-cd473e32-4397-546f-635c-675d473fb77c",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Now",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F78175F8DC\"",
        "Last-Modified": "Thu, 15 May 2025 21:28:59 GMT",
        "x-ms-content-crc64": "1+/bMHC8yC8=",
        "x-ms-file-last-write-time": "2025-05-15T21:28:59.4675932Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bf06ded6-9a9a-573e-1d0d-f0cced05ca55/destFolder/test-file-604b4597-3edd-a660-46d8-f9192044bb02?sv=Sanitized&se=2025-05-16T21%3A28%3A57Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bf06ded6-9a9a-573e-1d0d-f0cced05ca55/destFolder/bar/test-file-cd473e32-4397-546f-635c-675d473fb77c?sv=Sanitized&se=2025-05-16T21%3A28%3A57Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-encoding": "",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F78181AB80\"",
        "Last-Modified": "Thu, 15 May 2025 21:28:59 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:28:59.5442560Z",
        "x-ms-file-creation-time": "2025-05-15T21:28:59.3889385Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-05-15T21:28:59.4675932Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bf06ded6-9a9a-573e-1d0d-f0cced05ca55/destFolder/test-file-604b4597-3edd-a660-46d8-f9192044bb02?sv=Sanitized&se=2025-05-16T21%3A28%3A57Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-dc348982-bd4b-3604-526e-ffe4b9d0514d/sourceFolder/test-file-604b4597-3edd-a660-46d8-f9192044bb02",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Now",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F781945B34\"",
        "Last-Modified": "Thu, 15 May 2025 21:28:59 GMT",
        "x-ms-content-crc64": "X2ryx0HDzHI=",
        "x-ms-file-last-write-time": "2025-05-15T21:28:59.6667188Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bf06ded6-9a9a-573e-1d0d-f0cced05ca55/destFolder/pik/test-file-cbba078b-36b9-a2ee-0dff-27d57e34f4a7?sv=Sanitized&se=2025-05-16T21%3A28%3A57Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bf06ded6-9a9a-573e-1d0d-f0cced05ca55/destFolder/test-file-604b4597-3edd-a660-46d8-f9192044bb02?sv=Sanitized&se=2025-05-16T21%3A28%3A57Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-encoding": "",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F7819C8F5F\"",
        "Last-Modified": "Thu, 15 May 2025 21:28:59 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:28:59.7204831Z",
        "x-ms-file-creation-time": "2025-05-15T21:28:59.5990158Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-05-15T21:28:59.6667188Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bf06ded6-9a9a-573e-1d0d-f0cced05ca55/destFolder/pik/test-file-cbba078b-36b9-a2ee-0dff-27d57e34f4a7?sv=Sanitized&se=2025-05-16T21%3A28%3A57Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-dc348982-bd4b-3604-526e-ffe4b9d0514d/sourceFolder/pik/test-file-cbba078b-36b9-a2ee-0dff-27d57e34f4a7",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Now",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F781AFDAA3\"",
        "Last-Modified": "Thu, 15 May 2025 21:28:59 GMT",
        "x-ms-content-crc64": "ANhZyv7d8Is=",
        "x-ms-file-last-write-time": "2025-05-15T21:28:59.8469283Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bf06ded6-9a9a-573e-1d0d-f0cced05ca55/destFolder/pik/test-file-cbba078b-36b9-a2ee-0dff-27d57e34f4a7?sv=Sanitized&se=2025-05-16T21%3A28%3A57Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-encoding": "",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F781B8AA64\"",
        "Last-Modified": "Thu, 15 May 2025 21:28:59 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:28:59.9046756Z",
        "x-ms-file-creation-time": "2025-05-15T21:28:59.7722561Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2025-05-15T21:28:59.8469283Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-dc348982-bd4b-3604-526e-ffe4b9d0514d?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bf06ded6-9a9a-573e-1d0d-f0cced05ca55/destFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:29:01 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-bf06ded6-9a9a-573e-1d0d-f0cced05ca55\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-604b4597-3edd-a660-46d8-f9192044bb02</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-db4d6363-4430-acf9-1c7b-1776aa1ce5aa</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bf06ded6-9a9a-573e-1d0d-f0cced05ca55/destFolder/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:29:01 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-bf06ded6-9a9a-573e-1d0d-f0cced05ca55\" DirectoryPath=\"destFolder/bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-cd473e32-4397-546f-635c-675d473fb77c</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bf06ded6-9a9a-573e-1d0d-f0cced05ca55/destFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:29:01 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-bf06ded6-9a9a-573e-1d0d-f0cced05ca55\" DirectoryPath=\"destFolder/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-cbba078b-36b9-a2ee-0dff-27d57e34f4a7</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-dc348982-bd4b-3604-526e-ffe4b9d0514d/sourceFolder/bar/test-file-cd473e32-4397-546f-635c-675d473fb77c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD93F77F891383\"",
        "Last-Modified": "Thu, 15 May 2025 21:28:56 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 15 May 2025 21:28:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bf06ded6-9a9a-573e-1d0d-f0cced05ca55/destFolder/bar/test-file-cd473e32-4397-546f-635c-675d473fb77c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:29:01 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F78181AB80\"",
        "Last-Modified": "Thu, 15 May 2025 21:28:59 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:28:59.5442560Z",
        "x-ms-file-creation-time": "2025-05-15T21:28:59.3889385Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-05-15T21:28:59.4675932Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-dc348982-bd4b-3604-526e-ffe4b9d0514d/sourceFolder/bar/test-file-cd473e32-4397-546f-635c-675d473fb77c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD93F77F891383\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD93F77F891383\"",
        "Last-Modified": "Thu, 15 May 2025 21:28:56 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 15 May 2025 21:28:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
   [...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bf06ded6-9a9a-573e-1d0d-f0cced05ca55/destFolder/pik/test-file-cbba078b-36b9-a2ee-0dff-27d57e34f4a7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:29:01 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F781B8AA64\"",
        "Last-Modified": "Thu, 15 May 2025 21:28:59 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:28:59.9046756Z",
        "x-ms-file-creation-time": "2025-05-15T21:28:59.7722561Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2025-05-15T21:28:59.8469283Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
[...]
