{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-df25a0fa-7b7f-2a4e-13e9-de276b0201d7?restype=container&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A15Z&se=2026-02-18T07%3A23%3A15Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB6332B17C1\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:15 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c7c77308-390a-ab74-d76c-1529761e7ac4?restype=share&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A15Z&se=2026-02-18T07%3A23%3A15Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB633385C80\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:15 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-df25a0fa-7b7f-2a4e-13e9-de276b0201d7/sourceFolder/test-file-a90ad661-0de2-2fb0-4a17-82c584e6f6db?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A15Z&se=2026-02-18T07%3A23%3A15Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB63344FC42\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-df25a0fa-7b7f-2a4e-13e9-de276b0201d7/sourceFolder/test-file-a90ad661-0de2-2fb0-4a17-82c584e6f6db?comp=appendblock&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A15Z&se=2026-02-18T07%3A23%3A15Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "pKQs3vHFe+Fx9/Jw3G3fti52RIU/TBkkmKc+u1CkqWOjuCHfuRjpODpZ4v5LzYb9RwXdD6Lui1eLB0VKh8CQzU6OzCRM//0VjQtK5Woa2cshQHNKxpnBtSzKU7HTn7F6yBSvvAFhsUgIx4KWpKbtcS55KEZNRQe1zBb4gqxLQu5a0B1VahzKwI4rQv4WKxGG3OGDWnZqLIIM+u/qaS+bvIWUO9SJmAcRrmi4IgMInqEFcaXKyOd38KOaSG8t4FZej4V5gu88/UTacawOsQp/A1tN5PeJ0fSdHEsw7k+X5M0RWZJ9jxuyyHRh71Y7aT6ZGkUT3/tf1L2R22akDA71Q43e/Fh3AXNAmxyCKOKdYbMMl9QJgwXSsYTV7LS1DrxmbKvJXWzmIRjR00Pf3az[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-df25a0fa-7b7f-2a4e-13e9-de276b0201d7/sourceFolder/bar/test-file-49fe267d-8fe9-1ac2-e408-123bc4927973?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A15Z&se=2026-02-18T07%3A23%3A15Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB63372EAF9\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-df25a0fa-7b7f-2a4e-13e9-de276b0201d7/sourceFolder/bar/test-file-49fe267d-8fe9-1ac2-e408-123bc4927973?comp=appendblock&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A15Z&se=2026-02-18T07%3A23%3A15Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AyJ3l[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-df25a0fa-7b7f-2a4e-13e9-de276b0201d7/sourceFolder/pik/test-file-b3e0af2f-2b47-5bd5-c24c-f82c7e548eb4?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A15Z&se=2026-02-18T07%3A23%3A15Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB633960308\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-df25a0fa-7b7f-2a4e-13e9-de276b0201d7/sourceFolder/pik/test-file-b3e0af2f-2b47-5bd5-c24c-f82c7e548eb4?comp=appendblock&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A15Z&se=2026-02-18T07%3A23%3A15Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "D+5DN[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c7c77308-390a-ab74-d76c-1529761e7ac4/destFolder?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A15Z&se=2026-02-18T07%3A23%3A15Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB633A96335\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:16 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-02-18T06:23:16.3031349Z",
        "x-ms-file-creation-time": "2026-02-18T06:23:16.3031349Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-02-18T06:23:16.3031349Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-df25a0fa-7b7f-2a4e-13e9-de276b0201d7?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A15Z&se=2026-02-18T07%3A23%3A15Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-df25a0fa-7b7f-2a4e-13e9-de276b0201d7\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-543ab6fd-3df6-623d-6b26-bc0c86e673ca</Name><Properties><Creation-Time>Wed, 18 Feb 2026 06:23:15 GMT</Creation-Time><Last-Modified>Wed, 18 Feb 2026 06:23:15 GMT</Last-Modified><Etag>0x8DE6EB633606238</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-a90ad661-0de2-2fb0-4a17-82c584e6f6db</Name><Properties><Creation-Time>Wed, 18 Feb 2026 06:23:15 GMT</Creation-Time><Last-Modified>Wed, 18 Feb 2026 06:23:15 GMT</Last-Modified><Etag>0x8DE6EB6334E9BD5</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c7c77308-390a-ab74-d76c-1529761e7ac4/destFolder/bar?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A15Z&se=2026-02-18T07%3A23%3A15Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:0e0e95c7-401a-0039-549f-a05ba8000000\n",
        "Time:2026-02-18T06:23:16.4823493Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c7c77308-390a-ab74-d76c-1529761e7ac4/destFolder/pik?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A15Z&se=2026-02-18T07%3A23%3A15Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:0e0e95c9-401a-0039-569f-a05ba8000000\n",
        "Time:2026-02-18T06:23:16.6214012Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-df25a0fa-7b7f-2a4e-13e9-de276b0201d7?restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A15Z&se=2026-02-18T07%3A23%3A15Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeade[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c7c77308-390a-ab74-d76c-1529761e7ac4/destFolder/test-file-543ab6fd-3df6-623d-6b26-bc0c86e673ca?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A15Z&se=2026-02-18T07%3A23%3A15Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-df25a0fa-7b7f-2a4e-13e9-de276b0201d7?restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A15Z&se=2026-02-18T07%3A23%3A15Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeade[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c7c77308-390a-ab74-d76c-1529761e7ac4/destFolder/bar/test-file-49fe267d-8fe9-1ac2-e408-123bc4927973?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A15Z&se=2026-02-18T07%3A23%3A15Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c7c77308-390a-ab74-d76c-1529761e7ac4/destFolder/test-file-543ab6fd-3df6-623d-6b26-bc0c86e673ca?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A15Z&se=2026-02-18T07%3A23%3A15Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-02-18T06:23:15.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB633FE4FC7\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:23:16.8596935Z",
        "x-ms-file-creation-time": "2026-02-18T06:23:15.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2026-02-18T06:23:16.8596935Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c7c77308-390a-ab74-d76c-1529761e7ac4/destFolder/pik/test-file-b3e0af2f-2b47-5bd5-c24c-f82c7e548eb4?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A15Z&se=2026-02-18T07%3A23%3A15Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c7c77308-390a-ab74-d76c-1529761e7ac4/destFolder/test-file-a90ad661-0de2-2fb0-4a17-82c584e6f6db?comp=range&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A15Z&se=2026-02-18T07%3A23%3A15Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-df25a0fa-7b7f-2a4e-13e9-de276b0201d7/sourceFolder/test-file-a90ad661-0de2-2fb0-4a17-82c584e6f6db?sv=sanitized-value&ss=b&srt=sco&st=2026-02-18T05%3A23%3A15Z&se=2026-02-18T07%3A23%3A15Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB634098DC9\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:16 GMT",
        "x-ms-content-crc64": "TplB/7C2H8Q=",
        "x-ms-file-last-write-time": "2026-02-18T06:23:16.8666629Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c7c77308-390a-ab74-d76c-1529761e7ac4/destFolder/bar/test-file-49fe267d-8fe9-1ac2-e408-123bc4927973?comp=range&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A15Z&se=2026-02-18T07%3A23%3A15Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-df25a0fa-7b7f-2a4e-13e9-de276b0201d7/sourceFolder/bar/test-file-49fe267d-8fe9-1ac2-e408-123bc4927973?sv=sanitized-value&ss=b&srt=sco&st=2026-02-18T05%3A23%3A15Z&se=2026-02-18T07%3A23%3A15Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB63411265F\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:16 GMT",
        "x-ms-content-crc64": "OzdiFtB54Q8=",
        "x-ms-file-last-write-time": "2026-02-18T06:23:16.9074837Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c7c77308-390a-ab74-d76c-1529761e7ac4/destFolder/test-file-a90ad661-0de2-2fb0-4a17-82c584e6f6db?comp=properties&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A15Z&se=2026-02-18T07%3A23%3A15Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-02-18T06:23:15.0000000Z",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB6341394A0\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:23:16.9990816Z",
        "x-ms-file-creation-time": "2026-02-18T06:23:15.0000000Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2026-02-18T06:23:16.8666629Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c7c77308-390a-ab74-d76c-1529761e7ac4/destFolder/pik/test-file-b3e0af2f-2b47-5bd5-c24c-f82c7e548eb4?comp=range&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A15Z&se=2026-02-18T07%3A23%3A15Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-df25a0fa-7b7f-2a4e-13e9-de276b0201d7/sourceFolder/pik/test-file-b3e0af2f-2b47-5bd5-c24c-f82c7e548eb4?sv=sanitized-value&ss=b&srt=sco&st=2026-02-18T05%3A23%3A15Z&se=2026-02-18T07%3A23%3A15Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB63419818A\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:17 GMT",
        "x-ms-content-crc64": "vt53i5JT70s=",
        "x-ms-file-last-write-time": "2026-02-18T06:23:16.9672219Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c7c77308-390a-ab74-d76c-1529761e7ac4/destFolder/bar/test-file-49fe267d-8fe9-1ac2-e408-123bc4927973?comp=properties&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A15Z&se=2026-02-18T07%3A23%3A15Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-02-18T06:23:15.0000000Z",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB6341AB891\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:17 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:23:17.0458769Z",
        "x-ms-file-creation-time": "2026-02-18T06:23:15.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-02-18T06:23:16.9074837Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c7c77308-390a-ab74-d76c-1529761e7ac4/destFolder/pik/test-file-b3e0af2f-2b47-5bd5-c24c-f82c7e548eb4?comp=properties&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A15Z&se=2026-02-18T07%3A23%3A15Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-02-18T06:23:16.0000000Z",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB63422ECBB\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:17 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:23:17.0996411Z",
        "x-ms-file-creation-time": "2026-02-18T06:23:16.0000000Z",
        "x-ms-file-id": "13835075647468208128",
        "x-ms-file-last-write-time": "2026-02-18T06:23:16.9672219Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-df25a0fa-7b7f-2a4e-13e9-de276b0201d7?restype=container&comp=list&prefix=sourceFolder&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A15Z&se=2026-02-18T07%3A23%3A15Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applicat[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c7c77308-390a-ab74-d76c-1529761e7ac4/destFolder?restype=directory&comp=list&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A15Z&se=2026-02-18T07%3A23%3A15Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-c7c77308-390a-ab74-d76c-1529761e7ac4\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-543ab6fd-3df6-623d-6b26-bc0c86e673ca</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-a90ad661-0de2-2fb0-4a17-82c584e6f6db</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c7c77308-390a-ab74-d76c-1529761e7ac4/destFolder/bar?restype=directory&comp=list&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A15Z&se=2026-02-18T07%3A23%3A15Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-c7c77308-390a-ab74-d76c-1529761e7ac4\" DirectoryPath=\"destFolder/bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-49fe267d-8fe9-1ac2-e408-123bc4927973</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c7c77308-390a-ab74-d76c-1529761e7ac4/destFolder/pik?restype=directory&comp=list&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A15Z&se=2026-02-18T07%3A23%3A15Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-c7c77308-390a-ab74-d76c-1529761e7ac4\" DirectoryPath=\"destFolder/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-b3e0af2f-2b47-5bd5-c24c-f82c7e548eb4</Name><FileId>13835075647468208128</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-df25a0fa-7b7f-2a4e-13e9-de276b0201d7/sourceFolder/bar/test-file-49fe267d-8fe9-1ac2-e408-123bc4927973?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A15Z&se=2026-02-18T07%3A23%3A15Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE6EB6338C49F5\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:16 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 18 Feb 2026 06:23:15 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
[...]
