{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-4edfa6c8-487c-660e-67b5-6f150e401545?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B9060B6EE6C\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:10:18 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-97af7628-0574-6c1f-7645-32d182a7dd63?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:10:26 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B9060BDEF8C\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:10:18 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-4edfa6c8-487c-660e-67b5-6f150e401545/sourceFolder/test-file-200b1f24-57a7-b357-3ff7-edcf5074933e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B9060C4A583\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:10:18 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-04-14T20:10:18.5485699Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-4edfa6c8-487c-660e-67b5-6f150e401545/sourceFolder/test-file-200b1f24-57a7-b357-3ff7-edcf5074933e?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "hieGui2XIpIei9JdRGgUEUfrOvz2EyVZEFCVYHI5aNCjIUko7dkQ9kZV7dv5sHYhMtPVYDRW1XIBLandAcIf5CMCuSIf6yNu2kO1oSZKX1/adC2fZAibTUzWJ8AvM/WENQi39/dTAUevZ4XwoDNMt81JAo2UgIAbZmzWScRiPqdOMWsdkmhoh3Lm7/yDq6wYiW/z5jBo77WHnJCKfLiCTSndom/ILyRk4HsarpGEmLvAvb9Ub1d25UG2lfXX3Qq5Y6LSpQg8UFpKjgW1TUAjAwTVyr74Ld3SZrwtEZkvjAJwYUrvsvKyg21kCeBRwZgBkpLxAhNMwDbEAD5LDz7AGwECROz1NFERIkdRlCP8gKQkLH8HPYrvJKAUKrK0Z3Muo+7fT32sC11A4N/L+iw[...]
[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-4edfa6c8-487c-660e-67b5-6f150e401545/sourceFolder/bar/test-file-1563337f-771a-165f-867d-8f89969b3b29",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B9060DA85E9\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:10:18 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-04-14T20:10:18.6919401Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-4edfa6c8-487c-660e-67b5-6f150e401545/sourceFolder/bar/test-file-1563337f-771a-165f-867d-8f89969b3b29?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "VssDtUniXTOUFA1IREyv9CE8lbbSKQctB7M8I4r4ntgTaLynSD/dnNYwgAZpFtE6zptoWQaFV[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-4edfa6c8-487c-660e-67b5-6f150e401545/sourceFolder/pik/test-file-af728daa-cfdf-7af1-3ddf-61168adab30b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B9060E3F132\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:10:18 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-04-14T20:10:18.7536690Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-4edfa6c8-487c-660e-67b5-6f150e401545/sourceFolder/pik/test-file-af728daa-cfdf-7af1-3ddf-61168adab30b?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "sYJ2Inq2/+QUDEMHGV4560TsmcImxEVtYk4W8iCOrjkX4CX4oFd09I2NmtOM6mDfpnbSnUHw5[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-97af7628-0574-6c1f-7645-32d182a7dd63/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:10:27 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B9060EE1191\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:10:18 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T20:10:18.8200337Z",
        "x-ms-file-creation-time": "2025-04-14T20:10:18.8200337Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-04-14T20:10:18.8200337Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-4edfa6c8-487c-660e-67b5-6f150e401545?restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.blob.core.windows.net/\" ContainerName=\"test-container-4edfa6c8-487c-660e-67b5-6f150e401545\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-1563337f-771a-165f-867d-8f89969b3b29</Name><VersionId>2025-04-14T20:10:18.6919401Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Mon, 14 Apr 2025 20:10:18 GMT</Creation-Time><Last-Modified>Mon, 14 Apr 2025 20:10:18 GMT</Last-Modified><Etag>0x8DD7B9060DEC6EB</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-af728daa-cfdf-7af1-3ddf-61168adab30b</Name><VersionId>2025-04-14T20:10:18.7536690Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Mon, 14 Apr 2025 20:10:18 GMT</Creation-Time><Last-Modified>Mon, 14 Apr 2025 20:10:18 GMT</Last-Modified><Etag>0x8DD7B9060E8F49E</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 />[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-97af7628-0574-6c1f-7645-32d182a7dd63/destFolder/bar?sv=Sanitized&se=2025-04-15T20%3A10%3A27Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B906101D185\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:10:18 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T20:10:18.9494661Z",
        "x-ms-file-creation-time": "2025-04-14T20:10:18.9494661Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-04-14T20:10:18.9494661Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-97af7628-0574-6c1f-7645-32d182a7dd63/destFolder/pik?sv=Sanitized&se=2025-04-15T20%3A10%3A27Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B906107BE4C\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:10:18 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T20:10:18.9882956Z",
        "x-ms-file-creation-time": "2025-04-14T20:10:18.9882956Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-04-14T20:10:18.9882956Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-97af7628-0574-6c1f-7645-32d182a7dd63/destFolder/bar/test-file-1563337f-771a-165f-867d-8f89969b3b29?sv=Sanitized&se=2025-04-15T20%3A10%3A27Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-97af7628-0574-6c1f-7645-32d182a7dd63/destFolder/bar/test-file-1563337f-771a-165f-867d-8f89969b3b29?sv=Sanitized&se=2025-04-15T20%3A10%3A27Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-encoding": "",
        "x-ms-content-length": "1024",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B9061E31E3E\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:10:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:10:20.4259902Z",
        "x-ms-file-creation-time": "2025-04-14T20:10:20.4259902Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-04-14T20:10:20.4259902Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-97af7628-0574-6c1f-7645-32d182a7dd63/destFolder/test-file-200b1f24-57a7-b357-3ff7-edcf5074933e?sv=Sanitized&se=2025-04-15T20%3A10%3A27Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-97af7628-0574-6c1f-7645-32d182a7dd63/destFolder/pik/test-file-af728daa-cfdf-7af1-3ddf-61168adab30b?sv=Sanitized&se=2025-04-15T20%3A10%3A27Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-97af7628-0574-6c1f-7645-32d182a7dd63/destFolder/bar/test-file-1563337f-771a-165f-867d-8f89969b3b29?sv=Sanitized&se=2025-04-15T20%3A10%3A27Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://nickliuproductionacc.blob.core.windows.net/test-container-4edfa6c8-487c-660e-67b5-6f150e401545/sourceFolder/bar/test-file-1563337f-771a-165f-867d-8f89969b3b29",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Now",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B9061EA6919\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:10:20 GMT",
        "x-ms-content-crc64": "JpJPUXKSKEY=",
        "x-ms-file-last-write-time": "2025-04-14T20:10:20.4737817Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-97af7628-0574-6c1f-7645-32d182a7dd63/destFolder/bar/test-file-1563337f-771a-165f-867d-8f89969b3b29?sv=Sanitized&se=2025-04-15T20%3A10%3A27Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-encoding": "",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B9061EE5C43\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:10:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:10:20.4996675Z",
        "x-ms-file-creation-time": "2025-04-14T20:10:20.4259902Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-04-14T20:10:20.4737817Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-97af7628-0574-6c1f-7645-32d182a7dd63/destFolder/pik/test-file-af728daa-cfdf-7af1-3ddf-61168adab30b?sv=Sanitized&se=2025-04-15T20%3A10%3A27Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://nickliuproductionacc.blob.core.windows.net/test-container-4edfa6c8-487c-660e-67b5-6f150e401545/sourceFolder/pik/test-file-af728daa-cfdf-7af1-3ddf-61168adab30b",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Now",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B9061F27658\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:10:20 GMT",
        "x-ms-content-crc64": "TM97C4FMQds=",
        "x-ms-file-last-write-time": "2025-04-14T20:10:20.5265496Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-97af7628-0574-6c1f-7645-32d182a7dd63/destFolder/test-file-0ce7688d-cb67-ba0e-8a47-e41d4b6e53cb?sv=Sanitized&se=2025-04-15T20%3A10%3A27Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://nickliuproductionacc.blob.core.windows.net/test-container-4edfa6c8-487c-660e-67b5-6f150e401545/sourceFolder/test-file-0ce7688d-cb67-ba0e-8a47-e41d4b6e53cb",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Now",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B9061F35FAF\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:10:20 GMT",
        "x-ms-content-crc64": "YNa4loqsIzU=",
        "x-ms-file-last-write-time": "2025-04-14T20:10:20.5325231Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-97af7628-0574-6c1f-7645-32d182a7dd63/destFolder/pik/test-file-af728daa-cfdf-7af1-3ddf-61168adab30b?sv=Sanitized&se=2025-04-15T20%3A10%3A27Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-encoding": "",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B9061F69070\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:10:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:10:20.5534320Z",
        "x-ms-file-creation-time": "2025-04-14T20:10:20.4777639Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2025-04-14T20:10:20.5265496Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-97af7628-0574-6c1f-7645-32d182a7dd63/destFolder/test-file-0ce7688d-cb67-ba0e-8a47-e41d4b6e53cb?sv=Sanitized&se=2025-04-15T20%3A10%3A27Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-encoding": "",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B9061F7A0AE\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:10:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:10:20.5604014Z",
        "x-ms-file-creation-time": "2025-04-14T20:10:20.4837376Z",
        "x-ms-file-id": "13835075647468208128",
        "x-ms-file-last-write-time": "2025-04-14T20:10:20.5325231Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-4edfa6c8-487c-660e-67b5-6f150e401545?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "Respo[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-97af7628-0574-6c1f-7645-32d182a7dd63/destFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:10:29 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-97af7628-0574-6c1f-7645-32d182a7dd63\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-0ce7688d-cb67-ba0e-8a47-e41d4b6e53cb</Name><FileId>13835075647468208128</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-200b1f24-57a7-b357-3ff7-edcf5074933e</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-97af7628-0574-6c1f-7645-32d182a7dd63/destFolder/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:10:29 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-97af7628-0574-6c1f-7645-32d182a7dd63\" DirectoryPath=\"destFolder/bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-1563337f-771a-165f-867d-8f89969b3b29</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-97af7628-0574-6c1f-7645-32d182a7dd63/destFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:10:29 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-97af7628-0574-6c1f-7645-32d182a7dd63\" DirectoryPath=\"destFolder/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-af728daa-cfdf-7af1-3ddf-61168adab30b</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-4edfa6c8-487c-660e-67b5-6f150e401545/sourceFolder/bar/test-file-1563337f-771a-165f-867d-8f89969b3b29",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD7B9060DEC6EB\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:10:18 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 14 Apr 2025 20:10:18 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-04-14T20:10:18.6919401Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-97af7628-0574-6c1f-7645-32d182a7dd63/destFolder/bar/test-file-1563337f-771a-165f-867d-8f89969b3b29",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:10:29 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B9061EE5C43\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:10:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:10:20.4996675Z",
        "x-ms-file-creation-time": "2025-04-14T20:10:20.4259902Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-04-14T20:10:20.4737817Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-4edfa6c8-487c-660e-67b5-6f150e401545/sourceFolder/bar/test-file-1563337f-771a-165f-867d-8f89969b3b29",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD7B9060DEC6EB\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD7B9060DEC6EB\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:10:18 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 14 Apr 2025 20:10:18 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "[...]
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-97af7628-0574-6c1f-7645-32d182a7dd63/destFolder/pik/test-file-af728daa-cfdf-7af1-3ddf-61168adab30b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:10:29 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B9061F69070\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:10:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:10:20.5534320Z",
[...]
