{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-25c67863-e946-141e-25b0-29066dc52f13?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FD0107573\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:47:47 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-9396c164-32a9-6acb-af02-2fc7066bf9ad?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:47:47 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FD01A0CD5\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:47:47 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-9396c164-32a9-6acb-af02-2fc7066bf9ad/destPrefix?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:47:47 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FD022318E\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:47:47 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-19T23:47:47.3169806Z",
        "x-ms-file-creation-time": "2025-02-19T23:47:47.3169806Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-19T23:47:47.3169806Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-25c67863-e946-141e-25b0-29066dc52f13/sourceFolder/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FD029DAC6\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:47:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-19T23:47:47.3671878Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-25c67863-e946-141e-25b0-29066dc52f13/sourceFolder/item1?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "E1dLWuAiIA7l6Xahdz/7OBlRCW7TTcAIKnLaFmzy4zVoCv2ki71OBfK6UTQpLLef6kreL6RnI8aWQy9tSAqi8wVBOWxBVq1bAwR8GPuM3v66OysiE7SRAOc2DkeN4LznGF4u6PNLXZOcgiyf6wrLCWUxsw3fgN9RsDiFCkhlzSJHlf+dXfYLb92XhZCI8RXcawTiXCyuCJd+3Te6xVJLN7UJV1YKLaxuJkQvR/tPyL4jqZ5Dg3H1mIxnH4C+UaqLTE3bf5m/0T5YczXof8CcLhR4lhuzB7NDE77Jog0rsNWapPutc0klZNdg6xA7DRnLy/BrRbqO10SZl2za9S4wLMNgTtrF7rrKUzFEUhyjBwWl/dcdwGoaC8y3E9zdSm+oML5N274+Btw1oPKISoU[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-9396c164-32a9-6acb-af02-2fc7066bf9ad/destPrefix/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 19 Feb 2025 23:47:47 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FD0395FAC\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:47:47 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:47:47.4688940Z",
        "x-ms-file-creation-time": "2025-02-19T23:47:47.4688940Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-02-19T23:47:47.4688940Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-25c67863-e946-141e-25b0-29066dc52f13/sourceFolder/test-file-491e6da4-e5a5-6803-9da6-b93ab46cb12d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FD0461135\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:47:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-19T23:47:47.5520821Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-25c67863-e946-141e-25b0-29066dc52f13/sourceFolder/test-file-491e6da4-e5a5-6803-9da6-b93ab46cb12d?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "hNuGHdxEg/8zAgIRQfN4iSI5uhfwlmxH/MnYehq3lp1s1vZwcijFYOkeFqLj8iapLi8XerGaPe1uPiESaw[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-25c67863-e946-141e-25b0-29066dc52f13/sourceFolder/bar/test-file-0ede5836-7de9-5657-122c-fa791c0b5346",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FD0552A31\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:47:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-19T23:47:47.6510257Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-25c67863-e946-141e-25b0-29066dc52f13/sourceFolder/bar/test-file-0ede5836-7de9-5657-122c-fa791c0b5346?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "jgsynKBarLgevueRbuivBzR4LAfc7zh8JHX9pkq7jRT4l5hrmC313Kwl8CuVxucqfPNFo99LaZ7Stn[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-25c67863-e946-141e-25b0-29066dc52f13/sourceFolder/pik/test-file-bcf2bd04-737f-cb9d-a54a-f8a780291d3e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FD0652D69\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:47:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-19T23:47:47.7559657Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-25c67863-e946-141e-25b0-29066dc52f13/sourceFolder/pik/test-file-bcf2bd04-737f-cb9d-a54a-f8a780291d3e?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "J4PyTKuwBJeROgYG80dHee5jdHq3YIT6fj2P6JW5SHph2sa8vUPoVLhbK0Rsl9heAn65HbSjh8b/+M[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-25c67863-e946-141e-25b0-29066dc52f13?restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-25c67863-e946-141e-25b0-29066dc52f13\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-0ede5836-7de9-5657-122c-fa791c0b5346</Name><VersionId>2025-02-19T23:47:47.6510257Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 19 Feb 2025 23:47:47 GMT</Creation-Time><Last-Modified>Wed, 19 Feb 2025 23:47:47 GMT</Last-Modified><Etag>0x8DD513FD05BB8ED</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/item1</Name><VersionId>2025-02-19T23:47:47.3671878Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 19 Feb 2025 23:47:47 GMT</Creation-Time><Last-Modified>Wed, 19 Feb 2025 23:47:47 GMT</Last-Modified><Etag>0x8DD513FD0326504</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-9396c164-32a9-6acb-af02-2fc7066bf9ad/destPrefix/bar?sv=Sanitized&se=2025-02-20T23%3A47%3A47Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FD07F380A\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:47:47 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-19T23:47:47.9266314Z",
        "x-ms-file-creation-time": "2025-02-19T23:47:47.9266314Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-02-19T23:47:47.9266314Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-9396c164-32a9-6acb-af02-2fc7066bf9ad/destPrefix/pik?sv=Sanitized&se=2025-02-20T23%3A47%3A47Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FD08689FA\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:47:47 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-19T23:47:47.9746042Z",
        "x-ms-file-creation-time": "2025-02-19T23:47:47.9746042Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-02-19T23:47:47.9746042Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-9396c164-32a9-6acb-af02-2fc7066bf9ad/destPrefix/item1?sv=Sanitized&se=2025-02-20T23%3A47%3A47Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-19T23:47:47.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FD175A8E8\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:47:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:47:49.5417064Z",
        "x-ms-file-creation-time": "2025-02-19T23:47:47.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-02-19T23:47:49.5417064Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-9396c164-32a9-6acb-af02-2fc7066bf9ad/destPrefix/item1?sv=Sanitized&se=2025-02-20T23%3A47%3A47Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-25c67863-e946-141e-25b0-29066dc52f13/sourceFolder/item1",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FD181B511\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:47:49 GMT",
        "x-ms-content-crc64": "0Mbutcu9CSc=",
        "x-ms-file-last-write-time": "2025-02-19T23:47:49.5417064Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-9396c164-32a9-6acb-af02-2fc7066bf9ad/destPrefix/item1?sv=Sanitized&se=2025-02-20T23%3A47%3A47Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-19T23:47:47.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FD189CA2F\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:47:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:47:49.6736303Z",
        "x-ms-file-creation-time": "2025-02-19T23:47:47.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-02-19T23:47:49.5417064Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-9396c164-32a9-6acb-af02-2fc7066bf9ad/destPrefix/test-file-491e6da4-e5a5-6803-9da6-b93ab46cb12d?sv=Sanitized&se=2025-02-20T23%3A47%3A47Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-lengt[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-9396c164-32a9-6acb-af02-2fc7066bf9ad/destPrefix/pik/test-file-bcf2bd04-737f-cb9d-a54a-f8a780291d3e?sv=Sanitized&se=2025-02-20T23%3A47%3A47Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-l[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-9396c164-32a9-6acb-af02-2fc7066bf9ad/destPrefix/bar/test-file-0ede5836-7de9-5657-122c-fa791c0b5346?sv=Sanitized&se=2025-02-20T23%3A47%3A47Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-l[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-9396c164-32a9-6acb-af02-2fc7066bf9ad/destPrefix/test-file-491e6da4-e5a5-6803-9da6-b93ab46cb12d?sv=Sanitized&se=2025-02-20T23%3A47%3A47Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-25c67863-e946-141e-25b0-29066dc52f13/sourceFolder/test-file-491e6da4-e5a5-6803-9da6-b93ab46cb12d",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FD199A65F\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:47:49 GMT",
        "x-ms-content-crc64": "HmXQNRnt9ls=",
        "x-ms-file-last-write-time": "2025-02-19T23:47:49.7186044Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-9396c164-32a9-6acb-af02-2fc7066bf9ad/destPrefix/pik/test-file-bcf2bd04-737f-cb9d-a54a-f8a780291d3e?sv=Sanitized&se=2025-02-20T23%3A47%3A47Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-25c67863-e946-141e-25b0-29066dc52f13/sourceFolder/pik/test-file-bcf2bd04-737f-cb9d-a54a-f8a780291d3e",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FD19C8C1E\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:47:49 GMT",
        "x-ms-content-crc64": "m1LBSOb4EnE=",
        "x-ms-file-last-write-time": "2025-02-19T23:47:49.7246015Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-9396c164-32a9-6acb-af02-2fc7066bf9ad/destPrefix/bar/test-file-0ede5836-7de9-5657-122c-fa791c0b5346?sv=Sanitized&se=2025-02-20T23%3A47%3A47Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-25c67863-e946-141e-25b0-29066dc52f13/sourceFolder/bar/test-file-0ede5836-7de9-5657-122c-fa791c0b5346",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FD19E609D\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:47:49 GMT",
        "x-ms-content-crc64": "KMgYtJVhJjQ=",
        "x-ms-file-last-write-time": "2025-02-19T23:47:49.7226023Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-9396c164-32a9-6acb-af02-2fc7066bf9ad/destPrefix/test-file-491e6da4-e5a5-6803-9da6-b93ab46cb12d?sv=Sanitized&se=2025-02-20T23%3A47%3A47Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-19T23:47:47.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FD1A00E06\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:47:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:47:49.8195462Z",
        "x-ms-file-creation-time": "2025-02-19T23:47:47.0000000Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-02-19T23:47:49.7186044Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-9396c164-32a9-6acb-af02-2fc7066bf9ad/destPrefix/pik/test-file-bcf2bd04-737f-cb9d-a54a-f8a780291d3e?sv=Sanitized&se=2025-02-20T23%3A47%3A47Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-19T23:47:47.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FD1A2F3D4\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:47:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:47:49.8385364Z",
        "x-ms-file-creation-time": "2025-02-19T23:47:47.0000000Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2025-02-19T23:47:49.7246015Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-9396c164-32a9-6acb-af02-2fc7066bf9ad/destPrefix/bar/test-file-0ede5836-7de9-5657-122c-fa791c0b5346?sv=Sanitized&se=2025-02-20T23%3A47%3A47Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-19T23:47:47.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FD1A51659\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:47:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:47:49.8525273Z",
        "x-ms-file-creation-time": "2025-02-19T23:47:47.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-02-19T23:47:49.7226023Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-25c67863-e946-141e-25b0-29066dc52f13?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBo[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-9396c164-32a9-6acb-af02-2fc7066bf9ad/destPrefix?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:47:50 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-9396c164-32a9-6acb-af02-2fc7066bf9ad\" DirectoryPath=\"destPrefix\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>item1</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><Directory><Name>pik</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>test-file-491e6da4-e5a5-6803-9da6-b93ab46cb12d</Name><FileId>12682206919419494400</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-9396c164-32a9-6acb-af02-2fc7066bf9ad/destPrefix/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:47:50 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
[...]
