{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-6c420a7d-521b-2933-a3ed-32ecf9d3f23e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA278239B9\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:49:46 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-744edc0e-1612-08db-acf2-18775ba392df?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 21:49:51 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA278DD1E4\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:49:46 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-6c420a7d-521b-2933-a3ed-32ecf9d3f23e/sourceFolder/foo/test-file-a2cd3ac1-543d-78f8-63d6-b955ac96ae76",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA279484D3\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:49:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-08-12T21:49:46.6097875Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-6c420a7d-521b-2933-a3ed-32ecf9d3f23e/sourceFolder/foo/test-file-a2cd3ac1-543d-78f8-63d6-b955ac96ae76?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "Pqfy0CLXaz/SdnUd5qaAgSYZgh9nEjIwkwhWnmPQgr2oOZRPR8Yu6s+Oz8ff25K8VjgvkxOODyt0wT0ZgczbAfO3dKwSMTlg6phQ2UJrULd1mUgroe+pGilo2oWJFGgCss7TKGblqST+z6h6PTXpCHGFpOeEsGAEDVmCqlaz1tUwTSdzmChQkO8jLNFGLtz0ftIUA3CBfgFuzhoNYv/OS/jTSvAOdXBINBP3YYOOvt98jiyEntNkrs8lBcoOQy3wVOHZcuPs5glizM9dih193xA6kNPTSqwlbpwh6HClOfDmBgyitUv7kKgjIdIDByOxqCW607JZHQk0swRHy/2YvJLedoMQ2yrEPwArsCjaImZ4b0BK62U9jOgCbgFHtMWqimU/JJGgocz69ZSyLW3[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-6c420a7d-521b-2933-a3ed-32ecf9d3f23e/sourceFolder/rul/test-file-8603b4b1-d0a1-3cff-4d65-07415bdab450",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA27AAB30E\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:49:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-08-12T21:49:46.7561472Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-6c420a7d-521b-2933-a3ed-32ecf9d3f23e/sourceFolder/rul/test-file-8603b4b1-d0a1-3cff-4d65-07415bdab450?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "4N/ANvESGQFbiO50NrJD6vzSRwlXDTaHqyJ4hrGQ/Mw0P1sYu4JCnpoCKxjhigWbIh1FiZOq+[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-6c420a7d-521b-2933-a3ed-32ecf9d3f23e/sourceFolder/pik/test-file-6892fc18-644c-df03-1038-241807f33352",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA27C45FB3\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:49:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-08-12T21:49:46.9234099Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-6c420a7d-521b-2933-a3ed-32ecf9d3f23e/sourceFolder/pik/test-file-6892fc18-644c-df03-1038-241807f33352?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "+jwmuVnmPudfgY2uQ4Zy0GpOpvVfwXBckFPKxu3QUOQOag73RnhpMb6rCcvWVJuKxlSuuUw98[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-744edc0e-1612-08db-acf2-18775ba392df/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 21:49:51 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA27DDE370\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:49:47 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-08-12T21:49:47.0906224Z",
        "x-ms-file-creation-time": "2025-08-12T21:49:47.0906224Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-12T21:49:47.0906224Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-6c420a7d-521b-2933-a3ed-32ecf9d3f23e?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.blob.core.windows.net/\" ContainerName=\"test-container-6c420a7d-521b-2933-a3ed-32ecf9d3f23e\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/foo/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/rul/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-744edc0e-1612-08db-acf2-18775ba392df/destFolder/foo?sv=Sanitized&se=2025-08-13T21%3A49%3A51Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:da0b969d-f01a-001d-45d3-0bb766000000\n",
        "Time:2025-08-12T21:49:47.1879553Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-744edc0e-1612-08db-acf2-18775ba392df/destFolder/pik?sv=Sanitized&se=2025-08-13T21%3A49%3A51Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:da0b969f-f01a-001d-47d3-0bb766000000\n",
        "Time:2025-08-12T21:49:47.2567811Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-744edc0e-1612-08db-acf2-18775ba392df/destFolder/rul?sv=Sanitized&se=2025-08-13T21%3A49%3A51Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:da0b96a1-f01a-001d-49d3-0bb766000000\n",
        "Time:2025-08-12T21:49:47.3153590Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-6c420a7d-521b-2933-a3ed-32ecf9d3f23e?restype=container&comp=list&prefix=sourceFolder%2Ffoo%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.blob.core.windows.net/\" ContainerName=\"test-container-6c420a7d-521b-2933-a3ed-32ecf9d3f23e\"><Prefix>sourceFolder/foo/</Prefix><Delimiter>/</Delimiter><Blobs><Blob><Name>sourceFolder/foo/test-file-a2cd3ac1-543d-78f8-63d6-b955ac96ae76</Name><VersionId>2025-08-12T21:49:46.6097875Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Tue, 12 Aug 2025 21:49:46 GMT</Creation-Time><Last-Modified>Tue, 12 Aug 2025 21:49:46 GMT</Last-Modified><Etag>0x8DDD9EA279EB294</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-6c420a7d-521b-2933-a3ed-32ecf9d3f23e?restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-vers[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-6c420a7d-521b-2933-a3ed-32ecf9d3f23e?restype=container&comp=list&prefix=sourceFolder%2Frul%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-vers[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-744edc0e-1612-08db-acf2-18775ba392df/destFolder/foo/test-file-a2cd3ac1-543d-78f8-63d6-b955ac96ae76?sv=Sanitized&se=2025-08-13T21%3A49%3A51Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-744edc0e-1612-08db-acf2-18775ba392df/destFolder/foo/test-file-a2cd3ac1-543d-78f8-63d6-b955ac96ae76?sv=Sanitized&se=2025-08-13T21%3A49%3A51Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-08-12T21:49:46.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA28F3C08F\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:49:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-12T21:49:48.9116303Z",
        "x-ms-file-creation-time": "2025-08-12T21:49:46.0000000Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-08-12T21:49:48.9116303Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-744edc0e-1612-08db-acf2-18775ba392df/destFolder/rul/test-file-8603b4b1-d0a1-3cff-4d65-07415bdab450?sv=Sanitized&se=2025-08-13T21%3A49%3A51Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-744edc0e-1612-08db-acf2-18775ba392df/destFolder/foo/test-file-a2cd3ac1-543d-78f8-63d6-b955ac96ae76?sv=Sanitized&se=2025-08-13T21%3A49%3A51Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://nickliuproductionacc.blob.core.windows.net/test-container-6c420a7d-521b-2933-a3ed-32ecf9d3f23e/sourceFolder/foo/test-file-a2cd3ac1-543d-78f8-63d6-b955ac96ae76",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA28FD2BDB\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:49:48 GMT",
        "x-ms-content-crc64": "ewdWy3+GC4w=",
        "x-ms-file-last-write-time": "2025-08-12T21:49:48.9116303Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-744edc0e-1612-08db-acf2-18775ba392df/destFolder/pik/test-file-6892fc18-644c-df03-1038-241807f33352?sv=Sanitized&se=2025-08-13T21%3A49%3A51Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-744edc0e-1612-08db-acf2-18775ba392df/destFolder/foo/test-file-a2cd3ac1-543d-78f8-63d6-b955ac96ae76?sv=Sanitized&se=2025-08-13T21%3A49%3A51Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-08-12T21:49:46.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA290428DF\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:49:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-12T21:49:49.0191583Z",
        "x-ms-file-creation-time": "2025-08-12T21:49:46.0000000Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-08-12T21:49:48.9116303Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-744edc0e-1612-08db-acf2-18775ba392df/destFolder/pik/test-file-6892fc18-644c-df03-1038-241807f33352?sv=Sanitized&se=2025-08-13T21%3A49%3A51Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://nickliuproductionacc.blob.core.windows.net/test-container-6c420a7d-521b-2933-a3ed-32ecf9d3f23e/sourceFolder/pik/test-file-6892fc18-644c-df03-1038-241807f33352",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA290B73BE\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:49:49 GMT",
        "x-ms-content-crc64": "7UdRHpgLBy8=",
        "x-ms-file-last-write-time": "2025-08-12T21:49:49.0241362Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-744edc0e-1612-08db-acf2-18775ba392df/destFolder/rul/test-file-8603b4b1-d0a1-3cff-4d65-07415bdab450?sv=Sanitized&se=2025-08-13T21%3A49%3A51Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://nickliuproductionacc.blob.core.windows.net/test-container-6c420a7d-521b-2933-a3ed-32ecf9d3f23e/sourceFolder/rul/test-file-8603b4b1-d0a1-3cff-4d65-07415bdab450",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA2909056A\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:49:49 GMT",
        "x-ms-content-crc64": "7QlXi8hCZqk=",
        "x-ms-file-last-write-time": "2025-08-12T21:49:49.0032285Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-744edc0e-1612-08db-acf2-18775ba392df/destFolder/rul/test-file-8603b4b1-d0a1-3cff-4d65-07415bdab450?sv=Sanitized&se=2025-08-13T21%3A49%3A51Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-08-12T21:49:46.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA2913332C\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:49:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-12T21:49:49.1177260Z",
        "x-ms-file-creation-time": "2025-08-12T21:49:46.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-08-12T21:49:49.0032285Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-744edc0e-1612-08db-acf2-18775ba392df/destFolder/pik/test-file-6892fc18-644c-df03-1038-241807f33352?sv=Sanitized&se=2025-08-13T21%3A49%3A51Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-08-12T21:49:46.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA2913332C\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:49:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-12T21:49:49.1177260Z",
        "x-ms-file-creation-time": "2025-08-12T21:49:46.0000000Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2025-08-12T21:49:49.0241362Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-6c420a7d-521b-2933-a3ed-32ecf9d3f23e?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "Respo[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-744edc0e-1612-08db-acf2-18775ba392df/destFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 21:49:54 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-744edc0e-1612-08db-acf2-18775ba392df\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>foo</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><Directory><Name>rul</Name><FileId>10376363910205800448</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-744edc0e-1612-08db-acf2-18775ba392df/destFolder/foo?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 21:49:54 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-744edc0e-1612-08db-acf2-18775ba392df\" DirectoryPath=\"destFolder/foo\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-a2cd3ac1-543d-78f8-63d6-b955ac96ae76</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-744edc0e-1612-08db-acf2-18775ba392df/destFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 21:49:54 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-744edc0e-1612-08db-acf2-18775ba392df\" DirectoryPath=\"destFolder/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-6892fc18-644c-df03-1038-241807f33352</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-744edc0e-1612-08db-acf2-18775ba392df/destFolder/rul?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 21:49:54 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-744edc0e-1612-08db-acf2-18775ba392df\" DirectoryPath=\"destFolder/rul\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-8603b4b1-d0a1-3cff-4d65-07415bdab450</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-6c420a7d-521b-2933-a3ed-32ecf9d3f23e/sourceFolder/foo/test-file-a2cd3ac1-543d-78f8-63d6-b955ac96ae76",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
[...]
