{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9267a722-5ea0-e024-117a-d9a3dcac647b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E252C504B\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:13:52 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d875a5fd-caf5-5048-9c3e-d315da249fba?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:13:51 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E253445DB\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:13:52 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9267a722-5ea0-e024-117a-d9a3dcac647b/sourceFolder/folder0/test-file-8a7c68d3-5c40-9818-e5e5-82ddc87fa1a1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E253C61A8\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:13:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9267a722-5ea0-e024-117a-d9a3dcac647b/sourceFolder/folder0/test-file-8a7c68d3-5c40-9818-e5e5-82ddc87fa1a1?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "0x/WMCIE2Ih/vEwkAUPJD32/9UZ94XPikmm1/IrVRSP6wamncGsgzpD0C4QP85ehHHNfCIlaJPGr9J65Ttz+qnYpKkCaIp4Snia1idbv0p7RE98WdTyZn523+3zNZ3+09mAN5slXB/rUTWlipJobvCH/5zv85zQ5j4qi4iYiRTenAZN14evUegzlQifSNvoCmz9azX9EuA8s1Fc+tCTTsggyu6MHpto1KmwuFqUMZliPn0fnx3e4YkiESA2UlsboEY8foHtX+/RkJaISFaFpH23/rhTd6+uQeVhagl7NoJSmRgUV7cXdOKRSg6HVpUynGimfleeyCiWkjici/HmWl4QNbM+cVDKnIXVwimhJu9MMs2g1LQus8zvfcV+eujwru+sdyDl9C8X393NyQn+[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9267a722-5ea0-e024-117a-d9a3dcac647b/sourceFolder/folder0/folder1/test-file-b2f146c7-4520-482e-32e5-a17c55659b07",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E254D8C72\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:13:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9267a722-5ea0-e024-117a-d9a3dcac647b/sourceFolder/folder0/folder1/test-file-b2f146c7-4520-482e-32e5-a17c55659b07?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "34WHB1wG/jHn+0+VLlrbQf49kfAruY5drxuMUQGWZ33BuRE4Z94hwEi/yiX2mRnXCl99[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d875a5fd-caf5-5048-9c3e-d315da249fba/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:13:52 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E255D44C8\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:13:53 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-04-30T23:13:53.1439304Z",
        "x-ms-file-creation-time": "2026-04-30T23:13:53.1439304Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-30T23:13:53.1439304Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11213973173494923372*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9267a722-5ea0-e024-117a-d9a3dcac647b?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-9267a722-5ea0-e024-117a-d9a3dcac647b\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/folder0/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d875a5fd-caf5-5048-9c3e-d315da249fba/destFolder/folder0?sv=Sanitized&se=2026-05-01T23%3A13%3A52Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:a56d5a04-501a-007f-04f7-d8a039000000\n",
        "Time:2026-04-30T23:13:53.2448196Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9267a722-5ea0-e024-117a-d9a3dcac647b?restype=container&comp=list&prefix=sourceFolder%2Ffolder0%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-9267a722-5ea0-e024-117a-d9a3dcac647b\"><Prefix>sourceFolder/folder0/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/folder0/folder1/</Name></BlobPrefix><Blob><Name>sourceFolder/folder0/test-file-8a7c68d3-5c40-9818-e5e5-82ddc87fa1a1</Name><Properties><Creation-Time>Thu, 30 Apr 2026 23:13:52 GMT</Creation-Time><Last-Modified>Thu, 30 Apr 2026 23:13:52 GMT</Last-Modified><Etag>0x8DEA70E25444818</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d875a5fd-caf5-5048-9c3e-d315da249fba/destFolder/folder0/folder1?sv=Sanitized&se=2026-05-01T23%3A13%3A52Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:a56d5a06-501a-007f-06f7-d8a039000000\n",
        "Time:2026-04-30T23:13:53.3793223Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9267a722-5ea0-e024-117a-d9a3dcac647b?restype=container&comp=list&prefix=sourceFolder%2Ffolder0%2Ffolder1%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d875a5fd-caf5-5048-9c3e-d315da249fba/destFolder/folder0/test-file-8a7c68d3-5c40-9818-e5e5-82ddc87fa1a1?sv=Sanitized&se=2026-05-01T23%3A13%3A52Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d875a5fd-caf5-5048-9c3e-d315da249fba/destFolder/folder0/folder1/test-file-b2f146c7-4520-482e-32e5-a17c55659b07?sv=Sanitized&se=2026-05-01T23%3A13%3A52Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d875a5fd-caf5-5048-9c3e-d315da249fba/destFolder/folder0/test-file-8a7c68d3-5c40-9818-e5e5-82ddc87fa1a1?sv=Sanitized&se=2026-05-01T23%3A13%3A52Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E26C3FA57\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:13:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:13:55.4947671Z",
        "x-ms-file-creation-time": "2026-04-30T23:13:55.4947671Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-04-30T23:13:55.4947671Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d875a5fd-caf5-5048-9c3e-d315da249fba/destFolder/folder0/test-file-8a7c68d3-5c40-9818-e5e5-82ddc87fa1a1?sv=Sanitized&se=2026-05-01T23%3A13%3A52Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-9267a722-5ea0-e024-117a-d9a3dcac647b/sourceFolder/folder0/test-file-8a7c68d3-5c40-9818-e5e5-82ddc87fa1a1",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E26D8D94E\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:13:55 GMT",
        "x-ms-content-crc64": "ydr3ZfDDU/M=",
        "x-ms-file-last-write-time": "2026-04-30T23:13:55.4947671Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d875a5fd-caf5-5048-9c3e-d315da249fba/destFolder/folder0/test-file-8a7c68d3-5c40-9818-e5e5-82ddc87fa1a1?sv=Sanitized&se=2026-05-01T23%3A13%3A52Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T23:13:52.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E26DF664F\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:13:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:13:55.6744783Z",
        "x-ms-file-creation-time": "2026-04-30T23:13:52.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-04-30T23:13:55.4947671Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d875a5fd-caf5-5048-9c3e-d315da249fba/destFolder/folder0/folder1/test-file-b2f146c7-4520-482e-32e5-a17c55659b07?sv=Sanitized&se=2026-05-01T23%3A13%3A52Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-9267a722-5ea0-e024-117a-d9a3dcac647b/sourceFolder/folder0/folder1/test-file-b2f146c7-4520-482e-32e5-a17c55659b07",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E26E0294D\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:13:55 GMT",
        "x-ms-content-crc64": "u3r264T8lic=",
        "x-ms-file-last-write-time": "2026-04-30T23:13:55.5796303Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d875a5fd-caf5-5048-9c3e-d315da249fba/destFolder/folder0/folder1/test-file-b2f146c7-4520-482e-32e5-a17c55659b07?sv=Sanitized&se=2026-05-01T23%3A13%3A52Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T23:13:53.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E26E6B651\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:13:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:13:55.7224017Z",
        "x-ms-file-creation-time": "2026-04-30T23:13:53.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2026-04-30T23:13:55.5796303Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9267a722-5ea0-e024-117a-d9a3dcac647b?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d875a5fd-caf5-5048-9c3e-d315da249fba/destFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:13:55 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandasa3.file.core.windows.net/\" ShareName=\"test-share-d875a5fd-caf5-5048-9c3e-d315da249fba\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>folder0</Name><FileId>11529285414812647424</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d875a5fd-caf5-5048-9c3e-d315da249fba/destFolder/folder0?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:13:55 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandasa3.file.core.windows.net/\" ShareName=\"test-share-d875a5fd-caf5-5048-9c3e-d315da249fba\" DirectoryPath=\"destFolder/folder0\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>folder1</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-8a7c68d3-5c40-9818-e5e5-82ddc87fa1a1</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d875a5fd-caf5-5048-9c3e-d315da249fba/destFolder/folder0/folder1?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:13:55 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandasa3.file.core.windows.net/\" ShareName=\"test-share-d875a5fd-caf5-5048-9c3e-d315da249fba\" DirectoryPath=\"destFolder/folder0/folder1\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-b2f146c7-4520-482e-32e5-a17c55659b07</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9267a722-5ea0-e024-117a-d9a3dcac647b/sourceFolder/folder0/folder1/test-file-b2f146c7-4520-482e-32e5-a17c55659b07",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA70E25554BF2\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:13:53 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 30 Apr 2026 23:13:53 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d875a5fd-caf5-5048-9c3e-d315da249fba/destFolder/folder0/folder1/test-file-b2f146c7-4520-482e-32e5-a17c55659b07",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:13:55 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA70E26E6B651\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:13:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:13:55.7224017Z",
        "x-ms-file-creation-time": "2026-04-30T23:13:53.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2026-04-30T23:13:55.5796303Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9267a722-5ea0-e024-117a-d9a3dcac647b/sourceFolder/folder0/folder1/test-file-b2f146c7-4520-482e-32e5-a17c55659b07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DEA70E25554BF2\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA70E25554BF2\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:13:53 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 30 Apr 2026 23:13:53 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
   [...]
[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d875a5fd-caf5-5048-9c3e-d315da249fba/destFolder/folder0/test-file-8a7c68d3-5c40-9818-e5e5-82ddc87fa1a1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:13:55 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA70E26DF664F\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:13:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:13:55.6744783Z",
        "x-ms-file-creation-time": "2026-04-30T23:13:52.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-04-30T23:13:55.4947671Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d875a5fd-caf5-5048-9c3e-d315da249fba?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:13:55 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9267a722-5ea0-e024-117a-d9a3dcac647b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-04-30T16:13:52.2570363-07:00",
    "RandomSeed": "290411163",
    "Storage_TestConfigDefault": "ProductionTenant\namandasa3\nU2FuaXRpemVk\nhttps://amandasa3.blob.core.windows.net\nhttps://amandasa3.file.core.windows.net\nhttps://amandasa3.queue.core.windows.net\nhttps://amandasa3.table.core.windows.net\n\n\n\n\nhttps://amandasa3-secondary.blob.core.windows.net\nhttps://amandasa3-secondary.file.core.windows.net\nhttps://amandasa3-secondary.queue.core.windows.net\nhttps://amandasa3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandasa3.blob.core.windows.net/;QueueEndpoint=https://amandasa3.queue.core.windows.net/;FileEndpoint=https://amandasa3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandasa3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandasa3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandasa3-secondary.file.core.windows.net/;AccountName=amandasa3;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n",
[...]
