{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fc5f4f89-6ac8-d728-997b-fe8b5535de17?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D12E471B686\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:56:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-57e005b7-a787-c30b-5805-f7c9342882e0?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:56:28 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D12E47A041F\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:56:28 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fc5f4f89-6ac8-d728-997b-fe8b5535de17/sourceFolder/test-file-f4f3f176-d89a-8f2d-c8da-c1f2741bd0a5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D12E48438EF\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:56:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fc5f4f89-6ac8-d728-997b-fe8b5535de17/sourceFolder/test-file-f4f3f176-d89a-8f2d-c8da-c1f2741bd0a5?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "0ih6Ab+yY/3YuYb9EsUD3Z+3dtXIlCtC6Hfup4GcxGCj5iBLoM7mrJb1VSasC2lB73nxE/FhET38NxlIw7x8PPUlWSukuD3R0co/0j8Fld0OrLcHqrBvQtTiT2m1nejZeRgwh7I9nDc8IEEmIj/+96E8OhcEdJJEthdWwWjTHDPiZVkm1A4q0BB/y4pvSB+V41jHeGPR1AWG7NCb5trPaAMNQ73m2CKSEWkGhakI1G33wd4QDKPQEZBTn+g+juo1sGKGYgVhrws2NGf6yk9bfhdioyX8vlxgPTIskjk5VIJ/0dRHgXJolRHS2tc81kZB+CHR2+vEOPEGJiXSNR3S/N/kevh7FPyk+g4UKeSEI2br65kYZ3iXupjiQFtNlmDzAN34WFtNxeMkLeHdsA4[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fc5f4f89-6ac8-d728-997b-fe8b5535de17/sourceFolder/bar/test-file-909efccb-0697-971b-d8af-18dd550cbb83",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D12E4A777D6\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:56:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fc5f4f89-6ac8-d728-997b-fe8b5535de17/sourceFolder/bar/test-file-909efccb-0697-971b-d8af-18dd550cbb83?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "iwBO5qUntG8db5GZWOiNuoDDMO2dyo4lI0bQfC/H5BdfucX4zGUPo0gucid1gj7vIV1dkdvO5sBxKcNf[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fc5f4f89-6ac8-d728-997b-fe8b5535de17/sourceFolder/pik/test-file-e725a7da-997a-d86f-be2c-488fb3f98c1f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D12E4B91746\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:56:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fc5f4f89-6ac8-d728-997b-fe8b5535de17/sourceFolder/pik/test-file-e725a7da-997a-d86f-be2c-488fb3f98c1f?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "pfPJf5F3nG+likGyKxghqY/I0mtquMlH40+mPbtV0eKNXgi6mHmAYwu1QfBYvK2mC5//6icgtewpgpxC[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-57e005b7-a787-c30b-5805-f7c9342882e0/destinationFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:56:28 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D12E4CB1EAF\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:56:28 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-03-07T00:56:28.5789871Z",
        "x-ms-file-creation-time": "2025-03-07T00:56:28.5789871Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-03-07T00:56:28.5789871Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fc5f4f89-6ac8-d728-997b-fe8b5535de17?restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-fc5f4f89-6ac8-d728-997b-fe8b5535de17\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-909efccb-0697-971b-d8af-18dd550cbb83</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:56:28 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:56:28 GMT</Last-Modified><Etag>0x8DD5D12E4B047A0</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-e725a7da-997a-d86f-be2c-488fb3f98c1f</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:56:28 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:56:28 GMT</Last-Modified><Etag>0x8DD5D12E4C1C01F</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-D[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-57e005b7-a787-c30b-5805-f7c9342882e0/destinationFolder/bar?sv=Sanitized&se=2025-03-08T00%3A56%3A28Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D12E4E6C4EB\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:56:28 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-03-07T00:56:28.7601899Z",
        "x-ms-file-creation-time": "2025-03-07T00:56:28.7601899Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-03-07T00:56:28.7601899Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-57e005b7-a787-c30b-5805-f7c9342882e0/destinationFolder/pik?sv=Sanitized&se=2025-03-08T00%3A56%3A28Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D12E4F0570F\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:56:28 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-03-07T00:56:28.8229135Z",
        "x-ms-file-creation-time": "2025-03-07T00:56:28.8229135Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-03-07T00:56:28.8229135Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-57e005b7-a787-c30b-5805-f7c9342882e0/destinationFolder/test-file-f4f3f176-d89a-8f2d-c8da-c1f2741bd0a5?sv=Sanitized&se=2025-03-08T00%3A56%3A28Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-57e005b7-a787-c30b-5805-f7c9342882e0/destinationFolder/bar/test-file-909efccb-0697-971b-d8af-18dd550cbb83?sv=Sanitized&se=2025-03-08T00%3A56%3A28Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-57e005b7-a787-c30b-5805-f7c9342882e0/destinationFolder/test-file-f4f3f176-d89a-8f2d-c8da-c1f2741bd0a5?sv=Sanitized&se=2025-03-08T00%3A56%3A28Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-03-07T00:56:28.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D12E680CCA9\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:56:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T00:56:31.4473641Z",
        "x-ms-file-creation-time": "2025-03-07T00:56:28.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-03-07T00:56:31.4473641Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-57e005b7-a787-c30b-5805-f7c9342882e0/destinationFolder/pik/test-file-e725a7da-997a-d86f-be2c-488fb3f98c1f?sv=Sanitized&se=2025-03-08T00%3A56%3A28Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-57e005b7-a787-c30b-5805-f7c9342882e0/destinationFolder/test-file-f4f3f176-d89a-8f2d-c8da-c1f2741bd0a5?sv=Sanitized&se=2025-03-08T00%3A56%3A28Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-fc5f4f89-6ac8-d728-997b-fe8b5535de17/sourceFolder/test-file-f4f3f176-d89a-8f2d-c8da-c1f2741bd0a5",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D12E68C5873\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:56:31 GMT",
        "x-ms-content-crc64": "IbQPnuiqCBc=",
        "x-ms-file-last-write-time": "2025-03-07T00:56:31.4473641Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-57e005b7-a787-c30b-5805-f7c9342882e0/destinationFolder/bar/test-file-909efccb-0697-971b-d8af-18dd550cbb83?sv=Sanitized&se=2025-03-08T00%3A56%3A28Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-fc5f4f89-6ac8-d728-997b-fe8b5535de17/sourceFolder/bar/test-file-909efccb-0697-971b-d8af-18dd550cbb83",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D12E68F1479\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:56:31 GMT",
        "x-ms-content-crc64": "yCppLFvzTUg=",
        "x-ms-file-last-write-time": "2025-03-07T00:56:31.4722552Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-57e005b7-a787-c30b-5805-f7c9342882e0/destinationFolder/test-file-f4f3f176-d89a-8f2d-c8da-c1f2741bd0a5?sv=Sanitized&se=2025-03-08T00%3A56%3A28Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-03-07T00:56:28.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D12E6952822\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:56:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T00:56:31.5807778Z",
        "x-ms-file-creation-time": "2025-03-07T00:56:28.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-03-07T00:56:31.4473641Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-57e005b7-a787-c30b-5805-f7c9342882e0/destinationFolder/bar/test-file-909efccb-0697-971b-d8af-18dd550cbb83?sv=Sanitized&se=2025-03-08T00%3A56%3A28Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-03-07T00:56:28.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D12E6980B09\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:56:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T00:56:31.5996937Z",
        "x-ms-file-creation-time": "2025-03-07T00:56:28.0000000Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2025-03-07T00:56:31.4722552Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-57e005b7-a787-c30b-5805-f7c9342882e0/destinationFolder/pik/test-file-e725a7da-997a-d86f-be2c-488fb3f98c1f?sv=Sanitized&se=2025-03-08T00%3A56%3A28Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-fc5f4f89-6ac8-d728-997b-fe8b5535de17/sourceFolder/pik/test-file-e725a7da-997a-d86f-be2c-488fb3f98c1f",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D12E69A2B8B\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:56:31 GMT",
        "x-ms-content-crc64": "bOCK2SF2Rak=",
        "x-ms-file-last-write-time": "2025-03-07T00:56:31.5459310Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-57e005b7-a787-c30b-5805-f7c9342882e0/destinationFolder/pik/test-file-e725a7da-997a-d86f-be2c-488fb3f98c1f?sv=Sanitized&se=2025-03-08T00%3A56%3A28Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-03-07T00:56:28.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D12E6A2AD76\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:56:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T00:56:31.6693878Z",
        "x-ms-file-creation-time": "2025-03-07T00:56:28.0000000Z",
        "x-ms-file-id": "13835075647468208128",
        "x-ms-file-last-write-time": "2025-03-07T00:56:31.5459310Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fc5f4f89-6ac8-d728-997b-fe8b5535de17?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-57e005b7-a787-c30b-5805-f7c9342882e0/destinationFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:56:31 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-57e005b7-a787-c30b-5805-f7c9342882e0\" DirectoryPath=\"destinationFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-2ef3f95e-33df-7c08-06f3-5791cb6737da</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-f4f3f176-d89a-8f2d-c8da-c1f2741bd0a5</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-57e005b7-a787-c30b-5805-f7c9342882e0/destinationFolder/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:56:32 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-57e005b7-a787-c30b-5805-f7c9342882e0\" DirectoryPath=\"destinationFolder/bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-909efccb-0697-971b-d8af-18dd550cbb83</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-57e005b7-a787-c30b-5805-f7c9342882e0/destinationFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:56:32 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-57e005b7-a787-c30b-5805-f7c9342882e0\" DirectoryPath=\"destinationFolder/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-e725a7da-997a-d86f-be2c-488fb3f98c1f</Name><FileId>13835075647468208128</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fc5f4f89-6ac8-d728-997b-fe8b5535de17/sourceFolder/bar/test-file-909efccb-0697-971b-d8af-18dd550cbb83",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D12E4B047A0\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:56:28 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:56:28 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-57e005b7-a787-c30b-5805-f7c9342882e0/destinationFolder/bar/test-file-909efccb-0697-971b-d8af-18dd550cbb83",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:56:32 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D12E6980B09\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:56:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T00:56:31.5996937Z",
        "x-ms-file-creation-time": "2025-03-07T00:56:28.0000000Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2025-03-07T00:56:31.4722552Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fc5f4f89-6ac8-d728-997b-fe8b5535de17/sourceFolder/bar/test-file-909efccb-0697-971b-d8af-18dd550cbb83",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5D12E4B047A0\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D12E4B047A0\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:56:28 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:56:28 GMT",
[...]
