{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-56b8f1eb-d073-6dbe-15ca-db246e13398a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E5D26DC58\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:15:26 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-437020f4-e4ae-203d-0e67-7be8ad5f78cc?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:15:25 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E5D38B688\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:15:26 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-56b8f1eb-d073-6dbe-15ca-db246e13398a/sourceFolder/test-file-029516fe-4962-f4a0-6f59-8637534c378a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E5D40EC18\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:15:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-56b8f1eb-d073-6dbe-15ca-db246e13398a/sourceFolder/test-file-029516fe-4962-f4a0-6f59-8637534c378a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "pwPy0u6H+hJidWR/OC/Q/juglNkvJJdZI4yiaq+UIDE7hJBQWWWcViR6SYBAc9AwJ5vQNKlF0oJsma5i5JBizVQzRLOegKTVAz21tNsWGbC7ckMUxOuH9bIN48C2OnKTF3srDC4ckab2+jBsjx2mVX/+pnJMTglpq04BkZzkH8nLIZxf6wyBnuCcHcm6G2aUZ41BuJP/R8lywmHgGwAJEdtnoG6BRmpyfQiRrzA/rpDobCkPo2Y1y9rT7SiroYLgkwvuUnr3EyAizjqKbpeYMhTR967W+m50MtWTrVlCx9uFsRwkUVsV8FkJ7NUrql1DOrsU2qnUCZmdeSCkZGbH4AZfBbx6c+G4uwdVzQ2ZSId4UHKdLe0ysaiDh9c6cIzzQQzOzKWgyMfaXB6ifzuLBDGZLBPzKbMZLVQU9+wJfUp6YosBynvh2Ierw9HOjzJs94KloUR4/xhZtJ9Ri9Da0N7UKBywijm1t1SLSGXhSp0hqABpY9wGAWJzqBbbkEy30PPy+mcVu2xJ7+nw7beyd2kCL+LQcWwCzia6POIj2icH1Hdy7lA2DOyTIHPyFhSqwTCs2WBp5l+G8CxAWn6KJRXC6Bg/P4gZyyL2PVD5D7gREHuxdwDGnu4Y7P0j9rJtCPpeLy38aoGokg4+c6gOjOF0LkoD2K4U/EkpJ1KK9dU=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E5D494727\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:15:26 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "yVkUs65DRPU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-56b8f1eb-d073-6dbe-15ca-db246e13398a/sourceFolder/bar/test-file-aefead21-ffd7-422a-3b3b-6469ec680e64",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E5D627F3E\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:15:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-56b8f1eb-d073-6dbe-15ca-db246e13398a/sourceFolder/bar/test-file-aefead21-ffd7-422a-3b3b-6469ec680e64?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "IHCNVsIzfidyXKUISWSTTJAalwSs/PbRFnvZVvV40uWcIQfxmb6c7i/WO3tZIvnXpxfZ0tEKuCR5u0BG[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-56b8f1eb-d073-6dbe-15ca-db246e13398a/sourceFolder/pik/test-file-8c1eb4c5-fcbf-f613-7f80-30433ceadbe0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E5D72251E\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:15:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-56b8f1eb-d073-6dbe-15ca-db246e13398a/sourceFolder/pik/test-file-8c1eb4c5-fcbf-f613-7f80-30433ceadbe0?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "Wxje8wtCG5nqjt+auR5r7z0vxdG8A/5hOm2tAPj6zCaDkvt9F1wxgpmEojAdeDxhFUEFDSUKJFgZfLmd[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-437020f4-e4ae-203d-0e67-7be8ad5f78cc/destinationFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:15:26 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E5D81D733\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:15:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-04-30T23:15:27.3360179Z",
        "x-ms-file-creation-time": "2026-04-30T23:15:27.3360179Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-30T23:15:27.3360179Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11213973173494923372*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-56b8f1eb-d073-6dbe-15ca-db246e13398a?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-56b8f1eb-d073-6dbe-15ca-db246e13398a\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-029516fe-4962-f4a0-6f59-8637534c378a</Name><Properties><Creation-Time>Thu, 30 Apr 2026 23:15:26 GMT</Creation-Time><Last-Modified>Thu, 30 Apr 2026 23:15:26 GMT</Last-Modified><Etag>0x8DEA70E5D494727</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-ab8c1ede-a4f5-09f3-5ff7-990bd43e1e01</Name><Properties><Creation-Time>Thu, 30 Apr 2026 23:15:27 GMT</Creation-Time><Last-Modified>Thu, 30 Apr 2026 23:15:27 GMT</Last-Modified><Etag>0x8DEA70E5D5A71F9</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-437020f4-e4ae-203d-0e67-7be8ad5f78cc/destinationFolder/bar?sv=Sanitized&se=2026-05-01T23%3A15%3A26Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:a56d5cc4-501a-007f-19f7-d8a039000000\n",
        "Time:2026-04-30T23:15:27.5068798Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-437020f4-e4ae-203d-0e67-7be8ad5f78cc/destinationFolder/pik?sv=Sanitized&se=2026-05-01T23%3A15%3A26Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:a56d5cc6-501a-007f-1bf7-d8a039000000\n",
        "Time:2026-04-30T23:15:27.5898651Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-56b8f1eb-d073-6dbe-15ca-db246e13398a?restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-56b8f1eb-d073-6dbe-15ca-db246e13398a?restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-437020f4-e4ae-203d-0e67-7be8ad5f78cc/destinationFolder/pik/test-file-8c1eb4c5-fcbf-f613-7f80-30433ceadbe0?sv=Sanitized&se=2026-05-01T23%3A15%3A26Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-437020f4-e4ae-203d-0e67-7be8ad5f78cc/destinationFolder/pik/test-file-8c1eb4c5-fcbf-f613-7f80-30433ceadbe0?sv=Sanitized&se=2026-05-01T23%3A15%3A26Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "512",
        "x-ms-content-type": "image/jpeg",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E5FC53B16\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:15:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:15:31.1331094Z",
        "x-ms-file-creation-time": "2026-04-30T23:15:31.1331094Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-04-30T23:15:31.1331094Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-437020f4-e4ae-203d-0e67-7be8ad5f78cc/destinationFolder/pik/test-file-8c1eb4c5-fcbf-f613-7f80-30433ceadbe0?sv=Sanitized&se=2026-05-01T23%3A15%3A26Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-56b8f1eb-d073-6dbe-15ca-db246e13398a/sourceFolder/pik/test-file-8c1eb4c5-fcbf-f613-7f80-30433ceadbe0",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E5FD53A18\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:15:31 GMT",
        "x-ms-content-crc64": "Y6gVdYg7QdI=",
        "x-ms-file-last-write-time": "2026-04-30T23:15:31.1331094Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-437020f4-e4ae-203d-0e67-7be8ad5f78cc/destinationFolder/pik/test-file-8c1eb4c5-fcbf-f613-7f80-30433ceadbe0?sv=Sanitized&se=2026-05-01T23%3A15%3A26Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T23:15:27.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E5FDBA017\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:15:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:15:31.2798743Z",
        "x-ms-file-creation-time": "2026-04-30T23:15:27.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-04-30T23:15:31.1331094Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-437020f4-e4ae-203d-0e67-7be8ad5f78cc/destinationFolder/bar/test-file-aefead21-ffd7-422a-3b3b-6469ec680e64?sv=Sanitized&se=2026-05-01T23%3A15%3A26Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-437020f4-e4ae-203d-0e67-7be8ad5f78cc/destinationFolder/bar/test-file-aefead21-ffd7-422a-3b3b-6469ec680e64?sv=Sanitized&se=2026-05-01T23%3A15%3A26Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-56b8f1eb-d073-6dbe-15ca-db246e13398a/sourceFolder/bar/test-file-aefead21-ffd7-422a-3b3b-6469ec680e64",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E60177F1B\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:15:31 GMT",
        "x-ms-content-crc64": "3j2jEEhWFCw=",
        "x-ms-file-last-write-time": "2026-04-30T23:15:31.5793944Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-437020f4-e4ae-203d-0e67-7be8ad5f78cc/destinationFolder/test-file-ab8c1ede-a4f5-09f3-5ff7-990bd43e1e01?sv=Sanitized&se=2026-05-01T23%3A15%3A26Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-437020f4-e4ae-203d-0e67-7be8ad5f78cc/destinationFolder/bar/test-file-aefead21-ffd7-422a-3b3b-6469ec680e64?sv=Sanitized&se=2026-05-01T23%3A15%3A26Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T23:15:27.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E601E5A16\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:15:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:15:31.7171734Z",
        "x-ms-file-creation-time": "2026-04-30T23:15:27.0000000Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2026-04-30T23:15:31.5793944Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-437020f4-e4ae-203d-0e67-7be8ad5f78cc/destinationFolder/test-file-ab8c1ede-a4f5-09f3-5ff7-990bd43e1e01?sv=Sanitized&se=2026-05-01T23%3A15%3A26Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-56b8f1eb-d073-6dbe-15ca-db246e13398a/sourceFolder/test-file-ab8c1ede-a4f5-09f3-5ff7-990bd43e1e01",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E602F1C16\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:15:31 GMT",
        "x-ms-content-crc64": "Nkajn5XOylo=",
        "x-ms-file-last-write-time": "2026-04-30T23:15:31.7261589Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-437020f4-e4ae-203d-0e67-7be8ad5f78cc/destinationFolder/test-file-ab8c1ede-a4f5-09f3-5ff7-990bd43e1e01?sv=Sanitized&se=2026-05-01T23%3A15%3A26Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T23:15:27.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E60386715\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:15:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:15:31.8878997Z",
        "x-ms-file-creation-time": "2026-04-30T23:15:27.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2026-04-30T23:15:31.7261589Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-56b8f1eb-d073-6dbe-15ca-db246e13398a?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-437020f4-e4ae-203d-0e67-7be8ad5f78cc/destinationFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:15:31 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandasa3.file.core.windows.net/\" ShareName=\"test-share-437020f4-e4ae-203d-0e67-7be8ad5f78cc\" DirectoryPath=\"destinationFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-029516fe-4962-f4a0-6f59-8637534c378a</Name><FileId>11529250230440558592</FileId><Properties><Content-Length>512</Content-Length></Properties></File><File><Name>test-file-ab8c1ede-a4f5-09f3-5ff7-990bd43e1e01</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>512</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-437020f4-e4ae-203d-0e67-7be8ad5f78cc/destinationFolder/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:15:31 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandasa3.file.core.windows.net/\" ShareName=\"test-share-437020f4-e4ae-203d-0e67-7be8ad5f78cc\" DirectoryPath=\"destinationFolder/bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-aefead21-ffd7-422a-3b3b-6469ec680e64</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>512</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-437020f4-e4ae-203d-0e67-7be8ad5f78cc/destinationFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:15:31 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandasa3.file.core.windows.net/\" ShareName=\"test-share-437020f4-e4ae-203d-0e67-7be8ad5f78cc\" DirectoryPath=\"destinationFolder/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-8c1eb4c5-fcbf-f613-7f80-30433ceadbe0</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>512</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-56b8f1eb-d073-6dbe-15ca-db246e13398a/sourceFolder/bar/test-file-aefead21-ffd7-422a-3b3b-6469ec680e64",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA70E5D6A65AC\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:15:27 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 30 Apr 2026 23:15:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-437020f4-e4ae-203d-0e67-7be8ad5f78cc/destinationFolder/bar/test-file-aefead21-ffd7-422a-3b3b-6469ec680e64",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:15:31 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA70E601E5A16\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:15:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:15:31.7171734Z",
[...]
