{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2219a3e6-ec88-37e9-5848-e1c52dfa03d3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FD38FDED9\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:47:53 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-bc52c090-2e4c-7744-696c-2699f1fd3d11?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:47:53 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FD39B850C\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:47:53 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-bc52c090-2e4c-7744-696c-2699f1fd3d11/destPrefix?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:47:53 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FD3A492FB\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:47:53 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-19T23:47:53.2046075Z",
        "x-ms-file-creation-time": "2025-02-19T23:47:53.2046075Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-19T23:47:53.2046075Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2219a3e6-ec88-37e9-5848-e1c52dfa03d3/sourceFolder/test-file-598a16aa-9fb0-f3c2-e482-4643a9e1cc0b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FD3AC3CB2\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:47:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-19T23:47:53.2548274Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2219a3e6-ec88-37e9-5848-e1c52dfa03d3/sourceFolder/test-file-598a16aa-9fb0-f3c2-e482-4643a9e1cc0b?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "UYuPj5Xq9FTlZ0d7r9kBv4v8gWrXwqVqKfKoH7zZUZkvBFZLo5aMvyI2dEhYRkMKgIe3rGBhM4/lJWWjQtWXCxWtTKuDthv1cMFIoU5dEeOunZ41IaQ4ztDGZX0x6XxMnmgyqvqXh8prwjyeGZJBiBSC9KU2YelxdX3bvFCdw4dF+wLlKmfoFxXUyl9nmrQ9hd1pr/TXFT1+wTV8vMt5zf61WR2PW12smd2QYpaKCdvJnTZyMxSSbeXFZ2gxbFpJWv1hskCWrSp/vRUXR7Km9Lhasx6UBpnpI+s3yvT1eiyCRgiZKVeaMu8M83b/eyYyH3Kw17k8tFNjd45UX+M1ikLplACqDMthv4AuiBMi6qjEBKuBRKNyRZG0NbHIRdMM12g0FeYmiBKnTxg5Dix[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2219a3e6-ec88-37e9-5848-e1c52dfa03d3/sourceFolder/bar/test-file-8ae58d07-86bc-bd12-c40a-4d08714dd3fc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FD3C93656\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:47:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-19T23:47:53.4447190Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2219a3e6-ec88-37e9-5848-e1c52dfa03d3/sourceFolder/bar/test-file-8ae58d07-86bc-bd12-c40a-4d08714dd3fc?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "y+U3bgqhjqLLWGuDILkUef60iyhtyZi4zLGb0q60NkkUNIKI4IbfZv9Dv2Maj50K9tQKvMKqjwFNf6[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2219a3e6-ec88-37e9-5848-e1c52dfa03d3/sourceFolder/pik/test-file-bab8e903-84b5-8a27-73a9-b64af6c71807",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FD3DA23CC\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:47:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-19T23:47:53.5556556Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2219a3e6-ec88-37e9-5848-e1c52dfa03d3/sourceFolder/pik/test-file-bab8e903-84b5-8a27-73a9-b64af6c71807?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "iEhbshFrGmjMiqZSJnXu1OeEXElchjNjxGMPP+L9YNdQAZFli38pl89P7ire1WT9uuFicWrPqgIU+O[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2219a3e6-ec88-37e9-5848-e1c52dfa03d3?restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-2219a3e6-ec88-37e9-5848-e1c52dfa03d3\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-8ae58d07-86bc-bd12-c40a-4d08714dd3fc</Name><VersionId>2025-02-19T23:47:53.4447190Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 19 Feb 2025 23:47:53 GMT</Creation-Time><Last-Modified>Wed, 19 Feb 2025 23:47:53 GMT</Last-Modified><Etag>0x8DD513FD3D1998E</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-bab8e903-84b5-8a27-73a9-b64af6c71807</Name><VersionId>2025-02-19T23:47:53.5556556Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 19 Feb 2025 23:47:53 GMT</Creation-Time><Last-Modified>Wed, 19 Feb 2025 23:47:53 GMT</Last-Modified><Etag>0x8DD513FD3E28705</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 />[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-bc52c090-2e4c-7744-696c-2699f1fd3d11/destPrefix/bar?sv=Sanitized&se=2025-02-20T23%3A47%3A53Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FD3F60262\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:47:53 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-19T23:47:53.7383010Z",
        "x-ms-file-creation-time": "2025-02-19T23:47:53.7383010Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-02-19T23:47:53.7383010Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-bc52c090-2e4c-7744-696c-2699f1fd3d11/destPrefix/pik?sv=Sanitized&se=2025-02-20T23%3A47%3A53Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FD3FD2D46\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:47:53 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-19T23:47:53.7852742Z",
        "x-ms-file-creation-time": "2025-02-19T23:47:53.7852742Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-02-19T23:47:53.7852742Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-bc52c090-2e4c-7744-696c-2699f1fd3d11/destPrefix/bar/test-file-8ae58d07-86bc-bd12-c40a-4d08714dd3fc?sv=Sanitized&se=2025-02-20T23%3A47%3A53Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-19T23:47:53.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FD4ED847E\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:47:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:47:55.3603710Z",
        "x-ms-file-creation-time": "2025-02-19T23:47:53.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-02-19T23:47:55.3603710Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-bc52c090-2e4c-7744-696c-2699f1fd3d11/destPrefix/pik/test-file-bab8e903-84b5-8a27-73a9-b64af6c71807?sv=Sanitized&se=2025-02-20T23%3A47%3A53Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-l[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-bc52c090-2e4c-7744-696c-2699f1fd3d11/destPrefix/bar/test-file-8ae58d07-86bc-bd12-c40a-4d08714dd3fc?sv=Sanitized&se=2025-02-20T23%3A47%3A53Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-2219a3e6-ec88-37e9-5848-e1c52dfa03d3/sourceFolder/bar/test-file-8ae58d07-86bc-bd12-c40a-4d08714dd3fc",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FD4F79526\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:47:55 GMT",
        "x-ms-content-crc64": "zB2Qrol8tX0=",
        "x-ms-file-last-write-time": "2025-02-19T23:47:55.3603710Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-bc52c090-2e4c-7744-696c-2699f1fd3d11/destPrefix/test-file-f6599651-dea4-d58b-6358-1134af81015a?sv=Sanitized&se=2025-02-20T23%3A47%3A53Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-lengt[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-bc52c090-2e4c-7744-696c-2699f1fd3d11/destPrefix/pik/test-file-bab8e903-84b5-8a27-73a9-b64af6c71807?sv=Sanitized&se=2025-02-20T23%3A47%3A53Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-2219a3e6-ec88-37e9-5848-e1c52dfa03d3/sourceFolder/pik/test-file-bab8e903-84b5-8a27-73a9-b64af6c71807",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FD4FE4AEB\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:47:55 GMT",
        "x-ms-content-crc64": "lY3ygMvmoVY=",
        "x-ms-file-last-write-time": "2025-02-19T23:47:55.4013477Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-bc52c090-2e4c-7744-696c-2699f1fd3d11/destPrefix/bar/test-file-8ae58d07-86bc-bd12-c40a-4d08714dd3fc?sv=Sanitized&se=2025-02-20T23%3A47%3A53Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-19T23:47:53.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FD4FDFCD7\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:47:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:47:55.4683095Z",
        "x-ms-file-creation-time": "2025-02-19T23:47:53.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-02-19T23:47:55.3603710Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-bc52c090-2e4c-7744-696c-2699f1fd3d11/destPrefix/pik/test-file-bab8e903-84b5-8a27-73a9-b64af6c71807?sv=Sanitized&se=2025-02-20T23%3A47%3A53Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-19T23:47:53.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FD50500AD\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:47:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:47:55.5142829Z",
        "x-ms-file-creation-time": "2025-02-19T23:47:53.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-02-19T23:47:55.4013477Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-bc52c090-2e4c-7744-696c-2699f1fd3d11/destPrefix/test-file-f6599651-dea4-d58b-6358-1134af81015a?sv=Sanitized&se=2025-02-20T23%3A47%3A53Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-2219a3e6-ec88-37e9-5848-e1c52dfa03d3/sourceFolder/test-file-f6599651-dea4-d58b-6358-1134af81015a",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FD50575CC\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:47:55 GMT",
        "x-ms-content-crc64": "dYDKTkGyby8=",
        "x-ms-file-last-write-time": "2025-02-19T23:47:55.4583153Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-bc52c090-2e4c-7744-696c-2699f1fd3d11/destPrefix/test-file-f6599651-dea4-d58b-6358-1134af81015a?sv=Sanitized&se=2025-02-20T23%3A47%3A53Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-19T23:47:53.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513FD50D8AEF\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:47:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:47:55.5702511Z",
        "x-ms-file-creation-time": "2025-02-19T23:47:53.0000000Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2025-02-19T23:47:55.4583153Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2219a3e6-ec88-37e9-5848-e1c52dfa03d3?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBo[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-bc52c090-2e4c-7744-696c-2699f1fd3d11/destPrefix?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:47:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-bc52c090-2e4c-7744-696c-2699f1fd3d11\" DirectoryPath=\"destPrefix\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-598a16aa-9fb0-f3c2-e482-4643a9e1cc0b</Name><FileId>13835075647468208128</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-f6599651-dea4-d58b-6358-1134af81015a</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-bc52c090-2e4c-7744-696c-2699f1fd3d11/destPrefix/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:47:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-bc52c090-2e4c-7744-696c-2699f1fd3d11\" DirectoryPath=\"destPrefix/bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-8ae58d07-86bc-bd12-c40a-4d08714dd3fc</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-bc52c090-2e4c-7744-696c-2699f1fd3d11/destPrefix/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:47:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-bc52c090-2e4c-7744-696c-2699f1fd3d11\" DirectoryPath=\"destPrefix/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-bab8e903-84b5-8a27-73a9-b64af6c71807</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2219a3e6-ec88-37e9-5848-e1c52dfa03d3/sourceFolder/bar/test-file-8ae58d07-86bc-bd12-c40a-4d08714dd3fc",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD513FD3D1998E\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:47:53 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 19 Feb 2025 23:47:53 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-19T23:47:53.4447190Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-bc52c090-2e4c-7744-696c-2699f1fd3d11/destPrefix/bar/test-file-8ae58d07-86bc-bd12-c40a-4d08714dd3fc",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:47:56 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD513FD4FDFCD7\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:47:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:47:55.4683095Z",
        "x-ms-file-creation-time": "2025-02-19T23:47:53.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-02-19T23:47:55.3603710Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2219a3e6-ec88-37e9-5848-e1c52dfa03d3/sourceFolder/bar/test-file-8ae58d07-86bc-bd12-c40a-4d08714dd3fc",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD513FD3D1998E\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD513FD3D1998E\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:47:53 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 19 Feb 2025 23:47:53 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-bc52c090-2e4c-7744-696c-2699f1fd3d11/destPrefix/pik/test-file-bab8e903-84b5-8a27-73a9-b64af6c71807",
      "RequestMethod": "HEAD",
[...]
