{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b00c0cfb-7ac0-ce55-82ad-b4023e0ec25c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8CD1FF319\"",
        "Last-Modified": "Thu, 15 May 2025 21:38:15 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-d07c6116-2a64-1d1f-6aee-4282e24903fa?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:38:16 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8CD6D6802\"",
        "Last-Modified": "Thu, 15 May 2025 21:38:16 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-d07c6116-2a64-1d1f-6aee-4282e24903fa/destPrefix?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:38:17 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8CD846BE2\"",
        "Last-Modified": "Thu, 15 May 2025 21:38:16 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-15T21:38:16.5658594Z",
        "x-ms-file-creation-time": "2025-05-15T21:38:16.5658594Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-15T21:38:16.5658594Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b00c0cfb-7ac0-ce55-82ad-b4023e0ec25c/sourceFolder/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8CD9CDB83\"",
        "Last-Modified": "Thu, 15 May 2025 21:38:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b00c0cfb-7ac0-ce55-82ad-b4023e0ec25c/sourceFolder/item1?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "e4jvoTPh8crEpYryLHpxP3EHKSh0NLkWsltNjGpBHkjbhrINkTpX4Qnjwa0P/CSCWGDkK20Wn0fP2e/Yk2RggoZCFqXIZK43r0cfkHILBrU2yzQJXfLaxOZrPrdLf02kgz8mzeV+uvSyrXwm9w7Vw9M5ocgwViWUaFG/XCX27C/6eg0y5TjQuBA/VrB2tM3XlnvkEd2FcywakmWTv13OvMBMK3wBot6aaem38AB1HrSE58aqEdpSdQfgGFLSPPizcZnvKYhQ1vOcSqjzzYIspHSxD9eXI6vm+bZ1IYmLxyzxBH9mhfQrMxHSDcYxXqeEtHPeIS0gHE7uCC/R27RqEYJ8AskDxR5/hdvGxBXktJsO8G0VrKb/0Ogxd33EWVhcaPxEtVzege5VXptRWlc[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-d07c6116-2a64-1d1f-6aee-4282e24903fa/destPrefix/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 15 May 2025 21:38:17 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8CDC60D31\"",
        "Last-Modified": "Thu, 15 May 2025 21:38:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:38:16.9959729Z",
        "x-ms-file-creation-time": "2025-05-15T21:38:16.9959729Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-15T21:38:16.9959729Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b00c0cfb-7ac0-ce55-82ad-b4023e0ec25c/sourceFolder/test-file-d9546b70-d4eb-824c-fc05-2880ed201ded",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8CDD05BD5\"",
        "Last-Modified": "Thu, 15 May 2025 21:38:17 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b00c0cfb-7ac0-ce55-82ad-b4023e0ec25c/sourceFolder/test-file-d9546b70-d4eb-824c-fc05-2880ed201ded?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "uG091yJ56XoAldqa9C3Iz5Qp/OI0JBjEkrMbxweItFgUVqO9wkiv94HZ2Fb5so3PPVnswyQ7uJRVeEVvXSJz[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b00c0cfb-7ac0-ce55-82ad-b4023e0ec25c/sourceFolder/bar/test-file-c1d8b521-cd6f-b1cd-b3a8-6c189aca3911",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8CDEB18C6\"",
        "Last-Modified": "Thu, 15 May 2025 21:38:17 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b00c0cfb-7ac0-ce55-82ad-b4023e0ec25c/sourceFolder/bar/test-file-c1d8b521-cd6f-b1cd-b3a8-6c189aca3911?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "a+4JrGd5otzMK/nKZcyOP2+BFwsWVoufID3UY+kC2lFEWIc4heFKpxL89EPUA0znGi2pGbMu+hRjaYwp[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b00c0cfb-7ac0-ce55-82ad-b4023e0ec25c/sourceFolder/pik/test-file-e38dfde9-40b0-8c4b-94ce-e47c5561d35a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8CE027E1F\"",
        "Last-Modified": "Thu, 15 May 2025 21:38:17 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b00c0cfb-7ac0-ce55-82ad-b4023e0ec25c/sourceFolder/pik/test-file-e38dfde9-40b0-8c4b-94ce-e47c5561d35a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "SqS920vsIY1tcS7GpXOj7xO/1I9hc7k7tLDmdGhtu/GtWgRecAAT/NsAdT4SheYhK/RplYxE+dbrgSaa[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b00c0cfb-7ac0-ce55-82ad-b4023e0ec25c?restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-b00c0cfb-7ac0-ce55-82ad-b4023e0ec25c\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-c1d8b521-cd6f-b1cd-b3a8-6c189aca3911</Name><Properties><Creation-Time>Thu, 15 May 2025 21:38:17 GMT</Creation-Time><Last-Modified>Thu, 15 May 2025 21:38:17 GMT</Last-Modified><Etag>0x8DD93F8CDF8EC02</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/item1</Name><Properties><Creation-Time>Thu, 15 May 2025 21:38:16 GMT</Creation-Time><Last-Modified>Thu, 15 May 2025 21:38:16 GMT</Last-Modified><Etag>0x8DD93F8CDAC5A7A</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><Le[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-d07c6116-2a64-1d1f-6aee-4282e24903fa/destPrefix/bar?sv=Sanitized&se=2025-05-16T21%3A38%3A18Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8CE7EC9BD\"",
        "Last-Modified": "Thu, 15 May 2025 21:38:18 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-15T21:38:18.2066621Z",
        "x-ms-file-creation-time": "2025-05-15T21:38:18.2066621Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-05-15T21:38:18.2066621Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-d07c6116-2a64-1d1f-6aee-4282e24903fa/destPrefix/pik?sv=Sanitized&se=2025-05-16T21%3A38%3A18Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8CE89B9EE\"",
        "Last-Modified": "Thu, 15 May 2025 21:38:18 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-15T21:38:18.2783470Z",
        "x-ms-file-creation-time": "2025-05-15T21:38:18.2783470Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-05-15T21:38:18.2783470Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-d07c6116-2a64-1d1f-6aee-4282e24903fa/destPrefix/item1?sv=Sanitized&se=2025-05-16T21%3A38%3A18Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-15T21:38:16.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8D078FD89\"",
        "Last-Modified": "Thu, 15 May 2025 21:38:21 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:38:21.5241097Z",
        "x-ms-file-creation-time": "2025-05-15T21:38:16.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-15T21:38:21.5241097Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-d07c6116-2a64-1d1f-6aee-4282e24903fa/destPrefix/item1?sv=Sanitized&se=2025-05-16T21%3A38%3A18Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-b00c0cfb-7ac0-ce55-82ad-b4023e0ec25c/sourceFolder/item1",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8D0953F78\"",
        "Last-Modified": "Thu, 15 May 2025 21:38:21 GMT",
        "x-ms-content-crc64": "5G8MZg2veZ8=",
        "x-ms-file-last-write-time": "2025-05-15T21:38:21.5241097Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-d07c6116-2a64-1d1f-6aee-4282e24903fa/destPrefix/test-file-d9546b70-d4eb-824c-fc05-2880ed201ded?sv=Sanitized&se=2025-05-16T21%3A38%3A18Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length"[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-d07c6116-2a64-1d1f-6aee-4282e24903fa/destPrefix/pik/test-file-e38dfde9-40b0-8c4b-94ce-e47c5561d35a?sv=Sanitized&se=2025-05-16T21%3A38%3A18Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-len[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-d07c6116-2a64-1d1f-6aee-4282e24903fa/destPrefix/item1?sv=Sanitized&se=2025-05-16T21%3A38%3A18Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-15T21:38:16.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8D0ACF29A\"",
        "Last-Modified": "Thu, 15 May 2025 21:38:21 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:38:21.8646170Z",
        "x-ms-file-creation-time": "2025-05-15T21:38:16.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-15T21:38:21.5241097Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-d07c6116-2a64-1d1f-6aee-4282e24903fa/destPrefix/bar/test-file-c1d8b521-cd6f-b1cd-b3a8-6c189aca3911?sv=Sanitized&se=2025-05-16T21%3A38%3A18Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-len[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-d07c6116-2a64-1d1f-6aee-4282e24903fa/destPrefix/pik/test-file-e38dfde9-40b0-8c4b-94ce-e47c5561d35a?sv=Sanitized&se=2025-05-16T21%3A38%3A18Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-b00c0cfb-7ac0-ce55-82ad-b4023e0ec25c/sourceFolder/pik/test-file-e38dfde9-40b0-8c4b-94ce-e47c5561d35a",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8D0B8CC22\"",
        "Last-Modified": "Thu, 15 May 2025 21:38:21 GMT",
        "x-ms-content-crc64": "pLhZd1k7Dww=",
        "x-ms-file-last-write-time": "2025-05-15T21:38:21.8218045Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-d07c6116-2a64-1d1f-6aee-4282e24903fa/destPrefix/pik/test-file-e38dfde9-40b0-8c4b-94ce-e47c5561d35a?sv=Sanitized&se=2025-05-16T21%3A38%3A18Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-15T21:38:17.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8D0C2F9EB\"",
        "Last-Modified": "Thu, 15 May 2025 21:38:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:38:22.0089835Z",
        "x-ms-file-creation-time": "2025-05-15T21:38:17.0000000Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-05-15T21:38:21.8218045Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-d07c6116-2a64-1d1f-6aee-4282e24903fa/destPrefix/test-file-d9546b70-d4eb-824c-fc05-2880ed201ded?sv=Sanitized&se=2025-05-16T21%3A38%3A18Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-b00c0cfb-7ac0-ce55-82ad-b4023e0ec25c/sourceFolder/test-file-d9546b70-d4eb-824c-fc05-2880ed201ded",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8D0C8E6B0\"",
        "Last-Modified": "Thu, 15 May 2025 21:38:22 GMT",
        "x-ms-content-crc64": "O/f/XppN3lI=",
        "x-ms-file-last-write-time": "2025-05-15T21:38:21.7640580Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-d07c6116-2a64-1d1f-6aee-4282e24903fa/destPrefix/bar/test-file-c1d8b521-cd6f-b1cd-b3a8-6c189aca3911?sv=Sanitized&se=2025-05-16T21%3A38%3A18Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-b00c0cfb-7ac0-ce55-82ad-b4023e0ec25c/sourceFolder/bar/test-file-c1d8b521-cd6f-b1cd-b3a8-6c189aca3911",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8D0C90D9A\"",
        "Last-Modified": "Thu, 15 May 2025 21:38:22 GMT",
        "x-ms-content-crc64": "rmRNE73Xr64=",
        "x-ms-file-last-write-time": "2025-05-15T21:38:21.8775601Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-d07c6116-2a64-1d1f-6aee-4282e24903fa/destPrefix/bar/test-file-c1d8b521-cd6f-b1cd-b3a8-6c189aca3911?sv=Sanitized&se=2025-05-16T21%3A38%3A18Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-15T21:38:17.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8D0D4C050\"",
        "Last-Modified": "Thu, 15 May 2025 21:38:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:38:22.1254736Z",
        "x-ms-file-creation-time": "2025-05-15T21:38:17.0000000Z",
        "x-ms-file-id": "9799903157902376960",
        "x-ms-file-last-write-time": "2025-05-15T21:38:21.8775601Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-d07c6116-2a64-1d1f-6aee-4282e24903fa/destPrefix/test-file-d9546b70-d4eb-824c-fc05-2880ed201ded?sv=Sanitized&se=2025-05-16T21%3A38%3A18Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-15T21:38:17.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F8D0D99CCF\"",
        "Last-Modified": "Thu, 15 May 2025 21:38:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:38:22.1573327Z",
        "x-ms-file-creation-time": "2025-05-15T21:38:17.0000000Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-05-15T21:38:21.7640580Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b00c0cfb-7ac0-ce55-82ad-b4023e0ec25c?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-d07c6116-2a64-1d1f-6aee-4282e24903fa/destPrefix?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:38:23 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-d07c6116-2a64-1d1f-6aee-4282e24903fa\" DirectoryPath=\"destPrefix\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>item1</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><Directory><Name>pik</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>test-file-d9546b70-d4eb-824c-fc05-2880ed201ded</Name><FileId>12682206919419494400</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-d07c6116-2a64-1d1f-6aee-4282e24903fa/destPrefix/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:38:23 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
[...]
