{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-95ec0e78-e83a-8343-3288-3c3918dcd5cc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B3E0AB9EA1\"",
        "Last-Modified": "Fri, 16 May 2025 19:57:24 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2dda24e3-d52f-44bb-f571-8d3853843f57?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 19:57:24 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B3E0B40119\"",
        "Last-Modified": "Fri, 16 May 2025 19:57:24 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2dda24e3-d52f-44bb-f571-8d3853843f57/destPrefix?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 19:57:24 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B3E0BDC74A\"",
        "Last-Modified": "Fri, 16 May 2025 19:57:24 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-16T19:57:24.7069002Z",
        "x-ms-file-creation-time": "2025-05-16T19:57:24.7069002Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-16T19:57:24.7069002Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-95ec0e78-e83a-8343-3288-3c3918dcd5cc/sourceFolder/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B3E0C6F5EA\"",
        "Last-Modified": "Fri, 16 May 2025 19:57:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-95ec0e78-e83a-8343-3288-3c3918dcd5cc/sourceFolder/item1?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "zg64G14IM8UwWD6WrFEqLpMKScUvVtAaC4gmAYGxo7in8K0+EqsXxrLAXlDfv+shRzxO1d/+FHc+nRDW4jFDf7SG77yk7Bvn84MTb/iAOkycBbpFY87ZqNs1AHSbQOOAfN6cWM8vfFshZuJc66V+vmLEOd13/hzmrUfgbuymTLKfk/IZ4+F8bYheI/zrfbw2t0IS1gcGCH7CtauITg5uexkvvFizZdqASMxVGNof+jCKqreqlHWrmItzVy428x558KjivMBkg1FnkY46se+kort7/aRXxOajhCPNPw6sSlSt2ygxPT5vJiZlQgLncOebz7Rzu/V6IivBPziclkNDu0Y6jNbGcmV8C9d98YLkvBM8MXBZOI9eM7j9b/4G05DiIYa8rOQQ1VxP9q8e/DC[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2dda24e3-d52f-44bb-f571-8d3853843f57/destPrefix/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 16 May 2025 19:57:24 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B3E0D8AB50\"",
        "Last-Modified": "Fri, 16 May 2025 19:57:24 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-16T19:57:24.8831312Z",
        "x-ms-file-creation-time": "2025-05-16T19:57:24.8831312Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-16T19:57:24.8831312Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-95ec0e78-e83a-8343-3288-3c3918dcd5cc/sourceFolder/test-file-fa6edb1f-2e92-ee59-51bb-809e16226bb6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B3E0E24E6A\"",
        "Last-Modified": "Fri, 16 May 2025 19:57:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-95ec0e78-e83a-8343-3288-3c3918dcd5cc/sourceFolder/test-file-fa6edb1f-2e92-ee59-51bb-809e16226bb6?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "TcysNxs5+83lBmDDQAOnQGDvpc8nbVTvuVcuxlmAZRcVcpWZ0X8t5eCgFIzOla1OEz8+J3ycj+B4vH7ECzRz[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-95ec0e78-e83a-8343-3288-3c3918dcd5cc/sourceFolder/bar/test-file-d0a0e457-e891-f2d4-d13a-ea05947657c5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B3E0F4D72C\"",
        "Last-Modified": "Fri, 16 May 2025 19:57:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-95ec0e78-e83a-8343-3288-3c3918dcd5cc/sourceFolder/bar/test-file-d0a0e457-e891-f2d4-d13a-ea05947657c5?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "C566JqYiP4ltwqy9FnnNZivxhn2EVfsHsJDudke6iLXRUaB6k6vFNaQWY847FttYbYPao+/aQLWisnYV[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-95ec0e78-e83a-8343-3288-3c3918dcd5cc/sourceFolder/pik/test-file-4d782f93-f187-1311-b3bf-48bac45452b6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B3E106769F\"",
        "Last-Modified": "Fri, 16 May 2025 19:57:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-95ec0e78-e83a-8343-3288-3c3918dcd5cc/sourceFolder/pik/test-file-4d782f93-f187-1311-b3bf-48bac45452b6?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "nY7njGI+gfwx4hdVucaZerKPJzQJt/qbyRWZur3QQavekRi/AVezVK58G6TZvFnsJc4INC0dreWTS8NM[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-95ec0e78-e83a-8343-3288-3c3918dcd5cc?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-95ec0e78-e83a-8343-3288-3c3918dcd5cc\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><Blob><Name>sourceFolder/item1</Name><Properties><Creation-Time>Fri, 16 May 2025 19:57:24 GMT</Creation-Time><Last-Modified>Fri, 16 May 2025 19:57:24 GMT</Last-Modified><Etag>0x8DD94B3E0CFC5A4</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-fa6edb1f-2e92-ee59-51bb-809e16226bb6</Name><Properties><Creation-Time>Fri, 16 May 2025 19:57:24 GMT</Creation-Time><Last-Modified>Fri, 16 May 2025 19:57:25 GMT</Last-Modified><Etag>0x8DD94B3E0EC2E58</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2dda24e3-d52f-44bb-f571-8d3853843f57/destPrefix/bar?sv=Sanitized&se=2025-05-17T19%3A57%3A25Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B3E124A1BA\"",
        "Last-Modified": "Fri, 16 May 2025 19:57:25 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-16T19:57:25.3809594Z",
        "x-ms-file-creation-time": "2025-05-16T19:57:25.3809594Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-05-16T19:57:25.3809594Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2dda24e3-d52f-44bb-f571-8d3853843f57/destPrefix/pik?sv=Sanitized&se=2025-05-17T19%3A57%3A25Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B3E12D7179\"",
        "Last-Modified": "Fri, 16 May 2025 19:57:25 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-16T19:57:25.4387065Z",
        "x-ms-file-creation-time": "2025-05-16T19:57:25.4387065Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-05-16T19:57:25.4387065Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-95ec0e78-e83a-8343-3288-3c3918dcd5cc?restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-95ec0e78-e83a-8343-3288-3c3918dcd5cc?restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2dda24e3-d52f-44bb-f571-8d3853843f57/destPrefix/test-file-fa6edb1f-2e92-ee59-51bb-809e16226bb6?sv=Sanitized&se=2025-05-17T19%3A57%3A25Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-16T19:57:24.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B3E2F868AA\"",
        "Last-Modified": "Fri, 16 May 2025 19:57:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-16T19:57:28.4465834Z",
        "x-ms-file-creation-time": "2025-05-16T19:57:24.0000000Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-05-16T19:57:28.4465834Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2dda24e3-d52f-44bb-f571-8d3853843f57/destPrefix/test-file-fa6edb1f-2e92-ee59-51bb-809e16226bb6?sv=Sanitized&se=2025-05-17T19%3A57%3A25Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-95ec0e78-e83a-8343-3288-3c3918dcd5cc/sourceFolder/test-file-fa6edb1f-2e92-ee59-51bb-809e16226bb6",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B3E303A6BB\"",
        "Last-Modified": "Fri, 16 May 2025 19:57:28 GMT",
        "x-ms-content-crc64": "iHWvQR+Tdyg=",
        "x-ms-file-last-write-time": "2025-05-16T19:57:28.4465834Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2dda24e3-d52f-44bb-f571-8d3853843f57/destPrefix/item1?sv=Sanitized&se=2025-05-17T19%3A57%3A25Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "i[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2dda24e3-d52f-44bb-f571-8d3853843f57/destPrefix/test-file-fa6edb1f-2e92-ee59-51bb-809e16226bb6?sv=Sanitized&se=2025-05-17T19%3A57%3A25Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-16T19:57:24.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B3E30EBDE7\"",
        "Last-Modified": "Fri, 16 May 2025 19:57:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-16T19:57:28.5929447Z",
        "x-ms-file-creation-time": "2025-05-16T19:57:24.0000000Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-05-16T19:57:28.4465834Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2dda24e3-d52f-44bb-f571-8d3853843f57/destPrefix/pik/test-file-4d782f93-f187-1311-b3bf-48bac45452b6?sv=Sanitized&se=2025-05-17T19%3A57%3A25Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-len[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2dda24e3-d52f-44bb-f571-8d3853843f57/destPrefix/item1?sv=Sanitized&se=2025-05-17T19%3A57%3A25Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-95ec0e78-e83a-8343-3288-3c3918dcd5cc/sourceFolder/item1",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B3E31766CC\"",
        "Last-Modified": "Fri, 16 May 2025 19:57:28 GMT",
        "x-ms-content-crc64": "hHp+hLLAUFE=",
        "x-ms-file-last-write-time": "2025-05-16T19:57:28.5829883Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2dda24e3-d52f-44bb-f571-8d3853843f57/destPrefix/pik/test-file-4d782f93-f187-1311-b3bf-48bac45452b6?sv=Sanitized&se=2025-05-17T19%3A57%3A25Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-95ec0e78-e83a-8343-3288-3c3918dcd5cc/sourceFolder/pik/test-file-4d782f93-f187-1311-b3bf-48bac45452b6",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B3E31CB80D\"",
        "Last-Modified": "Fri, 16 May 2025 19:57:28 GMT",
        "x-ms-content-crc64": "V4dqn8mG7Tc=",
        "x-ms-file-last-write-time": "2025-05-16T19:57:28.6138538Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2dda24e3-d52f-44bb-f571-8d3853843f57/destPrefix/item1?sv=Sanitized&se=2025-05-17T19%3A57%3A25Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-16T19:57:24.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B3E3203694\"",
        "Last-Modified": "Fri, 16 May 2025 19:57:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-16T19:57:28.7074452Z",
        "x-ms-file-creation-time": "2025-05-16T19:57:24.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-16T19:57:28.5829883Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2dda24e3-d52f-44bb-f571-8d3853843f57/destPrefix/bar/test-file-d0a0e457-e891-f2d4-d13a-ea05947657c5?sv=Sanitized&se=2025-05-17T19%3A57%3A25Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-len[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2dda24e3-d52f-44bb-f571-8d3853843f57/destPrefix/pik/test-file-4d782f93-f187-1311-b3bf-48bac45452b6?sv=Sanitized&se=2025-05-17T19%3A57%3A25Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-16T19:57:25.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B3E32560F3\"",
        "Last-Modified": "Fri, 16 May 2025 19:57:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-16T19:57:28.7412979Z",
        "x-ms-file-creation-time": "2025-05-16T19:57:25.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-05-16T19:57:28.6138538Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2dda24e3-d52f-44bb-f571-8d3853843f57/destPrefix/bar/test-file-d0a0e457-e891-f2d4-d13a-ea05947657c5?sv=Sanitized&se=2025-05-17T19%3A57%3A25Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-95ec0e78-e83a-8343-3288-3c3918dcd5cc/sourceFolder/bar/test-file-d0a0e457-e891-f2d4-d13a-ea05947657c5",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B3E32AD914\"",
        "Last-Modified": "Fri, 16 May 2025 19:57:28 GMT",
        "x-ms-content-crc64": "X+/IvWUUizs=",
        "x-ms-file-last-write-time": "2025-05-16T19:57:28.7094365Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2dda24e3-d52f-44bb-f571-8d3853843f57/destPrefix/bar/test-file-d0a0e457-e891-f2d4-d13a-ea05947657c5?sv=Sanitized&se=2025-05-17T19%3A57%3A25Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-16T19:57:25.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B3E3330D51\"",
        "Last-Modified": "Fri, 16 May 2025 19:57:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-16T19:57:28.8309073Z",
        "x-ms-file-creation-time": "2025-05-16T19:57:25.0000000Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2025-05-16T19:57:28.7094365Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-95ec0e78-e83a-8343-3288-3c3918dcd5cc?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2dda24e3-d52f-44bb-f571-8d3853843f57/destPrefix?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 19:57:29 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
[...]
