{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-e29d4c0b-4859-421c-703d-728605841ac1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90FAE7448B\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:14:37 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee8b7525-4b77-cf94-d37c-450e17ad296e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:14:45 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90FAED41A2\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:14:37 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-e29d4c0b-4859-421c-703d-728605841ac1/sourceFolder/test-file-40bcb2c1-0a8a-b3db-9503-8cc5fd6db3f9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90FAF2E0DD\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:14:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-04-14T20:14:37.2206813Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-e29d4c0b-4859-421c-703d-728605841ac1/sourceFolder/test-file-40bcb2c1-0a8a-b3db-9503-8cc5fd6db3f9?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "PEZlaB2K27Iglw1z3yCQf6jctPfPWaU7u0URanLeFhxUSYm2B0vbJgSe+8t4hJcOjxdUwMS3c+OhKqzXeHBAQYDxHpWX2XhcAI7yMF3ZwzeuA9paiVZXnNalFd2eBK2UXrlLhmUBd7Wf+MA2xEKFx2Z1KXWV5bgqmoG/8cOavfzgXtKkjjzSrYwkupGVINiUIE52Kdo4/ngBIOvjQobyBTrEVmVw4Tkqo3zpcComlHqpKtB1JJQhp2BZom1R7msFMrVX0cpyIz8UTIZeT41N2otxORe1fOCmoq4FFj7L2bQQ4z51z8OvNweRYdgNwljSDMjh37RUULbVsS4bbAwASHPSTWxP2AvIwQIPJBsImOBVMwp26fn/vJOInx6Uk8r6kBhlO3TsgjO9GR2yRCuazBhOxjkCil950pHZxzjsNC43FZQDo11rabDXuNDcTXhn7dMGRs2R9wW462jjErv70OXvei6Xlim74lyIK9GOnYQYcdll5u1gpR2OSrf0h1b12+jr7NJJz1apSmNxCMwzKk7ky6Hhler3j9QQCExxxloFk0/po7CxzqGDu5uJ751QWiBpELy1E0X98139OccKN4QJa3V9SoadMvz/XtpObZ83wK4rCLadT38J669TtJXaeIMXgIMn0xCazN2/trVrroa9xXgY3i/Naxz1dF7WSn4=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90FAF83217\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:14:37 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "ph4xDRNKI6c=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-e29d4c0b-4859-421c-703d-728605841ac1/sourceFolder/bar/test-file-291ee151-8798-d78a-acae-cc4e47251a7d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90FB076346\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:14:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-04-14T20:14:37.3550918Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-e29d4c0b-4859-421c-703d-728605841ac1/sourceFolder/bar/test-file-291ee151-8798-d78a-acae-cc4e47251a7d?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "775L5elN132egCqtAsQhdLNt0N7WNZbf4iRz+dPC60N8QH+wSm5gBAmgixhc3dXnjVia2VQ8p[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-e29d4c0b-4859-421c-703d-728605841ac1/sourceFolder/pik/test-file-93c33da6-3fdc-477a-dd25-38a50da4b0f2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90FB1080D1\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:14:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-04-14T20:14:37.4148305Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-e29d4c0b-4859-421c-703d-728605841ac1/sourceFolder/pik/test-file-93c33da6-3fdc-477a-dd25-38a50da4b0f2?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "wFaL6NY3UOfANqyFDuyqscGZR3QKRLKgFyPara7Ak/F4CUkuzDk/b+3b06WS9Djxe4fkdFw76[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee8b7525-4b77-cf94-d37c-450e17ad296e/destinationFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:14:45 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90FB19C34D\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:14:37 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T20:14:37.4755149Z",
        "x-ms-file-creation-time": "2025-04-14T20:14:37.4755149Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-04-14T20:14:37.4755149Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-e29d4c0b-4859-421c-703d-728605841ac1?restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.blob.core.windows.net/\" ContainerName=\"test-container-e29d4c0b-4859-421c-703d-728605841ac1\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-291ee151-8798-d78a-acae-cc4e47251a7d</Name><VersionId>2025-04-14T20:14:37.3550918Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Mon, 14 Apr 2025 20:14:37 GMT</Creation-Time><Last-Modified>Mon, 14 Apr 2025 20:14:37 GMT</Last-Modified><Etag>0x8DD7B90FB0BA442</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-93c33da6-3fdc-477a-dd25-38a50da4b0f2</Name><VersionId>2025-04-14T20:14:37.4148305Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Mon, 14 Apr 2025 20:14:37 GMT</Creation-Time><Last-Modified>Mon, 14 Apr 2025 20:14:37 GMT</Last-Modified><Etag>0x8DD7B90FB155D4D</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee8b7525-4b77-cf94-d37c-450e17ad296e/destinationFolder/bar?sv=Sanitized&se=2025-04-15T20%3A14%3A45Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90FB2AA04F\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:14:37 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T20:14:37.5860303Z",
        "x-ms-file-creation-time": "2025-04-14T20:14:37.5860303Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-04-14T20:14:37.5860303Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee8b7525-4b77-cf94-d37c-450e17ad296e/destinationFolder/pik?sv=Sanitized&se=2025-04-15T20%3A14%3A45Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90FB2FF18C\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:14:37 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T20:14:37.6208780Z",
        "x-ms-file-creation-time": "2025-04-14T20:14:37.6208780Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-04-14T20:14:37.6208780Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee8b7525-4b77-cf94-d37c-450e17ad296e/destinationFolder/bar/test-file-291ee151-8798-d78a-acae-cc4e47251a7d?sv=Sanitized&se=2025-04-15T20%3A14%3A45Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee8b7525-4b77-cf94-d37c-450e17ad296e/destinationFolder/bar/test-file-291ee151-8798-d78a-acae-cc4e47251a7d?sv=Sanitized&se=2025-04-15T20%3A14%3A45Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "512",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-04-14T20:14:37.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90FC05B26A\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:14:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:14:39.0217322Z",
        "x-ms-file-creation-time": "2025-04-14T20:14:37.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-04-14T20:14:39.0217322Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee8b7525-4b77-cf94-d37c-450e17ad296e/destinationFolder/test-file-1b51dfb1-8662-76f7-2e1f-97fd9c79af42?sv=Sanitized&se=2025-04-15T20%3A14%3A45Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee8b7525-4b77-cf94-d37c-450e17ad296e/destinationFolder/pik/test-file-93c33da6-3fdc-477a-dd25-38a50da4b0f2?sv=Sanitized&se=2025-04-15T20%3A14%3A45Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee8b7525-4b77-cf94-d37c-450e17ad296e/destinationFolder/bar/test-file-291ee151-8798-d78a-acae-cc4e47251a7d?sv=Sanitized&se=2025-04-15T20%3A14%3A45Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://nickliuproductionacc.blob.core.windows.net/test-container-e29d4c0b-4859-421c-703d-728605841ac1/sourceFolder/bar/test-file-291ee151-8798-d78a-acae-cc4e47251a7d",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90FC0E0D7B\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:14:39 GMT",
        "x-ms-content-crc64": "i6HBmS/wIpE=",
        "x-ms-file-last-write-time": "2025-04-14T20:14:39.0217322Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee8b7525-4b77-cf94-d37c-450e17ad296e/destinationFolder/bar/test-file-291ee151-8798-d78a-acae-cc4e47251a7d?sv=Sanitized&se=2025-04-15T20%3A14%3A45Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-04-14T20:14:37.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90FC12C321\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:14:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:14:39.1073569Z",
        "x-ms-file-creation-time": "2025-04-14T20:14:37.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-04-14T20:14:39.0217322Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee8b7525-4b77-cf94-d37c-450e17ad296e/destinationFolder/test-file-1b51dfb1-8662-76f7-2e1f-97fd9c79af42?sv=Sanitized&se=2025-04-15T20%3A14%3A45Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://nickliuproductionacc.blob.core.windows.net/test-container-e29d4c0b-4859-421c-703d-728605841ac1/sourceFolder/test-file-1b51dfb1-8662-76f7-2e1f-97fd9c79af42",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90FC14E39E\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:14:39 GMT",
        "x-ms-content-crc64": "jBQUcDe1mgQ=",
        "x-ms-file-last-write-time": "2025-04-14T20:14:39.0745009Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee8b7525-4b77-cf94-d37c-450e17ad296e/destinationFolder/pik/test-file-93c33da6-3fdc-477a-dd25-38a50da4b0f2?sv=Sanitized&se=2025-04-15T20%3A14%3A45Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://nickliuproductionacc.blob.core.windows.net/test-container-e29d4c0b-4859-421c-703d-728605841ac1/sourceFolder/pik/test-file-93c33da6-3fdc-477a-dd25-38a50da4b0f2",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90FC1641A7\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:14:39 GMT",
        "x-ms-content-crc64": "NgzppeZvxjE=",
        "x-ms-file-last-write-time": "2025-04-14T20:14:39.0814703Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee8b7525-4b77-cf94-d37c-450e17ad296e/destinationFolder/test-file-40bcb2c1-0a8a-b3db-9503-8cc5fd6db3f9?sv=Sanitized&se=2025-04-15T20%3A14%3A45Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-04-14T20:14:37.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90FC19C028\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:14:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:14:39.1531560Z",
        "x-ms-file-creation-time": "2025-04-14T20:14:37.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-04-14T20:14:39.0715142Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee8b7525-4b77-cf94-d37c-450e17ad296e/destinationFolder/pik/test-file-93c33da6-3fdc-477a-dd25-38a50da4b0f2?sv=Sanitized&se=2025-04-15T20%3A14%3A45Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-04-14T20:14:37.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90FC1A829E\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:14:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:14:39.1581342Z",
        "x-ms-file-creation-time": "2025-04-14T20:14:37.0000000Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2025-04-14T20:14:39.0814703Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-e29d4c0b-4859-421c-703d-728605841ac1?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "Respo[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee8b7525-4b77-cf94-d37c-450e17ad296e/destinationFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:14:47 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-ee8b7525-4b77-cf94-d37c-450e17ad296e\" DirectoryPath=\"destinationFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-1b51dfb1-8662-76f7-2e1f-97fd9c79af42</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>512</Content-Length></Properties></File><File><Name>test-file-40bcb2c1-0a8a-b3db-9503-8cc5fd6db3f9</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>512</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee8b7525-4b77-cf94-d37c-450e17ad296e/destinationFolder/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:14:47 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-ee8b7525-4b77-cf94-d37c-450e17ad296e\" DirectoryPath=\"destinationFolder/bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-291ee151-8798-d78a-acae-cc4e47251a7d</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>512</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee8b7525-4b77-cf94-d37c-450e17ad296e/destinationFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:14:47 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-ee8b7525-4b77-cf94-d37c-450e17ad296e\" DirectoryPath=\"destinationFolder/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-93c33da6-3fdc-477a-dd25-38a50da4b0f2</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>512</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-e29d4c0b-4859-421c-703d-728605841ac1/sourceFolder/bar/test-file-291ee151-8798-d78a-acae-cc4e47251a7d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD7B90FB0BA442\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:14:37 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 14 Apr 2025 20:14:37 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-04-14T20:14:37.3550918Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee8b7525-4b77-cf94-d37c-450e17ad296e/destinationFolder/bar/test-file-291ee151-8798-d78a-acae-cc4e47251a7d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:14:47 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD7B90FC12C321\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:14:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:14:39.1073569Z",
        "x-ms-file-creation-time": "2025-04-14T20:14:37.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-04-14T20:14:39.0217322Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
[...]
