{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-028d8fb0-f246-f788-9ad0-5e456da39819?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E0F56A207\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:13:16 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-82cb4ed3-af52-bced-50ff-8e6c64d053d9?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:13:15 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E0F5E5767\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:13:16 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-028d8fb0-f246-f788-9ad0-5e456da39819/sourceFolder/test-file-d9f37414-6161-af43-adc3-ad6c2ca5159a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E0F66B913\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:13:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-028d8fb0-f246-f788-9ad0-5e456da39819/sourceFolder/test-file-d9f37414-6161-af43-adc3-ad6c2ca5159a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "2vIzMsKgYSySM6cxC2Qa712J88AKfKMWkBZxWAtBsIVGwZI5cuLY5Gmy/LlWsdAD72akdTS94V1OHKKsLwghUYMi60rR4H16sQ9WV3/qwN5FbmmknTtRieA16lVALLRgkas1NMaGMQ7pKcMkZondZFzDZsGffLRH0GFqnPUnOoVa9cbUtIsYvzxau3N4LCJWWIb4fcXzwRT37mNkHJUZwe89ynHCCK/RqqeERcFAz6Q+E0RvL73AZjSx3MYns6KmQfmEOmGxk0/WJ9IebntTth6/JghRqZEyfWM9ESzpqfYE3QTHvJRCjID1mAjqofe4XSanaI2aVZdnUbz+dIIj7X3bGZF3i/qKfJmIXBCJR9trhLMGQUBpaohsX2rXRBj+0auKD4hmQNErHez0EfmG3grhkvDOHaw9cq8ICyyPsjeAiopl/zhTBUTh2iNTdFiO5YFg9rIoL7T/TJ3ZXTWlnGu0c4dvId/SjYyr7EKI6f1WeiWqL7uFWFrVZrKbeqcOOz24nwHRHsSijmklfEJyd2OgguMQ+22vLxosmrssNxLlnbEEz0r7hFthB6BSX9wYY+9P+vfE/kDQCG/mpYQIdVdWQN6RbacYpP6Hr/PMXdA+FDfM3TwbIZ9wNMbbFN/XWJFJ+x/9hvVHNlb5PE9MBKueqJFNPJgbOx4/ITjgPY8=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E0F6EED43\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:13:16 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "XydmPDJGNlw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-028d8fb0-f246-f788-9ad0-5e456da39819/sourceFolder/bar/test-file-085adfbf-6933-c7fb-9d63-de57a0afebde",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E0F882555\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:13:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-028d8fb0-f246-f788-9ad0-5e456da39819/sourceFolder/bar/test-file-085adfbf-6933-c7fb-9d63-de57a0afebde?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "tai7w91kY50YbGCiP/CNsAAj51+F6Xng5mFf/lRPaLKRqNHwUe3wWny88McJWIes1S1WfceMWcwu2917[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-028d8fb0-f246-f788-9ad0-5e456da39819/sourceFolder/pik/test-file-a0bc3510-27ea-ffd2-2269-3420341b07ad",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E0F983FE1\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:13:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-028d8fb0-f246-f788-9ad0-5e456da39819/sourceFolder/pik/test-file-a0bc3510-27ea-ffd2-2269-3420341b07ad?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "maWT2UNIWAec8GnK0Oq1P+oiFB4n+UZYlRZ+TcMgLtYJaFT0T6z5yNy0A/q+By83tPU2EQfohaBeOkQs[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-82cb4ed3-af52-bced-50ff-8e6c64d053d9/destinationFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:13:15 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E0FA77CD6\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:13:16 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-04-30T23:13:16.7204566Z",
        "x-ms-file-creation-time": "2026-04-30T23:13:16.7204566Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-30T23:13:16.7204566Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11213973173494923372*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-028d8fb0-f246-f788-9ad0-5e456da39819?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-028d8fb0-f246-f788-9ad0-5e456da39819\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-8fdecb85-feec-dce3-6809-5601ff287deb</Name><Properties><Creation-Time>Thu, 30 Apr 2026 23:13:16 GMT</Creation-Time><Last-Modified>Thu, 30 Apr 2026 23:13:16 GMT</Last-Modified><Etag>0x8DEA70E0F8065DB</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-d9f37414-6161-af43-adc3-ad6c2ca5159a</Name><Properties><Creation-Time>Thu, 30 Apr 2026 23:13:16 GMT</Creation-Time><Last-Modified>Thu, 30 Apr 2026 23:13:16 GMT</Last-Modified><Etag>0x8DEA70E0F6EED43</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-82cb4ed3-af52-bced-50ff-8e6c64d053d9/destinationFolder/bar?sv=Sanitized&se=2026-05-01T23%3A13%3A15Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:a56d58e3-501a-007f-01f6-d8a039000000\n",
        "Time:2026-04-30T23:13:16.8253493Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-82cb4ed3-af52-bced-50ff-8e6c64d053d9/destinationFolder/pik?sv=Sanitized&se=2026-05-01T23%3A13%3A15Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:a56d58e5-501a-007f-03f6-d8a039000000\n",
        "Time:2026-04-30T23:13:16.9097028Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-028d8fb0-f246-f788-9ad0-5e456da39819?restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-028d8fb0-f246-f788-9ad0-5e456da39819?restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-82cb4ed3-af52-bced-50ff-8e6c64d053d9/destinationFolder/bar/test-file-085adfbf-6933-c7fb-9d63-de57a0afebde?sv=Sanitized&se=2026-05-01T23%3A13%3A15Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-82cb4ed3-af52-bced-50ff-8e6c64d053d9/destinationFolder/bar/test-file-085adfbf-6933-c7fb-9d63-de57a0afebde?sv=Sanitized&se=2026-05-01T23%3A13%3A15Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "512",
        "x-ms-content-type": "image/jpeg",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E1183DF5F\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:13:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:13:19.8424927Z",
        "x-ms-file-creation-time": "2026-04-30T23:13:19.8424927Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-04-30T23:13:19.8424927Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-82cb4ed3-af52-bced-50ff-8e6c64d053d9/destinationFolder/pik/test-file-a0bc3510-27ea-ffd2-2269-3420341b07ad?sv=Sanitized&se=2026-05-01T23%3A13%3A15Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-82cb4ed3-af52-bced-50ff-8e6c64d053d9/destinationFolder/bar/test-file-085adfbf-6933-c7fb-9d63-de57a0afebde?sv=Sanitized&se=2026-05-01T23%3A13%3A15Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-028d8fb0-f246-f788-9ad0-5e456da39819/sourceFolder/bar/test-file-085adfbf-6933-c7fb-9d63-de57a0afebde",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E119392E3\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:13:19 GMT",
        "x-ms-content-crc64": "YopbD8LTN8I=",
        "x-ms-file-last-write-time": "2026-04-30T23:13:19.8424927Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-82cb4ed3-af52-bced-50ff-8e6c64d053d9/destinationFolder/bar/test-file-085adfbf-6933-c7fb-9d63-de57a0afebde?sv=Sanitized&se=2026-05-01T23%3A13%3A15Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T23:13:16.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E1199D1DD\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:13:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:13:19.9863261Z",
        "x-ms-file-creation-time": "2026-04-30T23:13:16.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-04-30T23:13:19.8424927Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-82cb4ed3-af52-bced-50ff-8e6c64d053d9/destinationFolder/pik/test-file-a0bc3510-27ea-ffd2-2269-3420341b07ad?sv=Sanitized&se=2026-05-01T23%3A13%3A15Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-028d8fb0-f246-f788-9ad0-5e456da39819/sourceFolder/pik/test-file-a0bc3510-27ea-ffd2-2269-3420341b07ad",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E11A232E2\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:13:20 GMT",
        "x-ms-content-crc64": "vapb55b0BJw=",
        "x-ms-file-last-write-time": "2026-04-30T23:13:19.9473894Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-82cb4ed3-af52-bced-50ff-8e6c64d053d9/destinationFolder/test-file-8fdecb85-feec-dce3-6809-5601ff287deb?sv=Sanitized&se=2026-05-01T23%3A13%3A15Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-82cb4ed3-af52-bced-50ff-8e6c64d053d9/destinationFolder/pik/test-file-a0bc3510-27ea-ffd2-2269-3420341b07ad?sv=Sanitized&se=2026-05-01T23%3A13%3A15Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T23:13:16.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E11A87211\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:13:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:13:20.0821777Z",
        "x-ms-file-creation-time": "2026-04-30T23:13:16.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2026-04-30T23:13:19.9473894Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-82cb4ed3-af52-bced-50ff-8e6c64d053d9/destinationFolder/test-file-8fdecb85-feec-dce3-6809-5601ff287deb?sv=Sanitized&se=2026-05-01T23%3A13%3A15Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-028d8fb0-f246-f788-9ad0-5e456da39819/sourceFolder/test-file-8fdecb85-feec-dce3-6809-5601ff287deb",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E11B80FFA\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:13:20 GMT",
        "x-ms-content-crc64": "ouNCJVq1Z5s=",
        "x-ms-file-last-write-time": "2026-04-30T23:13:20.0891667Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-82cb4ed3-af52-bced-50ff-8e6c64d053d9/destinationFolder/test-file-8fdecb85-feec-dce3-6809-5601ff287deb?sv=Sanitized&se=2026-05-01T23%3A13%3A15Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T23:13:16.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E11BF38FB\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:13:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:13:20.2314491Z",
        "x-ms-file-creation-time": "2026-04-30T23:13:16.0000000Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2026-04-30T23:13:20.0891667Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-028d8fb0-f246-f788-9ad0-5e456da39819?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-82cb4ed3-af52-bced-50ff-8e6c64d053d9/destinationFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:13:19 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandasa3.file.core.windows.net/\" ShareName=\"test-share-82cb4ed3-af52-bced-50ff-8e6c64d053d9\" DirectoryPath=\"destinationFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-8fdecb85-feec-dce3-6809-5601ff287deb</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>512</Content-Length></Properties></File><File><Name>test-file-d9f37414-6161-af43-adc3-ad6c2ca5159a</Name><FileId>11529250230440558592</FileId><Properties><Content-Length>512</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-82cb4ed3-af52-bced-50ff-8e6c64d053d9/destinationFolder/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:13:19 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandasa3.file.core.windows.net/\" ShareName=\"test-share-82cb4ed3-af52-bced-50ff-8e6c64d053d9\" DirectoryPath=\"destinationFolder/bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-085adfbf-6933-c7fb-9d63-de57a0afebde</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>512</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-82cb4ed3-af52-bced-50ff-8e6c64d053d9/destinationFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:13:19 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandasa3.file.core.windows.net/\" ShareName=\"test-share-82cb4ed3-af52-bced-50ff-8e6c64d053d9\" DirectoryPath=\"destinationFolder/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-a0bc3510-27ea-ffd2-2269-3420341b07ad</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>512</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-028d8fb0-f246-f788-9ad0-5e456da39819/sourceFolder/bar/test-file-085adfbf-6933-c7fb-9d63-de57a0afebde",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA70E0F9032A6\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:13:16 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 30 Apr 2026 23:13:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-82cb4ed3-af52-bced-50ff-8e6c64d053d9/destinationFolder/bar/test-file-085adfbf-6933-c7fb-9d63-de57a0afebde",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:13:19 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA70E1199D1DD\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:13:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:13:19.9863261Z",
[...]
