{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-30feeb0c-78d8-6eab-ea9e-598ea34c68ef?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F96213CA3\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:46:10 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0882caa5-2c4d-2fd5-ff0b-bde33ed1427c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:46:10 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F962B5A33\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:46:10 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0882caa5-2c4d-2fd5-ff0b-bde33ed1427c/destPrefix?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:46:10 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F96329AD9\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:46:10 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-19T23:46:10.1166809Z",
        "x-ms-file-creation-time": "2025-02-19T23:46:10.1166809Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-19T23:46:10.1166809Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-30feeb0c-78d8-6eab-ea9e-598ea34c68ef/sourceFolder/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F9639769E\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:46:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-19T23:46:10.1616286Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-30feeb0c-78d8-6eab-ea9e-598ea34c68ef/sourceFolder/item1?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "Sq5bqNY/Ih5Cn7aAYDGERNUjWHlSEIlHyzF/Ny3P21KGUpmp9oJdLZTYzP0pEGOuKFxIlQBsZDokFN2lv+rwcsNj+g2X2k1SxSrleUOLHbvN0A/Rh0ZRGe1fhOKluG2p6Fo6xhVVF00O9c/Whur3mPYh1+/bH+p9EeAfN1ZrrQ28O5HpUVeleLnBwpJ2e5IDaOzsg+B+zshvvbQ1Nt/3o0fCGUtZDkeffF81GVxXBpZNHM9qfiotPW3IeZSjb0Hayh5LtGFHqVqkTQaASbRsF7Ye6BkPjSQclNvekJSy+w0dWk89DFI0BnJ0xTEkrfS4XGHdhIcoyj36Lh+FaBnF8lH5Yu5lLgtj6eKmmsfz+OfnJTQz1HeF9ZARQ90zrp1Zr9PgKkoGUy1WepqlgS9[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0882caa5-2c4d-2fd5-ff0b-bde33ed1427c/destPrefix/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 19 Feb 2025 23:46:10 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F96470A3E\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:46:10 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:46:10.2506046Z",
        "x-ms-file-creation-time": "2025-02-19T23:46:10.2506046Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-02-19T23:46:10.2506046Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-30feeb0c-78d8-6eab-ea9e-598ea34c68ef/sourceFolder/test-file-0f9be9d2-9e5a-4975-059f-5309b25cbf91",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F9651B601\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:46:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-19T23:46:10.3205377Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-30feeb0c-78d8-6eab-ea9e-598ea34c68ef/sourceFolder/test-file-0f9be9d2-9e5a-4975-059f-5309b25cbf91?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "ZXBLScR00MJ2GhAE0vFVVjojmMTJQDjwBrW4gEaUbB6wTSGgLhn7XhjZmD+OcHcTSfzPj8T7yCQ3WkIOu1[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-30feeb0c-78d8-6eab-ea9e-598ea34c68ef/sourceFolder/bar/test-file-210da826-89a0-9e69-a74b-01404cf8b0c2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F9662F190\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:46:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-19T23:46:10.4344729Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-30feeb0c-78d8-6eab-ea9e-598ea34c68ef/sourceFolder/bar/test-file-210da826-89a0-9e69-a74b-01404cf8b0c2?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "kwptRr5kKzQRKV5RioTPThMgdqWKRZTBn9ZAr3f47a5xCi25hmCEwX3YD3crFxQie7IsK4ILN011q6[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-30feeb0c-78d8-6eab-ea9e-598ea34c68ef/sourceFolder/pik/test-file-3ccd6cc5-b74e-51ff-0e16-e231eedfd3d3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F9673B7FB\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:46:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-19T23:46:10.5434107Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-30feeb0c-78d8-6eab-ea9e-598ea34c68ef/sourceFolder/pik/test-file-3ccd6cc5-b74e-51ff-0e16-e231eedfd3d3?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "74KmV/ocz9f0m/BwyxT9R2WwJGCNY5tmHNmtFDttaCEU45kS6ArLqZ31R7LHjoX6GZvMPbtyRoznQD[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-30feeb0c-78d8-6eab-ea9e-598ea34c68ef?restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-30feeb0c-78d8-6eab-ea9e-598ea34c68ef\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-210da826-89a0-9e69-a74b-01404cf8b0c2</Name><VersionId>2025-02-19T23:46:10.4344729Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 19 Feb 2025 23:46:10 GMT</Creation-Time><Last-Modified>Wed, 19 Feb 2025 23:46:10 GMT</Last-Modified><Etag>0x8DD513F966CDB2B</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/item1</Name><VersionId>2025-02-19T23:46:10.1616286Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 19 Feb 2025 23:46:10 GMT</Creation-Time><Last-Modified>Wed, 19 Feb 2025 23:46:10 GMT</Last-Modified><Etag>0x8DD513F9640536C</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0882caa5-2c4d-2fd5-ff0b-bde33ed1427c/destPrefix/bar?sv=Sanitized&se=2025-02-20T23%3A46%3A10Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F96908B8C\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:46:10 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-19T23:46:10.7323276Z",
        "x-ms-file-creation-time": "2025-02-19T23:46:10.7323276Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-02-19T23:46:10.7323276Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0882caa5-2c4d-2fd5-ff0b-bde33ed1427c/destPrefix/pik?sv=Sanitized&se=2025-02-20T23%3A46%3A10Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F9697B672\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:46:10 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-19T23:46:10.7793010Z",
        "x-ms-file-creation-time": "2025-02-19T23:46:10.7793010Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-02-19T23:46:10.7793010Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0882caa5-2c4d-2fd5-ff0b-bde33ed1427c/destPrefix/bar/test-file-210da826-89a0-9e69-a74b-01404cf8b0c2?sv=Sanitized&se=2025-02-20T23%3A46%3A10Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-19T23:46:10.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F97857600\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:46:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:46:12.3374080Z",
        "x-ms-file-creation-time": "2025-02-19T23:46:10.0000000Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-02-19T23:46:12.3374080Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0882caa5-2c4d-2fd5-ff0b-bde33ed1427c/destPrefix/bar/test-file-210da826-89a0-9e69-a74b-01404cf8b0c2?sv=Sanitized&se=2025-02-20T23%3A46%3A10Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-30feeb0c-78d8-6eab-ea9e-598ea34c68ef/sourceFolder/bar/test-file-210da826-89a0-9e69-a74b-01404cf8b0c2",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F97926C6F\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:46:12 GMT",
        "x-ms-content-crc64": "z3utX2kFVwc=",
        "x-ms-file-last-write-time": "2025-02-19T23:46:12.3374080Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0882caa5-2c4d-2fd5-ff0b-bde33ed1427c/destPrefix/test-file-0f9be9d2-9e5a-4975-059f-5309b25cbf91?sv=Sanitized&se=2025-02-20T23%3A46%3A10Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-lengt[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0882caa5-2c4d-2fd5-ff0b-bde33ed1427c/destPrefix/item1?sv=Sanitized&se=2025-02-20T23%3A46%3A10Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": [...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0882caa5-2c4d-2fd5-ff0b-bde33ed1427c/destPrefix/pik/test-file-3ccd6cc5-b74e-51ff-0e16-e231eedfd3d3?sv=Sanitized&se=2025-02-20T23%3A46%3A10Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-l[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0882caa5-2c4d-2fd5-ff0b-bde33ed1427c/destPrefix/bar/test-file-210da826-89a0-9e69-a74b-01404cf8b0c2?sv=Sanitized&se=2025-02-20T23%3A46%3A10Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-19T23:46:10.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F979AA894\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:46:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:46:12.4763284Z",
        "x-ms-file-creation-time": "2025-02-19T23:46:10.0000000Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-02-19T23:46:12.3374080Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0882caa5-2c4d-2fd5-ff0b-bde33ed1427c/destPrefix/item1?sv=Sanitized&se=2025-02-20T23%3A46%3A10Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-30feeb0c-78d8-6eab-ea9e-598ea34c68ef/sourceFolder/item1",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F97A22192\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:46:12 GMT",
        "x-ms-content-crc64": "6zQ8aD3ZXkk=",
        "x-ms-file-last-write-time": "2025-02-19T23:46:12.4553407Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0882caa5-2c4d-2fd5-ff0b-bde33ed1427c/destPrefix/pik/test-file-3ccd6cc5-b74e-51ff-0e16-e231eedfd3d3?sv=Sanitized&se=2025-02-20T23%3A46%3A10Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-30feeb0c-78d8-6eab-ea9e-598ea34c68ef/sourceFolder/pik/test-file-3ccd6cc5-b74e-51ff-0e16-e231eedfd3d3",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F97A380EF\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:46:12 GMT",
        "x-ms-content-crc64": "b4bvDrvBbxw=",
        "x-ms-file-last-write-time": "2025-02-19T23:46:12.4513429Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0882caa5-2c4d-2fd5-ff0b-bde33ed1427c/destPrefix/test-file-0f9be9d2-9e5a-4975-059f-5309b25cbf91?sv=Sanitized&se=2025-02-20T23%3A46%3A10Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-30feeb0c-78d8-6eab-ea9e-598ea34c68ef/sourceFolder/test-file-0f9be9d2-9e5a-4975-059f-5309b25cbf91",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F97A3CEFB\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:46:12 GMT",
        "x-ms-content-crc64": "o01jOvmbzwE=",
        "x-ms-file-last-write-time": "2025-02-19T23:46:12.4523426Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0882caa5-2c4d-2fd5-ff0b-bde33ed1427c/destPrefix/item1?sv=Sanitized&se=2025-02-20T23%3A46%3A10Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-19T23:46:10.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F97A8D756\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:46:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:46:12.5692758Z",
        "x-ms-file-creation-time": "2025-02-19T23:46:10.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-02-19T23:46:12.4553407Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0882caa5-2c4d-2fd5-ff0b-bde33ed1427c/destPrefix/test-file-0f9be9d2-9e5a-4975-059f-5309b25cbf91?sv=Sanitized&se=2025-02-20T23%3A46%3A10Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-19T23:46:10.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F97AA36AC\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:46:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:46:12.5782700Z",
        "x-ms-file-creation-time": "2025-02-19T23:46:10.0000000Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2025-02-19T23:46:12.4523426Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0882caa5-2c4d-2fd5-ff0b-bde33ed1427c/destPrefix/pik/test-file-3ccd6cc5-b74e-51ff-0e16-e231eedfd3d3?sv=Sanitized&se=2025-02-20T23%3A46%3A10Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-19T23:46:10.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F97AA36AC\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:46:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:46:12.5782700Z",
        "x-ms-file-creation-time": "2025-02-19T23:46:10.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-02-19T23:46:12.4513429Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-30feeb0c-78d8-6eab-ea9e-598ea34c68ef?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBo[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0882caa5-2c4d-2fd5-ff0b-bde33ed1427c/destPrefix?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:46:12 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-0882caa5-2c4d-2fd5-ff0b-bde33ed1427c\" DirectoryPath=\"destPrefix\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>item1</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><Directory><Name>pik</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>test-file-0f9be9d2-9e5a-4975-059f-5309b25cbf91</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0882caa5-2c4d-2fd5-ff0b-bde33ed1427c/destPrefix/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:46:12 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
[...]
