{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-30b20221-46f1-0f20-2344-f5bdfd7fb32f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E315D0E31\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:14:13 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-03fd39f3-b2de-cb9b-a04d-3c90cf8dd961?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:14:12 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E3164D5A3\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:14:13 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-30b20221-46f1-0f20-2344-f5bdfd7fb32f/sourceFolder/foo/test-file-81bc8a1e-b8a0-bf4f-7e7c-c1c28c1f62b2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E316CE601\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:14:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-30b20221-46f1-0f20-2344-f5bdfd7fb32f/sourceFolder/foo/test-file-81bc8a1e-b8a0-bf4f-7e7c-c1c28c1f62b2?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "ZNr2gO3bnS3g1b76VJPEhjdPXt4xZsLh/99/SMhZjjJ5LMLhxGPoQu2OoMr6VWvquDqKPMCEgf0XFYENXFVlh0eLgCfR4sHTZhvwosb45ql0lI+NzlFx9avEyq7i2+WYKBmDbtRDGdV5t9aklN43Hy7XmMfF2Lj1Got8DBcS8Is1V3qtdHjUMHu6FBd7zGDNjKqACkIe009gjVNJxwy9ZsZKbjxkiqq1AmdMC8Shek0qrn9tkuZIF4QqTecli2lu/K5RMF0kaAIAygfb0ceLvhMFHhiNUNPgAle3Oj3DkHf+3g8WUEnwBkZ9bcjebUa8n47TH2xQ4KvacS4GbC7FPDmQ3PO4dG7JFRjSEOMKAZQQ+pqv73EKrv1jPN8b6ZoXuDCPTpFTAyofCgpUfdD[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-30b20221-46f1-0f20-2344-f5bdfd7fb32f/sourceFolder/rul/test-file-6cb2735c-bfd3-6005-9db7-6598850c891b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E317DC306\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:14:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-30b20221-46f1-0f20-2344-f5bdfd7fb32f/sourceFolder/rul/test-file-6cb2735c-bfd3-6005-9db7-6598850c891b?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "x2RueyNxbYibseO/ydLgqlxFfpborTaRss0xz2Sky81YlRlWP6I36wUq0CHcRpbK1ro7QI3zMxot3MlV[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-30b20221-46f1-0f20-2344-f5bdfd7fb32f/sourceFolder/pik/test-file-de56657e-82dd-8126-0327-ddc074bcd2a8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E318D8FD2\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:14:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-30b20221-46f1-0f20-2344-f5bdfd7fb32f/sourceFolder/pik/test-file-de56657e-82dd-8126-0327-ddc074bcd2a8?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "aIH+k2i/R5WOcr+yO0pNBeChWvrfTjzW7tA/8c0BZNcbVobHH3c8vx7AUGvDc0W52tjg0mHYyBlEKKSY[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-03fd39f3-b2de-cb9b-a04d-3c90cf8dd961/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:14:12 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E319ED058\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:14:13 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-04-30T23:14:13.7061464Z",
        "x-ms-file-creation-time": "2026-04-30T23:14:13.7061464Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-30T23:14:13.7061464Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11213973173494923372*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-30b20221-46f1-0f20-2344-f5bdfd7fb32f?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-30b20221-46f1-0f20-2344-f5bdfd7fb32f\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/foo/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/rul/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-03fd39f3-b2de-cb9b-a04d-3c90cf8dd961/destFolder/foo?sv=Sanitized&se=2026-05-01T23%3A14%3A12Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:979acaf8-701a-001a-3af7-d80e7d000000\n",
        "Time:2026-04-30T23:14:13.8098517Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-03fd39f3-b2de-cb9b-a04d-3c90cf8dd961/destFolder/pik?sv=Sanitized&se=2026-05-01T23%3A14%3A12Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:979acafa-701a-001a-3cf7-d80e7d000000\n",
        "Time:2026-04-30T23:14:13.8944320Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-03fd39f3-b2de-cb9b-a04d-3c90cf8dd961/destFolder/rul?sv=Sanitized&se=2026-05-01T23%3A14%3A12Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:979acafc-701a-001a-3ef7-d80e7d000000\n",
        "Time:2026-04-30T23:14:13.9786219Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-30b20221-46f1-0f20-2344-f5bdfd7fb32f?restype=container&comp=list&prefix=sourceFolder%2Ffoo%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-30b20221-46f1-0f20-2344-f5bdfd7fb32f\"><Prefix>sourceFolder/foo/</Prefix><Delimiter>/</Delimiter><Blobs><Blob><Name>sourceFolder/foo/test-file-81bc8a1e-b8a0-bf4f-7e7c-c1c28c1f62b2</Name><Properties><Creation-Time>Thu, 30 Apr 2026 23:14:13 GMT</Creation-Time><Last-Modified>Thu, 30 Apr 2026 23:14:13 GMT</Last-Modified><Etag>0x8DEA70E31754111</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-30b20221-46f1-0f20-2344-f5bdfd7fb32f?restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-30b20221-46f1-0f20-2344-f5bdfd7fb32f?restype=container&comp=list&prefix=sourceFolder%2Frul%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-03fd39f3-b2de-cb9b-a04d-3c90cf8dd961/destFolder/pik/test-file-de56657e-82dd-8126-0327-ddc074bcd2a8?sv=Sanitized&se=2026-05-01T23%3A14%3A12Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-03fd39f3-b2de-cb9b-a04d-3c90cf8dd961/destFolder/pik/test-file-de56657e-82dd-8126-0327-ddc074bcd2a8?sv=Sanitized&se=2026-05-01T23%3A14%3A12Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E3327F0F1\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:14:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:14:16.2825457Z",
        "x-ms-file-creation-time": "2026-04-30T23:14:16.2825457Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2026-04-30T23:14:16.2825457Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-03fd39f3-b2de-cb9b-a04d-3c90cf8dd961/destFolder/pik/test-file-de56657e-82dd-8126-0327-ddc074bcd2a8?sv=Sanitized&se=2026-05-01T23%3A14%3A12Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-30b20221-46f1-0f20-2344-f5bdfd7fb32f/sourceFolder/pik/test-file-de56657e-82dd-8126-0327-ddc074bcd2a8",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E33370710\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:14:16 GMT",
        "x-ms-content-crc64": "qdJDvJhjIuo=",
        "x-ms-file-last-write-time": "2026-04-30T23:14:16.2825457Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-03fd39f3-b2de-cb9b-a04d-3c90cf8dd961/destFolder/pik/test-file-de56657e-82dd-8126-0327-ddc074bcd2a8?sv=Sanitized&se=2026-05-01T23%3A14%3A12Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T23:14:13.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E333E5712\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:14:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:14:16.4293394Z",
        "x-ms-file-creation-time": "2026-04-30T23:14:13.0000000Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2026-04-30T23:14:16.2825457Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-03fd39f3-b2de-cb9b-a04d-3c90cf8dd961/destFolder/rul/test-file-6cb2735c-bfd3-6005-9db7-6598850c891b?sv=Sanitized&se=2026-05-01T23%3A14%3A12Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-03fd39f3-b2de-cb9b-a04d-3c90cf8dd961/destFolder/foo/test-file-81bc8a1e-b8a0-bf4f-7e7c-c1c28c1f62b2?sv=Sanitized&se=2026-05-01T23%3A14%3A12Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-03fd39f3-b2de-cb9b-a04d-3c90cf8dd961/destFolder/rul/test-file-6cb2735c-bfd3-6005-9db7-6598850c891b?sv=Sanitized&se=2026-05-01T23%3A14%3A12Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-30b20221-46f1-0f20-2344-f5bdfd7fb32f/sourceFolder/rul/test-file-6cb2735c-bfd3-6005-9db7-6598850c891b",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E335EF034\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:14:16 GMT",
        "x-ms-content-crc64": "wcwBDsvUVrQ=",
        "x-ms-file-last-write-time": "2026-04-30T23:14:16.5501241Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-03fd39f3-b2de-cb9b-a04d-3c90cf8dd961/destFolder/rul/test-file-6cb2735c-bfd3-6005-9db7-6598850c891b?sv=Sanitized&se=2026-05-01T23%3A14%3A12Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T23:14:13.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E33655637\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:14:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:14:16.6849079Z",
        "x-ms-file-creation-time": "2026-04-30T23:14:13.0000000Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2026-04-30T23:14:16.5501241Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-03fd39f3-b2de-cb9b-a04d-3c90cf8dd961/destFolder/foo/test-file-81bc8a1e-b8a0-bf4f-7e7c-c1c28c1f62b2?sv=Sanitized&se=2026-05-01T23%3A14%3A12Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-30b20221-46f1-0f20-2344-f5bdfd7fb32f/sourceFolder/foo/test-file-81bc8a1e-b8a0-bf4f-7e7c-c1c28c1f62b2",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E336DB739\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:14:16 GMT",
        "x-ms-content-crc64": "3aCUAjkokV0=",
        "x-ms-file-last-write-time": "2026-04-30T23:14:16.6409781Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-03fd39f3-b2de-cb9b-a04d-3c90cf8dd961/destFolder/foo/test-file-81bc8a1e-b8a0-bf4f-7e7c-c1c28c1f62b2?sv=Sanitized&se=2026-05-01T23%3A14%3A12Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T23:14:13.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E33744435\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:14:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:14:16.7827509Z",
        "x-ms-file-creation-time": "2026-04-30T23:14:13.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2026-04-30T23:14:16.6409781Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-30b20221-46f1-0f20-2344-f5bdfd7fb32f?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-03fd39f3-b2de-cb9b-a04d-3c90cf8dd961/destFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:14:16 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandasa3.file.core.windows.net/\" ShareName=\"test-share-03fd39f3-b2de-cb9b-a04d-3c90cf8dd961\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>foo</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><Directory><Name>rul</Name><FileId>10376363910205800448</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-03fd39f3-b2de-cb9b-a04d-3c90cf8dd961/destFolder/foo?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:14:16 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandasa3.file.core.windows.net/\" ShareName=\"test-share-03fd39f3-b2de-cb9b-a04d-3c90cf8dd961\" DirectoryPath=\"destFolder/foo\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-81bc8a1e-b8a0-bf4f-7e7c-c1c28c1f62b2</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-03fd39f3-b2de-cb9b-a04d-3c90cf8dd961/destFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:14:16 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandasa3.file.core.windows.net/\" ShareName=\"test-share-03fd39f3-b2de-cb9b-a04d-3c90cf8dd961\" DirectoryPath=\"destFolder/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-de56657e-82dd-8126-0327-ddc074bcd2a8</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-03fd39f3-b2de-cb9b-a04d-3c90cf8dd961/destFolder/rul?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:14:16 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandasa3.file.core.windows.net/\" ShareName=\"test-share-03fd39f3-b2de-cb9b-a04d-3c90cf8dd961\" DirectoryPath=\"destFolder/rul\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-6cb2735c-bfd3-6005-9db7-6598850c891b</Name><FileId>12682206919419494400</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-30b20221-46f1-0f20-2344-f5bdfd7fb32f/sourceFolder/foo/test-file-81bc8a1e-b8a0-bf4f-7e7c-c1c28c1f62b2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA70E31754111\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:14:13 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 30 Apr 2026 23:14:13 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
[...]
