{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-a84b7f43-e7dc-dc2c-c9cc-be6d5cd36bbe?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA2EA64240\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:49:58 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e82a061b-90c5-4820-473f-91b2d7c36653?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 21:50:03 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA2EB20584\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:49:58 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e82a061b-90c5-4820-473f-91b2d7c36653/destPrefix?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 21:50:03 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA2EB783AE\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:49:58 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-08-12T21:49:58.5831854Z",
        "x-ms-file-creation-time": "2025-08-12T21:49:58.5831854Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-12T21:49:58.5831854Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-a84b7f43-e7dc-dc2c-c9cc-be6d5cd36bbe/sourceFolder/test-file-daa5cef4-e8d4-cdcf-b1ce-502754548135",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA2EBD49ED\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:49:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-08-12T21:49:58.6210285Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-a84b7f43-e7dc-dc2c-c9cc-be6d5cd36bbe/sourceFolder/test-file-daa5cef4-e8d4-cdcf-b1ce-502754548135?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "VxJMgWEsiHRgCuqBg0ts0Ypzo/RqLKFkG+Rap6bfnczTenUAARhPx0Uxecn9TUlmYn6d4LCNyipw52Z90uHNgGwergnWa9BxI9uvObPYZs2b9EUoQrwbRq9Kjxmy0vVjZPhc358/j/atK73U3ZF3mIGZ4t2cpD6wAmhZi9u2vlHmS9W6e4ctW2ROehb/Rmge0/eYGe8Xx7+5rNw35gQa92xs7pK8vRz5a4d5TioosLz/O7jkHaVhzoMVAM+r9nRfM4Kqk1fVYRbanq5onniUkfsfN6tMNtrHCiAOprxNTnUSGRunfR1kKtmiCn72+C8KgG7Ti77JE/2o4og3xrtZjFA5VoRd7RPeuw3Rqitb0BLwBCVNesK2SAUd/puVLWMeSH4uvaGrrZNa9NCx92n[...]
[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-a84b7f43-e7dc-dc2c-c9cc-be6d5cd36bbe/sourceFolder/bar/test-file-1a67ff39-a58f-a04b-156b-3d5181626313",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA2EECFDEA\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:49:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-08-12T21:49:58.9336554Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-a84b7f43-e7dc-dc2c-c9cc-be6d5cd36bbe/sourceFolder/bar/test-file-1a67ff39-a58f-a04b-156b-3d5181626313?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "9KtWi3lPGFZS1wvNNuzr+0RAtQfKCft7xQMjkt/pGj+SQNjaPDG36eYRyLiZfWkof0IMQK1bS[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-a84b7f43-e7dc-dc2c-c9cc-be6d5cd36bbe/sourceFolder/pik/test-file-8f7b8dc2-c45c-46b1-bb61-54b3e23915a7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA2F054C92\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:49:59 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-08-12T21:49:59.0929554Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-a84b7f43-e7dc-dc2c-c9cc-be6d5cd36bbe/sourceFolder/pik/test-file-8f7b8dc2-c45c-46b1-bb61-54b3e23915a7?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "z+L3kalMG3W15pbH3cTf7XYFRVmEHay1TaCDTh50RnLc4LwPSHygdXEF2XUu6mn2gWY83PO7I[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-a84b7f43-e7dc-dc2c-c9cc-be6d5cd36bbe?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.blob.core.windows.net/\" ContainerName=\"test-container-a84b7f43-e7dc-dc2c-c9cc-be6d5cd36bbe\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-50b1d579-a70e-1db4-5920-c2ff806cebe1</Name><VersionId>2025-08-12T21:49:58.7683815Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Tue, 12 Aug 2025 21:49:58 GMT</Creation-Time><Last-Modified>Tue, 12 Aug 2025 21:49:58 GMT</Last-Modified><Etag>0x8DDD9EA2EDF51A4</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-daa5cef4-e8d4-cdcf-b1ce-502754548135</Name><VersionId>2025-08-12T21:49:58.6210285Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Tue, 12 Aug 2025 21:49:58 GMT</Creation-Time><Last-Modified>Tue, 12 Aug 2025 21:49:58 GMT</Last-Modified><Etag>0x8DDD9EA2EC777A7</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e82a061b-90c5-4820-473f-91b2d7c36653/destPrefix/bar?sv=Sanitized&se=2025-08-13T21%3A50%3A04Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:7cfc2650-301a-003d-80d3-0bccc1000000\n",
        "Time:2025-08-12T21:49:59.3358784Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e82a061b-90c5-4820-473f-91b2d7c36653/destPrefix/pik?sv=Sanitized&se=2025-08-13T21%3A50%3A04Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:7cfc2652-301a-003d-02d3-0bccc1000000\n",
        "Time:2025-08-12T21:49:59.3950243Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-a84b7f43-e7dc-dc2c-c9cc-be6d5cd36bbe?restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-vers[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-a84b7f43-e7dc-dc2c-c9cc-be6d5cd36bbe?restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-vers[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e82a061b-90c5-4820-473f-91b2d7c36653/destPrefix/test-file-50b1d579-a70e-1db4-5920-c2ff806cebe1?sv=Sanitized&se=2025-08-13T21%3A50%3A04Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-08-12T21:49:58.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA301F913C\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:50:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-12T21:50:00.9428284Z",
        "x-ms-file-creation-time": "2025-08-12T21:49:58.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-08-12T21:50:00.9428284Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e82a061b-90c5-4820-473f-91b2d7c36653/destPrefix/bar/test-file-1a67ff39-a58f-a04b-156b-3d5181626313?sv=Sanitized&se=2025-08-13T21%3A50%3A04Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-cont[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e82a061b-90c5-4820-473f-91b2d7c36653/destPrefix/test-file-50b1d579-a70e-1db4-5920-c2ff806cebe1?sv=Sanitized&se=2025-08-13T21%3A50%3A04Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://nickliuproductionacc.blob.core.windows.net/test-container-a84b7f43-e7dc-dc2c-c9cc-be6d5cd36bbe/sourceFolder/test-file-50b1d579-a70e-1db4-5920-c2ff806cebe1",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA3025A4E6\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:50:00 GMT",
        "x-ms-content-crc64": "MzpAQLhT6n4=",
        "x-ms-file-last-write-time": "2025-08-12T21:50:00.9428284Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e82a061b-90c5-4820-473f-91b2d7c36653/destPrefix/pik/test-file-8f7b8dc2-c45c-46b1-bb61-54b3e23915a7?sv=Sanitized&se=2025-08-13T21%3A50%3A04Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-cont[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e82a061b-90c5-4820-473f-91b2d7c36653/destPrefix/test-file-50b1d579-a70e-1db4-5920-c2ff806cebe1?sv=Sanitized&se=2025-08-13T21%3A50%3A04Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-08-12T21:49:58.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA302D8B44\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:50:01 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-12T21:50:01.0344260Z",
        "x-ms-file-creation-time": "2025-08-12T21:49:58.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-08-12T21:50:00.9428284Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e82a061b-90c5-4820-473f-91b2d7c36653/destPrefix/bar/test-file-1a67ff39-a58f-a04b-156b-3d5181626313?sv=Sanitized&se=2025-08-13T21%3A50%3A04Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://nickliuproductionacc.blob.core.windows.net/test-container-a84b7f43-e7dc-dc2c-c9cc-be6d5cd36bbe/sourceFolder/bar/test-file-1a67ff39-a58f-a04b-156b-3d5181626313",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA302E74A3\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:50:01 GMT",
        "x-ms-content-crc64": "7a0nqZpyuR4=",
        "x-ms-file-last-write-time": "2025-08-12T21:50:00.9866358Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e82a061b-90c5-4820-473f-91b2d7c36653/destPrefix/bar/test-file-1a67ff39-a58f-a04b-156b-3d5181626313?sv=Sanitized&se=2025-08-13T21%3A50%3A04Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-08-12T21:49:58.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA30332A63\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:50:01 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-12T21:50:01.0712675Z",
        "x-ms-file-creation-time": "2025-08-12T21:49:58.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-08-12T21:50:00.9866358Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e82a061b-90c5-4820-473f-91b2d7c36653/destPrefix/pik/test-file-8f7b8dc2-c45c-46b1-bb61-54b3e23915a7?sv=Sanitized&se=2025-08-13T21%3A50%3A04Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://nickliuproductionacc.blob.core.windows.net/test-container-a84b7f43-e7dc-dc2c-c9cc-be6d5cd36bbe/sourceFolder/pik/test-file-8f7b8dc2-c45c-46b1-bb61-54b3e23915a7",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA3032B59A\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:50:01 GMT",
        "x-ms-content-crc64": "lTTmNYUYXzA=",
        "x-ms-file-last-write-time": "2025-08-12T21:50:01.0155093Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e82a061b-90c5-4820-473f-91b2d7c36653/destPrefix/pik/test-file-8f7b8dc2-c45c-46b1-bb61-54b3e23915a7?sv=Sanitized&se=2025-08-13T21%3A50%3A04Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-08-12T21:49:59.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA303A7515\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:50:01 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-12T21:50:01.1190549Z",
        "x-ms-file-creation-time": "2025-08-12T21:49:59.0000000Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2025-08-12T21:50:01.0155093Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-a84b7f43-e7dc-dc2c-c9cc-be6d5cd36bbe?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "Respo[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e82a061b-90c5-4820-473f-91b2d7c36653/destPrefix?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 21:50:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-e82a061b-90c5-4820-473f-91b2d7c36653\" DirectoryPath=\"destPrefix\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-50b1d579-a70e-1db4-5920-c2ff806cebe1</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-daa5cef4-e8d4-cdcf-b1ce-502754548135</Name><FileId>11529250230440558592</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e82a061b-90c5-4820-473f-91b2d7c36653/destPrefix/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 21:50:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-e82a061b-90c5-4820-473f-91b2d7c36653\" DirectoryPath=\"destPrefix/bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-1a67ff39-a58f-a04b-156b-3d5181626313</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e82a061b-90c5-4820-473f-91b2d7c36653/destPrefix/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 21:50:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-e82a061b-90c5-4820-473f-91b2d7c36653\" DirectoryPath=\"destPrefix/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-8f7b8dc2-c45c-46b1-bb61-54b3e23915a7</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-a84b7f43-e7dc-dc2c-c9cc-be6d5cd36bbe/sourceFolder/bar/test-file-1a67ff39-a58f-a04b-156b-3d5181626313",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDD9EA2EF8D775\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:49:59 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 12 Aug 2025 21:49:58 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-08-12T21:49:58.9336554Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e82a061b-90c5-4820-473f-91b2d7c36653/destPrefix/bar/test-file-1a67ff39-a58f-a04b-156b-3d5181626313",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 21:50:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDD9EA30332A63\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:50:01 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-12T21:50:01.0712675Z",
        "x-ms-file-creation-time": "2025-08-12T21:49:58.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-08-12T21:50:00.9866358Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
[...]
