{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-8f79d023-6a67-c8c2-4ea6-5200475fb937?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B91DA47D712\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:20:51 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-1f004b7d-7cf2-14f9-9510-f4e25e43f32a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:21:00 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B91DA4E831F\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:20:51 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-8f79d023-6a67-c8c2-4ea6-5200475fb937/sourceFolder/folder0/test-file-81adbdaa-f38e-7367-e3e1-c239ba60ed44",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B91DA550E8D\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:20:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-04-14T20:20:51.9960205Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-8f79d023-6a67-c8c2-4ea6-5200475fb937/sourceFolder/folder0/test-file-81adbdaa-f38e-7367-e3e1-c239ba60ed44?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "ECBlLEJqCPJs69uX76rSqtkN7mmifkWJyo6lQIc/kdjr1a0sTbJyP7S7FaMY0IQ4DhdgrHKEoZHa3GG0xcdqLFoCqxn9pl0mmq+052micPoJbDJv3+VmZzQbUXBQvnntUOhJFSRrO2e6ORHC0LooOGtnqliV+010nETl4VXs1dw1x5aBWVrVnjDKtaXTo5Z58xkF6RQhV1Wa1HnfhVoSzWQ0jQkkp98QkQsny0Woofita+085+zIFG9A5oXh9hjWt+dBnhaNVUw59FcI+YwP8jOAMhps1uZ3bHmZ48BZL5vyUBNeZwLiIBWhAvOUwBriMfRRYMT+auEByTKc83KL4MS8Fah4sYswnhEEytTy4qxet7LMB8/X9OYyXJ3QRiyjFiIu2KpxaX9oIcKy+Z8[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-8f79d023-6a67-c8c2-4ea6-5200475fb937/sourceFolder/folder0/folder1/test-file-6791fa6b-aab8-88be-6892-ff3460e5c5e7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B91DA5FD7EB\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:20:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-04-14T20:20:52.0667115Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-8f79d023-6a67-c8c2-4ea6-5200475fb937/sourceFolder/folder0/folder1/test-file-6791fa6b-aab8-88be-6892-ff3460e5c5e7?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "N6cODVTSmzps2daH6qVGppRIX53wZ/6HAJLG0I1Ij+/F9ORl4cLymV9X+t/UN[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-8f79d023-6a67-c8c2-4ea6-5200475fb937/sourceFolder/folder0/folder1/folder2/test-file-e10dedc7-b5ad-0139-5d25-9a1a9b7efea9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B91DA6990F0\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:20:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-04-14T20:20:52.1304304Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-8f79d023-6a67-c8c2-4ea6-5200475fb937/sourceFolder/folder0/folder1/folder2/test-file-e10dedc7-b5ad-0139-5d25-9a1a9b7efea9?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "xCrXKe257hh5MswZ0UyVBYyRKKGxO6/mArPP8FnIu4rdpYLdiMEFD[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-1f004b7d-7cf2-14f9-9510-f4e25e43f32a/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:21:00 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B91DA79A17B\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:20:52 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T20:20:52.2357115Z",
        "x-ms-file-creation-time": "2025-04-14T20:20:52.2357115Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-04-14T20:20:52.2357115Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-8f79d023-6a67-c8c2-4ea6-5200475fb937?restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.blob.core.windows.net/\" ContainerName=\"test-container-8f79d023-6a67-c8c2-4ea6-5200475fb937\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/folder0/folder1/folder2/test-file-e10dedc7-b5ad-0139-5d25-9a1a9b7efea9</Name><VersionId>2025-04-14T20:20:52.1304304Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Mon, 14 Apr 2025 20:20:52 GMT</Creation-Time><Last-Modified>Mon, 14 Apr 2025 20:20:52 GMT</Last-Modified><Etag>0x8DD7B91DA6E6D72</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/folder0/folder1/test-file-6791fa6b-aab8-88be-6892-ff3460e5c5e7</Name><VersionId>2025-04-14T20:20:52.0667115Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Mon, 14 Apr 2025 20:20:52 GMT</Creation-Time><Last-Modified>Mon, 14 Apr 2025 20:20:52 GMT</Last-Modified><Etag>0x8DD7B91DA6466AD</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Cont[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-1f004b7d-7cf2-14f9-9510-f4e25e43f32a/destFolder/folder0?sv=Sanitized&se=2025-04-15T20%3A21%3A00Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B91DA8A7E80\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:20:52 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T20:20:52.3462272Z",
        "x-ms-file-creation-time": "2025-04-14T20:20:52.3462272Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-04-14T20:20:52.3462272Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-1f004b7d-7cf2-14f9-9510-f4e25e43f32a/destFolder/folder0/folder1?sv=Sanitized&se=2025-04-15T20%3A21%3A00Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B91DA8F342C\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:20:52 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T20:20:52.3770924Z",
        "x-ms-file-creation-time": "2025-04-14T20:20:52.3770924Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-04-14T20:20:52.3770924Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-1f004b7d-7cf2-14f9-9510-f4e25e43f32a/destFolder/folder0/folder1/folder2?sv=Sanitized&se=2025-04-15T20%3A21%3A00Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B91DA937525\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:20:52 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T20:20:52.4049701Z",
        "x-ms-file-creation-time": "2025-04-14T20:20:52.4049701Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-04-14T20:20:52.4049701Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-1f004b7d-7cf2-14f9-9510-f4e25e43f32a/destFolder/folder0/test-file-81adbdaa-f38e-7367-e3e1-c239ba60ed44?sv=Sanitized&se=2025-04-15T20%3A21%3A00Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-1f004b7d-7cf2-14f9-9510-f4e25e43f32a/destFolder/folder0/folder1/test-file-6791fa6b-aab8-88be-6892-ff3460e5c5e7?sv=Sanitized&se=2025-04-15T20%3A21%3A00Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-1f004b7d-7cf2-14f9-9510-f4e25e43f32a/destFolder/folder0/folder1/folder2/test-file-e10dedc7-b5ad-0139-5d25-9a1a9b7efea9?sv=Sanitized&se=2025-04-15T20%3A21%3A00Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-1f004b7d-7cf2-14f9-9510-f4e25e43f32a/destFolder/folder0/test-file-81adbdaa-f38e-7367-e3e1-c239ba60ed44?sv=Sanitized&se=2025-04-15T20%3A21%3A00Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-04-14T20:20:51.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B91DB6C1953\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:20:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:20:53.8247507Z",
        "x-ms-file-creation-time": "2025-04-14T20:20:51.0000000Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-04-14T20:20:53.8247507Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-1f004b7d-7cf2-14f9-9510-f4e25e43f32a/destFolder/folder0/test-file-81adbdaa-f38e-7367-e3e1-c239ba60ed44?sv=Sanitized&se=2025-04-15T20%3A21%3A00Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://nickliuproductionacc.blob.core.windows.net/test-container-8f79d023-6a67-c8c2-4ea6-5200475fb937/sourceFolder/folder0/test-file-81adbdaa-f38e-7367-e3e1-c239ba60ed44",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B91DB738B04\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:20:53 GMT",
        "x-ms-content-crc64": "6eEmC+OIzMs=",
        "x-ms-file-last-write-time": "2025-04-14T20:20:53.8247507Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-1f004b7d-7cf2-14f9-9510-f4e25e43f32a/destFolder/folder0/folder1/test-file-6791fa6b-aab8-88be-6892-ff3460e5c5e7?sv=Sanitized&se=2025-04-15T20%3A21%3A00Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://nickliuproductionacc.blob.core.windows.net/test-container-8f79d023-6a67-c8c2-4ea6-5200475fb937/sourceFolder/folder0/folder1/test-file-6791fa6b-aab8-88be-6892-ff3460e5c5e7",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B91DB747456\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:20:53 GMT",
        "x-ms-content-crc64": "0yDb7HlTNDo=",
        "x-ms-file-last-write-time": "2025-04-14T20:20:53.8297281Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-1f004b7d-7cf2-14f9-9510-f4e25e43f32a/destFolder/folder0/folder1/folder2/test-file-e10dedc7-b5ad-0139-5d25-9a1a9b7efea9?sv=Sanitized&se=2025-04-15T20%3A21%3A00Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://nickliuproductionacc.blob.core.windows.net/test-container-8f79d023-6a67-c8c2-4ea6-5200475fb937/sourceFolder/folder0/folder1/folder2/test-file-e10dedc7-b5ad-0139-5d25-9a1a9b7efea9",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B91DB74E904\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:20:53 GMT",
        "x-ms-content-crc64": "6ANnaVEK7Hk=",
        "x-ms-file-last-write-time": "2025-04-14T20:20:53.8366971Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-1f004b7d-7cf2-14f9-9510-f4e25e43f32a/destFolder/folder0/test-file-81adbdaa-f38e-7367-e3e1-c239ba60ed44?sv=Sanitized&se=2025-04-15T20%3A21%3A00Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-04-14T20:20:51.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B91DB77CBFE\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:20:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:20:53.9014142Z",
        "x-ms-file-creation-time": "2025-04-14T20:20:51.0000000Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-04-14T20:20:53.8247507Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-1f004b7d-7cf2-14f9-9510-f4e25e43f32a/destFolder/folder0/folder1/test-file-6791fa6b-aab8-88be-6892-ff3460e5c5e7?sv=Sanitized&se=2025-04-15T20%3A21%3A00Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-04-14T20:20:52.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B91DB788E77\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:20:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:20:53.9063927Z",
        "x-ms-file-creation-time": "2025-04-14T20:20:52.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-04-14T20:20:53.8297281Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-1f004b7d-7cf2-14f9-9510-f4e25e43f32a/destFolder/folder0/folder1/folder2/test-file-e10dedc7-b5ad-0139-5d25-9a1a9b7efea9?sv=Sanitized&se=2025-04-15T20%3A21%3A00Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-04-14T20:20:52.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B91DB799EB2\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:20:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:20:53.9133618Z",
        "x-ms-file-creation-time": "2025-04-14T20:20:52.0000000Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2025-04-14T20:20:53.8366971Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-8f79d023-6a67-c8c2-4ea6-5200475fb937?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "Respo[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-1f004b7d-7cf2-14f9-9510-f4e25e43f32a/destFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:21:02 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-1f004b7d-7cf2-14f9-9510-f4e25e43f32a\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>folder0</Name><FileId>11529285414812647424</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-1f004b7d-7cf2-14f9-9510-f4e25e43f32a/destFolder/folder0?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:21:02 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-1f004b7d-7cf2-14f9-9510-f4e25e43f32a\" DirectoryPath=\"destFolder/folder0\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>folder1</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-81adbdaa-f38e-7367-e3e1-c239ba60ed44</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-1f004b7d-7cf2-14f9-9510-f4e25e43f32a/destFolder/folder0/folder1?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:21:02 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-1f004b7d-7cf2-14f9-9510-f4e25e43f32a\" DirectoryPath=\"destFolder/folder0/folder1\"><DirectoryId>16140971433240035328</DirectoryId><Entries><Directory><Name>folder2</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>test-file-6791fa6b-aab8-88be-6892-ff3460e5c5e7</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-1f004b7d-7cf2-14f9-9510-f4e25e43f32a/destFolder/folder0/folder1/folder2?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:21:02 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-1f004b7d-7cf2-14f9-9510-f4e25e43f32a\" DirectoryPath=\"destFolder/folder0/folder1/folder2\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-e10dedc7-b5ad-0139-5d25-9a1a9b7efea9</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-8f79d023-6a67-c8c2-4ea6-5200475fb937/sourceFolder/folder0/folder1/folder2/test-file-e10dedc7-b5ad-0139-5d25-9a1a9b7efea9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD7B91DA6E6D72\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:20:52 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 14 Apr 2025 20:20:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
[...]
