{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9e8fe890-3269-2fcd-46a4-4360e96b39ad?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFADFB68DA9\"",
        "Last-Modified": "Wed, 07 May 2025 00:05:27 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1e62ecc0-468d-117e-69d6-0faaa36e6127?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 00:05:27 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFADFC0153D\"",
        "Last-Modified": "Wed, 07 May 2025 00:05:28 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9e8fe890-3269-2fcd-46a4-4360e96b39ad/sourceFolder/folder0/test-file-25de870d-833a-7130-5a5d-4085864d411c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFADFC9C2D5\"",
        "Last-Modified": "Wed, 07 May 2025 00:05:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T00:05:28.0732885Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9e8fe890-3269-2fcd-46a4-4360e96b39ad/sourceFolder/folder0/test-file-25de870d-833a-7130-5a5d-4085864d411c?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "Cb/X8tB/bCDV7GYBzE3DnnCNIkhupxZOgCyGXvJqkLRrZTuCZ6RijRu+UE0dL6UNmaEV+Cr5rWGoiHGj+Q0ta1yxlmYRQDfLKpUtsFbJMVGHecVRVJeKcbjZ2d4yv5QNkOXxbJk+/FhpSs2VzPwL31cgHIBI3BbEJySuN2ZYmWsAHyBx2MS4SHxs5wrK9KW7zvqHEqIUxLPOLEV0kMXxEbBhlazcmQeSZ9MD3PUM+jJ+8mhs0YbI61psoqt/Q7e3etZZaF753zXy9KrPEOi+wjIS9p1dhD8qmalRb/ZcEyMcTGEfspHThRMyetzb+dtyreB4bU0aWvWWL8+1p28+luGHssSGnxCgPnGJKgpjTp/O3sIW46bVAvJriIPCHt2k8+T7VEYW6w7Q2C7ckC/[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9e8fe890-3269-2fcd-46a4-4360e96b39ad/sourceFolder/folder0/folder1/test-file-4f390399-ade5-83d6-7ff2-9e5b770c6aa0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFADFD929E8\"",
        "Last-Modified": "Wed, 07 May 2025 00:05:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T00:05:28.1742312Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9e8fe890-3269-2fcd-46a4-4360e96b39ad/sourceFolder/folder0/folder1/test-file-4f390399-ade5-83d6-7ff2-9e5b770c6aa0?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "vBEl+R04Q4oyccJjTNJL4GXM9JxJzQK1fYOYMsJkMMOtanPZqcTLYb+vHXPrcjetpr[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9e8fe890-3269-2fcd-46a4-4360e96b39ad/sourceFolder/folder0/folder1/folder2/test-file-ea1a14af-e7ec-fdc9-740f-93766b4db917",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFADFE890FD\"",
        "Last-Modified": "Wed, 07 May 2025 00:05:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T00:05:28.2751741Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9e8fe890-3269-2fcd-46a4-4360e96b39ad/sourceFolder/folder0/folder1/folder2/test-file-ea1a14af-e7ec-fdc9-740f-93766b4db917?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "rvuMEd6KZqysdKuwUacdHZ3wQGRofbWLonD3jKzxuD4OKYUMhT+IJK5uPn[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1e62ecc0-468d-117e-69d6-0faaa36e6127/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 00:05:28 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFADFF652CB\"",
        "Last-Modified": "Wed, 07 May 2025 00:05:28 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-07T00:05:28.3653323Z",
        "x-ms-file-creation-time": "2025-05-07T00:05:28.3653323Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-07T00:05:28.3653323Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9e8fe890-3269-2fcd-46a4-4360e96b39ad?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-9e8fe890-3269-2fcd-46a4-4360e96b39ad\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/folder0/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1e62ecc0-468d-117e-69d6-0faaa36e6127/destFolder/folder0?sv=Sanitized&se=2025-05-08T00%3A05%3A28Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFAE005B9DB\"",
        "Last-Modified": "Wed, 07 May 2025 00:05:28 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-07T00:05:28.4662747Z",
        "x-ms-file-creation-time": "2025-05-07T00:05:28.4662747Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-07T00:05:28.4662747Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9e8fe890-3269-2fcd-46a4-4360e96b39ad?restype=container&comp=list&prefix=sourceFolder%2Ffolder0%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-9e8fe890-3269-2fcd-46a4-4360e96b39ad\"><Prefix>sourceFolder/folder0/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/folder0/folder1/</Name></BlobPrefix><Blob><Name>sourceFolder/folder0/test-file-25de870d-833a-7130-5a5d-4085864d411c</Name><VersionId>2025-05-07T00:05:28.0732885Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 00:05:28 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 00:05:28 GMT</Last-Modified><Etag>0x8DD8CFADFD0EDC9</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1e62ecc0-468d-117e-69d6-0faaa36e6127/destFolder/folder0/folder1?sv=Sanitized&se=2025-05-08T00%3A05%3A28Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFAE013737C\"",
        "Last-Modified": "Wed, 07 May 2025 00:05:28 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-07T00:05:28.5562236Z",
        "x-ms-file-creation-time": "2025-05-07T00:05:28.5562236Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-05-07T00:05:28.5562236Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9e8fe890-3269-2fcd-46a4-4360e96b39ad?restype=container&comp=list&prefix=sourceFolder%2Ffolder0%2Ffolder1%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1e62ecc0-468d-117e-69d6-0faaa36e6127/destFolder/folder0/folder1/folder2?sv=Sanitized&se=2025-05-08T00%3A05%3A28Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFAE0212D1A\"",
        "Last-Modified": "Wed, 07 May 2025 00:05:28 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-07T00:05:28.6461722Z",
        "x-ms-file-creation-time": "2025-05-07T00:05:28.6461722Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-05-07T00:05:28.6461722Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9e8fe890-3269-2fcd-46a4-4360e96b39ad?restype=container&comp=list&prefix=sourceFolder%2Ffolder0%2Ffolder1%2Ffolder2%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1e62ecc0-468d-117e-69d6-0faaa36e6127/destFolder/folder0/test-file-25de870d-833a-7130-5a5d-4085864d411c?sv=Sanitized&se=2025-05-08T00%3A05%3A28Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1e62ecc0-468d-117e-69d6-0faaa36e6127/destFolder/folder0/test-file-25de870d-833a-7130-5a5d-4085864d411c?sv=Sanitized&se=2025-05-08T00%3A05%3A28Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-07T00:05:28.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFAE10CCA4F\"",
        "Last-Modified": "Wed, 07 May 2025 00:05:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-07T00:05:30.1902927Z",
        "x-ms-file-creation-time": "2025-05-07T00:05:28.0000000Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-05-07T00:05:30.1902927Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1e62ecc0-468d-117e-69d6-0faaa36e6127/destFolder/folder0/folder1/test-file-4f390399-ade5-83d6-7ff2-9e5b770c6aa0?sv=Sanitized&se=2025-05-08T00%3A05%3A28Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1e62ecc0-468d-117e-69d6-0faaa36e6127/destFolder/folder0/test-file-25de870d-833a-7130-5a5d-4085864d411c?sv=Sanitized&se=2025-05-08T00%3A05%3A28Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-9e8fe890-3269-2fcd-46a4-4360e96b39ad/sourceFolder/folder0/test-file-25de870d-833a-7130-5a5d-4085864d411c",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFAE1177721\"",
        "Last-Modified": "Wed, 07 May 2025 00:05:30 GMT",
        "x-ms-content-crc64": "vv5LVqgvEXA=",
        "x-ms-file-last-write-time": "2025-05-07T00:05:30.1902927Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1e62ecc0-468d-117e-69d6-0faaa36e6127/destFolder/folder0/folder1/folder2/test-file-ea1a14af-e7ec-fdc9-740f-93766b4db917?sv=Sanitized&se=2025-05-08T00%3A05%3A28Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1e62ecc0-468d-117e-69d6-0faaa36e6127/destFolder/folder0/test-file-25de870d-833a-7130-5a5d-4085864d411c?sv=Sanitized&se=2025-05-08T00%3A05%3A28Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-07T00:05:28.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFAE11EA206\"",
        "Last-Modified": "Wed, 07 May 2025 00:05:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-07T00:05:30.3072262Z",
        "x-ms-file-creation-time": "2025-05-07T00:05:28.0000000Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-05-07T00:05:30.1902927Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1e62ecc0-468d-117e-69d6-0faaa36e6127/destFolder/folder0/folder1/test-file-4f390399-ade5-83d6-7ff2-9e5b770c6aa0?sv=Sanitized&se=2025-05-08T00%3A05%3A28Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-9e8fe890-3269-2fcd-46a4-4360e96b39ad/sourceFolder/folder0/folder1/test-file-4f390399-ade5-83d6-7ff2-9e5b770c6aa0",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFAE125F3F4\"",
        "Last-Modified": "Wed, 07 May 2025 00:05:30 GMT",
        "x-ms-content-crc64": "mO0V+zj4l7w=",
        "x-ms-file-last-write-time": "2025-05-07T00:05:30.3032282Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1e62ecc0-468d-117e-69d6-0faaa36e6127/destFolder/folder0/folder1/test-file-4f390399-ade5-83d6-7ff2-9e5b770c6aa0?sv=Sanitized&se=2025-05-08T00%3A05%3A28Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-07T00:05:28.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFAE12C82B1\"",
        "Last-Modified": "Wed, 07 May 2025 00:05:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-07T00:05:30.3981745Z",
        "x-ms-file-creation-time": "2025-05-07T00:05:28.0000000Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-05-07T00:05:30.3032282Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1e62ecc0-468d-117e-69d6-0faaa36e6127/destFolder/folder0/folder1/folder2/test-file-ea1a14af-e7ec-fdc9-740f-93766b4db917?sv=Sanitized&se=2025-05-08T00%3A05%3A28Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-9e8fe890-3269-2fcd-46a4-4360e96b39ad/sourceFolder/folder0/folder1/folder2/test-file-ea1a14af-e7ec-fdc9-740f-93766b4db917",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFAE12ECC4C\"",
        "Last-Modified": "Wed, 07 May 2025 00:05:30 GMT",
        "x-ms-content-crc64": "hvdQjZa1l2Y=",
        "x-ms-file-last-write-time": "2025-05-07T00:05:30.3472036Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1e62ecc0-468d-117e-69d6-0faaa36e6127/destFolder/folder0/folder1/folder2/test-file-ea1a14af-e7ec-fdc9-740f-93766b4db917?sv=Sanitized&se=2025-05-08T00%3A05%3A28Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-07T00:05:28.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8CFAE135A919\"",
        "Last-Modified": "Wed, 07 May 2025 00:05:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-07T00:05:30.4581401Z",
        "x-ms-file-creation-time": "2025-05-07T00:05:28.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-05-07T00:05:30.3472036Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9e8fe890-3269-2fcd-46a4-4360e96b39ad?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBo[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1e62ecc0-468d-117e-69d6-0faaa36e6127/destFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 00:05:30 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-1e62ecc0-468d-117e-69d6-0faaa36e6127\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>folder0</Name><FileId>11529285414812647424</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1e62ecc0-468d-117e-69d6-0faaa36e6127/destFolder/folder0?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 00:05:30 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-1e62ecc0-468d-117e-69d6-0faaa36e6127\" DirectoryPath=\"destFolder/folder0\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>folder1</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-25de870d-833a-7130-5a5d-4085864d411c</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1e62ecc0-468d-117e-69d6-0faaa36e6127/destFolder/folder0/folder1?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 00:05:30 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-1e62ecc0-468d-117e-69d6-0faaa36e6127\" DirectoryPath=\"destFolder/folder0/folder1\"><DirectoryId>16140971433240035328</DirectoryId><Entries><Directory><Name>folder2</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>test-file-4f390399-ade5-83d6-7ff2-9e5b770c6aa0</Name><FileId>12682206919419494400</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1e62ecc0-468d-117e-69d6-0faaa36e6127/destFolder/folder0/folder1/folder2?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 00:05:30 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
[...]
