{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7a95eb17-ecb8-0a92-e7bf-5be43d72bb20?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D12C4B3FE54\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:55:34 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a8fad703-e074-09e3-5d8a-1e483d4df8a7?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:55:34 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D12C4BB4FA3\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:55:34 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a8fad703-e074-09e3-5d8a-1e483d4df8a7/destPrefix?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:55:34 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D12C4C69D47\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:55:34 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-03-07T00:55:34.8623687Z",
        "x-ms-file-creation-time": "2025-03-07T00:55:34.8623687Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-03-07T00:55:34.8623687Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7a95eb17-ecb8-0a92-e7bf-5be43d72bb20/sourceFolder/test-file-50d1bf8b-2cde-0cc1-2183-4e1182c486a8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D12C4CEEB41\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:55:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7a95eb17-ecb8-0a92-e7bf-5be43d72bb20/sourceFolder/test-file-50d1bf8b-2cde-0cc1-2183-4e1182c486a8?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "aTJeJuv9n4Gpto+8WmCRqCfs4bX/XAYd025diG9PYL+GvtP55OY/jSBPpyicBLHA8abqlePQqA0sQVN8oBYSWVXPNpyMl8NBrVOVr7TegM69nZbIZcrctRXGzaOTwu0JPU7TzM4UM1njqeiQO/lYTsCEvwKASfSK84CHxsogrepli3FlCrP/qGk85bviS3obbX/iDgPqifRaSNlOjW2Pwvv9K6+H80MMhBaZQ2M4qKgGa1hLPZ/negF9CsLasRv8rSO/5CDKlHo81ontUUWQIaAxSCEURIRcFrCuCuiAMdL6nJZAecOHO9fdDmcW+Si77OgiqWn652ieY81vHImSu6S287SvUKjcqQxJNzUcRh2I8h7/Xohp/7Utohb2Fx9NS1PDXwZzDJtARf9dsLA[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7a95eb17-ecb8-0a92-e7bf-5be43d72bb20/sourceFolder/bar/test-file-be2036a0-5d00-769d-6b85-dcad9076dc30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D12C4F55AE2\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:55:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7a95eb17-ecb8-0a92-e7bf-5be43d72bb20/sourceFolder/bar/test-file-be2036a0-5d00-769d-6b85-dcad9076dc30?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "/0JhuFdwwITSEj9cmvYoDxUCzCqwFWtiJ7jaGuBpDffXs0Ion8RhL3ac6+4dQNt0XMyYjqmxf+nW/5Ce[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7a95eb17-ecb8-0a92-e7bf-5be43d72bb20/sourceFolder/pik/test-file-6b76b7a0-5e7b-e1cf-0763-70f58d9495c8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D12C50A0436\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:55:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7a95eb17-ecb8-0a92-e7bf-5be43d72bb20/sourceFolder/pik/test-file-6b76b7a0-5e7b-e1cf-0763-70f58d9495c8?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "INVTPxajglo5s5LtQGFiWyGnv0XM+pSbqbXVQAT+PS1MWVtfhXTU/TQcMcjM4qClABXU5dVQ+yVAt5Vh[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7a95eb17-ecb8-0a92-e7bf-5be43d72bb20?restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-7a95eb17-ecb8-0a92-e7bf-5be43d72bb20\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-be2036a0-5d00-769d-6b85-dcad9076dc30</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:55:35 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:55:35 GMT</Last-Modified><Etag>0x8DD5D12C4FDB5F6</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-6b76b7a0-5e7b-e1cf-0763-70f58d9495c8</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:55:35 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:55:35 GMT</Last-Modified><Etag>0x8DD5D12C512AD02</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-D[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a8fad703-e074-09e3-5d8a-1e483d4df8a7/destPrefix/bar?sv=Sanitized&se=2025-03-08T00%3A55%3A35Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D12C52E86F8\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:55:35 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-03-07T00:55:35.5433720Z",
        "x-ms-file-creation-time": "2025-03-07T00:55:35.5433720Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-03-07T00:55:35.5433720Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a8fad703-e074-09e3-5d8a-1e483d4df8a7/destPrefix/pik?sv=Sanitized&se=2025-03-08T00%3A55%3A35Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D12C53708E3\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:55:35 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-03-07T00:55:35.5991267Z",
        "x-ms-file-creation-time": "2025-03-07T00:55:35.5991267Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-03-07T00:55:35.5991267Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a8fad703-e074-09e3-5d8a-1e483d4df8a7/destPrefix/bar/test-file-be2036a0-5d00-769d-6b85-dcad9076dc30?sv=Sanitized&se=2025-03-08T00%3A55%3A35Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-03-07T00:55:35.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D12C6A135DF\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:55:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T00:55:37.9726815Z",
        "x-ms-file-creation-time": "2025-03-07T00:55:35.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-03-07T00:55:37.9726815Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a8fad703-e074-09e3-5d8a-1e483d4df8a7/destPrefix/pik/test-file-6b76b7a0-5e7b-e1cf-0763-70f58d9495c8?sv=Sanitized&se=2025-03-08T00%3A55%3A35Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-len[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a8fad703-e074-09e3-5d8a-1e483d4df8a7/destPrefix/bar/test-file-be2036a0-5d00-769d-6b85-dcad9076dc30?sv=Sanitized&se=2025-03-08T00%3A55%3A35Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-7a95eb17-ecb8-0a92-e7bf-5be43d72bb20/sourceFolder/bar/test-file-be2036a0-5d00-769d-6b85-dcad9076dc30",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D12C6AC73DB\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:55:38 GMT",
        "x-ms-content-crc64": "oGeGBf4Pw/4=",
        "x-ms-file-last-write-time": "2025-03-07T00:55:37.9726815Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a8fad703-e074-09e3-5d8a-1e483d4df8a7/destPrefix/test-file-0b7c4566-87f9-a4b8-74d8-274a0e22b7e6?sv=Sanitized&se=2025-03-08T00%3A55%3A35Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length"[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a8fad703-e074-09e3-5d8a-1e483d4df8a7/destPrefix/bar/test-file-be2036a0-5d00-769d-6b85-dcad9076dc30?sv=Sanitized&se=2025-03-08T00%3A55%3A35Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-03-07T00:55:35.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D12C6B5438D\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:55:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T00:55:38.1041037Z",
        "x-ms-file-creation-time": "2025-03-07T00:55:35.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-03-07T00:55:37.9726815Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a8fad703-e074-09e3-5d8a-1e483d4df8a7/destPrefix/pik/test-file-6b76b7a0-5e7b-e1cf-0763-70f58d9495c8?sv=Sanitized&se=2025-03-08T00%3A55%3A35Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-7a95eb17-ecb8-0a92-e7bf-5be43d72bb20/sourceFolder/pik/test-file-6b76b7a0-5e7b-e1cf-0763-70f58d9495c8",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D12C6B62CE6\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:55:38 GMT",
        "x-ms-content-crc64": "8A8zrO+n+68=",
        "x-ms-file-last-write-time": "2025-03-07T00:55:38.0423751Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a8fad703-e074-09e3-5d8a-1e483d4df8a7/destPrefix/pik/test-file-6b76b7a0-5e7b-e1cf-0763-70f58d9495c8?sv=Sanitized&se=2025-03-08T00%3A55%3A35Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-03-07T00:55:35.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D12C6BED5B5\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:55:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T00:55:38.1668277Z",
        "x-ms-file-creation-time": "2025-03-07T00:55:35.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-03-07T00:55:38.0423751Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a8fad703-e074-09e3-5d8a-1e483d4df8a7/destPrefix/test-file-0b7c4566-87f9-a4b8-74d8-274a0e22b7e6?sv=Sanitized&se=2025-03-08T00%3A55%3A35Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-7a95eb17-ecb8-0a92-e7bf-5be43d72bb20/sourceFolder/test-file-0b7c4566-87f9-a4b8-74d8-274a0e22b7e6",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D12C6BF9826\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:55:38 GMT",
        "x-ms-content-crc64": "0XWqm5lziKw=",
        "x-ms-file-last-write-time": "2025-03-07T00:55:38.0772220Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a8fad703-e074-09e3-5d8a-1e483d4df8a7/destPrefix/test-file-0b7c4566-87f9-a4b8-74d8-274a0e22b7e6?sv=Sanitized&se=2025-03-08T00%3A55%3A35Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-03-07T00:55:35.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D12C6CB23E8\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:55:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T00:55:38.2474728Z",
        "x-ms-file-creation-time": "2025-03-07T00:55:35.0000000Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2025-03-07T00:55:38.0772220Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7a95eb17-ecb8-0a92-e7bf-5be43d72bb20?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a8fad703-e074-09e3-5d8a-1e483d4df8a7/destPrefix?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:55:38 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-a8fad703-e074-09e3-5d8a-1e483d4df8a7\" DirectoryPath=\"destPrefix\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-0b7c4566-87f9-a4b8-74d8-274a0e22b7e6</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-50d1bf8b-2cde-0cc1-2183-4e1182c486a8</Name><FileId>13835075647468208128</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a8fad703-e074-09e3-5d8a-1e483d4df8a7/destPrefix/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:55:38 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-a8fad703-e074-09e3-5d8a-1e483d4df8a7\" DirectoryPath=\"destPrefix/bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-be2036a0-5d00-769d-6b85-dcad9076dc30</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a8fad703-e074-09e3-5d8a-1e483d4df8a7/destPrefix/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:55:38 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-a8fad703-e074-09e3-5d8a-1e483d4df8a7\" DirectoryPath=\"destPrefix/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-6b76b7a0-5e7b-e1cf-0763-70f58d9495c8</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7a95eb17-ecb8-0a92-e7bf-5be43d72bb20/sourceFolder/bar/test-file-be2036a0-5d00-769d-6b85-dcad9076dc30",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D12C4FDB5F6\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:55:35 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:55:35 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a8fad703-e074-09e3-5d8a-1e483d4df8a7/destPrefix/bar/test-file-be2036a0-5d00-769d-6b85-dcad9076dc30",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:55:38 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D12C6B5438D\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:55:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T00:55:38.1041037Z",
        "x-ms-file-creation-time": "2025-03-07T00:55:35.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-03-07T00:55:37.9726815Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7a95eb17-ecb8-0a92-e7bf-5be43d72bb20/sourceFolder/bar/test-file-be2036a0-5d00-769d-6b85-dcad9076dc30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5D12C4FDB5F6\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D12C4FDB5F6\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:55:35 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:55:35 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
   [...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a8fad703-e074-09e3-5d8a-1e483d4df8a7/destPrefix/pik/test-file-6b76b7a0-5e7b-e1cf-0763-70f58d9495c8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:55:39 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D12C6BED5B5\"",
[...]
