{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c7f42def-2f6f-7cd4-e27e-324b8cd29206?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E75C72FF9\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:16:08 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-0f387027-1e53-7d49-6296-03514d38dba1?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:16:07 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E75CEFC59\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:16:08 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c7f42def-2f6f-7cd4-e27e-324b8cd29206/sourceFolder/folder0/test-file-76b01f31-806a-22c4-9399-2cc54170cb7f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E75D94959\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:16:08 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c7f42def-2f6f-7cd4-e27e-324b8cd29206/sourceFolder/folder0/test-file-76b01f31-806a-22c4-9399-2cc54170cb7f?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "VSI49MKql/9tw8U12EkI9ScFp5IyyXaZlFKcbwtzc03ErD10tXEUh4ewCae6jkpKkDeeO8k5TIurnmBwDSf0+U93cCwMlD+18R8KgsDP3gUIUt/U1DiEi1+xyBYRpHlfuw9YQx4dPvv36UmpLsrL3MBaaLpIICUW8+XMWswopE2lq8awd5vn6hTk3Ovv2l2V5etWtju/F5vqQU85UeMuzkX8A4IDG2Ulc32mY0M6JxmHNnTh0u0R5pQrxTVLrpkxtQ6m8tbaksqGMUO+GbNXsBo2sRpuTfxX6x3u2FUv2cXkda41lDRDrKSqW6GqUs3g1BUbFfx+wmcRTge47Lp1Vld+2aQFIRzl8wR2xPJbrJhPDQRAFMTIZbJGJEUtisDpNQRJLHgp27L4NSL4CP1[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c7f42def-2f6f-7cd4-e27e-324b8cd29206/sourceFolder/folder0/folder1/test-file-ecedb72b-cc65-dfaf-f5b6-c441a299ae69",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E75E93D01\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:16:08 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c7f42def-2f6f-7cd4-e27e-324b8cd29206/sourceFolder/folder0/folder1/test-file-ecedb72b-cc65-dfaf-f5b6-c441a299ae69?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "3Ghe/YT9VGBAeomvg/E0E4MeHEipsPTIGdEv9CtTvV5txFI0FF87LWKNrOpC/1wDgrC9[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-0f387027-1e53-7d49-6296-03514d38dba1/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:16:07 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E7603E650\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:16:08 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-04-30T23:16:08.4536912Z",
        "x-ms-file-creation-time": "2026-04-30T23:16:08.4536912Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-30T23:16:08.4536912Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11213973173494923372*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c7f42def-2f6f-7cd4-e27e-324b8cd29206?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-c7f42def-2f6f-7cd4-e27e-324b8cd29206\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/folder0/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-0f387027-1e53-7d49-6296-03514d38dba1/destFolder/folder0?sv=Sanitized&se=2026-05-01T23%3A16%3A07Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:a56d5d98-501a-007f-80f7-d8a039000000\n",
        "Time:2026-04-30T23:16:08.5734258Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c7f42def-2f6f-7cd4-e27e-324b8cd29206?restype=container&comp=list&prefix=sourceFolder%2Ffolder0%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-c7f42def-2f6f-7cd4-e27e-324b8cd29206\"><Prefix>sourceFolder/folder0/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/folder0/folder1/</Name></BlobPrefix><Blob><Name>sourceFolder/folder0/test-file-76b01f31-806a-22c4-9399-2cc54170cb7f</Name><Properties><Creation-Time>Thu, 30 Apr 2026 23:16:08 GMT</Creation-Time><Last-Modified>Thu, 30 Apr 2026 23:16:08 GMT</Last-Modified><Etag>0x8DEA70E75E1A474</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-0f387027-1e53-7d49-6296-03514d38dba1/destFolder/folder0/folder1?sv=Sanitized&se=2026-05-01T23%3A16%3A07Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:a56d5d9b-501a-007f-02f7-d8a039000000\n",
        "Time:2026-04-30T23:16:08.7289956Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c7f42def-2f6f-7cd4-e27e-324b8cd29206?restype=container&comp=list&prefix=sourceFolder%2Ffolder0%2Ffolder1%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-0f387027-1e53-7d49-6296-03514d38dba1/destFolder/folder0/test-file-76b01f31-806a-22c4-9399-2cc54170cb7f?sv=Sanitized&se=2026-05-01T23%3A16%3A07Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-0f387027-1e53-7d49-6296-03514d38dba1/destFolder/folder0/test-file-76b01f31-806a-22c4-9399-2cc54170cb7f?sv=Sanitized&se=2026-05-01T23%3A16%3A07Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E7772C2EB\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:16:10 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:16:10.8579563Z",
        "x-ms-file-creation-time": "2026-04-30T23:16:10.8579563Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-04-30T23:16:10.8579563Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-0f387027-1e53-7d49-6296-03514d38dba1/destFolder/folder0/test-file-76b01f31-806a-22c4-9399-2cc54170cb7f?sv=Sanitized&se=2026-05-01T23%3A16%3A07Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-c7f42def-2f6f-7cd4-e27e-324b8cd29206/sourceFolder/folder0/test-file-76b01f31-806a-22c4-9399-2cc54170cb7f",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E7781FEE9\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:16:10 GMT",
        "x-ms-content-crc64": "EDCwvnDr4U4=",
        "x-ms-file-last-write-time": "2026-04-30T23:16:10.8579563Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-0f387027-1e53-7d49-6296-03514d38dba1/destFolder/folder0/test-file-76b01f31-806a-22c4-9399-2cc54170cb7f?sv=Sanitized&se=2026-05-01T23%3A16%3A07Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T23:16:08.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E778864EE\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:16:10 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:16:10.9997294Z",
        "x-ms-file-creation-time": "2026-04-30T23:16:08.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-04-30T23:16:10.8579563Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-0f387027-1e53-7d49-6296-03514d38dba1/destFolder/folder0/folder1/test-file-ecedb72b-cc65-dfaf-f5b6-c441a299ae69?sv=Sanitized&se=2026-05-01T23%3A16%3A07Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-0f387027-1e53-7d49-6296-03514d38dba1/destFolder/folder0/folder1/test-file-ecedb72b-cc65-dfaf-f5b6-c441a299ae69?sv=Sanitized&se=2026-05-01T23%3A16%3A07Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-c7f42def-2f6f-7cd4-e27e-324b8cd29206/sourceFolder/folder0/folder1/test-file-ecedb72b-cc65-dfaf-f5b6-c441a299ae69",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E77A298EB\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:16:11 GMT",
        "x-ms-content-crc64": "yLtcnlPeQts=",
        "x-ms-file-last-write-time": "2026-04-30T23:16:11.0746098Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-0f387027-1e53-7d49-6296-03514d38dba1/destFolder/folder0/folder1/test-file-ecedb72b-cc65-dfaf-f5b6-c441a299ae69?sv=Sanitized&se=2026-05-01T23%3A16%3A07Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T23:16:08.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E77A8FEEA\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:16:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:16:11.2133866Z",
        "x-ms-file-creation-time": "2026-04-30T23:16:08.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2026-04-30T23:16:11.0746098Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c7f42def-2f6f-7cd4-e27e-324b8cd29206?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-0f387027-1e53-7d49-6296-03514d38dba1/destFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:16:10 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandasa3.file.core.windows.net/\" ShareName=\"test-share-0f387027-1e53-7d49-6296-03514d38dba1\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>folder0</Name><FileId>11529285414812647424</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-0f387027-1e53-7d49-6296-03514d38dba1/destFolder/folder0?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:16:10 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandasa3.file.core.windows.net/\" ShareName=\"test-share-0f387027-1e53-7d49-6296-03514d38dba1\" DirectoryPath=\"destFolder/folder0\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>folder1</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-76b01f31-806a-22c4-9399-2cc54170cb7f</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-0f387027-1e53-7d49-6296-03514d38dba1/destFolder/folder0/folder1?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:16:10 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandasa3.file.core.windows.net/\" ShareName=\"test-share-0f387027-1e53-7d49-6296-03514d38dba1\" DirectoryPath=\"destFolder/folder0/folder1\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-ecedb72b-cc65-dfaf-f5b6-c441a299ae69</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c7f42def-2f6f-7cd4-e27e-324b8cd29206/sourceFolder/folder0/folder1/test-file-ecedb72b-cc65-dfaf-f5b6-c441a299ae69",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA70E75F1158F\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:16:08 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 30 Apr 2026 23:16:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-0f387027-1e53-7d49-6296-03514d38dba1/destFolder/folder0/folder1/test-file-ecedb72b-cc65-dfaf-f5b6-c441a299ae69",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:16:10 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA70E77A8FEEA\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:16:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:16:11.2133866Z",
        "x-ms-file-creation-time": "2026-04-30T23:16:08.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2026-04-30T23:16:11.0746098Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c7f42def-2f6f-7cd4-e27e-324b8cd29206/sourceFolder/folder0/folder1/test-file-ecedb72b-cc65-dfaf-f5b6-c441a299ae69",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DEA70E75F1158F\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA70E75F1158F\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:16:08 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 30 Apr 2026 23:16:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
   [...]
[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-0f387027-1e53-7d49-6296-03514d38dba1/destFolder/folder0/test-file-76b01f31-806a-22c4-9399-2cc54170cb7f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:16:10 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA70E778864EE\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:16:10 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:16:10.9997294Z",
        "x-ms-file-creation-time": "2026-04-30T23:16:08.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-04-30T23:16:10.8579563Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-0f387027-1e53-7d49-6296-03514d38dba1?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:16:11 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c7f42def-2f6f-7cd4-e27e-324b8cd29206?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-04-30T16:16:07.5704705-07:00",
    "RandomSeed": "1149282598",
    "Storage_TestConfigDefault": "ProductionTenant\namandasa3\nU2FuaXRpemVk\nhttps://amandasa3.blob.core.windows.net\nhttps://amandasa3.file.core.windows.net\nhttps://amandasa3.queue.core.windows.net\nhttps://amandasa3.table.core.windows.net\n\n\n\n\nhttps://amandasa3-secondary.blob.core.windows.net\nhttps://amandasa3-secondary.file.core.windows.net\nhttps://amandasa3-secondary.queue.core.windows.net\nhttps://amandasa3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandasa3.blob.core.windows.net/;QueueEndpoint=https://amandasa3.queue.core.windows.net/;FileEndpoint=https://amandasa3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandasa3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandasa3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandasa3-secondary.file.core.windows.net/;AccountName=amandasa3;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n",
[...]
