{
  "Entries": [
    {
      "RequestUri": "https://seanchangefeed.blob.core.windows.net/$blobchangefeed/meta/segments.json",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 25 Apr 2025 17:57:28 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "QuB0ASmt9Z12hGvv7ai+GA==",
        "Content-Type": "application/json",
        "ETag": "\"0x8D8066F84E9334A\"",
        "Last-Modified": "Mon, 01 Jun 2020 21:05:31 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 16 Jan 2020 21:36:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "version": 0,
        "lastConsumable": "2020-06-01T21:00:00.000Z",
        "storageDiagnostics": {
          "version": 0,
          "lastModifiedTime": "2020-06-01T21:05:31.387Z",
          "data": {
            "aid": "f7d1e86f-5006-0065-0058-38d11b063f9a",
            "lfz": "2020-06-01T20:00:00.000Z"
          }
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1557664744",
    "Storage_TestConfigDefault": "ProductionTenant\nseanchangefeed\nU2FuaXRpemVk\nhttps://seanchangefeed.blob.core.windows.net\nhttps://seanchangefeed.file.preprod.core.windows.net\nhttps://seanchangefeed.queue.core.windows.net\nhttps://seanchangefeed.table.core.windows.net\n\n\n\n\nhttps://seanchangefeed-secondary.blob.core.windows.net\nhttps://seanchangefeed-secondary.file.core.windows.net\nhttps://seanchangefeed-secondary.queue.core.windows.net\nhttps://seanchangefeed-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanchangefeed.blob.core.windows.net/;QueueEndpoint=https://seanchangefeed.queue.core.windows.net/;FileEndpoint=https://seanchangefeed.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://seanchangefeed-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanchangefeed-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanchangefeed-secondary.file.core.windows.net/;AccountName=seanchangefeed;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
