{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/C3F3138CF94E55980A4F115EA3240FB3D72F3724583B77A2F3?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:42:40 GMT"
      },
      "RequestBody": {
        "name": "test",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022a4008b99-0000-0700-0000-6552600f0000\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:42:39 GMT",
        "trace-id": "d805a089-d5ec-969f-def9-0c853ca9cedf"
      },
      "ResponseBody": {
        "id": "C3F3138CF94E55980A4F115EA3240FB3D72F3724583B77A2F3",
        "name": "test",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u0022a4008b99-0000-0700-0000-6552600f0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/2D727587BC8DE0F8467D8C065297EF8164B61A833277519163?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:42:41 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "C3F3138CF94E55980A4F115EA3240FB3D72F3724583B77A2F3",
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002259025861-0000-0700-0000-6552600f0000\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:42:39 GMT",
        "trace-id": "82a15ffb-9ded-1593-d57c-a3b6e2aa988a"
      },
      "ResponseBody": {
        "id": "2D727587BC8DE0F8467D8C065297EF8164B61A833277519163",
        "name": "test",
        "distributionPolicyId": "C3F3138CF94E55980A4F115EA3240FB3D72F3724583B77A2F3",
        "labels": {
          "Id": "2D727587BC8DE0F8467D8C065297EF8164B61A833277519163"
        },
        "etag": "\u002259025861-0000-0700-0000-6552600f0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/51A08CAD7E3997CF3853862072A28D67A69272A496F4B5B890?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:42:41 GMT"
      },
      "RequestBody": {
        "queues": [
          "2D727587BC8DE0F8467D8C065297EF8164B61A833277519163"
        ],
        "capacity": 1,
        "channels": [
          {
            "channelId": "49F422A34D6E7370A36D2D960E8EDF1920C4C717FE3B5F7562",
            "capacityCostPerJob": 1
          }
        ],
        "availableForOffers": true,
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-c80d-b2ee6fe4db08\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:42:40 GMT",
        "trace-id": "7e3f4440-6f52-88d4-1c52-b1d3e11101d5"
      },
      "ResponseBody": {
        "id": "51A08CAD7E3997CF3853862072A28D67A69272A496F4B5B890",
        "state": "active",
        "queues": [
          "2D727587BC8DE0F8467D8C065297EF8164B61A833277519163"
        ],
        "capacity": 1,
        "labels": {
          "Id": "51A08CAD7E3997CF3853862072A28D67A69272A496F4B5B890"
        },
        "tags": {},
        "channels": [
          {
            "channelId": "49F422A34D6E7370A36D2D960E8EDF1920C4C717FE3B5F7562",
            "capacityCostPerJob": 1
          }
        ],
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": true,
        "etag": "\u002200000001-0000-0000-c80d-b2ee6fe4db08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/279E5630ADC22D5DDA23707D6458CD00D95370AB9800B48F79?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:42:41 GMT"
      },
      "RequestBody": {
        "channelId": "49F422A34D6E7370A36D2D960E8EDF1920C4C717FE3B5F7562",
        "queueId": "2D727587BC8DE0F8467D8C065297EF8164B61A833277519163",
        "priority": 1,
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-81e6-dfee6fe4db08\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:42:40 GMT",
        "trace-id": "f787edf7-c6ce-6937-ed4f-8d95e8bf4d34"
      },
      "ResponseBody": {
        "id": "279E5630ADC22D5DDA23707D6458CD00D95370AB9800B48F79",
        "status": "created",
        "channelId": "49F422A34D6E7370A36D2D960E8EDF1920C4C717FE3B5F7562",
        "queueId": "2D727587BC8DE0F8467D8C065297EF8164B61A833277519163",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "\u002200000000-0000-0000-81e6-dfee6fe4db08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/51A08CAD7E3997CF3853862072A28D67A69272A496F4B5B890?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:42:42 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000003-0000-0000-0fa2-44ef6fe4db08\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:42:40 GMT",
        "trace-id": "5a23bb4b-c9a4-9546-1d41-860ba2187586"
      },
      "ResponseBody": {
        "id": "51A08CAD7E3997CF3853862072A28D67A69272A496F4B5B890",
        "state": "active",
        "queues": [
          "2D727587BC8DE0F8467D8C065297EF8164B61A833277519163"
        ],
        "capacity": 1,
        "labels": {
          "Id": "51A08CAD7E3997CF3853862072A28D67A69272A496F4B5B890"
        },
        "tags": {},
        "channels": [
          {
            "channelId": "49F422A34D6E7370A36D2D960E8EDF1920C4C717FE3B5F7562",
            "capacityCostPerJob": 1
          }
        ],
        "offers": [
          {
            "offerId": "dd952449-9c17-482c-86fd-8ef2bc2190d4",
            "jobId": "279E5630ADC22D5DDA23707D6458CD00D95370AB9800B48F79",
            "capacityCost": 1,
            "offeredAt": "2023-11-13T17:42:40.9812472\u002B00:00",
            "expiresAt": "2023-11-13T17:52:40.9812472\u002B00:00"
          }
        ],
        "assignedJobs": [],
        "loadRatio": 1,
        "availableForOffers": true,
        "etag": "\u002200000003-0000-0000-0fa2-44ef6fe4db08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/51A08CAD7E3997CF3853862072A28D67A69272A496F4B5B890/offers/dd952449-9c17-482c-86fd-8ef2bc2190d4:accept?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:42:43 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "db7be217-a093-7d29-7df9-8fdbfb5d382a"
      },
      "ResponseBody": {
        "assignmentId": "b2fe1045-bbfa-4492-918e-d58d820ee63d",
        "jobId": "279E5630ADC22D5DDA23707D6458CD00D95370AB9800B48F79",
        "workerId": "51A08CAD7E3997CF3853862072A28D67A69272A496F4B5B890"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/51A08CAD7E3997CF3853862072A28D67A69272A496F4B5B890/offers/dd952449-9c17-482c-86fd-8ef2bc2190d4:decline?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:42:44 GMT"
      },
      "RequestBody": {
        "retryOfferAt": "0001-01-01T00:00:00.0000000Z"
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "3ee028f7-f483-118e-579a-7279715f01a9"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "NotFound",
          "message": "DeclineOfferCommandHandler: Offer not found. OfferId: dd952449-9c17-482c-86fd-8ef2bc2190d4, WorkerId: 51A08CAD7E3997CF3853862072A28D67A69272A496F4B5B890",
          "target": "/routing/workers/51A08CAD7E3997CF3853862072A28D67A69272A496F4B5B890/offers/dd952449-9c17-482c-86fd-8ef2bc2190d4:decline"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/279E5630ADC22D5DDA23707D6458CD00D95370AB9800B48F79/assignments/b2fe1045-bbfa-4492-918e-d58d820ee63d:complete?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:42:44 GMT"
      },
      "RequestBody": {
        "note": "Job completed by 51A08CAD7E3997CF3853862072A28D67A69272A496F4B5B890"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "cdcf82b0-892e-89a5-030e-cfadb4d171a8"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/279E5630ADC22D5DDA23707D6458CD00D95370AB9800B48F79/assignments/b2fe1045-bbfa-4492-918e-d58d820ee63d:close?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:42:44 GMT"
      },
      "RequestBody": {
        "closeAt": "0001-01-01T00:00:00.0000000Z",
        "note": "Job closed by 51A08CAD7E3997CF3853862072A28D67A69272A496F4B5B890"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "2162183f-1ec9-1754-8c59-d5d8d6e4041c"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/279E5630ADC22D5DDA23707D6458CD00D95370AB9800B48F79?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:42:45 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000004-0000-0000-6326-94f06fe4db08\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:42:43 GMT",
        "trace-id": "460bcc9c-9b25-f974-5c9b-f31e47ce46f9"
      },
      "ResponseBody": {
        "id": "279E5630ADC22D5DDA23707D6458CD00D95370AB9800B48F79",
        "status": "closed",
        "enqueuedAt": "2023-11-13T17:42:40.6425772\u002B00:00",
        "channelId": "49F422A34D6E7370A36D2D960E8EDF1920C4C717FE3B5F7562",
        "queueId": "2D727587BC8DE0F8467D8C065297EF8164B61A833277519163",
        "priority": 1,
        "dispositionCode": "Closed",
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {
          "b2fe1045-bbfa-4492-918e-d58d820ee63d": {
            "assignmentId": "b2fe1045-bbfa-4492-918e-d58d820ee63d",
            "workerId": "51A08CAD7E3997CF3853862072A28D67A69272A496F4B5B890",
            "assignedAt": "2023-11-13T17:42:41.7679842\u002B00:00",
            "completedAt": "2023-11-13T17:42:43.0211775\u002B00:00",
            "closedAt": "2023-11-13T17:42:43.1800931\u002B00:00"
          }
        },
        "tags": {},
        "notes": [
          {
            "message": "Job completed by 51A08CAD7E3997CF3853862072A28D67A69272A496F4B5B890",
            "addedAt": "2023-11-13T17:42:43.0211775\u002B00:00"
          },
          {
            "message": "Job closed by 51A08CAD7E3997CF3853862072A28D67A69272A496F4B5B890",
            "addedAt": "2023-11-13T17:42:43.1800931\u002B00:00"
          }
        ],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "\u002200000004-0000-0000-6326-94f06fe4db08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/2D727587BC8DE0F8467D8C065297EF8164B61A833277519163?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:42:56 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "fcb81107-7385-8768-a379-3c816c191004"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-8CP3Llw3hk2Zo9fN8RFF7w-",
    "RandomSeed": "573829584"
  }
}
