{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/992665B0362A5AF5F7738E94DE1E12D26FC0C8AF131BDBE2B6?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Nov 2023 00:13:49 GMT"
      },
      "RequestBody": {
        "name": "test",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227b006eff-0000-0700-0000-654ad2ba0000\u0022",
        "Last-Modified": "Wed, 08 Nov 2023 00:13:46 GMT",
        "trace-id": "c59bdd4c-0d75-e69e-6525-80a1abfb1e40"
      },
      "ResponseBody": {
        "id": "992665B0362A5AF5F7738E94DE1E12D26FC0C8AF131BDBE2B6",
        "name": "test",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00227b006eff-0000-0700-0000-654ad2ba0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/19E3E9A2C4C7CFD93199A51978E471D39BC8A55490065F588E?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Nov 2023 00:13:50 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "992665B0362A5AF5F7738E94DE1E12D26FC0C8AF131BDBE2B6",
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c40186b2-0000-0700-0000-654ad2bb0000\u0022",
        "Last-Modified": "Wed, 08 Nov 2023 00:13:47 GMT",
        "trace-id": "93b85482-43a0-5f4f-f764-f6738c9b07fb"
      },
      "ResponseBody": {
        "id": "19E3E9A2C4C7CFD93199A51978E471D39BC8A55490065F588E",
        "name": "test",
        "distributionPolicyId": "992665B0362A5AF5F7738E94DE1E12D26FC0C8AF131BDBE2B6",
        "labels": {
          "Id": "19E3E9A2C4C7CFD93199A51978E471D39BC8A55490065F588E"
        },
        "etag": "\u0022c40186b2-0000-0700-0000-654ad2bb0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/C13F3E7EB97A038FF81CEAB0D0F54578B8DCE5BEFF58EC1A66?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Nov 2023 00:13:50 GMT"
      },
      "RequestBody": {
        "queues": [
          "19E3E9A2C4C7CFD93199A51978E471D39BC8A55490065F588E"
        ],
        "capacity": 1,
        "channels": [
          {
            "channelId": "B40DBCA6131CEDC6504F2DC508909844AB10A929C448EFC2AD",
            "capacityCostPerJob": 1
          }
        ],
        "availableForOffers": true,
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-095c-be93efdfdb08\u0022",
        "Last-Modified": "Wed, 08 Nov 2023 00:13:47 GMT",
        "trace-id": "384bc0bf-dae7-ca43-7425-dface661171a"
      },
      "ResponseBody": {
        "id": "C13F3E7EB97A038FF81CEAB0D0F54578B8DCE5BEFF58EC1A66",
        "state": "active",
        "queues": [
          "19E3E9A2C4C7CFD93199A51978E471D39BC8A55490065F588E"
        ],
        "capacity": 1,
        "labels": {
          "Id": "C13F3E7EB97A038FF81CEAB0D0F54578B8DCE5BEFF58EC1A66"
        },
        "tags": {},
        "channels": [
          {
            "channelId": "B40DBCA6131CEDC6504F2DC508909844AB10A929C448EFC2AD",
            "capacityCostPerJob": 1
          }
        ],
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": true,
        "etag": "\u002200000001-0000-0000-095c-be93efdfdb08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/42748C1D3BB8B6CA68B71CAB415CCF2668A866CF77F2F38AD0?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Nov 2023 00:13:51 GMT"
      },
      "RequestBody": {
        "channelId": "B40DBCA6131CEDC6504F2DC508909844AB10A929C448EFC2AD",
        "queueId": "19E3E9A2C4C7CFD93199A51978E471D39BC8A55490065F588E",
        "priority": 1,
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-67ec-de93efdfdb08\u0022",
        "Last-Modified": "Wed, 08 Nov 2023 00:13:47 GMT",
        "trace-id": "a1017c98-e24c-261b-0971-85694b2acbd8"
      },
      "ResponseBody": {
        "id": "42748C1D3BB8B6CA68B71CAB415CCF2668A866CF77F2F38AD0",
        "status": "created",
        "channelId": "B40DBCA6131CEDC6504F2DC508909844AB10A929C448EFC2AD",
        "queueId": "19E3E9A2C4C7CFD93199A51978E471D39BC8A55490065F588E",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000000-0000-0000-67ec-de93efdfdb08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/C13F3E7EB97A038FF81CEAB0D0F54578B8DCE5BEFF58EC1A66?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Nov 2023 00:13:52 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000003-0000-0000-859a-0794efdfdb08\u0022",
        "Last-Modified": "Wed, 08 Nov 2023 00:13:47 GMT",
        "trace-id": "ad56399b-0bc5-9ca6-52d6-1ecf2c64cdf3"
      },
      "ResponseBody": {
        "id": "C13F3E7EB97A038FF81CEAB0D0F54578B8DCE5BEFF58EC1A66",
        "state": "active",
        "queues": [
          "19E3E9A2C4C7CFD93199A51978E471D39BC8A55490065F588E"
        ],
        "capacity": 1,
        "labels": {
          "Id": "C13F3E7EB97A038FF81CEAB0D0F54578B8DCE5BEFF58EC1A66"
        },
        "tags": {},
        "channels": [
          {
            "channelId": "B40DBCA6131CEDC6504F2DC508909844AB10A929C448EFC2AD",
            "capacityCostPerJob": 1
          }
        ],
        "offers": [
          {
            "offerId": "9e17ca27-163e-4b99-9a65-da53292cbbaf",
            "jobId": "42748C1D3BB8B6CA68B71CAB415CCF2668A866CF77F2F38AD0",
            "capacityCost": 1,
            "offeredAt": "2023-11-08T00:13:47.6761202\u002B00:00",
            "expiresAt": "2023-11-08T00:23:47.6761203\u002B00:00"
          }
        ],
        "assignedJobs": [],
        "loadRatio": 1,
        "availableForOffers": true,
        "etag": "\u002200000003-0000-0000-859a-0794efdfdb08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/C13F3E7EB97A038FF81CEAB0D0F54578B8DCE5BEFF58EC1A66/offers/9e17ca27-163e-4b99-9a65-da53292cbbaf:accept?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Nov 2023 00:13:52 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "1f27561c-1175-dee9-f2c5-0c473180fada"
      },
      "ResponseBody": {
        "assignmentId": "739b64ef-2995-4fa7-91ea-3e19f561b464",
        "jobId": "42748C1D3BB8B6CA68B71CAB415CCF2668A866CF77F2F38AD0",
        "workerId": "C13F3E7EB97A038FF81CEAB0D0F54578B8DCE5BEFF58EC1A66"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/C13F3E7EB97A038FF81CEAB0D0F54578B8DCE5BEFF58EC1A66/offers/9e17ca27-163e-4b99-9a65-da53292cbbaf:decline?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Nov 2023 00:13:53 GMT"
      },
      "RequestBody": {
        "retryOfferAt": "0001-01-01T00:00:00.0000000Z"
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "503698f3-1ad2-45cd-4297-2e6749c1afe2"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "NotFound",
          "message": "DeclineOfferCommandHandler: Offer not found. OfferId: 9e17ca27-163e-4b99-9a65-da53292cbbaf, WorkerId: C13F3E7EB97A038FF81CEAB0D0F54578B8DCE5BEFF58EC1A66",
          "target": "/routing/workers/C13F3E7EB97A038FF81CEAB0D0F54578B8DCE5BEFF58EC1A66/offers/9e17ca27-163e-4b99-9a65-da53292cbbaf:decline"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/42748C1D3BB8B6CA68B71CAB415CCF2668A866CF77F2F38AD0/assignments/739b64ef-2995-4fa7-91ea-3e19f561b464:complete?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Nov 2023 00:13:53 GMT"
      },
      "RequestBody": {
        "note": "Job completed by C13F3E7EB97A038FF81CEAB0D0F54578B8DCE5BEFF58EC1A66"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "e02b8cb6-1525-1686-8a3f-066b4ad72723"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/42748C1D3BB8B6CA68B71CAB415CCF2668A866CF77F2F38AD0/assignments/739b64ef-2995-4fa7-91ea-3e19f561b464:close?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Nov 2023 00:13:54 GMT"
      },
      "RequestBody": {
        "closeAt": "0001-01-01T00:00:00.0000000Z",
        "note": "Job closed by C13F3E7EB97A038FF81CEAB0D0F54578B8DCE5BEFF58EC1A66"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "dded6d65-2508-b593-bc85-6870ba8d6273"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/42748C1D3BB8B6CA68B71CAB415CCF2668A866CF77F2F38AD0?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Nov 2023 00:13:55 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000004-0000-0000-b8ca-b795efdfdb08\u0022",
        "Last-Modified": "Wed, 08 Nov 2023 00:13:50 GMT",
        "trace-id": "e8db073f-8e79-bbdd-3e33-ad4aed007621"
      },
      "ResponseBody": {
        "id": "42748C1D3BB8B6CA68B71CAB415CCF2668A866CF77F2F38AD0",
        "status": "closed",
        "enqueuedAt": "2023-11-08T00:13:47.5291149\u002B00:00",
        "channelId": "B40DBCA6131CEDC6504F2DC508909844AB10A929C448EFC2AD",
        "queueId": "19E3E9A2C4C7CFD93199A51978E471D39BC8A55490065F588E",
        "priority": 1,
        "dispositionCode": "Closed",
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {
          "739b64ef-2995-4fa7-91ea-3e19f561b464": {
            "assignmentId": "739b64ef-2995-4fa7-91ea-3e19f561b464",
            "workerId": "C13F3E7EB97A038FF81CEAB0D0F54578B8DCE5BEFF58EC1A66",
            "assignedAt": "2023-11-08T00:13:48.8005597\u002B00:00",
            "completedAt": "2023-11-08T00:13:50.0444678\u002B00:00",
            "closedAt": "2023-11-08T00:13:50.5085112\u002B00:00"
          }
        },
        "tags": {},
        "notes": [
          {
            "message": "Job completed by C13F3E7EB97A038FF81CEAB0D0F54578B8DCE5BEFF58EC1A66",
            "addedAt": "2023-11-08T00:13:50.0444678\u002B00:00"
          },
          {
            "message": "Job closed by C13F3E7EB97A038FF81CEAB0D0F54578B8DCE5BEFF58EC1A66",
            "addedAt": "2023-11-08T00:13:50.5085112\u002B00:00"
          }
        ],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000004-0000-0000-b8ca-b795efdfdb08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/19E3E9A2C4C7CFD93199A51978E471D39BC8A55490065F588E?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Nov 2023 00:14:06 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "940975a8-41f4-8f71-9679-fd0aea7ba569"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-_-BcqHW0xkC4EivA5PANGQ-",
    "RandomSeed": "226830035"
  }
}
