{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/06B8F4F3CE2CBA9D8F336AA1CACAC477A28A43317B3E913C02?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 16:32:54 GMT"
      },
      "RequestBody": {
        "name": "test",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002241003db8-0000-0700-0000-653fdab60000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 16:32:54 GMT",
        "trace-id": "de3c57f2-b274-a12a-605f-7eb76b3bdb3e"
      },
      "ResponseBody": {
        "id": "06B8F4F3CE2CBA9D8F336AA1CACAC477A28A43317B3E913C02",
        "name": "test",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u002241003db8-0000-0700-0000-653fdab60000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/5B60E2AEE998CE6A215A9D6B33E8815254F9A12D0509BB0CE7?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 16:32:55 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "06B8F4F3CE2CBA9D8F336AA1CACAC477A28A43317B3E913C02"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ee008d8e-0000-0700-0000-653fdab60000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 16:32:54 GMT",
        "trace-id": "29429d38-494b-4660-788a-79d7c52b9dc0"
      },
      "ResponseBody": {
        "id": "5B60E2AEE998CE6A215A9D6B33E8815254F9A12D0509BB0CE7",
        "name": "test",
        "distributionPolicyId": "06B8F4F3CE2CBA9D8F336AA1CACAC477A28A43317B3E913C02",
        "labels": {
          "Id": "5B60E2AEE998CE6A215A9D6B33E8815254F9A12D0509BB0CE7"
        },
        "etag": "\u0022ee008d8e-0000-0700-0000-653fdab60000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/E8AE37D38643561057A703E6DF3487B668BFD20C81BA38AC9A?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 16:32:55 GMT"
      },
      "RequestBody": {
        "queues": [
          "5B60E2AEE998CE6A215A9D6B33E8815254F9A12D0509BB0CE7"
        ],
        "capacity": 1,
        "channels": [
          {
            "channelId": "6636468C57533513EFE45146B62F49C10499C66B78DB5DA6E9",
            "capacityCostPerJob": 1
          }
        ],
        "availableForOffers": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-64fa-3cde65d9db08\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 16:32:54 GMT",
        "trace-id": "de82fa41-af63-6f89-0724-8dda09e6f111"
      },
      "ResponseBody": {
        "id": "E8AE37D38643561057A703E6DF3487B668BFD20C81BA38AC9A",
        "state": "active",
        "queues": [
          "5B60E2AEE998CE6A215A9D6B33E8815254F9A12D0509BB0CE7"
        ],
        "capacity": 1,
        "labels": {
          "Id": "E8AE37D38643561057A703E6DF3487B668BFD20C81BA38AC9A"
        },
        "tags": {},
        "channels": [
          {
            "channelId": "6636468C57533513EFE45146B62F49C10499C66B78DB5DA6E9",
            "capacityCostPerJob": 1
          }
        ],
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": true,
        "etag": "\u002200000001-0000-0000-64fa-3cde65d9db08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/667B946947F228B68D976DA32BDF57151F063C774520B32BD5?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 16:32:55 GMT"
      },
      "RequestBody": {
        "channelId": "6636468C57533513EFE45146B62F49C10499C66B78DB5DA6E9",
        "queueId": "5B60E2AEE998CE6A215A9D6B33E8815254F9A12D0509BB0CE7",
        "priority": 1
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-f77a-5dde65d9db08\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 16:32:54 GMT",
        "trace-id": "7a5c9cef-1420-03c2-7f09-d36188cd03c8"
      },
      "ResponseBody": {
        "id": "667B946947F228B68D976DA32BDF57151F063C774520B32BD5",
        "status": "created",
        "channelId": "6636468C57533513EFE45146B62F49C10499C66B78DB5DA6E9",
        "queueId": "5B60E2AEE998CE6A215A9D6B33E8815254F9A12D0509BB0CE7",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000000-0000-0000-f77a-5dde65d9db08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/E8AE37D38643561057A703E6DF3487B668BFD20C81BA38AC9A?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 16:32:56 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000003-0000-0000-a399-91de65d9db08\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 16:32:55 GMT",
        "trace-id": "da0b3851-ba34-00d5-9dbc-f020f2ed30d8"
      },
      "ResponseBody": {
        "id": "E8AE37D38643561057A703E6DF3487B668BFD20C81BA38AC9A",
        "state": "active",
        "queues": [
          "5B60E2AEE998CE6A215A9D6B33E8815254F9A12D0509BB0CE7"
        ],
        "capacity": 1,
        "labels": {
          "Id": "E8AE37D38643561057A703E6DF3487B668BFD20C81BA38AC9A"
        },
        "tags": {},
        "channels": [
          {
            "channelId": "6636468C57533513EFE45146B62F49C10499C66B78DB5DA6E9",
            "capacityCostPerJob": 1
          }
        ],
        "offers": [
          {
            "offerId": "035eb91c-f2d0-4f49-a558-b76be51e126a",
            "jobId": "667B946947F228B68D976DA32BDF57151F063C774520B32BD5",
            "capacityCost": 1,
            "offeredAt": "2023-10-30T16:32:55.2065436\u002B00:00",
            "expiresAt": "2023-10-30T16:42:55.2065436\u002B00:00"
          }
        ],
        "assignedJobs": [],
        "loadRatio": 1,
        "availableForOffers": true,
        "etag": "\u002200000003-0000-0000-a399-91de65d9db08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/E8AE37D38643561057A703E6DF3487B668BFD20C81BA38AC9A/offers/035eb91c-f2d0-4f49-a558-b76be51e126a:accept?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 16:32:56 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "ca79c95d-27a5-d420-4701-87f49c952c31"
      },
      "ResponseBody": {
        "assignmentId": "5f20c791-a769-4dc5-8829-fa60c2b100ab",
        "jobId": "667B946947F228B68D976DA32BDF57151F063C774520B32BD5",
        "workerId": "E8AE37D38643561057A703E6DF3487B668BFD20C81BA38AC9A"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/E8AE37D38643561057A703E6DF3487B668BFD20C81BA38AC9A/offers/035eb91c-f2d0-4f49-a558-b76be51e126a:decline?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 16:32:57 GMT"
      },
      "RequestBody": {
        "retryOfferAt": "0001-01-01T00:00:00.0000000Z"
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "63303983-92fe-1f1b-6560-81aa0d1e1439"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "NotFound",
          "message": "DeclineOfferCommandHandler: Offer not found. OfferId: 035eb91c-f2d0-4f49-a558-b76be51e126a, WorkerId: E8AE37D38643561057A703E6DF3487B668BFD20C81BA38AC9A",
          "target": "/routing/workers/E8AE37D38643561057A703E6DF3487B668BFD20C81BA38AC9A/offers/035eb91c-f2d0-4f49-a558-b76be51e126a:decline"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/667B946947F228B68D976DA32BDF57151F063C774520B32BD5:complete?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 16:32:58 GMT"
      },
      "RequestBody": {
        "assignmentId": "5f20c791-a769-4dc5-8829-fa60c2b100ab",
        "note": "Job completed by E8AE37D38643561057A703E6DF3487B668BFD20C81BA38AC9A"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "9d07e895-d757-07fa-bfb7-d737aab22451"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/667B946947F228B68D976DA32BDF57151F063C774520B32BD5:close?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 16:32:58 GMT"
      },
      "RequestBody": {
        "assignmentId": "5f20c791-a769-4dc5-8829-fa60c2b100ab",
        "closeAt": "0001-01-01T00:00:00.0000000Z",
        "note": "Job closed by E8AE37D38643561057A703E6DF3487B668BFD20C81BA38AC9A"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "3d92afc0-c3a7-8d0a-c0c4-54d5fd798c3c"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/667B946947F228B68D976DA32BDF57151F063C774520B32BD5?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 16:32:59 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000004-0000-0000-9b52-19e065d9db08\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 16:32:57 GMT",
        "trace-id": "30f597fc-f579-ef15-982b-38ee577babec"
      },
      "ResponseBody": {
        "id": "667B946947F228B68D976DA32BDF57151F063C774520B32BD5",
        "status": "closed",
        "enqueuedAt": "2023-10-30T16:32:54.9897091\u002B00:00",
        "channelId": "6636468C57533513EFE45146B62F49C10499C66B78DB5DA6E9",
        "queueId": "5B60E2AEE998CE6A215A9D6B33E8815254F9A12D0509BB0CE7",
        "priority": 1,
        "dispositionCode": "Closed",
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {
          "5f20c791-a769-4dc5-8829-fa60c2b100ab": {
            "assignmentId": "5f20c791-a769-4dc5-8829-fa60c2b100ab",
            "workerId": "E8AE37D38643561057A703E6DF3487B668BFD20C81BA38AC9A",
            "assignedAt": "2023-10-30T16:32:56.2570664\u002B00:00",
            "completedAt": "2023-10-30T16:32:57.5615077\u002B00:00",
            "closedAt": "2023-10-30T16:32:57.7737371\u002B00:00"
          }
        },
        "tags": {},
        "notes": [
          {
            "message": "Job completed by E8AE37D38643561057A703E6DF3487B668BFD20C81BA38AC9A",
            "addedAt": "2023-10-30T16:32:57.5615077\u002B00:00"
          },
          {
            "message": "Job closed by E8AE37D38643561057A703E6DF3487B668BFD20C81BA38AC9A",
            "addedAt": "2023-10-30T16:32:57.7737371\u002B00:00"
          }
        ],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000004-0000-0000-9b52-19e065d9db08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://williamzhao-test.unitedstates.ppe.communication.azure.net/routing/workers/E8AE37D38643561057A703E6DF3487B668BFD20C81BA38AC9A?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "HMAC-SHA256 SignedHeaders=x-ms-date;host;x-ms-content-sha256\u0026Signature=AnsHj\u002Bv0QGnvQamnKLQ5gGQKI4QmRf/9gPLfNbdXAuY=",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "V4OEPXAKFH[...]
