{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/FAF2A0D5D8994B75B09288FD2E7E7790C4C9279A07FC762DF3?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:04:45 GMT"
      },
      "RequestBody": {
        "name": "test",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "longestIdle"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002202007f81-0000-0700-0000-65c525cd0000\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 19:04:45 GMT",
        "trace-id": "c40f821c-449b-650d-5a8a-b91329202ab3"
      },
      "ResponseBody": {
        "id": "FAF2A0D5D8994B75B09288FD2E7E7790C4C9279A07FC762DF3",
        "name": "test",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u002202007f81-0000-0700-0000-65c525cd0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/12BF8BC0B6592E1DE6A0215C1278F3A0A9C0FC697ADCCFDD70?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:04:46 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "FAF2A0D5D8994B75B09288FD2E7E7790C4C9279A07FC762DF3"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ae002ba8-0000-0700-0000-65c525cd0000\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 19:04:45 GMT",
        "trace-id": "fd6bcc4d-5595-e3e2-21f5-683b72fb3fb4"
      },
      "ResponseBody": {
        "id": "12BF8BC0B6592E1DE6A0215C1278F3A0A9C0FC697ADCCFDD70",
        "name": "test",
        "distributionPolicyId": "FAF2A0D5D8994B75B09288FD2E7E7790C4C9279A07FC762DF3",
        "labels": {
          "Id": "12BF8BC0B6592E1DE6A0215C1278F3A0A9C0FC697ADCCFDD70"
        },
        "etag": "\u0022ae002ba8-0000-0700-0000-65c525cd0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/279489A78F7185D1BA1CCAA9422C1208830307660485D9CC89?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:04:46 GMT"
      },
      "RequestBody": {
        "queues": [
          "12BF8BC0B6592E1DE6A0215C1278F3A0A9C0FC697ADCCFDD70"
        ],
        "capacity": 1,
        "channels": [
          {
            "channelId": "A394F5B9708397B78A7C35169F56399E2134D385932DDB881E",
            "capacityCostPerJob": 1
          }
        ],
        "availableForOffers": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-d32a-64d0d828dc08\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 19:04:45 GMT",
        "trace-id": "04848f8b-1f6b-cc68-64e7-cbbba1699e2e"
      },
      "ResponseBody": {
        "id": "279489A78F7185D1BA1CCAA9422C1208830307660485D9CC89",
        "state": "active",
        "queues": [
          "12BF8BC0B6592E1DE6A0215C1278F3A0A9C0FC697ADCCFDD70"
        ],
        "capacity": 1,
        "labels": {
          "Id": "279489A78F7185D1BA1CCAA9422C1208830307660485D9CC89"
        },
        "tags": {},
        "channels": [
          {
            "channelId": "A394F5B9708397B78A7C35169F56399E2134D385932DDB881E",
            "capacityCostPerJob": 1
          }
        ],
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": true,
        "etag": "\u002200000001-0000-0000-d32a-64d0d828dc08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/E5763267F3A9B2DBB2B9906A4B0048E72D68BBCE924EE6D1FC?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:04:46 GMT"
      },
      "RequestBody": {
        "channelId": "A394F5B9708397B78A7C35169F56399E2134D385932DDB881E",
        "queueId": "12BF8BC0B6592E1DE6A0215C1278F3A0A9C0FC697ADCCFDD70",
        "priority": 1
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-d93f-8bd0d828dc08\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 19:04:45 GMT",
        "trace-id": "1f8b3f98-4974-7f92-3670-71ecf1bd3d59"
      },
      "ResponseBody": {
        "id": "E5763267F3A9B2DBB2B9906A4B0048E72D68BBCE924EE6D1FC",
        "status": "created",
        "channelId": "A394F5B9708397B78A7C35169F56399E2134D385932DDB881E",
        "queueId": "12BF8BC0B6592E1DE6A0215C1278F3A0A9C0FC697ADCCFDD70",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "\u002200000000-0000-0000-d93f-8bd0d828dc08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/279489A78F7185D1BA1CCAA9422C1208830307660485D9CC89?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:04:47 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000003-0000-0000-77ea-b7d0d828dc08\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 19:04:45 GMT",
        "trace-id": "55a9b453-e267-a757-3c1a-496156303f47"
      },
      "ResponseBody": {
        "id": "279489A78F7185D1BA1CCAA9422C1208830307660485D9CC89",
        "state": "active",
        "queues": [
          "12BF8BC0B6592E1DE6A0215C1278F3A0A9C0FC697ADCCFDD70"
        ],
        "capacity": 1,
        "labels": {
          "Id": "279489A78F7185D1BA1CCAA9422C1208830307660485D9CC89"
        },
        "tags": {},
        "channels": [
          {
            "channelId": "A394F5B9708397B78A7C35169F56399E2134D385932DDB881E",
            "capacityCostPerJob": 1
          }
        ],
        "offers": [
          {
            "offerId": "f79bcf46-c27d-48ae-bc5a-6a1dea6e5d7b",
            "jobId": "E5763267F3A9B2DBB2B9906A4B0048E72D68BBCE924EE6D1FC",
            "capacityCost": 1,
            "offeredAt": "2024-02-08T19:04:45.9528818\u002B00:00",
            "expiresAt": "2024-02-08T19:14:45.9528818\u002B00:00"
          }
        ],
        "assignedJobs": [],
        "loadRatio": 1,
        "availableForOffers": true,
        "etag": "\u002200000003-0000-0000-77ea-b7d0d828dc08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/279489A78F7185D1BA1CCAA9422C1208830307660485D9CC89/offers/f79bcf46-c27d-48ae-bc5a-6a1dea6e5d7b:accept?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:04:47 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "a32d7305-f387-c010-c4e9-743191e59f0e"
      },
      "ResponseBody": {
        "assignmentId": "07e2dabc-5f31-4956-a1c3-4bd3ad7e3840",
        "jobId": "E5763267F3A9B2DBB2B9906A4B0048E72D68BBCE924EE6D1FC",
        "workerId": "279489A78F7185D1BA1CCAA9422C1208830307660485D9CC89"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/279489A78F7185D1BA1CCAA9422C1208830307660485D9CC89/offers/f79bcf46-c27d-48ae-bc5a-6a1dea6e5d7b:decline?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:04:49 GMT"
      },
      "RequestBody": {
        "retryOfferAt": "0001-01-01T00:00:00.0000000Z"
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "e7bf814e-1891-52c8-062d-aa8537264e32"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "NotFound",
          "message": "DeclineOfferCommandHandler: Offer not found. OfferId: f79bcf46-c27d-48ae-bc5a-6a1dea6e5d7b, WorkerId: 279489A78F7185D1BA1CCAA9422C1208830307660485D9CC89",
          "target": "/routing/workers/279489A78F7185D1BA1CCAA9422C1208830307660485D9CC89/offers/f79bcf46-c27d-48ae-bc5a-6a1dea6e5d7b:decline"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/E5763267F3A9B2DBB2B9906A4B0048E72D68BBCE924EE6D1FC/assignments/07e2dabc-5f31-4956-a1c3-4bd3ad7e3840:complete?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:04:49 GMT"
      },
      "RequestBody": {
        "note": "Job completed by 279489A78F7185D1BA1CCAA9422C1208830307660485D9CC89"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "63b0901b-c69a-a4f9-67b9-84410c20d1f2"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/E5763267F3A9B2DBB2B9906A4B0048E72D68BBCE924EE6D1FC/assignments/07e2dabc-5f31-4956-a1c3-4bd3ad7e3840:close?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:04:49 GMT"
      },
      "RequestBody": {
        "closeAt": "0001-01-01T00:00:00.0000000Z",
        "note": "Job closed by 279489A78F7185D1BA1CCAA9422C1208830307660485D9CC89"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "ddb4e605-9d99-72f8-9220-41acdd58d4ba"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/E5763267F3A9B2DBB2B9906A4B0048E72D68BBCE924EE6D1FC?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:04:50 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000004-0000-0000-8ed1-4ed2d828dc08\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 19:04:48 GMT",
        "trace-id": "622a1d22-28e0-8853-ead9-ad96025d863f"
      },
      "ResponseBody": {
        "id": "E5763267F3A9B2DBB2B9906A4B0048E72D68BBCE924EE6D1FC",
        "status": "closed",
        "enqueuedAt": "2024-02-08T19:04:45.7793048\u002B00:00",
        "channelId": "A394F5B9708397B78A7C35169F56399E2134D385932DDB881E",
        "queueId": "12BF8BC0B6592E1DE6A0215C1278F3A0A9C0FC697ADCCFDD70",
        "priority": 1,
        "dispositionCode": "Closed",
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {
          "07e2dabc-5f31-4956-a1c3-4bd3ad7e3840": {
            "assignmentId": "07e2dabc-5f31-4956-a1c3-4bd3ad7e3840",
            "workerId": "279489A78F7185D1BA1CCAA9422C1208830307660485D9CC89",
            "assignedAt": "2024-02-08T19:04:47.1140824\u002B00:00",
            "completedAt": "2024-02-08T19:04:48.430023\u002B00:00",
            "closedAt": "2024-02-08T19:04:48.6195598\u002B00:00"
          }
        },
        "tags": {},
        "notes": [
          {
            "message": "Job completed by 279489A78F7185D1BA1CCAA9422C1208830307660485D9CC89",
            "addedAt": "2024-02-08T19:04:48.430023\u002B00:00"
          },
          {
            "message": "Job closed by 279489A78F7185D1BA1CCAA9422C1208830307660485D9CC89",
            "addedAt": "2024-02-08T19:04:48.6195598\u002B00:00"
          }
        ],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "\u002200000004-0000-0000-8ed1-4ed2d828dc08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/12BF8BC0B6592E1DE6A0215C1278F3A0A9C0FC697ADCCFDD70?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:05:01 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "e5c81099-8ab2-8d0e-efac-308caff3c6fe"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk--NdTQJMZSECoNg-80bczLA-",
    "RandomSeed": "221158753"
  }
}
