{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/providers/Microsoft.Authorization/roleAssignments?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-build-version": "1.0.20241130-1-aecac196-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": "OK"
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/providers/Microsoft.Authorization/roleAssignments?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20241130-1-aecac196-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/providers/Microsoft.Authorization/roleAssignments/8f6540bd-7e60-417a-9f7c-b7174bc38db8",
            "name": "8f6540bd-7e60-417a-9f7c-b7174bc38db8",
            "properties": {
              "principalId": "01ea9a65-813e-4238-8204-bf7328d63fc6",
              "roleDefinitionId": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/515eb02d-2335-4d2d-92f2-b1cbdf9c3778",
              "scope": "/"
            },
            "type": "Microsoft.Authorization/roleAssignments"
          },
          {
            "id": "/providers/Microsoft.Authorization/roleAssignments/2064d81d-17d2-44e8-a4cf-347e77e7696c",
            "name": "2064d81d-17d2-44e8-a4cf-347e77e7696c",
            "properties": {
              "principalId": "01ea9a65-813e-4238-8204-bf7328d63fc6",
              "roleDefinitionId": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/1f1bffa9-7fd6-4974-b6ad-28366ce8bb62",
              "scope": [...]
