{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/providers/Microsoft.Authorization/roleAssignments/105737ba-48a4-4aa4-b313-da1e3441cbcc?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/providers/Microsoft.Authorization/roleAssignments/105737ba-48a4-4aa4-b313-da1e3441cbcc?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "error": {
          "code": "RoleAssignmentNotFound",
          "message": "Requested role assignment not found (Activity ID: 7c1cd234-963d-11ef-8742-000d3acb983d)"
        }
      }
    }
  ],
  "Variables": {
    "suffix": "suffix-491940",
    "uuid-1": "105737ba-48a4-4aa4-b313-da1e3441cbcc"
  }
}
