{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-454ef352-7f61-6168-8be2-1df93011ef97?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 23:05:25 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB26455C442\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:05:27 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-454ef352-7f61-6168-8be2-1df93011ef97/test-blob-083f358f-b477-19e2-b7c1-8633891cb547",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "2048",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 27 Mar 2024 23:05:26 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB2647C43A6\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:05:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:05:27.6778406Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-454ef352-7f61-6168-8be2-1df93011ef97/test-blob-083f358f-b477-19e2-b7c1-8633891cb547?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 23:05:26 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "2V6VSnuxsKlQntGeEjk\u002BvOZYRirNk2w2QxkA6dzBn/l51tZa5qcaJ8zncmqiCXnH6cWPiNDWCkXxXgdiscbMjv/YJDxj49U\u002BPR5e5SAClDmgOAAXMRYoosuQaIiguHYFG\u002BRqyeQ8ZAbwUEqyeCUl78rNwnjGtV3or4Jw0npNnoWnWMo8l8pVY9P6J\u002BDLdSqma3m90vX\u002BP2WGghlizJGLorLFCx9a6Ff/eF6kzI58HDpXyWcBj8uPqRhktRWw8pdBboQuBmoKTIIivlqWWXPXCmXfCgIqihPmNWIG9jNCT4XHYl0KTRbQTX3l3tFx\u002BE\u002BljKuv0OiVF\u002BRwSNAIBFVP32/Uz/YWzb1PD72ERKtCdDwSYWmHk36dMkp[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-454ef352-7f61-6168-8be2-1df93011ef97/test-blob-083f358f-b477-19e2-b7c1-8633891cb547?sv=2024-05-04\u0026se=2024-03-28T23%3A05%3A26Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB2648D311A\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:05:27 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:05:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:05:27.6778406Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-edbbf624-d7fa-aba3-58b6-c04c7f3c5a7a/test-blob-83eed17a-4a34-a124-851a-79da7e9cd333?sv=2024-05-04\u0026se=2024-03-28T23%3A05%3A26Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-454ef352-7f61-6168-8be2-1df93011ef97/test-blob-083f358f-b477-19e2-b7c1-8633891cb547?sv=2024-05-04\u0026se=2024-03-28T23%3A05%3A26Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-source-range": "bytes=0-2047",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB264C835CE\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:05:28 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "vKese5yPCuI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-454ef352-7f61-6168-8be2-1df93011ef97/test-blob-083f358f-b477-19e2-b7c1-8633891cb547?sv=2024-05-04\u0026se=2024-03-28T23%3A05%3A26Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB2648D311A\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB2648D311A\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:05:27 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:05:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-454ef352-7f61-6168-8be2-1df93011ef97?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 23:05:27 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T16:05:26.4324459-07:00",
    "RandomSeed": "1096858163",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
