{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ab8c8330-5e58-1f4c-f4c0-33d2d1ead935?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:26:28 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690DB845557\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:26:29 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ab8c8330-5e58-1f4c-f4c0-33d2d1ead935/test-blob-90e3c93a-9679-9e93-fb99-8d32ce82223c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:26:28 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690DB9F272D\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:26:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:26:29.7830970Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ab8c8330-5e58-1f4c-f4c0-33d2d1ead935/test-blob-90e3c93a-9679-9e93-fb99-8d32ce82223c?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:26:28 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "3RtUpI68S2gJBgUAqCY+4xwWYBsZxdrL6JiFObx01XO6t1lLzK/E8ZAuUjk3ds1u49/GDQE5LBdAiLz2NxGslDGSRvHN8xZsUm+K63KhlHHKFlXcrcdygYtBC0Tzzrl+gr0IpTDcofDIWbuRrkGlnvNKKyC8z+dpIMVmi+fSeYS1C2i0me9B7nVkE1MM4NJJnGxQqKKYwrLWnoVqdhYI9uA226PY8AUECD2rV7yTXT/zHO97gtDiHEm23fpq1nheWx1z1QQvcatnS59k7Gr1Q0FFd1knjXQPVL5ZIRMKmjLETfyfH4g6xKtDFDYwfTDewJq5JF8eN86oY4BF1U+XXLFtoJ9uViO4CrOu43k93teOemF5UXXSpRUt9rsH9e5cq7eFw92QcGp2ABmscFNUa4WotlruHgo7m/qJQGBosBXEUjfBuBv6/gr2AlFbJjXB2Is2Xz6UbYysSSfiBi8KDk8E5x4ck7JprrhP9xu533TFx2fUMVHWMOSqFG7zF/fa7PQBVz8WpUXYzbCFRHZx82qzHT/HNdz9LbY6cX5EdZbBdAsnuIg1riEi/GOgUOxuOSEEQPm4E7YXAymI3DTGlFcaxM9rSTrhfW4dpTl4Xd3KzDddQDWcCWFUD7RfrdLtW2gMhowcA/DmIsKLmm19nqZMvQ/9aVMifbttFzqGgtA=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690DBAF797A\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:26:29 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "+39f//w66Z4=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ab8c8330-5e58-1f4c-f4c0-33d2d1ead935/test-blob-90e3c93a-9679-9e93-fb99-8d32ce82223c?sv=Sanitized&se=2024-06-08T01%3A26%3A28Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC8690DBAF797A\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:26:29 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:26:29 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:26:29.7830970Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d043b163-cf80-494f-d76b-d62ec8e6d1f6/test-blob-d0022200-35e3-693c-994b-4d7487a0c2bb?sv=Sanitized&se=2024-06-08T01%3A26%3A28Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-ab8c8330-5e58-1f4c-f4c0-33d2d1ead935/test-blob-90e3c93a-9679-9e93-fb99-8d32ce82223c?sv=Sanitized&se=2024-06-08T01%3A26%3A28Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690DD4D9CE7\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:26:32 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "+39f//w66Z4=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ab8c8330-5e58-1f4c-f4c0-33d2d1ead935/test-blob-90e3c93a-9679-9e93-fb99-8d32ce82223c?sv=Sanitized&se=2024-06-08T01%3A26%3A28Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC8690DBAF797A\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC8690DBAF797A\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:26:29 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:26:29 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
    [...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ab8c8330-5e58-1f4c-f4c0-33d2d1ead935?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:26:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:26:28.3800717-05:00",
    "RandomSeed": "1965826771",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
