{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-68d5fe6c-864b-f361-01e0-de1f66b27bc6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 23:06:06 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB27C71CBFE\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:06:07 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-68d5fe6c-864b-f361-01e0-de1f66b27bc6/test-blob-b5314528-81dd-0c3d-f32a-02846e23c958",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 27 Mar 2024 23:06:06 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB27CACC34E\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:06:08 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:06:08.2609998Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-68d5fe6c-864b-f361-01e0-de1f66b27bc6/test-blob-b5314528-81dd-0c3d-f32a-02846e23c958?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 23:06:06 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "Clo4Sj1rGrrhFhyePfD4xZEyB6VPak0G9A4KNU1rQ8uzSSCvd3oReRrbgKRiEV3/YaLqo01mSZ8NMVYuYeRsdtJQ6vPPSE0XII6Lc\u002BmppOKxCtOqgaB\u002BTf\u002BBokUk4xc1bgrRESdpMBhV04K\u002B2ta1Y41zfVcQwvUy0pz0TaYH8z12VQTf15K7R9q7VK0dwHIpzD64sGXAJKwVnz\u002BKdeJxTt9FR4TR1oz7uDV8VW1HFBIqy4FoT0LXtjBYyTdSMNL4SQbN2HjtV/WxvPgwQ88\u002BzootYKpgCf6dbpFTeA1UqIdjhAtmeTyZPHOMtpJJp3JhGfqsJdAnl0AIMGrmmd7oXRRxzL/D2FVOkyM21FJsVMYe8l8Sp4O3O\u002BzLXkjS[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-68d5fe6c-864b-f361-01e0-de1f66b27bc6/test-blob-b5314528-81dd-0c3d-f32a-02846e23c958?sv=2024-05-04\u0026se=2024-03-28T23%3A06%3A07Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB27CC3F17A\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:06:08 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:06:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:06:08.2609998Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-24f3e752-cf69-3836-266a-944b270f0d7e/test-blob-c191b77d-0e11-f6ef-1ae3-5afb368be776?sv=2024-05-04\u0026se=2024-03-28T23%3A06%3A07Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-68d5fe6c-864b-f361-01e0-de1f66b27bc6/test-blob-b5314528-81dd-0c3d-f32a-02846e23c958?sv=2024-05-04\u0026se=2024-03-28T23%3A06%3A07Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB27D1DEB66\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:06:09 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "x4CZ1C2wPOI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-68d5fe6c-864b-f361-01e0-de1f66b27bc6/test-blob-b5314528-81dd-0c3d-f32a-02846e23c958?sv=2024-05-04\u0026se=2024-03-28T23%3A06%3A07Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB27CC3F17A\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB27CC3F17A\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:06:08 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:06:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-68d5fe6c-864b-f361-01e0-de1f66b27bc6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 23:06:08 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T16:06:07.0438733-07:00",
    "RandomSeed": "1940081713",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
