{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-be422b08-e4cf-54c9-094b-21ca8eb596cb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 23:06:22 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB28606844E\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:06:23 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-be422b08-e4cf-54c9-094b-21ca8eb596cb/test-blob-fa630a8d-672b-5e02-f1af-b662b6483473",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 27 Mar 2024 23:06:22 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB2863393C4\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:06:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:06:24.2440132Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-be422b08-e4cf-54c9-094b-21ca8eb596cb/test-blob-fa630a8d-672b-5e02-f1af-b662b6483473?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 23:06:22 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "st\u002BGWAix94ejmBTagOfnIugR7/XS0a/jk4Qrw0P348ZLMRTVMvwuwXqQOcX4mvi/k5UVbISCJeAvo8SDhjRErLVOj07TEu/r4y57QZfq6viMay\u002Bt4XZByAszpY84qjpFTI0Pqgup7IGlKYlWB\u002BNIRLjL9xoEl8o/DMZDn2xgszjzNfUK20Ds4n\u002BtCLfs6sEn62HWbLMgQbTC0J1FZkwVRXZQYtHtPml43hSaVo4SUiIEG7QLiUaF0/RARwqip3wzmMNBnIjwOaz4Xo2eheomsH57QUuYCrsvy4/drfZe1TeYZ77L0baZFOEHEyq45k4JGpeMJmUxmo0HEdD4Eoy1mYlWBh0rWt/I4S1pkfeQd\u002BRB1JJf0a7RZ80wxL/loQFUUXmhYu[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-be422b08-e4cf-54c9-094b-21ca8eb596cb/test-blob-fa630a8d-672b-5e02-f1af-b662b6483473?sv=2024-05-04\u0026se=2024-03-28T23%3A06%3A23Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB2864DCEBD\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:06:24 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:06:24 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:06:24.2440132Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c27ba237-e38e-0cfc-43bb-8e2921ef3c18/test-blob-456c43de-c64e-e0a3-cc8b-701e5f529589?sv=2024-05-04\u0026se=2024-03-28T23%3A06%3A23Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-be422b08-e4cf-54c9-094b-21ca8eb596cb/test-blob-fa630a8d-672b-5e02-f1af-b662b6483473?sv=2024-05-04\u0026se=2024-03-28T23%3A06%3A23Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB2869B6E68\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:06:24 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "ocnMezG/9To=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-be422b08-e4cf-54c9-094b-21ca8eb596cb/test-blob-fa630a8d-672b-5e02-f1af-b662b6483473?sv=2024-05-04\u0026se=2024-03-28T23%3A06%3A23Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB2864DCEBD\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB2864DCEBD\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:06:24 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:06:24 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-be422b08-e4cf-54c9-094b-21ca8eb596cb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 23:06:24 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T16:06:23.0649315-07:00",
    "RandomSeed": "532147926",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
