{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0efa2bc2-cbba-d4c6-9311-2688b88f36cf?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:26:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690EDF6C427\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0efa2bc2-cbba-d4c6-9311-2688b88f36cf/test-blob-86890e74-e2ee-b011-fbb9-30c96122e42b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "2048",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:26:59 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690EE118D11\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:27:00.7308049Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0efa2bc2-cbba-d4c6-9311-2688b88f36cf/test-blob-86890e74-e2ee-b011-fbb9-30c96122e42b?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:26:59 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "c/Ca6RIF7nR2KRd7s8qvyMQshSEcm99OOv9UONuBfP67OLIHa8cVvbCQK9M1Cbasd50T6tLatdcRS68SsbWZ9a0Zv3sYp138F8hxi28LGTBJp8E+bZEs4YPa9h8YAgz79zYlHEk7lNA/F9MJaCpoBTJ+yQn0W4gc7N73PrE95BW8dpM55v3nDhPx/la+InhYcfDtmTgCBpyuCS9qQ1UeAjK9TfKWLx80lrv2A1wyXslmn8zAT0rcuW/2it3NfMu90vsjANWFwkLRuQJ9DAM/fKtlBKSJXbLo4JODn6RCZhnwOTBhDl304NyJ75ZHX61stw4xaHgmM3RIOyBBAiKejlLpjNPS3m1NcSPHAG4coIDmF+iVEP6hyQW8GdM9st656mFEXtLamdih5PZVXzMGK5qfW+s6CX5[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0efa2bc2-cbba-d4c6-9311-2688b88f36cf/test-blob-86890e74-e2ee-b011-fbb9-30c96122e42b?sv=Sanitized&se=2024-06-08T01%3A26%3A59Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC8690EE1EF96A\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:00 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:27:00 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:27:00.7308049Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7c4729ad-8740-e602-0035-c133483117cb/test-blob-770780e9-834a-034b-0039-3b97c3c21e61?sv=Sanitized&se=2024-06-08T01%3A26%3A59Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-0efa2bc2-cbba-d4c6-9311-2688b88f36cf/test-blob-86890e74-e2ee-b011-fbb9-30c96122e42b?sv=Sanitized&se=2024-06-08T01%3A26%3A59Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-source-range": "bytes=0-2047",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690EE8887AE\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:01 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "PoJxRn4pedA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0efa2bc2-cbba-d4c6-9311-2688b88f36cf/test-blob-86890e74-e2ee-b011-fbb9-30c96122e42b?sv=Sanitized&se=2024-06-08T01%3A26%3A59Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC8690EE1EF96A\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC8690EE1EF96A\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:00 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:27:00 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
  [...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0efa2bc2-cbba-d4c6-9311-2688b88f36cf?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:27:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:26:59.3401370-05:00",
    "RandomSeed": "1978639925",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
