{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6a6530f9-8802-5f9c-32a6-65f99fe7914a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 21:40:59 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD423FF3EED040\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:40:59 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ca97fcf9-db4c-ffdd-8115-c6fa46c83f50/test-blob-12a7e742-30ab-7a84-5cd1-f66cb1973c5a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 31 Jan 2025 21:41:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD423FF3FE3D59\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:41:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:41:00.0376665Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ca97fcf9-db4c-ffdd-8115-c6fa46c83f50/test-blob-12a7e742-30ab-7a84-5cd1-f66cb1973c5a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 31 Jan 2025 21:41:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "JnGia9L24kmhm2GdY29ef0FUN4Ml+G/iOJLcYCgzTaPPOH+/0bo6ntT2yaOFc6vh27JB6wOPiy0CvzM/GoIgbU69zivvnq2GGpmuLy/MXcTn+4V28mGfQKxSvRGH+oNS1VtUyKWA8TwFutFq4Fz9NmJuWB/9qnvtHY5+neGb/x8VXFrUd5UfZglIcDePNV9QVIavGaJkVCrfZqoXAVRaabqyVYQCKb7NTvEVtDlDXeguLUla7OZ8sAcv9RHqCGS17QZ83eDbTirI4sqwT6DwmwjC6NQLAH3UNaR80jSt4kaNYMYyxoAIU98ekQobzGFmP1kIKB+Qqe2JqKg7Xnv2G/+EI+7Zv[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6a6530f9-8802-5f9c-32a6-65f99fe7914a/test-blob-aa86112e-5025-18f4-a16d-1d0c51d2d64e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 31 Jan 2025 21:41:00 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD423FF40DA466\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:41:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:41:00.1386086Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6a6530f9-8802-5f9c-32a6-65f99fe7914a/test-blob-aa86112e-5025-18f4-a16d-1d0c51d2d64e?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 31 Jan 2025 21:41:00 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "2kdvR+HTsC7jYfx2vBeMNaB1Q0mJOSMzzk2jPH1o1g0/2CtTc06sMqcpdniPt+N+kUc5R1NG6qEjPHiTMHOxe4vvNuTsOMFRyBGhX8KrpBdqJas1Lo66+e6KLzfVGAIzePvtn4H+kViG535BpIreeJdhKQrHfEz8NT32YgiJfLAPbufHvQSVa5RTrkcQeFRjq7agdO73a/yu8WpDCC5P/GvNMjajFruTy712dM0F673pkrZR6QfCFwLrGMyaUmNlA7LbQ0UdwJT7DagxgfcuqQWtWnV3/RNjCxs0uP7v+HlZEHEaKah3y9IhVtxfkZYKvG/G7fju7QWfeDcq6AiWDBQv13CFFH9dNY6iVac2BHqEKfuOKQuBaiNse7FwTOPKi0rHL7klhajwabdqTJdeaHO9pb4MCOM[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6a6530f9-8802-5f9c-32a6-65f99fe7914a/test-blob-aa86112e-5025-18f4-a16d-1d0c51d2d64e?sv=Sanitized&se=2025-02-01T21%3A41%3A00Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD423FF4145A2B\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:41:00 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 21:41:00 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:41:00.1386086Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ca97fcf9-db4c-ffdd-8115-c6fa46c83f50/test-blob-12a7e742-30ab-7a84-5cd1-f66cb1973c5a?sv=Sanitized&se=2025-02-01T21%3A41%3A00Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:fe492a1b-301e-0096-0128-74d313000000\n",
        "Time:2025-01-31T21:41:00.2793158Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ca97fcf9-db4c-ffdd-8115-c6fa46c83f50/test-blob-12a7e742-30ab-7a84-5cd1-f66cb1973c5a?sv=Sanitized&se=2025-02-01T21%3A41%3A00Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD423FF4051A29\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:41:00 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 21:41:00 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:41:00.0376665Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ca97fcf9-db4c-ffdd-8115-c6fa46c83f50/test-blob-12a7e742-30ab-7a84-5cd1-f66cb1973c5a?sv=Sanitized&se=2025-02-01T21%3A41%3A00Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD423FF4051A29\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD423FF4051A29\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:41:00 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 21:41:00 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6a6530f9-8802-5f9c-32a6-65f99fe7914a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 21:41:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-31T13:41:00.1145684-08:00",
    "RandomSeed": "977406959",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
