{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3fcbbceb-18a4-3cd0-1168-8cb60ea64460?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 23:06:03 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB27A71E051\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:06:04 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3fcbbceb-18a4-3cd0-1168-8cb60ea64460/test-blob-0c080f95-7297-d202-50e4-c47d48b74a69",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 27 Mar 2024 23:06:03 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB27A96653C\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:06:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:06:04.7589692Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3fcbbceb-18a4-3cd0-1168-8cb60ea64460/test-blob-0c080f95-7297-d202-50e4-c47d48b74a69?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 23:06:03 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "vosSIZnhCtPhxRiW405qypJdoM2yJJNDlnWCOp\u002BZMAl2gWD6lmlVTiF80YBSyFaivKzElR1KE5r4zookX9AzR5QOH2HtcDMpCFGrNlIT8c0e337z1ZvsLG7GAcfeMe9RSIrsQ6n1tEt4m43Ln91H5d29BX9RQHL5IfLyJ29sS9dhWe3IJ60kKSoyejoNIYyRfhzpICtw/wgY8yK2Ao3cDFC2aUXvf74wmNxUH8Y36wBmYalSgiqs8VnlrzSLbiadVm3pV7dHof5euYhOHOBB4AchUKHjiokmCnjrCs\u002BKpSq2tshYTpRIHr\u002Bq88mhXdR5o88saR2Eusvkw00\u002BW5cu1BNdl2UX6ZJz2DHhOZa/hKykcmYAXTsMMvz8dIpHCsMoex\u002B1RMZuYbk8uJDsooA1JD\u002BgmukwLnbXUGVpGnUHLM5uub12CkDmNRGtw6SrII97x1BLpnDZ902o3fNgBUZENIzBfejDvhn/umTXg2rSLDDV7lMkvIVdlMFwzixMhTDLaI8Y6aKmtwg2TOwLAnTj1rHDihfyIHgGZOkmU/DtsjU0DBvbukKNLzZK7nCZUZJNjfh6iPoY2EgWEYW5f2QYSJm31/ZZBxxuNlvhpzEIbBJX2cb3cik6GzPTxKi906/RMqXW4nqb9IXcDFKeNzAWDqRzYqaeINVwfLvChkNzsGI=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB27AA752B9\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:06:04 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "n0aj6Cgegzg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3fcbbceb-18a4-3cd0-1168-8cb60ea64460/test-blob-0c080f95-7297-d202-50e4-c47d48b74a69?sv=2024-05-04\u0026se=2024-03-28T23%3A06%3A03Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB27AA752B9\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:06:04 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:06:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:06:04.7589692Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c7a788e1-f14f-2c21-fa1a-ae7203f20fcd/test-blob-c6fbef2d-6af6-b131-34b0-a531d329fce9?sv=2024-05-04\u0026se=2024-03-28T23%3A06%3A03Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-3fcbbceb-18a4-3cd0-1168-8cb60ea64460/test-blob-0c080f95-7297-d202-50e4-c47d48b74a69?sv=2024-05-04\u0026se=2024-03-28T23%3A06%3A03Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB27B093AC5\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:06:05 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "n0aj6Cgegzg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3fcbbceb-18a4-3cd0-1168-8cb60ea64460/test-blob-0c080f95-7297-d202-50e4-c47d48b74a69?sv=2024-05-04\u0026se=2024-03-28T23%3A06%3A03Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB27AA752B9\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB27AA752B9\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:06:04 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:06:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:06:04.7589692Z"
      },
      "ResponseBody": "vosSIZnhCtPhxRiW405qypJdoM2yJJNDlnWCOp\u002BZMAl2gWD6lmlVTiF80YBSyFaivKzElR1KE5r4zookX9AzR5QOH2HtcDMpCFGrNlIT8c0e337z1ZvsLG7GAcfeMe9RSIrsQ6n1tEt4m43Ln91H5d29BX9RQHL5IfLyJ29sS9dhWe3IJ60kKSoyejoNIYyRfhzpICtw/wgY8yK2Ao3cDFC2aUXvf74wmNxUH8Y36wBmYalSgiqs8VnlrzSLbiadVm3pV7dHof5euYhOHOBB4AchUKHjiokmCnjrCs\u002BKpSq2tshYTpRIHr\u002Bq88mhXdR5o88saR2Eusvkw00\u002BW5cu1BNdl2UX6ZJz2DHhOZa/hKykcmYAXTsMMvz8dIpHCsMoex\u002B1RMZuYbk8uJDsooA1JD\u002BgmukwLnbXUGVpGnUHLM5uub12CkDmNRGtw6SrII97x1BLpnDZ902o3fNgBUZENIzBfejDvhn/umTXg2rSLDDV7lMkvIVdlMFwzixMhTDLaI8Y6aKmtwg2TOwLAnTj1rHDihfyIHgGZOkmU/DtsjU0DBvbukKNLzZK7nCZUZJNjfh6iPoY2EgWEYW5f2QYSJm31/ZZBxxuNlvhpzEIbBJX2cb3cik6GzPTxKi906/RMqXW4nqb9IXcDFKeNzAWDqRzYqaeINVwfLvChkNzsGI="
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3fcbbceb-18a4-3cd0-1168-8cb60ea64460?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 23:06:05 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T16:06:03.4997118-07:00",
    "RandomSeed": "2061945854",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
