{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a8c4cc08-2c96-8059-ac34-e1186b3b2d37?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 23:06:18 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB283AD5536\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:06:20 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-42dc4cd4-fee0-4244-da9e-de497a2f9cc6/test-blob-fcefcda8-89cb-2511-9340-673219cc11ea",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 27 Mar 2024 23:06:18 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB283E58BE2\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:06:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:06:20.3771874Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-42dc4cd4-fee0-4244-da9e-de497a2f9cc6/test-blob-fcefcda8-89cb-2511-9340-673219cc11ea?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 23:06:19 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "K2nSmD0S5HtVpw0va/qJpzF3KcpybPTH/3apuG4cbaK0PcfVWwbVTR\u002BIWQcT7xIM7uyeqoUrxL51C5jHaCwNOTlrei0ztEsrodur6RLssxBjncmCfcMciHgIYFBtDuXyeyDOp3Tk2TqgcwmqgNuriFeIY8tjirt2TvK1KlP7vZP2uG7yHgubf8SO4Qm5cgidXdf45KoZj/BkV1iCL67npbV2s8dsuGlL7OQH1amyvNzpF817Atno3Cl9jsazGU8VpztTQ75BMKRtrffGErlHspp8mRfga6Lcjded7yqjmNOU8S5tXngep\u002BcpDVXhIclwNtwrNoA4NTyYd7Xno0F[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a8c4cc08-2c96-8059-ac34-e1186b3b2d37/test-blob-24a87ddb-955d-e28b-7630-eddc8ba5f2bf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 27 Mar 2024 23:06:19 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB28419B3C4\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:06:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:06:20.7199948Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a8c4cc08-2c96-8059-ac34-e1186b3b2d37/test-blob-24a87ddb-955d-e28b-7630-eddc8ba5f2bf?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 23:06:19 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "5Ezply4gWSTVk0JTd8JCt6PqztszmkXjgE/7VhSik5EJ\u002B75BTp\u002BHVGDELdcuw0hjBWzl9wUDKkoHBRffJAMQMv\u002BxSnsDAWgDYnp7bmxttLwGmFGnvZuLBtF0OUmIqC9ds/rXfXnNXwMD4pSLh7vdmVBa2IuxaXVkJkOqj8cferpKHrpxljdCOThNpNoGAH4VlqD4LdCkq0qFc1c2ItA85GfaQWkAbAMYF55SZMSaXSbElfgmJk3qpXJw7CLgDBdoEL9zK74VFCqd4BUxUUaF6hYxcYzXFb4a8Jv3kH/gNwuH6VMFJzFnr4DOiUY3uFMr6gILr5uKkfsBWTsjHoSqvKgKqmjzgMLkycIMCIt44jdHy6V91Yhw/FhYA872Q5H8I82dLA7rOGo/J\u0[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a8c4cc08-2c96-8059-ac34-e1186b3b2d37/test-blob-24a87ddb-955d-e28b-7630-eddc8ba5f2bf?sv=2024-05-04\u0026se=2024-03-28T23%3A06%3A19Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB284317E14\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:06:20 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:06:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:06:20.7199948Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-42dc4cd4-fee0-4244-da9e-de497a2f9cc6/test-blob-fcefcda8-89cb-2511-9340-673219cc11ea?sv=2024-05-04\u0026se=2024-03-28T23%3A06%3A19Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-a8c4cc08-2c96-8059-ac34-e1186b3b2d37/test-blob-24a87ddb-955d-e28b-7630-eddc8ba5f2bf?sv=2024-05-04\u0026se=2024-03-28T23%3A06%3A19Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB2847EA8A3\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:06:21 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "JUlucabg3RI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a8c4cc08-2c96-8059-ac34-e1186b3b2d37/test-blob-24a87ddb-955d-e28b-7630-eddc8ba5f2bf?sv=2024-05-04\u0026se=2024-03-28T23%3A06%3A19Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB284317E14\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB284317E14\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:06:20 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:06:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a8c4cc08-2c96-8059-ac34-e1186b3b2d37?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 23:06:21 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T16:06:19.2162251-07:00",
    "RandomSeed": "110196382",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
