{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-de51fc6f-7438-33d7-c120-a2ecb6160019?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Mar 2024 21:08:30 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B394B450C\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:08:32 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-de51fc6f-7438-33d7-c120-a2ecb6160019/test-blob-905c1148-2c89-7d2f-e60b-5868bd44c158",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 28 Mar 2024 21:08:30 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B395EE016\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:08:32 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:08:32.2391849Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-de51fc6f-7438-33d7-c120-a2ecb6160019/test-blob-905c1148-2c89-7d2f-e60b-5868bd44c158?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Mar 2024 21:08:30 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "2Q756OkcxOchxOwbycb997SxbQ7EIws0jt\u002BRHn3HTLTMcvRG7hBuoaIJngrAf9sT8RGhsJtvXLUCxVkKiqZqWXc3T1fStwijQsxsu4UAcw8DfSxrJZwYXRY\u002BQym3ZBb7nkSTiS\u002BEQToJ/m3OA6AwAVJJBgx5/zPbHvJBlHPf7N62cB1AberffzzyYScuSll1DUHXbV0Jgp4Rt2o9Q6zGKhGPF5KD8JRoaYbPh50LrdSYy4YxB3\u002BBre1\u002BLrV/ojyQKzcWnzPG8RytbgPWOfsABQqVpXcllSKSDWqlBcHe6MdKP1tm9Q6h0dpqg5h7qnPyfSmr6vzEapYUhJHIIexbz4Y8jPmfmg/89NOduxGJFmP3soeXMv7KhdXFUnF82K/tDrQSPx[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-de51fc6f-7438-33d7-c120-a2ecb6160019/test-blob-905c1148-2c89-7d2f-e60b-5868bd44c158?sv=2024-05-04\u0026se=2024-03-29T21%3A08%3A30Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6B3968A2A8\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:08:32 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:08:32 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:08:32.2391849Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0f5dc176-d967-3d6e-4235-577d4c35cda6/test-blob-b0862664-2909-d6e9-3887-e3df33d3ab4a?sv=2024-05-04\u0026se=2024-03-29T21%3A08%3A30Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B397FF7D7\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:08:32 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:08:32.4550615Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0f5dc176-d967-3d6e-4235-577d4c35cda6/test-blob-b0862664-2909-d6e9-3887-e3df33d3ab4a?sv=2024-05-04\u0026se=2024-03-29T21%3A08%3A30Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-de51fc6f-7438-33d7-c120-a2ecb6160019/test-blob-905c1148-2c89-7d2f-e60b-5868bd44c158?sv=2024-05-04\u0026se=2024-03-29T21%3A08%3A30Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B398A7DA0\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:08:32 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "GR9Z4AMF3Uk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-de51fc6f-7438-33d7-c120-a2ecb6160019/test-blob-905c1148-2c89-7d2f-e60b-5868bd44c158?sv=2024-05-04\u0026se=2024-03-29T21%3A08%3A30Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4F6B3968A2A8\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6B3968A2A8\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:08:32 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:08:32 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-de51fc6f-7438-33d7-c120-a2ecb6160019?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:08:31 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-28T14:08:30.5425587-07:00",
    "RandomSeed": "1872440465",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
