{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-73b8ca9a-2a26-8013-9295-6dc286ed70c8?restype=container&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A18%3A42Z&se=2026-02-18T07%3A18%3A42Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB590312CDF\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:18:42 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-73b8ca9a-2a26-8013-9295-6dc286ed70c8/test-blob-548eebe3-3f4a-8353-cd5b-dd5645d1142b?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A18%3A42Z&se=2026-02-18T07%3A18%3A42Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB590454B26\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:18:42 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-73b8ca9a-2a26-8013-9295-6dc286ed70c8/test-blob-548eebe3-3f4a-8353-cd5b-dd5645d1142b?comp=page&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A18%3A42Z&se=2026-02-18T07%3A18%3A42Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "zbfONE0DbEwqQOJcUzTHsVLkxV3YJ7HECZ8dz0PJU7rZ0WXkhETi0imNL0V2M344fHjOHTn0BqUGCSqu5ZwJYO0ng4HO4y0OAfI0SvdrTdYg5FPL+zWA5Mu/3XoaM+2MhM5YT7D8aphKvxtHwLytmrxTjQFJPmW4pp62DgWy884Fp8UoE/4mJHm6gDsZOSQOEkO9xqbrQkZpn6gRRVyTmMxNQRj3hYe9LWmHjr4pn216qPzC9CwoGWR/v3NWFN4dJ+dvy/gLF427AJk8ZLSHQAA7lp1f0aOfJSe0eMUUZxmLaWbWutN0b5BvBvST67Ww935yG31AvlZEz6XQV5/Hp5h/sfpNsYYtxicM8MquDDpxA4BGoUybSqsQkeoupBjxqF9bEzq7YkX4RVVWM82MlsJrXlMegAZ[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-73b8ca9a-2a26-8013-9295-6dc286ed70c8/test-blob-548eebe3-3f4a-8353-cd5b-dd5645d1142b?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A18%3A42Z&se=2026-02-18T07%3A18%3A42Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE6EB5904E8FC9\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:18:42 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 18 Feb 2026 06:18:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-de6375c0-4969-4067-46e2-abc4efa28042/test-blob-3dfa8839-0a24-dc72-4c7b-f870ad5b608f?comp=appendblock&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A18%3A42Z&se=2026-02-18T07%3A18%3A42Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-73b8ca9a-2a26-8013-9295-6dc286ed70c8/test-blob-548eebe3-3f4a-8353-cd5b-dd5645d1142b?sv=sanitized-value&ss=b&srt=sco&st=2026-02-18T05%3A18%3A42Z&se=2026-02-18T07%3A18%3A42Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB590746EF7\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:18:42 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "2GKMjeClgy4=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-73b8ca9a-2a26-8013-9295-6dc286ed70c8/test-blob-548eebe3-3f4a-8353-cd5b-dd5645d1142b?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A18%3A42Z&se=2026-02-18T07%3A18%3A42Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE6EB5904E8FC9\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE6EB5904E8FC9\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:18:42 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 18 Feb 2026 06:18:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-73b8ca9a-2a26-8013-9295-6dc286ed70c8?restype=container&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A18%3A42Z&se=2026-02-18T07%3A18%3A42Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-02-17T22:18:42.0237339-08:00",
    "RandomSeed": "402175949",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
