{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d8ef749a-7dd8-5fda-0e88-9d0cbbc2a710?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:26:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690E3A7DA92\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:26:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a55e3e28-4cc9-9c1b-9f30-f8555f74a6a0/test-blob-5225d5a6-38eb-12f4-c3eb-57bf1af91548",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:26:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690E3C407EE\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:26:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:26:43.4455534Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a55e3e28-4cc9-9c1b-9f30-f8555f74a6a0/test-blob-5225d5a6-38eb-12f4-c3eb-57bf1af91548?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:26:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "jpHurqCvaeBhPXUESFSQQDU+b+DWZ00MxF4M5Tqw1MIwKWn4GyTlu8ukKK78sM39VnQAmWjYcCZE4elCooOlsGmz0x/rmCQRWbMUMj+eEBORD47GrzpaV7hDszk7ohlI/nhFSd2tEr5P70C0xD7nptHVsZL13gAuWHtnp+Tq1raZzDPHWcc24/3Pd7/5pZN5XA1oZfGGUyB3FvBhRmrZZBmKGvgKH00Kns2VJWdBNLPn7UvXgnDEE3kTUELW1JyT9hKmb4qbbzzAXccj8S64NeI9elkeAuKpxgd/9s8LNMoxAi5VmsUoTH4PFySpoCFKWxpfmFpCdPQw/amDHHhttSn88u//Y[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d8ef749a-7dd8-5fda-0e88-9d0cbbc2a710/test-blob-00a443ca-9f3d-4256-4596-769b740d8176",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:26:42 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690E3DC6FDA\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:26:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:26:43.6065005Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d8ef749a-7dd8-5fda-0e88-9d0cbbc2a710/test-blob-00a443ca-9f3d-4256-4596-769b740d8176?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:26:42 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "mZ6N9a9jj8rrrFYLhOv2OUj6C4sg9NxnIzKoPU/0gnT7B1oBiZF2iyHKmMwfV0Sw8ZsH++WoTqXBJdJ9u1F79inhD3yQ9bC2hH9pVlsQR8vt90y07IePUrm1P2O/+NDPT6KiPUfHIPzrUHdlP/hJsd0Hj8MFxgqhUr3C27VM94uvmga5bQqDJddPyZsQKRPBa46FuGkMyYiXAeuKBURGnlnrtqXxkEPTg2nstvxukCipAG8nxz8hotB9IWwe+SCSCStCJHNu0NtLsjQAIBOLKXDC4QTVH9cZyhPUc27WtIlIWa3RLGy0OjCU3BUKIYK98fj8XBgbvepUKFpgml1sdP2rt8Zmuv0EDabUQUPCDqmRF4F22lhxLJzDfQMRVKDTKGcXX2m7Vjf7905yR3ymkRmwzoLb9Zq[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d8ef749a-7dd8-5fda-0e88-9d0cbbc2a710/test-blob-00a443ca-9f3d-4256-4596-769b740d8176?sv=Sanitized&se=2024-06-08T01%3A26%3A42Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC8690E3E76B69\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:26:43 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:26:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:26:43.6065005Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a55e3e28-4cc9-9c1b-9f30-f8555f74a6a0/test-blob-5225d5a6-38eb-12f4-c3eb-57bf1af91548?sv=Sanitized&se=2024-06-08T01%3A26%3A42Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-d8ef749a-7dd8-5fda-0e88-9d0cbbc2a710/test-blob-00a443ca-9f3d-4256-4596-769b740d8176?sv=Sanitized&se=2024-06-08T01%3A26%3A42Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690E41443F7\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:26:43 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "ORl5gH40qqE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d8ef749a-7dd8-5fda-0e88-9d0cbbc2a710/test-blob-00a443ca-9f3d-4256-4596-769b740d8176?sv=Sanitized&se=2024-06-08T01%3A26%3A42Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC8690E3E76B69\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC8690E3E76B69\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:26:43 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:26:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
  [...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d8ef749a-7dd8-5fda-0e88-9d0cbbc2a710?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:26:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:26:42.0269966-05:00",
    "RandomSeed": "618504358",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
