{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-454e43a7-11d5-7a24-4f1d-8cfe75bbfc27?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Mar 2024 21:08:19 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B32D910C6\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:08:21 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9cfdea3e-47e8-5ba5-d1ea-fb9c96e438e7/test-blob-5ec850a8-e16e-32d3-7d45-483efac34891",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 28 Mar 2024 21:08:19 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B32EC5A32\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:08:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:08:21.4213170Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9cfdea3e-47e8-5ba5-d1ea-fb9c96e438e7/test-blob-5ec850a8-e16e-32d3-7d45-483efac34891?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Mar 2024 21:08:19 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "BaeHL/xZzs1qkv090gcx1Wg3FXRMd3MiYoPJj4j7pk5TbqUko1Cy0Y4x21zduPFv\u002B\u002BUwAgyz7I0zZcx5jz9Fbuyu6WNhDTEXhUTmGpwXRaqRWZSjy6NBoIIY8D2EOUFO7G1vLs6NDu6zGHzIzNHxHCAh5zaqoaJIbUnhSRz0k0wDly0upxfcBEul77InedSwJtQdYlEKpErKJsCFrMTSv4UwxDSjwnUJRePrBbLvIfR0MCNI1jD6\u002BPPjY4BWV1eG0zAs9rSfDGNeFB1uH5\u002BY2wXMEHuhiuhVNsxAwF/0su6LZDGBwis/1CS/6cETi9hUSoh7ikbc5[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-454e43a7-11d5-7a24-4f1d-8cfe75bbfc27/test-blob-78170488-fefc-8186-e2c7-241671b2c440",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 28 Mar 2024 21:08:19 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B33007B95\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:08:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:08:21.5532437Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-454e43a7-11d5-7a24-4f1d-8cfe75bbfc27/test-blob-78170488-fefc-8186-e2c7-241671b2c440?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Mar 2024 21:08:19 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "FSh2uttTckX4AN0A00WmrGUOOL4H3oxYRdZYqtHTBVPooeFRvuw2XVCrcolUBU3R67NqgDTYMTecHXUE\u002Bsd0JfuJFzJkVO5419ttXGsDBD\u002BJh74daYUfEG\u002BqtaB2MmKIN02Nyu0abJbF8ahYatXLmBk2enMIV7x1agfCup9NAqV55SUedTlRbhooWHfcx6aa3xyHQLfuf9\u002BRGGDmWLL2d\u002B4D3oSwrCPg5AtY4P5EmaNhKNuDxsHtimVFjV3YaxZoMeCI2egh6TL5p1yrlp/gTH\u002B9hTDXc7EtFVQfax/GB3n1768eu7\u002B6QD\u002Boih9lQvTGZEDeG\u002BXmkb0vW8SUAX0TM5/itqbvwpG/AkXxLumRx9NfWQff5\[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-454e43a7-11d5-7a24-4f1d-8cfe75bbfc27/test-blob-78170488-fefc-8186-e2c7-241671b2c440?sv=2024-05-04\u0026se=2024-03-29T21%3A08%3A19Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6B330A170D\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:08:21 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:08:21 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:08:21.5532437Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9cfdea3e-47e8-5ba5-d1ea-fb9c96e438e7/test-blob-5ec850a8-e16e-32d3-7d45-483efac34891?sv=2024-05-04\u0026se=2024-03-29T21%3A08%3A19Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:5f16da8f-101e-0051-7e54-81e86d000000\n",
        "Time:2024-03-28T21:08:21.7756021Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9cfdea3e-47e8-5ba5-d1ea-fb9c96e438e7/test-blob-5ec850a8-e16e-32d3-7d45-483efac34891?sv=2024-05-04\u0026se=2024-03-29T21%3A08%3A19Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6B32F643CF\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:08:21 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:08:21 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:08:21.4213170Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9cfdea3e-47e8-5ba5-d1ea-fb9c96e438e7/test-blob-5ec850a8-e16e-32d3-7d45-483efac34891?sv=2024-05-04\u0026se=2024-03-29T21%3A08%3A19Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4F6B32F643CF\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6B32F643CF\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:08:21 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:08:21 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
  [...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-454e43a7-11d5-7a24-4f1d-8cfe75bbfc27?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:08:20 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-28T14:08:19.7262057-07:00",
    "RandomSeed": "1356659116",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
