{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4f9075b9-aab1-1ec9-abfd-583401e0bbae?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 10 Apr 2024 04:09:42 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC59140CFD9971\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:09:43 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fe4beeaa-d595-0e78-db7d-42dd85a63d9f/test-blob-4d42d907-f42d-7c12-51a3-413a1260db9d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 10 Apr 2024 04:09:43 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC59140D13A191\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:09:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:09:43.3376145Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fe4beeaa-d595-0e78-db7d-42dd85a63d9f/test-blob-4d42d907-f42d-7c12-51a3-413a1260db9d?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 10 Apr 2024 04:09:43 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "rJOkICqDsEZKxL5/cfYbwvLvCeEwa6wLwFKZnxcSwjtADlIQDMLKMp8eXlUXahOGuNRh5Df8C0DnmWDX6RAuNwKDP2KkC7UvJNdCEQxW9FY/E\u002BdCsN0ERAMRKHNh8kiO7ydTkyuw4awfMb9fufk0kKQKmNUp7IYkf/tfkuJCzTKOsyHlA2AqjjE6I34dpIoJ3ZjOV1lzZQOgLhQwUU/K3GSM0QXXTo1E3wqj78gIBtpwVbVKdHbZG04eRdRL\u002Bj3ib0cakNKEMo4LiXhPz3Y6mCg5v/uZf2jus7W3uQm4\u002BOTMwH\u002BB7XUH6yMmP\u002Br9iUzY46ys[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4f9075b9-aab1-1ec9-abfd-583401e0bbae/test-blob-29425353-73ea-a6df-2693-89a6891bde24",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 10 Apr 2024 04:09:43 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC59140D2A337B\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:09:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:09:43.4855291Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4f9075b9-aab1-1ec9-abfd-583401e0bbae/test-blob-29425353-73ea-a6df-2693-89a6891bde24?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 10 Apr 2024 04:09:43 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "mJ2fkMX0W/SFlCnXZLoR3j1EK\u002Bm/mBM3KB5bB/DQUu7fFEj7lgb1nptAWy3tX5ofMQrefScaNf\u002BKZ2emmFMEtEE7909yFkg2T4xNfz3lScmDPNbl8dXHxd9IcS6eTgZIPKbrsmdLrRvCqC6azbbBpR2dI1t9H8NsczJwKaQamACGBUKX\u002BZdiOI67IkmmLPcoh8wQACuqyhzifz4024N2qBAtFMdzKquGO\u002BvMwvx6xUY6R6LYCZfV2zoltHlYLlwLRHo5eRgvtFwgicVA3QggZ7n3\u002BZPhnZ54VziNTnUxLQyOwX2CQUwuC5NFuIDRlf0yBUzAYTXJKafbwCHgombn7ly5sRuKniZtye7/nOUep8E6WkgpcczXxJjWpoEqTWgtXskjGO[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4f9075b9-aab1-1ec9-abfd-583401e0bbae/test-blob-29425353-73ea-a6df-2693-89a6891bde24?sv=2024-05-04\u0026se=2024-04-11T04%3A09%3A43Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC59140D33CF06\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:09:43 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 10 Apr 2024 04:09:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:09:43.4855291Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fe4beeaa-d595-0e78-db7d-42dd85a63d9f/test-blob-4d42d907-f42d-7c12-51a3-413a1260db9d?sv=2024-05-04\u0026se=2024-04-11T04%3A09%3A43Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:bd25f688-001e-0062-62fc-8ab7c6000000\n",
        "Time:2024-04-10T04:09:43.7425767Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fe4beeaa-d595-0e78-db7d-42dd85a63d9f/test-blob-4d42d907-f42d-7c12-51a3-413a1260db9d?sv=2024-05-04\u0026se=2024-04-11T04%3A09%3A43Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC59140D1D8B27\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:09:43 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 10 Apr 2024 04:09:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:09:43.3376145Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fe4beeaa-d595-0e78-db7d-42dd85a63d9f/test-blob-4d42d907-f42d-7c12-51a3-413a1260db9d?sv=2024-05-04\u0026se=2024-04-11T04%3A09%3A43Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC59140D1D8B27\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC59140D1D8B27\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:09:43 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 10 Apr 2024 04:09:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
  [...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4f9075b9-aab1-1ec9-abfd-583401e0bbae?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Apr 2024 04:09:43 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-09T21:09:43.1300229-07:00",
    "RandomSeed": "610180752",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
