{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3cde3008-85dd-8de8-3448-20f2e0e229d8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Mar 2024 21:08:34 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B3BC3153E\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:08:36 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ac5c59ff-3410-a2e9-246a-b30a126698fd/test-blob-8bdb4044-fd73-f22c-a3a8-b580be087a65",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 28 Mar 2024 21:08:34 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B3BD79A90\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:08:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:08:36.3848336Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ac5c59ff-3410-a2e9-246a-b30a126698fd/test-blob-8bdb4044-fd73-f22c-a3a8-b580be087a65?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Mar 2024 21:08:34 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "VQv3NweSmhR\u002Bl15B0HRvJQsX/v9uaLdAl5WmodikMlOL/0cLwfdYPYNS9D3eLG4AvOOIaM9nXe1Tt59y7Pk82mQLttEsZGMUv8B8HHR5YmsmpeX1G8qDI6FatwpX5lGKFRrZ03ac1Fh/dKgP6kF52VQ0S0YTR76Zh5Iw0qxYvNlv8gZZoI/0itGMdachdDlf4d62I5oLds5cP0vjbAKrJrjPoPg7HznFP8B1htIXdxNZ0PDOopg\u002BZHw4/WBEEB7P4E7uUtRBJMGk8OPZle/7Rcg3ipsR3YQfkTx7AyHYgS\u002BipaaDKCU/GKwuKbG1ZM6NPLiXDIaCvgPJz8[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3cde3008-85dd-8de8-3448-20f2e0e229d8/test-blob-e6f575c3-299d-4d1f-22d1-8edcebb05e9a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 28 Mar 2024 21:08:34 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B3BEB46C3\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:08:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:08:36.5147594Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3cde3008-85dd-8de8-3448-20f2e0e229d8/test-blob-e6f575c3-299d-4d1f-22d1-8edcebb05e9a?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Mar 2024 21:08:34 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "QnZ337Sby6ai5hdnbH4k3b1UaaZkqYfvnffkWf6jfoLzVxOdH0lQpn1/Jc00UwNDXBpGx1tb55nuh0K9t3Gn/2eUdBRqh71zA8Io5YO5ukrzoP3kXbcnl3B6rpcHk\u002B4L1yZmoN7u2NVc0sSYMwEWNM33yRd0w6Gwbd2k8NglbHDTHA5cUxprBccoh4vzjmRuY3nKD8nXlxOFtjIBSuj8N2VTxRbzueGyjMRQTDsWvN54NYxeWl2m/IX61pznarvfLFAmn8lNe6qYF4MFhkvXb/lUiBRbndwHrMiR\u002BOJEyyEJcB/r7x0UK7rixkLaoXU5Imejk\u002BGmhI5zHvIBvILHU0xh/BYr7H/cP11aeNaaLAtSV9Z7oTc/YuyReNAqE283G3P1eaRfDjbox1OE[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3cde3008-85dd-8de8-3448-20f2e0e229d8/test-blob-e6f575c3-299d-4d1f-22d1-8edcebb05e9a?sv=2024-05-04\u0026se=2024-03-29T21%3A08%3A34Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6B3BF5CC82\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:08:36 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:08:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:08:36.5147594Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ac5c59ff-3410-a2e9-246a-b30a126698fd/test-blob-8bdb4044-fd73-f22c-a3a8-b580be087a65?sv=2024-05-04\u0026se=2024-03-29T21%3A08%3A34Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:5f1704f8-101e-0051-1954-81e86d000000\n",
        "Time:2024-03-28T21:08:36.7400098Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ac5c59ff-3410-a2e9-246a-b30a126698fd/test-blob-8bdb4044-fd73-f22c-a3a8-b580be087a65?sv=2024-05-04\u0026se=2024-03-29T21%3A08%3A34Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6B3BE1D23D\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:08:36 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:08:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:08:36.3848336Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ac5c59ff-3410-a2e9-246a-b30a126698fd/test-blob-8bdb4044-fd73-f22c-a3a8-b580be087a65?sv=2024-05-04\u0026se=2024-03-29T21%3A08%3A34Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4F6B3BE1D23D\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6B3BE1D23D\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:08:36 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:08:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
  [...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3cde3008-85dd-8de8-3448-20f2e0e229d8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:08:35 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-28T14:08:34.6892588-07:00",
    "RandomSeed": "1416142668",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
