{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0c0927cf-1e77-8ff6-c163-d6075ef5bf14?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 21:40:57 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD423FF267C95C\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:40:57 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-04ed8730-5e1e-0f56-b6e5-6cddf9407bb6/test-blob-436d8d4a-8ec8-33b0-39f3-5fd770729343",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 31 Jan 2025 21:40:57 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD423FF276C559\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:40:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:40:57.4731363Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-04ed8730-5e1e-0f56-b6e5-6cddf9407bb6/test-blob-436d8d4a-8ec8-33b0-39f3-5fd770729343?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 31 Jan 2025 21:40:57 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "4ZUIiH9PWMUbMG8jMWm8ur5ykCELIusgQrhghXMva0E27YY7eJqkVSMD1B1ylIYYZaMQNoz7pb+p50XH7tJR68Ut7UPjgEIkzjv9B03Ora4xSCDQHzS1O0fHkpBU3GZQsulXRadDNeRg7GhQ/Z5x2zqXlqaygMyRd7H8G+6yz/LUrVRkdmgG7hI7cDLLZD2oVbZVvEbAnTIcxc31Rhr1rhx2fFBKDWXSkKeTdhCZxRN0U8U4XBOrFA8iR7CaEaf4RcIWVejtXkhQgyueLCcigwC6gPNUvVEJymhAKMW1N38AmjFNg3Aqh/R859nnDefo/8Sw35C0pIhxDYt/rDaDm0usnZL11[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0c0927cf-1e77-8ff6-c163-d6075ef5bf14/test-blob-5ac85760-d289-135b-ce6a-4e4a0a338e8a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 31 Jan 2025 21:40:57 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD423FF2865371\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:40:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:40:57.5740785Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0c0927cf-1e77-8ff6-c163-d6075ef5bf14/test-blob-5ac85760-d289-135b-ce6a-4e4a0a338e8a?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 31 Jan 2025 21:40:57 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "VkoxZKJfYc3hZ61xFlhkxUFbnmfhci1PnZ4cSxMjscT9POzSpgzv/N0TXdorpxOU6ikj/6ot7eMd4ccDQhW5vbboc9lrkR81bKGJzRVSJPaLiGHp/7Ia0E8ItcRE67nHWp8jQzM6KFkK7pMIox/Oyr3ReLq00L0EzqKJY9xa8IDownN1LuDCUV8I3hEfES0vOuoHc3P/E4niH3WQsMV9sP0SIOCsWJvcDidarPKs5bx1WijxUn0N6a/pkw9rMaCaiy4UDPBMguFPK2VLpGaXNjq4G1Wci12ABTcxw8WMcd2GvyDDl9jLKNdHoScYwURIUl3VshVL/v/RlAe5G78cw7qHxOVG055h7PN+VOo1aEPz6HBotr7HO8Eh8gPREg0XK95tkPxfAn++c8UizKkVmyzDxjJPtAz[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0c0927cf-1e77-8ff6-c163-d6075ef5bf14/test-blob-5ac85760-d289-135b-ce6a-4e4a0a338e8a?sv=Sanitized&se=2025-02-01T21%3A40%3A57Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD423FF28D7E51\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:40:57 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 21:40:57 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:40:57.5740785Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-04ed8730-5e1e-0f56-b6e5-6cddf9407bb6/test-blob-436d8d4a-8ec8-33b0-39f3-5fd770729343?sv=Sanitized&se=2025-02-01T21%3A40%3A57Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-0c0927cf-1e77-8ff6-c163-d6075ef5bf14/test-blob-5ac85760-d289-135b-ce6a-4e4a0a338e8a?sv=sanitized-value&se=2025-02-01T21%3A40%3A57Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD423FF2A632D3\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:40:57 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "QcyzCFfXVYg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0c0927cf-1e77-8ff6-c163-d6075ef5bf14/test-blob-5ac85760-d289-135b-ce6a-4e4a0a338e8a?sv=Sanitized&se=2025-02-01T21%3A40%3A57Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD423FF28D7E51\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD423FF28D7E51\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:40:57 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 21:40:57 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
  [...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0c0927cf-1e77-8ff6-c163-d6075ef5bf14?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 21:40:58 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-31T13:40:57.5498014-08:00",
    "RandomSeed": "336767313",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
