{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ca4f933e-85a5-8c88-d12c-b92f6876594c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:24:33 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CCDA1E82F6\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:24:33 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ca4f933e-85a5-8c88-d12c-b92f6876594c/test-blob-9181a30f-08c0-3b37-6df0-fb58c7092744",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 30 Jan 2025 01:24:33 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CCDA30A72A\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:24:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-30T01:24:33.4606122Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ca4f933e-85a5-8c88-d12c-b92f6876594c/test-blob-9181a30f-08c0-3b37-6df0-fb58c7092744?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 30 Jan 2025 01:24:33 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "mME9/VjM24i5cYVJl987fZTbFnJxWnTLwV+qY9gYAkMNsGujoTiILSEKv8rFlZtFx5Rlq8wgLj5McTv5InevoG5BO+Z0l9xcUuhRZ5qpBizEZJxEs1d27YItVi/8jguqWh5cg1m00S+3CVjjzsajo2oPNb3aa+0Xy05kRkCsX8Pdpwx7TYPTD5NtjKn+kx68ibPF7VlNz+8xRLgKUIruC6mUBie5J1XmOyUqbd5DGDcvqL2M53JqkNcdSgjLyL8JfoEAaYz3AmFe3rE0ImIR7SuA26fNYSQ3KnZQnN1MG3JmIe5dQ6+rOKZbLgjANm10C13dS+0XPBxcyT4WpmWEEcI/zQF0s6p81KMBcTMbdvQI3JGAb9CFTuXRAHlwlJFB1x1GgWhrAFezYHZKFcrpQFJKDcrUBKH[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ca4f933e-85a5-8c88-d12c-b92f6876594c/test-blob-9181a30f-08c0-3b37-6df0-fb58c7092744?sv=Sanitized&se=2025-01-31T01%3A24%3A33Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD40CCDA375CED\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:24:33 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 30 Jan 2025 01:24:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-30T01:24:33.4606122Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-90e31297-10e8-acf3-7945-d502440a6268/test-blob-6ddf8156-5ddf-3ba9-5cf0-9fd79521b919?sv=Sanitized&se=2025-01-31T01%3A24%3A33Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-ca4f933e-85a5-8c88-d12c-b92f6876594c/test-blob-9181a30f-08c0-3b37-6df0-fb58c7092744?sv=sanitized-value&se=2025-01-31T01%3A24%3A33Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CCDA4E3CE6\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:24:33 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "y2g6ayU6504=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ca4f933e-85a5-8c88-d12c-b92f6876594c/test-blob-9181a30f-08c0-3b37-6df0-fb58c7092744?sv=Sanitized&se=2025-01-31T01%3A24%3A33Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD40CCDA375CED\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD40CCDA375CED\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:24:33 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 30 Jan 2025 01:24:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
  [...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ca4f933e-85a5-8c88-d12c-b92f6876594c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:24:34 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-29T17:24:33.5246650-08:00",
    "RandomSeed": "583135774",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
