{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1ddf55e2-d64a-28a0-141a-2f95ce62b92b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:39:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1ED91DBDFB\"",
        "Last-Modified": "Wed, 01 May 2024 20:39:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9bf9723a-5cd9-ca89-8d65-04f652948d93/test-blob-667cc2f7-43df-3cfc-0d78-e51677fb07e2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 01 May 2024 20:39:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1ED93CAF9B\"",
        "Last-Modified": "Wed, 01 May 2024 20:39:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:39:50.5963931Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9bf9723a-5cd9-ca89-8d65-04f652948d93/test-blob-667cc2f7-43df-3cfc-0d78-e51677fb07e2?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 20:39:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "GnXB07MHB3FqwopV0HaTcaea/JK+aRSNwCDK8g92vJCGS+qnyFaFQwvgxRiciGN/b7ogdMxjp7BhMxOSPBRi8wb6z4WL7KlQFLiG3aT78De9S4JUVkjDI6Q5RpRC8wf2fdESobne84MQz18T3MkMZUPb1fGSDZ29N6zgUqUVDSGxj1/S6U5+31f+RIfpr0bbLeFQZx4WZHA0VGoM/aHe+8E9YkxpOXv1XfWZk8kW1IdlBSXExKYDmyvvnZXjceK2IEjFq036cfNlWwkofNGmHn/jp/d8GjYaOsYheZzlEewT4nOAUCk6a5MxXmmd2x5aSH8WAMnqOgYSqnCG2fhXgEodFJpdJ[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1ddf55e2-d64a-28a0-141a-2f95ce62b92b/test-blob-7b64264d-7e57-eec1-a171-66edf844cd1d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 01 May 2024 20:39:50 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1ED9593419\"",
        "Last-Modified": "Wed, 01 May 2024 20:39:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:39:50.7832857Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1ddf55e2-d64a-28a0-141a-2f95ce62b92b/test-blob-7b64264d-7e57-eec1-a171-66edf844cd1d?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 20:39:50 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "pNd/1G5MT1OpVeOyIH11LmstuXOhv4flHAkRGb4REFW541miQDVC0NcK1g2tHBoMBSDuwFzHHOVPmbhkOjaUmESN+D0j0+016+icl+h5NwDvBBOeIlD58sZ0U6Z93ZWgdT3JHyPc6DIyuNVzKoX81WG4dTYi9nb0lAZ3r4BHtw1T+yGrsBjcExzgbGl6hcdAd31ExWhffn7H1IscZDmy6gDHIC5jUCRJ22IaQooMeg4+NjcCAvKl832i49yMv67iLoFosmWZ3CdZ++kFRTz0u1p83S4Br+gOIiywwG1IvRu0NxMIo8eppVoQqQcIn65BriiCD+KA4X6ZWpA46Bu5ED3OUQ4o6xiT0zjT8AbgBYJ+bxJExa05M1WVb0g2cb0+VpjJOk2gGcIQ7zuprPB3uFQNuXkJdUu[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1ddf55e2-d64a-28a0-141a-2f95ce62b92b/test-blob-7b64264d-7e57-eec1-a171-66edf844cd1d?sv=2024-08-04&se=2024-05-02T20%3A39%3A50Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1ED9673BCB\"",
        "Last-Modified": "Wed, 01 May 2024 20:39:50 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:39:50 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:39:50.7832857Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9bf9723a-5cd9-ca89-8d65-04f652948d93/test-blob-667cc2f7-43df-3cfc-0d78-e51677fb07e2?sv=2024-08-04&se=2024-05-02T20%3A39%3A50Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-1ddf55e2-d64a-28a0-141a-2f95ce62b92b/test-blob-7b64264d-7e57-eec1-a171-66edf844cd1d?sv=2024-08-04&se=2024-05-02T20%3A39%3A50Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1ED99C4DBC\"",
        "Last-Modified": "Wed, 01 May 2024 20:39:51 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "W6gKVWKy1No=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1ddf55e2-d64a-28a0-141a-2f95ce62b92b/test-blob-7b64264d-7e57-eec1-a171-66edf844cd1d?sv=2024-08-04&se=2024-05-02T20%3A39%3A50Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC6A1ED9673BCB\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1ED9673BCB\"",
        "Last-Modified": "Wed, 01 May 2024 20:39:50 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:39:50 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
  [...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1ddf55e2-d64a-28a0-141a-2f95ce62b92b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:39:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:39:50.4928530-07:00",
    "RandomSeed": "793243804",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
