{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-d2eb89bd-e298-e16f-b8de-7592839ae72d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:39:16 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1EC4E6A8E6\"",
        "Last-Modified": "Wed, 01 May 2024 20:39:16 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-d2eb89bd-e298-e16f-b8de-7592839ae72d/test-blob-bdf61ec0-cbb5-78e4-1c38-98613a792ac5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "2048",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 01 May 2024 20:39:16 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1EC50FF3AC\"",
        "Last-Modified": "Wed, 01 May 2024 20:39:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:39:16.7487916Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-d2eb89bd-e298-e16f-b8de-7592839ae72d/test-blob-bdf61ec0-cbb5-78e4-1c38-98613a792ac5?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 20:39:16 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "NqQDhOtybfvMgTPom1iTblJol0ZCm5Czlo5smqc0zAe9+Hhna6fgvKYd2yChCtqqKmQfhs0nSJsUUO5dBdNTl7UrK6LfLAKqiNqgJb9wEoyzwm9CFUU5lbDdUhu5grfSyUNqdd43yv5idP7yhyLboz1iqUJjEYJv8ZbyAtnn8AUjzVx8BZ2tfPdx4KBGRw2NAa/eV9l1b7fA+4NIRMgkeoP4z7rGXp6gtCxK8jDhKaqIZAAqCJgsrV2kuwoZZDcuTGUdTXdSxqIQPaKsKn2H39HZv+DI+nLqzCFcIqOUh1D0HKXKxNsyNp5dGsr2f4PgHNw4QKRXZlLzMoFW9aP/fLZStw7XvBv2polBa+Cn9E2dfAbHW0arnbVT15FZ3ED6XZ0To8d1CWDAQZkbFftySz00uHmdOCB[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-d2eb89bd-e298-e16f-b8de-7592839ae72d/test-blob-bdf61ec0-cbb5-78e4-1c38-98613a792ac5?sv=2024-08-04&se=2024-05-02T20%3A39%3A16Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1EC51F33A7\"",
        "Last-Modified": "Wed, 01 May 2024 20:39:16 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:39:16 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:39:16.7487916Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ce3089ea-1cdf-067d-c82a-b8c92cb2f1bc/test-blob-2088f47d-8bdf-7df1-18cd-7efbc3d72d04?sv=2024-08-04&se=2024-05-02T20%3A39%3A16Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-d2eb89bd-e298-e16f-b8de-7592839ae72d/test-blob-bdf61ec0-cbb5-78e4-1c38-98613a792ac5?sv=2024-08-04&se=2024-05-02T20%3A39%3A16Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-source-range": "bytes=0-2047",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1EC551FC04\"",
        "Last-Modified": "Wed, 01 May 2024 20:39:17 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "kJlUqX66Mtc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-d2eb89bd-e298-e16f-b8de-7592839ae72d/test-blob-bdf61ec0-cbb5-78e4-1c38-98613a792ac5?sv=2024-08-04&se=2024-05-02T20%3A39%3A16Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC6A1EC51F33A7\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1EC51F33A7\"",
        "Last-Modified": "Wed, 01 May 2024 20:39:16 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:39:16 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
  [...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-d2eb89bd-e298-e16f-b8de-7592839ae72d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:39:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:39:16.6621635-07:00",
    "RandomSeed": "735351800",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
