{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e1becab9-e8dc-491d-e1ab-0aff371494a1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 10 Apr 2024 04:10:00 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC5914178957A4\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:10:00 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1ee9cb9c-dfd6-489e-3f7b-fef9695afe7b/test-blob-c0fa2672-ce6f-3105-2011-c193caa77add",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 10 Apr 2024 04:10:00 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC5914179DAA16\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:10:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:10:01.0194454Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1ee9cb9c-dfd6-489e-3f7b-fef9695afe7b/test-blob-c0fa2672-ce6f-3105-2011-c193caa77add?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 10 Apr 2024 04:10:00 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "/ZnAHfuaFKFSLreWcPr9yJrtQTHX75Z8OWy0TjOo3NU4Fb07e\u002B0LFtMgfk/qwX7\u002BhZmaCS48xQ0DROSP5cZuqVHhXVs9wUyt4SpetnFGkXjutsiZDtKn/E\u002BvODcJfDENstT\u002BCWMiwcNM7SgD3Q\u002BcvbNroS791Jt/OmEMjYkVpGX4UAScR4gVy/UETSGqox4/EnqDndsDD945fs4CFjM6NkjCCo0LAHUrVtU4\u002BYZ61JdCzHoOkgeK9UElYsm5ErTCyhbY55iRNBIFWEYFyhZXv6k3v0q5K6RBOBVL5Z2scUMgdi5woe3\u002BsJdoCT[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e1becab9-e8dc-491d-e1ab-0aff371494a1/test-blob-f5fde0a3-a141-8c7f-2828-8c0f704c7974",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 10 Apr 2024 04:10:00 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC591417B01DE7\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:10:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:10:01.1403751Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e1becab9-e8dc-491d-e1ab-0aff371494a1/test-blob-f5fde0a3-a141-8c7f-2828-8c0f704c7974?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 10 Apr 2024 04:10:00 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "QqRayE1aIkS2\u002Bz1JQc5GbM16Fw5FS2hR\u002B3IFW\u002Begco8Igqgaf9wf6hok1n9tMkO3CKiTejVB4vc7Cc3aVMdcFomtQb4mK\u002BzwWyz0IHTp48kvTlM\u002BDPhax6Cw3nYPRZVSx7/1v/GEkNy7oh4ITMGDUiUDqgZzHgqRU3oedUx24RaWoVi18yTYq713gmnZUXrfLYxRC5qP36m1ZGt2ZhuPRcEIcapozl4AK/9I\u002B5uhuAL/PkfAJdV7B8Kv/4\u002B4YUSi6D2n0d/Pdl8tUOCbR\u002BMNFKxpdyfTzyDrjWrouM7PSMm6pRNe\u002BecjL8jok9T14L/eouvjT\u002BodzxgdvEN0576RXQgW4KHQrhrFRUdf6zxL9qyqC[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e1becab9-e8dc-491d-e1ab-0aff371494a1/test-blob-f5fde0a3-a141-8c7f-2828-8c0f704c7974?sv=2024-05-04\u0026se=2024-04-11T04%3A10%3A00Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC591417B9925D\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:10:01 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 10 Apr 2024 04:10:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:10:01.1403751Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1ee9cb9c-dfd6-489e-3f7b-fef9695afe7b/test-blob-c0fa2672-ce6f-3105-2011-c193caa77add?sv=2024-05-04\u0026se=2024-04-11T04%3A10%3A00Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-e1becab9-e8dc-491d-e1ab-0aff371494a1/test-blob-f5fde0a3-a141-8c7f-2828-8c0f704c7974?sv=2024-05-04\u0026se=2024-04-11T04%3A10%3A00Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC591417E3F781\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:10:01 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "CuhNIuScWls=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e1becab9-e8dc-491d-e1ab-0aff371494a1/test-blob-f5fde0a3-a141-8c7f-2828-8c0f704c7974?sv=2024-05-04\u0026se=2024-04-11T04%3A10%3A00Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC591417B9925D\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC591417B9925D\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:10:01 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 10 Apr 2024 04:10:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e1becab9-e8dc-491d-e1ab-0aff371494a1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Apr 2024 04:10:01 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-09T21:10:00.8064195-07:00",
    "RandomSeed": "880267471",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
