{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2bd10815-e271-2e16-e539-9b25f5b1d74e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:54:38 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0063924BD4B5\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:54:38 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d289c580-f120-4d17-6f8e-18182aa6b630/test-blob-5ae90bf6-88fc-177e-c5b4-1494b2a3c120",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:54:39 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00639264BBD2\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:54:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d289c580-f120-4d17-6f8e-18182aa6b630/test-blob-5ae90bf6-88fc-177e-c5b4-1494b2a3c120?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 30 Sep 2025 20:54:39 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "mhcNiGfkP4FvU8RnxLCR8kE3CBg1n63urIgq0nUedmBhBqqJ9Uvbp8ibkjFQ65EZPOE6h+hxpvpqHtzfuWwMUdxjBr0GCP31XGBPmQ17nsH3EZaT4+948GCvH9Zv++5bj0FU7OXTEzTkRCqHIQzt7oAb6KfWeW3t6xVdVugnhmFy9ArMJrHbI/1hr5/F8c9TwjBWVBNGhBXTZwHPdb1Lvb7JFC0CIcfOP8SpdcrNKPpGCpS30DFNLG/0+L+vDK1AFfHh+9yhUKFphxVPnA9LBj4HiGspk+yMe+i+DigIHjMWaV/Y7CwdpLnyTkgc/o9fqPKBp4NCF4EFVID040F4YWnhODOwc[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2bd10815-e271-2e16-e539-9b25f5b1d74e/test-blob-4b4c3dee-18fd-e671-025a-840a08ebbc29",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:54:39 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006392771DBA\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:54:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2bd10815-e271-2e16-e539-9b25f5b1d74e/test-blob-4b4c3dee-18fd-e671-025a-840a08ebbc29?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 30 Sep 2025 20:54:39 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "jUOlXMFKXvwFsMKU8pgLpcVIkZ/GeJve6bQBBfBJNVALPlKJaA1VSyX+LTkR4aCp8PVIrds/TxWoxnMNSVkLvHpxibRFgj248kZ6yEpizAgTVxT7AYh0y+894KGaSALM8nG+n1fsZG64j7qVxYbKRvlq+vFEELry/b3ECKGbHqpDrdbZoy2wJvOmQnHN3wZocpqoL04QiOG2y6KaKFvMHXEPURew8KLMutP+nc1IJB62W5UH8+5cMyT0IteKFv6X2SX/vo3vuIH323R6EuoTbqeE48zGxCmDsx3yu83LQaTVZsOnSGaQx6ITEBd64SE64bQwBjIx0RX7fApv/P20LJnQpasmayVA9BwpsrMSCNH8uNkZmjtyo5WurMtcIMqlX+R+qjx1E3WO8BIVBx9h6XM5c0MjmpF[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2bd10815-e271-2e16-e539-9b25f5b1d74e/test-blob-4b4c3dee-18fd-e671-025a-840a08ebbc29?sv=Sanitized&se=2025-10-01T20%3A54%3A39Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE006392806221\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:54:39 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:54:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d289c580-f120-4d17-6f8e-18182aa6b630/test-blob-5ae90bf6-88fc-177e-c5b4-1494b2a3c120?sv=Sanitized&se=2025-10-01T20%3A54%3A39Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:70366ff8-701e-0032-554c-32a0c3000000\n",
        "Time:2025-09-30T20:54:39.5515193Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d289c580-f120-4d17-6f8e-18182aa6b630/test-blob-5ae90bf6-88fc-177e-c5b4-1494b2a3c120?sv=Sanitized&se=2025-10-01T20%3A54%3A39Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0063926DD95D\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:54:39 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:54:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d289c580-f120-4d17-6f8e-18182aa6b630/test-blob-5ae90bf6-88fc-177e-c5b4-1494b2a3c120?sv=Sanitized&se=2025-10-01T20%3A54%3A39Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE0063926DD95D\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0063926DD95D\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:54:39 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:54:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2bd10815-e271-2e16-e539-9b25f5b1d74e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:54:40 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:54:39.2812013-07:00",
    "RandomSeed": "777666338",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
