{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-02970db2-1ba2-c2c9-b75d-c931ddc563d0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:54:47 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00639740D09F\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:54:47 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-71bb2ca1-f290-25e5-9bb7-5d84538d7ed9/test-blob-22f015bd-b0b6-7ff5-06cb-44231e1386f6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:54:47 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006397596D33\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:54:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-71bb2ca1-f290-25e5-9bb7-5d84538d7ed9/test-blob-22f015bd-b0b6-7ff5-06cb-44231e1386f6?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 30 Sep 2025 20:54:47 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "9uD/OqiLaclUOjzb368aNT2PbdfI4KKF24rdiyn28yv5KRFFgN52hGUErHJxDj0HC7RuZIeSHhY9eV8drd2gXUcQ4bWe1LReGehxxDMvFM1N1YB0iI6jZwv6CAZ/WNaHY08qYSyHaTf/D0qfIFriDWWR0NhdK9W4bHqqo8yu38ER6WDkBbOhxmxJdXhEBEaxGPqg7Yf+Kjh5cfSx3MVrUS+IjTb6/giy7wpsFLZddGgz+YvRDfE6E78na5O+7+mn3SNIu3cPtxnx7v59khaCG/2MfuI5mUQ+Tnp30pN18wAhxDaSFLjwJEJy4B/zvYGppU+VMnEGbUTfCmz9mOSGe/r9W83f8[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-02970db2-1ba2-c2c9-b75d-c931ddc563d0/test-blob-f519dd7b-c0c4-97a6-26bf-7123eb3745b9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:54:47 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0063976C1CD9\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:54:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-02970db2-1ba2-c2c9-b75d-c931ddc563d0/test-blob-f519dd7b-c0c4-97a6-26bf-7123eb3745b9?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 30 Sep 2025 20:54:47 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "ENS+QpQienlUxEclFoRFdyBgCFUkLuSDhXeRO/638OyDPPs1OCGeYP3H+JY9N2PUwd3C6BwefOLvO7wckD56nNRbodqJDz/+wqhYXTZNRk4UvXog9QfQZb8YRf1kgc+/TFvC4pWJSrKdwyZzxh+rovRuCNPEWafMizsacMlCmkHZmBDbi2O5i3LHgzLhXJ+fbaMI9nj8+vK09VdZbtroWinkmi0P0BeRtX1g/NZ16i6cegImOqPI3Z0dJpUMXxyY3ygI/MJxkJ2Md0H7nP4bPwoovfPYwiCFHLyP8amBhFZgxxyubO5sK+plmcNizEGfAeeK46Ipvx0Hg+AF4Z/zC/LrmtThbdIcu5IJcildIk978O/B9qGzNwf/pugNZ0lKco7RdzFtvZQVbicQH030qmGQifGvMRR[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-02970db2-1ba2-c2c9-b75d-c931ddc563d0/test-blob-f519dd7b-c0c4-97a6-26bf-7123eb3745b9?sv=Sanitized&se=2025-10-01T20%3A54%3A47Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE006397753A61\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:54:47 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:54:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-71bb2ca1-f290-25e5-9bb7-5d84538d7ed9/test-blob-22f015bd-b0b6-7ff5-06cb-44231e1386f6?sv=Sanitized&se=2025-10-01T20%3A54%3A47Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:70368909-701e-0032-404c-32a0c3000000\n",
        "Time:2025-09-30T20:54:47.8702803Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-71bb2ca1-f290-25e5-9bb7-5d84538d7ed9/test-blob-22f015bd-b0b6-7ff5-06cb-44231e1386f6?sv=Sanitized&se=2025-10-01T20%3A54%3A47Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE00639762B19B\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:54:47 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:54:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-71bb2ca1-f290-25e5-9bb7-5d84538d7ed9/test-blob-22f015bd-b0b6-7ff5-06cb-44231e1386f6?sv=Sanitized&se=2025-10-01T20%3A54%3A47Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE00639762B19B\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE00639762B19B\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:54:47 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:54:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-02970db2-1ba2-c2c9-b75d-c931ddc563d0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:54:48 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:54:47.5975240-07:00",
    "RandomSeed": "1577042264",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
