{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-4590a6ab-5af9-54a5-a066-3f5c5be04559?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:27:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690F05EDE51\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-bae5d67d-5141-a595-5fa8-ea6ef8753925/test-blob-3483eac3-1068-9f0b-0552-28ba62fbae63",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:27:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690F07BA1AF\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:27:04.7814575Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-bae5d67d-5141-a595-5fa8-ea6ef8753925/test-blob-3483eac3-1068-9f0b-0552-28ba62fbae63?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:27:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "h+jPB6MFuY537zJEKc0+xJAnx02T98VYKcD0yvmB7O0R+H0N/KPjf3tM37sjm7tTZcOdt1h1zo8id93iEO6U9QJFMzFPMcjsREfRRhgKNI4EoWU15DWUmynu6oXFAG6NuOm43WiKAzT7sHMQo4d2GEJP3m+IXxHNsZcHYUZCJkPZRI4vUVclep0xOjPBg/eid9FCdiL+BFjX6yzQgqLtuIkvN1/5R8brKWPRViTeCy2fZel1ALAh2j81WGYqVfj7RIKpkkyYqC8KVk2/La40+eD+MB24eLfZDVwfxO9gwNNr1RGiNHjhB726aqliYq2RAF6GLCXaQ8zK0ITweONAqpZ5U1eck[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-4590a6ab-5af9-54a5-a066-3f5c5be04559/test-blob-add3b0ac-1631-0f1a-b5d5-a6edd800c36d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:27:03 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690F09457AE\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:27:04.9444027Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-4590a6ab-5af9-54a5-a066-3f5c5be04559/test-blob-add3b0ac-1631-0f1a-b5d5-a6edd800c36d?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:27:03 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "lgmB4Pt7nyzS5znb3g7B3gvvzgmBSVCTeMKBjIH2pjzc8SWaZT6nGks8WLAby0cZUeo4g7GhHEy47mg5+hKq3EH8/u3oJnnNSLO+RPGgd616aDuXviKLO9TY4XbWbiA4knxvH8xaMCpwazv+4tdbGHa6vpHXEh4eccMYD0QC99mShbJ0MVjhIDgQJlLnjVj9fckAG6+PYX9eUK4JQiDlbnRha10k5uYe2J5ZxuzLN+NqG5J7AtspAyQzFuGp2N0YKrjehSH72Jfi4UIRNZqTkhnKnyaNamuYN2c58c8FdQDAQZsz7LHCbkL6mCCYGM2Jn4PI3jm3isBMRU25wufH3WxCUPT/X6ZnCDDjk9JLAB+ZsFFLPZbHCbfa56dkCKxbM7uzVsjZiUDdYNYI0/buAEUuHxGVe5/[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-4590a6ab-5af9-54a5-a066-3f5c5be04559/test-blob-add3b0ac-1631-0f1a-b5d5-a6edd800c36d?sv=Sanitized&se=2024-06-08T01%3A27%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC8690F0A0D9C0\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:05 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:27:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:27:04.9444027Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-bae5d67d-5141-a595-5fa8-ea6ef8753925/test-blob-3483eac3-1068-9f0b-0552-28ba62fbae63?sv=Sanitized&se=2024-06-08T01%3A27%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:dc749079-d01e-00de-1c79-b8e2c7000000\n",
        "Time:2024-06-07T01:27:05.2137535Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-bae5d67d-5141-a595-5fa8-ea6ef8753925/test-blob-3483eac3-1068-9f0b-0552-28ba62fbae63?sv=Sanitized&se=2024-06-08T01%3A27%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8690F087FCB0\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:04 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:27:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:27:04.7814575Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-bae5d67d-5141-a595-5fa8-ea6ef8753925/test-blob-3483eac3-1068-9f0b-0552-28ba62fbae63?sv=Sanitized&se=2024-06-08T01%3A27%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC8690F087FCB0\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8690F087FCB0\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:04 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:27:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-4590a6ab-5af9-54a5-a066-3f5c5be04559?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:27:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:27:03.3645486-05:00",
    "RandomSeed": "2095043361",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
