{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ea30180f-96b2-c174-fc9f-cc8ddbb503e6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:40:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1EE037F9B8\"",
        "Last-Modified": "Wed, 01 May 2024 20:40:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-60f613b8-824f-33fe-f12d-a5c83dad0d4c/test-blob-6d9de736-6c9e-e892-e54e-1af34848f9f1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 01 May 2024 20:40:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1EE054F780\"",
        "Last-Modified": "Wed, 01 May 2024 20:40:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:40:02.4995712Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-60f613b8-824f-33fe-f12d-a5c83dad0d4c/test-blob-6d9de736-6c9e-e892-e54e-1af34848f9f1?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 20:40:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "SFhrKZmCvRUS0+HXrRGPjxVojJ/NOSSdO3kcn+g2ee/rvocGYXRl0wgl680hVXdbT9F2yB2Z8g40zu4gZh0s21ry7O6KiS6gAriWp05We+UBwE8XwLDSUcx40pOGRG3q+A9zLmiI0cWi1cVlA0q/3VIIHqXNFRupH5siErabGr1Kq64/4kx8ee+JdOrrbE2BuPVAfSXIHeP0yg7NZr4PB7sIG1ibgPoFi6W2Q6AxvbNNoFnBWp2XgY7LShc9rxMwem0u41H15Tj6O/GAEtlDwwxbf8VlTawecJnJ0DXix9yRhcgyAtphWLohxx6rF2+0h4cL4jBOyy3BEHO4KxQCF3QV7owQE[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ea30180f-96b2-c174-fc9f-cc8ddbb503e6/test-blob-dae45518-425a-0b4e-1305-6098c539fac1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 01 May 2024 20:40:02 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1EE07106E1\"",
        "Last-Modified": "Wed, 01 May 2024 20:40:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:40:02.6834657Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ea30180f-96b2-c174-fc9f-cc8ddbb503e6/test-blob-dae45518-425a-0b4e-1305-6098c539fac1?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 20:40:02 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "ZtUZX+5OZFYvv7H9IZQqs6VkWqd/YeRtntw+4YW2aQmLFRrwE9nhClklvBpVqq8jB2DbMvNluATxrMASD4PReVancgt6OZ/Mgk9NWqTJF/QsGtok2jcWJl0V/mcYz/rVU0PErTijqM3AD6+jF15fKJTM5vWprJ4ekUuuZTs3s7NUdwZhBGq7iHINZMqHcg7+tdbTS+gFLKakpRvs9UOSiFv8TqBX/iMqEF2CnEjTlx49sLBkZGjKT0tfvF9Oz5MvettuiyRuprazqTqLgpBe0Q79r0WSLSPzMf9U+EHE20HKUyFsZAz6zgn5sLstP8y7AetQUSBOnE23e1klGa517835wS9u8WwBA+A7mXxoxfIzmfZWc4ohe7fUtemz1LVag8HuNH2dTBB+Tk4/EgLQT7Vm8n+4Hnx[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ea30180f-96b2-c174-fc9f-cc8ddbb503e6/test-blob-dae45518-425a-0b4e-1305-6098c539fac1?sv=2024-08-04&se=2024-05-02T20%3A40%3A02Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1EE07EE789\"",
        "Last-Modified": "Wed, 01 May 2024 20:40:02 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:40:02 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:40:02.6834657Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-60f613b8-824f-33fe-f12d-a5c83dad0d4c/test-blob-6d9de736-6c9e-e892-e54e-1af34848f9f1?sv=2024-08-04&se=2024-05-02T20%3A40%3A02Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:f1281824-301e-001a-3907-9cf05d000000\n",
        "Time:2024-05-01T20:40:02.9871483Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ea30180f-96b2-c174-fc9f-cc8ddbb503e6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:40:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:40:02.3937353-07:00",
    "RandomSeed": "1761169852",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
