{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-095ead4d-aae6-fb49-ccd7-ab3e19859386?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Mar 2024 21:08:23 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B3504ED1D\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:08:24 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-76ebdba5-c3b0-a3a9-16e5-8ffb45cb5e8b/test-blob-f26ce772-9df3-8435-5381-4a18cd66cda6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 28 Mar 2024 21:08:23 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B351970A8\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:08:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:08:25.0722472Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-76ebdba5-c3b0-a3a9-16e5-8ffb45cb5e8b/test-blob-f26ce772-9df3-8435-5381-4a18cd66cda6?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Mar 2024 21:08:23 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "vhwpaOgoek7LbzTI\u002BfQCY6f301iO38X8PcoXa1tiDHbhCGzer6mHmr8KZWbe7N9TCLIS9BprVd5XLCseEQ/yaGO\u002B5/GHI7P\u002BbziZhHpfHVDqxGKpTxhcdbKOh4N9aYmwF/wDIATuy\u002BT\u002BFITh0tFk9w7bM02sSRlKYXI\u002B\u002BZwwgAav6Gx9W/1L/Ph\u002BqjuTeqPhKY90ojU8BM3juL\u002BSr9JIzpN9Mulk5psRjzdULp7dt\u002BfPXc8Mu97Rc\u002BSemqM\u002BuEwmNtynFki5fEP0YxP959UvBQHXw1ICOxK1r[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-095ead4d-aae6-fb49-ccd7-ab3e19859386/test-blob-dd69bf9f-ffd3-0094-5826-6b98eff3445c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 28 Mar 2024 21:08:23 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B352C32A0\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:08:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:08:25.1951776Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-095ead4d-aae6-fb49-ccd7-ab3e19859386/test-blob-dd69bf9f-ffd3-0094-5826-6b98eff3445c?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Mar 2024 21:08:23 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "Nownka0V9zrvgY4S9\u002BFLuyUU1xZsUjOHr8XnhO6BYTMIPPAYrvWf2rm4K5huqmJUZqUTMimvfeNYoOLoLnJMbh9bCbvxMg0vdPxdtCaaGQRjkh5Ibi4JWb4Mvw0TtqxGa714E6GmYzOY474tUcm9vYfdhZtUA//xUa/85HL/HL1QFkhoIgVjvC/rr4pw2wf1TwKGNTEQ8mi\u002Bh8Hxqn7AmccA3TqAVZuBechraFN1gXanB5VweeaMPyTgqppEchKxKxbDb/7MdfpmBLxppIkUSAZLSaLoTyDgdJ4Wn6oAPAa1uj09shF42pKbCnQqIpqazGGU\u002BSlvyNv24vtfttVPZce2s\u002BpL15b00m4QTUSrtlEDe9JJa0PdRvFhRs8VGCS8TKSsc2\u002[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-095ead4d-aae6-fb49-ccd7-ab3e19859386/test-blob-dd69bf9f-ffd3-0094-5826-6b98eff3445c?sv=2024-05-04\u0026se=2024-03-29T21%3A08%3A23Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6B3535F547\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:08:25 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:08:25 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:08:25.1951776Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-76ebdba5-c3b0-a3a9-16e5-8ffb45cb5e8b/test-blob-f26ce772-9df3-8435-5381-4a18cd66cda6?sv=2024-05-04\u0026se=2024-03-29T21%3A08%3A23Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:5f16e3c5-101e-0051-0c54-81e86d000000\n",
        "Time:2024-03-28T21:08:25.4150891Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-095ead4d-aae6-fb49-ccd7-ab3e19859386?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:08:23 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-28T14:08:23.3702891-07:00",
    "RandomSeed": "9529376",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
