{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a4640207-2347-8fa9-1712-2eb21f01e026?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 10 Apr 2024 04:09:47 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC59140F882961\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:09:47 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7d3118ec-c90f-51ac-f33a-fecde809dab8/test-blob-eed1b4e4-3c54-d98c-8433-2e6e3323f558",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 10 Apr 2024 04:09:47 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC59140F9C84F3\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:09:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:09:47.5901683Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7d3118ec-c90f-51ac-f33a-fecde809dab8/test-blob-eed1b4e4-3c54-d98c-8433-2e6e3323f558?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 10 Apr 2024 04:09:47 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "yzHX0NJPPfybPbrJ8BW8FWU6SXpKu3V2HmMD0LEweBfvTY6T3WsUDCzndeMxfjf7qnHUxY/8lw\u002B7YbJuS21LasWj2aOGKTf6JTxNYkaRRaArCCU/XLOH8rV/13y5pcC/nAoejaSTdIE52Z9SrzTJKhwRQ0NHCw0RG\u002BftBlG7QH98jsY7crf7mJOkBoITNUOBtq1gp2J9d5D9DXK9pm0wfZkf1iFujbdkFauvowSK/eajbFCkW5kd/hY1PmVEPvEldIjp9F4iEyj1\u002B5G3zdSLcg\u002BLGTodjCL/AtcKOE9SINa5ii58oQmHgVknrmAHZTFBqctVuCW3C[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a4640207-2347-8fa9-1712-2eb21f01e026/test-blob-82a2d973-2ccf-dc30-9058-dd3da8012c3f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 10 Apr 2024 04:09:47 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC59140FAF1FCD\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:09:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:09:47.7120973Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a4640207-2347-8fa9-1712-2eb21f01e026/test-blob-82a2d973-2ccf-dc30-9058-dd3da8012c3f?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 10 Apr 2024 04:09:47 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "0rKvLCo2tGsm4HOwO2Z5cAvYFVON27DPdQCQp5eHPcBP0Lr4jDM0ere\u002BzqnMh5SJZtQv6Q/g5fcB37YqpgzUn6OyYWqsgeTXo5qbzw0HA\u002B5sBkHDV1OxburD9qx8CtSq6i4FGSUp3eXvV0V0RBXq\u002BtzHvZ/LEEdPAPJ/6Io3W5jF8eXeAenIQilb0wAOPSnV2fzPtEw13tnnthkzqfRat/ysrlMwC/jy/3t1bz1HQcPIqg\u002BOaKZMkBIL90rQlZg1ABsDYY7WpM0D3LXRv26cn3VVav7lzE9WYB5BJRStImniQG4hQ9818gZBiovwetGjb1fVeyuZUDTMrQBwlX\u002B5VbpM7n4AeluVH3f4o0LEZeZMnbW82Kc\u002BSPA6VZbfxV2Hi[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a4640207-2347-8fa9-1712-2eb21f01e026/test-blob-82a2d973-2ccf-dc30-9058-dd3da8012c3f?sv=2024-05-04\u0026se=2024-04-11T04%3A09%3A47Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC59140FB86D42\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:09:47 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 10 Apr 2024 04:09:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:09:47.7120973Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7d3118ec-c90f-51ac-f33a-fecde809dab8/test-blob-eed1b4e4-3c54-d98c-8433-2e6e3323f558?sv=2024-05-04\u0026se=2024-04-11T04%3A09%3A47Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:bd26043d-001e-0062-7dfc-8ab7c6000000\n",
        "Time:2024-04-10T04:09:47.9683447Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a4640207-2347-8fa9-1712-2eb21f01e026?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Apr 2024 04:09:47 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-09T21:09:47.3784742-07:00",
    "RandomSeed": "924587597",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
