{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-335a46b2-1749-3906-528f-50407c83e7f7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:40:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1EE0E89A1E\"",
        "Last-Modified": "Wed, 01 May 2024 20:40:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-50cc7344-b956-8678-2864-bafac79f5542/test-blob-69aba401-e57e-18ff-7992-c8353c18f31a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 01 May 2024 20:40:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1EE1058FFA\"",
        "Last-Modified": "Wed, 01 May 2024 20:40:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:40:03.6569082Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-50cc7344-b956-8678-2864-bafac79f5542/test-blob-69aba401-e57e-18ff-7992-c8353c18f31a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 20:40:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "pZy0sWQSCgJ2Kp7CPJ4SxDvxeMk2A81Bwu1kTtYWS317ux4kHIAspjIZ5Dic9EN3ImosJIDShKLPcu92rrwrYN8gR4F/7ai6xdGXHR6Upc2p7Cts6Sf9qDd8VamRtfh17YRZfK3C9zTCcl6uOmeDOs0hzcGQv3e3I55KA5j+KRDZIS+aOygg5/X3qnfIT27P+Bvcb+c25S0MoVgOd/Scw0hO1Rg36f6kAObMmBUA79Qwegp8IbkoojwBjZrQEm8AW+YueXlVmA8dOG4BaUwYDLGE3v3qH6GPJjLcNVxj1O53zD0u0XVa2+L7X+lKJjjw6YHoSzRxFjxEn1NHeGKyuWOAip0O6[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-335a46b2-1749-3906-528f-50407c83e7f7/test-blob-d90a2e92-99d5-c6d8-9e47-b0dff65bcc3f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 01 May 2024 20:40:03 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1EE121ED6C\"",
        "Last-Modified": "Wed, 01 May 2024 20:40:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:40:03.8428012Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-335a46b2-1749-3906-528f-50407c83e7f7/test-blob-d90a2e92-99d5-c6d8-9e47-b0dff65bcc3f?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 20:40:03 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "4vKKuB/r5YOC2VhaGlSYbZvYC+rH5Nr0ggNLCWLsqKyeeh1nqEq8coOXW6iObFXyLCnBqpMmr/4YljUcoNwhljGsu6A3McVRHJlnMIgxZhatWd04Kv0ZeMoeTxIUoNGmdsV34rC0uvtkcI75vn515i8ebkf/6GszkkPVGOGzPHvHwbrDuoRl+J7i1LpvH7lMqWji9jGKp41ZRE9t36IZsTMSMv3EsSyruXWpHRSxxHOKiW550EZJPBksanY1+Bn7yCKGXO27h/c8Njy84Yp5p3/b4lYzoODtyPXkl0e2dsBcrVTxK2eFzgF3PZoJjVuOssL2WRXCxyhBmJP41/CvhcB7XzM2iHwYVRRVvGNG4zqZVeWFwB2rmeYrr5LTjfYRx7fajS4nWCpF3QMAbQrF+7RZXoIKKsW[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-335a46b2-1749-3906-528f-50407c83e7f7/test-blob-d90a2e92-99d5-c6d8-9e47-b0dff65bcc3f?sv=2024-08-04&se=2024-05-02T20%3A40%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1EE130433A\"",
        "Last-Modified": "Wed, 01 May 2024 20:40:03 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:40:03 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:40:03.8428012Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-50cc7344-b956-8678-2864-bafac79f5542/test-blob-69aba401-e57e-18ff-7992-c8353c18f31a?sv=2024-08-04&se=2024-05-02T20%3A40%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:f1281bce-301e-001a-6107-9cf05d000000\n",
        "Time:2024-05-01T20:40:04.1630345Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-335a46b2-1749-3906-528f-50407c83e7f7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:40:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:40:03.5524126-07:00",
    "RandomSeed": "1882886902",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
