{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2655ba99-b8f7-4835-77b8-3395cf40a248?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 23:05:47 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB2714B1A63\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:05:49 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ef7c6290-f27d-a6ab-2f56-15bffc59c3bc/test-blob-2c8d4747-a10d-b77e-0f32-bb8fbfaa554a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 27 Mar 2024 23:05:47 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB271724037\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:05:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:05:49.4235970Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ef7c6290-f27d-a6ab-2f56-15bffc59c3bc/test-blob-2c8d4747-a10d-b77e-0f32-bb8fbfaa554a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 23:05:48 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "GSq2SpYMiwLWanp7NjEr3nukG2PLSBkSyQlh5CCdT9deHK5vsaBqZJTwS4vSgQ6Z4gFYCMey2dERpICNqqbiORujHRmDuy3aObfP2vyNQEj6yAEfRUcPrELdXg0f3bntDhJwL2T0FSfTfs4P4//Ug2M4kuKkwvPUk3HXpl0gulz\u002B4cvqHRHjBbLaS8d4/8lDCNqp5krXSEwem5vzHW/Js8NxEQEz6WVRVYwvyXcsW5Onk52CdtMSJph/zIJ17\u002BhCEZgDBu7HEB91WJG9p37U8T8IS4rSRzzwX\u002Btosxzj22Wk7LjeKVSl4IJ9DR5BVH8aqttCbaRdcMlbEq[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2655ba99-b8f7-4835-77b8-3395cf40a248/test-blob-8d9c1482-15d8-f7d6-9439-81595f518402",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 27 Mar 2024 23:05:48 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB271941B2F\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:05:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:05:49.6444719Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2655ba99-b8f7-4835-77b8-3395cf40a248/test-blob-8d9c1482-15d8-f7d6-9439-81595f518402?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 23:05:48 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "YHvmz47liMVRgx6QNtdhIMCUnWX47IScqP0L9WHP3vSgkSNuQbb1\u002BZUhPMj2/Dd3Oc86\u002B0GpgHP3SSaQ2pNjgaUp76S0898JnqTQ1rC7pqzFlLuSlOOy9hCvdviQZR8BvrojzAyTwkXwMFyd2KnDO6N5y0bX0e3BdvmTBHzmeTmEzxj1l9mgMtF1oWOHFR5n7DpVFpnZKezNYVUT/77ICbciGAmRzaPJ2Zl0YS\u002BJOmHbLBhCkWKgq6UsKDaEjTISrZirZPwU1R6WizwAZMe8QybzONKlhndVgmxjZaVtRUxmYrSX3dVlxlb5qwUloEfdb\u002BQPkFRfbCYgVuKPsXB5KUbvmQISJWVQjnJ8rNtxL\u002BElhfbAXbX3BvWOdofy1RTmgIK/NQ[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2655ba99-b8f7-4835-77b8-3395cf40a248/test-blob-8d9c1482-15d8-f7d6-9439-81595f518402?sv=2024-05-04\u0026se=2024-03-28T23%3A05%3A48Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB271A3F777\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:05:49 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:05:49 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:05:49.6444719Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ef7c6290-f27d-a6ab-2f56-15bffc59c3bc/test-blob-2c8d4747-a10d-b77e-0f32-bb8fbfaa554a?sv=2024-05-04\u0026se=2024-03-28T23%3A05%3A48Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:ee548f76-601e-0006-709b-80465e000000\n",
        "Time:2024-03-27T23:05:50.0127257Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2655ba99-b8f7-4835-77b8-3395cf40a248?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 23:05:50 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T16:05:48.1724515-07:00",
    "RandomSeed": "745378211",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
