{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0ac09111-a8bd-0e3d-c27d-d6a184078d9c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Mar 2024 21:08:21 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B34147865\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:08:23 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0ac09111-a8bd-0e3d-c27d-d6a184078d9c/test-blob-86311666-97e5-b51a-f42d-62c63cf95462",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 28 Mar 2024 21:08:21 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B3427B9A7\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:08:23 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:08:23.4881447Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0ac09111-a8bd-0e3d-c27d-d6a184078d9c/test-blob-86311666-97e5-b51a-f42d-62c63cf95462?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Mar 2024 21:08:21 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "3/9Wyy8sol4EW0AJ5CFYOhhxaVwANDQ0uZEDFCjAQdmMEw/PklM0hrxV8jm33d5to6KTQEToVqrKIRGeKI42QxpmfNESiKfFPeKgq0H7fduylnGFLQCVo7xkBHBCll0tH64eUWAMWhr6zQNhSKtpz6Q165IdsBYa0NgVroQ3g6aEc4yT3Ct7pTxWil/8NFsQ\u002BzTLDKvLD26XA4GI96uVw0pd3NUf1fN5ukVVxia2Hpt9BLNPa3b7uWMd\u002B9mq8q6QwMYUn1iF8SVBUlJldkhI4eXlCvP4RljUYSNyAdoaz8eWxAVfoX9C9xKNDRgjlUIa1RrzxOi7mHpuQD01E/BLJ4KLzrFC6T9loxPgajg/sMvgVyy/Jgve2yyL8GFBDeMiQuaVmMaR1\u002BzajiHV[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0ac09111-a8bd-0e3d-c27d-d6a184078d9c/test-blob-86311666-97e5-b51a-f42d-62c63cf95462?sv=2024-05-04\u0026se=2024-03-29T21%3A08%3A21Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6B34312E34\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:08:23 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:08:23 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:08:23.4881447Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d23e5444-5aae-b640-c367-fc2ee15b54e2/test-blob-97522284-eebe-cc40-b356-f375538a8ae1?sv=2024-05-04\u0026se=2024-03-29T21%3A08%3A21Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B34485C51\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:08:23 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:08:23.7020241Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d23e5444-5aae-b640-c367-fc2ee15b54e2/test-blob-97522284-eebe-cc40-b356-f375538a8ae1?sv=2024-05-04\u0026se=2024-03-29T21%3A08%3A21Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized\u0026comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B3452BB17\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:08:23 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "ZGASuwR/7A8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0ac09111-a8bd-0e3d-c27d-d6a184078d9c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:08:22 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-28T14:08:21.6636515-07:00",
    "RandomSeed": "644665244",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
