{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3e272a6d-819a-6454-4f8c-b5ea2cac1aa7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:27:15 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690F8179CC0\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3e272a6d-819a-6454-4f8c-b5ea2cac1aa7/test-blob-11fac570-53be-14d5-3487-01e4643e21c9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:27:16 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690F8314F50\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:17 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:27:17.7161552Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3e272a6d-819a-6454-4f8c-b5ea2cac1aa7/test-blob-11fac570-53be-14d5-3487-01e4643e21c9?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:27:16 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "3atOYU8UCKgY45gxf8IdtDT0rXD0p5QXidHiMfLsIFXk0KaIHsoYxFirMGWjzW/j6EaAOXCBJzUWN9d9Mte1K8NCTK4clJVp2+gYSHYvc7th/kmrbOblY6lwcubym5GB9gShYIDBxlOxF16HaN6/58McHDONCb/cXegFrCKudkBWl1FyjRM6oDj1+lSIXvrKsYsj1n5e8+1FxAOXuxoxAqAdMNGMTVmw4Xv7lw5qVP7uO/uWi5/B+KNkLMgPouUexPizai4pPWMxcvUDYlve2nAEqX8emnYBXDctJyCQoD6V3dMWturQxP6XZRiqvZVIhlJYC/ll/ymCsg72+xVDodK2bYWHyCOFM+SBhjVdVp6h5aHNOJVFMN2qkwPc2cnoVMNG81AQwL4u09cU5HjzJFxvVRVzdWk[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3e272a6d-819a-6454-4f8c-b5ea2cac1aa7/test-blob-11fac570-53be-14d5-3487-01e4643e21c9?sv=Sanitized&se=2024-06-08T01%3A27%3A16Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC8690F83F30D7\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:17 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:27:17 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:27:17.7161552Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-2a2e2717-f914-2d8c-d0d4-33949240da6e/test-blob-41eb7dac-7944-50bb-913c-7513bd137d40?sv=Sanitized&se=2024-06-08T01%3A27%3A16Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-3e272a6d-819a-6454-4f8c-b5ea2cac1aa7/test-blob-11fac570-53be-14d5-3487-01e4643e21c9?sv=Sanitized&se=2024-06-08T01%3A27%3A16Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690F86DDDFB\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:18 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "L7hx2o0JCk8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3e272a6d-819a-6454-4f8c-b5ea2cac1aa7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:27:16 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:27:16.1310826-05:00",
    "RandomSeed": "43678256",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
