{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-02678176-3805-ec9c-531a-1d76547ec569?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:27:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690F94443ED\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:19 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-fd72b550-d169-342a-890f-f5146c31a9f9/test-blob-cb05bd83-1b16-9c12-945e-a42212275cbb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:27:18 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690F96129F4\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:27:19.7074932Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-fd72b550-d169-342a-890f-f5146c31a9f9/test-blob-cb05bd83-1b16-9c12-945e-a42212275cbb?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:27:18 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "KDxENxTZEuWYRZR1nz6xqn5Wftrv2p8bWLc3CuOAQ+dY3jQCgchuO7iLnbaGt2P0mOnuuwjL+k2dKd5doggCFwKsHcAKrim16EMhZDzplaFUQnL6kYffjOPmZVjqEZiwiYWz2Zqi6enAOdPFqZYRtJM9CF+VB4Z6zZDcJEnQy9eqcdq2NbwHsVmJOli0GeNN1bDErAg5GoH/OAsJxsWf7238Gji7Wn/XNlcGDM0uxrOtjk+ZDB/OcVZZt/yw/euU6UrquP6qknox7HWxMw2z0XJXXDd2BuNOLanhYaOCJzlrciODQw61AvzUZx+pHT5JpeaKWKG0HuNnnIpVyTDXrsU8RsHqM[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-02678176-3805-ec9c-531a-1d76547ec569/test-blob-2630f50e-7bd2-a974-7512-0afa1bcee19e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:27:18 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690F97943C6\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:27:19.8654406Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-02678176-3805-ec9c-531a-1d76547ec569/test-blob-2630f50e-7bd2-a974-7512-0afa1bcee19e?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:27:18 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "Y8TZb90kBtvmiRXyTB3s7QhJPG2yv5IQvBN/drF8JwJEYNC7IoMo63dhY1n42HAWLSCjQjo4lKMxyLLKpJApamETrexMMcuEIVH1UVw4GOSiaEmQ2OXHDMstiVnRXkbnN/j45SuDyfxVHyHoQkNG+a/OJzxHmJJ8S6EhH6dyssMKDhlkPzO4H59MO7nD3sqI5o+pAzYKoJ5mfJmKYqpU42xe3jMp4rl8FQic+l3YuGzXmDgXyK6MAG56/sOZLrz1+FhMZACWXgTWLe4ubaVBjcMtsslxPBq+0t3Fr+P24uZLpwIEi1RrQDkzQZrAXpLIOHAAa3vyg7s9jpIj0a8h4EoI4sajPAFvwnKQPfqA/XNL/HZy9XZqWCNGx/zBSG+KEmFPt3vMJftvkakJYkbAvZAf19Q4rur[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-02678176-3805-ec9c-531a-1d76547ec569/test-blob-2630f50e-7bd2-a974-7512-0afa1bcee19e?sv=Sanitized&se=2024-06-08T01%3A27%3A18Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC8690F984DB8B\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:19 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:27:19 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:27:19.8654406Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-fd72b550-d169-342a-890f-f5146c31a9f9/test-blob-cb05bd83-1b16-9c12-945e-a42212275cbb?sv=Sanitized&se=2024-06-08T01%3A27%3A18Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:dc74a1f9-d01e-00de-7979-b8e2c7000000\n",
        "Time:2024-06-07T01:27:20.1239075Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-02678176-3805-ec9c-531a-1d76547ec569?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:27:18 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:27:18.2811490-05:00",
    "RandomSeed": "1263534434",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
