{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-9f6737fe-34af-3dee-6e47-493cc15cea1a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:26:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690EB0D28B4\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:26:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-05b49a8e-09af-bf4c-4492-e4fec2dc7a9a/test-blob-edba0505-525a-957b-a374-e5b8c741d157",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:26:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690EB2B4E20\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:26:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:26:55.8664224Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-05b49a8e-09af-bf4c-4492-e4fec2dc7a9a/test-blob-edba0505-525a-957b-a374-e5b8c741d157?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:26:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "t3dpKZkm/G+OUVRTG1/4sNiEgaSnHHiM9fsEaoVTgdeuvZbxUuCmRJZbuCOHbugFetkiTKt8r5v+3TSeIZHqO9B8pF3JBl333T0NS2RVBIYS//CrMDUsMQ7683WrCCIFcXxSC8mKPHN7K25ub2M3qNiuiyKhPgqaT3JPzhPoS9QaCNrnA/m8iMJ8LwXGvsKqw0uc/Xz/YzNyt7tXO21gk9+ZU2eJT6Xe8QNfJQ4F1JCwpAvHS05YG6SmdUs9ZUxVG5wlLGtbIXOlvgx5nz4kbOMrp5dimEeRQTfC4tpaoYu2Cgly4KclVIOXIY1B33tmgghnEr618oJUlOszmD6YSxyAwpU0s[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-9f6737fe-34af-3dee-6e47-493cc15cea1a/test-blob-a9668746-be09-5772-b505-684253dea2a3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:26:54 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690EB45157E\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:26:56 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:26:56.0353662Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-9f6737fe-34af-3dee-6e47-493cc15cea1a/test-blob-a9668746-be09-5772-b505-684253dea2a3?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:26:54 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "sAXAybMcKC6poFBOG7PQVjTjV8H8q2Kl7KxuAz4DRbvy8G4BjQul1oyhX+WNapKZQrh7LT4jngSjG90HriXvpluUXCtFz8goPoE1Wkt8F4IZ1MCGiBd9zlJpXXEunSdnsbmK+A1nVHLvUu697kO5JwRa7dlkaR1DF47Y23JX+qFZzamR8R91soBOljUpv+AOsDZt069OA0ibRuB/jngAmFhNZCCaJzXk5TtZFtLnGlityio76SbxCsph9qs+9iMHTf7d21u/dIkBiO5z9e11tCyI0cRNxK4yW1lWOTGKpu8XUcjUCj797VahOmA4fRXc60F/tSRfuYlPq38BaTtXduL+XKMloanti+NurIlO+d5EeU3vCvDLuJc+hF+++4QaSsN9OSFxt0qYkSpA8Q3/AbGhvO/taGz[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-9f6737fe-34af-3dee-6e47-493cc15cea1a/test-blob-a9668746-be09-5772-b505-684253dea2a3?sv=Sanitized&se=2024-06-08T01%3A26%3A54Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC8690EB501114\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:26:56 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:26:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:26:56.0353662Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-05b49a8e-09af-bf4c-4492-e4fec2dc7a9a/test-blob-edba0505-525a-957b-a374-e5b8c741d157?sv=Sanitized&se=2024-06-08T01%3A26%3A54Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:dc7485f2-d01e-00de-5279-b8e2c7000000\n",
        "Time:2024-06-07T01:26:56.3116473Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-9f6737fe-34af-3dee-6e47-493cc15cea1a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:26:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:26:54.4491122-05:00",
    "RandomSeed": "658161962",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
