{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-63602351-9587-e23d-7872-e62cd1916280?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 23:06:40 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB2910325B2\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:06:42 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0a5eddef-97e6-562f-e1a2-19f450c7f61a/test-blob-ca4641f5-e941-d61b-1fc2-7046ea3fccd2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 27 Mar 2024 23:06:41 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB2912B724E\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:06:42 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:06:42.6456654Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0a5eddef-97e6-562f-e1a2-19f450c7f61a/test-blob-ca4641f5-e941-d61b-1fc2-7046ea3fccd2?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 23:06:41 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "Hl\u002BZfJE6tiZ9jRowD8KaHmDRVXbdCTu2yKzmfYl\u002BV5ycIHvMmU\u002BupaEV0ZQiCG1SPjJxXOTDMBQj47TkVDid/jV\u002Bk\u002B5GzYURIq/UyDemlL8/lD9WDPu32fBmqLaayVFpeNNeo3V/C3CsYDk07mjcfU70pb/4RvE5x7r94CXPdlhea09kSPFKv4nOqqzCguqIiStnpiSRcDLhJNy6gitL3eng1oMYeDRcqeU2KpxFd0TQdFb5aNA0zPodgyMVkD1eg8zD4qtmcBH2Cvw/W0aVnK2X6g3UUXUYrAqJ\u002BvQRRxmo16fPgZWYaQREA13U9XC[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-63602351-9587-e23d-7872-e62cd1916280/test-blob-81245b31-5a46-b97e-4e2c-2177ee96d2e4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 27 Mar 2024 23:06:41 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB29157FA29\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:06:42 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:06:42.9375017Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-63602351-9587-e23d-7872-e62cd1916280/test-blob-81245b31-5a46-b97e-4e2c-2177ee96d2e4?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 23:06:41 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "jzCuUR/PeOuYfcByeMFvUWliqxtz\u002BRCJmE99xoW/6OY4D/iWr\u002BYha2HUZYM6tfkOTjAyn/PF75YfJLjQUbFm2JTZOWjI2aKDQUC5npONT\u002BNWb3dUjUjzcyBidoouUBmvbozuYHyQRXWOr16yC1ACkdXVeeI5EUtL5sVHZmIXVfAmCi8Hnu5mxioCxd7qQGjPYOS0Wdc2dV1Bonq2SN4TdlltjAAh\u002BvLmbrO4N0ttYaVceAZ9Y/wZ8JXSxvt0r31L706EfbRormXxzeokfj0R1EHVWdDXlRNdVJtrTjT3cr41bEj86OPw9Mmhi5UR9HFXwPK5n1Wsc1k7JigY/V8w\u002Blsr7hH0Fete5WUHNgl\u002BTGAqE45CPdNoifjvwcG71/dpc[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-63602351-9587-e23d-7872-e62cd1916280/test-blob-81245b31-5a46-b97e-4e2c-2177ee96d2e4?sv=2024-05-04\u0026se=2024-03-28T23%3A06%3A41Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB2916ABC23\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:06:43 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:06:42 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:06:42.9375017Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0a5eddef-97e6-562f-e1a2-19f450c7f61a/test-blob-ca4641f5-e941-d61b-1fc2-7046ea3fccd2?sv=2024-05-04\u0026se=2024-03-28T23%3A06%3A41Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:ee5596a5-601e-0006-679b-80465e000000\n",
        "Time:2024-03-27T23:06:43.4452669Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-63602351-9587-e23d-7872-e62cd1916280?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 23:06:42 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T16:06:41.4529904-07:00",
    "RandomSeed": "1174120669",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
