{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/operations?api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "00000000-0000-0000-0000-000000000000",
            "status": "Running",
            "statusHistory": [
              {
                "status": "Pending",
                "timestamp": "2026-01-26T12:31:13.473241Z"
              },
              {
                "status": "Running",
                "timestamp": "2026-01-26T12:31:13.563714Z"
              }
            ],
            "type": "IngestionStaticCatalog",
            "creationTime": "2026-01-26T12:31:13.473241Z",
            "startTime": "2026-01-26T12:31:13.473241Z",
            "collectionId": "naip-atl-00000000",
            "additionalInformation": {
              "TotalFailedItems": "0",
              "TotalItems": "46",
              "TotalPendingItems": "46",
              "TotalSuccessfulItems": "0"
            }
          },
          {
            "id": "00000000-0000-0000-0000-000000000000",
            "status": "Canceled",
            "statusHistory": [
              {
                "status": "Pending",
                "timestamp": "2026-01-26T12:30:53.421239Z"
              },
              {
                "status": "Running",
                "timestamp": "2026-01-26T12:30:53.584208Z"
              },
              {
                "status": "Canceled",
                "timestamp": "2026-01-26T12:30:54.44998Z",
                "errorCode": "CanceledOperation",
                "errorMessage": "Operation '1027b81d-e6a2-4e80-a28e-420fa744c340' for collection 'naip-atl-00000000' has been cancelled"
              }
            ],
            "type": "IngestionStaticCatalog",
            "creationTime": "2026-01-26T12:30:53.421239Z",
            "startTime": "2026-01-26T12:30:53.421239Z",
            "finishTime": "2026-01-26T12:30:54.44998Z",
            "collectionId": "naip-atl-00000000",
            "additionalInformation": {
              "TotalFailedItems": "0",
              "TotalItems": "46",
              "TotalPendingItems": "46",
              "TotalSuccessfulItems": "0"
            }
          },
          {
            "id": "00000000-0000-0000-0000-000000000000",
            "status": "Canceled",
            "statusHistory": [
              {
                "status": "Pendin[...]
