{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/operations?api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "00000000-0000-0000-0000-000000000000",
            "status": "Running",
            "statusHistory": [
              {
                "status": "Pending",
                "timestamp": "2026-01-21T15:35:49.487927Z"
              },
              {
                "status": "Running",
                "timestamp": "2026-01-21T15:35:50.497637Z"
              }
            ],
            "type": "IngestionStaticCatalog",
            "creationTime": "2026-01-21T15:35:49.487927Z",
            "startTime": "2026-01-21T15:35:49.487927Z",
            "collectionId": "naip-atl-00000000",
            "additionalInformation": {
              "TotalFailedItems": "0",
              "TotalItems": "46",
              "TotalPendingItems": "46",
              "TotalSuccessfulItems": "0"
            }
          },
          {
            "id": "00000000-0000-0000-0000-000000000000",
            "status": "Running",
            "statusHistory": [
              {
                "status": "Pending",
                "timestamp": "2026-01-21T15:35:46.742373Z"
              },
              {
                "status": "Running",
                "timestamp": "2026-01-21T15:35:47.359246Z"
              }
            ],
            "type": "IngestionStaticCatalog",
            "cre[...]
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/operations?$top=100&$skip=100&api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        [...]
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/operations?$top=100&$skip=200&api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "00000000-0000-0000-0000-000000000000",
            "status": "Failed",
            "statusHistory": [
              {
                "status": "Pending",
                "timestamp": "2026-01-05T16:09:09.175374Z"
              },
              {
                "status": "Running",
                "timestamp": "2026-01-05T16:09:09.520991Z"
              },
              {
                "status": "Failed",
                "timestamp": "2026-01-05T16:09:09.919536Z",
                "errorCode": "ItemAlreadyExistsInCollection",
                "errorMessage": "Item 'fake-item-id-replace-test' already exists in collection 'naip-atl-00000000'"
              }
            ],
            "type": "AddItem",
            "creationTime": "2026-01-05T16:09:09.175374Z",
            "startTime": "2026-01-05T16:09:09.175374Z",
            "finishTime": "2026-01-05T16:09:09.919536Z",
            "collectionId": "naip-atl-00000000",
            "additionalInformation": {
              "TotalFailedItems": "1",
              "TotalItems": "1",
              "TotalPendingItems": "0",
              "TotalSuccessfulItems": "0"
            },
            "error": {
              "error": {
                "code": "ItemAlreadyExistsInCollection",
                "message": "Item 'fake-item-id-replace-test' already exists in collection 'naip-atl-00000000'"
              }
            }
          },
          {
            "id": "00000000-0000-0000-0000-000000000000",
            "status": "Failed",
            "statusHistory": [
              {
                "status": "Pending",
                "timestamp": "2026-01-05T16:08:59.494998Z"
              },
              {
                "status": "Running",
                "timestamp": "2026-01-05T16:09:00.580564Z[...]
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/operations?$top=100&$skip=300&api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "00000000-0000-0000-0000-000000000000",
            "status": "Succeeded",
            "statusHistory": [
              {
                "status": "Pending",
                "timestamp": "2025-12-23T22:09:18.9490579Z"
              },
              {
                "status": "Running",
                "timestamp": "2025-12-23T22:09:47.673793Z"
              },
              {
                "status": "Finished",
                "timestamp": "2025-12-23T22:09:47.7048246Z"
              }
            ],
            "type": "DeleteIngestion",
            "creationTime": "2025-12-23T22:09:18.949056Z",
            "collectionId": "naip-atl-00000000",
            "additionalInformation": {
              "IngestionId": "68f22bb9-f186-4f2b-9eaf-568ad15dd105"
            }
          },
          {
            "id": "00000000-0000-0000-0000-000000000000",
            "status": "Succeeded",
            "statusHistory": [
              {
                "status": "Pending",
                "timestamp": "2025-12-23T22:08:49.2486986Z"
              },
              {
                "status": "Running",
                "timestamp": "2025-12-23T22:09:17.617411Z"
              },
              {
                "statu[...]
[...]
