{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.Cache/operations?api-version=2024-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "2199",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Sanitized",
            "display": {
              "provider": "Microsoft Cache",
              "resource": null,
              "operation": "Check Cache Name Availability",
              "description": "Checks if a name is available for use with a new Redis Cache"
            },
            "properties": {}
          },
          {
            "name": "Sanitized",
            "display": {
              "provider": "Microsoft Cache",
              "resource": null,
              "operation": "Register Resource Provider Microsoft.Cache",
              "description": "Registers the 'Microsoft.Cache' resource provider with a subscription"
            },
            "properties": {}
          },
          {
            "name": "Sanitized",
            "display": {
              "provider": "Microsof[...]
