{
  "Entries": [
    {
      "RequestUri": "https://t7d8641d8f25ec940prim.blob.core.windows.net/source1750067201?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9B7797E63819\"",
        "Last-Modified": "Wed, 03 Jul 2024 15:48:33 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t7d8641d8f25ec940prim.blob.core.windows.net/source1750067201/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\"0x8DC9B7797F176CD\"",
        "Last-Modified": "Wed, 03 Jul 2024 15:48:33 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t7d8641d8f25ec940prim.blob.core.windows.net/target94349515?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9B77987F83B1\"",
        "Last-Modified": "Wed, 03 Jul 2024 15:48:34 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t7d8641d8f25ec940-doctranslation.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://t7d8641d8f25ec940-doctranslation.cognitiveservices.azure.com/translator/document/batches/b3fac89a-252f-4da7-9984-fdf1f6a6e9f7?api-version=2024-05-01",
        "x-ms-region": "West US",
        "X-RequestId": "6a480de5-067a-4d65-a1ab-acad146cae09"
      },
      "ResponseBody": {
        "id": "b3fac89a-252f-4da7-9984-fdf1f6a6e9f7",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://t7d8641d8f25ec940-doctranslation.cognitiveservices.azure.com/translator/document/batches/b3fac89a-252f-4da7-9984-fdf1f6a6e9f7?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"D4DD86C7368D51AEF6FD3CDDBA3DC8C66D09ED0E94C2590D4A41A986F72A1E0F\"",
        "Retry-After": "1",
        "x-ms-region": "West US",
        "X-RequestId": "ce519938-01a2-4463-9189-e071144e2d71"
      },
      "ResponseBody": {
        "id": "b3fac89a-252f-4da7-9984-fdf1f6a6e9f7",
        "createdDateTimeUtc": "2024-07-03T15:48:34.2351704Z",
        "lastActionDateTimeUtc": "2024-07-03T15:48:34.2351704Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://t7d8641d8f25ec940-doctranslation.cognitiveservices.azure.com/translator/document/batches/b3fac89a-252f-4da7-9984-fdf1f6a6e9f7?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"29137F18E917F7DF50D5BB005D206814A572FDBB1F62FA20664DAF778834A905\"",
        "Retry-After": "1",
        "x-ms-region": "West US",
        "X-RequestId": "34a71055-cfdd-4066-9f98-0368bfcb4f05"
      },
      "ResponseBody": {
        "id": "b3fac89a-252f-4da7-9984-fdf1f6a6e9f7",
        "createdDateTimeUtc": "2024-07-03T15:48:34.2351704Z",
        "lastActionDateTimeUtc": "2024-07-03T15:48:41.9644983Z",
        "status": "Succeeded",
        "summary": {
          "total": 1,
          "failed": 0,
          "success": 1,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 27
        }
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://t7d8641d8f25ec940-doctranslation.cognitiveservices.azure.com",
    "DOCUMENT_TRANSLATION_STORAGE_NAME": "t7d8641d8f25ec940prim",
    "RandomSeed": "199630139"
  }
}
