{
  "Entries": [
    {
      "RequestUri": "https://t7d8641d8f25ec940prim.blob.core.windows.net/source1386356325?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Mar 2024 20:00:10 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC42CF05DFEF69\u0022",
        "Last-Modified": "Tue, 12 Mar 2024 20:00:10 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t7d8641d8f25ec940prim.blob.core.windows.net/source1386356325/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 12 Mar 2024 20:00:10 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\u00220x8DC42CF05E6BE19\u0022",
        "Last-Modified": "Tue, 12 Mar 2024 20:00:10 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t7d8641d8f25ec940prim.blob.core.windows.net/target1764280636?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Mar 2024 20:00:10 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC42CF05EC2474\u0022",
        "Last-Modified": "Tue, 12 Mar 2024 20:00:10 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t7d8641d8f25ec940-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches?api-version=v1.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://t7d8641d8f25ec940-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/89d22e89-d7a5-4390-a774-ac2b00fb2142",
        "x-ms-region": "West US",
        "X-RequestId": "04317287-01e6-42ae-9ec9-54d8bb6010bb"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t7d8641d8f25ec940-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/89d22e89-d7a5-4390-a774-ac2b00fb2142",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002274E3E19EDE1D96AD0B609E4055DD736AB445B260C8983AC4C46672A00019D5E2\u0022",
        "Retry-After": "1",
        "x-ms-region": "West US",
        "X-RequestId": "6cea250a-b8db-4ce8-8ab5-02d9e24be3b5"
      },
      "ResponseBody": {
        "id": "89d22e89-d7a5-4390-a774-ac2b00fb2142",
        "createdDateTimeUtc": "2024-03-12T20:00:10.5482412Z",
        "lastActionDateTimeUtc": "2024-03-12T20:00:10.5482413Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://t7d8641d8f25ec940-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/89d22e89-d7a5-4390-a774-ac2b00fb2142",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223E084FD768FDB0622DCE61EB32F43809ED5DADB1E498890E5A74DF8BC9DD58A6\u0022",
        "Retry-After": "1",
        "x-ms-region": "West US",
        "X-RequestId": "e11998ce-d941-4603-a9d5-811615c206d4"
      },
      "ResponseBody": {
        "id": "89d22e89-d7a5-4390-a774-ac2b00fb2142",
        "createdDateTimeUtc": "2024-03-12T20:00:10.5482412Z",
        "lastActionDateTimeUtc": "2024-03-12T20:00:17.3238425Z",
        "status": "Succeeded",
        "summary": {
          "total": 1,
          "failed": 0,
          "success": 1,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 27
        }
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=t7d8641d8f25ec940prim;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://t7d8641d8f25ec940-doctranslation.cognitiveservices.azure.com",
    "RandomSeed": "678351451"
  }
}
