{
  "Entries": [
    {
      "RequestUri": "https://t7d8641d8f25ec940prim.blob.core.windows.net/source123287392?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Apr 2024 18:45:24 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6945B22168C5\"",
        "Last-Modified": "Tue, 30 Apr 2024 18:45:24 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t7d8641d8f25ec940prim.blob.core.windows.net/source123287392/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Apr 2024 18:45:25 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\"0x8DC6945B22BC62A\"",
        "Last-Modified": "Tue, 30 Apr 2024 18:45:24 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t7d8641d8f25ec940prim.blob.core.windows.net/target938145704?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Apr 2024 18:45:25 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6945B22F84B4\"",
        "Last-Modified": "Tue, 30 Apr 2024 18:45:24 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t7d8641d8f25ec940-doctranslation.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://t7d8641d8f25ec940-doctranslation.cognitiveservices.azure.com/translator/document/batches/c813f5c1-97d3-4f6b-8d1f-fbf1bdaeff45?api-version=2024-05-01",
        "x-ms-region": "West US",
        "X-RequestId": "0920dba3-da47-4e61-ba3f-702dff2d4576"
      },
      "ResponseBody": {
        "id": "c813f5c1-97d3-4f6b-8d1f-fbf1bdaeff45",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://t7d8641d8f25ec940-doctranslation.cognitiveservices.azure.com/translator/document/batches/c813f5c1-97d3-4f6b-8d1f-fbf1bdaeff45?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"2C566CA362E4614CD6315E248A05F821FB73370AB11B1653F8FFBA7A4EDA05E6\"",
        "Retry-After": "1",
        "x-ms-region": "West US",
        "X-RequestId": "052cd570-cdd8-497c-9aa4-7955737ad165"
      },
      "ResponseBody": {
        "id": "c813f5c1-97d3-4f6b-8d1f-fbf1bdaeff45",
        "createdDateTimeUtc": "2024-04-30T18:45:24.8932446Z",
        "lastActionDateTimeUtc": "2024-04-30T18:45:24.8932446Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://t7d8641d8f25ec940-doctranslation.cognitiveservices.azure.com/translator/document/batches/c813f5c1-97d3-4f6b-8d1f-fbf1bdaeff45?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"5F[...]
