{
  "Entries": [
    {
      "RequestUri": "https://t7d8641d8f25ec940prim.blob.core.windows.net/source1717695507?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Apr 2024 18:08:03 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC69407A6B0E28\"",
        "Last-Modified": "Tue, 30 Apr 2024 18:08:03 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t7d8641d8f25ec940prim.blob.core.windows.net/source1717695507/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Apr 2024 18:08:04 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\"0x8DC69407A70FFE8\"",
        "Last-Modified": "Tue, 30 Apr 2024 18:08:03 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t7d8641d8f25ec940prim.blob.core.windows.net/target424299940?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Apr 2024 18:08:04 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC69407A76EFC3\"",
        "Last-Modified": "Tue, 30 Apr 2024 18:08:03 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t7d8641d8f25ec940-doctranslation.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://t7d8641d8f25ec940-doctranslation.cognitiveservices.azure.com/translator/document/batches/17f9144a-5684-43f1-b571-ede7c0f53e2c?api-version=2024-05-01",
        "x-ms-region": "West US",
        "X-RequestId": "c379f891-e206-41d3-83c9-c53254e4e6f9"
      },
      "ResponseBody": {
        "id": "17f9144a-5684-43f1-b571-ede7c0f53e2c",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://t7d8641d8f25ec940-doctranslation.cognitiveservices.azure.com/translator/document/batches/17f9144a-5684-43f1-b571-ede7c0f53e2c?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"C87CE380BDE123C5C8CFFDDCFC93277C295CD216FF35074F263D1A7A73DDE363\"",
        "Retry-After": "1",
        "x-ms-region": "West US",
        "X-RequestId": "b923d2c7-752a-44f4-8116-1e11e91b8f3a"
      },
      "ResponseBody": {
        "id": "17f9144a-5684-43f1-b571-ede7c0f53e2c",
        "createdDateTimeUtc": "2024-04-30T18:08:04.9251329Z",
        "lastActionDateTimeUtc": "2024-04-30T18:08:04.925133Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://t7d8641d8f25ec940-doctranslation.cognitiveservices.azure.com/translator/document/batches/17f9144a-5684-43f1-b571-ede7c0f53e2c?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"963FC68341695595FB8A64C65881C423009A19C19563880E257406D29B2F1C2C\"",
        "Retry-After": "1",
        "x-ms-region": "West US",
        "X-RequestId": "6bae0a3c-52fa-48a0-ad4c-c79df32b8408"
      },
      "ResponseBody": {
        "id": "17f9144a-5684-43f1-b571-ede7c0f53e2c",
        "createdDateTimeUtc": "2024-04-30T18:08:04.9251329Z",
        "lastActionDateTimeUtc": "2024-04-30T18:08:16.311625Z",
        "status": "Succeeded",
        "summary": {
          "total": 1,
          "failed": 0,
          "success": 1,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 27
        }
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=t7d8641d8f25ec940prim;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://t7d8641d8f25ec940-doctranslation.cognitiveservices.azure.com",
    "RandomSeed": "1120100631"
  }
}
