{
  "Entries": [
    {
      "RequestUri": "https://t7d8641d8f25ec940prim.blob.core.windows.net/source705808384?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Apr 2024 20:06:48 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC69511133FA71\"",
        "Last-Modified": "Tue, 30 Apr 2024 20:06:48 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t7d8641d8f25ec940prim.blob.core.windows.net/source705808384/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Apr 2024 20:06:48 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\"0x8DC6951113FBE68\"",
        "Last-Modified": "Tue, 30 Apr 2024 20:06:48 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t7d8641d8f25ec940prim.blob.core.windows.net/target1609407647?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Apr 2024 20:06:49 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC695111422117\"",
        "Last-Modified": "Tue, 30 Apr 2024 20:06:48 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t7d8641d8f25ec940-doctranslation.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://t7d8641d8f25ec940-doctranslation.cognitiveservices.azure.com/translator/document/batches/fe024cab-acaf-4e05-91b5-e8fba3cfa1e0?api-version=2024-05-01",
        "x-ms-region": "West US",
        "X-RequestId": "b29999a6-de0f-42a8-b586-4cb8941a8abe"
      },
      "ResponseBody": {
        "id": "fe024cab-acaf-4e05-91b5-e8fba3cfa1e0",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://t7d8641d8f25ec940-doctranslation.cognitiveservices.azure.com/translator/document/batches/fe024cab-acaf-4e05-91b5-e8fba3cfa1e0?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"F64138B54FAD79A29135903A53FBCC8A27A234BEACE635F51D05E7BFB99E93B3\"",
        "Retry-After": "1",
        "x-ms-region": "West US",
        "X-RequestId": "b583af01-8e09-4b86-ab55-cf7052901b79"
      },
      "ResponseBody": {
        "id": "fe024cab-acaf-4e05-91b5-e8fba3cfa1e0",
        "createdDateTimeUtc": "2024-04-30T20:06:49.8718589Z",
        "lastActionDateTimeUtc": "2024-04-30T20:06:49.8718589Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://t7d8641d8f25ec940-doctranslation.cognitiveservices.azure.com/translator/document/batches/fe024cab-acaf-4e05-91b5-e8fba3cfa1e0?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"9BF44D0872846A5FD0506824E21D699EF11CB380992EE8ACA36C4AF4B29043D3\"",
        "Retry-After": "1",
        "x-ms-region": "West US",
        "X-RequestId": "1fd3b4ae-255e-4326-ad48-263eb9163fd3"
      },
      "ResponseBody": {
        "id": "fe024cab-acaf-4e05-91b5-e8fba3cfa1e0",
        "createdDateTimeUtc": "2024-04-30T20:06:49.8718589Z",
        "lastActionDateTimeUtc": "2024-04-30T20:07:01.2719363Z",
        "status": "Succeeded",
        "summary": {
          "total": 1,
          "failed": 0,
          "success": 1,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 27
        }
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=t7d8641d8f25ec940prim;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://t7d8641d8f25ec940-doctranslation.cognitiveservices.azure.com",
    "RandomSeed": "1771202569"
  }
}
