{
  "Entries": [
    {
      "RequestUri": "https://t7d8641d8f25ec940prim.blob.core.windows.net/source990411894?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Apr 2024 18:46:29 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6945D8A57187\"",
        "Last-Modified": "Tue, 30 Apr 2024 18:46:28 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t7d8641d8f25ec940prim.blob.core.windows.net/source990411894/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Apr 2024 18:46:29 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\"0x8DC6945D8B03D43\"",
        "Last-Modified": "Tue, 30 Apr 2024 18:46:28 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t7d8641d8f25ec940prim.blob.core.windows.net/source990411894/File2.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Apr 2024 18:46:29 GMT",
        "x-ms-version[...]
