{
  "Entries": [
    {
      "RequestUri": "https://t7d8641d8f25ec940prim.blob.core.windows.net/source2134193466?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Mar 2024 20:13:02 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC42D0D2005FE8\u0022",
        "Last-Modified": "Tue, 12 Mar 2024 20:13:02 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t7d8641d8f25ec940prim.blob.core.windows.net/source2134193466/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 12 Mar 2024 20:13:02 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\u00220x8DC42D0D2084EDD\u0022",
        "Last-Modified": "Tue, 12 Mar 2024 20:13:02 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t7d8641d8f25ec940prim.blob.core.windows.net/target1160769734?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Mar 2024 20:13:02 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC42D0D20EAEED\u0022",
        "Last-Modified": "Tue, 12 Mar 2024 20:13:02 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t7d8641d8f25ec940-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches?api-version=v1.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://t7d8641d8f25ec940-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/f51c02ce-38cd-4a3d-af33-ea08a77a799d",
        "x-ms-region": "West US",
        "X-RequestId": "a801e7bb-3733-405d-9b58-59894b5a5770"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t7d8641d8f25ec940-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/f51c02ce-38cd-4a3d-af33-ea08a77a799d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022909DF15464A2092012B2E2CD6537EAAD18236D1D58BF656BDF54ABC8C36D1B22\u0022",
        "Retry-After": "1",
        "x-ms-region": "West US",
        "X-RequestId": "22b6a721-ce66-4391-befe-5ce1cec91f0c"
      },
      "ResponseBody": {
        "id": "f51c02ce-38cd-4a3d-af33-ea08a77a799d",
        "createdDateTimeUtc": "2024-03-12T20:13:02.5245705Z",
        "lastActionDateTimeUtc": "2024-03-12T20:13:02.5245706Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://t7d8641d8f25ec940-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/f51c02ce-38cd-4a3d-af33-ea08a77a799d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002207D135CF4EC463[...]
