{
  "Entries": [
    {
      "RequestUri": "https://t7d8641d8f25ec940prim.blob.core.windows.net/target659620339?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9B78D21FE7C6\"",
        "Last-Modified": "Wed, 03 Jul 2024 15:57:20 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t7d8641d8f25ec940-doctranslation.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://t7d8641d8f25ec940-doctranslation.cognitiveservices.azure.com/translator/document/batches/193d9a80-facc-4735-a44e-23011a34f55c?api-version=2024-05-01",
        "x-ms-region": "West US",
        "X-RequestId": "ae482b42-e6d3-44eb-a1b9-4d70881ce94a"
      },
      "ResponseBody": {
        "id": "193d9a80-facc-4735-a44e-23011a34f55c",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://t7d8641d8f25ec940-doctranslation.cognitiveservices.azure.com/translator/document/batches/193d9a80-facc-4735-a44e-23011a34f55c?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"CD8D7B9B07312C25414CBBFAAD33C9CDD5A75224160CEEC9225AC6367F169DBC\"",
        "Retry-After": "1",
        "x-ms-region": "West US",
        "X-RequestId": "e5d89bdd-0491-4b38-b443-3d43b932ce02"
      },
      "ResponseBody": {
        "id": "193d9a80-facc-4735-a44e-23011a34f55c",
        "createdDateTimeUtc": "2024-07-03T15:57:20.5534032Z",
        "lastActionDateTimeUtc": "2024-07-03T15:57:20.7976589Z",
        "status": "ValidationFailed",
        "error": {
          "code": "InvalidRequest",
          "message": "Cannot access source document location with the current permissions.",
          "target": "Operation",
          "innerError": {
            "code": "InvalidDocumentAccessLevel",
            "message": "Cannot access source document location with the current permissions."
          }
        },
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://t7d8641d8f25ec940-doctranslation.cognitiveservices.azure.com",
    "DOCUMENT_TRANSLATION_STORAGE_NAME": "t7d8641d8f25ec940prim",
    "RandomSeed": "2019288702"
  }
}
