{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.AzureFleet/operations?api-version=2024-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetFleet3Min;399,Microsoft.Compute/GetFleet30Min;2599",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "origin": "user,system",
            "name": "Sanitized",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft Azure Fleet",
              "resource": "Fleets",
              "operation": "Get Azure Fleet",
              "description": "Get properties of Azure Fleet resource"
            }
          },
          {
            "origin": "user,system",
            "name": "Sanitized",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft Azure Fleet",
              "resource": "Fleets",
              "operation": "Create or Update Azure Fleet",
              "description": "Creates a new Azure Fleet resource or updates an existing one"
            }
          },
          {
           [...]
