{
  "Entries": [
    {
      "RequestUri": "https://vdi-fr-test-eastus.ppe.cognitiveservices.azure.com/documentintelligence/documentModels:authorizeCopy?api-version=2023-10-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "modelId": "1419503192"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "targetResourceId": "/subscriptions/b7777967-35fa-44ed-b4d0-125820f270f1/resourceGroups/chstone-ppe/providers/Microsoft.CognitiveServices/accounts/vdi-fr-test-eastus",
        "targetResourceRegion": "eastus",
        "targetModelId": "1419503192",
        "targetModelLocation": "https://vdi-fr-test-eastus.ppe.cognitiveservices.azure.com/documentintelligence/documentModels/1419503192?api-version=2023-10-31-preview",
        "accessToken": "Sanitized",
        "expirationDateTime": "2023-11-13T11:01:08Z"
      }
    }
  ],
  "Variables": {
    "API_KEY": "Sanitized",
    "DateTimeOffsetNow": "2023-11-13T02:01:06.2645002-08:00",
    "ENDPOINT": "https://vdi-fr-test-eastus.ppe.cognitiveservices.azure.com/",
    "RandomSeed": "1223823564",
    "RESOURCE_ID": "/subscriptions/b7777967-35fa-44ed-b4d0-125820f270f1/resourceGroups/chstone-ppe/providers/Microsoft.CognitiveServices/accounts/vdi-fr-test-eastus",
    "RESOURCE_REGION": "eastus"
  }
}
