{
  "Entries": [
    {
      "RequestUri": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentModels:authorizeCopy?api-version=2024-11-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "1402710709"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "targetResourceId": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/camaiaor/providers/Microsoft.CognitiveServices/accounts/camaiaorNETtesting",
        "targetResourceRegion": "eastus",
        "targetModelId": "1402710709",
        "targetModelLocation": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentModels/1402710709?api-version=2024-11-30",
        "accessToken": "Sanitized",
        "expirationDateTime": "2024-12-10T04:05:21Z"
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-12-09T19:05:21.1207810-08:00",
    "ENDPOINT": "https://camaiaornettesting.cognitiveservices.azure.com/",
    "RandomSeed": "1807796675",
    "RESOURCE_ID": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/camaiaor/providers/Microsoft.CognitiveServices/accounts/camaiaorNETtesting",
    "RESOURCE_REGION": "eastus"
  }
}
