{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/documentModels:authorizeCopy?api-version=2024-07-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "1136802669"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "targetResourceId": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/camaiaor/providers/Microsoft.CognitiveServices/accounts/camaiaor-localtests",
        "targetResourceRegion": "eastus",
        "targetModelId": "1136802669",
        "targetModelLocation": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/documentModels/1136802669?api-version=2024-07-31-preview",
        "accessToken": "Sanitized",
        "expirationDateTime": "2024-10-05T02:08:58Z"
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-10-04T18:08:57.2066131-07:00",
    "ENDPOINT": "https://camaiaor-localtests.cognitiveservices.azure.com/",
    "RandomSeed": "473942225",
    "RESOURCE_ID": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/camaiaor/providers/Microsoft.CognitiveServices/accounts/camaiaor-localtests",
    "RESOURCE_REGION": "eastus"
  }
}
