{
  "Entries": [
    {
      "RequestUri": "https://vdi-fr-test-eastus.ppe.cognitiveservices.azure.com/documentintelligence/documentModels:build?api-version=2023-10-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "modelId": "772205281",
        "description": "This classifier was generated by a .NET test.",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "https://sanitized.blob.core.windows.net",
          "prefix": "subfolder"
        },
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://vdi-fr-test-eastus.ppe.cognitiveservices.azure.com/documentintelligence/operations/31466498290_1bc43386-b3ae-43b8-b693-59445e9c3136?api-version=2023-10-31-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://vdi-fr-test-eastus.ppe.cognitiveservices.azure.com/documentintelligence/operations/31466498290_1bc43386-b3ae-43b8-b693-59445e9c3136?api-version=2023-10-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31466498290_1bc43386-b3ae-43b8-b693-59445e9c3136",
        "kind": "documentModelBuild",
        "status": "running",
        "createdDateTime": "2023-11-13T10:01:49Z",
        "lastUpdatedDateTime": "2023-11-13T10:01:52Z",
        "resourceLocation": "https://vdi-fr-test-eastus.ppe.cognitiveservices.azure.com/documentintelligence/documentModels/772205281?api-version=2023-10-31-preview",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "apiVersion": "2023-10-31-preview"
      }
    },
    {
      "RequestUri": "https://vdi-fr-test-eastus.ppe.cognitiveservices.azure.com/documentintelligence/operations/31466498290_1bc43386-b3ae-43b8-b693-59445e9c3136?api-version=2023-10-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31466498290_1bc43386-b3ae-43b8-b693-59445e9c3136",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2023-11-13T10:01:49Z",
        "lastUpdatedDateTime": "2023-11-13T10:01:52Z",
        "resourceLocation": "https://vdi-fr-test-eastus.ppe.cognitiveservices.azure.com/documentintelligence/documentModels/772205281?api-version=2023-10-31-preview",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "772205281": {
              "fieldSchema": {
                "Merchant": {
                  "type": "string"
                },
                "PhoneNumber": {
                  "type": "string"
                },
                "Website": {
                  "type": "string"
                },
                "Email": {
                  "type": "string"
                },
                "PurchaseOrderNumber": {
                  "type": "string"
                },
                "DatedAs": {
                  "type": "string"
                },
                "VendorName": {
                  "type": "string"
                },
                "CompanyName": {
                  "type": "string"
                },
                "CompanyAddress": {
                  "type": "string"
                },
                "CompanyPhoneNumber": {
                  "type": "string"
                },
                "Subtotal": {
                  "type": "string"
                },
                "Tax": {
                  "type": "string"
                },
                "Total": {
                  "type": "string"
                },
                "Signature": {
                  "type": "string"
                },
                "Quantity": {
                  "type": "number"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "CompanyAddress": 0.8,
                "CompanyName": 0.995,
                "CompanyPhoneNumber": 0.995,
                "DatedAs": 0.995,
                "Email": 0.8,
                "Merchant": 0.995,
                "PhoneNumber": 0.995,
                "PurchaseOrderNumber": 0.995,
                "Quantity": 0.995,
                "Signature": 0.6,
                "Subtotal": 0.995,
                "Tax": 0.995,
                "Total": 0.995,
                "VendorName": 0.995,
                "Website": 0.995
              }
            }
          },
          "modelId": "772205281",
          "createdDateTime": "2023-11-13T10:01:52Z",
          "expirationDateTime": "2025-11-12T10:01:52Z",
          "apiVersion": "2023-10-31-preview",
          "description": "This classifier was generated by a .NET test.",
          "tags": {
            "tag1": "value1",
            "tag2": "value2"
          }
        },
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "apiVersion": "2023-10-31-preview"
      }
    },
    {
      "RequestUri": "https://vdi-fr-test-eastus.ppe.cognitiveservices.azure.com/documentintelligence/documentModels/772205281?api-version=2023-10-31-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "API_KEY": "Sanitized",
    "DateTimeOffsetNow": "2023-11-13T02:01:47.8308081-08:00",
    "ENDPOINT": "https://vdi-fr-test-eastus.ppe.cognitiveservices.azure.com/",
    "RandomSeed": "1751060779",
    "SINGLEPAGE_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net"
  }
}
