{
  "Entries": [
    {
      "RequestUri": "https://vdi-fr-test-eastus.ppe.cognitiveservices.azure.com/documentintelligence/documentModels:build?api-version=2023-10-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "modelId": "1912094106",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "https://sanitized.blob.core.windows.net",
          "prefix": "testfolder"
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequest",
          "message": "Invalid request.",
          "innererror": {
            "code": "TrainingContentMissing",
            "message": "Training data is missing: Could not find any training data at the given path."
          }
        }
      }
    }
  ],
  "Variables": {
    "API_KEY": "Sanitized",
    "ENDPOINT": "https://vdi-fr-test-eastus.ppe.cognitiveservices.azure.com/",
    "RandomSeed": "755094846",
    "SINGLEPAGE_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net"
  }
}
