{
  "Entries": [
    {
      "RequestUri": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentModels:build?api-version=2024-11-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "2092982763",
        "description": "This classifier was generated by a .NET test.",
        "buildMode": "neural",
        "azureBlobSource": {
          "containerUrl": "https://sanitized.blob.core.windows.net",
          "prefix": "subfolder"
        },
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/operations/31432571802_f60ac5d1-142f-4f0e-9166-21715c3530d8?api-version=2024-11-30",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/operations/31432571802_f60ac5d1-142f-4f0e-9166-21715c3530d8?api-version=2024-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31432571802_f60ac5d1-142f-4f0e-9166-21715c3530d8",
        "kind": "documentModelBuild",
        "status": "notStarted",
        "createdDateTime": "2024-12-10T02:03:18Z",
        "lastUpdatedDateTime": "2024-12-10T02:03:18Z",
        "resourceLocation": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentModels/2092982763?api-version=2024-11-30",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "apiVersion": "2024-11-30"
      }
    },
    {
      "RequestUri": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/operations/31432571802_f60ac5d1-142f-4f0e-9166-21715c3530d8?api-version=2024-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31432571802_f60ac5d1-142f-4f0e-9166-21715c3530d8",
        "kind": "documentModelBuild",
        "status": "running",
        "createdDateTime": "2024-12-10T02:03:18Z",
        "lastUpdatedDateTime": "2024-12-10T02:03:55Z",
        "resourceLocation": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentModels/2092982763?api-version=2024-11-30",
        "percentCompleted": 0,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "apiVersion": "2024-11-30"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/operations/31432571802_f60ac5d1-142f-4f0e-9166-21715c3530d8?api-version=2024-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31432571802_f60ac5d1-142f-4f0e-9166-21715c3530d8",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2024-12-10T02:03:18Z",
        "lastUpdatedDateTime": "2024-12-10T02:33:16Z",
        "resourceLocation": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentModels/2092982763?api-version=2024-11-30",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "2092982763": {
              "fieldSchema": {
                "Merchant": {
                  "type": "string"
                },
                "PhoneNumber": {
                  "type": "string"
                },
                "Website": {
                  "type": "string"
                },
                "Email": {
                  "type": "string"
                },
                "PurchaseOrderNumber": {
                  "type": "string"
                },
                "DatedAs": {
                  "type": "string"
                },
                "VendorName": {
                  "type": "string"
                },
                "CompanyName": {
                  "type": "string"
                },
                "CompanyAddress": {
                  "type": "string"
                },
                "CompanyPhoneNumber": {
                  "type": "string"
                },
                "Subtotal": {
                  "type": "string"
                },
                "Tax": {
                  "type": "string"
                },
                "Total": {
                  "type": "string"
                },
                "Signature": {
                  "type": "string"
                },
                "Quantity": {
                  "type": "number"
                }
              },
              "buildMode": "neural"
            }
          },
          "trainingHours": 0.5,
          "modelId": "2092982763",
          "createdDateTime": "2024-12-10T02:33:15Z",
          "modifiedDateTime": "2024-12-10T02:33:15Z",
          "expirationDateTime": "2026-12-10T02:33:15Z",
          "apiVersion": "2024-11-30",
          "description": "This classifier was generated by a .NET test.",
          "tags": {
            "tag1": "value1",
            "tag2": "value2"
          }
        },
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "apiVersion": "2024-11-30"
      }
    },
    {
      "RequestUri": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentModels/2092982763?api-version=2024-11-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-12-10T10:03:14.233617+08:00",
    "ENDPOINT": "https://camaiaornettesting.cognitiveservices.azure.com/",
    "RandomSeed": "922644587",
    "SINGLEPAGE_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net"
  }
}