{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "NRMSV2OptIn": "11162022"
        },
        "subscriptionId": "4bd2aa0f-2bd2-4d67-91a8-5a4533d58600",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure Migrate Test2 (Canary Enabled)",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourcegroups/dhlodhiCCY?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/dhlodhiCCY",
        "name": "dhlodhiCCY",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "centraluseuap",
        "tags": {
          "Created": "20201231",
          "SkipCleanup": "true"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/dhlodhiCCY/providers/Microsoft.Migrate/assessmentProjects/sql-ecy-05197632project?api-version=2023-03-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"00005006-0000-3400-0000-67628ff80000\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/dhlodhiCCY/providers/Microsoft.Migrate/assessmentprojects/sql-ecy-05197632project",
        "name": "sql-ecy-05197632project",
        "type": "Microsoft.Migrate/assessmentprojects",
        "etag": "\"00005006-0000-3400-0000-67628ff80000\"",
        "location": "eastus2euap",
        "kind": "Migrate",
        "tags": {
          "Migrate Project": "dh-ecy-sqltest"
        },
        "properties": {
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled",
          "customerStorageAccountArmId": null,
          "createdTimestamp": "2022-05-19T13:44:54.5757000Z",
          "updatedTimestamp": "2024-12-04T07:36:00.3977046Z",
          "serviceEndpoint": "https://asmsrv.ecy.prod.migration.windowsazure.com/",
          "assessmentSolutionId": "/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/dhlodhiCCY/providers/Microsoft.Migrate/MigrateProjects/dh-ecy-sqltest/Solutions/Servers-Assessment-ServerAssessment",
          "projectStatus": "Active",
          "customerWorkspaceId": null,
          "customerWorkspaceLocation": null,
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/dhlodhiCCY/providers/Microsoft.Migrate/assessmentProjects/sql-ecy-05197632project/groups/suyashtest?api-version=2023-03-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/dhlodhiccy/providers/Microsoft.Migrate/assessmentprojects/sql-ecy-05197632project/groups/suyashtest",
        "name": "suyashtest",
        "eTag": "\"0100d40c-0000-3400-0000-664f2a590000\"",
        "type": "Microsoft.Migrate/assessmentprojects/groups",
        "properties": {
          "groupStatus": "Completed",
          "groupType": "Default",
          "machineCount": 1,
          "assessments": [
            "/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/dhlodhiccy/providers/Microsoft.Migrate/assessmentprojects/sql-ecy-05197632project/groups/suyashtest/sqlAssessments/suyashtest"
          ],
          "supportedAssessmentTypes": [
            "MachineAssessment",
            "AvsAssessment",
            "SqlAssessment"
          ],
          "areAssessmentsRunning": false,
          "createdTimestamp": "2024-05-23T11:36:54.5113891Z",
          "updatedTimestamp": "2024-05-23T11:36:57.5547318Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/dhlodhiccy/providers/Microsoft.Migrate/assessmentProjects/sql-ecy-05197632project/groups/suyashtest/sqlAssessments/Sql-asm0?api-version=2023-03-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "osLicense": "Unknown",
          "environmentType": "Production",
          "optimizationLogic": "MinimizeCost",
          "reservedInstanceForVm": "None",
          "azureOfferCodeForVm": "MSAZR0023P",
          "azureSqlManagedInstanceSettings": {
            "azureSqlServiceTier": "Automatic",
            "azureSqlInstanceType": "Automatic"
          },
          "azureSqlDatabaseSettings": {
            "azureSqlServiceTier": "Automatic",
            "azureSqlDataBaseType": "Automatic",
            "azureSqlComputeTier": "Automatic",
            "azureSqlPurchaseModel": "VCore"
          },
          "azureSqlVmSettings": {
            "instanceSeries": [
              "M_series"
            ]
          },
          "multiSubnetIntent": "None",
          "asyncCommitModeIntent": "None",
          "isInternetAccessAvailable": true,
          "enableHadrAssessment": false,
          "azureSecurityOfferingType": "NO",
          "reservedInstance": "None",
          "sqlServerLicense": "Unknown",
          "groupType": "Default",
          "assessmentType": "SqlAssessment",
          "azureLocation": "southcentralus",
          "azureOfferCode": "MSAZR0023P",
          "currency": "USD",
          "scalingFactor": 2,
          "percentile": "Percentile50",
          "timeRange": "Month",
          "perfDataStartTime": "2024-09-26T09:36:48.4910000Z",
          "perfDataEndTime": "2024-10-26T09:36:48.4910000Z",
          "discountPercentage": 10,
          "sizingCriterion": "PerformanceBased"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/dhlodhiccy/providers/Microsoft.Migrate/assessmentprojects/sql-ecy-05197632project/groups/suyashtest/sqlAssessments/Sql-asm0",
        "name": "Sql-asm0",
        "systemData": {
          "createdAt": "0001-01-01T00:00:00",
          "createdBy": null,
          "createdByType": null,
          "lastModifiedAt": "0001-01-01T00:00:00",
          "lastModifiedBy": null,
          "lastModifiedByType": null
        },
        "eTag": "\"0600e0c1-0000-3400-0000-676295730000\"",
        "type": "Microsoft.Migrate/assessmentprojects/groups/sqlAssessments",
        "properties": {
          "osLicense": "Unknown",
          "environmentType": "Production",
          "entityUptime": {
            "daysPerMonth": 31,
            "hoursPerDay": 24
          },
          "optimizationLogic": "MinimizeCost",
          "reservedInstanceForVm": "None",
          "azureOfferCodeForVm": "MSAZR0023P",
          "eaSubscriptionId": null,
          "azureSqlManagedInstanceSettings": {
            "azureSqlServiceTier": "Automatic",
            "azureSqlInstanceType": "Automatic"
          },
          "azureSqlDatabaseSettings": {
            "azureSqlServiceTier": "Automatic",
            "azureSqlDataBaseType": "Automatic",
            "azureSqlComputeTier": "Automatic",
            "azureSqlPurchaseModel": "VCore"
          },
          "azureSqlVmSettings": {
            "instanceSeries": [
              "M_series"
            ]
          },
          "multiSubnetIntent": "None",
          "asyncCommitModeIntent": "None",
          "isInternetAccessAvailable": true,
          "disasterRecoveryLocation": "Unknown",
          "enableHadrAssessment": false,
          "azureSecurityOfferingType": "NO",
          "pricesTimestamp": "0001-01-01T00:00:00Z",
          "createdTimestamp": "2024-12-18T09:27:15.2456089Z",
          "updatedTimestamp": "2024-12-18T09:27:15.2456089Z",
          "reservedInstance": "None",
          "sqlServerLicense": "Unknown",
          "groupType": "Default",
          "assessmentType": "SqlAssessment",
          "azureLocation": "SouthCentralUs",
          "azureOfferCode": "MSAZR0023P",
          "currency": "USD",
          "scalingFactor": 2.0,
          "percentile": "Percentile50",
          "timeRange": "Month",
          "perfDataStartTime": "2024-11-18T09:27:15.229983Z",
          "perfDataEndTime": "2024-12-18T09:27:15.229983Z",
          "stage": "InProgress",
          "discountPercentage": 10.0,
          "sizingCriterion": "PerformanceBased",
          "confidenceRatingInPercentage": null,
          "status": "Created",
          "schemaVersion": "2.0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/dhlodhiccy/providers/Microsoft.Migrate/assessmentProjects/sql-ecy-05197632project/groups/suyashtest/sqlAssessments?api-version=2023-03-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/dhlodhiccy/providers/Microsoft.Migrate/assessmentprojects/sql-ecy-05197632project/groups/suyashtest/sqlAssessments/suyashtest",
            "name": "suyashtest",
            "systemData": {
              "createdAt": "0001-01-01T00:00:00",
              "createdBy": null,
              "createdByType": null,
              "lastModifiedAt": "0001-01-01T00:00:00",
              "lastModifiedBy": nu[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/dhlodhiccy/providers/Microsoft.Migrate/assessmentProjects/sql-ecy-05197632project/groups/suyashtest/sqlAssessments/Sql-asm0/downloadUrl?api-version=2023-03-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "assessmentReportUrl": "https://assessmentsrvcanecysa.blob.core.windows.net/42a26bf1-1a54-40ae-936a-234b709950be/suyashtestsql-asm0SqlAssessment?skoid=01d97ea9-5d47-4111-b766-3aff6979fa34&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&ske=2024-12-18T10%3A03%3A20Z&sks=b&skv=2023-08-03&sv=Sanitized&se=2024-12-18T10%3A03%3A20Z&sr=b&sp=rw&sig=Sanitized",
        "expirationTime": "2024-12-18T10:03:20.5011321+00:00"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/dhlodhiccy/providers/Microsoft.Migrate/assessmentProjects/sql-ecy-05197632project/groups/suyashtest/sqlAssessments/Sql-asm0/assessedSqlMachines?api-version=2023-03-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "app[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/dhlodhiccy/providers/Microsoft.Migrate/assessmentProjects/sql-ecy-05197632project/groups/suyashtest/sqlAssessments/Sql-asm0/assessedSqlMachines/4cc42835-72fc-42a2-bbb6-b3ad7ee5f650?api-version=2023-03-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHea[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/dhlodhiccy/providers/Microsoft.Migrate/assessmentProjects/sql-ecy-05197632project/groups/suyashtest/sqlAssessments/Sql-asm0/assessedSqlDatabases?api-version=2023-03-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "ap[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/dhlodhiccy/providers/Microsoft.Migrate/assessmentProjects/sql-ecy-05197632project/groups/suyashtest/sqlAssessments/Sql-asm0/assessedSqlDatabases/15b8bada-3a44-430f-a2d0-5b9b2bdb4f36?api-version=2023-03-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHe[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/dhlodhiccy/providers/Microsoft.Migrate/assessmentProjects/sql-ecy-05197632project/groups/suyashtest/sqlAssessments/Sql-asm0/assessedSqlInstances?api-version=2023-03-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "ap[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/dhlodhiccy/providers/Microsoft.Migrate/assessmentProjects/sql-ecy-05197632project/groups/suyashtest/sqlAssessments/Sql-asm0/assessedSqlInstances/399714f0-97b4-4331-af30-b652bb09d12c?api-version=2023-03-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHe[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/dhlodhiccy/providers/Microsoft.Migrate/assessmentProjects/sql-ecy-05197632project/groups/suyashtest/sqlAssessments/Sql-asm0/recommendedAssessedEntities?api-version=2023-03-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Typ[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/dhlodhiccy/providers/Microsoft.Migrate/assessmentProjects/sql-ecy-05197632project/groups/suyashtest/sqlAssessments/Sql-asm0/recommendedAssessedEntities/399714f0-97b4-4331-af30-b652bb09d12c?api-version=2023-03-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "Res[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/dhlodhiccy/providers/Microsoft.Migrate/assessmentProjects/sql-ecy-05197632project/groups/suyashtest/sqlAssessments/Sql-asm0/summaries/default?api-version=2023-03-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16498",
        "x-ms-ratelimit-remaining-subscription-reads": "1098"
      },
      "ResponseBody": {
        "id": "/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/dhlodhiccy/providers/Microsoft.Migrate/assessmentprojects/sql-ecy-05197632project/groups/suyashtest/sqlAssessments/Sql-asm0/summaries/default",
        "eTag": "\"060027c2-0000-3400-0000-6762963f0000\"",
        "name": "default",
        "systemData": {
          "createdAt": "0001-01-01T00:00:00",
          "createdBy": null,
          "createdByType": null,
          "lastModifiedAt": "0001-01-01T00:00:00",
          "lastModifiedBy": null,
          "lastModifiedByType": null
        },
        "type": "Microsoft.Migrate/assessmentprojects/groups/sqlAssessments/summaries",
        "properties": {
          "numberOfSuccessfullyDiscoveredSqlInstances": 1,
          "assessmentSummary": {
            "azureSqlManagedInstance": {
              "suitabilitySummary": {
                "readinessUnknown": 4
              },
              "monthlyComputeCost": 2446.196112,
              "monthlyStorageCost": 0.0,
              "monthlyLicenseCost": 1487.49408,
              "confidenceScore": 0.0,
              "monthlySecurityCost": 0.0,
              "monthlyManagementCost": 0.0,
              "managementCostSummary": [],
              "managementSuitabilitySummary": []
            },
            "azureSqlVirtualMachine": {
              "suitabilitySummary": {
                "suitableForSqlVM": 4
              },
              "monthlyComputeCost": 4938.9696,
              "monthlyStorageCost": 0.589248,
              "monthlyLicenseCost": 5580.0,
              "confidenceScore": 0.0,
              "monthlySecurityCost": 0.0,
              "monthlyManagementCost": 0.0,
              "managementCostSummary": [],
              "managementSuitabilitySummary": []
            },
            "azureSqlDatabase": {
              "suitabilitySummary": {
                "suitableForSqlDB": 1,
                "readinessUnknown": 2,
                "conditionallySuitableForSqlDB": 1
              },
              "monthlyComputeCost": 3913.892352,
              "monthlyStorageCost": 2.484,
              "monthlyLicenseCost": 2379.990528,
              "confidenceScore": 0.0,
              "monthlySecurityCost": 0.0,
              "monthlyManagementCost": 0.0,
              "managementCostSummary": [],
              "managementSuitabilitySummary": []
            },
            "azureVirtualMachine": {
              "suitabilitySummary": {
                "suitableForVM": 1
              },
              "monthlyComputeCost": 1234.7424,
              "monthlyStorageCost": 16.128,
              "monthlyLicenseCost": 0.0,
              "confidenceScore": 0.0,
              "monthlySecurityCost": 0.0,
              "monthlyManagementCost": 0.0,
              "managementCostSummary": [],
              "managementSuitabilitySummary": []
            },
            "recommended": {
              "suitabilitySummary": {
                "suitableForSqlVM": 4
              },
              "monthlyComputeCost": 4938.9696,
              "monthlyStorageCost": 0.589248,
              "monthlyLicenseCost": 5580.0,
              "confidenceScore": 0.0,
              "monthlySecurityCost": 0.0,
              "monthlyManagementCost": 0.0,
              "managementCostSummary": [],
              "managementSuitabilitySummary": []
            }
          },
          "distributionBySupportStatus": {
            "unknown": 2,
            "extended": 2
          },
          "distributionByServicePackInsight": {
            "unknown": 4
          },
          "distributionBySqlVersion": {
            "13.2.5026.0": 2,
            "sql Server 2016": 2
          },
          "distributionBySqlEdition": {
            "enterprise Edition": 2,
            "enterprise Edition (64-bit)": 1,
            "enterprise Evaluation Edition": 1
          },
          "instanceDistributionBySizingCriterion": {
            "performanceBased": 0,
            "asOnPremises": 0,
            "perfBasedFallbackToAsOnPremises": 4
          },
          "databaseDistributionBySizingCriterion": {
            "performanceBased": 0,
            "asOnPremises": 0,
            "perfBasedFallbackToAsOnPremises": 4
          },
          "numberOfMachines": 1,
          "numberOfSqlInstances": 4,
          "numberOfSqlDatabases": 4,
          "numberOfFciInstances": 0,
          "numberOfSqlAvailabilityGroups": 0
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/dhlodhiccy/providers/Microsoft.Migrate/assessmentProjects/sql-ecy-05197632project/groups/suyashtest/sqlAssessments/Sql-asm0?api-version=2023-03-15",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-deletes": "799",
        "x-ms-ratelimit-remaining-subscription-global-deletes": "11999"
      },
      "ResponseBody": {}
    }
  ],
  "Variables": {
    "RandomSeed": "455091714",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "4bd2aa0f-2bd2-4d67-91a8-5a4533d58600"
  }
}
