{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "NRMSV2OptIn": "11162022"
        },
        "subscriptionId": "4bd2aa0f-2bd2-4d67-91a8-5a4533d58600",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure Migrate Test2 (Canary Enabled)",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourcegroups/dhlodhiCCY?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/dhlodhiCCY",
        "name": "dhlodhiCCY",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "centraluseuap",
        "tags": {
          "Created": "20201231",
          "SkipCleanup": "true"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/dhlodhiCCY/providers/Microsoft.Migrate/assessmentProjects/sql-ecy-05197632project?api-version=2023-03-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"2e00631f-0000-3400-0000-67d86fe90000\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/dhlodhiCCY/providers/Microsoft.Migrate/assessmentprojects/sql-ecy-05197632project",
        "name": "sql-ecy-05197632project",
        "type": "Microsoft.Migrate/assessmentprojects",
        "etag": "\"2e00631f-0000-3400-0000-67d86fe90000\"",
        "location": "eastus2euap",
        "kind": "Migrate",
        "tags": {
          "Migrate Project": "dh-ecy-sqltest"
        },
        "properties": {
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled",
          "customerStorageAccountArmId": null,
          "createdTimestamp": "2022-05-19T13:44:54.5757000Z",
          "updatedTimestamp": "2025-03-17T06:16:34.9895800Z",
          "serviceEndpoint": "https://asmsrv.ecy.prod.migration.windowsazure.com/",
          "assessmentSolutionId": "/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/dhlodhiCCY/providers/Microsoft.Migrate/MigrateProjects/dh-ecy-sqltest/Solutions/Servers-Assessment-ServerAssessment",
          "projectStatus": "Active",
          "customerWorkspaceId": null,
          "customerWorkspaceLocation": null,
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/dhlodhiCCY/providers/Microsoft.Migrate/assessmentProjects/sql-ecy-05197632project/sqlAssessmentOptions/default?api-version=2023-03-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "eTag": null,
        "type": "Microsoft.Migrate/assessmentprojects/sqlAssessmentOptions",
        "systemData": {
          "createdAt": "2025-03-17T18:54:37.455309Z",
          "createdBy": null,
          "createdByType": null,
          "lastModifiedAt": "2025-03-17T18:54:37.455309Z",
          "lastModifiedBy": null,
          "lastModifiedByType": null
        },
        "properties": {
          "vmFamilies": [
            {
              "familyName": "Dadsv5_series",
              "targetLocations": [
                "AustraliaCentral",
                "AustraliaCentral2",
                "AustraliaEast",
                "AustraliaSoutheast",
                "BrazilSouth",
                "CanadaCentral",
                "CanadaEast",
                "CentralIndia",
                "CentralUs",
                "EastAsia",
                "EastUs",
                "EastUs2",
                "FranceCentral",
                "FranceSouth",
                "GermanyNorth",
                "Germ[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/dhlodhiCCY/providers/Microsoft.Migrate/assessmentProjects/sql-ecy-05197632project/sqlAssessmentOptions?api-version=2023-03-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "eTag": null,
            "type": "Microsoft.Migrate/assessmentprojects/sqlAssessmentOptions",
            "systemData": {
              "createdAt": "2025-03-17T18:54:39.6467791Z",
              "createdBy": null,
              "createdByType": null,
              "lastModifiedAt": "2025-03-17T18:54:39.6467791Z",
              "lastModifiedBy": null,
              "lastModifiedByType": null
            },
            "properties": {
              "vmFamilies": [
     [...]
