{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.LabServices/operations?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2017-12-01-preview, 2018-10-15, 2019-01-01-preview, 2020-05-01-preview, 2021-10-01-preview, 2021-11-15-preview, 2022-05-01-preview, 2022-08-01, 2023-06-07",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Microsoft.LabServices/register/action",
            "isDataAction": false,
            "origin": "user,system",
            "display": {
              "provider": "Microsoft Azure Lab Services",
              "resource": "Microsoft.LabServices",
              "operation": "Register Subscription for Lab Services",
              "description": "Register the subscription with the Lab Services provider and enable the creation of labs."
            }
          },
          {
            "name": "Microsoft.LabServices/unregister/action",
            "isDataAction": false,
            "origin": "user,system",
            "display": {
              "provider": "Microsoft Azure Lab Services",
              "resource": "Microsoft.LabServices",
              "operation": "Unregister Subscription for Lab Services",
              "description":[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.LabServices/skus?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "resourceType": "labs",
            "name": "Basic",
            "tier": "Classic",
            "size": "Fsv2_2_4GB_128_S_SSD",
            "family": "Fsv2",
            "locations": [
              "australiaeast"
            ],
            "locationInfo": [
              {
                "location": "australiaeast",
                "zones": [],
                "zoneDetails": []
              }
            ],
            "capacity": {
              "minimum": 0,
              "maximum": 400,
              "default": 1,
              "scaleType": "Automatic"
            },
            "capabilities": [
              {
                "name": "vCPUs",
                "value": "2"
              },
              {
                "name": "MemoryGB",
                "value": "4"
              },
              {
                "name": "StorageGB",
                "value": "128"
              },
              {
                "name": "StorageType",
                "value": "StandardSSD"
              },
              {
                "name": "HyperVGenerations",
                "value": "V1,V2"
              },
              {
                "name": "IsGpu",
                "value": "False"
              }
            ],
            "restrictions": []
          },
          {
            "resourceType": "labs",
            "name": "Basic",
            "tier": "Classic",
            "size": "Fsv2_2_4GB_128_S_SSD",
            "family": "Fsv2",
            "locations": [
              "australiasoutheast"
            ],
            "locationInfo": [
              {
                "location": "australiasoutheast",
                "zones": [],
                "zoneDetails": []
              }
            ],
            "capacity": {
        [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.LabServices/locations/eastus/usages?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview, 2021-11-15-preview, 2022-05-01-preview, 2022-08-01, 2023-06-07",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "currentValue": 0,
            "limit": 100,
            "unit": "Count",
            "name": {
              "localizedValue": "Small / Medium / Large Cores",
              "skuInstances": [
                "Small",
                "Medium",
                "Large"
              ],
              "value": "Fsv2"
            }
          },
          {
            "currentValue": 0,
            "limit": 0,
            "unit": "Count",
            "name": {
              "localizedValue": "Classic Small / Medium / Large Cores",
              "skuInstances": [
                "Classic Small",
                "Classic Medium",
                "Classic Large"
              ],
          [...]
