{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "5b4b650e-28b9-4790-b3ab-ddbd88d727c4",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure Event Grid - SDK",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourcegroups/EventGridRG7741?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "tags": {
          "DeleteAfter": "2025-03-17T22:17:04.0467037"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/EventGridRG7741",
        "name": "EventGridRG7741",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "DeleteAfter": "2025-03-17T22:17:04.0467037"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/EventGridRG7741/providers/Microsoft.EventGrid/partnerConfigurations/default?api-version=2025-02-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "Global",
        "properties": {
          "partnerAuthorization": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "properties": {
          "partnerAuthorization": {
            "defaultMaximumExpirationTimeInDays": 7,
            "authorizedPartnersList": null
          },
          "provisioningState": "Succeeded"
        },
        "systemData": null,
        "location": "Global",
        "tags": null,
        "id": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/EventGridRG7741/providers/Microsoft.EventGrid/partnerConfigurations/default",
        "name": "default",
        "type": "Microsoft.EventGrid/partnerConfigurations"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/EventGridRG7741/providers/Microsoft.EventGrid/partnerRegistrations/registration639?api-version=2025-02-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "Global",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "partnerRegistrationImmutableId": "75debdb9-d9fa-4766-b8d2-aa70dfaf5bbe",
          "visibilityState": "Hidden"
        },
        "systemData": null,
        "location": "Global",
        "tags": null,
        "id": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/EventGridRG7741/providers/Microsoft.EventGrid/partnerRegistrations/registration639",
        "name": "registration639",
        "type": "Microsoft.EventGrid/partnerRegistrations"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/EventGridRG7741/providers/Microsoft.EventGrid/partnerConfigurations/default/authorizePartner?api-version=2025-02-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "partnerRegistrationImmutableId": "75debdb9-d9fa-4766-b8d2-aa70dfaf5bbe"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11998",
        "x-ms-ratelimit-remaining-subscription-writes": "798"
      },
      "ResponseBody": {
        "properties": {
          "partnerAuthorization": {
            "defaultMaximumExpirationTimeInDays": 7,
            "authorizedPartnersList": [
              {
                "partnerRegistrationImmutableId": "75debdb9-d9fa-4766-b8d2-aa70dfaf5bbe",
                "partnerName": null,
                "authorizationExpirationTimeInUtc": "2025-03-24T14:17:15.0426375Z"
              }
            ]
          },
          "provisioningState": "Succeeded"
        },
        "systemData": null,
        "location": "global",
        "tags": null,
        "id": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/EventGridRG7741/providers/Microsoft.EventGrid/partnerConfigurations/default",
        "name": "default",
        "type": "Microsoft.EventGrid/partnerConfigurations"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/EventGridRG7741/providers/Microsoft.EventGrid/partnerConfigurations/default/unauthorizePartner?api-version=2025-02-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "partnerRegistrationImmutableId": "75debdb9-d9fa-4766-b8d2-aa70dfaf5bbe"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "properties": {
          "partnerAuthorization": {
            "defaultMaximumExpirationTimeInDays": 7,
            "authorizedPartnersList": []
          },
          "provisioningState": "Succeeded"
        },
        "systemData": null,
        "location": "global",
        "tags": null,
        "id": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/EventGridRG7741/providers/Microsoft.EventGrid/partnerConfigurations/default",
        "name": "default",
        "type": "Microsoft.EventGrid/partnerConfigurations"
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-17T19:47:04.0467037+05:30",
    "RandomSeed": "1176403330",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "5b4b650e-28b9-4790-b3ab-ddbd88d727c4"
  }
}
