{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus-1.eventgrid.azure.net/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/cloudevents-batch+json; charset=utf-8"
      },
      "RequestBody": "[{\"id\":\"Sanitized\",\"source\":\"Sanitized\",\"data\":{\"hello\":\"world\"},\"type\":\"Azure.Sdk.TestEvent1\",\"time\":\"2024-07-05T22:27:39.000Z\",\"specversion\":\"1.0\",\"datacontenttype\":\"application/json\",\"subject\":\"Multiple 1\"},{\"id\":\"Sanitized\",\"source\":\"Sanitized\",\"data\":{\"hello\":\"world\"},\"type\":\"Azure.Sdk.TestEvent1\",\"time\":\"2024-07-05T22:27:39.000Z\",\"specversion\":\"1.0\",\"datacontenttype\":\"application/json\",\"subject\":\"Multiple 2\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2018-01-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "cloudMultiEventDate1": "Fri Jul 05 2024 15:27:39 GMT-0700 (Pacific Daylight Time)",
    "cloudMultiEventDate2": "Fri Jul 05 2024 15:27:39 GMT-0700 (Pacific Daylight Time)",
    "cloudMultiEventId1": "cloudMultiEventId1100377",
    "cloudMultiEventId2": "cloudMultiEventId2100771"
  }
}
