{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/noLabelTests725?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjEzODQ=;sn=75061384",
        "x-ms-date": "Tue, 04 Nov 2025 18:57:40 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "noLabelTests": "noLabelTests725"
  }
}
