{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/noLabelTests608?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTMzNQ==;sn=53365335",
        "x-ms-date": "Mon, 15 Jun 2026 18:27:08 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "noLabelTests": "noLabelTests608"
  }
}
