{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/noLabelTests427?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNTYzNw==;sn=53125637",
        "x-ms-date": "Tue, 09 Jun 2026 23:31:36 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "noLabelTests": "noLabelTests427"
  }
}
