{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem171621670127108632?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC78DC5B4C72A5\"",
        "Last-Modified": "Mon, 20 May 2024 14:51:39 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171621670127108632/file171621670139801402?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC78DC5B615A3F\"",
        "Last-Modified": "Mon, 20 May 2024 14:51:40 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171621670127108632/file171621670139801402?position=0&action=append",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "Hello World",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171621670127108632/file171621670139801402?position=11&action=flush",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC78DC5B86395A\"",
        "Last-Modified": "Mon, 20 May 2024 14:51:40 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171621670127108632/dirname171621670176105593?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC78DC5B97529C\"",
        "Last-Modified": "Mon, 20 May 2024 14:51:40 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171621670127108632/dirname171621670176105593/.%2Fadir%2F..%2Fanotherdir%2F..%2F.%2Ffilename171621670187304068?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC78DC5BA9F437\"",
        "Last-Modified": "Mon, 20 May 2024 14:51:40 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171621670127108632?resource=filesystem&directory=dirname171621670176105593&recursive=false&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133606903005770807",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Mon, 20 May 2024 14:51:40 GMT",
            "name": "dirname171621670176105593/filename171621670187304068",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171621670127108632/dirname171621670176105593/.%2Fadir%2F..%2F..%2Fanotherdir%2F..%2F.%2Ffilename1171621670210004327?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC78DC5BCB8E11\"",
        "Last-Modified": "Mon, 20 May 2024 14:51:40 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171621670127108632?resource=filesystem&recursive=false&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133606903004549788",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Mon, 20 May 2024 14:51:40 GMT",
            "name": "dirname171621670176105593",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          },
          {
            "contentLength": "11",
            "creationTime": "133606903001012799",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Mon, 20 May 2024 14:51:40 GMT",
            "name": "file171621670139801402",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          },
          {
            "contentLength": "0",
            "creationTime": "133606903007972881",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Mon, 20 May 2024 14:51:40 GMT",
            "name": "filename1171621670210004327",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem171621670127108632?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dirname": "dirname171621670176105593",
    "file": "file171621670139801402",
    "filename": "filename171621670187304068",
    "filename1": "filename1171621670210004327",
    "filesystem": "filesystem171621670127108632"
  }
}
