{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem169273875584903867?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBA35482302CA0\u0022",
        "Last-Modified": "Tue, 22 Aug 2023 21:12:35 GMT",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem169273875584903867/file169273875593409839?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBA354823FCC90\u0022",
        "Last-Modified": "Tue, 22 Aug 2023 21:12:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem169273875584903867/file169273875593409839?position=0\u0026action=append",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": "Hello World",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem169273875584903867/file169273875593409839?position=11\u0026action=flush",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBA354825C232D\u0022",
        "Last-Modified": "Tue, 22 Aug 2023 21:12:36 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem169273875584903867/file169273875593409839?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-meta-a": "a",
        "x-ms-meta-b": "b",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBA3548266C2F4\u0022",
        "Last-Modified": "Tue, 22 Aug 2023 21:12:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem169273875584903867/file169273875593409839?",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220x8DBA3548266C2F4\u0022",
        "Last-Modified": "Tue, 22 Aug 2023 21:12:36 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 22 Aug 2023 21:12:36 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-a": "a",
        "x-ms-meta-b": "b",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem169273875584903867?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "file": "file169273875593409839",
    "filesystem": "filesystem169273875584903867"
  }
}
