{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem169273879559809459?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBA35499E253BD\u0022",
        "Last-Modified": "Tue, 22 Aug 2023 21:13:15 GMT",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem169273879559809459/file169273879569103669?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBA35499F243E9\u0022",
        "Last-Modified": "Tue, 22 Aug 2023 21:13:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem169273879559809459/file169273879569103669?position=0\u0026action=append",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": "Hello World",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem169273879559809459/file169273879569103669?position=11\u0026action=flush",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBA3549A0E3AE1\u0022",
        "Last-Modified": "Tue, 22 Aug 2023 21:13:16 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem169273879559809459/tempfile2169273879595701530?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBA3549A1F8E21\u0022",
        "Last-Modified": "Tue, 22 Aug 2023 21:13:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem169273879559809459/tempfile2169273879595701530?position=0\u0026action=append",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": "HelloWorld",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem169273879559809459/tempfile2169273879595701530?position=20\u0026action=append\u0026flush=true",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": "HelloWorld",
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBA3549A430163\u0022",
        "Last-Modified": "Tue, 22 Aug 2023 21:13:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem169273879559809459/tempfile2169273879595701530?",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\u00220x8DBA3549A430163\u0022",
        "Last-Modified": "Tue, 22 Aug 2023 21:13:16 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 22 Aug 2023 21:13:16 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem169273879559809459/tempfile2169273879595701530?paginated=false",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "true",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem169273879559809459?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "file": "file169273879569103669",
    "filesystem": "filesystem169273879559809459",
    "tempfile2": "tempfile2169273879595701530"
  }
}
