{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem169273868831609423?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBA35459EF4821\u0022",
        "Last-Modified": "Tue, 22 Aug 2023 21:11:28 GMT",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem169273868831609423/file169273868840205030?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBA3545A0518D1\u0022",
        "Last-Modified": "Tue, 22 Aug 2023 21:11:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem169273868831609423/file169273868840205030?position=0\u0026action=append",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": "Hello World",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem169273868831609423/file169273868840205030?position=11\u0026action=flush",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBA3545A1E21F0\u0022",
        "Last-Modified": "Tue, 22 Aug 2023 21:11:28 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem169273868831609423/dirname169273868868703677?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBA3545A28A2F6\u0022",
        "Last-Modified": "Tue, 22 Aug 2023 21:11:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem169273868831609423?resource=filesystem\u0026recursive=false\u0026",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133372122888250102",
            "etag": "0x8DBA3545A28A2F6",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Tue, 22 Aug 2023 21:11:28 GMT",
            "name": "dirname169273868868703677",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          },
          {
            "contentLength": "11",
            "creationTime": "133372122885920977",
            "etag": "0x8DBA3545A1E21F0",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Tue, 22 Aug 2023 21:11:28 GMT",
            "name": "file169273868840205030",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem169273868831609423?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dirname": "dirname169273868868703677",
    "file": "file169273868840205030",
    "filesystem": "filesystem169273868831609423"
  }
}
