{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DataFactory/factories/examplefactorytest/datasets/exampleDataset?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlob",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "exampleLinkedService"
          },
          "parameters": {
            "myFileName": {
              "type": "String"
            },
            "myFolderPath": {
              "type": "String"
            }
          },
          "typeProperties": {
            "folderPath": {
              "type": "Expression",
              "value": "@dataset().MyFolderPath"
            },
            "fileName": {
              "type": "Expression",
              "value": "@dataset().MyFileName"
            },
            "format": {
              "type": "TextFormat"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DataFactory/factories/examplefactorytest/datasets/exampleDataset",
        "name": "exampleDataset",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "AzureBlob",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "exampleLinkedService"
          },
          "parameters": {
            "myFileName": {
              "type": "String"
            },
            "myFolderPath": {
              "type": "String"
            }
          },
          "typeProperties": {
            "folderPath": {
              "type": "Expression",
              "value": "@dataset().MyFolderPath"
            },
            "fileName": {
              "type": "Expression",
              "value": "@dataset().MyFileName"
            },
            "format": {
              "type": "TextFormat"
            }
          }
        },
        "etag": "Sanitized"
      }
    }
  ],
  "Variables": {}
}
