{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DataFactory/factories/examplefactorytest/datasets/CurrencyDatasetUSD?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlob",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "exampleLinkedService"
          },
          "parameters": {
            "myFileName": {
              "type": "String"
            },
            "myFolderPath": {
              "type": "String"
            }
          },
          "typeProperties": {
            "folderPath": {
              "type": "Expression",
              "value": "@dataset().MyFolderPath"
            },
            "fileName": {
              "type": "Expression",
              "value": "@dataset().MyFileName"
            },
            "format": {
              "type": "TextFormat"
            }
          }
        }
      },
      "StatusCode": 503,
      "ResponseHeaders": {
        "Content-Type": "text/html",
        "X-Azure-ExternalError": "0x80072ee2,OriginTimeout"
      },
      "ResponseBody": "<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'><html xmlns='http://www.w3.org/1999/xhtml'><head><meta content='text/html; charset=utf-8' http-equiv='content-type'/><style type='text/css'>body {font-family:Arial; margin-left:40px; }img  { border:0 none; }#content { margin-left: auto; margin-right: auto }#message h2 { font-size: 20px; font-weight: normal; color: #000000; margin: 34px 0px 0px 0px }#message p  { font-size: 13px; color: #000000; margin: 7px 0px 0px0px}#errorref { font-size: 11px; color: #737373; margin-top: 41px }</style><title>AzureResourceManager</title></head><body><div id='content'><div id='message'><h2>Our services aren't available right now</h2><p>We're working to restore all services as soon as possible. Please check back soon.</p></div><div id='errorref'><span>Ref A: 54DD9E107CAE4AD89E6D6031F151C001 Ref B: TYO601100906036 Ref C: 2026-04-28T08:01:38Z</span></div></div></body></html>"
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DataFactory/factories/examplefactorytest/datasets/CurrencyDatasetUSD?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlob",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "exampleLinkedService"
          },
          "parameters": {
            "myFileName": {
              "type": "String"
            },
            "myFolderPath": {
              "type": "String"
            }
          },
          "typeProperties": {
            "folderPath": {
              "type": "Expression",
              "value": "@dataset().MyFolderPath"
            },
            "fileName": {
              "type": "Expression",
              "value": "@dataset().MyFileName"
            },
            "format": {
              "type": "TextFormat"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DataFactory/factories/examplefactorytest/datasets/CurrencyDatasetUSD",
        "name": "CurrencyDatasetUSD",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "AzureBlob",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "exampleLinkedService"
          },
          "parameters": {
            "myFileName": {
              "type": "String"
            },
            "myFolderPath": {
              "type": "String"
            }
          },
          "typeProperties": {
            "folderPath": {
              "type": "Expression",
              "value": "@dataset().MyFolderPath"
            },
            "fileName": {
              "type": "Expression",
              "value": "@dataset().MyFileName"
            },
            "format": {
              "type": "TextFormat"
            }
          }
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DataFactory/factories/examplefactorytest/datasets/CurrencyDatasetCAD?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlob",
          "linkedServiceName": {
            "t[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DataFactory/factories/examplefactorytest/dataflows/exampleDataFlow?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "MappingDataFlow",
          "description": "Sample demo data flow to convert currencies showing usage of union, derive and conditional split transformation.",
          "typeProperties": {
            "sources": [
              {
                "name": "USDCurrency",
                "dataset": {
                  "type": "DatasetReference",
                  "referenceName": "CurrencyDatasetUSD"
                }
              },
              {
                "name": "CADSource",
                "dataset": {
                  "type": "DatasetReference",
                  "referenceName": "CurrencyDatasetCAD"
                }
              }
            ],
            "scriptLines": [
              "source(output(",
              "PreviousConversionRate as double,",
              "Country as string,",
              "DateTime1 as string,",
              "CurrentConversionRate as double",
              "),",
              "allowSchemaDrift: false,",
              "validateSchema: false) ~> USDCurrency",
              "source(output(",
              "PreviousConversionRate as double,",
              "Country as string,",
              "DateTime1 as string,",
              "Cu[...]
