{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/files?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVOYW1lIg0KDQpmaWxlQ29udGVudA0KLS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IHRleHQvcGxhaW47IGNoYXJzZXQ9VVRGLTgNCmNvbnRlbnQtZGlzcG9zaXRpb246IGZvcm0tZGF0YTsgbmFtZT0icHVycG9zZSINCg0KYXNzaXN0YW50cw0KLS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5LS0NCg0K",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "317d65ef-cd53-44c3-93b7-21658e8bb1ce",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.607"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-heqE1OIDanDQXuD5vRvOQn8h",
        "purpose": "assistants",
        "filename": "fileName",
        "bytes": 11,
        "created_at": 1732670833,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/files/assistant-heqE1OIDanDQXuD5vRvOQn8h?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "4876c14e-e421-486d-a498-2fa46fbd0efa",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.296"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-heqE1OIDanDQXuD5vRvOQn8h",
        "purpose": "assistants",
        "filename": "fileName",
        "bytes": 11,
        "created_at": 1732670833,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/files/assistant-heqE1OIDanDQXuD5vRvOQn8h?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "b0245de6-42bd-4ef8-a9d7-4447827b621f",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "8.666"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-heqE1OIDanDQXuD5vRvOQn8h"
      }
    }
  ],
  "Variables": {}
}
