{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Solutions/operations?api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Microsoft.Solutions/locations/operationstatuses/read",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.Solutions",
              "resource": "locations/operationstatuses",
              "operation": "read_operationstatuses",
              "description": "read operationstatuses"
            }
          },
          {
            "name": "Microsoft.Solutions/locations/operationstatuses/write",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.Solutions",
              "resource": "locations/operationstatuses",
              "operation": "write_operationstatuses",
              "description": "write operationstatuses"
            }
          },
          {
            "name": "Microsoft.Solutions/app[...]
