{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.DevOpsInfrastructure/operations?api-version=2024-04-04-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Microsoft.DevOpsInfrastructure/pools/read",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.DevOpsInfrastructure",
              "resource": "pools",
              "operation": "Pools_ListBySubscription",
              "description": "List Pool resources by subscription ID"
            },
            "properties": null
          },
          {
            "name": "Microsoft.DevOpsInfrastructure/pools/read",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.DevOpsInfrastructure",
              "resource": "pools",
              "operation": "Pools_ListByResourceGroup",
              "description": "List Pool resources by resource group"
            },
            "properties": null
          },
          {
            "name": "Microsoft.DevOpsInfrastructure/p[...]
