{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/d9eef650-a87c-433b-a236-0eaf3140d921?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/d9eef650-a87c-433b-a236-0eaf3140d921",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "WebXT-Environment": "NonProd",
          "Env": "NonProd",
          "IsHostedOnBehalfOf": "False",
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions"
        },
        "subscriptionId": "d9eef650-a87c-433b-a236-0eaf3140d921",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure_LBS_Engineering",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d9eef650-a87c-433b-a236-0eaf3140d921/resourcegroups/MapsRG4290?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/d9eef650-a87c-433b-a236-0eaf3140d921/resourceGroups/MapsRG4290",
        "name": "MapsRG4290",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d9eef650-a87c-433b-a236-0eaf3140d921/resourceGroups/MapsRG4290/providers/Microsoft.Maps/accounts?api-version=2023-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d9eef650-a87c-433b-a236-0eaf3140d921/resourceGroups/MapsRG4290/providers/Microsoft.Maps/accounts/maps1755?api-version=2023-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "location": "eastus",
        "sku": {
          "name": "G2"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "kind": "Gen2",
        "type": "Microsoft.Maps/accounts",
        "sku": {
          "name": "G2",
          "tier": "Standard"
        },
        "properties": {
          "uniqueId": "821437d4-371e-4793-81af-285a8d5c66cf",
          "provisioningState": "Updating",
          "disableLocalAuth": false
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-10-07T21:14:24.4171818Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-10-07T21:14:24.4171818Z"
        },
        "id": "/subscriptions/d9eef650-a87c-433b-a236-0eaf3140d921/resourceGroups/MapsRG4290/providers/Microsoft.Maps/accounts/maps1755",
        "name": "maps1755",
        "location": "eastus",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/d9eef650-a87c-433b-a236-0eaf3140d921/resourceGroups/MapsRG4290/providers/Microsoft.Maps/accounts?api-version=2023-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "00-f48301021e73b646b59ac3b8c26f5b1c-b57b9619fb9e8598-01",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "kind": "Gen2",
            "type": "Microsoft.Maps/accounts",
            "sku": {
              "name": "G2",
              "tier": "Standard"
            },
            "properties": {
              "uniqueId": "821437d4-371e-47[...]
