{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/d9eef650-a87c-433b-a236-0eaf3140d921?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/d9eef650-a87c-433b-a236-0eaf3140d921",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "WebXT-Environment": "NonProd",
          "Env": "NonProd",
          "IsHostedOnBehalfOf": "False",
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions"
        },
        "subscriptionId": "d9eef650-a87c-433b-a236-0eaf3140d921",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure_LBS_Engineering",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d9eef650-a87c-433b-a236-0eaf3140d921/resourcegroups/MapsRG9518?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/d9eef650-a87c-433b-a236-0eaf3140d921/resourceGroups/MapsRG9518",
        "name": "MapsRG9518",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d9eef650-a87c-433b-a236-0eaf3140d921/resourceGroups/MapsRG9518/providers/Microsoft.Maps/accounts/maps8605?api-version=2025-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "location": "eastus",
        "sku": {
          "name": "G2"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "kind": "Gen2",
        "type": "Microsoft.Maps/accounts",
        "sku": {
          "name": "G2",
          "tier": "Standard"
        },
        "properties": {
          "uniqueId": "d4dca31c-9e14-488b-8f11-6cb23fa581d0",
          "provisioningState": "Updating",
          "disableLocalAuth": false
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-10-07T21:13:08.1067144Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-10-07T21:13:08.1067144Z"
        },
        "id": "/subscriptions/d9eef650-a87c-433b-a236-0eaf3140d921/resourceGroups/MapsRG9518/providers/Microsoft.Maps/accounts/maps8605",
        "name": "maps8605",
        "location": "eastus",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/d9eef650-a87c-433b-a236-0eaf3140d921/resourceGroups/MapsRG9518/providers/Microsoft.Maps/accounts/maps8605?api-version=2025-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource 'Microsoft.Maps/accounts/maps8605' under resource group 'MapsRG9518' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "351601023",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "d9eef650-a87c-433b-a236-0eaf3140d921"
  }
}