{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/d9eef650-a87c-433b-a236-0eaf3140d921?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/d9eef650-a87c-433b-a236-0eaf3140d921",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "WebXT-Environment": "NonProd",
          "Env": "NonProd",
          "IsHostedOnBehalfOf": "False",
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions"
        },
        "subscriptionId": "d9eef650-a87c-433b-a236-0eaf3140d921",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure_LBS_Engineering",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d9eef650-a87c-433b-a236-0eaf3140d921/resourcegroups/MapsRG6139?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/d9eef650-a87c-433b-a236-0eaf3140d921/resourceGroups/MapsRG6139",
        "name": "MapsRG6139",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d9eef650-a87c-433b-a236-0eaf3140d921/resourceGroups/MapsRG6139/providers/Microsoft.Maps/accounts/maps2310?api-version=2023-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "location": "eastus",
        "sku": {
          "name": "G2"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "kind": "Gen2",
        "type": "Microsoft.Maps/accounts",
        "sku": {
          "name": "G2",
          "tier": "Standard"
        },
        "properties": {
          "uniqueId": "0356b925-8b7f-4d17-a059-8404d3ea1501",
          "provisioningState": "Updating",
          "disableLocalAuth": false
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-10-07T21:17:38.5962502Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-10-07T21:17:38.5962502Z"
        },
        "id": "/subscriptions/d9eef650-a87c-433b-a236-0eaf3140d921/resourceGroups/MapsRG6139/providers/Microsoft.Maps/accounts/maps2310",
        "name": "maps2310",
        "location": "eastus",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d9eef650-a87c-433b-a236-0eaf3140d921/resourceGroups/MapsRG6139/providers/Microsoft.Maps/accounts/maps2310/listKeys?api-version=2023-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "primaryKey": "Sanitized",
        "secondaryKey": "Sanitized",
        "primaryKeyLastUpdated": "2025-10-07T21:17:38.6592291Z",
        "secondaryKeyLastUpdated": "2025-10-07T21:17:38.6592957Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d9eef650-a87c-433b-a236-0eaf3140d921/resourceGroups/MapsRG6139/providers/Microsoft.Maps/accounts/maps2310/regenerateKey?api-version=2023-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "keyType": "secondary"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "primaryKey": "Sanitized",
        "secondaryKey": "Sanitized",
        "primaryKeyLastUpdated": "2025-10-07T21:17:38.6592291Z",
        "secondaryKeyLastUpdated": "2025-10-07T21:17:39.183166Z"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1711926719",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "d9eef650-a87c-433b-a236-0eaf3140d921"
  }
}
