{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1781548801072?api-version=2026-04-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"XGxHm7krxN4qGlW_1jjThLzibNoCGP633rI3S6ctL6w\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:40:04 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MjQ4Mw==;sn=53372483",
        "x-ms-date": "Mon, 15 Jun 2026 18:40:04 GMT"
      },
      "ResponseBody": {
        "etag": "XGxHm7krxN4qGlW_1jjThLzibNoCGP633rI3S6ctL6w",
        "key": "key1-1781548801072",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "description": null,
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2026-06-15T18:40:04+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1781548801072?api-version=2026-04-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MjQ4Mw=="
      },
      "RequestBody": {
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"HboNkRtBVfYSDUje0W2rEfM5JU5vqpbrmAdNYNL_Hwo\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:40:04 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MjQ4NA==;sn=53372484",
        "x-ms-date": "Mon, 15 Jun 2026 18:40:04 GMT"
      },
      "ResponseBody": {
        "etag": "HboNkRtBVfYSDUje0W2rEfM5JU5vqpbrmAdNYNL_Hwo",
        "key": "key2-1781548801072",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "description": null,
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-06-15T18:40:04+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MjQ4NA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Link": "</snapshots?api-version=2026-04-01&after=c25hcHNob3QtMTIwMjg4OTAzMg%3D%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MjQ4NA==;sn=53372484",
        "x-ms-date": "Mon, 15 Jun 2026 18:40:04 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "-PdXrVUCRS1vXR77_2D0diSnC648YwsaVrOvtoNynh4",
            "name": "first_snapshot1015312989",
            "description": null,
            "status": "archived",
            "filters": [
              {
                "key": "first_key",
                "label": null,
                "tags": []
              }
            ],
            "composition_type": "key",
            "created": "2026-06-12T18:33:53+00:00",
            "expires": "2026-06-15T19:29:23+00:00",
            "size": 1000,
            "items_count": 1,
            "tags": {},
            "retention_period": 3600
          },
          {
            "etag": "TH6RRAbplf_JORPiEc7Rse9rrOE4Z49f-V2Tptf5820",
            "name": "first_snapshot110990660",
            "description": null,
            "status": "archived",
            "filters": [
              {
                "key": "first_key",
                "label": null,
                "tags": []
              }
            ],
            "composition_type": "key",
            "created": "2026-06-12T18:18:16+00:00",
            "expires": "2026-06[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/first_snapshot1015312989?api-version=2026-04-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MjQ4NA=="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"-PdXrVUCRS1vXR77_2D0diSnC648YwsaVrOvtoNynh4\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:29:23 GMT",
        "Link": "</kv?snapshot=first_snapshot1015312989&api-version=2026-04-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MjQ4NA==;sn=53372484",
        "x-ms-date": "Mon, 15 Jun 2026 18:40:04 GMT"
      },
      "ResponseBody": {
        "etag": "-PdXrVUCRS1vXR77_2D0diSnC648YwsaVrOvtoNynh4",
        "name": "first_snapshot1015312989",
        "description": null,
        "status": "archived",
        "filters": [
          {
            "key": "first_key",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-06-12T18:33:53+00:00",
        "expires": "2026-06-15T19:29:23+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 3600
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/second_snapshot1021736087?api-version=2026-04-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MjQ4NA=="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"L_NhsI_spk4BNfxDGrwNMpGoV3YrIG4DTY4F2txC3q4\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:29:24 GMT",
        "Link": "</kv?snapshot=second_snapshot1021736087&api-version=2026-04-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MjQ4NA==;sn=53372484",
        "x-ms-date": "Mon, 15 Jun 2026 18:40:05 GMT"
      },
      "ResponseBody": {
        "etag": "L_NhsI_spk4BNfxDGrwNMpGoV3YrIG4DTY4F2txC3q4",
        "name": "second_snapshot1021736087",
        "description": "Test snapshot description",
        "status": "archived",
        "filters": [
          {
            "key": "second_key",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-06-12T17:45:35+00:00",
        "expires": "2026-06-15T19:29:24+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 3600
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-01882af7-72c4-4e78-b41c-7d96dfde002a?api-version=2026-04-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MjQ4NA=="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applicati[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1181699999?api-version=2026-04-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MjQ4NA=="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "retry-after-ms": "40",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MjQ4NA==;sn=53372484",
        "x-ms-date": "Mon, 15 Jun 2026 18:40:06 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/too-many-requests",
        "title": "Resource utilization has surpassed the assigned quota",
        "policy": "Write Action Short Term",
        "status": 429
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots?after=c25hcHNob3QtMTIwMjg4OTAzMg==&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MjQ4NA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Link": "</snapshots?api-version=2[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots?after=c25hcHNob3QtMjAyMjY0MDkxMg==&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MjQ4NA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NzoxNyM1Mz[...]
[...]
