{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1762283337689?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1762283337689",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"IvAic_XPRqjwMjj5YBKs0LmjvzRDoqTYk4REjOyGHE4\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:09:00 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQxNjI=;sn=75064162",
        "x-ms-date": "Tue, 04 Nov 2025 19:09:00 GMT"
      },
      "ResponseBody": {
        "etag": "IvAic_XPRqjwMjj5YBKs0LmjvzRDoqTYk4REjOyGHE4",
        "key": "key1-1762283337689",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2025-11-04T19:09:00+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1762283337689?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQxNjI="
      },
      "RequestBody": {
        "key": "key2-1762283337689",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"I49uvvmYtQKCtpBUKS2sHQiJ9dy2NU8lTcvwVpPPvrI\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:09:00 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQxNjM=;sn=75064163",
        "x-ms-date": "Tue, 04 Nov 2025 19:09:00 GMT"
      },
      "ResponseBody": {
        "etag": "I49uvvmYtQKCtpBUKS2sHQiJ9dy2NU8lTcvwVpPPvrI",
        "key": "key2-1762283337689",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-11-04T19:09:00+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQxNjM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQxNjM=;sn=75064163",
        "x-ms-date": "Tue, 04 Nov 2025 19:09:00 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "xoFqpi5KYVlUIJ7Mqo8dWwAFGqnVoCoyXna30rRkH4g",
            "name": "snapshot-1761196648205",
            "status": "archived",
            "filters": [
              {
                "key": "key1-1761196648205",
                "label": "label1",
                "tags": []
              }
            ],
            "composition_type": "key",
            "created": "2025-10-23T05:17:47+00:00",
            "expires": "2025-11-22T05:18:08+00:00",
            "size": 1000,
            "items_count": 1,
            "tags": {},
            "retention_period": 2592000
          },
          {
            "etag": "cUivxO688fUJZ1Aoubu2KKYU-PE99gAkBPDtJH2txyw",
            "name": "snapshot-1761196689235",
            "status": "archived",
            "filters": [
              {
                "key": "key1-1761196689235",
                "label": "label1",
                "tags": []
              }
            ],
            "composition_type": "key",
            "created": "2025-10-23T05:18:12+00:00",
            "expires": "2025-11-22T05:18:23+00:00[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1761196648205?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQxNjM="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"xoFqpi5KYVlUIJ7Mqo8dWwAFGqnVoCoyXna30rRkH4g\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:18:08 GMT",
        "Link": "</kv?snapshot=snapshot-1761196648205&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQxNjM=;sn=75064163",
        "x-ms-date": "Tue, 04 Nov 2025 19:09:00 GMT"
      },
      "ResponseBody": {
        "etag": "xoFqpi5KYVlUIJ7Mqo8dWwAFGqnVoCoyXna30rRkH4g",
        "name": "snapshot-1761196648205",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1761196648205",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-10-23T05:17:47+00:00",
        "expires": "2025-11-22T05:18:08+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots?api-version=2023-11-01&status=ready",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQxNjM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQxNjM=;sn=75064163",
        "x-ms-date": "Tue, 04 Nov 2025 19:09:13 GMT"
      },
      "ResponseBody": {
        "items": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1762283337689?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQxNjM="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1762283337689",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"weCi5sUNh2VMwTNvLs1WWOVspjOkei-jZnLiWmqo8JY\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:09:13 GMT",
        "Link": "</kv?snapshot=snapshot-1762283337689&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1762283337689&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQxNjQ=;sn=75064164",
        "x-ms-date": "Tue, 04 Nov 2025 19:09:13 GMT"
      },
      "ResponseBody": {
        "etag": "weCi5sUNh2VMwTNvLs1WWOVspjOkei-jZnLiWmqo8JY",
        "name": "snapshot-1762283337689",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1762283337689",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-11-04T19:09:13.708043+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1762283337689",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQxNjQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQxNjQ=;sn=75064164",
        "x-ms-date": "Tue, 04 Nov 2025 19:09:13 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1762283337689?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQxNzA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"I49uvvmYtQKCtpBUKS2sHQiJ9dy2NU8lTcvwVpPPvrI\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:09:00 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQxNzE=;sn=75064171",
        "x-ms-date": "Tue, 04 Nov 2025 19:09:46 GMT"
      },
      "ResponseBody": {
        "etag": "I49uvvmYtQKCtpBUKS2sHQiJ9dy2NU8lTcvwVpPPvrI",
        "key": "key2-1762283337689",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-11-04T19:09:00+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1762283337689",
    "key2": "key2-1762283337689",
    "snapshot1": "snapshot-1762283337689",
    "snapshot2": "snapshot-1762283364458"
  }
}
