{
  "Entries": [
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-72fd788f-fe88-f3b8-226d-8757b8180698?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 May 2026 21:02:12 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB77C3B135D9E\"",
        "Last-Modified": "Thu, 21 May 2026 21:02:12 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-72fd788f-fe88-f3b8-226d-8757b8180698/test-blob-da7570c2-5b99-e8f7-dec9-846d5f4ea260",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 21 May 2026 21:02:12 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DEB77C3B1AAE7A\"",
        "Last-Modified": "Thu, 21 May 2026 21:02:12 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-21T21:02:12.8621178Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-72fd788f-fe88-f3b8-226d-8757b8180698/test-blob-da7570c2-5b99-e8f7-dec9-846d5f4ea260?comp=block&blockid=AvXBdE97pkUK%2FsbGjj7F0XQjBtzRqdHqjIQiNBIaSPMxtJOR7EFOVl3ZaOxTgnIl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 May 2026 21:02:12 GMT",
        "x-ms-version": "2026-06-06"
      },
[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-72fd788f-fe88-f3b8-226d-8757b8180698/test-blob-da7570c2-5b99-e8f7-dec9-846d5f4ea260?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\"0x8DEB77C3B1AAE7A\"",
        "x-ms-date": "Thu, 21 May 2026 21:02:12 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "\uFEFF<BlockList><Latest>AvXBdE97pkUK/sbGjj7F0XQjBtzRqdHqjIQiNBIaSPMxtJOR7EFOVl3ZaOxTgnIl</Latest></BlockList>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB77C3B2879A7\"",
        "Last-Modified": "Thu, 21 May 2026 21:02:12 GMT",
        "x-ms-content-crc64": "7EJqIseRlHg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-21T21:02:12.9535159Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-72fd788f-fe88-f3b8-226d-8757b8180698/test-blob-da7570c2-5b99-e8f7-dec9-846d5f4ea260",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Modified-Since": "Fri, 22 May 2026 21:02:12 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 21 May 2026 21:02:12 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:04c98e53-101e-009a-0165-e9f17b000000\n",
        "Time:2026-05-21T21:02:13.0501739Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-92319eff-a7c9-f653-03a9-492e048b005a/test-blob-f38f5070-51b3-aa50-5f6b-dab0b946431d?comp=block&blockid=BDdyISIe27O%2BdT86ikOXSxUPEQEzTjnm8niLqvrIAGcTbq6OyQXJ0CZ9hAT%2F7Thu",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 May 2026 21:02:12 GMT",
        "x-ms-version": "2026-06-06"
      }[...]
[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-92319eff-a7c9-f653-03a9-492e048b005a/test-blob-f38f5070-51b3-aa50-5f6b-dab0b946431d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Unmodified-Since": "Wed, 20 May 2026 21:02:12 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 21 May 2026 21:02:12 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:04c98f43-101e-009a-5265-e9f17b000000\n",
        "Time:2026-05-21T21:02:13.4337323Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-3660d241-4358-78f8-5dbc-bc6fdcbdd1c2/test-blob-187a3cc0-ea34-4f75-2c6a-8b72b505eb53?comp=block&blockid=hVuDGGnPDpplFPOoUUN5TOF7n6%2FKlVgwc7O2S4tKBjekZyWz9YSESVytXAe1ifZh",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 May 2026 21:02:13 GMT",
        "x-ms-version": "2026-06-06"
      },
[...]
[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-5c47dcc5-5c08-f1bc-effc-fd9f496d12c8/test-blob-e0b537e9-d0f3-f5f6-7a63-9a21f15ee898?comp=block&blockid=vqdThcSefa1%2FrsoJXuaP6sgplcunhb1l%2BzcCt9qvFwvh21j6ArIUsV2l1ie8x54J",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 May 2026 21:02:13 GMT",
        "x-ms-version": "2026-06-06"
      }[...]
[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-5c47dcc5-5c08-f1bc-effc-fd9f496d12c8/test-blob-e0b537e9-d0f3-f5f6-7a63-9a21f15ee898",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 May 2026 21:02:13 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEB77C3BD440F0\"",
        "Last-Modified": "Thu, 21 May 2026 21:02:14 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 21 May 2026 21:02:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-21T21:02:14.0802816Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-5c47dcc5-5c08-f1bc-effc-fd9f496d12c8/test-blob-e0b537e9-d0f3-f5f6-7a63-9a21f15ee898",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "0x8DEB77C3BD440F0",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 21 May 2026 21:02:13 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:04c990ac-101e-009a-6265-e9f17b000000\n",
        "Time:2026-05-21T21:02:14.1797925Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-5c47dcc5-5c08-f1bc-effc-fd9f496d12c8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 May 2026 21:02:13 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-05-21T14:02:12.3082607-07:00",
    "RandomSeed": "16551345",
    "Storage_TestConfigDefault": "ProductionTenant\namandasa3\nU2FuaXRpemVk\nhttps://amandasa3.blob.core.windows.net\nhttps://amandasa3.file.core.windows.net\nhttps://amandasa3.queue.core.windows.net\nhttps://amandasa3.table.core.windows.net\n\n\n\n\nhttps://amandasa3-secondary.blob.core.windows.net\nhttps://amandasa3-secondary.file.core.windows.net\nhttps://amandasa3-secondary.queue.core.windows.net\nhttps://amandasa3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandasa3.blob.core.windows.net/;QueueEndpoint=https://amandasa3.queue.core.windows.net/;FileEndpoint=https://amandasa3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandasa3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandasa3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandasa3-secondary.file.core.windows.net/;AccountName=amandasa3;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
