{
  "Entries": [
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-32cb631f-761e-ca04-8910-6a1271c88a96?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 May 2026 21:02:17 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB77C3DFD606B\"",
        "Last-Modified": "Thu, 21 May 2026 21:02:17 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-32cb631f-761e-ca04-8910-6a1271c88a96/test-blob-d16707a0-c94e-1653-bbb8-962f05e8661e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 21 May 2026 21:02:17 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DEB77C3E048BDA\"",
        "Last-Modified": "Thu, 21 May 2026 21:02:17 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-21T21:02:17.7502170Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-32cb631f-761e-ca04-8910-6a1271c88a96/test-blob-d16707a0-c94e-1653-bbb8-962f05e8661e?comp=block&blockid=ce4Ig0aiaOi5%2BprN9l0%2Bf9YTnz%2FJXAI91psLXttsC27Wk8MuP%2FhN%2BG2Pkqq9uls7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 May 2026 21:02:17 GMT",
        "x-ms-version": "2026-06-06"
 [...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-32cb631f-761e-ca04-8910-6a1271c88a96/test-blob-d16707a0-c94e-1653-bbb8-962f05e8661e?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\"0x8DEB77C3E048BDA\"",
        "x-ms-date": "Thu, 21 May 2026 21:02:17 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "\uFEFF<BlockList><Latest>ce4Ig0aiaOi5+prN9l0+f9YTnz/JXAI91psLXttsC27Wk8MuP/hN+G2Pkqq9uls7</Latest></BlockList>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB77C3E1304DD\"",
        "Last-Modified": "Thu, 21 May 2026 21:02:17 GMT",
        "x-ms-content-crc64": "vsa2FSmmLOg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-21T21:02:17.8460653Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-32cb631f-761e-ca04-8910-6a1271c88a96/test-blob-d16707a0-c94e-1653-bbb8-962f05e8661e?comp=block&blockid=Fw8Vuri%2BIUij%2FrdMyzo23%2FMdNaQ2S3QE5X6suD%2F38iQcOzs2ok7lISonmnApmxqS",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 May 2026 21:02:17 GMT",
        "x-ms-version": "2026-06-06"
   [...]
[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-32cb631f-761e-ca04-8910-6a1271c88a96/test-blob-d16707a0-c94e-1653-bbb8-962f05e8661e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 May 2026 21:02:17 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEB77C3E2FA8E3\"",
        "Last-Modified": "Thu, 21 May 2026 21:02:18 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 21 May 2026 21:02:18 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-21T21:02:18.0337651Z"
      },
      "ResponseBody": "QHgnCVeHfxSrZcUCRDgI0rdNNrjM0gNJq7vBMpyvyJzhkskiD+pQCCnwWCqah+wO4vPIktDQOW513l6bxkx3/J0oILFu5cPM/C6P23nZriPPslCp5jXMEVhbrTGMtELceVyMcmc6oPwv+5WiQF30my86zBP7zRVnWw9YEjiSQEfssmIdTDu8lBFTeuqfKtD7ZxEBUugu4atGJBZY4o3EnLtOto7710/zfTgBqFIryDE+Xasmke1fvdG31iglZLKEjt0vUXRCAJDCDdSvLDlYG1zlGYTingvO7vi8QwAnzhmGfRl1/Ha9/F0bY4MZr5GYXrvLQEotovDRYWN7hbyPmz66Ka4f4x/mJx0mxzqHtD5[...]
[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-32cb631f-761e-ca04-8910-6a1271c88a96?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 May 2026 21:02:17 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1149228708",
    "Storage_TestConfigDefault": "ProductionTenant\namandasa3\nU2FuaXRpemVk\nhttps://amandasa3.blob.core.windows.net\nhttps://amandasa3.file.core.windows.net\nhttps://amandasa3.queue.core.windows.net\nhttps://amandasa3.table.core.windows.net\n\n\n\n\nhttps://amandasa3-secondary.blob.core.windows.net\nhttps://amandasa3-secondary.file.core.windows.net\nhttps://amandasa3-secondary.queue.core.windows.net\nhttps://amandasa3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandasa3.blob.core.windows.net/;QueueEndpoint=https://amandasa3.queue.core.windows.net/;FileEndpoint=https://amandasa3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandasa3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandasa3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandasa3-secondary.file.core.windows.net/;AccountName=amandasa3;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
