{
  "Entries": [
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-c80cc9b5-6cf7-8687-7c87-00dffaba0f64?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 May 2026 22:44:12 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB5F826590074\"",
        "Last-Modified": "Tue, 19 May 2026 22:44:13 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-c80cc9b5-6cf7-8687-7c87-00dffaba0f64/test-blob-99c4b4a3-584c-bfb7-75b7-c24eb73b6c5d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 19 May 2026 22:44:12 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DEB5F826600C63\"",
        "Last-Modified": "Tue, 19 May 2026 22:44:13 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-19T22:44:13.3534819Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-c80cc9b5-6cf7-8687-7c87-00dffaba0f64/test-blob-99c4b4a3-584c-bfb7-75b7-c24eb73b6c5d?comp=block&blockid=n8%2FzgZvsWJogzaMgp5qnxA3Y9QUuhaQd%2FywTBLmK05F%2BwWL4lauDHT6%2BIxP%2BsTCT",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 May 2026 22:44:13 GMT",
        "x-ms-version": "2026-06-06"
 [...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-c80cc9b5-6cf7-8687-7c87-00dffaba0f64/test-blob-99c4b4a3-584c-bfb7-75b7-c24eb73b6c5d?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\"0x8DEB5F826600C63\"",
        "x-ms-date": "Tue, 19 May 2026 22:44:13 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "\uFEFF<BlockList><Latest>n8/zgZvsWJogzaMgp5qnxA3Y9QUuhaQd/ywTBLmK05F+wWL4lauDHT6+IxP+sTCT</Latest></BlockList>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB5F8266E4E98\"",
        "Last-Modified": "Tue, 19 May 2026 22:44:13 GMT",
        "x-ms-content-crc64": "DixMV56VJpk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-19T22:44:13.4479272Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-c80cc9b5-6cf7-8687-7c87-00dffaba0f64/test-blob-99c4b4a3-584c-bfb7-75b7-c24eb73b6c5d?comp=block&blockid=3TSk3EKI73bLEvRsb32IT57x39MUXFlcgiDMLDvYiU3GOFKWTRPc9sTjHsJt6NEo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 May 2026 22:44:13 GMT",
        "x-ms-version": "2026-06-06"
      },
  [...]
[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-c80cc9b5-6cf7-8687-7c87-00dffaba0f64/test-blob-99c4b4a3-584c-bfb7-75b7-c24eb73b6c5d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 May 2026 22:44:13 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEB5F8268AA49E\"",
        "Last-Modified": "Tue, 19 May 2026 22:44:13 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 May 2026 22:44:13 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-19T22:44:13.6336302Z"
      },
      "ResponseBody": "ehCruyam1k1la5kNVu8W8xsK64jfTqj/i+10dNxC5/msk8q0UakWl2bPCZLUM8fkMIo+9l4wgCtnqzA4MWJwI4SfYMMkYqFx81QhEEUWKlgmj0NSA/CbfBKeTKV53WUDXuYNNNIEwM7ozQIKDnDlUYDXEqEfHR+TBOSxhRX89xbuHbFfCPaFIc91ajbukW2huPokocvE5EDGejDuUzq469XsG/G/hkiKUvDRqrPppHJ2D8wb11ZKKjhwmY7Fls6VvH5gAnV84jKymk/a8jqN3NW9eENtnRR/ofG4Tuy6xbwhO+01iaL9+i2aaD0GcDf947y5Bx6LKB9p4WGEw5NG99STubdNV1MzwH4W0jTWeDC[...]
[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-c80cc9b5-6cf7-8687-7c87-00dffaba0f64?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 May 2026 22:44:13 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1601574991",
    "Storage_TestConfigDefault": "ProductionTenant\namandasa3\nU2FuaXRpemVk\nhttps://amandasa3.blob.core.windows.net\nhttps://amandasa3.file.core.windows.net\nhttps://amandasa3.queue.core.windows.net\nhttps://amandasa3.table.core.windows.net\n\n\n\n\nhttps://amandasa3-secondary.blob.core.windows.net\nhttps://amandasa3-secondary.file.core.windows.net\nhttps://amandasa3-secondary.queue.core.windows.net\nhttps://amandasa3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandasa3.blob.core.windows.net/;QueueEndpoint=https://amandasa3.queue.core.windows.net/;FileEndpoint=https://amandasa3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandasa3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandasa3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandasa3-secondary.file.core.windows.net/;AccountName=amandasa3;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
