{
  "Entries": [
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-ec86b62a-ee93-8597-df18-d7df4aefbf5e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 May 2026 21:02:02 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB77C350EDF04\"",
        "Last-Modified": "Thu, 21 May 2026 21:02:02 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-ec86b62a-ee93-8597-df18-d7df4aefbf5e/test-blob-0fa6fc05-296f-7a28-1c24-1c65f5c6f6fa",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 21 May 2026 21:02:02 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DEB77C3515FE91\"",
        "Last-Modified": "Thu, 21 May 2026 21:02:02 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-21T21:02:02.7660689Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-ec86b62a-ee93-8597-df18-d7df4aefbf5e/test-blob-0fa6fc05-296f-7a28-1c24-1c65f5c6f6fa?comp=block&blockid=mWA96t0GtKLRpvcH8IOHOYl5Q89bKE7C1gS7v4aj5RgJadu%2FCtRsF03niRDlvGQo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 May 2026 21:02:02 GMT",
        "x-ms-version": "2026-06-06"
      },
[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-ec86b62a-ee93-8597-df18-d7df4aefbf5e/test-blob-0fa6fc05-296f-7a28-1c24-1c65f5c6f6fa?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\"0x8DEB77C3515FE91\"",
        "x-ms-date": "Thu, 21 May 2026 21:02:02 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "\uFEFF<BlockList><Latest>mWA96t0GtKLRpvcH8IOHOYl5Q89bKE7C1gS7v4aj5RgJadu/CtRsF03niRDlvGQo</Latest></BlockList>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB77C35247796\"",
        "Last-Modified": "Thu, 21 May 2026 21:02:02 GMT",
        "x-ms-content-crc64": "Yh7/62J9AeA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-21T21:02:02.8609190Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-ec86b62a-ee93-8597-df18-d7df4aefbf5e/test-blob-0fa6fc05-296f-7a28-1c24-1c65f5c6f6fa",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Modified-Since": "Fri, 22 May 2026 21:02:02 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 21 May 2026 21:02:02 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:04c981b5-101e-009a-7b65-e9f17b000000\n",
        "Time:2026-05-21T21:02:02.9541771Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-3c08652b-2c48-1df0-17d2-4c37d9ad94c5/test-blob-a6026a07-68bd-504c-3f92-d3bef329999c?comp=block&blockid=%2B2gUGnMvk7RXpBAF7mnaktL56CA0xBFZlMhobOlYyOxb6wTIEWDNQ72ZudQWwF5O",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 May 2026 21:02:02 GMT",
        "x-ms-version": "2026-06-06"
      },
[...]
[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-3c08652b-2c48-1df0-17d2-4c37d9ad94c5/test-blob-a6026a07-68bd-504c-3f92-d3bef329999c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Unmodified-Since": "Wed, 20 May 2026 21:02:02 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 21 May 2026 21:02:02 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:04c981f9-101e-009a-2d65-e9f17b000000\n",
        "Time:2026-05-21T21:02:03.3309808Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-637ce786-98b6-8e18-ffcf-36ce878f4109/test-blob-c815731a-4121-8967-63d1-c455993630af?comp=block&blockid=3QxvUOPLGigQnzj6x5563hFyVtIPy7X1pUUAjs7018NfytvRlyIRd6aJwQndudsv",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 May 2026 21:02:03 GMT",
        "x-ms-version": "2026-06-06"
      },
  [...]
[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-b877f71d-ca27-5fc1-acae-6d23042270a7/test-blob-86048053-4486-b664-7034-dbaea2fcb7da?comp=block&blockid=4nbsJgaYlZUVA2RfMYVV8y51wTF9lMKev1XwXD1PzIU7grzBwm%2FtjZIlClyYC1hq",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 May 2026 21:02:03 GMT",
        "x-ms-version": "2026-06-06"
      },
[...]
[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-b877f71d-ca27-5fc1-acae-6d23042270a7/test-blob-86048053-4486-b664-7034-dbaea2fcb7da",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 May 2026 21:02:03 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEB77C35CF772F\"",
        "Last-Modified": "Thu, 21 May 2026 21:02:03 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 21 May 2026 21:02:03 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-21T21:02:03.9815743Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-b877f71d-ca27-5fc1-acae-6d23042270a7/test-blob-86048053-4486-b664-7034-dbaea2fcb7da",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "0x8DEB77C35CF772F",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 21 May 2026 21:02:03 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:04c982b6-101e-009a-3d65-e9f17b000000\n",
        "Time:2026-05-21T21:02:04.0718023Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-b877f71d-ca27-5fc1-acae-6d23042270a7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 May 2026 21:02:03 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-05-21T14:02:02.2173151-07:00",
    "RandomSeed": "721744302",
    "Storage_TestConfigDefault": "ProductionTenant\namandasa3\nU2FuaXRpemVk\nhttps://amandasa3.blob.core.windows.net\nhttps://amandasa3.file.core.windows.net\nhttps://amandasa3.queue.core.windows.net\nhttps://amandasa3.table.core.windows.net\n\n\n\n\nhttps://amandasa3-secondary.blob.core.windows.net\nhttps://amandasa3-secondary.file.core.windows.net\nhttps://amandasa3-secondary.queue.core.windows.net\nhttps://amandasa3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandasa3.blob.core.windows.net/;QueueEndpoint=https://amandasa3.queue.core.windows.net/;FileEndpoint=https://amandasa3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandasa3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandasa3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandasa3-secondary.file.core.windows.net/;AccountName=amandasa3;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
