{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-9715e6e8-e610-4ac6-2a1f-61c5c4bac003?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:45:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8682C11F42AD\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:45:32 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-9715e6e8-e610-4ac6-2a1f-61c5c4bac003/test-blob-807944b6-8a2f-dc07-0f29-a9f23a5b5db6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:45:30 GMT",
        "x-ms-tags": "testkey=testvalue",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DC8682C12AF837\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:45:32 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-9715e6e8-e610-4ac6-2a1f-61c5c4bac003/test-blob-807944b6-8a2f-dc07-0f29-a9f23a5b5db6?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\"0x8DC8682C12AF837\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:45:31 GMT",
        "x-ms-tags": "testkey=testvalue",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "\uFEFF<BlockList />",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8682C13DBB5A\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:45:32 GMT",
        "x-ms-content-crc64": "g0vf2Kdg954=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-9715e6e8-e610-4ac6-2a1f-61c5c4bac003/test-blob-807944b6-8a2f-dc07-0f29-a9f23a5b5db6?comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:45:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Tags><TagSet><Tag><Key>testkey</Key><Value>testvalue</Value></Tag></TagSet></Tags>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-9715e6e8-e610-4ac6-2a1f-61c5c4bac003?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:45:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "78024533",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
