{
  "Entries": [
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-13f289ab-9998-793d-7327-cc4081917a96?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 May 2026 22:44:08 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB5F823937485\"",
        "Last-Modified": "Tue, 19 May 2026 22:44:08 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-13f289ab-9998-793d-7327-cc4081917a96/test-blob-414ace66-ef12-6876-08be-f51c3f939424",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 19 May 2026 22:44:08 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DEB5F8239A90D6\"",
        "Last-Modified": "Tue, 19 May 2026 22:44:08 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-19T22:44:08.7038166Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-13f289ab-9998-793d-7327-cc4081917a96/test-blob-414ace66-ef12-6876-08be-f51c3f939424?comp=block&blockid=oN4oNEFD7jl7XxV%2Bzr85MbA2GwemJ9WtuKTgariZ3MNur7%2BHntiHqOH3fBiXQ0ls",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 May 2026 22:44:08 GMT",
        "x-ms-version": "2026-06-06"
      }[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-13f289ab-9998-793d-7327-cc4081917a96/test-blob-414ace66-ef12-6876-08be-f51c3f939424?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\"0x8DEB5F8239A90D6\"",
        "x-ms-date": "Tue, 19 May 2026 22:44:08 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "\uFEFF<BlockList><Latest>oN4oNEFD7jl7XxV+zr85MbA2GwemJ9WtuKTgariZ3MNur7+HntiHqOH3fBiXQ0ls</Latest></BlockList>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB5F823A8E2DF\"",
        "Last-Modified": "Tue, 19 May 2026 22:44:08 GMT",
        "x-ms-content-crc64": "8xiTdodN8MQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-19T22:44:08.7996650Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-13f289ab-9998-793d-7327-cc4081917a96/test-blob-414ace66-ef12-6876-08be-f51c3f939424",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Modified-Since": "Wed, 20 May 2026 22:44:08 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 19 May 2026 22:44:08 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:a6955353-b01e-00ac-3be1-e77c0b000000\n",
        "Time:2026-05-19T22:44:08.8971894Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-e373879a-31c9-3db5-1fdc-4f5f8c566431/test-blob-e7654455-9afa-61e4-2f74-3899e5ca9f1c?comp=block&blockid=1SvWdtaHeVNfb4S3tSv0bzGc2WZ71KZR%2FHQrF5qcWR1p4a2ZkiqQkFNmnqobaaEz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 May 2026 22:44:08 GMT",
        "x-ms-version": "2026-06-06"
      },
[...]
[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-e373879a-31c9-3db5-1fdc-4f5f8c566431/test-blob-e7654455-9afa-61e4-2f74-3899e5ca9f1c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Unmodified-Since": "Mon, 18 May 2026 22:44:08 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 19 May 2026 22:44:08 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:a69553b7-b01e-00ac-0ce1-e77c0b000000\n",
        "Time:2026-05-19T22:44:09.3774080Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-bb2870e2-865d-82e4-67ec-7f1ca294d291/test-blob-3c715ea6-3004-f151-08bf-10bab24e7c21?comp=block&blockid=O0FKPJ56U1HAAx3T5e62S59X19DB1j7%2Flw%2B9eXH3JRk0ZcRhNxcLn28oaWAKIyBw",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 May 2026 22:44:09 GMT",
        "x-ms-version": "2026-06-06"
      }[...]
[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-4d47a46f-dde9-78b0-e239-e2abf0db5a18/test-blob-19176b03-5df6-0f76-e216-56831c880cfe?comp=block&blockid=opvQyCTMTAtzRNP%2FrwEQniig%2Bf7gSQztq%2FaQS%2FmMmkeJZOe8xYyuLYiVtmYroJT4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 May 2026 22:44:09 GMT",
        "x-ms-version": "2026-06-06"
   [...]
[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-4d47a46f-dde9-78b0-e239-e2abf0db5a18/test-blob-19176b03-5df6-0f76-e216-56831c880cfe",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 May 2026 22:44:09 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEB5F8246056C2\"",
        "Last-Modified": "Tue, 19 May 2026 22:44:09 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 May 2026 22:44:09 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-19T22:44:10.0009426Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-4d47a46f-dde9-78b0-e239-e2abf0db5a18/test-blob-19176b03-5df6-0f76-e216-56831c880cfe",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "0x8DEB5F8246056C2",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 19 May 2026 22:44:09 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:a695546b-b01e-00ac-22e1-e77c0b000000\n",
        "Time:2026-05-19T22:44:10.0934890Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-4d47a46f-dde9-78b0-e239-e2abf0db5a18?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 May 2026 22:44:09 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-05-19T15:44:08.2561833-07:00",
    "RandomSeed": "1486775159",
    "Storage_TestConfigDefault": "ProductionTenant\namandasa3\nU2FuaXRpemVk\nhttps://amandasa3.blob.core.windows.net\nhttps://amandasa3.file.core.windows.net\nhttps://amandasa3.queue.core.windows.net\nhttps://amandasa3.table.core.windows.net\n\n\n\n\nhttps://amandasa3-secondary.blob.core.windows.net\nhttps://amandasa3-secondary.file.core.windows.net\nhttps://amandasa3-secondary.queue.core.windows.net\nhttps://amandasa3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandasa3.blob.core.windows.net/;QueueEndpoint=https://amandasa3.queue.core.windows.net/;FileEndpoint=https://amandasa3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandasa3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandasa3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandasa3-secondary.file.core.windows.net/;AccountName=amandasa3;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
