{
  "Entries": [
    {
      "RequestUri": "https://qnatestqi.cognitiveservices.azure.com/language/:query-text?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "question": "How long it takes to charge surface?",
        "records": [
          {
            "id": "1",
            "text": "Power and charging. It takes two to four hours to charge the Surface Pro 4 battery fully from an empty state. It can take longer if you’re using your Surface for power-intensive activities like gaming or video streaming while you’re charging it."
          },
          {
            "id": "2",
            "text": "You can use the USB port on your Surface Pro 4 power supply to charge other devices, like a phone, while your Surface charges. The USB port on the power supply is only for charging, not for data transfer. If you want to use a USB device, plug it into the USB port on your Surface."
          }
        ],
        "stringIndexType": "Utf16CodeUnit"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.QuestionAnsweringTextRecords=2",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "answers": [
          {
            "answer": "Power and charging. It takes two to four hours to charge the Surface Pro 4 battery fully from an empty state. It can take longer if you’re using your Surface for power-intensive activities like gaming or video streaming while you’re charging it.",
            "confidenceScore": 0.930730938911438,
            "id": "1",
            "answerSpan": {
              "text": "two to four hours",
              "confidenceScore": 0.994789,
              "offset": 28,
              "length": 18
            },
            "offset": 0,
            "length": 245
          },
          {
            "answer": "It takes two to four hours to charge the Surface Pro 4 battery fully from an empty state. It can take longer if you’re using your Surface for power-intensive activities like gaming or video streaming while you’re charging it.",
            "confidenceScore": 0.92386794090271,
            "id": "1",
            "answerSpan": {
              "text": "two to four hours",
              "confidenceScore": 0.99445844,
              "offset": 8,
              "length": 18
            },
            "offset": 20,
            "length": 225
          },
          {
            "answer": "It can take longer if you’re using your Surface for power-intensive activities like gaming or video streaming while you’re charging it.",
            "confidenceScore": 0.11520536988973618,
            "id": "1",
            "answerSpan": {
              "text": "longer",
              "confidenceScore": 0.68131536,
              "offset": 11,
              "length": 7
            },
            "offset": 110,
            "length": 135
          }
        ]
      }
    }
  ],
  "Variables": {
    "QUESTIONANSWERING_ENDPOINT": "https://qnatestqi.cognitiveservices.azure.com/",
    "QUESTIONANSWERING_KEY": "Sanitized",
    "RandomSeed": "34833947"
  }
}
