{
  "Entries": [
    {
      "RequestUri": "https://qnatestqi.cognitiveservices.azure.com/language/:query-knowledgebases?projectName=test1216&deploymentName=production&api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "question": "How long it takes to charge Surface?",
        "top": 3,
        "userId": "sd53lsY=",
        "confidenceScoreThreshold": 0.5,
        "context": {
          "previousQnaId": 27,
          "previousUserQuery": "How long should my Surface battery last?"
        },
        "answerSpanRequest": {
          "enable": true,
          "confidenceScoreThreshold": 0.2,
          "topAnswersWithSpan": 1
        },
        "includeUnstructuredSources": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.QuestionAnsweringTextRecords=1",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "answers": [
          {
            "questions": [
              "Power and charging"
            ],
            "answer": "**Power and charging**\n\nSurface Book has two batteries—one in the keyboard and one in the Clipboard. It takes two to four hours to charge Surface Book fully from an empty state. It can take longer if you’re using your Surface Book for power-intensive activities like gaming or video streaming while you’re charging it.\n\nYou can use the USB port on your power supply to charge other devices, like a phone, while your Surface Book charges. Note that the USB port on the power supply is only for charging, not for data transfer. If you want to use a USB device, plug it into the USB port on your Surface Book.",
            "confidenceScore": 0.6217,
            "id": 253,
            "source": "https://download.microsoft.com/download/7/B/1/7B10C82E-F520-4080-8516-5CF0D803EEE0/surface-book-user-guide-EN.pdf",
            "metadata": {},
            "dialog": {
              "isContextOnly": false,
              "prompts": [
                {
                  "displayOrder": 0,
                  "qnaId": 254,
                  "displayText": "Check the battery level"
                },
                {
                  "displayOrder": 1,
                  "qnaId": 257,
                  "displayText": "Making your battery last"
                }
              ]
            },
            "answerSpan": {
              "text": " two to four hours",
              "confidenceScore": 0.40759999999999996,
              "offset": 109,
              "length": 19
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "QUESTIONANSWERING_ENDPOINT": "https://qnatestqi.cognitiveservices.azure.com/",
    "QUESTIONANSWERING_KEY": "Sanitized",
    "QUESTIONANSWERING_PROJECT": "test1216",
    "RandomSeed": "1094707665"
  }
}
