{
  "Entries": [
    {
      "RequestUri": "https://qnatestqi.cognitiveservices.azure.com/language/:query-knowledgebases?projectName=test1216&deploymentName=production&api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "qnaId": 254
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.QuestionAnsweringTextRecords=1",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "answers": [
          {
            "questions": [
              "Check the battery level"
            ],
            "answer": "**Check the battery level**\n\nYou can check the battery level from the lock screen or on the desktop.",
            "confidenceScore": 1.0,
            "id": 254,
            "source": "https://download.microsoft.com/download/7/B/1/7B10C82E-F520-4080-8516-5CF0D803EEE0/surface-book-user-guide-EN.pdf",
            "metadata": {
              "system_metadata_qna_edited_manually": "true",
              "explicitlytaggedheading": "check the battery level"
            },
            "dialog": {
              "isContextOnly": false,
              "prompts": [
                {
                  "displayOrder": 0,
                  "qnaId": 255,
                  "displayText": "Lock screen"
                },
                {
                  "displayOrder": 1,
                  "qnaId": 256,
                  "displayText": "Desktop taskbar"
                }
              ]
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "QUESTIONANSWERING_ENDPOINT": "https://qnatestqi.cognitiveservices.azure.com/",
    "QUESTIONANSWERING_KEY": "Sanitized",
    "QUESTIONANSWERING_PROJECT": "test1216",
    "RandomSeed": "964299487"
  }
}
