{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.Kusto/clusters/mytestclustername5?api-version=2024-04-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"2025-01-26T02:09:10.7113722Z\"",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "299"
      },
      "ResponseBody": {
        "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.Kusto/Clusters/mytestclustername5",
        "name": "mytestclustername5",
        "type": "Microsoft.Kusto/Clusters",
        "etag": "Sanitized",
        "location": "East US",
        "sku": {
          "name": "Standard_L16as_v3",
          "tier": "Standard",
          "capacity": 2
        },
        "tags": {
          "NRMS.KustoPlatform.Classification.1P": "Default"
        },
        "properties": {
          "state": "Running",
          "stateReason": "",
          "uri": "https://mytestclustername5.eastus.kusto.windows.net",
          "dataIngestionUri": "https://ingest-mytestclustername5.eastus.kusto.windows.net",
          "trustedExternalTenants": [],
          "virtualNetworkConfiguration": null,
          "optimizedAutoscale": null,
          "enableDiskEncryption": false,
          "enableStreamingIngest": false,
          "keyVaultProperties": null,
          "languageExtensions": {
            "value": [
              {
                "languageExtensionName": "PYTHON",
                "languageExtensionImageName": "Python3_10_8",
                "languageExtensionCustomImageName": null
              }
            ]
          },
          "enablePurge": null,
          "enableDoubleEncryption": false,
          "engineType": "V3",
          "acceptedAudiences": [],
          "restrictOutboundNetworkAccess": "Disabled",
          "allowedFqdnList": [],
          "calloutPolicies": null,
          "publicNetworkAccess": "Enabled",
          "allowedIpRangeList": [],
          "enableAutoStop": true,
          "publicIPType": "IPv4",
          "virtualClusterGraduationProperties": null,
          "privateEndpointConnections": [],
          "migrationCluster": null,
          "zoneStatus": "NonZonal",
          "provisioningState": "Succeeded"
        },
        "identity": {
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "type": "SystemAssigned"
        }
      }
    }
  ],
  "Variables": {}
}
