{
  "Entries": [
    {
      "RequestUri": "https://t207f078c0e7f229d-2.centraluseuap-1.eventgrid.azure.net/topics/testtopic1:publish?api-version=2023-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/cloudevents\u002Bjson; charset=utf-8"
      },
      "RequestBody": {
        "id": "2a97a2c6-995c-ab3f-806f-266d7690d7ee",
        "source": "employee_source",
        "type": "type",
        "data": {
          "Name": "Bob",
          "Age": 18
        },
        "time": "2023-11-12T16:56:53.7000359-08:00",
        "specversion": "1.0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://t207f078c0e7f229d-2.centraluseuap-1.eventgrid.azure.net/topics/testtopic1/eventsubscriptions/testsubscription1:receive?api-version=2023-10-01-preview\u0026maxEvents=1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "brokerProperties": {
              "lockToken": "CiYKJDYyMUI5NDI4LTM5MTktNEE5MC1BOUJFLUZCNEEyNjdDRTM2RBISChDSSDGP/mtOX46psw2ZVkaM",
              "deliveryCount": 3
            },
            "event": {
              "foo": "bar",
              "id": "dc2e72bb-c1e7-bb20-b5be-5fb1fe591069",
              "datacontenttype": "text/plain",
              "specversion": "1.0",
              "subject": "subject",
              "time": "2023-11-13T00:54:46.1970635Z",
              "source": "employee_source",
              "type": "type",
              "data": "{\u0022Name\u0022:\u0022Bob\u0022,\u0022Age\u0022:18}"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://t207f078c0e7f229d-2.centraluseuap-1.eventgrid.azure.net/topics/testtopic1/eventsubscriptions/testsubscription1:release?api-version=2023-10-01-preview\u0026releaseDelayInSeconds=10",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lockTokens": [
          "CiYKJDYyMUI5NDI4LTM5MTktNEE5MC1BOUJFLUZCNEEyNjdDRTM2RBISChDSSDGP/mtOX46psw2ZVkaM"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "succeededLockTokens": [
          "CiYKJDYyMUI5NDI4LTM5MTktNEE5MC1BOUJFLUZCNEEyNjdDRTM2RBISChDSSDGP/mtOX46psw2ZVkaM"
        ],
        "failedLockTokens": []
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-12T16:56:53.7000359-08:00",
    "EVENTGRID_ENDPOINT": "https://t207f078c0e7f229d-2.centraluseuap-1.eventgrid.azure.net",
    "EVENTGRID_EVENT_SUBSCRIPTION_NAME": "testsubscription1",
    "EVENTGRID_KEY": "Kg==",
    "EVENTGRID_TOPIC_NAME": "testtopic1",
    "RandomSeed": "409973539"
  }
}
