{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basice090?api-version=2025-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "id": "jssdkJob-Basice090",
        "priority": 500,
        "constraints": {
          "maxTaskRetryCount": 3
        },
        "poolInfo": {
          "poolId": "jssdkPool-Basice904"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basice090",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE63723C93BA6E",
        "Last-Modified": "Tue, 03 Feb 2026 22:19:02 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "BASIC_POOL": "jssdkPool-Basice904",
    "JOB_NAME": "jssdkJob-Basice090"
  }
}
