{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basicd2c9/disable?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "disableTasks": "requeue"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basicd2c9/disable",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE18093C95051D",
        "Last-Modified": "Thu, 30 Oct 2025 23:08:28 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "JOB_NAME": "jssdkJob-Basicd2c9"
  }
}
