{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref918?api-version=2023-11-01&label=label-sn",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "snapshot-ref918",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name560\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mQ-93MF3jIzo-ckmOx7I_7SRQpLM9CB9tyQZAVmCFTY\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:22:35 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3OTk5MQ==;sn=102479991",
        "x-ms-date": "Tue, 13 Jan 2026 06:22:35 GMT"
      },
      "ResponseBody": {
        "etag": "mQ-93MF3jIzo-ckmOx7I_7SRQpLM9CB9tyQZAVmCFTY",
        "key": "snapshot-ref918",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name560\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-13T06:22:35+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref918?api-version=2023-11-01&label=label-sn",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3OTk5MQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mQ-93MF3jIzo-ckmOx7I_7SRQpLM9CB9tyQZAVmCFTY\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:22:35 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3OTk5MQ==;sn=102479991",
        "x-ms-date": "Tue, 13 Jan 2026 06:22:36 GMT"
      },
      "ResponseBody": {
        "etag": "mQ-93MF3jIzo-ckmOx7I_7SRQpLM9CB9tyQZAVmCFTY",
        "key": "snapshot-ref918",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name560\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-13T06:22:35+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/snapshot-ref918?api-version=2023-11-01&label=label-sn",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3OTk5MQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mQ-93MF3jIzo-ckmOx7I_7SRQpLM9CB9tyQZAVmCFTY\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:22:35 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3OTk5MQ==;sn=102479991",
        "x-ms-date": "Tue, 13 Jan 2026 06:22:36 GMT"
      },
      "ResponseBody": {
        "etag": "mQ-93MF3jIzo-ckmOx7I_7SRQpLM9CB9tyQZAVmCFTY",
        "key": "snapshot-ref918",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name560\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-13T06:22:35+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref918?api-version=2023-11-01&label=label-sn",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3OTk5MQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mQ-93MF3jIzo-ckmOx7I_7SRQpLM9CB9tyQZAVmCFTY\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:22:35 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3OTk5Mg==;sn=102479992",
        "x-ms-date": "Tue, 13 Jan 2026 06:22:36 GMT"
      },
      "ResponseBody": {
        "etag": "mQ-93MF3jIzo-ckmOx7I_7SRQpLM9CB9tyQZAVmCFTY",
        "key": "snapshot-ref918",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name560\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-13T06:22:35+00:00"
      }
    }
  ],
  "Variables": {
    "snapshot-name": "snapshot-name560",
    "snapshot-ref": "snapshot-ref918"
  }
}
