{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref112?api-version=2023-11-01&label=label-sn",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "snapshot-ref112",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name578\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Vjyd0N8Wk7AWUw8W7TEDRBAEMoUWGKN9OqHbFgP2C8c\"",
        "Last-Modified": "Thu, 02 Oct 2025 17:06:58 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzUzMTE=;sn=74235311"
      },
      "ResponseBody": {
        "etag": "Vjyd0N8Wk7AWUw8W7TEDRBAEMoUWGKN9OqHbFgP2C8c",
        "key": "snapshot-ref112",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name578\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T17:06:58+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref112?api-version=2023-11-01&label=label-sn",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzUzMTE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Vjyd0N8Wk7AWUw8W7TEDRBAEMoUWGKN9OqHbFgP2C8c\"",
        "Last-Modified": "Thu, 02 Oct 2025 17:06:58 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzUzMTE=;sn=74235311"
      },
      "ResponseBody": {
        "etag": "Vjyd0N8Wk7AWUw8W7TEDRBAEMoUWGKN9OqHbFgP2C8c",
        "key": "snapshot-ref112",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name578\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T17:06:58+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/snapshot-ref112?api-version=2023-11-01&label=label-sn",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzUzMTM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7_F_Bss5fKrWqwEfZl6q0LRwS1WceCZsosuDhBGc-Nc\"",
        "Last-Modified": "Thu, 02 Oct 2025 17:06:58 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzUzMTM=;sn=74235313"
      },
      "ResponseBody": {
        "etag": "7_F_Bss5fKrWqwEfZl6q0LRwS1WceCZsosuDhBGc-Nc",
        "key": "snapshot-ref112",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name-2373\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T17:06:58+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref112?api-version=2023-11-01&label=label-sn",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzUzMTM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7_F_Bss5fKrWqwEfZl6q0LRwS1WceCZsosuDhBGc-Nc\"",
        "Last-Modified": "Thu, 02 Oct 2025 17:06:58 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzUzMTQ=;sn=74235314"
      },
      "ResponseBody": {
        "etag": "7_F_Bss5fKrWqwEfZl6q0LRwS1WceCZsosuDhBGc-Nc",
        "key": "snapshot-ref112",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name-2373\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T17:06:58+00:00"
      }
    }
  ],
  "Variables": {
    "snapshot-name": "snapshot-name578",
    "snapshot-name-2": "snapshot-name-2373",
    "snapshot-ref": "snapshot-ref112"
  }
}
