{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref50?api-version=2023-11-01&label=label-sn",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name48\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7QHbOUNm81BDhbtpQS_XF8lHFL0VtffUGkgx0Lxm2Mg\"",
        "Last-Modified": "Thu, 07 May 2026 20:26:05 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MzE4Ng==;sn=113153186",
        "x-ms-date": "Thu, 07 May 2026 20:26:05 GMT"
      },
      "ResponseBody": {
        "etag": "7QHbOUNm81BDhbtpQS_XF8lHFL0VtffUGkgx0Lxm2Mg",
        "key": "snapshot-ref50",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name48\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:26:05+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref50?api-version=2023-11-01&label=label-sn",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MzE4Ng=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7QHbOUNm81BDhbtpQS_XF8lHFL0VtffUGkgx0Lxm2Mg\"",
        "Last-Modified": "Thu, 07 May 2026 20:26:05 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MzE4Ng==;sn=113153186",
        "x-ms-date": "Thu, 07 May 2026 20:26:05 GMT"
      },
      "ResponseBody": {
        "etag": "7QHbOUNm81BDhbtpQS_XF8lHFL0VtffUGkgx0Lxm2Mg",
        "key": "snapshot-ref50",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name48\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:26:05+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/snapshot-ref50?api-version=2023-11-01&label=label-sn",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MzE4OA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"pwLJBqQKRWfkuO9zMA1u9XJTDYXNQZt0UUaDDiDV8gg\"",
        "Last-Modified": "Thu, 07 May 2026 20:26:05 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MzE4OA==;sn=113153188",
        "x-ms-date": "Thu, 07 May 2026 20:26:05 GMT"
      },
      "ResponseBody": {
        "etag": "pwLJBqQKRWfkuO9zMA1u9XJTDYXNQZt0UUaDDiDV8gg",
        "key": "snapshot-ref50",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name-2557\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:26:05+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref50?api-version=2023-11-01&label=label-sn",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MzE4OA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"pwLJBqQKRWfkuO9zMA1u9XJTDYXNQZt0UUaDDiDV8gg\"",
        "Last-Modified": "Thu, 07 May 2026 20:26:05 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MzE4OQ==;sn=113153189",
        "x-ms-date": "Thu, 07 May 2026 20:26:05 GMT"
      },
      "ResponseBody": {
        "etag": "pwLJBqQKRWfkuO9zMA1u9XJTDYXNQZt0UUaDDiDV8gg",
        "key": "snapshot-ref50",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name-2557\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:26:05+00:00"
      }
    }
  ],
  "Variables": {
    "snapshot-name": "snapshot-name48",
    "snapshot-name-2": "snapshot-name-2557",
    "snapshot-ref": "snapshot-ref50"
  }
}
