{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref908?api-version=2023-11-01&label=label-sn",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "snapshot-ref908",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name116\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"oR0DyXozrLLJNd3p2q1KZDo4BEl8QFlu8a9C3E98Jnw\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:38:07 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODM5OTk=;sn=75083999",
        "x-ms-date": "Wed, 05 Nov 2025 07:38:07 GMT"
      },
      "ResponseBody": {
        "etag": "oR0DyXozrLLJNd3p2q1KZDo4BEl8QFlu8a9C3E98Jnw",
        "key": "snapshot-ref908",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name116\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-05T07:38:07+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref908-2?api-version=2023-11-01&label=label-sn",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODM5OTk="
      },
      "RequestBody": {
        "key": "snapshot-ref908-2",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name116\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"SEJ5aSmo9Yd3Wy74W9gTzbgpkhUBBYlj0Di4tcm8me8\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:38:07 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODQwMDA=;sn=75084000",
        "x-ms-date": "Wed, 05 Nov 2025 07:38:07 GMT"
      },
      "ResponseBody": {
        "etag": "SEJ5aSmo9Yd3Wy74W9gTzbgpkhUBBYlj0Di4tcm8me8",
        "key": "snapshot-ref908-2",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name116\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-05T07:38:07+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=snapshot-ref908*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODQwMDA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"LZV0AkNocsBQBHx26F598LlNQks8Fb20n9YFu5_s6dQ\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODQwMDA=;sn=75084000",
        "x-ms-date": "Wed, 05 Nov 2025 07:38:07 GMT"
      },
      "ResponseBody": {
        "etag": "LZV0AkNocsBQBHx26F598LlNQks8Fb20n9YFu5_s6dQ",
        "items": [
          {
            "etag": "oR0DyXozrLLJNd3p2q1KZDo4BEl8QFlu8a9C3E98Jnw",
            "key": "snapshot-ref908",
            "label": "label-sn",
            "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
            "value": "{\"snapshot_name\":\"snapshot-name116\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-05T07:38:07+00:00"
          },
          {
            "etag": "SEJ5aSmo9Yd3Wy74W9gTzbgpkhUBBYlj0Di4tcm8me8",
            "key": "snapshot-ref908-2",
            "label": "label-sn",
            "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
            "value": "{\"snapshot_name\":\"snapshot-name116\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-05T07:38:07+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/snapshot-ref908-2?api-version=2023-11-01&label=label-sn",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODQwMDE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_insbBzHzUh2XMmm6Z80K5M4lz8ZEODicbDIiFW3PaA\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:38:08 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODQwMDM=;sn=75084003",
        "x-ms-date": "Wed, 05 Nov 2025 07:38:08 GMT"
      },
      "ResponseBody": {
        "etag": "_insbBzHzUh2XMmm6Z80K5M4lz8ZEODicbDIiFW3PaA",
        "key": "snapshot-ref908-2",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name116\"}",
        "tags": {},
        "locked": true,
        "last_modified": "2025-11-05T07:38:08+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/snapshot-ref908?api-version=2023-11-01&label=label-sn",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODQwMDc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GcziGWlvTzMQzcgcS5J1HfwJqxnPKs3VJoTMcC9bNY0\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:38:07 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODQwMDc=;sn=75084007",
        "x-ms-date": "Wed, 05 Nov 2025 07:38:08 GMT"
      },
      "ResponseBody": {
        "etag": "GcziGWlvTzMQzcgcS5J1HfwJqxnPKs3VJoTMcC9bNY0",
        "key": "snapshot-ref908",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name-3122\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-05T07:38:07+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref908?api-version=2023-11-01&label=label-sn",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODQwMDc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GcziGWlvTzMQzcgcS5J1HfwJqxnPKs3VJoTMcC9bNY0\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:38:07 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODQwMDg=;sn=75084008",
        "x-ms-date": "Wed, 05 Nov 2025 07:38:09 GMT"
      },
      "ResponseBody": {
        "etag": "GcziGWlvTzMQzcgcS5J1HfwJqxnPKs3VJoTMcC9bNY0",
        "key": "snapshot-ref908",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name-3122\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-05T07:38:07+00:00"
      }
    }
  ],
  "Variables": {
    "snapshot-name": "snapshot-name116",
    "snapshot-name-3": "snapshot-name-3122",
    "snapshot-ref": "snapshot-ref908"
  }
}
