{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/AA55777AE857FB8F46E4EF8942F9C0962AC5F3147A8A7A71D6?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 19:48:37 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyAA55777AE857FB8F46E4EF8942F9C0962AC5F3147A8A7A71D6",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022490029c0-0000-0700-0000-65415a190000\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 19:48:41 GMT",
        "trace-id": "0a3b3233-a83f-7699-9133-5bc5ae7191e7"
      },
      "ResponseBody": {
        "id": "AA55777AE857FB8F46E4EF8942F9C0962AC5F3147A8A7A71D6",
        "name": "LongestIdleDistributionPolicyAA55777AE857FB8F46E4EF8942F9C0962AC5F3147A8A7A71D6",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u0022490029c0-0000-0700-0000-65415a190000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/7A2A3DD7228A9D5A70FDB45796A2601F832246E356ACF43561?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 19:48:37 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test7A2A3DD7228A9D5A70FDB45796A2601F832246E356ACF43561",
        "distributionPolicyId": "AA55777AE857FB8F46E4EF8942F9C0962AC5F3147A8A7A71D6",
        "labels": {
          "Label_1": "Value_1"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220b0110f6-0000-0700-0000-65415a190000\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 19:48:41 GMT",
        "trace-id": "5e504281-cbc9-1b34-9703-5954068c38f9"
      },
      "ResponseBody": {
        "id": "7A2A3DD7228A9D5A70FDB45796A2601F832246E356ACF43561",
        "name": "DefaultQueue-Sdk-Test7A2A3DD7228A9D5A70FDB45796A2601F832246E356ACF43561",
        "distributionPolicyId": "AA55777AE857FB8F46E4EF8942F9C0962AC5F3147A8A7A71D6",
        "labels": {
          "Label_1": "Value_1",
          "Id": "7A2A3DD7228A9D5A70FDB45796A2601F832246E356ACF43561"
        },
        "etag": "\u00220b0110f6-0000-0700-0000-65415a190000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/sdk-w8JweK6rD0St_1JfGPvrXQ--CPEmpty?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 19:48:37 GMT"
      },
      "RequestBody": {
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002206009fc6-0000-0700-0000-65415a1a0000\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 19:48:42 GMT",
        "trace-id": "5d84750b-59de-f872-9c57-48e5dfb08c83"
      },
      "ResponseBody": {
        "id": "sdk-w8JweK6rD0St_1JfGPvrXQ--CPEmpty",
        "queueSelectorAttachments": [],
        "workerSelectorAttachments": [],
        "etag": "\u002206009fc6-0000-0700-0000-65415a1a0000\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/7A2A3DD7228A9D5A70FDB45796A2601F832246E356ACF43561?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 19:48:43 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "2e1121b2-2849-f37a-bfd5-54642cf65735"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-w8JweK6rD0St_1JfGPvrXQ-",
    "RandomSeed": "343880541"
  }
}
