{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/1B29F0557C1BAE8B0E522F23964EDCB0E78147DC07653421BA?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 18:45:55 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy1B29F0557C1BAE8B0E522F23964EDCB0E78147DC07653421BA",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "longestIdle"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220200e37f-0000-0700-0000-65c521630000\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 18:45:55 GMT",
        "trace-id": "dcad1172-10b9-3aa5-89ee-d3f3d5d62cc0"
      },
      "ResponseBody": {
        "id": "1B29F0557C1BAE8B0E522F23964EDCB0E78147DC07653421BA",
        "name": "LongestIdleDistributionPolicy1B29F0557C1BAE8B0E522F23964EDCB0E78147DC07653421BA",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00220200e37f-0000-0700-0000-65c521630000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/62550BC2DC855E6A8C48C85CA8AEFE2FD8F0190A974F04CD80?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 18:45:56 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test62550BC2DC855E6A8C48C85CA8AEFE2FD8F0190A974F04CD80",
        "distributionPolicyId": "1B29F0557C1BAE8B0E522F23964EDCB0E78147DC07653421BA",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ae002b46-0000-0700-0000-65c521630000\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 18:45:55 GMT",
        "trace-id": "8c18d9e9-c76a-35a3-2cfb-0ad6cd27087e"
      },
      "ResponseBody": {
        "id": "62550BC2DC855E6A8C48C85CA8AEFE2FD8F0190A974F04CD80",
        "name": "DefaultQueue-Sdk-Test62550BC2DC855E6A8C48C85CA8AEFE2FD8F0190A974F04CD80",
        "distributionPolicyId": "1B29F0557C1BAE8B0E522F23964EDCB0E78147DC07653421BA",
        "labels": {
          "Label_1": "Value_1",
          "Id": "62550BC2DC855E6A8C48C85CA8AEFE2FD8F0190A974F04CD80"
        },
        "etag": "\u0022ae002b46-0000-0700-0000-65c521630000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/1B29F0557C1BAE8B0E522F23964EDCB0E78147DC07653421BA?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 18:45:56 GMT"
      },
      "RequestBody": {
        "queueSelectorAttachments": [
          {
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "62550BC2DC855E6A8C48C85CA8AEFE2FD8F0190A974F04CD80"
            },
            "kind": "static"
          }
        ],
        "prioritizationRule": {
          "value": 1,
          "kind": "static"
        },
        "workerSelectorAttachments": [
          {
            "workerSelector": {
              "key": "key",
              "labelOperator": "equal",
              "value": "value"
            },
            "kind": "static"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00226a003da7-0000-0700-0000-65c521640000\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 18:45:56 GMT",
        "trace-id": "d7c636cd-8aad-b64b-b53f-483c93ab23c1"
      },
      "ResponseBody": {
        "id": "1B29F0557C1BAE8B0E522F23964EDCB0E78147DC07653421BA",
        "queueSelectorAttachments": [
          {
            "kind": "static",
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "62550BC2DC855E6A8C48C85CA8AEFE2FD8F0190A974F04CD80"
            }
          }
        ],
        "prioritizationRule": {
          "kind": "static",
          "value": 1
        },
        "workerSelectorAttachments": [
          {
            "kind": "static",
            "workerSelector": {
              "expedite": false,
              "status": "active",
              "key": "key",
              "labelOperator": "equal",
              "value": "value"
            }
          }
        ],
        "etag": "\u00226a003da7-0000-0700-0000-65c521640000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/1B29F0557C1BAE8B0E522F23964EDCB0E78147DC07653421BA?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 18:45:57 GMT"
      },
      "RequestBody": {
        "name": "1B29F0557C1BAE8B0E522F23964EDCB0E78147DC07653421BA-Name",
        "fallbackQueueId": "62550BC2DC855E6A8C48C85CA8AEFE2FD8F0190A974F04CD80",
        "queueSelectorAttachments": [
          {
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "62550BC2DC855E6A8C48C85CA8AEFE2FD8F0190A974F04CD80"
            },
            "kind": "static"
          }
        ],
        "prioritizationRule": {
          "value": 1,
          "kind": "static"
        },
        "workerSelectorAttachments": [
          {
           [...]
[...]
    {
      "RequestUri": "https://williamzhao-test.unitedstates.ppe.communication.azure.net/routing/distributionPolicies/1B29F0557C1BAE8B0E522F23964EDCB0E78147DC07653421BA?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "HMAC-SHA256 SignedHeaders=x-ms-date;host;x-ms-content-sha256\u0026Signature=l6a3khZsDby3xlnYpkOfyLFFzWzpg8MF8wBPu8FJO4s=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Thu, 08 Feb 2024 18:46:03 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "eaa5f1eb-b3aa-db0a-b205-afad69b0c681"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-6GCqz5ASfkyfpaKzVAZvkQ-",
    "RandomSeed": "714588097"
  }
}
