{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/C3F5FC63298E804F9F3EDD5C8C03DD311BB0FBFFD5DA28DEAB?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:03:37 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyC3F5FC63298E804F9F3EDD5C8C03DD311BB0FBFFD5DA28DEAB",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227b0038a8-0000-0700-0000-654ac2490000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:03:37 GMT",
        "trace-id": "6e91f921-ec3c-2aef-9b70-d037c668adf8"
      },
      "ResponseBody": {
        "id": "C3F5FC63298E804F9F3EDD5C8C03DD311BB0FBFFD5DA28DEAB",
        "name": "LongestIdleDistributionPolicyC3F5FC63298E804F9F3EDD5C8C03DD311BB0FBFFD5DA28DEAB",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00227b0038a8-0000-0700-0000-654ac2490000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/919FACE967FEA60B879B6551283CB526BE81024E63D4AA713D?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:03:38 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test919FACE967FEA60B879B6551283CB526BE81024E63D4AA713D",
        "distributionPolicyId": "C3F5FC63298E804F9F3EDD5C8C03DD311BB0FBFFD5DA28DEAB",
        "labels": {
          "Label_1": "Value_1"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c301fd70-0000-0700-0000-654ac2490000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:03:37 GMT",
        "trace-id": "37ecd2af-6fce-d08f-d4fa-01292603c08f"
      },
      "ResponseBody": {
        "id": "919FACE967FEA60B879B6551283CB526BE81024E63D4AA713D",
        "name": "DefaultQueue-Sdk-Test919FACE967FEA60B879B6551283CB526BE81024E63D4AA713D",
        "distributionPolicyId": "C3F5FC63298E804F9F3EDD5C8C03DD311BB0FBFFD5DA28DEAB",
        "labels": {
          "Label_1": "Value_1",
          "Id": "919FACE967FEA60B879B6551283CB526BE81024E63D4AA713D"
        },
        "etag": "\u0022c301fd70-0000-0700-0000-654ac2490000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/C3F5FC63298E804F9F3EDD5C8C03DD311BB0FBFFD5DA28DEAB?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:03:38 GMT"
      },
      "RequestBody": {
        "queueSelectorAttachments": [
          {
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "919FACE967FEA60B879B6551283CB526BE81024E63D4AA713D"
            },
            "kind": "static"
          }
        ],
        "prioritizationRule": {
          "value": 1,
          "kind": "static-rule"
        },
        "workerSelectorAttachments": [
          {
            "workerSelector": {
              "key": "key",
              "labelOperator": "equal",
              "value": "value"
            },
            "kind": "static"
          }
        ],
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220c007a6a-0000-0700-0000-654ac24a0000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:03:38 GMT",
        "trace-id": "c4c6cf9d-62e7-2336-6178-72d8b216ec7a"
      },
      "ResponseBody": {
        "id": "C3F5FC63298E804F9F3EDD5C8C03DD311BB0FBFFD5DA28DEAB",
        "queueSelectorAttachments": [
          {
            "kind": "static",
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "919FACE967FEA60B879B6551283CB526BE81024E63D4AA713D"
            }
          }
        ],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 1
        },
        "workerSelectorAttachments": [
          {
            "kind": "static",
            "workerSelector": {
              "expedite": false,
              "status": "active",
              "key": "key",
              "labelOperator": "equal",
              "value": "value"
            }
          }
        ],
        "etag": "\u00220c007a6a-0000-0700-0000-654ac24a0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/C3F5FC63298E804F9F3EDD5C8C03DD311BB0FBFFD5DA28DEAB?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:03:38 GMT"
      },
      "RequestBody": {
        "name": "C3F5FC63298E804F9F3EDD5C8C03DD311BB0FBFFD5DA28DEAB-Name",
        "fallbackQueueId": "919FACE967FEA60B879B6551283CB526BE81024E63D4AA713D",
        "queueSelectorAttachments": [
          {
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "919FACE967FEA60B879B6551283CB526BE81024E63D4AA713D"
            },
            "kind": "static"
          }
        ],
        "prioritizationRule": {
          "value": 1,
          "kind": "static-rule"
        },
        "workerSelectorAttachments": [
          {
      [...]
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/919FACE967FEA60B879B6551283CB526BE81024E63D4AA713D?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:03:43 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "e9448241-824a-1398-c03c-834000a66e3f"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-UFtHt3F00EuaQXKr8upucQ-",
    "RandomSeed": "1275291186"
  }
}
