{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/sdk-QOB1NCNFQEuBZwQv5_F0cQ--CPEmpty?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 22:56:09 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002267009033-0000-0700-0000-6527280a0000\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 22:56:10 GMT",
        "trace-id": "10823f12-1c1a-5b5e-b642-d2b85d35e01f"
      },
      "ResponseBody": {
        "id": "sdk-QOB1NCNFQEuBZwQv5_F0cQ--CPEmpty",
        "queueSelectors": [],
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/1D45E84D17A47CEA0C8705C4360944993EED5F7EF98C3189FE?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 22:56:09 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy1D45E84D17A47CEA0C8705C4360944993EED5F7EF98C3189FE",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220a00f149-0000-0700-0000-6527280a0000\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 22:56:10 GMT",
        "trace-id": "f2c63b40-5ce6-fd19-d5ed-23ee47269dab"
      },
      "ResponseBody": {
        "id": "1D45E84D17A47CEA0C8705C4360944993EED5F7EF98C3189FE",
        "name": "LongestIdleDistributionPolicy1D45E84D17A47CEA0C8705C4360944993EED5F7EF98C3189FE",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/sdk-QOB1NCNFQEuBZwQv5_F0cQ--CPEmpty?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 22:56:10 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002267009033-0000-0700-0000-6527280a0000\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 22:56:10 GMT",
        "trace-id": "0c092cc0-2966-3753-405f-4735fbe3d0d9"
      },
      "ResponseBody": {
        "id": "sdk-QOB1NCNFQEuBZwQv5_F0cQ--CPEmpty",
        "queueSelectors": [],
        "workerSelectors": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-QOB1NCNFQEuBZwQv5_F0cQ-",
    "RandomSeed": "852478125"
  }
}
