{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/1CA7746BF32A7E54DBA0C1BFC02D792D5A98AD7CB19113E479?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:20:40 GMT"
      },
      "RequestBody": {
        "name": "Priority-ClassificationPolicy",
        "workerSelectorAttachments": [
          {
            "workerSelector": {
              "key": "department",
              "labelOperator": "equal",
              "value": "sales"
            },
            "kind": "static"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002206001906-0000-0700-0000-653ff3f70000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:20:39 GMT",
        "trace-id": "2f372498-3570-8983-3ba7-6e2d7f9f3168"
      },
      "ResponseBody": {
        "id": "1CA7746BF32A7E54DBA0C1BFC02D792D5A98AD7CB19113E479",
        "name": "Priority-ClassificationPolicy",
        "queueSelectorAttachments": [],
        "workerSelectorAttachments": [
          {
            "kind": "static",
            "workerSelector": {
              "expedite": false,
              "status": "active",
              "key": "department",
              "labelOperator": "equal",
              "value": "sales"
            }
          }
        ],
        "etag": "\u002206001906-0000-0700-0000-653ff3f70000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/1CA7746BF32A7E54DBA0C1BFC02D792D5A98AD7CB19113E479?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:20:40 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002206001906-0000-0700-0000-653ff3f70000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:20:39 GMT",
        "trace-id": "387e96d5-63f0-5e67-897b-d58e6580b904"
      },
      "ResponseBody": {
        "id": "1CA7746BF32A7E54DBA0C1BFC02D792D5A98AD7CB19113E479",
        "name": "Priority-ClassificationPolicy",
        "queueSelectorAttachments": [],
        "workerSelectorAttachments": [
          {
            "kind": "static",
            "workerSelector": {
              "expedite": false,
              "status": "active",
              "key": "department",
              "labelOperator": "equal",
              "value": "sales"
            }
          }
        ],
        "etag": "\u002206001906-0000-0700-0000-653ff3f70000\u0022"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-twhpbE-zcUuJLpg2MD-7PA-",
    "RandomSeed": "1780967700"
  }
}
