{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/sdk-_m0WsBlstE2lTZCD3zOoHQ--CPPri?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 01:04:59 GMT"
      },
      "RequestBody": {
        "name": "Priority-ClassificationPolicy",
        "prioritizationRule": {
          "value": 10,
          "kind": "static"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00229b014f02-0000-0700-0000-65de86bc0000\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 01:05:00 GMT",
        "trace-id": "0e3be9f0-2efe-3d5b-7ddd-79e906140830"
      },
      "ResponseBody": {
        "id": "sdk-_m0WsBlstE2lTZCD3zOoHQ--CPPri",
        "name": "Priority-ClassificationPolicy",
        "queueSelectorAttachments": [],
        "prioritizationRule": {
          "kind": "static",
          "value": 10
        },
        "workerSelectorAttachments": [],
        "etag": "\u00229b014f02-0000-0700-0000-65de86bc0000\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://rsarkar-ppe-test.ppe.communication.azure.net/routing/classificationPolicies/sdk-_m0WsBlstE2lTZCD3zOoHQ--CPPri?api-version=2024-01-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "HMAC-SHA256 SignedHeaders=x-ms-date;host;x-ms-content-sha256\u0026Signature=H2mVd9Ug6mOLYbwAu8gxuOwIAAsqbsWN6YzDfk26axA=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Wed, 28 Feb 2024 01:05:03 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "trace-id": "027e528b-1184-957f-0e09-59ee89cd3a69"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-_m0WsBlstE2lTZCD3zOoHQ-",
    "RandomSeed": "1586039138"
  }
}
