{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/2CF0CDDCFF266BE48CF2FFE0EEDCDB760F0F20FA6CCFE0A73B?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 18:21:18 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy2CF0CDDCFF266BE48CF2FFE0EEDCDB760F0F20FA6CCFE0A73B",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022a4000ecb-0000-0700-0000-6552691d0000\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 18:21:17 GMT",
        "trace-id": "9bd3edc5-b831-18b0-d7b8-2296c1467bb8"
      },
      "ResponseBody": {
        "id": "2CF0CDDCFF266BE48CF2FFE0EEDCDB760F0F20FA6CCFE0A73B",
        "name": "LongestIdleDistributionPolicy2CF0CDDCFF266BE48CF2FFE0EEDCDB760F0F20FA6CCFE0A73B",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u0022a4000ecb-0000-0700-0000-6552691d0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/E589FD0794F2E819C1A76DA130CD8849501DB9845A26FB95AE?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 18:21:19 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-TestE589FD0794F2E819C1A76DA130CD8849501DB9845A26FB95AE",
        "distributionPolicyId": "2CF0CDDCFF266BE48CF2FFE0EEDCDB760F0F20FA6CCFE0A73B",
        "labels": {
          "Label_1": "Value_1"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225a02710a-0000-0700-0000-6552691e0000\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 18:21:18 GMT",
        "trace-id": "c5b5533a-bda2-2e03-708a-809bc39ce706"
      },
      "ResponseBody": {
        "id": "E589FD0794F2E819C1A76DA130CD8849501DB9845A26FB95AE",
        "name": "DefaultQueue-Sdk-TestE589FD0794F2E819C1A76DA130CD8849501DB9845A26FB95AE",
        "distributionPolicyId": "2CF0CDDCFF266BE48CF2FFE0EEDCDB760F0F20FA6CCFE0A73B",
        "labels": {
          "Label_1": "Value_1",
          "Id": "E589FD0794F2E819C1A76DA130CD8849501DB9845A26FB95AE"
        },
        "etag": "\u00225a02710a-0000-0700-0000-6552691e0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/2CF0CDDCFF266BE48CF2FFE0EEDCDB760F0F20FA6CCFE0A73B?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 18:21:19 GMT"
      },
      "RequestBody": {
        "queueSelectorAttachments": [
          {
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "E589FD0794F2E819C1A76DA130CD8849501DB9845A26FB95AE"
            },
            "kind": "static"
          }
        ],
        "prioritizationRule": {
          "value": 1,
          "kind": "static"
        },
        "workerSelectorAttachments": [
          {
            "workerSelector": {
              "key": "key",
              "labelOperator": "equal",
              "value": "value"
            },
            "kind": "static"
          }
        ],
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002210004f40-0000-0700-0000-6552691e0000\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 18:21:18 GMT",
        "trace-id": "eece96d1-d0e2-aa13-c7c4-d1863094d540"
      },
      "ResponseBody": {
        "id": "2CF0CDDCFF266BE48CF2FFE0EEDCDB760F0F20FA6CCFE0A73B",
        "queueSelectorAttachments": [
          {
            "kind": "static",
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "E589FD0794F2E819C1A76DA130CD8849501DB9845A26FB95AE"
            }
          }
        ],
        "prioritizationRule": {
          "kind": "static",
          "value": 1
        },
        "workerSelectorAttachments": [
          {
            "kind": "static",
            "workerSelector": {
              "expedite": false,
              "status": "active",
              "key": "key",
              "labelOperator": "equal",
              "value": "value"
            }
          }
        ],
        "etag": "\u002210004f40-0000-0700-0000-6552691e0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/2CF0CDDCFF266BE48CF2FFE0EEDCDB760F0F20FA6CCFE0A73B?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 18:21:20 GMT"
      },
      "RequestBody": {
        "name": "2CF0CDDCFF266BE48CF2FFE0EEDCDB760F0F20FA6CCFE0A73B-Name",
        "fallbackQueueId": "E589FD0794F2E819C1A76DA130CD8849501DB9845A26FB95AE",
        "queueSelectorAttachments": [
          {
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "E589FD0794F2E819C1A76DA130CD8849501DB9845A26FB95AE"
            },
            "kind": "static"
          }
        ],
        "prioritizationRule": {
          "value": 1,
          "kind": "static"
        },
        "workerSelectorAttachments": [
          {
           [...]
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/E589FD0794F2E819C1A76DA130CD8849501DB9845A26FB95AE?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 18:21:25 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "65f64edb-02db-227a-db7a-415617922c44"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-h8XhD_B0WEaRUgXhlVcG7w-",
    "RandomSeed": "1955483393"
  }
}
