{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/816F70C7C5BEC5A11DC80800C853582063DF413DCF405B5AB9?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 27 Feb 2024 23:59:24 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy816F70C7C5BEC5A11DC80800C853582063DF413DCF405B5AB9",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "longestIdle"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220900fcd6-0000-0700-0000-65de775d0000\u0022",
        "Last-Modified": "Tue, 27 Feb 2024 23:59:25 GMT",
        "trace-id": "2a8c7a30-cbbc-15a1-ca3e-e44004f35571"
      },
      "ResponseBody": {
        "id": "816F70C7C5BEC5A11DC80800C853582063DF413DCF405B5AB9",
        "name": "LongestIdleDistributionPolicy816F70C7C5BEC5A11DC80800C853582063DF413DCF405B5AB9",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00220900fcd6-0000-0700-0000-65de775d0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/D4D02255DE57F7231C0CC80FC7A0D9D2BF67CBA536EF70441A?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 27 Feb 2024 23:59:25 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-TestD4D02255DE57F7231C0CC80FC7A0D9D2BF67CBA536EF70441A",
        "distributionPolicyId": "816F70C7C5BEC5A11DC80800C853582063DF413DCF405B5AB9",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022e50239bf-0000-0700-0000-65de775d0000\u0022",
        "Last-Modified": "Tue, 27 Feb 2024 23:59:25 GMT",
        "trace-id": "17ef3f4b-7f85-42ac-d76e-24bfef012d27"
      },
      "ResponseBody": {
        "id": "D4D02255DE57F7231C0CC80FC7A0D9D2BF67CBA536EF70441A",
        "name": "DefaultQueue-Sdk-TestD4D02255DE57F7231C0CC80FC7A0D9D2BF67CBA536EF70441A",
        "distributionPolicyId": "816F70C7C5BEC5A11DC80800C853582063DF413DCF405B5AB9",
        "labels": {
          "Label_1": "Value_1",
          "Id": "D4D02255DE57F7231C0CC80FC7A0D9D2BF67CBA536EF70441A"
        },
        "etag": "\u0022e50239bf-0000-0700-0000-65de775d0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/816F70C7C5BEC5A11DC80800C853582063DF413DCF405B5AB9?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 27 Feb 2024 23:59:25 GMT"
      },
      "RequestBody": {
        "queueSelectorAttachments": [
          {
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "D4D02255DE57F7231C0CC80FC7A0D9D2BF67CBA536EF70441A"
            },
            "kind": "static"
          }
        ],
        "prioritizationRule": {
          "value": 1,
          "kind": "static"
        },
        "workerSelectorAttachments": [
          {
            "workerSelector": {
              "key": "key",
              "labelOperator": "equal",
              "value": "value"
            },
            "kind": "static"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00229a018352-0000-0700-0000-65de775d0000\u0022",
        "Last-Modified": "Tue, 27 Feb 2024 23:59:25 GMT",
        "trace-id": "ff4e8723-5896-edc9-0300-db8e0768b6e6"
      },
      "ResponseBody": {
        "id": "816F70C7C5BEC5A11DC80800C853582063DF413DCF405B5AB9",
        "queueSelectorAttachments": [
          {
            "kind": "static",
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "D4D02255DE57F7231C0CC80FC7A0D9D2BF67CBA536EF70441A"
            }
          }
        ],
        "prioritizationRule": {
          "kind": "static",
          "value": 1
        },
        "workerSelectorAttachments": [
          {
            "kind": "static",
            "workerSelector": {
              "expedite": false,
              "status": "active",
              "key": "key",
              "labelOperator": "equal",
              "value": "value"
            }
          }
        ],
        "etag": "\u00229a018352-0000-0700-0000-65de775d0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/816F70C7C5BEC5A11DC80800C853582063DF413DCF405B5AB9?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 27 Feb 2024 23:59:25 GMT"
      },
      "RequestBody": {
        "name": "816F70C7C5BEC5A11DC80800C853582063DF413DCF405B5AB9-Name",
        "fallbackQueueId": "D4D02255DE57F7231C0CC80FC7A0D9D2BF67CBA536EF70441A",
        "queueSelectorAttachments": [
          {
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "D4D02255DE57F7231C0CC80FC7A0D9D2BF67CBA536EF70441A"
            },
            "kind": "static"
          }
        ],
        "prioritizationRule": {
          "value": 1,
          "kind": "static"
        },
        "workerSelectorAttachments": [
          {
           [...]
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/D4D02255DE57F7231C0CC80FC7A0D9D2BF67CBA536EF70441A?api-version=2024-01-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 27 Feb 2024 23:59:30 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "trace-id": "eb2b597b-fc5c-b9ec-b58a-07289aa1f522"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-4hgP1Oj1QUqooyZ3m0u0CQ-",
    "RandomSeed": "1229207357"
  }
}
