{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/key-rotation-1776798433716/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/key-rotation-1776798433716/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/key-rotation-1776798433716/d5da90a0d9cb48febb26de227533b28b",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "esgMAaSeS7fFjahWhVK-3XjaK0isl0BrJoX8BY1GPec",
          "y": "e9Oir7UD7nfgDFsItZcy8ihTtRePvqPE3PhNNIPh6J4"
        },
        "attributes": {
          "enabled": true,
          "created": 1776798436,
          "updated": 1776798436,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/key-rotation-1776798433716/rotationpolicy?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lifetimeActions": [
          {
            "trigger": {
              "timeBeforeExpiry": "P30D"
            },
            "action": {
              "type": "Rotate"
            }
          }
        ],
        "attributes": {
          "expiryTime": "P90D"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://keyvault_name.vault.azure.net/keys/key-rotation-1776798433716/rotationpolicy",
        "lifetimeActions": [
          {
            "trigger": {
              "timeBeforeExpiry": "P30D"
            },
            "action": {
              "type": "Rotate"
            }
          },
          {
            "trigger": {
              "timeBeforeExpiry": "P30D"
            },
            "action": {
              "type": "Notify"
            }
          }
        ],
        "attributes": {
          "expiryTime": "P90D",
          "created": 1776798436,
          "updated": 1776798436
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/key-rotation-1776798433716/rotate?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/key-rotation-1776798433716/b614cbbd39404abcbd97a76b417efa9b",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "6J7tqaFq_AM6zBit4wAh5AChAFaiC81S8bJ0v2vcJLQ",
          "y": "M6z2lq-BkqhdZk9PUXrJBZV4Q-lNde2H6P6oeWDtO9I"
        },
        "attributes": {
          "enabled": true,
          "exp": 1784574436,
          "created": 1776798436,
          "updated": 1776798436,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {
    "keyRotationKeyName": "key-rotation-1776798433716"
  }
}
