{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2023-02-28-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "modelId": "1469950217",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "https://sanitized.blob.core.windows.net"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/operations/31483695941_452187c4-f7dd-4e79-a636-316f865686e3?api-version=2023-02-28-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/operations/31483695941_452187c4-f7dd-4e79-a636-316f865686e3?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31483695941_452187c4-f7dd-4e79-a636-316f865686e3",
        "kind": "documentModelBuild",
        "status": "notStarted",
        "createdDateTime": "2023-04-28T08:54:19Z",
        "lastUpdatedDateTime": "2023-04-28T08:54:19Z",
        "resourceLocation": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/1469950217?api-version=2023-02-28-preview"
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/operations/31483695941_452187c4-f7dd-4e79-a636-316f865686e3?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31483695941_452187c4-f7dd-4e79-a636-316f865686e3",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2023-04-28T08:54:19Z",
        "lastUpdatedDateTime": "2023-04-28T08:54:22Z",
        "resourceLocation": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/1469950217?api-version=2023-02-28-preview",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "1469950217": {
              "fieldSchema": {
                "table": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Item": {
                        "type": "string"
                      },
                      "Price": {
                        "type": "string"
                      },
                      "Tax": {
                        "type": "string"
                      },
                      "Total": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "table": 0.995,
                "table: Item": 0.995,
                "table: Price": 0.995,
                "table: Tax": 0.995,
                "table: Total": 0.995
              }
            }
          },
          "modelId": "1469950217",
          "createdDateTime": "2023-04-28T08:54:22Z",
          "expirationDateTime": "2025-04-27T08:54:22Z",
          "apiVersion": "2023-02-28-preview"
        }
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/1469950217:analyze?stringIndexType=utf16CodeUnit\u0026api-version=2023-02-28-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/1469950217/analyzeResults/f712f563-3d22-4d25-8a3d-3857890704e2?api-version=2023-02-28-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/1469950217/analyzeResults/f712f563-3d22-4d25-8a3d-3857890704e2?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2023-04-28T08:54:23Z",
        "lastUpdatedDateTime": "2023-04-28T08:54:23Z"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/1469950217/analyzeResults/f712f563-3d22-4d25-8a3d-3857890704e2?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2023-04-28T08:54:23Z",
        "lastUpdatedDateTime": "2023-04-28T08:54:27Z",
        "analyzeResult": {
          "apiVersion": "2023-02-28-preview",
          "modelId": "1469950217",
          "stringIndexType": "utf16CodeUnit",
          "content": "Con t oso, Ltd.\nItem\nPrice\nTax\nTotal\nApple\n5.00\n2.00\n7.00\nOrange\n2.00\n1.00\n3.00\n1.00\n4.00\n5.00\nPear\n2.00\n2.00",
          "pages": [
            {
              "pageNumber": 1,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch",
              "words": [
                {
                  "content": "Con",
                  "polygon": [
                    1.0075,
                    1.0471,
                    1.2329,
                    1.0471,
                    1.2329,
                    1.1465,
                    1.0075,
                    1.1465
                  ],
                  "confidence": 1,
                  "span": {
                    "offset": 0,
                    "length": 3
                  }
                },
                {
                  "content": "t",
                  "polygon": [
                    1.2461,
                    1.0557,
                    1.2901,
                    1.0557,
                    1.2901,
                    1.1464,
                    1.2461,
                    1.1464
                  ],
                  "confidence": 1,
                  "span": {
                    "offset": 4,
                    "length": 1
   [...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/1469950217?api-version=2023-02-28-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "API_KEY": "Sanitized",
    "ENDPOINT": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/",
    "RandomSeed": "1334642057",
    "TABLE_DYNAMIC_ROWS_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net"
  }
}
