{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-invoice:analyze?locale=not-locale&stringIndexType=utf16CodeUnit&api-version=2023-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ms-azure-ai-errorcode": "InvalidArgument",
        "x-ms-error-code": "InvalidArgument",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidArgument",
          "message": "Invalid argument.",
          "innererror": {
            "code": "InvalidParameter",
            "message": "The parameter Locale is invalid: The language code is invalid or not supported."
          }
        }
      }
    }
  ],
  "Variables": {
    "ENDPOINT": "https://camaiaor-localtests.cognitiveservices.azure.com/",
    "RandomSeed": "435921394"
  }
}
