{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-document:analyze?stringIndexType=utf16CodeUnit&api-version=2023-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-document/analyzeResults/890d64c6-c9a0-493d-85e6-ed382551398a?api-version=2023-07-31",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-document/analyzeResults/890d64c6-c9a0-493d-85e6-ed382551398a?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "5",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2024-10-07T19:36:52Z",
        "lastUpdatedDateTime": "2024-10-07T19:36:52Z"
      }
    },
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-document/analyzeResults/890d64c6-c9a0-493d-85e6-ed382551398a?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2024-10-07T19:36:52Z",
        "lastUpdatedDateTime": "2024-10-07T19:36:53Z",
        "analyzeResult": {
          "apiVersion": "2023-07-31",
          "modelId": "prebuilt-document",
          "stringIndexType": "utf16CodeUnit",
          "content": "",
          "pages": [
            {
              "pageNumber": 1,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch",
              "words": [],
              "lines": [],
              "spans": [
                {
                  "offset": 0,
                  "length": 0
                }
              ]
            }
          ],
          "tables": [],
          "keyValuePairs": [],
          "entities": [],
          "styles": [],
          "documents": []
        }
      }
    }
  ],
  "Variables": {
    "ENDPOINT": "https://camaiaor-localtests.cognitiveservices.azure.com/",
    "RandomSeed": "1727375436"
  }
}
