{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-Ms-Date": "Sat, 18 May 2024 00:03:58 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName4275288239"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-18T00%3A03%3A40.3511809Z'\"",
        "Location": "Sanitized"
      },
      "ResponseBody": {
        "TableName": "tableName4275288239",
        "odata.metadata": "https://Sanitized.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/tableName4275288239",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-Ms-Date": "Sat, 18 May 2024 00:03:58 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "Bool": true,
        "Integer": 10,
        "PartitionKey": "pk001",
        "RowKey": "rk001",
        "String": "abcdef",
        "Timestamp": "0001-01-01T00:00:00Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-18T00%3A03%3A40.7255553Z'\"",
        "Location": "Sanitized"
      },
      "ResponseBody": {
        "odata.metadata": "https://Sanitized.table.cosmos.azure.com/tableName4275288239/$metadata#tableName4275288239/@Element",
        "odata.etag": "W/\"datetime'2024-05-18T00%3A03%3A40.7255553Z'\"",
        "Bool": true,
        "Integer": 10,
        "PartitionKey": "pk001",
        "RowKey": "rk001",
        "String": "abcdef",
        "Timestamp": "2024-05-18T00:03:40.7255553Z"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/tableName4275288239(PartitionKey='pk001',RowKey='rk001')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "X-Ms-Date": "Sat, 18 May 2024 00:03:58 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-18T00%3A03%3A40.7255553Z'\""
      },
      "ResponseBody": {
        "odata.metadata": "https://Sanitized.table.cosmos.azure.com/tableName4275288239/$metadata#tableName4275288239/@Element",
        "odata.etag": "W/\"datetime'2024-05-18T00%3A03%3A40.7255553Z'\"",
        "Bool": true,
        "Integer": 10,
        "PartitionKey": "pk001",
        "RowKey": "rk001",
        "String": "abcdef",
        "Timestamp": "2024-05-18T00:03:40.7255553Z"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/tableName4275288239()?%24filter=PartitionKey+eq+%27pk001%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "X-Ms-Date": "Sat, 18 May 2024 00:03:58 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\"datetime'2024-05-18T00%3A03%3A40.7255553Z'\"",
            "Bool": true,
            "Integer": 10,
            "PartitionKey": "pk001",
            "RowKey": "rk001",
            "String": "abcdef",
            "Timestamp": "2024-05-18T00:03:40.7255553Z"
          }
        ],
        "odata.metadata": "https://Sanitized.table.cosmos.azure.com/$metadata#tableName4275288239"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables('tableName4275288239')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Sat, 18 May 2024 00:03:59 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
