{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169768531646304861?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD0519E81BC38\u0022",
        "Last-Modified": "Thu, 19 Oct 2023 03:15:17 GMT",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169768531646304861/blob169768531657402015?comp=block\u0026blockid=MQ%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "AQIDBAUGBwg=",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": "SGVsbG8gV29ybGQh",
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "Crc64Mismatch",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ECrc64Mismatch\u003C/Code\u003E\u003CMessage\u003EThe CRC64 value specified in the request did not match with the CRC64 value calculated by the server.\n",
        "RequestId:beec8585-a01e-0066-673a-02dc01000000\n",
        "Time:2023-10-19T03:15:17.4477283Z\u003C/Message\u003E\u003CUserSpecifiedCrc\u003EAQIDBAUGBwg=\u003C/UserSpecifiedCrc\u003E\u003CServerCalculatedCrc\u003EpeH8Xsgc5QI=\u003C/ServerCalculatedCrc\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169768531646304861?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob169768531657402015",
    "container": "container169768531646304861"
  }
}
