{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176765139023409001?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE4CA81625C2B2\"",
        "Last-Modified": "Mon, 05 Jan 2026 22:16:34 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176765139023409001/blob176765139425100866?comp=block&blockid=MQ%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "SGVsbG9Xb3JsZA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "8R2aIe9T07E=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176765139023409001/blob176765139425100866?comp=block&blockid=Mg%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "SGVsbG9Xb3JsZA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "8R2aIe9T07E=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176765139023409001/blob176765139425100866?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-access-tier": "Cold",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><BlockList><Latest>MQ==</Latest><Latest>Mg==</Latest></BlockList>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE4CA8164C9385\"",
        "Last-Modified": "Mon, 05 Jan 2026 22:16:34 GMT",
        "x-ms-content-crc64": "GFi/o1BSQtU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06",
        "x-ms-version-id": "2026-01-05T22:16:34.5523077Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176765139023409001/blob176765139425100866?",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE4CA8164C9385\"",
        "Last-Modified": "Mon, 05 Jan 2026 22:16:34 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Mon, 05 Jan 2026 22:16:34 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 05 Jan 2026 22:16:34 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 05 Jan 2026 22:16:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06",
        "x-ms-version-id": "2026-01-05T22:16:34.5523077Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176765139023409001?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob176765139425100866",
    "container": "container176765139023409001"
  }
}
