{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175841020001203621?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF89BC371C5B1\"",
        "Last-Modified": "Sat, 20 Sep 2025 23:16:43 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175841020001203621/blob175841020447503883?comp=block&blockid=MQ%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "SGVsbG9Xb3JsZA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "8R2aIe9T07E=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175841020001203621/blob175841020447503883?comp=block&blockid=Mg%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "SGVsbG9Xb3JsZA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "8R2aIe9T07E=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175841020001203621/blob175841020447503883?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><BlockList><Latest>Mg==</Latest></BlockList>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF89BC3A707C0\"",
        "Last-Modified": "Sat, 20 Sep 2025 23:16:44 GMT",
        "x-ms-content-crc64": "9VozlWcmhh8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-09-20T23:16:44.2601408Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175841020001203621/blob175841020447503883?comp=blocklist&blocklisttype=all&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\"0x8DDF89BC3A707C0\"",
        "Last-Modified": "Sat, 20 Sep 2025 23:16:44 GMT",
        "x-ms-blob-content-length": "10",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><BlockList><CommittedBlocks><Block><Name>Mg==</Name><Size>10</Size></Block></CommittedBlocks><UncommittedBlocks /></BlockList>"
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175841020001203621?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob175841020447503883",
    "container": "container175841020001203621"
  }
}
