{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container171697832146300040?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC7FC9A5E2110B\"",
        "Last-Modified": "Wed, 29 May 2024 10:25:22 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container171697832146300040/copiedblob171697832233108777?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-copy-source-error-code": "BlobNotFound",
        "x-ms-copy-source-status-code": "404",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>CannotVerifyCopySource</Code><Message>The specified blob does not exist.\n",
        "RequestId:e34c9d8f-701e-005a-45b2-b1f5c6000000\n",
        "Time:2024-05-29T10:25:22.9640957Z</Message><CopySourceStatusCode>404</CopySourceStatusCode><CopySourceErrorCode>BlobNotFound</CopySourceErrorCode><CopySourceErrorMessage>The specified blob does not exist.</CopySourceErrorMessage></Error>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container171697832146300040?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob171697832232802661",
    "container": "container171697832146300040",
    "copiedblob": "copiedblob171697832233108777",
    "nonexistblob": "nonexistblob171697832233102495"
  }
}
