{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1758790597612?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1758790597612",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"SBasr-TUvWpTklhH_-SHKKwo9PrPFE-Hk_d_3Nqvjjs\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:56:40 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTYwMDE=;sn=74016001"
      },
      "ResponseBody": {
        "etag": "SBasr-TUvWpTklhH_-SHKKwo9PrPFE-Hk_d_3Nqvjjs",
        "key": "key1-1758790597612",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2025-09-25T08:56:40+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1758790597612?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTYwMDE="
      },
      "RequestBody": {
        "key": "key2-1758790597612",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"oY-uD3H0kt_1lM2qRSKnfTsErInrMt6Qt8iZ0D1VnSI\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:56:40 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTYwMDI=;sn=74016002"
      },
      "ResponseBody": {
        "etag": "oY-uD3H0kt_1lM2qRSKnfTsErInrMt6Qt8iZ0D1VnSI",
        "key": "key2-1758790597612",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-09-25T08:56:40+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1758790597612?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTYwMDI="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1758790597612",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"UqFPvrbKtQ-QUGEBhtrDNj0XxfCv5wG444EKg8nueao\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:56:40 GMT",
        "Link": "</kv?snapshot=snapshot-1758790597612&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1758790597612&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTYwMDM=;sn=74016003"
      },
      "ResponseBody": {
        "etag": "UqFPvrbKtQ-QUGEBhtrDNj0XxfCv5wG444EKg8nueao",
        "name": "snapshot-1758790597612",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1758790597612",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-09-25T08:56:40.6679067+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1758790597612",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTYwMDM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTYwMDM=;sn=74016003"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1758790597612?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTYwMDQ="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"fnnTwfhEDTiwjBEQY0_myAZz_OpnzUKXj9PdB0WKrY8\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:56:49 GMT",
        "Link": "</kv?snapshot=snapshot-1758790597612&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTYwMDU=;sn=74016005"
      },
      "ResponseBody": {
        "etag": "fnnTwfhEDTiwjBEQY0_myAZz_OpnzUKXj9PdB0WKrY8",
        "name": "snapshot-1758790597612",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1758790597612",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-09-25T08:56:40+00:00",
        "expires": "2025-10-25T08:56:51.8369677+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1758790597612?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTYwMDY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"oY-uD3H0kt_1lM2qRSKnfTsErInrMt6Qt8iZ0D1VnSI\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:56:40 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTYwMDc=;sn=74016007"
      },
      "ResponseBody": {
        "etag": "oY-uD3H0kt_1lM2qRSKnfTsErInrMt6Qt8iZ0D1VnSI",
        "key": "key2-1758790597612",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-09-25T08:56:40+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1758790597612",
    "key2": "key2-1758790597612",
    "snapshot1": "snapshot-1758790597612"
  }
}
