{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1758163725875?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1758163725875",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"UrrO6e9V87_EqF68TErqmdVSsGYCBrG1TePJH11gBfU\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:48:48 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDIxMDE=;sn=73802101"
      },
      "ResponseBody": {
        "etag": "UrrO6e9V87_EqF68TErqmdVSsGYCBrG1TePJH11gBfU",
        "key": "key1-1758163725875",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2025-09-18T02:48:48+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1758163725875?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDIxMDE="
      },
      "RequestBody": {
        "key": "key2-1758163725875",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ROsaFNSVFMAsQ2-XJbSkPl4lOxIKhy26LtjoQyooc6I\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:48:48 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDIxMDI=;sn=73802102"
      },
      "ResponseBody": {
        "etag": "ROsaFNSVFMAsQ2-XJbSkPl4lOxIKhy26LtjoQyooc6I",
        "key": "key2-1758163725875",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-09-18T02:48:48+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1758163725875?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDIxMDI="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1758163725875",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"64D0KThxkaQyxMEd2o2y7sOFdZ3XS0v4_0MQEozVQS4\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:48:48 GMT",
        "Link": "</kv?snapshot=snapshot-1758163725875&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1758163725875&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDIxMDM=;sn=73802103"
      },
      "ResponseBody": {
        "etag": "64D0KThxkaQyxMEd2o2y7sOFdZ3XS0v4_0MQEozVQS4",
        "name": "snapshot-1758163725875",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1758163725875",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-09-18T02:48:48.750362+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1758163725875",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDIxMDM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDIxMDM=;sn=73802103"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1758163725875?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDIxMDQ="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"pNfDPgjWXz6bnbp_fxWR6IvqAcV8wArImMWC0GEq1YI\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:48:56 GMT",
        "Link": "</kv?snapshot=snapshot-1758163725875&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDIxMDU=;sn=73802105"
      },
      "ResponseBody": {
        "etag": "pNfDPgjWXz6bnbp_fxWR6IvqAcV8wArImMWC0GEq1YI",
        "name": "snapshot-1758163725875",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1758163725875",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-09-18T02:48:48+00:00",
        "expires": "2025-10-18T02:48:59.9357253+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1758163725875?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDIxMDY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ROsaFNSVFMAsQ2-XJbSkPl4lOxIKhy26LtjoQyooc6I\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:48:48 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDIxMDc=;sn=73802107"
      },
      "ResponseBody": {
        "etag": "ROsaFNSVFMAsQ2-XJbSkPl4lOxIKhy26LtjoQyooc6I",
        "key": "key2-1758163725875",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-09-18T02:48:48+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1758163725875",
    "key2": "key2-1758163725875",
    "snapshot1": "snapshot-1758163725875"
  }
}
