{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1762283323436?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1762283323436",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KwRW4C38-FHCC-_wOBmb_J6-cDTnf5MOGwalcQ3ZH18\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:08:45 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQxNTU=;sn=75064155",
        "x-ms-date": "Tue, 04 Nov 2025 19:08:45 GMT"
      },
      "ResponseBody": {
        "etag": "KwRW4C38-FHCC-_wOBmb_J6-cDTnf5MOGwalcQ3ZH18",
        "key": "key1-1762283323436",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2025-11-04T19:08:45+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1762283323436?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQxNTU="
      },
      "RequestBody": {
        "key": "key2-1762283323436",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GBt9Yok8eb2bnVx2lO4Pow5p5vLhfJpW47TuZ35T6IY\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:08:45 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQxNTY=;sn=75064156",
        "x-ms-date": "Tue, 04 Nov 2025 19:08:46 GMT"
      },
      "ResponseBody": {
        "etag": "GBt9Yok8eb2bnVx2lO4Pow5p5vLhfJpW47TuZ35T6IY",
        "key": "key2-1762283323436",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-11-04T19:08:45+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1762283323436?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQxNTY="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1762283323436",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"04Zwggbp635wAuHVulXdlezFK2mo66mfQF-rYqwGGvU\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:08:46 GMT",
        "Link": "</kv?snapshot=snapshot-1762283323436&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1762283323436&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQxNTc=;sn=75064157",
        "x-ms-date": "Tue, 04 Nov 2025 19:08:46 GMT"
      },
      "ResponseBody": {
        "etag": "04Zwggbp635wAuHVulXdlezFK2mo66mfQF-rYqwGGvU",
        "name": "snapshot-1762283323436",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1762283323436",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-11-04T19:08:46.1702572+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1762283323436",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQxNTc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQxNTc=;sn=75064157",
        "x-ms-date": "Tue, 04 Nov 2025 19:08:46 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1762283323436?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQxNTg="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"uy6nVcNabPLzPvbuzHz8AJn2kj4tus7WO2BFtIl9bH0\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:08:50 GMT",
        "Link": "</kv?snapshot=snapshot-1762283323436&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQxNTk=;sn=75064159",
        "x-ms-date": "Tue, 04 Nov 2025 19:08:57 GMT"
      },
      "ResponseBody": {
        "etag": "uy6nVcNabPLzPvbuzHz8AJn2kj4tus7WO2BFtIl9bH0",
        "name": "snapshot-1762283323436",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1762283323436",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-11-04T19:08:46+00:00",
        "expires": "2025-12-04T19:08:57.2362074+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1762283323436?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQxNjA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GBt9Yok8eb2bnVx2lO4Pow5p5vLhfJpW47TuZ35T6IY\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:08:45 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQxNjE=;sn=75064161",
        "x-ms-date": "Tue, 04 Nov 2025 19:08:57 GMT"
      },
      "ResponseBody": {
        "etag": "GBt9Yok8eb2bnVx2lO4Pow5p5vLhfJpW47TuZ35T6IY",
        "key": "key2-1762283323436",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-11-04T19:08:45+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1762283323436",
    "key2": "key2-1762283323436",
    "snapshot1": "snapshot-1762283323436"
  }
}
