{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1761465982515?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1761465982515",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"vDLKHzQmP_FpKo8Qw7fYEdU9m82vtaaa8qyY61Wwk5M\"",
        "Last-Modified": "Sun, 26 Oct 2025 08:06:24 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTc3MzA=;sn=74857730",
        "x-ms-date": "Sun, 26 Oct 2025 08:06:24 GMT"
      },
      "ResponseBody": {
        "etag": "vDLKHzQmP_FpKo8Qw7fYEdU9m82vtaaa8qyY61Wwk5M",
        "key": "key1-1761465982515",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2025-10-26T08:06:24+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1761465982515?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTc3MzA="
      },
      "RequestBody": {
        "key": "key2-1761465982515",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7g0Vb6KoKrS-wBnlFavLVjahRt4nZUBCY1qztxus0AQ\"",
        "Last-Modified": "Sun, 26 Oct 2025 08:06:25 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTc3MzE=;sn=74857731",
        "x-ms-date": "Sun, 26 Oct 2025 08:06:25 GMT"
      },
      "ResponseBody": {
        "etag": "7g0Vb6KoKrS-wBnlFavLVjahRt4nZUBCY1qztxus0AQ",
        "key": "key2-1761465982515",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-10-26T08:06:25+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1761465982515?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTc3MzE="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1761465982515",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"sBF6ddnNzkxsmPsfVrMK_b9zfk82boIpSv55DQZ0dIQ\"",
        "Last-Modified": "Sun, 26 Oct 2025 08:06:25 GMT",
        "Link": "</kv?snapshot=snapshot-1761465982515&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1761465982515&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTc3MzI=;sn=74857732",
        "x-ms-date": "Sun, 26 Oct 2025 08:06:25 GMT"
      },
      "ResponseBody": {
        "etag": "sBF6ddnNzkxsmPsfVrMK_b9zfk82boIpSv55DQZ0dIQ",
        "name": "snapshot-1761465982515",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1761465982515",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-10-26T08:06:25.336536+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1761465982515",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTc3MzI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTc3MzI=;sn=74857732",
        "x-ms-date": "Sun, 26 Oct 2025 08:06:25 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1761465982515?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTc3MzM="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"u-RAU-QXGwww7bXo4VnhEZHF0CGu-rSNuTIe0CPjJDM\"",
        "Last-Modified": "Sun, 26 Oct 2025 08:06:46 GMT",
        "Link": "</kv?snapshot=snapshot-1761465982515&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTc3MzQ=;sn=74857734",
        "x-ms-date": "Sun, 26 Oct 2025 08:06:57 GMT"
      },
      "ResponseBody": {
        "etag": "u-RAU-QXGwww7bXo4VnhEZHF0CGu-rSNuTIe0CPjJDM",
        "name": "snapshot-1761465982515",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1761465982515",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-10-26T08:06:25+00:00",
        "expires": "2025-11-25T08:06:57.1165236+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1761465982515?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTc3MzU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7g0Vb6KoKrS-wBnlFavLVjahRt4nZUBCY1qztxus0AQ\"",
        "Last-Modified": "Sun, 26 Oct 2025 08:06:25 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTc3MzY=;sn=74857736",
        "x-ms-date": "Sun, 26 Oct 2025 08:06:57 GMT"
      },
      "ResponseBody": {
        "etag": "7g0Vb6KoKrS-wBnlFavLVjahRt4nZUBCY1qztxus0AQ",
        "key": "key2-1761465982515",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-10-26T08:06:25+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1761465982515",
    "key2": "key2-1761465982515",
    "snapshot1": "snapshot-1761465982515"
  }
}
