{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "00000000-0000-0000-0000-000000000000"
          }
        ],
        "subscriptionId": "8c64812d-6e59-4e65-96b3-14a7cdb1a4e4",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "ADR-PrivateRP",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourcegroups/adr-test-sdk-rg-assetendpointprofiles7909?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
      "ResponseBody": {
        "id": "/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-test-sdk-rg-assetendpointprofiles7909",
        "name": "adr-test-sdk-rg-assetendpointprofiles7909",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-test-sdk-rg-assetendpointprofiles7909/providers/Microsoft.DeviceRegistry/assetEndpointProfiles/deviceregistry-test-assetendpointprofile-sdk5228?api-version=2024-09-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "targetAddress": "opc.tcp://aep-uri/",
          "endpointProfileType": "Microsoft.OpcUa",
          "authentication": {
            "method": "UsernamePassword",
            "usernamePasswordCredentials": {
              "usernameSecretName": "usernameSecretNameRef",
              "passwordSecretName": "passwordSecretNameRef"
            }
          }
        },
        "extendedLocation": {
          "type": "CustomLocation",
          "name": "/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-sdk-test-rg/providers/Microsoft.ExtendedLocation/customLocations/adr-sdk-test-cluster-cl"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/providers/Microsoft.DeviceRegistry/locations/WESTUS/operationStatuses/fa8a12a1-07b2-4267-bab0-e751e8c45988*E5FC341A38858AF82FB1ECF78888C428373AF753F17FF16BA172AA655166EA7D?api-version=2024-09-01-preview&t=638682604186769466&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIx[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/providers/Microsoft.DeviceRegistry/locations/WESTUS/operationStatuses/fa8a12a1-07b2-4267-bab0-e751e8c45988*E5FC341A38858AF82FB1ECF78888C428373AF753F17FF16BA172AA655166EA7D?api-version=2024-09-01-preview&t=638682604186769466&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQ[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-test-sdk-rg-assetendpointprofiles7909/providers/Microsoft.DeviceRegistry/assetEndpointProfiles/deviceregistry-test-assetendpointprofile-sdk5228?api-version=2024-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"a70796fa-0000-0700-0000-674659480000\"",
        "mise-correlation-id": "8d1738be-e30d-441e-9c0b-7ac169c450d0",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "9999"
      },
      "ResponseBody": {
        "id": "/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-test-sdk-rg-assetendpointprofiles7909/providers/Microsoft.DeviceRegistry/assetEndpointProfiles/deviceregistry-test-assetendpointprofile-sdk5228",
        "name": "deviceregistry-test-assetendpointprofile-sdk5228",
        "type": "microsoft.deviceregistry/assetendpointprofiles",
        "location": "westus",
        "extendedLocation": {
          "name": "/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-sdk-test-rg/providers/Microsoft.ExtendedLocation/customLocations/adr-sdk-test-cluster-cl",
          "type": "CustomLocation"
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "Application",
          "createdAt": "2024-11-26T23:26:58.0206917Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2024-11-26T23:27:04.0917839Z"
        },
        "properties": {
          "uuid": "9f7d348a-a6ae-4abd-a63c-09d95170de58",
          "targetAddress": "opc.tcp://aep-uri/",
          "endpointProfileType": "Microsoft.OpcUa",
          "authentication": {
            "method": "UsernamePassword",
            "usernamePasswordCredentials": {
              "usernameSecretName": "usernameSecretNameRef",
              "passwordSecretName": "passwordSecretNameRef"
            }
          },
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-test-sdk-rg-assetendpointprofiles7909/providers/Microsoft.DeviceRegistry/assetEndpointProfiles?api-version=2024-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "06c881d5-ebad-4cc4-87b8-edafd54a9b89",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "9999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-test-sdk-rg-assetendpointprofiles7909/providers/Microsoft.DeviceRegistry/assetEndpointProfiles/deviceregistry-test-assetendpointprofile-sdk5228",
            "name": "deviceregistry-test-assetendpointprofile-sdk5228",
            "type": "microsoft.deviceregistry/assetendpointprofiles",
            "location": "westus",
            "extendedLocation": {
              "name": "/subscriptions/8[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/providers/Microsoft.DeviceRegistry/assetEndpointProfiles?api-version=2024-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "05a83676-c14c-4226-af12-65168acfd12a",
          "4e7bb268-29d3-492a-b09c-a858ad87d089",
          "8242f73f-c2b6-4137-89c8-4e4fdbac6976",
          "f6589ef4-8b62-476e-a0b6-9025af2ddc44",
          "88b0f2fd-3de7-422c-a05f-4427482d0e33",
          "58b97075-d89b-44e0-8b8e-b03edf4c80a2",
          "01c328ec-0b03-4e1f-90fa-dbea5cb388b7",
          "d81d8909-ce6d-4342-8bc4-64c7e442f46e",
          "97e3bd1a-567f-4b2d-b91e-87e451ee4149"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": "9999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/rarity/providers/microsoft.deviceregistry/assetendpointprofiles/aeptestsuper02",
            "name": "aeptestsuper02",
            "type": "microsoft.deviceregistry/assetendpointprofiles",
            "location": "eastus2",
            "extendedLocation": {
              "name": "/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourcegroups/rarity/providers/microsoft.extendedlocation/customlocations/clProdCanary101",
              "type": "CustomLocation"
            },
            "tags": {
              "sensor": "temperature,humidity"
            },
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "Application",
              "createdAt": "2023-10-07T02:57:57.781236Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-10-07T02:58:08.4979311Z"
            },
            "properties": {
              "uuid": "12155780-6a6b-4f89-b74f-0e8666fb2fb3",
              "targetAddr[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-test-sdk-rg-assetendpointprofiles7909/providers/Microsoft.DeviceRegistry/assetEndpointProfiles/deviceregistry-test-assetendpointprofile-sdk5228?api-version=2024-09-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "additionalConfiguration": "{\"refreshIntervalMs\":1000}"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/providers/Microsoft.DeviceRegistry/locations/WESTUS/operationStatuses/afc094f1-ef4b-45f0-94b0-50047f9c8d8f*E5FC341A38858AF82FB1ECF78888C428373AF753F17FF16BA172AA655166EA7D?api-version=2024-09-01-preview&t=638682604267211217&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZP[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/providers/Microsoft.DeviceRegistry/locations/WESTUS/operationStatuses/afc094f1-ef4b-45f0-94b0-50047f9c8d8f*E5FC341A38858AF82FB1ECF78888C428373AF753F17FF16BA172AA655166EA7D?api-version=2024-09-01-preview&t=638682604267211217&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQ[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/providers/Microsoft.DeviceRegistry/locations/WESTUS/operationStatuses/b8da9678-180b-451e-8ce6-451ed469a4e6*E5FC341A38858AF82FB1ECF78888C428373AF753F17FF16BA172AA655166EA7D?api-version=2024-09-01-preview&t=638682604335194174&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQ[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/providers/Microsoft.DeviceRegistry/locations/westus/operationStatuses/b8da9678-180b-451e-8ce6-451ed469a4e6*E5FC341A38858AF82FB1ECF78888C428373AF753F17FF16BA172AA655166EA7D?api-version=2024-09-01-preview&t=638682604337866030&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQ[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/providers/Microsoft.DeviceRegistry/locations/westus/operationStatuses/b8da9678-180b-451e-8ce6-451ed469a4e6*E5FC341A38858AF82FB1ECF78888C428373AF753F17FF16BA172AA655166EA7D?api-version=2024-09-01-preview&t=638682604348798990&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQ[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/providers/Microsoft.DeviceRegistry/locations/westus/operationStatuses/b8da9678-180b-451e-8ce6-451ed469a4e6*E5FC341A38858AF82FB1ECF78888C428373AF753F17FF16BA172AA655166EA7D?api-version=2024-09-01-preview&t=638682604360439152&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQ[...]
