{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "00000000-0000-0000-0000-000000000000"
          }
        ],
        "subscriptionId": "8c64812d-6e59-4e65-96b3-14a7cdb1a4e4",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "ADR-PrivateRP",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourcegroups/adr-test-sdk-rg-assetendpointprofiles8635?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
      "ResponseBody": {
        "id": "/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-test-sdk-rg-assetendpointprofiles8635",
        "name": "adr-test-sdk-rg-assetendpointprofiles8635",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-test-sdk-rg-assetendpointprofiles8635/providers/Microsoft.DeviceRegistry/assetEndpointProfiles/deviceregistry-test-assetendpointprofile-sdk1540?api-version=2024-09-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "targetAddress": "opc.tcp://aep-uri/",
          "endpointProfileType": "Microsoft.OpcUa",
          "authentication": {
            "method": "UsernamePassword",
            "usernamePasswordCredentials": {
              "usernameSecretName": "usernameSecretNameRef",
              "passwordSecretName": "passwordSecretNameRef"
            }
          }
        },
        "extendedLocation": {
          "type": "CustomLocation",
          "name": "/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-sdk-test-rg/providers/Microsoft.ExtendedLocation/customLocations/adr-sdk-test-cluster-cl"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/providers/Microsoft.DeviceRegistry/locations/WESTUS/operationStatuses/564003e0-1b0b-47b4-9e22-c606d4f2284d*924CDAF5172356CDC7E1868D0B309D0A7EE8880AE5D9681CFF3B59D2C39677BD?api-version=2024-09-01-preview&t=638682604405898153&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIx[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/providers/Microsoft.DeviceRegistry/locations/WESTUS/operationStatuses/564003e0-1b0b-47b4-9e22-c606d4f2284d*924CDAF5172356CDC7E1868D0B309D0A7EE8880AE5D9681CFF3B59D2C39677BD?api-version=2024-09-01-preview&t=638682604405898153&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQ[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-test-sdk-rg-assetendpointprofiles8635/providers/Microsoft.DeviceRegistry/assetEndpointProfiles/deviceregistry-test-assetendpointprofile-sdk1540?api-version=2024-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"a90103c4-0000-0200-0000-6746595a0000\"",
        "mise-correlation-id": "2c5a43e9-a142-4a03-adf8-716a9067b547",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "9999"
      },
      "ResponseBody": {
        "id": "/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-test-sdk-rg-assetendpointprofiles8635/providers/Microsoft.DeviceRegistry/assetEndpointProfiles/deviceregistry-test-assetendpointprofile-sdk1540",
        "name": "deviceregistry-test-assetendpointprofile-sdk1540",
        "type": "microsoft.deviceregistry/assetendpointprofiles",
        "location": "westus",
        "extendedLocation": {
          "name": "/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-sdk-test-rg/providers/Microsoft.ExtendedLocation/customLocations/adr-sdk-test-cluster-cl",
          "type": "CustomLocation"
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "Application",
          "createdAt": "2024-11-26T23:27:20.1679092Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2024-11-26T23:27:20.1679092Z"
        },
        "properties": {
          "uuid": "f2b97255-b152-4818-a240-af6c813cef81",
          "targetAddress": "opc.tcp://aep-uri/",
          "endpointProfileType": "Microsoft.OpcUa",
          "authentication": {
            "method": "UsernamePassword",
            "usernamePasswordCredentials": {
              "usernameSecretName": "usernameSecretNameRef",
              "passwordSecretName": "passwordSecretNameRef"
            }
          },
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-test-sdk-rg-assetendpointprofiles8635/providers/Microsoft.DeviceRegistry/assetEndpointProfiles?api-version=2024-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "bc9e8c37-bd6d-49d6-bfc6-b1fa0b29f094",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "9998"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-test-sdk-rg-assetendpointprofiles8635/providers/Microsoft.DeviceRegistry/assetEndpointProfiles/deviceregistry-test-assetendpointprofile-sdk1540",
            "name": "deviceregistry-test-assetendpointprofile-sdk1540",
            "type": "microsoft.deviceregistry/assetendpointprofiles",
            "location": "westus",
            "extendedLocation": {
              "name": "/subscriptions/8[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/providers/Microsoft.DeviceRegistry/assetEndpointProfiles?api-version=2024-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "26870751-de2c-4b0d-9f85-023bd156fef6",
          "0405522d-7c6b-41d4-a7f8-0efba60beda6",
          "a9dad3e5-c401-41f1-8eb1-d0521c04d166",
          "85a5939d-625d-428c-813e-4a82d66f0fc5",
          "271c5424-1163-47f6-a6f6-792b0e0bebcb",
          "ae366c47-955b-41af-ba6a-364aceeb6a16",
          "f3e5f0ec-0ac6-45f5-a5f0-edc2154569d7",
          "1a75ea9e-535a-46ee-be53-393c998522f6",
          "69b16440-ba58-4691-9bf1-164a9de4a044"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": "9999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/rarity/providers/microsoft.deviceregistry/assetendpointprofiles/aeptestsuper02",
            "name": "aeptestsuper02",
            "type": "microsoft.deviceregistry/assetendpointprofiles",
            "location": "eastus2",
            "extendedLocation": {
              "name": "/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourcegroups/rarity/providers/microsoft.extendedlocation/customlocations/clProdCanary101",
              "type": "CustomLocation"
            },
            "tags": {
              "sensor": "temperature,humidity"
            },
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "Application",
              "createdAt": "2023-10-07T02:57:57.781236Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-10-07T02:58:08.4979311Z"
            },
            "properties": {
              "uuid": "12155780-6a6b-4f89-b74f-0e8666fb2fb3",
              "targetAddr[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-test-sdk-rg-assetendpointprofiles8635/providers/Microsoft.DeviceRegistry/assetEndpointProfiles/deviceregistry-test-assetendpointprofile-sdk1540?api-version=2024-09-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "additionalConfiguration": "{\"refreshIntervalMs\":1000}"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/providers/Microsoft.DeviceRegistry/locations/WESTUS/operationStatuses/58c5a6a4-e703-4ca7-860f-ed094ab1feda*924CDAF5172356CDC7E1868D0B309D0A7EE8880AE5D9681CFF3B59D2C39677BD?api-version=2024-09-01-preview&t=638682604447416937&c=MIIHhzCCBm-gAwIBAgITHgVxvH65_BmPrKxDIgAABXG8fjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZP[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/providers/Microsoft.DeviceRegistry/locations/WESTUS/operationStatuses/58c5a6a4-e703-4ca7-860f-ed094ab1feda*924CDAF5172356CDC7E1868D0B309D0A7EE8880AE5D9681CFF3B59D2C39677BD?api-version=2024-09-01-preview&t=638682604447416937&c=MIIHhzCCBm-gAwIBAgITHgVxvH65_BmPrKxDIgAABXG8fjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQ[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/providers/Microsoft.DeviceRegistry/locations/WESTUS/operationStatuses/fff93908-80f1-4e34-8fb9-b80720bc2fac*924CDAF5172356CDC7E1868D0B309D0A7EE8880AE5D9681CFF3B59D2C39677BD?api-version=2024-09-01-preview&t=638682604478971921&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQ[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/providers/Microsoft.DeviceRegistry/locations/westus/operationStatuses/fff93908-80f1-4e34-8fb9-b80720bc2fac*924CDAF5172356CDC7E1868D0B309D0A7EE8880AE5D9681CFF3B59D2C39677BD?api-version=2024-09-01-preview&t=638682604480039581&c=MIIHhzCCBm-gAwIBAgITHgVxvH65_BmPrKxDIgAABXG8fjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQ[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/providers/Microsoft.DeviceRegistry/locations/westus/operationStatuses/fff93908-80f1-4e34-8fb9-b80720bc2fac*924CDAF5172356CDC7E1868D0B309D0A7EE8880AE5D9681CFF3B59D2C39677BD?api-version=2024-09-01-preview&t=638682604491962555&c=MIIHhzCCBm-gAwIBAgITHgVxvH65_BmPrKxDIgAABXG8fjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQ[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/providers/Microsoft.DeviceRegistry/locations/westus/operationStatuses/fff93908-80f1-4e34-8fb9-b80720bc2fac*924CDAF5172356CDC7E1868D0B309D0A7EE8880AE5D9681CFF3B59D2C39677BD?api-version=2024-09-01-preview&t=638682604503048244&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQ[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/providers/Microsoft.DeviceRegistry/locations/westus/operationStatuses/fff93908-80f1-4e34-8fb9-b80720bc2fac*924CDAF5172356CDC7E1868D0B309D0A7EE8880AE5D9681CFF3B59D2C39677BD?api-version=2024-09-01-preview&t=638682604514237223&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQ[...]
