{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "db94d92c-f9c4-4768-ae4b-83d50cea378d",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "PBS Team Testing Subscription - S360 sbharath",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d/resourceGroups/avs-dotnet-test/providers/Microsoft.AVS/privateClouds/avs-dotnet-test-9318?api-version=2024-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d/resourceGroups/avs-dotnet-test/providers/Microsoft.AVS/privateClouds/avs-dotnet-test-9318",
        "location": "eastus",
        "name": "avs-dotnet-test-9318",
        "properties": {
          "availability": {
            "strategy": "SingleZone",
            "zone": 2
          },
          "circuit": {
            "expressRouteID": "/subscriptions/a0d3de03-42d0-4967-bc7d-f9812b59471f/resourceGroups/tnt47-cust-p04-eastus/providers/Microsoft.Network/expressRouteCircuits/tnt47-cust-p04-eastus-er",
            "expressRoutePrivatePeeringID": "/subscriptions/a0d3de03-42d0-4967-bc7d-f9812b59471f/resourceGroups/tnt47-cust-p04-eastus/providers/Microsoft.Network/expressRouteCircuits/tnt47-cust-p04-eastus-er/peerings/AzurePrivatePeering",
            "primarySubnet": "192.168.48.232/30",
            "secondarySubnet": "192.168.48.236/30"
          },
          "dnsZoneType": "Public",
          "encryption": {
            "status": "Disabled"
          },
          "endpoints": {
            "hcxCloudManager": "https://hcx.a43893461df948eeadc8a9.eastus.avs.azure.com/",
            "hcxCloudManagerIp": "192.168.48.9",
            "nsxtManager": "https://nsx.a43893461df948eeadc8a9.eastus.avs.azure.com/",
            "nsxtManagerIp": "192.168.48.3",
            "vcenterIp": "192.168.48.2",
            "vcsa": "https://vc.a43893461df948eeadc8a9.eastus.avs.azure.com/"
          },
          "externalCloudLinks": [],
          "identitySources": [],
          "internet": "Disabled",
          "managementCluster": {
            "clusterId": 1,
            "clusterSize": 3,
            "displayName": "Cluster-1",
            "hosts": [
              "esx13-r18.p04.eastus.avs.azure.com",
              "esx03-r19.p04.eastus.avs.azure.com",
              "esx16-r20.p04.eastus.avs.azure.com"
            ],
            "provisioningState": "Succeeded",
            "vsanDatastoreName": "vsanDatastore"
          },
          "managementNetwork": "192.168.48.0/26",
          "networkBlock": "192.168.48.0/22",
          "nsxPublicIpQuotaRaised": "Disabled",
          "nsxtCertificateThumbprint": "D6540640CE20CBC8C5AAC70B5AABAAB5A274D093",
          "provisioningNetwork": "192.168.50.0/25",
          "provisioningState": "Updating",
          "vcenterCertificateThumbprint": "5EC54CA9FAC2C1C6C4E7FFF199F8D166CC3F7F3A",
          "vmotionNetwork": "192.168.49.128/25"
        },
        "sku": {
          "name": "av36"
        },
        "tags": {
          "sdk-test": "sdk-test"
        },
        "type": "Microsoft.AVS/privateClouds",
        "zones": [
          "2"
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d/resourceGroups/avs-dotnet-test/providers/Microsoft.AVS/privateClouds/avs-dotnet-test-9318?api-version=2024-09-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d/resourceGroups/avs-dotnet-test/providers/Microsoft.AVS/privateClouds/avs-dotnet-test-9318/operationstatuses/e83372f7-bc0d-4c43-ba33-4bba10513207?api-version=2024-09-01&t=638869772586658720&c=MIIHpTCCBo2gAwIBAgITOgWZuFmLREgOyTdeugAEBZm4WTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwNDE5MTQyMjI3WhcNMjUxMDE2MTQyMjI3WjBAMT4wPAYDVQQDEzVhc3luY29[...]
