{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "db94d92c-f9c4-4768-ae4b-83d50cea378d",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "PBS Team Testing Subscription - S360 sbharath",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d/resourceGroups/avs-dotnet-test/providers/Microsoft.AVS/privateClouds/avs-dotnet-test-3317?api-version=2024-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d/resourceGroups/avs-dotnet-test/providers/Microsoft.AVS/privateClouds/avs-dotnet-test-3317",
        "location": "eastus",
        "name": "avs-dotnet-test-3317",
        "properties": {
          "availability": {
            "strategy": "SingleZone",
            "zone": 2
          },
          "circuit": {
            "expressRouteID": "/subscriptions/a0d3de03-42d0-4967-bc7d-f9812b59471f/resourceGroups/tnt80-cust-p04-eastus/providers/Microsoft.Network/expressRouteCircuits/tnt80-cust-p04-eastus-er",
            "expressRoutePrivatePeeringID": "/subscriptions/a0d3de03-42d0-4967-bc7d-f9812b59471f/resourceGroups/tnt80-cust-p04-eastus/providers/Microsoft.Network/expressRouteCircuits/tnt80-cust-p04-eastus-er/peerings/AzurePrivatePeering",
            "primarySubnet": "192.168.48.232/30",
            "secondarySubnet": "192.168.48.236/30"
          },
          "dnsZoneType": "Public",
          "encryption": {
            "status": "Disabled"
          },
          "endpoints": {
            "hcxCloudManager": "https://hcx.b9763c7498b2407e8c8b11.eastus.avs.azure.com/",
            "hcxCloudManagerIp": "192.168.48.9",
            "nsxtManager": "https://nsx.b9763c7498b2407e8c8b11.eastus.avs.azure.com/",
            "nsxtManagerIp": "192.168.48.3",
            "vcenterIp": "192.168.48.2",
            "vcsa": "https://vc.b9763c7498b2407e8c8b11.eastus.avs.azure.com/"
          },
          "externalCloudLinks": [],
          "identitySources": [],
          "internet": "Disabled",
          "managementCluster": {
            "clusterId": 1,
            "clusterSize": 3,
            "displayName": "Cluster-1",
            "hosts": [
              "esx15-r06.p04.eastus.avs.azure.com",
              "esx07-r07.p04.eastus.avs.azure.com",
              "esx15-r16.p04.eastus.avs.azure.com"
            ],
            "provisioningState": "Succeeded",
            "vsanDatastoreName": "vsanDatastore"
          },
          "managementNetwork": "192.168.48.0/26",
          "networkBlock": "192.168.48.0/22",
          "nsxPublicIpQuotaRaised": "Disabled",
          "nsxtCertificateThumbprint": "6EE6417F148366DBCBD9BF949030BB1072716258",
          "provisioningNetwork": "192.168.50.0/25",
          "provisioningState": "Updating",
          "vcenterCertificateThumbprint": "556D6E69598295EED193AFB47DAF80EF7384037C",
          "vmotionNetwork": "192.168.49.128/25"
        },
        "sku": {
          "name": "av36"
        },
        "tags": {},
        "type": "Microsoft.AVS/privateClouds",
        "zones": [
          "2"
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "642560826",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db94d92c-f9c4-4768-ae4b-83d50cea378d"
  }
}
