{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "db94d92c-f9c4-4768-ae4b-83d50cea378d",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "PBS Team Testing Subscription - S360 sbharath",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d/resourceGroups/avs-dotnet-test/providers/Microsoft.AVS/privateClouds/avs-dotnet-test?api-version=2023-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d/resourceGroups/avs-dotnet-test/providers/Microsoft.AVS/privateClouds/avs-dotnet-test",
        "location": "eastus",
        "name": "avs-dotnet-test",
        "properties": {
          "availability": {
            "strategy": "SingleZone",
            "zone": 2
          },
          "circuit": {
            "expressRouteID": "/subscriptions/89dac745-ef27-4e9b-9b31-d8332281a283/resourceGroups/tnt13-cust-p03-eastus/providers/Microsoft.Network/expressRouteCircuits/tnt13-cust-p03-eastus-er",
            "expressRoutePrivatePeeringID": "/subscriptions/89dac745-ef27-4e9b-9b31-d8332281a283/resourceGroups/tnt13-cust-p03-eastus/providers/Microsoft.Network/expressRouteCircuits/tnt13-cust-p03-eastus-er/peerings/AzurePrivatePeering",
            "primarySubnet": "10.0.0.232/30",
            "secondarySubnet": "10.0.0.236/30"
          },
          "encryption": {
            "status": "Disabled"
          },
          "endpoints": {
            "hcxCloudManager": "https://hcx.955e028130f640aa80f3ca.eastus.avs.azure.com/",
            "hcxCloudManagerIp": "10.0.0.9",
            "nsxtManager": "https://nsx.955e028130f640aa80f3ca.eastus.avs.azure.com/",
            "nsxtManagerIp": "10.0.0.3",
            "vcenterIp": "10.0.0.2",
            "vcsa": "https://vc.955e028130f640aa80f3ca.eastus.avs.azure.com/"
          },
          "extendedNetworkBlocks": [
            "10.0.158.0/25",
            "10.0.158.128/25",
            "10.0.159.0/25"
          ],
          "externalCloudLinks": [],
          "identitySources": [],
          "internet": "Disabled",
          "managementCluster": {
            "clusterId": 1,
            "clusterSize": 6,
            "displayName": "Cluster-1",
            "hosts": [
              "esx10-r22.p03.eastus.avs.azure.com",
              "esx13-r21.p03.eastus.avs.azure.com",
              "esx04-r02.p03.eastus.avs.azure.com",
              "esx05-r18.p03.eastus.avs.azure.com",
              "esx13-r05.p03.eastus.avs.azure.com",
              "esx18-r19.p03.eastus.avs.azure.com"
            ],
            "provisioningState": "Succeeded",
            "vsanDatastoreName": "vsanDatastore"
          },
          "managementNetwork": "10.0.0.0/26",
          "networkBlock": "10.0.0.0/22",
          "nsxPublicIpQuotaRaised": "Disabled",
          "nsxtCertificateThumbprint": "01FC2B0FBE6BAF802C399B8A752EBF2AF306B3F8",
          "provisioningNetwork": "10.0.2.0/25",
          "provisioningState": "Succeeded",
          "vcenterCertificateThumbprint": "EFAAC7B0FBEDB5DD06F29BB3FBE28BCFFFD15037",
          "vmotionNetwork": "10.0.1.128/25"
        },
        "sku": {
          "name": "av36"
        },
        "tags": {},
        "type": "Microsoft.AVS/privateClouds"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d/resourceGroups/avs-dotnet-test/providers/Microsoft.AVS/privateClouds/avs-dotnet-test/rotateNsxtPassword?api-version=2023-09-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/html",
        "Location": "https://management.azure.com/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d/resourceGroups/avs-dotnet-test/providers/Microsoft.AVS/privateClouds/avs-dotnet-test/operationresults/429fa01a-20eb-4d45-813b-a5ecd00bcf7e?api-version=2023-09-01&t=638653764449518971&c=MIIHpTCCBo2gAwIBAgITOgOyui871wRtge60rAAEA7K6LzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTIyMTIyOTEzWhcNMjUwMzIxMTIyOTEzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhd[...]
