{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "owners": "bebroder,wesh",
          "DoNotDelete": ""
        },
        "subscriptionId": "00000000-0000-0000-0000-000000000000",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure SDK Test Resources - TME",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/SSS3PT_rg-Sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "Owners": "alzimmer",
          "DeleteAfter": "2026-04-14T17:00:37.8668504Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/locations?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus",
            "name": "Sanitized",
            "type": "Region",
            "displayName": "East US",
            "regionalDisplayName": "(US) East US",
            "metadata": {
              "regionType": "Physical",
              "regionCategory": "Recommended",
              "geography": "United States",
              "geographyGroup": "US",
              "longitude": "-79.8164",
              "latitude": "37.3719",
              "physicalLocation": "Virginia",
              "pairedRegion": [
                {
                  "name": "Sanitized",
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/locations/westus"
                }
              ]
            },
            "availabilityZoneMappings": [
              {
                "logicalZone": "1",
                "physicalZone": "eastus-az2"
              },
              {
                "logicalZone": "2",
                "physicalZone": "eastus-az1"
              },
              {
                "logicalZone": "3",
                "physicalZone": "eastus-az3"
              }
            ]
          },
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/locations/westus2",
            "name": "Sanitized",
            "type": "Region",
            "displayName": "West US 2",
         [...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-Sanitized/providers/Microsoft.StorageCache/amlFilesystems/amlfs-6d971608?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-Sanitized/providers/Microsoft.ManagedIdentity/userAssignedIdentities/Sanitized-uai": {}
          }
        },
        "sku": {
          "name": "Sanitized"
        },
        "properties": {
          "storageCapacityTiB": 4,
          "filesystemSubnet": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-Sanitized/providers/Microsoft.Network/virtualNetworks/Sanitized-vnet/subnets/amlfs",
          "encryptionSettings": {
            "keyEncryptionKey": {
              "keyUrl": "https://sanitized.vault.azure.net/keys/encryption-key/6255716e761b49a5a3a61e040c24798f",
              "sourceVault": {
                "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-Sanitized/providers/Microsoft.KeyVault/vaults/Sanitized-kv"
              }
            }
          },
          "maintenanceWindow": {
            "dayOfWeek": "Monday",
            "timeOfDayUTC": "01:00"
          },
          "hsm": {
            "settings": {
              "container": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-Sanitized/providers/Microsoft.Storage/storageAccounts/Sanitized/blobServices/default/containers/data",
              "loggingContainer": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-Sanitized/providers/Microsoft.Storage/storageAccounts/Sanitized/blobServices/default/containers/logging"
            }
          },
          "rootSquashSettings": {
            "mode": "None"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.StorageCache/locations/westus/ascOperations/0f1f8b55-9381-4693-b39d-e094385afc09?api-version=2025-07-01&t=639113525968587481&c=MIIIJjCCBw6gAwIBAgIQXAg_KQfqNmXWsnKmcWm-CjANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDMwMzE4NDAwNFoXDTI2MDgzMDAwNDAwNFowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlbWVudC5henVyZS5jb20wggE[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.StorageCache/locations/westus/ascOperations/sanitized-operation-id?api-version=2025-07-01&t=sanitized&c=sanitized&s=sanitized&h=sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperationStatus1Min;239",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "startTime": "2026-04-09T17:29:55.389722+00:00",
        "status": "InProgress",
        "name": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.StorageCache/locations/westus/ascOperations/sanitized-operation-id?api-version=2025-07-01&t=sanitized&c=sanitized&s=sanitized&h=sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperationStatus1Min;235",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "startTime": "2026-04-09T17:29:55.389722+00:00",
        "endTime": "2026-04-09T17:46:04.6388469+00:00",
        "status": "Succeeded",
        "name": "Sanitized"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-Sanitized/providers/Microsoft.StorageCache/amlFilesystems/amlfs-6d971608?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "name": "Sanitized",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-Sanitized/providers/Microsoft.StorageCache/amlFilesystems/amlfs-6d971608",
        "type": "Microsoft.StorageCache/amlFilesystems",
        "location": "westus",
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-Sanitized/providers/Microsoft.ManagedIdentity/userAssignedIdentities/Sanitized-uai": {}
          }
        },
        "properties": {
          "storageCapacityTiB": 4.0,
          "health": {
            "state": "Available",
            "statusDescription": "The cluster is available"
          },
          "provisioningState": "Succeeded",
          "clientInfo": {
            "mgsAddress": "10.20.1.4",
            "mountCommand": "mount -t lustre -o noatime,user_xattr 10.20.1.4@tcp0:/lustrefs /<local path>",
            "lustreVersion": "2.15",
            "containerStorageInterface": {
              "persistentVolumeClaim": "Ci0tLQphcGlWZXJzaW9uOiB2MQpraW5kOiBQZXJzaXN0ZW50Vm9sdW1lQ2xhaW0KbWV0YWRhdGE6CiAgIyBUaGUgbmFtZSBvZiB0aGUgUFZDCiAgbmFtZTogcHZjLWx1c3RyZQpzcGVjOgogIGFjY2Vzc01vZGVzOgogICAgLSBSZWFkV3JpdGVNYW55CiAgcmVzb3VyY2VzOgogICAgcmVxdWVzdHM6CiAgICAgICMgVGhlIHJlYWwgc3RvcmFnZSBjYXBhY2l0eSBpbiB0aGUgY2xhaW0KICAgICAgc3RvcmFnZTogNC4wVGkKICAjIFRoaXMgZmllbGQgbXVzdCBiZSB0aGUgc2FtZSBhcyB0aGUgc3RvcmFnZSBjbGFzcyBuYW1lIGluIFN0b3JhZ2VDbGFzcwogIHN0b3JhZ2VDbGFzc05hbWU6IHNjLmF6dXJlbHVzdHJlLmNzaS5henVyZS5jb20K",
              "persistentVolume": "Ci0tLQphcGlWZXJzaW9uOiB2MQpraW5kOiBQZXJzaXN0ZW50Vm9sdW1lCm1ldGFkYXRhOgogICMgVGhlIG5hbWUgb2YgdGhlIFBWCiAgbmFtZTogcHYtbHVzdHJlCnNwZWM6CiAgYWNjZXNzTW9kZXM6CiAgICAtIFJlYWRXcml0ZU1hbnkKICBjYXBhY2l0eToKICAgICMgVGhpcyBmaWVsZCBzaG91bGQgYmUgdGhlIHRydWUgc2l6ZSBvZiB0aGUgQXp1cmUgTHVzdHJlIHlvdSB3YW50CiAgICAjIHRvIHVzZWQuIFNvIHRoYXQsIGs4cyBjYW4gYWxsb2NhdGUgcmVzb3VyY2VzIGJldHRlci4KICAgIHN0b3JhZ2U6IDQuMFRpCiAgY3NpOgogICAgZHJpdmVyOiBhenVyZWx1c3RyZS5jc2kuYXp1cmUuY29tCiAgICB2b2x1bWVBdHRyaWJ1dGVzOgogICAgICAjIFRoZSBmaWxlIHN5c3RlbSBuYW1lIG9mIHRoZSBleGlzdGluZyBMdXN0cmUKICAgICAgZnMtbmFtZTogbHVzdHJlZnMKICAgICAgIyBUaGUgSVAgYWRkcmVzcyBvZiB0aGUgZXhpc3RpbmcgTHVzdHJlCiAgICAgIG1ncy1pcC1hZGRyZXNzOiAxMC4yMC4xLjQKICAgICMgTWFrZSBzdXJlIHRoaXMgVm9sdW1lSUQgaXMgdW5pcXVlIGluIHRoZSBjbHVzdGVyCiAgICB2b2x1bWVIYW5kbGU6IDg3ZWYzYzlkLTgzZmItNDdhNi05YzFkLWMyYTU2NjcyYjUyZgogICMgIkRlbGV0ZSIgaXMgbm90IHN1cHBvcnRlZCBpbiBzdGF0aWMgcHJvdmlzaW9uaW5nIFBWCiAgbW91bnRPcHRpb25zOgogICAgLSBub2F0aW1lCiAgICAtIGZsb2NrCiAgcGVyc2lzdGVudFZvbHVtZVJlY2xhaW1Qb2xpY3k6IFJldGFpbgogIHN0b3JhZ2VDbGFzc05hbWU6IHNjLmF6dXJlbHVzdHJlLmNzaS5henVyZS5jb20K",
              "storageClass": "Ci0tLQphcGlWZXJzaW9uOiBzdG9yYWdlLms4cy5pby92MQpraW5kOiBTdG9yYWdlQ2xhc3MKbWV0YWRhdGE6CiAgIyBUaGUgbmFtZSBvZiB0aGUgU3RvcmFnZUNsYXNzLgogIG5hbWU6IHNjLmF6dXJlbHVzdHJlLmNzaS5henVyZS5jb20KcGFyYW1ldGVyczoKICAjIFRoZSBmaWxlIHN5c3RlbSBuYW1lIG9mIHRoZSBleGlzdGluZyBMdXN0cmUsICJsdXN0cmVmcyIgaW4gY29tbW9uIGNhc2UKICBmcy1uYW1lOiBsdXN0cmVmcwogICMgVGhlIElQIGFkZHJlc3Mgb2YgdGhlIGV4aXN0aW5nIEx1c3RyZQogIG1ncy1pcC1hZGRyZXNzOiAxMC4yMC4xLjQKcHJvdmlzaW9uZXI6IGF6dXJlbHVzdHJlLmNzaS5henVyZS5jb20KIyBBenVyZSBMdXN0cmUgQ2x1c3RlciBpcyByZW1vdmVkIGFmdGVyIFBWQyBkZWxldGlvbiBpZiByZWNsYWltUG9saWN5IGlzIHRoZSBkZWZhdWx0IHZhbHVlICJEZWxldGUiLgpyZWNsYWltUG9saWN5OiBSZXRhaW4Kdm9sdW1lQmluZGluZ01vZGU6IEltbWVkaWF0ZQptb3VudE9wdGlvbnM6CiAgLSBub2F0aW1lCiAgLSBmbG9jawo="
            }
          },
          "throughputProvisionedMBps": 2000,
          "encryptionSettings": {
            "keyEncryptionKey": {
              "keyUrl": "https://sanitized.vault.azure.net/keys/encryption-key/6255716e761b49a5a3a61e040c24798f",
              "sourceVault": {
                "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-Sanitized/providers/Microsoft.KeyVault/vaults/Sanitized-kv"
              }
            }
          },
          "maintenanceWindow": {
            "dayOfWeek": "Monday",
         [...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.StorageCache/amlFilesystems?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "58579f17-b9ff-4a6f-a6e8-7aeef75b28d9",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Sanitized",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_RG-ALZIMMERLUSTRETHR/providers/Microsoft.StorageCache/amlFilesystems/Sanitized",
            "type": "Microsoft.StorageCache/amlFilesystem[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-Sanitized/providers/Microsoft.StorageCache/amlFilesystems/amlfs-6d971608/autoImportJobs/autoimport-amlfs-6d971608?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
       [...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-Sanitized/providers/Microsoft.StorageCache/amlFilesystems/amlfs-6d971608/autoImportJobs/autoimport-amlfs-6d971608?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "name": "Sanitized",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-Sanitized/providers/Microsoft.StorageCache/amlFilesystems/amlfs-6d971608/autoImportJobs/autoimport-amlfs-6d971608",
        "type": "Microsoft.StorageCache/amlFilesystems/autoImportJobs",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded",
          "autoImportPrefixes": [
            "/"
          ],
          "conflictResolutionMode": "Fail",
          "enableDeletions": false,
          "maximumErrors": 0,
          "adminStatus": "Enable",
          "status": {
            "state": "InProgress",
            "totalBlobsWalked": 0,
            "rateOfBlobWalk": 0,
            "totalBlobsImported": 0,
            "rateOfBlobImport": 0,
            "importedFiles": 0,
            "importedDirectories": 0,
            "importedSymlinks": 0,
            "preexistingFiles": 0,
            "preexistingDirectories": 0,
            "preexistingSymlinks": 0,
            "totalErrors": 0,
            "totalConflicts": 0,
            "blobSyncEvents": {
              "importedFiles": 0,
              "importedDirectories": 0,
              "importedSymlinks": 0,
              "preexistingFiles": 0,
              "preexistingDirectories": 0,
              "preexistingSymlinks": 0,
              "totalBlobsImported": 0,
              "rateOfBlobImport": 0,
              "totalErrors": 0,
              "totalConflicts": 0,
              "deletions": 0
            },
            "lastStartedTimeUTC": "2026-04-09T17:46:42.1568008+00:00"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-Sanitized/providers/Microsoft.StorageCache/amlFilesystems/amlfs-6d971608/autoImportJobs?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ra[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-Sanitized/providers/Microsoft.StorageCache/amlFilesystems/amlfs-6d971608/autoImportJobs/autoimport-amlfs-6d971608?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "name": "Sanitized",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-Sanitized/providers/Microsoft.StorageCache/amlFilesystems/amlfs-6d971608/autoImportJobs/autoimport-amlfs-6d971608",
        "type": "Microsoft.StorageCache/amlFilesystems/autoImportJobs",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded",
          "autoImportPrefixes": [
            "/"
          ],
          "conflictResolutionMode": "Fail",
          "enableDeletions": false,
          "maximumErrors": 0,
          "adminStatus": "Disable",
          "status": {
            "state": "Disabled",
            "statusMessage": "Disabled",
            "scanStartTime": "2026-04-09T17:46:44.966156+00:00",
            "scanEndTime": "2026-04-09T17:46:47.064025+00:00",
            "totalBlobsWalked": 0,
            "rateOfBlobWalk": 0,
            "totalBlobsImported": 0,
            "rateOfBlobImport": 0,
            "importedFiles": 0,
            "importedDirectories": 0,
            "importedSymlinks": 0,
            "preexistingFiles": 0,
            "preexistingDirectories": 0,
            "preexistingSymlinks": 0,
            "totalErrors": 0,
            "totalConflicts": 0,
            "blobSyncEvents": {
              "importedFiles": 0,
              "importedDirectories": 0,
              "importedSymlinks": 0,
              "preexistingFiles": 0,
              "preexistingDirectories": 0,
              "preexistingSymlinks": 0,
              "totalBlobsImported": 0,
              "rateOfBlobImport": 0,
              "totalErrors": 0,
              "totalConflicts": 0,
              "deletions": 0,
              "lastTimeFullySynchronized": "2026-04-09T17:46:47.073906+00:00"
            },
            "lastStartedTimeUTC": "2026-04-09T17:46:42.1568008+00:00",
            "lastCompletionTimeUTC": "2026-04-09T17:47:17.1678534+00:00"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-Sanitized/providers/Microsoft.StorageCache/amlFilesystems/amlfs-6d971608/autoExportJobs/autoexport-amlfs-6d971608?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
       [...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-Sanitized/providers/Microsoft.StorageCache/amlFilesystems/amlfs-6d971608/autoExportJobs/autoexport-amlfs-6d971608?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "name": "Sanitized",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-Sanitized/providers/Microsoft.StorageCache/amlFilesystems/amlfs-6d971608/autoExportJobs/autoexport-amlfs-6d971608",
        "type": "Microsoft.StorageCache/amlFilesystems/autoExportJobs",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded",
          "autoExportPrefixes": [
            "/"
          ],
          "adminStatus": "Enable",
          "status": {
            "state": "InProgress",
            "totalFilesExported": 0,
            "totalMiBExported": 0,
            "totalFilesFailed": 0,
            "exportIterationCount": 0,
            "currentIterationFilesDiscovered": 0,
            "currentIterationMiBDiscovered": 0,
            "currentIterationFilesExported": 0,
            "currentIterationMiBExported": 0,
            "currentIterationFilesFailed": 0,
            "lastStartedTime": "2026-04-09T17:47:41.2384798+00:00"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-Sanitized/providers/Microsoft.StorageCache/amlFilesystems/amlfs-6d971608/autoExportJobs?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ra[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-Sanitized/providers/Microsoft.StorageCache/amlFilesystems/amlfs-6d971608/importJobs/import-amlfs-6d971608?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "conf[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-Sanitized/providers/Microsoft.StorageCache/amlFilesystems/amlfs-6d971608/importJobs/import-amlfs-6d971608?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "name": "Sanitized",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-Sanitized/providers/Microsoft.StorageCache/amlFilesystems/amlfs-6d971608/importJobs/import-amlfs-6d971608",
        "type": "Microsoft.StorageCache/amlFilesystems/importJobs",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded",
          "importPrefixes": [
            "/"
          ],
          "conflictResolutionMode": "OverwriteIfDirty",
          "maximumErrors": 0,
          "adminStatus": "Active",
          "status": {
            "state": "InProgress",
            "totalBlobsWalked": 0,
            "totalBlobsImported": 0,
            "totalErrors": 0,
            "totalConflicts": 0,
            "lastStartedTime": "2026-04-09T17:48:49.9019057Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-Sanitized/providers/Microsoft.StorageCache/amlFilesystems/amlfs-6d971608/importJobs/import-amlfs-6d971608?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3748",
        "x-ms-ratelimit-remaining-subscription-reads": "248"
      },
      "ResponseBody": {
        "name": "Sanitized",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-Sanitized/providers/Microsoft.StorageCache/amlFilesystems/amlfs-6d971608/importJobs/import-amlfs-6d971608",
        "type": "Microsoft.StorageCache/amlFilesystems/importJobs",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded",
          "importPrefixes": [
            "/"
          ],
          "conflictResolutionMode": "OverwriteIfDirty",
          "maximumErrors": 0,
          "adminStatus": "Active",
          "status": {
            "state": "Completed",
            "totalBlobsWalked": 2,
            "blobsWalkedPerSecond": 0,
            "totalBlobsImported": 1,
            "blobsImportedPerSecond": 2,
            "totalErrors": 0,
            "totalConflicts": 0,
            "lastStartedTime": "2026-04-09T17:48:49.9019057Z",
            "lastCompletionTime": "2026-04-09T17:48:53.1989415Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-Sanitized/providers/Microsoft.StorageCache/amlFilesystems/amlfs-6d971608/importJobs/import-amlfs-6d971608?api-version=2025-07-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "adminStatus": "Cancel"
        }
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
      "ResponseBody": {
        "error": {
          "code": "OperationNotAllowed",
          "message": "The import job import-amlfs-6d971608 is not InProgress, no new operations are allowed."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-Sanitized/providers/Microsoft.StorageCache/amlFilesystems/amlfs-6d971608/importJobs?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-rateli[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.StorageCache/locations/westus/ascOperations/sanitized-operation-id?api-version=2025-07-01&t=sanitized&c=sanitized&s=sanitized&h=sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperationStatus1Min;224",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "startTime": "2026-04-09T17:49:04.8888072+00:00",
        "endTime": "2026-04-09T17:49:09.03822+00:00",
        "status": "Succeeded",
        "name": "Sanitized"
      }
    }
  ],
  "Variables": {
    "amlfsHsmName": "amlfs-6d971608",
    "amlfsSubnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-alzimmerlustrethr/providers/Microsoft.Network/virtualNetworks/Sanitized-vnet/subnets/amlfs",
    "hsmContainerId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-alzimmerlustrethr/providers/Microsoft.Storage/storageAccounts/Sanitized/blobServices/default/containers/data",
[...]
