{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "owners": "bebroder,wesh",
          "DoNotDelete": ""
        },
        "subscriptionId": "00000000-0000-0000-0000-000000000000",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure SDK Test Resources - TME",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.StorageCache/skus?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "resourceType": "amlFilesystems",
            "name": "Sanitized",
            "locations": [
              "australiaeast"
            ],
            "locationInfo": [
              {
                "location": "australiaeast",
                "zones": [
                  "2",
                  "1",
                  "3"
                ],
                "zoneDetails": []
              }
            ],
            "capabilities": [
              {
                "name": "Sanitized",
                "value": "16"
              },
              {
                "name": "Sanitized",
                "value": "125"
              },
              {
                "name": "Sanitized",
                "value": "True"
              },
              {
                "name": "Sanitized",
                "value": "1024"
              },
              {
                "name": "Sanitized",
                "value": "512"
              },
              {
                "name": "Sanitized",
                "value": "1024"
              },
              {
                "name": "Sanitized",
                "value": "4096"
              }
            ],
            "restrictions": []
          },
          {
            "resourceType": "amlFilesystems",
            "name": "Sanitized",
            "locations": [
              "australiaeast"
            ],
            "locationInfo": [
              {
                "location": "australiaeast",
                "zones": [
                  "2",
                  "1",
                  "3"
                ],
                "zoneDetails": []
              }
            ],
            "capabilities": [
              {
    [...]
