{
  "Entries": [
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/jobschedules?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "jobSchedule2",
        "schedule": {},
        "jobSpecification": {
          "jobManagerTask": {
            "id": "task1",
            "commandLine": "cmd / c timeout 60"
          },
          "poolInfo": {
            "autoPoolSpecification": {
              "poolLifetimeOption": "job",
              "keepAlive": false,
              "pool": {
                "vmSize": "STANDARD_D1_v2",
                "virtualMachineConfiguration": {
                  "imageReference": {
                    "publisher": "MicrosoftWindowsServer",
                    "offer": "WindowsServer",
                    "sku": "2019-datacenter-smalldisk",
                    "version": "latest"
                  },
                  "nodeAgentSKUId": "batch.node.windows amd64"
                },
                "targetDedicatedNodes": 1
              }
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/jobschedules/jobSchedule2",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDEB427401A1D8",
        "Last-Modified": "Wed, 03 Sep 2025 23:34:40 GMT",
        "Location": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/jobschedules/jobSchedule2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/jobschedules/jobSchedule2/terminate?api-version=2025-06-01&force=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/jobschedules/jobSchedule2/terminate",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDEB42741725A9",
        "Last-Modified": "Wed, 03 Sep 2025 23:34:40 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/jobschedules/jobSchedule2?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDEB42741725A9",
        "Last-Modified": "Wed, 03 Sep 2025 23:34:40 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/$metadata#jobschedules/@Element",
        "id": "jobSchedule2",
        "url": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/jobschedules/jobSchedule2",
        "eTag": "0x8DDEB42741725A9",
        "lastModified": "2025-09-03T23:34:40.4521385Z",
        "creationTime": "2025-09-03T23:34:40.3111384Z",
        "state": "terminating",
        "stateTransitionTime": "2025-09-03T23:34:40.4521385Z",
        "previousState": "active",
        "previousStateTransitionTime": "2025-09-03T23:34:40.3111384Z",
        "jobSpecification": {
          "priority": 0,
          "maxParallelTasks": -1,
          "allowTaskPreemption": false,
          "usesTaskDependencies": false,
          "onAllTasksComplete": "noaction",
          "onTaskFailure": "noaction",
          "constraints": {
            "maxWallClockTime": "P10675199DT2H48M5.4775807S",
            "maxTaskRetryCount": 0
          },
          "jobManagerTask": {
            "id": "task1",
            "commandLine": "cmd / c timeout 60",
            "constraints": {
              "maxWallClockTime": "P10675199DT2H48M5.4775807S",
              "retentionTime": "P7D",
              "maxTaskRetryCount": 0
            },
            "requiredSlots": 1,
            "userIdentity": {
              "autoUser": {
                "scope": "pool",
                "elevationLevel": "nonadmin"
              }
            },
            "runExclusive": true,
            "allowLowPriorityNode": true,
            "killJobOnCompletion": true
          },
          "poolInfo": {
            "autoPoolSpecification": {
              "poolLifetimeOption": "job",
              "keepAlive": false,
              "pool": {
                "vmSize": "standard_d1_v2",
                "taskSlotsPerNode": 1,
                "taskSchedulingPolicy": {
                  "nodeFillType": "Spread",
                  "jobDefaultOrder": "none"
                },
                "resizeTimeout": "PT15M",
                "targetDedicatedNodes": 1,
                "targetLowPriorityNodes": 0,
                "enableAutoScale": false,
                "enableInterNodeCommunication": false,
                "virtualMachineConfiguration": {
                  "imageReference": {
                    "publisher": "MicrosoftWindowsServer",
                    "offer": "WindowsServer",
                    "sku": "2019-datacenter-smalldisk",
                    "version": "latest"
                  },
                  "nodeAgentSKUId": "batch.node.windows amd64"
                }
              }
            }
          }
        },
        "executionInfo": {
          "recentJob": {
            "url": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/jobs/jobSchedule2:job-1",
            "id": "jobSchedule2:job-1"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/jobschedules/jobSchedule2?api-version=2025-06-01&force=false",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "batch_account_uri": "dotnotsdkbatchaccount1.eastus.batch.azure.com",
    "RandomSeed": "503031060"
  }
}
