{
  "Entries": [
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobschedules?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "jobSchedule1",
        "schedule": {
          "doNotRunUntil": "2026-08-18T00:00:00.0000000Z"
        },
        "jobSpecification": {
          "poolInfo": {
            "autoPoolSpecification": {
              "poolLifetimeOption": "job",
              "keepAlive": false,
              "pool": {
                "vmSize": "STANDARD_D1_v2",
                "virtualMachineConfiguration": {
                  "imageReference": {
                    "publisher": "MicrosoftWindowsServer",
                    "offer": "WindowsServer",
                    "sku": "2019-datacenter-smalldisk",
                    "version": "latest"
                  },
                  "nodeAgentSKUId": "batch.node.windows amd64"
                },
                "targetDedicatedNodes": 1
              }
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobschedules/jobSchedule1",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD883E91AAF398",
        "Last-Modified": "Wed, 30 Apr 2025 23:27:26 GMT",
        "Location": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobschedules/jobSchedule1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobschedules/jobSchedule1?api-version=2024-07-01.20.0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD883E91AAF398",
        "Last-Modified": "Wed, 30 Apr 2025 23:27:26 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobschedules/jobSchedule1?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD883E91AAF398",
        "Last-Modified": "Wed, 30 Apr 2025 23:27:26 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#jobschedules/@Element",
        "id": "jobSchedule1",
        "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobschedules/jobSchedule1",
        "eTag": "0x8DD883E91AAF398",
        "lastModified": "2025-04-30T23:27:26.9728152Z",
        "creationTime": "2025-04-30T23:27:26.9728152Z",
        "state": "active",
        "stateTransitionTime": "2025-04-30T23:27:26.9728152Z",
        "schedule": {
          "doNotRunUntil": "2026-08-18T00:00:00Z"
        },
        "jobSpecification": {
          "priority": 0,
          "maxParallelTasks": -1,
          "allowTaskPreemption": false,
          "usesTaskDependencies": false,
          "onAllTasksComplete": "noaction",
          "onTaskFailure": "noaction",
          "constraints": {
            "maxWallClockTime": "P10675199DT2H48M5.4775807S",
            "maxTaskRetryCount": 0
          },
          "poolInfo": {
            "autoPoolSpecification": {
              "poolLifetimeOption": "job",
              "keepAlive": false,
              "pool": {
                "vmSize": "standard_d1_v2",
                "taskSlotsPerNode": 1,
                "taskSchedulingPolicy": {
                  "nodeFillType": "Spread"
                },
                "resizeTimeout": "PT15M",
                "targetDedicatedNodes": 1,
                "targetLowPriorityNodes": 0,
                "enableAutoScale": false,
                "enableInterNodeCommunication": false,
                "virtualMachineConfiguration": {
                  "imageReference": {
                    "publisher": "MicrosoftWindowsServer",
                    "offer": "WindowsServer",
                    "sku": "2019-datacenter-smalldisk",
                    "version": "latest"
                  },
                  "nodeAgentSKUId": "batch.node.windows amd64"
                }
              }
            }
          }
        },
        "executionInfo": {
          "nextRunTime": "2026-08-18T00:00:00Z"
        }
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobschedules/jobSchedule1/disable?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobschedules/jobSchedule1/disable",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD883E91E8332D",
        "Last-Modified": "Wed, 30 Apr 2025 23:27:27 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobschedules/jobSchedule1/enable?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobschedules/jobSchedule1/enable",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD883E91FA8411",
        "Last-Modified": "Wed, 30 Apr 2025 23:27:27 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobschedules/jobSchedule1?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD883E91FA8411",
        "Last-Modified": "Wed, 30 Apr 2025 23:27:27 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#jobschedules/@Element",
        "id": "jobSchedule1",
        "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobschedules/jobSchedule1",
        "eTag": "0x8DD883E91FA8411",
        "lastModified": "2025-04-30T23:27:27.4942481Z",
        "creationTime": "2025-04-30T23:27:26.9728152Z",
        "state": "active",
        "stateTransitionTime": "2025-04-30T23:27:27.4942481Z",
        "previousState": "disabled",
        "previousStateTransitionTime": "2025-04-30T23:27:27.3742125Z",
        "schedule": {
          "doNotRunUntil": "2026-08-18T00:00:00Z"
        },
        "jobSpecification": {
          "priority": 0,
          "maxParallelTasks": -1,
          "allowTaskPreemption": false,
          "usesTaskDependencies": false,
          "onAllTasksComplete": "noaction",
          "onTaskFailure": "noaction",
          "constraints": {
            "maxWallClockTime": "P10675199DT2H48M5.4775807S",
            "maxTaskRetryCount": 0
       [...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobschedules/jobSchedule1/terminate?api-version=2024-07-01.20.0&force=true",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobschedules/jobSchedule1/terminate",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD883E921D9284",
        "Last-Modified": "Wed, 30 Apr 2025 23:27:27 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobschedules/jobSchedule1?api-version=2024-07-01.20.0&force=true",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobschedules/jobSchedule1?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element",
        "code": "JobScheduleNotFound",
        "message": {
          "lang": "en-US",
          "value": "The specified job schedule does not exist.\nRequestId:ec11b0cf-03e0-4421-8705-a4914e7e4b85\nTime:2025-04-30T23:27:29.3352221Z"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "batch_account_uri": "dotnotsdkbatchaccount2.eastus2.batch.azure.com",
    "RandomSeed": "698720111"
  }
}