{
  "Entries": [
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobschedules?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "jobSchedulePatch",
        "schedule": {
          "doNotRunUntil": "2026-08-18T00:00:00.0000000Z"
        },
        "jobSpecification": {
          "poolInfo": {
            "autoPoolSpecification": {
              "poolLifetimeOption": "job",
              "keepAlive": false,
              "pool": {
                "vmSize": "STANDARD_D1_v2",
                "virtualMachineConfiguration": {
                  "imageReference": {
                    "publisher": "MicrosoftWindowsServer",
                    "offer": "WindowsServer",
                    "sku": "2019-datacenter-smalldisk",
                    "version": "latest"
                  },
                  "nodeAgentSKUId": "batch.node.windows amd64"
                },
                "targetDedicatedNodes": 0
              }
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobschedules/jobSchedulePatch",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD462FD33E4024",
        "Last-Modified": "Wed, 05 Feb 2025 21:55:37 GMT",
        "Location": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobschedules/jobSchedulePatch"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobschedules/jobSchedulePatch?api-version=2024-07-01.20.0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "metadata": [
          {
            "name": "name",
            "value": "value"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobschedules/jobSchedulePatch",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD462FD35CE357",
        "Last-Modified": "Wed, 05 Feb 2025 21:55:37 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobschedules/jobSchedulePatch?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD462FD35CE357",
        "Last-Modified": "Wed, 05 Feb 2025 21:55:37 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#jobschedules/@Element",
        "id": "jobSchedulePatch",
        "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobschedules/jobSchedulePatch",
        "eTag": "0x8DD462FD35CE357",
        "lastModified": "2025-02-05T21:55:37.9965783Z",
        "creationTime": "2025-02-05T21:55:37.7957924Z",
        "state": "active",
        "stateTransitionTime": "2025-02-05T21:55:37.7957924Z",
        "schedule": {
          "doNotRunUntil": "2026-08-18T00:00:00Z"
        },
        "jobSpecification": {
          "priority": 0,
          "maxParallelTasks": -1,
          "allowTaskPreemption": false,
          "usesTaskDependencies": false,
          "onAllTasksComplete": "noaction",
          "onTaskFailure": "noaction",
          "constraints": {
            "maxWallClockTime": "P10675199DT2H48M5.4775807S",
            "maxTaskRetryCount": 0
          },
          "poolInfo": {
            "autoPoolSpecification": {
              "poolLifetimeOption": "job",
              "keepAlive": false,
              "pool": {
                "vmSize": "standard_d1_v2",
                "taskSlotsPerNode": 1,
                "taskSchedulingPolicy": {
                  "nodeFillType": "Spread"
                },
                "resizeTimeout": "PT15M",
                "targetDedicatedNodes": 0,
                "targetLowPriorityNodes": 0,
                "enableAutoScale": false,
                "enableInterNodeCommunication": false,
                "virtualMachineConfiguration": {
                  "imageReference": {
                    "publisher": "MicrosoftWindowsServer",
                    "offer": "WindowsServer",
                    "sku": "2019-datacenter-smalldisk",
                    "version": "latest"
                  },
                  "nodeAgentSKUId": "batch.node.windows amd64"
                }
              }
            }
          }
        },
        "executionInfo": {
          "nextRunTime": "2026-08-18T00:00:00Z"
        },
        "metadata": [
          {
            "name": "name",
            "value": "value"
          }
        ]
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobschedules/jobSchedulePatch?api-version=2024-07-01.20.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "batch_account_uri": "dotnotsdkbatchaccount2.eastus2.batch.azure.com",
    "RandomSeed": "73115649"
  }
}
