{
  "Entries": [
    {
      "RequestUri": "https://fakeEndpoint.cognitive.microsofttranslator.com/translate?to=zh-cn&profanityAction=Marked&profanityMarker=Asterisk&api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8",
        "ocp-apim-subscription-region": "fakeregion"
      },
      "RequestBody": "[{\"text\":\"shit this is fucking crazy\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Metered-Usage": "26",
        "X-MT-System": "Microsoft",
        "X-RequestId": "dd3eea3c-c932-4ad9-8aeb-b82feff345df.USW2.0502T1950"
      },
      "ResponseBody": "[{\"detectedLanguage\":{\"language\":\"en\",\"score\":1.0},\"translations\":[{\"text\":\"妈的，这***疯了\",\"to\":\"zh-Hans\"}]}]"
    }
  ],
  "Variables": {}
}
