{
  "Entries": [
    {
      "RequestUri": "https://fakeEndpoint.cognitive.microsofttranslator.com/translate?to=cs&includeAlignment=true&api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8",
        "ocp-apim-subscription-region": "fakeregion"
      },
      "RequestBody": "[{\"text\":\"It is a beautiful morning\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Metered-Usage": "25",
        "X-MT-System": "Microsoft",
        "X-RequestId": "543d970b-66d0-4c08-9519-2062ee191fff.USW2.0502T1950"
      },
      "ResponseBody": "[{\"detectedLanguage\":{\"language\":\"en\",\"score\":1.0},\"translations\":[{\"text\":\"Je krásné ráno\",\"to\":\"cs\",\"alignment\":{\"proj\":\"0:1-0:1 8:16-3:8 18:24-10:13\"}}]}]"
    }
  ],
  "Variables": {}
}
