{
  "Entries": [
    {
      "RequestUri": "https://fakeEndpoint.cognitive.microsofttranslator.com/translate?to=es&from=en&api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8",
        "ocp-apim-subscription-region": "fakeregion"
      },
      "RequestBody": "[{\"text\":\"The word < mstrans:dictionary translation =\\\"wordomatic\\\">wordomatic</mstrans:dictionary> is a dictionary entry.\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Metered-Usage": "110",
        "X-MT-System": "Microsoft",
        "X-RequestId": "145c6c74-dbfb-44ad-b4a6-b041b73059e2.USW2.0502T1950"
      },
      "ResponseBody": "[{\"translations\":[{\"text\":\"La palabra < mstrans:dictionary translation =\\\"wordomatic\\\">wordomatic</mstrans:dictionary> es una entrada de diccionario.\",\"to\":\"es\"}]}]"
    }
  ],
  "Variables": {}
}
