{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/text/v3.0/translate?to=cs&includeSentenceLength=true&api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8",
        "ocp-apim-subscription-key": "Sanitized",
        "ocp-apim-subscription-region": "fakeregion"
      },
      "RequestBody": "[{\"text\":\"This is a test.\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Metered-Usage": "15",
        "x-ms-region": "Central US",
        "X-MT-System": "Microsoft",
        "X-RequestId": "d5f140de-0876-4995-9b0e-c481ae7e362f.USE2.0516T2029"
      },
      "ResponseBody": "[{\"detectedLanguage\":{\"language\":\"en\",\"score\":1.0},\"translations\":[{\"text\":\"Tohle je test.\",\"to\":\"cs\",\"sentLen\":{\"srcSentLen\":[15],\"transSentLen\":[14]}}]}]"
    }
  ],
  "Variables": {}
}
