{
  "Entries": [
    {
      "RequestUri": "https://fakeEndpoint.cognitive.microsofttranslator.com/translate?to=fr&includeSentenceLength=true&api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8",
        "ocp-apim-subscription-region": "fakeregion"
      },
      "RequestBody": "[{\"text\":\"La réponse se trouve dans la traduction automatique. La meilleure technologie de traduction automatique ne peut pas toujours fournir des traductions adaptées à un site ou des utilisateurs comme un être humain. Il suffit de copier et coller un extrait de code n'importe où.\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Metered-Usage": "272",
        "X-MT-System": "Microsoft",
        "X-RequestId": "44bd6f7e-ecbe-4e61-911d-58a4603aa74f.USW2.0502T1950"
      },
      "ResponseBody": "[{\"detectedLanguage\":{\"language\":\"fr\",\"score\":1.0},\"translations\":[{\"text\":\"La réponse se trouve dans la traduction automatique. La meilleure technologie de traduction automatique ne peut pas toujours fournir des traductions adaptées à un site ou des utilisateurs comme un être humain. Il suffit de copier et coller un extrait de code n'importe où.\",\"to\":\"fr\",\"sentLen\":{\"srcSentLen\":[53,157,62],\"transSentLen\":[53,157,62]}}]}]"
    }
  ],
  "Variables": {}
}
