{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitive.microsofttranslator.com/translate?to=zh-Hans&from=ar&fromScript=Latn&toScript=Latn&api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8",
        "ocp-apim-subscription-key": "Sanitized",
        "ocp-apim-subscription-region": "fakeregion"
      },
      "RequestBody": "[{\"text\":\"hudha akhtabar.\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Metered-Usage": "15",
        "X-MT-System": "Microsoft",
        "X-RequestId": "d6cef158-b2f9-47b3-99aa-01b3626f70b4.USW2.0516T2029"
      },
      "ResponseBody": "[{\"sourceText\":{\"text\":\"هذا اختبار.\"},\"translations\":[{\"text\":\"这是个测试。\",\"transliteration\":{\"text\":\"zhè shìgè cèshì。\",\"script\":\"Latn\"},\"to\":\"zh-Hans\"}]}]"
    }
  ],
  "Variables": {}
}
