{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-centralus-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11999",
        "x-ms-response-type": "standard",
        "x-request-time": "0.095"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore",
        "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {
          "description": null,
          "tags": null,
          "properties": null,
          "isDefault": true,
          "credentials": {
            "credentialsType": "None"
          },
          "subscriptionId": "00000000-0000-0000-0000-000000000000",
          "resourceGroup": "00000",
          "datastoreType": "AzureBlob",
          "accountName": "Sanitized",
          "containerName": "azureml-blobstore-bd2e9737-e2fa-44e0-b777-82bc26cd7c41",
          "endpoint": "core.windows.net",
          "protocol": "https",
          "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"
        },
        "systemData": {
          "createdAt": "2024-07-09T05:28:34.8326653+00:00",
          "createdBy": "Sanitized",
          "createdByType": "Application",
          "lastModifiedAt": "2024-07-09T05:28:35.8851858+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "expirableSecret": true,
        "expireAfterHours": 1
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-centralus-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-response-type": "error",
        "x-request-time": "0.179"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "message": "No secrets for credentials of type None.",
          "details": [],
          "additionalInfo": [
            {
              "type": "ComponentName",
              "info": {
                "value": "managementfrontend"
              }
            },
            {
              "type": "Correlation",
              "info": {
                "value": {
                  "operation": "2133bf61a9f8f5477cd34fd939e8ee74",
                  "request": "97cd2e75a4da2942"
                }
              }
            },
            {
              "type": "Environment",
              "info": {
                "value": "centralus"
              }
            },
            {
              "type": "Location",
              "info": {
                "value": "centralus"
              }
            },
            {
              "type": "Time",
              "info": {
                "value": "2024-07-23T21:49:00.9272429+00:00"
              }
            },
            {
              "type": "DebugInfo",
              "info": {
                "value": {
                  "type": "Microsoft.MachineLearning.Common.WebApi.Exceptions.BadRequestException",
                  "message": "No secrets for credentials of type None.",
                  "stackTrace": "   at Microsoft.MachineLearning.ManagementFrontEnd.EntryPoints.Api.V20240701Preview.MapperProfile.ConstructDatastoreSecrets(DatastoreCredentials credentials) in /mnt/vss/_work/1/s/src/azureml-api/src/ManagementFrontEnd/EntryPoints/Api/V20240701Preview/MapperProfile/MapperProfile.cs:line 634\n   at lambda_method37406(Closure , Object , Object , ResolutionContext )\n   at AutoMapper.Mapper.AutoMapper.IMapper.Map[TDestination](Object source)\n   at Microsoft.MachineLearning.ManagementFrontEnd.EntryPoints.Api.V20240701Preview.Controllers.Workspaces.DatastoreController.GetSecrets(WorkspaceContext2 workspace, String name, String apiVersion, SecretExpiry secretExpiryInfo) in /mnt/vss/_work/1/s/src/azureml-api/src/ManagementFrontEnd/EntryPoints/Api/V20240701Preview/Controllers/Workspaces/DatastoreController.cs:line 200\n   at Microsoft.AspNetCore.Mvc.Infrastructure.ActionMethodExecutor.TaskOfIActionResultExecutor.Execute(IActionResultTypeMapper mapper, ObjectMethodExecutor executor, Object controller, Object[] arguments)\n   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeActionMethodAsync>g__Logged|12_1(ControllerActionInvoker invoker)\n   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeNextActionFilterAsync>g__Awaited|10_0(ControllerActionInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)\n   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.Rethrow(ActionExecutedContextSealed context)\n   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.Next(State& next, Scope& scope, Object& state, Boolean& isCompleted)\n   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeInnerFilterAsync>g__Awaited|13_0(ControllerActionInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)\n   at Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.<InvokeNextExceptionFilterAsync>g__Awaited|26_0(ResourceInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)",
                  "innerException": null,
                  "data": {},
                  "errorResponse": null
                }
              }
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/azureml-blobstore-bd2e9737-e2fa-44e0-b777-82bc26cd7c41/LocalUpload/00000000000000000000000000000000/README.md",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 23 Jul 2024 21:49:01 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "AMEbHhzi7D8kI35B8YvDmw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9FD8D7A27F32\"",
        "Last-Modified": "Tue, 09 Jul 2024 05:34:45 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Jul 2024 05:34:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-name": "test_777178912146",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/azureml-blobstore-bd2e9737-e2fa-44e0-b777-82bc26cd7c41/az-ml-artifacts/00000000000000000000000000000000/README.md",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 23 Jul 2024 21:49:04 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2023-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-centralus-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11999",
        "x-ms-response-type": "standard",
        "x-request-time": "0.034"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "centralus",
        "tags": {
          "createdByToolkit": "sdk-v2-1.19.0"
        },
        "etag": null,
        "properties": {
          "friendlyName": "Sanitized",
          "description": "00000",
          "storageAccount": "Sanitized",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.Keyvault/vaults/identitykeyvaulta76482e7",
          "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.insights/components/identityinsightsf65ebb73",
          "hbiWorkspace": false,
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "managedNetwork": {
            "changeableIsolationModes": [
              "AllowInternetOutbound",
              "AllowOnlyApprovedOutbound"
            ],
            "isolationMode": "Disabled"
          },
          "allowRoleAssignmentOnRG": true,
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "creationTime": "2024-07-09T05:28:13.3542555Z",
          "notebookInfo": {
            "resourceId": "a62ee9fae8bc42bca305c0a7933aad4f",
            "fqdn": "ml-00000-centralus-bd2e9737-e2fa-44e0-b777-82bc26cd7c41.centralus.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "bd2e9737-e2fa-44e0-b777-82bc26cd7c41",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "ipAllowlist": [],
          "discoveryUrl": "https://centralus.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://centralus.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "serverlessComputeSettings": {
            "serverlessComputeCustomSubnet": null,
            "serverlessComputeNoPublicIP": false
          },
          "EnableSoftwareBillOfMaterials": false,
          "sdkTelemetryAppInsightsKey": "8e30de65-9fdd-423f-86b2-93e5277cf4c0",
          "sasGetterUri": "",
          "enableDataIsolation": false,
          "systemDatastoresAuthMode": "identity",
          "enableServiceSideCMKEncryption": false
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "kind": "Default",
        "sku": {
          "name": "Basic",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2024-07-09T05:28:13.3542555Z",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2024-07-09T05:33:27.8307706Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/discovery",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-centralus-02",
        "x-ms-response-type": "standard",
        "x-request-time": "0.013"
      },
      "ResponseBody": {
        "api": "https://centralus.api.azureml.ms",
        "catalog": "Sanitized",
        "experimentation": "https://centralus.experiments.azureml.net",
        "gallery": "https://gallery.cortanaintelligence.com/project",
        "history": "https://centralus.experiments.azureml.net",
        "hyperdrive": "https://centralus.experiments.azureml.net",
        "labeling": "https://centralus.experiments.azureml.net",
        "modelmanagement": "https://centralus.modelmanagement.azureml.net",
        "pipelines": "https://centralus.aether.ms",
        "studio": "https://ml.azure.com"
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/genericasset/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/indexes/test_fixture_index_with_multiple_versions/versions/1?api-version=2024-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "stage": "Development",
        "storageUri": "azureml://subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/workspaces/00000/datastores/workspaceblobstore/paths/LocalUpload/00000000000000000000000000000000/README.md",
        "tags": {
          "tag1": "foo",
          "tag2": "bar"
        },
        "properties": {
          "prop1": "foo",
          "prop2": "bar"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-centralus-02",
        "x-ms-response-type": "standard",
        "x-request-time": "0.568"
      },
      "ResponseBody": {
        "storageUri": "azureml://subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/workspaces/00000/datastores/workspaceblobstore/paths/LocalUpload/00000000000000000000000000000000/README.md",
        "stage": "Development",
        "id": "azureml://locations/centralus/workspaces/bd2e9737-e2fa-44e0-b777-82bc26cd7c41/indexes/test_fixture_index_with_multiple_versions/versions/1",
        "tags": {
          "tag1": "foo",
          "tag2": "bar"
        },
        "properties": {
          "prop1": "foo",
          "prop2": "bar"
        },
        "systemData": {
          "createdAt": "2024-07-09T05:38:28.7098001+00:00",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2024-07-23T21:49:13.2611111+00:00"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/genericasset/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/indexes/test_fixture_index_with_multiple_versions/versions/1?api-version=2024-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-centralus-02",
        "x-ms-response-type": "standard",
        "x-request-time": "0.119"
      },
      "ResponseBody": {
        "storageUri": "azureml://subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/workspaces/00000/datastores/workspaceblobstore/paths/LocalUpload/00000000000000000000000000000000/README.md",
        "stage": "Development",
        "id": "azureml://locations/centralus/workspaces/bd2e9737-e2fa-44e0-b777-82bc26cd7c41/indexes/test_fixture_index_with_multiple_versions/versions/1",
        "tags": {
          "tag1": "foo",
          "tag2": "bar"
        },
        "properties": {
          "prop1": "foo",
          "prop2": "bar"
        },
        "systemData": {
          "createdAt": "2024-07-09T05:38:28.7098001+00:00",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2024-07-23T21:49:13.2611111+00:00"
        }
      }
    }
  ],
  "Variables": {}
}
