{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2024-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.024"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "westus",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "Sanitized",
          "description": "",
          "storageAccount": "Sanitized",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Keyvault/vaults/kvtestz3eugi5oi6sa2",
          "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.insights/components/aiw5gakqr75l2j2",
          "hbiWorkspace": false,
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "managedNetwork": {
            "changeableIsolationModes": [
              "AllowInternetOutbound",
              "AllowOnlyApprovedOutbound"
            ],
            "isolationMode": "Disabled",
            "enableNetworkMonitor": false
          },
          "allowRoleAssignmentOnRG": true,
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "containerRegistry": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.ContainerRegistry/registries/crw5gakqr75l2j2",
          "creationTime": "2025-05-18T16:25:34.7892598Z",
          "notebookInfo": {
            "resourceId": "199d8c11329a480293b03b51967a1a86",
            "fqdn": "ml-sdkvnextcli-westus-5d1b7bea-bf23-4d5c-a95e-a68e0c9a03d0.westus.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "5d1b7bea-bf23-4d5c-a95e-a68e0c9a03d0",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "ipAllowlist": [],
          "networkAcls": {
            "defaultAction": "Allow",
            "bypass": "",
            "ipRules": [],
            "resourceAccessRules": []
          },
          "discoveryUrl": "https://westus.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://westus.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "serverlessComputeSettings": null,
          "EnableSoftwareBillOfMaterials": false,
          "sdkTelemetryAppInsightsKey": "ad4db683-227d-4cf9-b788-db8d151f62e0",
          "sasGetterUri": "",
          "enableDataIsolation": false,
          "systemDatastoresAuthMode": "accesskey",
          "enableServiceSideCMKEncryption": false
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "kind": "Default",
        "sku": {
          "name": "Basic",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2025-05-18T16:25:34.7892598Z",
          "lastModifiedAt": "2025-05-18T16:25:26.6402378Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/discovery",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-response-type": "standard",
        "x-request-time": "0.010"
      },
      "ResponseBody": {
        "api": "https://westus.api.azureml.ms",
        "catalog": "Sanitized",
        "experimentation": "https://westus.experiments.azureml.net",
        "gallery": "https://gallery.cortanaintelligence.com/project",
        "history": "https://westus.experiments.azureml.net",
        "hyperdrive": "https://westus.experiments.azureml.net",
        "labeling": "https://westus.experiments.azureml.net",
        "modelmanagement": "https://westus.modelmanagement.azureml.net",
        "pipelines": "https://westus.aether.ms",
        "studio": "https://ml.azure.com"
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/genericasset/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/indexes/test_fixture_index_with_multiple_versions/versions?api-version=2024-04-01-preview&listViewType=ActiveOnly",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "99f6cd60-018f-485b-9346-dda041015592",
        "x-ms-response-type": "standard",
        "x-request-time": "0.197"
      },
      "ResponseBody": {
        "value": [
          {
            "storageUri": "azureml://subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/workspaces/00000/datastores/workspaceblobstore/paths/LocalUpload/000000000000000000000000000000000000b2663e69188ff377991c0513201e/README.md",
            "stage": "Development",
            "id": "azureml://locations/westus/workspaces/5d1b7bea-bf23-4d5c-a95e-a68e0c9a03d0/indexes/test_fixture_index_with_multiple_versions/versions/2",
            "tags": {
              "tag1": "foo",
              "tag2": "bar"
            },
            "properties": {
              "prop1": "foo",
              "prop2": "bar"
            },
            "systemData": {
              "createdAt": "2025-05-19T15:51:13.829612+00:00",
              "createdBy": "Sanitized",
              "createdByType": "User",
              "lastModifiedAt": "2025-05-19T15:51:13.829612+00:00"
            }
          },
          {
            "storageUri": "azureml://subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/workspaces/00000/datastores/workspaceblobstore/paths/LocalUpload/000000000000000000000000000000000000b2663e69188ff377991c0513201e/README.md",
            "stage": "Development",
            "id": "azureml://locations/westus/workspaces/5d1b7bea-bf23-4d5c-a95e-a68e0c9a03d0/indexes/test_fixture_index_with_multiple_versions/versions/1",
            "tags": {
              "tag1": "foo",
              "tag2": "bar"
            },
            "properties": {
              "prop1": "foo",
              "prop2": "bar"
            },
            "systemData": {
              "createdAt": "2025-05-19T15:51:08.916599+00:00",
              "createdBy": "Sanitized",
              "createdByType": "User",
              "lastModifiedAt": "2025-05-19T15:51:08.916599+00:00"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
