{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2023-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-centralus-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11996",
        "x-ms-response-type": "standard",
        "x-request-time": "0.025"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "centralus",
        "tags": {
          "createdByToolkit": "sdk-v2-1.19.0"
        },
        "etag": null,
        "properties": {
          "friendlyName": "Sanitized",
          "description": "00000",
          "storageAccount": "Sanitized",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Keyvault/vaults/identitykeyvaulta76482e7",
          "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.insights/components/identityinsightsf65ebb73",
          "hbiWorkspace": false,
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "managedNetwork": {
            "changeableIsolationModes": [
              "AllowInternetOutbound",
              "AllowOnlyApprovedOutbound"
            ],
            "isolationMode": "Disabled"
          },
          "allowRoleAssignmentOnRG": true,
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "creationTime": "2024-07-09T05:28:13.3542555Z",
          "notebookInfo": {
            "resourceId": "a62ee9fae8bc42bca305c0a7933aad4f",
            "fqdn": "ml-00000-centralus-bd2e9737-e2fa-44e0-b777-82bc26cd7c41.centralus.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "bd2e9737-e2fa-44e0-b777-82bc26cd7c41",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "ipAllowlist": [],
          "discoveryUrl": "https://centralus.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://centralus.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "serverlessComputeSettings": {
            "serverlessComputeCustomSubnet": null,
            "serverlessComputeNoPublicIP": false
          },
          "EnableSoftwareBillOfMaterials": false,
          "sdkTelemetryAppInsightsKey": "8e30de65-9fdd-423f-86b2-93e5277cf4c0",
          "sasGetterUri": "",
          "enableDataIsolation": false,
          "systemDatastoresAuthMode": "identity",
          "enableServiceSideCMKEncryption": false
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "kind": "Default",
        "sku": {
          "name": "Basic",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2024-07-09T05:28:13.3542555Z",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2024-07-09T05:33:27.8307706Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/discovery",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-centralus-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.010"
      },
      "ResponseBody": {
        "api": "https://centralus.api.azureml.ms",
        "catalog": "Sanitized",
        "experimentation": "https://centralus.experiments.azureml.net",
        "gallery": "https://gallery.cortanaintelligence.com/project",
        "history": "https://centralus.experiments.azureml.net",
        "hyperdrive": "https://centralus.experiments.azureml.net",
        "labeling": "https://centralus.experiments.azureml.net",
        "modelmanagement": "https://centralus.modelmanagement.azureml.net",
        "pipelines": "https://centralus.aether.ms",
        "studio": "https://ml.azure.com"
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/genericasset/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/indexes/test_fixture_index_with_multiple_versions/versions?api-version=2024-04-01-preview&listViewType=ActiveOnly",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-centralus-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.154"
      },
      "ResponseBody": {
        "value": [
          {
            "storageUri": "azureml://subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/workspaces/00000/datastores/workspaceblobstore/paths/LocalUpload/00000000000000000000000000000000/README.md",
            "stage": "Development",
            "id": "azureml://locations/centralus/workspaces/bd2e9737-e2fa-44e0-b777-82bc26cd7c41/indexes/test_fixture_index_with_multiple_versions/versions/2",
            "tags": {
              "tag1": "foo",
              "tag2": "bar"
            },
            "properties": {
              "prop1": "foo",
              "prop2": "bar"
            },
            "systemData": {
              "createdAt": "2024-07-09T05:38:34.2976183+00:00",
              "createdBy": "Sanitized",
              "createdByType": "User",
              "lastModifiedAt": "2024-07-09T05:38:34.2976183+00:00"
            }
          },
          {
            "storageUri": "azureml://subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/workspaces/00000/datastores/workspaceblobstore/paths/LocalUpload/00000000000000000000000000000000/README.md",
            "stage": "Development",
            "id": "azureml://locations/centralus/workspaces/bd2e9737-e2fa-44e0-b777-82bc26cd7c41/indexes/test_fixture_index_with_multiple_versions/versions/1",
            "tags": {
              "tag1": "foo",
              "tag2": "bar"
            },
            "properties": {
              "prop1": "foo",
              "prop2": "bar"
            },
            "systemData": {
              "createdAt": "2024-07-09T05:38:28.7098001+00:00",
              "createdBy": "Sanitized",
              "createdByType": "User",
              "lastModifiedAt": "2024-07-09T05:38:28.7098001+00:00"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
