{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-Ms-Date": "Mon, 26 Feb 2024 20:23:45 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName140918625"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272024-02-26T20%3A23%3A44.9245703Z\u0027\u0022",
        "Location": "https://fakeaccount.table.cosmos.azure.com/Tables(\u0027tableName140918625\u0027)"
      },
      "ResponseBody": {
        "TableName": "tableName140918625",
        "odata.metadata": "https://fakeaccount.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/Tables(\u0027tableName140918625\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 26 Feb 2024 20:23:46 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
