{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-af2bf449-e46b-880b-dcb0-89c0e09c2dba?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Oct 2023 18:45:37 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD19CC0EDAA81\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 18:45:38 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-af2bf449-e46b-880b-dcb0-89c0e09c2dba/test-blob-d6ed63c1-faac-9521-aa44-55566123e819",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 20 Oct 2023 18:45:38 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD19CC103BD89\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 18:45:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-20T18:45:38.6408329Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-af2bf449-e46b-880b-dcb0-89c0e09c2dba/test-blob-d6ed63c1-faac-9521-aa44-55566123e819?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 20 Oct 2023 18:45:38 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "YZleUwFufOxy/Ef8sdVC6CPKI0JtKjhwZhvWZZFBkcezIajM5FkoU\u002BYBZK\u002BzJeTUAW0zl/\u002BlqzZh7u3mlxdaMGqASZAsdQPJotBca8aIvUA2AWMjDvrHDXVya/VsQrvPpjNFMtxUp4tpafUvST9w2DGsr5azNyFwuDsaugoOXGAVjcSSQ4pk4VnXuaUFmMQ1AZPEwJIlG28S1HqgOe2BWwyVGrt63pWmSM483H18ayB35Ll2SZzN73JVgG4Qw6dsVV6Yb30IuyL\u002BHXjE6D/ylWlZKVQ0ChFwxypJJV4mloQmz4Ye5PuibimWeCskCQYzY\u002BoFtplSOEpMJ6hTv5XE14fznRm407FttrsqnZLlTL0jFsJzIODr05c70bxTT6\u002BU0aGkMWvteo84l//dJ5q4Z9vqL6jTULanB8qBfQH0GmYLlsvxQRtRNZwyOojgDav8gmrhaSAGwYHq/SmhbP2NRH2Y0pHOxyXAmPkMoBUtxvkfhPqXE7BGBdVKB0TxsMmfpfYLRzsZLbtFIdAn\u002BiBrvDYvgucC9jDNUsy7hMDhzucvbfsfIn\u002B\u002BBVY/UfHgHgu030oNwS7inK7FPvVuXqn6ZFLo94wlS5m3cXyQwqQ/7TPBBqV10wy5TdFMWeSJT6etRe2e9yd\u002Bj5OxVlCxUdkKhlHBrFcEhJBGL6m72PK0LSE=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD19CC10BF9B6\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 18:45:38 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "Uyc0y0smo0Y=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-af2bf449-e46b-880b-dcb0-89c0e09c2dba/test-blob-d6ed63c1-faac-9521-aa44-55566123e819",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Oct 2023 18:45:38 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBD19CC11483F8\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 18:45:38 GMT",
        "x-ms-blob-committed-block-count": "2",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 20 Oct 2023 18:45:38 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-20T18:45:38.6408329Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-af2bf449-e46b-880b-dcb0-89c0e09c2dba/test-blob-d6ed63c1-faac-9521-aa44-55566123e819",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DBD19CC11483F8\u0022",
        "x-ms-date": "Fri, 20 Oct 2023 18:45:38 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBD19CC11483F8\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 18:45:38 GMT",
        "x-ms-blob-committed-block-count": "2",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 20 Oct 2023 18:45:38 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
  [...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-af2bf449-e46b-880b-dcb0-89c0e09c2dba?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Oct 2023 18:45:38 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "711127812",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
