{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4cb3418e-0410-07f0-4356-c58d49217baa?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:21 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD1A24DF1AB7C\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 19:25:22 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4cb3418e-0410-07f0-4356-c58d49217baa/test-blob-9f6336a4-6abc-9ab3-a4d5-2aacc3c639a0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:22 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "Nge8dhAZ0hdeqkr4/C/OiiAXD0Xvke3Cb57z5\u002Bee9f/FuHJMSfboi2NLQREgu551B6CLrLbzsKQZ\u002BgZyJusvwLVKM0O9gkApL4Tio1DbobQAfeBHEklI0QfNMk/vdmV4HIFc1Yhat4VgYnwyEQ1UPlhScqgK6K1rAWE770/xOrkeaYfPf8sspcZb57DMFcD6efP2nQS9bTTT8NMmHsg1bifDE6eFhL6NJszirwD9nuyhQHVb\u002B521YfxT\u002B474BYf9JniICAEYdfQ1aHc3270z1VLnhd1S2XOKDrKrMogwlSBF5ImHdJXqiMuAJpIlfYY\u002BHyU8EICpqkwF/fpPbUN[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4cb3418e-0410-07f0-4356-c58d49217baa/test-blob-9f6336a4-6abc-9ab3-a4d5-2aacc3c639a0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:22 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "61Ak8JOwYC6J\u002B\u002BWCOvrKqg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBD1A24DFC8FE1\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 19:25:22 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Oct 2023 19:25:22 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 20 Oct 2023 19:25:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-20T19:25:22.6361825Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4cb3418e-0410-07f0-4356-c58d49217baa/test-blob-9f6336a4-6abc-9ab3-a4d5-2aacc3c639a0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DBD1A24DFC8FE1\u0022",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:22 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBD1A24DFC8FE1\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 19:25:22 GMT",
        "x-ms-blob-content-md5": "61Ak8JOwYC6J\u002B\u002BWCOvrKqg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Oct 2023 19:25:22 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 20 Oct 2023 19:25:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-20T19:25:22.6361825Z"
      },
      "ResponseBody": [...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4cb3418e-0410-07f0-4356-c58d49217baa?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:22 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "272940245",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
