{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-efcc49c4-ae69-eb9c-a478-2f98f02f803b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:09 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD1A24657CB8C\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 19:25:09 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-efcc49c4-ae69-eb9c-a478-2f98f02f803b/test-blob-5f290bd7-e564-51f6-1cec-adec1cd33971",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:09 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD1A24662CADD\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 19:25:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-20T19:25:09.8843869Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-efcc49c4-ae69-eb9c-a478-2f98f02f803b/test-blob-5f290bd7-e564-51f6-1cec-adec1cd33971?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:09 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "feZG2ccqaXzlz17MtZidVXs6YA8u0\u002BCaBhlZzkW\u002B32k\u002BtDycjzqrraKteZSGKpuDTldx4XIpQqoFrNKt0Jo2J/D0jgBcAcZAjrNtgVlME9x91n/tTP33FHGRluNo/dwHdlKjkpubJ02RMVK\u002Bu8BRuZj2MPobSdrz/HmOymri15HXZgsGqIBA4q8xXBqqOFixQN1Kcs3h6y13sJYiDFzjrlnB51W1ShAYtU1K6ey/SMMh3YmMmGXE9XvejvfqHtZSTa7A6VED\u002B/XMMrx/lwFAt2jSAC7SVhX0/PHa1rsZLZd395w\u002B/l5yHuGUwGapRF5[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-efcc49c4-ae69-eb9c-a478-2f98f02f803b/test-blob-5f290bd7-e564-51f6-1cec-adec1cd33971",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:09 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBD1A2466A43D7\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 19:25:09 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 20 Oct 2023 19:25:09 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-20T19:25:09.8843869Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-efcc49c4-ae69-eb9c-a478-2f98f02f803b/test-blob-5f290bd7-e564-51f6-1cec-adec1cd33971",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DBD1A2466A43D7\u0022",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:09 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBD1A2466A43D7\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 19:25:09 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 20 Oct 2023 19:25:09 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
  [...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-efcc49c4-ae69-eb9c-a478-2f98f02f803b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:09 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2029441741",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
