{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ae3db3b2-785d-dd2f-74db-7e58cc23eb4a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:19 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD1A24C681182\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 19:25:19 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ae3db3b2-785d-dd2f-74db-7e58cc23eb4a/test-blob-26dafc3b-e2dd-64af-588a-676d4007eae9?comp=block\u0026blockid=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:19 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "JywLQg1tkPaDEMBeKzpr9TW4Jxuc\u002BYF3KX7ZZx\u002B180BSZO/AvX92zmzko80hUDgdH3I3iODOTS6qlBiOkyjWzR2ADMZKqze2QlivuFW0VdlFu0isfWtggxfBFSln5ztDDdWvoURy0nM7gUWHH5XY9j4/SNffKlCxH4iviZUNT1sda6p/BLSU0\u002BjUcfwm2WSC6B7rJ55jZOOF/YG7wkjeLTHpabTqWPGKqnTuCrhTi0YkLaF2Iie9ugfH\u002Bgcy2RGf9kPKPG\u002Bvl48sYH0pdFkqMXE7lpWnZwsKLK6sIl7qV9FjThR1iU/WdJUSSsGqk0aunciV90J8\u002BI83wA/AA3UwQgmsxSVEtKgiZCH/lR1JYJho/oSWVWCO51aFPcg/FnEf4Qi4/s0haegfcpIhfGNy7mB2WATwmuyoHd7Ov3ff406v37MVkWHLR5WbduPNbWvyE09oyL1tL0YbD\u002BDvUqpxQI9EcZywXFz\u002BqxFuVCQJ269z3KwndxqQQrBs\u002BYGA2/TrKjZUiPzOQrbyahys/toiEjQwfHb\u002BSsh0tC7rQ2PbfdAcgyrutFKzpJn1NQz\u002B40PWSeZMUF9\u002B7eBt4NTN4v5SF\u002BxMkHqvNF3ifdfcCBW8ddDrFfl8ji1wnZZKgNR\u002B5sGbox0gsVPIJxWJatKHouTLsWoD4s0F1Yi/2/LkZLOIZJc=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "zSFZe4Vvr2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ae3db3b2-785d-dd2f-74db-7e58cc23eb4a/test-blob-26dafc3b-e2dd-64af-588a-676d4007eae9?comp=block\u0026blockid=AAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:19 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "FUFl95vDfSLu5PMkWuj7sn/PanoD9JbNlWHVYOTCYQAFO3Fgf9MVpoW/3yDhY2Tz9jLl4x7pkyGrl2E67hw9LILzHx92mjKrusP0RBR16zL84mqy3H7hHKhQtedy2rhpgbOe7kRFfFv/OSlb9E4MNawvPguyi08EEgJ3JuRLOeALi8Jh1/3tt2YOs6NVhidZQ387Q5yst/ZkmdtBzlV2tABIT2mMq16vQYalo9err4zbHeNlEPVEXtTL/T0hrOkQl/\u002BjDDa9zJchiwEVBxMfuOpPZbByEaQKBPGVwa4hjZWdlAvYCKNVHlFLRIT0LlfArERT0UY5noZamAhFKAvp//1seHMIRq9H\u002BUdfJs0gFtWa1BRpzrxOY/WFfXCbEPVFYkSGh7bjuGaUC9f\u002B2ni4OoIyq1T2fzFBHRR\u002Bg8g/rOlRGcOJmY4fthyu1MLkT4l8zEPtaGWhTuMTRGqhZTSdVV/urMC0L6H0E/Q3SKpuXc2LAbaFUUODsMrgdVQjfVHnEH9j9aPIyJyi\u002BVVwaQY5pOedFmN9GAMbavz21LlM0JWjUDcqC2cqwzka41juEkbDptBthmftafh8R4um0fTiVSi/zRnPDpmAclMqYzWqLVe1Mi3o3kkutec\u002BrsPcg/FFN40vLkQt9Jc27RQUwwXD0Roz8Z/G\u002BXffkRgykGDWpO4=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "nQKzNXAWy\u002BI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ae3db3b2-785d-dd2f-74db-7e58cc23eb4a/test-blob-26dafc3b-e2dd-64af-588a-676d4007eae9?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:19 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD1A24C840908\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 19:25:20 GMT",
        "x-ms-content-crc64": "uZyvATng5EM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-20T19:25:20.1685768Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ae3db3b2-785d-dd2f-74db-7e58cc23eb4a/test-blob-26dafc3b-e2dd-64af-588a-676d4007eae9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:19 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBD1A24C840908\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 19:25:20 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Oct 2023 19:25:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 20 Oct 2023 19:25:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-20T19:25:20.1685768Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ae3db3b2-785d-dd2f-74db-7e58cc23eb4a/test-blob-26dafc3b-e2dd-64af-588a-676d4007eae9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DBD1A24C840908\u0022",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:19 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBD1A24C840908\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 19:25:20 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Oct 2023 19:25:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 20 Oct 2023 19:25:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encry[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ae3db3b2-785d-dd2f-74db-7e58cc23eb4a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:19 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "252325377",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
