{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-e0c9fb50-db47-8dcf-42f1-3f19bc8d6cf3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:27 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD1A2510DDEBC\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 19:25:27 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-e0c9fb50-db47-8dcf-42f1-3f19bc8d6cf3/test-blob-79203309-3298-83a6-c644-cf7557f33196",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:27 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "MP6Y89L6Qz2nQf1Mz0TE/mjwwGRB4zCICZcmhOwlXEnOUogV4/aBD/Dj0Vc1WrSCf9ENZzLNVEzND\u002Bo7075RguSzfXy7rxpybrFzXhLZU67jpAUaGPUWAf47R9QMRjsxkU5ygdw3xs\u002B2mviBWfU69Ls7Vy\u002B5NmrvnHx\u002BgGhGZSh1QszDZ9LSq941ZH39lagJAFMY0O4MeFvkg\u002BRguUZncDTPDBcod4zpaaxRhNLt8QfUdH8ULpU6aMpx3\u002BPtcfKYzfNILYiQ4InGL2dCu/SJ95HdjETGUkKflaNNt5io\u002B/e5ubbepMR\u002BQ5T2Tv4t963W5\u0[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-e0c9fb50-db47-8dcf-42f1-3f19bc8d6cf3/test-blob-79203309-3298-83a6-c644-cf7557f33196",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:27 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "nnFY9X94s9Q5s31mSs084g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBD1A2511A737E\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 19:25:27 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Oct 2023 19:25:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 20 Oct 2023 19:25:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-20T19:25:27.8652286Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-e0c9fb50-db47-8dcf-42f1-3f19bc8d6cf3/test-blob-79203309-3298-83a6-c644-cf7557f33196",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DBD1A2511A737E\u0022",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:27 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBD1A2511A737E\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 19:25:27 GMT",
        "x-ms-blob-content-md5": "nnFY9X94s9Q5s31mSs084g==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Oct 2023 19:25:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 20 Oct 2023 19:25:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-20T19:25:27.8652286Z"
      },
      "ResponseBody": "MP6Y89L6Q[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-e0c9fb50-db47-8dcf-42f1-3f19bc8d6cf3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:27 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1096413176",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
