{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-6fbf2d7a-fd58-97fe-ffda-9a8c636f0fc2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:22 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD1A24E19C6F2\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 19:25:22 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-6fbf2d7a-fd58-97fe-ffda-9a8c636f0fc2/test-blob-68c019f4-1a99-2c14-627a-2a53741c63c7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:22 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "fEKTIg5doMJgdaVNfx9leVBYzeLyKMOE8XYlZd5G7DP8Ls0cOEs\u002Blnj9CCR1x61CFLADHE\u002BB1FN\u002BDjCYNzvjGYhxUVBSSUAFGTZp9SCfDirI41AtQ9Dkelp5nSkapl89Ge\u002BbA3Vd8Mtw/gIYF98z3/8Fz1TqtdW3jdb22KsX6nLXLNsxAwu1a/KFvUXOy2N6Rr0pFdcKU2MZ5HafZxcfWBSPQesEAtz0UGRhZfeQ6cFze5Lt7dWbzNh3GB6UFQTaZWQwPop3dkPhNcRyqO1siPu1K\u002BuFMWs\u002B83QSjOq9YDpghwCTX6o2\u002BwVODLgQKSPrC48j3ukYV[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-6fbf2d7a-fd58-97fe-ffda-9a8c636f0fc2/test-blob-68c019f4-1a99-2c14-627a-2a53741c63c7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:22 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "x\u002Bhk1pPAXBhBeA/2P8gHSQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBD1A24E240F5C\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 19:25:22 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Oct 2023 19:25:22 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 20 Oct 2023 19:25:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-20T19:25:22.8950364Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-6fbf2d7a-fd58-97fe-ffda-9a8c636f0fc2/test-blob-68c019f4-1a99-2c14-627a-2a53741c63c7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DBD1A24E240F5C\u0022",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:22 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBD1A24E240F5C\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 19:25:22 GMT",
        "x-ms-blob-content-md5": "x\u002Bhk1pPAXBhBeA/2P8gHSQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Oct 2023 19:25:22 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 20 Oct 2023 19:25:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-20T19:25:22.8950364Z"
      },
      "ResponseBody": "fEKT[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-6fbf2d7a-fd58-97fe-ffda-9a8c636f0fc2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:22 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "122059100",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
