{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9c432d41-e33c-cd65-673e-820abee6d36b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:24 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD1A24F5A7BD7\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 19:25:24 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9c432d41-e33c-cd65-673e-820abee6d36b/test-blob-b5c5c849-bb19-e66f-bda0-1990dd13c901",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:24 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD1A24F64295F\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 19:25:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-20T19:25:24.9928543Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9c432d41-e33c-cd65-673e-820abee6d36b/test-blob-b5c5c849-bb19-e66f-bda0-1990dd13c901?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:24 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "07C56X3PD\u002BeR\u002BNEi6Ch7x7qVi9d6wJl1swpoCkPn9zIQWx3PwNh7ebndJCHqTf6VJFLVSIfxhhIXRDVzZgWkqQGeEo0KrAbhGhEenZx4i2YM0\u002BXwEa6rHtQKuHyjBxKzOHogSztwi3hM8y110\u002Bl2n7jOZ5Mfs5dS8/O4//OKPhL/amQiWD8rm0dtpB6BNUrqlBnD1KB\u002BlIXizVhHuIuEwbUbdmmFU0d5o8xMsg950b2ozWraxmpygNbeQIrn5OO76OJoZb7hZUHSSjHUMuF1aPyanuohqvpLqfaTphO8kb7pkMksEGv\u002Bx2goCHw4nk30adeNTUX4mj7oHbzITr4uFbhy6qIXSVeQm9eB\u002BKF\u002BEguonj07LkR58PW[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9c432d41-e33c-cd65-673e-820abee6d36b/test-blob-b5c5c849-bb19-e66f-bda0-1990dd13c901",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:24 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBD1A24F6BF052\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 19:25:25 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 20 Oct 2023 19:25:24 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-20T19:25:24.9928543Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9c432d41-e33c-cd65-673e-820abee6d36b/test-blob-b5c5c849-bb19-e66f-bda0-1990dd13c901",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DBD1A24F6BF052\u0022",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:24 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBD1A24F6BF052\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 19:25:25 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 20 Oct 2023 19:25:24 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9c432d41-e33c-cd65-673e-820abee6d36b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:24 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1954817132",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
