{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ca1f619d-44d4-d374-860d-ebe550329394?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:23 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD1A24E94D824\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 19:25:23 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ca1f619d-44d4-d374-860d-ebe550329394/test-blob-a7274ba7-d4d0-36e8-5f7f-35d4606c5761",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:23 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD1A24E9F9621\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 19:25:23 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-20T19:25:23.7045793Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ca1f619d-44d4-d374-860d-ebe550329394/test-blob-a7274ba7-d4d0-36e8-5f7f-35d4606c5761?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:23 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "yCmOFMT1CeKD0rlV5lHIcR0MSCUYbztm9OoQF6VQLpn/yC3lHM3cskJFI/0bk1AOtsS3UyMxSFntJx/Z5fE8M6MgVR0k41VQMJbj0ks9S2GaAmHhmNt2zX/T9/StAsxQCPBa\u002Bz4y6dNvZyKMTnUOr9y\u002BP\u002BOQW5rIqoeeUOxgoi7Jkspb408jZxiNcTG46X8JxUcX78LpwK1VkVG2lJnmDsX0wrurs8yMmtfKAuloEMAIlIukSLJr4NIcBVL\u002BbNJ/pmJswybDXRJ7i1TrHr3E7YGQrgANQsYTieLpj616jS4FS1uG/EyZRDZ5Kb1dgMEUVxfQbr3ScWScWTpE2s5kAf0m5dJiPvA09mrJkxgJtQgg1DiVqR9wMtr26aMSVWloFSi/NprvshknnHdTCN5Mk6MxIwaWzlfdtrP4a1RNIaAAYX7wSX9uMSEebg2oHCr8qlYA4DFj0kbQ4oDn9kfF2nrWUqZfW0okw/Lkd19KNJmJ/MD9TEFunY83IGb\u002BhjrZWJSS0smDnE8M3Bw/flrmha3nXvmHyI04Z7UXJzvjJTy3Ch7Lt2LPBWBx8XAkLx80UJq5FyhAUpAGWmoUa3QTKLbfh3M7G85LF1iZFdYdFDeV49ahKg0Ud7iOxF33upnrXci5RKis\u002BDXMbv/Qpjy56UUyf4idcv6oyxC6rVZwU1w=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD1A24EA5D6CF\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 19:25:23 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "2vFW9wFMjSU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ca1f619d-44d4-d374-860d-ebe550329394/test-blob-a7274ba7-d4d0-36e8-5f7f-35d4606c5761",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:23 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBD1A24EABA250\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 19:25:23 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 20 Oct 2023 19:25:23 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-20T19:25:23.7045793Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ca1f619d-44d4-d374-860d-ebe550329394/test-blob-a7274ba7-d4d0-36e8-5f7f-35d4606c5761",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DBD1A24EABA250\u0022",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:23 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBD1A24EABA250\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 19:25:23 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 20 Oct 2023 19:25:23 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ca1f619d-44d4-d374-860d-ebe550329394?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:23 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1576970991",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
