{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-710ac142-5bc7-4f21-15a3-5d633dc9a161?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:26 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD1A250E30485\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 19:25:27 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-710ac142-5bc7-4f21-15a3-5d633dc9a161/test-blob-db02d8a3-3321-6e26-58b0-5082114896a7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:26 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "vpzOKXaDgn5sIxbyldXAItoGflJZsuAWxokjUpFzcg6xxrwfOQ8wH1aEb/4dNNiD7y6nC8pETQy8t2LtYC/s\u002BLAHQM8ZoejL1l781ULh\u002BJKwoGJjy2dEbXmvY4KsQ78mmHZOFvMJak5F2zVrR3fJ2r/QPMDNiS1Jw9NWaT5mH5Of1T3Lk\u002BKepzUUHvAy2CUB5ojC3Ab/WA9JBFIfswEP3ryhzHI6/kbcMZSKuWo8F\u002BquVIO1o0OMoHwtgY\u002BPfvQ0BEA0kAyzxudB5qpydZ\u002BkDe1ocV59WTp5FSv1DXy3TLOgVbQqCIfd\u002B46bc72YGivdiXSiJw2Wt[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-710ac142-5bc7-4f21-15a3-5d633dc9a161/test-blob-db02d8a3-3321-6e26-58b0-5082114896a7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:27 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "z0NDn9nNOIvxETd3ieaA6w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBD1A250ED9D92\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 19:25:27 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Oct 2023 19:25:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 20 Oct 2023 19:25:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-20T19:25:27.5713938Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-710ac142-5bc7-4f21-15a3-5d633dc9a161/test-blob-db02d8a3-3321-6e26-58b0-5082114896a7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DBD1A250ED9D92\u0022",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:27 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBD1A250ED9D92\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 19:25:27 GMT",
        "x-ms-blob-content-md5": "z0NDn9nNOIvxETd3ieaA6w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Oct 2023 19:25:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 20 Oct 2023 19:25:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-20T19:25:27.5713938Z"
      },
      "ResponseBody": "vpzOKXaDg[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-710ac142-5bc7-4f21-15a3-5d633dc9a161?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:27 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1556369837",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
