{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-93597fc9-3dcf-a54e-cf78-2186fc1861f9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:25 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD1A24FF25F93\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 19:25:25 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-93597fc9-3dcf-a54e-cf78-2186fc1861f9/test-blob-c13ebb71-2048-124e-bbd4-dca51d9a39cd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:25 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD1A24FFD6CE0\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 19:25:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-20T19:25:25.9972832Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-93597fc9-3dcf-a54e-cf78-2186fc1861f9/test-blob-c13ebb71-2048-124e-bbd4-dca51d9a39cd?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:25 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "5z01IyJjD739FqMD9uba9aio1b30GD3tzlDmga6YnARtxSU81UAnDayAxDF8ShvV\u002Bub8dMR72M//SFXSfY0OZHqfljHAniBngccRc1MMcIM1EYfInCc/8uxWPIzrVZAfcl\u002B23bTpFVzFlPP8amR789jSnGwFRchTX6NEaWGTfCs38QH0VZLOS/wrAwczQ4iI20m0GbgkGSyWY34Rpav6MhfIxHhjh51FA1Fw2ULBHxwbvI4Y32NzE9fVXfIUvaVRMdDwa34PJVOrbhVmtEDq1UNh9ugc4VO0VLGgjSqqMUarHqhx0bSdC5c7bXBNDF6X6oevssa9NE99OxbMb5cpADzPu5WXeASPxOpQ4HTiZ0hSCaOi\u002B35/7upZ85Wd0JwAEWw0flHJAHKDIO7bbFPam9TOeWbzhwS\u002BT8yrPoRu8fNOUM8Iruj3iQgwHtuQo4GWfljBz1c2DIpndS6EHsLuFC77jRyE0u3r1/Bdw2gpLaxLFb8srSGcGENEoDi6cmpGQgmslRZlEatq1fhm2EkhPkiCOQkCwWcMXnTZPzK1MWSFF4BefJiV5gMTwdcpNUD6I2HvODlhQ4CinzaijNF5taST4MHIwsKw7FMF7gCP4yg03xzQxfkrJNP/vNxh81kymgwzllV\u002BMWCfP0zlXFSAErwNba0=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD1A2500422B4\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 19:25:26 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "Q\u002BYt/gU8UsY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-93597fc9-3dcf-a54e-cf78-2186fc1861f9/test-blob-c13ebb71-2048-124e-bbd4-dca51d9a39cd",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:25 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBD1A25010A400\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 19:25:26 GMT",
        "x-ms-blob-committed-block-count": "3",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 20 Oct 2023 19:25:25 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-20T19:25:25.9972832Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-93597fc9-3dcf-a54e-cf78-2186fc1861f9/test-blob-c13ebb71-2048-124e-bbd4-dca51d9a39cd",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DBD1A25010A400\u0022",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:25 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBD1A25010A400\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 19:25:26 GMT",
        "x-ms-blob-committed-block-count": "3",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 20 Oct 2023 19:25:25 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
  [...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-93597fc9-3dcf-a54e-cf78-2186fc1861f9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Oct 2023 19:25:25 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1996522558",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
