{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-d70f5c2f-7cfb-3c57-7d60-e34505b5bd84?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Oct 2023 18:45:47 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD19CC69B745D\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 18:45:48 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-d70f5c2f-7cfb-3c57-7d60-e34505b5bd84/test-blob-6a659aa9-452b-1c88-72b2-5ed0174b1064",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Oct 2023 18:45:47 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "OYlsTZeBiqb77oGlsN5\u002BaqU1cAxC2pTo0oLCC9rOg6pGZkOpT0WuJw\u002B\u002Bbj3E4muUM/Mr4doEIV70hHoVvn/MLWvWX0qa1Rtfhkn8hGxXI/AXLtfmoqHPQUTltMvKmWmQ8kDS7oMh\u002Bl7Yy1uRCJ3xnWCK/pCn5YrJBh4FtCBPle3ga5IrhDVt9TR5DtdGPTin9BdqQJvY6Qy2COdkG0U\u002BiDZusZ0KxRgrHQhcLdezg8nlXsAI5VVRB4GFdXxNCNruOoWh2IybnC7/PiKSfLs1A4UefryFNqPgHKobhE\u002Bc3RQtbfNSEas8SsGRCKYyvovGUHL2L4keaQThwL[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-d70f5c2f-7cfb-3c57-7d60-e34505b5bd84/test-blob-6a659aa9-452b-1c88-72b2-5ed0174b1064",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Oct 2023 18:45:47 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "fSGpGPK4UJlJdI9WjfspJQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBD19CC6A4B92B\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 18:45:48 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Oct 2023 18:45:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 20 Oct 2023 18:45:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-20T18:45:48.0844587Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-d70f5c2f-7cfb-3c57-7d60-e34505b5bd84/test-blob-6a659aa9-452b-1c88-72b2-5ed0174b1064",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DBD19CC6A4B92B\u0022",
        "x-ms-date": "Fri, 20 Oct 2023 18:45:47 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBD19CC6A4B92B\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 18:45:48 GMT",
        "x-ms-blob-content-md5": "fSGpGPK4UJlJdI9WjfspJQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Oct 2023 18:45:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 20 Oct 2023 18:45:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-20T18:45:48.0844587Z"
      },
      "ResponseBody": "OYlsTZeBi[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-d70f5c2f-7cfb-3c57-7d60-e34505b5bd84?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Oct 2023 18:45:47 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "797856584",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
