{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-66f671e2-0502-d155-3766-e6675b7e85de?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Oct 2023 18:45:48 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD19CC742E67F\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 18:45:49 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-66f671e2-0502-d155-3766-e6675b7e85de/test-blob-2ccf2870-e664-f084-0ae5-2bac13685789",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 20 Oct 2023 18:45:48 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD19CC74DFFDC\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 18:45:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-20T18:45:49.1938268Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-66f671e2-0502-d155-3766-e6675b7e85de/test-blob-2ccf2870-e664-f084-0ae5-2bac13685789?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 20 Oct 2023 18:45:48 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "W4IrhIkRc93l6YETNhnh0ah9ejCbzXYDY5vaZY6cHLXt51IlFeCXXrTxRnpkcLrxBFoElu4n7o0LKCDuNg5OSM3MJU7Hu7vH5ht7qof7nvLg6WA0mIXHxvnEGu3AqCelov2tmEtrKUiePLDSrEMFD4ktDU2uGrBHBV9VAqHOBz301QeJTgandL8XllzV9Bm1vwpjk5va94hNZZPrFienzzVy3dY8fMGDhZiNloRUcRBFoEOWa3OhGt1/POlyvF6Yb8YnYxZCeUJJ4A4CTWEE\u002BfODpXbkEWTB0MP5vUDYEMk69Sa9LQ75AiYATYtlns17e0P17xbns15iZZJTSbsCcc9FyFc7RszliaJP5MTZXDL2fUL94iGyUkHHWsd8prlr/du8INV1QDR2EGVzmM\u002BaiQlgXMx5BY6tknYWc\u002BwEaePp5OboHTtcgTwNhtK7PrlyLdG\u002BG0ns8fhNDo1fXsxIcqeCirPpsmzNBNuPbH\u002B88lS8pEYaRk2Z/PPtmg\u002Bu/CJvxRMrObMFiHpl8BduXIR5kRs4orqGLSxZ6I3A\u002BxddHge4H6ZrkLmgthvLtFU1K59udAnzdVlo6Zjn0VAlRY1jCNEQtTzeDQBimOueunjXJLztUoYNaamtUDYOhL9oenGOZ6yDJXVij2YJkN1tyS4fD6yTOPMGVZ4oYmUG0IhA\u002Bh0=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD19CC754B5A2\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 18:45:49 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "sro0/z/9Vq4=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-66f671e2-0502-d155-3766-e6675b7e85de/test-blob-2ccf2870-e664-f084-0ae5-2bac13685789",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Oct 2023 18:45:48 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBD19CC75B4461\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 18:45:49 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 20 Oct 2023 18:45:49 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-20T18:45:49.1938268Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-66f671e2-0502-d155-3766-e6675b7e85de/test-blob-2ccf2870-e664-f084-0ae5-2bac13685789",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DBD19CC75B4461\u0022",
        "x-ms-date": "Fri, 20 Oct 2023 18:45:48 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBD19CC75B4461\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 18:45:49 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 20 Oct 2023 18:45:49 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-66f671e2-0502-d155-3766-e6675b7e85de?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Oct 2023 18:45:48 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "623081534",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
