{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/390ba170-3e2a-41c4-b372-15d9c5ae6e81?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/390ba170-3e2a-41c4-b372-15d9c5ae6e81",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions"
        },
        "subscriptionId": "390ba170-3e2a-41c4-b372-15d9c5ae6e81",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure Governance Unizomb Dev",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/390ba170-3e2a-41c4-b372-15d9c5ae6e81/providers/Microsoft.Resources/deploymentStacks/deployStackSub-List-1744?api-version=2024-03-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
              "rgname": {
                "type": "string",
                "defaultValue": "testStacksSDK321"
              },
              "location": {
                "type": "string",
                "defaultValue": "[deployment().location]"
              }
            },
            "resources": [
              {
                "type": "Microsoft.Resources/resourceGroups",
                "apiVersion": "2021-04-01",
                "name": "[parameters('rgname')]",
                "location": "[parameters('location')]"
              }
            ]
          },
          "parameters": {
            "rgName": {
              "value": "stacksTestRG4321"
            }
          },
          "actionOnUnmanage": {
            "resources": "detach",
            "resourceGroups": "detach",
            "managementGroups": "detach"
          },
          "bypassStackOutOfSyncError": false,
          "denySettings": {
            "mode": "none"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/390ba170-3e2a-41c4-b372-15d9c5ae6e81/providers/Microsoft.Resources/locations/westus2/deploymentStackOperationStatus/2b397758-a233-47d3-b0ba-5b209260ccd7?api-version=2024-03-01&t=638900016385356657&c=MIIIpTCCBo2gAwIBAgITFgGpymN7LTW4kGDY9AABAanKYzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDMwHhcNMjUwNzE2MDY0NzU2WhcNMjYwMTEyMDY0NzU2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZp[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/390ba170-3e2a-41c4-b372-15d9c5ae6e81/providers/Microsoft.Resources/locations/westus2/deploymentStackOperationStatus/2b397758-a233-47d3-b0ba-5b209260ccd7?api-version=2024-03-01&t=638900016385356657&c=MIIIpTCCBo2gAwIBAgITFgGpymN7LTW4kGDY9AABAanKYzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDMwHhcNMjUwNzE2MDY0NzU2WhcNMjYwMTEyMDY0NzU2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJ[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/390ba170-3e2a-41c4-b372-15d9c5ae6e81/providers/Microsoft.Resources/deploymentStacks/deployStackSub-List-1744?api-version=2024-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "location": "westus2",
        "properties": {
          "actionOnUnmanage": {
            "resources": "detach",
            "resourceGroups": "detach",
            "managementGroups": "detach"
          },
          "deploymentId": "/subscriptions/390ba170-3e2a-41c4-b372-15d9c5ae6e81/providers/Microsoft.Resources/deployments/deployStackSub-List-1744-25080514bw49v",
          "duration": "PT6.2627928S",
          "denySettings": {
            "mode": "none",
            "applyToChildScopes": false
          },
          "parameters": {
            "rgName": {
              "value": "stacksTestRG4321",
              "type": "string"
            }
          },
          "resources": [
            {
              "status": "managed",
              "denyStatus": "none",
              "id": "/subscriptions/390ba170-3e2a-41c4-b372-15d9c5ae6e81/resourceGroups/stacksTestRG4321"
            }
          ],
          "provisioningState": "succeeded",
          "detachedResources": [],
          "deletedResources": [],
          "failedResources": [],
          "correlationId": "7716afad-26ff-456f-896a-bee9b16cec59"
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-08-05T14:40:38.1919164Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-08-05T14:40:38.1919164Z"
        },
        "id": "/subscriptions/390ba170-3e2a-41c4-b372-15d9c5ae6e81/providers/Microsoft.Resources/deploymentStacks/deployStackSub-List-1744",
        "type": "Microsoft.Resources/deploymentStacks",
        "name": "deployStackSub-List-1744"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/390ba170-3e2a-41c4-b372-15d9c5ae6e81/providers/Microsoft.Resources/deploymentStacks?api-version=2024-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "a50b6eb2-d019-48a5-9744-52c195394719",
          "16fe2ab5-712d-4168-a17f-ed0f1904570e",
          "efff8f3e-53b5-4bde-93f3-c2173a4d23e1",
          "ee8893fb-cdec-420e-b631-ea196b639466"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "location": "eastus",
            "tags": {},
            "properties": {
              "actionOnUnmanage": {
                "resources": "delete",
                "resourceGroups": "delete",
                "managementGroups": "delete"
              },
              "deploymentId": "/subscriptions/390ba170-3e2a-41c4-b372-15d9c5ae6e81/providers/Microsoft.Resources/deployments/ka3-icm-12-18-repro-24121821em0yi",
              "duration": "PT7.9487812S",
              "denySettings": {
                "mode": "none",
                "applyToChildScopes": false
              },
              "parameters": {
                "nestedLocation": {
                  "value": "westus2",
                  "type": "string"
                }
              },
              "resources": [],
              "provisioningState": "succeeded",
              "detachedResources": [],
              "deletedResources": [],
              "failedResources": [],
              "correlationId": "578295fc-220b-4cf2-ade3-3b33cee228f9"
            },
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2024-12-18T21:21:10.4528284Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2024-12-18T21:49:55.7295886Z"
            },
            "id": "/subscriptions/390ba170-3e2a-41c4-b372-15d9c5ae6e81/providers/Microsoft.Resources/deploymentStacks/ka3-icm-12-18-repro",
            "type": "Microsoft.Resources/deploymentStacks",
            "name": "ka3-icm-12-18-repro"
          },
          {
            "location": "westcentralus",
            "properties": {
              "actionOnUnmanage": {
                "resources": "detach",
                "resourceGroups": "detach",
                "managementGroups": "detach"
              },
              "provisioningState": "failed",
              "error": {
                "code": "DeploymentStackUpdateFailed",
                "message": "One or more stages of deploymentStack update failed.",
                "details": [
                  {
                    "code": "StackDeployResourcesFailed",
                    "message": "One or more resources could not be deployed.",
                    "details": [
                      {
                        "code": "AuthorizationFailed",
                        "message": "The client '9c4fb1bb-32a2-469b-a0b6-d1f84590e8a0' with object id '9c4fb1bb-32a2-469b-a0b6-d1f84590e8a0' does not have authorization to perform action 'Microsoft.Resources/deployments/write' over scope '/subscriptions/390ba170-3e2a-41c4-b372-15d9c5ae6e81' or the scope is invalid. If access was recently granted, please refresh your credentials.",
                        "details": [],
                        "additionalInfo": []
                      }
                    ]
                  }
                ]
              }
            },
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2021-07-26T22:17:35.0996201Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2021-07-26T22:17:35.0996201Z"
            },
            "id": "/subscriptions/390ba170-3e2a-41c4-b372-15d9c5ae6e81/providers/Microsoft.Resources/deploymentStacks/prodDeploymentStack",
            "type": "Microsoft.Resources/deploymentStacks",
            "name": "prodDeploymentStack"
          },
          {
            "location": "westcentralus",
            "properties": {
              "actionOnUnmanage": {
                "resources": "detach",
                "resourceGroups": "detach",
                "managementGroups": "detach"
              },
              "deploymentScope": "/subscriptions/390ba170-3e2a-41c4-b372-15d9c5ae6e81",
              "resources": [],
              "provisioningState": "failed",
              "detachedResources": [],
              "deletedResources": [],
              "failedResources": [],
              "error": {
                "code": "DeploymentStackUpdateFailed",
                "message": "One or more stages of deploymentStack update failed. See snapshot '/subscriptions/390ba170-3e2a-41c4-b372-15d9c5ae6e81/providers/Microsoft.Resourc[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/390ba170-3e2a-41c4-b372-15d9c5ae6e81/providers/Microsoft.Resources/deploymentStacks/deployStackSub-List-1744?unmanageAction.Resources=detach&unmanageAction.ResourceGroups=detach&unmanageAction.ManagementGroups=detach&api-version=2024-03-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": "799",
        "x-ms-ratelimit-remaining-subscription-global-deletes": "11999"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "980772529",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "390ba170-3e2a-41c4-b372-15d9c5ae6e81"
  }
}
