{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourcegroups/Communication-RG-1505?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11971"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1505",
        "name": "Communication-RG-1505",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1505/providers/Microsoft.Communication/emailServices/email-test7284?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022aa005eb8-0000-0700-0000-64e0a33d0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11970"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1505/providers/Microsoft.Communication/emailServices/email-test7284",
        "name": "email-test7284",
        "type": "microsoft.communication/emailservices",
        "location": "global",
        "tags": {},
        "systemData": {
          "createdBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "createdByType": "Application",
          "createdAt": "2023-08-19T11:10:42.3321495Z",
          "lastModifiedBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-19T11:10:42.3321495Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "dataLocation": "UnitedStates"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1505/providers/Microsoft.Communication/emailServices/email-test7284/domains/domain-8292.com?api-version=2023-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "global",
        "properties": {
          "domainManagement": "CustomerManaged"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/b0547cc1-a8ae-4468-9a49-63d8f3f81f78*6D6A595FF6E5A09042EE3CABA1CBD9F0419E5707F907DB3758D2C835300AFC3E?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c7007ab4-0000-0700-0000-64e0a3960000\u0022",
        "mise-correlation-id": "2cb40345-0c70-4003-89db-c10eab4b009d",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1505/providers/Microsoft.Communication/emailServices/email-test7284/domains/domain-8292.com",
        "name": "domain-8292.com",
        "type": "microsoft.communication/emailservices/domains",
        "location": "global",
        "tags": {},
        "systemData": {
          "createdBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "createdByType": "Application",
          "createdAt": "2023-08-19T11:12:22.4269549Z",
          "lastModifiedBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-19T11:12:22.4269549Z"
        },
        "properties": {
          "domainManagement": "CustomerManaged",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/b0547cc1-a8ae-4468-9a49-63d8f3f81f78*6D6A595FF6E5A09042EE3CABA1CBD9F0419E5707F907DB3758D2C835300AFC3E?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022070056f1-0000-0800-0000-64e0a3960000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11969"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/b0547cc1-a8ae-4468-9a49-63d8f3f81f78*6D6A595FF6E5A09042EE3CABA1CBD9F0419E5707F907DB3758D2C835300AFC3E",
        "name": "b0547cc1-a8ae-4468-9a49-63d8f3f81f78*6D6A595FF6E5A09042EE3CABA1CBD9F0419E5707F907DB3758D2C835300AFC3E",
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1505/providers/Microsoft.Communication/emailServices/email-test7284/domains/domain-8292.com",
        "status": "Accepted",
        "startTime": "2023-08-19T11:12:22.6023971Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1505/providers/Microsoft.Communication/emailServices/email-test7284/domains?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1505/providers/Microsoft.Communication/emailServices/email-test7284/domains/domain-8292.com",
            "name": "domain-8292.com",
            "type": "microsoft.communication/emailservices/domains",
            "location": "global",
            "tags": {},
            "systemData": {
              "createdBy": "00226471-3a95-403e-98c0-dca45fecd307",
              "createdByType": "Application",
              "createdAt": "2023-08-19T11:12:22.4269549Z",
              "lastModifiedBy": "00226471-3a95-403e-98c0-dca45fecd307",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-08-19T11:12:22.4269549Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "dataLocation": "unitedstates",
              "fromSenderDomain": "domain-8292.com",
              "mailFromSenderDomain": "domain-8292.com",
              "domainManagement": "CustomerManaged",
              "verificationStates": {
                "Domain": {
                  "status": "NotStarted"
                },
                "SPF": {
                  "status": "NotStarted"
                },
                "DKIM": {
                  "status": "NotStarted"
                },
                "DKIM2": {
                  "status": "NotStarted"
                },
                "DMARC": {
                  "status": "NotStarted"
                }
              },
              "verificationRecords": {
                "Domain": {
                  "type": "TXT",
                  "name": "domain-8292.com",
                  "value": "ms-domain-verification=ebfa624b-01cf-4353-b56e-f475f0770b73",
                  "ttl": 3600
                },
                "SPF": {
                  "type": "TXT",
                  "name": "domain-8292.com",
                  "value": "v=spf1 include:spf.protection.outlook.com -all",
                  "ttl": 3600
                },
                "DKIM": {
                  "type": "CNAME",
                  "name": "selector1-azurecomm-prod-net._domainkey",
                  "value": "selector1-azurecomm-prod-net._domainkey.azurecomm.net",
                  "ttl": 3600
                },
                "DKIM2": {
                  "type": "CNAME",
                  "name": "selector2-azurecomm-prod-net._domainkey",
                  "value": "selector2-azurecomm-prod-net._domainkey.azurecomm.net",
                  "ttl": 3600
                }
              },
              "userEngagementTracking": "Disabled"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1505/providers/Microsoft.Communication/emailServices/email-test7284/domains/domain-8292.com?api-version=2023-04-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/f9ad0d2b-d9ad-42f2-bbd3-196ad85aaa4e*6D6A595FF6E5A09042EE3CABA1CBD9F0419E5707F907DB3758D2C835300AFC3E?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c700c9bd-0000-0700-0000-64e0a3fa0000\u0022",
        "Location": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/f9ad0d2b-d9ad-42f2-bbd3-196ad85aaa4e*6D6A595FF6E5A09042EE3CABA1CBD9F0419E5707F907DB3758D2C835300AFC3E?api-version=2023-04-01-preview",
        "mise-correlation-id": "5bbe560f-fb5e-4c0c-9b57-152175426fc7",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/f9ad0d2b-d9ad-42f2-bbd3-196ad85aaa4e*6D6A595FF6E5A09042EE3CABA1CBD9F0419E5707F907DB3758D2C835300AFC3E?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
       [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/f9ad0d2b-d9ad-42f2-bbd3-196ad85aaa4e*6D6A595FF6E5A09042EE3CABA1CBD9F0419E5707F907DB3758D2C835300AFC3E?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220700b4f1-0000-0800-0000-64e0a43c0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/f9ad0d2b-d9ad-42f2-bbd3-196ad85aaa4e*6D6A595FF6E5A09042EE3CABA1CBD9F0419E5707F907DB3758D2C835300AFC3E",
        "name": "f9ad0d2b-d9ad-42f2-bbd3-196ad85aaa4e*6D6A595FF6E5A09042EE3CABA1CBD9F0419E5707F907DB3758D2C835300AFC3E",
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1505/providers/Microsoft.Communication/emailServices/email-test7284/domains/domain-8292.com",
        "status": "Succeeded",
        "startTime": "2023-08-19T11:14:02.0644749Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "82045238",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "8443df5e-8e12-4cd9-810e-c525196fecae"
  }
}
