{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourcegroups/Communication-RG-3535?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11759"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-3535",
        "name": "Communication-RG-3535",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-3535/providers/Microsoft.Communication/emailServices/email-test2692?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002251002eda-0000-0700-0000-64deb10f0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11758"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-3535/providers/Microsoft.Communication/emailServices/email-test2692",
        "name": "email-test2692",
        "type": "microsoft.communication/emailservices",
        "location": "global",
        "tags": {},
        "systemData": {
          "createdBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "createdByType": "Application",
          "createdAt": "2023-08-17T23:45:08.5115665Z",
          "lastModifiedBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-17T23:45:08.5115665Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "dataLocation": "UnitedStates"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-3535/providers/Microsoft.Communication/emailServices/email-test2692/domains/domain-7841.com?api-version=2023-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "global",
        "properties": {
          "domainManagement": "CustomerManaged"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/eedf7379-f1c3-4b47-a007-f35627b3f7fa*14519384BDBB88DCCB0F8B654E684A5E2D287E22172FA80B1028E56E46A4F527?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227b006f30-0000-0700-0000-64deb7680000\u0022",
        "mise-correlation-id": "331c7b7f-db01-40e2-ab5b-b94b8885e088",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1176"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-3535/providers/Microsoft.Communication/emailServices/email-test2692/domains/domain-7841.com",
        "name": "domain-7841.com",
        "type": "microsoft.communication/emailservices/domains",
        "location": "global",
        "tags": {},
        "systemData": {
          "createdBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "createdByType": "Application",
          "createdAt": "2023-08-18T00:12:24.5958989Z",
          "lastModifiedBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-18T00:12:24.5958989Z"
        },
        "properties": {
          "domainManagement": "CustomerManaged",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/eedf7379-f1c3-4b47-a007-f35627b3f7fa*14519384BDBB88DCCB0F8B654E684A5E2D287E22172FA80B1028E56E46A4F527?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220500f332-0000-0800-0000-64deb7680000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11757"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/eedf7379-f1c3-4b47-a007-f35627b3f7fa*14519384BDBB88DCCB0F8B654E684A5E2D287E22172FA80B1028E56E46A4F527",
        "name": "eedf7379-f1c3-4b47-a007-f35627b3f7fa*14519384BDBB88DCCB0F8B654E684A5E2D287E22172FA80B1028E56E46A4F527",
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-3535/providers/Microsoft.Communication/emailServices/email-test2692/domains/domain-7841.com",
        "status": "Accepted",
        "startTime": "2023-08-18T00:12:24.8278316Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-3535/providers/Microsoft.Communication/emailServices/email-test2692/domains?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11746"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-3535/providers/Microsoft.Communication/emailServices/email-test2692/domains/domain-7841.com",
            "name": "domain-7841.com",
            "type": "microsoft.communication/emailservices/domains",
            "location": "global",
            "tags": {},
            "systemData": {
              "createdBy": "00226471-3a95-403e-98c0-dca45fecd307",
              "createdByType": "Application",
              "createdAt": "2023-08-18T00:12:24.5958989Z",
              "lastModifiedBy": "00226471-3a95-403e-98c0-dca45fecd307",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-08-18T00:12:24.5958989Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "dataLocation": "unitedstates",
              "fromSenderDomain": "domain-7841.com",
              "mailFromSenderDomain": "domain-7841.com",
              "domainManagement": "CustomerManaged",
              "verificationStates": {
                "Domain": {
                  "status": "NotStarted"
                },
                "SPF": {
                  "status": "NotStarted"
                },
                "DKIM": {
                  "status": "NotStarted"
                },
                "DKIM2": {
                  "status": "NotStarted"
                },
                "DMARC": {
                  "status": "NotStarted"
                }
              },
              "verificationRecords": {
                "Domain": {
                  "type": "TXT",
                  "name": "domain-7841.com",
                  "value": "ms-domain-verification=16357b57-8dc2-453d-9878-396a30d21b31",
                  "ttl": 3600
                },
                "SPF": {
                  "type": "TXT",
                  "name": "domain-7841.com",
                  "value": "v=spf1 include:spf.protection.outlook.com -all",
                  "ttl": 3600
                },
                "DKIM": {
                  "type": "CNAME",
                  "name": "selector1-azurecomm-prod-net._domainkey",
                  "value": "selector1-azurecomm-prod-net._domainkey.azurecomm.net",
                  "ttl": 3600
                },
                "DKIM2": {
                  "type": "CNAME",
                  "name": "selector2-azurecomm-prod-net._domainkey",
                  "value": "selector2-azurecomm-prod-net._domainkey.azurecomm.net",
                  "ttl": 3600
                }
              },
              "userEngagementTracking": "Disabled"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-3535/providers/Microsoft.Communication/emailServices/email-test2692/domains/domain-7841.com?api-version=2023-04-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/44a92f37-d0d0-48c5-9042-fa4c27a45808*14519384BDBB88DCCB0F8B654E684A5E2D287E22172FA80B1028E56E46A4F527?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227b00793f-0000-0700-0000-64deb7cb0000\u0022",
        "Location": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/44a92f37-d0d0-48c5-9042-fa4c27a45808*14519384BDBB88DCCB0F8B654E684A5E2D287E22172FA80B1028E56E46A4F527?api-version=2023-04-01-preview",
        "mise-correlation-id": "74e3fe11-61b7-4614-a9fb-f532c1c2c8e2",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14988"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/44a92f37-d0d0-48c5-9042-fa4c27a45808*14519384BDBB88DCCB0F8B654E684A5E2D287E22172FA80B1028E56E46A4F527?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
       [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/44a92f37-d0d0-48c5-9042-fa4c27a45808*14519384BDBB88DCCB0F8B654E684A5E2D287E22172FA80B1028E56E46A4F527?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002205006133-0000-0800-0000-64deb80c0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11736"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/44a92f37-d0d0-48c5-9042-fa4c27a45808*14519384BDBB88DCCB0F8B654E684A5E2D287E22172FA80B1028E56E46A4F527",
        "name": "44a92f37-d0d0-48c5-9042-fa4c27a45808*14519384BDBB88DCCB0F8B654E684A5E2D287E22172FA80B1028E56E46A4F527",
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-3535/providers/Microsoft.Communication/emailServices/email-test2692/domains/domain-7841.com",
        "status": "Succeeded",
        "startTime": "2023-08-18T00:14:03.1274565Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "856759811",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "8443df5e-8e12-4cd9-810e-c525196fecae"
  }
}
