{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourcegroups/Communication-RG-9144?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-9144",
        "name": "Communication-RG-9144",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-9144/providers/Microsoft.Communication/emailServices/email-test4120?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022460571e1-0000-0700-0000-64f555a40000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-9144/providers/Microsoft.Communication/emailServices/email-test4120",
        "name": "email-test4120",
        "type": "microsoft.communication/emailservices",
        "location": "global",
        "systemData": {
          "createdBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "createdByType": "Application",
          "createdAt": "2023-09-04T03:57:13.1820327Z",
          "lastModifiedBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-09-04T03:57:13.1820327Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "dataLocation": "UnitedStates"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-9144/providers/Microsoft.Communication/emailServices/email-test4120/domains/domain-6323.com?api-version=2023-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "global",
        "properties": {
          "domainManagement": "CustomerManaged"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/0adc31e0-b01f-4e1e-ad32-52a11fb1befc*3F0C0AC9EF49E88E61CF6D4210535F091F52B6D4722BFDDDA78A557B3C9ADA9F?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222e037e43-0000-0100-0000-64f5584d0000\u0022",
        "mise-correlation-id": "62e5f4d9-166e-4f3d-9f66-169e1dc8dd6d",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-9144/providers/Microsoft.Communication/emailServices/email-test4120/domains/domain-6323.com",
        "name": "domain-6323.com",
        "type": "microsoft.communication/emailservices/domains",
        "location": "global",
        "systemData": {
          "createdBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "createdByType": "Application",
          "createdAt": "2023-09-04T04:08:45.1314175Z",
          "lastModifiedBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-09-04T04:08:45.1314175Z"
        },
        "properties": {
          "domainManagement": "CustomerManaged",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/0adc31e0-b01f-4e1e-ad32-52a11fb1befc*3F0C0AC9EF49E88E61CF6D4210535F091F52B6D4722BFDDDA78A557B3C9ADA9F?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022bd0190e6-0000-0100-0000-64f5584d0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/0adc31e0-b01f-4e1e-ad32-52a11fb1befc*3F0C0AC9EF49E88E61CF6D4210535F091F52B6D4722BFDDDA78A557B3C9ADA9F",
        "name": "0adc31e0-b01f-4e1e-ad32-52a11fb1befc*3F0C0AC9EF49E88E61CF6D4210535F091F52B6D4722BFDDDA78A557B3C9ADA9F",
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-9144/providers/Microsoft.Communication/emailServices/email-test4120/domains/domain-6323.com",
        "status": "Accepted",
        "startTime": "2023-09-04T04:08:45.4393322Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-9144/providers/Microsoft.Communication/emailServices/email-test4120/domains?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-9144/providers/Microsoft.Communication/emailServices/email-test4120/domains/domain-6323.com",
            "name": "domain-6323.com",
            "type": "microsoft.communication/emailservices/domains",
            "location": "global",
                "systemData": {
              "createdBy": "00226471-3a95-403e-98c0-dca45fecd307",
              "createdByType": "Application",
              "createdAt": "2023-09-04T04:08:45.1314175Z",
              "lastModifiedBy": "00226471-3a95-403e-98c0-dca45fecd307",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-09-04T04:08:45.1314175Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "dataLocation": "unitedstates",
              "fromSenderDomain": "domain-6323.com",
              "mailFromSenderDomain": "domain-6323.com",
              "domainManagement": "CustomerManaged",
              "verificationStates": {
                "Domain": {
                  "status": "NotStarted"
                },
                "SPF": {
                  "status": "NotStarted"
                },
                "DKIM": {
                  "status": "NotStarted"
                },
                "DKIM2": {
                  "status": "NotStarted"
                },
                "DMARC": {
                  "status": "NotStarted"
                }
              },
              "verificationRecords": {
                "Domain": {
                  "type": "TXT",
                  "name": "domain-6323.com",
                  "value": "ms-domain-verification=49734e19-f837-4d38-a19c-0ab2dd91edc0",
                  "ttl": 3600
                },
                "SPF": {
                  "type": "TXT",
                  "name": "domain-6323.com",
                  "value": "v=spf1 include:spf.protection.outlook.com -all",
                  "ttl": 3600
                },
                "DKIM": {
                  "type": "CNAME",
                  "name": "selector1-azurecomm-prod-net._domainkey",
                  "value": "selector1-azurecomm-prod-net._domainkey.azurecomm.net",
                  "ttl": 3600
                },
                "DKIM2": {
                  "type": "CNAME",
                  "name": "selector2-azurecomm-prod-net._domainkey",
                  "value": "selector2-azurecomm-prod-net._domainkey.azurecomm.net",
                  "ttl": 3600
                }
              },
              "userEngagementTracking": "Disabled"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-9144/providers/Microsoft.Communication/emailServices/email-test4120/domains/domain-6323.com?api-version=2023-04-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/cbc044e1-c027-418c-9dab-0bae7a68918a*3F0C0AC9EF49E88E61CF6D4210535F091F52B6D4722BFDDDA78A557B3C9ADA9F?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222e039748-0000-0100-0000-64f558920000\u0022",
        "Location": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/cbc044e1-c027-418c-9dab-0bae7a68918a*3F0C0AC9EF49E88E61CF6D4210535F091F52B6D4722BFDDDA78A557B3C9ADA9F?api-version=2023-04-01-preview",
        "mise-correlation-id": "9b5f3526-8d97-4e51-8849-c153bd43f687",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/cbc044e1-c027-418c-9dab-0bae7a68918a*3F0C0AC9EF49E88E61CF6D4210535F091F52B6D4722BFDDDA78A557B3C9ADA9F?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
       [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/cbc044e1-c027-418c-9dab-0bae7a68918a*3F0C0AC9EF49E88E61CF6D4210535F091F52B6D4722BFDDDA78A557B3C9ADA9F?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222500b942-0000-0800-0000-64f558d40000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/cbc044e1-c027-418c-9dab-0bae7a68918a*3F0C0AC9EF49E88E61CF6D4210535F091F52B6D4722BFDDDA78A557B3C9ADA9F",
        "name": "cbc044e1-c027-418c-9dab-0bae7a68918a*3F0C0AC9EF49E88E61CF6D4210535F091F52B6D4722BFDDDA78A557B3C9ADA9F",
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-9144/providers/Microsoft.Communication/emailServices/email-test4120/domains/domain-6323.com",
        "status": "Succeeded",
        "startTime": "2023-09-04T04:09:54.4225087Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1151096970",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "8443df5e-8e12-4cd9-810e-c525196fecae"
  }
}
