{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourcegroups/Communication-RG-6280?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11969"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6280",
        "name": "Communication-RG-6280",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6280/providers/Microsoft.Communication/emailServices/email-test5624?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227b00acfd-0000-0700-0000-64df96450000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11968"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6280/providers/Microsoft.Communication/emailServices/email-test5624",
        "name": "email-test5624",
        "type": "microsoft.communication/emailservices",
        "location": "global",
        "tags": {},
        "systemData": {
          "createdBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "createdByType": "Application",
          "createdAt": "2023-08-18T16:03:05.2958418Z",
          "lastModifiedBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-18T16:03:05.2958418Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "dataLocation": "UnitedStates"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6280/providers/Microsoft.Communication/emailServices/email-test5624/domains/domain-1690.com?api-version=2023-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "global",
        "properties": {
          "domainManagement": "CustomerManaged"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/ce7a1ea4-ee53-4a10-b87c-e26e092b67d9*13181A2044E1578E5C81DD7F52301F4497786FD2C7AFB77882DEA36598FF69A5?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022a7009602-0000-0700-0000-64df9ae70000\u0022",
        "mise-correlation-id": "d9da2e91-6441-4426-924b-74a3c3e7dcc3",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6280/providers/Microsoft.Communication/emailServices/email-test5624/domains/domain-1690.com",
        "name": "domain-1690.com",
        "type": "microsoft.communication/emailservices/domains",
        "location": "global",
        "tags": {},
        "systemData": {
          "createdBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "createdByType": "Application",
          "createdAt": "2023-08-18T16:23:03.37649Z",
          "lastModifiedBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-18T16:23:03.37649Z"
        },
        "properties": {
          "domainManagement": "CustomerManaged",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/ce7a1ea4-ee53-4a10-b87c-e26e092b67d9*13181A2044E1578E5C81DD7F52301F4497786FD2C7AFB77882DEA36598FF69A5?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220900a9a4-0000-0800-0000-64df9ae70000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11967"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/ce7a1ea4-ee53-4a10-b87c-e26e092b67d9*13181A2044E1578E5C81DD7F52301F4497786FD2C7AFB77882DEA36598FF69A5",
        "name": "ce7a1ea4-ee53-4a10-b87c-e26e092b67d9*13181A2044E1578E5C81DD7F52301F4497786FD2C7AFB77882DEA36598FF69A5",
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6280/providers/Microsoft.Communication/emailServices/email-test5624/domains/domain-1690.com",
        "status": "Accepted",
        "startTime": "2023-08-18T16:23:03.73433Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6280/providers/Microsoft.Communication/emailServices/email-test5624/domains/domain-1690.com?api-version=2023-04-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "testkey": "testvalue"
        },
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022a7008b10-0000-0700-0000-64df9b2a0000\u0022",
        "mise-correlation-id": "33153361-7a4e-43e6-bc30-b3eb0a0869d0",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6280/providers/Microsoft.Communication/emailServices/email-test5624/domains/domain-1690.com",
        "name": "domain-1690.com",
        "type": "microsoft.communication/emailservices/domains",
        "location": "global",
        "tags": {
          "testkey": "testvalue"
        },
        "systemData": {
          "createdBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "createdByType": "Application",
          "createdAt": "2023-08-18T16:23:03.37649Z",
          "lastModifiedBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-18T16:24:09.9544473Z"
        },
        "properties": {
          "dataLocation": "unitedstates",
          "fromSenderDomain": "domain-1690.com",
          "mailFromSenderDomain": "domain-1690.com",
          "domainManagement": "CustomerManaged",
          "verificationStates": {
            "Domain": {
              "status": "NotStarted"
            },
            "SPF": {
              "status": "NotStarted"
            },
            "DKIM": {
              "status": "NotStarted"
            },
            "DKIM2": {
              "status": "NotStarted"
            },
            "DMARC": {
              "status": "NotStarted"
            }
          },
          "verificationRecords": {
            "Domain": {
              "type": "TXT",
              "name": "domain-1690.com",
              "value": "ms-domain-verification=7affb69c-59fc-4bbc-ad62-84a7faceb554",
              "ttl": 3600
            },
            "SPF": {
              "type": "TXT",
              "name": "domain-1690.com",
              "value": "v=spf1 include:spf.protection.outlook.com -all",
              "ttl": 3600
            },
            "DKIM": {
              "type": "CNAME",
              "name": "selector1-azurecomm-prod-net._domainkey",
              "value": "selector1-azurecomm-prod-net._domainkey.azurecomm.net",
              "ttl": 3600
            },
            "DKIM2": {
              "type": "CNAME",
              "name": "selector2-azurecomm-prod-net._domainkey",
              "value": "selector2-azurecomm-prod-net._domainkey.azurecomm.net",
              "ttl": 3600
            }
          },
          "userEngagementTracking": "Disabled",
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6280/providers/Microsoft.Communication/emailServices/email-test5624/domains?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-m[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6280/providers/Microsoft.Communication/emailServices/email-test5624/domains/domain-1690.com?api-version=2023-04-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/7cb107ac-6ad3-4c74-a9c3-e10b6c00c951*13181A2044E1578E5C81DD7F52301F4497786FD2C7AFB77882DEA36598FF69A5?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022a7001e11-0000-0700-0000-64df9b2c0000\u0022",
        "Location": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/7cb107ac-6ad3-4c74-a9c3-e10b6c00c951*13181A2044E1578E5C81DD7F52301F4497786FD2C7AFB77882DEA36598FF69A5?api-version=2023-04-01-preview",
        "mise-correlation-id": "6122d945-4958-4edd-b1e4-08bc437adfdc",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14998"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/7cb107ac-6ad3-4c74-a9c3-e10b6c00c951*13181A2044E1578E5C81DD7F52301F4497786FD2C7AFB77882DEA36598FF69A5?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
       [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/7cb107ac-6ad3-4c74-a9c3-e10b6c00c951*13181A2044E1578E5C81DD7F52301F4497786FD2C7AFB77882DEA36598FF69A5?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220900b6a6-0000-0800-0000-64df9b6f0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/7cb107ac-6ad3-4c74-a9c3-e10b6c00c951*13181A2044E1578E5C81DD7F52301F4497786FD2C7AFB77882DEA36598FF69A5",
        "name": "7cb107ac-6ad3-4c74-a9c3-e10b6c00c951*13181A2044E1578E5C81DD7F52301F4497786FD2C7AFB77882DEA36598FF69A5",
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6280/providers/Microsoft.Communication/emailServices/email-test5624/domains/domain-1690.com",
        "status": "Succeeded",
        "startTime": "2023-08-18T16:24:12.7977768Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "949964478",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "8443df5e-8e12-4cd9-810e-c525196fecae"
  }
}
