{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourcegroups/Communication-RG-3053?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-3053",
        "name": "Communication-RG-3053",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-3053/providers/Microsoft.Communication/emailServices/email-test5724?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ac00183e-0000-0700-0000-64e0aec10000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-3053/providers/Microsoft.Communication/emailServices/email-test5724",
        "name": "email-test5724",
        "type": "microsoft.communication/emailservices",
        "location": "global",
        "tags": {},
        "systemData": {
          "createdBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "createdByType": "Application",
          "createdAt": "2023-08-19T11:59:50.067689Z",
          "lastModifiedBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-19T11:59:50.067689Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "dataLocation": "UnitedStates"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-3053/providers/Microsoft.Communication/emailServices/email-test5724/domains/domain-8883.com?api-version=2023-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "global",
        "properties": {
          "domainManagement": "CustomerManaged"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/ce3a1e60-9790-4a80-ac0a-1254ca9807d6*C391969003A58A9E61C114A0FE5C9170A74515305CB4955A53C23F4F8AAFDF87?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c9002578-0000-0700-0000-64e0b6eb0000\u0022",
        "mise-correlation-id": "ff3f42e8-8066-4da8-a126-4bc08fe23c3a",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-3053/providers/Microsoft.Communication/emailServices/email-test5724/domains/domain-8883.com",
        "name": "domain-8883.com",
        "type": "microsoft.communication/emailservices/domains",
        "location": "global",
        "tags": {},
        "systemData": {
          "createdBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "createdByType": "Application",
          "createdAt": "2023-08-19T12:34:51.2272521Z",
          "lastModifiedBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-19T12:34:51.2272521Z"
        },
        "properties": {
          "domainManagement": "CustomerManaged",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/ce3a1e60-9790-4a80-ac0a-1254ca9807d6*C391969003A58A9E61C114A0FE5C9170A74515305CB4955A53C23F4F8AAFDF87?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002208003a02-0000-0800-0000-64e0b6eb0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/ce3a1e60-9790-4a80-ac0a-1254ca9807d6*C391969003A58A9E61C114A0FE5C9170A74515305CB4955A53C23F4F8AAFDF87",
        "name": "ce3a1e60-9790-4a80-ac0a-1254ca9807d6*C391969003A58A9E61C114A0FE5C9170A74515305CB4955A53C23F4F8AAFDF87",
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-3053/providers/Microsoft.Communication/emailServices/email-test5724/domains/domain-8883.com",
        "status": "Accepted",
        "startTime": "2023-08-19T12:34:51.5511719Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-3053/providers/Microsoft.Communication/emailServices/email-test5724/domains/domain-8883.com/providers/Microsoft.Resources/tags/default?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11986"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-3053/providers/Microsoft.Communication/EmailServices/email-test5724/Domains/domain-8883.com/providers/Microsoft.Resources/tags/default",
        "name": "default",
        "type": "Microsoft.Resources/tags",
        "properties": {
          "tags": {}
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-3053/providers/Microsoft.Communication/emailServices/email-test5724/domains/domain-8883.com/providers/Microsoft.Resources/tags/default?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "tags": {
            "testkey": "testvalue"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-3053/providers/Microsoft.Communication/EmailServices/email-test5724/Domains/domain-8883.com/providers/Microsoft.Resources/tags/default",
        "name": "default",
        "type": "Microsoft.Resources/tags",
        "properties": {
          "tags": {
            "testkey": "testvalue"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-3053/providers/Microsoft.Communication/emailServices/email-test5724/domains/domain-8883.com?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c9008981-0000-0700-0000-64e0b7500000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11982"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-3053/providers/Microsoft.Communication/emailServices/email-test5724/domains/domain-8883.com",
        "name": "domain-8883.com",
        "type": "microsoft.communication/emailservices/domains",
        "location": "global",
        "tags": {},
        "systemData": {
          "createdBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "createdByType": "Application",
          "createdAt": "2023-08-19T12:34:51.2272521Z",
          "lastModifiedBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-19T12:36:31.4994384Z"
        },
        "properties": {
          "dataLocation": "unitedstates",
          "fromSenderDomain": "domain-8883.com",
          "mailFromSenderDomain": "domain-8883.com",
          "domainManagement": "CustomerManaged",
          "verificationStates": {
            "Domain": {
              "status": "NotStarted"
            },
            "SPF": {
              "status": "NotStarted"
            },
            "DKIM": {
              "status": "NotStarted"
            },
            "DKIM2": {
              "status": "NotStarted"
            },
            "DMARC": {
              "status": "NotStarted"
            }
          },
          "verificationRecords": {
            "Domain": {
              "type": "TXT",
              "name": "domain-8883.com",
              "value": "ms-domain-verification=97ac8bfb-5f55-426f-9da5-01a85d96e250",
              "ttl": 3600
            },
            "SPF": {
              "type": "TXT",
              "name": "domain-8883.com",
              "value": "v=spf1 include:spf.protection.outlook.com -all",
              "ttl": 3600
            },
            "DKIM": {
              "type": "CNAME",
              "name": "selector1-azurecomm-prod-net._domainkey",
              "value": "selector1-azurecomm-prod-net._domainkey.azurecomm.net",
              "ttl": 3600
            },
            "DKIM2": {
              "type": "CNAME",
              "name": "selector2-azurecomm-prod-net._domainkey",
              "value": "selector2-azurecomm-prod-net._domainkey.azurecomm.net",
              "ttl": 3600
            }
          },
          "userEngagementTracking": "Disabled",
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-3053/providers/Microsoft.Communication/emailServices/email-test5724/domains?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-m[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-3053/providers/Microsoft.Communication/emailServices/email-test5724/domains/domain-8883.com?api-version=2023-04-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/04f6c90b-52f6-459b-bc3b-765e0d7e502f*C391969003A58A9E61C114A0FE5C9170A74515305CB4955A53C23F4F8AAFDF87?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c9009c81-0000-0700-0000-64e0b7510000\u0022",
        "Location": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/04f6c90b-52f6-459b-bc3b-765e0d7e502f*C391969003A58A9E61C114A0FE5C9170A74515305CB4955A53C23F4F8AAFDF87?api-version=2023-04-01-preview",
        "mise-correlation-id": "ce9d9303-4a8e-41e3-ac1a-99157afa95d5",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/04f6c90b-52f6-459b-bc3b-765e0d7e502f*C391969003A58A9E61C114A0FE5C9170A74515305CB4955A53C23F4F8AAFDF87?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
       [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/04f6c90b-52f6-459b-bc3b-765e0d7e502f*C391969003A58A9E61C114A0FE5C9170A74515305CB4955A53C23F4F8AAFDF87?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002208001003-0000-0800-0000-64e0b7920000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11970"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/04f6c90b-52f6-459b-bc3b-765e0d7e502f*C391969003A58A9E61C114A0FE5C9170A74515305CB4955A53C23F4F8AAFDF87",
        "name": "04f6c90b-52f6-459b-bc3b-765e0d7e502f*C391969003A58A9E61C114A0FE5C9170A74515305CB4955A53C23F4F8AAFDF87",
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-3053/providers/Microsoft.Communication/emailServices/email-test5724/domains/domain-8883.com",
        "status": "Succeeded",
        "startTime": "2023-08-19T12:36:33.1536865Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "369914315",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "8443df5e-8e12-4cd9-810e-c525196fecae"
  }
}
