{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourcegroups/Communication-RG-9814?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-9814",
        "name": "Communication-RG-9814",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-9814/providers/Microsoft.Communication/emailServices/email-test5523?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224405e1b3-0000-0700-0000-64f54c460000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-9814/providers/Microsoft.Communication/emailServices/email-test5523",
        "name": "email-test5523",
        "type": "microsoft.communication/emailservices",
        "location": "global",
        "tags": {},
        "systemData": {
          "createdBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "createdByType": "Application",
          "createdAt": "2023-09-04T03:17:15.4324238Z",
          "lastModifiedBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-09-04T03:17:15.4324238Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "dataLocation": "UnitedStates"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-9814/providers/Microsoft.Communication/emailServices/email-test5523/domains/domain-8568.com?api-version=2023-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "global",
        "properties": {
          "domainManagement": "CustomerManaged"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/2aa37a9c-9695-4bef-a086-9d0f8b21382e*0D0656DC786E07261A9B1B3FDD366A467525EDDE858DCC5F96A0513F6DA91268?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222d034fea-0000-0100-0000-64f553520000\u0022",
        "mise-correlation-id": "63edab16-54cf-4ed0-8816-d3c9b94c2159",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-9814/providers/Microsoft.Communication/emailServices/email-test5523/domains/domain-8568.com",
        "name": "domain-8568.com",
        "type": "microsoft.communication/emailservices/domains",
        "location": "global",
        "tags": {},
        "systemData": {
          "createdBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "createdByType": "Application",
          "createdAt": "2023-09-04T03:47:29.8844646Z",
          "lastModifiedBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-09-04T03:47:29.8844646Z"
        },
        "properties": {
          "domainManagement": "CustomerManaged",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/2aa37a9c-9695-4bef-a086-9d0f8b21382e*0D0656DC786E07261A9B1B3FDD366A467525EDDE858DCC5F96A0513F6DA91268?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022bd01a86a-0000-0100-0000-64f553520000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/2aa37a9c-9695-4bef-a086-9d0f8b21382e*0D0656DC786E07261A9B1B3FDD366A467525EDDE858DCC5F96A0513F6DA91268",
        "name": "2aa37a9c-9695-4bef-a086-9d0f8b21382e*0D0656DC786E07261A9B1B3FDD366A467525EDDE858DCC5F96A0513F6DA91268",
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-9814/providers/Microsoft.Communication/emailServices/email-test5523/domains/domain-8568.com",
        "status": "Accepted",
        "startTime": "2023-09-04T03:47:30.1578735Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-9814/providers/Microsoft.Communication/emailServices/email-test5523/domains/domain-8568.com?api-version=2023-04-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "testkey": "testvalue"
        },
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222d03e8ee-0000-0100-0000-64f553970000\u0022",
        "mise-correlation-id": "9787f898-1adb-4583-a50c-17c4c917bc90",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-9814/providers/Microsoft.Communication/emailServices/email-test5523/domains/domain-8568.com",
        "name": "domain-8568.com",
        "type": "microsoft.communication/emailservices/domains",
        "location": "global",
        "tags": {
          "testkey": "testvalue"
        },
        "systemData": {
          "createdBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "createdByType": "Application",
          "createdAt": "2023-09-04T03:47:29.8844646Z",
          "lastModifiedBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-09-04T03:48:38.3845952Z"
        },
        "properties": {
          "dataLocation": "unitedstates",
          "fromSenderDomain": "domain-8568.com",
          "mailFromSenderDomain": "domain-8568.com",
          "domainManagement": "CustomerManaged",
          "verificationStates": {
            "Domain": {
              "status": "NotStarted"
            },
            "SPF": {
              "status": "NotStarted"
            },
            "DKIM": {
              "status": "NotStarted"
            },
            "DKIM2": {
              "status": "NotStarted"
            },
            "DMARC": {
              "status": "NotStarted"
            }
          },
          "verificationRecords": {
            "Domain": {
              "type": "TXT",
              "name": "domain-8568.com",
              "value": "ms-domain-verification=729ea82b-b2b4-4db3-87b2-6fbfddde84c5",
              "ttl": 3600
            },
            "SPF": {
              "type": "TXT",
              "name": "domain-8568.com",
              "value": "v=spf1 include:spf.protection.outlook.com -all",
              "ttl": 3600
            },
            "DKIM": {
              "type": "CNAME",
              "name": "selector1-azurecomm-prod-net._domainkey",
              "value": "selector1-azurecomm-prod-net._domainkey.azurecomm.net",
              "ttl": 3600
            },
            "DKIM2": {
              "type": "CNAME",
              "name": "selector2-azurecomm-prod-net._domainkey",
              "value": "selector2-azurecomm-prod-net._domainkey.azurecomm.net",
              "ttl": 3600
            }
          },
          "userEngagementTracking": "Disabled",
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-9814/providers/Microsoft.Communication/emailServices/email-test5523/domains?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-m[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-9814/providers/Microsoft.Communication/emailServices/email-test5523/domains/domain-8568.com?api-version=2023-04-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/cfe5e80c-4260-47f5-a888-90545c17c5e7*0D0656DC786E07261A9B1B3FDD366A467525EDDE858DCC5F96A0513F6DA91268?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222d0333ef-0000-0100-0000-64f5539a0000\u0022",
        "Location": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/cfe5e80c-4260-47f5-a888-90545c17c5e7*0D0656DC786E07261A9B1B3FDD366A467525EDDE858DCC5F96A0513F6DA91268?api-version=2023-04-01-preview",
        "mise-correlation-id": "dcc5b7bc-e483-46e8-863e-c2c2dc719075",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14998"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/cfe5e80c-4260-47f5-a888-90545c17c5e7*0D0656DC786E07261A9B1B3FDD366A467525EDDE858DCC5F96A0513F6DA91268?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
       [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/cfe5e80c-4260-47f5-a888-90545c17c5e7*0D0656DC786E07261A9B1B3FDD366A467525EDDE858DCC5F96A0513F6DA91268?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222500b73c-0000-0800-0000-64f553dc0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11981"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/cfe5e80c-4260-47f5-a888-90545c17c5e7*0D0656DC786E07261A9B1B3FDD366A467525EDDE858DCC5F96A0513F6DA91268",
        "name": "cfe5e80c-4260-47f5-a888-90545c17c5e7*0D0656DC786E07261A9B1B3FDD366A467525EDDE858DCC5F96A0513F6DA91268",
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-9814/providers/Microsoft.Communication/emailServices/email-test5523/domains/domain-8568.com",
        "status": "Succeeded",
        "startTime": "2023-09-04T03:48:42.5810338Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "2100325350",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "8443df5e-8e12-4cd9-810e-c525196fecae"
  }
}
