{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourcegroups/Communication-RG-6280?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11913"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6280",
        "name": "Communication-RG-6280",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6280/providers/Microsoft.Communication/emailServices/email-test5624?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227b00acfd-0000-0700-0000-64df96450000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11912"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6280/providers/Microsoft.Communication/emailServices/email-test5624",
        "name": "email-test5624",
        "type": "microsoft.communication/emailservices",
        "location": "global",
        "tags": {},
        "systemData": {
          "createdBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "createdByType": "Application",
          "createdAt": "2023-08-18T16:03:05.2958418Z",
          "lastModifiedBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-18T16:03:05.2958418Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "dataLocation": "UnitedStates"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6280/providers/Microsoft.Communication/emailServices/email-test5624/domains/domain-2679.com?api-version=2023-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "global",
        "properties": {
          "domainManagement": "CustomerManaged"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/cfaa99f7-72e8-4e9b-bb14-200c0cfb6500*0FE0EAA0E804E050A6439D7FDE68E35492C5F102EF97B9AF5C53909587465878?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022a60091c0-0000-0700-0000-64df99a70000\u0022",
        "mise-correlation-id": "f3f56a91-b81f-4d1b-993b-64c2421b5a49",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6280/providers/Microsoft.Communication/emailServices/email-test5624/domains/domain-2679.com",
        "name": "domain-2679.com",
        "type": "microsoft.communication/emailservices/domains",
        "location": "global",
        "tags": {},
        "systemData": {
          "createdBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "createdByType": "Application",
          "createdAt": "2023-08-18T16:17:42.896556Z",
          "lastModifiedBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-18T16:17:42.896556Z"
        },
        "properties": {
          "domainManagement": "CustomerManaged",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/cfaa99f7-72e8-4e9b-bb14-200c0cfb6500*0FE0EAA0E804E050A6439D7FDE68E35492C5F102EF97B9AF5C53909587465878?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002206002cac-0000-0800-0000-64df99a70000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11911"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/cfaa99f7-72e8-4e9b-bb14-200c0cfb6500*0FE0EAA0E804E050A6439D7FDE68E35492C5F102EF97B9AF5C53909587465878",
        "name": "cfaa99f7-72e8-4e9b-bb14-200c0cfb6500*0FE0EAA0E804E050A6439D7FDE68E35492C5F102EF97B9AF5C53909587465878",
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6280/providers/Microsoft.Communication/emailServices/email-test5624/domains/domain-2679.com",
        "status": "Accepted",
        "startTime": "2023-08-18T16:17:43.2532595Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11901"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "8443df5e-8e12-4cd9-810e-c525196fecae",
        "tenantId": "9fd9531e-984c-4649-b30e-ca03c39a0b32",
        "displayName": "Visual Studio Enterprise Subscription",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "MSDN_2014-09-01",
          "spendingLimit": "On"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Resources?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11900"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Resources",
        "namespace": "Microsoft.Resources",
        "authorizations": [
          {
            "applicationId": "94946920-7f9c-4956-93c0-2fcf94608102"
          },
          {
            "applicationId": "3b990c8b-9607-4c2a-8b04-1d41985facca"
          }
        ],
        "resourceTypes": [
          {
            "resourceType": "tagnamespaces",
            "locations": [
              "Central US EUAP",
              "East US 2 EUAP",
              "Canada Central",
              "Canada East",
              "Central US",
              "East US",
              "East US 2",
              "North Central US",
              "South Central US",
              "West Central US",
              "West US",
              "West US 2",
              "West US 3"
            ],
            "apiVersions": [
              "2023-03-01-preview"
            ],
            "capabilities": "SupportsExtension"
          },
          {
            "resourceType": "tagNamespaceOperationResults",
            "locations": [],
            "apiVersions": [
              "2023-03-01-preview"
            ],
            "capabilities": "None"
          },
          {
            "resourceType": "deploymentScripts",
            "locations": [
              "East Asia",
              "Southeast Asia",
              "Australia East",
              "Australia Southeast",
              "Brazil [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6280/providers/Microsoft.Communication/emailServices/email-test5624/domains/domain-2679.com/providers/Microsoft.Resources/tags/default?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11899"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6280/providers/Microsoft.Communication/EmailServices/email-test5624/Domains/domain-2679.com/providers/Microsoft.Resources/tags/default",
        "name": "default",
        "type": "Microsoft.Resources/tags",
        "properties": {
          "tags": {}
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6280/providers/Microsoft.Communication/emailServices/email-test5624/domains/domain-2679.com/providers/Microsoft.Resources/tags/default?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "tags": {
            "testkey": "testvalue"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6280/providers/Microsoft.Communication/EmailServices/email-test5624/Domains/domain-2679.com/providers/Microsoft.Resources/tags/default",
        "name": "default",
        "type": "Microsoft.Resources/tags",
        "properties": {
          "tags": {
            "testkey": "testvalue"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6280/providers/Microsoft.Communication/emailServices/email-test5624/domains/domain-2679.com?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022a600f3ce-0000-0700-0000-64df99eb0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11895"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6280/providers/Microsoft.Communication/emailServices/email-test5624/domains/domain-2679.com",
        "name": "domain-2679.com",
        "type": "microsoft.communication/emailservices/domains",
        "location": "global",
        "tags": {},
        "systemData": {
          "createdBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "createdByType": "Application",
          "createdAt": "2023-08-18T16:17:42.896556Z",
          "lastModifiedBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-18T16:18:51.4283407Z"
        },
        "properties": {
          "dataLocation": "unitedstates",
          "fromSenderDomain": "domain-2679.com",
          "mailFromSenderDomain": "domain-2679.com",
          "domainManagement": "CustomerManaged",
          "verificationStates": {
            "Domain": {
              "status": "NotStarted"
            },
            "SPF": {
              "status": "NotStarted"
            },
            "DKIM": {
              "status": "NotStarted"
            },
            "DKIM2": {
              "status": "NotStarted"
            },
            "DMARC": {
              "status": "NotStarted"
            }
          },
          "verificationRecords": {
            "Domain": {
              "type": "TXT",
              "name": "domain-2679.com",
              "value": "ms-domain-verification=1374e4ae-ae74-4789-bdba-67a735bc3f62",
              "ttl": 3600
            },
            "SPF": {
              "type": "TXT",
              "name": "domain-2679.com",
              "value": "v=spf1 include:spf.protection.outlook.com -all",
              "ttl": 3600
            },
            "DKIM": {
              "type": "CNAME",
              "name": "selector1-azurecomm-prod-net._domainkey",
              "value": "selector1-azurecomm-prod-net._domainkey.azurecomm.net",
              "ttl": 3600
            },
            "DKIM2": {
              "type": "CNAME",
              "name": "selector2-azurecomm-prod-net._domainkey",
              "value": "selector2-azurecomm-prod-net._domainkey.azurecomm.net",
              "ttl": 3600
            }
          },
          "userEngagementTracking": "Disabled",
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6280/providers/Microsoft.Communication/emailServices/email-test5624/domains?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-m[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6280/providers/Microsoft.Communication/emailServices/email-test5624/domains/domain-2679.com?api-version=2023-04-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/992a8f3a-c13c-4dde-9e9f-89c6a21b40cc*0FE0EAA0E804E050A6439D7FDE68E35492C5F102EF97B9AF5C53909587465878?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022a60030cf-0000-0700-0000-64df99ed0000\u0022",
        "Location": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/992a8f3a-c13c-4dde-9e9f-89c6a21b40cc*0FE0EAA0E804E050A6439D7FDE68E35492C5F102EF97B9AF5C53909587465878?api-version=2023-04-01-preview",
        "mise-correlation-id": "b595ea8e-f128-4673-9ed7-adbdc6bce37e",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14996"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/992a8f3a-c13c-4dde-9e9f-89c6a21b40cc*0FE0EAA0E804E050A6439D7FDE68E35492C5F102EF97B9AF5C53909587465878?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
       [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/992a8f3a-c13c-4dde-9e9f-89c6a21b40cc*0FE0EAA0E804E050A6439D7FDE68E35492C5F102EF97B9AF5C53909587465878?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002206008cad-0000-0800-0000-64df9a2e0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/992a8f3a-c13c-4dde-9e9f-89c6a21b40cc*0FE0EAA0E804E050A6439D7FDE68E35492C5F102EF97B9AF5C53909587465878",
        "name": "992a8f3a-c13c-4dde-9e9f-89c6a21b40cc*0FE0EAA0E804E050A6439D7FDE68E35492C5F102EF97B9AF5C53909587465878",
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6280/providers/Microsoft.Communication/emailServices/email-test5624/domains/domain-2679.com",
        "status": "Succeeded",
        "startTime": "2023-08-18T16:18:52.9788073Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1773821044",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "8443df5e-8e12-4cd9-810e-c525196fecae"
  }
}
