{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourcegroups/Communication-RG-6280?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6280",
        "name": "Communication-RG-6280",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6280/providers/Microsoft.Communication/emailServices/email-test5624?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227b00acfd-0000-0700-0000-64df96450000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6280/providers/Microsoft.Communication/emailServices/email-test5624",
        "name": "email-test5624",
        "type": "microsoft.communication/emailservices",
        "location": "global",
        "tags": {},
        "systemData": {
          "createdBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "createdByType": "Application",
          "createdAt": "2023-08-18T16:03:05.2958418Z",
          "lastModifiedBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-18T16:03:05.2958418Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "dataLocation": "UnitedStates"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6280/providers/Microsoft.Communication/emailServices/email-test5624/domains/domain-6646.com?api-version=2023-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "global",
        "properties": {
          "domainManagement": "CustomerManaged"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/cd9e3fa5-8c4e-4997-927f-8dc167bf9496*186FD5CF7754FF88324EE1D4B40265F473C521AAC806AE47BFE91A5B2B82E742?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022a700416a-0000-0700-0000-64df9ce50000\u0022",
        "mise-correlation-id": "dbe288a7-9382-439f-90df-40b4671636d9",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6280/providers/Microsoft.Communication/emailServices/email-test5624/domains/domain-6646.com",
        "name": "domain-6646.com",
        "type": "microsoft.communication/emailservices/domains",
        "location": "global",
        "tags": {},
        "systemData": {
          "createdBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "createdByType": "Application",
          "createdAt": "2023-08-18T16:31:32.9277889Z",
          "lastModifiedBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-18T16:31:32.9277889Z"
        },
        "properties": {
          "domainManagement": "CustomerManaged",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/cd9e3fa5-8c4e-4997-927f-8dc167bf9496*186FD5CF7754FF88324EE1D4B40265F473C521AAC806AE47BFE91A5B2B82E742?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022060092b6-0000-0800-0000-64df9ce50000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/cd9e3fa5-8c4e-4997-927f-8dc167bf9496*186FD5CF7754FF88324EE1D4B40265F473C521AAC806AE47BFE91A5B2B82E742",
        "name": "cd9e3fa5-8c4e-4997-927f-8dc167bf9496*186FD5CF7754FF88324EE1D4B40265F473C521AAC806AE47BFE91A5B2B82E742",
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6280/providers/Microsoft.Communication/emailServices/email-test5624/domains/domain-6646.com",
        "status": "Accepted",
        "startTime": "2023-08-18T16:31:33.0806848Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6280/providers/Microsoft.Communication/emailServices/email-test5624/domains/domain-6646.com?api-version=2023-04-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "testkey": "testvalue"
        },
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022a7003f7d-0000-0700-0000-64df9d470000\u0022",
        "mise-correlation-id": "71d64354-0def-45b1-a315-0db35d10baed",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6280/providers/Microsoft.Communication/emailServices/email-test5624/domains/domain-6646.com",
        "name": "domain-6646.com",
        "type": "microsoft.communication/emailservices/domains",
        "location": "global",
        "tags": {
          "testkey": "testvalue"
        },
        "systemData": {
          "createdBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "createdByType": "Application",
          "createdAt": "2023-08-18T16:31:32.9277889Z",
          "lastModifiedBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-18T16:33:11.4437701Z"
        },
        "properties": {
          "dataLocation": "unitedstates",
          "fromSenderDomain": "domain-6646.com",
          "mailFromSenderDomain": "domain-6646.com",
          "domainManagement": "CustomerManaged",
          "verificationStates": {
            "Domain": {
              "status": "NotStarted"
            },
            "SPF": {
              "status": "NotStarted"
            },
            "DKIM": {
              "status": "NotStarted"
            },
            "DKIM2": {
              "status": "NotStarted"
            },
            "DMARC": {
              "status": "NotStarted"
            }
          },
          "verificationRecords": {
            "Domain": {
              "type": "TXT",
              "name": "domain-6646.com",
              "value": "ms-domain-verification=0d5d5559-8bf8-4657-855c-55363d1bc4a9",
              "ttl": 3600
            },
            "SPF": {
              "type": "TXT",
              "name": "domain-6646.com",
              "value": "v=spf1 include:spf.protection.outlook.com -all",
              "ttl": 3600
            },
            "DKIM": {
              "type": "CNAME",
              "name": "selector1-azurecomm-prod-net._domainkey",
              "value": "selector1-azurecomm-prod-net._domainkey.azurecomm.net",
              "ttl": 3600
            },
            "DKIM2": {
              "type": "CNAME",
              "name": "selector2-azurecomm-prod-net._domainkey",
              "value": "selector2-azurecomm-prod-net._domainkey.azurecomm.net",
              "ttl": 3600
            }
          },
          "userEngagementTracking": "Disabled",
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6280/providers/Microsoft.Communication/emailServices/email-test5624/domains/domain-6646.com?api-version=2023-04-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "newtestkey": "newtestvalue"
        },
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022a700807d-0000-0700-0000-64df9d490000\u0022",
        "mise-correlation-id": "30fb25fe-0700-4e15-b4f8-1e272cbd790f",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6280/providers/Microsoft.Communication/emailServices/email-test5624/domains?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-m[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6280/providers/Microsoft.Communication/emailServices/email-test5624/domains/domain-6646.com?api-version=2023-04-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/2b979667-8e00-47fd-b8b3-be89d349b5ef*186FD5CF7754FF88324EE1D4B40265F473C521AAC806AE47BFE91A5B2B82E742?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022a700b27d-0000-0700-0000-64df9d4a0000\u0022",
        "Location": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/2b979667-8e00-47fd-b8b3-be89d349b5ef*186FD5CF7754FF88324EE1D4B40265F473C521AAC806AE47BFE91A5B2B82E742?api-version=2023-04-01-preview",
        "mise-correlation-id": "2d77a76a-f17c-4be4-b45e-895c0470f56f",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/2b979667-8e00-47fd-b8b3-be89d349b5ef*186FD5CF7754FF88324EE1D4B40265F473C521AAC806AE47BFE91A5B2B82E742?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
       [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/2b979667-8e00-47fd-b8b3-be89d349b5ef*186FD5CF7754FF88324EE1D4B40265F473C521AAC806AE47BFE91A5B2B82E742?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221800891a-0000-0700-0000-64df9d8c0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11971"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/2b979667-8e00-47fd-b8b3-be89d349b5ef*186FD5CF7754FF88324EE1D4B40265F473C521AAC806AE47BFE91A5B2B82E742",
        "name": "2b979667-8e00-47fd-b8b3-be89d349b5ef*186FD5CF7754FF88324EE1D4B40265F473C521AAC806AE47BFE91A5B2B82E742",
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6280/providers/Microsoft.Communication/emailServices/email-test5624/domains/domain-6646.com",
        "status": "Succeeded",
        "startTime": "2023-08-18T16:33:14.3134963Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "150602835",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "8443df5e-8e12-4cd9-810e-c525196fecae"
  }
}
