{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourcegroups/Communication-RG-1505?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1505",
        "name": "Communication-RG-1505",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1505/providers/Microsoft.Communication/emailServices/email-test7284?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022aa005eb8-0000-0700-0000-64e0a33d0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1505/providers/Microsoft.Communication/emailServices/email-test7284",
        "name": "email-test7284",
        "type": "microsoft.communication/emailservices",
        "location": "global",
        "tags": {},
        "systemData": {
          "createdBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "createdByType": "Application",
          "createdAt": "2023-08-19T11:10:42.3321495Z",
          "lastModifiedBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-19T11:10:42.3321495Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "dataLocation": "UnitedStates"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1505/providers/Microsoft.Communication/emailServices/email-test7284/domains/domain-1624.com?api-version=2023-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "global",
        "properties": {
          "domainManagement": "CustomerManaged"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/cebdae4e-e536-4080-91be-223a1ae19121*0046ABF80D5D992C6BCF549582111B548E7F5B54D27063554333F770457139C8?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c800be96-0000-0700-0000-64e0ad210000\u0022",
        "mise-correlation-id": "0b9a9ba8-4e4e-4539-a47c-3e62f92f0196",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1505/providers/Microsoft.Communication/emailServices/email-test7284/domains/domain-1624.com",
        "name": "domain-1624.com",
        "type": "microsoft.communication/emailservices/domains",
        "location": "global",
        "tags": {},
        "systemData": {
          "createdBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "createdByType": "Application",
          "createdAt": "2023-08-19T11:53:05.5896801Z",
          "lastModifiedBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-19T11:53:05.5896801Z"
        },
        "properties": {
          "domainManagement": "CustomerManaged",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/cebdae4e-e536-4080-91be-223a1ae19121*0046ABF80D5D992C6BCF549582111B548E7F5B54D27063554333F770457139C8?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220b009fe5-0000-0800-0000-64e0ad210000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/cebdae4e-e536-4080-91be-223a1ae19121*0046ABF80D5D992C6BCF549582111B548E7F5B54D27063554333F770457139C8",
        "name": "cebdae4e-e536-4080-91be-223a1ae19121*0046ABF80D5D992C6BCF549582111B548E7F5B54D27063554333F770457139C8",
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1505/providers/Microsoft.Communication/emailServices/email-test7284/domains/domain-1624.com",
        "status": "Accepted",
        "startTime": "2023-08-19T11:53:05.7510739Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1505/providers/Microsoft.Communication/emailServices/email-test7284/domains/domain-1624.com/providers/Microsoft.Resources/tags/default?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11984"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1505/providers/Microsoft.Communication/EmailServices/email-test7284/Domains/domain-1624.com/providers/Microsoft.Resources/tags/default",
        "name": "default",
        "type": "Microsoft.Resources/tags",
        "properties": {
          "tags": {}
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1505/providers/Microsoft.Communication/emailServices/email-test7284/domains/domain-1624.com/providers/Microsoft.Resources/tags/default?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "tags": {
            "testkey": "testvalue"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1505/providers/Microsoft.Communication/EmailServices/email-test7284/Domains/domain-1624.com/providers/Microsoft.Resources/tags/default",
        "name": "default",
        "type": "Microsoft.Resources/tags",
        "properties": {
          "tags": {
            "testkey": "testvalue"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1505/providers/Microsoft.Communication/emailServices/email-test7284/domains/domain-1624.com/providers/Microsoft.Resources/tags/default?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "tags": {
            "newtestkey": "newtestvalue"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1505/providers/Microsoft.Communication/EmailServices/email-test7284/Domains/domain-1624.com/providers/Microsoft.Resources/tags/default",
        "name": "default",
        "type": "Microsoft.Resources/tags",
        "properties": {
          "tags": {
            "newtestkey": "newtestvalue"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1505/providers/Microsoft.Communication/emailServices/email-test7284/domains?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11978"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1505/providers/Microsoft.Communication/emailServices/email-test7284/domains/domain-1624.com",
            "name": "domain-1624.com",
            "type": "microsoft.communication/emailservices/domains",
            "location": "global",
            "tags": {
              "newtestkey": "newtestvalue"
            },
            "systemData": {
              "createdBy": "00226471-3a95-403e-98c0-dca45fecd307",
              "createdByType": "Application",
              "createdAt": "2023-08-19T11:53:05.5896801Z",
              "lastModifiedBy": "00226471-3a95-403e-98c0-dca45fecd307",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-08-19T11:54:46.7139326Z"
            },
            "properties": {
              "dataLocation": "unitedstates",
              "fromSenderDomain": "domain-1624.com",
              "mailFromSenderDomain": "domain-1624.com",
              "domainManagement": "CustomerManaged",
              "verificationStates": {
                "Domain": {
                  "status": "NotStarted"
                },
                "SPF": {
                  "status": "NotStarted"
                },
                "DKIM": {
                  "status": "NotStarted"
                },
                "DKIM2": {
                  "status": "NotStarted"
                },
                "DMARC": {
                  "status": "NotStarted"
                }
              },
              "verificationRecords": {
                "Domain": {
                  "type": "TXT",
                  "name": "domain-1624.com",
                  "value": "ms-domain-verification=77d98286-84c4-4167-87ce-1a15c3d686fd",
                  "ttl": 3600
                },
                "SPF": {
                  "type": "TXT",
                  "name": "domain-1624.com",
                  "value": "v=spf1 include:spf.protection.outlook.com -all",
                  "ttl": 3600
                },
                "DKIM": {
                  "type": "CNAME",
                  "name": "selector1-azurecomm-prod-net._domainkey",
                  "value": "selector1-azurecomm-prod-net._domainkey.azurecomm.net",
                  "ttl": 3600
                },
                "DKIM2": {
                  "type": "CNAME",
                  "name": "selector2-azurecomm-prod-net._domainkey",
                  "value": "selector2-azurecomm-prod-net._domainkey.azurecomm.net",
                  "ttl": 3600
                }
              },
              "userEngagementTracking": "Disabled",
              "provisioningState": "Succeeded"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1505/providers/Microsoft.Communication/emailServices/email-test7284/domains/domain-1624.com?api-version=2023-04-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/dbca928b-4d28-40fc-9d3a-6b7e6a1094eb*0046ABF80D5D992C6BCF549582111B548E7F5B54D27063554333F770457139C8?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c800c99f-0000-0700-0000-64e0ad880000\u0022",
        "Location": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/dbca928b-4d28-40fc-9d3a-6b7e6a1094eb*0046ABF80D5D992C6BCF549582111B548E7F5B54D27063554333F770457139C8?api-version=2023-04-01-preview",
        "mise-correlation-id": "336c0400-d302-450a-910f-6c9f27108723",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14998"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/dbca928b-4d28-40fc-9d3a-6b7e6a1094eb*0046ABF80D5D992C6BCF549582111B548E7F5B54D27063554333F770457139C8?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
       [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/dbca928b-4d28-40fc-9d3a-6b7e6a1094eb*0046ABF80D5D992C6BCF549582111B548E7F5B54D27063554333F770457139C8?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220b0017e7-0000-0800-0000-64e0adca0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11969"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/dbca928b-4d28-40fc-9d3a-6b7e6a1094eb*0046ABF80D5D992C6BCF549582111B548E7F5B54D27063554333F770457139C8",
        "name": "dbca928b-4d28-40fc-9d3a-6b7e6a1094eb*0046ABF80D5D992C6BCF549582111B548E7F5B54D27063554333F770457139C8",
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1505/providers/Microsoft.Communication/emailServices/email-test7284/domains/domain-1624.com",
        "status": "Succeeded",
        "startTime": "2023-08-19T11:54:48.1755601Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "831582096",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "8443df5e-8e12-4cd9-810e-c525196fecae"
  }
}
