{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourcegroups/Communication-RG-3053?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11968"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-3053",
        "name": "Communication-RG-3053",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-3053/providers/Microsoft.Communication/emailServices/email-test5724?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ac00183e-0000-0700-0000-64e0aec10000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11967"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-3053/providers/Microsoft.Communication/emailServices/email-test5724",
        "name": "email-test5724",
        "type": "microsoft.communication/emailservices",
        "location": "global",
        "tags": {},
        "systemData": {
          "createdBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "createdByType": "Application",
          "createdAt": "2023-08-19T11:59:50.067689Z",
          "lastModifiedBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-19T11:59:50.067689Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "dataLocation": "UnitedStates"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-3053/providers/Microsoft.Communication/emailServices/email-test5724/domains/domain-7721.com?api-version=2023-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "global",
        "properties": {
          "domainManagement": "CustomerManaged"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/181ebb86-c688-424c-8f2a-cebb77bfa206*A7E10672F86B589247BA14E02801F2B6786B0C2F7C0FF4C4C436D2FBCDB1E7DE?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c9001721-0000-0700-0000-64e0b3210000\u0022",
        "mise-correlation-id": "517a90a5-c3e1-4ce0-82b2-1fb605447b57",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-3053/providers/Microsoft.Communication/emailServices/email-test5724/domains/domain-7721.com",
        "name": "domain-7721.com",
        "type": "microsoft.communication/emailservices/domains",
        "location": "global",
        "tags": {},
        "systemData": {
          "createdBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "createdByType": "Application",
          "createdAt": "2023-08-19T12:18:41.4411943Z",
          "lastModifiedBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-19T12:18:41.4411943Z"
        },
        "properties": {
          "domainManagement": "CustomerManaged",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/181ebb86-c688-424c-8f2a-cebb77bfa206*A7E10672F86B589247BA14E02801F2B6786B0C2F7C0FF4C4C436D2FBCDB1E7DE?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220b0006f0-0000-0800-0000-64e0b3210000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11966"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/181ebb86-c688-424c-8f2a-cebb77bfa206*A7E10672F86B589247BA14E02801F2B6786B0C2F7C0FF4C4C436D2FBCDB1E7DE",
        "name": "181ebb86-c688-424c-8f2a-cebb77bfa206*A7E10672F86B589247BA14E02801F2B6786B0C2F7C0FF4C4C436D2FBCDB1E7DE",
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-3053/providers/Microsoft.Communication/emailServices/email-test5724/domains/domain-7721.com",
        "status": "Accepted",
        "startTime": "2023-08-19T12:18:41.7811988Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-3053/providers/Microsoft.Communication/emailServices/email-test5724/domains/domain-7721.com/initiateVerification?api-version=2023-04-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "verificationType": "SPF"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/b34771f2-b1b1-4e44-b894-dd48adc961a0*A7E10672F86B589247BA14E02801F2B6786B0C2F7C0FF4C4C436D2FBCDB1E7DE?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/b34771f2-b1b1-4e44-b894-dd48adc961a0*A7E10672F86B589247BA14E02801F2B6786B0C2F7C0FF4C4C436D2FBCDB1E7DE?api-version=2023-04-01-preview",
        "mise-correlation-id": "36697264-8b24-40b4-bc73-96ebc683f06a",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/b34771f2-b1b1-4e44-b894-dd48adc961a0*A7E10672F86B589247BA14E02801F2B6786B0C2F7C0FF4C4C436D2FBCDB1E7DE?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220b003bf0-0000-0800-0000-64e0b3640000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/b34771f2-b1b1-4e44-b894-dd48adc961a0*A7E10672F86B589247BA14E02801F2B6786B0C2F7C0FF4C4C436D2FBCDB1E7DE",
        "name": "b34771f2-b1b1-4e44-b894-dd48adc961a0*A7E10672F86B589247BA14E02801F2B6786B0C2F7C0FF4C4C436D2FBCDB1E7DE",
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-3053/providers/Microsoft.Communication/emailServices/email-test5724/domains/domain-7721.com",
        "status": "Succeeded",
        "startTime": "2023-08-19T12:19:48.1945859Z",
        "endTime": "2023-08-19T12:19:48.6804114Z",
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-3053/providers/Microsoft.Communication/emailServices/email-test5724/domains/domain-7721.com/cancelVerification?api-version=2023-04-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "verificationType": "SPF"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/838e1854-8fc4-4be2-8a5c-453e9e21e8cb*A7E10672F86B589247BA14E02801F2B6786B0C2F7C0FF4C4C436D2FBCDB1E7DE?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/838e1854-8fc4-4be2-8a5c-453e9e21e8cb*A7E10672F86B589247BA14E02801F2B6786B0C2F7C0FF4C4C436D2FBCDB1E7DE?api-version=2023-04-01-preview",
        "mise-correlation-id": "edbb80d8-5caa-428c-b8d3-7c9ff5a63012",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-3053/providers/Microsoft.Communication/emailServices/email-test5724/domains?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-3053/providers/Microsoft.Communication/emailServices/email-test5724/domains/domain-7721.com",
            "name": "domain-7721.com",
            "type": "microsoft.communication/emailservices/domains",
            "location": "global",
            "tags": {},
            "systemData": {
              "createdBy": "00226471-3a95-403e-98c0-dca45fecd307",
              "createdByType": "Application",
              "createdAt": "2023-08-19T12:18:41.4411943Z",
              "lastModifiedBy": "632ec9eb-fad7-4cbd-993a-e72973ba2acc",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-08-19T12:19:48.8542315Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "dataLocation": "unitedstates",
              "fromSenderDomain": "domain-7721.com",
              "mailFromSenderDomain": "domain-7721.com",
              "domainManagement": "CustomerManaged",
              "verificationStates": {
                "Domain": {
                  "status": "NotStarted"
                },
                "SPF": {
                  "status": "VerificationInProgress",
                  "errorCode": ""
                },
                "DKIM": {
                  "status": "NotStarted"
                },
                "DKIM2": {
                  "status": "NotStarted"
                },
                "DMARC": {
                  "status": "NotStarted"
                }
              },
              "verificationRecords": {
                "Domain": {
                  "type": "TXT",
                  "name": "domain-7721.com",
                  "value": "ms-domain-verification=edc931b8-d789-4dbc-a8bc-0c4c5a996571",
                  "ttl": 3600
                },
                "SPF": {
                  "type": "TXT",
                  "name": "domain-7721.com",
                  "value": "v=spf1 include:spf.protection.outlook.com -all",
                  "ttl": 3600
                },
                "DKIM": {
                  "type": "CNAME",
                  "name": "selector1-azurecomm-prod-net._domainkey",
                  "value": "selector1-azurecomm-prod-net._domainkey.azurecomm.net",
                  "ttl": 3600
                },
                "DKIM2": {
                  "type": "CNAME",
                  "name": "selector2-azurecomm-prod-net._domainkey",
                  "value": "selector2-azurecomm-prod-net._domainkey.azurecomm.net",
                  "ttl": 3600
                }
              },
              "userEngagementTracking": "Disabled"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/8260eacd-9328-4c7e-9915-ae129c76218e*A7E10672F86B589247BA14E02801F2B6786B0C2F7C0FF4C4C436D2FBCDB1E7DE?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220b00a1f0-0000-0800-0000-64e0b3a80000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11983"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/8260eacd-9328-4c7e-9915-ae129c76218e*A7E10672F86B589247BA14E02801F2B6786B0C2F7C0FF4C4C436D2FBCDB1E7DE",
        "name": "8260eacd-9328-4c7e-9915-ae129c76218e*A7E10672F86B589247BA14E02801F2B6786B0C2F7C0FF4C4C436D2FBCDB1E7DE",
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-3053/providers/Microsoft.Communication/emailServices/email-test5724/domains/domain-7721.com",
        "status": "Succeeded",
        "startTime": "2023-08-19T12:19:50.328573Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1738117610",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "8443df5e-8e12-4cd9-810e-c525196fecae"
  }
}
