{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "NRMS9790559": "20220406",
          "NRMSBreakGlass443AzureOnly ": "293826150",
          "NRMSBreakGlassSFAzureOnly ": "293826150",
          "NRMSBreakGlassNonHighRisk ": "293826150",
          "NRMSBreakGlassAzureOnly ": "293826150",
          "NRMS17614506": "20230930",
          "NRMS17508663": "20230915",
          "SLNMBreakGlassSFAzureOnly": "293826150",
          "user": "abc"
        },
        "subscriptionId": "a984ce58-225e-44d2-bc79-20a834ce85ae",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "CloudDNS - Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourcegroups/DnsRG1291?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/DnsRG1291",
        "name": "DnsRG1291",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/DnsRG1291/providers/Microsoft.Network/dnsZones/sample6548.com?api-version=2023-07-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "Global",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "c9bcfe3f-e830-40b0-b308-b3f43c2ca098",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg1291/providers/Microsoft.Network/dnszones/sample6548.com",
        "name": "sample6548.com",
        "type": "Microsoft.Network/dnszones",
        "etag": "c9bcfe3f-e830-40b0-b308-b3f43c2ca098",
        "location": "global",
        "tags": {},
        "properties": {
          "maxNumberOfRecordSets": 10000,
          "maxNumberOfRecordsPerRecordSet": null,
          "nameServers": [
            "ns1-33.ppe.azure-dns.com.",
            "ns2-33.ppe.azure-dns.net.",
            "ns3-33.ppe.azure-dns.org.",
            "ns4-33.ppe.azure-dns.info."
          ],
          "numberOfRecordSets": 2,
          "zoneType": "Public"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg1291/providers/Microsoft.Network/dnsZones/sample6548.com/AAAA/aaaa100?api-version=2023-07-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "TTL": 3600,
          "AAAARecords": [
            {
              "ipv6Address": "3f0d:8079:32a1:9c1d:dd7c:afc6:fc15:d55"
            },
            {
              "ipv6Address": "3f0d:8079:32a1:9c1d:dd7c:afc6:fc15:d56"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "c61be5d9-3d40-4d03-8514-a646d8b049e4",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg1291/providers/Microsoft.Network/dnszones/sample6548.com/AAAA/aaaa100",
        "name": "aaaa100",
        "type": "Microsoft.Network/dnszones/AAAA",
        "etag": "c61be5d9-3d40-4d03-8514-a646d8b049e4",
        "properties": {
          "fqdn": "aaaa100.sample6548.com.",
          "TTL": 3600,
          "AAAARecords": [
            {
              "ipv6Address": "3f0d:8079:32a1:9c1d:dd7c:afc6:fc15:d55"
            },
            {
              "ipv6Address": "3f0d:8079:32a1:9c1d:dd7c:afc6:fc15:d56"
            }
          ],
          "targetResource": {},
          "trafficManagementProfile": {},
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg1291/providers/Microsoft.Network/dnsZones/sample6548.com/CAA/caa100?api-version=2023-07-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "TTL": 3600,
          "caaRecords": [
            {
              "flags": 1,
              "tag": "test1",
              "value": "caa1.contoso.com"
            },
            {
              "flags": 2,
              "tag": "test2",
              "value": "caa2.contoso.com"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "8526d62e-d04e-4f5a-8d4f-c9fcef137f07",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg1291/providers/Microsoft.Network/dnszones/sample6548.com/CAA/caa100",
        "name": "caa100",
        "type": "Microsoft.Network/dnszones/CAA",
        "etag": "8526d62e-d04e-4f5a-8d4f-c9fcef137f07",
        "properties": {
          "fqdn": "caa100.sample6548.com.",
          "TTL": 3600,
          "caaRecords": [
            {
              "flags": 1,
              "tag": "test1",
              "value": "caa1.contoso.com"
            },
            {
              "flags": 2,
              "tag": "test2",
              "value": "caa2.contoso.com"
            }
          ],
          "targetResource": {},
          "trafficManagementProfile": {},
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg1291/providers/Microsoft.Network/dnsZones/sample6548.com/MX/mx100?api-version=2023-07-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "TTL": 3600,
          "MXRecords": [
            {
              "preference": 10,
              "exchange": "mymail1.contoso.com"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "a55ad8d0-26f1-4ebb-af3b-6b276ad983df",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg1291/providers/Microsoft.Network/dnszones/sample6548.com/MX/mx100",
        "name": "mx100",
        "type": "Microsoft.Network/dnszones/MX",
        "etag": "a55ad8d0-26f1-4ebb-af3b-6b276ad983df",
        "properties": {
          "fqdn": "mx100.sample6548.com.",
          "TTL": 3600,
          "MXRecords": [
            {
              "exchange": "mymail1.contoso.com",
              "preference": 10
            }
          ],
          "targetResource": {},
          "trafficManagementProfile": {},
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg1291/providers/Microsoft.Network/dnsZones/sample6548.com/recordsets?api-version=2023-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-entities-read": "59993",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "499"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg1291/providers/Microsoft.Network/dnszones/sample6548.com/NS/@",
            "name": "@",
            "type": "Microsoft.Network/dnszones/NS",
            "etag": "7d5c3829-cb6e-4af2-8e57-630db223c954",
            "properties": {
              "fqdn": "sample6548.com.",
              "TTL": 172800,
              "NSRecords": [
                {
                  "nsdname": "ns1-33.ppe.azure-dns.com."
                },
                {
                  "nsdname": "ns2-33.ppe.azure-dns.net."
                },
                {
                  "nsdname": "ns3-33.ppe.azure-dns.org."
                },
                {
                  "nsdname": "ns4-33.ppe.azure-dns.info."
                }
              ],
              "targetResource": {},
              "trafficManagementProfile": {},
              "provisioningState": "Succeeded"
            }
          },
          {
            "id": "/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg1291/providers/Microsoft.Network/dnszones/sample6548.com/SOA/@",
            "name": "@",
            "type": "Microsoft.Network/dnszones/SOA",
            "etag": "4acd12a8-0cf1-478d-9b7f-4752dbcc98ca",
            "properties": {
              "fqdn": "sample6548.com.",
              "TTL": 3600,
              "SOARecord": {
                "email": "azuredns-hostmaster.microsoft.com",
                "expireTime": 2419200,
                "host": "ns1-33.ppe.azure-dns.com.",
                "minimumTTL": 300,
                "refreshTime": 3600,
                "retryTime": 300,
                "serialNumber": 1
              },
              "targetResource": {},
              "trafficManagementProfile": {},
              "provisioningState": "Succeeded"
            }
          },
          {
            "id": "/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg1291/providers/Microsoft.Network/dnszones/sample6548.com/AAAA/aaaa100",
            "name": "aaaa100",
            "type": "Microsoft.Network/dnszones/AAAA",
            "etag": "c61be5d9-3d40-4d03-8514-a646d8b049e4",
   [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/DnsRG1291/providers/Microsoft.Network/dnsZones?api-version=2023-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-entities-read": "59999",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "499"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg1291/providers/Microsoft.Network/dnszones/sample6548.com",
            "name": "sample6548.com",
            "type": "Microsoft.Network/dnszones",
            "etag": "c9bcfe3f-e830-40b0-b308-b3f43c2ca098",
            "location": "global",
            "tags": {},
            "properties": {
              "maxNumberOfRecordSets": 10000,
              "maxNumberOfRecordsPerRecordSet": null,
              "nameServers": [
                "ns1-33.ppe.azure-dns.com.",
                "ns2-33.ppe.azure-dns.net.",
                "ns3-33.ppe.azure-dns.org.",
                "ns4-33.ppe.azure-dns.info."
              ],
              "numberOfRecordSets": 7,
              "zoneType": "Public"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg1291/providers/Microsoft.Network/dnsZones/sample6548.com?api-version=2023-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg1291/providers/Microsoft.Network/dnsOperationStatuses/00000000-0000-0000-0000-000000000021;3500555;sample6548.com;Regular?api-version=2023-07-01-preview&t=638654859404236101&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxWjBAMT4wPAYDVQQDEzVhc3[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg1291/providers/Microsoft.Network/dnsOperationStatuses/00000000-0000-0000-0000-000000000021;3500555;sample6548.com;Regular?api-version=2023-07-01-preview&t=638654859404236101&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzM[...]
