{
  "Entries": [
    {
      "RequestUri": "https://eastus.easm.defender.microsoft.com/subscriptions/5aceda1f-93bf-4b33-b129-22f360f7c5ff/resourceGroups/thangdeveastus2-rg/workspaces/sdktesting2/dataConnections/new-sample-dc?api-version=2023-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "clusterName": "sample-cluster",
          "region": "eastus",
          "databaseName": "sample-db"
        },
        "kind": "azureDataExplorer",
        "name": "new-sample-dc",
        "content": "assets",
        "frequency": "daily"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ui-version": "sdk"
      },
      "ResponseBody": {
        "id": "new-sample-dc",
        "name": "new-sample-dc",
        "displayName": "new-sample-dc",
        "kind": "azureDataExplorer",
        "content": "assets",
        "properties": {
          "clusterName": "sample-cluster",
          "region": "eastus",
          "databaseName": "sample-db"
        },
        "createdDate": "2024-02-13T17:10:51\u002B0000",
        "frequency": "daily",
        "frequencyOffset": 0,
        "updatedDate": "2024-02-15T16:44:13\u002B0000",
        "userUpdatedAt": "2024-02-15T16:44:13\u002B0000",
        "active": true,
        "inactiveMessage": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "ENDPOINT": "https://eastus.easm.defender.microsoft.com/subscriptions/5aceda1f-93bf-4b33-b129-22f360f7c5ff/resourceGroups/thangdeveastus2-rg/workspaces/sdktesting2",
    "RandomSeed": "679508038"
  }
}
