{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/deployments?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "gpt-4o",
            "type": "ModelDeployment",
            "modelName": "gpt-4o",
            "modelVersion": "2024-11-20",
            "modelPublisher": "OpenAI",
            "capabilities": {
              "chat_completion": "true"
            },
            "sku": {
              "name": "GlobalStandard",
              "capacity": 120
            }
          },
          {
            "name": "Phi-4",
            "type": "ModelDeployment",
            "modelName": "Phi-4",
            "modelVersion": "7",
            "modelPublisher": "Microsoft",
            "capabilities": {
              "chat_completion": "true"
            },
            "sku": {
              "name": "GlobalStandard",
              "capacity": 1
            }
          },
          {
            "name": "Cohere-command-r-08-2024",
            "type[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/deployments?api-version=2025-05-15-preview&modelPublisher=Cohere",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Cohere-command-r-08-2024",
            "type": "ModelDeployment",
            "modelName": "Cohere-command-r-08-2024",
            "modelVersion": "1",
            "modelPublisher": "Cohere",
            "capabilities": {
              "chat_completion": "true"
            },
            "sku": {
              "name": "GlobalStandard",
              "capacity": 1
            }
          },
          {
            "name": "Cohere-embed-v3-english",
            "type": "ModelDeployment",
            "modelName": "Cohere-embed-v3-english",
            "modelVersion": "1",
            "modelPublisher": "Cohere",
            "capabilities": {},
            "sku": {
              "name": "GlobalStandard",
              "capacity": 1
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/deployments?api-version=2025-05-15-preview&modelName=gpt-4o",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "gpt-4o",
            "type": "ModelDeployment",
            "modelName": "gpt-4o",
            "modelVersion": "2024-11-20",
            "modelPublisher": "OpenAI",
            "capabilities": {
              "chat_completion": "true"
            },
            "sku": {
              "name": "GlobalStandard",
              "capacity": 120
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/deployments/DeepSeek-V3?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "name": "DeepSeek-V3",
        "type": "ModelDeployment",
        "modelName": "DeepSeek-V3",
        "modelVersion": "1",
        "modelPublisher": "DeepSeek",
        "capabilities": {
          "chat_completion": "true"
        },
        "sku": {
          "name": "GlobalStandard",
          "capacity": 1
        }
      }
    }
  ],
  "Variables": {}
}
