{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/deployments?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "sanitized-gpt-memory",
            "type": "ModelDeployment",
            "modelName": "sanitized-gpt-memory",
            "modelVersion": "2024-11-20",
            "modelPublisher": "OpenAI",
            "capabilities": {
              "chat_completion": "true",
              "completion": "true"
            },
            "sku": {
              "name": "GlobalStandard",
              "capacity": 308
            }
          },
          {
            "name": "gpt-5",
            "type": "ModelDeployment",
            "modelName": "gpt-5",
            "modelVersion": "2025-08-07",
            "modelPublisher": "OpenAI",
            "capabilities": {
              "chat_completion": "true"
            },
            "sku": {
              "name": "GlobalStandard",
              "capacity": 150
            }
          },
          {
            "name": "computer-use-preview",
            "[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/deployments?api-version=v1&modelPublisher=Cohere",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {}
}
