{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/deployments?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "gpt-4.1",
            "type": "ModelDeployment",
            "modelName": "gpt-4.1",
            "modelVersion": "2025-04-14",
            "modelPublisher": "OpenAI",
            "capabilities": {
              "chat_completion": "true"
            },
            "sku": {
              "name": "GlobalStandard",
              "capacity": 180
            }
          },
          {
            "name": "sanitized-model-deployment-name",
            "type": "ModelDeployment",
            "modelName": "sanitized-model-deployment-name",
            "modelVersion": "2025-04-14",
            "modelPublisher": "OpenAI",
            "capabilities": {
              "chat_completion": "true"
            },
            "sku": {
              "name": "GlobalStandard",
              "capacity": 180
            }
          },
          {
     [...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/deployments?api-version=v1&modelPublisher=Cohere",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {}
}
