{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics/test_conditional_update_etag_mismatch?api-version=2025-05-31-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "lifecycle": "Active",
        "displayName": "Test Metric test_conditional_update_etag_mismatch",
        "description": "A metric created for testing purposes (test_conditional_update_etag_mismatch)",
        "categories": [
          "Test"
        ],
        "desiredDirection": "Increase",
        "definition": {
          "type": "EventCount",
          "event": {
            "eventName": "TestEvent"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"q0vHADeX1Ic=\"",
        "Last-Modified": "Fri, 09 May 2025 16:11:23 GMT",
        "mise-correlation-id": "c1e32464-3860-47d5-a2ba-5a98529ab80f"
      },
      "ResponseBody": {
        "lifecycle": "Active",
        "desiredDirection": "Increase",
        "id": "test_conditional_update_etag_mismatch",
        "displayName": "Test Metric test_conditional_update_etag_mismatch",
        "description": "A metric created for testing purposes (test_conditional_update_etag_mismatch)",
        "categories": [
          "Test"
        ],
        "definition": {
          "event": {
            "eventName": "TestEvent"
          },
          "type": "EventCount"
        },
        "eTag": "\"q0vHADeX1Ic=\"",
        "lastModifiedAt": "2025-05-09T16:11:23.8344621+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics/test_conditional_update_etag_mismatch?api-version=2025-05-31-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "If-Match": "\"incorrect-etag-value\""
      },
      "RequestBody": {
        "description": "This update should fail due to ETag mismatch"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "1b4e2fe9-9b03-46da-808f-4189649fe6ac",
        "x-ms-error-code": "ConditionNotMet"
      },
      "ResponseBody": {
        "error": {
          "code": "ConditionNotMet",
          "message": "The condition specified in the If-Match request header was not met.",
          "target": null,
          "details": [],
          "innerError": null
        }
      }
    }
  ],
  "Variables": {}
}
