{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "owners": "bebroder,wesh",
          "DoNotDelete": ""
        },
        "subscriptionId": "4d042dc6-fe17-4698-a23f-ec6a8d1e98f4",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure SDK Test Resources - TME",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourcegroups/testRG-258?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
      "ResponseBody": {
        "id": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/testRG-258",
        "name": "testRG-258",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/testRG-258/providers/Microsoft.Attestation/attestationProviders/testprovider7862?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "tags": {
          "Property1": "Value1",
          "Property2": "Value2",
          "Property3": "Value3"
        },
        "properties": {
          "publicNetworkAccess": "Enabled"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://testprovider7862.eus.attest.azure.net/",
        "x-ms-maa-service-version": "1.11.03223.4992",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2998",
        "x-ms-ratelimit-remaining-subscription-writes": "198"
      },
      "ResponseBody": {
        "id": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/testRG-258/providers/Microsoft.Attestation/attestationProviders/testprovider7862",
        "name": "testprovider7862",
        "type": "Microsoft.Attestation/attestationProviders",
        "location": "eastus",
        "tags": {
          "Property1": "Value1",
          "Property2": "Value2",
          "Property3": "Value3"
        },
        "properties": {
          "trustModel": "AAD",
          "status": "Ready",
          "attestUri": "https://testprovider7862.eus.attest.azure.net",
          "publicNetworkAccess": "Enabled",
          "tpmAttestationAuthentication": null
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/testRG-258/providers/Microsoft.Attestation/attestationProviders?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-maa-service-version": "1.11.03223.4992",
        "x-ms-original-request-ids": "00-458ed60ad00dabea61eba7c06f7bd705-3f1430475c5ba1b2-00",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3748",
        "x-ms-ratelimit-remaining-subscription-reads": "248"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/testRG-258/providers/Microsoft.Attestation/attestationProviders/testprovider4592",
            "name": "testprovider4592",
            "type": "Microsoft.Attestation/attestationProviders",
            "location": "eastus",
            "tags": {
              "Property1": "Value1",
              "Property2": "Value2",
              "Property3": "Value3"
            },
            "properties": {
 [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/testRG-258/providers/Microsoft.Attestation/attestationProviders/testprovider78621?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource 'Microsoft.Attestation/attestationProviders/testprovider78621' under resource group 'testRG-258' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/testRG-258/providers/Microsoft.Attestation/attestationProviders/testprovider7862?api-version=2021-06-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "UpdateKey1": "UpdateValue1"
        },
        "properties": {
          "publicNetworkAccess": "Disabled"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-maa-service-version": "1.11.03223.4992",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2996",
        "x-ms-ratelimit-remaining-subscription-writes": "196"
      },
      "ResponseBody": {
        "id": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/testRG-258/providers/Microsoft.Attestation/attestationProviders/testprovider7862",
        "name": "testprovider7862",
        "type": "Microsoft.Attestation/attestationProviders",
        "location": "eastus",
        "tags": {
          "UpdateKey1": "UpdateValue1"
        },
        "properties": {
          "trustModel": "AAD",
          "status": "Ready",
          "attestUri": "https://testprovider7862.eus.attest.azure.net",
          "publicNetworkAccess": "Disabled",
          "tpmAttestationAuthentication": null
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/testRG-258/providers/Microsoft.Attestation/attestationProviders/testprovider7862?api-version=2021-06-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-maa-service-version": "1.11.03223.4992",
        "x-ms-ratelimit-remaining-subscription-deletes": "199",
        "x-ms-ratelimit-remaining-subscription-global-deletes": "2999"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "210935622",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "4d042dc6-fe17-4698-a23f-ec6a8d1e98f4"
  }
}
