{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.com/availablePhoneNumbers/countries/US/:browse?api-version=2025-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "phoneNumberType": "tollFree",
        "capabilities": {
          "calling": "outbound"
        },
        "assignmentType": "application"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-04-30-preview, 2023-10-01-preview, 2023-10-01-preview2, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-04-01, 2025-04-15-preview, 2025-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "1136ms"
      },
      "ResponseBody": {
        "phoneNumbers": [
          {
            "id": "14155550100",
            "countryCode": "US",
            "phoneNumber": "+14155550100",
            "capabilities": {
              "calling": "inbound+outbound",
              "sms": "inbound+outbound"
            },
            "phoneNumberType": "tollFree",
            "assignmentType": "application",
            "cost": {
              "amount": 2.0,
              "currencyCode": "USD",
              "billingFrequency": "monthly"
            },
            "status": "available",
            "isAgreementToNotResellRequired": false
          },
          {
            "id": "14155550100",
            "countryCode": "US",
            "phoneNumber": "+14155550100",
            "capabilities": {
              "calling": "inbound+outbound",
              "sms": "inbound+outbound"
            },
            "phoneNumberType": "tollFree",
            "assignmentType": "application",
            "cost": {
              "amount": 2.0,
              "currencyCode": "USD",
              "billingFrequency": "monthly"
         [...]
    {
      "RequestUri": "https://Sanitized.com/availablePhoneNumbers/reservations/00000000-0000-0000-0000-000000000000?api-version=2025-04-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "phoneNumbers": {
          "14155550100": {
            "id": "14155550100",
            "countryCode": "US",
            "phoneNumber": "+14155550100",
            "capabilities": {
              "calling": "inbound+outbound",
              "sms": "inbound+outbound"
            },
            "phoneNumberType": "tollFree",
            "assignmentType": "application",
            "cost": {
              "amount": 2,
              "currencyCode": "USD",
              "billingFrequency": "monthly"
            },
            "status": "available",
            "isAgreementToNotResellRequired": false
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-04-30-preview, 2023-10-01-preview, 2023-10-01-preview2, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-04-01, 2025-04-15-preview, 2025-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/availablePhoneNumbers/reservations/00000000-0000-0000-0000-000000000000",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "5424ms"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "expiresAt": "2025-04-25T20:40:39.2490176+00:00",
        "phoneNumbers": {
          "14155550100": {
            "id": "14155550100",
            "countryCode": "US",
            "phoneNumber": "14155550100",
            "capabilities": {
              "calling": "inbound+outbound",
              "sms": "inbound+outbound"
            },
            "phoneNumberType": "tollFree",
            "assignmentType": "application",
            "cost": {
              "amount": 2.0,
              "currencyCode": "USD",
              "billingFrequency": "monthly"
            },
            "status": "reserved",
            "isAgreementToNotResellRequired": false
          }
        },
        "status": "active"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.com/availablePhoneNumbers/reservations/00000000-0000-0000-0000-000000000000/:purchase?api-version=2025-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-04-30-preview, 2023-10-01-preview, 2023-10-01-preview2, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-04-01, 2025-04-15-preview, 2025-06-01",
        "MS-CV": "Sanitized",
        "operation-id": "reservationPurchase_00000000-0000-0000-0000-000000000000",
        "Operation-Location": "https://example.com",
        "reservation-purchase-id": "00000000-0000-0000-0000-000000000000",
        "X-Processing-Time": "2509ms"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.com/phoneNumbers/operations/reservationPurchase_00000000-0000-0000-0000-000000000000?api-version=2025-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01, 2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2023-10-01-preview2, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview, 2025-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "operation-id": "reservationPurchase_00000000-0000-0000-0000-000000000000",
        "Operation-Location": "https://example.com",
        "reservation-purchase-id": "00000000-0000-0000-0000-000000000000",
        "X-Processing-Time": "754ms"
      },
      "ResponseBody": {
        "operationType": "reservationPurchase",
        "status": "running",
        "resourceLocation": null,
        "createdDateTime": "2025-04-25T20:25:35.7447437+00:00",
        "id": "reservationPurchase_00000000-0000-0000-0000-000000000000",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.com/phoneNumbers/%2B14155550100?api-version=2025-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview, 2025-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "880ms"
      },
      "ResponseBody": {
        "id": "14155550100",
        "phoneNumber": "+14155550100",
        "countryCode": "US",
        "phoneNumberType": "tollFree",
        "capabilities": {
          "calling": "inbound+outbound",
          "sms": "inbound+outbound"
        },
        "assignmentType": "application",
        "purchaseDate": "2025-04-25T20:25:44.8140099+00:00",
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.com/phoneNumbers/%2B14155550100?api-version=2025-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview, 2025-06-01",
        "MS-CV": "Sanitized",
        "operation-id": "release_00000000-0000-0000-0000-000000000000",
        "Operation-Location": "https://example.com",
        "release-id": "00000000-0000-0000-0000-000000000000",
        "X-Processing-Time": "2527ms"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.com/phoneNumbers/operations/release_00000000-0000-0000-0000-000000000000?api-version=2025-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01, 2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2023-10-01-preview2, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview, 2025-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "443ms"
      },
      "ResponseBody": {
        "operationType": "releasePhoneNumber",
        "status": "notStarted",
        "resourceLocation": null,
        "createdDateTime": "2025-04-25T20:25:50.7579904+00:00",
        "id": "release_00000000-0000-0000-0000-000000000000",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.com/phoneNumbers/operations/release_00000000-0000-0000-0000-000000000000?api-version=2025-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01, 2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2023-10-01-preview2, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview, 2025-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "472ms"
      },
      "ResponseBody": {
        "operationType": "releasePhoneNumber",
        "status": "succeeded",
        "resourceLocation": null,
        "createdDateTime": "2025-04-25T20:25:50.7579904+00:00",
        "id": "release_00000000-0000-0000-0000-000000000000",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"
      }
    }
  ],
  "Variables": {}
}
