{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.unitedstates.ppe.communication.azure.net/messages/notifications:send?api-version=2025-04-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Apr 2025 23:37:13 GMT"
      },
      "RequestBody": {
        "channelRegistrationId": "test_channel_id",
        "to": [
          "+14255550123"
        ],
        "kind": "interactive",
        "interactiveMessage": {
          "body": {
            "kind": "text",
            "text": "Do you want to proceed?"
          },
          "action": {
            "kind": "whatsAppListAction",
            "content": {
              "kind": "group",
              "title": "Shipping Options",
              "groups": [
                {
                  "title": "Express Delivery",
                  "items": [
                    {
                      "id": "Sanitized",
                      "title": "Priority Mail Express",
                      "description": "Delivered on same day!"
                    },
                    {
                      "id": "Sanitized",
                      "title": "Priority Mail",
                      "description": "Delivered in 1-2 days"
                    }
                  ]
                },
                {
                  "title": "Normal Delivery",
                  "items": [
                    {
                      "id": "Sanitized",
                      "title": "USPS Ground Advantage",
                      "description": "Delivered in 2-5 days"
                    },
                    {
                      "id": "Sanitized",
                      "title": "Normal Mail",
                      "description": "Delivered in 5-8 days"
                    }
                  ]
                }
              ]
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "416ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "ac4759d5-b7c5-47a5-8e57-f3fb1b5c7c1a",
            "to": "Sanitized"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
