{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.unitedstates.ppe.communication.azure.net/messages/notifications:send?api-version=2025-01-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Jan 2025 16:50:18 GMT"
      },
      "RequestBody": {
        "kind": "audio",
        "mediaUri": "https://sample-videos.com/audio/mp3/wave.mp3",
        "channelRegistrationId": "test_channel_id",
        "to": [
          "+14255550123"
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "659ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "cc5ce794-58ba-4f71-90c0-cf495d7b751b",
            "to": "Sanitized"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
