{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.unitedstates.ppe.communication.azure.net/messages/notifications:send?api-version=2025-01-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 24 Jan 2025 17:04:37 GMT"
      },
      "RequestBody": {
        "kind": "document",
        "mediaUri": "https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf",
        "channelRegistrationId": "test_channel_id",
        "to": [
          "+14255550123"
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "453ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "212cf032-01eb-452f-98fb-81d8d669b3c3",
            "to": "Sanitized"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
