{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.unitedstates.ppe.communication.azure.net/messages/notifications:send?api-version=2025-04-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Apr 2025 23:27:04 GMT"
      },
      "RequestBody": {
        "channelRegistrationId": "test_channel_id",
        "to": [
          "+14255550123"
        ],
        "kind": "interactive",
        "interactiveMessage": {
          "header": {
            "kind": "document",
            "mediaUri": "https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
          },
          "body": {
            "kind": "text",
            "text": "Do you want to proceed?"
          },
          "action": {
            "kind": "whatsAppButtonAction",
            "content": {
              "kind": "buttonSet",
              "buttons": [
                {
                  "id": "Sanitized",
                  "title": "Yes"
                },
                {
                  "id": "Sanitized",
                  "title": "No"
                }
              ]
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "527ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "697daa32-8f07-46e7-8657-a5e589b4e2eb",
            "to": "Sanitized"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
