{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.unitedstates.ppe.communication.azure.net/messages/notifications:send?api-version=2025-01-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Jan 2025 16:50:18 GMT"
      },
      "RequestBody": {
        "kind": "image",
        "mediaUri": "https://www.w3schools.com/w3css/img_lights.jpg",
        "channelRegistrationId": "test_channel_id",
        "to": [
          "+14255550123"
        ],
        "caption": "awesome"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "369ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "bfb1e86e-5cae-4337-8aa7-6f39842fc836",
            "to": "Sanitized"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
