{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.unitedstates.communication.azure.com/messages/notifications:send?api-version=2024-08-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 11 Oct 2024 00:11:53 GMT"
      },
      "RequestBody": {
        "channelRegistrationId": "test_channel_id",
        "to": [
          "+14255550123"
        ],
        "kind": "template",
        "template": {
          "name": "Sanitized",
          "language": "en_US",
          "bindings": {
            "kind": "whatsApp",
            "header": [
              {
                "refValue": "BoardingPass"
              }
            ],
            "body": [
              {
                "refValue": "OriginDestination"
              },
              {
                "refValue": "FinalDestination"
              },
              {
                "refValue": "BoardingTime"
              }
            ]
          },
          "values": [
            {
              "kind": "document",
              "name": "Sanitized",
              "url": "https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
            },
            {
              "kind": "text",
              "name": "Sanitized",
              "text": "RDU"
            },
            {
              "kind": "text",
              "name": "Sanitized",
              "text": "LAX"
            },
            {
              "kind": "text",
              "name": "Sanitized",
              "text": "June 4th, 2024 @ 2PM"
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-08-24-preview, 2024-02-01, 2024-08-30, 2100-12-25-vnext",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "869ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "82b23ade-192f-4224-9dde-55deef1f8163",
            "to": "Sanitized"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
