{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171438216984106472?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 09:16:09 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC682D02728A4D\"",
        "Last-Modified": "Mon, 29 Apr 2024 09:16:10 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171438216984106472?restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 09:16:09 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC682D02728A4D\"",
        "Last-Modified": "Mon, 29 Apr 2024 09:16:10 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Mon, 29 Apr 2024 09:16:10 GMT",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-quota": "102400",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171438216984106472?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 09:16:10 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "share": "share171438216984106472"
  }
}
