{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share171980078108609198?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jul 2024 02:26:21 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC997532B9D9C2\"",
        "Last-Modified": "Mon, 01 Jul 2024 02:26:22 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share171980078108609198/dir171980078119205476?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jul 2024 02:26:21 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC997532CEEA96\"",
        "Last-Modified": "Mon, 01 Jul 2024 02:26:22 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-01T02:26:22.2412438Z",
        "x-ms-file-creation-time": "2024-07-01T02:26:22.2412438Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-01T02:26:22.2412438Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share171980078108609198?restype=share&comp=filepermission",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "WWW-Authenticate": "Bearer authorization_uri=https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/authorize resource_id=https://storage.azure.com",
        "x-ms-error-code": "InvalidAuthenticationInfo"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidAuthenticationInfo</Code><Message>Server failed to authenticate the request. Please refer to the information in the www-authenticate header.\n",
        "RequestId:f4a2af92-501a-003f-035e-cb5b82000000\n",
        "Time:2024-07-01T02:26:32.0205076Z</Message><AuthenticationErrorDetail>Audience validation failed. Audience did not match.</AuthenticationErrorDetail></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share171980078108609198?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jul 2024 02:26:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir171980078119205476",
    "share": "share171980078108609198"
  }
}
