{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173762306638404707?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 23 Jan 2025 09:04:26 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3B8CF0145FFD\"",
        "Last-Modified": "Thu, 23 Jan 2025 09:04:26 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173762306638404707/dir173762306649807957?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 23 Jan 2025 09:04:26 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3B8CF025FE7B\"",
        "Last-Modified": "Thu, 23 Jan 2025 09:04:26 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-01-23T09:04:26.6960507Z",
        "x-ms-file-creation-time": "2025-01-23T09:04:26.6960507Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-01-23T09:04:26.6960507Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173762306638404707?restype=share&comp=filepermission",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "WWW-Authenticate": "Bearer authorization_uri=https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/authorize resource_id=https://storage.azure.com",
        "x-ms-error-code": "InvalidAuthenticationInfo"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidAuthenticationInfo</Code><Message>Server failed to authenticate the request. Please refer to the information in the www-authenticate header.\n",
        "RequestId:b571da15-c01a-0012-5075-6de8f1000000\n",
        "Time:2025-01-23T09:04:30.3932543Z</Message><AuthenticationErrorDetail>Audience validation failed. Audience did not match.</AuthenticationErrorDetail></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173762306638404707?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 23 Jan 2025 09:04:37 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir173762306649807957",
    "share": "share173762306638404707"
  }
}
