{
  "Entries": [
    {
      "RequestUri": "https://t31d95575b31b9d96prim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 12 May 2025 15:46:42 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": {
        "TableName": "testtablev48ynmmk"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2025-05-12T15%3A46%3A47.4243079Z'\"",
        "Location": "https://t31d95575b31b9d96prim.table.cosmos.azure.com/Tables('testtablev48ynmmk')"
      },
      "ResponseBody": {
        "TableName": "testtablev48ynmmk",
        "odata.metadata": "https://t31d95575b31b9d96prim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://t31d95575b31b9d96prim.table.cosmos.azure.com/testtablev48ynmmk(PartitionKey='somPartition',RowKey='1')?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 12 May 2025 15:46:42 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": {
        "PartitionKey": "somPartition",
        "RowKey": "1",
        "TimespanProperty": "P229DT5H30M15S"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\"datetime'2025-05-12T15%3A46%3A47.7131783Z'\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t31d95575b31b9d96prim.table.cosmos.azure.com/testtablev48ynmmk()?$format=application%2Fjson%3Bodata%3Dminimalmetadata&$filter=PartitionKey%20eq%20%27somPartition%27%20and%20RowKey%20eq%20%271%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 12 May 2025 15:46:42 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\"datetime'2025-05-12T15%3A46%3A47.7131783Z'\"",
            "PartitionKey": "somPartition",
            "RowKey": "1",
            "TimespanProperty": "P229DT5H30M15S",
            "Timestamp": "2025-05-12T15:46:47.7131783Z"
          }
        ],
        "odata.metadata": "https://t31d95575b31b9d96prim.table.cosmos.azure.com/$metadata#testtablev48ynmmk"
      }
    },
    {
      "RequestUri": "https://t31d95575b31b9d96prim.table.cosmos.azure.com/Tables('testtablev48ynmmk')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 May 2025 15:46:42 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COSMOS_TABLES_ENDPOINT_SUFFIX": "cosmos.azure.com",
    "RandomSeed": "1411502247",
    "TABLES_COSMOS_ACCOUNT_NAME": "t31d95575b31b9d96prim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": "Kg=="
  }
}
