{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11935"
      },
      "ResponseBody": {
        "id": "/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "subscriptionId": "5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Orcas PM team",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourcegroups/pgrg3815?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1186"
      },
      "ResponseBody": {
        "id": "/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgrg3815",
        "name": "pgrg3815",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgrg3815/providers/Microsoft.DBforPostgreSQL/servers/pgserver7225?api-version=2017-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "B_Gen5_1"
        },
        "properties": {
          "administratorLogin": "testUser",
          "administratorLoginPassword": "testPassword1!",
          "createMode": "Default"
        },
        "location": "westus"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/providers/Microsoft.DBforPostgreSQL/locations/westus/azureAsyncOperation/25050371-43f4-4a60-89bd-6d1d73286628?api-version=2017-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/providers/Microsoft.DBforPostgreSQL/locations/westus/operationResults/25050371-43f4-4a60-89bd-6d1d73286628?api-version=2017-12-01",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-writes": "1185"
      },
      "ResponseBody": {
        "operation": "UpsertElasticServer",
        "startTime": "2023-07-12T16:43:28.41Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/providers/Microsoft.DBforPostgreSQL/locations/westus/azureAsyncOperation/25050371-43f4-4a60-89bd-6d1d73286628?api-version=2017-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-reads": "11934"
      },
      "ResponseBody": {
        "name": "25050371-43f4-4a60-89bd-6d1d73286628",
        "status": "InProgress",
        "startTime": "2023-07-12T16:43:28.41Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgrg3815/providers/Microsoft.DBforPostgreSQL/servers/pgserver7225?api-version=2017-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11930"
      },
      "ResponseBody": {
        "sku": {
          "name": "B_Gen5_1",
          "tier": "Basic",
          "family": "Gen5",
          "capacity": 1
        },
        "properties": {
          "administratorLogin": "testUser",
          "storageProfile": {
            "storageMB": 5120,
            "backupRetentionDays": 7,
            "geoRedundantBackup": "Disabled",
            "storageAutogrow": "Disabled"
          },
          "version": "9.6",
          "sslEnforcement": "Enabled",
          "minimalTlsVersion": "TLSEnforcementDisabled",
          "userVisibleState": "Ready",
          "fullyQualifiedDomainName": "pgserver7225.postgres.database.azure.com",
          "earliestRestoreDate": "2023-07-12T16:53:28.677\u002B00:00",
          "replicationRole": "None",
          "masterServerId": "",
          "replicaCapacity": 5,
          "byokEnforcement": "Disabled",
          "privateEndpointConnections": [],
          "infrastructureEncryption": "Disabled",
          "publicNetworkAccess": "Enabled"
        },
        "location": "westus",
        "id": "/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgrg3815/providers/Microsoft.DBforPostgreSQL/servers/pgserver7225",
        "name": "pgserver7225",
        "type": "Microsoft.DBforPostgreSQL/servers"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgrg3815/providers/Microsoft.DBforPostgreSQL/servers/pgserver7225?api-version=2017-12-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "SystemAssigned"
        },
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/providers/Microsoft.DBforPostgreSQL/locations/westus/azureAsyncOperation/a86792d9-15e3-4145-aa91-5615333a105f?api-version=2017-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/providers/Microsoft.DBforPostgreSQL/locations/westus/operationResults/a86792d9-15e3-4145-aa91-5615333a105f?api-version=2017-12-01",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-writes": "1184"
      },
      "ResponseBody": {
        "operation": "UpsertElasticServer",
        "startTime": "2023-07-12T16:46:35.147Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgrg3815/providers/Microsoft.DBforPostgreSQL/servers/pgserver7225?api-version=2017-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11927"
      },
      "ResponseBody": {
        "identity": {
          "principalId": "31a2b4ea-0216-42c4-8412-0cedb1065189",
          "type": "SystemAssigned",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "sku": {
          "name": "B_Gen5_1",
          "tier": "Basic",
          "family": "Gen5",
          "capacity": 1
        },
        "properties": {
          "administratorLogin": "testUser",
          "storageProfile": {
            "storageMB": 5120,
            "backupRetentionDays": 7,
            "geoRedundantBackup": "Disabled",
            "storageAutogrow": "Disabled"
          },
          "version": "9.6",
          "sslEnforcement": "Enabled",
          "minimalTlsVersion": "TLSEnforcementDisabled",
          "userVisibleState": "Ready",
          "fullyQualifiedDomainName": "pgserver7225.postgres.database.azure.com",
          "earliestRestoreDate": "2023-07-12T16:53:28.677\u002B00:00",
          "replicationRole": "None",
          "masterServerId": "",
          "replicaCapacity": 5,
          "byokEnforcement": "Disabled",
          "privateEndpointConnections": [],
          "infrastructureEncryption": "Disabled",
          "publicNetworkAccess": "Enabled"
        },
        "location": "westus",
        "id": "/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgrg3815/providers/Microsoft.DBforPostgreSQL/servers/pgserver7225",
        "name": "pgserver7225",
        "type": "Microsoft.DBforPostgreSQL/servers"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/providers/Microsoft.DBforPostgreSQL/locations/westus/azureAsyncOperation/85fdd866-538b-44e8-aca0-4d858d87f0db?api-version=2017-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11924"
      },
      "ResponseBody": {
        "name": "85fdd866-538b-44e8-aca0-4d858d87f0db",
        "status": "Succeeded",
        "startTime": "2023-07-12T16:47:38.77Z"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "194946198",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30"
  }
}
