{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11969"
      },
      "ResponseBody": {
        "id": "/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "subscriptionId": "5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Orcas PM team",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourcegroups/pgrg7401?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "id": "/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgrg7401",
        "name": "pgrg7401",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgrg7401/providers/Microsoft.DBforPostgreSQL/servers/pgserver7884?api-version=2017-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "B_Gen5_1"
        },
        "properties": {
          "administratorLogin": "testUser",
          "administratorLoginPassword": "testPassword1!",
          "createMode": "Default"
        },
        "location": "westus"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/providers/Microsoft.DBforPostgreSQL/locations/westus/azureAsyncOperation/584bfd3f-e904-4df9-8d76-d44a33cc3866?api-version=2017-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/providers/Microsoft.DBforPostgreSQL/locations/westus/operationResults/584bfd3f-e904-4df9-8d76-d44a33cc3866?api-version=2017-12-01",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "operation": "UpsertElasticServer",
        "startTime": "2023-07-12T16:26:14.003Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/providers/Microsoft.DBforPostgreSQL/locations/westus/azureAsyncOperation/584bfd3f-e904-4df9-8d76-d44a33cc3866?api-version=2017-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-reads": "11968"
      },
      "ResponseBody": {
        "name": "584bfd3f-e904-4df9-8d76-d44a33cc3866",
        "status": "InProgress",
        "startTime": "2023-07-12T16:26:14.003Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgrg7401/providers/Microsoft.DBforPostgreSQL/servers/pgserver7884?api-version=2017-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11964"
      },
      "ResponseBody": {
        "sku": {
          "name": "B_Gen5_1",
          "tier": "Basic",
          "family": "Gen5",
          "capacity": 1
        },
        "properties": {
          "administratorLogin": "testUser",
          "storageProfile": {
            "storageMB": 5120,
            "backupRetentionDays": 7,
            "geoRedundantBackup": "Disabled",
            "storageAutogrow": "Disabled"
          },
          "version": "9.6",
          "sslEnforcement": "Enabled",
          "minimalTlsVersion": "TLSEnforcementDisabled",
          "userVisibleState": "Ready",
          "fullyQualifiedDomainName": "pgserver7884.postgres.database.azure.com",
          "earliestRestoreDate": "2023-07-12T16:36:14.253\u002B00:00",
          "replicationRole": "None",
          "masterServerId": "",
          "replicaCapacity": 5,
          "byokEnforcement": "Disabled",
          "privateEndpointConnections": [],
          "infrastructureEncryption": "Disabled",
          "publicNetworkAccess": "Enabled"
        },
        "location": "westus",
        "id": "/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgrg7401/providers/Microsoft.DBforPostgreSQL/servers/pgserver7884",
        "name": "pgserver7884",
        "type": "Microsoft.DBforPostgreSQL/servers"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgrg7401/providers/Microsoft.DBforPostgreSQL/servers?api-version=2017-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11962"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "B_Gen5_1",
              "tier": "Basic",
              "family": "Gen5",
              "capacity": 1
            },
            "properties": {
              "administratorLogin": "testUser",
              "storageProfile": {
                "storageMB": 5120,
                "backupRetentionDays": 7,
                "geoRedundantBackup": "Disabled",
                "storageAutogrow": "Disabled"
              },
              "version": "9.6",
              "sslEnforcement": "Enabled",
              "minimalTlsVersion": "TLSEnforcementDisabled",
              "userVisibleState": "Ready",
              "fullyQualifiedDomainName": "pgserver7884.postgres.database.azure.com",
              "earliestRestoreDate": "2023-07-12T16:36:14.253\u002B00:00",
              "replicationRole": "",
              "masterServerId": "",
              "byokEnforcement": "Disabled",
              "privateEndpointConnections": [],
              "infrastructureEncryption": "Disabled",
              "publicNetworkAccess": "Enabled"
            },
            "location": "westus",
            "id": "/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgrg7401/providers/Microsoft.DBforPostgreSQL/servers/pgserver7884",
            "name": "pgserver7884",
            "type": "Microsoft.DBforPostgreSQL/servers"
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "553656665",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30"
  }
}
