{
  "Entries": [
    {
      "RequestUri": "https://zhojie-test-acs-1122-canary-contentsafety.cognitiveservices.azure.com/contentsafety/text/blocklists/TestAnalyzeTextWithBlocklist?api-version=2023-10-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "description": "Test blocklist management"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-04-30-preview,2023-10-01,2023-10-15-preview,2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": {
        "blocklistName": "TestAnalyzeTextWithBlocklist",
        "description": "Test blocklist management"
      }
    },
    {
      "RequestUri": "https://zhojie-test-acs-1122-canary-contentsafety.cognitiveservices.azure.com/contentsafety/text/blocklists/TestAnalyzeTextWithBlocklist:addOrUpdateBlocklistItems?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "blocklistItems": [
          {
            "text": "k*ll"
          },
          {
            "text": "h*te"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-04-30-preview,2023-10-01,2023-10-15-preview,2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": {
        "blocklistItems": [
          {
            "blocklistItemId": "b98ec563-ad39-4f97-aaf1-da2d90105c85",
            "text": "k*ll"
          },
          {
            "blocklistItemId": "4a4f4e71-d411-426b-a137-59e80138f959",
            "text": "h*te"
          }
        ]
      }
    },
    {
      "RequestUri": "https://zhojie-test-acs-1122-canary-contentsafety.cognitiveservices.azure.com/contentsafety/text:analyze?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "text": "I h*te you and I want to k*ll you.",
        "blocklistNames": [
          "TestAnalyzeTextWithBlocklist"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-04-30-preview,2023-05-30-preview,2023-10-01,2023-10-15-preview,2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.ContentSafety.Text:Analyze=1",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": {
        "blocklistsMatch": [
          {
            "blocklistName": "TestAnalyzeTextWithBlocklist",
            "blocklistItemId": "4a4f4e71-d411-426b-a137-59e80138f959",
            "blocklistItemText": "h*te"
          },
          {
            "blocklistName": "TestAnalyzeTextWithBlocklist",
            "blocklistItemId": "b98ec563-ad39-4f97-aaf1-da2d90105c85",
            "blocklistItemText": "k*ll"
          }
        ],
        "categoriesAnalysis": [
          {
            "category": "Hate",
            "severity": 2
          },
          {
            "category": "SelfHarm",
            "severity": 0
          },
          {
            "category": "Sexual",
            "severity": 2
          },
          {
            "category": "Violence",
            "severity": 4
          }
        ]
      }
    }
  ],
  "Variables": {
    "CONTENT_SAFETY_ENDPOINT": "https://zhojie-test-acs-1122-canary-contentsafety.cognitiveservices.azure.com",
    "CONTENT_SAFETY_KEY": "Sanitized",
    "RandomSeed": "2000547025"
  }
}
