{
  "Entries": [
    {
      "RequestUri": "https://zhojie-test-acs-1122-canary-contentsafety.cognitiveservices.azure.com/contentsafety/text:analyze?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "text": "You are an idiot",
        "categories": [
          "Hate",
          "SelfHarm"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-12-30-preview,2023-04-30-preview,2023-05-30-preview,2023-10-01,2023-10-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.ContentSafety.Text:Analyze=1",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": {
        "blocklistsMatch": [],
        "categoriesAnalysis": [
          {
            "category": "Hate",
            "severity": 2
          },
          {
            "category": "SelfHarm",
            "severity": 0
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "CONTENT_SAFETY_ENDPOINT": "https://zhojie-test-acs-1122-canary-contentsafety.cognitiveservices.azure.com",
    "RandomSeed": "1104003602"
  }
}
