{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173762252564901383?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3B8BAFF1A29F\"",
        "Last-Modified": "Thu, 23 Jan 2025 08:55:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173762252564901383/dir173762252940109376?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3B8BB003CF18\"",
        "Last-Modified": "Thu, 23 Jan 2025 08:55:29 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-01-23T08:55:29.6011032Z",
        "x-ms-file-creation-time": "2025-01-23T08:55:29.6011032Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-01-23T08:55:29.6011032Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173762252564901383/dir173762252940109376/file173762252952001191",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "11",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3B8BB0157FC7\"",
        "Last-Modified": "Thu, 23 Jan 2025 08:55:29 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-23T08:55:29.7170375Z",
        "x-ms-file-creation-time": "2025-01-23T08:55:29.7170375Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-01-23T08:55:29.7170375Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4614121289425226539*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173762252564901383/dir173762252940109376/file173762252952001191?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "6291baf2-9d1c-4f64-aa20-c16d8e8ac666",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3B8BB0157FC7\"",
        "Last-Modified": "Thu, 23 Jan 2025 08:55:29 GMT",
        "x-ms-lease-id": "6291baf2-9d1c-4f64-aa20-c16d8e8ac666",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173762252564901383?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir173762252940109376",
    "file": "file173762252952001191",
    "share": "share173762252564901383"
  }
}
