{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/timezone/byId/json?api-version=1.0&options=all&query=Asia%2FBahrain",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-client-id": "86ff944f-d704-4f24-8af8-34f4a58ff4e0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "Version": "2024b",
        "ReferenceUtcTimestamp": "2024-11-25T15:26:53.4160709Z",
        "TimeZones": [
          {
            "Id": "Asia/Qatar",
            "Aliases": [
              "Asia/Bahrain"
            ],
            "Countries": [
              {
                "Name": "Qatar",
                "Code": "QA"
              },
              {
                "Name": "Bahrain",
                "Code": "BH"
              }
            ],
            "Names": {
              "ISO6391LanguageCode": "en",
              "Generic": "Arabian Time",
              "Standard": "Arabian Standard Time",
              "Daylight": "Arabian Daylight Time"
            },
            "ReferenceTime": {
              "Tag": "+03",
              "StandardOffset": "03:00:00",
              "DaylightSavings": "00:00:00",
              "WallTime": "2024-11-25T18:26:53.4160709+03:00",
              "PosixTzValidYear": 2024,
              "PosixTz": "<+03>-3"
            },
            "RepresentativePoint": {
              "Latitude": 25.283333333333335,
              "Longitude": 51.53333333333333
            },
            "TimeTransitions": [
              {
                "Tag": "+03",
                "StandardOffset": "03:00:00",
                "DaylightSavings": "00:00:00",
                "UtcStart": "1972-05-31T20:00:00Z",
                "UtcEnd": "9999-12-31T23:59:59.9999999Z"
              }
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZMAPS_CLIENT_ID": "86ff944f-d704-4f24-8af8-34f4a58ff4e0",
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "CLIENT_ID": "6f488811-1c5a-4670-9bad-69ec881779b3",
    "RandomSeed": "1206714100",
    "TENANT_ID": "a315b901-4afd-4450-b262-13c726b5cb69"
  }
}
