{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/timezone/byId/json?api-version=1.0&query=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-client-id": "86ff944f-d704-4f24-8af8-34f4a58ff4e0"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "error": {
          "code": "400 BadRequest",
          "message": "Required parameter 'query' is missing or empty"
        }
      }
    }
  ],
  "Variables": {
    "AZMAPS_CLIENT_ID": "86ff944f-d704-4f24-8af8-34f4a58ff4e0",
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "CLIENT_ID": "6f488811-1c5a-4670-9bad-69ec881779b3",
    "RandomSeed": "1418780919",
    "TENANT_ID": "a315b901-4afd-4450-b262-13c726b5cb69"
  }
}
