{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.ContainerService/managedClusters?api-version=2023-10-02-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11814"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourcegroups/myjstest/providers/Microsoft.ContainerService/managedClusters/myreourcexyz",
            "location": "eastus",
            "name": "myreourcexyz",
            "type": "Microsoft.ContainerService/ManagedClusters",
            "properties": {
              "provisioningState": "Succeeded",
              "powerState": {
                "code": "Running"
              },
              "kubernetesVersion": "1.27",
              "currentKubernetesVersion": "1.27.7",
              "dnsPrefix": "aksjssdk",
              "fqdn": "aksjssdk-jp3a9nx5.hcp.eastus.azmk8s.io",
              "azurePortalFQDN": "aksjssdk-jp3a9nx5.portal.hcp.eastus.azmk8s.io",
              "agentPoolProfiles": [
                {
                  "name": "aksagent",
                  "count": 1,
                  "vmSize": "Standard_DS2_v2",
                  "osDiskSizeGB": 128,
                  "osDiskType": "Managed",
                  "kubeletDiskType": "OS",
                  "maxPods": 110,
                  "type": "VirtualMachineScaleSets",
                  "maxCount": 100,
                  "minCount": 1,
                  "enableAutoScaling": true,
                  "provisioningState": "Succeeded",
                  "powerState": {
                    "code": "Running"
                  },
                  "orchestratorVersion": "1.27.7",
                  "currentOrchestratorVersion": "1.27.7",
                  "mode": "System",
                  "osType": "Linux",
                  "osSKU": "Ubuntu",
                  "nodeImageVersion": "AKSUbuntu-2204gen2containerd-202312.06.0",
                  "enableFIPS": false,
                  "securityProfile": {
                    "sshAccess": "LocalUser"
                  }
                },
                {
                  "name": "aksagent1",
                  "count": 3,
                  "vmSize": "Standard_DS2_v2",
                  "osDiskSizeGB": 64,
                  "osDiskType": "Ephemeral",
                  "kubeletDiskType": "OS",
                  "workloadRuntime": "OCIContainer",
                  "maxPods": 110,
                  "type": "VirtualMachineScaleSets",
                  "scaleDownMode": "Delete",
                  "provisioningState": "Succeeded",
                  "powerState": {
                    "code": "Running"
                  },
                  "orchestratorVersion": "1.27.7",
                  "currentOrchestratorVersion": "1.27.7",
                  "mode": "User",
                  "osType": "Linux",
                  "osSKU": "Ubuntu",
                  "nodeImageVersion": "AKSUbuntu-2204gen2containerd-202312.06.0",
                  "enableFIPS": false,
                  "securityProfile": {
                    "sshAccess": "LocalUser"
                  }
                }
              ],
              "servicePrincipalProfile": {
                "clientId": "azure_client_id"
              },
              "nodeResourceGroup": "MC_myjstest_myreourcexyz_eastus",
              "enableRBAC": true,
              "supportPlan": "KubernetesOfficial",
              "networkProfile": {
                "networkPlugin": "kubenet",
                "networkPolicy": "none",
                "loadBalancerSku": "Standard",
                "loadBalancerProfile": {
                  "managedOutboundIPs": {
                    "count": 1
                  },
                  "effectiveOutboundIPs": [
                    {
                      "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/MC_myjstest_myreourcexyz_eastus/providers/Microsoft.Network/publicIPAddresses/acf2fb4f-f91e-4092-9e9a-474212b4b275"
                    }
                  ],
                  "backendPoolType": "nodeIPConfiguration"
                },
                "podCidr": "10.244.0.0/16",
                "serviceCidr": "10.0.0.0/16",
                "dnsServiceIP": "10.0.0.10",
                "outboundType": "loadBalancer",
                "podCidrs": [
                  "10.244.0.0/16"
                ],
                "serviceCidrs": [
                  "10.0.0.0/16"
                ],
                "ipFamilies": [
                  "IPv4"
                ]
              },
              "maxAgentPools": 100,
              "autoUpgradeProfile": {
                "nodeOSUpgradeChannel": "NodeImage"
              },
              "securityProfile": {},
              "storageProfile": {
                "diskCSIDriver": {
                  "enabled": true,
                  "version": "v1"
                },
                "fileCSIDriver": {
                  "enabled": true
                },
                "snapshotController": {
                  "enabled": true
                }
              },
              "oidcIssuerProfile": {
                "enabled": false
              },
              "workloadAutoScalerProfile": {},
              "metricsProfile": {
                "costAnalysis": {
                  "enabled": false
                }
              },
              "resourceUID": "657fe3689ae0970001f329d2",
              "controlPlanePluginProfiles": {
                "karpenter": {
                  "enableV2": true
                }
              },
              "nodeProvisioningProfile": {
                "mode": "Manual"
              }
            },
            "sku": {
              "name": "Base",
              "tier": "Free"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
