{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ContainerService/managedClusters/myreourcexyz?api-version=2023-09-02-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "tier": "testing",
          "archv3": ""
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourcegroups/myjstest/providers/Microsoft.ContainerService/managedClusters/myreourcexyz",
        "location": "eastus",
        "name": "myreourcexyz",
        "tags": {
          "archv3": "",
          "tier": "testing"
        },
        "type": "Microsoft.ContainerService/ManagedClusters",
        "properties": {
          "provisioningState": "Succeeded",
          "powerState": {
            "code": "Running"
          },
          "kubernetesVersion": "1.26",
          "currentKubernetesVersion": "1.26.6",
          "dnsPrefix": "aksjssdk",
          "fqdn": "aksjssdk-yoa48jq0.hcp.eastus.azmk8s.io",
          "azurePortalFQDN": "aksjssdk-yoa48jq0.portal.hcp.eastus.azmk8s.io",
          "agentPoolProfiles": [
            {
              "name": "aksagent",
              "count": 1,
              "vmSize": "Standard_DS2_v2",
              "osDiskSizeGB": 128,
              "osDiskType": "Managed",
              "kubeletDiskType": "OS",
              "maxPods": 110,
              "type": "VirtualMachineScaleSets",
              "maxCount": 100,
              "minCount": 1,
              "enableAutoScaling": true,
              "provisioningState": "Succeeded",
              "powerState": {
                "code": "Running"
              },
              "orchestratorVersion": "1.26.6",
              "currentOrchestratorVersion": "1.26.6",
              "mode": "System",
              "osType": "Linux",
              "osSKU": "Ubuntu",
              "nodeImageVersion": "AKSUbuntu-2204gen2containerd-202310.09.0",
              "upgradeSettings": {},
              "enableFIPS": false,
              "securityProfile": {
                "sshAccess": "LocalUser"
              }
            }
          ],
          "servicePrincipalProfile": {
            "clientId": "azure_client_id"
          },
          "nodeResourceGroup": "MC_myjstest_myreourcexyz_eastus",
          "enableRBAC": true,
          "supportPlan": "KubernetesOfficial",
          "networkProfile": {
            "networkPlugin": "kubenet",
            "networkPolicy": "none",
            "loadBalancerSku": "Standard",
            "loadBalancerProfile": {
              "managedOutboundIPs": {
                "count": 1
              },
              "effectiveOutboundIPs": [
                {
                  "id": "/subscriptions/azure_subscription_id/resourceGroups/MC_myjstest_myreourcexyz_eastus/providers/Microsoft.Network/publicIPAddresses/6ac735ce-e3e9-4cd9-9a56-fe2a5b2e7f9a"
                }
              ],
              "backendPoolType": "nodeIPConfiguration"
            },
            "podCidr": "10.244.0.0/16",
            "serviceCidr": "10.0.0.0/16",
            "dnsServiceIP": "10.0.0.10",
            "outboundType": "loadBalancer",
            "podCidrs": [
              "10.244.0.0/16"
            ],
            "serviceCidrs": [
              "10.0.0.0/16"
            ],
            "ipFamilies": [
              "IPv4"
            ]
          },
          "maxAgentPools": 100,
          "autoUpgradeProfile": {
            "nodeOSUpgradeChannel": "NodeImage"
          },
          "securityProfile": {},
          "storageProfile": {
            "diskCSIDriver": {
              "enabled": true,
              "version": "v1"
            },
            "fileCSIDriver": {
              "enabled": true
            },
            "snapshotController": {
              "enabled": true
            }
          },
          "oidcIssuerProfile": {
            "enabled": false
          },
          "workloadAutoScalerProfile": {},
          "metricsProfile": {
            "costAnalysis": {
              "enabled": false
            }
          },
          "resourceUID": "6544b56317d11c0001106029",
          "nodeProvisioningProfile": {
            "mode": "Manual"
          }
        },
        "sku": {
          "name": "Base",
          "tier": "Free"
        }
      }
    }
  ],
  "Variables": {}
}
