{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.ContainerService/managedClusters/myreourcexyz?api-version=2023-09-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "tier": "testing",
          "archv3": ""
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourcegroups/myjstest/providers/Microsoft.ContainerService/managedClusters/myreourcexyz",
        "location": "eastus",
        "name": "myreourcexyz",
        "tags": {
          "archv3": "",
          "tier": "testing"
        },
        "type": "Microsoft.ContainerService/ManagedClusters",
        "properties": {
          "provisioningState": "Succeeded",
          "powerState": {
            "code": "Running"
          },
          "kubernetesVersion": "1.27",
          "currentKubernetesVersion": "1.27.7",
          "dnsPrefix": "aksjssdk",
          "fqdn": "aksjssdk-140b6tp8.hcp.eastus.azmk8s.io",
          "azurePortalFQDN": "aksjssdk-140b6tp8.portal.hcp.eastus.azmk8s.io",
          "agentPoolProfiles": [
            {
              "name": "aksagent",
              "count": 1,
              "vmSize": "Standard_DS2_v2",
              "osDiskSizeGB": 128,
              "osDiskType": "Managed",
              "kubeletDiskType": "OS",
              "maxPods": 110,
              "type": "VirtualMachineScaleSets",
              "maxCount": 100,
              "minCount": 1,
              "enableAutoScaling": true,
              "provisioningState": "Succeeded",
              "powerState": {
                "code": "Running"
              },
              "orchestratorVersion": "1.27.7",
              "currentOrchestratorVersion": "1.27.7",
              "mode": "System",
              "osType": "Linux",
              "osSKU": "Ubuntu",
              "nodeImageVersion": "AKSUbuntu-2204gen2containerd-202310.31.0",
              "enableFIPS": false
            }
          ],
          "servicePrincipalProfile": {
            "clientId": "azure_client_id"
          },
          "nodeResourceGroup": "MC_myjstest_myreourcexyz_eastus",
          "enableRBAC": true,
          "supportPlan": "KubernetesOfficial",
          "networkProfile": {
            "networkPlugin": "kubenet",
            "loadBalancerSku": "Standard",
            "loadBalancerProfile": {
              "managedOutboundIPs": {
                "count": 1
              },
              "effectiveOutboundIPs": [
                {
                  "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/MC_myjstest_myreourcexyz_eastus/providers/Microsoft.Network/publicIPAddresses/f9b834c8-0284-4b92-8a04-ef9065af0763"
                }
              ]
            },
            "podCidr": "10.244.0.0/16",
            "serviceCidr": "10.0.0.0/16",
            "dnsServiceIP": "10.0.0.10",
            "outboundType": "loadBalancer",
            "podCidrs": [
              "10.244.0.0/16"
            ],
            "serviceCidrs": [
              "10.0.0.0/16"
            ],
            "ipFamilies": [
              "IPv4"
            ]
          },
          "maxAgentPools": 100,
          "autoUpgradeProfile": {
            "nodeOSUpgradeChannel": "NodeImage"
          },
          "securityProfile": {},
          "storageProfile": {
            "diskCSIDriver": {
              "enabled": true
            },
            "fileCSIDriver": {
              "enabled": true
            },
            "snapshotController": {
              "enabled": true
            }
          },
          "oidcIssuerProfile": {
            "enabled": false
          },
          "workloadAutoScalerProfile": {},
          "resourceUID": "655dca1dc1b77700013e90bc"
        },
        "sku": {
          "name": "Base",
          "tier": "Free"
        }
      }
    }
  ],
  "Variables": {}
}
