{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.ContainerService/managedClusters/myreourcexyz/agentPools?api-version=2024-01-02-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourcegroups/myjstest/providers/Microsoft.ContainerService/managedClusters/myreourcexyz/agentPools/aksagent",
            "name": "aksagent",
            "type": "Microsoft.ContainerService/managedClusters/agentPools",
            "properties": {
              "count": 1,
              "vmSize": "Standard_DS2_v2",
              "osDiskSizeGB": 128,
              "osDiskType": "Managed",
              "kubeletDiskType": "OS",
              "maxPods": 110,
              "type": "VirtualMachineScaleSets",
              "maxCount": 100,
              "minCount": 1,
              "enableAutoScaling": true,
              "provisioningState": "Succeeded",
              "powerState": {
                "code": "Running"
              },
              "orchestratorVersion": "1.27.9",
              "currentOrchestratorVersion": "1.27.9",
              "mode": "System",
              "osType": "Linux",
              "osSKU": "Ubuntu",
              "nodeImageVersion": "AKSUbuntu-2204gen2containerd-202402.26.0",
              "enableFIPS": false,
              "securityProfile": {
                "sshAccess": "LocalUser",
                "enableVTPM": false,
                "enableSecureBoot": false
              }
            }
          },
          {
            "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourcegroups/myjstest/providers/Microsoft.ContainerService/managedClusters/myreourcexyz/agentPools/aksagent1",
            "name": "aksagent1",
            "type": "Microsoft.ContainerService/managedClusters/agentPools",
            "properties": {
              "count": 3,
              "vmSize": "Standard_DS2_v2",
              "osDiskSizeGB": 64,
              "osDiskType": "Ephemeral",
              "kubeletDiskType": "OS",
              "workloadRuntime": "OCIContainer",
              "maxPods": 110,
              "type": "VirtualMachineScaleSets",
              "scaleDownMode": "Delete",
              "provisioningState": "Succeeded",
              "powerState": {
                "code": "Running"
              },
              "orchestratorVersion": "1.27.9",
              "currentOrchestratorVersion": "1.27.9",
              "mode": "User",
              "osType": "Linux",
              "osSKU": "Ubuntu",
              "nodeImageVersion": "AKSUbuntu-2204gen2containerd-202402.26.0",
              "enableFIPS": false,
              "securityProfile": {
                "sshAccess": "LocalUser",
                "enableVTPM": false,
                "enableSecureBoot": false
              }
            }
          }
        ],
        "nextLink": "https://management.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.ContainerService/managedClusters/myreourcexyz/agentPools?%24skipToken=4391777\u0026api-version=2024-01-02-preview\u0026skipToken=4391777"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.ContainerService/managedClusters/myreourcexyz/agentPools?%24skipToken=4391777\u0026api-version=2024-01-02-preview\u0026skipToken=4391777",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {}
}
