{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/IsaacNewton?api-version=2025-05-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "description": "Biography of Sir Isaac Newton",
        "language": "en",
        "multilingualResource": true,
        "settings": {
          "defaultAnswer": "no answer"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "projectName": "IsaacNewton",
        "description": "Biography of Sir Isaac Newton",
        "language": "en",
        "multilingualResource": true,
        "createdDateTime": "2026-02-05T10:49:28Z",
        "lastModifiedDateTime": "2026-02-15T09:14:35Z",
        "lastDeployedDateTime": "2026-02-15T09:13:47Z",
        "configureSemanticRanking": false
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/IsaacNewton/sources?api-version=2025-05-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": "[{\"op\":\"add\",\"value\":{\"displayName\":\"SurfaceBookUserGuide\",\"source\":\"Sanitized\",\"sourceUri\":\"https://download.microsoft.com/download/7/B/1/7B10C82E-F520-4080-8516-5CF0D803EEE0/surface-book-user-guide-EN.pdf\",\"sourceKind\":\"url\",\"contentStructureKind\":\"unstructured\",\"refresh\":false}}]",
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://cqa-westus-qi.cognitiveservices.azure.com:443/language/authoring/query-knowledgebases/projects/IsaacNewton/sources/jobs/e1638ca6-60b6-4a21-a09d-d456df4a543c?api-version=2025-05-15-preview",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "West US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/IsaacNewton/sources/jobs/e1638ca6-60b6-4a21-a09d-d456df4a543c?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "5",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "createdDateTime": "2026-02-15T09:14:35+00:00",
        "expirationDateTime": "2026-02-15T15:14:35+00:00",
        "jobId": "e1638ca6-60b6-4a21-a09d-d456df4a543c",
        "lastUpdatedDateTime": "2026-02-15T09:14:35+00:00",
        "status": "notStarted"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/IsaacNewton/sources/jobs/e1638ca6-60b6-4a21-a09d-d456df4a543c?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "createdDateTime": "2026-02-15T09:14:35+00:00",
        "expirationDateTime": "2026-02-15T15:14:35+00:00",
        "jobId": "e1638ca6-60b6-4a21-a09d-d456df4a543c",
        "lastUpdatedDateTime": "2026-02-15T09:14:47+00:00",
        "status": "succeeded",
        "resultUrl": "/knowledgebases/IsaacNewton"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/IsaacNewton/sources?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "value": [
          {
            "displayName": "SurfaceBookUserGuide",
            "source": "Sanitized",
            "sourceUri": "https://download.microsoft.com/download/7/B/1/7B10C82E-F520-4080-8516-5CF0D803EEE0/surface-book-user-guide-EN.pdf",
            "sourceKind": "url",
            "contentStructureKind": "unstructured",
            "lastUpdatedDateTime": "2026-02-15T09:14:45.0300767Z"
          },
          {
            "source": "Sanitized",
            "sourceUri": "https://wikipedia.org/wiki/Isaac_Newton",
            "sourceKind": "url",
            "contentStructureKind": "semistructured",
            "lastUpdatedDateTime": "2026-02-15T09:14:27.3034804Z"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
