{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com//language/authoring/query-knowledgebases/projects/IsaacNewton?api-version=2025-05-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "description": "Biography of Sir Isaac Newton",
        "language": "en",
        "multilingualResource": true,
        "settings": {
          "defaultAnswer": "no answer"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "projectName": "IsaacNewton",
        "description": "Biography of Sir Isaac Newton",
        "language": "en",
        "multilingualResource": true,
        "createdDateTime": "2025-09-25T14:38:04Z",
        "lastModifiedDateTime": "2025-11-07T01:55:20Z",
        "lastDeployedDateTime": "2025-11-07T01:53:34Z",
        "configureSemanticRanking": false
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com//language/authoring/query-knowledgebases/projects/IsaacNewton/qnas?api-version=2025-05-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": "[{\"op\":\"add\",\"value\":{\"id\":\"Sanitized\",\"answer\":\"Using Microsoft's Azure SDKs\",\"questions\":[\"What is the easiest way to use azure services in my .NET project?\"]}}]",
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://qnatestqi.cognitiveservices.azure.com:443/language/authoring/query-knowledgebases/projects/IsaacNewton/qnas/jobs/e0297513-0851-4632-9c66-4f8ef6b97e97?api-version=2025-05-15-preview",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/IsaacNewton/qnas/jobs/e0297513-0851-4632-9c66-4f8ef6b97e97?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "5",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "createdDateTime": "2025-11-07T01:55:21+00:00",
        "expirationDateTime": "2025-11-07T07:55:21+00:00",
        "jobId": "e0297513-0851-4632-9c66-4f8ef6b97e97",
        "lastUpdatedDateTime": "2025-11-07T01:55:21+00:00",
        "status": "notStarted"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/IsaacNewton/qnas/jobs/e0297513-0851-4632-9c66-4f8ef6b97e97?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "createdDateTime": "2025-11-07T01:55:21+00:00",
        "expirationDateTime": "2025-11-07T07:55:21+00:00",
        "jobId": "e0297513-0851-4632-9c66-4f8ef6b97e97",
        "lastUpdatedDateTime": "2025-11-07T01:55:26+00:00",
        "status": "succeeded",
        "resultUrl": "/knowledgebases/IsaacNewton"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com//language/authoring/query-knowledgebases/projects/IsaacNewton/qnas?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Sanitized",
            "answer": "Gravity is a force of attraction.",
            "source": "Sanitized",
            "questions": [
              "What is gravity?"
            ],
            "metadata": {},
            "dialog": {
              "isContextOnly": false,
              "prompts": []
            },
            "activeLearningSuggestions": [],
            "isDocumentText": false,
            "lastUpdatedDateTime": "11/07/2025 01:54:11 +00:00"
          },
          {
            "id": "Sanitized",
            "answer": "Using Microsoft's Azure SDKs",
            "source": "Sanitized",
            "questions": [
              "What is the easiest way to use azure services in my .NET project?"
            ],
            "metadata": {
              "system_metadata_qna_edited_manually": "true"
            },
            "dialog": {
              "isContextOnly": false,
              "prompts": []
            },
            "activeLearningSuggestions": [],
            "isDocumentText": false,
            "lastUpdatedDateTime": "11/07/2025 01:54:42 +00:00"
          },
          {
            "id": "Sanitized",
            "answer": "Using Microsoft's Azure SDKs",
            "source": "Sanitized",
            "questions": [
              "What is the easiest way to use azure services in my .NET project?"
            ],
            "metadata": {
              "system_metadata_qna_edited_manually": "true"
            },
            "dialog": {
              "isContextOnly": false,
              "prompts": []
            },
            "activeLearningSuggestions": [],
            "isDocumentText": false,
            "lastUpdatedDateTime": "11/07/2025 01:55:24 +00:00"
          }
        ]
      }
    },
[...]
