{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com//language/authoring/query-knowledgebases/projects/IsaacNewton?api-version=2025-05-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "description": "Biography of Sir Isaac Newton",
        "language": "en",
        "multilingualResource": true,
        "settings": {
          "defaultAnswer": "no answer"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "projectName": "IsaacNewton",
        "description": "Biography of Sir Isaac Newton",
        "language": "en",
        "multilingualResource": true,
        "createdDateTime": "2026-02-05T10:49:28Z",
        "lastModifiedDateTime": "2026-02-05T11:38:34Z",
        "lastDeployedDateTime": "2026-02-05T11:38:29Z",
        "configureSemanticRanking": false
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com//language/authoring/query-knowledgebases/projects/IsaacNewton/sources?api-version=2025-05-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": "[{\"op\": \"add\", \"value\": {\"displayName\": \"Isaac Newton Bio\", \"sourceUri\": \"https://wikipedia.org/wiki/Isaac_Newton\", \"sourceKind\": \"url\"}}]",
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://cqa-westus-qi.cognitiveservices.azure.com:443/language/authoring/query-knowledgebases/projects/IsaacNewton/sources/jobs/db9d81cc-2944-49c7-ab90-bfb7cdc603fe?api-version=2025-05-15-preview",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "West US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/IsaacNewton/sources/jobs/db9d81cc-2944-49c7-ab90-bfb7cdc603fe?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "5",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "createdDateTime": "2026-02-05T11:38:34+00:00",
        "expirationDateTime": "2026-02-05T17:38:34+00:00",
        "jobId": "db9d81cc-2944-49c7-ab90-bfb7cdc603fe",
        "lastUpdatedDateTime": "2026-02-05T11:38:34+00:00",
        "status": "notStarted"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/IsaacNewton/sources/jobs/db9d81cc-2944-49c7-ab90-bfb7cdc603fe?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "createdDateTime": "2026-02-05T11:38:34+00:00",
        "expirationDateTime": "2026-02-05T17:38:34+00:00",
        "jobId": "db9d81cc-2944-49c7-ab90-bfb7cdc603fe",
        "lastUpdatedDateTime": "2026-02-05T11:38:36+00:00",
        "status": "succeeded",
        "resultUrl": "/knowledgebases/IsaacNewton"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com//language/authoring/query-knowledgebases/projects/IsaacNewton/sources?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "value": [
          {
            "source": "Sanitized",
            "sourceUri": "https://wikipedia.org/wiki/Isaac_Newton",
            "sourceKind": "url",
            "contentStructureKind": "semistructured",
            "lastUpdatedDateTime": "2026-02-05T11:05:59.8130774Z"
          },
          {
            "source": "Sanitized",
            "sourceKind": "file",
            "contentStructureKind": "semistructured",
            "lastUpdatedDateTime": "2026-02-05T11:07:06.2274364Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com//language/authoring/query-knowledgebases/projects/IsaacNewton/deployments/production?api-version=2025-05-15-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://cqa-westus-qi.cognitiveservices.azure.com:443/language/authoring/query-knowledgebases/projects/IsaacNewton/deployments/production/jobs/6934366d-1839-44fd-a3ee-58ca73bd35e8?api-version=2025-05-15-preview",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "West US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/IsaacNewton/deployments/production/jobs/6934366d-1839-44fd-a3ee-58ca73bd35e8?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "5",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "createdDateTime": "2026-02-05T11:38:40+00:00",
        "expirationDateTime": "2026-02-05T17:38:40+00:00",
        "jobId": "6934366d-1839-44fd-a3ee-58ca73bd35e8",
        "lastUpdatedDateTime": "2026-02-05T11:38:40+00:00",
        "status": "notStarted"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com//language/authoring/query-knowledgebases/projects/IsaacNewton/deployments/production?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "deploymentName": "production",
        "lastDeployedDateTime": "2026-02-05T11:38:45Z"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com//language/authoring/query-knowledgebases/projects/IsaacNewton/deployments?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "value": [
          {
            "deploymentName": "production",
            "lastDeployedDateTime": "2026-02-05T11:38:45Z"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
