{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/IsaacNewton?api-version=2025-05-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "description": "Biography of Sir Isaac Newton",
        "language": "en",
        "multilingualResource": true,
        "settings": {
          "defaultAnswer": "no answer"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "projectName": "IsaacNewton",
        "description": "Biography of Sir Isaac Newton",
        "language": "en",
        "multilingualResource": true,
        "createdDateTime": "2026-02-05T10:49:28Z",
        "lastModifiedDateTime": "2026-02-15T09:14:04Z",
        "lastDeployedDateTime": "2026-02-15T09:13:47Z",
        "configureSemanticRanking": false
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "value": [
          {
            "projectName": "IsaacNewton",
            "description": "Biography of Sir Isaac Newton",
            "language": "en",
            "multilingualResource": true,
            "createdDateTime": "2026-02-05T10:49:28Z",
            "lastModifiedDateTime": "2026-02-15T09:14:04Z",
            "lastDeployedDateTime": "2026-02-15T09:13:47Z",
            "configureSemanticRanking": false
          },
          {
            "projectName": "oaktree",
            "description": [...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/IsaacNewton/:import?api-version=2025-05-15-preview&format=json",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "assets": {
          "qnas": [
            {
              "id": "Sanitized",
              "answer": "Gravity is a force of attraction.",
              "source": "Sanitized",
              "questions": [
                "What is gravity?"
              ]
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://cqa-westus-qi.cognitiveservices.azure.com:443/language/authoring/query-knowledgebases/projects/IsaacNewton/import/jobs/6a5bf4ce-c85c-4764-8de5-fc10a11c3c72?api-version=2025-05-15-preview",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "West US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/IsaacNewton/import/jobs/6a5bf4ce-c85c-4764-8de5-fc10a11c3c72?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "5",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "createdDateTime": "2026-02-15T09:14:05+00:00",
        "expirationDateTime": "2026-02-15T15:14:05+00:00",
        "jobId": "6a5bf4ce-c85c-4764-8de5-fc10a11c3c72",
        "lastUpdatedDateTime": "2026-02-15T09:14:05+00:00",
        "status": "notStarted"
      }
    },
[...]
