{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/IsaacNewton?api-version=2025-05-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "description": "Biography of Sir Isaac Newton",
        "language": "en",
        "multilingualResource": true,
        "settings": {
          "defaultAnswer": "no answer"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "projectName": "IsaacNewton",
        "description": "Biography of Sir Isaac Newton",
        "language": "en",
        "multilingualResource": true,
        "createdDateTime": "2026-02-05T10:49:28Z",
        "lastModifiedDateTime": "2026-02-15T09:15:11Z",
        "lastDeployedDateTime": "2026-02-15T09:13:47Z",
        "configureSemanticRanking": false
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/IsaacNewton/qnas?api-version=2025-05-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": "[{\"op\":\"add\",\"value\":{\"id\":\"Sanitized\",\"answer\":\"Check the battery level in Settings.\",\"questions\":[\"How do I check the battery level?\"],\"metadata\":{\"explicitlytaggedheading\":\"check the battery level\"}}}]",
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://cqa-westus-qi.cognitiveservices.azure.com:443/language/authoring/query-knowledgebases/projects/IsaacNewton/qnas/jobs/17ce74d7-9b1b-4370-be31-957bcaeb5486?api-version=2025-05-15-preview",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "West US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/IsaacNewton/qnas/jobs/17ce74d7-9b1b-4370-be31-957bcaeb5486?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "5",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "createdDateTime": "2026-02-15T09:15:11+00:00",
        "expirationDateTime": "2026-02-15T15:15:11+00:00",
        "jobId": "17ce74d7-9b1b-4370-be31-957bcaeb5486",
        "lastUpdatedDateTime": "2026-02-15T09:15:11+00:00",
        "status": "notStarted"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/IsaacNewton/qnas/jobs/17ce74d7-9b1b-4370-be31-957bcaeb5486?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "createdDateTime": "2026-02-15T09:15:11+00:00",
        "expirationDateTime": "2026-02-15T15:15:11+00:00",
        "jobId": "17ce74d7-9b1b-4370-be31-957bcaeb5486",
        "lastUpdatedDateTime": "2026-02-15T09:15:16+00:00",
        "status": "succeeded",
        "resultUrl": "/knowledgebases/IsaacNewton"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/IsaacNewton/qnas?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Sanitized",
            "answer": "Gravity is a force of attraction.",
            "source": "Sanitized",
            "questions": [
              "What is gravity?"
            ],
            "metadata": {},
            "dialog": {
              "isContextOnly": false,
              "prompts": []
            },
            "activeLearningSuggestions": [],
            "isDocumentText": false,
            "lastUpdatedDateTime": "02/15/2026 09:14:29 +00:00"
          },
          {
            "id": "Sanitized",
            "answer": "Using Microsoft's Azure SDKs",
            "source": "Sanitized",
            "questions": [
              "What is the easiest way to use azure services in my .NET project?"
            ],
            "metadata": {
              "system_metadata_qna_edited_manually": "true"
            },
            "dialog": {
              "isContextOnly": false,
              "prompts": []
            },
            "activeLearningSuggestions": [],
            "isDocumentText": false,
            "lastUpdatedDateTime": "02/15/2026 09:14:55 +00:00"
          },
          {
            "id": "Sanitized",
            "answer": "Check the battery level in Settings.",
            "source": "Sanitized",
            "questions": [
              "How do I check the battery level?"
            ],
            "metadata": {
              "system_metadata_qna_edited_manually": "true",
              "explicitlytaggedheading": "check the battery level"
            },
            "dialog": {
              "isContextOnly": false,
              "prompts": []
            },
            "activeLearningSuggestions": [],
            "isDocumentText": false,
            "lastUpdatedDateTime": "02/15/2026 09:15:13 +00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/IsaacNewton/deployments/production?api-version=2025-05-15-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://cqa-westus-qi.cognitiveservices.azure.com:443/language/authoring/query-knowledgebases/projects/IsaacNewton/deployments/production/jobs/afaff546-1b68-455b-8b94-3c0fa74f917b?api-version=2025-05-15-preview",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "West US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/IsaacNewton/deployments/production/jobs/afaff546-1b68-455b-8b94-3c0fa74f917b?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "5",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "createdDateTime": "2026-02-15T09:15:23+00:00",
        "expirationDateTime": "2026-02-15T15:15:23+00:00",
        "jobId": "afaff546-1b68-455b-8b94-3c0fa74f917b",
        "lastUpdatedDateTime": "2026-02-15T09:15:23+00:00",
        "status": "notStarted"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/IsaacNewton/deployments/production?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "deploymentName": "production",
        "lastDeployedDateTime": "2026-02-15T09:15:37Z"
      }
    },
[...]
