{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/IsaacNewton?api-version=2025-05-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "description": "Biography of Sir Isaac Newton",
        "language": "en",
        "multilingualResource": true,
        "settings": {
          "defaultAnswer": "no answer"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "projectName": "IsaacNewton",
        "description": "Biography of Sir Isaac Newton",
        "language": "en",
        "multilingualResource": true,
        "createdDateTime": "2025-09-25T14:38:04Z",
        "lastModifiedDateTime": "2025-09-25T15:30:37Z",
        "lastDeployedDateTime": "2025-09-25T15:29:17Z",
        "settings": {
          "defaultAnswer": "no answer"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/IsaacNewton/synonyms?api-version=2025-05-15-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "value": [
          {
            "alterations": [
              "qnamaker",
              "qna maker"
            ]
          }
        ]
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/IsaacNewton/synonyms?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "value": [
          {
            "alterations": [
              "qnamaker",
              "qna maker"
            ]
          }
        ]
      }
    }
  ],
  "Variables": {}
}
