{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/IsaacNewton?api-version=2025-05-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "description": "Biography of Sir Isaac Newton",
        "language": "en",
        "multilingualResource": true,
        "settings": {
          "defaultAnswer": "no answer"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "projectName": "IsaacNewton",
        "description": "Biography of Sir Isaac Newton",
        "language": "en",
        "multilingualResource": true,
        "createdDateTime": "2026-02-05T10:49:28Z",
        "lastModifiedDateTime": "2026-02-05T11:39:29Z",
        "lastDeployedDateTime": "2026-02-05T11:38:45Z",
        "configureSemanticRanking": false
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/IsaacNewton/qnas?api-version=2025-05-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": "[{\"op\":\"add\",\"value\":{\"id\":\"Sanitized\",\"answer\":\"Hi! How can I help you today?\",\"questions\":[\"Hello\"]}}]",
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://cqa-westus-qi.cognitiveservices.azure.com:443/language/authoring/query-knowledgebases/projects/IsaacNewton/qnas/jobs/feeb5e62-8214-4637-b6c7-b04a40b8a9bf?api-version=2025-05-15-preview",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "West US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/IsaacNewton/qnas/jobs/feeb5e62-8214-4637-b6c7-b04a40b8a9bf?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "5",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "createdDateTime": "2026-02-05T11:39:29+00:00",
        "expirationDateTime": "2026-02-05T17:39:29+00:00",
        "jobId": "feeb5e62-8214-4637-b6c7-b04a40b8a9bf",
        "lastUpdatedDateTime": "2026-02-05T11:39:29+00:00",
        "status": "notStarted"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/IsaacNewton/qnas/jobs/feeb5e62-8214-4637-b6c7-b04a40b8a9bf?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "createdDateTime": "2026-02-05T11:39:29+00:00",
        "expirationDateTime": "2026-02-05T17:39:29+00:00",
        "jobId": "feeb5e62-8214-4637-b6c7-b04a40b8a9bf",
        "lastUpdatedDateTime": "2026-02-05T11:39:34+00:00",
        "status": "succeeded",
        "resultUrl": "/knowledgebases/IsaacNewton"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/IsaacNewton/qnas?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Sanitized",
            "answer": "Gravity is a force of attraction.",
            "source": "Sanitized",
            "questions": [
              "What is gravity?"
            ],
            "metadata": {},
            "dialog": {
              "isContextOnly": false,
              "prompts": []
            },
            "activeLearningSuggestions": [],
            "isDocumentText": false,
            "lastUpdatedDateTime": "02/05/2026 11:39:22 +00:00"
          },
          {
            "id": "Sanitized",
            "answer": "Hi! How can I help you today?",
            "source": "Sanitized",
            "questions": [
              "Hello"
            ],
            "metadata": {
              "system_metadata_qna_edited_manually": "true"
            },
            "dialog": {
              "isContextOnly": false,
              "prompts": []
            },
            "activeLearningSuggestions": [],
            "isDocumentText": false,
            "lastUpdatedDateTime": "02/05/2026 11:39:32 +00:00"
          }
        ]
      }
    },
[...]
