{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/IsaacNewton?api-version=2025-05-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "description": "Biography of Sir Isaac Newton",
        "language": "en",
        "multilingualResource": true,
        "settings": {
          "defaultAnswer": "no answer"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "projectName": "IsaacNewton",
        "description": "Biography of Sir Isaac Newton",
        "language": "en",
        "multilingualResource": true,
        "createdDateTime": "2025-09-25T14:38:04Z",
        "lastModifiedDateTime": "2025-11-07T01:52:44Z",
        "lastDeployedDateTime": "2025-11-07T01:49:30Z",
        "configureSemanticRanking": false
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/IsaacNewton/sources?api-version=2025-05-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": "[{\"op\": \"add\", \"value\": {\"displayName\": \"Isaac Newton Bio\", \"sourceUri\": \"https://wikipedia.org/wiki/Isaac_Newton\", \"sourceKind\": \"url\"}}]",
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://qnatestqi.cognitiveservices.azure.com:443/language/authoring/query-knowledgebases/projects/IsaacNewton/sources/jobs/f63fd8a6-ac7c-42d7-97ee-bd9f7cfda8e6?api-version=2025-05-15-preview",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/IsaacNewton/sources/jobs/f63fd8a6-ac7c-42d7-97ee-bd9f7cfda8e6?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "5",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "createdDateTime": "2025-11-07T01:52:45+00:00",
        "expirationDateTime": "2025-11-07T07:52:45+00:00",
        "jobId": "f63fd8a6-ac7c-42d7-97ee-bd9f7cfda8e6",
        "lastUpdatedDateTime": "2025-11-07T01:52:45+00:00",
        "status": "notStarted"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/IsaacNewton/sources/jobs/f63fd8a6-ac7c-42d7-97ee-bd9f7cfda8e6?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "createdDateTime": "2025-11-07T01:52:45+00:00",
        "expirationDateTime": "2025-11-07T07:52:45+00:00",
        "jobId": "f63fd8a6-ac7c-42d7-97ee-bd9f7cfda8e6",
        "lastUpdatedDateTime": "2025-11-07T01:52:47+00:00",
        "status": "succeeded",
        "resultUrl": "/knowledgebases/IsaacNewton"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/IsaacNewton/sources?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "value": [
          {
            "displayName": "MicrosoftFAQ",
            "source": "Sanitized",
            "sourceUri": "https://www.microsoft.com/en-in/software-download/faq",
            "sourceKind": "url",
            "contentStructureKind": "unstructured",
            "lastUpdatedDateTime": "2025-11-07T01:51:21.745287Z"
          },
          {
            "source": "Sanitized",
            "sourceUri": "https://wikipedia.org/wiki/Isaac_Newton",
            "sourceKind": "url",
            "contentStructureKind": "semistructured",
            "lastUpdatedDateTime": "2025-11-07T01:50:19.2632653Z"
          },
          {
            "source": "Sanitized",
            "sourceKind": "file",
            "contentStructureKind": "semistructured",
            "lastUpdatedDateTime": "2025-11-07T01:51:31.5746532Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/IsaacNewton/deployments/production?api-version=2025-05-15-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://qnatestqi.cognitiveservices.azure.com:443/language/authoring/query-knowledgebases/projects/IsaacNewton/deployments/production/jobs/bd6011b6-ec16-4fe2-a95f-ff65592624f8?api-version=2025-05-15-preview",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/IsaacNewton/deployments/production/jobs/bd6011b6-ec16-4fe2-a95f-ff65592624f8?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "5",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "createdDateTime": "2025-11-07T01:52:51+00:00",
        "expirationDateTime": "2025-11-07T07:52:51+00:00",
        "jobId": "bd6011b6-ec16-4fe2-a95f-ff65592624f8",
        "lastUpdatedDateTime": "2025-11-07T01:52:51+00:00",
        "status": "notStarted"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/IsaacNewton/deployments/production?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "deploymentName": "production",
        "lastDeployedDateTime": "2025-11-07T01:53:06Z"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/IsaacNewton/deployments?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "value": [
          {
            "deploymentName": "production",
            "lastDeployedDateTime": "2025-11-07T01:53:06Z"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
