{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/IsaacNewton?api-version=2025-05-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "description": "Biography of Sir Isaac Newton",
        "language": "en",
        "multilingualResource": true,
        "settings": {
          "defaultAnswer": "no answer"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "projectName": "IsaacNewton",
        "description": "Biography of Sir Isaac Newton",
        "language": "en",
        "multilingualResource": true,
        "createdDateTime": "2025-09-25T14:38:04Z",
        "lastModifiedDateTime": "2025-09-25T15:28:32Z",
        "lastDeployedDateTime": "2025-09-25T15:16:25Z",
        "settings": {
          "defaultAnswer": "no answer"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "value": [
          {
            "projectName": "IsaacNewton",
            "description": "Biography of Sir Isaac Newton",
            "language": "en",
            "multilingualResource": true,
            "createdDateTime": "2025-09-25T14:38:04Z",
            "lastModifiedDateTime": "2025-09-25T15:28:32Z",
            "lastDeployedDateTime": "2025-09-25T15:16:25Z",
            "settings": {
              "defaultAnswer": "no answer"
            }
          },
          {
            "projectName": "IssacNewton",
            "description": "biography of Sir Issac Newton",
            "language": "en",
            "multilingualResource": true,
            "createdDateTime": "2025-09-05T16:30:19Z",
            "lastModifiedDateTime": "2025-09-05T17:01:19Z",
            "lastDeployedDateTime": "2025-09-05T17:01:28Z",
            "settings": {
              "defaultAnswer": "no answer"
            }
          },
          {
            "projectName": "test-project",
            "description": "",
            "language": "en",
            "multilingualResource": true,
            "createdDateTime": "2024-12-17T00:05:27Z",
            "lastModifiedDateTime": "2025-09-18T02:43:14Z",
            "lastDeployedDateTime": "2025-09-03T13:43:02Z",
            "settings": {
              "defaultAnswer": "No answer found"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
