{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1762283255621?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1762283255621",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"B6PnyMbeji6ek4SPyuNaiQqgJz74PNtj0W4KIxoLnQA\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:07:38 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQxMjM=;sn=75064123",
        "x-ms-date": "Tue, 04 Nov 2025 19:07:38 GMT"
      },
      "ResponseBody": {
        "etag": "B6PnyMbeji6ek4SPyuNaiQqgJz74PNtj0W4KIxoLnQA",
        "key": "key1-1762283255621",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2025-11-04T19:07:38+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1762283255621?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQxMjM="
      },
      "RequestBody": {
        "key": "key2-1762283255621",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PepfwvSVF1VrduBdgqJWasfllesEJJWBqdSzfqJaJ90\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:07:38 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQxMjQ=;sn=75064124",
        "x-ms-date": "Tue, 04 Nov 2025 19:07:38 GMT"
      },
      "ResponseBody": {
        "etag": "PepfwvSVF1VrduBdgqJWasfllesEJJWBqdSzfqJaJ90",
        "key": "key2-1762283255621",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-11-04T19:07:38+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1762283255621?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQxMjQ="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1762283255621",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"JG31SM46eBMiJ1ipJ7GI0gIfEs_RZedsObZ1EcrO2Yo\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:07:38 GMT",
        "Link": "</kv?snapshot=snapshot-1762283255621&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1762283255621&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQxMjU=;sn=75064125",
        "x-ms-date": "Tue, 04 Nov 2025 19:07:38 GMT"
      },
      "ResponseBody": {
        "etag": "JG31SM46eBMiJ1ipJ7GI0gIfEs_RZedsObZ1EcrO2Yo",
        "name": "snapshot-1762283255621",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1762283255621",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-11-04T19:07:38.3572724+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1762283255621",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQxMjU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQxMjU=;sn=75064125",
        "x-ms-date": "Tue, 04 Nov 2025 19:07:38 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-1762283255621",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQxMjc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"E_BcjGz-nBVokOsBqpTjuzSBa7MLOBTCZDD-Q7tCOC0\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQxMjg=;sn=75064128",
        "x-ms-date": "Tue, 04 Nov 2025 19:07:49 GMT"
      },
      "ResponseBody": {
        "etag": "E_BcjGz-nBVokOsBqpTjuzSBa7MLOBTCZDD-Q7tCOC0",
        "items": [
          {
            "etag": "B6PnyMbeji6ek4SPyuNaiQqgJz74PNtj0W4KIxoLnQA",
            "key": "key1-1762283255621",
            "label": "label1",
            "content_type": null,
            "value": "value1",
            "tags": {
              "production": "1"
            },
            "locked": false,
            "last_modified": "2025-11-04T19:07:38+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1762283255621?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQxMjg="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"YrW5FrvdkMfH69xgXaXmo-nd7uvpx_LMFscMJXh1SKw\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:07:45 GMT",
        "Link": "</kv?snapshot=snapshot-1762283255621&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQxMjk=;sn=75064129",
        "x-ms-date": "Tue, 04 Nov 2025 19:07:49 GMT"
      },
      "ResponseBody": {
        "etag": "YrW5FrvdkMfH69xgXaXmo-nd7uvpx_LMFscMJXh1SKw",
        "name": "snapshot-1762283255621",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1762283255621",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-11-04T19:07:38+00:00",
        "expires": "2025-12-04T19:07:49.5683805+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1762283255621?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQxMzA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PepfwvSVF1VrduBdgqJWasfllesEJJWBqdSzfqJaJ90\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:07:38 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQxMzE=;sn=75064131",
        "x-ms-date": "Tue, 04 Nov 2025 19:07:49 GMT"
      },
      "ResponseBody": {
        "etag": "PepfwvSVF1VrduBdgqJWasfllesEJJWBqdSzfqJaJ90",
        "key": "key2-1762283255621",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-11-04T19:07:38+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1762283255621",
    "key2": "key2-1762283255621",
    "snapshot1": "snapshot-1762283255621"
  }
}
