{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1768285107513?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1768285107513",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-WV6OY5kBLfFqe-EgtIsZwNjtiQt_pteTZfpIYh2Oj0\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:18:29 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3OTY0OA==;sn=102479648",
        "x-ms-date": "Tue, 13 Jan 2026 06:18:29 GMT"
      },
      "ResponseBody": {
        "etag": "-WV6OY5kBLfFqe-EgtIsZwNjtiQt_pteTZfpIYh2Oj0",
        "key": "key1-1768285107513",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2026-01-13T06:18:29+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1768285107513?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3OTY0OA=="
      },
      "RequestBody": {
        "key": "key2-1768285107513",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qJGpyCS7B7tFT4DspIMHw-LyPoGC04QqmhCe4aWxfVQ\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:18:29 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3OTY0OQ==;sn=102479649",
        "x-ms-date": "Tue, 13 Jan 2026 06:18:29 GMT"
      },
      "ResponseBody": {
        "etag": "qJGpyCS7B7tFT4DspIMHw-LyPoGC04QqmhCe4aWxfVQ",
        "key": "key2-1768285107513",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-01-13T06:18:29+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1768285107513?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3OTY0OQ=="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key*",
            "tags": [
              "production=1"
            ]
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"u0pe6ptQEmP8j016P87YnVf0uBDcnNbUENA2RPb40ck\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:18:30 GMT",
        "Link": "</kv?snapshot=snapshot-1768285107513&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1768285107513&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3OTY1MA==;sn=102479650",
        "x-ms-date": "Tue, 13 Jan 2026 06:18:30 GMT"
      },
      "ResponseBody": {
        "etag": "u0pe6ptQEmP8j016P87YnVf0uBDcnNbUENA2RPb40ck",
        "name": "snapshot-1768285107513",
        "status": "provisioning",
        "filters": [
          {
            "key": "key*",
            "label": null,
            "tags": [
              "production=1"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2026-01-13T06:18:30.1072004+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1768285107513",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3OTY1MA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3OTY1MA==;sn=102479650",
        "x-ms-date": "Tue, 13 Jan 2026 06:18:30 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-1768285107513",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3OTY1MQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3OTY1MQ==;sn=102479651",
        "x-ms-date": "Tue, 13 Jan 2026 06:18:50 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1768285107513?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3OTY1MQ=="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"XJ3m4Rx1DkgVxQOYsGqWvq7VYqI3PKLih86tvOuYqQ0\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:18:43 GMT",
        "Link": "</kv?snapshot=snapshot-1768285107513&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3OTY1Mg==;sn=102479652",
        "x-ms-date": "Tue, 13 Jan 2026 06:18:51 GMT"
      },
      "ResponseBody": {
        "etag": "XJ3m4Rx1DkgVxQOYsGqWvq7VYqI3PKLih86tvOuYqQ0",
        "name": "snapshot-1768285107513",
        "status": "archived",
        "filters": [
          {
            "key": "key*",
            "label": null,
            "tags": [
              "production=1"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2026-01-13T06:18:30+00:00",
        "expires": "2026-02-12T06:18:51.1218073+00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1768285107513?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3OTY1Mw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qJGpyCS7B7tFT4DspIMHw-LyPoGC04QqmhCe4aWxfVQ\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:18:29 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3OTY1NA==;sn=102479654",
        "x-ms-date": "Tue, 13 Jan 2026 06:18:51 GMT"
      },
      "ResponseBody": {
        "etag": "qJGpyCS7B7tFT4DspIMHw-LyPoGC04QqmhCe4aWxfVQ",
        "key": "key2-1768285107513",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-01-13T06:18:29+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1768285107513",
    "key2": "key2-1768285107513",
    "snapshot1": "snapshot-1768285107513"
  }
}
