{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1758163667917?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1758163667917",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6CbBMHzOvzS3qlXMiJl_67YssVsyuRzWrfRCnHQAKd4\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:47:50 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDIwNjk=;sn=73802069"
      },
      "ResponseBody": {
        "etag": "6CbBMHzOvzS3qlXMiJl_67YssVsyuRzWrfRCnHQAKd4",
        "key": "key1-1758163667917",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2025-09-18T02:47:50+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1758163667917?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDIwNjk="
      },
      "RequestBody": {
        "key": "key2-1758163667917",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KIslhaIw4QTY3f8AVurX8R35YGRxVNzE-dGjzq5svv4\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:47:50 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDIwNzA=;sn=73802070"
      },
      "ResponseBody": {
        "etag": "KIslhaIw4QTY3f8AVurX8R35YGRxVNzE-dGjzq5svv4",
        "key": "key2-1758163667917",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-09-18T02:47:50+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1758163667917?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDIwNzA="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1758163667917",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"mM4r8PzmplAEsAWOqBh0QzEJl0BMvFqyyMJO0sUStlY\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:47:50 GMT",
        "Link": "</kv?snapshot=snapshot-1758163667917&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1758163667917&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDIwNzE=;sn=73802071"
      },
      "ResponseBody": {
        "etag": "mM4r8PzmplAEsAWOqBh0QzEJl0BMvFqyyMJO0sUStlY",
        "name": "snapshot-1758163667917",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1758163667917",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-09-18T02:47:50.8125604+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1758163667917",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDIwNzE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDIwNzE=;sn=73802071"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-1758163667917",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDIwNzM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"ZAvJNZSNnMP1ptftSB7G6tlK0XxP7UFKunyz6QYdujM\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDIwNzQ=;sn=73802074"
      },
      "ResponseBody": {
        "etag": "ZAvJNZSNnMP1ptftSB7G6tlK0XxP7UFKunyz6QYdujM",
        "items": [
          {
            "etag": "6CbBMHzOvzS3qlXMiJl_67YssVsyuRzWrfRCnHQAKd4",
            "key": "key1-1758163667917",
            "label": "label1",
            "content_type": null,
            "value": "value1",
            "tags": {
              "production": "1"
            },
            "locked": false,
            "last_modified": "2025-09-18T02:47:50+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1758163667917?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDIwNzQ="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"Gfscp4pSuqoHyUK9erfDzgt8M5xIV9w4XXNVcKZCxwY\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:48:00 GMT",
        "Link": "</kv?snapshot=snapshot-1758163667917&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDIwNzU=;sn=73802075"
      },
      "ResponseBody": {
        "etag": "Gfscp4pSuqoHyUK9erfDzgt8M5xIV9w4XXNVcKZCxwY",
        "name": "snapshot-1758163667917",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1758163667917",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-09-18T02:47:50+00:00",
        "expires": "2025-10-18T02:48:02.1757505+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1758163667917?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDIwNzY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KIslhaIw4QTY3f8AVurX8R35YGRxVNzE-dGjzq5svv4\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:47:50 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDIwNzc=;sn=73802077"
      },
      "ResponseBody": {
        "etag": "KIslhaIw4QTY3f8AVurX8R35YGRxVNzE-dGjzq5svv4",
        "key": "key2-1758163667917",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-09-18T02:47:50+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1758163667917",
    "key2": "key2-1758163667917",
    "snapshot1": "snapshot-1758163667917"
  }
}
