{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1720731209431?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1720731209431",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ZpsajwxaCnpvQ7XuQTMHnU54yw2RvqQemMel6aBgz5c\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:53:32 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA1Nzk0;sn=2805794"
      },
      "ResponseBody": {
        "etag": "ZpsajwxaCnpvQ7XuQTMHnU54yw2RvqQemMel6aBgz5c",
        "key": "key1-1720731209431",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2024-07-11T20:53:32+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1720731209431?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=ODoxNSMyODA1Nzk0"
      },
      "RequestBody": {
        "key": "key2-1720731209431",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"e0ohbHlHOk5JW6WNDeemVO2GL_uTbIRhCnOnr1CJCnI\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:53:32 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA1Nzk1;sn=2805795"
      },
      "ResponseBody": {
        "etag": "e0ohbHlHOk5JW6WNDeemVO2GL_uTbIRhCnOnr1CJCnI",
        "key": "key2-1720731209431",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2024-07-11T20:53:32+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1720731209431?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=ODoxNSMyODA1Nzk1"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1720731209431",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"LwLiMKIs8zL_NI2TI8AxZ_qzna-rpbgjRiJo44918aw\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:53:32 GMT",
        "Link": "</kv?snapshot=snapshot-1720731209431&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1720731209431&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA1Nzk2;sn=2805796"
      },
      "ResponseBody": {
        "etag": "LwLiMKIs8zL_NI2TI8AxZ_qzna-rpbgjRiJo44918aw",
        "name": "snapshot-1720731209431",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1720731209431",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2024-07-11T20:53:32+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?snapshot=snapshot-1720731209431&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=ODoxNSMyODA1Nzk2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA1Nzk2;sn=2805796"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-1720731209431",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODA1Nzk4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"Jg62kSTcR7k0wSFsyNVEgta-Xq-vB8NQ2zELJGxrWJM\"",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA1Nzk5;sn=2805799"
      },
      "ResponseBody": {
        "etag": "Jg62kSTcR7k0wSFsyNVEgta-Xq-vB8NQ2zELJGxrWJM",
        "items": [
          {
            "etag": "ZpsajwxaCnpvQ7XuQTMHnU54yw2RvqQemMel6aBgz5c",
            "key": "key1-1720731209431",
            "label": "label1",
            "content_type": null,
            "value": "value1",
            "tags": {
              "production": "1"
            },
            "locked": false,
            "last_modified": "2024-07-11T20:53:32+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1720731209431?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=ODoxNSMyODA1Nzk5"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"54XxZjdlhy28NUy5hcM0K4cbNDE52qpxhZnxQopxDAU\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:53:32 GMT",
        "Link": "</kv?snapshot=snapshot-1720731209431&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA1ODAw;sn=2805800"
      },
      "ResponseBody": {
        "etag": "54XxZjdlhy28NUy5hcM0K4cbNDE52qpxhZnxQopxDAU",
        "name": "snapshot-1720731209431",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1720731209431",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2024-07-11T20:53:32+00:00",
        "expires": "2024-08-10T20:53:54.4157002+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1720731209431?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODA1ODAx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"e0ohbHlHOk5JW6WNDeemVO2GL_uTbIRhCnOnr1CJCnI\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:53:32 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA1ODAy;sn=2805802"
      },
      "ResponseBody": {
        "etag": "e0ohbHlHOk5JW6WNDeemVO2GL_uTbIRhCnOnr1CJCnI",
        "key": "key2-1720731209431",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2024-07-11T20:53:32+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1720731209431",
    "key2": "key2-1720731209431",
    "snapshot1": "snapshot-1720731209431"
  }
}
