{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1762281426566?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1762281426566",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"fa6boBwnhVSAFN6Psa3WSrSAXc6V9DMxy7DUhQkCPBU\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:37:08 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjA0MzM=;sn=75060433",
        "x-ms-date": "Tue, 04 Nov 2025 18:37:08 GMT"
      },
      "ResponseBody": {
        "etag": "fa6boBwnhVSAFN6Psa3WSrSAXc6V9DMxy7DUhQkCPBU",
        "key": "key1-1762281426566",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2025-11-04T18:37:08+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1762281426566?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjA0MzM="
      },
      "RequestBody": {
        "key": "key2-1762281426566",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"c7okOLX4hQq6eLsfbt0ZxTQuJcYYA1SBoqJSthI6omI\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:37:09 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjA0MzQ=;sn=75060434",
        "x-ms-date": "Tue, 04 Nov 2025 18:37:09 GMT"
      },
      "ResponseBody": {
        "etag": "c7okOLX4hQq6eLsfbt0ZxTQuJcYYA1SBoqJSthI6omI",
        "key": "key2-1762281426566",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-11-04T18:37:09+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1762281426566?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjA0MzQ="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key*",
            "tags": [
              "production=1"
            ]
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"r3v3vybexamzzfGWDEG53j2u-w4hb6JIqbaZ37h3FVQ\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:37:09 GMT",
        "Link": "</kv?snapshot=snapshot-1762281426566&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1762281426566&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjA0MzU=;sn=75060435",
        "x-ms-date": "Tue, 04 Nov 2025 18:37:09 GMT"
      },
      "ResponseBody": {
        "etag": "r3v3vybexamzzfGWDEG53j2u-w4hb6JIqbaZ37h3FVQ",
        "name": "snapshot-1762281426566",
        "status": "provisioning",
        "filters": [
          {
            "key": "key*",
            "label": null,
            "tags": [
              "production=1"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2025-11-04T18:37:09.2856618+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1762281426566",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjA0MzU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjA0MzU=;sn=75060435",
        "x-ms-date": "Tue, 04 Nov 2025 18:37:09 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-1762281426566",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjA0MzY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjA0MzY=;sn=75060436",
        "x-ms-date": "Tue, 04 Nov 2025 18:37:30 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1762281426566?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjA0MzY="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"feOZmuwwhGhbFsokwS_jxGrdhk3PXOH5WYIh8WA9lrI\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:37:21 GMT",
        "Link": "</kv?snapshot=snapshot-1762281426566&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjA0Mzc=;sn=75060437",
        "x-ms-date": "Tue, 04 Nov 2025 18:37:30 GMT"
      },
      "ResponseBody": {
        "etag": "feOZmuwwhGhbFsokwS_jxGrdhk3PXOH5WYIh8WA9lrI",
        "name": "snapshot-1762281426566",
        "status": "archived",
        "filters": [
          {
            "key": "key*",
            "label": null,
            "tags": [
              "production=1"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2025-11-04T18:37:09+00:00",
        "expires": "2025-12-04T18:37:30.5079698+00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1762281426566?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjA0Mzg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"c7okOLX4hQq6eLsfbt0ZxTQuJcYYA1SBoqJSthI6omI\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:37:09 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjA0Mzk=;sn=75060439",
        "x-ms-date": "Tue, 04 Nov 2025 18:37:30 GMT"
      },
      "ResponseBody": {
        "etag": "c7okOLX4hQq6eLsfbt0ZxTQuJcYYA1SBoqJSthI6omI",
        "key": "key2-1762281426566",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-11-04T18:37:09+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1762281426566",
    "key2": "key2-1762281426566",
    "snapshot1": "snapshot-1762281426566"
  }
}
