{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1769396919889?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1769396919889",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8uvXjzERVX6LKguRJzdpnXnCdaOl-jAQbxY7dKu9_9w\"",
        "Last-Modified": "Mon, 26 Jan 2026 03:08:43 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0OTAzNg==;sn=103849036",
        "x-ms-date": "Mon, 26 Jan 2026 03:08:43 GMT"
      },
      "ResponseBody": {
        "etag": "8uvXjzERVX6LKguRJzdpnXnCdaOl-jAQbxY7dKu9_9w",
        "key": "key1-1769396919889",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2026-01-26T03:08:43+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1769396919889?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0OTAzNg=="
      },
      "RequestBody": {
        "key": "key2-1769396919889",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4fHtw_ASYemiUQnySXhbM0QNwAEbOp5GLXrhWqmyKHM\"",
        "Last-Modified": "Mon, 26 Jan 2026 03:08:43 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0OTAzNw==;sn=103849037",
        "x-ms-date": "Mon, 26 Jan 2026 03:08:43 GMT"
      },
      "ResponseBody": {
        "etag": "4fHtw_ASYemiUQnySXhbM0QNwAEbOp5GLXrhWqmyKHM",
        "key": "key2-1769396919889",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-01-26T03:08:43+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1769396919889?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0OTAzNw=="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1769396919889",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"SH7xMhb-6M-yZsigfNv3kx3DTMQAs6mja0hKBj1PoHM\"",
        "Last-Modified": "Mon, 26 Jan 2026 03:08:43 GMT",
        "Link": "</kv?snapshot=snapshot-1769396919889&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1769396919889&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0OTAzOA==;sn=103849038",
        "x-ms-date": "Mon, 26 Jan 2026 03:08:43 GMT"
      },
      "ResponseBody": {
        "etag": "SH7xMhb-6M-yZsigfNv3kx3DTMQAs6mja0hKBj1PoHM",
        "name": "snapshot-1769396919889",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1769396919889",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-26T03:08:43.5156382+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1769396919889",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0OTAzOA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0OTAzOA==;sn=103849038",
        "x-ms-date": "Mon, 26 Jan 2026 03:08:43 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-1769396919889",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0OTA0NQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"4lI73qU-tO14KtLK-iR9L0bOPmR0EUpMs1oVb9Vb9p0\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0OTA0Ng==;sn=103849046",
        "x-ms-date": "Mon, 26 Jan 2026 03:09:04 GMT"
      },
      "ResponseBody": {
        "etag": "4lI73qU-tO14KtLK-iR9L0bOPmR0EUpMs1oVb9Vb9p0",
        "items": [
          {
            "etag": "8uvXjzERVX6LKguRJzdpnXnCdaOl-jAQbxY7dKu9_9w",
            "key": "key1-1769396919889",
            "label": "label1",
            "content_type": null,
            "value": "value1",
            "tags": {
              "production": "1"
            },
            "locked": false,
            "last_modified": "2026-01-26T03:08:43+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1769396919889?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0OTA0Ng=="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"dha68OYaB8jbRFnsHHIr5QKAvP2bK4pUc_8FBQRKG_0\"",
        "Last-Modified": "Mon, 26 Jan 2026 03:09:00 GMT",
        "Link": "</kv?snapshot=snapshot-1769396919889&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0OTA0Nw==;sn=103849047",
        "x-ms-date": "Mon, 26 Jan 2026 03:09:04 GMT"
      },
      "ResponseBody": {
        "etag": "dha68OYaB8jbRFnsHHIr5QKAvP2bK4pUc_8FBQRKG_0",
        "name": "snapshot-1769396919889",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1769396919889",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-26T03:08:43+00:00",
        "expires": "2026-02-25T03:09:04.6793693+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1769396919889?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0OTA0OA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4fHtw_ASYemiUQnySXhbM0QNwAEbOp5GLXrhWqmyKHM\"",
        "Last-Modified": "Mon, 26 Jan 2026 03:08:43 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0OTA0OQ==;sn=103849049",
        "x-ms-date": "Mon, 26 Jan 2026 03:09:05 GMT"
      },
      "ResponseBody": {
        "etag": "4fHtw_ASYemiUQnySXhbM0QNwAEbOp5GLXrhWqmyKHM",
        "key": "key2-1769396919889",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-01-26T03:08:43+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1769396919889",
    "key2": "key2-1769396919889",
    "snapshot1": "snapshot-1769396919889"
  }
}
