{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1716931055745?api-version=2023-10-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1716931055745",
        "label": "label1",
        "value": "value1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"LOLWrcXcUK4CPcPl5yIv_ZkQV6SHqomfJ4lZffkxU-Y\"",
        "Last-Modified": "Tue, 28 May 2024 21:17:36 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTMwMjk=;sn=2613029"
      },
      "ResponseBody": {
        "etag": "LOLWrcXcUK4CPcPl5yIv_ZkQV6SHqomfJ4lZffkxU-Y",
        "key": "key1-1716931055745",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T21:17:36+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1716931055745?api-version=2023-10-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=Nzo1IzI2MTMwMjk="
      },
      "RequestBody": {
        "key": "key2-1716931055745",
        "label": "label2",
        "value": "value2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"jyK6ON0wLtNCgBvYRsBM-uHD3Jqsnizb0yVtf4eU-3A\"",
        "Last-Modified": "Tue, 28 May 2024 21:17:36 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTMwMzA=;sn=2613030"
      },
      "ResponseBody": {
        "etag": "jyK6ON0wLtNCgBvYRsBM-uHD3Jqsnizb0yVtf4eU-3A",
        "key": "key2-1716931055745",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T21:17:36+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1716931055745?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=Nzo1IzI2MTMwMzA="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1716931055745",
            "label": "label1"
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"9U3yb_GtCUR1fNrAAhWMM5C59xJGZ8YRQg7asWJCWF8\"",
        "Last-Modified": "Tue, 28 May 2024 21:17:36 GMT",
        "Link": "</kv?snapshot=snapshot-1716931055745&api-version=2023-10-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1716931055745&api-version=2023-10-01",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTMwMzE=;sn=2613031"
      },
      "ResponseBody": {
        "etag": "9U3yb_GtCUR1fNrAAhWMM5C59xJGZ8YRQg7asWJCWF8",
        "name": "snapshot-1716931055745",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1716931055745",
            "label": "label1"
          }
        ],
        "composition_type": "key",
        "created": "2024-05-28T21:17:36+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?snapshot=snapshot-1716931055745&api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=Nzo1IzI2MTMwMzE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTMwMzE=;sn=2613031"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-10-01&snapshot=snapshot-1716931055745",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Nzo1IzI2MTMwMzM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"RX02CzOmBFaqQgZHfZ2ld17qwO6Nl_TzwylsewleB9g\"",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTMwMzQ=;sn=2613034"
      },
      "ResponseBody": {
        "etag": "RX02CzOmBFaqQgZHfZ2ld17qwO6Nl_TzwylsewleB9g",
        "items": [
          {
            "etag": "LOLWrcXcUK4CPcPl5yIv_ZkQV6SHqomfJ4lZffkxU-Y",
            "key": "key1-1716931055745",
            "label": "label1",
            "content_type": null,
            "value": "value1",
            "tags": {},
            "locked": false,
            "last_modified": "2024-05-28T21:17:36+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1716931055745?api-version=2023-10-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=Nzo1IzI2MTMwMzQ="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"WMRlcLsn_7OQJ1swMw8unhx3uwOg1uv9oaIzf1JJ0q4\"",
        "Last-Modified": "Tue, 28 May 2024 21:17:36 GMT",
        "Link": "</kv?snapshot=snapshot-1716931055745&api-version=2023-10-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTMwMzU=;sn=2613035"
      },
      "ResponseBody": {
        "etag": "WMRlcLsn_7OQJ1swMw8unhx3uwOg1uv9oaIzf1JJ0q4",
        "name": "snapshot-1716931055745",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1716931055745",
            "label": "label1"
          }
        ],
        "composition_type": "key",
        "created": "2024-05-28T21:17:36+00:00",
        "expires": "2024-06-27T21:18:06.6986583+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1716931055745?api-version=2023-10-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Nzo1IzI2MTMwMzY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"jyK6ON0wLtNCgBvYRsBM-uHD3Jqsnizb0yVtf4eU-3A\"",
        "Last-Modified": "Tue, 28 May 2024 21:17:36 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTMwMzc=;sn=2613037"
      },
      "ResponseBody": {
        "etag": "jyK6ON0wLtNCgBvYRsBM-uHD3Jqsnizb0yVtf4eU-3A",
        "key": "key2-1716931055745",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T21:17:36+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1716931055745",
    "key2": "key2-1716931055745",
    "snapshot1": "snapshot-1716931055745"
  }
}
