{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1762328039784?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1762328039784",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"l5ubMb9zylMpS1YqPW5HJ35O0IYlB6xZ-piaUxpwpnc\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:34:02 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODM0MDY=;sn=75083406",
        "x-ms-date": "Wed, 05 Nov 2025 07:34:02 GMT"
      },
      "ResponseBody": {
        "etag": "l5ubMb9zylMpS1YqPW5HJ35O0IYlB6xZ-piaUxpwpnc",
        "key": "key1-1762328039784",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2025-11-05T07:34:02+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1762328039784?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODM0MDY="
      },
      "RequestBody": {
        "key": "key2-1762328039784",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"RLubvFr-8S3peQSYvxg2qnHyviYRf8wylIViXpxAlsg\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:34:02 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODM0MDc=;sn=75083407",
        "x-ms-date": "Wed, 05 Nov 2025 07:34:02 GMT"
      },
      "ResponseBody": {
        "etag": "RLubvFr-8S3peQSYvxg2qnHyviYRf8wylIViXpxAlsg",
        "key": "key2-1762328039784",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-11-05T07:34:02+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1762328039784?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODM0MDc="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key*",
            "tags": [
              "production=1"
            ]
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"xTU5LyqAVm5gAyPG4xMM7oFC1R42kbibzqh7yoFvdrA\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:34:02 GMT",
        "Link": "</kv?snapshot=snapshot-1762328039784&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1762328039784&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODM0MDg=;sn=75083408",
        "x-ms-date": "Wed, 05 Nov 2025 07:34:02 GMT"
      },
      "ResponseBody": {
        "etag": "xTU5LyqAVm5gAyPG4xMM7oFC1R42kbibzqh7yoFvdrA",
        "name": "snapshot-1762328039784",
        "status": "provisioning",
        "filters": [
          {
            "key": "key*",
            "label": null,
            "tags": [
              "production=1"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2025-11-05T07:34:02.4119075+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1762328039784",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODM0MDg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODM0MDg=;sn=75083408",
        "x-ms-date": "Wed, 05 Nov 2025 07:34:02 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-1762328039784",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODM0MTM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODM0MTM=;sn=75083413",
        "x-ms-date": "Wed, 05 Nov 2025 07:34:13 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1762328039784?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODM0MTM="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"O2aOYbwDTMms0aL0GI-shpLPxMSlfFvpfQWylCvCN6o\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:34:05 GMT",
        "Link": "</kv?snapshot=snapshot-1762328039784&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODM0MTQ=;sn=75083414",
        "x-ms-date": "Wed, 05 Nov 2025 07:34:13 GMT"
      },
      "ResponseBody": {
        "etag": "O2aOYbwDTMms0aL0GI-shpLPxMSlfFvpfQWylCvCN6o",
        "name": "snapshot-1762328039784",
        "status": "archived",
        "filters": [
          {
            "key": "key*",
            "label": null,
            "tags": [
              "production=1"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2025-11-05T07:34:02+00:00",
        "expires": "2025-12-05T07:34:13.5595902+00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1762328039784?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODM0MTU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"RLubvFr-8S3peQSYvxg2qnHyviYRf8wylIViXpxAlsg\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:34:02 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODM0MTY=;sn=75083416",
        "x-ms-date": "Wed, 05 Nov 2025 07:34:13 GMT"
      },
      "ResponseBody": {
        "etag": "RLubvFr-8S3peQSYvxg2qnHyviYRf8wylIViXpxAlsg",
        "key": "key2-1762328039784",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-11-05T07:34:02+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1762328039784",
    "key2": "key2-1762328039784",
    "snapshot1": "snapshot-1762328039784"
  }
}
