{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1759424548295?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1759424548295",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"v0sncYDVWEhYnm2IcUdU3pfraLIP_I6jZcaNkh9iFVw\"",
        "Last-Modified": "Thu, 02 Oct 2025 17:02:30 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzUxODM=;sn=74235183"
      },
      "ResponseBody": {
        "etag": "v0sncYDVWEhYnm2IcUdU3pfraLIP_I6jZcaNkh9iFVw",
        "key": "key1-1759424548295",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2025-10-02T17:02:30+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1759424548295?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzUxODM="
      },
      "RequestBody": {
        "key": "key2-1759424548295",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Uh11Iz7x9ohhaFaniypRMFt6ZL7XAU1iyDh4x59sVTQ\"",
        "Last-Modified": "Thu, 02 Oct 2025 17:02:31 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzUxODQ=;sn=74235184"
      },
      "ResponseBody": {
        "etag": "Uh11Iz7x9ohhaFaniypRMFt6ZL7XAU1iyDh4x59sVTQ",
        "key": "key2-1759424548295",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-10-02T17:02:31+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1759424548295?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzUxODQ="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1759424548295",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"RpbL7uWbmLkFXc8s7cZu52fd-fg5HK0Upd5T-P6YVh0\"",
        "Last-Modified": "Thu, 02 Oct 2025 17:02:31 GMT",
        "Link": "</kv?snapshot=snapshot-1759424548295&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1759424548295&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzUxODU=;sn=74235185"
      },
      "ResponseBody": {
        "etag": "RpbL7uWbmLkFXc8s7cZu52fd-fg5HK0Upd5T-P6YVh0",
        "name": "snapshot-1759424548295",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1759424548295",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-10-02T17:02:31.3110762+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?snapshot=snapshot-1759424548295&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzUxODU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzUxODU=;sn=74235185"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-1759424548295",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzUxODc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"4k_Du4y3d_17GutQD4xt55g69zPcHFEmWp0kScILT6c\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzUxODg=;sn=74235188"
      },
      "ResponseBody": {
        "etag": "4k_Du4y3d_17GutQD4xt55g69zPcHFEmWp0kScILT6c",
        "items": [
          {
            "etag": "v0sncYDVWEhYnm2IcUdU3pfraLIP_I6jZcaNkh9iFVw",
            "key": "key1-1759424548295",
            "label": "label1",
            "content_type": null,
            "value": "value1",
            "tags": {
              "production": "1"
            },
            "locked": false,
            "last_modified": "2025-10-02T17:02:30+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1759424548295?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzUxODg="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"Q5A1CZg5CCYjDbBP5skqC0Li9giKSm631obJOyQStwY\"",
        "Last-Modified": "Thu, 02 Oct 2025 17:02:43 GMT",
        "Link": "</kv?snapshot=snapshot-1759424548295&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzUxODk=;sn=74235189"
      },
      "ResponseBody": {
        "etag": "Q5A1CZg5CCYjDbBP5skqC0Li9giKSm631obJOyQStwY",
        "name": "snapshot-1759424548295",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1759424548295",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-10-02T17:02:31+00:00",
        "expires": "2025-11-01T17:02:52.7071396+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1759424548295?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzUxOTA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Uh11Iz7x9ohhaFaniypRMFt6ZL7XAU1iyDh4x59sVTQ\"",
        "Last-Modified": "Thu, 02 Oct 2025 17:02:31 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzUxOTE=;sn=74235191"
      },
      "ResponseBody": {
        "etag": "Uh11Iz7x9ohhaFaniypRMFt6ZL7XAU1iyDh4x59sVTQ",
        "key": "key2-1759424548295",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-10-02T17:02:31+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1759424548295",
    "key2": "key2-1759424548295",
    "snapshot1": "snapshot-1759424548295"
  }
}
