{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169768447701206298?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD04FAA291B59\u0022",
        "Last-Modified": "Thu, 19 Oct 2023 03:01:17 GMT",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "container": "container169768447701206298"
  }
}
