{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/Tables?st=2021-08-03T08:52:15Z&spr=https&sig=fakesigval&$top=5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextTableName": "1!48!bGlzdHRhYmxldGVzdG5vZGUxMwEwMWRiYTRkMzJjYjcwNWQx",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "ListTableTestnode0"
          },
          {
            "TableName": "ListTableTestnode1"
          },
          {
            "TableName": "ListTableTestnode10"
          },
          {
            "TableName": "ListTableTestnode11"
          },
          {
            "TableName": "ListTableTestnode12"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/Tables?st=2021-08-03T08:52:15Z&spr=https&sig=fakesigval&$top=5&NextTableName=1!48!bGlzdHRhYmxldGVzdG5vZGUxMwEwMWRiYTRkMzJjYjcwNWQx",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextTableName": "1!48!bGlzdHRhYmxldGVzdG5vZGUxOAEwMWRiYTRkMzJjY2VmNmU0",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "ListTableTestnode13"
          },
          {
            "TableName": "ListTableTestnode14"
          },
          {
            "TableName": "ListTableTestnode15"
          },
          {
            "TableName": "ListTableTestnode16"
          },
          {
            "TableName": "ListTableTestnode17"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/Tables?st=2021-08-03T08:52:15Z&spr=https&sig=fakesigval&$top=5&NextTableName=1!48!bGlzdHRhYmxldGVzdG5vZGUxOAEwMWRiYTRkMzJjY2VmNmU0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextTableName": "1!48!bGlzdHRhYmxldGVzdG5vZGU1ATAxZGJhNGQzMmM5MDIyZmE-",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "ListTableTestnode18"
          },
          {
            "TableName": "ListTableTestnode19"
          },
          {
            "TableName": "ListTableTestnode2"
          },
          {
            "TableName": "ListTableTestnode3"
          },
          {
            "TableName": "ListTableTestnode4"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/Tables?st=2021-08-03T08:52:15Z&spr=https&sig=fakesigval&$top=5&NextTableName=1!48!bGlzdHRhYmxldGVzdG5vZGU1ATAxZGJhNGQzMmM5MDIyZmE-",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextTableName": "1!44!bWFudWFsbGlzdGJ5cGFnZQEwMWRiYTRiY2FhMmUxNzA4",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "ListTableTestnode5"
          },
          {
            "TableName": "ListTableTestnode6"
          },
          {
            "TableName": "ListTableTestnode7"
          },
          {
            "TableName": "ListTableTestnode8"
          },
          {
            "TableName": "ListTableTestnode9"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/Tables?st=2021-08-03T08:52:15Z&spr=https&sig=fakesigval&$top=5&NextTableName=1!44!bWFudWFsbGlzdGJ5cGFnZQEwMWRiYTRiY2FhMmUxNzA4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "manualListByPage"
          },
          {
            "TableName": "SpecialCharacterTestNode"
          },
          {
            "TableName": "SpecialCharacterTestNodeBatch"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
