{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/Tables?st=2021-08-03T08:52:15Z&spr=https&sig=fakesigval",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "ListTableTestnode0"
          },
          {
            "TableName": "ListTableTestnode1"
          },
          {
            "TableName": "ListTableTestnode10"
          },
          {
            "TableName": "ListTableTestnode11"
          },
          {
            "TableName": "ListTableTestnode12"
          },
          {
            "TableName": "ListTableTestnode13"
          },
          {
            "TableName": "ListTableTestnode14"
          },
          {
            "TableName[...]
