{
  "Entries": [
    {
      "RequestUri": "https://t7d8641d8f25ec940prim.blob.core.windows.net/source1492801910?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Apr 2024 17:58:44 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC693F2CB5C1C3\"",
        "Last-Modified": "Tue, 30 Apr 2024 17:58:43 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t7d8641d8f25ec940prim.blob.core.windows.net/source1492801910/File_0.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Apr 2024 17:58:44 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "c29tZSByYW5kb20gdGV4dA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "B2caA4wOtDcj1CFpOwc8Ow==",
        "ETag": "\"0x8DC693F2CC0F7DB\"",
        "Last-Modified": "Tue, 30 Apr 2024 17:58:43 GMT",
        "x-ms-content-crc64": "fxwoBBSnywc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t7d8641d8f25ec940prim.blob.core.windows.net/source1492801910/File_1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Apr 2024 17:58:44 GMT",
        "x-ms-versi[...]
