{
  "Entries": [
    {
      "RequestUri": "https://t7d8641d8f25ec940-doctranslation.cognitiveservices.azure.com/translator/document/formats?api-version=2024-05-01&type=document",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"566B154BFD9A58A0545DF885E0C82D43F4AEC1D18306E9FD7CF0FCF9FAD0F651\"",
        "Retry-After": "1",
        "x-ms-region": "West US",
        "X-RequestId": "d6d5ee01-fee8-4773-91f2-82f32d74a3de"
      },
      "ResponseBody": {
        "value": [
          {
            "format": "PlainText",
            "fileExtensions": [
              ".txt"
            ],
            "contentTypes": [
              "text/plain"
            ],
            "type": "Document"
          },
          {
            "format": "RichTextFormat",
            "fileExtensions": [
              ".rtf"
            ],
            "contentTypes": [
              "application/rtf"
            ],
            "type": "Document"
          },
          {
            "format": "OpenXmlWord",
            "fileExtensions": [
              ".docx"
            ],
            "contentTypes": [
              "application/vnd.openxmlformats-officedocument.wordpro[...]
