{
  "Entries": [
    {
      "RequestUri": "https://t7d8641d8f25ec940-doctranslation.cognitiveservices.azure.com/translator/document/formats?api-version=2024-05-01&type=glossary",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"DC52A4CD5225E18658C49A99DAD58A82622EF05AFA3E2C9D95A918BC893DF7AD\"",
        "Retry-After": "1",
        "x-ms-region": "West US",
        "X-RequestId": "2e297c76-0672-4c84-aef3-a1e042105402"
      },
      "ResponseBody": {
        "value": [
          {
            "format": "XLIFF",
            "fileExtensions": [
              ".xlf"
            ],
            "contentTypes": [
              "application/xliff+xml"
            ],
            "defaultVersion": "1.2",
            "versions": [
              "1.0",
              "1.1",
              "1.2"
            ],
            "type": "Glossary"
          },
          {
            "format": "TSV",
            "fileExtensions": [
              ".tsv",
              ".tab"
            ],
            "contentTypes": [
              "text/tab-separated-values"
            ],
            "type": "Glossary"
          },
          {
            "format": "CSV",
            "fileExtensions": [
              ".csv"
            ],
            "contentTypes": [
              "text/csv"
            ],
            "type": "Glossary"
          }
        ]
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://t7d8641d8f25ec940-doctranslation.cognitiveservices.azure.com",
    "RandomSeed": "114697495"
  }
}
