{
  "Entries": [
    {
      "RequestUri": "https://t7d8641d8f25ec940prim.blob.core.windows.net/source972860154?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Mar 2024 19:49:43 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC42CD8FD28A47\u0022",
        "Last-Modified": "Tue, 12 Mar 2024 19:49:42 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t7d8641d8f25ec940prim.blob.core.windows.net/source972860154/File_0.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 12 Mar 2024 19:49:43 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "c29tZSByYW5kb20gdGV4dA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "B2caA4wOtDcj1CFpOwc8Ow==",
        "ETag": "\u00220x8DC42CD8FD9FB63\u0022",
        "Last-Modified": "Tue, 12 Mar 2024 19:49:42 GMT",
        "x-ms-content-crc64": "fxwoBBSnywc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t7d8641d8f25ec940prim.blob.core.windows.net/target674186096?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Mar 2024 19:49:43 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC42CD8FE1ACB5\u0022",
        "Last-Modified": "Tue, 12 Mar 2024 19:49:42 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t7d8641d8f25ec940-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches?api-version=v1.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://t7d8641d8f25ec940-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/d3d069f1-6499-44cf-b958-92c7886ad151",
        "x-ms-region": "West US",
        "X-RequestId": "5a246aa7-3bb2-4ecf-abe2-c9bc8b37d84d"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t7d8641d8f25ec940-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/d3d069f1-6499-44cf-b958-92c7886ad151",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222D8C9F8FA441C542D1AFB6E9CF24000E8FE79BA663A5597EC4DAF12ADB26F999\u0022",
        "Retry-After": "1",
        "x-ms-region": "West US",
        "X-RequestId": "f95d9e0d-0af0-433c-935c-a348a2b89ad1"
      },
      "ResponseBody": {
        "id": "d3d069f1-6499-44cf-b958-92c7886ad151",
        "createdDateTimeUtc": "2024-03-12T19:49:43.1598087Z",
        "lastActionDateTimeUtc": "2024-03-12T19:49:43.1598088Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://t7d8641d8f25ec940-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/d3d069f1-6499-44cf-b958-92c7886ad151",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002215456A15B4E7AF[...]
