{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "ac302a10-6fb1-4308-baf6-ad855c4d7f3d",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "SDKTestSub01",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourcegroups/testFleetRG-2964?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-2964",
        "name": "testFleetRG-2964",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/providers/Microsoft.Network?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/providers/Microsoft.Network",
        "namespace": "Microsoft.Network",
        "authorizations": [
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "18363e25-ff21-4159-ae8d-7dfecb5bd001"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "d4d2d679-cce0-429d-9a3b-17118c035f66"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "d4d2d679-cce0-429d-9a3b-17118c035f66"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinit[...]
