{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "ac302a10-6fb1-4308-baf6-ad855c4d7f3d",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "SDKTestSub01",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourcegroups/testFleetRG-6078?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-6078",
        "name": "testFleetRG-6078",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/providers/Microsoft.Network?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/providers/Microsoft.Network",
        "namespace": "Microsoft.Network",
        "authorizations": [
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "18363e25-ff21-4159-ae8d-7dfecb5bd001"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "d4d2d679-cce0-429d-9a3b-17118c035f66"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "d4d2d679-cce0-429d-9a3b-17118c035f66"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "13b[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-6078/providers/Microsoft.Network/publicIPAddresses/testPublicIP-3753?api-version=2024-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "properties": {
          "publicIPAllocationMethod": "Static"
        },
        "sku": {
          "name": "Standard"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/providers/Microsoft.Network/locations/eastus2/operations/d0742100-e597-4d7f-a887-054d78b5135e?api-version=2024-05-01&t=638646976497733989&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50Lm[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/providers/Microsoft.Network/locations/eastus2/operations/d0742100-e597-4d7f-a887-054d78b5135e?api-version=2024-05-01&t=638646976497733989&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0a[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-6078/providers/Microsoft.Network/publicIPAddresses/testPublicIP-3753?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"8e7fe48c-e154-45d3-9911-edcb17b146cf\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "name": "testPublicIP-3753",
        "id": "/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-6078/providers/Microsoft.Network/publicIPAddresses/testPublicIP-3753",
        "etag": "W/\"8e7fe48c-e154-45d3-9911-edcb17b146cf\"",
        "location": "eastus2",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "7cfda836-419f-474a-af49-8b2bca0032bf",
          "ipAddress": "20.10.29.113",
          "publicIPAddressVersion": "IPv4",
          "publicIPAllocationMethod": "Static",
          "idleTimeoutInMinutes": 4,
          "ipTags": [],
          "ddosSettings": {
            "protectionMode": "VirtualNetworkInherited"
          }
        },
        "type": "Microsoft.Network/publicIPAddresses",
        "sku": {
          "name": "Standard",
          "tier": "Regional"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-6078/providers/Microsoft.Network/natGateways/testNatGateway-8900?api-version=2024-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "properties": {
          "publicIpAddresses": [
            {
              "id": "/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-6078/providers/Microsoft.Network/publicIPAddresses/testPublicIP-3753"
            }
          ]
        },
        "sku": {
          "name": "Standard"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/providers/Microsoft.Network/locations/eastus2/operations/6ca70809-fc03-46a0-ac7a-523e6ce4e6d3?api-version=2024-05-01&t=638646976573976316&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0a[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-6078/providers/Microsoft.Network/networkSecurityGroups/testVNetSecurityGroups-5435?api-version=2024-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncnotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/providers/Microsoft.Network/locations/eastus2/operations/c8e5b292-5408-4c29-b375-10fe5071796e?api-version=2024-05-01&t=638646976732077571&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGl[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/providers/Microsoft.Network/locations/eastus2/operations/c8e5b292-5408-4c29-b375-10fe5071796e?api-version=2024-05-01&t=638646976732077571&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0a[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-6078/providers/Microsoft.Network/networkSecurityGroups/testVNetSecurityGroups-5435?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"1646a226-ff2c-4375-b41f-ad585c933479\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "name": "testVNetSecurityGroups-5435",
        "id": "/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-6078/providers/Microsoft.Network/networkSecurityGroups/testVNetSecurityGroups-5435",
        "etag": "W/\"1646a226-ff2c-4375-b41f-ad585c933479\"",
        "type": "Microsoft.Network/networkSecurityGroups",
        "location": "eastus2",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "b4baab3c-4372-4540-b717-3adb6a932ee4",
          "securityRules": [],
          "defaultSecurityRules": [
            {
              "name": "AllowVnetInBound",
              "id": "/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-6078/providers/Microsoft.Network/networkSecurityGroups/testVNetSecurityGroups-5435/defaultSecurityRules/AllowVnetInBound",
              "etag": "W/\"1646a226-ff2c-4375-b41f-ad585c933479\"",
              "type": "Microsoft.Network/networkSecurityGroups/defaultSecurityRules",
              "properties": {
                "provisioningState": "Succeeded",
                "description": "Allow inbound traffic from all VMs in VNET",
                "protocol": "*",
                "sourcePortRange": "*",
                "destinationPortRange": "*",
                "sourceAddressPrefix": "VirtualNetwork",
                "destinationAddressPrefix": "VirtualNetwork",
                "access": "Allow",
                "priority": 65000,
                "direction": "Inbound",
                "sourcePortRanges": [],
                "destinationPortRanges": [],
                "sourceAddressPrefixes": [],
                "destinationAddressPrefixes": []
              }
            },
            {
              "name": "AllowAzureLoadBalancerInBound",
              "id": "/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-6078/providers/Microsoft.Network/networkSecurityGroups/testVNetSecurityGroups-5435/defaultSecurityRules/AllowAzureLoadBalancerInBound",
              "etag": "W/\"1646a226-ff2c-4375-b41f-ad585c933479\"",
              "type": "Microsoft.Network/networkSecurityGroups/defaultSecurityRules",
      [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-6078/providers/Microsoft.Network/virtualNetworks/testVNet-3220?api-version=2024-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "testSubnet-2851",
              "properties": {
                "addressPrefix": "10.0.2.0/24",
                "networkSecurityGroup": {
                  "id": "/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-6078/providers/Microsoft.Network/networkSecurityGroups/testVNetSecurityGroups-5435"
                },
                "natGateway": {
                  "id": "/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-6078/providers/Microsoft.Network/natGateways/testNatGateway-8900"
                }
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncnotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/providers/Microsoft.Network/locations[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/providers/Microsoft.Network/locations/eastus2/operations/bdad1025-ae4a-4d7e-9322-f201ae68979f?api-version=2024-05-01&t=638646976763030415&c=MIIHhzCCBm-gAwIBAgITHgVxvH65_BmPrKxDIgAABXG8fjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwOTI1MTkzNzA4WhcNMjUwMzI0MTkzNzA4WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0a[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-6078/providers/Microsoft.Network/virtualNetworks/testVNet-3220?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"364d1fcd-a6ac-4489-8ca9-89a693404f42\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "name": "testVNet-3220",
        "id": "/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-6078/providers/Microsoft.Network/virtualNetworks/testVNet-3220",
        "etag": "W/\"364d1fcd-a6ac-4489-8ca9-89a693404f42\"",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastus2",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "6bf0a0b1-f7df-41ed-a822-caf3ceed72bb",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "privateEndpointVNetPolicies": "Disabled",
          "subnets": [
            {
              "name": "testSubnet-2851",
              "id": "/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-6078/providers/Microsoft.Network/virtualNetworks/testVNet-3220/subnets/testSubnet-2851",
              "etag": "W/\"364d1fcd-a6ac-4489-8ca9-89a693404f42\"",
              "properties": {
                "provisioningState": "Succeeded",
                "addressPrefix": "10.0.2.0/24",
                "networkSecurityGroup": {
                  "id": "/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-6078/providers/Microsoft.Network/networkSecurityGroups/testVNetSecurityGroups-5435"
                },
                "natGateway": {
                  "id": "/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-6078/providers/Microsoft.Network/natGateways/testNatGateway-8900"
                },
                "delegations": [],
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-6078/providers/Microsoft.AzureFleet/fleets/testFleetViaSDK-5123?api-version=2024-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "properties": {
          "spotPriorityProfile": {
            "capacity": 2,
            "evictionPolicy": "Delete",
            "allocationStrategy": "LowestPrice",
            "maintain": false
          },
          "regularPriorityProfile": {
            "capacity": 2,
            "minCapacity": 2,
            "allocationStrategy": "LowestPrice"
          },
          "vmSizesProfile": [
            {
              "name": "Standard_D2s_v3"
            },
            {
              "name": "Standard_D4s_v3"
            },
            {
              "name": "Standard_E2s_v3"
            }
          ],
          "computeProfile": {
            "baseVirtualMachineProfile": {
              "osProfile": {
                "computerNamePrefix": "testFleetViaSDK-5123",
                "adminUsername": "adminuser",
                "linuxConfiguration": {
                  "disablePasswordAuthentication": true,
                  "ssh": {
                    "publicKeys": [
                      {
                        "path": "/home/adminuser/.ssh/authorized_keys",
                        "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC+wWK73dCr+jgQOAxNsHAnNNNMEMWOHYEccp6wJm2gotpr9katuF/ZAdou5AaW1C61slRkHRkpRRX9FA9CYBiitZgvCCz+3nWNN7l/Up54Zps/pHWGZLHNJZRYyAB6j5yVLMVHIHriY49d/GZTZVNB8GoJv9Gakwc/fuEZYYl4YDFiGMBP///TzlI4jhiJzjKnEvqPFki5p2ZRJqcbCiF4pJrxUQR/RXqVFQdbRLZgYfJ8xGB878RENq3yQ39d8dVOkq4edbkzwcUmwwwkYVPIoDGsYLaRHnG+To7FvMeyO7xDVQkMKzopTQV8AuKpyvpqu0a9pWOMaiCyDytO7GGN you@me.com"
                      }
                    ]
                  }
                }
              },
              "storageProfile": {
                "imageReference": {
                  "publisher": "Canonical",
                  "offer": "UbuntuServer",
                  "sku": "16.04-LTS",
                  "version": "latest"
                },
                "osDisk": {
                  "caching": "ReadWrite",
                  "createOption": "FromImage",
                  "managedDisk": {
                    "storageAccountType": "Standard_LRS"
                  }
                }
              },
              "networkProfile": {
                "networkInterfaceConfigurations": [
                  {
                    "name": "exampleNic",
                    "properties": {
                      "primary": true,
                      "enableAcceleratedNetworking": false,
                      "ipConfigurations": [
                        {
                          "name": "internalIpConfig",
                          "properties": {
                            "subnet": {
                              "id": "/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-6078/providers/Microsoft.Network/virtualNetworks/testVNet-3220/subnets/testSubnet-2851"
                            }
                          }
                        }
                      ]
                    }
                  }
                ],
                "networkApiVersion": "2022-07-01"
              }
            },
            "computeApiVersion": "2023-09-01",
            "platformFaultDomainCount": 1
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/providers/Microsoft.AzureFleet/locations/eastus2/operations/82c22538-e355-44bb-89c8-3287d06e168b?p=8158b311-4dcf-4565-b4fc-77018f60a648&api-version=2024-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/PutFleet3Min;19,Microsoft.Compute/PutFleet30Min;233",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "name": "testFleetViaSDK-5123",
        "id": "/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-6078/providers/Microsoft.AzureFleet/fleets/testFleetViaSDK-5123",
        "type": "Microsoft.AzureFleet/fleets",
        "loc[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/providers/Microsoft.AzureFleet/locations/eastus2/operations/82c22538-e355-44bb-89c8-3287d06e168b?p=8158b311-4dcf-4565-b4fc-77018f60a648&api-version=2024-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetFleet3Min;398,Microsoft.Compute/GetFleet30Min;2367",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "startTime": "2024-10-16T17:48:10.4572215+00:00",
        "status": "InProgress",
        "name": "82c22538-e355-44bb-89c8-3287d06e168b"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/providers/Microsoft.AzureFleet/locations/eastus2/operations/82c22538-e355-44bb-89c8-3287d06e168b?p=8158b311-4dcf-4565-b4fc-77018f60a648&api-version=2024-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetFleet3Min;381,Microsoft.Compute/GetFleet30Min;2349",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "startTime": "2024-10-16T17:48:10.4572215+00:00",
        "endTime": "2024-10-16T17:49:29.052276+00:00",
        "status": "Succeeded",
        "name": "82c22538-e355-44bb-89c8-3287d06e168b"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-6078/providers/Microsoft.AzureFleet/fleets/testFleetViaSDK-5123?api-version=2024-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/providers/Microsoft.AzureFleet/locations/eastus2/operations/d94ceb6a-bdfb-40a7-b8de-0d85f62d175d?p=8158b311-4dcf-4565-b4fc-77018f60a648&api-version=2024-11-01",
        "Location": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/providers/Microsoft.AzureFleet/locations/eastus2/operations/d94ceb6a-bdfb-40a7-b8de-0d85f62d175d?p=8158b311-4dcf-4565-b4fc-77018f60a648&monitor=true&api-version=2024-11-01",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/DeleteFleet3Min;239,Microsoft.Compute/DeleteFleet30Min;1193",
        "x-ms-ratelimit-remaining-subscription-deletes": "799",
        "x-ms-ratelimit-remaining-subscription-global-deletes": "11999"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-6078/providers/Microsoft.AzureFleet/fleets/testFleetViaSDK-5123?api-version=2024-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource 'Microsoft.AzureFleet/fleets/testFleetViaSDK-5123' under resource group 'testFleetRG-6078' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "91953971",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "ac302a10-6fb1-4308-baf6-ad855c4d7f3d"
  }
}
