{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "ac302a10-6fb1-4308-baf6-ad855c4d7f3d",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "SDKTestSub01",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourcegroups/testFleetRG-535?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-535",
        "name": "testFleetRG-535",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/providers/Microsoft.Network?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/providers/Microsoft.Network",
        "namespace": "Microsoft.Network",
        "authorizations": [
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "18363e25-ff21-4159-ae8d-7dfecb5bd001"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "d4d2d679-cce0-429d-9a3b-17118c035f66"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "d4d2d679-cce0-429d-9a3b-17118c035f66"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "13b[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-535/providers/Microsoft.Network/publicIPAddresses/testPublicIP-9566?api-version=2024-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "properties": {
          "publicIPAllocationMethod": "Static"
        },
        "sku": {
          "name": "Standard"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncnotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/providers/Microsoft.Network/locations/eastus2/operations/919d9b55-2f05-4ea9-974f-61d0f1a0d01e?api-version=2024-05-01&t=638646983274904467&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50Lm[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/providers/Microsoft.Network/locations/eastus2/operations/919d9b55-2f05-4ea9-974f-61d0f1a0d01e?api-version=2024-05-01&t=638646983274904467&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0a[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-535/providers/Microsoft.Network/publicIPAddresses/testPublicIP-9566?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"89e72135-d203-497c-a4cb-b9b39f491d79\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "name": "testPublicIP-9566",
        "id": "/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-535/providers/Microsoft.Network/publicIPAddresses/testPublicIP-9566",
        "etag": "W/\"89e72135-d203-497c-a4cb-b9b39f491d79\"",
        "location": "eastus2",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "4ad892a6-61e4-412c-a0ae-e7c6493f20f4",
          "ipAddress": "172.177.29.71",
          "publicIPAddressVersion": "IPv4",
          "publicIPAllocationMethod": "Static",
          "idleTimeoutInMinutes": 4,
          "ipTags": [],
          "ddosSettings": {
            "protectionMode": "VirtualNetworkInherited"
          }
        },
        "type": "Microsoft.Network/publicIPAddresses",
        "sku": {
          "name": "Standard",
          "tier": "Regional"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-535/providers/Microsoft.Network/natGateways/testNatGateway-2692?api-version=2024-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "properties": {
          "publicIpAddresses": [
            {
              "id": "/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-535/providers/Microsoft.Network/publicIPAddresses/testPublicIP-9566"
            }
          ]
        },
        "sku": {
          "name": "Standard"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/providers/Microsoft.Network/locations/eastus2/operations/95ac3179-36d3-4723-a753-eedfc67ae96a?api-version=2024-05-01&t=638646983349971950&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGl[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/providers/Microsoft.Network/locations/eastus2/operations/95ac3179-36d3-4723-a753-eedfc67ae96a?api-version=2024-05-01&t=638646983349971950&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0a[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-535/providers/Microsoft.Network/networkSecurityGroups/testVNetSecurityGroups-5383?api-version=2024-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/providers/Microsoft.Network/locations/eastus2/operations/45b8e62b-9239-4c34-9f06-2cd36490551a?api-version=2024-05-01&t=638646983469885242&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0a[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-535/providers/Microsoft.Network/networkSecurityGroups/testVNetSecurityGroups-5383?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"b8b88a6e-3907-425f-8f59-160bd0316c49\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "name": "testVNetSecurityGroups-5383",
        "id": "/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-535/providers/Microsoft.Network/networkSecurityGroups/testVNetSecurityGroups-5383",
        "etag": "W/\"b8b88a6e-3907-425f-8f59-160bd0316c49\"",
        "type": "Microsoft.Network/networkSecurityGroups",
        "location": "eastus2",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "a83fb648-b38f-4e89-b212-e897aec1df09",
          "securityRules": [],
          "defaultSecurityRules": [
            {
              "name": "AllowVnetInBound",
              "id": "/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-535/providers/Microsoft.Network/networkSecurityGroups/testVNetSecurityGroups-5383/defaultSecurityRules/AllowVnetInBound",
              "etag": "W/\"b8b88a6e-3907-425f-8f59-160bd0316c49\"",
              "type": "Microsoft.Network/networkSecurityGroups/defaultSecurityRules",
              "properties": {
                "provisioningState": "Succeeded",
                "description": "Allow inbound traffic from all VMs in VNET",
                "protocol": "*",
                "sourcePortRange": "*",
                "destinationPortRange": "*",
                "sourceAddressPrefix": "VirtualNetwork",
                "destinationAddressPrefix": "VirtualNetwork",
                "access": "Allow",
                "priority": 65000,
                "direction": "Inbound",
                "sourcePortRanges": [],
                "destinationPortRanges": [],
                "sourceAddressPrefixes": [],
                "destinationAddressPrefixes": []
              }
            },
            {
              "name": "AllowAzureLoadBalancerInBound",
              "id": "/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-535/providers/Microsoft.Network/networkSecurityGroups/testVNetSecurityGroups-5383/defaultSecurityRules/AllowAzureLoadBalancerInBound",
              "etag": "W/\"b8b88a6e-3907-425f-8f59-160bd0316c49\"",
              "type": "Microsoft.Network/networkSecurityGroups/defaultSecurityRules",
       [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-535/providers/Microsoft.Network/virtualNetworks/testVNet-1754?api-version=2024-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "testSubnet-8176",
              "properties": {
                "addressPrefix": "10.0.2.0/24",
                "networkSecurityGroup": {
                  "id": "/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-535/providers/Microsoft.Network/networkSecurityGroups/testVNetSecurityGroups-5383"
                },
                "natGateway": {
                  "id": "/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-535/providers/Microsoft.Network/natGateways/testNatGateway-2692"
                }
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/providers/Microsoft.Network/locations/[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/providers/Microsoft.Network/locations/eastus2/operations/06638111-c5f5-4930-b33d-bbc60a553960?api-version=2024-05-01&t=638646983555741987&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0a[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-535/providers/Microsoft.Network/virtualNetworks/testVNet-1754?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"e9b8b55e-0a56-4e0b-b398-fb2a364a3974\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "name": "testVNet-1754",
        "id": "/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-535/providers/Microsoft.Network/virtualNetworks/testVNet-1754",
        "etag": "W/\"e9b8b55e-0a56-4e0b-b398-fb2a364a3974\"",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastus2",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "ead1152c-b083-45f1-9186-41ccb1668431",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "privateEndpointVNetPolicies": "Disabled",
          "subnets": [
            {
              "name": "testSubnet-8176",
              "id": "/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-535/providers/Microsoft.Network/virtualNetworks/testVNet-1754/subnets/testSubnet-8176",
              "etag": "W/\"e9b8b55e-0a56-4e0b-b398-fb2a364a3974\"",
              "properties": {
                "provisioningState": "Succeeded",
                "addressPrefix": "10.0.2.0/24",
                "networkSecurityGroup": {
                  "id": "/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-535/providers/Microsoft.Network/networkSecurityGroups/testVNetSecurityGroups-5383"
                },
                "natGateway": {
                  "id": "/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-535/providers/Microsoft.Network/natGateways/testNatGateway-2692"
                },
                "delegations": [],
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-535/providers/Microsoft.AzureFleet/fleets/testFleetViaSDK-2374?api-version=2024-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "properties": {
          "spotPriorityProfile": {
            "capacity": 2,
            "evictionPolicy": "Delete",
            "allocationStrategy": "LowestPrice",
            "maintain": false
          },
          "regularPriorityProfile": {
            "capacity": 2,
            "minCapacity": 2,
            "allocationStrategy": "LowestPrice"
          },
          "vmSizesProfile": [
            {
              "name": "Standard_D2s_v3"
            },
            {
              "name": "Standard_D4s_v3"
            },
            {
              "name": "Standard_E2s_v3"
            }
          ],
          "computeProfile": {
            "baseVirtualMachineProfile": {
              "osProfile": {
                "computerNamePrefix": "testFleetViaSDK-2374",
                "adminUsername": "adminuser",
                "linuxConfiguration": {
                  "disablePasswordAuthentication": true,
                  "ssh": {
                    "publicKeys": [
                      {
                        "path": "/home/adminuser/.ssh/authorized_keys",
                        "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC+wWK73dCr+jgQOAxNsHAnNNNMEMWOHYEccp6wJm2gotpr9katuF/ZAdou5AaW1C61slRkHRkpRRX9FA9CYBiitZgvCCz+3nWNN7l/Up54Zps/pHWGZLHNJZRYyAB6j5yVLMVHIHriY49d/GZTZVNB8GoJv9Gakwc/fuEZYYl4YDFiGMBP///TzlI4jhiJzjKnEvqPFki5p2ZRJqcbCiF4pJrxUQR/RXqVFQdbRLZgYfJ8xGB878RENq3yQ39d8dVOkq4edbkzwcUmwwwkYVPIoDGsYLaRHnG+To7FvMeyO7xDVQkMKzopTQV8AuKpyvpqu0a9pWOMaiCyDytO7GGN you@me.com"
                      }
                    ]
                  }
                }
              },
              "storageProfile": {
                "imageReference": {
                  "publisher": "Canonical",
                  "offer": "UbuntuServer",
                  "sku": "16.04-LTS",
                  "version": "latest"
                },
                "osDisk": {
                  "caching": "ReadWrite",
                  "createOption": "FromImage",
                  "managedDisk": {
                    "storageAccountType": "Standard_LRS"
                  }
                }
              },
              "networkProfile": {
                "networkInterfaceConfigurations": [
                  {
                    "name": "exampleNic",
                    "properties": {
                      "primary": true,
                      "enableAcceleratedNetworking": false,
                      "ipConfigurations": [
                        {
                          "name": "internalIpConfig",
                          "properties": {
                            "subnet": {
                              "id": "/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-535/providers/Microsoft.Network/virtualNetworks/testVNet-1754/subnets/testSubnet-8176"
                            }
                          }
                        }
                      ]
                    }
                  }
                ],
                "networkApiVersion": "2022-07-01"
              }
            },
            "computeApiVersion": "2023-09-01",
            "platformFaultDomainCount": 1
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/providers/Microsoft.AzureFleet/locations/eastus2/operations/e9560323-9e7a-4b28-b794-4b6cec2a314d?p=8158b311-4dcf-4565-b4fc-77018f60a648&api-version=2024-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/PutFleet3Min;19,Microsoft.Compute/PutFleet30Min;234",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "name": "testFleetViaSDK-2374",
        "id": "/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-535/providers/Microsoft.AzureFleet/fleets/testFleetViaSDK-2374",
        "type": "Microsoft.AzureFleet/fleets",
        "loca[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/providers/Microsoft.AzureFleet/locations/eastus2/operations/e9560323-9e7a-4b28-b794-4b6cec2a314d?p=8158b311-4dcf-4565-b4fc-77018f60a648&api-version=2024-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetFleet3Min;383,Microsoft.Compute/GetFleet30Min;2417",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16498",
        "x-ms-ratelimit-remaining-subscription-reads": "1098"
      },
      "ResponseBody": {
        "startTime": "2024-10-16T17:59:19.5305648+00:00",
        "status": "InProgress",
        "name": "e9560323-9e7a-4b28-b794-4b6cec2a314d"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/providers/Microsoft.AzureFleet/locations/eastus2/operations/e9560323-9e7a-4b28-b794-4b6cec2a314d?p=8158b311-4dcf-4565-b4fc-77018f60a648&api-version=2024-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetFleet3Min;383,Microsoft.Compute/GetFleet30Min;2459",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "startTime": "2024-10-16T17:59:19.5305648+00:00",
        "endTime": "2024-10-16T18:00:07.765747+00:00",
        "status": "Succeeded",
        "name": "e9560323-9e7a-4b28-b794-4b6cec2a314d"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-535/providers/Microsoft.AzureFleet/fleets/testFleetViaSDK-2374?api-version=2024-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/providers/Microsoft.AzureFleet/locations/eastus2/operations/fda36c42-b8fc-4f80-9b74-3f4d6e1bc0d9?p=8158b311-4dcf-4565-b4fc-77018f60a648&api-version=2024-11-01",
        "Location": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/providers/Microsoft.AzureFleet/locations/eastus2/operations/fda36c42-b8fc-4f80-9b74-3f4d6e1bc0d9?p=8158b311-4dcf-4565-b4fc-77018f60a648&monitor=true&api-version=2024-11-01",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/DeleteFleet3Min;239,Microsoft.Compute/DeleteFleet30Min;1195",
        "x-ms-ratelimit-remaining-subscription-deletes": "799",
        "x-ms-ratelimit-remaining-subscription-global-deletes": "11999"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ac302a10-6fb1-4308-baf6-ad855c4d7f3d/resourceGroups/testFleetRG-535/providers/Microsoft.AzureFleet/fleets/testFleetViaSDK-2374?api-version=2024-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource 'Microsoft.AzureFleet/fleets/testFleetViaSDK-2374' under resource group 'testFleetRG-535' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "595300989",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "ac302a10-6fb1-4308-baf6-ad855c4d7f3d"
  }
}
