{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/foo-bar/?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/foo-bar/?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://Sanitized.vault.azure.net/keys/foo-bar/71e6b447c2004ea185b08070ddd5f8eb",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "2LXujslQOyOPuHEkMNAsor7WRxKStvYTB-pjUcUWfA8EnNLT4n-vgIaB0MMQpEiSTmM8BoenRP0oLJWyeQdctMzv4_s4EayQTmARBrGax_KAS7Jhb39xbWeEknKbP9RDFRXX2ZAguFwMF73DgrxEI1eFm2qpkqRixjoZHY0C-ghS9BbOwR542GFjn7G2mPKfuMZJHmbYpc0R9D7RCRVeevHf2rAr_JmmnR4twSqZxotN_xNllUSsobdTSbI95jDW4hg1CsRVAVIqy72wMHXKoa3u4g2dyLvmlcz_8Ueimzu0HPqizpG74frAcbMpMlrmCJaJrmgmuRGVeOzo1dAa-Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1771526319,
          "updated": 1771526319,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
