{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/key7651322918515686127/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/key7651322918515686127/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://Sanitized.vault.azure.net/keys/key7651322918515686127/96abd644a818468ca75949f64fe3cc7f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "sFQVB01-TJ6qz75j_HjsOWoN45qGTj7UDSvHmMvJSreO-zl3_FNdxfLA0YBH0spHYgF_mglKDOCPQyLScYvFFUB78k5gOCSgckEO8NGSRgFJaGQvQVUW_g2v804X6xYxaDmaFAFXKvMPZTmrtMT8Ubdwepx2Fv-s44wkhTYlXUqdFsId1ZRQEmzn-iUfi116XAP7NI0ANA3cYAKu-wuF5mR7_PckDYc5K55BQsNkCoarT7YmHT4FVwNRfM4EbQQwvBfJis5kfhcYWKrIxcpnDNzeq8FKjSg7j0fCJkomgxwPwiS97MhzxPweoDGPgulTQfxK4mo-ORh-PMcPr9av8Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1762228514,
          "updated": 1762228514,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {
    "keyName": "key7651322918515686127"
  }
}
