{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://Sanitized.vault.azure.net/keys/certificate6620901470541236207",
            "attributes": {
              "enabled": true,
              "key_size": 2048,
              "nbf": 1770766717,
              "exp": 1802303317,
              "created": 1770767317,
              "updated": 1770767317,
              "recoveryLevel": "Recoverable+Purgeable",
              "recoverableDays": 90,
              "hsmPlatform": "0"
            },
            "managed": true
          },
          {
            "kid": "https://Sanitized.vault.azure.net/keys/certificateimport8270538246395599384",
            "attributes": {
              "enabled": true,
              "key_size": 2048,
              "nbf": 1762142328,
              "exp": 1793764728,
              "created": 1770767283,
              "updated": 1770767283,
              "recoveryLevel": "Recoverable+Purgeable",
              "recoverableDays": 90,
              "hsmPlatform": "0"
            },
            "managed": true
          },
          {
            "kid": "https://Sanitized.vault.azure.net/keys/foo-bar",
            "attributes": {
              "enabled": true,
              "key_size": 2048,
              "created": 1770766822,
              "updated": 1770766822,
              "recoveryLevel": "Recoverable+Purgeable",
              "recoverableDays": 90,
              "exportable": false,
              "hsmPlatform": "0"
            }
          },
          {
            "kid": "https://Sanitized.vault.azure.net/keys/foo-bar-certificate",
            "attributes": {
              "enabled": true,
              "key_size": 2048,
              "nbf": 1770766243,
              "exp": 1802302843,
              "created": 1770766843,
              "updated": 1770766843,
              "recoveryLevel": "Recoverable+Purgeable",
              "recoverableDays": 90,
              "hsmPlatform": "0"
            },
            "managed": true
          },
          {
            "kid": "https://Sanitized.vault.azure.net/keys/key7243921754549105384",
            "attributes": {
              "enabled": true,
              "key_size": 2048,
              "created": 1770767300,
              "updated": 1770767300,
              "recoveryLevel": "Recoverable+Purgeable",
              "recoverableDays": 90,
              "exportable": false,
              "hsmPlatform": "0"
            }
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {}
}
