{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/connections?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.030"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "nirovinsstorage",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-rg/providers/Microsoft.CognitiveServices/accounts/sanitized-account/projects/sanitized-project/connections/nirovinsstorage",
            "type": "AzureStorageAccount",
            "target": "https://nirovinsstorage.blob.core.windows.net/",
            "isDefault": true,
            "credentials": {
              "type": "AAD"
            },
            "metadata": {
              "ApiType": "Azure",
              "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-rg/providers/Microsoft.Storage/storageAccounts/sanitized-storage-account",
              "location": "westus"
            }
          },
          {
            "name": "nirovinssearch",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-rg/providers/Microsoft.CognitiveServices/accounts/sanitized-account/projects/sanitized-project/connections/nirovinssearch",
            "type": "CognitiveSearch",
            "target": "https://sanitized-host.search.windows.net",
            "isDefault": true,
            "credentials": {
              "type": "AAD"
            },
            "metadata": {
              "ApiType": "Azure",
              "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-rg/providers/Microsoft.Search/searchServices/nirovinssearch",
              "location": "West US",
              "ApiVersion": "2024-05-01-preview",
              "DeploymentApiVersion": "2023-11-01"
            }
          },
          {
            "name": "xkmbcosmosdb",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-rg/providers/Microsoft.CognitiveServices/accounts/sanitized-account/projects/sanitized-project/connections/xkmbcosmosdb",
            "type": "CosmosDb",
            "target": "https://xkmbcosmosdb.documents.azure.com:443/",
            "isDefault": true,
            "credentials": {
              "type"[...]
