{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/connections?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.035"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "nt4ccosmosdb",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-rg/providers/Microsoft.CognitiveServices/accounts/sanitized-account/projects/sanitized-project/connections/nt4ccosmosdb",
            "type": "CosmosDb",
            "target": "https://nt4ccosmosdb.documents.azure.com:443/",
            "isDefault": true,
            "credentials": {
              "type": "AAD"
            },
            "metadata": {
              "ApiType": "Azure",
              "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-rg/providers/Microsoft.DocumentDB/databaseAccounts/nt4ccosmosdb",
              "location": "East US"
            }
          },
          {
            "name": "nt4csearch",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-rg/providers/Microsoft.CognitiveServices/accounts/sanitized-account/projects/sanitized-project/connections/nt4csearch",
            "type": "CognitiveSearch",
            "target": "https://sanitized-host.search.windows.net",
            "isDefault": true,
            "credentials": {
              "type": "AAD"
            },
            "metadata": {
              "ApiType": "Azure",
              "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-rg/providers/Microsoft.Search/searchServices/nt4csearch",
              "location": "East US",
              "ApiVersion": "2024-05-01-preview",
              "DeploymentApiVersion": "2023-11-01"
            }
          },
          {
            "name": "trangeviappinsights",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-rg/providers/Microsoft.CognitiveServices/accounts/sanitized-account/projects/sanitized-project/connections/trangeviappinsights",
            "type": "AppInsights",
            "target": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-rg/providers/microsoft.insights/components/t[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/connections?api-version=v1&connectionType=AzureStorageAccount",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.035"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "nt4cstorage",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-rg/providers/Microsoft.CognitiveServices/accounts/sanitized-account/projects/sanitized-project/connections/nt4cstorage",
            "type": "AzureStorageAccount",
            "target": "https://nt4cstorage.blob.core.windows.net/",
            "isDefault": true,
            "credentials": {
              "type": "AAD"
            },
            "metadata": {
              "ApiType": "Azure",
              "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-rg/providers/Microsoft.Storage/storageAccounts/sanitized-storage-account"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/connections/nt4cstorage?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.042"
      },
      "ResponseBody": {
        "name": "nt4cstorage",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-rg/providers/Microsoft.CognitiveServices/accounts/sanitized-account/projects/sanitized-project/connections/nt4cstorage",
        "type": "AzureStorageAccount",
        "target": "https://nt4cstorage.blob.core.windows.net/",
        "isDefault": true,
        "credentials": {
          "type": "AAD"
        },
        "metadata": {
          "ApiType": "Azure",
          "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-rg/providers/Microsoft.Storage/storageAccounts/sanitized-storage-account"
        }
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/connections/nt4cstorage/getConnectionWithCredentials?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.044"
      },
      "ResponseBody": {
        "name": "nt4cstorage",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-rg/providers/Microsoft.CognitiveServices/accounts/sanitized-account/projects/sanitized-project/connections/nt4cstorage",
        "type": "AzureStorageAccount",
        "target": "https://nt4cstorage.blob.core.windows.net/",
        "isDefault": true,
        "credentials": {
          "type": "AAD"
        },
        "metadata": {
          "ApiType": "Azure",
          "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-rg/providers/Microsoft.Storage/storageAccounts/sanitized-storage-account"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/connections/nt4cstorage/getConnectionWithCredentials?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.035"
      },
      "ResponseBody": {
        "name": "nt4cstorage",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-rg/providers/Microsoft.CognitiveServices/accounts/sanitized-account/projects/sanitized-project/connections/nt4cstorage",
        "type": "AzureStorageAccount",
        "target": "https://nt4cstorage.blob.core.windows.net/",
        "isDefault": true,
        "credentials": {
          "type": "AAD"
        },
        "metadata": {
          "ApiType": "Azure",
          "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-rg/providers/Microsoft.Storage/storageAccounts/sanitized-storage-account"
        }
      }
    }
  ],
  "Variables": {
    "PROJECT_ENDPOINT": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project",
    "STORAGE_CONNECTION_NAME": "nt4cstorage",
    "STORAGE_CONNECTION_TYPE": "AzureStorageAccount"
  }
}
