{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.webpubsub.azure.com/api/hubs/hub/:generateToken?api-version=2024-12-01&userId=live-user-1&role=webpubsub.sendToGroup&role=webpubsub.joinLeaveGroup&minutesToExpire=15&group=group-live-1&clientType=Default",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01, 2022-11-01, 2023-07-01, 2024-01-01, 2024-12-01",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://Sanitized.webpubsub.azure.com/api/hubs/hub/:generateToken?api-version=2024-12-01&userId=live-user-1&group=group-live-1&clientType=SocketIO",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01, 2022-11-01, 2023-07-01, 2024-01-01, 2024-12-01",
        "Content-Type": "application/json; [...]
