{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.webpubsub.azure.com/api/hubs/apicoverage/groups/group1/connections/fake-connection-id?api-version=2024-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01, 2022-11-01, 2023-07-01, 2024-01-01, 2024-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "Error.Connection.NotExisted"
      },
      "ResponseBody": {
        "code": "Error.Connection.NotExisted",
        "message": "Connection `fake-connection-id` is not found.",
        "target": "Connection",
        "details": null,
        "inner": null
      }
    }
  ],
  "Variables": {}
}
