{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.webpubsub.azure.com/api/hubs/apicoverage/permissions/sendToGroup/connections/fake-connection-id?api-version=2024-12-01&targetName=group1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01, 2022-11-01, 2023-07-01, 2024-01-01, 2024-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "Info.Connection.NotExisted"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
