{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.webpubsub.azure.com/api/hubs/apicoverage/groups/group1/:send?api-version=2024-12-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "text/plain"
      },
      "RequestBody": "hello",
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01, 2022-11-01, 2023-07-01, 2024-01-01, 2024-12-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
