{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.webpubsub.azure.com/api/hubs/test_list_connections/:generateToken?api-version=2024-12-01&minutesToExpire=60&group=group1&clientType=Default",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01, 2022-11-01, 2023-07-01, 2024-01-01, 2024-12-01",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://Sanitized.webpubsub.azure.com/api/hubs/test_list_connections/groups/group1/connections?api-version=2024-12-01&top=6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01, 2022-11-01, 2023-07-01, 2024-01-01, 2024-12-01",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "connectionId": "YjZm_sJ2LnugvtBvRoGutQNg5UtAK02",
            "userId": null
          },
          {
            "connectionId": "WwFjiX0cRb1GW4lmLZmzKgjaBRkQK02",
            "userId": null
          },
          {
            "connectionId": "0HAMo9Pxx-jReJTP_EK5fgjaBRkQK02",
            "userId": null
          },
          {
            "connectionId": "bLt6kc__EvkzTXfWPJQjwAjaBRkQK02",
            "userId": null
          },
          {
            "connectionId": "fTPFBg8RllL0o_8V46HckgIRUenQK02",
            "userId": null
          },
   [...]
