{
  "Entries": [
    {
      "RequestUri": "http://Sanitized.254.169.254/metadata/instance?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Metadata": "true",
        "x-ms-cosmos-sdk-supportedcapabilities": "1",
        "x-ms-version": "2020-07-15"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "compute": {
          "azEnvironment": "AzurePublicCloud",
          "customData": "",
          "isHostCompatibilityLayerVm": "true",
          "location": "westus2",
          "name": "Sanitized",
          "offer": "",
          "osType": "Windows",
          "placementGroupId": "",
          "plan": {
            "name": "",
            "product": "",
            "publisher": ""
          },
          "platformFaultDomain": "0",
          "platformUpdateDomain": "0",
          "provider": "Microsoft.Compute",
          "publicKeys": [],
          "publisher": "",
          "resourceGroupName": "605143f6-00b2-4252-8f3a-f20f46111ec9",
          "resourceId": "/subscriptions/4dc0dca1-bf78-46ef-aadd-1d8dc43dc140/resourceGroups/605143f6-00b2-4252-8f3a-f20f46111ec9/providers/Microsoft.Compute/virtualMachines/B0002NPS000",
          "securityProfile": {
            "secureBootEnabled": "true",
            "virtualTpmEnabled": "true"
          },
          "sku": "",
          "storageProfile": {
            "dataDisks": [],
            "imageReference": {
              "id": "/subscriptions/2b5a70f1-4679-45e3-9e82-4301a54723d2/resourceGroups/project-2492/providers/Microsoft.Compute/galleries/galleryAzureDevOps2492/images/basic/versions/2023.0814.0",
              "offer": "",
              "publisher": "",
              "sku": "",
              "version": ""
            },
            "osDisk": {
              "caching": "ReadWrite",
              "createOption": "FromImage",
              "diffDiskSettings": {
                "option": ""
              },
              "diskSizeGB": "2048",
              "encryptionSettings": {
                "enabled": "false"
              },
              "image": {
                "uri": ""
              },
              "managedDisk": {
                "id": "/subscriptions/4dc0dca1-bf78-46ef-aadd-1d8dc43dc140/resourceGroups/605143F6-00B2-4252-8F3A-F20F46111EC9/providers/Microsoft.Compute/disks/B0002NPS000",
                "storageAccountType": "Premium_LRS"
              },
              "name": "Sanitized",
              "osType": "Windows",
              "vhd": {
                "uri": ""
              },
              "writeAcceleratorEnabled": "false"
            }
          },
          "subscriptionId": "4dc0dca1-bf78-46ef-aadd-1d8dc43dc140",
          "tags": "ms.inv.v0.backedby.origin.sourcearmid.0:/subscriptions/8f22e2e8-b4c1-4f7d-a889-49aec29b9c75/resourceGroups/devcenter-16-25/providers/Microsoft.DevCenter/devcenters/devcenter-tfotz75rskxty-dc;ms.inv.v0.backedby.origin.tenantid:72f988bf-86f1-41af-91ab-2d7cd011db47;ms.inv.v0.backedby.resourceattributes:companyname: Microsoft;ms.inv.v0.security.ownerrole:OsImagePatching, SecurityMonitoring, ApplicationPatching, NetworkIsolation, CodeIntegrity;mustNotReusePreprovisionedVM:False",
          "tagsList": [
            {
              "name": "Sanitized",
              "value": "/subscriptions/8f22e2e8-b4c1-4f7d-a889-49aec29b9c75/resourceGroups/devcenter-16-25/providers/Microsoft.DevCenter/devcenters/devcenter-tfotz75rskxty-dc"
            },
            {
              "name": "Sanitized",
              "value": "72f988bf-86f1-41af-91ab-2d7cd011db47"
            },
            {
              "name": "Sanitized",
              "value": "companyname: Microsoft"
            },
            {
              "name": "Sanitized",
              "value": "OsImagePatching, SecurityMonitoring, ApplicationPatching, NetworkIsolation, CodeIntegrity"
            },
            {
              "name": "Sanitized",
              "value": "False"
            }
          ],
          "version": "2023.0814.0",
          "vmId": "258188fe-8e1b-4596-9015-76e050de4075",
          "vmScaleSetName": "",
          "vmSize": "Standard_D16s_v5",
          "zone": ""
        },
        "network": {
          "interface": [
            {
              "ipv4": {
                "ipAddress": [
                  {
                    "privateIpAddress": "10.0.4.207",
                    "publicIpAddress": ""
                  }
                ],
                "subnet": [
                  {
                    "address": "10.0.0.0",
                    "prefix": "17"
                  }
                ]
              },
              "ipv6": {
                "ipAddress": []
              },
              "macAddress": "0022487BA588"
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.documents.azure.com/",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cosmos-sdk-supportedcapabilities": "1",
        "x-ms-version": "2020-07-15"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Location": "https://Sanitized.documents.azure.com/",
        "Content-Type": "application/json",
        "x-ms-aad-applied-role-assignment": "83341e95-0e19-5888-a592-573237da81fd",
        "x-ms-databaseaccount-consumed-mb": "0",
        "x-ms-databaseaccount-provisioned-mb": "0",
        "x-ms-databaseaccount-reserved-mb": "0",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-max-media-storage-usage-mb": "2048",
        "x-ms-media-storage-usage-mb": "0"
      },
      "ResponseBody": {
        "_self": "",
        "id": "Sanitized",
        "_rid": "Sanitized.documents.azure.com",
        "media": "//media/",
        "addresses": "//addresses/",
        "_dbs": "//dbs/",
        "writableLocations": [
          {
            "name": "Sanitized",
            "databaseAccountEndpoint": "https://Sanitized-westus2.documents.azure.com:443/"
          }
        ],
        "readableLocations": [
          {
            "name": "Sanitized",
            "databaseAccountEndpoint": "https://Sanitized-westus2.documents.azure.com:443/"
          }
        ],
        "enableMultipleWriteLocations": false,
        "continuousBackupEnabled": false,
        "enableNRegionSynchronousCommit": false,
        "enablePerPartitionFailoverBehavior": false,
        "userReplicationPolicy": {
          "asyncReplication": false,
          "minReplicaSetSize": 3,
          "maxReplicasetSize": 4
        },
        "userConsistencyPolicy": {
          "defaultConsistencyLevel": "Session"
        },
        "systemReplicationPolicy": {
          "minReplicaSetSize": 3,
          "maxReplicasetSize": 4
        },
        "readPolicy": {
          "primaryReadCoefficient": 1,
          "secondaryReadCoefficient": 1
        },
        "queryEngineConfiguration": "{\"allowNewKeywords\":true,\"maxJoinsPerSqlQuery\":10,\"maxQueryRequestTimeoutFraction\":0.9,\"maxSqlQueryInputLength\":524288,\"maxUdfRefPerSqlQuery\":10,\"queryMaxInMemorySortDocumentCount\":-1000,\"spatialMaxGeometryPointCount\":256,\"sqlAllowNonFiniteNumbers\":false,\"sqlDisableOptimizationFlags\":0,\"sqlQueryILDisableOptimizationFlags\":0,\"clientDisableOptimisticDirectExecution\":false,\"queryEnableFullText\":true,\"queryEnableFullTextPreviewFeatures\":false,\"queryMaxFullTextScoreSearchTerms\":5,\"queryMaxRrfArgumentCount\":100,\"enableSpatialIndexing\":true,\"maxInExpressionItemsCount\":2147483647,\"maxLogicalAndPerSqlQuery\":2147483647,\"maxLogicalOrPerSqlQuery\":2147483647,\"maxSpatialQueryCells\":2147483647,\"sqlAllowAggregateFunctions\":true,\"sqlAllowGroupByClause\":true,\"sqlAllowLike\":true,\"sqlAllowSubQuery\":true,\"sqlAllowScalarSubQuery\":true,\"sqlAllowTop\":true}"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.documents.azure.com/dbs",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cosmos-sdk-supportedcapabilities": "1",
        "x-ms-version": "2020-07-15"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Location": "https://Sanitized.documents.azure.com/dbs",
        "Content-Type": "application/json",
        "lsn": "11",
        "x-ms-aad-applied-role-assignment": [
          "83341e95-0e19-5888-a592-573237da81fd",
          "83341e95-0e19-5888-a592-573237da81fd"
        ],
        "x-ms-cosmos-internal-partition-id": "f7a1422d-0474-42b8-bd0a-a25eed3b9db7",
        "x-ms-cosmos-llsn": "11",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-global-Committed-lsn": "11",
        "x-ms-item-count": "1",
        "x-ms-last-state-change-utc": "Wed, 17 Dec 2025 15:05:27.659 GMT",
        "x-ms-number-of-read-regions": "0",
        "x-ms-request-charge": "2",
        "x-ms-request-duration-ms": "0.356",
        "x-ms-resource-quota": "databases=1000;collections=5000;users=500000;permissions=2000000;clientEncryptionKeys=20;interopUsers=2000;authPolicyElements=200000;roleDefinitions=100;roleAssignments=2000;azureRbac=200000;",
        "x-ms-resource-usage": "databases=1;collections=1;users=0;permissions=0;clientEncryptionKeys=0;interopUsers=0;authPolicyElements=0;roleDefinitions=0;roleAssignments=1;azureRbac=0;",
        "x-ms-schemaversion": "1.20",
        "x-ms-serviceversion": "version=2.14.0.0",
        "x-ms-session-token": "0:-1#11",
        "x-ms-transport-request-id": "350719",
        "x-ms-xp-role": "2"
      },
      "ResponseBody": {
        "_rid": "",
        "Databases": [
          {
            "id": "ToDoList",
            "_rid": "524ZAA==",
            "_self": "dbs/524ZAA==/",
            "_etag": "\"00000900-0000-0800-0000-694357320000\"",
            "_colls": "colls/",
            "_users": "users/",
            "_ts": 1766020914
          }
        ],
        "_count": 1
      }
    }
  ],
  "Variables": {}
}
