{
  "Entries": [
    {
      "RequestUri": "http://Sanitized.254.169.254/metadata/instance?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Metadata": "true",
        "x-ms-cosmos-sdk-supportedcapabilities": "1",
        "x-ms-version": "2020-07-15"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "compute": {
          "azEnvironment": "AzurePublicCloud",
          "customData": "",
          "isHostCompatibilityLayerVm": "true",
          "location": "westus2",
          "name": "B0002NPS000",
          "offer": "",
          "osType": "Windows",
          "placementGroupId": "",
          "plan": {
            "name": "",
            "product": "",
            "publisher": ""
          },
          "platformFaultDomain": "0",
          "platformUpdateDomain": "0",
          "provider": "Microsoft.Compute",
          "publicKeys": [],
          "publisher": "",
          "resourceGroupName": "605143f6-00b2-4252-8f3a-f20f46111ec9",
          "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Compute/virtualMachines/B0002NPS000",
          "securityProfile": {
            "secureBootEnabled": "true",
            "virtualTpmEnabled": "true"
          },
          "sku": "",
          "storageProfile": {
            "dataDisks": [],
            "imageReference": {
              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Compute/galleries/galleryAzureDevOps2492/images/basic/versions/2023.0814.0",
              "offer": "",
              "publisher": "",
              "sku": "",
              "version": ""
            },
            "osDisk": {
              "caching": "ReadWrite",
              "createOption": "FromImage",
              "diffDiskSettings": {
                "option": ""
              },
              "diskSizeGB": "2048",
              "encryptionSettings": {
                "enabled": "false"
              },
              "image": {
                "uri": ""
              },
              "managedDisk": {
                "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Compute/disks/B0002NPS000",
                "storageAccountType": "Premium_LRS"
              },
              "name": "B0002NPS000",
              "osType": "Windows",
              "vhd": {
                "uri": ""
              },
              "writeAcceleratorEnabled": "false"
            }
          },
          "subscriptionId": "4dc0dca1-bf78-46ef-aadd-1d8dc43dc140",
          "tags": "ms.inv.v0.backedby.origin.sourcearmid.0:/subscriptions/8f22e2e8-b4c1-4f7d-a889-49aec29b9c75/resourceGroups/devcenter-16-25/providers/Microsoft.DevCenter/devcenters/devcenter-tfotz75rskxty-dc;ms.inv.v0.backedby.origin.tenantid:72f988bf-86f1-41af-91ab-2d7cd011db47;ms.inv.v0.backedby.resourceattributes:companyname: Microsoft;ms.inv.v0.security.ownerrole:OsImagePatching, SecurityMonitoring, ApplicationPatching, NetworkIsolation, CodeIntegrity;mustNotReusePreprovisionedVM:False",
          "tagsList": [
            {
              "name": "ms.inv.v0.backedby.origin.sourcearmid.0",
              "value": "/subscriptions/8f22e2e8-b4c1-4f7d-a889-49aec29b9c75/resourceGroups/devcenter-16-25/providers/Microsoft.DevCenter/devcenters/devcenter-tfotz75rskxty-dc"
            },
            {
              "name": "ms.inv.v0.backedby.origin.tenantid",
              "value": "72f988bf-86f1-41af-91ab-2d7cd011db47"
            },
            {
              "name": "ms.inv.v0.backedby.resourceattributes",
              "value": "companyname: Microsoft"
            },
            {
              "name": "ms.inv.v0.security.ownerrole",
              "value": "OsImagePatching, SecurityMonitoring, ApplicationPatching, NetworkIsolation, CodeIntegrity"
            },
            {
              "name": "mustNotReusePreprovisionedVM",
              "value": "False"
            }
          ],
          "version": "2023.0814.0",
          "vmId": "258188fe-8e1b-4596-9015-76e050de4075",
          "vmScaleSetName": "",
          "vmSize": "Standard_D16s_v5",
          "zone": ""
        },
        "network": {
          "interface": [
            {
              "ipv4": {
                "ipAddress": [
                  {
                    "privateIpAddress": "10.0.4.207",
                    "publicIpAddress": ""
                  }
                ],
                "subnet": [
                  {
                    "address": "10.0.0.0",
                    "prefix": "17"
                  }
                ]
              },
              "ipv6": {
                "ipAddress": []
              },
              "macAddress": "0022487BA588"
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.documents.azure.com/",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cosmos-sdk-supportedcapabilities": "1",
        "x-ms-version": "2020-07-15"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Location": "https://Sanitized.documents.azure.com/",
        "Content-Type": "application/json",
        "x-ms-aad-applied-role-assignment": "83341e95-0e19-5888-a592-573237da81fd",
        "x-ms-databaseaccount-consumed-mb": "0",
        "x-ms-databaseaccount-provisioned-mb": "0",
        "x-ms-databaseaccount-reserved-mb": "0",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-max-media-storage-usage-mb": "2048",
        "x-ms-media-storage-usage-mb": "0"
      },
      "ResponseBody": {
        "_self": "",
        "id": "Sanitized",
        "_rid": "Sanitized.documents.azure.com",
        "media": "//media/",
        "addresses": "//addresses/",
        "_dbs": "//dbs/",
        "writableLocations": [
          {
            "name": "West US 2",
            "databaseAccountEndpoint": "https://Sanitized-westus2.documents.azure.com:443/"
          }
        ],
        "readableLocations": [
          {
            "name": "West US 2",
            "databaseAccountEndpoint": "https://Sanitized-westus2.documents.azure.com:443/"
          }
        ],
        "enableMultipleWriteLocations": false,
        "continuousBackupEnabled": false,
        "enableNRegionSynchronousCommit": false,
        "enablePerPartitionFailoverBehavior": false,
        "userReplicationPolicy": {
          "asyncReplication": false,
          "minReplicaSetSize": 3,
          "maxReplicasetSize": 4
        },
        "userConsistencyPolicy": {
          "defaultConsistencyLevel": "Session"
        },
        "systemReplicationPolicy": {
          "minReplicaSetSize": 3,
          "maxReplicasetSize": 4
        },
        "readPolicy": {
          "primaryReadCoefficient": 1,
          "secondaryReadCoefficient": 1
        },
        "queryEngineConfiguration": "{\"allowNewKeywords\":true,\"maxJoinsPerSqlQuery\":10,\"maxQueryRequestTimeoutFraction\":0.9,\"maxSqlQueryInputLength\":524288,\"maxUdfRefPerSqlQuery\":10,\"queryMaxInMemorySortDocumentCount\":-1000,\"spatialMaxGeometryPointCount\":256,\"sqlAllowNonFiniteNumbers\":false,\"sqlDisableOptimizationFlags\":0,\"sqlQueryILDisableOptimizationFlags\":0,\"clientDisableOptimisticDirectExecution\":false,\"queryEnableFullText\":true,\"queryEnableFullTextPreviewFeatures\":false,\"queryMaxFullTextScoreSearchTerms\":5,\"queryMaxRrfArgumentCount\":100,\"enableSpatialIndexing\":true,\"maxInExpressionItemsCount\":2147483647,\"maxLogicalAndPerSqlQuery\":2147483647,\"maxLogicalOrPerSqlQuery\":2147483647,\"maxSpatialQueryCells\":2147483647,\"sqlAllowAggregateFunctions\":true,\"sqlAllowGroupByClause\":true,\"sqlAllowLike\":true,\"sqlAllowSubQuery\":true,\"sqlAllowScalarSubQuery\":true,\"sqlAllowTop\":true}"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.documents.azure.com/dbs/ToDoList/colls/Items",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cosmos-sdk-supportedcapabilities": "1",
        "x-ms-date": "Sat, 24 Jan 2026 00:04:24 GMT",
        "x-ms-version": "2020-07-15"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "collection-partition-index": "0",
        "collection-service-index": "0",
        "Content-Location": "https://Sanitized.documents.azure.com/dbs/ToDoList/colls/Items",
        "Content-Type": "application/json",
        "ETag": "\"00002000-0000-0800-0000-6973d7830000\"",
        "lsn": "1",
        "x-ms-aad-applied-role-assignment": "83341e95-0e19-5888-a592-573237da81fd",
        "x-ms-alt-content-path": "dbs/ToDoList",
        "x-ms-content-path": "J949AA==",
        "x-ms-cosmos-internal-partition-id": "b281b70c-3f17-4663-bb7c-99a796428b54",
        "x-ms-cosmos-item-llsn": "1",
        "x-ms-cosmos-llsn": "1",
        "x-ms-cosmos-max-content-length": "2097152",
        "x-ms-cosmos-physical-partition-id": "0",
        "x-ms-documentdb-partitionkeyrangeid": "0",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-global-Committed-lsn": "1",
        "x-ms-item-lsn": "1",
        "x-ms-last-state-change-utc": "Thu, 22 Jan 2026 02:20:44.983 GMT",
        "x-ms-number-of-read-regions": "0",
        "x-ms-request-charge": "2",
        "x-ms-request-duration-ms": "0.585",
        "x-ms-schemaversion": "1.20",
        "x-ms-serviceversion": "version=2.14.0.0",
        "x-ms-session-token": "0:-1#1",
        "x-ms-transport-request-id": "1",
        "x-ms-xp-role": "1"
      },
      "ResponseBody": {
        "id": "Items",
        "indexingPolicy": {
          "indexingMode": "consistent",
          "automatic": true,
          "includedPaths": [
            {
              "path": "/*"
            }
          ],
          "excludedPaths": [
            {
              "path": "/\"_etag\"/?"
            }
          ],
          "fullTextIndexes": []
        },
        "partitionKey": {
          "paths": [
            "/id"
          ],
          "kind": "Hash"
        },
        "uniqueKeyPolicy": {
          "uniqueKeys": []
        },
        "conflictResolutionPolicy": {
          "mode": "LastWriterWins",
          "conflictResolutionPath": "/_ts",
          "conflictResolutionProcedure": ""
        },
        "geospatialConfig": {
          "type": "Geography"
        },
        "_rid": "J949AN22AAY=",
        "_ts": 1769199491,
        "_self": "dbs/J949AA==/colls/J949AN22AAY=/",
        "_etag": "\"00002000-0000-0800-0000-6973d7830000\"",
        "_docs": "docs/",
        "_sprocs": "sprocs/",
        "_triggers": "triggers/",
        "_udfs": "udfs/",
        "_conflicts": "conflicts/",
        "computedProperties": []
      }
    },
    {
      "RequestUri": "https://Sanitized.documents.azure.com/dbs/ToDoList/colls/Items/docs",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/query+json",
        "x-ms-cosmos-correlated-activityid": "fac945cd-3d3f-411a-9fc8-8d3315125e8a",
        "x-ms-cosmos-is-query-plan-request": "True",
        "x-ms-cosmos-query-version": "1.0",
        "x-ms-cosmos-sdk-supportedcapabilities": "1",
        "x-ms-cosmos-supported-query-features": "Aggregate, Distinct, GroupBy, MultipleAggregates, MultipleOrderBy, OffsetAndLimit, OrderBy, Top, NonValueAggregate, DCount, NonStreamingOrderBy, CountIf, HybridSearch",
        "x-ms-version": "2020-07-15"
      },
      "RequestBody": {
        "query": "SELECT * FROM c",
        "parameters": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-aad-applied-role-assignment": "83341e95-0e19-5888-a592-573237da81fd",
        "x-ms-gatewayversion": "version=2.14.0"
      },
      "ResponseBody": {
        "partitionedQueryExecutionInfoVersion": 2,
        "queryInfo": {
          "distinctType": "None",
          "top": null,
          "offset": null,
          "limit": null,
          "orderBy": [],
          "orderByExpressions": [],
          "groupByExpressions": [],
          "groupByAliases": [],
          "aggregates": [],
          "groupByAliasToAggregateType": {},
          "rewrittenQuery": "",
          "hasSelectValue": false,
          "dCountInfo": null,
          "hasNonStreamingOrderBy": false
        },
        "queryRanges": [
          {
            "min": "",
            "max": "FF",
            "isMinInclusive": true,
            "isMaxInclusive": false
          }
        ],
        "hybridSearchQueryInfo": null
      }
    },
    {
      "RequestUri": "https://Sanitized.documents.azure.com/dbs/J949AA==/colls/J949AN22AAY=/pkranges",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "A-IM": "Incremental Feed",
        "Authorization": "Sanitized",
        "x-ms-cosmos-sdk-supportedcapabilities": "1",
        "x-ms-max-item-count": "-1",
        "x-ms-version": "2020-07-15"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Location": "https://Sanitized.documents.azure.com/dbs/J949AA==/colls/J949AN22AAY=/pkranges",
        "Content-Type": "application/json",
        "ETag": "\"11\"",
        "lsn": "11",
        "x-ms-aad-applied-role-assignment": "83341e95-0e19-5888-a592-573237da81fd",
        "x-ms-alt-content-path": "dbs/ToDoList/colls/Items",
        "x-ms-cosmos-internal-partition-id": "6076859c-358c-4b53-9e4b-dd74db8cd38e",
        "x-ms-cosmos-llsn": "11",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-global-Committed-lsn": "11",
        "x-ms-item-count": "1",
        "x-ms-last-state-change-utc": "Mon, 19 Jan 2026 12:15:15.640 GMT",
        "x-ms-number-of-read-regions": "0",
        "x-ms-request-duration-ms": "0.39",
        "x-ms-schemaversion": "1.20",
        "x-ms-serviceversion": "version=2.14.0.0",
        "x-ms-session-token": "0:-1#11",
        "x-ms-transport-request-id": "16180",
        "x-ms-xp-role": "1"
      },
      "ResponseBody": {
        "_rid": "J949AN22AAY=",
        "PartitionKeyRanges": [
          {
            "_rid": "J949AN22AAYCAAAAAAAAUA==",
            "id": "0",
            "_etag": "\"00002200-0000-0800-0000-6973d7830000\"",
            "minInclusive": "",
            "maxExclusive": "FF",
            "ridPrefix": 0,
            "_self": "dbs/J949AA==/colls/J949AN22AAY=/pkranges/J949AN22AAYCAAAAAAAAUA==/",
            "throughputFraction": 1,
            "status": "online",
            "parents": [],
            "ownedArchivalPKRangeIds": [],
            "_ts": 1769199491,
            "lsn": 11,
            "_lsn": 11
          }
        ],
        "_count": 1
      }
    },
    {
      "RequestUri": "https://Sanitized.documents.azure.com/dbs/J949AA==/colls/J949AN22AAY=/pkranges",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "A-IM": "Incremental Feed",
        "Authorization": "Sanitized",
        "If-None-Match": "\"11\"",
        "x-ms-cosmos-sdk-supportedcapabilities": "1",
        "x-ms-max-item-count": "-1",
        "x-ms-version": "2020-07-15"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Content-Location": "https://Sanitized.documents.azure.com/dbs/J949AA==/colls/J949AN22AAY=/pkranges",
        "Content-Type": "application/json",
        "ETag": "\"11\"",
        "lsn": "11",
        "x-ms-aad-applied-role-assignment": "83341e95-0e19-5888-a592-573237da81fd",
        "x-ms-alt-content-path": "dbs/ToDoList/colls/Items",
        "x-ms-cosmos-internal-partition-id": "6076859c-358c-4b53-9e4b-dd74db8cd38e",
        "x-ms-cosmos-llsn": "11",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-global-Committed-lsn": "11",
        "x-ms-item-count": "0",
        "x-ms-last-state-change-utc": "Thu, 22 Jan 2026 10:52:32.169 GMT",
        "x-ms-number-of-read-regions": "0",
        "x-ms-request-duration-ms": "0.212",
        "x-ms-schemaversion": "1.20",
        "x-ms-serviceversion": "version=2.14.0.0",
        "x-ms-session-token": "0:-1#11",
        "x-ms-transport-request-id": "24123",
        "x-ms-xp-role": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.documents.azure.com/dbs/ToDoList/colls/Items/docs",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/query+json",
        "x-ms-cosmos-correlated-activityid": "fac945cd-3d3f-411a-9fc8-8d3315125e8a",
        "x-ms-cosmos-query-optimisticdirectexecute": "False",
        "x-ms-cosmos-sdk-supportedcapabilities": "1",
        "x-ms-documentdb-isquery": "True",
        "x-ms-documentdb-partitionkeyrangeid": "0",
        "x-ms-documentdb-populatequerymetrics": "True",
        "x-ms-documentdb-query-enablecrosspartition": "True",
        "x-ms-documentdb-query-iscontinuationexpected": "False",
        "x-ms-max-item-count": "2147483647",
        "x-ms-version": "2020-07-15"
      },
      "RequestBody": {
        "query": "SELECT * FROM c",
        "parameters": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "lsn": "1",
        "x-ms-aad-applied-role-assignment": [
          "",
          "83341e95-0e19-5888-a592-573237da81fd"
        ],
        "x-ms-alt-content-path": "dbs/ToDoList/colls/Items",
        "x-ms-content-path": "J949AN22AAY=",
        "x-ms-cosmos-internal-partition-id": "b281b70c-3f17-4663-bb7c-99a796428b54",
        "x-ms-cosmos-is-partition-key-delete-pending": "false",
        "x-ms-cosmos-llsn": "1",
        "x-ms-cosmos-physical-partition-id": "0",
        "x-ms-cosmos-query-execution-info": "{\"reverseRidEnabled\":false,\"reverseIndexScan\":false}",
        "x-ms-documentdb-partitionkeyrangeid": "0",
        "x-ms-documentdb-query-metrics": "totalExecutionTimeInMs=0.17;queryCompileTimeInMs=0.03;queryLogicalPlanBuildTimeInMs=0.00;queryPhysicalPlanBuildTimeInMs=0.02;queryOptimizationTimeInMs=0.00;VMExecutionTimeInMs=0.01;indexLookupTimeInMs=0.00;instructionCount=5;documentLoadTimeInMs=0.00;systemFunctionExecuteTimeInMs=0.00;userFunctionExecuteTimeInMs=0.00;retrievedDocumentCount=0;retrievedDocumentSize=0;outputDocumentCount=0;outputDocumentSize=49;writeOutputTimeInMs=0.00;indexUtilizationRatio=0.00",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-global-Committed-lsn": "1",
        "x-ms-item-count": "0",
        "x-ms-last-state-change-utc": "Thu, 22 Jan 2026 02:20:44.983 GMT",
        "x-ms-number-of-read-regions": "0",
        "x-ms-request-charge": "2.25",
        "x-ms-request-duration-ms": "0.521",
        "x-ms-resource-quota": "documentSize=51200;documentsSize=52428800;documentsCount=-1;collectionSize=52428800;",
        "x-ms-resource-usage": "documentSize=0;documentsSize=0;documentsCount=0;collectionSize=0;",
        "x-ms-schemaversion": "1.20",
        "x-ms-serviceversion": "version=2.14.0.0",
        "x-ms-session-token": "0:-1#1",
        "x-ms-transport-request-id": "2",
        "x-ms-xp-role": "1"
      },
      "ResponseBody": {
        "_rid": "J949AN22AAY=",
        "Documents": [],
        "_count": 0
      }
    }
  ],
  "Variables": {}
}
