{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.documents.azure.com/",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cosmos-sdk-supportedcapabilities": "1",
        "x-ms-version": "2020-07-15"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Location": "https://Sanitized.documents.azure.com/",
        "Content-Type": "application/json",
        "x-ms-aad-applied-role-assignment": "5674c680-9bbc-5670-9452-49cd3136166a",
        "x-ms-databaseaccount-consumed-mb": "0",
        "x-ms-databaseaccount-provisioned-mb": "0",
        "x-ms-databaseaccount-reserved-mb": "0",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-max-media-storage-usage-mb": "2048",
        "x-ms-media-storage-usage-mb": "0"
      },
      "ResponseBody": {
        "_self": "",
        "id": "Sanitized",
        "_rid": "Sanitized.documents.azure.com",
        "media": "//media/",
        "addresses": "//addresses/",
        "_dbs": "//dbs/",
        "writableLocations": [
          {
            "name": "Sanitized",
            "databaseAccountEndpoint": "https://Sanitized-westus2.documents.azure.com:443/"
          }
        ],
        "readableLocations": [
          {
            "name": "Sanitized",
            "databaseAccountEndpoint": "https://Sanitized-westus2.documents.azure.com:443/"
          }
        ],
        "enableMultipleWriteLocations": false,
        "continuousBackupEnabled": false,
        "enableNRegionSynchronousCommit": false,
        "enablePerPartitionFailoverBehavior": false,
        "userReplicationPolicy": {
          "asyncReplication": false,
          "minReplicaSetSize": 3,
          "maxReplicasetSize": 4
        },
        "userConsistencyPolicy": {
          "defaultConsistencyLevel": "Session"
        },
        "systemReplicationPolicy": {
          "minReplicaSetSize": 3,
          "maxReplicasetSize": 4
        },
        "readPolicy": {
          "primaryReadCoefficient": 1,
          "secondaryReadCoefficient": 1
        },
        "queryEngineConfiguration": "{\"allowNewKeywords\":true,\"maxJoinsPerSqlQuery\":10,\"maxQueryRequestTimeoutFraction\":0.9,\"maxSqlQueryInputLength\":524288,\"maxUdfRefPerSqlQuery\":10,\"queryMaxInMemorySortDocumentCount\":-1000,\"spatialMaxGeometryPointCount\":256,\"sqlAllowNonFiniteNumbers\":false,\"sqlDisableOptimizationFlags\":0,\"sqlQueryILDisableOptimizationFlags\":0,\"clientDisableOptimisticDirectExecution\":false,\"queryEnableFullText\":true,\"queryEnableFullTextPreviewFeatures\":false,\"queryMaxFullTextScoreSearchTerms\":5,\"queryMaxRrfArgumentCount\":100,\"enableSpatialIndexing\":true,\"maxInExpressionItemsCount\":2147483647,\"maxLogicalAndPerSqlQuery\":2147483647,\"maxLogicalOrPerSqlQuery\":2147483647,\"maxSpatialQueryCells\":2147483647,\"sqlAllowAggregateFunctions\":true,\"sqlAllowGroupByClause\":true,\"sqlAllowLike\":true,\"sqlAllowSubQuery\":true,\"sqlAllowScalarSubQuery\":true,\"sqlAllowTop\":true}"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.documents.azure.com/dbs",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cosmos-sdk-supportedcapabilities": "1",
        "x-ms-version": "2020-07-15"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Location": "https://Sanitized.documents.azure.com/dbs",
        "Content-Type": "application/json",
        "lsn": "11",
        "x-ms-aad-applied-role-assignment": [
          "5674c680-9bbc-5670-9452-49cd3136166a",
          "5674c680-9bbc-5670-9452-49cd3136166a"
        ],
        "x-ms-cosmos-internal-partition-id": "c96a65e0-79f4-47fc-8683-4beb4818adcc",
        "x-ms-cosmos-llsn": "11",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-global-Committed-lsn": "11",
        "x-ms-item-count": "1",
        "x-ms-last-state-change-utc": "Fri, 12 Dec 2025 00:25:11.515 GMT",
        "x-ms-number-of-read-regions": "0",
        "x-ms-request-charge": "2",
        "x-ms-request-duration-ms": "0.497",
        "x-ms-resource-quota": "databases=1000;collections=5000;users=500000;permissions=2000000;clientEncryptionKeys=20;interopUsers=2000;authPolicyElements=200000;roleDefinitions=100;roleAssignments=2000;azureRbac=200000;",
        "x-ms-resource-usage": "databases=1;collections=1;users=0;permissions=0;clientEncryptionKeys=0;interopUsers=0;authPolicyElements=0;roleDefinitions=0;roleAssignments=1;azureRbac=0;",
        "x-ms-schemaversion": "1.20",
        "x-ms-serviceversion": "version=2.14.0.0",
        "x-ms-session-token": "0:-1#11",
        "x-ms-transport-request-id": "288422",
        "x-ms-xp-role": "2"
      },
      "ResponseBody": {
        "_rid": "",
        "Databases": [
          {
            "id": "ToDoList",
            "_rid": "WvkOAA==",
            "_self": "dbs/WvkOAA==/",
            "_etag": "\"00009803-0000-0800-0000-694310ab0000\"",
            "_colls": "colls/",
            "_users": "users/",
            "_ts": 1766002859
          }
        ],
        "_count": 1
      }
    },
    {
      "RequestUri": "https://Sanitized.documents.azure.com/dbs/ToDoList/colls",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cosmos-sdk-supportedcapabilities": "1",
        "x-ms-version": "2020-07-15"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Location": "https://Sanitized.documents.azure.com/dbs/ToDoList/colls",
        "Content-Type": "application/json",
        "lsn": "11",
        "x-ms-aad-applied-role-assignment": [
          "5674c680-9bbc-5670-9452-49cd3136166a",
          "5674c680-9bbc-5670-9452-49cd3136166a"
        ],
        "x-ms-alt-content-path": "dbs/ToDoList",
        "x-ms-content-path": "WvkOAA==",
        "x-ms-cosmos-internal-partition-id": "c96a65e0-79f4-47fc-8683-4beb4818adcc",
        "x-ms-cosmos-llsn": "11",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-global-Committed-lsn": "11",
        "x-ms-item-count": "1",
        "x-ms-last-state-change-utc": "Wed, 17 Dec 2025 21:45:28.166 GMT",
        "x-ms-number-of-read-regions": "0",
        "x-ms-request-charge": "2",
        "x-ms-request-duration-ms": "0.603",
        "x-ms-resource-quota": "collections=5000;",
        "x-ms-resource-usage": "collections=1;",
        "x-ms-schemaversion": "1.20",
        "x-ms-serviceversion": "version=2.14.0.0",
        "x-ms-session-token": "0:-1#11",
        "x-ms-transport-request-id": "18",
        "x-ms-xp-role": "1"
      },
      "ResponseBody": {
        "_rid": "WvkOAA==",
        "DocumentCollections": [
          {
            "id": "Items",
            "indexingPolicy": {
              "indexingMode": "consistent",
              "automatic": true,
              "includedPaths": [
                {
                  "path": "/*"
                }
              ],
              "excludedPaths": [
                {
                  "path": "/\"_etag\"/?"
                }
              ],
              "fullTextIndexes": []
            },
            "partitionKey": {
              "paths": [
                "/id"
              ],
              "kind": "Hash"
            },
            "uniqueKeyPolicy": {
              "uniqueKeys": []
            },
            "conflictResolutionPolicy": {
              "mode": "LastWriterWins",
              "conflictResolutionPath": "/_ts",
              "conflictResolutionProcedure": ""
            },
            "geospatialConfig": {
              "type": "Geography"
            },
            "_rid": "WvkOAMQyl9o=",
            "_ts": 1766002877,
            "_self": "dbs/WvkOAA==/colls/WvkOAMQyl9o=/",
            "_etag": "\"00009b03-0000-0800-0000-694310bd0000\"",
            "_docs": "docs/",
            "_sprocs": "sprocs/",
            "_triggers": "triggers/",
            "_udfs": "udfs/",
            "_conflicts": "conflicts/",
            "computedProperties": []
          }
        ],
        "_count": 1
      }
    },
    {
      "RequestUri": "https://Sanitized.documents.azure.com/dbs/ToDoList/colls/Items",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cosmos-sdk-supportedcapabilities": "1",
        "x-ms-date": "Wed, 17 Dec 2025 21:46:02 GMT",
        "x-ms-version": "2020-07-15"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "collection-partition-index": "0",
        "collection-service-index": "0",
        "Content-Location": "https://Sanitized.documents.azure.com/dbs/ToDoList/colls/Items",
        "Content-Type": "application/json",
        "ETag": "\"00009b03-0000-0800-0000-694310bd0000\"",
        "lsn": "12",
        "x-ms-aad-applied-role-assignment": "5674c680-9bbc-5670-9452-49cd3136166a",
        "x-ms-alt-content-path": "dbs/ToDoList",
        "x-ms-content-path": "WvkOAA==",
        "x-ms-cosmos-internal-partition-id": "5bd0d295-3dbc-44f8-8776-b681551f0c88",
        "x-ms-cosmos-item-llsn": "1",
        "x-ms-cosmos-llsn": "12",
        "x-ms-cosmos-max-content-length": "2097152",
        "x-ms-cosmos-physical-partition-id": "0",
        "x-ms-documentdb-partitionkeyrangeid": "0",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-global-Committed-lsn": "12",
        "x-ms-item-lsn": "1",
        "x-ms-last-state-change-utc": "Wed, 17 Dec 2025 08:30:25.117 GMT",
        "x-ms-number-of-read-regions": "0",
        "x-ms-request-charge": "2",
        "x-ms-request-duration-ms": "0.539",
        "x-ms-schemaversion": "1.20",
        "x-ms-serviceversion": "version=2.14.0.0",
        "x-ms-session-token": "0:-1#12",
        "x-ms-transport-request-id": "2",
        "x-ms-xp-role": "1"
      },
      "ResponseBody": {
        "id": "Items",
        "indexingPolicy": {
          [...]
    {
      "RequestUri": "https://Sanitized.documents.azure.com/dbs/ToDoList/colls/Items/docs",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/query+json",
        "x-ms-cosmos-correlated-activityid": "e3a43dfc-eb79-4b01-8cd5-9eb36f5f25f0",
        "x-ms-cosmos-is-query-plan-request": "True",
        "x-ms-cosmos-query-version": "1.0",
        "x-ms-cosmos-sdk-supportedcapabilities": "1",
        "x-ms-cosmos-supported-query-features": "Aggregate, Distinct, GroupBy, MultipleAggregates, MultipleOrderBy, OffsetAndLimit, OrderBy, Top, NonValueAggregate, DCount, NonStreamingOrderBy, CountIf, HybridSearch",
        "x-ms-version": "2020-07-15"
      },
      "RequestBody": {
        "query": "SELECT * FROM c",
        "parameters": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-aad-applied-role-assignment": "5674c680-9bbc-5670-9452-49cd3136166a",
        "x-ms-gatewayversion": "version=2.14.0"
      },
      "ResponseBody": {
        "partitionedQueryExecutionInfoVersion": 2,
        "queryInfo": {
          "distinctType": "None",
          "top": null,
          "offset": null,
          "limit": null,
          "orderBy": [],
          "orderByExpressions": [],
          "groupByExpressions": [],
          "groupByAliases": [],
          "aggregates": [],
          "groupByAliasToAggregateType": {},
          "rewrittenQuery": "",
          "hasSelectValue": false,
          "dCountInfo": null,
          "hasNonStreamingOrderBy": false
        },
        "queryRanges": [
          {
            "min": "",
            "max": "FF",
            "isMinInclusive": true,
            "isMaxInclusive": false
          }
        ],
        "hybridSearchQueryInfo": null
      }
    },
    {
      "RequestUri": "https://Sanitized.documents.azure.com/dbs/WvkOAA==/colls/WvkOAMQyl9o=/pkranges",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "A-IM": "Incremental Feed",
        "Authorization": "Sanitized",
        "x-ms-cosmos-sdk-supportedcapabilities": "1",
        "x-ms-max-item-count": "-1",
        "x-ms-version": "2020-07-15"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Location": "https://Sanitized.documents.azure.com/dbs/WvkOAA==/colls/WvkOAMQyl9o=/pkranges",
        "Content-Type": "application/json",
        "ETag": "\"11\"",
        "lsn": "11",
        "x-ms-aad-applied-role-assignment": "5674c680-9bbc-5670-9452-49cd3136166a",
        "x-ms-alt-content-path": "dbs/ToDoList/colls/Items",
        "x-ms-cosmos-internal-partition-id": "c96a65e0-79f4-47fc-8683-4beb4818adcc",
        "x-ms-cosmos-llsn": "11",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-global-Committed-lsn": "11",
        "x-ms-item-count": "1",
        "x-ms-last-state-change-utc": "Wed, 17 Dec 2025 21:45:28.166 GMT",
        "x-ms-number-of-read-regions": "0",
        "x-ms-request-duration-ms": "0.317",
        "x-ms-schemaversion": "1.20",
        "x-ms-serviceversion": "version=2.14.0.0",
        "x-ms-session-token": "0:-1#11",
        "x-ms-transport-request-id": "19",
        "x-ms-xp-role": "1"
      },
      "ResponseBody": {
        "_rid": "WvkOAMQyl9o=",
        "PartitionKeyRanges": [
          {
            "_rid": "WvkOAMQyl9oCAAAAAAAAUA==",
            "id": "0",
            "_etag": "\"00009d03-0000-0800-0000-694310bd0000\"",
            "minInclusive": "",
            "maxExclusive": "FF",
            "ridPrefix": 0,
            "_self": "dbs/WvkOAA==/colls/WvkOAMQyl9o=/pkranges/WvkOAMQyl9oCAAAAAAAAUA==/",
            "throughputFraction": 1,
            "status": "online",
            "parents": [],
            "ownedArchivalPKRangeIds": [],
            "_ts": 1766002877,
            "lsn": 11,
            "_lsn": 11
          }
        ],
        "_count": 1
      }
    },
    {
      "RequestUri": "https://Sanitized.documents.azure.com/dbs/WvkOAA==/colls/WvkOAMQyl9o=/pkranges",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "A-IM": "Incremental Feed",
        "Authorization": "Sanitized",
        "If-None-Match": "\"11\"",
        "x-ms-cosmos-sdk-supportedcapabilities": "1",
        "x-ms-max-item-count": "-1",
        "x-ms-version": "2020-07-15"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Content-Location": "https://Sanitized.documents.azure.com/dbs/WvkOAA==/colls/WvkOAMQyl9o=/pkranges",
        "Content-Type": "application/json",
        "ETag": "\"11\"",
        "lsn": "11",
        "x-ms-aad-applied-role-assignment": "5674c680-9bbc-5670-9452-49cd3136166a",
        "x-ms-alt-content-path": "dbs/ToDoList/colls/Items",
        "x-ms-cosmos-internal-partition-id": "c96a65e0-79f4-47fc-8683-4beb4818adcc",
        "x-ms-cosmos-llsn": "11",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-global-Committed-lsn": "11",
        "x-ms-item-count": "0",
        "x-ms-last-state-change-utc": "Fri, 12 Dec 2025 00:25:11.515 GMT",
        "x-ms-number-of-read-regions": "0",
        "x-ms-request-duration-ms": "0.282",
        "x-ms-schemaversion": "1.20",
        "x-ms-serviceversion": "version=2.14.0.0",
        "x-ms-session-token": "0:-1#11",
        "x-ms-transport-request-id": "288428",
        "x-ms-xp-role": "2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.documents.azure.com/dbs/ToDoList/colls/Items/docs",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/query+json",
        "x-ms-cosmos-correlated-activityid": "e3a43dfc-eb79-4b01-8cd5-9eb36f5f25f0",
        "x-ms-cosmos-query-optimisticdirectexecute": "False",
        "x-ms-cosmos-sdk-supportedcapabilities": "1",
        "x-ms-cosmos-supported-serialization-formats": "JsonText,CosmosBinary",
        "x-ms-documentdb-isquery": "True",
        "x-ms-documentdb-partitionkeyrangeid": "0",
        "x-ms-documentdb-populatequerymetrics": "True",
        "x-ms-documentdb-query-enablecrosspartition": "True",
        "x-ms-documentdb-query-iscontinuationexpected": "False",
        "x-ms-max-item-count": "2147483647",
        "x-ms-version": "2020-07-15"
      },
      "RequestBody": {
        "query": "SELECT * FROM c",
        "parameters": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "lsn": "12",
        "x-ms-aad-applied-role-assignment": [
          "",
          "5674c680-9bbc-5670-9452-49cd3136166a"
        ],
        "x-ms-alt-content-path": "dbs/ToDoList/colls/Items",
        "x-ms-content-path": "WvkOAMQyl9o=",
        "x-ms-cosmos-internal-partition-id": "5bd0d295-3dbc-44f8-8776-b681551f0c88",
        "x-ms-cosmos-is-partition-key-delete-pending": "false",
        "x-ms-cosmos-llsn": "12",
        "x-ms-cosmos-physical-partition-id": "0",
        "x-ms-cosmos-query-execution-info": "{\"reverseRidEnabled\":false,\"reverseIndexScan\":false}",
        "x-ms-documentdb-partitionkeyrangeid": "0",
        "x-ms-documentdb-query-metrics": "totalExecutionTimeInMs=0.15;queryCompileTimeInMs=0.02;queryLogicalPlanBuildTimeInMs=0.00;queryPhysicalPlanBuildTimeInMs=0.01;queryOptimizationTimeInMs=0.00;VMExecutionTimeInMs=0.03;indexLookupTimeInMs=0.00;instructionCount=49;documentLoadTimeInMs=0.02;systemFunctionExecuteTimeInMs=0.00;userFunctionExecuteTimeInMs=0.00;retrievedDocumentCount=11;retrievedDocumentSize=1738;outputDocumentCount=11;outputDocumentSize=1566;writeOutputTimeInMs=0.01;indexUtilizationRatio=1.00",
        "x-ms-gatewayver[...]
