{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.documents.azure.com/dbs/ToDoList/colls",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cosmos-sdk-supportedcapabilities": "1",
        "x-ms-version": "2020-07-15"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Location": "https://Sanitized.documents.azure.com/dbs/ToDoList/colls",
        "Content-Type": "application/json",
        "lsn": "12",
        "x-ms-aad-applied-role-assignment": [
          "d4cff8c0-d238-55b5-b21e-61b5a2a2d81e",
          "d4cff8c0-d238-55b5-b21e-61b5a2a2d81e"
        ],
        "x-ms-alt-content-path": "dbs/ToDoList",
        "x-ms-content-path": "pU4TAA==",
        "x-ms-cosmos-internal-partition-id": "200ee917-94a3-441c-bfc0-eb40af439abc",
        "x-ms-cosmos-llsn": "12",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-global-Committed-lsn": "12",
        "x-ms-item-count": "1",
        "x-ms-last-state-change-utc": "Wed, 25 Feb 2026 21:56:01.013 GMT",
        "x-ms-number-of-read-regions": "0",
        "x-ms-request-charge": "2",
        "x-ms-request-duration-ms": "0.567",
        "x-ms-resource-quota": "collections=5000;",
        "x-ms-resource-usage": "collections=1;",
        "x-ms-schemaversion": "1.21",
        "x-ms-serviceversion": "version=2.14.0.0",
        "x-ms-session-token": "0:-1#12",
        "x-ms-transport-request-id": "34448",
        "x-ms-xp-role": "1"
      },
      "ResponseBody": {
        "_rid": "pU4TAA==",
        "DocumentCollections": [
          {
            "id": "Items",
            "indexingPolicy": {
              "indexingMode": "consistent",
              "automatic": true,
              "includedPaths": [
                {
                  "path": "/*"
                }
              ],
              "excludedPaths": [
                {
                  "path": "/\"_etag\"/?"
                }
              ],
              "fullTextIndexes": []
            },
            "partitionKey": {
              "paths": [
                "/id"
              ],
              "kind": "Hash"
            },
            "uniqueKeyPolicy": {
              "uniqueKeys": []
            },
            "conflictResolutionPolicy": {
              "mode": "LastWriterWins",
              "conflictResolutionPath": "/_ts",
              "conflictResolutionProcedure": ""
            },
            "geospatialConfig": {
              "type": "Geography"
            },
            "_rid": "pU4TAMy9Q-8=",
            "_ts": 1772133232,
            "_self": "dbs/pU4TAA==/colls/pU4TAMy9Q-8=/",
            "_etag": "\"00002b00-0000-0800-0000-69a09b700000\"",
            "_docs": "docs/",
            "_sprocs": "sprocs/",
            "_triggers": "triggers/",
            "_udfs": "udfs/",
            "_conflicts": "conflicts/",
            "computedProperties": []
          }
        ],
        "_count": 1
      }
    },
    {
      "RequestUri": "https://Sanitized.documents.azure.com/dbs/ToDoList/colls/Items/docs",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/query+json",
        "x-ms-cosmos-correlated-activityid": "67aeaa3f-40ff-441a-a837-16c16c7fe4a3",
        "x-ms-cosmos-is-query-plan-request": "True",
        "x-ms-cosmos-query-version": "1.0",
        "x-ms-cosmos-sdk-supportedcapabilities": "1",
        "x-ms-cosmos-supported-query-features": "Aggregate, Distinct, GroupBy, MultipleAggregates, MultipleOrderBy, OffsetAndLimit, OrderBy, Top, NonValueAggregate, DCount, NonStreamingOrderBy, CountIf, HybridSearch",
        "x-ms-version": "2020-07-15"
      },
      "RequestBody": {
        "query": "SELECT * FROM c",
        "parameters": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-aad-applied-role-assignment": "d4cff8c0-d238-55b5-b21e-61b5a2a2d81e",
        "x-ms-gatewayversion": "version=2.14.0"
      },
      "ResponseBody": {
        "partitionedQueryExecutionInfoVersion": 2,
        "queryInfo": {
          "distinctType": "None",
          "top": null,
          "offset": null,
          "limit": null,
          "orderBy": [],
          "orderByExpressions": [],
          "groupByExpressions": [],
          "groupByAliases": [],
          "aggregates": [],
          "groupByAliasToAggregateType": {},
          "rewrittenQuery": "",
          "hasSelectValue": false,
          "dCountInfo": null,
          "hasNonStreamingOrderBy": false
        },
        "queryRanges": [
          {
            "min": "",
            "max": "FF",
            "isMinInclusive": true,
            "isMaxInclusive": false
          }
        ],
        "hybridSearchQueryInfo": null
      }
    },
    {
      "RequestUri": "https://Sanitized.documents.azure.com/dbs/ToDoList/colls/Items/docs",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/query+json",
        "x-ms-cosmos-correlated-activityid": "67aeaa3f-40ff-441a-a837-16c16c7fe4a3",
        "x-ms-cosmos-query-optimisticdirectexecute": "False",
        "x-ms-cosmos-sdk-supportedcapabilities": "1",
        "x-ms-documentdb-isquery": "True",
        "x-ms-documentdb-partitionkeyrangeid": "0",
        "x-ms-documentdb-populatequerymetrics": "True",
        "x-ms-documentdb-query-enablecrosspartition": "True",
        "x-ms-documentdb-query-iscontinuationexpected": "False",
        "x-ms-max-item-count": "2147483647",
        "x-ms-version": "2020-07-15"
      },
      "RequestBody": {
        "query": "SELECT * FROM c",
        "parameters": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "lsn": "2",
        "x-ms-aad-applied-role-assignment": [
          "",
          "d4cff8c0-d238-55b5-b21e-61b5a2a2d81e"
        ],
        "x-ms-alt-content-path": "dbs/ToDoList/colls/Items",
        "x-ms-content-path": "pU4TAMy9Q-8=",
        "x-ms-cosmos-internal-partition-id": "7513417d-d4b4-4d4d-b6eb-210e140e0bfb",
        "x-ms-cosmos-is-partition-key-delete-pending": "false",
        "x-ms-cosmos-llsn": "2",
        "x-ms-cosmos-physical-partition-id": "0",
        "x-ms-cosmos-query-execution-info": "{\"reverseRidEnabled\":false,\"reverseIndexScan\":false}",
        "x-ms-cosmos-quorum-acked-llsn": "2",
        "x-ms-current-replica-set-size": "4",
        "x-ms-current-write-quorum": "3",
        "x-ms-documentdb-partitionkeyrangeid": "0",
        "x-ms-documentdb-query-metrics": "totalExecutionTimeInMs=0.22;queryCompileTimeInMs=0.03;queryLogicalPlanBuildTimeInMs=0.00;queryPhysicalPlanBuildTimeInMs=0.04;queryOptimizationTimeInMs=0.00;VMExecutionTimeInMs=0.01;indexLookupTimeInMs=0.00;instructionCount=5;documentLoadTimeInMs=0.00;systemFunctionExecuteTimeInMs=0.00;userFunctionExecuteTimeInMs=0.00;retrievedDocumentCount=0;retrievedDocumentSize=0;outputDocumentCount=0;outputDocumentSize=49;writeOutputTimeInMs=0.00;indexUtilizationRatio=0.00",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-global-Committed-lsn": "2",
        "x-ms-item-count": "0",
        "x-ms-last-state-change-utc": "Thu, 26 Feb 2026 14:05:09.944 GMT",
        "x-ms-number-of-read-regions": "0",
        "x-ms-quorum-acked-lsn": "2",
        "x-ms-request-charge": "2.25",
        "x-ms-request-duration-ms": "0.651",
        "x-ms-resource-quota": "documentSize=51200;documentsSize=52428800;documentsCount=-1;collectionSize=52428800;",
        "x-ms-resource-usage": "documentSize=0;documentsSize=0;documentsCount=0;collectionSize=0;",
        "x-ms-schemaversion": "1.21",
        "x-ms-serviceversion": "version=2.14.0.0",
        "x-ms-session-token": "0:-1#2",
        "x-ms-transport-request-id": "1",
        "x-ms-xp-role": "1"
      },
      "ResponseBody": {
        "_rid": "pU4TAMy9Q-8=",
        "Documents": [],
        "_count": 0
      }
    }
  ],
  "Variables": {
    "database0": "ToDoList",
    "db0/container0": "Items"
  }
}
