{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "owners": "bebroder,wesh",
          "DoNotDelete": ""
        },
        "subscriptionId": "00000000-0000-0000-0000-000000000000",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure SDK Test Resources - TME",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/databaseAccounts?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "",
          "",
          "",
          ""
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DocumentDB/databaseAccounts/riparkcosmostables-tme",
            "name": "riparkcosmostables-tme",
            "location": "West US 2",
            "type": "Microsoft.DocumentDB/databaseAccounts",
            "kind": "GlobalDocumentDB",
            "tags": {
              "defaultExperience": "Azure Table",
              "hidden-cosmos-mmspecial": ""
            },
            "systemData": {
              "createdAt": "2025-03-17T18:57:01.1048607+00:00"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "documentEndpoint": "https://riparkcosmostables-tme.documents.azure.com:443/",
              "tableEndpoint": "https://riparkcosmostables-tme.table.cosmos.azure.com:443/",
              "sqlEndpoint": "https://riparkcosmostables-tme.documents.azure.com:443/",
              "publicNetworkAccess": "Enabled",
              "enableAutomaticFailover": false,
              "enableMultipleWriteLocations": false,
              "enablePartitionKeyMonitor": false,
              "isVirtualNetworkFilterEnabled": false,
              "virtualNetworkRules": [],
              "EnabledApiTypes": "Table, Sql",
              "disableKeyBasedMetadataWriteAccess": false,
              "enableFreeTier": false,
              "enableAnalyticalStorage": false,
              "analyticalStorageConfiguration": {
                "schemaType": "WellDefined"
              },
              "instanceId": "bef5e2e2-95d7-4686-aa77-b50baf83184b",
              "databaseAccountOfferType": "Standard",
              "capacityMode": "Serverless",
              "defaultIdentity": "FirstPartyIdentity",
              "networkAclBypass": "None",
              "disableLocalAuth": true,
              "enablePartitionMerge": false,
              "enablePerRegionPerPartitionAutoscale": false,
              "enableBurstCapacity": false,
              "enablePriorityBasedExecution": false,
              "defaultPriorityLevel": "High",
              "minMaxThresholdsForPriorityBasedExecution": {
                "minPercentForLowPriorityRequests": 0,
                "maxPercentForLowPriorityRequests": 100,
                "minPercentForHighPriorityRequests": 0,
                "maxPercentForHighPriorityRequests": 100
              },
              "minimalTlsVersion": "Tls12",
              "consistencyPolicy": {
                "defaultConsistencyLevel": "BoundedStaleness",
                "maxIntervalInSeconds": 86400,
                "maxStalenessPrefix": 1000000
              },
              "configurationOverrides": {
                "enableChangeCapacityMode": "True",
                "enablePerRegionPerPartitionAutoscaleOptIn": "True"
              },
              "writeLocations": [
                {
                  "id": "riparkcosmostables-tme-westus2",
                  "locationName": "West US 2",
                  "documentEndpoint": "https://riparkcosmostables-tme-westus2.documents.azure.com:443/",
                  "provisioningState": "Succeeded",
                  "failoverPriority": 0,
                  "isZoneRedundant": false
                }
              ],
              "readLocations": [
                {
                  "id": "riparkcosmostables-tme-westus2",
                  "locationName": "West US 2",
                  "documentEndpoint": "https://riparkcosmostables-tme-westus2.documents.azure.com:443/",
                  "provisioningState": "Succeeded",
                  "failoverPriority": 0,
                  "isZoneRedundant": false
                }
              ],
              "locations": [
                {
                  "id": "riparkcosmostables-tme-westus2",
                  "locationName": "West US 2",
                  "documentEndpoint": "https://riparkcosmostables-tme-westus2.documents.azure.com:443/",
                  "provisioningState": "Succeeded",
                  "failoverPriority": 0,
                  "isZoneRedundant": false
                }
              ],
              "failoverPolicies": [
                {
                  "id": "riparkcosmostables-tme-westus2",
                  "locationName": "West US 2",
                  "failoverPriority": 0
                }
              ],
              "cors": [],
              "capabilities": [
                {
                  "name": "EnableTable"
                }
              ],
              "ipRules": [],
              "backupPolicy": {
                "type": "Periodic",
                "periodicModeProperties": {
                  "backupIntervalInMinutes": 240,
                  "backupRetentionIntervalInHours": 8,
                  "backupStorageRedundancy": "Geo"
                }
              },
              "networkAclBypassResourceIds": [],
              "diagnosticLogSettings": {
                "enableFullTextQuery": "None"
              },
              "keysMetadata": {
                "primaryMasterKey": {
                  "generationTime": "2025-03-17T18:57:01.1048607+00:00"
                },
                "secondaryMasterKey": {
                  "generationTime": "2025-03-17T18:57:01.1048607+00:00"
                },
                "primaryReadonlyMasterKey": {
                  "generationTime": "2025-03-17T18:57:01.1048607+00:00"
                },
                "secondaryReadonlyMasterKey": {
                  "generationTime": "2025-03-17T18:57:01.1048607+00:00"
                }
              }
            },
            "identity": {
              "type": "None"
            }
          },
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DocumentDB/databaseAccounts/paulvaneckoai10cosmos2",
            "name": "paulvaneckoai10cosmos2",
            "location": "West US 2",
            "type": "Microsoft.DocumentDB/databaseAccounts",
            "kind": "GlobalDocumentDB",
            "tags": {},
            "systemData": {
              "createdAt[...]
