{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.documents.azure.com/dbs",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cosmos-sdk-supportedcapabilities": "1",
        "x-ms-version": "2020-07-15"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Location": "https://Sanitized.documents.azure.com/dbs",
        "Content-Type": "application/json",
        "lsn": "12",
        "x-ms-aad-applied-role-assignment": [
          "d4cff8c0-d238-55b5-b21e-61b5a2a2d81e",
          "d4cff8c0-d238-55b5-b21e-61b5a2a2d81e"
        ],
        "x-ms-cosmos-internal-partition-id": "200ee917-94a3-441c-bfc0-eb40af439abc",
        "x-ms-cosmos-llsn": "12",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-global-Committed-lsn": "12",
        "x-ms-item-count": "1",
        "x-ms-last-state-change-utc": "Wed, 25 Feb 2026 17:44:43.275 GMT",
        "x-ms-number-of-read-regions": "0",
        "x-ms-request-charge": "2",
        "x-ms-request-duration-ms": "0.484",
        "x-ms-resource-quota": "databases=1000;collections=5000;users=500000;permissions=2000000;clientEncryptionKeys=20;interopUsers=2000;authPolicyElements=200000;roleDefinitions=100;roleAssignments=2000;azureRbac=200000;",
        "x-ms-resource-usage": "databases=1;collections=1;users=0;permissions=0;clientEncryptionKeys=0;interopUsers=0;authPolicyElements=0;roleDefinitions=0;roleAssignments=1;azureRbac=0;",
        "x-ms-schemaversion": "1.21",
        "x-ms-serviceversion": "version=2.14.0.0",
        "x-ms-session-token": "0:-1#12",
        "x-ms-transport-request-id": "35845",
        "x-ms-xp-role": "2"
      },
      "ResponseBody": {
        "_rid": "",
        "Databases": [
          {
            "id": "ToDoList",
            "_rid": "pU4TAA==",
            "_self": "dbs/pU4TAA==/",
            "_etag": "\"00002800-0000-0800-0000-69a09b600000\"",
            "_colls": "colls/",
            "_users": "users/",
            "_ts": 1772133216
          }
        ],
        "_count": 1
      }
    }
  ],
  "Variables": {}
}
