{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/agents/beta-agent-test/versions?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "enableVnextExperience": "true"
        },
        "definition": {
          "kind": "hosted",
          "cpu": "0.5",
          "memory": "1Gi",
          "container_configuration": {
            "image": "my_agent_container_image"
          },
          "protocol_versions": [
            {
              "protocol": "responses",
              "version": "v1"
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "metadata": {
          "enableVnextExperience": "true"
        },
        "object": "agent.version",
        "id": "beta-agent-test:1",
        "name": "beta-agent-test",
        "version": "1",
        "description": "",
        "created_at": 1782496308,
        "definition": {
          "kind": "hosted",
          "container_protocol_versions": [],
          "cpu": "0.5",
          "memory": "1Gi",
          "container_configuration": {
            "image": "my_agent_container_image"
          },
          "protocol_versions": [
            {
              "protocol": "responses",
              "version": "v1"
            }
          ]
        },
        "status": "creating",
        "instance_identity": {
          "principal_id": "11e39892-ba79-4952-9b55-7a9a056cd2f1",
          "client_id": "11e39892-ba79-4952-9b55-7a9a056cd2f1"
        },
        "blueprint": {
          "principal_id": "c96f7a52-d6be-4cbc-b338-6e59ef32654b",
          "client_id": "5e2db887-cb21-4076-9fd7-ec0c378f2f72"
        },
        "blueprint_reference": {
          "type": "ManagedAgentIdentityBlueprint",
          "blueprint_id": "beta-agent-test-353f4"
        },
        "agent_guid": "353f4c82-59ae-4859-a89d-5df5b0bd12a6"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/agents/beta-agent-test/versions/1?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hye[...]
