{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/exportkey-14334/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/exportkey-14334/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_ops": [
          "encrypt",
          "decrypt"
        ],
        "attributes": {
          "exportable": true
        },
        "release_policy": {
          "data": "eyAic2FuaXRpemVkIjogInNhbml0aXplZCIgfQ=="
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "72"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1777635713,
          "enabled": true,
          "exportable": true,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1777635713
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "encrypt",
            "decrypt"
          ],
          "kid": "https://azure_managedhsm.managedhsm.azure.net/keys/exportkey-14334/4b2b83697da30140a6873a7ba1d018e2",
          "kty": "RSA-HSM",
          "n": "qNhczn8Q0idIIIW2gDpFrL4ms26s3H_xr6XIlJfUAv9o8vwcRofoMvx9N8m5-8M_BOqWebbECsbNLYE5vuhdPht0NdbbawXtYv-KcVcBmVxhX5ZbDN5UC3zQF5H3mk8jPMNp83duvn2YyU1YibJsOoSpDIqPyetFNN1ugDSLSb3jTpMiBVkethuSezDGMSjGJgH6ZIpN-onPP09TPgp2OWaf2jJqYViOTh_BOfHmxRPauUQN6XLszcLMSpdAokv-dxvw48RIT12lOQutD-mNmuoLZt-V9ERnSSn-vE3elA8srtbtsGx07E9aQC-vaVnyc0HhYk0LeCRS5dzeR65jgw"
        },
        "release_policy": {
          "contentType": "application/json; charset=utf-8",
          "data": "eyAic2FuaXRpemVkIjogInNhbml0aXplZCIgfQ==",
          "immutable": false
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/exportkey-14334/?api-version=7.6",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {},
        "release_policy": {
          "data": "eyAic2FuaXRpemVkIjogInNhbml0aXplZCIgfQ=="
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/[...]
