{
  "Entries": [
    {
      "RequestUri": "https://sanitized.skype.com/identities?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 10:55:37 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01, 2025-03-02-preview, 2025-06-30",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "15ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/api/servicebuscallback/subscribe?q=Sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 10:55:38 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 10:55:40 GMT"
      },
      "RequestBody": {
        "targets": [
          {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "source": {
          "id": "Sanitized"
        },
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "customCallingContext": {
          "voipHeaders": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "26e81dc0-6f4d-461a-acbd-088d148b7b54",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250711.1 (.NET 8.0.18; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "callConnectionId": "02004380-3a4c-4f94-9aa0-9adeff0ceb17",
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "sourceDisplayName": "",
        "source": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "correlationId": "26e81dc0-6f4d-461a-acbd-088d148b7b54",
        "mediaSubscriptionId": "94c7455a-0bd0-4f26-a170-74eb57c41105",
        "dataSubscriptionId": "c8a1b039-f438-4f72-a7ad-467fd34c07f7",
        "mediaStreamingSubscription": {
          "id": "Sanitized",
          "state": "disabled",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections:answer?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 10:55:42 GMT"
      },
      "RequestBody": {
        "incomingCallContext": "Sanitized",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "customCallingContext": {
          "voipHeaders": {},
          "sipHeaders": {}
        },
        "answeredBy": {
          "id": "Sanitized"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "26e81dc0-6f4d-461a-acbd-088d148b7b54",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250711.1 (.NET 8.0.18; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "callConnectionId": "02004380-c4d2-406d-a78c-3d34a6cd3c81",
        "serverCallId": "aHR0cHM6Ly9hcGkuZmxpZ2h0cHJveHkuc2t5cGUuY29tL2FwaS92Mi9jcC9jb252LXVhZW4tMDQtcHJvZC1ha3MuY29udi5za3lwZS5jb20vY29udi9yVzRGUldkRDgwR2xtWG4zQUg0OXFBP2k9MTAtMTI4LTItMTc5JmU9NjM4ODc3ODAwMjgyOTEyNzYw",
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "source": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "correlationId": "26e81dc0-6f4d-461a-acbd-088d148b7b54",
        "answeredBy": {
          "id": "Sanitized"
        },
        "mediaSubscriptionId": "97648fcc-6695-4ee9-9d41-4b87aa396524",
        "dataSubscriptionId": "440cad01-801d-413d-b0da-32ec13412422",
        "mediaStreamingSubscription": {
          "id": "Sanitized",
          "state": "disabled",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections:connect?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 10:55:45 GMT"
      },
      "RequestBody": {
        "callLocator": {
          "serverCallId": "aHR0cHM6Ly9hcGkuZmxpZ2h0cHJveHkuc2t5cGUuY29tL2FwaS92Mi9jcC9jb252LXVhZW4tMDQtcHJvZC1ha3MuY29udi5za3lwZS5jb20vY29udi9yVzRGUldkRDgwR2xtWG4zQUg0OXFBP2k9MTAtMTI4LTItMTc5JmU9NjM4ODc3ODAwMjgyOTEyNzYw",
          "kind": "serverCallLocator"
        },
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "13e5db4c-6bba-4fe6-b168-63b2d83c2529",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250711.1 (.NET 8.0.18; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "callConnectionId": "02004380-c48c-41a7-b818-2f87868c5781",
        "targets": [],
        "callConnectionState": "connecting",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "correlationId": "13e5db4c-6bba-4fe6-b168-63b2d83c2529",
        "mediaSubscriptionId": "332f9ce5-35da-44ac-a5fa-e220af00962f",
        "dataSubscriptionId": "d915533a-3795-4b0e-8f54-fb7d92b1aaf5",
        "mediaStreamingSubscription": {
          "id": "Sanitized",
          "state": "disabled",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/02004380-c48c-41a7-b818-2f87868c5781?api-version=2024-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 10:55:49 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "26e81dc0-6f4d-461a-acbd-088d148b7b54",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250711.1 (.NET 8.0.18; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "callConnectionId": "02004380-c48c-41a7-b818-2f87868c5781",
        "serverCallId": "aHR0cHM6Ly9hcGkuZmxpZ2h0cHJveHkuc2t5cGUuY29tL2FwaS92Mi9jcC9jb252LXVhZW4tMDQtcHJvZC1ha3MuY29udi5za3lwZS5jb20vY29udi9yVzRGUldkRDgwR2xtWG4zQUg0OXFBP2k9MTAtMTI4LTItMTc5JmU9NjM4ODc3ODAwMjgyOTEyNzYw",
        "targets": [],
        "callConnectionState": "connected",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "correlationId": "26e81dc0-6f4d-461a-acbd-088d148b7b54",
        "mediaSubscriptionId": "332f9ce5-35da-44ac-a5fa-e220af00962f",
        "dataSubscriptionId": "d915533a-3795-4b0e-8f54-fb7d92b1aaf5",
        "mediaStreamingSubscription": {
          "state": "disabled"
        },
        "transcriptionSubscription": {
          "state": "disabled",
          "subscribedResultTypes": []
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/02004380-c48c-41a7-b818-2f87868c5781:terminate?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 10:55:49 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Repeatability-Result": "accepted",
        "X-Microsoft-Skype-Chain-ID": "26e81dc0-6f4d-461a-acbd-088d148b7b54",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250711.1 (.NET 8.0.18; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/02004380-c4d2-406d-a78c-3d34a6cd3c81:terminate?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 10:55:51 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "187cfa4f-dca5-4f4b-a012-739f076f8eec",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250711.1 (.NET 8.0.18; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "error": {
          "code": "8522",
          "message": "Call not found."
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/api/servicebuscallback/unsubscribe?q=Sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 10:55:51 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "DISPATCHER_ENDPOINT": "https://sanitized.skype.com",
    "PMA_Endpoint": "https://sanitized.com",
    "RandomSeed": "964656020",
    "SERVICEBUS_STRING": "Sanitized"
  }
}
