{
  "Entries": [
    {
      "RequestUri": "https://sanitized.skype.com/identities?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 30 Jul 2025 08:52:25 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01, 2025-03-02-preview, 2025-06-30",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "13ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/api/servicebuscallback/subscribe?q=Sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 30 Jul 2025 08:52:26 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 30 Jul 2025 08:52:28 GMT"
      },
      "RequestBody": {
        "targets": [
          {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "source": {
          "id": "Sanitized"
        },
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "customCallingContext": {
          "voipHeaders": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-10-03-preview, 2024-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "b08114b0-be4a-4204-ba0c-c3304b42da31",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250730.1 (.NET 8.0.18; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250730.1 (.NET 8.0.18; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "callConnectionId": "09004380-bae4-4b34-89be-df1279989df3",
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "sourceDisplayName": "",
        "source": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "correlationId": "b08114b0-be4a-4204-ba0c-c3304b42da31",
        "mediaSubscriptionId": "9cd7ddac-5542-4db4-bf21-b7454f6bbf98",
        "dataSubscriptionId": "b8ff0b91-bb92-4929-94da-f76a3fbf14cf",
        "mediaStreamingSubscription": {
          "id": "Sanitized",
          "state": "disabled",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections:answer?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 30 Jul 2025 08:52:32 GMT"
      },
      "RequestBody": {
        "incomingCallContext": "Sanitized",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "customCallingContext": {
          "voipHeaders": {},
          "sipHeaders": {}
        },
        "answeredBy": {
          "id": "Sanitized"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-10-03-preview, 2024-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "b08114b0-be4a-4204-ba0c-c3304b42da31",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250730.1 (.NET 8.0.18; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250730.1 (.NET 8.0.18; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "callConnectionId": "09004380-8a89-4b92-b3f8-1df1691dad2b",
        "serverCallId": "aHR0cHM6Ly9hcGkuZmxpZ2h0cHJveHkuc2t5cGUuY29tL2FwaS92Mi9jcC9jb252LXVhZW4tMDUtcHJvZC1ha3MuY29udi5za3lwZS5jb20vY29udi9ZZEo4bjdWRUMwdS1NUmcwV2ZiM2RnP2k9MTAtMTI4LTQ0LTk3JmU9NjM4ODkxMzE3MzU5NTc0ODkx",
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "source": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "correlationId": "b08114b0-be4a-4204-ba0c-c3304b42da31",
        "answeredBy": {
          "id": "Sanitized"
        },
        "mediaSubscriptionId": "ebaacfbc-31ce-447f-9587-e80198dabbb0",
        "dataSubscriptionId": "2deee96b-e7ec-486e-a951-9e1f8f0f117b",
        "mediaStreamingSubscription": {
          "id": "Sanitized",
          "state": "disabled",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections:connect?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 30 Jul 2025 08:52:34 GMT"
      },
      "RequestBody": {
        "callLocator": {
          "serverCallId": "aHR0cHM6Ly9hcGkuZmxpZ2h0cHJveHkuc2t5cGUuY29tL2FwaS92Mi9jcC9jb252LXVhZW4tMDUtcHJvZC1ha3MuY29udi5za3lwZS5jb20vY29udi9ZZEo4bjdWRUMwdS1NUmcwV2ZiM2RnP2k9MTAtMTI4LTQ0LTk3JmU9NjM4ODkxMzE3MzU5NTc0ODkx",
          "kind": "serverCallLocator"
        },
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-10-03-preview, 2024-0[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/09004380-7ffa-4753-a420-34069f2f1847?api-version=2024-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 30 Jul 2025 08:52:38 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-10-03-preview, 2024-09-01-previe[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/09004380-7ffa-4753-a420-34069f2f1847:terminate?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 30 Jul 2025 08:52:38 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2023-10-03-preview, 2024-09-01-preview",
        "Repeatability-Result": "accepted",
        "X-Microsoft-Skype-Chain-ID": "b08114b0-be4a-4204-ba0c-c3304b42da31",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250730.1 (.NET 8.0.18; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250730.1 (.NET 8.0.18; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/09004380-8a89-4b92-b3f8-1df1691dad2b:terminate?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 30 Jul 2025 08:52:40 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2023-10-03-preview, 2024-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Repeatability-Result": "accepted",
        "X-Microsoft-Skype-Chain-ID": "b1a782a9-4692-408b-8481-ab3722759f63",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250730.1 (.NET 8.0.18; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250730.1 (.NET 8.0.18; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "error": {
          "code": "8522",
          "message": "Call not found.",
          "target": "/calling/callConnections/09004380-8a89-4b92-b3f8-1df1691dad2b:terminate"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/api/servicebuscallback/unsubscribe?q=Sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 30 Jul 2025 08:52:40 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "DISPATCHER_ENDPOINT": "https://sanitized.skype.com",
    "PMA_Endpoint": "https://sanitized.com",
    "RandomSeed": "152080856",
    "SERVICEBUS_STRING": "Sanitized"
  }
}
