{
  "Entries": [
    {
      "RequestUri": "https://sanitized.skype.com/identities?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 18:26:29 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "16ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/api/servicebuscallback/subscribe?q=Sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 18:26:29 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 18:26:31 GMT"
      },
      "RequestBody": {
        "targets": [
          {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "source": {
          "id": "Sanitized"
        },
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "customCallingContext": {
          "voipHeaders": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "83345133-82ae-4639-8a7e-dc5316c298cf",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250117.1 (.NET 8.0.12; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "callConnectionId": "05002180-3c1b-4a7d-b5a7-57b6b4942355",
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "sourceDisplayName": "",
        "source": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "correlationId": "83345133-82ae-4639-8a7e-dc5316c298cf",
        "mediaSubscriptionId": "3fc14b7b-59b6-4f0c-ab96-437efb41ab2f",
        "dataSubscriptionId": "d36a9be4-ddbc-401c-a024-2f17fc5e0a3a",
        "mediaStreamingSubscription": {
          "id": "Sanitized",
          "state": "disabled",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections:answer?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 18:26:32 GMT"
      },
      "RequestBody": {
        "incomingCallContext": "Sanitized",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "customCallingContext": {
          "voipHeaders": {},
          "sipHeaders": {}
        },
        "answeredBy": {
          "id": "Sanitized"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "83345133-82ae-4639-8a7e-dc5316c298cf",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250117.1 (.NET 8.0.12; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "callConnectionId": "05002180-7ad2-473a-94b3-fd970387d347",
        "serverCallId": "aHR0cHM6Ly9hcGkuZmxpZ2h0cHJveHkuc2t5cGUuY29tL2FwaS92Mi9jcC9jb252LXVzd2UtMDMtcHJvZC1ha3MuY29udi5za3lwZS5jb20vY29udi8zNE05ZUNROXVFQ2pzRXlHd3NGS1dBP2k9MTAtNjAtMzItMzImZT02Mzg3MjU3NDMwMzM4MjU0NDM=",
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "source": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "correlationId": "83345133-82ae-4639-8a7e-dc5316c298cf",
        "answeredBy": {
          "id": "Sanitized"
        },
        "mediaSubscriptionId": "8dab837f-2b2c-49b7-b9dc-ffc69cf17661",
        "dataSubscriptionId": "c426909f-54ca-4cd4-9bb8-e709b1727181",
        "mediaStreamingSubscription": {
          "id": "Sanitized",
          "state": "disabled",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections:connect?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 18:26:34 GMT"
      },
      "RequestBody": {
        "callLocator": {
          "serverCallId": "aHR0cHM6Ly9hcGkuZmxpZ2h0cHJveHkuc2t5cGUuY29tL2FwaS92Mi9jcC9jb252LXVzd2UtMDMtcHJvZC1ha3MuY29udi5za3lwZS5jb20vY29udi8zNE05ZUNROXVFQ2pzRXlHd3NGS1dBP2k9MTAtNjAtMzItMzImZT02Mzg3MjU3NDMwMzM4MjU0NDM=",
          "kind": "serverCallLocator"
        },
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "4beec641-431f-45a5-9e77-8480b67a95d7",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250117.1 (.NET 8.0.12; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "callConnectionId": "05002180-205e-4c67-acdf-ce48135c1eed",
        "targets": [],
        "callConnectionState": "connecting",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "correlationId": "4beec641-431f-45a5-9e77-8480b67a95d7",
        "mediaSubscriptionId": "413560be-d5b1-495f-914a-57ce19dfcda0",
        "dataSubscriptionId": "12621d40-5da2-4c13-a85c-5d8b3e9c8ef7",
        "mediaStreamingSubscription": {
          "id": "Sanitized",
          "state": "disabled",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/05002180-205e-4c67-acdf-ce48135c1eed?api-version=2024-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 18:26:36 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "83345133-82ae-4639-8a7e-dc5316c298cf",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250117.1 (.NET 8.0.12; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "callConnectionId": "05002180-205e-4c67-acdf-ce48135c1eed",
        "serverCallId": "aHR0cHM6Ly9hcGkuZmxpZ2h0cHJveHkuc2t5cGUuY29tL2FwaS92Mi9jcC9jb252LXVzd2UtMDMtcHJvZC1ha3MuY29udi5za3lwZS5jb20vY29udi8zNE05ZUNROXVFQ2pzRXlHd3NGS1dBP2k9MTAtNjAtMzItMzImZT02Mzg3MjU3NDMwMzM4MjU0NDM=",
        "targets": [],
        "callConnectionState": "connected",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "correlationId": "83345133-82ae-4639-8a7e-dc5316c298cf",
        "mediaSubscriptionId": "413560be-d5b1-495f-914a-57ce19dfcda0",
        "dataSubscriptionId": "12621d40-5da2-4c13-a85c-5d8b3e9c8ef7",
        "mediaStreamingSubscription": {
          "state": "disabled"
        },
        "transcriptionSubscription": {
          "state": "disabled",
          "subscribedResultTypes": []
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/05002180-205e-4c67-acdf-ce48135c1eed:terminate?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 18:26:36 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Repeatability-Result": "accepted",
        "X-Microsoft-Skype-Chain-ID": "83345133-82ae-4639-8a7e-dc5316c298cf",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250117.1 (.NET 8.0.12; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/05002180-7ad2-473a-94b3-fd970387d347:terminate?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 18:26:37 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "a1bbfaca-9bf6-405e-b356-be8ab82d8f00",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250117.1 (.NET 8.0.12; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "error": {
          "code": "8522",
          "message": "Call not found."
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/api/servicebuscallback/unsubscribe?q=Sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 18:26:37 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "DISPATCHER_ENDPOINT": "https://sanitized.skype.com",
    "PMA_Endpoint": "https://sanitized.com",
    "RandomSeed": "1311165164",
    "SERVICEBUS_STRING": "Sanitized"
  }
}
