{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.geocatalogs.azure.com/stac/collections/naip/items/ga_m_3308421_se_16_060_20211114?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/geo+json"
      },
      "ResponseBody": {
        "id": "ga_m_3308421_se_16_060_20211114",
        "bbox": [
          -84.44157,
          33.621853,
          -84.370894,
          33.690654
        ],
        "type": "Feature",
        "links": [
          {
            "rel": "collection",
            "type": "application/json",
            "href": "https://Sanitized.geocatalogs.azure.com/stac/collections/naip"
          },
          {
            "rel": "parent",
            "type": "application/json",
            "href": "https://Sanitized.geocatalogs.azure.com/stac/collections/naip"
          },
          {
            "rel": "root",
            "type": "application/json",
            "href": "https://Sanitized.geocatalogs.azure.com/stac/"
          },
          {
            "rel": "self",
            "type": "application/geo+json",
            "href": "https://Sanitized.geocatalogs.azure.com/stac/collections/naip/items/ga_m_3308421_se_16_060_20211114"
          },
          {
            "rel": "preview",
            "href": "https://planetarycomputer.microsoft.com/api/data/v1/item/map?collection=naip&item=ga_m_3308421_se_16_060_20211114",
            "type": "text/html",
            "title": "Map of item"
          }
        ],
        "assets": {
          "image": {
            "href": "https://Sanitized.blob.core.windows.net/naip-bf48131e/234/ga_m_3308421_se_16_060_20211114/image.tif",
            "type": "image/tiff; application=geotiff; profile=cloud-optimized",
            "roles": [
              "data"
            ],
            "title": "RGBIR COG tile",
            "eo:bands": [
              {
                "name": "Red",
                "common_name": "red"
              },
              {
                "name": "Green",
                "common_name": "green"
              },
              {
                "name": "Blue",
                "common_name": "blue"
              },
              {
                "name": "NIR",
                "common_name": "nir",
                "description": "near-infrared"
              }
            ]
          },
          "tilejson": {
            "href": "https://Sanitized.blob.core.windows.net/naip-bf48131e/234/ga_m_3308421_se_16_060_20211114/tilejson.json",
            "type": "application/json",
            "roles": [
              "tiles"
            ],
            "title": "TileJSON with default rendering"
          },
          "thumbnail": {
            "href": "https://Sanitized.blob.core.windows.net/naip-bf48131e/234/ga_m_3308421_se_16_060_20211114/thumbnail.jpg",
            "type": "image/jpeg",
            "roles": [
              "thumbnail"
            ],
            "title": "Thumbnail"
          },
          "rendered_preview": {
            "rel": "preview",
            "href": "https://Sanitized.blob.core.windows.net/naip-bf48131e/234/ga_m_3308421_se_16_060_20211114/rendered_preview.png",
            "type": "image/png",
            "roles": [
              "overview"
            ],
            "title": "Rendered preview"
          }
        },
        "_msft:ts": "2026-06-08T20:34:39.764424Z",
        "geometry": {
          "type": "Polygon",
          "coordinates": [
            [
              [
                -84.372943,
                33.621853
              ],
              [
                -84.370894,
                33.689211
              ],
              [
                -84.439575,
                33.690654
              ],
              [
                -84.44157,
                33.623293
              ],
              [
                -84.372943,
                33.621853
              ]
            ]
          ]
        },
        "_msft:etag": "59662a2e-ba07-4042-a912-7926ab68b368",
        "collection": "naip",
        "properties": {
          "gsd": 0.6,
          "datetime": "2021-11-14T16:00:00Z",
          "naip:year": "2021",
          "proj:bbox": [
            737334.0,
            3723324.0,
            743706.0,
            3730800.0
          ],
          "proj:epsg": 26916,
          "providers": [
            {
              "url": "https://www.fsa.usda.gov/programs-and-services/aerial-photography/imagery-programs/naip-imagery/",
              "name": "USDA Farm Service Agency",
              "roles": [
                "producer",
                "licensor"
              ]
            }
          ],
          "naip:state": "ga",
          "proj:shape": [
            12460,
            10620
          ],
          "proj:transform": [
            0.6,
            0.0,
            737334.0,
            0.0,
            -0.6,
            3730800.0,
            0.0,
            0.0,
            1.0
          ]
        },
        "stac_extensions": [
          "https://stac-extensions.github.io/eo/v1.1.0/schema.json",
          "https://stac-extensions.github.io/projection/v1.1.0/schema.json"
        ],
        "stac_version": "1.0.0"
      }
    },
    {
      "RequestUri": "https://Sanitized.geocatalogs.azure.com/sas/sign?api-version=2026-04-15&href=https%3A%2F%2FSanitized.blob.core.windows.net%2Fnaip-bf48131e%2F234%2Fga_m_3308421_se_16_060_20211114%2Fimage.tif",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "msft:expiry": "2026-06-09T21:49:56Z",
        "href": "https://Sanitized.blob.core.windows.net/naip-bf48131e/234/ga_m_3308421_se_16_060_20211114/image.tif?st=2026-06-07T21%3A49%3A56Z&se=2026-06-09T21%3A49%3A56Z&sp=rl&sv=Sanitized&sr=c&skoid=ac8f235e-6c17-4caa-9067-3c63f8779896&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2026-06-08T21%3A18%3A31Z&ske=2026-06-15T21%3A17%3A31Z&sks=b&skv=2025-01-05&sig=Sanitized"
      }
    }
  ],
  "Variables": {}
}
