{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.webpubsub.azure.com/api/hubs/chat/users/user1?api-version=2023-07-01",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01, 2022-11-01, 2023-07-01, 2024-01-01, 2024-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "Warning.User.NotExisted"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.webpubsub.azure.com/api/hubs/chat/groups/group1?api-version=2023-07-01",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01, 2022-11-01, 2023-07-01, 2024-01-01, 2024-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "Warning.Group.NotExisted"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.webpubsub.azure.com/api/hubs/chat/connections/conn1?api-version=2023-07-01",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01, 2022-11-01, 2023-07-01, 2024-01-01, 2024-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "Warning.Connection.NotExisted"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
