{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.webpubsub.azure.com/api/hubs/hub1/:send?api-version=2023-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "text/plain"
      },
      "RequestBody": "Hello world!",
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01, 2022-11-01, 2023-07-01, 2024-01-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.webpubsub.azure.com/api/hubs/hub1/:send?api-version=2023-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "dHJ1ZQ==",
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01, 2022-11-01, 2023-07-01, 2024-01-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
