{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.DBforPostgreSQL/serverGroupsv2?api-version=2022-11-08",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11820"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.DBforPostgreSQL/serverGroupsv2/resourcetest",
            "name": "resourcetest",
            "type": "Microsoft.DBforPostgreSQL/serverGroupsv2",
            "tags": {},
            "location": "eastus",
            "systemData": {
              "createdAt": "2023-09-04T06:23:57.3385878Z",
              "createdBy": "azure_client_id",
              "createdByType": "Application",
              "lastModifiedAt": "2023-09-04T06:23:57.3385878Z",
              "lastModifiedBy": "azure_client_id",
              "lastModifiedByType": "Application"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "state": "Ready",
              "administratorLogin": "citus",
              "postgresqlVersion": "15",
              "citusVersion": "11.1",
              "maintenanceWindow": {
                "customWindow": "Disabled",
                "dayOfWeek": 0,
                "startHour": 0,
                "startMinute": 0
              },
              "preferredPrimaryZone": "1",
              "enableShardsOnCoordinator": false,
              "earliestRestoreTime": null,
              "sourceResourceId": null,
              "enableHa": true,
              "coordinatorServerEdition": "GeneralPurpose",
              "nodeServerEdition": "MemoryOptimized",
              "coordinatorStorageQuotaInMb": 524288,
              "nodeStorageQuotaInMb": 524288,
              "coordinatorVCores": 4,
              "nodeVCores": 8,
              "coordinatorEnablePublicIpAccess": true,
              "nodeEnablePublicIpAccess": false,
              "nodeCount": 3,
              "serverNames": [
                {
                  "name": "resourcetest-c",
                  "fullyQualifiedDomainName": "c-resourcetest.ftupu2cwkq44aj.postgres.cosmos.azure.com"
                },
                {
                  "name": "resourcetest-w0",
                  "fullyQualifiedDomainName": "w0-resourcetest.ftupu2cwkq44aj.postgres.cosmos.azure.com"
                },
                {
                  "name": "resourcetest-w1",
                  "fullyQualifiedDomainName": "w1-resourcetest.ftupu2cwkq44aj.postgres.cosmos.azure.com"
                },
                {
                  "name": "resourcetest-w2",
                  "fullyQualifiedDomainName": "w2-resourcetest.ftupu2cwkq44aj.postgres.cosmos.azure.com"
                }
              ],
              "readReplicas": [],
              "privateEndpointConnections": []
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
