{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.DBforPostgreSQL/serverGroupsv2/resourcetest?api-version=2023-03-02-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {
          "administratorLoginPassword": "Sanitized",
          "postgresqlVersion": "15",
          "citusVersion": "11.1",
          "enableShardsOnCoordinator": false,
          "enableHa": true,
          "coordinatorServerEdition": "GeneralPurpose",
          "coordinatorStorageQuotaInMb": 524288,
          "coordinatorVCores": 4,
          "coordinatorEnablePublicIpAccess": true,
          "nodeServerEdition": "MemoryOptimized",
          "nodeCount": 3,
          "nodeStorageQuotaInMb": 524288,
          "nodeVCores": 8,
          "nodeEnablePublicIpAccess": false
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "error": {
          "code": "bad_request",
          "message": "The property '#/properties/administratorLoginPassword' Password must be between 8 & 256 characters, and contain 3 of the following kinds of characters: lower case, upper case, numeric, symbolic in schema 1a0a8aaf-1f2f-52c2-8deb-b09a32a45564"
        }
      }
    }
  ],
  "Variables": {}
}
