{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "00000000-0000-0000-0000-000000000000"
          }
        ],
        "subscriptionId": "8c64812d-6e59-4e65-96b3-14a7cdb1a4e4",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "ADR-PrivateRP",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourcegroups/adr-test-sdk-rg-assets3869?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
      "ResponseBody": {
        "id": "/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-test-sdk-rg-assets3869",
        "name": "adr-test-sdk-rg-assets3869",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-test-sdk-rg-assets3869/providers/Microsoft.DeviceRegistry/assets/deviceregistry-test-asset-sdk2867?api-version=2024-09-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "description": "This is an asset.",
          "assetEndpointProfileRef": "assetEndpointProfileReference"
        },
        "extendedLocation": {
          "type": "CustomLocation",
          "name": "/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-sdk-test-rg/providers/Microsoft.ExtendedLocation/customLocations/adr-sdk-test-cluster-cl"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/providers/Microsoft.DeviceRegistry/locations/WESTUS/operationStatuses/f17db210-31e6-41ed-972a-d98916340b00*8AF5BC8AA8E3E23563F8511174E617727E5041A103FF4FB0E4E36841913FD560?api-version=2024-09-01-preview&t=638682604777893299&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIx[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/providers/Microsoft.DeviceRegistry/locations/WESTUS/operationStatuses/f17db210-31e6-41ed-972a-d98916340b00*8AF5BC8AA8E3E23563F8511174E617727E5041A103FF4FB0E4E36841913FD560?api-version=2024-09-01-preview&t=638682604777893299&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQ[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-test-sdk-rg-assets3869/providers/Microsoft.DeviceRegistry/assets/deviceregistry-test-asset-sdk2867?api-version=2024-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"ac09578b-0000-0700-0000-674659810000\"",
        "mise-correlation-id": "0f68d7ae-103f-400c-8249-d6f9c198d871",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "9999"
      },
      "ResponseBody": {
        "id": "/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-test-sdk-rg-assets3869/providers/Microsoft.DeviceRegistry/assets/deviceregistry-test-asset-sdk2867",
        "name": "deviceregistry-test-asset-sdk2867",
        "type": "microsoft.deviceregistry/assets",
        "location": "westus",
        "extendedLocation": {
          "name": "/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-sdk-test-rg/providers/Microsoft.ExtendedLocation/customLocations/adr-sdk-test-cluster-cl",
          "type": "CustomLocation"
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "Application",
          "createdAt": "2024-11-26T23:27:57.36745Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2024-11-26T23:28:01.1691237Z"
        },
        "properties": {
          "uuid": "abbcc16c-9999-4c5a-b1ac-77af47ce0ed1",
          "enabled": true,
          "externalAssetId": "abbcc16c-9999-4c5a-b1ac-77af47ce0ed1",
          "displayName": "deviceregistry-test-asset-sdk2867",
          "description": "This is an asset.",
          "assetEndpointProfileRef": "assetEndpointProfileReference",
          "version": 1,
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-test-sdk-rg-assets3869/providers/Microsoft.DeviceRegistry/assets?api-version=2024-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "9e4ca3f4-344c-4571-94b9-7ee656ea2d34",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "9999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-test-sdk-rg-assets3869/providers/Microsoft.DeviceRegistry/assets/deviceregistry-test-asset-sdk2867",
            "name": "deviceregistry-test-asset-sdk2867",
            "type": "microsoft.deviceregistry/assets",
            "location": "westus",
            "extendedLocation": {
              "name": "/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-sdk-test-rg/providers/Microsoft.ExtendedLocation/customLocations/adr-sdk-test-cluster-cl",
              "type": "CustomLocation"
            },
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "Application",
              "createdAt": "2024-11-26T23:27:57.36745Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2024-11-26T23:28:01.1691237Z"
            },
            "properties": {
              "uuid": "abbcc16c-9999-4c5a-b1ac-77af47ce0ed1",
              "enabled": true,
              "externalAssetId": "abbcc16c-9999-4c5a-b1ac-77af47ce0ed1",
              "displayName": "deviceregistry-test-asset-sdk2867",
              "description": "This is an asset.",
              "assetEndpointProfileRef": "assetEndpointProfileReference",
              "version": 1,
              "provisioningState": "Succeeded"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/providers/Microsoft.DeviceRegistry/assets?api-version=2024-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "541dc51a-1d12-4a15-9b90-8230d5a16115",
          "33a0c6c9-a95a-4fdf-a182-2d16fe5a06a9",
          "804d6ea5-3074-4ea0-9428-13527df7645e",
          "a9b6dda9-7238-4030-a5b5-10e9db21d751",
          "5edfd8dc-ca20-44ae-8b5e-569aa9958422",
          "e3d80d3c-d9f9-4678-81a1-3e18d3414c4a",
          "7c07d140-095e-4837-bfd4-1b65e391064e",
          "11fa73fb-406b-4e50-9759-18ba0174236f",
          "39767ea4-9633-47c7-928c-8630a9d3613d"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": "9999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/rarity/providers/microsoft.deviceregistry/assets/skjhasjdh03",
            "name": "skjhasjdh03",
            "type": "microsoft.deviceregistry/assets",
            "location": "eastus",
            "extendedLocation": {
              "name": "/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourcegroups/rarity/providers/microsoft.extendedlocation/customlocations/clProdCanary101",
              "type": "CustomLocation"
            },
            "tags": {
              "sensor": "temperature"
            },
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2024-03-21T19:38:04.9043138Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2024-03-21T19:38:15.8787325Z"
            },
            "properties": {
              "uuid": "3f2492f3-4f34-4a3d-9226-857ddc6aa3dc",
              "enabled": true,
              "externalAssetId": "ABC123",
              "displayName": "Constoso Smart Thermostat",
              "description": "My cool smart thermostat",
              "assetEndpointProfileRef": "opc-ua-connector",
              "version": 1,
              "manufacturer": "Contoso",
              "manufacturerUri": "https://www.contoso.com",
              "model": "XYZ123",
              "productCode": "P123",
              "hardwareRevision": "2.0",
              "softwareRevision": "1.5",
              "documentationUri": "https://www.example.com/manual",
              "serialNumber": "SN9876",
              "attributes": {
                "floor": "lower",
                "sensors": 1,
                "tempScales": [
                  "celsius",
                  "fahrenheit"
                ],
                "tempLimits": {
                  "celsius": {
                    "min": -50,
                    "max": 200
                  },
                  "fahrenheit": {
                    "min": -58,
                    "max": 392
                  }
                }
              },
              "defaultEventsConfiguration": "{\"publishingInterval\": 200, \"samplingInterval\": 500, \"queueSize\": 10}",
              "events": [
                {
                  "name": "i=2253",
                  "eventNotifier": "i=2253",
                  "observabilityMode": "Log",
                  "eventConfiguration": "{\"samplingInterval\": 100, \"queueSize\": 1000}"
                }
              ],
              "provisioningState": "Succeeded"
            }
          },
          {
            "id": "/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-test-sdk-rg-assets3869/providers/Microsoft.DeviceRegistry/assets/deviceregistry-test-asset-sdk2867",
            "name": "deviceregistry-test-asset-sdk2867",
            "type": "microsoft.deviceregistry/assets",
            "location": [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/providers/Microsoft.DeviceRegistry/locations/WESTUS/operationStatuses/74c16c8f-6063-4545-8b8e-cd261c717414*8AF5BC8AA8E3E23563F8511174E617727E5041A103FF4FB0E4E36841913FD560?api-version=2024-09-01-preview&t=638682604832877187&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQ[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/providers/Microsoft.DeviceRegistry/locations/WESTUS/operationStatuses/e2d29c9a-dab9-49c0-b460-5c1e9d6b97a2*8AF5BC8AA8E3E23563F8511174E617727E5041A103FF4FB0E4E36841913FD560?api-version=2024-09-01-preview&t=638682604938346278&c=MIIHhzCCBm-gAwIBAgITHgVxvH65_BmPrKxDIgAABXG8fjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQ[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/providers/Microsoft.DeviceRegistry/locations/westus/operationStatuses/e2d29c9a-dab9-49c0-b460-5c1e9d6b97a2*8AF5BC8AA8E3E23563F8511174E617727E5041A103FF4FB0E4E36841913FD560?api-version=2024-09-01-preview&t=638682604939601135&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQ[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/providers/Microsoft.DeviceRegistry/locations/westus/operationStatuses/e2d29c9a-dab9-49c0-b460-5c1e9d6b97a2*8AF5BC8AA8E3E23563F8511174E617727E5041A103FF4FB0E4E36841913FD560?api-version=2024-09-01-preview&t=638682604950766235&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQ[...]
