{
  "Entries": [
    {
      "RequestUri": "https://sts.eastus.mixedreality.azure.com/Accounts/00000000-0000-0000-0000-000000000000/token?api-version=2019-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "02726f78-7e3c-46c7-a19a-6d21d3ae1739",
        "MS-CV": "9aCsFmdoJEaG4Q3XO2M/Kg.0"
      },
      "ResponseBody": {
        "AccessToken": "fake.eyJleHAiOjIxNDc0ODM2NDd9.fake"
      }
    },
    {
      "RequestUri": "https://remoterendering.eastus.mixedreality.azure.com/accounts/00000000-0000-0000-0000-000000000000/sessions/rr-test-id?api-version=2021-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "maxLeaseTimeMinutes": 15,
        "size": "Standard"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-01-01-preview, 2021-01-01, 2021-08-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "+5j63o7vAEat66sxcIvHlw.0"
      },
      "ResponseBody": {
        "id": "rr-test-id",
        "creationTime": "2024-05-02T11:27:40.0593778+00:00",
        "elapsedTimeMinutes": 0,
        "maxLeaseTimeMinutes": 15,
        "size": "Standard",
        "status": "Starting"
      }
    },
    {
      "RequestUri": "https://remoterendering.eastus.mixedreality.azure.com/accounts/00000000-0000-0000-0000-000000000000/sessions/rr-test-id?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-01-01-preview, 2021-01-01, 2021-08-01-preview",
        "Content-Type": "application/json; charset=utf-8"[...]
