{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/Lwm_Rg?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Lwm_Rg",
        "name": "Lwm_Rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Lwm_Rg/providers/Microsoft.Web/sites/FunctionApp1Lwm?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\u00221DA888D11664955\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Lwm_Rg/providers/Microsoft.Web/sites/FunctionApp1Lwm",
        "name": "FunctionApp1Lwm",
        "type": "Microsoft.Web/sites",
        "kind": "functionapp",
        "location": "East US",
        "tags": {
          "hidden-link: /app-insights-resource-id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Lwm_Rg/providers/microsoft.insights/components/FunctionApp1Lwm",
          "hidden-link: /app-insights-instrumentation-key": "be02887e-1b2d-4d9d-91c4-168e69a8f209",
          "hidden-link: /app-insights-conn-string": "InstrumentationKey=be02887e-1b2d-4d9d-91c4-168e69a8f209;IngestionEndpoint=https://eastus-8.in.applicationinsights.azure.com/;LiveEndpoint=https://eastus.livediagnostics.monitor.azure.com/"
        },
        "properties": {
          "name": "FunctionApp1Lwm",
          "state": "Running",
          "hostNames": [
            "functionapp1lwm.azurewebsites.net"
          ],
          "webSpace": "Lwm_Rg-EastUSwebspace",
          "selfLink": "https://waws-prod-blu-343.api.azurewebsites.windows.net:454/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/webspaces/Lwm_Rg-EastUSwebspace/sites/FunctionApp1Lwm",
          "repositorySiteName": "FunctionApp1Lwm",
          "owner": null,
          "usageState": "Normal",
          "enabled": true,
          "adminEnabled": true,
          "afdEnabled": false,
          "enabledHostNames": [
            "functionapp1lwm.azurewebsites.net",
            "functionapp1lwm.scm.azurewebsites.net"
          ],
          "siteProperties": {
            "metadata": null,
            "properties": [
              {
                "name": "LinuxFxVersion",
                "value": ""
              },
              {
                "name": "WindowsFxVersion",
                "value": null
              }
            ],
            "appSettings": null
          },
          "availabilityState": "Normal",
          "sslCertificates": null,
          "csrs": [],
          "cers": null,
          "siteMode": null,
          "hostNameSslStates": [
            {
              "name": "functionapp1lwm.azurewebsites.net",
              "sslState": "Disabled",
              "ipBasedSslResult": null,
              "virtualIP": null,
              "virtualIPv6": null,
              "thumbprint": null,
              "certificateResourceId": null,
              "toUpdate": null,
              "toUpdateIpBasedSsl": null,
              "ipBasedSslState": "NotConfigured",
              "hostType": "Standard"
            },
            {
              "name": "functionapp1lwm.scm.azurewebsites.net",
              "sslState": "Disabled",
              "ipBasedSslResult": null,
              "virtualIP": null,
              "virtualIPv6": null,
              "thumbprint": null,
              "certificateResourceId": null,
              "toUpdate": null,
              "toUpdateIpBasedSsl": null,
              "ipBasedSslState": "NotConfigured",
              "hostType": "Repository"
            }
          ],
          "computeMode": null,
          "serverFarm": null,
          "serverFarmId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Lwm_Rg/providers/Microsoft.Web/serverfarms/ASP-LwmRg-96b2",
          "reserved": false,
          "isXenon": false,
          "hyperV": false,
          "lastModifiedTimeUtc": "2024-04-07T01:44:02.4533333",
          "storageRecoveryDefaultState": "Running",
          "contentAvailabilityState": "Normal",
          "runtimeAvailabilityState": "Normal",
          "dnsConfiguration": {},
          "vnetRouteAllEnabled": false,
          "containerAllocationSubnet": null,
          "useContainerLocalhostBindings": null,
          "vnetImagePullEnabled": false,
          "vnetContentShareEnabled": false,
          "siteConfig": {
            "numberOfWorkers": 1,
            "defaultDocuments": null,
            "netFrameworkVersion": null,
            "phpVersion": null,
            "pythonVersion": null,
            "nodeVersion": null,
            "powerShellVersion": null,
            "linuxFxVersion": "",
            "windowsFxVersion": null,
            "windowsConfiguredStacks": null,
            "requestTracingEnabled": null,
            "remoteDebuggingEnabled": null,
            "remoteDebuggingVersion": null,
            "httpLoggingEnabled": null,
            "azureMonitorLogCategories": null,
            "acrUseManagedIdentityCreds": false,
            "acrUserManagedIdentityID": null,
            "logsDirectorySizeLimit": null,
            "detailedErrorLoggingEnabled": null,
            "publishingUsername": null,
            "publishingPassword": null,
            "appSettings": null,
            "metadata": null,
            "connectionStrings": null,
            "machineKey": null,
            "handlerMappings": null,
            "documentRoot": null,
            "scmType": null,
            "use32BitWorkerProcess": null,
            "webSocketsEnabled": null,
            "alwaysOn": false,
            "javaVersion": null,
            "javaContainer": null,
            "javaContainerVersion": null,
            "appCommandLine": null,
            "managedPipelineMode": null,
            "virtualApplications": null,
            "winAuthAdminState": null,
            "winAuthTenantState": null,
            "customAppPoolIdentityAdminState": null,
            "customAppPoolIdentityTenantState": null,
            "runtimeADUser": null,
            "runtimeADUserPassword": null,
            "loadBalancing": null,
            "routingRules": null,
            "experiments": null,
            "limits": null,
            "autoHealEnabled": null,
            "autoHealRules": null,
            "tracingOptions": null,
            "vnetName": null,
            "vnetRouteAllEnabled": null,
            "vnetPrivatePortsCount": null,
            "publicNetworkAccess": null,
            "cors": null,
            "push": null,
            "apiDefinition": null,
            "apiManagementConfig": null,
            "autoSwapSlotName": null,
            "localMySqlEnabled": null,
            "managedServiceIdentityId": null,
            "xManagedServiceIdentityId": null,
            "keyVaultReferenceIdentity": null,
            "ipSecurityRestrictions": null,
            "ipSecurityRestrictionsDefaultAction": null,
            "scmIpSecurityRestrictions": null,
            "scmIpSecurityRestrictionsDefaultAction": null,
            "scmIpSecurityRestrictionsUseMain": null,
            "http20Enabled": false,
            "minTlsVersion": null,
            "minTlsCipherSuite": null,
            "supportedTlsCipherSuites": null,
            "scmMinTlsVersion": null,
            "ftpsState": null,
            "preWarmedInstanceCount": null,
            "functionAppScaleLimit": 200,
            "elasticWebAppScaleLimit": null,
            "healthCheckPath": null,
            "fileChangeAuditEnabled": null,
            "functionsRuntimeScaleMonitoringEnabled": null,
            "websiteTimeZone": null,
            "minimumElasticInstanceCount": 0,
            "azureStorageAccounts": null,
            "http20ProxyFlag": null,
            "sitePort": null,
            "antivirusScanEnabled": null,
            "storageType": null,
            "sitePrivateLinkHostEnabled": null
          },
          "functionAppConfig": null,
          "daprConfig": null,
          "deploymentId": "FunctionApp1Lwm",
          "slotName": null,
          "trafficManagerHostNames": null,
          "sku": "Dynamic",
          "scmSiteAlsoStopped": false,
          "targetSwapSlot": null,
          "hostingEnvironment": null,
          "hostingEnvironmentProfile": null,
          "clientAffinityEnabled": false,
          "clientCertEnabled": false,
          "clientCertMode": "Required",
          "clientCertExclusionPaths": null,
          "hostNamesDisabled": false,
          "ipMode": "IPv4",
          "vnetBackupRestoreEnabled": false,
          "domainVerificationIdentifiers": null,
          "customDomainVerificationId": "B2B26A95110144FA7D61C7F11182785CA097CEE09243353FC8B6B68E6270D88A",
          "kind": "functionapp",
          "managedEnvironmentId": null,
          "workloadProfileName": null,
          "resourceConfig": null,
          "inboundIpAddress": "20.119.0.16",
          "possibleInboundIpAddresses": "20.119.0.16",
          "ftpUsername": "FunctionApp1Lwm\\$FunctionApp1Lwm",
          "ftpsHostName": "ftps://waws-prod-blu-343.ftp.azurewebsites.windows.net/site/wwwroot",
          "outboundIpAddresses": "20.62.213.24,20.62.213.51,20.62.213.68,20.62.213.208,20.62.215.25,20.62.215.42,20.119.0.16",
          "possibleOutboundIpAddresses": "20.62.213.24,20.62.213.51,20.62.213.68,20.62.213.208,20.62.215.25,20.62.215.42,20.62.215.73,20.62.215.79,20.62.215.101,20.62.215.105,20.62.215.112,20.62.215.118,20.62.215.126,20.62.215.133,20.62.215.204,52.151.216.19,52.151.216.47,20.62.209.249,52.151.216.69,20.62.211.176,52.151.216.111,52.151.216.113,52.151.216.144,52.151.216.146,52.151.216.157,52.151.216.188,52.151.216.220,52.151.216.223,52.151.216.237,52.151.217.9,20.119.0.16",
          "containerSize": 1536,
          "dailyMemoryTimeQuota": 0,
          "suspendedTill": null,
          "siteDisabledReason": 0,
          "functionExecutionUnitsCache": null,
          "maxNumberOfWorkers": null,
          "homeStamp": "waws-prod-blu-343",
          "cloningInfo": null,
          "hostingEnvironmentId": null,
          "tags": {
            "hidden-link: /app-insights-resource-id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Lwm_Rg/providers/microsoft.insights/components/FunctionApp1Lwm",
            "hidden-link: /app-insights-instrumentation-key": "be02887e-1b2d-4d9d-91c4-168e69a8f209",
            "hidden-link: /app-insights-conn-string": "InstrumentationKey=be02887e-1b2d-4d9d-91c4-168e69a8f209;IngestionEndpoint=https://eastus-8.in.applicationinsights.azure.com/;LiveEndpoint=https://eastus.livediagnostics.monitor.azure.com/"
          },
          "resourceGroup": "Lwm_Rg",
          "defaultHostName": "functionapp1lwm.azurewebsites.net",
          "slotSwapStatus": null,
          "httpsOnly": true,
          "endToEndEncryptionEnabled": false,
          "functionsRuntimeAdminIsolationEnabled": false,
          "redundancyMode": "None",
          "inProgressOperationId": null,
          "geoDistributions": null,
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled",
          "buildVersion": null,
          "targetBuildVersion": null,
          "migrationState": null,
          "eligibleLogCategories": "FunctionAppLogs",
          "inFlightFeatures": [
            "SiteContainers"
          ],
          "storageAccountRequired": false,
          "virtualNetworkSubnetId": null,
          "keyVaultReferenceIdentity": "SystemAssigned",
          "autoGeneratedDomainNameLabelScope": null,
          "defaultHostNameScope": "Global",
          "privateLinkIdentifiers": null,
          "sshEnabled": null
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Lwm_Rg/providers/Microsoft.Web/sites/FunctionApp1Lwm/config/appsettings/list?api-version=2021-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Lwm_Rg/providers/Microsoft.Web/sites/FunctionApp1Lwm/config/appsettings",
        "name": "appsettings",
        "type": "Microsoft.Web/sites/config",
        "location": "East US",
        "tags": {
          "hidden-link: /app-insights-resource-id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Lwm_Rg/providers/microsoft.insights/components/FunctionApp1Lwm",
          "hidden-link: /app-insights-instrumentation-key": "be02887e-1b2d-4d9d-91c4-168e69a8f209",
          "hidden-link: /app-insights-conn-string": "InstrumentationKey=be02887e-1b2d-4d9d-91c4-168e69a8f209;IngestionEndpoint=https://eastus-8.in.applicationinsights.azure.com/;LiveEndpoint=https://eastus.livediagnostics.monitor.azure.com/"
        },
        "properties": {
          "FUNCTIONS_EXTENSION_VERSION": "~4",
          "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
          "WEBSITE_USE_PLACEHOLDER_DOTNETISOLATED": "1",
          "APPLICATIONINSIGHTS_CONNECTION_STRING": "InstrumentationKey=be02887e-1b2d-4d9d-91c4-168e69a8f209;IngestionEndpoint=https://eastus-8.in.applicationinsights.azure.com/;LiveEndpoint=https://eastus.livediagnostics.monitor.azure.com/",
          "AzureWebJobsStorage": "DefaultEndpointsProtocol=https;AccountName=lwmrga89e;AccountKey=bKKbDBaf3kOF4vtd5BhSRSLkRFhSp6J85F8yRjKumbA143Bbpyp7RBaLsMx814u3bVlxs\u002BBvQaki\u002BAStTAfRUQ==;EndpointSuffix=core.windows.net",
          "WEBSITE_CONTENTAZUREFILECONNECTIONSTRING": "DefaultEndpointsProtocol=https;AccountName=lwmrga89e;AccountKey=bKKbDBaf3kOF4vtd5BhSRSLkRFhSp6J85F8yRjKumbA143Bbpyp7RBaLsMx814u3bVlxs\u002BBvQaki\u002BAStTAfRUQ==;EndpointSuffix=core.windows.net",
          "WEBSITE_CONTENTSHARE": "functionapp1lwmafe4",
          "WEBSITE_RUN_FROM_PACKAGE": "1",
          "AzureWebJobsSecretStorageType": "Blob"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "CLIENT_ID": "a0124637-d34e-4d32-a623-9f47f054f162",
    "RandomSeed": "1787559332",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}
