{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830162208207239?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD5EC91520CB4\u0022",
        "Last-Modified": "Thu, 26 Oct 2023 06:27:03 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830162208207239/dir169830162219207266....?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-allow-trailing-dot": "false",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD5EC9163E506\u0022",
        "Last-Modified": "Thu, 26 Oct 2023 06:27:03 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-10-26T06:27:03.1298310Z",
        "x-ms-file-creation-time": "2023-10-26T06:27:03.1298310Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-26T06:27:03.1298310Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830162208207239/dir169830162219207266..../file169830162230404556....?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-allow-trailing-dot": "false",
        "x-ms-content-length": "11",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD5EC9174AB71\u0022",
        "Last-Modified": "Thu, 26 Oct 2023 06:27:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-26T06:27:03.2397681Z",
        "x-ms-file-creation-time": "2023-10-26T06:27:03.2397681Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-10-26T06:27:03.2397681Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4614121289425226539*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830162208207239/dir169830162219207266....?comp=list\u0026restype=directory\u0026",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-allow-trailing-dot": "false",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://fakestorageaccount.file.core.windows.net/\u0022 ShareName=\u0022share169830162208207239\u0022 DirectoryPath=\u0022dir169830162219207266\u0022\u003E\u003CDirectoryId\u003E13835128424026341376\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CFile\u003E\u003CName\u003Efile169830162230404556\u003C/Name\u003E\u003CFileId\u003E11529285414812647424\u003C/FileId\u003E\u003CProperties\u003E\u003CContent-Length\u003E11\u003C/Content-Length\u003E\u003C/Properties\u003E\u003C/File\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830162208207239?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir169830162219207266",
    "file": "file169830162230404556",
    "share": "share169830162208207239"
  }
}
