{
  "Entries": [
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169472077238006413?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBB55B409820DB\u0022",
        "Last-Modified": "Thu, 14 Sep 2023 19:46:13 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169472077238006413/dir169472077249209934....?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-allow-trailing-dot": "false",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBB55B40A9EAAE\u0022",
        "Last-Modified": "Thu, 14 Sep 2023 19:46:13 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-09-14T19:46:13.4586030Z",
        "x-ms-file-creation-time": "2023-09-14T19:46:13.4586030Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-09-14T19:46:13.4586030Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169472077238006413/dir169472077249209934..../file169472077260703806....?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-allow-trailing-dot": "false",
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBB55B40BB7448\u0022",
        "Last-Modified": "Thu, 14 Sep 2023 19:46:13 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-09-14T19:46:13.5735368Z",
        "x-ms-file-creation-time": "2023-09-14T19:46:13.5735368Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-09-14T19:46:13.5735368Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4614121289425226539*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169472077238006413/dir169472077249209934..../copiedfile169472077272104622...?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-allow-trailing-dot": "false",
        "x-ms-copy-source": "https://fakesdaccount.file.core.windows.net/share169472077238006413/dir169472077249209934..../file169472077260703806....?sv=2015-04-05\u0026ss=bfqt\u0026srt=sco\u0026sp=rwdlacup\u0026se=2023-01-31T18%3A51%3A40.0000000Z\u0026sig=foobar",
        "x-ms-source-allow-trailing-dot": "false",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBB55B40DEAE9A\u0022",
        "Last-Modified": "Thu, 14 Sep 2023 19:46:13 GMT",
        "x-ms-copy-id": "ecdc27b2-d6f4-4144-a715-a6b9240243ef",
        "x-ms-copy-status": "success",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169472077238006413/dir169472077249209934....?comp=list\u0026restype=directory\u0026",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-allow-trailing-dot": "false",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://fakesdaccount.file.core.windows.net/\u0022 ShareName=\u0022share169472077238006413\u0022 DirectoryPath=\u0022dir169472077249209934\u0022\u003E\u003CDirectoryId\u003E13835128424026341376\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CFile\u003E\u003CName\u003Ecopiedfile169472077272104622\u003C/Name\u003E\u003CFileId\u003E16140971433240035328\u003C/FileId\u003E\u003CProperties\u003E\u003CContent-Length\u003E1024\u003C/Content-Length\u003E\u003C/Properties\u003E\u003C/File\u003E\u003CFile\u003E\u003CName\u003Efile169472077260703806\u003C/Name\u003E\u003CFileId\u003E11529285414812647424\u003C/FileId\u003E\u003CProperties\u003E\u003CContent-Length\u003E1024\u003C/Content-Length\u003E\u003C/Properties\u003E\u003C/File\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169472077238006413/dir169472077249209934..../file169472077260703806....?",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-allow-trailing-dot": "false",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBB55B40BB7448\u0022",
        "Last-Modified": "Thu, 14 Sep 2023 19:46:13 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-09-14T19:46:13.5735368Z",
        "x-ms-file-creation-time": "2023-09-14T19:46:13.5735368Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-09-14T19:46:13.5735368Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4614121289425226539*16764736045797335973",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169472077238006413/dir169472077249209934..../copiedfile169472077272104622...?",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-allow-trailing-dot": "false",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBB55B40DEAE9A\u0022",
        "Last-Modified": "Thu, 14 Sep 2023 19:46:13 GMT",
        "x-ms-copy-completion-time": "Thu, 14 Sep 2023 19:46:13 GMT",
        "x-ms-copy-id": "ecdc27b2-d6f4-4144-a715-a6b9240243ef",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://fakesdaccount.file.core.windows.net/share169472077238006413/dir169472077249209934..../file169472077260703806....?sv=2015-04-05\u0026ss=bfqt\u0026srt=sco\u0026sp=rwdlacup\u0026se=2023-01-31T18%3A51%3A40.0000000Z\u0026sig=foobar",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-09-14T19:46:13.8044058Z",
        "x-ms-file-creation-time": "2023-09-14T19:46:13.8044058Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2023-09-14T19:46:13.8044058Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4614121289425226539*16764736045797335973",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169472077238006413?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "copiedfile": "copiedfile169472077272104622",
    "dir": "dir169472077249209934",
    "file": "file169472077260703806",
    "share": "share169472077238006413"
  }
}
