{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.geocatalogs.azure.com/stac/collections/naip/queryables/test%3Aproperty_js?api-version=2026-04-15",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "ResourceNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "Queryable 'test:property_js' not found for collection 'naip'"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.geocatalogs.azure.com/stac/collections/naip/queryables?api-version=2026-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"name\":\"test:property_js\",\"definition\":{\"dataType\":\"number\"},\"create_index\":false,\"data_type\":\"number\"}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": "[{\"name\":\"test:property_js\",\"definition\":{\"dataType\":\"number\"},\"create_index\":false,\"data_type\":\"number\"}]"
    },
    {
      "RequestUri": "https://Sanitized.geocatalogs.azure.com/stac/collections/naip/queryables/test%3Aproperty_js?api-version=2026-04-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "test:property_js",
        "definition": {
          "description": "Updated test property"
        },
        "create_index": false,
        "data_type": "number"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "name": "test:property_js",
        "definition": {
          "description": "Updated test property"
        },
        "create_index": false,
        "data_type": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.geocatalogs.azure.com/stac/collections/naip/queryables?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/schema+json"
      },
      "ResponseBody": {
        "$id": "https://Sanitized.geocatalogs.azure.com/stac/collections/naip/queryables?api-version=2026-04-15",
        "type": "object",
        "title": "STAC Queryables.",
        "$schema": "http://json-schema.org/draft-07/schema#",
        "properties": {
          "id": {
            "$ref": "https://schemas.stacspec.org/v1.0.0/item-spec/json-schema/item.json#/definitions/core/allOf/2/properties/id",
            "title": "Item ID",
            "description": "Item identifier"
          },
          "datetime": {
            "type": "string",
            "title": "Acquired",
            "format": "date-time",
            "pattern": "(\\+00:00|Z)$",
            "description": "Datetime"
          },
          "geometry": {
            "$ref": "https://geojson.org/schema/Feature.json",
            "title": "Item Geometry",
            "description": "Item Geometry"
          }
        },
        "additionalProperties": true
      }
    }
  ],
  "Variables": {}
}
