{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.geocatalogs.azure.com/stac/collections?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "collections": [
          {
            "id": "karthick-collection",
            "type": "Collection",
            "links": [
              {
                "rel": "items",
                "type": "application/geo+json",
                "href": "https://Sanitized.geocatalogs.azure.com/stac/collections/karthick-collection/items"
              },
              {
                "rel": "parent",
                "type": "application/json",
                "href": "https://Sanitized.geocatalogs.azure.com/stac/"
              },
              {
                "rel": "root",
                "type": "application/json",
                "href": "https://Sanitized.geocatalogs.azure.com/stac/"
              },
              {
                "rel": "self",
                "type": "application/json",
                "href": "https://Sanitized.geocatalogs.azure.com/stac/collections/karthick-collection"
              },
              {
                "rel": "http://www.opengis.net/def/rel/ogc/1.0/queryables",
                "type": "application/schema+json",
                "title": "Queryables",
                "href": "https://Sanitized.geocatalogs.azure.com/stac/collections/karthick-collection/queryables"
              }
            ],
            "title": "Karthick Collection",
            "extent": {
              "spatial": {
                "bbox": [
                  [
                    -180,
                    -90,
                    180,
                    90
                  ]
                ]
              },
              "temporal": {
                "interval": [
                  [
                    "2018-01-01T00:00:00Z",
                    "2018-12-31T23:59:59Z"
                  ]
                ]
              }
            },
            "license": "CC-BY-4.0",
            "description": "An example collection",
            "stac_version": "1.0.0",
            "msft:_created": "2026-05-15T16:29:14.9309539Z",
            "msft:_updated": "2026-05-15T16:29:14.9309539Z",
            "msft:short_description": "An example collection"
          },
          {
            "id": "potsdam-aerial",
            "type": "Collection",
            "links": [
              {
                "rel": "items",
                "type": "application/geo+json",
                "href": "https://Sanitized.geocatalogs.azure.com/stac/collections/potsdam-ae[...]
