{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.geocatalogs.azure.com/stac/queryables?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/schema+json"
      },
      "ResponseBody": {
        "$id": "https://Sanitized.geocatalogs.azure.com/stac/queryables?api-version=2026-04-15",
        "type": "object",
        "title": "STAC Queryables.",
        "$schema": "http://json-schema.org/draft-07/schema#",
        "properties": {
          "id": {
            "$ref": "https://schemas.stacspec.org/v1.0.0/item-spec/json-schema/item.json#/definitions/core/allOf/2/properties/id",
            "title": "Item ID",
            "description": "Item identifier"
          },
          "datetime": {
            "type": "string",
            "title": "Acquired",
            "format": "date-time",
            "pattern": "(\\+00:00|Z)$",
            "description": "Datetime"
          },
          "geometry": {
            "$ref": "https://geojson.org/schema/Feature.json",
            "title": "Item Geometry",
            "description": "Item Geometry"
          },
          "eo:cloud_cover": {
            "type": "number",
            "title": "Cloud cover",
            "maximum": 100,
            "minimum": 0,
            "description": "Percentage of pixels covered by clouds (0–100)."
          },
          "eo:clown_cover": {
            "data_type": "number",
            "description": "Like cloud cover, but with more party tricks"
          },
          "s2:water_percentage": {
            "type": "number",
            "title": "Water Percentage",
            "maximum": 100,
            "minimum": 0,
            "description": "Percentage of water pixels in the Sentinel-2 L2A scene (0–100)."
          },
          "s2:unclassified_percentage": {
            "type": "number",
            "title": "Unclassified percentage",
            "maximum": 100,
            "minimum": 0,
            "description": "Percentage of unclassified pixels."
          }
        },
        "additionalProperties": true
      }
    }
  ],
  "Variables": {}
}
