{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.geocatalogs.azure.com/stac/collections/naip/configurations/render-options?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": "[{\"id\":\"natural-color\",\"name\":\"Natural color\",\"type\":\"raster-tile\",\"options\":\"assets=image&asset_bidx=image|1,2,3\",\"minZoom\":6},{\"id\":\"test-natural-color\",\"name\":\"Test Natural color updated\",\"description\":\"RGB from visual assets - updated\",\"type\":\"raster-tile\",\"options\":\"assets=image&asset_bidx=image|1,2,3\",\"minZoom\":6}]"
    }
  ],
  "Variables": {}
}
