{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/_test_limit_concurrent_offer_to_worker_scenario_tst_dp?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:39:59 GMT"
      },
      "RequestBody": {
        "name": "test",
        "offerExpiresAfterSeconds": 600.0,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 18:39:59 GMT",
        "trace-id": "df21254a-a27a-8d5a-78de-8e1939ca6d85"
      },
      "ResponseBody": {
        "id": "_test_limit_concurrent_offer_to_worker_scenario_tst_dp",
        "name": "test",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/_test_limit_concurrent_offer_to_worker_scenario_tst_q?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:39:59 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "_test_limit_concurrent_offer_to_worker_scenario_tst_dp"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 18:39:59 GMT",
        "trace-id": "45d22b53-2809-0961-9b1e-32b0f90660c6"
      },
      "ResponseBody": {
        "id": "_test_limit_concurrent_offer_to_worker_scenario_tst_q",
        "name": "test",
        "distributionPolicyId": "_test_limit_concurrent_offer_to_worker_scenario_tst_dp",
        "labels": {
          "Id": "_test_limit_concurrent_offer_to_worker_scenario_tst_q"
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/_test_limit_concurrent_offer_to_worker_scenario_tst_w?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:39:59 GMT"
      },
      "RequestBody": {
        "queues": [
          "_test_limit_concurrent_offer_to_worker_scenario_tst_q"
        ],
        "capacity": 10,
        "channels": [
          {
            "channelId": "fakeChannel2",
            "capacityCostPerJob": 1
          }
        ],
        "availableForOffers": true,
        "maxConcurrentOffers": 1
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 18:39:59 GMT",
        "trace-id": "9c05b99a-0645-f823-9a9f-2b553522e708"
      },
      "ResponseBody": {
        "id": "_test_limit_concurrent_offer_to_worker_scenario_tst_w",
        "state": "active",
        "queues": [
          "_test_limit_concurrent_offer_to_worker_scenario_tst_q"
        ],
        "capacity": 10,
        "labels": {
          "Id": "_test_limit_concurrent_offer_to_worker_scenario_tst_w"
        },
        "tags": {},
        "channels": [
          {
            "channelId": "fakeChannel2",
            "capacityCostPerJob": 1
          }
        ],
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": true,
        "maxConcurrentOffers": 1,
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/concurrent_offer_worker_scenario_job_id_1?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:39:59 GMT"
      },
      "RequestBody": {
        "channelId": "fakeChannel2",
        "queueId": "_test_limit_concurrent_offer_to_worker_scenario_tst_q",
        "priority": 1
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 18:40:00 GMT",
        "trace-id": "7fe9cab1-3c30-8cd2-94ab-909d47c0e5eb"
      },
      "ResponseBody": {
        "id": "concurrent_offer_worker_scenario_job_id_1",
        "status": "created",
        "channelId": "fakeChannel2",
        "queueId": "_test_limit_concurrent_offer_to_worker_scenario_tst_q",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/_test_limit_concurrent_offer_to_worker_scenario_tst_w?api-version=2024-01-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:40:02 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 18:40:00 GMT",
        "trace-id": "6d505812-ee40-7104-11ce-275e10719e3b"
      },
      "ResponseBody": {
        "id": "_test_limit_concurrent_offer_to_worker_scenario_tst_w",
        "state": "active",
        "queues": [
          "_test_limit_concurrent_offer_to_worker_scenario_tst_q"
        ],
        "capacity": 10,
        "labels": {
          "Id": "_test_limit_concurrent_offer_to_worker_scenario_tst_w"
        },
        "tags": {},
        "channels": [
          {
            "channelId": "fakeChannel2",
            "capacityCostPerJob": 1
          }
        ],
        "offers": [
          {
            "offerId": "20aae677-01d0-4308-9c49-eec7c65bb6c7",
            "jobId": "concurrent_offer_worker_scenario_job_id_1",
            "capacityCost": 1,
            "offeredAt": "2024-02-29T18:40:00.5284716\u002B00:00",
            "expiresAt": "2024-02-29T18:50:00.5284716\u002B00:00"
          }
        ],
        "assignedJobs": [],
        "loadRatio": 0.1,
        "availableForOffers": true,
        "maxConcurrentOffers": 1,
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/_test_limit_concurrent_offer_to_worker_scenario_tst_w/offers/20aae677-01d0-4308-9c49-eec7c65bb6c7:accept?api-version=2024-01-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:40:03 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "dc4809c9-0411-8fa9-ead7-7988e01758c2"
      },
      "ResponseBody": {
        "assignmentId": "d209ad1d-f59e-4e63-b1a2-1f93ad5ac02a",
        "jobId": "concurrent_offer_worker_scenario_job_id_1",
        "workerId": "_test_limit_concurrent_offer_to_worker_scenario_tst_w"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/concurrent_offer_worker_scenario_job_id_1/assignments/d209ad1d-f59e-4e63-b1a2-1f93ad5ac02a:complete?api-version=2024-01-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:40:08 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "e9cbfb38-b84e-670f-3c21-a593885111a7"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/concurrent_offer_worker_scenario_job_id_1/assignments/d209ad1d-f59e-4e63-b1a2-1f93ad5ac02a:close?api-version=2024-01-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:40:08 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "f538ec2c-fb11-0a22-5c41-e8f140c8c2c4"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/concurrent_offer_worker_scenario_job_id_1?api-version=2024-01-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:40:10 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 18:40:09 GMT",
        "trace-id": "138757e5-7d83-4f5b-cac9-ce231d91ec9e"
      },
      "ResponseBody": {
        "id": "concurrent_offer_worker_scenario_job_id_1",
        "status": "closed",
        "enqueuedAt": "2024-02-29T18:40:00.2631561\u002B00:00",
        "channelId": "fakeChannel2",
        "queueId": "_test_limit_concurrent_offer_to_worker_scenario_tst_q",
        "priority": 1,
        "dispositionCode": "Closed",
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {
          "d209ad1d-f59e-4e63-b1a2-1f93ad5ac02a": {
            "assignmentId": "d209ad1d-f59e-4e63-b1a2-1f93ad5ac02a",
            "workerId": "_test_limit_concurrent_offer_to_worker_scenario_tst_w",
            "assignedAt": "2024-02-29T18:40:03.7355464\u002B00:00",
            "completedAt": "2024-02-29T18:40:08.9179451\u002B00:00",
            "closedAt": "2024-02-29T18:40:09.2148362\u002B00:00"
          }
        },
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/_test_limit_concurrent_offer_to_worker_scenario_tst_dp?api-version=2024-01-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:40:11 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "trace-id": "c27b53a9-099a-3c0b-dbd9-5a99b6c5a063"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
