{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_delete_exception_policy_tst_dp_async?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 22:07:10 GMT"
      },
      "RequestBody": {
        "name": "test_delete_exception_policy_tst_dp_async",
        "offerExpiresAfterSeconds": 10.0,
        "mode": {
          "kind": "roundRobin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 28 Feb 2024 22:07:11 GMT",
        "trace-id": "1f55bc4b-cdb3-f8c5-5d58-70ebf2f65417"
      },
      "ResponseBody": {
        "id": "test_delete_exception_policy_tst_dp_async",
        "name": "test_delete_exception_policy_tst_dp_async",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "roundRobin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_delete_exception_policy_tst_q_async?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 22:07:10 GMT"
      },
      "RequestBody": {
        "name": "test_delete_exception_policy_tst_q_async",
        "distributionPolicyId": "test_delete_exception_policy_tst_dp_async",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 28 Feb 2024 22:07:11 GMT",
        "trace-id": "fc2f77cc-1799-87ee-16fe-723b65b26053"
      },
      "ResponseBody": {
        "id": "test_delete_exception_policy_tst_q_async",
        "name": "test_delete_exception_policy_tst_q_async",
        "distributionPolicyId": "test_delete_exception_policy_tst_dp_async",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1,
          "Id": "test_delete_exception_policy_tst_q_async"
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/test_delete_exception_policy_tst_cp_async?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 22:07:10 GMT"
      },
      "RequestBody": {
        "name": "test_delete_exception_policy_tst_cp_async",
        "fallbackQueueId": "test_delete_exception_policy_tst_q_async"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 28 Feb 2024 22:07:11 GMT",
        "trace-id": "84c92091-0daa-4483-7a44-6a46d2715d24"
      },
      "ResponseBody": {
        "id": "test_delete_exception_policy_tst_cp_async",
        "name": "test_delete_exception_policy_tst_cp_async",
        "fallbackQueueId": "test_delete_exception_policy_tst_q_async",
        "queueSelectorAttachments": [],
        "workerSelectorAttachments": [],
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_delete_ep_async?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 22:07:10 GMT"
      },
      "RequestBody": {
        "name": "tst_delete_ep_async",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queueLength",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "cancel"
              }
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 28 Feb 2024 22:07:11 GMT",
        "trace-id": "16e2d189-871c-b552-af2f-ede09b49153c"
      },
      "ResponseBody": {
        "id": "tst_delete_ep_async",
        "name": "tst_delete_ep_async",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queueLength",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "cancel",
                "id": "93ff8942-683a-473b-9132-bd8ea09805ac"
              }
            ]
          }
        ],
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_delete_ep_async?api-version=2024-01-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 22:07:11 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "0d34061e-a189-c1cb-9125-3921c5a59bad"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "NotFound",
          "message": "The item was not found.",
          "target": "/routing/exceptionPolicies/tst_delete_ep_async"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_delete_ep_async?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 22:07:11 GMT"
      },
      "RequestBody": {
        "name": "tst_delete_ep_async",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queueLength",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "manualReclassify",
                "queueId": "test_delete_exception_policy_tst_q_async",
                "priority": 1
              }
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 28 Feb 2024 22:07:11 GMT",
        "trace-id": "91b47034-6e00-90f8-9c9c-24569408c5cd"
      },
      "ResponseBody": {
        "id": "tst_delete_ep_async",
        "name": "tst_delete_ep_async",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queueLength",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "manualReclassify",
                "queueId": "test_delete_exception_policy_tst_q_async",
                "priority": 1,
                "workerSelectors": [],
                "id": "63eb0796-dbd6-4067-ac6b-ca1d6d3e77d2"
              }
            ]
          }
        ],
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_delete_ep_async?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 22:07:11 GMT"
      },
      "RequestBody": {
        "name": "tst_delete_ep_async",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queueLength",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "reclassify",
                "classificationPolicyId": "test_delete_exception_policy_tst_cp_async"
              }
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 28 Feb 2024 22:07:11 GMT",
        "trace-id": "cd7bcbe3-5387-a3be-2d04-69c82b31e4cd"
      },
      "ResponseBody": {
        "id": "tst_delete_ep_async",
        "name": "tst_delete_ep_async",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queueLength",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "reclassify",
                "classificationPolicyId": "test_delete_exception_policy_tst_cp_async",
                "labelsToUpsert": {},
                "id": "833a1996-6c92-45e0-a030-df15526e1494"
              }
            ]
          }
        ],
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_delete_ep_async?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 22:07:11 GMT"
      },
      "RequestBody": {
        "name": "tst_delete_ep_async",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "waitTime",
              "thresholdSeconds": 3600
            },
            "actions": [
              {
                "kind": "cancel"
              }
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 28 Feb 2024 22:07:12 GMT",
        "trace-id": "da2009a1-f996-7364-7648-dde663321014"
      },
      "ResponseBody": {
        "id": "tst_delete_ep_async",
        "name": "tst_delete_ep_async",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "waitTime",
              "thresholdSeconds": 3600
            },
            "actions": [
              {
                "kind": "cancel",
                "id": "19c11754-4d50-4922-92be-2d3a7c66f850"
              }
            ]
          }
        ],
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_delete_ep_async?api-version=2024-01-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 22:07:13 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "trace-id": "7f61b7ab-ebc5-f535-126f-8963429a004b"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
