{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_create_exception_policy_tst_dp_async?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:39:14 GMT"
      },
      "RequestBody": {
        "name": "test_create_exception_policy_tst_dp_async",
        "offerExpiresAfterSeconds": 10.0,
        "mode": {
          "kind": "roundRobin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 18:39:15 GMT",
        "trace-id": "ccb9ea53-ae9d-c637-46f8-27cd620045eb"
      },
      "ResponseBody": {
        "id": "test_create_exception_policy_tst_dp_async",
        "name": "test_create_exception_policy_tst_dp_async",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "roundRobin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_create_exception_policy_tst_q_async?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:39:14 GMT"
      },
      "RequestBody": {
        "name": "test_create_exception_policy_tst_q_async",
        "distributionPolicyId": "test_create_exception_policy_tst_dp_async",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 18:39:15 GMT",
        "trace-id": "fdf3e94f-ad08-aeb1-5f59-134c004cde8c"
      },
      "ResponseBody": {
        "id": "test_create_exception_policy_tst_q_async",
        "name": "test_create_exception_policy_tst_q_async",
        "distributionPolicyId": "test_create_exception_policy_tst_dp_async",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1,
          "Id": "test_create_exception_policy_tst_q_async"
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/test_create_exception_policy_tst_cp_async?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:39:14 GMT"
      },
      "RequestBody": {
        "name": "test_create_exception_policy_tst_cp_async",
        "fallbackQueueId": "test_create_exception_policy_tst_q_async"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 18:39:15 GMT",
        "trace-id": "fccdd635-723c-5f36-1580-1fc46c50457a"
      },
      "ResponseBody": {
        "id": "test_create_exception_policy_tst_cp_async",
        "name": "test_create_exception_policy_tst_cp_async",
        "fallbackQueueId": "test_create_exception_policy_tst_q_async",
        "queueSelectorAttachments": [],
        "workerSelectorAttachments": [],
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_create_ep_async?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:39:14 GMT"
      },
      "RequestBody": {
        "name": "tst_create_ep_async",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queueLength",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "cancel"
              }
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 18:39:15 GMT",
        "trace-id": "7b666a1c-0167-5bc7-b614-916d455df0e3"
      },
      "ResponseBody": {
        "id": "tst_create_ep_async",
        "name": "tst_create_ep_async",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queueLength",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "cancel",
                "id": "48399324-ea6c-4fed-8c1a-33a5d9ac612b"
              }
            ]
          }
        ],
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_create_ep_async?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:39:14 GMT"
      },
      "RequestBody": {
        "name": "tst_create_ep_async",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queueLength",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "manualReclassify",
                "queueId": "test_create_exception_policy_tst_q_async",
                "priority": 1
              }
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 18:39:15 GMT",
        "trace-id": "703e0001-bd0c-bbb3-78ad-62e9b536c490"
      },
      "ResponseBody": {
        "id": "tst_create_ep_async",
        "name": "tst_create_ep_async",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queueLength",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "manualReclassify",
                "queueId": "test_create_exception_policy_tst_q_async",
                "priority": 1,
                "workerSelectors": [],
                "id": "68fbc8d2-fbb9-488a-a105-2a350b50168d"
              }
            ]
          }
        ],
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_create_ep_async?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:39:15 GMT"
      },
      "RequestBody": {
        "name": "tst_create_ep_async",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queueLength",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "reclassify",
                "classificationPolicyId": "test_create_exception_policy_tst_cp_async"
              }
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 18:39:15 GMT",
        "trace-id": "b2c2bc37-d4b6-e799-6156-bbfa2946e0f8"
      },
      "ResponseBody": {
        "id": "tst_create_ep_async",
        "name": "tst_create_ep_async",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queueLength",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "reclassify",
                "classificationPolicyId": "test_create_exception_policy_tst_cp_async",
                "labelsToUpsert": {},
                "id": "78e94e24-e9c8-458d-88e2-7cea14186bc3"
              }
            ]
          }
        ],
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_create_ep_async?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:39:15 GMT"
      },
      "RequestBody": {
        "name": "tst_create_ep_async",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "waitTime",
              "thresholdSeconds": 3600
            },
            "actions": [
              {
                "kind": "cancel"
              }
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 18:39:15 GMT",
        "trace-id": "be293f53-fd38-7d7f-13a5-a7cf25971cbe"
      },
      "ResponseBody": {
        "id": "tst_create_ep_async",
        "name": "tst_create_ep_async",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "waitTime",
              "thresholdSeconds": 3600
            },
            "actions": [
              {
                "kind": "cancel",
                "id": "745968b3-7611-4c33-9782-03285442c219"
              }
            ]
          }
        ],
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_create_ep_async?api-version=2024-01-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:39:15 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "trace-id": "24c29526-ccbb-d162-e9bc-c6aa1fe7f7ce"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
