{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/_tst_delete_dp?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:38:40 GMT"
      },
      "RequestBody": {
        "name": "_tst_delete_dp",
        "offerExpiresAfterSeconds": 10.0,
        "mode": {
          "kind": "bestWorker",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 18:38:41 GMT",
        "trace-id": "e9918ec9-f56c-a574-27ba-4a8a87c2a82a"
      },
      "ResponseBody": {
        "id": "_tst_delete_dp",
        "name": "_tst_delete_dp",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "bestWorker",
          "scoringRuleOptions": {
            "scoringParameters": [
              "jobLabels",
              "workerSelectors"
            ],
            "isBatchScoringEnabled": false,
            "descendingOrder": true
          },
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/_tst_delete_dp?api-version=2024-01-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:38:40 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "193bf498-4f0f-2f5e-8619-45a3d7581005"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "NotFound",
          "message": "The item was not found.",
          "target": "/routing/distributionPolicies/_tst_delete_dp"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/_tst_delete_dp?api-version=2024-01-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:38:41 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "303e6329-07b6-8e43-69ff-9f2043acf0fb"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "NotFound",
          "message": "The item was not found.",
          "target": "/routing/distributionPolicies/_tst_delete_dp"
        }
      }
    }
  ],
  "Variables": {}
}
