{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_get_exception_policy_tst_dp?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 22:06:54 GMT"
      },
      "RequestBody": {
        "name": "test_get_exception_policy_tst_dp",
        "offerExpiresAfterSeconds": 10.0,
        "mode": {
          "kind": "roundRobin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 28 Feb 2024 22:06:55 GMT",
        "trace-id": "f9219c9f-c8d7-5300-b026-07e55911e363"
      },
      "ResponseBody": {
        "id": "test_get_exception_policy_tst_dp",
        "name": "test_get_exception_policy_tst_dp",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "roundRobin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_get_exception_policy_tst_q?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 22:06:54 GMT"
      },
      "RequestBody": {
        "name": "test_get_exception_policy_tst_q",
        "distributionPolicyId": "test_get_exception_policy_tst_dp",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 28 Feb 2024 22:06:55 GMT",
        "trace-id": "c9c4425a-eff1-c2d9-1f26-b6f0b3f8b98e"
      },
      "ResponseBody": {
        "id": "test_get_exception_policy_tst_q",
        "name": "test_get_exception_policy_tst_q",
        "distributionPolicyId": "test_get_exception_policy_tst_dp",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1,
          "Id": "test_get_exception_policy_tst_q"
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/test_get_exception_policy_tst_cp?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 22:06:54 GMT"
      },
      "RequestBody": {
        "name": "test_get_exception_policy_tst_cp",
        "fallbackQueueId": "test_get_exception_policy_tst_q"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 28 Feb 2024 22:06:55 GMT",
        "trace-id": "38f4e1af-455b-fb17-0184-8f111e7f8f33"
      },
      "ResponseBody": {
        "id": "test_get_exception_policy_tst_cp",
        "name": "test_get_exception_policy_tst_cp",
        "fallbackQueueId": "test_get_exception_policy_tst_q",
        "queueSelectorAttachments": [],
        "workerSelectorAttachments": [],
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_get_ep?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 22:06:55 GMT"
      },
      "RequestBody": {
        "name": "tst_get_ep",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queueLength",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "cancel"
              }
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 28 Feb 2024 22:06:55 GMT",
        "trace-id": "d276fb08-b022-a5cb-c7c9-f1c918d6fc33"
      },
      "ResponseBody": {
        "id": "tst_get_ep",
        "name": "tst_get_ep",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queueLength",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "cancel",
                "id": "ac8c379c-6514-4770-aa52-70c010628041"
              }
            ]
          }
        ],
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_get_ep?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 22:06:55 GMT"
      },
      "RequestBody": {
        "name": "tst_get_ep",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queueLength",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "manualReclassify",
                "queueId": "test_get_exception_policy_tst_q",
                "priority": 1
              }
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 28 Feb 2024 22:06:55 GMT",
        "trace-id": "31c39deb-2b9b-d73b-0d79-0f37e8d9a170"
      },
      "ResponseBody": {
        "id": "tst_get_ep",
        "name": "tst_get_ep",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queueLength",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "manualReclassify",
                "queueId": "test_get_exception_policy_tst_q",
                "priority": 1,
                "workerSelectors": [],
                "id": "bd7177e8-fe35-4d3a-99fb-11d02cdac91b"
              }
            ]
          }
        ],
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_get_ep?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 22:06:55 GMT"
      },
      "RequestBody": {
        "name": "tst_get_ep",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queueLength",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "reclassify",
                "classificationPolicyId": "test_get_exception_policy_tst_cp"
              }
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 28 Feb 2024 22:06:56 GMT",
        "trace-id": "c23f0b11-c38d-d431-846e-8e57b85f572b"
      },
      "ResponseBody": {
        "id": "tst_get_ep",
        "name": "tst_get_ep",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queueLength",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "reclassify",
                "classificationPolicyId": "test_get_exception_policy_tst_cp",
                "labelsToUpsert": {},
                "id": "49dece7f-3d4a-49f3-9ee4-94e68acc2978"
              }
            ]
          }
        ],
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_get_ep?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 22:06:55 GMT"
      },
      "RequestBody": {
        "name": "tst_get_ep",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "waitTime",
              "thresholdSeconds": 3600
            },
            "actions": [
              {
                "kind": "cancel"
              }
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 28 Feb 2024 22:06:56 GMT",
        "trace-id": "b10947e1-f28b-badd-b11c-12484e4205e3"
      },
      "ResponseBody": {
        "id": "tst_get_ep",
        "name": "tst_get_ep",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "waitTime",
              "thresholdSeconds": 3600
            },
            "actions": [
              {
                "kind": "cancel",
                "id": "2639c131-3451-423e-8cac-c340db2985ee"
              }
            ]
          }
        ],
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_get_ep?api-version=2024-01-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 22:06:56 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "trace-id": "fd1aa72b-7226-85e4-964b-15ad4456aee2"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
