{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_delete_worker_tst_dp_async?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 01:47:59 GMT"
      },
      "RequestBody": {
        "name": "test_delete_worker_tst_dp_async",
        "offerExpiresAfterSeconds": 10.0,
        "mode": {
          "kind": "roundRobin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 01:48:00 GMT",
        "trace-id": "d4ac32a5-81d8-12ce-9776-7dd527ceabd2"
      },
      "ResponseBody": {
        "id": "test_delete_worker_tst_dp_async",
        "name": "test_delete_worker_tst_dp_async",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "roundRobin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_delete_worker_tst_q_async?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 01:48:00 GMT"
      },
      "RequestBody": {
        "name": "test_delete_worker_tst_q_async",
        "distributionPolicyId": "test_delete_worker_tst_dp_async",
        "labels": {
          "key1": "WorkerKey",
          "key2": 10,
          "key3": true
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 01:48:00 GMT",
        "trace-id": "f0d36849-a6e1-5ea5-af12-297de3573399"
      },
      "ResponseBody": {
        "id": "test_delete_worker_tst_q_async",
        "name": "test_delete_worker_tst_q_async",
        "distributionPolicyId": "test_delete_worker_tst_dp_async",
        "labels": {
          "key1": "WorkerKey",
          "key2": 10,
          "key3": true,
          "Id": "test_delete_worker_tst_q_async"
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/tst_delete_w_async?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 01:48:00 GMT"
      },
      "RequestBody": {
        "queues": [
          "test_delete_worker_tst_q_async"
        ],
        "capacity": 100,
        "labels": {
          "key1": "WorkerKey",
          "key2": 10,
          "key3": true
        },
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "channels": [
          {
            "channelId": "fakeChannel1",
            "capacityCostPerJob": 10
          },
          {
            "channelId": "fakeChannel2",
            "capacityCostPerJob": 90
          }
        ],
        "availableForOffers": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 01:48:00 GMT",
        "trace-id": "49972f0c-c8ae-f480-3be9-3b5253225bc6"
      },
      "ResponseBody": {
        "id": "tst_delete_w_async",
        "state": "inactive",
        "queues": [
          "test_delete_worker_tst_q_async"
        ],
        "capacity": 100,
        "labels": {
          "key1": "WorkerKey",
          "key2": 10,
          "key3": true,
          "Id": "tst_delete_w_async"
        },
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "channels": [
          {
            "channelId": "fakeChannel1",
            "capacityCostPerJob": 10
          },
          {
            "channelId": "fakeChannel2",
            "capacityCostPerJob": 90
          }
        ],
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": false,
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/tst_delete_w_async?api-version=2024-01-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 01:48:00 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "6e2d9fcb-1de1-e676-3b92-fb76ea5d6551"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "NotFound",
          "message": "The item was not found.",
          "target": "/routing/workers/tst_delete_w_async"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_delete_worker_tst_dp_async?api-version=2024-01-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 01:48:00 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "trace-id": "1d91bb60-4b0e-68f2-1eb0-d7eaffe7003e"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
