{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_update_classification_policy_w_kwargs_tst_dp_async?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:38:32 GMT"
      },
      "RequestBody": {
        "name": "test_update_classification_policy_w_kwargs_tst_dp_async",
        "offerExpiresAfterSeconds": 10.0,
        "mode": {
          "kind": "roundRobin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 18:38:33 GMT",
        "trace-id": "3b1800a3-0a92-f28a-b9af-42dd78698e3a"
      },
      "ResponseBody": {
        "id": "test_update_classification_policy_w_kwargs_tst_dp_async",
        "name": "test_update_classification_policy_w_kwargs_tst_dp_async",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "roundRobin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_update_classification_policy_w_kwargs_tst_q_async?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:38:32 GMT"
      },
      "RequestBody": {
        "name": "test_update_classification_policy_w_kwargs_tst_q_async",
        "distributionPolicyId": "test_update_classification_policy_w_kwargs_tst_dp_async",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 18:38:33 GMT",
        "trace-id": "33905872-d7a3-3df7-94e3-06d841c11d8b"
      },
      "ResponseBody": {
        "id": "test_update_classification_policy_w_kwargs_tst_q_async",
        "name": "test_update_classification_policy_w_kwargs_tst_q_async",
        "distributionPolicyId": "test_update_classification_policy_w_kwargs_tst_dp_async",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1,
          "Id": "test_update_classification_policy_w_kwargs_tst_q_async"
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/tst_update_cp_w_args_async?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:38:33 GMT"
      },
      "RequestBody": {
        "name": "tst_update_cp_w_args_async",
        "fallbackQueueId": "test_update_classification_policy_w_kwargs_tst_q_async",
        "queueSelectorAttachments": [
          {
            "kind": "static",
            "queueSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value"
            }
          },
          {
            "kind": "conditional",
            "condition": {
              "kind": "static",
              "value": true
            },
            "queueSelectors": [
              {
                "key": "test_key",
                "labelOperator": "equal",
                "value": "test_value"
              }
            ]
          },
          {
            "kind": "ruleEngine",
            "rule": {
              "kind": "static",
              "value": [
                {
                  "key": "test_key",
                  "labelOperator": "equal",
                  "value": "test_value"
                }
              ]
            }
          },
          {
            "kind": "passThrough",
            "key": "testKey",
            "labelOperator": "equal"
          },
          {
            "kind": "weightedAllocation",
            "allocations": [
              {
                "weight": 1.0,
                "queueSelectors": [
                  {
                    "key": "test_key",
                    "labelOperator": "equal",
                    "value": "test_value"
                  }
                ]
              }
            ]
          }
        ],
        "prioritizationRule": {
          "kind": "static",
          "value": 1
        },
        "workerSelectorAttachments": [
          {
            "kind": "static",
            "workerSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value",
              "expiresAfterSeconds": 10.0,
              "expedite": false
            }
          },
          {
            "kind": "conditional",
            "condition": {
              "kind": "static",
              "value": true
            },
            "workerSelectors": [
              {
                "key": "test_key",
                "labelOperator": "equal",
                "value": "test_value",
                "expiresAfterSeconds": 10.0,
                "expedite": false
              }
            ]
          },
          {
            "kind": "ruleEngine",
            "rule": {
              "kind": "static",
              "value": [
                {
                  "key": "test_key",
                  "labelOperator": "equal",
                  "[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/tst_update_cp_w_args_async?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:38:33 GMT"
      },
      "RequestBody": {
        "prioritizationRule": {
          "kind": "expression",
          "expression": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 18:38:33 GMT",
        "trace-id": "7c4ab6b9-b444-2882-5859-9049a4d60968"
      },
      "ResponseBody": {
        "id": "tst_update_cp_w_args_async",
        "name[...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_update_classification_policy_w_kwargs_tst_dp_async?api-version=2024-01-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:38:33 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "trace-id": "b8229162-35de-3112-549f-7c48cbdc9a93"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
