{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_list_exception_policies_tst_dp?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:39:10 GMT"
      },
      "RequestBody": {
        "name": "test_list_exception_policies_tst_dp",
        "offerExpiresAfterSeconds": 10.0,
        "mode": {
          "kind": "roundRobin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 18:39:11 GMT",
        "trace-id": "5d06f49b-fccc-689a-3a60-44e66e6e599d"
      },
      "ResponseBody": {
        "id": "test_list_exception_policies_tst_dp",
        "name": "test_list_exception_policies_tst_dp",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "roundRobin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_list_exception_policies_tst_q?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:39:11 GMT"
      },
      "RequestBody": {
        "name": "test_list_exception_policies_tst_q",
        "distributionPolicyId": "test_list_exception_policies_tst_dp",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 18:39:11 GMT",
        "trace-id": "e3d9d1a3-c702-6a88-52cd-a8c9c1603e82"
      },
      "ResponseBody": {
        "id": "test_list_exception_policies_tst_q",
        "name": "test_list_exception_policies_tst_q",
        "distributionPolicyId": "test_list_exception_policies_tst_dp",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1,
          "Id": "test_list_exception_policies_tst_q"
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/test_list_exception_policies_tst_cp?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:39:11 GMT"
      },
      "RequestBody": {
        "name": "test_list_exception_policies_tst_cp",
        "fallbackQueueId": "test_list_exception_policies_tst_q"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 18:39:11 GMT",
        "trace-id": "53dea603-bd49-d4a7-2766-a03d875b755f"
      },
      "ResponseBody": {
        "id": "test_list_exception_policies_tst_cp",
        "name": "test_list_exception_policies_tst_cp",
        "fallbackQueueId": "test_list_exception_policies_tst_q",
        "queueSelectorAttachments": [],
        "workerSelectorAttachments": [],
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_list_ep_1?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:39:11 GMT"
      },
      "RequestBody": {
        "name": "tst_list_ep_1",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queueLength",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "cancel"
              }
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 18:39:11 GMT",
        "trace-id": "23f732b1-1334-2fbb-9406-0de955b37142"
      },
      "ResponseBody": {
        "id": "tst_list_ep_1",
        "name": "tst_list_ep_1",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queueLength",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "cancel",
                "id": "0a1fdba2-d789-4a29-a558-f2c620644656"
              }
            ]
          }
        ],
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies?api-version=2024-01-18-preview\u0026maxpagesize=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:39:11 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "48cabb76-4d5f-64e0-0e9d-2118c648eb11"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "tst_list_ep_3",
            "name": "tst_list_ep_3",
            "exceptionRules": [
              {
                "id": "fakeExceptionRuleId",
                "trigger": {
                  "kind": "queueLength",
                  "threshold": 1
                },
                "actions": [
                  {
                    "kind": "cancel",
                    "id": "e80f1c8d-55e7-431d-9439-e90eb527ccff"
                  }
                ]
              }
            ],
            "etag": "Sanitized"
          },
          {
            "id": "tst_list_ep_2",
            "name": "tst_list_ep_2",
            "exceptionRules": [
              {
                "id": "fakeExceptionRuleId",
                "trigger": {
                  "kind": "queueLength",
                  "threshold": 1
                },
                "actions": [
                  {
                    "kind": "cancel",
                    "id": "6ed93909-c4d6-4a0f-b373-81bc25848ddd"
                  }
                ]
              }
            ],
            "etag": "Sanitized"
          }
        ],
        "nextLink": "/routing/exceptionPolicies?continuationToken=Y29udGludWF0aW9uVG9rZW49VzNzaWRHOXJaVzRpT2lJclVrbEVPbjVYT1c5V1FVOWtWa2xzUTBoQ1VVRkJRVUZCUVVGQlBUMGpVbFE2TVNOVVVrTTZNaU5TVkVRNlFVRTlQU05KVTFZNk1pTkpSVTg2TmpVMU5qY2pVVU5HT2pnalJsQkRPa0ZuUlVGQlFVRkhRVTV4Ulc5UlJFRkJVVDA5SWl3aWNtRnVaMlVpT25zaWJXbHVJam9pSWl3aWJXRjRJam9pUmtZaWZYMWQmbWF4cGFnZXNpemU9Mg%3D%3D"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies?continuationToken=Y29udGludWF0aW9uVG9rZW49VzNzaWRHOXJaVzRpT2lJclVrbEVPbjVYT1c5V1FVOWtWa2xzUTBoQ1VVRkJRVUZCUVVGQlBUMGpVbFE2TVNOVVVrTTZNaU5TVkVRNlFVRTlQU05KVTFZNk1pTkpSVTg2TmpVMU5qY2pVVU5HT2pnalJsQkRPa0ZuUlVGQlFVRkhRVTV4Ulc5UlJFRkJVVDA5SWl3aWNtRnVaMlVpT25zaWJXbHVJam9pSWl3aWJXRjRJam9pUmtZaWZYMWQmbWF4cGFnZXNpemU9Mg%3D%3D\u0026api-version=2024-01-18-preview",
      "RequestMethod": "GET",
      "RequestHead[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_list_ep_1?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:39:11 GMT"
      },
      "RequestBody": {
        "name": "tst_list_ep_1",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queueLength",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "manualReclassify",
                "queueId": "test_list_exception_policies_tst_q",
                "priority": 1
              }
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 18:39:12 GMT",
        "trace-id": "e946d590-58d1-df3a-52f8-e9b97cd62aaa"
      },
      "ResponseBody": {
        "id": "tst_list_ep_1",
        "name": "tst_list_ep_1",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queueLength",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "manualReclassify",
                "queueId": "test_list_exception_policies_tst_q",
                "priority": 1,
                "workerSelectors": [],
                "id": "b5026a0a-78d8-4f5d-b43e-09bd8a3a585f"
              }
            ]
          }
        ],
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_list_ep_1?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:39:12 GMT"
      },
      "RequestBody": {
        "name": "tst_list_ep_1",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queueLength",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "reclassify",
                "classificationPolicyId": "test_list_exception_policies_tst_cp"
              }
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 18:39:12 GMT",
        "trace-id": "521dc194-a5f6-6d66-d420-3be4e7d16d71"
      },
      "ResponseBody": {
        "id": "tst_list_ep_1",
        "name": "tst_list_ep_1",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queueLength",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "reclassify",
                "classificationPolicyId": "test_list_exception_policies_tst_cp",
                "labelsToUpsert": {},
                "id": "f1bac33e-bf56-414e-8b38-b82a7d81bdf3"
              }
            ]
          }
        ],
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_list_ep_1?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:39:12 GMT"
      },
      "RequestBody": {
        "name": "tst_list_ep_1",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "waitTime",
              "thresholdSeconds": 3600
            },
            "actions": [
              {
                "kind": "cancel"
              }
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 18:39:13 GMT",
        "trace-id": "38758067-4290-3bef-cc26-35376a855aa5"
      },
      "ResponseBody": {
        "id": "tst_list_ep_1",
        "name": "tst_list_ep_1",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "waitTime",
              "thresholdSeconds": 3600
            },
            "actions": [
              {
                "kind": "cancel",
                "id": "adcba7c1-0e34-4cb5-9e74-2c3172f6ec4c"
              }
            ]
          }
        ],
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_list_ep_1?api-version=2024-01-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:39:14 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "trace-id": "a5852acf-913e-f243-2820-298d2d0e67ab"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
