{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_limit_concurrent_offer_to_worker_scenario_tst_dp_async?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:40:11 GMT"
      },
      "RequestBody": {
        "name": "test",
        "offerExpiresAfterSeconds": 600.0,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 18:40:12 GMT",
        "trace-id": "15f36806-b9ac-46d5-8136-2f0287f01f7a"
      },
      "ResponseBody": {
        "id": "test_limit_concurrent_offer_to_worker_scenario_tst_dp_async",
        "name": "test",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_limit_concurrent_offer_to_worker_scenario_tst_q_async?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:40:11 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "test_limit_concurrent_offer_to_worker_scenario_tst_dp_async"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 18:40:12 GMT",
        "trace-id": "cbc63598-76b3-90ba-ba40-f9e9ea4c32ab"
      },
      "ResponseBody": {
        "id": "test_limit_concurrent_offer_to_worker_scenario_tst_q_async",
        "name": "test",
        "distributionPolicyId": "test_limit_concurrent_offer_to_worker_scenario_tst_dp_async",
        "labels": {
          "Id": "test_limit_concurrent_offer_to_worker_scenario_tst_q_async"
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/test_limit_concurrent_offer_to_worker_scenario_tst_w_async?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:40:11 GMT"
      },
      "RequestBody": {
        "queues": [
          "test_limit_concurrent_offer_to_worker_scenario_tst_q_async"
        ],
        "capacity": 10,
        "channels": [
          {
            "channelId": "fakeChannel2_async",
            "capacityCostPerJob": 1
          }
        ],
        "availableForOffers": true,
        "maxConcurrentOffers": 1
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 18:40:12 GMT",
        "trace-id": "1305cab7-de45-034c-97bf-086abbf0037b"
      },
      "ResponseBody": {
        "id": "test_limit_concurrent_offer_to_worker_scenario_tst_w_async",
        "state": "active",
        "queues": [
          "test_limit_concurrent_offer_to_worker_scenario_tst_q_async"
        ],
        "capacity": 10,
        "labels": {
          "Id": "test_limit_concurrent_offer_to_worker_scenario_tst_w_async"
        },
        "tags": {},
        "channels": [
          {
            "channelId": "fakeChannel2_async",
            "capacityCostPerJob": 1
          }
        ],
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": true,
        "maxConcurrentOffers": 1,
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/concurrent_offer_worker_scenario_job_id_1_async?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:40:11 GMT"
      },
      "RequestBody": {
        "channelId": "fakeChannel2_async",
        "queueId": "test_limit_concurrent_offer_to_worker_scenario_tst_q_async",
        "priority": 1
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 18:40:12 GMT",
        "trace-id": "5f368a4c-44ce-809b-ae19-e94edb8dc12d"
      },
      "ResponseBody": {
        "id": "concurrent_offer_worker_scenario_job_id_1_async",
        "status": "created",
        "channelId": "fakeChannel2_async",
        "queueId": "test_limit_concurrent_offer_to_worker_scenario_tst_q_async",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/test_limit_concurrent_offer_to_worker_scenario_tst_w_async?api-version=2024-01-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:40:14 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 18:40:12 GMT",
        "trace-id": "971ddb74-3bdf-5957-2da6-b7555ede92d7"
      },
      "ResponseBody": {
        "id": "test_limit_concurrent_offer_to_worker_scenario_tst_w_async",
        "state": "active",
        "queues": [
          "test_limit_concurrent_offer_to_worker_scenario_tst_q_async"
        ],
        "capacity": 10,
        "labels": {
          "Id": "test_limit_concurrent_offer_to_worker_scenario_tst_w_async"
        },
        "tags": {},
        "channels": [
          {
            "channelId": "fakeChannel2_async",
            "capacityCostPerJob": 1
          }
        ],
        "offers": [
          {
            "offerId": "ee5f6a65-0127-4f2b-ba67-31ee459ccfa3",
            "jobId": "concurrent_offer_worker_scenario_job_id_1_async",
            "capacityCost": 1,
            "offeredAt": "2024-02-29T18:40:12.6862697\u002B00:00",
            "expiresAt": "2024-02-29T18:50:12.6862698\u002B00:00"
          }
        ],
        "assignedJobs": [],
        "loadRatio": 0.1,
        "availableForOffers": true,
        "maxConcurrentOffers": 1,
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/test_limit_concurrent_offer_to_worker_scenario_tst_w_async/offers/ee5f6a65-0127-4f2b-ba67-31ee459ccfa3:accept?api-version=2024-01-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:40:15 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "2e083f2d-5a86-73a3-c8c7-0f2059a88c5c"
      },
      "ResponseBody": {
        "assignmentId": "96f714f6-0c7f-460c-aa54-aa1b35e7b846",
        "jobId": "concurrent_offer_worker_scenario_job_id_1_async",
        "workerId": "test_limit_concurrent_offer_to_worker_scenario_tst_w_async"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/concurrent_offer_worker_scenario_job_id_1_async/assignments/96f714f6-0c7f-460c-aa54-aa1b35e7b846:complete?api-version=2024-01-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:40:20 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "1b2945c3-da48-0ac0-f088-febc2654f38e"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/concurrent_offer_worker_scenario_job_id_1_async/assignments/96f714f6-0c7f-460c-aa54-aa1b35e7b846:close?api-version=2024-01-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:40:20 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "721d5520-8c3c-03d2-b724-7ef1672339f5"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/concurrent_offer_worker_scenario_job_id_1_async?api-version=2024-01-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:40:22 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 18:40:21 GMT",
        "trace-id": "da2d7635-4248-f2eb-4515-83caa3b49263"
      },
      "ResponseBody": {
        "id": "concurrent_offer_worker_scenario_job_id_1_async",
        "status": "closed",
        "enqueuedAt": "2024-02-29T18:40:12.4912486\u002B00:00",
        "channelId": "fakeChannel2_async",
        "queueId": "test_limit_concurrent_offer_to_worker_scenario_tst_q_async",
        "priority": 1,
        "dispositionCode": "Closed",
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {
          "96f714f6-0c7f-460c-aa54-aa1b35e7b846": {
            "assignmentId": "96f714f6-0c7f-460c-aa54-aa1b35e7b846",
            "workerId": "test_limit_concurrent_offer_to_worker_scenario_tst_w_async",
            "assignedAt": "2024-02-29T18:40:15.9076207\u002B00:00",
            "completedAt": "2024-02-29T18:40:21.1593305\u002B00:00",
            "closedAt": "2024-02-29T18:40:21.4091151\u002B00:00"
          }
        },
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_limit_concurrent_offer_to_worker_scenario_tst_dp_async?api-version=2024-01-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:40:23 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "trace-id": "ac504e66-90d5-6240-5655-2fd18cdb5874"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
