{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/_tst_get_dp_async?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 22:06:14 GMT"
      },
      "RequestBody": {
        "name": "_tst_get_dp_async",
        "offerExpiresAfterSeconds": 10.0,
        "mode": {
          "kind": "bestWorker",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 28 Feb 2024 22:06:15 GMT",
        "trace-id": "94faa3b7-2a89-efea-463b-d1e314fc0923"
      },
      "ResponseBody": {
        "id": "_tst_get_dp_async",
        "name": "_tst_get_dp_async",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "bestWorker",
          "scoringRuleOptions": {
            "scoringParameters": [
              "jobLabels",
              "workerSelectors"
            ],
            "isBatchScoringEnabled": false,
            "descendingOrder": true
          },
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/_tst_get_dp_async?api-version=2024-01-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 22:06:15 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "trace-id": "4d3a5477-377e-563b-cc59-0c90cb528e69"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
