{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_delete_exception_policy_tst_dp?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 22:06:56 GMT"
      },
      "RequestBody": {
        "name": "test_delete_exception_policy_tst_dp",
        "offerExpiresAfterSeconds": 10.0,
        "mode": {
          "kind": "roundRobin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 28 Feb 2024 22:06:57 GMT",
        "trace-id": "8cce346e-2fc0-188d-9f58-65998247df37"
      },
      "ResponseBody": {
        "id": "test_delete_exception_policy_tst_dp",
        "name": "test_delete_exception_policy_tst_dp",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "roundRobin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_delete_exception_policy_tst_q?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 22:06:56 GMT"
      },
      "RequestBody": {
        "name": "test_delete_exception_policy_tst_q",
        "distributionPolicyId": "test_delete_exception_policy_tst_dp",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 28 Feb 2024 22:06:57 GMT",
        "trace-id": "6bae6bde-3d27-bf8f-5b97-a65508f7ec0c"
      },
      "ResponseBody": {
        "id": "test_delete_exception_policy_tst_q",
        "name": "test_delete_exception_policy_tst_q",
        "distributionPolicyId": "test_delete_exception_policy_tst_dp",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1,
          "Id": "test_delete_exception_policy_tst_q"
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/test_delete_exception_policy_tst_cp?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 22:06:56 GMT"
      },
      "RequestBody": {
        "name": "test_delete_exception_policy_tst_cp",
        "fallbackQueueId": "test_delete_exception_policy_tst_q"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 28 Feb 2024 22:06:57 GMT",
        "trace-id": "0654ba8a-056d-f535-d171-4910d1ea39d8"
      },
      "ResponseBody": {
        "id": "test_delete_exception_policy_tst_cp",
        "name": "test_delete_exception_policy_tst_cp",
        "fallbackQueueId": "test_delete_exception_policy_tst_q",
        "queueSelectorAttachments": [],
        "workerSelectorAttachments": [],
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_delete_ep?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 22:06:56 GMT"
      },
      "RequestBody": {
        "name": "tst_delete_ep",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queueLength",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "cancel"
              }
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 28 Feb 2024 22:06:57 GMT",
        "trace-id": "303ad8b4-a065-184d-db79-8f99e0450b3d"
      },
      "ResponseBody": {
        "id": "tst_delete_ep",
        "name": "tst_delete_ep",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queueLength",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "cancel",
                "id": "86bb4e2d-704f-4c44-b934-0c3cc84acd72"
              }
            ]
          }
        ],
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_delete_ep?api-version=2024-01-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 22:06:57 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "95df9ce3-c8b8-533e-488a-3b16ea242afb"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "NotFound",
          "message": "The item was not found.",
          "target": "/routing/exceptionPolicies/tst_delete_ep"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_delete_ep?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 22:06:57 GMT"
      },
      "RequestBody": {
        "name": "tst_delete_ep",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queueLength",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "manualReclassify",
                "queueId": "test_delete_exception_policy_tst_q",
                "priority": 1
              }
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 28 Feb 2024 22:06:57 GMT",
        "trace-id": "00eecaf3-99d6-5eb2-e25e-aa65ea0db32c"
      },
      "ResponseBody": {
        "id": "tst_delete_ep",
        "name": "tst_delete_ep",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queueLength",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "manualReclassify",
                "queueId": "test_delete_exception_policy_tst_q",
                "priority": 1,
                "workerSelectors": [],
                "id": "eb384bb0-85e7-4170-baaa-e25e0e074442"
              }
            ]
          }
        ],
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_delete_ep?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 22:06:57 GMT"
      },
      "RequestBody": {
        "name": "tst_delete_ep",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queueLength",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "reclassify",
                "classificationPolicyId": "test_delete_exception_policy_tst_cp"
              }
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 28 Feb 2024 22:06:58 GMT",
        "trace-id": "a92230e1-9be2-8cf7-98b8-04e539f22cb0"
      },
      "ResponseBody": {
        "id": "tst_delete_ep",
        "name": "tst_delete_ep",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queueLength",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "reclassify",
                "classificationPolicyId": "test_delete_exception_policy_tst_cp",
                "labelsToUpsert": {},
                "id": "afe099bd-64ac-45b8-918b-b7e9d457fe43"
              }
            ]
          }
        ],
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_delete_ep?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 22:06:57 GMT"
      },
      "RequestBody": {
        "name": "tst_delete_ep",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "waitTime",
              "thresholdSeconds": 3600
            },
            "actions": [
              {
                "kind": "cancel"
              }
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 28 Feb 2024 22:06:58 GMT",
        "trace-id": "90c0cfcb-69d2-1942-f877-685ee89d62b0"
      },
      "ResponseBody": {
        "id": "tst_delete_ep",
        "name": "tst_delete_ep",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "waitTime",
              "thresholdSeconds": 3600
            },
            "actions": [
              {
                "kind": "cancel",
                "id": "2b498551-d818-440a-a532-e48cb62788bb"
              }
            ]
          }
        ],
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_delete_ep?api-version=2024-01-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 22:06:58 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "trace-id": "a130d805-707f-0650-b478-4d06010f05dc"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
