{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_list_classification_policies_tst_dp_async?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 22:06:02 GMT"
      },
      "RequestBody": {
        "name": "test_list_classification_policies_tst_dp_async",
        "offerExpiresAfterSeconds": 10.0,
        "mode": {
          "kind": "roundRobin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 28 Feb 2024 22:06:02 GMT",
        "trace-id": "7e071feb-1adc-8809-47c1-ea571a36586b"
      },
      "ResponseBody": {
        "id": "test_list_classification_policies_tst_dp_async",
        "name": "test_list_classification_policies_tst_dp_async",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "roundRobin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_list_classification_policies_tst_q_async?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 22:06:02 GMT"
      },
      "RequestBody": {
        "name": "test_list_classification_policies_tst_q_async",
        "distributionPolicyId": "test_list_classification_policies_tst_dp_async",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 28 Feb 2024 22:06:02 GMT",
        "trace-id": "123da9a5-61b5-8431-a36e-dea45a75a44f"
      },
      "ResponseBody": {
        "id": "test_list_classification_policies_tst_q_async",
        "name": "test_list_classification_policies_tst_q_async",
        "distributionPolicyId": "test_list_classification_policies_tst_dp_async",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1,
          "Id": "test_list_classification_policies_tst_q_async"
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/tst_list_cp_1_async?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 22:06:02 GMT"
      },
      "RequestBody": {
        "name": "tst_list_cp_1_async",
        "fallbackQueueId": "test_list_classification_policies_tst_q_async",
        "queueSelectorAttachments": [
          {
            "kind": "static",
            "queueSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value"
            }
          },
          {
            "kind": "conditional",
            "condition": {
              "kind": "static",
              "value": true
            },
            "queueSelectors": [
              {
                "key": "test_key",
                "labelOperator": "equal",
                "value": "test_value"
              }
            ]
          },
          {
            "kind": "ruleEngine",
            "rule": {
              "kind": "static",
              "value": [
                {
                  "key": "test_key",
                  "labelOperator": "equal",
                  "value": "test_value"
                }
              ]
            }
          },
          {
            "kind": "passThrough",
            "key": "testKey",
            "labelOperator": "equal"
          },
          {
            "kind": "weightedAllocation",
            "allocations": [
              {
                "weight": 1.0,
                "queueSelectors": [
                  {
                    "key": "test_key",
                    "labelOperator": "equal",
                    "value": "test_value"
                  }
                ]
              }
            ]
          }
        ],
        "prioritizationRule": {
          "kind": "static",
          "value": 1
        },
        "workerSelectorAttachments": [
          {
            "kind": "static",
            "workerSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value",
              "expiresAfterSeconds": 10.0,
              "expedite": false
            }
          },
          {
            "kind": "conditional",
            "condition": {
              "kind": "static",
              "value": true
            },
            "workerSelectors": [
              {
                "key": "test_key",
                "labelOperator": "equal",
                "value": "test_value",
                "expiresAfterSeconds": 10.0,
                "expedite": false
              }
            ]
          },
          {
            "kind": "ruleEngine",
            "rule": {
              "kind": "static",
              "value": [
                {
                  "key": "test_key",
                  "labelOperator": "equal",
                  "[...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies?api-version=2024-01-18-preview\u0026maxpagesize=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 22:06:02 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-pr[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies?continuationToken=Y29udGludWF0aW9uVG9rZW49VzNzaWRHOXJaVzRpT2lJclVrbEVPbjVYT1c5V1FVNWFLMVkzVDBjMFFVRkJRVUZCUVVGQlBUMGpVbFE2TVNOVVVrTTZNU05TVkVRNlFVRTlQU05KVTFZNk1pTkpSVTg2TmpVMU5qY2pVVU5HT2pnalJsQkRPa0ZuUlVGQmQwRkZRVWhGUVZsQldVSkRRVUpVU1VsQlVrUlJTRGhFZDAxTlFVVk5aa0ZFUWtsQk9FUXZSVkZHWjBGQlBUMGlMQ0p5WVc1blpTSTZleUp0YVc0aU9pSWlMQ0p0WVhnaU9pSkdSaUo5ZlYwPSZtYXhwYWdlc2l6ZT0x\u0026api-version=2024-01-18-p[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies?continuationToken=Y29udGludWF0aW9uVG9rZW49VzNzaWRHOXJaVzRpT2lJclVrbEVPbjVYT1c5V1FVNWFLMVkzVDBZMFFVRkJRVUZCUVVGQlBUMGpVbFE2TWlOVVVrTTZNaU5TVkVRNlFVRTlQU05KVTFZNk1pTkpSVTg2TmpVMU5qY2pVVU5HT2pnalJsQkRPa0ZuUlVGQmQwRkZRVWhGUVZsQldVSkRRVUpVU1VsQlVrUlJTRGhFZDAxTlFVVk5aa0ZFUWtsQk9FUXZSVkZHWjBGQlBUMGlMQ0p5WVc1blpTSTZleUp0YVc0aU9pSWlMQ0p0WVhnaU9pSkdSaUo5ZlYwPSZtYXhwYWdlc2l6ZT0x\u0026api-version=2024-01-18-p[...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_list_classification_policies_tst_dp_async?api-version=2024-01-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 22:06:04 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "trace-id": "fe9baf2b-e422-501e-f425-e060bcbc4b8b"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
