{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/_test_assignment_scenario_tst_dp?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:36:47 GMT"
      },
      "RequestBody": {
        "name": "test",
        "offerExpiresAfterSeconds": 600.0,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 18:36:48 GMT",
        "trace-id": "fdf22ec7-1235-1f7d-12ba-36e48249faca"
      },
      "ResponseBody": {
        "id": "_test_assignment_scenario_tst_dp",
        "name": "test",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/_test_assignment_scenario_tst_q?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:36:47 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "_test_assignment_scenario_tst_dp"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 18:36:48 GMT",
        "trace-id": "c3bf1038-8ed9-e47f-dd50-e34882708994"
      },
      "ResponseBody": {
        "id": "_test_assignment_scenario_tst_q",
        "name": "test",
        "distributionPolicyId": "_test_assignment_scenario_tst_dp",
        "labels": {
          "Id": "_test_assignment_scenario_tst_q"
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/_test_assignment_scenario_tst_w?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:36:47 GMT"
      },
      "RequestBody": {
        "queues": [
          "_test_assignment_scenario_tst_q"
        ],
        "capacity": 1,
        "channels": [
          {
            "channelId": "fakeChannel1",
            "capacityCostPerJob": 1
          }
        ],
        "availableForOffers": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 18:36:48 GMT",
        "trace-id": "30cc5bf2-43c2-2b0c-8aff-a972ef6c2bd8"
      },
      "ResponseBody": {
        "id": "_test_assignment_scenario_tst_w",
        "state": "active",
        "queues": [
          "_test_assignment_scenario_tst_q"
        ],
        "capacity": 1,
        "labels": {
          "Id": "_test_assignment_scenario_tst_w"
        },
        "tags": {},
        "channels": [
          {
            "channelId": "fakeChannel1",
            "capacityCostPerJob": 1
          }
        ],
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": true,
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/assignment_scenario_job_id?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:36:48 GMT"
      },
      "RequestBody": {
        "channelId": "fakeChannel1",
        "queueId": "_test_assignment_scenario_tst_q",
        "priority": 1
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 18:36:48 GMT",
        "trace-id": "4094bddf-560a-230c-d9ab-1941a5ef6ed8"
      },
      "ResponseBody": {
        "id": "assignment_scenario_job_id",
        "status": "created",
        "channelId": "fakeChannel1",
        "queueId": "_test_assignment_scenario_tst_q",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/_test_assignment_scenario_tst_w?api-version=2024-01-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:36:51 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 18:36:48 GMT",
        "trace-id": "5e4d3af0-582a-7d9d-106b-3da66b5d5330"
      },
      "ResponseBody": {
        "id": "_test_assignment_scenario_tst_w",
        "state": "active",
        "queues": [
          "_test_assignment_scenario_tst_q"
        ],
        "capacity": 1,
        "labels": {
          "Id": "_test_assignment_scenario_tst_w"
        },
        "tags": {},
        "channels": [
          {
            "channelId": "fakeChannel1",
            "capacityCostPerJob": 1
          }
        ],
        "offers": [
          {
            "offerId": "8314167c-c68c-4b0c-a0f5-38bf6540b056",
            "jobId": "assignment_scenario_job_id",
            "capacityCost": 1,
            "offeredAt": "2024-02-29T18:36:48.9766393\u002B00:00",
            "expiresAt": "2024-02-29T18:46:48.9766393\u002B00:00"
          }
        ],
        "assignedJobs": [],
        "loadRatio": 1,
        "availableForOffers": true,
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/_test_assignment_scenario_tst_w/offers/8314167c-c68c-4b0c-a0f5-38bf6540b056:accept?api-version=2024-01-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:36:51 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "8955a2f6-88d1-3abe-3f26-6b289776d09b"
      },
      "ResponseBody": {
        "assignmentId": "9547dcc2-0077-4a63-b724-b94e1bd88aeb",
        "jobId": "assignment_scenario_job_id",
        "workerId": "_test_assignment_scenario_tst_w"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/_test_assignment_scenario_tst_w/offers/8314167c-c68c-4b0c-a0f5-38bf6540b056:decline?api-version=2024-01-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:36:52 GMT"
      },
      "RequestBody": {
        "retryOfferAt": "0001-01-01T00:00:00Z"
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "30561d8f-9157-76ea-e84d-5b2f830df8c1"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "NotFound",
          "message": "DeclineOfferCommandHandler: Offer not found. OfferId: 8314167c-c68c-4b0c-a0f5-38bf6540b056, WorkerId: _test_assignment_scenario_tst_w",
          "target": "/routing/workers/_test_assignment_scenario_tst_w/offers/8314167c-c68c-4b0c-a0f5-38bf6540b056:decline"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/assignment_scenario_job_id/assignments/9547dcc2-0077-4a63-b724-b94e1bd88aeb:unassign?api-version=2024-01-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:36:52 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "afc839b8-a599-a3ab-5e87-16fa85010cf9"
      },
      "ResponseBody": {
        "jobId": "assignment_scenario_job_id",
        "unassignmentCount": 1
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/assignment_scenario_job_id/assignments/eadcfe64-da97-4d6c-8493-7470f4a42600:complete?api-version=2024-01-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:36:56 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "49174f61-5919-4ad8-bb62-2c7c81522db8"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/assignment_scenario_job_id/assignments/eadcfe64-da97-4d6c-8493-7470f4a42600:close?api-version=2024-01-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:36:56 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "81685f40-f79f-84e1-c81b-14f50d78338b"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/assignment_scenario_job_id?api-version=2024-01-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:36:57 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 18:36:57 GMT",
        "trace-id": "3474b9d9-98d9-a666-5f54-e2b4ad325da8"
      },
      "ResponseBody": {
        "id": "assignment_scenario_job_id",
        "status": "closed",
        "enqueuedAt": "2024-02-29T18:36:48.7609847\u002B00:00",
        "channelId": "fakeChannel1",
        "queueId": "_test_assignment_scenario_tst_q",
        "priority": 1,
        "dispositionCode": "Closed",
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {
          "eadcfe64-da97-4d6c-8493-7470f4a42600": {
            "assignmentId": "eadcfe64-da97-4d6c-8493-7470f4a42600",
            "workerId": "_test_assignment_scenario_tst_w",
            "assignedAt": "2024-02-29T18:36:56.4990849\u002B00:00",
            "completedAt": "2024-02-29T18:36:57.4742518\u002B00:00",
            "closedAt": "2024-02-29T18:36:57.5886077\u002B00:00"
          }
        },
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/_test_assignment_scenario_tst_dp?api-version=2024-01-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 18:36:58 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "trace-id": "a5bc60d1-7c2e-b7d3-c00c-1dd8258b129b"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
