{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_list_exception_policies_tst_dp?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 01:43:53 GMT"
      },
      "RequestBody": {
        "name": "test_list_exception_policies_tst_dp",
        "offerExpiresAfterSeconds": 10.0,
        "mode": {
          "kind": "roundRobin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 01:43:54 GMT",
        "trace-id": "ac3bfeaa-2018-2c6f-072d-95f963fc198e"
      },
      "ResponseBody": {
        "id": "test_list_exception_policies_tst_dp",
        "name": "test_list_exception_policies_tst_dp",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "roundRobin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_list_exception_policies_tst_q?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 01:43:54 GMT"
      },
      "RequestBody": {
        "name": "test_list_exception_policies_tst_q",
        "distributionPolicyId": "test_list_exception_policies_tst_dp",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 01:43:54 GMT",
        "trace-id": "0b9cbb4b-2c3e-47e2-f9f7-87f043b09edb"
      },
      "ResponseBody": {
        "id": "test_list_exception_policies_tst_q",
        "name": "test_list_exception_policies_tst_q",
        "distributionPolicyId": "test_list_exception_policies_tst_dp",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1,
          "Id": "test_list_exception_policies_tst_q"
        },
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/test_list_exception_policies_tst_cp?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 01:43:54 GMT"
      },
      "RequestBody": {
        "name": "test_list_exception_policies_tst_cp",
        "fallbackQueueId": "test_list_exception_policies_tst_q"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 01:43:54 GMT",
        "trace-id": "7e60175e-6fcd-cba7-0278-789c5b21683a"
      },
      "ResponseBody": {
        "id": "test_list_exception_policies_tst_cp",
        "name": "test_list_exception_policies_tst_cp",
        "fallbackQueueId": "test_list_exception_policies_tst_q",
        "queueSelectorAttachments": [],
        "workerSelectorAttachments": [],
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_list_ep_1?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 01:43:54 GMT"
      },
      "RequestBody": {
        "name": "tst_list_ep_1",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queueLength",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "cancel"
              }
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 01:43:54 GMT",
        "trace-id": "71ed2e90-f383-d1e6-86ec-2d98a4be4703"
      },
      "ResponseBody": {
        "id": "tst_list_ep_1",
        "name": "tst_list_ep_1",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queueLength",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "cancel",
                "id": "3561e481-9a37-4db4-8f1b-079598445a57"
              }
            ]
          }
        ],
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies?api-version=2024-01-18-preview\u0026maxpagesize=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 01:43:54 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "ff18f6e8-eff3-0ad3-f29d-7c1ff109dab6"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "tst_list_ep_3",
            "name": "tst_list_ep_3",
            "exceptionRules": [
              {
                "id": "fakeExceptionRuleId",
                "trigger": {
                  "kind": "queueLength",
                  "threshold": 1
                },
                "actions": [
                  {
                    "kind": "cancel",
                    "id": "1575442c-4237-4e24-88ae-6b3aab52c2d8"
                  }
                ]
              }
            ],
            "etag": "Sanitized"
          },
          {
            "id": "tst_list_ep_2",
            "name": "tst_list_ep_2",
            "exceptionRules": [
              {
                "id": "fakeExceptionRuleId",
                "trigger": {
                  "kind": "queueLength",
                  "threshold": 1
                },
                "actions": [
                  {
                    "kind": "cancel",
                    "id": "f087e7a8-20b3-46e6-bea9-b1e9a0fe611e"
                  }
                ]
              }
            ],
            "etag": "Sanitized"
          }
        ],
        "nextLink": "/routing/exceptionPolicies?continuationToken=Y29udGludWF0aW9uVG9rZW49VzNzaWRHOXJaVzRpT2lJclVrbEVPbjVYT1c5V1FVOWtWa2xzUVRWQ1VVRkJRVUZCUVVGQlBUMGpVbFE2TVNOVVVrTTZNaU5TVkVRNlFVRTlQU05KVTFZNk1pTkpSVTg2TmpVMU5qY2pVVU5HT2pnalJsQkRPa0ZuUlVGQlFVRkhRVTV4UlZWUlFVRkNkejA5SWl3aWNtRnVaMlVpT25zaWJXbHVJam9pSWl3aWJXRjRJam9pUmtZaWZYMWQmbWF4cGFnZXNpemU9Mg%3D%3D"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies?continuationToken=Y29udGludWF0aW9uVG9rZW49VzNzaWRHOXJaVzRpT2lJclVrbEVPbjVYT1c5V1FVOWtWa2xzUVRWQ1VVRkJRVUZCUVVGQlBUMGpVbFE2TVNOVVVrTTZNaU5TVkVRNlFVRTlQU05KVTFZNk1pTkpSVTg2TmpVMU5qY2pVVU5HT2pnalJsQkRPa0ZuUlVGQlFVRkhRVTV4UlZWUlFVRkNkejA5SWl3aWNtRnVaMlVpT25zaWJXbHVJam9pSWl3aWJXRjRJam9pUmtZaWZYMWQmbWF4cGFnZXNpemU9Mg%3D%3D\u0026api-version=2024-01-18-preview",
      "RequestMethod": "GET",
      "RequestHead[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_list_ep_1?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 01:43:54 GMT"
      },
      "RequestBody": {
        "name": "tst_list_ep_1",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queueLength",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "manualReclassify",
                "queueId": "test_list_exception_policies_tst_q",
                "priority": 1
              }
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 01:43:55 GMT",
        "trace-id": "7a823ec7-2333-5d9d-e712-aec73bfa1d64"
      },
      "ResponseBody": {
        "id": "tst_list_ep_1",
        "name": "tst_list_ep_1",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queueLength",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "manualReclassify",
                "queueId": "test_list_exception_policies_tst_q",
                "priority": 1,
                "workerSelectors": [],
                "id": "e781d925-2996-49ba-a45f-98cd89144597"
              }
            ]
          }
        ],
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_list_ep_1?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 01:43:55 GMT"
      },
      "RequestBody": {
        "name": "tst_list_ep_1",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queueLength",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "reclassify",
                "classificationPolicyId": "test_list_exception_policies_tst_cp"
              }
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 01:43:55 GMT",
        "trace-id": "a002b5df-9d91-7c0b-1679-70325fb8d249"
      },
      "ResponseBody": {
        "id": "tst_list_ep_1",
        "name": "tst_list_ep_1",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "queueLength",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "reclassify",
                "classificationPolicyId": "test_list_exception_policies_tst_cp",
                "labelsToUpsert": {},
                "id": "c3683a8c-31c9-4051-abc6-c4e93b2a5adc"
              }
            ]
          }
        ],
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_list_ep_1?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 01:43:55 GMT"
      },
      "RequestBody": {
        "name": "tst_list_ep_1",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "waitTime",
              "thresholdSeconds": 3600
            },
            "actions": [
              {
                "kind": "cancel"
              }
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 29 Feb 2024 01:43:56 GMT",
        "trace-id": "9b8c613f-dcf1-eb39-8800-8324b046bac5"
      },
      "ResponseBody": {
        "id": "tst_list_ep_1",
        "name": "tst_list_ep_1",
        "exceptionRules": [
          {
            "id": "fakeExceptionRuleId",
            "trigger": {
              "kind": "waitTime",
              "thresholdSeconds": 3600
            },
            "actions": [
              {
                "kind": "cancel",
                "id": "c14faa75-78f2-4cc3-aab2-44d50be43c9c"
              }
            ]
          }
        ],
        "etag": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_list_ep_2?api-version=2024-01-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Feb 2024 01:43:57 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "trace-id": "9d26cf95-a23a-7db7-7566-32d3a10e5cca"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
