{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer63f3f45?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 03 May 2024 23:38:38 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerAlreadyExists</Code><Message>The specified container already exists.\n",
        "RequestId:4e4c1e9f-d01e-003a-1bb3-9dec59000000\n",
        "Time:2024-05-03T23:38:39.7486034Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer63f3f45/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 03 May 2024 23:38:38 GMT",
        "x-ms-meta-test": "val",
        "x-ms-meta-test__": "val",
        "x-ms-meta-test_-": "val",
        "x-ms-meta-test_a": "val",
        "x-ms-meta-test_a_": "val",
        "x-ms-meta-test_a-": "val",
        "x-ms-meta-test_a-_": "val",
        "x-ms-meta-test_Z": "val",
        "x-ms-meta-test-": "val",
        "x-ms-meta-test-_": "val",
        "x-ms-meta-test-_A": "val",
        "x-ms-meta-test--": "val",
        "x-ms-meta-test-A": "val",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "aGVsbG8gd29ybGQ=",
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidMetadata",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidMetadata</Code><Message>The metadata specified is invalid. It has characters that are not permitted.\n",
        "RequestId:4e4c1ea2-d01e-003a-1cb3-9dec59000000\n",
        "Time:2024-05-03T23:38:39.8295769Z</Message></Error>"
      ]
    }
  ],
  "Variables": {}
}
