{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontainere1ef2c60?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Feb 2026 06:57:03 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE654CEEEFDDA8\"",
        "Last-Modified": "Fri, 06 Feb 2026 06:57:03 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontainere1ef2c60/blobe1ef2c60",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 06 Feb 2026 06:57:03 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "YWJjZGFiY2RhYmNkYWJjZA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "KSXELJK2u9LY95fHzp6JRg==",
        "ETag": "\"0x8DE654CEEFDC756\"",
        "Last-Modified": "Fri, 06 Feb 2026 06:57:03 GMT",
        "x-ms-content-crc64": "43DmRjf0HOQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontainere1ef2c60/blobe1ef2c60",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Feb 2026 06:57:03 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-15/16",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE654CEEFDC756\"",
        "Last-Modified": "Fri, 06 Feb 2026 06:57:03 GMT",
        "x-ms-blob-content-md5": "KSXELJK2u9LY95fHzp6JRg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 06 Feb 2026 06:57:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "YWJjZGFiY2RhYmNkYWJjZA=="
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontainere1ef2c60?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Feb 2026 06:57:05 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
