{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/oauthcontainer1ca82c5c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 10 Mar 2026 18:06:01 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7ECFB0AE8686\"",
        "Last-Modified": "Tue, 10 Mar 2026 18:06:02 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-date": "Tue, 10 Mar 2026 18:06:02 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": [
        "<?xml version='1.0' encoding='utf-8'?>\n",
        "<KeyInfo><Start>2026-03-10T18:06:02Z</Start><Expiry>2026-03-10T19:06:02Z</Expiry></KeyInfo>"
      ],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>22cd328e-02c9-487e-b79c-f561696c7f54</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2026-03-10T18:06:02Z</SignedStart><SignedExpiry>2026-03-10T19:06:02Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2026-04-06</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/oauthcontainer1ca82c5c/oauthblob21ca82c5c?se=Sanitized&sp=racwd&sv=Sanitized&sr=b&skoid=22cd328e-02c9-487e-b79c-f561696c7f54&sktid=00000000-0000-0000-0000-000000000000&skt=2026-03-10T18%3A06%3A02Z&ske=2026-03-10T19%3A06%3A02Z&sks=b&skv=2026-04-06&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 10 Mar 2026 18:06:02 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "YWJjMTIz",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "6ZoYxCjLONXyYIU2eJIuAw==",
        "ETag": "\"0x8DE7ECFB0D263DC\"",
        "Last-Modified": "Tue, 10 Mar 2026 18:06:02 GMT",
        "x-ms-content-crc64": "hEhcBzKmAIM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-10T18:06:02.3097308Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/oauthcontainer1ca82c5c/oauthblob1ca82c5c?comp=block&blockid=MQ%3D%3D&se=Sanitized&sp=c&sv=Sanitized&sr=b&skoid=22cd328e-02c9-487e-b79c-f561696c7f54&sktid=00000000-0000-0000-0000-000000000000&skt=2026-03-10T18%3A06%3A02Z&ske=2026-03-10T19%3A06%3A02Z&sks=b&skv=2026-04-06&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "Sanitized",
        "x-ms-date": "Tue, 10 Mar 2026 18:06:02 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "hEhcBzKmAIM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "expiry": "2026-03-10T19:06:02.129054",
    "start": "2026-03-10T18:06:02.122238"
  }
}
