{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontaineraf2b35bc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 24 Jul 2024 22:25:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerAlreadyExists</Code><Message>The specified container already exists.\n",
        "RequestId:63d657f9-e01e-005e-0218-de4870000000\n",
        "Time:2024-07-24T22:25:06.5434196Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontaineraf2b35bc/encryptionv2_blobaf2b35bc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 24 Jul 2024 22:25:06 GMT",
        "x-ms-meta-encryptiondata": "{\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"c3EwcBUQIku7ptntzfboaKwfdJmsOcVcOgfPAe30gAhEPkek8GsgMKRREXKhWZfG\", \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"2.0\", \"EncryptionAlgorithm\": \"AES_GCM_256\"}, \"EncryptedRegionInfo\": {\"DataLength\": 4194304, \"NonceLength\": 12}, \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python x.x.x\"}, \"EncryptionMode\": \"FullBlob\"}",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "AAAAAAAAAAAAAAAA36fti93e3c5nphghXMQznudhdD1KYf09pvx+Kjk2Jr24Vj20AEg=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "xG6OVIdph565MYIjlAzAkQ==",
        "ETag": "\"0x8DCAC2F789A067B\"",
        "Last-Modified": "Wed, 24 Jul 2024 22:25:06 GMT",
        "x-ms-content-crc64": "QlU2q8PhGGs=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontaineraf2b35bc/encryptionv2_blobaf2b35bc",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Wed, 24 Jul 2024 22:25:06 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "xG6OVIdph565MYIjlAzAkQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCAC2F789A067B\"",
        "Last-Modified": "Wed, 24 Jul 2024 22:25:06 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 11 Jan 2024 23:01:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"c3EwcBUQIku7ptntzfboaKwfdJmsOcVcOgfPAe30gAhEPkek8GsgMKRREXKhWZfG\", \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"2.0\", \"EncryptionAlgorithm\": \"AES_GCM_256\"}, \"EncryptedRegionInfo\": {\"DataLength\": 4194304, \"NonceLength\": 12}, \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python x.x.x\"}, \"EncryptionMode\": \"FullBlob\"}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontaineraf2b35bc/encryptionv2_blobaf2b35bc?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 24 Jul 2024 22:25:06 GMT",
        "x-ms-meta-encryptiondata": "{\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"zJpSf8DOs/fwIVPrWYZJkB+6MPGuLB9+PseTfxgbcDLGChi7TyYa0A==\", \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"2.0\", \"EncryptionAlgorithm\": \"AES_GCM_256\"}, \"EncryptedRegionInfo\": {\"DataLength\": 4194304, \"NonceLength\": 12}, \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python x.x.x\"}, \"EncryptionMode\": \"FullBlob\"}",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCAC2F78B3656F\"",
        "Last-Modified": "Wed, 24 Jul 2024 22:25:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontaineraf2b35bc/encryptionv2_blobaf2b35bc",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Wed, 24 Jul 2024 22:25:06 GMT",
        "x-ms-range": "bytes=0-33554655",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-49/50",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCAC2F78B3656F\"",
        "Last-Modified": "Wed, 24 Jul 2024 22:25:06 GMT",
        "x-ms-blob-content-md5": "xG6OVIdph565MYIjlAzAkQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 11 Jan 2024 23:01:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"zJpSf8DOs/fwIVPrWYZJkB+6MPGuLB9+PseTfxgbcDLGChi7TyYa0A==\", \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"2.0\", \"EncryptionAlgorithm\": \"AES_GCM_256\"}, \"EncryptedRegionInfo\": {\"DataLength\": 4194304, \"NonceLength\": 12}, \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python x.x.x\"}, \"EncryptionMode\": \"FullBlob\"}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "AAAAAAAAAAAAAAAA36fti93e3c5nphghXMQznudhdD1KYf09pvx+Kjk2Jr24Vj20AEg="
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontaineraf2b35bc/encryptionv2_blobaf2b35bc",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Wed, 24 Jul 2024 22:25:09 GMT",
        "x-ms-range": "bytes=0-33554655",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-49/50",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCAC2F78B3656F\"",
        "Last-Modified": "Wed, 24 Jul 2024 22:25:06 GMT",
        "x-ms-blob-content-md5": "xG6OVIdph565MYIjlAzAkQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 11 Jan 2024 23:01:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"zJpSf8DOs/fwIVPrWYZJkB+6MPGuLB9+PseTfxgbcDLGChi7TyYa0A==\", \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"2.0\", \"EncryptionAlgorithm\": \"AES_GCM_256\"}, \"EncryptedRegionInfo\": {\"DataLength\": 4194304, \"NonceLength\": 12}, \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python x.x.x\"}, \"EncryptionMode\": \"FullBlob\"}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "AAAAAAAAAAAAAAAA36fti93e3c5nphghXMQznudhdD1KYf09pvx+Kjk2Jr24Vj20AEg="
    }
  ],
  "Variables": {}
}
