{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/oauthcontainer972c2b27?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 10 Mar 2026 18:05:42 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7ECFA9060FE1\"",
        "Last-Modified": "Tue, 10 Mar 2026 18:05:49 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-date": "Tue, 10 Mar 2026 18:05:49 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": [
        "<?xml version='1.0' encoding='utf-8'?>\n",
        "<KeyInfo><Start>2026-03-10T18:05:49Z</Start><Expiry>2026-03-10T19:05:49Z</Expiry></KeyInfo>"
      ],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>22cd328e-02c9-487e-b79c-f561696c7f54</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2026-03-10T18:05:49Z</SignedStart><SignedExpiry>2026-03-10T19:05:49Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2026-04-06</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/oauthcontainer972c2b27/oauthblob972c2b27?comp=block&blockid=MQ%3D%3D&se=Sanitized&sp=c&sv=Sanitized&sr=b&skoid=22cd328e-02c9-487e-b79c-f561696c7f54&sktid=00000000-0000-0000-0000-000000000000&skt=2026-03-10T18%3A05%3A49Z&ske=2026-03-10T19%3A05%3A49Z&sks=b&skv=2026-04-06&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 10 Mar 2026 18:05:49 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "QUFB",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "Cc/2Kr4DuKg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/oauthcontainer972c2b27/oauthblob972c2b27?comp=block&blockid=Mg%3D%3D&se=Sanitized&sp=c&sv=Sanitized&sr=b&skoid=22cd328e-02c9-487e-b79c-f561696c7f54&sktid=00000000-0000-0000-0000-000000000000&skt=2026-03-10T18%3A05%3A49Z&ske=2026-03-10T19%3A05%3A49Z&sks=b&skv=2026-04-06&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 10 Mar 2026 18:05:49 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "QkJC",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "+3yuPEA7IqE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/oauthcontainer972c2b27/oauthblob972c2b27?comp=block&blockid=Mw%3D%3D&se=Sanitized&sp=c&sv=Sanitized&sr=b&skoid=22cd328e-02c9-487e-b79c-f561696c7f54&sktid=00000000-0000-0000-0000-000000000000&skt=2026-03-10T18%3A05%3A49Z&ske=2026-03-10T19%3A05%3A49Z&sks=b&skv=2026-04-06&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 10 Mar 2026 18:05:49 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "Q0ND",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "VRJmMeosVKY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/oauthcontainer972c2b27/oauthblob972c2b27?comp=blocklist&se=Sanitized&sp=c&sv=Sanitized&sr=b&skoid=22cd328e-02c9-487e-b79c-f561696c7f54&sktid=00000000-0000-0000-0000-000000000000&skt=2026-03-10T18%3A05%3A49Z&ske=2026-03-10T19%3A05%3A49Z&sks=b&skv=2026-04-06&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-date": "Tue, 10 Mar 2026 18:05:49 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": [
        "<?xml version='1.0' encoding='utf-8'?>\n",
        "<BlockList><Latest>Mw==</Latest><Latest>Mg==</Latest><Latest>MQ==</Latest></BlockList>"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7ECFA9635F4F\"",
        "Last-Modified": "Tue, 10 Mar 2026 18:05:49 GMT",
        "x-ms-content-crc64": "UqhiIWvb/nU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-10T18:05:49.8381135Z"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "expiry": "2026-03-10T19:05:49.299021",
    "start": "2026-03-10T18:05:49.290644"
  }
}
