{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontainer49b7356d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 15 Apr 2026 02:31:31 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE9A971AB62208\"",
        "Last-Modified": "Wed, 15 Apr 2026 02:31:31 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontainer49b7356d/testblob149b7356d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Apr 2026 02:31:31 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "aXNvbGF0aW9udGVzdDE=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "IGqgqeZLn0oiUUxvSqgoIA==",
        "ETag": "\"0x8DE9A971ABADF95\"",
        "Last-Modified": "Wed, 15 Apr 2026 02:31:31 GMT",
        "x-ms-content-crc64": "UfpHMD/9C2M=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontainer49b7356d/testblob149b7356d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Wed, 15 Apr 2026 02:31:31 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-13/14",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE9A971ABADF95\"",
        "Last-Modified": "Wed, 15 Apr 2026 02:31:31 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-content-md5": "IGqgqeZLn0oiUUxvSqgoIA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 15 Apr 2026 02:31:31 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "aXNvbGF0aW9udGVzdDE="
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontainer49b7356d/testblob149b7356d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Wed, 15 Apr 2026 02:31:31 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-13/14",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE9A971ABADF95\"",
        "Last-Modified": "Wed, 15 Apr 2026 02:31:31 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-content-md5": "IGqgqeZLn0oiUUxvSqgoIA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 15 Apr 2026 02:31:31 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "aXNvbGF0aW9udGVzdDE="
    }
  ],
  "Variables": {}
}
