{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontainer22e53a4a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 24 Jul 2024 22:15:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerAlreadyExists</Code><Message>The specified container already exists.\n",
        "RequestId:9ee4a6c3-a01e-005f-3c17-de17ac000000\n",
        "Time:2024-07-24T22:15:48.2601200Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontainer22e53a4a/encryptionv2_blob22e53a4a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 24 Jul 2024 22:15:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "SGVsbG8gV29ybGQgTm90IEVuY3J5cHRlZCE=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "o87WgihooSvxgQmgMUvigg==",
        "ETag": "\"0x8DCAC2E2BD4C111\"",
        "Last-Modified": "Wed, 24 Jul 2024 22:15:48 GMT",
        "x-ms-content-crc64": "Uo3ZNCShFc8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontainer22e53a4a/encryptionv2_blob22e53a4a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Wed, 24 Jul 2024 22:15:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "o87WgihooSvxgQmgMUvigg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCAC2E2BD4C111\"",
        "Last-Modified": "Wed, 24 Jul 2024 22:15:48 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 11 Jan 2024 23:01:31 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontainer22e53a4a/encryptionv2_blob22e53a4a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Wed, 24 Jul 2024 22:15:48 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-25/26",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCAC2E2BD4C111\"",
        "Last-Modified": "Wed, 24 Jul 2024 22:15:48 GMT",
        "x-ms-blob-content-md5": "o87WgihooSvxgQmgMUvigg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 11 Jan 2024 23:01:31 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "SGVsbG8gV29ybGQgTm90IEVuY3J5cHRlZCE="
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontainer22e53a4a/encryptionv2_blob22e53a4a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Wed, 24 Jul 2024 22:15:50 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-25/26",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCAC2E2BD4C111\"",
        "Last-Modified": "Wed, 24 Jul 2024 22:15:48 GMT",
        "x-ms-blob-content-md5": "o87WgihooSvxgQmgMUvigg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 11 Jan 2024 23:01:31 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "SGVsbG8gV29ybGQgTm90IEVuY3J5cHRlZCE="
    }
  ],
  "Variables": {}
}
