{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/acontainerfa743a50?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 11 Nov 2025 12:15:51 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE211C0EC74DFA\"",
        "Last-Modified": "Tue, 11 Nov 2025 12:15:52 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/acontainerfa743a50?restype=container&comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 11 Nov 2025 12:15:52 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE211C0EEAC9F9\"",
        "Last-Modified": "Tue, 11 Nov 2025 12:15:52 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/acontainerfa743a50?restype=container&comp=acl",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Tue, 11 Nov 2025 12:15:52 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\"0x8DE211C0EEAC9F9\"",
        "Last-Modified": "Tue, 11 Nov 2025 12:15:52 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers />"
    }
  ],
  "Variables": {}
}
