{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/oauthcontainer9c6f2fa2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 29 Jan 2026 20:49:52 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5F77F3F789E9\"",
        "Last-Modified": "Thu, 29 Jan 2026 20:49:53 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-date": "Thu, 29 Jan 2026 20:49:53 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": [
        "<?xml version='1.0' encoding='utf-8'?>\n",
        "<KeyInfo><Start>2026-01-29T20:49:53Z</Start><Expiry>2026-01-29T21:49:53Z</Expiry></KeyInfo>"
      ],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>22cd328e-02c9-487e-b79c-f561696c7f54</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2026-01-29T20:49:53Z</SignedStart><SignedExpiry>2026-01-29T21:49:53Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2026-04-06</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/oauthcontainer9c6f2fa2/oauthblob9c6f2fa2?comp=blocklist&se=Sanitized&sp=c&sv=Sanitized&sr=b&skoid=22cd328e-02c9-487e-b79c-f561696c7f54&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2026-01-29T20:49:53Z&ske=2026-01-29T21:49:53Z&sks=b&skv=2026-04-06&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-date": "Thu, 29 Jan 2026 20:49:53 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": [
        "<?xml version='1.0' encoding='utf-8'?>\n",
        "<BlockList />"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5F77F410D784\"",
        "Last-Modified": "Thu, 29 Jan 2026 20:49:53 GMT",
        "x-ms-content-crc64": "XhlelRfdiCo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "expiry": "2026-01-29T21:49:53.243794",
    "start": "2026-01-29T20:49:53.242154"
  }
}
