{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer10f12ea1?restype=container&timeout=5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 01 May 2024 17:14:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A021C43D90A\"",
        "Last-Modified": "Wed, 01 May 2024 17:14:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainersource10f12ea1?restype=container&timeout=5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 01 May 2024 17:14:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A021C4EF021\"",
        "Last-Modified": "Wed, 01 May 2024 17:14:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/?restype=account&comp=properties&se=2024-05-01T18%3A14%3A07Z&sp=r&sv=2024-08-04&ss=b&srt=s&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Wed, 01 May 2024 17:14:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-account-kind": "StorageV2",
        "x-ms-is-hns-enabled": "false",
        "x-ms-sku-name": "Standard_LRS",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer10f12ea1?restype=account&comp=properties&se=2024-05-01T18%3A14%3A07Z&sp=r&sv=2024-08-04&sr=c&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Wed, 01 May 2024 17:14:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-account-kind": "StorageV2",
        "x-ms-is-hns-enabled": "false",
        "x-ms-sku-name": "Standard_LRS",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer10f12ea1/blob10f12ea1?restype=account&comp=properties&se=2024-05-01T18%3A14%3A07Z&sp=r&sv=2024-08-04&sr=b&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Wed, 01 May 2024 17:14:08 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-account-kind": "StorageV2",
        "x-ms-is-hns-enabled": "false",
        "x-ms-sku-name": "Standard_LRS",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
