{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer2b7338d3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 02 May 2024 17:10:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6ACACD8F3972\"",
        "Last-Modified": "Thu, 02 May 2024 17:10:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainersource12b7338d3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 02 May 2024 17:10:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6ACACDA3D271\"",
        "Last-Modified": "Thu, 02 May 2024 17:10:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer2b7338d3/targetblob?comp=block&blockid=MQ%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "Sanitized",
        "x-ms-date": "Thu, 02 May 2024 17:10:44 GMT",
        "x-ms-source-range": "bytes=0-4095",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-copy-source-error-code": "PublicAccessNotPermitted",
        "x-ms-copy-source-status-code": "409",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>CannotVerifyCopySource</Code><Message>Public access is not permitted on this storage account.\n",
        "RequestId:6a5434c6-e01e-0001-32b3-9c1b65000000\n",
        "Time:2024-05-02T17:10:44.9231370Z</Message><CopySourceStatusCode>409</CopySourceStatusCode><CopySourceErrorCode>PublicAccessNotPermitted</CopySourceErrorCode><CopySourceErrorMessage>Public access is not permitted on this storage account.</CopySourceErrorMessage></Error>"
      ]
    }
  ],
  "Variables": {}
}
