{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontainer7ba2ed7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 30 Jun 2025 17:33:51 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerAlreadyExists",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerAlreadyExists</Code><Message>The specified container already exists.\n",
        "RequestId:f947b0ed-a01e-001b-74e5-e90b43000000\n",
        "Time:2025-06-30T17:33:52.7236189Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontainer7ba2ed7/blob7ba2ed7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 30 Jun 2025 17:33:52 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "SGVsbG8gQXN5bmMgV29ybGQh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "I3pVbaOCUTom+G9F9uKFoA==",
        "ETag": "\"0x8DDB7FC484FDF3D\"",
        "Last-Modified": "Mon, 30 Jun 2025 17:33:52 GMT",
        "x-ms-content-crc64": "EbYwp1zrrC8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontainer7ba2ed7/blob7ba2ed7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Mon, 30 Jun 2025 17:33:53 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-17/18",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDB7FC484FDF3D\"",
        "Last-Modified": "Mon, 30 Jun 2025 17:33:52 GMT",
        "x-ms-blob-content-md5": "I3pVbaOCUTom+G9F9uKFoA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 30 Jun 2025 17:33:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "SGVsbG8gQXN5bmMgV29ybGQh"
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontainer7ba2ed7/blob7ba2ed7",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Mon, 30 Jun 2025 17:33:53 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
