{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontainer99382f7f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 22 May 2024 21:38:05 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC7AA7776714FD\"",
        "Last-Modified": "Wed, 22 May 2024 21:38:06 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontainer99382f7f/blob99382f7f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 22 May 2024 21:38:06 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "5L2g5aW95LiW55WM5L2g5aW95LiW55WM5L2g5aW95LiW55WM5L2g5aW95LiW55WM5L2g5aW95LiW55WM",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "50xo1NxTGbtkSvL3O8ELyw==",
        "ETag": "\"0x8DC7AA77775B023\"",
        "Last-Modified": "Wed, 22 May 2024 21:38:06 GMT",
        "x-ms-content-crc64": "kxkrbXjJt00=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontainer99382f7f/blob99382f7f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Wed, 22 May 2024 21:38:06 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-59/60",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC7AA77775B023\"",
        "Last-Modified": "Wed, 22 May 2024 21:38:06 GMT",
        "x-ms-blob-content-md5": "50xo1NxTGbtkSvL3O8ELyw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 22 May 2024 21:38:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": "5L2g5aW95LiW55WM5L2g5aW95LiW55WM5L2g5aW95LiW55WM5L2g5aW95LiW55WM5L2g5aW95LiW55WM"
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontainer99382f7f/blob99382f7f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Wed, 22 May 2024 21:38:06 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-59/60",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC7AA77775B023\"",
        "Last-Modified": "Wed, 22 May 2024 21:38:06 GMT",
        "x-ms-blob-content-md5": "50xo1NxTGbtkSvL3O8ELyw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 22 May 2024 21:38:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": "5L2g5aW95LiW55WM5L2g5aW95LiW55WM5L2g5aW95LiW55WM5L2g5aW95LiW55WM5L2g5aW95LiW55WM"
    }
  ],
  "Variables": {}
}
