{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontainer36c13116?restype=container&timeout=5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 17 Jun 2026 16:01:04 GMT",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DECC89A50811A8\"",
        "Last-Modified": "Wed, 17 Jun 2026 16:01:08 GMT",
        "x-ms-version": "2026-10-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontainersource36c13116?restype=container&timeout=5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 17 Jun 2026 16:01:11 GMT",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DECC89A658F596\"",
        "Last-Modified": "Wed, 17 Jun 2026 16:01:10 GMT",
        "x-ms-version": "2026-10-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontainer36c13116/blob36c13116",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Jun 2026 16:01:12 GMT",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": "aGVsbG8gd29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "XrY7u+Ae7tCTyyK7j1rNww==",
        "ETag": "\"0x8DECC89A6DE983F\"",
        "Last-Modified": "Wed, 17 Jun 2026 16:01:11 GMT",
        "x-ms-content-crc64": "vo7q9sPVKY0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-10-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontainer36c13116/blob36c13116?comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-access-tier": "Smart",
        "x-ms-date": "Wed, 17 Jun 2026 16:01:13 GMT",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2026-10-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontainer36c13116/blob36c13116",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Wed, 17 Jun 2026 16:01:15 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-10/11",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DECC89A6DE983F\"",
        "Last-Modified": "Wed, 17 Jun 2026 16:01:11 GMT",
        "x-ms-access-tier": "Smart",
        "x-ms-access-tier-change-time": "Wed, 17 Jun 2026 16:01:12 GMT",
        "x-ms-blob-content-md5": "XrY7u+Ae7tCTyyK7j1rNww==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 17 Jun 2026 16:01:11 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-smart-access-tier": "Hot",
        "x-ms-version": "2026-10-06"
      },
      "ResponseBody": "aGVsbG8gd29ybGQ="
    }
  ],
  "Variables": {}
}
