{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontainer9c2933d4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 30 Jun 2026 08:46:36 GMT",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DED68417A88A59\"",
        "Last-Modified": "Tue, 30 Jun 2026 08:46:35 GMT",
        "x-ms-version": "2026-10-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontainersource9c2933d4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 30 Jun 2026 08:46:37 GMT",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DED68417D69A48\"",
        "Last-Modified": "Tue, 30 Jun 2026 08:46:35 GMT",
        "x-ms-version": "2026-10-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontainer9c2933d4/blob9c2933d4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 30 Jun 2026 08:46:37 GMT",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DED68417F7D45A\"",
        "Last-Modified": "Tue, 30 Jun 2026 08:46:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-10-06",
        "x-ms-version-id": "2026-06-30T08:46:35.9333978Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontainer9c2933d4/blob9c2933d4?versionid=2026-06-30T08:46:35.9333978Z",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 30 Jun 2026 08:46:37 GMT",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DED68417F7D45A\"",
        "Last-Modified": "Tue, 30 Jun 2026 08:46:35 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Jun 2026 08:46:35 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-10-06",
        "x-ms-version-id": "2026-06-30T08:46:35.9333978Z"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
