{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/directorysascontainer76542f5e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 27 Mar 2026 01:01:01 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE8B9C50B0F718\"",
        "Last-Modified": "Fri, 27 Mar 2026 01:01:01 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-date": "Fri, 27 Mar 2026 01:01:01 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": [
        "<?xml version='1.0' encoding='utf-8'?>\n",
        "<KeyInfo><Start>2026-03-27T01:01:01Z</Start><Expiry>2026-03-27T02:01:01Z</Expiry></KeyInfo>"
      ],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>50301dfb-b156-4e30-afdd-0aa23c012e07</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2026-03-27T01:01:01Z</SignedStart><SignedExpiry>2026-03-27T02:01:01Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2026-04-06</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/directorysascontainer76542f5e/foo?se=Sanitized&sp=racwd&sv=Sanitized&sr=d&sdd=1&skoid=50301dfb-b156-4e30-afdd-0aa23c012e07&sktid=00000000-0000-0000-0000-000000000000&skt=2026-03-27T01:01:01Z&ske=2026-03-27T02:01:01Z&sks=b&skv=2026-04-06&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 27 Mar 2026 01:01:02 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "ZGF0YQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "jXd/OF09/siBXSD3SWAm3A==",
        "ETag": "\"0x8DE8B9C50DCC104\"",
        "Last-Modified": "Fri, 27 Mar 2026 01:01:02 GMT",
        "x-ms-content-crc64": "gCf8jkNhru0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/directorysascontainer76542f5e/foo/test?se=Sanitized&sp=racwd&sv=Sanitized&sr=d&sdd=1&skoid=50301dfb-b156-4e30-afdd-0aa23c012e07&sktid=00000000-0000-0000-0000-000000000000&skt=2026-03-27T01:01:01Z&ske=2026-03-27T02:01:01Z&sks=b&skv=2026-04-06&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 27 Mar 2026 01:01:02 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "ZGF0YQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "jXd/OF09/siBXSD3SWAm3A==",
        "ETag": "\"0x8DE8B9C50E809FF\"",
        "Last-Modified": "Fri, 27 Mar 2026 01:01:02 GMT",
        "x-ms-content-crc64": "gCf8jkNhru0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/directorysascontainer76542f5e/foo/bar?se=Sanitized&sp=racwd&sv=Sanitized&sr=d&sdd=2&skoid=50301dfb-b156-4e30-afdd-0aa23c012e07&sktid=00000000-0000-0000-0000-000000000000&skt=2026-03-27T01:01:01Z&ske=2026-03-27T02:01:01Z&sks=b&skv=2026-04-06&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 27 Mar 2026 01:01:02 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "ZGF0YQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "jXd/OF09/siBXSD3SWAm3A==",
        "ETag": "\"0x8DE8B9C50F32BF3\"",
        "Last-Modified": "Fri, 27 Mar 2026 01:01:02 GMT",
        "x-ms-content-crc64": "gCf8jkNhru0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/directorysascontainer76542f5e/foo/bar/test?se=Sanitized&sp=racwd&sv=Sanitized&sr=d&sdd=2&skoid=50301dfb-b156-4e30-afdd-0aa23c012e07&sktid=00000000-0000-0000-0000-000000000000&skt=2026-03-27T01:01:01Z&ske=2026-03-27T02:01:01Z&sks=b&skv=2026-04-06&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 27 Mar 2026 01:01:02 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "ZGF0YQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "jXd/OF09/siBXSD3SWAm3A==",
        "ETag": "\"0x8DE8B9C50FE74F4\"",
        "Last-Modified": "Fri, 27 Mar 2026 01:01:02 GMT",
        "x-ms-content-crc64": "gCf8jkNhru0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/directorysascontainer76542f5e/foo/bar/hello?se=Sanitized&sp=racwd&sv=Sanitized&sr=d&sdd=3&skoid=50301dfb-b156-4e30-afdd-0aa23c012e07&sktid=00000000-0000-0000-0000-000000000000&skt=2026-03-27T01:01:01Z&ske=2026-03-27T02:01:01Z&sks=b&skv=2026-04-06&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 27 Mar 2026 01:01:02 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "ZGF0YQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "jXd/OF09/siBXSD3SWAm3A==",
        "ETag": "\"0x8DE8B9C5109E4FA\"",
        "Last-Modified": "Fri, 27 Mar 2026 01:01:02 GMT",
        "x-ms-content-crc64": "gCf8jkNhru0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/directorysascontainer76542f5e/foo/bar/hello/test?se=Sanitized&sp=racwd&sv=Sanitized&sr=d&sdd=3&skoid=50301dfb-b156-4e30-afdd-0aa23c012e07&sktid=00000000-0000-0000-0000-000000000000&skt=2026-03-27T01:01:01Z&ske=2026-03-27T02:01:01Z&sks=b&skv=2026-04-06&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 27 Mar 2026 01:01:02 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "ZGF0YQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "jXd/OF09/siBXSD3SWAm3A==",
        "ETag": "\"0x8DE8B9C5118FDF8\"",
        "Last-Modified": "Fri, 27 Mar 2026 01:01:02 GMT",
        "x-ms-content-crc64": "gCf8jkNhru0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/directorysascontainer76542f5e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 27 Mar 2026 01:01:02 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "expiry": "2026-03-27T02:01:01.950626",
    "start": "2026-03-27T01:01:01.949314"
  }
}
