{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer10f12ea1?restype=container&timeout=5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 18 Apr 2024 20:25:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC5FE5B763EA78\"",
        "Last-Modified": "Thu, 18 Apr 2024 20:25:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainersource10f12ea1?restype=container&timeout=5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 18 Apr 2024 20:25:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC5FE5B7739054\"",
        "Last-Modified": "Thu, 18 Apr 2024 20:25:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/?restype=account&comp=properties&se=2024-04-18T21%3A25%3A40Z&sp=r&sv=2024-08-04&ss=b&srt=s&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Thu, 18 Apr 2024 20:25:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-account-kind": "StorageV2",
        "x-ms-is-hns-enabled": "false",
        "x-ms-sku-name": "Standard_LRS",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer10f12ea1?restype=account&comp=properties&se=2024-04-18T21%3A25%3A40Z&sp=r&sv=2024-08-04&sr=c&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Thu, 18 Apr 2024 20:25:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-account-kind": "StorageV2",
        "x-ms-is-hns-enabled": "false",
        "x-ms-sku-name": "Standard_LRS",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer10f12ea1/blob10f12ea1?restype=account&comp=properties&se=2024-04-18T21%3A25%3A41Z&sp=r&sv=2024-08-04&sr=b&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Thu, 18 Apr 2024 20:25:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-account-kind": "StorageV2",
        "x-ms-is-hns-enabled": "false",
        "x-ms-sku-name": "Standard_LRS",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
