{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer1d453c3d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 26 Apr 2024 03:56:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerAlreadyExists</Code><Message>The specified container already exists.\n",
        "RequestId:d2b8328e-201e-0006-7e8d-9703a9000000\n",
        "Time:2024-04-26T03:56:55.0927045Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainersource1d453c3d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 26 Apr 2024 03:56:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerAlreadyExists</Code><Message>The specified container already exists.\n",
        "RequestId:d2b83291-201e-0006-7f8d-9703a9000000\n",
        "Time:2024-04-26T03:56:55.1947527Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer1d453c3d/targetblob",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "Sanitized",
        "x-ms-date": "Fri, 26 Apr 2024 03:56:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-copy-source-error-code": "BlobNotFound",
        "x-ms-copy-source-status-code": "404",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>CannotVerifyCopySource</Code><Message>The specified blob does not exist.\n",
        "RequestId:d2b83293-201e-0006-808d-9703a9000000\n",
        "Time:2024-04-26T03:56:55.4947049Z</Message><CopySourceStatusCode>404</CopySourceStatusCode><CopySourceErrorCode>BlobNotFound</CopySourceErrorCode><CopySourceErrorMessage>The specified blob does not exist.</CopySourceErrorMessage></Error>"
      ]
    }
  ],
  "Variables": {}
}
