{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/directorysascontainer54132cde?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 27 Mar 2026 01:00:51 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE8B9C4AB805BD\"",
        "Last-Modified": "Fri, 27 Mar 2026 01:00:51 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-date": "Fri, 27 Mar 2026 01:00:51 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": [
        "<?xml version='1.0' encoding='utf-8'?>\n",
        "<KeyInfo><Start>2026-03-27T01:00:51Z</Start><Expiry>2026-03-27T02:00:51Z</Expiry></KeyInfo>"
      ],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>50301dfb-b156-4e30-afdd-0aa23c012e07</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2026-03-27T01:00:51Z</SignedStart><SignedExpiry>2026-03-27T02:00:51Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2026-04-06</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/directorysascontainer54132cde/foo/bar?se=Sanitized&sp=racwd&sv=Sanitized&sr=d&sdd=3&skoid=50301dfb-b156-4e30-afdd-0aa23c012e07&sktid=00000000-0000-0000-0000-000000000000&skt=2026-03-27T01%3A00%3A51Z&ske=2026-03-27T02%3A00%3A51Z&sks=b&skv=2026-04-06&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 27 Mar 2026 01:00:51 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "ZGF0YQ==",
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthenticationFailed"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.\n",
        "RequestId:2bcbbea7-f01e-0040-3c85-bd09f6000000\n",
        "Time:2026-03-27T01:00:52.0036154Z</Message><AuthenticationErrorDetail>Signed Directory Depth Invalid</AuthenticationErrorDetail></Error>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/directorysascontainer54132cde?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 27 Mar 2026 01:00:52 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "expiry": "2026-03-27T02:00:51.858876",
    "start": "2026-03-27T01:00:51.856468"
  }
}
