{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 01 Jun 2026 16:40:06 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEBFFC712DD4ED\"",
        "Last-Modified": "Mon, 01 Jun 2026 16:40:08 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container1/c1b1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 01 Jun 2026 16:40:08 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "YWJjMTIz",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "6ZoYxCjLONXyYIU2eJIuAw==",
        "ETag": "\"0x8DEBFFC714962E2\"",
        "Last-Modified": "Mon, 01 Jun 2026 16:40:08 GMT",
        "x-ms-content-crc64": "hEhcBzKmAIM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container1?restype=container&comp=session",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-date": "Mon, 01 Jun 2026 16:40:09 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": [
        "<?xml version='1.0' encoding='utf-8'?>\n",
        "<CreateSessionRequest><AuthenticationType>HMAC</AuthenticationType></CreateSessionRequest>"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<CreateSessionResult><Id>2ccb7e75b57d4458874a2fb6956c7cb7</Id><Expiration>Mon, 01 Jun 2026 16:45:09 GMT</Expiration><AuthenticationType>HMAC</AuthenticationType><Credentials><SessionToken>Sanitized</SessionToken><SessionKey>Sanitized</SessionKey></Credentials></CreateSessionResult>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container1/c1b1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Mon, 01 Jun 2026 16:40:09 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-5/6",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEBFFC714962E2\"",
        "Last-Modified": "Mon, 01 Jun 2026 16:40:08 GMT",
        "x-ms-blob-content-md5": "6ZoYxCjLONXyYIU2eJIuAw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 01 Jun 2026 16:40:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "YWJjMTIz"
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container2/c2b2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Mon, 01 Jun 2026 16:40:10 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-5/6",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEBFFC71F65202\"",
        "Last-Modified": "Mon, 01 Jun 2026 16:40:09 GMT",
        "x-ms-blob-content-md5": "8mwvQxqPV66AE4gVVvjieQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 01 Jun 2026 16:40:09 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "ZGVmNDU2"
    }
  ],
  "Variables": {}
}
