{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontainer13bb29b1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 09 Jun 2026 21:34:59 GMT",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEC66EF5DD8663\"",
        "Last-Modified": "Tue, 09 Jun 2026 21:35:00 GMT",
        "x-ms-version": "2026-10-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontainersource113bb29b1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 09 Jun 2026 21:35:00 GMT",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEC66EF5F82BCD\"",
        "Last-Modified": "Tue, 09 Jun 2026 21:35:00 GMT",
        "x-ms-version": "2026-10-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontainer13bb29b1/blob13bb29b1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 09 Jun 2026 21:35:00 GMT",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DEC66EF6102F76\"",
        "Last-Modified": "Tue, 09 Jun 2026 21:35:01 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-10-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontainer13bb29b1/blob13bb29b1?comp=block&blockid=MQ%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-MD5": "FFEfL1VkZQ0SnKfKvDMyeA==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 09 Jun 2026 21:35:01 GMT",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": "YmxvY2s=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "FFEfL1VkZQ0SnKfKvDMyeA==",
        "x-ms-content-crc64": "CsYkIoT+M0w=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-10-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
