{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontainer709831ec?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 15 Apr 2026 23:52:49 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerAlreadyExists",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerAlreadyExists</Code><Message>The specified container already exists.\n",
        "RequestId:81390ca1-901e-0016-3432-cd5b4c000000\n",
        "Time:2026-04-15T23:52:49.9519412Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontainer709831ec/testoverride709831ec",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Apr 2026 23:52:49 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "dGVzdG92ZXJyaWRlbG9nZ2luZw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "9F7Cj0/MZoI+w69LTdLfqA==",
        "ETag": "\"0x8DE9B4A1A070CDE\"",
        "Last-Modified": "Wed, 15 Apr 2026 23:52:49 GMT",
        "x-ms-content-crc64": "2bnwsdfuM18=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontainer709831ec/testoverride709831ec",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Wed, 15 Apr 2026 23:52:49 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-18/19",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE9B4A1A070CDE\"",
        "Last-Modified": "Wed, 15 Apr 2026 23:52:49 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-content-md5": "9F7Cj0/MZoI+w69LTdLfqA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 15 Apr 2026 23:33:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "dGVzdG92ZXJyaWRlbG9nZ2luZw=="
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontainer709831ec/testoverride709831ec",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Wed, 15 Apr 2026 23:52:50 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-9/10",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE9B4A1A0FE53D\"",
        "Last-Modified": "Wed, 15 Apr 2026 23:52:50 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-content-md5": "HCRGq9YFqyXiEOgwekhSbQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 15 Apr 2026 23:33:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "dXBsb2FkdGVzdA=="
    }
  ],
  "Variables": {}
}
