{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontainere0a836bb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 17 Jun 2025 09:25:17 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerAlreadyExists",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerAlreadyExists</Code><Message>The specified container already exists.\n",
        "RequestId:1cd4412e-901e-0057-3c69-dfcc5c000000\n",
        "Time:2025-06-17T09:25:18.3264953Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontainere0a836bb/blobe0a836bb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-MD5": "I3pVbaOCUTom+G9F9uKFoA==",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 17 Jun 2025 09:25:18 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "SGVsbG8gQXN5bmMgV29ybGQh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "I3pVbaOCUTom+G9F9uKFoA==",
        "ETag": "\"0x8DDAD80E02760A5\"",
        "Last-Modified": "Tue, 17 Jun 2025 09:25:18 GMT",
        "x-ms-content-crc64": "EbYwp1zrrC8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontainere0a836bb/blobe0a836bb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Tue, 17 Jun 2025 09:25:18 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "I3pVbaOCUTom+G9F9uKFoA==",
        "Content-Range": "bytes 0-17/18",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDAD80E02760A5\"",
        "Last-Modified": "Tue, 17 Jun 2025 09:25:18 GMT",
        "x-ms-blob-content-md5": "I3pVbaOCUTom+G9F9uKFoA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 17 Jun 2025 09:25:18 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "SGVsbG8gQXN5bmMgV29ybGQh"
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/utcontainere0a836bb/blobe0a836bb",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 17 Jun 2025 09:25:18 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
