{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer54f83af4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 06 May 2024 19:56:29 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerAlreadyExists</Code><Message>The specified container already exists.\n",
        "RequestId:bcd641b9-701e-0008-7fef-9fc247000000\n",
        "Time:2024-05-06T19:56:29.9884715Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainersource154f83af4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 06 May 2024 19:56:29 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerAlreadyExists</Code><Message>The specified container already exists.\n",
        "RequestId:bcd641bc-701e-0008-80ef-9fc247000000\n",
        "Time:2024-05-06T19:56:30.0864703Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer54f83af4/targetblob",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "Sanitized",
        "x-ms-copy-source-blob-properties": "true",
        "x-ms-date": "Mon, 06 May 2024 19:56:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-copy-source-error-code": "PublicAccessNotPermitted",
        "x-ms-copy-source-status-code": "409",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>CannotVerifyCopySource</Code><Message>Public access is not permitted on this storage account.\n",
        "RequestId:bcd641be-701e-0008-01ef-9fc247000000\n",
        "Time:2024-05-06T19:56:30.6274673Z</Message><CopySourceStatusCode>409</CopySourceStatusCode><CopySourceErrorCode>PublicAccessNotPermitted</CopySourceErrorCode><CopySourceErrorMessage>Public access is not permitted on this storage account.</CopySourceErrorMessage></Error>"
      ]
    }
  ],
  "Variables": {}
}
