{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2024-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 15:49:42 GMT"
      },
      "RequestBody": {
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "none",
          "sms": "outbound"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01-preview, 2024-08-31-preview",
        "Location": "Sanitized",
        "MS-CV": "j4hKGGsHAEe/\u002BrbJNU5uwA.0",
        "operation-id": "search_0af38d8d-fb32-47a0-a982-16bc4bc70413",
        "Operation-Location": "/phoneNumbers/operations/search_0af38d8d-fb32-47a0-a982-16bc4bc70413?api-version=2024-05-01-preview",
        "search-id": "0af38d8d-fb32-47a0-a982-16bc4bc70413",
        "X-Processing-Time": "1313ms"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/search_0af38d8d-fb32-47a0-a982-16bc4bc70413?api-version=2024-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 15:49:45 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2023-10-01-preview2, 2024-01-31-preview, 2024-03-01-preview, 2024-08-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "Sanitized",
        "MS-CV": "cV1XPA5UNUaGgolDsXjyaQ.0",
        "X-Processing-Time": "233ms"
      },
      "ResponseBody": {
        "operationType": "search",
        "status": "succeeded",
        "resourceLocation": "/availablePhoneNumbers/searchResults/0af38d8d-fb32-47a0-a982-16bc4bc70413?api-version=2024-05-01-preview",
        "createdDateTime": "2024-03-14T15:49:42.2983027\u002B00:00",
        "id": "search_0af38d8d-fb32-47a0-a982-16bc4bc70413",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/0af38d8d-fb32-47a0-a982-16bc4bc70413?api-version=2024-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 15:49:45 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01-preview, 2024-08-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "OtusmKEmGUCSl7asjthyZQ.0",
        "X-Processing-Time": "604ms"
      },
      "ResponseBody": {
        "searchId": "0af38d8d-fb32-47a0-a982-16bc4bc70413",
        "phoneNumbers": [
          "Sanitized"
        ],
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "none",
          "sms": "outbound"
        },
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        },
        "searchExpiresBy": "2024-03-14T16:05:43.1544245\u002B00:00",
        "error": "NoError"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2024-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 15:49:46 GMT"
      },
      "RequestBody": {
        "searchId": "0af38d8d-fb32-47a0-a982-16bc4bc70413"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01-preview, 2024-08-31-preview",
        "MS-CV": "oKSHF1w\u002BT0Ga3Ap0kW7F8A.0",
        "operation-id": "purchase_0af38d8d-fb32-47a0-a982-16bc4bc70413",
        "Operation-Location": "/phoneNumbers/operations/purchase_0af38d8d-fb32-47a0-a982-16bc4bc70413?api-version=2024-05-01-preview",
        "purchase-id": "0af38d8d-fb32-47a0-a982-16bc4bc70413",
        "X-Processing-Time": "973ms"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_0af38d8d-fb32-47a0-a982-16bc4bc70413?api-version=2024-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 15:49:50 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2023-10-01-preview2, 2024-01-31-preview, 2024-03-01-preview, 2024-08-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "eygoKtIvi0uX9\u002BZOt\u002BHfcg.0",
        "X-Processing-Time": "511ms"
      },
      "ResponseBody": {
        "operationType": "purchase",
        "status": "notStarted",
        "resourceLocation": null,
        "createdDateTime": "2024-03-14T15:49:42.2983027\u002B00:00",
        "id": "purchase_0af38d8d-fb32-47a0-a982-16bc4bc70413",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers?api-version=2024-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 15:50:05 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01-preview, 2024-08-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "kNQoPZKWQkSqlzgWI60okw.0",
        "X-Processing-Time": "1207ms"
      },
      "ResponseBody": {
        "phoneNumbers": [
          {
            "id": "Sanitized",
            "phoneNumber": "Sanitized",
            "countryCode": "US",
            "phoneNumberType": "geographic",
            "capabilities": {
              "calling": "inbound",
              "sms": "none"
            },
            "assignmentType": "application",
            "purchaseDate": "2021-06-24T15:18:14.7689633\u002B00:00",
            "cost": {
              "amount": 1.0,
              "currencyCode": "USD",
              "billingFrequency": "monthly"
            }
          },
          {
            "id": "Sanitized",
            "phoneNumber": "Sanitized",
            "countryCode": "US",
            "phoneNumberType": "geographic",
            "capabilities": {
              "calling": "inbound\u002Boutbound",
              "sms": "none"
            },
            "a[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers?api-version=2024-05-01-preview\u0026skip=100\u0026top=100",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 15:50:06 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-[...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/Sanitized/capabilities?api-version=2024-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 15:50:10 GMT"
      },
      "RequestBody": {
        "calling": "outbound",
        "sms": "inbound\u002Boutbound"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01-preview, 2024-08-31-preview",
        "capabilities-id": "3e5d6dcd-f512-45fc-bfa3-24a1545f9534",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "Sanitized",
        "MS-CV": "UfImWqhk50iHj5EXtjSyAw.0",
        "operation-id": "capabilities_3e5d6dcd-f512-45fc-bfa3-24a1545f9534",
        "Operation-Location": "/phoneNumbers/operations/capabilities_3e5d6dcd-f512-45fc-bfa3-24a1545f9534?api-version=2024-05-01-preview",
        "X-Processing-Time": "1667ms"
      },
      "ResponseBody": {
        "capabilitiesUpdateId": "3e5d6dcd-f512-45fc-bfa3-24a1545f9534"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/capabilities_3e5d6dcd-f512-45fc-bfa3-24a1545f9534?api-version=2024-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 15:50:13 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2023-10-01-preview2, 2024-01-31-preview, 2024-03-01-preview, 2024-08-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "Sanitized",
        "MS-CV": "XCp8wRPC1k6P7vzvaAXIbQ.0",
        "X-Processing-Time": "184ms"
      },
      "ResponseBody": {
        "operationType": "updatePhoneNumberCapabilities",
        "status": "running",
        "resourceLocation": "/phoneNumbers/Sanitized?api-version=2024-05-01-preview",
        "createdDateTime": "2024-03-14T15:50:10.7517383\u002B00:00",
        "id": "capabilities_3e5d6dcd-f512-45fc-bfa3-24a1545f9534",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/Sanitized?api-version=2024-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 15:50:16 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01-preview, 2024-08-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "gS7yelcnIUCVfg\u002BlaXhe6g.0",
        "X-Processing-Time": "1424ms"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "phoneNumber": "Sanitized",
        "countryCode": "US",
        "phoneNumberType": "tollFree",
        "capabilities": {
          "calling": "outbound",
          "sms": "inbound\u002Boutbound"
        },
        "assignmentType": "application",
        "purchaseDate": "2024-03-14T15:50:02.8987735\u002B00:00",
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/Sanitized?api-version=2024-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 15:50:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01-preview, 2024-08-31-preview",
        "MS-CV": "GCffIlBtpkS14XE9OwtOWQ.0",
        "operation-id": "release_c02d5559-4648-46d9-b72b-e16f8eac3759",
        "Operation-Location": "/phoneNumbers/operations/release_c02d5559-4648-46d9-b72b-e16f8eac3759?api-version=2024-05-01-preview",
        "release-id": "c02d5559-4648-46d9-b72b-e16f8eac3759",
        "X-Processing-Time": "1507ms"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/release_c02d5559-4648-46d9-b72b-e16f8eac3759?api-version=2024-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 15:50:21 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2023-10-01-preview2, 2024-01-31-preview, 2024-03-01-preview, 2024-08-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "skkhJvmLZkCuBwibRWfIGw.0",
        "X-Processing-Time": "236ms"
      },
      "ResponseBody": {
        "operationType": "releasePhoneNumber",
        "status": "running",
        "resourceLocation": null,
        "createdDateTime": "2024-03-14T15:50:18.3098555\u002B00:00",
        "id": "release_c02d5559-4648-46d9-b72b-e16f8eac3759",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/Sanitized?api-version=2024-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 15:50:35 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01-preview, 2024-08-31-preview",
        "Content-Type": "application/json",
        "MS-CV": "uPoxPUEoTkuGQNpmHXv5sg.0",
        "X-Processing-Time": "259ms"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "Input phoneNumber Sanitized cannot be found.",
          "target": "phonenumber"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "235947259"
  }
}
