{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.AppConfiguration/configurationStores/configstTW4Yw5?api-version=2025-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "disableLocalAuth": true
        },
        "sku": {
          "name": "Sanitized"
        },
        "tags": {
          "myTag": "myTagValue"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/Y29uZmlndXJhdGlvblN0b3Jlcw.26-HOTHHlkOY9SIpTo5oalK_Eo3nIWJM9G1dj1oK0oc?api-version=2025-06-01-preview&t=639063078508226435&c=MIIHpTCCBo2gAwIBAgITfwaYHapxdJBcIqiD1AAEBpgdqjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjYwMTMxMDkxODAyWhcNMjYwNTI0MjI1NzAzWjBAMT4wPAYDVQQDEzVhc3[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/Y29uZmlndXJhdGlvblN0b3Jlcw.26-HOTHHlkOY9SIpTo5oalK_Eo3nIWJM9G1dj1oK0oc?api-version=2025-06-01-preview&t=639063078508226435&c=MIIHpTCCBo2gAwIBAgITfwaYHapxdJBcIqiD1AAEBpgdqjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjYwMTMxMDkxODAyWhcNMjYwNTI0MjI1Nz[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.AppConfiguration/configurationStores/configstTW4Yw5?api-version=2025-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"00000000-0000-0000-0000-000000000000\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "type": "Microsoft.AppConfiguration/configurationStores",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded",
          "creationDate": "2026-02-10T08:10:50+00:00",
          "endpoint": "https://configsttw4yw5.azconfig.io",
          "encryption": {
            "keyVaultProperties": null
          },
          "privateEndpointConnections": null,
          "disableLocalAuth": true,
          "softDeleteRetentionInDays": 7,
          "defaultKeyValueRevisionRetentionPeriodInSeconds": 2592000,
          "enablePurgeProtection": false,
          "dataPlaneProxy": {
            "authenticationMode": "Local",
            "privateLinkDelegation": "Disabled"
          },
          "telemetry": {
            "resourceId": null
          },
          "managedOnBehalfOfConfiguration": null,
          "azureFrontDoor": {
            "resourceId": null
          }
        },
        "sku": {
          "name": "Sanitized"
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2026-02-10T08:10:50+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2026-02-10T08:10:50+00:00"
        },
        "id": "Sanitized",
        "name": "Sanitized",
        "tags": {
          "myTag": "myTagValue"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2025-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "00000000-0000-0000-0000-000000000000",
          "d016bc79-1d56-4ffe-8fbd-8074a715acf4",
          "c971c770-6ba3-4a2d-81a3-813ce322d576",
          "21064069-9278-45af-be48-0318139072be",
          "05e99786-5f50-4e50-8b4a-4154ee739956",
          "1b764a90-e226-40f0-ac9a-8b3aa3d827cb"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "type": "Microsoft.AppConfiguration/configurationStores",
            "location": "westus",
            "properties": {
              "provisioningState": "Succeeded",
              "creationDate": "2026-02-10T07:59:32+00:00",
              "endpoint": "https://configstem0c43.azconfig.io",
              "encryption": {
                "keyVaultProperties": null
              },
              "privateEndpointConnections": [
                {
                  "id": "Sanitized",
                  "name": "Sanitized",
                  "type": "Microsoft.AppConfiguration/configurationStores/privateEndpointConnections",
                  "properties": {
                    "provisioningState": "Succeeded",
                    "privateEndpoint": {
                      "id": "Sanitized"
                    },
                    "privateLinkServiceConnectionState": {
                      "status": "Approved",
                      "description": "Auto-Approved",
                      "actionsRequired": "None"
                    }
                  }
                }
              ],
              "disableLocalAuth": true,
              "softDeleteRetentionInDays": 7,
              "defaultKeyValueRevisionRetentionPeriodInSeconds": 2592000,
              "enablePurgeProtection": false,
              "dataPlaneProxy": {
                "authenticationMode": "Local",
                "privateLinkDelegation": "Disabled"
              },
              "telemetry": {
                "resourceId": null
              },
              "managedOnBehalfOfConfiguration": null,
              "azureFrontDoor": {
                "resourceId": null
              }
            },
            "sku": {
              "name": "Sanitized"
            },
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2026-02-10T07:59:32+00:00",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2026-02-10T08:00:10+00:00"
            },
            "id": "Sanitized",
            "name": "Sanitized",
            "tags": {
              "Category": "Marketing"
            }
          },
          {
            "type": "Microsoft.AppConfiguration/configurationStores",
            "location": "westus",
            "properties": {
              "provisioningState": "Succeeded",
              "creationDate": "2026-02-10T08:10:50+00:00",
              "endpoint": "https://configsttw4yw5.azconfig.io",
              "encryption": {
                "keyVaultProperties": null
              },
              "privateEndpointConnections": null,
     [...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.AppConfiguration/configurationStores?api-version=2025-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Link": "</subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.AppConfiguration/configurationStores?api-version=2025-06-01-preview&$skipToken=configsttw4yw5>; rel=\"next\"",
        "x-ms-original-request-ids": "00000000-0000-0000-0000-000000000000",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "ty[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.AppConfiguration/configurationStores/configstTW4Yw5/listKeys?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/checkNameAvailability?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "Sanitized",
        "type": "Microsoft.AppConfiguration/configurationStores"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "nameAvailable": true,
        "message": "The specified name is available.",
        "reason": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/westus/checkNameAvailability?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "Sanitized",
        "type": "Microsoft.AppConfiguration/configurationStores"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "nameAvailable": true,
        "message": "The specified name is available.",
        "reason": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.AppConfiguration/operations?api-version=2025-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "2199"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Sanitized",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft App Configuration",
              "resource": "Operation",
              "operation": "List Operations",
              "description": "Lists all of the operations supported by Microsoft App Configuration."
            },
            "properties": null
          },
          {
            "name": "Sanitized",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft App Configuration",
              "resource": "Microsoft App Configuration",
              "operation": "Register for Microsoft App Configuration",
              "description": "[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized/providers/Microsoft.Resources/deployments/Create_PrivateEndpoint?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "mode": "Incremental",
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
              "configurationStoreId": {
                "defaultValue": "Sanitized",
                "type": "string"
              },
              "location": {
                "defaultValue": "westus",
                "type": "string"
              },
              "networkInterfaceName": {
                "defaultValue": "epappconf-nic",
                "type": "string"
              },
              "privateEndpointName": {
                "defaultValue": "epappconf",
                "type": "string"
              },
              "virtualNetworksName": {
                "defaultValue": "epappconfvnet",
                "type": "string"
              }
            },
            "resources": [
              {
                "apiVersion": "2020-11-01",
                "location": "[parameters('location')]",
                "name": "Sanitized",
                "properties": {
                  "addressSpace": {
                    "addressPrefixes": [
                      "10.0.0.0/16"
                    ]
                  },
                  "enableDdosProtection": false,
                  "subnets": [
                    {
                      "name": "Sanitized",
                      "properties": {
                        "addressPrefix": "10.0.0.0/24",
                        "delegations": [],
                        "privateEndpointNetworkPolicies": "Disabled",
                        "privateLinkServiceNetworkPolicies": "Enabled"
                      }
                    }
                  ],
                  "virtualNetworkPeerings": []
                },
                "type": "Microsoft.Network/virtualNetworks"
              },
              {
                "apiVersion": "2020-11-01",
                "dependsOn": [
                  "[resourceId('Microsoft.Network/virtualNetworks/subnets', parameters('virtualNetworksName'), 'default')]"
                ],
                "location": "[parameters('location')]",
                "name": "Sanitized",
                "properties": {
                  "dnsSettings": {
                    "dnsServers": []
                  },
                  "enableIPForwarding": false,
                  "ipConfigurations": [
                    {
                      "name": "Sanitized",
                      "properties": {
                        "primary": true,
                        "privateIPAddress": "10.0.0.4",
                        "privateIPAddressVersion": "IPv4",
                        "privateIPAllocationMethod": "Dynamic",
                        "subnet": {
                          "id": "Sanitized"
                        }
                      }
                    }
                  ]
                },
                "type": "Microsoft.Network/networkInterfaces"
              },
              {
                "apiVersion": "2020-11-01",
                "dependsOn": [
                  "[resourceId('Microsoft.Network/virtualNetworks/subnets', parameters('virtualNetworksName'), 'default')]"
                ],
                "location": "[parameters('location')]",
                "name": "Sanitized",
                "properties": {
                  "customDnsConfigs": [],
                  "manualPrivateLinkServiceConnections": [],
                  "privateLinkServiceConnections": [
                    {
                      "name": "Sanitized",
                      "properties": {
                        "groupIds": [
                          "configurationStores"
                        ],
                        "privateLinkServiceConnectionState": {
                          "actionsRequired": "None",
                          "description": "Auto-Approved",
                          "status": "Approved"
                        },
                        "privateLinkServiceId": "[parameters('configurationStoreId')]"
                      }
                    }
                  ],
                  "subnet": {
                    "id": "Sanitized"
                  }
                },
                "type": "Microsoft.Network/privateEndpoints"
              },
              {
                "apiVersion": "2020-11-01",
                "dependsOn": [
                  "[resourceId('Microsoft.Network/virtualNetworks', parameters('virtualNetworksName'))]"
                ],
                "name": "Sanitized",
                "properties": {
                  "addressPrefix": "10.0.0.0/24",
                  "delegations": [],
                  "privateEndpointNetworkPolicies": "Disabled",
                  "privateLinkServiceNetworkPolicies": "Enabled"
                },
                "type": "Microsoft.Network/virtualNetworks/subnets"
              }
            ],
            "variables": {}
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized/providers/Microsoft.Resources/deployments/Create_PrivateEndpoint/operationStatuses/08584308957893347109?api-version=2021-04-01&t=639063078970010335&c=MIIHpTCCBo2gAwIBAgITfwaYHapxdJBcIqiD1AAEBpgdqjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FM[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized/providers/Microsoft.Resources/deployments/Create_PrivateEndpoint/operationStatuses/08584308957893347109?api-version=2021-04-01&t=639063078970010335&c=MIIHpTCCBo2gAwIBAgITfwaYHapxdJBcIqiD1AAEBpgdqjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjYwMTMxMDkxODAyWhcNMjYwNTI0MjI1NzAzWjBAMT4wPAYDVQQDEzV[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized/providers/Microsoft.Resources/deployments/Create_PrivateEndpoint?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/deployments",
        "properties": {
          "templateHash": "17686932719176003406",
          "parameters": {
            "configurationStoreId": {
              "type": "String",
              "value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.AppConfiguration/configurationStores/configsttw4yw5"
            },
            "location": {
              "type": "String",
              "value": "westus"
            },
            "networkInterfaceName": {
              "type": "String",
              "value": "epappconf-nic"
            },
            "privateEndpointName": {
              "type": "String",
              "value": "epappconf"
            },
            "virtualNetworksName": {
              "type": "String",
              "value": "epappconfvnet"
            }
          },
          "mode": "Incremental",
          "provisioningState": "Succeeded",
          "timestamp": "2026-02-10T08:12:15.3834831Z",
          "duration": "PT39.2418977S",
          "correlationId": "00000000-0000-0000-0000-000000000000",
          "providers": [
            {
              "namespace": "Microsoft.Network",
              "resourceTypes": [
                {
                  "resourceType": "virtualNetworks",
                  "locations": [
                    "westus"
                  ]
                },
                {
                  "resourceType": "networkInterfaces",
                  "locations": [
                    "westus"
                  ]
                },
                {
                  "resourceType": "privateEndpoints",
                  "locations": [
                    "westus"
                  ]
                },
                {
                  "resourceType": "virtualNetworks/subnets",
                  "locations": [
                    null
                  ]
                }
              ]
            }
          ],
          "dependencies": [
            {
              "dependsOn": [
                {
                  "id": "Sanitized",
                  "resourceType": "Microsoft.Network/virtualNetworks/subnets",
                  "resourceName": "epappconfvnet/default"
                }
              ],
              "id": "Sanitized",
              "resourceType": "Microsoft.Network/networkInterfaces",
              "resourceName": "epappconf-nic"
            },
            {
              "dependsOn": [
                {
                  "id": "Sanitized",
                  "resourceType": "Microsoft.Network/virtualNetworks/subnets",
                  "resourceName": "epappconfvnet/default"
                }
              ],
              "id": "Sanitized",
              "resourceType": "Microsoft.Network/privateEndpoints",
              "resourceName": "epappconf"
            },
            {
              "dependsOn": [
                {
                  "id": "Sanitized",
                  "resourceType": "Microsoft.Network/virtualNetworks",
                  "resourceName": "epappconfvnet"
                }
              ],
              "id": "Sanitized",
              "resourceType": "Microsoft.Network/virtualNetworks/subnets",
              "resourceName": "epappconfvnet/default"
            }
          ],
          "outputResources": [
            {
              "id": "Sanitized"
            },
            {
              "id": "Sanitized"
            },
            {
              "id": "Sanitized"
            },
            {
              "id": "Sanitized"
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.AppConfiguration/configurationStores/configstTW4Yw5/privateEndpointConnections?api-version=2025-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "type": "Microsoft.AppConfiguration/configurationStores/privateEndpointConnections",
            "properties": {
              "provisioningState": "Succeeded",
              "privateEndpoint": {
                "id": "Sanitized"
              },
              "privateLinkServiceConnectionState": {
                "status": "Approved",
                "description": "Auto-Approved",
                "actionsRequired": "None"
              }
            },
            "id": "Sanitized",
            "name": "Sanitized"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.AppConfiguration/configurationStores/configstTW4Yw5/privateEndpointConnections/Sanitized?api-version=2025-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "privateLinkServiceConne[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/Y29uZmlndXJhdGlvblN0b3Jlcy9wcml2YXRlRW5kcG9pbnRDb25uZWN0aW9ucw.-qNfFXJAk3QVhwVZw8ETYHfrkMv4OiZG0NrVwfAFj20?api-version=2025-06-01-preview&t=639063079607029688&c=MIIHpTCCBo2gAwIBAgITfwaYHapxdJBcIqiD1AAEBpgdqjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHh[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.AppConfiguration/configurationStores/configstTW4Yw5/privateLinkResources?api-version=2025-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Sanitized",
            "name": "Sanitized",
            "type": "Microsoft.AppConfiguration/configurationStores/privateLinkResources",
            "properties": {
              "groupId": "configurationStores",
              "requiredMembers": [
                "configurationStores"
              ],
              "requiredZoneNames": [
                "privatelink.azconfig.io"
              ]
            }
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.AppConfiguration/configurationStores/configstTW4Yw5/privateLinkResources/configurationStores?api-version=2025-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.AppConfiguration/configurationStores/privateLinkResources",
        "properties": {
          "groupId": "configurationStores",
          "requiredMembers": [
            "configurationStores"
          ],
          "requiredZoneNames": [
            "privatelink.azconfig.io"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/Y29uZmlndXJhdGlvblN0b3Jlcy9wcml2YXRlRW5kcG9pbnRDb25uZWN0aW9ucw.pQ3iDzMZJjzZVYrACPIfcnDan9Fm4Ipgl38vYWgqhps?api-version=2025-06-01-preview&t=639063079971604276&c=MIIHpTCCBo2gAwIBAgITfwaYHapxdJBcIqiD1AAEBpgdqjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHh[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.AppConfiguration/configurationStores/configstTW4Yw5/replicas/replicansiiQi7?api-version=2025-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "R[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/Y29uZmlndXJhdGlvblN0b3Jlcy9yZXBsaWNhcw.kbycBrt30nKjO01mM7-595KFMIJm9rUhoElbGU9f3x0?api-version=2025-06-01-preview&t=639063080103461178&c=MIIHpTCCBo2gAwIBAgITfwaYHapxdJBcIqiD1AAEBpgdqjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjYwMTMxMDkxODAyWhcNMj[...]
[...]
    {
[...]
