{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags235?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags235",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Fx9fLW-y3qIlsa3GxfZHprzCntCrlIhldWyaD8IrftA\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:23:01 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3MzgxODA=;sn=73738180"
      },
      "ResponseBody": {
        "etag": "Fx9fLW-y3qIlsa3GxfZHprzCntCrlIhldWyaD8IrftA",
        "key": "etags235",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-16T11:23:01+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/non-existent%20key%20etags235?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3MzgxODA="
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3MzgxODE=;sn=73738181"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags235",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3MzgxODE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"QmvJ9qA2m6oZ8GSNg0KUnSpka4zG-55yPExA7lwxXt8\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3MzgxODc=;sn=73738187"
      },
      "ResponseBody": {
        "etag": "QmvJ9qA2m6oZ8GSNg0KUnSpka4zG-55yPExA7lwxXt8",
        "items": [
          {
            "etag": "Fx9fLW-y3qIlsa3GxfZHprzCntCrlIhldWyaD8IrftA",
            "key": "etags235",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-16T11:23:01+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags235?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3MzgxODc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Fx9fLW-y3qIlsa3GxfZHprzCntCrlIhldWyaD8IrftA\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:23:01 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3MzgxOTE=;sn=73738191"
      },
      "ResponseBody": {
        "etag": "Fx9fLW-y3qIlsa3GxfZHprzCntCrlIhldWyaD8IrftA",
        "key": "etags235",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-16T11:23:01+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags235"
  }
}
