{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags398?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags398",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mpHGP1iRV_4K6KHCSi-oVe0AWKQ0pbWgd7q5pDMRvio\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:26:47 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTc3Nzc=;sn=75057777",
        "x-ms-date": "Tue, 04 Nov 2025 18:26:47 GMT"
      },
      "ResponseBody": {
        "etag": "mpHGP1iRV_4K6KHCSi-oVe0AWKQ0pbWgd7q5pDMRvio",
        "key": "etags398",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:26:47+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags398?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNTc3Nzc="
      },
      "RequestBody": {
        "key": "etags398",
        "value": "world",
        "last_modified": "2025-11-04T18:26:47.000Z",
        "tags": {},
        "etag": "mpHGP1iRV_4K6KHCSi-oVe0AWKQ0pbWgd7q5pDMRvio"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTc3Nzg=;sn=75057778",
        "x-ms-date": "Tue, 04 Nov 2025 18:26:48 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags398",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNTc3Nzg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"_c8hkA4TvUGy0MibWmXGpm4HLMsI1zlAGwx2ZdzTWJ4\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTc3ODE=;sn=75057781",
        "x-ms-date": "Tue, 04 Nov 2025 18:26:48 GMT"
      },
      "ResponseBody": {
        "etag": "_c8hkA4TvUGy0MibWmXGpm4HLMsI1zlAGwx2ZdzTWJ4",
        "items": [
          {
            "etag": "mpHGP1iRV_4K6KHCSi-oVe0AWKQ0pbWgd7q5pDMRvio",
            "key": "etags398",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-04T18:26:47+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags398?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNTc3ODE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mpHGP1iRV_4K6KHCSi-oVe0AWKQ0pbWgd7q5pDMRvio\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:26:47 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTc3ODc=;sn=75057787",
        "x-ms-date": "Tue, 04 Nov 2025 18:26:48 GMT"
      },
      "ResponseBody": {
        "etag": "mpHGP1iRV_4K6KHCSi-oVe0AWKQ0pbWgd7q5pDMRvio",
        "key": "etags398",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:26:47+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags398"
  }
}
