{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags297?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags297",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"B1z5yyrVO6NTf5BOcAZnGO9ni2D_l4lKMgYLUi53eY4\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:26:51 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTc4MjI=;sn=75057822",
        "x-ms-date": "Tue, 04 Nov 2025 18:26:51 GMT"
      },
      "ResponseBody": {
        "etag": "B1z5yyrVO6NTf5BOcAZnGO9ni2D_l4lKMgYLUi53eY4",
        "key": "etags297",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:26:51+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags297?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-Match": "\"never-match-etag\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNTc4MjI="
      },
      "RequestBody": {
        "key": "etags297",
        "value": "world",
        "last_modified": "2025-11-04T18:26:51.000Z",
        "tags": {},
        "etag": "never-match-etag"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTc4MjQ=;sn=75057824",
        "x-ms-date": "Tue, 04 Nov 2025 18:26:51 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags297",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNTc4MjQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"l18pjlBnru90pd254RjgI0K0Nd7JkMIya_G3CfPjWLw\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTc4MjY=;sn=75057826",
        "x-ms-date": "Tue, 04 Nov 2025 18:26:51 GMT"
      },
      "ResponseBody": {
        "etag": "l18pjlBnru90pd254RjgI0K0Nd7JkMIya_G3CfPjWLw",
        "items": [
          {
            "etag": "B1z5yyrVO6NTf5BOcAZnGO9ni2D_l4lKMgYLUi53eY4",
            "key": "etags297",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-04T18:26:51+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags297?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNTc4MjY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"B1z5yyrVO6NTf5BOcAZnGO9ni2D_l4lKMgYLUi53eY4\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:26:51 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTc4Mjk=;sn=75057829",
        "x-ms-date": "Tue, 04 Nov 2025 18:26:51 GMT"
      },
      "ResponseBody": {
        "etag": "B1z5yyrVO6NTf5BOcAZnGO9ni2D_l4lKMgYLUi53eY4",
        "key": "etags297",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:26:51+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags297"
  }
}
