{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags504?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"OBCAM6O4XvGZD2Ix3cHc3jBgswBg-jZmc4TuKNJg5fY\"",
        "Last-Modified": "Thu, 28 May 2026 21:21:55 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4Nzg4MQ==;sn=115287881",
        "x-ms-date": "Thu, 28 May 2026 21:21:55 GMT"
      },
      "ResponseBody": {
        "etag": "OBCAM6O4XvGZD2Ix3cHc3jBgswBg-jZmc4TuKNJg5fY",
        "key": "etags504",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:21:55+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags504?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"never-match-etag\"",
        "sync-token": "zAJw6V16=NTo1IzExNTI4Nzg4MQ=="
      },
      "RequestBody": {
        "value": "world",
        "last_modified": "2026-05-28T21:21:55.000Z",
        "tags": {},
        "etag": "never-match-etag"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4Nzg4Mw==;sn=115287883",
        "x-ms-date": "Thu, 28 May 2026 21:21:55 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags504",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4Nzg4Mw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"0kxsbf6Y9nSZwCEo3O42KCPTWd48QwPV7HtF0d4rbhk\"",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4Nzg4NQ==;sn=115287885",
        "x-ms-date": "Thu, 28 May 2026 21:21:55 GMT"
      },
      "ResponseBody": {
        "etag": "0kxsbf6Y9nSZwCEo3O42KCPTWd48QwPV7HtF0d4rbhk",
        "items": [
          {
            "etag": "OBCAM6O4XvGZD2Ix3cHc3jBgswBg-jZmc4TuKNJg5fY",
            "key": "etags504",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-28T21:21:55+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags504?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4Nzg4NQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"OBCAM6O4XvGZD2Ix3cHc3jBgswBg-jZmc4TuKNJg5fY\"",
        "Last-Modified": "Thu, 28 May 2026 21:21:55 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4Nzg4OA==;sn=115287888",
        "x-ms-date": "Thu, 28 May 2026 21:21:56 GMT"
      },
      "ResponseBody": {
        "etag": "OBCAM6O4XvGZD2Ix3cHc3jBgswBg-jZmc4TuKNJg5fY",
        "key": "etags504",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:21:55+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags504"
  }
}
