{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags726?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"3O4SwTnzk76krjBLDGI_0TI1z-qk18O9Z9j6N6FXbFM\"",
        "Last-Modified": "Thu, 28 May 2026 21:22:00 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4ODA0OA==;sn=115288048",
        "x-ms-date": "Thu, 28 May 2026 21:22:00 GMT"
      },
      "ResponseBody": {
        "etag": "3O4SwTnzk76krjBLDGI_0TI1z-qk18O9Z9j6N6FXbFM",
        "key": "etags726",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:22:00+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/etags726?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4ODA0OA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"E_I8xzKMGkrEy83X300TBZazRu6bXi4uVGkEWLQuhUA\"",
        "Last-Modified": "Thu, 28 May 2026 21:22:00 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4ODA1MQ==;sn=115288051",
        "x-ms-date": "Thu, 28 May 2026 21:22:00 GMT"
      },
      "ResponseBody": {
        "etag": "E_I8xzKMGkrEy83X300TBZazRu6bXi4uVGkEWLQuhUA",
        "key": "etags726",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": true,
        "last_modified": "2026-05-28T21:22:00+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags726?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4ODA1MQ=="
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4ODA1Mw==;sn=115288053",
        "x-ms-date": "Thu, 28 May 2026 21:22:00 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/key-locked",
        "title": "Modifing key 'etags726' is not allowed",
        "name": "etags726",
        "detail": "The key is read-only. To allow modification unlock it first.",
        "status": 409
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags726",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4ODA1NA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"ePMD7p1eW538-HNnkOpzvj7LT6ASeEIwd52USe76Ii8\"",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4ODA1Nw==;sn=115288057",
        "x-ms-date": "Thu, 28 May 2026 21:22:00 GMT"
      },
      "ResponseBody": {
        "etag": "ePMD7p1eW538-HNnkOpzvj7LT6ASeEIwd52USe76Ii8",
        "items": [
          {
            "etag": "EoSVn4ytGbW-ynmg1Jt7VjGDqWXTEcruefutgQ5cml8",
            "key": "etags726",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-28T21:22:00+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags726?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4ODA1Nw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"EoSVn4ytGbW-ynmg1Jt7VjGDqWXTEcruefutgQ5cml8\"",
        "Last-Modified": "Thu, 28 May 2026 21:22:00 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4ODA1OA==;sn=115288058",
        "x-ms-date": "Thu, 28 May 2026 21:22:00 GMT"
      },
      "ResponseBody": {
        "etag": "EoSVn4ytGbW-ynmg1Jt7VjGDqWXTEcruefutgQ5cml8",
        "key": "etags726",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:22:00+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags726"
  }
}
