{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags572?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags572",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"QcwazUG7Mzt2BctT7uFnjf5L9m2Dnbnq-hcVyhq9xyk\"",
        "Last-Modified": "Sun, 26 Oct 2025 07:55:09 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTUyNjM=;sn=74855263",
        "x-ms-date": "Sun, 26 Oct 2025 07:55:09 GMT"
      },
      "ResponseBody": {
        "etag": "QcwazUG7Mzt2BctT7uFnjf5L9m2Dnbnq-hcVyhq9xyk",
        "key": "etags572",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T07:55:09+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/etags572?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTUyNjM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"iyKbc8VxNyQXiAZ5fUTJfzyTw01_ay9fGUx4y7olJys\"",
        "Last-Modified": "Sun, 26 Oct 2025 07:55:09 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTUyNjc=;sn=74855267",
        "x-ms-date": "Sun, 26 Oct 2025 07:55:09 GMT"
      },
      "ResponseBody": {
        "etag": "iyKbc8VxNyQXiAZ5fUTJfzyTw01_ay9fGUx4y7olJys",
        "key": "etags572",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": true,
        "last_modified": "2025-10-26T07:55:09+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags572?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTUyNjc="
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTUyNjk=;sn=74855269",
        "x-ms-date": "Sun, 26 Oct 2025 07:55:09 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/key-locked",
        "title": "Modifing key 'etags572' is not allowed",
        "name": "etags572",
        "detail": "The key is read-only. To allow modification unlock it first.",
        "status": 409
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags572",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTUyNzE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"o9Xv07IaglKRoKCKk1frCfFk-kVjCa_4AvVJmCVcYoY\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTUyNzQ=;sn=74855274",
        "x-ms-date": "Sun, 26 Oct 2025 07:55:10 GMT"
      },
      "ResponseBody": {
        "etag": "o9Xv07IaglKRoKCKk1frCfFk-kVjCa_4AvVJmCVcYoY",
        "items": [
          {
            "etag": "E9v__QSVPhEqAsqDJJ0EoYhZrefNTl7fAd2YFRtSJNI",
            "key": "etags572",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-26T07:55:10+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags572?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTUyNzQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"E9v__QSVPhEqAsqDJJ0EoYhZrefNTl7fAd2YFRtSJNI\"",
        "Last-Modified": "Sun, 26 Oct 2025 07:55:10 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTUyNzc=;sn=74855277",
        "x-ms-date": "Sun, 26 Oct 2025 07:55:10 GMT"
      },
      "ResponseBody": {
        "etag": "E9v__QSVPhEqAsqDJJ0EoYhZrefNTl7fAd2YFRtSJNI",
        "key": "etags572",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T07:55:10+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags572"
  }
}
