{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags10?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags10",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"LU7fKBn4k1_6O13ZXXToCk6BzZaWcXR2P7PbJnMbVNY\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:17:56 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzI5Mjg=;sn=74772928",
        "x-ms-date": "Thu, 23 Oct 2025 05:17:56 GMT"
      },
      "ResponseBody": {
        "etag": "LU7fKBn4k1_6O13ZXXToCk6BzZaWcXR2P7PbJnMbVNY",
        "key": "etags10",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:17:56+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags10?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-Match": "\"never-match-etag\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzI5Mjg="
      },
      "RequestBody": {
        "key": "etags10",
        "value": "world",
        "last_modified": "2025-10-23T05:17:56.000Z",
        "tags": {},
        "etag": "never-match-etag"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzI5MzQ=;sn=74772934",
        "x-ms-date": "Thu, 23 Oct 2025 05:17:56 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags10",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzI5MzQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"ejefWyec_dPD-cFd_9iWHh8uIb_PcR-Yey39q8icDgE\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzI5Mzk=;sn=74772939",
        "x-ms-date": "Thu, 23 Oct 2025 05:17:56 GMT"
      },
      "ResponseBody": {
        "etag": "ejefWyec_dPD-cFd_9iWHh8uIb_PcR-Yey39q8icDgE",
        "items": [
          {
            "etag": "LU7fKBn4k1_6O13ZXXToCk6BzZaWcXR2P7PbJnMbVNY",
            "key": "etags10",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-23T05:17:56+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags10?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzI5Mzk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"LU7fKBn4k1_6O13ZXXToCk6BzZaWcXR2P7PbJnMbVNY\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:17:56 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzI5NTE=;sn=74772951",
        "x-ms-date": "Thu, 23 Oct 2025 05:17:56 GMT"
      },
      "ResponseBody": {
        "etag": "LU7fKBn4k1_6O13ZXXToCk6BzZaWcXR2P7PbJnMbVNY",
        "key": "etags10",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:17:56+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags10"
  }
}
