{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags830?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags830",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"2BaNuTX8Gf1D9WRq-amy19lQGZP1rqBFj4eUU6VsHKQ\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:23:32 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA4MDk=;sn=75080809",
        "x-ms-date": "Wed, 05 Nov 2025 07:23:32 GMT"
      },
      "ResponseBody": {
        "etag": "2BaNuTX8Gf1D9WRq-amy19lQGZP1rqBFj4eUU6VsHKQ",
        "key": "etags830",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-05T07:23:32+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/etags830?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODA4MDk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"zfW-5TPQcjoODr5nQUBHo4CTD3uq8bS3kVzJHb9nRcw\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:23:32 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA4MTE=;sn=75080811",
        "x-ms-date": "Wed, 05 Nov 2025 07:23:32 GMT"
      },
      "ResponseBody": {
        "etag": "zfW-5TPQcjoODr5nQUBHo4CTD3uq8bS3kVzJHb9nRcw",
        "key": "etags830",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": true,
        "last_modified": "2025-11-05T07:23:32+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags830?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODA4MTE="
      },
      "RequestBody": {
        "key": "etags830",
        "value": "world",
        "last_modified": "2025-11-05T07:23:32.000Z",
        "tags": {},
        "etag": "2BaNuTX8Gf1D9WRq-amy19lQGZP1rqBFj4eUU6VsHKQ"
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA4MTQ=;sn=75080814",
        "x-ms-date": "Wed, 05 Nov 2025 07:23:32 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/key-locked",
        "title": "Modifing key 'etags830' is not allowed",
        "name": "etags830",
        "detail": "The key is read-only. To allow modification unlock it first.",
        "status": 409
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags830",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODA4MTQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"6yd7OOdc_04YiNXr3SgkV4axVzheiQ4I1fCSpkylYTU\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA4MTc=;sn=75080817",
        "x-ms-date": "Wed, 05 Nov 2025 07:23:32 GMT"
      },
      "ResponseBody": {
        "etag": "6yd7OOdc_04YiNXr3SgkV4axVzheiQ4I1fCSpkylYTU",
        "items": [
          {
            "etag": "zfW-5TPQcjoODr5nQUBHo4CTD3uq8bS3kVzJHb9nRcw",
            "key": "etags830",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": true,
            "last_modified": "2025-11-05T07:23:32+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags830?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODA4MjA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"FFyOs3fRPvpXb39-uaqT_9PtYp7PUF4oL9PBpBOof9g\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:23:33 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA4MjU=;sn=75080825",
        "x-ms-date": "Wed, 05 Nov 2025 07:23:33 GMT"
      },
      "ResponseBody": {
        "etag": "FFyOs3fRPvpXb39-uaqT_9PtYp7PUF4oL9PBpBOof9g",
        "key": "etags830",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-05T07:23:33+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags830"
  }
}
