{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags798?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Ny19hpXJci80iOiP3f1jaTfdIln4PTBoNT8AwCaWfpY\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:31:57 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNTk1NQ==;sn=53125955",
        "x-ms-date": "Tue, 09 Jun 2026 23:31:57 GMT"
      },
      "ResponseBody": {
        "etag": "Ny19hpXJci80iOiP3f1jaTfdIln4PTBoNT8AwCaWfpY",
        "key": "etags798",
        "label": null,
        "content_type": null,
        "value": "world",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T23:31:57+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/etags798?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNTk1NQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"SPVxxz16PG8v-8QBMYQVRTaroxdF-pNZAGG0SSY3aLo\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:31:57 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNTk1Ng==;sn=53125956",
        "x-ms-date": "Tue, 09 Jun 2026 23:31:57 GMT"
      },
      "ResponseBody": {
        "etag": "SPVxxz16PG8v-8QBMYQVRTaroxdF-pNZAGG0SSY3aLo",
        "key": "etags798",
        "label": null,
        "content_type": null,
        "value": "world",
        "description": null,
        "tags": {},
        "locked": true,
        "last_modified": "2026-06-09T23:31:57+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags798?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNTk1Ng=="
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNTk1Nw==;sn=53125957",
        "x-ms-date": "Tue, 09 Jun 2026 23:31:57 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/key-locked",
        "title": "Modifing key 'etags798' is not allowed",
        "name": "etags798",
        "detail": "The key is read-only. To allow modification unlock it first.",
        "status": 409
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2026-04-01&key=etags798",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNTk1OA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"JVTKOZRapuzm4bc5PYpH1BFiGcEWCGTy1ulnn-NPq4w\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNTk1OQ==;sn=53125959",
        "x-ms-date": "Tue, 09 Jun 2026 23:31:57 GMT"
      },
      "ResponseBody": {
        "etag": "JVTKOZRapuzm4bc5PYpH1BFiGcEWCGTy1ulnn-NPq4w",
        "items": [
          {
            "etag": "UrM2qlPRm2Z-0oJ4sx9qRzR8cvcmju2iPZaEszkuM9U",
            "key": "etags798",
            "label": null,
            "content_type": null,
            "value": "world",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-09T23:31:57+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags798?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNTk1OQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"UrM2qlPRm2Z-0oJ4sx9qRzR8cvcmju2iPZaEszkuM9U\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:31:57 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNTk2MA==;sn=53125960",
        "x-ms-date": "Tue, 09 Jun 2026 23:31:57 GMT"
      },
      "ResponseBody": {
        "etag": "UrM2qlPRm2Z-0oJ4sx9qRzR8cvcmju2iPZaEszkuM9U",
        "key": "etags798",
        "label": null,
        "content_type": null,
        "value": "world",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T23:31:57+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags798"
  }
}
