{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags43?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6qqqzhAROuAIbZxkN9XI-5PmIXPuF6s-gVfG8Bm5hJ0\"",
        "Last-Modified": "Wed, 06 May 2026 17:09:03 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0ODM5;sn=65174839",
        "x-ms-date": "Wed, 06 May 2026 17:09:03 GMT"
      },
      "ResponseBody": {
        "etag": "6qqqzhAROuAIbZxkN9XI-5PmIXPuF6s-gVfG8Bm5hJ0",
        "key": "etags43",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-06T17:09:03+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/etags43?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc0ODM5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"eA5HMNW5Be1_xGLpoO0RW8BOcCFH91AKRQP82DJREIo\"",
        "Last-Modified": "Wed, 06 May 2026 17:09:03 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0ODQx;sn=65174841",
        "x-ms-date": "Wed, 06 May 2026 17:09:03 GMT"
      },
      "ResponseBody": {
        "etag": "eA5HMNW5Be1_xGLpoO0RW8BOcCFH91AKRQP82DJREIo",
        "key": "etags43",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": true,
        "last_modified": "2026-05-06T17:09:03+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags43?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc0ODQx"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0ODQz;sn=65174843",
        "x-ms-date": "Wed, 06 May 2026 17:09:04 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/key-locked",
        "title": "Modifing key 'etags43' is not allowed",
        "name": "etags43",
        "detail": "The key is read-only. To allow modification unlock it first.",
        "status": 409
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags43",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc0ODQ1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"HDKzo7RPvm2FYDn2q7ziCdTkfTm4ERY6y5KhV7Ugadc\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0ODQ4;sn=65174848",
        "x-ms-date": "Wed, 06 May 2026 17:09:04 GMT"
      },
      "ResponseBody": {
        "etag": "HDKzo7RPvm2FYDn2q7ziCdTkfTm4ERY6y5KhV7Ugadc",
        "items": [
          {
            "etag": "iPywnA_FTCz-Q_yRfjxtW3n7RP1-vLoOaQCaSA2xn80",
            "key": "etags43",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-06T17:09:04+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags43?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc0ODQ4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"iPywnA_FTCz-Q_yRfjxtW3n7RP1-vLoOaQCaSA2xn80\"",
        "Last-Modified": "Wed, 06 May 2026 17:09:04 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0ODUw;sn=65174850",
        "x-ms-date": "Wed, 06 May 2026 17:09:04 GMT"
      },
      "ResponseBody": {
        "etag": "iPywnA_FTCz-Q_yRfjxtW3n7RP1-vLoOaQCaSA2xn80",
        "key": "etags43",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-06T17:09:04+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags43"
  }
}
