{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags224?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"bDxCSkoWxMxg_6emCIUevtwuYvFkDeBmdgRki0u00A4\"",
        "Last-Modified": "Wed, 06 May 2026 17:08:58 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0NjE1;sn=65174615",
        "x-ms-date": "Wed, 06 May 2026 17:08:58 GMT"
      },
      "ResponseBody": {
        "etag": "bDxCSkoWxMxg_6emCIUevtwuYvFkDeBmdgRki0u00A4",
        "key": "etags224",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-06T17:08:58+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags224?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc0NjE1"
      },
      "RequestBody": {
        "value": "world",
        "last_modified": "2026-05-06T17:08:58.000Z",
        "tags": {},
        "etag": "bDxCSkoWxMxg_6emCIUevtwuYvFkDeBmdgRki0u00A4"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0NjE1;sn=65174615",
        "x-ms-date": "Wed, 06 May 2026 17:08:58 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags224",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc0NjE1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"zYESBCUPS3aEKnkY5Per337bzhQuwveFy7yvrFbID3w\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0NjE2;sn=65174616",
        "x-ms-date": "Wed, 06 May 2026 17:08:58 GMT"
      },
      "ResponseBody": {
        "etag": "zYESBCUPS3aEKnkY5Per337bzhQuwveFy7yvrFbID3w",
        "items": [
          {
            "etag": "bDxCSkoWxMxg_6emCIUevtwuYvFkDeBmdgRki0u00A4",
            "key": "etags224",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-06T17:08:58+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags224?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc0NjE2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"bDxCSkoWxMxg_6emCIUevtwuYvFkDeBmdgRki0u00A4\"",
        "Last-Modified": "Wed, 06 May 2026 17:08:58 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0NjE3;sn=65174617",
        "x-ms-date": "Wed, 06 May 2026 17:08:58 GMT"
      },
      "ResponseBody": {
        "etag": "bDxCSkoWxMxg_6emCIUevtwuYvFkDeBmdgRki0u00A4",
        "key": "etags224",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-06T17:08:58+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags224"
  }
}
