{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags157?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags157",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"RX8M7rA00ZoXjikucdTyhmFn8N2MH3VDrLFJNEaa9TA\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:45:27 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTMzNjc=;sn=74013367"
      },
      "ResponseBody": {
        "etag": "RX8M7rA00ZoXjikucdTyhmFn8N2MH3VDrLFJNEaa9TA",
        "key": "etags157",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-25T08:45:27+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags157?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-Match": "\"never-match-etag\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTMzNjc="
      },
      "RequestBody": {
        "key": "etags157",
        "value": "world",
        "last_modified": "2025-09-25T08:45:27.000Z",
        "tags": {},
        "etag": "never-match-etag"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTMzNzE=;sn=74013371"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags157",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTMzNzE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"UjBWivq8uztB8YIKz0IqyVlzb6HMGyYY3ieP9-oCkKw\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTMzNzY=;sn=74013376"
      },
      "ResponseBody": {
        "etag": "UjBWivq8uztB8YIKz0IqyVlzb6HMGyYY3ieP9-oCkKw",
        "items": [
          {
            "etag": "RX8M7rA00ZoXjikucdTyhmFn8N2MH3VDrLFJNEaa9TA",
            "key": "etags157",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-25T08:45:27+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags157?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTMzNzY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"RX8M7rA00ZoXjikucdTyhmFn8N2MH3VDrLFJNEaa9TA\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:45:27 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTMzODE=;sn=74013381"
      },
      "ResponseBody": {
        "etag": "RX8M7rA00ZoXjikucdTyhmFn8N2MH3VDrLFJNEaa9TA",
        "key": "etags157",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-25T08:45:27+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags157"
  }
}
