{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags960?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags960",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"sc38mU7rKfiNkg3i1iKyXt57dJazmMqkhAwv90zMREA\"",
        "Last-Modified": "Thu, 11 Jul 2024 17:55:30 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyNzk5OTA5;sn=2799909"
      },
      "ResponseBody": {
        "etag": "sc38mU7rKfiNkg3i1iKyXt57dJazmMqkhAwv90zMREA",
        "key": "etags960",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T17:55:30+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags960?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-Match": "\"never-match-etag\"",
        "sync-token": "zAJw6V16=ODoxNSMyNzk5OTA5"
      },
      "RequestBody": {
        "key": "etags960",
        "value": "world",
        "last_modified": "2024-07-11T17:55:30.000Z",
        "tags": {},
        "etag": "never-match-etag"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=ODoxNSMyNzk5OTA5;sn=2799909"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags960",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyNzk5OTA5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"VihfKsHM4RkMWpyHjjDMWWU5iIJeGIlQUUD4UGgBFAk\"",
        "Sync-Token": "zAJw6V16=ODoxNSMyNzk5OTA5;sn=2799909"
      },
      "ResponseBody": {
        "etag": "VihfKsHM4RkMWpyHjjDMWWU5iIJeGIlQUUD4UGgBFAk",
        "items": [
          {
            "etag": "sc38mU7rKfiNkg3i1iKyXt57dJazmMqkhAwv90zMREA",
            "key": "etags960",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2024-07-11T17:55:30+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags960?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyNzk5OTA5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"sc38mU7rKfiNkg3i1iKyXt57dJazmMqkhAwv90zMREA\"",
        "Last-Modified": "Thu, 11 Jul 2024 17:55:30 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyNzk5OTEw;sn=2799910"
      },
      "ResponseBody": {
        "etag": "sc38mU7rKfiNkg3i1iKyXt57dJazmMqkhAwv90zMREA",
        "key": "etags960",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T17:55:30+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags960"
  }
}
