{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags312?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"E-gX1zSjAGgKN7NWT1iuA4FSKAv0MPF1-87BCjFzv1g\"",
        "Last-Modified": "Thu, 07 May 2026 20:26:42 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MzI2NQ==;sn=113153265",
        "x-ms-date": "Thu, 07 May 2026 20:26:42 GMT"
      },
      "ResponseBody": {
        "etag": "E-gX1zSjAGgKN7NWT1iuA4FSKAv0MPF1-87BCjFzv1g",
        "key": "etags312",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:26:42+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags312?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MzI2NQ=="
      },
      "RequestBody": {
        "value": "world",
        "last_modified": "2026-05-07T20:26:42.000Z",
        "tags": {},
        "etag": "E-gX1zSjAGgKN7NWT1iuA4FSKAv0MPF1-87BCjFzv1g"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MzI2Nw==;sn=113153267",
        "x-ms-date": "Thu, 07 May 2026 20:26:42 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags312",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MzI2Nw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"ohH6CN_UMmPIjIrTF-W3wsfwUqGIczQnYvuENOTEdn8\"",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MzI3MQ==;sn=113153271",
        "x-ms-date": "Thu, 07 May 2026 20:26:42 GMT"
      },
      "ResponseBody": {
        "etag": "ohH6CN_UMmPIjIrTF-W3wsfwUqGIczQnYvuENOTEdn8",
        "items": [
          {
            "etag": "E-gX1zSjAGgKN7NWT1iuA4FSKAv0MPF1-87BCjFzv1g",
            "key": "etags312",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-07T20:26:42+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags312?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MzI3MQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"E-gX1zSjAGgKN7NWT1iuA4FSKAv0MPF1-87BCjFzv1g\"",
        "Last-Modified": "Thu, 07 May 2026 20:26:42 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MzI3Nw==;sn=113153277",
        "x-ms-date": "Thu, 07 May 2026 20:26:42 GMT"
      },
      "ResponseBody": {
        "etag": "E-gX1zSjAGgKN7NWT1iuA4FSKAv0MPF1-87BCjFzv1g",
        "key": "etags312",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:26:42+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags312"
  }
}
