{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags313?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags313",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"NLRjpqLgqqndkdbFxVLhyGqOQf0FHooPg5qQMHnziqI\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:37:01 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3ODk4Ng==;sn=103578986",
        "x-ms-date": "Fri, 23 Jan 2026 08:37:01 GMT"
      },
      "ResponseBody": {
        "etag": "NLRjpqLgqqndkdbFxVLhyGqOQf0FHooPg5qQMHnziqI",
        "key": "etags313",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T08:37:01+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags313?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-Match": "\"never-match-etag\"",
        "sync-token": "zAJw6V16=NTo1IzEwMzU3ODk4Ng=="
      },
      "RequestBody": {
        "key": "etags313",
        "value": "world",
        "last_modified": "2026-01-23T08:37:01.000Z",
        "tags": {},
        "etag": "never-match-etag"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3ODk4OQ==;sn=103578989",
        "x-ms-date": "Fri, 23 Jan 2026 08:37:01 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags313",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU3ODk4OQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"2_7tRH068_ihUflLlScFucDOTINU7Kc8BxkyQUSuoCA\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3ODk5MQ==;sn=103578991",
        "x-ms-date": "Fri, 23 Jan 2026 08:37:01 GMT"
      },
      "ResponseBody": {
        "etag": "2_7tRH068_ihUflLlScFucDOTINU7Kc8BxkyQUSuoCA",
        "items": [
          {
            "etag": "NLRjpqLgqqndkdbFxVLhyGqOQf0FHooPg5qQMHnziqI",
            "key": "etags313",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-23T08:37:01+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags313?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU3ODk5MQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"NLRjpqLgqqndkdbFxVLhyGqOQf0FHooPg5qQMHnziqI\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:37:01 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3ODk5NA==;sn=103578994",
        "x-ms-date": "Fri, 23 Jan 2026 08:37:01 GMT"
      },
      "ResponseBody": {
        "etag": "NLRjpqLgqqndkdbFxVLhyGqOQf0FHooPg5qQMHnziqI",
        "key": "etags313",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T08:37:01+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags313"
  }
}
