{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags132?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags132",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"NxaVrw0S2CHXuQnVI-vlqpHAMpkj_XlTBWxpifBidTQ\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:18:04 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzMwNTM=;sn=74773053",
        "x-ms-date": "Thu, 23 Oct 2025 05:18:04 GMT"
      },
      "ResponseBody": {
        "etag": "NxaVrw0S2CHXuQnVI-vlqpHAMpkj_XlTBWxpifBidTQ",
        "key": "etags132",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:18:04+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/etags132?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzMwNTM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ywMwGQ_Z0-WYG35CW72qoj_cc24DLuljHpk9wUHQm8E\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:18:04 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzMwNTU=;sn=74773055",
        "x-ms-date": "Thu, 23 Oct 2025 05:18:04 GMT"
      },
      "ResponseBody": {
        "etag": "ywMwGQ_Z0-WYG35CW72qoj_cc24DLuljHpk9wUHQm8E",
        "key": "etags132",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": true,
        "last_modified": "2025-10-23T05:18:04+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags132?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzMwNTU="
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzMwNTg=;sn=74773058",
        "x-ms-date": "Thu, 23 Oct 2025 05:18:04 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/key-locked",
        "title": "Modifing key 'etags132' is not allowed",
        "name": "etags132",
        "detail": "The key is read-only. To allow modification unlock it first.",
        "status": 409
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags132",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzMwNjE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"unrOws2jYTPAh3sJheP1d8YGKrSa6c0MMIfuVrMt9ZA\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzMwNjQ=;sn=74773064",
        "x-ms-date": "Thu, 23 Oct 2025 05:18:04 GMT"
      },
      "ResponseBody": {
        "etag": "unrOws2jYTPAh3sJheP1d8YGKrSa6c0MMIfuVrMt9ZA",
        "items": [
          {
            "etag": "QXpyBQGkeeRv_uvSbOIdwF-Mtpa5r6PozUoCA_oIiJI",
            "key": "etags132",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-23T05:18:04+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags132?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzMwNjQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"QXpyBQGkeeRv_uvSbOIdwF-Mtpa5r6PozUoCA_oIiJI\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:18:04 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzMwNjk=;sn=74773069",
        "x-ms-date": "Thu, 23 Oct 2025 05:18:05 GMT"
      },
      "ResponseBody": {
        "etag": "QXpyBQGkeeRv_uvSbOIdwF-Mtpa5r6PozUoCA_oIiJI",
        "key": "etags132",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:18:04+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags132"
  }
}
