{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags100?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags100",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"IZzrM9egSroLlbAwYYARzUU-u1Yqbs8Z24U1GAWC6sM\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:57:46 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE0Mjc=;sn=75061427",
        "x-ms-date": "Tue, 04 Nov 2025 18:57:46 GMT"
      },
      "ResponseBody": {
        "etag": "IZzrM9egSroLlbAwYYARzUU-u1Yqbs8Z24U1GAWC6sM",
        "key": "etags100",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:57:46+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags100?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjE0Mjc="
      },
      "RequestBody": {
        "key": "etags100",
        "value": "world",
        "last_modified": "2025-11-04T18:57:46.000Z",
        "tags": {},
        "etag": "IZzrM9egSroLlbAwYYARzUU-u1Yqbs8Z24U1GAWC6sM"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE0MzI=;sn=75061432",
        "x-ms-date": "Tue, 04 Nov 2025 18:57:46 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags100",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjE0MzI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"hkokuBJTCm-c2irgIHO890RQWYLrHsjd9ZpD6DHVBQ8\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE0MzY=;sn=75061436",
        "x-ms-date": "Tue, 04 Nov 2025 18:57:46 GMT"
      },
      "ResponseBody": {
        "etag": "hkokuBJTCm-c2irgIHO890RQWYLrHsjd9ZpD6DHVBQ8",
        "items": [
          {
            "etag": "IZzrM9egSroLlbAwYYARzUU-u1Yqbs8Z24U1GAWC6sM",
            "key": "etags100",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-04T18:57:46+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags100?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjE0MzY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"IZzrM9egSroLlbAwYYARzUU-u1Yqbs8Z24U1GAWC6sM\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:57:46 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE0Mzk=;sn=75061439",
        "x-ms-date": "Tue, 04 Nov 2025 18:57:46 GMT"
      },
      "ResponseBody": {
        "etag": "IZzrM9egSroLlbAwYYARzUU-u1Yqbs8Z24U1GAWC6sM",
        "key": "etags100",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:57:46+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags100"
  }
}
