{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags394?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags394",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"fARTPUdGQVTNLljV-ndlR9X6CGWXzqvlSKu5CdAH4b0\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:08:24 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3NjkyNg==;sn=102476926",
        "x-ms-date": "Tue, 13 Jan 2026 06:08:24 GMT"
      },
      "ResponseBody": {
        "etag": "fARTPUdGQVTNLljV-ndlR9X6CGWXzqvlSKu5CdAH4b0",
        "key": "etags394",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-13T06:08:24+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags394?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3NjkyNg=="
      },
      "RequestBody": {
        "key": "etags394",
        "value": "world",
        "last_modified": "2026-01-13T06:08:24.000Z",
        "tags": {},
        "etag": "fARTPUdGQVTNLljV-ndlR9X6CGWXzqvlSKu5CdAH4b0"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3NjkyOA==;sn=102476928",
        "x-ms-date": "Tue, 13 Jan 2026 06:08:24 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags394",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3NjkyOA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"seINebeGlRc3h2-Lj9t39ByuyyEpPchtb7VUmDVtX_4\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3NjkzMg==;sn=102476932",
        "x-ms-date": "Tue, 13 Jan 2026 06:08:24 GMT"
      },
      "ResponseBody": {
        "etag": "seINebeGlRc3h2-Lj9t39ByuyyEpPchtb7VUmDVtX_4",
        "items": [
          {
            "etag": "fARTPUdGQVTNLljV-ndlR9X6CGWXzqvlSKu5CdAH4b0",
            "key": "etags394",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-13T06:08:24+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags394?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3NjkzMg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"fARTPUdGQVTNLljV-ndlR9X6CGWXzqvlSKu5CdAH4b0\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:08:24 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3NjkzNw==;sn=102476937",
        "x-ms-date": "Tue, 13 Jan 2026 06:08:25 GMT"
      },
      "ResponseBody": {
        "etag": "fARTPUdGQVTNLljV-ndlR9X6CGWXzqvlSKu5CdAH4b0",
        "key": "etags394",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-13T06:08:24+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags394"
  }
}
