{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags907?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags907",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0pXS0xyH02fFa-EoJ1pywe-cAunRRwYfrQLEwk-wK2U\"",
        "Last-Modified": "Mon, 26 Jan 2026 02:56:55 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NTk3MQ==;sn=103845971",
        "x-ms-date": "Mon, 26 Jan 2026 02:56:55 GMT"
      },
      "ResponseBody": {
        "etag": "0pXS0xyH02fFa-EoJ1pywe-cAunRRwYfrQLEwk-wK2U",
        "key": "etags907",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T02:56:55+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags907?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NTk3MQ=="
      },
      "RequestBody": {
        "key": "etags907",
        "value": "world",
        "last_modified": "2026-01-26T02:56:55.000Z",
        "tags": {},
        "etag": "0pXS0xyH02fFa-EoJ1pywe-cAunRRwYfrQLEwk-wK2U"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NTk3NA==;sn=103845974",
        "x-ms-date": "Mon, 26 Jan 2026 02:56:55 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags907",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NTk3NA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"hgi7RpmVyJc4DXHSxiQm6qrgV68SUO96Z2x3i1KgUKY\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NTk3NA==;sn=103845974",
        "x-ms-date": "Mon, 26 Jan 2026 02:56:55 GMT"
      },
      "ResponseBody": {
        "etag": "hgi7RpmVyJc4DXHSxiQm6qrgV68SUO96Z2x3i1KgUKY",
        "items": [
          {
            "etag": "0pXS0xyH02fFa-EoJ1pywe-cAunRRwYfrQLEwk-wK2U",
            "key": "etags907",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-26T02:56:55+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags907?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NTk3NA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0pXS0xyH02fFa-EoJ1pywe-cAunRRwYfrQLEwk-wK2U\"",
        "Last-Modified": "Mon, 26 Jan 2026 02:56:55 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NTk3OA==;sn=103845978",
        "x-ms-date": "Mon, 26 Jan 2026 02:56:55 GMT"
      },
      "ResponseBody": {
        "etag": "0pXS0xyH02fFa-EoJ1pywe-cAunRRwYfrQLEwk-wK2U",
        "key": "etags907",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T02:56:55+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags907"
  }
}
