{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags513?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags513",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0WckkeRX1gBo-0WOdNLhP9muT5uymgbENdioalu9MS0\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:52:36 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI3Njg=;sn=74232768"
      },
      "ResponseBody": {
        "etag": "0WckkeRX1gBo-0WOdNLhP9muT5uymgbENdioalu9MS0",
        "key": "etags513",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T16:52:36+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/etags513?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzI3Njg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GNMPbeNYlH-7wdl9ZZcqf-Vy0TSg9x2xDg28gQe_nv0\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:52:36 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI3NzI=;sn=74232772"
      },
      "ResponseBody": {
        "etag": "GNMPbeNYlH-7wdl9ZZcqf-Vy0TSg9x2xDg28gQe_nv0",
        "key": "etags513",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": true,
        "last_modified": "2025-10-02T16:52:36+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags513?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzI3NzI="
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI3NzM=;sn=74232773"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/key-locked",
        "title": "Modifing key 'etags513' is not allowed",
        "name": "etags513",
        "detail": "The key is read-only. To allow modification unlock it first.",
        "status": 409
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags513",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzI3Nzg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"zj7c-F1S7WNrLxVmtVUPGQbiZfKEcOPn0uuL8c46Vqc\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI3Nzk=;sn=74232779"
      },
      "ResponseBody": {
        "etag": "zj7c-F1S7WNrLxVmtVUPGQbiZfKEcOPn0uuL8c46Vqc",
        "items": [
          {
            "etag": "v3FKpwDphBjFl-DwcnDkryFvTo3FapnRfPIBHFUz0To",
            "key": "etags513",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-02T16:52:37+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags513?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzI3Nzk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"v3FKpwDphBjFl-DwcnDkryFvTo3FapnRfPIBHFUz0To\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:52:37 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI3ODQ=;sn=74232784"
      },
      "ResponseBody": {
        "etag": "v3FKpwDphBjFl-DwcnDkryFvTo3FapnRfPIBHFUz0To",
        "key": "etags513",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T16:52:37+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags513"
  }
}
