{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-49710/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-49710/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-49710/d9bd5dddc5eb442fa231673e8d6a739b",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "x4BbS4X6tlARFU-Al1S2eQjHnDC6ka0w5fJO5_IDck6NRQ4xYrI2MRzlx-YmZYAEbC5WZteIPDRaK-CHCDsaSEN_CHV38HlxxeaooiiR5rqaNA7zg7kkL0YXasotuS146HqdueZpxJvqu_f1lj8QdY7tjoT1KUjylTIaAH6_o1aCX66D1m2lEPQAOgpv9z0jB6lqmwWdz42aJutYiTGMwnr6qr3S7aAG34KEAPs-PeWh5SBig7jZzmy42k_Qu-gJOLypdaLcDK8hCa_GhCj5TpKh5NkTc3CT59v5Z9DDKbTXvkRrj9dwbVQ5vtjCOV6fvoowMHUmOPcR7UldwkZrlQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1739479717,
          "updated": 1739479717,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-49710/d9bd5dddc5eb442fa231673e8d6a739b?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-49710/d9bd5dddc5eb442fa231673e8d6a739b/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "ZVJEOpllu5j_M4_8rnEmS4gS33itKrPUvkizsz--EGE"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-49710/d9bd5dddc5eb442fa231673e8d6a739b",
        "value": "CDld32wCtedolygVja9zZjPo9eHKinFZS7_UCoRl8aFWQy5Qtdva5fkiaQC3q5YMTyRyEgByk6Ew_WjoU3LaPlbpyzadmHt9aNRR7eVUDwF9QQG1cLC_hGIGlauXh1QxS9EUQ57WI34IcNkFFw8DVGQ__hRKNQ4SiHk1ZvqbaQUmMkCKcaDAvifhCu1ftX_xn1IWueasVhA1JeIYO7u3YC6Iw8lshMogPhSiwLwG8nWqBEoMK3eg4l6NnO10qPtukuyKY7tV7ekCbWsLoLm0bMiQUZRYyvrCnN4mZoa2kDDoIDPZiJw29SM_7OF8X8fpPfcoGKZzOw7iF_w287Y0lQ"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-49710?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/RSA-HSM-49710",
        "deletedDate": 1739479719,
        "scheduledPurgeDate": 1740084519,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-49710/d9bd5dddc5eb442fa231673e8d6a739b",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "x4BbS4X6tlARFU-Al1S2eQjHnDC6ka0w5fJO5_IDck6NRQ4xYrI2MRzlx-YmZYAEbC5WZteIPDRaK-CHCDsaSEN_CHV38HlxxeaooiiR5rqaNA7zg7kkL0YXasotuS146HqdueZpxJvqu_f1lj8QdY7tjoT1KUjylTIaAH6_o1aCX66D1m2lEPQAOgpv9z0jB6lqmwWdz42aJutYiTGMwnr6qr3S7aAG34KEAPs-PeWh5SBig7jZzmy42k_Qu-gJOLypdaLcDK8hCa_GhCj5TpKh5NkTc3CT59v5Z9DDKbTXvkRrj9dwbVQ5vtjCOV6fvoowMHUmOPcR7UldwkZrlQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1739479717,
          "updated": 1739479717,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-HSM-49710?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: RSA-HSM-49710"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-HSM-49710?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RSA-HSM": "RSA-HSM-49710"
  }
}
