{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-59013/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-59013/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-59013/a156ba113a1d48ec9c47d18a68566d38",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "jViANWM0KfiwVpWldm876W6UIR_gEjyFQgXqfGVYyFF3N46tjUqlkq5eusfFhBeMHXb1g0XtmZ0384HvFK0NiqbAKTMJyuPkloKEZfzX4kldqYUy--hY2vlm_uoBku8q3ZLfV9zri4lWxNVyef1wo5JLFOjT5f6rAt8zHo5Z-3q_rcPcH16s7JKxbfxmWcNs-EWfWr8zo8wAP6Pfcc1joPKVGuPtkQJEuqeA7gnWwruTjur-DUbnx222rhxQGVvN6jc1vJ0aaKHCmkU6N8YRzJVj-Cv8TlQaZ9_-ClI1VDR9NZILxMVk_HPltmBw-XIL8yOLfBxmDWRSeCeQl4TmlQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1732063082,
          "updated": 1732063082,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-59013/a156ba113a1d48ec9c47d18a68566d38?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-59013/a156ba113a1d48ec9c47d18a68566d38/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "ZVJEOpllu5j_M4_8rnEmS4gS33itKrPUvkizsz--EGE"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-59013/a156ba113a1d48ec9c47d18a68566d38",
        "value": "N0wCHeDmIAfdikCweUX-Pmre72XcQQnueSQYFhV9ByGH7DoKWJsqXFqU4HPwWioy2FMBrMS3jWu9pC95Qdjp-xAJtbPE4QBLTSbdsGtU0QHwxQw9kshW1vT_AiC97H8PM6oyd0RogmaD2n97mc6tXrgS-e4siXWHq7cOdpw39GVvZgZ7wSEvxHZRjARKqJFu8rS3Aswj-DQGrDAuPLvq_jW7GlckCyemsr94jlxtMYmG2Hk-tDf18TaFgOQAz-85P_IKGSoFn0_HHpMZg-wcCUN6haSleaC-ouDGumRE8jFx2Q2dE8aUe4ojEBlTHlenAt0rBjT55_cUIum1bWvFqg"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-59013/a156ba113a1d48ec9c47d18a68566d38/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "ZVJEOpllu5j_M4_8rnEmS4gS33itKrPUvkizsz--EGE",
        "value": "N0wCHeDmIAfdikCweUX-Pmre72XcQQnueSQYFhV9ByGH7DoKWJsqXFqU4HPwWioy2FMBrMS3jWu9pC95Qdjp-xAJtbPE4QBLTSbdsGtU0QHwxQw9kshW1vT_AiC97H8PM6oyd0RogmaD2n97mc6tXrgS-e4siXWHq7cOdpw39GVvZgZ7wSEvxHZRjARKqJFu8rS3Aswj-DQGrDAuPLvq_jW7GlckCyemsr94jlxtMYmG2Hk-tDf18TaFgOQAz-85P_IKGSoFn0_HHpMZg-wcCUN6haSleaC-ouDGumRE8jFx2Q2dE8aUe4ojEBlTHlenAt0rBjT55_cUIum1bWvFqg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-59013?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/RSA-HSM-59013",
        "deletedDate": 1732063085,
        "scheduledPurgeDate": 1732667885,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-59013/a156ba113a1d48ec9c47d18a68566d38",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "jViANWM0KfiwVpWldm876W6UIR_gEjyFQgXqfGVYyFF3N46tjUqlkq5eusfFhBeMHXb1g0XtmZ0384HvFK0NiqbAKTMJyuPkloKEZfzX4kldqYUy--hY2vlm_uoBku8q3ZLfV9zri4lWxNVyef1wo5JLFOjT5f6rAt8zHo5Z-3q_rcPcH16s7JKxbfxmWcNs-EWfWr8zo8wAP6Pfcc1joPKVGuPtkQJEuqeA7gnWwruTjur-DUbnx222rhxQGVvN6jc1vJ0aaKHCmkU6N8YRzJVj-Cv8TlQaZ9_-ClI1VDR9NZILxMVk_HPltmBw-XIL8yOLfBxmDWRSeCeQl4TmlQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1732063082,
          "updated": 1732063082,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-HSM-59013?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: RSA-HSM-59013"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-HSM-59013?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RSA-HSM": "RSA-HSM-59013"
  }
}
