{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-21086/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-21086/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-21086/3055e9f961c44499892f41a84301ef2b",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "nMnbJYoc9lfXUh-kZxZ9DcWu-Rt2bQDiyG-EojU-Uuu7SN2qZjSPY-KSGCPB0755UvMXrOGNFA40_Z8mtxFjxWUia8pU5td2XB18aKkr5M2v44NSDF3GgHZTuBHikSJgMR48cpJyH6wfqutLl6OpO-xwniA1ToaSJ3D9otzH6CrPtaqenrPpTVzU4FKQvb3Z1v7XlYtbjcPVgn-e1yrb-5kT3TkKt8clKGOG-WD_WTTZ7qUnY9SkUtsXdXeOuIjydH7Eqn_wL7Q3zWoHdrGAqZqLzP7Kq3FooRhcCPApG8Oqw4s2MTJcyt1Hb2VPXBCgrqrlXfO0JTycThTjXC2kUQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778515995,
          "updated": 1778515995,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-21086?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/RSA-HSM-21086",
        "deletedDate": 1778515996,
        "scheduledPurgeDate": 1779120796,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-21086/3055e9f961c44499892f41a84301ef2b",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "nMnbJYoc9lfXUh-kZxZ9DcWu-Rt2bQDiyG-EojU-Uuu7SN2qZjSPY-KSGCPB0755UvMXrOGNFA40_Z8mtxFjxWUia8pU5td2XB18aKkr5M2v44NSDF3GgHZTuBHikSJgMR48cpJyH6wfqutLl6OpO-xwniA1ToaSJ3D9otzH6CrPtaqenrPpTVzU4FKQvb3Z1v7XlYtbjcPVgn-e1yrb-5kT3TkKt8clKGOG-WD_WTTZ7qUnY9SkUtsXdXeOuIjydH7Eqn_wL7Q3zWoHdrGAqZqLzP7Kq3FooRhcCPApG8Oqw4s2MTJcyt1Hb2VPXBCgrqrlXfO0JTycThTjXC2kUQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778515995,
          "updated": 1778515995,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-HSM-21086?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: RSA-HSM-21086"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-HSM-21086?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RSA-HSM": "RSA-HSM-21086"
  }
}
