{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-82960/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-82960/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-82960/5dcba905b9f84633bd9ec5e819de2fbf",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "iwjTaJJRejJJjfcWZz2Urpf3FDJaAYuXwqRyotTJ5R_-4xbcJYZI0c8YWojyjOtQUPKuvNL57MMJ2n9GT5iI-sgoXUZdpxcAJWj40ZTAvRdVszPsQoY1ztaEiNTHNcHKUu9J9Is1ojV01rip-ISIKt81jQ9cCsh5KK3IQtuO1A36AYu7r-efXJeYT5a1I_vSfuW8gXXhC3TALTL8nPv5urbQ79WLH-c0MP0pcY2pBtzeagsROqmM0g1T9Xzu2UL6AucUSU4pHJ3RN-UDOHEpRiRFFT4CsjTu4BWGA2-GGx8479GbQjvWW297aBtmA1-KvPQTARpAbubkSnovFwC8yQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778604677,
          "updated": 1778604677,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-82960/5dcba905b9f84633bd9ec5e819de2fbf?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-82960/5dcba905b9f84633bd9ec5e819de2fbf/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "5N_s62ATPp1bDA8b3sisNOM_Jhj0-S2cHsnS9457JJKDQ3rTA187ybBD759CqgjK"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-82960/5dcba905b9f84633bd9ec5e819de2fbf",
        "value": "N-yKxNNWQlfZYaoS2VUpXwsRShlh-2fYq5hSiuY7GQPCwyyGYnjtlTnN3GqoabuT_Ly9ab4xzWu7wx1irQ_8Jazb0_VLmt4ut0HvF6ioz7V7mj8tzBfbB1v9BmVWietoGl46YaaqMA5ouTJJMkeKQ2MD9LGjhf7USFfkHOFlMs1XImAgmye_lGyXCS8xVBza6gTFAG4hZd8uLB4bli3pmvgEYbp_VkznXpk9ZDrdTPK_qfqKcpVN9y4NfGcw8w49mHBSSY4fp1yiJr9suNoRsKXtBaIpNqwwBYbqR7exrlP-WUWuEaTmGHYqarxX-AJZsl15gXprdkkVFcQYuGGqaA"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-82960/5dcba905b9f84633bd9ec5e819de2fbf/verify?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "5N_s62ATPp1bDA8b3sisNOM_Jhj0-S2cHsnS9457JJKDQ3rTA187ybBD759CqgjK",
        "value": "N-yKxNNWQlfZYaoS2VUpXwsRShlh-2fYq5hSiuY7GQPCwyyGYnjtlTnN3GqoabuT_Ly9ab4xzWu7wx1irQ_8Jazb0_VLmt4ut0HvF6ioz7V7mj8tzBfbB1v9BmVWietoGl46YaaqMA5ouTJJMkeKQ2MD9LGjhf7USFfkHOFlMs1XImAgmye_lGyXCS8xVBza6gTFAG4hZd8uLB4bli3pmvgEYbp_VkznXpk9ZDrdTPK_qfqKcpVN9y4NfGcw8w49mHBSSY4fp1yiJr9suNoRsKXtBaIpNqwwBYbqR7exrlP-WUWuEaTmGHYqarxX-AJZsl15gXprdkkVFcQYuGGqaA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-82960?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/RSA-HSM-82960",
        "deletedDate": 1778604681,
        "scheduledPurgeDate": 1779209481,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-82960/5dcba905b9f84633bd9ec5e819de2fbf",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "iwjTaJJRejJJjfcWZz2Urpf3FDJaAYuXwqRyotTJ5R_-4xbcJYZI0c8YWojyjOtQUPKuvNL57MMJ2n9GT5iI-sgoXUZdpxcAJWj40ZTAvRdVszPsQoY1ztaEiNTHNcHKUu9J9Is1ojV01rip-ISIKt81jQ9cCsh5KK3IQtuO1A36AYu7r-efXJeYT5a1I_vSfuW8gXXhC3TALTL8nPv5urbQ79WLH-c0MP0pcY2pBtzeagsROqmM0g1T9Xzu2UL6AucUSU4pHJ3RN-UDOHEpRiRFFT4CsjTu4BWGA2-GGx8479GbQjvWW297aBtmA1-KvPQTARpAbubkSnovFwC8yQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778604677,
          "updated": 1778604677,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-HSM-82960?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: RSA-HSM-82960"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-HSM-82960?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RSA-HSM": "RSA-HSM-82960"
  }
}
