{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-79299/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-79299/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-79299/1091f07a2d0d4cb59583175160ef8cc2",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "ok5SMSqlszwkGsSnq44ZGQydTGF8DvhEU8W6MYaGB8wu_35Ij92bLKNvRsVSfaxefXTb5eo_yUTCULMMVKUKGeQdKCZjU6OHWIiWjXcEZLScfZuclNP8cCc3j0cQh3v4PRV93FdFmfCuEAp5GIo-CA0Ps778h7q7qaXslbzuxwK9wyVh0gQsc6U1ZdEbzo206dBYCKA1AQr_hB3IzwxfZBHh71BLW8gCJt88DA_V0uJefPAqGEcNX3ICs9A9gnvTeJKa-IHQNJpA8nuunUSqHno7AieUuPrzckWgqED-UFQ7pmOjTmSwCHMKNt7FE2n3ot0sHYHvmSXH6FieR1sttQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1782209591,
          "updated": 1782209591,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-79299?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/RSA-HSM-79299",
        "deletedDate": 1782209591,
        "scheduledPurgeDate": 1782814391,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-79299/1091f07a2d0d4cb59583175160ef8cc2",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "ok5SMSqlszwkGsSnq44ZGQydTGF8DvhEU8W6MYaGB8wu_35Ij92bLKNvRsVSfaxefXTb5eo_yUTCULMMVKUKGeQdKCZjU6OHWIiWjXcEZLScfZuclNP8cCc3j0cQh3v4PRV93FdFmfCuEAp5GIo-CA0Ps778h7q7qaXslbzuxwK9wyVh0gQsc6U1ZdEbzo206dBYCKA1AQr_hB3IzwxfZBHh71BLW8gCJt88DA_V0uJefPAqGEcNX3ICs9A9gnvTeJKa-IHQNJpA8nuunUSqHno7AieUuPrzckWgqED-UFQ7pmOjTmSwCHMKNt7FE2n3ot0sHYHvmSXH6FieR1sttQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1782209591,
          "updated": 1782209591,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-HSM-79299?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: RSA-HSM-79299"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-HSM-79299?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RSA-HSM": "RSA-HSM-79299"
  }
}
