{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-51152/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-51152/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-51152/25b3ae14595c43e992cf216022d8d161",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "iTn7gInLCeNuGBo2zL7X49kBiuGzFVI6Y9tx831MikK0t5wz10-suYSek80_kNvV-wJccobuLNNbGRTCdZ7OdvZ6SFoEHFC6zVq0Ey2du_OSdkp70wnu98QtfeZIYu6GPJByPK4o5lVEz5thNJiWssWlQc3yz5tedWp-amQPJ4K6SUzM-TFt-Q1_MT3IDsePlvLvqo1tihrpuTZ4CrHry1_9RmYCPvdDny91R-ocJpMMmzs4mRjF5l8UOwQF7T3yojdbPx6LAhPgSXsJ7n0TT8sNc-icnfl_VolvQZRYWUOYyptKNiUTA0jPlQMVJbUdwpFQeWhMJeO4SJwSPhnvxw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1782209615,
          "updated": 1782209615,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-51152/25b3ae14595c43e992cf216022d8d161?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-51152/25b3ae14595c43e992cf216022d8d161/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "ZVJEOpllu5j_M4_8rnEmS4gS33itKrPUvkizsz--EGE"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-51152/25b3ae14595c43e992cf216022d8d161",
        "value": "YVVbgogDhTnZRCQL9zltftxnUc9lmY4ynmqoGgFq-oArIBWYC5D6M8Zz5kVW8TQJXxED0z3Ws4jloBQh71mr61KQNcVQQOGCCgQS8g_OG1CWFS47zI6510VVOgiFXCSLUKBHeTVu6CebUQzAL4ff9FYra0fuSE_TLpnJGjbR3n7Pk-V6UVaKqeyE2WTTZVSlnqSXWFhYvciI9AiqDTRBoeeRt3PnlSl088H5zdqFjMm4F9zHgg3W_d0uBB1eFS9PgfexnvcrpaQRhqwK2ZlgqCmNwEMt4ehwK2ZSIj1tTo05rEba82BcB1bcZ1WWMCe3uP2rxytR23pljC8cF60aQg"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-51152?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/RSA-HSM-51152",
        "deletedDate": 1782209619,
        "scheduledPurgeDate": 1782814419,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-51152/25b3ae14595c43e992cf216022d8d161",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "iTn7gInLCeNuGBo2zL7X49kBiuGzFVI6Y9tx831MikK0t5wz10-suYSek80_kNvV-wJccobuLNNbGRTCdZ7OdvZ6SFoEHFC6zVq0Ey2du_OSdkp70wnu98QtfeZIYu6GPJByPK4o5lVEz5thNJiWssWlQc3yz5tedWp-amQPJ4K6SUzM-TFt-Q1_MT3IDsePlvLvqo1tihrpuTZ4CrHry1_9RmYCPvdDny91R-ocJpMMmzs4mRjF5l8UOwQF7T3yojdbPx6LAhPgSXsJ7n0TT8sNc-icnfl_VolvQZRYWUOYyptKNiUTA0jPlQMVJbUdwpFQeWhMJeO4SJwSPhnvxw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1782209615,
          "updated": 1782209615,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-HSM-51152?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: RSA-HSM-51152"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-HSM-51152?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RSA-HSM": "RSA-HSM-51152"
  }
}
