{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-38918/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-38918/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-38918/27b39307025445b5b674f655bf2304a1",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tC4d9zIPEkOPCFfflMNqCz4t9vkzLl1szS9l1X-clMpZslZtGRvp29VrXazJVpga-UTav7RKwqyeQYvB_286a3_4aq5d6oWWsErw9g_aGRS0i2zd2ISzwkFgVeOX3j6La8y0tqOGK-Df8BgK1p5AKwr7QSdc4Fs4M-JeBkkDr7LuHnHHTcn_vv5p7WdhzNi76sMED_APKUQHTthT0goSb5C04GmJw3JoXc1yKQcK_zZ5dpeeg66rF2kzmwAteeUtx75B4vGUQVgHow4iqhHsZeshuA8B--2vxgq-dX5iwnLxG7EwssSS_p61FkqDyxowJyZX9dMeN9nd-mCB6qHRSw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777137456,
          "updated": 1777137456,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-38918/27b39307025445b5b674f655bf2304a1?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-38918/27b39307025445b5b674f655bf2304a1/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "ZVJEOpllu5j_M4_8rnEmS4gS33itKrPUvkizsz--EGE"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-38918/27b39307025445b5b674f655bf2304a1",
        "value": "YTfwql7SQgUpOrktRkaXNRRszW_lOxReg1UU91N9uo_E3eI-vRjF_48Mjn4-P9K0dtaCmUSqVuRBR742kKrV4EuwAC7i2B6FHWJKIGR3EF_EnQ4BvE-la9y9wLjX9KK4gCCiH_PtONkimoOt9fhmycVWxsSAlZ0BViU9cyLbQ6oaJRyGlLkRkFqPh81ch6wTAJ10ytqAVPcxZakfmfTvYGPclzY79l-ainjRqRHCRsKSZTZbrnQY5HaISKyfjSzfqNdOAvAiqHbETGhMF7RVtkJKijxN1jAwgBD97c480Fj28GhXHvFvdN5GVJNRpsp5Ymr1MQcU-pcFI7coG4IeMw"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-38918?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/RSA-HSM-38918",
        "deletedDate": 1777137460,
        "scheduledPurgeDate": 1777742260,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-38918/27b39307025445b5b674f655bf2304a1",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tC4d9zIPEkOPCFfflMNqCz4t9vkzLl1szS9l1X-clMpZslZtGRvp29VrXazJVpga-UTav7RKwqyeQYvB_286a3_4aq5d6oWWsErw9g_aGRS0i2zd2ISzwkFgVeOX3j6La8y0tqOGK-Df8BgK1p5AKwr7QSdc4Fs4M-JeBkkDr7LuHnHHTcn_vv5p7WdhzNi76sMED_APKUQHTthT0goSb5C04GmJw3JoXc1yKQcK_zZ5dpeeg66rF2kzmwAteeUtx75B4vGUQVgHow4iqhHsZeshuA8B--2vxgq-dX5iwnLxG7EwssSS_p61FkqDyxowJyZX9dMeN9nd-mCB6qHRSw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777137456,
          "updated": 1777137456,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-HSM-38918?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: RSA-HSM-38918"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-HSM-38918?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RSA-HSM": "RSA-HSM-38918"
  }
}
