{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-95301/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-95301/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-95301/1a77ce52ab2d4c74a0302cb8eab79798",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "m_AZogqPHdztxNED8cDgN-9XwuwH_4rYAqEJQAuarzEwgXTs2WDniSBzHRZAr1OkJEk-JfkFc_ik150zUlbKx7mnGaEwzp_jFH0xZaj3_a-Czk4Ofgk0jbVl-sIW5YBbW3duhr-EEDPfVIApZgNtVepjA3_YzWUyYzDLPr4Uo9Pm2te5buGjrv3HgD_OEoxCGWe_ZRdo0n3tGJKJB0Ozc9dvRBNfsQztM9Mnjvwtr6WGG2iBpgMu5mDhzAKry2UD5nVqcmEhZOmTiNX66srDkF_NAObHtKRHWMEyitb2MgUdPMAqSevZN2Pb0DdPxVr-iVO1aoGEU9fVt7fh6_ghgQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1732127397,
          "updated": 1732127397,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-95301/1a77ce52ab2d4c74a0302cb8eab79798?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-95301/1a77ce52ab2d4c74a0302cb8eab79798/decrypt?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "ZrD2U1ug12LaMGgqSFaDDe0o-6fFv5gaoHgM95O22AUxVopiC0oXaCCEXSrcrgDG_luVjlM8qyBtcDetkI1O-z6xOLQa2zTGABEJh61g1eorkMipm7P4aQPPux3n3bIJvZ4Rcah1Wa0PQHImncedN5YtchK8qsx3Ae4ASpt44ZKy-gaClrKE6ZpKQdz6nDTTTkZV6N6Wi3L0OsoekTITgdlpRH0XQEPFsGJJFLfnAoZ3uz11y_Vs_U-BKV9J0fj0_S81iKbXlL9d-vZIE-XUWTaAIS0DJ33no2uYgHULueE9TkB7enjtwv-qEB8kLGTHj7lzGYu23S6_DYDVggLJZA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-95301/1a77ce52ab2d4c74a0302cb8eab79798",
        "value": "ZW5jcnlwdCAmIGRlY3J5cHQgd2l0aCBhbiBSU0EtSFNNIGtleSBhbmQgdGhlIFJTQS1PQUVQIGFsZ29yaXRobQ"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-95301?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/RSA-HSM-95301",
        "deletedDate": 1732127400,
        "scheduledPurgeDate": 1732732200,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-95301/1a77ce52ab2d4c74a0302cb8eab79798",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "m_AZogqPHdztxNED8cDgN-9XwuwH_4rYAqEJQAuarzEwgXTs2WDniSBzHRZAr1OkJEk-JfkFc_ik150zUlbKx7mnGaEwzp_jFH0xZaj3_a-Czk4Ofgk0jbVl-sIW5YBbW3duhr-EEDPfVIApZgNtVepjA3_YzWUyYzDLPr4Uo9Pm2te5buGjrv3HgD_OEoxCGWe_ZRdo0n3tGJKJB0Ozc9dvRBNfsQztM9Mnjvwtr6WGG2iBpgMu5mDhzAKry2UD5nVqcmEhZOmTiNX66srDkF_NAObHtKRHWMEyitb2MgUdPMAqSevZN2Pb0DdPxVr-iVO1aoGEU9fVt7fh6_ghgQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1732127397,
          "updated": 1732127397,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-HSM-95301?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: RSA-HSM-95301"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-HSM-95301?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RSA-HSM": "RSA-HSM-95301"
  }
}
