{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-45668/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-45668/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-45668/009ae272928241b3b8bded4e05fd9395",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wcEqroYZK3u2VWXo9JTe7F0oHUB6bYIQot7NmE7WDUy6XlcLcuFbYQOSoQo5QN7OU8sUmG27WigqYwY8IkAyIkDAnZRJHuvH0GYN19Muu8iK0Xd1JNMYr7Mg6daSkMfXKO_Kh1oQMoh-4cm80EJocEQASmH1jJhK514LeJt-TzSgK89hv4rHzO0abOplrDAVpLpRN6P4UGI_hHUUhbdx148YTHNOunWsc9iNUaGd9f823Z3owPF9DyoaaPwb2T3IsUqi4-8GD2y6UP59jLcWP7o9Lm39cio9ROrTCexL6KNpVdqoG5sIjCZVweU7tSX6tV-r9Ljsw1ebmD8CJ6Holw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1732063093,
          "updated": 1732063093,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-45668/009ae272928241b3b8bded4e05fd9395?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-45668/009ae272928241b3b8bded4e05fd9395/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "ZVJEOpllu5j_M4_8rnEmS4gS33itKrPUvkizsz--EGE"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-45668/009ae272928241b3b8bded4e05fd9395",
        "value": "JsQ30gqf2gJ8WDJXPlaZE0zqglRT5SjwgUm5sWt2j11JsT3Kn33Ntpa0NVWEAyNjylj6OZWe68uJXAjZk-X71MgQJhMfhivu7BkQLSoC3vAIit-wAAhTAvQu7jrErqJTfRF6FrNU42QEf_99FiV38cf-oT4PKPA_K28kgFIqRyiXGmYg_UiHjeJJIjw5HxADQQ2Xtmyl4f8QM0j4JwPfSCHZtolSW9jO0x1xZBRoy9lDmb3KHZq_6Vr1jiOUvFeVDQri1eCXzkc8va6-RvUeCRSH585UHjmAbDuIOOy6oh6jTefuhzZ1_6-skSPelfcvZ8Huc7V3nzrUOkjQpKtg5g"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-45668?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/RSA-HSM-45668",
        "deletedDate": 1732063096,
        "scheduledPurgeDate": 1732667896,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-45668/009ae272928241b3b8bded4e05fd9395",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wcEqroYZK3u2VWXo9JTe7F0oHUB6bYIQot7NmE7WDUy6XlcLcuFbYQOSoQo5QN7OU8sUmG27WigqYwY8IkAyIkDAnZRJHuvH0GYN19Muu8iK0Xd1JNMYr7Mg6daSkMfXKO_Kh1oQMoh-4cm80EJocEQASmH1jJhK514LeJt-TzSgK89hv4rHzO0abOplrDAVpLpRN6P4UGI_hHUUhbdx148YTHNOunWsc9iNUaGd9f823Z3owPF9DyoaaPwb2T3IsUqi4-8GD2y6UP59jLcWP7o9Lm39cio9ROrTCexL6KNpVdqoG5sIjCZVweU7tSX6tV-r9Ljsw1ebmD8CJ6Holw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1732063093,
          "updated": 1732063093,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-HSM-45668?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: RSA-HSM-45668"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-HSM-45668?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RSA-HSM": "RSA-HSM-45668"
  }
}
