{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-14827/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-14827/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-14827/101015d7ae894a358eb1baaf68b71057",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wShDf0KbvV58Qa54ISWYDjwMPile3Cer0vgLWRdcjg0SKci6laoSpNBgPzbVa_FPCZoIkemU4UYsXd3ZCdPCuZEVpPnUDNL3XDnJMapG6Y59ZfRIsCcffOc_9i9FKcvcawP-NT8G3YdJ3WCEsNPtEqMhCd_QbIDXdln2fqpv3r1it5Q8mmoETO_P0r58ziIbeu7LHCAVd_Xl7G5WcS0mJuUPp20G_prgUFsUUKrcODfyf-kW1MOM63XeVFPkH-FvMCLdYz43D709rO0EzwJeKVroawMkRE21i6T_KpGO7YTDr4CqQiUTgWGRfYgL9qh-TMvBRsRsRMJlDwsCmxqVnQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778687805,
          "updated": 1778687805,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-14827?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/RSA-HSM-14827",
        "deletedDate": 1778687806,
        "scheduledPurgeDate": 1779292606,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-14827/101015d7ae894a358eb1baaf68b71057",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wShDf0KbvV58Qa54ISWYDjwMPile3Cer0vgLWRdcjg0SKci6laoSpNBgPzbVa_FPCZoIkemU4UYsXd3ZCdPCuZEVpPnUDNL3XDnJMapG6Y59ZfRIsCcffOc_9i9FKcvcawP-NT8G3YdJ3WCEsNPtEqMhCd_QbIDXdln2fqpv3r1it5Q8mmoETO_P0r58ziIbeu7LHCAVd_Xl7G5WcS0mJuUPp20G_prgUFsUUKrcODfyf-kW1MOM63XeVFPkH-FvMCLdYz43D709rO0EzwJeKVroawMkRE21i6T_KpGO7YTDr4CqQiUTgWGRfYgL9qh-TMvBRsRsRMJlDwsCmxqVnQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778687805,
          "updated": 1778687805,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-HSM-14827?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: RSA-HSM-14827"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-HSM-14827?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RSA-HSM": "RSA-HSM-14827"
  }
}
