{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-59268/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-59268/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-59268/8cc7a693b34843f8991bf9c1e8a6e978",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "poL1HtYYvTV8rO4ekFmZGDE7gMPKFzCEcb6u5uQVNEPb6LwWZVFVE4zmOs2rOOEwGxpFcecehpi4zCiGwJRTWYpdBoXGfTpJSjlw8Gvv2wPlF_kzBwG7cMPUjP15aSdJPSE03eQw_xpcuwUDqorazNkdlJ94ixHQbj3FiMFV3qFGP8loS4WdtdW0VD3CjTAjLLGU1nlbs7Qi-NwkHI_t-oCO21MN8AvPN9LSuvzca4_NpQ_ZkJS5GG2FZmY3kySWLUvzIoGHkDfYwMUrkqiclQGJZct6bpj0RojGhLeZtPJ3zpsKtVL0JLb2obDHGd_6tZV14QDwfZ3WElqJdZhztw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778604629,
          "updated": 1778604629,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-59268?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/RSA-HSM-59268",
        "deletedDate": 1778604629,
        "scheduledPurgeDate": 1779209429,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-59268/8cc7a693b34843f8991bf9c1e8a6e978",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "poL1HtYYvTV8rO4ekFmZGDE7gMPKFzCEcb6u5uQVNEPb6LwWZVFVE4zmOs2rOOEwGxpFcecehpi4zCiGwJRTWYpdBoXGfTpJSjlw8Gvv2wPlF_kzBwG7cMPUjP15aSdJPSE03eQw_xpcuwUDqorazNkdlJ94ixHQbj3FiMFV3qFGP8loS4WdtdW0VD3CjTAjLLGU1nlbs7Qi-NwkHI_t-oCO21MN8AvPN9LSuvzca4_NpQ_ZkJS5GG2FZmY3kySWLUvzIoGHkDfYwMUrkqiclQGJZct6bpj0RojGhLeZtPJ3zpsKtVL0JLb2obDHGd_6tZV14QDwfZ3WElqJdZhztw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778604629,
          "updated": 1778604629,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-HSM-59268?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: RSA-HSM-59268"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-HSM-59268?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RSA-HSM": "RSA-HSM-59268"
  }
}
