{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-13563/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-13563/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-13563/f11b297163a04a8db81d026cb15d8845",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "ibUKl5Q6x3b4Ci0-ZmwiELHK7AKzBAU3zfwnQuzsdi18lp1dzfNmhHA8BQPeb7PPFEHSY-ciUGcGqCCDXXh82esopuEai1bBL-BnibU1TDIokPIqsJeJRKYWJS1ajii2VX-Z4C6UcjMTCYOraeJUE34rG_RFDljquMnpK7tOOeCkQKvmddfFf_zfkmtdto2nuqlvOowyRq6JLEmsNska-D8LUMiaL7kTZvOOke28OOJmDsV_XAsj_QEZH0YHo92iHREpW0EFj_jQufKOojO3CQMEhbEzZ1dMTeyTs3SKjzAPXyNNEKtnoq2IHpZIwbs0K77WAlzq378fF6qZZxIdVw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1732127430,
          "updated": 1732127430,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-13563/f11b297163a04a8db81d026cb15d8845?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-13563/f11b297163a04a8db81d026cb15d8845/unwrapkey?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "cjDaF-hZNOcYJrpPgjsdVZQxKg2fxj_Vky3F8MdUgYf3xYx-5XC2V2wyaThlO7MQ5M8rpWH_Py6-xoGcNF4QBMTevzLzZ2bieQ3fapwke6LRV6dmGIvlDYerCRpw1EgLZLWouIVTnFyiF65jGq19w7ejFB5OTK5F26W6gatgq4blqkMD-ROk_SpENlDhL3j70RL4m625mhJFCy55Kkyv8LdPc_z9Qmlr4XUdbRsfLDxKYU45-7lNTGUEHv1luxypvXtvccs0J3bCN6v--DP7ZJcdUrNGT1U7tsCwW8pi1XWpFK4awYWEo5Qpu1MgNTrlOk0ng25udSSGKC7jVTxVKQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-13563/f11b297163a04a8db81d026cb15d8845",
        "value": "d3JhcCBhbmQgdW53cmFwIHdpdGggUlNBMV81IG9uIGEgUlNBLUhTTSBrZXk"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-13563?api-version=7.6-preview.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/RSA-HSM-13563",
        "deletedDate": 1732127433,
        "scheduledPurgeDate": 1732732233,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-13563/f11b297163a04a8db81d026cb15d8845",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "ibUKl5Q6x3b4Ci0-ZmwiELHK7AKzBAU3zfwnQuzsdi18lp1dzfNmhHA8BQPeb7PPFEHSY-ciUGcGqCCDXXh82esopuEai1bBL-BnibU1TDIokPIqsJeJRKYWJS1ajii2VX-Z4C6UcjMTCYOraeJUE34rG_RFDljquMnpK7tOOeCkQKvmddfFf_zfkmtdto2nuqlvOowyRq6JLEmsNska-D8LUMiaL7kTZvOOke28OOJmDsV_XAsj_QEZH0YHo92iHREpW0EFj_jQufKOojO3CQMEhbEzZ1dMTeyTs3SKjzAPXyNNEKtnoq2IHpZIwbs0K77WAlzq378fF6qZZxIdVw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1732127430,
          "updated": 1732127430,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-HSM-13563?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: RSA-HSM-13563"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-HSM-13563?api-version=7.6-preview.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RSA-HSM": "RSA-HSM-13563"
  }
}
