{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-37394/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-37394/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-37394/307ee71723f94e49bed8d727703e5780",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tKgQCOluEimeVKLEn8jGHyCw3BPIU3I6CgKaeJPu2JR4vRMNNfArJ9AootJuWLqkRGAx8vhLub4GE1FWypN53Td9Zqo6DifmTxYjO89f7aOj4kGMzzJkvogAhuqjgCeyZy40otUAXJd_4dXcYnx-XbKbvtJs6RKjb-GzlE7UdoLFE2QXn0c0IVic-lHzk62UmXK2_x0L-K-Ak9mVNbPPXYVaD02jJOSE3LYq6OL0c83jSNOcFSUP1ah_avKiKZmljGJ0E_2tl218N99rL3E1x9MqOJ1_Wc1qvgE5Z0JXKjt8nVePNJe4FS6by3wMxQNM0Mwbg2iSsno6QPYZgOv_Ew",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777051193,
          "updated": 1777051193,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-37394?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/RSA-HSM-37394",
        "deletedDate": 1777051193,
        "scheduledPurgeDate": 1777655993,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-37394/307ee71723f94e49bed8d727703e5780",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tKgQCOluEimeVKLEn8jGHyCw3BPIU3I6CgKaeJPu2JR4vRMNNfArJ9AootJuWLqkRGAx8vhLub4GE1FWypN53Td9Zqo6DifmTxYjO89f7aOj4kGMzzJkvogAhuqjgCeyZy40otUAXJd_4dXcYnx-XbKbvtJs6RKjb-GzlE7UdoLFE2QXn0c0IVic-lHzk62UmXK2_x0L-K-Ak9mVNbPPXYVaD02jJOSE3LYq6OL0c83jSNOcFSUP1ah_avKiKZmljGJ0E_2tl218N99rL3E1x9MqOJ1_Wc1qvgE5Z0JXKjt8nVePNJe4FS6by3wMxQNM0Mwbg2iSsno6QPYZgOv_Ew",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777051193,
          "updated": 1777051193,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-HSM-37394?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: RSA-HSM-37394"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-HSM-37394?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RSA-HSM": "RSA-HSM-37394"
  }
}
