{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-5812/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-5812/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-5812/49bef08fdba84e1b9be5a18d3310ff99",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tinJX4P0juwrAX8Exc9jYzArxGkL3fIcTgkxjBopAt_Lp8ynRBMcVpN-WTlxr_8OPQZim_vN3GFyKOwfRTCWF_63qI9rJ_BdNmWDzzrrNHPcUXyLvbrxXadPfn1SpZpYgoRjZwpdEgMf_EuKsB7V6OD9yQKDrWpsVP_AsQSA6hIQekjEQzs8Dh5x-hjdmCkB3NBBSd7pb9NJfi1q-3WiHr4j3cQdzRQ3lVqbuoNPZ8-JXwt_-ticJtbebnJlQ2tzGyonvueggc6VbRUdqMXl-UAwcJ8ogR4DenJwyN7o6qwD-UKYBXQ6bgcIQJoVcSw_m44MUAGbTt9yks2OCP0b8w",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777051174,
          "updated": 1777051174,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-5812?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/RSA-HSM-5812",
        "deletedDate": 1777051174,
        "scheduledPurgeDate": 1777655974,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-5812/49bef08fdba84e1b9be5a18d3310ff99",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tinJX4P0juwrAX8Exc9jYzArxGkL3fIcTgkxjBopAt_Lp8ynRBMcVpN-WTlxr_8OPQZim_vN3GFyKOwfRTCWF_63qI9rJ_BdNmWDzzrrNHPcUXyLvbrxXadPfn1SpZpYgoRjZwpdEgMf_EuKsB7V6OD9yQKDrWpsVP_AsQSA6hIQekjEQzs8Dh5x-hjdmCkB3NBBSd7pb9NJfi1q-3WiHr4j3cQdzRQ3lVqbuoNPZ8-JXwt_-ticJtbebnJlQ2tzGyonvueggc6VbRUdqMXl-UAwcJ8ogR4DenJwyN7o6qwD-UKYBXQ6bgcIQJoVcSw_m44MUAGbTt9yks2OCP0b8w",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777051174,
          "updated": 1777051174,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-HSM-5812?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: RSA-HSM-5812"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-HSM-5812?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RSA-HSM": "RSA-HSM-5812"
  }
}
