{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-60353/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-60353/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-60353/8efb7aa2d5d34e7094dbd62313a654db",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "t1dEDDkV2C69MX8aJnlYheqLXB_dTOx6vRH6EPc5tYj0HFgNah9aSjyWL-RM-8OlsXifPleL_913mTWJwm8cix7sJTB3kucRen3ZNiv4b7X5YoLHdqw-ncirHLePBkYsMy7WBig8YS8zS7ekGStEx9BVl2ZiLfJ3v4ZHt4NCMEfuz8aN823VD3xY3T1sb_GYWtAKBTrREwyz1o67EN2ryNaCUDexxeAe9NSWwhVPkjdoCnXp5hegbcyMPQROir1TRL1gjHYyQ7b1NYlvwQmo6mXRgvKNpinQ8aLPUf-Q8-lpr1LsVSFi1GCGhlz3HJCvALq3fSZeSRdihId8usqQNQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778604665,
          "updated": 1778604665,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-60353/8efb7aa2d5d34e7094dbd62313a654db?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-60353/8efb7aa2d5d34e7094dbd62313a654db/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "ZVJEOpllu5j_M4_8rnEmS4gS33itKrPUvkizsz--EGE"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-60353/8efb7aa2d5d34e7094dbd62313a654db",
        "value": "pkZsYYHuSKmtkD7ixurWuhLCIOzk877syRaq2ZfLPjsaoojTT5T8fTuhDeUIysMAxA-gN8PaQ6fTsN8fHVpc5RqRPSO8Uvb6js2diMcLsAZMQpkSOTN3qclNt5ztYf6xrxEj_GwacNru8aTrzaVk5JOvxJAAuPA5kSkPY-yW15yS1pUpqOG5JQY8Db6Hoa0-thYbWLv0QVmjXh6bV5dvmK7mYYKXyRhR5lUfVRja7NP5XCof4YLybaKmpsW1nwWapu6m9xegND_sOuv4jwVdn_ChBdT3VO0s8gK6Z7U8llF6mhTTLy-rNULH70sZsOPrKZZ9d-NbO986OeND0RwnwA"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-60353?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/RSA-HSM-60353",
        "deletedDate": 1778604668,
        "scheduledPurgeDate": 1779209468,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-60353/8efb7aa2d5d34e7094dbd62313a654db",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "t1dEDDkV2C69MX8aJnlYheqLXB_dTOx6vRH6EPc5tYj0HFgNah9aSjyWL-RM-8OlsXifPleL_913mTWJwm8cix7sJTB3kucRen3ZNiv4b7X5YoLHdqw-ncirHLePBkYsMy7WBig8YS8zS7ekGStEx9BVl2ZiLfJ3v4ZHt4NCMEfuz8aN823VD3xY3T1sb_GYWtAKBTrREwyz1o67EN2ryNaCUDexxeAe9NSWwhVPkjdoCnXp5hegbcyMPQROir1TRL1gjHYyQ7b1NYlvwQmo6mXRgvKNpinQ8aLPUf-Q8-lpr1LsVSFi1GCGhlz3HJCvALq3fSZeSRdihId8usqQNQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778604665,
          "updated": 1778604665,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-HSM-60353?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: RSA-HSM-60353"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-HSM-60353?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RSA-HSM": "RSA-HSM-60353"
  }
}
