{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-23340/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-23340/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-23340/81253c3d13fe4a1a888f869cb70b48df",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wufOEvOvpIOqrB278o1ZudhanRMWMWFNezmyX1nKJosS7Z9cL2u0WVL4FW0cKCgzDTjEhCArNZtIWRRyDS0E6y-cszpq1hEVwvj5sCqY6ei3N9g_9rEVf8XggJFD5M9t217Pv7SLaXj41yfUo947dCyB8Nezauz_1XQ8suZ6TZPUdjZmvZJ3uH-voZXfz99A_oKtYWIno5HYg1Gf0eGatLdp7535HUbBErpwiGIaTTpvCbaA-Jy5NtDwZ7J77fWcxOO0UJBkEvokvSQEKF3ynibMtuWk1imSxsOFOaaaF3brNWLJwv4JlkmQYMhg72_oh2d4Q2AJPVMRKsXTplBZmQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1782209582,
          "updated": 1782209582,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-23340?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/RSA-HSM-23340",
        "deletedDate": 1782209582,
        "scheduledPurgeDate": 1782814382,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-23340/81253c3d13fe4a1a888f869cb70b48df",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wufOEvOvpIOqrB278o1ZudhanRMWMWFNezmyX1nKJosS7Z9cL2u0WVL4FW0cKCgzDTjEhCArNZtIWRRyDS0E6y-cszpq1hEVwvj5sCqY6ei3N9g_9rEVf8XggJFD5M9t217Pv7SLaXj41yfUo947dCyB8Nezauz_1XQ8suZ6TZPUdjZmvZJ3uH-voZXfz99A_oKtYWIno5HYg1Gf0eGatLdp7535HUbBErpwiGIaTTpvCbaA-Jy5NtDwZ7J77fWcxOO0UJBkEvokvSQEKF3ynibMtuWk1imSxsOFOaaaF3brNWLJwv4JlkmQYMhg72_oh2d4Q2AJPVMRKsXTplBZmQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1782209582,
          "updated": 1782209582,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-HSM-23340?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: RSA-HSM-23340"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-HSM-23340?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RSA-HSM": "RSA-HSM-23340"
  }
}
