{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-21334/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-21334/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-21334/d21db4e84b4749e1b58e5b6009a471c4",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "jVXTkAGQ2mCkpOxE9WV4azHfbk-XzyUqLaOibSF0TcCRS7f71UA09EeUAaljnBXogtJ4DGrRhWyRfg3O-2VeRWWo0i5Bwov_r7s1VoCKGv5iUhouPnjeY36DDpQ8T4C30HuyLCLKNv8cZSX-krN6CUzlNgvrHZaX2vIsKoHO6PG7hfbw_ilyomyaUZqkPwEKrl0mCCOAv3eRkcIUaLSYsF2xc3OhpG27vaj91B6DqTujKRW6fxYUWrgB3WdzuRtcmvt228pfoCOpijLUj5PC7GA7DGdJ9PBZdYPB-vMSp5cquaFWN7rq-5Y-TFYjqkl6qhDZidaH-g18duu3Xf0UZw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777137435,
          "updated": 1777137435,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-21334?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/RSA-HSM-21334",
        "deletedDate": 1777137435,
        "scheduledPurgeDate": 1777742235,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-21334/d21db4e84b4749e1b58e5b6009a471c4",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "jVXTkAGQ2mCkpOxE9WV4azHfbk-XzyUqLaOibSF0TcCRS7f71UA09EeUAaljnBXogtJ4DGrRhWyRfg3O-2VeRWWo0i5Bwov_r7s1VoCKGv5iUhouPnjeY36DDpQ8T4C30HuyLCLKNv8cZSX-krN6CUzlNgvrHZaX2vIsKoHO6PG7hfbw_ilyomyaUZqkPwEKrl0mCCOAv3eRkcIUaLSYsF2xc3OhpG27vaj91B6DqTujKRW6fxYUWrgB3WdzuRtcmvt228pfoCOpijLUj5PC7GA7DGdJ9PBZdYPB-vMSp5cquaFWN7rq-5Y-TFYjqkl6qhDZidaH-g18duu3Xf0UZw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777137435,
          "updated": 1777137435,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-HSM-21334?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: RSA-HSM-21334"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-HSM-21334?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RSA-HSM": "RSA-HSM-21334"
  }
}
