{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-46215/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-46215/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-46215/533e4712701e450f8ce2c345a99a2c14",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "jIMFyr-BBJ7Z1kHG5UnPD2YZPy2sEXQn791kpvq4cOKnt-uXchrgOnF-fowBPTw5ajBDYc6Gy-PdtlLGBHPATRYmW_pCRVLbxTtFTJSlsTpjxOHH86eEPqOS13ryrqZqTjj5xzgtOnOIP0Tcga_CWRi5Kfvv29HtHghy1_s7VlGc_gEHyTqYkO2loLC1OzqwLAcxhmqFNYw8cwi17picBVj8aGPla4Kh_S6a3j0cx689Vdy1fpy5ZOr8T37gqRg9qIXf1na_rjmMfW7sTgEIySTuCGPpW-pkilRkSWdp8L0HX3hUqehKhepRAwH10GF-LcNkFDYMubq0Z_kRn1F0OQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778587675,
          "updated": 1778587675,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-46215?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/RSA-HSM-46215",
        "deletedDate": 1778587676,
        "scheduledPurgeDate": 1779192476,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-46215/533e4712701e450f8ce2c345a99a2c14",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "jIMFyr-BBJ7Z1kHG5UnPD2YZPy2sEXQn791kpvq4cOKnt-uXchrgOnF-fowBPTw5ajBDYc6Gy-PdtlLGBHPATRYmW_pCRVLbxTtFTJSlsTpjxOHH86eEPqOS13ryrqZqTjj5xzgtOnOIP0Tcga_CWRi5Kfvv29HtHghy1_s7VlGc_gEHyTqYkO2loLC1OzqwLAcxhmqFNYw8cwi17picBVj8aGPla4Kh_S6a3j0cx689Vdy1fpy5ZOr8T37gqRg9qIXf1na_rjmMfW7sTgEIySTuCGPpW-pkilRkSWdp8L0HX3hUqehKhepRAwH10GF-LcNkFDYMubq0Z_kRn1F0OQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778587675,
          "updated": 1778587675,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-HSM-46215?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: RSA-HSM-46215"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-HSM-46215?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RSA-HSM": "RSA-HSM-46215"
  }
}
