{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-87468/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-87468/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-87468/d5c444658dd34c7ca2e61b2d39b7c2d6",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "pRYimOuU7mvwr4CTA7EGT52QqOSpeZGlHADjbiN88_CMHYoW1Fj1XgO-3hgtGfBKxY117qn4ruBwptv5OszsKByJ04tQLjQd3wUA1Q8gbth4L08CT1STGo3t2ZdBFbhzky1P_Dwbu5INJ3lWJaJweX4ed2UhWebPsw7GBqGrIPZ8wBPv7M9VNML-LbkJA906VuqYVIDQiMAbT_OMPZP0IyTIbhKsYg80JHxWaC_8l3tKOdvcVcfD51geWMUjCQyvvloWs2X7oP0DoTLvZrv3SBLppxxrZ9r0oLKL4t3UpFcekNIhXEM6_Fwcb2sFSURBWUMun2mPKhCWZ5p5nNbvAw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780552089,
          "updated": 1780552089,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-87468/d5c444658dd34c7ca2e61b2d39b7c2d6?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-87468/d5c444658dd34c7ca2e61b2d39b7c2d6/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "ZVJEOpllu5j_M4_8rnEmS4gS33itKrPUvkizsz--EGE"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-87468/d5c444658dd34c7ca2e61b2d39b7c2d6",
        "value": "Rmzzrn7BWW1fUxs5YqM-ijU3JJZ9vacOSdHf8zzH3GecnWPNzGm2bq20Vq3rlfP8a9K32a9fnal4lc4uiIcNP4jaepbq_L6Mf27kcecZFNHbTfxfNROGXlPFrR1hBCwd1dYi4W8rn6sEmYoPApyJdYzmdS22KQgqMmKxKXwia-NbwQp59nBs19xgJYiL90cfsJDwOgXZg_9bZpxfqLhgUrbo81_pPBmh19rr2QJK6J5QBStPU_5vdNSuT-KSe8tgsKalrDQpvvm9IIyR3vvgW71JrvldGITIKUMg_x7fkJOfJ6sOH7arfo4zb-uvT97q6sAl0PO6bF9Txz7-2NJ5EA"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-HSM-87468?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/RSA-HSM-87468",
        "deletedDate": 1780552092,
        "scheduledPurgeDate": 1781156892,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-87468/d5c444658dd34c7ca2e61b2d39b7c2d6",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "pRYimOuU7mvwr4CTA7EGT52QqOSpeZGlHADjbiN88_CMHYoW1Fj1XgO-3hgtGfBKxY117qn4ruBwptv5OszsKByJ04tQLjQd3wUA1Q8gbth4L08CT1STGo3t2ZdBFbhzky1P_Dwbu5INJ3lWJaJweX4ed2UhWebPsw7GBqGrIPZ8wBPv7M9VNML-LbkJA906VuqYVIDQiMAbT_OMPZP0IyTIbhKsYg80JHxWaC_8l3tKOdvcVcfD51geWMUjCQyvvloWs2X7oP0DoTLvZrv3SBLppxxrZ9r0oLKL4t3UpFcekNIhXEM6_Fwcb2sFSURBWUMun2mPKhCWZ5p5nNbvAw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780552089,
          "updated": 1780552089,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-HSM-87468?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: RSA-HSM-87468"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-HSM-87468?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RSA-HSM": "RSA-HSM-87468"
  }
}
