{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "SkipGreenTeamLinuxSSHAuthForSub": "1020642667"
        },
        "subscriptionId": "e37510d7-33b6-4676-886f-ee75bcc01871",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "CPlat SDK/PowerShell",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourcegroups/testRG-506?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-506",
        "name": "testRG-506",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-506/providers/Microsoft.Compute/disks/testDisk-4712?api-version=2025-01-02",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "sku": {
          "name": "Standard_LRS"
        },
        "properties": {
          "creationData": {
            "createOption": "Empty"
          },
          "diskSizeGB": 1
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/providers/Microsoft.Compute/locations/westus2/DiskOperations/f4565037-6179-4128-8f94-ce8bf5d80a7f?p=2e4e4a98-4da8-4095-90ca-ad0855cbeec6&api-version=2025-01-02&t=638876002893433998&c=MIIHpTCCBo2gAwIBAgITOgWW801dauAAa8q_9QAEBZbzTTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwNDE4MDgzNTU0WhcNMjUxMDE1MDgzNTU0WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGl[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/providers/Microsoft.Compute/locations/westus2/DiskOperations/f4565037-6179-4128-8f94-ce8bf5d80a7f?p=2e4e4a98-4da8-4095-90ca-ad0855cbeec6&api-version=2025-01-02&t=638876002893433998&c=MIIHpTCCBo2gAwIBAgITOgWW801dauAAa8q_9QAEBZbzTTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwNDE4MDgzNTU0WhcNMjUxMDE1MDgzNTU0WjBAMT4wPA[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-506/providers/Microsoft.Compute/disks/testDisk-4712?api-version=2025-01-02",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/LowCostGet3Min;14979,Microsoft.Compute/LowCostGet30Min;119979",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16498",
        "x-ms-ratelimit-remaining-subscription-reads": "1098"
      },
      "ResponseBody": {
        "name": "testDisk-4712",
        "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-506/providers/Microsoft.Compute/disks/testDisk-4712",
        "type": "Microsoft.Compute/disks",
        "location": "westus2",
        "sku": {
          "name": "Standard_LRS",
          "tier": "Standard"
        },
        "properties": {
          "creationData": {
            "createOption": "Empty"
          },
          "diskSizeGB": 1,
          "diskIOPSReadWrite": 500,
          "diskMBpsReadWrite": 60,
          "encryption": {
            "type": "EncryptionAtRestWithPlatformKey"
          },
          "networkAccessPolicy": "AllowAll",
          "publicNetworkAccess": "Enabled",
          "timeCreated": "2025-07-08T19:38:09.2739301+00:00",
          "provisioningState": "Succeeded",
          "diskState": "Unattached",
          "diskSizeBytes": 1073741824,
          "uniqueId": "b22ed34d-a751-4735-b394-deed500e90e2"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/providers/Microsoft.Compute/locations/westus2/DiskOperations/e7f99188-b29f-4957-985c-3e9646cd30a8?p=2e4e4a98-4da8-4095-90ca-ad0855cbeec6&api-version=2025-01-02&t=638876002913889200&c=MIIHpTCCBo2gAwIBAgITOgWW801dauAAa8q_9QAEBZbzTTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwNDE4MDgzNTU0WhcNMjUxMDE1MDgzNTU0WjBAMT4wPA[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/providers/Microsoft.Compute/disks?api-version=2025-01-02",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "3e11a6ea-2521-4a7c-a014-91e2e84fcf0d",
          "8c21dbe8-b6fd-4883-b0ed-0296cc5b0269"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": "16497",
        "x-ms-ratelimit-remaining-subscription-reads": "1097"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "mytestvm_OsDisk_1_07c20fb9eb8e43dd9c76f9c5b7ad7f1c",
            "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/MYRESOURCEGROUP/providers/Microsoft.Compute/disks/mytestvm_OsDisk_1_07c20fb9eb8e43dd9c76f9c5b7ad7f1c",
            "type": "Microsoft.Compute/disks",
            "location": "eastus",
            "tags": {
              "azsecpack": "nonprod",
              "platformsettings.host_environment.service.platform_optedin_for_rootcerts": "true"
            },
            "sku": {
              "name": "Premium_LRS",
              "tier": "Premium"
            },
            "properties": {
              "osType": "Linux",
              "hyperVGeneration": "V2",
              "purchasePlan": {
                "name": "stable-gen2",
                "publisher": "kinvolk",
                "product": "flatcar-container-linux-free"
              },
              "supportsHibernation": false,
              "supportedCapabilities": {
                "diskControllerTypes": "SCSI, NVMe",
                "acceleratedNetwork": true,
                "architecture": "x64"
              },
              "creationData": {
                "createOption": "FromImage",
                "imageReference": {
                  "id": "/Subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/Providers/Microsoft.Compute/Locations/eastus/Publishers/kinvolk/ArtifactTypes/VMImage/Offers/flatcar-container-linux-free/Skus/stable-gen2/Versions/3815.2.2"
                }
              },
              "diskSizeGB": 30,
              "diskIOPSReadWrite": 120,
              "diskMBpsReadWrite": 25,
              "encryption": {
                "type": "EncryptionAtRestWithPlatformKey"
              },
              "networkAccessPolicy": "AllowAll",
              "publicNetworkAccess": "Enabled",
              "timeCreated": "2024-05-21T14:23:02.8523186+00:00",
              "provisioningState": "Succeeded",
              "diskState": "Unattached",
              "LastOwnershipUpdateTime": "2024-08-07T15:05:28.2637367+00:00",
              "diskSizeBytes": 32633782272,
              "uniqueId": "07c20fb9-eb8e-43dd-9c76-f9c5b7ad7f1c",
              "tier": "P4"
            }
          },
          {
            "name": "vm1-DiskCopy-20241119222545",
            "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/CLITEST.RGAODETNF5OADX73HWU6WABM5U5EVBZTRCZNGKDLWHI47ZVHBPOORHXUEZHAW7TKLZX/providers/Microsoft.Compute/disks/vm1-DiskCopy-20241119222545",
            "type": "Microsoft.Compute/disks",
            "location": "westus2",
            "tags": {},
            "sku": {
              "name": "Premium_LRS",
              "tier": "Premium"
            },
            "properties": {
              "osType": "Linux",
              "hyperVGeneration": "V1",
              "supportsHibernation": true,
              "supportedCapabilities": {
                "diskControllerTypes": "SCSI, NVMe",
                "acceleratedNetwork": true,
                "architecture": "x64"
              },
              "creationData": {
                "createOption": "Copy",
                "sourceResourceId": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/clitest.rgaodetnf5oadx73hwu6wabm5u5evbztrczngkdlwhi47zvhbpoorhxuezhaw7tklzx/providers/Microsoft.Compute/disks/vm1_OsDisk_1_f720bb9109344bf2801bf9d993279a9c",
                "sourceUniqueId": "f720bb91-0934-4bf2-801b-f9d993279a9c"
              },
              "diskSizeGB": 30,
              "diskIOPSReadWrite": 120,
              "diskMBpsReadWrite": 25,
              "encryption": {
                "type": "EncryptionAtRestWithPlatformKey"
              },
              "networkAccessPolicy": "AllowAll",
              "publicNetworkAccess": "Enabled",
              "timeCreated": "2024-11-19T22:27:13.9659528+00:00",
              "provisioningState": "Succeeded",
              "d[...]
