{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.communication.azure.com/identities?api-version=2025-03-02-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Apr 2025 15:59:26 GMT"
      },
      "RequestBody": {
        "createTokenWithScopes": [
          "voip"
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01, 2025-03-02-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "19ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        },
        "accessToken": {
          "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3NDQ4MjI3NjEuMDc2fQ==.adM-ddBZZlQ1WlN3pdPBOF5G4Wh9iZpxNP_fSvpF4cWs",
          "expiresOn": "2025-04-17T15:59:26.646923+00:00"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.communication.azure.com/identities?api-version=2025-03-02-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Apr 2025 15:59:26 GMT"
      },
      "RequestBody": {
        "createTokenWithScopes": [
          "voip"
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01, 2025-03-02-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "29ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        },
        "accessToken": {
          "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3NDQ4MjI3NjEuMDc2fQ==.adM-ddBZZlQ1WlN3pdPBOF5G4Wh9iZpxNP_fSvpF4cWs",
          "expiresOn": "2025-04-17T15:59:26.7777729+00:00"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.communication.azure.com/rooms?api-version=2025-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "repeatability-first-sent": "Sanitized",
        "repeatability-request-id": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Apr 2025 15:59:26 GMT"
      },
      "RequestBody": {
        "pstnDialOutEnabled": true,
        "participants": {
          "Sanitized": {
            "role": "Presenter"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99574708896350906",
        "MS-CV": "Sanitized",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99574708896350906",
        "createdAt": "2025-04-16T15:59:26.94293+00:00",
        "validFrom": "2025-04-16T15:59:26.9054684+00:00",
        "validUntil": "2025-10-13T15:59:26.9054684+00:00",
        "pstnDialOutEnabled": true
      }
    },
    {
      "RequestUri": "https://Sanitized.communication.azure.com/rooms?api-version=2025-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "repeatability-first-sent": "Sanitized",
        "repeatability-request-id": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date[...]
