{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Resources/deployments/AppConfiguration/validate?api-version=2022-09-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "metadata": {
              "_generator": {
                "name": "bicep",
                "version": "0.25.53.49325",
                "templateHash": "3299126362575338877"
              }
            },
            "resources": [
              {
                "type": "Microsoft.Resources/resourceGroups",
                "apiVersion": "2023-07-01",
                "name": "rg-TEST",
                "location": "westus",
                "tags": {
                  "azd-env-name": "TEST"
                }
              },
              {
                "type": "Microsoft.Resources/deployments",
                "apiVersion": "2022-09-01",
                "name": "rg_TEST_module",
                "resourceGroup": "rg-TEST",
                "properties": {
                  "expressionEvaluationOptions": {
                    "scope": "inner"
                  },
                  "mode": "Incremental",
                  "template": {
                    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
                    "contentVersion": "1.0.0.0",
                    "metadata": {
                      "_generator": {
                        "name": "bicep",
                        "version": "0.25.53.49325",
                        "templateHash": "10010712412178468736"
                      }
                    },
                    "resources": [
                      {
                        "type": "Microsoft.AppConfiguration/configurationStores",
                        "apiVersion": "2023-03-01",
                        "name": "[toLower(take(format(\u0027store{0}\u0027, uniqueString(resourceGroup().id)), 24))]",
                        "location": "westus",
                        "sku": {
                          "name": "standard"
                        },
                        "properties": {}
                      },
                      {
                        "type": "Microsoft.Authorization/roleAssignments",
                        "apiVersion": "2022-04-01",
                        "scope": "[format(\u0027Microsoft.AppConfiguration/configurationStores/{0}\u0027, toLower(take(format(\u0027store{0}\u0027, uniqueString(resourceGroup().id)), 24)))]",
                        "name": "[guid(resourceId(\u0027Microsoft.AppConfiguration/configurationStores\u0027, toLower(take(format(\u0027store{0}\u0027, uniqueString(resourceGroup().id)), 24))), \u002700000000-0000-0000-0000-000000000000\u0027, subscriptionResourceId(\u002700000000-0000-0000-0000-000000000000\u0027, \u0027Microsoft.Authorization/roleDefinitions\u0027, \u00275ae67dd6-50cb-40e7-96ff-dc2bfa4b606b\u0027))]",
                        "properties": {
                          "roleDefinitionId": "[subscriptionResourceId(\u002700000000-0000-0000-0000-000000000000\u0027, \u0027Microsoft.Authorization/roleDefinitions\u0027, \u00275ae67dd6-50cb-40e7-96ff-dc2bfa4b606b\u0027)]",
                          "principalId": "00000000-0000-0000-0000-000000000000",
                          "principalType": "ServicePrincipal"
                        },
                        "dependsOn": [
                          "[resourceId(\u0027Microsoft.AppConfiguration/configurationStores\u0027, toLower(take(format(\u0027store{0}\u0027, uniqueString(resourceGroup().id)), 24)))]"
                        ]
                      }
                    ]
                  }
                },
                "dependsOn": [
                  "[subscriptionResourceId(\u0027Microsoft.Resources/resourceGroups\u0027, \u0027rg-TEST\u0027)]"
                ]
              }
            ]
          },
          "mode": "Incremental"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Resources/deployments/AppConfiguration",
        "name": "AppConfiguration",
        "type": "Microsoft.Resources/deployments",
        "location": "westus",
        "properties": {
          "templateHash": "3299126362575338877",
          "mode": "Incremental",
          "provisioningState": "Succeeded",
          "timestamp": "0001-01-01T00:00:00Z",
          "duration": "PT0S",
          "correlationId": "ab411d5e-f8b6-4a5f-bd9f-88ef4ad67661",
          "providers": [
            {
              "namespace": "Microsoft.Resources",
              "resourceTypes": [
                {
                  "resourceType": "resourceGroups",
                  "locations": [
                    "westus"
                  ]
                },
                {
                  "resourceType": "deployments",
                  "locations": [
                    null
                  ]
                }
              ]
            }
          ],
          "dependencies": [
            {
              "dependsOn": [
                {
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/rg-TEST",
                  "resourceType": "Microsoft.Resources/resourceGroups",
                  "resourceName": "rg-TEST"
                }
              ],
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/rg-TEST/providers/Microsoft.Resources/deployments/rg_TEST_module",
              "resourceType": "Microsoft.Resources/deployments",
              "resourceName": "rg_TEST_module"
            }
          ],
          "validatedResources": [
            {
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/rg-TEST"
            },
            {
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/rg-TEST/providers/Microsoft.Resources/deployments/rg_TEST_module"
            },
            {
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/rg-TEST/providers/Microsoft.AppConfiguration/configurationStores/storerwprnagohxvto"
            },
            {
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/rg-TEST/providers/Microsoft.AppConfiguration/configurationStores/storerwprnagohxvto/providers/Microsoft.Authorization/roleAssignments/b95bb20f-ac2b-511a-966c-23dcca961611"
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1391674903",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
