{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Network/checkFrontDoorNameAvailability?api-version=2021-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "resourcetest",
        "type": "Microsoft.Network/frontDoors"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-writes": "1199"
      },
      "ResponseBody": {
        "nameAvailability": "Available",
        "reason": null,
        "message": null
      }
    }
  ],
  "Variables": {}
}
