{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.Elastic/operations?api-version=2024-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "2199"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Microsoft.Elastic/getOrganizationApiKey/action",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.Elastic",
              "resource": "getOrganizationApiKey",
              "operation": "Fetch Organization API Key",
              "description": "Fetch Organization API Key"
            },
            "properties": null
          },
          {
            "name": "Microsoft.Elastic/elasticVersions/read",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.Elastic",
              "resource": "elasticVersions",
              "operation": "Get elastic versions",
              "description": "Get versions"
            },
            "properties": null
          },
          {
            "name": "Microsoft.Elastic/monitors/read",
            "isDataAction": false,[...]
