{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-3200/providers/Microsoft.DataFactory/factories/DataFactory-2957?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "name": "DataFactory-2957",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3200/providers/Microsoft.DataFactory/factories/datafactory-2957",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-19T16:26:04.302812Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022e4030da3-0000-0800-0000-655a371c0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3200/providers/Microsoft.DataFactory/factories/datafactory-2957/linkedservices/linkedService_4964?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureSqlDatabase",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3200/providers/Microsoft.DataFactory/factories/datafactory-2957/linkedservices/linkedService_4964",
        "name": "linkedService_4964",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureSqlDatabase",
          "typeProperties": {
            "connectionString": "Sanitized",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDUzNDAwOEU2LUYyMkYtNDI5NS05RjY3LTVFRDlEQzBERjZCQl9kNzVkMjUwMy03ZjQ1LTQzNGMtOTVjZi1iYjdhZTc5ZWQyYTAiDQp9"
          }
        },
        "etag": "e800931a-0000-0800-0000-655a371d0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3200/providers/Microsoft.DataFactory/factories/datafactory-2957/datasets/dataset_5725?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureSqlTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_4964"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3200/providers/Microsoft.DataFactory/factories/datafactory-2957/datasets/dataset_5725",
        "name": "dataset_5725",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "AzureSqlTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_4964"
          },
          "typeProperties": {}
        },
        "etag": "e800991a-0000-0800-0000-655a371d0000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3200/providers/Microsoft.DataFactory/factories/datafactory-2957/dataflows/task-1403?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "MappingDataFlow",
          "typeProperties": {
            "sources": [
              {
                "name": "dataset_5725",
                "dataset": {
                  "type": "DatasetReference",
                  "referenceName": "dataset_5725"
                }
              },
              {
                "name": "dataset_2181",
                "dataset": {
                  "type": "DatasetReference",
                  "referenceName": "dataset_2181"
                }
              }
            ],
            "sinks": [
              {
                "name": "dataset_8663",
                "dataset": {
                  "type": "DatasetReference",
                  "referenceName": "dataset_8663"
                }
              },
              {
                "name": "dataset_545",
                "dataset": {
                  "type": "DatasetReference",
                  "referenceName": "dataset_545"
                }
              }
            ],
            "script": "fake some script",
            "scriptLines": [
              "some script1",
              "some script2"
            ]
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1190"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3200/providers/Microsoft.DataFactory/factories/datafactory-2957/dataflows/task-1403",
   [...]
[...]
