{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-3200/providers/Microsoft.DataFactory/factories/DataFactory-9288?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": {
        "name": "DataFactory-9288",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3200/providers/Microsoft.DataFactory/factories/datafactory-9288",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-19T16:26:15.267301Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022e40381a4-0000-0800-0000-655a37270000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3200/providers/Microsoft.DataFactory/factories/datafactory-9288/linkedservices/DS_AzureSqlDatabase1?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureSqlDatabase",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1187"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3200/providers/Microsoft.DataFactory/factories/datafactory-9288/linkedservices/DS_AzureSqlDatabase1",
        "name": "DS_AzureSqlDatabase1",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureSqlDatabase",
          "typeProperties": {
            "connectionString": "Sanitized",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEJCQ0NFNjhDLURCOTAtNEZBOS1BNTY0LUQ2Q0VDQzc5QkU3OF8xZTU4ZTI3OC0zNWJlLTQ4MTAtODlkYS0zMjQxM2UwMGVkODciDQp9"
          }
        },
        "etag": "4100e2a8-0000-0800-0000-655a37280000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3200/providers/Microsoft.DataFactory/factories/datafactory-9288/datasets/DS_AzureSqlDatabase1?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureSqlTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "DS_AzureSqlDatabase1"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1186"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3200/providers/Microsoft.DataFactory/factories/datafactory-9288/datasets/DS_AzureSqlDatabase1",
        "name": "DS_AzureSqlDatabase1",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "AzureSqlTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "DS_AzureSqlDatabase1"
          },
          "typeProperties": {}
        },
        "etag": "4100e4a8-0000-0800-0000-655a37280000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3200/providers/Microsoft.DataFactory/factories/datafactory-9288/linkedservices/linkedService_6579?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureSqlDatabase",
         [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3200/providers/Microsoft.DataFactory/factories/datafactory-9288/dataflows/powerquery1?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "WranglingDataFlow",
          "typeProperties": {
            "sources": [
              {
                "script": "source(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: \u0027READ_UNCOMMITTED\u0027,\n\tformat: \u0027table\u0027) ~\u003E  DS_AzureSqlDatabase1",
                "name": "DS_AzureSqlDatabase1",
                "dataset": {
                  "type": "DatasetReference",
                  "referenceName": "DS_AzureSqlDatabase1"
                }
              },
              {
                "script": "source(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: \u0027READ_UNCOMMITTED\u0027,\n\tformat: \u0027table\u0027) ~\u003E  DS_AzureSqlDatabase1",
                "name": "DS_AzureSqlDatabase2",
                "dataset": {
                  "type": "DatasetReference",
                  "referenceName": "DS_AzureSqlDatabase2"
                }
              }
            ],
            "script": "section Section1;\r\nshared DS_AzureSqlDatabase1 = let AdfDoc = Sql.Database(\u0022**********\u0022, \u0022**********\u0022, [CreateNavigationProperties = false]), InputTable = AdfDoc{[Schema=\u0022undefined\u0022,Item=\u0022undefined\u0022]}[Data] in InputTable;\r\nshared UserQuery = let Source = #\u0022DS_AzureSqlDatabase1\u0022 in Source;\r\n",
            "documentLocale": "de-DE"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1183"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3200/providers/Microsoft.DataFactory/factories/datafactory-9288/dataflows/powerquery1",
        "name": "powerquery1",
        "type": "Microsoft.DataFactor[...]
