{
  "Entries": [
    {
      "RequestUri": "https://shiying-test-wps.webpubsub.azure.com/api/hubs/listrj4g0z2n/groups/group3oyy50nn/connections?maxpagesize=2&api-version=2024-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01, 2022-11-01, 2023-07-01, 2024-01-01, 2024-12-01",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "connectionId": "3h_Gy6oqAzi6Yo70dOwlYwmtbNwgK02",
            "userId": null
          },
          {
            "connectionId": "_dq43fKVkunUZz_R84ueCQmtbNwgK02",
            "userId": null
          }
        ],
        "nextLink": "https://shiying-test-wps.webpubsub.azure.com/api/hubs/listrj4g0z2n/groups/group3oyy50nn/connections?maxpagesize=2&continuationToken=3h_Gy6oqAzi6Yo70dOwlYwmtbNwgK02&api-version=2024-12-01"
      }
    },
    {
      "RequestUri": "https://shiying-test-wps.webpubsub.azure.com/api/hubs/listrj4g0z2n/groups/group3oyy50nn/connections?maxpagesize=2&continuationToken=3h_Gy6oqAzi6Yo70dOwlYwmtbNwgK02&api-version=2024-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01, 2022-11-01, 2023-07-01, 2024-01-01, 2024-12-01",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "connectionId": "efNYmFe5Yj6cZm_bqw8FcQyHa7qAK02",
            "userId": null
          },
          {
            "connectionId": "Dym-43Bf89AgdByB21FQ6gbS7hyAK02",
            "userId": null
          }
        ],
        "nextLink": "https://shiying-test-wps.webpubsub.azure.com/api/hubs/listrj4g0z2n/groups/group3oyy50nn/connections?maxpagesize=2&continuationToken=efNYmFe5Yj6cZm_bqw8FcQyHa7qAK02&api-version=2024-12-01"
      }
    },
    {
      "RequestUri": "https://shiying-test-wps.webpubsub.azure.com/api/hubs/listrj4g0z2n/groups/group3oyy50nn/connections?maxpagesize=2&continuationToken=efNYmFe5Yj6cZm_bqw8FcQyHa7qAK02&api-version=2024-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01, 2022-11-01, 2023-07-01, 2024-01-01, 2024-12-01",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "connectionId": "ug76WK1tA8zJzugLxvqpTAyHa7qAK02",
            "userId": null
          },
          {
            "connectionId": "plodvGsIhU2udAfdbUrTKAbS7hyAK02",
            "userId": null
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1522527688",
    "WEBPUBSUB_CONNECTIONSTRING": "Endpoint=https://shiying-test-wps.webpubsub.azure.com;AccessKey=Kg==;Version=1.0"
  }
}
