{
  "Entries": [
    {
      "RequestUri": "https://shiying-test-wps.webpubsub.azure.com/api/hubs/listel6aofrd/groups/groupnp660e8k/connections?maxpagesize=2&api-version=2024-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01, 2022-11-01, 2023-07-01, 2024-01-01, 2024-12-01",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "connectionId": "F9dh3UbDkA63tOBIE56PJwbS7hyAK02",
            "userId": null
          },
          {
            "connectionId": "f8QdZq6tj_NVZlyrhH4LCgbS7hyAK02",
            "userId": null
          }
        ],
        "nextLink": "https://shiying-test-wps.webpubsub.azure.com/api/hubs/listel6aofrd/groups/groupnp660e8k/connections?maxpagesize=2&continuationToken=F9dh3UbDkA63tOBIE56PJwbS7hyAK02&api-version=2024-12-01"
      }
    },
    {
      "RequestUri": "https://shiying-test-wps.webpubsub.azure.com/api/hubs/listel6aofrd/groups/groupnp660e8k/connections?maxpagesize=2&continuationToken=F9dh3UbDkA63tOBIE56PJwbS7hyAK02&api-version=2024-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01, 2022-11-01, 2023-07-01, 2024-01-01, 2024-12-01",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "connectionId": "KkCzyJPva8RbBMjT9SkgGwbS7hyAK02",
            "userId": null
          },
          {
            "connectionId": "jFSOHihw_YuM2ij_5cBvGwyHa7qAK02",
            "userId": null
          }
        ],
        "nextLink": "https://shiying-test-wps.webpubsub.azure.com/api/hubs/listel6aofrd/groups/groupnp660e8k/connections?maxpagesize=2&continuationToken=KkCzyJPva8RbBMjT9SkgGwbS7hyAK02&api-version=2024-12-01"
      }
    },
    {
      "RequestUri": "https://shiying-test-wps.webpubsub.azure.com/api/hubs/listel6aofrd/groups/groupnp660e8k/connections?maxpagesize=2&continuationToken=KkCzyJPva8RbBMjT9SkgGwbS7hyAK02&api-version=2024-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01, 2022-11-01, 2023-07-01, 2024-01-01, 2024-12-01",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "connectionId": "uIyyqv8MVplz8jSLHK7tzQmtbNwgK02",
            "userId": null
          },
          {
            "connectionId": "m0f7RdlU22ErJnOdV0m39wmtbNwgK02",
            "userId": null
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "80902363",
    "WEBPUBSUB_CONNECTIONSTRING": "Endpoint=https://shiying-test-wps.webpubsub.azure.com;AccessKey=Kg==;Version=1.0"
  }
}
