{
  "Entries": [
    {
      "RequestUri": "https://shiying-test-wps.webpubsub.azure.com/api/hubs/list1b8y6m8o/groups/groupcbrtpvhz/connections?top=6&api-version=2024-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01, 2022-11-01, 2023-07-01, 2024-01-01, 2024-12-01",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "connectionId": "vkGpz9JRaa9h_XNOGLgypwbS7hyAK02",
            "userId": null
          },
          {
            "connectionId": "B8KWpzf2KJ2OALngkE1GqQbS7hyAK02",
            "userId": null
          },
          {
            "connectionId": "L3MvQiIAVw2sQz2cAwIqyAbS7hyAK02",
            "userId": null
          },
          {
            "connectionId": "9Wv9qJWAuN5-zN7T4D16ugyHa7qAK02",
            "userId": null
          },
          {
            "connectionId": "9SYmw9MVPA_QxRdX5okSggmtbNwgK02",
            "userId": null
          },
          {
            "connectionId": "-JzxmEdOjZ1lrPCuP4_7AQmtbNwgK02",
            "userId": null
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1626964431",
    "WEBPUBSUB_CONNECTIONSTRING": "Endpoint=https://shiying-test-wps.webpubsub.azure.com;AccessKey=Kg==;Version=1.0"
  }
}
