{
  "Entries": [
    {
      "RequestUri": "https://zityang-mqtt5.webpubsub.azure.com/api/hubs/serviceclientcanlistconnectionsingroup/groups/group1/connections?maxpagesize=2&api-version=2024-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01, 2022-11-01, 2023-07-01, 2024-01-01, 2024-12-01",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "connectionId": "0SRIEk-rly_5bspVMWu9xQTxxhLga02",
            "userId": null
          },
          {
            "connectionId": "_dpeZtoUbGgGF-EK06RDQQIQBg-Qa02",
            "userId": null
          }
        ],
        "nextLink": "https://zityang-mqtt5.webpubsub.azure.com/api/hubs/serviceclientcanlistconnectionsingroup/groups/group1/connections?maxpagesize=2&continuationToken=0SRIEk-rly_5bspVMWu9xQTxxhLga02&api-version=2024-12-01"
      }
    },
    {
      "RequestUri": "https://zityang-mqtt5.webpubsub.azure.com/api/hubs/serviceclientcanlistconnectionsingroup/groups/group1/connections?maxpagesize=2&continuationToken=0SRIEk-rly_5bspVMWu9xQTxxhLga02&api-version=2024-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01, 2022-11-01, 2023-07-01, 2024-01-01, 2024-12-01",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "connectionId": "sm6FGW0O9zDu5GGy2wCJxATxxhLga02",
            "userId": null
          },
          {
            "connectionId": "e4D6YC1d6cRb5TlQ7XE6NwD4EB9Aa02",
            "userId": null
          }
        ],
        "nextLink": "https://zityang-mqtt5.webpubsub.azure.com/api/hubs/serviceclientcanlistconnectionsingroup/groups/group1/connections?maxpagesize=2&continuationToken=sm6FGW0O9zDu5GGy2wCJxATxxhLga02&api-version=2024-12-01"
      }
    },
    {
      "RequestUri": "https://zityang-mqtt5.webpubsub.azure.com/api/hubs/serviceclientcanlistconnectionsingroup/groups/group1/connections?maxpagesize=2&continuationToken=sm6FGW0O9zDu5GGy2wCJxATxxhLga02&api-version=2024-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01, 2022-11-01, 2023-07-01, 2024-01-01, 2024-12-01",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "connectionId": "zTOHzs1x481uqZjYNAfeCATxxhLga02",
            "userId": null
          },
          {
            "connectionId": "ZaWNbPsuKA7eFlBzSj2hIQIQBg-Qa02",
            "userId": null
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "451861400"
  }
}
