{
  "Entries": [
    {
      "RequestUri": "https://zityang-mqtt5.webpubsub.azure.com/api/hubs/serviceclientcanlistconnectionsingroup/groups/group1/connections?top=3&api-version=2024-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01, 2022-11-01, 2023-07-01, 2024-01-01, 2024-12-01",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "connectionId": "OCHzTTSSmjkgJQ0hMRrWcwTxxhLga02",
            "userId": null
          },
          {
            "connectionId": "aOY6u6WSslNs0g8Mt6L8twTxxhLga02",
            "userId": null
          },
          {
            "connectionId": "hpsZRB0mo472LeXBDdn17AIQBg-Qa02",
            "userId": null
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "750165537"
  }
}
