{
  "Entries": [
    {
      "RequestUri": "https://e2e-t6e60f55ad2c7ab76.webpubsub.azure.com/api/hubs/serviceclientcanlistconnectionsingroup/groups/group1/connections?maxpagesize=2&top=5&api-version=2024-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01, 2022-11-01, 2023-07-01, 2024-01-01, 2024-12-01",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "connectionId": "f3GSQbmLKC_0z15cnvgleQsOb-DQj02",
            "userId": null
          },
          {
            "connectionId": "0v5Eed4IRzB7dF77LlEtYQLS-UoQj02",
            "userId": null
          }
        ],
        "nextLink": "https://e2e-t6e60f55ad2c7ab76.webpubsub.azure.com/api/hubs/serviceclientcanlistconnectionsingroup/groups/group1/connections?top=3&maxpagesize=2&continuationToken=f3GSQbmLKC_0z15cnvgleQsOb-DQj02&api-version=2024-12-01"
      }
    },
    {
      "RequestUri": "https://e2e-t6e60f55ad2c7ab76.webpubsub.azure.com/api/hubs/serviceclientcanlistconnectionsingroup/groups/group1/connections?top=3&maxpagesize=2&continuationToken=f3GSQbmLKC_0z15cnvgleQsOb-DQj02&api-version=2024-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01, 2022-11-01, 2023-07-01, 2024-01-01, 2024-12-01",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "connectionId": "JW8u6N3auyILQhKpmwHslgLS-UoQj02",
            "userId": null
          },
          {
            "connectionId": "gVTo_iNFv3q1eVZdYd7j3wsOb-DQj02",
            "userId": null
          }
        ],
        "nextLink": "https://e2e-t6e60f55ad2c7ab76.webpubsub.azure.com/api/hubs/serviceclientcanlistconnectionsingroup/groups/group1/connections?top=1&maxpagesize=2&continuationToken=JW8u6N3auyILQhKpmwHslgLS-UoQj02&api-version=2024-12-01"
      }
    },
    {
      "RequestUri": "https://e2e-t6e60f55ad2c7ab76.webpubsub.azure.com/api/hubs/serviceclientcanlistconnectionsingroup/groups/group1/connections?top=1&maxpagesize=2&continuationToken=JW8u6N3auyILQhKpmwHslgLS-UoQj02&api-version=2024-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01, 2022-11-01, 2023-07-01, 2024-01-01, 2024-12-01",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "connectionId": "kVpbCwYX1HiftFMSZ-xrkQGkka_wj02",
            "userId": null
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1942804247",
    "WEBPUBSUB_CONNECTIONSTRING": "Endpoint=https://e2e-t6e60f55ad2c7ab76.webpubsub.azure.com;AccessKey=Kg==;Version=1.0"
  }
}
