{
  "Entries": [
    {
      "RequestUri": "https://e2e-t6e60f55ad2c7ab76.webpubsub.azure.com/api/hubs/serviceclientcanlistconnectionsingroup/groups/group1/connections?top=6&api-version=2024-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01, 2022-11-01, 2023-07-01, 2024-01-01, 2024-12-01",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "connectionId": "weUE9WWJSkuV8TxhPnuk_gLS-UoQj02",
            "userId": null
          },
          {
            "connectionId": "jLIONJxe9eY_NtNNh3XOzgGkka_wj02",
            "userId": null
          },
          {
            "connectionId": "tUcGZb9FcuuPZogqfbo1RgsOb-DQj02",
            "userId": null
          },
          {
            "connectionId": "I23Gd-Ci5OZENt1jlOyO6QLS-UoQj02",
            "userId": null
          },
          {
            "connectionId": "qd4nlkFOnjW19l72KjntxgLS-UoQj02",
            "userId": null
          },
          {
            "connectionId": "836k13_I0jb4TxRO1h4L2gsOb-DQj02",
            "userId": null
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "2129711128",
    "WEBPUBSUB_CONNECTIONSTRING": "Endpoint=https://e2e-t6e60f55ad2c7ab76.webpubsub.azure.com;AccessKey=Kg==;Version=1.0"
  }
}
