{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-f3c392c9-18fc-b05c-43b5-fd4d4b7d4714?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Nov 2023 22:28:36 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBF12A870B8A29\u0022",
        "Last-Modified": "Wed, 29 Nov 2023 22:28:35 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-f3c392c9-18fc-b05c-43b5-fd4d4b7d4714/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 29 Nov 2023 22:28:36 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": "O88pLZbHBxl9xbBAcXyaNu03UJYBS6SfcyajuJsUOXjsrKRG45ovNa1hfqtrJa495t0TjHo59/AribpvI099aIs3U8XYVFJTCBvpn8z4NE14ZdG\u002BAaz\u002BsrSzGlrfwBFd5BYfM9HoZZKKv4ReUFcjMlRs9r1\u002Bv2ffOKEQJDn4c0gJi7u22QB7jwA\u002BM0Eon2Fcj\u002BgFcslT3ySuQPow2EBYkkw8VcWcbVlT8Wa9P4wlt5k/s5RR8gF\u002BtauXB5gGS7e/5qD160qcwCKOsoFilqCYiYlh8SWsBqBLvZ8ZBGXATaWv/VjrMMtOovJywkB/HB8L/34PpFqRE98Aqi[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-f3c392c9-18fc-b05c-43b5-fd4d4b7d4714/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 29 Nov 2023 22:28:36 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": "O88pLZbHBxl9xbBAcXyaNu03UJYBS6SfcyajuJsUOXjsrKRG45ovNa1hfqtrJa49[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-f3c392c9-18fc-b05c-43b5-fd4d4b7d4714/baz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 29 Nov 2023 22:28:36 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": "O88pLZbHBxl9xbBAcXyaNu03UJYBS6SfcyajuJsUOXjsrKRG45ovNa1hfqtrJa49[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-f3c392c9-18fc-b05c-43b5-fd4d4b7d4714/foo/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 29 Nov 2023 22:28:36 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": "O88pLZbHBxl9xbBAcXyaNu03UJYBS6SfcyajuJsUOXjsrKRG45ovNa1hfqtr[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-f3c392c9-18fc-b05c-43b5-fd4d4b7d4714/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 29 Nov 2023 22:28:36 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": "O88pLZbHBxl9xbBAcXyaNu03UJYBS6SfcyajuJsUOXjsrKRG45ovNa1hfqtr[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-f3c392c9-18fc-b05c-43b5-fd4d4b7d4714/baz/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 29 Nov 2023 22:28:37 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": "O88pLZbHBxl9xbBAcXyaNu03UJYBS6SfcyajuJsUOXjsrKRG45ovNa1hfqtr[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-f3c392c9-18fc-b05c-43b5-fd4d4b7d4714/baz/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 29 Nov 2023 22:28:37 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": "O88pLZbHBxl9xbBAcXyaNu03UJYBS6SfcyajuJsUOXjsrKRG45ovNa1h[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-f3c392c9-18fc-b05c-43b5-fd4d4b7d4714/baz/bar/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 29 Nov 2023 22:28:37 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": "O88pLZbHBxl9xbBAcXyaNu03UJYBS6SfcyajuJsUOXjsrKRG45ovNa1h[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-f3c392c9-18fc-b05c-43b5-fd4d4b7d4714/foo/foo?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Nov 2023 22:28:37 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBF12A87925F9A\u0022",
        "Last-Modified": "Wed, 29 Nov 2023 22:28:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2023-11-29T22:28:36.8504490Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-f3c392c9-18fc-b05c-43b5-fd4d4b7d4714?restype=container\u0026comp=list\u0026prefix=foo%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Nov 2023 22:28:37 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
       [...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-f3c392c9-18fc-b05c-43b5-fd4d4b7d4714?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Nov 2023 22:28:37 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2053997655",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
