{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/health-insights/radiology-insights/jobs/jobId-17138795314335?api-version=2024-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8",
        "ocp-apim-subscription-key": "Sanitized"
      },
      "RequestBody": {
        "jobData": {
          "patients": [
            {
              "id": "Sanitized",
              "details": {
                "sex": "female",
                "birthDate": "1959-11-11T19:00:00.000Z",
                "clinicalInfo": [
                  {
                    "resourceType": "Observation",
                    "status": "unknown",
                    "code": {
                      "coding": [
                        {
                          "system": "http://www.nlm.nih.gov/research/umls",
                          "code": "C0018802",
                          "display": "MalignantNeoplasms"
                        }
                      ]
                    },
                    "valueBoolean": true
                  }
                ]
              },
              "encounters": [
                {
                  "id": "Sanitized",
                  "period": {
                    "start": "2021-8-28T00:00:00",
                    "end": "2021-8-28T00:00:00"
                  },
                  "class": "inpatient"
                }
              ],
              "patientDocuments": [
                {
                  "type": "note",
                  "clinicalType": "radiologyReport",
                  "id": "Sanitized",
                  "language": "en",
                  "authors": [
                    {
                      "id": "Sanitized",
                      "fullName": "authorname1"
                    }
                  ],
                  "specialtyType": "radiology",
                  "administrativeMetadata": {
                    "orderedProcedures": [
                      {
                        "code": {
                          "coding": [
                            {
                              "system": "Http://hl7.org/fhir/ValueSet/cpt-all",
                              "code": "111111",
                              "display": "CT ABD/PELVIS"
                            }
                          ]
                        },
                        "description": "CT ABD/PELVIS"
                      }
                    ],
                    "encounterId": "encounterid1"
                  },
                  "content": {
                    "sourceType": "inline",
                    "value": "\nThe results were faxed to Julie Carter on July 6 2016 at 3 PM\nThe results were sent via Powerscribe to George Brown, PA."
                  },
                  "createdAt": "2021-05-31T22:00:00.000Z",
                  "orderedProceduresAsCsv": "US PELVIS COMPLETE"
                }
              ]
            }
          ],
          "configuration": {
            "inferenceOptions": {
              "followupRecommendationOptions": {
                "includeRecommendationsWithNoSpecifiedModality": true,
                "includeRecommendationsInReferences": true,
                "provideFocusedSentenceEvidence": true
              },
              "findingOptions": {
                "provideFocusedSentenceEvidence": true
              }
            },
            "inferenceTypes": [
              "finding",
              "ageMismatch",
              "lateralityDiscrepancy",
              "sexMismatch",
              "completeOrderDiscrepancy",
              "limitedOrderDiscrepancy",
              "criticalResult",
              "criticalRecommendation",
              "followupRecommendation",
              "followupCommunication",
              "radiologyProcedure"
            ],
            "locale": "en-US",
            "verbose": false,
            "includeEvidence": true
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "operation-location": "https://example.com",
        "x-ms-region": "East US 2 EUAP"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "createdAt": "2024-06-04T08:48:41.7577515Z",
        "expiresAt": "2024-06-05T08:48:41.7577515Z",
        "updatedAt": "2024-06-04T08:48:43.842124Z",
        "status": "succeeded"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/health-insights/radiology-insights/jobs/jobId-17138795314335?api-version=2024-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-apim-subscription-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US 2 EUAP"
      },
      "ResponseBody": {
        "result": {
          "patientResults": [
            {
              "patientId": "Samantha Jones",
              "inferences": [
                {
                  "kind": "followupCommunication",
                  "communicatedAt": [
                    "2016-07-06T15:00:00"
                  ],
                  "recipient": [
                    "unknown"
                  ],
                  "wasAcknowledged": false,
                  "extension": [
                    {
                      "extension": [
                        {
                          "url": "reference",
                          "valueReference": {
                            "reference": "docid1"
                          }
                        },
                        {
                          "url": "offset",
                          "valueInteger": 18
                        },
                        {
                          "url": "length",
                          "valueInteger": 5
                        }
                      ],
                      "url": "http://hl7.org/fhir/StructureDefinition/derivation-reference"
                    },
                    {
                      "extension": [
                        {
                          "url": "reference",
                          "valueReference": {
             [...]
[...]
