{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "DeleteAfter": "2026-03-04T05:11:35.7881831Z",
          "Owners": "audreytoney"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Compute/virtualMachines?api-version=2024-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-need-to-refresh-epl-cache": "False",
        "x-ms-original-request-ids": "00000000-0000-0000-0000-000000000000",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/HighCostGetSubscriptionMaximum;898",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Sanitized",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Compute/virtualMachines/Sanitized-vm",
            "type": "Microsoft.Compute/virtualMachines",
            "location": "westus2",
            "tags": {
              "environment": "test",
              "purpose": "mcp-testing",
              "azsecpack": "nonprod",
              "platformsettings.host_environment.service.platform_optedin_for_rootcerts": "true"
            },
            "identity": {
              "type": "SystemAssigned, UserAssigned",
              "principalId": "00000000-0000-0000-0000-000000000000",
              "tenantId": "00000000-0000-0000-0000-000000000000",
              "userAssignedIdentities": {
                "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzSecPackAutoConfigRG/providers/Microsoft.ManagedIdentity/userAssignedIdentities/AzSecPackAutoConfigUA-westus2": {
                  "principalId": "00000000-0000-0000-0000-000000000000",
                  "clientId": "00000000-0000-0000-0000-000000000000"
                }
              }
            },
            "properties": {
              "hardwareProfile": {
                "vmSize": "Standard_D2s_v6"
              },
              "provisioningState": "Succeeded",
              "vmId": "00000000-0000-0000-0000-000000000000",
              "storageProfile": {
                "imageReference": {
                  "publisher": "Canonical",
                  "offer": "0001-com-ubuntu-server-jammy",
                  "sku": "22_04-lts-gen2",
                  "version": "latest",
                  "exactVersion": "22.04.202601310"
                },
                "osDisk": {
                  "osType": "Linux",
                  "name": "Sanitized",
                  "createOption": "FromImage",
                  "caching": "ReadWrite",
                  "managedDisk": {
                    "storageAccountType": "Standard_LRS",
                    "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Compute/disks/Sanitized-vm_OsDisk_1_55d085d5417648a3b467c1fbc0602814"
                  },
                  "deleteOption": "Detach",
                  "diskSizeGB": 30
                },
                "dataDisks": [],
                "diskControllerType": "NVMe"
              },
              "osProfile": {
                "computerName": "Sanitized-vm",
                "adminUsername": "azureuser",
                "linuxConfiguration": {
                  "disablePasswordAuthentication": false,
                  "provisionVMAgent": true,
                  "patchSettings": {
                    "patchMode": "ImageDefault",
                    "assessmentMode": "ImageDefault"
                  },
                  "enableVMAgentPlatformUpdates": true
                },
                "secrets": [],
                "allowExtensionOperations": true,
                "requireGuestProvisionSignal": true
              },
              "securityProfile": {
                "uefiSettings": {
                  "secureBootEnabled": true,
                  "vTpmEnabled": true
                },
                "securityType": "TrustedLaunch"
              },
              "networkProfile": {
                "networkInterfaces": [
                  {
                    "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Network/networkInterfaces/Sanitized-nic",
                    "properties": {
                      "primary": true
                    }
                  }
                ]
              },
              "timeCreated": "2026-02-25T16:46:30.1927385+00:00"
            },
            "etag": "Sanitized",
            "resources": [
              {
                "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Compute/virtualMachines/Sanitized-vm/extensions/AzurePolicyforLinux"
              },
              {
                "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Compute/virtualMachines/Sanitized-vm/extensions/Microsoft.Azure.Monitor.AzureMonitorLinuxAgent"
              },
              {
                "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Compute/virtualMachines/Sanitized-vm/extensions/Microsoft.Azure.Security.Monitoring.AzureSecurityLinuxAgent"
              }
            ]
          }
        ]
      }
    }
  ],
  "Variables": {}
}
