{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/virtualMachines?api-version=2024-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-need-to-refresh-epl-cache": "False",
        "x-ms-original-request-ids": "00000000-0000-0000-0000-000000000000",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/HighCostGetSubscriptionMaximum;899",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Sanitized",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AUDREYTONEY-MCP18C9E2F2/providers/Microsoft.Compute/virtualMachines/Sanitized-vm",
            "type": "Microsoft.Compute/virtualMachines",
            "location": "eastus2",
            "tags": {
              "testkey": "testvalue",
              "environment": "livetests",
              "azsecpack": "nonprod",
              "platformsettings.host_environment.service.platform_optedin_for_rootcerts": "true"
            },
            "identity": {
              "type": "SystemAssigned, UserAssigned",
              "principalId": "00000000-0000-0000-0000-000000000000",
              "tenantId": "00000000-0000-0000-0000-000000000000",
              "userAssignedIdentities": {
                "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzSecPackAutoConfigRG/providers/Microsoft.ManagedIdentity/userAssignedIdentities/AzSecPackAutoConfigUA-eastus2": {
                  "principalId": "00000000-0000-0000-0000-000000000000",
                  "clientId": "00000000-0000-0000-0000-000000000000"
                }
              }
            },
            "properties": {
              "hardwareProfile": {
                "vmSize": "Standard_B2s"
              },
              "provisioningState": "Succeeded",
              "vmId": "00000000-0000-0000-0000-000000000000",
              "storageProfile": {
                "imageReference": {
                  "publisher": "Canonical",
                  "offer": "0001-com-ubuntu-server-jammy",
                  "sku": "22_04-lts-gen2",
                  "version": "latest",
                  "exactVersion": "22.04.202602250"
                },
                "osDisk": {
                  "osType": "Linux",
                  "name": "Sanitized",
                  "createOption": "FromImage",
                  "caching": "ReadWrite",
                  "managedDisk": {
                    "storageAccountType": "Standard_LRS",
                    "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Compute/disks/Sanitized-vm_OsDisk_1_1e60d29546794e21959c64b79cf54653"
                  },
                  "deleteOption": "Detach",
                  "diskSizeGB": 30
                },
                "dataDisks": [],
                "diskControllerType": "SCSI"
              },
              "osProfile": {
                "computerName": "Sanitized-vm",
                "adminUsername": "azureuser",
                "linuxConfiguration": {
                  "disablePasswordAuthentication": false,
                  "provisionVMAgent": true,
                  "patchSettings": {
                    "patchMode": "ImageDefault",
                    "assessmentMode": "ImageDefault"
                  },
                  "enableVMAgentPlatformUpdates": true
                },
                "secrets": [],
                "allowExtensionOperations": true,
                "requireGuestProvisionSignal": true
              },
              "securityProfile": {
                "uefiSettings": {
                  "secureBootEnabled": true,
                  "vTpmEnabled": true
                },
                "securityType": "TrustedLaunch"
              },
              "networkProfile": {
                "networkInterfaces": [
                  {
                    "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Network/networkInterfaces/Sanitized-nic",
                    "properties": {
                      "primary": true
                    }
                  }
                ]
              },
              "diagnosticsProfile": {
                "bootDiagnostics": {
                  "enabled": true
                }
              },
              "timeCreated": "2026-03-16T13:57:18.0883001+00:00"
            },
            "etag": "Sanitized",
            "resources": [
              {
                "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AUDREYTONEY-MCP18C9E2F2/providers/Microsoft.Compute/virtualMachines/Sanitized-vm/extensions/AzurePolicyforLinux"
              },
              {
                "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AUDREYTONEY-MCP18C9E2F2/providers/Microsoft.Compute/virtualMachines/Sanitized-vm/extensions/Microsoft.Azure.Monitor.AzureMonitorLinuxAgent"
              }[...]
