{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/virtualMachineScaleSets?api-version=2024-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "c0565ac6-e601-4c5c-b67c-dfcfb62fce4d",
          "f8177a99-7204-49f3-b42c-4f5cdb4e82ef",
          "8ff6067e-449b-4e61-ac35-9fc8558c369a"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Sanitized",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_RG-NODES-S1-STRESS-STORAGE-STORAGE/providers/Microsoft.Compute/virtualMachineScaleSets/aks-defaultap-27802153-vmss",
            "type": "Microsoft.Compute/virtualMachineScaleSets",
            "location": "southcentralus",
            "tags": {
              "aks-managed-azure-cni-overlay": "true",
              "aks-managed-bootstrap-profile-acr-name": "",
              "aks-managed-consolidated-additional-properties": "e15e8764-faa1-11f0-8536-ae7358ab5ec3",
              "aks-managed-createOperationID": "",
              "aks-managed-creationSource": "vmssclient-aks-defaultap-27802153-vmss",
              "aks-managed-enable-imds-restriction": "false",
              "aks-managed-kubeletIdentityClientID": "4f514613-3554-40cb-a808-1538c481cc85",
              "aks-managed-networkisolated-outbound-type": "",
              "aks-managed-operationID": "9506cbf0-d51a-4245-91ce-de6b0fd5118e",
              "aks-managed-orchestrator": "Kubernetes:1.32.4",
              "aks-managed-poolName": "defaultap",
              "aks-managed-resourceNameSuffix": "11165186",
              "aks-managed-ssh-access": "LocalUser",
              "azsecpack": "nonprod"
            },
            "identity": {
              "type": "UserAssigned",
              "userAssignedIdentities": {
                "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-nodes-s1-stress-storage-storage/providers/Microsoft.ManagedIdentity/userAssignedIdentities/stress-storage-agentpool": {
                  "principalId": "00000000-0000-0000-0000-000000000000",
                  "clientId": "00000000-0000-0000-0000-000000000000"
                },
                "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/SSS3PT_rg-nodes-s1-stress-storage-storage/providers/Microsoft.ManagedIdentity/userAssignedIdentities/azurekeyvaultsecretsprovider-stress-storage": {
                  "principalId": "00000000-0000-0000-0000-000000000000",
                  "clientId": "00000000-0000-0000-0000-000000000000"
                },
                "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/SSS3PT_rg-nodes-s1-stress-storage-storage/providers/Microsoft.ManagedIdentity/userAssignedIdentities/azurepolicy-stress-storage": {
                  "principalId": "00000000-0000-0000-0000-000000000000",
                  "clientId": "00000000-0000-0000-0000-000000000000"
                },
                "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/SSS3PT_rg-nodes-s1-stress-storage-storage/providers/Microsoft.ManagedIdentity/userAssignedIdentities/omsagent-stress-storage": {
                  "principalId": "00000000-0000-0000-0000-000000000000",
                  "clientId": "00000000-0000-0000-0000-000000000000"
                }
              }
            },
            "sku": {
              "name": "Sanitized",
              "tier": "Standard",
              "capacity": 1
            },
            "etag": "Sanitized",
            "properties": {
              "singlePlacementGroup": false,
              "orchestrationMode": "Uniform",
              "upgradePolicy": {
                "mode": "Manual"
              },
              "virtualMachineProfile": {
                "osProfile": {
                  "computerNamePrefix": "aks-defaultap-27802153-vmss",
                  "adminUsername": "azureuser",
                  "linuxConfiguration": {
                    "disablePasswordAuthentication": true,
                    "ssh": {
                      "publicKeys": [
                        {
                          "path": "/home/azureuser/.ssh/authorized_keys",
                          "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCZp8DdQzILWB7f0WfTBL/OYlzBK52NK/ShDjE7tvo/l6lPI63TAH1cwiklfgT6Xqw7PuM+Z0j7j1IvFHjjOfE2oiY14rZkRkqjXer6CyKlwwB75i0KEk7M3EzI2ScP1YAh/OcS8xCBc9Ujg4JnzTiQNMHtSjCxJv2TyswkXYhjc8nsUGM97xuNagP8g0/CMw2Gh9DgvyicCX11kXYN4xV9zIJuivhiLHX4IXVM2r6yS5ie86uyQc76mUGqF2mzER3siqVJvPg5MdQvkHRIdkQEFq9Grwa2QiX+E48SuY2cnI3BRBKzZUAVg8QGSgpf1KBn3DsRBbmo/tfbeaQXfmWlCDItc77gSfNvdZA4bCNMHk9pkOSXzPfy9vmG1OGBYR2/niCl2BeRYgY/gardmcMzmriApwrBulSxSud4Al3pFAwZRqbXY5QQfJm5eD1zx/U5gw5fXxYWwzo0gXwQj3ckJZYJdc4zvt453w5sPRbBtdd1xnwi8QbqmWgiV1LnTAKpwuECqVnbccEJxpg/cQpJUxcEbFURhfqw1PZ4GyqizGL7nxGucbyzMw31PqvcA3HycGqPH/DE1+oinucVlbmsJV5tNucyRvXNrcP7F5FtmXMOR1wOIihAEDyg7/cumqivdCVYBnnKewh0JLWnj5kFI9loTP2Jjrkf9LqbMX+e6w==\n"
                        }
                      ]
                    },
                    "provisionVMAgent": true
                  },
                  "secrets": [],
                  "allowExtensionOperations": true,
                  "requireGuestProvisionSignal": true
                },
                "storageProfile": {
                  "osDisk": {
                    "osType": "Linux",
                    "diffDiskSettings": {
                      "option": "Local",
                      "placement": "NvmeDisk"
                    },
                    "createOption": "FromImage",
                    "caching": "ReadOnly",
                    "managedDisk": {
                      "storageAccountType": "Standard_LRS"
                    },
                    "diskSizeGB": 440
                  },
                  "imageReference": {
                    "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-nodes-s1-stress-storage-storage/providers/Microsoft.Compute/galleries/AKSSecurityPatchedVHD_584bf3ef1c3b63bf/images/AKSAzureLinux-V3gen2-202511.07.0/versions/2026.01.14"
                  },
                  "diskControllerType": "NVMe"
                },
                "networkProfile": {
                  "networkInterfaceConfigurations": [
                    {
                      "name": "Sanitized",
                      "properties": {
                        "primary": true,
                        "enableAcceleratedNetworking": true,
                        "disableTcpStateTracking": false,
                        "dnsSettings": {
                          "dnsServers": []
                        },
                        "enableIPForwarding": true,
                        "ipConfigurations": [
                          {
                            "name": "Sanitized",
                            "properties": {
                              "primary": true,
                              "subnet": {
                                "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-nodes-s1-stress-storage-storage/providers/Microsoft.Network/virtualNetworks/aks-vnet-11165186/subnets/aks-subnet"
                              },
                              "privateIPAddressVersion": "IPv4",
                              "loadBalancerBackendAddressPools": [
                                {
                                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-nodes-s1-stress-storage-storage/providers/Microsoft.Network/loadBalancers/kubernetes/backendAddressPools/aksOutboundBackendPool"
                                },
                                {
                                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-nodes-s1-stress-storage-storage/providers/Microsoft.Network/loadBalancers/kubernetes/backendAddressPools/kubernetes"
                                }
                              ]
                            }
                          }
                        ]
                      }
                    }
                  ]
                },
                "extensionProfile": {
                  "extensions": [
                    {
                      "name": "Sanitized",
                      "properties": {
                        "autoUpgradeMinorVersion": true,
                        "publisher": "Microsoft.Azure.Extensions",
                        "type": "CustomScript",
                        "typeHandlerVersion": "2.0",
                        "settings": {}
                      }
                    },
                    {
                      "name": "Sanitized",
                      "properties": {
                        "autoUpgradeMinorVersion": true,
                        "publisher": "Microsoft.AKS",
                        "type": "Compute.AKS.Linux.Billing",
                        "typeHandlerVersion": "1.0",
                        "settings": {}
                      }
                    },
                    {
                      "name": "Sanitized",
                      "properties": {
                        "autoUpgradeMinorVersion": true,
                        "enableAutomaticUpgrade": true,
                        "publisher": "Microsoft.Azure.Monitor",
                        "type": "AzureMonitorLinuxAgent",
                        "typeHandlerVersion": "1.0",
                        "settings": {
                          "GCS_AUTO_CONFIG": true
                        }
                      }
                    },
                    {
                      "name": "Sanitized",
                      "properties": {
                        "autoUpgradeMinorVersion": true,
                        "enableAutomaticUpgrade": true,
                        "publisher": "Microsoft.Azure.Security.Monitoring",
                        "type": "AzureSecurityLinuxAgent",
                        "typeHandlerVersion": "2.0",
                        "settings": {
                          "enableAutoConfig": true,
                          "enableGenevaUpload": true,
                          "reportSuccessOnUnsupportedDistro": true
                        }
                      }
                    },
                    {
                      "name": "Sanitized",
                      "properties": {
                        "autoUpgradeMinorVersion": false,
                        "suppressFailures": false,
                        "publisher": "Microsoft.AKS",
                        "type": "Compute.AKS.Linux.AKSNode",
                        "typeHandlerVersion": "1.391",
                        "settings": {
                          "disable-uu": "true",
                          "enable-uu": "false",
                          "node-exporter-tls": "false"
                        }
                      }
                    }
                  ],
                  "extensionsTimeBudget": "PT16M"
                },
                "securityProfile": {
                  "encryptionAtHost": true
                },
                "timeCreated": "2026-02-02T10:48:11.8605926+00:00"
              },
              "provisioningState": "Succeeded",
              "overprovision": false,
              "doNotRunExtensionsOnOverprovisionedVMs": false,
              "uniqueId": "5f9a6b70-04cf-449a-ac90-d90fcf651dc6",
              "platformFaultDomainCount": 1,
              "timeCreated": "2025-12-04T21:03:26.6545667+00:00"
            }
          },
          {
            "name": "Sanitized",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_RG-NODES-S1-STRESS-STORAGE-STORAGE/providers/Microsoft.Compute/virtualMachineScaleSets/aks-systemap-27802153-vmss",
            "type": "Microsoft.Compute/virtualMachineScaleSets",
            "location": "southcentralus",
            "tags": {
              "aks-ma[...]
