{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "Owners": "haagha",
          "DeleteAfter": "2026-03-19T04:19:07.5369511Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Compute/virtualMachines/Sanitized-vm?api-version=2024-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"10\"",
        "x-ms-need-to-refresh-epl-cache": "False",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/LowCostGetSubscriptionMaximum;23998,Microsoft.Compute/LowCostGetResource;34",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "name": "Sanitized",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Compute/virtualMachines/Sanitized-vm",
        "type": "Microsoft.Compute/virtualMachines",
        "location": "eastus2",
        "tags": {
          "testkey": "testvalue",
          "environment": "livetests",
          "azsecpack": "nonprod",
          "platformsettings.host_environment.service.platform_optedin_for_rootcerts": "true"
        },
        "identity": {
          "type": "SystemAssigned, UserAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "userAssignedIdentities": {
            "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzSecPackAutoConfigRG/providers/Microsoft.ManagedIdentity/userAssignedIdentities/AzSecPackAutoConfigUA-eastus2": {
              "principalId": "00000000-0000-0000-0000-000000000000",
              "clientId": "00000000-0000-0000-0000-000000000000"
            }
          }
        },
        "properties": {
          "hardwareProfile": {
            "vmSize": "Standard_B2s"
          },
          "provisioningState": "Succeeded",
          "vmId": "00000000-0000-0000-0000-000000000000",
          "storageProfile": {
            "imageReference": {
              "publisher": "Canonical",
              "offer": "0001-com-ubuntu-server-jammy",
              "sku": "22_04-lts-gen2",
              "version": "latest",
              "exactVersion": "22.04.202602250"
            },
            "osDisk": {
              "osType": "Linux",
              "name": "Sanitized",
              "createOption": "FromImage",
              "caching": "ReadWrite",
              "managedDisk": {
                "storageAccountType": "Standard_LRS",
                "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Compute/disks/Sanitized-vm_OsDisk_1_f06eccd3f13b44c8b36301db7dd9cc73"
              },
              "deleteOption": "Detach",
              "diskSizeGB": 30
            },
            "dataDisks": [],
            "diskControllerType": "SCSI"
          },
          "osProfile": {
            "computerName": "Sanitized-vm",
            "adminUsername": "azureuser",
            "linuxConfiguration": {
              "disablePasswordAuthentication": false,
              "provisionVMAgent": true,
              "patchSettings": {
                "patchMode": "ImageDefault",
                "assessmentMode": "ImageDefault"
              },
              "enableVMAgentPlatformUpdates": true
            },
            "secrets": [],
            "allowExtensionOperations": true,
            "requireGuestProvisionSignal": true
          },
          "securityProfile": {
            "uefiSettings": {
              "secureBootEnabled": true,
              "vTpmEnabled": true
            },
            "securityType": "TrustedLaunch"
          },
          "networkProfile": {
            "networkInterfaces": [
              {
                "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Network/networkInterfaces/Sanitized-nic",
                "properties": {
                  "primary": true
                }
              }
            ]
          },
          "diagnosticsProfile": {
            "bootDiagnostics": {
              "enabled": true
            }
          },
          "timeCreated": "2026-03-18T16:19:15.9216958+00:00"
        },
        "etag": "Sanitized",
        "resources": [
          {
            "name": "Sanitized",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Compute/virtualMachines/Sanitized-vm/extensions/AzurePolicyforLinux",
            "type": "Microsoft.Compute/virtualMachines/extensions",
            "location": "eastus2",
            "properties": {
              "autoUpgradeMinorVersion": true,
              "provisioningState": "Succeeded",
              "enableAutomaticUpgrade": true,
              "publisher": "Microsoft.GuestConfiguration",
              "type": "ConfigurationforLinux",
              "typeHandlerVersion": "1.0",
              "settings": {}
            }
          },
          {
            "name": "Sanitized",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Compute/virtualMachines/Sanitized-vm/extensions/Microsoft.Azure.Monitor.AzureMonitorLinuxAgent",
            "type": "Microsoft.Compute/virtualMachines/extensions",
            "location": "eastus2",
            "properties": {
              "autoUpgradeMinorVersion": true,
              "provisioningState": "Succeeded",
              "enableAutomaticUpgrade": true,
              "suppressFailures": true,
              "publisher": "Microsoft.Azure.Monitor",
              "type": "AzureMonitorLinuxAgent",
              "typeHandlerVersion": "1.0",
              "settings": {
                "GCS_AUTO_CONFIG": true
              }
            }
          },
          {
            "name": "Sanitized",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Compute/virtualMachines/Sanitized-vm/extensions/Microsoft.Azure.Security.Monitoring.AzureSecurityLinuxAgent",
            "type": "Microsoft.Compute/virtualMachines/extensions",
            "location": "eastus2",
            "properties": {
              "autoUpgradeMinorVersion": true,
              "provisioningState": "Succeeded",
              "enableAutomaticUpgrade": true,
              "suppressFailures": true,
              "publisher": "Microsoft.Azure.Security.Monitoring",
              "type": "AzureSecurityLinuxAgent",
              "typeHandlerVersion": "2.0",
              "settings": {
                "enableGenevaUpload": true,
                "enableAutoConfig": true,
                "reportSuccessOnUnsupportedDistro": true
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Compute/virtualMachines/Sanitized-vm/instanceView?api-version=2024-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-need-to-refresh-epl-cache": "False",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/LowCostGetSubscriptionMaximum;23997,Microsoft.Compute/LowCostGetResource;33",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "computerName": "Sanitized-vm",
        "osName": "ubuntu",
        "osVersion": "22.04",
        "vmAgent": {
          "vmAgentVersion": "2.15.0.1",
          "statuses": [
            {
              "code": "ProvisioningState/succeeded",
              "level": "Info",
              "displayStatus": "Ready",
              "message": "Guest Agent is running",
              "time": "2026-03-18T17:26:03+00:00"
            }
          ],
          "extensionHandlers": [
            {
              "type": "Microsoft.GuestConfiguration.ConfigurationforLinux",
              "typeHandlerVersion": "1.26.107",
              "status": {
                "code": "ProvisioningState/succeeded",
                "level": "Info",
                "displayStatus": "Ready",
                "message": "Plugin enabled"
              }
            },
            {
              "type": "Microsoft.Azure.Monitor.AzureMonitorLinuxAgent",
              "typeHandlerVersion": "1.40.3",
              "status": {
                "code": "ProvisioningState/succeeded",
                "level": "Info",
                "displayStatus": "Ready",
                "message": "Plugin enabled"
              }
            },
            {
              "type": "Microsoft.Azure.Security.Monitoring.AzureSecurityLinuxAgent",
              "typeHandlerVersion": "2.34.1155",
              "status": {
                "code": "ProvisioningState/succeeded",
                "level": "Info",
                "displayStatus": "Ready",
                "message": "{\"time\":\"2026-03-18T17:26:01.4925678Z\",\"buildNum\":\"2.34.2-1155\",\"buildDate\":\"2026-03-06T23:51:28Z\",\"sourceCommit\":\"4091eb078ad216725c32b50ecdfb030f5581b24b\",\"lastRestart\":\"2026-03-18T16:19:41.508419495Z\",\"systemUUID\":\"00000000-0000-0000-0000-000000000000\",\"containerId\":\"00000000-0000-0000-0000-000000000000\",\"distroId\":\"ubuntu\",\"distroVer\":\"22.04\",\"numCPU\":2,\"totalRamMB\":3867,\"ProductName\":\"Virtual Machine\",\"SysVendor\":\"Microsoft Corporation\",\"BoardSerial\":\"0000-0010-4432-5847-4875-8901-23\",\"architecture\":\"x86_64\",\"KernelRelease\":\"6.8.0-1044-azure\",\"KernelVersion\":\"#50~22.04.1-Ubuntu SMP Wed Dec  3 15:13:22 UTC 2025\",\"NeedsReboot\":\"No\",\"LatestInstalledKernelVersion\":\"6.8.0-1044-azure\",\"packages\":[{\"name\":\"azure-security\",\"version\":\"2.34.2-1155\"},{\"name\":\"azsec-monitor\",\"version\":\"2.34.2-1155\"},{\"name\":\"auoms\",\"version\":\"2.7.0.146\"},{\"name\":\"azsec-clamav\",\"version\":\"2.34.2-1155\"},{\"name\":\"azsec-mdsd\",\"version\":\"Not installed\"},{\"name\":\"azure-mdsd\",\"version\":\"Not installed\"},{\"name\":\"azure-mdsd-clang\",\"version\":\"Not installed\"},{\"name\":\"azuremonitoragent\",\"version\":\"1.40.3-1349\"},{\"name\":\"qualys-command-line-agent\",\"version\":\"2.1.1-1\"},{\"name\":\"azsec-bpftrace\",\"version\":\"2.0.2-193\"},{\"name\":\"clamav\",\"version\":\"Not installed\"},{\"name\":\"auditbeat\",\"version\":\"Not installed\"}],\"services\":[{\"name\":\"azsecd\",\"enabled\":true,\"status\":\"running\",\"cgroups\":[{\"id\":\"0\",\"controllerList\":[],\"path\":\"/system.slice/azsecd.service\"}]},{\"name\":\"mdsd\",\"enabled\":false,\"status\":\"not-installed\",\"cgroups\":null},{\"name\":\"mdsdmgr\",\"enabled\":false,\"status\":\"not-installed\",\"cgroups\":null},{\"name\":\"mdsd-coreagent\",\"enabled\":false,\"status\":\"not-installed\",\"cgroups\":null},{\"name\":\"azuremonitoragent\",\"enabled\":false,\"status\":\"disabled\",\"cgroups\":null},{\"name\":\"azuremonitoragentmgr\",\"enabled\":true,\"status\":\"running\",\"cgroups\":[{\"id\":\"0\",\"controllerList\":[],\"path\":\"/system.slice/azuremonitoragentmgr.service\"}]},{\"name\":\"azuremonitor-coreagent\",\"enabled\":true,\"status\":\"running\",\"cgroups\":[{\"id\":\"0\",\"controllerList\":[],\"path\":\"/system.slice/azuremonitor-coreagent.service\"}]},{\"name\":\"auditd\",\"enabled\":false,\"status\":\"not-installed\",\"cgroups\":null},{\"name\":\"mdatp\",\"enabled\":false,\"status\":\"not-installed\",\"cgroups\":null},{\"name\":\"azsecmond\",\"enabled\":true,\"status\":\"running\",\"cgroups\":[{\"id\":\"0\",\"controllerList\":[],\"path\":\"/system.slice/azsecmond.service\"}]},{\"name\":\"auoms\",\"enabled\":true,\"status\":\"running\",\"cgroups\":[{\"id\":\"0\",\"controllerList\":[],\"path\":\"/system.slice/auoms.service\"}]}],\"scanners\":[{\"name\":\"time\",\"lastScanStart\":\"0001-01-01T00:00:00Z\",\"lastScan\":\"0001-01-01T00:00:00Z\",\"cycle\":\"PT8H\",\"options\":null},{\"name\":\"iptables\",\"lastScanStart\":\"0001-01-01T00:00:00Z\",\"lastScan\":\"0001-01-01T00:00:00Z\",\"cycle\":\"PT8H\",\"options\":null},{\"name\":\"certsinuse\",\"lastScanStart\":\"2026-03-18T17:21:36.387383746Z\",\"lastScan\":\"2026-03-18T17:21:36.394711973Z\",\"cycle\":\"PT30M\",\"options\":null},{\"name\":\"software\",\"lastScanStart\":\"0001-01-01T00:00:00Z\",\"lastScan\":\"0001-01-01T00:00:00Z\",\"cycle\":\"P1D\",\"options\":[{\"name\":\"IncludePackageInventory\",\"value\":\"true\"},{\"name\":\"IncludeAvailableUpdates\",\"value\":\"true\"}]},{\"name\":\"filescan\",\"lastScanStart\":\"0001-01-01T00:00:00Z\",\"lastScan\":\"0001-01-01T00:00:00Z\",\"cycle\":\"PT12H\",\"options\":[{\"name\":\"ConfigFile\",\"value\":\"hosts:/etc/hosts\"},{\"name\":\"GroupFile\",\"value\":\"AuthorizedKeys\"}]},{\"name\":\"antimalware\",\"lastScanStart\":\"0001-01-01T00:00:00Z\",\"lastScan\":\"0001-01-01T00:00:00Z\",\"cycle\":\"PT8H\",\"options\":null},{\"name\":\"baseline\",\"lastScanSta[...]
