{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "Owners": "haagha",
          "DeleteAfter": "2026-03-17T04:02:08.7838186Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized/providers/Microsoft.Compute/virtualMachines/nonexistent-vm-a33e5dbb?api-version=2024-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource 'Microsoft.Compute/virtualMachines/nonexistent-vm-a33e5dbb' under resource group 'sanitized' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    }
  ],
  "Variables": {}
}
