{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "Owners": "haagha",
          "DeleteAfter": "2026-03-17T04:02:08.7838186Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized/providers/Microsoft.Compute/virtualMachines/sanitized-vm?api-version=2024-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"4\"",
        "x-ms-need-to-refresh-epl-cache": "False",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/LowCostGetSubscriptionMaximum;23991,Microsoft.Compute/LowCostGetResource;35",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "name": "Sanitized",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized/providers/Microsoft.Compute/virtualMachines/sanitized-vm",
        "type": "Microsoft.Compute/virtualMachines",
        "location": "eastus2",
        "tags": {
          "environment": "test",
          "purpose": "mcp-testing",
          "azsecpack": "nonprod",
          "platformsettings.host_environment.service.platform_optedin_for_rootcerts": "true"
        },
        "identity": {
          "type": "SystemAssigned, UserAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "userAssignedIdentities": {
            "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzSecPackAutoConfigRG/providers/Microsoft.ManagedIdentity/userAssignedIdentities/AzSecPackAutoConfigUA-eastus2": {
              "principalId": "00000000-0000-0000-0000-000000000000",
              "clientId": "00000000-0000-0000-0000-000000000000"
            }
          }
        },
        "properties": {
          "hardwareProfile": {
            "vmSize": "Standard_B2s"
          },
          "provisioningState": "Succeeded",
          "vmId": "00000000-0000-0000-0000-000000000000",
          "storageProfile": {
            "imageReference": {
              "publisher": "Canonical",
              "offer": "0001-com-ubuntu-server-jammy",
              "sku": "22_04-lts-gen2",
              "version": "latest",
              "exactVersion": "22.04.202602250"
            },
            "osDisk": {
              "osType": "Linux",
              "name": "Sanitized",
              "createOption": "FromImage",
              "caching": "ReadWrite",
              "managedDisk": {
                "storageAccountType": "Standard_LRS",
                "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized/providers/Microsoft.Compute/disks/sanitized-vm_OsDisk_1_48fa4410676f46d1ab04fd07bff4ff75"
              },
              "deleteOption": "Detach",
              "diskSizeGB": 30
            },
            "dataDisks": [],
            "diskControllerType": "SCSI"
          },
          "osProfile": {
            "computerName": "sanitized-vm",
            "adminUsername": "azureuser",
            "linuxConfiguration": {
              "disablePasswordAuthentication": false,
              "provisionVMAgent": true,
              "patchSettings": {
                "patchMode": "ImageDefault",
                "assessmentMode": "ImageDefault"
              },
              "enableVMAgentPlatformUpdates": true
            },
            "secrets": [],
            "allowExtensionOperations": true,
            "requireGuestProvisionSignal": true
          },
          "securityProfile": {
            "uefiSettings": {
              "secureBootEnabled": true,
              "vTpmEnabled": true
            },
            "securityType": "TrustedLaunch"
          },
          "networkProfile": {
            "networkInterfaces": [
              {
                "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized/providers/Microsoft.Network/networkInterfaces/sanitized-nic",
                "properties": {
                  "primary": true
                }
              }
            ]
          },
          "timeCreated": "2026-03-16T16:02:20.2127475+00:00"
        },
        "etag": "Sanitized",
        "resources": [
          {
            "name": "Sanitized",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized/providers/Microsoft.Compute/virtualMachines/sanitized-vm/extensions/AzurePolicyforLinux",
            "type": "Microsoft.Compute/virtualMachines/extensions",
            "location": "eastus2",
            "properties": {
              "autoUpgradeMinorVersion": true,
              "provisioningState": "Succeeded",
              "enableAutomaticUpgrade": true,
              "publisher": "Microsoft.GuestConfiguration",
              "type": "ConfigurationforLinux",
              "typeHandlerVersion": "1.0",
              "settings": {}
            }
          },
          {
            "name": "Sanitized",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized/providers/Microsoft.Compute/virtualMachines/sanitized-vm/extensions/Microsoft.Azure.Monitor.AzureMonitorLinuxAgent",
            "type": "Microsoft.Compute/virtualMachines/extensions",
            "location": "eastus2",
            "properties": {
              "autoUpgradeMinorVersion": true,
              "provisioningState": "Succeeded",
              "enableAutomaticUpgrade": true,
              "suppressFailures": true,
              "publisher": "Microsoft.Azure.Monitor",
              "type": "AzureMonitorLinuxAgent",
              "typeHandlerVersion": "1.0",
              "settings": {
                "GCS_AUTO_CONFIG": true
              }
            }
          },
          {
            "name": "Sanitized",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized/providers/Microsoft.Compute/virtualMachines/sanitized-vm/extensions/Microsoft.Azure.Security.Monitoring.AzureSecurityLinuxAgent",
            "type": "Microsoft.Compute/virtualMachines/extensions",
            "location": "eastus2",
            "properties": {
              "autoUpgradeMinorVersion": true,
              "provisioningState": "Succeeded",
              "enableAutomaticUpgrade": true,
              "suppressFailures": true,
              "publisher": "Microsoft.Azure.Security.Monitoring",
              "type": "AzureSecurityLinuxAgent",
              "typeHandlerVersion": "2.0",
              "settings": {
                "enableGenevaUpload": true,
                "enableAutoConfig": true,
                "reportSuccessOnUnsupportedDistro": true
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized/providers/Microsoft.Compute/virtualMachines/sanitized-vm?api-version=2024-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "testkey": "testvalue",
          "environment": "livetests"
        },
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"5\"",
        "x-ms-need-to-refresh-epl-cache": "False",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/UpdateVMSubscriptionMaximum;1498,Microsoft.Compute/UpdateVMResource;11",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        [...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized/providers/Microsoft.Compute/virtualMachines/sanitized-vm/instanceView?api-version=2024-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-need-to-refresh-epl-cache": "False",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/LowCostGetSubscriptionMaximum;23986,Microsoft.Compute/LowCostGetResource;30",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "computerName": "sanitized-vm",
        "osName": "ubuntu",
        "osVersion": "22.04",
        "vmAgent": {
          "vmAgentVersion": "2.15.0.1",
          "statuses": [
            {
              "code": "ProvisioningState/succeeded",
              "level": "Info",
              "displayStatus": "Ready",
              "message": "Guest Agent is running",
              "time": "2026-03-16T16:31:06+00:00"
            }
          ],
          "extensionHandlers": [
            {
              "type": "Microsoft.GuestConfiguration.ConfigurationforLinux",
              "typeHandlerVersion": "1.26.107",
              "status": {
                "code": "ProvisioningState/succeeded",
                "level": "Info",
                "displayStatus": "Ready",
                "message": "Plugin enabled"
              }
            },
            {
              "type": "Microsoft.Azure.Monitor.AzureMonitorLinuxAgent",
              "typeHandlerVersion": "1.40.3",
              "status": {
                "code": "ProvisioningState/succeeded",
                "level": "Info",
                "displayStatus": "Ready",
                "message": "Plugin enabled"
              }
            },
            {
              "type": "Microsoft.Azure.Security.Monitoring.AzureSecurityLinuxAgent",
              "typeHandlerVersion": "2.34.1155",
              "status": {
                "code": "ProvisioningState/succeeded",
                "level": "Info",
                "displayStatus": "Ready",
                "message": "{\"time\":\"2026-03-16T16:30:01.10549878Z\",\"buildNum\":\"2.34.2-1155\",\"buildDate\":\"2026-03-06T23:51:28Z\",\"sourceCommit\":\"4091eb078ad216725c32b50ecdfb030f5581b24b\",\"lastRestart\":\"2026-03-16T16:02:44.120658324Z\",\"systemUUID\":\"00000000-0000-0000-0000-000000000000\",\"containerId\":\"00000000-0000-0000-0000-000000000000\",\"distroId\":\"ubuntu\",\"distroVer\":\"22.04\",\"numCPU\":2,\"totalRamMB\":3867,\"ProductName\":\"Virtual Machine\",\"SysVendor\":\"Microsoft Corporation\",\"BoardSerial\":\"0000-0013-1601-7183-8676-1097-73\",\"architecture\":\"x86_64\",\"KernelRelease\":\"6.8.0-1044-azure\",\"KernelVersion\":\"#50~22.04.1-Ubuntu SMP Wed Dec  3 15:13:22 UTC 2025\",\"NeedsReboot\":\"No\",\"LatestInstalledKernelVersion\":\"6.8.0-1044-azure\",\"packages\":[{\"name\":\"azure-security\",\"version\":\"2.34.2-1155\"},{\"name\":\"azsec-monitor\",\"version\":\"2.34.2-1155\"},{\"name\":\"auoms\",\"version\":\"2.7.0.146\"},{\"name\":\"azsec-clamav\",\"version\":\"2.34.2-1155\"},{\"name\":\"azsec-mdsd\",\"version\":\"Not installed\"},{\"name\":\"azure-mdsd\",\"version\":\"Not installed\"},{\"name\":\"azure-mdsd-clang\",\"version\":\"Not installed\"},{\"name\":\"azuremonitoragent\",\"version\":\"1.40.3-1349\"},{\"name\":\"qualys-command-line-agent\",\"version\":\"2.1.1-1\"},{\"name\":\"azsec-bpftrace\",\"version\":\"2.0.2-193\"},{\"name\":\"clamav\",\"version\":\"Not installed\"},{\"name\":\"auditbeat\",\"version\":\"Not installed\"}],\"services\":[{\"name\":\"azsecd\",\"enabled\":true,\"status\":\"running\",\"cgroups\":[{\"id\":\"0\",\"controllerList\":[],\"path\":\"/system.slice/azsecd.service\"}]},{\"name\":\"mdsd\",\"enabled\":false,\"status\":\"not-installed\",\"cgroups\":null},{\"name\":\"mdsdmgr\",\"enabled\":false,\"status\":\"not-installed\",\"cgroups\":null},{\"name\":\"mdsd-coreagent\",\"enabled\":false,\"status\":\"not-installed\",\"cgroups\":null},{\"name\":\"azuremonitoragent\",\"enabled\":false,\"status\":\"disabled\",\"cgroups\":null},{\"name\":\"azuremonitoragentmgr\",\"enabled\":true,\"status\":\"running\",\"cgroups\":[{\"id\":\"0\",\"controllerList\":[],\"path\":\"/system.slice/azuremonitoragentmgr.service\"}]},{\"name\":\"azuremonitor-coreagent\",\"enabled\":true,\"status\":\"running\",\"cgroups\":[{\"id\":\"0\",\"controllerList\":[],\"path\":\"/system.slice/azuremonitor-coreagent.service\"}]},{\"name\":\"auditd\",\"enabled\":false,\"status\":\"not-installed\",\"cgroups\":null},{\"name\":\"mdatp\",\"enabled\":false,\"status\":\"not-installed\",\"cgroups\":null},{\"name\":\"azsecmond\",\"enabled\":true,\"status\":\"running\",\"cgroups\":[{\"id\":\"0\",\"controllerList\":[],\"path\":\"/system.slice/azsecmond.service\"}]},{\"name\":\"auoms\",\"enabled\":true,\"status\":\"running\",\"cgroups\":[{\"id\":\"0\",\"controllerList\":[],\"path\":\"/system.slice/auoms.service\"}]}],\"scanners\":[{\"name\":\"vsanodescan\",\"lastScanStart\":\"0001-01-01T00:00:00Z\",\"lastScan\":\"0001-01-01T00:00:00Z\",\"cycle\":\"PT8H\",\"options\":null},{\"name\":\"filescan\",\"lastScanStart\":\"0001-01-01T00:00:00Z\",\"lastScan\":\"0001-01-01T00:00:00Z\",\"cycle\":\"PT12H\",\"options\":[{\"name\":\"ConfigFile\",\"value\":\"hosts:/etc/hosts\"},{\"name\":\"GroupFile\",\"value\":\"AuthorizedKeys\"}]},{\"name\":\"antimalware\",\"lastScanStart\":\"0001-01-01T00:00:00Z\",\"lastScan\":\"0001-01-01T00:00:00Z\",\"cycle\":\"PT8H\",\"options\":null},{\"name\":\"codeintegrity\",\"lastScanStart\":\"0001-01-01T00:00:00Z\",\"lastScan\":\"0001-01-01T00:00:00Z\",\"cycle\":\"P1D\",\"options\":null},{\"name\":\"swpkg\",\"lastScanStart\":\"0001-01-01T00:00:00Z\",\"lastScan\":\"0001-01-01T00:00:00Z\",\"cycle\":\"P1D\",\"options\":null},{\"name\":\"usergroup\",\"lastScanStart\":\"0001-01-01T00:00:00Z\",\"lastScan\":\"0001-01-01T00:00:00Z\",\"cycle\":\"P1D\",\"options\":null},{\"name\":\"containerinvscan\",\"lastScanStart\":\"0001-01-01T00:00:00Z\",\"lastScan\":\"0001-01-01T00:00:00Z\",\"cycle\":\"PT8H\",\"options\":null},{\"name\":\"time\",\"lastScanStart\":\"0001-01-01T00:00:00Z\",\"lastScan\":\"0001-01-01T00:00:00Z\",\"cycle\":\"PT8H\",\"options\":null},{\"name\":\"clamav\",\"lastScanStart\":\"0001-01-01T00:00:00Z\",\"lastScan\":\"0001-01-01T00:00:00Z\",\"cycle\":\"P1D\",\"options\":[{\"name\":\"targetDir\",\"value\":\"/bin\"},{\"name\":\"targetDir\",\"value\":\"/boot\"},{\"name\":\"targetDir\",\"value\":\"/home\"},{\"name\":\"targetDir\",\"value\":\"/lib\"},{\"name\":\"targetDir\",\"value\":\"/lib64\"},{\"name\":\"targetDir\",\"value\":\"/opt\"},{\"name\":\"targetDir\",\"value\":\"/root\"},{\"name\":\"targetDir\",\"value\":\"/sbin\"},{\"name\":\"targetDir\",\"value\":\"/usr\"}],\"cgroupInfo\":{\"name\":\"azsec_clamav\",\"cpupercentagelimit\":20,\"cpushareslimit\":2,\"memorysoftlimitbytes\":2147483648,\"memoryhardlimitbytes\":2147483648,\"memoryminbytes\":41943040,\"readbytespersecondlimit\":10485760,\"readiopersecond\":1000,\"BlkioDevicePaths\":null}},{\"name\":\"kube\",\"lastScanStart\":\"0001-01-01T00:00:00Z\",\"lastScan\":\"0001-01-01T00:00:00Z\",\"cycle\":\"P1D\",\"options\":[{\"name\":\"Baseline\",\"value\":\"Azure.Kube.Linux\"}]},{\"name\":\"vsatlsscan\",\"lastScanStart\":\"0001-01-01T00:00:00Z\",\"lastScan\":\"0001-01-01T00:00:00Z\",\"cycle\":\"PT12H\",\"options\":[{\"name\":\"TlsScanDisable\",\"value\":\"0\"},{\"name\":\"ExcludeProcess\",\"value\":\"mdsd:29130,29230,29330\"},{\"name\":\"ExcludeProcess\",\"value\":\"MetricsExten[...]
