{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "DeleteAfter": "2026-03-04T05:11:35.7881831Z",
          "Owners": "audreytoney"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Compute/disks/Sanitized-gallery-lun-test?api-version=2025-01-02",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "sku": {
          "name": "Sanitized"
        },
        "properties": {
          "creationData": {
            "createOption": "FromImage",
            "galleryImageReference": {
              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Compute/galleries/Sanitizedgallery/images/test-linux-image/versions/1.0.0"
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/DiskOperations/00000000-0000-0000-0000-000000000000?p=00000000-0000-0000-0000-000000000000&api-version=2025-01-02&t=639081857225234907&c=MIIHpTCCBo2gAwIBAgITOgZfllveTdMn8FCmWwAEBl-WWzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjYwMjIxMDgyMjQ3WhcNMjYwNTI0MjI1NzAzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGl[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/DiskOperations/00000000-0000-0000-0000-000000000000?p=00000000-0000-0000-0000-000000000000&api-version=2025-01-02&t=639081857225234907&c=MIIHpTCCBo2gAwIBAgITOgZfllveTdMn8FCmWwAEBl-WWzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjYwMjIxMDgyMjQ3WhcNMjYwNTI0MjI1NzAzWjBAMT4wPAY[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Compute/disks/Sanitized-gallery-lun-test?api-version=2025-01-02",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/LowCostGet3Min;14999,Microsoft.Compute/LowCostGet30Min;119993",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "name": "Sanitized",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Compute/disks/Sanitized-gallery-lun-test",
        "type": "Microsoft.Compute/disks",
        "location": "westus2",
        "sku": {
          "name": "Sanitized",
          "tier": "Standard"
        },
        "properties": {
          "osType": "Linux",
          "hyperVGeneration": "V2",
          "supportedCapabilities": {
            "architecture": "x64"
          },
          "creationData": {
            "createOption": "FromImage",
            "imageReference": {
              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Compute/galleries/Sanitizedgallery/images/test-linux-image/versions/1.0.0"
            },
            "galleryImageReference": {
              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Compute/galleries/Sanitizedgallery/images/test-linux-image/versions/1.0.0"
            }
          },
          "diskSizeGB": 32,
          "diskIOPSReadWrite": 500,
          "diskMBpsReadWrite": 60,
          "encryption": {
            "type": "EncryptionAtRestWithPlatformKey"
          },
          "networkAccessPolicy": "AllowAll",
          "publicNetworkAccess": "Enabled",
          "timeCreated": "2026-03-03T17:39:06.3165258+00:00",
          "provisioningState": "Succeeded",
          "diskState": "Unattached",
          "diskSizeBytes": 34359738368,
          "uniqueId": "00000000-0000-0000-0000-000000000000"
        }
      }
    },
[...]
