{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "DeleteAfter": "2026-01-29T07:14:01.6027596Z",
          "Owners": "haagha"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized/providers/Microsoft.Compute/virtualMachines/sanitized-vm?api-version=2024-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"6\"",
        "x-ms-need-to-refresh-epl-cache": "False",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/LowCostGetSubscriptionMaximum;23999,Microsoft.Compute/LowCostGetResource;35",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "name": "Sanitized",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized/providers/Microsoft.Compute/virtualMachines/sanitized-vm",
        "type": "Microsoft.Compute/virtualMachines",
        "location": "eastus2",
        "tags": {
          "environment": "test",
          "purpose": "mcp-testing",
          "azsecpack": "nonprod",
          "platformsettings.host_environment.service.platform_optedin_for_rootcerts": "true"
        },
        "identity": {
          "type": "SystemAssigned, UserAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "userAssignedIdentities": {
            "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzSecPackAutoConfigRG/providers/Microsoft.ManagedIdentity/userAssignedIdentities/AzSecPackAutoConfigUA-eastus2": {
              "principalId": "00000000-0000-0000-0000-000000000000",
              "clientId": "00000000-0000-0000-0000-000000000000"
            }
          }
        },
        "properties": {
          "hardwareProfile": {
            "vmSize": "Standard_B2s"
          },
          "provisioningState": "Succeeded",
          "vmId": "74721dab-ad5c-4ba1-bfbd-feb76e167028",
          "storageProfile": {
            "imageReference": {
              "publisher": "Canonical",
              "offer": "0001-com-ubuntu-server-jammy",
              "sku": "22_04-lts-gen2",
              "version": "latest",
              "exactVersion": "22.04.202512181"
            },
            "osDisk": {
              "osType": "Linux",
              "name": "Sanitized",
              "createOption": "FromImage",
              "caching": "ReadWrite",
              "managedDisk": {
                "storageAccountType": "Standard_LRS",
                "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized/providers/Microsoft.Compute/disks/sanitized-vm_OsDisk_1_bf550f31153f4f95bac10880d84fca19"
              },
              "deleteOption": "Detach",
              "diskSizeGB": 30
            },
            "dataDisks": [],
            "diskControllerType": "SCSI"
          },
          "osProfile": {
            "computerName": "sanitized-vm",
            "adminUsername": "azureuser",
            "linuxConfiguration": {
              "disablePasswordAuthentication": false,
              "provisionVMAgent": true,
              "patchSettings": {
                "patchMode": "ImageDefault",
                "assessmentMode": "ImageDefault"
              },
              "enableVMAgentPlatformUpdates": true
            },
            "secrets": [],
            "allowExtensionOperations": true,
            "requireGuestProvisionSignal": true
          },
          "securityProfile": {
            "uefiSettings": {
              "secureBootEnabled": true,
              "vTpmEnabled": true
            },
            "securityType": "TrustedLaunch"
          },
          "networkProfile": {
            "networkInterfaces": [
              {
                "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized/providers/Microsoft.Network/networkInterfaces/sanitized-nic",
                "properties": {
                  "primary": true
                }
              }
            ]
          },
          "timeCreated": "2026-01-27T22:28:11.3398965+00:00"
        },
        "etag": "Sanitized",
        "resources": [
          {
            "name": "Sanitized",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized/providers/Microsoft.Compute/virtualMachines/sanitized-vm/extensions/AzurePolicyforLinux",
            "type": "Microsoft.Compute/virtualMachines/extensions",
            "location": "eastus2",
            "properties": {
              "autoUpgradeMinorVersion": true,
              "provisioningState": "Succeeded",
              "enableAutomaticUpgrade": true,
              "publisher": "Microsoft.GuestConfiguration",
              "type": "ConfigurationforLinux",
              "typeHandlerVersion": "1.0",
              "settings": {}
            }
          },
          {
            "name": "Sanitized",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized/providers/Microsoft.Compute/virtualMachines/sanitized-vm/extensions/Microsoft.Azure.Monitor.AzureMonitorLinuxAgent",
            "type": "Microsoft.Compute/virtualMachines/extensions",
            "location": "eastus2",
            "properties": {
              "autoUpgradeMinorVersion": true,
              "provisioningState": "Succeeded",
              "enableAutomaticUpgrade": true,
              "suppressFailures": true,
              "publisher": "Microsoft.Azure.Monitor",
              "type": "AzureMonitorLinuxAgent",
              "typeHandlerVersion": "1.0",
              "settings": {
                "GCS_AUTO_CONFIG": true
              }
            }
          },
          {
            "name": "Sanitized",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized/providers/Microsoft.Compute/virtualMachines/sanitized-vm/extensions/Microsoft.Azure.Security.Monitoring.AzureSecurityLinuxAgent",
            "type": "Microsoft.Compute/virtualMachines/extensions",
            "location": "eastus2",
            "properties": {
              "autoUpgradeMinorVersion": true,
              "provisioningState": "Succeeded",
              "enableAutomaticUpgrade": true,
              "suppressFailures": true,
              "publisher": "Microsoft.Azure.Security.Monitoring",
              "type": "AzureSecurityLinuxAgent",
              "typeHandlerVersion": "2.0",
              "settings": {
                "enableGenevaUpload": true,
                "enableAutoConfig": true,
                "reportSuccessOnUnsupportedDistro": true
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized/providers/Microsoft.Compute/virtualMachines/sanitized-vm/instanceView?api-version=2024-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-need-to-refresh-epl-cache": "False",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/LowCostGetSubscriptionMaximum;23998,Microsoft.Compute/LowCostGetResource;34",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "computerName": "sanitized-vm",
        "osName": "ubuntu",
        "osVersion": "22.04",
        "vmAgent": {
          "vmAgentVersion": "2.15.0.1",
          "statuses": [
            {
              "code": "ProvisioningState/succeeded",
              "level": "Info",
              "displayStatus": "Ready",
              "message": "Guest Agent is running",
              "time": "2026-01-28T19:32:05+00:00"
            }
          ],
          "extensionHandlers": [
            {
              "type": "Microsoft.GuestConfiguration.ConfigurationforLinux",
              "typeHandlerVersion": "1.26.104",
              "status": {
                "code": "ProvisioningState/succeeded",
                "level": "Info",
                "displayStatus": "Ready",
                "message": "Plugin enabled"
              }
            },
            {
              "type": "Microsoft.Azure.Monitor.AzureMonitorLinuxAgent",
              "typeHandlerVersion": "1.39.0",
              "status": {
                "code": "ProvisioningState/succeeded",
                "level": "Info",
                "displayStatus": "Ready",
                "message": "Plugin enabled"
              }
            },
            {
              "type": "Microsoft.Azure.Security.Monitoring.AzureSecurityLinuxAgent",
              "typeHandlerVersion": "2.33.1053",
              "status": {
                "code": "ProvisioningState/succeeded",
                "level": "Info",
                "displayStatus": "Ready",
                "message": "{\"time\":\"2026-01-28T19:32:01.112126066Z\",\"buildNum\":\"2.33.2-1053\",\"buildDate\":\"2025-12-23T21:39:13Z\",\"sourceCommit\":\"096d7194c381cd68f9303703a7575994b91dece1\",\"lastRestart\":\"2026-01-27T22:28:32.126731609Z\",\"systemUUID\":\"74721dab-ad5c-4ba1-bfbd-feb76e167028\",\"containerId\":\"ddefa509-4f2e-4cbd-a7b2-d6b57cf26760\",\"distroId\":\"ubuntu\",\"distroVer\":\"22.04\",\"numCPU\":2,\"totalRamMB\":3867,\"ProductName\":\"Virtual Machine\",\"SysVendor\":\"Microsoft Corporation\",\"BoardSerial\":\"0000-0013-8164-7929-5621-9842-96\",\"architecture\":\"x86_64\",\"KernelRelease\":\"6.8.0-1044-azure\",\"KernelVersion\":\"#50~22.04.1-Ubuntu SMP Wed Dec  3 15:13:22 UTC 2025\",\"NeedsReboot\":\"No\",\"LatestInstalledKernelVersion\":\"6.8.0-1044-azure\",\"packages\":[{\"name\":\"azure-security\",\"version\":\"2.33.2-1053\"},{\"name\":\"azsec-monitor\",\"version\":\"2.33.2-1053\"},{\"name\":\"auoms\",\"version\":\"2.7.0.139\"},{\"name\":\"azsec-clamav\",\"version\":\"2.33.2-1053\"},{\"name\":\"azsec-mdsd\",\"version\":\"Not installed\"},{\"name\":\"azure-mdsd\",\"version\":\"Not installed\"},{\"name\":\"azure-mdsd-clang\",\"version\":\"Not installed\"},{\"name\":\"azuremonitoragent\",\"version\":\"1.39.0-1260\"},{\"name\":\"qualys-command-line-agent\",\"version\":\"2.1.1-1\"},{\"name\":\"azsec-bpftrace\",\"version\":\"2.0.2-193\"},{\"name\":\"clamav\",\"version\":\"1.4.3+dfsg-0ubuntu0.22.04.1\"},{\"name\":\"auditbeat\",\"version\":\"Not installed\"}],\"services\":[{\"name\":\"azsecd\",\"enabled\":true,\"status\":\"running\",\"cgroups\":[{\"id\":\"0\",\"controllerList\":[],\"path\":\"/system.slice/azsecd.service\"}]},{\"name\":\"mdsd\",\"enabled\":false,\"status\":\"not-installed\",\"cgroups\":null},{\"name\":\"mdsdmgr\",\"enabled\":false,\"status\":\"not-installed\",\"cgroups\":null},{\"name\":\"mdsd-coreagent\",\"enabled\":false,\"status\":\"not-installed\",\"cgroups\":null},{\"name\":\"azuremonitoragent\",\"enabled\":false,\"status\":\"disabled\",\"cgroups\":null},{\"name\":\"azuremonitoragentmgr\",\"enabled\":true,\"status\":\"running\",\"cgroups\":[{\"id\":\"0\",\"controllerList\":[],\"path\":\"/system.slice/azuremonitoragentmgr.service\"}]},{\"name\":\"azuremonitor-coreagent\",\"enabled\":true,\"status\":\"running\",\"cgroups\":[{\"id\":\"0\",\"controllerList\":[],\"path\":\"/system.slice/azuremonitor-coreagent.service\"}]},{\"name\":\"auditd\",\"enabled\":false,\"status\":\"not-installed\",\"cgroups\":null},{\"name\":\"mdatp\",\"enabled\":false,\"status\":\"not-installed\",\"cgroups\":null},{\"name\":\"azsecmond\",\"enabled\":true,\"status\":\"running\",\"cgroups\":[{\"id\":\"0\",\"controllerList\":[],\"path\":\"/system.slice/azsecmond.service\"}]},{\"name\":\"auoms\",\"enabled\":true,\"status\":\"running\",\"cgroups\":[{\"id\":\"0\",\"controllerList\":[],\"path\":\"/system.slice/auoms.service\"}]}],\"scanners\":[{\"name\":\"baseline\",\"lastScanStart\":\"2026-01-28T00:40:59.045536134Z\",\"lastScan\":\"2026-01-28T00:41:24.441695385Z\",\"cycle\":\"P1D\",\"options\":[{\"name\":\"Baseline\",\"value\":\"Microsoft.Linux\"},{\"name\":\"AscBaseline\",\"value\":\"ASC.Linux\"}]},{\"name\":\"usergroup\",\"lastScanStart\":\"2026-01-28T00:40:57.569183862Z\",\"lastScan\":\"2026-01-28T00:40:58.963046853Z\",\"cycle\":\"P1D\",\"options\":null},{\"name\":\"heartbeat\",\"lastScanStart\":\"2026-01-28T18:36:53.097827795Z\",\"lastScan\":\"2026-01-28T18:36:54.258385418Z\",\"cycle\":\"PT1H\",\"options\":null},{\"name\":\"codeintegrity\",\"lastScanStart\":\"2026-01-27T23:36:27.442405982Z\",\"lastScan\":\"2026-01[...]
