{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "Owners": "audreytoney",
          "DeleteAfter": "2026-03-17T01:56:56.2484664Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Compute/virtualMachines/Sanitized-vm?api-version=2024-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"8\"",
        "x-ms-need-to-refresh-epl-cache": "False",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/LowCostGetSubscriptionMaximum;23991,Microsoft.Compute/LowCostGetResource;35",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "name": "Sanitized",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Compute/virtualMachines/Sanitized-vm",
        "type": "Microsoft.Compute/virtualMachines",
        "location": "eastus2",
        "tags": {
          "testkey": "testvalue",
          "environment": "livetests",
          "azsecpack": "nonprod",
          "platformsettings.host_environment.service.platform_optedin_for_rootcerts": "true"
        },
        "identity": {
          "type": "SystemAssigned, UserAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "userAssignedIdentities": {
            "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzSecPackAutoConfigRG/providers/Microsoft.ManagedIdentity/userAssignedIdentities/AzSecPackAutoConfigUA-eastus2": {
              "principalId": "00000000-0000-0000-0000-000000000000",
              "clientId": "00000000-0000-0000-0000-000000000000"
            }
          }
        },
        "properties": {
          "hardwareProfile": {
            "vmSize": "Standard_B2s"
          },
          "provisioningState": "Succeeded",
          "vmId": "00000000-0000-0000-0000-000000000000",
          "storageProfile": {
            "imageReference": {
              "publisher": "Canonical",
              "offer": "0001-com-ubuntu-server-jammy",
              "sku": "22_04-lts-gen2",
              "version": "latest",
              "exactVersion": "22.04.202602250"
            },
            "osDisk": {
              "osType": "Linux",
              "name": "Sanitized",
              "createOption": "FromImage",
              "caching": "ReadWrite",
              "managedDisk": {
                "storageAccountType": "Standard_LRS",
                "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Compute/disks/Sanitized-vm_OsDisk_1_1e60d29546794e21959c64b79cf54653"
              },
              "deleteOption": "Detach",
              "diskSizeGB": 30
            },
            "dataDisks": [],
            "diskControllerType": "SCSI"
          },
          "osProfile": {
            "computerName": "Sanitized-vm",
            "adminUsername": "azureuser",
            "linuxConfiguration": {
              "disablePasswordAuthentication": false,
              "provisionVMAgent": true,
              "patchSettings": {
                "patchMode": "ImageDefault",
                "assessmentMode": "ImageDefault"
              },
              "enableVMAgentPlatformUpdates": true
            },
            "secrets": [],
            "allowExtensionOperations": true,
            "requireGuestProvisionSignal": true
          },
          "securityProfile": {
            "uefiSettings": {
              "secureBootEnabled": true,
              "vTpmEnabled": true
            },
            "securityType": "TrustedLaunch"
          },
          "networkProfile": {
            "networkInterfaces": [
              {
                "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Network/networkInterfaces/Sanitized-nic",
                "properties": {
                  "primary": true
                }
              }
            ]
          },
          "diagnosticsProfile": {
            "bootDiagnostics": {
              "enabled": true
            }
          },
          "timeCreated": "2026-03-16T13:57:18.0883001+00:00"
        },
        "etag": "Sanitized",
        "resources": [
          {
            "name": "Sanitized",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Compute/virtualMachines/Sanitized-vm/extensions/AzurePolicyforLinux",
            "type": "Microsoft.Compute/virtualMachines/extensions",
            "location": "eastus2",
            "properties": {
              "autoUpgradeMinorVersion": true,
              "provisioningState": "Succeeded",
              "enableAutomaticUpgrade": true,
              "publisher": "Microsoft.GuestConfiguration",
              "type": "ConfigurationforLinux",
              "typeHandlerVersion": "1.0",
              "settings": {}
            }
          },
          {
            "name": "Sanitized",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Compute/virtualMachines/Sanitized-vm/extensions/Microsoft.Azure.Monitor.AzureMonitorLinuxAgent",
            "type": "Microsoft.Compute/virtualMachines/extensions",
            "location": "eastus2",
            "properties": {
              "autoUpgradeMinorVersion": true,
              "provisioningState": "Succeeded",
              "enableAutomaticUpgrade": true,
              "suppressFailures": true,
              "publisher": "Microsoft.Azure.Monitor",
              "type": "AzureMonitorLinuxAgent",
              "typeHandlerVersion": "1.0",
              "settings": {
                "GCS_AUTO_CONFIG": true
              }
            }
          },
          {
            "name": "Sanitized",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Compute/virtualMachines/Sanitized-vm/extensions/Microsoft.Azure.Security.Monitoring.AzureSecurityLinuxAgent",
            "type": "Microsoft.Compute/virtualMachines/extensions",
            "location": "eastus2",
            "properties": {
              "autoUpgradeMinorVersion": true,
              "provisioningState": "Succeeded",
              "enableAutomaticUpgrade": true,
              "suppressFailures": true,
              "publisher": "Microsoft.Azure.Security.Monitoring",
              "type": "AzureSecurityLinuxAgent",
              "typeHandlerVersion": "2.0",
              "settings": {
                "enableGenevaUpload": true,
                "enableAutoConfig": true,
                "reportSuccessOnUnsupportedDistro": true
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Compute/virtualMachines/Sanitized-vm/instanceView?api-version=2024-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-need-to-refresh-epl-cache": "False",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/LowCostGetSubscriptionMaximum;23988,Microsoft.Compute/LowCostGetResource;32",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "computerName": "Sanitized-vm",
        "osName": "ubuntu",
        "osVersion": "22.04",
        "vmAgent": {
          "vmAgentVersion": "2.15.0.1",
          "statuses": [
            {
              "code": "ProvisioningState/succeeded",
              "level": "Info",
              "displayStatus": "Ready",
              "message": "Guest Agent is running",
              "time": "2026-03-16T17:07:04+00:00"
            }
          ],
          "extensionHandlers": [
            {
              "type": "Microsoft.GuestConfiguration.ConfigurationforLinux",
              "typeHandlerVersion": "1.26.107",
              "status": {
                "code": "ProvisioningState/succeeded",
                "level": "Info",
                "displayStatus": "Ready",
                "message": "Plugin enabled"
              }
            },
            {
              "type": "Microsoft.Azure.Monitor.AzureMonitorLinuxAgent",
              "typeHandlerVersion": "1.40.3",
              "status": {
                "code": "ProvisioningState/succeeded",
                "level": "Info",
                "displayStatus": "Ready",
                "message": "Plugin enabled"
              }
            },
            {
              "type": "Microsoft.Azure.Security.Monitoring.AzureSecurityLinuxAgent",
              "typeHandlerVersion": "2.34.1155",
              "status": {
                "code": "ProvisioningState/succeeded",
                "level": "Info",
                "displayStatus": "Ready",
                "message": "{\"time\":\"2026-03-16T17:06:01.823246606Z\",\"buildNum\":\"2.34.2-1155\",\"buildDate\":\"2026-03-06T23:51:28Z\",\"sourceCommit\":\"4091eb078ad216725c32b50ecdfb030f5581b24b\",\"lastRestart\":\"2026-03-16T13:57:40.835062884Z\",\"systemUUID\":\"00000000-0000-0000-0000-000000000000\",\"containerId\":\"00000000-0000-0000-0000-000000000000\",\"distroId\":\"ubuntu\",\"distroVer\":\"22.04\",\"numCPU\":2,\"totalRamMB\":3866,\"ProductName\":\"Virtual Machine\",\"SysVendor\":\"Microsoft Corporation\",\"BoardSerial\":\"0000-0011-1415-9831-0433-3412-49\",\"architecture\":\"x86_64\",\"KernelRelease\":\"6.8.0-1044-azure\",\"KernelVersion\":\"#50~22.04.1-Ubuntu SMP Wed Dec  3 15:13:22 UTC 2025\",\"NeedsReboot\":\"No\",\"LatestInstalledKernelVersion\":\"6.8.0-1044-azure\",\"packages\":[{\"name\":\"azure-security\",\"version\":\"2.34.2-1155\"},{\"name\":\"azsec-monitor\",\"version\":\"2.34.2-1155\"},{\"name\":\"auoms\",\"version\":\"2.7.0.146\"},{\"name\":\"azsec-clamav\",\"version\":\"2.34.2-1155\"},{\"name\":\"azsec-mdsd\",\"version\":\"Not installed\"},{\"name\":\"azure-mdsd\",\"version\":\"Not installed\"},{\"name\":\"azure-mdsd-clang\",\"version\":\"Not installed\"},{\"name\":\"azuremonitoragent\",\"version\":\"1.40.3-1349\"},{\"name\":\"qualys-command-line-agent\",\"version\":\"2.1.1-1\"},{\"name\":\"azsec-bpftrace\",\"version\":\"2.0.2-193\"},{\"name\":\"clamav\",\"version\":\"1.4.3+dfsg-0ubuntu0.22.04.1\"},{\"name\":\"auditbeat\",\"version\":\"Not installed\"}],\"services\":[{\"name\":\"azsecd\",\"enabled\":true,\"status\":\"running\",\"cgroups\":[{\"id\":\"0\",\"controllerList\":[],\"path\":\"/system.slice/azsecd.service\"}]},{\"name\":\"mdsd\",\"enabled\":false,\"status\":\"not-installed\",\"cgroups\":null},{\"name\":\"mdsdmgr\",\"enabled\":false,\"status\":\"not-installed\",\"cgroups\":null},{\"name\":\"mdsd-coreagent\",\"enabled\":false,\"status\":\"not-installed\",\"cgroups\":null},{\"name\":\"azuremonitoragent\",\"enabled\":false,\"status\":\"disabled\",\"cgroups\":null},{\"name\":\"azuremonitoragentmgr\",\"enabled\":true,\"status\":\"running\",\"cgroups\":[{\"id\":\"0\",\"controllerList\":[],\"path\":\"/system.slice/azuremonitoragentmgr.service\"}]},{\"name\":\"azuremonitor-coreagent\",\"enabled\":true,\"status\":\"running\",\"cgroups\":[{\"id\":\"0\",\"controllerList\":[],\"path\":\"/system.slice/azuremonitor-coreagent.service\"}]},{\"name\":\"auditd\",\"enabled\":false,\"status\":\"not-installed\",\"cgroups\":null},{\"name\":\"mdatp\",\"enabled\":false,\"status\":\"not-installed\",\"cgroups\":null},{\"name\":\"azsecmond\",\"enabled\":true,\"status\":\"running\",\"cgroups\":[{\"id\":\"0\",\"controllerList\":[],\"path\":\"/system.slice/azsecmond.service\"}]},{\"name\":\"auoms\",\"enabled\":true,\"status\":\"running\",\"cgroups\":[{\"id\":\"0\",\"controllerList\":[],\"path\":\"/system.slice/auoms.service\"}]}],\"scanners\":[{\"name\":\"heartbeat\",\"lastScanStart\":\"2026-03-16T16:06:28.771317892Z\",\"lastScan\":\"2026-03-16T16:06:29.829130982Z\",\"cycle\":\"PT1H\",\"options\":null},{\"name\":\"antimalware\",\"lastScanStart\":\"2026-03-16T15:08:31.836160719Z\",\"lastScan\":\"2026-03-16T15:08:31.85510498Z\",\"cycle\":\"PT8H\",\"options\":null},{\"name\":\"baseline\",\"lastScanStart\":\"2026-03-16T15:59:03.827086113Z\",\"lastScan\":\"2026-03-16T15:59:21.243367198Z\",\"cycle\":\"P1D\",\"options\":[{\"name\":\"Baseline\",\"value\":\"Microsoft.Linux\"},{\"name\":\"AscBaseline\",\"value\":\"ASC.Linux\"}]},{\"name\":\"processinvestigator\",\"lastScanStart\":\"2026-03-16T15:59:21.992591514Z\",\"lastScan\":\"2026-03-16T15:59:26.146547453Z\",\"cycle\":\"P1D\",\"options\":null},{\"name\":\"usergroup\",\"lastScanStart\":\"2026-03-16T15:59:02.435659242Z\",\"lastScan\":\"2026-03-16T15:59:03.536775946Z\",\"cycle\":\"P1D\",\"options\":null},{\"name\":\"containerinvscan\",\"lastScanStart\":\"2026-03-16T15:58:26.352580415Z\",\"lastScan[...]
