{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/disks?api-version=2025-01-02",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "00000000-0000-0000-0000-000000000000",
          "57bbaeb8-4f01-40e5-af19-598114efe6d5"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Sanitized",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AUDREYTONEY-MCP18C9E2F2/providers/Microsoft.Compute/disks/mcp18c9e2f2-disk",
            "type": "Microsoft.Compute/disks",
            "location": "eastus2",
            "tags": {
              "Environment": "Test",
              "Purpose": "MCP-Testing"
            },
            "sku": {
              "name": "Sanitized",
              "tier": "Standard"
            },
            "properties": {
              "creationData": {
                "createOption": "Empty"
              },
              "diskSizeGB": 32,
              "diskIOPSReadWrite": 500,
              "diskMBpsReadWrite": 60,
              "encryption": {
                "type": "EncryptionAtRestWithPlatformKey"
              },
              "networkAccessPolicy": "AllowAll",
              "publicNetworkAccess": "Enabled",
              "timeCreated": "2026-02-06T20:08:01.9461211+00:00",
              "provisioningState": "Succeeded",
              "diskState": "Unattached",
              "diskSizeBytes": 34359738368,
              "uniqueId": "00000000-0000-0000-0000-000000000000"
            }
          },
          {
            "name": "Sanitized",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AUDREYTONEY-MCP18C9E2F2/providers/Microsoft.Compute/disks/mcp18c9e2f2-vm_disk1_00b4af8adc0a478bbe14c3c9e316308e",
            "type": "Microsoft.Compute/disks",
            "location": "eastus2",
            "tags": {
              "environment": "test",
              "purpose": "mcp-testing",
              "azsecpack": "nonprod",
              "platformsettings.host_environment.service.platform_optedin_for_rootcerts": "true"
            },
            "managedBy": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/audreytoney-mcp18c9e2f2/providers/Microsoft.Compute/virtualMachines/mcp18c9e2f2-vm",
            "sku": {
              "name": "Sanitized",
              "tier": "Standard"
            },
            "properties": {
              "osType": "Linux",
              "hyperVGeneration": "V2",
              "supportsHibernation": true,
              "supportedCapabilities": {
                "diskControllerTypes": "SCSI, NVMe",
                "acceleratedNetwork": true,
                "architecture": "x64"
              },
              "creationData": {
                "createOption": "FromImage",
                "imageReference": {
                  "id": "/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/eastus2/Publishers/canonical/ArtifactTypes/VMImage/Offers/0001-com-ubuntu-server-jammy/Skus/22_04-lts-gen2/Versions/22.04.202601310"
                }
              },
              "diskSizeGB": 30,
              "diskIOPSReadWrite": 500,
              "diskMBpsReadWrite": 60,
              "encryption": {
                "type": "EncryptionAtRestWithPlatformKey"
              },
              "networkAccessPolicy": "AllowAll",
              "securityProfile": {
                "securityType": "TrustedLaunch"
              },
              "publicNetworkAccess": "Enabled",
              "timeCreated": "2026-02-06T20:08:12.6649072+00:00",
              "provisioningState": "Succeeded",
              "diskState": "Attached",
              "LastOwnershipUpdateTime": "2026-02-06T20:08:12.6649072+00:00",
              "diskSizeBytes": 32213303296,
              "uniqueId": "00000000-0000-0000-0000-000000000000"
            }
          },
          {
            "name": "Sanitized",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/HAAGHA-MCP-COMPUTE/providers/Microsoft.Compute/disks/haagha-test-vm-osdisk",
            "type": "Microsoft.Compute/disks",
            "location": "eastus2",
            "tags": {
              [...]
