{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "Owners": "haagha",
          "DeleteAfter": "2026-02-14T07:29:52.0329721Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized/providers/Microsoft.Compute/disks?api-version=2025-01-02",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "00000000-0000-0000-0000-000000000000",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/HighCostGet3Min;239,Microsoft.Compute/HighCostGet30Min;1916",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Sanitized",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized/providers/Microsoft.Compute/disks/delvm0306182503-osdisk",
            "type": "Microsoft.Compute/disks",
            "location": "eastus2",
            "tags": {
              "azsecpack": "nonprod",
              "platformsettings.host_environment.service.platform_optedin_for_rootcerts": "true"
            },
            "sku": {
              "name": "Sanitized",
              "tier": "Premium"
            },
            "properties": {
              "osType": "Linux",
              "hyperVGeneration": "V2",
              "supportsHibernation": true,
              "supportedCapabilities": {
                "diskControllerTypes": "SCSI, NVMe",
                "acceleratedNetwork": true,
                "architecture": "x64"
              },
              "creationData": {
                "createOption": "FromImage",
                "imageReference": {
                  "id": "/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/eastus2/Publishers/Canonical/ArtifactTypes/VMImage/Offers/ubuntu-24_04-lts/Skus/server/Versions/24.04.202601300"
                }
              },
              "diskSizeGB": 30,
              "diskIOPSReadWrite": 120,
              "diskMBpsReadWrite": 25,
              "encryption": {
                "type": "EncryptionAtRestWithPlatformKey"
              },
              "networkAccessPolicy": "AllowAll",
              "securityProfile": {
                "securityType": "TrustedLaunch"
              },
              "publicNetworkAccess": "Enabled",
              "timeCreated": "2026-03-06T18:25:24.3034977+00:00",
              "provisioningState": "Succeeded",
              "diskState": "Unattached",
              "LastOwnershipUpdateTime": "2026-03-06T18:26:38.5380934+00:00",
              "diskSizeBytes": 32213303296,
              "uniqueId": "00000000-0000-0000-0000-000000000000",
              "tier": "P4"
            }
          },
          {
            "name": "Sanitized",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized/providers/Microsoft.Compute/disks/delvm0306183343-osdisk",
            "type": "Microsoft.Compute/disks",
            "location": "eastus2",
            "tags": {
              "azsecpack": "nonprod",
              "platformsettings.host_environment.service.platfo[...]
