{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/disks?api-version=2025-01-02",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "00000000-0000-0000-0000-000000000000",
          "9fd9b2d8-4292-4c18-9d83-cdf273dd13eb"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Sanitized",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AUDREYTONEY-MCP18C9E2F2/providers/Microsoft.Compute/disks/mcp18c9e2f2-create-test",
            "type": "Microsoft.Compute/disks",
            "location": "eastus2",
            "sku": {
              "name": "Sanitized",
              "tier": "Standard"
            },
            "properties": {
              "creationData": {
                "createOption": "Empty"
              },
              "diskSizeGB": 32,
              "diskIOPSReadWrite": 500,
              "diskMBpsReadWrite": 60,
              "encryption": {
                "type": "EncryptionAtRestWithPlatformKey"
              },
              "networkAccessPolicy": "AllowAll",
              "publicNetworkAccess": "Enabled",
              "timeCreated": "2026-02-25T17:01:34.5735691+00:00",
              "provisioningState": "Succeeded",
              "diskState": "Unattached",
              "diskSizeBytes": 34359738368,
              "uniqueId": "00000000-0000-0000-0000-000000000000"
            }
          },
          {
            "name": "Sanitized",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AUDREYTONEY-MCP18C9E2F2/providers/Microsoft.Compute/disks/mcp18c9e2f2-full-update",
            "type": "Microsoft.Compute/disks",
            "location": "eastus2",
            "tags": {
              "environment": "test,lifecycle=full"
            },
            "sku": {
              "name": "Sanitized",
              "tier": "Standard"
            },
            "properties": {
              "creationData": {
                "createOption": "Empty"
              },
              "diskSizeGB": 64,
              "diskIOPSReadWrite": 500,
              "diskMBpsReadWrite": 100,
              "encryption": {
                "type": "EncryptionAtRestWithPlatformKey"
              },
              "networkAc[...]
