{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestnode()?$filter=foo%20eq%20%27testEntity%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#tableClientTestnode",
        "value": [
          {
            "odata.etag": "W/\"datetime'2025-04-03T20%3A01%3A32.9656419Z'\"",
            "PartitionKey": "listEntitiesTest",
            "RowKey": "0",
            "Timestamp": "2025-04-03T20:01:32.9656419Z",
            "foo": "testEntity"
          },
          {
            "odata.etag": "W/\"datetime'2025-04-03T20%3A01%3A33.3461784Z'\"",
            "PartitionKey": "listEntitiesTest",
            "RowKey": "1",
            "Timestamp": "2025-04-03T20:01:33.3461784Z",
            "foo": "testEntity"
          },
          {
            "odata.etag": "W/\"datetime'2025-04-03T20%3A01%3A33.6400108Z'\"",
            "PartitionKey": "listEntitiesTest",
            "RowKey": "10",
            "Timestamp": "2025-04-03T20:[...]
