{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestnode",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "p1",
        "RowKey": "r1",
        "date": "2019-07-10T18:59:59.999Z",
        "date@odata.type": "Edm.DateTime"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://fakeaccountname.table.core.windows.net/tableClientTestnode(PartitionKey='p1',RowKey='r1')",
        "ETag": "W/\"datetime'2025-04-03T20%3A01%3A54.7925302Z'\"",
        "Location": "https://fakeaccountname.table.core.windows.net/tableClientTestnode(PartitionKey='p1',RowKey='r1')",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestnode()?$filter=date%20lt%20datetime%272019-07-10T19%3A00%3A00.000Z%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#tableClientTestnode",
        "value": [
          {
            "odata.etag": "W/\"datetime'2025-04-03T20%3A01%3A54.7925302Z'\"",
            "PartitionKey": "p1",
            "RowKey": "r1",
            "Timestamp": "2025-04-03T20:01:54.7925302Z",
            "date@odata.type": "Edm.DateTime",
            "date": "2019-07-10T18:59:59.999Z"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
