{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "dataserviceversion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "SpecialChars"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeaccountname.table.core.windows.net/Tables('SpecialChars')",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "SpecialChars"
      }
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/SpecialChars",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "dataserviceversion": "3.0",
        "prefer": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "A'aaa_bbbb2\"",
        "RowKey": "\"A'aaa_bbbb2",
        "test": "\"A'aaa_bbbb2"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://fakeaccountname.table.core.windows.net/SpecialChars(PartitionKey='A''aaa_bbbb2%22',RowKey='%22A''aaa_bbbb2')",
        "ETag": "W/\"datetime'2025-04-03T20%3A03%3A45.6965439Z'\"",
        "Location": "https://fakeaccountname.table.core.windows.net/SpecialChars(PartitionKey='A''aaa_bbbb2%22',RowKey='%22A''aaa_bbbb2')",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/SpecialChars(PartitionKey='A''aaa_bbbb2%22',RowKey='%22A''aaa_bbbb2')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "dataserviceversion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2025-04-03T20%3A03%3A45.6965439Z'\"",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#SpecialChars/@Element",
        "odata.etag": "W/\"datetime'2025-04-03T20%3A03%3A45.6965439Z'\"",
        "PartitionKey": "A'aaa_bbbb2\"",
        "RowKey": "\"A'aaa_bbbb2",
        "Timestamp": "2025-04-03T20:03:45.6965439Z",
        "test": "\"A'aaa_bbbb2"
      }
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/Tables('SpecialChars')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
