{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srce91205f0-a47f-471e-b9c6-71206aac5198?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 06 Feb 2023 18:50:19 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB087316354B6B\u0022",
        "Last-Modified": "Mon, 06 Feb 2023 18:50:58 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srce91205f0-a47f-471e-b9c6-71206aac5198/fe8bc93c-342a-41e5-be4e-bc7cc9c7eb67.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 06 Feb 2023 18:50:20 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "VGhpcyBpcyB3cml0dGVuIGluIGVuZ2xpc2gu",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mYgA0QpY6baiB\u002BxZp8Hk\u002BA==",
        "ETag": "\u00220x8DB087316431524\u0022",
        "Last-Modified": "Mon, 06 Feb 2023 18:50:59 GMT",
        "x-ms-content-crc64": "NB4xBtawP6g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/target46ca9cc8-dceb-4702-adef-fa86259b29ab?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 06 Feb 2023 18:50:20 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB087316ABA266\u0022",
        "Last-Modified": "Mon, 06 Feb 2023 18:50:59 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/srce91205f0-a47f-471e-b9c6-71206aac5198?se=end\u0026sp=rl\u0026sv=2021-08-06\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target46ca9cc8-dceb-4702-adef-fa86259b29ab?se=end\u0026sp=wl\u0026sv=2021-08-06\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/0b67d85e-b36d-49d4-9cb3-74d507884606",
        "x-ms-region": "West US 2",
        "X-RequestId": "2bd102f8-d0cc-4feb-bb69-85923bde08b9"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/0b67d85e-b36d-49d4-9cb3-74d507884606",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2",
        "X-RequestId": "efcfbfd6-b72a-459f-96d7-fed2fa3e26ee"
      },
      "ResponseBody": {
        "id": "0b67d85e-b36d-49d4-9cb3-74d507884606",
        "createdDateTimeUtc": "2023-02-06T18:51:00.4816966Z",
        "lastActionDateTimeUtc": "2023-02-06T18:51:00.5620095Z",
        "status": "Cancelling",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/0b67d85e-b36d-49d4-9cb3-74d507884606",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00226CB240458BC405144597591ACE72AD59CA1744B5A7769A20B2A04CC3B9CA14BB\u0022",
        "x-ms-region": "West US 2",
        "X-RequestId": "3429d6f8-626d-49d1-929f-1963507c2795"
      },
      "ResponseBody": {
        "id": "0b67d85e-b36d-49d4-9cb3-74d507884606",
        "createdDateTimeUtc": "2023-02-06T18:51:00.4816966Z",
        "lastActionDateTimeUtc": "2023-02-06T18:51:00.660426Z",
        "status": "Cancelling",
        "summary": {
          "total": 8,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 8,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    }
  ],
  "Variables": {
    "source_container_name": "srce91205f0-a47f-471e-b9c6-71206aac5198",
    "target_container_name": "target46ca9cc8-dceb-4702-adef-fa86259b29ab"
  }
}
