{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src21a348b4-ad8a-454f-b6e2-bc1e326b52f8",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target1272b9c4-0d2c-4481-aeeb-34b21b46d6aa",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/1232e85e-cfd3-489f-b7ca-4f58dbcd4fa3?api-version=2024-05-01",
        "x-ms-region": "West US",
        "X-RequestId": "41eb0052-0eb5-49be-8639-d3e6b6844105"
      },
      "ResponseBody": {
        "id": "1232e85e-cfd3-489f-b7ca-4f58dbcd4fa3",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/1232e85e-cfd3-489f-b7ca-4f58dbcd4fa3?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"2A46B6D5B2EB2E4A20BE29CBDA713EA92504991A9CEE03F0DEBE3E05F5C55DD6\"",
        "x-ms-region": "West US",
        "X-RequestId": "bda9122f-ec4e-42c8-b67a-46e1331c3258"
      },
      "ResponseBody": {
        "id": "1232e85e-cfd3-489f-b7ca-4f58dbcd4fa3",
        "createdDateTimeUtc": "2024-10-11T01:59:00.6632322Z",
        "lastActionDateTimeUtc": "2024-10-11T01:59:00.6632322Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/1232e85e-cfd3-489f-b7ca-4f58dbcd4fa3?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"640DD629D79C4C5E0D837D5D48AE691FBD864D414D51438C8D21561A5F64F3EA\"",
 [...]
