{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src3b5c3e0e-0a21-4a8b-8dcf-cedf7c74d0a8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 10 Oct 2024 23:51:52 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE98688B8CA64\"",
        "Last-Modified": "Thu, 10 Oct 2024 23:52:00 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src3b5c3e0e-0a21-4a8b-8dcf-cedf7c74d0a8/fd186047-adac-4aab-9b1b-efa9d73c3ee2.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 10 Oct 2024 23:52:00 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "VGhpcyBpcyB3cml0dGVuIGluIGVuZ2xpc2gu",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mYgA0QpY6baiB+xZp8Hk+A==",
        "ETag": "\"0x8DCE98688CA9FC4\"",
        "Last-Modified": "Thu, 10 Oct 2024 23:52:00 GMT",
        "x-ms-content-crc64": "NB4xBtawP6g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src3b5c3e0e-0a21-4a8b-8dcf-cedf7c74d0a8/e07a79d1-f5ad-4cbd-bfd6-41493f5ca6aa.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 10 Oct 2024 23:52:01 GMT",
        "x-ms-[...]
