{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/srcf0e3c61a-cb90-4476-a705-a0823a7b4b97?se=end\u0026sp=rl\u0026sv=2021-08-06\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target3e2bcc91-4b62-414c-8c67-1c24d245f2c0?se=end\u0026sp=wl\u0026sv=2021-08-06\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/7664aae4-02d8-49a9-9437-bdbe7e0b2fa6",
        "x-ms-region": "West US 2",
        "X-RequestId": "969dcc4e-b4c3-4d5e-a464-997afe6a29fd"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/7664aae4-02d8-49a9-9437-bdbe7e0b2fa6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022D0BD87FDB43AAE994790E7DF1ABC07831E8891C5BA85F2AD292D54DA7CF66555\u0022",
        "x-ms-region": "West US 2",
        "X-RequestId": "ecf5e954-9164-4620-909a-6b96c1017f74"
      },
      "ResponseBody": {
        "id": "7664aae4-02d8-49a9-9437-bdbe7e0b2fa6",
        "createdDateTimeUtc": "2022-12-17T00:21:15.3531327Z",
        "lastActionDateTimeUtc": "2022-12-17T00:21:15.3531335Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/7664aae4-02d8-49a9-9437-bdbe7e0b2fa6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221F6AFA274E219F58027EAD1CF7EF1F31C69F740EFF7E42733F293A95E84D678B\u0022",
        "[...]
