{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/srcb703b954-e507-4f38-9300-f2549ebebf03",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/targeteff6057f-5321-464b-8600-4af44101195b",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/8ccf4a38-9d3b-49dd-aea3-5f962d068ddc?api-version=2024-05-01",
        "x-ms-region": "West US",
        "X-RequestId": "dabf11b7-6379-4115-927c-f47559bc33ce"
      },
      "ResponseBody": {
        "id": "8ccf4a38-9d3b-49dd-aea3-5f962d068ddc",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/8ccf4a38-9d3b-49dd-aea3-5f962d068ddc?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"3AAA28994CD08A5DBFACE407AF1799E0508B96061772AD48DF19B6192987BD7E\"",
        "x-ms-region": "West US",
        "X-RequestId": "154825b9-f3b6-4246-b389-190544be341c"
      },
      "ResponseBody": {
        "id": "8ccf4a38-9d3b-49dd-aea3-5f962d068ddc",
        "createdDateTimeUtc": "2024-10-11T01:31:07.5319971Z",
        "lastActionDateTimeUtc": "2024-10-11T01:31:07.5319971Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/8ccf4a38-9d3b-49dd-aea3-5f962d068ddc?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"3AAA28994CD08A5DBFACE407AF1799E0508B96061772AD48DF19B6192987BD7E\"",
 [...]
