{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\"inputs\": [{\"source\": {\"sourceUrl\": \"https://redacted.blob.core.windows.net/srcfe79a21e-53a3-4b3a-b78a-1ee2f1072558SanitizedSanitizedSanitized&sr=cSanitized \"filter\": {\"prefix\": \"\", \"suffix\": \".txt\"}, \"language\": \"en\"}, \"targets\": [{\"targetUrl\": \"https://redacted.blob.core.windows.net/target7e260cc0-9ee5-4016-82a7-4e571091610dSanitizedSanitizedSanitized&sr=cSanitized \"language\": \"es\", \"glossaries\": [{\"glossaryUrl\": \"https://glossaryfile.txt\", \"format\": \"txt\"}], \"category\": \"fake\"}], \"storageType\": \"File\"}]}",
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US",
        "X-RequestId": "a555aafa-2923-40b5-a9d1-c9a0cde698f9"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequest",
          "message": "The category parameter is invalid.",
          "target": "Category",
          "innerError": {
            "code": "InvalidCategory",
            "message": "The category parameter is invalid."
          }
        }
      }
    }
  ],
  "Variables": {
    "source_container_name": "srcfe79a21e-53a3-4b3a-b78a-1ee2f1072558",
    "target_container_name": "target7e260cc0-9ee5-4016-82a7-4e571091610d"
  }
}
