{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src79fcb435-f3a1-46a3-aafd-db204338e8a7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 15 Oct 2024 00:12:53 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCECAE1CBC67BA\"",
        "Last-Modified": "Tue, 15 Oct 2024 00:12:53 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src79fcb435-f3a1-46a3-aafd-db204338e8a7/f1c517ea-0000-4f59-8c9f-c2a2e222504e.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 15 Oct 2024 00:12:54 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "VGhpcyBpcyBzb21lIHRleHQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "lyFPYyJLwenMTaN3qtznxw==",
        "ETag": "\"0x8DCECAE1CC5D6C7\"",
        "Last-Modified": "Tue, 15 Oct 2024 00:12:53 GMT",
        "x-ms-content-crc64": "SqmNKeH10UQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/targetd6528562-5bae-4729-820a-d86a0d2d2ba8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 15 Oct 2024 00:12:54 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCECAE1D0ADB42\"",
        "Last-Modified": "Tue, 15 Oct 2024 00:12:53 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/targeteda08d89-babe-473e-a316-4c243ba303d9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 15 Oct 2024 00:12:54 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCECAE1D4CDAC3\"",
        "Last-Modified": "Tue, 15 Oct 2024 00:12:53 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src79fcb435-f3a1-46a3-aafd-db204338e8a7?se=Sanitized&sp=rl&sv=Sanitized&sr=c&sig=Sanitized",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/targetd6528562-5bae-4729-820a-d86a0d2d2ba8?se=Sanitized&sp=wl&sv=Sanitized&sr=c&sig=Sanitized",
                "language": "es"
              },
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/targeteda08d89-babe-473e-a316-4c243ba303d9?se=Sanitized&sp=wl&sv=Sanitized&sr=c&sig=Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/7964de40-0529-4a11-9ba6-b0bb8ffecd18?api-version=2024-05-01",
        "x-ms-region": "West US",
        "X-RequestId": "292e7546-a750-4bd4-9164-c87b5cfb997a"
      },
      "ResponseBody": {
        "id": "7964de40-0529-4a11-9ba6-b0bb8ffecd18",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/7964de40-0529-4a11-9ba6-b0bb8ffecd18?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"4284081F8DDC47357F02678D85D64D7DB7375D437C633CFA0E72A4601485D7EB\"",
        "x-ms-region": "West US",
        "X-RequestId": "aeb601fd-d9a8-479e-ae5f-35f26f1cd198"
      },
      "ResponseBody": {
        "id": "7964de40-0529-4a11-9ba6-b0bb8ffecd18",
        "createdDateTimeUtc": "2024-10-15T00:12:55.3262589Z",
        "lastActionDateTimeUtc": "2024-10-15T00:12:55.616714Z",
        "status": "NotStarted",
        "summary": {
          "total": 2,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 2,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/7964de40-0529-4a11-9ba6-b0bb8ffecd18?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"4284081F8DDC47357F02678D85D64D7DB7375D437C633CFA0E72A4601485D7EB\"",
 [...]
