{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/glossaries/formats",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022BB09005FA0DB45CD46802EE70709AA319365D435A020BE2897C9B902157EAD55\u0022",
        "x-ms-region": "West US 2",
        "X-RequestId": "765559c9-9875-4170-90ee-84684509da9c"
      },
      "ResponseBody": {
        "value": [
          {
            "format": "XLIFF",
            "fileExtensions": [
              ".xlf"
            ],
            "contentTypes": [
              "application/xliff\u002Bxml"
            ],
            "defaultVersion": "1.2",
            "versions": [
              "1.0",
              "1.1",
              "1.2"
            ]
          },
          {
            "format": "TSV",
            "fileExtensions": [
              ".tsv",
              ".tab"
            ],
            "contentTypes": [
              "text/tab-separated-values"
            ]
          },
          {
            "format": "CSV",
            "fileExtensions": [
              ".csv"
            ],
            "contentTypes": [
              "text/csv"
            ]
          }
        ]
      }
    }
  ],
  "Variables": {}
}
