{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src87a2e7e6-6227-409e-a85d-1de8be16c2dd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 15 Oct 2024 21:52:01 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCED639901180A\"",
        "Last-Modified": "Tue, 15 Oct 2024 21:52:00 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src87a2e7e6-6227-409e-a85d-1de8be16c2dd/3747e353-931c-4e87-acb5-bd5a5bd2beed.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 15 Oct 2024 21:52:01 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "VGhpcyBpcyB3cml0dGVuIGluIGVuZ2xpc2gu",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mYgA0QpY6baiB+xZp8Hk+A==",
        "ETag": "\"0x8DCED6399153F6C\"",
        "Last-Modified": "Tue, 15 Oct 2024 21:52:00 GMT",
        "x-ms-content-crc64": "NB4xBtawP6g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src87a2e7e6-6227-409e-a85d-1de8be16c2dd/f2f09bd7-c882-4f4f-8631-564dd590c685.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 15 Oct 2024 21:52:01 GMT",
        "x-ms-[...]
