{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src65faeb83-ee17-4cad-aa27-e4586189b194?se=Sanitized&sp=rl&sv=Sanitized&sr=c&sig=Sanitized"
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/targetdfb9a62d-ccd9-44b7-bb16-860a0b3e2d43?se=Sanitized&sp=wl&sv=Sanitized&sr=c&sig=Sanitized",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/8089be6f-bfa2-4fcc-80de-3ed0c398be62?api-version=2024-05-01",
        "x-ms-region": "West US",
        "X-RequestId": "14dffb37-5e99-4bc8-8072-81c7c9af6097"
      },
      "ResponseBody": {
        "id": "8089be6f-bfa2-4fcc-80de-3ed0c398be62",
        "status": "NotStarted"
      }
    }
  ],
  "Variables": {
    "source_container_name": "src65faeb83-ee17-4cad-aa27-e4586189b194",
    "target_container_name": "targetdfb9a62d-ccd9-44b7-bb16-860a0b3e2d43"
  }
}
