{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src53891486-0170-4a1e-aaff-b5458b861738?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 15 Oct 2024 00:13:04 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCECAE2300E239\"",
        "Last-Modified": "Tue, 15 Oct 2024 00:13:03 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src53891486-0170-4a1e-aaff-b5458b861738/58966deb-c85c-40d5-a88d-803a61ed4f93.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 15 Oct 2024 00:13:04 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "VGhpcyBpcyBzb21lIHRleHQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "lyFPYyJLwenMTaN3qtznxw==",
        "ETag": "\"0x8DCECAE2309DB60\"",
        "Last-Modified": "Tue, 15 Oct 2024 00:13:03 GMT",
        "x-ms-content-crc64": "SqmNKeH10UQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src05eb73f6-3b42-4a17-80c6-bbb2a5d2f433?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 15 Oct 2024 00:13:04 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCECAE234[...]
