{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srcd606cb69-dd26-406d-85f8-5050de9dbdd9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 15 Oct 2024 00:19:05 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCECAEFA7673B1\"",
        "Last-Modified": "Tue, 15 Oct 2024 00:19:05 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srcd606cb69-dd26-406d-85f8-5050de9dbdd9/f2dae1a1-b39a-49be-befb-b8dfae6c2261.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 15 Oct 2024 00:19:06 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "aGVsbG8gd29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "XrY7u+Ae7tCTyyK7j1rNww==",
        "ETag": "\"0x8DCECAEFA7E8D52\"",
        "Last-Modified": "Tue, 15 Oct 2024 00:19:05 GMT",
        "x-ms-content-crc64": "vo7q9sPVKY0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/targetb2108b42-e4af-49d3-9071-2e018bba6437?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 15 Oct 2024 00:19:06 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCECAEFAABD478\"",
        "Last-Modified": "Tue, 15 Oct 2024 00:19:05 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/targeta06a340c-3d4a-4a4c-93b1-35d498e07b0e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 15 Oct 2024 00:19:06 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCECAEFAD30677\"",
        "Last-Modified": "Tue, 15 Oct 2024 00:19:05 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/srcd606cb69-dd26-406d-85f8-5050de9dbdd9?se=Sanitized&sp=rl&sv=Sanitized&sr=c&sig=Sanitized",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/targetb2108b42-e4af-49d3-9071-2e018bba6437?se=Sanitized&sp=wl&sv=Sanitized&sr=c&sig=Sanitized",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/83e7d8d2-6b25-4ec3-9285-698e5bcf2281?api-version=2024-05-01",
        "x-ms-region": "West US",
        "X-RequestId": "4537fa8e-e5d0-4141-9a7f-e21534e3bc88"
      },
      "ResponseBody": {
        "id": "83e7d8d2-6b25-4ec3-9285-698e5bcf2281",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/83e7d8d2-6b25-4ec3-9285-698e5bcf2281?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"8DADF167CE451FE40D0F8463792205D2EDA42889B4A851409C66D1AA76ED8FA0\"",
        "x-ms-region": "West US",
        "X-RequestId": "82853003-ed18-47dd-829e-e658c0dcf61f"
      },
      "ResponseBody": {
        "id": "83e7d8d2-6b25-4ec3-9285-698e5bcf2281",
        "createdDateTimeUtc": "2024-10-15T00:19:06.8844983Z",
        "lastActionDateTimeUtc": "2024-10-15T00:19:06.8844984Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/83e7d8d2-6b25-4ec3-9285-698e5bcf2281?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"8DADF167CE451FE40D0F8463792205D2EDA42889B4A851409C66D1AA76ED8FA0\"",
 [...]
