{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/srcde516441-4d2a-404d-a2c9-c49dd77a0495",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target49758cd4-f9b0-4344-adf5-1e4fba106655",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/ba6c81d5-f879-4257-8d08-d87b9ecbd74f?api-version=2024-05-01",
        "x-ms-region": "West US",
        "X-RequestId": "42fe7c86-7141-425e-8976-c81e405ba77c"
      },
      "ResponseBody": {
        "id": "ba6c81d5-f879-4257-8d08-d87b9ecbd74f",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/ba6c81d5-f879-4257-8d08-d87b9ecbd74f?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"845E89B4D2273ECC49726AAE176133CA7E5751BB751D5D62FE35775B4FCE371E\"",
        "x-ms-region": "West US",
        "X-RequestId": "99057f3c-a5d4-4142-a743-5ada92546b66"
      },
      "ResponseBody": {
        "id": "ba6c81d5-f879-4257-8d08-d87b9ecbd74f",
        "createdDateTimeUtc": "2024-10-11T02:25:37.081657Z",
        "lastActionDateTimeUtc": "2024-10-11T02:25:37.0816571Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/ba6c81d5-f879-4257-8d08-d87b9ecbd74f?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"5153DE01D8F15AB3291026F8C5BD59621919ABF499DA9D3A05BB541FF8B41F1A\"",
 [...]
