{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src4688938d-01e6-408e-b285-93cbcbccbb5f?se=end\u0026sp=rl\u0026sv=2021-08-06\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target0859f42b-3d64-47d5-a0d0-b6112d58940b?se=end\u0026sp=wl\u0026sv=2021-08-06\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/bea1117b-34d2-44ff-bfc0-0a1e2e3b4341",
        "x-ms-region": "West US 2",
        "X-RequestId": "5c8ef631-3f6f-4114-95f5-2d401f319e4e"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/bea1117b-34d2-44ff-bfc0-0a1e2e3b4341",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022E72E8BB71E60A12B1A1537B24CAD7B0893E601F3BC2CEA4B59BB8D091CA11550\u0022",
        "x-ms-region": "West US 2",
        "X-RequestId": "6f25adbd-e160-4749-9770-5a3da10022ff"
      },
      "ResponseBody": {
        "id": "bea1117b-34d2-44ff-bfc0-0a1e2e3b4341",
        "createdDateTimeUtc": "2022-12-17T00:29:06.2199572Z",
        "lastActionDateTimeUtc": "2022-12-17T00:29:06.2199579Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/bea1117b-34d2-44ff-bfc0-0a1e2e3b4341",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022B63DCBBD3535356F6B41A1B7CD5D9D9351F32F81F7994607F067833B6E52F8F7\u0022",
        "[...]
