{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src69b35581-8fe3-4a19-a36a-34dd9ae81b26?se=Sanitized&sp=rl&sv=Sanitized&sr=c&sig=Sanitized",
              "filter": {
                "prefix": "xyz"
              }
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/targetffd9a579-8e61-4ba6-83f2-223979dda587?se=Sanitized&sp=wl&sv=Sanitized&sr=c&sig=Sanitized",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/23a613c4-c793-46db-9516-ffd839c98970?api-version=2024-05-01",
        "x-ms-region": "West US",
        "X-RequestId": "d5d535f4-852d-4028-9145-ba39a623086e"
      },
      "ResponseBody": {
        "id": "23a613c4-c793-46db-9516-ffd839c98970",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/23a613c4-c793-46db-9516-ffd839c98970?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"94A19113870CD092C33E818839A3949179C6BC8BFAA5FD4BC4980EF8088D71D2\"",
        "x-ms-region": "West US",
        "X-RequestId": "90bb907d-e9ae-4934-8113-0b904c29062f"
      },
      "ResponseBody": {
        "id": "23a613c4-c793-46db-9516-ffd839c98970",
        "createdDateTimeUtc": "2024-10-15T00:28:21.242082Z",
        "lastActionDateTimeUtc": "2024-10-15T00:28:21.2420832Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/23a613c4-c793-46db-9516-ffd839c98970?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"94A19113870CD092C33E818839A3949179C6BC8BFAA5FD4BC4980EF8088D71D2\"",
 [...]
