{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\"inputs\": [{\"source\": {\"sourceUrl\": \"https://fakeendpoint.blob.core.windows.net/srcc77810c6-fc3d-4488-8236-1ed65bdbba1fSanitizedSanitizedSanitized&sr=cSanitized \"filter\": {}}, \"targets\": [{\"targetUrl\": \"https://fakeendpoint.blob.core.windows.net/targetb9b9c9be-d441-411e-b65b-b14470ed5cb3SanitizedSanitizedSanitized&sr=cSanitized \"language\": \"es\"}]}]}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/b6ba56b8-1872-4999-892a-caa8123e488a?api-version=2024-05-01",
        "x-ms-region": "West US",
        "X-RequestId": "46a2212c-2ea5-4bd2-b3d9-acc3a02a2018"
      },
      "ResponseBody": {
        "id": "b6ba56b8-1872-4999-892a-caa8123e488a",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/b6ba56b8-1872-4999-892a-caa8123e488a?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"2C95CDE3FE3931468CB77BB3A60B9D5F332FA2F8D8BBD0BA14930EC5AD6F1F58\"",
        "x-ms-region": "West US",
        "X-RequestId": "59c3e95d-2b06-40b1-8d75-ca0d27208268"
      },
      "ResponseBody": {
        "id": "b6ba56b8-1872-4999-892a-caa8123e488a",
        "createdDateTimeUtc": "2024-05-03T21:38:15.4847504Z",
        "lastActionDateTimeUtc": "2024-05-03T21:38:15.4847505Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/b6ba56b8-1872-4999-892a-caa8123e488a?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"2C95CDE3FE3931468CB77BB3A60B9D5F332FA2F8D8BBD0BA14930EC5AD6F1F58\"",
 [...]
