{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src8446f744-7aa6-4c16-81f4-46c186f1ee46?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Sat, 12 Oct 2024 04:52:02 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEA799E2773A1\"",
        "Last-Modified": "Sat, 12 Oct 2024 04:52:04 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src8446f744-7aa6-4c16-81f4-46c186f1ee46/54004a39-afec-4e31-b8d2-95539ab2abf9.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 12 Oct 2024 04:52:05 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "VGhpcyBpcyB3cml0dGVuIGluIGVuZ2xpc2gu",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mYgA0QpY6baiB+xZp8Hk+A==",
        "ETag": "\"0x8DCEA799E31A6FB\"",
        "Last-Modified": "Sat, 12 Oct 2024 04:52:04 GMT",
        "x-ms-content-crc64": "NB4xBtawP6g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src8446f744-7aa6-4c16-81f4-46c186f1ee46/e0ee9ec4-2061-4515-b1f8-7bf477a83c21.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 12 Oct 2024 04:52:05 GMT",
        "x-ms-[...]
