{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\"inputs\": [{\"source\": {\"sourceUrl\": \"https://redacted.blob.core.windows.net/src65d5aefe-6988-4a3f-b4af-dcfd5f731eebSanitizedSanitizedSanitized&sr=cSanitized \"filter\": {}}, \"targets\": [{\"targetUrl\": \"https://redacted.blob.core.windows.net/target99b1198c-f48c-4d97-8c00-0cc579b7c20eSanitizedSanitizedSanitized&sr=cSanitized \"language\": \"es\"}]}]}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/6264339b-1243-4633-a9d6-7ec869472d46?api-version=2024-05-01",
        "x-ms-region": "West US",
        "X-RequestId": "ed441260-8d09-41d9-b94b-da9db3c31b16"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/6264339b-1243-4633-a9d6-7ec869472d46?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"5E7CE1CD0478CC727EB069F2F2E39749417968A1D46252A38ECAF27EBB974DC7\"",
        "x-ms-region": "West US",
        "X-RequestId": "167ed4d7-6c85-4432-9ac7-70171326e431"
      },
      "ResponseBody": {
        "id": "6264339b-1243-4633-a9d6-7ec869472d46",
        "createdDateTimeUtc": "2024-04-25T18:03:41.0066178Z",
        "lastActionDateTimeUtc": "2024-04-25T18:03:41.0066179Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/6264339b-1243-4633-a9d6-7ec869472d46?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"5E7CE1CD0478CC727EB069F2F2E39749417968A1D46252A38ECAF27EBB974DC7\"",
 [...]
