{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src7265bd0f-966f-4956-a1db-8f3b821e1aa2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 11 Oct 2024 01:35:07 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE994F3DD5DCA\"",
        "Last-Modified": "Fri, 11 Oct 2024 01:35:13 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src7265bd0f-966f-4956-a1db-8f3b821e1aa2/789620ff-fbf8-45be-b0d0-0b17a314aa2e.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 11 Oct 2024 01:35:14 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "VGhpcyBpcyB3cml0dGVuIGluIGVuZ2xpc2gu",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mYgA0QpY6baiB+xZp8Hk+A==",
        "ETag": "\"0x8DCE994F3E92B1A\"",
        "Last-Modified": "Fri, 11 Oct 2024 01:35:13 GMT",
        "x-ms-content-crc64": "NB4xBtawP6g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/targete4fc8040-d140-4fa4-a465-60b43af4b44f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 11 Oct 2024 01:35:14 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE994F7ABC434\"",
        "Last-Modified": "Fri, 11 Oct 2024 01:35:19 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src7265bd0f-966f-4956-a1db-8f3b821e1aa2",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/targete4fc8040-d140-4fa4-a465-60b43af4b44f",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/dba8f5fa-f43a-4de6-ba02-39591c40d687?api-version=2024-05-01",
        "x-ms-region": "West US",
        "X-RequestId": "d2108d39-67b8-43dc-9d39-be54163b7ce8"
      },
      "ResponseBody": {
        "id": "dba8f5fa-f43a-4de6-ba02-39591c40d687",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/dba8f5fa-f43a-4de6-ba02-39591c40d687?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"95EC19D944342613024761B8F556F0D10ADE4EEC46552FA0BAE93932C3AA988C\"",
        "x-ms-region": "West US",
        "X-RequestId": "c82d6306-2706-4ac0-874f-fb954f1c322e"
      },
      "ResponseBody": {
        "id": "dba8f5fa-f43a-4de6-ba02-39591c40d687",
        "createdDateTimeUtc": "2024-10-11T01:35:21.1222223Z",
        "lastActionDateTimeUtc": "2024-10-11T01:35:21.1222223Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/dba8f5fa-f43a-4de6-ba02-39591c40d687?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"95EC19D944342613024761B8F556F0D10ADE4EEC46552FA0BAE93932C3AA988C\"",
 [...]
