{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src6231e0fe-5d25-4b09-a3fb-9717fc77eb89?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 03 May 2024 22:24:38 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6BBFD2222918\"",
        "Last-Modified": "Fri, 03 May 2024 22:24:38 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src6231e0fe-5d25-4b09-a3fb-9717fc77eb89/76c5a672-11b6-4d6c-86d7-a00958a6197e.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 03 May 2024 22:24:38 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "aGVsbG8gd29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "XrY7u+Ae7tCTyyK7j1rNww==",
        "ETag": "\"0x8DC6BBFD22A477C\"",
        "Last-Modified": "Fri, 03 May 2024 22:24:38 GMT",
        "x-ms-content-crc64": "vo7q9sPVKY0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/target149736e0-d803-4cc3-b692-a82f49c65c04?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 03 May 2024 22:24:39 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6BBFD2B94CAC\"",
        "Last-Modified": "Fri, 03 May 2024 22:24:39 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/target98b68efd-422c-4e81-8b7d-0c13483cf9d3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 03 May 2024 22:24:40 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6BBFD349CD46\"",
        "Last-Modified": "Fri, 03 May 2024 22:24:40 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\"inputs\": [{\"source\": {\"sourceUrl\": \"https://fakeendpoint.blob.core.windows.net/src6231e0fe-5d25-4b09-a3fb-9717fc77eb89SanitizedSanitizedSanitized&sr=cSanitized \"filter\": {}}, \"targets\": [{\"targetUrl\": \"https://fakeendpoint.blob.core.windows.net/target149736e0-d803-4cc3-b692-a82f49c65c04SanitizedSanitizedSanitized&sr=cSanitized \"language\": \"es\"}]}]}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/1c047c28-7b8e-40dd-b660-9ddf46075b23?api-version=2024-05-01",
        "x-ms-region": "West US",
        "X-RequestId": "ca4bcbdc-0b51-438e-86f5-7cd2a1fd891a"
      },
      "ResponseBody": {
        "id": "1c047c28-7b8e-40dd-b660-9ddf46075b23",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/1c047c28-7b8e-40dd-b660-9ddf46075b23?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"5C53485462E9973A9CED49F2BBC7067D6EC95D86EDC1174381033D158316A517\"",
        "x-ms-region": "West US",
        "X-RequestId": "14016415-16d0-40cd-96a1-ec3b674c7120"
      },
      "ResponseBody": {
        "id": "1c047c28-7b8e-40dd-b660-9ddf46075b23",
        "createdDateTimeUtc": "2024-05-03T22:24:41.8669514Z",
        "lastActionDateTimeUtc": "2024-05-03T22:24:41.8669515Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/1c047c28-7b8e-40dd-b660-9ddf46075b23?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"82CA54D7A358C32E6415B2DCA394F41CE525117735B1763666406DAF45AA9E9B\"",
 [...]
