{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srcd0336dac-7e36-4bf8-9b3b-ac3219a3fb22?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Sat, 17 Dec 2022 00:19:04 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADFC44FE2EB44\u0022",
        "Last-Modified": "Sat, 17 Dec 2022 00:19:07 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srcd0336dac-7e36-4bf8-9b3b-ac3219a3fb22/6075c7e0-e0bd-4bed-a304-0320684a7175.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 17 Dec 2022 00:19:04 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "VGhpcyBpcyBzb21lIHRleHQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "lyFPYyJLwenMTaN3qtznxw==",
        "ETag": "\u00220x8DADFC44FEC950B\u0022",
        "Last-Modified": "Sat, 17 Dec 2022 00:19:07 GMT",
        "x-ms-content-crc64": "SqmNKeH10UQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/target8b829d34-3e22-4450-bb14-8f64436855b3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Sat, 17 Dec 2022 00:19:04 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADFC45011207A\u0022",
        "Last-Modified": "Sat, 17 Dec 2022 00:19:07 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/srcd0336dac-7e36-4bf8-9b3b-ac3219a3fb22?se=end\u0026sp=rl\u0026sv=2021-08-06\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target8b829d34-3e22-4450-bb14-8f64436855b3?se=end\u0026sp=wl\u0026sv=2021-08-06\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/25a3ac36-4bfd-4883-8dc6-12c381a1d6ee",
        "x-ms-region": "West US 2",
        "X-RequestId": "3bc8bc42-5146-40e8-998a-51dce3a25461"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/25a3ac36-4bfd-4883-8dc6-12c381a1d6ee",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022835C955E728593A8DD2ECA8E053C2A559D86673F67BF3D0FC14E8269E6A66BD9\u0022",
        "x-ms-region": "West US 2",
        "X-RequestId": "7fdfa49f-7ce2-4822-a4ce-87af378f8255"
      },
      "ResponseBody": {
        "id": "25a3ac36-4bfd-4883-8dc6-12c381a1d6ee",
        "createdDateTimeUtc": "2022-12-17T00:19:07.8625927Z",
        "lastActionDateTimeUtc": "2022-12-17T00:19:07.8886955Z",
        "status": "NotStarted",
        "summary": {
          "total": 1,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 1,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/25a3ac36-4bfd-4883-8dc6-12c381a1d6ee",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022835C955E728593A8DD2ECA8E053C2A559D86673F67BF3D0FC14E8269E6A66BD9\u0022",
        "[...]
