{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srcef8f5176-f948-4b5a-8955-36c1ce4047ec?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 11 Oct 2024 02:15:21 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE99A93102784\"",
        "Last-Modified": "Fri, 11 Oct 2024 02:15:28 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srcef8f5176-f948-4b5a-8955-36c1ce4047ec/3e286a9f-4cc4-4452-a4f7-276bc9d58f86.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 11 Oct 2024 02:15:28 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "VGhpcyBpcyBzb21lIHRleHQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "lyFPYyJLwenMTaN3qtznxw==",
        "ETag": "\"0x8DCE99A93228F2A\"",
        "Last-Modified": "Fri, 11 Oct 2024 02:15:28 GMT",
        "x-ms-content-crc64": "SqmNKeH10UQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/target93a92645-428d-468b-b8b7-7fcf69272f13?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 11 Oct 2024 02:15:28 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE99A96DD40AA\"",
        "Last-Modified": "Fri, 11 Oct 2024 02:15:34 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/target650f6905-3ff3-4ee7-afab-ac967122616c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 11 Oct 2024 02:15:35 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE99A9A9B9055\"",
        "Last-Modified": "Fri, 11 Oct 2024 02:15:40 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/srcef8f5176-f948-4b5a-8955-36c1ce4047ec",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target93a92645-428d-468b-b8b7-7fcf69272f13",
                "language": "es"
              },
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target650f6905-3ff3-4ee7-afab-ac967122616c",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/b7b1570b-1054-42bc-a2a3-da32da65f4af?api-version=2024-05-01",
        "x-ms-region": "West US",
        "X-RequestId": "6e8b1da4-9593-4bb1-a0be-6953040ff9db"
      },
      "ResponseBody": {
        "id": "b7b1570b-1054-42bc-a2a3-da32da65f4af",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/b7b1570b-1054-42bc-a2a3-da32da65f4af?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"25177E4406B1639DF0F822D8BA1A6BD4C11A9A472B4A09D721909285C6EC1EB5\"",
        "x-ms-region": "West US",
        "X-RequestId": "59afccb8-d0fd-4f05-860e-35b4215bd82a"
      },
      "ResponseBody": {
        "id": "b7b1570b-1054-42bc-a2a3-da32da65f4af",
        "createdDateTimeUtc": "2024-10-11T02:15:42.0005944Z",
        "lastActionDateTimeUtc": "2024-10-11T02:15:42.0005945Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/b7b1570b-1054-42bc-a2a3-da32da65f4af?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"DF64F2862CA608E2C389E77E15B1E7A38AEC45C7E350FE0627F5CC90DD61BF69\"",
 [...]
