{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src17348834-10d5-4c9c-b8a2-b3f6d45d5846?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 11 Oct 2024 01:26:40 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE993C53A668C\"",
        "Last-Modified": "Fri, 11 Oct 2024 01:26:45 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src17348834-10d5-4c9c-b8a2-b3f6d45d5846/de401858-074e-4b8e-921f-1e9bda0f8409.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 11 Oct 2024 01:26:46 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "VGhpcyBpcyB3cml0dGVuIGluIGVuZ2xpc2gu",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mYgA0QpY6baiB+xZp8Hk+A==",
        "ETag": "\"0x8DCE993C5507767\"",
        "Last-Modified": "Fri, 11 Oct 2024 01:26:45 GMT",
        "x-ms-content-crc64": "NB4xBtawP6g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src17348834-10d5-4c9c-b8a2-b3f6d45d5846/7dc816cd-c037-4764-9ebf-7967f73f1995.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 11 Oct 2024 01:26:46 GMT",
        "x-ms-[...]
