{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/srca93b74c4-fe38-4f19-8972-ac8ca39aa5f7",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target120490d0-fff7-4432-9c35-da60f0e49a0b",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/fd114620-7d5b-48eb-8181-df632afefb08?api-version=2024-05-01",
        "x-ms-region": "West US",
        "X-RequestId": "ba0ce702-6144-49e4-ad5e-cbd6a2bea061"
      },
      "ResponseBody": {
        "id": "fd114620-7d5b-48eb-8181-df632afefb08",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/fd114620-7d5b-48eb-8181-df632afefb08?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"08D933DC66970CA144267FA188FE3CCF9A99B59E39C6BDF5613CDB560D6920D2\"",
        "x-ms-region": "West US",
        "X-RequestId": "7bcefeb4-6b38-45ee-91a3-b3d595663b12"
      },
      "ResponseBody": {
        "id": "fd114620-7d5b-48eb-8181-df632afefb08",
        "createdDateTimeUtc": "2024-10-11T01:57:43.9226349Z",
        "lastActionDateTimeUtc": "2024-10-11T01:57:43.922635Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/fd114620-7d5b-48eb-8181-df632afefb08?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"08D933DC66970CA144267FA188FE3CCF9A99B59E39C6BDF5613CDB560D6920D2\"",
 [...]
