{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\"inputs\": [{\"source\": {\"sourceUrl\": \"https://redacted.blob.core.windows.net/srccbb54bc9-1f7a-44a6-90fc-d39f70547b5eSanitizedSanitizedSanitized&sr=cSanitized \"filter\": {}}, \"targets\": [{\"targetUrl\": \"https://redacted.blob.core.windows.net/target2fc2189b-97bb-474d-8458-367976c6e4afSanitizedSanitizedSanitized&sr=cSanitized \"language\": \"es\"}]}]}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/9d949040-4be9-4a9f-8b43-777857e10f6f?api-version=2024-05-01",
        "x-ms-region": "West US",
        "X-RequestId": "bc79b043-d65a-4c3a-928c-2727ce3d3a29"
      },
      "ResponseBody": {
        "id": "9d949040-4be9-4a9f-8b43-777857e10f6f",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/9d949040-4be9-4a9f-8b43-777857e10f6f?api-version=2024-05-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US",
        "X-RequestId": "ea1e75aa-5d93-49b7-8692-0fbdc1e70fe8"
      },
      "ResponseBody": {
        "id": "9d949040-4be9-4a9f-8b43-777857e10f6f",
        "createdDateTimeUtc": "2024-04-30T22:16:15.7476629Z",
        "lastActionDateTimeUtc": "2024-04-30T22:16:16.167307Z",
        "status": "Cancelling",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/9d949040-4be9-4a9f-8b43-777857e10f6f?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"4C47B84F1E01F9B388A1A28D341567E459872F3E19343F9F58075A6B6B6615AC\"",
        "x-ms-region": "West US",
        "X-RequestId": "cec25525-e821-405f-b482-d3ca2af0a246"
      },
      "ResponseBody": {
        "id": "9d949040-4be9-4a9f-8b43-777857e10f6f",
        "createdDateTimeUtc": "2024-04-30T22:16:15.7476629Z",
        "lastActionDateTimeUtc": "2024-04-30T22:16:16.167307Z",
        "status": "Cancelling",
        "summary": {
          "total": 0,
          "failed": 0,
        [...]
