{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src37f117b3-6b2d-42d7-9306-78fb97a7c92a?se=Sanitized&sp=rl&sv=Sanitized&sr=c&sig=Sanitized",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/targetbdd659c8-bf11-458c-8bf4-8ee9ee95eb0d?se=Sanitized&sp=wl&sv=Sanitized&sr=c&sig=Sanitized",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/7d83bcfe-1c28-4374-9844-48d574a3f571?api-version=2024-05-01",
        "x-ms-region": "West US",
        "X-RequestId": "bf0d427d-87b7-47ad-99d5-cd65bc42de14"
      },
      "ResponseBody": {
        "id": "7d83bcfe-1c28-4374-9844-48d574a3f571",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/7d83bcfe-1c28-4374-9844-48d574a3f571?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"90E55A655AEBB9F6205E1750E22305F457B8279568E072432A87EB08F69A77BD\"",
        "x-ms-region": "West US",
        "X-RequestId": "90259e2b-f1f5-42c8-9fbc-9c5d0de7b947"
      },
      "ResponseBody": {
        "id": "7d83bcfe-1c28-4374-9844-48d574a3f571",
        "createdDateTimeUtc": "2024-10-14T22:16:03.5596401Z",
        "lastActionDateTimeUtc": "2024-10-14T22:16:03.5596401Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/7d83bcfe-1c28-4374-9844-48d574a3f571?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"90E55A655AEBB9F6205E1750E22305F457B8279568E072432A87EB08F69A77BD\"",
 [...]
