{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/srca96287ab-c5c6-4500-bc47-4c2529e4b06a?se=end\u0026sp=rl\u0026sv=2021-08-06\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target8a851130-a81d-4d43-ba21-0cb3a8bbb1fd?se=end\u0026sp=wl\u0026sv=2021-08-06\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/379a2ec8-317c-4c3b-95fd-f970d73bff30",
        "x-ms-region": "West US 2",
        "X-RequestId": "da32f0f4-9399-4f71-b923-9ab49afdaec5"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/379a2ec8-317c-4c3b-95fd-f970d73bff30",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022216049F14E15E8E62E274DE815CE76B17C5181F4C9074BB802BCF204B91CADCB\u0022",
        "x-ms-region": "West US 2",
        "X-RequestId": "1a74b64b-d6ae-4804-9e94-25c1e7093f8a"
      },
      "ResponseBody": {
        "id": "379a2ec8-317c-4c3b-95fd-f970d73bff30",
        "createdDateTimeUtc": "2022-12-17T00:45:15.743616Z",
        "lastActionDateTimeUtc": "2022-12-17T00:45:15.7723714Z",
        "status": "NotStarted",
        "summary": {
          "total": 1,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 1,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/379a2ec8-317c-4c3b-95fd-f970d73bff30",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022216049F14E15E8E62E274DE815CE76B17C5181F4C9074BB802BCF204B91CADCB\u0022",
        "[...]
