{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src4ae3ee9a-1d5a-4c4a-8d38-31e4326ab6ca?se=end\u0026sp=rl\u0026sv=2021-08-06\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/targetc1e3c760-3364-4c70-a4d4-e7472875a0c9?se=end\u0026sp=wl\u0026sv=2021-08-06\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/08563c26-d792-46aa-a202-cc6bca7ad642",
        "x-ms-region": "West US 2",
        "X-RequestId": "56e523fe-df68-43ad-bf54-73d966fe3b07"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/08563c26-d792-46aa-a202-cc6bca7ad642",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225A43294C4B1030CD0CC8FDCEC54B7222B17D517177ECF354395273F78EB769E7\u0022",
        "x-ms-region": "West US 2",
        "X-RequestId": "4d17fdd2-1a31-4c94-91f9-088ef94e7344"
      },
      "ResponseBody": {
        "id": "08563c26-d792-46aa-a202-cc6bca7ad642",
        "createdDateTimeUtc": "2022-12-17T00:45:06.1421019Z",
        "lastActionDateTimeUtc": "2022-12-17T00:45:06.1729276Z",
        "status": "Failed",
        "error": {
          "code": "InvalidRequest",
          "message": "Target document file already exists.",
          "target": "Operation",
          "innerError": {
            "code": "TargetFileAlreadyExists",
            "message": "Target document file already exists."
          }
        },
        "summary": {
          "total": 1,
          "failed": 1,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/08563c26-d792-46aa-a202-cc6bca7ad642/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022BEA957A0C8D5B0ED4E384D8EB19800E1C5C597870D5F2F2A23B8E27539B632CA\u0022",
        "x-ms-region": "West US 2",
        "X-RequestId": "500ef0c1-e078-4693-a095-01cc73ca8e33"
      },
      "ResponseBody": {
        "value": [
          {
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src4ae3ee9a-1d5a-4c4a-8d38-31e4326ab6ca/document.txt",
            "lastActionDateTimeUtc": "2022-12-17T00:45:06.1727417Z",
            "status": "Failed",
            "to": "es",
            "error": {
              "code": "InvalidRequest",
              "message": "Target document file already exists.",
              "target": "Document",
              "innerError": {
                "code": "TargetFileAlreadyExists",
                "message": "Target document file already exists."
              }
            },
            "progress": 0,
            "id": "005d3b87-0000-0000-0000-000000000000",
            "characterCharged": 0
          }
        ]
      }
    }
  ],
  "Variables": {
    "source_container_name": "src4ae3ee9a-1d5a-4c4a-8d38-31e4326ab6ca",
    "target_container_name": "targetc1e3c760-3364-4c70-a4d4-e7472875a0c9"
  }
}
