{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/srcb5b6184d-7e83-4507-8dd2-a0bfc2ee6fab?se=end\u0026sp=rl\u0026sv=2021-08-06\u0026sr=c\u0026sig=fake_token_value",
              "filter": {
                "prefix": "kwargs"
              }
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/targete2a6a117-e06e-4b80-b48b-e2d77d1a80cf?se=end\u0026sp=wl\u0026sv=2021-08-06\u0026sr=c\u0026sig=fake_token_value",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/57142c67-f9ad-450c-9c0e-753501dac872",
        "x-ms-region": "West US 2",
        "X-RequestId": "2f349423-1b1a-44da-bfdd-75a496fd112d"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/57142c67-f9ad-450c-9c0e-753501dac872",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022EDCCEC53EB37ADDD65FF3B2AE623A9380454FF9C6A33AEFBB169297BCC65A0F2\u0022",
        "x-ms-region": "West US 2",
        "X-RequestId": "b311763d-6abf-4594-976e-d2d56174b37d"
      },
      "ResponseBody": {
        "id": "57142c67-f9ad-450c-9c0e-753501dac872",
        "createdDateTimeUtc": "2022-12-17T00:46:31.0980402Z",
        "lastActionDateTimeUtc": "2022-12-17T00:46:31.128901Z",
        "status": "NotStarted",
        "summary": {
          "total": 1,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 1,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/57142c67-f9ad-450c-9c0e-753501dac872",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "policy-id": "ResourceRateLimitBy1s",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "error": {
          "code": "429",
          "message": "Requests to the Returns the status for a document translation request Operation under Batch Document Translation API v1.0 have exceeded rate limit of your current TextTranslator S1 pricing tier. Please retry after 1 second. Please contact Azure support service if you would like to further increase the default rate limit."
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/57142c67-f9ad-450c-9c0e-753501dac872/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222EC218FBABF696D60FFFF54976965F7F7D0F2D2A3C508BADEEB2D8C6FA36DAEF\u0022",
        "x-ms-region": "West US 2",
        "X-RequestId": "73ba7e00-6657-410a-9e2e-a616b7210295"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/targete2a6a117-e06e-4b80-b48b-e2d77d1a80cf/kwargs6974358e-4723-47b0-b06c-23b57cf046db.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/srcb5b6184d-7e83-4507-8dd2-a0bfc2ee6fab/kwargs6974358e-4723-47b0-b06c-23b57cf046db.txt",
            "createdDateTimeUtc": "2022-12-17T00:46:34.0601695Z",
            "lastActionDateTimeUtc": "2022-12-17T00:46:38.2592143Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "005d3b90-0000-0000-0000-000000000000",
            "characterCharged": 11
          }
        ]
      }
    }
  ],
  "Variables": {
    "source_container_name": "srcb5b6184d-7e83-4507-8dd2-a0bfc2ee6fab",
    "target_container_name": "targete2a6a117-e06e-4b80-b48b-e2d77d1a80cf"
  }
}
