{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/srcfc493c33-d723-4234-9a3f-8ca971f69d3f?se=Sanitized&sp=rl&sv=Sanitized&sr=c&sig=Sanitized",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target93e58707-6776-484f-9590-27ed20ef4983?se=Sanitized&sp=wl&sv=Sanitized&sr=c&sig=Sanitized",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/266139b5-8d01-40da-b526-cec29647a8fe?api-version=2024-05-01",
        "x-ms-region": "West US",
        "X-RequestId": "e1908f63-a284-404c-8d35-971b31a0d6ce"
      },
      "ResponseBody": {
        "id": "266139b5-8d01-40da-b526-cec29647a8fe",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/266139b5-8d01-40da-b526-cec29647a8fe?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"BF9DC0168ACB4CD0ADD1F8F5F07E509B516A89C82CED62F8A4EFBC195D717B90\"",
        "x-ms-region": "West US",
        "X-RequestId": "95d70050-e9a8-4af3-ae28-937a443bdc07"
      },
      "ResponseBody": {
        "id": "266139b5-8d01-40da-b526-cec29647a8fe",
        "createdDateTimeUtc": "2024-10-15T00:33:34.6314277Z",
        "lastActionDateTimeUtc": "2024-10-15T00:33:34.6314277Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/266139b5-8d01-40da-b526-cec29647a8fe?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"BF9DC0168ACB4CD0ADD1F8F5F07E509B516A89C82CED62F8A4EFBC195D717B90\"",
 [...]
