{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srcc67a3c67-4572-430d-95bc-006bbfbe4e28?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 03 May 2024 22:22:10 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6BBF79F37F22\"",
        "Last-Modified": "Fri, 03 May 2024 22:22:10 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srcc67a3c67-4572-430d-95bc-006bbfbe4e28/xyzedacdf85-8c41-4827-859f-a99a5f16e75e.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 03 May 2024 22:22:10 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "VGhpcyBpcyBzb21lIHRleHQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "lyFPYyJLwenMTaN3qtznxw==",
        "ETag": "\"0x8DC6BBF79FBF0A3\"",
        "Last-Modified": "Fri, 03 May 2024 22:22:10 GMT",
        "x-ms-content-crc64": "SqmNKeH10UQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/target5e1bb222-b9a5-4dd5-a598-c975715e6d9d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 03 May 2024 22:22:11 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6BBF7A8BC785\"",
        "Last-Modified": "Fri, 03 May 2024 22:22:11 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\"inputs\": [{\"source\": {\"sourceUrl\": \"https://fakeendpoint.blob.core.windows.net/srcc67a3c67-4572-430d-95bc-006bbfbe4e28SanitizedSanitizedSanitized&sr=cSanitized \"filter\": {\"prefix\": \"xyz\"}}, \"targets\": [{\"targetUrl\": \"https://fakeendpoint.blob.core.windows.net/target5e1bb222-b9a5-4dd5-a598-c975715e6d9dSanitizedSanitizedSanitized&sr=cSanitized \"language\": \"es\"}]}]}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/dee39ddd-be50-4994-b54d-81b3d78dfc7f?api-version=2024-05-01",
        "x-ms-region": "West US",
        "X-RequestId": "c46bc418-bed6-42f3-b3b2-3cffcf000de3"
      },
      "ResponseBody": {
        "id": "dee39ddd-be50-4994-b54d-81b3d78dfc7f",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/dee39ddd-be50-4994-b54d-81b3d78dfc7f?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"68F9FBF94BA9C2F1B093F345C5EEDA3C4176C4F92F7840A5DFEEB389CCEA0167\"",
        "x-ms-region": "West US",
        "X-RequestId": "6cd24bfb-330f-4d12-8c2b-38a0a8f871a3"
      },
      "ResponseBody": {
        "id": "dee39ddd-be50-4994-b54d-81b3d78dfc7f",
        "createdDateTimeUtc": "2024-05-03T22:22:12.9916975Z",
        "lastActionDateTimeUtc": "2024-05-03T22:22:12.9916975Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/dee39ddd-be50-4994-b54d-81b3d78dfc7f?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"3E9DDB81B67677E520706A0363B4EF9D58F9D2A4C968BEA18C941AAB77FF7685\"",
 [...]
