{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\"inputs\": [{\"source\": {\"sourceUrl\": \"https://redacted.blob.core.windows.net/src3a105d44-7181-4d5d-86be-d1a00bd3a334SanitizedSanitizedSanitized&sr=cSanitized \"filter\": {}}, \"targets\": [{\"targetUrl\": \"https://redacted.blob.core.windows.net/targetfef0a01c-e1c3-429d-b98f-a801e35be3bfSanitizedSanitizedSanitized&sr=cSanitized \"language\": \"es\"}]}]}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/27efe47c-8764-4eb5-b78b-c6f27bc5dd58?api-version=2024-05-01",
        "x-ms-region": "West US",
        "X-RequestId": "2491b0b4-787f-4415-9f49-674fded76aad"
      },
      "ResponseBody": {
        "id": "27efe47c-8764-4eb5-b78b-c6f27bc5dd58",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/27efe47c-8764-4eb5-b78b-c6f27bc5dd58?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"95FF613757BD8D6E2D71ED63165A04D246AC4947582236FD2FCC325BCBBB15B4\"",
        "x-ms-region": "West US",
        "X-RequestId": "295ec603-f050-4272-a8db-96015d5861b5"
      },
      "ResponseBody": {
        "id": "27efe47c-8764-4eb5-b78b-c6f27bc5dd58",
        "createdDateTimeUtc": "2024-05-01T00:28:15.8644879Z",
        "lastActionDateTimeUtc": "2024-05-01T00:28:15.864488Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/27efe47c-8764-4eb5-b78b-c6f27bc5dd58?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"95FF613757BD8D6E2D71ED63165A04D246AC4947582236FD2FCC325BCBBB15B4\"",
 [...]
