{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/target0bfabfcd-a3b1-4f09-a24c-59e378709f43?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Sat, 17 Dec 2022 00:42:22 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADFC7917807B2\u0022",
        "Last-Modified": "Sat, 17 Dec 2022 00:42:25 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://idont.ex.ist",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target0bfabfcd-a3b1-4f09-a24c-59e378709f43?se=end\u0026sp=wl\u0026sv=2021-08-06\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/0be1356e-65f7-482d-b374-5921a8def1e9",
        "x-ms-region": "West US 2",
        "X-RequestId": "b3eadc38-b064-457b-aafc-782598d16f31"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/0be1356e-65f7-482d-b374-5921a8def1e9",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022D40043AC5E131F748FD64FFC5803B49B305F03480DB467ED3BB2DF782553D750\u0022",
        "x-ms-region": "West US 2",
        "X-RequestId": "96cf2641-64cd-4200-bf62-2c507f30bd0d"
      },
      "ResponseBody": {
        "id": "0be1356e-65f7-482d-b374-5921a8def1e9",
        "createdDateTimeUtc": "2022-12-17T00:42:26.019097Z",
        "lastActionDateTimeUtc": "2022-12-17T00:42:26.0401737Z",
        "status": "ValidationFailed",
        "error": {
          "code": "InvalidRequest",
          "message": "Cannot access source document location with the current permissions.",
          "target": "Operation",
          "innerError": {
            "code": "InvalidDocumentAccessLevel",
            "message": "Cannot access source document location with the current permissions."
          }
        },
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    }
  ],
  "Variables": {
    "target_container_name": "target0bfabfcd-a3b1-4f09-a24c-59e378709f43"
  }
}
