{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src22b35656-b197-428b-b3b6-e95412b7a73c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 11 Oct 2024 02:18:45 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE99B0BCC7BD5\"",
        "Last-Modified": "Fri, 11 Oct 2024 02:18:50 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src22b35656-b197-428b-b3b6-e95412b7a73c/2ce40c40-7077-40b3-92ef-95cb62c61213.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 11 Oct 2024 02:18:51 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "VGhpcyBpcyBzb21lIHRleHQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "lyFPYyJLwenMTaN3qtznxw==",
        "ETag": "\"0x8DCE99B0BDD2E93\"",
        "Last-Modified": "Fri, 11 Oct 2024 02:18:50 GMT",
        "x-ms-content-crc64": "SqmNKeH10UQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src22b35656-b197-428b-b3b6-e95412b7a73c",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://idont.ex.ist",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/b73330c9-9974-4b8c-9974-3ab77ee8b112?api-version=2024-05-01",
        "x-ms-region": "West US",
        "X-RequestId": "6fb0a7b3-c3aa-4939-bbd0-06f2edc6e4d2"
      },
      "ResponseBody": {
        "id": "b73330c9-9974-4b8c-9974-3ab77ee8b112",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/b73330c9-9974-4b8c-9974-3ab77ee8b112?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"D5B56F680B290B71E8C91FB0C6D0A6760ABCB0BE8D386A8DE030D21892713A8F\"",
        "x-ms-region": "West US",
        "X-RequestId": "8f15ea46-9db6-4378-ba7b-c9e4b18eaaf9"
      },
      "ResponseBody": {
        "id": "b73330c9-9974-4b8c-9974-3ab77ee8b112",
        "createdDateTimeUtc": "2024-10-11T02:18:51.9616301Z",
        "lastActionDateTimeUtc": "2024-10-11T02:18:51.9616302Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/b73330c9-9974-4b8c-9974-3ab77ee8b112?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"D5B56F680B290B71E8C91FB0C6D0A6760ABCB0BE8D386A8DE030D21892713A8F\"",
 [...]
