{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/srca7cdf4a0-8d1f-4da1-925c-356176bbd49b?se=Sanitized&sp=rl&sv=Sanitized&sr=c&sig=Sanitized",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/targetb0a39448-2eb9-4144-94df-2d90ebb083d9?se=Sanitized&sp=wl&sv=Sanitized&sr=c&sig=Sanitized",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/9619219f-8b04-4186-b257-985ddc2b29dd?api-version=2024-05-01",
        "x-ms-region": "West US",
        "X-RequestId": "e206cbff-d436-4999-986d-d66cb6c24778"
      },
      "ResponseBody": {
        "id": "9619219f-8b04-4186-b257-985ddc2b29dd",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/9619219f-8b04-4186-b257-985ddc2b29dd?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"361C15D5E799F13445EB6BD38586A4597982D41CFCE48B4A1C013760379037ED\"",
        "x-ms-region": "West US",
        "X-RequestId": "55791cb8-b442-4576-ac89-d6c51e9be1e5"
      },
      "ResponseBody": {
        "id": "9619219f-8b04-4186-b257-985ddc2b29dd",
        "createdDateTimeUtc": "2024-10-14T22:10:08.1971486Z",
        "lastActionDateTimeUtc": "2024-10-14T22:10:08.1971488Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/9619219f-8b04-4186-b257-985ddc2b29dd?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"361C15D5E799F13445EB6BD38586A4597982D41CFCE48B4A1C013760379037ED\"",
 [...]
