{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\"inputs\": [{\"source\": {\"sourceUrl\": \"https://fakeendpoint.blob.core.windows.net/srcd7b231ec-d48d-4bfa-9dd1-2169d597eac7SanitizedSanitizedSanitized&sr=cSanitized \"filter\": {}}, \"targets\": [{\"targetUrl\": \"https://fakeendpoint.blob.core.windows.net/target87a4a1c2-ad7b-4351-a02c-e15faacff055SanitizedSanitizedSanitized&sr=cSanitized \"language\": \"es\"}]}, {\"source\": {\"sourceUrl\": \"https://fakeendpoint.blob.core.windows.net/src25be0017-5f64-495c-926f-790b7c81ae44SanitizedSanitizedSanitized&sr=cSanitized \"filter\": {}}, \"targets\": [{\"targetUrl\": \"https://fakeendpoint.blob.core.windows.net/target87a4a1c2-ad7b-4351-a02c-e15faacff055SanitizedSanitizedSanitized&sr=cSanitized \"language\": \"fr\"}]}]}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/550891d8-24dc-4b0c-933c-10b00fd4c3bb?api-version=2024-05-01",
        "x-ms-region": "West US",
        "X-RequestId": "a13cb7b3-cad2-4dc3-8e66-f2a66ed43edc"
      },
      "ResponseBody": {
        "id": "550891d8-24dc-4b0c-933c-10b00fd4c3bb",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/550891d8-24dc-4b0c-933c-10b00fd4c3bb?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"BA1967F5E4CFD973F9DF49D4776190F26DDFB6FE9FA6D1DBFD177F3C358DEB68\"",
        "x-ms-region": "West US",
        "X-RequestId": "828d8f27-8b88-47f3-a5c8-2d4a62314636"
      },
      "ResponseBody": {
        "id": "550891d8-24dc-4b0c-933c-10b00fd4c3bb",
        "createdDateTimeUtc": "2024-05-03T22:16:40.7220397Z",
        "lastActionDateTimeUtc": "2024-05-03T22:16:40.7220398Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/550891d8-24dc-4b0c-933c-10b00fd4c3bb?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"BA1967F5E4CFD973F9DF49D4776190F26DDFB6FE9FA6D1DBFD177F3C358DEB68\"",
 [...]
