{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src92db8f20-5280-4c7c-820c-7c5cf0936c50?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Sat, 17 Dec 2022 00:42:08 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADFC7895C566A\u0022",
        "Last-Modified": "Sat, 17 Dec 2022 00:42:12 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src92db8f20-5280-4c7c-820c-7c5cf0936c50/b8b9f399-d526-4e98-b9c9-7bab88ae1638.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 17 Dec 2022 00:42:09 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "VGhpcyBpcyBzb21lIHRleHQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "lyFPYyJLwenMTaN3qtznxw==",
        "ETag": "\u00220x8DADFC78963C1E9\u0022",
        "Last-Modified": "Sat, 17 Dec 2022 00:42:12 GMT",
        "x-ms-content-crc64": "SqmNKeH10UQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/target8cc443a6-ce56-446b-bd8e-ac2f7ef92955?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Sat, 17 Dec 2022 00:42:09 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADFC7897CAAF9\u0022",
        "Last-Modified": "Sat, 17 Dec 2022 00:42:12 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src92db8f20-5280-4c7c-820c-7c5cf0936c50?se=end\u0026sp=rl\u0026sv=2021-08-06\u0026sr=c\u0026sig=fake_token_value",
              "filter": {
                "suffix": "txt"
              }
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target8cc443a6-ce56-446b-bd8e-ac2f7ef92955?se=end\u0026sp=wl\u0026sv=2021-08-06\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/b6ca9459-3484-49d7-9caa-a770f1732985",
        "x-ms-region": "West US 2",
        "X-RequestId": "97448933-fe0a-41bb-9ce0-8c9903e61958"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/b6ca9459-3484-49d7-9caa-a770f1732985",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022DE9BB6087F7C6B7B87FECC83702D64FE840D9DEAC7DBE812E310CD7E4814A79A\u0022",
        "x-ms-region": "West US 2",
        "X-RequestId": "2642e6b3-cf1d-413d-9d50-591376421e4f"
      },
      "ResponseBody": {
        "id": "b6ca9459-3484-49d7-9caa-a770f1732985",
        "createdDateTimeUtc": "2022-12-17T00:42:12.6251435Z",
        "lastActionDateTimeUtc": "2022-12-17T00:42:12.6507196Z",
        "status": "NotStarted",
        "summary": {
          "total": 1,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 1,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/b6ca9459-3484-49d7-9caa-a770f1732985",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "policy-id": "ResourceRateLimitBy1s",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "error": {
          "code": "429",
          "message": "Requests to the Returns the status for a document translation request Operation under Batch Document Translation API v1.0 have exceeded rate limit of your current TextTranslator S1 pricing tier. Please retry after 1 second. Please contact Azure support service if you would like to further increase the default rate limit."
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/b6ca9459-3484-49d7-9caa-a770f1732985/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002299BDE40E242C1383750E3BAE07E2A186E8FF287E46B503DD3894293210AB5DC5\u0022",
        "x-ms-region": "West US 2",
        "X-RequestId": "91bcdfc7-c716-4775-82f0-e866de61de7d"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target8cc443a6-ce56-446b-bd8e-ac2f7ef92955/b8b9f399-d526-4e98-b9c9-7bab88ae1638.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src92db8f20-5280-4c7c-820c-7c5cf0936c50/b8b9f399-d526-4e98-b9c9-7bab88ae1638.txt",
            "createdDateTimeUtc": "2022-12-17T00:42:17.1665773Z",
            "lastActionDateTimeUtc": "2022-12-17T00:42:24.0291712Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "005d3b70-0000-0000-0000-000000000000",
            "characterCharged": 17
          }
        ]
      }
    }
  ],
  "Variables": {
    "source_container_name": "src92db8f20-5280-4c7c-820c-7c5cf0936c50",
    "target_container_name": "target8cc443a6-ce56-446b-bd8e-ac2f7ef92955"
  }
}
