{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/formats?api-version=2024-05-01&type=glossary",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"0F5C15E12CF5BE1EBB90076BBAC4C9CFE49350B0FB9AF26D82E6B6EA0D167E80\"",
        "x-ms-region": "West US",
        "X-RequestId": "707214c3-6f97-489a-ae99-6f0e49a57606"
      },
      "ResponseBody": {
        "value": [
          {
            "format": "XLIFF",
            "fileExtensions": [
              ".xlf"
            ],
            "contentTypes": [
              "application/xliff+xml"
            ],
            "defaultVersion": "1.2",
            "versions": [
              "1.0",
              "1.1",
              "1.2"
            ]
          },
          {
            "format": "TSV",
            "fileExtensions": [
              ".tsv",
              ".tab"
            ],
            "contentTypes": [
              "text/tab-separated-values"
            ]
          },
          {
            "format": "CSV",
            "fileExtensions": [
              ".csv"
            ],
            "contentTypes": [
              "text/csv"
            ]
          }
        ]
      }
    }
  ],
  "Variables": {}
}
