{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/srcda722162-f625-41f0-bf3e-98e5e8b52a8f?se=Sanitized&sp=rl&sv=Sanitized&sr=c&sig=Sanitized"
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/targeta685a18e-cb82-46b2-8e25-0cf00d23c55b?se=Sanitized&sp=wl&sv=Sanitized&sr=c&sig=Sanitized",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/f696dbc6-0dd2-477d-bdb9-a4aa2c8f9ee6?api-version=2024-05-01",
        "x-ms-region": "West US",
        "X-RequestId": "6fc080dc-c322-4d02-9025-4b6a5bf2c182"
      },
      "ResponseBody": {
        "id": "f696dbc6-0dd2-477d-bdb9-a4aa2c8f9ee6",
        "status": "NotStarted"
      }
    }
  ],
  "Variables": {
    "source_container_name": "srcda722162-f625-41f0-bf3e-98e5e8b52a8f",
    "target_container_name": "targeta685a18e-cb82-46b2-8e25-0cf00d23c55b"
  }
}
