{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srcb2e8f796-aa52-4710-a650-b5c44efb740e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 11 Oct 2024 02:19:47 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE99B311913EB\"",
        "Last-Modified": "Fri, 11 Oct 2024 02:19:53 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srcb2e8f796-aa52-4710-a650-b5c44efb740e/ec1b691d-9a6c-420f-9158-05ab7bd505c2.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 11 Oct 2024 02:19:53 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DCE99B312E4DE9\"",
        "Last-Modified": "Fri, 11 Oct 2024 02:19:53 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/target2f24933c-4007-4652-b25f-e0f3e28fef0c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 11 Oct 2024 02:19:54 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE99B34E5D349\"",
        "Last-Modified": "Fri, 11 Oct 2024 02:19:59 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/srcb2e8f796-aa52-4710-a650-b5c44efb740e",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target2f24933c-4007-4652-b25f-e0f3e28fef0c",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/eeb0d0b5-2cf7-492b-ad32-d27e87a05e3d?api-version=2024-05-01",
        "x-ms-region": "West US",
        "X-RequestId": "c410447d-dee3-4eba-997c-f9692cc5ef56"
      },
      "ResponseBody": {
        "id": "eeb0d0b5-2cf7-492b-ad32-d27e87a05e3d",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/eeb0d0b5-2cf7-492b-ad32-d27e87a05e3d?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"9281D2341CC5DC4BAB8A6D837E7E1BC9A29A3A889E323B3A523363B47B6EBBF3\"",
        "x-ms-region": "West US",
        "X-RequestId": "7890b978-471d-455f-967a-3c3d23ce9ee6"
      },
      "ResponseBody": {
        "id": "eeb0d0b5-2cf7-492b-ad32-d27e87a05e3d",
        "createdDateTimeUtc": "2024-10-11T02:20:00.7774367Z",
        "lastActionDateTimeUtc": "2024-10-11T02:20:00.7774367Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/eeb0d0b5-2cf7-492b-ad32-d27e87a05e3d?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"9281D2341CC5DC4BAB8A6D837E7E1BC9A29A3A889E323B3A523363B47B6EBBF3\"",
 [...]
