{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/srcb428b502-cafa-4526-bb24-e7293f4ee3aa",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target83c109dd-2fb5-4aac-854c-b2fcba6616a9",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/bbffa314-705c-42d9-b7a4-e76f0779e585?api-version=2024-05-01",
        "x-ms-region": "West US",
        "X-RequestId": "0b6696d0-3207-42a2-8944-3502f6794ef8"
      },
      "ResponseBody": {
        "id": "bbffa314-705c-42d9-b7a4-e76f0779e585",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/bbffa314-705c-42d9-b7a4-e76f0779e585?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"F0F172A32EACFB448659967205B987669F7B23D5D01A3173E75D4BA993358B34\"",
        "x-ms-region": "West US",
        "X-RequestId": "471c3ab2-22d8-4997-af7a-063d9bd78f66"
      },
      "ResponseBody": {
        "id": "bbffa314-705c-42d9-b7a4-e76f0779e585",
        "createdDateTimeUtc": "2024-10-11T01:32:32.6450045Z",
        "lastActionDateTimeUtc": "2024-10-11T01:32:32.6450045Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/bbffa314-705c-42d9-b7a4-e76f0779e585?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"F0F172A32EACFB448659967205B987669F7B23D5D01A3173E75D4BA993358B34\"",
 [...]
