{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\"inputs\": [{\"source\": {\"sourceUrl\": \"https://redacted.blob.core.windows.net/src64d6fed3-e97c-4718-b855-663229ff8e01SanitizedSanitizedSanitized&sr=cSanitized \"filter\": {}}, \"targets\": [{\"targetUrl\": \"https://redacted.blob.core.windows.net/targetcb61ef6e-67a5-49ba-9583-f5216356f461SanitizedSanitizedSanitized&sr=cSanitized \"language\": \"es\"}]}]}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/0d2f9c7e-0617-49c1-b05e-83c1cb60cf93?api-version=2024-05-01",
        "x-ms-region": "West US",
        "X-RequestId": "42d56eec-50cf-41d1-9ebf-28d24b6b1500"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/0d2f9c7e-0617-49c1-b05e-83c1cb60cf93?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"6175F8AB7F78A41F046609D22E9C5C0FED8101FBB909D05F040D76CD3F8803CD\"",
        "x-ms-region": "West US",
        "X-RequestId": "a59d0e05-1918-4a77-9aa4-b1edd590c4c4"
      },
      "ResponseBody": {
        "id": "0d2f9c7e-0617-49c1-b05e-83c1cb60cf93",
        "createdDateTimeUtc": "2024-04-25T18:21:58.5885358Z",
        "lastActionDateTimeUtc": "2024-04-25T18:21:58.5885358Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/0d2f9c7e-0617-49c1-b05e-83c1cb60cf93?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"6175F8AB7F78A41F046609D22E9C5C0FED8101FBB909D05F040D76CD3F8803CD\"",
 [...]
