{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/srcd4ca5329-f090-4539-b517-137802a6be5a?se=end\u0026sp=rl\u0026sv=2021-08-06\u0026sr=c\u0026sig=fake_token_value",
              "filter": {
                "prefix": "xyz"
              }
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target5a16b854-e04f-4eb0-83fc-02b33d42e080?se=end\u0026sp=wl\u0026sv=2021-08-06\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/a7672d35-271d-4d97-8ff8-1c9db7f8413d",
        "x-ms-region": "West US 2",
        "X-RequestId": "925f3a9b-44d5-4d9c-a007-6bf29a0c696f"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/a7672d35-271d-4d97-8ff8-1c9db7f8413d",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022AE10241695068CA16107E4243BC9CBBCD9215AC51BA4953EFD6E956DE771BC9C\u0022",
        "x-ms-region": "West US 2",
        "X-RequestId": "7f2ce035-86bd-436c-8d8f-77959ff013ce"
      },
      "ResponseBody": {
        "id": "a7672d35-271d-4d97-8ff8-1c9db7f8413d",
        "createdDateTimeUtc": "2022-12-17T00:44:30.6879469Z",
        "lastActionDateTimeUtc": "2022-12-17T00:44:30.7254318Z",
        "status": "NotStarted",
        "summary": {
          "total": 1,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 1,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/a7672d35-271d-4d97-8ff8-1c9db7f8413d",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022AE10241695068CA16107E4243BC9CBBCD9215AC51BA4953EFD6E956DE771BC9C\u0022",
        "[...]
