{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srcee888ee1-4db7-45e3-b78b-764a0c015fe7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 15 Oct 2024 00:21:13 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCECAF46D6AC80\"",
        "Last-Modified": "Tue, 15 Oct 2024 00:21:13 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srcee888ee1-4db7-45e3-b78b-764a0c015fe7/72351057-4640-478d-b5f8-79d573738864.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 15 Oct 2024 00:21:14 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "aGVsbG8gd29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "XrY7u+Ae7tCTyyK7j1rNww==",
        "ETag": "\"0x8DCECAF46DDE75B\"",
        "Last-Modified": "Tue, 15 Oct 2024 00:21:13 GMT",
        "x-ms-content-crc64": "vo7q9sPVKY0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/targetef906004-cff9-4623-a0c8-276bc26afed5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 15 Oct 2024 00:21:14 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCECAF472CCA14\"",
        "Last-Modified": "Tue, 15 Oct 2024 00:21:13 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/target69dc6388-b942-42b9-960a-822f6ec7f349?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 15 Oct 2024 00:21:14 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCECAF476ED258\"",
        "Last-Modified": "Tue, 15 Oct 2024 00:21:14 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/srcee888ee1-4db7-45e3-b78b-764a0c015fe7?se=Sanitized&sp=rl&sv=Sanitized&sr=c&sig=Sanitized",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/targetef906004-cff9-4623-a0c8-276bc26afed5?se=Sanitized&sp=wl&sv=Sanitized&sr=c&sig=Sanitized",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/94e7fb51-94e9-49e4-a0f5-557e4765d213?api-version=2024-05-01",
        "x-ms-region": "West US",
        "X-RequestId": "0b99ad0e-93ef-4121-acf4-acca8fe97faa"
      },
      "ResponseBody": {
        "id": "94e7fb51-94e9-49e4-a0f5-557e4765d213",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/94e7fb51-94e9-49e4-a0f5-557e4765d213?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"74FD4AB570B9DDF74747181911F0E392D0F27FFC78D65F10952FC21E4A58438F\"",
        "x-ms-region": "West US",
        "X-RequestId": "9d19d6eb-b066-40c5-bb18-2084e5a77926"
      },
      "ResponseBody": {
        "id": "94e7fb51-94e9-49e4-a0f5-557e4765d213",
        "createdDateTimeUtc": "2024-10-15T00:21:15.6625226Z",
        "lastActionDateTimeUtc": "2024-10-15T00:21:15.6625227Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/94e7fb51-94e9-49e4-a0f5-557e4765d213?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"74FD4AB570B9DDF74747181911F0E392D0F27FFC78D65F10952FC21E4A58438F\"",
 [...]
