{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\"inputs\": [{\"source\": {\"sourceUrl\": \"https://fakeendpoint.blob.core.windows.net/src4b68685a-1b95-499f-81f3-21327b130c8fSanitizedSanitizedSanitized&sr=cSanitized \"filter\": {}}, \"targets\": [{\"targetUrl\": \"https://fakeendpoint.blob.core.windows.net/target36baaf4c-9f9a-4e46-9052-ebf85716448bSanitizedSanitizedSanitized&sr=cSanitized \"language\": \"es\"}]}]}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/5fcbfe42-cfd9-4c6c-87e2-7640b01cefbe?api-version=2024-05-01",
        "x-ms-region": "West US",
        "X-RequestId": "fbfbb574-b5a0-4a78-8623-bd1d99c3c0a3"
      },
      "ResponseBody": {
        "id": "5fcbfe42-cfd9-4c6c-87e2-7640b01cefbe",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/5fcbfe42-cfd9-4c6c-87e2-7640b01cefbe?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"1F151FDC475162E93E1CEA98490DAAD96E51945CC62BBC01EE6962340CF9A5EB\"",
        "x-ms-region": "West US",
        "X-RequestId": "6550fd5b-3f21-49a4-85ba-7754c1a985e3"
      },
      "ResponseBody": {
        "id": "5fcbfe42-cfd9-4c6c-87e2-7640b01cefbe",
        "createdDateTimeUtc": "2024-05-03T22:18:28.0448791Z",
        "lastActionDateTimeUtc": "2024-05-03T22:18:28.0448791Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/5fcbfe42-cfd9-4c6c-87e2-7640b01cefbe?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"FF60083EF8AC88C3DB57D0C1F4933EDBEE2D800DF949FDDAAD3624A016214376\"",
 [...]
