{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\"inputs\": [{\"source\": {\"sourceUrl\": \"https://redacted.blob.core.windows.net/src2a03711f-228e-4ff0-8036-92d33cb03cb2SanitizedSanitizedSanitized&sr=cSanitized \"filter\": {}}, \"targets\": [{\"targetUrl\": \"https://redacted.blob.core.windows.net/target9fa0093d-b90f-4f1c-80fa-618e0d3d0a8bSanitizedSanitizedSanitized&sr=cSanitized \"language\": \"es\"}]}]}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/fe423d43-be33-44c8-aad5-6a506ad44e2d?api-version=2024-05-01",
        "x-ms-region": "West US",
        "X-RequestId": "476e77bd-189b-4e98-a1c4-3428f3f52978"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/fe423d43-be33-44c8-aad5-6a506ad44e2d?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"601C17E3721166BA1A4DD3BA2590321DFB80EFBB675DBA221D22B1AA95F46DFE\"",
        "x-ms-region": "West US",
        "X-RequestId": "aecec49a-9a28-4ce1-b5ed-6e6aac496a24"
      },
      "ResponseBody": {
        "id": "fe423d43-be33-44c8-aad5-6a506ad44e2d",
        "createdDateTimeUtc": "2024-04-25T18:04:00.1735066Z",
        "lastActionDateTimeUtc": "2024-04-25T18:04:00.1735067Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/fe423d43-be33-44c8-aad5-6a506ad44e2d?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"601C17E3721166BA1A4DD3BA2590321DFB80EFBB675DBA221D22B1AA95F46DFE\"",
 [...]
