{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.HybridCompute/machines/AWP-AzRael-01/providers/Microsoft.HybridConnectivity/endpoints/default?api-version=2023-03-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "default"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022650193b9-0000-0100-0000-64eee57e0000\u0022",
        "mise-correlation-id": "1e0e9e3e-f14a-4904-bf55-09b28a7a5e1d",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.HybridCompute/machines/AWP-AzRael-01/providers/Microsoft.HybridConnectivity/endpoints/default",
        "name": "default",
        "type": "microsoft.hybridconnectivity/endpoints",
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2023-08-30T06:44:40.3378911Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-30T06:45:17.5944209Z"
        },
        "properties": {
          "type": "default",
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {}
}
