{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.HybridCompute/machines/AWP-AzRael-01/providers/Microsoft.HybridConnectivity/endpoints/default?api-version=2023-03-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "default"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00226a0186eb-0000-0100-0000-64ef01eb0000\u0022",
        "mise-correlation-id": "69cf9128-6f74-4f33-bc63-e4216e1051ac",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.HybridCompute/machines/AWP-AzRael-01/providers/Microsoft.HybridConnectivity/endpoints/default",
        "name": "default",
        "type": "microsoft.hybridconnectivity/endpoints",
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2023-08-30T08:46:33.9874926Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-30T08:46:33.9874926Z"
        },
        "properties": {
          "type": "default",
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {}
}
