{
  "Entries": [
    {
      "RequestUri": "https://fakeresource.westus2-1.eventgrid.azure.net/api/events/topics/testtopic1/eventsubscriptions/testsubscription1:release?api-version=2023-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "RequestBody": {
        "lockTokens": [
          "faketoken"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "succeededLockTokens": [],
        "failedLockTokens": [
          {
            "lockToken": "faketoken",
            "errorCode": "BadToken",
            "errorDescription": "Cannot decode lockToken"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
