{
  "Entries": [
    {
      "RequestUri": "https://fakeresource.eastus-1.eventgrid.azure.net/api/events/topics/sanitized:publish?api-version=2023-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/cloudevents-batch\u002Bjson; charset=utf-8"
      },
      "RequestBody": "[{\u0022id\u0022:\u0022id\u0022,\u0022source\u0022:\u0022source\u0022,\u0022type\u0022:\u0022Contoso.Items.ItemReceived\u0022,\u0022specversion\u0022:\u00221.0\u0022,\u0022time\u0022:\u00222023-07-26T16:04:24.250775Z\u0022,\u0022subject\u0022:\u0022MySubject\u0022,\u0022data_base64\u0022:\u0022ZEdocGN5QnBjeUJpYVc1aGNua2daR0YwWVE9PQ==\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://fakeresource.eastus-1.eventgrid.azure.net/api/events/topics/sanitized/eventsubscriptions/sanitized:receive?api-version=2023-06-01-preview\u0026maxEvents=1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "brokerProperties": {
              "lockToken": "CiYKJDY1MDI5NjczLTQ4QUUtNDA5Ri1CMDE3LUYxNjQyNjg4QjNEQxISChDxNAgIxhFOM5chP5ZjgJlo",
              "deliveryCount": 1
            },
            "event": {
              "type": "Contoso.Items.ItemReceived",
              "source": "source",
              "time": "2023-07-26T16:04:24.250775Z",
              "id": "id",
              "subject": "MySubject",
              "specversion": "1.0",
              "data_base64": "ZEdocGN5QnBjeUJpYVc1aGNua2daR0YwWVE9PQ=="
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeresource.eastus-1.eventgrid.azure.net/api/events/topics/sanitized/eventsubscriptions/sanitized:release?api-version=2023-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "RequestBody": {
        "lockTokens": [
          "CiYKJDY1MDI5NjczLTQ4QUUtNDA5Ri1CMDE3LUYxNjQyNjg4QjNEQxISChDxNAgIxhFOM5chP5ZjgJlo"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "succeededLockTokens": [
          "CiYKJDY1MDI5NjczLTQ4QUUtNDA5Ri1CMDE3LUYxNjQyNjg4QjNEQxISChDxNAgIxhFOM5chP5ZjgJlo"
        ],
        "failedLockTokens": []
      }
    },
    {
      "RequestUri": "https://fakeresource.eastus-1.eventgrid.azure.net/api/events/topics/sanitized/eventsubscriptions/sanitized:receive?api-version=2023-06-01-preview\u0026maxEvents=1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "brokerProperties": {
              "lockToken": "CiYKJDY1MDI5NjczLTQ4QUUtNDA5Ri1CMDE3LUYxNjQyNjg4QjNEQxISChCh9UTzkvZO06nIX\u002BFJWVI0",
              "deliveryCount": 2
            },
            "event": {
              "type": "Contoso.Items.ItemReceived",
              "source": "source",
              "time": "2023-07-26T16:04:24.250775Z",
              "id": "id",
              "subject": "MySubject",
              "specversion": "1.0",
              "data_base64": "ZEdocGN5QnBjeUJpYVc1aGNua2daR0YwWVE9PQ=="
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
