{
  "Entries": [
    {
      "RequestUri": "https://fakeresource.centraluseuap-1.eventgrid.azure.net/api/events/topics/faketopic/eventsubscriptions/fakesub:receive?api-version=2023-10-01-preview\u0026maxEvents=-20",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "broker-errorcode": "BadRequest",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "Error parsing query parameters",
          "timestamp_utc": "2023-11-03T21:36:29.753049951\u002B00:00",
          "tracking_id": "94A0521B-C0F0-4E19-B82A-E5302A145A36"
        }
      }
    }
  ],
  "Variables": {}
}
