{
  "Entries": [
    {
      "RequestUri": "https://fakeresource.eastus-1.eventgrid.azure.net/api/events/topics/faketopic:publish?api-version=2023-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/cloudevents-batch\u002Bjson; charset=utf-8"
      },
      "RequestBody": "[{\u0022type\u0022:\u0022Contoso.Items.ItemReceived\u0022,\u0022specversion\u0022:\u00221.0\u0022,\u0022id\u0022:\u0022id\u0022,\u0022data\u0022:\u0022{\u0027itemSku\u0027: \u0027Contoso Item SKU #1\u0027}\u0022,\u0022subject\u0022:\u0022MySubject\u0022,\u0022time\u0022:\u00222023-11-05 19:19:06.420904\u002B00:00\u0022}]",
      "StatusCode": 400,
      "ResponseHeaders": {
        "broker-errorcode": "BadRequest",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "\u0060source\u0060 attribute is required",
          "timestamp_utc": "2023-11-05T19:19:06.512189763\u002B00:00",
          "tracking_id": "B3E9E954-0455-46D3-80AE-6E0906F49397"
        }
      }
    }
  ],
  "Variables": {}
}
