{
  "Entries": [
    {
      "RequestUri": "https://fakeresource.eastus-1.eventgrid.azure.net/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "RequestBody": "[{\u0022id\u0022:\u0022id\u0022,\u0022subject\u0022:\u0022sample\u0022,\u0022data\u0022:{\u0022sample\u0022:\u0022eventgridevent\u0022},\u0022eventType\u0022:\u0022Sample.EventGrid.Event\u0022,\u0022eventTime\u0022:\u00222023-10-04T22:12:45.918661Z\u0022,\u0022dataVersion\u0022:\u00222.0\u0022}]",
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "The request authorization key is not authorized for sanitized.eastus-1.eventgrid.azure.net. This is due to the reason: Invalid length for a Base-64 char array or string. Report \u002749e9a3b4-9c1a-4126-9e62-3525f28bdf23:1:10/4/2023 10:12:47 PM (UTC)\u0027 to our forums for assistance or raise a support ticket.",
          "details": [
            {
              "code": "Unauthorized",
              "message": "The request authorization key is not authorized for sanitized.eastus-1.eventgrid.azure.net. This is due to the reason: Invalid length for a Base-64 char array or string. Report \u002749e9a3b4-9c1a-4126-9e62-3525f28bdf23:1:10/4/2023 10:12:47 PM (UTC)\u0027 to our forums for assistance or raise a support ticket."
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
