{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus-1.eventgrid.azure.net/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/cloudevents-batch+json; charset=utf-8"
      },
      "RequestBody": "[{\"specversion\":\"1.0\",\"id\":\"id\",\"source\":\"Sanitized\",\"type\":\"com.example.sampletype1\",\"time\":\"2024-05-23T22:06:26.049326+00:00\",\"data_base64\":\"aGVsbG8gd29ybGQ=\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2018-01-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
