{
  "Entries": [
    {
      "RequestUri": "https://fakeresource.eastus-1.eventgrid.azure.net/api/events/topics/faketopic/eventsubscriptions/fakesub:receive?api-version=2023-06-01-preview\u0026maxWaitTime=121",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "broker-errorcode": "ArgumentInvalid",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "ArgumentInvalid",
          "message": "Invalid maxWaitTime parameter",
          "timestamp_utc": "2023-10-04T22:12:04.177140784\u002B00:00",
          "tracking_id": "57BD0775-AC7B-44A2-8DE0-8A6338062427"
        }
      }
    }
  ],
  "Variables": {}
}
