{
  "Entries": [
    {
      "RequestUri": "https://fakeresource.eastus-1.eventgrid.azure.net/api/events/topics/faketopic/eventsubscriptions/fakesub:receive?api-version=2023-10-01-preview\u0026maxWaitTime=-20",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "broker-errorcode": "BadRequest",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "Error parsing query parameters",
          "timestamp_utc": "2023-11-05T19:19:09.361329158\u002B00:00",
          "tracking_id": "2A25F277-4C9E-4AB4-97C3-04DAE46BA57F"
        }
      }
    }
  ],
  "Variables": {}
}
