{
  "Entries": [
    {
      "RequestUri": "https://fakeresource.centraluseuap-1.eventgrid.azure.net/api/events/topics/faketopic/eventsubscriptions/fakesub:acknowledge?api-version=2023-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lockTokens": [
          "faketoken"
        ]
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "broker-errorcode": "NotFound",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "Topic \u0027faketopic\u0027 is not found",
          "timestamp_utc": "2023-11-05T16:19:53.780908013\u002B00:00",
          "tracking_id": "493BFE0A-5094-4193-BD75-EE2DBC7C9714"
        }
      }
    }
  ],
  "Variables": {}
}
