{
  "Entries": [
    {
      "RequestUri": "https://fakeresource.eastus-1.eventgrid.azure.net/api/events/topics/faketopic/eventsubscriptions/fakesub:receive?api-version=2023-10-01-preview\u0026maxEvents=-20",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "broker-errorcode": "BadRequest",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "Error parsing query parameters",
          "timestamp_utc": "2023-11-05T19:19:08.587750135\u002B00:00",
          "tracking_id": "153B52F1-FB61-453D-B3CA-3E81A12B0B67"
        }
      }
    }
  ],
  "Variables": {}
}
