{
  "Entries": [
    {
      "RequestUri": "https://fakeresource.eastus-1.eventgrid.azure.net/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "RequestBody": "[{\u0022id\u0022:\u0022id\u0022,\u0022subject\u0022:\u0022sample\u0022,\u0022data\u0022:{\u0022sample\u0022:\u0022eventgridevent\u0022},\u0022eventType\u0022:\u0022Sample.EventGrid.Event\u0022,\u0022eventTime\u0022:\u00222023-06-16T16:21:01.354998Z\u0022,\u0022dataVersion\u0022:\u00222.0\u0022}]",
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "The request authorization key is not authorized for LLAWTOPIC.EASTUS-1.EVENTGRID.AZURE.NET. This is due to the reason: Invalid length for a Base-64 char array or string. Report \u002779a0408c-a943-4fba-ad77-cf168ac783a0:0:6/16/2023 4:21:01 PM (UTC)\u0027 to our forums for assistance or raise a support ticket.",
          "details": [
            {
              "code": "Unauthorized",
              "message": "The request authorization key is not authorized for LLAWTOPIC.EASTUS-1.EVENTGRID.AZURE.NET. This is due to the reason: Invalid length for a Base-64 char array or string. Report \u002779a0408c-a943-4fba-ad77-cf168ac783a0:0:6/16/2023 4:21:01 PM (UTC)\u0027 to our forums for assistance or raise a support ticket."
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
