{
  "Entries": [
    {
      "RequestUri": "https://fakeresource.eastus-1.eventgrid.azure.net/api/events/topics/faketopic/eventsubscriptions/fakesub:receive?api-version=2023-06-01-preview\u0026maxWaitTime=9",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "broker-errorcode": "ArgumentInvalid",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "ArgumentInvalid",
          "message": "Invalid maxWaitTime parameter",
          "timestamp_utc": "2023-08-22T20:48:54.461642944\u002B00:00",
          "tracking_id": "C5EF19B3-2EF2-4557-B581-48C47293FC04"
        }
      }
    }
  ],
  "Variables": {}
}
