{
  "Entries": [
    {
      "RequestUri": "https://fakeresource.eastus-1.eventgrid.azure.net/api/events/topics/faketopic:publish?api-version=2023-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "ce-id": "c2021d7f-f137-40b5-868f-ed6513885d66",
        "ce-source": "source",
        "ce-specversion": "1.0",
        "ce-subject": "MySubject",
        "ce-time": "2023-11-05 19:19:05.207313\u002B00:00",
        "ce-type": "Contoso.Items.ItemReceived",
        "Content-Type": "text/plain"
      },
      "RequestBody": "hello",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://fakeresource.eastus-1.eventgrid.azure.net/api/events/topics/faketopic/eventsubscriptions/fakesub:receive?api-version=2023-10-01-preview\u0026maxEvents=1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "brokerProperties": {
              "lockToken": "CiYKJEY2RjAxNzY0LURGQzUtNDA2OC04MjRDLTRCNzYzMENCMEIzMhISChD3PEFVoClFBKHZHwEeTiLf",
              "deliveryCount": 1
            },
            "event": {
              "specversion": "1.0",
              "subject": "MySubject",
              "time": "2023-11-05T19:19:05.207313Z",
              "id": "id",
              "source": "source",
              "datacontenttype": "text/plain",
              "type": "Contoso.Items.ItemReceived",
              "data": "hello"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeresource.eastus-1.eventgrid.azure.net/api/events/topics/faketopic/eventsubscriptions/fakesub:reject?api-version=2023-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lockTokens": [
          "CiYKJEY2RjAxNzY0LURGQzUtNDA2OC04MjRDLTRCNzYzMENCMEIzMhISChD3PEFVoClFBKHZHwEeTiLf"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "succeededLockTokens": [
          "CiYKJEY2RjAxNzY0LURGQzUtNDA2OC04MjRDLTRCNzYzMENCMEIzMhISChD3PEFVoClFBKHZHwEeTiLf"
        ],
        "failedLockTokens": []
      }
    }
  ],
  "Variables": {}
}
