{
  "Entries": [
    {
      "RequestUri": "https://fakeresource.eastus-1.eventgrid.azure.net/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/cloudevents-batch\u002Bjson; charset=utf-8"
      },
      "RequestBody": "[{\u0022specversion\u0022:\u00221.0\u0022,\u0022id\u0022:\u0022id\u0022,\u0022source\u0022:\u0022https://example.com/event-producer\u0022,\u0022type\u0022:\u0022com.example.sampletype1\u0022,\u0022time\u0022:\u00222023-11-03T17:34:22.740663\u002B00:00\u0022,\u0022data_base64\u0022:\u0022aGVsbG8gd29ybGQ=\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2018-01-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
