{
  "Entries": [
    {
      "RequestUri": "https://fakeresource.eastus-1.eventgrid.azure.net/api/events/topics/faketopic/eventsubscriptions/fakesub:release?api-version=2023-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "RequestBody": {
        "lockTokens": [
          "faketoken"
        ]
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "broker-errorcode": "NotFound",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "Topic \u0027faketopic\u0027 is not found",
          "timestamp_utc": "2023-08-22T20:48:55.487524324\u002B00:00",
          "tracking_id": "D95DD964-8640-4F7F-8D44-0B6C7BE85FE4"
        }
      }
    }
  ],
  "Variables": {}
}
