{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.westus-1.eventgrid.net/api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Aeg-Sas-Key": "Sanitized",
        "Content-Type": "application/cloudevents-batch+json; charset=utf-8"
      },
      "RequestBody": "[{\"data\":{\"hello\":\"world\"},\"id\":\"11111111-1111-1111-1111-111111111111\",\"source\":\"Sanitized\",\"specversion\":\"1.0\",\"time\":\"2024-01-01T01:01:01.111111111Z\",\"type\":\"eventType\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2018-01-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
