{
  "Entries": [
    {
      "RequestUri": "https://fakeEndpoint.cognitive.microsofttranslator.com/dictionary/lookup?to=es\u0026from=en\u0026api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8",
        "ocp-apim-subscription-key": "fakeapikey",
        "ocp-apim-subscription-region": "fakeregion"
      },
      "RequestBody": "[{\u0022text\u0022:\u0022fly\u0022},{\u0022text\u0022:\u0022fox\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Metered-Usage": "6",
        "X-RequestId": "cc7e48fa-fd67-4af4-b8a1-b5a00a64a7f4.USW2.0401T2311"
      },
      "ResponseBody": "[{\u0022normalizedSource\u0022:\u0022fly\u0022,\u0022displaySource\u0022:\u0022fly\u0022,\u0022translations\u0022:[{\u0022normalizedTarget\u0022:\u0022volar\u0022,\u0022displayTarget\u0022:\u0022volar\u0022,\u0022posTag\u0022:\u0022VERB\u0022,\u0022confidence\u0022:0.4081,\u0022prefixWord\u0022:\u0022\u0022,\u0022backTranslations\u0022:[{\u0022normalizedText\u0022:\u0022fly\u0022,\u0022displayText\u0022:\u0022fly\u0022,\u0022numExamples\u0022:15,\u0022frequencyCount\u0022:4637},{\u0022normaliz[...]
