{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/datasets/nirovinsdataset-f08714aa/versions/9.0/startPendingUpload?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "connectionName": "nirovinswestus8660517702",
        "pendingUploadType": "BlobReference"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "8284d044-98e8-44b8-8188-6bd25d58fe83",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "0.248"
      },
      "ResponseBody": {
        "blobReference": {
          "blobUri": "https://nirovinswestus8660517702.blob.core.windows.net:443/rovins-swe-dc3ef602-5574-5309-b01f-90f22d834cf1",
          "storageAccountArmId": "/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.Storage/storageAccounts/nirovinswestus8660517702",
          "credential": {
            "type": "SAS",
            "credentialType": "SAS",
            "sasUri": "https://nirovinswestus8660517702.blob.core.windows.net/rovins-swe-dc3ef602-5574-5309-b01f-90f22d834cf1?sv=Sanitized&st=2025-12-18T04%3A20%3A41Z&se=2025-12-18T12%3A30%3A41Z&sr=c&sp=rcwl&sig=Sanitized"
          }
        },
        "blobReferenceForConsumption": {
          "blobUri": "https://nirovinswestus8660517702.blob.core.windows.net:443/rovins-swe-dc3ef602-5574-5309-b01f-90f22d834cf1",
          "storageAccountArmId": "/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.Storage/storageAccounts/nirovinswestus8660517702",
          "credential": {
            "type": "SAS",
            "credentialType": "SAS",
            "sasUri": "https://nirovinswestus8660517702.blob.core.windows.net/rovins-swe-dc3ef602-5574-5309-b01f-90f22d834cf1?sv=Sanitized&st=2025-12-18T04%3A20%3A41Z&se=2025-12-18T12%3A30%3A41Z&sr=c&sp=rcwl&sig=Sanitized"
          }
        },
        "pendingUploadId": null,
        "pendingUploadType": "BlobReference",
        "version": "9.0"
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/datasets/nirovinsdataset-f08714aa/versions/9.0?api-version=2025-11-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "dataUri": "https://nirovinswestus8660517702.blob.core.windows.net/rovins-swe-dc3ef602-5574-5309-b01f-90f22d834cf1/product_info_1.md",
        "type": "uri_file"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-02",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "043c8194-ff54-4bb6-a5b1-f5e045d362fe",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "3.413"
      },
      "ResponseBody": {
        "id": "azureai://accounts/sanitized-account/projects/sanitized-project/data/nirovinsdataset-f08714aa/versions/9.0",
        "name": "nirovinsdataset-f08714aa",
        "version": "9.0",
        "displayName": "nirovinsdataset-f08714aa",
        "description": null,
        "tags": {},
        "type": "uri_file",
        "isReference": false,
        "dataUri": "https://nirovinswestus8660517702.blob.core.windows.net/rovins-swe-dc3ef602-5574-5309-b01f-90f22d834cf1/product_info_1.md",
        "isSingleFile": false,
        "connectionName": null,
        "systemData": {
          "createdAt": "2025-12-18T04:30:45.4245524+00:00",
          "createdBy": "Sanitized",
          "createdByType": null,
          "lastModifiedAt": "2025-12-18T04:30:45.4245524+00:00"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/datasets/nirovinsdataset-f08714aa/versions/9.0/credentials?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/datasets/nirovinsdataset-f08714aa/versions?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "e88e7c75-ebfb-4231-af61-dc6ecd760813",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "0.071"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "azureai://accounts/sanitized-account/projects/sanitized-project/data/nirovinsdataset-f08714aa/versions/9.01",
            "name": "nirovinsdataset-f08714aa",
            "version": "9.01",
            "displayName": "nirovinsdataset-f08714aa",
            "description": null,
            "tags": {},
            "type": "uri_file",
            "isReference": false,
            "dataUri": "https://nirovinswestus8660517702.blob.core.windows.net/rovins-swe-b89eec5e-[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/datasets?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d1029ad1-fa6d-44c6-[...]
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/datasets/nirovinsdataset-f08714aa/versions/9.0?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a89e7777-c413-4e91-bb1d-e52191694144",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "error",
        "x-request-time": "0.050"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "severity": null,
          "message": "Could not find asset with ID: azureai://accounts/rovins-sweden/projects/swedenProject/data/nirovinsdataset-f08714aa/versions/9.0",
          "messageFormat": null,
          "messageParameters": null,
          "referenceCode": null,
          "detailsUri": null,
          "target": null,
          "details": [],
          "innerError": {
            "code": "NotFoundError",
            "innerError": null
          },
          "debugInfo": null,
          "additionalInfo": null
        },
        "correlation": {
          "operation": "22e7f6eaf3245de0f7653283356faa47",
          "request": "4a427256347191b7"
        },
        "environment": "swedencentral",
        "location": "swedencentral",
        "time": "2025-12-18T04:31:22.3850481+00:00",
        "componentName": "dataset",
        "statusCode": 404
      }
    }
  ],
  "Variables": {
    "DATASET_NAME": "nirovinsdataset",
    "DATASET_VERSION_1": "9.0",
    "PROJECT_ENDPOINT": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project",
    "SAMPLE_FILE_PATH": "C:\\Users\\nirovins\\eclipse-workspace\\azure-sdk-for-net\\sdk\\ai\\Azure.AI.Agents.Persistent\\tests\\Samples\\product_info_1.md",
    "STORAGE_CONNECTION_NAME": "nirovinswestus8660517702"
  }
}
