{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/datasets/nirovinsdataset-623621a9/versions/9.0?api-version=2025-11-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-02",
        "mise-correlation-id": "f5f8cbc5-1133-4462-a28b-1dc328c0e108",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "1.304"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/datasets/nirovinsdataset-623621a9/versions/9.0/startPendingUpload?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "connectionName": "nirovinswestus8660517702",
        "pendingUploadType": "BlobReference"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-02",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b3aa7a1d-6cf7-46b2-b129-7cf3792333cf",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "0.903"
      },
      "ResponseBody": {
        "blobReference": {
          "blobUri": "https://nirovinswestus8660517702.blob.core.windows.net:443/rovins-swe-dad25c87-f43b-5fb6-8c23-674a5da8c158",
          "storageAccountArmId": "/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.Storage/storageAccounts/nirovinswestus8660517702",
          "credential": {
            "type": "SAS",
            "credentialType": "SAS",
            "sasUri": "https://nirovinswestus8660517702.blob.core.windows.net/rovins-swe-dad25c87-f43b-5fb6-8c23-674a5da8c158?sv=Sanitized&st=2025-12-18T18%3A18%3A52Z&se=2025-12-19T02%3A28%3A52Z&sr=c&sp=rcwl&sig=Sanitized"
          }
        },
        "blobReferenceForConsumption": {
          "blobUri": "https://nirovinswestus8660517702.blob.core.windows.net:443/rovins-swe-dad25c87-f43b-5fb6-8c23-674a5da8c158",
          "storageAccountArmId": "/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.Storage/storageAccounts/nirovinswestus8660517702",
          "credential": {
            "type": "SAS",
            "credentialType": "SAS",
            "sasUri": "https://nirovinswestus8660517702.blob.core.windows.net/rovins-swe-dad25c87-f43b-5fb6-8c23-674a5da8c158?sv=Sanitized&st=2025-12-18T18%3A18%3A52Z&se=2025-12-19T02%3A28%3A52Z&sr=c&sp=rcwl&sig=Sanitized"
          }
        },
        "pendingUploadId": null,
        "pendingUploadType": "BlobReference",
        "version": "9.0"
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/datasets/nirovinsdataset-623621a9/versions/9.0?api-version=2025-11-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "dataUri": "https://nirovinswestus8660517702.blob.core.windows.net/rovins-swe-dad25c87-f43b-5fb6-8c23-674a5da8c158/sample_file_for_upload.txt",
        "type": "uri_file"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-02",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "2f303943-c720-4284-add2-98791f97a92b",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "2.798"
      },
      "ResponseBody": {
        "id": "azureai://accounts/sanitized-account/projects/sanitized-project/data/nirovinsdataset-623621a9/versions/9.0",
        "name": "nirovinsdataset-623621a9",
        "version": "9.0",
        "displayName": "nirovinsdataset-623621a9",
        "description": null,
        "tags": {},
        "type": "uri_file",
        "isReference": false,
        "dataUri": "https://nirovinswestus8660517702.blob.core.windows.net/rovins-swe-dad25c87-f43b-5fb6-8c23-674a5da8c158/sample_file_for_upload.txt",
        "isSingleFile": false,
        "connectionName": null,
        "systemData": {
          "createdAt": "2025-12-18T18:28:56.9826576+00:00",
          "createdBy": "Sanitized",
          "createdByType": null,
          "lastModifiedAt": "2025-12-18T18:28:56.9826576+00:00"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/datasets/nirovinsdataset-623621a9/versions/9.0/credentials?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/datasets/nirovinsdataset-623621a9/versions?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "637e0b15-9b8b-4d19-8d00-641232363e97",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "0.112"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "azureai://accounts/sanitized-account/projects/sanitized-project/data/nirovinsdataset-623621a9/versions/9.01",
            "name": "nirovinsdataset-623621a9",
            "version": "9.01",
            "displayName": "nirovinsdataset-623621a9",
            "description": null,
            "tags": {},
            "type": "uri_file",
            "isReference": false,
            "dataUri": "https://nirovinswestus8660517702.blob.core.windows.net/rovins-swe-a9314505-[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/datasets?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "5d267357-9dc2-4375-[...]
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/datasets/nirovinsdataset-623621a9/versions/9.0?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "ddbd8130-0636-4f86-b8e4-2420d5c6765b",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "error",
        "x-request-time": "0.048"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "severity": null,
          "message": "Could not find asset with ID: azureai://accounts/rovins-sweden/projects/swedenProject/data/nirovinsdataset-623621a9/versions/9.0",
          "messageFormat": null,
          "messageParameters": null,
          "referenceCode": null,
          "detailsUri": null,
          "target": null,
          "details": [],
          "innerError": {
            "code": "NotFoundError",
            "innerError": null
          },
          "debugInfo": null,
          "additionalInfo": null
        },
        "correlation": {
          "operation": "8c305b026a40d7d5ba4aa11a07a8e2c2",
          "request": "e4b8c14f68a9be05"
        },
        "environment": "swedencentral",
        "location": "swedencentral",
        "time": "2025-12-18T18:29:58.4186641+00:00",
        "componentName": "dataset",
        "statusCode": 404
      }
    }
  ],
  "Variables": {
    "DATASET_NAME": "nirovinsdataset",
    "DATASET_VERSION_1": "9.0",
    "PROJECT_ENDPOINT": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project",
    "STORAGE_CONNECTION_NAME": "nirovinswestus8660517702"
  }
}
