{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/datasets/nirovinsdataset-623621a9/versions/9.0/startPendingUpload?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "connectionName": "nirovinswestus8660517702",
        "pendingUploadType": "BlobReference"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-02",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "2cfa2fb0-e892-4047-94aa-06a0519396b4",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "0.908"
      },
      "ResponseBody": {
        "blobReference": {
          "blobUri": "https://nirovinswestus8660517702.blob.core.windows.net:443/rovins-swe-d1099ce4-ebce-5318-9259-061074960727",
          "storageAccountArmId": "/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.Storage/storageAccounts/nirovinswestus8660517702",
          "credential": {
            "type": "SAS",
            "credentialType": "SAS",
            "sasUri": "https://nirovinswestus8660517702.blob.core.windows.net/rovins-swe-d1099ce4-ebce-5318-9259-061074960727?sv=Sanitized&st=2025-12-18T18%3A04%3A02Z&se=2025-12-19T02%3A14%3A02Z&sr=c&sp=rcwl&sig=Sanitized"
          }
        },
        "blobReferenceForConsumption": {
          "blobUri": "https://nirovinswestus8660517702.blob.core.windows.net:443/rovins-swe-d1099ce4-ebce-5318-9259-061074960727",
          "storageAccountArmId": "/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.Storage/storageAccounts/nirovinswestus8660517702",
          "credential": {
            "type": "SAS",
            "credentialType": "SAS",
            "sasUri": "https://nirovinswestus8660517702.blob.core.windows.net/rovins-swe-d1099ce4-ebce-5318-9259-061074960727?sv=Sanitized&st=2025-12-18T18%3A04%3A02Z&se=2025-12-19T02%3A14%3A02Z&sr=c&sp=rcwl&sig=Sanitized"
          }
        },
        "pendingUploadId": null,
        "pendingUploadType": "BlobReference",
        "version": "9.0"
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/datasets/nirovinsdataset-623621a9/versions/9.0?api-version=2025-11-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "dataUri": "https://nirovinswestus8660517702.blob.core.windows.net/rovins-swe-d1099ce4-ebce-5318-9259-061074960727/sample_file_for_upload.txt",
        "type": "uri_file"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-02",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f378d523-5407-4685-9363-3bee146073b0",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "3.339"
      },
      "ResponseBody": {
        "id": "azureai://accounts/sanitized-account/projects/sanitized-project/data/nirovinsdataset-623621a9/versions/9.0",
        "name": "nirovinsdataset-623621a9",
        "version": "9.0",
        "displayName": "nirovinsdataset-623621a9",
        "description": null,
        "tags": {},
        "type": "uri_file",
        "isReference": false,
        "dataUri": "https://nirovinswestus8660517702.blob.core.windows.net/rovins-swe-d1099ce4-ebce-5318-9259-061074960727/sample_file_for_upload.txt",
        "isSingleFile": false,
        "connectionName": null,
        "systemData": {
          "createdAt": "2025-12-18T18:14:07.7267572+00:00",
          "createdBy": "Sanitized",
          "createdByType": null,
          "lastModifiedAt": "2025-12-18T18:14:07.7267572+00:00"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/datasets/nirovinsdataset-623621a9/versions/9.0/credentials?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-02",
        "Content-Type": "application/json; charset=utf-8",
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/datasets/nirovinsdataset-623621a9/versions?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "600ab3f2-7087-49f9-8959-d15c5b7ad8e9",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "0.064"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "azureai://accounts/sanitized-account/projects/sanitized-project/data/nirovinsdataset-623621a9/versions/9.01",
            "name": "nirovinsdataset-623621a9",
            "version": "9.01",
            "displayName": "nirovinsdataset-623621a9",
            "description": null,
            "tags": {},
            "type": "uri_file",
            "isReference": false,
            "dataUri": "https://nirovinswestus8660517702.blob.core.windows.net/rovins-swe-0c8b27f5-[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/datasets?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "8efb5491-46c2-48e3-[...]
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/datasets/nirovinsdataset-623621a9/versions/9.0?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c43f9311-b123-4251-998a-16c495f94106",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "error",
        "x-request-time": "0.044"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "severity": null,
          "message": "Could not find asset with ID: azureai://accounts/rovins-sweden/projects/swedenProject/data/nirovinsdataset-623621a9/versions/9.0",
          "messageFormat": null,
          "messageParameters": null,
          "referenceCode": null,
          "detailsUri": null,
          "target": null,
          "details": [],
          "innerError": {
            "code": "NotFoundError",
            "innerError": null
          },
          "debugInfo": null,
          "additionalInfo": null
        },
        "correlation": {
          "operation": "f1a4bc006fc5b3d2097b21afa9ee8978",
          "request": "d0c87fd6ff7dcb1e"
        },
        "environment": "swedencentral",
        "location": "swedencentral",
        "time": "2025-12-18T18:15:00.0590521+00:00",
        "componentName": "dataset",
        "statusCode": 404
      }
    }
  ],
  "Variables": {
    "DATASET_NAME": "nirovinsdataset",
    "DATASET_VERSION_1": "9.0",
    "PROJECT_ENDPOINT": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project",
    "STORAGE_CONNECTION_NAME": "nirovinswestus8660517702"
  }
}
