{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Resources/deployments/CanAddCustomLocationParameter/validate?api-version=2022-09-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "metadata": {
              "_generator": {
                "name": "bicep",
                "version": "0.25.53.49325",
                "templateHash": "2070562886655022171"
              }
            },
            "parameters": {
              "myLocationParam": {
                "type": "string",
                "metadata": {
                  "description": ""
                }
              }
            },
            "resources": [
              {
                "type": "Microsoft.Resources/resourceGroups",
                "apiVersion": "2023-07-01",
                "name": "rg-TEST",
                "location": "[parameters(\u0027myLocationParam\u0027)]",
                "tags": {
                  "azd-env-name": "TEST"
                }
              }
            ]
          },
          "parameters": {
            "myLocationParam": {
              "value": "eastus"
            }
          },
          "mode": "Incremental"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Resources/deployments/CanAddCustomLocationParameter",
        "name": "CanAddCustomLocationParameter",
        "type": "Microsoft.Resources/deployments",
        "location": "westus",
        "properties": {
          "templateHash": "2070562886655022171",
          "parameters": {
            "myLocationParam": {
              "type": "String",
              "value": "eastus"
            }
          },
          "mode": "Incremental",
          "provisioningState": "Succeeded",
          "timestamp": "0001-01-01T00:00:00Z",
          "duration": "PT0S",
          "correlationId": "3ac2ea79-3883-45c4-89b4-f40fd6d7f7ad",
          "providers": [
            {
              "namespace": "Microsoft.Resources",
              "resourceTypes": [
                {
                  "resourceType": "resourceGroups",
                  "locations": [
                    "eastus"
                  ]
                }
              ]
            }
          ],
          "dependencies": [],
          "validatedResources": [
            {
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/rg-TEST"
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1193651079",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
