{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "tagKey1": "tag-value-1",
          "tagKey2": "tag-value-2"
        },
        "subscriptionId": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Azure SDK Developer Playground",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups/EventHubs?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/EventHubs",
        "name": "EventHubs",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/EventHubs/providers/Microsoft.Resources/deployments/EventHubs/validate?api-version=2022-09-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "metadata": {
              "_generator": {
                "name": "bicep",
                "version": "0.25.53.49325",
                "templateHash": "3996029688885756879"
              }
            },
            "parameters": {
              "location": {
                "type": "string",
                "defaultValue": "[resourceGroup().location]",
                "metadata": {
                  "description": ""
                }
              }
            },
            "resources": [
              {
                "type": "Microsoft.EventHub/namespaces",
                "apiVersion": "2022-10-01-preview",
                "name": "[toLower(take(format(\u0027eh{0}\u0027, uniqueString(resourceGroup().id)), 24))]",
                "location": "[parameters(\u0027location\u0027)]",
                "sku": {
                  "name": "Standard"
                },
                "properties": {
                  "minimumTlsVersion": "1.2"
                }
              },
              {
                "type": "Microsoft.EventHub/namespaces/eventhubs",
                "apiVersion": "2022-10-01-preview",
                "name": "[format(\u0027{0}/{1}\u0027, toLower(take(format(\u0027eh{0}\u0027, uniqueString(resourceGroup().id)), 24)), \u0027hub\u0027)]",
                "location": "[parameters(\u0027location\u0027)]",
                "properties": {},
                "dependsOn": [
                  "[resourceId(\u0027Microsoft.EventHub/namespaces\u0027, toLower(take(format(\u0027eh{0}\u0027, uniqueString(resourceGroup().id)), 24)))]"
                ]
              },
              {
                "type": "Microsoft.EventHub/namespaces/eventhubs/consumergroups",
                "apiVersion": "2022-10-01-preview",
                "name": "[format(\u0027{0}/{1}/{2}\u0027, toLower(take(format(\u0027eh{0}\u0027, uniqueString(resourceGroup().id)), 24)), \u0027hub\u0027, \u0027cg\u0027)]",
                "location": "[parameters(\u0027location\u0027)]",
                "properties": {},
                "dependsOn": [
                  "[resourceId(\u0027Microsoft.EventHub/namespaces/eventhubs\u0027, toLower(take(format(\u0027eh{0}\u0027, uniqueString(resourceGroup().id)), 24)), \u0027hub\u0027)]"
                ]
              },
              {
                "type": "Microsoft.Authorization/roleAssignments",
                "apiVersion": "2022-04-01",
                "scope": "[format(\u0027Microsoft.EventHub/namespaces/{0}\u0027, toLower(take(format(\u0027eh{0}\u0027, uniqueString(resourceGroup().id)), 24)))]",
                "name": "[guid(resourceId(\u0027Microsoft.EventHub/namespaces\u0027, toLower(take(format(\u0027eh{0}\u0027, uniqueString(resourceGroup().id)), 24))), \u002700000000-0000-0000-0000-000000000000\u0027, subscriptionResourceId(\u0027Microsoft.Authorization/roleDefinitions\u0027, \u0027f526a384-b230-433a-b45c-95f59c4a2dec\u0027))]",
                "properties": {
                  "roleDefinitionId": "[subscriptionResourceId(\u0027Microsoft.Authorization/roleDefinitions\u0027, \u0027f526a384-b230-433a-b45c-95f59c4a2dec\u0027)]",
                  "principalId": "00000000-0000-0000-0000-000000000000",
                  "principalType": "ServicePrincipal"
                },
                "dependsOn": [
                  "[resourceId(\u0027Microsoft.EventHub/namespaces\u0027, toLower(take(format(\u0027eh{0}\u0027, uniqueString(resourceGroup().id)), 24)))]"
                ]
              }
            ]
          },
          "mode": "Incremental"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/EventHubs/providers/Microsoft.Resources/deployments/EventHubs",
        "name": "EventHubs",
        "type": "Microsoft.Resources/deployments",
        "properties": {
          "templateHash": "3996029688885756879",
          "parameters": {
            "location": {
              "type": "String",
              "value": "westus"
            }
          },
          "mode": "Incremental",
          "provisioningState": "Succeeded",
          "timestamp": "0001-01-01T00:00:00Z",
          "duration": "PT0S",
          "correlationId": "610c7ae9-1ae5-4e7b-a938-6e091fb6ad6f",
          "providers": [
            {
              "namespace": "Microsoft.EventHub",
              "resourceTypes": [
                {
                  "resourceType": "namespaces",
                  "locations": [
                    "westus"
                  ]
                },
                {
                  "resourceType": "namespaces/eventhubs",
                  "locations": [
                    "westus"
                  ]
                },
                {
                  "resourceType": "namespaces/eventhubs/consumergroups",
                  "locations": [
                    "westus"
                  ]
                }
              ]
            },
            {
              "namespace": "Microsoft.Authorization",
              "resourceTypes": [
                {
                  "resourceType": "roleAssignments",
                  "locations": [
                    null
                  ]
                }
              ]
            }
          ],
          "dependencies": [
            {
              "dependsOn": [
                {
                  "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/EventHubs/providers/Microsoft.EventHub/namespaces/ehn6lvxxluxhsqy",
                  "resourceType": "Microsoft.EventHub/namespaces",
                  "resourceName": "ehn6lvxxluxhsqy"
                }
              ],
              "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/EventHubs/providers/Microsoft.EventHub/namespaces/ehn6lvxxluxhsqy/eventhubs/hub",
              "resourceType": "Microsoft.EventHub/namespaces/eventhubs",
              "resourceName": "ehn6lvxxluxhsqy/hub"
            },
            {
              "dependsOn": [
                {
                  "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b5[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups/EventHubs?api-version=2022-09-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1FVkVOVEhVQlMtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2022-09-01\u0026t=638466594209469396\u0026c=MIIHADCCBeigAwIBAgITfARnJNBquoML0OGeGQAABGck0DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwMjAxMjAwMjM1WhcNMjUwMTI2MjAwMjM1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ2[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1FVkVOVEhVQlMtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2022-09-01\u0026t=638466594209469396\u0026c=MIIHADCCBeigAwIBAgITfARnJNBquoML0OGeGQAABGck0DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwMjAxMjAwMjM1WhcNMjUwMTI2MjAwMjM1WjBAMT4wPAYDVQQDE[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1FVkVOVEhVQlMtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2022-09-01\u0026t=638466594210468738\u0026c=MIIHADCCBeigAwIBAgITfARnJNBquoML0OGeGQAABGck0DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwMjAxMjAwMjM1WhcNMjUwMTI2MjAwMjM1WjBAMT4wPAYDVQQDE[...]
