{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "tagKey1": "tag-value-1",
          "tagKey2": "tag-value-2"
        },
        "subscriptionId": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Azure SDK Developer Playground",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups/PostgreSql?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/PostgreSql",
        "name": "PostgreSql",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/PostgreSql/providers/Microsoft.Resources/deployments/PostgreSql/validate?api-version=2022-09-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "metadata": {
              "_generator": {
                "name": "bicep",
                "version": "0.25.53.49325",
                "templateHash": "7892950749414538838"
              }
            },
            "parameters": {
              "location": {
                "type": "string",
                "defaultValue": "[resourceGroup().location]",
                "metadata": {
                  "description": ""
                }
              },
              "adminLogin": {
                "type": "string",
                "metadata": {
                  "description": "Administrator login"
                }
              },
              "adminPassword": {
                "type": "securestring",
                "metadata": {
                  "description": "Administrator password"
                }
              },
              "dbInstanceType": {
                "type": "string",
                "metadata": {
                  "description": ""
                }
              },
              "serverEdition": {
                "type": "string",
                "metadata": {
                  "description": ""
                }
              },
              "p": {
                "type": "string",
                "defaultValue": "name",
                "metadata": {
                  "description": ""
                }
              }
            },
            "resources": [
              {
                "type": "Microsoft.DBforPostgreSQL/flexibleServers",
                "apiVersion": "2020-06-01",
                "name": "[toLower(take(concat(\u0027postgres\u0027, uniqueString(resourceGroup().id)), 24))]",
                "location": "[parameters(\u0027location\u0027)]",
                "sku": {
                  "name": "[parameters(\u0027dbInstanceType\u0027)]",
                  "tier": "[parameters(\u0027serverEdition\u0027)]"
                },
                "properties": {
                  "administratorLogin": "[parameters(\u0027adminLogin\u0027)]",
                  "administratorLoginPassword": "[parameters(\u0027adminPassword\u0027)]",
                  "version": "",
                  "backup": {
                    "backupRetentionDays": 7,
                    "geoRedundantBackup": "Disabled"
                  },
                  "highAvailability": {
                    "mode": "haMode"
                  }
                }
              },
              {
                "type": "Microsoft.KeyVault/vaults",
                "apiVersion": "2023-02-01",
                "name": "[parameters(\u0027p\u0027)]",
                "location": "[parameters(\u0027location\u0027)]",
                "properties": {
                  "tenantId": "[tenant().tenantId]",
                  "sku": {
                    "name": "standard",
                    "family": "A"
                  },
                  "enableRbacAuthorization": true
                }
              },
              {
                "type": "Microsoft.KeyVault/vaults/secrets",
                "apiVersion": "2023-02-01",
                "name": "[format(\u0027{0}/{1}\u0027, parameters(\u0027p\u0027), \u0027connectionString\u0027)]",
                "location": "[parameters(\u0027location\u0027)]",
                "properties": {
                  "value": "[format(\u0027Host={0};Username={1};Password={2}\u0027, reference(resourceId(\u0027Microsoft.DBforPostgreSQL/flexibleServers\u0027, toLower(take(concat(\u0027postgres\u0027, uniqueString(resourceGroup().id)), 24))), \u00272020-06-01\u0027).fullyQualifiedDomainName, parameters(\u0027adminLogin\u0027), parameters(\u0027adminPassword\u0027))]"
                },
                "dependsOn": [
                  "[resourceId(\u0027Microsoft.KeyVault/vaults\u0027, parameters(\u0027p\u0027))]",
                  "[resourceId(\u0027Microsoft.DBforPostgreSQL/flexibleServers\u0027, toLower(take(concat(\u0027postgres\u0027, uniqueString(resourceGroup().id)), 24)))]"
                ]
              }
            ]
          },
          "parameters": {
            "adminLogin": {
              "value": "password"
            },
            "adminPassword": {
              "value": "passwor[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups/PostgreSql?api-version=2022-09-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QT1NUR1JFU1FMLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2022-09-01\u0026t=638453395124109903\u0026c=MIIHADCCBeigAwIBAgITfARnJNBquoML0OGeGQAABGck0DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwMjAxMjAwMjM1WhcNMjUwMTI2MjAwMjM1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QT1NUR1JFU1FMLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2022-09-01\u0026t=638453395124109903\u0026c=MIIHADCCBeigAwIBAgITfARnJNBquoML0OGeGQAABGck0DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwMjAxMjAwMjM1WhcNMjUwMTI2MjAwMjM1WjBAMT4wPAYDVQQD[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QT1NUR1JFU1FMLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2022-09-01\u0026t=638453395125187090\u0026c=MIIHADCCBeigAwIBAgITfARnJNBquoML0OGeGQAABGck0DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwMjAxMjAwMjM1WhcNMjUwMTI2MjAwMjM1WjBAMT4wPAYDVQQD[...]
