{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "tagKey1": "tag-value-1",
          "tagKey2": "tag-value-2"
        },
        "subscriptionId": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Azure SDK Developer Playground",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/RoleAssignmentWithoutParameter/validate?api-version=2022-09-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "metadata": {
              "_generator": {
                "name": "bicep",
                "version": "0.25.53.49325",
                "templateHash": "10849011434703874261"
              }
            },
            "resources": [
              {
                "type": "Microsoft.Resources/resourceGroups",
                "apiVersion": "2023-07-01",
                "name": "rg-TEST",
                "location": "westus",
                "tags": {
                  "azd-env-name": "TEST"
                }
              },
              {
                "type": "Microsoft.Resources/deployments",
                "apiVersion": "2022-09-01",
                "name": "rg_TEST_module",
                "resourceGroup": "rg-TEST",
                "properties": {
                  "expressionEvaluationOptions": {
                    "scope": "inner"
                  },
                  "mode": "Incremental",
                  "template": {
                    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
                    "contentVersion": "1.0.0.0",
                    "metadata": {
                      "_generator": {
                        "name": "bicep",
                        "version": "0.25.53.49325",
                        "templateHash": "18187799155663205487"
                      }
                    },
                    "resources": [
                      {
                        "type": "Microsoft.Storage/storageAccounts",
                        "apiVersion": "2022-09-01",
                        "name": "[toLower(take(concat(\u0027photoAcct\u0027, uniqueString(resourceGroup().id)), 24))]",
                        "location": "westus",
                        "sku": {
                          "name": "Premium_LRS"
                        },
                        "kind": "BlockBlobStorage",
                        "properties": {}
                      },
                      {
                        "type": "Microsoft.Storage/storageAccounts/blobServices",
                        "apiVersion": "2022-09-01",
                        "name": "[format(\u0027{0}/{1}\u0027, toLower(take(concat(\u0027photoAcct\u0027, uniqueString(resourceGroup().id)), 24)), \u0027default\u0027)]",
                        "properties": {},
                        "dependsOn": [
                          "[resourceId(\u0027Microsoft.Storage/storageAccounts\u0027, toLower(take(concat(\u0027photoAcct\u0027, uniqueString(resourceGroup().id)), 24)))]"
                        ]
                      },
                      {
                        "type": "Microsoft.Authorization/roleAssignments",
                        "apiVersion": "2022-04-01",
                        "scope": "[format(\u0027Microsoft.Storage/storageAccounts/{0}\u0027, toLower(take(concat(\u0027photoAcct\u0027, uniqueString(resourceGroup().id)), 24)))]",
                        "name": "[guid(resourceId(\u0027Microsoft.Storage/storageAccounts\u0027, toLower(take(concat(\u0027photoAcct\u0027, uniqueString(resourceGroup().id)), 24))), \u002700000000-0000-0000-0000-000000000000\u0027, subscriptionResourceId(\u002700000000-0000-0000-0000-000000000000\u0027, \u0027Microsoft.Authorization/roleDefinitions\u0027, \u0027ba92f5b4-2d11-453d-a403-e96b0029c9fe\u0027))]",
                        "properties": {
                          "roleDefinitionId": "[subscriptionResourceId(\u002700000000-0000-0000-0000-000000000000\u0027, \u0027Microsoft.Authorization/roleDefinitions\u0027, \u0027ba92f5b4-2d11-453d-a403-e96b0029c9fe\u0027)]",
                          "principalId": "00000000-0000-0000-0000-000000000000",
                          "principalType": "ServicePrincipal"
                        },
                        "dependsOn": [
                          "[resourceId(\u0027Microsoft.Storage/storageAccounts\u0027, toLower(take(concat(\u0027photoAcct\u0027, uniqueString(resourceGroup().id)), 24)))]"
                        ]
                      },
                      {
                        "type": "Microsoft.Authorization/roleAssignments",
                        "apiVersion": "2022-04-01",
                        "scope": "[forma[...]
