{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "tagKey1": "tag-value-1",
          "tagKey2": "tag-value-2"
        },
        "subscriptionId": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Azure SDK Developer Playground",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/StorageBlobDefaults/validate?api-version=2022-09-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "metadata": {
              "_generator": {
                "name": "bicep",
                "version": "0.25.53.49325",
                "templateHash": "17872582013430785515"
              }
            },
            "resources": [
              {
                "type": "Microsoft.Resources/resourceGroups",
                "apiVersion": "2023-07-01",
                "name": "rg-TEST",
                "location": "westus",
                "tags": {
                  "azd-env-name": "TEST"
                }
              },
              {
                "type": "Microsoft.Resources/deployments",
                "apiVersion": "2022-09-01",
                "name": "rg_TEST_module",
                "resourceGroup": "rg-TEST",
                "properties": {
                  "expressionEvaluationOptions": {
                    "scope": "inner"
                  },
                  "mode": "Incremental",
                  "template": {
                    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
                    "contentVersion": "1.0.0.0",
                    "metadata": {
                      "_generator": {
                        "name": "bicep",
                        "version": "0.25.53.49325",
                        "templateHash": "3433282180382213504"
                      }
                    },
                    "resources": [
                      {
                        "type": "Microsoft.Storage/storageAccounts",
                        "apiVersion": "2022-09-01",
                        "name": "[toLower(take(concat(\u0027photoAcct\u0027, uniqueString(resourceGroup().id)), 24))]",
                        "location": "westus",
                        "sku": {
                          "name": "Premium_LRS"
                        },
                        "kind": "BlockBlobStorage",
                        "properties": {}
                      },
                      {
                        "type": "Microsoft.Storage/storageAccounts/blobServices",
                        "apiVersion": "2022-09-01",
                        "name": "[format(\u0027{0}/{1}\u0027, toLower(take(concat(\u0027photoAcct\u0027, uniqueString(resourceGroup().id)), 24)), \u0027default\u0027)]",
                        "properties": {},
                        "dependsOn": [
                          "[resourceId(\u0027Microsoft.Storage/storageAccounts\u0027, toLower(take(concat(\u0027photoAcct\u0027, uniqueString(resourceGroup().id)), 24)))]"
                        ]
                      }
                    ]
                  }
                },
                "dependsOn": [
                  "[subscriptionResourceId(\u0027Microsoft.Resources/resourceGroups\u0027, \u0027rg-TEST\u0027)]"
                ]
              }
            ]
          },
          "mode": "Incremental"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/StorageBlobDefaults",
        "name": "StorageBlobDefaults",
        "type": "Microsoft.Resources/deployments",
        "location": "westus",
        "properties": {
          "templateHash": "17872582013430785515",
          "mode": "Incremental",
          "provisioningState": "Succeeded",
          "timestamp": "0001-01-01T00:00:00Z",
          "duration": "PT0S",
          "correlationId": "b3517710-3525-422c-b00b-8f477b0a3d77",
          "providers": [
            {
              "namespace": "Microsoft.Resources",
              "resourceTypes": [
                {
                  "resourceType": "resourceGroups",
                  "locations": [
                    "westus"
                  ]
                },
                {
                  "resourceType": "deployments",
                  "locations": [
                    null
                  ]
                }
              ]
            }
          ],
          "dependencies": [
            {
              "dependsOn": [
                {
                  "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-TEST",
                  "resourceType": "Microsoft.Resources/resourceGroups",
                  "resourceName": "rg-TEST"
                }
              ],
              "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-TEST/providers/Microsoft.Resources/deployments/rg_TEST_module",
              "resourceType": "Microsoft.Resources/deployments",
              "resourceName": "rg_TEST_module"
            }
          ],
          "validatedResources": [
            {
              "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-TEST"
            },
            {
              "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-TEST/providers/Microsoft.Resources/deployments/rg_TEST_module"
            },
            {
              "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-TEST/providers/Microsoft.Storage/storageAccounts/photoacctbup6avpo2jgk2"
            },
            {
              "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-TEST/providers/Microsoft.Storage/storageAccounts/photoacctbup6avpo2jgk2/blobServices/default"
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1988458895",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "faa080af-c1d8-40ad-9cce-e1a450ca5b57"
  }
}
