{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "tagKey1": "tag-value-1",
          "tagKey2": "tag-value-2"
        },
        "subscriptionId": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Azure SDK Developer Playground",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups/WebSiteUsingL3ResourceGroupScope?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/WebSiteUsingL3ResourceGroupScope",
        "name": "WebSiteUsingL3ResourceGroupScope",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/WebSiteUsingL3ResourceGroupScope/providers/Microsoft.Resources/deployments/WebSiteUsingL3ResourceGroupScope/validate?api-version=2022-09-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "metadata": {
              "_generator": {
                "name": "bicep",
                "version": "0.25.53.49325",
                "templateHash": "12598912399701551983"
              }
            },
            "parameters": {
              "location": {
                "type": "string",
                "defaultValue": "[resourceGroup().location]",
                "metadata": {
                  "description": ""
                }
              },
              "sqlAdminPassword": {
                "type": "securestring",
                "metadata": {
                  "description": "SQL Server administrator password"
                }
              },
              "appUserPassword": {
                "type": "securestring",
                "metadata": {
                  "description": "Application user password"
                }
              }
            },
            "resources": [
              {
                "type": "Microsoft.Web/serverfarms",
                "apiVersion": "2021-02-01",
                "name": "appServicePlan-TEST",
                "location": "[parameters(\u0027location\u0027)]",
                "sku": {
                  "name": "B1"
                },
                "properties": {
                  "reserved": true
                }
              },
              {
                "type": "Microsoft.KeyVault/vaults",
                "apiVersion": "2022-07-01",
                "name": "[toLower(take(concat(\u0027kv\u0027, uniqueString(resourceGroup().id)), 24))]",
                "location": "[parameters(\u0027location\u0027)]",
                "tags": {
                  "key": "value"
                },
                "properties": {
                  "tenantId": "[tenant().tenantId]",
                  "sku": {
                    "name": "standard",
                    "family": "A"
                  },
                  "enableRbacAuthorization": true
                }
              },
              {
                "type": "Microsoft.KeyVault/vaults/accessPolicies",
                "apiVersion": "2023-02-01",
                "name": "[format(\u0027{0}/{1}\u0027, toLower(take(concat(\u0027kv\u0027, uniqueString(resourceGroup().id)), 24)), \u0027add\u0027)]",
                "location": "[parameters(\u0027location\u0027)]",
                "properties": {
                  "accessPolicies": [
                    {
                      "tenantId": "00000000-0000-0000-0000-000000000000",
                      "objectId": "[reference(resourceId(\u0027Microsoft.Web/sites\u0027, \u0027frontEnd-TEST\u0027), \u00272021-02-01\u0027, \u0027full\u0027).identity.principalId]",
                      "permissions": {
                        "secrets": [
                          "get",
                          "list"
                        ]
                      }
                    }
                  ]
                },
                "dependsOn": [
                  "[resourceId(\u0027Microsoft.KeyVault/vaults\u0027, toLower(take(concat(\u0027kv\u0027, uniqueString(resourceGroup().id)), 24)))]",
                  "[resourceId(\u0027Microsoft.Web/sites\u0027, \u0027frontEnd-TEST\u0027)]"
                ]
              },
              {
                "type": "Microsoft.KeyVault/vaults/secrets",
                "apiVersion": "2022-07-01",
                "name": "[format(\u0027{0}/{1}\u0027, toLower(take(concat(\u0027kv\u0027, uniqueString(resourceGroup().id)), 24)), \u0027sqlAdminPassword\u0027)]",
                "location": "[parameters(\u0027location\u0027)]",
                "properties": {
                  "value": "[parameters(\u0027sqlAdminPassword\u0027)]"
                },
                "dependsOn": [
                  "[resourceId(\u0027Microsoft.KeyVault/vaults\u0027, toLower(take(concat(\u0027kv\u0027, uniqueString(resourceGroup().id)), 24)))]"
                ]
              },
              {
                "type": "Microsoft.KeyVault/vaults/secrets",
                "apiVersion": "2022-07-01",
                "name": "[format(\u0027{0}/{1}\u0027, toLower(take(concat(\u0027kv\u0027, uniqueStr[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups/WebSiteUsingL3ResourceGroupScope?api-version=2022-09-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1XRUJTSVRFVVNJTkdMM1JFU09VUkNFR1JPVVBTQ09QRS1XRVNUVVMiLCJqb2JMb2NhdGlvbiI6Indlc3R1cyJ9?api-version=2022-09-01\u0026t=638459480531532001\u0026c=MIIHADCCBeigAwIBAgITfARmPsJdo2ShuN-ImAAABGY-wjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwMTMxMjIwNzA5WhcNMjUwMTI1MjIwNzA5WjBAMT4wPAYD[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1XRUJTSVRFVVNJTkdMM1JFU09VUkNFR1JPVVBTQ09QRS1XRVNUVVMiLCJqb2JMb2NhdGlvbiI6Indlc3R1cyJ9?api-version=2022-09-01\u0026t=638459480531532001\u0026c=MIIHADCCBeigAwIBAgITfARmPsJdo2ShuN-ImAAABGY-wjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwMTMxMjIwNzA5WhcNMjU[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1XRUJTSVRFVVNJTkdMM1JFU09VUkNFR1JPVVBTQ09QRS1XRVNUVVMiLCJqb2JMb2NhdGlvbiI6Indlc3R1cyJ9?api-version=2022-09-01\u0026t=638459480533855208\u0026c=MIIHADCCBeigAwIBAgITfARmPsJdo2ShuN-ImAAABGY-wjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwMTMxMjIwNzA5WhcNMjU[...]
