{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256eeec385d/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256eeec385d/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256eeec385d/4e8c1ebf2b1640adb2dd2aaaa4c86a3c",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "__pobgcnl9oN64nzitLu-PnHXuHQJEtb3ILUdWsdEBM",
          "y": "Wi32XwWIIvXKmE3MQfyeZ8XFVeuRdOnSbsbzi8mNj3I"
        },
        "attributes": {
          "enabled": true,
          "created": 1779476720,
          "updated": 1779476720,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256eeec385d/4e8c1ebf2b1640adb2dd2aaaa4c86a3c/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256eeec385d/4e8c1ebf2b1640adb2dd2aaaa4c86a3c",
        "value": "SOgLVIepZAzcsNCGgQIjldVBdRCLubP_Wa1R8Gum-_MMyy553guWpq4He3ckGHBX9fmmh0mOS1eUssfgUkG4yg"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256Keeec385d/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Keeec385d/ed0350453c5047f79b99424d1a7498ba",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "0ONfUBGYHVVYPnTLu_SxhNDaP0UrmFM6tbRA8R3S-4Q",
          "y": "2-ac4G7G7euKGJzYCO-Yz6cu2GAsSWA09RLpG-Wd3Mg"
        },
        "attributes": {
          "enabled": true,
          "created": 1779476724,
          "updated": 1779476724,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256Keeec385d/ed0350453c5047f79b99424d1a7498ba/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Keeec385d/ed0350453c5047f79b99424d1a7498ba",
        "value": "HaatSPFBVKBO5Qrm0oh3bCzp50Lox_33tsGotz1zMGbt_XMaiSr9C48c7jsBPIbPo5c21QXW9iDpSi8dVMF6sQ"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-521eeec385d/520c30e6fce44fe5a087e9c3e0edbfe6/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-521eeec385d/520c30e6fce44fe5a087e9c3e0edbfe6",
        "value": "AfLB4QpeYrDh7KtIyuHalUmx9B34YJqrHHmq3GjSGWnZxr4Ayg21S6sKKJ37r903GBCYkcfdMUkrBx0s688zKM25AWMKudLUtU9rlHkkKI45fCDgVkM1_Geh-7PI27OEDeLgqqYgqfHwRANk8aqQEmmxVLeaPVQhWwPQUpDL2pUjEu90"
      }
    }
  ],
  "Variables": {}
}
