{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-not-yet-valid70f83526/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-not-yet-valid70f83526/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {
          "nbf": 32503680000
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-not-yet-valid70f83526/e2c996c078a04ec19064fc5cc4ebcc82",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "46Zs5_aSMjkIY8Ox758PehQUezyPjeNVUV7c5bkKvL5chVxwt4IOqsWWzh4mmYIqHp2a5k4jj9NnKQDp7BKGygoSsjAMIQF6515_BmuEr07SsXpnNwghuI4SpN4ylyr913XUGpAUjS3qhIaanNr2v0HfN3BAVLbEDn1zfYkbcFmaEhQwDAiE0VDW0AcxFPqWfjpto4AuGviK8WwqeaZmq3a9yas1VDZ3ldmyjofdFNZ3tta82e4sLLAZvpW1Skv-UVWNQozH8xwqabOyZA82HUvEbrYRZUYr1GwIlBRxOkOVrLSzla-T0BcamV84h7Xx1_yjonCOjyK_5qI-RrQbyQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "nbf": 32503680000,
          "created": 1707349225,
          "updated": 1707349225,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-expired70f83526/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {
          "exp": 946684800
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-expired70f83526/10cc20636efa4ff38f89876ad036db9a",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "10xUDtOAbamGz7z61ExNbyQGi6aZU9ObU-msK_awjQ5lqV7JybYUK2KgGD5WtEMgOymohjwTggPIcSwQhvL0TAX47Ic6hqd5enIfOWWWld1LO7hk38XYnbYUociDEZ3S132zIpaYzzIuPXBc55LE7-c4VPYe0Cd-lcLs_FE6Viy2nMlTq00wK8KJmb0pLs1CXtaWo81cydc_j7tJb0Og84v2GdCGDMEq3y_IBkI0EswNpOeuOYeBVt3I7M0iBPNABmUwzyudi-SaMIZlb7XUEMGX7FUO3Ib3Peq7nzHfkPeqzwLU_yHv8QhJ7BzdRrImt1WE_2JDK9lVbXipw0rSLQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "exp": 946684800,
          "created": 1707349227,
          "updated": 1707349227,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-valid70f83526/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {
          "nbf": 32503680000,
          "exp": 32535216000
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      [...]
