{
  "Entries": [
    {
      "RequestUri": "https://mcpatinokv.vault.azure.net/keys/livekvtestrotation-keyb0f2314c/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://mcpatinokv.vault.azure.net/keys/livekvtestrotation-keyb0f2314c/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://mcpatinokv.vault.azure.net/keys/livekvtestrotation-keyb0f2314c/32b268e01dc242c9a1ef7dd9033dd37a",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "7cDDWLvaLne3OrJeIywyB9pUN3HnkoJHTluTJtjxFE1dA9NJt1bmj8hrb3czgBdaDjuy_YQRBw0S5_cEmWzB17yB8skQmC_-AM66qTF8zhVSViUnq5iFqJ9KMe5dKGljUAeeZYJpc8a04tSfLMm04w7pZ63T2oaJWs8jNZMZ1DEXEwuzrjC6A65OcGtt_9nTk-ZDSTJhnb2eeVB_AhwoX4fP4vc_v2Gd3acoqLnJmiwUMZYB3S0ICnlo3BR-C60_X2VxUHzfF8SM4t4oXWYG7KBkMzyF9vSMCRXxC_ydD8Dpee8O-I7_nLFPCLX3fulZ4za1FqAEf8_enKSs3rJDfQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1691701994,
          "updated": 1691701994,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://mcpatinokv.vault.azure.net/keys/livekvtestrotation-keyb0f2314c/rotationpolicy?api-version=7.5-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lifetimeActions": [],
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://mcpatinokv.vault.azure.net/keys/livekvtestrotation-keyb0f2314c/rotationpolicy",
        "lifetimeActions": [
          {
            "trigger": {
              "timeBeforeExpiry": "P30D"
            },
            "action": {
              "type": "Notify"
            }
          }
        ],
        "attributes": {
          "created": 1691701994,
          "updated": 1691701994
        }
      }
    },
    {
      "RequestUri": "https://mcpatinokv.vault.azure.net/keys/livekvtestrotation-keyb0f2314c/rotationpolicy?api-version=7.5-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lifetimeActions": [
          {
            "trigger": {
              "timeAfterCreate": "P2M"
            },
            "action": {
              "type": "Rotate"
            }
          }
        ],
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://mcpatinokv.vault.azure.net/keys/livekvtestrotation-keyb0f2314c/rotationpolicy",
        "lifetimeActions": [
          {
            "trigger": {
              "timeAfterCreate": "P2M"
            },
            "action": {
              "type": "Rotate"
            }
          },
          {
            "trigger": {
              "timeBeforeExpiry": "P30D"
            },
            "action": {
              "type": "Notify"
            }
          }
        ],
        "attributes": {
          "created": 1691701994,
          "updated": 1691701994
        }
      }
    },
[...]
    {
      "RequestUri": "https://mcpatinokv.vault.azure.net/keys/livekvtestrotation-keyb0f2314c/rotationpolicy?api-version=7.5-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lifetimeActions": [
          {
            "trigger": {
              "timeAfterCreate": "P2M"
            },
            "action": {
              "type": "Rotate"
            }
          },
          {
            "trigger": {
              "timeBeforeExpiry": "P30D"
            },
            "action": {
              "type": "Notify"
            }
          }
        ],
        "attributes": {
          "expiryTime": "P90D"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://mcpatinokv.vault.azure.net/keys/livekvtestrotation-keyb0f2314c/rotationpolicy",
        "lifetimeActions": [
          {
            "trigger": {
              "timeAfterCreate": "P2M"
            },
            "action": {
              "type": "Rotate"
            }
          },
          {
            "trigger": {
              "timeBeforeExpiry": "P30D"
            },
            "action": {
              "type": "Notify"
            }
          }
        ],
        "attributes": {
          "expiryTime": "P90D",
          "created": 1691701994,
          "updated": 1691701995
        }
      }
    },
[...]
    {
      "RequestUri": "https://mcpatinokv.vault.azure.net/keys/livekvtestrotation-keyb0f2314c/rotationpolicy?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://mcpatinokv.vault.azure.net/keys/livekvtestrotation-keyb0f2314c/rotationpolicy",
        "lifetimeActions": [
          {
            "trigger": {
              "timeBeforeExpiry": "P60D"
            },
            "action": {
              "type": "Notify"
            }
          }
        ],
        "attributes": {
          "expiryTime": "P90D",
          "created": 1691701994,
          "updated": 1691701995
        }
      }
    }
  ],
  "Variables": {}
}
