{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-verify-204895f7316a/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-verify-204895f7316a/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "87"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1707355697,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1707355697
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-verify-204895f7316a/c915b155b7d10fbb913f67c86586aaba",
          "kty": "RSA-HSM",
          "n": "rSgkGb62CcPlJVgBrmJdasMmvPU611aJ3fVKB7MyQFPYnbwLiujLkd_AWVlR8rfug3Sf8LOp97bbVK-7Q1gs_PknDtGC0wOVbW6MhDzOoRSFyxrQq-k90s5VEoiBFtV5arM2CjXTpAFdl_8HB5RaXSD43FgdPMlgZAosnJ1hrJi9FtcEzEGqAs0wmwMdlkIq7XdBrZth_eddOPsS08fvJ-X7VmmjB7d5WI2m9bjWaDEzVDIRofCmsC4KPges8ir5pqBbO8QchRaOgGcBXrDY_WDbYaFxxZaEtlu0sbF56w_IzwJc_3C-lvDV43Qz_5zO9xw_2q4KPrPybdH4NVQQdw"
        }
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-verify-204895f7316a/c915b155b7d10fbb913f67c86586aaba/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "8"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-verify-204895f7316a/c915b155b7d10fbb913f67c86586aaba",
        "value": "aOUi-6pF-rpTKRUyiNjFH_jvqGDNnzhvGx6S3Gp51jYPbcEWlphY3id2zSobOP6b2CDZTNniX_OYYGMhXbDPui7At-WjWnGc3qiaozXA4r58KxClc9u8F9KZfgGgp0DUCSfuG6jdFLDIiZGRdeuJTw8KigOmDwtKzOowCfTOtQEEs_kkLWvLWsmCiA_DbEEfK9iSSKeaJx2g4SWRWUDh1UAGFv84rYEyWXRfUNd153w0nZxHBUYVPhdc219DyHHwiC_tugO9SAOukG92x8Dqes_ryDEtb2iQG0seIiY5GMM8vf1PkCxYQ4Y9Vjss338jJrT6F6U0-AbPpg0AdxedFA"
      }
    },
[...]
