{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtesttestKey28782f51/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtesttestKey28782f51/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "127"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779477129,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1779477129
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "sign",
            "verify",
            "encrypt",
            "decrypt",
            "unwrapKey"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtesttestKey28782f51/4439667a1b5c05af28efaae928e3544e",
          "kty": "RSA-HSM",
          "n": "h6uG5LaNFvKOA6PQafjzkedxNbuaKwi9Zw4fj4FKp8RYAQSRe5gvjxSMmzdunu4g5C3x4rNHdLfa6-IWgzF7wB68GEhNsEhwpu2kGbFX1xfmaSJUUahS2ftHy4E7vl6-n2hHSa9UVpKt396MG5zxr0iohe2O8xIUJ5Uc3nn6MZc_X0d7G9OhDvH5YAES-conqmUHa0oJm-RuqG44kNgRnJvn-JojdqsvDhGHIMTWx0-GC9454Te2TsMz577gzT_LpIHbqKtUNWWcKaAqpxVVX6WJfwhsr2LgPnrjZ41fotyosiFuAqsCPIiwN9O5fq3sgi9EehRu1vGEyhhLQqE-9Q"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtesttestKey28782f51/versions?api-version=2026-03-01-preview&maxresults=6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "13"
      },
      "ResponseBody": {
        "nextLink": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtesttestKey28782f51/versions?maxresults=6&$skiptoken=Sanitized",
        "value": [
          {
            "attributes": {
              "created": 1779475310,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1779475310
            },
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtesttestKey28782f51/d76ce6cff443053f92a8abbc990e85e0"
          },
          {
            "attributes": {
              [...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtesttestKey28782f51/versions?maxresults=6&$skiptoken=Sanitized&api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "9"
      },
      "Response[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtesttestKey28782f51/versions?maxresults=6&$skiptoken=Sanitized&api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "6"
      },
      "ResponseBody": {
        "value": [
          {
            "attributes": {
              "created": 1779477139,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1779477139
            },
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtesttestKey28782f51/5791e17eba8a404806cf261c06765bd4"
          },
          {
            "attributes": {
              "created": 1779477141,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1779477141
            },
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtesttestKey28782f51/b206f20a77560276829527738426928f"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
