{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-verify-2048c94731e2/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-verify-2048c94731e2/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048c94731e2/e30c800bd01c4b6b86b24abbd4e190ef",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wlYlD4kVbAbHc8SeYkhEoIPCgKwNs61_Cxwk2Q4KwcdBaKE6iiL6WGLW5Ij1NJ_j-Z8526lRJjnF0nXuhYcmqL4kOD70lP2P5D1tZlWLHY9_CEzlJduuR08miNo7nwoP6SEjJZ7yDEsJ5VL3QRW36lpBHKgL6TvfdCLMxMpeCuSgTQrH1Tv_q1gSWFTMXslGnnsP1-Ho8sqkA6FlNIwM_c_hPQu2WB_Li0SYwnfH49LxI4bS2YeH3sXcR3mhE_t7qGNBcb1l8ch7Ff7-YtxzRik6PXdal2F-sm4nSYIiuxv_swHHXROS2qkphB9RRuh0BPJ_cMJoDme0YA0guuY8rQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1748906152,
          "updated": 1748906152,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-verify-2048c94731e2/e30c800bd01c4b6b86b24abbd4e190ef/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048c94731e2/e30c800bd01c4b6b86b24abbd4e190ef",
        "value": "e2rd-lRLLnsH3dWDvNL3T-fiU94AF_wsOT7OXwItlip-dRCyYhM8BIESZ_znLdKPUtAjbKQQ0H5i2CrZYsCGrvvKya64HtJaD_UrBEG8wAFn08yYMWh-FfHH9aIrLRsjFqkJ7DmAlWA3OCLYuE1uPX1bbKASyMpe4WlPXfO7Rk8MqZ-BPCJku1gnj8YcE39kJiwO-66xxfGzQBwlw6fd1qaOUKPxE-art2DYDREfTYezSNlUq-hgZhBC_6O2ap51HzGxYi-ovZ61bdTCkCVTpf9ffdQTaegO0Xee_gtuaeiTLrLn9FHUBHaX3_IYx4i-4nNZGQPTTUHST6AT9jT2vQ"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-verify-4096c94731e2/78053fdf898447b49e8dea98c91f40a7/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-4096c94731e2/78053fdf898447b49e8dea98c91f40a7",
        "value": "W8bBd-KWOIfJqQkibwHr0uJRRzEuhNFqK2ifv9ra_gnXO_-yO9NEf85bTsyWoGqy7z4annyeCW4wkqIrh-_AlKhOfcPeS-EOJniaJsMF_Dw6HEcoRIEYGmwdlI5bu1zFHO79zjl3Vm_US2OJtJ_3yEHrtvKCVCp8jeZwiV-IuHCqynKbvQKFqORjTAea5OtgIn2P7_zqQyyuK8ROTLUBulEDcmI2YllB7Nd8MTMwFc-9Xep9XEr1UA7pcJ_FiuZtSddGAI5S9xHRV4npJ0ffIObu1l7SrGfn7hdcyZHllzMnV4d_dLSwZ_QN3F_F5NUvkzEwAWIAi31NosaKde-zXKpCayUJQfWuX5rVSzG9lJzFS_reAec4CZfLFSFy3FuynW9EQNasZGHjH2ZVXthUMZgWkkF513iEHthTp7BiLByrTIxPXCqNeEpfU7Ewn-4OGy9BbeTcCeg3bCgWzkj2qLmcrBv1BMiE3wVBEzAgY4Jqs_CvMF-i6i_W0ZebV_LH-QdeWcWzH5TCx0XytL18R4dQXjycTGF-6It9-hcP1e7SelFyYCozLf8ify3je16PBI94EpIpa-TvCggZp-tTQqwYsolGqlZS1Ss0Wn68AUsUb38iqmC8DtwhOz0CJxEBzsCwSQqnOCJ67eqJfrzroz6hzPwXQZR02P1KH0is2IE"
      }
    }
  ],
  "Variables": {}
}
