{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestwrap-localba062f31/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestwrap-localba062f31/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 4096
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestwrap-localba062f31/d4bdbe585ac0447e8a93090abfb5bc13",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vwpiTESC5VNjBwanzJrOFswOPGv-ZNjj1aJAA5GItCTsyj-bSxd4x-t6tOrpgNbK5dVYFwlSdkPrgUkVBaZuVPAh48f3mYXVVp-m5k24F0NSXpU0MpXcwafjrN9d9-pLBsFr-ymt8hXtSq03AYdX7RLcDhDajHIhAHZaDepIsrpBwCeN-_LdpVtL360ULQNmmnqkSFgvWhBroF_joLf_lxNlp6UQI6pwiNlkWM6kzATUeXuM4n_EtP03EViMrv2S791ZIPwvg4YryyY9H_NJQ750W2C85j7GL5ZG6ZH8-M27Zh5Qzq6sDFfH6L5vnY8T7KGZOhw2nxLQ3elkGvMFU1DXOSYa6A2TSrTCK7RJjddByvJo38x3RI1dlsvSBjhItkUzq-8g5vHxKRTQJ2OHm4_U-pD669VZmT0BizJSkeLQfqD1ii4IoENMwlCV0VjCjjbxaZ3_aARIPq6f0YM1UZukm9UmAhOzlNHvxe7QjH6AceLEAbTF6Rhs2dTlXhNAouu_4OvasjBllFhIm-RISAmJSIyEBJ3_NCotPa_o5Oh-0fi6YGT2jty__bm1KZU4d5P7668jmiybFU6ciXN1hMTSOk_xprNqV7ymkAkuLri5gzkqtcPVpyKyaWEv2qmrLGd2OaOV4J1OIYcTuYwRXHOPSt-gOVfCYuOpVtslug0",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1691709522,
          "updated": 1691709522,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestwrap-localba062f31/d4bdbe585ac0447e8a93090abfb5bc13/unwrapkey?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "uMG1tUccagpwrbO1k6eVvMVNgYj3e5Dqfz1jgd5pxeOz7kLkt2qrHjNIdeU422nqjJKz3-aA1-Tha0lip5lodmeXfYy243yDni4NfMZ3cTP0H6lgAtMVqlsThUSQtT3HQTRLyvukaLnF7E9gDUdfzY-YNuShGzEryaAeF997k-GJ0MBWSFNC4zB-nZbspk08RH5E9wzMel2QCEw45ysgDNm7Ncxd5AqO8E3WjUfc5wFgFLmEK5-pL0V4LhCcxYaGOJEmLKc7ajJ_1sT0dVQ0ehOc0gWJjWANg1xvEMFgNial168pPPKV3xbF-Mmqiv_Zw6SV5yaTL01ma2W9WLwsi-8nps_eb85pfSYvhot3hMvGXgrz819_J4DOAIrPjGDwhnSJhAMN_aaVFS3xHwQERY29oT4hFpIzrvs0wY7dbp-CFr-kWJz3Uh6l6lN3tqrsEHcVW_33UoV0zT4MTFA8yEWLJyJI0ObD1OrouHUru3mY7To_kF4zRfzR4P1sNqZwXuvmV2JaaZGZqz2cOQkVouklFnNaT1iWepxDWZLODGY6XU2PTVwLoy4qkD5mxvowK-rXlbrf38N6OzHqRHf4J2MTyVlmBA1Hu3MlQKgtsI1obv10F_jMPzxqXAkVEiQ5hzR2VCc4FIiMRR46jc9wIGBu00EX32okwmju8QQXBUM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestwrap-localba062f31/d4bdbe585ac0447e8a93090abfb5bc13",
        "value": "NTA2M2U2YWFhODQ1ZjE1MDIwMDU0Nzk0NGZkMTk5Njc5Yzk4ZWQ2Zjk5ZGEwYTBiMmRhZmVhZjFmNDY4NDQ5NmZkNTMyYzFjMjI5OTY4Y2I5ZGVlNDQ5NTdmY2VmN2NjZWY1OWNlZGEwYjM2MmU1NmJjZDc4ZmQzZmFlZTU3ODFjNjIzYzBiYjIyYjM1YmVhYmRlMDY2NGZkMzBlMGU4MjRhYmEzZGQxYjBhZmZmYzRhM2Q5NTVlZGUyMGNmNmE4NTRkNTJjZmQ"
      }
    },
[...]
