{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-key-namee112fc3/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-key-namee112fc3/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-key-namee112fc3/99fe30fb99cc43598f495181e552bfdd",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "sE_cY7hR-EZ9K3v6JCW3s-9jKn-ByREziHVT9hegZFVb8oQR9Ixk98d1Av-CrypKHeBoLbib576mz6eFaZ66X4O6-UENFs791qB2RHIlrptyID1YK-FdZJt1oC-GlN2x1yEf0xUl5yGVBzHa8PBMbfOBag4GFxxyL9GGvGAVWPNcfvuwJ3l9e9RsZaCMzjmxytrBsMdHeawhZyVgIkxMLteo0fvXOvKBI4KmW5Jy5EU9ki6M_Xxuc9igZLjfuSq0R-Jua6MpvCwCGGRtEoUJbCZVcTQz3UfdDekXTtjGyZ_Mnl0kvXqmbB5QGONiwFYgKjAz-aJsgPxCnIUTdQtupQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1691710437,
          "updated": 1691710437,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
