{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtesttestKey5fec2a63/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtesttestKey5fec2a63/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtesttestKey5fec2a63/51e20cb461cd41aab05d65048aace71b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "2Rsq2IK-H3oPVldKSlX-bk4Ei5VAFfwltef_RCUUxpLAQvyG2gs7HgAETzItmIvt8X-fPkeuA5Es8Y84CpGAErnEJ8hkkrqmg-pmpp7JIHY-OKoxctz1S0PGF-UKInnLpDZKzGBkZgB4PurjIyrviOLrD1g4CZQrzgvlZh-QHQbb4cqJ9SGhN3N2AOQyKtbVX6S7ao1unkNQyNRa5145XIKnqqNufOKvpPv75SXOPGAvjzn39-sGT2IiRwFQaOO7SQJhS_Zmy_Uh9wh9dOllOqB9NwRq24DyrcKHM7DDjkxMBs0RX6tIbC-7tAkj_TQQDe4mU9jadVFIaNzikG_mGQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1707349518,
          "updated": 1707349518,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtesttestKey5fec2a63/versions?maxresults=6\u0026api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtesttestKey5fec2a63/51e20cb461cd41aab05d65048aace71b",
            "attributes": {
              "enabled": true,
              "created": 1707349518,
              "updated": 1707349518,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
          },
          {
            "kid":[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtesttestKey5fec2a63/versions?api-version=7.5\u0026$skiptoken=eyJOZXh0TWFya2VyIjoiMiExNDQhTURBd01EWXlJV3RsZVM5TVNWWkZTMVpVUlZOVVZFVlRWRXRGV1RWR1JVTXlRVFl6TDBVME4wSkNOa05ET0RoQlJEUkJSa0U0UkRBeE5rVXpSamxHUlVWQ09VSXpJVEF3TURBeU9DRTVPVGs1TFRFeUxUTXhWREl6T2pVNU9qVTVMams1T1RrNU9UbGFJUS0tIiwiVGFyZ2V0TG9jYXRpb24iOjB9\u0026maxresults=6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtesttestKey5fec2a63/e47bb6cc88ad4afa8d016e3f9feeb9b3",
            "attributes": {
              "enabled": true,
              "created": 1707349525,
              "updated": 1707349525,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {}
}
