{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name8f492ac8/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name8f492ac8/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name8f492ac8/bfa4b953f66d4305aa05f482eb6ffe37",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "8JTji5YukMZeSRFOWhnV5OaMalMY-2GMs_hNo-wcJBXSlsSaJ2PVfdTEMQEVXT1bKjkHmHhSg4z4-W_zcqTO5Aq4YKdRrJoJC69Vn0GrMLnd3tbQODiLzkYVsKNRK1FRt-A8KwtjjAaLYrvk3ut2ps6Os9jeMnU5oA-m-mVcmdJcQMa-PsTKCNsK0KBMBTT2kwEZX4qZgaf_aMkHqCR54yRmkvyDCwK297FRz-xMnvON4OGHiKzdvSArNssz-gxW-NazoHe2uLXs4guRndskGT2e06cPuQlmd_kLTsDx--1FSzQGqKwjCbGFcf95r0VJkYQxz6t6nqpw2fTgHWQnSQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779477282,
          "updated": 1779477282,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name8f492ac8/bfa4b953f66d4305aa05f482eb6ffe37?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name8f492ac8/bfa4b953f66d4305aa05f482eb6ffe37",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "8JTji5YukMZeSRFOWhnV5OaMalMY-2GMs_hNo-wcJBXSlsSaJ2PVfdTEMQEVXT1bKjkHmHhSg4z4-W_zcqTO5Aq4YKdRrJoJC69Vn0GrMLnd3tbQODiLzkYVsKNRK1FRt-A8KwtjjAaLYrvk3ut2ps6Os9jeMnU5oA-m-mVcmdJcQMa-PsTKCNsK0KBMBTT2kwEZX4qZgaf_aMkHqCR54yRmkvyDCwK297FRz-xMnvON4OGHiKzdvSArNssz-gxW-NazoHe2uLXs4guRndskGT2e06cPuQlmd_kLTsDx--1FSzQGqKwjCbGFcf95r0VJkYQxz6t6nqpw2fTgHWQnSQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779477282,
          "updated": 1779477282,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    }
  ],
  "Variables": {}
}
