{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey-name4d4b3277/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "6"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey-name4d4b3277/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "231"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1691710462,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1691710462
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey-name4d4b3277/664d2f70012d0e21ab1dffcbe72974a9",
          "kty": "RSA-HSM",
          "n": "n8S0VQax-dqcMFte7-BD3of3qMcqNL0KawQZZZwPJVSRgPMA9885qT8PjWUW6JXz9nz6P3Ayq2PmmUasMRaC18AFQxajOSm7me8Ahtp0gXB0RG2rcQDV7oP1DMLui84QSeY1N4AJRfjapPv8KJ4rRn-9lD0zpcihdDsdrBi7zVLmPgqigc9s_lVsRetlFMHt5QvnzvLcklqZKCiqGFsef5pIDLJbWzj7tXfVX1ePrXt-bSeAyu0KAwWqEIC4YNN1M8eQ__Js6wOyjjZD_Mrliux8kWwgJK1Q8jMtrQaIYk9XJ23uV1RqtTt96TeC4zYHwHMM256okVu7KoZwEnoXxw"
        }
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey-name4d4b3277/664d2f70012d0e21ab1dffcbe72974a9?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230713-3-40221b92-1.0.20230706-3-4bcefe4d-develop",
        "x-ms-server-latency": "23"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1691710462,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1691710462
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey-name4d4b3277/664d2f70012d0e21ab1dffcbe72974a9",
          "kty": "RSA-HSM",
          "n": "n8S0VQax-dqcMFte7-BD3of3qMcqNL0KawQZZZwPJVSRgPMA9885qT8PjWUW6JXz9nz6P3Ayq2PmmUasMRaC18AFQxajOSm7me8Ahtp0gXB0RG2rcQDV7oP1DMLui84QSeY1N4AJRfjapPv8KJ4rRn-9lD0zpcihdDsdrBi7zVLmPgqigc9s_lVsRetlFMHt5QvnzvLcklqZKCiqGFsef5pIDLJbWzj7tXfVX1ePrXt-bSeAyu0KAwWqEIC4YNN1M8eQ__Js6wOyjjZD_Mrliux8kWwgJK1Q8jMtrQaIYk9XJ23uV1RqtTt96TeC4zYHwHMM256okVu7KoZwEnoXxw"
        }
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey-name4d4b3277/664d2f70012d0e21ab1dffcbe72974a9/encrypt?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "cGxhaW50ZXh0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "5"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP",
        "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey-name4d4b3277/664d2f70012d0e21ab1dffcbe72974a9",
        "value": "fgESYv7EPG_QoKBDcgknE-9nGfqDYkwWQozh3HEg8ieC5DZuw27SZ_-9t8Emh8K130CYjbrg0EweuJGbUExTjtBFhl-QPH3EhY_-MAS-gBVaPKTztHgHTO6DVdJuEpeBg2f8yGiXgQk-yqlBWJryfvj0oHvs8TcIWXF2ItjW4-rkLcRwoLKahbUPdLkOuFD07S_6vu9S_syrwQkbC6wC599nvQqEZ1oK0sNirRSvRoOCd1KQtbCxZWEIbd4IkVabIeKl6s5NR1s9CYgmtROd7-gEIu3czwZ7dphLQ6OIim_9BUiX24u7-vZkXzunVaB4KXewQVsG7ORJK83LGFqLGg"
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey-name4d4b3277/664d2f70012d0e21ab1dffcbe72974a9/decrypt?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "fgESYv7EPG_QoKBDcgknE-9nGfqDYkwWQozh3HEg8ieC5DZuw27SZ_-9t8Emh8K130CYjbrg0EweuJGbUExTjtBFhl-QPH3EhY_-MAS-gBVaPKTztHgHTO6DVdJuEpeBg2f8yGiXgQk-yqlBWJryfvj0oHvs8TcIWXF2ItjW4-rkLcRwoLKahbUPdLkOuFD07S_6vu9S_syrwQkbC6wC599nvQqEZ1oK0sNirRSvRoOCd1KQtbCxZWEIbd4IkVabIeKl6s5NR1s9CYgmtROd7-gEIu3czwZ7dphLQ6OIim_9BUiX24u7-vZkXzunVaB4KXewQVsG7ORJK83LGFqLGg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "6"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP",
        "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey-name4d4b3277/664d2f70012d0e21ab1dffcbe72974a9",
        "value": "cGxhaW50ZXh0"
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey-name4d4b3277/?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230713-3-40221b92-1.0.20230706-3-4bcefe4d-develop",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
   [...]
[...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey-name4d4b3277/664d2f70012d0e21ab1dffcbe72974a9/decrypt?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "NtMdhR_dEUOIS3yMnBInAN4wW6mZlOjHRen6Jxuo9764N9tsIrMzNXvKLm17mlLLCHBleVzq5qTADTFa8SyMSAB4Q2R-r71U_Y-WY7J8Frgh83XZxoz9BzL5jMdvJ2Pwt9Kct8n8ZRFaXZABcqHaB3sy9p4RiKPvmrGtncmQerX9JsplG9TViAtOhj2o068wzfIW2N477lp8qjRRLwmtRdDUm_ADu56yTy1kIEnkjEeGejXwVieZ8pZ8Hl7WVxGnoFjZOMwKmUdi-RqVWkp1MqypbF9bt6l6mJ_TqK4SdQnOhS81quRZeFgXGb_mmGpPjpmTgPrY-MSvEToHOuSSog"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "6"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP",
        "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey-name4d4b3277/664d2f70012d0e21ab1dffcbe72974a9",
        "value": "cGxhaW50ZXh0"
      }
    }
  ],
  "Variables": {}
}
