{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-keyf0b2fdb/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-keyf0b2fdb/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "public_exponent": 17
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "464"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1715137544,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1715137544
        },
        "key": {
          "e": "EQ",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-keyf0b2fdb/ee8065ad6e000074184f71c7380fe56f",
          "kty": "RSA-HSM",
          "n": "icIl73P-kV1NJxJK5luqc01-3GlTEu6JKj7t3rg7E3gyAUGCRyhog9vCSmlXDokEfXr1ZySlRranwkWWiJAnkbzGNOVOFTeB-jsG4cuY4JG3y7eB2NMXjfRRruQbg6DCgsAWRhky5hCzq-6Y65zVd21IPXHDFmvLkBhtv1YY-IA2TNK1FREjbZR_YJOA2tLU_ezc6dZxZZDhZ9LyXRcnBatlzRx3T3S0sidWCFfFrYgUM-eaZqYcvr0btd73TvoBqKOZgjeLxtKd6mNY5e0kp4OZJbHLh-pJKcntSkh_xdTdAmlqhzPGJRU_oTu8Qtlj9N9xV0zSRkEO1xMDCspy5w"
        }
      }
    }
  ],
  "Variables": {}
}
