{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key54b1367e/create?api-version=sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Sanitized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key54b1367e/create?api-version=sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key54b1367e/532a674a108745aeb2077705466d1909",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vTTG5l9JhNRQ9pbhgUzGaryq5XRcEUUVhn8UT3K-hv9gXg8MjOTFtWQITZ1GSRDUuMYJZSm-qZzZu0Ct58eYVi5sj3jchlxO_WOheJPvcLcSi2AoaYlQnkb1wITA8VUhj8_47BZRVM08OOT656JQl2n58lpQB84Af4LG4atMXgh3AjjIfYEGbig6tP_wyOPaPoM7fb-USMWyS_pOjCk8nl-kCabeNqF2FxU8nhPvSZ7QbM9SwxfKQeqbUNC3i0PjIFMVsNQFR4xLfd9MZEaLUFHHKyfY9MN3NxSOZDV7fD21Ca_1d_MuGRmWfnZ2tjJ81j1OkjWMyqutqRUi-JnMsQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1714536704,
          "updated": 1714536704,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key54b1367e/532a674a108745aeb2077705466d1909/unwrapkey?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "rA6Kjw-q4KjSgssRHY-uko3Qeqbxe8b6Ty4xaIouWTiJC0QXlv1SVDnbLRF9d2yYnOTxSsGmal7Zq6XNahIBqjEkP90V_tyY89OKQY6G0jH6lamU_c9iGQ5V781L_M2cV2VPZuQsqx4sm5AplpfRedwPg5w3W-BjiFiOtOrXVyNg-jir_jUgHJhKODswf7TqRzmoRtsUKZyfouU3KvWBRv7L1hYh_2um5VnLnjSOZrL7Vlm593fA1JoyNeB7tFQOr3Mqwtg_bVs0oxxeoc7p41GAcv0F2o9N9BQNXeYOhM-r_1vOuCbVvU0vRPztT6FVtDladVek7O7XmPXX8swEyg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key54b1367e/532a674a108745aeb2077705466d1909",
        "value": "NTA2M2U2YWFhODQ1ZjE1MDIwMDU0Nzk0NGZkMTk5Njc5Yzk4ZWQ2Zjk5ZGEwYTBiMmRhZmVhZjFmNDY4NDQ5NmZkNTMyYzFjMjI5OTY4Y2I5ZGVlNDQ5NTdmY2VmN2NjZWY1OWNlZGEwYjM2MmU1NmJjZDc4ZmQzZmFlZTU3ODFjNjIzYzBiYjIyYjM1YmVhYmRlMDY2NGZkMzBlMGU4MjRhYmEzZGQxYjBhZmZmYzRhM2Q5NTVlZGUyMGNmNmE4NTRkNTJjZmQ"
      }
    }
  ],
  "Variables": {}
}
