{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256b4493135/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256b4493135/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256b4493135/9c624e3fbc094ccc8411a7a5268306c3",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "OAYphpFVshrpag0pCtXl6j9w-EMVJYmnAj5rQU4BaiQ",
          "y": "VFoUlh6-qbLmsKVgGviehCKlz-BqLO2nbxi9Abp-3I0"
        },
        "attributes": {
          "enabled": true,
          "created": 1741307795,
          "updated": 1741307795,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256b4493135/9c624e3fbc094ccc8411a7a5268306c3/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256b4493135/9c624e3fbc094ccc8411a7a5268306c3",
        "value": "6ImvKmZq74TX0JvKdfAKNrTNGLzh4hZRo_IZkyOdc_Gn1k0KT3TSKsCiBNkBb65rZ52_Ve2Iju4k8iuJFXrPPw"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256Kb4493135/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kb4493135/c2de0b6086b44a6e95104f6a577000b6",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "zW4JCykMfLyJ_tyiq3SU3axgaCwnfvsGvCAaaOx9FBc",
          "y": "5NnYBAXJy5quJTHgHq5tF80S-mLoQbRWz_hIbLIlGR8"
        },
        "attributes": {
          "enabled": true,
          "created": 1741307798,
          "updated": 1741307798,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256Kb4493135/c2de0b6086b44a6e95104f6a577000b6/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kb4493135/c2de0b6086b44a6e95104f6a577000b6",
        "value": "OiYO0agnFyvIePTVLOASIsSFl2JgFjIbDkzFVVvLxmDUe2obsPkU-leLIzu-n3cmPi7xeGP5NOrI7ssoICOSAA"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-521b4493135/7030b49f620c492e8b8fcaf0bb076ada/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-521b4493135/7030b49f620c492e8b8fcaf0bb076ada",
        "value": "ALfd7-qsjAhUZooyaG9-wqHT4jkMUyUfXFphhVzegw8owCeaQkzAyG11RFnqyMoT8lSgWihVEXsp_gJY54Ybv33eAIdINDzaBhLEsow41qIWsDMRIf9qCmbEQO72x1_EnwJry0quXmJovXitmyq2hsy13BKa7WWofiabxP1zzMNRCQVs"
      }
    }
  ],
  "Variables": {}
}
