{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestkey037772af8/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestkey037772af8/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "84"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779476907,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1779476907
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey037772af8/7ff75e0461f0098ead47a4ee0a8f0f43",
          "kty": "RSA-HSM",
          "n": "kG9HCyIgrQaxcZVd85-qyNMH8mMv_-jE4nOUdChxbmWnq75RQc6auHw9AskOfkZgVyqqslox3Y-LpKdZyuMFOzLzKHP9ySXpqcj2HSl-JFe_MGMAAqu_jOmoqRJPguqAe_BaTq1obZY_pBayOp9RxQPCpj2u4Fhp_nZ-sJ0ZwpEG7v5-wt4vAceEyfNLb2mFnoWiH464SKBYJynVrRhArhL6TMegl1lsiQWCnLV7on799fEqK5JPUMsEImVWyX6D0kYVIohPrBfwIOXwqnJwg9bVPEAaP4yns_Ka_mCpMl4AbETYAg9MTDxl-V5tE0GtOwVFxk4xljSesKem_QQobQ"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestkey037772af8?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "28"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779476907,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1779476907
        },
        "deletedDate": 1779476920,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey037772af8/7ff75e0461f0098ead47a4ee0a8f0f43",
          "kty": "RSA-HSM",
          "n": "kG9HCyIgrQaxcZVd85-qyNMH8mMv_-jE4nOUdChxbmWnq75RQc6auHw9AskOfkZgVyqqslox3Y-LpKdZyuMFOzLzKHP9ySXpqcj2HSl-JFe_MGMAAqu_jOmoqRJPguqAe_BaTq1obZY_pBayOp9RxQPCpj2u4Fhp_nZ-sJ0ZwpEG7v5-wt4vAceEyfNLb2mFnoWiH464SKBYJynVrRhArhL6TMegl1lsiQWCnLV7on799fEqK5JPUMsEImVWyX6D0kYVIohPrBfwIOXwqnJwg9bVPEAaP4yns_Ka_mCpMl4AbETYAg9MTDxl-V5tE0GtOwVFxk4xljSesKem_QQobQ"
        },
        "recoveryId": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey037772af8",
        "scheduledPurgeDate": 1780081720
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys/livekvtestkey037772af8?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "6"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779476907,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1779476907
        },
        "deletedDate": 1779476920,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt",
            "wrapKey"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey037772af8/7ff75e0461f0098ead47a4ee0a8f0f43",
          "kty": "RSA-HSM",
          "n": "kG9HCyIgrQaxcZVd85-qyNMH8mMv_-jE4nOUdChxbmWnq75RQc6auHw9AskOfkZgVyqqslox3Y-LpKdZyuMFOzLzKHP9ySXpqcj2HSl-JFe_MGMAAqu_jOmoqRJPguqAe_BaTq1obZY_pBayOp9RxQPCpj2u4Fhp_nZ-sJ0ZwpEG7v5-wt4vAceEyfNLb2mFnoWiH464SKBYJynVrRhArhL6TMegl1lsiQWCnLV7on799fEqK5JPUMsEImVWyX6D0kYVIohPrBfwIOXwqnJwg9bVPEAaP4yns_Ka_mCpMl4AbETYAg9MTDxl-V5tE0GtOwVFxk4xljSesKem_QQobQ"
        },
        "recoveryId": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey037772af8",
        "scheduledPurgeDate": 1780081720
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "13"
      },
      "ResponseBody": {
        "value": [
          {
            "attributes": {
              "created": 1779475166,
              "enabled": true,
              "exp": 2524723200,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1779475169
            },
            "deletedDate": 1779475169,
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestcrud-rsa-keyeb6730ce",
            "recoveryId": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestcrud-rsa-keyeb6730ce",
            "scheduledPurgeDate": 1780079969,
            "tags": {
              "foo": "updated tag"
            }
          },
          {
            "attributes": {
              "created": 1779475277,
              "enabled": true,
              "exp": 2524723200,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1779475280
            },
            "deletedDate": 1779475280,
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestcrud-r[...]
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys/livekvtestkey037772af8?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "4"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Key not found: https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey037772af8 (Activity ID: a597b59e-5611-11f1-b3c5-000d3a324496)"
        }
      }
    },
[...]
