{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256f72133af/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256f72133af/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256f72133af/5b7b2082d74943258e7f49e06be23e29",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "szkkwtov_0lt92BC5XD0RDBYyOFYoC2rmDGUwZzCaD4",
          "y": "ugZjGPXHb1jP8AlaZhMvVQq_hQcxRx17KjLAzf0Cnx4"
        },
        "attributes": {
          "enabled": true,
          "created": 1668579520,
          "updated": 1668579520,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256f72133af/5b7b2082d74943258e7f49e06be23e29/sign?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256f72133af/5b7b2082d74943258e7f49e06be23e29",
        "value": "yZscxyRcu_c58Ry06lSyWOok7WqaF1f84Ea5NBxMy82qz-i87QKGxq2b4qPET7nyHsP7gE7C3m3WGsyWpjNLcQ"
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kf72133af/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kf72133af/71cf515402e34bf4b84458b8daa4b7f4",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "sHWKdFYO9VTwcn9nsAM-_b054jyxG2FD3_wI5xfI5T0",
          "y": "BwTUndDBuSBVvFF3jr_wA-GWy8aXtGfXglD_sQ_QfhM"
        },
        "attributes": {
          "enabled": true,
          "created": 1668579522,
          "updated": 1668579522,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kf72133af/71cf515402e34bf4b84458b8daa4b7f4/sign?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kf72133af/71cf515402e34bf4b84458b8daa4b7f4",
        "value": "K6NtHbHbeQE4zM70Biyv_rAxLU-gqeqSCZQ3Fe4ylaEkKExWUvstgUqekjla5KrmXvXY9cj34oclGA_RztcDFA"
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-521f72133af/7a4d04d0980743af89239e60f4c47e57/sign?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-521f72133af/7a4d04d0980743af89239e60f4c47e57",
        "value": "ATo_txqjOEDwb5daX19myCvA7OjvZZzflUQZYTDVFN-jT-RCWMA8_Bs_KXpttXzUGhJNflDb2ofjMsOnyr7PdKgRAGSPlTKsE7KKzL-ffU7VzNmDKNDCZcLNg0fLzT3qTEHgpuM0EYSKcp_oxeolYd2kJxLiQioV8T7cnpGKQ4_2Z7OX"
      }
    }
  ],
  "Variables": {}
}
