{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestcrud-ec-keyf942fe0/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestcrud-ec-keyf942fe0/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM",
        "attributes": {
          "enabled": true
        },
        "tags": {
          "purpose": "unit test",
          "test name": "CreateECKeyTest"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "154"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1715137516,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1715137516
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestcrud-ec-keyf942fe0/ef1232d8269400de149f9cd8a4297ed0",
          "kty": "EC-HSM",
          "x": "IXSPcqBI86AcW5UstYBi8LfQCfTwDn-xoh6MrUfRdvA",
          "y": "A6klAvSOSMs2X4Q19XTHNuHkT6AIS3UQAx-owsj3ei0"
        },
        "tags": {
          "purpose": "unit test",
          "test name": "CreateECKeyTest"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestcrud-P-256-ec-keyf942fe0/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "235"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1715137518,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1715137518
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestcrud-P-256-ec-keyf942fe0/09bdf9fe493c44292effe55c4df8dcb6",
          "kty": "EC-HSM",
          "x": "JDXmg5bomj9WqeeBA9DMNVvRyx5dVUHv0O6etBb_joQ",
          "y": "Ey3qvkvbrR5GvNhA3fPpvmzjJjIvYwp5qOWQrBb9gHk"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestimport-test-keyf942fe0?api-version=7.6-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "AKCRTQAjSsaDshtMFdW-2Ie9yVnC5Xr1Suc06PAHINd10nXkVSB-N4TO62ClCkZV3XKnqU0nHo7o95WaZpym53W_DiO62umRtFKdl4UotL2QUh0y3SZWeWuoK2u_x2aMj17rUFN0f9GZMZ0pqEQNCPRBLVJ_-TEe2nGCWSC0exxGsRqz6R1zFkB-icfzQPe4WjQELOUXQ7J9RxhAPTTHtDivYYG-BeTRHrmF04JT1_6b9T_C8bAC0i0teT-nmlBLarQtBJKATXBx1yegbPOoiTqlQrFQP4MrKWNxtnB9Tcbjcvj-Z9je0ckI_eRc4DvAhqcUh_p15Dqg4GeaoNIO_jU",
          "e": "AQAB",
          "d": "Ynx9JGaBSP4iUsf6ZJ6opantRNdcdmzaQrKbZg6ZQE8Ohi1FYabJWvaoPSE-CiJEsDzShXZHMhUHN4X7Bn8BXaGQhK3p9HXgiwQKmix7oAJTu4ElUIyd8UC3UWHSZr40el4PaQD-HYu_eMzCXus34MnRiNbh_BUWm6T-Eidhk9d3kNIyaSi9YNDQHW6tjWrEhhq63O7JU1j9ZonFChZxpKk20jdkQKQURVAdpOdL-5j4I70ZxFuU6wHZj8DS8oRQfwGOvZKbgYDb5jgf3UNL_7eACqq92XPVX56vm7iKbqeyjCqAIx5y3hrSRIJtZlWCwjYnYQGd4unxDLi8wmJWSQ",
          "dp": "AMmhWb5yZcu6vJr8xJZ-t0_likxJRUMZAtEULaWZt2DgODj4y9JrZDJP6mvckzhQP0WXk2NuWbU2HR5pUeCN2wieG1B76VKoH76vfnaJDqT1NuJVBcP2SLHog3ffwZtMME5zjfygchG3kihqOSpwTQ9ETAqAJTkRC38fEhwAz_Cp",
          "dq": "AKC9TAo9n2RDaggjdLXK8kiLrBVoaWFTpqXkzYXRhtsx4vWPAkxhfSnze05rVMl6HiXv7FnE0f0wYawzUJzoyuXBH0zS6D9BqCZPeF543AmWB27iPf38Q9Z8Rjr6oBgMSnGDV_mm8nDVQkeaDyE4cOZh-5UKvKShTKKQVwunmDNH",
          "qi": "AJ_nrkLpK8BPzVeARkvSHQyKwMWZ-a8CD95qsKfn0dOZAvXY-2xhQYTEwbED-0bpTNEKbIpA-ZkaHygmnzJkNbbFAnb9pkkzU8ZQqDP3JNgMfVIroWx58Oth9nJza2j7i-MkPRCUPEq3Ao0J52z7WJIiLji8TTVYW_NaiM1oxzsH",
          "p": "ANHerI1o3dLB_VLVmZZVss8VZSYN5SaeQ_0qhfOSgOFwj__waCFmy2EG7l6l6f_Z-Y0L7Mn_LNov68lyWSFa2EuQUeVj4UoFHc5Di8ZUGiSsTwFM-XMtNuv8HmGgDYLL5BIJD3eTz71LdgW-Ez38OZH34b7VeG8zfeUDb8Hi30zz",
          "q": "AMPcZrZBqbc82DO8Q5zTT8ZXRGWrW36KktMllaIk1W2RHnRiQiW0jBWmcCgqUcQNHa1LwumjyNqwx28QBS37BTvG7ULGUoio6LrOeoiBGEMj-U19sX6m[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestcrud-rsa-keyf942fe0/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 2048,
        "key_ops": [
          "encrypt",
          "decrypt",
          "sign",
          "verify",
          "wrapKey",
          "unwrapKey"
        ],
        "tags": {
          "purpose": "unit test",
          "test name ": "CreateRSAKeyTest"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "150"
      },
      "ResponseBody": {
        "attributes": {
          "created"[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestcrud-rsa-keyf942fe0/bbc69260b8c744391210f5911df578b1?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240409-1-59392ba8-develop",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1715137521,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1715137521
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "sign",
            "verify",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "wrapKey"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestcrud-rsa-keyf942fe0/bbc69260b8c744391210f5911df578b1",
          "kty": "RSA-HSM",
          "n": "5DOhTeg88ZFbzHHFPbYPdYqKl4qoCaDkuQkYZvkxrj6NiwMnz0zHyXjQzI9DOecnV64RuIa_Z-4CIcm44R0XPjPFR5QYDLrwfT2MdDWD0J0tUQFuQ3WWjCgDPebZfjqQQIUWbM7_ExGDlUlO9RRJjRWKjyf2uY-SmrSC6mL3HrPbLAxC2bouLiYi9ZUErpARgH8YvUk44U8M0AAbityo_8LeNsl69P6J9kPSk_5Huiw0jQ-j-P7UOkwgv5P8izLo8RWBRWFN30NT0rNeGy71Zddp8Hj_ZwXj8YQTFdt0CQsHqph4Qq6-5f1YqcMVSFhC5uNJoLt5Rwb-EUfWhyR-PQ"
        },
        "tags": {
          "purpose": "unit test",
          "test name ": "CreateRSAKeyTest"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestcrud-rsa-keyf942fe0/?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240409-1-59392ba8-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "attributes": {
          [...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestcrud-rsa-keyf942fe0/?api-version=7.6-preview.1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key_ops": [
          "decrypt",
          "encrypt"
        ],
        "attributes": {
          "exp": 2524723200
        },
        "tags": {
          "foo": "updated tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "30"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1715137521,
          "enabled": true,
          "exp": 2524723200,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1715137524
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "encrypt",
            "decrypt"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestcrud-rsa-keyf942fe0/bbc69260b8c744391210f5911df578b1",
          "kty": "RSA-HSM",
          "n": "5DOhTeg88ZFbzHHFPbYPdYqKl4qoCaDkuQkYZvkxrj6NiwMnz0zHyXjQzI9DOecnV64RuIa_Z-4CIcm44R0XPjPFR5QYDLrwfT2MdDWD0J0tUQFuQ3WWjCgDPebZfjqQQIUWbM7_ExGDlUlO9RRJjRWKjyf2uY-SmrSC6mL3HrPbLAxC2bouLiYi9ZUErpARgH8YvUk44U8M0AAbityo_8LeNsl69P6J9kPSk_5Huiw0jQ-j-P7UOkwgv5P8izLo8RWBRWFN30NT0rNeGy71Zddp8Hj_ZwXj8YQTFdt0CQsHqph4Qq6-5f1YqcMVSFhC5uNJoLt5Rwb-EUfWhyR-PQ"
        },
        "tags": {
          "foo": "updated tag"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestcrud-rsa-keyf942fe0?api-version=7.6-preview.1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "30"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1715137521,
          "enabled": true,
          "exp": 2524723200,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1715137524
        },
        "deletedDate": 1715137525,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "decrypt",
            "encrypt"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestcrud-rsa-keyf942fe0/bbc69260b8c744391210f5911df578b1",
          "kty": "RSA-HSM",
          "n": "5DOhTeg88ZFbzHHFPbYPdYqKl4qoCaDkuQkYZvkxrj6NiwMnz0zHyXjQzI9DOecnV64RuIa_Z-4CIcm44R0XPjPFR5QYDLrwfT2MdDWD0J0tUQFuQ3WWjCgDPebZfjqQQIUWbM7_ExGDlUlO9RRJjRWKjyf2uY-SmrSC6mL3HrPbLAxC2bouLiYi9ZUErpARgH8YvUk44U8M0AAbityo_8LeNsl69P6J9kPSk_5Huiw0jQ-j-P7UOkwgv5P8izLo8RWBRWFN30NT0rNeGy71Zddp8Hj_ZwXj8YQTFdt0CQsHqph4Qq6-5f1YqcMVSFhC5uNJoLt5Rwb-EUfWhyR-PQ"
        },
        "recoveryId": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestcrud-rsa-keyf942fe0",
        "scheduledPurgeDate": 1715742325,
        "tags": {
          "foo": "updated tag"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys/livekvtestcrud-rsa-keyf942fe0?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240409-1-59392ba8-develop",
        "x-ms-server-latency": "6"
      },
      "ResponseBody": {
        "attributes": {
    [...]
[...]
