{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtesttestKey596c2fc6/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtesttestKey596c2fc6/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtesttestKey596c2fc6/82d4cb2a113b48bba2cd6d934130a084",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rWsMk0891fRCLghXK9uAkxaRQyZT-X_cXNCXf1jnRKjOYlAj9AnLGtuEyVRZ81OqbRFxBtLwcMe24I5rrO27N5-drtNCr4hMoZtYBMNUt94-hFtH2B1pSRNJaNZoI4txXCfCtvRvjl4iqxwDfQAG8v1ZvmynB2fF2m4l1i57vVEUME_aWfHCuftIhURL01XlstNI8Ei0chV3B6y0AD0v0SH2t3-Bih9nG07uKprW-snCy3qaT-oDKq9ChrFSeZiJa2MJfXuFoBL4q6XkW_aRrQQMIOoGBhSG1LdwBQSdP7QZC7R8GkdcJnF-x7pVj_K1mK0esrqg3dmfrJQpR3M5PQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779587098,
          "updated": 1779587098,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtesttestKey596c2fc6/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {[...]
