{
  "Entries": [
    {
      "RequestUri": "https://mcpatinokv.vault.azure.net/keys/livekvtestrsa-not-yet-valid9123b31/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://mcpatinokv.vault.azure.net/keys/livekvtestrsa-not-yet-valid9123b31/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {
          "nbf": 32503680000
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://mcpatinokv.vault.azure.net/keys/livekvtestrsa-not-yet-valid9123b31/092f8f3c82c94edc84bc77499d87c740",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uYRZ2QAtCGPUrgwwqo0ceh-NAEkI3COAPWtuKEIlxX5iH7MpwU2ZG09IWqbF_KfJi09hC2lhd9xp40cqv3SKr_AF_WxMeJKbDsX5YyXn42QTgj9hmjRyoQEMwy_Yso0VDXvUO7Csb5veyuUn-5ny2G4Y1PK4UtcyIigtV8HsmqSMhCZtZ5dqTm32iVSKQPes0uFAXrOSBW8s5eYAidZkgi7j5gIJPfLrnvGeAh3deUtYTVclIASCc88dH_oa22fLWoqoI6u6WUuy2t_RmdBvsfngplS5hrrr8hAkX2WBEPUMSy-mK--gZBAr26d2CVO7yIM066FaAlNwMp-Rq7WdMQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "nbf": 32503680000,
          "created": 1691701295,
          "updated": 1691701295,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://mcpatinokv.vault.azure.net/keys/livekvtestrsa-expired9123b31/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {
          "exp": 946684800
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://mcpatinokv.vault.azure.net/keys/livekvtestrsa-expired9123b31/549b074b786c4ffbb7593dc46c53987b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yCYuZCmAGnaJC-7zqn-BujtJoZhytVqHCsW069--Xwde_EdyO6Nz2VC5wj0jUEne_OOFwrf9ytd0gnjnjmeycwNnd72mXnwEKPIB3wO9Jzt4lfcWEBbMWVFlKSK36jeI-K0Fognnf0qwwD4p32tdfPnGs9kkwRlOfP0aKkTbpFY81hgG4shRnWXJ32pgX9_duF1-tz96Of2uc2xtJXBYr8jtYuPYG7JkbITuFLWkxUHN_vd_-hyQeJQ7nt8-0ROk8LgrdEsAoOTS9yBTRscJNTqDgfdKWmMf_AgsTMG0GsZaYquJtN7Jf14ZtsCpRmj8ULHFimFHkGHV_5SWyscx2Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "exp": 946684800,
          "created": 1691701297,
          "updated": 1691701297,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://mcpatinokv.vault.azure.net/keys/livekvtestrsa-valid9123b31/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {
          "nbf": 32503680000,
          "exp": 32535216000
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
     [...]
