{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-namee5fb3775/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-namee5fb3775/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "attributes": {
          "exp": 2527401600
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-namee5fb3775/0f112828df194469a69bbfe1511c06ec",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "45SCOdb2YHqe_fIBe-KsQryzCp4linqiybd3r4iDK3sIYL7h17MoiqOFSDUTg67XcwsJxYle9pO-v0DZRbVNMriMohyYVBE3SeS4x3Hnx_2mN0bgMUL3AmrdeUsoK1QS-PR9pQMSASELkGSeRdmABQbpnOjfNDg_iUuP6_JpuDJy89e33lXEPInBUCU65WKVkNPwTI9hQghBsy207HyqyRzlmwAOXvFCS8vhBqZLhmg8P4aXR9BNM6ltTDIBt_wVaiaWUJzHxYynxHBNq25ErsEKYJ0R21PWcnQU-za3NW84fCb5NLAhFklZGIZ_lDI-KtN2zlZbfk0GqdqogmrU1w",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "exp": 2527401600,
          "created": 1668580277,
          "updated": 1668580277,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-namee5fb3775/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 2048,
        "key_ops": [
          "encrypt",
          "decrypt",
          "sign",
          "verify",
          "wrapKey",
          "unwrapKey"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-namee5fb3775/5a55b767b0bf4c98b1f89da83a33f99c",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tgDds-exXTofV7R_YonU6kVMSs30zb7B5V60MTMvm9L4Gf0bmSDYu-PPzpMZqbFU3Q_hXlAjFWwCEBthbgiERX_lezX8STG9ihXknITG8q8ZcFle_WsynjBQhPuHjFDyaperL5racaaZzw8gPII8lRbucZLSuf9cYZtEtXrmy_yekZFWeK6OYtoZGYom9chmu3V-scRM4V5bxzgJfMtyq_feR5_K1wi3fzKDCA5bUxlxbz2iiBFiFsJdH1J0tf0qv9_at-1DAfblpF6dn3w68JP9rSZls1jxX5wAzvU0W8tr5KhuPqjTTWC1tPCYQ5soNRpmPcC4Yuw8xOA6iXlpmQ",
          "e": "AAEAAQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1668580277,
          "updated": 1668580277,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-namee5fb3775/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-namee5fb3775/d3e788d0f7eb4b5295b41b3e18c2fe73",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "S_Nuv0mQx1KbikApXrKVEvMYXgiR773mJiEGUHTb1OU",
          "y": "f6xqdveeBZ1YbrUi2ju-Lqb3pteUEf-NOHqd_Ir9L5g"
        },
        "attributes": {
          "enabled": true,
          "created": 1668580278,
          "updated": 1668580278,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-namee5fb3775/?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-namee5fb3775/d3e788d0f7eb4b5295b41b3e18c2fe73",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "S_Nuv0mQx1KbikApXrKVEvMYXgiR773mJiEGUHTb1OU",
          "y": "f6xqdveeBZ1YbrUi2ju-Lqb3pteUEf-NOHqd_Ir9L5g"
        },
        "attributes": {
          "enabled": true,
          "created": 1668580278,
          "updated": 1668580278,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-namee5fb3775/d3e788d0f7eb4b5295b41b3e18c2fe73?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-namee5fb3775/d3e788d0f7eb4b5295b41b3e18c2fe73",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "S_Nuv0mQx1KbikApXrKVEvMYXgiR773mJiEGUHTb1OU",
          "y": "f6xqdveeBZ1YbrUi2ju-Lqb3pteUEf-NOHqd_Ir9L5g"
        },
        "attributes": {
          "enabled": true,
          "created": 1668580278,
          "updated": 1668580278,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-namee5fb3775/?api-version=7.4-preview.1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "exp": 2524723200
        },
        "tags": {
          "foo": "updated tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-namee5fb3775/d3e788d0f7eb4b5295b41b3e18c2fe73",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "S_Nuv0mQx1KbikApXrKVEvMYXgiR773mJiEGUHTb1OU",
          "y": "f6xqdveeBZ1YbrUi2ju-Lqb3pteUEf-NOHqd_Ir9L5g"
        },
        "attributes": {
          "enabled": true,
          "exp": 2524723200,
          "created": 1668580278,
          "updated": 1668580278,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        },
        "tags": {
          "foo": "updated tag"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-namee5fb3775?api-version=7.4-preview.1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-namee5fb3775",
        "deletedDate": 1668580278,
        "scheduledPurgeDate": 1669185078,
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-namee5fb3775/d3e788d0f7eb4b5295b41b3e18c2fe73",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "S_Nuv0mQx1KbikApXrKVEvMYXgiR773mJiEGUHTb1OU",
          "y": "f6xqdveeBZ1YbrUi2ju-Lqb3pteUEf-NOHqd_Ir9L5g"
        },
        "attributes": {
          "enabled": true,
          "exp": 2524723200,
          "created": 1668580278,
          "updated": 1668580278,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        },
        "tags": {
          "foo": "updated tag"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-namee5fb3775?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: livekvtestkey-namee5fb3775"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-namee5fb3775?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-namee5fb3775",
        "deletedDate": 1668580278,
        "scheduledPurgeDate": 1669185078,
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-namee5fb3775/d3e788d0f7eb4b5295b41b3e18c2fe73",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "S_Nuv0mQx1KbikApXrKVEvMYXgiR773mJiEGUHTb1OU",
          "y": "f6xqdveeBZ1YbrUi2ju-Lqb3pteUEf-NOHqd_Ir9L5g"
        },
        "attributes": {
          "enabled": true,
          "exp": 2524723200,
          "created": 1668580278,
          "updated": 1668580278,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        },
        "tags": {
          "foo": "updated tag"
        }
      }
    }
  ],
  "Variables": {}
}
