{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-20482cb837ec/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-20482cb837ec/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-20482cb837ec/75efa9f2e04047c89bb923b2317e921e",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "sGGmT2z4NuRTpVe3iqbfg_hCGp3UYsUR83pdI59UBrCaTM2Ox_NYOgc6WF7e2g_Jz2EDbqMqJxneNCyGWti0NqDnd-ytM35VQi-9-KSBxfjtNKbNJ8fbiY_eJ9Xn5K4J6yRuHak5BmpoDZJ5Bn7rOV4YDLXvxd1bPM_YLhcgY_GuMsvckefj1pev_68NmxIFxZUrggf8orNR7ZstEoBD5mDA4zV-nemkW-vFUk4zz1wg7VTm4htir3ejI3RnIuGIJbCDXsYZzY5ifuWSVtUKHKIHoeH58Jh_wrqIksNCz-mgjrFf4aKy_noQfTf7W0m9pp14NS1ui4v5Ufk5injRRQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1691709731,
          "updated": 1691709731,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-20482cb837ec/75efa9f2e04047c89bb923b2317e921e/sign?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-20482cb837ec/75efa9f2e04047c89bb923b2317e921e",
        "value": "p50sVgv0AH1Lq75PYbKtGI8DqURDLTgK08dZG6Mr6o6-LLbNZrJdlzkcWv12G2hh5_ooxHj6klACqd2XWb7E3afil4MrGYlg5Y0R_M4M_ToYlAo5rAPdPgVxGv3kCNZ03A5ttEFdmCjwYWozxQs_E992piCJf2-pWZX_6UK6l7cFIhpxS_yC_fJuHhW1C7rq0309nmc1Pbt84lFgiM6pCIrhICvFPzr1dKEdwjlAJbSumdduMm1zFqyZeimp6mjT4ktkNVMMwwE89CHd0wi6PxiFgB492TzWYwiXcLH13MuJOugTLN4mbr0av4n2txMFYuOYJzG01HOMNz2LWopwtQ"
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-40962cb837ec/66fa1763305c4597ba52004558e4f241/sign?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-40962cb837ec/66fa1763305c4597ba52004558e4f241",
        "value": "OhmT76UodUtKQzk6y0ut__NNKniOgtLfosVodFPiNf_IHi9d_ouv9t_WjjkUbE-n8bXZVbdSJYOOCDHM5fy25189srg-s0kghOdU1s1O2KcPwhjc922h5asrQjyIfVZ6gfUZB1_TVoyTLI-ZWuW9YHF3RfKlrRKhaHq7lEl0lFjr1Jo_rLsYysUB1iRcNAfO1V5yGdjeWBpCPblj-CoGFVdMuFdtO1g2SMxqojXrokUle0ktHlgf-GvHHU5aY2ITD36E0aSEV_qsP_cxLhBb7OsW_SRu0KnqPZG0jAecWbeloA0NTs7iUIms1FizpJXVRzdzCd8vGlDqWvladVjV7xcM1JKpPy6bC1-7PjCJ91mNsh1YEc-SpgUfMVZrcLz_kCA29JdzxYp38LLIMwV_wKIVMrU3QWBV3D8QJDD5berFnzhiTll1ehCXgEoSSBqpuRp_xQY1xJK9DO0DE6mfWjCGSTHsZbnD2QlAQqZpyDcwghwrHdZj3UzVWWZF1dT-PsgLd8_5IZwLBp2_MIe8limcbpgKxheYWCFq-ZNP-LSYC1fnJXFv-y0LmwFFEIv5oTys8BKu1JMwqFonMoLaAA5A7_DyOr1tHOWGAMK_rgvr45QkLSDsJuHwNEB6T67jllHWAufoOpPpBHaKbpeFskofbhppRLADSg6Wm9qea0E"
      }
    }
  ],
  "Variables": {}
}
