{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrotation-keya3ae2d46/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrotation-keya3ae2d46/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "142"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779477256,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1779477256
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "sign",
            "verify",
            "encrypt",
            "decrypt",
            "unwrapKey"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrotation-keya3ae2d46/fa92cd79784d064c9efa80caffaebfd4",
          "kty": "RSA-HSM",
          "n": "jUGrSlv3b2pEiwDpamnfaHWLhIHVgiv0HShz_0AiXwtdbzBOqABwolGDOu4miP3iDlXGalLDUF6vCEkOctcnqCXqPruMftyiHKnLXzK5WMPMBS2wNBHD3Hh4IMcSnH4K1TKAEO5pNZYWZvLSGYY9sQ451r5eLE7qBHlZQdJTv7lWbWXpXW7ZHPe8fj_e4y_nmgLshlKdGHdBL6xluvH1wkV_zr-xBNakRlEQ-TxGApdeXSkza4Ofpiog7VVOUa2C9JHRKjz4PMbAMEwGsWO3f3wg0a_tsHLxjuJ7pxl80IRpLtY80OvyExvtZ3DsErNfCvEaOEJ6HtbMyW_dTYOsXw"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrotation-keya3ae2d46/rotationpolicy?api-version=7.4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lifetimeActions": [
          {
            "action": {
              "type": "Rotate"
            },
            "trigger": {
              "timeAfterCreate": "P2M"
            }
          }
        ],
        "attributes": {
          "expiryTime": "P6M"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "35"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779475366,
          "expiryTime": "P6M",
          "updated": 1779477256
        },
        "id": "keys/livekvtestrotation-keya3ae2d46/rotationpolicy",
        "lifetimeActions": [
          {
            "action": {
              "type": "rotate"
            },
            "trigger": {
              "timeAfterCreate": "P2M"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrotation-keya3ae2d46/rotationpolicy?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779475366,
          "expiryTime": "P6M",
          "updated": 1779477256
        },
        "id": "keys/livekvtestrotation-keya3ae2d46/rotationpolicy",
        "lifetimeActions": [
          {
            "action": {
              "type": "rotate"
            },
            "trigger": {
              "timeAfterCreate": "P2M"
     [...]
