{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestec-verify-P-256c22a3339/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestec-verify-P-256c22a3339/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "226"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1697668588,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1697668588
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestec-verify-P-256c22a3339/4b4ab93d5fc306c388f0fdbe54809972",
          "kty": "EC-HSM",
          "x": "6THkq3jT5pOkxZEfY9zJ3be_R0g72ONQ3y764cCMhDY",
          "y": "D6xCNfrJgCnUXSsgaaQek2xruYUJwzjdJSUxpcc34ME"
        }
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestec-verify-P-256c22a3339/4b4ab93d5fc306c388f0fdbe54809972/sign?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "45"
      },
      "ResponseBody": {
        "alg": "ES256",
        "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestec-verify-P-256c22a3339/4b4ab93d5fc306c388f0fdbe54809972",
        "value": "ICMMkL2RG1vadkes1c7Zg-6Hw9OiRA5QgyF1vxMKhihCA86_0zNlS2240XKIA-xCCu_zUjFsrQedIusdIBMCfA"
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestec-verify-P-256Kc22a3339/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM",
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "227"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1697668590,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1697668590
        },
        "key": {
          "crv": "P-256K",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestec-verify-P-256Kc22a3339/5d3f38adb3ed43ccaa6dda244a48c503",
          "kty": "EC-HSM",
          "x": "WlQpe76rbpyyRiDqLWcEJs5BrpWhX2uZ27c9REXajKo",
          "y": "o4Em8vsCN0htw4pjFAcMz0PqFm1aetCaR86R4OgzZXs"
        }
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestec-verify-P-256Kc22a3339/5d3f38adb3ed43ccaa6dda244a48c503/sign?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "41"
      },
      "ResponseBody": {
        "alg": "ES256K",
        "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestec-verify-P-256Kc22a3339/5d3f38adb3ed43ccaa6dda244a48c503",
        "value": "BA6W7hVLl8QOtj-25NY4r0tFO9dPeFs-lp9O92lBA3AC4hlaGWroyMrVhrdvn3fSMMlUcETwipECT6-0slsv3g"
      }
    },
[...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestec-verify-P-521c22a3339/0126b5a4b44040b51b00429055c633af/sign?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "64"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestec-verify-P-521c22a3339/0126b5a4b44040b51b00429055c633af",
        "value": "AHm9y7mYgZQ9fnOi9Q_69p-CBhEBCB6Q7UhjfgyX2bPa9-ahkkOo3ZMIkOaP08K72_vfvyn93XF3mkOR95p8I7pBAeU3FuSLCIU4whyXuSIlyz0jIKTKnYPT9nr1lFlJwyysA1x9D3XmqBR3s5CEOvs46qAsAmhWPUwLw-6ZCAUIhSgJ"
      }
    }
  ],
  "Variables": {}
}
