{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestkey02ba32d21/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestkey02ba32d21/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "140"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779477092,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1779477092
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "sign",
            "verify",
            "encrypt",
            "decrypt",
            "unwrapKey"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey02ba32d21/1b1495388f30028ebd9a79f469f3c9b8",
          "kty": "RSA-HSM",
          "n": "vVQKYUF4cK54r9ANIDE84t5iKheQm6ZEXJxTN9i9QOFvU-uqx5g27hdzHvgpZnqbIrze2RTpTHJ4G_K8YYQLOBDC9rg5RxVF_hTaR3a_TP7-6Tq61ZCAMiqaE7F82cE8X9r7vIKPiXmtQX3bns0JGYXymU4LZEH_o-a4KA-i7UPFNSYqtCOeJ2cUPqBNEndbrGwNxAUk8V-N2wiAt2yoV-5RRZWgbSewrjFOrm9d1mn5U-LQS2LefoRMaDpHe2FmsXOfzqasPCJdoqUTnQcu4XRpzBFjYGeBSin7x7OvknU8TWCvoFpvIpcmBB7zMSBBtqafBcIXOxWBU3E9YipCOw"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys?api-version=2026-03-01-preview&maxresults=6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "10"
      },
      "ResponseBody": {
        "nextLink": "https://managedhsmvaultname.managedhsm.azure.net/keys?maxresults=6&$skiptoken=Sanitized",
        "value": [
          {
            "attributes": {
              "created": 1779476153,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1779476153
            },
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestmultitenant-key22f736e3"
          },
          {
            "attributes": {
              "created": 1779476167,
  [...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys?maxresults=6&$skiptoken=Sanitized&api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "nextLink": "https[...]
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys?maxresults=6&$skiptoken=Sanitized&api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "nextLink": "https://managedhsmvaultname.managedhsm.azure.net/keys?maxresults=6&$skiptoken=Sanitized",
        "value": [
          {
            "attributes": {
              "created": 1779476460,
              "enabled": true,
              "exp": 946684800,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1779476460
            },
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-expired64dc392c"
          },
          {
            "attributes": {
              "created": 1779476463,
              "enabled": true,
              "exp": 32535216000,
              "exportable": false,
              "nbf": 32503680000,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1779476463
            },
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-valid64dc392c"
          },
          {
            "attributes": {
              "created": 1779476484,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "Custom[...]
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys?maxresults=6&$skiptoken=Sanitized&api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "8"
      },
      "ResponseBody": {
        "value": [
          {
            "attributes": {
              "created": 1779475375,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1779475375
            },
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey-name363d3366"
          },
          {
            "attributes": {
              "created": 1779475379,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1779475379
            },
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey-name5bae31b4",
            "tags": {
              "tag": "value"
            }
          },
          {
            "attributes": {
              "created": 1779475381,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1779475381
            },
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey835e35b6"
          },
          {
            "attributes": {
              "created": 1779475383,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1779475383
            },
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkeye9303833"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
