{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsakey5e1f2f9f/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsakey5e1f2f9f/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "78"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779474880,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1779474880
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsakey5e1f2f9f/47d23dbd594c4229017d63db427d362f",
          "kty": "RSA-HSM",
          "n": "iiruA2GeT19DagznpbgjoUYCw87_aYvrQOkYeIK5JhJDIlFbkDRnEOfBtxpXqs-_Z7nqvNtdS0xQ1Xvdmp_XzqmoXMd-SfmjTmcvEty8gxvKX1C1iry8LwpByUkip5SWsOpo0q4jK4GP-sq2IGH5pwyLzVVcgLxYq-BQLC58aCSw1AF62UlYSWbRYjlHbakvAl70JQjQxbiHZsVp2pWHz_WQfqe1D90Dtj2vuuxiYZC5tntI4eiMUC-GUWSMLOEKrlfPLYJmzZigWnZvxfExLL8_Sp97E7Z82z_qNR0tNWunEFI4IcbFiS6oPd6w_pOPeUtFjZgy7B_nKl8_Kwv-yw"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsakey5e1f2f9f/47d23dbd594c4229017d63db427d362f?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779474880,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1779474880
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsakey5e1f2f9f/47d23dbd594c4229017d63db427d362f",
          "kty": "RSA-HSM",
          "n": "iiruA2GeT19DagznpbgjoUYCw87_aYvrQOkYeIK5JhJDIlFbkDRnEOfBtxpXqs-_Z7nqvNtdS0xQ1Xvdmp_XzqmoXMd-SfmjTmcvEty8gxvKX1C1iry8LwpByUkip5SWsOpo0q4jK4GP-sq2IGH5pwyLzVVcgLxYq-BQLC58aCSw1AF62UlYSWbRYjlHbakvAl70JQjQxbiHZsVp2pWHz_WQfqe1D90Dtj2vuuxiYZC5tntI4eiMUC-GUWSMLOEKrlfPLYJmzZigWnZvxfExLL8_Sp97E7Z82z_qNR0tNWunEFI4IcbFiS6oPd6w_pOPeUtFjZgy7B_nKl8_Kwv-yw"
        }
      }
    }
  ],
  "Variables": {}
}
