{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-verify-2048211a351d/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-verify-2048211a351d/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048211a351d/e18d500ef48c46b5974508778b96cd21",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "05GkdZWgUklsACpnNh9UkZTPf3MQQeczpXA3GJC5YOf0il3Z-PzbSXlWwBsWoh2B5TeDZMmbdd-_s20FjbKh_Ofqv4K0O1PVEXWp_9GftRjhj88RPll7VDaWr9mKRAM91HmSvL_KOQkDyHDgW22Ge8fUgw1A2a5m17ey9fZ4mij2a4wAkqTBFgthVzBbLchK7-R1M8P-2uXAaeoCzeXtzJ_U23uPBEsSMUJ__nU9wAGAaDAPlVgpmsSwxYB9DzO6dTm8rmDXGIVMtlbm-oLQpIw_0itYoxWS6I5g3H09CMEyY0gqV_hYCPmk-kg9n9uBWOA-a0913IcFGfLNF0vbJQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779476618,
          "updated": 1779476618,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-verify-2048211a351d/e18d500ef48c46b5974508778b96cd21/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048211a351d/e18d500ef48c46b5974508778b96cd21",
        "value": "S6oB2Sy_-HVEfriXzuZlFP6qDB9ShaiMuPpAV_Q3DhVHLTk6BYvQLHeNTXh8ljdaA_8bYy8ov42pEHre9rzJa1M1PRFyBVD_KeYOBy9rUq0ndZ4TQ3lDUBmMBFs9A7owx5pj8NFWse7YHMHB1BS3bNrms56YtCTtnSuy9O6hX1IThDw2WzBl_cjDtaQFjxv62vA81aqS5n6aR3AsITgc9KCeUX2tH8OdVCagbZd5-tR3mhrRhxucjLjOCs1gFDYp8dhmNodbtB_Qi6cOZ6zBlgCIqWK67MHPv4680nCnc68e6FT38s4VhMDnhb7pFdhVOSUoKB8a_NFaIS5B6TFSiw"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-verify-4096211a351d/e1c05ee9e1d54b99b54fd43de58384fc/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-4096211a351d/e1c05ee9e1d54b99b54fd43de58384fc",
        "value": "eGQSB8r2axQJHJBcpeaa57n3i8giD0jKwFPupkgOAxv95JNr7t4l5vvJY5woRw_mfhUMSKeeuIPiBV5Vh_E8_podI8WDOdfVhzkvP_DM_hUwMaP8CrVbjxs0_hkAboez78yloO3NZt3n7H6E2adVhcrkaZLIWPstAGcIo1XyiP-cpXzbB7GNAMNo5TaWiQF-56XKeCk1gR8HBS9EDd1qlCf7pACwmAvSBkOtAjWR8XcWE1zOEwJ8p8Ng2Cc-0RDVA2G-rpI5-fxvY-UrToTaSD3_WlO5cQw-FysQssjsh1utPK2G4vSeKmjvDX92dScK9zBt7TqeFU9GFoXfp3EIcqUjxhH384jMwbOT9EGF2Hl_yXmTckLFmBCSgkh-z8adZNJOEZ1ux0sKc3dWHsghyBcIBkISXvZZXKlv2wmDpD295eud_TxwfbX_amvKjtVvVUImvryyqo0Fq31Uq7RcHHl0hL72gPGY_RTFX7YdxzgG4XT9q7LRuOML5sWcvdNEAk0iRQ5SZNElBk_mdGM1Rr3mUJkjSR4sVIqJ2utRsO_EFHewYe56F_AlqrsFYct1hMxsfh5u26Z_WEV2iyss7B4qVru52xkBW9fthWcqK5Rz38PMiQ7FOWdYHHc17ldGRz_Zv1z3IVa4u4vGYYcxKgPq4-WQxayCR1M9EoVroFQ"
      }
    }
  ],
  "Variables": {}
}
