{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestmultitenant-keyc2ba38ea/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestmultitenant-keyc2ba38ea/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestmultitenant-keyc2ba38ea/7b03ffc8cfa64ae8bc0c5c91a674b0ed",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "s55-uBglVzhTUYdWzR7__-GddqZIhDdaFdsOlqmBBOjSlkXPMQOtc7FGOF0NKo7otHvrnaSRLQDXzMNmQiMRH76AksigeFuzN8ZJTHwZEkW6utSAH2iNeHGzwUUz-gkmOeGp2X9_ZSoG3NYvp_9Rx5mI51RbeVB1lSlW1b7qvawB1YJPznYfXn-ivesVtgaxPzuC2uz6HF0FP1_IY6QOSs1Oj2DAk4g6adXOEzQ8UUzaC3bTBIpNezKvo6UeO5a5Jq2dGke_4A5X8T54TfdQf8utFqWX2Kec4Z81kcP5AB3CVqEZYcvHs0LsK1-__KgWnrQpSdZxyfG3SnyRDrkAxQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1741307723,
          "updated": 1741307723,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestmultitenant-keyc2ba38ea/?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestmultitenant-keyc2ba38ea/7b03ffc8cfa64ae8bc0c5c91a674b0ed",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "s55-uBglVzhTUYdWzR7__-GddqZIhDdaFdsOlqmBBOjSlkXPMQOtc7FGOF0NKo7otHvrnaSRLQDXzMNmQiMRH76AksigeFuzN8ZJTHwZEkW6utSAH2iNeHGzwUUz-gkmOeGp2X9_ZSoG3NYvp_9Rx5mI51RbeVB1lSlW1b7qvawB1YJPznYfXn-ivesVtgaxPzuC2uz6HF0FP1_IY6QOSs1Oj2DAk4g6adXOEzQ8UUzaC3bTBIpNezKvo6UeO5a5Jq2dGke_4A5X8T54TfdQf8utFqWX2Kec4Z81kcP5AB3CVqEZYcvHs0LsK1-__KgWnrQpSdZxyfG3SnyRDrkAxQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1741307723,
          "updated": 1741307723,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
