{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-key-name3f532c35/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-key-name3f532c35/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-key-name3f532c35/fc78cabb77ab49fa9dbd5f50c17fb0c5",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "2Sl9zK2OV_X8hP1Legqxe2s06aITk9Un_Hncpm-QKz45_fnZTnCRy07pJ_upYfXbLZjuArVgr92A0kxUcSyqHd9dYJKViaSfE3oElH_izLgeevgXUWhnRI_RuRElBcGj9q_BuG89VdvnhSKdv2KoJbS9ErNdjZHXg-ydryfhQmKN9a_aNLMPaopmoJKO1AzJfOeUx7aRClyo0p-QtE4zwUFKE2FVgyuOe86Lxn9vJHoBhAbecVev1O-NUTbPwh4L8bKIfiWoI3sU5mfYsh1nkKNEnhdf7wFeX1oqUDwmdqO16PGQQSOqGmQC9vijV9ikkWJVGB0eI6T9OrsLLW-oUQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1707349998,
          "updated": 1707349998,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
