{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-key6b322d9d/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-key6b322d9d/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "public_exponent": 17
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "265"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1777476622,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1777476622
        },
        "key": {
          "e": "EQ",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-key6b322d9d/4a0f0cd3e424446682af444cdc6ef66f",
          "kty": "RSA-HSM",
          "n": "wyU-PReOl9Lvf6ZlXZ8L1xCdT9H9YyPpeQq4LH-J4hu3bRv9Dw50iNhijHxnwqux6jZ9Yd7WE637911bZWv2Zt2M_4cVu6KQV2E6WvQrbetVg4iFp5xIoRt1oOrAFOpWj9lXGGWAXvuuRsjvAAXeDEq-4iqkGv_z31uP1YSelOUsfOLst3sD3yOnvV51EQAp2b9Mmrzh_f9r9QZ8f58PkiM0pTh2FTFmuRlilmkbQaqD4IcEUlsnEZN78tkK04edRxWTluztqOx-7oh1EWDl5bM8gOroa9_dQuBAZ8OeDw0UW0TpYUIuD7fhjmyZDNf38BOkuA_UR6oNv4PsHbLdqQ"
        }
      }
    }
  ],
  "Variables": {}
}
