{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-key-name81ed2fce/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-key-name81ed2fce/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "80"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779475346,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1779475346
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-key-name81ed2fce/c0a3697326650fd2aa08061af5abc8f8",
          "kty": "RSA-HSM",
          "n": "o7hSreVg-zs4nup67UuP4whKpXGBvjH9t6KvFan0heAshOa--apFP0Oma16pnUD2VQrb6rvVjAPcvQlRroL2OT5PhZlktCZv1W70-addHvrFx4WacPd63xE8sMzmdFX0if-qtm2kKxPZINWCpmlIHv3fIEmh2w682UzLbi0QoU1Ia7J014kn7BvZWw5DTvwHFu58oM3lmHV1-Ze5DWBH46BibFLkNau_4fBI2yIqhQqoCwa9L43BI5T_bZrxpK6PiLboAEOxvZBA9aj8z6WTDTUek02KnM_pDMvQYCokMvUSuuPEaqnkJSOExdxzJDAbD6vdRoewVOZB91S1uu3U-w"
        }
      }
    }
  ],
  "Variables": {}
}
