{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtesttestKeyed3c2d7c/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtesttestKeyed3c2d7c/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "109"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1741741203,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1741741203
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtesttestKeyed3c2d7c/c85e81c582bf03971777489b5d8c6ba9",
          "kty": "RSA-HSM",
          "n": "ivy_3bgtSFZjxGQLiKwk3ohPPhMDIoH_FO8cXrhRE0pphcob6L6qp53C8xTu_8Gab8BMovc7vKzPNn4rHLNrBkSgfTvLWgND6xIV0L5yejv4dJLDhubqFPVk22qQXWaz7kLGfOYM2n9ou3xRM7QYF3zKL0RHJsQlSGzpukTI7BTcSCYxvyWcKbztAUh3H8rMTtAcCoIDSj1WKZ6cuKdRqhQVbazZXdlFX9GyT_qmK1xIdo8VCh5GVjGjPXYTxPWYFybUSOviAr0BWvUsJ2SMeZScrulo5SS-eTyoi8SaWAvWB7Ra2x8lFdd5u323fVqS93nyRwJV44uEDJoW2xHRJQ"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtesttestKeyed3c2d7c/versions?api-version=7.6-preview.2&maxresults=6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250221-1-e4accbbe-develop",
        "x-ms-server-latency": "34"
      },
      "ResponseBody": {
        "nextLink": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtesttestKeyed3c2d7c/versions?maxresults=6&$skiptoken=Sanitized",
        "value": [
          {
            "attributes": {
              "created": 1741741203,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1741741203
            },
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtesttestKeyed3c2d7c/c85e81c582bf03971777489b5d8c6ba9"
          },
          {
            "attributes": {
              [...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtesttestKeyed3c2d7c/versions?maxresults=6&$skiptoken=Sanitized&api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250221-1-e4accbbe-develop",
        "x-ms-server-latency": "16"
      },
      "ResponseBody": {
        "value": [
          {
            "attributes": {
              "created": 1741741217,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1741741217
            },
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtesttestKeyed3c2d7c/080413a526890615a91ce006a626140d"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
