{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256eeec385d/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256eeec385d/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256eeec385d/ca471972300944e79e415f2a5f1b79d2",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "WGU7x5OtAiifOd8txlMchGclqO8lXlQB_0m671Sx138",
          "y": "NHFtfONobbEwq4os74WfDGfidrI70ecsgfw02FZoA2g"
        },
        "attributes": {
          "enabled": true,
          "created": 1779408034,
          "updated": 1779408034,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256eeec385d/ca471972300944e79e415f2a5f1b79d2/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256eeec385d/ca471972300944e79e415f2a5f1b79d2",
        "value": "rjZEydYSY_pnNcLQpu6cwd81_QdLFPPa5-iRiz7JHFEL4dsn7d_kd9ki7jFfS1ZOxkrC8RgKUIQOl2JphA2ESw"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256Keeec385d/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Keeec385d/fa4653b76d3a49c6ab30816321810602",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "2yuxyeL4QnS79Ol57Lm_JuAiY3Lj8e6jq_vUT0r6uS0",
          "y": "k27keV5ddqEQBcOHdjq02GfnZSxlngJQIa9ASkn5se8"
        },
        "attributes": {
          "enabled": true,
          "created": 1779408038,
          "updated": 1779408038,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256Keeec385d/fa4653b76d3a49c6ab30816321810602/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Keeec385d/fa4653b76d3a49c6ab30816321810602",
        "value": "cBxolW1MYsMC-yQ4V-ICslVAqKQwLqSzMWZ4SRxKNJqNHmdNX1fkvvZTWDku7leUxyDDKFdnFcpUD7aJ2YM3JQ"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-521eeec385d/3df7d4bfae0b45bca5996ee7aaca165e/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-521eeec385d/3df7d4bfae0b45bca5996ee7aaca165e",
        "value": "AAL1ArYVWWF0A6hI5wjQwy1iaQe4A87DfTgnkqLrBESangPUZheqBvt7_cxgZ_pYY6moWwSm4HJbZJGCQ33XDSj_AKtHhgeJ0vGe1JGSV3c8df_vxt59WAUqHc5bzX1dWIYOEPrkkl4LET7QPobr5FITPsk06ZcgXGZ_oxx2cN5qhZAl"
      }
    }
  ],
  "Variables": {}
}
