{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestec-verify-P-256b52f37e6/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestec-verify-P-256b52f37e6/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "118"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779475135,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1779475135
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestec-verify-P-256b52f37e6/84eea8dec9dc4cff93f21a97a5408205",
          "kty": "EC-HSM",
          "x": "NApiam5HM6Fk9PJ4TQJsRqXaphkdWDsYC_uRHGxQbeQ",
          "y": "ag41i3Gk8h5RO9ozL1W-JlSeWSene9PIReTNKDtYy5E"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestec-verify-P-256b52f37e6/84eea8dec9dc4cff93f21a97a5408205/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "17"
      },
      "ResponseBody": {
        "alg": "ES256",
        "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestec-verify-P-256b52f37e6/84eea8dec9dc4cff93f21a97a5408205",
        "value": "LYzdt1ZzsHCvoJG0DtYAP7sSZyBCRHOFQBm6RLVI4vjmBMO-mGhl3VJCpqKcOpu41__JnxHQxmyivuqPpxPL8Q"
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestec-verify-P-256Kb52f37e6/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM",
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "119"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779475139,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1779475139
        },
        "key": {
          "crv": "P-256K",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestec-verify-P-256Kb52f37e6/ef4a34698b674db696e784638d2d96cc",
          "kty": "EC-HSM",
          "x": "kgvbvKSkvEBX_mZIDDjQ-aThNl-lf0FhTCLZLVUlqiU",
          "y": "wppLNJwjZDdbYEtltBpke9bF7ixTA0qNqVpbkbA9gag"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestec-verify-P-256Kb52f37e6/ef4a34698b674db696e784638d2d96cc/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "14"
      },
      "ResponseBody": {
        "alg": "ES256K",
        "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestec-verify-P-256Kb52f37e6/ef4a34698b674db696e784638d2d96cc",
        "value": "cqsmuAHDS-tiZwH3G-KbsHYc3JC90-VKLXdlzMqPwoo7CcqdsjQv7_MBqylxEHGrwm_uC4gmUHhNNOPlspoRkA"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestec-verify-P-521b52f37e6/29ddd5d7d1dc4ae90b51546cb639f018/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "35"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestec-verify-P-521b52f37e6/29ddd5d7d1dc4ae90b51546cb639f018",
        "value": "AIp0YbQ63ItZKxfFef3CJtcH_ZYbRs-nb0GRmFYDTWH8NlOZKcvoqCb01jL1fEhOJL0IPB1wG5PTNOAHUCtVIhPHAVVa2iLoCPLUYPFq8QAz1uRgRzLrh6Tb0hPBdBI1BXKPa7AA66OAQqTW6u5X3UHyx22t_lOUbExdLux4yWsWWdWW"
      }
    }
  ],
  "Variables": {}
}
