{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestmultitenant-keya813342e/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestmultitenant-keya813342e/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestmultitenant-keya813342e/e13c88333b9c419d977b11ed42d38f87",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uz-E-Svl9chmYBpzTqhPUV2FFIwImuO613vgWRZ9Vtwj61SrEounZw5n-xTT6AQvapgzz8hTLVgbuV60Hc3vnjAyusnfbeYZXvzdBV7gUGSpw19FQQfiFQJHdu-6smwQaPUbzmatng6183uu1M6IrUErpzaju9rYEbVZduJ7WyjL7xTzWZqp8sRtS9MTnWFnnxfFGlIfXtDrDc9_iwneSil9UY2OR3T-O9HPFFiXkMX8dM53ThMJ586RQjWlvHbQvukhXAq2McymWjeskeDlqrLYLlyuxM_U_0rR1ZqnIYbbxO-2dPD-4BDMZyCdJNS2XcmTluHIQ1v3djbkvjVBHQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777475848,
          "updated": 1777475848,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestmultitenant-keya813342e/?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestmultitenant-keya813342e/e13c88333b9c419d977b11ed42d38f87",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uz-E-Svl9chmYBpzTqhPUV2FFIwImuO613vgWRZ9Vtwj61SrEounZw5n-xTT6AQvapgzz8hTLVgbuV60Hc3vnjAyusnfbeYZXvzdBV7gUGSpw19FQQfiFQJHdu-6smwQaPUbzmatng6183uu1M6IrUErpzaju9rYEbVZduJ7WyjL7xTzWZqp8sRtS9MTnWFnnxfFGlIfXtDrDc9_iwneSil9UY2OR3T-O9HPFFiXkMX8dM53ThMJ586RQjWlvHbQvukhXAq2McymWjeskeDlqrLYLlyuxM_U_0rR1ZqnIYbbxO-2dPD-4BDMZyCdJNS2XcmTluHIQ1v3djbkvjVBHQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777475848,
          "updated": 1777475848,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
