{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256d32e33e1/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256d32e33e1/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256d32e33e1/a5f9bba5af004d2e887ee982eabb64c6",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "-Jlpn0SRxXZ1ZKlynOh3JEb_9W_hobfcqlF3_fqk_fE",
          "y": "WDRcJbZVlrWxYhkC8CjUSc0cdTVtUQrH0juGVqbj5jg"
        },
        "attributes": {
          "enabled": true,
          "created": 1748906385,
          "updated": 1748906385,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256d32e33e1/a5f9bba5af004d2e887ee982eabb64c6/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256d32e33e1/a5f9bba5af004d2e887ee982eabb64c6",
        "value": "4MYZ1H4gyja-D8YuuLokImswNCyciZMJwQnDt7cZVPWoHoef-2mOhFLNW7rn09BmxhmKAX6lDTTx75mJeFV3oQ"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256Kd32e33e1/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kd32e33e1/1b8b0ba0519a4a849ad00c47c31dfada",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "zN_JSzzKcaqZaijF9rQfUv7u7JTZRyog5R5RJRTrnhw",
          "y": "n0OZLGBGzdnZrRBPvhljxtj3yHXafr-54RZXL3OUlGU"
        },
        "attributes": {
          "enabled": true,
          "created": 1748906387,
          "updated": 1748906387,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256Kd32e33e1/1b8b0ba0519a4a849ad00c47c31dfada/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kd32e33e1/1b8b0ba0519a4a849ad00c47c31dfada",
        "value": "CK-DXDjXsThGa5utEkz9CzIn9a2UblzMvqB0RQf1_AItCT5igTZ-pR1fo_Z4mFxSZ92U4P3UWriazeMSGqgxhg"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-521d32e33e1/6f5d7ec4633f461ba0fefedcb7bb83ea/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-521d32e33e1/6f5d7ec4633f461ba0fefedcb7bb83ea",
        "value": "AbFR9yzLDSWuCX6ugI0QrRw5ZE0VpzIGPZvClrbF4ITtQcY7jw_CQ1S8USBE-pFcMmy8Ahkf1260DG8PKpBgAY9rAPIYTk5VLO-0dBKyeVPXGqUaJF824ngWc6GyFryXQ_Oh-g9lEJlVE8Z5uuniRKBSq-gEW91e2rOtRWOdt6cqPc3k"
      }
    }
  ],
  "Variables": {}
}
