{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-name577f2ebd/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-name577f2ebd/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "attributes": {
          "exportable": true
        },
        "release_policy": {
          "immutable": true,
          "data": "eyJhbnlPZiI6IFt7ImFueU9mIjogW3siY2xhaW0iOiAic2RrLXRlc3QiLCAiZXF1YWxzIjogdHJ1ZX1dLCAiYXV0aG9yaXR5IjogImh0dHBzOi8vbWNwYXRpbm9rdnNpdGUuYXp1cmV3ZWJzaXRlcy5uZXQvIn1dLCAidmVyc2lvbiI6ICIxLjAuMCJ9"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name577f2ebd/19380ca0fef04211b51416d0337e5aa2",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yyYh9RpLYmVZKd2QjrukNTQ8N0r9dAZyLIfzBAStYRNgawXYz0XSBrKvc4Uk8QfB72YZNIKxB0sCArgpsNUgmxTAHGHf5Ta236XMg2adKZKqvp3fmqmx78S9NwZX_HJk0rnr3psY6Ecyp0_9Kn5H2tR4q62AVpFtd2QHhIkA_-peMV7mKXD-ECXZx_5Adq_GqI_Oi5g-7at_q8zMRe6FD1n7zORyQs_vQjU-xx5t5V93DsbXNm13rkQPTJJ0Gm6TGZQ8El4q3z5lbg9DhSj3qzzXma3POnisYEOTW4BTtfrxGExcEJMeMzbVLcTE6bv2ruNQws8tRCSSN820RIcDlQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1682118559,
          "updated": 1682118559,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": true
        },
        "release_policy": {
          "contentType": "application/json; charset=utf-8",
          "data": "eyJ2ZXJzaW9uIjoiMS4wLjAiLCJhbnlPZiI6W3siYXV0aG9yaXR5IjoiaHR0cHM6Ly9tY3BhdGlub2t2c2l0ZS5henVyZXdlYnNpdGVzLm5ldC8iLCJhbnlPZiI6W3siY2xhaW0iOiJzZGstdGVzdCIsImVxdWFscyI6dHJ1ZX1dfV19",
          "immutable": true
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-name577f2ebd/?api-version=7.4",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key_ops": [
          "decrypt",
          "encrypt"
        ],
        "attributes": {
          "exp": 2524723200
        },
        "tags": {
          "foo": "updated tag"
        },
        "release_policy": {
          "immutable": true,
          "data": "eyJhbnlPZiI6IFt7ImFueU9mIjogW3siY2xhaW0iOiAic2RrLXRlc3QiLCAiZXF1YWxzIjogZmFsc2V9XSwgImF1dGhvcml0eSI6ICJodHRwczovL21jcGF0aW5va3ZzaXRlLmF6dXJld2Vic2l0ZXMubmV0LyJ9XSwgInZlcnNpb24iOiAiMS4wLjAifQ"
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "BadParameter",
          "message": "AKV.SKR.1020: Immutable Key Release Policy cannot be modified."
        }
      }
    }
  ],
  "Variables": {}
}
