{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestkey0b5ec28a5/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestkey0b5ec28a5/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "81"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1748906739,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1748906739
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey0b5ec28a5/92f1b483a19f01473450e8fe4ee2f8cb",
          "kty": "RSA-HSM",
          "n": "p06e-kzsxFZQUXb8tEjfbkBhm5Qq7Zwjo0oppbItHCucJ4faArUVtagLkrq7k2BupQqblmqaRSrQ-TkzP-dJ3tJ0iB4xsoEy2eKJhsJxA20xt3g8eZHg6wQbH5f3N9yRvNMVVwQD_zOTqCPjC8Br6H177u_0mYeLwUJkWx0wWZObfNuYTZcPyuQMCA8vuCJagjP-9CqYoBwhDIwSaIwfA4-s0hzc0cLWLWPlxBKrcBEu9irLFyxNWuxLooB9z3fyftRS61S7Xj1hEW-SMK1Y-cCP_bGnYVHlC8pt_ipOuQckUSXCco3igR_605c7QIkvwF2Ly7RdrCPz3xjEkSqrTw"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys?api-version=7.6&maxresults=6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250507-1-41b99104-key-verify-fix",
        "x-ms-server-latency": "12"
      },
      "ResponseBody": {
        "nextLink": "https://managedhsmvaultname.managedhsm.azure.net/keys?maxresults=6&$skiptoken=Sanitized",
        "value": [
          {
            "attributes": {
              "created": 1748906022,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1748906022
            },
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestmultitenant-key1ae23267"
          },
          {
            "attributes": {
              "created": 1748906030,
  [...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys?maxresults=6&$skiptoken=Sanitized&api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250507-1-41b99104-key-verify-fix",
        "x-ms-server-latency": "8"
      },
      "ResponseBody": {
        "nextLink": "https://manag[...]
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys?maxresults=6&$skiptoken=Sanitized&api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250507-1-41b99104-key-verify-fix",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "nextLink": "https://managedhsmvaultname.managedhsm.azure.net/keys?maxresults=6&$skiptoken=Sanitized",
        "value": [
          {
            "attributes": {
              "created": 1748906215,
              "enabled": true,
              "exp": 946684800,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1748906215
            },
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-expired3a8034b0"
          },
          {
            "attributes": {
              "created": 1748906218,
              "enabled": true,
              "exp": 32535216000,
              "exportable": false,
              "nbf": 32503680000,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1748906218
            },
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-valid3a8034b0"
          },
          {
            "attributes": {
              "created": 1748906232,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "Custom[...]
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys?maxresults=6&$skiptoken=Sanitized&api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250507-1-41b99104-key-verify-fix",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "nextLink": "https://managedhsmvaultname.managedhsm.azure.net/keys?maxresults=6&$skiptoken=Sanitized",
        "value": [
          {
            "attributes": {
              "created": 1748906622,
              "enabled": true,
              "exportable": true,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1748906622
            },
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestimported-key-name6bb12ca3"
          },
          {
            "attributes": {
              "created": 1748906627,
              "enabled": true,
              "exp": 2524723200,
              "exportable": true,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1748906629
            },
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey-name98f52d09",
            "tags": {
              "foo": "updated tag"
            }
          },
          {
            "attributes": {
              "created": 1748906647,
              "enabled": true,
              "exp": 1780442647,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1748906647
            },
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrotation-key71d296f"
          },
          {[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys?maxresults=6&$skiptoken=Sanitized&api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250507-1-41b99104-key-verify-fix",
        "x-ms-server-latency": "8"
      },
      "ResponseBody": {
        "nextLink": "https://managedhsmvaultname.managedhsm.azure.net/keys?maxresults=6&$skiptoken=Sanitized",
        "value": [
          {
            "attributes": {
              "created": 1748906673,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1748906673
            },
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey-namefba22e02"
          },
          {
            "attributes": {
              "created": 1748906686,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1748906686
            },
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey-name3e302c50",
            "tags": {
              "tag": "value"
            }
          },
          {
            "attributes": {
              "created": 1748906691,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1748906691
            },
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestcrud-ec-keya1c62d3a",
            "tags": {
              "purpose": "unit test",
              "test name": "CreateECKeyTest"
            }
          },
          {
            "attributes": {
              "created": 1748906693,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1748906693
            },
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestcrud-P-256-ec-keya1c62d3a"
          },
          {
            "attributes": {
              "created": 1748906694,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1748906694
            },
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestimport-test-keya1c62d3a"
          },
          {
            "attributes": {
              "created": 1748906716,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1748906716
            },
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-keya16f2d35"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys?maxresults=6&$skiptoken=Sanitized&api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250507-1-41b99104-key-verify-fix",
        "x-ms-server-latency": "5"
      },
      "ResponseBody": {
        "value": [
          {
            "attributes": {
              "created": 1748906750,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1748906750
            },
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey5b5ec28a5"
          },
          {
            "attributes": {
              "created": 1748906753,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1748906753
            },
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey6b5ec28a5"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
