{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-verify-20489b043229/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-verify-20489b043229/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "93"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779474941,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1779474941
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-verify-20489b043229/2861b827747909cf274a64ec03f0366a",
          "kty": "RSA-HSM",
          "n": "igZCEPBR9DnZZG3kvOHo7uep-YRazukKksMvjSLKACq7obDV__ReEvpf4N0MVZIsE6QRhe4tU5pXD9nnUm8W947DbIYSl9jgFIx5EbRS7jqH7jcyiOG3-70VBCZDBdHAfHZIA9Ivj9BkoZ9NyhZrvjjWdY0Jiid8rH7jmPx9ckAemHcjzd72Ebb2CdSVm5imWj4nJCrtgrgHM2LW2wayeH0jecwXePAVdTR6kyj3WklftJrA4y1OfTar7X4mPcEMVUo8JCZraTMHNOW6sFXzpNWkQtWlV4CcuIqFr-YIgrvar9upYF7QFGbzn_QPJ8Q8TS69ckxhZ-3YnVYi5JlpKQ"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-verify-20489b043229/2861b827747909cf274a64ec03f0366a/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "10"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-verify-20489b043229/2861b827747909cf274a64ec03f0366a",
        "value": "hGI9_R8Qzs3bVc2KQ96HTWN3GvI4LG4iIGsbqYYqOy-NLPSpzcFffbQRcC7bvS7zLHpazTM1XECTJmXu92yzmfXvDsIlwACRCJoJk3-_GAFHlruFltOR-2XubziRqWx2ef-PokVzz8EB5dmirx7pIXBRXfyHf2Thyt8ECZKhVXDtf9hG15WYqjfLaWB9fBqSVzp2WPZ7qEUam3zJVsMZSaxnYkcHYlzy657eMvRl_nLg319cCSRPy9TToqxzguGu7obByncuJMJmR1pss52pTkfQ-HBddtq03JrCPGUmEMfiJauiDwuI9iWTz3YDrW40soSagYBZJjfeu04lVq5BeQ"
      }
    },
[...]
