{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestencrypt-localabb42e3f/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestencrypt-localabb42e3f/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 4096
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestencrypt-localabb42e3f/1e7eac73b2c548e68b5bbb5381c218f1",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "2IhZaciG5EDlW5Fno-5QcmXB1yneTeaQfVaNI-dwuZfgrFEMpd08B0lb8bfwt_wOwY-Emjd2ONoX1gEXcHhftlJBTs6V8Dlo_7ICyIeQ9fzFLXpcv0tOHa_0-1t9fH_oeKN6fybgbBhfGcDRRzGoe_iQFbNTPOYXv_Od9o6T60r5IqApcLiSs67F-tWXu_sz34UZ_UEoXXMIl2S3wtBIHkaragEvnz63oNP3mtzuQdpbAGU0o8CA9avvESE_GDzOEH7qBvgDtDk2VK6fBFwVO6MgoSdB7THQd_Go2LN8Owfyd7ADccvfE5bpi-9HjOARNEqJO7TKoBwxla4FbH3P1cbMT1G5A_Rfdj8IUihB5z1brevH6e0T6sOZGncyDHl7hJLnPtgA1mw407P2l1DA8BLbDJxMfMeeBlhgUpLOyhzyu_Iz9UMqXSTJvkGMgMjGXNcd7F6qcIJwFMUalIA0OIGIgfYf7zdYRO2RSo1jO4BKeOtHxQKjtvvocLpxgA_aFzT2bUZ17Yl5ubnl2aenuH9l808QHYsCkC-Y7VgZNXnXwrp-CwV2lyosAGcanisvQNRKAFrq-QwgHknqm3FzQiw1AAiu-wYZkdmBUbO5x_fRiHEVkKZIh0HxLYjoUR9-AKDZUChs-eb_0tWhln8P2cFZXOXhP853SXecJW4A9dE",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 4096,
          "created": 1777475974,
          "updated": 1777475974,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestencrypt-localabb42e3f/1e7eac73b2c548e68b5bbb5381c218f1/decrypt?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "iYPjoVswAg23jMshMRIHRQU15ESn9dyqLqKsos2d-Mi3_CVHHJyMzqiIlSZlLdpSFip8aU90Kz6GHVrrQ6j_OoXk1LKPMgQKcDKoBfZVr9pXfT824VM5XKGakvkP6PVK_h9aPncdpUlDSb5V063lFr8Rb5K8FJk4TYveRVJoWubaTaDyS4_3QJq7CfzosgqWOuHLQHiXKvjd03iBIg7ZVnlL8u32agK9q3_O7Evcy1rfjOKRBpX4hQQpgF0IFASaT_cuPbwMDEhPsaW1ycSUmVK1PjjpZzysOqOEzaJkxVT5Z0vl7_C93VWC1nkl7GCKVx-oLE_AP0YzvCpWUNGar0Z5NThHSoqI_ZnQD9IzwO7dRQoa2BaSlqZjtqZbFLsk78-0LxVRgSPdW5JotmY7w9EsXwRLd0kV_BwWCashvDPb3ABQO9RU6Z2HntujMYrX_j0neB0X4JCIW-dYkDwgsEeMNOrqgqbjm0vTMOSgKQms_aATdP[...]
