{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-key-name69bd2d86/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-key-name69bd2d86/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-key-name69bd2d86/0a9c2b102eeb4a4884843a3128247e46",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "7LF3VMyFLoX6OtfRtXUVzZfyaDt2NKQ3P4bSsCTgzjLAt4nXZghsNtUhbs4x3xz6c86vmJV3ayzmw6-k_bHIFDie6iNO_IwhlByb7ZNW9tu8osBaE1PXYrQJs1fepzkUs08INWAvShEecS2YcgY0lTVDdrylcae7zjgpXDzJSZlbhpYEx39XDh1fkFstin1Bx534k_bg-y95KRBXNQJwM8ftx0ipIkh6FlVauZO9L7mrftigqqlYvyfUhExRGLFOuzopwI1yTSSgCW-UpEPs-Oi26uHEKhPeGiOCAXYqnLjNB8we9s4tSuQBNk7cKClzT5DSWVNVW_1orHKm6RFsKQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777477171,
          "updated": 1777477171,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
