{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsakey45572f67/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsakey45572f67/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsakey45572f67/812f9b4ce4584f14b534cb5ff0419ca3",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tv-idhScimvZ_qX63wc3MlWh6GiHZzqFXQ7rCUxnhMPkMRJApEuXjtDj_vKamZbR9uqmt55LRMwi5SlEm86UC8dbc6PU3pbcAhyYJcZWCCQz5NFCJagWXWc8qN3XMyj4-10tGigm0OTMRblllLzBJVXImLRSyZEyYW_KFJZzlEN4xypGoxxK4LgdRJy8aq5vjZC_xzW4k76nESKJpLQJ4BtmBeEWJ0MESJq7U1RQN1vIcfl03Phtzz0oiwUnlblgs8jyMmI6p-e2NkD4lIxP87mXNANkLC5HmE-2HXcn4UZJ_QyDqxcvaBe7P7cWcK5pc8-wnxwqm9hnF6BDb8YkFQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777476248,
          "updated": 1777476248,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsakey45572f67/812f9b4ce4584f14b534cb5ff0419ca3?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/ke[...]
