{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey060d92c3a/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey060d92c3a/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey060d92c3a/13c3a734f629493eb580e909a701d892",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "pT946BtgHnV-hueyt62TB1NuMXB2oxtmkYsu1DUNqoy6gkf6ItSF4rCxU48ZUQkyGQ89QK6Onh3UbobwKUKg8e0RveB-zdYLmGJI9DioibImTN4BtZJyWZwqYdjJkbCBGEpHxs15UPaQEAYxvh_Ibizt-437IqbJiNGwzxQoBQ7qkqa7cb7ahkRqkk_c4_sVBcGwuQRBM22_RhvMJKkrNIhg__qNI-cVZlIVZwCEpLd8Ld9tF_QcaLNWT_CYYLAbT9wg5esnn6yivr-ikI4NiszQV8hpoNLHHbOnfJJ6lC3uXDkyIYaCLyZsQyHB8hfL8Z-txTJkTUgJUsm-PEfrtQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1668580141,
          "updated": 1668580141,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey060d92c3a?api-version=7.4-preview.1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey060d92c3a",
        "deletedDate": 1668580155,
        "scheduledPurgeDate": 1669184955,
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey060d92c3a/13c3a734f629493eb580e909a701d892",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "pT946BtgHnV-hueyt62TB1NuMXB2oxtmkYsu1DUNqoy6gkf6ItSF4rCxU48ZUQkyGQ89QK6Onh3UbobwKUKg8e0RveB-zdYLmGJI9DioibImTN4BtZJyWZwqYdjJkbCBGEpHxs15UPaQEAYxvh_Ibizt-437IqbJiNGwzxQoBQ7qkqa7cb7ahkRqkk_c4_sVBcGwuQRBM22_RhvMJKkrNIhg__qNI-cVZlIVZwCEpLd8Ld9tF_QcaLNWT_CYYLAbT9wg5esnn6yivr-ikI4NiszQV8hpoNLHHbOnfJJ6lC3uXDkyIYaCLyZsQyHB8hfL8Z-txTJkTUgJUsm-PEfrtQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1668580141,
          "updated": 1668580141,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey060d92c3a?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: livekvtestkey060d92c3a"
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey060d92c3a/recover?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey060d92c3a/13c3a734f629493eb580e909a701d892",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "pT946BtgHnV-hueyt62TB1NuMXB2oxtmkYsu1DUNqoy6gkf6ItSF4rCxU48ZUQkyGQ89QK6Onh3UbobwKUKg8e0RveB-zdYLmGJI9DioibImTN4BtZJyWZwqYdjJkbCBGEpHxs15UPaQEAYxvh_Ibizt-437IqbJiNGwzxQoBQ7qkqa7cb7ahkRqkk_c4_sVBcGwuQRBM22_RhvMJKkrNIhg__qNI-cVZlIVZwCEpLd8Ld9tF_QcaLNWT_CYYLAbT9wg5esnn6yivr-ikI4NiszQV8hpoNLHHbOnfJJ6lC3uXDkyIYaCLyZsQyHB8hfL8Z-txTJkTUgJUsm-PEfrtQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1668580141,
          "updated": 1668580141,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey060d92c3a/?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) livekvtestkey060d92c3a was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey660d92c3a/?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey660d92c3a/03e85850428946dbbabe72b0d690bb28",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vTeexY-2xz3NMej5pZ0jtR9cYdoERzvrGLbBP-522kFNi4TeyBWofir_bUZA8Erh2B6dMAm_A3CyM2xQ3ZiS4gd2P8Ty64fk8zT85rdWdTJXHecPXu_0FXJBYPpB7AlY1Tn1_Vwfn_79Xou0wMfDv9I1w8Ny0NGQj7-hNXKqgTWCqE2ktwxz031BqMHlbpGurtwz1kLx_EtAH819kyXXvNXw8yBU8nEiraU5r-AraYdvlK41fCKaGplEmZX1G5B3hKX3x3Amoye_9qtuowtUbF0d-muggs_v6asIqz-KGZ0vHQKnjOPIw5kRjlSAphPGj4zcn69daLdnY5eadh3_CQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1668580155,
          "updated": 1668580155,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    }
  ],
  "Variables": {}
}
