{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key95ab332c/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key95ab332c/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key95ab332c/c72641afdeab4ad7923583225204e1d9",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "20W73xg4ZjPZMzO_2ke3kMB-_TvSOj4udRvjmtgSsE2sKF-Mul2gXF9nKdwTdXOtnLVBPNSUW_UELNXLBGLJ_hUeU8ClDgzbaIExgmqyFJZ5Ccuhye16x5ZlgR5HorIB_jwbyTJjq_NexTTv_kZ8h5oB-bbzmNTsoWOAlMJLbNRb_-bqYf59kRPwJbAKbreyhrx3UEn5SR72nKMfT2KCpGQ6JdDmepWt85ZYRQmIaZfeqZLW4rdDFeXU5Gk5yLvqvK16RecscvNTEsRqrjXpMM7nh7b1CfIHGYfG65rYtO_kRflI64K8oo3-8WMQJEEjcVddu4S0TT0EGN16K5Jy_Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1697668646,
          "updated": 1697668646,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key95ab332c/?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key95ab332c/c72641afdeab4ad7923583225204e1d9",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "20W73xg4ZjPZMzO_2ke3kMB-_TvSOj4udRvjmtgSsE2sKF-Mul2gXF9nKdwTdXOtnLVBPNSUW_UELNXLBGLJ_hUeU8ClDgzbaIExgmqyFJZ5Ccuhye16x5ZlgR5HorIB_jwbyTJjq_NexTTv_kZ8h5oB-bbzmNTsoWOAlMJLbNRb_-bqYf59kRPwJbAKbreyhrx3UEn5SR72nKMfT2KCpGQ6JdDmepWt85ZYRQmIaZfeqZLW4rdDFeXU5Gk5yLvqvK16RecscvNTEsRqrjXpMM7nh7b1CfIHGYfG65rYtO_kRflI64K8oo3-8WMQJEEjcVddu4S0TT0EGN16K5Jy_Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1697668646,
          "updated": 1697668646,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key95ab332c/c72641afdeab4ad7923583225204e1d9/decrypt?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "RVqHv4Tms_-jocM6F3ZOH5t8bMo8yYR-akcWfuzSYEjBGFbh1cxcRvxfEUwAti1gjDKsahsAAXw0Rg0fElql505OqJjKAe3imHRPMzO4GWM6NWmtzJSyoYJFAsQ9bpR83BC3_3dcHz_qR30MruvB-cbugdup0nER_NSGKCWgNpd_PuMaNqLlJ9PsIu058Aw-bPl7e6kMuxipzPFxVTwPEDjgEEbgVWrLA1sa-jYQM2JDwjC8Um6c8KrKQAiUYXL0U8CAdXT0m5-lJ8yVGHfHzR1YCX4EVbPjVUD3febnuJLvQBnzLdMSrvFDSE9Xmoc1oJ85SZM2I1epIJ9991kKHw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key95ab332c/c72641afdeab4ad7923583225204e1d9",
        "value": "cGxhaW50ZXh0"
      }
    }
  ],
  "Variables": {}
}
