{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-204830e0342d/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-204830e0342d/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-204830e0342d/95234629862c4bf8a16bb44ab4225607",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "p_btc36xQovpdmu5vuzTN1bLDbFo76KCtXG59Y_uBiLDG7Qjf5ScDeZFfBWszJi86atn50Ze-k1DOyGs16a5GvplHiI2dj4CyfUzlSIrf6LdOJWRp-WeTA8oYRWLwDuLCu_b73rlzo7xoU1hQNvKw9C15nxYpk-HQT8_-g5CNQB6lwCPEShwJyP4cq8d2X_1245GfaOwwwPaJszCFh3UX_pHA382Ai7xZ_2tnJe-eILTukb68QuPlJCxBNYgla-goA_drjFDHGwntHt2OSbAMd0O2JQY4vfgmAJiSrhR-J_EP3hr6HzuxmR-T2B_UfceLjejCiLSGHU16HswE0VOmQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1668579475,
          "updated": 1668579475,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-204830e0342d/95234629862c4bf8a16bb44ab4225607/sign?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-204830e0342d/95234629862c4bf8a16bb44ab4225607",
        "value": "Uahm9DX1GxKqqN1U7HJ7WOVdtog4l-jBGKEzOC9kx_t00g_qjHiRpnERhxVOyD-H3xMmpxXT7UQsPUBKLC0nviYY3ygwsg_6SSdxfmHllSHDLpDSvKVa0K8C721DgiHFFoLpnCKx4-ZGeBdKJjyVoGKIPHy1AFwOnC0UgD6J780oiyc7s7a--FIQn3lSHjXpKmFAcQJ-Dsmxiuvg_KSZIn97vcwwMpPh3Ddto-fLkNW0aXBxmqpwK26oUt1yy8fpwCStxa01xWsSQEALzQC7FkJZqGPT52QC9RS6oABm0hITsyvcrUZzHbJqwLChjAF20DPluZFvCyZr7ZLlQTFj-w"
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-409630e0342d/e68e66e94ddf42f695c5799df64206b7/sign?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-409630e0342d/e68e66e94ddf42f695c5799df64206b7",
        "value": "yH-MFmAZNETc6-vkSFBz_0y2n_MUKC9o7TYmFMwW6_rE6tIMCKNJHIB32d7YekMEMe9olXyLtOwmHEPQ9qCl7tzywfuqSQkJQpAVEJBGaSW2f-j1t-8pqBHoQutIMh1WTQbNEU7H0914FQ-bc36gCpeP-aBVOgW_48HfQrWi5kXjbHN4w2CAtWxft4Mr1jiQUv-08wfvGfmgP7EznRHrGjebRdTCI-HxLqEQrLlZpxTj9HEn2w_-zHxyKBUYCwCb_74VCWd44chK76rg-rhPERa7Vm9DoAjwXrDj_HLjW9Tecmcb4hQQpkGKsFbIYDDfi7CV55UdxIgKYJB-G0XOHGhtxdAx9gNuesruQ96KCefgOGFP2jPUnSHGpPmJumDumDd2dm9VdQqs8BcBT3oNNNvhw6osMhxmmsND4rqA0RSIb5fMTWPDJHnCrDNaOBjUycrEjKSIPX9PnzwPwOJWQhYIZ-589sNRrbYEo5JNVniBH3sqpd2OkXm_nPz_YVdlK-U5cHqSTO7gxlIfdokvMMs94Qly37I5D5F7vvxP4huEK3kpifL8VFwOVfy_mBmcvTnF_sF50G5TeUfIh4h1P81RW_gjQcqp1itcRI8dpfbzdovVBDJav-FKNZcbIFIahQDRwwzUq7Vbmky94ouJTI8-Ci-CaUW9WwmRuGcMsPk"
      }
    }
  ],
  "Variables": {}
}
