{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key17f63499/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key17f63499/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key17f63499/6bc1707f24024b268a7afb4aaedeee2b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "v-1EBk-3vv2yVM4HlWDXAz3zsGyJOMAjdsbCGBP6BxP9pXqajvmcY99L_SetXG0YBj8hGAjXqv_66q1NCN3s69xtnnZQDyfOR2Irxym6FpORQSnrNc4i6u_nyAIrb6G8TOuw5_OtuBX0qyH1ZW8TKhsZHCV2riOIkXIOQ08rdX1paEu4OJZRtROgb-N0YT5vse3QRQ-Ckxyiw8MQrn4HPqN0ctoZs5a7xxKKwS-VeQlCRJAs9K5WZNouB8zGCJtlLfecAQVyIGgLTonLW5yvafAG1n99x7jx3Jp3J0-euXZifLPBFi9Ocd1DgBLV3yDohohkjC7zjvtP8_V9TL20HQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1748906416,
          "updated": 1748906416,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key17f63499/?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key17f63499/6bc1707f24024b268a7afb4aaedeee2b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "v-1EBk-3vv2yVM4HlWDXAz3zsGyJOMAjdsbCGBP6BxP9pXqajvmcY99L_SetXG0YBj8hGAjXqv_66q1NCN3s69xtnnZQDyfOR2Irxym6FpORQSnrNc4i6u_nyAIrb6G8TOuw5_OtuBX0qyH1ZW8TKhsZHCV2riOIkXIOQ08rdX1paEu4OJZRtROgb-N0YT5vse3QRQ-Ckxyiw8MQrn4HPqN0ctoZs5a7xxKKwS-VeQlCRJAs9K5WZNouB8zGCJtlLfecAQVyIGgLTonLW5yvafAG1n99x7jx3Jp3J0-euXZifLPBFi9Ocd1DgBLV3yDohohkjC7zjvtP8_V9TL20HQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1748906416,
          "updated": 1748906416,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key17f63499/6bc1707f24024b268a7afb4aaedeee2b/decrypt?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "NPWDJ4aUTafBC4Dg5RtN1elU41jQfjuQbub2fZZNyNG4-T-DPATPeiPRONfBr46kqjYVPBjEvuTcYUvs2o-bprZ93vHocmikPmxlmmhYrbcGqY7JfxXkbMh4E92wugf4Rp78U3RfG3k8ebiC08xc_CO86ZjX0ws4dcwP38znmvxKAEGkpvFtUbbUwfgxuD_k3gtqqZKOS8au5M9wEflO93eex8iTaVRbJqYnkObajddOWFDc-fsafQflKnBR5N34U0MaBGjqde-899AySqAoFGZB-KmZXwInuulo_hYgd1zUqDivXoJFhg--cP3uO4Mb5a6tPBFpimLXg5xwKt0oKQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key17f63499/6bc1707f24024b268a7afb4aaedeee2b",
        "value": "cGxhaW50ZXh0"
      }
    }
  ],
  "Variables": {}
}
