{
  "Entries": [
    {
      "RequestUri": "https://mcpatinokv.vault.azure.net/keys/livekvtestrsa-verify-20482cb837ec/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://mcpatinokv.vault.azure.net/keys/livekvtestrsa-verify-20482cb837ec/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://mcpatinokv.vault.azure.net/keys/livekvtestrsa-verify-20482cb837ec/66cf4a93111f496fb858eeabfe736a75",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uVkys5yvWjP8jlfeQzPx5viTuv_e-VYx463CxbV3MwtPvhzQxDtlsZM4HFjb_GmXzBkMcOv6-vDKGihAHCeOmUQanVtdctbz-mQk-HqQsxOjSc-dgoM-ZRJYAXc40k6h_M6WV2diXD1YsCzmfFDGBdxmT68DozIN3RacRLgZRtwchTbczy58429lROpH9g4-9TnXq8vTUI__d0Nm13MW2rOPZ4TueAFLG4p4Eg9A8rhT3YpJYZQtK7m-OywAgon2uZ2Z83zGGMompUjlnnf5-xrSUvqitr3BfN17T17LsN44apYUDnmtsso2fEwwOHwLE8CX2XigeYD4KAy3dd-YyQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1691701234,
          "updated": 1691701234,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://mcpatinokv.vault.azure.net/keys/livekvtestrsa-verify-20482cb837ec/66cf4a93111f496fb858eeabfe736a75/sign?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://mcpatinokv.vault.azure.net/keys/livekvtestrsa-verify-20482cb837ec/66cf4a93111f496fb858eeabfe736a75",
        "value": "aKT9CxMQ_43PQE514yU-ST7hePlzHmOm9P8-6i4m_w5s6xKWqF1XYgsEfH4DcCx8qpok_IYhD1EG_VIqzfiUQycrtaFqXflOKe9ysprRigG3vGvhUSH0N3QTwS6WmPxEkzREcsc7BSomkcu-otXSQ0uzUkqNOQGH_bGO1Gge4IXcrC6GjPZNJ1V0iywe-RogPOro1oA-THZhvFmrngq_6CN0B8r0i7KcfCLYgVKT0jkvkjz6qmcK_RiELvdd-Rdn0BhE-YdVMUAFhv2sWhPzBqaJmCti_mM31ChQ3atToC9qKfYLrSdcGAIdDrE6S8TxzNDZqkxGeSZTw7_PZZwHFQ"
      }
    },
[...]
    {
      "RequestUri": "https://mcpatinokv.vault.azure.net/keys/livekvtestrsa-verify-40962cb837ec/28d4bd8ac1394b41af9b9e7bd8803d72/sign?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://mcpatinokv.vault.azure.net/keys/livekvtestrsa-verify-40962cb837ec/28d4bd8ac1394b41af9b9e7bd8803d72",
        "value": "rBCRjYLzLbgMQRKvDOsazV2H0W82T0H2xGuDNACu3GFoBIccaXuBXJAERusdcxv9rusrzAW4adtnCgkkfETsGLt6Y-nu4Nga3VeI0B1jruicYu_opp12F4znG2SVe1Td6VYVJIlYfGOc8ARy--hEMcmqGZDEZboeDlbSebwXhA_NWRX6yfWNXgmMUfildJTbVQ47URgIlbCE-5N10t5Peuq_g8wXl8R4GL-x9J7hv-A4lBdDhBPfedBEhXCpIpWxhU1ibMZNrtnxlVe4Y5kXnB2vFjfUiENgjKtnCh5Ycg2wkJNssyyLafj5_exhVUSdc2SU3h5SJ3_42dqI8Y55xdRoIatvCYsTQNuxE5yIez8O8bcdIVLTwHesFf-NG7NNxQCeMtsupdueo1yg3iY1bX7Q5WbOdMlJ4HRL6QSRw_JJrrJcGkk6G9vNFowDHoBydqZj8ARYqF7-4Rn2YQMJocxeMAhkVCeohoe47NKKRlI1ctiBlou52jy7OlyaPfumPBYVKf3OBUf34vE67k0RKtlKGcshXzwD3f9bTESSdMAD3xxw86ZBWvzhh8bTty0wgqobzba-W2GsEt0vFDWAwpRR59q7ZxWKwo880h9RQYOY093yjIWNFBZWEFMk9e2BbG1S77lfiaefmjV9_jwJ9p6lBx5AY8TCJ1XHdJSCBLg"
      }
    }
  ],
  "Variables": {}
}
