{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey05a9b2d98/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey05a9b2d98/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey05a9b2d98/71fbcf0b8ce9423f855a3d7a6a9280fa",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "6LDaFZqMgih3wmxF9-qxiU1XqItdUkGCPoyjgPs80bu0V68tyRXqCIuOtn3lWwthF8XUBYPk1NROpHhCiDC9EnEBpc-NFulWGZdOMXQ9zdV8j93yRWyHE726keZ9CnBgKeUqoBknQkBDQU6DimAYPJxh-Aoe9SPeU88tgAl2KAJ_rimg3xhMyJR0-oQvgiK3ZLsBtbSQfaOZxVR0LpCYrm2k8Zp10Ix45hafjTobtql3N3W3FpHmA6AlrJAsPy0BA9xbnSL5ttxP4lyRzA4jMzsn134tpzHpBr4oQYwm0Vk4XNvUdkO0Ef116hv-4-7gRPKk17N3QOVHSAo9numymQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779477110,
          "updated": 1779477110,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys?api-version=2026-03-01-preview&maxresults=6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-ec-key1e1b3145",
            "attributes": {
              "enabled": true,
              "created": 1779476797,
              "updated": 1779476797,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            },
            "tags": {
              "purpose": "unit test",
              "test name": "CreateECKeyTest"
            }
          },
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-ec-key8fc5322d",
            "attributes": {
              "enabled": true,
              "created": 1779477052,
              "updated": 1779477052,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
        [...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys?api-version=2026-03-01-preview&$skiptoken=Sanitized&maxresults=6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key3e7c3915"[...]
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys?api-version=2026-03-01-preview&$skiptoken=Sanitized&maxresults=6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-expired1c423c20",
            "attributes": {
              "enabled": true,
              "key_size": 2048,
              "exp": 946684800,
              "created": 1779476749,
              "updated": 1779476749,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
          },
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-expired9fdf39a3",
            "attributes": {
              "enabled": true,
              "key_size": 2048,
              "exp": 94[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys?api-version=2026-03-01-preview&$skiptoken=Sanitized&maxresults=6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-valid1c423c20",
            "attributes": {
              "enabled": true,
              "key_size": 2048,
              "nbf": 32503680000,
              "exp": 32535216000,
              "created": 1779476751,
              "updated": 1779476751,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
          },
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-valid9fdf39a3",
            "attributes": {
              "enabled": true,
              "key_si[...]
[...]
