{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-verify-2048f3833777/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-verify-2048f3833777/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "95"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1741741093,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1741741093
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-verify-2048f3833777/ef1dcfbf49f94e2a296b1ecbbeaa3971",
          "kty": "RSA-HSM",
          "n": "ip9NMiZaXZ0LL3ch2Hdf6ZNePlby892EhqLqh5Xx8AjZ4I2HImVfUxcne32byntcGzaEOlFwZ2ALM7esaWzHcyyDqZCvp4Fsmg8v1N5IIgSFc2dnnzbrA1wWXIzg2nO2psMK1Do2a0MSXm8NLZXSyF-R_ALXwe2kBtf6jHhNItEuQtUT8SI8qfxDc-Y2QQxIoi-prdeiAbuN5wRCaUThiiLbws7uUh8emxhf81-5jeG1CWWz_chI3thgi68vuBVhKN83nExiio2eGMpDF91HB71SsPGm94OqZgdSHf77LAeH5E_QcBhxOtQAuu8CScgtR5j1h8AVdha0qC0ZR5zWRQ"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-verify-2048f3833777/ef1dcfbf49f94e2a296b1ecbbeaa3971/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "20"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-verify-2048f3833777/ef1dcfbf49f94e2a296b1ecbbeaa3971",
        "value": "AlolVbgLWCL9TMFB013IqcBKjoKeWBpEpWYlCmhjyKmebrQWApuJ0nLF53pTdPvoC8MVB_wAxu4uufMCcqNxX-hbtFKxuNWT1OTYcBiD8IsJhyUOMQCSX_wnY6npiQYApNOBHlf10v4TNnh57f_z9bZEyOPPy3MLb3Xo6LOXYBgaCYHA63r8B-ke4INKoVeE44RVEGMAEtT2xTLgbfoMMClkD320MTOQM6jxRjoX8XsSWHwhKs6B84m9mISzAWOX_zFjHMejZlc37O1cN2Sh4ZvqhJAq96mm8ol4T16EF5Ft7SNqDX9SYwudqkCx-RIW-Xo3W1yjvslTbn9WDuL_ew"
      }
    },
[...]
