{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keya3a03261/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keya3a03261/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keya3a03261/3393114f6b594a8ea800a4c2336cd29b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4hB40FTGk_nTT-teIuilvQBgczO2rjIz_7SG2J_0yywsqFZhtpOWpGwOFDdlh7sX5OiUzBujwVm2nX-o1nK8fdmDJ1rOP5Dq8ATZn794YE9ricT5WT77Q7PO_-OGzTqNMjDGvRR4miFhfDP3JcV33m62V23gtxheBSBqJgoCIlPO9dwLpUikXRyocMviioPjsVRnEbEnzVTpfYoU2XiWp1TWMvwcpD4h2hweR7Yj3KYU-z_TrJb6rMmw0Rm9PkpzDT6_dRRhkIh3IqwePYc3ja3VqzQ5fopJv3DligbonlyWvLIXsBEHhe_vjLH6aoJQBHiQ7FvJ8giiAHz_Nv_uHQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779469170,
          "updated": 1779469170,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keya3a03261/3393114f6b594a8ea800a4c2336cd29b/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "ltYuKr0-Qt5fUDMPuO_ExVmYNSeAd7IemqCzPB3wehw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keya3a03261/3393114f6b594a8ea800a4c2336cd29b",
        "value": "Rsn-sIiASpq22VyhUw997R05AJqzlZA68bksDCK7qCHJaT5rf5FgL7vDvEExMsH4x-OPuzXgdUklCNpb9qPGVTynCsvRt8KZEw8dGbhtFrp0dU9Q1AKOdoXDk8PNZy2LATJWLfDjqjkpiqz5DmphRZzS7iwfi9Q07eHnnC91Y5p3eTLrdUy1cmzDaO8oAaUIUlmTXG2cQ5hvBSMEsh6r8rsYMZuj3eN0fU70Llg_qr3nRm2I11rKnPGJWEDaFT3nQto8EykAUFFXuCkN9Pz7mnkNsQ7L5vIlilyUDucpBnEvcwxcer3MQsYf_HD91hM-EGFg2kGYS1HxOjPeqMr_hA"
      }
    }
  ],
  "Variables": {}
}
