{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrotation-key327229e7/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrotation-key327229e7/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrotation-key327229e7/3f5a1f2f07b74595809affbef3f5ae25",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "5M0LdTuzF54r_i4LxGb--yMP2ApGMQFj9AmrvWjcm03qkKDDPQRlXSekeuhT5iWGCs_osU4CoLa5lD2Tt8VTY5QnLYnwOWaqD1UkzNIwHvCrHNkfD02NIHvQRmGWuJAwb0R7LNV2yZBXPd2b1HbBBfaoBUQR5Ot8mhEV7NOV3cSn0vZCHvKZjuAP9CxmwmH0k0ieRklH3REP9rPH7bFeVHQmeWxL3jIQF3fGvyL47lkPsctKko1ALdduYToP6H7yrmxLNs6Tlqhh4N3FluhOol_ZliObODHtkW72THIno6Fe7W-hvH2aGnGq_uwF1Soy1_YrOsqrXG-gNK_kCVVLvQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779476996,
          "updated": 1779476996,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrotation-key327229e7/rotate?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrotation-key327229e7/5268591467b74f1a941252db2bd3d99b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uy2OpYgYG57PRPurEMbS8zrRC6dQrDx37JgCNJlAilATc0sRDYhNUA9jqcw4kvqfsBDogQlm6N3R-JjG77jlmwCzd4vbZin6ZHV78q9mzTLjiWoaz-7hWb3Y-xTM3CkUZsT6ARMmrCaU_XkkVp2oA7w7M5xyzJfK9ZfYXRmGplTBqICdZ107Wsz_mXT-aHn3x98sLtC6K5qP9sk94uROWEexDpqqKdItHAQF5W48MYWD3dFDy-53v5eGUnTxeUdgYl5O7fatPaY1WwBYBmz1fXHNjujEvB3cVCEC25IlCBzTwF9QoJXsq8lCUsvX-VH8mffxkCbU-sQUoh5IuXNQLQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779476996,
          "updated": 1779476996,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
