{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-verify-2048d0d63571/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-verify-2048d0d63571/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048d0d63571/cee7e7fea4c64c11b95fe94a93102e7d",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "xVBtf023112HoHmxtFCL_HLIIzRHmxohP1tI96QvJdiIEfpoX0HQT2jjYNK016kEF3e1VH9HtSHS0fW1AWw20U1iXQRCUwNvkXmGpB2KefjAgDirjHrSKOzofi8at69vY7f3MFA3qdkvXeUoJ85rWkwo7QBZSUBvc-ovAKsT0SqHKowrwGXbbv2eLWhf1HxNYgF8_nEl7y5MRzxe9WpVkbB2jAfbo9e-_KrTI-6xrNa00Reh4tTTlef5PHciWy3M80Crpzc_4yb22KqrtS31kIX2NWxpLRID-G6ImCKfgkw78d8jbFGbBiQhV5Zz5zT8epAEMtu0mndltPb3-YzEPQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1741307782,
          "updated": 1741307782,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-verify-2048d0d63571/cee7e7fea4c64c11b95fe94a93102e7d/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048d0d63571/cee7e7fea4c64c11b95fe94a93102e7d",
        "value": "Os5l2YnToe8aoPOyuEJpluqp9H5enHRL-bElm6zlCUllvsPVttcV1sOZqdkIf9KqI2xP1gqItv6PcYs0R9j8gus_Qy1wVKFkQU3lGe22a7szdh9-msf_qElxoJDfLVy-EYH4dcvhvAxr2Lxm8GLQzpKUIig9KCcJb6rtNG6UDOJy-I5wzAyF0hY7TNe_6FZRl1USLiXX14--gNUH3p1saZaGA4iFwF7S9FC0G_Kl1dUF55U5pggq3C0TvyuvXfUhfzgZMZibsIRda3pLV9dQAIx69j2cvYVSb0JDQQnDo1V_3r3zDjItXF5nrJzz4VjgoFJB7Wswv1EAfc6L1yKvag"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-verify-4096d0d63571/c2beaea460c84e568b6f3e8d05b49f6d/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-4096d0d63571/c2beaea460c84e568b6f3e8d05b49f6d",
        "value": "E0uz0X52AgvDzyZGuLY2Y4sMzW1LSBEEzq6VcpDFGfwGqkrR87F5U_IPuXFdoPDv2lN9OaHuFdZAJigGuHdvmkvxnohJPKeVdN5Zbr7grElURz6cz7t3IC8FmvSR_RCSNNhlG53pCS40ubsT__OIG0jnYbM4o4obp8S2xulw6KKWhd6NyvQPBVT011D1XLK8-AlxExLjf87AgTiIJWkzOGsVYgOK0Av6Zkqkd6ZIUOClGRknPD49qF3ihftklgYFvhnpkk4UOuVEUu5eYAXDtHs3oSew8sLaJyPF56up1Sv2lAtJtoi505NPdnoVcvSx5ECq-U2vg0C6gLyD8KJ0aWH6fcJYgPbr2O5pSJpf79PTphA7ipswjl5pDx4Iw1Oh3rXcypy-KfBaS8YhJa7OcM8fHyVWqJ0cI2ShyoNYgFQHP6XOuqwZnMST1Ol__frvHVny9lntfHLM4orUrTjy4e4T4o6Fyq0iIak9Wc_MYWN95VFomtaX3u7REItBJngZq7Bu14TDIzSWp8vg0GWV7-8jRBj73B1hJcR6SCvbktom9sLv4kiVFqheOBpxwJf9O1ZXYUIrgbiTvtmboRsNCkNnrMB-zZpp8QHw-qStGOF4FdipEscZRs4OC9AlSDXE2D2kjRsWyniCl-W1R-GePnATNcq0MpwrTnZgqbeHcoc"
      }
    }
  ],
  "Variables": {}
}
