{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrotation-key40842c5e/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrotation-key40842c5e/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "81"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1748906659,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1748906659
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrotation-key40842c5e/42389e30c3230e0e2c4e2ce40751a548",
          "kty": "RSA-HSM",
          "n": "jBv8mQklpga_a3fkeS0I3LB7vWCQkZzJDa5Nl7e1kNFDoiz-fVokbUOTKySu7JCHgItmqNmjJHtm2edEvbGHSIphifBPBKfAjDwYPOmaGmfEGhHH7z-hbdHtjy8SB4bNTRqKWufFU5g9wMFerjTHo5Um9yBUHu7puRjRWp759IQZMIPELvv7n12RpzMNMlsC2kAITbVyNJLKSxoxaTLUR1sFXu_M_DJxRdPVgjQyfY1LbmZAI11zIYKqTE9B36yeDwfk64T8EV7rzA9y1ZMcaEZpk4bKv1Y0iUbHX832IS0BJAb8_eL-0rTUhWw18l_u_XdZDgWk9snu2U9EEVDUjw"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrotation-key40842c5e/rotationpolicy?api-version=7.4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lifetimeActions": [
          {
            "action": {
              "type": "Rotate"
            },
            "trigger": {
              "timeAfterCreate": "P2M"
            }
          }
        ],
        "attributes": {
          "expiryTime": "P6M"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "39"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1748906660,
          "expiryTime": "P6M",
          "updated": 1748906660
        },
        "id": "keys/livekvtestrotation-key40842c5e/rotationpolicy",
        "lifetimeActions": [
          {
            "action": {
              "type": "rotate"
            },
            "trigger": {
              "timeAfterCreate": "P2M"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrotation-key40842c5e/rotationpolicy?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250507-1-41b99104-key-verify-fix",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1748906660,
          "expiryTime": "P6M",
          "updated": 1748906660
        },
        "id": "keys/livekvtestrotation-key40842c5e/rotationpolicy",
        "lifetimeActions": [
          {
            "action": {
              "type": "rotate"
            },
            "trigger": {
              "timeAfterCreate": "P2M"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrotation-key40842c5e/rotationpolicy?api-version=7.4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lifetimeActions": [
          {
            "action": {
              "type": "rotate"
            },
            "trigger": {
              "timeAfterCreate": "P2M"
            }
          }
        ],
        "attributes": {
          "expiryTime": "P90D"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "29"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1748906660,
          "expiryTime": "P90D",
          "updated": 1748906660
        },
        "id": "keys/livekvtestrotation-key40842c5e/rotationpolicy",
        "lifetimeActions": [
          {
            "action": {
              "type": "rotate"
            },
            "trigger": {
              "timeAfterCreate": "P2M"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
