{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key54c0367f/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key54c0367f/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key54c0367f/4871446297f540d5b6902e23fb385cfe",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "1I4DY6jst1yFZGccynGyfDkNK2pV4bhvpHwH-QIzJkMY7oPvyz_5vtUdzWt_yAZ0OuOOBRQ6w_jSEiOb-rWV8lJoG7H3vohKwHTD27zI_tXKciXs_tjS3H_qmTn6nkJjIeh3jC6xkW2Vq1_TfKKgp85s3E9WMovhILdUHWSInJoYA7u547EBd8nPbidG-Cepjc51WFWA9lG00tTP7mbS54LVoovOnX9Z6x_HQuNfOGM9V7Qyg5A6VwPvYPVw1lR29lsmZB-oarM1h8B-68cBX-6Y-tfTWgID3gj3cPjTj3RKVhRbGD6837JrnS2olFu9udh_EG6MwLANMDHjkdyrTQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1741307938,
          "updated": 1741307938,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key54c0367f/4871446297f540d5b6902e23fb385cfe/wrapkey?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "NTA2M2U2YWFhODQ1ZjE1MDIwMDU0Nzk0NGZkMTk5Njc5Yzk4ZWQ2Zjk5ZGEwYTBiMmRhZmVhZjFmNDY4NDQ5NmZkNTMyYzFjMjI5OTY4Y2I5ZGVlNDQ5NTdmY2VmN2NjZWY1OWNlZGEwYjM2MmU1NmJjZDc4ZmQzZmFlZTU3ODFjNjIzYzBiYjIyYjM1YmVhYmRlMDY2NGZkMzBlMGU4MjRhYmEzZGQxYjBhZmZmYzRhM2Q5NTVlZGUyMGNmNmE4NTRkNTJjZmQ"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "BadParameter",
          "message": "The parameter is incorrect.\r\n"
        }
      }
    }
  ],
  "Variables": {}
}
