{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrotation-key901d2ace/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrotation-key901d2ace/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrotation-key901d2ace/ac2f7079d37947e1b7b4a71be33c948f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "1o3lGHp5UdZNmAAb5AdEDuVI59Ny70AL6aaqa6yGSSMfs3_OCAAYWdhuZAA4vq39oAQ_4YLEqz-ZFSXdI2y3nYVp78nor4yokU8GdDXtdIhKIA8GVjTr_uGvOy5yIrbm7TRdn0LKO1p8Vx1CsCm1MVtVhZZHWxhnjwDk9aJS2-KlT6pnOCnCBiym407leWAh0FLzFYtcEYL0cAfVBvciIXmxZ0AA3uHB7Pxl9rfQrCcH73S3-hame3K3B1MeBWRMVoy4Fg5hJHNdGjmuCyPdwp0MeHUVzSrMqtyQrPd3Ho_9aUm9MHnik2nSy-FFo4c-_YDFpxshYdOYRi48cCvUNQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1682118598,
          "updated": 1682118598,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrotation-key901d2ace/rotate?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrotation-key901d2ace/9bbb5589c85145bf99c917e804f00f86",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0Se6GGTpmd70OfNvx5c5iiHwKwcIiJgJEYUB5KYXhCuYGqtXpAu7bddHaXpIo7KSFRaygtlgQd59vunNL_qTT6IP3oSR2x63YsBR1RXtVG2st68ZdxQbwqb8rrxeYXJsiShRRlJ9Jobt2Rh3ODIYHXhG3e7QFI0cMBkyvszF5zdguPRGBSVIMyP9p60X2dRoR8SkhQkGZUylZzP2Pm7Hustks1ZX6b97jCXToDgPomLPR2K2JlR1fhUHGjeyj6HGrDO1ZPveJF7Vc3hngqyclAekYtGLzG-rMvA3zQyLAwlg4q2tSQ2NaddSIBnhEOWajSBQabIkHa9d_LchatUorQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1682118599,
          "updated": 1682118599,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    }
  ],
  "Variables": {}
}
