{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-namef5ed32f3/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-namef5ed32f3/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-namef5ed32f3/240aed4c4f404d2a937478eda01cd504",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "veGEGeJEsOjGFaaLzeKiYTOsdGlWizubxs-bNn7lgTnQZlPlQX00kBERI4XLToPaHC5noCKpS0J6b8ItYaVmc_foteGh8WHpvBCdB9xsQGfoaIEVrCwXBESdmAqJCfE1uFL3LASuGys8ZkvauCgl3lwWj5wujXlBugVqVaDQtXi2W2qsQkZgY-YOUsKfc0uzq2UgEsVg3C2FktF1jbipvdve-0ZZGeFOnQxzhSRmOUidSFYSbGeHoVpo0Cvr4RVKiaEhMzmzgE899Ni_Gz88pIBmnllshRPU9QQqzqaKFdcFTKhE_EuVcKM185OrQIFwJn9yFZnKqpQ7vf0jPjlweQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779713030,
          "updated": 1779713030,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-namef5ed32f3/240aed4c4f404d2a937478eda01cd504?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.az[...]
