{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key808e3419/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key808e3419/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key808e3419/5b8dbe3449174e0d8e34101d2a2431ab",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yWulz3J7eSwMUfHchvKIJrMbq_NGvTlzyE0ADR9IWyHwAb1GQKXni_T41QurCR_EAf1lFk03YJ3TTlxIbSVMZkbM-amw3qJWPA0UKjGUMAXwGcWiHwpLa8lmVlj4mfOsXpm8ls7TtWGtvIFunhkXejnpyaO6tcDsHXP3BiYoLKwtOCOdxrsqkXVJO2GIcKMhAwtJ6adkJdInQE3t3AEQyHhy_VAgKSMgU7Z31hMVmD6y4WW5cyeC_zKPIX5B77h1JKYqZIwaaW-7KYpZPCgFeYM8K2rzjdRolQ7qGy6wErMdeRH9vW7Hrtn1oXyOND4DSDP_ml1Hnq8AQjHhd6ZtNQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1782496456,
          "updated": 1782496456,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key808e3419/?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/live[...]
