{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-key-name45882f5d/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-key-name45882f5d/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-key-name45882f5d/9836df7e5202483b9383a40e315ae012",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "04PCAaWKXW1oODFn704G5poP-xOU2MkVcRTrHxLFkLhCQRoZCVOhf4LoH_tmIixzXXnyEZIhEnD5hTXiSyfWsO0_kSNjMgAqalRobzAS_hVlAyEBta6q95Puu2DPj_X6eVMh_V40ywSAQz_Ew3GdNahQwG4wATfLB_Sctu1ntRgb5XvqwEKPtfNjFJjciYmUmP6TQAvJ_zJhuddd8HDHqlLIz4kMF5Z4IMxiIknW6191DfuQYicmnw_3C-8I5zMK1lPVAKJ_F0N_GJyu2DRwSaphExSJ__RwtQfoAwLSIxJQ-P3asx5NKeDbOSNrfsty1NDlyooqss-DVsxfV_4g7Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779476966,
          "updated": 1779476966,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
