{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestwrap-local54913278/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestwrap-local54913278/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 4096
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "161"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1697668352,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1697668352
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestwrap-local54913278/4ebf40946d8e4a5a3d5b501ba10e2284",
          "kty": "RSA-HSM",
          "n": "xU_7noy83wBneUTsSWlxhHQ9PbcIQYY5Co_eMjhOXBtDM-xFAxESt_5pN-HNtjzxPH-mTVdKNGWkvwVI2RoV6G-OaBqH1T3iua5WmaOqO0jZAibipYHDPU-zeDUPjJ2rZsEvoYrueF1gEuSWdofqTaDHIwlufmF_z-krkw_B8w9c8j8XW2Q8RvQfzwQg84_n5IoHCWzh0HLqz1WO3E6wm5UJ4Tcmt5VkxmacqenQ2-WWXPi7gVnostFVe5bATwddFpyQLcZTL-52A12kaH7Isw_8YVAPjIl95vKi_-EqzpaGgI4WlaP_w5P9GD0GZw_csbZugIl6UbG0fnbSfWOCN2pbbCZiGXUuGsu9wyIKg8h4RpAJtLXyUkABE7-wSbMUd9kTlF9woTzhRrFNr0Qo9kNpqQy7xQE92nNDiZ4gH7Dk5wgBBQtmGfMQnbLhyEEJt7PuBNhIpf9k7kv6fb-TEsCKtemuLRjsuCNqymUPquwnd0dOP5dT28Ybe1P6Z2UfPCJIOdOgO2AUReKHaGINv45HNPZGKxugL7NPJhyiwgJ0kSRQLb5ghisKhSOetP5rhyQc9OgqGG8hdEhowN-KSDOWgaSZoYmEv7Y6NLZg-qQ_8eWJ0N7UfZDA-EbWJy-fFkYmvFFaC8r5_veqChY8wjb85pPcFrleEn_3fAKnb6c"
        }
      }
    },
[...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestwrap-local54913278/4ebf40946d8e4a5a3d5b501ba10e2284/unwrapkey?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "wNLre8PZt84-OulMMbTtdHqoa6YKl51xqtQXUlEJH_O_Z80IrHt3FLKIGTVYyr2EBuOrFoWHc0wbpX2khfNIEOjponsbnvTstH9fVahz7A1euxA83ZjHzWN6ObRByK6MRQvGxhzUgzkec6Ekoyw9yTGGfMOmXnIFsyEZnrogS2ucgTLwIxS5PH6o6tXSK_MXvsUCKyuUt2GKhMyaPlp7z2ynO4E_htOuoPgs1pZn-4hdeigj06xTyRin9tNnSp-OUCtygjmx55sV_0yy0CYb85gHY2v0IPo3bPeJVS6MNJJtIG02tX_exq6DsvMR5Frn7nv_u3i0ca2kFdqfUZvyIbekybZfJnopME6VBejTN3LraGo-ngeX0O6DHLQd7df6ToUHd4KE21ldIjmeecwWLB1Y2bt__Yq1_9jg5THZSuCN0xGY0uMkNKwgZhT53ljJU8bFaCk0dKl3_xnDLGpXuU1BPqdm6I1prjfSMlKe8Dkze-GyBmBzeOulWFRJqDl4x8q5h_Ox6dkZfsEu6mTz4Cz-ASlvd65wmeTNy73tf9JRjczMwV5nc7CzzQ3pNIdjH59_SxFuDHPtS-xte_3nujoIlVJUa6H1Ntl__JRU9oCGS_jEDgWI3v3ze2v8VqkMvUjT3FmxVSW9FF8RBVF8QVs3ssPWJp--uUA5vSMTCfk"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "100"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP",
        "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestwrap-local54913278/4ebf40946d8e4a5a3d5b501ba10e2284",
        "value": "NTA2M2U2YWFhODQ1ZjE1MDIwMDU0Nzk0NGZkMTk5Njc5Yzk4ZWQ2Zjk5ZGEwYTBiMmRhZmVhZjFmNDY4NDQ5NmZkNTMyYzFjMjI5OTY4Y2I5ZGVlNDQ5NTdmY2VmN2NjZWY1OWNlZGEwYjM2MmU1NmJjZDc4ZmQzZmFlZTU3ODFjNjIzYzBiYjIyYjM1YmVhYmRlMDY2NGZkMzBlMGU4MjRhYmEzZGQxYjBhZmZmYzRhM2Q5NTVlZGUyMGNmNmE4NTRkNTJjZmQ"
      }
    },
[...]
