{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrotation-key40842c5e/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrotation-key40842c5e/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "79"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779475255,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1779475255
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrotation-key40842c5e/c8e8e2e4e4aa4a8fa2e8843382a4fb9f",
          "kty": "RSA-HSM",
          "n": "lwZ8Ioi5JXJKCqgFd1zNcBkUIZkwZmKUAD3oqGdM9FuDdR54lDy60HTEl6AvgYPVQvQQ4xAgYQsvQTefK6piKB5fd7TYy_tLO7uRo2tzI7A00sJVs7agKx733UDe_z1O0pP3826ZNmuy5BJlvDPkeRcqsLTcyUgXn0qQ4mse0Ru0wR1OyJzC6Yjn2A7_drdyLqwkCp_cSCstqnWo5C2hc2fFPBqBiuwXPEkXOq3z2tJKWTBlh2aWhhqT4O4KDMuv4M0ehnC6Q2SvOEqMsd2S1qJBsETqFqTtAreWapGEGT2f-qOR1PiFIvbxdt2xrtkcdO0Vcks8lK8MmAZs1y9pQw"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrotation-key40842c5e/rotationpolicy?api-version=7.4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lifetimeActions": [
          {
            "action": {
              "type": "Rotate"
            },
            "trigger": {
              "timeAfterCreate": "P2M"
            }
          }
        ],
        "attributes": {
          "expiryTime": "P6M"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "38"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779475256,
          "expiryTime": "P6M",
          "updated": 1779475256
        },
        "id": "keys/livekvtestrotation-key40842c5e/rotationpolicy",
        "lifetimeActions": [
          {
            "action": {
              "type": "rotate"
            },
            "trigger": {
              "timeAfterCreate": "P2M"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrotation-key40842c5e/rotationpolicy?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779475256,
          "expiryTime": "P6M",
          "updated": 1779475256
        },
        "id": "keys/livekvtestrotation-key40842c5e/rotationpolicy",
        "lifetimeActions": [
          {
            "action": {
              "type": "rotate"
            },
            "trigger": {
              "timeAfterCreate": "P2M"
     [...]
