{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keye3212df0/create?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keye3212df0/create?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keye3212df0/8c4b52938e854509bd085b9f46831a73",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "163fPqo2BjUyg-x0SliaJxrQzRFLbftdV2hIfaG8-DdpblgqjQELN4nZ6Usw8gmYLvFe7J1uAMUR9A71txQaLO9kveSm7a5oM3hQX1io_O5cpbQx6T4Ae5SHizulcefxHPwivsbUYhHlahN8svQ3SmPiRgrX6bltr6w1AvgH5-DWPHu20q2hFItTfWzJPIIkmsVdzd4GCWFQ8kg8yBC6FDKh3HIiFVqV0c7U9PH5ZvWYyul08Ta7qL-DcNlwAHqxcN7NdkmSlWeR9iSWCXuLubdZPBkkOU87hP6QUMkVh33ZAXftrtxzdNYYmQvWe6FB0d2xVTan-JkP1TLum1UElQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1741729765,
          "updated": 1741729765,
          "recoveryLevel": "CustomizedRecoverable+Purgeable"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keye3212df0/8c4b52938e854509bd085b9f46831a73/unwrapkey?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "qsOLsLqE3SGgBSQUdBGg1_q_cEQW_bMJStZ9Hm_57lu7xrb4ZAYCsPQH4x7Xpy6qPoP5iK21U2nHu83XBf6P0ljWG_QaahnaA7Q5S8L1fxiGLBeRJxT93F0xNH4i7yxLWvqb9VBACBcbvmtLGP3KhWxWk6MobFJ2TTxsXq2PXZLJ7eu99B_j0Ei0Fem_2F0ZVsQidEoRI7xB-VBfsJyD3qIlh_7bn5rFUXbhO4DM8aX6Y4CnvoPx-rZptpqU67tuq0i3_FdGFWVv_t5ICwJgm-3JKfZ-Nd9tGIyUEOWLy-0tu6PuC8bXAnl8DOJrmwbM4eAMs4Mh9H_JrowAhoS7fg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keye3212df0/8c4b52938e854509bd085b9f46831a73",
        "value": "xbD88UOKiHBqEY3llOj_BA5Z_nWK6TwGKNt_qX6FAgQ"
      }
    }
  ],
  "Variables": {}
}
