{
  "Entries": [
    {
      "RequestUri": "https://mcpatinokvhsm.managedhsm.azure.net/keys/livekvtestencrypt-local491d3640/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "5"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://mcpatinokvhsm.managedhsm.azure.net/keys/livekvtestencrypt-local491d3640/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 4096
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "151"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1691701182,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1691701182
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://mcpatinokvhsm.managedhsm.azure.net/keys/livekvtestencrypt-local491d3640/c4f3e9f0f5de075929f2b2572d4c8723",
          "kty": "RSA-HSM",
          "n": "lHtQ5L50OLW6-eXLu-y6BrX2JJrMc2Xon6XZIXyEREAtQlOZO_bGvPPlZWMcW5EccVOG-sYOZeS368BdegcSel0GdR86zy50qdXY7-mzdQfTR95wyP-_qsxzoWCZgREzji4K4IDPWXaaPTZg8PLCXIGBB3BAyhreU2A0fFU_seDHWSV3NFr0JxvD3XTj9QMlGiUzxhPd1Yj_3RGiB_wiO--j4dfHHzXYDlEqufxfZg8bRGfK2C8PklalJ-g6YGrRdQw2KUsvm7M8bLZrgaLaiahOCSNjxdNDi8Yt67t6MRMet9q8CJjKdgQvaO0d-kbC9ULduS2vMa1miSeLg1Jk0PCeh6igycgZFfgVqLcfD-Li-Xbm21jFClMfWwuGZG5lFi1ROl1xYWICjCUm05_lI6ouVysIOP7pnBGvbr9xhZ0N0O51p-ZGWfog29DWEm72uyof7eNTA-9GavhzlzMKZLK2_dR_kzLcagTzHWaMx8CIFgoD_crEU2Yls7yzQd_oj6g9f8BqAundPvqQJD71I8kN7x8jB-yxWzKqCOk0tyWbEmOb3K1OTxQZcCKJe17sF7HJdWSgAOAZR-UvWPpx-egWJTtMmkGmzcUiaamC83F5jfLUqicTNYRQ1VsexnhVTFqF-arJGhAJVCEPGVq4bYKxxy8q3172FKFxgC7wX9c"
        }
      }
    },
    {
      "RequestUri": "https://mcpatinokvhsm.managedhsm.azure.net/keys/livekvtestencrypt-local491d3640/c4f3e9f0f5de075929f2b2572d4c8723/decrypt?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "QXvkacD_3azHn4duBmv7aJMFiaHOD0Mdwo4pQdXjxSBRGrOxumDD9Zc0h7vaFfT_7ZJvtrWeAYlBu5YxqCzCkQTzo-M3E0uXZFkW3Wn0a5fvvHi_VkRuYUBElyND56l4BTLuhgF4JidOkGJzZHneuwyi4N-oXVnt7sMD5s1j-py168yPSf3JE1xiJdE7P_KR2MWMruMwZgQ-uFEHQPC47Oo1qriC1kCIIzQxSNap7zGrnvUTQGsxluSLBdi3a3sKRiCa5I5L89BxrRLvHFXlmbrKAeClLaQoF5eVa5PC_TncZBqjKgfBb8txVGvdODmPZqgNtl-lHtNoKx-wEFUJ3ocTrm0q4KKh8QAnGT4QGP95ku5cmEOpLRtVXRPilAqHlTFZmG388k-bl6CEItNr5lK1_LEEKsAafOXqmcYjJrzYD0w8QJ6UrdVE0wXoQ_nEIKMee9hH89xs2bEIb_un09DDG07Br0B7MauIfhacy-BSfG7pFyYZg5xAIVXHRnbv3T_HY1udi0ZZO-BrvHrbWYGR2z01OVtSvWRWr8sG6V5iH12KvYHSBF2Nqf8Dsp3UIpvJkZ7pkQI4Qnt8PqTeoT8Cctmi1xFA0rSSA8n9RKy9uDQW8XbAszvgWBw86_1s_KAjIG8VjuRTAr_ftp-7Mwiz3sK5KaDYZs6crIlGjoI"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "39"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP",
        "kid": "https://mcpatinokvhsm.managedhsm.azure.net/keys/livekvtestencrypt-local491d3640/c4f3e9f0f5de075929f2b2572d4c8723",
        "value": "NTA2M2U2YWFhODQ1ZjE1MDIwMDU0Nzk0NGZkMTk5Njc5Yzk4ZWQ2Zjk5ZGEwYTBiMmRhZmVhZjFmNDY4NDQ5NmZkNTMyYzFjMjI5OTY4Y2I5ZGVlNDQ5NTdmY2VmN2NjZWY1OWNlZGEwYjM2MmU1NmJjZDc4ZmQzZmFlZTU3ODFjNjIzYzBiYjIyYjM1YmVhYmRlMDY2NGZkMzBlMGU4MjRhYmEzZGQxYjBhZmZmYzRhM2Q5NTVlZGUyMGNmNmE4NTRkNTJjZmQ"
      }
    },
[...]
