{
  "Entries": [
    {
      "RequestUri": "https://mcpatinokv.vault.azure.net/keys/livekvtestkey-name4fde2e57/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://mcpatinokv.vault.azure.net/keys/livekvtestkey-name4fde2e57/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://mcpatinokv.vault.azure.net/keys/livekvtestkey-name4fde2e57/5630beea027b43049212c1651d48dd15",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "5B0325LBZ8s3TBt6bXYzldIVYEbbg0LEN7Bd1jqiup2eC9-TvEkx6_Ubqv7vYqsNVdqQBkUQ88FcQuoWR7KzL2mXo6zzQtAPJ8lJcX1ixAPNMGQPHQeJRGMc3lJOpowNYfyPNRjyVS8QqX9C87mWFw6dWh7qlm_eufPAE-08_P9S1A853mRfMwUDPow5kR9z0xXKiLDu95xo4GtSY9hifN9NzpyyE8SBbohQG9JWiG28_2xjsPWyhNC5NY6NHJCxN0pO5QUorq9i6NW_EQcYV_2fjTfCRRV6_y5SQwh8pnOtXHfr0LcjFx6W3pOFKhQKpVv4zW11GbqV881mruXvMQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1691702004,
          "updated": 1691702004,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://mcpatinokv.vault.azure.net/keys/livekvtestkey-name4fde2e57/5630beea027b43049212c1651d48dd15?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://mcpatinokv.vault.azure.net/keys/livekvtestkey-name4fde2e57/5630beea027b43049212c1651d48dd15",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "5B0325LBZ8s3TBt6bXYzldIVYEbbg0LEN7Bd1jqiup2eC9-TvEkx6_Ubqv7vYqsNVdqQBkUQ88FcQuoWR7KzL2mXo6zzQtAPJ8lJcX1ixAPNMGQPHQeJRGMc3lJOpowNYfyPNRjyVS8QqX9C87mWFw6dWh7qlm_eufPAE-08_P9S1A853mRfMwUDPow5kR9z0xXKiLDu95xo4GtSY9hifN9NzpyyE8SBbohQG9JWiG28_2xjsPWyhNC5NY6NHJCxN0pO5QUorq9i6NW_EQcYV_2fjTfCRRV6_y5SQwh8pnOtXHfr0LcjFx6W3pOFKhQKpVv4zW11GbqV881mruXvMQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1691702004,
          "updated": 1691702004,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
