{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestencrypt-local7c2c2ced/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestencrypt-local7c2c2ced/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 4096
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestencrypt-local7c2c2ced/e19f52c06e4a4d3ea518b80d7584a815",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "raMxcd_C0IrjUurddT_w6nEzEuLDmYHJrAd1Ggye1tUOwuFaXZ7OcSLAL73v0ow4iir6nyBtXONoDN7ehqiIKdMbVBSglTAWiSXuKnD0x5cHGKiGZjmi_EZQ3-Hr7ta3EudYLV12o3bhv_QgzbYrfOBRmbwdLKWiukf2hNwQ9UXAjR0RxJ-_j9M0SIV4EC4mwGhHQUmuulQzY1KYs6wLq4qwayLy-4gv9daa2Jjrx4eCXO8o8c-z_B52XixFTbLRwvpR7lIQ3_vChQcuKpsyR5yCYSR4BwL1SuMXVBmeaWQFmnhke5w-4QAhqyD2DvrHAbD7zv34BnB8zCpwa91w3bxC9VBmudZZY4NilGLgnwiif0ANc_IOpBniiACf8qe8ovAvri0RapbnzEIenX4kksOtRGoBQqkCYl1ojqw4f2-qocd8DnC7BFyH4oG-WINISGdrC-qZ-8bbl9p4leKx8ZFuW6R7ziY8p2pQnDBLq_yDhRqXqoFAExMpB_cYhn2HXiGRm8-vPckHHeF6rv_Gc0P3tIQ2W4vPyWCO97ryPugr-mVI8_SVcya9tfM50EP8d1rAB6W4x-nHHdIJVc9yWCSlRiIA40vrqzbgkk9n2cipePw9bM0UYb-wUWd2JfUsAVTkygeLJ01Uojnsx-CvMgOwx8tLLaYPjRm9xvfUUwU",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1678159948,
          "updated": 1678159948,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestencrypt-local7c2c2ced/e19f52c06e4a4d3ea518b80d7584a815/decrypt?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "M6nmuRzUdPjtbijjnJCntEaOi-Ku2CQ_kEoIWrJce-2ljVUOl4Ux5RJC5U9qcPd_h6Dq8ZRHB8-exuV-1xvaORy227JKJOxOsySn8IIwJOxiR3Ca1ThyIu5DlObSNP_vp91kNFAV-0fHjrc87kQTDKtzzORG7SPpDs-di5CQoD-e_lS_8uM8YtFUlCEPFX-Y1sqwBVxbA5OvOz9Z9SX4QszbuCyW4c7_G4cDZJQTLm7ywjXbdxkxoa-Bp8Rgg6aad1_kfGugN9lvpXjvRjI72DpZJ0xfEhAQ9SqkGn64HOsUw-g2mz5CNs49UmPTsvQUXfZ9rYVcGBId3BbeYRS5otq5wjmqkDRyavPVS4y2rccDKkQO2Jmi-26hNW3O8tWA7VzfHgX5Z5M0Yf8sM09mWPrZtwPQ4JbYSmjoa41_S7OvM_85SygcT_NsCLLELi33jE_15M4THqCSu_Hzjng5RPNNXe9LhBaHrehh7bumVo-lIhuUNpeVY_Yi5bkCX7B0Zgu4Zm_LBlOS6xiQfZLlTpn-6dActMfdkSwuMOC5LarSN4oSVVXVHYMHstNSLcrXn180ec1hPC4i4La2mQN06ftMB2UUu5BYUQOcX5hzeJPr0UhaYj4ifufdN9E8Ro8XJQnWESML1ApgStFdbZVuPjQYZFCYLBh4RUrrwi9LfnM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestencrypt-local7c2c2ced/e19f52c06e4a4d3ea518b80d7584a815",
        "value": "NTA2M2U2YWFhODQ1ZjE1MDIwMDU0Nzk0NGZkMTk5Njc5Yzk4ZWQ2Zjk5ZGEwYTBiMmRhZmVhZjFmNDY4NDQ5NmZkNTMyYzFjMjI5OTY4Y2I5ZGVlNDQ5NTdmY2VmN2NjZWY1OWNlZGEwYjM2MmU1NmJjZDc4ZmQzZmFlZTU3ODFjNjIzYzBiYjIyYjM1YmVhYmRlMDY2NGZkMzBlMGU4MjRhYmEzZGQxYjBhZmZmYzRhM2Q5NTVlZGUyMGNmNmE4NTRkNTJjZmQ"
      }
    },
[...]
