{
  "Entries": [
    {
      "RequestUri": "https://mcpatinokv.vault.azure.net/keys/livekvtestencrypt-local5233307c/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://mcpatinokv.vault.azure.net/keys/livekvtestencrypt-local5233307c/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 4096
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://mcpatinokv.vault.azure.net/keys/livekvtestencrypt-local5233307c/b73bc794e33f49cd90dce21ca708ca43",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "t1AN9ryAu4rsdxDsUYedq3X3uihpUVb7PXehILReEAg2iW_vBC88RlTtuLKk6acMoYVDcKg25olQpxcnl6_lzyAI4ugDP90qmbVsP-67uT8Cm_cF77gfAQI_mVFU8gKE9NI7W5ttm-EZY5Ie96GRaiJTsRHMvU6Q4KY_pjuVLwv2egQXpabrnyWQjOGEzw21XBAJBOmegrDU2lELfBT3kS-lF7zPebPnjcCCUuglCT7Yd4MEQhyfaKLimEEWz25GqogTUU0WSjg8eLxmeoQFcfsvmQfOdBOGcbWxYcx2Sl4v9R3z21-iuQV-mucYmUsUL_m1DqYMrNgh5pl4FUGk_D-pp1XCoXj_62EaGiru_TvU8ihGxYDYj65tLXf8McETJg9bXrjo9s7oVRhGL50JuPl2uBYethC2uDsJACrP_3yBWr3my9cxb6jPSd1ALUqmZYMfcx88ixgCWoQooChOogJhOKv4qSLrbNkKKZWLSCRn4yPh4EHRiQDZwrbtnbOi9Y27NDA3V-HFmR39KhG4FbQ_U1ZJlQ1Tq29yoVXDks68pyNv6DL0hifi-KrmcjfLCyExiNr2GO63KrW-sgWZfD64eA1IV3tA8z-Ai8as8hg-jAMCzM-CEELGS-VUUm2aF8p4uex9ukJFUl_S3dAX8cHneOp4pWa43pP_D4HDh4U",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1691701004,
          "updated": 1691701004,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://mcpatinokv.vault.azure.net/keys/livekvtestencrypt-local5233307c/b73bc794e33f49cd90dce21ca708ca43/decrypt?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "TajJysDdA3594liFGRRjq9afQQt_MvS5wleDM-WrWklbLVpk5DhPQ5l9yclAiZkwX6s3CJmK0blq2FT1iIUYcGK9FGr7N9MeItXk4LPoNcT4AaPDjSQTgYu_smV98zt0Wo40IM1a06Pm0mVI6Mk2csl_cgJmqW2WuWCG4bmyhWrThsO0Hv4c3Iyg5jjTjoDC0qQfbdj24pKpreiiiEx1r_Igr3AfKjDHa6qsxC5FCy12iQcoh-yjXHDtH0t7JUEcDvkh2rTUrsWE5esnjxAcuVRAZeJEhJXWxCypawkrdqH3wF4CY4th1BuYo81FKskQCRiZs_SoLZY5tfnEGmniHkBQcqz9w-CrFmF_H44GOIDCp4DWKDyQnIbyvlxROfsMSH-r105fP_Wzk_YqniP9RxqtDSlOEibSm0EgtnIs_HAR7WqJT_c8tYWCiekQ6zNod_la9ZqE07wga-UcUo9Q5iywhJxaxMevFIpJyMyzHXfxRPS4ZMJhs5__O243jkaHSHuWSnrJBH1QLLbxVXxs4xWkR_5t57josaLq1q0ixv4jS7HjSic4FSS8LKeajEMJTx3V4dNlQlXQ1jr3gl2M1Sy6cQtdx38UrPmATlmdvy7BHKoajYYle6GrNFzJ5ARNyU_9rzqbpBO6EzZ_EfNceGHfkWVEwQswPOvIaihr_oA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://mcpatinokv.vault.azure.net/keys/livekvtestencrypt-local5233307c/b73bc794e33f49cd90dce21ca708ca43",
        "value": "NTA2M2U2YWFhODQ1ZjE1MDIwMDU0Nzk0NGZkMTk5Njc5Yzk4ZWQ2Zjk5ZGEwYTBiMmRhZmVhZjFmNDY4NDQ5NmZkNTMyYzFjMjI5OTY4Y2I5ZGVlNDQ5NTdmY2VmN2NjZWY1OWNlZGEwYjM2MmU1NmJjZDc4ZmQzZmFlZTU3ODFjNjIzYzBiYjIyYjM1YmVhYmRlMDY2NGZkMzBlMGU4MjRhYmEzZGQxYjBhZmZmYzRhM2Q5NTVlZGUyMGNmNmE4NTRkNTJjZmQ"
      }
    },
[...]
