{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrotation-key63fd2a58/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrotation-key63fd2a58/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "77"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779475362,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1779475362
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrotation-key63fd2a58/b742911f271208deae797f4ad54eb070",
          "kty": "RSA-HSM",
          "n": "tvkupulITPfa7BlHHfyR_EzRUOHcnJ-LQ8xPP2jOjaXBGj6QntOz_-_nIKrszbqLH6AQnF44lGc4l4iPjfk-PtnkoeIKBmhmuVQ6c8EJA4AsS-HTu_jK1wqcn_qlohkar1myAuseCTm-iBp-51fCd1LGDeJsz0TkKOE21piAGqcM7Wz-ymYCoNRPW4owbypzJq7KXzwU-7x3grn74TSG45Smvr1QOc_F8RuAM3o0Rdbekcqf-_fgG9UdzgIDviKZRg0sbHnnjYKgFId1hhKLUsWCab4bCbMcdLySepEWjIepdIWWLubVP8IpnkR8KXI0vFoFcQr6sn3kKDpoglMAOQ"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrotation-key63fd2a58/rotationpolicy?api-version=7.5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lifetimeActions": [
          {
            "action": {
              "type": "Rotate"
            },
            "trigger": {
              "timeAfterCreate": "P6M"
            }
          }
        ],
        "attributes": {
          "expiryTime": "P1Y"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "36"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779475362,
          "expiryTime": "P1Y",
          "updated": 1779475362
        },
        "id": "keys/livekvtestrotation-key63fd2a58/rotationpolicy",
        "lifetimeActions": [
          {
            "action": {
              "type": "rotate"
            },
            "trigger": {
              "timeAfterCreate": "P6M"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrotation-key63fd2a58/rotate?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "118"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779475362,
          "enabled": true,
          "exp": 1811011362,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1779475362
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrotation-key63fd2a58/0eb1c88fa7254b61b14b0f0c66c92366",
          "kty": "RSA-HSM",
          "n": "pYS4iVJD_v4MkFSFabbcHRPqlSGMnmNrSmzGdCnD2T37CDt-0ZKTBkG-uBqtse7x2XMiP-fHRPJ0xLvNR18WEdqlI4D-ixtmSFYfjB_PakBF-CH5vStuloqVkGQb0XQBuiEgfQhwgoe6Frze5WvKjni6BzdX0he-pKf8ejn6Il6g8fw6aFvWcSxy0alwSL4sWfZI1LlYh-zRq5uhc8HYaagP49U_-Zgay38oOdFLxN4eE2RgciewaGqYRo2ZTtp8VmmhDH2JcMmz0heTVdIqM2LMoVuyPJBFxK98bnWHLqeZgdn4JE3oBmGLv7rFTC9gQJDHwpANB0MP74Broqkp5Q"
        }
      }
    }
  ],
  "Variables": {}
}
