{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestec-verify-P-256aee63428/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestec-verify-P-256aee63428/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "174"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779476665,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1779476665
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestec-verify-P-256aee63428/611366d74a7f450b9b365e398bc4603e",
          "kty": "EC-HSM",
          "x": "ErE2faxMYzZ9FWmd6CsoqVnHTARwGvVqi8hDmh6iDa0",
          "y": "jsZOaPnFjgvXE6r7oixtDGwHxrkqmMbxNE4vZEXNCoo"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestec-verify-P-256aee63428/611366d74a7f450b9b365e398bc4603e/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "14"
      },
      "ResponseBody": {
        "alg": "ES256",
        "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestec-verify-P-256aee63428/611366d74a7f450b9b365e398bc4603e",
        "value": "gMjA0slrViD31-DENlxmHSzpJr1NEscoPRM4wjfam6Qvg2_lO94kIvOKTx3T9snnTDup8N62spnqglAs60bckQ"
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestec-verify-P-256Kaee63428/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM",
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "176"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779476669,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1779476669
        },
        "key": {
          "crv": "P-256K",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestec-verify-P-256Kaee63428/57666c7f7c334ee72352045d451638a6",
          "kty": "EC-HSM",
          "x": "T7GlK8qDopemRSIqpseiE5evWEK01jWpjA5YbBySutc",
          "y": "JGENaEm6tuYy57o0zroVgo1FZ7hc34a0P5t4mUpG8Xs"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestec-verify-P-256Kaee63428/57666c7f7c334ee72352045d451638a6/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "15"
      },
      "ResponseBody": {
        "alg": "ES256K",
        "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestec-verify-P-256Kaee63428/57666c7f7c334ee72352045d451638a6",
        "value": "f-r86dVb0Z6WDwGyjTCg5dTAcc5wslLdym5RvDwMbuokeGEOsxUaaTUvJPUmG0d5eqPatdwoE4s42Zpgtofnug"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestec-verify-P-521aee63428/89f874880a4009971dc83d88d6ccad66/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "35"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestec-verify-P-521aee63428/89f874880a4009971dc83d88d6ccad66",
        "value": "AFpyxc87Cx9__XBSlbaN6_75XN3ACZ4-Bm4RUIbntlZeTW6jzQVcjqQ6tJlMqVksjY4DJSkQSQz6fjxZy2Nzk84VAaXotvYLJE12Rxw4qpjOspTjdMtcy18-OhYCT4oL1lDnvDvDyD0SmogxmR38hJ0EX0W7md-4gzYn28fIvXQmHBFi"
      }
    }
  ],
  "Variables": {}
}
