{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestkey09b892be0/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestkey09b892be0/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "78"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779475328,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1779475328
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey09b892be0/35045b90662040da8e9dd4254fd1f4ca",
          "kty": "RSA-HSM",
          "n": "lyO-GJ9bifAzgsgLpeH7Iy-L16ZZqr7P3vqLdq0BC-SRv75aI1kNcqlKKlKtdSb-js0gXySGJGXBzA2AAwBCgYwsNUVnTNDk4d1JIiDI7_rr2wapUBKAOFIUTRAyD4CwRglOHNzlWnjfhr9I66yW_Xz2iePrkb76r3pT9LmuxGsoo6d64KkVV3dkO1VQVn4Z7apHF_CDyu82N1zG5g7DHygsT-S5iJIetbOZ1oVOEZqV7m-XZDat1TuqeRnR-4xZ9yNcbCylQVoSix3YR9WgZoMDQkhhLsL0UwSdqntSE33zICeDAeSiWUN3HP-HvTcUtEUuGSFoMb3ZP-PbFJByDQ"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestkey09b892be0?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "27"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779475328,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1779475328
        },
        "deletedDate": 1779475340,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey09b892be0/35045b90662040da8e9dd4254fd1f4ca",
          "kty": "RSA-HSM",
          "n": "lyO-GJ9bifAzgsgLpeH7Iy-L16ZZqr7P3vqLdq0BC-SRv75aI1kNcqlKKlKtdSb-js0gXySGJGXBzA2AAwBCgYwsNUVnTNDk4d1JIiDI7_rr2wapUBKAOFIUTRAyD4CwRglOHNzlWnjfhr9I66yW_Xz2iePrkb76r3pT9LmuxGsoo6d64KkVV3dkO1VQVn4Z7apHF_CDyu82N1zG5g7DHygsT-S5iJIetbOZ1oVOEZqV7m-XZDat1TuqeRnR-4xZ9yNcbCylQVoSix3YR9WgZoMDQkhhLsL0UwSdqntSE33zICeDAeSiWUN3HP-HvTcUtEUuGSFoMb3ZP-PbFJByDQ"
        },
        "recoveryId": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey09b892be0",
        "scheduledPurgeDate": 1780080140
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys/livekvtestkey09b892be0?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779475328,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1779475328
        },
        "deletedDate": 1779475340,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt",
            "wrapKey"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey09b892be0/35045b90662040da8e9dd4254fd1f4ca",
          "kty": "RSA-HSM",
          "n": "lyO-GJ9bifAzgsgLpeH7Iy-L16ZZqr7P3vqLdq0BC-SRv75aI1kNcqlKKlKtdSb-js0gXySGJGXBzA2AAwBCgYwsNUVnTNDk4d1JIiDI7_rr2wapUBKAOFIUTRAyD4CwRglOHNzlWnjfhr9I66yW_Xz2iePrkb76r3pT9LmuxGsoo6d64KkVV3dkO1VQVn4Z7apHF_CDyu82N1zG5g7DHygsT-S5iJIetbOZ1oVOEZqV7m-XZDat1TuqeRnR-4xZ9yNcbCylQVoSix3YR9WgZoMDQkhhLsL0UwSdqntSE33zICeDAeSiWUN3HP-HvTcUtEUuGSFoMb3ZP-PbFJByDQ"
        },
        "recoveryId": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey09b892be0",
        "scheduledPurgeDate": 1780080140
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys/livekvtestkey09b892be0?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "6"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Key not found: https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey09b892be0 (Activity ID: f7e329b8-560d-11f1-9048-0022480c2433)"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "6"
      },
      "ResponseBody": {
        "value": [
          {
            "attributes": {
              "created": 1779475166,
              "enabled": true,
              "exp": 2524723200,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1779475169
            },
            "deletedDate": 1779475169,
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestcrud-rsa-keyeb6730ce",
            "recoveryId": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestcrud-rsa-keyeb6730ce",
            "scheduledPurgeDate": 1780079969,
            "tags": {
              "foo": "updated tag"
            }
          },
          {
            "attributes": {
              "created": 1779475277,
              "enabled": true,
              "exp": 2524723200,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1779475280
            },
            "deletedDate": 1779475280,
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestcrud-rsa-key5c3831b6",
            "recoveryId": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestcrud-rsa-key5c3831b6",
            "scheduledPurgeDate": 1780080080,
            "tags": {
              "foo": "updated tag"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
