{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestec-verify-P-25681a630bd/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestec-verify-P-25681a630bd/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "132"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1715137080,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1715137080
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestec-verify-P-25681a630bd/112e0c17a243483b3bfb780c7d75d4c6",
          "kty": "EC-HSM",
          "x": "Q-XrO22eFa59cdsCeQvw8dcAHAE4hRD-MZGld4j6-xk",
          "y": "9HlxxcJ3mAxUwk5NaKd9pYDe2IgtpWqUtL4GVSrm3SI"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestec-verify-P-25681a630bd/112e0c17a243483b3bfb780c7d75d4c6/sign?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "15"
      },
      "ResponseBody": {
        "alg": "ES256",
        "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestec-verify-P-25681a630bd/112e0c17a243483b3bfb780c7d75d4c6",
        "value": "wj0rm60xSFCpgMrRZwaUSQHCgWow1qL-LHyFC9q76vLM42ApMXkDHIFUiTcDSBBOVhbqKfa92__teByfGfX9pg"
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestec-verify-P-256K81a630bd/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM",
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "135"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1715137085,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1715137085
        },
        "key": {
          "crv": "P-256K",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestec-verify-P-256K81a630bd/548772728aef0acfbe2044c705311728",
          "kty": "EC-HSM",
          "x": "gD4zh9wbMH9LiZdojdz_RuOYW7WGhzyZ6fV7xOxP8gs",
          "y": "pFjeAvatNshWatcCRgmMyLM9OV5UlLpjMa6-5x6g23k"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestec-verify-P-256K81a630bd/548772728aef0acfbe2044c705311728/sign?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "17"
      },
      "ResponseBody": {
        "alg": "ES256K",
        "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestec-verify-P-256K81a630bd/548772728aef0acfbe2044c705311728",
        "value": "zMdFT5ow2Ah1IfqxDDJCkqZF-zp8ev9ZSj2LGbHE67E3xUXei7Mujxdh-M8iMnFBRS1754QINkDJzlqoDp561w"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestec-verify-P-52181a630bd/06caccac95af42ff937efb412336567f/sign?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "44"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestec-verify-P-52181a630bd/06caccac95af42ff937efb412336567f",
        "value": "Ab46BnLYWonDHbkT4qLkc1I8A-_lvq2LW5RyqmBeySwFH39UYNHQ1BYN7mu1lryWjbZcYtJSg8hXSishX9KOMQKnAIIk-9u4zurW0rQUhI6AR3UhBfQ-JkcjQaAg5odfhVARp6EtJxFEwf1rS3Py-UVYEhIU1inUDzE97pXBud_8YJjp"
      }
    }
  ],
  "Variables": {}
}
