{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkeywrap4aa3043/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkeywrap4aa3043/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkeywrap4aa3043/e64b1abfd7fc4bb4b6794373db225722",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "l9WpC3iXLXEfqcRQzGDuW3CNB_2RvUO0p5vsjWC5VZa4r1XwfInyQchnquvG2pffgsAwWpnAL-wN0MuBKQ-QlKVUoNgwkTakOeO-8P4G1Jin5LjivSI_dbcsH7LYSx7c2x2Pn_qn1E-8BaWxqGfQ_MPrS_gg2uk1eTcotmWpxJhhLOi-ECgM7PUQMreZElGcj4LjQRjo2BzkeSZuoCoVnAOYFjdB0CVK3TWpSHGQVVz-YkNABxcLguY7NGYbNNSrRNaoBx8clglZBJhNkVok8YqltsvgH_xf36YQQDaXckcXriBzfMd90xIfNmv7W97NBD9FvZMb7xuFaXRSXoGL7Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1678160100,
          "updated": 1678160100,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkeywrap4aa3043/e64b1abfd7fc4bb4b6794373db225722?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkeywrap4aa3043/e64b1abfd7fc4bb4b6794373db225722",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "l9WpC3iXLXEfqcRQzGDuW3CNB_2RvUO0p5vsjWC5VZa4r1XwfInyQchnquvG2pffgsAwWpnAL-wN0MuBKQ-QlKVUoNgwkTakOeO-8P4G1Jin5LjivSI_dbcsH7LYSx7c2x2Pn_qn1E-8BaWxqGfQ_MPrS_gg2uk1eTcotmWpxJhhLOi-ECgM7PUQMreZElGcj4LjQRjo2BzkeSZuoCoVnAOYFjdB0CVK3TWpSHGQVVz-YkNABxcLguY7NGYbNNSrRNaoBx8clglZBJhNkVok8YqltsvgH_xf36YQQDaXckcXriBzfMd90xIfNmv7W97NBD9FvZMb7xuFaXRSXoGL7Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1678160100,
          "updated": 1678160100,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkeywrap4aa3043/e64b1abfd7fc4bb4b6794373db225722/unwrapkey?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "EM1Z7bqUD5rYrdCJJrP5iDEOvue23ciHQQY4PobNp_QUVIteVsAxKJAYwP1ZT-fnxQy7VjHeJ3eHDzNYTrz-RNcQ5Xnfmb9ZiDCeFoAwG_buixbcWTyNYOTwKwrfbgJeFu4NHnhBJGBLTJwNgBnGDSHlZg1gvIWYvEeCyjRs_Y53SXjeB2s7qhfam3Bc93Hoi_b-W7U-bMHX6rH9m0CqS3j7jwahafW7uJgAnet4B-HTKJWZe3gt3K6HzQep8LEFZOblFDD7n141GOkH-M9e2p86-04sI2WJ098LEFix2ya_PpESppUvGeoUjR6LKuuHiWavvu5z0yjcFThcFJp1Sw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestkeywrap4aa3043/e64b1abfd7fc4bb4b6794373db225722",
        "value": "NTA2M2U2YWFhODQ1ZjE1MDIwMDU0Nzk0NGZkMTk5Njc5Yzk4ZWQ2Zjk5ZGEwYTBiMmRhZmVhZjFmNDY4NDQ5NmZkNTMyYzFjMjI5OTY4Y2I5ZGVlNDQ5NTdmY2VmN2NjZWY1OWNlZGEwYjM2MmU1NmJjZDc4ZmQzZmFlZTU3ODFjNjIzYzBiYjIyYjM1YmVhYmRlMDY2NGZkMzBlMGU4MjRhYmEzZGQxYjBhZmZmYzRhM2Q5NTVlZGUyMGNmNmE4NTRkNTJjZmQ"
      }
    }
  ],
  "Variables": {}
}
