{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-keyf192fdc/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-keyf192fdc/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "public_exponent": 17
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "337"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1741741171,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1741741171
        },
        "key": {
          "e": "EQ",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-keyf192fdc/73baa46cc9940114b81d588a8f6bca67",
          "kty": "RSA-HSM",
          "n": "jkEyDfdvXKXn2e5ZWJK4AL8iZnGh9oIWCUPI51bcBsjWM6xfXAEchJJiYZ8VF1NM0gGSqdnZT5fMVipjI7nikbAFRkKCS7_tFAmIjcAn_wRRLznKdGAm4bQcGt_WQ-qP0HKkG81_vLWOS7Sqo0ktgsW7WFsPyRtKYX9JFFgzZqZXFAKpP70mhUV7v3j2zR4h7zYK9J66ueH9esFdP_YZ5iB3YTkHo-26SqJ_EU4L0AAwmhBhdWXNrrKGjmIp3Out1DMTWiI6pqnqqHDJ9wEBzltN3amw0Z-ivbzMZu121y5sDHm4GdMjluAa-M1sKcIBY0JruZDQFLoC8esGPslWVw"
        }
      }
    }
  ],
  "Variables": {}
}
