{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name9bab337e/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name9bab337e/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name9bab337e/657ce1e171554b029f7476760058a722",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "o8PFq-E_V7F0qtlv2_DssvZK2WP8_MgpnqvLaM0d5_RLDDsCD3q6diG-qhqqph45VVzmZ-p8zGjZx9Ixgf7Vc4-8GbK0FhsKkAcI3x3L255L6v9Duw8AktJfZ0icz3juoePW-pUGEShrglILu8xQfwqHsWF0C4UpM2pVLdewp8DZ39TRHk4rvl8l5hfXXh2BVJOAtKzrDy7Xp2u23EhgYrfP8PrrF7ZncHuCNTHBonGGmrJc3qk2wbnvaBt62XhK3JgRc5TGLFBPjKjlmMwtdQV4z-kZKej_6yrjGNRW-VZ9gcJe4l-ZUpkHzKhE_a2bj09k8z_glpwpHHPXyGyt1Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1748907358,
          "updated": 1748907358,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name9bab337e?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name9bab337e",
        "deletedDate": 1748907359,
        "scheduledPurgeDate": 1749512159,
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name9bab337e/657ce1e171554b029f7476760058a722",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "o8PFq-E_V7F0qtlv2_DssvZK2WP8_MgpnqvLaM0d5_RLDDsCD3q6diG-qhqqph45VVzmZ-p8zGjZx9Ixgf7Vc4-8GbK0FhsKkAcI3x3L255L6v9Duw8AktJfZ0icz3juoePW-pUGEShrglILu8xQfwqHsWF0C4UpM2pVLdewp8DZ39TRHk4rvl8l5hfXXh2BVJOAtKzrDy7Xp2u23EhgYrfP8PrrF7ZncHuCNTHBonGGmrJc3qk2wbnvaBt62XhK3JgRc5TGLFBPjKjlmMwtdQV4z-kZKej_6yrjGNRW-VZ9gcJe4l-ZUpkHzKhE_a2bj09k8z_glpwpHHPXyGyt1Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1748907358,
          "updated": 1748907358,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/livekvtestkey-name9bab337e?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: livekvtestkey-name9bab337e"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/livekvtestkey-name9bab337e/recover?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name9bab337e/657ce1e171554b029f7476760058a722",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "o8PFq-E_V7F0qtlv2_DssvZK2WP8_MgpnqvLaM0d5_RLDDsCD3q6diG-qhqqph45VVzmZ-p8zGjZx9Ixgf7Vc4-8GbK0FhsKkAcI3x3L255L6v9Duw8AktJfZ0icz3juoePW-pUGEShrglILu8xQfwqHsWF0C4UpM2pVLdewp8DZ39TRHk4rvl8l5hfXXh2BVJOAtKzrDy7Xp2u23EhgYrfP8PrrF7ZncHuCNTHBonGGmrJc3qk2wbnvaBt62XhK3JgRc5TGLFBPjKjlmMwtdQV4z-kZKej_6yrjGNRW-VZ9gcJe4l-ZUpkHzKhE_a2bj09k8z_glpwpHHPXyGyt1Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1748907358,
          "updated": 1748907358,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name9bab337e/?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) livekvtestkey-name9bab337e was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name9bab337e/?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name9bab337e/657ce1e171554b029f7476760058a722",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "o8PFq-E_V7F0qtlv2_DssvZK2WP8_MgpnqvLaM0d5_RLDDsCD3q6diG-qhqqph45VVzmZ-p8zGjZx9Ixgf7Vc4-8GbK0FhsKkAcI3x3L255L6v9Duw8AktJfZ0icz3juoePW-pUGEShrglILu8xQfwqHsWF0C4UpM2pVLdewp8DZ39TRHk4rvl8l5hfXXh2BVJOAtKzrDy7Xp2u23EhgYrfP8PrrF7ZncHuCNTHBonGGmrJc3qk2wbnvaBt62XhK3JgRc5TGLFBPjKjlmMwtdQV4z-kZKej_6yrjGNRW-VZ9gcJe4l-ZUpkHzKhE_a2bj09k8z_glpwpHHPXyGyt1Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1748907358,
          "updated": 1748907358,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
