{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestwrap-local20ad332f/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestwrap-local20ad332f/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 4096
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestwrap-local20ad332f/f22dd7063ea1478aa304753137755d0d",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rVGwZMRVJO4M1N3DMyQuhH7Kic7ZZGu1w-_Z5-DouXbPOWA0tzGZhLy8ulUOr1k7CwW1wqijyTnzrdkoY-j7eIkE3eK73dYH6gHOwf15ImSZHVwLtApfqWpS-KWsEuxrHbBpqYarVRxIyHEl3mT97v4vRw4AUbRH6MyucXWAWnMit_9ngKknxmQ1RcMwNdSe2ZmwBAmdcsKCCeF2zuHMVHEMIHxC09XrfddOmDgZd33JQ7qdivtNxj8H0zFyxn5e9vMfO7-_CWb6HcwVCNEPk2QsMW7NAtqhkroDbAuxeBsw8AGET2Kmg6_FzOVP_HbA8tCU781OJA0PMjGszyYSHcWRKKi3j961W00T9j_-mKc03cyFpFa2aCs7Nfv0HFXJWWRMvSXlM_tFzEzZzZ3nsKPSf4IDpkg6MKKwEw-S7L8z-4de97w7nEzx__sAr2xeGBf5Ka0igmuHTYLtgsdgtzrqm485Xj-PAZNMDBMuS54LZpWXvsaV6ARneCQy7pYyKGQKcXeE8jegoBjJ2z7CBnlmX-A3hmEwdyIultGHTbHMPpu328xP5TeNPGA005rrSnPkWQV6XByXsdSzLXJnyfqsGan7uAaay_w4OH_eLKJZcbhfNd0KXBMNL1Ig-Q8L96WIEueoXIxHWUbDyj0v9yhcYUb9ynPA65VjFkAUwr0",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 4096,
          "created": 1777476362,
          "updated": 1777476362,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestwrap-local20ad332f/f22dd7063ea1478aa304753137755d0d/unwrapkey?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "f4fhCIttLQTEmiOdTAeLBh0ulv5qPrQ60eWpsCm561PNiCeZFpZBvZiekKNiKEnJc41UHUGi2MkSq1Ke6Tqe3GlCAo4G9z_16oGZTWmy62yi4TUoGTSYztoui_vlI_-UUXw11tAWT7avrXEb3TrxQhfgIavakgDMOBSEQ6gxXEEmE5c6bvKVbnUICBa3dR5DsOUwFpQxS8JT-yDtfdl1R-WH73uBC-rW2ngekALaIVExGO5-NaMFcdPBIwZematW8AQln76uvO4W3lFOtbXcJVb0_4anar0MZaw1uvZeBiQJJ8aehRsxNpLRYjBSTYaNE8rBXQZ0EixoLM0xS0Cc-felO4w8IBGQYHBFCQNskaZamJbJWoYxnAfpH0c5D9WNY6Y1alG-Zb9ZHmib8NFZfnDeck_WCzTvOQ28RMVn6kTG4aaOC6rezCnRzGULVpJ5Oeir09PIgztU4o9erlwegsiGnWgDeVTkLMv57AWSn_vBoz-DQg[...]
