{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name6b7a33dd/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name6b7a33dd/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name6b7a33dd/bb295c90d2fa4e96bc373c1f5f21cdb1",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4U1BFAy-RjQ80qsCrK7Fl_6G21sIJ4AzY8TgqcZiIxyUAZw9sAOl5MkIZbNtXNlfB60dH0zHKW4_weohhkRQ8AnDofecnk_kl2CxmuO7ePN-JksTDUClYNwZMBjiSzdWWSUSZnlPPopIQgiDhkQp1Q8IM8WvJqkpm2wCKaup_6EICsO4tYpFuEveCC_zjdLllgrPB7OJDJotm1yxtwoKoeDeuwusV9Czmb6Ec-XYMOxm6WmTu93GEEjvWKfSp9fEltZ55noY6Mg3Q_G_7njQ6FFnSbXVGNg-NBZ3U7GqH7bNTKvGuE-Rq363vkeevIE9pRzdPZcLSXp49nbDH7p9tQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779468834,
          "updated": 1779468834,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name6b7a33dd/bb295c90d2fa4e96bc373c1f5f21cdb1?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name6b7a33dd/bb295c90d2fa4e96bc373c1f5f21cdb1",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4U1BFAy-RjQ80qsCrK7Fl_6G21sIJ4AzY8TgqcZiIxyUAZw9sAOl5MkIZbNtXNlfB60dH0zHKW4_weohhkRQ8AnDofecnk_kl2CxmuO7ePN-JksTDUClYNwZMBjiSzdWWSUSZnlPPopIQgiDhkQp1Q8IM8WvJqkpm2wCKaup_6EICsO4tYpFuEveCC_zjdLllgrPB7OJDJotm1yxtwoKoeDeuwusV9Czmb6Ec-XYMOxm6WmTu93GEEjvWKfSp9fEltZ55noY6Mg3Q_G_7njQ6FFnSbXVGNg-NBZ3U7GqH7bNTKvGuE-Rq363vkeevIE9pRzdPZcLSXp49nbDH7p9tQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779468834,
          "updated": 1779468834,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name6b7a33dd/bb295c90d2fa4e96bc373c1f5f21cdb1/encrypt?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "cGxhaW50ZXh0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name6b7a33dd/bb295c90d2fa4e96bc373c1f5f21cdb1",
        "value": "tZBUgjXdQF5k0bHhD-tcfyvT5Qml73MN4QVVlHNoIjySv1Wz74gJQhlhAcvKY0X-P2seBkrOb5bdCtxWz3oeU7-_t1lvFA67o3dE6Oog_Z6OjnUiuZy1bWrkdyBZMQ_ohpJkMyDMh3QHm3Zm6WvBoAhLsvlgg-sOUG19Luhqx2lgS_raFpJIa0C_XkDSN6XBMcgYiFbd1MNxvWKfN79JkPU24IUaSphqz_5UqfCKHOqS24XaJmQCzsDvS0LCL6m1lkprQ27uiN2NF-JNtAM_YGDsO0ho7eMCdiTrLb2iJoCOBxnFgxp8NQEDtIu8J_YRMkfSzztcTPJPhTyapw6QMg"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name6b7a33dd/bb295c90d2fa4e96bc373c1f5f21cdb1/decrypt?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "tZBUgjXdQF5k0bHhD-tcfyvT5Qml73MN4QVVlHNoIjySv1Wz74gJQhlhAcvKY0X-P2seBkrOb5bdCtxWz3oeU7-_t1lvFA67o3dE6Oog_Z6OjnUiuZy1bWrkdyBZMQ_ohpJkMyDMh3QHm3Zm6WvBoAhLsvlgg-sOUG19Luhqx2lgS_raFpJIa0C_XkDSN6XBMcgYiFbd1MNxvWKfN79JkPU24IUaSphqz_5UqfCKHOqS24XaJmQCzsDvS0LCL6m1lkprQ27uiN2NF-JNtAM_YGDsO0ho7eMCdiTrLb2iJoCOBxnFgxp8NQEDtIu8J_YRMkfSzztcTPJPhTyapw6QMg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name6b7a33dd/bb295c90d2fa4e96bc373c1f5f21cdb1",
        "value": "cGxhaW50ZXh0"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name6b7a33dd/?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name6b7a33dd/bb295c90d2fa4e96bc373c1f5f21cdb1",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4U1BFAy-RjQ80qsCrK7Fl_6G21sIJ4AzY8TgqcZiIxyUAZw9sAOl5MkIZbNtXNlfB60dH0zHKW4_weohhkRQ8AnDofecnk_kl2CxmuO7ePN-JksTDUClYNwZMBjiSzdWWSUSZnlPPopIQgiDhkQp1Q8IM8WvJqkpm2wCKaup_6EICsO4tYpFuEveCC_zjdLllgrPB7OJDJotm1yxtwoKoeDeuwusV9Czmb6Ec-XYMOxm6WmTu93GEEjvWKfSp9fEltZ55noY6Mg3Q_G_7njQ6FFnSbXVGNg-NBZ3U7GqH7bNTKvGuE-Rq363vkeevIE9pRzdPZcLSXp49nbDH7p9tQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779468834,
          "updated": 1779468834,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name6b7a33dd/bb295c90d2fa4e96bc373c1f5f21cdb1/decrypt?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "zMo3SiZ8tyAGl5Mtjv8uHeKSJWYzOXHo7E7n8Kz4P3tiAe03tBDgEDFrvco9VapQLkC3JLZNe-NNxhPZiZqx9T1bGzwGGHGqdATLajrteqDaVBSeL-ooF6JO9C34p_kyiWaDpeWimizYV3ymUaGTkRhd1zCXKK2yIjlLMeL-LlzteF6VZ9-txtS7K76Qa8sk2x-rASufB047BP3RYIDkPoSlUV6AhjaTARZY5DK49bYNUHQzMNhCm9gxzCGyQzXIEspMqW9U3UGPqbaCN8t9nUSyF6wAmZvG9tWkepIy6fOldH35OW1xNUoUqY2KpYEWVm92UOrOnCM4BDz7_MElpw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name6b7a33dd/bb295c90d2fa4e96bc373c1f5f21cdb1",
        "value": "cGxhaW50ZXh0"
      }
    }
  ],
  "Variables": {}
}
