{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestkey0e227267c/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestkey0e227267c/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "81"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1748906539,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1748906539
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey0e227267c/295c5dca8a3b4fa7967bf397b9a76511",
          "kty": "RSA-HSM",
          "n": "oGmjlXg2D1VPxB8wW07T5_fC-HPyGm6dTxHxptwrm7Rve01JFBIUSsdiH4T4JOmNH29abzzD1v78F2H61k4sB7nGGLHGftwqZzITtQSDL7PkkmZp7fjbcDzw-BPFR2ZChf27Ghby4_Bs8nf5A19wpxIO0DbFevw6QHAY-ZcVN9ggss3Y9OnyQKEeA51gaE8Hkhtw_KcU1tQr2VMjNMFgGC6k9DLM14X9p_wuNITbHA3HvTHeohM3Wi8x2raPm3XXs4nmT5q9SxABU84d6N2rW6dCY7pxzLdXuPOEk_5qr53HgLdEFaJJuJd2jW_rIeJYALOkaTKbP4vmY_EZol11Sw"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestkey0e227267c?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "28"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1748906539,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1748906539
        },
        "deletedDate": 1748906553,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey0e227267c/295c5dca8a3b4fa7967bf397b9a76511",
          "kty": "RSA-HSM",
          "n": "oGmjlXg2D1VPxB8wW07T5_fC-HPyGm6dTxHxptwrm7Rve01JFBIUSsdiH4T4JOmNH29abzzD1v78F2H61k4sB7nGGLHGftwqZzITtQSDL7PkkmZp7fjbcDzw-BPFR2ZChf27Ghby4_Bs8nf5A19wpxIO0DbFevw6QHAY-ZcVN9ggss3Y9OnyQKEeA51gaE8Hkhtw_KcU1tQr2VMjNMFgGC6k9DLM14X9p_wuNITbHA3HvTHeohM3Wi8x2raPm3XXs4nmT5q9SxABU84d6N2rW6dCY7pxzLdXuPOEk_5qr53HgLdEFaJJuJd2jW_rIeJYALOkaTKbP4vmY_EZol11Sw"
        },
        "recoveryId": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey0e227267c",
        "scheduledPurgeDate": 1749511353
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys/livekvtestkey0e227267c?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250507-1-41b99104-key-verify-fix",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1748906539,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1748906539
        },
        "deletedDate": 1748906553,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt",
            "wrapKey"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey0e227267c/295c5dca8a3b4fa7967bf397b9a76511",
          "kty": "RSA-HSM",
          "n": "oGmjlXg2D1VPxB8wW07T5_fC-HPyGm6dTxHxptwrm7Rve01JFBIUSsdiH4T4JOmNH29abzzD1v78F2H61k4sB7nGGLHGftwqZzITtQSDL7PkkmZp7fjbcDzw-BPFR2ZChf27Ghby4_Bs8nf5A19wpxIO0DbFevw6QHAY-ZcVN9ggss3Y9OnyQKEeA51gaE8Hkhtw_KcU1tQr2VMjNMFgGC6k9DLM14X9p_wuNITbHA3HvTHeohM3Wi8x2raPm3XXs4nmT5q9SxABU84d6N2rW6dCY7pxzLdXuPOEk_5qr53HgLdEFaJJuJd2jW_rIeJYALOkaTKbP4vmY_EZol11Sw"
        },
        "recoveryId": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey0e227267c",
        "scheduledPurgeDate": 1749511353
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250507-1-41b99104-key-verify-fix",
        "x-ms-server-latency": "11"
      },
      "ResponseBody": {
        "value": [
          {
            "attributes": {
              "created": 1748906427,
              "enabled": true,
              "exp": 2524723200,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1748906431
            },
            "deletedDate": 1748906431,
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestcrud-rsa-key3e9c2c52",
            "recoveryId": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestcrud-rsa-key3e9c2c52",
            "scheduledPurgeDate": 1749511231,
            "tags": {
              "foo": "updated tag"
            }
          },
          {
            "attributes": {
              "created": 1748906539,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1748906539
            },
            "deletedDate": 1748906553,
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey0e227267c",
            "recoveryId"[...]
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys/livekvtestkey0e227267c?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250507-1-41b99104-key-verify-fix",
        "x-ms-server-latency": "4"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Key not found: https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey0e227267c (Activity ID: 78fa99e0-4008-11f0-ab67-002248e09139)"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250507-1-41b99104-key-verify-fix",
        "x-ms-server-latency": "5"
      },
      "ResponseBody": {
        "value": [
          {
            "attributes": {
              "created": 1748906427,
              "enabled": true,
              "exp": 2524723200,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1748906431
            },
            "deletedDate": 1748906431,
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestcrud-rsa-key3e9c2c52",
            "recoveryId": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestcrud-rsa-key3e9c2c52",
            "scheduledPurgeDate": 1749511231,
            "tags": {
              "foo": "updated tag"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
