{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsakeyef3f31a4/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsakeyef3f31a4/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsakeyef3f31a4/e6264bdd22934b22b744d8bf480d56e8",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4axezQmKvWOopw1NvD6p9IBLZtMAvJ04QQQoYcJW1OtTO8bPMraeyBUQ_6_lr_SdQy3h8ZCUuy0w0S9aDfcrNgFduk2xfQ7qlVSE_B6_Dd783iiUMp585vQJ63O-WwmtR9OvynAueumJEDGiesafIPfyk6blu_IBuPrAFk62qE6FXV9SU58XzuVbW0uPoZ5VhXj5TnnEq27rUk-eHvA3dbNiAd78RImNx3lfac4DMgbPig71CaP98oH6ugLyvOwbQ1MJMrAuD4ObyAJrPlriMi0YNliRa4E0UuLxA0eSW_v38tTEqVvpTbseegS0IULluoBv3jRlGWB76GYm5VWTGQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1697668494,
          "updated": 1697668494,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsakeyef3f31a4/e6264bdd22934b22b744d8bf480d56e8?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsakeyef3f31a4/e6264bdd22934b22b744d8bf480d56e8",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4axezQmKvWOopw1NvD6p9IBLZtMAvJ04QQQoYcJW1OtTO8bPMraeyBUQ_6_lr_SdQy3h8ZCUuy0w0S9aDfcrNgFduk2xfQ7qlVSE_B6_Dd783iiUMp585vQJ63O-WwmtR9OvynAueumJEDGiesafIPfyk6blu_IBuPrAFk62qE6FXV9SU58XzuVbW0uPoZ5VhXj5TnnEq27rUk-eHvA3dbNiAd78RImNx3lfac4DMgbPig71CaP98oH6ugLyvOwbQ1MJMrAuD4ObyAJrPlriMi0YNliRa4E0UuLxA0eSW_v38tTEqVvpTbseegS0IULluoBv3jRlGWB76GYm5VWTGQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1697668494,
          "updated": 1697668494,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
