{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey08b5b2834/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey08b5b2834/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "330"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667330699,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667330699
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey08b5b2834/858bc324f5eb0ea1346fbfd2826352f3",
          "kty": "RSA-HSM",
          "n": "kjmTnYu53to8yh-WpRDbqH-wPHHljsvMnkfaqcgni7B3e4lZKZfOxhPbBU2rNTdSpqwz-wQNo4fErdYp9QvP3zlg0TIv6rehMRLaP_NqQ6J8X62mj_bl4sI-yb8FBddJD3m2nfs4Py2DVf_Doazk66f4pzFbRqVN55Ec6Q46KtfxnUmxOiJPfrxrJbXO1bbY3RAQ8v2e2wv9QSmcr8_0CpxPIPp-cr0qkKXkuUCwtFLD4poxIvHJfdY0bh-igNdCnL28JYg6cVRd78Bg3BdXnjDBvOwVkyjPkdfBY81ijP98bghNTjLdeLd4tVes_ywrCb-dXzXPmmaaGgxSAKAMWQ"
        }
      }
    },
[...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey08b5b2834?api-version=7.3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "205"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667330699,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667330699
        },
        "deletedDate": 1667330714,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey08b5b2834/858bc324f5eb0ea1346fbfd2826352f3",
          "kty": "RSA-HSM",
          "n": "kjmTnYu53to8yh-WpRDbqH-wPHHljsvMnkfaqcgni7B3e4lZKZfOxhPbBU2rNTdSpqwz-wQNo4fErdYp9QvP3zlg0TIv6rehMRLaP_NqQ6J8X62mj_bl4sI-yb8FBddJD3m2nfs4Py2DVf_Doazk66f4pzFbRqVN55Ec6Q46KtfxnUmxOiJPfrxrJbXO1bbY3RAQ8v2e2wv9QSmcr8_0CpxPIPp-cr0qkKXkuUCwtFLD4poxIvHJfdY0bh-igNdCnL28JYg6cVRd78Bg3BdXnjDBvOwVkyjPkdfBY81ijP98bghNTjLdeLd4tVes_ywrCb-dXzXPmmaaGgxSAKAMWQ"
        },
        "recoveryId": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey08b5b2834",
        "scheduledPurgeDate": 1667935514
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey08b5b2834?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20221020-1-945ffe56-develop",
        "x-ms-server-latency": "33"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667330699,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667330699
        },
        "deletedDate": 1667330714,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt",
            "wrapKey"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey08b5b2834/858bc324f5eb0ea1346fbfd2826352f3",
          "kty": "RSA-HSM",
          "n": "kjmTnYu53to8yh-WpRDbqH-wPHHljsvMnkfaqcgni7B3e4lZKZfOxhPbBU2rNTdSpqwz-wQNo4fErdYp9QvP3zlg0TIv6rehMRLaP_NqQ6J8X62mj_bl4sI-yb8FBddJD3m2nfs4Py2DVf_Doazk66f4pzFbRqVN55Ec6Q46KtfxnUmxOiJPfrxrJbXO1bbY3RAQ8v2e2wv9QSmcr8_0CpxPIPp-cr0qkKXkuUCwtFLD4poxIvHJfdY0bh-igNdCnL28JYg6cVRd78Bg3BdXnjDBvOwVkyjPkdfBY81ijP98bghNTjLdeLd4tVes_ywrCb-dXzXPmmaaGgxSAKAMWQ"
        },
        "recoveryId": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey08b5b2834",
        "scheduledPurgeDate": 1667935514
      }
    },
[...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey08b5b2834/recover?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "124"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667330699,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667330699
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey08b5b2834/858bc324f5eb0ea1346fbfd2826352f3",
          "kty": "RSA-HSM",
          "n": "kjmTnYu53to8yh-WpRDbqH-wPHHljsvMnkfaqcgni7B3e4lZKZfOxhPbBU2rNTdSpqwz-wQNo4fErdYp9QvP3zlg0TIv6rehMRLaP_NqQ6J8X62mj_bl4sI-yb8FBddJD3m2nfs4Py2DVf_Doazk66f4pzFbRqVN55Ec6Q46KtfxnUmxOiJPfrxrJbXO1bbY3RAQ8v2e2wv9QSmcr8_0CpxPIPp-cr0qkKXkuUCwtFLD4poxIvHJfdY0bh-igNdCnL28JYg6cVRd78Bg3BdXnjDBvOwVkyjPkdfBY81ijP98bghNTjLdeLd4tVes_ywrCb-dXzXPmmaaGgxSAKAMWQ"
        }
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey08b5b2834/?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20221020-1-945ffe56-develop",
        "x-ms-server-latency": "12"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667330699,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667330699
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey08b5b2834/858bc324f5eb0ea1346fbfd2826352f3",
          "kty": "RSA-HSM",
          "n": "kjmTnYu53to8yh-WpRDbqH-wPHHljsvMnkfaqcgni7B3e4lZKZfOxhPbBU2rNTdSpqwz-wQNo4fErdYp9QvP3zlg0TIv6rehMRLaP_NqQ6J8X62mj_bl4sI-yb8FBddJD3m2nfs4Py2DVf_Doazk66f4pzFbRqVN55Ec6Q46KtfxnUmxOiJPfrxrJbXO1bbY3RAQ8v2e2wv9QSmcr8_0CpxPIPp-cr0qkKXkuUCwtFLD4poxIvHJfdY0bh-igNdCnL28JYg6cVRd78Bg3BdXnjDBvOwVkyjPkdfBY81ijP98bghNTjLdeLd4tVes_ywrCb-dXzXPmmaaGgxSAKAMWQ"
        }
      }
    },
[...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey68b5b2834/?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20221020-1-945ffe56-develop",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667330714,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667330714
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey68b5b2834/fbfcc6497026091d0704961958bb2600",
          "kty": "RSA-HSM",
          "n": "oHJXpDzpCFDYxwUGHfW8Qgo59vf5-2SMIV2IogJbK5AiYfBL2gLhmnZ9McYSWVy8ldPYNSly70bdOhqa2Ajf2lHujQ5RlolSYl44aMvye1MOfLswbWwtyk_ugx1CWnwUthZTs0F2ru_sGV1xAx2xRTy47W2Awk3cgz9f0mG_S4_3JSN6tKsz38HNuNuUS71CuBmRX5Wq5IQ2GiIPtmU5-h8AYFY1HLnECv4Ux8wAazUWxEUuuXtvxXPpovVuwixVa53pMN5vwr8rVH4eRFy84N0IOC-0xPiwTlyJX2EabCidAfqpievNDuIBhgnU3IMuYRuJ-2hXugrTuzUl9QfCWQ"
        }
      }
    }
  ],
  "Variables": {}
}
