{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-verify-2048f3453774/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "4"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-verify-2048f3453774/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "293"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1668579487,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1668579487
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-verify-2048f3453774/c302ff78a4c70c5c04fb34e3b7e72a2a",
          "kty": "RSA-HSM",
          "n": "uLbMtoUlr1cvqKCM-rElklDrmwtEEyvFkxLAf4fvnAidR4_J1ijSk_mdERb0PPxBDZ78efHVp8tERlDHX3PdKnhunmpyzCpENieeHRUe19eAxwaunD1kpCKRh3m13gFKDyO-UJuiDC1Hr43XkiLWBFALKcmgDN1EMwXeLrPiYnN_hrfWYruUxc0AZk_E8KYTDM5UTD5Fi2i-HJOOp2tPtNOoArVieuckzoRBbfmjgBSTJ-aBfDxMDMtCwxz2AmvUuWfUcuGmfBB1wjX8IMRCVU7iFnBpekoMBH0Qrf9G7iN5B7m1ap-6niV58C9rFcUac4iQEBNeDaukLvWjOVhbeQ"
        }
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-verify-2048f3453774/c302ff78a4c70c5c04fb34e3b7e72a2a/sign?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "190"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-verify-2048f3453774/c302ff78a4c70c5c04fb34e3b7e72a2a",
        "value": "cEzOiQSumlU2Ow2LobB1GaF0Z9QI2JNWGaJPIKh3SWqvOR8CfoPyiS_9bqmREN2U5F14mxCQ_ZD-G70ODCSv-7w3hKqZUoLf2FqJmZhFyV0S2pqnWrvWpYLhoofN99My9Zaw5Ogj1psqRR9Jrii-LOllaAiq7akguV2AAdjsqrDYK3lhTyHVLnJgSVhr23AblkuKTLTP1gLSg9lRScred5oC4wpb9clxVgr-6plGdVRqSY12jNyp0OzaseywMWSr7vo7llR46Lua4ft87mULHLLIY1vqccDCtklcNH7rhT_t5u0G7I7PSaUZnzD3ydlfPK7LWdZoPH3zQM1m_Oowzw"
      }
    },
[...]
