{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestmultitenant-key8eec395e/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestmultitenant-key8eec395e/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "65"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779390280,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1779390280
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestmultitenant-key8eec395e/12156fc0693047322367bf05a24c6590",
          "kty": "RSA-HSM",
          "n": "if9v9d9sdPrLFrIwDr7cLbwA_JDgi0pW5chS6fxSBzlDwy1yimf_IXOV_rQ9zEGzWxFMWExkLAjRgLqC0ISfgJ7E-x6KdlokSlBR96ZS-mQ8F0FujKtqSSnXS3hkLkUKJDieG-fDCKy1uX7TjLwockU-MCjNimoMnmoOcAlLM8GWGYsbPpFwmjj2tX4qPIemDnvAuI5DQkOYSoOZgbMsy53WHxESBX0_rdRRPIZgBMBjh5tzlPiCWlIxAm7jTXyBncnrRyRG0oxIEX3jb0kIerHLd11aAFtdJu83t5lAQGwlADZOkjwkOPaFB_eNyIr9Kh0x40vRnyYmJQKyV8PqPQ"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestmultitenant-key8eec395e/?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260505-1-b95d5630-develop",
        "x-ms-server-latency": "4"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779390280,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1779390280
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestmultitenant-key8eec395e/12156fc0693047322367bf05a24c6590",
          "kty": "RSA-HSM",
          "n": "if9v9d9sdPrLFrIwDr7cLbwA_JDgi0pW5chS6fxSBzlDwy1yimf_IXOV_rQ9zEGzWxFMWExkLAjRgLqC0ISfgJ7E-x6KdlokSlBR96ZS-mQ8F0FujKtqSSnXS3hkLkUKJDieG-fDCKy1uX7TjLwockU-MCjNimoMnmoOcAlLM8GWGYsbPpFwmjj2tX4qPIemDnvAuI5DQkOYSoOZgbMsy53WHxESBX0_rdRRPIZgBMBjh5tzlPiCWlIxAm7jTXyBncnrRyRG0oxIEX3jb0kIerHLd11aAFtdJu83t5lAQGwlADZOkjwkOPaFB_eNyIr9Kh0x40vRnyYmJQKyV8PqPQ"
        }
      }
    }
  ],
  "Variables": {}
}
