{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-key-name81bb2fcc/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-key-name81bb2fcc/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "75"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1782497062,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1782497062
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-key-name81bb2fcc/aba84dcb367c0b8e17a7572b97e52c31",
          "kty": "RSA-HSM",
          "n": "oaXyiF3ncId93gUgWTr9fVoxvblln7vRE3qmTWtCuqxZegPR9MPIb5qJhaNMOnFvNodLZvWggsnEFSiRkXYd81pTfWF9yQCpy_jIob-PUlgoibrLcrfMZ-AhnnwmzS1fOagPTsVsqYueudAni_ZNzK2G2FvH98r43hbbuPXTNqqrzxBJpy31ZEhLNjaJc43MLL-kfBs54c2GuIjDMtRYrCT0eWVFTLUXylN3iV_zF_wmY_DbTa5AK4Zu0Xl9diwkQMcSMnIllf3RO4X5x5RUhfv5N-dUoY-X9Rnhw259aBsRmzCfKf01_OnsPNKoQx8r7uKPHnK0HG48jcpG3ub1Uw"
        }
      }
    }
  ],
  "Variables": {}
}
