{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keya6403270/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keya6403270/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keya6403270/8ff75315c27f46e5b31376224ca2952f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0V7av1fhjbLwFR1HE9FL3TVtzq6MLvqiiqZj73nFzLcLzLmVjWiS74x2ax2H-qmyve3u5Fxoj4EZrfoxaH4voUfjPV2bJTFnweiJ5Ej4M6rqsmVf-MDeMfEdepHhJsavXX67Gej2iP50DaXpyCpaB2sjuF2_6Jr0DOuKj14uWFcBYH9jJ9hCBQZbqe-xUqzzmE94qSvg6oZjgZP50nivzyYiWyiIaHjUAFqN87aIFltybv3lXftOXXFfmwajFJapWZDMUejrqmAu21ZUiL1B5duZ-JVAX0dRJaw70EH3EhomcAd_18JFWcF11tjZ64A15dS6Aq4iDYErSx027aBZ8Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1782496462,
          "updated": 1782496462,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keya6403270/8ff75315c27f46e5b31376224ca2952f/unwrapkey?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "d6Bu4gMD23xfU23-7mXGIFYA0xotuhyBGp4b148kw2eArpTAhs5CLo5HC9hdStovkO2gbonl7lxb9OhIDIVNc5dfDjXbKuQlqhOt800MqZYQGDv6ZhWTcQlBER2V8LHSMwNazMNWIXx_7Q14PySbxWpapTVDzgMrZ1TJuANcdWuEVedx4sPOi8cbebdONT39UNWjzXaSTlc4h6kl7agwdM2g1ku5elgYX_SdkSNP55VYgxe8ZObZKN2wIH74YI2pm2Qhq1nXGsOMIZ0NnBIpJZihiJfcwNJGcxKA3AH5h_XgYaE-ChNr9UUjuuuI-UtbJYpCXZEAsOIx4YD8HyS8rg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keya6403270/8ff75315c27f46e5b31376224ca2952f",
        "value": "xbD88UOKiHBqEY3llOj_BA5Z_nWK6TwGKNt_qX6FAgQ"
      }
    }
  ],
  "Variables": {}
}
