{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestmultitenant-key28ba35f6/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestmultitenant-key28ba35f6/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "112"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1741741877,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1741741877
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "sign",
            "verify",
            "encrypt",
            "decrypt",
            "unwrapKey"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestmultitenant-key28ba35f6/68c4027627944f80169de62b210d7ab5",
          "kty": "RSA-HSM",
          "n": "vnFTjtiGH5l9NHO2fposBqkBvdN6NqT1SfcHA0jYbU0bA4EViJAgLM82g9y8Xk25J1hvCJ47Ue-x6kmnY1jswhy8ZtRxfN-Ig3H3TZNFn3aMpwfNbeaQ9vGxPBm29HJMZnA4JksdNTZdXueOsdYv6rKQ6ITTnLhNIm045kk7_ff2oFORdqNke3PM1i2B2cnnMJ7E9QL8gOqJgLf_8_pW20mDN5vFSSXZiFjTB-vfMv4_R7CvqgBmOgDoRBKmw_KeWeQ10gsa7BgqLuW4w4qOw83bZxHj-1kvBWbPjB-OVfFhpMxcXji-M4xNWPIKsZ6PLX8ISH0VqaIqAO_O1N3_GQ"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestmultitenant-key28ba35f6/?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250221-1-e4accbbe-develop",
        "x-ms-server-latency": "4"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1741741877,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1741741877
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "unwrapKey",
            "decrypt",
            "encrypt",
            "verify",
            "sign",
            "wrapKey"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestmultitenant-key28ba35f6/68c4027627944f80169de62b210d7ab5",
          "kty": "RSA-HSM",
          "n": "vnFTjtiGH5l9NHO2fposBqkBvdN6NqT1SfcHA0jYbU0bA4EViJAgLM82g9y8Xk25J1hvCJ47Ue-x6kmnY1jswhy8ZtRxfN-Ig3H3TZNFn3aMpwfNbeaQ9vGxPBm29HJMZnA4JksdNTZdXueOsdYv6rKQ6ITTnLhNIm045kk7_ff2oFORdqNke3PM1i2B2cnnMJ7E9QL8gOqJgLf_8_pW20mDN5vFSSXZiFjTB-vfMv4_R7CvqgBmOgDoRBKmw_KeWeQ10gsa7BgqLuW4w4qOw83bZxHj-1kvBWbPjB-OVfFhpMxcXji-M4xNWPIKsZ6PLX8ISH0VqaIqAO_O1N3_GQ"
        }
      }
    }
  ],
  "Variables": {}
}
