{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-verify-20489ad23227/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-verify-20489ad23227/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "71"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779588013,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1779588013
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-verify-20489ad23227/975897e9004f00bea766d18bb4f52f93",
          "kty": "RSA-HSM",
          "n": "rxv2Vcf4oveA5kf8GzT7rl7NPybVVGmJxn1YhhC7QCmtABrv6zHHQe_xlxh2T48LbJ-pf72PmUoZ7y97Ov1DH6getcQhCXSRbAjP8ZQ-F6ZcQEa3uZlJ170JLQy1Eg-5K6tCQ5PTiajkR97B3CNSFilmIGtqa5S7cYOA4902boBCReblwuC8qceOyLRKELOCBYM1OG4XpeZMErdEN8-fTeQPXthKxcpHGfTHaeVaBKrgqeiyqf7P4FI6AoaxcgRbQ2HuI5mJeNKxtm2QkK-HC8W3A6lt3OWOxEqrOOu_Fjmr4ZeCq-64yZjOXHCqnANm-ivqV2nC8QOhKj0svZtcDw"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-verify-20489ad23227/975897e9004f00bea766d18bb4f52f93/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-verify-20489ad23227/975897e9004f00bea766d18bb4f52f93",
        "value": "qeJilQCV6fhI_O_7KfN2xXyUOtNLcyhpjLcEZ4FbDFX3U2Wjt94EY_8DhKNe0itxsf4ZdgMM3u[...]
