{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name319e29e1/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name319e29e1/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name319e29e1/f68287c499a2475a80a242ec36cb295a",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "sUp1pJRVwu7njkfoBZwt_wF32EmT8oF_UpHtuIjR5fNlyuBjnOSi9toENA0txH3F42beRRrQgsBpWjz3dSiIllqn-qSuatsGD3D8wZBxr50ELHt2rLRxKqwkwMd8sC2ccuTapB7mnYkn9ijjikJe7aTrkIJm520wJExlUh972tK6rCxj0KP0kVjQOokK1ZfgXeAac_lJRyWUhczD6T3aAR5Jc1Hd1mWIbhnMw-MX5XlMoJeFAOzRxL09IlAAPIxwZSX3g0kep4EO95FEk4Yb8XIcFfdb_jEBOFxPsT-S9XZKfNvwF5efwNiMvCOCl7g8q3Zbl4wlR9tOvaDlqoftcQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779713041,
          "updated": 1779713041,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name319e29e1/f68287c499a2475a80a242ec36cb295a?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/li[...]
