{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-nameb352370d/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-nameb352370d/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-nameb352370d/ef389107886a4352914431d281aaa2ea",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "1vcgnfPNwtRldfMfF2tIg9tdWejPk62k_J-GVhwB3XNBjaY-_9BJbP74XlkqIGWCZnoXGE17dyvSOF1sntLKVINmUOQZ11wGv9fyaq8ne2S_mb3TYH5SItUkV4dUCmHhzlldgAFa-lVnWWQlkIGX1X_RULgj84c3bThzDcyFaBS2hLCyfFjMa1CYhaG6W1qijvJHBxB16UItZ_g9ey1AXoVtS-0ygJ7Mvp3sZLrZaroSxBT_8QvL0MKt7pe2bwKTOMCvqRgNoVbOK4uBfMAxFtLK6jwtedvuHAWKSsIbl63C3ze0sp81jdBOHegkyjffEnuiBA9S2BWFB5KeiM7QXQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1741308690,
          "updated": 1741308690,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-nameb352370d?api-version=7.6-preview.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-nameb352370d",
        "deletedDate": 1741308690,
        "scheduledPurgeDate": 1741913490,
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-nameb352370d/ef389107886a4352914431d281aaa2ea",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "1vcgnfPNwtRldfMfF2tIg9tdWejPk62k_J-GVhwB3XNBjaY-_9BJbP74XlkqIGWCZnoXGE17dyvSOF1sntLKVINmUOQZ11wGv9fyaq8ne2S_mb3TYH5SItUkV4dUCmHhzlldgAFa-lVnWWQlkIGX1X_RULgj84c3bThzDcyFaBS2hLCyfFjMa1CYhaG6W1qijvJHBxB16UItZ_g9ey1AXoVtS-0ygJ7Mvp3sZLrZaroSxBT_8QvL0MKt7pe2bwKTOMCvqRgNoVbOK4uBfMAxFtLK6jwtedvuHAWKSsIbl63C3ze0sp81jdBOHegkyjffEnuiBA9S2BWFB5KeiM7QXQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1741308690,
          "updated": 1741308690,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/livekvtestkey-nameb352370d?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: livekvtestkey-nameb352370d"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/livekvtestkey-nameb352370d/recover?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-nameb352370d/ef389107886a4352914431d281aaa2ea",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "1vcgnfPNwtRldfMfF2tIg9tdWejPk62k_J-GVhwB3XNBjaY-_9BJbP74XlkqIGWCZnoXGE17dyvSOF1sntLKVINmUOQZ11wGv9fyaq8ne2S_mb3TYH5SItUkV4dUCmHhzlldgAFa-lVnWWQlkIGX1X_RULgj84c3bThzDcyFaBS2hLCyfFjMa1CYhaG6W1qijvJHBxB16UItZ_g9ey1AXoVtS-0ygJ7Mvp3sZLrZaroSxBT_8QvL0MKt7pe2bwKTOMCvqRgNoVbOK4uBfMAxFtLK6jwtedvuHAWKSsIbl63C3ze0sp81jdBOHegkyjffEnuiBA9S2BWFB5KeiM7QXQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1741308690,
          "updated": 1741308690,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-nameb352370d/?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) livekvtestkey-nameb352370d was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-nameb352370d/?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-nameb352370d/ef389107886a4352914431d281aaa2ea",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "1vcgnfPNwtRldfMfF2tIg9tdWejPk62k_J-GVhwB3XNBjaY-_9BJbP74XlkqIGWCZnoXGE17dyvSOF1sntLKVINmUOQZ11wGv9fyaq8ne2S_mb3TYH5SItUkV4dUCmHhzlldgAFa-lVnWWQlkIGX1X_RULgj84c3bThzDcyFaBS2hLCyfFjMa1CYhaG6W1qijvJHBxB16UItZ_g9ey1AXoVtS-0ygJ7Mvp3sZLrZaroSxBT_8QvL0MKt7pe2bwKTOMCvqRgNoVbOK4uBfMAxFtLK6jwtedvuHAWKSsIbl63C3ze0sp81jdBOHegkyjffEnuiBA9S2BWFB5KeiM7QXQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1741308690,
          "updated": 1741308690,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
