{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrypto-test-encrypt-keya4e22f9f/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrypto-test-encrypt-keya4e22f9f/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-keya4e22f9f/e8d476b0c73147149a7d0dfac8fe553e",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "7ESFj0wAm20XqjIxDaT1sS5-m__zMJh0grjI5_IH_wLMk4OpU1yXJj1P8W0whEtjGw-H-AT8ycUhi1NDX0PaQBoS_eKisc34hT9RL0o9UMtFU_WiBX81rY9fbdOWhb1aPcu2_6f5JkRV8y8aFzLYm4bTp1E3sZP3eE1njiTrBHvd3IgQWPTYMKA7vS1bW6R6rO1H5rwoyGJStVV3brZoz2gREA4a_tMNIXzTc2-nsPp56keQeJ5mRHa4_0bm3WiDvfC-A9xSfDjvmVdCH_zO2K2HJvN9Cl43rv-z4vfM1KiakTQiI3ZtZ2oG_JgbkM4WzrDFnJiJPlm3sgCgyFXI1Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1748906412,
          "updated": 1748906412,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrypto-test-encrypt-keya4e22f9f/?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-keya4e22f9f/e8d476b0c73147149a7d0dfac8fe553e",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "7ESFj0wAm20XqjIxDaT1sS5-m__zMJh0grjI5_IH_wLMk4OpU1yXJj1P8W0whEtjGw-H-AT8ycUhi1NDX0PaQBoS_eKisc34hT9RL0o9UMtFU_WiBX81rY9fbdOWhb1aPcu2_6f5JkRV8y8aFzLYm4bTp1E3sZP3eE1njiTrBHvd3IgQWPTYMKA7vS1bW6R6rO1H5rwoyGJStVV3brZoz2gREA4a_tMNIXzTc2-nsPp56keQeJ5mRHa4_0bm3WiDvfC-A9xSfDjvmVdCH_zO2K2HJvN9Cl43rv-z4vfM1KiakTQiI3ZtZ2oG_JgbkM4WzrDFnJiJPlm3sgCgyFXI1Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1748906412,
          "updated": 1748906412,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrypto-test-encrypt-keya4e22f9f/e8d476b0c73147149a7d0dfac8fe553e/decrypt?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "HZvuVWZSqvjbeQ9z3CauSA7pr5erSOo8thtbU46QaTURE-GTkArEh-Q7KK98dnjGoyASvNFqm9Ox-ajXOKMdPhD7hl8dJi9YX16PGYdxLuuzH5kpt4PHW_qVM3-GJGVgZXFGRUUcYWJM1N8Xx3QrI7vSjTW-HUgH4AHVTkM0_zDitoT-LqifWSd4AjcXA5kpfW3vgmUZEgqy08lDhTiKDaBMmw6E2tFqTjnF6yqm1To247ME02UPJar6CcibJdP-SAAHtvfpEBStX-IDofkqKk_nfeF4PG8hG86XlhWEGfNQtZegJ5dS3n85-xB4tL_i5Rp85EPV_RFAxp-HaTGzrQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-keya4e22f9f/e8d476b0c73147149a7d0dfac8fe553e",
        "value": "cGxhaW50ZXh0"
      }
    }
  ],
  "Variables": {}
}
