{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrotation-key63ef2a57/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "5"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrotation-key63ef2a57/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "352"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1695870512,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1695870512
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "sign",
            "verify",
            "encrypt",
            "decrypt",
            "unwrapKey"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrotation-key63ef2a57/9666942a2ac444bfb839222b67594630",
          "kty": "RSA-HSM",
          "n": "pNsNP-9akhqvjckCqMEW0jGHvf4BUvNM-Bh9i62as98uxsbS7FcO22wKs6LcUKTFr0RnWo0neLY14NOKkboGHx6RyIkIyXmNr4E_astoru6Zx1WsL-7NjhR2E-bqh0I6pRLOsB0Ai72aZVjblqo0XduPBHG_vvBXWG2B7APD0RI4uAQJXOpULmSzb3mIwVaTPLEMMTyPxL0XXJQJDUfud2GYrcwrmYfJAezPVRzwqGy4cZHdVHNCmKpyihJ32mKfooyZ27i1LATtuROyIUaUue0bqRxSAC1qFSObIRmwtyWX6mezgFrepWZZglz4YX_CO7t4SMFEB-nXeG4XSJS4Fw"
        }
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrotation-key63ef2a57/rotationpolicy?api-version=7.4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lifetimeActions": [
          {
            "trigger": {
              "timeAfterCreate": "P6M"
            },
            "action": {
              "type": "Rotate"
            }
          }
        ],
        "attributes": {
          "expiryTime": "P1Y"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "189"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1695870513,
          "expiryTime": "P1Y",
          "updated": 1695870513
        },
        "id": "keys/livekvtestrotation-key63ef2a57/rotationpolicy",
        "lifetimeActions": [
          {
            "action": {
              "type": "rotate"
            },
            "trigger": {
              "timeAfterCreate": "P6M"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrotation-key63ef2a57/rotate?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "267"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1695870513,
          "enabled": true,
          "exp": 1727492913,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1695870513
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "sign",
            "verify",
            "encrypt",
            "decrypt",
            "unwrapKey"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrotation-key63ef2a57/698d8932825e4f3433a89915a975d199",
          "kty": "RSA-HSM",
          "n": "vXfHFCLSq4P78lXFuFikR2T_-xgKRgDXm9T8ufbQ3tQ1l2p2if7UKYnAIfRYeNfZEPWnvEQla-EXnJSYv2XohDtKSsM4wdmJETai-eDq7Osy4hLC7O860P_DC4vIkh3X_rH77Ic6SG2HAovZyVtOjIiTXJyFgmZACoWyrhll95s5YTpoaSJ38ltYGpOQ2-KZ9QygDX8RAv0NxFHVADSwZgYmpgjZm4n04aq4_vfqgEs2GhdiEHgcNWZAcSwHNvW56HSrxJ3xMz4p22uPuamn002LbdW6EBJAWPEfvBk6unwyTIsq_JFndVIEcqtUtux1zp6A2pMwW6RD6dlyAWBISQ"
        }
      }
    }
  ],
  "Variables": {}
}
