{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrud-ec-key415a3058/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrud-ec-key415a3058/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "attributes": {
          "enabled": true
        },
        "tags": {
          "purpose": "unit test",
          "test name": "CreateECKeyTest"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-ec-key415a3058/8cf69672921b4bf8bcbf8420160aa184",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "SrHaOXPmOjrqOe_1yXEFN5c1hGxvUl8XbIYJQt2lxmQ",
          "y": "zIyP0TroM2bOwS4Sj9C0qFNVdKxbVuzU2sC98eWsRxw"
        },
        "attributes": {
          "enabled": true,
          "created": 1741731775,
          "updated": 1741731775,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        },
        "tags": {
          "purpose": "unit test",
          "test name": "CreateECKeyTest"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrud-P-256-ec-key415a3058/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-P-256-ec-key415a3058/f18c3771868742549022a399a89696e4",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "jQhc_CtdcMOyZPZKGSzmIxggYTcyxMmPQB-Nuzayn-w",
          "y": "e_PqwXbXMJrXJvRBX2kFXinH6HQDjo-1UJ6gWvucc1A"
        },
        "attributes": {
          "enabled": true,
          "created": 1741731777,
          "updated": 1741731777,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestimport-test-key415a3058?api-version=7.6-preview.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "AKCRTQAjSsaDshtMFdW-2Ie9yVnC5Xr1Suc06PAHINd10nXkVSB-N4TO62ClCkZV3XKnqU0nHo7o95WaZpym53W_DiO62umRtFKdl4UotL2QUh0y3SZWeWuoK2u_x2aMj17rUFN0f9GZMZ0pqEQNCPRBLVJ_-TEe2nGCWSC0exxGsRqz6R1zFkB-icfzQPe4WjQELOUXQ7J9RxhAPTTHtDivYYG-BeTRHrmF04JT1_6b9T_C8bAC0i0teT-nmlBLarQtBJKATXBx1yegbPOoiTqlQrFQP4MrKWNxtnB9Tcbjcvj-Z9je0ckI_eRc4DvAhqcUh_p15Dqg4GeaoNIO_jU",
          "e": "AQAB",
          "d": "Ynx9JGaBSP4iUsf6ZJ6opantRNdcdmzaQrKbZg6ZQE8Ohi1FYabJWvaoPSE-CiJEsDzShXZHMhUHN4X7Bn8BXaGQhK3p9HXgiwQKmix7oAJTu4ElUIyd8UC3UWHSZr40el4PaQD-HYu_eMzCXus34MnRiNbh_BUWm6T-Eidhk9d3kNIyaSi9YNDQHW6tjWrEhhq63O7JU1j9ZonFChZxpKk20jdkQKQURVAdpOdL-5j4I70ZxFuU6wHZj8DS8oRQfwGOvZKbgYDb5jgf3UNL_7eACqq92XPVX56vm7iKbqeyjCqAIx5y3hrSRIJtZlWCwjYnYQGd4unxDLi8wmJWSQ",
          "dp": "AMmhWb5yZcu6vJr8xJZ-t0_likxJRUMZAtEULaWZt2DgODj4y9JrZDJP6mvckzhQP0WXk2NuWbU2HR5pUeCN2wieG1B76VKoH76vfnaJDqT1NuJVBcP2SLHog3ffwZtMME5zjfygchG3kihqOSpwTQ9ETAqAJTkRC38fEhwAz_Cp",
          "dq": "AKC9TAo9n2RDaggjdLXK8kiLrBVoaWFTpqXkzYXRhtsx4vWPAkxhfSnze05rVMl6HiXv7FnE0f0wYawzUJzoyuXBH0zS6D9BqCZPeF543AmWB27iPf38Q9Z8Rjr6oBgMSnGDV_mm8nDVQkeaDyE4cOZh-5UKvKShTKKQVwunmDNH",
          "qi": "AJ_nrkLpK8BPzVeARkvSHQyKwMWZ-a8CD95qsKfn0dOZAvXY-2xhQYTEwbED-0bpTNEKbIpA-ZkaHygmnzJkNbbFAnb9pkkzU8ZQqDP3JNgMfVIroWx58Oth9nJza2j7i-MkPRCUPEq3Ao0J52z7WJIiLji8TTVYW_NaiM1oxzsH",
          "p": "ANHerI1o3dLB_VLVmZZVss8VZSYN5SaeQ_0qhfOSgOFwj__waCFmy2EG7l6l6f_Z-Y0L7Mn_LNov68lyWSFa2EuQUeVj4UoFHc5Di8ZUGiSsTwFM-XMtNuv8HmGgDYLL5BIJD3eTz71LdgW-Ez38OZH34b7VeG8zfeUDb8Hi30zz",
          "q": "AMPcZrZBqbc82DO8Q5zTT8ZXRGWrW36KktMllaIk1W2RHnRiQiW0jBWmcCgqUcQNHa1LwumjyNqwx28QBS37BTvG7ULGUoio6LrOeoiBGEMj-U19sX6m[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrud-rsa-key415a3058/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048,
        "key_ops": [
          "encrypt",
          "decrypt",
          "sign",
          "verify",
          "wrapKey",
          "unwrapKey"
        ],
        "tags": {
          "purpose": "unit test",
          "test name ": "CreateRSAKeyTest"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvt[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrud-rsa-key415a3058/b82e27fcb8cf48a483104f215c67a617?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-key415a3058/b8[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrud-rsa-key415a3058/?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-key415a3058/b82e27fcb8cf48a483104f215c67a617",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wpW6M1uN2PA3M6_a7Q-shKcZ9hsZ6uD6JnO_2caPzCfJUPjfgUrSrVL1nLRmE7sqzNyK46otuC7tsQVJaOIzToTq838FRUAb5r-qsCpeoaiBEpc1n3vxhjOmEB8ziO5msJMDBxYCVG4UVRGrEY-IcwaYi_qBXei-EkA5wjdGV7mrZXVewBDNr8IWkeBxdeWRww2qu1FyHoebxilaKmxU_A7wG2NlKVwL7IwMn14g0Z-lhcAUAgGxKl3yCW7CI5GXgZfMxeDkl-fZOw-Xdj_hSLkdeN37KHxrEFNcSmblmGHzdPvcUPG4HQKKKzoE2-oymzZj81PD5VPxPFIR9X8VIQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1741731779,
          "updated": 1741731779,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        },
        "tags": {
          "purpose": "unit test",
          "test name ": "CreateRSAKeyTest"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrud-rsa-key415a3058/?api-version=7.6-preview.2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key_ops": [
          "decrypt",
          "encrypt"
        ],
        "attributes": {
          "exp": 2524723200
        },
        "tags": {
          "foo": "updated tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-key415a3058/b82e27fcb8cf48a483104f215c67a617",
          "kty": "RSA",
          "key_ops": [
            "decrypt",
            "encrypt"
          ],
          "n": "wpW6M1uN2PA3M6_a7Q-shKcZ9hsZ6uD6JnO_2caPzCfJUPjfgUrSrVL1nLRmE7sqzNyK46otuC7tsQVJaOIzToTq838FRUAb5r-qsCpeoaiBEpc1n3vxhjOmEB8ziO5msJMDBxYCVG4UVRGrEY-IcwaYi_qBXei-EkA5wjdGV7mrZXVewBDNr8IWkeBxdeWRww2qu1FyHoebxilaKmxU_A7wG2NlKVwL7IwMn14g0Z-lhcAUAgGxKl3yCW7CI5GXgZfMxeDkl-fZOw-Xdj_hSLkdeN37KHxrEFNcSmblmGHzdPvcUPG4HQKKKzoE2-oymzZj81PD5VPxPFIR9X8VIQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "exp": 2524723200,
          "created": 1741731779,
          "updated": 1741731783,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        },
        "tags": {
          "foo": "updated tag"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrud-rsa-key415a3058?api-version=7.6-preview.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-key415a3058",
        "deletedDate": 1741731783,
        "scheduledPurgeDate": 1742336583,
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-key415a3058/b82e27fcb8cf48a483104f215c67a617",
          "kty": "RSA",
          "key_ops": [
            "decrypt",
            "encrypt"
          ],
          "n": "wpW6M1uN2PA3M6_a7Q-shKcZ9hsZ6uD6JnO_2caPzCfJUPjfgUrSrVL1nLRmE7sqzNyK46otuC7tsQVJaOIzToTq838FRUAb5r-qsCpeoaiBEpc1n3vxhjOmEB8ziO5msJMDBxYCVG4UVRGrEY-IcwaYi_qBXei-EkA5wjdGV7mrZXVewBDNr8IWkeBxdeWRww2qu1FyHoebxilaKmxU_A7wG2NlKVwL7IwMn14g0Z-lhcAUAgGxKl3yCW7CI5GXgZfMxeDkl-fZOw-Xdj_hSLkdeN37KHxrEFNcSmblmGHzdPvcUPG4HQKKKzoE2-oymzZj81PD5VPxPFIR9X8VIQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "exp": 2524723200,
          "created": 1741731779,
          "updated": 1741731783,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        },
        "tags": {
          "foo": "updated tag"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/livekvtestcrud-rsa-key415a3058?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: livekvtestcrud-rsa-key415a3058"
        }
      }
    },
[...]
