{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestmultitenant-key4f1132dd/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestmultitenant-key4f1132dd/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestmultitenant-key4f1132dd/fc00035b15ee42e39e2935a2feb06dbb",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "2Ajh6ps1GbWS-q2almo91VVGzQnyx33cf1WpErwkEgJ0oeeG9oYbbqojZacCCbe6FpNCB4HQVIDVPi0DpQP1eLlXHmXg7eV6hyDheLfuDxNCdVTg1SQl3UCXxr_4CeInavx5bQ--q17AxBUvnH5Syo7whHPTo8c6Bg7eeXJet7m3P7JGDj6In5e2vbgM9_sWAVRCXiedw-lcP5QP0V_52tCeYYEX4ESW1v4fENL3eYS8T1IzO66ZfGliahMymvCFwOZKuFp4q8H6QQB9cOU6hoJ7BmV3g9Eur1hrB5jg02nk-VK1Y_WgLv7UZ2DS23Fsz13i7KW4PjLJbHKcseRxYQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1707349012,
          "updated": 1707349012,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestmultitenant-key4f1132dd/?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestmultitenant-key4f1132dd/fc00035b15ee42e39e2935a2feb06dbb",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "2Ajh6ps1GbWS-q2almo91VVGzQnyx33cf1WpErwkEgJ0oeeG9oYbbqojZacCCbe6FpNCB4HQVIDVPi0DpQP1eLlXHmXg7eV6hyDheLfuDxNCdVTg1SQl3UCXxr_4CeInavx5bQ--q17AxBUvnH5Syo7whHPTo8c6Bg7eeXJet7m3P7JGDj6In5e2vbgM9_sWAVRCXiedw-lcP5QP0V_52tCeYYEX4ESW1v4fENL3eYS8T1IzO66ZfGliahMymvCFwOZKuFp4q8H6QQB9cOU6hoJ7BmV3g9Eur1hrB5jg02nk-VK1Y_WgLv7UZ2DS23Fsz13i7KW4PjLJbHKcseRxYQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1707349012,
          "updated": 1707349012,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
