{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-not-yet-validc80837a4/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-not-yet-validc80837a4/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {
          "nbf": 32503680000
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-not-yet-validc80837a4/133bda52c7e2409890785ca75bda5182",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "9LYALckhSuspD7Mlv1EpEpyf3gXqf4BRFZ9ngDmkWxCd4xGksDGRCDPDAZY8Z6_CHGxJYVHPuI_sYGeINtho98Iuf1gUNaYM132x894d5zQ-C_6HncD-qXF9ITpdUxk8cVpiVLZTfbs6tO5d9qyMW_z0lbrN78LG4OD87jpvRsQXtk1g9q7qrKTu0OhqhjVhCuMv3-cpzgx3DdPq9-6bFQ-kLIpbluLSAwXSIGeBc4UCYUPCQcPfy3pJctc4RphlLL_zK6Da5l4dk1OR8G9BQ9CkROpiai0PzzW5KUCmkyX4jXTIArHJcHwnoB5a8BzAORzrlM-1QJojPTmpWW1ZZQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "nbf": 32503680000,
          "created": 1748906404,
          "updated": 1748906404,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-expiredc80837a4/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {
          "exp": 946684800
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-expiredc80837a4/f8660cce9bca4035ad11ed05d2952234",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yX4i_uvqwsBQ4SoE3m2lBnrNdbV7lGuiaRP2HzUGHBkRbRL_ZWTdW7yoLn12Ho2KUnXjfINUb5ZPCeiFVDWDI12TroP8i2BcHpQkPU0RQ4LNXPl5xMi24t0XJWd4dEMM3sCo5n3kg03x1A6sjMbMr2Hkv-nMjCp2HkRe-QJPQM2sRgAfUTPaWuZMM-noNDwpVKmi0rNtZZ3sHJ5laxvtuO1746Ultd5z3rIvhmTCk9-sJQn1qBb1te572ebFyPb5RSX3rPI8EV-XzRAmRI_J46XXvXjIdgEs2zhzsA8ED-bTuTxXPXH5shaIaJFxtLybUSB-wtKZ4VOD0DUWzuNXwQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "exp": 946684800,
          "created": 1748906406,
          "updated": 1748906406,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-validc80837a4/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {
          "nbf": 32503680000,
          "exp": 32535216000
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      [...]
