{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestkey069b7290d/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestkey069b7290d/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "73"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1777476650,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1777476650
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey069b7290d/dfcc7b986b390fb91f3504692dbd0b42",
          "kty": "RSA-HSM",
          "n": "rKtfGz1GuaM1kgNDOboS9jz0_66lWN7w4jjqSJ7t3IrzL6ZclPfzbPdkKBiPHn_RtyD-TDz2_iX6-p7ZR5r-OPsdPqCRVSciioAhIlKi03bnZ0Ma_oFdw0B5QHTuKwrM9YxMGuVRKk23flHEhFCUC8skEnD3Jl9UzwG7kTH5kch8sBpvc-VLErYfgxG1FiGSPD8QmATyzyKNgWQvUROow39j7KGJ3dY4SsVngS9UArIq9l555A4syHwkqX9TX6FrQTbE-gJjgnZ9gKTI3f9-KQu4Nj7VgEHodJDt0NiIjjYoEHDBWfgrmGivFnYfFpXkNjbCpZVVsb3B4mzS2VF5[...]
