{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256e4e5349f/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256e4e5349f/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256e4e5349f/61204df504ab4ed88d473173c7d568ce",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "lgluKBc3x5IRw4WN0FcjaYm6ZqJpv8tx7_5jiAEkH2w",
          "y": "zwRhHd2w-DUgsaEdqN_kN3OWla10C97e3s_2d1CQCMs"
        },
        "attributes": {
          "enabled": true,
          "created": 1779469098,
          "updated": 1779469098,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256e4e5349f/61204df504ab4ed88d473173c7d568ce/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256e4e5349f/61204df504ab4ed88d473173c7d568ce",
        "value": "Opmwh_t0nKwwR_qiP8wdP73eNRGVVaDsD8XrsidEfr23tTPnragHd3qJRuBQKfxK_m_h1Nl6xHg2TFOye-nkMA"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256Ke4e5349f/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Ke4e5349f/46f39accdbcd4a9b827ce4ba8a7ebf60",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "rRl-XmnQZ6y8UArGe06nwIk9Wtn1z2LcFV2Okkb0PHA",
          "y": "FsvNIJqpsoyNKky57svveRgLx1yvsSoN1oSxgN3lnk0"
        },
        "attributes": {
          "enabled": true,
          "created": 1779469103,
          "updated": 1779469103,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256Ke4e5349f/46f39accdbcd4a9b827ce4ba8a7ebf60/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Ke4e5349f/46f39accdbcd4a9b827ce4ba8a7ebf60",
        "value": "6I2bocqYxKSnpXQxCS0lPIp1k11ZFQ1Fj2qYxUxSk9NyE-Zrg6rcHFtHi_IJTOeWaf0kgLNbl4V9RE0OYygpCg"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-521e4e5349f/58b801b0a53e4d4cb40ee1f97dd1a6d8/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-521e4e5349f/58b801b0a53e4d4cb40ee1f97dd1a6d8",
        "value": "AJ-7qwuiLZQozxmMaGnM94UqGNSQ6XuErZgrUvXbiHq4R5wwFzIvhRhUQe1BjTOt_-f7_ligYBVRDKFKR75hY5fNAYVGq5NXw9CZ_zkwaguf3q6VFb5lo2dwUAJ7Bi9QS7vNzN8uTXZdK5m8xC32Th4v3thvO1ccLQY9JOHYiWTzrI4m"
      }
    }
  ],
  "Variables": {}
}
