{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrud-ec-key59e2f01/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrud-ec-key59e2f01/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "attributes": {
          "enabled": true
        },
        "tags": {
          "purpose": "unit test",
          "test name": "CreateECKeyTest"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-ec-key59e2f01/77864b4133bf4560a08456651f9ed0f5",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "CjTpxykkDr9kqgXJzvwuYXZYKivDvW9qDmpQmdgA6io",
          "y": "WmnBAO3AAH2fuBDApy2Q9JyWnpAGPb1NPBT10fxEE_c"
        },
        "attributes": {
          "enabled": true,
          "created": 1777476964,
          "updated": 1777476964,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        },
        "tags": {
          "purpose": "unit test",
          "test name": "CreateECKeyTest"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrud-P-256-ec-key59e2f01/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
     [...]
