{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrotation-key327229e7/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrotation-key327229e7/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrotation-key327229e7/4043a7fdebcc44c1a31ce7014a80c33b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "zso7bLsAllILF_aLPwqXTZPHmVPeut9xepaBg1zgoSYK_8DftCKmOt2KfR43jZKuV12x919xP8PqFp5pk3wXgNIK4Y2tTD-bqzpnAJZSEXf10fZRzW-QfrY-IyLdxP-SLdHURe_JZZa5stODNVdiCjm4zylVYh4iunje0FC3pwVSH_iWtCI5ro-3F26RudFPXlCTWJEQPMqgwQ0wRwZzW-ifcXIlff_8QIZE9vRgwgx1hHzTdRyzVtTvGstp_9UNENi9xgFyVk95EsDHhE8y4ZI9LtVb5BbYxDEsV07KyRS1iaDvSCDhr3NVyLHbo8MC0MgrKk_Obe4JSaXnPHsEUQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779407600,
          "updated": 1779407600,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrotation-key327229e7/rotate?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrotation-key327229e7/2c31cb9a88a64275bd7ee242d20f605a",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0NbNOLX7_EoOJ4BtWVDQbkWRYT88UhAuyvaLPCURFhLWld_RlikojbzpgE7cX3YKgXTbm6vouVJDM6oO3Sk9WBoS8l7rQIzRvBi3jXos_8zvT84VWCyIcOaIii930n2tvD8htbIY7VyayyOcbuwIuXU32ccWk76g3iwCTQ1Fc0C-0-qcmP8akstUfojzM26-xtbVBOLXxMvgEk-q7RjP3szoV36XGOKtQNFe-WONoRrxfDtrzFqLZp5HRWJUhc7Jcc0gZn9XpEEFag_crtEqj0BCeNIM2QhUXSZn5jG6rG2krWs-mWuQNzymtltK-Xh2mQnN6Kd7ZDUM7S3Dzg7JDQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779407600,
          "updated": 1779407600,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
