{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-nameb19c37fa/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-nameb19c37fa/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-nameb19c37fa/249209fb34fb435591d4c306f03fadd7",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "u2O55HVQaYlouJSbA4UmFAxqSra9kQaufqUD_JpjDkHANogRBuyPcAaScikcgRdlvQMrJm6lZCjhNYlebcgvmTLW0Ec_w3nP2FprjBiqfumEOCOzIINUxq2_HoOAjJ69dTqRH90_W5BjnUGKl1xFCg3w2tA6_xHg_EOyLshQHt3DKbZTMp8Wr1rFv8Jna5vlr3iVx9dhRHo-MWGdRz9X8AjsW8x2NVeSxys6iBapewzz6-iHFCu5bY8JyPyEe9pRqxJ28_wUz9zR1SElU0rJD_1xmC6qPulpO4tb-awiCNaKQfXclgnDidLp6x_MqJQbMKZkKzutTUj6Hm0nJvo5VQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779477707,
          "updated": 1779477707,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-nameb19c37fa?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-nameb19c37fa",
        "deletedDate": 1779477707,
        "scheduledPurgeDate": 1780082507,
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-nameb19c37fa/249209fb34fb435591d4c306f03fadd7",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "u2O55HVQaYlouJSbA4UmFAxqSra9kQaufqUD_JpjDkHANogRBuyPcAaScikcgRdlvQMrJm6lZCjhNYlebcgvmTLW0Ec_w3nP2FprjBiqfumEOCOzIINUxq2_HoOAjJ69dTqRH90_W5BjnUGKl1xFCg3w2tA6_xHg_EOyLshQHt3DKbZTMp8Wr1rFv8Jna5vlr3iVx9dhRHo-MWGdRz9X8AjsW8x2NVeSxys6iBapewzz6-iHFCu5bY8JyPyEe9pRqxJ28_wUz9zR1SElU0rJD_1xmC6qPulpO4tb-awiCNaKQfXclgnDidLp6x_MqJQbMKZkKzutTUj6Hm0nJvo5VQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779477707,
          "updated": 1779477707,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/livekvtestkey-nameb19c37fa?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: livekvtestkey-nameb19c37fa"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/livekvtestkey-nameb19c37fa/recover?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-nameb19c37fa/249209fb34fb435591d4c306f03fadd7",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "u2O55HVQaYlouJSbA4UmFAxqSra9kQaufqUD_JpjDkHANogRBuyPcAaScikcgRdlvQMrJm6lZCjhNYlebcgvmTLW0Ec_w3nP2FprjBiqfumEOCOzIINUxq2_HoOAjJ69dTqRH90_W5BjnUGKl1xFCg3w2tA6_xHg_EOyLshQHt3DKbZTMp8Wr1rFv8Jna5vlr3iVx9dhRHo-MWGdRz9X8AjsW8x2NVeSxys6iBapewzz6-iHFCu5bY8JyPyEe9pRqxJ28_wUz9zR1SElU0rJD_1xmC6qPulpO4tb-awiCNaKQfXclgnDidLp6x_MqJQbMKZkKzutTUj6Hm0nJvo5VQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779477707,
          "updated": 1779477707,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-nameb19c37fa/?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) livekvtestkey-nameb19c37fa was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-nameb19c37fa/?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-nameb19c37fa/249209fb34fb435591d4c306f03fadd7",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "u2O55HVQaYlouJSbA4UmFAxqSra9kQaufqUD_JpjDkHANogRBuyPcAaScikcgRdlvQMrJm6lZCjhNYlebcgvmTLW0Ec_w3nP2FprjBiqfumEOCOzIINUxq2_HoOAjJ69dTqRH90_W5BjnUGKl1xFCg3w2tA6_xHg_EOyLshQHt3DKbZTMp8Wr1rFv8Jna5vlr3iVx9dhRHo-MWGdRz9X8AjsW8x2NVeSxys6iBapewzz6-iHFCu5bY8JyPyEe9pRqxJ28_wUz9zR1SElU0rJD_1xmC6qPulpO4tb-awiCNaKQfXclgnDidLp6x_MqJQbMKZkKzutTUj6Hm0nJvo5VQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779477707,
          "updated": 1779477707,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
