{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name5c6e3490/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name5c6e3490/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name5c6e3490/ee3af82cc9da4bf9b7a06fa0a69c30ec",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wlwa7a7HnjOrj89o1Zxn-o0cfvHw2J9EfvZZYuR6W7ftY2sURvTNQbjDc4DTGUNO5zy5yEPaOe_fkIjBhcKv0tXcySb1eJ74hGQT_5kHYU1eN85RQruC8Tct8GH97YKpkPQ1U5tsi1wea9mS4DlC5Z_B2jTQ1FI-_b4R5PSntvK-dG2iRb4qVTynyigc8Bx-oye7OgveefiTmc3m_vxPey69CNzjIddy9U_hmVkV1ub-HxJxlOhnI9By-bRdVCtfojOj4KNMIQrUQ86wSfiZFOz-gH457P8WbsAxS6v0Gdt8aUCOhCQN0yxsEZuIA3wQNDK1gA6UL2pMsAhDcy9P3Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1741308492,
          "updated": 1741308492,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name5c6e3490?api-version=7.6-preview.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name5c6e3490",
        "deletedDate": 1741308492,
        "scheduledPurgeDate": 1741913292,
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name5c6e3490/ee3af82cc9da4bf9b7a06fa0a69c30ec",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wlwa7a7HnjOrj89o1Zxn-o0cfvHw2J9EfvZZYuR6W7ftY2sURvTNQbjDc4DTGUNO5zy5yEPaOe_fkIjBhcKv0tXcySb1eJ74hGQT_5kHYU1eN85RQruC8Tct8GH97YKpkPQ1U5tsi1wea9mS4DlC5Z_B2jTQ1FI-_b4R5PSntvK-dG2iRb4qVTynyigc8Bx-oye7OgveefiTmc3m_vxPey69CNzjIddy9U_hmVkV1ub-HxJxlOhnI9By-bRdVCtfojOj4KNMIQrUQ86wSfiZFOz-gH457P8WbsAxS6v0Gdt8aUCOhCQN0yxsEZuIA3wQNDK1gA6UL2pMsAhDcy9P3Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1741308492,
          "updated": 1741308492,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/livekvtestkey-name5c6e3490?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: livekvtestkey-name5c6e3490"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/livekvtestkey-name5c6e3490/recover?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name5c6e3490/ee3af82cc9da4bf9b7a06fa0a69c30ec",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wlwa7a7HnjOrj89o1Zxn-o0cfvHw2J9EfvZZYuR6W7ftY2sURvTNQbjDc4DTGUNO5zy5yEPaOe_fkIjBhcKv0tXcySb1eJ74hGQT_5kHYU1eN85RQruC8Tct8GH97YKpkPQ1U5tsi1wea9mS4DlC5Z_B2jTQ1FI-_b4R5PSntvK-dG2iRb4qVTynyigc8Bx-oye7OgveefiTmc3m_vxPey69CNzjIddy9U_hmVkV1ub-HxJxlOhnI9By-bRdVCtfojOj4KNMIQrUQ86wSfiZFOz-gH457P8WbsAxS6v0Gdt8aUCOhCQN0yxsEZuIA3wQNDK1gA6UL2pMsAhDcy9P3Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1741308492,
          "updated": 1741308492,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name5c6e3490/?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) livekvtestkey-name5c6e3490 was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name5c6e3490/?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name5c6e3490/ee3af82cc9da4bf9b7a06fa0a69c30ec",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wlwa7a7HnjOrj89o1Zxn-o0cfvHw2J9EfvZZYuR6W7ftY2sURvTNQbjDc4DTGUNO5zy5yEPaOe_fkIjBhcKv0tXcySb1eJ74hGQT_5kHYU1eN85RQruC8Tct8GH97YKpkPQ1U5tsi1wea9mS4DlC5Z_B2jTQ1FI-_b4R5PSntvK-dG2iRb4qVTynyigc8Bx-oye7OgveefiTmc3m_vxPey69CNzjIddy9U_hmVkV1ub-HxJxlOhnI9By-bRdVCtfojOj4KNMIQrUQ86wSfiZFOz-gH457P8WbsAxS6v0Gdt8aUCOhCQN0yxsEZuIA3wQNDK1gA6UL2pMsAhDcy9P3Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1741308492,
          "updated": 1741308492,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
