{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name4e9a39f5/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name4e9a39f5/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048,
        "attributes": {
          "exp": 2527401600
        },
        "key_ops": [
          "encrypt",
          "decrypt",
          "sign",
          "verify",
          "wrapKey",
          "unwrapKey"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name4e9a39f5/d5c13abe04724f13ba43cf26b563766a",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vwFw4H8czqUueW-P8X1oRn2lyLQBc_8iQk-nh1U-VjhBifkJB187iORkF7uMy6iui1WU7G1pqUsXt-sO7k5yu6D15DB8ONovyM4vNM1s7vdXizlPEkC-_7rQInsN4saaO8zbhMM7uu-BPrZV-nIsl1bJ0YJQhFKOKob1c0ne2Z6fMdOhDU6cx_HLLtSXkVazhSuY_EVD-Kfssd3t3ACqUYvr380sCluKnIoWqayY_l1SprVFGd9t2fYobSgbPuZ1jh9f-LNgxobBjRE7x2XMQUuKYuplasZfTS4ORLLyOoZnixcDEYSqADEaQCdcXBXuPu3iHgihHIrDv30LuEpanQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "exp": 2527401600,
          "created": 1741732797,
          "updated": 1741732797,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name4e9a39f5/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name4e9a39f5/74e3093ed9994f0fb148abaab07e2470",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "-P_mbVke6GamhkDqCbnVMFQzn55lUWbyHMeedLaRaa0",
          "y": "OCGb4qHEowvIt8Bf28BbUM_vxEx7-K9TyzimPcfLc9w"
        },
        "attributes": {
          "enabled": true,
          "created": 1741732797,
          "updated": 1741732797,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name4e9a39f5/?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name4e9a39f5/74e3093ed9994f0fb148abaab07e2470",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "-P_mbVke6GamhkDqCbnVMFQzn55lUWbyHMeedLaRaa0",
          "y": "OCGb4qHEowvIt8Bf28BbUM_vxEx7-K9TyzimPcfLc9w"
        },
        "attributes": {
          "enabled": true,
          "created": 1741732797,
          "updated": 1741732797,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name4e9a39f5/74e3093ed9994f0fb148abaab07e2470?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name4e9a39f5/74e3093ed9994f0fb148abaab07e2470",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "-P_mbVke6GamhkDqCbnVMFQzn55lUWbyHMeedLaRaa0",
          "y": "OCGb4qHEowvIt8Bf28BbUM_vxEx7-K9TyzimPcfLc9w"
        },
        "attributes": {
          "enabled": true,
          "created": 1741732797,
          "updated": 1741732797,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name4e9a39f5/?api-version=7.6-preview.2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "exp": 2524723200
        },
        "tags": {
          "foo": "updated tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name4e9a39f5/74e3093ed9994f0fb148abaab07e2470",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "-P_mbVke6GamhkDqCbnVMFQzn55lUWbyHMeedLaRaa0",
          "y": "OCGb4qHEowvIt8Bf28BbUM_vxEx7-K9TyzimPcfLc9w"
        },
        "attributes": {
          "enabled": true,
          "exp": 2524723200,
          "created": 1741732797,
          "updated": 1741732798,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        },
        "tags": {
          "foo": "updated tag"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name4e9a39f5?api-version=7.6-preview.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name4e9a39f5",
        "deletedDate": 1741732798,
        "scheduledPurgeDate": 1742337598,
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name4e9a39f5/74e3093ed9994f0fb148abaab07e2470",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "-P_mbVke6GamhkDqCbnVMFQzn55lUWbyHMeedLaRaa0",
          "y": "OCGb4qHEowvIt8Bf28BbUM_vxEx7-K9TyzimPcfLc9w"
        },
        "attributes": {
          "enabled": true,
          "exp": 2524723200,
          "created": 1741732797,
          "updated": 1741732798,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        },
        "tags": {
          "foo": "updated tag"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/livekvtestkey-name4e9a39f5?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: livekvtestkey-name4e9a39f5"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/livekvtestkey-name4e9a39f5?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name4e9a39f5",
        "deletedDate": 1741732798,
        "scheduledPurgeDate": 1742337598,
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name4e9a39f5/74e3093ed9994f0fb148abaab07e2470",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "-P_mbVke6GamhkDqCbnVMFQzn55lUWbyHMeedLaRaa0",
          "y": "OCGb4qHEowvIt8Bf28BbUM_vxEx7-K9TyzimPcfLc9w"
        },
        "attributes": {
          "enabled": true,
          "exp": 2524723200,
          "created": 1741732797,
          "updated": 1741732798,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false
        },
        "tags": {
          "foo": "updated tag"
        }
      }
    }
  ],
  "Variables": {}
}
