{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-verify-2048b843313a/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-verify-2048b843313a/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "148"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1697668362,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1697668362
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-verify-2048b843313a/5a7dce0c5f3607440d4bac8974ce74d7",
          "kty": "RSA-HSM",
          "n": "pI6b2O0n2TrwjAZTdSFqyurVroIrzn5TmN1AK2rDx2HxMbmis30d6cycM6UEVRXWNKL6N33uS38FqnIaWsH9Zjjvbl5ydcRsjIdWFfNRxAjB5WTQNgSrANrzqqGwifj2-KOTkKIkHCylTpw0Li1nrlAslrKC4fubq5PQQnRYyOavOl5HLd9CL1kz1JNvfiSPLu6mXxqg-NlOk_jhd_IYcsjO4eMs_foh2Oik98L_85hbpa-D1JD8SLDOqzMOFpstOK8Wf0jfSg4g2oA0zy6moQ8VEDv2v33MmFG-8IFoztgNqihNGhkeyjn_p2xO_0kAfUZJDjSRxiXLYIzdYDI3Vw"
        }
      }
    },
[...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-verify-2048b843313a/5a7dce0c5f3607440d4bac8974ce74d7/sign?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "31"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-verify-2048b843313a/5a7dce0c5f3607440d4bac8974ce74d7",
        "value": "WyhA2lLnb38VJUxWTX8ClfP7Fq3GcseABzpCVnntGpRdOHUA0Ojw44lj9zVw-ilcYEXm4zJDbD_KmcqQ07nX9XnyGpRx5XuhqzVVCql1_N-Qr7cLYRD362vPEa0-btk_aJcgzkji9GMMTXz_ZgCBeQZBF7pqHgwkPONUpNI9X_sBH7uDvze0qgEs_IqaRkhmucZ31aAqmfvxgaaEyVuq2MHOn8qPU2cb3Y3NGxSPL6sfqDL56dhUfmEgj-o77n0ipqcWupNxWOp5FtOi6yFKFoRukyR8zUSxXZe6-bE3bMwLYKLF0wx4eXJ7WFAv8BoTtcJcvc5kCdI4UCvS3QzWvA"
      }
    },
[...]
