{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey060f22c3b/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey060f22c3b/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey060f22c3b/83c6dda69d5a498bbf5cb2a416859ee3",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rjAmvPPv5zLQLlgwiHa6sz0zRF0-5yTvgz9a1E93pzgxWQKygV2jHJRjQ69zmaG15ODV-u-OTP1daQY5bMsd3tyCbHfialt6PStC03GW7ht2B7JkKmd6RxnopRDH90BZ8ajOJYTztcErlai7U8FCNsPAXePcBtGVNLwcIQN5xezVsUP9sjLwvUAdmiIdoi2aHIyTJmKHfX-yeZL-Lmgq_oSSd78ueTHiMncthG6XVbnpZAvFcycgs3ZsEhIY2eR7GwE_qQLuSCmP5VXcI04Y2Ns4n_klLCzDx7CRT8B2HA33DtCpREoT398pSiSyDOVyj90lLgfcFohBiChDGMZS_Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1697669198,
          "updated": 1697669198,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey060f22c3b?api-version=7.5-preview.1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey060f22c3b",
        "deletedDate": 1697669211,
        "scheduledPurgeDate": 1698274011,
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey060f22c3b/83c6dda69d5a498bbf5cb2a416859ee3",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rjAmvPPv5zLQLlgwiHa6sz0zRF0-5yTvgz9a1E93pzgxWQKygV2jHJRjQ69zmaG15ODV-u-OTP1daQY5bMsd3tyCbHfialt6PStC03GW7ht2B7JkKmd6RxnopRDH90BZ8ajOJYTztcErlai7U8FCNsPAXePcBtGVNLwcIQN5xezVsUP9sjLwvUAdmiIdoi2aHIyTJmKHfX-yeZL-Lmgq_oSSd78ueTHiMncthG6XVbnpZAvFcycgs3ZsEhIY2eR7GwE_qQLuSCmP5VXcI04Y2Ns4n_klLCzDx7CRT8B2HA33DtCpREoT398pSiSyDOVyj90lLgfcFohBiChDGMZS_Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1697669198,
          "updated": 1697669198,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey060f22c3b?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: livekvtestkey060f22c3b"
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey060f22c3b/recover?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey060f22c3b/83c6dda69d5a498bbf5cb2a416859ee3",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rjAmvPPv5zLQLlgwiHa6sz0zRF0-5yTvgz9a1E93pzgxWQKygV2jHJRjQ69zmaG15ODV-u-OTP1daQY5bMsd3tyCbHfialt6PStC03GW7ht2B7JkKmd6RxnopRDH90BZ8ajOJYTztcErlai7U8FCNsPAXePcBtGVNLwcIQN5xezVsUP9sjLwvUAdmiIdoi2aHIyTJmKHfX-yeZL-Lmgq_oSSd78ueTHiMncthG6XVbnpZAvFcycgs3ZsEhIY2eR7GwE_qQLuSCmP5VXcI04Y2Ns4n_klLCzDx7CRT8B2HA33DtCpREoT398pSiSyDOVyj90lLgfcFohBiChDGMZS_Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1697669198,
          "updated": 1697669198,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey060f22c3b/?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) livekvtestkey060f22c3b was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey660f22c3b/?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey660f22c3b/266211c03355407fbea02bcc6addc87f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "sUgZG0KCL4NXhicwEa2UqJULUUdC71m8WKxVzO36N0nAJxtAQhIKg5F6bzdNZV8nRVxvq0lR7ACJYXW1OUVo50m7nwIrZZzXAJcLgQnb17N5iCF8PnjJMYdkGvZ5fllEte9aZ3ARecwLyCygjAeNmjFKBrwj7xNVnx_vpWplAhi7Gb--0CzuZwGjo7aSFZrK0fgnIUeXe2Llvr6f9iw05LcwMUIbMY3i9irTjbjj7chGzKyAKB3pJRV6DaqsCg1K9C_Q4IvyxVoQaXr3OERPo75QjsIvRwOXu2ZQoRIxV5DjbPzHDqAyx0tEx4cr0PaqBN7fH2Bjr310d6MUdzIFWQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1697669211,
          "updated": 1697669211,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
