{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey045303053/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey045303053/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey045303053/bb5b29c82eb041bea251cef73ea80053",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0Z34yngLXzrZNpABrvPRagYRGbqnIXq3QxripbHlx-kHot1eykNuQ9D-X7jxeHJAQTRIWBJhtCwr8CtB87Pq0OkcEJksrVMtsCsl3fQkpnwKgvOxguPrHccO6KtXoKnULNvRK_kwIAHo8e-PAuPt2fE29XDa4tp0ItD-N9gt48rjSr_qM0_gXgjYFMQTzGeK2jf7vMraNbewj-bnuwOFPnOTSBIE7syG3gwNggwHoFuQ7oFc_19rum0aTI3UBSkLg47KV1c-qQuavWCgxuxAcuBxHYeVUOWGlw5o2X0T5ofMVk_C3GRUjJqjzbBp8ZFDmNYd3j00Umruuy4J83lhoQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1715138006,
          "updated": 1715138006,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey045303053?api-version=7.6-preview.1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey045303053",
        "deletedDate": 1715138019,
        "scheduledPurgeDate": 1715742819,
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey045303053/bb5b29c82eb041bea251cef73ea80053",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0Z34yngLXzrZNpABrvPRagYRGbqnIXq3QxripbHlx-kHot1eykNuQ9D-X7jxeHJAQTRIWBJhtCwr8CtB87Pq0OkcEJksrVMtsCsl3fQkpnwKgvOxguPrHccO6KtXoKnULNvRK_kwIAHo8e-PAuPt2fE29XDa4tp0ItD-N9gt48rjSr_qM0_gXgjYFMQTzGeK2jf7vMraNbewj-bnuwOFPnOTSBIE7syG3gwNggwHoFuQ7oFc_19rum0aTI3UBSkLg47KV1c-qQuavWCgxuxAcuBxHYeVUOWGlw5o2X0T5ofMVk_C3GRUjJqjzbBp8ZFDmNYd3j00Umruuy4J83lhoQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1715138006,
          "updated": 1715138006,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/livekvtestkey045303053?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: livekvtestkey045303053"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-key414b3057",
            "deletedDate": 1715137537,
            "scheduledPurgeDate": 1715742337,
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-key414b3057",
            "attributes": {
              "enabled": true,
              "exp": 2524723200,
              "created": 1715137534,
              "updated": 1715137537,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false
            },
            "tags": {
              "foo": "updated tag"
            }
          },
          {
            "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-keyae6d313f",
            "deletedDate": 1715137872,
            "scheduledPurgeDate": 1715742672,
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyae6d313f",
            "attributes": {
              "enabled": true,
              "exp": 2524723200,
              "created": 1715137868,
              "updated": 1715137872,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false
            },
            "tags": {
              "foo": "updated tag"
            }
          }
        ],
        "nextLink": "https://vaultname.vault.azure.net:443/deletedkeys?api-version=7.6-preview.1&$skiptoken=Sanitized"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys?api-version=7.6-preview.1&$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": "https://vaultname.vault.azure.net:443/deletedkeys?api-version=7.6-preview.1&$skiptoken=Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys?api-version=7.6-preview.1&$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": null
      }
    }
  ],
  "Variables": {}
}
