{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-key-namedcf72f4d/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-key-namedcf72f4d/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "144"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1715138180,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1715138180
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-key-namedcf72f4d/728feceead4b446a2226403fd459eba6",
          "kty": "RSA-HSM",
          "n": "jBohKbFFrAZ5eeliaDuF2bPM4wlm8Mmd0QGeYyEAKUUm5cvqW91CerGd_t_skRM1azoCi6v1ee5wyUQ4mcWsVF3iFpekAonipF558_6-KpR8KwhJAWxwKvO9OsU7HJ7jv_R7oxiY4mL5NltVxpX2kARXHj6cdwcdQrJwlKEB6onGXxWKt585I1YFXRswvPPnqvsEUwh1q-aGAX3e9D_P2xSGHQw5wsLB-rD6QYyBR1LWJVwg_lrrkuZHhqNxUwQ2hKDVshlUQRpj2gZQkdUZp9ijpsU7LyQJPFgJ21ayUjat-hxiBYzKDQpNcWbGhTOEc5508FfXp0kAhJGLy0IdHw"
        }
      }
    }
  ],
  "Variables": {}
}
