{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-not-yet-valid993938b5/create?api-version=sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Sanitized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-not-yet-valid993938b5/create?api-version=sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {
          "nbf": 32503680000
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-not-yet-valid993938b5/fd43a441ede642fa9b2b9e329f4b5f42",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0vLfEgR2Br1VeaKbROa-9QqToufgAUV6n7XF84mhccSd-2zDi57wmqLufCf3ibfJu6GymqzKh7Q3-1dI9gDRBI9ANDpM-R4qnbiKGpWs1aOvUC9Bx1-kg_IVjyLMqoNb8dAMNjku7IQgCkEvnIxvAqUBWpZzYoM7AqT2a-KWiK4FgkkKLX0oiI8UAMQjIvwhNGwsiIsg6tvnQCvAQYgv7VqKFd7yw66lrvMdQyB6bIPtiUOf_q5UIJXp2In3mSn_VQbnHaU4jEleExlIHARRCEV0lvJgu__viDsjCQ3Dxt3EBnzE2eNE0Q1ijucjq76mpHolyQzJeKgGwIjWhFRn8Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "nbf": 32503680000,
          "created": 1714536375,
          "updated": 1714536375,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-expired993938b5/create?api-version=sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {
          "exp": 946684800
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-expired993938b5/8194e5ef8e104caeb2aa2a224de3bef1",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "r7R039dtjQBo4UHQAT7e7sFZfqQUhPzCJB7E-yURwbZS3cklLpAJ3eHxyE_mtLJ2HoF3xCTUsC-78ZtLtzKMtueIeQqx_RmM4BTc3RxIbozbIjMTtteMsWJDQSRGkY6CFBiNVZv058v1oNE3yg8QpEhk9E4nMECslceeLs2Y1IrVt0QsoAEdQWipg9XeqAv3F5OV1XWVtnCRHEJU5mYtKFUCa0ck2KihkQNofNMQSdYYC73NA0laI9igjbhj3gQR2b3zaWKFIys4bZKbafmlR3QpTdDpWEZgB12C-ATEVeR4LOA9lNuQEeyVOeL8grucE4J3fKxvoD1VJB9QADl09Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "exp": 946684800,
          "created": 1714536377,
          "updated": 1714536377,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-valid993938b5/create?api-version=sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {
          "nbf": 32503680000,
          "exp": 32535216000
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
[...]
