{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-verify-2048eb6d31b2/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-verify-2048eb6d31b2/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048eb6d31b2/d7ae166a574d436cacb0bab89adffe79",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yuFYOCwJPjpUh0fi3eB6hqcj0OMFRlSW6Ead-FMfDPHsxdXV4jAFGOUScPXPlpgr1sDEs-Pkrs1VNBYbR4Q2VhkQ6dTjWCpGSbywH6gZsy-4vpzW0NjWiPwKzEbbKueFIXr0D_1C1pmVEgZi3z1-TyKXuBWAoK1CSLc_5TUDZCjoKzxp2BcBvzsDxBbFDcXK_kJk6XMYyzj-loob52X3aPGbTIzj82z1iVYJxutakDojk19ulbEsmK4gOdH4axQv-oFptop2XMZ6kzfcarsAA2a_IQ2PeKs5JtvKLd8-fD2A6qxUUdUGfChMbeZsXNhCQ1R6ALiFvC2UhaoV-L5ufQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1715137027,
          "updated": 1715137027,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-verify-2048eb6d31b2/d7ae166a574d436cacb0bab89adffe79/sign?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048eb6d31b2/d7ae166a574d436cacb0bab89adffe79",
        "value": "IRm9R0bzLVRiqaCTcrm1hvyteGg1YkdTkYUmPbedXNu1hUeXpiJRC49rNxwNR6r0N7uzeRujZuLAjT90ljkf5W3BPkBwJfN3v0HbW-8l6CgxrfMIACtTEsJur3ZdVbCzfOn7qUAMQ5t5-LHgYFGKGfLmvJqq1lVySp8FIw6o9KlndnyS-tPZaU-GwzcFGqS8vC9BArozcBWg4qUXxOiQLyyz5dnyQ4Hd5WUOMVX3smqhN4S4QiUS3JXBT6QEAzTcPvtIR2YvGnqKA_o_iESmdInr_B8DgwlTfK_JAv2FupZang6SPTUJccIW_Le8e8scOxiu1K4T6uMQG8-KoBJGog"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-verify-4096eb6d31b2/5aa0efb41f5644d6a25f11c7e16ad566/sign?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-4096eb6d31b2/5aa0efb41f5644d6a25f11c7e16ad566",
        "value": "syr7Mpx8kfr7pZZdpuHfC4c9gCot0k-IOqmt4K2HAmwyGGDNSRbqKwjWlczpDTOS3u_g4v1f4uO9XvkWxs8zIEUON3ikRQCbgm8MoT94H9Bd0-1WHdGOE5sNokfX49zgLKQyOlzc-2to--SrDEN8IdMiNEJ8iEvjz4l1lN_CZY0msUTxrn8lzEeB3frXzdme01vfOa6zrdUxam-Mn7OHyvkRYSutkJKdesp10qG1i_aP6Tsfj8r4XCBOLsPj2CG1ZAcnFnBTGK7d3Q4OPqq2QuGADDT91LwHPDvgITLueizp8E9pYOSmvTWu4zQqqYTC-MswffG0tJc-nCxo2cpREu3s29N5mQARk8G4UwGiej8R2jRa-p3XlKmqgCsIkt4K-bQPJkEC8VbIrfZXEn2LXb8fLHgjlTjT2EOkQxle0o1lDdrSI2opblRqNuvI20yYKMbEuOVWx5RB9pV4Yy82ByKoTUFM0t0jGzgtf0I0tcatqIUHz_d1xDrlHesgsuk2IETqVLkQaCc8vPGM_QIKGXx5-ldnR21__kI1bkbm7C0WoprA1bBVl7rWFo9H_lOwAAtOpycMZvHtHaY45nlsChct6S6D6MMg2OL4GCUjal07YcxjbdLN-L4nD44P-IS9qtmvJQupE2WxazGvRR9n9Iv7RUMObRXWXGEPAxEoz1Q"
      }
    }
  ],
  "Variables": {}
}
