{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestencrypt-local20573005/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "4"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestencrypt-local20573005/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 4096
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "246"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1691709497,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1691709497
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestencrypt-local20573005/4658ae6334644edcb47926fa2a01283d",
          "kty": "RSA-HSM",
          "n": "otlDtEQn4CvPVSSc-vI1oynaYK9sKZ5Mz872EcLH0EDTf49oX-_C3-TzRmLjnLOaQrGNXl8v2Sr0qylKDLTn85jwjJm9D0YSXcIlT0rs8s7mRqw5sMAgm43_OSQQ73ukCbUZT0Yr8xgBJe0bk-_qw5AH9yDms8FUpRU-LpY3NEPba4-lwp9TdCQgqIkiqdOTEN79-Wtu6rcblaomrblTnJG7xw-tXI1Ew0UXuwo_21uYXQxIBwpeGqL6lX4fUEg_1wpKYvITWcePwNgF85QdVI_38sKnQHiLmpYWvigCN5Et-Y49wquJT1gYx3Q9jLKUSpSFlKY5_i1cIFZwNkvTxYiAFjJFdHEvj_H6irliKIwhRtlwMFx4ulZUNFfRFMp5A_KY4d8-2jGhjP-Es4hGttUjRZ_wkEg-4ds0prgMxT4TAjxBBzeA8eePnK2UCLQAGbphE4GtAObrwaP_0Psvv8IZIpZVLChLbc37zzVDmh7jbfI5peARNtqNU4GZ-IPMebnOeE-lz4zCREeSE5g64d2E8KHZ_LA4ijRYR_Rc9uLwMudKw9Hra3_gE48jLL2k_hnl65zzzGuyKTxwMNWMeufDKnm1Gv6zTJbAHybZFDzapbGO4BUCmPQn3lQRyjlwxn2tc_0NGM9BVWl5_CmNxhWgqxhlbVp8aATpPVCu-2s"
        }
      }
    },
[...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestencrypt-local20573005/4658ae6334644edcb47926fa2a01283d/decrypt?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "iyi1LStNO3dnhiPSp_iOmSMkNMcKMVZGJ3MAngpVwpjkEhXhHTy4SL5CK3tljkie0r4IccJnrRmatbsHtUoW4RkDVEGLJA_6ADKVVJZbtP3rL_14UXMHEMlMBXoXE5kEOcDDIeYCeAS6x8ddC7DXoPiFd9NyNowkrJLLq-7LsN29aSp2V1KIE6MKHj1y_zoT2OFZQYQWX9Zz6OPmrXso-0oHZ2v67StzVEvSf2e2GP6LZ1Lh8N9rLvRpIBpzNH11VqfklxJRPJyR6IZoY9sx6R5hnzd7t_mKG7PUAxPm2hsl2hIeQt5AbmsSclvySckqSoT1xc-HYkV2Ws7h_RNlSN_3j23e7dMVaqbPERoMH7U78HJ5sfTCO9ZPXJnHO1lxuKXq9OHu1Gvq_2Bl0N7j1gFGwLm582YzTWGV3kXgumvWSik-3cadphPayeiIxi5-xck8MS5O8I4Cpcy89ukUKlb59wraswBGsyijZ3Hzgri8iScwWZhPXpUS-_qy-aXRVL7Ol7jKY5AvqHNunqzFXQMm6uOEYfoIZRWCdMIU428fIe-yagL6YpjEHUChv7FEgN9MP2RqlVDKL6rnWDkYnrOXkvqBwtAg80rBMgkjzUUmJz9pJme_EaCr_zyo4vvTfrVQqhmtqzHRVQs5tkL0g6flanhORx6KFTNDIznMngI"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "24"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP",
        "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestencrypt-local20573005/4658ae6334644edcb47926fa2a01283d",
        "value": "NTA2M2U2YWFhODQ1ZjE1MDIwMDU0Nzk0NGZkMTk5Njc5Yzk4ZWQ2Zjk5ZGEwYTBiMmRhZmVhZjFmNDY4NDQ5NmZkNTMyYzFjMjI5OTY4Y2I5ZGVlNDQ5NTdmY2VmN2NjZWY1OWNlZGEwYjM2MmU1NmJjZDc4ZmQzZmFlZTU3ODFjNjIzYzBiYjIyYjM1YmVhYmRlMDY2NGZkMzBlMGU4MjRhYmEzZGQxYjBhZmZmYzRhM2Q5NTVlZGUyMGNmNmE4NTRkNTJjZmQ"
      }
    },
[...]
