{
  "Entries": [
    {
      "RequestUri": "https://mcpatinokvhsm.managedhsm.azure.net/keys/livekvtestkeywrapc6cc335b/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://mcpatinokvhsm.managedhsm.azure.net/keys/livekvtestkeywrapc6cc335b/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "124"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1691701167,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1691701167
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://mcpatinokvhsm.managedhsm.azure.net/keys/livekvtestkeywrapc6cc335b/881f6df5c0e8011c35035b2ddd46a8ff",
          "kty": "RSA-HSM",
          "n": "p1U7s1klqyKRtxuf6qq5glpBVcm5foDKEnXOJ2QMn3JckC_Dd9ij06aNhf0f8oWtkf1fMECKxG9iKLcXrKGaJTy5Y-h__N50LIhtjgHXbxXxJQKuSXR6HwIUb5vaX-KNGCv2-vA9ks5qf5wq8at25VOVnLtS7aa53g1aRw1zaMP3rsNng9BoBZfdsT1wOet5_55-CWdRjz1a87ZyIGr5tMFZt8KWtczYf2PvS_tBAs2_JKwNOH9spisXdqpVfyX1r-xDmzXTw6Jv8eLI9nkUm4CHrHpLOBSpB20jvhS2bS87TdrQFy_vk0-wN15HOFRUhM63VQsgBJtHkAnl4JxQeQ"
        }
      }
    },
    {
      "RequestUri": "https://mcpatinokvhsm.managedhsm.azure.net/keys/livekvtestkeywrapc6cc335b/881f6df5c0e8011c35035b2ddd46a8ff?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230713-3-40221b92-1.0.20230706-3-4bcefe4d-develop",
        "x-ms-server-latency": "18"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1691701167,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1691701167
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://mcpatinokvhsm.managedhsm.azure.net/keys/livekvtestkeywrapc6cc335b/881f6df5c0e8011c35035b2ddd46a8ff",
          "kty": "RSA-HSM",
          "n": "p1U7s1klqyKRtxuf6qq5glpBVcm5foDKEnXOJ2QMn3JckC_Dd9ij06aNhf0f8oWtkf1fMECKxG9iKLcXrKGaJTy5Y-h__N50LIhtjgHXbxXxJQKuSXR6HwIUb5vaX-KNGCv2-vA9ks5qf5wq8at25VOVnLtS7aa53g1aRw1zaMP3rsNng9BoBZfdsT1wOet5_55-CWdRjz1a87ZyIGr5tMFZt8KWtczYf2PvS_tBAs2_JKwNOH9spisXdqpVfyX1r-xDmzXTw6Jv8eLI9nkUm4CHrHpLOBSpB20jvhS2bS87TdrQFy_vk0-wN15HOFRUhM63VQsgBJtHkAnl4JxQeQ"
        }
      }
    },
    {
      "RequestUri": "https://mcpatinokvhsm.managedhsm.azure.net/keys/livekvtestkeywrapc6cc335b/881f6df5c0e8011c35035b2ddd46a8ff/unwrapkey?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "Y8jlRRA-YFuoDhyykSrNXqKYemsb2UNDLHDfuQvF7BrW3p9HzpkR3kYYBrs4JNuQzXrNtJnlvPl8T7CxtP4pGKR1L2l-eRAcGJRVNUUGQ_ClNJZbq9r7QnJCSohhgHhiYu9lJdF_KdHFlXpIb4mYd8WI4J-t2dOnqHqPX_vMg5VhHqe5kanQSH-5vZDSfNm2AZxqsdl3zrrT2QfRPpuKMiwqIzTeXsUGKzIP44BcA_PUwiqJDjOjGjuCXlUWUAty604FkGXUSsr3vPUntGvH3L9trHoaLCA_iQzce6ZDMc5FnNBaSjVW4iPpSrM0xUIDhENp4iVxB-xT5juO2gvkuw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP",
        "kid": "https://mcpatinokvhsm.managedhsm.azure.net/keys/livekvtestkeywrapc6cc335b/881f6df5c0e8011c35035b2ddd46a8ff",
        "value": "NTA2M2U2YWFhODQ1ZjE1MDIwMDU0Nzk0NGZkMTk5Njc5Yzk4ZWQ2Zjk5ZGEwYTBiMmRhZmVhZjFmNDY4NDQ5NmZkNTMyYzFjMjI5OTY4Y2I5ZGVlNDQ5NTdmY2VmN2NjZWY1OWNlZGEwYjM2MmU1NmJjZDc4ZmQzZmFlZTU3ODFjNjIzYzBiYjIyYjM1YmVhYmRlMDY2NGZkMzBlMGU4MjRhYmEzZGQxYjBhZmZmYzRhM2Q5NTVlZGUyMGNmNmE4NTRkNTJjZmQ"
      }
    }
  ],
  "Variables": {}
}
