{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key17d83497/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key17d83497/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key17d83497/1e5816ff75a44c1593830ed286588edf",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "zYHnVPvK965RifDUDjhvLioe0SMP5KeNTH8C7BSKYa2xkSdzO5PNB_9qjJvO7WOJxXh6uhS0iqMpCKIgePvqFFEiqvVTFZxqV_BodnYkds6aHSfQ6ulbEPZns8AuzRmKdE71K9ZZzb9QIkTDfoGMNAeK0DLR36pmiqSuj7JWUWZkqt4_LNp8-GolTaqwbMIwZFl4VL2Wi-RA291AKIHWC-YkiFFNljNk5BHyM1FxfyakHjAnHxCmvN_n_kwiSY15GgiB77Q59vIvFJFyuoqXefNsX58NMJxLXplmVPaK7nBSponKLQaMi3qbGjzIHto2x4YYRDcZUj8yC5p8F-pJSQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1678160232,
          "updated": 1678160232,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key17d83497/?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key17d83497/1e5816ff75a44c1593830ed286588edf",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "zYHnVPvK965RifDUDjhvLioe0SMP5KeNTH8C7BSKYa2xkSdzO5PNB_9qjJvO7WOJxXh6uhS0iqMpCKIgePvqFFEiqvVTFZxqV_BodnYkds6aHSfQ6ulbEPZns8AuzRmKdE71K9ZZzb9QIkTDfoGMNAeK0DLR36pmiqSuj7JWUWZkqt4_LNp8-GolTaqwbMIwZFl4VL2Wi-RA291AKIHWC-YkiFFNljNk5BHyM1FxfyakHjAnHxCmvN_n_kwiSY15GgiB77Q59vIvFJFyuoqXefNsX58NMJxLXplmVPaK7nBSponKLQaMi3qbGjzIHto2x4YYRDcZUj8yC5p8F-pJSQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1678160232,
          "updated": 1678160232,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key17d83497/1e5816ff75a44c1593830ed286588edf/decrypt?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "pFkJGpRZlSp_fxNCUlMN1fZzaY41tSVEiJufpGyik_4G1K9TDadanyCLMY2Fh07Y8JhIbYuiUuRr4LbdE2DPeDMbe7qG67aoT0-EJK69bg_skqt8WUBKjICe3jYqH0HZ55GQ8sMUa8nSN3cQ2H7Eh5v4h1t08wLivTWmnC9ELSVpsup1Qvq_BEwTNBgF7pMpzTpIZUF5VcYr1VwUyuNtnTdG4qGlTKGYalqckPo7M3LzGqo6TtK-h4HRRwlXVD67hV9tm3SbaNxr6yTMC0HOEyTjV5zLljMTvF1fCKIWkvGAzvWvCTfkXBxkTC8gKCdYol_1hXHFTgPM4iiyqObAfw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key17d83497/1e5816ff75a44c1593830ed286588edf",
        "value": "cGxhaW50ZXh0"
      }
    }
  ],
  "Variables": {}
}
