{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey070962cc1/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey070962cc1/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey070962cc1/8352cb0e84bd4cfe8ff5947a8ec7799a",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wqpAzkbFPAh3vSLm_sX_3O9IOyPGfv2veCiMQen9zVsTfWDeTmr4y2rUC079D6Avo-falbwxqfxM16iw-pkh4zwm5tLYzVmzMpYDhjJDF1XMVBZJVoZkCFiTxejaVJPBePOSajfVm32HE1LPeppmRUaWf7aANRw7PQC-jBxxio9zqj3dSpUpgIyF_i5WzCGFNeSlKIo4iLhjNnpagYnwOGKu7FxsBgt9_FyYapb9uK6tsZnBn5ljIc-0LlIlZkIU7B4boSby9RCCS69gsshODamUXdL5KTS3h12yZHNFULc_NPgbhVE68ScrjTi689L5YOBDoXkrSfKoKGNPKcnq4Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1667330534,
          "updated": 1667330534,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey070962cc1?api-version=7.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey070962cc1",
        "deletedDate": 1667330547,
        "scheduledPurgeDate": 1667935347,
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey070962cc1/8352cb0e84bd4cfe8ff5947a8ec7799a",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wqpAzkbFPAh3vSLm_sX_3O9IOyPGfv2veCiMQen9zVsTfWDeTmr4y2rUC079D6Avo-falbwxqfxM16iw-pkh4zwm5tLYzVmzMpYDhjJDF1XMVBZJVoZkCFiTxejaVJPBePOSajfVm32HE1LPeppmRUaWf7aANRw7PQC-jBxxio9zqj3dSpUpgIyF_i5WzCGFNeSlKIo4iLhjNnpagYnwOGKu7FxsBgt9_FyYapb9uK6tsZnBn5ljIc-0LlIlZkIU7B4boSby9RCCS69gsshODamUXdL5KTS3h12yZHNFULc_NPgbhVE68ScrjTi689L5YOBDoXkrSfKoKGNPKcnq4Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1667330534,
          "updated": 1667330534,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey070962cc1?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: livekvtestkey070962cc1"
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedkeys?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey036102d27",
            "deletedDate": 1667329634,
            "scheduledPurgeDate": 1667934434,
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey036102d27",
            "attributes": {
              "enabled": true,
              "created": 1667329619,
              "updated": 1667329619,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              [...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedkeys?api-version=7.2\u0026$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey0e362bd7",
            "deleted[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedkeys?api-version=7.2\u0026$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey170962cc1",
            "deletedDate": 1667330550,
            "scheduledPurgeDate": 1667935350,
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey170962cc1",
            "attributes": {
              "enabled": true,
              "created": 1667330536,
              "updated": 1667330536,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "recoverableDays": 7
            }
          },
          {
            "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey170a52cc2",
            "deletedDate": 1667330476,
            "scheduledPurgeDate": 1667935276,
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey170a52cc2",
            "attributes": {
              "enabled": true,
              "created": 1667330460,
              "updated": 1667330460,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "recoverableDays": 7,
              "exportable": false
            }
          }
        ],
        "nextLink": "https://vaultname.vault.azure.net:443/deletedkeys?api-version=7.2\u0026$skiptoken=Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedkeys?api-version=7.2\u0026$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": null
      }
    }
  ],
  "Variables": {}
}
