{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey05342b6a/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey05342b6a/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey05342b6a/7e2eb8db2fb84bcf8212153cffc37b87",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "nZAxk1CPnSlx4U8nQ5lfMOw2f6KEUWhroMhv_7yP5MHKWCwKPpRTh3st8nvZuOx6JalS0BB0IyJawx_rWNEy463SHVUL-kpa-09OQv_ybkIe2hczJILLyA_e15ij1cPwQpxR43j07XzEmi7e9ir_lN8IQ_xT8RO2SPAt9PjTMEezn8p6GyR848L-hJL0vrfvPcMhW0ktM-rXKzolnvgCwCUN51ZYFxS8MWFQe7a4wvla8jdFZHDSDjCLHIbFab7ddjq-TC-xF0z1Bk4v0Z1VFyHWeSW88VXojB7-i4VDWICfw9NlfFzGV93D5D0YwKwLAw8xMs_qu3mzNO6WXljfmQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1741308256,
          "updated": 1741308256,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey05342b6a?api-version=7.6-preview.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey05342b6a",
        "deletedDate": 1741308269,
        "scheduledPurgeDate": 1741913069,
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey05342b6a/7e2eb8db2fb84bcf8212153cffc37b87",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "nZAxk1CPnSlx4U8nQ5lfMOw2f6KEUWhroMhv_7yP5MHKWCwKPpRTh3st8nvZuOx6JalS0BB0IyJawx_rWNEy463SHVUL-kpa-09OQv_ybkIe2hczJILLyA_e15ij1cPwQpxR43j07XzEmi7e9ir_lN8IQ_xT8RO2SPAt9PjTMEezn8p6GyR848L-hJL0vrfvPcMhW0ktM-rXKzolnvgCwCUN51ZYFxS8MWFQe7a4wvla8jdFZHDSDjCLHIbFab7ddjq-TC-xF0z1Bk4v0Z1VFyHWeSW88VXojB7-i4VDWICfw9NlfFzGV93D5D0YwKwLAw8xMs_qu3mzNO6WXljfmQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1741308256,
          "updated": 1741308256,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/livekvtestkey05342b6a?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: livekvtestkey05342b6a"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": "https://vaultname.vault.azure.net:443/deletedkeys?api-version=7.6-preview.2&$skiptoken=Sanitized"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys?api-version=7.6-preview.2&$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": "https://vaultname.vault.azure.net:443/deletedkeys?api-version=7.6-preview.2&$skiptoken=Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys?api-version=7.6-preview.2&$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-key415a3058",
            "deletedDate": 1741307953,
            "scheduledPurgeDate": 1741912753,
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-key415a3058",
            "attributes": {
              "enabled": true,
              "exp": 2524723200,
              "created": 1741307949,
              "updated": 1741307952,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false
            },
            "tags": {
              "foo": "updated tag"
            }
          },
          {
            "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-keyae7c3140",
            "deletedDate": 1741308130,
            "scheduledPurgeDate": 1741912930,
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyae7c3140",
            "attributes": {
              "enabled": true,
              "exp": 2524723200,
              "created": 1741308127,
              "updated": 1741308130,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false
            },
            "tags": {
              "foo": "updated tag"
            }
          }
        ],
        "nextLink": "https://vaultname.vault.azure.net:443/deletedkeys?api-version=7.6-preview.2&$skiptoken=Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys?api-version=7.6-preview.2&$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": null
      }
    }
  ],
  "Variables": {}
}
