{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256f75333b1/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256f75333b1/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256f75333b1/4b745ef536524c0f9f7c05211a693bf9",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "sbi1av8QCwLlpyrySwYgI5b4ytu19YqX6owNbhvO8cQ",
          "y": "QcetMyXcbA2MmQsQATB3ABM8VKjl0pk5sYbwetX_HZ4"
        },
        "attributes": {
          "enabled": true,
          "created": 1715137412,
          "updated": 1715137412,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256f75333b1/4b745ef536524c0f9f7c05211a693bf9/sign?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256f75333b1/4b745ef536524c0f9f7c05211a693bf9",
        "value": "yM_67mVbzSpabBFrtvi_mQ-Dhgso0O4EE3QJE6AHwjXFfWb3AHxdgamlbEuEvhL2_b9leGs_tF0GOMmKA00-ug"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256Kf75333b1/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kf75333b1/e6d68270f0364d6a9e1f91f4e704ea59",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "swlVWSsARxDBbFA3pqoVGxycJH0Ygxk6XLskH131qv8",
          "y": "90QOJ6mFQFlbdDBIttLj9WRVGaaj_ubHQJkYBzOohk0"
        },
        "attributes": {
          "enabled": true,
          "created": 1715137416,
          "updated": 1715137416,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256Kf75333b1/e6d68270f0364d6a9e1f91f4e704ea59/sign?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kf75333b1/e6d68270f0364d6a9e1f91f4e704ea59",
        "value": "DGiuRCnBYz4ATrY1SPi6RH2cPN9gX02WY-4b9zTKXfN7ZbJJrCys4sFtkTnWWNb3O4LBNPWMurfh9krrJxEt5Q"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-521f75333b1/0fba49159d4e4e87bb104c1f5a1c9e2e/sign?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-521f75333b1/0fba49159d4e4e87bb104c1f5a1c9e2e",
        "value": "ATCOdkDyPD2LwkGe-ZwyVRf_z2lsRN9ppDzzahDv4D4FhR3-7gv8HBgWURRoAaUXqNpOeZyTt9wTDR2dU18AMOkOAQUKxQX0EW0uupnlTUy05_rKilxMoXCVpGlR2G8Jbn9-p4_-g14JpuoTH5fmADOPiaomk4s5AUWMLiejMXtP0llH"
      }
    }
  ],
  "Variables": {}
}
