{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey05a9b2d98/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey05a9b2d98/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey05a9b2d98/42090f1630cc437c90461f8b381bce32",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uBrUdowIPGj96unnrYDqqMhRVdNFbNNG47bRZeEgfuU9Tp_VXccvgT0ePrrrWNnSWEMCFhXH3JBZWMVONWYKQYnYApWFXnJmSqzE8iGfUxItUUkngb8rbe-6rfgkjT1xFYKne4XZzsZPs7FiBEFCWQ1jysxnkL9nuREFituVxNgrHbMfyQFU7XJdWMB5R3oRwxCg0S3RRTB56Z7KNDh-9hLcsG96_Z3xq6ahsOdccupX1AD1e2hGNJ028tipMzNI4y_sUjwRuhI1Umq_E7d0QpYcoLOM56l4t6LO_wNax-Vc1pMnC8z8xQBSewZTRp7F7smaZ7AWqLZFmirOlD-KsQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779468727,
          "updated": 1779468727,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys?api-version=2026-03-01-preview&maxresults=6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-ec-key1e1b3145",
            "attributes": {
              "enabled": true,
              "created": 1779468528,
              "updated": 1779468528,
              "recoveryLevel": "Recoverable+Purgeable",
              "recoverableDays": 90,
              "exportable": false,
              "hsmPlatform": "0"
            },
            "tags": {
              "purpose": "unit test",
              "test name": "CreateECKeyTest"
            }
          },
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-ec-key8fc5322d",
            "attributes": {
              "enabled": true,
              "created": 1779468694,
              "updated": 1779468694,
              "recoveryLevel": "Recoverable+Purgeable",
              "recoverableDays": 90,
              "exportable": false,
              "hsmPlatform": "0"
            },
  [...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys?api-version=2026-03-01-preview&$skiptoken=Sanitized&maxresults=6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-25688fd35e0",
      [...]
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys?api-version=2026-03-01-preview&$skiptoken=Sanitized&maxresults=6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-valid9fdf39a3",
            "attributes": {
              "enabled": true,
              "key_size": 2048,
              "nbf": 32503680000,
              "exp": 32535216000,
              "created": 1779407918,
              "updated": 1779407918,
              "recoveryLevel": "Recoverable+Purgeable",
              "recoverableDays": 90,
              "exportable": false,
              "hsmPlatform": "0"
            }
          },
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048211a351d",
            "attributes": {
              "enabled": true,
              "key_size": 2048,
              "created": 1[...]
[...]
