{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256ee8b376e/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256ee8b376e/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256ee8b376e/b63646a0f4ae460da206586e9b86b152",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "LrmWcxwVGiBrkqRm34Iwj4s8wpa2QUsZmoLbaoGEKuk",
          "y": "x7zz9K9hrvr-pglGyeqAeGEvlIKPgIagzc2lnBZUCKQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1691709773,
          "updated": 1691709773,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256ee8b376e/b63646a0f4ae460da206586e9b86b152/sign?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256ee8b376e/b63646a0f4ae460da206586e9b86b152",
        "value": "zwnmzkWNIpn4tzJ_XcnIW1E-Ini_u56TUtCpQ2cxfPT25lSmjDQ9dfnBclFFiIxxvVsWPILhxSMVslqpLfdQnA"
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kee8b376e/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kee8b376e/15a02adc3293472e99278fd06cf3d4b5",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "x17x15tQuSt4Wau56RC3icHcrYsnrZjdF1x5WAFSzn0",
          "y": "DHGjKFbmosS6iO_0bIE13TARQdLcoNgleyKG0Jv4XUQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1691709776,
          "updated": 1691709776,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kee8b376e/15a02adc3293472e99278fd06cf3d4b5/sign?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kee8b376e/15a02adc3293472e99278fd06cf3d4b5",
        "value": "r5QUGhS68PEk1i86u3oi-fXa1yAkCQp1qRxMlLZxVIV5DGM8bTLEBed6WlG1__H43QAtwN50p-SNPbVhiaczGg"
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-521ee8b376e/c7b55f18f413416db0918eba82ecb5e4/sign?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-521ee8b376e/c7b55f18f413416db0918eba82ecb5e4",
        "value": "ASvKo-qX4PKB_GxQSjM_TLRkKK8_iTWVflhdb8Ix4RaTJBTPJ7IO4ISHJ5AXbCrJpRe6C9g_DwfAvVoUc_mlAZrdAZ_a6OXlwoIwQwsVXJGwayaGpcQdfryfj2zyeoijtTxjLPkwV1gyDqo8B0NzaCwcq32Cq6U7VQkxDM0gp77gkQ1a"
      }
    }
  ],
  "Variables": {}
}
