{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestcrud-ec-keyae6d313f/create?api-version=sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Sanitized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestcrud-ec-keyae6d313f/create?api-version=sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "attributes": {
          "enabled": true
        },
        "tags": {
          "purpose": "unit test",
          "test name": "CreateECKeyTest"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-ec-keyae6d313f/451e3fab11ee485988d474e6eccb29ec",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "iZ8FaPL_efh7KLwNAd5fMGWTfUN0K9CK10PLKIHVqFw",
          "y": "EySbTtmeDPfa_kNyqzEEQrJ06lYPmn7y_oMeU8QoHt4"
        },
        "attributes": {
          "enabled": true,
          "created": 1714537230,
          "updated": 1714537230,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        },
        "tags": {
          "purpose": "unit test",
          "test name": "CreateECKeyTest"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestcrud-P-256-ec-keyae6d313f/create?api-version=sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-P-256-ec-keyae6d313f/74266cd931e3496f92b684f8c1deb901",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "TND8WgpI3HFNVLf-jBjZmybPWh3nn_n1LxIVvW97JJc",
          "y": "pMqPQ_5oj0tgkUnh7hPY_NncZipf1zjKxgRl_uHFReE"
        },
        "attributes": {
          "enabled": true,
          "created": 1714537232,
          "updated": 1714537232,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestimport-test-keyae6d313f?api-version=sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "AKCRTQAjSsaDshtMFdW-2Ie9yVnC5Xr1Suc06PAHINd10nXkVSB-N4TO62ClCkZV3XKnqU0nHo7o95WaZpym53W_DiO62umRtFKdl4UotL2QUh0y3SZWeWuoK2u_x2aMj17rUFN0f9GZMZ0pqEQNCPRBLVJ_-TEe2nGCWSC0exxGsRqz6R1zFkB-icfzQPe4WjQELOUXQ7J9RxhAPTTHtDivYYG-BeTRHrmF04JT1_6b9T_C8bAC0i0teT-nmlBLarQtBJKATXBx1yegbPOoiTqlQrFQP4MrKWNxtnB9Tcbjcvj-Z9je0ckI_eRc4DvAhqcUh_p15Dqg4GeaoNIO_jU",
          "e": "AQAB",
          "d": "Ynx9JGaBSP4iUsf6ZJ6opantRNdcdmzaQrKbZg6ZQE8Ohi1FYabJWvaoPSE-CiJEsDzShXZHMhUHN4X7Bn8BXaGQhK3p9HXgiwQKmix7oAJTu4ElUIyd8UC3UWHSZr40el4PaQD-HYu_eMzCXus34MnRiNbh_BUWm6T-Eidhk9d3kNIyaSi9YNDQHW6tjWrEhhq63O7JU1j9ZonFChZxpKk20jdkQKQURVAdpOdL-5j4I70ZxFuU6wHZj8DS8oRQfwGOvZKbgYDb5jgf3UNL_7eACqq92XPVX56vm7iKbqeyjCqAIx5y3hrSRIJtZlWCwjYnYQGd4unxDLi8wmJWSQ",
          "dp": "AMmhWb5yZcu6vJr8xJZ-t0_likxJRUMZAtEULaWZt2DgODj4y9JrZDJP6mvckzhQP0WXk2NuWbU2HR5pUeCN2wieG1B76VKoH76vfnaJDqT1NuJVBcP2SLHog3ffwZtMME5zjfygchG3kihqOSpwTQ9ETAqAJTkRC38fEhwAz_Cp",
          "dq": "AKC9TAo9n2RDaggjdLXK8kiLrBVoaWFTpqXkzYXRhtsx4vWPAkxhfSnze05rVMl6HiXv7FnE0f0wYawzUJzoyuXBH0zS6D9BqCZPeF543AmWB27iPf38Q9Z8Rjr6oBgMSnGDV_mm8nDVQkeaDyE4cOZh-5UKvKShTKKQVwunmDNH",
          "qi": "AJ_nrkLpK8BPzVeARkvSHQyKwMWZ-a8CD95qsKfn0dOZAvXY-2xhQYTEwbED-0bpTNEKbIpA-ZkaHygmnzJkNbbFAnb9pkkzU8ZQqDP3JNgMfVIroWx58Oth9nJza2j7i-MkPRCUPEq3Ao0J52z7WJIiLji8TTVYW_NaiM1oxzsH",
          "p": "ANHerI1o3dLB_VLVmZZVss8VZSYN5SaeQ_0qhfOSgOFwj__waCFmy2EG7l6l6f_Z-Y0L7Mn_LNov68lyWSFa2EuQUeVj4UoFHc5Di8ZUGiSsTwFM-XMtNuv8HmGgDYLL5BIJD3eTz71LdgW-Ez38OZH34b7VeG8zfeUDb8Hi30zz",
          "q": "AMPcZrZBqbc82DO8Q5zTT8ZXRGWrW36KktMllaIk1W2RHnRiQiW0jBWmcCgqUcQNHa1LwumjyNqwx28QBS37BTvG7ULGUoio6LrOeoiBGEMj-U19sX6m[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyae6d313f/create?api-version=sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048,
        "key_ops": [
          "encrypt",
          "decrypt",
          "sign",
          "verify",
          "wrapKey",
          "unwrapKey"
        ],
        "tags": {
          "purpose": "unit test",
          "test name ": "CreateRSAKeyTest"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvt[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyae6d313f/dc6b0bf5ee344d7d8b64784b0f570589?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyae6d313f/dc[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyae6d313f/?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyae6d313f/dc6b0bf5ee344d7d8b64784b0f570589",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wUz8B7_vA8osscjwNyAWfLf_DFHzPITDklVmjxwC-YLHAFBhdjYXwrYztc0q4Ia8Cik7gn5cCyKeiaEbKlO10FTNykGgWERo866V4t9qxmo7t7EZInWegd3FCJdPKL-b2o1XwMtCK6w45lIs_ltW9_RRZsB3kQS9nqKbV2POWrn8JJrDRWRZPPeTgfybfJuhe0JLT2RUclGLeOPAKM5kDW9f2Z8WV3fEAx7mi5Zw7FLBtbPTuOVkPXfYxXNax3kS4aAXvzTmZjoLlSipGXsyfHQdIHG7bTfXuXbf6BJBgsicG7PYnN-AcidP5h4Bhktr2A36yar3RaR-IlntDjt5rQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1714537234,
          "updated": 1714537234,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        },
        "tags": {
          "purpose": "unit test",
          "test name ": "CreateRSAKeyTest"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyae6d313f/?api-version=7.6-preview.1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key_ops": [
          "decrypt",
          "encrypt"
        ],
        "attributes": {
          "exp": 2524723200
        },
        "tags": {
          "foo": "updated tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyae6d313f/dc6b0bf5ee344d7d8b64784b0f570589",
          "kty": "RSA",
          "key_ops": [
            "decrypt",
            "encrypt"
          ],
          "n": "wUz8B7_vA8osscjwNyAWfLf_DFHzPITDklVmjxwC-YLHAFBhdjYXwrYztc0q4Ia8Cik7gn5cCyKeiaEbKlO10FTNykGgWERo866V4t9qxmo7t7EZInWegd3FCJdPKL-b2o1XwMtCK6w45lIs_ltW9_RRZsB3kQS9nqKbV2POWrn8JJrDRWRZPPeTgfybfJuhe0JLT2RUclGLeOPAKM5kDW9f2Z8WV3fEAx7mi5Zw7FLBtbPTuOVkPXfYxXNax3kS4aAXvzTmZjoLlSipGXsyfHQdIHG7bTfXuXbf6BJBgsicG7PYnN-AcidP5h4Bhktr2A36yar3RaR-IlntDjt5rQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "exp": 2524723200,
          "created": 1714537234,
          "updated": 1714537237,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        },
        "tags": {
          "foo": "updated tag"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyae6d313f?api-version=sanitized",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-keyae6d313f",
        "deletedDate": 1714537237,
        "scheduledPurgeDate": 1715142037,
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyae6d313f/dc6b0bf5ee344d7d8b64784b0f570589",
          "kty": "RSA",
          "key_ops": [
            "decrypt",
            "encrypt"
          ],
          "n": "wUz8B7_vA8osscjwNyAWfLf_DFHzPITDklVmjxwC-YLHAFBhdjYXwrYztc0q4Ia8Cik7gn5cCyKeiaEbKlO10FTNykGgWERo866V4t9qxmo7t7EZInWegd3FCJdPKL-b2o1XwMtCK6w45lIs_ltW9_RRZsB3kQS9nqKbV2POWrn8JJrDRWRZPPeTgfybfJuhe0JLT2RUclGLeOPAKM5kDW9f2Z8WV3fEAx7mi5Zw7FLBtbPTuOVkPXfYxXNax3kS4aAXvzTmZjoLlSipGXsyfHQdIHG7bTfXuXbf6BJBgsicG7PYnN-AcidP5h4Bhktr2A36yar3RaR-IlntDjt5rQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "exp": 2524723200,
          "created": 1714537234,
          "updated": 1714537237,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        },
        "tags": {
          "foo": "updated tag"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-keyae6d313f?api-version=sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: livekvtestcrud-rsa-keyae6d313f"
        }
      }
    },
[...]
