{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestkey-namec19a327c/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestkey-namec19a327c/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "82"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1782496810,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1782496810
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey-namec19a327c/a6cf97239732019bb284c55ebdce9e45",
          "kty": "RSA-HSM",
          "n": "nkIQluJkriqgFac0qF9sHj0Q7YE2DAniwfQ0T9vy1IqKRcMr5ACBq-OqNRdQFIhg_MW9VGK3ffbIxxNW1E6qvRDkDoRK8TzEIkdS2__p2xyT3y_eDAfQGF5FQ8f3yc6My5jo4IIcOgTKO_xvsBLLekW0cKBqjSJNEGBOl7kjPIw0WOh2K41iqlQkx8SJte5F0k28v7D4fx0r2j5tIlUQc1tkFxKDxuWfBawUC_rAGTxpxxQtEe3Svkxg6MI5DY90EXzvArouL6LEkXgj-SqBfBHy91dXNXuljfBeSpP4DHee6usgZ1_yEXX4OUxm7l8MFOu-83AsTvr4CA0X1UX9ew"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestkey-namec19a327c/a6cf97239732019bb284c55ebdce9e45?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260505-1-b95d5630-develop",
        "x-ms-server-latency": "6"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1782496810,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1782496810
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey-namec19a327c/a6cf97239732019bb284c55ebdce9e45",
          "kty": "RSA-HSM",
          "n": "nkIQluJkriqgFac0qF9sHj0Q7YE2DAniwfQ0T9vy1IqKRcMr5ACBq-OqNRdQFIhg_MW9VGK3ffbIxxNW1E6qvRDkDoRK8TzEIkdS2__p2xyT3y_eDAfQGF5FQ8f3yc6My5jo4IIcOgTKO_xvsBLLekW0cKBqjSJNEGBOl7kjPIw0WOh2K41iqlQkx8SJte5F0k28v7D4fx0r2j5tIlUQc1tkFxKDxuWfBawUC_rAGTxpxxQtEe3Svkxg6MI5DY90EXzvArouL6LEkXgj-SqBfBHy91dXNXuljfBeSpP4DHee6usgZ1_yEXX4OUxm7l8MFOu-83AsTvr4CA0X1UX9ew"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestkey-namec19a327c/a6cf97239732019bb284c55ebdce9e45/encrypt?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "cGxhaW50ZXh0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP",
        "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey-namec19a327c/a6cf97239732019bb284c55ebdce9e45",
        "value": "iNETzZ5N7oaluC1_npGrWVFgEnCXcsO8gB6YbAC294N41E9F9TRpTmZkrljd5WPSm5FbR92ytQepbFXO-8crld_gEWge6pG8iGzk2VkriDGuj[...]
