{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestencrypt-local524c307d/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestencrypt-local524c307d/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 4096
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestencrypt-local524c307d/d2dbfd60b6cf44cbb3bedbbf8cebc128",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4hbL41rQw1EGG-TE8WDn1qLB0E-jPP82boiEKR2nWGnhv61jz8kqVD7q1mAYb2BsbxMr65EQLAC43idMiL3FJ-Sj9zjq7mLSQ_Y3NDF40P0JjOcfX9rMXpyBY0fhNsPWdnzpCqlEU5YNtR02fmnHlAC5-ehRXXZLGorAm42SimOn7wOlp0BT6qp9mldgMRaRElKE8qfQ2dNHs2cx2nwWN_zNNkK-NUnJ8dz29KsE_fYjYY6Tt8Nvpw-Jz7K-NqYN71HOashPcR2V2WN8iiBufvIuyMAmGi3cQQ7q9gTxfC83BUxbZq_mmhGN3xkB-JbAUlyvzc3pUZteOF0QWn_gTchUMfxuEnS-QHUkGx976eYuOxZua8noL2QnEcezfwhHGpqzrT0KnIeyrSGfvtK0FTSBXym3-vjNTVISLzN8tkJexYcg-RTwsqL8xBN8iuAxxPu2QlormbZXiqlgQ-XWtXDt20gH_76iFJrj9KE57I1F7laTWo_Xy2uaBudrIk6Xv_uNcc_Yc1dkFxspwAxD57lpoPuxCP3GZoGd5mS0yVmScqGu2cVvtYQVCmQeBiNmC6iR-WuYPkrH1B6NUS_c_CA374DcTg8ejG8gmKh1oFZepDwhyz8U_UF6Uw1HgssL2r_E-XY_H7kyVSS1Qp0zOnmLh2dp7wkpE8oX_olWXpk",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1715136946,
          "updated": 1715136946,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestencrypt-local524c307d/d2dbfd60b6cf44cbb3bedbbf8cebc128/decrypt?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "hTne3aSz9XIn3A6tKXDeD-J4ois4V6xb1rB26aJdIpwBnaCjaM4gOEbcXnZL1XJBUUNhJBVCXq2UbukSy7YU9ozmJhHuIzhv31YPEgfcanWkx9stz92tcRSSZ9-T68eXb0IFgyI2_OszQyXpKaPy8TayHnkx26eHQ63KR2xh3n_wRqotPVtVj2x-N2BSp8TgRTPD1lEsKsqiF16DPvpKLQ1yQXs4UpCclXGeYhZ-Ev_OV8q6YeEfRsIeXzRWHwhqhgMAkKyS5sSpoC5wjP3FEY0oT3-msipKMl9PPaRx77Tsb_ZIMVQN3Er3UWTZux8hX1MGbdsb1OpPi70_taP18ekXNSveH-_aQayE3OYuqfCHpHvQWg0771D2W45qPpaOmCN_ObWGaB0b8JGBAxn7SF53qGRpzfjlDtatqCFn1R5z7zqFo8b4Vjy6ppPWqfsdmyehbCkBzt_9DJ7y5xK-Q6gru_Wpn478T-8nvG7jTESpmC_24pFfrHrFePtFcDkmorgkpm7Ah0EOQKcWzZs3vc7RJUaOqMPm64gK-oX51Ni8tg_xRD9RM2tL9Wa9y9Zf26CAH26BtoueCrdsa0kyd0xL1dGe29TpSzDJmkt-LRTqNkvyp0dVdqXdbTdWBGztipucVJlYbOmx-lxYaYiUqFIjaaAa8Vdwx9FdYUyj-IY"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestencrypt-local524c307d/d2dbfd60b6cf44cbb3bedbbf8cebc128",
        "value": "NTA2M2U2YWFhODQ1ZjE1MDIwMDU0Nzk0NGZkMTk5Njc5Yzk4ZWQ2Zjk5ZGEwYTBiMmRhZmVhZjFmNDY4NDQ5NmZkNTMyYzFjMjI5OTY4Y2I5ZGVlNDQ5NTdmY2VmN2NjZWY1OWNlZGEwYjM2MmU1NmJjZDc4ZmQzZmFlZTU3ODFjNjIzYzBiYjIyYjM1YmVhYmRlMDY2NGZkMzBlMGU4MjRhYmEzZGQxYjBhZmZmYzRhM2Q5NTVlZGUyMGNmNmE4NTRkNTJjZmQ"
      }
    },
[...]
