{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey0d8352af1/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "5"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey0d8352af1/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "443"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1691710373,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1691710373
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey0d8352af1/a0819c5ca08c4eea315701337ec76789",
          "kty": "RSA-HSM",
          "n": "uU4-pA6Zg7hjQUUq2YzCfMnhZdirCm--9nEON6Gvqq3k1VoZSa4LTe6qf9uwmKWOqRDJPolGa7GGJJ5KJHKh9hfu1_gBE8ApzO4E_cgJzPbbmF-jYdKF3e2YkwPW4osG6MLgEI495zMaqHtDa7r1kPSrp-AjRlpNrjUctBt2Oy9lJxAgJ0L-McWFEXKb1DiYjxohWKned53OSELYFAElihCMFq9QAoa2vqrah28xM1lBnmLUJ-3BOS9KUSdLnU9JxHpLyijCY5yR73poiv-ER48vcGo7dmAR6x1MVPxxmGt0TuAntIylx1CszGNNm5bjVMBRxPLWt3U6_UEx9O3WQw"
        }
      }
    },
[...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey0d8352af1?api-version=7.5-preview.1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "48"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1691710373,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1691710373
        },
        "deletedDate": 1691710387,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey0d8352af1/a0819c5ca08c4eea315701337ec76789",
          "kty": "RSA-HSM",
          "n": "uU4-pA6Zg7hjQUUq2YzCfMnhZdirCm--9nEON6Gvqq3k1VoZSa4LTe6qf9uwmKWOqRDJPolGa7GGJJ5KJHKh9hfu1_gBE8ApzO4E_cgJzPbbmF-jYdKF3e2YkwPW4osG6MLgEI495zMaqHtDa7r1kPSrp-AjRlpNrjUctBt2Oy9lJxAgJ0L-McWFEXKb1DiYjxohWKned53OSELYFAElihCMFq9QAoa2vqrah28xM1lBnmLUJ-3BOS9KUSdLnU9JxHpLyijCY5yR73poiv-ER48vcGo7dmAR6x1MVPxxmGt0TuAntIylx1CszGNNm5bjVMBRxPLWt3U6_UEx9O3WQw"
        },
        "recoveryId": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey0d8352af1",
        "scheduledPurgeDate": 1692315187
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey0d8352af1?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230713-3-40221b92-1.0.20230706-3-4bcefe4d-develop",
        "x-ms-server-latency": "15"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1691710373,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1691710373
        },
        "deletedDate": 1691710387,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt",
            "wrapKey"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey0d8352af1/a0819c5ca08c4eea315701337ec76789",
          "kty": "RSA-HSM",
          "n": "uU4-pA6Zg7hjQUUq2YzCfMnhZdirCm--9nEON6Gvqq3k1VoZSa4LTe6qf9uwmKWOqRDJPolGa7GGJJ5KJHKh9hfu1_gBE8ApzO4E_cgJzPbbmF-jYdKF3e2YkwPW4osG6MLgEI495zMaqHtDa7r1kPSrp-AjRlpNrjUctBt2Oy9lJxAgJ0L-McWFEXKb1DiYjxohWKned53OSELYFAElihCMFq9QAoa2vqrah28xM1lBnmLUJ-3BOS9KUSdLnU9JxHpLyijCY5yR73poiv-ER48vcGo7dmAR6x1MVPxxmGt0TuAntIylx1CszGNNm5bjVMBRxPLWt3U6_UEx9O3WQw"
        },
        "recoveryId": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey0d8352af1",
        "scheduledPurgeDate": 1692315187
      }
    },
[...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey0d8352af1?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230713-3-40221b92-1.0.20230706-3-4bcefe4d-develop",
        "x-ms-server-latency": "14"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Key not found: https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey0d8352af1 (Activity ID: 44275b86-37d6-11ee-8f16-000d3a602e9a)"
        }
      }
    },
[...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230713-3-40221b92-1.0.20230706-3-4bcefe4d-develop",
        "x-ms-server-latency": "49"
      },
      "ResponseBody": {
        "nextLink": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys?maxresults=25\u0026$skiptoken=eyJ2YWx1ZSI6Ilt7XCJ0b2tlblwiOlwiK1JJRDp-TFBsQkFLNVZyc3hFQXdBQUFBQUFBQT09I1JUOjEjVFJDOjEwI0lTVjoyI0lFTzo2NTU2NyNRQ0Y6OFwiLFwicmFuZ2VcIjp7XCJtaW5cIjpcIlwiLFwibWF4XCI6XCJGRlwifX1dIiwidmVyc2lvbiI6Mn0",
        "value": [
          {
            "attributes": {
              "created": 1691709812,
              "enabled": true,
              "exp": 2524723200,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "updated": 1691709815
            },
            "deletedDate": 1691709815,
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestcrud-rsa-keyf7c2fdf",
            "recoveryId": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestcrud-rsa-keyf7c2fdf",
            "scheduledPurgeDate": 1692314615,
            "tags": {
              "foo": "updated tag"
            }
          },
          {
            "attributes": {
              "created": 1691709925,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "updated": 1691709925
            },
            "deletedDate": 1691709939,
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey0a8ec2ef3",
            "recove[...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys?maxresults=25\u0026$skiptoken=eyJ2YWx1ZSI6Ilt7XCJ0b2tlblwiOlwiK1JJRDp-TFBsQkFLNVZyc3hFQXdBQUFBQUFBQT09I1JUOjEjVFJDOjEwI0lTVjoyI0lFTzo2NTU2NyNRQ0Y6OFwiLFwicmFuZ2VcIjp7XCJtaW5cIjpcIlwiLFwibWF4XCI6XCJGRlwifX1dIiwidmVyc2lvbiI6Mn0\u0026api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "[...]
