{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-key-namee3f72b50/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-key-namee3f72b50/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "267"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1678160856,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1678160856
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-key-namee3f72b50/2d42d7eb8ae404a91ca4c6bfa87a7cd2",
          "kty": "RSA-HSM",
          "n": "ir_Ui8Z5FwIgtf7y-y4w5T-gmg0xjAuX69gvOqIlNf0DLA91dIdB2I1s5sHhGPYOiWlH8uTx5pTOKSxyVEdRYXT5haHcVXt-a7jwqCdA7HrVuFd-eLmXcdDxkDlqu6eeLl5HzPoBbVTtPqV7m4AUVs_KYi4kQ-64edWb7FWfdOoQ-Fe6fkNnsjNo_O1ZjdhgJCDodJAYocXR9FdKeXI4Imh8Yy2BMozRh7LRPtRgLuL08eKbDMdELc7NZruLhVXNkcXgX3SyETK263P6IgR-r0Pz3XyIunhkTIOm0YYVY8sXEcSz6DlecVyzxyik4luXSzArHOGrdvwIO7_e10F2RQ"
        }
      }
    }
  ],
  "Variables": {}
}
