{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-not-yet-valid3a8034b0/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-not-yet-valid3a8034b0/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "attributes": {
          "nbf": 32503680000
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "81"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1748906213,
          "enabled": true,
          "exportable": false,
          "nbf": 32503680000,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1748906213
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-not-yet-valid3a8034b0/833bb732491a01ab1bd37b5652781298",
          "kty": "RSA-HSM",
          "n": "oI7UFql0xjUDRwpPHxNUwtaPI6fsGAjNe94vKxZny_MDLa4BrgkuPWlpToJ8JyaNY1g3Yvax1WmUcF_iDuBaAQMYWD25Oc4-ey3Saw1vuZyjozJEdTj-Mnl8a28gIV5jTrwXmX2ZViTb1KCovmnrr0hGd9F9T7o6hbZUK7IWjDhh51cAuFu9jpQr3YraG15A58ssIVMwsrRVGy7ykjUpED72_sbnCLnCV0jbSzRHJaC7_lnuP4X0eYu3tutJAKV6vmlu3oWec1QAODDPWJzi6P3A3rcrw8yv3gutDNAE3TUnEgtaaGWhGk4S0BsRCgzVpUdvkS3jVMS9zkMS82VdSQ"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-expired3a8034b0/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "attributes": {
          "exp": 946684800
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "554"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1748906215,
          "enabled": true,
          "exp": 946684800,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1748906215
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-expired3a8034b0/b03be417d1bb08a62a69d59a8fde678b",
          "kty": "RSA-HSM",
          "n": "4iTZO1WqFRZG7YNTadAQA9p2awjXlijXzsCe7a0d9T2TYi2KuT-TN8KNAi-woOoADgvOx7E9p207UzrLjdTnvc1Wt44oe2jO-8evcEIxMmCpk7I4PuENo-vGW9IxjenIHjvDkPE5RiZhCYcmE126iHhmadCb_t25pldCgdyFH8MeCCd6eJcgsi_ZLS4rAW9LUehC8iJzW3XIhFlKHl5SI1uYQvPkxGTeqqcSj9uqDqe1m_fwaVsi9-PQKoiMtQxDZy3JpVwnvRSY3av9dwocHuMZDJQ0VQXhQqc6KsDTdO91kGzw6Mthlurn0jhk54DMjDqP-zBhOx-_fF37eYPfrw"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-valid3a8034b0/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "attributes": {
          "nbf": 32503680000,
          "exp": 32535216000
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
     [...]
