{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey070a52cc2/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey070a52cc2/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey070a52cc2/248255967ff648438dcc9c5ad8f77311",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "xZwcRnEs5abzzUkAYFXPp97Y0cbkCx10isGvJNVGYCYdhT72cKOdhKTSFVwmAerjGTeD66PNwELiav5RVgpBBZ69hrhIvivFSAJ-Ae0C6Y8kleSeRxUsjDG4IeL0zWDGQy0DixV3tfsT6U4NVIOQlIAoEECa8Rl-RjY8Hu5RZL0by7lbTyV7Dk7WTrse-Qgys1mye_O-x6V85leZWezu9XwaGZGqQBxz3EvhPwdTNZq65-AtwseiZHpN_OxsHxbNc1PiK5t8ehzB-dACiOFEPoCZ8xQO8enfRzZa3hom2Gpx95lIHR4b2f8UGqtJdsY6oJrZHe-o5iZ_vLPI1hxJ2Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1667330458,
          "updated": 1667330458,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey070a52cc2?api-version=7.3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey070a52cc2",
        "deletedDate": 1667330471,
        "scheduledPurgeDate": 1667935271,
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey070a52cc2/248255967ff648438dcc9c5ad8f77311",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "xZwcRnEs5abzzUkAYFXPp97Y0cbkCx10isGvJNVGYCYdhT72cKOdhKTSFVwmAerjGTeD66PNwELiav5RVgpBBZ69hrhIvivFSAJ-Ae0C6Y8kleSeRxUsjDG4IeL0zWDGQy0DixV3tfsT6U4NVIOQlIAoEECa8Rl-RjY8Hu5RZL0by7lbTyV7Dk7WTrse-Qgys1mye_O-x6V85leZWezu9XwaGZGqQBxz3EvhPwdTNZq65-AtwseiZHpN_OxsHxbNc1PiK5t8ehzB-dACiOFEPoCZ8xQO8enfRzZa3hom2Gpx95lIHR4b2f8UGqtJdsY6oJrZHe-o5iZ_vLPI1hxJ2Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1667330458,
          "updated": 1667330458,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey070a52cc2?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: livekvtestkey070a52cc2"
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedkeys?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey036102d27",
            "deletedDate": 1667329634,
            "scheduledPurgeDate": 1667934434,
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey036102d27",
            "attributes": {
              "enabled": true,
              "created": 1667329619,
              "updated": 1667329619,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "recoverableDays": 7
            }
          },
          {
            "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey070a52cc2",
            "deletedDate": 1667330471,
            "scheduledPurgeDate": 1667935271,
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey070a52cc2",
            "attributes": {
              "enabled": true,
              "created": 1667330458,
              "updated": 1667330458,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "recoverableDays": 7,
              "exportable": false
            }
          }
        ],
        "nextLink": "https://vaultname.vault.azure.net:443/deletedkeys?api-version=7.3\u0026$skiptoken=Sanitized"
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedkeys?api-version=7.3\u0026$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey0e362bd7",
            "deleted[...]
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedkeys?api-version=7.3\u0026$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": null
      }
    }
  ],
  "Variables": {}
}
