{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-verify-20482f5b38d9/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-verify-20482f5b38d9/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-20482f5b38d9/f7b219e9a902449bb62a4a445cae272c",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "3es6oLDTgCHZumA1NHR_E_prcX-l7vHQ_YnqNvWU5Ziahyybn6hPcahKHgyaY31hpAuhMx9ADeZmxjkrtHVPgHrPjxHch5__HzI8VpouQainx7PfdzfA_oEE38s-oFm0D9E7VmIbnoZZzLtxf561fMOB00-8bO-tSBsxgLzxoUAxSncxtxwWn5EgubcKx385UAQKcrTADrNhdE0FqBCJ-8zgIusjP04a7poDgOtt5Q2URV6K6RTpts3AJo-Rl0qkE0pHmwMyigpDwINovNRaWBgufRYM_TxAvVsvOfWBHIZznVNQColVWVwDfOwVG6y4OLK99AyR0VhtPgXQRgnKoQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1782496323,
          "updated": 1782496323,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-verify-20482f5b38d9/f7b219e9a902449bb62a4a445cae272c/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-20482f5b38d9/f7b219e9a902449bb62a4a445cae272c",
        "value": "RrdeEm60mxLHWGawX2BvccaYmj0pt4iGctMg4DK9SUyNp2t7fEIhQzCo8BlQXu63zdr4ZMxkD6Rh3U2-l15IQBx-MUnfttuyq4Dli47RGWhVfQPcjHMU433HL3W7tl2kySay8DAeddvGaxek0H6bg6LQ[...]
