{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-verify-2048b869313c/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-verify-2048b869313c/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "128"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1741740914,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1741740914
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-verify-2048b869313c/8cdb28521bc942f0aa4ae70483d33bcb",
          "kty": "RSA-HSM",
          "n": "hKwnn2r13mAnl5b7cFf4qyEYySK8IT8Rzvbnf80OVpWn0lBgITmV4nWTgeerzgWlKMw4cFutN7KF-gxNQdkuHvgYSmoSLeA6jIH5C6XmUPT-KxvRH7S6_R9hM8j81vIfKmmGPXhbnz9UcQkRo_MC0lHV9s7_v7kRooIZSlGl1OmN7I78NhSj8mSiySSLEUbfIkZfxJbCx69kKjPSTclOmlZVmhJKwZb77WKVek1-IFXeSF6PIRmF4S2tlc7u72S-pfxcID-8crRayTq5UEiGTyUOur71kMiH0RU-XsOgHOiCBUJJp_Roz5lULK_LlHAU5sdp8NrSmwUJf2ry-z3Itw"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-verify-2048b869313c/8cdb28521bc942f0aa4ae70483d33bcb/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "22"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-verify-2048b869313c/8cdb28521bc942f0aa4ae70483d33bcb",
        "value": "QM8VAaMxqjxMwv1GnVtzShytMbQvXTU2thEJlmyZVRjnYic3Im8nwD0TJKypeEUKXqo4abQMmL5fYlAFI94yXKkdhW1dP-thMD_sMnIcGnhuNeFTI_Pxi4tH1PgtgEUI5hdSDulYUiHIE8HMA3HK90WXadUQbbkER0mq7KXc68xriwgeA9309QjN6PRyLfGcfPWLl5jKWYwWI29UryYN5djktFdAijcpz8TUzkqlnSAdYiDzRRhkIMzpynqtVuRY915aiBiAhwQTXMrZD8ACUdhvND2Js3Qrsj5jHKIdA7OljJgaNOUo0YhUmSpWceMPx5_V1oPaWd98Zd_hiy6sXw"
      }
    },
[...]
