{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestencrypt-local7dce37a4/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestencrypt-local7dce37a4/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 4096
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestencrypt-local7dce37a4/c69551e711724072a14e2bb5d3ccb8e8",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "3E2Fy2z5ueRJ_w1arBJAPp-yUyQjjAwE4fgPb21fgWx6wCPgwlAzJwIoreD5tLAaQVrRqtwfQUQv7LN_IeDSQr7bVXakHO2nJja8ZfJpD_vT9o_sbfnEOz_T-2Rs9Ij0WRmXsMxu-RqbmW6CCFv0T3QeaFyZpx-yWMAhr-DSSetBgD6od8t7pyDNYhXeUGe9p217Y9JY-hAiTXjzIfTpGfssyvGb9M4u0QtEvb3rvDGrFOfwH9I2GaxcNeNdw0i7uSDb7_iD3UQNxy8E5hpM2dnLfnHabHpOrUwxhtVOjIdu1EBa2JMs5NH7Ue5PVhQc8axeKYNDsaOvW0RlBZIeP23vgEtPOLatk5X8N5RwX3wZleveebj2P6ciPjPUdpAOJHFCrfAMXlCHwtLwMCIEcT87ObnAIelWpSP0RTypKvDFjFS2J6eUWoN0Dmww84If_QmjXiNJubm05ZXDjclgVpTylcsyRC2GtuJ97rfpmjKbt9s7_ZmPjK1g5-uKf3UPTVz4ZzXPSRVgJn1AxlzqB2LemSLgLu-06C93dYfUwcrVuOE3JHxmUs-qYLAR1KiaMoGuQOeCSigDYppvW66GfrjR3BEtwDxprYHx2yYXikld3zE0EsYOxEI28UxpOSt_EcWku8yM1Yju_5kyo8nMEILxDfHgFQkWW_bLUMTjPUk",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 4096,
          "created": 1779390830,
          "updated": 1779390830,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestencrypt-local7dce37a4/c69551e711724072a14e2bb5d3ccb8e8/decrypt?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "yCeaRZSpm7eExt7ndm1uuCXMAXB4_fLjonBj4_N_98_FYtjy9rVb0GeFGXXloCuzsf_n2V4QR515J-559EImLLHsMO6snek39sr_rmXQ_dVg3o7YCoC5xkwdDy7_uB1_4fYgIAMXKkgBdJcI5i2WNxpDe-Z_pIyMoQwFKGcIraPwVNi3r4c1_DeeuWM6ZlUige_RdDBA3kMlU_ByoXIz6G3mqmd1mc5GYiEjhSID4aMwnDcB8x2_FUDssD54X2iPS9usyrvbw8n3iq_Z9PYu6js8X7PQa3JzbCdrWzUXNFAG7bKfisIxxUsL52SNNNXLq-PTPDIBP3e48oAEHwbIQveIaEyh1ZUq9mM2V3p1vTneewl5wVt_iS4i1YGSBR-c4peTMvND045bKM9N-HHKRgkKSsQtEpP2yo6OU-IuUZY_NilQXFPvZE0oqBvOhojBwEpXR6Bf_F79rrfxkcAEmastHLlFe6Yn0tzNJmGBNKFNsItwoo[...]
