{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-name2dc62e68/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-name2dc62e68/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "attributes": {
          "exportable": true
        },
        "release_policy": {
          "data": "eyJhbnlPZiI6IFt7ImFueU9mIjogW3siY2xhaW0iOiAic2RrLXRlc3QiLCAiZXF1YWxzIjogdHJ1ZX1dLCAiYXV0aG9yaXR5IjogImh0dHBzOi8vbWNwYXRpbm9rdnNpdGUuYXp1cmV3ZWJzaXRlcy5uZXQvIn1dLCAidmVyc2lvbiI6ICIxLjAuMCJ9"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name2dc62e68/4e5125c77b354e8d9c640320a07d7efa",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "veCua08poMtS2JCv9JLvutUcqCWDLyFmpWkdK-dK4oybuV4ks61nIAswL46oLg1wZ33pANm5ub-rUun3GbamYp5VUzOLXe7YO8AY5CdHCijRgWE-Q_1S65nUUO_0sv2NrDoIOtZVgCjxZpZjPh0NaWgfgnCvuP4stkFL5lzzfKSfwIswhRS-RPdZUxXokXfCfBJahTbcwL-nFruP19Gc7p_OKx0xnA5Y78BlIrWhU3b4XvYCQyR_bgerSjJMs38oL52LpeCjcpOeBiYUCDZKZNraC_K7giojZazokYSDZsEm1GhG6NBCV5m_eRwooGBmmQQoT6Q2zQ6EmA3HZpcLiw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1682118588,
          "updated": 1682118588,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": true
        },
        "release_policy": {
          "contentType": "application/json; charset=utf-8",
          "data": "eyJ2ZXJzaW9uIjoiMS4wLjAiLCJhbnlPZiI6W3siYXV0aG9yaXR5IjoiaHR0cHM6Ly9tY3BhdGlub2t2c2l0ZS5henVyZXdlYnNpdGVzLm5ldC8iLCJhbnlPZiI6W3siY2xhaW0iOiJzZGstdGVzdCIsImVxdWFscyI6dHJ1ZX1dfV19",
          "immutable": false
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-name2dc62e68/?api-version=7.4",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key_ops": [
          "decrypt",
          "encrypt"
        ],
        "attributes": {
          "exp": 2524723200
        },
        "tags": {
          "foo": "updated tag"
        },
        "release_policy": {
          "data": "eyJhbnlPZiI6IFt7ImFueU9mIjogW3siY2xhaW0iOiAic2RrLXRlc3QiLCAiZXF1YWxzIjogZmFsc2V9XSwgImF1dGhvcml0eSI6ICJodHRwczovL21jcGF0aW5va3ZzaXRlLmF6dXJld2Vic2l0ZXMubmV0LyJ9XSwgInZlcnNpb24iOiAiMS4wLjAifQ"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys[...]
