{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrotation-key901d2ace/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrotation-key901d2ace/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrotation-key901d2ace/5860c8b769984f9ea9c5383236a4b702",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "nze3dBs5pi9s3eig2pOlHmTPRCJM8pxwcJl2i93XpxUTP3tM5bz7XANMi4rnMCAsciRXmBJT8GF_zftV-nHHEIFSMEVgQ86dxNma0KVWhta8PRNrp1I_zQD3led12FktFGgfaUGI3Ns7kS-ppTF_Dw9Sq2irYqMRr0QRXTU5crfQkSZbMW4bHkv1PtH57xvnTjaw2xLeE-ArbDnpVMRWol_XWv6SFg03DL2Z5JI9IbQJZCHR7qV3m7ANpwk9ZwGPZFnDNrM852gzAWLMh_La49DgUk7Sh_67idy7kEvjrmvfo1_qVb1DBvUojeAZlRMZmRbYLoh_dDLiZjpHumK-kQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777477236,
          "updated": 1777477236,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrotation-key901d2ace/rotate?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrotation-key901d2ace/f78794fcc5ee45d09be0db0fa0c749ac",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "oQGrPcipQ2TYmbGG-7z2i9G4taIvqHK3bYDQOncK2iJNvdYhhV2vB2bpWTw_5ogQiezY5N7dw88l4Nq2uyWNd0QX42HxZdKMvQnYfQtLJ5-0aSiWt6sO_5-dldpego13l-kdW7jGiGFxYdm_4dPMCx42MiJquUi1TpAjVwFFUM4dWoehWxeoPHxHT8UgKZqnc33RlnHPaEx4hxGWP0v9qaVlxcvTGvMQrSmi16Dvk-cAv5sT6YpDUs7miJInlT59wmh-h_8ULCr3POQHS5_E_si29sie0YzBlK9nthNOmdT8BgGZU4mgiIuEsWbjg5b0Q6z3G-JMxs8zL-lBC61o9Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777477236,
          "updated": 1777477236,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    }
  ],
  "Variables": {}
}
