{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256953534f3/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256953534f3/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256953534f3/722fa51857e549c8a584d9f874c5272c",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "m6dC0JsacxHvUnSFTczTBaQeaQXgpXc3N4XBek5vF_0",
          "y": "ONmXi2iLrtzOG-tE5lWXYnM4A1n4OgVasOFb-_XgcKA"
        },
        "attributes": {
          "enabled": true,
          "created": 1741307809,
          "updated": 1741307809,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256953534f3/722fa51857e549c8a584d9f874c5272c/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256953534f3/722fa51857e549c8a584d9f874c5272c",
        "value": "t-PKTtr6S-dngJ1LhS1mT7vj5IJpJzvrG16IEqhUljwG5LBCqrnZu4BcQsRio1Db_zOIh3wT0snp8RdlN1X3pw"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256K953534f3/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K953534f3/9496a1deff3b47d6b3b0792a212ee432",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "Nxin2RQ6oqvuzuh7tF7I6Yp87XknXo6fGwOOyJmvDH0",
          "y": "2-eUqf3AGK-F7JNzTr7G-tp0pejoPsFMWKrkoED5U3s"
        },
        "attributes": {
          "enabled": true,
          "created": 1741307812,
          "updated": 1741307812,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256K953534f3/9496a1deff3b47d6b3b0792a212ee432/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K953534f3/9496a1deff3b47d6b3b0792a212ee432",
        "value": "w2FzupEFR-hEs7OvOd8LfhvVD1n-tykB9uHQlhwsK261DyjRX3tJfZ4ENVba07hURQSGq-EQLheWRVjnzKuwBw"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-521953534f3/af7f272fbb504ad6a24e0e53a26cee8e/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-521953534f3/af7f272fbb504ad6a24e0e53a26cee8e",
        "value": "ALZFBsNBSWeyJ3jz1vPIZ47wJUQm5rlLnYQqQ0TXYi0OrY9h5VfV26cezbp9i_LgSKyFUQKk1q0R8ubUG1ky_QJlARY7nO8jPMf0scoQEUNiBXjcTQ0rwE-2bSVwkS3xVVmyBvBj43M34u4SI0ZbDZT3UBLgwQoKLDfZWBMMdLIuxAae"
      }
    }
  ],
  "Variables": {}
}
