{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtesttestKey7d982bb4/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtesttestKey7d982bb4/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtesttestKey7d982bb4/9c45b18a3af4445491998a18e0b83c57",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rQ5VmYrk8ArdyBrnHLSW1Q9XEgblTtNZvncbRQ5ou0vM8PvVKYrrjOZ4wrniq2LURfllDruYIFsw-VjxyeVpZudN_lGPYFZexFM9np5vQU14173bz29Kc8NIOZsn1g8IUyooMnMFqHPpKt9MdQeXIVrKOgWYGbG_R0YtqtdPLbmWb0hUskvF9_N1tE7cqLhL65uHfYBQt5Q-oOEtbgtF9VhHwMp5rhJwDrcjuWPtFRrRM9Nuk_JjxIB5rdt4DGta45V6mnjeJHzOHMoUoVbH70UdDFRqhpKe3D-bKVHn5nPSnc3NElQHRqCWXjcdJYNPdpTrNkmdOhpObXDIst44OQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777476712,
          "updated": 1777476712,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtesttestKey7d982bb4/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
       [...]
