{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-key-name73832e66/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-key-name73832e66/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "107"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1741741297,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1741741297
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-key-name73832e66/28d72d1720304dea0f780367cdfa33f2",
          "kty": "RSA-HSM",
          "n": "yYW1h263cRHAIgklAdNgOokzHxG1jhdBTIFsG8-GGmtJ5aBHa_hA2GUYXSg-Hll89JwmQkmpqWGywLXJM2lS0ffF7CHAvcWVKWpNAxCIkPR4p-3tKtfvbdkJT4tClHJ0lFgJlo_3awqkasyZDo43RDbwc7xZLOFgQUze_KXTkYRunL_pxhnBh6Yh0iAeSMBOYE4lrFsqpKt4ne5PxlBh9Sv08OtKuwsF25Sf0iRp_jUsCOc9CoyAn8FjbGT7ZfSJV6YilyO6j-3egqRDRIkYd25esk-Upu99kUIYbNnFPmVgH972RzSz6ICaWsqmGYm7q_5q39oaCocbPkVPu2gaNw"
        }
      }
    }
  ],
  "Variables": {}
}
