{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048c93831e1/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048c93831e1/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048c93831e1/40bf187a971d4e09936cdd13d7ed7d5a",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "6ofQrhqpDMDC2s0NDAvdT38ZYA82nvxMPGqQNdFUdJ_kQ2JMhsW7DwaJPsqNbxY7MeyI0d-1rRAiEBQy7efIisL4TAt5OeyuAzRP3J1Ny5IyekKnPChTbWV0FaXqbjU8bUHzFHLCxFHGAyLqaNx-xSk6IO1Li-zrhaCECqYA0H6eVrcqB9m_fCdci921CgUAbmuQRwQBItePIfKw8aLQpvDphiVtPpOiVCIv_bNR5Ly77oAL5V79u0FvsH0QpZj-0tHEJwJKB7670E92x1IIEqpZgPXre151ZkTRjpEctrw5WBeqT64y1QbyPfOdqswVS4S9g8EIF6prAzD0QwPvJQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1707349155,
          "updated": 1707349155,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048c93831e1/40bf187a971d4e09936cdd13d7ed7d5a/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048c93831e1/40bf187a971d4e09936cdd13d7ed7d5a",
        "value": "6jts9vwcwe-nwpEgVl9ac2uNUJt7PItWMjZvuIjLYRw8dNWJQcnQTIGcKIAmDqdT5c3te_LlIjvcTYe55exNW9UXMq94iurQowsx-UpbfVTxCKWKhEgJLADF1nMEfcBL_8_BiWkawOrO4rzsVgbtzv-yvayBffksI-rfPPFwbE895KVrLgDeOF3SXIkLQ3tEIJfESN8_7I0kxdVOOGdncurluwLo0pFdbc_0PQw8ArMo3365hNuKdmwXZZii3Jx1dazmvjB_RBAxogUFAjo8nhGbgIt-PIyR_KWkiN1NiZr3PSHkFE7qJb5dhIryEj3AKmy5kk1KvzbcZDUOGKzVrg"
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-4096c93831e1/fd5dccbc75dd437c8dcc6b0a1c870f71/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-4096c93831e1/fd5dccbc75dd437c8dcc6b0a1c870f71",
        "value": "l7s-zlepzwLiCUlk7bKMF9uaX-oawIX3-yq3Pm_MI_M8g_1A6V4r5IHjE1y5qdBI4t3ysrWMWnsnQM5veozfRV5qYu7thOrkREh9BqpghkJYTqAZTIPG5CEC1Ty2A35ael3PZqG2_jiEWWb_4fgjdANSgyYXieh8r7-So5a5aSzuoYYWdv0eSAYLXftXNcRZB2XoZ-iWo5bedC5-tquNZ4ouxenle_704kxVo7ugtXu8haoH8Bia3T_D00OePWMjeTiXGG5adANyLsw56dY7CssYELzrZQagvzZ4kTqVkRvRw8V91UY1YJr0ShovyuOtx3yiYh3qTFR1j3up10-r9sGToCaaR_4lTwxuVvxKt_FVtrBpxdeKOY8fu6VAKcZ0qDY-TsXFsHif-JejbhcpFhbijnWtHtDK2chGVPoHKwbUKuWyDbcYsRWiJn_I6kkoLdIY3BZzfCbVVjLdJp8YiED_-tCfrrwwOVq77Cl9SRRLt882AqexLWlmHR50OcY92VRpA6L87005muMLf2SHMWoSSnexcx6hyWdn_1rVikJGjeaPV6PcFyulVPLhFy34qAjzoy2Io3pJZg9IfMl1-RlLspgp8HjcKKZX1eVbam6do1Ijq-MkDjDCHkUdb6N1TkjoZCr3lOpN1N2dM_aH2JXrM5kUoj73uA8jD0Fg0o4"
      }
    }
  ],
  "Variables": {}
}
