{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsakeyd27a3291/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsakeyd27a3291/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsakeyd27a3291/e15e133e898a4156bc5a808a29beee9c",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "ozl2DY6ItwPfrhCJ8eskW7pOt6uXzeFjlwUBFFJdFmlNK94yVjoiKpq9eje4TMMRzMvimTWm6zS4_Frpgu2gdKdSxtkFKgbx8zitX18hMe-uyA0g6SulRNfNFMzBQFZjAtB7K4mvh6CWZKs-EMd1NeXoke2Wk6_XjuFAIG7UVfQ7vQqKRxcKBVE0zyxn9GyLfj7Zje_WMTZPtU4Yk2vj1qqyAgvEUaWTa6piiph6J0CWau2i6XPMpotZkQSURWcqibll0FDd8oVcR7NpuyglsKipFMOuYi8k1pH2gza1BwNlk7nLzgUgsDn8S0CWqwLtmpwGTtYdL30xJD-zok-sXQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1782496132,
          "updated": 1782496132,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsakeyd27a3291/e15e133e898a4156bc5a808a29beee9c?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azur[...]
