{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name933c2f61/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name933c2f61/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name933c2f61/e73ae403e47e4ef8b1828f5f3ce8b8fc",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yRqf0H3xIQppxjfq-TmHSwr-xvyx04SuDwXykeu-mmnGotNrj9caZcpkt4md8hanOBN1Htyq806x53gxfgWpMnr9iLIGyzMZg0rjZI-dU-QE8yWY-oUMSPngnXfoTk4SjhiyL1j04suRZYAFHtXrApg59wfznZKmYJ2H1lyiqV4_Q5AEjBB4FfCf5LrQ4eetes1_66cNo_eyds9UfbAs_6e-4Xm4dFplxeVercN_6-e4zwGrl3CXwikgI0M9V12PFiJfg9-cvlpF-ILo6Bf5dYpKMdAIirqdPiyUpDoOWbEJlysBB1CV49M6qgYvGUtmRxogqH3BIIG4Sie9Lj090Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1748906945,
          "updated": 1748906945,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name933c2f61/e73ae403e47e4ef8b1828f5f3ce8b8fc?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name933c2f61/e73ae403e47e4ef8b1828f5f3ce8b8fc",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yRqf0H3xIQppxjfq-TmHSwr-xvyx04SuDwXykeu-mmnGotNrj9caZcpkt4md8hanOBN1Htyq806x53gxfgWpMnr9iLIGyzMZg0rjZI-dU-QE8yWY-oUMSPngnXfoTk4SjhiyL1j04suRZYAFHtXrApg59wfznZKmYJ2H1lyiqV4_Q5AEjBB4FfCf5LrQ4eetes1_66cNo_eyds9UfbAs_6e-4Xm4dFplxeVercN_6-e4zwGrl3CXwikgI0M9V12PFiJfg9-cvlpF-ILo6Bf5dYpKMdAIirqdPiyUpDoOWbEJlysBB1CV49M6qgYvGUtmRxogqH3BIIG4Sie9Lj090Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1748906945,
          "updated": 1748906945,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name933c2f61/e73ae403e47e4ef8b1828f5f3ce8b8fc/encrypt?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "cGxhaW50ZXh0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name933c2f61/e73ae403e47e4ef8b1828f5f3ce8b8fc",
        "value": "CPwQbXxZ5XOWfqR3dnrqsIPiJ0dDHkBckr2aBzIdwd-Gj8t6I29aEhXNeGh5L3lsxDDn1gn-cQ9ThfE1QOP5yoXX77yYwN5eP7Prt8kxlC2T3pP2QjWDHB7X6Y6kpXN8HTUupKJJG2YnHBICs02ndXDnrgapiGw0JHBEX-oBs8GXPIO0KTuM0sEzNQCMVZWcqFxwpqtbgV1PDxGg3fFpVPVvx12EjGeLkC2vH4gZIC6WENWnC3T5U7Y1ZAR3b1MGbQInT6E__eW0x9S1MeqM57UP1h-oocrDhM2uwUdvOrwTfZkyM2el6CVOSZwJDnY9KOoOEFb-ayzw6TiNhmRUCg"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name933c2f61/e73ae403e47e4ef8b1828f5f3ce8b8fc/decrypt?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "CPwQbXxZ5XOWfqR3dnrqsIPiJ0dDHkBckr2aBzIdwd-Gj8t6I29aEhXNeGh5L3lsxDDn1gn-cQ9ThfE1QOP5yoXX77yYwN5eP7Prt8kxlC2T3pP2QjWDHB7X6Y6kpXN8HTUupKJJG2YnHBICs02ndXDnrgapiGw0JHBEX-oBs8GXPIO0KTuM0sEzNQCMVZWcqFxwpqtbgV1PDxGg3fFpVPVvx12EjGeLkC2vH4gZIC6WENWnC3T5U7Y1ZAR3b1MGbQInT6E__eW0x9S1MeqM57UP1h-oocrDhM2uwUdvOrwTfZkyM2el6CVOSZwJDnY9KOoOEFb-ayzw6TiNhmRUCg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name933c2f61/e73ae403e47e4ef8b1828f5f3ce8b8fc",
        "value": "cGxhaW50ZXh0"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name933c2f61/?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name933c2f61/e73ae403e47e4ef8b1828f5f3ce8b8fc",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yRqf0H3xIQppxjfq-TmHSwr-xvyx04SuDwXykeu-mmnGotNrj9caZcpkt4md8hanOBN1Htyq806x53gxfgWpMnr9iLIGyzMZg0rjZI-dU-QE8yWY-oUMSPngnXfoTk4SjhiyL1j04suRZYAFHtXrApg59wfznZKmYJ2H1lyiqV4_Q5AEjBB4FfCf5LrQ4eetes1_66cNo_eyds9UfbAs_6e-4Xm4dFplxeVercN_6-e4zwGrl3CXwikgI0M9V12PFiJfg9-cvlpF-ILo6Bf5dYpKMdAIirqdPiyUpDoOWbEJlysBB1CV49M6qgYvGUtmRxogqH3BIIG4Sie9Lj090Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1748906945,
          "updated": 1748906945,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name933c2f61/e73ae403e47e4ef8b1828f5f3ce8b8fc/decrypt?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "lfCCiWU6ohjnw7i2mLW0Yrq6z2nLriWG2Eh6Jf-p_x_vdbQttg8LXoctnH2HXHvY8PFyKmMm3rKP7E9YKGeXTf5919n2LQ4pR8E2BFrR-1FKSisNLoGVf7C0bAmCU3-Hm11wuwU22lvOhJyzWAwkSeLuOLODn-UYD8S4cInbqtgpOUPTxoERJUomQqi_2OKOCwKUFxpWAsRDpZiHl4XxeEjCIkjq9GKupK8Y_cpD7xpovNyMcNCeNHnRYHTfn1rjKoLEcFhspJA0P8auXS3LCX8Wzn9TfDS4BpLcDx35oGg5EMkYlw0aRzDHzGAz2Yqj3JXo6HsP4Z9TFtu8tJx6Yw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name933c2f61/e73ae403e47e4ef8b1828f5f3ce8b8fc",
        "value": "cGxhaW50ZXh0"
      }
    }
  ],
  "Variables": {}
}
