{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrotation-key6ec82cd6/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrotation-key6ec82cd6/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrotation-key6ec82cd6/0c7a5d9076614941b81ab09e31bf6612",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "9oV9e0ao7lyp7mGJPzW1Kgocfjv_KD1gxV9tiXvZ8-71df76hq4pkb3xoMMwj1c7dfDwahpiqrwXxdrZVG3JMzxRr-XnaTiwnEjd6OtlWN0ix8fgSytdvagIHfrEX8goqv5GT_4jgBCCCZEx00dV2JF_boC-eT8-CyCvOLPtIX4ssgJTwHAke-R08n8URRvxpiwXL9SyvX-q681D6HAlyJW8kuIZZAcmpDrRCxJ-61vnvfW8D-Kl1EjsHzgbceEgTsE2czj4QR2Tn6QjMEyU8OrSAa3hTLK-XbM-7KGKiJmr74NExHbdFsvwbjVjLM-URbpt475d_CMHFNLX0bBe4Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1707349712,
          "updated": 1707349712,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrotation-key6ec82cd6/rotationpolicy?api-version=7.5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lifetimeActions": [],
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/keys/livekvtestrotation-key6ec82cd6/rotationpolicy",
        "lifetimeActions": [
          {
            "trigger": {
              "timeBeforeExpiry": "P30D"
            },
            "action": {
              "type": "Notify"
            }
          }
        ],
        "attributes": {
          "created": 1707349713,
          "updated": 1707349713
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrotation-key6ec82cd6/rotationpolicy?api-version=7.5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lifetimeActions": [
          {
            "trigger": {
              "timeAfterCreate": "P2M"
            },
            "action": {
              "type": "Rotate"
            }
          }
        ],
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/keys/livekvtestrotation-key6ec82cd6/rotationpolicy",
        "lifetimeActions": [
          {
            "trigger": {
              "timeAfterCreate": "P2M"
            },
            "action": {
              "type": "Rotate"
            }
          },
          {
            "trigger": {
              "timeBeforeExpiry": "P30D"
            },
            "action": {
              "type": "Notify"
            }
          }
        ],
        "attributes": {
          "created": 1707349713,
          "updated": 1707349713
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrotation-key6ec82cd6/rotationpolicy?api-version=7.5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lifetimeActions": [
          {
            "trigger": {
              "timeAfterCreate": "P2M"
            },
            "action": {
              "type": "Rotate"
            }
          },
          {
            "trigger": {
              "timeBeforeExpiry": "P30D"
            },
            "action": {
              "type": "Notify"
            }
          }
        ],
        "attributes": {
          "expiryTime": "P90D"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/keys/livekvtestrotation-key6ec82cd6/rotationpolicy",
        "lifetimeActions": [
          {
            "trigger": {
              "timeAfterCreate": "P2M"
            },
            "action": {
              "type": "Rotate"
            }
          },
          {
            "trigger": {
              "timeBeforeExpiry": "P30D"
            },
            "action": {
              "type": "Notify"
            }
          }
        ],
        "attributes": {
          "expiryTime": "P90D",
          "created": 1707349713,
          "updated": 1707349713
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrotation-key6ec82cd6/rotationpolicy?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/keys/livekvtestrotation-key6ec82cd6/rotationpolicy",
        "lifetimeActions": [
          {
            "trigger": {
              "timeBeforeExpiry": "P60D"
            },
            "action": {
              "type": "Notify"
            }
          }
        ],
        "attributes": {
          "expiryTime": "P90D",
          "created": 1707349713,
          "updated": 1707349713
        }
      }
    }
  ],
  "Variables": {}
}
