{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-name19d43665/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-name19d43665/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048,
        "key_ops": [
          "encrypt",
          "decrypt",
          "sign",
          "verify",
          "wrapKey",
          "unwrapKey"
        ],
        "attributes": {
          "exp": 2527401600
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name19d43665/8612b530e3054b3e9759367a0fb091be",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "qhLUT7BOyMg_f3PldL69cHSeE_FuLUYrU5g_4lpDtTz74u1hq-z0DlqSrh0aPwDilXq-qe-cgV16N5O9UK8kdyWxPWxwJbvhjRtiIvCytYjEWcF0D0e5NHww66i68ivA4jWGAYJrnONoryMIg7taX24oTM2x5oOjixbW8TGhfk_uULkCTeQ5Oje4LhknufJUmqpMTD0dJAQ6Rm9yXnzu8U7ep5ltYh2ZJbTeXyJz_K5AoH-etTTW4WXfdXolLXmGweqzknDh2iSb2J5HrjJMThmXaKdT1Pjlj-iWBHFHq6Ie_Fx98e7rsZy1OIZ11vf6z5IXSLb6aIWGaQuczDFjXQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "exp": 2527401600,
          "created": 1707350258,
          "updated": 1707350258,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-name19d43665/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name19d43665/fc06a6d3dd58480597b50f536cb3fa51",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "YwjNWIITy-_5AbvjsKixH5o72HSvbg6lzcO-g8xPPNw",
          "y": "ni3RtzreNb5Lx8I9gOOmB28bai0W9LQe5E5yXoGZcxQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1707350259,
          "updated": 1707350259,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-name19d43665/?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name19d43665/fc06a6d3dd58480597b50f536cb3fa51",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "YwjNWIITy-_5AbvjsKixH5o72HSvbg6lzcO-g8xPPNw",
          "y": "ni3RtzreNb5Lx8I9gOOmB28bai0W9LQe5E5yXoGZcxQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1707350259,
          "updated": 1707350259,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-name19d43665/fc06a6d3dd58480597b50f536cb3fa51?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name19d43665/fc06a6d3dd58480597b50f536cb3fa51",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "YwjNWIITy-_5AbvjsKixH5o72HSvbg6lzcO-g8xPPNw",
          "y": "ni3RtzreNb5Lx8I9gOOmB28bai0W9LQe5E5yXoGZcxQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1707350259,
          "updated": 1707350259,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-name19d43665/?api-version=7.5",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "exp": 2524723200
        },
        "tags": {
          "foo": "updated tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name19d43665/fc06a6d3dd58480597b50f536cb3fa51",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "YwjNWIITy-_5AbvjsKixH5o72HSvbg6lzcO-g8xPPNw",
          "y": "ni3RtzreNb5Lx8I9gOOmB28bai0W9LQe5E5yXoGZcxQ"
        },
        "attributes": {
          "enabled": true,
          "exp": 2524723200,
          "created": 1707350259,
          "updated": 1707350260,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        },
        "tags": {
          "foo": "updated tag"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-name19d43665?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name19d43665",
        "deletedDate": 1707350260,
        "scheduledPurgeDate": 1707955060,
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name19d43665/fc06a6d3dd58480597b50f536cb3fa51",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "YwjNWIITy-_5AbvjsKixH5o72HSvbg6lzcO-g8xPPNw",
          "y": "ni3RtzreNb5Lx8I9gOOmB28bai0W9LQe5E5yXoGZcxQ"
        },
        "attributes": {
          "enabled": true,
          "exp": 2524723200,
          "created": 1707350259,
          "updated": 1707350260,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        },
        "tags": {
          "foo": "updated tag"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name19d43665?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: livekvtestkey-name19d43665"
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name19d43665?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name19d43665",
        "deletedDate": 1707350260,
        "scheduledPurgeDate": 1707955060,
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name19d43665/fc06a6d3dd58480597b50f536cb3fa51",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "YwjNWIITy-_5AbvjsKixH5o72HSvbg6lzcO-g8xPPNw",
          "y": "ni3RtzreNb5Lx8I9gOOmB28bai0W9LQe5E5yXoGZcxQ"
        },
        "attributes": {
          "enabled": true,
          "exp": 2524723200,
          "created": 1707350259,
          "updated": 1707350260,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        },
        "tags": {
          "foo": "updated tag"
        }
      }
    }
  ],
  "Variables": {}
}
