{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-key-namee2a2fc4/create?api-version=sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Sanitized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-key-namee2a2fc4/create?api-version=sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-key-namee2a2fc4/b889f503e1fd4e85bfbdb54d921a765c",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rFXJEO6rxJ47E7gyWERfpj59SLXtY0zJrP56jCFJnWrMI3hJCbvfbunM9AfS-QXO0i-UpelJ8UFkdCBwUZpnE2WIrzhJHN96HcMbGINEEMHsPlRNe94LUra99O3YD3GfnbzWTs_D77wFGhjlaPyJQAWLNRJDmJcF4LZS9dBJFrPXOLqBO9W2nFOkf6uiplcwERkfVxQn4Ozbo_P2nz0gAda0Fe_KdNEMqTMPaHBEbB8b9xzEo39KolPCtho9p88B3BNJkS8DNJiuvp1HzWlR1MP0owLSbkzJz2Q1qUDbjHql6KobkNc2cLcWiyr_B0rQVNyhhinv1ykT7iGYdbCtSQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1714537695,
          "updated": 1714537695,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
