{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrotation-key327229e7/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrotation-key327229e7/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrotation-key327229e7/e36508203b624f6ca238c0a49c9c1a19",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "pcwcP030loyWDBklYNGK0xiir82PMBTdR_XczwiPu9fSolrB3yL8ggOwdzMyYMquKVKH6ZWfqS_R-8t_sH4kiUR-5Rt6EXcsrQOsn4Mw7UPC5hlzOjtYUX5yvbIF_H7xNJ1YjzZ5PvHjwmb62wIILPZiAIiRsLgxDyGO1GKoTJgjwPV4wTooUxlx4f3mHUsvKEGLCJlmJQdamhwWgBtUe02-xacvkAxmX-xE4jKjWWtt6FGcjPigQN1VFqkdc5p1PL-6zEpvukX-BrYbNfWbnUsXpskuzpjXlzQB4JbFWqWQsqGZ89jnEevCOQMKV_EG5JQCePAwp6Sw9-CD5am5_Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1707349706,
          "updated": 1707349706,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrotation-key327229e7/rotate?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrotation-key327229e7/994fa9150ed34262b9fad029bf649772",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yroKowgxSAilL6MH40QudEnCA3eeehb-v7a1sFdPL5XLRdJLyqZ7OxFm1rrjIPeKEqZ2rDp3NxW5KdC60wwFxM-1K_I4oh3BF0a0qJBViuGdUCXukhSpaDM6Rvl5hBBuUcnHjo28V-p8MvavQMPLfprORkUYPnoF00BnfVIvaVYjm8d95IFr7PcbOAnQT8nbO25Ri16H-V_363yIpizMWKTuA3ioZlvotjgjAOqH0-F3RkU2j5isFfK0lVxOoUVXIOqnco1hXnY8sP12GTdtiMnaZXh4tCLDrtP_f1afr1GORYSdJHdLlLGyhyJH3O7JMBvYxUQpJOIDPfhi3U5UUQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1707349707,
          "updated": 1707349707,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
