{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-verify-2048cf0432a0/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-verify-2048cf0432a0/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048cf0432a0/134820a912e54bb39cbab9938ddf640f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "zTmsLxuuNR4YHMZoBpFCCX08zY6QvyiB7LoYpa3FX3QP2VJA-PxjnJw9Ka9SeNXXFnxtFfb577kAsc94dAZi4vpivocfb2kyV5F0r4mtOZvlnzAbotBhosCxwc9iPpWcFEsCIniYLrFnZy0vEBxjrmBCDNVpcEyBLR1_Pvl6yEzDOsavreutmJom0Ds4XkHryAJeQnqUZFVJQTA4x4aLlPq-f2MunOxAFRvDeDbvkXb3bY9vBcDQjYbwc9IJNkwLnj5o9Ox8JUDw8ZpGl-Gc18vRYz8ei3r8pNqrDDq1OKEG9heUOLu8bFOqiSRfLnekRYSa8XKNGI45dAkPMRagEQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779468925,
          "updated": 1779468925,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-verify-2048cf0432a0/134820a912e54bb39cbab9938ddf640f/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048cf0432a0/134820a912e54bb39cbab9938ddf640f",
        "value": "evsptBuuH7yz7hYOG94COHMW5xLRLerWBdYLA35RXcTI7t_S7wnWMVDKJJSC1-N7CS2HvZF11gtKfx1Km8WkbmsJr3q_Vv5PGOiuPGplf4JEBfkpsM-dFNvZVQJI37xgdzxJuaYAVtIOXARJGrt1YDtKgksRGCRSJCKU_CvHhug9XR6hZqoAIfZ5LQffKS9bh05mr76hcnYZ2upbGwFI7OAWXjCGXG2QPnSGJL_S6SCxXH0IKLQoXIOsTn3C9vXfxzXUNS0EWPxSxsnEpooXp9iv8h_FtBtyrlQfXuer3tuEEWae7NeI_C4wMZOskfRbRD10qq8g29DPIZZpe8fBFA"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-verify-4096cf0432a0/218bc60d4e0d4bf5a1990d162c85ccca/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-4096cf0432a0/218bc60d4e0d4bf5a1990d162c85ccca",
        "value": "Q_VHz8ufGBhz2Hb63QUrNReP_Ugsk_hCsByGuTHlc5sJzdFq5KAcz1frq7BRetmn9-rCVgZaB3MdXVQGnEtPb8jslYGQMSd3itINTmVhgJ-zeg9fBm6rdHbBsM8H_FCxv3e9lN1ylxmpB-RZuA4D-a6y7N_K2VNqmdUZEhYaKxCC1ncg9S9BumE6cuQpAVVXcj6_ESAu-FTUMd3ji6HJnRByXl982jtn7qBqa_m2DX6zqGkYGBBWzXUV5w77GP_4On-IpMusffn0PmxLSz0P3JMWL-a2rxGFBnSe6UxjoylWLebQOwBGSdod0J5Cfkz8fKLuoSqlHho0HS3sYDrNAL4__yKK665ALE3MTl-VoSTXFA6X00OmtkvuKGK5SClOzKbEMagqULQK2qdeupfAc-Hy5YfHLXf_dfThW7Bk10LJsFDgIxyru2sS5ToB8es6Za3DQpyDPl67w7_IBrCUiYKbYTUfs1HYItVrWOJSyhsTsw96uoKAAGJOe9rBlyHRBnSTH-9LOxoA0bEgPZisfPw29bGMnfw2gBfjVUtT3JV2t6SWETu1Cjolbak1pyfnrl5Fwl82p0UWV0DFmg7jHUlfMBVH-Osi4hOQ1I2yZ0eqYHzKeEh_NCxf3MLTTLP71CA5g8OOlb5CY2dC8RJ5PYUKlGvnKiTIG2pSxHKhyLg"
      }
    }
  ],
  "Variables": {}
}
