{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-key-namea3c02edd/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-key-namea3c02edd/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-key-namea3c02edd/ddedf96d193c494cb00af12bb41bba80",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uRoHJ9a3f1x-UjIZAD4-5QVB9MrWkwb2xzNRgzoyDWf2ICHgoC5ylkCvW7xj9x-GaIbErzp9MJTyMuYql_Cn9kPO4ovryBJekxw8xHGCHLazHXajU2CvpgLVHfA3mtRSrVCCYSWqLSux9ue3sK1pDmTnxro9dLXafDvvmbmeoiPelqNEenUr-lEJZ59UyH83YPiiHUeYKf0x7wxVwibbuuWIU3s6OQ2iJ01t36Dq_xXxDhLZJ1C3PXd2LxaOPMqcumM3IYYHc9OrpLi0jBr3_M-X_2Kbh8bM6_jbuqhHCbBMHa3wh7oe4hZD2Qe4ejemO0Iy8GXRoSuPrve_Fii1cQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1741731957,
          "updated": 1741731957,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
