{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey0902c2caa/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey0902c2caa/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey0902c2caa/15f4fee8f03d4cffa2fbed845b7a2297",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "3E0Aw2mc4vLBtFzuValbnVygQsSYTE4_QcaQBrPR1Dyo_0N48nVM5jzuWmE_aOu517EaOVOcjspMiZh-RNkno0MDRDRwfzZStcgNyCkFzDep8aBnsQKNxsocdqSkSIZ8q94VmhuDmezWaR6eAgipaRexycBrOW4FDx2CptFQZISd3VgbovqFDBzUfBzm5cwxYn7XJPnPR6XKdEbYhpaKNSlYo7jKDBsbkU4iEyAVJUFXpJuZYsn8LhziKiduJnVSlhUg4huHoJF25cYyYVWlxa28Gu1TefKTYd4Qa8jdaOFpaGYYZW0LiGitXXL1YRPJBkxLjf_tPvzDEHbvuO4g_Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1715137928,
          "updated": 1715137928,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys?maxresults=6&api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-ec-key414b3057",
            "attributes": {
              "enabled": true,
              "created": 1715137530,
              "updated": 1715137530,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            },
            "tags": {
              "purpose": "unit test",
              "test name": "CreateECKeyTest"
            }
          },
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-ec-keyae6d313f",
            "attributes": {
              "enabled": true,
              "created": 1715137864,
              "updated": 1715137864,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
        [...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys?api-version=7.6-preview.1&$skiptoken=Sanitized&maxresults=6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key3a9c3827",
   [...]
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys?api-version=7.6-preview.1&$skiptoken=Sanitized&maxresults=6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-key-name72402e6f",
            "attributes": {
              "enabled": true,
              "created": 1715137826,
              "updated": 1715137826,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
          },
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-key-namea3b12edc",
            "attributes": {
              "enabled": true,
              "created": 1715137835,
              "updated": 1715137835,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
          },
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-not-yet-valid92b3b32",
            "attributes": {
              "enabled": true,
              "nbf": 32503680000,
              "created": 1715137480,
              "updated": 1715137480,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
          },
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-not-yet-valid993938b5",
            "attributes": {
              "enabled": true,
              "nbf": 32503680000,
              "created": 1715137170,
              "updated": 1715137170,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
          },
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-valid92b3b32",
            "attributes": {
              "enabled": true,
              "nbf": 32503680000,
              "exp": 32535216000,
              "created": 1715137484,
              "updated": 1715137484,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
          },
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-valid993938b5",
            "attributes": {
              "enabled": true,
              "nbf": 32503680000,
              "exp": 32535216000,
              "created": 1715137174,
              "updated": 1715137174,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
          }
        ],
        "nextLink": "https://vaultname.vault.azure.net:443/keys?api-version=7.6-preview.1&$skiptoken=Sanitized&maxresults=6"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys?api-version=7.6-preview.1&$skiptoken=Sanitized&maxresults=6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestwrap-localf0c731af",
            "attributes": {
              "enabled": true,
              "created": 1715137296,
              "updated": 1715137296,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
          },
          {
            "kid": "https://vaultname.vault.azure.net/keys/myalias",
            "attributes": {
              "enabled": true,
              "nbf": 1715134500,
              "exp": 1746671100,
              "created": 1715135100,
              "updated": 1715135100,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "hsmPlatform": "0"
            },
            "managed": true
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {}
}
