{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-key-name791a2fca/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-key-name791a2fca/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-key-name791a2fca/6731107106604d70afa815f47042dd17",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "pIxebsh0-H0qedomX9mAL1dU3QuBUO_RNSjveodw9G5vg7Y9ZPEMZCHMoa_6TBHTt5ydKNQ30Qq8IkD7ONXor2V5NaS83OMkrKX2ILkGJqNx0XjfsUx64etrXHWVZNaVTv2EhP9KQ3k6L2MmLQygbpONPMX6P2wrgFJMVf0clILKo29rCrVNhtdaXpCgS6XRO4kwPFwyjH7xQtBjFfnYzxqxNYrsvreAsVV31p9wmtnUnt41HqOp_GR-u_IH_v25SF7IH0Hql45J_i-oHHyr3ZZ7efyEkjD-y6OzHdB62x-aOm99qJProdbIvFQ-IwYTNxk_xyMtG3fXIOjIZWZq8Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779476974,
          "updated": 1779476974,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
