{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/rng?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "5"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/rng?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "count": 8
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "6"
      },
      "ResponseBody": {
        "value": "cEWXQ44fuJg"
      }
    },
[...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/rng?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "count": 8
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "value": "S1Av1Kr1nXc"
      }
    }
  ],
  "Variables": {}
}
