{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrotation-key63fd2a58/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrotation-key63fd2a58/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "139"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1707356352,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1707356352
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrotation-key63fd2a58/a25bad8a3fe14b79b785357fc8b6cc17",
          "kty": "RSA-HSM",
          "n": "jtgoX0aTgZHuF9hd1bE3G4SpxCZ1z76lYg3ybDKaCaA6ipr494Zi_rXxjH5hOo3K65UmdjE0O8O5kA_3a225qCCbEwYJ625AJv05l7miMBZR4jesWQZNWjppnpdr37xGP69hWQRosVZm5b_1HEND70uQz41-f--l1mEqo83Jtn1lDUV_WS-4a0efWYaBNAdXWNtQeOcvuhXVPIB4I5MIimGcMBCNvs3MMM-wTKFwTSyoCCl_Y0LR7acwl1LFKRngbENu3pjF9nL5rbwTPIA_BVfYGzjcfXc-hOs9hugQjka7goT-d4RztQ7kE6Tn-9r1hj9SH3jWvpFxjr5BfXjnQQ"
        }
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrotation-key63fd2a58/rotationpolicy?api-version=7.5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lifetimeActions": [
          {
            "trigger": {
              "timeAfterCreate": "P6M"
            },
            "action": {
              "type": "Rotate"
            }
          }
        ],
        "attributes": {
          "expiryTime": "P1Y"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "36"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1707356352,
          "expiryTime": "P1Y",
          "updated": 1707356352
        },
        "id": "keys/livekvtestrotation-key63fd2a58/rotationpolicy",
        "lifetimeActions": [
          {
            "action": {
              "type": "rotate"
            },
            "trigger": {
              "timeAfterCreate": "P6M"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrotation-key63fd2a58/rotate?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "174"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1707356352,
          "enabled": true,
          "exp": 1738978752,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1707356352
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrotation-key63fd2a58/15bbc4e83dce446b3a99f514f48bc61e",
          "kty": "RSA-HSM",
          "n": "iGhCjsyf852aTgzDYBROaQLiAtSK-nRgaHwFiN0r2kyYMhnRb5jAl-0yubhH24G1urxAue9xmUermXwuFcceAFSPx81XKhsgMnCwW4xPuxDGlH-2rI1zulLS4lxJAp4AFso6W4vNU5vFuXJl-ED4N7a9girqUTEatb0Tar6sTSz9V6XSrBGm7aAiG-WttvJqiF_WHGanoYeXQEenY0YDfExRbsq8aNXi1SBoicWz8RxfG_nUG0C4grzFpmlXnF0eEaJcptQKln5_NtB3kl7JFa-GsfudwxXeoLhBm1D_K1FNZw2wTI7gXo9O8vT3pF9Bnk28JRvD1tvdrjGSh3CKWQ"
        }
      }
    }
  ],
  "Variables": {}
}
