{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestkey09b572bde/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestkey09b572bde/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "73"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1782496999,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1782496999
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey09b572bde/c594ca6cf7fa0c01abafcb6f2caea0a7",
          "kty": "RSA-HSM",
          "n": "rtYWlM1GtLESggM4QgeHYdMTrlsHJXXKD7sdQltLkbRwKUBfIUCeLplbeoWwryxXq7-Ti50s-KhSC0pTga2mtNIz__re87NfapG5_7Gexzpuq14ubeUSijDwcSiye1ULhX4bteiGNW-THFc7f0YG1sdmF7m769Qxj_qv4p-OsVgY4FciCwWpWtCOqdhXT1aM5NrFmZKjQL4fpp_QGBTwsJTeGMedn1Pv8EbUjSe5aI7q8e5AeUSQIBYb-5sTOhO7n4k_4KdFjJ4OBEThhHYd9Gaw9MKbSX7eMGxyncyKa5sib3J7VtERo1NohJ_n5sVnhC1yAjaVHoAB3C985ogG[...]
