{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name319e29e1/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name319e29e1/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name319e29e1/66334dbdb81945c7a41d79688a99b563",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tPcxSJt_vVZYCr6ZB8KAFyBWRVVSrWWXYMO8QE0oNqcRTnkJdN4BGYy-H_MSvBOfLFILJmLzINfDIslni7ZdP3mVCKobY7A5xaaA78QWhwvJ0dThs2mc8hiDHH5nbQ2_kD9pDmSyzyTKD82vTOQnZfQPL9n2rRAsJowrF09X33jBaLAGcm0oMMK_-M7geTZr4vDLzS-KTqJ8b82jGkCXi6zp_0XNRJyja0YNPxURAFuCr8kTgxd9I6CAXsGBPRCzxpVtx2wmayj80es91kMk1VuIedSbl9vBQloH-SBiaxKBgvUq-IZ41it_4upGUjyDNU6n5-qs-tbRdn_tqNCTGQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1782496826,
          "updated": 1782496826,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name319e29e1/66334dbdb81945c7a41d79688a99b563?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/li[...]
