{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-verify-2048fb5c33b7/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "4"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-verify-2048fb5c33b7/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "232"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1691709702,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1691709702
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-verify-2048fb5c33b7/3deb15595248008d19e476c7cb8c5c09",
          "kty": "RSA-HSM",
          "n": "r2l2NsFvq-hLmmj7GmSCq1b5FsSxDjlzwDuAMgMsEswcoLpYzdADoMO_MMdmGGfjYYSlAb0ERhtPjRFnNTUge55AfMFADBUIWkpcXEioN4Ci_XwJoxdHu_zvZVo8PHSUQs6UDb8L5ix68j2w6RmXvLZQJfTvLw_Ns-aKTsMX7EahgzH0hmWUsSocxLNVWjCh96p6DvOXyBjDnCGcZ5VXmP4RZnt22JlX9cqq4HL0bZeTlRtwqF1JgPnRh-rHN38F3LoZF_i95ds7HkeA5P6lAA_ldIpQnrpIU1cLx-_rYPggbR_dchU0ZahM1bsmI7MzjeRJhKbkQezGBv31e4xuAw"
        }
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-verify-2048fb5c33b7/3deb15595248008d19e476c7cb8c5c09/sign?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "26"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-verify-2048fb5c33b7/3deb15595248008d19e476c7cb8c5c09",
        "value": "QlB3RfE5R8IBLr55bYtTEaBusILBzXkqZyMR7cfQiX7f0mnnK-kHQl0D04CyRaXKsK0Vs58FUwNZASUfgwwD5Qr8nbOgiMXHWqiIqIeFu-AWDAODVN52Ur3Rq1tILmY5xCy9D11I9kZShXrWO20I1Qf5f3ZFRen87PRPPCT3aGUYPE-9_y9ORZmhFweKH9vwW4rJbrFFHATw7OkbvwuF-j95JDdinki31PfXMLkNui62cVbuGZDGIwAO34Bh1sgb9nhx5t_5vt8Lmklk1G_OqPQri0zTt4MUns6M5_ONwPpO-tKBwb1Lb7eGbsYk7eTxIFscJawytahVwExOFhQeyA"
      }
    },
[...]
