{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-not-yet-valid92b3b32/create?api-version=sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Sanitized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-not-yet-valid92b3b32/create?api-version=sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {
          "nbf": 32503680000
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-not-yet-valid92b3b32/1390e77ae6f54f9cb3b9ccab60d817d4",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uxjQ_B7X8j29JQWBfEkleB928WGVy3Ic_XE_YJGN8uvFYVmSylhG9V3DwgTTNzBkrz08YANjE29sXBsDGfGysjRRZuZwiRGw_lS04evoajRncMTakIbq7CGRHn_UMzTofIbwHmcu23OKYPiP4rM_XtTZzNpEiYLa-c375HguXLVs-18KVeC0n2H5JT6hhYVQ5br13GaVpV6JniYGnA6XljAKaVGXbY3J5-CaELDW69kocJZ5XBN-TgFOfhv21T2XAhHfqRS3AKr3vnHpaHri6R2RoSv-K5HRiY9u36MXhPziKMcyZCeV30Xonxx2Po_IR5GaycogF11T_TH5iD8tkQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "nbf": 32503680000,
          "created": 1714536655,
          "updated": 1714536655,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-expired92b3b32/create?api-version=sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {
          "exp": 946684800
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-expired92b3b32/58318f2a509245b29982cb89f68f44e9",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "qwMgKBoQyKtBh5gY1Ei3WBAnVJ2owGpxsMR5b71aQ6I--aK6Uc1DfuA2vMWyDPn_u_q38KNnALJHESIxTkHeTqyPOSpOYy60xdmTbHnHwZi4u7qSY3vtsCxDF6KuMlq4YH2t-n5IYkkGeZ-3N_qaXsmdapn2TPNY3rtkPhsHkx0LbCVPzn1lB_893QfVRO5Mdxaak8BJrYHYrNf8CJf8H1klh3Wle3P-64wITJZG-e4Hu9tiQcfGezZhSzI0IyUDNxIB3h6NoDb8Rp-wxuIhPHukPQf6SpvFEKrOdiEZI0hLX23u3WHPyReXGVB4P5wM-MSjKpi1WE7RXbDoioX9gQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "exp": 946684800,
          "created": 1714536657,
          "updated": 1714536657,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-valid92b3b32/create?api-version=sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {
          "nbf": 32503680000,
          "exp": 32535216000
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
 [...]
