{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey0b55728aa/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey0b55728aa/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey0b55728aa/12fc413172ef4cf0b4ef9f97e0be3ef6",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "w0_2CrjiFSL2DLGGOg9GqV6zUdyXaJ8sAUgAQZoSR3I3k2lFQ1B8GVrWi1BC6F3uJd5CO2OxNILmaSBJTR5p4AgS1-2sGVJ-DP9Pw5tRCE4apsYL8eiCpXxCmNRsHKf-ygKOKiJaz4Go9TaS8n-rqX4TImGl1nzifQPmk-5OVnwEzprutesP48H21B6SCn84c5V5jdzbMMIrz8c7onU1kOcrMFzfVYBT7wSLLjnqhqHqZ2hel-VaEKihF8HiKw0ChxmD1JAOgsIxmC_R2G_bb9zv99ZvUwLZjWhBkBfl4EDvR6_XSPlHi6K4Bxeu2DNy3PezVntEmZduEVe0mRDjyQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1667330805,
          "updated": 1667330805,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey0b55728aa?api-version=7.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey0b55728aa",
        "deletedDate": 1667330819,
        "scheduledPurgeDate": 1667935619,
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey0b55728aa/12fc413172ef4cf0b4ef9f97e0be3ef6",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "w0_2CrjiFSL2DLGGOg9GqV6zUdyXaJ8sAUgAQZoSR3I3k2lFQ1B8GVrWi1BC6F3uJd5CO2OxNILmaSBJTR5p4AgS1-2sGVJ-DP9Pw5tRCE4apsYL8eiCpXxCmNRsHKf-ygKOKiJaz4Go9TaS8n-rqX4TImGl1nzifQPmk-5OVnwEzprutesP48H21B6SCn84c5V5jdzbMMIrz8c7onU1kOcrMFzfVYBT7wSLLjnqhqHqZ2hel-VaEKihF8HiKw0ChxmD1JAOgsIxmC_R2G_bb9zv99ZvUwLZjWhBkBfl4EDvR6_XSPlHi6K4Bxeu2DNy3PezVntEmZduEVe0mRDjyQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1667330805,
          "updated": 1667330805,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey0b55728aa?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: livekvtestkey0b55728aa"
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey0b55728aa/recover?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey0b55728aa/12fc413172ef4cf0b4ef9f97e0be3ef6",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "w0_2CrjiFSL2DLGGOg9GqV6zUdyXaJ8sAUgAQZoSR3I3k2lFQ1B8GVrWi1BC6F3uJd5CO2OxNILmaSBJTR5p4AgS1-2sGVJ-DP9Pw5tRCE4apsYL8eiCpXxCmNRsHKf-ygKOKiJaz4Go9TaS8n-rqX4TImGl1nzifQPmk-5OVnwEzprutesP48H21B6SCn84c5V5jdzbMMIrz8c7onU1kOcrMFzfVYBT7wSLLjnqhqHqZ2hel-VaEKihF8HiKw0ChxmD1JAOgsIxmC_R2G_bb9zv99ZvUwLZjWhBkBfl4EDvR6_XSPlHi6K4Bxeu2DNy3PezVntEmZduEVe0mRDjyQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1667330805,
          "updated": 1667330805,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey0b55728aa/?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) livekvtestkey0b55728aa was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey6b55728aa/?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey6b55728aa/89189900482f4941b42837e4d7b9894f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uCV9gQmw7Ee42rQKKVlcdZAzJ6QQRwa89tu3YAIkF-WIICD4a2UtPfXodAe7m7tlVXIPHIs-H8HoV7LkG8LOTE4kJ9nFVLMyw3-Gh-UDI60Uvz40DNfZi0n9zHbscnAO2pxqYAgKiIE64ynkyq77zamX9xrq9aAuH6moxh2Efr3EimLwyCSdkjPdU__-uS0TlV0ve_77zXZ1-V4GUMM9S100_jqfZVYhGcYgH-3FvdowCevYc1pD--nXMg2-jYXYklSfrxcfO4XjcohWl3jynkrK0bnuIQm5jgS1MQrVs_GSzqAv8OOas86cBqlEADeTPRAQmSp4k-wjPmNMfnZvEQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1667330819,
          "updated": 1667330819,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {}
}
