{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256955b3222/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256955b3222/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256955b3222/c0e69ea7869940368ac95e8d3fa3cda1",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "TlJzy8piiU4QP_6NHSr6FlDqgegKiXhUvw5eUbGFW-E",
          "y": "vXEFo1_yee7hQFAoCGV6ngmIhLyFb4tOnhwxB6quros"
        },
        "attributes": {
          "enabled": true,
          "created": 1779476403,
          "updated": 1779476403,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256955b3222/c0e69ea7869940368ac95e8d3fa3cda1/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256955b3222/c0e69ea7869940368ac95e8d3fa3cda1",
        "value": "tpVjgzmAOEcUTV_03-lmVkjDzFq07H3V_I-4oZYryPbrG7m-qWH2TQUzS17QdzX3jI3Q4LHamADzOCoYPsPLhw"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256K955b3222/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K955b3222/33bd92e483f14fd18422e9493ad02363",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "2UyWhqaWUnROI0N2qsfBmtfo2a6w3OIPQ6HYh7V4BaY",
          "y": "7k7H_ja0A3EzQOGqLUz7iNJqH-HvSoeJyh01NKGiIdk"
        },
        "attributes": {
          "enabled": true,
          "created": 1779476407,
          "updated": 1779476407,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256K955b3222/33bd92e483f14fd18422e9493ad02363/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K955b3222/33bd92e483f14fd18422e9493ad02363",
        "value": "R-57y3AZxNeiAJn3A4iez6A8CLwb_hfrHwbrjPtXaZqS1CPtZac69OoXhbrT8xAa59n2_Q3JlL5160v-pSqdkQ"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-521955b3222/ae528589886a44669b9b1e8a5f66c573/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-521955b3222/ae528589886a44669b9b1e8a5f66c573",
        "value": "AZGiyCAAWR_Qx4hWaAL07o1JR_aM_YyjdiPotswHqjI31SroLvqizp2P8X-pHhuH1tE6chlYewrG8wkjCmfQ3t1IAKhYMnj2JZz6mJD7lIukx5kvCRN6dx70pD2BrqLA6F1O7XAYaeHA9lYTB0UDVUQpPCE8BZrE12IhEo0wrPxvkt7A"
      }
    }
  ],
  "Variables": {}
}
