{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestcrud-ec-keya1c62d3a/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestcrud-ec-keya1c62d3a/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM",
        "attributes": {
          "enabled": true
        },
        "tags": {
          "purpose": "unit test",
          "test name": "CreateECKeyTest"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "118"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1748906691,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1748906691
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestcrud-ec-keya1c62d3a/41cdabfcb2f00ba3254bcb6228dfdc0a",
          "kty": "EC-HSM",
          "x": "mS8QByKF61X7kmmLTZss4Sq5AMk9gV0hshsfmVqmwQU",
          "y": "F2h_77Sxu6STsgBI1regoMnIZJ8X7uq2MzFG6h3P6vE"
        },
        "tags": {
          "purpose": "unit test",
          "test name": "CreateECKeyTest"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestcrud-P-256-ec-keya1c62d3a/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "115"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1748906693,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1748906693
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestcrud-P-256-ec-keya1c62d3a/de4eed0eafe047f926504fd8b8ad5981",
          "kty": "EC-HSM",
          "x": "BInL7m4JZqBNbSyHbmJg5uXyYzMCNrlYbAXyKpne708",
          "y": "CFI1hXA-AA5Drga405Ju5FEFartluYRGm8Y3i9kA4u8"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestimport-test-keya1c62d3a?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "AKCRTQAjSsaDshtMFdW-2Ie9yVnC5Xr1Suc06PAHINd10nXkVSB-N4TO62ClCkZV3XKnqU0nHo7o95WaZpym53W_DiO62umRtFKdl4UotL2QUh0y3SZWeWuoK2u_x2aMj17rUFN0f9GZMZ0pqEQNCPRBLVJ_-TEe2nGCWSC0exxGsRqz6R1zFkB-icfzQPe4WjQELOUXQ7J9RxhAPTTHtDivYYG-BeTRHrmF04JT1_6b9T_C8bAC0i0teT-nmlBLarQtBJKATXBx1yegbPOoiTqlQrFQP4MrKWNxtnB9Tcbjcvj-Z9je0ckI_eRc4DvAhqcUh_p15Dqg4GeaoNIO_jU",
          "e": "AQAB",
          "d": "Ynx9JGaBSP4iUsf6ZJ6opantRNdcdmzaQrKbZg6ZQE8Ohi1FYabJWvaoPSE-CiJEsDzShXZHMhUHN4X7Bn8BXaGQhK3p9HXgiwQKmix7oAJTu4ElUIyd8UC3UWHSZr40el4PaQD-HYu_eMzCXus34MnRiNbh_BUWm6T-Eidhk9d3kNIyaSi9YNDQHW6tjWrEhhq63O7JU1j9ZonFChZxpKk20jdkQKQURVAdpOdL-5j4I70ZxFuU6wHZj8DS8oRQfwGOvZKbgYDb5jgf3UNL_7eACqq92XPVX56vm7iKbqeyjCqAIx5y3hrSRIJtZlWCwjYnYQGd4unxDLi8wmJWSQ",
          "dp": "AMmhWb5yZcu6vJr8xJZ-t0_likxJRUMZAtEULaWZt2DgODj4y9JrZDJP6mvckzhQP0WXk2NuWbU2HR5pUeCN2wieG1B76VKoH76vfnaJDqT1NuJVBcP2SLHog3ffwZtMME5zjfygchG3kihqOSpwTQ9ETAqAJTkRC38fEhwAz_Cp",
          "dq": "AKC9TAo9n2RDaggjdLXK8kiLrBVoaWFTpqXkzYXRhtsx4vWPAkxhfSnze05rVMl6HiXv7FnE0f0wYawzUJzoyuXBH0zS6D9BqCZPeF543AmWB27iPf38Q9Z8Rjr6oBgMSnGDV_mm8nDVQkeaDyE4cOZh-5UKvKShTKKQVwunmDNH",
          "qi": "AJ_nrkLpK8BPzVeARkvSHQyKwMWZ-a8CD95qsKfn0dOZAvXY-2xhQYTEwbED-0bpTNEKbIpA-ZkaHygmnzJkNbbFAnb9pkkzU8ZQqDP3JNgMfVIroWx58Oth9nJza2j7i-MkPRCUPEq3Ao0J52z7WJIiLji8TTVYW_NaiM1oxzsH",
          "p": "ANHerI1o3dLB_VLVmZZVss8VZSYN5SaeQ_0qhfOSgOFwj__waCFmy2EG7l6l6f_Z-Y0L7Mn_LNov68lyWSFa2EuQUeVj4UoFHc5Di8ZUGiSsTwFM-XMtNuv8HmGgDYLL5BIJD3eTz71LdgW-Ez38OZH34b7VeG8zfeUDb8Hi30zz",
          "q": "AMPcZrZBqbc82DO8Q5zTT8ZXRGWrW36KktMllaIk1W2RHnRiQiW0jBWmcCgqUcQNHa1LwumjyNqwx28QBS37BTvG7ULGUoio6LrOeoiBGEMj-U19sX6m[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestcrud-rsa-keya1c62d3a/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 2048,
        "key_ops": [
          "encrypt",
          "decrypt",
          "sign",
          "verify",
          "wrapKey",
          "unwrapKey"
        ],
        "tags": {
          "purpose": "unit test",
          "test name ": "CreateRSAKeyTest"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "81"
      },
      "ResponseBody": {
        "attributes": {
          "created":[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestcrud-rsa-keya1c62d3a/2ac5304a812b4ec92f5509b2c38bccb3?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250507-1-41b99104-key-verify-fix",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1748906696,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1748906696
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "sign",
            "verify",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "wrapKey"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestcrud-rsa-keya1c62d3a/2ac5304a812b4ec92f5509b2c38bccb3",
          "kty": "RSA-HSM",
          "n": "p4DxP0gBPxYl3W1FzXG7ppUb7RRZYoc5s8LVRMr4o3-zmHQ5yDE0LeNi6To3KpPiXQ0cCFa4-dKP8OGjP8WnjaePEwrtuM3kcjLu0xTpUtChEGtvGuh0HA_KhIU4FTOsRoJvrXAd_LpG9saHnhL9ER3G0tanxZfRnaQs5nOjAizmpwkA4x0UkwCUcNBBM9quU7BwWBp-hqR4RJYQeM1GJeju6dfpthF_SPyXWGxt0hbJ_q59-Sv2xH3gMuhKvUR59u7jzj-yE5NsPaRvuWCKlnBKQYBkGYU2PwXYcBE_ZD0Crln2Z-F0RtvrdpaUaAalJUC9PAtQSEG_c4vsSpXf4w"
        },
        "tags": {
          "purpose": "unit test",
          "test name ": "CreateRSAKeyTest"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestcrud-rsa-keya1c62d3a/?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250507-1-41b99104-key-verify-fix",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "attributes": {
          "c[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestcrud-rsa-keya1c62d3a/?api-version=7.6",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key_ops": [
          "decrypt",
          "encrypt"
        ],
        "attributes": {
          "exp": 2524723200
        },
        "tags": {
          "foo": "updated tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "29"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1748906696,
          "enabled": true,
          "exp": 2524723200,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1748906699
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "encrypt",
            "decrypt"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestcrud-rsa-keya1c62d3a/2ac5304a812b4ec92f5509b2c38bccb3",
          "kty": "RSA-HSM",
          "n": "p4DxP0gBPxYl3W1FzXG7ppUb7RRZYoc5s8LVRMr4o3-zmHQ5yDE0LeNi6To3KpPiXQ0cCFa4-dKP8OGjP8WnjaePEwrtuM3kcjLu0xTpUtChEGtvGuh0HA_KhIU4FTOsRoJvrXAd_LpG9saHnhL9ER3G0tanxZfRnaQs5nOjAizmpwkA4x0UkwCUcNBBM9quU7BwWBp-hqR4RJYQeM1GJeju6dfpthF_SPyXWGxt0hbJ_q59-Sv2xH3gMuhKvUR59u7jzj-yE5NsPaRvuWCKlnBKQYBkGYU2PwXYcBE_ZD0Crln2Z-F0RtvrdpaUaAalJUC9PAtQSEG_c4vsSpXf4w"
        },
        "tags": {
          "foo": "updated tag"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestcrud-rsa-keya1c62d3a?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "30"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1748906696,
          "enabled": true,
          "exp": 2524723200,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1748906699
        },
        "deletedDate": 1748906700,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "decrypt",
            "encrypt"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestcrud-rsa-keya1c62d3a/2ac5304a812b4ec92f5509b2c38bccb3",
          "kty": "RSA-HSM",
          "n": "p4DxP0gBPxYl3W1FzXG7ppUb7RRZYoc5s8LVRMr4o3-zmHQ5yDE0LeNi6To3KpPiXQ0cCFa4-dKP8OGjP8WnjaePEwrtuM3kcjLu0xTpUtChEGtvGuh0HA_KhIU4FTOsRoJvrXAd_LpG9saHnhL9ER3G0tanxZfRnaQs5nOjAizmpwkA4x0UkwCUcNBBM9quU7BwWBp-hqR4RJYQeM1GJeju6dfpthF_SPyXWGxt0hbJ_q59-Sv2xH3gMuhKvUR59u7jzj-yE5NsPaRvuWCKlnBKQYBkGYU2PwXYcBE_ZD0Crln2Z-F0RtvrdpaUaAalJUC9PAtQSEG_c4vsSpXf4w"
        },
        "recoveryId": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestcrud-rsa-keya1c62d3a",
        "scheduledPurgeDate": 1749511500,
        "tags": {
          "foo": "updated tag"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys/livekvtestcrud-rsa-keya1c62d3a?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250507-1-41b99104-key-verify-fix",
        "x-ms-server-latency": "5"
      },
      "ResponseBody": {
        "attributes": {
      [...]
[...]
