{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestwrap-localcc103659/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestwrap-localcc103659/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 4096
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestwrap-localcc103659/68edf5ea72c24830b35f9e2789a1d814",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vzg46jtnEWD_iFodwYdW2KZ2r-FAe-uLmXVaw9ndA0LX5mAoH60dHXez2pb51y4Z_XqxcqPl87LXJlGSAYU2aVGU9h3g3XLYUNiO2Xa8LOHqe3Sk2CqB0cUX_SJwFiKxPLr-_ryBuu-vJaxLJGEpeSB5Dd5izV8SHunvr9d74EMyTBc7YxlIPGMDupI0FTGcE76PAglcIeH-sCi3lyk52wH8HX7EuE7EUOgnn5MQl1HXEzlZRJBAzxF-Z3bd8WJTI1gAmZzyXTaCPs0_aOlYJEruFUQ7cye60jKhsgN4-BBO2txJUPSVIRoNp7PyuPsQWyR5l-pWyKkk38ba-QrFtd6ACQr89sVB_exbMhi2vC6vOcwe7ryyB7WsR4v9wvrfvjM3wd8z_sqH6x-5PuGhXyEh85Qt9zFrPxmPPhSGICuKbqDHdW1VgAtsL2Nw9bq7OXImjYacrTw1ro2N-eRCCCeufrb8t4RZZAkPt8CCWbrLhsE5o3UGAC3zrssBZKp75UqHPB6QqtaFW2AhXO_33W-QohrqIE0IvM7QT6DGN6ORU1r5zB303ZMYwCKN10s_XzTDrfaxtrHz8EoCLLuG6DtKPRJ12NuELNO7vNmcOpzTPxZooWOumxvoTRO9RcSSnWIE-01QDptpQC_H7TJ0tCsXeRQH3w6LBQYULDtZFOU",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 4096,
          "created": 1779390889,
          "updated": 1779390889,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestwrap-localcc103659/68edf5ea72c24830b35f9e2789a1d814/unwrapkey?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "bJqn3IzejwgG0YlyyFAwc58WgJYEjIfhLWb6HngInQ4Q6hkpHdnEglLFBL3jOarpeJntmYFpSe6q4lCCFBXYWIezGa7XMzXyFEXARboIdT9IL2hYVFMdCCXlTkLhJx0f7djIeRfaxWkVTfzNv8GkepEeAp0VWdsvRr8Xa3EBeG7haBI46oZ1JmrSE6-_d8SLYDX-YAzNtHpMd7S2MW3kFLhiMNkQwe8qZbjtM7V0iSWlwYzENZxZv_tbeROJBqbF7XMPu8VSw0ghAyC-iEzvlP0Axplod2W4hmRr8eAfLknXEZkhvDHQk_9czpVJr0tE_llwrcbYbpot3uPxMCN7uCN0kjblFJF2RBVe9PXjWqI_h_GhnQTqvrZFvfMDJmYbY9rJ4MzvFsoQrno3Qc-AGOKJKuAazPxqahiW4VjLRldIUf2FAii55AxhPGxBzPl1KFfs80L_DzvDw18upsZuI4LFNjFIB8N6qUgYzJetIjY8juLPHi[...]
