{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-key-nameb0ca2ae1/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-key-nameb0ca2ae1/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-key-nameb0ca2ae1/b9bf4b2efd874577aca5f9bf09806805",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "9IPVgnqE4E7P2UK5fAosgQ21GYK3DC6B-PErHrutR8Z3MbftKe9eyOs1H3yRPSCrkL3G8yaibv_AiceQ4qyhmsX-vvwElI2TcxcI4Y6V8SzR2S6HDKlBcUfvZmqiUb74tc7-kxNfpCENadT3Lzr8i9GDurcN8ynR9QtVIbbUwnPYHgGmPA2hJ3E4CvGnZCzBi5oFW7dkgo9_CoKwJwjlqnPw-jXaEY19-TLjwndOWFLY_A2slgtvK1e-pyIJjsojSQ91Yhq2XlmqUNfOHph5ZbgS0EHVro0fHdXyx9ZYfnWikFZOHYKmpNgF2LZQOWxl-7OKpp-22KsKvoDANVSJaQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1748906599,
          "updated": 1748906599,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
