{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-key3e372c4c/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-key3e372c4c/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "public_exponent": 17
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "989"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1707356018,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1707356018
        },
        "key": {
          "e": "EQ",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-key3e372c4c/f1364aa3aa51438f32f6cacb17b6c5bb",
          "kty": "RSA-HSM",
          "n": "yWJKmqfBgeJUcb3nPn92xZKNT4K4x3ckyHEAoGV7FCXBdrTG3wzJ4pQ0bqHMQ8TGS68L4nMZgnCMDmWyvByK3sGWfm9xVdZUSoxZOYIRqSYSMcIfYwHSIhhaVMM_5phWjppgI0d7n3ec3MmQGcavMOpuGHKFMkE5egE_MENYtD-I1hiw0xidDlU_z70D36kcwel26zoy031knsUJKQ4Qe1qadRDSV3-hwOOYYlWPLFaEotC7Lmbdg4PFP93sMpDDWpufNSvBl7EriFo7xP_NkSYdYXB66h5MhPIBOX7U00U9BTbUNhKMeFQa2zF3Rfen8hJHiFa4eIMHxy4LSytoOQ"
        }
      }
    }
  ],
  "Variables": {}
}
