{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrotation-key326329e6/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrotation-key326329e6/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrotation-key326329e6/ba1ac19ccb9043888706aa7e32083506",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "1hZDnWKzqeI2gVTYV171pIDGDfFVaU4JjZlK_WPysNNTGWbyk6qkdvVjfXuupU-zMiXo1VLMFj70Q3aoG4eEZOyP2OfzljkNGolYyFN84qlwGpMgfd7372UfMuJtiIfccnZEHb4ha_z8uCi-R6IBxiDqLDLlZRxqB3eZV-QtWeJhktMTyiY6bRS1ocrNUN0f2oVFQTW4S5inM0a7uF9O0MlYn8AsWKr8kNdhuatCevtBzaQgaxeuJYUNoE-d9-WEynKGHRgDEaiJG5m7g9cZUbm8uubpAVOJ5-ymBsYzkgvtqh2xvShmhdAicsGDF1izhMMQs8-hdZEcNSgLyJ96hQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779468659,
          "updated": 1779468659,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrotation-key326329e6/rotate?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrotation-key326329e6/da9b72bd157d4f86b4107b82b1127ab3",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "xHW8cn4Uv0uaSx_OAqSM8YRlN5mrDmTirfGPGedzuO73hsbpIYKIayY7DTp3eWLbiY1ZmgfFOeBHQo6BKsBOnlvPYBIgnDTjXfszRIsAWQix786hYbXTIeEtbncSc0xZY7QAx8bJujaoT730YOjTsjbEWt-NBF7pYFki85XQ1hrdG5-ATOScJI6OsvzBzyJ2tHW1NdNpxg637cYUI-YLlwODRABTX7iGmesmfmIO1K9f8U-2OHXC0rfS3L0KvHAd-XY5cq9jAhJ14puSuLwaSah0lby4eBoqj9aUmlpIW-29crGmYnCvl8bItrLK3yKT94D_sfPyFvRs-1EoY5eKGQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779468659,
          "updated": 1779468659,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false
        }
      }
    }
  ],
  "Variables": {}
}
