{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key9baa343a/create?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key9baa343a/create?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key9baa343a/6f9769fa0d2f4e6aad3c245afe30a5a4",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rxzWUQYEMBb85fabe5VwPsd1YEZuhVgpK0PitNemo9iaioaMHISeG7Ix3N2473RroMAo5nbKkbAz-8kVjfAUbjQErk9zgKHcAh84HNvrdFikbSCWJcpGnDcQHjeISC7A5r5-o8reocHhoLsV1PIPuZnIHU1bjPWLnrb2oIGNpupMdtw-qHpnO-m4qTbGy2Suq_IkR3as5b2rxLjXQACBT7X59vhO8vbrVXDr53kKFcqQVB_vfbz4HNuNmryeZqkhgLQRXtTjxA9x-rnFlYEfs6-ITuSfSU7s1RdCzCRuSDrl2yxJZmd6DgTwwr3BoHhlvz6kLKURD-wCjxpD1Ng5zQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1741729800,
          "updated": 1741729800,
          "recoveryLevel": "CustomizedRecoverable+Purgeable"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key9baa343a/6f9769fa0d2f4e6aad3c245afe30a5a4/unwrapkey?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "czXfJ8oJzx8v4zGhWiuBzUfmT9kOuLPPzbLRAfWNQ-esxkPUg44ecGRh6rPHnrSweASe95sxzhVODgYSHhRPOwPCGHa5F2a6XLDffqiG9MaoK1nwqc80MXTZTqRWWIhg1hNaGNGI3aD10HqaIN-D2udCkPEZurkqdCcEz43uEuwcupugSBCakjGhjRgnWZDD0BwX0ois_cwB0mDc1YxrGr0mfl8l0UcZBN0GcVo5Q_gv4vzGZK27Hs6bxBWTfxdo7VKcUYoL4VFW52h_dMDeTxo0PIfPzTjqIIe9JPYxF1VpB4DR_c7OQjReDIc4blgYve5h6fVwj-0KTZwYl7hZRw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key9baa343a/6f9769fa0d2f4e6aad3c245afe30a5a4",
        "value": "xbD88UOKiHBqEY3llOj_BA5Z_nWK6TwGKNt_qX6FAgQ"
      }
    }
  ],
  "Variables": {}
}
