{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtesttestKeybe8e2b4b/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtesttestKeybe8e2b4b/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtesttestKeybe8e2b4b/a4316f4884f3432eb30c1b4801d4f26c",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tsARh8Q-65s4vaag5ay2wSVcIUmMOlpIm4fSuPohqhQt4-wshxI9Wp0R0Q7JImyJ_fn7em0cDrlDk5NNrCV-FNnJtvx_3hS2x6nnJ7lMQ0KUwFX8lcNULpvVpiv_BJClFUN9LfgXBbWrJQA4ocFmDBHiV9mG-fBgYHYE62jzruMK3dSH57Tb3aAkLDH9N_tEQjob80xHDaWEfvpvDYrNWB2WEGB9XWZX7QyPeaVH2cO3g_Z_YT2Wo4uUckeAFeP9EI8-uIACvsuUGhG_kA8jp2RdsjET7DfKdnqcnAIbuy8F-v7t94145ByyAEv6MJUTNRmGrY4OveBZbT8O0pHCbQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1707349806,
          "updated": 1707349806,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtesttestKeybe8e2b4b/versions?maxresults=6\u0026api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtesttestKeybe8e2b4b/0ce7bb113660450cba024c8760cfccca",
            "attributes": {
              "enabled": true,
              "created": 1707349819,
              "updated": 1707349819,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
          },
          {
            "kid":[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtesttestKeybe8e2b4b/versions?api-version=7.5\u0026$skiptoken=eyJOZXh0TWFya2VyIjoiMiExNDQhTURBd01EWXlJV3RsZVM5TVNWWkZTMVpVUlZOVVZFVlRWRXRGV1VKRk9FVXlRalJDTDBORFJqazJNelkwTjBWR09UUXlPVGxCTUVZeE1FVkJRVE0xUWpRME5ESXhJVEF3TURBeU9DRTVPVGs1TFRFeUxUTXhWREl6T2pVNU9qVTVMams1T1RrNU9UbGFJUS0tIiwiVGFyZ2V0TG9jYXRpb24iOjB9\u0026maxresults=6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtesttestKeybe8e2b4b/ccf963647ef94299a0f10eaa35b44421",
            "attributes": {
              "enabled": true,
              "created": 1707349814,
              "updated": 1707349814,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {}
}
