{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestmultitenant-key88623872/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestmultitenant-key88623872/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "102"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1715136850,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1715136850
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestmultitenant-key88623872/2b18b71e5c414471089e2f3f3833dff7",
          "kty": "RSA-HSM",
          "n": "ucuCt1zMNqNNZaL4FNdpBmBpqXmGBZf0M6syABAO3a392ICz_3TPVFcniUq6letzNkM7MsOp9Umya-6opVbgRaH9oVa8Tux11vcaM6CkbxT6AnK10YYlDg7BNkXTGFsNM0NbDLJ_Dw2JwyB6lKYNqhIlS2D_2GFFg1DwZziQYVG1FbcYyRy1CI2zOY3Gn1PQmER37o0O1N_pzaMktvitecMo6P1YZeSiv54UahDWPDairyni1bcGZlNoSzzeUH92xxhwMcQ2eBfMvGffgElIgZypO_2cQX91d0aqzMu8YRYvoWKut7uOQLwCpi763_N_JN-H9zdehxBcpYIZTwxb8w"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestmultitenant-key88623872/?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240409-1-59392ba8-develop",
        "x-ms-server-latency": "4"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1715136850,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1715136850
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestmultitenant-key88623872/2b18b71e5c414471089e2f3f3833dff7",
          "kty": "RSA-HSM",
          "n": "ucuCt1zMNqNNZaL4FNdpBmBpqXmGBZf0M6syABAO3a392ICz_3TPVFcniUq6letzNkM7MsOp9Umya-6opVbgRaH9oVa8Tux11vcaM6CkbxT6AnK10YYlDg7BNkXTGFsNM0NbDLJ_Dw2JwyB6lKYNqhIlS2D_2GFFg1DwZziQYVG1FbcYyRy1CI2zOY3Gn1PQmER37o0O1N_pzaMktvitecMo6P1YZeSiv54UahDWPDairyni1bcGZlNoSzzeUH92xxhwMcQ2eBfMvGffgElIgZypO_2cQX91d0aqzMu8YRYvoWKut7uOQLwCpi763_N_JN-H9zdehxBcpYIZTwxb8w"
        }
      }
    }
  ],
  "Variables": {}
}
