{
  "Entries": [
    {
      "RequestUri": "https://mcpatinokv.vault.azure.net/keys/livekvtestkey-name819932ee/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://mcpatinokv.vault.azure.net/keys/livekvtestkey-name819932ee/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://mcpatinokv.vault.azure.net/keys/livekvtestkey-name819932ee/50dc894f25724ffc9421e426ae2cba89",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "6S395bhFhDZ9UbAexH3hxHGxPv3FZA6zGb3AIoluqSKr7YaNqIfU7rtjTI1fIXGwWzx8QStOucQ_b2oH52baChmbrzmfmnF-A4bE1xO_GYmxl2BL--ijp-WOP2EBL3B5d8RMEgclLD6dpZDA5_F6a8bl420GF8LEMzbQ1sCgLIjy6e5OnWKAuG8UT-6Zqsm6_zoyP82tKXQjahPvA70ANlLoNAEJWJd0ObfIXjhrtmU0E_hXY9ZeQJwNzQM0WUGFVb5W8gGc27_dHgCo3N9jL-JS0BoWz1bJCXByir7VRo-obmzGSG96OiFnM_-qJJ5zLy54UxvXsnb90KyS6wpZ4Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1691702001,
          "updated": 1691702001,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://mcpatinokv.vault.azure.net/keys/livekvtestkey-name819932ee/50dc894f25724ffc9421e426ae2cba89?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://mcpatinokv.vault.azure.net/keys/livekvtestkey-name819932ee/50dc894f25724ffc9421e426ae2cba89",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "6S395bhFhDZ9UbAexH3hxHGxPv3FZA6zGb3AIoluqSKr7YaNqIfU7rtjTI1fIXGwWzx8QStOucQ_b2oH52baChmbrzmfmnF-A4bE1xO_GYmxl2BL--ijp-WOP2EBL3B5d8RMEgclLD6dpZDA5_F6a8bl420GF8LEMzbQ1sCgLIjy6e5OnWKAuG8UT-6Zqsm6_zoyP82tKXQjahPvA70ANlLoNAEJWJd0ObfIXjhrtmU0E_hXY9ZeQJwNzQM0WUGFVb5W8gGc27_dHgCo3N9jL-JS0BoWz1bJCXByir7VRo-obmzGSG96OiFnM_-qJJ5zLy54UxvXsnb90KyS6wpZ4Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1691702001,
          "updated": 1691702001,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://mcpatinokv.vault.azure.net/keys/livekvtestkey-name819932ee/50dc894f25724ffc9421e426ae2cba89/encrypt?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "cGxhaW50ZXh0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://mcpatinokv.vault.azure.net/keys/livekvtestkey-name819932ee/50dc894f25724ffc9421e426ae2cba89",
        "value": "Akp0fxc9diYHyNgpRW1ctzuDjqPYuqvDHdO9UMpEQ_9qtyo1sd2hPIO5HdQ-I7ibGBe5lIJi3g1mlx-INYU8Ghkw1D7bPpR9ZZ9_FDgKPjRDJknBlG5rWApeDYEANAAtLVwE69dvO0qhZjCkXbhjj7v49lr_xqTlpKoQhU5vW5cLymz9JVl2GktbkNRecjne_tr8dmb7cBP5zpc05mwl-2Hyq2tGo32f7a_6mHMKLaJALnSV17giFV0K6QmgHLPtrYAdDmEx_BdP1BJwdaLM35JOE0vlK-xTHLjZtxArUmDImmBBRHeIzC99D9P3ln2plxVXud2UMzIxudYd9X9q7w"
      }
    },
    {
      "RequestUri": "https://mcpatinokv.vault.azure.net/keys/livekvtestkey-name819932ee/50dc894f25724ffc9421e426ae2cba89/decrypt?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "Akp0fxc9diYHyNgpRW1ctzuDjqPYuqvDHdO9UMpEQ_9qtyo1sd2hPIO5HdQ-I7ibGBe5lIJi3g1mlx-INYU8Ghkw1D7bPpR9ZZ9_FDgKPjRDJknBlG5rWApeDYEANAAtLVwE69dvO0qhZjCkXbhjj7v49lr_xqTlpKoQhU5vW5cLymz9JVl2GktbkNRecjne_tr8dmb7cBP5zpc05mwl-2Hyq2tGo32f7a_6mHMKLaJALnSV17giFV0K6QmgHLPtrYAdDmEx_BdP1BJwdaLM35JOE0vlK-xTHLjZtxArUmDImmBBRHeIzC99D9P3ln2plxVXud2UMzIxudYd9X9q7w"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://mcpatinokv.vault.azure.net/keys/livekvtestkey-name819932ee/50dc894f25724ffc9421e426ae2cba89",
        "value": "cGxhaW50ZXh0"
      }
    },
    {
      "RequestUri": "https://mcpatinokv.vault.azure.net/keys/livekvtestkey-name819932ee/?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://mcpatinokv.vault.azure.net/keys/livekvtestkey-name819932ee/50dc894f25724ffc9421e426ae2cba89",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "6S395bhFhDZ9UbAexH3hxHGxPv3FZA6zGb3AIoluqSKr7YaNqIfU7rtjTI1fIXGwWzx8QStOucQ_b2oH52baChmbrzmfmnF-A4bE1xO_GYmxl2BL--ijp-WOP2EBL3B5d8RMEgclLD6dpZDA5_F6a8bl420GF8LEMzbQ1sCgLIjy6e5OnWKAuG8UT-6Zqsm6_zoyP82tKXQjahPvA70ANlLoNAEJWJd0ObfIXjhrtmU0E_hXY9ZeQJwNzQM0WUGFVb5W8gGc27_dHgCo3N9jL-JS0BoWz1bJCXByir7VRo-obmzGSG96OiFnM_-qJJ5zLy54UxvXsnb90KyS6wpZ4Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1691702001,
          "updated": 1691702001,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://mcpatinokv.vault.azure.net/keys/livekvtestkey-name819932ee/50dc894f25724ffc9421e426ae2cba89/decrypt?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "3xTZ6jnqsJd-s1ijG9vLUhUE8ldIdWhCSxuxznUp_5eCJpVRu3B2OYcysBX5jqqsNlm8mjE4frahkuBbYfKxPbkPa3q057TmjwMOTGZx9dUj3dFJDeRp7cDCB4bpqb9Mp-jVf30-1THdaqs5btMP1xmOd1hFbLm1BOHFHPuUqgj2UgQX5xpgOy2fE7Ptg6ir5XHdbr7SHdGbcwhhzH9TRg3Z8I9SIUdJEflZw00frVPCDgoIk2RfkeBFf_RF99-TrUPt9eykB3GebpKQsI-ChMz_ZUK1DYnZwQPPsY5amUq1n-FO8Nj80vX3g86c79314YihfRZIIkgPNqELCbMFmQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://mcpatinokv.vault.azure.net/keys/livekvtestkey-name819932ee/50dc894f25724ffc9421e426ae2cba89",
        "value": "cGxhaW50ZXh0"
      }
    }
  ],
  "Variables": {}
}
