{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestmultitenant-key5b7d3758/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestmultitenant-key5b7d3758/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestmultitenant-key5b7d3758/e71b2f635f6a472c934c32e955daa34d",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "nLlffqptotOIkMlOqFdyZD--1NF-nDZgQBKA3DM0cgtfJRFuO6p7WzNLlc42KhzF-ybmx8LkmI-pHW3vbslE2jT-SCsilweuTdahJ2gLJ6rvNfCEcBou-ctMR1ydSrw7TMWcAbWAcjpcthk3tGynp2ebmOiO1Zzu7q5pSIpvXtLHbFv0MaQM_MdPBEqO3zaNTEJzMBgecbaulfBJNqtMka036czfRfORGtw1Fv1wIPSAubTXYW09p3bDpP2aJgXTptWQuXwM1mCHZPRfbmD2-ZL6JwLkeoxzTVlWM-QFPJu7MU4pQfuaLH7UEJcytJF6iET33lWGw99hJt107cx52Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1782495705,
          "updated": 1782495705,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestmultitenant-key5b7d3758/?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestmu[...]
