{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name319e29e1/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name319e29e1/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name319e29e1/cdb19f017be44b7eb02331281664d696",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "nRjZrpHM4OqG0lmwdWuBHntQfWyVp9IiCZlI023jkE5oO2eTeKgZ8ADXz40zyYqsZ29bHmDOT8v-fh8BYivhmeq8Sj68e4QsoLN35QRvAihgZOGiqq6W4v-GQE22-Vl8qZ4ipnyNPWQCgJiomRl1TfML3ghLbgRQlhxdTYetYFDM1ykgWk6Cyf07UKIAvwauLJX6iadHo4i6ZRhdoTyUumPwB_bt6BCmBsI65tvo4YUwCSuOhssObAfOncNOe5F2M14rZ57Jgz3Q22PCaJ_sDz9O4CCDNYeQuN58KOxPSHrgpjAI_-sDbzE0fDXXqjUwoeVZmCSOM5F5SQboKUdn1Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779407622,
          "updated": 1779407622,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name319e29e1/cdb19f017be44b7eb02331281664d696?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name319e29e1/cdb19f017be44b7eb02331281664d696",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "nRjZrpHM4OqG0lmwdWuBHntQfWyVp9IiCZlI023jkE5oO2eTeKgZ8ADXz40zyYqsZ29bHmDOT8v-fh8BYivhmeq8Sj68e4QsoLN35QRvAihgZOGiqq6W4v-GQE22-Vl8qZ4ipnyNPWQCgJiomRl1TfML3ghLbgRQlhxdTYetYFDM1ykgWk6Cyf07UKIAvwauLJX6iadHo4i6ZRhdoTyUumPwB_bt6BCmBsI65tvo4YUwCSuOhssObAfOncNOe5F2M14rZ57Jgz3Q22PCaJ_sDz9O4CCDNYeQuN58KOxPSHrgpjAI_-sDbzE0fDXXqjUwoeVZmCSOM5F5SQboKUdn1Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779407622,
          "updated": 1779407622,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
