{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256d7032da5/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256d7032da5/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256d7032da5/691eebfb13e147e197cec2e8034d0a60",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "SYv8x_NEXR7ibfaeCtdindd7OPd3qtc1hDGoojsXb2I",
          "y": "p-8PKXKaWyDJesDtu3K4bOMjgT2dYPqzHkj7LAwkW7Q"
        },
        "attributes": {
          "enabled": true,
          "created": 1707349178,
          "updated": 1707349178,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256d7032da5/691eebfb13e147e197cec2e8034d0a60/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256d7032da5/691eebfb13e147e197cec2e8034d0a60",
        "value": "HAdgT-S5uF_IbkZofhx8jcYuD5urxom39TIuzG_aNN4OeN8mFRlsCNL6L8KBjf6LkVXIy5b1PrWyQhOBaEYY9w"
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kd7032da5/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kd7032da5/f615d9c70a87438ab7108369e080f88e",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "Jv29BaW1Q69jyUdunE_Dqy4KHdCzgv7706Q8u9k2iYI",
          "y": "W2g5Cya-l--3gd7M7CuoHdlF0p8odB7-fYzNUKILnms"
        },
        "attributes": {
          "enabled": true,
          "created": 1707349183,
          "updated": 1707349183,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kd7032da5/f615d9c70a87438ab7108369e080f88e/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kd7032da5/f615d9c70a87438ab7108369e080f88e",
        "value": "-uQVKoUoCM3Ma2u0f_pRmPILqEudgqx8eG2BRe3oLm97Mxp4KBbqKi4Gm-nrmgkTDB-rZKJ3jx9x1a8rXfSgfw"
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-521d7032da5/50838a57d8cd42fe9056f01b252b334e/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-521d7032da5/50838a57d8cd42fe9056f01b252b334e",
        "value": "AN77u_Ntf-V9fnMPPj8q-X-BOGfV08gmiRj438ZbsLnT-bv_u3VHQ-QLf55gnp-FhjUYnqRA8XHad3gVQaH5FM0wAWN8duefB7G2t7cRHsA-4GiYJ5UsucAr9NWsPPDE7BROPB0CaOwLDIEZ1PEV5hQAf8V8hp3pTK_0I-YHfmyM-5fr"
      }
    }
  ],
  "Variables": {}
}
