{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrotation-key120c2fed/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrotation-key120c2fed/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "181"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1697668987,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1697668987
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrotation-key120c2fed/01fd235be97803a99763d3ab05298550",
          "kty": "RSA-HSM",
          "n": "i17wcWCGhbEGM6CZ6SJ93jPIz4bO_Ke4XMskRpy5FL_8IbRdtUEylg-dU7I1-sIJL-uQYClRuYc9zqb9tQbVR2shCH9kKxGaS0UgEHGPEO8z5hRkEiv_ZwoWU5rlIp81CUGLQ1pVtUbuVUJ943dNJNK8YaQYp2-JqM-gUF8j_kL9NygBpKmTY10BkvLwm7jpWB9yojUJYMriPnjk4jjN_xuIW6Dt1OPcaSJ7Qqrkk63rj2kruGfivHKtwuu_uaCsg1vpOc_dzEl-9BpziP0jkFPR2O8NL2dw7GuVYV3N71yanDAg8HM1IN0heMhn4nc1swLhwedMwizx66_OdtLwew"
        }
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrotation-key120c2fed/rotationpolicy?api-version=7.5-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lifetimeActions": [
          {
            "trigger": {
              "timeAfterCreate": "P2M"
            },
            "action": {
              "type": "Rotate"
            }
          }
        ],
        "attributes": {
          "expiryTime": "P6M"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "100"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1697668988,
          "expiryTime": "P6M",
          "updated": 1697668988
        },
        "id": "keys/livekvtestrotation-key120c2fed/rotationpolicy",
        "lifetimeActions": [
          {
            "action": {
              "type": "rotate"
            },
            "trigger": {
              "timeAfterCreate": "P2M"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrotation-key120c2fed/rotationpolicy?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230831-2-9231e16f-07-lkg",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1697668988,
          "expiryTime": "P6M",
          "updated": 1697668988
        },
        "id": "keys/livekvtestrotation-key120c2fed/rotationpolicy",
        "lifetimeActions": [
          {
            "action": {
              "type": "rotate"
            },
            "trigger": {
              "timeAfterCreate": "P2M"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrotation-key120c2fed/rotationpolicy?api-version=7.5-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lifetimeActions": [
          {
            "trigger": {
              "timeAfterCreate": "P2M"
            },
            "action": {
              "type": "rotate"
            }
          }
        ],
        "attributes": {
          "expiryTime": "P90D"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "68"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1697668988,
          "expiryTime": "P90D",
          "updated": 1697668988
        },
        "id": "keys/livekvtestrotation-key120c2fed/rotationpolicy",
        "lifetimeActions": [
          {
            "action": {
              "type": "rotate"
            },
            "trigger": {
              "timeAfterCreate": "P2M"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
