{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestcrud-ec-key3e9c2c52/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestcrud-ec-key3e9c2c52/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM",
        "attributes": {
          "enabled": true
        },
        "tags": {
          "purpose": "unit test",
          "test name": "CreateECKeyTest"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "115"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1748906422,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1748906422
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestcrud-ec-key3e9c2c52/d1790484ff5e0048272338fcaffbf572",
          "kty": "EC-HSM",
          "x": "o94rjh8X_KPr0itNFqrDbKlltLP19SRyyfgWi73mniY",
          "y": "gHed8F9ZvnosWbMKrjRF69uOViUG13TeTVVlo2aYMyY"
        },
        "tags": {
          "purpose": "unit test",
          "test name": "CreateECKeyTest"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestcrud-P-256-ec-key3e9c2c52/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "111"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1748906424,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1748906424
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestcrud-P-256-ec-key3e9c2c52/44f364c82f840f9222077ec3576b3ada",
          "kty": "EC-HSM",
          "x": "YfpH4JHRrrH3WGTO_rFNf9bt7t_LGFoImt-098TECWE",
          "y": "tpFtkKEpGPM_emT_FOOvz_jMxTxeXlZx_MDczcqBLrk"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestimport-test-key3e9c2c52?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "AKCRTQAjSsaDshtMFdW-2Ie9yVnC5Xr1Suc06PAHINd10nXkVSB-N4TO62ClCkZV3XKnqU0nHo7o95WaZpym53W_DiO62umRtFKdl4UotL2QUh0y3SZWeWuoK2u_x2aMj17rUFN0f9GZMZ0pqEQNCPRBLVJ_-TEe2nGCWSC0exxGsRqz6R1zFkB-icfzQPe4WjQELOUXQ7J9RxhAPTTHtDivYYG-BeTRHrmF04JT1_6b9T_C8bAC0i0teT-nmlBLarQtBJKATXBx1yegbPOoiTqlQrFQP4MrKWNxtnB9Tcbjcvj-Z9je0ckI_eRc4DvAhqcUh_p15Dqg4GeaoNIO_jU",
          "e": "AQAB",
          "d": "Ynx9JGaBSP4iUsf6ZJ6opantRNdcdmzaQrKbZg6ZQE8Ohi1FYabJWvaoPSE-CiJEsDzShXZHMhUHN4X7Bn8BXaGQhK3p9HXgiwQKmix7oAJTu4ElUIyd8UC3UWHSZr40el4PaQD-HYu_eMzCXus34MnRiNbh_BUWm6T-Eidhk9d3kNIyaSi9YNDQHW6tjWrEhhq63O7JU1j9ZonFChZxpKk20jdkQKQURVAdpOdL-5j4I70ZxFuU6wHZj8DS8oRQfwGOvZKbgYDb5jgf3UNL_7eACqq92XPVX56vm7iKbqeyjCqAIx5y3hrSRIJtZlWCwjYnYQGd4unxDLi8wmJWSQ",
          "dp": "AMmhWb5yZcu6vJr8xJZ-t0_likxJRUMZAtEULaWZt2DgODj4y9JrZDJP6mvckzhQP0WXk2NuWbU2HR5pUeCN2wieG1B76VKoH76vfnaJDqT1NuJVBcP2SLHog3ffwZtMME5zjfygchG3kihqOSpwTQ9ETAqAJTkRC38fEhwAz_Cp",
          "dq": "AKC9TAo9n2RDaggjdLXK8kiLrBVoaWFTpqXkzYXRhtsx4vWPAkxhfSnze05rVMl6HiXv7FnE0f0wYawzUJzoyuXBH0zS6D9BqCZPeF543AmWB27iPf38Q9Z8Rjr6oBgMSnGDV_mm8nDVQkeaDyE4cOZh-5UKvKShTKKQVwunmDNH",
          "qi": "AJ_nrkLpK8BPzVeARkvSHQyKwMWZ-a8CD95qsKfn0dOZAvXY-2xhQYTEwbED-0bpTNEKbIpA-ZkaHygmnzJkNbbFAnb9pkkzU8ZQqDP3JNgMfVIroWx58Oth9nJza2j7i-MkPRCUPEq3Ao0J52z7WJIiLji8TTVYW_NaiM1oxzsH",
          "p": "ANHerI1o3dLB_VLVmZZVss8VZSYN5SaeQ_0qhfOSgOFwj__waCFmy2EG7l6l6f_Z-Y0L7Mn_LNov68lyWSFa2EuQUeVj4UoFHc5Di8ZUGiSsTwFM-XMtNuv8HmGgDYLL5BIJD3eTz71LdgW-Ez38OZH34b7VeG8zfeUDb8Hi30zz",
          "q": "AMPcZrZBqbc82DO8Q5zTT8ZXRGWrW36KktMllaIk1W2RHnRiQiW0jBWmcCgqUcQNHa1LwumjyNqwx28QBS37BTvG7ULGUoio6LrOeoiBGEMj-U19sX6m[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestcrud-rsa-key3e9c2c52/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 2048,
        "key_ops": [
          "encrypt",
          "decrypt",
          "sign",
          "verify",
          "wrapKey",
          "unwrapKey"
        ],
        "tags": {
          "purpose": "unit test",
          "test name ": "CreateRSAKeyTest"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "83"
      },
      "ResponseBody": {
        "attributes": {
          "created":[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestcrud-rsa-key3e9c2c52/712a0799e99f0d3e1af0d49211adce27?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250507-1-41b99104-key-verify-fix",
        "x-ms-server-latency": "6"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1748906427,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1748906427
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "sign",
            "verify",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "wrapKey"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestcrud-rsa-key3e9c2c52/712a0799e99f0d3e1af0d49211adce27",
          "kty": "RSA-HSM",
          "n": "sfN6tgyak-F1i0veaKIRY4V1GDRVd8FkQh8ZLUiTbi53GFruj1Pq4xQaw-wFydxjYWW-8uxeuzAgi5iaEfLktzOU627DTWYZg2wEnGG1nnUu4AGT4U-E8-JYM5J4729BKSUgtWy4bqM2G76Udw6Nw1o-tUZCKIZE61P93w8CRp0B25ISP9phban3U7ip4p-sfiCxWK0lkukXWrhwYsI-8eRmgs0NJyGThdWzqGyP8qe8zo0u4Z0xM7trbqia1JUUACKMb1tCVdzo5am6a1dQ5tYL-dRrvyyxpYpfvQIWRvqJAnafCs11iBkUrMmzbFXZwxWQyL6-pKr7Tve0zFCUyQ"
        },
        "tags": {
          "purpose": "unit test",
          "test name ": "CreateRSAKeyTest"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestcrud-rsa-key3e9c2c52/?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250507-1-41b99104-key-verify-fix",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "attributes": {
          "c[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestcrud-rsa-key3e9c2c52/?api-version=7.6",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key_ops": [
          "decrypt",
          "encrypt"
        ],
        "attributes": {
          "exp": 2524723200
        },
        "tags": {
          "foo": "updated tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "27"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1748906427,
          "enabled": true,
          "exp": 2524723200,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1748906431
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "encrypt",
            "decrypt"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestcrud-rsa-key3e9c2c52/712a0799e99f0d3e1af0d49211adce27",
          "kty": "RSA-HSM",
          "n": "sfN6tgyak-F1i0veaKIRY4V1GDRVd8FkQh8ZLUiTbi53GFruj1Pq4xQaw-wFydxjYWW-8uxeuzAgi5iaEfLktzOU627DTWYZg2wEnGG1nnUu4AGT4U-E8-JYM5J4729BKSUgtWy4bqM2G76Udw6Nw1o-tUZCKIZE61P93w8CRp0B25ISP9phban3U7ip4p-sfiCxWK0lkukXWrhwYsI-8eRmgs0NJyGThdWzqGyP8qe8zo0u4Z0xM7trbqia1JUUACKMb1tCVdzo5am6a1dQ5tYL-dRrvyyxpYpfvQIWRvqJAnafCs11iBkUrMmzbFXZwxWQyL6-pKr7Tve0zFCUyQ"
        },
        "tags": {
          "foo": "updated tag"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestcrud-rsa-key3e9c2c52?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "31"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1748906427,
          "enabled": true,
          "exp": 2524723200,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1748906431
        },
        "deletedDate": 1748906431,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "decrypt",
            "encrypt"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestcrud-rsa-key3e9c2c52/712a0799e99f0d3e1af0d49211adce27",
          "kty": "RSA-HSM",
          "n": "sfN6tgyak-F1i0veaKIRY4V1GDRVd8FkQh8ZLUiTbi53GFruj1Pq4xQaw-wFydxjYWW-8uxeuzAgi5iaEfLktzOU627DTWYZg2wEnGG1nnUu4AGT4U-E8-JYM5J4729BKSUgtWy4bqM2G76Udw6Nw1o-tUZCKIZE61P93w8CRp0B25ISP9phban3U7ip4p-sfiCxWK0lkukXWrhwYsI-8eRmgs0NJyGThdWzqGyP8qe8zo0u4Z0xM7trbqia1JUUACKMb1tCVdzo5am6a1dQ5tYL-dRrvyyxpYpfvQIWRvqJAnafCs11iBkUrMmzbFXZwxWQyL6-pKr7Tve0zFCUyQ"
        },
        "recoveryId": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestcrud-rsa-key3e9c2c52",
        "scheduledPurgeDate": 1749511231,
        "tags": {
          "foo": "updated tag"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys/livekvtestcrud-rsa-key3e9c2c52?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250507-1-41b99104-key-verify-fix",
        "x-ms-server-latency": "21"
      },
      "ResponseBody": {
        "attributes": {
     [...]
[...]
