{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-nameb343370c/create?api-version=sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Sanitized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-nameb343370c/create?api-version=sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-nameb343370c/b447c689f8684e7cb6355ea7e59d5f7f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "snCukXo_5la6e6v84bIoX4lrvWi8zdHZDrn5lyR4kFSTPKg1BS52x813BfLQ6y5HBxFP_NO0EP96mXCoH3iW-cgCrcw-OaZWJYCkRh9OpCXh1oZYQJTo7IQO4_sysmdgJ56CzmnlIB3hZ2v2A-EiKq-cWY_y4xm7hZVXLNhBiGxKGcjnJY5U4ii6pHUbp0Knsj60QQsfA303j_l5hRodeL4y7AW3q01H1eYLQsQ5yCUwbqth8KenzNCVHiuHj_QJ_X_EVFl6gERqoB9yhVm_DlsYDfEQxzEfuyTj0shoT-mAPtxYP1Zll-pF7cMkUj-dHoYp5t6U4umsh_qrMZKPQQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1714538328,
          "updated": 1714538328,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-nameb343370c?api-version=sanitized",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-nameb343370c",
        "deletedDate": 1714538328,
        "scheduledPurgeDate": 1715143128,
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-nameb343370c/b447c689f8684e7cb6355ea7e59d5f7f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "snCukXo_5la6e6v84bIoX4lrvWi8zdHZDrn5lyR4kFSTPKg1BS52x813BfLQ6y5HBxFP_NO0EP96mXCoH3iW-cgCrcw-OaZWJYCkRh9OpCXh1oZYQJTo7IQO4_sysmdgJ56CzmnlIB3hZ2v2A-EiKq-cWY_y4xm7hZVXLNhBiGxKGcjnJY5U4ii6pHUbp0Knsj60QQsfA303j_l5hRodeL4y7AW3q01H1eYLQsQ5yCUwbqth8KenzNCVHiuHj_QJ_X_EVFl6gERqoB9yhVm_DlsYDfEQxzEfuyTj0shoT-mAPtxYP1Zll-pF7cMkUj-dHoYp5t6U4umsh_qrMZKPQQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1714538328,
          "updated": 1714538328,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-nameb343370c?api-version=sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: livekvtestkey-nameb343370c"
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-nameb343370c/recover?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-nameb343370c/b447c689f8684e7cb6355ea7e59d5f7f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "snCukXo_5la6e6v84bIoX4lrvWi8zdHZDrn5lyR4kFSTPKg1BS52x813BfLQ6y5HBxFP_NO0EP96mXCoH3iW-cgCrcw-OaZWJYCkRh9OpCXh1oZYQJTo7IQO4_sysmdgJ56CzmnlIB3hZ2v2A-EiKq-cWY_y4xm7hZVXLNhBiGxKGcjnJY5U4ii6pHUbp0Knsj60QQsfA303j_l5hRodeL4y7AW3q01H1eYLQsQ5yCUwbqth8KenzNCVHiuHj_QJ_X_EVFl6gERqoB9yhVm_DlsYDfEQxzEfuyTj0shoT-mAPtxYP1Zll-pF7cMkUj-dHoYp5t6U4umsh_qrMZKPQQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1714538328,
          "updated": 1714538328,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-nameb343370c/?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) livekvtestkey-nameb343370c was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-nameb343370c/?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-nameb343370c/b447c689f8684e7cb6355ea7e59d5f7f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "snCukXo_5la6e6v84bIoX4lrvWi8zdHZDrn5lyR4kFSTPKg1BS52x813BfLQ6y5HBxFP_NO0EP96mXCoH3iW-cgCrcw-OaZWJYCkRh9OpCXh1oZYQJTo7IQO4_sysmdgJ56CzmnlIB3hZ2v2A-EiKq-cWY_y4xm7hZVXLNhBiGxKGcjnJY5U4ii6pHUbp0Knsj60QQsfA303j_l5hRodeL4y7AW3q01H1eYLQsQ5yCUwbqth8KenzNCVHiuHj_QJ_X_EVFl6gERqoB9yhVm_DlsYDfEQxzEfuyTj0shoT-mAPtxYP1Zll-pF7cMkUj-dHoYp5t6U4umsh_qrMZKPQQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1714538328,
          "updated": 1714538328,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
