{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey042752c4a/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey042752c4a/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "295"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667330514,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667330514
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey042752c4a/3adcb7ea305541a10c64768a755dab6d",
          "kty": "RSA-HSM",
          "n": "iJyGLyaVMfnXsuBu_UZcq2o5H3pk4BcGpqqBJI3-YDFOM8MsoL3i3gILCN3F1HVdNT255a3rS54rv1T2NMgsctgC0Q3q0K3Q6EI9AR4ultHo-21U6_1nnotrYWRYDtvkx-0WvO-J3_V2WJBzGOqOadqxuD6ug1wBkiDg3YqnN8wh5v4zFaA2-ebr5_lXE6cDTnlnPzT_yxX4FJd454RvwjTDiVCrUTUNpxL2yl2-MiDjSvnLreuXMpoyHJYcL6SMG-0-WvURzwDWBxUjWRfG1COZ-Il-3_9_Y5IaTU1lj6cIF3jUviWUQEWuOWTlgB_SX-gbb7dMhFkYo9BUhSLS3w"
        }
      }
    },
[...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey042752c4a?api-version=7.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "157"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667330514,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667330514
        },
        "deletedDate": 1667330528,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey042752c4a/3adcb7ea305541a10c64768a755dab6d",
          "kty": "RSA-HSM",
          "n": "iJyGLyaVMfnXsuBu_UZcq2o5H3pk4BcGpqqBJI3-YDFOM8MsoL3i3gILCN3F1HVdNT255a3rS54rv1T2NMgsctgC0Q3q0K3Q6EI9AR4ultHo-21U6_1nnotrYWRYDtvkx-0WvO-J3_V2WJBzGOqOadqxuD6ug1wBkiDg3YqnN8wh5v4zFaA2-ebr5_lXE6cDTnlnPzT_yxX4FJd454RvwjTDiVCrUTUNpxL2yl2-MiDjSvnLreuXMpoyHJYcL6SMG-0-WvURzwDWBxUjWRfG1COZ-Il-3_9_Y5IaTU1lj6cIF3jUviWUQEWuOWTlgB_SX-gbb7dMhFkYo9BUhSLS3w"
        },
        "recoveryId": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey042752c4a",
        "scheduledPurgeDate": 1667935328
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey042752c4a?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20221020-1-945ffe56-develop",
        "x-ms-server-latency": "43"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667330514,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667330514
        },
        "deletedDate": 1667330528,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt",
            "wrapKey"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey042752c4a/3adcb7ea305541a10c64768a755dab6d",
          "kty": "RSA-HSM",
          "n": "iJyGLyaVMfnXsuBu_UZcq2o5H3pk4BcGpqqBJI3-YDFOM8MsoL3i3gILCN3F1HVdNT255a3rS54rv1T2NMgsctgC0Q3q0K3Q6EI9AR4ultHo-21U6_1nnotrYWRYDtvkx-0WvO-J3_V2WJBzGOqOadqxuD6ug1wBkiDg3YqnN8wh5v4zFaA2-ebr5_lXE6cDTnlnPzT_yxX4FJd454RvwjTDiVCrUTUNpxL2yl2-MiDjSvnLreuXMpoyHJYcL6SMG-0-WvURzwDWBxUjWRfG1COZ-Il-3_9_Y5IaTU1lj6cIF3jUviWUQEWuOWTlgB_SX-gbb7dMhFkYo9BUhSLS3w"
        },
        "recoveryId": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey042752c4a",
        "scheduledPurgeDate": 1667935328
      }
    },
[...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20221020-1-945ffe56-develop",
        "x-ms-server-latency": "47"
      },
      "ResponseBody": {
        "nextLink": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys?maxresults=25\u0026$skiptoken=Sanitized",
        "value": [
          {
            "attributes": {
              "created": 1667329402,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "updated": 1667329402
            },
            "deletedDate": 1667329416,
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey0e11a2b63",
            "recoveryId": "https://managedhsmvaultname.man[...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys?maxresults=25\u0026$skiptoken=Sanitized\u0026api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20221020-1-945ffe56-develop",
        "x-ms-server-latency": "42"
      },
      "ResponseBody": {
        "nex[...]
[...]
