{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-25613a3021/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-25613a3021/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-25613a3021/8de46c850ad14538891ff3ddc3773647",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "_5ePdvUPhvv-ykJfO7Y0GK0-_comjWzB8jN_zjk1-p8",
          "y": "e4z1J3qMJzshjQLizsjLyYov3_7s6E9BohEQqnUujYE"
        },
        "attributes": {
          "enabled": true,
          "created": 1678160185,
          "updated": 1678160185,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-25613a3021/8de46c850ad14538891ff3ddc3773647/sign?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-25613a3021/8de46c850ad14538891ff3ddc3773647",
        "value": "gxqq5mry7dg5qps8Pjo6JZuobLqG3xpy-BLabDQ7oGTd6cYtCkmfDcgQJoI_KtuzUZXqi_SVDDoem2GtM-ZsnA"
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K13a3021/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K13a3021/1d951b28bc954426874b97aca2f81773",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "S2SQFy0Gt0S_dYNQ1UXUXpixHmoe7-Key5A6Al9zub8",
          "y": "5Ws7wXeM2_KzCB4Wp5zsG7jfBUyibXmQH5Ge2CS3D6c"
        },
        "attributes": {
          "enabled": true,
          "created": 1678160187,
          "updated": 1678160187,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K13a3021/1d951b28bc954426874b97aca2f81773/sign?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K13a3021/1d951b28bc954426874b97aca2f81773",
        "value": "5coL2DLhyI4FYlgVO_VuY_NvwE4iMtXAMHG1RNmJEm65akVZdwU8EK-diB0X97hOe9CJXrwY3jrRuRq5bhB0HQ"
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-52113a3021/929af60a82ba45749520bb8288da2d65/sign?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-52113a3021/929af60a82ba45749520bb8288da2d65",
        "value": "AflROfoAEsuxHkLEyva12-3OFgbfngXAmx7N3tbyLb060KdpdDyEAhwr2bi8Eb0A5LJH6XejjjWz0cBGiUHa9fzaAa51YFX_ZADcrgSo59r-xUn4bLHQsgZKO5P7efp032ou1eiV8_A1Jt2D4fJ4WRVZz5iwtIUpVFk7cGfIrROGyqXr"
      }
    }
  ],
  "Variables": {}
}
