{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestkey-namec1cc327e/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestkey-namec1cc327e/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "130"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779477018,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1779477018
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "sign",
            "verify",
            "encrypt",
            "decrypt",
            "unwrapKey"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey-namec1cc327e/91f5911a681705013dbd964c241e490c",
          "kty": "RSA-HSM",
          "n": "ta9KnszNvDb20tRxMfJkAjk4SlVpiCp1rklM2XcJwGb4jiTD622A9lBsonB2_nsX80C78EHDpfe-VxtVabRAP7X0UVJ_-_F5YitOEWmBLkFN6hGvK98TYgrekVAjqyH1D5pWO0pfOtHO3om_fkRmJ_8UR8S74rHdsSmsJ_oOM3-nJ6DJCNLP2xYhm3QY973DVXG14aXo2c5dqb3fIe0-j7HiWYa3_vS62A4AMHg7tIzFfcx_ZPwU3Ca583rLmIbWBOaA87H33LUmxhJeiFRC6apIZds-hAIecL07EoNYYTdCGNFEuYZGA-JV_HwsE4xPaoLPWx5RMj53RDdKShwKBw"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestkey-namec1cc327e/91f5911a681705013dbd964c241e490c?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779477018,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1779477018
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey-namec1cc327e/91f5911a681705013dbd964c241e490c",
          "kty": "RSA-HSM",
          "n": "ta9KnszNvDb20tRxMfJkAjk4SlVpiCp1rklM2XcJwGb4jiTD622A9lBsonB2_nsX80C78EHDpfe-VxtVabRAP7X0UVJ_-_F5YitOEWmBLkFN6hGvK98TYgrekVAjqyH1D5pWO0pfOtHO3om_fkRmJ_8UR8S74rHdsSmsJ_oOM3-nJ6DJCNLP2xYhm3QY973DVXG14aXo2c5dqb3fIe0-j7HiWYa3_vS62A4AMHg7tIzFfcx_ZPwU3Ca583rLmIbWBOaA87H33LUmxhJeiFRC6apIZds-hAIecL07EoNYYTdCGNFEuYZGA-JV_HwsE4xPaoLPWx5RMj53RDdKShwKBw"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestkey-namec1cc327e/91f5911a681705013dbd964c241e490c/encrypt?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "cGxhaW50ZXh0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP",
        "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey-namec1cc327e/91f5911a681705013dbd964c241e490c",
        "value": "q3m5T7E-5btG3oMk2meQm7uPavyGccDEOG9796n2bG3u_hqfzfAdjeVcBZChLqKh_1y5Bvvz5Y7msEwjq3WNWqmT4F4TGrcQf74EYj-YRDXENMvLAMOrPXhkwFszn1hfa9kr2SoC6P3z1RoXSrGZg0MlRBvOxqynzcqUOKhu2TzQLZCiTUE-1d4J455jrPWzFXF-noQc6GdHxda4CqHl2DMFkcK2PS21v7qdwely-jShWGS3KQvnDXEpmLbAbSJGKIRwSaPvRg-5aMGX72vDAok6UpsOBf0M_ofAVPKmZyk3UOmTmarQ9wsUyq75KLUs1idDIJa8tRUrNpVUQbnWrw"
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestkey-namec1cc327e/91f5911a681705013dbd964c241e490c/decrypt?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "q3m5T7E-5btG3oMk2meQm7uPavyGccDEOG9796n2bG3u_hqfzfAdjeVcBZChLqKh_1y5Bvvz5Y7msEwjq3WNWqmT4F4TGrcQf74EYj-YRDXENMvLAMOrPXhkwFszn1hfa9kr2SoC6P3z1RoXSrGZg0MlRBvOxqynzcqUOKhu2TzQLZCiTUE-1d4J455jrPWzFXF-noQc6GdHxda4CqHl2DMFkcK2PS21v7qdwely-jShWGS3KQvnDXEpmLbAbSJGKIRwSaPvRg-5aMGX72vDAok6UpsOBf0M_ofAVPKmZyk3UOmTmarQ9wsUyq75KLUs1idDIJa8tRUrNpVUQbnWrw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP",
        "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey-namec1cc327e/91f5911a681705013dbd964c241e490c",
        "value": "cGxhaW50ZXh0"
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestkey-namec1cc327e/?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779477018,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1779477018
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "unwrapKey",
            "decrypt",
            "encrypt",
            "verify",
            "sign",
            "wrapKey"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey-namec1cc327e/91f5911a681705013dbd964c241e490c",
          "kty": "RSA-HSM",
          "n": "ta9KnszNvDb20tRxMfJkAjk4SlVpiCp1rklM2XcJwGb4jiTD622A9lBsonB2_nsX80C78EHDpfe-VxtVabRAP7X0UVJ_-_F5YitOEWmBLkFN6hGvK98TYgrekVAjqyH1D5pWO0pfOtHO3om_fkRmJ_8UR8S74rHdsSmsJ_oOM3-nJ6DJCNLP2xYhm3QY973DVXG14aXo2c5dqb3fIe0-j7HiWYa3_vS62A4AMHg7tIzFfcx_ZPwU3Ca583rLmIbWBOaA87H33LUmxhJeiFRC6apIZds-hAIecL07EoNYYTdCGNFEuYZGA-JV_HwsE4xPaoLPWx5RMj53RDdKShwKBw"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestkey-namec1cc327e/91f5911a681705013dbd964c241e490c/decrypt?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "sxVWHLX__yRSU1iPeZVXwPoF0g8FmbRih5BKFf6XxqTFwI8nocoxwmnrOAfWUT8V2rtGVRd0wK5QoUP55MTB4osVqoKSsz0RNJlLYCdXw5zzkx-jKzInEZn-TPDykG0aibkuBMo74EOMK5TMHaDFM2H1GlRPSs3_nn-mUbK6_0Gi1gr5sh41madLVK0bXJVmAkW5wOyq869U_ayJ5i0DiN5BeHp7XKgyc-jKSKFHnBIzW7vORdp3jq7atf0K1HtsMC8tMoFLOhblg8omwRnOXPp6Io2J0SUklQuBaX1yOyEmpUQZsBMBRy7xmqY_kZYNFcv3PUD5EKh2-gb46slS7g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP",
        "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey-namec1cc327e/91f5911a681705013dbd964c241e490c",
        "value": "cGxhaW50ZXh0"
      }
    }
  ],
  "Variables": {}
}
