{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-key-namedb902f55/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-key-namedb902f55/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-key-namedb902f55/7ef91ac1935b499d94a293ccc552b511",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uXWwuAa9gzB3v7AoHYpJdhosx8qd1iaJo31-Vt319D2psL0SQvUp6gQs25tFSf2xEMkXk-2lYU9roDGGn4p7LqFOlUB_ElXoHosEsDqpvyKD3wk70yi4e-3O4SiUFFH-8inpI7NYl1zQfI7364w4Rp86_G5uz2c8r1g12UYHbbkAqz39DBDMz3RyIaeq0CpJuWnDuFlrs3qi_xElw7yFLeKuXxfGwtN2sXvWfbYLrfd4EYloag2TxHytsK5bBJEZXIxB6wnAdt5UNwiVCg0LIiUzXKVbjyQrl4J4kqo-RQQFOR8lPz38Rh2Erpu7O1keBKJnnPTrUEMSWMP5XHlSvQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1668580262,
          "updated": 1668580262,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    }
  ],
  "Variables": {}
}
