{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrotation-keyb0f2314c/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrotation-keyb0f2314c/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrotation-keyb0f2314c/dd21200b0d204a5a9da83bacacd1b09c",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "si1ZL1ONZJSGlAC4wW1IuXFUQAdUgYwkske9LXQlnOkBV34cgep1IIHQL0epyXn7iw_tFFKV6BSe8Z9DhTTqG5QpqkQwkrZxPIr_1prZvV4YZvvs_mC4VZdFk8LMb8f1s3NQ0kA29NAmCJvyzb9Plzq_QdXPIVDYVVW2I0o4qXpEzeE4tjCno0n0zsJRGYOziAcZF610CNNtzOZQ1wZQfg0KG42-ibSZsqB41zmu12fwmUSuojUhs7hjleCwDtlwL8u3SFjZ9cxEHvP0Klyc_64O5in6msFq_5SDDEEGLsm2Y6hs8ilip9-ABQO1Q6OuLD-ucHgvz4rVkApudiJM0Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1691710458,
          "updated": 1691710458,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrotation-keyb0f2314c/rotationpolicy?api-version=7.5-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lifetimeActions": [],
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/keys/livekvtestrotation-keyb0f2314c/rotationpolicy",
        "lifetimeActions": [
          {
            "trigger": {
              "timeBeforeExpiry": "P30D"
            },
            "action": {
              "type": "Notify"
            }
          }
        ],
        "attributes": {
          "created": 1691710459,
          "updated": 1691710459
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrotation-keyb0f2314c/rotationpolicy?api-version=7.5-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lifetimeActions": [
          {
            "trigger": {
              "timeAfterCreate": "P2M"
            },
            "action": {
              "type": "Rotate"
            }
          }
        ],
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/keys/livekvtestrotation-keyb0f2314c/rotationpolicy",
        "lifetimeActions": [
          {
            "trigger": {
              "timeAfterCreate": "P2M"
            },
            "action": {
              "type": "Rotate"
            }
          },
          {
            "trigger": {
              "timeBeforeExpiry": "P30D"
            },
            "action": {
              "type": "Notify"
            }
          }
        ],
        "attributes": {
          "created": 1691710459,
          "updated": 1691710459
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrotation-keyb0f2314c/rotationpolicy?api-version=7.5-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lifetimeActions": [
          {
            "trigger": {
              "timeAfterCreate": "P2M"
            },
            "action": {
              "type": "Rotate"
            }
          },
          {
            "trigger": {
              "timeBeforeExpiry": "P30D"
            },
            "action": {
              "type": "Notify"
            }
          }
        ],
        "attributes": {
          "expiryTime": "P90D"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/keys/livekvtestrotation-keyb0f2314c/rotationpolicy",
        "lifetimeActions": [
          {
            "trigger": {
              "timeAfterCreate": "P2M"
            },
            "action": {
              "type": "Rotate"
            }
          },
          {
            "trigger": {
              "timeBeforeExpiry": "P30D"
            },
            "action": {
              "type": "Notify"
            }
          }
        ],
        "attributes": {
          "expiryTime": "P90D",
          "created": 1691710459,
          "updated": 1691710459
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrotation-keyb0f2314c/rotationpolicy?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/keys/livekvtestrotation-keyb0f2314c/rotationpolicy",
        "lifetimeActions": [
          {
            "trigger": {
              "timeBeforeExpiry": "P60D"
            },
            "action": {
              "type": "Notify"
            }
          }
        ],
        "attributes": {
          "expiryTime": "P90D",
          "created": 1691710459,
          "updated": 1691710459
        }
      }
    }
  ],
  "Variables": {}
}
