{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestwrap-local88e032ef/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestwrap-local88e032ef/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 4096
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestwrap-local88e032ef/59c8f33d458943c987813d8e985d30dc",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "qkk2S5I_DswEEYCotGQkQpvLMO6ZbMviNjh_5h1rPKQgLLuGYHPa0w_iU3T2srDz1SzYjHsFvHEk1v_jERGiDEBBL3me6O-lAFuVMxOOC5kKBJ-UVCLUTBDmKYbYdRiMwf7y1LuISg8khlWnoQX2gNjl_WXF_WcoKf6c69aWU1IybeU9NShQ1bITcxBkvB3kuIklMF8b8RYgLoHvzbYw1Exbt8zlsT3Lt1KGvhnnAUHJmatXVM6IivNaLUNp7RLw0ZY2087ypZXd1bSE87-QxsrcTXEs5YaNrtCW3y2bSOmrJyFHpwbr3a6XW1RBSEs3CihUtm3B4I4WESbXnICoCj70EjpnR5rgZh1_2R-s7xLDadNE1_fXT3RQzWcNySSt6y6a7KOh-gVHtGQ-6oR-_ZIJ5pRoQpE9XPERoqPTP1Gyttb4joMCodWGZHV5EDvcWeM1_A4xuQdrWzYdbSFwawZbbpDhiODYrNbZyYzpWeCCfFqXLOHnGYSu2ebEvkXZYYE2Ej7IglbBkWkNIOPS1WEH1tjo7w8iJFFOjlvaEPPr1_e5Dk4f-jinnt33vKBcLCOKKsfzthf2zPnahMw7yeitgnjMQELWyW-rp_96BOfDEDc_FaKk3shG3RZ2bkWB9StwwXFVx5unydUluYYt68kddh5MGmnUcKVpKlIwJ1E",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1697668357,
          "updated": 1697668357,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestwrap-local88e032ef/59c8f33d458943c987813d8e985d30dc/unwrapkey?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "b2ZwXPDi6TkWszVzGU6nrJ-9FuYsoFRrxQxrgMz6ZW_QkiTXeYm788Pd1CeB6CZkZ-Ee5sqRzZvuKuX3sXsuDZSmwL5TTQqt_mWRqqjhyxjU3J4zDtH65pTguGf5_QYJnPzXWVXiKCF_PZZDki4E13CJ0I--2NagCz337uEqyRiHy7bibonV0WC7WzcQcHbj2y_9XAdSk60YsZaL54GjrgkrSOcOvhGoG1imhwYm8oaBtE2HnXqB4OG23ky-6NFA6x_jM4he1kbznEP9yNm9OatQbqa51jFTwSpc1P9fHjaOG4YaDEQ6Ub5L-LG2bXoflJUilrfFkfwDZkYxr9babGS_tRLyelAX-3OJFG4yIO_5rNQ5cbWwzDaNtzqjXEyfE9MtwnqX7nSJkH6AyigytGPTz6QqFZH8JKQ3LFitUcUALEsZ5iEXulb449sGrbKMxfcG9LoiG9i3BcxXlFrvbFxoF5jP6GUNwFCiQIiWehBspu1J94G6Ip0_yRMJlH4dZY9uWTtERtK8K7ULkhE8_WmnHhtayZa_Tzt1c9Ie1zPeRucbKmj-EJ9sJZMOQIHZ1bdZz57RX7QTnf0wRDUqH9wxJaJyoqcfSRwNhVh0pOCy_EpqcizBY7puy1MbH2CDlOAgToGcXxRLeAMEGQcHWDZOCNRpx2DzGmcqJo88DAo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestwrap-local88e032ef/59c8f33d458943c987813d8e985d30dc",
        "value": "NTA2M2U2YWFhODQ1ZjE1MDIwMDU0Nzk0NGZkMTk5Njc5Yzk4ZWQ2Zjk5ZGEwYTBiMmRhZmVhZjFmNDY4NDQ5NmZkNTMyYzFjMjI5OTY4Y2I5ZGVlNDQ5NTdmY2VmN2NjZWY1OWNlZGEwYjM2MmU1NmJjZDc4ZmQzZmFlZTU3ODFjNjIzYzBiYjIyYjM1YmVhYmRlMDY2NGZkMzBlMGU4MjRhYmEzZGQxYjBhZmZmYzRhM2Q5NTVlZGUyMGNmNmE4NTRkNTJjZmQ"
      }
    },
[...]
