{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrotation-key63fd2a58/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrotation-key63fd2a58/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "66"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779587298,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1779587298
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrotation-key63fd2a58/cd34a8ea9a75440b3b04af931ff50a0f",
          "kty": "RSA-HSM",
          "n": "2twhPZlvMyUUWiol3M_EOJ-3x060FHn_BHa1p7uWRdAYANnACy-DW3qlM_dI84Eb0_9e-Y4GUuFVWmQlqrWayhWyxTpvUnj96oGxz6iiBOEsIhSO5VI0-GWSqP-CmvSK7pBIwt9_iRVS6D9GpDgr8uewgvYLWopH7-9eYvKRO9fDaJQkd5x8aFsl3osBVFeB7rM_fCzh_m149HYZ2bcrYraT7R7adgVOuiw93_m-tDJKBb81zLAXtAT9zX4XDr-1XV-TxInt6r-pz00zYlbgbXe1a7xNHcmEpbielseCX06DK5apiRUu8mbyLUwjtlO4ze-tDpfCzv8rKEs-P-O0pQ"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrotation-key63fd2a58/rotationpolicy?api-version=7.5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lifetimeActions": [
          {
            "action": {
              "type": "Rotate"
            },
            "trigger": {
              "timeAfterCreate": "P6M"
            }
          }
        ],
        "attributes": {
          "expiryTime": "P1Y"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "27"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779587298,
          "expiryTime": "P1Y",
          "updated": 1779587298
        },
        "id": "keys/livekvtestrotation-key63fd2a58/rotationpolicy",
        "lifetimeActions": [
          {
            "action": {
              "type": "rotate"
            },
            "trigger": {
              "timeAfterCreate": "P6M"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrotation-key63fd2a58/rotate?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "92"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779587298,
          "enabled": true,
          "exp": 1811123298,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1779587298
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrotation-key63fd2a58/4c26d9da4114092306a18c0bca7e77a5",
          "kty": "RSA-HSM",
          "n": "rPsao-RbqkyRZdoIp7NwKxa0xPP3YNGnn12dgqdYN40a5SeD-sd3TqIJ87eGlqAVcd_UkYgvis1w-mYDHetxcuHQHvnEiIhkjQsbfhOIZz4kRuQrLyQDdoSd31PTK-6VTh1KWPPCXSKidpiKPcmXce8Dp0_FiYq_8OqMtvLl--hXvX60m0kv6lJ4GC5OSAu3LSTXJj4GZsG5SwsoROh1WBZcEvpEE2jmRnJu_9ob_rEt1yIbWOM9fZyIMM1UJaUlJ-LMdwoGPS5dd5Da5RsPYYA7K5uV_LmJFnvymRjF_jxAZ0ibMeiIm9UwW-UoOZhf6xsUDNXcv-M902ugAipYEw"
        }
      }
    }
  ],
  "Variables": {}
}
