{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey0e8733786/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey0e8733786/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey0e8733786/6720d675fda141d7bd7349c242b200aa",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "7PxsRVD9Zbr6litnKqEm0ubhIB9sXqNiR71796Vedwk",
          "y": "z7j5rW37mjYMU0M0fi6scGa0lUY5geI_w98p2hsP988"
        },
        "attributes": {
          "enabled": true,
          "created": 1741732598,
          "updated": 1741732598,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-ec-key415a3058",
            "attributes": {
              "enabled": true,
              "created": 1741731775,
              "updated": 1741731775,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            },
            "tags": {
              "purpose": "unit test",
              "test name": "CreateECKeyTest"
            }
          },
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-ec-keyae7c3140",
            "attributes": {
              "enabled": true,
              "created": 1741731965,
              "updated": 1741731965,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
        [...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys?api-version=7.6-preview.2&$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keye36c2df5",
            "at[...]
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/key-name/versions?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-key415a3058",
            "deletedDate": 1741731783,
            "scheduledPurgeDate": 1742336583,
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-key415a3058",
            "attributes": {
              "enabled": true,
              "exp": 2524723200,
              "created": 1741731779,
              "updated": 1741731783,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false
            },
            "tags": {
              "foo": "updated tag"
            }
          },
          {
            "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-keyae7c3140",
            "deletedDate": 1741731973,
            "scheduledPurgeDate": 1742336773,
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyae7c3140",
            "attributes": {
              "enabled": true,
              "exp": 2524723200,
              "created": 1741731970,
              "updated": 1741731973,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false
            },
            "tags": {
              "foo": "updated tag"
            }
          }
        ],
        "nextLink": "https://vaultname.vault.azure.net:443/deletedkeys?api-version=7.6-preview.2&$skiptoken=Sanitized"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys?api-version=7.6-preview.2&$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": "https://vaultname.vault.azure.net:443/deletedkeys?api-version=7.6-preview.2&$skiptoken=Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys?api-version=7.6-preview.2&$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": null
      }
    }
  ],
  "Variables": {}
}
