{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-2561493022/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-2561493022/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-2561493022/a807cd4355dd443ebe432108044ff1fd",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "eqyHG7jO4_jrApHlkE_aPODFddBIELbZkjZAUgWN_CU",
          "y": "quOrqQYQBTEqj76StiJcJ20vbbVb5PPnKDPN4gLY82o"
        },
        "attributes": {
          "enabled": true,
          "created": 1707349361,
          "updated": 1707349361,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-2561493022/a807cd4355dd443ebe432108044ff1fd/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-2561493022/a807cd4355dd443ebe432108044ff1fd",
        "value": "LyWAtF8DG-0em8zGjP4AIhA6LdS8n0vYuEUpEI86VIzGykD9VKkJXpq6JHPvkT7ozeDs546c8e-4Up0-gvY1iQ"
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K1493022/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K1493022/153a6badc51c4e41ac3fdf284a62df13",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "Pk-nWHvjDrQ61bOXr7XHvL2LeXMjuXvt-6UboeZHtAg",
          "y": "JB4do8JOwZaEHepNtV1NVbWJF4wKhWaPjxa07wT3vFM"
        },
        "attributes": {
          "enabled": true,
          "created": 1707349366,
          "updated": 1707349366,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K1493022/153a6badc51c4e41ac3fdf284a62df13/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K1493022/153a6badc51c4e41ac3fdf284a62df13",
        "value": "INV8OYaqNTbKRXDKOcQdvi-BMAmtu8Heqspmo4me-WaT0Nkd4cbFwRMgnqekl74aYlXlQuTDCazsXprMDbosKA"
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-5211493022/36968cbd651d4f6db88326ca8abf30fd/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-5211493022/36968cbd651d4f6db88326ca8abf30fd",
        "value": "Aa3MkuG51zWH8BQBgxTK-BMf0zB8LlUpStejUO4rWFSo4kn87A5vP4y5WJPo6rCQTy5fdkUGwiR16UphAocdhZrwAAk6veoFU3KGQ0iqlVUdYb9T-UI5qHfjGPLFHtKwgxuJRaonMmAekurGX3HQQNg0hT5APnvb4C3P5US6__f5dXwo"
      }
    }
  ],
  "Variables": {}
}
