{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keya6743272/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keya6743272/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keya6743272/b370b46def89407f9b3c9909c8c95b6c",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "ufIp5UnOlUxgypq4fybX1QKHCvHxmOvoKjswt4pBze6mjj59OghtbFXyVkANlFTXZgmBHijnIDjdLdxRpUWB4m8WQCD63RlaagCK39ubbNS84j45EUuGCENzb_7dpne8sHkTCQ9w8D_WykmqKU4qRJa-gzYFnURtGwRedIpgS12fPf-opCZxUKwyVMJ8-9P2AmixiIKfiF9MMnJwUGLuYUnV3aZv-Ry55__Daa3-lLtDJFp0hMpCQjIjvHDmPawdWrQrU_1xZQMaEC_1SkCD--UxSjesX4oHLr75GWEeQRe3AICA-MS_Wo_gQMU562C6QADsg8Ny8qDuQBQfa2aH4Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779469166,
          "updated": 1779469166,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keya6743272/b370b46def89407f9b3c9909c8c95b6c/unwrapkey?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "frBcSBw2emi0shTQ_pjwQK1mcZCup-fknHo4TdHIQ96vuKUnp5qF7IXbRJViJ52QsHtAeFGb27OT94a1Av_SNWDGdt2_xW_xmhJzJY9lendlOH_d5TQjbwkRQnqkUok9Ba_Qtbp992s_Eqehkyqhsd2gUPBBfdcVyK_Xc7jOVCQxiRsVY85y4Q2k_JnPi_48kY_5NNSGoLCLZPY-Qx_8N4eSpw2xiFF0zBjoeR2f4xc2v76ekjOS1RuYfmN1CZ1sJ19s97_qdBOK8sJoAy1l6f9Jwj9nUw0tUH-Ae-8wBPGcVUqkwFpDanm8bRGlrm3rMRmIb3tcUtKA4QiNSaYCQg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keya6743272/b370b46def89407f9b3c9909c8c95b6c",
        "value": "xbD88UOKiHBqEY3llOj_BA5Z_nWK6TwGKNt_qX6FAgQ"
      }
    }
  ],
  "Variables": {}
}
