{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey038862761/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey038862761/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "239"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667331020,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667331020
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey038862761/9647dc848135443e1c4f7251fd78db39",
          "kty": "RSA-HSM",
          "n": "2sTzu9dm80eN5ViYmR1Ne9WcjZSHdnBjuaCLZlJQ5V01fnSZ-MOQoHyJqANG_8q_0NoPFp_k_XNaknJpcwK-ndokHYB91cb5L0TNKKJW0L3KD-qWIuMAJGFZDb_HYxQrQzhkiS1CGHXn8dO9UiUZ-8PJjeEMVGIN9DKV3HtYrwu1ENIdYQKfj8Ik8yHHTUlMXumzp9zaIwgP229-H6WMLVDQFXawpHucW6CTBGvE9WCI3aZthwkEKRmyLWgM9vlLSIPMFRKoMLrqSKpjlwoeqgGPTKUDC2eg3YIi59khKH7_-4JUiTykgDNvA2hL08is4q6aZX8ti2jhLVnnQ4qX1Q"
        }
      }
    },
[...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey038862761?api-version=7.3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "154"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667331020,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667331020
        },
        "deletedDate": 1667331035,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey038862761/9647dc848135443e1c4f7251fd78db39",
          "kty": "RSA-HSM",
          "n": "2sTzu9dm80eN5ViYmR1Ne9WcjZSHdnBjuaCLZlJQ5V01fnSZ-MOQoHyJqANG_8q_0NoPFp_k_XNaknJpcwK-ndokHYB91cb5L0TNKKJW0L3KD-qWIuMAJGFZDb_HYxQrQzhkiS1CGHXn8dO9UiUZ-8PJjeEMVGIN9DKV3HtYrwu1ENIdYQKfj8Ik8yHHTUlMXumzp9zaIwgP229-H6WMLVDQFXawpHucW6CTBGvE9WCI3aZthwkEKRmyLWgM9vlLSIPMFRKoMLrqSKpjlwoeqgGPTKUDC2eg3YIi59khKH7_-4JUiTykgDNvA2hL08is4q6aZX8ti2jhLVnnQ4qX1Q"
        },
        "recoveryId": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey038862761",
        "scheduledPurgeDate": 1667935835
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey038862761?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20221020-1-945ffe56-develop",
        "x-ms-server-latency": "36"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667331020,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667331020
        },
        "deletedDate": 1667331035,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt",
            "wrapKey"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey038862761/9647dc848135443e1c4f7251fd78db39",
          "kty": "RSA-HSM",
          "n": "2sTzu9dm80eN5ViYmR1Ne9WcjZSHdnBjuaCLZlJQ5V01fnSZ-MOQoHyJqANG_8q_0NoPFp_k_XNaknJpcwK-ndokHYB91cb5L0TNKKJW0L3KD-qWIuMAJGFZDb_HYxQrQzhkiS1CGHXn8dO9UiUZ-8PJjeEMVGIN9DKV3HtYrwu1ENIdYQKfj8Ik8yHHTUlMXumzp9zaIwgP229-H6WMLVDQFXawpHucW6CTBGvE9WCI3aZthwkEKRmyLWgM9vlLSIPMFRKoMLrqSKpjlwoeqgGPTKUDC2eg3YIi59khKH7_-4JUiTykgDNvA2hL08is4q6aZX8ti2jhLVnnQ4qX1Q"
        },
        "recoveryId": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey038862761",
        "scheduledPurgeDate": 1667935835
      }
    },
[...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey038862761?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20221020-1-945ffe56-develop",
        "x-ms-server-latency": "30"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Key not found: https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey038862761 (Activity ID: aa9eebd4-5a1b-11ed-a8da-000d3aff1fa2)"
        }
      }
    },
[...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20221020-1-945ffe56-develop",
        "x-ms-server-latency": "47"
      },
      "ResponseBody": {
        "nextLink": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys?maxresults=25\u0026$skiptoken=Sanitized",
        "value": [
          {
            "attributes": {
              "created": 1667329402,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "updated": 1667329402
            },
            "deletedDate": 1667329416,
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey0e11a2b63",
            "recoveryId": "https://managedhsmvaultname.man[...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys?maxresults=25\u0026$skiptoken=Sanitized\u0026api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20221020-1-945ffe56-develop",
        "x-ms-server-latency": "43"
      },
      "ResponseBody": {
        "nex[...]
[...]
