{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key4cd63759/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key4cd63759/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key4cd63759/f31abd33d12044a98014fdaa145ceef8",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "twZ7q81uE84Ny5rC-eG55yagYLm2ddU03SuJ6Ctmhqv46y88UdNaNpo7qLcX--jmBciao1qyDdznxf6ZApEkZdm3toh2v0JVGQHtYYcu2UWAmvViOhtvteWm2V4ES0IUgaygTNivNUfTyTzjwCXhN5uR7RmxmKiHaAS-qp8xupiJrC3MdLatjbppEbqh_XlkpTj7SB-3KD7hHcFRjySAXTx9G2MBGhVbvvPAQfli0kKv5LcOmmZ8qTXQpveQG27d5KvXI8IGOEK7Qy2GTjj3TaIMvmfCyiljh2QtpMX1CpeFvcHqNks39aqp8HV4MDlpWsyfAaHLmxe_9RYPX92juQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1782496489,
          "updated": 1782496489,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key4cd63759/f31abd33d12044a98014fdaa145ceef8/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "ltYuKr0-Qt5fUDMPuO_ExVmYNSeAd7IemqCzPB3wehw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key4cd63759/f31abd33d12044a98014fdaa145ceef8",
        "value": "KoRaNBeCuCzkFIaNVYeRdKJHiI_G0D36kCkPejW3aWGoPg_BRYI-8N4wtE9s8UWZvyYb9YD6sZTfzjdjr47zaXxI3yCwFfxm63uPGLqHSDu3pxlOyCa4gFprlgtsCcKUdtUVvCvqHukObSt9_79hs0s8L82toLqLpVpYRFF7Z7Gh1Rp3P7jmHnFkiMyTYmn9fo6biF3eIu0R6l2GCBc0-YM4cNlFOlSiVPAS4djYSvl50PsSERJqZ9ybNBuUTh0HVrxL-ocem90HBW2jzyelGy0Ef3Iv-3a0e1eGysPCI9teEYf28tKXOn-f4hpsdfYEL64107FSIoqxN7Nkcgo7KA"
      }
    }
  ],
  "Variables": {}
}
