{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key5498367d/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key5498367d/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key5498367d/5dca950faa754196b2598ca836bf5098",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "zMEiDf_Emyt28gizwrSkKrFP-Mn25PqmbOlJ1fTmZ37oQIjoqo1_oz0PAtl817ediPrAjBNLUdq-XpTX7fzuK6siex4azbQs18SVKKK-XLCgn-o5GpBye7g23hty84iDpB0MT_u9b49MqUrFzIcS1yUcsziGwDfP4AJ7TcfA-nC0qGDS7wqw43pHqQP51-TKje_LPssl0dwIlNQHzd7vy30Kr0MsatGTdcnp8vIAbewpvsYyo453-KJVmvZGY6_iTs5PhGwOvyVxkxJWcpkv-PknNVK5SrGfKdBdC-6N-2IBw7K_UEjmF7kUEQm3CjEigxw5NBIdHfdq_AXnunn4dQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1691709803,
          "updated": 1691709803,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key5498367d/5dca950faa754196b2598ca836bf5098/unwrapkey?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "G9PPFllrhkfjMSHkBVlHs8FoQbAW69Ymy8gwZiZjL37Eafwd6oSxDvmFGFj0KIc4wXvJUESRuPXQ5Ncdhk0DWH1eFO5tj16064yXc24KPOsdj79RAnQjS1OYx1uZCpKEav85GtKCaScJaD3qt2GM5kGOR7nXiuLdA_PMXhYkrLeDC5L6tYvhvPCEFR4xHLI-eBXYe-K1uxlfii9Z-LCT4BSG4eIho-AT8Sf4PD9hZdD4txkYyP6fjQ3AwTj61PrbrLHEyQAJjVX3AXQiI9oA3ZqD1Pd8cGBUCiTPYXmOja4uQ_D5Pk66C-7mjA3jLFgkJwEyCzR6IXDClOskwie0lA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key5498367d/5dca950faa754196b2598ca836bf5098",
        "value": "NTA2M2U2YWFhODQ1ZjE1MDIwMDU0Nzk0NGZkMTk5Njc5Yzk4ZWQ2Zjk5ZGEwYTBiMmRhZmVhZjFmNDY4NDQ5NmZkNTMyYzFjMjI5OTY4Y2I5ZGVlNDQ5NTdmY2VmN2NjZWY1OWNlZGEwYjM2MmU1NmJjZDc4ZmQzZmFlZTU3ODFjNjIzYzBiYjIyYjM1YmVhYmRlMDY2NGZkMzBlMGU4MjRhYmEzZGQxYjBhZmZmYzRhM2Q5NTVlZGUyMGNmNmE4NTRkNTJjZmQ"
      }
    }
  ],
  "Variables": {}
}
