{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-verify-20489b043229/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-verify-20489b043229/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "127"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779476322,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1779476322
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "sign",
            "verify",
            "encrypt",
            "decrypt",
            "unwrapKey"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-verify-20489b043229/b4ea802bee3946721457f8704feb4cbe",
          "kty": "RSA-HSM",
          "n": "iR7Wmm_1Ury0RAloBdrgfv6GYwF14yhsHmZ0s8cmkN7CZ-AqPYG-GgsdEdUSdTQlZFjEj-E1YuUJBwr8Pqh9qxJ54z8ZLEpKhZkVCbDhtYopLyBnNyrj7fKjVWvchNGhJUfVYNXNng8-Ha2EchbvFuSB7VOZ3BZRdL05f_71A97AsR-XBM__Cn2wtqwU_wRu40470oekxc4rSHAyFBIXht2uWBu1ui_ObOggH1ns2ab0m8_2gGKByozpAaYgbjg1o0wPPmtwr2HFRaPo8WkOIg7NdBiMhdL-yPi7KgfiiR_Bs3lRNd5E5TvIUsvy9cXtLmCAKuLqpV0suefASfGi5w"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-verify-20489b043229/b4ea802bee3946721457f8704feb4cbe/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "10"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-verify-20489b043229/b4ea802bee3946721457f8704feb4cbe",
        "value": "UX8TlRMOHIqTXIj73AeZVjwdn53mxxSY0-mlItOOkuY_WI7Yry3zhI_cUa-MkVMYTlCyuKJkm5oVpd0rhRFKswrdYXU9XGria-AiIM2yBo7-0tXPcn0t1rvdJs5peplPuPSqr9Yfvf6My_Pojon3MdR-fENnmQtMC8qmhVZjn6BQ18Yviv0fVUETscdpjAEi9XHx0Lmwk-6vqZFRazaK1fc5dmno4kKmNoesOY7KxNKkAtM2ZumZw7-o8YmQi21sM8z81umPJogBFbM26S76McEA9vo8oKrRXmyaQowjRoWgsYg5J4GQ_zrK-EW5iKfWBY4T1zfCjo5m-GWiGNtzsQ"
      }
    },
[...]
