{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestsymmetric-encryptef3b3a2f?api-version=2026-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestsymmetric-encryptef3b3a2f?api-version=2026-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "oct-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "wrapKey",
            "unwrapKey"
          ],
          "k": "4n7QyEUSu9VbavQ00jfBH-ujEYcPgPLC4zZCYPMcgsg"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "58"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779475045,
          "enabled": true,
          "exportable": false,
          "key_size": 256,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1779475045
        },
        "key": {
          "key_ops": [
            "encrypt",
            "decrypt",
            "unwrapKey",
            "wrapKey"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestsymmetric-encryptef3b3a2f/d88dd67b4d534c15aca364218c294d63",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestsymmetric-encryptef3b3a2f/d88dd67b4d534c15aca364218c294d63/encrypt?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A256GCM",
        "value": "NTA2M2U2YWFhODQ1ZjE1MDIwMDU0Nzk0NGZkMTk5Njc5Yzk4ZWQ2Zjk5ZGEwYTBiMmRhZmVhZjFmNDY4NDQ5NmZkNTMyYzFjMjI5OTY4Y2I5ZGVlNDQ5NTdmY2VmN2NjZWY1OWNlZGEwYjM2MmU1NmJjZDc4ZmQzZmFlZTU3ODFjNjIzYzBiYjIyYjM1YmVhYmRlMDY2NGZkMzBlMGU4MjRhYmEzZGQxYjBhZmZmYzRhM2Q5NTVlZGUyMGNmNmE4NTRkNTJjZmQ",
        "aad": "dGVzdA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "8"
      },
      "ResponseBody": {
        "aad": "dGVzdA",
        "alg": "A256GCM",
        "iv": "XVeYo0XsTcWeqVR3",
        "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestsymmetric-encryptef3b3a2f/d88dd67b4d534c15aca364218c294d63",
        "tag": "Te7dyKy31ydMWfobDzCLwQ",
        "value": "-aVgpoC9pkbLoEm03AHNOsedGTU3lK2ea34_lYmO9XkD9RnJGB0fip67VcYSK5kL_gM7CNuX25BW3j0ei6mHdrAfDjmGT9SzrG-OkFFe_3qbl4al2lIr0LTKMSSUUAmxA7V3EUgMwQzyjZPh5faM-Le7CWpxdRWDSzrzYZKj55iO3LwV0VjHyw3qMvjb5MfUoxUwAearEh5Mvmc_8ia0CMvcBLcDUpQkriQ4iyTfjKX3FqA-8iCJmxOl-bbkKBP5vMA-uIUpZLY"
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestsymmetric-encryptef3b3a2f/d88dd67b4d534c15aca364218c294d63/decrypt?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A256GCM",
        "value": "-aVgpoC9pkbLoEm03AHNOsedGTU3lK2ea34_lYmO9XkD9RnJGB0fip67VcYSK5kL_gM7CNuX25BW3j0ei6mHdrAfDjmGT9SzrG-OkFFe_3qbl4al2lIr0LTKMSSUUAmxA7V3EUgMwQzyjZPh5faM-Le7CWpxdRWDSzrzYZKj55iO3LwV0VjHyw3qMvjb5MfUoxUwAearEh5Mvmc_8ia0CMvcBLcDUpQkriQ4iyTfjKX3FqA-8iCJmxOl-bbkKBP5vMA-uIUpZLY",
        "iv": "XVeYo0XsTcWeqVR3",
        "tag": "Te7dyKy31ydMWfobDzCLwQ",
        "aad": "dGVzdA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "A256GCM",
        "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestsymmetric-encryptef3b3a2f/d88dd67b4d534c15aca364218c294d63",
        "value": "NTA2M2U2YWFhODQ1ZjE1MDIwMDU0Nzk0NGZkMTk5Njc5Yzk4ZWQ2Zjk5ZGEwYTBiMmRhZmVhZjFmNDY4NDQ5NmZkNTMyYzFjMjI5OTY4Y2I5ZGVlNDQ5NTdmY2VmN2NjZWY1OWNlZGEwYjM2MmU1NmJjZDc4ZmQzZmFlZTU3ODFjNjIzYzBiYjIyYjM1YmVhYmRlMDY2NGZkMzBlMGU4MjRhYmEzZGQxYjBhZmZmYzRhM2Q5NTVlZGUyMGNmNmE4NTRkNTJjZmQ"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestsymmetric-encryptef3b3a2f/d88dd67b4d534c15aca364218c294d63/decrypt?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A256CBCPAD",
        "value": "LMKuK63LOzPyZzk-GMl79Lciw-LNxXt5H9zA7ZTgfpIHvM5_XY9h8q0ils-y85LvB-Bj8jx7KmDAacxkXIXxrdhHz7c5URCoOh0HrwXW7QqBVnWarK4D04X_2KG2otO0DFTFfuVcs3flnFUF2bAEujPb3SA5FHlBLPhDge4elcbWn3XXtJVOzCian2Z3O04xyI_QAZp8Ds4K4XSHtU_P238YWRvcNc399qEYptrlWjHNxxFxxAC4Hc44pAGus3cCiqWw_oS3hdD48u_EhIUSvg",
        "iv": "ibitv7BzReNZiTKgnFF0QQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "A256CBCPAD",
        "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestsymmetric-encryptef3b3a2f/d88dd67b4d534c15aca364218c294d63",
        "value": "NTA2M2U2YWFhODQ1ZjE1MDIwMDU0Nzk0NGZkMTk5Njc5Yzk4ZWQ2Zjk5ZGEwYTBiMmRhZmVhZjFmNDY4NDQ5NmZkNTMyYzFjMjI5OTY4Y2I5ZGVlNDQ5NTdmY2VmN2NjZWY1OWNlZGEwYjM2MmU1NmJjZDc4ZmQzZmFlZTU3ODFjNjIzYzBiYjIyYjM1YmVhYmRlMDY2NGZkMzBlMGU4MjRhYmEzZGQxYjBhZmZmYzRhM2Q5NTVlZGUyMGNmNmE4NTRkNTJjZmQ"
      }
    }
  ],
  "Variables": {}
}
