{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-key-name847b2a69/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-key-name847b2a69/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "139"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1707356149,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1707356149
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-key-name847b2a69/f1230c210c970555ba26fd8a43523c74",
          "kty": "RSA-HSM",
          "n": "x5PZfLtSVtEAEdOKBPMt5G6yaGYhnAzBQvo7zV2AhyT5Xh2PPFHxZD_UU_8M3LBBMast5XGRZzM-WVuXKuawkLxX2okfT23Gj1KNDIdoH0Ix2DwjLF094emy7m1rS4R4R74kBxlaa1j2Vr6cskwg-gAw-dCp8eI9AEGubLs8aDA4lf-iTx9PwS5fi7QBPKex5kEUeNWm3XsHP6j6fDamNxdPdqgRBDnZ0vU2Fg1qHOBEsEzZg_6LgCvqNxRx9j8ALbkPJ2EBueO8dWyE1V-79wLQ_e07yRAC3GOD3vmWIas1DA5c2GwKHRZE_mF2xtrao08-JeC910ojFhYydkUAsQ"
        }
      }
    }
  ],
  "Variables": {}
}
