{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrotation-key902c2acf/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrotation-key902c2acf/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrotation-key902c2acf/e8abdb0c9117413099b8beae3f622d99",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wPvIaWkVQbxQBTY9nhioKq0cVezFwc0_xU-ye_ZfEiyK6qDbO9MCvbYZBgUHpyMjfdW3jENidHCQaTjqWKERrv5W9LZSNR6iNU3vBDCszTN4NKT-6eL_Yx49j2OwSbDKQRz1Vz-fZySyMR9M8fgL41hCnLU3gD77OvC0ijvVxmxi_PEIQQiYhVof1MRS2I8pbq5j0UIEzPcZk5lH3Y71zLW44Je7On9TK8bZfPqUvkqKza4TnyzCYN37ucVmoxHaS6jbOyjsMTYCGQc3FkmK8qHF5x8yy_tS5VU5CsmS9l2LpqLf4k9ruVLG_qTAVFTYHwfaU_KvB7gTTCUyhfR_VQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1707350018,
          "updated": 1707350018,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrotation-key902c2acf/rotate?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrotation-key902c2acf/c49df2036e744a0789f3cf7f2bcdf5df",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "zUofs9XI1atQVGIZ1Hyt4_BCrc5jNMOIrm3kSzlbrKuD9ryMW8iuxH2Q834UaeNcCk_IbPiOUIGsCL2TZ-T2hgQ3i2VSal9RpkGVq-ChyHTdyr25QqQBzE6A9sEa4QaHLLDTNgA55rKUMvHPeauAr2BgV5YQ9IPEA3o3Ei8VgdBgijfbISNe_1cKtOXM-AEkK6bKQ12ZyEOq51EAuIQb9_iF76A4JmKyp392DoRFDw2KLR94SfXNHonXWqU_wqcDI_5tH1aGWezNDnWaWsYSi0L8NUWIgbNi_vuE0cd9RZqjoklqQVo1RIDf4yi4tOay31x2ZiJi_YOiI2GFbCe5XQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1707350019,
          "updated": 1707350019,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
