{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-verify-2048d0c73570/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-verify-2048d0c73570/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048d0c73570/47de208f45d24bf2a557c24fd8558e72",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4oZYEN4rz4uwQiQY3M4oJhtyQBMTMD_zKCA-MBSpzXb10SFgw1fyThB4gUzKXXPTuWQ2uqgeZQXhBTnZUgMVwb3FLg2mP1Pn_rE08SPcAatm1-B5fEFqUdxZAEJI2lKodU3DXFSh-6VCf6PAQBxzwmOnIgcRTMnHvkMYYhkE-IBdCHDL7zagd-GNWJuPkg16kf6nDSuK-lz-7jJx3omc6dx7pC_Cg7Fh5IydYIqOmcHICXY8_CH4monbKxlClkGN8QYz-2tLnt81xVrg9ea8DTdre3tHziQ5ukRCxR4ONLr_ZblNBBJrWGkzGV9-G1eL8Z2NWd4p_wGyxPfetiwReQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1715137063,
          "updated": 1715137063,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-verify-2048d0c73570/47de208f45d24bf2a557c24fd8558e72/sign?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048d0c73570/47de208f45d24bf2a557c24fd8558e72",
        "value": "kQkRY3-d6H1OM1b4DRYO4Wkz6RUlzRsILwSprpEx5Yk2TLQOc22ORSvRx-QdN-97NSJcycP010k6s6pBYzayku0jxSIM5ZVCKcl2cFvKhjSWngj2oeI5W0UdzNCuXGZqTmBSWCunIDXyrK1yQajkkjC0cazKosLf_UNZFnyUAmHr739o8qREqSgNnTHfP3dMpARsKcqbMlptegZEMugdN-HisKkCwg8RahQsXAelgBDz-sBNiWFpJbd3wWEm3H9Z-m-eHIMmc1JZuXATIrC011_HFRYc_oj0H0_pAojSUyqnrzzJMe-2Ig9xGKJQcABl7yv4Zvo5CcxgAm2GSEeBwQ"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-verify-4096d0c73570/1f1ff686ae8e4231b723ede3bd4ae982/sign?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-4096d0c73570/1f1ff686ae8e4231b723ede3bd4ae982",
        "value": "a2h2YyHItWaigLoN5pqPoaha5BWtBlXZC68U1lr2ugAzZvNkhqHFr26eRomUuwIUrzqn-xIK7T3ZOt6FX-6hfp41zBdkS4AuwzpSwUuu1LBPBodgbWpv03yB7YOc0wTrX_vbmAaSrNhus7ZDMo05XNoEfdejPYxneU0T61TtSUCJvZpS6BRzDm1clahtNDJ31RpY0hTIx7mi1F5p3ar0OySyxgtcIum0Ceh6Q4M84zqpnWUNFB-fHxfTZT1Wls95HPxy_nnG1SJbUtctq3dxVjDQYfOQSxNQ6Klsdz7StmEsXvOdzK16sT4Pt7fQZO4kI6L9VNm_nTScbfJ_PEoKEIuGb_fPNwrGBIIPykHTh-cRUSUMzCLWVS-fTQo5F0HDtXNGiB0IZoOcWaWXYI2HVc2zWNE-sjTDX-7l2FLXhkNH4bsJK_SCxzVv1yV3TEDI7_j18WuZUnzdNZPCp0MNPUsoQRLd2zHi6erLU6haom9RtwTJoVj4EJsRJrfzsj8M7aq8dwi6tZyC4_NajPHv3pWvQhA4r9ldL2twU8wm1HzmkIf6Pbrj5zWUydcVtoq5e6dmQIf6VJT1aeTYwqohM9CXw4qGonkXBp-dEB9f3jsOgsrZIbhXVZhUtx9Mb9Kn_O2N_8X4-Y_Xer07qFs45rzYRUhot_GzNRpGSa0OmDM"
      }
    }
  ],
  "Variables": {}
}
