{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-key-namedcc72f4b/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-key-namedcc72f4b/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "361"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1668580265,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1668580265
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-key-namedcc72f4b/6790c151eedc055c8b40057bb2feb62e",
          "kty": "RSA-HSM",
          "n": "txJOUQ5_Ie5hRku5SkxE0MbOEGyyPjAaGXdnosXiVFCnFKJjsfBYcfCe4WL32faT2cwoXM6ZMLFb2rm2M4M5lUudNR-33H-G1SRSQYFj5C3BJbQDeZJjDUzEjgoeax2D83g7J4LTKka4SL1P2vEO8OX6jmzcriEYwAS_9cQHYg-CGmrNZTZxiQyAQ2Tvxw7ch8ASTM6UlmpkjZYOMwmi1E5jZ5dud-EBjgYgOq2eJpmdqh5T56QpKH6Ktlbh8J6NcM3q4cPj_8bkooDU30lglt_c3pDVnnZ13sA9OB8aNQfBLP4pR2avtx5ZnObPr_k1Ar8XJjR7o1GbPn6qvSi3eQ"
        }
      }
    }
  ],
  "Variables": {}
}
