{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtesttestKeyed162d7a/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtesttestKeyed162d7a/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "229"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1697668746,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1697668746
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtesttestKeyed162d7a/f3a3a23fb5fc0dfe8d778c410ead0dec",
          "kty": "RSA-HSM",
          "n": "2pIRao9nz6YS-LLwBS14QCJrujZagjo4UiwU9VgjbABzc6j9HG0ilF0iS2QfpJ-HXjTFaaN2syAJMF1HqCAVhQG5ASebGrGrrZe_64Zay0uzk-OnUMrSdltsWczJJKXmiXChJwPItSAQAZjOoCrAVZ_gWxUvWn9rEApMty-FgjiZo7A_nn_3HPAxCCBrzIDLQUFRFPsgD-BWH1LsEbIFIbub3DpwQd3nqEbtCGO11f6feF4tTL62OCJJMaYf1BbU3oVPUpvoD2gXWOtW_aS9HiUh4qyUozcocAEMyxR1Nue9mLSFT2EEEQgyIyMDiSbIx0SRWEuKk6opnVXtYWqLmw"
        }
      }
    },
[...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtesttestKeyed162d7a/versions?maxresults=6\u0026api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230831-2-9231e16f-07-lkg",
        "x-ms-server-latency": "31"
      },
      "ResponseBody": {
        "nextLink": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtesttestKeyed162d7a/versions?maxresults=6\u0026$skiptoken=eyJ2YWx1ZSI6IitSSUQ6fjNnOUVBSm9NcStHakFBQUFBQUFBQUE9PSNSVDoxI1RSQzo2I0lTVjoyI0lFTzo2NTU2NyNRQ0Y6OCIsInZlcnNpb24iOjF9",
        "value": [
          {
            "attributes": {
              "created": 1697668746,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "updated": 1697668746
            },
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtesttestKeyed162d7a/f3a3a23fb5fc0dfe8d778c410ead0dec"
          },
          {
            "attributes": {
         [...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtesttestKeyed162d7a/versions?maxresults=6\u0026$skiptoken=eyJ2YWx1ZSI6IitSSUQ6fjNnOUVBSm9NcStHakFBQUFBQUFBQUE9PSNSVDoxI1RSQzo2I0lTVjoyI0lFTzo2NTU2NyNRQ0Y6OCIsInZlcnNpb24iOjF9\u0026api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230831-2-9231e16f-07-lkg",
        "x-ms-server-latency": "15"
      },
      "ResponseBody": {
        "value": [
          {
            "attributes": {
              "created": 1697668760,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "updated": 1697668760
            },
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtesttestKeyed162d7a/47f575c89cfb49e79f4694b4af223e60"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
