{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key404c32dd/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key404c32dd/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key404c32dd/a5015eb8c40c480f9eac729aacf62d59",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "5wsAJ_jr8LxgJKV6ZywkEYC_tMMdz3gMO4BGDkB9qLYZeuC18hxC5qz4scQGGCANYniGMhdQUIWJInP2A7Ax6Byg31YFzrlCYwdQzXhrp8VH2tpzrynpW-UIbe3aUCdGBRXL0pmraHWUJWSy-2HCowh7qoh0agnmiYqjKeeI06RBPBnp6DlzVoK6j1X9rrno8U26I4j8Kxmmli-4aDOUNSPGpzwH-T2O0WDC_xWOOJ9r5Bv9ywa0W8XkXGng32lW9ov2GYVPia1frlU_xqY04IW8KXveIc66TkSRgL6J4JKnm5rtXV9xpq4uqBrXmYlzoA9fLvYg7AGPaGbt0aHV-Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1678160233,
          "updated": 1678160233,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key404c32dd/a5015eb8c40c480f9eac729aacf62d59/sign?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "ltYuKr0-Qt5fUDMPuO_ExVmYNSeAd7IemqCzPB3wehw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key404c32dd/a5015eb8c40c480f9eac729aacf62d59",
        "value": "G5K1Xbkklndil3qI8-Z1smozAh0NxEaNr2aLd4r_1TLmLpY3-x1za3_oC4_gnqZ-p3_Pmxg3U1PEYG3J6BzT7ffWR0HSsETHdBLaQHc_XbfNMDkxz1Da36mkFLzf97mGgqjuTeQQqWCU9k7G5UJhOL_qNmhIM4xHNs4vFvgfuMEZx6eQryAnrI7M9OlAgcumdPrLgDxhS4oSIGPB8FZ-6dscJADvF9sGWCD2ZoVAm_p_v2i-rZAGY1GT1Jkl8h9UmzLlFxuzlnR9HG-pw-vxkwA30MmgSB6r2puglJ4WjQBPURdNCVkUwxve99nMiSxrAXz4DCno1QVwvxVSE85s0w"
      }
    }
  ],
  "Variables": {}
}
