{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrotation-key40922c5f/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrotation-key40922c5f/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "68"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779713014,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1779713014
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrotation-key40922c5f/b6cbd5445fd80c28b53ca5630b98017a",
          "kty": "RSA-HSM",
          "n": "oXTAeFY4Va-2oCh3OSbTYGIPPYqI5A_2d_FAsM5wb-xMQR4_KlZeqRSYKp1DT_b6tKXFYSFwsAZmcE6KTvTNnZYwiG_baH66ebTOzRFXfgw5AXiKEWY5vfR4oz022EiIWhcYaMeYFtvhuF9nu5kdByYP_niJMqwmAc-vHkjwaJYs2mGfpMjoEPhQvujU2U3PPl0GR421q9vs81Qnp-u4pFZEMKphApuiHCjkWAJEkYBqmKEW3SuMeZW5VCVA5QXBNTB9KlkbF9levwbKCIi-gj2nH9tNUE03OLIwX_yWFF5qwQlwsznemEMV8k7rvIAgn2isyJknZp3E7KHpbENoCw"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrotation-key40922c5f/rotationpolicy?api-version=7.5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lifetimeActions": [
          {
            "action": {
              "type": "Rotate"
            },
            "trigger": {
              "timeAfterCreate": "P2M"
            }
          }
        ],
        "attributes": {
          "expiryTime": "P6M"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "31"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779713014,
          "expiryTime": "P6M",
          "updated": 1779713014
        },
        "id": "keys/livekvtestrotation-key40922c5f/rotationpolicy",
        "lifetimeActions": [
          {
            "action": {
              "type": "rotate"
            },
            "trigger": {
              "timeAfterCreate": "P2M"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrotation-key40922c5f/rotationpolicy?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260505-1-b95d5630-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779713014,
          "expiryTime": "P6M",
          "updated": 1779713014
        },
        "id": "keys/livekvtestrotation-key40922c5f/rotationpolicy",
        "lifetimeActions": [
          {
            "action": {
              "type": "rotate"
            },
            "trigger": {
              "timeAfterCreate": "P2M"
     [...]
