{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrotation-key6ec82cd6/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrotation-key6ec82cd6/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrotation-key6ec82cd6/6b5798bb82d0481d974e7e107c7d53d1",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "z-J1d-SSNCGbWeFmFSezV0qk4N8YX3dOymI3YR4G2ipcQyJQPcp_7KeVKFGIM7U63vhNhGgn0-Hk-ayuZhgG4eQjnGsYmC77GTdN2fZuzzEf4nHEiCW9KjwBg-vqkh5tuf7qdFeEVPIYB40dMmtgcg2CC2ZFjPXjQap16lmX9h_bL49b9Z7juMzp5FQKhZDuc_qlK1HgbRXFGVM9ZfZf6x73_lNvSAOZNA2xNO1YeNmuzgHdrTWIOpWmGT986VEkemriFixYBuZV2MiOUUSBwkCo-P4A8RgeS2ybupZnYEVpGv8DIVhhrPmT7kqyYSz2E-KwMnEAqJK4Tvv4KuLtwQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779407609,
          "updated": 1779407609,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrotation-key6ec82cd6/rotationpolicy?api-version=7.5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lifetimeActions": [],
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/keys/livekvtestrotation-key6ec82cd6/rotationpolicy",
        "lifetimeActions": [
          {
            "trigger": {
              "timeBeforeExpiry": "P30D"
            },
            "action": {
              "type": "Notify"
            }
          }
        ],
        "attributes": {
          "created": 1779407609,
          "updated": 1779407609
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrotation-key6ec82cd6/rotationpolicy?api-version=7.5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lifetimeActions": [
          {
            "action": {
              "type": "Rotate"
            },
            "trigger": {
              "timeAfterCreate": "P2M"
            }
          }
        ],
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/keys/livekvtestrotation-key6ec82cd6/rotationpolicy",
        "lifetimeActions": [
          {
            "trigger": {
              "timeAfterCreate": "P2M"
            },
            "action": {
              "t[...]
