{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-not-yet-valid64aa392a/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-not-yet-valid64aa392a/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "attributes": {
          "nbf": 32503680000
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "69"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779588240,
          "enabled": true,
          "exportable": false,
          "nbf": 32503680000,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1779588240
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-not-yet-valid64aa392a/0b054b7de64b4c1c801b26556f5aacd8",
          "kty": "RSA-HSM",
          "n": "kQe8ew34miGHc35_KIc2a6bR94DDa7IayL52cUJ61fnzrw8yyX9M1uEaxsKi25MxBGTuUqjVVQCOfSuy4eH5l_boB2gfXPjM5rud6vI7t_m1NGKMbtNnvwNfgOq10-Vp5PQy35G_-YLaLhPsKm5hd1jlIkZqJG6UtLoqmnbJjub93EWz2tyk-rnls6uyvUBx9w_gBxTK3AZbF5YdK0qSIN-ObIXK58ijNL0Muu1C5C9gCecjGMEZjcqgFyI2PTE52uFrM2HUF7omXCNUiaKYy_Z-uDT7-ZXYudLHs3Ge7OlC2vXL3wdBQPI3CB2SnrdY85odU5m4WsXiPRj89gk-sw"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-expired64aa392a/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "attributes": {
          "exp": 946684800
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "64"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779588243,
          "enabled": true,
          "exp": 946684800,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1779588243
    [...]
