{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name8f582ac9/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name8f582ac9/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name8f582ac9/c12688f17ad54d7aafd9ebdd665378e9",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "t1mCOOWSw8FcsgS4frEyDbPq8N_K8maRka129IuFXTQXm2Up8KvDdVO6VSXE76zgnXKK40EZlspCsisla1gVMt-0h_pLh-AJGbogpeVUicgzyTsovBVIx6Go1q6wTsjSoJiEhktm4hEZZzj7QdfZQtI1l5SAjtmOrLHZ2tJJCb6oYFCOTG-WOS3Boe8IwlOP2VjYvOlYy6Cm1RKoYZ4zhHzNL8Cnufz_VWiiq-ajovfsQrdvx8txoDp7_CKhBD6cCG0a3ZNqVbu1GV3yxAnofXbAUxpejrgUMvBl0sBn4V6BDOaRAMKWjQtJkZiusmJIa8OaiPOjyUnE3RPPLNVZeQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779468842,
          "updated": 1779468842,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name8f582ac9/c12688f17ad54d7aafd9ebdd665378e9?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name8f582ac9/c12688f17ad54d7aafd9ebdd665378e9",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "t1mCOOWSw8FcsgS4frEyDbPq8N_K8maRka129IuFXTQXm2Up8KvDdVO6VSXE76zgnXKK40EZlspCsisla1gVMt-0h_pLh-AJGbogpeVUicgzyTsovBVIx6Go1q6wTsjSoJiEhktm4hEZZzj7QdfZQtI1l5SAjtmOrLHZ2tJJCb6oYFCOTG-WOS3Boe8IwlOP2VjYvOlYy6Cm1RKoYZ4zhHzNL8Cnufz_VWiiq-ajovfsQrdvx8txoDp7_CKhBD6cCG0a3ZNqVbu1GV3yxAnofXbAUxpejrgUMvBl0sBn4V6BDOaRAMKWjQtJkZiusmJIa8OaiPOjyUnE3RPPLNVZeQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779468842,
          "updated": 1779468842,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
