{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-verify-204820e6351b/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-verify-204820e6351b/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-204820e6351b/9cd5166b06d745c7aff8fddd9d495bc4",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "sDShPZu2WAYBZb0lQDGrsTmd9pbPGf9Ok_mGbZAArV4jTuyFTEjEIVjjYn1-dfr_KpJanM60_GCKGeAQDxzQMtcm7-iLXVHksAQ9QWMuLvC1HGM2ZZJAVE64Z98_E_VJhVf0UPhmfJe6wn102qH2h7eTZsS4Zm1E5zadENSgB2X2U9YI2qzS2Cd6gebcGqL2ExXL7llAOOs1ExL7u0wvzXQtZoVhDnsq-Ce2eLFMeXmcTNi5xzM8_gGnN9rWnu6oP_IDstSKsI8jEFPtl5XREiKNcwypnmXOfRV_RjcrD7C8Qq6mq9St7Jv4ViL-pX4Ufbj3nOCSe4B6FJCIshl8lQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779390924,
          "updated": 1779390924,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-verify-204820e6351b/9cd5166b06d745c7aff8fddd9d495bc4/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-204820e6351b/9cd5166b06d745c7aff8fddd9d495bc4",
        "value": "C_KDLjl8rfuKEYJ6FTowARArLzbnluSoA-cEbhpe_vb5V-XSOos-y4ZkIkb0o0C7VRUf_qVDJYFxNR-VYhitj1EsaZpYRXXhICszlhcKHZ1Tey2tzZWAOaL4CHYAqiw4WH7MfaRCxnefZNd7B1pznY4B[...]
