{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-name4fde2e57/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-name4fde2e57/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name4fde2e57/b3a08f798a454635b9810f768bc135cd",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "pUShu3br4HZOWe6suypnVhF1cENoc1FLPKBHThgTJh8fqKIsf8D8pOSbO7tMIUdQa9p5XtreMepvHbp0tssv4lVvZP8w5VFPbAfjjw91xDYxUYBNBzmNDyaddM4OgVQ1rBfBRFrL2-FjRc_7MCItP42EixjPdT4lSS0qwOuPurRAy0gV5rms1UnohHMCPSTwbdjT-MWoLR6LKwihVAO-Nh6Vr_STBj-zcxZVlqNCGqz_H7ekI6_1ANzMKZ1UR6c-S2ojzxjYHmf05rqmJ0kx7vd2mAVcOPsRrBuraTG8-VO0Rfy6QRC7alLE5gSsqj2KeABwrCTuveAXEad4sHr4MQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1691710468,
          "updated": 1691710468,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-name4fde2e57/b3a08f798a454635b9810f768bc135cd?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name4fde2e57/b3a08f798a454635b9810f768bc135cd",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "pUShu3br4HZOWe6suypnVhF1cENoc1FLPKBHThgTJh8fqKIsf8D8pOSbO7tMIUdQa9p5XtreMepvHbp0tssv4lVvZP8w5VFPbAfjjw91xDYxUYBNBzmNDyaddM4OgVQ1rBfBRFrL2-FjRc_7MCItP42EixjPdT4lSS0qwOuPurRAy0gV5rms1UnohHMCPSTwbdjT-MWoLR6LKwihVAO-Nh6Vr_STBj-zcxZVlqNCGqz_H7ekI6_1ANzMKZ1UR6c-S2ojzxjYHmf05rqmJ0kx7vd2mAVcOPsRrBuraTG8-VO0Rfy6QRC7alLE5gSsqj2KeABwrCTuveAXEad4sHr4MQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1691710468,
          "updated": 1691710468,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
