{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key95d3332e/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key95d3332e/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key95d3332e/0ec30f128de64d6cb5df0ed4fbbcb658",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "ux8UKR4juFpaVZjw4jyAhHtt0dAJpnZH-ImKUSckyV3SdHRuMx7CkMMJDh6VIQYnYv_bMVaLGyONJeEnMwGT_OimPGTSydqBFi-pPviCEUCzupyOX9OLufFIfDDmEFh_lLVEkMP2ZP8qAhBrMvnYAOPGZssVGnsq-53PtVMF0vuq5ojjiEgAH_TA-P_aHt4DbW7cNnwMRPDlVmpFcqPK7sFoieRS6G4IN7URhNodS9Eujx3KtRsAfwpSDzCEl5uGto2UKO7lk_cj9cdzPUw236YWKbw4qBmlGROWOpoDcgzpn05xXMdVnuBNvXstnu6Ni05Gy-wjGnoa8sFUh3T1vQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1741731757,
          "updated": 1741731757,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key95d3332e/?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key95d3332e/0ec30f128de64d6cb5df0ed4fbbcb658",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "ux8UKR4juFpaVZjw4jyAhHtt0dAJpnZH-ImKUSckyV3SdHRuMx7CkMMJDh6VIQYnYv_bMVaLGyONJeEnMwGT_OimPGTSydqBFi-pPviCEUCzupyOX9OLufFIfDDmEFh_lLVEkMP2ZP8qAhBrMvnYAOPGZssVGnsq-53PtVMF0vuq5ojjiEgAH_TA-P_aHt4DbW7cNnwMRPDlVmpFcqPK7sFoieRS6G4IN7URhNodS9Eujx3KtRsAfwpSDzCEl5uGto2UKO7lk_cj9cdzPUw236YWKbw4qBmlGROWOpoDcgzpn05xXMdVnuBNvXstnu6Ni05Gy-wjGnoa8sFUh3T1vQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1741731757,
          "updated": 1741731757,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key95d3332e/0ec30f128de64d6cb5df0ed4fbbcb658/decrypt?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "FOC-OijgYPL9jMR_FY9TFes6UoGSQ9LyNC4ooemxrrBT2OPExYTpt-9zM2nYMc5EedCYpOZvb17yUo7Rb4SWaMMIZW9ENVIMFvyVHLbasSRf1Go4QhKXZc8JbytEJLHkCvNZsCtGnIyNXmLKin5pE0KRZB709cPGJsplGPVRPdijP-tWu2kiHwrQ4NneHXtLcFPAOwYf33rLayZyG7PXZIaLBgOFTOJuMi09z_41Zp7B3rdLWkBpPH8qDVHw1F8RwpLtvskKIbIfHB5qSK-1V5Gn2oPZVJOkLdSYGo64OGd8u_d0PPmiCbKbtFuTTB5OjZl9J6vcewKYFS4b3Q3R1g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key95d3332e/0ec30f128de64d6cb5df0ed4fbbcb658",
        "value": "cGxhaW50ZXh0"
      }
    }
  ],
  "Variables": {}
}
