{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name2b8a2e79/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name2b8a2e79/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name2b8a2e79/d14e45a4ee9f4166a68024d0bc5dc6bc",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tEJUfUD2HgcmTMai-GWVZHTXCWnPX1kS88qVLt42TZLUOH9W8hhRXdoZXaxGrYPnumPDr_I-3HmXTawi08FK3pquM0Cms3WDw5RHauk68G9YhpIzdqxJ88IwfI5fN-2-V6jaHVNWP1W_HUOMOvKyli-HK3u1sx4pwOXyj5BwCqweHugOzMR2uRjppA01R0zu-zx19oIXQ21xG7kY4xhQ80OdYO1fCH4K5iHhKvwEuopQhHdz8rDCIHJjBRRwpdWW-Chl8tyK6x77UahLpzbr4l3_gU9UzipIRMeRZCepnE5yI-e25xnpUBlACf0MB8YuFK8lx57BN3254PSP4kExvQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1748906677,
          "updated": 1748906677,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name2b8a2e79/d14e45a4ee9f4166a68024d0bc5dc6bc?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name2b8a2e79/d14e45a4ee9f4166a68024d0bc5dc6bc",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tEJUfUD2HgcmTMai-GWVZHTXCWnPX1kS88qVLt42TZLUOH9W8hhRXdoZXaxGrYPnumPDr_I-3HmXTawi08FK3pquM0Cms3WDw5RHauk68G9YhpIzdqxJ88IwfI5fN-2-V6jaHVNWP1W_HUOMOvKyli-HK3u1sx4pwOXyj5BwCqweHugOzMR2uRjppA01R0zu-zx19oIXQ21xG7kY4xhQ80OdYO1fCH4K5iHhKvwEuopQhHdz8rDCIHJjBRRwpdWW-Chl8tyK6x77UahLpzbr4l3_gU9UzipIRMeRZCepnE5yI-e25xnpUBlACf0MB8YuFK8lx57BN3254PSP4kExvQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1748906677,
          "updated": 1748906677,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name2b8a2e79/d14e45a4ee9f4166a68024d0bc5dc6bc/encrypt?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "cGxhaW50ZXh0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name2b8a2e79/d14e45a4ee9f4166a68024d0bc5dc6bc",
        "value": "mH6WhkN96zR3_nOlD3RBvJqxGBSYy1QaybUBsfhyU1D_PHH6vd5Bpho3dgSngezIMgL2MAyoYy0ZEiMBWF__374leP6qz3XoGT-F6oPBgG2HSEH0JH29Nu5_hXNvEI236nq_5SuoEafbRX6JIjs21oTBDGdWp5GhMbi_RKPd43RrTI5gY4uTDrn1V-OIlonYVpR8I_cD19ZvI_nl4kXumN0az_Hwia1jdJFuDdZRX5NWeOZp29BfRj-aKLv6YCBXJqiLAruLn5sPCD1KU6qxHkrsLsjP25K9u3sk5X-1fmQgQfWwZxIunXoUNLxilH32Wt0URpVWZPpYi_HLJ6lX5g"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name2b8a2e79/d14e45a4ee9f4166a68024d0bc5dc6bc/decrypt?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "mH6WhkN96zR3_nOlD3RBvJqxGBSYy1QaybUBsfhyU1D_PHH6vd5Bpho3dgSngezIMgL2MAyoYy0ZEiMBWF__374leP6qz3XoGT-F6oPBgG2HSEH0JH29Nu5_hXNvEI236nq_5SuoEafbRX6JIjs21oTBDGdWp5GhMbi_RKPd43RrTI5gY4uTDrn1V-OIlonYVpR8I_cD19ZvI_nl4kXumN0az_Hwia1jdJFuDdZRX5NWeOZp29BfRj-aKLv6YCBXJqiLAruLn5sPCD1KU6qxHkrsLsjP25K9u3sk5X-1fmQgQfWwZxIunXoUNLxilH32Wt0URpVWZPpYi_HLJ6lX5g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name2b8a2e79/d14e45a4ee9f4166a68024d0bc5dc6bc",
        "value": "cGxhaW50ZXh0"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name2b8a2e79/?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name2b8a2e79/d14e45a4ee9f4166a68024d0bc5dc6bc",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tEJUfUD2HgcmTMai-GWVZHTXCWnPX1kS88qVLt42TZLUOH9W8hhRXdoZXaxGrYPnumPDr_I-3HmXTawi08FK3pquM0Cms3WDw5RHauk68G9YhpIzdqxJ88IwfI5fN-2-V6jaHVNWP1W_HUOMOvKyli-HK3u1sx4pwOXyj5BwCqweHugOzMR2uRjppA01R0zu-zx19oIXQ21xG7kY4xhQ80OdYO1fCH4K5iHhKvwEuopQhHdz8rDCIHJjBRRwpdWW-Chl8tyK6x77UahLpzbr4l3_gU9UzipIRMeRZCepnE5yI-e25xnpUBlACf0MB8YuFK8lx57BN3254PSP4kExvQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1748906677,
          "updated": 1748906677,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name2b8a2e79/d14e45a4ee9f4166a68024d0bc5dc6bc/decrypt?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "cKo8I0X6bWJ9K7QTMGokOcPMA8tgauOigyZkABt6gSOHPLwgJPNw2FqOlwyODYG5XRFZxg8S6sRv_mxK0hLbhCym4c6OZJKWNttxKz6kAErNVpvWok2AJRml9QQgOU-9YgA0qvydQIhRu68Axj5bM9FtUAusL6u_TUS4kKmhxfBE0YY26boh4HrH45HmWKbX2NifAWkoQ5mLzTPe5abSYYGyJvSzP8cDrs-o9_VFZmp0cAQarMFpNHwVTt191D-ZtEByGol5GRMf1hWzcqeGdj2xWMKzUKtq8niNulRN1g3lHlI33KjF_bqjphvcYo4qVrScXC6Euk8Oawldy3ouNA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name2b8a2e79/d14e45a4ee9f4166a68024d0bc5dc6bc",
        "value": "cGxhaW50ZXh0"
      }
    }
  ],
  "Variables": {}
}
