{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-verify-20484c13317a/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-verify-20484c13317a/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "70"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1777476370,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1777476370
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-verify-20484c13317a/62d64b5b25ea4497ab6900f6146d2247",
          "kty": "RSA-HSM",
          "n": "tHzUY9e4HB1IFuDSnEL-Tb2i0-YeyQMeOlaZI1Q_KPvT4C4-c9kGNE66pcjfgp7aIDu_VQPgeB0TgDsFYknslRu4J1pJNbsBKNlGAvn8iR6xnlzuZuQb8s_ysyJ4LQ5WqUnlAgpGtQ_V7CajLv5-plfBavCCb-fmqPK2dwn1k0iHdlQAwVncTLEgNfMzW6NjWku_eeHl4cn_g0vtjzxft2cCwZ9bZEMUXArwZEiEwpsKKt1e4b-XKb-8uogG9qgTPodcI8SDsDdzLaMW5_FSNQ3ajH2NDM1BCPjvFzODXVT6k2l6nMdKyiO_p7XpUsOObxaDtHH5-1E4l7MWcmfMjQ"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-verify-20484c13317a/62d64b5b25ea4497ab6900f6146d2247/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "8"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-verify-20484c13317a/62d64b5b25ea4497ab6900f6146d2247",
        "value": "PqR0hpWTAWvUKzhKoeio_peq_3QG5BoTZ6T0lwnVj7BXYT7llVENNOiIafMlOvnpvqAgacvZr3[...]
