{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-name5c46348e/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-name5c46348e/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name5c46348e/96a0d92d52894206b51e6c39a47b9a08",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "nEAx12cvnA7jYDmW-VXIu54sgo-q6hW4pfL9m2PpH7zXIij3NSq3L1bXSwK-vZ1Gi0cp0ik0SQiT0Hkw07obZKkKNCvIByku4IJM9jYGcaTOoykno6uIj4Bka4aBhpa8B7_7iub7WzsIqeyRVq1kRgM5twHJv0x918YH8KZhGL87uGkoNtJ_s1RnMt_SBIuFYvPz5F5WB_QVy3VyxoWu9oiQwj8y3McWsA98g7IqNxeNMe0vrUmWgfEUWk4Hc0bH1yhiQDggZLmHmSMchrdAxETRbOaZzvJUFOyg_O7Y3YU0pTNBxCGl2U3O-zzKt0PMIf298Cr7zs-K8Be2DCU2IQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1691710666,
          "updated": 1691710666,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-name5c46348e?api-version=7.5-preview.1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name5c46348e",
        "deletedDate": 1691710666,
        "scheduledPurgeDate": 1692315466,
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name5c46348e/96a0d92d52894206b51e6c39a47b9a08",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "nEAx12cvnA7jYDmW-VXIu54sgo-q6hW4pfL9m2PpH7zXIij3NSq3L1bXSwK-vZ1Gi0cp0ik0SQiT0Hkw07obZKkKNCvIByku4IJM9jYGcaTOoykno6uIj4Bka4aBhpa8B7_7iub7WzsIqeyRVq1kRgM5twHJv0x918YH8KZhGL87uGkoNtJ_s1RnMt_SBIuFYvPz5F5WB_QVy3VyxoWu9oiQwj8y3McWsA98g7IqNxeNMe0vrUmWgfEUWk4Hc0bH1yhiQDggZLmHmSMchrdAxETRbOaZzvJUFOyg_O7Y3YU0pTNBxCGl2U3O-zzKt0PMIf298Cr7zs-K8Be2DCU2IQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1691710666,
          "updated": 1691710666,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name5c46348e?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: livekvtestkey-name5c46348e"
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name5c46348e/recover?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name5c46348e/96a0d92d52894206b51e6c39a47b9a08",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "nEAx12cvnA7jYDmW-VXIu54sgo-q6hW4pfL9m2PpH7zXIij3NSq3L1bXSwK-vZ1Gi0cp0ik0SQiT0Hkw07obZKkKNCvIByku4IJM9jYGcaTOoykno6uIj4Bka4aBhpa8B7_7iub7WzsIqeyRVq1kRgM5twHJv0x918YH8KZhGL87uGkoNtJ_s1RnMt_SBIuFYvPz5F5WB_QVy3VyxoWu9oiQwj8y3McWsA98g7IqNxeNMe0vrUmWgfEUWk4Hc0bH1yhiQDggZLmHmSMchrdAxETRbOaZzvJUFOyg_O7Y3YU0pTNBxCGl2U3O-zzKt0PMIf298Cr7zs-K8Be2DCU2IQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1691710666,
          "updated": 1691710666,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-name5c46348e/?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) livekvtestkey-name5c46348e was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-name5c46348e/?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name5c46348e/96a0d92d52894206b51e6c39a47b9a08",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "nEAx12cvnA7jYDmW-VXIu54sgo-q6hW4pfL9m2PpH7zXIij3NSq3L1bXSwK-vZ1Gi0cp0ik0SQiT0Hkw07obZKkKNCvIByku4IJM9jYGcaTOoykno6uIj4Bka4aBhpa8B7_7iub7WzsIqeyRVq1kRgM5twHJv0x918YH8KZhGL87uGkoNtJ_s1RnMt_SBIuFYvPz5F5WB_QVy3VyxoWu9oiQwj8y3McWsA98g7IqNxeNMe0vrUmWgfEUWk4Hc0bH1yhiQDggZLmHmSMchrdAxETRbOaZzvJUFOyg_O7Y3YU0pTNBxCGl2U3O-zzKt0PMIf298Cr7zs-K8Be2DCU2IQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1691710666,
          "updated": 1691710666,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
