{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestkey078c32a0a/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestkey078c32a0a/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "144"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1715137762,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1715137762
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey078c32a0a/7f0a24e944204e482e5edb78d22b6b02",
          "kty": "RSA-HSM",
          "n": "yeeJlWVv5Kj0FdbcTU3k404WqM7AU-TFiGanVDmzgascToGj1yCYDtIVfptIltaZHovUZW6RvI14_BMdEgX4Y62I2Hd-EtXpBDB1iSg6hM7Dqt5naB6az0F3LhX7qyfZnOjsVsvHfAukhelTtuX2JXpiUvpxaWVKoSUqcYu1DocPD98lqLhEpq03CI5OYGqBUqy0OBwxO9sbmQRwx7g-vg3C7zrd5M3IDaQ3V0asp9aN4Q79qUilUmK-8lE4XaMmP81_1HMz9qUDpRyuqxA2q6-e8JV6u8iu8n4a1E383tkxsrytbOWBzu1ObJ1_cX3hunnBYChao-_f2ZgxxxTceQ"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestkey078c32a0a?api-version=7.6-preview.1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "29"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1715137762,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1715137762
        },
        "deletedDate": 1715137777,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey078c32a0a/7f0a24e944204e482e5edb78d22b6b02",
          "kty": "RSA-HSM",
          "n": "yeeJlWVv5Kj0FdbcTU3k404WqM7AU-TFiGanVDmzgascToGj1yCYDtIVfptIltaZHovUZW6RvI14_BMdEgX4Y62I2Hd-EtXpBDB1iSg6hM7Dqt5naB6az0F3LhX7qyfZnOjsVsvHfAukhelTtuX2JXpiUvpxaWVKoSUqcYu1DocPD98lqLhEpq03CI5OYGqBUqy0OBwxO9sbmQRwx7g-vg3C7zrd5M3IDaQ3V0asp9aN4Q79qUilUmK-8lE4XaMmP81_1HMz9qUDpRyuqxA2q6-e8JV6u8iu8n4a1E383tkxsrytbOWBzu1ObJ1_cX3hunnBYChao-_f2ZgxxxTceQ"
        },
        "recoveryId": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey078c32a0a",
        "scheduledPurgeDate": 1715742577
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys/livekvtestkey078c32a0a?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240409-1-59392ba8-develop",
        "x-ms-server-latency": "6"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1715137762,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1715137762
        },
        "deletedDate": 1715137777,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt",
            "wrapKey"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey078c32a0a/7f0a24e944204e482e5edb78d22b6b02",
          "kty": "RSA-HSM",
          "n": "yeeJlWVv5Kj0FdbcTU3k404WqM7AU-TFiGanVDmzgascToGj1yCYDtIVfptIltaZHovUZW6RvI14_BMdEgX4Y62I2Hd-EtXpBDB1iSg6hM7Dqt5naB6az0F3LhX7qyfZnOjsVsvHfAukhelTtuX2JXpiUvpxaWVKoSUqcYu1DocPD98lqLhEpq03CI5OYGqBUqy0OBwxO9sbmQRwx7g-vg3C7zrd5M3IDaQ3V0asp9aN4Q79qUilUmK-8lE4XaMmP81_1HMz9qUDpRyuqxA2q6-e8JV6u8iu8n4a1E383tkxsrytbOWBzu1ObJ1_cX3hunnBYChao-_f2ZgxxxTceQ"
        },
        "recoveryId": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey078c32a0a",
        "scheduledPurgeDate": 1715742577
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240409-1-59392ba8-develop",
        "x-ms-server-latency": "15"
      },
      "ResponseBody": {
        "nextLink": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys?maxresults=25&$skiptoken=Sanitized",
        "value": [
          {
            "attributes": {
              "created": 1715137521,
              "enabled": true,
              "exp": 2524723200,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1715137524
            },
            "deletedDate": 1715137525,
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestcrud-rsa-keyf942fe0",
            "recoveryId": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestcrud-rsa-keyf942fe0",
            "scheduledPurgeDate": 1715742325,
            "tags": {
              "foo": "updated tag"
            }
          },
          {
            "attributes": {
              "created": 1715137648,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1715137648
            },
            "deletedDate": 1715137662,
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey0a9042ef4",
            "recoveryId"[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys?maxresults=25&$skiptoken=Sanitized&api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240409-1-59392ba8-develop",
        "x-ms-server-latency": "8"
      },
      "ResponseBody": {
        "value": [
    [...]
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys/livekvtestkey078c32a0a?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240409-1-59392ba8-develop",
        "x-ms-server-latency": "5"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Key not found: https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey078c32a0a (Activity ID: 69f0cb9e-0ce8-11ef-a38b-6045bd3a1378)"
        }
      }
    },
[...]
