{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-key7b1530c1/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-key7b1530c1/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "public_exponent": 17
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "886"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1668579959,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1668579959
        },
        "key": {
          "e": "EQ",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-key7b1530c1/f12a15902553032a3c59c25e6134ca66",
          "kty": "RSA-HSM",
          "n": "1rjBC0N5arjCHbkAwAFAq2FafAKC9XD1BmI8ktFEDkAXJkLl4iB5GqZ-p2ztVcs8MZXkaWgjtGktXngI0bcrlfnWZaqs5FIp61-FunRXFa1uv1-E_O66Xt3pM2MweYrDRjAhSD7tDIq-oMEKLw8E_faY3rcYcb3gwHHIXBdpXv4cPHLmsuyicyG723BDJY--3dMSE9q-Rejh778dltpmmU_7Zzo23d0eVvFkCQCFNY0qjKTKWMQRsLsBOamJTvIVEzVooBaXyH__0zdvbX27JtGrwZWbbgZbftjKOuP5Lvmd8bSkNRNcSyHJOZkw4et4arzwXRigRrqiW556oMYCNw"
        }
      }
    }
  ],
  "Variables": {}
}
