{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-key-name427f2df9/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-key-name427f2df9/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "128"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1741741293,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1741741293
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-key-name427f2df9/87c182f8cf874246a3ba4d8e13172f37",
          "kty": "RSA-HSM",
          "n": "lij2QEdn_TbQbT2B7YZwW0lLK3JXWrqwdDK3cIIbFj4cySkcfC-0ggMkvr9AhsyDnDyu41qplNn4J4Cnz5wu5PdpMT0EKMJwDgo8Zn-YeZR9a8RLIWVmXkwRjlmRhxvyR3cxcNAyDSgqfzdGNlwXzX6R6j4hrUWwXEkBOArJPqWfnOdVntnbeJl1Gfdx6jdocRLVWOaUDf8zcjKjVI17dKEcnFLkPdY5jw5bTpVmYW-1coIKmBqERQnxDZrRCfW-tCUywdXizA9s6jZbn2VVFh1L1LCyUqB3CHKbldQMnLVK4jfAbuhI24G3wbLfWowHJreZYFA3daOxTUW__MCdtQ"
        }
      }
    }
  ],
  "Variables": {}
}
