{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-key-name84892a6a/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-key-name84892a6a/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "80"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1748906596,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1748906596
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-key-name84892a6a/d03c9519703b0aef2ef7e5b335b8c04c",
          "kty": "RSA-HSM",
          "n": "jwOLL1Qt4z9g5cNGXyRD4QUimUG27J4U70j3NrkLib-TONkkQ_69zDyQRsgC_MzD0f76FGnGELq50PdFwzVLOabOuy4gZ-cNkGn2RXqqGGR0b0QeoBP_xG0tDTpbri44yIraYziFEDe1v2BDfW0X0VB5ZrrUKUATVwq82dw8OUTBemo9vXv9ydG-_UC6x-LrPWfZjBdnKZRsO5km6IR-hgkOtaEZLZLNiOvdBv-0uBK5QfiL8kOu-IBPNN6NyNrGBNl-KP6PpYQItVWd4ui1kCd-s7I9oNCqdWbZOz10yhakUGdRBP5k6SGv5frs4c_Kju-Ak3mLbQrKbqc0uyKa5w"
        }
      }
    }
  ],
  "Variables": {}
}
