{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestkey037452af6/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestkey037452af6/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "75"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1782496629,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1782496629
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey037452af6/0db37be45f4443e8bc3a3c3cc5076b56",
          "kty": "RSA-HSM",
          "n": "rmr8LWgl2vX63rBE6nBvj82PVgTNCO_qpOYoA3xNoVWX392Ytm0pLNx8Bv9ZBsRPiMqhMi7vj4Mylo5i-LibfTgEqTfc5EerZuNE4maeQaDmWmJzICV6RqKdJCjwJSp4RSQqSiXvVpgX8YRT9uJjvOsQPtBhBpYxTrcDBTrhgYxnPVYUouxxzFasmLHYhHcBCLlTRz8v40l6DpdWylxs32hYwigHVhJdXyYIhhA8o1ZzOvispzwCTIJnmSsxEEiJwaJr_Q3C55WRtaTIQ7JSGXtAi17z5pRP9hZCSWkorkLHcvmzEqhiImm2KkLcGQGPZR232SQ4_Fs1Zo8JkcxS[...]
