{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey0331f274d/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey0331f274d/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "270"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1678160413,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1678160413
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey0331f274d/4b27df1c9b120235b1d57a9f3fdc0ca0",
          "kty": "RSA-HSM",
          "n": "iVxxhkLW7lRVpUkMyGDt6Isj6MJY81A0a1wUBx_-MQpIqpJVTiylRRJGeyCU6_LjmbMQYc7TbGxx2yLbXmyO1qIiapjrTYxjMichBgjXAOA67sKdh5F4FkKtVZ92MRERLpGbs6htcz3CVpuZlBvgMY8W8fwU4LolKbotscbk_ywbp5omJ7qhdae1N2Iuf2KcOdOyFBjpmDM87un34gLAlAP9_HoVeZV51XXx_ZMQsI0goSPZ3rWpWXZknP-xx4AYD1i6E4jpaTWODF83qsUVjUWdduXob1bCS5T5cdNBNvzt6MZqy1z39k8Phy7OdF2SrTrGU5FQWeTfOs11A1Qdqw"
        }
      }
    },
[...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey0331f274d?api-version=7.4",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "92"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1678160413,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1678160413
        },
        "deletedDate": 1678160427,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey0331f274d/4b27df1c9b120235b1d57a9f3fdc0ca0",
          "kty": "RSA-HSM",
          "n": "iVxxhkLW7lRVpUkMyGDt6Isj6MJY81A0a1wUBx_-MQpIqpJVTiylRRJGeyCU6_LjmbMQYc7TbGxx2yLbXmyO1qIiapjrTYxjMichBgjXAOA67sKdh5F4FkKtVZ92MRERLpGbs6htcz3CVpuZlBvgMY8W8fwU4LolKbotscbk_ywbp5omJ7qhdae1N2Iuf2KcOdOyFBjpmDM87un34gLAlAP9_HoVeZV51XXx_ZMQsI0goSPZ3rWpWXZknP-xx4AYD1i6E4jpaTWODF83qsUVjUWdduXob1bCS5T5cdNBNvzt6MZqy1z39k8Phy7OdF2SrTrGU5FQWeTfOs11A1Qdqw"
        },
        "recoveryId": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey0331f274d",
        "scheduledPurgeDate": 1678765227
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey0331f274d?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230208-1-3e0fbecc-develop",
        "x-ms-server-latency": "24"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1678160413,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1678160413
        },
        "deletedDate": 1678160427,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt",
            "wrapKey"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey0331f274d/4b27df1c9b120235b1d57a9f3fdc0ca0",
          "kty": "RSA-HSM",
          "n": "iVxxhkLW7lRVpUkMyGDt6Isj6MJY81A0a1wUBx_-MQpIqpJVTiylRRJGeyCU6_LjmbMQYc7TbGxx2yLbXmyO1qIiapjrTYxjMichBgjXAOA67sKdh5F4FkKtVZ92MRERLpGbs6htcz3CVpuZlBvgMY8W8fwU4LolKbotscbk_ywbp5omJ7qhdae1N2Iuf2KcOdOyFBjpmDM87un34gLAlAP9_HoVeZV51XXx_ZMQsI0goSPZ3rWpWXZknP-xx4AYD1i6E4jpaTWODF83qsUVjUWdduXob1bCS5T5cdNBNvzt6MZqy1z39k8Phy7OdF2SrTrGU5FQWeTfOs11A1Qdqw"
        },
        "recoveryId": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey0331f274d",
        "scheduledPurgeDate": 1678765227
      }
    },
[...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230208-1-3e0fbecc-develop",
        "x-ms-server-latency": "36"
      },
      "ResponseBody": {
        "nextLink": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys?maxresults=25\u0026$skiptoken=Sanitized",
        "value": [
          {
            "attributes": {
              "created": 1678160242,
              "enabled": true,
              "exp": 2524723200,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "updated": 1678160245
            },
            "deletedDate": 1678160245,
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestcrud-rsa-key3e802c50",
            "recoveryId": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestcrud-rsa-key3e802c50",
            "scheduledPurgeDate": 1678765045,
            "tags": {
              "foo": "updated tag"
            }
          },
          {
            "attributes": {
              "created": 1678160356,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "updated": 1678160356
            },
            "deletedDate": 1678160371,
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey0e1282b64",
            "recove[...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys?maxresults=25\u0026$skiptoken=Sanitized\u0026api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230208-1-3e0fbecc-develop",
        "x-ms-server-latency": "39"
      },
      "ResponseBody": {
        "val[...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey0331f274d/recover?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "114"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1678160413,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1678160413
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey0331f274d/4b27df1c9b120235b1d57a9f3fdc0ca0",
          "kty": "RSA-HSM",
          "n": "iVxxhkLW7lRVpUkMyGDt6Isj6MJY81A0a1wUBx_-MQpIqpJVTiylRRJGeyCU6_LjmbMQYc7TbGxx2yLbXmyO1qIiapjrTYxjMichBgjXAOA67sKdh5F4FkKtVZ92MRERLpGbs6htcz3CVpuZlBvgMY8W8fwU4LolKbotscbk_ywbp5omJ7qhdae1N2Iuf2KcOdOyFBjpmDM87un34gLAlAP9_HoVeZV51XXx_ZMQsI0goSPZ3rWpWXZknP-xx4AYD1i6E4jpaTWODF83qsUVjUWdduXob1bCS5T5cdNBNvzt6MZqy1z39k8Phy7OdF2SrTrGU5FQWeTfOs11A1Qdqw"
        }
      }
    },
[...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey6331f274d/recover?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "113"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1678160427,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1678160427
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey6331f274d/2198ad0e65c202c99fea457034e8314b",
          "kty": "RSA-HSM",
          "n": "qjSPThx33_BW7MRZ2OGwUe2Bq6NFz7QATD6kRo4ZJgR-9Jwp9ovUIq7S59xLBpEQ1TGJByU719Mug7nzIONYqlTr--28QDav4JWL14zPneYGNQCsflAZV8v4a1jPurW_TBTESFNiueKtUhxccjuGg-Ce3x9uVK6VedVyrpbeucx9YEZ3bpW3QXuQL5Ed6AxcdXduFHyRrrVdK17gtnvWjCDcvtBeXb3w757aXWTXLdyTJfXTkXDHVu-_MCN-OE3eKagppFFk1D8UbJNJRCuvaMOjDvuqu49BpJjpYzE_g91CXZaZnSW_ofbg3o-uazjxAK_nLNtTkoejv_OZT_8y6w"
        }
      }
    }
  ],
  "Variables": {}
}
