{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestmultitenant-key1ae23267/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestmultitenant-key1ae23267/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "96"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1748906022,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1748906022
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "sign",
            "verify",
            "encrypt",
            "decrypt",
            "unwrapKey"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestmultitenant-key1ae23267/bcac60beba0c43b2086513de2b89e5d3",
          "kty": "RSA-HSM",
          "n": "ibVkopv_E2N-KnSM89RMNKQ_C-HdhVLlQFdmaNKnkiaqhHe0kwDTcB0U2NjhGW-YLAeWSVCqMKM-EIrmTlDXHJD-c4iZiDkKKLWD7O0VVLbo1qpD7mHbDZKn7aZrRu01g5l9ctEQlvILfTpBukOuf-5E4LF-kN3CrEgn_zCZpRAandswD5Cdv6733LdLXaqEMbs9qyXPIQxhcJ-fJ8T55be2ctilBb5S4ScTHBAslEtsN-1LPdrD1u5_KDExW9gR--osGi51AAbwhL_jk_r6dJ-UTV4m5rnbWf322COtz2n78fX1mnfAqsccfK3N1ttrugO0eaHFjJZBIlRnEDyGCw"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestmultitenant-key1ae23267/?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250507-1-41b99104-key-verify-fix",
        "x-ms-server-latency": "4"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1748906022,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1748906022
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "unwrapKey",
            "decrypt",
            "encrypt",
            "verify",
            "sign",
            "wrapKey"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestmultitenant-key1ae23267/bcac60beba0c43b2086513de2b89e5d3",
          "kty": "RSA-HSM",
          "n": "ibVkopv_E2N-KnSM89RMNKQ_C-HdhVLlQFdmaNKnkiaqhHe0kwDTcB0U2NjhGW-YLAeWSVCqMKM-EIrmTlDXHJD-c4iZiDkKKLWD7O0VVLbo1qpD7mHbDZKn7aZrRu01g5l9ctEQlvILfTpBukOuf-5E4LF-kN3CrEgn_zCZpRAandswD5Cdv6733LdLXaqEMbs9qyXPIQxhcJ-fJ8T55be2ctilBb5S4ScTHBAslEtsN-1LPdrD1u5_KDExW9gR--osGi51AAbwhL_jk_r6dJ-UTV4m5rnbWf322COtz2n78fX1mnfAqsccfK3N1ttrugO0eaHFjJZBIlRnEDyGCw"
        }
      }
    }
  ],
  "Variables": {}
}
