{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-key-name113c2bc8/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-key-name113c2bc8/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-key-name113c2bc8/45c392a210d54125a479693cf0ba24a4",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wuLsj40BfCyH62fqvMubSv7mRkpKJsOuR89-ziGK0N-7Fo6aIUKQ06I1QcqdPRID40IjhApN2U4ZFfv04wWFUQtgulxQiqty5_3byzt-oKgwiZgtjqV-7P26TQSMNDPaIuU56cfdpUS-ymM80MbOvGtXH5ToUkLsxoVpziNkFvxUuohGRIga8MWobIK1k1N-lmX6kmueDosIrt3x6jgUXCx8eNGMT-y73vmzkr_hY5tqkdtXuHJvRk2LnyIRcCEi1mjZJDKPE0b0I_0SlbtqG5vPhnEXhIjndOzFBJSTWaXoxgxD9MPCV_xV1PfvdlbpI8c67ipw2HHnCnCI3snHPQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1707349993,
          "updated": 1707349993,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
