{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name6b7a33dd/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name6b7a33dd/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name6b7a33dd/a9cacdb71c7c4113b618553b094dd69d",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "riNjaOURaZGAcTk6pxOeCqT-Be7MCJDp_ornhTtPlnVrfoe7HSoOtx4un7CxSiZYr-LIVAD0C8x3uhhp16bdZ9eQlKmMCUHUdLmsT0U2wt9gl2Gd3wi2zgp6v42OLej6TTiuCdB0uB7jZAvIeHm7XI36a-VJyDskwZPoc9KO6MEehaYWePQ3haifZ987NZ5Kfz0Lkps77-fAuSSfGiMRlxxMPoLwEH6GhrLOAVApW0Dw90kjnrRMER4S5wCIrcTAjwWseIrZMcpMFRvyKLNLNp0ttgu_wray_4R7Oj6HdUSv0aKX6FxjKPGbWY6eGYQ-tgxyEFmsqFQ4VHksZRjQMQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779407757,
          "updated": 1779407757,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name6b7a33dd/a9cacdb71c7c4113b618553b094dd69d?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name6b7a33dd/a9cacdb71c7c4113b618553b094dd69d",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "riNjaOURaZGAcTk6pxOeCqT-Be7MCJDp_ornhTtPlnVrfoe7HSoOtx4un7CxSiZYr-LIVAD0C8x3uhhp16bdZ9eQlKmMCUHUdLmsT0U2wt9gl2Gd3wi2zgp6v42OLej6TTiuCdB0uB7jZAvIeHm7XI36a-VJyDskwZPoc9KO6MEehaYWePQ3haifZ987NZ5Kfz0Lkps77-fAuSSfGiMRlxxMPoLwEH6GhrLOAVApW0Dw90kjnrRMER4S5wCIrcTAjwWseIrZMcpMFRvyKLNLNp0ttgu_wray_4R7Oj6HdUSv0aKX6FxjKPGbWY6eGYQ-tgxyEFmsqFQ4VHksZRjQMQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779407757,
          "updated": 1779407757,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name6b7a33dd/a9cacdb71c7c4113b618553b094dd69d/encrypt?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "cGxhaW50ZXh0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name6b7a33dd/a9cacdb71c7c4113b618553b094dd69d",
        "value": "VN8pj5QNnr67tGdm-kFOA95SRJik2111ZyCrd1n7jeedYPeC3K2eSLhJRNd1_JvQ9aV04_iv6Opv5x9dz_SYcWQH9qzzlAfj29rfIrmSdfkN-HkBxTibm9gWWHf0ZWVbDLdwtfAYr1C1GW3iar_Z9mKdrsj3qQFc1UySmgX41pETLm1P9FpdeHSugNFrgAyABAOdeSqNG9XI-dPDTbr4htlpGiix30Sx4OUiKkqyW-m2nDRRZjTuc-ijJbSXSrqICRIAX1RJdB_q5ass7ycjVugZHrbTtm44L9p8MR87kWFcSFuXZOECaPQ4v9i1hTcXEfxJDOW_d4AIKBSQumdHmQ"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name6b7a33dd/a9cacdb71c7c4113b618553b094dd69d/decrypt?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "VN8pj5QNnr67tGdm-kFOA95SRJik2111ZyCrd1n7jeedYPeC3K2eSLhJRNd1_JvQ9aV04_iv6Opv5x9dz_SYcWQH9qzzlAfj29rfIrmSdfkN-HkBxTibm9gWWHf0ZWVbDLdwtfAYr1C1GW3iar_Z9mKdrsj3qQFc1UySmgX41pETLm1P9FpdeHSugNFrgAyABAOdeSqNG9XI-dPDTbr4htlpGiix30Sx4OUiKkqyW-m2nDRRZjTuc-ijJbSXSrqICRIAX1RJdB_q5ass7ycjVugZHrbTtm44L9p8MR87kWFcSFuXZOECaPQ4v9i1hTcXEfxJDOW_d4AIKBSQumdHmQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name6b7a33dd/a9cacdb71c7c4113b618553b094dd69d",
        "value": "cGxhaW50ZXh0"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name6b7a33dd/?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name6b7a33dd/a9cacdb71c7c4113b618553b094dd69d",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "riNjaOURaZGAcTk6pxOeCqT-Be7MCJDp_ornhTtPlnVrfoe7HSoOtx4un7CxSiZYr-LIVAD0C8x3uhhp16bdZ9eQlKmMCUHUdLmsT0U2wt9gl2Gd3wi2zgp6v42OLej6TTiuCdB0uB7jZAvIeHm7XI36a-VJyDskwZPoc9KO6MEehaYWePQ3haifZ987NZ5Kfz0Lkps77-fAuSSfGiMRlxxMPoLwEH6GhrLOAVApW0Dw90kjnrRMER4S5wCIrcTAjwWseIrZMcpMFRvyKLNLNp0ttgu_wray_4R7Oj6HdUSv0aKX6FxjKPGbWY6eGYQ-tgxyEFmsqFQ4VHksZRjQMQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779407757,
          "updated": 1779407757,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name6b7a33dd/a9cacdb71c7c4113b618553b094dd69d/decrypt?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "BtrJ6Z4q8dI3Ko7RhCLX6KefyHEKkz270R7nb-6Q_RqCnJbK0lgep-Zpr5FHIzeQ_OpSMh9z0erHWA2zn5yNiMD9Z2ItWyiPgoyc_iqQOITbDeWkqoMHAyXKDunAPbwNbZ3uiBd7cN75cDAKutXzeBQTHpHnhsxVidMec28idCqhrDcqcLc_P4LX-iQdS-hhygtdkrx6rbRa--9NbWW5MUtdYWBbiJ8XQxQTpsDpsAzmFOCJaMx2-1Y7ooZV_atPFLFByRmWlOWMeuCPMwDiCFg4_RxXPTnucz_6xjaBqXCMlqcT11Y0X2g8i2LYLfR7BDaUg6fOwxLPuhZ9nzePag"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name6b7a33dd/a9cacdb71c7c4113b618553b094dd69d",
        "value": "cGxhaW50ZXh0"
      }
    }
  ],
  "Variables": {}
}
