{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey0f2da2cb0/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey0f2da2cb0/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey0f2da2cb0/d96b7f8ff4684ddf8e669d5ed4f78f53",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uhEWu_WEkLjIQnEdmd6KpaGLZ5bbOh7TxHiEwQ2V8L2kAXIqxwZR6hYKvmPhexfVEkUeU9jQHsq2CMGGd1go91eeSs4bD8gQHFb3u_bqFKSFJQvJ8CuI1SUAwayzrYTTrqOjZNTiKCE1-Tx2jXjlF1J2UU4xzUHA-dHGfw_UZqUyAji1BqREzd-W6xWhtXVhK6pNnMJgF6hZG12HJ778jmv8nIZyMQh8smpCyXIg3soGgQCVt3HX4iskEJs7eAyDAYp21HekLHuD3bfh8t9B65s2Gw-Am3E_H6OzWNXLtsB9ZCgd1Xj2in0Sq71yr-dPi_hnIoWh2PieH2GckhvGHQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779476855,
          "updated": 1779476855,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys?api-version=2026-03-01-preview&maxresults=6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-ec-key1e1b3145",
            "attributes": {
              "enabled": true,
              "created": 1779476797,
              "updated": 1779476797,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            },
            "tags": {
              "purpose": "unit test",
              "test name": "CreateECKeyTest"
            }
          },
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-P-256-ec-key1e1b3145",
            "attributes": {
              "enabled": true,
              "created": 1779476799,
              "updated": 1779476799,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
  [...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys?api-version=2026-03-01-preview&$skiptoken=Sanitized&maxresults=6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key5044376c[...]
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys?api-version=2026-03-01-preview&$skiptoken=Sanitized&maxresults=6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-expired9fdf39a3",
            "attributes": {
              "enabled": true,
              "key_size": 2048,
              "exp": 946684800,
              "created": 1779476469,
              "updated": 1779476469,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
          },
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-not-yet-valid1c423c20",
            "attributes": {
              "enabled": true,
              "key_size": 2048,
              "nbf": 32503680000,
              "created": 1779476747,
              "updated": 1779476747,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
          },
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-not-yet-valid9fdf39a3",
            "attributes": {
              "enabled": true,
              "key_size": 2048,
              "[...]
[...]
