{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestmultitenant-key22c536e1/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestmultitenant-key22c536e1/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "72"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779390266,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1779390266
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestmultitenant-key22c536e1/ff5fb259c86e007e0c60e5564762f71a",
          "kty": "RSA-HSM",
          "n": "mXmB1BMLLpMZL2v_8Wj-sremJW8wpTgTCdG1D03ULQ7qiKaEGhjC3E9-mZFfkbo9P2PIJh3A9jsCin01StxS6lbEJfWBaBwqmJCNuxEYyyJgpHOgidGhO3em11K6KYtruk6k1lSIbRWxjIYwpYGxjDCjpgnoHpLdG6iIoEDuXZaRMkZ25r4Dz-x44qdFWqR-Raz4aO1wLzED4mxU410ZBNyxuWoVz0Kf8rCpaxsf9lPPXUJQNq_Kn824BX4EUa84wxP6Awk5n7KOVcGD_LLpgI9suPwyn0-yajyBlUtEyru82Q1LFchU2NbayPzOGxRZZ8cChm8rTqm-HEn9immCTQ"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestmultitenant-key22c536e1/?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260505-1-b95d5630-develop",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779390266,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1779390266
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestmultitenant-key22c536e1/ff5fb259c86e007e0c60e5564762f71a",
          "kty": "RSA-HSM",
          "n": "mXmB1BMLLpMZL2v_8Wj-sremJW8wpTgTCdG1D03ULQ7qiKaEGhjC3E9-mZFfkbo9P2PIJh3A9jsCin01StxS6lbEJfWBaBwqmJCNuxEYyyJgpHOgidGhO3em11K6KYtruk6k1lSIbRWxjIYwpYGxjDCjpgnoHpLdG6iIoEDuXZaRMkZ25r4Dz-x44qdFWqR-Raz4aO1wLzED4mxU410ZBNyxuWoVz0Kf8rCpaxsf9lPPXUJQNq_Kn824BX4EUa84wxP6Awk5n7KOVcGD_LLpgI9suPwyn0-yajyBlUtEyru82Q1LFchU2NbayPzOGxRZZ8cChm8rTqm-HEn9immCTQ"
        }
      }
    }
  ],
  "Variables": {}
}
