{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey0332d274e/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey0332d274e/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "148"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1707356098,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1707356098
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey0332d274e/1590a97690da028a9ab6a86ff2e35a04",
          "kty": "RSA-HSM",
          "n": "191whT-uQXkrqBrGqqyOdix5-2nMy92UepE4wvCCJ_PdXVJHUz1qWd2ENfqC4pWOPlh9oKnkkdUL1i2v_gEz54nKSdEZzuiWmSOG5mMxFoyC8UWegC_bkB6lUO8i_fsfJuz5zADhcuuINhlecRRr26s4bpaZR_k5k3tshbNLF_mikvO4LC4Ak3lrQnrbCkOSMxQ310ei9ef2Sgy5vKZUmCcHVkhjje2_PIeAOW3_Z3XO4imFebOBfXSY7M9eYuk2AnWyN43D7skfNeDc4l7HlXVCvc1sy2hKWZcRzz9EKDcRXkjnDvQxVtb14XY_unH7RaV2Ui-dLqJy7KM6op4bEQ"
        }
      }
    },
[...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey0332d274e?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "27"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1707356098,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1707356098
        },
        "deletedDate": 1707356112,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey0332d274e/1590a97690da028a9ab6a86ff2e35a04",
          "kty": "RSA-HSM",
          "n": "191whT-uQXkrqBrGqqyOdix5-2nMy92UepE4wvCCJ_PdXVJHUz1qWd2ENfqC4pWOPlh9oKnkkdUL1i2v_gEz54nKSdEZzuiWmSOG5mMxFoyC8UWegC_bkB6lUO8i_fsfJuz5zADhcuuINhlecRRr26s4bpaZR_k5k3tshbNLF_mikvO4LC4Ak3lrQnrbCkOSMxQ310ei9ef2Sgy5vKZUmCcHVkhjje2_PIeAOW3_Z3XO4imFebOBfXSY7M9eYuk2AnWyN43D7skfNeDc4l7HlXVCvc1sy2hKWZcRzz9EKDcRXkjnDvQxVtb14XY_unH7RaV2Ui-dLqJy7KM6op4bEQ"
        },
        "recoveryId": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey0332d274e",
        "scheduledPurgeDate": 1707960912
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey0332d274e?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240118-4-86344c01-develop",
        "x-ms-server-latency": "6"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1707356098,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1707356098
        },
        "deletedDate": 1707356112,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt",
            "wrapKey"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey0332d274e/1590a97690da028a9ab6a86ff2e35a04",
          "kty": "RSA-HSM",
          "n": "191whT-uQXkrqBrGqqyOdix5-2nMy92UepE4wvCCJ_PdXVJHUz1qWd2ENfqC4pWOPlh9oKnkkdUL1i2v_gEz54nKSdEZzuiWmSOG5mMxFoyC8UWegC_bkB6lUO8i_fsfJuz5zADhcuuINhlecRRr26s4bpaZR_k5k3tshbNLF_mikvO4LC4Ak3lrQnrbCkOSMxQ310ei9ef2Sgy5vKZUmCcHVkhjje2_PIeAOW3_Z3XO4imFebOBfXSY7M9eYuk2AnWyN43D7skfNeDc4l7HlXVCvc1sy2hKWZcRzz9EKDcRXkjnDvQxVtb14XY_unH7RaV2Ui-dLqJy7KM6op4bEQ"
        },
        "recoveryId": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey0332d274e",
        "scheduledPurgeDate": 1707960912
      }
    },
[...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240118-4-86344c01-develop",
        "x-ms-server-latency": "14"
      },
      "ResponseBody": {
        "nextLink": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys?maxresults=25\u0026$skiptoken=eyJ2YWx1ZSI6Ilt7XCJ0b2tlblwiOlwiK1JJRDp-WWxvQkFLT2FKcEsyQUFBQUFBQUFBQT09I1JUOjEjVFJDOjEwI0lTVjoyI0lFTzo2NTU2NyNRQ0Y6OFwiLFwicmFuZ2VcIjp7XCJtaW5cIjpcIlwiLFwibWF4XCI6XCJGRlwifX1dIiwidmVyc2lvbiI6Mn0",
        "value": [
          {
            "attributes": {
              "created": 1707356008,
              "enabled": true,
              "exp": 2524723200,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "updated": 1707356012
            },
            "deletedDate": 1707356012,
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestcrud-rsa-key3e8e2c51",
            "recoveryId": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestcrud-rsa-key3e8e2c51",
            "scheduledPurgeDate": 1707960812,
            "tags": {
              "foo": "updated tag"
            }
          },
          {
            "attributes": {
              "created": 1707356075,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "updated": 1707356075
            },
            "deletedDate": 1707356089,
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey0e1362b65",
            "recove[...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys?maxresults=25\u0026$skiptoken=eyJ2YWx1ZSI6Ilt7XCJ0b2tlblwiOlwiK1JJRDp-WWxvQkFLT2FKcEsyQUFBQUFBQUFBQT09I1JUOjEjVFJDOjEwI0lTVjoyI0lFTzo2NTU2NyNRQ0Y6OFwiLFwicmFuZ2VcIjp7XCJtaW5cIjpcIlwiLFwibWF4XCI6XCJGRlwifX1dIiwidmVyc2lvbiI6Mn0\u0026api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Ty[...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey0332d274e/recover?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "30"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1707356098,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1707356098
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey0332d274e/1590a97690da028a9ab6a86ff2e35a04",
          "kty": "RSA-HSM",
          "n": "191whT-uQXkrqBrGqqyOdix5-2nMy92UepE4wvCCJ_PdXVJHUz1qWd2ENfqC4pWOPlh9oKnkkdUL1i2v_gEz54nKSdEZzuiWmSOG5mMxFoyC8UWegC_bkB6lUO8i_fsfJuz5zADhcuuINhlecRRr26s4bpaZR_k5k3tshbNLF_mikvO4LC4Ak3lrQnrbCkOSMxQ310ei9ef2Sgy5vKZUmCcHVkhjje2_PIeAOW3_Z3XO4imFebOBfXSY7M9eYuk2AnWyN43D7skfNeDc4l7HlXVCvc1sy2hKWZcRzz9EKDcRXkjnDvQxVtb14XY_unH7RaV2Ui-dLqJy7KM6op4bEQ"
        }
      }
    },
[...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey6332d274e/recover?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "32"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1707356112,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1707356112
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey6332d274e/4a11780070f70fa4965a090629265643",
          "kty": "RSA-HSM",
          "n": "l5NTeaHPA_z8P51Yg1GfWSpKge1Ul5e91931voZYxsxPwshw9p9ghthogGgAsUQiiWGW7j9-jijczhs14rmH0ATln65uImJCOpn842Otxht5HPK0LoTlSAbGzDHRnFbL3YOOfgQIoOP9BQS3t2LBlICJg-N71YNhrBJNBSamvVgxlFB-PNM-ygm6WTz0oQ4bGJrCsNWZh3uCnDwkVYGOupXqXVVL33qnvIY9u_7ZuMk2rWWgPucWvwh1Dv2wK_vMwZoOWj9_WRq5nivd2P9swCdFyBr6DBXJ2KmPhEb4ucbN7fXWj7R76yRFRoXiOH8T2h7hDWeCOBmR-4stFltXiw"
        }
      }
    }
  ],
  "Variables": {}
}
