{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestkey0c4ca2c39/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestkey0c4ca2c39/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "127"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779476837,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1779476837
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "sign",
            "verify",
            "encrypt",
            "decrypt",
            "unwrapKey"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey0c4ca2c39/c13dc4479d06000a80502d02c6393213",
          "kty": "RSA-HSM",
          "n": "670HDXfzG7CCOUuVaQTe7qvwpVfEx-Vr6A9n_8NB1gvl2b8oS2Y_Ul6lxMzTEXh4b40SYHJin6RxZlu3y3vKt6QcCWmy5WVLKaegCIAP3igDtITOlEmqqkEFh3H6izeUtpXRMdafWTWbFo5ydA04ychIXQ1REgiCgn-KjxuEIPcmOmu6h61js1VV1pW40wMmx7zMg1ZW_r4_MdsbYIVtnfq1hhl9t_vHhr7tYKcDp8kkcI4uHvGFqo93kFVZmRlbtHnv212CEXpsombLhUrWNjUXfSiCtWcpg4WWd4kHOagxv7d1j5_kHxnEvatKIj1M3XwdG8VrSl7ddwd4uLOLhQ"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys?api-version=2026-03-01-preview&maxresults=6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "14"
      },
      "ResponseBody": {
        "nextLink": "https://managedhsmvaultname.managedhsm.azure.net/keys?maxresults=6&$skiptoken=Sanitized",
        "value": [
          {
            "attributes": {
              "created": 1779476153,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1779476153
            },
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestmultitenant-key22f736e3"
          },
          {
            "attributes": {
              "created": 1779476167,
  [...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys?maxresults=6&$skiptoken=Sanitized&api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "22"
      },
      "ResponseBody": {
        "nextLink": "http[...]
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys?maxresults=6&$skiptoken=Sanitized&api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "10"
      },
      "ResponseBody": {
        "nextLink": "https://managedhsmvaultname.managedhsm.azure.net/keys?maxresults=6&$skiptoken=Sanitized",
        "value": [
          {
            "attributes": {
              "created": 1779476460,
              "enabled": true,
              "exp": 946684800,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1779476460
            },
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-expired64dc392c"
          },
          {
            "attributes": {
              "created": 1779476463,
              "enabled": true,
              "exp": 32535216000,
              "exportable": false,
              "nbf": 32503680000,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1779476463
            },
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-valid64dc392c"
          },
          {
            "attributes": {
              "created": 1779476484,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "Custom[...]
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys?maxresults=6&$skiptoken=Sanitized&api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "value": [
          {
            "attributes": {
              "created": 1779475375,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1779475375
            },
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey-name363d3366"
          },
          {
            "attributes": {
              "created": 1779475379,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1779475379
            },
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey-name5bae31b4",
            "tags": {
              "tag": "value"
            }
          },
          {
            "attributes": {
              "created": 1779475381,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1779475381
            },
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey835e35b6"
          },
          {
            "attributes": {
              "created": 1779475383,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1779475383
            },
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkeye9303833"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
