{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestmultitenant-key2de36ab/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestmultitenant-key2de36ab/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestmultitenant-key2de36ab/0fcce5adf792487699e7ec006623a9be",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tpKtgKz3wFqGj28e1g7HOj8SCbZU7q_52Op1H-Mk52L69dv-pqiCqZBECDOBfXKBZrrmJJ5aesBZqznt7coPPsGmVSRn_1TbxEgSqhRqyqDeCo0812lZrtTedp9Z0LwM6c-sIhH3H63FldBIRROTWVIHb5yL4MQo-b7xNCqSszo5i8IVgY4przrNuVPGQ4HS0qMAkJB-UyGUvBgSY0_fXZp9ArDUT7XWojFW1XX1ik4Z38ftzuKk5pR-zlQQVQ8ukT1A6o56eJG5aC0yW5o4j8FCIYyzweOSJ_TyBabolpSISudWpVDiNG8QZRo3NHL0GEyhRqKFRXJVzjX-_SleaQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777475862,
          "updated": 1777475862,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestmultitenant-key2de36ab/?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestmultitenant-key2de36ab/0fcce5adf792487699e7ec006623a9be",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tpKtgKz3wFqGj28e1g7HOj8SCbZU7q_52Op1H-Mk52L69dv-pqiCqZBECDOBfXKBZrrmJJ5aesBZqznt7coPPsGmVSRn_1TbxEgSqhRqyqDeCo0812lZrtTedp9Z0LwM6c-sIhH3H63FldBIRROTWVIHb5yL4MQo-b7xNCqSszo5i8IVgY4przrNuVPGQ4HS0qMAkJB-UyGUvBgSY0_fXZp9ArDUT7XWojFW1XX1ik4Z38ftzuKk5pR-zlQQVQ8ukT1A6o56eJG5aC0yW5o4j8FCIYyzweOSJ_TyBabolpSISudWpVDiNG8QZRo3NHL0GEyhRqKFRXJVzjX-_SleaQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777475862,
          "updated": 1777475862,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
