{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkeywrapc6cc335b/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkeywrapc6cc335b/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "163"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1697668502,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1697668502
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkeywrapc6cc335b/4ff9777b1fd547be08792d0249b8da03",
          "kty": "RSA-HSM",
          "n": "0e2zc8yLRvPWyK3pUFclsWGcMzFFk_JdYhZ7k0kdMd-218HvtYml_0WYnOrR4dBIMFBzhY1qxY_P4gJPTebT8S6iDMGKvkdIF-TLbXNXCSiCCvClJeJ_HbwK2bRy_7P-XBtAQo6-dH_sr8DYuJSa_uvOrbStbwXLYIbLyjBq8N_r0HC2te2lQxyQJaHEU1Af5YS3J850H3JnQT_OXbWg5LMFqcR-S6OVxeuWEGofH_NazYKrYQXNWRgyAkhwK4RM_ay_cYZp_t3yPpAX6QoqaLcnu4f_0EKKHyp8YjInNO0J4uZjTunoU1bEp6h3zhBzbCiGvkvIdAPurtsREPvA8w"
        }
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkeywrapc6cc335b/4ff9777b1fd547be08792d0249b8da03?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230831-2-9231e16f-07-lkg",
        "x-ms-server-latency": "29"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1697668502,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1697668502
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkeywrapc6cc335b/4ff9777b1fd547be08792d0249b8da03",
          "kty": "RSA-HSM",
          "n": "0e2zc8yLRvPWyK3pUFclsWGcMzFFk_JdYhZ7k0kdMd-218HvtYml_0WYnOrR4dBIMFBzhY1qxY_P4gJPTebT8S6iDMGKvkdIF-TLbXNXCSiCCvClJeJ_HbwK2bRy_7P-XBtAQo6-dH_sr8DYuJSa_uvOrbStbwXLYIbLyjBq8N_r0HC2te2lQxyQJaHEU1Af5YS3J850H3JnQT_OXbWg5LMFqcR-S6OVxeuWEGofH_NazYKrYQXNWRgyAkhwK4RM_ay_cYZp_t3yPpAX6QoqaLcnu4f_0EKKHyp8YjInNO0J4uZjTunoU1bEp6h3zhBzbCiGvkvIdAPurtsREPvA8w"
        }
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkeywrapc6cc335b/4ff9777b1fd547be08792d0249b8da03/unwrapkey?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "DkAimaBWlNMh4xQJi67vuX5pf-9HiGLNOYyWw_NvWFe2PzZoxzeilCWgPx_ywsvlwcS59lU9jPN80yZ2RYKXxlNHCHsfQYuhb38Lj4p9dCUFQ1GcLIA2xCOMN1M1X1coK-Ci0zBzrE0-JhsRCFH_XpTK4RRfB6P8apnJ9ybwnkD3K9c87osqSoOZ-d929QWFIM6LivvBat-uFZpCMTF_U4XgizIQRtzjHIpwpxdL0RZxnRtjAvhiGsw4zuq6XA4fRnWkceGVlLFzVSK-STk1Fa-t2rb9SAg46pMkyHHpsse2S5BbijXVQhk8FzF7G3bBDUA8bsTuFzoB16qjCNfMIw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP",
        "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkeywrapc6cc335b/4ff9777b1fd547be08792d0249b8da03",
        "value": "NTA2M2U2YWFhODQ1ZjE1MDIwMDU0Nzk0NGZkMTk5Njc5Yzk4ZWQ2Zjk5ZGEwYTBiMmRhZmVhZjFmNDY4NDQ5NmZkNTMyYzFjMjI5OTY4Y2I5ZGVlNDQ5NTdmY2VmN2NjZWY1OWNlZGEwYjM2MmU1NmJjZDc4ZmQzZmFlZTU3ODFjNjIzYzBiYjIyYjM1YmVhYmRlMDY2NGZkMzBlMGU4MjRhYmEzZGQxYjBhZmZmYzRhM2Q5NTVlZGUyMGNmNmE4NTRkNTJjZmQ"
      }
    }
  ],
  "Variables": {}
}
