{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-key-nameb5fa303b/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-key-nameb5fa303b/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "126"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1779477226,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1779477226
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "sign",
            "verify",
            "encrypt",
            "decrypt",
            "unwrapKey"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-key-nameb5fa303b/6d09f6770c9f4e2f2f68ef4cf186408a",
          "kty": "RSA-HSM",
          "n": "haz5PxKxa89JENpE_wfp7s71G0uzvWk6z_lhprHDU4PK9AsJ-hAbPIbgJgQP7rLZCZ7RA0cWAXCiF2T3Cwvrwzyus9f8T8PkQUjYcp1ay9MPwqyXxYd2z_NLVGXkuLcOzUfgU07f-rDkDntXze1MGwAx_tNe4wAZPVTyTFQTxLxGqeabTgTHRWckI1QMFvrxbDIYaEOv-6dymWXq8364ddYnKCDB7vr4pfsrgqG4xHW95zxbFCezdkD7wloiyRK3Kcw5ONnB0nXDfvUB1waUcxjckWbb4RYqizMHnqTVC5gnifJ1B7b4M-cRcWdbbFHfEBFVgTl8snYYOZlVVbv1_Q"
        }
      }
    }
  ],
  "Variables": {}
}
