{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestkey0433e28b4/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestkey0433e28b4/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "71"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1777477091,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1777477091
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey0433e28b4/53b13b3068994211245bf48947c7e034",
          "kty": "RSA-HSM",
          "n": "qzELaAiOQVMaXz0Uyveru_-2OYihjZMSZP-W7meXyYY8wfDdRF0y_XRSQMHSZ8VfCLftgkDuXVfIA1YLmhmsq94cFv4SNCPSR0X7BG3IXiN_zMHotnPvdNbMfjIC4m4OKs_L6Oyf46bvyKY-HJBFDrrtKrM4Ah24-2VAiEA5Z5O-jVpyh5lkuRoTvX9C5HLMPKUIWWrWugOSawMFgub35_LnDtE7eYcrJ05wYFzAr0HtL2zrfQ95qQ9D-2cf8LKuAyJeNt25G4mVPT7GdMwDuSH6m59UC94io7d4ja2SjjhpAD5s1MqXLsSSVhsSSD5sJI5M1izquguj0T3Al797[...]
