{
  "Entries": [
    {
      "RequestUri": "https://mcpatinokvhsm.managedhsm.azure.net/keys/livekvtestwrap-local54913278/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "5"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://mcpatinokvhsm.managedhsm.azure.net/keys/livekvtestwrap-local54913278/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 4096
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "178"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1691701030,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1691701030
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://mcpatinokvhsm.managedhsm.azure.net/keys/livekvtestwrap-local54913278/4e432f8693f400e58d401df908ef54de",
          "kty": "RSA-HSM",
          "n": "iAV4QJpRvhMdEtMxRn9o5A59y6btAacghED3c-uNzFf4HPzPLZUc-XrM27n9xSaqVshvNt3UV_Aes1uBUdmRajDqzZxWcHDT6vBkgVay138iwes_kpk6J14GLpNmzwaT7ns6BOYIi9YAV_Z-TbnGf6kCLl5vcovw2cRxQUnz0Bqg7qvOjb4QbuwhZwlfya3PskxxiOOopHndLIxtljyvvvneS6s4JkQkFG9XFdeMH5tmD6ZL6Hmf-GCGOjbS6RChzCHK9k1f1vHkQ_B8qmbPaCy5Hr1HU6K6vPZmKCBoAdhEn6ZJWF1TIP6iAMLZORjV4LM8MtLCEd8xewEblscx6-6JRifIFExq30qlI_YGpvzj7K8VJblL_pchj3gxd7SVZYJMn89geGQSWzLAqVETKcbNFyKTqen0JpVcF8DgdASrG9qdt-o9WUzqGiSCPODDWJsghNLBZBxyokmcnfcNvduzkEwJEs85PVQZK_3arTJ9yHDaVs0GgYGMd4vPnyHxoDmvn4WyFNpCWiS4j6u-5PTzQTLwIuB-kPATeJy_zf-k0kSqpd3bogfaEJsWRoq8tpfxB99jBtcJO6r0oMh9zvgsXkd84hjZvtvi5f2QHqftVgxOb5wDn4fG11jgihIEzRpWD8MonDS2x3KsHajVQrtBOU-Cf5VLQ2seMvTFLTk"
        }
      }
    },
[...]
    {
      "RequestUri": "https://mcpatinokvhsm.managedhsm.azure.net/keys/livekvtestwrap-local54913278/4e432f8693f400e58d401df908ef54de/unwrapkey?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "UtoJ6eqrCqA2rWRcWEnKJXImLIQYn0rn0qxMQSsY3RDTfR05t9uTog1QST5WxJJ7H1-Q47kQdOYgLfgWsyKQOklVds55mD9l7SO20aAsmZil4ABr4XSs4MOSPEptkPnXiv9SB6YUm4dStr1748xkW9JfH88WehetjsbMhPCj4FyRzViDRKMuGz_7G6m9p2h81KI7TURnauaYFESGJWLGwtDUoyZfhfdGVivYs05yfl6AhKXPLRDVI6HtqGdh0KYqGEdlUtYHuZ3ekFQTsfq3RDmdsiDe7yvKl7qiEZ9w4viBohuZjb0bFrgBbY41r34RkXPf6zLJXM29wlCQoLeD4suygwiEgfiqDZ50p5qotYjoqkvOJR-EuBhBzeVlisNU6lSLlUkTENZKCSwlUBC1FqVoQBJ6UEl7RgXEnvel_m8PI43K95uY0fQntoEW0ItDTQJ4sUr-AN3Qq_XD7U90luVnfLqZKmtHy_cG394gumYyI1ckwm4m9MZffrd_hrbVDOmyrhrs4iZRFcHJNp-zH7SS4UzHfYusOJ1kcfgvnbdysEySs0Fyzk_OemoGN0sMhysHfv-FQItHhHlAGtlDKSyxAounCniyHkpY0feTIqe5Oa08Ea1Yn-98CuSgIhZUkqdjUXEPOq4CV-fcP-UwVpoFDt3XJkEIdRyBHnbgeCw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "43"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP",
        "kid": "https://mcpatinokvhsm.managedhsm.azure.net/keys/livekvtestwrap-local54913278/4e432f8693f400e58d401df908ef54de",
        "value": "NTA2M2U2YWFhODQ1ZjE1MDIwMDU0Nzk0NGZkMTk5Njc5Yzk4ZWQ2Zjk5ZGEwYTBiMmRhZmVhZjFmNDY4NDQ5NmZkNTMyYzFjMjI5OTY4Y2I5ZGVlNDQ5NTdmY2VmN2NjZWY1OWNlZGEwYjM2MmU1NmJjZDc4ZmQzZmFlZTU3ODFjNjIzYzBiYjIyYjM1YmVhYmRlMDY2NGZkMzBlMGU4MjRhYmEzZGQxYjBhZmZmYzRhM2Q5NTVlZGUyMGNmNmE4NTRkNTJjZmQ"
      }
    },
[...]
