{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestmultitenant-keyca5539d7/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestmultitenant-keyca5539d7/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestmultitenant-keyca5539d7/b2ba9863f9064cc99def41abcd900340",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "qPZDrgqbuy9vk6jEuX4QoU4EwtRyN0ClWjzlHAWaQ-XzZrqhPf4M0GAF2eCBH5WhMdNpnAf8w8G0dWprhObCE0d0u_63bpZ8AqoTpU2PlC9WOqTNJYCOJMfrucBF2CyVwGRXgqYUpYBHZRVwoaERxJN1VLHLNM243gRzOCxuwRwAiTLNpizujOyZuk54Paf95U0lIkxMAPkorKssAiH52RYTVfMNRtg0098d_E0cCf6ciJxhhIFmpBBXlXOYAmJ0g7Lw8ZJ4TozgS9qgEAqc8RwEl9bpH9p3w8_JyYp9R6TBpZn792e1bWPjF-Dr__49CemqWI3LmiiwC71fkpGN-Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779476173,
          "updated": 1779476173,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestmultitenant-keyca5539d7/?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestmultitenant-keyca5539d7/b2ba9863f9064cc99def41abcd900340",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "qPZDrgqbuy9vk6jEuX4QoU4EwtRyN0ClWjzlHAWaQ-XzZrqhPf4M0GAF2eCBH5WhMdNpnAf8w8G0dWprhObCE0d0u_63bpZ8AqoTpU2PlC9WOqTNJYCOJMfrucBF2CyVwGRXgqYUpYBHZRVwoaERxJN1VLHLNM243gRzOCxuwRwAiTLNpizujOyZuk54Paf95U0lIkxMAPkorKssAiH52RYTVfMNRtg0098d_E0cCf6ciJxhhIFmpBBXlXOYAmJ0g7Lw8ZJ4TozgS9qgEAqc8RwEl9bpH9p3w8_JyYp9R6TBpZn792e1bWPjF-Dr__49CemqWI3LmiiwC71fkpGN-Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779476173,
          "updated": 1779476173,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
