{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key4d0a375b/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key4d0a375b/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key4d0a375b/b0dc7108f0b7477cbefe979cecc7b37f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "nydQPf9UWst73ID6kqS2keN73MkcyBrOZXT3NDzb8xGgBrBd36V0eePOe2H_12JHJdHExtKpAHYuKjFGtz0tlWIoeyKUg2DgYILn8pUKMKW7dEHZNe872SeJippfR5momIpu9-W02EMHEubYtGxipRZK-zX_ZLTMZxvxmfa9-MwGHz432x2Slo332jHVwDwlxc3GYmtB7ra0uZepVMWl8vGfdaECt9kAMIVxTfotyGB7PYBHroCZzbrMXPpGMHMYGyCunWyGGe8DvVJ6EEc3zUU-7nW1rpGDW6QMwic9ZODIiaUNl5jGEOBSQsLnHaXe8GACVtmWnW68K40mdAcheQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779469182,
          "updated": 1779469182,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key4d0a375b/b0dc7108f0b7477cbefe979cecc7b37f/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "ltYuKr0-Qt5fUDMPuO_ExVmYNSeAd7IemqCzPB3wehw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key4d0a375b/b0dc7108f0b7477cbefe979cecc7b37f",
        "value": "GZmYVJI1OozFWpr3RJtz_Wc8ylNf_nmCi7W24AyOtKndBrmDIeFJ7JwUBKnGGLP23OakEDpbCdFxE4H9_HN0mgAHnUdJ2d30Ag2WuiOkGx5wOvKCVjaKu2wHFFEdLWgvOgqWv8sS91ZprnckkgGJfBjc_fQBHX-MGE0obxVJa74JGzQ2hfLtltevPcadBQIABzPbJviqYma9PsbE1xOhUwQsp7EPw10J4siBkiY9lwHL9bWrTVv37LAX6hBN7LwIZeJ86knGjPNlZDratDkUpqdg4m2AEo3A8XC3uoEYamQzKJNJB6HlpIw0YfCZWQ_iSol_2Pbmgf79dCnl6b0azQ"
      }
    }
  ],
  "Variables": {}
}
