{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey02d112bc3/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey02d112bc3/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey02d112bc3/527fdc32d1f44320a1dd3f6a587021e8",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "se0YMIxuxFdcq4p49VtnzuNFIiBLEjj29eblzdZMmS6w16871MSW0geupYjXBOKq-NgxSPB8Mb_NOcwDxZIk_LXy9qUVhZY9neca08BqoG1kv9aUAx1slxlq-lS0ea8SXoxkMX72wqR51L2yVDCAS5jVfocfZXDb4GaKyOHbu6VeN48dml03Bm2irXuOzP5UApHNAsw_5dqcYUn-iU9kHqtAgdC3UIhlIrFUKoNQr-_XUccf7IFPScOpxMVmZ5Ewdt9b866boOI1ajsiQWWypTCa6cu2V7tWcx96f9fNCTJ6hzBRlzBMPiLy5UuKej9kYJp355r1X0wRMOy9Eu34iQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1741307974,
          "updated": 1741307974,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys?api-version=7.6-preview.2&maxresults=6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestcert-name38f93e8d",
            "attributes": {
              "enabled": true,
              "nbf": 1741304436,
              "exp": 1804377036,
              "created": 1741305037,
              "updated": 1741305037,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "hsmPlatform": "0"
            },
            "managed": true
          },
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestcert-name3e3e27",
            "attributes": {
              "enabled": true,
              "nbf": 1741304622,
              "exp": 1804377222,
              "created": 1741305222,
              "updated": 1741305222,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "hsmPlatform": "0"
            },
            "managed": true
          },
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestcert-name7d9a3baa",
            "attributes": {
              "enabled": true,
              "nbf": 1741304508,
              "exp": 1804377108,
              "created": 1741305108,
              "updated": 1741305108,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "hsmPlatform": "0"
            },
            "managed": true
          }
        ],
        "nextLink": "https://vaultname.vault.azure.net:443/keys?api-version=7.6-preview.2&$skiptoken=Sanitized&maxresults=6"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys?api-version=7.6-preview.2&$skiptoken=Sanitized&maxresults=6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestcert-nameccf9410a",
            "attr[...]
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys?api-version=7.6-preview.2&$skiptoken=Sanitized&maxresults=6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-ec-key415a3058",
            "attributes": {
              "enabled": true,
              "created": 1741307945,
              "updated": 1741307945,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            },
            "tags": {
              "purpose": "unit test",
              "test name": "CreateECKeyTest"
            }
          },
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-P-256-ec-key415a3058",
            "attributes": {
              "enabled": true,
              "created": 1741307947,
              "updated": 1741307947,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
  [...]
[...]
