{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey013652fdb/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey013652fdb/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "189"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1697669123,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1697669123
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey013652fdb/9bddc3e2f9800eeab8ff263be264bf81",
          "kty": "RSA-HSM",
          "n": "ta_SHccUiaKaSpyFYuDC-JDSgxcc__RAnORkNxh-nnMfhakrEV4YzeV_yRgVDGEsHkoIZU9pfUqfDoyYqOaBoPE0MByn7shP6TsXXDZ3KsuEqyPvG58Rsdi0mKg-tL1HlG0ZU0_GHKRu1iISEQQD7ZRm77a0OSBVvDnVGiDQBmaLVafQzr5LnPUKgBdecmP-xmqKlJLFv8KQDZi6OsDXOSiwxmhytjfrYK7aGoOUs8Ln2ZbB-OOPY1wChq2JKtS_4WikZdAFc0nP_0srTkEsBz9AYSZfH8dbNWbPIPbidWZJWDDgyiLYHANmF5d4qhL98RmctUP-xanmTL5itHvaqQ"
        }
      }
    },
[...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey013652fdb?api-version=7.5-preview.1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "57"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1697669123,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1697669123
        },
        "deletedDate": 1697669137,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey013652fdb/9bddc3e2f9800eeab8ff263be264bf81",
          "kty": "RSA-HSM",
          "n": "ta_SHccUiaKaSpyFYuDC-JDSgxcc__RAnORkNxh-nnMfhakrEV4YzeV_yRgVDGEsHkoIZU9pfUqfDoyYqOaBoPE0MByn7shP6TsXXDZ3KsuEqyPvG58Rsdi0mKg-tL1HlG0ZU0_GHKRu1iISEQQD7ZRm77a0OSBVvDnVGiDQBmaLVafQzr5LnPUKgBdecmP-xmqKlJLFv8KQDZi6OsDXOSiwxmhytjfrYK7aGoOUs8Ln2ZbB-OOPY1wChq2JKtS_4WikZdAFc0nP_0srTkEsBz9AYSZfH8dbNWbPIPbidWZJWDDgyiLYHANmF5d4qhL98RmctUP-xanmTL5itHvaqQ"
        },
        "recoveryId": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey013652fdb",
        "scheduledPurgeDate": 1698273937
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey013652fdb?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230831-2-9231e16f-07-lkg",
        "x-ms-server-latency": "15"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1697669123,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1697669123
        },
        "deletedDate": 1697669137,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt",
            "wrapKey"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey013652fdb/9bddc3e2f9800eeab8ff263be264bf81",
          "kty": "RSA-HSM",
          "n": "ta_SHccUiaKaSpyFYuDC-JDSgxcc__RAnORkNxh-nnMfhakrEV4YzeV_yRgVDGEsHkoIZU9pfUqfDoyYqOaBoPE0MByn7shP6TsXXDZ3KsuEqyPvG58Rsdi0mKg-tL1HlG0ZU0_GHKRu1iISEQQD7ZRm77a0OSBVvDnVGiDQBmaLVafQzr5LnPUKgBdecmP-xmqKlJLFv8KQDZi6OsDXOSiwxmhytjfrYK7aGoOUs8Ln2ZbB-OOPY1wChq2JKtS_4WikZdAFc0nP_0srTkEsBz9AYSZfH8dbNWbPIPbidWZJWDDgyiLYHANmF5d4qhL98RmctUP-xanmTL5itHvaqQ"
        },
        "recoveryId": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey013652fdb",
        "scheduledPurgeDate": 1698273937
      }
    },
[...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230831-2-9231e16f-07-lkg",
        "x-ms-server-latency": "21"
      },
      "ResponseBody": {
        "nextLink": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys?maxresults=25\u0026$skiptoken=eyJ2YWx1ZSI6IitSSUQ6fjNnOUVBSm9NcStIOUFBQUFBQUFBQUE9PSNSVDoxI1RSQzoxMCNJU1Y6MiNJRU86NjU1NjcjUUNGOjgiLCJ2ZXJzaW9uIjoxfQ",
        "value": [
          {
            "attributes": {
              "created": 1697668664,
              "enabled": true,
              "exp": 2524723200,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "updated": 1697668667
            },
            "deletedDate": 1697668668,
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestcrud-rsa-keyf7c2fdf",
            "recoveryId": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestcrud-rsa-keyf7c2fdf",
            "scheduledPurgeDate": 1698273468,
            "tags": {
              "foo": "updated tag"
            }
          },
          {
            "attributes": {
              "created": 1697668780,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "updated": 1697668780
            },
            "deletedDate": 1697668793,
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey0a8ec2ef3",
            "recove[...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys?maxresults=25\u0026$skiptoken=eyJ2YWx1ZSI6IitSSUQ6fjNnOUVBSm9NcStIOUFBQUFBQUFBQUE9PSNSVDoxI1RSQzoxMCNJU1Y6MiNJRU86NjU1NjcjUUNGOjgiLCJ2ZXJzaW9uIjoxfQ\u0026api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version[...]
[...]
