{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key51db366e/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key51db366e/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key51db366e/a5cf3f512b2043b9b829f33c8411edc5",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4a1BF2Rn8V__3qGdqrxS5NDE-KHeJabro9kw4oef8-LOi_7Sfk3IoT-Q9xzzJvIkmZrT5-stt3m_Fw_UD5sQ9KcDKiALhUTfQ85o-h2KP9eYdYC7bbMl4LVkrXYNsLflugpWqejBPf5Wwg8bXGXcIno2cszMiQcMs4o3Or7p6BLxC83nTUnktfwKbTZECnurGdCVlfzH-x_1XaGqjLd6TRK41_2gL81tFqgJTU328XBEh4iXU1EDFawySQmXXISY2syVQU4fCC6nqQ7wmPvp4AyWl6yPz6nsjSRZdG_VA6cTDP_nWP7b5wAF3fIvqTo4JT-p6yy25simPrEhestwgQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1741307941,
          "updated": 1741307941,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key51db366e/a5cf3f512b2043b9b829f33c8411edc5/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "ltYuKr0-Qt5fUDMPuO_ExVmYNSeAd7IemqCzPB3wehw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key51db366e/a5cf3f512b2043b9b829f33c8411edc5",
        "value": "Z0o4Ggq9-nMdB_zzavu6_0r-EHYErqoI-1YEL8NCPMs3CsJbEvi7vMpNNJw5oXIi2Ur97bfHRJ-Eypqc1wWOVDxumt8L5OpY-n6zaNZCQGYTRRh-kcO_uBinr-Gaqq21Z8H4DGhSSwIzOomXsfSz2alXEEbfW22wgezh0EIDZFHaLe1fg64wuGpcYSISelZ3l_9OyWxuyVy40UjUrlnTU18GVD0J4-gmUe64ZfIPVVP9j6IETgFfUi5M9k04VzxhcZkqWW_jlX6tWVjWnLW5uDUbDfEkTmAcOWNQ9yHEudGvJPuase25F-p5HyIdv-cMha8qVsSOdVgqdt6ZEhNSjA"
      }
    }
  ],
  "Variables": {}
}
