{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey0e91a3873/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey0e91a3873/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey0e91a3873/743e4a77e20941d18ee7f12f25ce021e",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "bpq_I2NWjqh_5ZZvss5ETmhEgiCp7w0jnwPsFX9cPm8",
          "y": "ekK8D-8qwFUA_sL7F2SR5aWRuf6zJt90FaiKuvLjC08"
        },
        "attributes": {
          "enabled": true,
          "created": 1779469189,
          "updated": 1779469189,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey0e91a3873/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey0e91a3873/397c31d370224fb29eb2c9ab4a14feef",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rfl_rufkwuUoPYR_cJ_Nj3o4UNmPTnxqNzjM60Lbbo1zQayebiclWzkAKKrsRc78dQb9iXxUgSRh9d4YPMwkMKICIwIVVviEvqCQUhex9gtnA6-jQIM0zcmTH7c6bAfZ0iKIgnj6M9_G0J7A8J74Ol1uOTTncayZoPS69hs0ElPGxBJqNuMb3mnwrPuSgUkcDDTlKNExRZp1zSeTofzkJGkkiwxNbmznwcWIQRH42pihE8lu9CynLd5Nz2j14j8iA-S8cQot58LII855SjrhnqIpbxYrKCuXDA8tpkk4QFW-41qF1cdaae3kMCJFgvsiyQaQsGA29NDF9vKDd3ODWQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779469189,
          "updated": 1779469189,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-ec-key1e1b3145",
            "attributes": {
              "enabled": true,
              "created": 1779468528,
              "updated": 1779468528,
              "recoveryLevel": "Recoverable+Purgeable",
              "recoverableDays": 90,
              "exportable": false,
              "hsmPlatform": "0"
            },
            "tags": {
              "purpose": "unit test",
              "test name": "CreateECKeyTest"
            }
          },
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-ec-key8fc5322d",
            "attributes": {
              "enabled": true,
              "created": 1779468694,
              "updated": 1779468694,
              "recoveryLevel": "Recoverable+Purgeable",
              "recoverableDays": 90,
              "exportable": false,
              "hsmPlatform": "0"
            },
  [...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys?api-version=2026-03-01-preview&$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-521955b3222",
            "attrib[...]
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/key-name/versions?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-key1e1b3145",
            "deletedDate": 1779468536,
            "scheduledPurgeDate": 1787244536,
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-key1e1b3145",
            "attributes": {
              "enabled": true,
              "key_size": 2048,
              "exp": 2524723200,
              "created": 1779468533,
              "updated": 1779468536,
              "recoveryLevel": "Recoverable+Purgeable",
              "recoverableDays": 90,
              "exportable": false,
              "hsmPlatform": "0"
            },
            "tags": {
              "foo": "updated tag"
            }
          },
          {
            "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-key8fc5322d",
            "deletedDate": 1779468702,
            "scheduledPurgeDate": 1787244702,
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-key8fc5322d",
            "attributes": {
              "enabled": true,
              "key_size": 2048,
              "exp": 2524723200,
              "created": 1779468698,
              "updated": 1779468701,
              "recoveryLevel": "Recoverable+Purgeable",
              "recoverableDays": 90,
              "exportable": false,
              "hsmPlatform": "0"
            },
            "tags": {
              "foo": "updated tag"
            }
          }
        ],
        "nextLink": "https://vaultname.vault.azure.net:443/deletedkeys?api-version=2026-03-01-preview&$skiptoken=Sanitized"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys?api-version=2026-03-01-preview&$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": "https://vaultname.vault.azure.net:443/deletedkeys?api-version=2026-03-01-preview&$skiptoken=Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys?api-version=2026-03-01-preview&$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": null
      }
    }
  ],
  "Variables": {}
}
