{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-verify-2048b85b313b/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-verify-2048b85b313b/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "108"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1715137008,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1715137008
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-verify-2048b85b313b/b769abcfce00423aa0a90d5f38346a6d",
          "kty": "RSA-HSM",
          "n": "nlfotFFnkqFqsAqbrGpeBD78UCLULEKx5R0XXfNRysKxrm-FkvBdnjFr9fF1pXc6wDc1q4ByuVpxBmxupXxQL8k9p_Www5gnx4bOYC14Qw3e6wlpvW-kqrzEmdYELYJZqEmJ3dgn1EnWKzo72kfZLtc0syEZWIAu3_7eAc4ODfkBt0vZb8kZo6ZE2Dqdd_HNGEKZHmqayxPpuUumAg0GOAuF6gVRlqdCHiJOWHl_yek1BGo1nKI5g5O_AgPxhdA1C7Y8leFo38cR9xCOyu0EBjmPo93j3-SDqaBzE_sdnlSj-umCBTJXr0qg_pVCrGzdeqk9OstePHo_jSNC-dPeaw"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-verify-2048b85b313b/b769abcfce00423aa0a90d5f38346a6d/sign?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-verify-2048b85b313b/b769abcfce00423aa0a90d5f38346a6d",
        "value": "G1XZWG_9q3FKgLFGzq8mBzFSz3k90kzhjWVwFV1zsUrzZ9J-LG82GlOYk0n9htD2Q1NteHUTRs06ksKbPSrkvhDKXJj0LS9WMDVFjx9T3gU1oTJewLrjgW5P7lcJEaFUH1Lk6fnWpRKWb6gTzyS9enBL9b8ZYgRTjE-yHD1XeXKoFSB4UsCw6L5jgw0neMV4EsECYfJ4HdUPxUiQgrQeHDutfM8OrMHjPxPzAxnjCq7FahiXSlZsF7dlBdjrSwO5jC0R2FxjtDjhV7joZuRu2PQLwZFaruF76xWCCdeiY0Gmxp9Aak8lQZy4yDSVir5RrESrudpGRY8ExIDJtVUjyw"
      }
    },
[...]
