{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-key-name791a2fca/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-key-name791a2fca/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-key-name791a2fca/fcf565cffa20426685df95d8390b756b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "2m01z4sfLU1XCMEEdi7DNTSnt53OvEHK2R_bGtKL3GV3LxumQRN0BWtxoMd2p2smhBRMmQUNpxQOhrNrbimtQ2rJxWLb9WKUjTpQRDQt7j9l7JZmInr8ngi_TgUJPMEUG8NLBfoJvSnH3eB__uYIFjoAxaub1C-POGPEJumyWSAR-LOELWjLqCuzvWy-rAcMuDpPxRyFplN3dPo2fNLOJT5ZiG7S3lczeZKs6BpnY5oE-Zg_dQsJfWdZ1reSPWy_BWjavE0Yrkk8iTGH6jgUqIfv9hJ_75xA_mybAl37zys3odJpSEhZalMZZDJn6gLcNVT_fMXPRqJm8sX-Ul3vCQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779468654,
          "updated": 1779468654,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
