{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name8f582ac9/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name8f582ac9/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name8f582ac9/522893d8d2da4261844ea698f82e954b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "v8oLEQmWDMjlMlx97u_31Divj39U2WtXZPi4gEy6k2iIJp-dBqjOR0jVb29Mo0oyHFi6AYNTIR3GuYlg5ldIgc_7BVgIdj4Fj4mezl7YJYL2ogsDbSo5yZdR7GJjuMGSmJyHv9t-Szu9l-l6WEhZGLY28XTwquMGeCd7OLp9WCZ1vEq0Qh_zH7p48sOcouu8nFJcAoG756IHHqKL8shSEZEy78VIHr3QQKIgrnlgNrRfcTyqeBQPd4V5Bsq2ZkSIaEGA2wJfi_SLsa1v-ejCC0Gl1KtjYgNOnEqb6TXJdRxm7ZgT59NNpg0HmB6MPS3quRc7VbMeegvX8wwXF1iyyQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779407765,
          "updated": 1779407765,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name8f582ac9/522893d8d2da4261844ea698f82e954b?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name8f582ac9/522893d8d2da4261844ea698f82e954b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "v8oLEQmWDMjlMlx97u_31Divj39U2WtXZPi4gEy6k2iIJp-dBqjOR0jVb29Mo0oyHFi6AYNTIR3GuYlg5ldIgc_7BVgIdj4Fj4mezl7YJYL2ogsDbSo5yZdR7GJjuMGSmJyHv9t-Szu9l-l6WEhZGLY28XTwquMGeCd7OLp9WCZ1vEq0Qh_zH7p48sOcouu8nFJcAoG756IHHqKL8shSEZEy78VIHr3QQKIgrnlgNrRfcTyqeBQPd4V5Bsq2ZkSIaEGA2wJfi_SLsa1v-ejCC0Gl1KtjYgNOnEqb6TXJdRxm7ZgT59NNpg0HmB6MPS3quRc7VbMeegvX8wwXF1iyyQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779407765,
          "updated": 1779407765,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
