{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-not-yet-valid993938b5/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-not-yet-valid993938b5/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {
          "nbf": 32503680000
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-not-yet-valid993938b5/be932761ef894ba383d3242b403f4867",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "1igIE6kl-HgFY9ESE9MG1aWzZ2bCESdGCX6-9VDu7Ns2B2mldhhKJopHdjtiSQdWYiS-VGPj9NrtyIF5d_gJ8thLuxkA85yApY3FNbJkKXOYFL8dAnYtAPLhxDpbTQaNbLozi9TClbVBR84iFfJv16u9qto8MpE71H9O9H_aoUKmQXiSUR0GZq3KxkIxYlNU6DjwhflnRMWmCF9ZiOe7tjJZNUO8Tk0lBHyo7_KX2A5hKl1yo5SNdcIItr_YsqvKZqoGu9ZoWHcHhgqDkgQkS0pZ7OQaQbRt96Qw5KTFCRmAHFz8m_6ouYSM8JdhqC-Q6TP5ZWv8X0YBdqI3B6vRYQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "nbf": 32503680000,
          "created": 1715137170,
          "updated": 1715137170,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-expired993938b5/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {
          "exp": 946684800
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-expired993938b5/98884ae9e9ec4489955bc617b11f2a73",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tAdHOLguZ9dCp3Yx2uzra8Z30ghaFH5JXMmuTznTKPMvqjv4hPN-ang8HGVC2E5unUoyrjWoBjHq949Fmb-HoXli2p4xogzZnV_Myo_v3sSt7Mt_gjUVvZ7x-zrD1-N1CeBU8nPUHbq70rS1vhZ0NrT85XsMlpDlYPIB5fN2ydRbFBSav60WKQYW926qmzsCjrrFK4chxYV7OZXImXBGXK0wf9spUx3ksBf-6WejH05Fmb9dcJE7O_P70Z8rx9Em9NOH9L8hXJ17wjlXiYdL-QvkkqxWq5zUpJsIFfR8kW6Kd9Eh2dc8h3YT8Zzc5P2tYE6M_28Bp6ZnUvhY2XRqfQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "exp": 946684800,
          "created": 1715137172,
          "updated": 1715137172,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-valid993938b5/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {
          "nbf": 32503680000,
          "exp": 32535216000
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
     [...]
