{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-not-yet-validd9f93677/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-not-yet-validd9f93677/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {
          "nbf": 32503680000
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-not-yet-validd9f93677/0e8711793e204fdaa639e9966ed95309",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vasqKklne0XFkkJCgBHEOWDa7QnRCvDCcyZ_LU7qZ0-H90GoMv7jbqIzrbeP-JkYd0EC979gnFUjrZB_dMdcepUpvj8f1o6zTf-77pUHLf4UMC9feaMWaPhShTrRRYucuf2CyznSZywar7A0Ofbv_CybtduSjv57q8ZC-tmb8Dm_JogbU9Dk_1IVbitW7QR4Nia5Xt56SKbL-8pVGTCGVdmnTR4BNTQBqsdp8XR9_xAHYw6qZJhocy0fZH785iN0avCS1qv7YV9oL3-Okv5a7vNS04P0ayVKOfOll0UBDMISmUiHuZj5e6PAMf_sWJaAgDVOHIfXYi7BYBykM8xI8Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "nbf": 32503680000,
          "created": 1777476207,
          "updated": 1777476207,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestrsa-expiredd9f93677/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {
          "exp": 946684800
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-expiredd9f93677/71606787bf904ac1a2488894c7ac3b3b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "u[...]
