{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey0e812bdc/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey0e812bdc/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey0e812bdc/998f12cc726c4c498d5af9195e717318",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "5nLvidmtCpJqCPNLeMSTMkqLwDUxhxAMuzQszN3PZfWPIitbVVnk2d2dpJ2fxJvutWExjuCCFYmo0inwyTS5_1Ecn_ISrJ3XL4wFmV3QKVXqXbe3N6ma5-TqdqX0Khh0B8GbJY34pAeqQ2MZtNyyUR3vYEVlwxjfblVCQZP6BNMaEwn7yxjlKIJVMDrHujlTAf6tKpdDFXa6yf-wCZtyahiux3O2DS9QTrq82cHs4ZgxUuP43NpIZcGyLU3Rl7FKTtBpIq89obRlip_xNL0TgITbaqO65pOfq3r-g04mIGYlmKvS5cjvQhPs7GmbjNeDIGW50X9YDCfpEvBr2LDGAQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1741651690,
          "updated": 1741651690,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey0e812bdc?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey0e812bdc",
        "deletedDate": 1741651704,
        "scheduledPurgeDate": 1742256504,
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey0e812bdc/998f12cc726c4c498d5af9195e717318",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "5nLvidmtCpJqCPNLeMSTMkqLwDUxhxAMuzQszN3PZfWPIitbVVnk2d2dpJ2fxJvutWExjuCCFYmo0inwyTS5_1Ecn_ISrJ3XL4wFmV3QKVXqXbe3N6ma5-TqdqX0Khh0B8GbJY34pAeqQ2MZtNyyUR3vYEVlwxjfblVCQZP6BNMaEwn7yxjlKIJVMDrHujlTAf6tKpdDFXa6yf-wCZtyahiux3O2DS9QTrq82cHs4ZgxUuP43NpIZcGyLU3Rl7FKTtBpIq89obRlip_xNL0TgITbaqO65pOfq3r-g04mIGYlmKvS5cjvQhPs7GmbjNeDIGW50X9YDCfpEvBr2LDGAQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1741651690,
          "updated": 1741651690,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/livekvtestkey0e812bdc?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: livekvtestkey0e812bdc"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey0d9de2f6c",
            "deletedDate": 1741650771,
            "scheduledPurgeDate": 1742255571,
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey0d9de2f6c",
            "attributes": {
              "enabled": true,
              "created": 1741650757,
              "updated": 1741650757,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "reco[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys?api-version=7.5&$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey6e812bdc",
            "deletedDate": 1741651718,
            "scheduledPurgeDate": 1742256518,
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey6e812bdc",
            "attributes": {
              "enabled": true,
              "created": 1741651704,
              "updated": 1741651704,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
          }
        ],
        "nextLink": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys?api-version=7.5&$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey6e812bdc",
            "deletedDate": 1741651718,
            "scheduledPurgeDate": 1742256518,
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey6e812bdc",
            "attributes": {
              "enabled": true,
              "created": 1741651704,
              "updated": 1741651704,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {}
}
