{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestkey0e65d27cc/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestkey0e65d27cc/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "77"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1777476731,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1777476731
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey0e65d27cc/80edbd5b0aeb48c4285b5eca116e2020",
          "kty": "RSA-HSM",
          "n": "ifZKNJ9xWtkquValZE8A2czCC4UgOgBvRpNKPoa1a2l2m5m6m0twRpkuSvv9GYA8vqJd4Qf0b1rDXrQxOdGZn-E7T_7puegE_yLSBY9NzjnTg825LSwWW6whfSM44S_e5ILl6bN28BFwx85vJhoXi4Qhc6cYWJv7r06sdiFyy6dcYR_G7bpQUnedHX8nv1BbAZ8aDYxqLqLWnnMO4jC4pegAPWwZcpYUc4xIAN_lIGSl4wUyOTpBfMNQ38d2sjr34Brn16Min7DvFzJFpf3UzXuE_2ll1-uwHrJO0jO1GAUfhL8oFJaOao6gqUIhwL_Bd-jA6jF-XJ3TSTCbrpTG[...]
