{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrotation-key50ee2e5d/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrotation-key50ee2e5d/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrotation-key50ee2e5d/b49b05aac06a457897ee80623b309461",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "zG2j3WOmmnTPiYrx2dHb8GtRNBYIJmUaiQsW4pknZNQTqMHP1NFU7r_Z5mEBwMKiNpzuc3soMJ3TGGehUbKYrARHuoN-hm5EuFhX3Pz8kbv66zXzeM6dVKGVXfxD9d9pVBe4Q9q7_kRW0hZxWtdNr6WhJE43hQMMX-px-2youfRIPdmdkEolsmkc4msmADsIaVfQqqwU4OKG7UwWlRCovY70XRNFVnaP1bT6w6F67ziZTgdRqyebT-HEB9If9uWkGhCYCJdd1q4nJLVoMFpb-jK9yMqX4jc9hHFCFxD9bCBY18ISRf_W_Vrdci-B_oruYWDBllytdoANvEmx6LJjKQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1697669340,
          "updated": 1697669340,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrotation-key50ee2e5d/rotate?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrotation-key50ee2e5d/e90921a123f74e9b9d1a0a920b35dc8d",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "nkuDFiJmtM3UzvTAhcDrwCA-xksVR6Dtz4s1Q03RdFF9kcMzjW_Snw_B1ZHL0Z-TPLc03ZobO3eLj1B5IvF6R4NQgHormZXKneatRU5G81sjZgHFRi6TKzpMgXrSMkTf59UF9n3zeTJ9WqubdqckVNLuxUPRlQc1nib4EsOK160jSEWifApQ-e_hq4D5HdA5J5qPski6HqJ1xbDtjDgCGLZ1XqylS82kFFClZgTBB07423Lv5U07OZg9hMtjcQ3fEJnVGV5U6F1AIDFs7L5E5JRtMjuZrl-yl_A4sqS6oHSFwNEdZ0l7U4Wb0wKPmvqIv6tnT6ieSs2m-Oqk2Fm07Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1697669341,
          "updated": 1697669341,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
