{
  "Entries": [
    {
      "RequestUri": "https://mcpatinokvhsm.managedhsm.azure.net/keys/livekvtestkey033572bc4/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "5"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://mcpatinokvhsm.managedhsm.azure.net/keys/livekvtestkey033572bc4/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "236"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1691701831,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1691701831
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://mcpatinokvhsm.managedhsm.azure.net/keys/livekvtestkey033572bc4/122151c397764999a91aac5f97bedd3a",
          "kty": "RSA-HSM",
          "n": "ntC7zz2XH3wQ87nBHm5gdcuQmxPAKEVPCsDcorPLVUa3aYi_FB1uLRbDdt9TKQxVhtn6kqZbis7YruOhSApv97a8-IzRhaEWElaeyPhfCLpDx3RZaMkMVZWmAPurDGMsui-vKPUQ82OdHy72rgQRfqZuTwOCPSWSXVgxsc1GRERljbsZVN3Kv6xz4UGsnC1QE9XXEY0QNuftkPrL-Sc2fRggXIWKOkfgyxBXKOXs5ftMrOwrorMpKgcbHXPWsqH2sJkddoulCZxf0P7EI4elJ3pdnemb8_lwhMndUGw-ijdPo_rdvakp1zm5beCWbjNqFllIJ7coAwp_VS3OdvnmSw"
        }
      }
    },
[...]
    {
      "RequestUri": "https://mcpatinokvhsm.managedhsm.azure.net/keys/livekvtestkey033572bc4?api-version=7.5-preview.1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "44"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1691701831,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1691701831
        },
        "deletedDate": 1691701845,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://mcpatinokvhsm.managedhsm.azure.net/keys/livekvtestkey033572bc4/122151c397764999a91aac5f97bedd3a",
          "kty": "RSA-HSM",
          "n": "ntC7zz2XH3wQ87nBHm5gdcuQmxPAKEVPCsDcorPLVUa3aYi_FB1uLRbDdt9TKQxVhtn6kqZbis7YruOhSApv97a8-IzRhaEWElaeyPhfCLpDx3RZaMkMVZWmAPurDGMsui-vKPUQ82OdHy72rgQRfqZuTwOCPSWSXVgxsc1GRERljbsZVN3Kv6xz4UGsnC1QE9XXEY0QNuftkPrL-Sc2fRggXIWKOkfgyxBXKOXs5ftMrOwrorMpKgcbHXPWsqH2sJkddoulCZxf0P7EI4elJ3pdnemb8_lwhMndUGw-ijdPo_rdvakp1zm5beCWbjNqFllIJ7coAwp_VS3OdvnmSw"
        },
        "recoveryId": "https://mcpatinokvhsm.managedhsm.azure.net/deletedkeys/livekvtestkey033572bc4",
        "scheduledPurgeDate": 1692306645
      }
    },
    {
      "RequestUri": "https://mcpatinokvhsm.managedhsm.azure.net/deletedkeys/livekvtestkey033572bc4?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230713-3-40221b92-1.0.20230706-3-4bcefe4d-develop",
        "x-ms-server-latency": "14"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1691701831,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1691701831
        },
        "deletedDate": 1691701845,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt",
            "wrapKey"
          ],
          "kid": "https://mcpatinokvhsm.managedhsm.azure.net/keys/livekvtestkey033572bc4/122151c397764999a91aac5f97bedd3a",
          "kty": "RSA-HSM",
          "n": "ntC7zz2XH3wQ87nBHm5gdcuQmxPAKEVPCsDcorPLVUa3aYi_FB1uLRbDdt9TKQxVhtn6kqZbis7YruOhSApv97a8-IzRhaEWElaeyPhfCLpDx3RZaMkMVZWmAPurDGMsui-vKPUQ82OdHy72rgQRfqZuTwOCPSWSXVgxsc1GRERljbsZVN3Kv6xz4UGsnC1QE9XXEY0QNuftkPrL-Sc2fRggXIWKOkfgyxBXKOXs5ftMrOwrorMpKgcbHXPWsqH2sJkddoulCZxf0P7EI4elJ3pdnemb8_lwhMndUGw-ijdPo_rdvakp1zm5beCWbjNqFllIJ7coAwp_VS3OdvnmSw"
        },
        "recoveryId": "https://mcpatinokvhsm.managedhsm.azure.net/deletedkeys/livekvtestkey033572bc4",
        "scheduledPurgeDate": 1692306645
      }
    },
[...]
    {
      "RequestUri": "https://mcpatinokvhsm.managedhsm.azure.net/deletedkeys/livekvtestkey033572bc4/recover?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "52"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1691701831,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1691701831
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://mcpatinokvhsm.managedhsm.azure.net/keys/livekvtestkey033572bc4/122151c397764999a91aac5f97bedd3a",
          "kty": "RSA-HSM",
          "n": "ntC7zz2XH3wQ87nBHm5gdcuQmxPAKEVPCsDcorPLVUa3aYi_FB1uLRbDdt9TKQxVhtn6kqZbis7YruOhSApv97a8-IzRhaEWElaeyPhfCLpDx3RZaMkMVZWmAPurDGMsui-vKPUQ82OdHy72rgQRfqZuTwOCPSWSXVgxsc1GRERljbsZVN3Kv6xz4UGsnC1QE9XXEY0QNuftkPrL-Sc2fRggXIWKOkfgyxBXKOXs5ftMrOwrorMpKgcbHXPWsqH2sJkddoulCZxf0P7EI4elJ3pdnemb8_lwhMndUGw-ijdPo_rdvakp1zm5beCWbjNqFllIJ7coAwp_VS3OdvnmSw"
        }
      }
    },
    {
      "RequestUri": "https://mcpatinokvhsm.managedhsm.azure.net/keys/livekvtestkey033572bc4/?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230713-3-40221b92-1.0.20230706-3-4bcefe4d-develop",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1691701831,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1691701831
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://mcpatinokvhsm.managedhsm.azure.net/keys/livekvtestkey033572bc4/122151c397764999a91aac5f97bedd3a",
          "kty": "RSA-HSM",
          "n": "ntC7zz2XH3wQ87nBHm5gdcuQmxPAKEVPCsDcorPLVUa3aYi_FB1uLRbDdt9TKQxVhtn6kqZbis7YruOhSApv97a8-IzRhaEWElaeyPhfCLpDx3RZaMkMVZWmAPurDGMsui-vKPUQ82OdHy72rgQRfqZuTwOCPSWSXVgxsc1GRERljbsZVN3Kv6xz4UGsnC1QE9XXEY0QNuftkPrL-Sc2fRggXIWKOkfgyxBXKOXs5ftMrOwrorMpKgcbHXPWsqH2sJkddoulCZxf0P7EI4elJ3pdnemb8_lwhMndUGw-ijdPo_rdvakp1zm5beCWbjNqFllIJ7coAwp_VS3OdvnmSw"
        }
      }
    },
[...]
    {
      "RequestUri": "https://mcpatinokvhsm.managedhsm.azure.net/keys/livekvtestkey633572bc4/?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230713-3-40221b92-1.0.20230706-3-4bcefe4d-develop",
        "x-ms-server-latency": "4"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1691701844,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1691701844
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://mcpatinokvhsm.managedhsm.azure.net/keys/livekvtestkey633572bc4/f5392a98efd14283bf4c55322401a977",
          "kty": "RSA-HSM",
          "n": "yWOkqlDeG34g4YsejhIFcnxc0CdeUw1uIqLMQ1j_hstAxgLTH2gIXSJYapz35wHwtjsrE8vU3G9418IO0LmV0G_-6vw3AbJhNfkZlkI5NBHXe_TcYxn0Bwr2EwMxNFG_e_33vjsFR3uDEewvMJ7zITKyH70gzVGxVEeUtF8Q7G0yCEs5xQoOPdKkt2X2989ySA6QmXrTlYkG5CA41bmqWsPIOLcD0_dBz-CM6DYhlwVC6tBWvbx9H7ZHdfhorXRebJkz7VLXFOy09_qpQcQHRDrcTpl3ZP8gA2wPzVg4nPWFHtLImj-hLJovgZrHd7NOvPGFPB81NtPxAYKdA5dEdQ"
        }
      }
    }
  ],
  "Variables": {}
}
