{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-name8f582ac9/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-name8f582ac9/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name8f582ac9/a167d20ece264416bc738de0c6fd35ad",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "w5cdA4udrLjj-1Lb4c4a_kuAeDRrJnFroR_eSOjwCahCIrfHmgHGOCu_BeqLHqQc2SQdG9iCqGkC9xLTc3Oz9GKnIrZ546oq4HyNLURVr1wlJcHJknH8xg09ranowcgjPs8hLdKuRE2NMs1lo0SPv_ccXJ8AwhXni5uJSUHwzTC2NPp85IbMwsVlxLPmzkJ1Tv51r3MD13RJLta1TMaC_kwGaHOO9Svf0NOAjiSfckuB4rBv6rQtzUopYNGlO8LDTOWWnJiL7ys-mnp_GOoAgymsstyvDtWqDvFLYmk_nwCs8sTBGjT0NsTgMxOdFyZzM2UQTqbDcyHKKswqMnuVNQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1707350038,
          "updated": 1707350038,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-name8f582ac9/a167d20ece264416bc738de0c6fd35ad?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name8f582ac9/a167d20ece264416bc738de0c6fd35ad",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "w5cdA4udrLjj-1Lb4c4a_kuAeDRrJnFroR_eSOjwCahCIrfHmgHGOCu_BeqLHqQc2SQdG9iCqGkC9xLTc3Oz9GKnIrZ546oq4HyNLURVr1wlJcHJknH8xg09ranowcgjPs8hLdKuRE2NMs1lo0SPv_ccXJ8AwhXni5uJSUHwzTC2NPp85IbMwsVlxLPmzkJ1Tv51r3MD13RJLta1TMaC_kwGaHOO9Svf0NOAjiSfckuB4rBv6rQtzUopYNGlO8LDTOWWnJiL7ys-mnp_GOoAgymsstyvDtWqDvFLYmk_nwCs8sTBGjT0NsTgMxOdFyZzM2UQTqbDcyHKKswqMnuVNQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1707350038,
          "updated": 1707350038,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
