{
  "Entries": [
    {
      "RequestUri": "https://mcpatinokvhsm.managedhsm.azure.net/keys/livekvtestrsa-not-yet-validcc723aba/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://mcpatinokvhsm.managedhsm.azure.net/keys/livekvtestrsa-not-yet-validcc723aba/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "attributes": {
          "nbf": 32503680000
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "239"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1691701287,
          "enabled": true,
          "exportable": false,
          "nbf": 32503680000,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1691701287
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://mcpatinokvhsm.managedhsm.azure.net/keys/livekvtestrsa-not-yet-validcc723aba/b477c7d4fb5308f60a4232791ef575a9",
          "kty": "RSA-HSM",
          "n": "vWqebsBCrOI9Z5eAXELnAdqqGZTsZqgKkNR99jhITzbVkXTutCojvgS5PY31s4BNtJDCCImDCrn8MQfwjNJetDKbuEy_6lrt2XNcXGa-hucdOJjZJWlcWXwp61SU-T7yLCzwV79EyeOrZs062XkzoxRbgWN5sg0di7Njqa42MBnJhig_VeJ4oCNzhNunjbNToTxCBe_bZsSdo3R-dUpcbCfLm0iN8dhCN2FhEyPDwsRPEs7gthGVihXmUcSjyaIBk-WyEmWr7w4Y-afU59IdeaZVqmgUjCaNkrZrCav74Ymz-GAhWXbuy-AQ16gfVIfkiQl-iaqUX-CYUn0rdJmZ0Q"
        }
      }
    },
    {
      "RequestUri": "https://mcpatinokvhsm.managedhsm.azure.net/keys/livekvtestrsa-expiredcc723aba/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "attributes": {
          "exp": 946684800
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "233"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1691701290,
          "enabled": true,
          "exp": 946684800,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1691701290
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://mcpatinokvhsm.managedhsm.azure.net/keys/livekvtestrsa-expiredcc723aba/e28cb51f6a8344f492259ab44c84f749",
          "kty": "RSA-HSM",
          "n": "ifd3dpA99-P8VVhYfDz0W0vvNmeE2ex4NxFLLxbSL0D-O7RjGRA2Sv5VhDP9oxhToDPB4jaiT06o2CfswV43v257_bKvxeIu2EY4RvBhUiCeIkxKhrwcn5VoaxiOk1lVCiYq-Ghh3uIvHD9lXJuhZnHjWa0Xw7n98WXeMUGf1bqhWX_RT9e5z8kzoX7ZVAHJ1gKPPXwRKlBuo1U1PUz5pxVVdYC0oMUwUgmd-DbEfmIxM9f_2gMGtkIWu992L8T0u9XZXBcKzCYgxaTaeAvy6CGTHy4D1zHLZ3kng6dRszoyJTXslHaRCy3a0FO1Q_rfb9hVUphgdQiQEjC3a-NH5Q"
        }
      }
    },
    {
      "RequestUri": "https://mcpatinokvhsm.managedhsm.azure.net/keys/livekvtestrsa-validcc723aba/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "attributes": {
          "nbf": 32503680000,
          "exp": 32535216000
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset[...]
