{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256b43a3134/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256b43a3134/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256b43a3134/5f6a4c0e191140dc835279a97774edfb",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "8S4mzK2xkAbjleRnG2KeIZoRpH9rfIiys-0Nk9s9nyY",
          "y": "rhgXeEAZrB2X6VJL70fuPxdSAcCYaYSPzRHW_bx7uSA"
        },
        "attributes": {
          "enabled": true,
          "created": 1715137101,
          "updated": 1715137101,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256b43a3134/5f6a4c0e191140dc835279a97774edfb/sign?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256b43a3134/5f6a4c0e191140dc835279a97774edfb",
        "value": "-9U-P998vRRTDVUSTHj9PtFi3l-aKcOl1WBBYYbRzfCsOttiSGJUXCnWCyfRmbRi1l0C7wBSLo37Af29_xx04w"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256Kb43a3134/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kb43a3134/701c6c659b4847cf91ac5c655d473c6f",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "t5KPdaTGf5q-BGGF3-yHInfEcWnIAnyPQRYOhSNDhF4",
          "y": "nqLwOUP4roydPAcVpDeMLE9VWKDLUQZS88cKVKa-eaQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1715137105,
          "updated": 1715137105,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256Kb43a3134/701c6c659b4847cf91ac5c655d473c6f/sign?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kb43a3134/701c6c659b4847cf91ac5c655d473c6f",
        "value": "9k6K0_Kp49GRRdUCwzP685GOKUZvWu3VByWAQs5DVK9KbRa6lZwMSemguwsUgmiW6BhBTkSKb8jaQHJFJrDffw"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-521b43a3134/bd7c61096d7c4249bd102ed765fb4fcf/sign?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-521b43a3134/bd7c61096d7c4249bd102ed765fb4fcf",
        "value": "AGBkQ-kdQgPyNUSw1-gkvtzgD38G4rXSXQHFYzWMKoQWCtcboDSVCv9UKYLtleZWVuAjEWsZIMhiDHdt1YDkeslNATrAXZrcPQXw4ju76bntehdGgLj8coDWR7CLfZNohvfy7QndwD7zkIUawtOi8C8ta9_1lt5ygs-p0MNL4Drz_gef"
      }
    }
  ],
  "Variables": {}
}
