{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestencrypt-local7c4a2cef/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestencrypt-local7c4a2cef/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 4096
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestencrypt-local7c4a2cef/0beb50b8a75042e89bdaf08832e12b6f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "5pKnj6kucMPhoF39y6pJ_1OYPIgR8_4vYs78ppPzwM4wDRDh0c6Vvs7SwQ4xt2rEliwnXhaxfAGvV4HYWUcDgMorNBnkmH9Z0g83jHrR38JfFfdw-6ysMf3mZA4FLbEZr5uoZBNSvZ-6CAew8YJH7HYNknOuKnYP5--Es_shp2pIwtRO81Cu3Neh2JvKwGAWtQ690JV6b3JNp7LxHnJls7F1lR7hpEOGLUNgzeHeFnFrvfxv9EybrkYi0FAqB93fFRjENPtFUaxSckeHDy9YfYFEF9F_5in2zi3ID_RoiSWwoZbjTGKmvRgozC1Et5CTSkSygERFPhMGwfw852tz8SEnMmBP-2rFnBSC1U1gVMbk9Ixu7TJgWY-35a89ucupWOG-v1m1U92wq_4CVp10bdFxXfahdRGboWVLYDYuHOvvnWwIwmPnc4oIOpW9zlTEZhfNMERhpAp67tDiI-tp8iJKQJvgKIc_XUlJkrQiFnE0QpMXel9tR5HLFcV4xxzDcbO9_PW2CsHDu0ELuYLuN_wmnWB3PoG9U1H7MgffQEWIp3bTHKqXQ1JuahLzpVH_nWfGt6umjM2L6IdxqCSh633Css-iMbl1ifflH2DGhVFuO5koa-CmuWuPlYejYSpAlZ2M9vYTVWXSQLIg1L5_warBZ_PaXomt5S45k6bfdpk",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1748906080,
          "updated": 1748906080,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestencrypt-local7c4a2cef/0beb50b8a75042e89bdaf08832e12b6f/decrypt?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "OipIHByXyQw0SbuJ1ssD1SIIOWfsqgf9d8knR66_WbBQgaj3RCcXgEXxIu7wQO3P8tGd6dkXMMHmdntJMdbNcaZxUM8Zup3sO2WN3GdZWuVcVwHz8HaQonPmPHx1w-LK4rcutFfYDV2loId89bWk00mie5OJ9YjR3NAcWx_BfX0r4vW5axXHX_dVwgtd7_633ZeIYqTp3o5Q4cmzfkrMqcjaAToTbQt5Y6RWfghCO-nsxggVIVfsW6RUvkJMZhQn9p_G8ryYJo1_cietLkZ6iM4WE_hGIMEI-eNatQKY1QFQSilJTPT2uP_TDgCnSuz4UKdO07PAt3YDjU-R9vs3-9R9LJPlJypg_HwiFXD9hj49vLYz_l6e4zLaxnBdvm0EevhZRhLvN3gAkT9SM86V95SH2rpS2c4F_p4w-2GfIUnayzINQggrWHDg8-PpEvxPceSwYQa1uC3AiltKpFSON5SkTZEc75AzL5K16rg5w3C4X_v3ABKuy6u6n4d_7suVjwaIR7ix4QkF2nax8bNoiq91Q7ESiRguVCnpMuLhNcT-Vck0t-CwX61I7BHdPtupwc0RU3Xax1UNYetfeEncPb5LNyR6fdGjCU-PORzX66o19L8IHML9firAZIwHx14fRyU9ZeraiYIUe4_9P8ZdPjTJqerctr_4XvjwedVzeUI"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestencrypt-local7c4a2cef/0beb50b8a75042e89bdaf08832e12b6f",
        "value": "NTA2M2U2YWFhODQ1ZjE1MDIwMDU0Nzk0NGZkMTk5Njc5Yzk4ZWQ2Zjk5ZGEwYTBiMmRhZmVhZjFmNDY4NDQ5NmZkNTMyYzFjMjI5OTY4Y2I5ZGVlNDQ5NTdmY2VmN2NjZWY1OWNlZGEwYjM2MmU1NmJjZDc4ZmQzZmFlZTU3ODFjNjIzYzBiYjIyYjM1YmVhYmRlMDY2NGZkMzBlMGU4MjRhYmEzZGQxYjBhZmZmYzRhM2Q5NTVlZGUyMGNmNmE4NTRkNTJjZmQ"
      }
    },
[...]
