{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtesttestKey84412eda/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtesttestKey84412eda/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtesttestKey84412eda/67bb205fd0f641e1ae72ed6768293d07",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "unUa80dDniw9z0JCcPLTZbrVtXFYE1bINzG7-bf_dDWa-G1kKbu-nSMgWHCb3SXQArcTZvhpNRvoyeiCOL-Tg3WX-JJ4xsD_mSLEqORW3EwL30DxpNUVTa5tcRpmDkIBz5mQAH_K4lLOO_EhIdfTEZUOlWWWzznglSR8xA3Qmi33yDM_JvYeOwC7FGFkTxgMYJswtQmKjAxOksdyQpgmqOxCrkBqPOkpjzY5U9jfaJ4ZGpsfzeTjYugzf4Zz1PRdfMfVkfHpS-g3Dle9weCV1BUKSH8ukUDu9j1uPc-wLcEKQBSEyvNY6n7D0YyLiN_eSMjQRXblMtYg7-1VJ65bzQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1715137966,
          "updated": 1715137966,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtesttestKey84412eda/versions?maxresults=6&api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtesttestKey84412eda/0839b774ad954492b0f1312d55ed3427",
            "attributes": {
              "enabled": true,
              "created": 1715137974,
              "updated": 1715137974,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
          },
          {
            "kid": "htt[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtesttestKey84412eda/versions?api-version=7.6-preview.1&$skiptoken=Sanitized&maxresults=6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtesttestKey84412eda/f7f18f6456504aba9271e48ef1521e5d",
            "attributes": {
              "enabled": true,
              "created": 1715137968,
              "updated": 1715137968,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {}
}
