{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-verify-20489605316b/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-verify-20489605316b/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "82"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1748906138,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1748906138
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-verify-20489605316b/e6f3561731290544b3ebccb9f896f93a",
          "kty": "RSA-HSM",
          "n": "raiYcUeMSMPJEyGT0VpvUznI8ngOfhWRjuf0qlx1-EuHjxTg6eM3lanR9sAGp3Ms3_D5DRMKM1N7KomvyIdvGI7oBCX1g3qmoyqtH96uzq_jpYwwnIqjga0yKvBT-ADHvGBaJvB464CR9aWyFkIlAEWnFF3NhMliKA-PHWyD3dlBhn6Hz91OPlfBEdy8aJhX8YtMbGA5VT3HBzv5OlRWrjB3VAOMzPue2TbVPLWm9_9DnwVCrrt1p1igHEf4rLYlm-IUfTQa_g34QDYhTDkPG_5y8S771EiIs9I46ytb5BYwHGYO3PVfQsZE3R13nrB2q5CIjwdHpBQ07HfunNG6yQ"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-verify-20489605316b/e6f3561731290544b3ebccb9f896f93a/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-verify-20489605316b/e6f3561731290544b3ebccb9f896f93a",
        "value": "OD2wTuCPdkptvSMaSCD0JZB9qwNYe_bdXC0pNYUM_O79DVK4oNtFFh1COuhlF0C7tkl9mQOQmpoLJd1OMvFHmfn2Oo6gA1dXysvdBieLSLNubQ8p58yIOIcTfFP9DTn1ymvUDZ71_1x37vSDGx5sC324ObT0cML8P42XOi0h9-_zY-C5t29f4teiM1VZilklOuo3nO4ANG800D_g3g77StIJeJriEr9TaN2_-TU-mjbu8aWBMmNwOdYfmVSnutm5rQs5S6EagL21snitrCWZd5tkY5PgZPIeT2-8fCH-hFNUZYTWOgdg-rWqscWs_GEShA2xXAx59jGw28uW3I2Wfg"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-verify-40969605316b/35bdd18aa3454156823ea19fec5c605d/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "13"
      },
      "ResponseBody": {
        "alg": "RS512",
        "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-verify-40969605316b/35bdd18aa3454156823ea19fec5c605d",
        "value": "ilVA2UilefpaIIUnTB6ZdZWCNIPmnYCaZx_sKzaa2jwYBv4wpLIsMxZ5EYcDcnZLgwTK7-yg4bVQkHvwYwYBCxKvzoayOO5xbz5cQVe1dhb4TRgWtjm6u6PUeM_nMmaq7pOPmOI87fbMVfe-3ezu5k69ekOZj-UCXwzqRXz8cteB4Xn13Fd6DAuCTW1qOm81O5cR4HCXATyqaZWTqVH18eUix-d6gQbgyTfzi2N0lYgdV23jF5WdLTge_w412Cr9GftkfOAo_NWxX88A3CToqQ_5UJRrD6UnaoKU8vqRKX7asrgVfB52tw7WjCw5L9x9XvWVARsJWGUSfY6fA4hmyNWXVz3Mn9CoY3ge2FZyO663d6ZbtXGcZsm4UZMsTO9bZjP_my2UTzAudTEX2lM20wNVBvCqMiQXlZY5C68hWCcBFUObfQhujmCuyaiEZ8Z9WO-jg2dqjz_v_GjA6hxA_hAL4-YyEB7KpZY-7AMRgzWuwRoEnp2DgQA8RMXlB2KMCLeAWsxb1oFmoBx_uG9Lk50nSvcEIaCu3DUkflfn77EfKip-wSDYlbAekJ0JsFkjoDbibRA6ieRMP4ZjifS1aSvT_L_FvCGOYwHRUu-_MVcrllkb8-VNM4RRcoLJ9ts1QFyt2F_E9SQ4lU3BTtG_bUBgOt_je0RCHCW3qMUqXbQ"
      }
    }
  ],
  "Variables": {}
}
