{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestcrud-ec-key7bdc30c9/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestcrud-ec-key7bdc30c9/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM",
        "attributes": {
          "enabled": true
        },
        "tags": {
          "purpose": "unit test",
          "test name": "CreateECKeyTest"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "178"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1741741312,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1741741312
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestcrud-ec-key7bdc30c9/31d6a935d0530b45225d9de460e7bb16",
          "kty": "EC-HSM",
          "x": "rCeAzm8-ux6QLQahRscJlB0GULtDvQKNL1uvMkjVWww",
          "y": "DR_AHU6PYQOv38XrQUVFZfZksUw0BdRPXf4VpqAK1iY"
        },
        "tags": {
          "purpose": "unit test",
          "test name": "CreateECKeyTest"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestcrud-P-256-ec-key7bdc30c9/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "145"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1741741314,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1741741314
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestcrud-P-256-ec-key7bdc30c9/c68f354b610c4c73a208ce47719e6ee9",
          "kty": "EC-HSM",
          "x": "u6Ax-AFxJuJlrjvPGjGPPNf3h_q1VH0LnBi5blvHFM4",
          "y": "f7-U5566-VnuHSWigvQ15aBF7gS0RLYIwZBQpRSIHTY"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestimport-test-key7bdc30c9?api-version=7.6-preview.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "AKCRTQAjSsaDshtMFdW-2Ie9yVnC5Xr1Suc06PAHINd10nXkVSB-N4TO62ClCkZV3XKnqU0nHo7o95WaZpym53W_DiO62umRtFKdl4UotL2QUh0y3SZWeWuoK2u_x2aMj17rUFN0f9GZMZ0pqEQNCPRBLVJ_-TEe2nGCWSC0exxGsRqz6R1zFkB-icfzQPe4WjQELOUXQ7J9RxhAPTTHtDivYYG-BeTRHrmF04JT1_6b9T_C8bAC0i0teT-nmlBLarQtBJKATXBx1yegbPOoiTqlQrFQP4MrKWNxtnB9Tcbjcvj-Z9je0ckI_eRc4DvAhqcUh_p15Dqg4GeaoNIO_jU",
          "e": "AQAB",
          "d": "Ynx9JGaBSP4iUsf6ZJ6opantRNdcdmzaQrKbZg6ZQE8Ohi1FYabJWvaoPSE-CiJEsDzShXZHMhUHN4X7Bn8BXaGQhK3p9HXgiwQKmix7oAJTu4ElUIyd8UC3UWHSZr40el4PaQD-HYu_eMzCXus34MnRiNbh_BUWm6T-Eidhk9d3kNIyaSi9YNDQHW6tjWrEhhq63O7JU1j9ZonFChZxpKk20jdkQKQURVAdpOdL-5j4I70ZxFuU6wHZj8DS8oRQfwGOvZKbgYDb5jgf3UNL_7eACqq92XPVX56vm7iKbqeyjCqAIx5y3hrSRIJtZlWCwjYnYQGd4unxDLi8wmJWSQ",
          "dp": "AMmhWb5yZcu6vJr8xJZ-t0_likxJRUMZAtEULaWZt2DgODj4y9JrZDJP6mvckzhQP0WXk2NuWbU2HR5pUeCN2wieG1B76VKoH76vfnaJDqT1NuJVBcP2SLHog3ffwZtMME5zjfygchG3kihqOSpwTQ9ETAqAJTkRC38fEhwAz_Cp",
          "dq": "AKC9TAo9n2RDaggjdLXK8kiLrBVoaWFTpqXkzYXRhtsx4vWPAkxhfSnze05rVMl6HiXv7FnE0f0wYawzUJzoyuXBH0zS6D9BqCZPeF543AmWB27iPf38Q9Z8Rjr6oBgMSnGDV_mm8nDVQkeaDyE4cOZh-5UKvKShTKKQVwunmDNH",
          "qi": "AJ_nrkLpK8BPzVeARkvSHQyKwMWZ-a8CD95qsKfn0dOZAvXY-2xhQYTEwbED-0bpTNEKbIpA-ZkaHygmnzJkNbbFAnb9pkkzU8ZQqDP3JNgMfVIroWx58Oth9nJza2j7i-MkPRCUPEq3Ao0J52z7WJIiLji8TTVYW_NaiM1oxzsH",
          "p": "ANHerI1o3dLB_VLVmZZVss8VZSYN5SaeQ_0qhfOSgOFwj__waCFmy2EG7l6l6f_Z-Y0L7Mn_LNov68lyWSFa2EuQUeVj4UoFHc5Di8ZUGiSsTwFM-XMtNuv8HmGgDYLL5BIJD3eTz71LdgW-Ez38OZH34b7VeG8zfeUDb8Hi30zz",
          "q": "AMPcZrZBqbc82DO8Q5zTT8ZXRGWrW36KktMllaIk1W2RHnRiQiW0jBWmcCgqUcQNHa1LwumjyNqwx28QBS37BTvG7ULGUoio6LrOeoiBGEMj-U19sX6m[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestcrud-rsa-key7bdc30c9/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 2048,
        "key_ops": [
          "encrypt",
          "decrypt",
          "sign",
          "verify",
          "wrapKey",
          "unwrapKey"
        ],
        "tags": {
          "purpose": "unit test",
          "test name ": "CreateRSAKeyTest"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "130"
      },
      "ResponseBody": {
        "attributes": {
          "created"[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestcrud-rsa-key7bdc30c9/e2ae2401523942ed1af6c47516c47ab8?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250221-1-e4accbbe-develop",
        "x-ms-server-latency": "13"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1741741317,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1741741317
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "sign",
            "verify",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "wrapKey"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestcrud-rsa-key7bdc30c9/e2ae2401523942ed1af6c47516c47ab8",
          "kty": "RSA-HSM",
          "n": "iy7rxbztbVToA7gpPGCIxWkffuCEdNn8JGnw_9X4gP_WcqKiedbrBjr6W2WkZRX-0mSc5JuXRgm5gCUmFFJb6JfmROpqEYwajy6ybVSdXJYkij5DO8wzvdwQvxn_ACZfDZU6CNDSCKdfW9ezTyqSqTASe0kp46RZxRzfRU2zptDR3TIs4IfWJhuu6TeHJaKTA6dufCCmmbz2a0VmWAGoYdqrdrQ2tWjoZYIbL7m8PSOFyjyhBeuq2u0jLecmi89nkqrtMkTfwnq79v9KqS9XwaOnRjt9FXoGKfYECCvs6lQ-r4RGluMSgx7YQK3-aT_QQapw7-cZxP6174i6Djac1w"
        },
        "tags": {
          "purpose": "unit test",
          "test name ": "CreateRSAKeyTest"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestcrud-rsa-key7bdc30c9/?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250221-1-e4accbbe-develop",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "attributes": {
         [...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestcrud-rsa-key7bdc30c9/?api-version=7.6-preview.2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key_ops": [
          "decrypt",
          "encrypt"
        ],
        "attributes": {
          "exp": 2524723200
        },
        "tags": {
          "foo": "updated tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "34"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1741741317,
          "enabled": true,
          "exp": 2524723200,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1741741320
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "encrypt",
            "decrypt"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestcrud-rsa-key7bdc30c9/e2ae2401523942ed1af6c47516c47ab8",
          "kty": "RSA-HSM",
          "n": "iy7rxbztbVToA7gpPGCIxWkffuCEdNn8JGnw_9X4gP_WcqKiedbrBjr6W2WkZRX-0mSc5JuXRgm5gCUmFFJb6JfmROpqEYwajy6ybVSdXJYkij5DO8wzvdwQvxn_ACZfDZU6CNDSCKdfW9ezTyqSqTASe0kp46RZxRzfRU2zptDR3TIs4IfWJhuu6TeHJaKTA6dufCCmmbz2a0VmWAGoYdqrdrQ2tWjoZYIbL7m8PSOFyjyhBeuq2u0jLecmi89nkqrtMkTfwnq79v9KqS9XwaOnRjt9FXoGKfYECCvs6lQ-r4RGluMSgx7YQK3-aT_QQapw7-cZxP6174i6Djac1w"
        },
        "tags": {
          "foo": "updated tag"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestcrud-rsa-key7bdc30c9?api-version=7.6-preview.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "46"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1741741317,
          "enabled": true,
          "exp": 2524723200,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1741741320
        },
        "deletedDate": 1741741321,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "decrypt",
            "encrypt"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestcrud-rsa-key7bdc30c9/e2ae2401523942ed1af6c47516c47ab8",
          "kty": "RSA-HSM",
          "n": "iy7rxbztbVToA7gpPGCIxWkffuCEdNn8JGnw_9X4gP_WcqKiedbrBjr6W2WkZRX-0mSc5JuXRgm5gCUmFFJb6JfmROpqEYwajy6ybVSdXJYkij5DO8wzvdwQvxn_ACZfDZU6CNDSCKdfW9ezTyqSqTASe0kp46RZxRzfRU2zptDR3TIs4IfWJhuu6TeHJaKTA6dufCCmmbz2a0VmWAGoYdqrdrQ2tWjoZYIbL7m8PSOFyjyhBeuq2u0jLecmi89nkqrtMkTfwnq79v9KqS9XwaOnRjt9FXoGKfYECCvs6lQ-r4RGluMSgx7YQK3-aT_QQapw7-cZxP6174i6Djac1w"
        },
        "recoveryId": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestcrud-rsa-key7bdc30c9",
        "scheduledPurgeDate": 1742346121,
        "tags": {
          "foo": "updated tag"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys/livekvtestcrud-rsa-key7bdc30c9?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250221-1-e4accbbe-develop",
        "x-ms-server-latency": "5"
      },
      "ResponseBody": {
        "attributes": {
   [...]
[...]
