{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestkey078d12a0b/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestkey078d12a0b/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "139"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1741741267,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1741741267
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey078d12a0b/b06a9560fb594299b9c9f21cd99d1b09",
          "kty": "RSA-HSM",
          "n": "h59z7NDF8Rljedc-9f0ANW8abq1GmxZoIxg9q9F6WXVk1W3FOaLxSvaIqzk3u2Fv6RoCy9Q8GJaqzvxLTzNJ8bVQb3Z-KYfdgsE75XIy0SCgSNQfR57we1AbLtQmLfiB_bdtsk-TCjq5MUua7nSMWeqL96vFxVGp4owkslDk5L8QjRzOri5cq7_dbVrIePN4fK1Kgd956aCLhY3rQTu_lqZkn5vJF7kpABe6l2U-6X1oumPDc57qXDJNuLD9TecmluEurgj09O8_MlFnEFeUgvFYHlEfUefAlvWyvSXC1OZrlTEq5ZwxDpRkqqZQEVZyUeYGb7wun5SRPjRTXBZFCw"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestkey078d12a0b?api-version=7.6-preview.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "31"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1741741267,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1741741267
        },
        "deletedDate": 1741741282,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey078d12a0b/b06a9560fb594299b9c9f21cd99d1b09",
          "kty": "RSA-HSM",
          "n": "h59z7NDF8Rljedc-9f0ANW8abq1GmxZoIxg9q9F6WXVk1W3FOaLxSvaIqzk3u2Fv6RoCy9Q8GJaqzvxLTzNJ8bVQb3Z-KYfdgsE75XIy0SCgSNQfR57we1AbLtQmLfiB_bdtsk-TCjq5MUua7nSMWeqL96vFxVGp4owkslDk5L8QjRzOri5cq7_dbVrIePN4fK1Kgd956aCLhY3rQTu_lqZkn5vJF7kpABe6l2U-6X1oumPDc57qXDJNuLD9TecmluEurgj09O8_MlFnEFeUgvFYHlEfUefAlvWyvSXC1OZrlTEq5ZwxDpRkqqZQEVZyUeYGb7wun5SRPjRTXBZFCw"
        },
        "recoveryId": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey078d12a0b",
        "scheduledPurgeDate": 1742346082
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys/livekvtestkey078d12a0b?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250221-1-e4accbbe-develop",
        "x-ms-server-latency": "14"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1741741267,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1741741267
        },
        "deletedDate": 1741741282,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt",
            "wrapKey"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey078d12a0b/b06a9560fb594299b9c9f21cd99d1b09",
          "kty": "RSA-HSM",
          "n": "h59z7NDF8Rljedc-9f0ANW8abq1GmxZoIxg9q9F6WXVk1W3FOaLxSvaIqzk3u2Fv6RoCy9Q8GJaqzvxLTzNJ8bVQb3Z-KYfdgsE75XIy0SCgSNQfR57we1AbLtQmLfiB_bdtsk-TCjq5MUua7nSMWeqL96vFxVGp4owkslDk5L8QjRzOri5cq7_dbVrIePN4fK1Kgd956aCLhY3rQTu_lqZkn5vJF7kpABe6l2U-6X1oumPDc57qXDJNuLD9TecmluEurgj09O8_MlFnEFeUgvFYHlEfUefAlvWyvSXC1OZrlTEq5ZwxDpRkqqZQEVZyUeYGb7wun5SRPjRTXBZFCw"
        },
        "recoveryId": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey078d12a0b",
        "scheduledPurgeDate": 1742346082
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250221-1-e4accbbe-develop",
        "x-ms-server-latency": "10"
      },
      "ResponseBody": {
        "nextLink": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys?maxresults=25&$skiptoken=Sanitized",
        "value": [
          {
            "attributes": {
              "created": 1741741162,
              "enabled": true,
              "exp": 2524723200,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1741741166
            },
            "deletedDate": 1741741166,
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestcrud-rsa-keyfa22fe1",
            "recoveryId": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestcrud-rsa-keyfa22fe1",
            "scheduledPurgeDate": 1742345966,
            "tags": {
              "foo": "updated tag"
            }
          },
          {
            "attributes": {
              "created": 1741741222,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1741741222
            },
            "deletedDate": 1741741236,
            "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestkey0a9122ef5",
            "recoveryId"[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys?maxresults=25&$skiptoken=Sanitized&api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250221-1-e4accbbe-develop",
        "x-ms-server-latency": "26"
      },
      "ResponseBody": {
        "value": [
   [...]
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys/livekvtestkey078d12a0b?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250221-1-e4accbbe-develop",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Key not found: https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/livekvtestkey078d12a0b (Activity ID: 86ee0558-fedd-11ef-ac88-002248df4a0a)"
        }
      }
    },
[...]
