{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name6b4633db/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name6b4633db/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name6b4633db/0731c3816dad4de18789b7708e94f107",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vcpFN17LOYeHs1Zl_aX3cjxoo_XOm5kJ668c0Ertf_6Yw_QE-LSlUcFQR4oFYfH-0VUgJrJJR6MnlkppXwxI8THFm_Ck5ggQ84-hKH4tBF7Pt4pgLh9p51UW5XyAC5POOOifjli5Gk91q_dsjNYXmfFSTnZ2_vrpn7fVHJzXzdGgYcknEESOabfEd53-3Ec0A4FBc8a0ws4Pp2fw9YC2KZyPGp7qW3GGdhSsF1kGKsyvIJC4qullRIpXyEir-yLqpWPl7PziSmVowsfNenVNlDNSWdyDV0XhUwqsLP1ab4zPAs8bo8tXwq7uTUg2Brn48dlal5i2pWYCroyc13PV_Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779587347,
          "updated": 1779587347,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name6b4633db/0731c3816dad4de18789b7708e94f107?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.az[...]
