{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name4e47357d/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name4e47357d/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name4e47357d/9769313b80ea467383b68a829d970d47",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "y0tZjfmKLBqk6qfA6u05Je5ZVCydzic45JQYGVyuLrZ3Y4TE-Qxm2rizT-U1EiwWLLtbmuDikUsujN0_vBvxxFmsb4Yh8hzqqEOgbrgFBYrG7-GrSNUGi6xtKDRmw3eoTZWs88cu0Zerul7Db4X-THyOCAJAPLuOgOoaly7yBWFHQeJbC4Txx_IxfEXl0edvMFra2deIa9T8iaS5V1zCpMk9QNYml5IXWIgHDlT8fCS1_Gsqzd-F7eGt58UCmQ_j37FhwTuujJ0O8CM-vSR4PjyybrXaH-hNAQN0E_0kxkrKRsOe2GXWSg8rXlrMBYd6YPNLiyc5UaaQJqSMpYG5KQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779469379,
          "updated": 1779469379,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name4e47357d?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name4e47357d",
        "deletedDate": 1779469380,
        "scheduledPurgeDate": 1787245380,
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name4e47357d/9769313b80ea467383b68a829d970d47",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "y0tZjfmKLBqk6qfA6u05Je5ZVCydzic45JQYGVyuLrZ3Y4TE-Qxm2rizT-U1EiwWLLtbmuDikUsujN0_vBvxxFmsb4Yh8hzqqEOgbrgFBYrG7-GrSNUGi6xtKDRmw3eoTZWs88cu0Zerul7Db4X-THyOCAJAPLuOgOoaly7yBWFHQeJbC4Txx_IxfEXl0edvMFra2deIa9T8iaS5V1zCpMk9QNYml5IXWIgHDlT8fCS1_Gsqzd-F7eGt58UCmQ_j37FhwTuujJ0O8CM-vSR4PjyybrXaH-hNAQN0E_0kxkrKRsOe2GXWSg8rXlrMBYd6YPNLiyc5UaaQJqSMpYG5KQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779469379,
          "updated": 1779469379,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/livekvtestkey-name4e47357d?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: livekvtestkey-name4e47357d"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/livekvtestkey-name4e47357d/recover?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name4e47357d/9769313b80ea467383b68a829d970d47",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "y0tZjfmKLBqk6qfA6u05Je5ZVCydzic45JQYGVyuLrZ3Y4TE-Qxm2rizT-U1EiwWLLtbmuDikUsujN0_vBvxxFmsb4Yh8hzqqEOgbrgFBYrG7-GrSNUGi6xtKDRmw3eoTZWs88cu0Zerul7Db4X-THyOCAJAPLuOgOoaly7yBWFHQeJbC4Txx_IxfEXl0edvMFra2deIa9T8iaS5V1zCpMk9QNYml5IXWIgHDlT8fCS1_Gsqzd-F7eGt58UCmQ_j37FhwTuujJ0O8CM-vSR4PjyybrXaH-hNAQN0E_0kxkrKRsOe2GXWSg8rXlrMBYd6YPNLiyc5UaaQJqSMpYG5KQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779469379,
          "updated": 1779469379,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name4e47357d/?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) livekvtestkey-name4e47357d was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestkey-name4e47357d/?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name4e47357d/9769313b80ea467383b68a829d970d47",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "y0tZjfmKLBqk6qfA6u05Je5ZVCydzic45JQYGVyuLrZ3Y4TE-Qxm2rizT-U1EiwWLLtbmuDikUsujN0_vBvxxFmsb4Yh8hzqqEOgbrgFBYrG7-GrSNUGi6xtKDRmw3eoTZWs88cu0Zerul7Db4X-THyOCAJAPLuOgOoaly7yBWFHQeJbC4Txx_IxfEXl0edvMFra2deIa9T8iaS5V1zCpMk9QNYml5IXWIgHDlT8fCS1_Gsqzd-F7eGt58UCmQ_j37FhwTuujJ0O8CM-vSR4PjyybrXaH-hNAQN0E_0kxkrKRsOe2GXWSg8rXlrMBYd6YPNLiyc5UaaQJqSMpYG5KQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779469379,
          "updated": 1779469379,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
