{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256e4b1349d/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256e4b1349d/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256e4b1349d/5ba97528007f4485a3cf6777270703a8",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "m62NeWU14dAY6aEj6CUv-QwKqB-RZWaFBuRIxAInhDY",
          "y": "yBN1vwRlwZmZqSBN9Vw6yfRjWGDPcaUfpPHe6FEweSs"
        },
        "attributes": {
          "enabled": true,
          "created": 1782496365,
          "updated": 1782496365,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtestec-verify-P-256e4b1349d/5ba97528007f4485a3cf6777270703a8/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256e4b1349d/5ba97528007f4485a3cf6777270703a8",
        "value": "E2YmAyoM2EEoU3FDoyXQAndOda3VjimQVXCLVIhjEx4grj48A_c-FYyHWqAahq3sw6cWW8nnFy-sGGveEL8uVw"
      }
    },
    {
      "RequestUri": "https://Sanitized.[...]
