{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey05c2527c2/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey05c2527c2/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey05c2527c2/a78c5739172c474f995e1a0cf313427c",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "mVZ58P_EhurBpKZzUlGLbiLUiu4LLwBV0jzzRDz29C_IUfcRL9VGqAxn2-1FU8csdfdaj-s6aCBY_CyPqI2LOZatG1LQW6S09tDJ1lpZBEbhlchDCiaueLoLG5C1MrJZRdm9I277aE3GrR3E3_EIV2dRSRxW1gRJM3Yg7x77GCgxN0fIBi-AbS7PxJJXlvk6_NS2mB3WP9bN_MRCUNpHEQmAazkxDMRbYa-m6Lu2pAaYUR2syn0PvrA_blsVKUQWyRuqewGeYQaUbHK0eOPgdUGDxLh5q1kEiAwrMJiFu0cfyrBRAOmfM7EtHragklicqQU13-XQP-f18M-Uc2M0OQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1667329742,
          "updated": 1667329742,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey05c2527c2?api-version=7.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey05c2527c2",
        "deletedDate": 1667329756,
        "scheduledPurgeDate": 1667934556,
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey05c2527c2/a78c5739172c474f995e1a0cf313427c",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "mVZ58P_EhurBpKZzUlGLbiLUiu4LLwBV0jzzRDz29C_IUfcRL9VGqAxn2-1FU8csdfdaj-s6aCBY_CyPqI2LOZatG1LQW6S09tDJ1lpZBEbhlchDCiaueLoLG5C1MrJZRdm9I277aE3GrR3E3_EIV2dRSRxW1gRJM3Yg7x77GCgxN0fIBi-AbS7PxJJXlvk6_NS2mB3WP9bN_MRCUNpHEQmAazkxDMRbYa-m6Lu2pAaYUR2syn0PvrA_blsVKUQWyRuqewGeYQaUbHK0eOPgdUGDxLh5q1kEiAwrMJiFu0cfyrBRAOmfM7EtHragklicqQU13-XQP-f18M-Uc2M0OQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1667329742,
          "updated": 1667329742,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey05c2527c2?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: livekvtestkey05c2527c2"
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedkeys?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey036102d27",
            "deletedDate": 1667329634,
            "scheduledPurgeDate": 1667934434,
            "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey036102d27",
            "attributes": {
              "enabled": true,
              "created": 1667329619,
              "updated": 1667329619,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              [...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedkeys?api-version=7.2\u0026$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey15c2527c2",
            "delete[...]
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedkeys?api-version=7.2\u0026$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey05c2527c2/recover?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey05c2527c2/a78c5739172c474f995e1a0cf313427c",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "mVZ58P_EhurBpKZzUlGLbiLUiu4LLwBV0jzzRDz29C_IUfcRL9VGqAxn2-1FU8csdfdaj-s6aCBY_CyPqI2LOZatG1LQW6S09tDJ1lpZBEbhlchDCiaueLoLG5C1MrJZRdm9I277aE3GrR3E3_EIV2dRSRxW1gRJM3Yg7x77GCgxN0fIBi-AbS7PxJJXlvk6_NS2mB3WP9bN_MRCUNpHEQmAazkxDMRbYa-m6Lu2pAaYUR2syn0PvrA_blsVKUQWyRuqewGeYQaUbHK0eOPgdUGDxLh5q1kEiAwrMJiFu0cfyrBRAOmfM7EtHragklicqQU13-XQP-f18M-Uc2M0OQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1667329742,
          "updated": 1667329742,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey65c2527c2/recover?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey65c2527c2/d56a208dd98b497099e1783cd32f440f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "xjeb-zOd6S-SU4EHIzWOjoKY8acUlHzkOqA_rcZls7OMr5SrsXzQApDxqUZeTTnqUZfWmLw_8vHnXiImmkU9USP7FYWUuP9oIXmcY1PxLZcpwH5LvOAGhIeZlvINLmwfymFTz6gBW8w2NHykeXioBRVgJ1GX0BW0PdnkThKyk3mw7Xt3cxPbHM42cjP3ihjOcV8x8D8H48KEOurX39Ujp46ny1LTCw5w2_JHIr10tPC9TeI5oqL6MD_NnzUz-Ya7ajpWRfgrABMnU2-izR-sbDQmxgv0fyHzWWSowu3t2MB3swseaQvJhSAXdKoPNwmwUDEntqzyKD0TojuQIyp2xQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1667329756,
          "updated": 1667329756,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {}
}
