{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/rng?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/rng?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "count": 8
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "value": "irliMoXyfJA"
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/rng?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "count": 8
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "value": "ZvvgfbsD[...]
