{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-verify-2048f5133862/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-verify-2048f5133862/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "77"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1782496305,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1782496305
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-verify-2048f5133862/da8e4773fb0140620289822034165656",
          "kty": "RSA-HSM",
          "n": "nTUDo7cfPcP9ZRXtJJSfHA8XZk0zG8o93RFIHWDXxl8HYmAWlA4MG8mIePNszT3dcEfDkYy5GarhaZepqV6Q4Y9EEjWocmlS-OfE5eSkXvjFXYce7YH3vptXR9AsnsG5ZW80vmlcP4bd4qTSkf7av1cvZ4he7Vt0n_UVkzijAgUg2Y8yQ51cYP_X3xuml2rSNo9qpSWMjekCvLexoFdOblRvg44hJkdOTay_ejKJbCbM64-YZ_R4eDRtmjEXDM_3damqSJuba8yYP4xgKC2Y8PlM2T9nLy05d6oV4v94LraErDhk2wayBsWErMfJHBsQgN65BoAFlkKh3ZFu-8rRdw"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/livekvtestrsa-verify-2048f5133862/da8e4773fb0140620289822034165656/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "8"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/livekvtestrsa-verify-2048f5133862/da8e4773fb0140620289822034165656",
        "value": "LROVN73op1wwByX843MxvVXKWOwPC6RUMnX5SQecXD3Y9DGZIsrs5J39nAn6rjW7szC6_ZRBfL[...]
