{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtesttestKey59a02fc8/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtesttestKey59a02fc8/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtesttestKey59a02fc8/8717bf45876d46f68bb98aa0ae72936a",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wlgVpNZTV1JD29FkyJ0wFuMoAfayoiWhnDSGsjQ7lWMK-j1bG4BIp4LggvIwTpIJNUJyqUEqgm2KL8ZhCsiWZtthyYzBBJK3OzcrhmvzIUNYdQTdVyz6tjc8rxQ1kqJeypwSkDQCAALu91UqbGoHNtXH0Wl5JU1PniSRouHf4aziW5YfsGG_1s36JfOQo1KYySdq7HzIyOwL4W_Z2oA1OPaRvqh22i9DXKAmmsWWJtVDX7Z0xNOB8_GWL_S2DrBB1shuaXEhzMZ346TquigOoeKy_8jQ5JQmPXDdcLBTLw17zKNeVlDSddTw6ZtqwSnv8SL2gl2ZXHqpMSlw0BNI2Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1779468746,
          "updated": 1779468746,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtesttestKey59a02fc8/versions?api-version=2026-03-01-preview&maxresults=6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtesttestKey59a02fc8/361a134d866544ffbd53eaa9136d413f",
            "attributes": {
              "enabled": true,
              "key_size": 2048,
              "created": 1779407681,
              "updated": 1779407681,
              "recoveryLevel": "Recoverable+Purgeable",
              "recoverableDays": 90,
              "exportable": false,
              "hsmPlatform": "0"
            }
          },
          {
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtesttestKey59a02fc8/versions?api-version=2026-03-01-preview&$skiptoken=Sanitized&maxresults=6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvt[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/livekvtesttestKey59a02fc8/versions?api-version=2026-03-01-preview&$skiptoken=Sanitized&maxresults=6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtesttestKey59a02fc8/cc66c27868fd4d9e8afcc9f23978a655",
            "attributes": {
              "enabled": true,
              "key_size": 2048,
              "created": 1779407692,
              "updated": 1779407692,
              "recoveryLevel": "Recoverable+Purgeable",
              "recoverableDays": 90,
              "exportable": false,
              "hsmPlatform": "0"
            }
          },
          {
            "kid": "https://vaultname.vault.azure.net/keys/livekvtesttestKey59a02fc8/d2e727fa20434bd29c7eb07edb27d25a",
            "attributes": {
              "enabled": true,
              "key_size": 2048,
              "created": 1779468750,
              "updated": 1779468750,
              "recoveryLevel": "Recoverable+Purgeable",
              "recoverableDays": 90,
              "exportable": false,
              "hsmPlatform": "0"
            }
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {}
}
