{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions%2F8f6b6269-84f2-4d09-9e31-1127efcd1e40%2FresourceGroups%2Fexamplerg%2Fproviders%2FMicrosoft.EventGrid%2Ftopics%2Fexampletopic2/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription1?api-version=2025-07-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "destination": {
          "endpointType": "WebHook",
          "properties": {
            "endpointUrl": "https://requestb.in/15ksip71"
          }
        },
        "filter": {
          "subjectBeginsWith": "existingPrefix",
          "subjectEndsWith": "newSuffix",
          "isSubjectCaseSensitive": true
        },
        "labels": [
          "label1",
          "label2"
        ]
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "SubscriptionNotFound",
          "message": "The subscription '8f6b6269-84f2-4d09-9e31-1127efcd1e40' could not be found."
        }
      }
    }
  ],
  "Variables": {}
}
