{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/key3964649413/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/key3964649413/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key_ops": [
          "encrypt",
          "decrypt"
        ],
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://Sanitized.vault.azure.net/keys/key3964649413/d2b3c874e7f6498ab25089b38bbea1f0",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt"
          ],
          "n": "zUY91knAOTmkJBhBJJFiKMAofiPh13Hn2es97lTsx86YbXMYDQgniwxnc_wZnfWSC2xVQZDswtSvbTNBnAtylFwp_ucX0ME2lIxGtLklnD0LDtOfkJavJZERgy777iQ-qXr5VzCBtIKyF_KorWfr9C6Q6BhfPLyk0G_qO5kQwjYZYHXaA9YBeaw7uEEcUfH1fKYoLDFk2Z0I9BoV9SEG43-e54JEmUlOEkUSNj-SHVilP_daJXeSh5AAJzUEkMdUv1o5OLDGOArj6-nilVlKbACkj_UXWoWsyzPAXeFXoybHUwsHXSQFQBwU-GJZedbmNhazUFVM73KTQSY3BrH3LQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780553216,
          "updated": 1780553216,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/key3964649413/d2b3c874e7f6498ab25089b38bbea1f0/encrypt?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "cGxhaW50ZXh0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://taca1f881381e79ad.vault.azure.net/keys/key3964649413/d2b3c874e7f6498ab25089b38bbea1f0",
        "value": "Z8asSd9mweLwwa-XGFUF-KVF1n_JKZeC9AZPPXxUF5_b1VcfFitPqp_D8HZgGR_zakdzkyHc9ye7PYknVWU9IwffcRhNBlN4NH2yGBqv1SQ-Mn4wo6RRyF2qzKM7QkG6NvuTgYf0LdelCXwEWzCWn1qppIj9JCwaXBqBOgMEYDDjhHSQO-ylmxW-PxmXRXn5023HI27WR_lwCE5okCPunXUCMrDyzAivi-O2vn6Ul3CvSw2HB8wrXUBx9EXrZfTAODm0zR9nleeV95tqmVxExxGU-jOrfDwczkNltRL2bbhPcryEwS61qBhvTRdrccT5RSOSYllbT4-Xo79vokGrGQ"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/key3964649413/decrypt?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "Z8asSd9mweLwwa-XGFUF-KVF1n_JKZeC9AZPPXxUF5_b1VcfFitPqp_D8HZgGR_zakdzkyHc9ye7PYknVWU9IwffcRhNBlN4NH2yGBqv1SQ-Mn4wo6RRyF2qzKM7QkG6NvuTgYf0LdelCXwEWzCWn1qppIj9JCwaXBqBOgMEYDDjhHSQO-ylmxW-PxmXRXn5023HI27WR_lwCE5okCPunXUCMrDyzAivi-O2vn6Ul3CvSw2HB8wrXUBx9EXrZfTAODm0zR9nleeV95tqmVxExxGU-jOrfDwczkNltRL2bbhPcryEwS61qBhvTRdrccT5RSOSYllbT4-Xo79vokGrGQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://taca1f881381e79ad.vault.azure.net/keys/key3964649413/d2b3c874e7f6498ab25089b38bbea1f0",
        "value": "cGxhaW50ZXh0"
      }
    }
  ],
  "Variables": {}
}
