{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/key3964649413/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/key3964649413/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key_ops": [
          "encrypt",
          "decrypt"
        ],
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://Sanitized.vault.azure.net/keys/key3964649413/54f91dd171304798ad76782bbf3ecb42",
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt"
          ],
          "n": "sm4SkXtRfRGbCghUwMKMoOLM8A2kkOfr1T2ALMqQ480Pmb163dxpnL0Bfdypp4z50SU09mpGaFg-QTMU7CiDmEEu745NgY6x6K7rdtIGn3jb5lNaIE7sk49PUkXJgzWxHUTzs6umTmGgEjY-xBdhx5K1RUeS39zlac69RxKvxdxN_oS-PqxGCXn2_YHZTyXtfGsftGXFwzS02iqMl_dqkyppxXqAflgrCgo7RS9xiolJBm-XmDeYpoVPKh5mLwUPyL_KEYvM7QAjKAaJ00bVCVGUFM-wZ7U71NgdYU_-4Fe8DqqLNiK3jfcwiPOf_sfJPivuaqgAgqo1MyWJVBOFdw",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1781021427,
          "updated": 1781021427,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/key3964649413/54f91dd171304798ad76782bbf3ecb42/encrypt?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "cGxhaW50ZXh0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t4320ce7a30021c90.vault.azure.net/keys/key3964649413/54f91dd171304798ad76782bbf3ecb42",
        "value": "gpuAO8G7UKNBXx1qnb4R95VRH5-SUz8oYtzoznb5zrvNCBLxFpFvzIANyqFD4m50qy8T-jvQezFIMo8xtRpVrp15AsOL3XF4fJZNPv61fWJBCC4az4ixXhHA55D2_vSfl5mLDZjesYhqJfwIxQtdXTPYtrIIIyje7d7daZ9W3_EwRM6ljQM-hTnPkQx0aDKeMm06DLeKbyc9zKAMxW-vOZ4h4xqmeC4-Dui9wcYvhoDVhNlt0M5SgbVjcMBjBpQ_74UnzfcZUHqJRUb4kmuDCTpVDD_tkgdak_ePG59lqjx8bALLaMCJWmq2gCE0KhSjsxRqZh4AtgcbeQOGBPXy7g"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/key3964649413/decrypt?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "gpuAO8G7UKNBXx1qnb4R95VRH5-SUz8oYtzoznb5zrvNCBLxFpFvzIANyqFD4m50qy8T-jvQezFIMo8xtRpVrp15AsOL3XF4fJZNPv61fWJBCC4az4ixXhHA55D2_vSfl5mLDZjesYhqJfwIxQtdXTPYtrIIIyje7d7daZ9W3_EwRM6ljQM-hTnPkQx0aDKeMm06DLeKbyc9zKAMxW-vOZ4h4xqmeC4-Dui9wcYvhoDVhNlt0M5SgbVjcMBjBpQ_74UnzfcZUHqJRUb4kmuDCTpVDD_tkgdak_ePG59lqjx8bALLaMCJWmq2gCE0KhSjsxRqZh4AtgcbeQOGBPXy7g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t4320ce7a30021c90.vault.azure.net/keys/key3964649413/54f91dd171304798ad76782bbf3ecb42",
        "value": "cGxhaW50ZXh0"
      }
    }
  ],
  "Variables": {}
}
