{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/key4206922229/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/key4206922229/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key_ops": [
          "encrypt",
          "decrypt"
        ],
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "80"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780935529,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780935529
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "encrypt",
            "decrypt"
          ],
          "kid": "https://Sanitized.managedhsm.azure.net/keys/key4206922229/7c1a557845ed476507f3d20db89a76a0",
          "kty": "RSA-HSM",
          "n": "jwni6z1VK_399aw5m_4S8JdkSQVwSwtY9m4qYXU8kugHVe1otGmVHxSAPMxyWyVTxjGMhLUjuEqWrxev2g33oAoJlZVqD9ig1C8L5H14yXTquYJRIiuHtcQDr9rfGnk-xY5QkrlgH3QJdO_EzFfxvnAzAzjdb5SrQOewYWOXbJnsunObggSCzfvF0uJ-cxwstrQ9TIwhaaRncZQ2sxFvM-Jwg7wu9a3ahUwhwuntOFIXvG6-Lagtv5YSWcWb1z9zuK9gKD_CSF013u2mcvhreW39X33fRhtOe9yxJ4S7jRhsXWa3-WiVc-TzDJqEQ6XKfyNxAfwXkwNbMGMFSnNJPw"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/key4206922229/7c1a557845ed476507f3d20db89a76a0/encrypt?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "cGxhaW50ZXh0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP-256",
        "kid": "https://t4320ce7a30021c90hsm.managedhsm.azure.net/keys/key4206922229/7c1a557845ed476507f3d20db89a76a0",
        "value": "eMJnvMTRS_iEAsOKFQpdcmYL-pgdDP3wHvF8wewEw2x8rANfXvQW0cgDnp1OvG3HcVHKUp56RPzRHW8y_t9fX80sUmFAJGt6xmMdrc12cgewP3dKDbAEvWUQdXe8tZXnEVF343aGK-YCm_26WOnH7GgpdjZIVTjkx6UbmU7VvC_WGCIqBKotXgYLpFEAzT2E5hJyCwmctTJo1-PU4-if3a6Uewjb4yqHo11YqnMfPE2sfKHcUJlq_Omx73bkEc2gN6BoqF_PQNE9JPVV4IQL8zEj9dBjnYtD2wMNWLk_n-qK6ObMO0SeAD6MPBp4mgnIdX1idquFtKCH6UJ8mRNXEQ"
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/key4206922229/decrypt?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "eMJnvMTRS_iEAsOKFQpdcmYL-pgdDP3wHvF8wewEw2x8rANfXvQW0cgDnp1OvG3HcVHKUp56RPzRHW8y_t9fX80sUmFAJGt6xmMdrc12cgewP3dKDbAEvWUQdXe8tZXnEVF343aGK-YCm_26WOnH7GgpdjZIVTjkx6UbmU7VvC_WGCIqBKotXgYLpFEAzT2E5hJyCwmctTJo1-PU4-if3a6Uewjb4yqHo11YqnMfPE2sfKHcUJlq_Omx73bkEc2gN6BoqF_PQNE9JPVV4IQL8zEj9dBjnYtD2wMNWLk_n-qK6ObMO0SeAD6MPBp4mgnIdX1idquFtKCH6UJ8mRNXEQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP-256",
        "kid": "https://t4320ce7a30021c90hsm.managedhsm.azure.net/keys/key4206922229/7c1a557845ed476507f3d20db89a76a0",
        "value": "cGxhaW50ZXh0"
      }
    }
  ],
  "Variables": {}
}
