{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/key4206922229/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/key4206922229/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key_ops": [
          "encrypt",
          "decrypt"
        ],
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "108"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781042012,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781042012
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "encrypt",
            "decrypt"
          ],
          "kid": "https://Sanitized.managedhsm.azure.net/keys/key4206922229/5587219eff61481e90fae4ac8758b0b3",
          "kty": "RSA-HSM",
          "n": "4h4rY4n2r84wlG7wpX0YKxOVPFhHaUFSxA8KpR-utduBM3TZpzjA0it5ij6tzu4gwbi-o5l420egGNSMFGKkbA1Q6verWWpoaeWwzQRyZ9mEXpLrVFpADSHhP6JyiYVklkyrDorLXSdppZ6oCKshem-cpYEKac-CHytj7_PkGz2MyagvUApVy86K61HElS0MS7pBpMi3P2otIMRD8JM1p-3c16wANmjrj7tNOrUleo35QJalde2IfT1EQFQILb0VGwYk-4BbOsMifwFlMe2GNmeggLEdrW31PLfhktU501s1sIwk2UUbDqvEjsYiGZbd0nXdQ257Tv5itcQqL9vkWw"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/key4206922229/5587219eff61481e90fae4ac8758b0b3/encrypt?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "cGxhaW50ZXh0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP-256",
        "kid": "https://t4320ce7a30021c90hsm.managedhsm.azure.net/keys/key4206922229/5587219eff61481e90fae4ac8758b0b3",
        "value": "jHcoBVqBi_W48SDcwZExV6kQuMe3nt-zPxkq7ymAe2HU9UkFlvfaKVrNHTfy8Sely0ppVuYY8jqIY6AtQ9DxZvN8O8xftoOJl1kRT3nvr3beZLGhBCKvbH0ADhz3Cxu-cnmNLmwaHZPCk88T2sEv7UOIbQPfirxa6ZmWeR4h09Hfoen9-2kuKyTSI44B7hRaiotV4jgzAqsEJgAupPFJNEgbo-SsOwuHKlJ9tFkN-8s5B3EMTbELbA6l0s2muVpD1HgnH4WEcZMw7xNEni7pi5qfCkETAsUPZ3N-JC9QydJscJSjXM4C3DaZ2VDh3-SBrsRhKSpdRM7wnfMkaQuNJg"
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/key4206922229/decrypt?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "jHcoBVqBi_W48SDcwZExV6kQuMe3nt-zPxkq7ymAe2HU9UkFlvfaKVrNHTfy8Sely0ppVuYY8jqIY6AtQ9DxZvN8O8xftoOJl1kRT3nvr3beZLGhBCKvbH0ADhz3Cxu-cnmNLmwaHZPCk88T2sEv7UOIbQPfirxa6ZmWeR4h09Hfoen9-2kuKyTSI44B7hRaiotV4jgzAqsEJgAupPFJNEgbo-SsOwuHKlJ9tFkN-8s5B3EMTbELbA6l0s2muVpD1HgnH4WEcZMw7xNEni7pi5qfCkETAsUPZ3N-JC9QydJscJSjXM4C3DaZ2VDh3-SBrsRhKSpdRM7wnfMkaQuNJg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP-256",
        "kid": "https://t4320ce7a30021c90hsm.managedhsm.azure.net/keys/key4206922229/5587219eff61481e90fae4ac8758b0b3",
        "value": "cGxhaW50ZXh0"
      }
    }
  ],
  "Variables": {}
}
