{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/6b65b587-0ffd-4d3a-93b0-6bede034bf12?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/6b65b587-0ffd-4d3a-93b0-6bede034bf12",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "6b65b587-0ffd-4d3a-93b0-6bede034bf12",
        "tenantId": "880c4847-7249-4384-9fbc-fd810ecc414a",
        "displayName": "Visual Studio Enterprise Subscription",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "PublicAndIndia_2015-09-01",
          "quotaId": "MSDN_2014-09-01",
          "spendingLimit": "On"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/6b65b587-0ffd-4d3a-93b0-6bede034bf12/resourcegroups/SdkTest-Net-3335?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "southeastasia"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/6b65b587-0ffd-4d3a-93b0-6bede034bf12/resourceGroups/SdkTest-Net-3335",
        "name": "SdkTest-Net-3335",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "southeastasia",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/6b65b587-0ffd-4d3a-93b0-6bede034bf12/providers/Microsoft.Migrate?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/6b65b587-0ffd-4d3a-93b0-6bede034bf12/providers/Microsoft.Migrate",
        "namespace": "Microsoft.Migrate",
        "authorizations": [
          {
            "applicationId": "e3bfd6ac-eace-4438-9dc1-eed439e738de",
            "roleDefinitionId": "e88f4159-1d71-4b12-8ef0-38c039cb051e"
          },
          {
            "applicationId": "51df634f-ddb4-4901-8a2d-52f6393a796b",
            "roleDefinitionId": "d7568dc2-2265-41f7-9c0f-1e9c7862ca62"
          }
        ],
        "resourceTypes": [
          {
            "resourceType": "migrateprojects",
            "locations": [
              "Central US",
              "East Asia",
              "Southeast Asia",
              "North Europe",
              "West Europe",
              "West US 2",
              "Australia Southeast",
              "UK South",
              "UK West",
              "Canada Central",
              "Central India",
              "South India",
              "Japan East",
              "Japan West",
              "Brazil South",
              "Korea South",
              "Korea Central",
              "France Central",
              "Switzerland North",
              "Australia East",
              "UAE North",
              "South Africa North",
              "Germany West Central",
              "Norway East",
              "Sweden Central",
              "Qatar Central",
              "Poland Central",
              "Italy North"
            ],
            "apiVersions": [
              "2020-06-01-preview",
              "2020-05-01",
              "2019-06-01",
              "2018-09-01-preview"
            ],
            "defaultApiVersion": "2018-09-01-preview",
            "capabilities": "SystemAssignedResourceIdentity, SupportsTags, SupportsLocation"
          },
          {
            "resourceType": "assessmentProjects",
            "locations": [
              "Central US",
              "West Europe",
              "UK South",
              "UK West",
              "North Europe",
              "West US 2",
              "Southeast Asia",
              "East Asia",
              "Central India",
              "South India",
              "Canada Central",
              "A[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/6b65b587-0ffd-4d3a-93b0-6bede034bf12/resourceGroups/SdkTest-Net-3335/providers/Microsoft.Migrate/MigrateProjects/migrateProj-556?api-version=2020-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "registeredTools": [
            "ServerAssessment"
          ]
        },
        "location": "southeastasia"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224d00040d-0000-1800-0000-6603fb170000\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/6b65b587-0ffd-4d3a-93b0-6bede034bf12/resourceGroups/SdkTest-Net-3335/providers/Microsoft.Migrate/MigrateProjects/migrateProj-556",
        "name": "migrateProj-556",
        "type": "Microsoft.Migrate/MigrateProjects",
        "etag": "\u00224d00040d-0000-1800-0000-6603fb170000\u0022",
        "location": "southeastasia",
        "properties": {
          "utilityStorageAccountId": null,
          "publicNetworkAccess": "Enabled",
          "privateEndpointConnections": [],
          "registeredTools": [],
          "serviceEndpoint": "https://3a255cba-fded-4d6d-b950-61358574adce-isv.sea.hub.privatelink.prod.migration.windowsazure.com/resources/3a255cba-fded-4d6d-b950-61358574adce",
          "summary": {
            "servers": {
              "instanceType": "Servers",
              "discoveredCount": 0,
              "assessedCount": 0,
              "replicatingCount": 0,
              "testMigratedCount": 0,
              "migratedCount": 0,
              "refreshSummaryState": "Completed",
              "lastSummaryRefreshedTime": "2024-03-27T10:55:19.2856667Z",
              "extendedSummary": {
                "microsoftDiscoveredCount": "0",
                "microsoftMachinesCount": "0"
              }
            },
            "databases": {
              "instanceType": "Databases",
              "refreshSummaryState": "Completed",
              "lastSummaryRefreshedTime": "2024-03-27T10:55:19.2856667Z",
              "extendedSummary": {}
            },
            "webApplications": {
              "instanceType": "WebApplications",
              "refreshSummaryState": "Completed",
              "lastSummaryRefreshedTime": "2024-03-27T10:55:19.4106754Z",
              "extendedSummary": {}
            },
            "desktopVirtualization": {
              "instanceType": "DesktopVirtualization",
              "refreshSummaryState": "Completed",
              "lastSummaryRefreshedTime": "2024-03-27T10:55:19.2856667Z",
              "extendedSummary": {}
            }
          },
          "lastSummaryRefreshedTime": "2024-03-27T10:55:19.2856667Z",
          "refreshSummaryState": "Completed",
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/6b65b587-0ffd-4d3a-93b0-6bede034bf12/resourceGroups/SdkTest-Net-3335/providers/Microsoft.Workloads/sapDiscoverySites/SapDiscoverySite-4754?api-version=2023-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "Testing": "CreateSapDiscoverySite"
        },
        "location": "southeastasia",
        "properties": {
          "migrateProjectId": "/subscriptions/6b65b587-0ffd-4d3a-93b0-6bede034bf12/resourceGroups/SdkTest-Net-3335/providers/Microsoft.Migrate/MigrateProjects/migrateProj-556"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220000c5b7-0000-1800-0000-6603fb180000\u0022",
        "mise-correlation-id": "c69d53f6-b790-46b3-b29f-32a14f44fdf3",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/6b65b587-0ffd-4d3a-93b0-6bede034bf12/resourceGroups/SdkTest-Net-3335/providers/Microsoft.Workloads/sapDiscoverySites/SapDiscoverySite-4754",
        "name": "SapDiscoverySite-4754",
        "type": "microsoft.workloads/sapdiscoverysites",
        "location": "southeastasia",
        "tags": {
          "Testing": "CreateSapDiscoverySite"
        },
        "systemData": {
          "createdBy": "a1b9dd6f-263f-4b6a-99ca-e758ba5e879b",
          "createdByType": "Application",
          "createdAt": "2024-03-27T10:55:20.103392Z",
          "lastModifiedBy": "a1b9dd6f-263f-4b6a-99ca-e758ba5e879b",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2024-03-27T10:55:20.103392Z"
        },
        "properties": {
          "migrateProjectId": "/subscriptions/6b65b587-0ffd-4d3a-93b0-6bede034bf12/resourceGroups/SdkTest-Net-3335/providers/Microsoft.Migrate/MigrateProjects/migrateProj-556",
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/6b65b587-0ffd-4d3a-93b0-6bede034bf12/resourceGroups/SdkTest-Net-3335/providers/Microsoft.Workloads/sapDiscoverySites/SapDiscoverySite-4754/importEntities?api-version=2023-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/6b65b587-0ffd-4d3a-93b0-6bede034bf12/providers/Microsoft.Workloads/locations/SOUTHEASTASIA/operationStatuses/e11495c1-9b6e-4808-8d59-ca02c71dcfc4*6DE81910A04FACEA08F934BE531D5107AA51B0169B354C6B593717F248AC774A?api-version=2023-10-01-preview\u0026t=638471337224239629\u0026c=MIIHADCCBeigAwIBAgITfARk1TE_ZglsTRafPwAABGTVMTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwMTMwMTUwODE5[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/6b65b587-0ffd-4d3a-93b0-6bede034bf12/providers/Microsoft.Workloads/locations/SOUTHEASTASIA/operationStatuses/e11495c1-9b6e-4808-8d59-ca02c71dcfc4*6DE81910A04FACEA08F934BE531D5107AA51B0169B354C6B593717F248AC774A?api-version=2023-10-01-preview\u0026t=638471337224239629\u0026c=MIIHADCCBeigAwIBAgITfARk1TE_ZglsTRafPwAABGTVMTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0E[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/6b65b587-0ffd-4d3a-93b0-6bede034bf12/providers/Microsoft.Workloads/locations/southeastasia/operationStatuses/e11495c1-9b6e-4808-8d59-ca02c71dcfc4*6DE81910A04FACEA08F934BE531D5107AA51B0169B354C6B593717F248AC774A?api-version=2023-10-01-preview\u0026t=638471337226035046\u0026c=MIIHADCCBeigAwIBAgITfARk1TE_ZglsTRafPwAABGTVMTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0E[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/6b65b587-0ffd-4d3a-93b0-6bede034bf12/providers/Microsoft.Workloads/locations/southeastasia/operationStatuses/e11495c1-9b6e-4808-8d59-ca02c71dcfc4*6DE81910A04FACEA08F934BE531D5107AA51B0169B354C6B593717F248AC774A?api-version=2023-10-01-preview\u0026t=638471337237644505\u0026c=MIIHADCCBeigAwIBAgITfARk1TE_ZglsTRafPwAABGTVMTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0E[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/6b65b587-0ffd-4d3a-93b0-6bede034bf12/providers/Microsoft.Workloads?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/6b65b587-0ffd-4d3a-93b0-6bede034bf12/providers/Microsoft.Workloads",
        "namespace": "Microsoft.Workloads",
        "authorizations": [
          {
            "applicationId": "b3d7adc8-6b92-4061-b47d-fc1419774ccc",
            "roleDefinitionId": "0a85775e-1971-429f-a12d-7e7d9e778ad3",
            "managedByRoleDefinitionId": "9e3af657-a8ff-583c-a75c-2fe7c4bcb635"
          },
          {
            "applicationId": "ea21b132-560f-4b0b-9876-903b6bca7b9d",
            "roleDefinitionId": "ce5fb12c-85c5-4285-a486-900ea87e2d1d",
            "managedByRoleDefinitionId": "9e3af657-a8ff-583c-a75c-2fe7c4bcb635"
          },
          {
            "applicationId": "39495caf-cc21-4d03-b6b0-8c4a973cf213",
            "roleDefinitionId": "98914fcb-4448-49a5-b7ba-1adfcf6a6310",
            "managedByRoleDefinitionId": "9e3af6[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/6b65b587-0ffd-4d3a-93b0-6bede034bf12/providers/Microsoft.Workloads/locations/southeastasia/operationStatuses/e11495c1-9b6e-4808-8d59-ca02c71dcfc4*6DE81910A04FACEA08F934BE531D5107AA51B0169B354C6B593717F248AC774A?api-version=2023-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221300d9cf-0000-1800-0000-6603fb1c0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/6b65b587-0ffd-4d3a-93b0-6bede034bf12/providers/Microsoft.Workloads/locations/southeastasia/operationStatuses/e11495c1-9b6e-4808-8d59-ca02c71dcfc4*6DE81910A04FACEA08F934BE531D5107AA51B0169B354C6B593717F248AC774A",
        "name": "e11495c1-9b6e-4808-8d59-ca02c71dcfc4*6DE81910A04FACEA08F934BE531D5107AA51B0169B354C6B593717F248AC774A",
        "resourceId": "/subscriptions/6b65b587-0ffd-4d3a-93b0-6bede034bf12/resourceGroups/SdkTest-Net-3335/providers/Microsoft.Workloads/sapDiscoverySites/SapDiscoverySite-4754",
        "status": "Succeeded",
        "startTime": "2024-03-27T10:55:21.7565468Z",
        "endTime": "2024-03-27T10:55:24.2749234Z",
        "properties": {
          "discoveryExcelSasUri": "https://sapmifilestoragesg.blob.core.windows.net/discovery-excels/SapDiscoverySite-4754_e11495c1-9b6e-4808-8d59-ca02c71dcfc4%2A6DE81910A04FACEA08F934BE531D5107AA51B0169B354C6B593717F248AC774A%5CdiscoveryExcel.xlsx?skoid=ad3dc145-6643-4aa1-a288-30b006efd929\u0026sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d\u0026skt=2024-03-27T10%3A50%3A23Z\u0026ske=2024-03-27T11%3A25%3A23Z\u0026sks=b\u0026skv=2021-08-06\u0026sv=2021-08-06\u0026st=2024-03-27T10%3A50%3A23Z\u0026se=2024-03-27T11%3A25%3A23Z\u0026sr=b\u0026sp=w\u0026sig=cO%2BLTq7KFLFNmNMonBUZr%2BzccF1P0Kxlaw3pu7JEH8s%3D",
          "status": "AwaitingFile"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/6b65b587-0ffd-4d3a-93b0-6bede034bf12/providers/Microsoft.Workloads/locations/southeastasia/operationStatuses/e11495c1-9b6e-4808-8d59-ca02c71dcfc4*6DE81910A04FACEA08F934BE531D5107AA51B0169B354C6B593717F248AC774A?api-version=2023-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022130013d0-0000-1800-0000-6603fb480000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/6b65b587-0ffd-4d3a-93b0-6bede034bf12/providers/Microsoft.Workloads/locations/southeastasia/operationStatuses/e11495c1-9b6e-4808-8d59-ca02c71dcfc4*6DE81910A04FACEA08F934BE531D5107AA51B0169B354C6B593717F248AC774A",
        "name": "e11495c1-9b6e-4808-8d59-ca02c71dcfc4*6DE81910A04FACEA08F934BE531D5107AA51B0169B354C6B593717F248AC774A",
        "resourceId": "/subscriptions/6b65b587-0ffd-4d3a-93b0-6bede034bf12/resourceGroups/SdkTest-Net-3335/providers/Microsoft.Workloads/sapDiscoverySites/SapDiscoverySite-4754",
        "status": "Succeeded",
        "startTime": "2024-03-27T10:55:21.7565468Z",
        "endTime": "2024-03-27T10:56:08.7937466Z",
        "error": {
          "code": "ValidationErrors",
          "message": "Row_21_Errors: No value provided for mandatory column SAP Instance Type.\r\nRow_22_Errors: No value provided for mandatory column Instance SID.\r\nRow_23_Errors: No value provided for mandatory column System SID.\r\nRow_24_Errors: No value provided for mandatory column Landscape SID.\r\n"
        },
        "properties": {
          "discoveryExcelSasUri": "https://sapmifilestoragesg.blob.core.windows.net/discovery-excels/SapDiscoverySite-4754_e11495c1-9b6e-4808-8d59-ca02c71dcfc4%2A6DE81910A04FACEA08F934BE531D5107AA51B0169B354C6B593717F248AC774A%5CdiscoveryExcel.xlsx?skoid=ad3dc145-6643-4aa1-a288-30b006efd929\u0026sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d\u0026skt=2024-03-27T10%3A50%3A23Z\u0026ske=2024-03-27T11%3A25%3A23Z\u0026sks=b\u0026skv=2021-08-06\u0026sv=2021-08-06\u0026st=2024-03-27T10%3A50%3A23Z\u0026se=2024-03-27T11%3A25%3A23Z\u0026sr=b\u0026sp=w\u0026sig=cO%2BLTq7KFLFNmNMonBUZr%2BzccF1P0Kxlaw3pu7JEH8s%3D",
          "errorExcelSasUri": "https://sapmifilestoragesg.blob.core.windows.net/discovery-excels/SapDiscoverySite-4754_e11495c1-9b6e-4808-8d59-ca02c71dcfc4%2A6DE81910A04FACEA08F934BE531D5107AA51B0169B354C6B593717F248AC774A%5CerrorExcel.xlsx?skoid=ad3dc145-6643-4aa1-a288-30b006efd929\u0026sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d\u0026skt=2024-03-27T10%3A51%3A08Z\u0026ske=2024-03-28T10%3A56%3A08Z\u0026sks=b\u0026skv=2021-08-06\u0026sv=2021-08-06\u0026st=2024-03-27T10%3A51%3A08Z\u0026se=2024-03-28T10%3A56%3A08Z\u0026sr=b\u0026sp=r\u0026sig=O%2BOlJTjGLwfR%2F3j0JUQX3x1sKT4W4GzK5METtTsYmV4%3D",
          "status": "PartiallySucceeded",
          "rowsImported": 43,
          "totalRows": 47
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/6b65b587-0ffd-4d3a-93b0-6bede034bf12/resourceGroups/SdkTest-Net-3335/providers/Microsoft.Workloads/sapDiscoverySites/SapDiscoverySite-4754/sapInstances?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "791d9871-82a0-48dc-8c23-b0dd152b2ee4",
          "2c21aeaa-bd5c-4d59-853f-5208fd6155cc",
          "674af8cb-4e73-4bff-a301-e14491d710a5",
          "ab838377-3d6c-4e6f-b655-fa27c4e6b597",
          "5ac578ba-c7c6-47fd-9676-5a950b23865e",
          "4ed9ef3c-e720-423d-8998-f50c5fb5e32c"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/6b65b587-0ffd-4d3a-93b0-6bede034bf12/resourceGroups/SdkTest-Net-3335/providers/Microsoft.Workloads/sapDiscoverySites/SapDiscoverySite-4754/sapInstances/MSB_MSB",
            "name": "MSB_MSB",
            "type": "microsoft.workloads/sapdiscoverysites/sapinstances",
            "location": "southeastasia",
            "systemData": {
              "createdBy": "349bb73f-3925-4086-9116-edd12a824e6b",
              "createdByType": "Application",
              "createdAt": "2024-03-27T10:55:44.666518Z",
              "lastModifiedBy": "349bb73f-3925-4086-9116-edd12a824e6b",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2024-03-27T10:55:44.666518Z"
            },
            "properties": {
              "systemSid": "MSB",
              "environment": "Production",
              "landscapeSid": "MSB",
              "application": "Finance",
              "provisioningState": "Succeeded"
            }
          },
          {
            "id": "/subscriptions/6b65b587-0ffd-4d3a-93b0-6bede034bf12/resourceGroups/SdkTest-Net-3335/providers/Microsoft.Workloads/sapDiscoverySites/SapDiscoverySite-4754/sapInstances/ANQ_ADP",
            "name": "ANQ_ADP",
            "type": "microsoft.workloads/sapdiscoverysites/sapinstances",
            "location": "southeastasia",
            "systemData": {
              "createdBy": "349b[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/6b65b587-0ffd-4d3a-93b0-6bede034bf12/resourceGroups/SdkTest-Net-3335/providers/Microsoft.Workloads/sapDiscoverySites/SapDiscoverySite-4754/sapInstances/ANQ_ADP?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/6b65b587-0ffd-4d3a-93b0-6bede034bf12/resourceGroups/SdkTest-Net-3335/providers/Microsoft.Workloads/sapDiscoverySites/SapDiscoverySite-4754/sapInstances/ANQ_ADP/serverInstances?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/6b65b587-0ffd-4d3a-93b0-6bede034bf12/resourceGroups/SdkTest-Net-3335/providers/Microsoft.Workloads/sapDiscoverySites/SapDiscoverySite-4754/sapInstances/ANQ_ADP/serverInstances/APP_azsapdeva01",
            "name": "APP_azsapdeva01",
            "type": "microsoft.workloads/sapdiscoverysites/sapinstances/serverinstances",
            "systemData": {
              "createdBy": "349bb73f-3925-4086-9116-edd12a824e6b",
              "createdByType": "Application",
              "createdAt": "2024-03-27T10:55:49.7371618Z",
              "lastModifiedBy": "349bb73f-3925-4086-9116-edd12a824e6b",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2024-03-27T10:55:49.7371618Z"
            },
            "properties": {
              "serverName": "azsapdeva01",
              "sapInstanceType": "APP",
              "instanceSid": "ADP",
              "sapProduct": "SAP ERP",
              "sapProductVersion": "6.0 EHP8",
              "operatingSystem": "Windows Server",
              "configurationData": {
                "saps": 10000,
                "cpu": 8,
                "cpuType": "Xeon E5-2673 v4",
                "cpuInMhz": 2300,
                "ram": 64,
                "hardwareManufacturer": "Azure",
                "model": "Virtual Machine",
                "totalDiskSizeGB": 128,
                "totalDiskIops": 5000,
                "databaseType": "NotApplicable"
              },
              "performanceData": {
                "dataSource": "Excel",
                "maxCpuLoad": 11
              },
              "provisioningState": "Succeeded"
            }
          },
          {
            "id": "/subscriptions/6b65b587-0ffd-4d3a-93b0-6bede034bf12/resourceGroups/SdkTest-Net-3335/providers/Microsoft.Workloads/sapDiscoverySites/SapDiscoverySite-4754/sapInstances/ANQ_ADP/serverInstances/APP_azsapdeva02",
            "name": "APP_azsapdeva02",
            "type": "microsoft.workloads/sapdiscoverysites/sapinstances/serverinstances",
            "systemData": {
        [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/6b65b587-0ffd-4d3a-93b0-6bede034bf12/resourceGroups/SdkTest-Net-3335/providers/Microsoft.Workloads/sapDiscoverySites/SapDiscoverySite-4754/sapInstances/ANQ_ADP/serverInstances/APP_azsapdeva01?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/6b65b587-0ffd-4d3a-93b0-6bede034bf12/resourceGroups/SdkTest-Net-3335/providers/Microsoft.Workloads/sapDiscoverySites/SapDiscoverySite-4754?api-version=2023-10-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "Key1": "TestPatchValue"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220000c8b7-0000-1800-0000-6603fb4b0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/6b65b587-0ffd-4d3a-93b0-6bede034bf12/resourceGroups/SdkTest-Net-3335/providers/Microsoft.Workloads/sapDiscoverySites/SapDiscoverySite-4754",
        "name": "SapDiscoverySite-4754",
        "type": "microsoft.workloads/sapdiscoverysites",
        "location": "southeastasia",
        "tags": {
          "Key1": "TestPatchValue"
        },
        "systemData": {
          "createdBy": "a1b9dd6f-263f-4b6a-99ca-e758ba5e879b",
          "createdByType": "Application",
          "createdAt": "2024-03-27T10:55:20.103392Z",
          "lastModifiedBy": "a1b9dd6f-263f-4b6a-99ca-e758ba5e879b",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2024-03-27T10:56:11.6449676Z"
        },
        "properties": {
          "migrateProjectId": "/subscriptions/6b65b587-0ffd-4d3a-93b0-6bede034bf12/resourceGroups/SdkTest-Net-3335/providers/Microsoft.Migrate/MigrateProjects/migrateProj-556",
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/6b65b587-0ffd-4d3a-93b0-6bede034bf12/providers/Microsoft.Workloads/locations/SOUTHEASTASIA/operationStatuses/08f1cf50-5344-410c-b65d-a4653df4bedf*6DE81910A04FACEA08F934BE531D5107AA51B0169B354C6B593717F248AC774A?api-version=2023-10-01-preview\u0026t=638471337736605676\u0026c=MIIHADCCBeigAwIBAgITfARk1TE_ZglsTRafPwAABGTVMTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0E[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/6b65b587-0ffd-4d3a-93b0-6bede034bf12/providers/Microsoft.Workloads/locations/southeastasia/operationStatuses/08f1cf50-5344-410c-b65d-a4653df4bedf*6DE81910A04FACEA08F934BE531D5107AA51B0169B354C6B593717F248AC774A?api-version=2023-10-01-preview\u0026t=638471337738796176\u0026c=MIIHADCCBeigAwIBAgITfARk1TE_ZglsTRafPwAABGTVMTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0E[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/6b65b587-0ffd-4d3a-93b0-6bede034bf12/providers/Microsoft.Workloads/locations/southeastasia/operationStatuses/08f1cf50-5344-410c-b65d-a4653df4bedf*6DE81910A04FACEA08F934BE531D5107AA51B0169B354C6B593717F248AC774A?api-version=2023-10-01-preview\u0026t=638471337750669417\u0026c=MIIHADCCBeigAwIBAgITfARk1TE_ZglsTRafPwAABGTVMTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0E[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/6b65b587-0ffd-4d3a-93b0-6bede034bf12/providers/Microsoft.Workloads/locations/southeastasia/operationStatuses/08f1cf50-5344-410c-b65d-a4653df4bedf*6DE81910A04FACEA08F934BE531D5107AA51B0169B354C6B593717F248AC774A?api-version=2023-10-01-preview\u0026t=638471337762362009\u0026c=MIIHADCCBeigAwIBAgITfARk1TE_ZglsTRafPwAABGTVMTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0E[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/6b65b587-0ffd-4d3a-93b0-6bede034bf12/providers/Microsoft.Workloads/locations/southeastasia/operationStatuses/08f1cf50-5344-410c-b65d-a4653df4bedf*6DE81910A04FACEA08F934BE531D5107AA51B0169B354C6B593717F248AC774A?api-version=2023-10-01-preview\u0026t=638471337774105294\u0026c=MIIHADCCBeigAwIBAgITfARk1TE_ZglsTRafPwAABGTVMTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0E[...]
    {
[...]
