{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "The patient was diagnosed with Parkinsons Disease (PD)",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "0",
            "kind": "Healthcare",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/8ad807b8-9a6a-4cef-8d9a-77265778e0d2?api-version=2023-04-01",
        "x-ms-region": "UK South"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/8ad807b8-9a6a-4cef-8d9a-77265778e0d2?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "jobId": "8ad807b8-9a6a-4cef-8d9a-77265778e0d2",
        "lastUpdatedDateTime": "2023-06-01T00:57:23Z",
        "createdDateTime": "2023-06-01T00:57:23Z",
        "expirationDateTime": "2023-06-02T00:57:23Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/8ad807b8-9a6a-4cef-8d9a-77265778e0d2?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "jobId": "8ad807b8-9a6a-4cef-8d9a-77265778e0d2",
        "lastUpdatedDateTime": "2023-06-01T00:57:25Z",
        "createdDateTime": "2023-06-01T00:57:23Z",
        "expirationDateTime": "2023-06-02T00:57:23Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "HealthcareLROResults",
              "taskName": "0",
              "lastUpdateDateTime": "2023-06-01T00:57:25.3031325Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "entities": [
                      {
                        "offset": 31,
                        "length": 18,
                        "text": "Parkinsons Disease",
                        "category": "Diagnosis",
                        "confidenceScore": 1.0,
                        "name": "Parkinson Disease",
                        "links": [
                          {
                            "dataSource": "UMLS",
                            "id": "C0030567"
                          },
                          {
                            "dataSource": "AOD",
                            "id": "0000006203"
                          },
                          {
                            "dataSource": "BI",
                            "id": "BI00554"
                          },
                          {
                            "dataSource": "CCPSS",
                       [...]
