{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/:analyze-text?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "SentimentAnalysis",
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "I should take my cat to the veterinarian.",
              "language": "de"
            },
            {
              "id": "4",
              "text": "Este es un document escrito en Espa\u00F1ol.",
              "language": "de"
            },
            {
              "id": "3",
              "text": "\u732B\u306F\u5E78\u305B",
              "language": "de"
            }
          ]
        },
        "parameters": {
          "stringIndexType": "UnicodeCodePoint"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.Language.Text.Sentiment=3,CognitiveServices.TextAnalytics.TextRecords=3",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "kind": "SentimentAnalysisResults",
        "results": {
          "documents": [
            {
              "id": "1",
              "sentiment": "neutral",
              "confidenceScores": {
                "positive": 0.0,
                "neutral": 1.0,
                "negative": 0.0
              },
              "sentences": [
                {
                  "sentiment": "neutral",
                  "confidenceScores": {
                    "positive": 0.0,
                    "neutral": 1.0,
                    "negative": 0.0
                  },
                  "offset": 0,
                  "length": 41,
                  "text": "I should take my cat to the veterinarian."
                }
              ],
              "warnings": []
            },
            {
              "id": "4",
              "sentiment": "neutral",
              "confidenceScores": {
                "positive": 0.02,
                "neutral": 0.98,
                "negative": 0.0
              },
              "sentences": [
                {
                  "sentiment": "neutral",
                  "confidenceScores": {
                    "positive": 0.02,
                    "neutral": 0.98,
                    "negative": 0.0
                  },
                  "offset": 0,
                  "length": 39,
                  "text": "Este es un document escrito en Espa\u00F1ol."
                }
              ],
              "warnings": []
            },
            {
              "id": "3",
              "sentiment": "positive",
              "confidenceScores": {
                "positive": 0.96,
                "neutral": 0.04,
                "negative": 0.01
              },
              "sentences": [
                {
                  "sentiment": "positive",
                  "confidenceScores": {
                    "positive": 0.96,
                    "neutral": 0.04,
                    "negative": 0.01
                  },
                  "offset": 0,
                  "length": 4,
                  "text": "\u732B\u306F\u5E78\u305B"
                }
              ],
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "2022-11-01"
        }
      }
    }
  ],
  "Variables": {}
}
