{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Test passing cls to endpoint",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "0",
            "kind": "Healthcare",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/9523dd4d-b13d-412f-adb2-67792dccd29c?api-version=2023-04-01",
        "x-ms-region": "UK South"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/9523dd4d-b13d-412f-adb2-67792dccd29c?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "jobId": "9523dd4d-b13d-412f-adb2-67792dccd29c",
        "lastUpdatedDateTime": "2023-06-01T00:56:57Z",
        "createdDateTime": "2023-06-01T00:56:56Z",
        "expirationDateTime": "2023-06-02T00:56:56Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/9523dd4d-b13d-412f-adb2-67792dccd29c?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "jobId": "9523dd4d-b13d-412f-adb2-67792dccd29c",
        "lastUpdatedDateTime": "2023-06-01T00:56:58Z",
        "createdDateTime": "2023-06-01T00:56:56Z",
        "expirationDateTime": "2023-06-02T00:56:56Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "HealthcareLROResults",
              "taskName": "0",
              "lastUpdateDateTime": "2023-06-01T00:56:58.8904043Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "entities": [
                      {
                        "offset": 0,
                        "length": 4,
                        "text": "Test",
                        "category": "ExaminationName",
                        "confidenceScore": 0.68,
                        "name": "Laboratory Procedures",
                        "links": [
                          {
                            "dataSource": "UMLS",
                            "id": "C0022885"
                          },
                          {
                            "dataSource": "AOD",
                            "id": "0000026780"
                          },
                          {
                            "dataSource": "CHV",
                            "id": "0000007165"
                          },
                          {
                            "dataSource": "CPM",
                     [...]
