{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "displayName": "hello",
        "analysisInput": {
          "documents": [
            {
              "id": "56",
              "text": ":)",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "0",
            "kind": "Healthcare",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/07ed78cd-c275-4f96-ab48-ebee3ff4da25?api-version=2023-04-01",
        "x-ms-region": "UK South"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/07ed78cd-c275-4f96-ab48-ebee3ff4da25?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "jobId": "07ed78cd-c275-4f96-ab48-ebee3ff4da25",
        "lastUpdatedDateTime": "2023-06-01T01:33:11Z",
        "createdDateTime": "2023-06-01T01:33:11Z",
        "expirationDateTime": "2023-06-02T01:33:11Z",
        "status": "running",
        "errors": [],
        "displayName": "hello",
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/07ed78cd-c275-4f96-ab48-ebee3ff4da25?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "jobId": "07ed78cd-c275-4f96-ab48-ebee3ff4da25",
        "lastUpdatedDateTime": "2023-06-01T01:33:13Z",
        "createdDateTime": "2023-06-01T01:33:11Z",
        "expirationDateTime": "2023-06-02T01:33:11Z",
        "status": "succeeded",
        "errors": [],
        "displayName": "hello",
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "HealthcareLROResults",
              "taskName": "0",
              "lastUpdateDateTime": "2023-06-01T01:33:13.4347538Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "56",
                    "entities": [],
                    "relations": [],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2023-04-01"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
