{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "A recent report by the Government Accountability Office (GAO) found that the dramatic increase in oil and natural gas development on federal lands over the past six years has stretched the staff of the BLM to a point that it has been unable to meet its environmental protection responsibilities.",
              "language": "en"
            },
            {
              "id": "2",
              "text": "David Schmidt, senior vice president--Food Safety, International Food Information Council (IFIC), Washington, D.C., discussed the physical activity component.",
              "language": "en"
            },
            {
              "id": "3",
              "text": "I need a reservation for an indoor restaurant in China. Please don\u0027t stop the music. Play music and add it to my playlist",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "0",
            "kind": "CustomMultiLabelClassification",
            "parameters": {
              "projectName": "multi_label_classify_project_name",
              "deploymentName": "multi_label_classify_project_name"
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/97177582-156b-4669-b2bf-ab422d04f0c7?api-version=2023-04-01",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/97177582-156b-4669-b2bf-ab422d04f0c7?api-version=2023-04-01\u0026showStats=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "jobId": "97177582-156b-4669-b2bf-ab422d04f0c7",
        "lastUpdatedDateTime": "2023-06-01T00:54:16Z",
        "createdDateTime": "2023-06-01T00:54:16Z",
        "expirationDateTime": "2023-06-02T00:54:16Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/97177582-156b-4669-b2bf-ab422d04f0c7?api-version=2023-04-01\u0026showStats=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "jobId": "97177582-156b-4669-b2bf-ab422d04f0c7",
        "lastUpdatedDateTime": "2023-06-01T00:54:16Z",
        "createdDateTime": "2023-06-01T00:54:16Z",
        "expirationDateTime": "2023-06-02T00:54:16Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "CustomMultiLabelClassificationLROResults",
              "taskName": "0",
              "lastUpdateDateTime": "2023-06-01T00:54:16.7673156Z",
              "status": "succeeded",
              "results": {
                "statistics": {
                  "documentsCount": 3,
                  "validDocumentsCount": 3,
                  "erroneousDocumentsCount": 0,
                  "transactionsCount": 3
                },
                "documents": [
                  {
                    "id": "1",
                    "class": [],
                    "statistics": {
                      "charactersCount": 295,
                      "transactionsCount": 1
                    },
                    "warnings": []
                  },
                  {
                    "id": "2",
                    "class": [],
                    "statistics": {
                      "charactersCount": 158,
                      "transactionsCount": 1
                    },
                    "warnings": []
                  },
                  {
                    "id": "3",
                    "class": [
                      {
                        "category": "BookRestaurant",
                        "confidenceScore": 0.97
                      }
                    ],
                    "statistics": {
                      "charactersCount": 121,
                      "transactionsCount": 1
                    },
                    "warnings": []
                  }
                ],
                "errors": [],
                "projectName": "multi_label_classify_project_name",
                "deploymentName": "multi_label_classify_project_name"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
