{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/:analyze-text?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "LanguageDetection",
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "hello world",
              "countryHint": "United States"
            }
          ]
        },
        "parameters": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "kind": "LanguageDetectionResults",
        "results": {
          "documents": [],
          "errors": [
            {
              "id": "1",
              "error": {
                "code": "InvalidArgument",
                "message": "Invalid Country Hint.",
                "innererror": {
                  "code": "InvalidCountryHint",
                  "message": "Country hint is not valid. Please specify an ISO 3166-1 alpha-2 two letter country code."
                }
              }
            }
          ],
          "modelVersion": "2022-10-01"
        }
      }
    }
  ],
  "Variables": {}
}
