{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "A recent report by the Government Accountability Office (GAO) found that the dramatic increase in oil and natural gas development on federal lands over the past six years has stretched the staff of the BLM to a point that it has been unable to meet its environmental protection responsibilities.",
              "language": "en"
            },
            {
              "id": "2",
              "text": "",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "0",
            "kind": "CustomSingleLabelClassification",
            "parameters": {
              "projectName": "single_label_classify_project_name",
              "deploymentName": "single_label_classify_project_name"
            }
          },
          {
            "taskName": "1",
            "kind": "CustomMultiLabelClassification",
            "parameters": {
              "projectName": "multi_label_classify_project_name",
              "deploymentName": "multi_label_classify_project_name"
            }
          },
          {
            "taskName": "2",
            "kind": "CustomEntityRecognition",
            "parameters": {
              "projectName": "custom_entities_project_name",
              "deploymentName": "custom_entities_project_name",
              "stringIndexType": "UnicodeCodePoint"
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/7e8dc2bd-e97e-47b5-be16-2a91b595e8b8?api-version=2023-04-01",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/7e8dc2bd-e97e-47b5-be16-2a91b595e8b8?api-version=2023-04-01\u0026showStats=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "jobId": "7e8dc2bd-e97e-47b5-be16-2a91b595e8b8",
        "lastUpdatedDateTime": "2023-06-01T00:54:27Z",
        "createdDateTime": "2023-06-01T00:54:27Z",
        "expirationDateTime": "2023-06-02T00:54:27Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 3,
          "total": 3,
          "items": []
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/7e8dc2bd-e97e-47b5-be16-2a91b595e8b8?api-version=2023-04-01\u0026showStats=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "jobId": "7e8dc2bd-e97e-47b5-be16-2a91b595e8b8",
        "lastUpdatedDateTime": "2023-06-01T00:54:28Z",
        "createdDateTime": "2023-06-01T00:54:27Z",
        "expirationDateTime": "2023-06-02T00:54:27Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 3,
          "failed": 0,
          "inProgress": 0,
          "total": 3,
          "items": [
            {
              "kind": "CustomSingleLabelClassificationLROResults",
              "taskName": "0",
              "lastUpdateDateTime": "2023-06-01T00:54:28.1869622Z",
              "status": "succeeded",
              "results": {
                "statistics": {
                  "documentsCount": 2,
                  "validDocumentsCount": 1,
                  "erroneousDocumentsCount": 1,
                  "transactionsCount": 1
                },
                "documents": [
                  {
                    "id": "1",
                    "class": [
                      {
                        "category": "RateBook",
                        "confidenceScore": 0.76
                      }
                    ],
                    "statistics": {
                      "charactersCount": 295,
                      "transactionsCount": 1
                    },
                    "warnings": []
                  }
                ],
                "errors": [
                  {
                    "id": "2",
                    "error": {
                      "code": "InvalidArgument",
                      "message": "Invalid Document in request.",
                      "innererror": {
                        "code": "InvalidDocument",
                        "message": "Document text is empty."
                      }
                    }
                  }
                ],
                "projectName": "single_label_classify_project_name",
                "deploymentName": "single_label_classify_project_name"
              }
            },
            {
              "kind": "CustomMultiLabelClassificationLROResults",
              "taskName": "1",
    [...]
