{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/:analyze-text?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "SentimentAnalysis",
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "I will go to the park.",
              "language": "es"
            },
            {
              "id": "2",
              "text": "I did not like the hotel we stayed at.",
              "language": "es"
            },
            {
              "id": "3",
              "text": "The restaurant had really good food.",
              "language": "es"
            }
          ]
        },
        "parameters": {
          "stringIndexType": "UnicodeCodePoint"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.Language.Text.Sentiment=3,CognitiveServices.TextAnalytics.TextRecords=3",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "kind": "SentimentAnalysisResults",
        "results": {
          "documents": [
            {
              "id": "1",
              "sentiment": "neutral",
              "confidenceScores": {
                "positive": 0.0,
                "neutral": 0.99,
                "negative": 0.0
              },
              "sentences": [
                {
                  "sentiment": "neutral",
                  "confidenceScores": {
                    "positive": 0.0,
                    "neutral": 0.99,
                    "negative": 0.0
                  },
                  "offset": 0,
                  "length": 22,
                  "text": "I will go to the park."
                }
              ],
              "warnings": []
            },
            {
              "id": "2",
              "sentiment": "negative",
              "confidenceScores": {
                "positive": 0.01,
                "neutral": 0.3,
                "negative": 0.69
              },
              "sentences": [
                {
                  "sentiment": "negative",
                  "confidenceScores": {
                    "positive": 0.01,
                    "neutral": 0.3,
                    "negative": 0.69
                  },
                  "offset": 0,
                  "length": 38,
                  "text": "I did not like the hotel we stayed at."
                }
              ],
              "warnings": []
            },
            {
              "id": "3",
              "sentiment": "positive",
              "confidenceScores": {
                "positive": 0.99,
                "neutral": 0.01,
                "negative": 0.0
              },
              "sentences": [
                {
                  "sentiment": "positive",
                  "confidenceScores": {
                    "positive": 0.99,
                    "neutral": 0.01,
                    "negative": 0.0
                  },
                  "offset": 0,
                  "length": 36,
                  "text": "The restaurant had really good food."
                }
              ],
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "2022-11-01"
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/:analyze-text?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "SentimentAnalysis",
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "I will go to the park.",
             [...]
