{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/:analyze-text?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "EntityLinking",
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "This was the best day of my life.",
              "language": ""
            },
            {
              "id": "1",
              "text": "I did not like the hotel we stayed at. It was too expensive.",
              "language": ""
            },
            {
              "id": "2",
              "text": "The restaurant was not as good as I hoped.",
              "language": ""
            }
          ]
        },
        "parameters": {
          "stringIndexType": "UnicodeCodePoint"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.Language.Text.EntityLinking=3,CognitiveServices.TextAnalytics.TextRecords=3",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "kind": "EntityLinkingResults",
        "results": {
          "documents": [
            {
              "id": "0",
              "entities": [],
              "warnings": []
            },
            {
              "id": "1",
              "entities": [],
              "warnings": []
            },
            {
              "id": "2",
              "entities": [],
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "2021-06-01"
        }
      }
    }
  ],
  "Variables": {}
}
