{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "The government of British Prime Minster Theresa May has been plunged into turmoil with the resignation of two senior Cabinet ministers in a deep split over her Brexit strategy. The Foreign Secretary Boris Johnson, quit on Monday, hours after the resignation late on Sunday night of the minister in charge of Brexit negotiations, David Davis. Their decision to leave the government came three days after May appeared to have agreed a deal with her fractured Cabinet on the UK\u0027s post Brexit rela[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/48bdc556-e629-43a3-ba41-23262bffb863?api-version=2022-10-01-preview\u0026showStats=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "jobId": "48bdc556-e629-43a3-ba41-23262bffb863",
        "lastUpdatedDateTime": "2023-01-19T00:45:15Z",
        "createdDateTime": "2023-01-19T00:45:15Z",
        "expirationDateTime": "2023-01-20T00:45:15Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/48bdc556-e629-43a3-ba41-23262bffb863?api-version=2022-10-01-preview\u0026showStats=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "jobId": "48bdc556-e629-43a3-ba41-23262bffb863",
        "lastUpdatedDateTime": "2023-01-19T00:45:16Z",
        "createdDateTime": "2023-01-19T00:45:15Z",
        "expirationDateTime": "2023-01-20T00:45:15Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "AbstractiveSummarizationLROResults",
              "taskName": "0",
              "lastUpdateDateTime": "2023-01-19T00:45:16.9364984Z",
              "status": "succeeded",
              "results": {
                "statistics": {
                  "documentsCount": 1,
                  "validDocumentsCount": 1,
                  "erroneousDocumentsCount": 0,
                  "transactionsCount": 2
                },
                "documents": [
                  {
                    "summaries": [
                      {
                        "text": "The Foreign Secretary Boris Johnson resigns from the government.\nDavid Davis quit Sunday night, saying he could not support May\u0027s plan.\n\nThe two ministers are in a deep split over her plan for Britain\u0027s post-EU relationship.",
                        "contexts": [
                          {
                            "offset": 0,
                            "length": 1627
                          }
                        ]
                      }
                    ],
                    "id": "1",
                    "statistics": {
                      "charactersCount": 1851,
                      "transactionsCount": 2
                    },
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "latest"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
