{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/:analyze-text?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "LanguageDetection",
        "analysisInput": {
          "documents": [
            {
              "id": "56",
              "text": ":)",
              "countryHint": "US"
            },
            {
              "id": "0",
              "text": ":(",
              "countryHint": "US"
            },
            {
              "id": "22",
              "text": "",
              "countryHint": "US"
            },
            {
              "id": "19",
              "text": ":P",
              "countryHint": "US"
            },
            {
              "id": "1",
              "text": ":D",
              "countryHint": "US"
            }
          ]
        },
        "parameters": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.Language.Text.LanguageDetection=4,CognitiveServices.TextAnalytics.TextRecords=4",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "kind": "LanguageDetectionResults",
        "results": {
          "documents": [
            {
              "id": "56",
              "detectedLanguage": {
                "name": "(Unknown)",
                "iso6391Name": "(Unknown)",
                "confidenceScore": 0.0
              },
              "warnings": []
            },
            {
              "id": "0",
              "detectedLanguage": {
                "name": "(Unknown)",
                "iso6391Name": "(Unknown)",
                "confidenceScore": 0.0
              },
              "warnings": []
            },
            {
              "id": "19",
              "detectedLanguage": {
                "name": "(Unknown)",
                "iso6391Name": "(Unknown)",
                "confidenceScore": 0.0
              },
              "warnings": []
            },
            {
              "id": "1",
              "detectedLanguage": {
                "name": "(Unknown)",
                "iso6391Name": "(Unknown)",
                "confidenceScore": 0.0
              },
              "warnings": []
            }
          ],
          "errors": [
            {
              "id": "22",
              "error": {
                "code": "InvalidArgument",
                "message": "Invalid Document in request.",
                "innererror": {
                  "code": "InvalidDocument",
                  "message": "Document text is empty."
                }
              }
            }
          ],
          "modelVersion": "2022-10-01"
        }
      }
    }
  ],
  "Variables": {}
}
