{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.1/sentiment?stringIndexType=TextElement_v8",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "0",
            "text": "Hello world",
            "language": "en"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.Language.Text.Sentiment=1,CognitiveServices.TextAnalytics.TextRecords=1",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "documents": [
          {
            "id": "0",
            "sentiment": "neutral",
            "confidenceScores": {
              "positive": 0.25,
              "neutral": 0.74,
              "negative": 0.01
            },
            "sentences": [
              {
                "sentiment": "neutral",
                "confidenceScores": {
                  "positive": 0.25,
                  "neutral": 0.74,
                  "negative": 0.01
                },
                "offset": 0,
                "length": 11,
                "text": "Hello world"
              }
            ],
            "warnings": []
          }
        ],
        "errors": [],
        "modelVersion": "2022-11-01"
      }
    }
  ],
  "Variables": {}
}
