{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/:analyze-text?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "PiiEntityRecognition",
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "I did not like the hotel we stayed at.",
              "language": "english"
            }
          ]
        },
        "parameters": {
          "modelVersion": "bad",
          "stringIndexType": "UnicodeCodePoint"
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequest",
          "message": "Invalid Request.",
          "innererror": {
            "code": "ModelVersionIncorrect",
            "message": "Invalid model version. Possible values are: latest,2021-01-15. For additional details see https://aka.ms/text-analytics-model-versioning"
          }
        }
      }
    }
  ],
  "Variables": {}
}
