{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "displayName": "testing",
        "analysisInput": {
          "documents": [
            {
              "id": "56",
              "text": "David Schmidt, senior vice president--Food Safety, International Food Information Council (IFIC), Washington, D.C., discussed the physical activity component.",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "0",
            "kind": "CustomEntityRecognition",
            "parameters": {
              "projectName": "custom_entities_project_name",
              "deploymentName": "custom_entities_project_name",
              "stringIndexType": "UnicodeCodePoint"
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/84c0f196-f17b-4664-8420-f3bea8da44c5?api-version=2023-04-01",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/84c0f196-f17b-4664-8420-f3bea8da44c5?api-version=2023-04-01\u0026showStats=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "jobId": "84c0f196-f17b-4664-8420-f3bea8da44c5",
        "lastUpdatedDateTime": "2023-06-01T01:33:56Z",
        "createdDateTime": "2023-06-01T01:33:56Z",
        "expirationDateTime": "2023-06-02T01:33:56Z",
        "status": "notStarted",
        "errors": [],
        "displayName": "testing",
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/84c0f196-f17b-4664-8420-f3bea8da44c5?api-version=2023-04-01\u0026showStats=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "jobId": "84c0f196-f17b-4664-8420-f3bea8da44c5",
        "lastUpdatedDateTime": "2023-06-01T01:33:57Z",
        "createdDateTime": "2023-06-01T01:33:56Z",
        "expirationDateTime": "2023-06-02T01:33:56Z",
        "status": "succeeded",
        "errors": [],
        "displayName": "testing",
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "CustomEntityRecognitionLROResults",
              "taskName": "0",
              "lastUpdateDateTime": "2023-06-01T01:33:57.9098684Z",
              "status": "succeeded",
              "results": {
                "statistics": {
                  "documentsCount": 1,
                  "validDocumentsCount": 1,
                  "erroneousDocumentsCount": 0,
                  "transactionsCount": 1
                },
                "documents": [
                  {
                    "id": "56",
                    "statistics": {
                      "charactersCount": 158,
                      "transactionsCount": 1
                    },
                    "entities": [
                      {
                        "text": "David Schmidt",
                        "category": "artist",
                        "offset": 0,
                        "length": 13,
                        "confidenceScore": 0.8
                      },
                      {
                        "text": "Food",
                        "category": "service",
                        "offset": 38,
                        "length": 4,
                        "confidenceScore": 0.03
                      },
                      {
                        "text": "Safety",
                        "category": "geographic_poi",
                        "offset": 43,
                        "length": 6,
                [...]
