{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Test for logging disable",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "0",
            "kind": "EntityRecognition",
            "parameters": {
              "loggingOptOut": true,
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "1",
            "kind": "KeyPhraseExtraction",
            "parameters": {
              "loggingOptOut": true
            }
          },
          {
            "taskName": "2",
            "kind": "PiiEntityRecognition",
            "parameters": {
              "loggingOptOut": true,
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "3",
            "kind": "EntityLinking",
            "parameters": {
              "loggingOptOut": true,
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "4",
            "kind": "SentimentAnalysis",
            "parameters": {
              "loggingOptOut": true,
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "5",
            "kind": "CustomSingleLabelClassification",
            "parameters": {
              "loggingOptOut": true,
              "projectName": "single_label_classify_project_name",
              "deploymentName": "single_label_classify_project_name"
            }
          },
          {
            "taskName": "6",
            "kind": "CustomMultiLabelClassification",
            "parameters": {
              "loggingOptOut": true,
              "projectName": "multi_label_classify_project_name",
              "deploymentName": "multi_label_classify_project_name"
            }
          },
          {
            "taskName": "7",
            "kind": "CustomEntityRecognition",
            "parameters": {
              "loggingOptOut": true,
              "projectName": "custom_entities_project_name",
              "deploymentName": "custom_entities_project_name",
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "8",
            "kind": "Healthcare",
            "parameters": {
              "loggingOptOut": true,
              "stringIndexType": "UnicodeCodePoint"
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/c4f188c5-e099-48ac-abe3-10da3e869c29?api-version=2023-04-01",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/c4f188c5-e099-48ac-abe3-10da3e869c29?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "jobId": "c4f188c5-e099-48ac-abe3-10da3e869c29",
        "lastUpdatedDateTime": "2023-06-01T00:53:41Z",
        "createdDateTime": "2023-06-01T00:53:40Z",
        "expirationDateTime": "2023-06-02T00:53:40Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 9,
          "total": 9,
          "items": []
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/c4f188c5-e099-48ac-abe3-10da3e869c29?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "jobId": "c4f188c5-e099-48ac-abe3-10da3e869c29",
        "lastUpdatedDateTime": "2023-06-01T00:53:43Z",
        "createdDateTime": "2023-06-01T00:53:40Z",
        "expirationDateTime": "2023-06-02T00:53:40Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 7,
          "failed": 0,
          "inProgress": 2,
          "total": 9,
          "items": [
            {
              "kind": "EntityRecognitionLROResults",
              "taskName": "0",
              "lastUpdateDateTime": "2023-06-01T00:53:43.3027754Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "entities": [
                      {
                        "text": "Test",
                        "category": "Skill",
                        "offset": 0,
                        "length": 4,
                        "confidenceScore": 0.83
                      },
                      {
                        "text": "logging",
                        "category": "Skill",
                        "offset": 9,
                        "length": 7,
                        "confidenceScore": 0.69
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-06-01"
              }
            },
            {
              "kind": "KeyPhraseExtractionLROResults",
              "taskName": "1",
              "lastUpdateDateTime": "2023-06-01T00:53:43.8156076Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "keyPhrases": [
                      "Test",
                      "logging"
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2022-10-01"
              }
            },
            {
              "kind": "PiiEntityRecognitionLROResults",
              "taskName": "2",
              "lastUpdateDateTime": "2023-06-01T00:53:43.5304705Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "redactedText": "Test for logging disable",
                    "id": "0",
                    "entities": [],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-01-15"
              }
            },
            {
              "kind": "SentimentAnalysisLROResults",
              "taskName": "4",
              "lastUpdateDateTime": "2023-06-01T00:53:43.5121685Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "sentiment": "neutral",
                    "confidenceScores": {
                      "positive": 0.01,
                      "neutral": 0.8,
                      "negative": 0.19
                    },
                    "sentences": [
                      {
                        "sentiment": "neutral",
                        "confidenceScores": {
                          "positive": 0.01,
                          "neutral": 0.8,
                          "negative": 0.19
                        },
                        "offset": 0,
                        "length": 24,
                        "text": "Test for logging disable"
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2022-11-01"
              }
            },
            {
              "kind": "CustomSingleLabelClassificationLROResults",
              "taskName": "5",
              "lastUpdateDateTime": "2023-06-01T00:53:41.8695349Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "class": [
                      {
                        "category": "PlayMusic",
                        "confidenceScore": 0.6
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "projectName": "single_label_classify_project_name",
                "deploymentName": "single_label_classify_project_name"
              }
            },
            {
              "kind": "Cus[...]
