{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "5",
              "text": "A recent report by the Government Accountability Office (GAO) found that the dramatic increase in oil and natural gas development on federal lands over the past six years has stretched the staff of the BLM to a point that it has been unable to meet its environmental protection responsibilities.",
              "language": "en"
            },
            {
              "id": "2",
              "text": "",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "0",
            "kind": "EntityRecognition",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "1",
            "kind": "PiiEntityRecognition",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "2",
            "kind": "EntityRecognition",
            "parameters": {
              "loggingOptOut": true,
              "stringIndexType": "UnicodeCodePoint"
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/b37ab68a-72e1-4e2a-b9cf-28cc293b71fd?api-version=2022-10-01-preview",
        "x-ms-region": "UK South"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/b37ab68a-72e1-4e2a-b9cf-28cc293b71fd?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "jobId": "b37ab68a-72e1-4e2a-b9cf-28cc293b71fd",
        "lastUpdatedDateTime": "2023-03-02T22:37:46Z",
        "createdDateTime": "2023-03-02T22:37:45Z",
        "expirationDateTime": "2023-03-03T22:37:45Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 3,
          "total": 3,
          "items": []
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/b37ab68a-72e1-4e2a-b9cf-28cc293b71fd?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "jobId": "b37ab68a-72e1-4e2a-b9cf-28cc293b71fd",
        "lastUpdatedDateTime": "2023-03-02T22:37:49Z",
        "createdDateTime": "2023-03-02T22:37:45Z",
        "expirationDateTime": "2023-03-03T22:37:45Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 3,
          "failed": 0,
          "inProgress": 0,
          "total": 3,
          "items": [
            {
              "kind": "EntityRecognitionLROResults",
              "taskName": "0",
              "lastUpdateDateTime": "2023-03-02T22:37:48.6535454Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "5",
                    "entities": [
                      {
                        "text": "cent",
                        "category": "Quantity",
                        "subcategory": "Percentage",
                        "offset": 4,
                        "length": 4,
                        "confidenceScore": 0.8
                      },
                      {
                        "text": "Government Accountability Office",
                        "category": "Organization",
                        "offset": 23,
                        "length": 32,
                        "confidenceScore": 0.99
                      },
                      {
                        "text": "GAO",
                        "category": "Organization",
                        "offset": 57,
                        [...]
