{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "This should fail because we\u0027re passing in an invalid language hint",
              "language": "notalanguage"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "0",
            "kind": "Healthcare",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/02a40c42-1f5b-49fa-963a-01057872639d?api-version=2023-04-01",
        "x-ms-region": "UK South"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/02a40c42-1f5b-49fa-963a-01057872639d?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "jobId": "02a40c42-1f5b-49fa-963a-01057872639d",
        "lastUpdatedDateTime": "2023-06-01T00:58:40Z",
        "createdDateTime": "2023-06-01T00:58:39Z",
        "expirationDateTime": "2023-06-02T00:58:39Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/02a40c42-1f5b-49fa-963a-01057872639d?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "jobId": "02a40c42-1f5b-49fa-963a-01057872639d",
        "lastUpdatedDateTime": "2023-06-01T00:58:41Z",
        "createdDateTime": "2023-06-01T00:58:39Z",
        "expirationDateTime": "2023-06-02T00:58:39Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "HealthcareLROResults",
              "taskName": "0",
              "lastUpdateDateTime": "2023-06-01T00:58:41.6113482Z",
              "status": "succeeded",
              "results": {
                "documents": [],
                "errors": [
                  {
                    "id": "0",
                    "error": {
                      "code": "InvalidArgument",
                      "message": "Invalid Language Code.",
                      "innererror": {
                        "code": "UnsupportedLanguageCode",
                        "message": "Invalid language code \u0027notalanguage\u0027. Supported languages: en. For additional details see https://aka.ms/language-service/language-support"
                      }
                    }
                  }
                ],
                "modelVersion": "2023-04-01"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
