{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/:analyze-text?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "EntityLinking",
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "",
              "language": "en"
            }
          ]
        },
        "parameters": {
          "stringIndexType": "UnicodeCodePoint"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "kind": "EntityLinkingResults",
        "results": {
          "documents": [],
          "errors": [
            {
              "id": "1",
              "error": {
                "code": "InvalidArgument",
                "message": "Invalid Document in request.",
                "innererror": {
                  "code": "InvalidDocument",
                  "message": "Document text is empty."
                }
              }
            }
          ],
          "modelVersion": "2021-06-01"
        }
      }
    }
  ],
  "Variables": {}
}
