{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "Microsoft was founded by Bill Gates and Paul Allen",
              "language": "en"
            },
            {
              "id": "2",
              "text": "Microsoft fue fundado por Bill Gates y Paul Allen",
              "language": "es"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "0",
            "kind": "KeyPhraseExtraction",
            "parameters": {}
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/ba7077b7-e6b4-437a-8634-a276f7d8a4cc?api-version=2023-04-01",
        "x-ms-region": "UK South"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/ba7077b7-e6b4-437a-8634-a276f7d8a4cc?api-version=2023-04-01\u0026showStats=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "jobId": "ba7077b7-e6b4-437a-8634-a276f7d8a4cc",
        "lastUpdatedDateTime": "2023-06-01T00:52:28Z",
        "createdDateTime": "2023-06-01T00:52:28Z",
        "expirationDateTime": "2023-06-02T00:52:28Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/ba7077b7-e6b4-437a-8634-a276f7d8a4cc?api-version=2023-04-01\u0026showStats=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "jobId": "ba7077b7-e6b4-437a-8634-a276f7d8a4cc",
        "lastUpdatedDateTime": "2023-06-01T00:52:30Z",
        "createdDateTime": "2023-06-01T00:52:28Z",
        "expirationDateTime": "2023-06-02T00:52:28Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "KeyPhraseExtractionLROResults",
              "taskName": "0",
              "lastUpdateDateTime": "2023-06-01T00:52:30.5276639Z",
              "status": "succeeded",
              "results": {
                "statistics": {
                  "documentsCount": 2,
                  "validDocumentsCount": 2,
                  "erroneousDocumentsCount": 0,
                  "transactionsCount": 2
                },
                "documents": [
                  {
                    "id": "1",
                    "keyPhrases": [
                      "Bill Gates",
                      "Paul Allen",
                      "Microsoft"
                    ],
                    "statistics": {
                      "charactersCount": 50,
                      "transactionsCount": 1
                    },
                    "warnings": []
                  },
                  {
                    "id": "2",
                    "keyPhrases": [
                      "Bill Gates",
                      "Paul Allen",
                      "Microsoft"
                    ],
                    "statistics": {
                      "charactersCount": 49,
                      "transactionsCount": 1
                    },
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2022-10-01"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
