{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/:analyze-text?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "LanguageDetection",
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "This was the best day of my life.",
              "countryHint": "CA"
            },
            {
              "id": "1",
              "text": "I did not like the hotel we stayed at. It was too expensive.",
              "countryHint": "CA"
            },
            {
              "id": "2",
              "text": "The restaurant was not as good as I hoped.",
              "countryHint": "CA"
            }
          ]
        },
        "parameters": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.Language.Text.LanguageDetection=3,CognitiveServices.TextAnalytics.TextRecords=3",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "kind": "LanguageDetectionResults",
        "results": {
          "documents": [
            {
              "id": "0",
              "detectedLanguage": {
                "name": "English",
                "iso6391Name": "en",
                "confidenceScore": 1.0
              },
              "warnings": []
            },
            {
              "id": "1",
              "detectedLanguage": {
                "name": "English",
                "iso6391Name": "en",
                "confidenceScore": 1.0
              },
              "warnings": []
            },
            {
              "id": "2",
              "detectedLanguage": {
                "name": "English",
                "iso6391Name": "en",
                "confidenceScore": 0.99
              },
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "2022-10-01"
        }
      }
    }
  ],
  "Variables": {}
}
