{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/:analyze-text?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "EntityRecognition",
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "I should take my cat to the veterinarian.",
              "language": "de"
            },
            {
              "id": "4",
              "text": "Este es un document escrito en Espa\u00F1ol.",
              "language": "de"
            },
            {
              "id": "3",
              "text": "\u732B\u306F\u5E78\u305B",
              "language": "de"
            }
          ]
        },
        "parameters": {
          "stringIndexType": "UnicodeCodePoint"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.Language.Text.NER=3,CognitiveServices.TextAnalytics.TextRecords=3",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "kind": "EntityRecognitionResults",
        "results": {
          "documents": [
            {
              "id": "1",
              "entities": [
                {
                  "text": "veterinarian",
                  "category": "JOB_ROLE",
                  "offset": 28,
                  "length": 12,
                  "confidenceScore": 0.93
                },
                {
                  "text": "veterinarian",
                  "category": "PersonType",
                  "offset": 28,
                  "length": 12,
                  "confidenceScore": 1.0
                }
              ],
              "warnings": []
            },
            {
              "id": "4",
              "entities": [
                {
                  "text": "Espa\u00F1ol",
                  "category": "Skill",
                  "offset": 31,
                  "length": 7,
                  "confidenceScore": 0.94
                }
              ],
              "warnings": []
            },
            {
              "id": "3",
              "entities": [],
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "2021-06-01"
        }
      }
    }
  ],
  "Variables": {}
}
