{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/:analyze-text?api-version=2023-04-01\u0026showStats=true",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "EntityRecognition",
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Bill Gates is the CEO of Microsoft.",
              "language": "es"
            }
          ]
        },
        "parameters": {
          "modelVersion": "latest",
          "stringIndexType": "UnicodeCodePoint"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.Language.Text.NER=1,CognitiveServices.TextAnalytics.TextRecords=1",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "kind": "EntityRecognitionResults",
        "results": {
          "statistics": {
            "documentsCount": 1,
            "validDocumentsCount": 1,
            "erroneousDocumentsCount": 0,
            "transactionsCount": 1
          },
          "documents": [
            {
              "id": "0",
              "statistics": {
                "charactersCount": 35,
                "transactionsCount": 1
              },
              "entities": [
                {
                  "text": "Bill Gates",
                  "category": "Person",
                  "offset": 0,
                  "length": 10,
                  "confidenceScore": 1.0
                },
                {
                  "text": "CEO",
                  "category": "JOB_ROLE",
                  "offset": 18,
                  "length": 3,
                  "confidenceScore": 0.81
                },
                {
                  "text": "CEO",
                  "category": "PersonType",
                  "offset": 18,
                  "length": 3,
                  "confidenceScore": 0.96
                },
                {
                  "text": "Microsoft",
                  "category": "Organization",
                  "offset": 25,
                  "length": 9,
                  "confidenceScore": 0.99
                }
              ],
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "2021-06-01"
        }
      }
    }
  ],
  "Variables": {}
}
