{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "56",
              "text": ":)",
              "language": "en"
            },
            {
              "id": "0",
              "text": ":(",
              "language": "en"
            },
            {
              "id": "22",
              "text": "",
              "language": "en"
            },
            {
              "id": "19",
              "text": ":P",
              "language": "en"
            },
            {
              "id": "1",
              "text": ":D",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "0",
            "kind": "Healthcare",
            "parameters": {
              "modelVersion": "latest",
              "stringIndexType": "UnicodeCodePoint"
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/5f6e5f2d-37ff-4aa1-84d0-cbd1ab89482f?api-version=2023-04-01",
        "x-ms-region": "UK South"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/5f6e5f2d-37ff-4aa1-84d0-cbd1ab89482f?api-version=2023-04-01\u0026showStats=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "jobId": "5f6e5f2d-37ff-4aa1-84d0-cbd1ab89482f",
        "lastUpdatedDateTime": "2023-06-01T00:58:28Z",
        "createdDateTime": "2023-06-01T00:58:27Z",
        "expirationDateTime": "2023-06-02T00:58:27Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/5f6e5f2d-37ff-4aa1-84d0-cbd1ab89482f?api-version=2023-04-01\u0026showStats=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "jobId": "5f6e5f2d-37ff-4aa1-84d0-cbd1ab89482f",
        "lastUpdatedDateTime": "2023-06-01T00:58:29Z",
        "createdDateTime": "2023-06-01T00:58:27Z",
        "expirationDateTime": "2023-06-02T00:58:27Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "HealthcareLROResults",
              "taskName": "0",
              "lastUpdateDateTime": "2023-06-01T00:58:29.8638625Z",
              "status": "succeeded",
              "results": {
                "statistics": {
                  "documentsCount": 5,
                  "validDocumentsCount": 4,
                  "erroneousDocumentsCount": 1,
                  "transactionsCount": 4
                },
                "documents": [
                  {
                    "id": "56",
                    "statistics": {
                      "charactersCount": 2,
                      "transactionsCount": 1
                    },
                    "entities": [],
                    "relations": [],
                    "warnings": []
                  },
                  {
                    "id": "0",
                    "statistics": {
                      "charactersCount": 2,
                      "transactionsCount": 1
                    },
                    "entities": [],
                    "relations": [],
                    "warnings": []
                  },
                  {
                    "id": "19",
                    "statistics": {
                      "charactersCount": 2,
                      "transactionsCount": 1
                    },
                    "entities": [],
                    "relations": [],
                    "warnings": []
                  },
                  {
                    "id": "1",
                    "statistics": {
                      "charactersCount": 2,
                      "transactionsCount": 1
                    },
                    "entities": [],
                    "relations": [],
                    "warnings": []
                  }
                ],
                "errors": [
                  {
                    "id": "22",
                    "error": {
                      "code": "InvalidArgument",
                      "message": "Invalid Document in request.",
                      "innererror": {
                        "code": "InvalidDocument",
                        "message": "Document text is empty."
                      }
                    }
                  }
                ],
                "modelVersion": "2023-04-01"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
