{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "hello world",
              "language": "en"
            },
            {
              "id": "1",
              "text": "hello world",
              "language": "en"
            },
            {
              "id": "2",
              "text": "hello world",
              "language": "en"
            },
            {
              "id": "3",
              "text": "hello world",
              "language": "en"
            },
            {
              "id": "4",
              "text": "hello world",
              "la[...]
