{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "56",
              "text": ":)",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "0",
            "kind": "EntityRecognition",
            "parameters": {
              "modelVersion": "latest",
              "stringIndexType": "UnicodeCodePoint"
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/30f88464-31f7-418e-81b2-09f3cff2d5c0?api-version=2023-04-01",
        "x-ms-region": "UK South"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/30f88464-31f7-418e-81b2-09f3cff2d5c0?api-version=2023-04-01\u0026showStats=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "jobId": "30f88464-31f7-418e-81b2-09f3cff2d5c0",
        "lastUpdatedDateTime": "2023-06-01T01:30:44Z",
        "createdDateTime": "2023-06-01T01:30:44Z",
        "expirationDateTime": "2023-06-02T01:30:44Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/30f88464-31f7-418e-81b2-09f3cff2d5c0?api-version=2023-04-01\u0026showStats=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "jobId": "30f88464-31f7-418e-81b2-09f3cff2d5c0",
        "lastUpdatedDateTime": "2023-06-01T01:30:49Z",
        "createdDateTime": "2023-06-01T01:30:44Z",
        "expirationDateTime": "2023-06-02T01:30:44Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "EntityRecognitionLROResults",
              "taskName": "0",
              "lastUpdateDateTime": "2023-06-01T01:30:49.0387698Z",
              "status": "succeeded",
              "results": {
                "statistics": {
                  "documentsCount": 1,
                  "validDocumentsCount": 1,
                  "erroneousDocumentsCount": 0,
                  "transactionsCount": 1
                },
                "documents": [
                  {
                    "id": "56",
                    "statistics": {
                      "charactersCount": 2,
                      "transactionsCount": 1
                    },
                    "entities": [],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-06-01"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
