{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.1/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tasks": {
          "entityRecognitionTasks": [
            {
              "parameters": {
                "stringIndexType": "UnicodeCodePoint"
              },
              "taskName": "0"
            }
          ],
          "entityRecognitionPiiTasks": [
            {
              "parameters": {
                "stringIndexType": "UnicodeCodePoint"
              },
              "taskName": "2"
            }
          ],
          "keyPhraseExtractionTasks": [
            {
              "parameters": {},
              "taskName": "1"
            }
          ],
          "entityLinkingTasks": [
            {
              "parameters": {
                "stringIndexType": "UnicodeCodePoint"
              },
              "taskName": "3"
            }
          ],
          "sentimentAnalysisTasks": [
            {
              "parameters": {
                "stringIndexType": "UnicodeCodePoint"
              },
              "taskName": "4"
            }
          ]
        },
        "analysisInput": {
          "documents": [
            {
              "id": "56",
              "text": ":)",
              "language": "en"
            },
            {
              "id": "0",
              "text": ":(",
              "language": "en"
            },
            {
              "id": "19",
              "text": ":P",
              "language": "en"
            },
            {
              "id": "1",
              "text": ":D",
              "language": "en"
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.1/analyze/jobs/ae559fc4-ee22-4ccd-9d48-5674139f241e",
        "x-ms-region": "UK South"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.1/analyze/jobs/ae559fc4-ee22-4ccd-9d48-5674139f241e",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "jobId": "ae559fc4-ee22-4ccd-9d48-5674139f241e",
        "lastUpdateDateTime": "2023-06-01T00:54:41Z",
        "createdDateTime": "2023-06-01T00:54:41Z",
        "expirationDateTime": "2023-06-02T00:54:41Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 5,
          "total": 5
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.1/analyze/jobs/ae559fc4-ee22-4ccd-9d48-5674139f241e",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "jobId": "ae559fc4-ee22-4ccd-9d48-5674139f241e",
        "lastUpdateDateTime": "2023-06-01T00:54:45Z",
        "createdDateTime": "2023-06-01T00:54:41Z",
        "expirationDateTime": "2023-06-02T00:54:41Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 5,
          "failed": 0,
          "inProgress": 0,
          "total": 5,
          "entityRecognitionTasks": [
            {
              "lastUpdateDateTime": "2023-06-01T00:54:45.7945389Z",
              "taskName": "0",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "56",
                    "entities": [],
                    "warnings": []
                  },
                  {
                    "id": "0",
                    "entities": [],
                    "warnings": []
                  },
                  {
                    "id": "19",
                    "entities": [],
                    "warnings": []
                  },
                  {
                    "id": "1",
                    "entities": [],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-06-01"
              }
            }
          ],
          "entityLinkingTasks": [
            {
              "lastUpdateDateTime": "2023-06-01T00:54:44.7327519Z",
              "taskName": "3",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "56",
                    "entities": [],
                    "warnings": []
                  },
                  {
                    "id": "0",
                    "entities": [],
                    "warnings": []
                  },
                  {
                    "id": "19",
                    "entities": [],
                    "warnings": []
                  },
                  {
                    "id": "1",
                    "entities": [],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-06-01"
              }
            }
          ],
          "entityRecognitionPiiTasks": [
            {
              "lastUpdateDateTime": "2023-06-01T00:54:45.8824987Z",
              "taskName": "2",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "redactedText": ":)",
                    "id": "56",
                    "entities": [],
                    "warnings": []
                  },
                  {
                    "redactedText": ":(",
                    "id": "0",
                    "entities": [],
                    "warnings": []
                  },
                  {
                    "redactedText": ":P",
                    "id": "19",
                    "entities": [],
                    "warnings": []
                  },
                  {
                    "redactedText": ":D",
                    "id": "1",
                    "entities": [],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-01-15"
              }
            }
          ],
          "keyPhraseExtractionTasks": [
            {
              "lastUpdateDateTime": "2023-06-01T00:54:44.3828594Z",
              "taskName": "1",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "56",
                    "keyPhrases": [],
                    "warnings": []
                  },
                  {
                    "id": "0",
                    "keyPhrases": [],
                    "warnings": []
                  },
                  {
                    "id": "19",
                    "keyPhrases": [],
                    "warnings": []
                  },
                  {
                    "id": "1",
                    "keyPhrases": [],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2022-10-01"
              }
            }
          ],
          "sentimentAnalysisTasks": [
            {
              "lastUpdateDateTime": "2023-06-01T00:54:43.2548485Z",
              "taskName": "4",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "56",
                    "sentiment": "positive",
                    "confidenceScores": {
                      "positive": 0.89,
                      "neutral": 0.1,
                      "negative": 0.01
                    },
                    "sentences": [
                      {
                        "sentiment": "positive",
                        "confidenceScores": {
                          "positive": 0.89,
                          "neutral": 0.1,
                          "negative": 0.01
                        },
                        "offset": 0,
                        "length": 2,
                        "text": ":)"
                      }
                    ],
                    "warnings": []
                  },
                  {
                    "id": "0",
                    "sentiment": "negative",
                    "confidenceScores": {
                      "positive": 0.09,
                      "neutral": 0.25,
                      "negative": 0.65
                    },
                    "sentences": [
                      {
  [...]
