{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "I will go to the park.",
              "language": "en"
            },
            {
              "id": "2",
              "text": "I did not like the hotel we stayed at.",
              "language": "en"
            },
            {
              "id": "3",
              "text": "The restaurant had really good food.",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "0",
            "kind": "Healthcare",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/7cbad6e4-eac2-4de8-bb6e-7489d57fa901?api-version=2023-04-01",
        "x-ms-region": "UK South"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/7cbad6e4-eac2-4de8-bb6e-7489d57fa901?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "jobId": "7cbad6e4-eac2-4de8-bb6e-7489d57fa901",
        "lastUpdatedDateTime": "2023-06-01T00:58:34Z",
        "createdDateTime": "2023-06-01T00:58:33Z",
        "expirationDateTime": "2023-06-02T00:58:33Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/7cbad6e4-eac2-4de8-bb6e-7489d57fa901?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "jobId": "7cbad6e4-eac2-4de8-bb6e-7489d57fa901",
        "lastUpdatedDateTime": "2023-06-01T00:58:35Z",
        "createdDateTime": "2023-06-01T00:58:33Z",
        "expirationDateTime": "2023-06-02T00:58:33Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "HealthcareLROResults",
              "taskName": "0",
              "lastUpdateDateTime": "2023-06-01T00:58:35.732415Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "1",
                    "entities": [],
                    "relations": [],
                    "warnings": []
                  },
                  {
                    "id": "2",
                    "entities": [],
                    "relations": [],
                    "warnings": []
                  },
                  {
                    "id": "3",
                    "entities": [],
                    "relations": [],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2023-04-01"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
