{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-477ce782-f376-58b9-41ec-c2deffe89996?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 19:35:51 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE899935CC016\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:35:47 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-477ce782-f376-58b9-41ec-c2deffe89996/test-blob-c34d089e-bef4-6177-6301-f265a2017a68?comp=block&blockid=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 09 Oct 2024 19:35:52 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "WI19elosw+oTid3K5s6S7JgBGdWK0UCjDSwJ0V5WZ5kS0Vxa6/30cURjsGvgrXqVbgbNoeel3oZN2mwuI/KMvSJEuBVyNwCaDaiQJyDVwmCxc2JYiMWybPPVDRGQxU5S1/NIm/RlIzYFMpQ/FbdmdxcMfa+QNDRckUshnCrvCkdZPk8tjCZrS1ArUlYxc1c8b5X6hEefwaO+7AqpQ4cMFihM5ddnOOvwoDJeZOHeKx3z5SyU9IX/uXysbqAcwgfJHzwt5I2A1DaqCeMVQFzB4MHstV5adyGiTCtauspK094qlUWlsEaPcxH16euh6ngf643fMAypb6caiphiJRlsXzUF66sWG[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-477ce782-f376-58b9-41ec-c2deffe89996/test-blob-c34d089e-bef4-6177-6301-f265a2017a68?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 09 Oct 2024 19:35:52 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "\uFEFF<BlockList><Latest>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</Latest></BlockList>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE89993824396\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:35:48 GMT",
        "x-ms-content-crc64": "2lljW2IaEzY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-477ce782-f376-58b9-41ec-c2deffe89996/test-blob-c34d089e-bef4-6177-6301-f265a2017a68",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 19:35:52 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCE89993824396\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:35:48 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 09 Oct 2024 19:35:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-477ce782-f376-58b9-41ec-c2deffe89996?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 19:35:52 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "339864321",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
