{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-bbc0411f-f072-89cc-3d4d-15b54c777015?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE8999DBEA86D\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:36:05 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-bbc0411f-f072-89cc-3d4d-15b54c777015/test-blob-f1b64cbf-a7dd-c631-8a95-6d92b4eeeb19",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "m74eUG3jdCk5cFQehSOJn4ZTqVJtZD0t6xzPIysW2/WAcfb20JuslU67p889QhT+MdyUl+rCjjeA8WRRE1H+I5VenhMsks/rphQEsbxt76gH0fJOgkQLvuO/dd82W4L9vYM636QB0p4NqfDWvtx6EwG8SUJer6FRU+AwbBzwtEuRBvQ5MhAEBf5TQdhTNAAGRWLdehFAng3i6YzE0WWBHPSlRLfnQeDxt0RDC27I/R7fKSe6Ejk5UWfnVkmDPzSY0iTkre9IHwOC7MLN/JOfGutt5Kc+xwm6a/NQAOqWbXgPqjhJ408vlwojNyZ3bFXTRzxdFlqMWgobKUL8+B4Y635KvVFbVjacPU2dGo/jQ/+dfLmuOVcdgk8uLroNM5/sC0uoLa4DePEFwdgN70B6N+ZCXntlabInLD[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-bbc0411f-f072-89cc-3d4d-15b54c777015/test-blob-e0e4c378-9240-9a61-22ba-7c1aeb9415fb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-bbc0411f-f072-89cc-3d4d-15b54c777015/test-blob-f1b64cbf-a7dd-c631-8a95-6d92b4eeeb19",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE8999EB503FC\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:36:07 GMT",
        "x-ms-content-crc64": "LaS6N5ZW4Tg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-10-09T19:36:07.0071292Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-bbc0411f-f072-89cc-3d4d-15b54c777015/test-blob-e0e4c378-9240-9a61-22ba-7c1aeb9415fb",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "3xOxhtsMiWdrSRy77pD+7Q==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCE8999EB503FC\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:36:07 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 09 Oct 2024 19:36:07 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-10-09T19:36:07.0071292Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-bbc0411f-f072-89cc-3d4d-15b54c777015?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1174492853",
    "Storage_TestConfigOAuth": "OAuthTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\n\nXClient\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
