{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-08b1a54c-af1e-8686-3a2a-dd1b860ffbed?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 19:36:06 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE8999BFAAC56\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:36:02 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-08b1a54c-af1e-8686-3a2a-dd1b860ffbed/test-blob-e309eb87-5270-b048-1e07-eb1fe803f1a8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 09 Oct 2024 19:36:06 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "VBn7qoiGYGTOzKApBPpP5B5Yd+JGOxtKLsTBZOMzF89MesvPCEcgOasBn8Wckj8ovIr3QNfYKhn9sXvDxfuBm7XQ3Youf9zXOD43RZtVrpyEmKhYO9b4c0+y0VbLXHSvgAMQy7W1+jytIAeYoOV9qALfPixTKGDf2Gk6fK6FC9zKiMWYReLnz55sqhvOX9NqNClU7B1HXFejMPJLe32OKBQrzhcg5WIg92+N5n5EEXmV0EeEMR+/gixu9BTvm1Qg3oIGopC7SU/HM/StuXXYXh95tao2Cfb1bEzrsvBNMFwbbQj8Pm7o2ob3vf0qEci3lZX1duap6tSLETZE0JdeeQOYkkxs2yCxkNskPkz4ylqD[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-08b1a54c-af1e-8686-3a2a-dd1b860ffbed/test-blob-6e650bc0-3c92-44bc-220b-6f15994ebb71",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-08b1a54c-af1e-8686-3a2a-dd1b860ffbed/test-blob-e309eb87-5270-b048-1e07-eb1fe803f1a8?sv=sanitized-value&se=2024-10-09T20%3A36%3A06Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 19:36:06 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE8999C103305\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:36:02 GMT",
        "x-ms-content-crc64": "En02MbguPrs=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-08b1a54c-af1e-8686-3a2a-dd1b860ffbed/test-blob-6e650bc0-3c92-44bc-220b-6f15994ebb71",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 19:36:06 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "C0w1G4xd0n/ZnHtyHKV1/w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCE8999C103305\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:36:02 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 09 Oct 2024 19:36:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-08b1a54c-af1e-8686-3a2a-dd1b860ffbed?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 19:36:06 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-10-09T15:36:06.5398066-04:00",
    "RandomSeed": "284168953",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
