{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-46e9f56a-8dd9-09ff-5ecc-589f513c4a0b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:38:58 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00616175BA71\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:38:58 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-46e9f56a-8dd9-09ff-5ecc-589f513c4a0b/test-blob-52ba5a5d-89c0-ce1a-091e-2fc4593d06f1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:38:58 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "3NRjqLJFMse8O8HNPSjp0HKgSfZZvSzeOmYqE5LXxJyvv+eE2V4+7zOGvfe9Uxb/xCbRaCN4Fh+ohW5LGx415XYkHn1BZfYTYlrC0gA1IOdQK09rBlt5NqnI3FTw8tQUUdiAmTWYvl8wvQbJtkMfcmSH+/DPyd8aq+fUeIiiIm+GrYAntIexuGzwO0hVr39mqWnwaffjRIf4Ze1NxEXWjZqWQgjD977c1UOD346Wxftnbs8fsrl4omn4L06aZPMnGa2tvm13orGrE5SzYGX5YaDx5VZ2t9vhHqCfyshvQXBPW8Xg6QaO8Msdc54kxEED/82uqH+dsWLSzJ/M2NjpO9IkZASfGHiZY/SLWEM8vFpe[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-46e9f56a-8dd9-09ff-5ecc-589f513c4a0b/test-blob-7a4e6534-7f33-5420-27ad-f743096d6f6f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-46e9f56a-8dd9-09ff-5ecc-589f513c4a0b/test-blob-52ba5a5d-89c0-ce1a-091e-2fc4593d06f1?sv=sanitized-value&se=2025-09-30T21%3A38%3A58Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:38:58 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00616190F970\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:38:58 GMT",
        "x-ms-content-crc64": "UFEhFKSJ244=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-46e9f56a-8dd9-09ff-5ecc-589f513c4a0b/test-blob-7a4e6534-7f33-5420-27ad-f743096d6f6f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:38:58 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "xIhXMUrMc+m6g6/mYnXhjA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE00616190F970\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:38:58 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:38:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-46e9f56a-8dd9-09ff-5ecc-589f513c4a0b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:38:58 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:38:58.2222586-07:00",
    "RandomSeed": "14851333",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
