{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d013fb87-38c4-e9f9-d99d-164e7695e516?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE899ADCEC545\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:36:32 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d013fb87-38c4-e9f9-d99d-164e7695e516/test-blob-f75ddbc5-b9dd-4f25-3190-b2ab5333bb01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "n+7/UnthPRMRSUh7emGrT3RHg/4uOvlZ0ZaXOJrQYC8HRAxkM2mG5L5tLbMjjkz9+c/fp36JP2T1pYHkyQR5QOgYczVVRhwLwZ5AwQxFNkJJmj7L8bmxfgWnb43ooRu59OzKChsXp7Oz0+XfSH1Xr28+my7GrU8uZ/UwrdaOIx+Dh80geysnMvKLFx3U0TWHUMAeqgbs8kadnKMl5vrcJbDFW8GwNzREFmk7O5YxWpXAqF0WcHkZlpSGgt6HAkv4rvJtDnVz1xiM2ZOcsbevbEEOZT6dxrQ3q8UsKbRVvBQdQ4ykxEwfTNBEiZblfOXd1haceZ0NW+c9NWKwR65jNh1/f24qC6f17hhtWDweUi7gT1KeuEJ3EOelZo7pbgUi4VN4Zf12sstupouEnwKrH+Mz0PhcxX7bCG[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d013fb87-38c4-e9f9-d99d-164e7695e516/test-blob-3f81fb45-6bfc-c70a-5fa5-1f54ee01886d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-d013fb87-38c4-e9f9-d99d-164e7695e516/test-blob-f75ddbc5-b9dd-4f25-3190-b2ab5333bb01",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE899AE9C3DF2\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:36:33 GMT",
        "x-ms-content-crc64": "O305To1vtQM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-10-09T19:36:33.6883186Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d013fb87-38c4-e9f9-d99d-164e7695e516/test-blob-3f81fb45-6bfc-c70a-5fa5-1f54ee01886d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "5+0qn0XEpbZxIyeIUyjV7Q==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCE899AE9C3DF2\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:36:33 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 09 Oct 2024 19:36:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-10-09T19:36:33.6883186Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d013fb87-38c4-e9f9-d99d-164e7695e516?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1250908738",
    "Storage_TestConfigOAuth": "OAuthTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\n\nXClient\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
