{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e68a5621-670c-6487-c837-657442434f95?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE899B2DD0DA4\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:36:40 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e68a5621-670c-6487-c837-657442434f95/test-blob-73eabdb4-375c-b184-ad1a-8676c1b504c2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "Xn1ZSfeI1FIShGJyClUk/McJHaIcZYvjdJsZpi8KV85do/TOCYSkLOmYYdjVEaZY9YquuJhipvjxdtVcbi0iCCyTFWdgVfJDZPG4hASzDWP0wbGlW582+v373ZOvR728dVmsQfw/95+Ya1OnqSH0PWhyaK18fayNXRpqZXhelB0z/A+rB8tmtckRDPBLjlDbB58qPd8PQPesHuTh1JInOdc2c6wSSTadC7LkanC7Qc7Jjl3YNFY9JLwX/ujnheA36dMZFBukyL5ojTItK9WG8dwVF0Y0TwWA+U7w+0pOtYXSrIGdoi2zJcWfb6YkEPnnkA0L0m6aApnNmRvMs81zGtisWn5U6U+vYfGAleBeW+lVCWo9Q+MWOKrnzwgR53H4K1XOd7V7k6e+W3B8GW25bz0ydqpjNtf0lS[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e68a5621-670c-6487-c837-657442434f95?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "146188865",
    "Storage_TestConfigOAuth": "OAuthTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\n\nXClient\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
