{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-27e2dc60-1c0c-b3b2-8e3c-842d4067dd94?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 19:36:46 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE899B3B90A81\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:36:42 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-27e2dc60-1c0c-b3b2-8e3c-842d4067dd94/test-blob-300c7e37-bdd5-1944-e92e-64bdcb137c43",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 09 Oct 2024 19:36:46 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "kmEi640EUmk8lWIArR/9XShXZrc+eU1MEMDwE1eVE7TcVkBVQTtrMyyj9EBbQ2zKMQaVc6zFBRkU1trMEz4RpoKuJFbepxzt7DOLmoQM8c1UJuFRAJ8HF1EnQWthnh/ukk2+rR8W64rqp4d5OmqUB+UMeO1cwKbipgwEtmaxi04TnAc2TkOuPjpXZlgXjd3mkjqFVCUykdKn2wYSETUkORw4Zp1iXbihXjqzBVlOyhgvHSQsKzco4Qs1j3M9my0EMy083yc/hDSB5PXrfot4WBDu4vMR+A3kEIWRLc1FZMMMrtEsEuvw75nvqkdBPGJ/vDdiT7g68zsfV86irlZnO38y3tC6TEYk/fJZIk3Fo9Mi[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-27e2dc60-1c0c-b3b2-8e3c-842d4067dd94/test-blob-300c7e37-bdd5-1944-e92e-64bdcb137c43",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 19:36:46 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "JAFIx4zMk4DMM+jiha9IXw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCE899B3C21564\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:36:42 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 09 Oct 2024 19:36:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-27e2dc60-1c0c-b3b2-8e3c-842d4067dd94?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 19:36:46 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1047918973",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
