{
  "Entries": [
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-433f430d-6ea1-2ba2-afd9-6c7191e15662?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 May 2026 21:26:48 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB77FAAD71540\"",
        "Last-Modified": "Thu, 21 May 2026 21:26:48 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-433f430d-6ea1-2ba2-afd9-6c7191e15662/test-blob-0f7898b4-6c3c-8b83-357d-60cc43df1d0c?comp=block&blockid=NU8qwbwP1yh3DjPx%2Fu1plUNfzi6t9gKUGn44M9aOZdfoya4Omr3JiwjlIsnsorJo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 May 2026 21:26:48 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "Tc2YAt/jGY/DsatILp4J8Tl7DnYqfWJsC3Y8y5XmcfHCRyHqWJnP0X7pTIvAOlyWc26Tx9Gn4dBqLPZopk753D+5hud9HpmfrDz3QTDXq9AaplcnU6kfGmZRgCuiZyov8G9LBrN1GVTV9BuUr5+fkoAmTgD30oiWmmyBLJ5t/EUSx1HAjKUcpYwCUV6OimrGse2qfBgpOB3mtWxH9O22Z/jWgudO3gbbCal09YApBw8Bunqwwn8s6Y8z2dc51bGfS+pmtwiCd9Pnz3JvtUOcvK1cRTlyBaV4qphYGgQuojT31KmWw1AGf0KnyfMMvDRMlx0q3I93LEZE7g1wKl3OuCw+d+CZB[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-433f430d-6ea1-2ba2-afd9-6c7191e15662/test-blob-0f7898b4-6c3c-8b83-357d-60cc43df1d0c?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-None-Match": "*",
        "x-ms-date": "Thu, 21 May 2026 21:26:48 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "\uFEFF<BlockList><Latest>NU8qwbwP1yh3DjPx/u1plUNfzi6t9gKUGn44M9aOZdfoya4Omr3JiwjlIsnsorJo</Latest></BlockList>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB77FAAE5FEE4\"",
        "Last-Modified": "Thu, 21 May 2026 21:26:48 GMT",
        "x-ms-content-crc64": "JzBp4nyh1Q0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-21T21:26:48.9118436Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-433f430d-6ea1-2ba2-afd9-6c7191e15662/test-blob-0f7898b4-6c3c-8b83-357d-60cc43df1d0c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 May 2026 21:26:48 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEB77FAAE5FEE4\"",
        "Last-Modified": "Thu, 21 May 2026 21:26:48 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 21 May 2026 21:26:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-21T21:26:48.9118436Z"
      },
      "ResponseBody": "Tc2YAt/jGY/DsatILp4J8Tl7DnYqfWJsC3Y8y5XmcfHCRyHqWJnP0X7pTIvAOlyWc26Tx9Gn4dBqLPZopk753D+5hud9HpmfrDz3QTDXq9AaplcnU6kfGmZRgCuiZyov8G9LBrN1GVTV9BuUr5+fkoAmTgD30oiWmmyBLJ5t/EUSx1HAjKUcpYwCUV6OimrGse2qfBgpOB3mtWxH9O22Z/jWgudO3gbbCal09YApBw8Bunqwwn8s6Y8z2dc51bGfS+pmtwiCd9Pnz3JvtUOcvK1cRTlyBaV4qphYGgQuojT31KmWw1AGf0KnyfMMvDRMlx0q3I93LEZE7g1wKl3OuCw+d+CZBvlcVcb2yzyya+1[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-433f430d-6ea1-2ba2-afd9-6c7191e15662?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 May 2026 21:26:48 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1987635696",
    "Storage_TestConfigDefault": "ProductionTenant\namandasa3\nU2FuaXRpemVk\nhttps://amandasa3.blob.core.windows.net\nhttps://amandasa3.file.core.windows.net\nhttps://amandasa3.queue.core.windows.net\nhttps://amandasa3.table.core.windows.net\n\n\n\n\nhttps://amandasa3-secondary.blob.core.windows.net\nhttps://amandasa3-secondary.file.core.windows.net\nhttps://amandasa3-secondary.queue.core.windows.net\nhttps://amandasa3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandasa3.blob.core.windows.net/;QueueEndpoint=https://amandasa3.queue.core.windows.net/;FileEndpoint=https://amandasa3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandasa3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandasa3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandasa3-secondary.file.core.windows.net/;AccountName=amandasa3;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
