{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzers/prebuilt-audioSearch:analyze?api-version=2025-11-01&stringEncoding=codePoint",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "url": "https://raw.githubusercontent.com/Azure-Samples/azure-ai-content-understanding-assets/main/audio/callCenterRecording.mp3"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview,2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "Operation-Location": "https://Sanitized.services.ai.azure.com.services.ai.azure.com/contentunderstanding/analyzerResults/b35b2f83-5fc2-40e3-9bbf-a6da4ae9cc9a?api-version=2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "result": {
          "analyzerId": "prebuilt-audioSearch",
          "apiVersion": "2025-11-01",
          "createdAt": "2026-01-13T15:59:55Z",
          "warnings": [],
          "contents": []
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/b35b2f83-5fc2-40e3-9bbf-a6da4ae9cc9a?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview,2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "result": {
          "analyzerId": "prebuilt-audioSearch",
          "apiVersion": "2025-11-01",
          "createdAt": "2026-01-13T15:59:55Z",
          "warnings": [],
          "contents": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/b35b2f83-5fc2-40e3-9bbf-a6da4ae9cc9a?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview,2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Succeeded",
        "result": {
          "analyzerId": "prebuilt-audioSearch",
          "apiVersion": "2025-11-01",
          "createdAt": "2026-01-13T15:59:55Z",
          "warnings": [],
          "contents": [
            {
              "path": "input1",
              "markdown": "# Audio: 00:00.000 => 00:32.183\n\nTranscript\n```\nWEBVTT\n\n00:00.040 --> 00:00.600\n<v Speaker 1>Good day.\n\n00:00.880 --> 00:02.240\n<v Speaker 1>Welcome to Contoso.\n\n00:02.560 --> 00:03.760\n<v Speaker 1>My name is John Doe.\n\n00:03.920 --> 00:05.120\n<v Speaker 1>How can I help you today?\n\n00:05.440 --> 00:06.320\n<v Speaker 2>Yes, good day.\n\n00:06.640 --> 00:08.120\n<v Speaker 2>My name is Maria Smith.\n\n00:08.520 --> 00:11.320\n<v Speaker 2>I would like to inquire about my current point balance.\n\n00:11.680 --> 00:13.880\n<v Speaker 1>No problem, I am happy to help.\n\n00:14.240 --> 00:16.760\n<v Speaker 1>I need your date of birth to confirm your identity.\n\n00:17.080 --> 00:19.600\n<v Speaker 2>It is April 19th, 1988.\n\n00:19.960 --> 00:20.480\n<v Speaker 1>Great.\n\n00:20.800 --> 00:24.160\n<v Speaker 1>Your current point balance is 599 points.\n\n00:24.560 --> 00:26.160\n<v Speaker 1>Do you need any more information?\n\n00:26.440 --> 00:27.200\n<v Speaker 2>No, thank you.\n\n00:27.560 --> 00:28.360\n<v Speaker 2>That was all.\n\n00:28.680 --> 00:29.320\n<v Speaker 2>Goodbye.\n\n00:29.720 --> 00:30.360\n<v Speaker 1>You're welcome.\n\n00:30.680 --> 00:31.920\n<v Speaker 1>Goodbye it Contoso.\n```",
              "fields": {
                "Summary": {
                  "type": "string",
                  "valueString": "The conversation is between a customer, Maria Smith, and a representative, John Doe, at Contoso. Maria inquires about her current point balance. John asks for her date of birth to confirm her identity, which she provides as April 19th, 1988. John then informs her that her current point balance is 599 points. Maria declines any further information and ends the conversation politely."
                }
              },
              "kind": "audioVisual",
              "startTimeMs": 0,
              "endTimeMs": 32183,
              "transcriptPhrases": [
                {
                  "speaker": "Speaker 1",
                  "startTimeMs": 40,
                  "endTimeMs": 600,
                  "text": "Good day.",
                  "confidence": 0.942,
                  "words": [
                    {
                      "startTimeMs": 40,
                      "endTimeMs": 200,
                      "text": "good"
                    },
                    {
                      "startTimeMs": 200,
                      "endTimeMs": 600,
                      "text": "day"
                    }
                  ],
                  "locale": "en-US"
                },
                {
                  "speaker": "Speaker 1",
                  "startTimeMs": 880,
                  "endTimeMs": 2240,
                  "text": "Welcome to Contoso.",
                  "confidence": 0.873,
                  "words": [
                    {
                      "startTimeMs": 880,
                      "endTimeMs": 1360,
                      "text": "welcome"
                    },
                    {
                      "startTi[...]
[...]
