{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/defaults?api-version=2025-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "modelDeployments": {
          "gpt-4.1": "gpt-4.1",
          "gpt-4.1-mini": "gpt-4.1-mini",
          "text-embedding-3-large": "text-embedding-3-large"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "modelDeployments": {
          "gpt-4.1-mini": "gpt-4.1-mini",
          "text-embedding-3-large": "text-embedding-3-large",
          "gpt-4.1": "gpt-4.1"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/defaults?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "modelDeployments": {
          "gpt-4.1-mini": "gpt-4.1-mini",
          "text-embedding-3-large": "text-embedding-3-large",
          "gpt-4.1": "gpt-4.1"
        }
      }
    }
  ],
  "Variables": {
    "gpt_4_1_deployment": "gpt-4.1",
    "gpt_4_1_mini_deployment": "gpt-4.1-mini",
    "text_embedding_3_large_deployment": "text-embedding-3-large"
  }
}
