{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_custom_analyzer_d5f3033674104e17?api-version=2025-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "baseAnalyzerId": "prebuilt-document",
        "description": "Custom analyzer for extracting company information",
        "config": {
          "enableFormula": true,
          "enableLayout": true,
          "enableOcr": true,
          "estimateFieldSourceAndConfidence": true,
          "returnDetails": true
        },
        "fieldSchema": {
          "name": "Sanitized",
          "description": "Schema for extracting company information",
          "fields": {
            "company_name": {
              "type": "string",
              "method": "extract",
              "description": "Name of the company",
              "estimateSourceAndConfidence": true
            },
            "total_amount": {
              "type": "number",
              "method": "extract",
              "description": "Total amount on the document",
              "estimateSourceAndConfidence": true
            },
            "document_summary": {
              "type": "string",
              "method": "generate",
              "description": "A brief summary of the document content"
            },
            "document_type": {
              "type": "string",
              "method": "classify",
              "description": "Type of document",
              "enum": [
                "invoice",
                "receipt",
                "contract",
                "report",
                "other"
              ]
            }
          }
        },
        "models": {
          "completion": "gpt-4.1",
          "embedding": "text-embedding-3-large"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "Operation-Location": "https://Sanitized.services.ai.azure.com.services.ai.azure.com/contentunderstanding/analyzers/test_custom_analyzer_d5f3033674104e17/operations/ea346cd5-2936-478a-9973-43fa35e272d1?api-version=2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "analyzerId": "test_custom_analyzer_d5f3033674104e17",
        "description": "Custom analyzer for extracting company information",
        "createdAt": "2026-01-13T17:34:20Z",
        "lastModifiedAt": "2026-01-13T17:34:20Z",
        "baseAnalyzerId": "prebuilt-document",
        "config": {
          "returnDetails": true,
          "enableOcr": true,
          "enableLayout": true,
          "enableFormula": true,
          "enableFigureDescription": false,
          "enableFigureAnalysis": false,
          "chartFormat": "chartjs",
          "tableFormat": "html",
          "estimateFieldSourceAndConfidence": true,
          "enableSegment": false,
          "omitContent": false,
          "segmentPerPage": false,
          "annotationFormat": "markdown"
        },
        "fieldSchema": {
          "name": "Sanitized",
          "description": "Schema for extracting company information",
          "fields": {
            "company_name": {
              "type": "string",
              "method": "extract",
              "description": "Name of the company",
              "estimateSourceAndConfidence": true
            },
            "total_amount": {
              "type": "number",
              "method": "extract",
              "description": "Total amount on the document",
              "estimateSourceAndConfidence": true
            },
            "document_summary": {
              "type": "string",
              "method": "generate",
              "description": "A brief summary of the document content"
            },
            "document_type": {
              "type": "string",
              "method": "classify",
              "description": "Type of document",
              "enum": [
                "invoice",
                "receipt",
                "contract",
                "report",
                "other"
              ]
            }
          }
        },
        "warnings": [],
        "status": "creating",
        "processingLocation": "geography",
        "supportedModels": {
          "completion": [
            "gpt-4o",
            "gpt-4o-mini",
            "gpt-4.1",
            "gpt-4.1-mini",
            "gpt-4.1-nano"
          ],
          "embedding": [
            "text-embedding-3-small",
            "text-embedding-3-large",
            "text-embedding-ada-002"
          ]
        },
        "models": {
          "completion": "gpt-4.1",
          "embedding": "text-embedding-3-large"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_custom_analyzer_d5f3033674104e17/operations/ea346cd5-2936-478a-9973-43fa35e272d1?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "result": {
          "analyzerId": "test_custom_analyzer_d5f3033674104e17",
          "description": "Custom analyzer for extracting company information",
          "createdAt": "2026-01-13T17:34:20Z",
          "lastModifiedAt": "2026-01-13T17:34:20Z",
          "baseAnalyzerId": "prebuilt-document",
          "config": {
            "returnDetails": true,
            "enableOcr": true,
            "enableLayout": true,
            "enableFormula": true,
            "enableFigureDescription": false,
  [...]
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_custom_analyzer_d5f3033674104e17?api-version=2025-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
