{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzers/prebuilt-imageSearch:analyze?api-version=2025-11-01&stringEncoding=codePoint",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "url": "https://raw.githubusercontent.com/Azure-Samples/azure-ai-content-understanding-assets/main/image/pieChart.jpg"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview,2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "Operation-Location": "https://Sanitized.services.ai.azure.com.services.ai.azure.com/contentunderstanding/analyzerResults/0522f1ef-8812-44ab-ba7c-73c6b654bccb?api-version=2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "result": {
          "analyzerId": "prebuilt-imageSearch",
          "apiVersion": "2025-11-01",
          "createdAt": "2026-01-13T17:29:07Z",
          "warnings": [],
          "contents": []
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/0522f1ef-8812-44ab-ba7c-73c6b654bccb?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview,2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "result": {
          "analyzerId": "prebuilt-imageSearch",
          "apiVersion": "2025-11-01",
          "createdAt": "2026-01-13T17:29:07Z",
          "warnings": [],
          "contents": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/0522f1ef-8812-44ab-ba7c-73c6b654bccb?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview,2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Succeeded",
        "result": {
          "analyzerId": "prebuilt-imageSearch",
          "apiVersion": "2025-11-01",
          "createdAt": "2026-01-13T17:29:07Z",
          "warnings": [],
          "contents": [
            {
              "path": "input1",
              "markdown": "![image](pages/1)\n",
              "fields": {
                "Summary": {
                  "type": "string",
                  "valueString": "The image is a 3D pie chart divided into four segments representing different ranges of hours. The segments and their corresponding percentages are: 1-39 hours at 6.7% (orange), 40-50 hours at 18.9% (red), 50-60 hours at 36.6% (teal), and 60+ hours at 37.8% (purple). The chart visually emphasizes the larger proportions of 50-60 hours and 60+ hours."
                }
              },
              "kind": "document",
              "startPageNumber": 1,
              "endPageNumber": 1,
              "unit": "pixel",
              "pages": [
                {
                  "pageNumber": 1,
                  "spans": []
                }
              ],
              "analyzerId": "prebuilt-imageSearch",
              "mimeType": "image/jpeg"
            }
          ]
        },
        "usage": {
          "contextualizationTokens": 1000,
          "tokens": {
            "gpt-4.1-mini-input": 279,
            "gpt-4.1-mini-output": 108
          }
        }
      }
    },
[...]
