{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzers/prebuilt-imageSearch:analyze?api-version=2025-11-01&stringEncoding=codePoint",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "url": "https://raw.githubusercontent.com/Azure-Samples/azure-ai-content-understanding-assets/main/image/pieChart.jpg"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview,2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "Operation-Location": "https://fake_contentunderstanding_endpoint.services.ai.azure.com/contentunderstanding/analyzerResults/7a8f6375-6acd-494c-8d75-2cbf2daefa83?api-version=2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "result": {
          "analyzerId": "prebuilt-imageSearch",
          "apiVersion": "2025-11-01",
          "createdAt": "2026-01-13T13:15:33Z",
          "warnings": [],
          "contents": []
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/7a8f6375-6acd-494c-8d75-2cbf2daefa83?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview,2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "result": {
          "analyzerId": "prebuilt-imageSearch",
          "apiVersion": "2025-11-01",
          "createdAt": "2026-01-13T13:15:33Z",
          "warnings": [],
          "contents": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/7a8f6375-6acd-494c-8d75-2cbf2daefa83?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview,2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Succeeded",
        "result": {
          "analyzerId": "prebuilt-imageSearch",
          "apiVersion": "2025-11-01",
          "createdAt": "2026-01-13T13:15:33Z",
          "warnings": [],
          "contents": [
            {
              "path": "input1",
              "markdown": "![image](pages/1)\n",
              "fields": {
                "Summary": {
                  "type": "string",
                  "valueString": "The image is a 3D pie chart divided into four segments representing different hour ranges and their corresponding percentages. The segments are: 1-39 hours (6.7%), 40-50 hours (18.9%), 50-60 hours (36.6%), and 60+ hours (37.8%). The largest segment is 60+ hours, followed closely by 50-60 hours, then 40-50 hours, and the smallest segment is 1-39 hours."
                }
              },
              "kind": "document",
              "startPageNumber": 1,
              "endPageNumber": 1,
              "unit": "pixel",
              "pages": [
                {
                  "pageNumber": 1,
                  "spans": []
                }
              ],
              "analyzerId": "prebuilt-imageSearch",
              "mimeType": "image/jpeg"
            }
          ]
        },
        "usage": {
          "contextualizationTokens": 1000,
          "tokens": {
            "gpt-4.1-mini-input": 279,
            "gpt-4.1-mini-output": 107
          }
        }
      }
    },
[...]
