{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_source_0000000000000000?api-version=2025-11-01&allowReplace=true",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "baseAnalyzerId": "prebuilt-document",
        "description": "Source analyzer for cross-resource copying",
        "config": {
          "enableFormula": false,
          "enableLayout": true,
          "enableOcr": true,
          "estimateFieldSourceAndConfidence": true,
          "returnDetails": true
        },
        "fieldSchema": {
          "name": "Sanitized",
          "description": "Schema for extracting company information",
          "fields": {
            "company_name": {
              "type": "string",
              "method": "extract",
              "description": "Name of the company"
            },
            "total_amount": {
              "type": "number",
              "method": "extract",
              "description": "Total amount on the document"
            }
          }
        },
        "models": {
          "completion": "gpt-4.1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "Operation-Location": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_source_187e17f1aa2e4087/operations/056cf717-b02b-452c-b58f-486c7684198d?api-version=2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "analyzerId": "test_analyzer_source_187e17f1aa2e4087",
        "description": "Source analyzer for cross-resource copying",
        "createdAt": "2026-01-14T20:38:02Z",
        "lastModifiedAt": "2026-01-14T20:38:02Z",
        "baseAnalyzerId": "prebuilt-document",
        "config": {
          "returnDetails": true,
          "enableOcr": true,
          "enableLayout": true,
          "enableFormula": false,
          "enableFigureDescription": false,
          "enableFigureAnalysis": false,
          "chartFormat": "chartjs",
          "tableFormat": "html",
          "estimateFieldSourceAndConfidence": true,
          "enableSegment": false,
          "omitContent": false,
          "segmentPerPage": false,
          "annotationFormat": "markdown"
        },
        "fieldSchema": {
          "name": "Sanitized",
          "description": "Schema for extracting company information",
          "fields": {
            "company_name": {
              "type": "string",
              "method": "extract",
              "description": "Name of the company"
            },
            "total_amount": {
              "type": "number",
              "method": "extract",
              "description": "Total amount on the document"
            }
          }
        },
        "warnings": [],
        "status": "creating",
        "processingLocation": "geography",
        "supportedModels": {
          "completion": [
            "gpt-4o",
            "gpt-4o-mini",
            "gpt-4.1",
            "gpt-4.1-mini",
            "gpt-4.1-nano"
          ],
          "embedding": [
            "text-embedding-3-small",
            "text-embedding-3-large",
            "text-embedding-ada-002"
          ]
        },
        "models": {
          "completion": "gpt-4.1",
          "embedding": "text-embedding-3-large"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_source_0000000000000000/operations/056cf717-b02b-452c-b58f-486c7684198d?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "result": {
          "analyzerId": "test_analyzer_source_187e17f1aa2e4087",
          "description": "Source analyzer for cross-resource copying",
          "createdAt": "2026-01-14T20:38:02Z",
          "lastModifiedAt": "2026-01-14T20:38:02Z",
          "baseAnalyzerId": "prebuilt-document",
          "config": {
            "returnDetails": true,
            "enableOcr": true,
            "enableLayout": true,
            "enableFormula": false,
            "enableFigureDescription": false,
         [...]
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_source_0000000000000000?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "analyzerI[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_source_0000000000000000:grantCopyAuthorization?api-version=2025-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "targetAzureResourceId": "placeholder-target-resource-id",
        "targetRegion": "placeholder-target-region"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "targetAzureResourceId": "placeholder-target-resource-id",
        "targetRegion": "placeholder-target-region",
        "expiresAt": "2026-01-15T20:38:06.9875046+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com//contentunderstanding/analyzers/test_analyzer_target_0000000000000000:copy?api-version=2025-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sourceAnalyzerId": "test_analyzer_source_187e17f1aa2e4087",
        "sourceAzureResourceId": "placeholder-source-resource-id",
        "sourceRegion": "placeholder-source-region"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "operation-location": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_target_78e3b7ab2d124c98/operations/37395292-f813-4682-bce2-99984be6000c?api-version=2025-11-01",
        "x-ms-region": "Sweden Central"
      },
      "ResponseBody": {
        "analyzerId": "test_analyzer_target_78e3b7ab2d124c98",
        "description": "Source analyzer for cross-resource copying",
        "createdAt": "2026-01-14T20:38:07Z",
        "lastModifiedAt": "2026-01-14T20:38:07Z",
        "baseAna[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_target_0000000000000000/operations/37395292-f813-4682-bce2-99984be6000c?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "Sweden Centr[...]
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com//contentunderstanding/analyzers/test_analyzer_target_0000000000000000?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "Sweden Central"
      },
      "ResponseBody": {
        "a[...]
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com//contentunderstanding/analyzers/test_analyzer_target_0000000000000000?api-version=2025-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "x-ms-region": "Sweden Central"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "grantCopySourceAnalyzerId": "test_analyzer_source_187e17f1aa2e4087",
    "grantCopyTargetAnalyzerId": "test_analyzer_target_78e3b7ab2d124c98",
    "source_region": "placeholder-source-region",
    "source_resource_id": "placeholder-source-resource-id",
    "target_endpoint": "https://mmi-sample-foundry.services.ai.azure.com/",
    "target_region": "placeholder-target-region",
    "target_resource_id": "placeholder-target-resource-id"
  }
}
