{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/4a0479c0-b795-4d0f-96fd-c7edd2a2928f/resourcegroups/HybridNetworkUTRG6263?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11961"
      },
      "ResponseBody": {
        "id": "/subscriptions/4a0479c0-b795-4d0f-96fd-c7edd2a2928f/resourceGroups/HybridNetworkUTRG6263",
        "name": "HybridNetworkUTRG6263",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2euap",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4a0479c0-b795-4d0f-96fd-c7edd2a2928f/resourceGroups/HybridNetworkUTRG6263/providers/Microsoft.HybridNetwork/publishers/publisher9279?api-version=2023-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "scope": "Private"
        },
        "tags": {},
        "location": "eastus2euap"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.HybridNetwork/locations/EASTUS2EUAP/operationStatuses/96f43500-60fc-45e9-a3d1-28b8fd22ee68*2C9EA02C38FD7EE29F1423D5E5F047691B08611426B8E598C4C52927D2710C5B?api-version=2020-01-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200003675-0000-3400-0000-6531304f0000\u0022",
        "x-ms-build-version": "1.0.02483.2501",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1185"
      },
      "ResponseBody": {
        "id": "/subscriptions/4a0479c0-b795-4d0f-96fd-c7edd2a2928f/resourceGroups/HybridNetworkUTRG6263/providers/Microsoft.HybridNetwork/publishers/publisher9279",
        "name": "publisher9279",
        "type": "microsoft.hybridnetwork/publishers",
        "location": "eastus2euap",
        "tags": {},
        "systemData": {
          "createdBy": "80eea402-ff2f-49b2-b702-923559439b70",
          "createdByType": "Application",
          "createdAt": "2023-10-19T13:34:04.0740042Z",
          "lastModifiedBy": "80eea402-ff2f-49b2-b702-923559439b70",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-10-19T13:34:04.0740042Z"
        },
        "properties": {
          "scope": "Private",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.HybridNetwork/locations/EASTUS2EUAP/operationStatuses/96f43500-60fc-45e9-a3d1-28b8fd22ee68*2C9EA02C38FD7EE29F1423D5E5F047691B08611426B8E598C4C52927D2710C5B?api-version=2021-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c4014f6a-0000-3400-0000-6531304f0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11902"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.HybridNetwork/locations/EASTUS2EUAP/operationStatuses/96f43500-60fc-45e9-a3d1-28b8fd22ee68*2C9EA02C38FD7EE29F1423D5E5F047691B08611426B8E598C4C52927D2710C5B",
        "name": "96f43500-60fc-45e9-a3d1-28b8fd22ee68*2C9EA02C38FD7EE29F1423D5E5F047691B08611426B8E598C4C52927D2710C5B",
        "resourceId": "/subscriptions/4a0479c0-b795-4d0f-96fd-c7edd2a2928f/resourceGroups/HybridNetworkUTRG6263/providers/Microsoft.HybridNetwork/publishers/publisher9279",
        "status": "Accepted",
        "startTime": "2023-10-19T13:34:07.0891556Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4a0479c0-b795-4d0f-96fd-c7edd2a2928f/resourceGroups/HybridNetworkUTRG6263/providers/Microsoft.HybridNetwork/publishers/publisher9279?api-version=2023-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200003975-0000-3400-0000-6531305a0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11959"
      },
      "ResponseBody": {
        "id": "/subscriptions/4a0479c0-b795-4d0f-96fd-c7edd2a2928f/resourceGroups/HybridNetworkUTRG6263/providers/Microsoft.HybridNetwork/publishers/publisher9279",
        "name": "publisher9279",
        "type": "microsoft.hybridnetwork/publishers",
        "location": "eastus2euap",
        "tags": {},
        "systemData": {
          "createdBy": "80eea402-ff2f-49b2-b702-923559439b70",
          "createdByType": "Application",
          "createdAt": "2023-10-19T13:34:04.0740042Z",
          "lastModifiedBy": "80eea402-ff2f-49b2-b702-923559439b70",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-10-19T13:34:04.0740042Z"
        },
        "properties": {
          "scope": "Private",
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "715834415",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "4a0479c0-b795-4d0f-96fd-c7edd2a2928f"
  }
}
