{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting1A28113?api-version=2023-11-01&label=listConfigSettingsLabelA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting1A28113",
        "label": "listConfigSettingsLabelA",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"aZRtSye3nJyn7xiO_cFCPs1Xs-OShVtTUuTKjBAYI14\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:29:50 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDI5MDc=;sn=74102907"
      },
      "ResponseBody": {
        "etag": "aZRtSye3nJyn7xiO_cFCPs1Xs-OShVtTUuTKjBAYI14",
        "key": "listConfigSetting1A28113",
        "label": "listConfigSettingsLabelA",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-09-29T09:29:50+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting1B44760?api-version=2023-11-01&label=listConfigSettingsLabelB",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDI5MDc="
      },
      "RequestBody": {
        "key": "listConfigSetting1B44760",
        "label": "listConfigSettingsLabelB",
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"EbfQ8kTdgMVb_cKNrg_Vnw0BWbSKZq4a3902LjyYsWE\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:29:51 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDI5MDg=;sn=74102908"
      },
      "ResponseBody": {
        "etag": "EbfQ8kTdgMVb_cKNrg_Vnw0BWbSKZq4a3902LjyYsWE",
        "key": "listConfigSetting1B44760",
        "label": "listConfigSettingsLabelB",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-09-29T09:29:51+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/labels?api-version=2023-11-01&name=listConfigSettingsLabel*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDI5MDg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDI5MDg=;sn=74102908"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "listConfigSettingsLabelA"
          },
          {
            "name": "listConfigSettingsLabelB"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting1B44760",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDI5MDg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"N6MB_yTWyOKh67AFVRh4xYhLIAA6Q9WSRt7974pr5E4\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDI5MDg=;sn=74102908"
      },
      "ResponseBody": {
        "etag": "N6MB_yTWyOKh67AFVRh4xYhLIAA6Q9WSRt7974pr5E4",
        "items": [
          {
            "etag": "EbfQ8kTdgMVb_cKNrg_Vnw0BWbSKZq4a3902LjyYsWE",
            "key": "listConfigSetting1B44760",
            "label": "listConfigSettingsLabelB",
            "content_type": null,
            "value": "[B] production value",
            "tags": {
              "production": "B",
              "value": "2"
            },
            "locked": false,
            "last_modified": "2025-09-29T09:29:51+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting1B44760?api-version=2023-11-01&label=listConfigSettingsLabelB",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDI5MDg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"EbfQ8kTdgMVb_cKNrg_Vnw0BWbSKZq4a3902LjyYsWE\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:29:51 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDI5MDk=;sn=74102909"
      },
      "ResponseBody": {
        "etag": "EbfQ8kTdgMVb_cKNrg_Vnw0BWbSKZq4a3902LjyYsWE",
        "key": "listConfigSetting1B44760",
        "label": "listConfigSettingsLabelB",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-09-29T09:29:51+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting1A": "listConfigSetting1A28113",
    "listConfigSetting1B": "listConfigSetting1B44760"
  }
}
