{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting0A69186?api-version=2023-11-01&label=listConfigSettingsLabelA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting0A69186",
        "label": "listConfigSettingsLabelA",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"n1dhFHF_rwD0ajAoymrkyRLVWtqV5_Uf0EH8jIHFd0k\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:27:33 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTgwOTY=;sn=75058096",
        "x-ms-date": "Tue, 04 Nov 2025 18:27:33 GMT"
      },
      "ResponseBody": {
        "etag": "n1dhFHF_rwD0ajAoymrkyRLVWtqV5_Uf0EH8jIHFd0k",
        "key": "listConfigSetting0A69186",
        "label": "listConfigSettingsLabelA",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-11-04T18:27:33+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/labels?api-version=2023-11-01&name=listConfigSettingsLabelA",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNTgwOTY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTgwOTY=;sn=75058096",
        "x-ms-date": "Tue, 04 Nov 2025 18:27:33 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "listConfigSettingsLabelA"
          }
        ]
      }
    }
  ],
  "Variables": {
    "listConfigSetting0A": "listConfigSetting0A69186",
    "listConfigSetting0B": "listConfigSetting0B22014"
  }
}
