{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting2A52358?api-version=2023-11-01&label=listConfigSettingsLabelA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting2A52358",
        "label": "listConfigSettingsLabelA",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"JB0P-zvF884lBaNsJNdo1q7U8hTuzEVP5FalsWi50ZE\"",
        "Last-Modified": "Mon, 26 Jan 2026 02:57:46 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NjMyMA==;sn=103846320",
        "x-ms-date": "Mon, 26 Jan 2026 02:57:46 GMT"
      },
      "ResponseBody": {
        "etag": "JB0P-zvF884lBaNsJNdo1q7U8hTuzEVP5FalsWi50ZE",
        "key": "listConfigSetting2A52358",
        "label": "listConfigSettingsLabelA",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-01-26T02:57:46+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/labels?$select=name&api-version=2023-11-01&name=listConfigSettingsLabelA",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NjMyMA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NjMyMA==;sn=103846320",
        "x-ms-date": "Mon, 26 Jan 2026 02:57:46 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "listConfigSettingsLabelA"
          }
        ]
      }
    }
  ],
  "Variables": {
    "listConfigSetting2A": "listConfigSetting2A52358",
    "listConfigSetting2B": "listConfigSetting2B50551"
  }
}
