{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting1A51933?api-version=2023-11-01&label=listConfigSettingsLabelA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting1A51933",
        "label": "listConfigSettingsLabelA",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"LXYH6YIc-cng6zARCIGNrr5cxk_1omaI29xbxOU5hYw\"",
        "Last-Modified": "Mon, 26 Jan 2026 02:57:43 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NjMxNw==;sn=103846317",
        "x-ms-date": "Mon, 26 Jan 2026 02:57:43 GMT"
      },
      "ResponseBody": {
        "etag": "LXYH6YIc-cng6zARCIGNrr5cxk_1omaI29xbxOU5hYw",
        "key": "listConfigSetting1A51933",
        "label": "listConfigSettingsLabelA",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-01-26T02:57:43+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting1B54891?api-version=2023-11-01&label=listConfigSettingsLabelB",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NjMxNw=="
      },
      "RequestBody": {
        "key": "listConfigSetting1B54891",
        "label": "listConfigSettingsLabelB",
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"DQ9U3gOsmuLHX2SqAZ_OXrCoww8upWwjQ_37-t9sz3g\"",
        "Last-Modified": "Mon, 26 Jan 2026 02:57:43 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NjMxOA==;sn=103846318",
        "x-ms-date": "Mon, 26 Jan 2026 02:57:43 GMT"
      },
      "ResponseBody": {
        "etag": "DQ9U3gOsmuLHX2SqAZ_OXrCoww8upWwjQ_37-t9sz3g",
        "key": "listConfigSetting1B54891",
        "label": "listConfigSettingsLabelB",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2026-01-26T02:57:43+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/labels?api-version=2023-11-01&name=listConfigSettingsLabel*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NjMxOA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NjMxOA==;sn=103846318",
        "x-ms-date": "Mon, 26 Jan 2026 02:57:43 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "listConfigSettingsLabelA"
          },
          {
            "name": "listConfigSettingsLabelB"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting1B54891",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NjMxOA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"DdAyFLM3YmIWH9V0HsosoXuIbuISLxGZKM3U_wgPGqQ\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NjMxOA==;sn=103846318",
        "x-ms-date": "Mon, 26 Jan 2026 02:57:43 GMT"
      },
      "ResponseBody": {
        "etag": "DdAyFLM3YmIWH9V0HsosoXuIbuISLxGZKM3U_wgPGqQ",
        "items": [
          {
            "etag": "DQ9U3gOsmuLHX2SqAZ_OXrCoww8upWwjQ_37-t9sz3g",
            "key": "listConfigSetting1B54891",
            "label": "listConfigSettingsLabelB",
            "content_type": null,
            "value": "[B] production value",
            "tags": {
              "production": "B",
              "value": "2"
            },
            "locked": false,
            "last_modified": "2026-01-26T02:57:43+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting1B54891?api-version=2023-11-01&label=listConfigSettingsLabelB",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NjMxOA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"DQ9U3gOsmuLHX2SqAZ_OXrCoww8upWwjQ_37-t9sz3g\"",
        "Last-Modified": "Mon, 26 Jan 2026 02:57:43 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NjMxOQ==;sn=103846319",
        "x-ms-date": "Mon, 26 Jan 2026 02:57:43 GMT"
      },
      "ResponseBody": {
        "etag": "DQ9U3gOsmuLHX2SqAZ_OXrCoww8upWwjQ_37-t9sz3g",
        "key": "listConfigSetting1B54891",
        "label": "listConfigSettingsLabelB",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2026-01-26T02:57:43+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting1A": "listConfigSetting1A51933",
    "listConfigSetting1B": "listConfigSetting1B54891"
  }
}
