{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting0A55363?api-version=2023-11-01&label=listConfigSettingsLabelA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting0A55363",
        "label": "listConfigSettingsLabelA",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"BqTiLnzv929C8uW0p6qzGoXuRbhexOVZWdnw3M9SJPM\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:24:00 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3Mzg3MDc=;sn=73738707"
      },
      "ResponseBody": {
        "etag": "BqTiLnzv929C8uW0p6qzGoXuRbhexOVZWdnw3M9SJPM",
        "key": "listConfigSetting0A55363",
        "label": "listConfigSettingsLabelA",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-09-16T11:24:00+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/labels?name=listConfigSettingsLabelA&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3Mzg3MDc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3Mzg3MDg=;sn=73738708"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "listConfigSettingsLabelA"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/labels?name=listConfigSettingsLabelA&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3Mzg3MDg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3Mzg3MDg=;sn=73738708"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "listConfigSettingsLabelA"
          }
        ]
      }
    }
  ],
  "Variables": {
    "listConfigSetting0A": "listConfigSetting0A55363",
    "listConfigSetting0B": "listConfigSetting0B91755"
  }
}
