{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting1A47649?api-version=2023-11-01&label=listConfigSettingsLabelA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "listConfigSettingsLabelA",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Ck8Pt6YEXuGCof4p0KnGzf0oZPG5gBX3lqfBbk4Etjw\"",
        "Last-Modified": "Wed, 06 May 2026 17:09:20 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0OTQx;sn=65174941",
        "x-ms-date": "Wed, 06 May 2026 17:09:20 GMT"
      },
      "ResponseBody": {
        "etag": "Ck8Pt6YEXuGCof4p0KnGzf0oZPG5gBX3lqfBbk4Etjw",
        "key": "listConfigSetting1A47649",
        "label": "listConfigSettingsLabelA",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-05-06T17:09:20+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting1B38991?api-version=2023-11-01&label=listConfigSettingsLabelB",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc0OTQx"
      },
      "RequestBody": {
        "label": "listConfigSettingsLabelB",
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KsrfrWXs8VXlEc2W1bpZfuwQ5VjcELqowt2qdPAkcmY\"",
        "Last-Modified": "Wed, 06 May 2026 17:09:20 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0OTQy;sn=65174942",
        "x-ms-date": "Wed, 06 May 2026 17:09:20 GMT"
      },
      "ResponseBody": {
        "etag": "KsrfrWXs8VXlEc2W1bpZfuwQ5VjcELqowt2qdPAkcmY",
        "key": "listConfigSetting1B38991",
        "label": "listConfigSettingsLabelB",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2026-05-06T17:09:20+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/labels?api-version=2023-11-01&name=listConfigSettingsLabel*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc0OTQy"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0OTQy;sn=65174942",
        "x-ms-date": "Wed, 06 May 2026 17:09:20 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "listConfigSettingsLabelA"
          },
          {
            "name": "listConfigSettingsLabelB"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting1B38991",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc0OTQy"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"UTr1htNfZbuISJmSKkDKJ6sScpOjbUSDxwr9IRO8xm0\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0OTQy;sn=65174942",
        "x-ms-date": "Wed, 06 May 2026 17:09:20 GMT"
      },
      "ResponseBody": {
        "etag": "UTr1htNfZbuISJmSKkDKJ6sScpOjbUSDxwr9IRO8xm0",
        "items": [
          {
            "etag": "KsrfrWXs8VXlEc2W1bpZfuwQ5VjcELqowt2qdPAkcmY",
            "key": "listConfigSetting1B38991",
            "label": "listConfigSettingsLabelB",
            "content_type": null,
            "value": "[B] production value",
            "tags": {
              "production": "B",
              "value": "2"
            },
            "locked": false,
            "last_modified": "2026-05-06T17:09:20+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting1B38991?api-version=2023-11-01&label=listConfigSettingsLabelB",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc0OTQy"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KsrfrWXs8VXlEc2W1bpZfuwQ5VjcELqowt2qdPAkcmY\"",
        "Last-Modified": "Wed, 06 May 2026 17:09:20 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0OTQz;sn=65174943",
        "x-ms-date": "Wed, 06 May 2026 17:09:20 GMT"
      },
      "ResponseBody": {
        "etag": "KsrfrWXs8VXlEc2W1bpZfuwQ5VjcELqowt2qdPAkcmY",
        "key": "listConfigSetting1B38991",
        "label": "listConfigSettingsLabelB",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2026-05-06T17:09:20+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting1A": "listConfigSetting1A47649",
    "listConfigSetting1B": "listConfigSetting1B38991"
  }
}
