{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting1A94186?api-version=2023-11-01&label=listConfigSettingsLabelA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting1A94186",
        "label": "listConfigSettingsLabelA",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"e9tcXlaZPU1OY2bFhWaxvQ65OIgX-mcYS1fiocE_NGQ\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:58:33 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE3NTc=;sn=75061757",
        "x-ms-date": "Tue, 04 Nov 2025 18:58:33 GMT"
      },
      "ResponseBody": {
        "etag": "e9tcXlaZPU1OY2bFhWaxvQ65OIgX-mcYS1fiocE_NGQ",
        "key": "listConfigSetting1A94186",
        "label": "listConfigSettingsLabelA",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-11-04T18:58:33+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting1B3062?api-version=2023-11-01&label=listConfigSettingsLabelB",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjE3NTc="
      },
      "RequestBody": {
        "key": "listConfigSetting1B3062",
        "label": "listConfigSettingsLabelB",
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Iob8lPqWyvoZVdLbYYo4Gdf1Y1sjrGJGnX7YhaTqVmA\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:58:33 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE3NTg=;sn=75061758",
        "x-ms-date": "Tue, 04 Nov 2025 18:58:33 GMT"
      },
      "ResponseBody": {
        "etag": "Iob8lPqWyvoZVdLbYYo4Gdf1Y1sjrGJGnX7YhaTqVmA",
        "key": "listConfigSetting1B3062",
        "label": "listConfigSettingsLabelB",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-11-04T18:58:33+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/labels?api-version=2023-11-01&name=listConfigSettingsLabel*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjE3NTg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE3NTg=;sn=75061758",
        "x-ms-date": "Tue, 04 Nov 2025 18:58:33 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "listConfigSettingsLabelA"
          },
          {
            "name": "listConfigSettingsLabelB"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting1B3062",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjE3NTg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"WWoTnWjU_YZ6rJazcKNvWqw8dVlImWwkUywYj7hT5qs\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE3NTg=;sn=75061758",
        "x-ms-date": "Tue, 04 Nov 2025 18:58:34 GMT"
      },
      "ResponseBody": {
        "etag": "WWoTnWjU_YZ6rJazcKNvWqw8dVlImWwkUywYj7hT5qs",
        "items": [
          {
            "etag": "Iob8lPqWyvoZVdLbYYo4Gdf1Y1sjrGJGnX7YhaTqVmA",
            "key": "listConfigSetting1B3062",
            "label": "listConfigSettingsLabelB",
            "content_type": null,
            "value": "[B] production value",
            "tags": {
              "production": "B",
              "value": "2"
            },
            "locked": false,
            "last_modified": "2025-11-04T18:58:33+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting1B3062?api-version=2023-11-01&label=listConfigSettingsLabelB",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjE3NTg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Iob8lPqWyvoZVdLbYYo4Gdf1Y1sjrGJGnX7YhaTqVmA\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:58:33 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE3NTk=;sn=75061759",
        "x-ms-date": "Tue, 04 Nov 2025 18:58:34 GMT"
      },
      "ResponseBody": {
        "etag": "Iob8lPqWyvoZVdLbYYo4Gdf1Y1sjrGJGnX7YhaTqVmA",
        "key": "listConfigSetting1B3062",
        "label": "listConfigSettingsLabelB",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-11-04T18:58:33+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting1A": "listConfigSetting1A94186",
    "listConfigSetting1B": "listConfigSetting1B3062"
  }
}
