{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/dc9451fcbf45453ab135673d91724a68",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "ra7ig2C1e33F8vRpXcbZRJEZyf-d_NLaPdivSX_YDtbHetwi7T8uerLX4ZlaO-RGJdimFED7QCxx4kXyapOXUef4jLbk8qJtIvjswprZooe_tY3Wlv0oaypMMmnAh9I89B00o1TygxUxzCXiSWr-rkQpktx0TvAVN85Ju_pyQLdbcrGdqWTlnX-6CTJEzAwqntcWWgiUsfuE8oBm2CPNLPicMrRxn0w6nmc2mrv9EkrfIHeXX81dh-eKQ-rORk1LOT0zJjzHpO1JIgpMDjY1RmyFHko2fEAZRAR5dePYjwq-fA2LwEVvUzl7wGlMxR5VtSxpbtwJDARelKauPZPv_Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1739478226,
          "updated": 1739478226,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
