{
  "Entries": [
    {
      "RequestUri": "https://0a62dfa4-c48c-416e-ae62-4fbf67e401f0.eastus.cnt-prod.loadtesting.azure.com/tests/createorupdatetriggera-loadtest?api-version=2025-11-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://0a62dfa4-c48c-416e-ae62-4fbf67e401f0.eastus.cnt-prod.loadtesting.azure.com/tests/createorupdatetriggera-loadtest?api-version=2025-11-01-preview",
        "mise-correlation-id": "358b492b-2606-433d-9fe5-0c0287140325"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "autoStopCriteria": {
          "autoStopDisabled": false,
          "errorRate": 90.0,
          "errorRateTimeWindowInSeconds": 60,
          "maximumVirtualUsersPerEngine": 5000
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "preferences": {
          "enableAIErrorInsights": true
        },
        "testId": "createorupdatetriggera-loadtest",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2026-03-11T12:14:01.281Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2026-03-11T12:14:01.281Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://0a62dfa4-c48c-416e-ae62-4fbf67e401f0.eastus.cnt-prod.loadtesting.azure.com/triggers/trigger-660817976?api-version=2025-11-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "displayName": "Test Trigger from SDK",
        "kind": "ScheduleTestsTrigger",
        "testIds": [
          "createorupdatetriggera-loadtest"
        ],
        "startDateTime": "2030-01-15T00:00:00.000Z",
        "recurrence": {
          "interval": 1,
          "frequency": "Daily"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://0a62dfa4-c48c-416e-ae62-4fbf67e401f0.eastus.cnt-prod.loadtesting.azure.com/triggers/trigger-660817976?api-version=2025-11-01-preview",
        "mise-correlation-id": "76d23b75-3e4c-46ef-846b-d48f75074c01"
      },
      "ResponseBody": {
        "testIds": [
          "createorupdatetriggera-loadtest"
        ],
        "startDateTime": "2030-01-15T00:00:00Z",
        "recurrence": {
          "frequency": "Daily",
          "interval": 1
        },
        "recurrenceStatus": {
          "nextScheduledDateTimes": [
            "2030-01-15T00:00:00Z"
          ]
        },
        "kind": "ScheduleTestsTrigger",
        "displayName": "Test Trigger from SDK",
        "triggerId": "trigger-660817976",
        "state": "Active",
        "createdDateTime": "2026-03-11T12:14:01.585Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2026-03-11T12:14:01.585Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://0a62dfa4-c48c-416e-ae62-4fbf67e401f0.eastus.cnt-prod.loadtesting.azure.com/tests/createorupdatetriggera-loadtest?api-version=2025-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "mise-correlation-id": "20e90a2c-0604-42c6-8721-71de971c76a4"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "LOADTESTSERVICE_ENDPOINT": "0a62dfa4-c48c-416e-ae62-4fbf67e401f0.eastus.cnt-prod.loadtesting.azure.com",
    "RandomSeed": "1671319419"
  }
}
