{
  "Entries": [
    {
      "RequestUri": "https://4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com/tests/createorupdateservermetricsconfig-loadtest?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com/tests/createorupdateservermetricsconfig-loadtest?api-version=2024-12-01-preview",
        "mise-correlation-id": "a6950ff2-5c8c-4881-84d8-b717a339851d"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "testId": "createorupdateservermetricsconfig-loadtest",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2025-04-17T16:13:29.714Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-17T16:13:29.714Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com/tests/createorupdateservermetricsconfig-loadtest/server-metrics-config?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "metrics": {
          "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp": {
            "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
            "metricNamespace": "microsoft.insights/components",
            "displayDescription": "sample description",
            "name": "requests/duration",
            "aggregation": "Average",
            "unit": "",
            "resourceType": "microsoft.insights/components"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com/tests/createorupdateservermetricsconfig-loadtest/server-metrics-config?api-version=2024-12-01-preview",
        "mise-correlation-id": "4ad09d7a-dec5-4fcd-8858-5fdc12eeff68"
      },
      "ResponseBody": {
        "testId": "createorupdateservermetricsconfig-loadtest",
        "metrics": {
          "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp": {
            "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp/providers/microsoft.insights/metricdefinitions/requests/duration",
            "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
            "metricNamespace": "microsoft.insights/components",
            "displayDescription": "sample description",
            "name": "requests/duration",
            "aggregation": "Average",
            "unit": "",
            "resourceType": "microsoft.insights/components"
          }
        },
        "createdDateTime": "2025-04-17T16:13:29.939Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-17T16:13:29.939Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com/test-profiles/createorupdateservermetricsconfig-testprofile?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "da3e20bc-04dc-4b14-aae0-d77e20e5a40b"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com/tests/createorupdateservermetricsconfig-loadtest?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "27bf098a-7d2e-408b-a068-4085039e3d6e"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "LOADTESTSERVICE_ENDPOINT": "4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com",
    "LOADTESTSERVICE_RESOURCE_ID": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
    "RandomSeed": "66076303"
  }
}
