{
  "Entries": [
    {
      "RequestUri": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/tests/createorupdatetest-loadtest?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/tests/createorupdatetest-loadtest?api-version=2024-12-01-preview",
        "mise-correlation-id": "99ded31a-ee05-4ff5-9608-14c05e2ec5ed"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "testId": "createorupdatetest-loadtest",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2025-05-19T11:47:51.709Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-05-19T11:47:51.709Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/test-profiles/createorupdatetest-testprofile?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "157bde43-6b31-4500-b8c7-0fa8de580bf3"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/tests/createorupdatetest-loadtest?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "34b0a894-1ac9-461c-9e68-10732c7a5ca2"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "LOADTESTSERVICE_ENDPOINT": "9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com",
    "RandomSeed": "1102286526"
  }
}


