{
  "Entries": [
    {
      "RequestUri": "https://96415619-b1a9-4d7e-88ea-b8e97212ed69.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-frameworka?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://96415619-b1a9-4d7e-88ea-b8e97212ed69.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-frameworka?api-version=2024-12-01-preview",
        "mise-correlation-id": "3a10e023-7417-4525-98fe-a1844e763e2f"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "testId": "test-from-csharp-sdk-testing-frameworka",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2025-04-17T13:12:35.363Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-17T13:12:35.363Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://96415619-b1a9-4d7e-88ea-b8e97212ed69.eastus.cnt-prod.loadtesting.azure.com/test-profiles/test-profile-from-csharp-sdk-testinga?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "displayName": "Dotnet Testing Framework Loadtest",
        "description": "This test was created through loadtesting C# SDK",
        "testId": "test-from-csharp-sdk-testing-frameworka",
        "targetResourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/nikita-rg/providers/Microsoft.Web/sites/perfOptSampleApp",
        "targetResourceConfigurations": {
          "kind": "FunctionsFlexConsumption",
          "configurations": {
            "config1": {
              "instanceMemoryMB": 2048,
              "httpConcurrency": 20
            },
            "config2": {
              "instanceMemoryMB": 4096,
              "httpConcurrency": 20
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://96415619-b1a9-4d7e-88ea-b8e97212ed69.eastus.cnt-prod.loadtesting.azure.com/test-profiles/test-profile-from-csharp-sdk-testinga?api-version=2024-12-01-preview",
        "mise-correlation-id": "72fe46a6-4965-47ed-b79f-7be9af01998c"
      },
      "ResponseBody": {
        "testProfileId": "test-profile-from-csharp-sdk-testinga",
        "displayName": "Dotnet Testing Framework Loadtest",
        "description": "This test was created through loadtesting C# SDK",
        "targetResourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/nikita-rg/providers/Microsoft.Web/sites/perfOptSampleApp",
        "testId": "test-from-csharp-sdk-testing-frameworka",
        "targetResourceConfigurations": {
          "kind": "FunctionsFlexConsumption",
          "configurations": {
            "config1": {
              "instanceMemoryMB": 2048,
              "httpConcurrency": 20
            },
            "config2": {
              "instanceMemoryMB": 4096,
              "httpConcurrency": 20
            }
          }
        },
        "createdDateTime": "2025-04-17T13:12:36.589Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-17T13:12:36.589Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://96415619-b1a9-4d7e-88ea-b8e97212ed69.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-frameworka?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "193ce79e-0d7b-4b8c-a17b-26fce7c4df27"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "LOADTESTSERVICE_ENDPOINT": "96415619-b1a9-4d7e-88ea-b8e97212ed69.eastus.cnt-prod.loadtesting.azure.com",
    "LOADTESTSERVICE_TARGET_RESOURCE_ID": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/nikita-rg/providers/Microsoft.Web/sites/perfOptSampleApp",
    "RandomSeed": "170874571"
  }
}
