{
  "Entries": [
    {
      "RequestUri": "https://96415619-b1a9-4d7e-88ea-b8e97212ed69.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-frameworka?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://96415619-b1a9-4d7e-88ea-b8e97212ed69.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-frameworka?api-version=2024-12-01-preview",
        "mise-correlation-id": "3a2e77a8-b199-4ec3-aeb0-d3c85d3e4747"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "testId": "test-from-csharp-sdk-testing-frameworka",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2025-04-17T13:12:23.059Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-17T13:12:23.059Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://96415619-b1a9-4d7e-88ea-b8e97212ed69.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-frameworka/server-metrics-config?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "metrics": {
          "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp": {
            "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
            "metricNamespace": "microsoft.insights/components",
            "displayDescription": "sample description",
            "name": "requests/duration",
            "aggregation": "Average",
            "unit": "",
            "resourceType": "microsoft.insights/components"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://96415619-b1a9-4d7e-88ea-b8e97212ed69.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-frameworka/server-metrics-config?api-version=2024-12-01-preview",
        "mise-correlation-id": "c3f19262-1c3f-48ce-91e8-5fa64303a647"
      },
      "ResponseBody": {
        "testId": "test-from-csharp-sdk-testing-frameworka",
        "metrics": {
          "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp": {
            "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp/providers/microsoft.insights/metricdefinitions/requests/duration",
            "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
            "metricNamespace": "microsoft.insights/components",
            "displayDescription": "sample description",
            "name": "requests/duration",
            "aggregation": "Average",
            "unit": "",
            "resourceType": "microsoft.insights/components"
          }
        },
        "createdDateTime": "2025-04-17T13:12:23.287Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-17T13:12:23.287Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://96415619-b1a9-4d7e-88ea-b8e97212ed69.eastus.cnt-prod.loadtesting.azure.com/test-profiles/test-profile-from-csharp-sdk-testinga?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "a25597ce-5284-4baf-ae43-f53694770724"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://96415619-b1a9-4d7e-88ea-b8e97212ed69.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-frameworka?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "56b8b8ba-029b-4a5c-b1da-4c881f8fec99"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "LOADTESTSERVICE_ENDPOINT": "96415619-b1a9-4d7e-88ea-b8e97212ed69.eastus.cnt-prod.loadtesting.azure.com",
    "LOADTESTSERVICE_RESOURCE_ID": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
    "RandomSeed": "186468114"
  }
}
