{
  "Entries": [
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/tests/deletetestprofile-loadtest?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/tests/deletetestprofile-loadtest?api-version=2024-12-01-preview",
        "mise-correlation-id": "a62b3932-3935-492d-bffd-2aa71775dc79"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "testId": "deletetestprofile-loadtest",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2025-04-18T05:42:32.679Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-18T05:42:32.679Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/tests/deletetestprofile-loadtest/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPGptZXRlclRlc3RQbGFuIHZlcnNpb249IjEuMiIgcHJvcGVydGllcz0iNS4wIiBqbWV0ZXI9IjUuNSI[...]
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/test-profiles/deletetestprofile-testprofile?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "displayName": "Dotnet Testing Framework TestProfile",
        "description": "This test profile was created through loadtesting C# SDK",
        "testId": "deletetestprofile-loadtest",
        "targetResourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/nikita-rg/providers/Microsoft.Web/sites/perfOptSampleApp",
        "targetResourceConfigurations": {
          "kind": "FunctionsFlexConsumption",
          "configurations": {
            "config1": {
              "instanceMemoryMB": 2048,
              "httpConcurrency": 20
            },
            "config2": {
              "instanceMemoryMB": 4096,
              "httpConcurrency": 20
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/test-profiles/deletetestprofile-testprofile?api-version=2024-12-01-preview",
        "mise-correlation-id": "ea795284-f2a3-475c-b90f-0f2b2aacbf8e"
      },
      "ResponseBody": {
        "testProfileId": "deletetestprofile-testprofile",
        "displayName": "Dotnet Testing Framework TestProfile",
        "description": "This test profile was created through loadtesting C# SDK",
        "targetResourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/nikita-rg/providers/Microsoft.Web/sites/perfOptSampleApp",
        "testId": "deletetestprofile-loadtest",
        "targetResourceConfigurations": {
          "kind": "FunctionsFlexConsumption",
          "configurations": {
            "config1": {
              "instanceMemoryMB": 2048,
              "httpConcurrency": 20
            },
            "config2": {
              "instanceMemoryMB": 4096,
              "httpConcurrency": 20
            }
          }
        },
        "createdDateTime": "2025-04-18T05:42:34.672Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-18T05:42:34.672Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/tests/deletetestprofile-loadtest?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "503a2c30-1bcb-4685-84a7-af4e0d1bf9a9"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "LOADTESTSERVICE_ENDPOINT": "02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com",
    "LOADTESTSERVICE_TARGET_RESOURCE_ID": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/nikita-rg/providers/Microsoft.Web/sites/perfOptSampleApp",
    "RandomSeed": "972912776"
  }
}
