{
  "Entries": [
    {
      "RequestUri": "https://4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com/tests/deletetestprofile-loadtest?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com/tests/deletetestprofile-loadtest?api-version=2024-12-01-preview",
        "mise-correlation-id": "661db8d1-b9f9-4e67-8f8e-be48c9b336a3"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "testId": "deletetestprofile-loadtest",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2025-04-17T16:14:02.686Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-17T16:14:02.686Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com/tests/deletetestprofile-loadtest/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjxqbWV0ZXJUZXN0UGxhbiB2ZXJzaW9uPSIxLjIiIHByb3BlcnRpZXM9IjUuMCIgam1ldGVyPSI1LjU[...]
    {
      "RequestUri": "https://4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com/test-profiles/deletetestprofile-testprofile?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "displayName": "Dotnet Testing Framework TestProfile",
        "description": "This test profile was created through loadtesting C# SDK",
        "testId": "deletetestprofile-loadtest",
        "targetResourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/nikita-rg/providers/Microsoft.Web/sites/perfOptSampleApp",
        "targetResourceConfigurations": {
          "kind": "FunctionsFlexConsumption",
          "configurations": {
            "config1": {
              "instanceMemoryMB": 2048,
              "httpConcurrency": 20
            },
            "config2": {
              "instanceMemoryMB": 4096,
              "httpConcurrency": 20
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com/test-profiles/deletetestprofile-testprofile?api-version=2024-12-01-preview",
        "mise-correlation-id": "b4c79708-b0e9-4edf-bacb-275bcf01cce2"
      },
      "ResponseBody": {
        "testProfileId": "deletetestprofile-testprofile",
        "displayName": "Dotnet Testing Framework TestProfile",
        "description": "This test profile was created through loadtesting C# SDK",
        "targetResourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/nikita-rg/providers/Microsoft.Web/sites/perfOptSampleApp",
        "testId": "deletetestprofile-loadtest",
        "targetResourceConfigurations": {
          "kind": "FunctionsFlexConsumption",
          "configurations": {
            "config1": {
              "instanceMemoryMB": 2048,
              "httpConcurrency": 20
            },
            "config2": {
              "instanceMemoryMB": 4096,
              "httpConcurrency": 20
            }
          }
        },
        "createdDateTime": "2025-04-17T16:14:04.637Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-17T16:14:04.637Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com/tests/deletetestprofile-loadtest?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "a1ca2b58-c27e-469f-b9e1-c83fd78fc063"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "LOADTESTSERVICE_ENDPOINT": "4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com",
    "LOADTESTSERVICE_TARGET_RESOURCE_ID": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/nikita-rg/providers/Microsoft.Web/sites/perfOptSampleApp",
    "RandomSeed": "258285917"
  }
}
