{
  "Entries": [
    {
      "RequestUri": "https://96415619-b1a9-4d7e-88ea-b8e97212ed69.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://96415619-b1a9-4d7e-88ea-b8e97212ed69.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2024-12-01-preview",
        "mise-correlation-id": "47b3c6f8-e47a-4484-8925-bd94fd3a8726"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "testId": "test-from-csharp-sdk-testing-framework",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2025-04-17T13:09:36.414Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-17T13:09:36.414Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://96415619-b1a9-4d7e-88ea-b8e97212ed69.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "3bbed27c-ee97-4d7f-8950-ae71153dbbf3"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "LOADTESTSERVICE_ENDPOINT": "96415619-b1a9-4d7e-88ea-b8e97212ed69.eastus.cnt-prod.loadtesting.azure.com",
    "RandomSeed": "1817900464"
  }
}
