{
  "Entries": [
    {
      "RequestUri": "https://0a62dfa4-c48c-416e-ae62-4fbf67e401f0.eastus.cnt-prod.loadtesting.azure.com/tests/getservermetricsconfiga-loadtest?api-version=2025-11-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://0a62dfa4-c48c-416e-ae62-4fbf67e401f0.eastus.cnt-prod.loadtesting.azure.com/tests/getservermetricsconfiga-loadtest?api-version=2025-11-01-preview",
        "mise-correlation-id": "725c4450-e8f6-416b-87a0-043badf65e00"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "autoStopCriteria": {
          "autoStopDisabled": false,
          "errorRate": 90.0,
          "errorRateTimeWindowInSeconds": 60,
          "maximumVirtualUsersPerEngine": 5000
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "preferences": {
          "enableAIErrorInsights": true
        },
        "testId": "getservermetricsconfiga-loadtest",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2026-03-10T08:41:30.524Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2026-03-10T08:41:30.524Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://0a62dfa4-c48c-416e-ae62-4fbf67e401f0.eastus.cnt-prod.loadtesting.azure.com/tests/getservermetricsconfiga-loadtest/server-metrics-config?api-version=2025-11-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "metrics": {
          "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp": {
            "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
            "metricNamespace": "microsoft.insights/components",
            "displayDescription": "sample description",
            "name": "requests/duration",
            "aggregation": "Average",
            "unit": "",
            "resourceType": "microsoft.insights/components"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://0a62dfa4-c48c-416e-ae62-4fbf67e401f0.eastus.cnt-prod.loadtesting.azure.com/tests/getservermetricsconfiga-loadtest/server-metrics-config?api-version=2025-11-01-preview",
        "mise-correlation-id": "0b346665-aa96-445a-8173-3e117b88c04d"
      },
      "ResponseBody": {
        "testId": "getservermetricsconfiga-loadtest",
        "metrics": {
          "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp": {
            "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp/providers/microsoft.insights/metricdefinitions/requests/duration",
            "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
            "metricNamespace": "microsoft.insights/components",
            "displayDescription": "sample description",
            "name": "requests/duration",
            "aggregation": "Average",
            "unit": "",
            "resourceType": "microsoft.insights/components"
          }
        },
        "createdDateTime": "2026-03-10T08:41:30.851Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2026-03-10T08:41:30.851Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://0a62dfa4-c48c-416e-ae62-4fbf67e401f0.eastus.cnt-prod.loadtesting.azure.com/tests/getservermetricsconfiga-loadtest?api-version=2025-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "mise-correlation-id": "40f2ac07-e8c4-4a49-929d-2602016f8bca"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "LOADTESTSERVICE_ENDPOINT": "0a62dfa4-c48c-416e-ae62-4fbf67e401f0.eastus.cnt-prod.loadtesting.azure.com",
    "LOADTESTSERVICE_RESOURCE_ID": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
    "RandomSeed": "1857985917"
  }
}
