{
  "Entries": [
    {
      "RequestUri": "https://4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com/tests/gettestprofilea-loadtest?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com/tests/gettestprofilea-loadtest?api-version=2024-12-01-preview",
        "mise-correlation-id": "c030036c-0a90-40e3-97fd-917b94f90968"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "testId": "gettestprofilea-loadtest",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2025-04-17T16:17:34.617Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-17T16:17:34.617Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com/tests/gettestprofilea-loadtest/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjxqbWV0ZXJUZXN0UGxhbiB2ZXJzaW9uPSIxLjIiIHByb3BlcnRpZXM9IjUuMCIgam1ldGVyPSI1LjUiP[...]
    {
      "RequestUri": "https://4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com/test-profiles/gettestprofilea-testprofile?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "displayName": "Dotnet Testing Framework TestProfile",
        "description": "This test profile was created through loadtesting C# SDK",
        "testId": "gettestprofilea-loadtest",
        "targetResourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/nikita-rg/providers/Microsoft.Web/sites/perfOptSampleApp",
        "targetResourceConfigurations": {
          "kind": "FunctionsFlexConsumption",
          "configurations": {
            "config1": {
              "instanceMemoryMB": 2048,
              "httpConcurrency": 20
            },
            "config2": {
              "instanceMemoryMB": 4096,
              "httpConcurrency": 20
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com/test-profiles/gettestprofilea-testprofile?api-version=2024-12-01-preview",
        "mise-correlation-id": "22621f49-c3b6-4600-8631-3481187ea04c"
      },
      "ResponseBody": {
        "testProfileId": "gettestprofilea-testprofile",
        "displayName": "Dotnet Testing Framework TestProfile",
        "description": "This test profile was created through loadtesting C# SDK",
        "targetResourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/nikita-rg/providers/Microsoft.Web/sites/perfOptSampleApp",
        "testId": "gettestprofilea-loadtest",
        "targetResourceConfigurations": {
          "kind": "FunctionsFlexConsumption",
          "configurations": {
            "config1": {
              "instanceMemoryMB": 2048,
              "httpConcurrency": 20
            },
            "config2": {
              "instanceMemoryMB": 4096,
              "httpConcurrency": 20
            }
          }
        },
        "createdDateTime": "2025-04-17T16:17:36.019Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-17T16:17:36.019Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com/tests/gettestprofilea-loadtest?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "60ed365f-f4e6-42bf-bd6f-2e1e21489c70"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "LOADTESTSERVICE_ENDPOINT": "4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com",
    "LOADTESTSERVICE_TARGET_RESOURCE_ID": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/nikita-rg/providers/Microsoft.Web/sites/perfOptSampleApp",
    "RandomSeed": "710424465"
  }
}
