{
  "Entries": [
    {
      "RequestUri": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/tests/listtestfilesa-loadtest?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/tests/listtestfilesa-loadtest?api-version=2024-12-01-preview",
        "mise-correlation-id": "0133d357-9a50-405c-964e-848037ea181a"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "testId": "listtestfilesa-loadtest",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2025-05-19T11:53:04.338Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-05-19T11:53:04.338Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/tests/listtestfilesa-loadtest/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPGptZXRlclRlc3RQbGFuIHZlcnNpb249IjEuMiIgcHJvcGVydGllcz0iNS4wIiBqbWV0ZXI9IjUuNSI[...]
    {
      "RequestUri": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/tests/listtestfilesa-loadtest/files?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "39c4762e-2304-49b6-a8fd-491d09dbd9bd"
      },
      "ResponseBody": {
        "value": [
          {
            "url": "https://c7nwmdhl9p537nidj4ihlila.z9.blob.storage.azure.net/cddd9eb6-b3a5-49d9-9738-f6bbbe8a7d81/785cfe5c-28ec-403a-844c-1bc9f7473ea3?skoid=71d78b1b-18ed-4c0f-af95-f43461d18dba&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-05-19T11%3A48%3A16Z&ske=2025-05-19T18%3A48%3A16Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-05-19T12%3A03%3A05Z&sr=b&sp=r&sig=Sanitized",
            "fileName": "sample.jmx",
            "fileType": "TEST_SCRIPT",
            "expireDateTime": "2025-05-19T12:03:05.8347339Z",
            "validationStatus": "VALIDATION_INITIATED"
          }
        ]
      }
    },
    {
      "RequestUri": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/test-profiles/listtestfilesa-testprofile?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "7fc463c6-b660-4d5c-a2cb-c41ec7be37cb"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/tests/listtestfilesa-loadtest?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "646638a3-c4d6-4a54-94e6-278e4de1c0ca"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "LOADTESTSERVICE_ENDPOINT": "9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com",
    "RandomSeed": "1057110620"
  }
}




