{
  "Entries": [
    {
      "RequestUri": "https://c6590596-864a-49e9-8ee6-79170eff7180.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-frameworka?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://c6590596-864a-49e9-8ee6-79170eff7180.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-frameworka?api-version=2024-12-01-preview",
        "mise-correlation-id": "b0b095ea-add2-414c-a2c3-b513121cc976"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "testId": "test-from-csharp-sdk-testing-frameworka",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2025-04-15T04:54:33.313Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-15T04:54:33.313Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://c6590596-864a-49e9-8ee6-79170eff7180.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-frameworka/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPGptZXRlclRlc3RQbGFuIHZlcnNpb249IjEuMiIgcHJvcGVydGllcz0iNS4wIiBqbW[...]
    {
      "RequestUri": "https://c6590596-864a-49e9-8ee6-79170eff7180.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-frameworka/files?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0d5e3c54-49fb-4890-89dd-b11a0e0f272b"
      },
      "ResponseBody": {
        "value": [
          {
            "url": "https://b83pj16fayw36tckkulbuxzn.z46.blob.storage.azure.net/23e6fc7e-4605-4bcc-8360-f169a5d77632/e2070ea0-e191-4c5f-ab47-12fa9e4d8865?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-15T04%3A50%3A55Z&ske=2025-04-15T11%3A50%3A55Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-15T05%3A04%3A34Z&sr=b&sp=r&sig=Sanitized",
            "fileName": "sample.jmx",
            "fileType": "TEST_SCRIPT",
            "expireDateTime": "2025-04-15T05:04:34.08902Z",
            "validationStatus": "VALIDATION_INITIATED"
          }
        ]
      }
    },
    {
      "RequestUri": "https://c6590596-864a-49e9-8ee6-79170eff7180.eastus.cnt-prod.loadtesting.azure.com/test-profiles/test-profile-from-csharp-sdk-testinga22?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "a650ded2-9741-495a-a6ac-9b5480670456"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://c6590596-864a-49e9-8ee6-79170eff7180.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-frameworka?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "49eb2131-1ca3-42c5-9863-dfabfe121fa8"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "LOADTESTSERVICE_ENDPOINT": "c6590596-864a-49e9-8ee6-79170eff7180.eastus.cnt-prod.loadtesting.azure.com",
    "RandomSeed": "1934628850"
  }
}
