{
  "Entries": [
    {
      "RequestUri": "https://96415619-b1a9-4d7e-88ea-b8e97212ed69.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-frameworka?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://96415619-b1a9-4d7e-88ea-b8e97212ed69.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-frameworka?api-version=2024-12-01-preview",
        "mise-correlation-id": "169ea675-62b6-46e8-bbe6-e2cd5eb29df5"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "testId": "test-from-csharp-sdk-testing-frameworka",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2025-04-17T13:13:50.043Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-17T13:13:50.043Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://96415619-b1a9-4d7e-88ea-b8e97212ed69.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-frameworka/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjxqbWV0ZXJUZXN0UGxhbiB2ZXJzaW9uPSIxLjIiIHByb3BlcnRpZXM9IjUuMCIgam[...]
    {
      "RequestUri": "https://96415619-b1a9-4d7e-88ea-b8e97212ed69.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-frameworka/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "416ff5b5-72c6-4b2a-af52-38170593deab"
      },
      "ResponseBody": {
        "url": "https://sgmwkwdes2u7tsj1qhmcjx0m.z21.blob.storage.azure.net/48fd4340-6e66-4fa8-b5dd-b1c62c544db4/241b7329-9afd-436a-b22a-295ec79aabd3?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-17T13%3A10%3A18Z&ske=2025-04-17T20%3A10%3A18Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-17T13%3A23%3A50Z&sr=b&sp=r&sig=Sanitized",
        "fileName": "sample.jmx",
        "fileType": "TEST_SCRIPT",
        "expireDateTime": "2025-04-17T13:23:50.7938309Z",
        "validationStatus": "VALIDATION_INITIATED"
      }
    },
[...]
    {
      "RequestUri": "https://96415619-b1a9-4d7e-88ea-b8e97212ed69.eastus.cnt-prod.loadtesting.azure.com/test-profiles/test-profile-from-csharp-sdk-testinga222?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "9851cd05-df3e-411a-9ccf-e38c71062330"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://96415619-b1a9-4d7e-88ea-b8e97212ed69.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-frameworka?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "13884edf-5cee-4f3d-a2c2-24e5ae36c52b"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "LOADTESTSERVICE_ENDPOINT": "96415619-b1a9-4d7e-88ea-b8e97212ed69.eastus.cnt-prod.loadtesting.azure.com",
    "RandomSeed": "885964737"
  }
}
