{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "tags": {
          "Owners": "alzimmer",
          "DeleteAfter": "2026-04-13T21:12:27.6410351Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.FileShares/fileShares/Sanitized-fileshare-01?api-version=2025-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "properties": {
          "mountName": "Sanitized-fileshare-01",
          "hostName": "fs-vlh1k2phf0b1zkkc5.z38.file.storage.azure.net",
          "mediaTier": "SSD",
          "redundancy": "Local",
          "protocol": "NFS",
          "provisionedStorageGiB": 32,
          "provisionedStorageNextAllowedDowngrade": "2026-04-08T21:12:43+00:00",
          "provisionedIOPerSec": 3000,
          "provisionedIOPerSecNextAllowedDowngrade": "2026-04-08T21:12:43+00:00",
          "provisionedThroughputMiBPerSec": 125,
          "provisionedThroughputNextAllowedDowngrade": "2026-04-08T21:12:43+00:00",
          "includedBurstIOPerSec": 10000,
          "maxBurstIOPerSecCredits": 25200000,
          "nfsProtocolProperties": {
            "rootSquash": "NoRootSquash"
          },
          "publicAccessProperties": {
            "allowedSubnets": []
          },
          "provisioningState": "Succeeded",
          "publicNetworkAccess": "Enabled",
          "privateEndpointConnections": [
            {
              "properties": {
                "privateEndpoint": {
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Network/privateEndpoints/Sanitized-fs-pe"
                },
                "privateLinkServiceConnectionState": {
                  "status": "Approved",
                  "description": "Connection approved by live test",
                  "actionsRequired": "None"
                },
                "provisioningState": "Succeeded"
              },
              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.FileShares/fileShares/Sanitized-fileshare-01/privateEndpointConnections/Sanitized",
              "name": "Sanitized",
              "type": "Microsoft.FileShares/privateEndpointConnections"
            }
          ]
        },
        "tags": {
          "environment": "test",
          "purpose": "mcp-testing"
        },
        "location": "eastus",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.FileShares/fileShares/Sanitized-fileshare-01",
        "name": "Sanitized",
        "type": "Microsoft.FileShares/fileShares",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2026-04-08T21:12:38.1374129+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2026-04-08T21:12:38.1374129+00:00"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.FileShares/fileShares/Sanitized-fileshare-01/fileShareSnapshots/Sanitized-snapshot-test?api-version=2025-09-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.FileShares/locations/eastus/partitions/00000000-0000-0000-0000-000000000000-Sanitized-fileshare-01/operations/e58c90be-f3e6-4ca4-9694-7d8d57bcd305?api-version=2025-09-01-preview&t=639112798770970928&c=MIIHlDCCBnygAwIBAgIQbRZBCnyTTrdKyx3sn6-cIjANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDIyNDE4NDcwN1oXDTI2MDgyMDAwNDcwN1owQDE-MDwGA1UEAxM1Y[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.FileShares/locations/eastus/partitions/00000000-0000-0000-0000-000000000000-Sanitized-fileshare-01/operations/e58c90be-f3e6-4ca4-9694-7d8d57bcd305?api-version=2025-09-01-preview&t=639112798770970928&c=MIIHlDCCBnygAwIBAgIQbRZBCnyTTrdKyx3sn6-cIjANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDIyNDE4NDcwN1oXDTI2MDgyMDAwN[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.FileShares/fileShares/Sanitized-fileshare-01/fileShareSnapshots/Sanitized-snapshot-test?api-version=2025-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "properties": {
          "snapshotTime": "2026-04-08T21:18:00.0000000Z",
          "initiatorId": "",
          "metadata": {}
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.FileShares/fileShares/Sanitized-fileshare-01/fileShareSnapshots/Sanitized-snapshot-test",
        "name": "Sanitized",
        "type": "Microsoft.FileShares/fileShareSnapshots"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.FileShares/fileShares/Sanitized-fileshare-01/fileShareSnapshots?api-version=2025-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "snapshotTime": "2026-04-08T21:18:00.0000000Z",
              "initiatorId": "",
              "metadata": {}
            },
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.FileShares/fileShares/Sanitized-fileshare-01/fileShareSnapshots/Sanitized-snapshot-test",
            "name": "Sanitized",
            "type": "Microsoft.FileShares/fileShareSnapshots"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.FileShares/locations/eastus/partitions/00000000-0000-0000-0000-000000000000-Sanitized-fileshare-01/operations/77e64ab9-8e2c-4462-85b0-b2ad7aaae92c?api-version=2025-09-01-preview&t=639112798927311593&c=MIIHlDCCBnygAwIBAgIQbRZBCnyTTrdKyx3sn6-cIjANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDIyNDE4NDcwN1oXDTI2MDgyMDAwN[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.FileShares/fileShares/Sanitized-fileshare-01/fileShareSnapshots/Sanitized-snapshot-test?api-version=2025-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "properties": {
          "snapshotTime": "2026-04-08T21:18:00.0000000Z",
          "initiatorId": "",
          "metadata": {}
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.FileShares/fileShares/Sanitized-fileshare-01/fileShareSnapshots/Sanitized-snapshot-test",
        "name": "Sanitized",
        "type": "Microsoft.FileShares/fileShareSnapshots"
      }
    }
  ],
  "Variables": {}
}
