{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com//language/analyze-text/jobs?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "Sanitized",
              "text": "I need a reservation for an indoor restaurant in China. Please don't stop the music. Play music and add it to my playlist.",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "kind": "CustomSingleLabelClassification",
            "taskName": "CSCOperationActionSample",
            "parameters": {
              "projectName": "single-class-project",
              "deploymentName": "deployment1"
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "azure-deprecating": "Training config used by Deployment name single-class-project and project name deployment1 used in CustomSingleLabelClassification will retire on 2025-10-27. (https://aka.ms/text-analytics-deprecated-model-versions)",
        "operation-location": "https://Sanitized.cognitiveservices.azure.com/language/analyze-text/jobs/40678e04-21cf-45c6-b481-319c74d4d18a?api-version=2025-05-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/analyze-text/jobs/40678e04-21cf-45c6-b481-319c74d4d18a?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "40678e04-21cf-45c6-b481-319c74d4d18a",
        "lastUpdatedDateTime": "2025-09-09T22:43:12Z",
        "createdDateTime": "2025-09-09T22:43:12Z",
        "expirationDateTime": "2025-09-10T22:43:12Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/analyze-text/jobs/40678e04-21cf-45c6-b481-319c74d4d18a?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "40678e04-21cf-45c6-b481-319c74d4d18a",
        "lastUpdatedDateTime": "2025-09-09T22:43:14Z",
        "createdDateTime": "2025-09-09T22:43:12Z",
        "expirationDateTime": "2025-09-10T22:43:12Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "CustomSingleLabelClassificationLROResults",
              "taskName": "CSCOperationActionSample",
              "lastUpdateDateTime": "2025-09-09T22:43:14.4441835Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "Sanitized",
                    "class": [
                      {
                        "category": "Civil_engineering",
                        "confidenceScore": 0.15
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "projectName": "single-class-project",
                "deploymentName": "deployment1"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
