{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com//language/analyze-text/jobs?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "Sanitized",
              "text": "I need a reservation for an indoor restaurant in China. Please don't stop the music. Play music and add it to my playlist.",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "CMCOperationActionSample",
            "parameters": {
              "projectName": "multi-class-project",
              "deploymentName": "multiclassdeployment"
            },
            "kind": "CustomMultiLabelClassification"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "azure-deprecating": "Training config used by Deployment name multi-class-project and project name multiclassdeployment used in CustomMultiLabelClassification will retire on 2025-10-27. (https://aka.ms/text-analytics-deprecated-model-versions)",
        "operation-location": "https://Sanitized.cognitiveservices.azure.com/language/analyze-text/jobs/13af409e-8d5b-42b8-b886-6531baf07577?api-version=2025-11-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/analyze-text/jobs/13af409e-8d5b-42b8-b886-6531baf07577?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "13af409e-8d5b-42b8-b886-6531baf07577",
        "lastUpdatedDateTime": "2026-01-26T22:09:47Z",
        "createdDateTime": "2026-01-26T22:09:47Z",
        "expirationDateTime": "2026-01-27T22:09:47Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/analyze-text/jobs/13af409e-8d5b-42b8-b886-6531baf07577?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "13af409e-8d5b-42b8-b886-6531baf07577",
        "lastUpdatedDateTime": "2026-01-26T22:09:49Z",
        "createdDateTime": "2026-01-26T22:09:47Z",
        "expirationDateTime": "2026-01-27T22:09:47Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "CustomMultiLabelClassificationLROResults",
              "taskName": "CMCOperationActionSample",
              "lastUpdateDateTime": "2026-01-26T22:09:49.2245909Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "Sanitized",
                    "class": [
                      {
                        "category": "Drama",
                        "confidenceScore": 0.99
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "projectName": "multi-class-project",
                "deploymentName": "multiclassdeployment"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
