{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share172883056691307544?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 13 Oct 2024 14:42:46 GMT",
        "x-ms-share-provisioned-bandwidth-mibps": "125",
        "x-ms-share-provisioned-iops": "500",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEB954E44E45F\"",
        "Last-Modified": "Sun, 13 Oct 2024 14:42:47 GMT",
        "x-ms-share-included-burst-iops": "5000",
        "x-ms-share-max-burst-credits-for-iops": "16200000",
        "x-ms-share-provisioned-bandwidth-mibps": "125",
        "x-ms-share-provisioned-iops": "500",
        "x-ms-share-quota": "32",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share172883056691307544?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 13 Oct 2024 14:42:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-file-share-snapshot-usage-bytes": "0",
        "x-ms-file-share-usage-bytes": "0",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/?comp=list&include=deleted",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 13 Oct 2024 14:42:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakestorageaccount.file.core.windows.net/\"><Shares><Share><Name>newshare172882459480009603</Name><Properties><Last-Modified>Sun, 13 Oct 2024 13:03:15 GMT</Last-Modified><Etag>\"0x8DCEB8766CD93DD\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>32</Quota><ProvisionedIops>1007</ProvisionedIops><ProvisionedBandwidthMiBps>61</ProvisionedBandwidthMiBps><NextAllowedQuotaDowngradeTime>Sun, 13 Oct 2024 13:03:15 GMT</NextAllowedQuotaDowngradeTime><IncludedBurstIops>5000</IncludedBurstIops><MaxBurstCreditsForIops>14374800</MaxBurstCreditsForIops><NextAllowedProvisionedIopsDowngradeTime>Sun, 13 Oct 2024 13:03:15 GMT</NextAllowedProvisionedIopsDowngradeTime><NextAllowedProvisionedBandwidthDowngradeTime>Sun, 13 Oct 2024 13:03:15 GMT</NextAllowedProvisionedBandwidthDowngradeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share><Share><Name>newshare172882500299204423</Name><Properties><Last-Modified>Sun, 13 Oct 2024 13:15:08 GMT</Last-Modified><Etag>\"0x8DCEB890F6A1E45\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>32</Quota><ProvisionedIops>1007</ProvisionedIops><ProvisionedBandwidthMiBps>61</ProvisionedBandwidthMiBps><NextAllowedQuotaDowngradeTime>Sun, 13 Oct 2024 13:15:08 GMT</NextAllowedQuotaDowngradeTime><IncludedBurstIops[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share172883056691307544?restype=share&comp=undelete",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 13 Oct 2024 14:43:47 GMT",
        "x-ms-deleted-share-name": "share172883056691307544",
        "x-ms-deleted-share-version": "01DB1D7E2BCE9A6A",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEB9572583D7B\"",
        "Last-Modified": "Sun, 13 Oct 2024 14:43:48 GMT",
        "x-ms-share-included-burst-iops": "5000",
        "x-ms-share-max-burst-credits-for-iops": "16200000",
        "x-ms-share-provisioned-bandwidth-mibps": "125",
        "x-ms-share-provisioned-iops": "500",
        "x-ms-share-quota": "32",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "share": "share172883056691307544"
  }
}
