{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Monitor/accounts/myAzureMonitorWorkspace?api-version=2023-04-03",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-06-01-preview, 2021-06-03-preview, 2023-04-01, 2023-04-03, 2023-06-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "properties": {
          "accountId": "3cda0141-671a-4043-8457-64d15b59438f",
          "metrics": {
            "prometheusQueryEndpoint": "https://myazuremonitorworkspace-duf0h3e3f9eje8db.eastus.prometheus.monitor.azure.com",
            "internalId": "mac_3cda0141-671a-4043-8457-64d15b59438f"
          },
          "provisioningState": "Succeeded",
          "defaultIngestionSettings": {
            "dataCollectionRuleResourceId": "/subscriptions/azure_subscription_id/resourceGroups/MA_myazuremonitorworkspace_eastus_managed/providers/Microsoft.Insights/dataCollectionRules/myazuremonitorworkspace",
            "dataCollectionEndpointResourceId": "/subscriptions/azure_subscription_id/resourceGroups/MA_myazuremonitorworkspace_eastus_managed/providers/Microsoft.Insights/dataCollectionEndpoints/myazuremonitorworkspace"
          },
          "publicNetworkAccess": "Enabled"
        },
        "location": "eastus",
        "id": "/subscriptions/azure_subscription_id/resourcegroups/myjstest/providers/microsoft.monitor/accounts/myazuremonitorworkspace",
        "name": "myAzureMonitorWorkspace",
        "type": "Microsoft.Monitor/accounts",
        "etag": "\u0022ab00f975-0000-0100-0000-66053aa00000\u0022",
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2024-03-28T09:38:26.9099907Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2024-03-28T09:38:26.9099907Z"
        }
      }
    }
  ],
  "Variables": {}
}
