{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.EventHub/namespaces/mynamespacexxx/eventhubs/myeventhubxxx?api-version=2022-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "messageRetentionInDays": 4,
          "partitionCount": 4,
          "status": "Active",
          "captureDescription": {
            "enabled": true,
            "encoding": "Avro",
            "intervalInSeconds": 120,
            "sizeLimitInBytes": 10485763,
            "destination": {
              "name": "EventHubArchive.AzureBlockBlob",
              "properties": {
                "storageAccountResourceId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Storage/storageAccounts/mystorageaccountyyy1",
                "blobContainer": "container",
                "archiveNameFormat": "{Namespace}/{EventHub}/{PartitionId}/{Year}/{Month}/{Day}/{Hour}/{Minute}/{Second}"
              }
            }
          }
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-messaging-activity-id": "e76569d0-85f6-4b7e-8f7f-03625b6aa341",
        "x-ms-messaging-routing-id": "EASTUS|EASTUS|G1|2024-06-27T08:10:44",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "error": {
          "code": "MessagingGatewayBadRequest",
          "message": "SubCode=40000. Generic: Linked access check failed for capture storage destination /subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Storage/storageAccounts/mystorageaccountyyy1. User or the application with object id eece94dc-07aa-4478-b347-5dabc7791d2a making the request doesn't have the required data plane write permissions. Please enable Microsoft.Storage/storageAccounts/blobServices/containers/write, Microsoft.Storage/storageAccounts/blobServices/containers/blobs/write permission(s) on above resource for\u00A0the user or the application and retry. TrackingId:e76569d0-85f6-4b7e-8f7f-03625b6aa341_G8, SystemTracker:mynamespacexxx.servicebus.windows.net:myeventhubxxx, Timestamp:2024-06-27T08:10:44"
        }
      }
    }
  ],
  "Variables": {}
}
