{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Monitor/accounts/myAzureMonitorWorkspace?api-version=2023-04-03",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-06-01-preview, 2021-06-03-preview, 2023-04-01, 2023-04-03, 2023-06-01-preview, 2024-04-01-preview, 2024-04-03-preview, 2024-10-01-preview, 2024-10-03-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "12000",
        "x-ms-ratelimit-remaining-subscription-writes": "800"
      },
      "ResponseBody": {
        "properties": {
          "accountId": "040fdfbe-2c5b-4f5e-a5cb-0c3df196aa3a",
          "metrics": {
            "prometheusQueryEndpoint": "https://myazuremonitorworkspace-dvddgubzcsd8fkhd.eastus.prometheus.monitor.azure.com",
            "internalId": "mac_040fdfbe-2c5b-4f5e-a5cb-0c3df196aa3a"
          },
          "provisioningState": "Succeeded",
          "defaultIngestionSettings": {
            "dataCollectionRuleResourceId": "/subscriptions/azure_subscription_id/resourceGroups/MA_myazuremonitorworkspace_eastus_managed/providers/Microsoft.Insights/dataCollectionRules/myazuremonitorworkspace",
            "dataCollectionEndpointResourceId": "/subscriptions/azure_subscription_id/resourceGroups/MA_myazuremonitorworkspace_eastus_managed/providers/Microsoft.Insights/dataCollectionEndpoints/myazuremonitorworkspace"
          },
          "publicNetworkAccess": "Enabled"
        },
        "location": "eastus",
        "id": "/subscriptions/azure_subscription_id/resourcegroups/myjstest/providers/microsoft.monitor/accounts/myazuremonitorworkspace",
        "name": "myAzureMonitorWorkspace",
        "type": "Microsoft.Monitor/accounts",
        "etag": "Sanitized",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-02-18T08:58:45.0857433Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-02-18T08:58:45.0857433Z"
        }
      }
    }
  ],
  "Variables": {}
}
