{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Insights/metrics?api-version=2024-02-01&region=eastus&metricnamespace=microsoft.compute%2Fvirtualmachines",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "999"
      },
      "ResponseBody": {
        "cost": 59,
        "timespan": "2025-02-18T08:03:24Z/2025-02-18T09:03:24Z",
        "interval": "PT1M",
        "value": [
          {
            "id": "subscriptions/azure_subscription_id/providers/Microsoft.Insights/metrics/Percentage CPU",
            "type": "Microsoft.Insights/metrics",
            "name": {
              "value": "Percentage CPU",
              "localizedValue": "Percentage CPU"
            },
            "displayDescription": "The percentage of allocated compute units that are currently in use by the Virtual Machine(s)",
            "unit": "Percent",
            "timeseries": [],
            "errorCode": "Success"
          }
        ],
        "namespace": "microsoft.compute/virtualmachines",
        "resourceregion": "eastus"
      }
    }
  ],
  "Variables": {}
}
