{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Logic/workflows/myworkflowxxx?api-version=2019-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "19999"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "createdTime": "2024-09-05T09:28:12.6344868Z",
          "changedTime": "2024-09-05T09:28:12.6289842Z",
          "state": "Enabled",
          "version": "08584760783928655082",
          "accessEndpoint": "https://prod-65.eastus.logic.azure.com:443/workflows/88faf916d58344c4822b892b316d882b",
          "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {},
            "triggers": {},
            "actions": {},
            "outputs": {}
          },
          "parameters": {},
          "endpointsConfiguration": {
            "workflow": {
              "outgoingIpAddresses": [
                {
                  "address": "13.92.98.111"
                },
                {
                  "address": "40.121.91.41"
                },
                {
                  "address": "40.114.82.191"
                },
                {
                  "address": "23.101.139.153"
                },
                {
                  "address": "23.100.29.190"
                },
                {
                  "address": "23.101.136.201"
                },
                {
                  "address": "104.45[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Storage/storageAccounts/mystorageaccountyyy1?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_GRS",
          "tier": "Standard"
        },
        "kind": "StorageV2",
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Storage/storageAccounts/mystorageaccountyyy1",
        "name": "mystorageaccountyyy1",
        "type": "Microsoft.Storage/storageAccounts",
        "location": "eastus",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "properties": {
          "keyCreationTime": {
            "key1": "2024-09-05T09:28:21.1417007Z",
            "key2": "2024-09-05T09:28:21.1417007Z"
          },
          "allowCrossTenantReplication": false,
          "privateEndpointConnections": [],
          "minimumTlsVersion": "TLS1_0",
          "allowBlobPublicAccess": true,
          "networkAcls": {
            "ipv6Rules": [],
            "bypass": "AzureServices",
            "virtualNetworkRules": [],
            "ipRules": [],
            "defaultAction": "Allow"
          },
          "supportsHttpsTrafficOnly": true,
          "encryption": {
            "services": {
              "file": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2024-09-05T09:28:21.1729511Z"
              },
              "blob": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2024-09-05T09:28:21.1729511Z"
              }
            },
            "keySource": "Microsoft.Storage"
          },
          "accessTier": "Hot",
          "provisioningState": "Succeeded",
          "creationTime": "2024-09-05T09:28:20.9698277Z",
          "primaryEndpoints": {
            "dfs": "https://mystorageaccountyyy1.dfs.core.windows.net/",
            "web": "https://mystorageaccountyyy1.z13.web.core.windows.net/",
            "blob": "https://mystorageaccountyyy1.blob.core.windows.net/",
            "queue": "https://mystorageaccountyyy1.queue.core.windows.net/",
            "table": "https://mystorageaccountyyy1.table.core.windows.net/",
            "file": "https://mystorageaccountyyy1.file.core.windows.net/"
          },
          "primaryLocation": "eastus",
          "statusOfPrimary": "available",
          "secondaryLocation": "westus",
          "statusOfSecondary": "available"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.EventHub/namespaces/mynamespacexxx/authorizationRules/myauthorizationRulexxx?api-version=2024-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-messaging-activity-id": "c070e708-dcbd-4d31-b360-28ec6329052d",
        "x-ms-messaging-routing-id": "EASTUS|EASTUS|G13|2024-09-05T09:30:03",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.EventHub/namespaces/mynamespacexxx/authorizationrules/myauthorizationRulexxx",
        "name": "myauthorizationRulexxx",
        "type": "Microsoft.EventHub/Namespaces/AuthorizationRules",
        "location": "eastus",
        "properties": {
          "rights": [
            "Listen",
            "Send",
            "Manage"
          ]
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourcegroups/myjstest/providers/Microsoft.OperationalInsights/workspaces/myworkspacexxx?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "properties": {
          "customerId": "04f79195-0498-42c6-bc3b-4acec171a25a",
          "provisioningState": "Succeeded",
          "sku": {
            "name": "PerGB2018",
            "lastSkuUpdate": "2024-09-05T09:29:50.8930025Z"
          },
          "retentionInDays": 30,
          "features": {
            "legacy": 0,
            "searchVersion": 1,
            "enableLogAccessUsingOnlyResourcePermissions": true
          },
          "workspaceCapping": {
            "dailyQuotaGb": -1.0,
            "quotaNextResetTime": "2024-09-05T23:00:00Z",
            "dataIngestionStatus": "RespectQuota"
          },
          "publicNetworkAccessForIngestion": "Enabled",
          "publicNetworkAccessForQuery": "Enabled",
          "createdDate": "2024-09-05T09:29:50.8930025Z",
          "modifiedDate": "2024-09-05T09:30:03.2628656Z"
        },
        "location": "eastus",
        "tags": {
          "tag1": "value1"
        },
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.OperationalInsights/workspaces/myworkspacexxx",
        "name": "myworkspacexxx",
        "type": "Microsoft.OperationalInsights/workspaces",
        "etag": "Sanitized"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Logic/workflows/myworkflowxxx/providers/Microsoft.Insights/diagnosticSettings/mydiagnosticxxxx?api-version=2021-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "storageAccountId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Storage/storageAccounts/mystorageaccountyyy1",
          "eventHubAuthorizationRuleId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.EventHub/namespaces/mynamespacexxx/authorizationrules/myauthorizationRulexxx",
          "eventHubName": "myeventhubxxx",
          "metrics": [],
          "logs": [
            {
              "category": "WorkflowRuntime",
              "enabled": true,
              "retentionPolicy": {
                "enabled": false,
                "days": 0
              }
            }
          ],
          "workspaceId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.OperationalInsights/workspaces/myworkspacexxx"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "149"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourcegroups/myjstest/providers/microsoft.logic/workflows/myworkflowxxx/providers/microsoft.insights/diagnosticSettings/mydiagnosticxxxx",
        "type": "Microsoft.Insights/diagnosticSettings",
        "name": "mydiagnosticxxxx",
        "location": null,
        "kind": null,
        "tags": null,
        "properties": {
          "storageAccountId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Storage/storageAccounts/mystorageaccountyyy1",
          "serviceBusRuleId": null,
          "workspaceId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.OperationalInsights/workspaces/myworkspacexxx",
          "eventHubAuthorizationRuleId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.EventHub/namespaces/mynamespacexxx/authorizationrules/myauthorizationRulexxx",
          "eventHubName": "myeventhubxxx",
          "metrics": [],
          "logs": [
            {
              "category": "WorkflowRuntime",
              "categoryGroup": null,
              "enabled": true,
              "retentionPolicy": {
                "enabled": false,
                "days": 0
              }
            }
          ],
          "logAnalyticsDestinationType": null
        },
        "identity": null
      }
    }
  ],
  "Variables": {}
}
