{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Logic/workflows/myworkflowxxx?api-version=2019-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {},
            "triggers": {},
            "actions": {},
            "outputs": {}
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "createdTime": "2024-06-27T08:23:18.2407667Z",
          "changedTime": "2024-06-27T08:23:18.2369167Z",
          "state": "Enabled",
          "version": "08584821302873089342",
          "accessEndpoint": "https://prod-01.eastus.logic.azure.com:443/workflows/db2d97f297244e9c955b5d9368e3cb52",
          "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {},
            "triggers": {},
            "actions": {},
            "outputs": {}
          },
          "parameters": {},
          "endpointsConfiguration": {
            "workflow": {
              "outgoingIpAddresses": [
                {
                  "address": "13.92.98.111"
                },
                {
                  "address": "40.121.91.41"
                },
                {
                  "address": "40.114.82.191"
                },
                {
                  "address": "23.101.139.153"
                },
                {
                  "address": "23.100.29.190"
                },
                {
                  "address": "23.101.136.201"
                },
                {
                  "address": "104.45.153.81"
                },
                {
                  "address": "23.101.132.208"
                },
                {
                  "address": "52.226.216.197"
                },
                {
                  "address": "52.226.216.187"
                },
                {
                  "address": "40.76.151.25"
                },
                {
                  "address": "40.76.148.50"
                },
                {
                  "address": "20.84.29.29"
                },
                {
                  "address": "20.84.29.18"
                },
                {
                  "address": "40.76.174.83"
                },
                {
                  "address": "40.76.174.39"
                }
              ],
              "accessEndpointIpAddresses": [
                {
                  "address": "137.135.106.54"
                },
                {
                  "address": "40.117.99.79"
                },
                {
                  "address": "40.117.100.228"
                },
                {
                  "address": "137.116.126.165"
                },
                {
                  "address": "52.226.216.209"
                },
                {
                  "address": "40.76.151.124"
                },
                {
                  "address": "20.84.29.150"
                },
                {
                  "address": "40.76.174.148"
                }
              ]
            },
            "connector": {
              "outgoingIpAddresses": [
                {
                  "address": "40.71.249.139"
                },
                {
                  "address": "40.71.249.205"
                },
                {
                  "address": "40.114.40.132"
                },
                {
                  "address": "40.71.11.80/28"
                },
                {
                  "address": "40.71.15.160/27"
                },
                {
                  "address": "52.188.157.160"
                },
                {
                  "address": "20.88.153.176/28"
                },
                {
                  "address": "20.88.153.192/27"
                },
                {
                  "address": "52.151.221.184"
                },
                {
                  "address": "52.151.221.119"
                }
              ]
            }
          }
        },
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Logic/workflows/myworkflowxxx",
        "name": "myworkflowxxx",
        "type": "Microsoft.Logic/workflows",
        "location": "eastus"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Storage/storageAccounts/mystorageaccountyyy1?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_GRS"
        },
        "kind": "StorageV2",
        "location": "eastus",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "properties": {
          "encryption": {
            "services": {
              "blob": {
                "enabled": true,
                "keyType": "Account"
              },
              "file": {
                "enabled": true,
                "keyType": "Account"
              }
            },
            "keySource": "Microsoft.Storage"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Storage/locations/eastus/asyncoperations/d20214d8-535d-4dae-8100-ecc38074fe4e?monitor=true&api-version=2023-05-01&t=638550734048863383&c=MIIHhzCCBm-gAwIBAgITHgTLf2Bo2ctQx42TXQAABMt_YDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI0MTExMDUyWhcNMjUwNjE5MTExMDUyWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Storage/locations/eastus/asyncoperations/d20214d8-535d-4dae-8100-ecc38074fe4e?monitor=true&api-version=2023-05-01&t=638550734048863383&c=MIIHhzCCBm-gAwIBAgITHgTLf2Bo2ctQx42TXQAABMt_YDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI0MTExMDUyWhcNMjUwNjE5MTExMDUyWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Storage/locations/eastus/asyncoperations/d20214d8-535d-4dae-8100-ecc38074fe4e?monitor=true&api-version=2023-05-01&t=638550734052628896&c=MIIHhzCCBm-gAwIBAgITHgTOmixCtVmKPtd-FAAABM6aLDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI2MDEyNDE5WhcNMjUwNjIxMDEyNDE5WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Storage/locations/eastus/asyncoperations/d20214d8-535d-4dae-8100-ecc38074fe4e?monitor=true&api-version=2023-05-01&t=638550734056048723&c=MIIHhzCCBm-gAwIBAgITHgTOmixCtVmKPtd-FAAABM6aLDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI2MDEyNDE5WhcNMjUwNjIxMDEyNDE5WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.EventHub/namespaces/mynamespacexxx?api-version=2022-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "sku": {
          "name": "Standard",
          "tier": "Standard"
        },
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-messaging-activity-id": "d7662f35-cb96-4c08-a5ce-ba8027f7c982",
        "x-ms-messaging-routing-id": "EASTUS|EASTUS|G10|2024-06-27T08:23:48",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "49"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.EventHub/namespaces/mynamespacexxx",
        "name": "mynamespacexxx",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "eastus",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {
          "minimumTlsVersion": "1.2",
          "publicNetworkAccess": "Enabled",
          "disableLocalAuth": false,
          "zoneRedundant": false,
          "metricId": "azure_subscription_id:mynamespacexxx",
          "serviceBusEndpoint": "https://mynamespacexxx.servicebus.windows.net:443/",
          "isAutoInflateEnabled": false,
          "maximumThroughputUnits": 0,
          "kafkaEnabled": true,
          "provisioningState": "Creating",
          "status": "Creating",
          "createdAt": "2024-06-27T06:27:21.1795398Z",
          "updatedAt": "2024-06-27T08:23:48.7721817Z"
        },
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.EventHub/namespaces/mynamespacexxx/authorizationRules/myauthorizationRulexxx?api-version=2022-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "rights": [
            "Listen",
            "Send",
            "Manage"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-messaging-activity-id": "e3c1efcc-09da-465b-adb4-1cf9c08b46d7",
        "x-ms-messaging-routing-id": "EASTUS|EASTUS|G5|2024-06-27T08:24:20",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.EventHub/namespaces/mynamespacexxx/authorizationRules/myauthorizationRulexxx",
        "name": "myauthorizationRulexxx",
        "type": "Microsoft.EventHub/Namespaces/AuthorizationRules",
        "location": "eastus",
        "properties": {
          "rights": [
            "Listen",
            "Send",
            "Manage"
          ]
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourcegroups/myjstest/providers/Microsoft.OperationalInsights/workspaces/myworkspacexxx?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "tag1": "value1"
        },
        "location": "eastus",
        "properties": {
          "sku": {
            "name": "PerNode"
          },
          "retentionInDays": 30
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "properties": {
          "customerId": "16d9b09f-6e35-4b9c-90b6-d706513d4f59",
          "provisioningState": "Succeeded",
          "sku": {
            "name": "PerGB2018",
            "lastSkuUpdate": "2024-06-27T08:10:32.0624926Z"
          },
          "retentionInDays": 30,
          "features": {
            "legacy": 0,
            "searchVersion": 1,
            "enableLogAccessUsingOnlyResourcePermissions": true
          },
          "workspaceCapping": {
            "dailyQuotaGb": -1.0,
            "quotaNextResetTime": "2024-06-27T17:00:00Z",
            "dataIngestionStatus": "RespectQuota"
          },
          "publicNetworkAccessForIngestion": "Enabled",
          "publicNetworkAccessForQuery": "Enabled",
          "createdDate": "2024-06-27T08:10:32.0624926Z",
          "modifiedDate": "2024-06-27T08:24:25.7883345Z"
        },
        "location": "eastus",
        "tags": {
          "tag1": "value1"
        },
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.OperationalInsights/workspaces/myworkspacexxx",
        "name": "myworkspacexxx",
        "type": "Microsoft.OperationalInsights/workspaces",
        "etag": "Sanitized"
      }
    }
  ],
  "Variables": {}
}
