{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/restore?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/restore?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sasTokenParameters": {
          "storageResourceUri": "https://uri.blob.core.windows.net",
          "token": "Sanitized",
          "useManagedIdentity": false
        },
        "folderToRestore": "uri"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f0a56e35-e2b6-4530-b2ba-ea31687aaa7f",
        "x-ms-server-latency": "63"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "innererror": null,
          "message": "The customer provided SAS token is malformed. The SAS token does not contain the expiry field"
        }
      }
    }
  ],
  "Variables": {
    "suffix": "suffix-358777"
  }
}
