{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/rsa1/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/rsa1/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {
          "enabled": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "114"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1778676010,
          "enabled": false,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1778676010
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "sign",
            "verify",
            "encrypt",
            "decrypt",
            "unwrapKey"
          ],
          "kid": "https://azure_managedhsm.managedhsm.azure.net/keys/rsa1/facc948e0e18435a249a9954b4cafce3",
          "kty": "RSA-HSM",
          "n": "k2pGmzKtLuwrHL0t3C1UXpIUAgMCH0RB1CmG8aaPYsrnRGWwHBfjFT-wFD7CQtOx7b7YAtyi5yTu6hjxP3h2va34bVrrbx6csXPZlns-PiJxUsRCRwMjTsxy84xryBA8nBSDZ3L9-BXvUGDvDKCn8kBus3u07x4Kv9AZNtoI7hSoB4gsBZemS5QjO5PmkdJnIFXCjoQWX4b9oNc-1p35ip3UhUlUlU-Nwj1tMBo5usDH9Sjp_5BoIwisrEKk2tDrzVFmZSMSXPaWVBCmH3LFlMfYgc5u8A6Y9DISrbUt_ZVG1enxRFzsEk15pledqvkrj1Y7Lv4VcMClcMMxQlLNeQ"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://uri.blob.core.windows.net/uri",
        "useManagedIdentity": true
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://azure_managedhsm.managedhsm.azure.net/backup/840e0f992adc4f63bcec3db6bb62235a/pending",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "46ab1c80-8ee4-478c-b59d-5c4ccb6ee2aa",
        "Retry-After": "10",
        "x-ms-server-latency": "541"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": null,
        "startTime": 1778676015,
        "endTime": null,
        "jobId": "840e0f992adc4f63bcec3db6bb62235a",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup/840e0f992adc4f63bcec3db6bb62235a/pending?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "bb56b6bb-e497-4bdd-b70e-54598a07f988",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "67"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": null,
        "error": null,
        "jobId": "840e0f992adc4f63bcec3db6bb62235a",
        "startTime": 1778676015,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/rsa1?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "27"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1778676010,
          "enabled": false,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1778676010
        },
        "deletedDate": 1778676027,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "sign",
            "verify",
            "encrypt",
            "decrypt",
            "unwrapKey"
          ],
          "kid": "https://azure_managedhsm.managedhsm.azure.net/keys/rsa1/facc948e0e18435a249a9954b4cafce3",
          "kty": "RSA-HSM",
          "n": "k2pGmzKtLuwrHL0t3C1UXpIUAgMCH0RB1CmG8aaPYsrnRGWwHBfjFT-wFD7CQtOx7b7YAtyi5yTu6hjxP3h2va34bVrrbx6csXPZlns-PiJxUsRCRwMjTsxy84xryBA8nBSDZ3L9-BXvUGDvDKCn8kBus3u07x4Kv9AZNtoI7hSoB4gsBZemS5QjO5PmkdJnIFXCjoQWX4b9oNc-1p35ip3UhUlUlU-Nwj1tMBo5usDH9Sjp_5BoIwisrEKk2tDrzVFmZSMSXPaWVBCmH3LFlMfYgc5u8A6Y9DISrbUt_ZVG1enxRFzsEk15pledqvkrj1Y7Lv4VcMClcMMxQlLNeQ"
        },
        "recoveryId": "https://azure_managedhsm.managedhsm.azure.net/deletedkeys/rsa1",
        "scheduledPurgeDate": 1779280827
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys/rsa1?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "4"
      },
      "ResponseBody": {
        "attributes[...]
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/rsa1/restore?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sasTokenParameters": {
          "storageResourceUri": "https://uri.blob.core.windows.net/uri",
          "useManagedIdentity": true
        },
        "folder": "mhsm-acavalari-sdkhsm-2026051312401580"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://azure_managedhsm.managedhsm.azure.net/restore/c3ce102f474d4909815982b7260dc3c5/pending",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "6071618e-189c-45f3-873b-4f3200d9b1a9",
        "Retry-After": "10",
        "x-ms-server-latency": "518"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "c3ce102f474d4909815982b7260dc3c5",
        "startTime": 1778676028,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/restore/c3ce102f474d4909815982b7260dc3c5/pending?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b8357e9c-31e7-468a-a4a2-714d31873672",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "70"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "c3ce102f474d4909815982b7260dc3c5",
        "startTime": 1778676028,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/rsa1/?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "4"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1778676010,
          "enabled": false,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1778676010
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "unwrapKey",
            "decrypt",
            "encrypt",
            "verify",
            "sign",
            "wrapKey"
          ],
          "kid": "https://azure_managedhsm.managedhsm.azure.net/keys/rsa1/facc948e0e18435a249a9954b4cafce3",
          "kty": "RSA-HSM",
          "n": "k2pGmzKtLuwrHL0t3C1UXpIUAgMCH0RB1CmG8aaPYsrnRGWwHBfjFT-wFD7CQtOx7b7YAtyi5yTu6hjxP3h2va34bVrrbx6csXPZlns-PiJxUsRCRwMjTsxy84xryBA8nBSDZ3L9-BXvUGDvDKCn8kBus3u07x4Kv9AZNtoI7hSoB4gsBZemS5QjO5PmkdJnIFXCjoQWX4b9oNc-1p35ip3UhUlUlU-Nwj1tMBo5usDH9Sjp_5BoIwisrEKk2tDrzVFmZSMSXPaWVBCmH3LFlMfYgc5u8A6Y9DISrbUt_ZVG1enxRFzsEk15pledqvkrj1Y7Lv4VcMClcMMxQlLNeQ"
        }
      }
    }
  ],
  "Variables": {
    "suffix": "suffix-135745"
  }
}
