{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTModelTestsModel%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a0bb09fd-c4f5-458b-b7fe-95fe1afa658d",
        "traceresponse": "00-e2f2e92481f0acd26c2f2f0e50420149-ad43878d682a7874-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTModelTestsModel;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTModelTestsComponent%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a0f5a2d3-cace-4f97-9cb0-9833b97af754",
        "traceresponse": "00-fd0a2751138cbc4f1b3868caf8e5597a-1c63f7d535df6d42-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTModelTestsComponent;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\":\"dtmi:samples:DTModelTestsComponent;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"Component1\",\"contents\":[{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"string\"},{\"@type\":\"Telemetry\",\"name\":\"Sanitized\",\"schema\":\"integer\"}]},{\"@id\":\"dtmi:samples:DTModelTestsModel;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"TempModel\",\"contents\":[{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"string\"},{\"@type\":\"Component\",\"name\":\"Sanitized\",\"schema\":\"dtmi:samples:DTModelTestsComponent;1\"},{\"@type\":\"Telemetry\",\"name\":\"Sanitized\",\"schema\":\"integer\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "594d5f13-30f9-4a6b-b5d7-419d1f3ee4d6",
        "traceresponse": "00-14fb1168c6933958ed762c1eac984058-fc7d7becee963092-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:samples:DTModelTestsComponent;1\",\"description\":{},\"displayName\":{\"en\":\"Component1\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-13T18:15:50.4726474+00:00\"},{\"id\":\"dtmi:samples:DTModelTestsModel;1\",\"description\":{},\"displayName\":{\"en\":\"TempModel\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-13T18:15:50.4726681+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTModelTestsComponent%3B1?api-version=2023-10-31&includeModelDefinition=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b1ac0492-13ed-44e0-af23-80cb29f34742",
        "traceresponse": "00-d813b9eb47d9c7bc2991cb1ca1d0bdf8-8b78e1af40037136-01"
      },
      "ResponseBody": {
        "id": "dtmi:samples:DTModelTestsComponent;1",
        "description": {},
        "displayName": {
          "en": "Component1"
        },
        "decommissioned": false,
        "uploadTime": "2025-05-13T18:15:50.4726474+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTModelTestsComponent%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "2ebee2eb-1031-4c48-bca9-817e8c106824",
        "traceresponse": "00-f0b3b6e28355617d716e93842b55c418-b3cf5b465c6a95d9-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
