{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTModelTestsModel%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0ed4d109-35ca-42b6-a682-f9a7a83685ad",
        "traceresponse": "00-af8f3cf56c2e65769137183fd8d00b48-23ed0e7e120ec4cf-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTModelTestsModel;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTModelTestsComponent%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "95ca9bc4-b3ec-4c65-bcfb-f0d3d1bb4459",
        "traceresponse": "00-ade0a7ebdb71d027f9c107d99ecebfce-e6a455119517e506-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTModelTestsComponent;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\":\"dtmi:samples:DTModelTestsComponent;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"Component1\",\"contents\":[{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"string\"},{\"@type\":\"Telemetry\",\"name\":\"Sanitized\",\"schema\":\"integer\"}]},{\"@id\":\"dtmi:samples:DTModelTestsModel;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"TempModel\",\"contents\":[{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"string\"},{\"@type\":\"Component\",\"name\":\"Sanitized\",\"schema\":\"dtmi:samples:DTModelTestsComponent;1\"},{\"@type\":\"Telemetry\",\"name\":\"Sanitized\",\"schema\":\"integer\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7d563e3a-1479-4ac4-948a-e74497242542",
        "traceresponse": "00-b3c10cbda931b041645467dbff377b79-60ccabb17d426da5-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:samples:DTModelTestsComponent;1\",\"description\":{},\"displayName\":{\"en\":\"Component1\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-20T16:04:07.312486+00:00\"},{\"id\":\"dtmi:samples:DTModelTestsModel;1\",\"description\":{},\"displayName\":{\"en\":\"TempModel\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-20T16:04:07.3125297+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTModelTestsComponent%3B1?api-version=2023-10-31&includeModelDefinition=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "6ab705b2-1eeb-413f-b582-c68370886605",
        "traceresponse": "00-6c4c5f72b1bc0637d3c5e69f7f722c1f-6add696237d18194-01"
      },
      "ResponseBody": {
        "id": "dtmi:samples:DTModelTestsComponent;1",
        "description": {},
        "displayName": {
          "en": "Component1"
        },
        "decommissioned": false,
        "uploadTime": "2025-05-20T16:04:07.312486+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTModelTestsComponent%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "87c6c711-ff76-4933-8e50-0ef1db949c27",
        "traceresponse": "00-dc3335c8336eda35eff03d9ed7f189e8-3a0f7e4cc941083d-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
