{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch8235/providers/Microsoft.Batch/batchAccounts/testaccount5439?api-version=2025-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "autoStorage": {
            "storageAccountId": "/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch8235/providers/Microsoft.Storage/storageAccounts/azstorageforbatch5901"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch8235/providers/Microsoft.Batch/batchAccounts/testaccount5439/operationResults/405b0bbd-2a7f-469c-b39f-9a1122af953b?api-version=2025-06-01&t=639064418464173534&c=MIIIrzCCBpegAwIBAgITUQHpaU7Wg63xzd-r0QABAelpTjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMjYwMjA0MDA1OTExWhcNMjYwNTI0MjI1NzAzWjBAMT4wPAYDVQQDEzVhc3luY29wZX[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch8235/providers/Microsoft.Batch/batchAccounts/testaccount5439/operationResults/405b0bbd-2a7f-469c-b39f-9a1122af953b?api-version=2025-06-01&t=639064418464173534&c=MIIIrzCCBpegAwIBAgITUQHpaU7Wg63xzd-r0QABAelpTjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMjYwMjA0MDA1OTExWhcNMjYwNTI0MjI1NzAzWjBAM[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch8235/providers/Microsoft.Batch/batchAccounts/testaccount5439/operationResults/405b0bbd-2a7f-469c-b39f-9a1122af953b?api-version=2025-06-01&t=639064418465817583&c=MIIIrzCCBpegAwIBAgITUQHpaU7Wg63xzd-r0QABAelpTjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMjYwMjA0MDA1OTExWhcNMjYwNTI0MjI1NzAzWjBAM[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions"
        },
        "subscriptionId": "94bd7ded-68b4-4ffa-82a5-37ac72caa2ec",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "WAT-Shell4",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourcegroups/rg-wiborisbatch?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/rg-wiborisbatch",
        "name": "rg-wiborisbatch",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "ServiceDirectory": "batch",
          "Owners": "wiboris",
          "DeleteAfter": "2026-02-20T00:51:37.7691342+00:00"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/rg-wiborisbatch/providers/Microsoft.Batch/batchAccounts/netsdkba6gjuqiirf4mgk?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"0x8DE683EA3B4011B\"",
        "Last-Modified": "Tue, 10 Feb 2026 00:52:17 GMT",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/rg-wiborisbatch/providers/Microsoft.Batch/batchAccounts/netsdkba6gjuqiirf4mgk",
        "name": "netsdkba6gjuqiirf4mgk",
        "type": "Microsoft.Batch/batchAccounts",
        "location": "eastus2",
        "properties": {
          "accountEndpoint": "netsdkba6gjuqiirf4mgk.eastus2.batch.azure.com",
          "nodeManagementEndpoint": "f11b70cf-b02e-4ea1-8250-ae0459a839bb.eastus2.service.batch.azure.com",
          "provisioningState": "Succeeded",
          "dedicatedCoreQuota": 500,
          "dedicatedCoreQuotaPerVMFamily": [
            {
              "name": "standardAv2Family",
              "coreQuota": 500
            },
            {
              "name": "standardDv2Family",
              "coreQuota": 250
            },
            {
              "name": "standardDv3Family",
              "coreQuota": 500
            },
            {
              "name": "standardEv3Family",
              "coreQuota": 500
            },
            {
              "name": "standardDSv2Family",
              "coreQuota": 250
            },
            {
              "name": "standardDSv3Family",
         [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/rg-wiborisbatch/providers/Microsoft.Batch/batchAccounts/netsdkba6gjuqiirf4mgk/pools/Pool-8893?api-version=2025-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/rg-wiborisbatch/providers/Microsoft.ManagedIdentity/userAssignedIdentities/netsdkui6gjuqiirf4mgk": {}
          }
        },
        "properties": {
          "displayName": "test_pool",
          "vmSize": "Standard_d4s_v3",
          "deploymentConfiguration": {
            "virtualMachineConfiguration": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2022-datacenter-g2",
                "version": "latest"
              },
              "nodeAgentSkuId": "batch.node.windows amd64",
              "dataDisks": [
                {
                  "lun": 0,
                  "diskSizeGB": 1024,
                  "managedDisk": {
                    "storageAccountType": "Standard_LRS"
                  }
                }
              ],
              "diskEncryptionConfiguration": {
                "targets": [
                  "OsDisk"
                ],
                "customerManagedKey": {
                  "keyUrl": "https://netsdkkeyv6gjuqiirf4mgk.vault.azure.net/keys/cmk/928c17b02b9443df94c45a715131ba8f",
                  "rotationToLatestKeyVersionEnabled": true,
                  "identityReference": {
                    "resourceId": "/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/rg-wiborisbatch/providers/Microsoft.ManagedIdentity/userAssignedIdentities/netsdkui6gjuqiirf4mgk"
                  }
                }
              },
              "osDisk": {
                "caching": "ReadWrite",
                "managedDisk": {
                  "securityProfile": {
                    "securityEncryptionType": "VMGuestStateOnly"
                  }
                }
              },
              "securityProfile": {
                "securityType": "confidentialVM",
                "encryptionAtHost": false,
                "uefiSettings": {
                  "secureBootEnabled": true,
                  "vTpmEnabled": true
                },
                "proxyAgentSettings": {
                  "enabled": false,
                  "imds": {
                    "mode": "Audit"
                  }
                }
              }
            }
          },
          "scaleSettings": {
            "fixedScale": {
              "targetDedicatedNodes": 0,
              "targetLowPriorityNodes": 0
            }
          },
          "startTask": {
            "commandLine": "cmd.exe /c \"echo hello world\"",
            "resourceFiles": [
              {
                "httpUrl": "https://blobsource.com/",
                "filePath": "filename.txt",
                "identityReference": {
                  "resourceId": "refUserId123"
                }
              }
            ],
            "environmentSettings": [
              {
                "name": "ENV_VAR",
                "value": "env_value"
              }
            ],
            "userIdentity": {
              "autoUser": {
                "elevationLevel": "Admin"
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"0x8DE69B3EE2FD738\"",
        "Last-Modified": "Wed, 11 Feb 2026 21:24:24 GMT",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/rg-wiborisbatch/providers/Microsoft.ManagedIdentity/userAssignedIdentities/netsdkui6gjuqiirf4mgk": {
              "principalId": "00000000-0000-0000-0000-000000000000",
              "clientId": "00000000-0000-0000-0000-000000000000"
            }
          }
        },
        "id": "/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/rg-wiborisbatch/providers/Microsoft.Batch/batchAccounts/netsdkba6gjuqiirf4mgk/pools/Pool-8893",
        "name": "Pool-8893",
        "type": "Microsoft.Batch/batchAccounts/pools",
        "etag": "W/\"0x8DE69B3EE2FD738\"",
        "properties": {
          "displayName": "test_pool",
          "lastModified": "2026-02-11T21:24:24.936428Z",
          "creationTime": "2026-02-11T21:24:24.9364273Z",
          "provisioningState": "Succeeded",
          "provisioningStateTransitionTime": "2026-02-11T21:24:24.9364273Z",
          "allocationState": "Resizing",
          "allocationStateTransitionTime": "2026-02-11T21:24:24.936428Z",
          "vmSize": "STANDARD_D4S_V3",
          "interNodeCommunication": "Disabled",
          "taskSlotsPerNode": 1,
          "taskSchedulingPolicy": {
            "nodeFillType": "Spread",
            "jobDefaultOrder": "None"
          },
          "deploymentConfiguration": {
            "virtualMachineConfiguration": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2022-datacenter-g2",
                "version": "latest"
              },
              "nodeAgentSkuId": "batch.node.windows amd64",
              "dataDisks": [
                {
                  "lun": 0,
                  "caching": "N[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/rg-wiborisbatch/providers/Microsoft.Batch/batchAccounts/netsdkba6gjuqiirf4mgk/poolOperationResults/delete-Pool-8893?api-version=2025-06-01&t=639064418664691714&c=MIIHpTCCBo2gAwIBAgITfwaYHapxdJBcIqiD1AAEBpgdqjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjYwMTMxMDkxODAyWhcNMjYwNTI0MjI1NzAzWjBAMT4wPAYDVQQD[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/rg-wiborisbatch/providers/Microsoft.Batch/batchAccounts/netsdkba6gjuqiirf4mgk/poolOperationResults/delete-pool-8893?api-version=2025-06-01&t=639064418666744618&c=MIIHpTCCBo2gAwIBAgITfwaYHapxdJBcIqiD1AAEBpgdqjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjYwMTMxMDkxODAyWhcNMjYwNTI0MjI1NzAzWjBAMT4wPAYDVQQD[...]
