{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch7226/providers/Microsoft.Batch/batchAccounts/testaccount5795?api-version=2025-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "autoStorage": {
            "storageAccountId": "/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch7226/providers/Microsoft.Storage/storageAccounts/azstorageforbatch5381"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch7226/providers/Microsoft.Batch/batchAccounts/testaccount5795/operationResults/1ef383c6-5452-479a-963c-d2ea04141e6e?api-version=2025-06-01&t=639051562915813857&c=MIIHpTCCBo2gAwIBAgITOgZElHM1nBrt7NMepgAEBkSUczANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjYwMTIzMDQ0NzQyWhcNMjYwNTI0MjI1NzAzWjBAMT4wPAYDVQQDEzVhc3luY29wZX[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch7226/providers/Microsoft.Batch/batchAccounts/testaccount5795/operationResults/1ef383c6-5452-479a-963c-d2ea04141e6e?api-version=2025-06-01&t=639051562915813857&c=MIIHpTCCBo2gAwIBAgITOgZElHM1nBrt7NMepgAEBkSUczANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjYwMTIzMDQ0NzQyWhcNMjYwNTI0MjI1NzAzWjBAM[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch7226/providers/Microsoft.Batch/batchAccounts/testaccount5795/operationResults/1ef383c6-5452-479a-963c-d2ea04141e6e?api-version=2025-06-01&t=639051562917128809&c=MIIHpTCCBo2gAwIBAgITOgZElHM1nBrt7NMepgAEBkSUczANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjYwMTIzMDQ0NzQyWhcNMjYwNTI0MjI1NzAzWjBAM[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch7226/providers/Microsoft.Batch/batchAccounts/testaccount5795/pools/Pool-3124?api-version=2025-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "displayName": "test_pool",
          "vmSize": "Standard_d4s_v3",
          "deploymentConfiguration": {
            "virtualMachineConfiguration": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2022-datacenter-g2",
                "version": "latest"
              },
              "nodeAgentSkuId": "batch.node.windows amd64",
              "osDisk": {
                "caching": "ReadWrite",
                "managedDisk": {
                  "securityProfile": {
                    "securityEncryptionType": "VMGuestStateOnly"
                  }
                }
              },
              "securityProfile": {
                "securityType": "confidentialVM",
                "encryptionAtHost": false,
                "uefiSettings": {
                  "secureBootEnabled": true,
                  "vTpmEnabled": true
                },
                "proxyAgentSettings": {
                  "enabled": true,
                  "imds": {
                    "mode": "Audit"
                  }
                }
              }
            }
          },
          "scaleSettings": {
            "fixedScale": {
              "targetDedicatedNodes": 0,
              "targetLowPriorityNodes": 0
            }
          },
          "startTask": {
            "commandLine": "cmd.exe /c \"echo hello world\"",
            "resourceFiles": [
              {
                "httpUrl": "https://blobsource.com/",
                "filePath": "filename.txt",
                "identityReference": {
                  "resourceId": "refUserId123"
                }
              }
            ],
            "environmentSettings": [
              {
                "name": "ENV_VAR",
                "value": "env_value"
              }
            ],
            "userIdentity": {
              "autoUser": {
                "elevationLevel": "Admin"
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"0x8DE5E02C20B6CAA\"",
        "Last-Modified": "Wed, 28 Jan 2026 00:18:27 GMT",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch7226/providers/Microsoft.Batch/batchAccounts/testaccount5795/pools/Pool-3124",
        "name": "Pool-3124",
        "type": "Microsoft.Batch/batchAccounts/pools",
        "etag": "W/\"0x8DE5E02C20B6CAA\"",
        "properties": {
          "displayName": "test_pool",
          "lastModified": "2026-01-28T00:18:27.1663274Z",
          "creationTime": "2026-01-28T00:18:27.166327Z",
          "provisioningState": "Succeeded",
          "provisioningStateTransitionTime": "2026-01-28T00:18:27.166327Z",
          "allocationState": "Resizing",
          "allocationStateTransitionTime": "2026-01-28T00:18:27.1663274Z",
          "vmSize": "STANDARD_D4S_V3",
          "interNodeCommunication": "Disabled",
          "taskSlotsPerNode": 1,
          "taskSchedulingPolicy": {
            "nodeFillType": "Spread",
            "jobDefaultOrder": "None"
          },
          "deploymentConfiguration": {
            "virtualMachineConfiguration": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2022-datacenter-g2",
                "version": "latest"
              },
              "nodeAgentSkuId": "batch.node.windows amd64",
              "osDisk": {
                "caching": "ReadWrite",
                "managedDisk": {
                  "storageAccountType": "Standard_LRS",
                  "securityProfile": {
                    "securityEncryptionType": "VMGuestStateOnly"
                  }
                }
              },
              "securityProfile": {
                "securityType": "ConfidentialVM",
                "encryptionAtHost": false,
                "uefiSettings": {
                  "secureBootEnabled": true,
                  "vTpmEnabled": true
                },
                "proxyAgentSettings": {
                  "enabled": true,
                  "imds": {
                    "mode": "Audit"
                  }
                }
              }
            }
          },
          "scaleSettings": {
            "fixedScale": {
              "targetDedicatedNodes": 0,
              "targetLowPriorityNodes": 0,
              "resizeTimeout": "PT15M"
            }
          },
          "startTask": {
            "commandLine": "cmd.exe /c \"echo hello world\"",
            "resourceFiles": [
              {
                "filePath": "filename.txt",
                "httpUrl": "https://blobsource.com/",
                "identityReference": {
                  "resourceId": "refUserId123"
                }
              }
            ],
            "environmentSettings": [
              {
                "name": "ENV_VAR",
                "value": "env_value"
              }
            ],
            "userIdentity": {
              "autoUser": {
                "scope": "Pool",
                "elevationLevel": "Admin"
              }
            },
            "maxTaskRetryCount": 0,
            "waitForSuccess": true
          },
          "resizeOperationStatus": {
            "targetDedicatedNodes": 0,
            "nodeDeallocationOption": "Requeue",
            "resizeTimeout": "PT15M",
            "startTime": "2026-01-28T00:18:27.1663136Z"
          },
          "currentDedicatedNodes": 0,
          "currentLowPriorityNodes": 0
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1883411755",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "94bd7ded-68b4-4ffa-82a5-37ac72caa2ec"
  }
}
