{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch7555/providers/Microsoft.Batch/batchAccounts/testaccount8948?api-version=2025-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "autoStorage": {
            "storageAccountId": "/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch7555/providers/Microsoft.Storage/storageAccounts/azstorageforbatch4807"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch7555/providers/Microsoft.Batch/batchAccounts/testaccount8948/operationResults/6b9b4819-94b2-44ca-b14e-22dbf3f4da15?api-version=2025-06-01&t=639011033875148273&c=MIIHhzCCBm-gAwIBAgITfAla5jyv8QRP_5ow7AAACVrmPDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDIwMDQzNjIzWhcNMjYwNDE4MDQzNjIzWjBAMT4wPAYDVQQDEzVhc3luY29wZX[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch7555/providers/Microsoft.Batch/batchAccounts/testaccount8948/operationResults/6b9b4819-94b2-44ca-b14e-22dbf3f4da15?api-version=2025-06-01&t=639011033875148273&c=MIIHhzCCBm-gAwIBAgITfAla5jyv8QRP_5ow7AAACVrmPDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDIwMDQzNjIzWhcNMjYwNDE4MDQzNjIzWjBAM[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch7555/providers/Microsoft.Batch/batchAccounts/testaccount8948/operationResults/6b9b4819-94b2-44ca-b14e-22dbf3f4da15?api-version=2025-06-01&t=639011033876887476&c=MIIHhzCCBm-gAwIBAgITfAlY2NhYWz_rkiYT0gAACVjY2DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDE5MDMwMTUzWhcNMjYwNDE3MDMwMTUzWjBAM[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch7555/providers/Microsoft.Batch/batchAccounts/testaccount8948/pools/Pool-4154?api-version=2025-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "displayName": "test_pool",
          "vmSize": "Standard_d4s_v3",
          "deploymentConfiguration": {
            "virtualMachineConfiguration": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest"
              },
              "nodeAgentSkuId": "batch.node.ubuntu 22.04"
            }
          },
          "scaleSettings": {
            "fixedScale": {
              "targetDedicatedNodes": 0,
              "targetLowPriorityNodes": 0
            }
          },
          "networkConfiguration": {
            "endpointConfiguration": {
              "inboundNatPools": [
                {
                  "name": "ruleName",
                  "protocol": "TCP",
                  "backendPort": 3389,
                  "frontendPortRangeStart": 15000,
                  "frontendPortRangeEnd": 15100
                }
              ]
            },
            "publicIPAddressConfiguration": {
              "ipFamilies": [
                "IPv4",
                "IPv6"
              ],
              "ipTags": [
                {
                  "ipTagType": "tagType1",
                  "tag": "tag1"
                }
              ]
            }
          },
          "taskSchedulingPolicy": {
            "jobDefaultOrder": "CreationTime",
            "nodeFillType": "Pack"
          },
          "startTask": {
            "commandLine": "cmd.exe /c \"echo hello world\"",
            "resourceFiles": [
              {
                "httpUrl": "https://blobsource.com/",
                "filePath": "filename.txt",
                "identityReference": {
                  "resourceId": "refUserId123"
                }
              }
            ],
            "environmentSettings": [
              {
                "name": "ENV_VAR",
                "value": "env_value"
              }
            ],
            "userIdentity": {
              "autoUser": {
                "elevationLevel": "Admin"
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"0x8DE39265B1AB764\"",
        "Last-Modified": "Fri, 12 Dec 2025 02:30:03 GMT",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch7555/providers/Microsoft.Batch/batchAccounts/testaccount8948/pools/Pool-4154",
        "name": "Pool-4154",
        "type": "Microsoft.Batch/batchAccounts/pools",
        "etag": "W/\"0x8DE39265B1AB764\"",
        "properties": {
          "displayName": "test_pool",
          "lastModified": "2025-12-12T02:30:03.320714Z",
          "creationTime": "2025-12-12T02:30:03.3207135Z",
          "provisioningState": "Succeeded",
          "provisioningStateTransitionTime": "2025-12-12T02:30:03.3207135Z",
          "allocationState": "Resizing",
          "allocationStateTransitionTime": "2025-12-12T02:30:03.320714Z",
          "vmSize": "STANDARD_D4S_V3",
          "interNodeCommunication": "Disabled",
          "taskSlotsPerNode": 1,
          "taskSchedulingPolicy": {
            "nodeFillType": "Pack",
            "jobDefaultOrder": "CreationTime"
          },
          "deploymentConfiguration": {
            "virtualMachineConfiguration": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest"
              },
              "nodeAgentSkuId": "batch.node.ubuntu 22.04"
            }
          },
          "networkConfiguration": {
            "publicIPAddressConfiguration": {
              "ipFamilies": [
                "IPv4",
                "IPv6"
              ],
              "ipTags": [
                {
                  "ipTagType": "tagType1",
                  "tag": "tag1"
                }
              ]
            },
            "endpointConfiguration": {
              "inboundNatPools": [
                {
                  "name": "ruleName",
                  "protocol": "TCP",
                  "backendPort": 3389,
                  "frontendPortRangeStart": 15000,
                  "frontendPortRangeEnd": 15100
                }
              ]
            },
            "dynamicVnetAssignmentScope": "None",
            "enableAcceleratedNetworking": false
          },
          "scaleSettings": {
            "fixedScale": {
              "targetDedicatedNodes": 0,
              "targetLowPriorityNodes": 0,
              "resizeTimeout": "PT15M"
            }
          },
          "startTask": {
            "commandLine": "cmd.exe /c \"echo hello world\"",
            "resourceFiles": [
              {
                "filePath": "filename.txt",
                "httpUrl": "https://blobsource.com/",
                "identityReference": {
                  "resourceId": "refUserId123"
                }
              }
            ],
            "environmentSettings": [
              {
                "name": "ENV_VAR",
                "value": "env_value"
              }
            ],
            "userIdentity": {
              "autoUser": {
                "scope": "Pool",
                "elevationLevel": "Admin"
              }
            },
            "maxTaskRetryCount": 0,
            "waitForSuccess": true
          },
          "resizeOperationStatus": {
            "targetDedicatedNodes": 0,
            "nodeDeallocationOption": "Requeue",
            "resizeTimeout": "PT15M",
            "startTime": "2025-12-12T02:30:03.3202686Z"
          },
          "currentDedicatedNodes": 0,
          "currentLowPriorityNodes": 0
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "926031002",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "94bd7ded-68b4-4ffa-82a5-37ac72caa2ec"
  }
}
