{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch797/providers/Microsoft.Batch/batchAccounts/testaccount5592?api-version=2025-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "autoStorage": {
            "storageAccountId": "/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch797/providers/Microsoft.Storage/storageAccounts/azstorageforbatch851"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch797/providers/Microsoft.Batch/batchAccounts/testaccount5592/operationResults/68841935-9cc0-4a0e-b5f7-9c75b95bfec2?api-version=2025-06-01&t=639051564639824120&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDIxMDgxMjA1WhcNMjYwNDE5MDgxMjA1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJ[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch797/providers/Microsoft.Batch/batchAccounts/testaccount5592/operationResults/68841935-9cc0-4a0e-b5f7-9c75b95bfec2?api-version=2025-06-01&t=639051564639824120&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDIxMDgxMjA1WhcNMjYwNDE5MDgxMjA1WjBAMT[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch797/providers/Microsoft.Batch/batchAccounts/testaccount5592/operationResults/68841935-9cc0-4a0e-b5f7-9c75b95bfec2?api-version=2025-06-01&t=639051564641396606&c=MIIHpTCCBo2gAwIBAgITOgZElHM1nBrt7NMepgAEBkSUczANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjYwMTIzMDQ0NzQyWhcNMjYwNTI0MjI1NzAzWjBAMT[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch797/providers/Microsoft.Batch/batchAccounts/testaccount5592/pools/Pool-8676?api-version=2025-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "displayName": "test_pool",
          "vmSize": "Standard_d4s_v3",
          "deploymentConfiguration": {
            "virtualMachineConfiguration": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest"
              },
              "nodeAgentSkuId": "batch.node.ubuntu 22.04"
            }
          },
          "scaleSettings": {
            "fixedScale": {
              "targetDedicatedNodes": 0,
              "targetLowPriorityNodes": 0
            }
          },
          "startTask": {
            "commandLine": "cmd.exe /c \"echo hello world\"",
            "resourceFiles": [
              {
                "httpUrl": "https://blobsource.com/",
                "filePath": "filename.txt",
                "identityReference": {
                  "resourceId": "refUserId123"
                }
              }
            ],
            "environmentSettings": [
              {
                "name": "ENV_VAR",
                "value": "env_value"
              }
            ],
            "userIdentity": {
              "autoUser": {
                "elevationLevel": "Admin"
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"0x8DE5E0328D98267\"",
        "Last-Modified": "Wed, 28 Jan 2026 00:21:19 GMT",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch797/providers/Microsoft.Batch/batchAccounts/testaccount5592/pools/Pool-8676",
        "name": "Pool-8676",
        "type": "Microsoft.Batch/batchAccounts/pools",
        "etag": "W/\"0x8DE5E0328D98267\"",
        "properties": {
          "displayName": "test_pool",
          "lastModified": "2026-01-28T00:21:19.6445287Z",
          "creationTime": "2026-01-28T00:21:19.6445282Z",
          "provisioningState": "Succeeded",
          "provisioningStateTransitionTime": "2026-01-28T00:21:19.6445282Z",
          "allocationState": "Resizing",
          "allocationStateTransitionTime": "2026-01-28T00:21:19.6445287Z",
          "vmSize": "STANDARD_D4S_V3",
          "interNodeCommunication": "Disabled",
          "taskSlotsPerNode": 1,
          "taskSchedulingPolicy": {
            "nodeFillType": "Spread",
            "jobDefaultOrder": "None"
          },
          "deploymentConfiguration": {
            "virtualMachineConfiguration": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest"
              },
              "nodeAgentSkuId": "batch.node.ubuntu 22.04"
            }
          },
          "scaleSettings": {
            "fixedScale": {
              "targetDedicatedNodes": 0,
              "targetLowPriorityNodes": 0,
              "resizeTimeout": "PT15M"
            }
          },
          "startTask": {
            "commandLine": "cmd.exe /c \"echo hello world\"",
            "resourceFiles": [
              {
                "filePath": "filename.txt",
                "httpUrl": "https://blobsource.com/",
                "identityReference": {
                  "resourceId": "refUserId123"
                }
              }
            ],
            "environmentSettings": [
              {
                "name": "ENV_VAR",
                "value": "env_value"
              }
            ],
            "userIdentity": {
              "autoUser": {
                "scope": "Pool",
                "elevationLevel": "Admin"
              }
            },
            "maxTaskRetryCount": 0,
            "waitForSuccess": true
          },
          "resizeOperationStatus": {
            "targetDedicatedNodes": 0,
            "nodeDeallocationOption": "Requeue",
            "resizeTimeout": "PT15M",
            "startTime": "2026-01-28T00:21:19.6445276Z"
          },
          "currentDedicatedNodes": 0,
          "currentLowPriorityNodes": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch797/providers/Microsoft.Batch/batchAccounts/testaccount5592/pools?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-s[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch797/providers/Microsoft.Batch/batchAccounts/testaccount5592/pools/Pool-86761?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "error": {
          "code": "PoolNotFound",
          "message": "The specified pool does not exist.\nRequestId:3a7ac44e-9648-4b88-b504-4445b9137f24\nTime:2026-01-28T00:21:21.5527156Z",
          "target": "BatchAccount"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "803935128",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "94bd7ded-68b4-4ffa-82a5-37ac72caa2ec"
  }
}
