{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch8235/providers/Microsoft.Batch/batchAccounts/testaccount5137?api-version=2025-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "autoStorage": {
            "storageAccountId": "/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch8235/providers/Microsoft.Storage/storageAccounts/azstorageforbatch5901"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch8235/providers/Microsoft.Batch/batchAccounts/testaccount5137/operationResults/4f625053-25bb-4045-bfc5-ec79f0e54058?api-version=2025-06-01&t=639064418884966377&c=MIIIrzCCBpegAwIBAgITUQHpaU7Wg63xzd-r0QABAelpTjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMjYwMjA0MDA1OTExWhcNMjYwNTI0MjI1NzAzWjBAMT4wPAYDVQQDEzVhc3luY29wZX[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch8235/providers/Microsoft.Batch/batchAccounts/testaccount5137/operationResults/4f625053-25bb-4045-bfc5-ec79f0e54058?api-version=2025-06-01&t=639064418884966377&c=MIIIrzCCBpegAwIBAgITUQHpaU7Wg63xzd-r0QABAelpTjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMjYwMjA0MDA1OTExWhcNMjYwNTI0MjI1NzAzWjBAM[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch8235/providers/Microsoft.Batch/batchAccounts/testaccount5137/operationResults/4f625053-25bb-4045-bfc5-ec79f0e54058?api-version=2025-06-01&t=639064418886287563&c=MIIIrzCCBpegAwIBAgITUQHpaU7Wg63xzd-r0QABAelpTjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMjYwMjA0MDA1OTExWhcNMjYwNTI0MjI1NzAzWjBAM[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions"
        },
        "subscriptionId": "94bd7ded-68b4-4ffa-82a5-37ac72caa2ec",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "WAT-Shell4",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourcegroups/rg-wiborisbatch?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/rg-wiborisbatch",
        "name": "rg-wiborisbatch",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "ServiceDirectory": "batch",
          "Owners": "wiboris",
          "DeleteAfter": "2026-02-20T00:51:37.7691342+00:00"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/rg-wiborisbatch/providers/Microsoft.Batch/batchAccounts/netsdkba6gjuqiirf4mgk?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"0x8DE683EA3B4011B\"",
        "Last-Modified": "Tue, 10 Feb 2026 00:52:17 GMT",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/rg-wiborisbatch/providers/Microsoft.Batch/batchAccounts/netsdkba6gjuqiirf4mgk",
        "name": "netsdkba6gjuqiirf4mgk",
        "type": "Microsoft.Batch/batchAccounts",
        "location": "eastus2",
        "properties": {
          "accountEndpoint": "netsdkba6gjuqiirf4mgk.eastus2.batch.azure.com",
          "nodeManagementEndpoint": "f11b70cf-b02e-4ea1-8250-ae0459a839bb.eastus2.service.batch.azure.com",
          "provisioningState": "Succeeded",
          "dedicatedCoreQuota": 500,
          "dedicatedCoreQuotaPerVMFamily": [
            {
              "name": "standardAv2Family",
              "coreQuota": 500
            },
            {
              "name": "standardDv2Family",
              "coreQuota": 250
            },
            {
              "name": "standardDv3Family",
              "coreQuota": 500
            },
            {
              "name": "standardEv3Family",
              "coreQuota": 500
            },
            {
              "name": "standardDSv2Family",
              "coreQuota": 250
            },
            {
              "name": "standardDSv3Family",
         [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch8235/providers/Microsoft.Batch/batchAccounts/testaccount5137/pools/Pool-8001?api-version=2025-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "displayName": "test_pool",
          "vmSize": "Standard_d4s_v3",
          "deploymentConfiguration": {
            "virtualMachineConfiguration": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest"
              },
              "nodeAgentSkuId": "batch.node.ubuntu 22.04"
            }
          },
          "scaleSettings": {
            "fixedScale": {
              "targetDedicatedNodes": 0,
              "targetLowPriorityNodes": 0
            }
          },
          "startTask": {
            "commandLine": "cmd.exe /c \"echo hello world\"",
            "resourceFiles": [
              {
                "httpUrl": "https://blobsource.com/",
                "filePath": "filename.txt",
                "identityReference": {
                  "resourceId": "refUserId123"
                }
              }
            ],
            "environmentSettings": [
              {
                "name": "ENV_VAR",
                "value": "env_value"
              }
            ],
            "userIdentity": {
              "autoUser": {
                "elevationLevel": "Admin"
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"0x8DE69B405E7C57A\"",
        "Last-Modified": "Wed, 11 Feb 2026 21:25:04 GMT",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch8235/providers/Microsoft.Batch/batchAccounts/testaccount5137/pools/Pool-8001",
        "name": "Pool-8001",
        "type": "Microsoft.Batch/batchAccounts/pools",
        "etag": "W/\"0x8DE69B405E7C57A\"",
        "properties": {
          "displayName": "test_pool",
          "lastModified": "2026-02-11T21:25:04.729433Z",
          "creationTime": "2026-02-11T21:25:04.7294327Z",
          "provisioningState": "Succeeded",
          "provisioningStateTransitionTime": "2026-02-11T21:25:04.7294327Z",
          "allocationState": "Resizing",
          "allocationStateTransitionTime": "2026-02-11T21:25:04.7294331Z",
          "vmSize": "STANDARD_D4S_V3",
          "interNodeCommunication": "Disabled",
          "taskSlotsPerNode": 1,
          "taskSchedulingPolicy": {
            "nodeFillType": "Spread",
            "jobDefaultOrder": "None"
          },
          "deploymentConfiguration": {
            "virtualMachineConfiguration": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest"
              },
              "nodeAgentSkuId": "batch.node.ubuntu 22.04"
            }
          },
          "scaleSettings": {
            "fixedScale": {
              "targetDedicatedNodes": 0,
              "targetLowPriorityNodes": 0,
              "resizeTimeout": "PT15M"
            }
          },
          "startTask": {
            "commandLine": "cmd.exe /c \"echo hello world\"",
            "resourceFiles": [
              {
                "filePath": "filename.txt",
                "httpUrl": "https://blobsource.com/",
                "identityReference": {
                  "resourceId": "refUserId123"
                }
              }
            ],
            "environmentSettings": [
              {
                "name": "ENV_VAR",
                "value": "env_value"
              }
            ],
            "userIdentity": {
              "autoUser": {
                "scope": "Pool",
                "elevationLevel": "Admin"
              }
            },
            "maxTaskRetryCount": 0,
            "waitForSuccess": true
          },
          "resizeOperationStatus": {
            "targetDedicatedNodes": 0,
            "nodeDeallocationOption": "Requeue",
            "resizeTimeout": "PT15M",
            "startTime": "2026-02-11T21:25:04.7294319Z"
          },
          "currentDedicatedNodes": 0,
          "currentLowPriorityNodes": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch8235/providers/Microsoft.Batch/batchAccounts/testaccount5137/pools?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/94bd7ded-68b4-4ffa-82a5-37ac72caa2ec/resourceGroups/testrg-batch8235/providers/Microsoft.Batch/batchAccounts/testaccount5137/pools/Pool-80011?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "error": {
          "code": "PoolNotFound",
          "message": "The specified pool does not exist.\nRequestId:e2697348-cc08-4bc1-886a-d22211e8378f\nTime:2026-02-11T21:25:06.8448225Z",
          "target": "BatchAccount"
        }
      }
    }
  ],
  "Variables": {
    "batch_account_name": "netsdkba6gjuqiirf4mgk",
    "batch_resource_group": "rg-wiborisbatch",
    "RandomSeed": "136429428",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "94bd7ded-68b4-4ffa-82a5-37ac72caa2ec"
  }
}
