{
  "Entries": [
    {
      "RequestUri": "https://fakeresource.servicebus.windows.net/$Resources/queues?$skip=0\u0026$top=100\u0026api-version=2021-05",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/xml; charset=utf-8"
      },
      "ResponseBody": "\u003CError\u003E\u003CCode\u003E401\u003C/Code\u003E\u003CDetail\u003Eclaim is empty or token is invalid. TrackingId:18b88a64-1dc4-4e42-aab8-6fbd89b264e5_G39, SystemTracker:fakeresource.servicebus.windows.net:$Resources/queues, Timestamp:2023-03-15T22:49:00\u003C/Detail\u003E\u003C/Error\u003E"
    },
    {
      "RequestUri": "https://fakeresource.servicebus.windows.net/$Resources/queues?$skip=0\u0026$top=100\u0026api-version=2021-05",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/xml; charset=utf-8"
      },
      "ResponseBody": "\u003CError\u003E\u003CCode\u003E401\u003C/Code\u003E\u003CDetail\u003Eclaim is empty or token is invalid. TrackingId:69ecea70-6db2-413e-bb64-56cc0bca8e89_G39, SystemTracker:fakeresource.servicebus.windows.net:$Resources/queues, Timestamp:2023-03-15T22:49:00\u003C/Detail\u003E\u003C/Error\u003E"
    }
  ],
  "Variables": {}
}
