{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$Resources/topics?$skip=0&$top=100&api-version=2021-05",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom+xml; type=feed; charset=utf-8"
      },
      "ResponseBody": "<feed xmlns=\"http://www.w3.org/2005/Atom\"><title type=\"text\">Topics</title><id>https://fakeresource.servicebus.windows.net/$Resources/topics?$skip=0&amp;$top=100&amp;api-version=2021-05</id><updated>2024-09-04T18:21:01Z</updated><link rel=\"self\" href=\"https://fakeresource.servicebus.windows.net/$Resources/topics?$skip=0&amp;$top=100&amp;api-version=2021-05\"/></feed>"
    },
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/test_topic?api-version=2021-05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/atom+xml"
      },
      "RequestBody": [
        "<?xml version='1.0' encoding='utf-8'?>\n",
        "<ns0:entry xmlns:ns0=\"http://www.w3.org/2005/Atom\" xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\"><ns0:content type=\"application/xml\"><TopicDescription /></ns0:content></ns0:entry>"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/atom+xml; type=entry; charset=utf-8"
      },
      "ResponseBody": "<entry xmlns=\"http://www.w3.org/2005/Atom\"><id>https://fakeresource.servicebus.windows.net/test_topic?api-version=2021-05</id><title type=\"text\">test_topic</title><published>2024-09-04T18:21:01Z</published><updated>2024-09-04T18:21:01Z</updated><author><name>sb-te9c6b9643d59d62d</name></author><link rel=\"self\" href=\"https://fakeresource.servicebus.windows.net/test_topic?api-version=2021-05\"/><content type=\"application/xml\"><TopicDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\"><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><MaxSizeInMegabytes>1024</MaxSizeInMegabytes><RequiresDuplicateDetection>false</RequiresDuplicateDetection><DuplicateDetectionHistoryTimeWindow>PT10M</DuplicateDetectionHistoryTimeWindow><EnableBatchedOperations>true</EnableBatchedOperations><SizeInBytes>0</SizeInBytes><FilteringMessagesBeforePublishing>false</FilteringMessagesBeforePublishing><IsAnonymousAccessible>false</IsAnonymousAccessible><AuthorizationRules></AuthorizationRules><Status>Active</Status><CreatedAt>2024-09-04T18:21:01.637Z</CreatedAt><UpdatedAt>2024-09-04T18:21:01.66Z</UpdatedAt><SupportOrdering>true</SupportOrdering><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EnablePartitioning>false</EnablePartitioning><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><EnableSubscriptionPartitioning>false</EnableSubscriptionPartitioning><EnableExpress>false</EnableExpress><MaxMessageSizeInKilobytes>256</MaxMessageSizeInKilobytes></TopicDescription></content></entry>"
    },
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/test_topic?enrich=false&api-version=2021-05",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom+xml; type=entry; charset=utf-8",
        "ETag": "638610708616600000"
      },
      "ResponseBody": "<entry xmlns=\"http://www.w3.org/2005/Atom\"><id>https://fakeresource.servicebus.windows.net/test_topic?enrich=false&amp;api-version=2021-05</id><title type=\"text\">test_topic</title><published>2024-09-04T18:21:01Z</published><updated>2024-09-04T18:21:01Z</updated><author><name>sb-te9c6b9643d59d62d</name></author><link rel=\"self\" href=\"https://fakeresource.servicebus.windows.net/test_topic?enrich=false&amp;api-version=2021-05\"/><content type=\"application/xml\"><TopicDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\"><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><MaxSizeInMegabytes>1024</MaxSizeInMegabytes><RequiresDuplicateDetection>false</RequiresDuplicateDetection><DuplicateDetectionHistoryTimeWindow>PT10M</DuplicateDetectionHistoryTimeWindow><EnableBatchedOperations>true</EnableBatchedOperations><SizeInBytes>0</SizeInBytes><FilteringMessagesBeforePublishing>false</FilteringMessagesBeforePublishing><IsAnonymousAccessible>false</IsAnonymousAccessible><AuthorizationRules></AuthorizationRules><Status>Active</Status><CreatedAt>2024-09-04T18:21:01.637Z</CreatedAt><UpdatedAt>2024-09-04T18:21:01.66Z</UpdatedAt><AccessedAt>0001-01-01T00:00:00Z</AccessedAt><SupportOrdering>true</SupportOrdering><CountDetails xmlns:d2p1=\"http://schemas.microsoft.com/netservices/2011/06/servicebus\"><d2p1:ActiveMessageCount>0</d2p1:ActiveMessageCount><d2p1:DeadLetterMessageCount>0</d2p1:DeadLetterMessageCount><d2p1:ScheduledMessageCount>0</d2p1:ScheduledMessageCount><d2p1:TransferMessageCount>0</d2p1:TransferMessageCount><d2p1:TransferDeadLetterMessageCount>0</d2p1:TransferDeadLetterMessageCount></CountDetails><SubscriptionCount>0</SubscriptionCount><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EnablePartitioning>false</EnablePartitioning><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><EnableSubscriptionPartitioning>false</EnableSubscriptionPartitioning><EnableExpress>false</EnableExpress><MaxMessageSizeInKilobytes>256</MaxMessageSizeInKilobytes></TopicDescription></content></entry>"
    },
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/test_topic?api-version=2021-05",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "638610708616600000"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
