{
  "Entries": [
    {
      "RequestUri": "https://fakeresource.servicebus.windows.net/$Resources/queues?$skip=0\u0026$top=100\u0026api-version=2021-05",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/xml; charset=utf-8"
      },
      "ResponseBody": "\u003CError\u003E\u003CCode\u003E401\u003C/Code\u003E\u003CDetail\u003Eclaim is empty or token is invalid. TrackingId:0478a3f7-f206-4283-9db2-4d62d977f3e8_G5, SystemTracker:fakeresource.servicebus.windows.net:$Resources/queues, Timestamp:2023-12-15T20:44:37\u003C/Detail\u003E\u003C/Error\u003E"
    },
    {
      "RequestUri": "https://fakeresource.servicebus.windows.net/$Resources/queues?$skip=0\u0026$top=100\u0026api-version=2021-05",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/xml; charset=utf-8"
      },
      "ResponseBody": "\u003CError\u003E\u003CCode\u003E401\u003C/Code\u003E\u003CDetail\u003Eclaim is empty or token is invalid. TrackingId:fca94e03-c1e1-4395-b649-39c5cd59742f_G5, SystemTracker:fakeresource.servicebus.windows.net:$Resources/queues, Timestamp:2023-12-15T20:44:37\u003C/Detail\u003E\u003C/Error\u003E"
    }
  ],
  "Variables": {}
}
