{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$Resources/queues?$skip=0&$top=100&api-version=2021-05",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom+xml; type=feed; charset=utf-8"
      },
      "ResponseBody": "<feed xmlns=\"http://www.w3.org/2005/Atom\"><title type=\"text\">Queues</title><id>https://fakeresource.servicebus.windows.net/$Resources/queues?$skip=0&amp;$top=100&amp;api-version=2021-05</id><updated>2024-09-04T18:18:06Z</updated><link rel=\"self\" href=\"https://fakeresource.servicebus.windows.net/$Resources/queues?$skip=0&amp;$top=100&amp;api-version=2021-05\"/></feed>"
    },
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/dfjfj?api-version=2021-05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/atom+xml"
      },
      "RequestBody": [
        "<?xml version='1.0' encoding='utf-8'?>\n",
        "<ns0:entry xmlns:ns0=\"http://www.w3.org/2005/Atom\" xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\"><ns0:content type=\"application/xml\"><QueueDescription /></ns0:content></ns0:entry>"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/atom+xml; type=entry; charset=utf-8"
      },
      "ResponseBody": "<entry xmlns=\"http://www.w3.org/2005/Atom\"><id>https://fakeresource.servicebus.windows.net/dfjfj?api-version=2021-05</id><title type=\"text\">dfjfj</title><published>2024-09-04T18:18:06Z</published><updated>2024-09-04T18:18:06Z</updated><author><name>sb-te9c6b9643d59d62d</name></author><link rel=\"self\" href=\"https://fakeresource.servicebus.windows.net/dfjfj?api-version=2021-05\"/><content type=\"application/xml\"><QueueDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\"><LockDuration>PT1M</LockDuration><MaxSizeInMegabytes>1024</MaxSizeInMegabytes><RequiresDuplicateDetection>false</RequiresDuplicateDetection><RequiresSession>false</RequiresSession><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>false</DeadLetteringOnMessageExpiration><DuplicateDetectionHistoryTimeWindow>PT10M</DuplicateDetectionHistoryTimeWindow><MaxDeliveryCount>10</MaxDeliveryCount><EnableBatchedOperations>true</EnableBatchedOperations><SizeInBytes>0</SizeInBytes><MessageCount>0</MessageCount><IsAnonymousAccessible>false</IsAnonymousAccessible><AuthorizationRules></AuthorizationRules><Status>Active</Status><CreatedAt>2024-09-04T18:18:06.687Z</CreatedAt><UpdatedAt>2024-09-04T18:18:06.713Z</UpdatedAt><SupportOrdering>true</SupportOrdering><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EnablePartitioning>false</EnablePartitioning><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><EnableExpress>false</EnableExpress><MaxMessageSizeInKilobytes>256</MaxMessageSizeInKilobytes></QueueDescription></content></entry>"
    },
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/dfjfj?api-version=2021-05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/atom+xml",
        "If-Match": "*"
      },
      "RequestBody": [
        "<?xml version='1.0' encoding='utf-8'?>\n",
        "<ns0:entry xmlns:ns0=\"http://www.w3.org/2005/Atom\" xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\"><ns0:content type=\"application/xml\"><QueueDescription><LockDuration>PT1M</LockDuration><MaxSizeInMegabytes>1024</MaxSizeInMegabytes><RequiresDuplicateDetection>false</RequiresDuplicateDetection><RequiresSession>true</RequiresSession><DefaultMessageTimeToLive>P10675199DT2H48M5.477539S</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>false</DeadLetteringOnMessageExpiration><DuplicateDetectionHistoryTimeWindow>PT10M</DuplicateDetectionHistoryTimeWindow><MaxDeliveryCount>10</MaxDeliveryCount><EnableBatchedOperations>true</EnableBatchedOperations><SizeInBytes>0</SizeInBytes><MessageCount>0</MessageCount><IsAnonymousAccessible>false</IsAnonymousAccessible><Status>Active</Status><CreatedAt>2024-09-04T18:18:06.687Z</CreatedAt><UpdatedAt>2024-09-04T18:18:06.713Z</UpdatedAt><SupportOrdering>true</SupportOrdering><AutoDeleteOnIdle>P10675199DT2H48M5.477539S</AutoDeleteOnIdle><EnablePartitioning>false</EnablePartitioning><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><EnableExpress>false</EnableExpress><MaxMessageSizeInKilobytes>256</MaxMessageSizeInKilobytes></QueueDescription></ns0:content></ns0:entry>"
      ],
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml; charset=utf-8",
        "ETag": "638610706867130000"
      },
      "ResponseBody": "<Error><Code>400</Code><Detail>SubCode=40000. The value for the RequiresSession property of an existing Queue cannot be changed. To know more visit https://aka.ms/sbResourceMgrExceptions. . TrackingId:a80723b9-2983-498c-a71e-8b63e6fb5aa5_G4, SystemTracker:fakeresource.servicebus.windows.net:dfjfj, Timestamp:2024-09-04T18:18:07</Detail></Error>"
    },
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/iewdm?api-version=2021-05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/atom+xml",
        "If-Match": "*"
      },
      "RequestBody": [
        "<?xml version='1.0' encoding='utf-8'?>\n",
        "<ns0:entry xmlns:ns0=\"http://www.w3.org/2005/Atom\" xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\"><ns0:content type=\"application/xml\"><QueueDescript[...]
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/?api-version=2021-05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/atom+xml",
        "If-Match": "*"
      },
      "RequestBody": [
        "<?xml version='1.0' encoding='utf-8'?>\n",
        "<ns0:entry xmlns:ns0=\"http://www.w3.org/2005/Atom\" xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\"><ns0:content type=\"application/xml\"><QueueDescription><[...]
[...]
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/dfjfj?api-version=2021-05",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "638610706867130000"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
