{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$Resources/topics?$skip=0&$top=100&api-version=2021-05",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom+xml; type=feed; charset=utf-8"
      },
      "ResponseBody": "<feed xmlns=\"http://www.w3.org/2005/Atom\"><title type=\"text\">Topics</title><id>https://fakeresource.servicebus.windows.net/$Resources/topics?$skip=0&amp;$top=100&amp;api-version=2021-05</id><updated>2024-09-04T18:20:21Z</updated><link rel=\"self\" href=\"https://fakeresource.servicebus.windows.net/$Resources/topics?$skip=0&amp;$top=100&amp;api-version=2021-05\"/></feed>"
    },
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/iweidk?api-version=2021-05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/atom+xml"
      },
      "RequestBody": [
        "<?xml version='1.0' encoding='utf-8'?>\n",
        "<ns0:entry xmlns:ns0=\"http://www.w3.org/2005/Atom\" xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\"><ns0:content type=\"application/xml\"><TopicDescription><DefaultMessageTimeToLive>PT11M</DefaultMessageTimeToLive><MaxSizeInMegabytes>3072</MaxSizeInMegabytes><DuplicateDetectionHistoryTimeWindow>PT12M</DuplicateDetectionHistoryTimeWindow><EnableBatchedOperations>true</EnableBatchedOperations><AutoDeleteOnIdle>PT10M</AutoDeleteOnIdle><EnablePartitioning>true</EnablePartitioning><EnableExpress>true</EnableExpress></TopicDescription></ns0:content></ns0:entry>"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/atom+xml; type=entry; charset=utf-8"
      },
      "ResponseBody": "<entry xmlns=\"http://www.w3.org/2005/Atom\"><id>https://fakeresource.servicebus.windows.net/iweidk?api-version=2021-05</id><title type=\"text\">iweidk</title><published>2024-09-04T18:20:21Z</published><updated>2024-09-04T18:20:21Z</updated><author><name>sb-te9c6b9643d59d62d</name></author><link rel=\"self\" href=\"https://fakeresource.servicebus.windows.net/iweidk?api-version=2021-05\"/><content type=\"application/xml\"><TopicDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\"><DefaultMessageTimeToLive>PT11M</DefaultMessageTimeToLive><MaxSizeInMegabytes>49152</MaxSizeInMegabytes><RequiresDuplicateDetection>false</RequiresDuplicateDetection><DuplicateDetectionHistoryTimeWindow>PT12M</DuplicateDetectionHistoryTimeWindow><EnableBatchedOperations>true</EnableBatchedOperations><SizeInBytes>0</SizeInBytes><FilteringMessagesBeforePublishing>false</FilteringMessagesBeforePublishing><IsAnonymousAccessible>false</IsAnonymousAccessible><AuthorizationRules></AuthorizationRules><Status>Active</Status><CreatedAt>2024-09-04T18:20:21.797Z</CreatedAt><UpdatedAt>2024-09-04T18:20:21.883Z</UpdatedAt><SupportOrdering>false</SupportOrdering><AutoDeleteOnIdle>PT10M</AutoDeleteOnIdle><EnablePartitioning>true</EnablePartitioning><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><EnableSubscriptionPartitioning>false</EnableSubscriptionPartitioning><EnableExpress>true</EnableExpress><MaxMessageSizeInKilobytes>256</MaxMessageSizeInKilobytes></TopicDescription></content></entry>"
    },
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/iweidk?enrich=false&api-version=2021-05",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom+xml; type=entry; charset=utf-8",
        "ETag": "638610708218830000"
      },
      "ResponseBody": "<entry xmlns=\"http://www.w3.org/2005/Atom\"><id>https://fakeresource.servicebus.windows.net/iweidk?enrich=false&amp;api-version=2021-05</id><title type=\"text\">iweidk</title><published>2024-09-04T18:20:21Z</published><updated>2024-09-04T18:20:21Z</updated><author><name>sb-te9c6b9643d59d62d</name></author><link rel=\"self\" href=\"https://fakeresource.servicebus.windows.net/iweidk?enrich=false&amp;api-version=2021-05\"/><content type=\"application/xml\"><TopicDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\"><DefaultMessageTimeToLive>PT11M</DefaultMessageTimeToLive><MaxSizeInMegabytes>49152</MaxSizeInMegabytes><RequiresDuplicateDetection>false</RequiresDuplicateDetection><DuplicateDetectionHistoryTimeWindow>PT12M</DuplicateDetectionHistoryTimeWindow><EnableBatchedOperations>true</EnableBatchedOperations><SizeInBytes>0</SizeInBytes><FilteringMessagesBeforePublishing>false</FilteringMessagesBeforePublishing><IsAnonymousAccessible>false</IsAnonymousAccessible><AuthorizationRules></AuthorizationRules><Status>Active</Status><CreatedAt>2024-09-04T18:20:21.797Z</CreatedAt><UpdatedAt>2024-09-04T18:20:21.883Z</UpdatedAt><AccessedAt>0001-01-01T00:00:00Z</AccessedAt><SupportOrdering>false</SupportOrdering><CountDetails xmlns:d2p1=\"http://schemas.microsoft.com/netservices/2011/06/servicebus\"><d2p1:ActiveMessageCount>0</d2p1:ActiveMessageCount><d2p1:DeadLetterMessageCount>0</d2p1:DeadLetterMessageCount><d2p1:ScheduledMessageCount>0</d2p1:ScheduledMessageCount><d2p1:TransferMessageCount>0</d2p1:TransferMessageCount><d2p1:TransferDeadLetterMessageCount>0</d2p1:TransferDeadLetterMessageCount></CountDetails><SubscriptionCount>0</SubscriptionCount><AutoDeleteOnIdle>PT10M</AutoDeleteOnIdle><EnablePartitioning>true</EnablePartitioning><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><EnableSubscriptionPartitioning>false</EnableSubscriptionPartitioning><EnableExpress>true</EnableExpress><MaxMessageSizeInKilobytes>256</MaxMessageSizeInKilobytes></TopicDescription></content></entry>"
    },
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/djsadq?api-version=2021-05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/atom+xml"
      },
      "RequestBody": [
        "<?xml version='1.0' encoding='utf-8'?>\n",
        "<ns0:entry xmlns:ns0=\"http://www.w3.org/2005/Atom\" xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\"><ns0:content type=\"application/xml\"><TopicDescription><DefaultMessageTimeT[...]
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/djsadq?enrich=false&api-version=2021-05",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom+xml; type=entry; charset=utf-8",
        "ETag": "638610708230370000"
      },
      "ResponseBody": "<entry xmlns=\"http://www.w3.org/2005/Atom\"><id>https://fakeresource.servicebus.windows.net/djsadq?en[...]
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/famviq?api-version=2021-05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/atom+xml"
      },
      "RequestBody": [
        "<?xml version='1.0' encoding='utf-8'?>\n",
        "<ns0:entry xmlns:ns0=\"http://www.w3.org/2005/Atom\" xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\"><ns0:content type=\"application/xml\"><TopicDescription><MaxMessageSizeInKilobytes>1024</MaxMessageSizeInKilobytes></TopicDescription></ns0:content></ns0:entry>"
      ],
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml; charset=utf-8"
      },
      "ResponseBody": "<Error><Code>400</Code><Detail>SubCode=40000. Bad Request. To know more visit https://aka.ms/sbResourceMgrExceptions. . TrackingId:0fa32e83-0f17-4e5a-a5f0-16f671eb5ff2_G4, SystemTracker:fakeresource.servicebus.windows.net:famviq, Timestamp:2024-09-04T18:20:24</Detail></Error>"
    },
[...]
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/djsadq?api-version=2021-05",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "638610708230370000"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
