{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$Resources/queues?$skip=0&$top=100&api-version=2021-05",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom+xml; type=feed; charset=utf-8"
      },
      "ResponseBody": "<feed xmlns=\"http://www.w3.org/2005/Atom\"><title type=\"text\">Queues</title><id>https://fakeresource.servicebus.windows.net/$Resources/queues?$skip=0&amp;$top=100&amp;api-version=2021-05</id><updated>2025-03-04T23:21:14Z</updated><link rel=\"self\" href=\"https://fakeresource.servicebus.windows.net/$Resources/queues?$skip=0&amp;$top=100&amp;api-version=2021-05\"/></feed>"
    },
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/aghadh?api-version=2021-05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/atom+xml"
      },
      "RequestBody": [
        "<?xml version='1.0' encoding='utf-8'?>\n",
        "<ns0:entry xmlns:ns0=\"http://www.w3.org/2005/Atom\" xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\"><ns0:content type=\"application/xml\"><TopicDescription /></ns0:content></ns0:entry>"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/atom+xml; type=entry; charset=utf-8"
      },
      "ResponseBody": "<entry xmlns=\"http://www.w3.org/2005/Atom\"><id>https://fakeresource.servicebus.windows.net/aghadh?api-version=2021-05</id><title type=\"text\">aghadh</title><published>2025-03-04T23:21:14Z</published><updated>2025-03-04T23:21:14Z</updated><author><name>sb-te9c6b9643d59d62d</name></author><link rel=\"self\" href=\"https://fakeresource.servicebus.windows.net/aghadh?api-version=2021-05\"/><content type=\"application/xml\"><TopicDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\"><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><MaxSizeInMegabytes>1024</MaxSizeInMegabytes><RequiresDuplicateDetection>false</RequiresDuplicateDetection><DuplicateDetectionHistoryTimeWindow>PT10M</DuplicateDetectionHistoryTimeWindow><EnableBatchedOperations>true</EnableBatchedOperations><SizeInBytes>0</SizeInBytes><FilteringMessagesBeforePublishing>false</FilteringMessagesBeforePublishing><IsAnonymousAccessible>false</IsAnonymousAccessible><AuthorizationRules></AuthorizationRules><Status>Active</Status><CreatedAt>2025-03-04T23:21:14.76Z</CreatedAt><UpdatedAt>2025-03-04T23:21:14.797Z</UpdatedAt><SupportOrdering>true</SupportOrdering><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EnablePartitioning>false</EnablePartitioning><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><EnableSubscriptionPartitioning>false</EnableSubscriptionPartitioning><EnableExpress>false</EnableExpress><MaxMessageSizeInKilobytes>256</MaxMessageSizeInKilobytes></TopicDescription></content></entry>"
    },
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/iweidk?api-version=2021-05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/atom+xml"
      },
      "RequestBody": [
        "<?xml version='1.0' encoding='utf-8'?>\n",
        "<ns0:entry xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:ns0=\"http://www.w3.org/2005/Atom\" xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\"><ns0:content type=\"application/xml\"><QueueDescription><LockDuration>PT13S</LockDuration><MaxSizeInMegabytes>3072</MaxSizeInMegabytes><RequiresSession>true</RequiresSession><DefaultMessageTimeToLive>PT11M</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>true</DeadLetteringOnMessageExpiration><DuplicateDetectionHistoryTimeWindow>PT12M</DuplicateDetectionHistoryTimeWindow><MaxDeliveryCount>14</MaxDeliveryCount><EnableBatchedOperations>true</EnableBatchedOperations><AuthorizationRules><AuthorizationRule i:type=\"SharedAccessAuthorizationRule\"><ClaimType>SharedAccessKey</ClaimType><ClaimValue>None</ClaimValue><Rights><AccessRights>Manage</AccessRights><AccessRights>Listen</AccessRights><AccessRights>Send</AccessRights></Rights><KeyName>test_key</KeyName><PrimaryKey>Sanitized</PrimaryKey><SecondaryKey>Sanitized</SecondaryKey></AuthorizationRule></AuthorizationRules><AutoDeleteOnIdle>PT10M</AutoDeleteOnIdle><EnablePartitioning>true</EnablePartitioning><EnableExpress>true</EnableExpress><ForwardTo>sb://fakeresource.servicebus.windows.net/aghadh</ForwardTo><ForwardDeadLetteredMessagesTo>sb://fakeresource.servicebus.windows.net/aghadh</ForwardDeadLetteredMessagesTo></QueueDescription></ns0:content></ns0:entry>"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/atom+xml; type=entry; charset=utf-8"
      },
      "ResponseBody": "<entry xmlns=\"http://www.w3.org/2005/Atom\"><id>https://fakeresource.servicebus.windows.net/iweidk?api-version=2021-05</id><title type=\"text\">iweidk</title><published>2025-03-04T23:21:17Z</published><updated>2025-03-04T23:21:17Z</updated><author><name>sb-te9c6b9643d59d62d</name></author><link rel=\"self\" href=\"https://fakeresource.servicebus.windows.net/iweidk?api-version=2021-05\"/><content type=\"application/xml\"><QueueDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\"><LockDuration>PT13S</LockDuration><MaxSizeInMegabytes>49152</MaxSizeInMegabytes><RequiresDuplicateDetection>false</RequiresDuplicateDetection><RequiresSession>true</RequiresSession><DefaultMessageTimeToLive>PT11M</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>true</DeadLetteringOnMessageExpiration><DuplicateDetectionHistoryTimeWindow>PT12M</DuplicateDetectionHistoryTimeWindow><MaxDeliveryCount>14</MaxDeliveryCount><EnableBatchedOperations>true</EnableBatchedOperations><SizeInBytes>0</SizeInBytes><MessageCount>0</MessageCount><IsAnonymousAccessible>false</IsAnonymousAccessible><AuthorizationRules><AuthorizationRule i:type=\"SharedAccessAuthorizationRule\"><ClaimType>SharedAccessKey</ClaimType><ClaimValue>None</ClaimValue><Rights><AccessRights>Manage</AccessRights><AccessRights>Listen</AccessRights><AccessRights>Send</AccessRights></Rights><KeyName>test_key</KeyName><PrimaryKey>Sanitized</PrimaryKey><SecondaryKey>Sanitized</SecondaryKey></AuthorizationRule></AuthorizationRules><Status>Active</Status><CreatedAt>2025-03-04T23:21:17.09Z</CreatedAt><UpdatedAt>2025-03-04T23:21:17.157Z</UpdatedAt><SupportOrdering>false</SupportOrdering><AutoDeleteOnIdle>PT10M</AutoDeleteOnIdle><EnablePartitioning>true</EnablePartitioning><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><EnableExpress>true</EnableExpress><ForwardTo>sb://fakeresource.servicebus.windows.net/aghadh</ForwardTo><ForwardDeadLetteredMessagesTo>sb://fakeresource.servicebus.windows.net/aghadh</ForwardDeadLetteredMessagesTo><MaxMessageSizeInKilobytes>256</MaxMessageSizeInKilobytes></QueueDescription></content></entry>"
    },
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/vladsk?api-version=2021-05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/atom+xml"
      },
      "RequestBody": [
        "<?xml version='1.0' encoding='utf-8'?>\n",
        "<ns0:entry xmlns:ns0=\"http://www.w3.org/2005/Atom\" xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\"><ns0:content type=\"application/xml\"><QueueDescription><LockDuration>PT13S<[...]
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/famviq?api-version=2021-05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/atom+xml"
      },
      "RequestBody": [
        "<?xml version='1.0' encoding='utf-8'?>\n",
        "<ns0:entry xmlns:ns0=\"http://www.w3.org/2005/Atom\" xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\"><ns0:content type=\"application/xml\"><QueueDescription><MaxMessageSizeInKilobytes>1024</MaxMessageSizeInKilobytes></QueueDescription></ns0:content></ns0:entry>"
      ],
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml; charset=utf-8"
      },
      "ResponseBody": "<Error><Code>400</Code><Detail>SubCode=40000. Bad Request. To know more visit https://aka.ms/sbResourceMgrExceptions. . TrackingId:3d5a02e0-d838-46ca-a524-f9d4763db6a5_G12, SystemTracker:fakeresource.servicebus.windows.net:famviq, Timestamp:2025-03-04T23:21:20</Detail></Error>"
    },
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/iweidk?enrich=false&api-version=2021-05",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom+xml; type=entry; charset=utf-8",
        "ETag": "638767272771570000"
      },
      "ResponseBody": "<entry xmlns=\"http://www.w3.org/2005/Atom\"><id>https://fakeresource.servicebus.windows.net/iweidk?enrich=false&amp;api-version=2021-05</id><title type=\"text\">iweidk</title><published>2025-03-04T23:21:17Z</published><updated>2025-03-04T23:21:17Z</updated><author><name>sb-te9c6b9643d59d62d</name></author><link rel=\"self\" href=\"https://fakeresource.servicebus.windows.net/iweidk?enrich=false&amp;api-version=2021-05\"/><content type=\"appli[...]
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/vladsk?enrich=false&api-version=2021-05",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom+xml; type=entry; charset=utf-8",
        "ETag": "638767272798570000"
      },
      "ResponseBody": "<entry xmlns=\"http://www.w3.org/2005/Atom\"><id>https://fakeresource.servicebus.windows.net/vladsk?en[...]
[...]
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/aghadh?api-version=2021-05",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "638767272747970000"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
