{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigSample427?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json"
      },
      "RequestBody": {
        "key": "addConfigSample427",
        "value": "MyValue"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"clOGQV8i7--kfzIzVOxA1a9o9NFKFZHJ6F8slm3kdeQ\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:50:27 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTQ4MTU=;sn=74014815"
      },
      "ResponseBody": {
        "etag": "clOGQV8i7--kfzIzVOxA1a9o9NFKFZHJ6F8slm3kdeQ",
        "key": "addConfigSample427",
        "label": null,
        "content_type": null,
        "value": "MyValue",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-25T08:50:27+00:00"
      }
    }
  ],
  "Variables": {
    "addConfigSample": "addConfigSample427"
  }
}
