{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigTestTwice115?api-version=2023-10-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "addConfigTestTwice115",
        "label": "test",
        "value": "foo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8w-I7wjHL03y-aQpTnijMizyOJhLJBSTqqJDZ5dMReY\"",
        "Last-Modified": "Tue, 28 May 2024 21:15:58 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTE5MjY=;sn=2611926"
      },
      "ResponseBody": {
        "etag": "8w-I7wjHL03y-aQpTnijMizyOJhLJBSTqqJDZ5dMReY",
        "key": "addConfigTestTwice115",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T21:15:58+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigTestTwice115?api-version=2023-10-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=Nzo1IzI2MTE5MjY="
      },
      "RequestBody": {
        "key": "addConfigTestTwice115",
        "label": "test",
        "value": "foo"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTE5MjY=;sn=2611926"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigTestTwice115?api-version=2023-10-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Nzo1IzI2MTE5MjY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8w-I7wjHL03y-aQpTnijMizyOJhLJBSTqqJDZ5dMReY\"",
        "Last-Modified": "Tue, 28 May 2024 21:15:58 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTE5Mjc=;sn=2611927"
      },
      "ResponseBody": {
        "etag": "8w-I7wjHL03y-aQpTnijMizyOJhLJBSTqqJDZ5dMReY",
        "key": "addConfigTestTwice115",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T21:15:58+00:00"
      }
    }
  ],
  "Variables": {
    "addConfigTestTwice": "addConfigTestTwice115"
  }
}
