{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigTest281?api-version=2023-10-01&label=MyLabel",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "addConfigTest281",
        "label": "MyLabel",
        "value": "MyValue"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9pehsIXU-EgnszlQTFcmzLDL-e9GX4UhXN9-DI51aAI\"",
        "Last-Modified": "Tue, 28 May 2024 21:15:57 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTE5MjQ=;sn=2611924"
      },
      "ResponseBody": {
        "etag": "9pehsIXU-EgnszlQTFcmzLDL-e9GX4UhXN9-DI51aAI",
        "key": "addConfigTest281",
        "label": "MyLabel",
        "content_type": null,
        "value": "MyValue",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T21:15:57+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigTest281?api-version=2023-10-01&label=MyLabel",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Nzo1IzI2MTE5MjQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9pehsIXU-EgnszlQTFcmzLDL-e9GX4UhXN9-DI51aAI\"",
        "Last-Modified": "Tue, 28 May 2024 21:15:57 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTE5MjU=;sn=2611925"
      },
      "ResponseBody": {
        "etag": "9pehsIXU-EgnszlQTFcmzLDL-e9GX4UhXN9-DI51aAI",
        "key": "addConfigTest281",
        "label": "MyLabel",
        "content_type": null,
        "value": "MyValue",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T21:15:57+00:00"
      }
    }
  ],
  "Variables": {
    "addConfigTest": "addConfigTest281"
  }
}
