{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigSample270?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "MyValue"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"FofnuY1Ju8bQrDXowkRPapKW_UgdGAC60XpqHFEpCUw\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:34:32 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MTA2NQ==;sn=53371065",
        "x-ms-date": "Mon, 15 Jun 2026 18:34:32 GMT"
      },
      "ResponseBody": {
        "etag": "FofnuY1Ju8bQrDXowkRPapKW_UgdGAC60XpqHFEpCUw",
        "key": "addConfigSample270",
        "label": null,
        "content_type": null,
        "value": "MyValue",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:34:32+00:00"
      }
    }
  ],
  "Variables": {
    "addConfigSample": "addConfigSample270"
  }
}
