{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigTest313?api-version=2023-11-01&label=MyLabel",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "MyLabel",
        "value": "MyValue"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nhcQwE8la8HEQnbTSFjSgRQ6NMNFQcWAZsfJwJnyF7U\"",
        "Last-Modified": "Thu, 28 May 2026 21:47:21 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MDY0OA==;sn=115290648",
        "x-ms-date": "Thu, 28 May 2026 21:47:21 GMT"
      },
      "ResponseBody": {
        "etag": "nhcQwE8la8HEQnbTSFjSgRQ6NMNFQcWAZsfJwJnyF7U",
        "key": "addConfigTest313",
        "label": "MyLabel",
        "content_type": null,
        "value": "MyValue",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:47:21+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigTest313?api-version=2023-11-01&label=MyLabel",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MDY0OA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nhcQwE8la8HEQnbTSFjSgRQ6NMNFQcWAZsfJwJnyF7U\"",
        "Last-Modified": "Thu, 28 May 2026 21:47:21 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MDY0OQ==;sn=115290649",
        "x-ms-date": "Thu, 28 May 2026 21:47:21 GMT"
      },
      "ResponseBody": {
        "etag": "nhcQwE8la8HEQnbTSFjSgRQ6NMNFQcWAZsfJwJnyF7U",
        "key": "addConfigTest313",
        "label": "MyLabel",
        "content_type": null,
        "value": "MyValue",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:47:21+00:00"
      }
    }
  ],
  "Variables": {
    "addConfigTest": "addConfigTest313"
  }
}
