{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigSample817?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json"
      },
      "RequestBody": {
        "key": "addConfigSample817",
        "value": "MyValue"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"f09d8NZXHkEqPJrjXqmLbRaqA2ZwoGD_dOJeETZvJJU\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:13:39 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3ODQ4MQ==;sn=102478481",
        "x-ms-date": "Tue, 13 Jan 2026 06:13:39 GMT"
      },
      "ResponseBody": {
        "etag": "f09d8NZXHkEqPJrjXqmLbRaqA2ZwoGD_dOJeETZvJJU",
        "key": "addConfigSample817",
        "label": null,
        "content_type": null,
        "value": "MyValue",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-13T06:13:39+00:00"
      }
    }
  ],
  "Variables": {
    "addConfigSample": "addConfigSample817"
  }
}
