{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigSample795?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json"
      },
      "RequestBody": {
        "key": "addConfigSample795",
        "value": "MyValue"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"wHnp7cMAPwnHvnenQLUCnBUED_pNby9o0brr6Ko7Jg4\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:57:34 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzQwMjU=;sn=74234025"
      },
      "ResponseBody": {
        "etag": "wHnp7cMAPwnHvnenQLUCnBUED_pNby9o0brr6Ko7Jg4",
        "key": "addConfigSample795",
        "label": null,
        "content_type": null,
        "value": "MyValue",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T16:57:34+00:00"
      }
    }
  ],
  "Variables": {
    "addConfigSample": "addConfigSample795"
  }
}
