{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigTestTwice309?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "addConfigTestTwice309",
        "label": "test",
        "value": "foo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6Fal6OU8sBrytsNH9rji3ndAp6MBV1oSZXc0vBtqmoY\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:02:51 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjI5MzY=;sn=75062936",
        "x-ms-date": "Tue, 04 Nov 2025 19:02:51 GMT"
      },
      "ResponseBody": {
        "etag": "6Fal6OU8sBrytsNH9rji3ndAp6MBV1oSZXc0vBtqmoY",
        "key": "addConfigTestTwice309",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T19:02:51+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigTestTwice309?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjI5MzY="
      },
      "RequestBody": {
        "key": "addConfigTestTwice309",
        "label": "test",
        "value": "foo"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjI5MzY=;sn=75062936",
        "x-ms-date": "Tue, 04 Nov 2025 19:02:51 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigTestTwice309?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjI5MzY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6Fal6OU8sBrytsNH9rji3ndAp6MBV1oSZXc0vBtqmoY\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:02:51 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjI5Mzc=;sn=75062937",
        "x-ms-date": "Tue, 04 Nov 2025 19:02:51 GMT"
      },
      "ResponseBody": {
        "etag": "6Fal6OU8sBrytsNH9rji3ndAp6MBV1oSZXc0vBtqmoY",
        "key": "addConfigTestTwice309",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T19:02:51+00:00"
      }
    }
  ],
  "Variables": {
    "addConfigTestTwice": "addConfigTestTwice309"
  }
}
