{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigSample205?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json"
      },
      "RequestBody": {
        "key": "addConfigSample205",
        "value": "MyValue"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"V5_ZxwwvHKUbOIEguEkg8EUs0TMnqnp4P7z8NGwBwQI\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:23:20 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzQ0ODc=;sn=74774487",
        "x-ms-date": "Thu, 23 Oct 2025 05:23:20 GMT"
      },
      "ResponseBody": {
        "etag": "V5_ZxwwvHKUbOIEguEkg8EUs0TMnqnp4P7z8NGwBwQI",
        "key": "addConfigSample205",
        "label": null,
        "content_type": null,
        "value": "MyValue",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:23:20+00:00"
      }
    }
  ],
  "Variables": {
    "addConfigSample": "addConfigSample205"
  }
}
