{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigTest424?api-version=2023-11-01&label=MyLabel",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "addConfigTest424",
        "label": "MyLabel",
        "value": "MyValue"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"EI4BN8r77krzUW3hRBspo7EmqDYtFsDaKVQYhy_3HTE\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:31:58 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTkyNzc=;sn=75059277",
        "x-ms-date": "Tue, 04 Nov 2025 18:31:58 GMT"
      },
      "ResponseBody": {
        "etag": "EI4BN8r77krzUW3hRBspo7EmqDYtFsDaKVQYhy_3HTE",
        "key": "addConfigTest424",
        "label": "MyLabel",
        "content_type": null,
        "value": "MyValue",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:31:58+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigTest424?api-version=2023-11-01&label=MyLabel",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNTkyNzc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"EI4BN8r77krzUW3hRBspo7EmqDYtFsDaKVQYhy_3HTE\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:31:58 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTkyNzg=;sn=75059278",
        "x-ms-date": "Tue, 04 Nov 2025 18:31:58 GMT"
      },
      "ResponseBody": {
        "etag": "EI4BN8r77krzUW3hRBspo7EmqDYtFsDaKVQYhy_3HTE",
        "key": "addConfigTest424",
        "label": "MyLabel",
        "content_type": null,
        "value": "MyValue",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:31:58+00:00"
      }
    }
  ],
  "Variables": {
    "addConfigTest": "addConfigTest424"
  }
}
