{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigTest692?api-version=2023-11-01&label=MyLabel",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "MyLabel",
        "value": "MyValue"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dVNXPx7-jmz-rn4c4Pe3G4ZIxau5RV1ZeYmmy6dAPyU\"",
        "Last-Modified": "Thu, 07 May 2026 20:23:32 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MTM3Nw==;sn=113151377",
        "x-ms-date": "Thu, 07 May 2026 20:23:32 GMT"
      },
      "ResponseBody": {
        "etag": "dVNXPx7-jmz-rn4c4Pe3G4ZIxau5RV1ZeYmmy6dAPyU",
        "key": "addConfigTest692",
        "label": "MyLabel",
        "content_type": null,
        "value": "MyValue",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:23:32+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigTest692?api-version=2023-11-01&label=MyLabel",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MTM3Nw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dVNXPx7-jmz-rn4c4Pe3G4ZIxau5RV1ZeYmmy6dAPyU\"",
        "Last-Modified": "Thu, 07 May 2026 20:23:32 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MTM3OA==;sn=113151378",
        "x-ms-date": "Thu, 07 May 2026 20:23:32 GMT"
      },
      "ResponseBody": {
        "etag": "dVNXPx7-jmz-rn4c4Pe3G4ZIxau5RV1ZeYmmy6dAPyU",
        "key": "addConfigTest692",
        "label": "MyLabel",
        "content_type": null,
        "value": "MyValue",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:23:32+00:00"
      }
    }
  ],
  "Variables": {
    "addConfigTest": "addConfigTest692"
  }
}
