{
  "Entries": [
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexes('nfqvobcm')/docs/search.post.suggest?api-version=2024-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "fuzzy": true,
        "search": "hitel",
        "suggesterName": "sg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "24",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "value": [
          {
            "@search.text": "Countryside Hotel",
            "hotelId": "10"
          },
          {
            "@search.text": "Best hotel in town if you like luxury hotels. They have an amazing infinity pool, a spa, and a really helpful concierge. The location is perfect -- right downtown, close to all the tourist attractions. We highly recommend this hotel.",
            "hotelId": "1"
          },
          {
            "@search.text": "Pretty good hotel",
            "hotelId": "4"
          },
          {
            "@search.text": "Very popular hotel in town",
            "hotelId": "3"
          },
          {
            "@search.text": "Cheapest hotel in town. Infact, a motel.",
            "hotelId": "2"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "46218079",
    "SearchIndexName": "nfqvobcm",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-azssdktest"
  }
}
