{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexes(\u0027faurkoaf\u0027)/docs/search.post.suggest?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "fuzzy": true,
        "search": "hitel",
        "suggesterName": "sg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "43",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "value": [
          {
            "@search.text": "Best hotel in town if you like luxury hotels. They have an amazing infinity pool, a spa, and a really helpful concierge. The location is perfect -- right downtown, close to all the tourist attractions. We highly recommend this hotel.",
            "hotelId": "1"
          },
          {
            "@search.text": "Countryside Hotel",
            "hotelId": "10"
          },
          {
            "@search.text": "Very popular hotel in town",
            "hotelId": "3"
          },
          {
            "@search.text": "The hotel is ideally located on the main commercial artery of the city in the heart of New York. A few minutes away is Time\u0027s Square and the historic centre of the city, as well as other places of interest that make New York one of America\u0027s most attractive and cosmopolitan cities.",
            "hotelId": "9"
          },
          {
            "@search.text": "Pretty good hotel",
            "hotelId": "4"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1457912759",
    "SearchIndexName": "faurkoaf",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-shrejasearchservice"
  }
}
