{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexes(\u0027faurkoaf\u0027)/docs/search.post.suggest?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "filter": "category eq \u0027Luxury\u0027",
        "highlightPostTag": "\u003C/b\u003E",
        "highlightPreTag": "\u003Cb\u003E",
        "search": "hotel",
        "suggesterName": "sg",
        "top": 1
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "21",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "value": [
          {
            "@search.text": "Best \u003Cb\u003Ehotel\u003C/b\u003E in town if you like luxury \u003Cb\u003Ehotels\u003C/b\u003E. They have an amazing infinity pool, a spa, and a really helpful concierge. The location is perfect -- right downtown, close to all the tourist attractions. We highly recommend this \u003Cb\u003Ehotel\u003C/b\u003E.",
            "hotelId": "1"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "148643532",
    "SearchIndexName": "faurkoaf",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-shrejasearchservice"
  }
}
