{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchtest.search.windows.net/indexes(\u0027kcttgldf\u0027)/docs/search.post.suggest?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "search": "secret",
        "select": "hotelName,rating,address/city,rooms/type",
        "suggesterName": "sg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "10",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "value": [
          {
            "@search.text": "Secret Point Motel",
            "hotelName": "Secret Point Motel",
            "rating": 4,
            "address": {
              "city": "New York"
            },
            "rooms": [
              {
                "type": "Budget Room"
              },
              {
                "type": "Budget Room"
              }
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1332945083",
    "SearchIndexName": "kcttgldf",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-shrejasearchtest"
  }
}
