{
  "Entries": [
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexes('fxxpydex')/docs/search.post.suggest?api-version=2024-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "orderby": "hotelId",
        "search": "hotel",
        "suggesterName": "sg",
        "top": 3
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "50",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "value": [
          {
            "@search.text": "Best hotel in town if you like luxury hotels. They have an amazing infinity pool, a spa, and a really helpful concierge. The location is perfect -- right downtown, close to all the tourist attractions. We highly recommend this hotel.",
            "hotelId": "1"
          },
          {
            "@search.text": "Save up to 50% off traditional hotels.  Free WiFi, great location near downtown, full kitchen, washer & dryer, 24/7 support, bowling alley, fitness center and more.",
            "hotelId": "10"
          },
          {
            "@search.text": "Cheapest hotel in town. Infact, a motel.",
            "hotelId": "2"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1481401785",
    "SearchIndexName": "fxxpydex",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-azssdktest"
  }
}
