{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexes(\u0027faurkoaf\u0027)/docs/search.post.suggest?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "orderby": "This is not a valid orderby.",
        "search": "hotel",
        "suggesterName": "sg"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "7"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "Invalid expression: Syntax error at position 7 in \u0027This is not a valid orderby.\u0027.\r\nParameter name: $orderby"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1811672910",
    "SearchIndexName": "faurkoaf",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-shrejasearchservice"
  }
}
