{
  "Entries": [
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexes('fxxpydex')/docs/search.post.suggest?api-version=2024-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "search": "hotel",
        "suggesterName": "Invalid suggester"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "5"
      },
      "ResponseBody": {
        "error": {
          "code": "MissingRequiredParameter",
          "message": "The specified suggester name 'Invalid suggester' does not exist in this index definition.\r\nParameter name: name",
          "details": [
            {
              "code": "MissingSuggesterName",
              "message": "The specified suggester name 'Invalid suggester' does not exist in this index definition."
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1427791659",
    "SearchIndexName": "fxxpydex",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-azssdktest"
  }
}
