{
  "Entries": [
    {
      "RequestUri": "https://azs-net-azsearchsdktest.search.windows.net/indexes('abhglqwr')/docs/search.post.suggest?api-version=2026-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "search": "hotel",
        "suggesterName": "Invalid suggester"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "7"
      },
      "ResponseBody": {
        "error": {
          "code": "MissingRequiredParameter",
          "message": "The specified suggester name 'Invalid suggester' does not exist in this index definition.\r\nParameter name: name",
          "details": [
            {
              "code": "MissingSuggesterName",
              "message": "The specified suggester name 'Invalid suggester' does not exist in this index definition."
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1375995892",
    "SearchIndexName": "abhglqwr",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-azsearchsdktest"
  }
}
