{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-23265ba9-ac9b-2ecf-034c-2a8d05eafcaf?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:45:01 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D38B2FF2B9\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:45:00 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-f76ae232-3df3-ca9b-e565-6272b63d3cc8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:45:01 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D38B342FB7\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:45:00 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-f76ae232-3df3-ca9b-e565-6272b63d3cc8/test-blob-f8158ec3-85cb-14b9-73a3-f77e1203428f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 17 Jul 2025 01:45:01 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "d/3i9rgiSrWzPKIE95cn/edzQicFwIKlhzHlxPXlyTwiYw7mU8QpfQFONFK0zbHGfEtHPbCDO7d6PG+HPYbAzXNl4pSJQKkjSsQmt4sv8bl/HkepnoyMnidWbBZUoUB6jmbfT+sdPTuhI/LsXYQsSku2CB4+Fi/n2URsMtSTzqiEqygkUKLOYuEMB3qZn0CjKiHKnpkhPHc3+HWmsQpmDlVKZ7JbB/qp56U9Mg+1TTkDyQizyDAOYm+x7VcsJ7DWpfgkTziNRyMmIbbz5Alngao8oucCs0UlOwRDqhmifcD1Z4wWkP4BdoHljKd5G35lSWut8ITI0/Ky/xMzSZ0Jg6P2/nx8UPGsOixmHSeeqyCG[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-23265ba9-ac9b-2ecf-034c-2a8d05eafcaf/test-blob-0eefee11-850e-0c2c-d924-dd8a60a5866c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 17 Jul 2025 01:45:01 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D38B3DF450\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:45:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-23265ba9-ac9b-2ecf-034c-2a8d05eafcaf/test-blob-0eefee11-850e-0c2c-d924-dd8a60a5866c?sv=Sanitized&se=2025-07-18T01%3A45%3A01Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDC4D38B3DF450\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:45:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-f76ae232-3df3-ca9b-e565-6272b63d3cc8/test-blob-f8158ec3-85cb-14b9-73a3-f77e1203428f?sv=Sanitized&se=2025-07-18T01%3A45%3A01Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-23265ba9-ac9b-2ecf-034c-2a8d05eafcaf/test-blob-0eefee11-850e-0c2c-d924-dd8a60a5866c?sv=sanitized-value&se=2025-07-18T01%3A45%3A01Z&sr=f&sp=rcwd&sig=Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:c95085b1-a01e-0010-7ebc-f67fb2000000\n",
        "Time:2025-07-17T01:45:01.0956556Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-f76ae232-3df3-ca9b-e565-6272b63d3cc8/test-blob-f8158ec3-85cb-14b9-73a3-f77e1203428f?sv=Sanitized&se=2025-07-18T01%3A45%3A01Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "4TIs9g/V+V7wBkB3fAN5Zg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDC4D38B38C96C\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:45:00 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 17 Jul 2025 01:45:00 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-17T01:45:00.9376620Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-f76ae232-3df3-ca9b-e565-6272b63d3cc8/test-blob-f8158ec3-85cb-14b9-73a3-f77e1203428f?sv=Sanitized&se=2025-07-18T01%3A45%3A01Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DDC4D38B38C96C\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDC4D38B38C96C\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:45:00 GMT",
        "x-ms-blob-content-md5": "4TIs9g/V+V7wBkB3fAN5Zg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 17 Jul 2025 01:45:00 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-17T01:45:00.9376620Z"
      },
      "ResponseBody": "d/3i9rgiSrWzPKIE95cn/edzQicFwIKlhzHlxPXlyTwiYw7mU8QpfQFONFK0zbHGfEtHPbCDO7d[...]
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-23265ba9-ac9b-2ecf-034c-2a8d05eafcaf?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:45:01 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-07-16T21:45:01.2306685-04:00",
    "RandomSeed": "926622752",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
