{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-5434a839-95e7-2fb8-31d8-83388182f589?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:08:24 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194E04FDD960\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:08:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-171962e2-9d5c-2f97-3bdd-dcb652c7162c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:08:24 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194E05082C3C\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:08:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-171962e2-9d5c-2f97-3bdd-dcb652c7162c/test-blob-f03d6b82-2056-0103-a790-6e87f951be95",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 10 Dec 2024 19:08:24 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "2G4ip0X8i5Xpqd2hjer9/X+LuKvNWWpGA6UwWNcDCJF/hvlZuXRBwqZTja0vzlA+nzzD8+t3On4E3KOgzDK+5qFMIQfwpEMLSfUEecy8FjVV8bmaPxSlB0t7Vd3QofV0laYM4qxITfv4uKr2c8CxR8VuS9p5I6eNpxq7dU9mO6f/kOQmsDOIDKS+oodqr5SLyQ0YYlYb+nL+fzuSjderknwC9uPci5eR5T42u4EgIviFMKxBTdlQ5JVxJzH49n7MEg8KZ7ixrj12hnwX5T/w3lxCDF0qaUSjsRJOamNlmO/AaahxFrs/1IFvy8dcOP5VgEnVtekhoajLZrWmY0PZEO2NV3yWf8ehAzjbu559R3gT[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-5434a839-95e7-2fb8-31d8-83388182f589/test-blob-18692cda-7bde-db5f-0453-58329bed3713",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 10 Dec 2024 19:08:24 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194E051B5EE4\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:08:24 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-5434a839-95e7-2fb8-31d8-83388182f589/test-blob-18692cda-7bde-db5f-0453-58329bed3713?sv=Sanitized&se=2024-12-11T19%3A08%3A24Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD194E051B5EE4\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:08:24 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-171962e2-9d5c-2f97-3bdd-dcb652c7162c/test-blob-f03d6b82-2056-0103-a790-6e87f951be95?sv=Sanitized&se=2024-12-11T19%3A08%3A24Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-5434a839-95e7-2fb8-31d8-83388182f589/test-blob-18692cda-7bde-db5f-0453-58329bed3713?sv=sanitized-value&se=2024-12-11T19%3A08%3A24Z&sr=f&sp=rcwd&sig=Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:22163d35-b01e-0002-4436-4b1e0c000000\n",
        "Time:2024-12-10T19:08:24.2862502Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-171962e2-9d5c-2f97-3bdd-dcb652c7162c/test-blob-f03d6b82-2056-0103-a790-6e87f951be95?sv=Sanitized&se=2024-12-11T19%3A08%3A24Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "i6pbvcAWhTff9dcKaug+Uw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD194E0511C05E\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:08:23 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 Dec 2024 19:08:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-171962e2-9d5c-2f97-3bdd-dcb652c7162c/test-blob-f03d6b82-2056-0103-a790-6e87f951be95?sv=Sanitized&se=2024-12-11T19%3A08%3A24Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD194E0511C05E\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD194E0511C05E\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:08:23 GMT",
        "x-ms-blob-content-md5": "i6pbvcAWhTff9dcKaug+Uw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 Dec 2024 19:08:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "2G4ip0X8i5Xpqd2hjer9/X+LuKvNWWpGA6UwWNcDCJF/hvlZuXRBwqZTja0vzlA+nzzD8+t3On4E3KOgzDK+5qFMIQfwpEMLSfUEecy8FjVV8bmaPxSlB0t7Vd3QofV0laYM4qxITfv4uKr2c8CxR8VuS9p5I6eNpxq7dU9mO6f/kOQms[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-5434a839-95e7-2fb8-31d8-83388182f589?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:08:24 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-12-10T11:08:24.2896172-08:00",
    "RandomSeed": "1246745180",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
