{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f8892d6e-2c55-8ab5-14fd-6f49dfc3f25e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868F350A1B79\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:14:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f8892d6e-2c55-8ab5-14fd-6f49dfc3f25e/test-blob-9ee799bd-ae34-799f-bd41-120d9abd6b95",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868F351D5847\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:14:40 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:14:40.9338708Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f8892d6e-2c55-8ab5-14fd-6f49dfc3f25e/test-blob-9ee799bd-ae34-799f-bd41-120d9abd6b95?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "8cZoLoPl/sgw0+ksapHVfyljheT6jWoWf0vDVJaF5uC2E1QIgVvJ6j+okg+lv4MwbbVWmcV0V2NbUa83IakyquwIdVc9zP7OmpqkUvtbcL/Ik+fgL00bQbvwrC+skcmVducjnEks8qC3h/4qzwVoAOHvb43CUXue7TSbTR/OIgjRDtsTONR1m6FHKadO8HG2h6xOvCI70yVrhK4VkaWA6GX2WcApVMgMetPseyfUT/3C5cVzgGbllju2p7MlXwr7xkBBV5exjDPjQUFOT1j9lzWxU6zgDGj/EcKFc6wU5hrJ8LTmkvdmEViRjz4klkfiuBB+dAxeGrnYQkbUKxiGz1snhV6kFgU9SkJTTn0p23p7orqclnEOatX6DlCwkuVAC8Dj/BHpPqIKQSnJC8w8rmbMWIhe6Tj[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f8892d6e-2c55-8ab5-14fd-6f49dfc3f25e/test-blob-14b73594-cf3b-a4d7-69b4-b154216b4f4c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868F3608DCBB\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:14:42 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:14:42.4773570Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f8892d6e-2c55-8ab5-14fd-6f49dfc3f25e/test-blob-14b73594-cf3b-a4d7-69b4-b154216b4f4c?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-f8892d6e-2c55-8ab5-14fd-6f49dfc3f25e/test-blob-9ee799bd-ae34-799f-bd41-120d9abd6b95",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868F361ADC8C\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:14:42 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "4ICjNs4K8lk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f8892d6e-2c55-8ab5-14fd-6f49dfc3f25e/test-blob-14b73594-cf3b-a4d7-69b4-b154216b4f4c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868F361ADC8C\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:14:42 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:14:42 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:14:42.4773570Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f8892d6e-2c55-8ab5-14fd-6f49dfc3f25e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "869195451",
    "Storage_TestConfigOAuth": "OAuthTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\n\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
