{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a77c405b-9819-0616-de85-3147d773ad4b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 Jun 2024 19:54:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8A5057A43267\"",
        "Last-Modified": "Tue, 11 Jun 2024 19:54:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a77c405b-9819-0616-de85-3147d773ad4b/test-blob-e7ae030e-3bf6-02c7-02ee-2d3ee44ac82e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 11 Jun 2024 19:54:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8A5057B932C1\"",
        "Last-Modified": "Tue, 11 Jun 2024 19:54:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-11T19:54:45.3539521Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a77c405b-9819-0616-de85-3147d773ad4b/test-blob-e7ae030e-3bf6-02c7-02ee-2d3ee44ac82e?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 11 Jun 2024 19:54:44 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "fNtBdo2NLrrY9Y21BBhw0r/utjUjXyruuoZysrpOkwKKrKUUnd1IREv9OjGB/TGv3mQiiYgcAxyxU7wGGnv/iWKKK1hzWzXipnLqJiX4bLxVw9RWLAp6baiIY0khQSrQ/bDP99LZO4IvQOIWMtz2uOf/sVanqVxXEL2v6/jrwWVHGSl0KHXqe4dSJ+wnZDvLkapiIY/TKVRUd+YUKVCJQ359zhizgY9yFDbOVYFwMKyB5FlNiZ/WdPDUILCO1VI3yORtqpUiFw8a8AxYBNPS5Ec6k0T2O7nep1oo32He5D/kl4ydAoYWX8xJMpmTfW8cATxpU0INQIwqjgI7+jiuPAvNdG1HNeHAIzN4rAkgSyrqC90ldZD811YAc3OD22SUm/aNxQgC1cxaqC8OlZSDCkLYUO9aicZ[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a77c405b-9819-0616-de85-3147d773ad4b/test-blob-ce0009ab-d793-603a-b014-c488afda7151",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 11 Jun 2024 19:54:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8A5057CE6557\"",
        "Last-Modified": "Tue, 11 Jun 2024 19:54:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-11T19:54:45.4928727Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a77c405b-9819-0616-de85-3147d773ad4b/test-blob-ce0009ab-d793-603a-b014-c488afda7151?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-a77c405b-9819-0616-de85-3147d773ad4b/test-blob-e7ae030e-3bf6-02c7-02ee-2d3ee44ac82e?sv=Sanitized&se=2024-06-11T20%3A54%3A44Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Tue, 11 Jun 2024 19:54:44 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8A5057DF2BBC\"",
        "Last-Modified": "Tue, 11 Jun 2024 19:54:45 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "BetsXbzTwoE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a77c405b-9819-0616-de85-3147d773ad4b/test-blob-ce0009ab-d793-603a-b014-c488afda7151",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 Jun 2024 19:54:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8A5057DF2BBC\"",
        "Last-Modified": "Tue, 11 Jun 2024 19:54:45 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 11 Jun 2024 19:54:45 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-11T19:54:45.4928727Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a77c405b-9819-0616-de85-3147d773ad4b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 Jun 2024 19:54:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-11T14:54:44.3741679-05:00",
    "RandomSeed": "1976423205",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
