{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e627f42d-2b73-b782-bb7d-8411ad3450bd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868F32DB5D6A\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:14:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e627f42d-2b73-b782-bb7d-8411ad3450bd/test-blob-983b7802-942c-d154-b19b-d1d5d71fa07b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868F32ED6187\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:14:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:14:37.2630919Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e627f42d-2b73-b782-bb7d-8411ad3450bd/test-blob-983b7802-942c-d154-b19b-d1d5d71fa07b?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "uV0yYb8CdgL1aV02x0b0Fba1N2r3X8UDZhFZZrFkYDXpnDRLkUj2UkRpjUVC2Yf+qasWdJBCV1mXLvuuqA9QkAgnTSoRqYNtvuUljdKAwIyJW70GTuylp0XatGJNSKo1Gf08G4xd7P8nqbWqHMmHFm5uJExRSkEbgaXlNvQhH3U78HTVQ6X/K26936U2+4p7U5703yRd4867IJrmeLYLBYlAbitVstLJb/jelGuc5YYbaeJWLUBR3g2lGiMLGbO4stkb9YxfJaHLK28rf09jHjsTyw7TtNhJ75Aer5ivvVVFJeGRgO/5vENBigLQJV6+Qvvn902l5P0B0gb7QHYIHG0a5llt0p5LGQ/KkSrVeMkxX22dx8YIoEHkj63o/nvNOG6Vtj8FUG9cm90+2lLTLFk9yeEIa1S[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e627f42d-2b73-b782-bb7d-8411ad3450bd/test-blob-5bf32673-b2cc-9d33-d860-6b8c2563e274",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868F33B079D7\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:14:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:14:38.5416663Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e627f42d-2b73-b782-bb7d-8411ad3450bd/test-blob-5bf32673-b2cc-9d33-d860-6b8c2563e274?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-e627f42d-2b73-b782-bb7d-8411ad3450bd/test-blob-983b7802-942c-d154-b19b-d1d5d71fa07b",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868F33C81E83\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:14:38 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "3nolh3xmBCI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e627f42d-2b73-b782-bb7d-8411ad3450bd/test-blob-5bf32673-b2cc-9d33-d860-6b8c2563e274",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868F33C81E83\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:14:38 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:14:38 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:14:38.5416663Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e627f42d-2b73-b782-bb7d-8411ad3450bd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "473339463",
    "Storage_TestConfigOAuth": "OAuthTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\n\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
