{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-366aad9c-dc47-a13f-4fff-9ec9ad930b03?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:14:23 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868F2B785D9C\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:14:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-366aad9c-dc47-a13f-4fff-9ec9ad930b03/test-blob-687985a5-5aca-8ce5-a0ab-08361bfeccda",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:14:23 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868F2B85A629\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:14:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:14:24.8392233Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-366aad9c-dc47-a13f-4fff-9ec9ad930b03/test-blob-687985a5-5aca-8ce5-a0ab-08361bfeccda?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:14:23 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "y5X90ee9Hvk5lnybrx3sdzVM55xjfOA3G6NBPOs/+N1XvPwKKqTVkmGhFmMywTam+EjXnSc6i0+0xbZDe+EO+Z2fRPMg4UyQdlQ6wWV8BFptm0OiaFu1HDGsVWXukRZ/kx3Gk3xChRb8RifS/8nqOMFc1uCda5BC6SfCc4vnouU+ui5HtnDdKhUspiE04hxnwh2jkro24ieNg6pVgBKLFKRBlEWbooJQfqzKcMVuDgYKWrBuQw8qCNgGujLGh6kDoZF98k7XyyCaUxMOa3FiHnWjSyZhHNGVFoxslOdPifcCx88z8Ry4Mo6Q0+/8HJxnpJy9IjuDooXA6NvBazY4S8obC6ShLixZ6xmX0UjhmPrvBPBLkma8fyVJcglA98dYV4gl4BD4xXVwZDci7NE830/h0WZG7bh[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-366aad9c-dc47-a13f-4fff-9ec9ad930b03/test-blob-687985a5-5aca-8ce5-a0ab-08361bfeccda",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:14:23 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868F2B927653\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:14:24 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:14:24 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:14:24.8392233Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-366aad9c-dc47-a13f-4fff-9ec9ad930b03?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:14:23 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "928577531",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
