{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3029a2d1-a8ca-386b-e6f0-63fb8c885f27?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:14:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868F38DEEB60\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:14:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3029a2d1-a8ca-386b-e6f0-63fb8c885f27/test-blob-afa5ca4d-653f-1c82-97b2-94a400b8d820",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:14:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868F38ECF8F6\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:14:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:14:47.3267446Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3029a2d1-a8ca-386b-e6f0-63fb8c885f27/test-blob-afa5ca4d-653f-1c82-97b2-94a400b8d820?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:14:45 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "joltjgfL5ZMv7w0z000SWAuiq/1TQwB6Xq+3F6q/0Ekj6qaA0RjqLR3RZTDVrh9cmLXPQqzqVEqI8y9YFM3pcB/EEOimkYbyuH7ggd7Qpa+PW370742dOJZb997okRhP6PUREZ43tQYv3IkuCtJsuE2AyLlP9ICRJ9dSSpmoCiZlkZnpv5QRWKV4xRMDbi7D7z+QaMhfAPR0f+rG5GtthtJiyHk4gvm5bnAT1i5tjripjlpaF6FdBpGldD+qSnM6Cj9BoKa1imxF1/pYSynFB/ExHVUQEm8wBcLokw25DyP82cvvK+0S9ATtFECnBbpn321OeC0eKfjQEJvjzfdfi8fWXHJd1tsDHyhRIv4uiP8IgLSga5b13q/THxpRLicNjoh40KlICgiRSlgFzQf5oYec2kxCviA[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3029a2d1-a8ca-386b-e6f0-63fb8c885f27/test-blob-afa5ca4d-653f-1c82-97b2-94a400b8d820",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:14:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868F38FA6553\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:14:47 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:14:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:14:47.3267446Z"
      },
      "ResponseBody": "joltjgfL5ZMv7w0z000SWAuiq/1TQwB6Xq+3F6q/0Ekj6qaA0RjqLR3RZTDVrh9cmLXPQqzqVEqI8y9YFM3pcB/EEOimkYbyuH7ggd7Qpa+PW370742dOJZb997okRhP6PUREZ43tQYv3IkuCtJsuE2AyLlP9ICRJ9dSSpmoCiZlkZnpv5QRWKV4xRMDbi7D7z+QaMhfAPR0f+rG5GtthtJiyHk4gvm5bnAT1i5tjripjlpaF6FdBpGldD+qSnM6Cj9BoKa1imxF1/pYSynFB/ExHVUQEm8wBcLokw25DyP82cvvK+0S9ATtFECnBbpn321OeC0eKfjQEJvjzfdfi8fWXHJd1tsDHyhRIv4uiP8[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3029a2d1-a8ca-386b-e6f0-63fb8c885f27?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:14:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1173288036",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
