{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7363800e-8a3a-fabc-601a-ff2ce7569c7c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:14:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868F2C57D508\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:14:26 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7363800e-8a3a-fabc-601a-ff2ce7569c7c/test-blob-6170a403-4317-262d-5437-b242d521deb6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:14:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868F2C66561B\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:14:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:14:26.3127339Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7363800e-8a3a-fabc-601a-ff2ce7569c7c/test-blob-6170a403-4317-262d-5437-b242d521deb6?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:14:24 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "BcmbsqUB+0yZnoOZmiC+pY1sDCmJZn4Lt8DI6ybRtynz1weeE/agNK9L3plTfnrYYuusrqhgSJ9Kj/rlORAlx+ZZpsIZH5KWy9d6PYjluDlG74g7JQmAk49nVIP8uvufJhaz+di3vkNYFeLQ5QoXZdbBnkmH6qLc2RIzscsPmhHc2hdxMb9hjzFF4xAnr62EUO+sOxyxGDx01iDFgw13SHrR9AvzpTMXXw8YQQaRtSllr2DcYl/0KsLb/VufnAskzpqVVbuikKu7ldsMmdc14iD3YNSsm+Ua3MlJGKjYeMME83Js+19twx61IM2E6JDqpho6qDw2dzK0e3nyWXgC4xwYB6ZkyebBiZy193oYlvM4XnKNndCHznw/t4Dle2qmsjywbOHqht00eR6fgH+3nOSGufoGdUZ[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7363800e-8a3a-fabc-601a-ff2ce7569c7c/test-blob-6170a403-4317-262d-5437-b242d521deb6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:14:24 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868F2C7485B1\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:14:26 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:14:26 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:14:26.3127339Z"
      },
      "ResponseBody": "BcmbsqUB+0yZnoOZmiC+pY1sDCmJZn4Lt8DI6ybRtynz1weeE/agNK9L3plTfnrYYuusrqhgSJ9Kj/rlORAlx+ZZpsIZH5KWy9d6PYjluDlG74g7JQmAk49nVIP8uvufJhaz+di3vkNYFeLQ5QoXZdbBnkmH6qLc2RIzscsPmhHc2hdxMb9hjzFF4xAnr62EUO+sOxyxGDx01iDFgw13SHrR9AvzpTMXXw8YQQaRtSllr2DcYl/0KsLb/VufnAskzpqVVbuikKu7ldsMmdc14iD3YNSsm+Ua3MlJGKjYeMME83Js+19twx61IM2E6JDqpho6qDw2dzK0e3nyWXgC4xwYB6ZkyebBiZy193oYlvM[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7363800e-8a3a-fabc-601a-ff2ce7569c7c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:14:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "853519393",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
