{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/connections?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "49",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.049"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "appinsights-connection",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.CognitiveServices/accounts/sanitized-account-name/projects/sanitized-project-name/connections/appinsights-connection",
            "type": "AppInsights",
            "target": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.Insights/components/sanitized-component-name",
            "isDefault": true,
            "credentials": {
              "type": "ApiKey"
            },
            "metadata": {
              "ApiType": "Azure",
              "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.Insights/components/sanitized-component-name"
            }
          },
          {
            "name": "aoai-connection",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.CognitiveServices/accounts/sanitized-account-name/projects/sanitized-project-name/connections/aoai-connection",
            "type": "AzureOpenAI",
            "target": "https://aoai-jep6bl5hlacma.openai.azure.com/",
            "isDefault": true,
            "credentials": {
              "type": "AAD"
            },
            "metadata": {
              "ApiType": "azure",
              "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.CognitiveServices/accounts/sanitized-account-name",
              "ApiVersion": "2023-07-01-preview",
              "DeploymentApiVersion": "2023-10-01-preview"
            }
          },
          {
            "name": "a2a",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.CognitiveServices/accounts/sanitized-account-name/projects/sanitized-project-name/connections/a2a",
            "type": "RemoteA2A",
            "target": "https://a2a-test-app-helloworld.happytree-5e7cd15d.swedencentral.azurecontainerapps.io",
            "isDefault": false,[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/connections?api-version=v1&connectionType=AzureOpenAI",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "173",
        "x-ms-region": "West US 2",
        [...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/connections?api-version=v1&connectionType=AzureOpenAI&defaultConnection=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "143",
        "x-ms-region"[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/connections/aoai-connection?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "175",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.032"
      },
      "ResponseBody": {
        "name": "aoai-connection",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.CognitiveServices/accounts/sanitized-account-name/projects/sanitized-project-name/connections/aoai-connection",
        "type": "AzureOpenAI",
        "target": "https://aoai-jep6bl5hlacma.openai.azure.com/",
        "isDefault": true,
        "credentials": {
          "type": "AAD"
        },
        "metadata": {
          "ApiType": "azure",
          "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.CognitiveServices/accounts/sanitized-account-name",
          "ApiVersion": "2023-07-01-preview",
          "DeploymentApiVersion": "2023-10-01-preview"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/connections/aoai-connection/getConnectionWithCredentials?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "147",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.045"
      },
      "ResponseBody": {
        "name": "aoai-connection",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.CognitiveServices/accounts/sanitized-account-name/projects/sanitized-project-name/connections/aoai-connection",
        "type": "AzureOpenAI",
        "target": "https://aoai-jep6bl5hlacma.openai.azure.com/",
        "isDefault": true,
        "credentials": {
          "type": "AAD"
        },
        "metadata": {
          "ApiType": "azure",
          "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.CognitiveServices/accounts/sanitized-account-name",
          "ApiVersion": "2023-07-01-preview",
          "DeploymentApiVersion": "2023-10-01-preview"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/connections/mcp?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "51",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.038"
      },
      "ResponseBody": {
        "name": "mcp",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.CognitiveServices/accounts/sanitized-account-name/projects/sanitized-project-name/connections/mcp",
        "type": "RemoteTool",
        "target": "https://api.githubcopilot.com/mcp",
        "isDefault": true,
        "credentials": {
          "type": "CustomKeys"
        },
        "metadata": {
          "type": "custom_MCP"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/connections/mcp/getConnectionWithCredentials?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "177",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.046"
      },
      "ResponseBody": {
        "name": "mcp",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.CognitiveServices/accounts/sanitized-account-name/projects/sanitized-project-name/connections/mcp",
        "type": "RemoteTool",
        "target": "https://api.githubcopilot.com/mcp",
        "isDefault": true,
        "credentials": {
          "authorization": "Bearer sanitized-github-pat",
          "type": "CustomKeys"
        },
        "metadata": {
          "type": "custom_MCP"
        }
      }
    }
  ],
  "Variables": {}
}
