{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/00000/listsecrets?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "ignored": "ignore"
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-response-type": "error",
        "x-request-time": "0.040"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "severity": null,
          "message": "Connection non-existing-connection-name can't be found in this workspace",
          "messageFormat": null,
          "messageParameters": null,
          "referenceCode": null,
          "detailsUri": null,
          "target": null,
          "details": [],
          "innerError": {
            "code": "NotFoundError",
            "innerError": null
          },
          "debugInfo": null,
          "additionalInfo": null
        },
        "correlation": {
          "operation": "351ce16a7872b77148ad8209b43dd288",
          "request": "e0646ef02679245b"
        },
        "environment": "eastus2",
        "location": "eastus2",
        "time": "2024-11-11T18:30:57.2642413+00:00",
        "componentName": "account-rp",
        "statusCode": 404
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/00000?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-m[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/00000?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.058"
      },
      "ResponseBody": {
        "tags": null,
        "location": null,
        "id": "Sanitized",
        "name": "default-aoai-connection-name",
        "type": "Microsoft.MachineLearningServices/workspaces/00000",
        "properties": {
          "authType": "ApiKey",
          "credentials": null,
          "group": "AzureAI",
          "category": "AzureOpenAI",
          "expiryTime": null,
          "target": "https://default-aiservices-connection-name.openai.azure.com/",
          "createdByWorkspaceArmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "useWorkspaceManagedIdentity": true,
          "isSharedToAll": true,
          "sharedUserList": [],
          "peRequirement": "NotRequired",
          "peStatus": "NotApplicable",
          "error": null,
          "metadata": {
            "ApiType": "Azure",
            "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/default-aiservices-connection-name",
            "Location": "eastus2",
            "ApiVersion": "2023-07-01-preview",
            "DeploymentApiVersion": "2023-10-01-preview"
          }
        },
        "systemData": {
          "createdAt": "2024-11-04T18:45:25.0675185Z",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2024-11-04T18:45:25.0675185Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/00000/listsecrets?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "ignored": "ignore"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-response-type": "standard",
        "x-request-time": "0.090"
      },
      "ResponseBody": {
        "tags": null,
        "location": null,
        "id": "Sanitized",
        "name": "default-aoai-connection-name",
        "type": "Microsoft.MachineLearningServices/workspaces/00000",
        "properties": {
          "authType": "ApiKey",
          "credentials": {
            "key": "C6XjU5RB9Ni1gwG0XcCsE6BTxUKrdwM9k8cnxr6Npr0FMAxiykZ5JQQJ99AKACHYHv6XJ3w3AAAAACOGpvsQ"
          },
          "group": "AzureAI",
          "category": "AzureOpenAI",
          "expiryTime": null,
          "target": "https://default-aiservices-connection-name.openai.azure.com/",
          "createdByWorkspaceArmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "useWorkspaceManagedIdentity": true,
          "isSharedToAll": true,
          "sharedUserList": [],
          "peRequirement": "NotRequired",
          "peStatus": "NotApplicable",
          "error": null,
          "metadata": {
            "ApiType": "Azure",
            "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/default-aiservices-connection-name",
            "Location": "eastus2",
            "ApiVersion": "2023-07-01-preview",
            "DeploymentApiVersion": "2023-10-01-preview"
          }
        },
        "systemData": {
          "createdAt": "2024-11-04T18:45:25.0675185Z",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2024-11-04T18:45:25.0675185Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
[...]
