{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections?api-version=2024-07-01-preview&includeAll=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249",
        "x-ms-response-type": "standard",
        "x-request-time": "0.161"
      },
      "ResponseBody": {
        "value": [
          {
            "tags": null,
            "location": null,
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/default-key-auth-aoai-connection-name",
            "name": "default-key-auth-aoai-connection-name",
            "type": "Microsoft.MachineLearningServices/workspaces/00000",
            "properties": {
              "authType": "ApiKey",
              "credentials": null,
              "group": "AzureAI",
              "category": "AzureOpenAI",
              "expiryTime": null,
              "target": "https://default-key-auth-aiservices-connection-name.openai.azure.com/",
              "createdByWorkspaceArmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
              "useWorkspaceManagedIdentity": true,
              "isSharedToAll": true,
              "sharedUserList": [],
              "peRequirement": "NotRequired",
              "peStatus": "NotApplicable",
              "error": null,
              "metadata": {
                "ApiType": "Azure",
                "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/default-key-auth-aiservices-connection-name",
                "Location": "eastus2",
                "ApiVersion": "2023-07-01-preview",
                "DeploymentApiVersion": "2023-10-01-preview"
              }
            },
            "systemData": {
              "createdAt": "2024-12-10T16:41:03.9027204Z",
              "createdBy": "Sanitized",
              "createdByType": "User",
              "lastModifiedAt": "2024-12-10T16:41:03.9027204Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User"
            }
          },
          {
            "tags": null,
            "location": null,
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/default-key-auth-aiservices-connection-name",
            "name": "default-key-auth-aiservices-connection-name",
            "type": "Microsoft.MachineLearningServices/workspaces/00000",
            "properties": {
              "au[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections?api-version=2024-07-01-preview&category=AzureOpenAI&includeAll=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "v[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections?api-version=2024-07-01-preview&category=AIServices&includeAll=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vi[...]
