{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "5b4b650e-28b9-4790-b3ab-ddbd88d727c4",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure Event Grid - SDK",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourcegroups/DevExpRg?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/DevExpRg",
        "name": "DevExpRg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "centralus",
        "tags": {
          "MessagingTestResourceInUse": "MessagingTestResourceInUse",
          "DoNotDelete": "true",
          "Owner": "ahamad"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/DevExpRg/providers/Microsoft.EventGrid/topics/securedwebhooktopic?api-version=2025-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "endpoint": "https://securedwebhooktopic.centralus-1.eventgrid.azure.net/api/events",
          "inputSchema": "EventGridSchema",
          "metricResourceId": "8d05815b-aa3d-4d0b-9015-cd3a0c248bee",
          "publicNetworkAccess": "Enabled",
          "inboundIpRules": [],
          "privateEndpointConnections": [
            {
              "properties": {
                "privateEndpoint": {
                  "id": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/DevExpRg/providers/Microsoft.Network/privateEndpoints/sdk-eventgrid-test-pec"
                },
                "groupIds": [
                  "topic"
                ],
                "privateLinkServiceConnectionState": {
                  "status": "Approved",
                  "description": "Re-approved via SDK test",
                  "actionsRequired": "None"
                },
                "provisioningState": "Succeeded"
              },
              "id": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/DevExpRg/providers/Microsoft.EventGrid/topics/securedwebhooktopic/privateEndpointConnections/sdk-eventgrid-test-pec.5c19a378-9bde-4888-8fee-496407847305",
              "name": "sdk-eventgrid-test-pec.5c19a378-9bde-4888-8fee-496407847305",
              "type": "Microsoft.EventGrid/topics/privateEndpointConnections"
            }
          ],
          "disableLocalAuth": false,
          "dataResidencyBoundary": "WithinGeopair"
        },
        "sku": {
          "name": "Basic"
        },
        "identity": {
          "type": "None",
          "principalId": null,
          "tenantId": null,
          "userAssignedIdentities": null
        },
        "kind": "Azure",
        "systemData": null,
        "location": "centralus",
        "tags": {
          "DoNotDelete": "true",
          " Owner": "ahamad"
        },
        "id": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/DevExpRg/providers/Microsoft.EventGrid/topics/securedwebhooktopic",
        "name": "securedwebhooktopic",
        "type": "Microsoft.EventGrid/topics"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/DevExpRg/providers/Microsoft.EventGrid/topics/securedwebhooktopic/privateEndpointConnections?api-version=2025-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16498",
        "x-ms-ratelimit-remaining-subscription-reads": "1098"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "privateEndpoint": {
                "id": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/DevExpRg/providers/Microsoft.Network/privateEndpoints/sdk-eventgrid-test-pec"
              },
              "groupIds": [
                "topic"
              ],
              "privateLinkServiceConnectionState": {
                "status": "Approved",
                "description": "Re-approved via SDK test",
      [...]
