{
  "Entries": [
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyRemoteEncrypt-55/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": null,
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyRemoteEncrypt-55/3631e33b70cd40998127713fda989911",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "q1wjcwaFS6J6U6dz39kYhHtC4yJDMnBSVINaaKLsd3VsPTgNFw3agP1_rece-QHwx1UUlMWUk27-4sQ-rwSCH-O2oHr9Ja4Y2fJYORNsGvAax403yUYX_9sw5PW4fa01i8WHvg_Q29bMS49WMUq84gNVrmp-W8wNfuFq3_v2WpRqyRNIxrAvQCe3cyY9h_SyXp0nO7Bwb9oXskMAohdZtvYrWKG6t4-3rzUfUSQSDWtBCrzl6u1V0BrVGOTplI_PeJD89yp0c9Yph_0pfuPJPb8luf3TQOEDIDDs2EcDJyjlvdKWYFy3DHDvMshOeQddK1oG7oRCi75KjUbM3J7L3Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1713812711,
          "updated": 1713812711,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyRemoteEncrypt-55/encrypt?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0AA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyRemoteEncrypt-55/3631e33b70cd40998127713fda989911",
        "value": "pBHai4yjAw0eDzeIZSxV9WuLFKxWygq73DGWAkzbffJtzKtmKRqgmQCAKf94ad-xc4Ij6MFAXRm-VsBz1GjwAAGKQ0C9cRztRqWJKYVRotn7gWVXd8xOwJ0-lBldqcUQjp0MaQsAnkH2VkLv93EMOE[...]
