{
  "Entries": [
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteEncrypt-2048/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": null,
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteEncrypt-2048/bd67996bdb1247e58501d103166719a2",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4JI9lMaTYZletebSq0WOk9h_bY1sCGd99C3iAkjSN0W-09ZZNWzzthwKessg9QTyDdQMIeVFNpKOxFa5WeZglTT1la8JoVLEiBz1n-oWgmNq1P8ej_eQx0FvPH4HUfL3iQy6eg4VtU0KquxtBAIq9RDA6caaSnKMmCg70Mjuvx_0D1XVwJ22LitZ6DR0wd_SO6OPX3GOIsC6Gntf_SmJozbqUY_tJcLGW3Z5MtmLhvbt3o5GbojQbKIaHGALfaFmZngYtrfk_yvgY1J2kjUExLGEA80S4VQyBENuT1CwPfD2PA9Kr2DJwEPwiuOYV4h_BRFTHEhWkYrSaMeABsT9NQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1713802975,
          "updated": 1713802975,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteEncrypt-2048/bd67996bdb1247e58501d103166719a2/encrypt?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0AA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteEncrypt-2048/bd67996bdb1247e58501d103166719a2",
        "value": "PXHpWNxWtVIWq4CXzSWPUmvT5YlGXmWaBHfknWPU-rrbsaLfpC4_oKyIlWG1jlQQEB_dX4xFRmj2YGDhU9Zh4CpuADsthJPKckE8AtybynBx0wkGhbJ8xpDiM05YrF_m6yknf0zerUsEBNY1jzR1qPa9SsmFNfz5R6pl[...]
