{
  "Entries": [
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-1597/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": null,
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-1597/126ea2f6ef6143acaca60df0a21b668b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "ta7Tbpslc1tN9COsJpwMh0lpsLn800zAfG6t6NqhzMgrQcGcD8xrXPGBeK5I5WCu_n4bgpQ0TJCOmkAn7sRMUbTvw2NUh8jFR7c3Fk_KgtJ2WB-iT5Cz4pKJeK9Vr3wEpsCXONyGer0e3z8u0IDqfB1Xv_bomzyUIpRhLDFCrdQR-HiDPtxE6C53U6HNEKNEcDVuu-2kUysLAARo0DLU4ZFKYkqUNNr8s6rKY2CVGAe7KUCeS19B6Isl-dD8xML2raz_0l9xzqnSzpcAXHa_t552UW71XyaasJ9I6U6IB3UOvr1xQx3xv2s9jtpV0Eaq4cuH2izYotRx1XmtN_pfeQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1713803038,
          "updated": 1713803038,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-1597/126ea2f6ef6143acaca60df0a21b668b/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "1f9nVpp7ygg84bIPWVl6XNe4vPyXwL5bN_apy_4445hY3foksKpInKoljE_oBt0C"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-1597/126ea2f6ef6143acaca60df0a21b668b",
        "value": "kEP77fOXSlKABYTbWl2y2hMhiuodFOlKB_4dVnP-m4ypm9BOKrRzHzVUlYRJlMseUuHTkvdxqgBgmUCLwNnmFzbvvoMRa6_b4ZxX55Ft1htBTOgUIZ23ZhgLOcw4vGOHR8v-kFgMVtkGkSwQrL2pQmB8IYp4ikn9cEUMn07U-iK3Vz75ijl0aqPJsf3-0tQcTCF2nR0JvHZFs5zq0OPNbzWlHF6b4P-c_TANV74PQHMalMKfKkKgW48khIEF1SItA7L_8P7MjtePNwxOy4yo54XHMqctCTlT5y1nr8EgH9Es6y78JsdTdBLltnM5gUa98tM-0ors2QGPpiEwgItNDQ"
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-1597/126ea2f6ef6143acaca60df0a21b668b/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "1f9nVpp7ygg84bIPWVl6XNe4vPyXwL5bN_apy_4445hY3foksKpInKoljE_oBt0C",
        "value": "kEP77fOXSlKABYTbWl2y2hMhiuodFOlKB_4dVnP-m4ypm9BOKrRzHzVUlYRJlMseUuHTkvdxqgBgmUCLwNnmFzbvvoMRa6_b4ZxX55Ft1htBTOgUIZ23ZhgLOcw4vGOHR8v-kFgMVtkGkSwQrL2pQmB8IYp4ikn9cEUMn07U-iK3Vz75ijl0aqPJsf3-0tQcTCF2nR0JvHZFs5zq0OPNbzWlHF6b4P-c_TANV74PQHMalMKfKkKgW48khIEF1SItA7L_8P7MjtePNwxOy4yo54XHMqctCTlT5y1nr8EgH9Es6y78JsdTdBLltnM5gUa98tM-0ors2QGPpiEwgItNDQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
   [...]
