{
  "Entries": [
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyVersionRemoteEncrypt-233/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": null,
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyVersionRemoteEncrypt-233/657fd2aec5df420f894d475b1fb01c46",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "zcaiCMKyPqJNS8LkxIi-GnS8ACGvUV5tdu8HQTwxs_EU5_aAi4-FpN1oL5L4lfuy1LsBxKF7VIzZRYaPACgFxMFs6XqZHEzwbOcHkX628AS2MNdEpl_zmPfmiA8dnKmv95rl_vSnWc0hd3aH-kZyFPDnZisqu84QU7f_sOXfkRFYs4E_BpMxr9EMSb3zYIjAGYlbI9zAwsoVhVaC5pDQw6KmVHEy3A_Ul_o6g-SzTH4NzgFkkSFTkHJJCl7RXRjzs6HrrYFzcQJlKIyoWeAZZdNm56FzsuwZSBn5BD-4Xa_ahWdeut7fzksBzm01Gmp8CJvv2KsDCSMudVaS3o_DYQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1713803101,
          "updated": 1713803101,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyVersionRemoteEncrypt-233/657fd2aec5df420f894d475b1fb01c46/encrypt?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0AA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyVersionRemoteEncrypt-233/657fd2aec5df420f894d475b1fb01c46",
        "value": "tq7KsdY009HFRh6qIE-iYUK_j8ao7Vs0oGYOGEDzy2xYUPWRTOfKGD148vjMRsdS5aPbiKgL7W3WxIQm4xjWkGJAarmEoqsjtBS4APbeupqTcWYNXkSxsUlE2eINz5hmXEvbRKirhVxxLe[...]
