{
  "Entries": [
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-Minus215/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": null,
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-Minus215/ca90bede1997458ab9c536547945ff09",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vw8I9rrz1UztLFaY8NaDcJsi_xoMu5Ocdf7Ukt1iwaItIUZgA5BeMpHkmRedSeZ8iyA-OQjgZy8lnzSDG_KO4VlPXsDj5jJa6LVYO51mBpffbgjdoBnmqSKCNmVf7nPq9hZkrugKhbYrdArYCfl63SRVSlU6iRDxuUTfyk-a2zXkOkB_Ddr9B9ob6q85NWOmm2T95GCpr1KMywA7v4mnRDb5cPEPHrLQcdhmAXG0c4gknLEHv-SMWB_Lf-P_jn4_FQ4nwqx_8-L8ghYw4t1k0ozpzv0amrc18IP0d5ofhg6R9bo_g2icmjHbqOoXWTtZo0WTH9RS0o09DWQdiq_jsQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1713812657,
          "updated": 1713812657,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-Minus215/ca90bede1997458ab9c536547945ff09/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "1f9nVpp7ygg84bIPWVl6XNe4vPyXwL5bN_apy_4445hY3foksKpInKoljE_oBt0C"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-Minus215/ca90bede1997458ab9c536547945ff09",
        "value": "FjhlAij0BvPlBRH4PKWQND2bnsaqJsn_aeasWpV4hui7K4Xl3T_V-OyJJV_gf-Gf06byx7zDYRI6QpuigvqaBzLyjVdkpFJjz9y3wb9dbwWiIG5C48twOwoBIK_qB356RST04r_gSZD1uaLSHubOqF61mz3ggVAMgWNOJa326Bxct6a1cUEBPFFFDt8uYimIQ6vYqu_LVzof-A84lnIYyeseHAgOyBWAWaNKAjRybbjoRgDmHUEgd-BVJ9i9b0pGV21SfsFPKJ8MFcKn7YczaT5xjEb6ZBT4zas8PaWKcOuxKwR46IYDLWgmJW_cWJ4eKSTGCaN-gXUJ8psTFpusyw"
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-Minus215/ca90bede1997458ab9c536547945ff09/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "1f9nVpp7ygg84bIPWVl6XNe4vPyXwL5bN_apy_4445hY3foksKpInKoljE_oBt0C",
        "value": "FjhlAij0BvPlBRH4PKWQND2bnsaqJsn_aeasWpV4hui7K4Xl3T_V-OyJJV_gf-Gf06byx7zDYRI6QpuigvqaBzLyjVdkpFJjz9y3wb9dbwWiIG5C48twOwoBIK_qB356RST04r_gSZD1uaLSHubOqF61mz3ggVAMgWNOJa326Bxct6a1cUEBPFFFDt8uYimIQ6vYqu_LVzof-A84lnIYyeseHAgOyBWAWaNKAjRybbjoRgDmHUEgd-BVJ9i9b0pGV21SfsFPKJ8MFcKn7YczaT5xjEb6ZBT4zas8PaWKcOuxKwR46IYDLWgmJW_cWJ4eKSTGCaN-gXUJ8psTFpusyw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
   [...]
