{
  "Entries": [
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyVersionRemoteEncrypt-2048/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": null,
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyVersionRemoteEncrypt-2048/95827f545de54c55b8058e9f048553bd",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0Msh6oYnDnHDvUVzNnFRPr_lOP5CZumM-GJSzrG6gNJNvhiy5qFIV6yzecicczcLo6u7WsfsBIgX5jmUS5oV7DVPZ5H79Pwet65yMl2-MkAunCIpFeve6QSFh0x5h7i7dt907-KHVnHq0jP57d0iduM5p3dEZV3NLC0WWlapc-nROs8YZJg5QAUV5a30c7XzMROVmyaJBFjVkzPPz6vz5ySCkXDG9H3Q6NpW1dXvPfbb1zRNwgxowrOmdPtLEAMkVDsTJsiNmXvZCuJiNQPrDKgcK7gNqk6Eb2DdJ2aW7G_hetzxGaWkCZKNkwI1VSFp7SHgBBNP9egwfqicyjY-NQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1713814016,
          "updated": 1713814016,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyVersionRemoteEncrypt-2048/95827f545de54c55b8058e9f048553bd/encrypt?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0AA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyVersionRemoteEncrypt-2048/95827f545de54c55b8058e9f048553bd",
        "value": "H0NrDlD7cY_yZDrtcf18hyfzExvsTEnpYFa0TQSgIIAo8UPPxXtAlYKCnk27ry5pWMK8zMXE-0biWpYtuQQv9XtF44bJ3hTAQWmEBjxPiVd5TrsLbiRcfVMlIQj-nbgSGcB-wZZxV-lGv[...]
