{
  "Entries": [
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-13/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": null,
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-13/0ab6a487759744d59249328ee9b8e352",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "9jcYp0YVGHPHjKjkCRSbb76K6z91wd8qQvuPp4e23z8szog8jjfzyjMMM0gfkBHvH1lwZ8a41x5cOB3NqNS9CX8HFOyPSs3besvIIjH2Or6sc2PmOBiWHmy1oDqLdNMLzEAezyrcjAZ_6fhagkXFAKQZelv4YwJvqTlD70ECJL0giU-2w_Wv_L3T142374b-35-_zS-C2KHR4BUAg-VrHrzknK2mazG_1a3A208Dy6J_kYU-FH2KkNDXzHb05mjspXU4U26FRdWMPyfou5_rv1VcHYKr59iBDqRJwfNkOektUncz61TTXKJiNloG399EsigutNe5rEf6nBF-0OoAPQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1713813938,
          "updated": 1713813938,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-13/0ab6a487759744d59249328ee9b8e352/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "1f9nVpp7ygg84bIPWVl6XNe4vPyXwL5bN_apy_4445hY3foksKpInKoljE_oBt0C"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-13/0ab6a487759744d59249328ee9b8e352",
        "value": "PAPaGaFLiVd0yjz_UACLAWZTNDQlq4GRUUrsGCL-i2eBA8bmQTP1aIi2OMKqy6Zn5w0cusJW7R4vBNTYRp7blHYIb8ufsoAF9_ckVQeaR55Jew__v1G_JP0V79Hylh7XWXpKXbbsicAOBWk2mXXAQZT8wNmVMrFJyr1SYOoGXUhP01jcuOtzxD1Fc7ESyWnVRZoALf5ClJugtFYYScXgn-RsjfGwyHXQAeZGgIvuAZvYMUZGLHv-4Qqfsn8EiT0MDgL7XN5nk-5wKaso2F3wMTowxSgdJ-J1gjCpi7IyYs2_t5bWoJh0W1kXWz30zW2uNPzBUV1u_jZ_qV7HUDoJTQ"
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-13/0ab6a487759744d59249328ee9b8e352/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "1f9nVpp7ygg84bIPWVl6XNe4vPyXwL5bN_apy_4445hY3foksKpInKoljE_oBt0C",
        "value": "PAPaGaFLiVd0yjz_UACLAWZTNDQlq4GRUUrsGCL-i2eBA8bmQTP1aIi2OMKqy6Zn5w0cusJW7R4vBNTYRp7blHYIb8ufsoAF9_ckVQeaR55Jew__v1G_JP0V79Hylh7XWXpKXbbsicAOBWk2mXXAQZT8wNmVMrFJyr1SYOoGXUhP01jcuOtzxD1Fc7ESyWnVRZoALf5ClJugtFYYScXgn-RsjfGwyHXQAeZGgIvuAZvYMUZGLHv-4Qqfsn8EiT0MDgL7XN5nk-5wKaso2F3wMTowxSgdJ-J1gjCpi7IyYs2_t5bWoJh0W1kXWz30zW2uNPzBUV1u_jZ_qV7HUDoJTQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
   [...]
