{
  "Entries": [
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteEncrypt-2048/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": null,
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteEncrypt-2048/1bdd225c1c7b4cdea3c1c58e0fd854e6",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tsuLdT65nNaNz4M4pnkfLVBxhG9qYlRruzSpVLtG81jze_PLhcfPPZwJ5iujfnMKELpKHnkpe4ncFhZA6ObdMQWCyb423NN7lwiBWrwKzWqLNO6qfAgDffNCZ7HCr_3a7qO5ejO38WXDSfhzjV0ciI1CfJQ_cTfmn8W-Sn9Y_Wyr_h1jIdZDFoKVbopzQxIr9TaxlF-Fzh24ZjOvoEebK1eYmFVEOc19l3HWzSVvgnhBxHN6_u4FmlDn0GjnqaBpGcswc11TEul-V__84wwhXWv5zbFPjhkN4OPvbYIqwJjD-HZArhkRNSx1HbYy-_QeyYuokIBPaf8DpudLsW_jCQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1713812606,
          "updated": 1713812606,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteEncrypt-2048/1bdd225c1c7b4cdea3c1c58e0fd854e6/encrypt?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0AA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteEncrypt-2048/1bdd225c1c7b4cdea3c1c58e0fd854e6",
        "value": "gKatDi5r91tWBE4IWiBBUO8s-lafwEPfnBN2WYDlfT2QYma1yncgxMAgh5fWUihw7X3c4r23tw-d0yuROvG8fPY1uc9ClofOSxxdIpT6dVUqh2Vetgr9kL3YkucPfYWPZUqnDi6RjhRGAawBCakp1Z7VzJtYzdu2BiKY[...]
