{
  "Entries": [
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-233/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": null,
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-233/74e73bb85d3d4e768cff38a06f7edc48",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uX8t4EvvN8D-bisdahTuWy4VfwGSMgBXs7wZUr33N7s71WQWblcNgvGToJcRKeALzVa-nSEW67DDfugMp6P3fZSYgK0Hc-dAZ5dHgnAdGT4djvIeJx6yCtx18sPAotuN0ItEjM8-YaB6ziW6JwaDg7ebaR8h2jIob-c2hsTkrgxIuLtnt6MZNghGbPCRLt-OVBMKzs7fCctDzc_2U5Bw5dnmSJTphMNipssHFgEq4RNY_1TvH4tpFN0nvfpXE6rTufSp7rwvLJsf5ku4WkyiOjhTqVNM3CBa14hSZMJWYepVXgtBa9iNA_ljW5IAOnz-SNaXv1Tt-Sqb8wtlBb_4AQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1713813942,
          "updated": 1713813942,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-233/74e73bb85d3d4e768cff38a06f7edc48/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "1f9nVpp7ygg84bIPWVl6XNe4vPyXwL5bN_apy_4445hY3foksKpInKoljE_oBt0C"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-233/74e73bb85d3d4e768cff38a06f7edc48",
        "value": "HIEYJA3DADi_H6-MdN4kk7wv9Uns8hK1iUsVZab37zu4uk5jASHK4-ifeEuDjqKHR0grXEkkEfgZWxPSCfN2Im-wVyx0ONv3GOLsEjwPpajFHG4D-wMBs-SPylBDVY2ueH9rNQ1Vm4l_U5WoXdJknstNnLQoxuOIPlMoTqTPDUoHwJcqW5y0BqkAn9YxGW3fCa527cQRioG44W_slx74ym2vyjAIQFII22u6mNjEWEq1D93Dsw0qAmXHEU2wWKqCMRa6IyzTHFqWX5q8s6enAXwXgN_7Ps8ZYSghJcSPSCWbmxNYlr4NEdV2kpVc3a1ZClsjWyGwjDRQncty9JBiBQ"
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-233/74e73bb85d3d4e768cff38a06f7edc48/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "1f9nVpp7ygg84bIPWVl6XNe4vPyXwL5bN_apy_4445hY3foksKpInKoljE_oBt0C",
        "value": "HIEYJA3DADi_H6-MdN4kk7wv9Uns8hK1iUsVZab37zu4uk5jASHK4-ifeEuDjqKHR0grXEkkEfgZWxPSCfN2Im-wVyx0ONv3GOLsEjwPpajFHG4D-wMBs-SPylBDVY2ueH9rNQ1Vm4l_U5WoXdJknstNnLQoxuOIPlMoTqTPDUoHwJcqW5y0BqkAn9YxGW3fCa527cQRioG44W_slx74ym2vyjAIQFII22u6mNjEWEq1D93Dsw0qAmXHEU2wWKqCMRa6IyzTHFqWX5q8s6enAXwXgN_7Ps8ZYSghJcSPSCWbmxNYlr4NEdV2kpVc3a1ZClsjWyGwjDRQncty9JBiBQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
   [...]
