{
  "Entries": [
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA256-55/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": null,
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA256-55/86baf1b7866944579e30d374a67d0e30",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "21d6sVAuv09qPawkzFuKeEx2W4ubQtvoSpsIB0nKMSknEl5_7ZPED7mnwuHWB-5xQSN6VJikWPQtsj6MQg2kB6-eA_lsoqCMTrEzD55ewhYH-gAWG5GlUdS77KlF8Oy0maGt9tH0fOGZoAfRSOaUrO0nEp6o70EoKzaqRKnZPob4VDyBGuyVXG6VNgv8ajcnAWMRqf5VEF752E43-BoWZTG_VonqAufb6-WsiUJZZ4fvIsNnOn4LwBUa9b8PhvpLbfQBsQJhk_qCvDAUEhJ9IEvfbjx4YYf4bmDC0TUA-rhrqbaQ7yRJxAf6Ai4I8VFAWxbRK3p2qfRfGsUZfVmT3Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1713803009,
          "updated": 1713803009,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA256-55/86baf1b7866944579e30d374a67d0e30/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "YPMYCWi4F5iB0VeftRDvoh3NWmgJncjBwLa45jptbxA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA256-55/86baf1b7866944579e30d374a67d0e30",
        "value": "QIeN9kNcQhdhN5efrfU-1ZIhFzk_Xk78jNtsotCEVcoKKLE1cBm8hzDrifi_yrAHbb-kMzq5YiRpx7Ein_tAh5Z9k_FRt-V-GzhxAW5qBXtsQKufxKzgeRxWYgWGT16CpaLpusZG7Dbsp2GxQSWgmBm7RY6IG5D8qEZIdbdjdN1U1vUdbA8LYJoCx4_LJ8JyZvA8ak6doFQrgC9L1u1IaUggNUPsGJj5fTYxF4QGDUC2kAXQQFsq_FE7qJNCTKqqJTAQnD4sJ8V0xMm8wIxHA00_SSuhE4fWJYkr4kBbqkkeJmfXQzS5LP5lWBC7K6Z91sROgqY6-vdgdX_OAANA5Q"
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA256-55/86baf1b7866944579e30d374a67d0e30/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "YPMYCWi4F5iB0VeftRDvoh3NWmgJncjBwLa45jptbxA",
        "value": "QIeN9kNcQhdhN5efrfU-1ZIhFzk_Xk78jNtsotCEVcoKKLE1cBm8hzDrifi_yrAHbb-kMzq5YiRpx7Ein_tAh5Z9k_FRt-V-GzhxAW5qBXtsQKufxKzgeRxWYgWGT16CpaLpusZG7Dbsp2GxQSWgmBm7RY6IG5D8qEZIdbdjdN1U1vUdbA8LYJoCx4_LJ8JyZvA8ak6doFQrgC9L1u1IaUggNUPsGJj5fTYxF4QGDUC2kAXQQFsq_FE7qJNCTKqqJTAQnD4sJ8V0xMm8wIxHA00_SSuhE4fWJYkr4kBbqkkeJmfXQzS5LP5lWBC7K6Z91sROgqY6-vdgdX_OAANA5Q"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": [...]
