{
  "Entries": [
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyVersionRemoteEncrypt-987/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": null,
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyVersionRemoteEncrypt-987/f5fcdb2603ce4a76bfd83c89c9232171",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "-JRKkEf6fvoKNI0w3v-YhK70EpXA2u55tWSsWhKiwjaeD3NDpNH0ZlFOqQ_HU5Z85pEVuj-b0ZhK5VYhH7EAMkcoNuWin-S14P1kVGe-lAuxJkZr8pbFqvPqJKluRywTDIWgBLBuKtgP_O1KAV707rjaMU8rIX81Xtt5SFAIh5qPfbiSnh60ApnUomMfqH1TexB3RBLvtt_vje8AGXnb0yJJuS63nN4A1DwVVUbkejGq44KenA87b1vZrfPkyb2OFaAbadW4UAqN1ExS3pocnIiZcINPI4jQiadetwU62e9qb_ajtWt8ucOlOotTlz_4aNRSXTpTpT9Gg8uOgOZOQQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1713803103,
          "updated": 1713803103,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyVersionRemoteEncrypt-987/f5fcdb2603ce4a76bfd83c89c9232171/encrypt?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0AA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyVersionRemoteEncrypt-987/f5fcdb2603ce4a76bfd83c89c9232171",
        "value": "qttgD5Gvafbzhf0d9GdgmjAHqrF7yx93PiqXHKHbua38XxsteLFEqlG-1dkr3xhzamhD9dGjjYz-961e-xShqYMIByLKRC7YXgVtIcG-pNN5lx7K0sN9FNReo0BFGzstEoU9gdU3t965xK[...]
