{
  "Entries": [
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyRemoteEncrypt-233/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": null,
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyRemoteEncrypt-233/4ca873efa56344debca7f1a2fd02d00e",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4KsXVmhkBiJV6RLAaaMnuV8Tx150OQXGsMcv1nQNJFFiBJ9TMSh9uqOxzySjz1Yy_V7qLfAX3iw-CPoatHLBUw0yIjvTjMfUvS021us_rcWM5baw85HBJoJuaczU2kmps6t5GHlTWpyhDqEw1VRE0KASi1u3Q9Y7ldrqOeVdLzoGsuUR40xdaZ5yQnEDpMINykbaTiiQ0AlGfM9ktj8JZ7S4ftyS_blY29aTfMgL3NlBBoKKyzGJLC7tYyZ24eoaNWn1rqEbwJPWPG5jsEomOTLpO-iepbcU0G-c0Hyt2PS-uUB5qGffKrs1K714B9umy4GEqA9pr69PSoGIpHvFwQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1713803080,
          "updated": 1713803080,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyRemoteEncrypt-233/encrypt?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0AA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyRemoteEncrypt-233/4ca873efa56344debca7f1a2fd02d00e",
        "value": "ZN-6qMDAgRpHSBgUal05D56tFVGlJtqNaRHQkGNqnjo7wjK5cfRgae6nY3aOOBSiSyJKiNAFV2tMqsDurosJ-183rDk9Ga-J9xifm7ywjaHCAEMAigmJdnxPYuWBdHfbpuRBhLLnTh9MViz7UkGXv[...]
