{
  "Entries": [
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-233/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": null,
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-233/a34922044cfc45f6b434e5e176b81712",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "3_07lx0NgnYPeb29tmzxE0j0iRxYDVa8cNjrEzdOhKtsI3_c_vHrzudG2GboVZaMulxcNeY0m_y3jB4ZAtaEXBj2KyGXERfOOH_KDd611Mg9aZwcr3WED-wTaowQ4syRBJ5lvYuZGSN5t0YVlxMu5plcxV3M8FY8xtQclPdjSqryggeujfefA6ycNndbKxLQfswIJNzXytmx6AvWMaz5xRjaOaUeU_-bmcpf1nzXEqSlpTJ4-yHCQsFm7Y3r0_MA3vL2GD_3hY5bXopCvEYybmfyA57qFY7XvOjzwoXzK7b4xy7mJ4QZt-n26DBiMc0yCDjtvO8wUgw5oNNIoldvnQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1713812667,
          "updated": 1713812667,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-233/a34922044cfc45f6b434e5e176b81712/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "1f9nVpp7ygg84bIPWVl6XNe4vPyXwL5bN_apy_4445hY3foksKpInKoljE_oBt0C"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-233/a34922044cfc45f6b434e5e176b81712",
        "value": "lPw0nUNokYZy_tM4KMVNyM39xNaK69QHtFTGIxHLDwDTNID29t2IWT83J6eVXM5vvxOqHu2_Tr1szm-UE3IvtEhDPf9gYrqdOOf_FA1AO1lmMXEbkjTFu90fFyjCdDhtNxfg34jdHiJWIfD0ShKw808ZoxQezTmRRDgH9WFuOt4hN6IBqYgmbg9VR7nHnCmTBjfkki9e5uAEfcK5sCBi1A79V9AAaPno28VKOX0IRPfon5tDrvneVtIOtv4TIURpK3FzmnJaSec92VP13RfQhAHjZZn3MzXj6osHqU2cntvWbeW1i6FpOA-U2ki-YpUxb540H39LcaupofAw5XXM4w"
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-233/a34922044cfc45f6b434e5e176b81712/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "1f9nVpp7ygg84bIPWVl6XNe4vPyXwL5bN_apy_4445hY3foksKpInKoljE_oBt0C",
        "value": "lPw0nUNokYZy_tM4KMVNyM39xNaK69QHtFTGIxHLDwDTNID29t2IWT83J6eVXM5vvxOqHu2_Tr1szm-UE3IvtEhDPf9gYrqdOOf_FA1AO1lmMXEbkjTFu90fFyjCdDhtNxfg34jdHiJWIfD0ShKw808ZoxQezTmRRDgH9WFuOt4hN6IBqYgmbg9VR7nHnCmTBjfkki9e5uAEfcK5sCBi1A79V9AAaPno28VKOX0IRPfon5tDrvneVtIOtv4TIURpK3FzmnJaSec92VP13RfQhAHjZZn3MzXj6osHqU2cntvWbeW1i6FpOA-U2ki-YpUxb540H39LcaupofAw5XXM4w"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
   [...]
