{
  "Entries": [
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteWrap-Minus215/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": null,
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteWrap-Minus215/542a120d4e8f483dbe1565a9d2d00370",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "1hdZrXxzw89uxG7fu8VRsTudx4HYBKUiYtly1U9N4jkacxDHSj0EI9KH-CvIPBi1xkdU-9fsMx4mOAwkHwiR58JgFJpm_noqETd3OY_qpDZjE0fW0ywiIgIW8eGVC-u7e1xM_ROR6TocWJVAuV9uUSRFmC38vFP3fD3Gd0hYxbrSTIIq3654xhxgtM3bJEwpCPj-_oRWVLA6JZG5l9W92iN0DD3Ab-sLiNWVnPiz_aUUA7VPxq3J7gpoLSONRgwBDX6wU9SUSo4tKKljm4d-WxoRoGUQSNtuc6KQp6tsaDL32l5YZcrJDTi5UGSjIiAwE8aji5IKSD_tkqEOuq0O1Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1713802980,
          "updated": 1713802980,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteWrap-Minus215/542a120d4e8f483dbe1565a9d2d00370/wrapKey?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0AA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteWrap-Minus215/542a120d4e8f483dbe1565a9d2d00370",
        "value": "QkQLKHwxdlnXsswejW9oippzOTMMpPBViY3ccOU88Pb3lpDU1bpzldeVoEWItzlqlvi8lsFRjWF400jzEDF9L_ECa20KzYmpx-TzzaTCE0-EUgEAlt0sSmw7ViT0dKIoDUWQTEMyYNiLpHwZlQYGJGXjlR2eRlzGPzS[...]
