{
  "Entries": [
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyRemoteEncrypt-3072/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": null,
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyRemoteEncrypt-3072/d9075081632e46de87739f9f09982865",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4O9M7QlpNiAB6g110DKpQjTzoEGTYnkgkTQR00zYTwuuXpjcK8oHF1nKIhwf0DItlsvmbZy-1lNoaTXWjHg8IiJ_2ksnMx40TLZiojdc-aTdkZEVvCdcczEFAjECOC4qssR5DkanpKXRT8uvhvVN56tXmlLQXjHTGLdtuYYS3mGftVEAO59zvTsw3yHcpyA1d75Nl9Nk02-R9yIOMOWubEBKZ1ul77H3fZdKuMLn5lahgTS5_NfWKdAtnUETpobtlOXrRgbq-Xb_wSv4u_Gaaf3UPuLtlxAfKbWgiplsbeb8-2EsKqfQQeIyFAo3fEE--4aTiGGdaVkXfSs_CHjxTQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1713803088,
          "updated": 1713803088,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyRemoteEncrypt-3072/encrypt?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0AA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyRemoteEncrypt-3072/d9075081632e46de87739f9f09982865",
        "value": "TPLf56bsBXPY_kcZbSPPb6nL8tTklPPJdVaVeWvHvm1oRKopnqn6nz_f0L0VYVE-Qs6xoM2kCjoUYW1rgBxrapjfUQyGjm2nL2pXsdoswaBYbdmqZYxScL0DhkuYKPsEyXaD9Jt3Dmh-sa3mB4hs[...]
