{
  "Entries": [
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-233/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": null,
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-233/9abc5f1e33274a93a177ec6a9ae5d86a",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "sjeNN19zRyyUFJd4ZjuHFmz02K1UcdYrBuomuywDgM5z91I4RNmDoz0Uvl_a9KFxxQkZ-wch0y9qitgV_TWNSvIvdrFgwpwP3--xmsZHEwcDwTmTS1Q5WU8HM80yuEH6o8Mo62soza4iHbQ5rEEiiMgfJ6ADwpiDSj3q5EPuPyfKbnYCB3tbA4YOJxqrswUviZiOvLfxqRcV0h5nMIBXmJVlQoFARd9Yi6Wsjqjsf4FjDbBRWpkKEZLemCaHh_56Jg8T8pnc7Je1cfIpF_Hlc-S2y8PZzJoZKi2E918mAcqrjsn1LcULTMgYBEoBh2_qpv5RWE75sg7nUot_jexDwQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1713803034,
          "updated": 1713803034,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-233/9abc5f1e33274a93a177ec6a9ae5d86a/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "1f9nVpp7ygg84bIPWVl6XNe4vPyXwL5bN_apy_4445hY3foksKpInKoljE_oBt0C"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-233/9abc5f1e33274a93a177ec6a9ae5d86a",
        "value": "lJOe2NA0rEy0K00M97pIxgWXn5-UeE8itpsORiD_3ZP8AdaX2XIh7y941OLi3dck06PF6HWa5_FLEZ4UX3gmP6NwuRMQAjUtyGI7BvvvuyRaCOqmwu85OlHSAmcY5i_VsDmP1h9blW7mjrQZifK4Y2tXLouW4UXKNN8PSAxnltFWG6u0ugjjBHZVU2eN525l_cYCVQQo2P47j6jPYmSKQyofd2QviR7c74yCO5zt1_IKglCqZcOfGnw9KUVtFWfndSEbb3lKaF7MydzK4V9wTQyJuVcCFJz9OvyfEkgO1h-SOtk7kMTfhCWrz3qMkRN6er-TokN_bmTDw6GKap5n8g"
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-233/9abc5f1e33274a93a177ec6a9ae5d86a/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "1f9nVpp7ygg84bIPWVl6XNe4vPyXwL5bN_apy_4445hY3foksKpInKoljE_oBt0C",
        "value": "lJOe2NA0rEy0K00M97pIxgWXn5-UeE8itpsORiD_3ZP8AdaX2XIh7y941OLi3dck06PF6HWa5_FLEZ4UX3gmP6NwuRMQAjUtyGI7BvvvuyRaCOqmwu85OlHSAmcY5i_VsDmP1h9blW7mjrQZifK4Y2tXLouW4UXKNN8PSAxnltFWG6u0ugjjBHZVU2eN525l_cYCVQQo2P47j6jPYmSKQyofd2QviR7c74yCO5zt1_IKglCqZcOfGnw9KUVtFWfndSEbb3lKaF7MydzK4V9wTQyJuVcCFJz9OvyfEkgO1h-SOtk7kMTfhCWrz3qMkRN6er-TokN_bmTDw6GKap5n8g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
   [...]
