{
  "Entries": [
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-55/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": null,
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-55/29b02e1e66a74794bdb3189756da04ec",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "pkgwGWhM08LMtbCXtdyW3ZYg4DdLcHGjA3bTTt9XEwO8LaKPS01EcGtNtG7DeQ9F2MBmdF1yUFvvtG8r1Jm5C0q6C-OkAAilVEnH11U_co9jknvsvZSvtRKsoHrrmgBhhjczA3Tc9-vxM66oSGdFlqNTPsTGpMNOlkZh7iiRkkFQTFZWWMJUO0L0f7lQoNAoKHSLH8QREzTYZqwBvo7opAr_N8lhSxyilHkxosPaA1dwMJuvtw6lGVBA1er9i--IvJbwK9lx2i_4WpP8THewcYeuHT1Dkj8oZonTbnnI7mLSKwzg01R-L8LdHZ-Q2w1DaOuHrF1qjQSqBSH3x_AmsQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1713813940,
          "updated": 1713813940,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-55/29b02e1e66a74794bdb3189756da04ec/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "1f9nVpp7ygg84bIPWVl6XNe4vPyXwL5bN_apy_4445hY3foksKpInKoljE_oBt0C"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-55/29b02e1e66a74794bdb3189756da04ec",
        "value": "lu8OgmQ-K3qAdAf7Hl2XGB1y1xSaZAX0t5WlL3k_LGcF3WW2BZIPqzTg0TYfqwIGq-XhxaPJ5Ifk4xHDzr7-gJbBPiKFwQjiYm2k3fvTEs_JWBS7BHBXiecyk8ppmVvPKt0rayjIb5SoTNCsnNjE9XAN-i4jaSHVCQEn8bGnDdK_DE_RXLP5AKJEJMe5LfIXC8BkK4SVAsIFObk97El5OQOtXf41AGG4PSQ2h4mYVCH0RXgFq3F9ESITnt413leH4jBZla3RSNQIyB7Tp_k4t5zTqLn-dKB1SU4vlMFwLStPcN22eZPobnCYLxSueN4_fjbrKfOjlcw3hK3CUzx4_g"
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-55/29b02e1e66a74794bdb3189756da04ec/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "1f9nVpp7ygg84bIPWVl6XNe4vPyXwL5bN_apy_4445hY3foksKpInKoljE_oBt0C",
        "value": "lu8OgmQ-K3qAdAf7Hl2XGB1y1xSaZAX0t5WlL3k_LGcF3WW2BZIPqzTg0TYfqwIGq-XhxaPJ5Ifk4xHDzr7-gJbBPiKFwQjiYm2k3fvTEs_JWBS7BHBXiecyk8ppmVvPKt0rayjIb5SoTNCsnNjE9XAN-i4jaSHVCQEn8bGnDdK_DE_RXLP5AKJEJMe5LfIXC8BkK4SVAsIFObk97El5OQOtXf41AGG4PSQ2h4mYVCH0RXgFq3F9ESITnt413leH4jBZla3RSNQIyB7Tp_k4t5zTqLn-dKB1SU4vlMFwLStPcN22eZPobnCYLxSueN4_fjbrKfOjlcw3hK3CUzx4_g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
   [...]
