{
  "Entries": [
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyDataRSA256-13/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": null,
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyDataRSA256-13/6ac28550a01041ba8018ac77dd0ebcca",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "7SaD6Cp8NPTrijOF193MKTkbbYQbDdDNLiERZcu2mSgwS-sZVHuwN5uj03WQZozgo2Ql8BSryTbz5rN4S0LJqejG8CT41ZY2aZVzP1pZpbizKkbnOzp15pEbFSpVar2FF2lEIV-li_hJU7HlBnveKnHz_SnXjeCKdNygMlP6RPnG7pRSAk7WHkGINVX1V6JOnnWrjbqSRcJj57qHpoviKFS3LV5ERapkRZytqjkVlWbPYEhq-Ap_syfI4Z24dqYlq3Q2-0aAoO5R0DVTELIvCqROweP1ZIfjVceIBiBomy_yFGNKqDHeaRt4Ba-npuPGJdQ2T7N6XrnHC07hl-Wh0Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1713803053,
          "updated": 1713803053,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyDataRSA256-13/6ac28550a01041ba8018ac77dd0ebcca/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "OI4wZg49JzSRowh4GmVVx9J08bsXidnLYAMOSo7QI-k"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyDataRSA256-13/6ac28550a01041ba8018ac77dd0ebcca",
        "value": "ieyyq_0w-vTWm41cHU6qHnomwfSuPyHsC7VMTnJEbNFDABmwvbM4jd6YUDTiwASfwj0YfIDT6JhRfIiB6P1qKS8csVwQFWhL7j6adc4-NX0bsOIRirHpc83gDCgCksC5-G2FSFMtqRDLsy8kqqhu-0PApy43ql9Yo-ZkKU5yeZuSUpBW6w0VPyCDRJK02Y8XU85u9BG9VhXDPc3TF-RPAw58IlEmlokv2UdQ8mmn0FEnCE12MVlrlwoGJ0XLSWLY_ZfXe2ih6I1YkR2dCCjq0LNUxj2NU_gfQQ2cWJc2kU7yAOPuf3o1i5pWshaWqFtMnGoKsZlyVXa4sBPIBxUCtQ"
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyDataRSA256-13/6ac28550a01041ba8018ac77dd0ebcca/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "OI4wZg49JzSRowh4GmVVx9J08bsXidnLYAMOSo7QI-k",
        "value": "ieyyq_0w-vTWm41cHU6qHnomwfSuPyHsC7VMTnJEbNFDABmwvbM4jd6YUDTiwASfwj0YfIDT6JhRfIiB6P1qKS8csVwQFWhL7j6adc4-NX0bsOIRirHpc83gDCgCksC5-G2FSFMtqRDLsy8kqqhu-0PApy43ql9Yo-ZkKU5yeZuSUpBW6w0VPyCDRJK02Y8XU85u9BG9VhXDPc3TF-RPAw58IlEmlokv2UdQ8mmn0FEnCE12MVlrlwoGJ0XLSWLY_ZfXe2ih6I1YkR2dCCjq0LNUxj2NU_gfQQ2cWJc2kU7yAOPuf3o1i5pWshaWqFtMnGoKsZlyVXa4sBPIBxUCtQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": [...]
