{
  "Entries": [
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-2048/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": null,
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-2048/a8cf1a08edc6498590cf057b42c5f121",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "pTgYoav33U2fKkYbYbljK4uqpvr4SBvZNUfLcFYmZKKUInji-njkeICLGsTw19YmT2GsH9ZWQ_OOsE9XYOEwP0v81XsFrboWMwK0gTxdOZBLaXqg34e54RqniUxJIn2-IViNrAwwQ3UMoBiAybKMllK0A4ad5GeU-Hs__H-xue4Ngr7xXKpu9MJy_xEh7yPGpHk5BRZ-Yq3bL2ZTCCn48VqinK41HP6IUunzruMAqtAf2k9aTE3a3MV_Cd9Np30lKGgUhnBoe4_vcclqG1-YF-k0w8yzADRHEZJMWkfqh_MRtGmjAHtK-bvpAtKbkWO5jLhJCYHPQ-08RQwUxqIwmQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1713812673,
          "updated": 1713812673,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-2048/a8cf1a08edc6498590cf057b42c5f121/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "1f9nVpp7ygg84bIPWVl6XNe4vPyXwL5bN_apy_4445hY3foksKpInKoljE_oBt0C"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-2048/a8cf1a08edc6498590cf057b42c5f121",
        "value": "SN0dfDFVGZT18adVca7Eg5dK2IA1zRNGvzTZ_8FsMNWHlClQRZoDR4cDoj29mF7eGHnEmlPvOOOxNj6DSUITN_ghGfac1Tjc-yfAXBz8fPmMSMsrGWeSl91pZMSCpflKgm_Ozs_E2FgtIAdv7N3CB_eRCST_8eTkRqG6h10fr0M7Dso_FwaZhqlytflmdWutO9hUSzyeEOC1YYrYtY5UEt9eXUmJ6ZQJ0UVytFsq5EYDfbOAEep37mLlQtWJCMryUwy6PwA8c3NeOJcYc-uJyOnqMiHmoCaxvjJOi6Pod8cKERHdimNH2mLxyOdpgARIALIK8u4MbkN9TLeQMH8Xog"
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-2048/a8cf1a08edc6498590cf057b42c5f121/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "1f9nVpp7ygg84bIPWVl6XNe4vPyXwL5bN_apy_4445hY3foksKpInKoljE_oBt0C",
        "value": "SN0dfDFVGZT18adVca7Eg5dK2IA1zRNGvzTZ_8FsMNWHlClQRZoDR4cDoj29mF7eGHnEmlPvOOOxNj6DSUITN_ghGfac1Tjc-yfAXBz8fPmMSMsrGWeSl91pZMSCpflKgm_Ozs_E2FgtIAdv7N3CB_eRCST_8eTkRqG6h10fr0M7Dso_FwaZhqlytflmdWutO9hUSzyeEOC1YYrYtY5UEt9eXUmJ6ZQJ0UVytFsq5EYDfbOAEep37mLlQtWJCMryUwy6PwA8c3NeOJcYc-uJyOnqMiHmoCaxvjJOi6Pod8cKERHdimNH2mLxyOdpgARIALIK8u4MbkN9TLeQMH8Xog"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
   [...]
