{
  "Entries": [
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-13/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": null,
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-13/e88f1326ec3b4cc8b7a01933d6537683",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "8R95CJGa83D0lsw83rNKk97qsAtbJ6PvnA5mx1nkqjQIXEoCHEjveZD3EH61vW_qHU-AVgSrkrAAvMZdkMtDyVV4Tk9xtIz0TE2wYr_LgxJo00Bz7OmFtPLwiwgC6zgWOd0Yl5XHajMP6bMWgeS-nPfGoZbn35LsN4tOOdbB9NltHMsZp4Xd1QQI-bdlWxfXsimpne5gI7ZHO29Wo1KY-_XNT3JEUuIowsOIaoOw7RjOFtqkHoaQGzqB7im0e43YHNKnfO77XuZ1_oWkmJDsqzU2MYQLIuzW79XGNjFUUszQlHXFA6KP8IacVIejl7ERLJ8C-_2wWIiLmJjX6tSbiQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1713803030,
          "updated": 1713803030,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-13/e88f1326ec3b4cc8b7a01933d6537683/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "1f9nVpp7ygg84bIPWVl6XNe4vPyXwL5bN_apy_4445hY3foksKpInKoljE_oBt0C"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-13/e88f1326ec3b4cc8b7a01933d6537683",
        "value": "uLKOpMKLm-rKVLA8uzxN5IT5v7KOhSsTkoH1qKjH8nQweSMk1EbYwwCysUaZg7Si1x773N9lEx2dmkrQCkqEEe58dEizAPTTDdJBZVuVZP1liMkcgaccbpZ4KZMgLqkbkaEIEK7oL6eDWjAnnBvhqaG2kr9t-s29-xFnGjZPqmOY2IIn1y-7FYzKLC9t6hqrwwaRxYxf6zZ6T1urRZZwkrXmvL0L2sW0Wwqy2GS_1jdKFItaU6ayFABn-k91BcEFA8DYjIQUsE-JT6_OQJm38Px6Ws6-NU0nZOAK2_N4SqIDrkRjRcE7b9PClqloQErFV09BHbmrUX2auMYzMTuGMg"
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-13/e88f1326ec3b4cc8b7a01933d6537683/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "1f9nVpp7ygg84bIPWVl6XNe4vPyXwL5bN_apy_4445hY3foksKpInKoljE_oBt0C",
        "value": "uLKOpMKLm-rKVLA8uzxN5IT5v7KOhSsTkoH1qKjH8nQweSMk1EbYwwCysUaZg7Si1x773N9lEx2dmkrQCkqEEe58dEizAPTTDdJBZVuVZP1liMkcgaccbpZ4KZMgLqkbkaEIEK7oL6eDWjAnnBvhqaG2kr9t-s29-xFnGjZPqmOY2IIn1y-7FYzKLC9t6hqrwwaRxYxf6zZ6T1urRZZwkrXmvL0L2sW0Wwqy2GS_1jdKFItaU6ayFABn-k91BcEFA8DYjIQUsE-JT6_OQJm38Px6Ws6-NU0nZOAK2_N4SqIDrkRjRcE7b9PClqloQErFV09BHbmrUX2auMYzMTuGMg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
   [...]
