{
  "Entries": [
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyDataRSA256-55/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": null,
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyDataRSA256-55/a4f22379da5c459f8f32e2391321f2c3",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wQdSuOaqOdWnOL_7nJ2CmNabkKNXaW7_mKCMftIdp4wliupNHd3we2B4QZ-7FOeJoTxUwP3zrdNxc5sfze1xSzLmN627yfxfokysTEQ2wIOaSXIj4NNsrVaAsInRaZIaT_XBY6vCUNMcSUea5YhptD2UUbevCrO590lmAF719LK8100GqNrK27vA9kdYhWu-WGkc-ligTxv8BI3j2hE5UiZHmbV0St6ijSiyVsEtCcWd6mSeCxpk_qsoLmPiJmWAhfH9CauBlheudUEi1xfjM6AKD53XRj_ib0LZ4kbZE9iv1bWokNkCf5yeWCzh1YD1ojxcPt-6jgP3aZewgfqXyQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1713803055,
          "updated": 1713803055,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyDataRSA256-55/a4f22379da5c459f8f32e2391321f2c3/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "OI4wZg49JzSRowh4GmVVx9J08bsXidnLYAMOSo7QI-k"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyDataRSA256-55/a4f22379da5c459f8f32e2391321f2c3",
        "value": "ea7texLJiJeEa1CANxDw1z3SVrIHXhMwN34u6VuYYugaogD3rM4uvpZRQtA7u9YMABJos4R3VBTtphF1TWzyGAiug-rGi-gnRbGLLSJ7r9iL3LWn5jDuss9YlWs9bSvxnhrZ8OruIBIb8YQaKkyX-CA5lCegkSG1iddr3yTAeyRpw2DXxgli6Ldoe5TyVGmz7wzPl8_uovi72VCO-cuI0i3X5eCcQs8W_mW67EYXoX1-b8Ph5vsQPyDR2xTWvA8e096DibjcSzNjzaIZPCFK7z74Do4__kd5v_sb4hKYgsGb-pmKQCr-bRyoyuVwZW6PH5AkIACLcKXQWAsllIiADg"
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyDataRSA256-55/a4f22379da5c459f8f32e2391321f2c3/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "OI4wZg49JzSRowh4GmVVx9J08bsXidnLYAMOSo7QI-k",
        "value": "ea7texLJiJeEa1CANxDw1z3SVrIHXhMwN34u6VuYYugaogD3rM4uvpZRQtA7u9YMABJos4R3VBTtphF1TWzyGAiug-rGi-gnRbGLLSJ7r9iL3LWn5jDuss9YlWs9bSvxnhrZ8OruIBIb8YQaKkyX-CA5lCegkSG1iddr3yTAeyRpw2DXxgli6Ldoe5TyVGmz7wzPl8_uovi72VCO-cuI0i3X5eCcQs8W_mW67EYXoX1-b8Ph5vsQPyDR2xTWvA8e096DibjcSzNjzaIZPCFK7z74Do4__kd5v_sb4hKYgsGb-pmKQCr-bRyoyuVwZW6PH5AkIACLcKXQWAsllIiADg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": [...]
