{
  "Entries": [
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyRemoteEncrypt-2048/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": null,
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyRemoteEncrypt-2048/dc81696571bc48bd96413f2006e40640",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uj9dFSEP2qsXI8-kmFIMJ3IJ4xQ1Ru02aeXBo8068CcXd7bOwGD5e0_43vtZptXozUvoQt2xyGFlLWRmULZwwGSpi7UgG-JsX7I8_aGiShE3AlwOS2d8FMF_DSJJtyd_Jv5fiGyu0g4SDEDMysmG7QmLuuNS3ufG7XUykUbeMrNAAWz-L_yMM6eopHvo39W-bifYD6ugzuMJsXF4UbJABuTyKTovj286-X0R69BiSqwBiQEBg0MnHSvxvDQQBR_Dj_S0cj6QVVJvidN9YGJVZ6N0c6_WYLlwCajQTz8lz9GVRVfr1TOhr-25jjumZnpY0u0Ezsxz3XeQTDakQ-hpJQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1713803085,
          "updated": 1713803085,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyRemoteEncrypt-2048/encrypt?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0AA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyRemoteEncrypt-2048/dc81696571bc48bd96413f2006e40640",
        "value": "O_sck97SfRG7BT16br5rWIfhvUjWKH8TxE4voINP17pBFHwl1bhsaMeuu-issAitwBnJojxtZornW1uoBD-MWdcSztV6G_Wmt0cOI5DvYTkB1_453Gbm_6MGxAT-nQe5BjU-uVjZVPRTynQR3pyv[...]
