{
  "Entries": [
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA256-987/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": null,
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA256-987/d87b459f9f4145e2a1f76c77763adcc2",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "-N6fJJXUqRVibK8U8q5qfq-67eXGfB3e7PYLjblQ_Q3-0VDWo0mN7q1MYZKG6B_DGRqWT0BNMAmTRyI9Woo1MXafCTudSH_DEoEpwb1e6O_Oxz9-clyhS-BeG1uXKgnn5Q6snGMibT6Di10W_oYN-ve9cuwHuwRU21BSERu2PfqxuFlgJuYt5Ou6iyWMi80JlgWTr9xCU-OkIBlj4bhB17GCyfBS7d3HLZhkPHS2HF3jkrTdAnLyrcKOUgmlwO-JzybYUC1JlwGdqR6ixBghVHpq7CJJ9yZwBNTJJDWjsEjL3DWV1Sgc1J6nN5-xJOkov4u8saqtrqHFfGQh7CQhyQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1713813922,
          "updated": 1713813922,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA256-987/d87b459f9f4145e2a1f76c77763adcc2/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "YPMYCWi4F5iB0VeftRDvoh3NWmgJncjBwLa45jptbxA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA256-987/d87b459f9f4145e2a1f76c77763adcc2",
        "value": "g-XEgGz3uJKuHdkTTC9xqitjlLDYd8aLTGDruybKQuONGbrBP4FSrAsbuuM9Vf5Ka7OKHelRB0G9ut3yr6UwyVuCNq5FHxnzVxVOW4EIqTG9GhOt7jm9afyYYebz50nuGwPt3Vu0QNP5NePPN3FDvx9WPAaaIOIld_VHCq1KQT8ZnK__hhowh0KuvBmklJoPG8vbbqpIDHylFryQv_nmrp-onkhIRtpbtGiWJwySDKY7z9MdIG6gv1tNRJq3rqlMhxcJTEIiBeMLAXVdDTeCaxa6GTFin2epK2wYXe2L6bg0aql-4LdBeIFveN6KG7UopzteCyHCUzeZYEqp6_Yvow"
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA256-987/d87b459f9f4145e2a1f76c77763adcc2/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "YPMYCWi4F5iB0VeftRDvoh3NWmgJncjBwLa45jptbxA",
        "value": "g-XEgGz3uJKuHdkTTC9xqitjlLDYd8aLTGDruybKQuONGbrBP4FSrAsbuuM9Vf5Ka7OKHelRB0G9ut3yr6UwyVuCNq5FHxnzVxVOW4EIqTG9GhOt7jm9afyYYebz50nuGwPt3Vu0QNP5NePPN3FDvx9WPAaaIOIld_VHCq1KQT8ZnK__hhowh0KuvBmklJoPG8vbbqpIDHylFryQv_nmrp-onkhIRtpbtGiWJwySDKY7z9MdIG6gv1tNRJq3rqlMhxcJTEIiBeMLAXVdDTeCaxa6GTFin2epK2wYXe2L6bg0aql-4LdBeIFveN6KG7UopzteCyHCUzeZYEqp6_Yvow"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": [...]
