{
  "Entries": [
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyDataRSA256-1597/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": null,
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyDataRSA256-1597/c22d5b24d7c44565ad459cd15d7def7c",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4U4pVJf4KtNqGurAYmwvBjE7ER81nflKymLxWyL6wCPjdeJeFMJVN0pvZyywj4q03KzDswWMHsztL0NaWvaj3XxRgdTbdDZrXwTlNsGSBewBZbaGEwHQGNwhavZl5DSzt4OAnayZTzgHy_QQnstDTYZ7vwm2WM_TjfaJROe-zpFHOFhqb-lIpAu_PjhWg2XPBIHwzk8YERtt9mB4xJ9w18okR-XYMAoonYrJ0FwSKxCM_QRbm3pBqT6-XjwhwtIyxunugpFGGA2QACKn0VkxdZ47XwAYP3einB_p98vCxTXO8ikowRP6uyo9eqgBo73MsOBWiF8HPWL3kEZC6m47OQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1713812694,
          "updated": 1713812694,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyDataRSA256-1597/c22d5b24d7c44565ad459cd15d7def7c/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "OI4wZg49JzSRowh4GmVVx9J08bsXidnLYAMOSo7QI-k"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyDataRSA256-1597/c22d5b24d7c44565ad459cd15d7def7c",
        "value": "Viz1u_I33qJM57K6JVCgmTNizKPpYD0KO98YZcw0BcdPIaX-__gWZrPIDJMvdF1k3UQsePiO0YmYcs4MgjdM1mw1XNarpLIUgPTqIv_hTPcAskWJw6g9GQ56df2Lkk1tLzxDSVq7uZ98fuXVZOJWcUzl5BFsY6DQqydK4je0u9kSo76b3GVptc5jo2iyK_G04wI6TnLZhw4uYYUnMpTey-8cQlwzmo-_yyo1rY-sqmgQqrntcAClRzia7H8LCC3zuB-3g4aJU47HKWAP6Dp_cPHjVpyJ1IAV0a6fXpItGRHJAh8RwiXFU6bk12lEc41eJO1HEvGxcc4RLg-_NAbJ8Q"
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyDataRSA256-1597/c22d5b24d7c44565ad459cd15d7def7c/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "OI4wZg49JzSRowh4GmVVx9J08bsXidnLYAMOSo7QI-k",
        "value": "Viz1u_I33qJM57K6JVCgmTNizKPpYD0KO98YZcw0BcdPIaX-__gWZrPIDJMvdF1k3UQsePiO0YmYcs4MgjdM1mw1XNarpLIUgPTqIv_hTPcAskWJw6g9GQ56df2Lkk1tLzxDSVq7uZ98fuXVZOJWcUzl5BFsY6DQqydK4je0u9kSo76b3GVptc5jo2iyK_G04wI6TnLZhw4uYYUnMpTey-8cQlwzmo-_yyo1rY-sqmgQqrntcAClRzia7H8LCC3zuB-3g4aJU47HKWAP6Dp_cPHjVpyJ1IAV0a6fXpItGRHJAh8RwiXFU6bk12lEc41eJO1HEvGxcc4RLg-_NAbJ8Q"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": [...]
