{
  "Entries": [
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyRemoteEncrypt-0/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": null,
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyRemoteEncrypt-0/eb1f87243b9d409ea66e24aece634a57",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tQa-ZdSBG-bn9up6cyajGLE7C7y7vGxXt1Bags4G7SeGSinoIY53pOqzjWXXRxxtPukBIZC-teykvvjI7oCP7vwRaHIH_tMcu9aA9s4aBQ36kwVvUCXn098mqQVqZi-vGvyXNJGFqqwcCHnAec-cc519A6mD_N_3anQO6ZgtD3WkrMVvAnoUAodH_BGkzcxPt6sIfjqM_JOEtgkvsLUAViwnum4xQC2B5sjA9YwpBcsA9H60WP-0MxxSvSGBxpdUQqUti4O3nYej2TkW3g3EuTDBZM-b7yBwuoF3T3b29iSoylheyeMkCdlBxH7jkvBTlwhbcY-CP68C9EsiWhmdPQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1713813982,
          "updated": 1713813982,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyRemoteEncrypt-0/encrypt?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0AA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyRemoteEncrypt-0/eb1f87243b9d409ea66e24aece634a57",
        "value": "adeXx9GP17Rv_0PH0AQgvMBnv_U222jYyL2uWcF19H2AQmzqcaO5-ZGIn4BnHCFZaKJt5YBGSTdppI7dD-hb28eygOu3BpHJHlR3ixvdbJb-ireWiKUimI1PyW7YiqqRa0QpBzFJsio891Dw_Nw61MT[...]
