{
  "Entries": [
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteWrap-987/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": null,
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteWrap-987/849ccaa8f5394bcaa65575140b632575",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "810zDkb_YGAmWKFfX5iFsVPePFkV_42PjLR2WdY-gbNWDyOc2n5B5nV9x0FbW-Wl2S4h-EcGtZtyEBaujkqO71YVWcCjTrxMo4cVzLKZQ6JV7qSwzWgZeg-vXoU1Y7iQp3Zqlzunv4iMcLZKE6VSx7gn9Wkxzq_QOuy0jaU-esm-KnHpbg7pxFT1eIXqwNDnBJs_Uo5Kbmx7cNu43dHHHKn8MCJC2xtpihCTirxDRDOXZ4CY5scAh6ITnvxDaCWpwZz2YjEiDPIz9sOSYNAGuJ-ep5Rbkm7kR4PCHrQyU6GiAsSy991iG7u28B6zFkvK-ZWP-7zjotOxtIh_HdEnjQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1713813900,
          "updated": 1713813900,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteWrap-987/849ccaa8f5394bcaa65575140b632575/wrapKey?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0AA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteWrap-987/849ccaa8f5394bcaa65575140b632575",
        "value": "q1trFJdNweW70Qx_r9RBnPjEKG2wOMKrIkqU6Y_Cz7ojPVr_X3GQ_2qa04EJx8wt9iffTLG81_Nol5uH-4B6_Qlf5pIhzR6PhYAJZa9zt5lTj9qzAX3GGCxGVvW3M_SkfE_vltP8ez8V_CbZOVN2OfZD3mzkX_RFrJaWL6Qo[...]
