{
  "Entries": [
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteWrap-987/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": null,
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteWrap-987/a3ae7044c3654a6d890507fef90863b3",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yb-AbPKNs0cI_vgt8inX5tlcikCOu7iZExiO-oQuJW5NM9ZB8ciexpPclQkCQNqJcjmtmcNZYUm1OlZ9FZvcDLZMLS-tMSqwUtb8boxT7OsLpjrO703zGWvwNOcv5wUtAU8WrCZPV-R-KfnIWAGM-JVFD_64H5kUSHPn7BdZ6ljiIAS7ebFDoguzaASgw0_ea_qbwO3wLpTg6VxBWsckH_vILWoucAl_Q_YBKTsiKLmsn3VYpDr5i-E5iU2X2ek9m5TVYZAJ1AXH8NFyMFcHXQ6q4uFQ4zWvqQSo6u4G6t__sFgxfn3AjqVJp4IUt9GmobnLSO5lsb8NCM-afbozcQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1713802992,
          "updated": 1713802992,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteWrap-987/a3ae7044c3654a6d890507fef90863b3/wrapKey?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0AA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteWrap-987/a3ae7044c3654a6d890507fef90863b3",
        "value": "uxtJulZr2K3nfR8WFOIEQZ3XbGvwCz-ribhylWtAiRltPhk61iPe-AIyptO9ooQ4n16vuOSeoJsrKh76KapW-Gd6E_PSvvMSLZjSZ8q3KR4cfGVi_1xzXwuJb2u0-WtXWH_5hkB38143hw7frrycmythUEq53-z2Q5uucVyC[...]
