{
  "Entries": [
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA256-2048/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": null,
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA256-2048/fef585a9ac1842dc9442506735824c45",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yEHuHPo8Klz0pseQfX-u998b_l272jUPtEMIV4-nsWKo0Tlsa-OP3YKzgtj-OXuUSwnnNuw8YV06OQsYYtNX7cBy6cfvXuTqmjt110YIcKr0eNEEjqffDbYj_5drheI5Aq2tf9dsYYFehyuaHyNUTIVQoxHUzFaHbbT3tCGk7e9xYYtX7e0rEe1XfRYM5Ws4LcL_a7bWW3orQJhMUO6ZZEepLJ85ZZokumGbYpI2ni440a3LlhNaL208gE0b8zEv_uPfjfagnF9DpfYu-EDQmZmvRUQAm_otQUOP_m20EwFRqkBTXTfGfccY_9fp2T0lu7VhlP7vgcdGqXx4cjXknQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1713812650,
          "updated": 1713812650,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA256-2048/fef585a9ac1842dc9442506735824c45/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "YPMYCWi4F5iB0VeftRDvoh3NWmgJncjBwLa45jptbxA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA256-2048/fef585a9ac1842dc9442506735824c45",
        "value": "Z7S5Ldd_d5NGPuW0S4pJgOtdVCILHJ2jd38SsgfKapLJp0wlDZw2pYK8oGDuLvcBe2X5KyZsMTrqQEEXxSxYV6YMLmGgv7oxV9kxyFtiTcW2L1IpYcUmaeiLSuhUEuHvrbaXqlJPZHQ7WHNA_8GarOyNgGiodiexahTJwMmTwIvGGvLtkY2wR2_GXhzgPC6-2CxNSCB1G6MC9A3y1PERuPiewIMaXYCjiO2Innf4cJ4X0Auy6Cob-0rrn8aT7cb5K5qGWF-89Ij-zwiU6dRI1-t13CZDf_Gs_i4gNKuwWWRhUZH_Mf3g0oKyz5D996smLBYsIe5h6fRKcPFR6Rga4g"
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA256-2048/fef585a9ac1842dc9442506735824c45/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "YPMYCWi4F5iB0VeftRDvoh3NWmgJncjBwLa45jptbxA",
        "value": "Z7S5Ldd_d5NGPuW0S4pJgOtdVCILHJ2jd38SsgfKapLJp0wlDZw2pYK8oGDuLvcBe2X5KyZsMTrqQEEXxSxYV6YMLmGgv7oxV9kxyFtiTcW2L1IpYcUmaeiLSuhUEuHvrbaXqlJPZHQ7WHNA_8GarOyNgGiodiexahTJwMmTwIvGGvLtkY2wR2_GXhzgPC6-2CxNSCB1G6MC9A3y1PERuPiewIMaXYCjiO2Innf4cJ4X0Auy6Cob-0rrn8aT7cb5K5qGWF-89Ij-zwiU6dRI1-t13CZDf_Gs_i4gNKuwWWRhUZH_Mf3g0oKyz5D996smLBYsIe5h6fRKcPFR6Rga4g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": [...]
