{
  "Entries": [
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyRemoteEncrypt-987/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": null,
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyRemoteEncrypt-987/0fc971561ef94a429f40d8982bf5a0ff",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "6UiAt_5xMt062ujMgOCgWlbQIii4DYLX7F0III5ngqBOUe0Sd89Sjpik_jPTNvTnb10mzhzypueHzDgQUtO_hJt9mPg4YWO4VskIwHI0zsYMfubewFS2J592mK9gw5XoYz7KA-Cb-IbTrkoWdxI8z8-CRQLoKhqRQPr5xqbulVCBl3ObaMoRVG2JzENLPIMItz6QU2Lb4m8Y5ws9-BI6Pv3gSeHfOzV_2nE38tqx8_jsDNg-ftd8gVzs2Jfrl6VecFSv4shxBtJwMK6A1uMsBvsuNbGfxEzV8br5xUbSanUpilYI-Gug4ic9a7_zvOV2tpecICduQx11B2pEYaXapQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1713813990,
          "updated": 1713813990,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyRemoteEncrypt-987/encrypt?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0AA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyRemoteEncrypt-987/0fc971561ef94a429f40d8982bf5a0ff",
        "value": "55XRT84tu3exgB5wl6pu-wdKog_y1vg6PQqUxnpIpZhuXspTe8ljuM7aCmkT_NRuXJTHMjyp3WjChYnqxYnMhrNG9hH2I8KcI-3iLUKRxST_1caOlpYEAYm0R8ctR04zB3ubsDs54p7UGOfxibXNL[...]
