{
  "Entries": [
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyDataRSA256-Minus100/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": null,
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyDataRSA256-Minus100/3331b3efb14645aaad6b9457e8c73eea",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rEff18tGaReUYUO7IqJiOPDH6AIuzhGVi69YCTRSih4uY06lqdRtIKYNQjuBjfPyCzBEq7T82xWHBGHmn0IS4wOGjPccf_31g1P8KJv9KcMtN3nAdnjNk95avhnljsbSFbTm_7EgVDxulRWixi3vWp3GsTVPGTePwhXpf07XqLRMApah8zNgumKntSfk2qvp4CT_WEpffthAuxki6NWXHqfEmJ1A5O0Sc7SpQbq5Mq9tleUDk2Baw-CJabGprk24LwJ9LqcW_TouUbbXdpQvmoaiPzmXa8aOuGmeh-EPvDgEG8P0gfjCibKTavKSZxb_MHxiI1LzmDNFp6j74r8adQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1713813957,
          "updated": 1713813957,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyDataRSA256-Minus100/3331b3efb14645aaad6b9457e8c73eea/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "OI4wZg49JzSRowh4GmVVx9J08bsXidnLYAMOSo7QI-k"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyDataRSA256-Minus100/3331b3efb14645aaad6b9457e8c73eea",
        "value": "fV-tQz8ApbP69NGAFELARbdhMJMPPJgilnW6_Hn8RHl1QiGEhGHTlGeRe8jjinJuxEhJhQC3Rbo11u48aNbsIXzdrKyBN-aCg3gTdbTH0QAVBMdlpPDmuF8E5Z-YVlJJ8EXljTau4KGLeOLM2xGn6PoVNBMvgH027cE3NPixnC0-KhOINIQSsomRoIuC8XvTMLS7z6JZQJR9enk0EdfyPmLegCA2pVuZB-HWpXOL60fasS0LEbMoHCnkZpG7xXILbXFpVOoTb7vTu_Z-FCAMbpNbANcB2u-KOiSHLCdDfeHtf-2ZWpFq1ZohmDTvWjARvYJy1uzf9W5ngDGo9L892g"
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyDataRSA256-Minus100/3331b3efb14645aaad6b9457e8c73eea/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "OI4wZg49JzSRowh4GmVVx9J08bsXidnLYAMOSo7QI-k",
        "value": "fV-tQz8ApbP69NGAFELARbdhMJMPPJgilnW6_Hn8RHl1QiGEhGHTlGeRe8jjinJuxEhJhQC3Rbo11u48aNbsIXzdrKyBN-aCg3gTdbTH0QAVBMdlpPDmuF8E5Z-YVlJJ8EXljTau4KGLeOLM2xGn6PoVNBMvgH027cE3NPixnC0-KhOINIQSsomRoIuC8XvTMLS7z6JZQJR9enk0EdfyPmLegCA2pVuZB-HWpXOL60fasS0LEbMoHCnkZpG7xXILbXFpVOoTb7vTu_Z-FCAMbpNbANcB2u-KOiSHLCdDfeHtf-2ZWpFq1ZohmDTvWjARvYJy1uzf9W5ngDGo9L892g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": [...]
