{
  "Entries": [
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteWrap-4096/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": null,
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteWrap-4096/4af39500fe134f53ac406c49fda9f706",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vjZMhbobGagn6wOZeahEkKMtHRjQ0BNEjGqp3Y3jMDet0Wls1yZSriWL6Ek_eopLwCoKI01owW3f8X40r82XvG-mDv_K-9Wod-P35UabuOjA7A9ehEtmRVe5Lk5xGa_4W6zQNnRuvNzY9zqZcdFS0xaheScnnhN9G4GaOIhnCuHAzuGjBcO_8T5KJdZ-D7IABZAHoXR2WJ6FDYa4DnnpdiyxHbNs3fN6MFXseUuyJW6vwKrPO5YScl215t-bxl7WwVx23zlnN5garEQ1mwWIsgUIlg6xb7qgjP9uoAci5bRDrb0KQ43ML1cFgQIAfqe5TzTDfbvTVoI9wJyPyyCfwQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1713803000,
          "updated": 1713803000,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteWrap-4096/4af39500fe134f53ac406c49fda9f706/wrapKey?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0AA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteWrap-4096/4af39500fe134f53ac406c49fda9f706",
        "value": "PO8byEzNIf-ZB-hkKzRlUqMC6p3gcDseK3wCblzMF3ijoR-a-VejlgYbTtiYQX-gGLw7fI0awGwhk_Ym9RSj_s2X13lKkF4GZfQUWIhxzU3AVGpK5c5dJQg9gMoEUaNQXxciZVHqIVsqxg2jjHhXLV_RbYzaPSIaXIa_5jF[...]
