{
  "Entries": [
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyRemoteEncrypt-4096/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": null,
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyRemoteEncrypt-4096/cb67f20dae5b4d1999f05b9408f40746",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "q_REWsjusSOrPkba35UeBBhTqaGyjHTn2oLQOKaezntD8kZkNohYcG5LJeRXX5g8wmVkvtDgB40D4WTTYUh4_OYs7TuTJN5cwhxt8TtSZqa89NWtHDDw4qMjlUcOXPqvC2OcpFhaMfApS2A3QKWfZ8HfhW-ZH253CKffx8b7CBI_RlrzfA11-eqJIyyHbuOzFL6WBEuGvagv5ks_2SqAfV6tl389_nxyCiQvtyXJpHzQAlB2zxeR6NYoDMLct6yienRUQicV2NSSsFKj_oms8rwZr94tMuWi1uunTt2dJOycEoE5M-OYHPS0uRAQ1SLZFoukKdT62FdMqTFXqE4PXQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1713812723,
          "updated": 1713812723,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyRemoteEncrypt-4096/encrypt?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0AA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyRemoteEncrypt-4096/cb67f20dae5b4d1999f05b9408f40746",
        "value": "GYYVBcj6uCu_A8SvM3ZQg5UmUmaeZfDDGinJ8Zbzkj27qzkEH31PiFfc__rtBMOccKyBQDRlEoVChP0r10ccf8kMqHb07vqjIn9zf90CalcDktMLTV4FYF1jWMt7EVuOhkyi_Xej19btBDQkBxIm[...]
