{
  "Entries": [
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-Minus215/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": null,
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-Minus215/bfa0e45c8327469aacc4dbc7e05696e0",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "-jXAmIwwVXnoQsZhwzW_TIbc-4IXFhqS6bbNtH4tjnpvITeQ8gEEoEMT_Del_GouQM5IwYpoTIF9Z1CobJqaL4wvDvPpFIBSskLRhACgURn_uTYUC0u5Or3exFufaW3vPlJyvqCXsj3Aad5SBQWf1ONOETq4sKkGw5d84CpArFuRSP4gl40cmtYTox4aWe54tLESHAvBPT8nqUGkB-NKVFlb1Ju04SOQLnnnKO96V6qZEvSooMHZlTgxbpdLvpXeH-EZSI0E2cL09ignE0BcOksLG_S2nAmxk6OTDoyjYjIaS7G_SX1ajo3xRyVv2euwcwhqci82LqG6RFvdIXrKrQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1713803024,
          "updated": 1713803024,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-Minus215/bfa0e45c8327469aacc4dbc7e05696e0/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "1f9nVpp7ygg84bIPWVl6XNe4vPyXwL5bN_apy_4445hY3foksKpInKoljE_oBt0C"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-Minus215/bfa0e45c8327469aacc4dbc7e05696e0",
        "value": "tm2KByZJVboiIxBDkwZfeAGZmv7w5QbSlN6OyVwdF79IA7EVmLBp9d4263CLHG8kfcw5IF3rgG7rmS-kSgDDO0fHnuoHIvtop7zYkVN1yKYBUEzgfHu9-jYM_sGT6VvM6tU53Pmiw5Q__Zgo6GvcjBvqm20KeZTFe7moKKCEwy375TqZ-M8AxkAmkrkLxsTUhF6pFUf2o1G31kl8-kPqK5XUjzWiCL33AHI9JPiZYGG-uUwlIJicC2EEPcf3OU2aoTaZ0bk6z0LMSqkfXKJNUEx4vUlhtqe9bsUEg6nAjefN4fMJxmXFBwjE2ftmL4aDLeET1CNVlJttVhIwMh_MYQ"
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyRSA384-Minus215/bfa0e45c8327469aacc4dbc7e05696e0/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "1f9nVpp7ygg84bIPWVl6XNe4vPyXwL5bN_apy_4445hY3foksKpInKoljE_oBt0C",
        "value": "tm2KByZJVboiIxBDkwZfeAGZmv7w5QbSlN6OyVwdF79IA7EVmLBp9d4263CLHG8kfcw5IF3rgG7rmS-kSgDDO0fHnuoHIvtop7zYkVN1yKYBUEzgfHu9-jYM_sGT6VvM6tU53Pmiw5Q__Zgo6GvcjBvqm20KeZTFe7moKKCEwy375TqZ-M8AxkAmkrkLxsTUhF6pFUf2o1G31kl8-kPqK5XUjzWiCL33AHI9JPiZYGG-uUwlIJicC2EEPcf3OU2aoTaZ0bk6z0LMSqkfXKJNUEx4vUlhtqe9bsUEg6nAjefN4fMJxmXFBwjE2ftmL4aDLeET1CNVlJttVhIwMh_MYQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
   [...]
