{
  "Entries": [
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyRemoteEncrypt-4096/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": null,
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyRemoteEncrypt-4096/0e73bc94370c4fd5836f1bf5dfdb55b3",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wWnv5CJB21Pvuq12nBbqeNmUmkVr3mLxz7Sm_QZnb3BGl0s2qq8uw3je4UHsFWiDpiKL7R1ZyJLc3vazb4k8lvFMLRifu8I70GKdvlQb5H2AXxbFt2uiCnGwP3kREOgB6X_tzWmDNzeczyKUI_wYrMuYyvKayi8MBJbGWmNroF5Hc6_TZXSZeBqE33hN4i9oxt7qaSrJ2RaflKADsovvCvvDH3zsc71lDg9nmc6X4FsuMciskWmL4L1iscP_vxKMFnsoqeL3V36K9k7P0gLhdwL-fMUp3ktNrYgeGUTsjVdeL_9D_0dmK45RY-K0zXQyYzqeckc4UE2k6ZfAcJGm-Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1713813998,
          "updated": 1713813998,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyRemoteEncrypt-4096/encrypt?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0AA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyRemoteEncrypt-4096/0e73bc94370c4fd5836f1bf5dfdb55b3",
        "value": "Fdy2udobYMRa3-rJqrRyuo2esvUl0K2kRERAqGbioTNy2tBgSELNlppaO7oBLCHcTOwKixSlGErt8Sj-zuPLCeEBOlzoL2ggfo-0FjrnXY1XHnWCcBko0P2Sef7VCSg9ZofddvpPWA7mOQPFZpHL[...]
