{
  "Entries": [
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteEncrypt-Minus215/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": null,
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteEncrypt-Minus215/057cdb34c4e74cefbe4e0012e88e6e52",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0coUwIPHAdO0luN6qrAc2spZLOcInR3sU1UTxcHszV-M_NrczVSPQbH6TxLX1zorMcI1xUSQ-RaypxYWOL4UygApjlRBoGa4CP-OkElL93WblLCnmpV12bDMydBRTR0wnsQqcCFz8g9MSRPILVblxQLiys5-Up4_j_pB-7FxpQJsz0G_GgqxC5SvwXW4L-FZxy0U7Zsf4C4MvLm8gpgDLzFBlAdgMVw0mNpAoY0gRwcJVPPAW4vA5zX_f58YE2Zg7a7szkQcq34bJdIwVZLL6OHYdSGFypQRtWM4dWl-ywX9hbAdNl2lfWsIA4EJ0UlcFHJW3Hb7NSf0h0LNYtcCSQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1713812589,
          "updated": 1713812589,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteEncrypt-Minus215/057cdb34c4e74cefbe4e0012e88e6e52/encrypt?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0AA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteEncrypt-Minus215/057cdb34c4e74cefbe4e0012e88e6e52",
        "value": "eOl1oD5zhzq_sanny88WPSTtcQvx60BKPIiGzVqPpMfjL-WkN25Gfw_FwzONYGqIKoekEkryfHrvM9FM6X0SKy7ihbpTx12Gc4vexJVth9qYY1HpFqjC5yxvoOPx0y467yJxx2V2a5W-meMGnYW0JseADlShS4y-[...]
