{
  "Entries": [
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyRemoteEncrypt-Minus100/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": null,
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyRemoteEncrypt-Minus100/04f6b9a9e010482fb7d541e50c2680e4",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yLU8cQeYIcoELzbojkzYHboGjpmhFOaus023jZ9H4AZL2nlolzC3lB5tVOWY4MqBQMkQQD_2CVrPD1Tc05z5VWzSAHyX5w3YqlvNDkulPRbJSUNOtJDYDu6Zxy1jwjy4na9BtDBEtt8mDHwmx6-duqIil0xD5ROzPNm8sas4JDIIpUcl5cGRua-ePsUoPIAesaWogk2xIzBohHrFgsOy9Rq3uel3dMHQj5y-wPMn26-DB3cCzP4V3N0tPUyzzarV45zcSNCkZ1eISidGhZ8Ef8tlorYH_MaOCLiDl7PfkhUrBqx6Breztk27rMFIVzlPB8bSdq3Yr7I81W3mSDiNFQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1713813980,
          "updated": 1713813980,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyRemoteEncrypt-Minus100/encrypt?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0AA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetCryptoFromKeyRemoteEncrypt-Minus100/04f6b9a9e010482fb7d541e50c2680e4",
        "value": "kBHNZg7g9yoioWPW9vx_pRVC_ZHCuyHD5OGcCDFKFe6S69V8F96Grr8w2jxvBy5kI72fuEGXiOrk9MmLu6MP1gP3iH8sTOKt5udiTe_AmBGW3rSDG2o-GGhPHf35h_plEOP8bnA84ZKHexQF[...]
