{
  "Entries": [
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/DoubleDelete/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": null,
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/DoubleDelete/647df836bc12430ba23124ebe2f2acfb",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "1OSx5QfsRdJ7rfqYnOz148tYPBBcENn-yZOOnR4NULQ",
          "y": "2IKOL5vRQJHi2lnXmk5sMTBDWhNuJjDMN9vELusSVZ8"
        },
        "attributes": {
          "enabled": true,
          "created": 1713803502,
          "updated": 1713803502,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/DoubleDelete?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://t74b68ef3acc1f78c.vault.azure.net/deletedkeys/DoubleDelete",
        "deletedDate": 1713803502,
        "scheduledPurgeDate": 1721579502,
        "key": {
          "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/DoubleDelete/647df836bc12430ba23124ebe2f2acfb",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "1OSx5QfsRdJ7rfqYnOz148tYPBBcENn-yZOOnR4NULQ",
          "y": "2IKOL5vRQJHi2lnXmk5sMTBDWhNuJjDMN9vELusSVZ8"
        },
        "attributes": {
          "enabled": true,
          "created": 1713803502,
          "updated": 1713803502,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/deletedkeys/DoubleDelete?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: DoubleDelete"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/deletedkeys/DoubleDelete?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://t74b68e[...]
