{
  "Entries": [
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/CreateDeletedKeyBeforePollComplete/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": null,
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/CreateDeletedKeyBeforePollComplete/3e2b2400796f4f7c9e7deb1586657cfd",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "FGf8ueCiVaZYX0Rqle-ldQukyO4ElawbFLSyVMQdUOM",
          "y": "q9x7IW86Te6es6_bfxC_uSs1ROIYmtilyH5SHJjRO0U"
        },
        "attributes": {
          "enabled": true,
          "created": 1713803625,
          "updated": 1713803625,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/CreateDeletedKeyBeforePollComplete?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://t74b68ef3acc1f78c.vault.azure.net/deletedkeys/CreateDeletedKeyBeforePollComplete",
        "deletedDate": 1713803625,
        "scheduledPurgeDate": 1721579625,
        "key": {
          "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/CreateDeletedKeyBeforePollComplete/3e2b2400796f4f7c9e7deb1586657cfd",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "FGf8ueCiVaZYX0Rqle-ldQukyO4ElawbFLSyVMQdUOM",
          "y": "q9x7IW86Te6es6_bfxC_uSs1ROIYmtilyH5SHJjRO0U"
        },
        "attributes": {
          "enabled": true,
          "created": 1713803625,
          "updated": 1713803625,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/CreateDeletedKeyBeforePollComplete/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": null,
        "kty": "EC"
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Conflict",
          "message": "Key CreateDeletedKeyBeforePollComplete is currently being deleted and cannot be re-created; retry later.",
          "innererror": {
            "code": "ObjectIsBeingDeleted"
          }
        }
      }
    }
  ],
  "Variables": {}
}
