{
  "Entries": [
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyES256/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": null,
        "crv": "P-256",
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyES256/7bd3736e0cce4586a4a8ea40a7b5cc5d",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "tcxKYQEvnfPXZz24sjkkWrgVS626ZvIe-q6V9auVv_8",
          "y": "TB6ue_Vu_huqDKrJ_JQTemo2nUcYYTkehdLr_0CzdCg"
        },
        "attributes": {
          "enabled": true,
          "created": 1713804003,
          "updated": 1713804003,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyES256/7bd3736e0cce4586a4a8ea40a7b5cc5d/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "YPMYCWi4F5iB0VeftRDvoh3NWmgJncjBwLa45jptbxA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyES256/7bd3736e0cce4586a4a8ea40a7b5cc5d",
        "value": "6e7bCtSrD-r93oENl1Bsbx9NsUEGrbBjyrbV6S3H91Vw1Gtx7RLxgMo5HFFe-RUyeiXPS84KNTssH91W_gmzqA"
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyES256/7bd3736e0cce4586a4a8ea40a7b5cc5d/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "digest": "YPMYCWi4F5iB0VeftRDvoh3NWmgJncjBwLa45jptbxA",
        "value": "6e7bCtSrD-r93oENl1Bsbx9NsUEGrbBjyrbV6S3H91Vw1Gtx7RLxgMo5HFFe-RUyeiXPS84KNTssH91W_gmzqA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/RemoteSignVerifyES256/create?api-version=7.5",
      "RequestMethod": "[...]
