{
  "Entries": [
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetDeletedKey/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": null,
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetDeletedKey/c9aea88be2334a759ca549f3be05a587",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "qmrfkFH7sH5IuaQo_hdoQ-j7SNYcHPTrBthimOVS-3o",
          "y": "7bdER0e79ApTdXbs_y_0wExncqQa5ZysenyJntySaMQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1713803625,
          "updated": 1713803625,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetDeletedKey?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://t74b68ef3acc1f78c.vault.azure.net/deletedkeys/GetDeletedKey",
        "deletedDate": 1713803626,
        "scheduledPurgeDate": 1721579626,
        "key": {
          "kid": "https://t74b68ef3acc1f78c.vault.azure.net/keys/GetDeletedKey/c9aea88be2334a759ca549f3be05a587",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "qmrfkFH7sH5IuaQo_hdoQ-j7SNYcHPTrBthimOVS-3o",
          "y": "7bdER0e79ApTdXbs_y_0wExncqQa5ZysenyJntySaMQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1713803625,
          "updated": 1713803625,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/deletedkeys/GetDeletedKey?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: GetDeletedKey"
        }
      }
    },
    {
      "RequestUri": "https://t74b68ef3acc1f78c.vault.azure.net/deletedkeys/GetDeletedKey?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://t74b6[...]
