{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-721651bb-1d19-d5dc-d7ff-be71a38b6adc?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Nov 2024 21:49:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD029AC83E8036\"",
        "Last-Modified": "Mon, 11 Nov 2024 21:49:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c81e3534-3217-2fbd-3c5d-63ada317f873?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Nov 2024 21:49:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD029AC84D4927\"",
        "Last-Modified": "Mon, 11 Nov 2024 21:49:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-721651bb-1d19-d5dc-d7ff-be71a38b6adc/sourceFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Nov 2024 21:49:53 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD029AC8581031\"",
        "Last-Modified": "Mon, 11 Nov 2024 21:49:56 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-11-11T21:49:56.5912113Z",
        "x-ms-file-creation-time": "2024-11-11T21:49:56.5912113Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-11T21:49:56.5912113Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-721651bb-1d19-d5dc-d7ff-be71a38b6adc/sourceFolder/test-file-0494a562-ae9b-715c-eae0-fe654c57314d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "0",
        "x-ms-date": "Mon, 11 Nov 2024 21:49:53 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD029AC86106CB\"",
        "Last-Modified": "Mon, 11 Nov 2024 21:49:56 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-11-11T21:49:56.6499531Z",
        "x-ms-file-creation-time": "2024-11-11T21:49:56.6499531Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-11-11T21:49:56.6499531Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-721651bb-1d19-d5dc-d7ff-be71a38b6adc/sourceFolder/bar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Nov 2024 21:49:54 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD029AC872F403\"",
        "Last-Modified": "Mon, 11 Nov 2024 21:49:56 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-11-11T21:49:56.7674371Z",
        "x-ms-file-creation-time": "2024-11-11T21:49:56.7674371Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-11-11T21:49:56.7674371Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-721651bb-1d19-d5dc-d7ff-be71a38b6adc/sourceFolder/bar/test-file-593f3673-4487-0f1e-e6c5-89574a82ca7f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "0",
        "x-ms-date": "Mon, 11 Nov 2024 21:49:54 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD029AC87B9CD4\"",
        "Last-Modified": "Mon, 11 Nov 2024 21:49:56 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-11-11T21:49:56.8241876Z",
        "x-ms-file-creation-time": "2024-11-11T21:49:56.8241876Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-11-11T21:49:56.8241876Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-721651bb-1d19-d5dc-d7ff-be71a38b6adc/sourceFolder/pik?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Nov 2024 21:49:54 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD029AC8846C90\"",
        "Last-Modified": "Mon, 11 Nov 2024 21:49:56 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-11-11T21:49:56.8819344Z",
        "x-ms-file-creation-time": "2024-11-11T21:49:56.8819344Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2024-11-11T21:49:56.8819344Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-721651bb-1d19-d5dc-d7ff-be71a38b6adc/sourceFolder/pik/test-file-7b4e70da-da29-264d-e851-5debbe401116",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "0",
        "x-ms-date": "Mon, 11 Nov 2024 21:49:54 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD029AC88CC798\"",
        "Last-Modified": "Mon, 11 Nov 2024 21:49:56 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-11-11T21:49:56.9366936Z",
        "x-ms-file-creation-time": "2024-11-11T21:49:56.9366936Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2024-11-11T21:49:56.9366936Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-721651bb-1d19-d5dc-d7ff-be71a38b6adc/sourceFolder?sv=Sanitized&se=2024-11-12T21%3A49%3A54Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-721651bb-1d19-d5dc-d7ff-be71a38b6adc\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /><Attributes>Directory</Attributes></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /><Attributes>Directory</Attributes></Directory><File><Name>test-file-0494a562-ae9b-715c-eae0-fe654c57314d</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>0</Content-Length></Properties><Attributes>Archive</Attributes></File><File><Name>test-file-daba0e2b-0a32-fbc9-da6a-de8d0d7ad310</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>0</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-721651bb-1d19-d5dc-d7ff-be71a38b6adc/sourceFolder/bar?sv=Sanitized&se=2024-11-12T21%3A49%3A54Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-721651bb-1d19-d5dc-d7ff-be71a38b6adc\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-593f3673-4487-0f1e-e6c5-89574a82ca7f</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>0</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-721651bb-1d19-d5dc-d7ff-be71a38b6adc/sourceFolder/test-file-0494a562-ae9b-715c-eae0-fe654c57314d?sv=Sanitized&se=2024-11-12T21%3A49%3A54Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD029AC86106CB\"",
        "Last-Modified": "Mon, 11 Nov 2024 21:49:56 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-11-11T21:49:56.6499531Z",
        "x-ms-file-creation-time": "2024-11-11T21:49:56.6499531Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-11-11T21:49:56.6499531Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-721651bb-1d19-d5dc-d7ff-be71a38b6adc/sourceFolder/pik?sv=Sanitized&se=2024-11-12T21%3A49%3A54Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-721651bb-1d19-d5dc-d7ff-be71a38b6adc\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-7b4e70da-da29-264d-e851-5debbe401116</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>0</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-721651bb-1d19-d5dc-d7ff-be71a38b6adc/sourceFolder/bar/test-file-593f3673-4487-0f1e-e6c5-89574a82ca7f?sv=Sanitized&se=2024-11-12T21%3A49%3A54Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD029AC87B9CD4\"",
        "Last-Modified": "Mon, 11 Nov 2024 21:49:56 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-11-11T21:49:56.8241876Z",
        "x-ms-file-creation-time": "2024-11-11T21:49:56.8241876Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-11-11T21:49:56.8241876Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c81e3534-3217-2fbd-3c5d-63ada317f873/destinationFolder/test-file-0494a562-ae9b-715c-eae0-fe654c57314d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 11 Nov 2024 21:49:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD029AC8B24096\"",
        "Last-Modified": "Mon, 11 Nov 2024 21:49:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-721651bb-1d19-d5dc-d7ff-be71a38b6adc/sourceFolder/pik/test-file-7b4e70da-da29-264d-e851-5debbe401116?sv=Sanitized&se=2024-11-12T21%3A49%3A54Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD029AC88CC798\"",
        "Last-Modified": "Mon, 11 Nov 2024 21:49:56 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-11-11T21:49:56.9366936Z",
        "x-ms-file-creation-time": "2024-11-11T21:49:56.9366936Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2024-11-11T21:49:56.9366936Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c81e3534-3217-2fbd-3c5d-63ada317f873/destinationFolder/bar/test-file-593f3673-4487-0f1e-e6c5-89574a82ca7f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 11 Nov 2024 21:49:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD029AC8BBF9A2\"",
        "Last-Modified": "Mon, 11 Nov 2024 21:49:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c81e3534-3217-2fbd-3c5d-63ada317f873/destinationFolder/pik/test-file-7b4e70da-da29-264d-e851-5debbe401116",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 11 Nov 2024 21:49:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD029AC8C47B8C\"",
        "Last-Modified": "Mon, 11 Nov 2024 21:49:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-721651bb-1d19-d5dc-d7ff-be71a38b6adc/sourceFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Nov 2024 21:49:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-721651bb-1d19-d5dc-d7ff-be71a38b6adc\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-0494a562-ae9b-715c-eae0-fe654c57314d</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>0</Content-Length></Properties></File><File><Name>test-file-daba0e2b-0a32-fbc9-da6a-de8d0d7ad310</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>0</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-721651bb-1d19-d5dc-d7ff-be71a38b6adc/sourceFolder/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Nov 2024 21:49:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-721651bb-1d19-d5dc-d7ff-be71a38b6adc\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-593f3673-4487-0f1e-e6c5-89574a82ca7f</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>0</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-721651bb-1d19-d5dc-d7ff-be71a38b6adc/sourceFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Nov 2024 21:49:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-721651bb-1d19-d5dc-d7ff-be71a38b6adc\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-7b4e70da-da29-264d-e851-5debbe401116</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>0</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c81e3534-3217-2fbd-3c5d-63ada317f873?restype=container&comp=list&prefix=destinationFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Nov 2024 21:49:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-c81e3534-3217-2fbd-3c5d-63ada317f873\"><Prefix>destinationFolder</Prefix><Blobs><Blob><Name>destinationFolder/bar/test-file-593f3673-4487-0f1e-e6c5-89574a82ca7f</Name><Properties><Creation-Time>Mon, 11 Nov 2024 21:49:57 GMT</Creation-Time><Last-Modified>Mon, 11 Nov 2024 21:49:57 GMT</Last-Modified><Etag>0x8DD029AC8BBF9A2</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destinationFolder/pik/test-file-7b4e70da-da29-264d-e851-5debbe401116</Name><Properties><Creation-Time>Mon, 11 Nov 2024 21:49:57 GMT</Creation-Time><Last-Modified>Mon, 11 Nov 2024 21:49:57 GMT</Last-Modified><Etag>0x8DD029AC8C47B8C</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>AppendBlob</BlobType><LeaseStatus[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c81e3534-3217-2fbd-3c5d-63ada317f873/destinationFolder/bar/test-file-593f3673-4487-0f1e-e6c5-89574a82ca7f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Nov 2024 21:49:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD029AC8BBF9A2\"",
        "Last-Modified": "Mon, 11 Nov 2024 21:49:57 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 11 Nov 2024 21:49:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-721651bb-1d19-d5dc-d7ff-be71a38b6adc?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Nov 2024 21:49:55 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-11-11T13:49:54.2870431-08:00",
    "RandomSeed": "1748291356",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
