{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11896"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS10318670": "20220720"
        },
        "subscriptionId": "da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ADMS_Test_Engineering_RichTransform",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourcegroups/adf-rg-delimitedtext-8238?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1095"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-delimitedtext-8238",
        "name": "adf-rg-delimitedtext-8238",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-delimitedtext-8238/providers/Microsoft.DataFactory/factories/adf-delimitedtext-3963?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1094"
      },
      "ResponseBody": {
        "name": "adf-delimitedtext-3963",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-delimitedtext-8238/providers/Microsoft.DataFactory/factories/adf-delimitedtext-3963",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-23T09:51:48.4790666Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00229e048e1e-0000-0800-0000-655f20b40000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-delimitedtext-8238/providers/Microsoft.DataFactory/factories/adf-delimitedtext-3963/linkedservices/adf_linkedservice_delimitedtext_1976?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Sftp",
          "typeProperties": {
            "host": "10.10.10.10"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1093"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-delimitedtext-8238/providers/Microsoft.DataFactory/factories/adf-delimitedtext-3963/linkedservices/adf_linkedservice_delimitedtext_1976",
        "name": "adf_linkedservice_delimitedtext_1976",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Sftp",
          "typeProperties": {
            "host": "10.10.10.10"
          }
        },
        "etag": "f905c340-0000-0800-0000-655f20b40000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-delimitedtext-8238/providers/Microsoft.DataFactory/factories/adf-delimitedtext-3963/datasets/adf-dataset-delimitedtext-6426?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "DelimitedText",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_delimitedtext_1976"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1092"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-delimitedtext-8238/providers/Microsoft.DataFactory/factories/adf-delimitedtext-3963/datasets/adf-dataset-delimitedtext-6426",
        "name": "adf-dataset-delimitedtext-6426",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "DelimitedText",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_delimitedtext_1976"
          },
          "typeProperties": {}
        },
        "etag": "f905cf40-0000-0800-0000-655f20b50000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-delimitedtext-8238/providers/Microsoft.DataFactory/factories/adf-delimitedtext-3963/linkedservices/adf_linkedservice_delimitedtext_3671?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureDataLakeStore",
          "typeProperties": {
            "dataLakeStoreUri": "https://test.azuredatalakestore.net/testindex/v1"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1091"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-delimitedtext-8238/providers/Microsoft.DataFactory/factories/adf-delimitedtext-3963/linkedservices/adf_linkedservice_delimitedtext_3671",
        "name": "adf_linkedservice_delimitedtext_3671",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureDataLakeStore",
          "typeProperties": {
            "dataLakeStoreUri": "https://test.azuredatalakestore.net/testindex/v1"
          }
        },
        "etag": "f905d540-0000-0800-0000-655f20b50000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-delimitedtext-8238/providers/Microsoft.DataFactory/factories/adf-delimitedtext-3963/pipelines/adf-pipeline-delimitedtext-8539?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "inputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "adf-dataset-delimitedtext-6426"
                }
              ],
              "outputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "adf-dataset-delimitedtext-2375"
                }
              ],
              "name": "adf-pipeline-task-1056",
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "storeSettings": {
                    "recursive": true,
                    "wildcardFolderPath": "A*",
                    "wildcardFileName": "*.csv",
                    "enablePartitionDiscovery": true,
                    "modifiedDatetimeStart": "2019-07-02T00:00:00.000Z",
                    "modifiedDatetimeEnd": "2019-07-03T00:00:00.000Z",
                    "type": "SftpReadSettings"
                  },
                  "formatSettings": {
                    "skipLineCount": 10,
                    "type": "DelimitedTextReadSettings",
                    "\\N": "NULL"
                  },
                  "type": "DelimitedTextSource"
                },
                "sink": {
                  "storeSettings": {
                    "type": "AzureDataLakeStoreWriteSettings",
                    "maxConcurrentConnections": 3,
                    "copyBehavior": "PreserveHierarchy"
                  },
                  "formatSettings": {
                    "quoteAllText": true,
                    "fileExtension": ".csv",
                    "type": "DelimitedTextWriteSettings"
                  },
                  "type": "DelimitedTextSink"
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1089"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups[...]
