{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11941"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS10318670": "20220720"
        },
        "subscriptionId": "da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ADMS_Test_Engineering_RichTransform",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourcegroups/adf-rg-cosmosdbsqlapi-713?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "932"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-cosmosdbsqlapi-713",
        "name": "adf-rg-cosmosdbsqlapi-713",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-cosmosdbsqlapi-713/providers/Microsoft.DataFactory/factories/adf-cosmosdbsqlapi-7510?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "931"
      },
      "ResponseBody": {
        "name": "adf-cosmosdbsqlapi-7510",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-cosmosdbsqlapi-713/providers/Microsoft.DataFactory/factories/adf-cosmosdbsqlapi-7510",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-23T10:03:18.7867865Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00229e04e075-0000-0800-0000-655f23660000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-cosmosdbsqlapi-713/providers/Microsoft.DataFactory/factories/adf-cosmosdbsqlapi-7510/linkedservices/adf_linkedservice_cosmosdbsqlapi_2416?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "CosmosDbMongoDbApi",
          "typeProperties": {
            "isServerVersionAbove32": true,
            "connectionString": {
              "value": "mongodb\u002Bsrv://myDatabaseUser:@server.example.com",
              "type": "SecureString"
            },
            "database": "TestDB"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "930"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-cosmosdbsqlapi-713/providers/Microsoft.DataFactory/factories/adf-cosmosdbsqlapi-7510/linkedservices/adf_linkedservice_cosmosdbsqlapi_2416",
        "name": "adf_linkedservice_cosmosdbsqlapi_2416",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "CosmosDbMongoDbApi",
          "typeProperties": {
            "isServerVersionAbove32": true,
            "connectionString": {
              "type": "SecureString",
              "value": "**********"
            },
            "database": "TestDB"
          }
        },
        "etag": "400010e7-0000-0800-0000-655f23670000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-cosmosdbsqlapi-713/providers/Microsoft.DataFactory/factories/adf-cosmosdbsqlapi-7510/datasets/adf-dataset-cosmosdbsqlapi-6718?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "CosmosDbSqlApiCollection",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_cosmosdbsqlapi_2416"
          },
          "typeProperties": {
            "collectionName": "fakeCollectionName"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "929"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-cosmosdbsqlapi-713/providers/Microsoft.DataFactory/factories/adf-cosmosdbsqlapi-7510/datasets/adf-dataset-cosmosdbsqlapi-6718",
        "name": "adf-dataset-cosmosdbsqlapi-6718",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "CosmosDbSqlApiCollection",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_cosmosdbsqlapi_2416"
          },
          "typeProperties": {
            "collectionName": "fakeCollectionName"
          }
        },
        "etag": "400012e7-0000-0800-0000-655f23670000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-cosmosdbsqlapi-713/providers/Microsoft.DataFactory/factories/adf-cosmosdbsqlapi-7510/pipelines/adf-pipeline-cosmosdbsqlapi-3526?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "inputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "adf-dataset-cosmosdbsqlapi-6718"
                }
              ],
              "outputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "adf-dataset-cosmosdbsqlapi-6505"
                }
              ],
              "name": "adf-pipeline-task-4489",
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "query": "select * from c",
                  "pageSize": 1000,
                  "preferredRegions": [
                    "West US",
                    "West US 2"
                  ],
                  "type": "CosmosDbSqlApiSource"
                },
                "sink": {
                  "writeBehavior": "upsert",
                  "type": "CosmosDbSqlApiSink",
                  "writeBatchSize": 1000
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "926"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-cosmosdbsqlapi-713/providers/Microsoft.DataFactory/factories/adf-cosmosdbsqlapi-7510/pipelines/adf-pipeline-cosmosdbsqla[...]
