{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11916"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS10318670": "20220720"
        },
        "subscriptionId": "da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ADMS_Test_Engineering_RichTransform",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourcegroups/adf-rg-delimitedtext-2722?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "791"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-delimitedtext-2722",
        "name": "adf-rg-delimitedtext-2722",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-delimitedtext-2722/providers/Microsoft.DataFactory/factories/adf-delimitedtext-8321?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "790"
      },
      "ResponseBody": {
        "name": "adf-delimitedtext-8321",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-delimitedtext-2722/providers/Microsoft.DataFactory/factories/adf-delimitedtext-8321",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-23T10:05:42.7334594Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00229e04bc87-0000-0800-0000-655f23f60000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-delimitedtext-2722/providers/Microsoft.DataFactory/factories/adf-delimitedtext-8321/linkedservices/adf_linkedservice_delimitedtext_3709?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "789"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-delimitedtext-2722/providers/Microsoft.DataFactory/factories/adf-delimitedtext-8321/linkedservices/adf_linkedservice_delimitedtext_3709",
        "name": "adf_linkedservice_delimitedtext_3709",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEY4MDNCRDkxLUEyNzItNDYyMS1CODE0LTcyQ0QwNDk0RDkxN185YTcyYTEyOS03YjllLTQzMGYtYWFlNi0wOTYxZjNjMTdkNGIiDQp9"
          }
        },
        "etag": "3d000246-0000-0800-0000-655f23f70000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-delimitedtext-2722/providers/Microsoft.DataFactory/factories/adf-delimitedtext-8321/datasets/adf-dataset-delimitedtext-6382?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "DelimitedText",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_delimitedtext_3709"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "788"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-delimitedtext-2722/providers/Microsoft.DataFactory/factories/adf-delimitedtext-8321/datasets/adf-dataset-delimitedtext-6382",
        "name": "adf-dataset-delimitedtext-6382",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "DelimitedText",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_delimitedtext_3709"
          },
          "typeProperties": {}
        },
        "etag": "3d000446-0000-0800-0000-655f23f80000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-delimitedtext-2722/providers/Microsoft.DataFactory/factories/adf-delimitedtext-8321/pipelines/adf-pipeline-delimitedtext-1747?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "inputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "adf-dataset-delimitedtext-6382"
                }
              ],
              "outputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "adf-dataset-delimitedtext-3466"
                }
              ],
              "name": "adf-pipeline-task-9579",
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "storeSettings": {
                    "recursive": true,
                    "type": "AzureBlobStorageReadSettings"
                  },
                  "formatSettings": {
                    "type": "DelimitedTextReadSettings"
                  },
                  "type": "DelimitedTextSource"
                },
                "sink": {
                  "allowCopyCommand": true,
                  "copyCommandSettings": {
                    "defaultValues": [
                      {
                        "columnName": "col_string",
                        "defaultValue": "Cincinnati"
                      },
                      {
                        "columnName": "col_binary",
                        "defaultValue": "0xAE"
                      },
                      {
                        "columnName": "col_datetime",
                        "defaultValue": "December 5, 1985"
                      },
                      {
                        "columnName": "col_integer",
                        "defaultValue": "1894"
                      },
                      {
                        "columnName": "col_decimal",
                        "defaultValue": "12.345000000"
                      },
                      {
                        "columnName": "col_float",
                        "defaultValue": "0.5E-2"
                      },
                      {
                        "columnName": "col_money",
                        "defaultValue": "$542023.14"
                      },
                      {
                        "columnName": "col_uniqueidentifier1",
                        "defaultValue": "6F9619FF-8B86-D011-B42D-00C04FC964FF"
                      }
                    ]
                  },
                  "type": "SqlDWSink",
                  "MAXERRORS": "10000",
                  "DATEFORMAT": "ymd"
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "785"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-delimitedtext-2722/providers/Microsoft.DataFactory/factories/adf-delimitedtext-8321/pipelines/adf-pipeline-delimitedtex[...]
