{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11891"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS10318670": "20220720"
        },
        "subscriptionId": "da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ADMS_Test_Engineering_RichTransform",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourcegroups/adf-rg-executedataflow-5930?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "735"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-executedataflow-5930",
        "name": "adf-rg-executedataflow-5930",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-executedataflow-5930/providers/Microsoft.DataFactory/factories/adf-executedataflow-1467?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "734"
      },
      "ResponseBody": {
        "name": "adf-executedataflow-1467",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-executedataflow-5930/providers/Microsoft.DataFactory/factories/adf-executedataflow-1467",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-23T10:06:31.1616836Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00229e04f68d-0000-0800-0000-655f24270000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-executedataflow-5930/providers/Microsoft.DataFactory/factories/adf-executedataflow-1467/linkedservices/adf_linkedservice_executedataflow_2814?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SapBW",
          "typeProperties": {
            "server": "fakeServer",
            "systemNumber": "123456",
            "clientId": "fakeClientId"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "733"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-executedataflow-5930/providers/Microsoft.DataFactory/factories/adf-executedataflow-1467/linkedservices/adf_linkedservice_executedataflow_2814",
        "name": "adf_linkedservice_executedataflow_2814",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "SapBW",
          "typeProperties": {
            "server": "fakeServer",
            "systemNumber": "123456",
            "clientId": "fakeClientId"
          }
        },
        "etag": "2800474a-0000-0800-0000-655f24270000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-executedataflow-5930/providers/Microsoft.DataFactory/factories/adf-executedataflow-1467/datasets/adf-dataset-executedataflow-4040?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SapBwCube",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_executedataflow_2814"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "732"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-executedataflow-5930/providers/Microsoft.DataFactory/factories/adf-executedataflow-1467/datasets/adf-dataset-executedataflow-4040",
        "name": "adf-dataset-executedataflow-4040",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "SapBwCube",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_executedataflow_2814"
          }
        },
        "etag": "28004a4a-0000-0800-0000-655f24270000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-executedataflow-5930/providers/Microsoft.DataFactory/factories/adf-executedataflow-1467/linkedservices/adf_linkedservice_executedataflow_1152?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "731"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-executedataflow-5930/providers/Microsoft.DataFactory/factories/adf-executedataflow-1467/linkedservices/adf_linkedservice_executedataflow_1152",
        "name": "adf_linkedservice_executedataflow_1152",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDkyOTU5QjVCLTIzNUQtNEVEQi1CMTk0LTM0QzE5MTNBMzcxQ183NzY3OTQ2ZS1kYmY0LTQ4NjYtOWQ3ZS0yNGEyOWJmNGI5ODkiDQp9"
          }
        },
        "etag": "28004e4a-0000-0800-0000-655f24280000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-executedataflow-5930/providers/Microsoft.DataFactory/factories/adf-executedataflow-1467/integrationRuntimes/adf-integraionruntime-7710?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Managed",
          "typeProperties": {
            "computeProperties": {
              "location": "eastus2",
              "dataFlowProperties": {
                "computeType": "General",
                "coreCount": 4,
                "timeToLive": 10
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "729"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-executedataflow-5930/providers/Microsoft.DataFactory/factories/adf-executedataflow-1467/integrationruntimes/adf-integraionruntime-7710",
        "name": "adf-integraionruntime-7710",
        "type": "Microsoft.DataFactory/factories/integrationruntimes",
        "properties": {
          "type": "Managed",
          "typeProperties": {
            "computeProperties": {
              "location": "eastus2",
              "dataFlowProperties": {
                "computeType": "General",
                "coreCount": 4,
                "timeToLive": 10
              }
            }
          }
        },
        "etag": "2800554a-0000-0800-0000-655f24290000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-executedataflow-5930/providers/Microsoft.DataFactory/factories/adf-executedataflow-1467/dataflows/adf-dataflow-4330?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "MappingDataFlow",
          "typeProperties": {
            "sources": [
              {
                "name": "adf-dataset-executedataflow-4040"
              }
            ],
            "sinks": [
              {
                "name": "adf-dataset-executedataflow-3897"
              }
            ]
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "728"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-executedataflow-5930/providers/Microsoft.DataFactory/factories/adf-executedataflow-1467/dataflows/adf-dataflow-4330",
        "name": "adf-dataflow-4330",
        "type": "Microsoft.DataFactory/factories/dataflows",
        "properties": {
          "type": "MappingDataFlow",
          "typeProperties": {
            "sources": [
              {
                "name": "adf-dataset-executedataflow-4040"
              }
            ],
            "sinks": [
              {
                "name": "adf-dataset-executedataflow-3897"
              }
            ]
          }
        },
        "etag": "2800574a-0000-0800-0000-655f24290000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-executedataflow-5930/providers/Microsoft.DataFactory/factories/adf-executedataflow-1467/pipelines/adf-pipeline-executedataflow-8717?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "name": "adf-pipeline-task-9152",
              "type": "ExecuteDataFlow",
              "typeProperties": {
                "dataFlow": {
                  "type": "DataFlowReference",
                  "referenceName": "adf-dataflow-4330"
                },
                "staging": {
                  "linkedService": {
                    "type": "LinkedServiceReference",
                    "referenceName": "adf_linkedservice_executedataflow_1152"
                  },
                  "folderPath": "adfjobs/staging"
                },
                "integrationRuntime": {
                  "type": "IntegrationRuntimeReference",
                  "referenceName": "adf-integraionruntime-7710"
                },
                "compute": {
                  "computeType": {
                    "type": "Expression",
                    "value": "@parameters(\u0022MemoryOptimized\u0022)"
                  },
                  "coreCount": {
                    "type": "Expression",
                    "value": "@parameters(\u00228\u0022)"
                  }
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody"[...]
