{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS10318670": "20220720"
        },
        "subscriptionId": "da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ADMS_Test_Engineering_RichTransform",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourcegroups/adf-rg-delimitedtext-2669?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-delimitedtext-2669",
        "name": "adf-rg-delimitedtext-2669",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-delimitedtext-2669/providers/Microsoft.DataFactory/factories/adf-delimitedtext-933?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "name": "adf-delimitedtext-933",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-delimitedtext-2669/providers/Microsoft.DataFactory/factories/adf-delimitedtext-933",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2024-01-04T12:39:10.851174Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022a60b5d64-0000-0800-0000-6596a6ee0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-delimitedtext-2669/providers/Microsoft.DataFactory/factories/adf-delimitedtext-933/linkedservices/adf_linkedservice_delimitedtext_1870?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "GoogleCloudStorage",
          "typeProperties": {
            "accessKeyId": "fakeAccessKeyId",
            "secretAccessKey": {
              "value": "fakeSecretAccessKey",
              "type": "SecureString"
            },
            "serviceUrl": "https://storage.googleapis.com"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-delimitedtext-2669/providers/Microsoft.DataFactory/factories/adf-delimitedtext-933/linkedservices/adf_linkedservice_delimitedtext_1870",
        "name": "adf_linkedservice_delimitedtext_1870",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "GoogleCloudStorage",
          "typeProperties": {
            "accessKeyId": "fakeAccessKeyId",
            "serviceUrl": "https://storage.googleapis.com",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDU4RjNBMTc2LTFDOTMtNEY3NS04QjM0LTlENkIzM0Q1QzY2Q18xMGZjOWZmNi00NGNlLTQyM2ItOGZkZS0wZTAzMTI4YzkyN2MiDQp9"
          }
        },
        "etag": "64005017-0000-0800-0000-6596a6ef0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-delimitedtext-2669/providers/Microsoft.DataFactory/factories/adf-delimitedtext-933/datasets/adf-dataset-delimitedtext-6142?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "DelimitedText",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_delimitedtext_1870"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-delimitedtext-2669/providers/Microsoft.DataFactory/factories/adf-delimitedtext-933/datasets/adf-dataset-delimitedtext-6142",
        "name": "adf-dataset-delimitedtext-6142",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "DelimitedText",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_delimitedtext_1870"
          },
          "typeProperties": {}
        },
        "etag": "64005217-0000-0800-0000-6596a6f00000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-delimitedtext-2669/providers/Microsoft.DataFactory/factories/adf-delimitedtext-933/pipelines/adf-pipeline-delimitedtext-694?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "inputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "adf-dataset-delimitedtext-6142"
                }
              ],
              "outputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "adf-dataset-delimitedtext-506"
                }
              ],
              "policy": {
                "timeout": "01:00:00",
                "retry": 2
              },
              "name": "adf-pipeline-task-7057",
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "storeSettings": {
                    "recursive": true,
                    "wildcardFolderPath": "A*",
                    "wildcardFileName": "*.csv",
                    "prefix": "fakePrefix",
                    "modifiedDatetimeStart": "2019-07-02T00:00:00.000Z",
                    "modifiedDatetimeEnd": "2019-07-03T00:00:00.000Z",
                    "type": "GoogleCloudStorageReadSettings"
                  },
                  "formatSettings": {
                    "skipLineCount": 10,
                    "type": "DelimitedTextReadSettings",
                    "additionalNullValues": [
                      "\\N",
                      "NULL"
                    ]
                  },
                  "type": "DelimitedTextSource"
                },
                "sink": {
                  "storeSettings": {
                    "type": "AzureBlobStorageWriteSettings",
                    "maxConcurrentConnections": 3,
                    "copyBehavior": "PreserveHierarchy"
                  },
                  "formatSettings": {
                    "quoteAllText": true,
                    "fileExtension": ".csv",
                    "type": "DelimitedTextWriteSettings"
                  },
                  "type": "DelimitedTextSink"
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups[...]
