{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11931"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS10318670": "20220720"
        },
        "subscriptionId": "da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ADMS_Test_Engineering_RichTransform",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourcegroups/adf-rg-db2-3759?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "896"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-db2-3759",
        "name": "adf-rg-db2-3759",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-db2-3759/providers/Microsoft.DataFactory/factories/adf-db2-9233?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "895"
      },
      "ResponseBody": {
        "name": "adf-db2-9233",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-db2-3759/providers/Microsoft.DataFactory/factories/adf-db2-9233",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-23T10:04:00.5625015Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00229e04047b-0000-0800-0000-655f23900000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-db2-3759/providers/Microsoft.DataFactory/factories/adf-db2-9233/linkedservices/adf_linkedservice_db2_7191?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Db2",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "894"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-db2-3759/providers/Microsoft.DataFactory/factories/adf-db2-9233/linkedservices/adf_linkedservice_db2_7191",
        "name": "adf_linkedservice_db2_7191",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Db2",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        },
        "etag": "9f0419bf-0000-0800-0000-655f23930000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-db2-3759/providers/Microsoft.DataFactory/factories/adf-db2-9233/datasets/adf-dataset-db2-1621?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Db2Table",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_db2_7191"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "893"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-db2-3759/providers/Microsoft.DataFactory/factories/adf-db2-9233/datasets/adf-dataset-db2-1621",
        "name": "adf-dataset-db2-1621",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "Db2Table",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_db2_7191"
          },
          "typeProperties": {}
        },
        "etag": "9f043bbf-0000-0800-0000-655f23940000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-db2-3759/providers/Microsoft.DataFactory/factories/adf-db2-9233/linkedservices/adf_linkedservice_db2_6912?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureMySql",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "892"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-db2-3759/providers/Microsoft.DataFactory/factories/adf-db2-9233/linkedservices/adf_linkedservice_db2_6912",
        "name": "adf_linkedservice_db2_6912",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureMySql",
          "typeProperties": {
            "connectionString": "Sanitized",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEJFQTY1MTNELTg2OTUtNDgyNi04QzYzLUZCMkM5MzQ5OTk1Ml84YjQxMzI1Mi02MWUwLTRkODMtOGVlNy1lZTI3YWM2NDRmNmMiDQp9"
          }
        },
        "etag": "9f046bbf-0000-0800-0000-655f23960000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-db2-3759/providers/Microsoft.DataFactory/factories/adf-db2-9233/pipelines/adf-pipeline-db2-8529?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "inputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "adf-dataset-db2-1621"
                }
              ],
              "outputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "adf-dataset-db2-4421"
                }
              ],
              "policy": {
                "timeout": "01:00:00",
                "retry": 2
              },
              "name": "adf-pipeline-task-868",
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "query": "select * from faketable",
                  "type": "Db2Source"
                },
                "sink": {
                  "preCopyScript": "fake script",
                  "type": "AzureMySqlSink"
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "890"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-db2-3759/providers/Microsoft.DataFactory/factories/adf-db2-9233/pip[...]
