{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11955"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS10318670": "20220720"
        },
        "subscriptionId": "da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ADMS_Test_Engineering_RichTransform",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourcegroups/adf-rg-azuremlbatchexecution-8526?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1038"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-azuremlbatchexecution-8526",
        "name": "adf-rg-azuremlbatchexecution-8526",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-azuremlbatchexecution-8526/providers/Microsoft.DataFactory/factories/adf-azuremlbatchexecution-3326?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1037"
      },
      "ResponseBody": {
        "name": "adf-azuremlbatchexecution-3326",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-azuremlbatchexecution-8526/providers/Microsoft.DataFactory/factories/adf-azuremlbatchexecution-3326",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-23T10:01:50.3201977Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00229e04c669-0000-0800-0000-655f230e0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-azuremlbatchexecution-8526/providers/Microsoft.DataFactory/factories/adf-azuremlbatchexecution-3326/linkedservices/adf_linkedservice_azuremlbatchexecution_7471?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureMLService",
          "typeProperties": {
            "subscriptionId": "12345678-1234-1234-1234-123456789012",
            "resourceGroupName": "groupname",
            "mlWorkspaceName": "workspacename"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1036"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-azuremlbatchexecution-8526/providers/Microsoft.DataFactory/factories/adf-azuremlbatchexecution-3326/linkedservices/adf_linkedservice_azuremlbatchexecution_7471",
        "name": "adf_linkedservice_azuremlbatchexecution_7471",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureMLService",
          "typeProperties": {
            "subscriptionId": "12345678-1234-1234-1234-123456789012",
            "resourceGroupName": "groupname",
            "mlWorkspaceName": "workspacename"
          }
        },
        "etag": "c304bc25-0000-0800-0000-655f230f0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-azuremlbatchexecution-8526/providers/Microsoft.DataFactory/factories/adf-azuremlbatchexecution-3326/linkedservices/adf_linkedservice_azuremlbatchexecution_4128?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1035"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-azuremlbatchexecution-8526/providers/Microsoft.DataFactory/factories/adf-azuremlbatchexecution-3326/linkedservices/adf_linkedservice_azuremlbatchexecution_4128",
        "name": "adf_linkedservice_azuremlbatchexecution_4128",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDRBN0FCQzJDLTQxNzQtNDgyRC04RkU2LTFDNjFFMzZGNjFGN19hNzlhMzczNy0yOTk2LTQzMWEtODZmNC1jOTRkZTI3YzYyN2MiDQp9"
          }
        },
        "etag": "c304cf25-0000-0800-0000-655f230f0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-azuremlbatchexecution-8526/providers/Microsoft.DataFactory/factories/adf-azuremlbatchexecution-3326/datasets/adf-dataset-azuremlbatchexecution-816?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlob",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_azuremlbatchexecution_4128"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1034"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-azuremlbatchexecution-8526/providers/Microsoft.DataFactory/factories/adf-azuremlbatchexecution-3326/datasets/adf-dataset-azuremlbatchexecution-816",
        "name": "adf-dataset-azuremlbatchexecution-816",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "AzureBlob",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_azuremlbatchexecution_4128"
          },
          "typeProperties": {}
        },
        "etag": "c304ea25-0000-0800-0000-655f23100000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-azuremlbatchexecution-8526/providers/Microsoft.DataFactory/factories/adf-azuremlbatchexecution-3326/pipelines/adf-pipeline-azuremlbatchexecution-6708?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "linkedServiceName": {
                "type": "LinkedServiceReference",
                "referenceName": "adf_linkedservice_azuremlbatchexecution_7471"
              },
              "name": "adf-pipeline-task-8266",
              "type": "AzureMLBatchExecution",
              "typeProperties": {
                "webServiceOutputs": {
                  "output1": {
                    "filePath": "azuremltesting/categorized/##folderPath##/result.csv",
                    "linkedServiceName": {
                      "type": "LinkedServiceReference",
                      "referenceName": "adf_linkedservice_azuremlbatchexecution_4128"
                    }
                  }
                },
                "webServiceInputs": {
                  "input1": {
                    "filePath": "azuremltesting/IrisInput/Two Class Data.1.arff",
                    "linkedServiceName": {
                      "type": "LinkedServiceReference",
                      "referenceName": "adf_linkedservice_azuremlbatchexecution_4128"
                    }
                  }
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"[...]
