{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/key3534672839/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/key3534672839/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "crv": "P-256K",
        "key_ops": [
          "sign",
          "verify"
        ],
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://Sanitized.vault.azure.net/keys/key3534672839/1aff7427b8fa4cf8a3cc1b5810e033dc",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "4OyE4OW978Lxtj3F4yEPnkaJezyfvOS8T60oRxpeqeU",
          "y": "CFng1nzOeinmtsZkg3UfgL_hBK-B5J-BSSk3ZekkpYk"
        },
        "attributes": {
          "enabled": true,
          "created": 1718140292,
          "updated": 1718140292,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/key3534672839/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "ltYuKr0-Qt5fUDMPuO_ExVmYNSeAd7IemqCzPB3wehw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://gracewilcox.vault.azure.net/keys/key3534672839/1aff7427b8fa4cf8a3cc1b5810e033dc",
        "value": "SrBc5JDgFWpp5_4l0vtkWa7-3iBqOQMMyooBLYK5H5ldXW2r7AuYrISwSUxl96M-vvk43r2GacLaGIeSRvVq9w"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/key3534672839/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "digest": "ltYuKr0-Qt5fUDMPuO_ExVmYNSeAd7IemqCzPB3wehw",
        "value": "SrBc5JDgFWpp5_4l0vtkWa7-3iBqOQMMyooBLYK5H5ldXW2r7AuYrISwSUxl96M-vvk43r2GacLaGIeSRvVq9w"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {}
}
