{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/key3534672839/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/key3534672839/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "crv": "P-256K",
        "key_ops": [
          "sign",
          "verify"
        ],
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://test.vault.azure.net/keys/key3534672839/5bec7f071a484a31b866d4bf54b741be",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "aUnJPFBzKrzFL3E7voxXbQC-HjxXm5cPSC2v1QoeHHI",
          "y": "W5kc63pcEemGd1kuTK1gczV_Zcsa5z9aPF6xL__mHMU"
        },
        "attributes": {
          "enabled": true,
          "created": 1716930633,
          "updated": 1716930633,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/key3534672839/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "ltYuKr0-Qt5fUDMPuO_ExVmYNSeAd7IemqCzPB3wehw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://test.vault.azure.net/keys/key3534672839/5bec7f071a484a31b866d4bf54b741be",
        "value": "hc7XAu8oKF7f01iTVxtaeSHPdIW4CWpUTSH9XE9X51oWgUQrehOpcjdRNyJPsFA5pwx3q2PA2pdFEjo-nYAS1A"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/key3534672839/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "digest": "ltYuKr0-Qt5fUDMPuO_ExVmYNSeAd7IemqCzPB3wehw",
        "value": "hc7XAu8oKF7f01iTVxtaeSHPdIW4CWpUTSH9XE9X51oWgUQrehOpcjdRNyJPsFA5pwx3q2PA2pdFEjo-nYAS1A"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {}
}
