{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/key474808603/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/key474808603/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "crv": "P-256K",
        "key_ops": [
          "sign",
          "verify"
        ],
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "143"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1758150279,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1758150279
        },
        "key": {
          "crv": "P-256K",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://Sanitized.managedhsm.azure.net/keys/key474808603/608237d22e8d01b9ba5c04869bc73270",
          "kty": "EC-HSM",
          "x": "ult6uL-TQVlLgB2yZYe5YOWg-988TB2M3cczzGXQaLM",
          "y": "8lmMovBTvnLNsZD2USvnslthTvrSmF-m6F5_is-Ut_c"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/key474808603/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "ltYuKr0-Qt5fUDMPuO_ExVmYNSeAd7IemqCzPB3wehw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "10"
      },
      "ResponseBody": {
        "alg": "ES256K",
        "kid": "https://gracewilcox8hsm.managedhsm.azure.net/keys/key474808603/608237d22e8d01b9ba5c04869bc73270",
        "value": "g46nuMD7FVtXV83OVjeJbOzJIhCZdqxtGPs7OCb9GCqPSAvVimxejBZ2Pt25ewB4osUxf0RBrs_wpHha3O9o0A"
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/key474808603/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "digest": "ltYuKr0-Qt5fUDMPuO_ExVmYNSeAd7IemqCzPB3wehw",
        "value": "g46nuMD7FVtXV83OVjeJbOzJIhCZdqxtGPs7OCb9GCqPSAvVimxejBZ2Pt25ewB4osUxf0RBrs_wpHha3O9o0A"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "12"
      },
      "ResponseBody": {
        "alg": "ES256K",
        "kid": "https://gracewilcox8hsm.managedhsm.azure.net/keys/key474808603/608237d22e8d01b9ba5c04869bc73270",
        "value": true
      }
    }
  ],
  "Variables": {}
}
