{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/key474808603/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/key474808603/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "crv": "P-256K",
        "key_ops": [
          "sign",
          "verify"
        ],
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "173"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1748987477,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1748987477
        },
        "key": {
          "crv": "P-256K",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://Sanitized.managedhsm.azure.net/keys/key474808603/5bc53f9ad14c4de894ade7369f463b6f",
          "kty": "EC-HSM",
          "x": "Aj_WmFV8YGh_KUSwGo0ApY0fOu4PKtwatBBhVZUu-wU",
          "y": "qK0-vtXUeU_O9EPgpVdyOnmQgHLZOEXhhLV8WCwcvKo"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/key474808603/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "ltYuKr0-Qt5fUDMPuO_ExVmYNSeAd7IemqCzPB3wehw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "10"
      },
      "ResponseBody": {
        "alg": "ES256K",
        "kid": "https://gracewilcox30hsm.managedhsm.azure.net/keys/key474808603/5bc53f9ad14c4de894ade7369f463b6f",
        "value": "hfBPq-wDR_UpgI3L3jpg6oMn1YaL6z9HrQBgFqUaaTd0fagVzMSPQgslz2KNGgxzDo7y9sXgV0pOr0HYvzjtHA"
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/key474808603/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "digest": "ltYuKr0-Qt5fUDMPuO_ExVmYNSeAd7IemqCzPB3wehw",
        "value": "hfBPq-wDR_UpgI3L3jpg6oMn1YaL6z9HrQBgFqUaaTd0fagVzMSPQgslz2KNGgxzDo7y9sXgV0pOr0HYvzjtHA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "12"
      },
      "ResponseBody": {
        "alg": "ES256K",
        "kid": "https://gracewilcox30hsm.managedhsm.azure.net/keys/key474808603/5bc53f9ad14c4de894ade7369f463b6f",
        "value": true
      }
    }
  ],
  "Variables": {}
}
