{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/key474808603/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/key474808603/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "crv": "P-256K",
        "key_ops": [
          "sign",
          "verify"
        ],
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "183"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781021494,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781021494
        },
        "key": {
          "crv": "P-256K",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://Sanitized.managedhsm.azure.net/keys/key474808603/e77d99cf57884c362b70a3d931fc506a",
          "kty": "EC-HSM",
          "x": "FeOVBGUR_DM0vgoma7NCmmEMYZudZhpgRijzgfkhzIg",
          "y": "Nf7lnlV0yR1pzPJ-rN7daLAUUtNkvYcLQ318Oupv_88"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/key474808603/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "ltYuKr0-Qt5fUDMPuO_ExVmYNSeAd7IemqCzPB3wehw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "11"
      },
      "ResponseBody": {
        "alg": "ES256K",
        "kid": "https://t4320ce7a30021c90hsm.managedhsm.azure.net/keys/key474808603/e77d99cf57884c362b70a3d931fc506a",
        "value": "qD6A7VwM4XDn1UCKF2ZRd10b91yIwbUPoUEbmtNJdjS7wUyGP7DM1ZbUcSDkDs8NwXchV8dSpW8A-EiwazElpw"
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/key474808603/verify?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "digest": "ltYuKr0-Qt5fUDMPuO_ExVmYNSeAd7IemqCzPB3wehw",
        "value": "qD6A7VwM4XDn1UCKF2ZRd10b91yIwbUPoUEbmtNJdjS7wUyGP7DM1ZbUcSDkDs8NwXchV8dSpW8A-EiwazElpw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "12"
      },
      "ResponseBody": {
        "alg": "ES256K",
        "kid": "https://t4320ce7a30021c90hsm.managedhsm.azure.net/keys/key474808603/e77d99cf57884c362b70a3d931fc506a",
        "value": true
      }
    }
  ],
  "Variables": {}
}
