{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/key474808603/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/key474808603/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "crv": "P-256K",
        "key_ops": [
          "sign",
          "verify"
        ],
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "144"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1717541658,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1717541658
        },
        "key": {
          "crv": "P-256K",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://test.managedhsm.azure.net/keys/key474808603/cd3e5b218e48466c1d464c68e8ac5819",
          "kty": "EC-HSM",
          "x": "wJSy9cIXi1Iwxanr9EEm2qlkCvpA0Nd4uQzhYeYmXO8",
          "y": "pK5k6sa-T0TnY6RhW8n_wMkdE8G2-jYTZmqRz50f2Uw"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/key474808603/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "ltYuKr0-Qt5fUDMPuO_ExVmYNSeAd7IemqCzPB3wehw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "12"
      },
      "ResponseBody": {
        "alg": "ES256K",
        "kid": "https://test.managedhsm.azure.net/keys/key474808603/cd3e5b218e48466c1d464c68e8ac5819",
        "value": "baQZ-LfF94ehYR46uzoUVd55XrTTZXolWSUNgBjbaO4qibw11My_RAA7ldr-fxXnpKJ_PVhrJN8hNF4d_A3hYQ"
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/key474808603/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "digest": "ltYuKr0-Qt5fUDMPuO_ExVmYNSeAd7IemqCzPB3wehw",
        "value": "baQZ-LfF94ehYR46uzoUVd55XrTTZXolWSUNgBjbaO4qibw11My_RAA7ldr-fxXnpKJ_PVhrJN8hNF4d_A3hYQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "15"
      },
      "ResponseBody": {
        "alg": "ES256K",
        "kid": "https://test.managedhsm.azure.net/keys/key474808603/cd3e5b218e48466c1d464c68e8ac5819",
        "value": true
      }
    }
  ],
  "Variables": {}
}
