{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.unitedstates.communication.azure.com/sms?api-version=2024-02-05-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 21 Mar 2024 10:55:14 GMT"
      },
      "RequestBody": {
        "from": "Sanitized",
        "smsRecipients": [
          {
            "to": "Sanitized",
            "repeatabilityRequestId": "Sanitized",
            "repeatabilityFirstSent": "Sanitized"
          }
        ],
        "message": "Hi"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview, 2024-02-05-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "H1v5hlwQ5keaMlB4/6EtpA.0",
        "X-Processing-Time": "156ms"
      },
      "ResponseBody": {
        "value": [
          {
            "to": "Sanitized",
            "messageId": "Outgoing_202403211055139ce7ad74-e88f-4919-81d3-3e7cf865a5c3_noam",
            "httpStatusCode": 202,
            "repeatabilityResult": "accepted",
            "successful": true
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_PHONE_NUMBER": "\u002B18335521761",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1325148600"
  }
}
