{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections?api-version=2024-07-01-preview&category=AzureOpenAI&includeAll=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249",
        "x-ms-response-type": "standard",
        "x-request-time": "0.135"
      },
      "ResponseBody": {
        "value": [
          {
            "tags": null,
            "location": null,
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/entraid-auth-aoai-connection-name",
            "name": "entraid-auth-aoai-connection-name",
            "type": "Microsoft.MachineLearningServices/workspaces/00000",
            "properties": {
              "authType": "AAD",
              "group": "AzureAI",
              "category": "AzureOpenAI",
              "expiryTime": null,
              "target": "https://ai-projects-sdk-testing-ai-services-manual.openai.azure.com/",
              "createdByWorkspaceArmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
              "useWorkspaceManagedIdentity": false,
              "isSharedToAll": false,
              "sharedUserList": [],
              "peRequirement": "NotRequired",
              "peStatus": "NotApplicable",
              "error": null,
              "metadata": {
                "ApiType": "Azure",
                "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/ai-projects-sdk-testing-ai-services-manual",
                "Location": "eastus2",
                "ApiVersion": "2023-07-01-preview",
                "DeploymentApiVersion": "2023-10-01-preview"
              }
            },
            "systemData": {
              "createdAt": "2025-01-07T00:05:27.5821405Z",
              "createdBy": "Sanitized",
              "createdByType": "User",
              "lastModifiedAt": "2025-01-07T00:05:27.5821405Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User"
            }
          },
          {
            "tags": null,
            "location": null,
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/ai-chpeddireddy8836ai367223148890_aoai",
            "name": "ai-chpeddireddy8836ai367223148890_aoai",
            "type": "Microsoft.MachineLearningServices/workspaces/00000",
            "properties": {
              "authType": "ApiKey",
              "credentials": null,
              "group": "AzureAI",
              "category": "AzureOpenAI",
              "expiryTime": null,
              "target": "https://ai-chpeddireddy8836ai367223148890.openai.azure.com/",
              "createdByWorkspaceArmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
              "useWorkspaceManagedIdentity": true,
              "isSharedToAll": true,
              "sharedUserList": [],
              "peRequirement": "NotRequired",
              "peStatus": "NotApplicable",
              "error": null,
              "metadata": {
                "ApiType": "Azure",
                "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/ai-chpeddireddy8836ai367223148890",
                "Location": "eastus",
                "ApiVersion": "2023-07-01-preview",
                "DeploymentApiVersion": "2023-10-01-preview"
              }
            },
            "systemData": {
              "createdAt": "2025-01-07T00:01:56.2725043Z",
              "createdBy": "Sanitized",
              "createdByType": "User",
              "lastModifiedAt": "2025-01-07T00:01:56.2725043Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/entraid-auth-aoai-connection-name/listsecrets?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "ignored": "ignore"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199",
        "x-ms-response-type": "standard",
        "x-request-time": "0.039"
      },
      "ResponseBody": {
        "tags": null,
        "location": null,
        "id": "/subscriptions/000[...]
