{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9fc2ef69-ce2f-1a21-b9e7-377fc6511d20?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:33:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E04B124BA\"",
        "Last-Modified": "Wed, 01 May 2024 20:33:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9fc2ef69-ce2f-1a21-b9e7-377fc6511d20/test-blob-13e8a592-14d8-bfe8-9d10-f7f4fcc4abfe",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 01 May 2024 20:33:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "UfYW4+zz7uYlT8TxGjzH8eviysnSgmdT+qaMIqiY5IdHkcT0oGsCnrcC7ohQ96RgSAUIGvniK86PwulGZ8s9jGs8qoh301GA3ysR0JTfAwIBK9mjj8mNZGb1ZN2BvDbsxWEdE00b6XWziDvN0Fo5sL/mRDzxmf2irkUigW50/iP1JQszwe+15UJk8AeOwJQLvLQemnj6+itke2QI+WcHP4kY2KtPBu7PMV76jaj1E+6wFsW5VWOr+yrfz0aKrOzaXLF+dufou7bGTmkZ/2yDbmd2V+OhTuklbN2AcDanRIVyHzH3d50Hx1oP8gb6kfu9XGHfFFUIOQ7IWAkJZ0t/Hwrjp+A7i/fKbo+IklviKtvi[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9fc2ef69-ce2f-1a21-b9e7-377fc6511d20/test-blob-13e8a592-14d8-bfe8-9d10-f7f4fcc4abfe?sv=2024-08-04&se=2024-05-02T20%3A33%3A53Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A1E04C0D2C0\"",
        "Last-Modified": "Wed, 01 May 2024 20:33:54 GMT",
        "x-ms-blob-content-md5": "IZVTvBLK04sKxpLfXR+t+Q==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:33:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 20:33:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:33:54.1076672Z"
      },
      "ResponseBody": "UfYW4+zz7uYlT8TxGjzH8eviysnSgmdT+qaMIqiY5IdHkcT0oGsCnrcC7ohQ96RgSAUIGvniK86PwulGZ8s9jGs8qoh301GA3ysR0JTfAwIBK9mjj8mNZGb1ZN2BvDbsxWEdE00b6XWziDvN0Fo5sL/mRDzxmf2irkUigW50/iP1JQszwe+15UJk8AeOwJQLvLQemnj6+itke2QI+WcHP4kY2KtPBu7PMV76jaj1E+6wFsW5VWOr+yrfz0aKrOzaXLF+dufou7bGTmkZ/2yDbmd2V+OhTuklbN2AcDanRIVyHzH3d50Hx1oP8gb6kfu9XGHfFFUIOQ7IWAkJZ0t/Hwrjp+A7i/fKbo+IklviKtviwxTVyDAwaeYiLx6T/WAPkNP8FuobgtBpFKXFgKez5S0uJ6Q3qlbasz36GFzYNnEveQGH5RTwx0FDa7OKaug+b0nwZdW72OZ9ImOsIGl0kN00lgelLP8ZPWBj8z6iT0lUu6kT6NGcdKEbCcOwRKbXz9vVVtThmUNJ1yh0V+Sn2tIZV2W/YKgMmCFmiSI8aPi6iyRizPl0cyFmyhCoJxy8cy/wluxAGG4yyb2yexAhDG4vusy/RQ7ZpeRDWJaXY3AFqRXzS9EMeXO2MAM7wvgRRb2ieWxQ/S4gF/EI/L/XmmVNrNH6LcCcI0BYCRQKneI="
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9fc2ef69-ce2f-1a21-b9e7-377fc6511d20/test-blob-13e8a592-14d8-bfe8-9d10-f7f4fcc4abfe?sv=2024-08-04&se=2024-05-02T20%3A33%3A53Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC6A1E04C0D2C0\"",
        "x-ms-range": "bytes=512-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A1E04C0D2C0\"",
        "Last-Modified": "Wed, 01 May 2024 20:33:54 GMT",
        "x-ms-blob-content-md5": "IZVTvBLK04sKxpLfXR+t+Q==",
        "x-ms-blob-type": "BlockBlob",
        "x[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9fc2ef69-ce2f-1a21-b9e7-377fc6511d20/test-blob-13e8a592-14d8-bfe8-9d10-f7f4fcc4abfe?sv=2024-08-04&se=2024-05-02T20%3A33%3A53Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "IZVTvBLK04sKxpLfXR+t+Q==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A1E04C0D2C0\"",
        "Last-Modified": "Wed, 01 May 2024 20:33:54 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:33:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 20:33:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:33:54.1076672Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9fc2ef69-ce2f-1a21-b9e7-377fc6511d20?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:33:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:33:53.9124758-07:00",
    "RandomSeed": "1054698366",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
