{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6b07249c-f79a-3d3f-09fd-3bc17bffa9a0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:56:39 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB12ABD88BD\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:56:41 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6b07249c-f79a-3d3f-09fd-3bc17bffa9a0/test-blob-43213862-1c82-b66e-1798-42976ce978f9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:56:39 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "7RHFZPDwzpR2fIYlyfRt3uYJ8ozuzKbfqFiiOewHp8z9IivvhLiQcmmNzAaVSewjKmOxY/bsCiFq5ruYTpWnbtS6J6fJfloteYAiYf\u002BgSl9rfw\u002BJVUTVERcKhJ789yTT5l4y2yJFWqsIhOl2yakhyptcLM\u002BGHRiP5BaPv/m8MIFcTnqhbW89JSVjgdFbX0du6LoCoMpVTchFo/YLtpqyTFNoGnsugFwsHwaqI5xHNITOIdY/upC2BgGyW8p4MW\u002BKsTV980XMP2hd1YDDqyos/m5xPJTEcpHDsRN5fCSStO6XH3FnyUE/AuJt4uQQ8lvWhlxbBvTbxT6jukEyUsJDyiGS[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6b07249c-f79a-3d3f-09fd-3bc17bffa9a0/test-blob-43213862-1c82-b66e-1798-42976ce978f9?sv=2024-05-04\u0026se=2024-03-28T22%3A56%3A40Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB12ACF68C4\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:56:41 GMT",
        "x-ms-blob-content-md5": "MLU0t4dTzdMWfY9oPnoNIw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:56:41 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:56:41.4181572Z"
      },
      "ResponseBody": "7RHFZPDwzpR2fIYlyfRt3uYJ8ozuzKbfqFiiOewHp8z9IivvhLiQcmmNzAaVSewjKmOxY/bsCiFq5ruYTpWnbtS6J6fJfloteYAiYf\u002BgSl9rfw\u002BJVUTVERcKhJ789yTT5l4y2yJFWqsIhOl2yakhyptcLM\u002BGHRiP5BaPv/m8MIFcTnqhbW89JSVjgdFbX0du6LoCoMpVTchFo/YLtpqyTFNoGnsugFwsHwaqI5xHNITOIdY/upC2BgGyW8p4MW\u002BKsTV980XMP2hd1YDDqyos/m5xPJTEcpHDsRN5fCSStO6XH3FnyUE/AuJt4uQQ8lvWhlxbBvTbxT6jukEyUsJDyiGSLIu4xDUtMjqyVpCssr63o/bHNq36u1ozxA7/DbAfKhfDfsXQHsEnLtS6KG\u002Bu9geDeq7[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6b07249c-f79a-3d3f-09fd-3bc17bffa9a0/test-blob-43213862-1c82-b66e-1798-42976ce978f9?sv=2024-05-04\u0026se=2024-03-28T22%3A56%3A40Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "MLU0t4dTzdMWfY9oPnoNIw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB12ACF68C4\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:56:41 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:56:41 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:56:41.4181572Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6b07249c-f79a-3d3f-09fd-3bc17bffa9a0/test-blob-43213862-1c82-b66e-1798-42976ce978f9?sv=2024-05-04\u0026se=2024-03-28T22%3A56%3A40Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB12ACF68C4\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB12ACF68C4\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:56:41 GMT",
        "x-ms-blob-content-md5": "MLU0t4dTzdMWfY9oPnoNIw==",
        "x-ms-blob-type": "BlockBl[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6b07249c-f79a-3d3f-09fd-3bc17bffa9a0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:56:40 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:56:40.0423887-07:00",
    "RandomSeed": "1467669194",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
