{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-11ec7f3b-6bc4-4231-ae3b-68f20bf5c2b2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:55:58 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB111E9DE61\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:55:59 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-11ec7f3b-6bc4-4231-ae3b-68f20bf5c2b2/test-blob-1b6b6370-a08e-01df-3ae1-bae56270ad79",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:55:58 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "cSIF4bhScmU/aGgNFO0NduYKTzLKrrdMSjs0X8XTVCLDrOXb2xdFHvAF2yU40exN1ET/VyF7rsJruJd9HhOfbBRGSWgHMZrOxDFBxdKRFHhP54qB0/wBSP0jcCKAyADdZW8R8YeDRaOpMZLvOenw2aQeLjeIHZgXRAFr5MF4TvwxY19jgCLxy6Hn2KJpEQ4UM5d\u002BYZrJVUjW\u002Ba2FGGHhMeKWvtaKjFiBLGOVoUX2rTPyV7Ep\u002BexiaA4XjYZ1a7JABaa/01I4iaY\u002B/DU3M7MC30x5k8GvuDf2M1bHcv/SDMGwVJueNtrgus0K6vy2KzRaFK06\u002B9jwkE1uyZ/8cRe[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-11ec7f3b-6bc4-4231-ae3b-68f20bf5c2b2/test-blob-1b6b6370-a08e-01df-3ae1-bae56270ad79?sv=2024-05-04\u0026se=2024-03-28T22%3A55%3A58Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB111FB470A\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:55:59 GMT",
        "x-ms-blob-content-md5": "VgOxpbRUlc7/Vf41Hk\u002B3Ig==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:55:59 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:55:59.7626122Z"
      },
      "ResponseBody": "cSIF4bhScmU/aGgNFO0NduYKTzLKrrdMSjs0X8XTVCLDrOXb2xdFHvAF2yU40exN1ET/VyF7rsJruJd9HhOfbBRGSWgHMZrOxDFBxdKRFHhP54qB0/wBSP0jcCKAyADdZW8R8YeDRaOpMZLvOenw2aQeLjeIHZgXRAFr5MF4TvwxY19jgCLxy6Hn2KJpEQ4UM5d\u002BYZrJVUjW\u002Ba2FGGHhMeKWvtaKjFiBLGOVoUX2rTPyV7Ep\u002BexiaA4XjYZ1a7JABaa/01I4iaY\u002B/DU3M7MC30x5k8GvuDf2M1bHcv/SDMGwVJueNtrgus0K6vy2KzRaFK06\u002B9jwkE1uyZ/8cRenbPBzht4XY6lxmNn0pM07PwghbF1RlxDpwMROL2065Ei1Y34MQ6RVQrEEyGL\u002B\u002B[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-11ec7f3b-6bc4-4231-ae3b-68f20bf5c2b2/test-blob-1b6b6370-a08e-01df-3ae1-bae56270ad79?sv=2024-05-04\u0026se=2024-03-28T22%3A55%3A58Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "VgOxpbRUlc7/Vf41Hk\u002B3Ig==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB111FB470A\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:55:59 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:55:59 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:55:59.7626122Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-11ec7f3b-6bc4-4231-ae3b-68f20bf5c2b2/test-blob-1b6b6370-a08e-01df-3ae1-bae56270ad79?sv=2024-05-04\u0026se=2024-03-28T22%3A55%3A58Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB111FB470A\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB111FB470A\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:55:59 GMT",
        "x-ms-blob-content-md5": "VgOxpbRUlc7/Vf41Hk\u002B3Ig==",
        "x-ms-blob-type": "Bl[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-11ec7f3b-6bc4-4231-ae3b-68f20bf5c2b2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:55:58 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:55:58.4170761-07:00",
    "RandomSeed": "643063246",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
