{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ecda3cca-4131-dab7-e0c4-1f99e56b7e39?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:36:52 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006116C7580B\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:36:52 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ecda3cca-4131-dab7-e0c4-1f99e56b7e39/test-blob-c67e16e0-1ae7-ff0c-62ce-0e826d522e18",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:36:52 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "ToeVF388efLVh4Z/o2H16Dn1hJVKr7Dqwezf8QqCeP6FDyqPYF1eo52M8GCUjFwB2SZJeM2Yzp7Wq1aTXIfnUg6H+pM2ZYfbluD4vb5QVTSP3hjkOQAw7EGMuLUHykcWpJ5SDJLIy3OfbeHtoBDfhVUhA35uAhkOVg5RqazR1MyZ4Rkg/kiixhOkRcwfQ0sxrDJg5sbIp6GFQ7aDdyHHzpkUVL72v4cMfzxqyr1N7hPCH/15cO0F0Dp3m7qSHk/y3XcyCu6MOu2rU2eKXt3kOFWiwFcjTV2rD4OEfiPNemDteOxGGuQkNuQQzhyGe3Jck2Nl8F74zpAZh/prB7zJ3dkGnOXwnR1wfYpyE35AJJQR[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ecda3cca-4131-dab7-e0c4-1f99e56b7e39/test-blob-c67e16e0-1ae7-ff0c-62ce-0e826d522e18?sv=Sanitized&se=2025-10-01T20%3A36%3A52Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-99",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-99/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE006116D0FEED\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:36:52 GMT",
        "x-ms-blob-content-md5": "yXmlVK2tvp6gbnpjAeByQw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:36:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "ToeVF388efLVh4Z/o2H16Dn1hJVKr7Dqwezf8QqCeP6FDyqPYF1eo52M8GCUjFwB2SZJeM2Yzp7Wq1aTXIfnUg6H+pM2ZYfbluD4vb5QVTSP3hjkOQAw7EGMuLUHykcWpJ5SDA=="
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ecda3cca-4131-dab7-e0c4-1f99e56b7e39/test-blob-c67e16e0-1ae7-ff0c-62ce-0e826d522e18?sv=Sanitized&se=2025-10-01T20%3A36%3A52Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE006116D0FEED\"",
        "x-ms-range": "bytes=100-299",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 100-299/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE006116D0FEED\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:36:52 GMT",
        "x-ms-blob-content-md5": "yXmlVK2tvp6gbnpjAeByQw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:36:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "ksjLc59t4e2gEN+FVSEDfm4CGQ5WDlGprNHUzJnhGSD+SKLGE6RFzB9DSzGsMmDmxsinoYVDtoN3IcfOmRRUvva/hwx/PGrKvU3uE8If/Xlw7QXQOnebupIeT/LddzIK7ow67atTZ4pe3eQ4VaLAVyNNXasPg4R+I816YO147EYa5CQ25BDOHIZ7clyTY2XwXvjOkBmH+msHvMnd2Qac5fCdHXB9inITfkAklBEo68BoigL1qVwsk+m5LihG8EOA3oxs9UX0ctM="
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ecda3cca-4131-dab7-e0c4-1f99e56b7e39/test-blob-c67e16e0-1ae7-ff0c-62ce-0e826d522e18?sv=Sanitized&se=2025-10-01T20%3A36%3A52Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "yXmlVK2tvp6gbnpjAeByQw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE006116D0FEED\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:36:52 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:36:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ecda3cca-4131-dab7-e0c4-1f99e56b7e39?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:36:53 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:36:52.8996202-07:00",
    "RandomSeed": "790213190",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
