{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4299dd54-f25a-5a6e-c486-24bf98b46888?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:34:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E0F77A540\"",
        "Last-Modified": "Wed, 01 May 2024 20:34:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4299dd54-f25a-5a6e-c486-24bf98b46888/test-blob-b76cb3fc-d89f-7cf2-5c00-25cb39332884",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 01 May 2024 20:34:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "xgV1GCzO7hJgrXOPaSZluQIePn/UCH9xjQs9mCm0Ut7v6pMt7XNtLcRaVvFkYxI2m2zIG/SpsL6GBIshkVboq1qVn3+TOMuPsRG6ebGNDSn4B/287DfpRjrUpunnS5xucaqXzsOSomOhOGni7jYN+fdhKIpYLL8iq1lFv5HiqGV1SwgH9T5mZWSaGrPOB1cExq3xhSMRFkTqdCJpTePRv5AEbaMtBQO4+8IlvREMVKQBQfjj8CJBYzXEHIEb/BiByFsiyZm01sGqOYpg7Fgy3iB+aAzr7s9uwgptaemCnf6qpPW26YsLTGo3ObeY4HfdkT1hnZQLltqMtAaPR23XKJuLtkdjfPWUchuhs7UY1eKS[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4299dd54-f25a-5a6e-c486-24bf98b46888/test-blob-b76cb3fc-d89f-7cf2-5c00-25cb39332884?sv=2024-08-04&se=2024-05-02T20%3A34%3A11Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-99",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-99/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A1E0F86567D\"",
        "Last-Modified": "Wed, 01 May 2024 20:34:12 GMT",
        "x-ms-blob-content-md5": "fa6/dFccpgw8RkpaJLnLOQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:34:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 20:34:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:34:12.1793149Z"
      },
      "ResponseBody": "xgV1GCzO7hJgrXOPaSZluQIePn/UCH9xjQs9mCm0Ut7v6pMt7XNtLcRaVvFkYxI2m2zIG/SpsL6GBIshkVboq1qVn3+TOMuPsRG6ebGNDSn4B/287DfpRjrUpunnS5xucaqXzg=="
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4299dd54-f25a-5a6e-c486-24bf98b46888/test-blob-b76cb3fc-d89f-7cf2-5c00-25cb39332884?sv=2024-08-04&se=2024-05-02T20%3A34%3A11Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC6A1E0F86567D\"",
        "x-ms-range": "bytes=100-299",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 100-299/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A1E0F86567D\"",
        "Last-Modified": "Wed, 01 May 2024 20:34:12 GMT",
        "x-ms-blob-content-md5": "fa6/dFccpgw8RkpaJLnLOQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:34:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 20:34:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:34:12.1793149Z"
      },
      "ResponseBody": "w5KiY6E4aeLuNg3592EoilgsvyKrWUW/keKoZXVLCAf1PmZlZJoas84HVwTGrfGFIxEWROp0ImlN49G/kARtoy0FA7j7wiW9EQxUpAFB+OPwIkFjNcQcgRv8GIHIWyLJmbTWwao5imDsWDLeIH5oDOvuz27CCm1p6YKd/qqk9bbpiwtMajc5t5jgd92RPWGdlAuW2oy0Bo9Hbdcom4u2R2N89ZRyG6GztRjV4pKQ16sg/2qeDhoqNIR7BfxfEBsMKjB5FUjMKng="
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4299dd54-f25a-5a6e-c486-24bf98b46888/test-blob-b76cb3fc-d89f-7cf2-5c00-25cb39332884?sv=2024-08-04&se=2024-05-02T20%3A34%3A11Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "fa6/dFccpgw8RkpaJLnLOQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A1E0F86567D\"",
        "Last-Modified": "Wed, 01 May 2024 20:34:12 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:34:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 20:34:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:34:12.1793149Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4299dd54-f25a-5a6e-c486-24bf98b46888?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:34:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:34:11.9833353-07:00",
    "RandomSeed": "529533097",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
