{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-843bfc4b-354e-293c-837e-713ec670d2f3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:56:50 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB13168911C\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:56:52 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-843bfc4b-354e-293c-837e-713ec670d2f3/test-blob-6fa89efe-304d-252b-a876-8da6f5202441",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:56:51 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "jB564rvJIze43i9JWv1MRR92yxbDQ0sYbhoaRP8URB/auB2RbwjomUuwokM\u002Bmab7JPJoLVafgUnSYnOgr984o5kPb6LfutYWjjHKE6AH2tVzHh8MqxfIOzbUvgyUR\u002Bpsd/6qLikDG2ocUZ4k1G6py4ieLZC/K/eBRjNsC/vJgUZHXpuhXKurbwK18Fp4pGbIK/OE9hpZrEwGKej1lxBuUtBX3HXTB27c8r2NCjqdCKLMpOAHRIss7rJOmjPDtdfyRp2JIcfw9SOEqANcy6ESaSBFKPMwZg5EK\u002B7DhG06GT3mm8OcE\u002Bfb26\u002B8gpyH0CMQPDETfYzkwd\u002BPRf[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-843bfc4b-354e-293c-837e-713ec670d2f3/test-blob-6fa89efe-304d-252b-a876-8da6f5202441?sv=2024-05-04\u0026se=2024-03-28T22%3A56%3A51Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB131A38A36\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:56:52 GMT",
        "x-ms-blob-content-md5": "WWCU8c457ErgHkfVfE4R9Q==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:56:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:56:52.8747062Z"
      },
      "ResponseBody": "jB564rvJIze43i9JWv1MRR92yxbDQ0sYbhoaRP8URB/auB2RbwjomUuwokM\u002Bmab7JPJoLVafgUnSYnOgr984o5kPb6LfutYWjjHKE6AH2tVzHh8MqxfIOzbUvgyUR\u002Bpsd/6qLikDG2ocUZ4k1G6py4ieLZC/K/eBRjNsC/vJgUZHXpuhXKurbwK18Fp4pGbIK/OE9hpZrEwGKej1lxBuUtBX3HXTB27c8r2NCjqdCKLMpOAHRIss7rJOmjPDtdfyRp2JIcfw9SOEqANcy6ESaSBFKPMwZg5EK\u002B7DhG06GT3mm8OcE\u002Bfb26\u002B8gpyH0CMQPDETfYzkwd\u002BPRfXZLXC2So/GdTDedVU4akxEdORyvVrKs0g7J5uwAdnjDM7xAq4\u002BBTgNwFrzMsbc2hM/o[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-843bfc4b-354e-293c-837e-713ec670d2f3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:56:52 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:56:51.5202227-07:00",
    "RandomSeed": "474663784",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
