{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6637f330-d2fd-9955-dc96-6f0b50ec5612?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:56:56 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB134E0360C\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:56:58 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6637f330-d2fd-9955-dc96-6f0b50ec5612/test-blob-37c054f0-373b-8551-eefa-b70283ec2901",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:56:57 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "hQ6YXATbGFUsDCW7Pz1mAfELuqA2t0ZvLiJVnHVVh4VE0z/CSBoz99Ri6k6Ktn7MXSZoXLpvzM3IKC3hhXzf14Wgd2v\u002Bo7jW18LM1M345XekiT5P7CrL1Adx\u002BSDsUnFXghLI6j8SzblukYX3o/gA0EK1Pfw9kOta1KJkjKqY6oVRdFG6L/s4kbuE4Fql0zEPcSndNhR0GvEnbhWdrkEP1af/pi6mRqFHfaxBubCQtQBxVRqAu7Nw3FpgksHlmuJ5dAqypS0CaCuIlbhnMmFBlrkUK1kmjxrzjsnURbPgYePKx0Sl3g/Sb\u002Bzv\u002BCX6Car5H/sI0W\u002BJUuXwvhZkLiJ[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6637f330-d2fd-9955-dc96-6f0b50ec5612/test-blob-37c054f0-373b-8551-eefa-b70283ec2901?sv=2024-05-04\u0026se=2024-03-28T22%3A56%3A57Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB1351EC302\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:56:58 GMT",
        "x-ms-blob-content-md5": "sy6qFljzCi1vhAEtFjY6Gg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:56:58 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:56:58.7154178Z"
      },
      "ResponseBody": "hQ6YXATbGFUsDCW7Pz1mAfELuqA2t0ZvLiJVnHVVh4VE0z/CSBoz99Ri6k6Ktn7MXSZoXLpvzM3IKC3hhXzf14Wgd2v\u002Bo7jW18LM1M345XekiT5P7CrL1Adx\u002BSDsUnFXghLI6j8SzblukYX3o/gA0EK1Pfw9kOta1KJkjKqY6oVRdFG6L/s4kbuE4Fql0zEPcSndNhR0GvEnbhWdrkEP1af/pi6mRqFHfaxBubCQtQBxVRqAu7Nw3FpgksHlmuJ5dAqypS0CaCuIlbhnMmFBlrkUK1kmjxrzjsnURbPgYePKx0Sl3g/Sb\u002Bzv\u002BCX6Car5H/sI0W\u002BJUuXwvhZkLiJ4qDTVnWocm7ipQbxsN5b1\u002BIUe2ia32JBzQXVetR/4bUHKd1DwJWw/3INDXo\u002BzH[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6637f330-d2fd-9955-dc96-6f0b50ec5612?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:56:58 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:56:57.3801674-07:00",
    "RandomSeed": "133506378",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
