{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.Network/dnsZones/resourcetest.com?api-version=2023-07-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "value1"
        },
        "location": "Global"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "f8de3c54-9868-47b9-8ae6-1b83ce05b767",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.Network/dnszones/resourcetest.com",
        "name": "resourcetest.com",
        "type": "Microsoft.Network/dnszones",
        "etag": "Sanitized",
        "location": "global",
        "tags": {
          "key1": "value1"
        },
        "properties": {
          "maxNumberOfRecordSets": 10000,
          "maxNumberOfRecordsPerRecordSet": null,
          "nameServers": [
            "ns1-03.azure-dns.com.",
            "ns2-03.azure-dns.net.",
            "ns3-03.azure-dns.org.",
            "ns4-03.azure-dns.info."
          ],
          "numberOfRecordSets": 2,
          "zoneType": "Public"
        }
      }
    }
  ],
  "Variables": {}
}
