{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share172301143167303430?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB6A893D5C2D8\"",
        "Last-Modified": "Wed, 07 Aug 2024 06:17:13 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share172301143167303430/dir172301143198109565?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB6A894054EDF\"",
        "Last-Modified": "Wed, 07 Aug 2024 06:17:13 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-08-07T06:17:13.3904607Z",
        "x-ms-file-creation-time": "2024-08-07T06:17:13.3904607Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-07T06:17:13.3904607Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "848195603883682205*7142220257662565908",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share172301143167303430/dir172301143198109565/file172301143230208619?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "11",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB6A89435F4B1\"",
        "Last-Modified": "Wed, 07 Aug 2024 06:17:13 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-07T06:17:13.7092785Z",
        "x-ms-file-creation-time": "2024-08-07T06:17:13.7092785Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-08-07T06:17:13.7092785Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "14681360101839640218*7142220257662565908",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share172301143167303430/dir172301143198109565/file172301143230208619?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-attributes": "preserve",
        "x-ms-file-creation-time": "preserve",
        "x-ms-file-last-write-time": "preserve",
        "x-ms-file-permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)",
        "x-ms-file-permission-format": "Sddl",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB6A8946B54C6\"",
        "Last-Modified": "Wed, 07 Aug 2024 06:17:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-07T06:17:14.0590790Z",
        "x-ms-file-creation-time": "2024-08-07T06:17:13.7092785Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-08-07T06:17:13.7092785Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "14184526647822199781*7142220257662565908",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share172301143167303430/dir172301143198109565/file172301143230208619?",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB6A8946B54C6\"",
        "Last-Modified": "Wed, 07 Aug 2024 06:17:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-07T06:17:14.0590790Z",
        "x-ms-file-creation-time": "2024-08-07T06:17:13.7092785Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-08-07T06:17:13.7092785Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "14184526647822199781*7142220257662565908",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share172301143167303430?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir172301143198109565",
    "file": "file172301143230208619",
    "share": "share172301143167303430"
  }
}
