{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175860510777109735?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDFA6191616339\"",
        "Last-Modified": "Tue, 23 Sep 2025 05:25:11 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175860510777109735/dir175860510807008749?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDFA61918FE171\"",
        "Last-Modified": "Tue, 23 Sep 2025 05:25:11 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-09-23T05:25:11.7375857Z",
        "x-ms-file-creation-time": "2025-09-23T05:25:11.7375857Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-09-23T05:25:11.7375857Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10684201687090704712*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175860510777109735/sourcefile175860510837903411?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-content-length": "1024",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDFA6191BE1081\"",
        "Last-Modified": "Tue, 23 Sep 2025 05:25:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-23T05:25:12.0402561Z",
        "x-ms-file-creation-time": "2025-09-23T05:25:12.0402561Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-09-23T05:25:12.0402561Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6070331687120522831*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175860510777109735/sourcefile175860510837903411?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDFA6191BE1081\"",
        "Last-Modified": "Tue, 23 Sep 2025 05:25:12 GMT",
        "x-ms-lease-id": "ba3b9a17-9517-4c65-923d-a92ae67cc0b1",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175860510777109735/destfile175860510897906991?comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDFA619219D326\"",
        "Last-Modified": "Tue, 23 Sep 2025 05:25:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-23T05:25:12.6416166Z",
        "x-ms-file-creation-time": "2025-09-23T05:25:12.0402561Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-09-23T05:25:12.0402561Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6070331687120522831*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175860510777109735/destfile175860510897906991?",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\"0x8DDFA619219D326\"",
        "Last-Modified": "Tue, 23 Sep 2025 05:25:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-23T05:25:12.6416166Z",
        "x-ms-file-creation-time": "2025-09-23T05:25:12.0402561Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-09-23T05:25:12.0402561Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6070331687120522831*18203214069713872577",
        "x-ms-lease-duration": "infinite",
        "x-ms-lease-state": "leased",
        "x-ms-lease-status": "locked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175860510777109735/sourcefile175860510837903411?",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175860510777109735?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "destfile": "destfile175860510897906991",
    "dir": "dir175860510807008749",
    "file": "file175860510837405072",
    "share": "share175860510777109735",
    "sourcefile": "sourcefile175860510837903411"
  }
}
