{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409488643008883?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C4F72FB1230\"",
        "Last-Modified": "Tue, 25 Nov 2025 18:21:27 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409488643008883/dir176409488672708254?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C4F7328F4A6\"",
        "Last-Modified": "Tue, 25 Nov 2025 18:21:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-11-25T18:21:27.9291558Z",
        "x-ms-file-creation-time": "2025-11-25T18:21:27.9291558Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-11-25T18:21:27.9291558Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10684201687090704712*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409488643008883?restype=share&comp=filepermission",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": {
        "permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-file-permission-key": "6582295004140696368*18203214069713872577",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409488643008883/sourcefile176409488732203919?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-content-length": "2048",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C4F73835AB1\"",
        "Last-Modified": "Tue, 25 Nov 2025 18:21:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-11-25T18:21:28.5215921Z",
        "x-ms-file-creation-time": "2025-11-25T18:21:28.5215921Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-11-25T18:21:28.5215921Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6070331687120522831*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409488643008883/destfile176409488702701427?comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-attributes": "ReadOnly|Hidden",
        "x-ms-file-change-time": "2019-10-25T14:48:00.0000000Z",
        "x-ms-file-creation-time": "2019-10-05T14:48:00.0000000Z",
        "x-ms-file-last-write-time": "2019-10-15T14:48:00.0000000Z",
        "x-ms-file-permission-key": "6582295004140696368*18203214069713872577",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C4F73B189FD\"",
        "Last-Modified": "Tue, 25 Nov 2025 18:21:28 GMT",
        "x-ms-file-attributes": "ReadOnly | Hidden",
        "x-ms-file-change-time": "2019-10-25T14:48:00.0000000Z",
        "x-ms-file-creation-time": "2019-10-05T14:48:00.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-10-15T14:48:00.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6582295004140696368*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409488643008883/destfile176409488702701427?",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE2C4F73B189FD\"",
        "Last-Modified": "Tue, 25 Nov 2025 18:21:28 GMT",
        "x-ms-file-attributes": "ReadOnly | Hidden",
        "x-ms-file-change-time": "2019-10-25T14:48:00.0000000Z",
        "x-ms-file-creation-time": "2019-10-05T14:48:00.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-10-15T14:48:00.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6582295004140696368*18203214069713872577",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409488643008883/sourcefile176409488732203919?",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409488643008883?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "destfile": "destfile176409488702701427",
    "dir": "dir176409488672708254",
    "file": "file176409488702605248",
    "share": "share176409488643008883",
    "sourcefile": "sourcefile176409488732203919"
  }
}
