{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173768982705808295?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3C2860D0F9A5\"",
        "Last-Modified": "Fri, 24 Jan 2025 03:37:07 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173768982705808295/dir173768982717101216?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3C2860E268BA\"",
        "Last-Modified": "Fri, 24 Jan 2025 03:37:07 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-01-24T03:37:07.8287546Z",
        "x-ms-file-creation-time": "2025-01-24T03:37:07.8287546Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-01-24T03:37:07.8287546Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173768982705808295/dir173768982717101216/file173768982728504442?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "2049",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3C2860F37D3B\"",
        "Last-Modified": "Fri, 24 Jan 2025 03:37:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-24T03:37:07.9406907Z",
        "x-ms-file-creation-time": "2025-01-24T03:37:07.9406907Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-01-24T03:37:07.9406907Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4614121289425226539*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173768982705808295/dir173768982717101216/file173768982728504442?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-range": "bytes=0-4",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "SGVsbG8=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ixqZU8RhEpaoJ6v4xHgE1w==",
        "ETag": "\"0x8DD3C28610554F2\"",
        "Last-Modified": "Fri, 24 Jan 2025 03:37:08 GMT",
        "x-ms-file-last-write-time": "2025-01-24T03:37:08.0576242Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173768982705808295?restype=share&comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3C2860D0F9A5\"",
        "Last-Modified": "Fri, 24 Jan 2025 03:37:07 GMT",
        "x-ms-snapshot": "2025-01-24T03:37:08.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173768982705808295/rename_file173768982762803604?comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3C2861288F45\"",
        "Last-Modified": "Fri, 24 Jan 2025 03:37:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-24T03:37:08.2884933Z",
        "x-ms-file-creation-time": "2025-01-24T03:37:07.9406907Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-01-24T03:37:08.0576242Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4614121289425226539*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173768982705808295/rename_file173768982762803604?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "clear"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3C28613C146E\"",
        "Last-Modified": "Fri, 24 Jan 2025 03:37:08 GMT",
        "x-ms-file-last-write-time": "2025-01-24T03:37:08.4164206Z",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173768982705808295/rename_file173768982762803604?comp=rangelist&prevsharesnapshot=2025-01-24T03%3A37%3A08.0000000Z&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "PreviousSnapshotNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>PreviousSnapshotNotFound</Code><Message>The previous snapshot was not found.\n",
        "RequestId:bdd63ea2-f01a-0026-3511-6edb39000000\n",
        "Time:2025-01-24T03:37:08.6450130Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173768982705808295/rename_file173768982762803604?comp=rangelist&prevsharesnapshot=2025-01-24T03%3A37%3A08.0000000Z&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-file-support-rename": "true",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\"0x8DD3C28614D28EF\"",
        "Last-Modified": "Fri, 24 Jan 2025 03:37:08 GMT",
        "x-ms-content-length": "2049",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Ranges><ClearRange><Start>0</Start><End>511</End></ClearRange><Range><Start>512</Start><End>1535</End></Range></Ranges>"
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173768982705808295?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir173768982717101216",
    "file": "file173768982728504442",
    "rename_file": "rename_file173768982762803604",
    "share": "share173768982705808295"
  }
}
