{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173768983223802021?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3C2863E71974\"",
        "Last-Modified": "Fri, 24 Jan 2025 03:37:12 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173768983223802021/dir173768983235205556?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3C2863F920C5\"",
        "Last-Modified": "Fri, 24 Jan 2025 03:37:13 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-01-24T03:37:13.0108101Z",
        "x-ms-file-creation-time": "2025-01-24T03:37:13.0108101Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-01-24T03:37:13.0108101Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173768983223802021/dir173768983235205556/file173768983246700294?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "11",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3C28640A5C52\"",
        "Last-Modified": "Fri, 24 Jan 2025 03:37:13 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-24T03:37:13.1237458Z",
        "x-ms-file-creation-time": "2025-01-24T03:37:13.1237458Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-01-24T03:37:13.1237458Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4614121289425226539*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173768983223802021/dir173768983235205556/file173768983246700294?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-range": "bytes=0-10",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "SGVsbG8gV29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "ETag": "\"0x8DD3C28641C0CFE\"",
        "Last-Modified": "Fri, 24 Jan 2025 03:37:13 GMT",
        "x-ms-file-last-write-time": "2025-01-24T03:37:13.2396798Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173768983223802021/dir173768983235205556/file173768983246700294?",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD3C28641C0CFE\"",
        "Last-Modified": "Fri, 24 Jan 2025 03:37:13 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-24T03:37:13.2396798Z",
        "x-ms-file-creation-time": "2025-01-24T03:37:13.1237458Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-01-24T03:37:13.2396798Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4614121289425226539*16764736045797335973",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "SGVsbG8gV29ybGQ="
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173768983223802021?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir173768983235205556",
    "file": "file173768983246700294",
    "share": "share173768983223802021"
  }
}
