{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.Sql/servers/myserverppp?api-version=2023-02-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "tag1": "value1"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.Sql/locations/eastus/serverAzureAsyncOperation/d0d8a1c8-061d-4b45-ac5a-ddddc380e8e6?api-version=2023-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.Sql/locations/eastus/serverOperationResults/d0d8a1c8-061d-4b45-ac5a-ddddc380e8e6?api-version=2023-02-01-preview",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "operation": "UpsertLogicalServer",
        "startTime": "2023-09-20T08:22:03.02Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.Sql/locations/eastus/serverAzureAsyncOperation/d0d8a1c8-061d-4b45-ac5a-ddddc380e8e6?api-version=2023-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-reads": "11980"
      },
      "ResponseBody": {
        "name": "d0d8a1c8-061d-4b45-ac5a-ddddc380e8e6",
        "status": "InProgress",
        "startTime": "2023-09-20T08:22:03.02Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.Sql/locations/eastus/serverOperationResults/d0d8a1c8-061d-4b45-ac5a-ddddc380e8e6?api-version=2023-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11977"
      },
      "ResponseBody": {
        "kind": "v12.0",
        "properties": {
          "administratorLogin": "dummylogin",
          "version": "12.0",
          "state": "Ready",
          "fullyQualifiedDomainName": "myserverppp.database.windows.net",
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled",
          "externalGovernanceStatus": "Disabled"
        },
        "tags": {
          "tag1": "value1"
        },
        "id": "/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.Sql/servers/myserverppp",
        "name": "myserverppp",
        "type": "Microsoft.Sql/servers"
      }
    }
  ],
  "Variables": {}
}
