{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Sql/servers/myserverppp/databases/mydatabasezzzz/securityAlertPolicies/Default?api-version=2020-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "state": "Enabled",
          "disabledAlerts": [
            "Sql_Injection",
            "Access_Anomaly"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "properties": {
          "state": "Enabled",
          "disabledAlerts": [
            "Sql_Injection",
            "Access_Anomaly"
          ],
          "emailAddresses": [],
          "emailAccountAdmins": false,
          "storageAccountAccessKey": "",
          "retentionDays": 0,
          "creationTime": "0001-01-01T00:00:00Z"
        },
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Sql/servers/myserverppp/databases/mydatabasezzzz/securityAlertPolicies/Default",
        "name": "Default",
        "type": "Microsoft.Sql/servers/databases/securityAlertPolicies"
      }
    }
  ],
  "Variables": {}
}
