{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.Sql/servers/myserverppp/databases?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11979"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "GP_Gen5",
              "tier": "GeneralPurpose",
              "family": "Gen5",
              "capacity": 2
            },
            "kind": "v12.0,user,vcore",
            "properties": {
              "collation": "SQL_Latin1_General_CP1_CI_AS",
              "maxSizeBytes": 34359738368,
              "status": "Online",
              "databaseId": "9de6a0dd-118c-475d-884a-31ee00f4d32c",
              "creationDate": "2023-06-27T02:38:06.897Z",
              "currentServiceObjectiveName": "GP_Gen5_2",
              "requestedServiceObjectiveName": "GP_Gen5_2",
              "defaultSecondaryLocation": "westus",
              "catalogCollation": "SQL_Latin1_General_CP1_CI_AS",
              "zoneRedundant": false,
              "licenseType": "LicenseIncluded",
              "maxLogSizeBytes": 193273528320,
              "readScale": "Disabled",
              "currentSku": {
                "name": "GP_Gen5",
                "tier": "GeneralPurpose",
                "family": "Gen5",
                "capacity": 2
              },
              "currentBackupStorageRedundancy": "Geo",
              "requestedBackupStorageRedundancy": "Geo",
              "maintenanceConfigurationId": "/subscriptions/azure_subscription_id/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default",
              "isLedgerOn": false,
              "isInfraEncryptionEnabled": false,
              "availabilityZone": "NoPreference"
            },
            "location": "eastus",
            "id": "/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.Sql/servers/myserverppp/databases/mydatabasezzzz",
            "name": "mydatabasezzzz",
            "type": "Microsoft.Sql/servers/databases"
          },
          {
            "sku": {
              "name": "System",
              "tier": "System",
              "capacity": 0
            },
            "kind": "v12.0,system",
            "managedBy": "/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.Sql/servers/myserverppp",
            "properties": {
              "collation": "SQL_Latin1_General_CP1_CI_AS",
              "maxSizeBytes": 53687091200,
              "status": "Online",
              "databaseId": "47e76b4a-6655-4792-aeda-bc8f513f6996",
              "creationDate": "2023-06-27T02:36:43.397Z",
              "currentServiceObjectiveName": "System2",
              "requestedServiceObjectiveName[...]
