{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.Sql/servers/myserverppp/databases?api-version=2023-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11981"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "GP_Gen5",
              "tier": "GeneralPurpose",
              "family": "Gen5",
              "capacity": 2
            },
            "kind": "v12.0,user,vcore",
            "properties": {
              "collation": "SQL_Latin1_General_CP1_CI_AS",
              "maxSizeBytes": 34359738368,
              "status": "Online",
              "databaseId": "699a4922-ffdc-4fe1-b1a9-606b9c898fcc",
              "creationDate": "2023-09-20T08:21:42.397Z",
              "currentServiceObjectiveName": "GP_Gen5_2",
              "requestedServiceObjectiveName": "GP_Gen5_2",
              "defaultSecondaryLocation": "westus",
              "catalogCollation": "SQL_Latin1_General_CP1_CI_AS",
              "zoneRedundant": false,
              "licenseType": "LicenseIncluded",
              "maxLogSizeBytes": 193273528320,
              "readScale": "Disabled",
              "currentSku": {
                "name": "GP_Gen5",
                "tier": "GeneralPurpose",
                "family": "Gen5",
                "capacity": 2
              },
              "currentBackupStorageRedundancy": "Geo",
              "requestedBackupStorageRedundancy": "Geo",
              "maintenanceConfigurationId": "/subscriptions/azure_subscription_id/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default",
              "isLedgerOn": false,
              "isInfraEncryptionEnabled": false,
              "availabilityZone": "NoPreference"
            },
            "location": "eastus",
            "id": "/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.Sql/servers/myserverppp/databases/mydatabasezzzz",
            "name": "mydatabasezzzz",
            "type": "Microsoft.Sql/servers/databases"
          },
          {
            "sku": {
              "name": "System",
              "tier": "System",
              "capacity": 0
            },
            "kind": "v12.0,system",
            "managedBy": "/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.Sql/servers/myserverppp",
            "properties": {
              "collation": "SQL_Latin1_General_CP1_CI_AS",
              "maxSizeBytes": 53687091200,
              "status": "Online",
              "databaseId": "b63e3d37-a610-4113-89f1-ed3a88ff17b8",
              "creationDate": "2023-09-20T08:20:48.067Z",
              "currentServiceObjectiveName": "System2",
              "requestedServiceObjectiveName[...]
