{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Sql/servers/myserverppp/databases/mydatabasezzzz?api-version=2023-02-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "S1",
          "tier": "Standard"
        },
        "properties": {
          "collation": "SQL_Latin1_General_CP1_CI_AS"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Sql/locations/eastus/databaseAzureAsyncOperation/0e85affe-40b8-4184-b5d0-d2ae548456f7?api-version=2023-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Sql/locations/eastus/databaseOperationResults/0e85affe-40b8-4184-b5d0-d2ae548456f7?api-version=2023-02-01-preview",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "operation": "UpdateLogicalDatabase",
        "startTime": "2023-12-05T07:07:30.137Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Sql/locations/eastus/databaseAzureAsyncOperation/0e85affe-40b8-4184-b5d0-d2ae548456f7?api-version=2023-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "name": "0e85affe-40b8-4184-b5d0-d2ae548456f7",
        "status": "InProgress",
        "startTime": "2023-12-05T07:07:30.137Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Sql/locations/eastus/databaseOperationResults/0e85affe-40b8-4184-b5d0-d2ae548456f7?api-version=2023-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 20
        },
        "kind": "v12.0,user",
        "properties": {
          "collation": "SQL_Latin1_General_CP1_CI_AS",
          "maxSizeBytes": 268435456000,
          "status": "Online",
          "databaseId": "c0358dea-b348-4e91-9b8d-3c4e55d9f5f0",
          "creationDate": "2023-12-05T07:07:04.957Z",
          "currentServiceObjectiveName": "S1",
          "requestedServiceObjectiveName": "S1",
          "defaultSecondaryLocation": "westus",
          "catalogCollation": "SQL_Latin1_General_CP1_CI_AS",
          "currentSku": {
            "name": "Standard",
            "tier": "Standard",
            "capacity": 20
          },
          "storageAccountType": "GRS",
          "maintenanceConfigurationId": "/subscriptions/azure_subscription_id/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default"
        },
        "location": "eastus",
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Sql/servers/myserverppp/databases/mydatabasezzzz",
        "name": "mydatabasezzzz",
        "type": "Microsoft.Sql/servers/databases"
      }
    }
  ],
  "Variables": {}
}
