{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.Sql/servers/myserverppp/databases/mydatabasezzzz?api-version=2022-08-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.Sql/locations/eastus/databaseAzureAsyncOperation/b18c0cbd-32ab-4c05-b60b-9b57c1c1f06c?api-version=2022-08-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.Sql/locations/eastus/databaseOperationResults/b18c0cbd-32ab-4c05-b60b-9b57c1c1f06c?api-version=2022-08-01-preview",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": {
        "operation": "DropLogicalDatabase",
        "startTime": "2023-07-13T02:22:45.283Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.Sql/locations/eastus/databaseAzureAsyncOperation/b18c0cbd-32ab-4c05-b60b-9b57c1c1f06c?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11966"
      },
      "ResponseBody": {
        "name": "b18c0cbd-32ab-4c05-b60b-9b57c1c1f06c",
        "status": "InProgress",
        "startTime": "2023-07-13T02:22:45.283Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.Sql/servers/myserverppp/databases?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11963"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "System",
              "tier": "System",
              "capacity": 0
            },
            "kind": "v12.0,system",
            "managedBy": "/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.Sql/servers/myserverppp",
            "properties": {
              "collation": "SQL_Latin1_General_CP1_CI_AS",
              "maxSizeBytes": 53687091200,
              "status": "Online",
              "databaseId": "f2cde8a0-edf3-4154-a7f3-6bdf3d2d79f5",
              "creationDate": "2023-07-13T02:19:45.4Z",
              "currentServiceObjectiveName": "System2",
              "requestedServiceObjectiveName": "System2",
              "defaultSecondaryLocation": "westus",
              "catalogCollation": "SQL_Latin1_General_CP1_CI_AS",
              "zoneRedundant": false,
              "readScale": "Disabled",
              "currentSku": {
                "name": "System",
                "tier": "System",
                "capacity": 0
              },
              "currentBackupStorageRedundancy": "Local",
              "requestedBackupStorageRedundancy": "Local",
              "maintenanceConfigurationId": "/subscriptions/azure_subscription_id/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default",
              "isLedgerOn": false,
              "isInfraEncryptionEnabled": false,
              "availabilityZone": "NoPreference"
            },
            "location": "eastus",
            "id": "/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.Sql/servers/myserverppp/databases/master",
            "name": "master",
            "type": "Microsoft.Sql/servers/databases"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
