{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shivangisearchtest4.search.windows.net/indexes('juaattyc')/docs('1')?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "33",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "HotelId": "1",
        "HotelName": "Fancy Stay",
        "Description": "Best hotel in town if you like luxury hotels. They have an amazing infinity pool, a spa, and a really helpful concierge. The location is perfect -- right downtown, close to all the tourist attractions. We highly recommend this hotel.",
        "DescriptionFr": "Meilleur hôtel en ville si vous aimez les hôtels de luxe. Ils ont une magnifique piscine à débordement, un spa et un concierge très utile. L'emplacement est parfait – en plein centre, à proximité de toutes les attractions touristiques. Nous recommandons fortement cet hôtel.",
        "Category": "Luxury",
        "Tags": [
          "pool",
          "view",
          "wifi",
          "concierge"
        ],
        "ParkingIncluded": false,
        "SmokingAllowed": false,
        "LastRenovationDate": "2010-06-27T00:00:00Z",
        "Rating": 5,
        "Location": {
          "type": "Point",
          "coordinates": [
            -122.131577,
            47.678581
          ],
          "crs": {
            "type": "name",
            "properties": {
              "name": "EPSG:4326"
            }
          }
        },
        "GeoLocation": {
          "type": "Point",
          "coordinates": [
            -122.131577,
            47.678581
          ],
          "crs": {
            "type": "name",
            "properties": {
              "name": "EPSG:4326"
            }
          }
        },
        "Address": null,
        "Rooms": []
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1532287465",
    "SearchIndexName": "juaattyc",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-shivangisearchtest4"
  }
}
