{
  "Entries": [
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexes('sreymaey')/docs/search.index?api-version=2024-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "HotelId": "783",
            "HotelName": "Upload Inn",
            "GeoLocation": null,
            "Address": null
          },
          {
            "@search.action": "merge",
            "HotelId": "12",
            "HotelName": "Renovated Ranch",
            "GeoLocation": null,
            "Address": null
          }
        ]
      },
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "28",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "The given API key doesn't match service's internal, primary or secondary keys."
        }
      }
    },
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexes('sreymaey')?api-version=2024-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "167",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1224604733",
    "SearchIndexName": "sreymaey",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-azssdktest"
  }
}
