{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/assistants?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "name": "my-agent",
        "instructions": "You are a helpful agent",
        "model": "gpt-4o"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "61503e2f-59fc-4188-b1a7-2d4ccc67d94e",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "1.412"
      },
      "ResponseBody": {
        "id": "asst_PCrXOouq8KlmUUwTAQtfZmeh",
        "object": "assistant",
        "created_at": 1732230757,
        "name": "my-agent",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are a helpful agent",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/assistants?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "fa434fe5-69ad-4ea7-9a87-a6a11af8353f",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.378"
      },
      "ResponseBody": {
        "object": "list",
        "data": [
          {
            "id": "asst_PCrXOouq8KlmUUwTAQtfZmeh",
            "object": "assistant",
            "created_at": 1732230757,
            "name": "my-agent",
            "description": null,
            "model": "gpt-4o",
            "instructions": "You are a helpful agent",
            "tools": [],
            "top_p": 1.0,
            "temperature": 1.0,
            "tool_resources": {},
            "metadata": {},
            "response_format": "auto"
          },
          {
            "id": "asst_yy0pGkPQCSs6hBUJpaKf7Tg7",
            "object": "assistant",
            "created_at": 1732230756,
            "name": "my-agent",
            "description": null,
            "model": "gpt-4o",
            "instructions": "You are a helpful agent",
            "tools": [
              {
                "type": "function",
                "function": {
                  "name": "getCurrentDateTime",
                  "description": "Get current date time",
                  "parameters": {
                    "type": "object",
                    "properties": {}
                  },
                  "strict": false
                }
              }
            ],
            "top_p": 1.0,
            "temperature": 1.0,
            "tool_resources": {},
            "metadata": {},
            "response_format": "auto"
          },
          {
            "id": "asst_ygrs5hgY6asMR2kAFPqPFhuN",
            "object": "assistant",
            "created_at": 1732230756,
            "name": "my-agent",
            "description": null,
            "model": "gpt-4o",
            "instructions": "You are helpful agent",
            "tools": [],
            "top_p": 1.0,
            "temperature": 1.0,
            "tool_resources": {},
            "metadata": {},
            "response_format": "auto"
          },
          {
            "id": "asst_gkNrcgONcXu1ayYEnjB7qCkH",
            "object": "assistant",
            "created_at": 1732229710,
            "name": "my-agent",
            "description": null,
            "model": "gpt-4o-mini",
            "instructions": "You are a helpful agent",
            "tools": [
              {
                "type": "code_interpreter"
              }
            ],
            "top_p": 1.0,
            "temperature": 1.0,
            "tool_resources": {
              "code_interpreter": {
                "file_ids": [
                  "assistant-zqXks4M4KoU1PiSPSFtf5pGN"
                ]
              }
            },
            "metadata": {},
            "response_format": "auto"
          },
          {
            "id": "asst_nOjPRljwacRmfQ5D59RWEeWq",
            "object": "assistant",
            "created_at": 1732229580,
            "name": "my-agent",
            "description": null,
            "model": "gpt-4o-mini",
            "instructions": "You are a helpful agent",
            "tools": [[...]
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/assistants/asst_PCrXOouq8KlmUUwTAQtfZmeh?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "429a32ca-1437-4995-b8df-5b368e9a734f",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.244"
      },
      "ResponseBody": {
        "id": "asst_PCrXOouq8KlmUUwTAQtfZmeh",
        "object": "assistant.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
