{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2euap-02",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.039"
      },
      "ResponseBody": {
        "value": [
          {
            "tags": null,
            "location": null,
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/Meta-Llama-3-1-70B-Instruct-byyz",
            "name": "Meta-Llama-3-1-70B-Instruct-byyz",
            "type": "Microsoft.MachineLearningServices/workspaces/00000",
            "properties": {
              "authType": "ApiKey",
              "credentials": null,
              "group": "AzureAI",
              "category": "Serverless",
              "expiryTime": null,
              "target": "https://Meta-Llama-3-1-70B-Instruct-byyz.eastus.models.ai.azure.com/",
              "createdByWorkspaceArmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
              "useWorkspaceManagedIdentity": false,
              "isSharedToAll": true,
              "sharedUserList": [],
              "peRequirement": "NotRequired",
              "peStatus": "NotApplicable",
              "error": null,
              "metadata": {}
            },
            "systemData": {
              "createdAt": "2024-10-11T22:12:16.6034625Z",
              "createdBy": "Sanitized",
              "createdByType": "User",
              "lastModifiedAt": "2024-10-11T22:12:16.6034625Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User"
            }
          },
          {
            "tags": null,
            "location": null,
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/flipkartsearch",
            "name": "flipkartsearch",
            "type": "Microsoft.MachineLearningServices/workspaces/00000",
            "properties": {
              "authType": "ApiKey",
              "credentials": null,
              "group": "AzureAI",
              "category": "CognitiveSearch",
              "expiryTime": null,
              "target": "https://flipkart-search.search.windows.net/",
              "createdByWorkspaceArmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
              "useWorkspaceManagedIdentity": false,
              "isSharedToAll": true,
              "sharedUserList": [],
              "peRequirement": "NotRequired",
              "peStatus": "NotApplicable",
              "error": null,
              "metadata": {
                "ApiType": "Azure",
                "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.Search/searchServices/flipkart-search",
                "ApiVersion": "2024-05-01-preview",
                "DeploymentApiVersion": "2023-11-01"
              }
            },
            "systemData": {
              "createdAt": "2024-10-21T16:01:51.2167042Z",
              "createdBy": "Sanitized",
              "createdByType": "User",
              "lastModifiedAt": "2024-10-21T16:01:51.2167042Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User"
            }
          },
          {
            "tags": null,
            "location": null,
            "id": "/subscriptions/00000000[...]
