{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.039"
      },
      "ResponseBody": {
        "value": [
          {
            "tags": null,
            "location": null,
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/Meta-Llama-3-1-70B-Instruct-byyz",
            "name": "Meta-Llama-3-1-70B-Instruct-byyz",
            "type": "Microsoft.MachineLearningServices/workspaces/00000",
            "properties": {
              "authType": "ApiKey",
              "credentials": null,
              "group": "AzureAI",
              "category": "Serverless",
              "expiryTime": null,
              "target": "https://Meta-Llama-3-1-70B-Instruct-byyz.eastus.models.ai.azure.com/",
              "createdByWorkspaceArmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
              "useWorkspaceManagedIdentity": false,
              "isSharedToAll": true,
              "sharedUserList": [],
              "peRequirement": "NotRequired",
              "peStatus": "NotApplicable",
              "error": null,
              "metadata": {}
            },
            "systemData": {
              "createdAt": "2024-10-11T22:12:16.6034625Z",
              "createdBy": "Sanitized",
              "createdByType": "User",
              "lastModifiedAt": "2024-10-11T22:12:16.6034625Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User"
            }
          },
          {
            "tags": null,
            "location": null,
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/flipkartsearch",
            "name": "flipkartsearch",
            "type": "Microsoft.MachineLearningServices/workspaces/00000",
            "properties": {
              "authType": "ApiKey",
              "credentials": null,
              "group": "AzureAI",
              "category": "CognitiveSearch",
              "expiryTime": null,
              "target": "https://flipkart-search.search.windows.net/",
              "createdByWorkspaceArmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
              "useWorkspaceManagedIdentity": false,
              "isSharedToAll": true,
              "sharedUserList": [],
              "peRequirement": "NotRequired",
              "peStatus": "NotApplicable",
              "error": null,
              "metadata": {
                "ApiType": "Azure",
                "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.Search/searchServices/flipkart-search",
                "ApiVersion": "2024-05-01-preview",
                "DeploymentApiVersion": "2023-11-01"
              }
            },
            "systemData": {
              "createdAt": "2024-10-21T16:01:51.2167042Z",
              "createdBy": "Sanitized",
              "createdByType": "User",
              "lastModifiedAt": "2024-10-21T16:01:51.2167042Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User"
            }
          },
          {
            "tags": null,
            "location": null,
            "id": "/subscriptions/00000000[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/Meta-Llama-3-1-70B-Instruct-byyz/listsecrets?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "ignored": ""
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2euap-02",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-response-type": "standard",
        "x-request-time": "0.057"
      },
      "ResponseBody": {
        "tags": null,
        "location": null,
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/Meta-Llama-3-1-70B-Instruct-byyz",
        "name": "Meta-Llama-3-1-70B-Instruct-byyz",
        "type": "Microsoft.MachineLearningServices/workspaces/00000",
        "properties": {
          "authType": "ApiKey",
          "credentials": {
            "key": "00000000000000000000000000000000000000000000000000000000000000000000"
          },
          "group": "AzureAI",
          "category": "Serverless",
          "expiryTime": null,
          "target": "https://Meta-Llama-3-1-70B-Instruct-byyz.eastus.models.ai.azure.com/",
          "createdByWorkspaceArmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "useWorkspaceManagedIdentity": false,
          "isSharedToAll": true,
          "sharedUserList": [],
          "peRequirement": "NotRequired",
          "peStatus": "NotApplicable",
          "error": null,
          "metadata": {}
        },
        "systemData": {
          "createdAt": "2024-10-11T22:12:16.6034625Z",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2024-10-11T22:12:16.6034625Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/flipkartsearch/listsecrets?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "ignored": ""
      },
      "StatusCode": 200,[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/bing_grounding/listsecrets?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "ignored": ""
      },
      "StatusCode": 200,[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/bing_grounding_prod/listsecrets?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "ignored": ""
      },
      "StatusCode":[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/AIServices-Maas-Models/listsecrets?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "ignored": ""
      },
      "StatusCod[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/westus2bing/listsecrets?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "ignored": ""
      },
      "StatusCode": 200,
  [...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/bing1105/listsecrets?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "ignored": ""
      },
      "StatusCode": 200,
     [...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/ai-skill/listsecrets?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "ignored": ""
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2euap-02",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11998",
        "x-ms-ratelimit-remaining-subscription-writes": "798",
        "x-ms-response-type": "standard",
        "x-request-time": "0.056"
      },
      "ResponseBody": {
        "tags": null,
        "location": null,
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/ai-skill",
        "name": "ai-skill",
        "type": "Microsoft.MachineLearningServices/workspaces/00000",
        "properties": {
          "authType": "CustomKeys",
          "credentials": {
            "keys": {
              "workspace-id": "5b001b28-1198-4624-b402-2a2b9f8d883e"
            }
          },
          "group": "AzureAI",
          "category": "CustomKeys",
          "expiryTime": null,
          "target": "_",
          "createdByWorkspaceArmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "useWorkspaceManagedIdentity": false,
          "isSharedToAll": true,
          "sharedUserList": [],
          "peRequirement": "NotRequired",
          "peStatus": "NotApplicable",
          "error": null,
          "metadata": {
            "artifact-id": "30a4dd06-a4b0-4596-869d-7d786f758ff4"
          }
        },
        "systemData": {
          "createdAt": "2024-11-06T18:03:59.3249044Z",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2024-11-06T18:03:59.3249044Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/chattestwestus2brefmanyqpzrq/listsecrets?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "ignored": ""
      },
      "Sta[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/hemantmargaiagentssearcheastus2euap4/listsecrets?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "ignored": ""
      },
  [...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/agenttestwestus2acs/listsecrets?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "ignored": ""
      },
      "StatusCode":[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/ankaiparbugbashprprbing/listsecrets?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "ignored": ""
      },
      "StatusCo[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/cohere-embed-v3-us-yuefg-serverless/listsecrets?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "ignored": ""
      },
   [...]
