{
  "Entries": [
    {
      "RequestUri": "https://westus.metrics.monitor.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/metrics:getBatch?api-version=2024-02-01&endtime=2025-10-08T19%3A52%3A35.7283647Z&metricnamespace=Microsoft.Storage%2FstorageAccounts&metricnames=Ingress",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "resourceids": [
          "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/SSS3PT_rg-jsquiremonitor/providers/Microsoft.Storage/storageAccounts/4z3ig4z24oj24"
        ]
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-rate-limit-limit": "30s",
        "x-rate-limit-remaining": "2999",
        "x-rate-limit-reset": "2025-10-08T23:53:10.0124135Z"
      },
      "ResponseBody": {
        "error": {
          "additionalInfo": [
            {
              "type": "string",
              "info": "TraceId=01d82186f12b072cfd27c5faa2eec081"
            },
            {
              "type": "string",
              "info": "DateTime=2025-10-08T23:52:40.0177051Z"
            },
            {
              "type": "string",
              "info": "ExceptionType=Microsoft.Online.Metrics.MetricsMP.Utilities.RPRequestFormatException"
            }
          ],
          "code": "BadRequest",
          "message": "Detected invalid query parameters. Please specify a starttime for your time range."
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2025-10-08T16:52:35.7284088-07:00",
    "LOCATION": "westus",
    "RandomSeed": "972760766",
    "STORAGE_ID": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/SSS3PT_rg-jsquiremonitor/providers/Microsoft.Storage/storageAccounts/4z3ig4z24oj24"
  }
}
