{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus.cnt-prod.loadtesting.azure.com/test-profile-runs/sample-sdk-testprofilerun-202503196?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "testProfileId": "sample-sdk-testprofile-202503196",
        "displayName": "Sample Test Profile Run"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://00000000-0000-0000-0000-000000000000.eastus.cnt-prod.loadtesting.azure.com/test-profile-runs/sample-sdk-testprofilerun-202503196?api-version=2024-12-01-preview",
        "mise-correlation-id": "c157e87b-b216-4ec2-bed7-74a020234888"
      },
      "ResponseBody": {
        "status": "ACCEPTED",
        "targetResourceId": "Sanitized",
        "targetResourceConfigurations": {
          "kind": "FunctionsFlexConsumption",
          "configurations": {
            "config1": {
              "instanceMemoryMB": 2048,
              "httpConcurrency": 20
            },
            "config2": {
              "instanceMemoryMB": 4096,
              "httpConcurrency": 40
            }
          }
        },
        "testProfileRunId": "sample-sdk-testprofilerun-202503196",
        "testProfileId": "sample-sdk-testprofile-202503196",
        "displayName": "Sample Test Profile Run",
        "createdDateTime": "2025-03-18T12:19:54.372Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-03-18T12:19:54.372Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus.cnt-prod.loadtesting.azure.com/test-profile-runs/sample-sdk-testprofilerun-202503196?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "85543f68-1d4a-43e4-94c7-3eae9a11a97a"
      },
      "ResponseBody": {
        "status": "EXECUTING",
        "startDateTime": "2025-03-18T12:20:11.555Z",
        "targetResourceId": "Sanitized",
        "targetResourceConfigurations": {
          "kind": "FunctionsFlexConsumption",
          "configurations": {
            "config1": {
              "instanceMemoryMB": 2048,
              "httpConcurrency": 20
            },
            "config2": {
              "instanceMemoryMB": 4096,
              "httpConcurrency": 40
            }
          }
        },
        "testProfileRunId": "sample-sdk-testprofilerun-202503196",
        "testProfileId": "sample-sdk-testprofile-202503196",
        "displayName": "Sample Test Profile Run",
        "createdDateTime": "2025-03-18T12:19:54.372Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-03-18T12:20:12.038Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus.cnt-prod.loadtesting.azure.com/test-profile-runs/sample-sdk-testprofilerun-202503196?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "900e3b27-cd1e-49de-950f-f016c2b89254"
      },
      "ResponseBody": {
        "status": "EXECUTING",
        "startDateTime": "2025-03-18T12:20:11.555Z",
        "targetResourceId": "Sanitized",
        "targetResourceConfigurations": {
          "kind": "FunctionsFlexConsumption",
          "configurations": {
            "config1": {
              "instanceMemoryMB": 2048,
              "httpConcurrency": 20
            },
            "config2": {
              "instanceMemoryMB": 4096,
              "httpConcurrency": 40
            }
          }
        },
        "testRunDetails": {
          "f75651a2-7f6d-3c53-89b1-671e31f953f6": {
            "status": "ACCEPTED",
            "configurationId": "config1"
          }
        },
        "testProfileRunId": "sample-sdk-testprofilerun-202503196",
        "testProfileId": "sample-sdk-testprofile-202503196",
        "displayName": "Sample Test Profile Run",
        "createdDateTime": "2025-03-18T12:19:54.372Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-03-18T12:22:28.396Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus.cnt-prod.loadtesting.azure.com/test-profile-runs/sample-sdk-testprofilerun-202503196?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "320a02e8-2155-4c9c-ae3f-44cf1982b27b"
      },
      "ResponseBody": {
        "status": "EXECUTING",
        "startDateTime": "2025-03-18T12:20:11.555Z",
        "targetResourceId": "Sanitized",
        "targetResourceConfigurations": {
          "kind": "FunctionsFlexConsumption",
          "configurations": {
            "config1": {
              "instanceMemoryMB": 2048,
              "httpConcurrency": 20
            },
            "config2": {
              "instanceMemoryMB": 4096,
              "httpConcurrency": 40
            }
          }
        },
        "testRunDetails": {
          "f75651a2-7f6d-3c53-89b1-671e31f953f6": {
            "status": "DONE",
            "configurationId": "config1",
            "properties": {
              "errorPct": "0",
              "meanResTime": "5",
              "throughput": "4008.46875",
              "sampleCount": "256542"
            }
          }
        },
        "testProfileRunId": "sample-sdk-testprofilerun-202503196",
        "testProfileId": "sample-sdk-testprofile-202503196",
        "displayName": "Sample Test Profile Run",
        "createdDateTime": "2025-03-18T12:19:54.372Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-03-18T12:28:03.866Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus.cnt-prod.loadtesting.azure.com/test-profile-runs/sample-sdk-testprofilerun-202503196?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f31e9821-45ab-4442-8b07-5b82d2b59783"
      },
      "ResponseBody": {
        "status": "EXECUTING",
        "startDateTime": "2025-03-18T12:20:11.555Z",
        "targetResourceId": "Sanitized",
        "targetResourceConfigurations": {
          "kind": "FunctionsFlexConsumption",
          "configurations": {
            "config1": {
              "instanceMemoryMB": 2048,
              "httpConcurrency": 20
            },
            "config2": {
              "instanceMemoryMB": 4096,
              "httpConcurrency": 40
            }
          }
        },
        "testRunDetails": {
          "f75651a2-7f6d-3c53-89b1-671e31f953f6": {
            "status": "DONE",
            "configurationId": "config1",
            "properties": {
              "errorPct": "0",
              "meanResTime": "5",
              "throughput": "4008.46875",
              "sampleCount": "256542"
            }
          },
          "e0c5b00f-9cea-41dc-4fa0-47657a7d4290": {
            "status": "ACCEPTED",
            "configurationId": "config2"
          }
        },
        "testProfileRunId": "sample-sdk-testprofilerun-202503196",
        "testProfileId": "sample-sdk-testprofile-202503196",
        "displayName": "Sample Test Profile Run",
        "createdDateTime": "2025-03-18T12:19:54.372Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-03-18T12:30:18.329Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus.cnt-prod.loadtesting.azure.com/test-profile-runs/sample-sdk-testprofilerun-202503196?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "85d3bb7b-bd5f-4255-a204-28c57b921394"
      },
      "ResponseBody": {
        "status": "DONE",
        "startDateTime": "2025-03-18T12:20:11.555Z",
        "endDateTime": "2025-03-18T12:36:11.663Z",
        "durationInSeconds": 960,
        "targetResourceId": "Sanitized",
        "targetResourceConfigurations": {
          "kind": "FunctionsFlexConsumption",
          "configurations": {
            "config1": {
              "instanceMemoryMB": 2048,
              "httpConcurrency": 20
            },
            "config2": {
              "instanceMemoryMB": 4096,
              "httpConcurrency": 40
            }
          }
        },
        "testRunDetails": {
          "f75651a2-7f6d-3c53-89b1-671e31f953f6": {
            "status": "DONE",
            "configurationId": "config1",
            "properties": {
              "errorPct": "0",
              "meanResTime": "5",
              "throughput": "4008.46875",
              "sampleCount": "256542"
            }
          },
          "e0c5b00f-9cea-41dc-4fa0-47657a7d4290": {
            "status": "DONE",
            "configurationId": "config2",
            "properties": {
              "errorPct": "0",
              "meanResTime": "5",
              "throughput": "3635.1617647058824",
              "sampleCount": "247191"
            }
          }
        },
        "recommendations": [
          {
            "category": "ThroughputOptimized",
            "configurations": [
              "config1"
            ]
          }
        ],
        "testProfileRunId": "sample-sdk-testprofilerun-202503196",
        "testProfileId": "sample-sdk-testprofile-202503196",
        "displayName": "Sample Test Profile Run",
        "createdDateTime": "2025-03-18T12:19:54.372Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-03-18T12:36:11.711Z",
        "lastModifiedBy": "Sanitized"
      }
    }
  ],
  "Variables": {}
}
