{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus.cnt-prod.loadtesting.azure.com/test-profile-runs/sample-sdk-testprofilerun-202503196?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "eed01e1d-a1ff-4fa8-a3c6-c7228377ad6e"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
