{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/:analyze-text?api-version=2023-04-01\u0026showStats=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": null
            }
          ]
        },
        "parameters": {
          "modelVersion": "2019-10-01"
        },
        "kind": "LanguageDetection"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "kind": "LanguageDetectionResults",
        "results": {
          "documents": [],
          "errors": [
            {
              "id": "1",
              "error": {
                "code": "InvalidArgument",
                "message": "Invalid Document in request.",
                "innererror": {
                  "code": "InvalidDocument",
                  "message": "Document text is empty."
                }
              }
            }
          ],
          "modelVersion": "2019-10-01"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1902345312",
    "TEXTANALYTICS_API_KEY": "Sanitized",
    "TEXTANALYTICS_ENDPOINT": "https://javatextanalyticstestresources.cognitiveservices.azure.com"
  }
}
