{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14",
        "authorizationSource": "Bypassed",
        "managedByTenants": [],
        "subscriptionId": "fb74b135-894b-4c1d-9b2e-8a3c231abc14",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ChaosRP-Test-MSFT-Manual-1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourcegroups/rg-chaos-sdk-test-recording?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-test-recording",
        "name": "rg-chaos-sdk-test-recording",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "Owners": "brrusino",
          "ServiceDirectory": "chaos",
          "DeleteAfter": "2023-09-12T19:58:49.6239397Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/providers/Microsoft.Chaos/locations/eastus/targetTypes?api-version=2023-04-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-09-15-preview, 2022-07-01-preview, 2022-10-01-preview, 2023-04-01-preview, 2023-04-15-preview, 2023-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "2999"
      },
      "ResponseBody": {
        "value": [
          {
            "type": "Microsoft.Chaos/locations/targetTypes",
            "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/providers/Microsoft.Chaos/locations/eastus/targetTypes/Microsoft-AppService",
            "name": "Microsoft-AppService",
            "systemData": {
              "createdAt": "1970-01-01T00:00:00\u002B00:00",
              "lastModifiedAt": "1970-01-01T00:00:00\u002B00:00",
              "createdByType": "Application"
            },
            "location": "eastus",
            "properties": {
              "displayName": "",
              "description": "",
              "propertiesSchema": "https://schema-tc.eastus.chaos-prod.azure.com/targetTypes/Microsoft-AppService/propertiesSchema.json",
              "resourceTypes": [
                "Microsoft.Web/sites"
              ]
            }
          },
          {
            "type": "Microsoft.Chaos/locations/targetTypes",
            "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/providers/Microsoft.Chaos/locations/eastus/targetTypes/Microsoft-VirtualMachineScaleSet",
            "name": "Microsoft-VirtualMachineScaleSet",
            "systemData": {
              "createdAt": "1970-01-01T00:00:00\u002B00:00",
              "lastModifiedAt": "1970[...]
