{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/v1/files",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=\"Er5vC_V59gLyMNnuyjfsij7W55IQAy8Ek5mclpgcMm7dBT3cnEsVS1oYyKuwYZW5x0sIZk\"",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,CodeAgents=V1Preview,Models=V1Preview,AgentsOptimization=V1Preview,Routines=V1Preview,ExternalAgents=V1Preview"
      },
      "RequestBody": [
        "--Er5vC_V59gLyMNnuyjfsij7W55IQAy8Ek5mclpgcMm7dBT3cnEsVS1oYyKuwYZW5x0sIZk\r\n",
        "Content-Disposition: form-data; name=file; filename=sample_file_for_upload.txt; filename*=utf-8''sample_file_for_upload.txt\r\n",
        "\r\n",
        "b64:VGhlIHdvcmQgJ2FwcGxlJyB1c2VzIHRoZSBjb2RlIDQ0MjM0NSwgd2hpbGUgdGhlIHdvcmQgJ2JhbmFuYScgdXNlcyB0aGUgY29kZSA2NzM0NTcu",
        "\r\n",
        "--Er5vC_V59gLyMNnuyjfsij7W55IQAy8Ek5mclpgcMm7dBT3cnEsVS1oYyKuwYZW5x0sIZk\r\n",
        "Content-Type: text/plain; charset=utf-8\r\n",
        "Content-Disposition: form-data; name=purpose\r\n",
        "\r\n",
        "assistants",
        "\r\n",
        "--Er5vC_V59gLyMNnuyjfsij7W55IQAy8Ek5mclpgcMm7dBT3cnEsVS1oYyKuwYZW5x0sIZk--\r\n"
      ],
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "5209",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "07124559-e8d9-40b5-8f1a-c3d1c72edd3d",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-VH5Pxsx3Q8UZyNsozDqbHA",
        "purpose": "assistants",
        "filename": "sample_file_for_upload.txt",
        "bytes": 84,
        "created_at": 1779993667,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/v1/files/assistant-VH5Pxsx3Q8UZyNsozDqbHA",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,CodeAgents=V1Preview,Models=V1Preview,AgentsOptimization=V1Preview,Routines=V1Preview,ExternalAgents=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "3599",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "43bc19df-4860-4610-b65b-b119cb3ac663",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-VH5Pxsx3Q8UZyNsozDqbHA"
      }
    }
  ],
  "Variables": {
    "FOUNDRY_PROJECT_ENDPOINT": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project"
  }
}
