{
  "Entries": [
    {
      "RequestUri": "https://example-deid.api.deid.azure.com/deid?api-version=2024-11-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputText": "Hello, my name is John Smith.",
        "operation": "Surrogate"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2024-07-12-preview",
        "api-supported-versions": "2024-11-15",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7e70cdc5-8eeb-425c-b099-a533189c2d4d"
      },
      "ResponseBody": {
        "outputText": "Hello, my name is Jahsiah Precise."
      }
    }
  ],
  "Variables": {}
}
