{
  "Entries": [
    {
      "RequestUri": "https://example-deid.api.deid.azure.com/jobs/test_create_cancel_delete_as-49b1c2?api-version=2024-11-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sourceLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "example_patient_1"
        },
        "targetLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "_output",
          "overwrite": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2024-07-12-preview",
        "api-supported-versions": "2024-11-15",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0b4ef178-92e5-4e0c-9c9e-303bf0666af9",
        "operation-id": "test_create_cancel_delete_as-49b1c2",
        "operation-location": "https://example-deid.api.deid.azure.com/jobs/test_create_cancel_delete_as-49b1c2?api-version=2024-11-15"
      },
      "ResponseBody": {
        "name": "test_create_cancel_delete_as-49b1c2",
        "sourceLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "example_patient_1",
          "extensions": [
            "*"
          ]
        },
        "targetLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "_output",
          "overwrite": true
        },
        "operation": "Surrogate",
        "customizations": {
          "surrogateLocale": "en-US"
        },
        "status": "NotStarted",
        "createdAt": "2025-05-01T22:13:55.9262554Z",
        "lastUpdatedAt": "2025-05-01T22:13:55.9262555Z"
      }
    },
[...]
    {
      "RequestUri": "https://example-deid.api.deid.azure.com/jobs/test_create_cancel_delete_as-49b1c2?api-version=2024-11-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2024-07-12-preview",
        "api-supported-versions": "2024-11-15",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "ae4a253f-717f-48a7-a6c8-037b8e04af56"
      },
      "ResponseBody": {
        "name": "test_create_cancel_delete_as-49b1c2",
        "sourceLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "example_patient_1",
          "extensions": [
            "*"
          ]
        },
        "targetLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "_output",
          "overwrite": true
        },
        "operation": "Surrogate",
        "customizations": {
          "surrogateLocale": "en-US"
        },
        "status": "NotStarted",
        "summary": {
          "successful": 0,
          "failed": 0,
          "canceled": 0,
          "total": 3,
          "bytesProcessed": 0
        },
        "createdAt": "2025-05-01T22:13:55.9262554Z",
        "lastUpdatedAt": "2025-05-01T22:13:56.5569583Z"
      }
    },
    {
      "RequestUri": "https://example-deid.api.deid.azure.com/jobs/test_create_cancel_delete_as-49b1c2?api-version=2024-11-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2024-07-12-preview",
        "api-supported-versions": "2024-11-15",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "67c6b961-de21-484d-9a26-bc76d0d6a60a",
        "Retry-After": "2"
      },
      "ResponseBody": {
        "name": "test_create_cancel_delete_as-49b1c2",
        "sourceLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "example_patient_1",
          "extensions": [
            "*"
          ]
        },
        "targetLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "_output",
          "overwrite": true
        },
        "operation": "Surrogate",
        "customizations": {
          "surrogateLocale": "en-US"
        },
        "status": "NotStarted",
        "summary": {
          "successful": 0,
          "failed": 0,
          "canceled": 0,
          "total": 3,
          "bytesProcessed": 0
        },
        "createdAt": "2025-05-01T22:13:55.9262554Z",
        "lastUpdatedAt": "2025-05-01T22:13:56.5569583Z"
      }
    },
[...]
    {
      "RequestUri": "https://example-deid.api.deid.azure.com/jobs/test_create_cancel_delete_as-49b1c2?api-version=2024-11-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2024-07-12-preview",
        "api-supported-versions": "2024-11-15",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "3a6554da-77d7-4f56-b8d1-b7842c42debd"
      },
      "ResponseBody": {
        "name": "test_create_cancel_delete_as-49b1c2",
        "sourceLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "example_patient_1",
          "extensions": [
            "*"
          ]
        },
        "targetLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "_output",
          "overwrite": true
        },
        "operation": "Surrogate",
        "customizations": {
          "surrogateLocale": "en-US"
        },
        "status": "Running",
        "summary": {
          "successful": 0,
          "failed": 0,
          "canceled": 0,
          "total": 3,
          "bytesProcessed": 0
        },
        "createdAt": "2025-05-01T22:13:55.9262554Z",
        "startedAt": "2025-05-01T22:14:57.6838738Z",
        "lastUpdatedAt": "2025-05-01T22:14:57.6839088Z"
      }
    },
    {
      "RequestUri": "https://example-deid.api.deid.azure.com/jobs/test_create_cancel_delete_as-49b1c2:cancel?api-version=2024-11-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2024-07-12-preview",
        "api-supported-versions": "2024-11-15",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "2e077635-420c-48c4-b46e-14265f323c73"
      },
      "ResponseBody": {
        "name": "test_create_cancel_delete_as-49b1c2",
        "sourceLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "example_patient_1",
          "extensions": [
            "*"
          ]
        },
        "targetLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "_output",
          "overwrite": true
        },
        "operation": "Surrogate",
        "customizations": {
          "surrogateLocale": "en-US"
        },
        "status": "Canceled",
        "summary": {
          "successful": 0,
          "failed": 0,
          "canceled": 0,
          "total": 3,
          "bytesProcessed": 0
        },
        "createdAt": "2025-05-01T22:13:55.9262554Z",
        "startedAt": "2025-05-01T22:14:57.6838738Z",
        "lastUpdatedAt": "2025-05-01T22:14:59.1778336Z"
      }
    },
[...]
    {
      "RequestUri": "https://example-deid.api.deid.azure.com/jobs/test_create_cancel_delete_as-49b1c2?api-version=2024-11-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-deprecated-versions": "2024-07-12-preview",
        "api-supported-versions": "2024-11-15",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "JobNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "JobNotFound",
          "message": "Job not found."
        }
      }
    }
  ],
  "Variables": {}
}
