{
  "Entries": [
    {
      "RequestUri": "https://example-deid.api.deid.azure.com/deid?api-version=2024-11-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputText": "Hello, my name is John Smith.",
        "operation": "Surrogate"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2024-07-12-preview",
        "api-supported-versions": "2024-11-15",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "9ca18f74-d107-439a-bc32-15b53c14aeb8"
      },
      "ResponseBody": {
        "outputText": "Hello, my name is Rodger Kozemchak."
      }
    }
  ],
  "Variables": {}
}
