{
  "Entries": [
    {
      "RequestUri": "https://example-deid.api.deid.azure.com/jobs/test_exception_throws_async-10ea88?api-version=2024-07-12-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sourceLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net:443/containername",
          "prefix": "no_files_in_this_folder"
        },
        "targetLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net:443/containername",
          "prefix": "_output"
        },
        "operation": "Surrogate",
        "dataType": "Plaintext"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "1",
        "api-supported-versions": "2024-01-16-preview, 2024-07-12-preview",
        "Content-Type": "application/json; charset=utf-8",
        "operation-id": "test_exception_throws_async-10ea88",
        "operation-location": "https://example-deid.api.deid.azure.com/jobs/test_exception_throws_async-10ea88?api-version=2024-07-12-preview"
      },
      "ResponseBody": {
        "name": "test_exception_throws_async-10ea88",
        "status": "NotStarted",
        "createdAt": "2024-07-22T17:49:38.2641493Z",
        "lastUpdatedAt": "2024-07-22T17:49:38.2641493Z",
        "sourceLocation": {
          "extensions": [
            "*"
          ],
          "location": "https://blobstorageaccount.blob.core.windows.net:443/containername",
          "prefix": "no_files_in_this_folder"
        },
        "targetLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net:443/containername",
          "prefix": "_output"
        },
        "dataType": "Plaintext",
        "operation": "Surrogate"
      }
    },
[...]
    {
      "RequestUri": "https://example-deid.api.deid.azure.com/jobs/test_exception_throws_async-10ea88?api-version=2024-07-12-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "1",
        "api-supported-versions": "2024-01-16-preview, 2024-07-12-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "4"
      },
      "ResponseBody": {
        "name": "test_exception_throws_async-10ea88",
        "status": "Failed",
        "error": {
          "code": "JobValidationError",
          "message": "No files found in source container with given parameters."
        },
        "createdAt": "2024-07-22T17:49:38.2641493Z",
        "startedAt": "2024-07-22T17:49:41.4419267Z",
        "lastUpdatedAt": "2024-07-22T17:49:41.8838354Z",
        "sourceLocation": {
          "extensions": [
            "*"
          ],
          "location": "https://blobstorageaccount.blob.core.windows.net:443/containername",
          "prefix": "no_files_in_this_folder"
        },
        "targetLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net:443/containername",
          "prefix": "_output"
        },
        "dataType": "Plaintext",
        "operation": "Surrogate"
      }
    },
    {
      "RequestUri": "https://example-deid.api.deid.azure.com/jobs/test_exception_throws_async-10ea88?api-version=2024-07-12-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "1",
        "api-supported-versions": "2024-01-16-preview, 2024-07-12-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "4"
      },
      "ResponseBody": {
        "name": "test_exception_throws_async-10ea88",
        "status": "Failed",
        "error": {
          "code": "JobValidationError",
          "message": "No files found in source container with given parameters."
        },
        "createdAt": "2024-07-22T17:49:38.2641493Z",
        "startedAt": "2024-07-22T17:49:41.4419267Z",
        "lastUpdatedAt": "2024-07-22T17:49:41.8838354Z",
        "sourceLocation": {
          "extensions": [
            "*"
          ],
          "location": "https://blobstorageaccount.blob.core.windows.net:443/containername",
          "prefix": "no_files_in_this_folder"
        },
        "targetLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net:443/containername",
          "prefix": "_output"
        },
        "dataType": "Plaintext",
        "operation": "Surrogate"
      }
    }
  ],
  "Variables": {}
}
