{
  "Entries": [
    {
      "RequestUri": "https://example-deid.api.deid.azure.com/jobs/containername_create_list_async-90afe1?api-version=2024-11-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sourceLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "example_patient_1"
        },
        "targetLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "_output",
          "overwrite": true
        },
        "operation": "Tag"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2024-07-12-preview",
        "api-supported-versions": "2024-11-15",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7099e9a9-384b-419e-8ab9-6e4e2f4dca44",
        "operation-id": "containername_create_list_async-90afe1",
        "operation-location": "https://example-deid.api.deid.azure.com/jobs/containername_create_list_async-90afe1?api-version=2024-11-15"
      },
      "ResponseBody": {
        "name": "containername_create_list_async-90afe1",
        "sourceLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "example_patient_1",
          "extensions": [
            "*"
          ]
        },
        "targetLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "_output",
          "overwrite": true
        },
        "operation": "Tag",
        "customizations": {
          "surrogateLocale": null
        },
        "status": "NotStarted",
        "createdAt": "2025-04-29T23:36:51.9940661Z",
        "lastUpdatedAt": "2025-04-29T23:36:51.9940662Z"
      }
    },
    {
      "RequestUri": "https://example-deid.api.deid.azure.com/jobs?api-version=2024-11-15&maxpagesize=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2024-07-12-preview",
        "api-supported-versions": "2024-11-15",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "8744156c-add6-451c-8641-ec064ee8eceb"
      },
      "ResponseBody": "{\"value\":[{\"name\":\"containername_create_list_async-90afe1\",\"sourceLocation\":{\"location\":\"https://blobstorageaccount.blob.core.windows.net/containername\",\"prefix\":\"example_patient_1\",\"extensions\":[\"*\"]},\"targetLocation\":{\"location\":\"https://blobstorageaccount.blob.core.windows.net/containername\",\"prefix\":\"_output\",\"overwrite\":true},\"operation\":\"Tag\",\"customizations\":{\"surrogateLocale\":null},\"status\":\"NotStarted\",\"createdAt\":\"2025-04-29T23:36:51.9940661Z\",\"lastUpdatedAt\":\"2025-04-29T23:36:51.9940662Z\"}],\"nextLink\":\"https://example-deid.api.deid.azure.com:443/jobs?api-version=2024-11-15&maxpagesize=1&continuationToken=Sanitized"
    }
  ],
  "Variables": {}
}
