{
  "Entries": [
    {
      "RequestUri": "https://example-deid.api.deid.azure.com/jobs/test_create_list_async-49b1c2?api-version=2024-11-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sourceLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "example_patient_1"
        },
        "targetLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "_output",
          "overwrite": true
        },
        "operation": "Tag"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2024-07-12-preview",
        "api-supported-versions": "2024-11-15",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "4e689789-a138-408b-aa0d-983b3512a4dd",
        "operation-id": "test_create_list_async-49b1c2",
        "operation-location": "https://example-deid.api.deid.azure.com/jobs/test_create_list_async-49b1c2?api-version=2024-11-15"
      },
      "ResponseBody": {
        "name": "test_create_list_async-49b1c2",
        "sourceLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "example_patient_1",
          "extensions": [
            "*"
          ]
        },
        "targetLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "_output",
          "overwrite": true
        },
        "operation": "Tag",
        "customizations": {
          "surrogateLocale": null
        },
        "status": "NotStarted",
        "createdAt": "2025-05-01T22:15:13.0437336Z",
        "lastUpdatedAt": "2025-05-01T22:15:13.0437336Z"
      }
    },
    {
      "RequestUri": "https://example-deid.api.deid.azure.com/jobs?api-version=2024-11-15&maxpagesize=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2024-07-12-preview",
        "api-supported-versions": "2024-11-15",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "76fffa18-642e-4ab5-9f81-cb133eee8513"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "test_create_list_async-49b1c2",
            "sourceLocation": {
              "location": "https://blobstorageaccount.blob.core.windows.net/containername",
              "prefix": "example_patient_1",
              "extensions": [
                "*"
              ]
            },
            "targetLocation": {
              "location": "https://blobstorageaccount.blob.core.windows.net/containername",
              "prefix": "_output",
              "overwrite": true
            },
            "operation": "Tag",
            "customizations": {
              "surrogateLocale": null
            },
            "status": "NotStarted",
            "createdAt": "2025-05-01T22:15:13.0437336Z",
            "lastUpdatedAt": "2025-05-01T22:15:13.0437336Z"
          }
        ],
        "nextLink": "https://example-deid.api.deid.azure.com:443/jobs?api-version=2024-11-15&maxpagesize=1&continuationToken=W3siY29tcG9zaXRlVG9rZW4iOnsidG9rZW4iOiIrUklEOn5INGNVQUlVei1saVNidVFCQUFBQUFRPT0jUlQ6MSNUUkM6MSNSVEQ6SFBKSm1LVDF1WnFsQkJuR3lOU09CTUhiQXorVHhBPT0jSVNWOjIjSUVPOjY1NTY3I1FDRjo4I0ZQQzpBZ2gyQndBQUFBUUFBSkVIQUFBQUJBQUFkZ2NBQUFBRUFBQUlBUE1xZ0lBUUFoQUFrUWNBQUFBRUFBQUdBSXV1QWNBRkFBPT0iLCJyYW5nZSI6eyJtaW4iOiIwNUMxRTlDRDY3MzM5MCIsIm1heCI6IjA1QzFFRDY3MzM5OUMyIn19LCJvcmRlckJ5SXRlbXMiOlt7Iml0ZW0iOjE3NDYxMzc3MTN9XSwicmlkIjoiSDRjVUFJVXotbGlTYnVRQkFBQUFBUT09Iiwic2tpcENvdW50IjowLCJmaWx0ZXIiOiJ0cnVlIn1d"
      }
    }
  ],
  "Variables": {}
}
