{
  "Entries": [
    {
      "RequestUri": "https://example-deid.api.deid.azure.com/jobs/containername_create_cancel_delete-90afe1?api-version=2024-11-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sourceLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "example_patient_1"
        },
        "targetLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "_output",
          "overwrite": true
        },
        "operation": "Surrogate"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2024-07-12-preview",
        "api-supported-versions": "2024-11-15",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "969a1c48-9a82-4a26-9870-39b4ea5b55b3",
        "operation-id": "containername_create_cancel_delete-90afe1",
        "operation-location": "https://example-deid.api.deid.azure.com/jobs/containername_create_cancel_delete-90afe1?api-version=2024-11-15"
      },
      "ResponseBody": {
        "name": "containername_create_cancel_delete-90afe1",
        "sourceLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "example_patient_1",
          "extensions": [
            "*"
          ]
        },
        "targetLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "_output",
          "overwrite": true
        },
        "operation": "Surrogate",
        "customizations": {
          "surrogateLocale": "en-US"
        },
        "status": "NotStarted",
        "createdAt": "2025-04-29T23:35:15.6053123Z",
        "lastUpdatedAt": "2025-04-29T23:35:15.6053124Z"
      }
    },
[...]
    {
      "RequestUri": "https://example-deid.api.deid.azure.com/jobs/containername_create_cancel_delete-90afe1?api-version=2024-11-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2024-07-12-preview",
        "api-supported-versions": "2024-11-15",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "2b114580-7cd9-4ca7-aa4c-dd7f10363034",
        "Retry-After": "2"
      },
      "ResponseBody": {
        "name": "containername_create_cancel_delete-90afe1",
        "sourceLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "example_patient_1",
          "extensions": [
            "*"
          ]
        },
        "targetLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "_output",
          "overwrite": true
        },
        "operation": "Surrogate",
        "customizations": {
          "surrogateLocale": "en-US"
        },
        "status": "NotStarted",
        "createdAt": "2025-04-29T23:35:15.6053123Z",
        "lastUpdatedAt": "2025-04-29T23:35:15.6053124Z"
      }
    },
    {
      "RequestUri": "https://example-deid.api.deid.azure.com/jobs/containername_create_cancel_delete-90afe1?api-version=2024-11-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2024-07-12-preview",
        "api-supported-versions": "2024-11-15",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c25bfba3-92fb-41ed-a2cd-ca46ad3949aa"
      },
      "ResponseBody": {
        "name": "containername_create_cancel_delete-90afe1",
        "sourceLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "example_patient_1",
          "extensions": [
            "*"
          ]
        },
        "targetLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "_output",
          "overwrite": true
        },
        "operation": "Surrogate",
        "customizations": {
          "surrogateLocale": "en-US"
        },
        "status": "NotStarted",
        "summary": {
          "successful": 0,
          "failed": 0,
          "canceled": 0,
          "total": 3,
          "bytesProcessed": 0
        },
        "createdAt": "2025-04-29T23:35:15.6053123Z",
        "lastUpdatedAt": "2025-04-29T23:35:20.8845086Z"
      }
    },
    {
      "RequestUri": "https://example-deid.api.deid.azure.com/jobs/containername_create_cancel_delete-90afe1?api-version=2024-11-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2024-07-12-preview",
        "api-supported-versions": "2024-11-15",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "304495e5-60fd-49c7-9b4e-bfc5a5219313"
      },
      "ResponseBody": {
        "name": "containername_create_cancel_delete-90afe1",
        "sourceLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "example_patient_1",
          "extensions": [
            "*"
          ]
        },
        "targetLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "_output",
          "overwrite": true
        },
        "operation": "Surrogate",
        "customizations": {
          "surrogateLocale": "en-US"
        },
        "status": "Running",
        "summary": {
          "successful": 0,
          "failed": 0,
          "canceled": 0,
          "total": 3,
          "bytesProcessed": 0
        },
        "createdAt": "2025-04-29T23:35:15.6053123Z",
        "startedAt": "2025-04-29T23:35:23.0615581Z",
        "lastUpdatedAt": "2025-04-29T23:35:23.0616181Z"
      }
    },
    {
      "RequestUri": "https://example-deid.api.deid.azure.com/jobs/containername_create_cancel_delete-90afe1:cancel?api-version=2024-11-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2024-07-12-preview",
        "api-supported-versions": "2024-11-15",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "10b9c35b-193c[...]
[...]
    {
      "RequestUri": "https://example-deid.api.deid.azure.com/jobs/containername_create_cancel_delete-90afe1?api-version=2024-11-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-deprecated-versions": "2024-07-12-preview",
        "api-supported-versions": "2024-11-15",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "JobNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "JobNotFound",
          "message": "Job not found."
        }
      }
    }
  ],
  "Variables": {}
}
