{
  "Entries": [
    {
      "RequestUri": "https://example-deid.api.deid.azure.com/jobs/containername_exception_throws-187e76?api-version=2024-11-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sourceLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "no_files_in_this_folder"
        },
        "targetLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "_output",
          "overwrite": true
        },
        "operation": "Surrogate"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2024-07-12-preview",
        "api-supported-versions": "2024-11-15",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "3d926f56-b3ad-439e-b9c8-c0fa8ae3e115",
        "operation-id": "containername_exception_throws-187e76",
        "operation-location": "https://example-deid.api.deid.azure.com/jobs/containername_exception_throws-187e76?api-version=2024-11-15"
      },
      "ResponseBody": {
        "name": "containername_exception_throws-187e76",
        "sourceLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "no_files_in_this_folder",
          "extensions": [
            "*"
          ]
        },
        "targetLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "_output",
          "overwrite": true
        },
        "operation": "Surrogate",
        "customizations": {
          "surrogateLocale": "en-US"
        },
        "status": "NotStarted",
        "createdAt": "2025-04-30T23:07:25.1675576Z",
        "lastUpdatedAt": "2025-04-30T23:07:25.1675576Z"
      }
    },
[...]
    {
      "RequestUri": "https://example-deid.api.deid.azure.com/jobs/containername_exception_throws-187e76?api-version=2024-11-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2024-07-12-preview",
        "api-supported-versions": "2024-11-15",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "95e9ce63-a847-43df-86c4-d85b6d78490e",
        "Retry-After": "4"
      },
      "ResponseBody": {
        "name": "containername_exception_throws-187e76",
        "sourceLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "no_files_in_this_folder",
          "extensions": [
            "*"
          ]
        },
        "targetLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "_output",
          "overwrite": true
        },
        "operation": "Surrogate",
        "customizations": {
          "surrogateLocale": "en-US"
        },
        "status": "Failed",
        "error": {
          "code": "EmptyJob",
          "message": "No files found in the source location with specified prefix."
        },
        "createdAt": "2025-04-30T23:07:25.1675576Z",
        "lastUpdatedAt": "2025-04-30T23:07:25.7702936Z"
      }
    },
    {
      "RequestUri": "https://example-deid.api.deid.azure.com/jobs/containername_exception_throws-187e76?api-version=2024-11-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2024-07-12-preview",
        "api-supported-versions": "2024-11-15",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d886d70b-710a-4436-a712-1c5df0f22661",
        "Retry-After": "4"
      },
      "ResponseBody": {
        "name": "containername_exception_throws-187e76",
        "sourceLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "no_files_in_this_folder",
          "extensions": [
            "*"
          ]
        },
        "targetLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "_output",
          "overwrite": true
        },
        "operation": "Surrogate",
        "customizations": {
          "surrogateLocale": "en-US"
        },
        "status": "Failed",
        "error": {
          "code": "EmptyJob",
          "message": "No files found in the source location with specified prefix."
        },
        "createdAt": "2025-04-30T23:07:25.1675576Z",
        "lastUpdatedAt": "2025-04-30T23:07:25.7702936Z"
      }
    }
  ],
  "Variables": {}
}
