{
  "Entries": [
    {
      "RequestUri": "https://example-deid.api.deid.azure.com/jobs/test_list_job_docs_paginatio-d7ff15?api-version=2025-07-15-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sourceLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "example_patient_1"
        },
        "targetLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "_output",
          "overwrite": true
        },
        "operation": "Redact",
        "customizations": {
          "redactionFormat": "[{type}]"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2024-07-12-preview",
        "api-supported-versions": "2024-11-15, 2025-07-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "operation-id": "test_list_job_docs_paginatio-d7ff15",
        "operation-location": "https://example-deid.api.deid.azure.com/jobs/test_list_job_docs_paginatio-d7ff15?api-version=2025-07-15-preview"
      },
      "ResponseBody": {
        "name": "test_list_job_docs_paginatio-d7ff15",
        "sourceLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "example_patient_1",
          "extensions": [
            "*"
          ]
        },
        "targetLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "_output",
          "overwrite": true
        },
        "operation": "Redact",
        "customizations": {
          "redactionFormat": "[{type}]",
          "surrogateLocale": null,
          "inputLocale": "en-US"
        },
        "status": "NotStarted",
        "createdAt": "2025-08-05T21:24:03.2708574Z",
        "lastUpdatedAt": "2025-08-05T21:24:03.2708575Z"
      }
    },
[...]
    {
      "RequestUri": "https://example-deid.api.deid.azure.com/jobs/test_list_job_docs_paginatio-d7ff15?api-version=2025-07-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2024-07-12-preview",
        "api-supported-versions": "2024-11-15, 2025-07-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3"
      },
      "ResponseBody": {
        "name": "test_list_job_docs_paginatio-d7ff15",
        "sourceLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "example_patient_1",
          "extensions": [
            "*"
          ]
        },
        "targetLocation": {
          "location": "https://blobstorageaccount.blob.core.windows.net/containername",
          "prefix": "_output",
          "overwrite": true
        },
        "operation": "Redact",
        "customizations": {
          "redactionFormat": "[{type}]",
          "surrogateLocale": null,
          "inputLocale": "en-US"
        },
        "status": "Succeeded",
        "summary": {
          "successful": 3,
          "failed": 0,
          "canceled": 0,
          "total": 3,
          "bytesProcessed": 4309
        },
        "createdAt": "2025-08-05T21:24:03.2708574Z",
        "startedAt": "2025-08-05T21:24:06.976967Z",
        "lastUpdatedAt": "2025-08-05T21:24:25.5635714Z"
      }
    },
[...]
    {
      "RequestUri": "https://example-deid.api.deid.azure.com/jobs/test_list_job_docs_paginatio-d7ff15/documents?api-version=2025-07-15-preview&maxpagesize=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2024-07-12-preview",
        "api-supported-versions": "2024-11-15, 2025-07-15-preview",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "b2d4b714-4478-c82c-5bad-1942e5ce5d32",
            "input": {
              "location": "https://blobstorageaccount.blob.core.windows.net/containername/example_patient_1/visit_summary.txt",
              "eTag": "0x8DD88FD0AE760A9"
            },
            "output": {
              "location": "https://blobstorageaccount.blob.core.windows.net/containername/_output/visit_summary.txt",
              "eTag": "0x8DDD4666A4015C1"
            },
            "status": "Succeeded"
          },
          {
            "id": "baffcea5-8392-c61c-38cd-e9f37c97e5f6",
            "input": {
              "location": "https://blobstorageaccount.blob.core.windows.net/containername/example_patient_1/row-2-data.txt",
              "eTag": "0x8DD88FD0AE69D6F"
            },
            "output": {
              "location": "https://blobstorageaccount.blob.core.windows.net/containername/_output/row-2-data.txt",
              "eTag": "0x8DDD46669673C27"
            },
            "status": "Succeeded"
          }
        ],
        "nextLink": "https://example-deid.api.deid.azure.com:443/jobs/test_list_job_docs_paginatio-d7ff15/documents?api-version=2025-07-15-preview&maxpagesize=2&continuationToken=W3sidG9rZW4iOiIrUklEOn4teXB1QU03aG55SDlwM0lEQUFBQURRPT0jUlQ6MSNUUkM6MiNSVEQ6SFBKSm1LVDF1WnFsQkJuR3lOU09CTUhiRXllejNBPT0jSVNWOjIjSUVPOjY1NTY3I1FDRjo4I0ZQQzpBZnluY2dNQUFBQU4vcWR5QXdBQUFBMD0iLCJyYW5nZSI6eyJtaW4iOiIwNUMxQ0ZGRkZGRkZGOCIsIm1heCI6IjA1QzFEN0ZGRkZGRkZDIn19XQ%3d%3d"
      }
    },
    {
      "RequestUri": "https://example-deid.api.deid.azure.com/jobs/test_list_job_docs_paginatio-d7ff15/documents?api-version=2025-07-15-preview&maxpagesize=2&continuationToken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2024-07-12-preview",
        "api-supported-versions": "2024-11-15, 2025-07-15-preview",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "4213eaba-6449-c565-aba7-cb8a7262144f",
            "input": {
              "location": "https://blobstorageaccount.blob.core.windows.net/containername/example_patient_1/doctor_dictation.txt",
              "eTag": "0x8DD88FD0AE53E19"
            },
            "output": {
              "location": "https://blobstorageaccount.blob.core.windows.net/containername/_output/doctor_dictation.txt",
              "eTag": "0x8DDD466696519A2"
            },
            "status": "Succeeded"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
