{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "1c835c29-68e9-40a7-8455-842925d04908",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Liftr-Nginx-E2E-Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourcegroups/Default-Nginx-8090?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westcentralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-8090",
        "name": "Default-Nginx-8090",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westcentralus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1743809167",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "1c835c29-68e9-40a7-8455-842925d04908"
  }
}
