{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/21abd678-18c5-4660-9fdd-8c5ba6b6fe1f/providers/Microsoft.Batch/batchAccounts?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "069b2e69-ff0d-472e-abeb-da8df7e33185",
          "b53ae8c2-dd82-4f14-94f9-25cf0ec7d1dd",
          "ea431261-eb88-4150-8842-07719e2acdc0",
          "0d26f1a8-4445-402a-bce5-f6f4a81d250b",
          "17915349-85ff-43fd-af5f-2dda461b846c",
          "3bd9544e-ddd9-4a29-8ab8-0054aa90cdc7",
          "ee7c856b-2353-49d5-9df7-cbb32762a5e5",
          "badef6c4-e0bf-4514-9da9-a61e5717b76b",
          "f0bff94e-c817-4925-98f1-34ce27f54044",
          "fa589f2a-9f8a-4d23-ad90-de0124557155",
          "01ade142-5d81-4741-9a96-ef9357195a5d",
          "be6a590a-6774-41da-97c5-1bee31ea6855",
          "aa37cabd-9d7d-400b-9c22-91c66e16431f",
          "87af2a83-c660-40e5-8ea2-4781d7dd6777",
          "c0d256e4-a450-4ea5-af80-65cd56ebcc37",
          "26b32b3c-01a4-42c6-ab9c-bf4710cef39f",
          "dfc77cf6-b530-4a1e-9fa9-cd9e8c0a65cb",
          "2cfef45f-b3c0-47eb-b50a-bde8f1936a3f",
          "717f9c2f-1873-4720-93a8-ad2cb727d272",
          "86012584-c2c9-4b9a-8d4d-f43fbf4473a1",
          "5c97338b-eb8f-4bc7-974f-3d05fb77c9fc"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/21abd678-18c5-4660-9fdd-8c5ba6b6fe1f/resourceGroups/test/providers/Microsoft.Batch/batchAccounts/com10",
            "name": "com10",
            "type": "Microsoft.Batch/batchAccounts",
            "location": "westeurope",
            "properties": {
              "accountEndpoint": "com10.westeurope.batch.azure.com",
              "nodeManagementEndpoint": "378e616e-9941-438b-b13e-f5aec5dff688.westeurope.service.batch.azure.com",
              "provisioningState": "Succeeded",
              "dedicatedCoreQuota": 1100,
              "dedicatedCoreQuotaPerVMFamily": [
                {
                  "name": "standardAv2Family",
                  "coreQuota": 500
                },
                {
                  "name": "standardDv2Family",
                  "coreQuota": 250
                },
                {
                  "name": "standardDv3Family",
                  "coreQuota": 500
                },
                {
                  "name": "standardEv3Family",
                  "coreQuota": 500
                },
                {
                  "name": "standardDSv2Family",
                  "coreQuota": 250
                },[...]
