{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1312213519?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "171c3653-d991-4f55-90b6-80188514da95",
        "traceresponse": "00-b35e3dc95bba5e58970dbfaa1ae8de0c-b9f686dcb64bca59-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin1312213519. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11577216?includeModelDefinition=true&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a2a2a6be-25ca-45c3-b2f9-5b39a6754413",
        "traceresponse": "00-06c0a2413aa3f450cb36077afaafd19b-867201eabebdfcf8-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;11577216. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B121433740?includeModelDefinition=true&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "acf44241-7427-44ca-849d-bdba653579aa",
        "traceresponse": "00-55c39127995f86d4d22b56916637e945-463b2d50c452e56b-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;121433740. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \"@id\": \"dtmi:example:room;121433740\",    \"@type\": \"Interface\",    \"displayName\": \"Room\",    \"description\": \"An enclosure inside a building.\",    \"contents\": [        {            \"@type\": \"Relationship\",            \"name\": \"containedIn\",            \"target\": \"dtmi:example:floor;11577216\"        },        {            \"@type\": \"Property\",            \"name\": \"Temperature\",            \"schema\": \"double\"        },        {            \"@type\": \"Property\",            \"name\": \"Humidity\",            \"schema\": \"double\"        },        {            \"@type\": \"Property\",            \"name\": \"IsOccupied\",            \"schema\": \"boolean\"        },        {            \"@type\": \"Property\",            \"name\": \"EmployeeId\",            \"schema\": \"string\"        }    ],    \"@context\": \"dtmi:dtdl:context;2\"}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "ac241006-d1e6-4aee-a335-07b05a7f981f",
        "traceresponse": "00-d896bcb15c5b082a15a00464261dc79b-12bc21cab9c12e83-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:example:room;121433740\",\"description\":{\"en\":\"An enclosure inside a building.\"},\"displayName\":{\"en\":\"Room\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-02T18:52:47.6344676+00:00\"}]"
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "77684241-1ffe-461a-9b44-64670801a5a3",
        "traceresponse": "00-634cf1b42bcc7fb816ecd026cd1697f5-dd82fc8b4cc9792f-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;113461504",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2025-05-02T18:52:22.5623424+00:00"
          },
          {
            "id": "dtmi:example:room;146003703",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2025-05-02T18:52:22.8961014+00:00"
          },
          {
            "id": "dtmi:example:room;121433740",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2025-05-02T18:52:47.6344676+00:00"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1312213519?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;121433740"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"94ea4905-0040-4606-b8b8-6620740584ba\"",
        "mise-correlation-id": "05cc6b9c-c507-4ff2-9645-fda012432703",
        "traceresponse": "00-bca1643f3ad279ba6d210232a9d3a3de-47b4a2dd17013083-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin1312213519",
        "$etag": "W/\"94ea4905-0040-4606-b8b8-6620740584ba\"",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;121433740",
          "$lastUpdateTime": "2025-05-02T18:52:47.7570695Z",
          "Temperature": {
            "lastUpdateTime": "2025-05-02T18:52:47.7570695Z"
          },
          "Humidity": {
            "lastUpdateTime": "2025-05-02T18:52:47.7570695Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2025-05-02T18:52:47.7570695Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2025-05-02T18:52:47.7570695Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1312213519?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;121433740"
        }
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "532e2953-e55d-4d78-872b-cd5fe36ad3cd",
        "traceresponse": "00-29a4e42d471e8c44a88d007566c2e37d-e800a2e7ca220a9b-01",
        "x-ms-error-code": "PreconditionFailed"
      },
      "ResponseBody": {
        "error": {
          "code": "PreconditionFailed",
          "message": "If-None-Match: * header was specified but a twin with the id roomTwin1312213519 was found. Please specify a different twin id."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B121433740?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "f0c16683-b849-49ef-a91e-cd02bfc6da86",
        "traceresponse": "00-223260290a70dd5f20c877b053a7d08f-7ccb91f8da8a96d0-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "1390574046"
  }
}
