{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin2132738458?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "8290698e-b14f-40e3-bdf0-240e6be6adb6",
        "traceresponse": "00-1079204af4fdcc088ef4238433696f36-a7340b7daa35b3ed-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin2132738458. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B13510418?includeModelDefinition=true\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "3c41df2b-befd-49d2-84fb-8d86427df67a",
        "traceresponse": "00-88a0b5d0909bdd7d3ff235118b7f9bfa-f613597383b3318d-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;13510418. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B123445522?includeModelDefinition=true\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "366d375d-e21e-4f58-aa7e-a7f2baaccdfe",
        "traceresponse": "00-16f4a1d56276200cb75e8d86d120d284-586c87fd9fd5ff92-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;123445522. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:room;123445522\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022displayName\u0022: \u0022Room\u0022,    \u0022description\u0022: \u0022An enclosure inside a building.\u0[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "3be3ede0-4d94-4754-8686-ef471c9ec318",
        "traceresponse": "00-51526bc045d3d8228e85da88a52eaa2c-a860455a3216a247-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;180719651",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-07-20T16:56:11.0624733\u002B00:00"
          },
          {
            "id": "dtmi:example:room;151014275",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-07-20T16:56:11.2279247\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;192203971",
            "description": {
        [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin2132738458?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;123445522"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002263613d42-f2a2-4911-8556-6f86f9a1dcdf\u0022",
        "mise-correlation-id": "d6b60b49-7587-4b14-b472-35c2f67a974d",
        "traceresponse": "00-01cb5c9760768431c3ca00a1ed5f0ebc-3a8cfc9bc57c38dd-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin2132738458",
        "$etag": "W/\u002263613d42-f2a2-4911-8556-6f86f9a1dcdf\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;123445522",
          "$lastUpdateTime": "2023-08-08T17:21:59.6859679Z",
          "Temperature": {
            "lastUpdateTime": "2023-08-08T17:21:59.6859679Z"
          },
          "Humidity": {
            "lastUpdateTime": "2023-08-08T17:21:59.6859679Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2023-08-08T17:21:59.6859679Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2023-08-08T17:21:59.6859679Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin2132738458?api-version=2023-06-30",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json-patch\u002Bjson",
        "If-Match": "*"
      },
      "RequestBody": "[{\u0022op\u0022:\u0022add\u0022,\u0022path\u0022:\u0022/Humidity\u0022,\u0022value\u0022:30},{\u0022op\u0022:\u0022replace\u0022,\u0022path\u0022:\u0022/Temperature\u0022,\u0022value\u0022:70},{\u0022op\u0022:\u0022remove\u0022,\u0022path\u0022:\u0022/EmployeeId\u0022}]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022d3aaebce-d262-4b90-bc78-2c70690d19ab\u0022",
        "mise-correlation-id": "39963226-0748-4787-a918-67056c7ce4a8",
        "traceresponse": "00-e36b660e2d44d3472c792a9b547df187-fbb0c165170f7906-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B123445522?api-version=2023-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "79e05c81-cea6-4f77-8896-bfe59a2b2e57",
        "traceresponse": "00-c99ca76479d6cf2f05c1794228d1d4fd-7924606c13cf7f3d-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "1704969346"
  }
}
