{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin295949671?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "9435bec2-e990-465d-98b7-89ecc94e7680",
        "traceresponse": "00-a97ea67436522ddc7fc66cdb66eb9139-fe4bef571def17b2-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin295949671. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B16830078?includeModelDefinition=true&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "85823aae-738f-47d2-932b-641ea4474de6",
        "traceresponse": "00-99efb261c7584993f7cbe74ad3f46c8f-7a954f70f5726574-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;16830078. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B112969444?includeModelDefinition=true&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "45ea5db3-5c5e-46f1-b799-e06b939560e9",
        "traceresponse": "00-55731eed6c695eb6c2f9aa6dcf0c84e1-852140e2cf507ce3-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;112969444. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \"@id\": \"dtmi:example:room;112969444\",    \"@type\": \"Interface\",    \"displayName\": \"Room\",    \"description\": \"An enclosure inside a building.\",    \"contents\": [        {            \"@type\": \"Relationship\",            \"name\": \"containedIn\",            \"target\": \"dtmi:example:floor;16830078\"        },        {            \"@type\": \"Property\",            \"name\": \"Temperature\",            \"schema\": \"double\"        },        {            \"@type\": \"Property\",            \"name\": \"Humidity\",            \"schema\": \"double\"        },        {            \"@type\": \"Property\",            \"name\": \"IsOccupied\",            \"schema\": \"boolean\"        },        {            \"@type\": \"Property\",            \"name\": \"EmployeeId\",            \"schema\": \"string\"        }    ],    \"@context\": \"dtmi:dtdl:context;2\"}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "9fe06b00-fcb8-43bb-a02a-f82fa1517941",
        "traceresponse": "00-f746b1e298278900f0e9b029a7809658-2d29c3aa0c080ac0-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:example:room;112969444\",\"description\":{\"en\":\"An enclosure inside a building.\"},\"displayName\":{\"en\":\"Room\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-02T18:53:44.2993722+00:00\"}]"
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f45f3b45-bb90-4516-8439-c1b7d450e0f7",
        "traceresponse": "00-85cd44b0299e7e68f7908e452bc048d7-1d3c58246296e52c-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;113461504",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2025-05-02T18:52:22.5623424+00:00"
          },
          {
            "id": "dtmi:example:room;146003703",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2025-05-02T18:52:22.8961014+00:00"
          },
          {
            "id": "dtmi:example:Ward;143741483",
            "description": {
              "en": "A separate partition in a building, made of rooms and hallways."
            },
            "displayName": {
              "en": "Ward"
            },
            "decommissioned": false,
            "uploadTime": "2025-05-02T18:53:38.7520649+00:00"
          },
          {
            "id": "dtmi:example:room;112969444",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2025-05-02T18:53:44.2993722+00:00"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin295949671?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;112969444"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"8e3f29a7-0924-4862-ac96-92c9bf7a91fb\"",
        "mise-correlation-id": "d486032f-7714-4864-ad3a-0134c0a94b5a",
        "traceresponse": "00-f546b02559deb4b11fa81ef4c2f1de3a-a2228180b2592d04-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin295949671",
        "$etag": "W/\"8e3f29a7-0924-4862-ac96-92c9bf7a91fb\"",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;112969444",
          "$lastUpdateTime": "2025-05-02T18:53:44.4827435Z",
          "Temperature": {
            "lastUpdateTime": "2025-05-02T18:53:44.4827435Z"
          },
          "Humidity": {
            "lastUpdateTime": "2025-05-02T18:53:44.4827435Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2025-05-02T18:53:44.4827435Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2025-05-02T18:53:44.4827435Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin295949671?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json-patch+json",
        "If-Match": "*"
      },
      "RequestBody": "[{\"op\":\"add\",\"path\":\"/Humidity\",\"value\":30},{\"op\":\"replace\",\"path\":\"/Temperature\",\"value\":70},{\"op\":\"remove\",\"path\":\"/EmployeeId\"}]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\"c7f22dc7-1f48-4d4b-a7d1-f43e35b0cabd\"",
        "mise-correlation-id": "83655633-395e-4954-8c36-b2e5de793b17",
        "traceresponse": "00-2b43a1b3d411a2cd45a94b9db47fd02a-ccc5c2ea1ca1eb7d-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B112969444?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "c327c0b2-a303-47c2-b37e-a1473b0ec5ea",
        "traceresponse": "00-2128b9d940b34b0b34192a0cba7f1bec-5cd5097df64393b0-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "533144455"
  }
}
