{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/cc943344-3e50-4367-928f-79e03a97639d?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": {
        "id": "/subscriptions/cc943344-3e50-4367-928f-79e03a97639d",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "cc943344-3e50-4367-928f-79e03a97639d",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "ACI Test Automation 1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/cc943344-3e50-4367-928f-79e03a97639d/resourcegroups/testRg6929?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/cc943344-3e50-4367-928f-79e03a97639d/resourceGroups/testRg6929",
        "name": "testRg6929",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/cc943344-3e50-4367-928f-79e03a97639d/resourceGroups/testRg6929/providers/Microsoft.ContainerInstance/containerGroupProfiles/containergrpcgp2923?api-version=2024-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "containers": [
            {
              "name": "containergrpcgp2923",
              "properties": {
                "image": "alpine",
                "command": [
                  "/bin/sh",
                  "-c",
                  "while true; do sleep 10; done"
                ],
                "ports": [
                  {
                    "port": 80
                  }
                ],
                "environmentVariables": [
                  {
                    "name": "secretEnv",
                    "secureValue": "secretValue1"
                  }
                ],
                "resources": {
                  "requests": {
                    "memoryInGB": 1.5,
                    "cpu": 1
                  }
                },
                "securityContext": {
                  "privileged": false
                }
              }
            }
          ],
          "restartPolicy": "Never",
          "ipAddress": {
            "ports": [
              {
                "protocol": "TCP",
                "port": 80
              }
            ],
            "type": "Public"
          },
          "osType": "Linux",
          "sku": "Confidential",
          "initContainers": [
            {
              "name": "containergrpcgp2923init",
              "properties": {
                "image": "alpine",
                "command": [
                  "/bin/sh",
                  "-c",
                  "sleep 5"
                ],
                "environmentVariables": [
                  {
                    "name": "secretEnv",
                    "secureValue": "secretValue1"
                  }
                ],
                "securityContext": {
                  "privileged": false
                }
              }
            }
          ],
          "confidentialComputeProperties": {
            "ccePolicy": "eyJhbGxvd19hbGwiOiB0cnVlLCAiY29udGFpbmVycyI6IHsibGVuZ3RoIjogMCwgImVsZW1lbnRzIjogbnVsbH19"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "properties": {
          "sku": "Confidential",
          "containers": [
            {
              "name": "containergrpcgp2923",
              "properties": [...]
[...]
