{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-1939?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "name-1939",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "Hello World"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"zhc0EWBu87wxWskvoHz8aFb4NP-MPdwC7w3XQ3VCQpA\"",
        "Last-Modified": "Tue, 08 Oct 2024 17:21:10 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzU5Nzg0OTMw;sn=59784930"
      },
      "ResponseBody": {
        "etag": "zhc0EWBu87wxWskvoHz8aFb4NP-MPdwC7w3XQ3VCQpA",
        "key": "name-1939",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "Hello World",
        "tags": {},
        "locked": false,
        "last_modified": "2024-10-08T17:21:10+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-1939?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzU5Nzg0OTMw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"zhc0EWBu87wxWskvoHz8aFb4NP-MPdwC7w3XQ3VCQpA\"",
        "Last-Modified": "Tue, 08 Oct 2024 17:21:10 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzU5Nzg0OTMw;sn=59784930"
      },
      "ResponseBody": {
        "etag": "zhc0EWBu87wxWskvoHz8aFb4NP-MPdwC7w3XQ3VCQpA",
        "key": "name-1939",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "Hello World",
        "tags": {},
        "locked": false,
        "last_modified": "2024-10-08T17:21:10+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-1939?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzU5Nzg0OTMw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"zhc0EWBu87wxWskvoHz8aFb4NP-MPdwC7w3XQ3VCQpA\"",
        "Last-Modified": "Tue, 08 Oct 2024 17:21:10 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzU5Nzg0OTMx;sn=59784931"
      },
      "ResponseBody": {
        "etag": "zhc0EWBu87wxWskvoHz8aFb4NP-MPdwC7w3XQ3VCQpA",
        "key": "name-1939",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "Hello World",
        "tags": {},
        "locked": false,
        "last_modified": "2024-10-08T17:21:10+00:00"
      }
    }
  ],
  "Variables": {
    "name-1": "name-1939"
  }
}
