{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-1360?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "name-1360",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "Hello World"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uSC74NiTyI_okc-D5vPGUxeucf9NBgeGmcppKw-4ZJs\"",
        "Last-Modified": "Fri, 23 Jan 2026 09:01:54 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDg1MQ==;sn=103584851",
        "x-ms-date": "Fri, 23 Jan 2026 09:01:54 GMT"
      },
      "ResponseBody": {
        "etag": "uSC74NiTyI_okc-D5vPGUxeucf9NBgeGmcppKw-4ZJs",
        "key": "name-1360",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "Hello World",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T09:01:54+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-1360?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4NDg1MQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uSC74NiTyI_okc-D5vPGUxeucf9NBgeGmcppKw-4ZJs\"",
        "Last-Modified": "Fri, 23 Jan 2026 09:01:54 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDg1MQ==;sn=103584851",
        "x-ms-date": "Fri, 23 Jan 2026 09:01:55 GMT"
      },
      "ResponseBody": {
        "etag": "uSC74NiTyI_okc-D5vPGUxeucf9NBgeGmcppKw-4ZJs",
        "key": "name-1360",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "Hello World",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T09:01:54+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-1360?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4NDg1MQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uSC74NiTyI_okc-D5vPGUxeucf9NBgeGmcppKw-4ZJs\"",
        "Last-Modified": "Fri, 23 Jan 2026 09:01:54 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDg1Mg==;sn=103584852",
        "x-ms-date": "Fri, 23 Jan 2026 09:01:55 GMT"
      },
      "ResponseBody": {
        "etag": "uSC74NiTyI_okc-D5vPGUxeucf9NBgeGmcppKw-4ZJs",
        "key": "name-1360",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "Hello World",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T09:01:54+00:00"
      }
    }
  ],
  "Variables": {
    "name-1": "name-1360"
  }
}
