{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-1959?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "name-1959",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "Hello World"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"aRQX1MYeF3AW3rOW7iMtDRbFfaThxfInOB_SkHq7CXs\"",
        "Last-Modified": "Sun, 26 Oct 2025 08:09:59 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTgwNDQ=;sn=74858044",
        "x-ms-date": "Sun, 26 Oct 2025 08:09:59 GMT"
      },
      "ResponseBody": {
        "etag": "aRQX1MYeF3AW3rOW7iMtDRbFfaThxfInOB_SkHq7CXs",
        "key": "name-1959",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "Hello World",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T08:09:59+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-1959?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTgwNDQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"aRQX1MYeF3AW3rOW7iMtDRbFfaThxfInOB_SkHq7CXs\"",
        "Last-Modified": "Sun, 26 Oct 2025 08:09:59 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTgwNDQ=;sn=74858044",
        "x-ms-date": "Sun, 26 Oct 2025 08:09:59 GMT"
      },
      "ResponseBody": {
        "etag": "aRQX1MYeF3AW3rOW7iMtDRbFfaThxfInOB_SkHq7CXs",
        "key": "name-1959",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "Hello World",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T08:09:59+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-1959?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTgwNDQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"aRQX1MYeF3AW3rOW7iMtDRbFfaThxfInOB_SkHq7CXs\"",
        "Last-Modified": "Sun, 26 Oct 2025 08:09:59 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTgwNDU=;sn=74858045",
        "x-ms-date": "Sun, 26 Oct 2025 08:10:00 GMT"
      },
      "ResponseBody": {
        "etag": "aRQX1MYeF3AW3rOW7iMtDRbFfaThxfInOB_SkHq7CXs",
        "key": "name-1959",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "Hello World",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T08:09:59+00:00"
      }
    }
  ],
  "Variables": {
    "name-1": "name-1959"
  }
}
