{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-1386?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "name-1386",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "[]"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"5zkCiKnDtw1OKKMRqoPdhjAUVOql1Fm6uHeQ9naCH0o\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:23:15 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ4MDA1NQ==;sn=102480055",
        "x-ms-date": "Tue, 13 Jan 2026 06:23:15 GMT"
      },
      "ResponseBody": {
        "etag": "5zkCiKnDtw1OKKMRqoPdhjAUVOql1Fm6uHeQ9naCH0o",
        "key": "name-1386",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "[]",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-13T06:23:15+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-1386?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ4MDA1NQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"5zkCiKnDtw1OKKMRqoPdhjAUVOql1Fm6uHeQ9naCH0o\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:23:15 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ4MDA1NQ==;sn=102480055",
        "x-ms-date": "Tue, 13 Jan 2026 06:23:15 GMT"
      },
      "ResponseBody": {
        "etag": "5zkCiKnDtw1OKKMRqoPdhjAUVOql1Fm6uHeQ9naCH0o",
        "key": "name-1386",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "[]",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-13T06:23:15+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-1386?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ4MDA1NQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"5zkCiKnDtw1OKKMRqoPdhjAUVOql1Fm6uHeQ9naCH0o\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:23:15 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ4MDA1Ng==;sn=102480056",
        "x-ms-date": "Tue, 13 Jan 2026 06:23:15 GMT"
      },
      "ResponseBody": {
        "etag": "5zkCiKnDtw1OKKMRqoPdhjAUVOql1Fm6uHeQ9naCH0o",
        "key": "name-1386",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "[]",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-13T06:23:15+00:00"
      }
    }
  ],
  "Variables": {
    "name-1": "name-1386"
  }
}
