{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-1252?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "name-1252",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "Hello World"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lYOuuKxvwlEmzretRhHbCv8nCFmIkQ_yqmVBMGWKBQ8\"",
        "Last-Modified": "Thu, 02 Oct 2025 17:07:46 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzUzNzI=;sn=74235372"
      },
      "ResponseBody": {
        "etag": "lYOuuKxvwlEmzretRhHbCv8nCFmIkQ_yqmVBMGWKBQ8",
        "key": "name-1252",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "Hello World",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T17:07:46+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-1252?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzUzNzI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lYOuuKxvwlEmzretRhHbCv8nCFmIkQ_yqmVBMGWKBQ8\"",
        "Last-Modified": "Thu, 02 Oct 2025 17:07:46 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzUzNzI=;sn=74235372"
      },
      "ResponseBody": {
        "etag": "lYOuuKxvwlEmzretRhHbCv8nCFmIkQ_yqmVBMGWKBQ8",
        "key": "name-1252",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "Hello World",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T17:07:46+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-1252?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzUzNzI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lYOuuKxvwlEmzretRhHbCv8nCFmIkQ_yqmVBMGWKBQ8\"",
        "Last-Modified": "Thu, 02 Oct 2025 17:07:46 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzUzNzM=;sn=74235373"
      },
      "ResponseBody": {
        "etag": "lYOuuKxvwlEmzretRhHbCv8nCFmIkQ_yqmVBMGWKBQ8",
        "key": "name-1252",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "Hello World",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T17:07:46+00:00"
      }
    }
  ],
  "Variables": {
    "name-1": "name-1252"
  }
}
