{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-1629?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "name-1629",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "[]"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"J4tXe77NMFgS7VOtxOLKRcvYmXam2Fgj-2lwnZkxZPU\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:44:01 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDU2MDU=;sn=74105605"
      },
      "ResponseBody": {
        "etag": "J4tXe77NMFgS7VOtxOLKRcvYmXam2Fgj-2lwnZkxZPU",
        "key": "name-1629",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "[]",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-29T09:44:01+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-1629?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDU2MDU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"J4tXe77NMFgS7VOtxOLKRcvYmXam2Fgj-2lwnZkxZPU\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:44:01 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDU2MDU=;sn=74105605"
      },
      "ResponseBody": {
        "etag": "J4tXe77NMFgS7VOtxOLKRcvYmXam2Fgj-2lwnZkxZPU",
        "key": "name-1629",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "[]",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-29T09:44:01+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-1629?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDU2MDU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"J4tXe77NMFgS7VOtxOLKRcvYmXam2Fgj-2lwnZkxZPU\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:44:01 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDU2MDY=;sn=74105606"
      },
      "ResponseBody": {
        "etag": "J4tXe77NMFgS7VOtxOLKRcvYmXam2Fgj-2lwnZkxZPU",
        "key": "name-1629",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "[]",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-29T09:44:01+00:00"
      }
    }
  ],
  "Variables": {
    "name-1": "name-1629"
  }
}
