{
  "Entries": [
    {
      "RequestUri": "https://t729561e092ecf3cbprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 12 Sep 2024 19:05:21 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": {
        "TableName": "testtablei5z4ovig"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://t729561e092ecf3cbprim.table.core.windows.net/Tables('testtablei5z4ovig')",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": {
        "odata.metadata": "https://t729561e092ecf3cbprim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "testtablei5z4ovig"
      }
    },
    {
      "RequestUri": "https://t729561e092ecf3cbprim.table.core.windows.net/testtablei5z4ovig()?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 12 Sep 2024 19:05:21 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": {
        "odata.metadata": "https://t729561e092ecf3cbprim.table.core.windows.net/$metadata#testtablei5z4ovig",
        "value": []
      }
    },
    {
      "RequestUri": "https://t729561e092ecf3cbprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 12 Sep 2024 19:05:22 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": {
        "odata.metadata": "https://t729561e092ecf3cbprim.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "testtablei5z4ovig"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t729561e092ecf3cbprim.table.core.windows.net/Tables('testtablei5z4ovig')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 12 Sep 2024 19:05:22 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1153956899",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "Kg==",
    "TABLES_STORAGE_ACCOUNT_NAME": "t729561e092ecf3cbprim"
  }
}
