{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/88888888-8888-8888-8888-888888888888?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/88888888-8888-8888-8888-888888888888",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "00000000-0000-0000-0000-000000000000"
          }
        ],
        "tags": {
          "Az.Sec.DisableLocalAuth.Storage::OptIn": "all_regions",
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions",
          "Az.Sec.DisableLocalAuth.SqlServer::OptIn": "all_regions",
          "Az.Sec.DisableLocalAuth.SqlManagedInstance::Opt-In": "all_regions",
          "tagKey2": "tag-value-2",
          "DDFunMDCTag": "Public",
          "Az.Sec.DisableLocalAuth.CosmosDB::OptIn": "all_regions",
          "Owner": "azsdk",
          "Az.Sec.DenySubnetOutboundAccess::OptIn": "all_regions",
          "Az.Sec.DisableLocalAuth.ServiceBus::OptIn": "all_regions",
          "SecurePaaS.NetworkSecurityPerimeter::Onboarding": "single_region",
          "Az.Sec.DisableLocalAuth.SqlServer.V2::OptIn": "all_regions",
          "Az.Sec.DisableLocalAuth.RedisCache::OptIn": "all_regions",
          "Az.Sec.DisableLocalAuth.EventHub::OptIn": "all_regions",
          "tagKey1": "tag-value-1",
          "Az.Sec.DisableLocalAuth.CognitiveServices::OptIn": "all_regions",
          "DDFunSupport_Onboarded": "01122026",
          "Az.Sec.DisableLocalAuth.CognitiveServices::Skip": "foundrytest",
          "Az.Sec.DisableLocalAuth.SqlManagedInstance::OptIn": "all_regions"
        },
        "subscriptionId": "88888888-8888-8888-8888-888888888888",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure SDK Developer Playground",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    }
  ],
  "Variables": {}
}
