{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting0A26838?api-version=2023-11-01&label=listConfigSettingsLabelA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting0A26838",
        "label": "listConfigSettingsLabelA",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"k_FHwMxIx6ATSsUWhv9B2Rczlq-WjCwjgOZutxjXSps\"",
        "Last-Modified": "Tue, 08 Oct 2024 17:14:30 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzU5NzgzNjAz;sn=59783603"
      },
      "ResponseBody": {
        "etag": "k_FHwMxIx6ATSsUWhv9B2Rczlq-WjCwjgOZutxjXSps",
        "key": "listConfigSetting0A26838",
        "label": "listConfigSettingsLabelA",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2024-10-08T17:14:30+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/labels?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzU5NzgzNjAz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzU5NzgzNjAz;sn=59783603"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "listConfigSettingsLabelA"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting0A26838",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzU5NzgzNjAz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"I09_u6caDqAiIiu-VQluGz0Yi89LdDUVcnKkgGda_-U\"",
        "Sync-Token": "zAJw6V16=NTo1IzU5NzgzNjAz;sn=59783603"
      },
      "ResponseBody": {
        "etag": "I09_u6caDqAiIiu-VQluGz0Yi89LdDUVcnKkgGda_-U",
        "items": [
          {
            "etag": "k_FHwMxIx6ATSsUWhv9B2Rczlq-WjCwjgOZutxjXSps",
            "key": "listConfigSetting0A26838",
            "label": "listConfigSettingsLabelA",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {
              "production": "A",
              "value": "1"
            },
            "locked": false,
            "last_modified": "2024-10-08T17:14:30+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting0A26838?api-version=2023-11-01&label=listConfigSettingsLabelA",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzU5NzgzNjAz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"k_FHwMxIx6ATSsUWhv9B2Rczlq-WjCwjgOZutxjXSps\"",
        "Last-Modified": "Tue, 08 Oct 2024 17:14:30 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzU5NzgzNjA0;sn=59783604"
      },
      "ResponseBody": {
        "etag": "k_FHwMxIx6ATSsUWhv9B2Rczlq-WjCwjgOZutxjXSps",
        "key": "listConfigSetting0A26838",
        "label": "listConfigSettingsLabelA",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2024-10-08T17:14:30+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting0A": "listConfigSetting0A26838",
    "listConfigSetting0B": "listConfigSetting0B45521"
  }
}
