{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting2A82279?api-version=2023-11-01&label=listConfigSettingsLabelA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting2A82279",
        "label": "listConfigSettingsLabelA",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"n2qEFB7iPALdVsOI1lqylNeIOuMPbxSOIZfwykO3cBo\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:29:04 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3NDAxNzE=;sn=73740171"
      },
      "ResponseBody": {
        "etag": "n2qEFB7iPALdVsOI1lqylNeIOuMPbxSOIZfwykO3cBo",
        "key": "listConfigSetting2A82279",
        "label": "listConfigSettingsLabelA",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-09-16T11:29:04+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/labels?name=listConfigSettingsLabelA&api-version=2023-11-01&$Select=name",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3NDAxNzE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3NDAxNzE=;sn=73740171"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "listConfigSettingsLabelA"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/labels?name=listConfigSettingsLabelA&api-version=2023-11-01&$Select=name",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3NDAxNzE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3NDAxNzE=;sn=73740171"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "listConfigSettingsLabelA"
          }
        ]
      }
    }
  ],
  "Variables": {
    "listConfigSetting2A": "listConfigSetting2A82279",
    "listConfigSetting2B": "listConfigSetting2B57452"
  }
}
