{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting2A336?api-version=2023-11-01&label=listConfigSettingsLabelA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting2A336",
        "label": "listConfigSettingsLabelA",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lFL4YVHodKN1kTr6I5gIOVdzzVNg80nsr21Cq_PHDTg\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:14:24 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3ODUwOQ==;sn=102478509",
        "x-ms-date": "Tue, 13 Jan 2026 06:14:24 GMT"
      },
      "ResponseBody": {
        "etag": "lFL4YVHodKN1kTr6I5gIOVdzzVNg80nsr21Cq_PHDTg",
        "key": "listConfigSetting2A336",
        "label": "listConfigSettingsLabelA",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-01-13T06:14:24+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/labels?$select=name&api-version=2023-11-01&name=listConfigSettingsLabelA",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3ODUwOQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3ODUwOQ==;sn=102478509",
        "x-ms-date": "Tue, 13 Jan 2026 06:14:25 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "listConfigSettingsLabelA"
          }
        ]
      }
    }
  ],
  "Variables": {
    "listConfigSetting2A": "listConfigSetting2A336",
    "listConfigSetting2B": "listConfigSetting2B50065"
  }
}
