{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting0A74998?api-version=2023-11-01&label=listConfigSettingsLabelA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting0A74998",
        "label": "listConfigSettingsLabelA",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0WhIP25cOemnW3Qr29an95SgzIPt-5bv6lZXhLTDXGA\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:53:03 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4MzI1NQ==;sn=103583255",
        "x-ms-date": "Fri, 23 Jan 2026 08:53:03 GMT"
      },
      "ResponseBody": {
        "etag": "0WhIP25cOemnW3Qr29an95SgzIPt-5bv6lZXhLTDXGA",
        "key": "listConfigSetting0A74998",
        "label": "listConfigSettingsLabelA",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-01-23T08:53:03+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/labels?api-version=2023-11-01&name=listConfigSettingsLabelA",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4MzI1NQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4MzI1NQ==;sn=103583255",
        "x-ms-date": "Fri, 23 Jan 2026 08:53:03 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "listConfigSettingsLabelA"
          }
        ]
      }
    }
  ],
  "Variables": {
    "listConfigSetting0A": "listConfigSetting0A74998",
    "listConfigSetting0B": "listConfigSetting0B44229"
  }
}
