{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting0A39558?api-version=2023-11-01&label=listConfigSettingsLabelA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "listConfigSettingsLabelA",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"F_yWOKTO-JVeMrt8OTOL4eKnq6hDbhTKHbD74k4eAQw\"",
        "Last-Modified": "Thu, 07 May 2026 20:23:47 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MTQwNg==;sn=113151406",
        "x-ms-date": "Thu, 07 May 2026 20:23:47 GMT"
      },
      "ResponseBody": {
        "etag": "F_yWOKTO-JVeMrt8OTOL4eKnq6hDbhTKHbD74k4eAQw",
        "key": "listConfigSetting0A39558",
        "label": "listConfigSettingsLabelA",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-05-07T20:23:47+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/labels?api-version=2023-11-01&name=listConfigSettingsLabelA",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MTQwNg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MTQwNg==;sn=113151406",
        "x-ms-date": "Thu, 07 May 2026 20:23:47 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "listConfigSettingsLabelA"
          }
        ]
      }
    }
  ],
  "Variables": {
    "listConfigSetting0A": "listConfigSetting0A39558",
    "listConfigSetting0B": "listConfigSetting0B96686"
  }
}
