{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting3A482?api-version=2023-11-01&label=listConfigSettingsLabelA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "listConfigSettingsLabelA",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4EAmhbLx7mkQcGQ1SJ8BT3k-4j7j0SOoC7u8aVkLEaA\"",
        "Last-Modified": "Thu, 07 May 2026 20:23:51 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MTQxMQ==;sn=113151411",
        "x-ms-date": "Thu, 07 May 2026 20:23:51 GMT"
      },
      "ResponseBody": {
        "etag": "4EAmhbLx7mkQcGQ1SJ8BT3k-4j7j0SOoC7u8aVkLEaA",
        "key": "listConfigSetting3A482",
        "label": "listConfigSettingsLabelA",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-05-07T20:23:51+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/labels?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "accept-datetime": "2026-05-07T20:23:51.000Z",
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MTQxMQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=2023-11-01>; rel=\"original\"",
        "Memento-Datetime": "Thu, 07 May 2026 20:23:51 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MTQxMQ==;sn=113151411",
        "x-ms-date": "Thu, 07 May 2026 20:23:51 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "listConfigSettingsLabelA"
          }
        ]
      }
    }
  ],
  "Variables": {
    "listConfigSetting3A": "listConfigSetting3A482",
    "listConfigSetting3B": "listConfigSetting3B89121"
  }
}
