{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting2A95815?api-version=2023-11-01&label=listConfigSettingsLabelA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting2A95815",
        "label": "listConfigSettingsLabelA",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1itm5-S3heWg9t_m3ZXKu2lco7v9fV3Fi09RyxYIOK8\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:43:36 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDA5Mzg=;sn=73800938"
      },
      "ResponseBody": {
        "etag": "1itm5-S3heWg9t_m3ZXKu2lco7v9fV3Fi09RyxYIOK8",
        "key": "listConfigSetting2A95815",
        "label": "listConfigSettingsLabelA",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-09-18T02:43:36+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/labels?%24select=name&api-version=2023-11-01&name=listConfigSettingsLabelA",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDA5Mzg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDA5Mzg=;sn=73800938"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "listConfigSettingsLabelA"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/labels?%24select=name&api-version=2023-11-01&name=listConfigSettingsLabelA",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDA5Mzg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDA5Mzg=;sn=73800938"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "listConfigSettingsLabelA"
          }
        ]
      }
    }
  ],
  "Variables": {
    "listConfigSetting2A": "listConfigSetting2A95815",
    "listConfigSetting2B": "listConfigSetting2B66742"
  }
}
