{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting0A44949?api-version=2023-11-01&label=listConfigSettingsLabelA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting0A44949",
        "label": "listConfigSettingsLabelA",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"oPYpZzc9zFEy5WRcPvMJQKmzTN5vWeCzUAxCN9JJwrA\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:14:19 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3ODUwNQ==;sn=102478505",
        "x-ms-date": "Tue, 13 Jan 2026 06:14:19 GMT"
      },
      "ResponseBody": {
        "etag": "oPYpZzc9zFEy5WRcPvMJQKmzTN5vWeCzUAxCN9JJwrA",
        "key": "listConfigSetting0A44949",
        "label": "listConfigSettingsLabelA",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-01-13T06:14:19+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/labels?api-version=2023-11-01&name=listConfigSettingsLabelA",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3ODUwNQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3ODUwNQ==;sn=102478505",
        "x-ms-date": "Tue, 13 Jan 2026 06:14:19 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "listConfigSettingsLabelA"
          }
        ]
      }
    }
  ],
  "Variables": {
    "listConfigSetting0A": "listConfigSetting0A44949",
    "listConfigSetting0B": "listConfigSetting0B16269"
  }
}
