{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting1A72970?api-version=2023-11-01&label=listConfigSettingsLabelA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting1A72970",
        "label": "listConfigSettingsLabelA",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"rIZmbxfT1QXrZ1oL5t6x1VviapNk92uzJAHI9-X05VM\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:58:16 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzQwNTA=;sn=74234050"
      },
      "ResponseBody": {
        "etag": "rIZmbxfT1QXrZ1oL5t6x1VviapNk92uzJAHI9-X05VM",
        "key": "listConfigSetting1A72970",
        "label": "listConfigSettingsLabelA",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-10-02T16:58:16+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting1B62019?api-version=2023-11-01&label=listConfigSettingsLabelB",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzQwNTA="
      },
      "RequestBody": {
        "key": "listConfigSetting1B62019",
        "label": "listConfigSettingsLabelB",
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"bUTOT_A7NNR5DbsbKbmvDjgnZGMi3Z85u72uLWnvFtA\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:58:16 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzQwNTE=;sn=74234051"
      },
      "ResponseBody": {
        "etag": "bUTOT_A7NNR5DbsbKbmvDjgnZGMi3Z85u72uLWnvFtA",
        "key": "listConfigSetting1B62019",
        "label": "listConfigSettingsLabelB",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-10-02T16:58:16+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/labels?name=listConfigSettingsLabel*&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzQwNTE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzQwNTE=;sn=74234051"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "listConfigSettingsLabelA"
          },
          {
            "name": "listConfigSettingsLabelB"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting1B62019",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzQwNTE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"RpTdtA7D-IvJvTlZSWmZqKdXe64Ga6bapufhKRYECyQ\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzQwNTE=;sn=74234051"
      },
      "ResponseBody": {
        "etag": "RpTdtA7D-IvJvTlZSWmZqKdXe64Ga6bapufhKRYECyQ",
        "items": [
          {
            "etag": "bUTOT_A7NNR5DbsbKbmvDjgnZGMi3Z85u72uLWnvFtA",
            "key": "listConfigSetting1B62019",
            "label": "listConfigSettingsLabelB",
            "content_type": null,
            "value": "[B] production value",
            "tags": {
              "production": "B",
              "value": "2"
            },
            "locked": false,
            "last_modified": "2025-10-02T16:58:16+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting1B62019?api-version=2023-11-01&label=listConfigSettingsLabelB",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzQwNTE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"bUTOT_A7NNR5DbsbKbmvDjgnZGMi3Z85u72uLWnvFtA\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:58:16 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzQwNTI=;sn=74234052"
      },
      "ResponseBody": {
        "etag": "bUTOT_A7NNR5DbsbKbmvDjgnZGMi3Z85u72uLWnvFtA",
        "key": "listConfigSetting1B62019",
        "label": "listConfigSettingsLabelB",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-10-02T16:58:16+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting1A": "listConfigSetting1A72970",
    "listConfigSetting1B": "listConfigSetting1B62019"
  }
}
