{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting3A10499?api-version=2023-11-01&label=listConfigSettingsLabelA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting3A10499",
        "label": "listConfigSettingsLabelA",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"R4JKlIDc42zxHQam5fXJh9pVe1zbrbVJRVapUKt9KYY\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:43:39 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDA5Mzk=;sn=73800939"
      },
      "ResponseBody": {
        "etag": "R4JKlIDc42zxHQam5fXJh9pVe1zbrbVJRVapUKt9KYY",
        "key": "listConfigSetting3A10499",
        "label": "listConfigSettingsLabelA",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-09-18T02:43:39+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/labels?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "accept-datetime": "2025-09-18T02:43:39.000Z",
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDA5Mzk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=2023-11-01>; rel=\"original\"",
        "Memento-Datetime": "Thu, 18 Sep 2025 02:43:39 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDA5Mzk=;sn=73800939"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "listConfigSettingsLabelA"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/labels?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "accept-datetime": "2025-09-18T02:43:39.000Z",
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDA5Mzk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=2023-11-01>; rel=\"original\"",
        "Memento-Datetime": "Thu, 18 Sep 2025 02:43:39 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDA5Mzk=;sn=73800939"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "listConfigSettingsLabelA"
          }
        ]
      }
    }
  ],
  "Variables": {
    "listConfigSetting3A": "listConfigSetting3A10499",
    "listConfigSetting3B": "listConfigSetting3B22081"
  }
}
