{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting3A88538?api-version=2023-11-01&label=listConfigSettingsLabelA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting3A88538",
        "label": "listConfigSettingsLabelA",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Ca9ErRXi63CdZuVHiWC0hTWs66oE2czFr6B7PZGupTY\"",
        "Last-Modified": "Tue, 08 Oct 2024 17:14:44 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzU5NzgzNjIx;sn=59783621"
      },
      "ResponseBody": {
        "etag": "Ca9ErRXi63CdZuVHiWC0hTWs66oE2czFr6B7PZGupTY",
        "key": "listConfigSetting3A88538",
        "label": "listConfigSettingsLabelA",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2024-10-08T17:14:44+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/labels?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "accept-datetime": "2024-10-08T17:14:44.000Z",
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzU5NzgzNjIx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=2023-11-01>; rel=\"original\"",
        "Memento-Datetime": "Tue, 08 Oct 2024 17:14:44 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzU5NzgzNjIz;sn=59783623"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "listConfigSettingsLabelA"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting3A88538",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzU5NzgzNjIz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"Suw8DLerMqxUwAt5lFQT-d51GUyggI9RSBR2GM6OnNs\"",
        "Sync-Token": "zAJw6V16=NTo1IzU5NzgzNjIz;sn=59783623"
      },
      "ResponseBody": {
        "etag": "Suw8DLerMqxUwAt5lFQT-d51GUyggI9RSBR2GM6OnNs",
        "items": [
          {
            "etag": "Ca9ErRXi63CdZuVHiWC0hTWs66oE2czFr6B7PZGupTY",
            "key": "listConfigSetting3A88538",
            "label": "listConfigSettingsLabelA",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {
              "production": "A",
              "value": "1"
            },
            "locked": false,
            "last_modified": "2024-10-08T17:14:44+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting3A88538?api-version=2023-11-01&label=listConfigSettingsLabelA",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzU5NzgzNjIz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Ca9ErRXi63CdZuVHiWC0hTWs66oE2czFr6B7PZGupTY\"",
        "Last-Modified": "Tue, 08 Oct 2024 17:14:44 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzU5NzgzNjI0;sn=59783624"
      },
      "ResponseBody": {
        "etag": "Ca9ErRXi63CdZuVHiWC0hTWs66oE2czFr6B7PZGupTY",
        "key": "listConfigSetting3A88538",
        "label": "listConfigSettingsLabelA",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2024-10-08T17:14:44+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting3A": "listConfigSetting3A88538",
    "listConfigSetting3B": "listConfigSetting3B13085"
  }
}
