{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com//language/authoring/analyze-text/projects/MyImportTextProject0902/:import?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "projectFileVersion": "2022-05-01",
        "stringIndexType": "Utf16CodeUnit",
        "metadata": {
          "projectKind": "CustomSingleLabelClassification",
          "storageInputContainerName": "single-class-example",
          "projectName": "MyImportTextProject0902",
          "language": "en",
          "description": "This is a sample dataset provided by the Azure Language service team to help users get started with Custom named entity recognition. The provided sample dataset contains 20 loan agreements drawn up between two entities.",
          "multilingual": false,
          "settings": {}
        },
        "assets": {
          "classes": [
            {
              "category": "Date"
            },
            {
              "category": "LenderName"
            },
            {
              "category": "LenderAddress"
            }
          ],
          "documents": [
            {
              "class": {
                "category": "Date"
              },
              "location": "01.txt",
              "language": "en"
            },
            {
              "class": {
                "category": "LenderName"
              },
              "location": "02.txt",
              "language": "en"
            }
          ],
          "projectKind": "CustomSingleLabelClassification"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/MyImportTextProject0902/import/jobs/610d71a1-1621-4349-a679-f84ef3726de7_639055872000000000?api-version=2025-05-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/MyImportTextProject0902/import/jobs/610d71a1-1621-4349-a679-f84ef3726de7_639055872000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "610d71a1-1621-4349-a679-f84ef3726de7_639055872000000000",
        "createdDateTime": "2026-02-02T23:16:35Z",
        "lastUpdatedDateTime": "2026-02-02T23:16:35Z",
        "expirationDateTime": "2026-02-09T23:16:35Z",
        "status": "running"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/MyImportTextProject0902/import/jobs/610d71a1-1621-4349-a679-f84ef3726de7_639055872000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "610d71a1-1621-4349-a679-f84ef3726de7_639055872000000000",
        "createdDateTime": "2026-02-02T23:16:35Z",
        "lastUpdatedDateTime": "2026-02-02T23:16:35Z",
        "expirationDateTime": "2026-02-09T23:16:35Z",
        "status": "succeeded"
      }
    }
  ],
  "Variables": {}
}
