{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/deployments/:swap?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "firstDeploymentName": "deployment1",
        "secondDeploymentName": "deployment0902"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/deployments/swap/jobs/3deb9e07-6e96-4084-8d2d-f2bce60c276c_639055872000000000?api-version=2025-05-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/deployments/swap/jobs/3deb9e07-6e96-4084-8d2d-f2bce60c276c_639055872000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "3deb9e07-6e96-4084-8d2d-f2bce60c276c_639055872000000000",
        "createdDateTime": "2026-02-02T23:18:06Z",
        "lastUpdatedDateTime": "2026-02-02T23:18:06Z",
        "expirationDateTime": "2026-02-09T23:18:06Z",
        "status": "notStarted"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/deployments/swap/jobs/3deb9e07-6e96-4084-8d2d-f2bce60c276c_639055872000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "3deb9e07-6e96-4084-8d2d-f2bce60c276c_639055872000000000",
        "createdDateTime": "2026-02-02T23:18:06Z",
        "lastUpdatedDateTime": "2026-02-02T23:18:09Z",
        "expirationDateTime": "2026-02-09T23:18:06Z",
        "status": "succeeded"
      }
    }
  ],
  "Variables": {}
}
