{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/:train?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "modelLabel": "model0902",
        "trainingConfigVersion": "2022-05-01",
        "evaluationOptions": {
          "kind": "percentage",
          "testingSplitPercentage": 20,
          "trainingSplitPercentage": 80
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/train/jobs/78267ca6-6fb5-4fdd-ac07-22abab840240_639055872000000000?api-version=2025-05-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/train/jobs/78267ca6-6fb5-4fdd-ac07-22abab840240_639055872000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "result": {
          "modelLabel": "model0902",
          "trainingConfigVersion": "2022-05-01",
          "trainingStatus": {
            "percentComplete": 0,
            "status": "notStarted"
          },
          "evaluationStatus": {
            "percentComplete": 0,
            "status": "notStarted"
          }
        },
        "jobId": "78267ca6-6fb5-4fdd-ac07-22abab840240_639055872000000000",
        "createdDateTime": "2026-02-02T23:19:07Z",
        "lastUpdatedDateTime": "2026-02-02T23:19:07Z",
        "expirationDateTime": "2026-02-09T23:19:07Z",
        "status": "notStarted"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/train/jobs/78267ca6-6fb5-4fdd-ac07-22abab840240_639055872000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "result": {
          "modelLabel": "model0902",
          "trainingConfigVersion": "2022-05-01",
          "trainingStatus": {
            "percentComplete": 100,
            "startDateTime": "2026-02-02T23:19:15.3046282Z",
            "endDateTime": "2026-02-02T23:19:34.7536733Z",
            "status": "succeeded"
          },
          "evaluationStatus": {
            "percentComplete": 0,
            "status": "running"
          },
          "estimatedEndDateTime": "2026-02-02T23:19:34.3046282Z"
        },
        "jobId": "78267ca6-6fb5-4fdd-ac07-22abab840240_639055872000000000",
        "createdDateTime": "2026-02-02T23:19:07Z",
        "lastUpdatedDateTime": "2026-02-02T23:19:36Z",
        "expirationDateTime": "2026-02-09T23:19:07Z",
        "status": "running"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/train/jobs/78267ca6-6fb5-4fdd-ac07-22abab840240_639055872000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "result": {
          "modelLabel": "model0902",
          "trainingConfigVersion": "2022-05-01",
          "trainingStatus": {
            "percentComplete": 100,
            "startDateTime": "2026-02-02T23:19:15.3046282Z",
            "endDateTime": "2026-02-02T23:19:34.7536733Z",
            "status": "succeeded"
          },
          "evaluationStatus": {
            "percentComplete": 100,
            "startDateTime": "2026-02-02T23:19:36.3507422Z",
            "endDateTime": "2026-02-02T23:20:03.3638414Z",
            "status": "succeeded"
          }
        },
        "jobId": "78267ca6-6fb5-4fdd-ac07-22abab840240_639055872000000000",
        "createdDateTime": "2026-02-02T23:19:07Z",
        "lastUpdatedDateTime": "2026-02-02T23:20:37Z",
        "expirationDateTime": "2026-02-09T23:19:07Z",
        "status": "succeeded",
        "warnings": []
      }
    }
  ],
  "Variables": {}
}
