{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com//language/authoring/analyze-text/projects/single-class-project/:train?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "modelLabel": "model0902",
        "trainingConfigVersion": "2022-05-01",
        "evaluationOptions": {
          "kind": "percentage",
          "testingSplitPercentage": 20,
          "trainingSplitPercentage": 80
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/train/jobs/20d0e0f9-b11d-4aad-ba5a-a228bcc621a5_639055872000000000?api-version=2025-05-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/train/jobs/20d0e0f9-b11d-4aad-ba5a-a228bcc621a5_639055872000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "result": {
          "modelLabel": "model0902",
          "trainingConfigVersion": "2022-05-01",
          "trainingStatus": {
            "percentComplete": 0,
            "status": "notStarted"
          },
          "evaluationStatus": {
            "percentComplete": 0,
            "status": "notStarted"
          }
        },
        "jobId": "20d0e0f9-b11d-4aad-ba5a-a228bcc621a5_639055872000000000",
        "createdDateTime": "2026-02-02T23:20:38Z",
        "lastUpdatedDateTime": "2026-02-02T23:20:38Z",
        "expirationDateTime": "2026-02-09T23:20:38Z",
        "status": "running"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/train/jobs/20d0e0f9-b11d-4aad-ba5a-a228bcc621a5_639055872000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "result": {
          "modelLabel": "model0902",
          "trainingConfigVersion": "2022-05-01",
          "trainingStatus": {
            "percentComplete": 100,
            "startDateTime": "2026-02-02T23:20:40.5471486Z",
            "endDateTime": "2026-02-02T23:21:04.4066536Z",
            "status": "succeeded"
          },
          "evaluationStatus": {
            "percentComplete": 0,
            "status": "running"
          },
          "estimatedEndDateTime": "2026-02-02T23:21:03.5471486Z"
        },
        "jobId": "20d0e0f9-b11d-4aad-ba5a-a228bcc621a5_639055872000000000",
        "createdDateTime": "2026-02-02T23:20:38Z",
        "lastUpdatedDateTime": "2026-02-02T23:21:05Z",
        "expirationDateTime": "2026-02-09T23:20:38Z",
        "status": "running"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/train/jobs/20d0e0f9-b11d-4aad-ba5a-a228bcc621a5_639055872000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "result": {
          "modelLabel": "model0902",
          "trainingConfigVersion": "2022-05-01",
          "trainingStatus": {
            "percentComplete": 100,
            "startDateTime": "2026-02-02T23:20:40.5471486Z",
            "endDateTime": "2026-02-02T23:21:04.4066536Z",
            "status": "succeeded"
          },
          "evaluationStatus": {
            "percentComplete": 100,
            "startDateTime": "2026-02-02T23:21:05.3969013Z",
            "endDateTime": "2026-02-02T23:21:30.4174422Z",
            "status": "succeeded"
          }
        },
        "jobId": "20d0e0f9-b11d-4aad-ba5a-a228bcc621a5_639055872000000000",
        "createdDateTime": "2026-02-02T23:20:38Z",
        "lastUpdatedDateTime": "2026-02-02T23:22:06Z",
        "expirationDateTime": "2026-02-09T23:20:38Z",
        "status": "succeeded",
        "warnings": []
      }
    }
  ],
  "Variables": {}
}
