{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.unitedstates.communication.azure.com/emails:send?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 27 Aug 2024 00:57:30 GMT"
      },
      "RequestBody": {
        "senderAddress": "someSender@contoso.com",
        "content": {
          "subject": "someSubject",
          "plainText": "somePlainTextBody",
          "html": "<html><h1>someHtmlBody</html>"
        },
        "recipients": {
          "to": [
            {
              "address": "someRecipient@domain.com",
              "displayName": "someRecipient"
            },
            {
              "address": "someRecipient@domain.com",
              "displayName": "someRecipient"
            }
          ],
          "cc": [
            {
              "address": "someRecipient@domain.com",
              "displayName": "someRecipient"
            }
          ],
          "bcc": [
            {
              "address": "someRecipient@domain.com",
              "displayName": "someRecipient"
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview, 2023-01-15-preview, 2023-03-31, 2024-07-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "98f72d8f-a5d4-4da2-ba4d-6d0316b7b70d",
        "Operation-Location": "https://someEndpoint/emails/operations/someId?api-version=2024-07-01-preview",
        "Retry-After": "3"
      },
      "ResponseBody": {
        "id": "someId",
        "status": "Running",
        "error": null
      }
    },
    {
      "RequestUri": "https://Sanitized.unitedstates.communication.azure.com/emails/operations/someId?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 27 Aug 2024 00:57:31 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview, 2023-01-15-preview, 2023-03-31, 2024-07-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f124ee9f-9192-4e81-b382-0b63c91e17be",
        "Retry-After": "3"
      },
      "ResponseBody": {
        "id": "someId",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.unitedstates.communication.azure.com/emails/operations/someId?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 27 Aug 2024 00:57:34 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview, 2023-01-15-preview, 2023-03-31, 2024-07-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "dc68a097-bd7e-4fb7-82d1-561f3d4c61a7"
      },
      "ResponseBody": {
        "id": "someId",
        "status": "Succeeded",
        "error": null
      }
    }
  ],
  "Variables": {}
}
