{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.unitedstates.communication.azure.com/emails:send?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 27 Aug 2024 21:48:52 GMT"
      },
      "RequestBody": {
        "senderAddress": "someSender@contoso.com",
        "content": {
          "subject": "someSubject",
          "plainText": "somePlainTextBody",
          "html": "<html><h1>someHtmlBody</html>"
        },
        "recipients": {
          "to": [
            {
              "address": "someRecipient@domain.com",
              "displayName": "someRecipient"
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview, 2023-01-15-preview, 2023-03-31, 2024-07-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d358ff2c-eb7a-417d-b7f5-a3b6f2e111a1",
        "Operation-Location": "https://someEndpoint/emails/operations/someId?api-version=2024-07-01-preview",
        "Retry-After": "3"
      },
      "ResponseBody": {
        "id": "someId",
        "status": "Running",
        "error": null
      }
    },
    {
      "RequestUri": "https://Sanitized.unitedstates.communication.azure.com/emails/operations/someId?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 27 Aug 2024 21:48:53 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview, 2023-01-15-preview, 2023-03-31, 2024-07-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "fbc5513d-7079-419e-a1eb-d970fc0e6af9",
        "Retry-After": "3"
      },
      "ResponseBody": {
        "id": "someId",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.unitedstates.communication.azure.com/emails/operations/someId?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 27 Aug 2024 21:48:56 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview, 2023-01-15-preview, 2023-03-31, 2024-07-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c4c9b4e5-1be9-4153-806e-2f6c70acd263"
      },
      "ResponseBody": {
        "id": "someId",
        "status": "Succeeded",
        "error": null
      }
    }
  ],
  "Variables": {}
}
