{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a54b4f73-fd7e-0b2e-09ea-ccb0e09b741f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:38:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1070998E6D\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:38:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a54b4f73-fd7e-0b2e-09ea-ccb0e09b741f/foo/test-file-ebce1dbf-a621-4170-f307-ee389237a6c3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:38:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "Xe6D6v5eTJEqc0w/ooNUhVPoET3f+ogDsQt4dymcHdkh9WyLVsARSEuIhQRkt4pLqgfQxaYuGmJmfzjy5tRnjVVzHa0XyC6S1snxVnWDn/qALMwhy1gy89sKJdaHHmJ3Ifeu8A==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "waQaGNZM+bjTzARgWupowg==",
        "ETag": "\"0x8DD5D1070A2829A\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:38:54 GMT",
        "x-ms-content-crc64": "z+7dM+aZ6j8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a54b4f73-fd7e-0b2e-09ea-ccb0e09b741f/foo/bar/test-file-4738a7b5-b677-cbc0-918d-eeca7ad9aa10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:38:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "tH8h+rWBGfzf/Lfb5Pb48Fqki+1V5z7Zst0L2Ifj2dMgRYhzJZwXKNEMR0GfsWebhbWZPB46asxBR0jYdUB0+yPkup9thcu+jGIcSKD8OgB1cFPSSp205tu8Mt5UP7KRl0seuw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "NipOjGVl+Cjog50J3ypScA==",
        "ETag": "\"0x8DD5D1070B2EAF4\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:38:54 GMT",
        "x-ms-content-crc64": "h1KdTBhy9BI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a54b4f73-fd7e-0b2e-09ea-ccb0e09b741f/foo/bar/pik/test-file-af1a98a6-b177-2df6-cfff-8c23adb86bf9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:38:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "3X8JrUJS6G/t+ci6kO3RDNyto/SamIsjA3yu/HFjCpJw12aMPrTCmrpBmDULCiBkG11vAue8uUXz5qrGpOv+ie41SbmGRc4o6wk6WQBWF/hbSeEU8wersx0hmVcK/PbPQg5H1Q==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "cslSYUkeSavEdUX+wVa0/w==",
        "ETag": "\"0x8DD5D1070BB45FE\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:38:54 GMT",
        "x-ms-content-crc64": "McH56inA3VI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a54b4f73-fd7e-0b2e-09ea-ccb0e09b741f?restype=container&comp=list&prefix=foo%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:38:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-a54b4f73-fd7e-0b2e-09ea-ccb0e09b741f\"><Prefix>foo/</Prefix><Blobs><Blob><Name>foo/bar/pik/test-file-af1a98a6-b177-2df6-cfff-8c23adb86bf9</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:38:54 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:38:54 GMT</Last-Modified><Etag>0x8DD5D1070BB45FE</Etag><Content-Length>100</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>cslSYUkeSavEdUX+wVa0/w==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /><OrMetadata /></Blob><Blob><Name>foo/bar/test-file-4738a7b5-b677-cbc0-918d-eeca7ad9aa10</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:38:54 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:38:54 GMT</Last-Modified><Etag>0x8DD5D1070B2EAF4</Etag><Content-Length>100</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>NipOjGVl+Cjog50J3ypScA==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a54b4f73-fd7e-0b2e-09ea-ccb0e09b741f/foo/bar/test-file-4738a7b5-b677-cbc0-918d-eeca7ad9aa10",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DD5D1070B2EAF4",
        "x-ms-date": "Fri, 07 Mar 2025 00:38:55 GMT",
        "x-ms-range": "bytes=0-99",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-99/100",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D1070B2EAF4\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:38:54 GMT",
        "x-ms-blob-content-md5": "NipOjGVl+Cjog50J3ypScA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:38:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "tH8h+rWBGfzf/Lfb5Pb48Fqki+1V5z7Zst0L2Ifj2dMgRYhzJZwXKNEMR0GfsWebhbWZPB46asxBR0jYdUB0+yPkup9thcu+jGIcSKD8OgB1cFPSSp205tu8Mt5UP7KRl0seuw=="
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a54b4f73-fd7e-0b2e-09ea-ccb0e09b741f?restype=container&comp=list&prefix=foo",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:38:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-versio[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a54b4f73-fd7e-0b2e-09ea-ccb0e09b741f/foo/bar/pik/test-file-af1a98a6-b177-2df6-cfff-8c23adb86bf9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:38:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "cslSYUkeSavEdUX+wVa0/w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D1070BB45FE\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:38:54 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:38:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a54b4f73-fd7e-0b2e-09ea-ccb0e09b741f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:38:56 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1079497643",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
