{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0615ad37-6912-fc1a-5d06-a0fdcaeabedc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:11:50 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB42A637B07\"",
        "Last-Modified": "Wed, 07 May 2025 22:11:50 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0615ad37-6912-fc1a-5d06-a0fdcaeabedc/foo/test-file-1f967482-580e-9f05-966d-9ef1195e1c3a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 07 May 2025 22:11:50 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "P7vX/CWwrh3P6X5h2mkXD+mLBmCxZiQ0wrdjUKKLNQo0M8OHddP/tE7U+dRm+qefJLJsHJLfQdiWojluTV56RLN0LKamj5oVi1ES3G1QzccPxCvwHhl4VPHq8dOZkGfwWrUg8s0B+ZQYV5BAzWVrRdVyX4gyiSWa+9i0u57He/vqIYK4MNr5DsuW2MaIN4aMfqv9JzHfvdCPhff1TD32UduVVqvisxX6eFG9m7FeEcRRKD3zyVTKC2SyKKrjBMKOoIfr8+HbqsuVA67gISEfMHQypCMAA4eGy0tHL4pqFnSOLvspcx3jdn5yXcWl6elDk/g2sWCejZz/ZSiVlHpAK+06UfIl9b1WTy2ljqXC4OFi[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0615ad37-6912-fc1a-5d06-a0fdcaeabedc/foo/bar/test-file-6c381d19-658c-dde1-a374-2602434dcf25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 07 May 2025 22:11:50 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "PVmUmCgbu6e[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0615ad37-6912-fc1a-5d06-a0fdcaeabedc/foo/bar/pik/test-file-c8f1fd65-e5bd-815b-083b-c256a79840f3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 07 May 2025 22:11:50 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "M1bsM/r[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0615ad37-6912-fc1a-5d06-a0fdcaeabedc?restype=container&comp=list&prefix=foo%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:11:50 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-0615ad37-6912-fc1a-5d06-a0fdcaeabedc\"><Prefix>foo/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>foo/bar/</Name></BlobPrefix><Blob><Name>foo/test-file-1f967482-580e-9f05-966d-9ef1195e1c3a</Name><VersionId>2025-05-07T22:11:50.1845652Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 22:11:50 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:11:50 GMT</Last-Modified><Etag>0x8DD8DB42A6C4094</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>FE2m9Px02aj8nwIhoYPVaw==</Content-MD5><Cache-Control /><Content-Disposition /><LastAccessTime>Wed, 07 May 2025 22:11:50 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /><OrMetadata /></Blob><Blob><Name>foo/test-file-22c7b082-00d5-5b6b-5db8-b06c5ea22ee2</Name><VersionId>2025-05-07T22:11:50.2405334Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 22:11:50 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:11:50 GMT</Last-Modified><Etag>0x8DD8DB42A74CAD6</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>wwUGCq3aHsECCnNz3u7GIA==</Content-MD5><Cache-Control /><Content-Disposition /><LastAccessTime>Wed, 07 May 2025 22:11:50 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0615ad37-6912-fc1a-5d06-a0fdcaeabedc?restype=container&comp=list&prefix=foo%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:11:50 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0615ad37-6912-fc1a-5d06-a0fdcaeabedc/foo/test-file-1f967482-580e-9f05-966d-9ef1195e1c3a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DD8DB42A6C4094",
        "x-ms-date": "Wed, 07 May 2025 22:11:50 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8DB42A6C4094\"",
        "Last-Modified": "Wed, 07 May 2025 22:11:50 GMT",
        "x-ms-blob-content-md5": "FE2m9Px02aj8nwIhoYPVaw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:11:50 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 07 May 2025 22:11:50 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:11:50.1845652Z"
      },
      "ResponseBody": "P7vX/CWwrh3P6X5h2mkXD+mLBmCxZiQ0wrdjUKKLNQo0M8OHddP/tE7U+dRm+qefJLJsHJLfQdiWojluTV56RLN0LKamj5oVi1ES3G1QzccPxCvwHhl4VPHq8dOZkGfwWrUg8s0B+ZQYV5BAzWVrRdVyX4gyiSWa+9i0u57He/vqIYK4MNr5DsuW2MaIN4aMfqv9JzHfvdCPhff1TD32UduVVqvisxX6eFG9m7FeEcRRKD3zyVTKC2SyKKrjBMKOoIfr8+HbqsuVA67gISEfMHQypCMAA4eGy0tHL4pqFnSOLvspcx3jdn5yXcWl6elDk/g2sWCejZz/ZSiVlHpAK+06UfIl9b1WTy2ljqXC4OFiA5ySNGUU8KFeKg71TeIDMTLYa5j2HZ4732Ey+P/3PYRHM5DdrfeHJWBRx8qvYQJLoVxz6XVIbOb+V1QE4vihZ+2JrRpSJoQ7UUU4pFbTi35f5lajg1MP/sap31aig0NosF/cJbPn+XvYOJgvEMiQKsvWpfui/uSaeq9TqEYtmM0C0PP39mbKd+3ay0q63+7+GbSKzN5IxbJ6QqoElFA1qqDKLUDUmTRlCy0OxzOZ35vBVY+So8zvuQpBfLO8xuOcpSCq77KtKoCAJcCwOf5+4WMPQz7BogbT23M2khyAqUVKciIS7+/pEysPEn4LP4ALw5pQrIKk2gIa1hQ+d5dj/3x6ZcfbbPFzJjATspCIyJzyKs+BL/zCppcf+BjaqpuTqxIBkNm5L1ap3IZSkCdykQ54TE3I4c+At78vvHTZmXyUgAZ9hzfCOfp42FN1cBZvrGYKYV5Ny8pDgdgainPiz0MKvRAh9QrWthJTTwh8CkeovxANzjcdRrU8OQVep66GlggParIGTrZcNKtL+nvBxnaRcctj1AEM7HZa5LsEdw5jzLj/bKCUonBZsJqL0kw5enOPzTXjI8IHA308q2r6V7yc5y3DwlnW/M5aCiNngBoqIWlIdarYgKn2+GkiWPcGXlne7usfdbgZuNBniBmeoIJjEYkAsuIRw2eDzcnwtKTXVKvKiZEuCquwL7zacfeQV1jmvkZtBax2zCuEm6jvKAQrjzRt0xfxNQbeT4IlN1Jv83VxCfZdaU//VLxmqm8CwQa4ruHDI4NA9Yg/j7UpUZXYFKczfR8OziblbX9aioqX2418bIhwrNDxMBRtHdmZ1gInjZXIz0TnquC73rUE5mr+qLMnreQMaGjXQkwLobBMS5d9M/31zgxJlcKotc4a7UqpbnUmcSgeGiQt8I333AkwbpIeh7JtCdmn3hgiZLOavFQCYTI7JtpuXhjYx91/Urm4eEY7/GaXO2WbfpMQ+7VxkzQ49HrX9Ee4ryiZlQ=="
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0615ad37-6912-fc1a-5d06-a0fdcaeabedc?restype=container&comp=list&prefix=foo%2Fbar%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:11:50 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Conten[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0615ad37-6912-fc1a-5d06-a0fdcaeabedc?restype=container&comp=list&prefix=foo",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:11:50 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-vers[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0615ad37-6912-fc1a-5d06-a0fdcaeabedc/foo/bar/pik/test-file-c8f1fd65-e5bd-815b-083b-c256a79840f3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:11:50 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "PY/20NvXi5vEfZJUV040sw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8DB42A85DF5B\"",
        "Last-Modified": "Wed, 07 May 2025 22:11:50 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:11:50 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 07 May 2025 22:11:50 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:11:50.3524699Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0615ad37-6912-fc1a-5d06-a0fdcaeabedc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:11:51 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1385665244",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
