{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f56cc2d9-1dd8-c2d0-9fd5-c891451aba08?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:21:18 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE005EEA14F4D8\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:21:18 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f56cc2d9-1dd8-c2d0-9fd5-c891451aba08/foo/folder0/test-file-098464f2-d23b-60a4-a3df-e36f3a8e0e08",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:21:18 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "aO30Nz+/9lBP/bGUunUVyWo5dH6qTzk1SkU5h+NGlhspJ3H28kGPk4Kj2MCUI06gdZDtkGjqWxmzvuz5hm9sCGaVa5MDH9coquH7B3Z5oSf2mBFSWAazPsxXQjNUlgwTNs9a/ri7nFa5xeaH71OiOh3FAu1dGrBf4izHrN2j1BTU6NGnHqJvO/u7mJMgLE94tAcVj5Methwf+hyL9PB4FvDRsgaC+xt6VsbxoYEdP7bdTvfVjUWAtTK0hySG40cLQoKiTnlI9bjrmzjMLBSaAbpmrqX4ooirUf3UzXP383N/5l7+evA8lFg/6vIMs4gdGoZpIDShE5/69/18dChF9KfFTEa1m4fKKRpMubiVnp10[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f56cc2d9-1dd8-c2d0-9fd5-c891451aba08/foo/folder0/folder1/test-file-a95dee8d-e827-f84e-afe3-08c7f79d76f6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:21:18 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "e[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f56cc2d9-1dd8-c2d0-9fd5-c891451aba08/foo/folder0/folder1/folder2/test-file-4e4f037a-3d12-609e-f892-2dd9e3e679ce",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:21:18 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestB[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f56cc2d9-1dd8-c2d0-9fd5-c891451aba08?restype=container&comp=list&prefix=foo%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:21:19 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-f56cc2d9-1dd8-c2d0-9fd5-c891451aba08\"><Prefix>foo/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>foo/folder0/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f56cc2d9-1dd8-c2d0-9fd5-c891451aba08?restype=container&comp=list&prefix=foo%2Ffolder0%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:21:19 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-f56cc2d9-1dd8-c2d0-9fd5-c891451aba08\"><Prefix>foo/folder0/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>foo/folder0/folder1/</Name></BlobPrefix><Blob><Name>foo/folder0/test-file-098464f2-d23b-60a4-a3df-e36f3a8e0e08</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:21:18 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:21:18 GMT</Last-Modified><Etag>0x8DE005EEA1E9DE8</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>CfQ3Tr4XdgEH0MKdn6ylbg==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f56cc2d9-1dd8-c2d0-9fd5-c891451aba08?restype=container&comp=list&prefix=foo%2Ffolder0%2Ffolder1%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:21:19 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f56cc2d9-1dd8-c2d0-9fd5-c891451aba08/foo/folder0/test-file-098464f2-d23b-60a4-a3df-e36f3a8e0e08",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DE005EEA1E9DE8",
        "x-ms-date": "Tue, 30 Sep 2025 20:21:19 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE005EEA1E9DE8\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:21:18 GMT",
        "x-ms-blob-content-md5": "CfQ3Tr4XdgEH0MKdn6ylbg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:21:18 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "aO30Nz+/9lBP/bGUunUVyWo5dH6qTzk1SkU5h+NGlhspJ3H28kGPk4Kj2MCUI06gdZDtkGjqWxmzvuz5hm9sCGaVa5MDH9coquH7B3Z5oSf2mBFSWAazPsxXQjNUlgwTNs9a/ri7nFa5xeaH71OiOh3FAu1dGrBf4izHrN2j1BTU6NGnHqJvO/u7mJMgLE94tAcVj5Methwf+hyL9PB4FvDRsgaC+xt6VsbxoYEdP7bdTvfVjUWAtTK0hySG40cLQoKiTnlI9bjrmzjMLBSaAbpmrqX4ooirUf3UzXP383N/5l7+evA8lFg/6vIMs4gdGoZpIDShE5/69/18dChF9KfFTEa1m4fKKRpMubiVnp10trPtjdM+3tK/BILzwCAw+vZLR2ZBaH7+n/caVFrnZFlfB711V2bUhm5z9pcF1mn6HL/CSVc2Mk017+3bJIl4158pk7hiu6KPd8D4zXHn+ciNHzibJRsCKdRwP2d4+GHl+x733EOwmGEcMtKWPmXcTvYlTgVR3bKEJmrj8ns7Fn9eE9JS7xyF3YfWf/JIbOpvk/FxU6pckx5scrXYzKbm4RxSNyuSiV7Zn3B9el3AO7qAdF6JycLVAn+z5n1nrRDh8J7V9jS/3AqTl7Q53xnArDb6WFhHXBdZfTWr36PgcfJgm4q/6kWGwJdT9TEOnCJm8zlGbFW3mZOGfHj/E/1nsibC2EOOAMLwdJfB9GblSuESRetpmQScqQL2OW3Mhq2Z7EMLTMPf1/J3Vfi+9qUsoTGX7c0R/hghJS9BmMdUJO7pJwcj2f4dMm758UMM3rNcyZg8NZngh+0q6ieUnj8rIzEK1M6dCMczebpfGA3VFEZ85M4vF+5UCZ8a+e/WiZQvzs0SAgrkv8HQCLvegG/gVdbgGLlw+wtDtcougw7YXPAmL0k/wxE8lyUNXg8zdogvOaQZ9XDavtLCzk0/tTuy+KvKuFAloZLEpIGUY538ED9C/klqvmeAS3F3fPTE/eHpW2VjaL04CpgSVFHvRls1xb4N/bfxRzlESmzfriSd/6efqgc3maeBCvSxV2kWkAUVQbY1tv8q+BMrHh1RWFtzdFWpT5tT/SwWjPPCP/DQLrpnyWxtZ0indbL0DHqKMLGZPuIUbEBpwUSKHyoMZ7gjW/Bj6Y7uBQwMAtrpX/GyjFtBKQENu8J5/Qco40gdmg350bCKJkYiqjnVB2pmf2JS15LPyj63FaAu6uyGxSHE72fN8I5BJ2UUHn7IOLRXEn2l1gy1Ts/OQrsQXDxanOUXERgCmY/UEa8tuqzA793r1tdu4e8VDqCX/q3SMMspuoKZsCabVHnu0cRciJQjDlPeJIZk67v1AgN4a5riAeDkAw=="
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f56cc2d9-1dd8-c2d0-9fd5-c891451aba08?restype=container&comp=list&prefix=foo%2Ffolder0%2Ffolder1%2Ffolder2%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:21:19 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f56cc2d9-1dd8-c2d0-9fd5-c891451aba08?restype=container&comp=list&prefix=foo",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:21:19 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-versio[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f56cc2d9-1dd8-c2d0-9fd5-c891451aba08/foo/folder0/folder1/folder2/test-file-4e4f037a-3d12-609e-f892-2dd9e3e679ce",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:21:19 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "emZ485jLQSNFUqe6/+JpNQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE005EEA303D59\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:21:18 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:21:18 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f56cc2d9-1dd8-c2d0-9fd5-c891451aba08?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:21:20 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "647196484",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
