{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ace76012-f2a7-6134-f8be-5cdb0bfe0031?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:28:20 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA78889C8D49\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:28:20 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ace76012-f2a7-6134-f8be-5cdb0bfe0031/source%2521path%2540%2523%2525/file%3Dtest%21%40%23%24%25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Jul 2025 21:28:20 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "Ha51KccB4JjJQ52l6vNuqUaSfZmqc6moEOXDhUso6fljKiNF2U4BXJC8w0TV3FkqQIYoJ5gEMqoEzBjhPVtMoFqkQsDPKM/3kSEJ7q9l0zSMmUXFAMFhXvd5QA02IB41byLpMJmYWxe2MJZ3+0P6n/jjVKQWh6CYQ+TIVejCwXAC03+Me6Ka9D0tDs8r6mO0fqEUUst5H+eCUO21zwYv828ldCfEbiNVSWBm6HjRbFmAFNZGrm6liLSXCiu15CQ3/htgBnU77xB+vghqEjZvsOSUNLsv6EUAf+tzLWP4oGQ8L+ldcWbjRSTGyO9lOnV9KFlHIK9pCBXWX4aJx8KshR6kLuNNET99se+WaSBVmkV1[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ace76012-f2a7-6134-f8be-5cdb0bfe0031/source%2521path%2540%2523%2525/file%253Dtest%2526",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Jul 2025 21:28:20 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "+ZTVNiWRqGaZEM2i[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ace76012-f2a7-6134-f8be-5cdb0bfe0031/source%2521path%2540%2523%2525/folder%3Dbar/subfile%3Dtest%21%40%23%24%25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Jul 2025 21:28:20 GMT",
        "x-ms-version": "2025-11-05"
      },
      "Request[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ace76012-f2a7-6134-f8be-5cdb0bfe0031/source%2521path%2540%2523%2525/folder%3Dbar/subfile%253Dtest%2526",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Jul 2025 21:28:20 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ace76012-f2a7-6134-f8be-5cdb0bfe0031/source%2521path%2540%2523%2525/folder%2540bar/different%21file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Jul 2025 21:28:20 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "12p[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ace76012-f2a7-6134-f8be-5cdb0bfe0031/source%2521path%2540%2523%2525/space%20folder/space%20file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Jul 2025 21:28:21 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "iM2g6MI[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ace76012-f2a7-6134-f8be-5cdb0bfe0031?restype=container&comp=list&prefix=source%2521path%2540%2523%2525%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:28:21 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-ace76012-f2a7-6134-f8be-5cdb0bfe0031\"><Prefix>source%21path%40%23%25/</Prefix><Delimiter>/</Delimiter><Blobs><Blob><Name>source%21path%40%23%25/file%3Dtest%26</Name><VersionId>2025-07-03T21:28:20.8311830Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Thu, 03 Jul 2025 21:28:20 GMT</Creation-Time><Last-Modified>Thu, 03 Jul 2025 21:28:20 GMT</Last-Modified><Etag>0x8DDBA7888AC4616</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>7QRGx0kB8/k42qt5sKqhpA==</Content-MD5><Cache-Control /><Content-Disposition /><LastAccessTime>Thu, 03 Jul 2025 21:28:20 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /><OrMetadata /></Blob><Blob><Name>source%21path%40%23%25/file=test!@#$%</Name><VersionId>2025-07-03T21:28:20.7872082Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Thu, 03 Jul 2025 21:28:20 GMT</Creation-Time><Last-Modified>Thu, 03 Jul 2025 21:28:20 GMT</Last-Modified><Etag>0x8DDBA7888A59052</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>tZQJ/PZONG6nvuyLY6pULA==</Content-MD5><Cache-Control /><Content-Disposition /><LastAccessTime>Thu, 03 Jul 2025 21:28:20 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /><OrMetadata /></Blob><BlobPrefix><Name>source%21path%40%23%25/folder%40bar/</Name></BlobPrefix><BlobPrefix><Name>source%21path%40%23%25/folder=bar/</Name></BlobPrefix><BlobPrefix><Name>source%21path%40%23%25/space folder/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ace76012-f2a7-6134-f8be-5cdb0bfe0031/source%2521path%2540%2523%2525/file%253Dtest%2526",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DDBA7888AC4616",
        "x-ms-date": "Thu, 03 Jul 2025 21:28:21 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDBA7888AC4616\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:28:20 GMT",
        "x-ms-blob-content-md5": "7QRGx0kB8/k42qt5sKqhpA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 03 Jul 2025 21:28:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 03 Jul 2025 21:28:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-03T21:28:20.8311830Z"
      },
      "ResponseBody": "+ZTVNiWRqGaZEM2iSDUN0ZjZbSBemxzhpYB+zBmPRerHoH+3emW+ecoZBegi2FD6ZIhJa+kPhl139JCkE9tNCcrj26e2VlYzG/NVRZU0v80whGeQRtoAuBkhQIbUGWbuzPweP/2oRA4yFU/1uUHHQjXDdI5zvMPv4iKOlBXPXwGNZniZFn/Ph0BZXjCKC/7XWf1REaXXeg85Ll3aGq/4Y7ZOaFLILiy18+1OGl6SZNcjtjoYfk1ctutpYOci9GyRYfp5PKOrDyvQmx24iWCxpsmGtmN04ORp8rFmX81Fk/6AvbljGCgzeKcPR+IvpCyLuLkdnD4IHIEVEErxRK9eiwgfN8ynTY6hUj68ZZgCOU2E26cTJ/bAd6A4TQfdQjP3sLzZEGxg42orfEr/TLfoE9f8bGkISmMRX8Arb/+Gww8LxLTbKCnhJPc856uswSrpTzow4dXK72ZZyLGrNHRqpbg684gCDOquG0hxy2K3ZZ2VQiDFVeI5QdROgmB3Ne+D0kLzcc2i5kJPgcWNWCQDoWITFfJUpU/VALKztIqKNuVZ7fkgxPPQ81vddtQcrOiwS+H9ZB/8LyzyHnEb7zK4xUvgNGsq4t1vQiKWdi97uFTJAmiojdHFXL7MLaWCtQMoJbCIPHd9hWgEjSL9Zbn9d2UcUezJDzd5G9itXrQ37Y0fbVB+8nzdTHwApP+vyPYFzrY/ZmMWXhZ5DyCfzyezzKCU3fhof4XpPgRwyWo4yVPhqI/+94cpCA45BeJbPnxVTNheG+r+nE8xVidfppWsQEbNvSeXtdQZa9XpLnqijQCHGn2R2a5p4wtAzaFfymJ5jcScjoBUvZYDRbAUFG3Vjsgm14wXGmaYY9kcV+czuaFzb6G1Bv9/M1zmjpP+VM6daz7ZOfLWYnJdAyunOGav0IwOoaXLH4jJpqQvMIzTmg8KfuypWn+unQwvVwLU2Pr1N74H77Ip0ku2D5NOpjHlimkbnLl6BXUMYASYnMeG9c2pOfjOy6tc4ayh80rsX/baSc2YuDxBezFI+46ukDaDMBrFpWw5F7++v7oN2RIrHwENvVL67TyRaL3GhdAcrlF2HcIvJ7mKoTIO2viBM6IfHduNoNPjiULdND2ucpHuoRFplrtP+/hHgxsg6xJDDzQbp2j1jw1+kpOAUfJ82y+gHzjnGJ3mzyHiRhy3w50wmiUJk8oo+RID6wQoz6kFy6jsf8vZXPaWNNhGEknwxs71ULfNckdldyYm4yyZvv943Xp0y0TRVj0ucl/x4ebJEyQ1Mn/xN1hhhgels3jK/XXZzjXOe/uKI/l5n//ndJVAXc8IY4uAhqUiEkQ9LKLFZHTqGBOw+5coqg6Fd5hYehJxZA=="
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ace76012-f2a7-6134-f8be-5cdb0bfe0031?restype=container&comp=list&prefix=source%2521path%2540%2523%2525%2Ffolder%2540bar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:28:21 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "Res[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ace76012-f2a7-6134-f8be-5cdb0bfe0031?restype=container&comp=list&prefix=source%2521path%2540%2523%2525%2Ffolder%3Dbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:28:21 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "Respo[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ace76012-f2a7-6134-f8be-5cdb0bfe0031?restype=container&comp=list&prefix=source%2521path%2540%2523%2525%2Fspace%20folder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:28:21 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "Res[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ace76012-f2a7-6134-f8be-5cdb0bfe0031?restype=container&comp=list&prefix=source%2521path%2540%2523%2525",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:28:21 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applicati[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ace76012-f2a7-6134-f8be-5cdb0bfe0031/source%2521path%2540%2523%2525/file%253Dtest%2526",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:28:21 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "7QRGx0kB8/k42qt5sKqhpA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDBA7888AC4616\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:28:20 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 03 Jul 2025 21:28:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 03 Jul 2025 21:28:21 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-03T21:28:20.8311830Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ace76012-f2a7-6134-f8be-5cdb0bfe0031?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:28:22 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "386898262",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
